{
  "openapi": "3.0.3",
  "info": {
    "title": "PayDunya API",
    "version": "2.0.0",
    "description": "PayDunya payment disbursement API for sending money to customers via mobile money and wallet services in West Africa.",
    "x-jentic-source-url": "https://developers.paydunya.com/doc/EN/api_deboursement",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.paydunya.com/api/v2"
    }
  ],
  "paths": {
    "/disburse/get-invoice": {
      "post": {
        "operationId": "initiateDisbursement",
        "summary": "Initiate a disbursement",
        "description": "Creates a disbursement request token for sending money to customers.",
        "tags": [
          "Disbursement"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisbursementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Disbursement token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisbursementTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/disburse/submit-invoice": {
      "post": {
        "operationId": "submitDisbursement",
        "summary": "Submit a disbursement",
        "description": "Submit a previously created disbursement for processing.",
        "tags": [
          "Disbursement"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "disburse_invoice"
                ],
                "properties": {
                  "disburse_invoice": {
                    "type": "string",
                    "description": "Token from initiate step"
                  },
                  "disburse_id": {
                    "type": "string",
                    "description": "Merchant transaction reference"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Disbursement submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisbursementStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/disburse/check-status": {
      "post": {
        "operationId": "checkDisbursementStatus",
        "summary": "Check disbursement status",
        "description": "Retrieve the current status of a disbursement transaction.",
        "tags": [
          "Disbursement"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "disburse_invoice"
                ],
                "properties": {
                  "disburse_invoice": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Disbursement status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisbursementStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DisbursementRequest": {
        "type": "object",
        "required": [
          "account_alias",
          "amount",
          "withdraw_mode",
          "callback_url"
        ],
        "properties": {
          "account_alias": {
            "type": "string",
            "description": "Beneficiary phone number or PayDunya account ID"
          },
          "amount": {
            "type": "integer",
            "description": "Amount in XOF"
          },
          "withdraw_mode": {
            "type": "string",
            "enum": [
              "orange-money-senegal",
              "paydunya",
              "free-money-senegal",
              "wave-senegal",
              "mtn-benin",
              "moov-benin"
            ],
            "description": "Payment method"
          },
          "callback_url": {
            "type": "string",
            "format": "uri"
          },
          "debit_account_number": {
            "type": "string",
            "description": "Merchant account to debit (format: BBJXXXXXXXXXX)"
          }
        }
      },
      "DisbursementTokenResponse": {
        "type": "object",
        "properties": {
          "response_code": {
            "type": "string"
          },
          "disburse_token": {
            "type": "string"
          }
        }
      },
      "DisbursementStatusResponse": {
        "type": "object",
        "properties": {
          "response_code": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "pending",
              "success",
              "failed"
            ]
          },
          "transaction_id": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "PayDunyaAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "PAYDUNYA-MASTER-KEY",
        "description": "PayDunya Master Key, Private Key, and Token required in headers"
      }
    }
  },
  "security": [
    {
      "PayDunyaAuth": []
    }
  ],
  "tags": [
    {
      "name": "Disbursement"
    }
  ]
}
