{
  "openapi": "3.0.3",
  "info": {
    "title": "NumLookupAPI",
    "version": "1.0.0",
    "description": "Phone number validation and lookup API providing carrier information, line type, and location data for phone numbers across 230+ countries.",
    "x-jentic-source-url": "https://numlookupapi.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.numlookupapi.com"
    }
  ],
  "paths": {
    "/v1/validate/{phone_number}": {
      "get": {
        "operationId": "validatePhoneNumber",
        "summary": "Validate a phone number",
        "description": "Validates and retrieves carrier information for a phone number",
        "tags": [
          "Validation"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Phone number to validate (international format with + prefix)"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get API status",
        "description": "Retrieve API quota and check whether the API is operational",
        "tags": [
          "Status"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ValidationResult": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "line_type": {
            "type": "string"
          },
          "intl_format": {
            "type": "string"
          },
          "local_format": {
            "type": "string"
          },
          "country_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "carrier": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "quotas": {
            "type": "object"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Status"
    },
    {
      "name": "Validation"
    }
  ]
}
