{
  "openapi": "3.0.3",
  "info": {
    "title": "Conturs Scoring API",
    "description": "Conturs is a lead scoring service that uses AI-powered ICP matching to evaluate leads with a 0-100 quality score and factor breakdown.",
    "version": "1.0.0",
    "contact": {
      "name": "Conturs",
      "url": "https://conturs.com"
    },
    "x-jentic-source-url": "https://conturs.com/docs/api-reference"
  },
  "servers": [
    {
      "url": "https://api.conturs.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "Check the service health status. No authentication required.",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leads": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Score leads",
        "description": "Score a batch of leads against your personalized ICP model and receive quality scores (0-100) with factor breakdowns.",
        "operationId": "scoreLeads",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScoreLeadsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Leads scored successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreLeadsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - missing required fields or invalid lead data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyBody": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key passed in the request body along with email for authentication."
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "healthy"
          },
          "service": {
            "type": "string",
            "example": "scoring-service"
          }
        }
      },
      "ScoreLeadsRequest": {
        "type": "object",
        "required": [
          "api_key",
          "email",
          "leads"
        ],
        "properties": {
          "api_key": {
            "type": "string",
            "description": "Your API credential"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Account email"
          },
          "leads": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Lead"
            },
            "description": "Array of leads to score"
          },
          "client_id": {
            "type": "string",
            "description": "Optional client identifier override"
          }
        }
      },
      "Lead": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Lead email address (required)"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "jobtitle": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "lead_status": {
            "type": "string"
          },
          "dealstage": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "num_meetings_booked": {
            "type": "integer"
          },
          "num_calls": {
            "type": "integer"
          },
          "hs_email_replied": {
            "type": "integer"
          },
          "num_completed_tasks": {
            "type": "integer"
          },
          "hs_last_sales_activity_timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "create_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScoreLeadsResponse": {
        "type": "object",
        "properties": {
          "scores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadScore"
            }
          },
          "method": {
            "type": "string",
            "enum": [
              "similar_clients",
              "industry_prior",
              "default"
            ],
            "description": "Scoring method used"
          },
          "client_id": {
            "type": "string",
            "description": "Client identifier used for scoring"
          }
        }
      },
      "LeadScore": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Quality score from 0 to 100"
          },
          "label": {
            "type": "string",
            "description": "Human-readable score label"
          },
          "factors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScoreFactor"
            },
            "description": "Factor breakdown for the score"
          }
        }
      },
      "ScoreFactor": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "number"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Health",
      "description": "Service health check"
    },
    {
      "name": "Leads",
      "description": "Lead scoring operations"
    }
  ]
}