{
  "openapi": "3.0.3",
  "info": {
    "title": "Daily REST API",
    "version": "v1",
    "description": "Daily's REST API for managing video call rooms, meeting tokens, recordings, transcriptions, and domain configuration.",
    "x-jentic-source-url": "https://docs.daily.co/reference/rest-api"
  },
  "servers": [
    {
      "url": "https://api.daily.co/v1"
    }
  ],
  "paths": {
    "/rooms": {
      "post": {
        "operationId": "createRoom",
        "summary": "Create Room",
        "tags": [
          "Rooms"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoomRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Room created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listRooms",
        "summary": "List Rooms",
        "tags": [
          "Rooms"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 200
            },
            "description": "Maximum number of rooms to return."
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for backward pagination."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for forward pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "List of rooms.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomList"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/rooms/{name}": {
      "get": {
        "operationId": "getRoom",
        "summary": "Get Room",
        "tags": [
          "Rooms"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomName"
          }
        ],
        "responses": {
          "200": {
            "description": "Room details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateRoom",
        "summary": "Update Room",
        "tags": [
          "Rooms"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomName"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoomRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Room updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteRoom",
        "summary": "Delete Room",
        "tags": [
          "Rooms"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RoomName"
          }
        ],
        "responses": {
          "200": {
            "description": "Room deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteRoomResponse"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/meeting-tokens": {
      "post": {
        "operationId": "createMeetingToken",
        "summary": "Create Meeting Token",
        "tags": [
          "Meeting Tokens"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMeetingTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Meeting token created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingTokenResponse"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/meeting-tokens/{meeting_token}": {
      "get": {
        "operationId": "validateMeetingToken",
        "summary": "Validate Meeting Token",
        "tags": [
          "Meeting Tokens"
        ],
        "parameters": [
          {
            "name": "meeting_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The meeting token to validate."
          }
        ],
        "responses": {
          "200": {
            "description": "Decoded token properties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingTokenProperties"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/recordings": {
      "get": {
        "operationId": "listRecordings",
        "summary": "List Recordings",
        "tags": [
          "Recordings"
        ],
        "parameters": [
          {
            "name": "room_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter recordings by room name."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of recordings to return."
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for backward pagination."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for forward pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "List of recordings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordingList"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/recordings/{recording_id}": {
      "get": {
        "operationId": "getRecording",
        "summary": "Get Recording",
        "tags": [
          "Recordings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RecordingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recording"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteRecording",
        "summary": "Delete Recording",
        "tags": [
          "Recordings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RecordingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/recordings/{recording_id}/access-link": {
      "get": {
        "operationId": "getRecordingAccessLink",
        "summary": "Get Recording Access Link",
        "tags": [
          "Recordings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RecordingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording access link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordingAccessLink"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transcript": {
      "get": {
        "operationId": "listTranscripts",
        "summary": "List Transcripts",
        "tags": [
          "Transcription"
        ],
        "parameters": [
          {
            "name": "roomName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter transcripts by room name."
          },
          {
            "name": "mtgSessionId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter transcripts by meeting session ID."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of transcripts to return."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of transcripts to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "List of transcripts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptList"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transcript/{transcriptId}": {
      "get": {
        "operationId": "getTranscript",
        "summary": "Get Transcript",
        "tags": [
          "Transcription"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TranscriptId"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transcript"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTranscript",
        "summary": "Delete Transcript",
        "tags": [
          "Transcription"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TranscriptId"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/logs/meetings": {
      "get": {
        "operationId": "listMeetings",
        "summary": "List Meetings",
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "name": "room",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by room name."
          },
          {
            "name": "timeframe_start",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Start of timeframe in Unix milliseconds."
          },
          {
            "name": "timeframe_end",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "End of timeframe in Unix milliseconds."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of meetings to return."
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for forward pagination."
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for backward pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "List of meeting sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingList"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/logs/meetings/{meeting}": {
      "get": {
        "operationId": "getMeeting",
        "summary": "Get Meeting Info",
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "name": "meeting",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The meeting session ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting session details with participants.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeetingSession"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/logs/meetings/participants": {
      "get": {
        "operationId": "listMeetingParticipants",
        "summary": "List Meeting Participants",
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "name": "meeting",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by meeting session ID."
          },
          {
            "name": "timeframe_start",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Start of timeframe in Unix milliseconds."
          },
          {
            "name": "timeframe_end",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "End of timeframe in Unix milliseconds."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of participants to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Participant data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantList"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "operationId": "getDomainConfiguration",
        "summary": "Get Domain Configuration",
        "tags": [
          "Domain Configuration"
        ],
        "responses": {
          "200": {
            "description": "Domain configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainConfiguration"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateDomainConfiguration",
        "summary": "Update Domain Configuration",
        "tags": [
          "Domain Configuration"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDomainConfigurationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated domain configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainConfiguration"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/presence": {
      "get": {
        "operationId": "getPresence",
        "summary": "Get Presence",
        "tags": [
          "Presence"
        ],
        "responses": {
          "200": {
            "description": "Current presence across rooms.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PresenceParticipant"
                    }
                  },
                  "description": "An object with room names as keys and arrays of participant objects as values."
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List Webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Array of webhook configurations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create Webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}": {
      "put": {
        "operationId": "updateWebhook",
        "summary": "Update Webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete Webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "An error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Daily API key passed as a Bearer token in the Authorization header."
      }
    },
    "parameters": {
      "RoomName": {
        "name": "name",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The room name."
      },
      "RecordingId": {
        "name": "recording_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The recording ID."
      },
      "TranscriptId": {
        "name": "transcriptId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The transcript ID."
      },
      "WebhookId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The webhook ID."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code."
          },
          "info": {
            "type": "string",
            "description": "Human-readable error message."
          }
        }
      },
      "RoomProperties": {
        "type": "object",
        "properties": {
          "start_audio_off": {
            "type": "boolean",
            "description": "Start with audio muted."
          },
          "start_video_off": {
            "type": "boolean",
            "description": "Start with video muted."
          },
          "max_participants": {
            "type": "integer",
            "description": "Maximum number of participants."
          },
          "enable_screenshare": {
            "type": "boolean",
            "description": "Enable screen sharing."
          },
          "enable_chat": {
            "type": "boolean",
            "description": "Enable in-call chat."
          },
          "enable_knocking": {
            "type": "boolean",
            "description": "Enable knocking to request entry to private rooms."
          },
          "enable_network_ui": {
            "type": "boolean",
            "description": "Enable network quality UI."
          },
          "enable_prejoin_ui": {
            "type": "boolean",
            "description": "Enable pre-join UI."
          },
          "enable_recording": {
            "type": "string",
            "description": "Recording mode (e.g., cloud, local, raw-tracks)."
          },
          "eject_at_room_exp": {
            "type": "boolean",
            "description": "Eject participants when the room expires."
          },
          "exp": {
            "type": "integer",
            "description": "Room expiration as a Unix timestamp."
          },
          "nbf": {
            "type": "integer",
            "description": "Room not-before time as a Unix timestamp."
          },
          "autojoin": {
            "type": "boolean",
            "description": "Automatically join the call on page load."
          },
          "lang": {
            "type": "string",
            "description": "Default language for the room UI."
          },
          "geo": {
            "type": "string",
            "description": "Geographic region for the room's media server."
          },
          "enable_people_ui": {
            "type": "boolean",
            "description": "Enable the people UI."
          },
          "enable_pip_ui": {
            "type": "boolean",
            "description": "Enable picture-in-picture UI."
          },
          "owner_only_broadcast": {
            "type": "boolean",
            "description": "Only owners can broadcast audio/video."
          },
          "enable_noise_cancellation_ui": {
            "type": "boolean",
            "description": "Enable noise cancellation UI toggle."
          }
        }
      },
      "Room": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique room identifier."
          },
          "name": {
            "type": "string",
            "description": "Room name."
          },
          "api_created": {
            "type": "boolean",
            "description": "Whether the room was created via the API."
          },
          "privacy": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Room privacy setting."
          },
          "url": {
            "type": "string",
            "description": "Full URL to join the room."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the room was created."
          },
          "config": {
            "$ref": "#/components/schemas/RoomProperties"
          }
        }
      },
      "RoomList": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer",
            "description": "Total number of rooms."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Room"
            }
          }
        }
      },
      "CreateRoomRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Room name. Auto-generated if omitted."
          },
          "privacy": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "default": "public",
            "description": "Room privacy setting."
          },
          "properties": {
            "$ref": "#/components/schemas/RoomProperties"
          }
        }
      },
      "UpdateRoomRequest": {
        "type": "object",
        "properties": {
          "privacy": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Room privacy setting."
          },
          "properties": {
            "$ref": "#/components/schemas/RoomProperties"
          }
        }
      },
      "DeleteRoomResponse": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "MeetingTokenProperties": {
        "type": "object",
        "properties": {
          "room_name": {
            "type": "string",
            "description": "Room the token grants access to."
          },
          "is_owner": {
            "type": "boolean",
            "description": "Whether the token holder is a room owner."
          },
          "user_name": {
            "type": "string",
            "description": "Display name for the participant."
          },
          "user_id": {
            "type": "string",
            "description": "External user ID."
          },
          "enable_screenshare": {
            "type": "boolean",
            "description": "Whether screen sharing is enabled."
          },
          "start_audio_off": {
            "type": "boolean",
            "description": "Start with audio muted."
          },
          "start_video_off": {
            "type": "boolean",
            "description": "Start with video muted."
          },
          "enable_recording": {
            "type": "string",
            "description": "Recording mode for this token holder."
          },
          "exp": {
            "type": "integer",
            "description": "Token expiration as a Unix timestamp."
          },
          "nbf": {
            "type": "integer",
            "description": "Token not-before time as a Unix timestamp."
          },
          "eject_at_token_exp": {
            "type": "boolean",
            "description": "Eject participant when the token expires."
          },
          "eject_after_elapsed": {
            "type": "integer",
            "description": "Eject participant after this many seconds."
          },
          "lang": {
            "type": "string",
            "description": "Language for the UI."
          },
          "close_tab_on_exit": {
            "type": "boolean",
            "description": "Close the browser tab when the call ends."
          },
          "permissions": {
            "type": "object",
            "description": "Granular permissions for the token holder.",
            "properties": {
              "has_presence": {
                "type": "boolean"
              },
              "can_send": {
                "type": "boolean"
              },
              "can_admin": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "CreateMeetingTokenRequest": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/MeetingTokenProperties"
          }
        }
      },
      "MeetingTokenResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The generated meeting token."
          }
        }
      },
      "Recording": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique recording identifier."
          },
          "room_name": {
            "type": "string",
            "description": "Name of the room that was recorded."
          },
          "start_ts": {
            "type": "integer",
            "description": "Recording start time as a Unix timestamp."
          },
          "status": {
            "type": "string",
            "description": "Current status of the recording."
          },
          "duration": {
            "type": "integer",
            "description": "Recording duration in seconds."
          },
          "share_token": {
            "type": "string",
            "description": "Token for sharing the recording."
          },
          "tracks": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of track types in the recording."
          }
        }
      },
      "RecordingList": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer",
            "description": "Total number of recordings."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recording"
            }
          }
        }
      },
      "RecordingAccessLink": {
        "type": "object",
        "properties": {
          "download_link": {
            "type": "string",
            "description": "Temporary URL to download the recording."
          },
          "expires": {
            "type": "integer",
            "description": "Expiration time of the download link as a Unix timestamp."
          }
        }
      },
      "Transcript": {
        "type": "object",
        "properties": {
          "transcriptId": {
            "type": "string",
            "description": "Unique transcript identifier."
          },
          "roomName": {
            "type": "string",
            "description": "Name of the room that was transcribed."
          },
          "mtgSessionId": {
            "type": "string",
            "description": "Meeting session ID."
          },
          "status": {
            "type": "string",
            "description": "Current status of the transcript."
          },
          "duration": {
            "type": "integer",
            "description": "Transcript duration in seconds."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the transcript was created."
          }
        }
      },
      "TranscriptList": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer",
            "description": "Total number of transcripts."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transcript"
            }
          }
        }
      },
      "MeetingSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Meeting session identifier."
          },
          "room": {
            "type": "string",
            "description": "Room name."
          },
          "start_time": {
            "type": "integer",
            "description": "Meeting start time in Unix milliseconds."
          },
          "duration": {
            "type": "integer",
            "description": "Meeting duration in seconds."
          },
          "ongoing": {
            "type": "boolean",
            "description": "Whether the meeting is still in progress."
          },
          "max_participants": {
            "type": "integer",
            "description": "Peak participant count during the meeting."
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeetingParticipant"
            },
            "description": "List of participants (included in single meeting response)."
          }
        }
      },
      "MeetingList": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer",
            "description": "Total number of meetings."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeetingSession"
            }
          }
        }
      },
      "MeetingParticipant": {
        "type": "object",
        "properties": {
          "participant_id": {
            "type": "string",
            "description": "Unique participant identifier."
          },
          "user_id": {
            "type": "string",
            "description": "External user ID if provided."
          },
          "user_name": {
            "type": "string",
            "description": "Participant display name."
          },
          "join_time": {
            "type": "integer",
            "description": "Join time in Unix milliseconds."
          },
          "duration": {
            "type": "integer",
            "description": "Time spent in the meeting in seconds."
          }
        }
      },
      "ParticipantList": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer",
            "description": "Total number of participants."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeetingParticipant"
            }
          }
        }
      },
      "DomainConfiguration": {
        "type": "object",
        "properties": {
          "domain_name": {
            "type": "string",
            "description": "The domain name."
          },
          "config": {
            "$ref": "#/components/schemas/RoomProperties"
          }
        }
      },
      "UpdateDomainConfigurationRequest": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/RoomProperties"
          }
        }
      },
      "PresenceParticipant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Participant session ID."
          },
          "userName": {
            "type": "string",
            "description": "Participant display name."
          },
          "joinTime": {
            "type": "string",
            "format": "date-time",
            "description": "Time the participant joined."
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique webhook identifier."
          },
          "url": {
            "type": "string",
            "description": "URL that receives webhook events."
          },
          "event_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "meeting.started",
                "meeting.ended",
                "recording.started",
                "recording.ready-to-download",
                "transcription.started",
                "transcription.ready-to-download",
                "participant.joined",
                "participant.left"
              ]
            },
            "description": "Event types the webhook subscribes to."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the webhook was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the webhook was last updated."
          }
        }
      },
      "CreateWebhookRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "URL that will receive webhook events."
          },
          "event_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "meeting.started",
                "meeting.ended",
                "recording.started",
                "recording.ready-to-download",
                "transcription.started",
                "transcription.ready-to-download",
                "participant.joined",
                "participant.left"
              ]
            },
            "description": "Event types to subscribe to."
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Rooms"
    },
    {
      "name": "Meeting Tokens"
    },
    {
      "name": "Recordings"
    },
    {
      "name": "Transcription"
    },
    {
      "name": "Logs"
    },
    {
      "name": "Domain Configuration"
    },
    {
      "name": "Presence"
    },
    {
      "name": "Webhooks"
    }
  ]
}