{
  "openapi": "3.0.3",
  "info": {
    "title": "Mediastack API",
    "description": "Mediastack provides a REST API for real-time news data, delivering live news articles and headlines from over 7,500 sources across 50+ countries in 13 languages. Supports filtering by date, country, language, source, keywords, and category.",
    "version": "1.0.0",
    "contact": {
      "name": "Mediastack",
      "url": "https://mediastack.com"
    },
    "x-jentic-source-url": "https://mediastack.com"
  },
  "servers": [
    {
      "url": "https://api.mediastack.com/v1",
      "description": "Mediastack API v1"
    }
  ],
  "security": [
    {
      "ApiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "News",
      "description": "Retrieve live and historical news articles"
    },
    {
      "name": "Sources",
      "description": "Retrieve available news sources"
    }
  ],
  "paths": {
    "/news": {
      "get": {
        "operationId": "getLiveNews",
        "summary": "Get live news articles",
        "description": "Retrieve real-time news articles with versatile filtering options by date, country, language, source, keywords, and category.",
        "tags": ["News"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of news source identifiers to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of news categories (e.g., general, business, entertainment, health, science, sports, technology)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of 2-letter country codes to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "languages",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of 2-letter language codes to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "Keywords to search for in news articles",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Date or date range for filtering (e.g., 2025-01-01 or 2025-01-01,2025-01-31)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order for results",
            "schema": {
              "type": "string",
              "enum": ["published_desc", "published_asc", "popularity"],
              "default": "published_desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results per page (max 100)",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset for results",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with news articles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied for this resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error - Request parameters failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/sources": {
      "get": {
        "operationId": "getSources",
        "summary": "Get available news sources",
        "description": "Search and retrieve available news sources with filtering capabilities by country, language, and category.",
        "tags": ["Sources"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term to filter sources by name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of 2-letter country codes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "languages",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of 2-letter language codes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of news categories",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results per page (max 100)",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with news sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourcesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "access_key",
        "description": "API access key obtained from your mediastack account dashboard"
      }
    },
    "schemas": {
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "description": "Number of results per page"
          },
          "offset": {
            "type": "integer",
            "description": "Current offset"
          },
          "count": {
            "type": "integer",
            "description": "Number of results on this page"
          },
          "total": {
            "type": "integer",
            "description": "Total number of results available"
          }
        }
      },
      "Article": {
        "type": "object",
        "properties": {
          "author": {
            "type": "string",
            "nullable": true,
            "description": "Article author name"
          },
          "title": {
            "type": "string",
            "description": "Article headline"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Short article description or snippet"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the original article"
          },
          "source": {
            "type": "string",
            "description": "News source identifier"
          },
          "image": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "URL of the article's featured image"
          },
          "category": {
            "type": "string",
            "description": "News category"
          },
          "language": {
            "type": "string",
            "description": "2-letter language code"
          },
          "country": {
            "type": "string",
            "description": "2-letter country code"
          },
          "published_at": {
            "type": "string",
            "format": "date-time",
            "description": "Publication date and time"
          }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique source identifier"
          },
          "name": {
            "type": "string",
            "description": "Source name"
          },
          "category": {
            "type": "string",
            "description": "Source category"
          },
          "country": {
            "type": "string",
            "description": "2-letter country code"
          },
          "language": {
            "type": "string",
            "description": "2-letter language code"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Source website URL"
          }
        }
      },
      "NewsResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Article"
            }
          }
        }
      },
      "SourcesResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Source"
            }
          }
        }
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code identifier"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "context": {
                "type": "object",
                "nullable": true,
                "description": "Additional error context"
              }
            }
          }
        }
      }
    }
  }
}
