{
  "openapi": "3.0.3",
  "info": {
    "title": "OLX Poland API",
    "version": "2.0",
    "description": "OLX Poland API for posting, managing adverts and communicating with users on the OLX classified ads platform.",
    "x-jentic-source-url": "https://developer.olx.pl/api/doc#section/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://www.olx.pl/api/partner"
    }
  ],
  "paths": {
    "/adverts": {
      "get": {
        "operationId": "listAdverts",
        "summary": "List user adverts",
        "tags": [
          "Adverts"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Adverts list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvertListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List user adverts"
      },
      "post": {
        "operationId": "createAdvert",
        "summary": "Create advert",
        "tags": [
          "Adverts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAdvertRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Advert created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advert"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create advert"
      }
    },
    "/adverts/{advertId}": {
      "get": {
        "operationId": "getAdvert",
        "summary": "Get advert details",
        "tags": [
          "Adverts"
        ],
        "parameters": [
          {
            "name": "advertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Advert details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advert"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get advert details"
      },
      "put": {
        "operationId": "updateAdvert",
        "summary": "Update advert",
        "tags": [
          "Adverts"
        ],
        "parameters": [
          {
            "name": "advertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAdvertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Advert"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update advert"
      },
      "delete": {
        "operationId": "deleteAdvert",
        "summary": "Delete advert",
        "tags": [
          "Adverts"
        ],
        "parameters": [
          {
            "name": "advertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete advert"
      }
    },
    "/adverts/{advertId}/activate": {
      "post": {
        "operationId": "activateAdvert",
        "summary": "Activate advert",
        "tags": [
          "Adverts"
        ],
        "parameters": [
          {
            "name": "advertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Activate advert"
      }
    },
    "/adverts/{advertId}/deactivate": {
      "post": {
        "operationId": "deactivateAdvert",
        "summary": "Deactivate advert",
        "tags": [
          "Adverts"
        ],
        "parameters": [
          {
            "name": "advertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deactivated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Deactivate advert"
      }
    },
    "/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List categories",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "Categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          }
        },
        "description": "List categories"
      }
    },
    "/categories/{categoryId}/attributes": {
      "get": {
        "operationId": "getCategoryAttributes",
        "summary": "Get category attributes",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attributes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attribute"
                  }
                }
              }
            }
          }
        },
        "description": "Get category attributes"
      }
    },
    "/cities": {
      "get": {
        "operationId": "listCities",
        "summary": "List cities",
        "tags": [
          "Locations"
        ],
        "responses": {
          "200": {
            "description": "Cities list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/City"
                  }
                }
              }
            }
          }
        },
        "description": "List cities"
      }
    },
    "/threads": {
      "get": {
        "operationId": "listThreads",
        "summary": "List message threads",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Threads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Thread"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List message threads"
      }
    },
    "/threads/{threadId}": {
      "get": {
        "operationId": "getThread",
        "summary": "Get thread details",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thread",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get thread details"
      }
    },
    "/threads/{threadId}/messages": {
      "get": {
        "operationId": "getMessages",
        "summary": "Get thread messages",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChatMessage"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get thread messages"
      },
      "post": {
        "operationId": "sendMessage",
        "summary": "Send message",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatMessage"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Send message"
      }
    },
    "/users/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get current user",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get current user"
      }
    }
  },
  "components": {
    "schemas": {
      "Advert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category_id": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "limited",
              "removed",
              "outdated",
              "unconfirmed",
              "unpaid",
              "moderated",
              "blocked",
              "disabled",
              "new"
            ]
          },
          "price": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              },
              "negotiable": {
                "type": "boolean"
              }
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateAdvertRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category_id": {
            "type": "integer"
          },
          "price": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "city_id": {
                "type": "integer"
              },
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          },
          "contact": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "title",
          "description",
          "category_id"
        ]
      },
      "UpdateAdvertRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number"
              }
            }
          }
        }
      },
      "AdvertListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Advert"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "total_count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": "integer"
          }
        }
      },
      "Attribute": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "City": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "region_id": {
            "type": "integer"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          }
        }
      },
      "Thread": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "advert_id": {
            "type": "integer"
          },
          "interlocutor_id": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "unread_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "thread_id": {
            "type": "integer"
          },
          "text": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.olx.pl/oauth/authorize",
            "tokenUrl": "https://www.olx.pl/api/open/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Adverts",
      "description": "Advert management"
    },
    {
      "name": "Categories",
      "description": "Category and attribute data"
    },
    {
      "name": "Locations",
      "description": "Location data"
    },
    {
      "name": "Messages",
      "description": "Messaging between users"
    },
    {
      "name": "Users",
      "description": "User management"
    }
  ]
}
