{
  "openapi": "3.0.3",
  "info": {
    "title": "EasyFill.ai API",
    "description": "EasyFill.ai is a tool that helps businesses create and manage custom online forms, streamlining data collection and response handling.",
    "version": "v1",
    "x-jentic-source-url": "https://admin.easyfill.invo.zone/api-docs/v1/swagger.yaml"
  },
  "servers": [
    {
      "url": "https://admin.easyfill.invo.zone",
      "description": "EasyFill API Server"
    }
  ],
  "paths": {
    "/api/users/login": {
      "post": {
        "summary": "User authentication - get access token",
        "operationId": "userLogin",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful login"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/child_care_centers/active": {
      "get": {
        "summary": "Get all active child care centers",
        "operationId": "getActiveChildCareCenters",
        "tags": [
          "Child Care Centers"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Query string",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/forms/{form_id}/responses": {
      "parameters": [
        {
          "name": "form_id",
          "in": "path",
          "description": "Form ID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "List responses for a form",
        "operationId": "listFormResponses",
        "tags": [
          "Form Response"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create response for a form",
        "operationId": "createFormResponse",
        "tags": [
          "Form Response"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormResponseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/forms/share_to_child_care_center": {
      "post": {
        "summary": "Share form to a child care center",
        "operationId": "shareFormToChildCareCenter",
        "tags": [
          "Forms"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareFormRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FormResponseRequest": {
        "type": "object",
        "properties": {
          "form_response": {
            "type": "object",
            "properties": {
              "parent_name": {
                "type": "string"
              },
              "child_name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "data": {
                "type": "object"
              }
            }
          }
        }
      },
      "ShareFormRequest": {
        "type": "object",
        "properties": {
          "form_id": {
            "type": "string"
          },
          "child_care_center_id": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "name": "authorization",
        "in": "header",
        "description": "Enter your access token"
      }
    }
  }
}