{
  "openapi": "3.0.3",
  "info": {
    "title": "UCSC Genome Browser REST API",
    "version": "1.0.0",
    "description": "The UCSC Genome Browser REST API provides access to genome assemblies, tracks, sequences, and search functionality for the UCSC Genome Browser database.",
    "x-jentic-source-url": "http://genome.ucsc.edu/goldenPath/help/api.html",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.genome.ucsc.edu"
    }
  ],
  "paths": {
    "/findGenome": {
      "get": {
        "operationId": "findGenome",
        "summary": "Search for a genome",
        "tags": [
          "Search"
        ],
        "description": "Search for a genome in the UCSC browser",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "statsOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Return stats only"
          },
          {
            "name": "browser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Browser filter"
          },
          {
            "name": "maxItemsOutput",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000000
            },
            "description": "Maximum items to output"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenomeSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/publicHubs": {
      "get": {
        "operationId": "listPublicHubs",
        "summary": "List public hubs",
        "tags": [
          "List"
        ],
        "description": "List public hubs available in the UCSC Genome Browser",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicHubsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/ucscGenomes": {
      "get": {
        "operationId": "listUcscGenomes",
        "summary": "List UCSC genomes",
        "tags": [
          "List"
        ],
        "description": "List UCSC Genome Browser database genomes",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenomesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/genarkGenomes": {
      "get": {
        "operationId": "listGenarkGenomes",
        "summary": "List GenArk genomes",
        "tags": [
          "List"
        ],
        "description": "List UCSC Genome Browser database genomes from assembly hub",
        "parameters": [
          {
            "name": "genome",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Genome identifier"
          },
          {
            "name": "maxItemsOutput",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum items"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenomesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/hubGenomes": {
      "get": {
        "operationId": "listHubGenomes",
        "summary": "List hub genomes",
        "tags": [
          "List"
        ],
        "description": "List genomes from specified hub",
        "parameters": [
          {
            "name": "hubUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hub URL"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenomesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/files": {
      "get": {
        "operationId": "listFiles",
        "summary": "List download files",
        "tags": [
          "List"
        ],
        "description": "List download files available for specified genome",
        "parameters": [
          {
            "name": "genome",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Genome identifier"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "text"
              ]
            },
            "description": "Response format"
          },
          {
            "name": "maxItemsOutput",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum items"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/tracks": {
      "get": {
        "operationId": "listTracks",
        "summary": "List data tracks",
        "tags": [
          "List"
        ],
        "description": "List data tracks available in specified hub or database genome",
        "parameters": [
          {
            "name": "genome",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Genome identifier"
          },
          {
            "name": "hubUrl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Hub URL"
          },
          {
            "name": "trackLeavesOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Return only leaf tracks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TracksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/chromosomes": {
      "get": {
        "operationId": "listChromosomes",
        "summary": "List chromosomes",
        "tags": [
          "List"
        ],
        "description": "List chromosomes from a data track or assembly",
        "parameters": [
          {
            "name": "genome",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Genome identifier"
          },
          {
            "name": "hubUrl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Hub URL"
          },
          {
            "name": "track",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Track name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChromosomesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list/schema": {
      "get": {
        "operationId": "listSchema",
        "summary": "List track schema",
        "tags": [
          "List"
        ],
        "description": "List the schema for a data track",
        "parameters": [
          {
            "name": "genome",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Genome identifier"
          },
          {
            "name": "hubUrl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Hub URL"
          },
          {
            "name": "track",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Track name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getData/sequence": {
      "get": {
        "operationId": "getDataSequence",
        "summary": "Get sequence data",
        "tags": [
          "Data"
        ],
        "description": "Return sequence from specified hub or database",
        "parameters": [
          {
            "name": "genome",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Genome identifier"
          },
          {
            "name": "hubUrl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Hub URL"
          },
          {
            "name": "chrom",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Chromosome name"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start position (0-relative)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "End position (1-relative)"
          },
          {
            "name": "revComp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Reverse complement"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SequenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getData/track": {
      "get": {
        "operationId": "getDataTrack",
        "summary": "Get track data",
        "tags": [
          "Data"
        ],
        "description": "Return data from specified track in hub or database",
        "parameters": [
          {
            "name": "genome",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Genome identifier"
          },
          {
            "name": "hubUrl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Hub URL"
          },
          {
            "name": "track",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Track name"
          },
          {
            "name": "chrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Chromosome name"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start position"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "End position"
          },
          {
            "name": "maxItemsOutput",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum items"
          },
          {
            "name": "jsonOutputArrays",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Use arrays in JSON output"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "search",
        "summary": "Search genome assembly",
        "tags": [
          "Search"
        ],
        "description": "Return search matches within a genome assembly",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search term"
          },
          {
            "name": "genome",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Genome assembly"
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Categories to search (helpDocs, publicHubs, trackDb)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenomeSearchResponse": {
        "type": "object",
        "properties": {
          "genomes": {
            "type": "object"
          }
        }
      },
      "PublicHubsResponse": {
        "type": "object",
        "properties": {
          "publicHubs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "GenomesResponse": {
        "type": "object",
        "properties": {
          "ucscGenomes": {
            "type": "object"
          }
        }
      },
      "FilesResponse": {
        "type": "object",
        "properties": {
          "downloadFiles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TracksResponse": {
        "type": "object",
        "properties": {
          "tracks": {
            "type": "object"
          }
        }
      },
      "ChromosomesResponse": {
        "type": "object",
        "properties": {
          "chromosomes": {
            "type": "object"
          }
        }
      },
      "SchemaResponse": {
        "type": "object",
        "properties": {
          "schema": {
            "type": "object"
          }
        }
      },
      "SequenceResponse": {
        "type": "object",
        "properties": {
          "dna": {
            "type": "string"
          }
        }
      },
      "TrackDataResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "matches": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "statusMessage": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Data"
    },
    {
      "name": "List"
    },
    {
      "name": "Search"
    }
  ]
}
