{
  "openapi": "3.0.3",
  "info": {
    "title": "Crunchbase API",
    "version": "4.0.0",
    "description": "Crunchbase API v4 provides access to company, people, funding, and acquisition data. The API supports searching and retrieving detailed information about organizations, people, funding rounds, and other business entities.",
    "x-jentic-source-url": "https://data.crunchbase.com/docs",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.crunchbase.com/api/v4",
      "description": "Crunchbase API v4"
    }
  ],
  "security": [
    {
      "userKey": []
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Search endpoints"
    },
    {
      "name": "Autocomplete",
      "description": "Autocomplete endpoints"
    },
    {
      "name": "Entities",
      "description": "Entity retrieval"
    }
  ],
  "paths": {
    "/searches/organizations": {
      "post": {
        "operationId": "searchOrganizations",
        "summary": "Search Organizations",
        "description": "Search for organizations using field-based criteria. Returns paginated results with organization data.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/searches/people": {
      "post": {
        "operationId": "searchPeople",
        "summary": "Search People",
        "description": "Search for people profiles using field-based criteria.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/searches/funding_rounds": {
      "post": {
        "operationId": "searchFundingRounds",
        "summary": "Search Funding Rounds",
        "description": "Search for funding rounds using field-based criteria.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/searches/acquisitions": {
      "post": {
        "operationId": "searchAcquisitions",
        "summary": "Search Acquisitions",
        "description": "Search for acquisitions using field-based criteria.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/autocompletes": {
      "get": {
        "operationId": "autocomplete",
        "summary": "Autocomplete",
        "description": "Autocomplete search for entities by name.",
        "tags": [
          "Autocomplete"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query string"
          },
          {
            "name": "collection_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated collection IDs to search (organizations, people, funding_rounds, acquisitions, press_references, etc.)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Maximum number of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Autocomplete results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "entities": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entities/organizations/{entity_id}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get Organization",
        "description": "Retrieve detailed information about a specific organization.",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization identifier (UUID or permalink)"
          },
          {
            "name": "field_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of field IDs to return"
          },
          {
            "name": "card_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of card IDs to include"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entities/people/{entity_id}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Get Person",
        "description": "Retrieve detailed information about a specific person.",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "card_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entities/funding_rounds/{entity_id}": {
      "get": {
        "operationId": "getFundingRound",
        "summary": "Get Funding Round",
        "description": "Retrieve detailed information about a specific funding round.",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "card_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding round details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entities/acquisitions/{entity_id}": {
      "get": {
        "operationId": "getAcquisition",
        "summary": "Get Acquisition",
        "description": "Retrieve detailed information about a specific acquisition.",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "card_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Acquisition details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "userKey": {
        "type": "apiKey",
        "in": "query",
        "name": "user_key",
        "description": "Crunchbase API user key"
      }
    },
    "schemas": {
      "SearchRequest": {
        "type": "object",
        "properties": {
          "field_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Fields to return"
          },
          "query": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Predicate"
            },
            "description": "Search query predicates"
          },
          "order": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field_id": {
                  "type": "string"
                },
                "sort": {
                  "type": "string",
                  "enum": [
                    "asc",
                    "desc"
                  ]
                }
              }
            },
            "description": "Sort order"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results per page"
          },
          "after_id": {
            "type": "string",
            "description": "Cursor for pagination"
          }
        }
      },
      "Predicate": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "predicate"
            ]
          },
          "field_id": {
            "type": "string"
          },
          "operator_id": {
            "type": "string",
            "enum": [
              "eq",
              "not_eq",
              "gt",
              "gte",
              "lt",
              "lte",
              "starts",
              "contains",
              "not_contains",
              "between",
              "blank",
              "not_blank",
              "includes",
              "not_includes",
              "includes_all",
              "not_includes_all"
            ]
          },
          "values": {
            "type": "array",
            "items": {}
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Entity"
            }
          },
          "after_id": {
            "type": "string"
          }
        }
      },
      "EntityResponse": {
        "type": "object",
        "properties": {
          "properties": {
            "type": "object"
          },
          "cards": {
            "type": "object"
          }
        }
      },
      "Entity": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "properties": {
            "type": "object"
          },
          "identifier": {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string"
              },
              "value": {
                "type": "string"
              },
              "image_id": {
                "type": "string"
              },
              "permalink": {
                "type": "string"
              },
              "entity_def_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      }
    }
  }
}
