{
  "openapi": "3.0.3",
  "info": {
    "title": "IntaSend Payments API",
    "description": "IntaSend Payments API for payment collection, sending money, wallets, payment links, subscriptions, M-Pesa Paybill, and FX rates.",
    "version": "1.0.0",
    "contact": {
      "name": "IntaSend Support",
      "url": "https://developers.intasend.com/docs/"
    },
    "license": {
      "name": "Proprietary"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/intasend.com/intasend-payments-api/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.intasend.com/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/payment/mpesa/stk-push/": {
      "post": {
        "tags": [
          "PaymentCollection"
        ],
        "operationId": "sendMpesaStkPush",
        "summary": "Send M-Pesa STK Push",
        "description": "Initiates an M-Pesa STK Push prompt to the customer's phone for payment collection.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MpesaStkPushRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "STK Push initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MpesaStkPushResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/checkout/": {
      "post": {
        "tags": [
          "PaymentCollection"
        ],
        "operationId": "createCheckout",
        "summary": "Create checkout",
        "description": "Creates a new checkout session for collecting payments.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/checkout/details/": {
      "post": {
        "tags": [
          "PaymentCollection"
        ],
        "operationId": "getCheckoutDetails",
        "summary": "Get checkout details",
        "description": "Retrieves details of an existing checkout session.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payment/status/": {
      "post": {
        "tags": [
          "PaymentCollection"
        ],
        "operationId": "checkPaymentStatus",
        "summary": "Check payment status",
        "description": "Checks the status of a payment transaction.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payment/coop-agent-deposit/": {
      "post": {
        "tags": [
          "PaymentCollection"
        ],
        "operationId": "generateCoopBankReference",
        "summary": "Generate Coop-Bank payment reference",
        "description": "Generates a Co-operative Bank agent deposit payment reference for collection.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoopAgentDepositRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment reference generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoopAgentDepositResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payment/create-customer-reference/": {
      "post": {
        "tags": [
          "PaymentCollection"
        ],
        "operationId": "createCustomerReference",
        "summary": "Generate universal payment reference",
        "description": "Generates a universal customer payment reference for collection across multiple channels.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerReferenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer reference generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerReferenceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/invoices/": {
      "get": {
        "tags": [
          "PaymentCollection"
        ],
        "operationId": "listInvoices",
        "summary": "List invoices",
        "description": "Retrieves a paginated list of invoices.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/invoices/{id}/": {
      "get": {
        "tags": [
          "PaymentCollection"
        ],
        "operationId": "getInvoice",
        "summary": "Get invoice",
        "description": "Retrieves a single invoice by its ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/send-money/initiate/": {
      "post": {
        "tags": [
          "SendMoney"
        ],
        "operationId": "initiateSendMoney",
        "summary": "Initiate transaction",
        "description": "Initiates a send money transaction. The transaction must be approved before funds are disbursed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMoneyInitiateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMoneyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/send-money/approve/": {
      "post": {
        "tags": [
          "SendMoney"
        ],
        "operationId": "approveSendMoney",
        "summary": "Approve transaction",
        "description": "Approves a previously initiated send money transaction for processing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMoneyApproveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMoneyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/send-money/cancel/": {
      "post": {
        "tags": [
          "SendMoney"
        ],
        "operationId": "cancelSendMoney",
        "summary": "Cancel transaction",
        "description": "Cancels a previously initiated send money transaction.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMoneyCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMoneyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/send-money/validate-accounts/": {
      "post": {
        "tags": [
          "SendMoney"
        ],
        "operationId": "validateRecipientAccount",
        "summary": "Validate recipient",
        "description": "Validates recipient account details before initiating a send money transaction.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateAccountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/send-money/bank-codes/": {
      "get": {
        "tags": [
          "SendMoney"
        ],
        "operationId": "listBankCodes",
        "summary": "List bank codes",
        "description": "Retrieves a list of supported bank codes for send money transactions.",
        "responses": {
          "200": {
            "description": "List of bank codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankCode"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/send-money/beneficiaries/": {
      "get": {
        "tags": [
          "SendMoney"
        ],
        "operationId": "listBeneficiaries",
        "summary": "List beneficiaries",
        "description": "Retrieves a list of saved beneficiaries.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of beneficiaries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficiaryList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/send-money/beneficiaries/frequently-used/": {
      "get": {
        "tags": [
          "SendMoney"
        ],
        "operationId": "listFrequentlyUsedBeneficiaries",
        "summary": "Frequently used beneficiaries",
        "description": "Retrieves a list of frequently used beneficiaries.",
        "responses": {
          "200": {
            "description": "Frequently used beneficiaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Beneficiary"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/send-money/categories/": {
      "get": {
        "tags": [
          "SendMoney"
        ],
        "operationId": "listTransactionCategories",
        "summary": "Transaction categories",
        "description": "Retrieves a list of available transaction categories for send money.",
        "responses": {
          "200": {
            "description": "List of transaction categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionCategory"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/send-money/status/": {
      "post": {
        "tags": [
          "SendMoney"
        ],
        "operationId": "checkSendMoneyStatus",
        "summary": "Check send money status",
        "description": "Checks the status of a send money transaction.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMoneyStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Send money status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMoneyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/send-money/transactions/": {
      "get": {
        "tags": [
          "SendMoney"
        ],
        "operationId": "listSendMoneyTransactions",
        "summary": "List send money transactions",
        "description": "Retrieves a paginated list of send money transactions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMoneyTransactionList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/send-money/transactions/{id}/": {
      "get": {
        "tags": [
          "SendMoney"
        ],
        "operationId": "getSendMoneyTransaction",
        "summary": "Get send money transaction",
        "description": "Retrieves a single send money transaction by its ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMoneyTransaction"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/wallets/": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "operationId": "listWallets",
        "summary": "List wallets",
        "description": "Retrieves a list of all wallets.",
        "responses": {
          "200": {
            "description": "List of wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Wallets"
        ],
        "operationId": "createWallet",
        "summary": "Create wallet",
        "description": "Creates a new wallet.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wallet created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/wallets/{id}/": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "operationId": "getWallet",
        "summary": "Get wallet",
        "description": "Retrieves a single wallet by its ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/transactions/": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "operationId": "listTransactions",
        "summary": "List transactions",
        "description": "Retrieves a paginated list of all transactions across wallets.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/transactions/{id}/": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "operationId": "getTransaction",
        "summary": "Get transaction",
        "description": "Retrieves a single transaction by its ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/wallets/{id}/transactions/": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "operationId": "getWalletStatement",
        "summary": "Wallet statement",
        "description": "Retrieves a paginated list of transactions for a specific wallet.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPathParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/wallets/exchange/": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "operationId": "forexExchange",
        "summary": "Forex exchange",
        "description": "Initiates a foreign exchange conversion between wallets.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForexExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exchange completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForexExchangeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/wallets/intra-transfer/": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "operationId": "intraTransfer",
        "summary": "Internal transfer",
        "description": "Transfers funds between wallets within the same account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntraTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntraTransferResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/paymentlinks/": {
      "get": {
        "tags": [
          "PaymentLinks"
        ],
        "operationId": "listPaymentLinks",
        "summary": "List payment links",
        "description": "Retrieves a paginated list of payment links.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of payment links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "PaymentLinks"
        ],
        "operationId": "createPaymentLink",
        "summary": "Create payment link",
        "description": "Creates a new payment link.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentLinkRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/paymentlinks/{id}/": {
      "get": {
        "tags": [
          "PaymentLinks"
        ],
        "operationId": "getPaymentLink",
        "summary": "Get payment link",
        "description": "Retrieves a single payment link by its ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment link details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLink"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "PaymentLinks"
        ],
        "operationId": "updatePaymentLink",
        "summary": "Update payment link",
        "description": "Updates an existing payment link.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPathParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment link updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/subscriptions/plans/": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "createSubscriptionPlan",
        "summary": "Create subscription plan",
        "description": "Creates a new subscription plan.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionPlanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Plan created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionPlan"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "listSubscriptionPlans",
        "summary": "List subscription plans",
        "description": "Retrieves a list of subscription plans.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of plans",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionPlanList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscriptions/customers/": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "createSubscriptionCustomer",
        "summary": "Create subscription customer",
        "description": "Creates a new customer for subscriptions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionCustomer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscriptions/": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "createSubscription",
        "summary": "Create subscription",
        "description": "Creates a new subscription for a customer on a plan.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "listSubscriptions",
        "summary": "List subscriptions",
        "description": "Retrieves a paginated list of subscriptions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscriptions/{id}/": {
      "put": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "updateSubscription",
        "summary": "Update subscription",
        "description": "Updates an existing subscription.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPathParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "getSubscription",
        "summary": "Get subscription",
        "description": "Retrieves a single subscription by its ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/subscriptions/{id}/unsubscribe/": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "unsubscribe",
        "summary": "Unsubscribe",
        "description": "Cancels an active subscription.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Unsubscribed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/subscriptions/transactions/{id}/": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "getSubscriptionTransactions",
        "summary": "Get subscription transactions",
        "description": "Retrieves transactions associated with a subscription.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionTransactionList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/mpesa-paybill-accounts/": {
      "get": {
        "tags": [
          "MpesaPaybill"
        ],
        "operationId": "listMpesaPaybillAccounts",
        "summary": "List M-Pesa Paybill accounts",
        "description": "Retrieves a list of M-Pesa Paybill accounts.",
        "responses": {
          "200": {
            "description": "List of Paybill accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MpesaPaybillAccount"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "MpesaPaybill"
        ],
        "operationId": "createMpesaPaybillAccount",
        "summary": "Create M-Pesa Paybill account",
        "description": "Registers a new M-Pesa Paybill account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MpesaPaybillAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Paybill account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MpesaPaybillAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/mpesa-paybill-accounts/{id}/": {
      "get": {
        "tags": [
          "MpesaPaybill"
        ],
        "operationId": "getMpesaPaybillAccount",
        "summary": "Get M-Pesa Paybill account",
        "description": "Retrieves a single M-Pesa Paybill account by its ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Paybill account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MpesaPaybillAccount"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/realtime-fx-rates/": {
      "get": {
        "tags": [
          "FXRates"
        ],
        "operationId": "listFxRates",
        "summary": "List FX rates",
        "description": "Retrieves a list of real-time foreign exchange rates.",
        "responses": {
          "200": {
            "description": "List of FX rates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FxRate"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/realtime-fx-rates/{id}/": {
      "get": {
        "tags": [
          "FXRates"
        ],
        "operationId": "getFxRate",
        "summary": "Get FX rate",
        "description": "Retrieves a specific FX rate by its ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "FX rate details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FxRate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/realtime-fx-rates/exchange/": {
      "get": {
        "tags": [
          "FXRates"
        ],
        "operationId": "getExchangeConversion",
        "summary": "Get exchange conversion",
        "description": "Calculates the exchange conversion between two currencies at real-time rates.",
        "parameters": [
          {
            "name": "from_currency",
            "in": "query",
            "required": true,
            "description": "Source currency code (e.g. KES, USD, GBP)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_currency",
            "in": "query",
            "required": true,
            "description": "Target currency code (e.g. KES, USD, GBP)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Amount to convert",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange conversion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FxConversion"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Provide your secret API key as the bearer token."
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-IntaSend-Public-API-Key",
        "description": "Public API key passed via request header."
      }
    },
    "parameters": {
      "IdPathParam": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Unique identifier of the resource",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "PageParam": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Page number for pagination",
        "schema": {
          "type": "integer",
          "default": 1,
          "minimum": 1
        }
      },
      "PageSizeParam": {
        "name": "page_size",
        "in": "query",
        "required": false,
        "description": "Number of items per page",
        "schema": {
          "type": "integer",
          "default": 20,
          "minimum": 1,
          "maximum": 100
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters or missing required fields",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing authentication credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Map of field names to error messages"
          },
          "detail": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      },
      "PaginatedMeta": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total number of results"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "URL for the next page of results"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "URL for the previous page of results"
          }
        }
      },
      "MpesaStkPushRequest": {
        "type": "object",
        "required": [
          "amount",
          "phone_number",
          "api_ref"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to charge"
          },
          "phone_number": {
            "type": "string",
            "description": "M-Pesa registered phone number in international format (e.g. 2547XXXXXXXX)"
          },
          "api_ref": {
            "type": "string",
            "description": "Your unique reference for this transaction"
          },
          "wallet_id": {
            "type": "string",
            "format": "uuid",
            "description": "Target wallet ID to receive funds"
          },
          "name": {
            "type": "string",
            "description": "Customer name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          }
        }
      },
      "MpesaStkPushResponse": {
        "type": "object",
        "properties": {
          "invoice": {
            "$ref": "#/components/schemas/Invoice"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "state": {
            "type": "string",
            "description": "Current state of the STK Push"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to charge"
          },
          "currency": {
            "type": "string",
            "description": "Three-letter currency code (e.g. KES, USD, GBP)"
          },
          "api_ref": {
            "type": "string",
            "description": "Your unique reference for this transaction"
          },
          "first_name": {
            "type": "string",
            "description": "Customer first name"
          },
          "last_name": {
            "type": "string",
            "description": "Customer last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email"
          },
          "phone_number": {
            "type": "string",
            "description": "Customer phone number"
          },
          "method": {
            "type": "string",
            "enum": [
              "M-PESA",
              "CARD-PAYMENT",
              "BITCOIN",
              "COOP-BANK"
            ],
            "description": "Preferred payment method"
          },
          "wallet_id": {
            "type": "string",
            "format": "uuid",
            "description": "Target wallet ID"
          },
          "redirect_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect customer after payment"
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Checkout page URL"
          },
          "signature": {
            "type": "string",
            "description": "Checkout signature"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          },
          "api_ref": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CheckoutDetailsRequest": {
        "type": "object",
        "required": [
          "checkout_id"
        ],
        "properties": {
          "checkout_id": {
            "type": "string",
            "format": "uuid",
            "description": "The checkout session ID"
          },
          "signature": {
            "type": "string",
            "description": "Checkout signature for verification"
          }
        }
      },
      "PaymentStatusRequest": {
        "type": "object",
        "required": [
          "invoice_id"
        ],
        "properties": {
          "invoice_id": {
            "type": "string",
            "format": "uuid",
            "description": "Invoice ID to check status for"
          },
          "checkout_id": {
            "type": "string",
            "format": "uuid",
            "description": "Checkout ID to check status for"
          }
        }
      },
      "PaymentStatusResponse": {
        "type": "object",
        "properties": {
          "invoice": {
            "$ref": "#/components/schemas/Invoice"
          },
          "meta": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "customer": {
                "$ref": "#/components/schemas/Customer"
              },
              "customer_comment": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "CoopAgentDepositRequest": {
        "type": "object",
        "required": [
          "amount",
          "api_ref"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to charge"
          },
          "api_ref": {
            "type": "string",
            "description": "Your unique reference"
          },
          "wallet_id": {
            "type": "string",
            "format": "uuid",
            "description": "Target wallet ID"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone_number": {
            "type": "string"
          }
        }
      },
      "CoopAgentDepositResponse": {
        "type": "object",
        "properties": {
          "invoice": {
            "$ref": "#/components/schemas/Invoice"
          },
          "reference": {
            "type": "string",
            "description": "Co-op Bank agent deposit reference number"
          },
          "account_number": {
            "type": "string",
            "description": "Account number for deposit"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerReferenceRequest": {
        "type": "object",
        "required": [
          "amount",
          "api_ref",
          "first_name",
          "last_name",
          "email"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "api_ref": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone_number": {
            "type": "string"
          },
          "wallet_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CustomerReferenceResponse": {
        "type": "object",
        "properties": {
          "invoice": {
            "$ref": "#/components/schemas/Invoice"
          },
          "customer_reference": {
            "type": "string",
            "description": "Universal payment reference for the customer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "invoice_id": {
            "type": "string",
            "format": "uuid"
          },
          "state": {
            "type": "string",
            "enum": [
              "PENDING",
              "PROCESSING",
              "COMPLETE",
              "FAILED",
              "RETRY"
            ],
            "description": "Invoice state"
          },
          "provider": {
            "type": "string",
            "description": "Payment provider"
          },
          "charges": {
            "type": "number",
            "format": "double",
            "description": "Transaction charges"
          },
          "net_amount": {
            "type": "number",
            "format": "double",
            "description": "Net amount after charges"
          },
          "currency": {
            "type": "string"
          },
          "value": {
            "type": "number",
            "format": "double",
            "description": "Total invoice value"
          },
          "account": {
            "type": "string",
            "description": "Account reference"
          },
          "api_ref": {
            "type": "string"
          },
          "mpesa_reference": {
            "type": "string",
            "nullable": true,
            "description": "M-Pesa confirmation code"
          },
          "host": {
            "type": "string"
          },
          "failed_reason": {
            "type": "string",
            "nullable": true
          },
          "failed_code": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InvoiceList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedMeta"
          },
          {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        ]
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "phone_number": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SendMoneyInitiateRequest": {
        "type": "object",
        "required": [
          "currency",
          "transactions"
        ],
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g. KES)"
          },
          "wallet_id": {
            "type": "string",
            "format": "uuid",
            "description": "Source wallet ID"
          },
          "requires_approval": {
            "type": "string",
            "enum": [
              "YES",
              "NO"
            ],
            "default": "YES",
            "description": "Whether the transaction requires approval"
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook URL for status updates"
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SendMoneyRecipient"
            },
            "description": "List of recipients"
          }
        }
      },
      "SendMoneyRecipient": {
        "type": "object",
        "required": [
          "account",
          "amount"
        ],
        "properties": {
          "account": {
            "type": "string",
            "description": "Recipient account (phone number or bank account)"
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to send"
          },
          "name": {
            "type": "string",
            "description": "Recipient name"
          },
          "narrative": {
            "type": "string",
            "description": "Transaction narrative or description"
          },
          "provider": {
            "type": "string",
            "enum": [
              "M-PESA",
              "PESALINK",
              "INTASEND"
            ],
            "description": "Disbursement provider"
          },
          "bank_code": {
            "type": "string",
            "description": "Bank code (required for PESALINK)"
          },
          "category": {
            "type": "string",
            "description": "Transaction category code"
          }
        }
      },
      "SendMoneyApproveRequest": {
        "type": "object",
        "required": [
          "tracker_id"
        ],
        "properties": {
          "tracker_id": {
            "type": "string",
            "format": "uuid",
            "description": "Tracker ID of the initiated transaction to approve"
          }
        }
      },
      "SendMoneyCancelRequest": {
        "type": "object",
        "required": [
          "tracker_id"
        ],
        "properties": {
          "tracker_id": {
            "type": "string",
            "format": "uuid",
            "description": "Tracker ID of the initiated transaction to cancel"
          }
        }
      },
      "SendMoneyResponse": {
        "type": "object",
        "properties": {
          "tracker_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "Preview",
              "Pending",
              "Processing",
              "Completed",
              "Failed",
              "Cancelled"
            ],
            "description": "Transaction status"
          },
          "nonce": {
            "type": "string",
            "description": "Security nonce"
          },
          "currency": {
            "type": "string"
          },
          "total_amount": {
            "type": "number",
            "format": "double"
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SendMoneyTransaction"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SendMoneyStatusRequest": {
        "type": "object",
        "required": [
          "tracker_id"
        ],
        "properties": {
          "tracker_id": {
            "type": "string",
            "format": "uuid",
            "description": "Tracker ID of the transaction"
          }
        }
      },
      "SendMoneyTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "request_reference_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "account": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "narrative": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "bank_code": {
            "type": "string",
            "nullable": true
          },
          "charge": {
            "type": "number",
            "format": "double"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SendMoneyTransactionList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedMeta"
          },
          {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SendMoneyTransaction"
                }
              }
            }
          }
        ]
      },
      "ValidateAccountRequest": {
        "type": "object",
        "required": [
          "account",
          "provider"
        ],
        "properties": {
          "account": {
            "type": "string",
            "description": "Account number or phone number to validate"
          },
          "provider": {
            "type": "string",
            "enum": [
              "M-PESA",
              "PESALINK",
              "INTASEND"
            ],
            "description": "Provider to validate against"
          },
          "bank_code": {
            "type": "string",
            "description": "Bank code (required for PESALINK)"
          }
        }
      },
      "ValidateAccountResponse": {
        "type": "object",
        "properties": {
          "account": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Account holder name"
          },
          "is_valid": {
            "type": "boolean"
          },
          "provider": {
            "type": "string"
          }
        }
      },
      "BankCode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "bank_name": {
            "type": "string"
          },
          "bank_code": {
            "type": "string"
          }
        }
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "account": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "bank_code": {
            "type": "string",
            "nullable": true
          },
          "bank_name": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BeneficiaryList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedMeta"
          },
          {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Beneficiary"
                }
              }
            }
          }
        ]
      },
      "TransactionCategory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "wallet_id": {
            "type": "string",
            "format": "uuid"
          },
          "label": {
            "type": "string",
            "description": "Wallet label or name"
          },
          "can_disburse": {
            "type": "boolean",
            "description": "Whether the wallet can disburse funds"
          },
          "currency": {
            "type": "string"
          },
          "wallet_type": {
            "type": "string",
            "enum": [
              "WORKING",
              "SETTLEMENT"
            ],
            "description": "Type of wallet"
          },
          "current_balance": {
            "type": "number",
            "format": "double",
            "description": "Current balance"
          },
          "available_balance": {
            "type": "number",
            "format": "double",
            "description": "Available balance for transactions"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateWalletRequest": {
        "type": "object",
        "required": [
          "currency",
          "label"
        ],
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g. KES, USD, GBP)"
          },
          "label": {
            "type": "string",
            "description": "Label for the wallet"
          },
          "wallet_type": {
            "type": "string",
            "enum": [
              "WORKING"
            ],
            "description": "Type of wallet to create"
          },
          "can_disburse": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "wallet_id": {
            "type": "string",
            "format": "uuid"
          },
          "trans_type": {
            "type": "string",
            "description": "Transaction type"
          },
          "narrative": {
            "type": "string"
          },
          "running_balance": {
            "type": "number",
            "format": "double"
          },
          "value": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          },
          "invoice_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TransactionList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedMeta"
          },
          {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          }
        ]
      },
      "ForexExchangeRequest": {
        "type": "object",
        "required": [
          "from_wallet_id",
          "to_wallet_id",
          "amount"
        ],
        "properties": {
          "from_wallet_id": {
            "type": "string",
            "format": "uuid",
            "description": "Source wallet ID"
          },
          "to_wallet_id": {
            "type": "string",
            "format": "uuid",
            "description": "Destination wallet ID"
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to exchange from source wallet"
          }
        }
      },
      "ForexExchangeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "from_wallet_id": {
            "type": "string",
            "format": "uuid"
          },
          "to_wallet_id": {
            "type": "string",
            "format": "uuid"
          },
          "from_amount": {
            "type": "number",
            "format": "double"
          },
          "to_amount": {
            "type": "number",
            "format": "double"
          },
          "exchange_rate": {
            "type": "number",
            "format": "double"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IntraTransferRequest": {
        "type": "object",
        "required": [
          "from_wallet_id",
          "to_wallet_id",
          "amount"
        ],
        "properties": {
          "from_wallet_id": {
            "type": "string",
            "format": "uuid",
            "description": "Source wallet ID"
          },
          "to_wallet_id": {
            "type": "string",
            "format": "uuid",
            "description": "Destination wallet ID"
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to transfer"
          },
          "narrative": {
            "type": "string",
            "description": "Transfer description"
          }
        }
      },
      "IntraTransferResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "from_wallet_id": {
            "type": "string",
            "format": "uuid"
          },
          "to_wallet_id": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "narrative": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaymentLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Fixed amount (null for open-ended)"
          },
          "currency": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Public URL for the payment link"
          },
          "redirect_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "usage_limit": {
            "type": "integer",
            "nullable": true,
            "description": "Maximum number of times the link can be used"
          },
          "mobile_tagging": {
            "type": "boolean",
            "description": "Whether to collect mobile number"
          },
          "wallet_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaymentLinkRequest": {
        "type": "object",
        "required": [
          "title",
          "currency"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the payment link"
          },
          "amount": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Fixed amount (omit or null for open-ended)"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "is_active": {
            "type": "boolean",
            "default": true
          },
          "redirect_url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string"
          },
          "usage_limit": {
            "type": "integer",
            "nullable": true
          },
          "mobile_tagging": {
            "type": "boolean",
            "default": false
          },
          "wallet_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "PaymentLinkList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedMeta"
          },
          {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentLink"
                }
              }
            }
          }
        ]
      },
      "SubscriptionPlan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          },
          "interval": {
            "type": "string",
            "enum": [
              "DAY",
              "WEEK",
              "MONTH",
              "YEAR"
            ],
            "description": "Billing interval"
          },
          "interval_count": {
            "type": "integer",
            "description": "Number of intervals between billings"
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubscriptionPlanRequest": {
        "type": "object",
        "required": [
          "name",
          "amount",
          "currency",
          "interval"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Plan name"
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Recurring charge amount"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "interval": {
            "type": "string",
            "enum": [
              "DAY",
              "WEEK",
              "MONTH",
              "YEAR"
            ]
          },
          "interval_count": {
            "type": "integer",
            "default": 1,
            "description": "Number of intervals between billings"
          }
        }
      },
      "SubscriptionPlanList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedMeta"
          },
          {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SubscriptionPlan"
                }
              }
            }
          }
        ]
      },
      "SubscriptionCustomer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubscriptionCustomerRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "plan": {
            "$ref": "#/components/schemas/SubscriptionPlan"
          },
          "customer": {
            "$ref": "#/components/schemas/SubscriptionCustomer"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "CANCELLED",
              "EXPIRED"
            ],
            "description": "Subscription status"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "next_billing_date": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubscriptionRequest": {
        "type": "object",
        "required": [
          "plan_id",
          "customer_id"
        ],
        "properties": {
          "plan_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the subscription plan"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the customer"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "When the subscription starts (defaults to now)"
          }
        }
      },
      "SubscriptionUpdateRequest": {
        "type": "object",
        "properties": {
          "plan_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          }
        }
      },
      "SubscriptionList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedMeta"
          },
          {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        ]
      },
      "SubscriptionTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "subscription_id": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "invoice": {
            "$ref": "#/components/schemas/Invoice"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubscriptionTransactionList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriptionTransaction"
            }
          }
        }
      },
      "MpesaPaybillAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "paybill_number": {
            "type": "string",
            "description": "M-Pesa Paybill number"
          },
          "account_name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "ACTIVE",
              "INACTIVE"
            ],
            "description": "Account status"
          },
          "wallet_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MpesaPaybillAccountRequest": {
        "type": "object",
        "required": [
          "paybill_number",
          "account_name"
        ],
        "properties": {
          "paybill_number": {
            "type": "string",
            "description": "M-Pesa Paybill number"
          },
          "account_name": {
            "type": "string",
            "description": "Account name for the Paybill"
          },
          "wallet_id": {
            "type": "string",
            "format": "uuid",
            "description": "Wallet to receive funds"
          }
        }
      },
      "FxRate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "from_currency": {
            "type": "string"
          },
          "to_currency": {
            "type": "string"
          },
          "buy_rate": {
            "type": "number",
            "format": "double"
          },
          "sell_rate": {
            "type": "number",
            "format": "double"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FxConversion": {
        "type": "object",
        "properties": {
          "from_currency": {
            "type": "string"
          },
          "to_currency": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Original amount"
          },
          "converted_amount": {
            "type": "number",
            "format": "double",
            "description": "Converted amount"
          },
          "exchange_rate": {
            "type": "number",
            "format": "double",
            "description": "Applied exchange rate"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "PaymentCollection",
      "description": "Payment collection endpoints including M-Pesa STK Push, checkout, and invoices"
    },
    {
      "name": "SendMoney",
      "description": "Send money endpoints for initiating, approving, and managing transactions"
    },
    {
      "name": "Wallets",
      "description": "Wallet management, transactions, forex exchange, and internal transfers"
    },
    {
      "name": "PaymentLinks",
      "description": "Payment links CRUD operations"
    },
    {
      "name": "Subscriptions",
      "description": "Subscription plans, customers, and subscription management"
    },
    {
      "name": "MpesaPaybill",
      "description": "M-Pesa Paybill account management"
    },
    {
      "name": "FXRates",
      "description": "Real-time foreign exchange rates and conversions"
    }
  ]
}