{
  "openapi": "3.0.3",
  "info": {
    "title": "Text2reach SMS API",
    "version": "1.0.0",
    "description": "Text2reach SMS messaging API for sending SMS messages, checking delivery status, and managing credits across 190+ countries.",
    "x-jentic-source-url": "https://www.text2reach.com/en/sms-messaging-api-documentation/"
  },
  "servers": [
    {
      "url": "https://api.text2reach.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/sms/send": {
      "get": {
        "operationId": "sendSms",
        "summary": "Send an SMS message",
        "description": "Send a text message to the provided phone number",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sender name or number"
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Recipient phone number"
          },
          {
            "name": "message",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message text"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Message type"
          },
          {
            "name": "unicode",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Enable unicode characters"
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Timestamp for the message"
          },
          {
            "name": "report_url",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "URL for delivery reports callback"
          },
          {
            "name": "expires",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Message expiration time"
          },
          {
            "name": "schedule",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Schedule delivery time"
          },
          {
            "name": "blacklist",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Check blacklist before sending"
          },
          {
            "name": "shortlink",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Enable short link conversion"
          }
        ],
        "responses": {
          "200": {
            "description": "Message ID or error code",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required parameters",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/sms/status": {
      "get": {
        "operationId": "getMessageStatus",
        "summary": "Check message delivery status",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "msg_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message ID to check"
          }
        ],
        "responses": {
          "200": {
            "description": "Message status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/details": {
      "get": {
        "operationId": "getMessageDetails",
        "summary": "Get extended message details",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "msg_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Message details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/cancel": {
      "get": {
        "operationId": "cancelMessage",
        "summary": "Cancel a scheduled message",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "msg_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message ID to cancel"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancellation status",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/credit": {
      "get": {
        "operationId": "getCreditBalance",
        "summary": "Check credit balance",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Credit amount",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "number"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/prices": {
      "get": {
        "operationId": "getPricing",
        "summary": "Get SMS pricing by country and operator",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv",
                "xls"
              ]
            },
            "description": "Response format"
          }
        ],
        "responses": {
          "200": {
            "description": "Pricing information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/pin": {
      "get": {
        "operationId": "verifyPinCode",
        "summary": "Verify a PIN code",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Phone number"
          },
          {
            "name": "pin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "PIN code to verify"
          }
        ],
        "responses": {
          "200": {
            "description": "Verification result: VALID, UNKNOWN, or EXPIRED",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "VALID",
                    "UNKNOWN",
                    "EXPIRED"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyQuery": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query"
      }
    },
    "schemas": {
      "SendResponse": {
        "type": "string",
        "description": "Message ID (positive) or error code (negative)"
      },
      "ErrorResponse": {
        "type": "string",
        "description": "Negative error code"
      },
      "StatusResponse": {
        "type": "string",
        "description": "Message status",
        "enum": [
          "delivered",
          "undelivered",
          "expired",
          "canceled",
          "rejected",
          "pending",
          "unknown"
        ]
      },
      "MessageDetails": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "operator": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "price": {
            "type": "number"
          }
        }
      },
      "PricingResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "country": {
              "type": "string"
            },
            "operator": {
              "type": "string"
            },
            "price": {
              "type": "number"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "SMS",
      "description": "SMS messaging operations"
    },
    {
      "name": "Account",
      "description": "Account management"
    }
  ]
}