{
  "openapi": "3.0.3",
  "info": {
    "title": "Regrid Parcel API",
    "version": "2.0.0",
    "description": "Regrid Parcel API providing nationwide parcel data searches by point/coordinates, address, assessor parcel number (APN), owner name, field queries, and area geometry. Returns GeoJSON FeatureCollections with parcel records.",
    "x-jentic-source-url": "https://regrid.com/api"
  },
  "servers": [
    {
      "url": "https://app.regrid.com/api/v2",
      "description": "Regrid API v2"
    }
  ],
  "paths": {
    "/parcels/point": {
      "get": {
        "operationId": "searchParcelsByPoint",
        "summary": "Search parcels by coordinates",
        "description": "Delivers parcel records using latitude and longitude points. Supports optional radius buffer.",
        "tags": [
          "Parcel Search"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authorization token"
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Latitude"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Longitude"
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 32000
            },
            "description": "Radius in meters for buffer around point"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 1000
            }
          },
          {
            "name": "offset_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          },
          {
            "name": "return_geometry",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_custom",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_field_labels",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_stacked",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_matched_buildings",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_matched_addresses",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_enhanced_ownership",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_zoning",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection of parcel records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelFeatureCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid coordinates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/parcels/address": {
      "get": {
        "operationId": "searchParcelsByAddress",
        "summary": "Search parcels by address",
        "description": "Delivers parcel records using an address query. Results sorted by relevance.",
        "tags": [
          "Parcel Search"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Street address or partial address"
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Restrict to jurisdiction (e.g., /us/state/county/city)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 1000
            }
          },
          {
            "name": "return_geometry",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_custom",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_field_labels",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_enhanced_ownership",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_zoning",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection sorted by relevance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelFeatureCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/parcels/apn": {
      "get": {
        "operationId": "searchParcelsByApn",
        "summary": "Search parcels by Assessor Parcel Number",
        "description": "Delivers parcel records using the Assessor Parcel Number. Non-alphanumeric characters are removed.",
        "tags": [
          "Parcel Search"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parcelnumb",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Assessor parcel number"
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 1000
            }
          },
          {
            "name": "return_geometry",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_custom",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_field_labels",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_enhanced_ownership",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_zoning",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelFeatureCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/parcels/owner": {
      "get": {
        "operationId": "searchParcelsByOwner",
        "summary": "Search parcels by owner name",
        "description": "Delivers parcel records using the owner name. Use 'Last, First' format. Minimum 4 characters. Not available for Canada.",
        "tags": [
          "Parcel Search"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 4
            },
            "description": "Owner name in Last, First format"
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 1000
            }
          },
          {
            "name": "return_geometry",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_custom",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_field_labels",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_enhanced_ownership",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_zoning",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection sorted by relevance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelFeatureCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/parcels/query": {
      "get": {
        "operationId": "queryParcelsByFields",
        "summary": "Query parcels by schema fields (US)",
        "description": "Queryable at a nationwide level using a subset of 120+ schema fields. Supports up to 4 field filters.",
        "tags": [
          "Parcel Search"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Jurisdiction or state restriction"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 1000
            }
          },
          {
            "name": "offset_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "return_count",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return total count instead of results"
          },
          {
            "name": "return_geometry",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_custom",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_field_labels",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_enhanced_ownership",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_zoning",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection or count integer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelFeatureCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "queryParcelsByFieldsPost",
        "summary": "Query parcels by schema fields (POST)",
        "description": "POST version for complex queries with GeoJSON body.",
        "tags": [
          "Parcel Search"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParcelQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParcelFeatureCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/parcels/area": {
      "get": {
        "operationId": "searchParcelsByArea",
        "summary": "Search parcels in a geographic area",
        "description": "Search for parcel records in a specific geographical area. Up to 80 square miles.",
        "tags": [
          "Parcel Search"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 32000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 1000
            }
          },
          {
            "name": "return_geometry",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_custom",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_field_labels",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_enhanced_ownership",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "return_zoning",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection with area metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "searchParcelsByAreaPost",
        "summary": "Search parcels in area (POST with GeoJSON)",
        "tags": [
          "Parcel Search"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection with area metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "Regrid authorization token"
      }
    },
    "schemas": {
      "ParcelFeatureCollection": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "FeatureCollection"
            ]
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParcelFeature"
            }
          }
        }
      },
      "ParcelFeature": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Feature"
            ]
          },
          "id": {
            "type": "string"
          },
          "geometry": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "coordinates": {
                "type": "array",
                "items": {}
              }
            }
          },
          "properties": {
            "type": "object",
            "properties": {
              "fields": {
                "type": "object",
                "description": "Standardized parcel data fields"
              },
              "context": {
                "type": "object",
                "description": "Geographic context"
              }
            }
          }
        }
      },
      "ParcelQueryRequest": {
        "type": "object",
        "properties": {
          "geojson": {
            "type": "object",
            "description": "GeoJSON geometry, up to 80 sq miles"
          },
          "radius": {
            "type": "integer",
            "minimum": 0,
            "maximum": 32000
          },
          "limit": {
            "type": "integer",
            "default": 20,
            "maximum": 1000
          },
          "path": {
            "type": "string"
          },
          "return_count": {
            "type": "boolean"
          }
        }
      },
      "AreaSearchRequest": {
        "type": "object",
        "required": [
          "geojson"
        ],
        "properties": {
          "geojson": {
            "type": "object",
            "description": "FeatureCollection, Feature, or geometry (up to 80 sq miles)"
          },
          "radius": {
            "type": "integer",
            "minimum": 0,
            "maximum": 32000
          },
          "limit": {
            "type": "integer",
            "default": 20,
            "maximum": 1000
          }
        }
      },
      "AreaSearchResponse": {
        "type": "object",
        "properties": {
          "area": {
            "type": "object",
            "properties": {
              "acres": {
                "type": "number"
              },
              "sq_meters": {
                "type": "number"
              },
              "sq_miles": {
                "type": "number"
              }
            }
          },
          "parcels": {
            "$ref": "#/components/schemas/ParcelFeatureCollection"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ]
}