{
  "openapi": "3.0.3",
  "info": {
    "title": "Appen Platform API",
    "version": "1.1.0",
    "description": "# Introduction\nHello, and welcome to Appen, the leading data annotation platform for Machine Learning. Our API enables developers to build applications that can programmatically create, edit, and launch Appen jobs, download results, and more! \n\nAppen uses a RESTful API that accepts data requests as URL-encoded key-value pairs. Responses are returned in JSON and authentication is key-based.\n\nBefore integrating with the API, we highly recommend you first build and run a job using our [graphical user interface](https://client.appen.com/sessions/new). Once you have run a job successfully and are satisfied with the results, you can automate the process using the Appen API.\n\n# Authentication\nYou will need to supply your Appen API key to access the API. To find your API key:\n1. Click the circular account icon located in the top right corner of any page and then select the Profile option from the dropdown.\n![Appen Authentication](/assets/img/authentication1.png \"Appen Authentication\")\n2. Click the API tab and you can use Generate New to create an API key. Note that creating a new API key will invalidate any previous API keys for this user so remember to update any code using the previous key.\n![Appen API](/assets/img/authentication2.png \"Appen API key\")\n\nFor requests listed below, the API Key will be listed as `{api_key}`. \n\nThe API key needs to be included in the header for every request: \n```\n  headers: { \n\n   \"AUTHORIZATION\" => \"Token token={api_key}\" \n\n  } \n```\n\nYou may also see other variables, such as `{job_id}` for operations pertaining to a specific job, or `{team_id}` when completing operations relevant to an entire team (like listing all available jobs). Job ID's can be determined from the job listing page or the URL. A team id is visible in the URL of the Teams tab in the Account page. \n# Resources\nThere are three primary data objects on Appen that correspond to resources on the API:\n## Jobs\nA **Job** is an interface that connects your data to an online workforce.\n  Each job on the Appen platform has data, instructions, customizable questions for your use case\n  (written in **CML** [](https://success.appen.com/hc/en-us/articles/202817989-CML-Custom-Markup-Language-Overview)),\n  [test questions](https://success.appen.com/hc/en-us/articles/202702985-How-to-Create-Test-Questions),\n  and is worked on by *Contributors*. Contributors submit *Judgments* on the rows of data via a worker interface. \n    * All jobs in a single account can be found [on your jobs page](https://client.appen.com/jobs) and will be\n    identified by a unique numeric id.\n## Units (also known as 'Rows')\nA **Unit** of data is uploaded to the job from your source data file via API or GUI. \n## Judgments \nA **Judgment** is the set of responses submitted by a contributor on a particular unit of data. It is\n  recommended to collect multiple judgments and compare them to one another or aggregate to the top response. For\n  each job, you can specify the number of judgments you would like each row to receive.\n# Responses and Messaging\nEach request to the Appen API returns an HTTP status code response and one or both of the following:\n* An application response message (in JSON) \n* A JSON representation of the object (job, unit, or judgments) requested\nSee the below sections of different API Requests, Responses and Messaging for more information:\n1. [Job Create/Update](/#tag/Job-CreateUpdate)\n2. [Manage Job Data](/#tag/Manage-Job-Data)\n3. [Job Status](/#tag/Job-Status)\n4. [Monitor Contributors](/#tag/Monitor-Contributors)\n5. [Manage Job Settings](/#tag/Manage-Job-Settings)\n6. [Job Results](/#tag/Job-Results)\n7. [Account Info](/#tag/Account-Info)\n8. [Project Flow](/#tag/Project-Flow)\n",
    "license": {
      "name": "Licensed under Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://www.appen.com/privacy-statement/",
    "contact": {
      "email": "help@appen.com"
    },
    "x-jentic-source-url": "https://developer.appen.com/swagger.yaml"
  },
  "servers": [
    {
      "url": "https://api.appen.com/v1",
      "description": "Production Server"
    },
    {
      "url": "https://api-beta.appen.com/v1",
      "description": "APIs in Beta e.g. Project Flow"
    }
  ],
  "paths": {
    "/jobs.json": {
      "post": {
        "tags": [
          "Job Create/Update"
        ],
        "summary": "Create a new Job.",
        "description": "**With no request body** - Creates a new Job with a Job ID—but without data, title, instructions, or other settings values.\n\n**With optional params** - Creates a new Job with Job ID, Title, CML, and Instructions.\n\n**See also:** [`POST /jobs/upload.json`](/#tag/Job-CreateUpdate/paths/~1jobs~1upload.json/post)\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Job Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/new_job"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \\\n\"https://api.appen.com/v1/jobs.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-H \"Content-Type: application/json\" \\\n-d '{\"job\": { \"title\": \"Select the animal types in the image.\", \"instructions\": \"<h1>Some valid</h1><p>html instructions</p>\", \"cml\": \"<h2>Collect Information</h2>\\n<hr />\\n<cml:radios label=\\\"Some Question?\\\" validates=\\\"required\\\" name=\\\"video_found\\\" gold=\\\"true\\\">\\n<cml:radio label=\\\"Yes\\\"></cml:radio>\\n<cml:radio label=\\\"No\\\"></cml:radio>\\n</cml:radios>\" } }'\n"
          }
        ]
      },
      "get": {
        "tags": [
          "Account Info"
        ],
        "summary": "Paginated list all Jobs available to Account (by user or team id).",
        "description": "Queries for all Jobs under the Account related to the API key in the\nrequest.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/team_id"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "in": "query",
            "name": "state",
            "description": "Can be unordered, running, canceled, finished, or paused",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "created_at_greater_equal",
            "description": "Accepts dates in any of the following formats: 2020/03/15, 2020-03-15, 15-03-2020, 03/15/2020",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "created_at_less_equal",
            "description": "Accepts dates in any of the following formats: 2020/03/15, 2020-03-15, 15-03-2020, 03/15/2020",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tags",
            "description": "Specify the name of a tag. Accepts multiple tags, separate tags with  commas i.e. tag1, tag2, tag3, ..., tagn",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON representation of the latest 10 Jobs. Use page={n} query to get\nadditional Jobs.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/new_job"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs.json\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          },
          {
            "lang": "Shell",
            "label": "cURL - w/team_id",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-d \"team_id={team_id}\"\n"
          }
        ]
      }
    },
    "/jobs/upload.json": {
      "post": {
        "tags": [
          "Job Create/Update"
        ],
        "summary": "Create a new job by uploading unit data.",
        "description": "Creates a new Job and uploads rows comprised of the JSON or CSV data in\nthe request. Note that this request invokes the upload operation.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "requestBody": {
          "description": "A **CSV** or **JSON Lines** formatted file of unit data to upload to\nthe Job once it is created.\n",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Job Created, Units uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_upload_job"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/422_unit_limit"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \\\n\"https://api.appen.com/v1/jobs/upload.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-T \"./initial_data.csv\" \\\n-H \"Content-Type: text/csv\"\n"
          }
        ]
      }
    },
    "/jobs/{job_id}.json": {
      "put": {
        "tags": [
          "Manage Job Settings"
        ],
        "summary": "Update a given job.",
        "description": "Update various elements of a job. Your job must have a valid title,\ninstructions, and one \"required\" CML form element to be launched\nsuccessfully.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "in": "query",
            "name": "job[title]",
            "description": "Updates the title of the Job.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "job[instructions]",
            "description": "Updates the instructions of the Job.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "job[cml]",
            "description": "Updates the CML of the Job.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "job[css]",
            "description": "Updates the CSS of the Job.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "job[payment_cents]",
            "description": "Determines the amount, in cents, that Contributors will be paid per\nTask\n",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[judgments_per_unit]",
            "description": "Unit in the refers to a single row in the job",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[quiz_length_configured]",
            "description": "True, for custom number of test questions in Quiz mode",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "job[quiz_length]",
            "description": "Number of test questions in quiz",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[options][req_ttl_in_seconds]",
            "description": "Set the amount of time per assignment. Default is set to 30 minutes.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[units_per_assignment]",
            "description": "Sets the number of Rows that will comprise one Page within a Job.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[pages_per_assignment]",
            "description": "Number of pages to split a single assignment into. \n\nFor example, if Rows per Page is 20 and pages_per_assignment (aka page break up in the UI) is 2, then each page of work will contain 10 rows.\n",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[test_question_frequency]",
            "description": "This value represents the number of test questions per X number of pages in Work Mode. You can configure the frequency to be X test questions per Y pages. \n\nIn Work Mode, the default test question frequency is 1 per page. Please see the [Guide To: Test Question Settings (Quality Control)](https://success.appen.com/hc/en-us/articles/202702975-Guide-To-Test-Question-Settings-Quality-Control-) article in the Success Center for more details.\n",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[test_question_frequency_page]",
            "description": "This value represents the number of pages that X number of test questions will be seen in Work Mode. You can configure the frequency to be X test questions per Y pages.\n\nIn Work Mode, the default test question frequency is 1 per page. Please see the [Guide To: Test Question Settings (Quality Control)](https://success.appen.com/hc/en-us/articles/202702975-Guide-To-Test-Question-Settings-Quality-Control-) article in the Success Center for more details.\n",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[variable_judgments_mode]",
            "description": "Accepts \"none\", \"auto_confidence\" or \"auto_match\". Use in combination with\njob[options][dynamic_judgment_fields], job[max_judgments_per_unit], and\njob[min_unit_confidence] / job[options][auto_match_count] to set dynamic judgments. More info\n[Job Launch > Job Settings > Guide to Dynamic Judgments](https://success.appen.com/hc/en-us/articles/203219205-Job-Settings-Guide-to-Dynamic-Judgments)\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "job[options][dynamic_judgment_fields]",
            "description": "CML form element name that determines row finalization for dynamic\njudgments. More info in the Success center at\n[Job Launch > Job Settings > Guide to Dynamic Judgments](https://success.appen.com/hc/en-us/articles/203219205-Job-Settings-Guide-to-Dynamic-Judgments)\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "job[max_judgments_per_unit]",
            "description": "Maximum number of judgments collected per row. More info in the Success center at\n[Job Launch > Job Settings > Guide to Dynamic Judgments](https://success.appen.com/hc/en-us/articles/203219205-Job-Settings-Guide-to-Dynamic-Judgments)\n",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[min_unit_confidence]",
            "description": "Minimum confidence needed to finalize a row (a number from 0 to 1).\nMore info in the Success center at\n[Job Launch > Job Settings > Guide to: Dynamic Judgments](https://success.appen.com/hc/en-us/articles/203219205-Job-Settings-Guide-to-Dynamic-Judgments)\n",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "job[auto_order]",
            "description": "Automatically launch rows as they are added to the Job",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "job[auto_order_timout]",
            "description": "The time in seconds before automatic ordering of any new rows will\noccur. auto_order must be enabled.\n",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[auto_order_threshold]",
            "description": "The job must have at least this many new rows—or the timeout must\nhave passed—before new rows will be ordered automatically. This\nsetting must be greater than the number of rows per page minus the\nnumber of Test Questions shown per page. auto_order must be enabled.\n",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[ignore_overlapping_names]",
            "description": "When enabling auto-order, you may encounter the following response message: \"You created column headers that duplicate the original uploaded column headers: 'example'. Please use unique column headers or allow duplicate column headers by adding the ignore_overlapping_names=true flag.\" Ignore_overlapping_names allows a job to be launched where a CML name duplicates a source column header.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "job[options][htl_report]",
            "description": "Toggle confidence summary",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "job[webhook_uri]",
            "description": "Add webhook URL",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "job[options][logical_aggregation]",
            "description": "Toggle logical aggregation",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "job[max_judgments_per_worker]",
            "description": "Set max judgments per contributor",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[min_assignment_duration]",
            "description": "Set minimum time per page (expressed as seconds)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[options][reject_at]",
            "description": "Set minimum accuracy",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "job[units_remain_finalized]",
            "description": "Rows will not order new judgments once they are finalized, even if judgments become untrusted",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "job[schedule_fifo]",
            "description": "Schedule rows to collect judgments based on the order in which they were posted to the job",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "job[included_countries]",
            "description": "A list of allowed country codes in ISO 3166 format (e.g. - [\"US\", \"GB\"]) designating countries where contributors are allowed to annotate. Only one of included_countries or excluded_countries can be set per Job. No more than 20 countries can be included.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "job[excluded_countries]",
            "description": "A list of forbidden country codes in ISO 3166 format (e.g. - [\"US\", \"GB\"]) designating countries where contributors are not allowed to annotate. Only one of included_countries or excluded_countries can be set per Job. No more than 15 countries can be excluded.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/new_job"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}.json\" \\\n--data-urlencode \"job[title]=A new title for the Job\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          }
        ]
      },
      "get": {
        "tags": [
          "Job Status"
        ],
        "summary": "Get job attributes.",
        "description": "Gets the .json of the Job identified by the job_id parameter of the\nrequest. This includes the total cost and job state.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON representation of Job"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/tags": {
      "get": {
        "tags": [
          "Manage Job Settings"
        ],
        "summary": "View all job tags.",
        "description": "View all tags in a job.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON application message indicating status of the operation (e.g.,\n\"Unit was successfully created\")\n"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/tags\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Manage Job Settings"
        ],
        "summary": "Add a job tag.",
        "description": "Add a new tag to a job",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "in": "query",
            "name": "tag",
            "description": "Specify the name of a tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON application message indicating status of the operation (e.g.,\n\"Unit was successfully created\")\n"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/tags\" \\\n--data-urlencode \"tags=your_job_tag\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          }
        ]
      },
      "put": {
        "tags": [
          "Manage Job Settings"
        ],
        "summary": "Replace job tags.",
        "description": "Replace the tags in a job",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "in": "query",
            "name": "tag",
            "description": "Specify the name of a tag. Accepts multiple tags, separate tags with\ncommas i.e. tag1, tag2, tag3, ..., tagn\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON application message indicating status of the operation (e.g. 'Unit was successfully created')\n"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/tags\" \\\n--data-urlencode \"tags={tag1,tag2}\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/upload.json": {
      "put": {
        "tags": [
          "Manage Job Data"
        ],
        "summary": "Upload data to an existing job",
        "description": "Upload data to an existing job. Data may be uploaded in JSON or CSV format.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "in": "query",
            "name": "force",
            "description": "The  request fails when the fields in the data uploaded _do not\nmatch_ the fields already present in the job. To override this\nvalidation and force upload data, use the query parameter\n`force=true`.\n",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Accepts JSON or CSV. This action corresponds to uploading a CSV using\nthe \"Add More Data\" button displayed in the UI. Note that this request\ninvokes the upload operation. CSV files must be UTF-8 encoded.\n",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL - CSV",
            "source": "curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/upload.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-H \"Content-Type: text/csv\" \\\n-T \"./additional_data.csv\"\n"
          },
          {
            "lang": "Shell",
            "label": "cURL - JSON",
            "source": "curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/upload.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-H \"Content-Type: application/json\" \\\n-T \"./additional_data.json\"\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/copy.json": {
      "get": {
        "tags": [
          "Job Create/Update"
        ],
        "summary": "Copy the settings and data (optional) for a job.",
        "description": "Copies the Job identified by the `job_id` parameter of the request to a\nnew Job, with a new ID. If `all_units` or `gold` are not specified, then\nonly the job structure is copied (i.e. title, options, instructions and\ncml, etc.)\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "in": "query",
            "name": "all_units",
            "schema": {
              "type": "boolean"
            },
            "description": "All Rows and settings are copied.",
            "required": false
          },
          {
            "in": "query",
            "name": "gold",
            "schema": {
              "type": "boolean"
            },
            "description": "Copies the job identified by the job_id parameter of the request\nwith only its test-question rows. All settings are copied.\n",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Job Copied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/copied_job"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# copy the structure and settings of job {job_id}\ncurl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/copy.json\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          },
          {
            "lang": "Shell",
            "label": "cURL - w/Test Questions",
            "source": "# copy job {job_id} structure and settings with test questions\ncurl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/copy.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-d gold=true\n"
          },
          {
            "lang": "Shell",
            "label": "cURL - w/All Units",
            "source": "# copy job {job_id} structure and settings with unit data and test questions\ncurl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/copy.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-d all_units=true\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/units.json": {
      "get": {
        "tags": [
          "Manage Job Data"
        ],
        "summary": "Paginated list of Units in Job",
        "description": "Gets **Units** for the **Job** identified by the `job_id` parameter of\nthe request. Defaults to 1000 Units per page, in order to get the next\n1000 rows, you must increment the value of `page`. Keep doing so until\nan empty hash is returned.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Displays 1000 units at a time.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    {
                      "id": "1234,"
                    },
                    {
                      "data": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/units.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-d \"page=1\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Manage Job Data"
        ],
        "summary": "Add Unit(s) to job",
        "description": "Creates a new Row in an existing Job. This is the request format and endpoint to use for unit-by-unit posting. This endpoint cannot add multiple units in a single request.\n\n*Note:* test questions can also be uploaded using this endpoint. First, upload units that have a field `_golden=true`, then use the [Convert uploaded test questions](#tag/Manage-Job-Data/paths/~1jobs~1{job_id}~1gold.json/put) endpoint.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "in": "query",
            "name": "unit[data][{column1,2,3...x}]",
            "description": "Accepts multiple columns, and individual data strings per column",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "unit[data][column1,2,...x_gold]",
            "description": "Accepts multiple columns, and individual data strings per column",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "unit[data][_golden]",
            "description": "TBD",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "JSON object of the row created, including its id, data, and related\nJob id. JSON application message indicating status of the operation\n(e.g., Unit was successfully created)\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unit"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/units.json\" \\\n-d \"unit[data][image_url]=some_data_1\" \\\n-d \"unit[data][description]=some_data_2\" \\\n-d \"unit[data][uid]=some_data_3\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/units/{unit_id}.json": {
      "put": {
        "tags": [
          "Manage Job Data"
        ],
        "summary": "Change unit state.",
        "description": "Update `state` for specific units on a job.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/unit_id"
          },
          {
            "in": "query",
            "name": "unit[state]",
            "description": "Changes the state (e.g., new, golden, finalized, canceled,\nhidden_gold) of the Row specified in the request\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object comprising Judgment count, Row state, and timestamp values.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/unit"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/units/{unit_id}.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n--data-urlencode \"unit[state]={new}\"\n"
          }
        ]
      },
      "get": {
        "tags": [
          "Job Results"
        ],
        "summary": "Get data for a Unit",
        "description": "Get source data, all judgments and aggregate result for a specified\nrow.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/unit_id"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object comprising judgment count, row state, and timestamp\nvalues.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/unit"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/units/{unit_id}.json\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "Manage Job Data"
        ],
        "summary": "Delete a unit",
        "description": "Delete a unit if the job state and unit state are valid for deletion.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/unit_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "string",
                          "example": "Unit {unit_id} has been deleted."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X DELETE \\\n\"https://api.appen.com/v1/jobs/{job_id}/units/{unit_id}.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/units/delete_with_no_judgments": {
      "delete": {
        "tags": [
          "Manage Job Data"
        ],
        "summary": "Delete all units with zero judgments in a job.",
        "description": "Delete all units with zero judgments in a job. To delete all units including gold and hidden gold units, make the gold query parameter equal to true. A false or nil gold query parameter will only delete units with zero judgments that are not gold and hidden gold units. The job must be in a canceled, paused, or new state.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "in": "query",
            "name": "gold",
            "description": "To delete all units with zero judgments on the job including gold and hidden units make `gold=true`. To only delete units with zero judgments excluding gold and hidden units, use `gold=false`. A nil gold query parameter will default to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "string",
                          "example": "Units have been scheduled for deletion."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "You cannot delete units on a job that is not paused, canceled, or new.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "You cannot delete units on a job that is not paused, canceled, or new."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An error occurred on the server."
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X DELETE \\\n\"https://api.appen.com/v1/jobs/{job_id}/units/delete_with_no_judgments?gold=true\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/units/{unit_id}/cancel.json": {
      "post": {
        "tags": [
          "Manage Job Data"
        ],
        "summary": "Cancel a unit.",
        "description": "Will cancel a unit in state New or Judgable if the row has not collected any judgments yet.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/unit_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "Unit {unit_id} has been canceled."
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/units/{unit_id}/cancel.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/gold.json": {
      "put": {
        "tags": [
          "Manage Job Data"
        ],
        "summary": "Convert uploaded test questions.",
        "description": "Corresponds to the \"Convert Uploaded Test Questions\" button on the Job's DATA page.\nAll units where `_golden` is set to `true` will be converted to test questions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Test Question Rows in the specified Job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unit"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/gold.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/test_questions": {
      "get": {
        "tags": [
          "Manage Job Data"
        ],
        "summary": "Get all test question units.",
        "description": "Get all test question units.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Test Question Rows in the specified Job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unit"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/gold.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/units/ping.json": {
      "get": {
        "tags": [
          "Manage Job Data"
        ],
        "summary": "Get count of all rows in a job.",
        "description": "Get count of all rows in a job.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing count of Rows in Job"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/units/ping.json\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/languages": {
      "get": {
        "tags": [
          "Manage Job Data"
        ],
        "summary": "Get all available languages for a job.",
        "description": "Get all available languages for a job.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing all languages available for job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/languages"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. An error occurred on the server."
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/languages\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/language": {
      "get": {
        "tags": [
          "Manage Job Data"
        ],
        "summary": "Get the language of a job.",
        "description": "Get the language of a job.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object containing the language for a job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/language"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. An error occurred on the server."
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/language\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          }
        ]
      },
      "put": {
        "tags": [
          "Manage Job Data"
        ],
        "summary": "Sets the language of a job.",
        "description": "Sets the language of a job. Available languages at the time of this writing include: Arabic, German, English, Spanish, Hindi, Bahasa (Indonesian), Italian, Japanese, Portuguese, Russian, Turkish, Vietnamese, and Chinese. \n\nSee GET {job_id}/languages endpoint for list of available languages and corresponding {language_id}s for a job.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "language_id": {
                    "type": "integer",
                    "example": 19
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON application message indicating status of the operation (e.g.,\n\"Language was successfully updated.\")'\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Language was successfully updated."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. An error occurred on the server."
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/language \\\n-H \"Authorization: Token token={api_key} \\\n-data-raw '{ \\\n  \"language_id\": 7 }\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/channels": {
      "get": {
        "tags": [
          "Manage Job Settings"
        ],
        "summary": "List of channels settings",
        "description": "View all labor Channels via which the Job can be accessed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - List of available and enabled Channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/channels"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/channels\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Manage Job Settings"
        ],
        "summary": "Add a contributor channel to the job.",
        "description": "Add a **Channel** via which the **Job** can be accessed and worked on by **Contributors**.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/channel_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - List of available and enabled channels.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/channels"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/channels\" \\\n--data-urlencode \"channels={channel_id}\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/disable_channel": {
      "post": {
        "tags": [
          "Manage Job Settings"
        ],
        "summary": "Disconnect a channel from the job.",
        "description": "Remove a channel via which the job can be accessed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/channel_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - List of available and enabled channels.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/channels"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/disable_channel\" \\\n--data \"channel_name={channel_id}\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/ontology": {
      "get": {
        "servers": [
          {
            "url": "https://api-proxy.appen.com/v1",
            "description": "Production Server"
          }
        ],
        "tags": [
          "Job Ontology"
        ],
        "summary": "Get Job Ontology",
        "description": "Get the Ontology from a Job in JSON format.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON Array describing the Ontology",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ontology"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api-proxy.appen.com/v1/jobs/{job_id}/ontology\"\n-H \"Authorization: Token token={api_key}\"\n"
          }
        ]
      },
      "put": {
        "servers": [
          {
            "url": "https://api-proxy.appen.com/v1",
            "description": "Production Server"
          }
        ],
        "tags": [
          "Job Ontology"
        ],
        "summary": "Update Job Ontology",
        "description": "Update the Ontology for a Job. If the Ontology doesn't exist then a new Ontology\nis created. (Note: Not all Job types accept a JSON formatted Ontology, please\nrefer to the [documentation](https://success.appen.com/hc/en-us/articles/360015150252-Guide-To-Ontology-Manager?mobile_site=false)\nfor more information).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ontology"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - The Ontology was updated."
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X PUT \\\n\"https://api-proxy.appen.com/v1/jobs/{job_id}/ontology\"\\\n-H \"Authorization: Token token={api_key}\" \\\n--data-raw '[\n  {\n    \"description\": \"Ego vehicle, parking, static objects (trash bins), dynamic (garbage on sidewalk), bridge... etc. (see job description if unsure)\",\n    \"class_name\": \"void\",\n    \"display_color\": \"#000000\",\n    \"children\": [\n            {\n                \"description\": \"Children of the void class\",\n                \"class_name\": \"children\",\n                \"display_color\": \"#ca03fc\"\n            }\n        ]\n  }\n]'\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/ontology.csv": {
      "get": {
        "servers": [
          {
            "url": "https://api-proxy.appen.com/v1",
            "description": "Production Server"
          }
        ],
        "tags": [
          "Job Ontology"
        ],
        "summary": "Get Job Ontology (CSV)",
        "description": "Get the Ontology from a Job in CSV format.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "The Ontology data formated in CSV.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "description,class_name,display_color,\n\"NOT Ego vehicle, parking, static objects (trash bins), dynamic (garbage on sidewalk), bridge... etc. (see job description if unsure)\",not_void,#000000\n"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api-proxy.appen.com/v1/jobs/{job_id}/ontology.csv\"\n-H \"Authorization: Token token={api_key}\"\n"
          }
        ]
      },
      "put": {
        "servers": [
          {
            "url": "https://api-proxy.appen.com/v1",
            "description": "Production Server"
          }
        ],
        "tags": [
          "Job Ontology"
        ],
        "summary": "Update Job Ontology (CSV)",
        "description": "Update the Ontology for a Job. If the Ontology doesn't exist then a new Ontology\nis created. (Note: Not all Job types accept a CSV formatted Ontology, please\nrefer to the [documentation](https://success.appen.com/hc/en-us/articles/360015150252-Guide-To-Ontology-Manager?mobile_site=false)\nfor more information).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "requestBody": {
          "description": "A **CSV** formatted file of the Ontology to upload to the Job.\n",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - The Ontology was updated."
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X PUT \\\n\"https://api-proxy.appen.com/v1/jobs/{job_id}/ontology\"\\\n-H \"Authorization: Token token={api_key}\" \\\n--form 'file=@{path_to_csv}'\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/orders.json": {
      "post": {
        "tags": [
          "Job Status"
        ],
        "summary": "Launch a job.",
        "description": "Launch a job.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/channel_id"
          },
          {
            "in": "query",
            "name": "debit[units_count]",
            "required": true,
            "description": "The number of rows to be launched",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON object, including credit balance, starting and ending Unit id's,\netc.\n"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL - On Demand Channel",
            "source": "curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/orders.json\" \\\n--data-urlencode \"channels[0]=on_demand\" \\\n--data-urlencode \"debit[units_count]=100\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          },
          {
            "lang": "Shell",
            "label": "cURL - Internal Channel",
            "source": "curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/orders.json\" \\\n--data-urlencode \"channels[0]=cf_internal\" \\\n--data-urlencode \"debit[units_count]=100\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          },
          {
            "lang": "Shell",
            "label": "cURL - Two Channels",
            "source": "curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/orders.json\" \\\n--data-urlencode \"channels[0]=on_demand\" \\\n--data-urlencode \"channels[1]=cf_internal\" \\ \n--data-urlencode \"debit[units_count]=100\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/pause.json": {
      "get": {
        "tags": [
          "Job Status"
        ],
        "summary": "Pause a job.",
        "description": "Pause a Job that is currently running.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "Your job is being paused."
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/pause.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/resume.json": {
      "get": {
        "tags": [
          "Job Status"
        ],
        "summary": "Resume a job.",
        "description": "Resume a job that had been paused.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "Your job is being resumed."
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/resume.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/cancel.json": {
      "get": {
        "tags": [
          "Job Status"
        ],
        "summary": "Cancel a job.",
        "description": "Cancels a job.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "Your job is being canceled."
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/cancel.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/archive": {
      "post": {
        "tags": [
          "Job Status"
        ],
        "summary": "Archive a job.",
        "description": "Schedules a job to be archived only if the job is not in running, launching, paused, archived, or archiving states.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Archive request has been registered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "example": "UPDATED"
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "NOT MODIFIED. Archive request is already registered."
          },
          "403": {
            "description": "FORBIDDEN. Archive request is not allowed for the user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "example": "ACTION_FORBIDDEN"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND. Job not found.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "example": [
                        "Job not found"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "UNPROCESSABLE. Archive can't be applied now.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "example": "JOB_ARCHIVE_STATE_VALIDATION_FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \\\n\"https://api.appen.com/v2/jobs/{job_id}/archive\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/restore": {
      "post": {
        "tags": [
          "Job Status"
        ],
        "summary": "Restore an archived job.",
        "description": "Schedules a restore of an archived job's unit(s) and related judgment data. The schedule runs in seconds to minutes depending on the size of the job. Use only if report data and dashboard info with archive list is not enough.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Restore request has been registered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "example": "UPDATED"
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "NOT MODIFIED. Restore request is already registered."
          },
          "403": {
            "description": "FORBIDDEN. Restore request is not allowed for the user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "example": "ACTION_FORBIDDEN"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND. Job not found.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "example": [
                        "Job not found"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "UNPROCESSABLE. Restore can't be applied now - most likely due to Job archive process being underway.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "example": "JOB_ARCHIVE_STATE_VALIDATION_FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \\\n\"https://api.appen.com/v2/jobs/{job_id}/restore\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/hard": {
      "delete": {
        "tags": [
          "Job Status"
        ],
        "summary": "Permanently delete a job and all its data",
        "description": "Schedules a permanent delete of a job and all its data. Job cannot be restored after. If a job is in launching, running or paused state, it cannot be deleted. Only job creator and team admin can use this endpoint. In the end of the process initiator receives an email about successful deletion.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Delete request has been registered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "example": "requested"
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "NOT MODIFIED. Delete request is already registered."
          },
          "403": {
            "description": "FORBIDDEN. Delete request is not allowed for the user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "example": "ACTION_FORBIDDEN"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND. Job not found.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "type": "array",
                      "example": [
                        "Job not found"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "UNPROCESSABLE. Delete can't be applied now - most likely due to Job state.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "example": "JOB_DELETE_STATE_VALIDATION_FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X DELETE \\\n\"https://api.appen.com/v2/jobs/{job_id}/hard\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/ping.json": {
      "get": {
        "tags": [
          "Job Status"
        ],
        "summary": "Get the status of a job.",
        "description": "Get the Status of a Job (includes Unit and Judgment counts).",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - JSON payload comprising judgment and row counts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "golden_units": {
                      "type": "integer",
                      "example": 22
                    },
                    "all_units": {
                      "type": "integer",
                      "example": 220
                    },
                    "ordered_units": {
                      "type": "integer",
                      "example": 100
                    },
                    "completed_units_estimate": {
                      "type": "integer",
                      "example": 88
                    },
                    "needed_jugdments": {
                      "type": "integer",
                      "example": 36
                    },
                    "all_judgments": {
                      "type": "integer",
                      "example": 264
                    },
                    "tainted_judgments": {
                      "type": "integer",
                      "example": 0
                    },
                    "completed_gold_estimate": {
                      "type": "integer",
                      "example": 11
                    },
                    "completed_non_gold_estimate": {
                      "type": "integer",
                      "example": 77
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/ping.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/regenerate.json": {
      "post": {
        "tags": [
          "Job Results"
        ],
        "summary": "Regenerate a job report.",
        "description": "Regenerate a report of job output. See below for available report types.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/type"
          }
        ],
        "responses": {
          "302": {
            "description": "redirect"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/regenerate\" \\\n-d \"type=aggregated\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}.csv": {
      "get": {
        "tags": [
          "Job Results"
        ],
        "summary": "Download a job report.",
        "description": "Download a report from a job.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/type"
          },
          {
            "in": "query",
            "name": "filename",
            "required": true,
            "description": "Name the output file",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "created"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -L -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}.csv\" \\\n-d \"type=aggregated\" \\\n-H \"Authorization: Token token={api_key}\" \\ \\\n-o \"output_filename.zip\"\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/units/{unit_id}/judgments.json": {
      "get": {
        "tags": [
          "Job Results"
        ],
        "summary": "Get all judgments w/aggregated responses.",
        "description": "Get all judgments and aggregated responses per row",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/unit_id"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON array of all Judgments received for the Row indicated in the\nrequest.\n"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/units/{unit_id}/judgments.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/judgments.json": {
      "get": {
        "tags": [
          "Job Results"
        ],
        "summary": "Get rows with judgments.",
        "description": "Get rows and their judgments",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON array of 100 rows with received judgments for the Job indicated\nin the request. In order to get the next 100 rows, you must\nincrement the value of page. Keep doing so until an empty hash is\nreturned.\n"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X GET \\\n\"https://api.appen.com/v1/jobs/{job_id}/judgments.json\" \\\n-H \"Authorization: Token token={api_key}\" \\\n-d \"page=1\"\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/workers/{contributor_id}/bonus.json": {
      "post": {
        "tags": [
          "Monitor Contributors"
        ],
        "summary": "Pay a contributor bonus.",
        "description": "Pay a Contributor Bonus. Deposits bonus payment amount specified in the\nrequest into the indicated Contributor's account. Corresponds to Award\nBonus button in the UI.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/contributor_id"
          },
          {
            "in": "query",
            "name": "amount",
            "description": "A USD value specified in cents i.e. $5.00 == `amount=500`",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON application message indicating status of operation"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# pay a $5 USD bonus to worker identified by {contributor_id} \ncurl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/workers/{contributor_id}/bonus.json\" \\\n-d \"amount=500\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/workers/{contributor_id}/notify.json": {
      "post": {
        "tags": [
          "Monitor Contributors"
        ],
        "summary": "Send a message to a contributor.",
        "description": "Notify a Contributor. Notifies a Contributor with the message provided\nin the request.  The notification appears in the Contributor's\ndashboard. Corresponds to the Notify Contributor button showns in the\nUI.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/contributor_id"
          },
          {
            "in": "query",
            "name": "message",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON application message indicating status of operation"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# send praise to worker identified by {contributor_id};\ncurl -X POST \\\n\"https://api.appen.com/v1/jobs/{job_id}/workers/{contributor_id}/notify.json\" \\\n--data-urlencode \"message=Nice work on X, thanks!!\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/workers/{contributor_id}.json": {
      "put": {
        "tags": [
          "Monitor Contributors"
        ],
        "summary": "Control contributor flags.",
        "description": "Flag and unflag contributors on a job",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/contributor_id"
          },
          {
            "in": "query",
            "name": "flag",
            "required": false,
            "description": "Flags a contributor with the reason indicated in the request.\nCorresponds to the Flag button on the Contributors page.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "unflag",
            "required": false,
            "description": "Unflags a contributor with the reason indicated in the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "persist",
            "required": false,
            "description": "Flags a contributor with the reason indicated in the request across\nall jobs for a user. Corresponds to the Flag button on the\nContributors page.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON application message indicating status of operation"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL - flag",
            "source": "# flag worker identified by {contributor_id};\ncurl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/workers/{contributor_id}.json\" \\\n--data-urlencode \"flag=All answers in Job 12345 were ASDFGHJK\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          },
          {
            "lang": "Shell",
            "label": "cURL - unflag",
            "source": "# flag worker identified by {contributor_id};\ncurl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/workers/{contributor_id}.json\" \\\n--data-urlencode \"unflag=There was an encoding issue that garbled their answers\" \\\n-H \"Authorization: Token token={api_key}\" \\\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/workers/{contributor_id}/reject.json": {
      "put": {
        "tags": [
          "Monitor Contributors"
        ],
        "summary": "Reject a contributor.",
        "description": "Rejects a contributor with the reason indicated in the request.",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/contributor_id"
          },
          {
            "in": "query",
            "name": "reason",
            "required": false,
            "description": "Flags a contributor with the reason indicated in the request.\nCorresponds to the Flag button on the Contributors page.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "manual",
            "required": true,
            "description": "Set to \"true\" for the reject to work...",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON application message indicating status of operation"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# reject worker identified by {contributor_id}\ncurl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/workers/{contributor_id}/reject.json\" \\\n-d \"reason=All answers in Job 12345 were ASDFGHJK\" \\\n-d \"manual=true\" \\\n-H \"Authorization: Token token={api_key}\"\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/workers/{contributor_id}/ban.json": {
      "put": {
        "tags": [
          "Monitor Contributors"
        ],
        "summary": "Ban a contributor.",
        "description": "BAN-Ban means that the contributor will not be allowed to annotate, label or collect data on any job going forward until “unbanned”. A contributor is banned from being a contributor on ADAP.\n\nPreconditions: The Job must be in running or finished state. You must be at least a team admin to ban contributors.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/contributor_id"
          },
          {
            "in": "query",
            "name": "reason",
            "required": true,
            "description": "A textual reason the ban was issued.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "string",
                          "example": "Contributor banned"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "warning": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Contributor has already been banned"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "We could not find what you were looking for."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An error occurred on the server.\n"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/workers/{contributor_id}/ban.json \\\n-H \"Authorization: Token token={api_key} \\\n-d \"reason=All answers in Job 12345 were ASDFGHJK\"\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/workers/{contributor_id}/unban.json": {
      "put": {
        "tags": [
          "Monitor Contributors"
        ],
        "summary": "Unban a contributor.",
        "description": "UNBAN- Reinstates the contributor on ADAP. Unban removes the ban and permits the contributor to annotate, label or collect data for jobs again.\n\nPreconditions: The Job must be in running or finished state. You must be at least a team admin to unban contributors.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/contributor_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "string",
                          "example": "Contributor un-banned"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "warning": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Contributor is not banned"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "We could not find what you were looking for."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An error occurred on the server.\n"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X PUT \\\n\"https://api.appen.com/v1/jobs/{job_id}/workers/{contributor_id}/unban.json \\\n-H \"Authorization: Token token={api_key}\n"
          }
        ]
      }
    },
    "/customer_job_templates": {
      "post": {
        "tags": [
          "Customer Job Templates"
        ],
        "summary": "Create job template",
        "description": "Create a new **Job Template** based on the provided job_id.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/api_key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/job_template_request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creates **Job Template** associated with the account and based on provided **Job** id\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/create_job_template"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "description": "Unprocessable Entity. A request parameter was malformed or missing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST \\\n-H \"Authorization: Token token={api_key}\" \\\n-H \"Content-Type: application/json\" \\\n\"https://api.appen.com/v2/customer_job_templates.json\" \\\n-d '{\"job_template\":{\"title\":\"Job Template Title\",\"job_id\":\"1\",\"description\":\"description\",\"template_type\":\"survey\",\"image_url\":\"http://example-url.com\",\"job_template_type_ids\":[3],\"visible\":\"true\",\"order_number_position\":\"1\"}}'\n"
          }
        ]
      }
    },
    "/customer_job_templates.json": {
      "get": {
        "tags": [
          "Customer Job Templates"
        ],
        "summary": "Get a list of customer job templates",
        "description": "Gets a list of **Job Templates** created by the user. Also it's possible to add team level templates.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "in": "query",
            "name": "include_team_templates",
            "schema": {
              "type": "string"
            },
            "description": "If set to \"true\", add team level templates to the list"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "The numbers of items to return"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            },
            "description": "The number of items to skip before starting to collect the result set"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets a list of **Job Templates** for the user\n",
            "content": {
              "application/json": {
                "schema": {
[...]
