{
  "openapi": "3.0.3",
  "info": {
    "title": "Assertible Deployments API",
    "version": "1.0.0",
    "description": "API for triggering deployment-based test runs in Assertible. Create or update deployments to automatically run tests against your web services.",
    "x-jentic-source-url": "https://assertible.com/docs/guide/deployments"
  },
  "servers": [
    {
      "url": "https://assertible.com",
      "description": "Assertible Production API"
    }
  ],
  "paths": {
    "/deployments": {
      "post": {
        "operationId": "createDeployment",
        "summary": "Create or update a deployment",
        "description": "Triggers a deployment-based test run for a web service. If a POST request is made twice with the same service, environment, and version, the deployment is updated.",
        "tags": [
          "Deployments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deployment created or updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your Assertible API token as the username with an empty password"
      }
    },
    "schemas": {
      "DeploymentRequest": {
        "type": "object",
        "required": [
          "service",
          "version"
        ],
        "properties": {
          "service": {
            "type": "string",
            "format": "uuid",
            "description": "The web service identifier"
          },
          "version": {
            "type": "string",
            "description": "The application version identifier"
          },
          "environment": {
            "type": "string",
            "description": "Named environment to run tests against. Defaults to 'production'",
            "default": "production"
          },
          "environmentUrl": {
            "type": "string",
            "format": "uri",
            "description": "Specific URL for transient environments"
          },
          "ref": {
            "type": "string",
            "description": "Commit hash. Required when using the github parameter"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "External URL for deployment details"
          },
          "github": {
            "type": "boolean",
            "description": "Enable GitHub status checks"
          },
          "repository": {
            "type": "string",
            "description": "GitHub repository specification (e.g., owner/repo)"
          },
          "tests": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Specific test IDs to execute"
          },
          "testGroups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Test groups to execute"
          },
          "wait": {
            "type": "boolean",
            "default": false,
            "description": "Whether to wait for test completion before responding"
          }
        }
      },
      "DeploymentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The deployment identifier"
          },
          "runId": {
            "type": "string",
            "description": "The test run identifier"
          },
          "testRun": {
            "$ref": "#/components/schemas/TestRun"
          }
        }
      },
      "TestRun": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the test run"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}