{
  "openapi": "3.0.3",
  "info": {
    "title": "Mercedes-Benz Developer API",
    "description": "Access telematics data, remotely control vehicle functions, use the car configurator, and locate service dealers through the Mercedes-Benz developer platform.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developer.mercedes-benz.com/apis",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.mercedes-benz.com/v1",
      "description": "Mercedes-Benz API Production Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Vehicle Status",
      "description": "Vehicle telematics and status data"
    },
    {
      "name": "Vehicle Control",
      "description": "Remote vehicle function control"
    },
    {
      "name": "Configurator",
      "description": "Car configurator for models, engines, and options"
    },
    {
      "name": "Dealers",
      "description": "Service dealer locator"
    }
  ],
  "paths": {
    "/vehicles": {
      "get": {
        "tags": [
          "Vehicle Status"
        ],
        "summary": "List vehicles",
        "description": "Retrieve a list of vehicles associated with the authenticated user.",
        "operationId": "listVehicles",
        "responses": {
          "200": {
            "description": "List of vehicles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/status": {
      "get": {
        "tags": [
          "Vehicle Status"
        ],
        "summary": "Get vehicle status",
        "description": "Retrieve the current status and telematics data for a specific vehicle including fuel level, mileage, tire pressure, and more.",
        "operationId": "getVehicleStatus",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "description": "Unique vehicle identifier (FIN/VIN)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle status data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Vehicle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/location": {
      "get": {
        "tags": [
          "Vehicle Status"
        ],
        "summary": "Get vehicle location",
        "description": "Retrieve the last known location of a vehicle.",
        "operationId": "getVehicleLocation",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "description": "Unique vehicle identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle location data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/doors": {
      "post": {
        "tags": [
          "Vehicle Control"
        ],
        "summary": "Lock or unlock doors",
        "description": "Remotely lock or unlock the vehicle doors.",
        "operationId": "controlDoors",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "description": "Unique vehicle identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DoorControlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/windows": {
      "post": {
        "tags": [
          "Vehicle Control"
        ],
        "summary": "Control windows",
        "description": "Remotely open or close the vehicle windows.",
        "operationId": "controlWindows",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "description": "Unique vehicle identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WindowControlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/configurator/markets": {
      "get": {
        "tags": [
          "Configurator"
        ],
        "summary": "List available markets",
        "description": "Retrieve the list of available markets for the car configurator.",
        "operationId": "listMarkets",
        "responses": {
          "200": {
            "description": "List of markets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/configurator/markets/{marketId}/models": {
      "get": {
        "tags": [
          "Configurator"
        ],
        "summary": "List models for a market",
        "description": "Retrieve available vehicle models for a specific market.",
        "operationId": "listConfiguratorModels",
        "parameters": [
          {
            "name": "marketId",
            "in": "path",
            "required": true,
            "description": "Market identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfiguratorModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/configurator/markets/{marketId}/models/{modelId}/configurations": {
      "get": {
        "tags": [
          "Configurator"
        ],
        "summary": "Get model configurations",
        "description": "Retrieve available configuration options for a specific model in a market.",
        "operationId": "getModelConfigurations",
        "parameters": [
          {
            "name": "marketId",
            "in": "path",
            "required": true,
            "description": "Market identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "description": "Model identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model configuration options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelConfigurationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/configurator/markets/{marketId}/models/{modelId}/images": {
      "get": {
        "tags": [
          "Configurator"
        ],
        "summary": "Get model images",
        "description": "Retrieve images of a configured vehicle.",
        "operationId": "getModelImages",
        "parameters": [
          {
            "name": "marketId",
            "in": "path",
            "required": true,
            "description": "Market identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "description": "Model identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perspective",
            "in": "query",
            "required": false,
            "description": "Image perspective/angle",
            "schema": {
              "type": "string",
              "enum": [
                "front",
                "rear",
                "side",
                "interior",
                "top"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle images",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dealers": {
      "get": {
        "tags": [
          "Dealers"
        ],
        "summary": "Search for dealers",
        "description": "Locate Mercedes-Benz service dealers near a given location.",
        "operationId": "searchDealers",
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "description": "Latitude of search center",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "description": "Longitude of search center",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Search radius in kilometers",
            "schema": {
              "type": "number",
              "format": "double",
              "default": 50
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Dealer type filter",
            "schema": {
              "type": "string",
              "enum": [
                "sales",
                "service",
                "parts"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of dealers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealerListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dealers/{dealerId}": {
      "get": {
        "tags": [
          "Dealers"
        ],
        "summary": "Get dealer details",
        "description": "Retrieve detailed information about a specific dealer.",
        "operationId": "getDealerDetails",
        "parameters": [
          {
            "name": "dealerId",
            "in": "path",
            "required": true,
            "description": "Unique dealer identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dealer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealerDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Dealer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key obtained from the Mercedes-Benz developer portal"
      }
    },
    "schemas": {
      "Vehicle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Vehicle identifier (FIN/VIN)"
          },
          "model": {
            "type": "string",
            "description": "Vehicle model name"
          },
          "licensePlate": {
            "type": "string",
            "description": "License plate number"
          }
        }
      },
      "VehicleStatus": {
        "type": "object",
        "properties": {
          "fuelLevel": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "description": "Fuel level percentage"
              },
              "unit": {
                "type": "string",
                "description": "Unit of measurement"
              }
            }
          },
          "odometer": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "description": "Odometer reading"
              },
              "unit": {
                "type": "string",
                "description": "Unit (km or miles)"
              }
            }
          },
          "tirePressure": {
            "type": "object",
            "properties": {
              "frontLeft": {
                "type": "number"
              },
              "frontRight": {
                "type": "number"
              },
              "rearLeft": {
                "type": "number"
              },
              "rearRight": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              }
            }
          },
          "doorStatus": {
            "type": "object",
            "properties": {
              "frontLeft": {
                "type": "string",
                "enum": [
                  "open",
                  "closed",
                  "locked"
                ]
              },
              "frontRight": {
                "type": "string",
                "enum": [
                  "open",
                  "closed",
                  "locked"
                ]
              },
              "rearLeft": {
                "type": "string",
                "enum": [
                  "open",
                  "closed",
                  "locked"
                ]
              },
              "rearRight": {
                "type": "string",
                "enum": [
                  "open",
                  "closed",
                  "locked"
                ]
              },
              "trunk": {
                "type": "string",
                "enum": [
                  "open",
                  "closed",
                  "locked"
                ]
              }
            }
          },
          "windowStatus": {
            "type": "object",
            "properties": {
              "frontLeft": {
                "type": "string",
                "enum": [
                  "open",
                  "closed",
                  "intermediate"
                ]
              },
              "frontRight": {
                "type": "string",
                "enum": [
                  "open",
                  "closed",
                  "intermediate"
                ]
              },
              "rearLeft": {
                "type": "string",
                "enum": [
                  "open",
                  "closed",
                  "intermediate"
                ]
              },
              "rearRight": {
                "type": "string",
                "enum": [
                  "open",
                  "closed",
                  "intermediate"
                ]
              }
            }
          },
          "electricStatus": {
            "type": "object",
            "properties": {
              "batteryLevel": {
                "type": "number",
                "description": "Battery charge percentage (for electric/hybrid)"
              },
              "chargingStatus": {
                "type": "string",
                "enum": [
                  "charging",
                  "not_charging",
                  "complete"
                ]
              },
              "range": {
                "type": "number",
                "description": "Estimated remaining range in km"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the status data"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "heading": {
            "type": "number",
            "description": "Vehicle heading in degrees"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DoorControlRequest": {
        "type": "object",
        "required": [
          "action"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "lock",
              "unlock"
            ],
            "description": "Door control action"
          }
        }
      },
      "WindowControlRequest": {
        "type": "object",
        "required": [
          "action"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "open",
              "close"
            ],
            "description": "Window control action"
          }
        }
      },
      "Market": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Market identifier"
          },
          "name": {
            "type": "string",
            "description": "Market name"
          },
          "country": {
            "type": "string",
            "description": "Country code"
          }
        }
      },
      "ConfiguratorModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Model identifier"
          },
          "name": {
            "type": "string",
            "description": "Model name"
          },
          "class": {
            "type": "string",
            "description": "Vehicle class"
          },
          "priceFrom": {
            "type": "number",
            "format": "double",
            "description": "Starting price"
          },
          "currency": {
            "type": "string",
            "description": "Price currency"
          }
        }
      },
      "ModelConfiguration": {
        "type": "object",
        "properties": {
          "engines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "fuelType": {
                  "type": "string"
                },
                "power": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                }
              }
            }
          },
          "colors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "metallic",
                    "solid",
                    "special"
                  ]
                },
                "hexCode": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                }
              }
            }
          },
          "upholsteries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                }
              }
            }
          },
          "packages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "Dealer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "street": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "postalCode": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "phone": {
            "type": "string"
          },
          "type": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "sales",
                "service",
                "parts"
              ]
            }
          },
          "distance": {
            "type": "number",
            "description": "Distance from search point in km"
          }
        }
      },
      "DealerDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Dealer"
          },
          {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "website": {
                "type": "string",
                "format": "uri"
              },
              "openingHours": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "open": {
                      "type": "string"
                    },
                    "close": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "VehicleListResponse": {
        "type": "object",
        "properties": {
          "vehicles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vehicle"
            }
          }
        }
      },
      "VehicleStatusResponse": {
        "type": "object",
        "properties": {
          "vehicleId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/VehicleStatus"
          }
        }
      },
      "LocationResponse": {
        "type": "object",
        "properties": {
          "vehicleId": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "CommandResponse": {
        "type": "object",
        "properties": {
          "commandId": {
            "type": "string",
            "description": "Unique identifier for the command"
          },
          "status": {
            "type": "string",
            "enum": [
              "accepted",
              "processing",
              "completed",
              "failed"
            ],
            "description": "Current status of the command"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MarketsResponse": {
        "type": "object",
        "properties": {
          "markets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Market"
            }
          }
        }
      },
      "ConfiguratorModelsResponse": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfiguratorModel"
            }
          }
        }
      },
      "ModelConfigurationsResponse": {
        "type": "object",
        "properties": {
          "configuration": {
            "$ref": "#/components/schemas/ModelConfiguration"
          }
        }
      },
      "ImagesResponse": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "perspective": {
                  "type": "string"
                },
                "width": {
                  "type": "integer"
                },
                "height": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "DealerListResponse": {
        "type": "object",
        "properties": {
          "dealers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dealer"
            }
          }
        }
      },
      "DealerDetailResponse": {
        "type": "object",
        "properties": {
          "dealer": {
            "$ref": "#/components/schemas/DealerDetail"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              }
            }
          }
        }
      }
    }
  }
}
