{
  "openapi": "3.0.3",
  "info": {
    "title": "LooksRare Marketplace API",
    "version": "2.0",
    "description": "LooksRare NFT marketplace API providing access to orders, events, collections, and rewards data. Supports Ethereum Mainnet and Sepolia testnet.",
    "x-jentic-source-url": "https://docs.looksrare.org/developers/public-api-documentation"
  },
  "servers": [
    {
      "url": "https://api.looksrare.org/api/v2",
      "description": "Production (Mainnet)"
    },
    {
      "url": "https://api-sepolia.looksrare.org/api/v2",
      "description": "Development (Sepolia)"
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "operationId": "getOrders",
        "summary": "Retrieve v2 orders",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "quoteType",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "0 for bid, 1 for ask"
          },
          {
            "name": "collection",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Collection contract address"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "VALID",
                "CANCELLED",
                "EXECUTED",
                "EXPIRED"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "NEWEST",
                "PRICE_ASC",
                "PRICE_DESC"
              ]
            }
          },
          {
            "name": "pagination[first]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "pagination[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create a single order",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/orders/merkle-tree": {
      "post": {
        "operationId": "createMerkleTreeOrder",
        "summary": "Create merkle tree order",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerkleTreeOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Merkle tree order created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/orders/nonce": {
      "get": {
        "operationId": "getOrderNonce",
        "summary": "Get v2 order nonce",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/seaport/orders": {
      "get": {
        "operationId": "getSeaportOrders",
        "summary": "Get LooksRare Seaport orders",
        "tags": [
          "Seaport"
        ],
        "parameters": [
          {
            "name": "collection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagination[first]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagination[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createSeaportOrder",
        "summary": "Create new Seaport order",
        "tags": [
          "Seaport"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Seaport order created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/seaport/orders/merkle-tree": {
      "post": {
        "operationId": "createSeaportMerkleTreeOrder",
        "summary": "Create merkle tree Seaport order",
        "tags": [
          "Seaport"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Seaport merkle tree order created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "getEvents",
        "summary": "Get events",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "collection",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Collection address"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "SALE",
                "TRANSFER",
                "LIST",
                "OFFER",
                "CANCEL_LIST",
                "CANCEL_OFFER"
              ]
            }
          },
          {
            "name": "pagination[first]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagination[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/seaport/events": {
      "get": {
        "operationId": "getSeaportEvents",
        "summary": "Get LooksRare Seaport events",
        "tags": [
          "Seaport"
        ],
        "parameters": [
          {
            "name": "collection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagination[first]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagination[cursor]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/collections": {
      "get": {
        "operationId": "getCollections",
        "summary": "Check collections",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Collection address"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/rewards/gems": {
      "get": {
        "operationId": "getUserGemsStats",
        "summary": "Get user gems stats",
        "tags": [
          "Rewards"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User wallet address"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GemsStatsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/rewards/gems/leaderboard": {
      "get": {
        "operationId": "getGemsLeaderboard",
        "summary": "Get top 25 gems leaderboard",
        "tags": [
          "Rewards"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string"
          },
          "collectionAddress": {
            "type": "string"
          },
          "tokenId": {
            "type": "string"
          },
          "isOrderAsk": {
            "type": "boolean"
          },
          "signer": {
            "type": "string"
          },
          "strategy": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "startTime": {
            "type": "integer"
          },
          "endTime": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          }
        }
      },
      "OrderListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          }
        }
      },
      "OrderCreateRequest": {
        "type": "object",
        "properties": {
          "quoteType": {
            "type": "integer"
          },
          "globalNonce": {
            "type": "string"
          },
          "subsetNonce": {
            "type": "string"
          },
          "orderNonce": {
            "type": "string"
          },
          "collection": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "signer": {
            "type": "string"
          },
          "strategyId": {
            "type": "integer"
          },
          "collectionType": {
            "type": "integer"
          },
          "startTime": {
            "type": "integer"
          },
          "endTime": {
            "type": "integer"
          },
          "price": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "itemIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "amounts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "quoteType",
          "collection",
          "currency",
          "signer",
          "startTime",
          "endTime",
          "price",
          "signature"
        ]
      },
      "MerkleTreeOrderRequest": {
        "type": "object",
        "properties": {
          "tree": {
            "type": "object"
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderCreateRequest"
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "collection": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string"
              }
            }
          },
          "token": {
            "type": "object",
            "properties": {
              "tokenId": {
                "type": "string"
              }
            }
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "totalSupply": {
            "type": "integer"
          },
          "isVerified": {
            "type": "boolean"
          },
          "floorPrice": {
            "type": "string"
          }
        }
      },
      "CollectionListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Collection"
            }
          }
        }
      },
      "GemsStatsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "totalGems": {
                "type": "integer"
              },
              "rank": {
                "type": "integer"
              }
            }
          }
        }
      },
      "LeaderboardResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                },
                "totalGems": {
                  "type": "integer"
                },
                "rank": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Looks-Api-Key",
        "description": "API key required for mainnet requests"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - API key missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}