{
  "openapi": "3.0.3",
  "info": {
    "title": "Smart Glocal Payouts API",
    "version": "1.0.0",
    "description": "Smart Glocal API enables payout operations to various countries and currencies. Supports bank account payouts with session-based transaction management.",
    "x-jentic-source-url": "https://developer.smart-glocal.com/docs/payouts/payout-hong-kong",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://demo.smart-glocal.com/api/v1",
      "description": "Demo/Sandbox"
    }
  ],
  "paths": {
    "/session/start/payout": {
      "post": {
        "operationId": "startPayoutSession",
        "summary": "Start a payout session",
        "description": "Initiates a payout session to a bank account. Supports multiple currencies (HKD, CNY, USD) and countries.",
        "tags": [
          "Payouts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout session started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/session/confirm": {
      "post": {
        "operationId": "confirmSession",
        "summary": "Confirm a session",
        "description": "Confirm a pending payment or payout operation.",
        "tags": [
          "Sessions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "session_id"
                ],
                "properties": {
                  "session_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/session/cancel": {
      "post": {
        "operationId": "cancelSession",
        "summary": "Cancel a session",
        "description": "Cancel a pending or in-progress payment/payout operation.",
        "tags": [
          "Sessions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "session_id"
                ],
                "properties": {
                  "session_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/session/capture": {
      "post": {
        "operationId": "captureSession",
        "summary": "Capture session funds",
        "description": "Debit money from a held transaction.",
        "tags": [
          "Sessions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "session_id"
                ],
                "properties": {
                  "session_id": {
                    "type": "string"
                  },
                  "amount_details": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Funds captured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PayoutRequest": {
        "type": "object",
        "required": [
          "session_id",
          "payment_method",
          "participant_details",
          "amount_details"
        ],
        "properties": {
          "session_id": {
            "type": "string"
          },
          "payment_method": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "bank_account"
                ]
              },
              "bank_account": {
                "$ref": "#/components/schemas/BankAccount"
              }
            }
          },
          "participant_details": {
            "type": "object",
            "properties": {
              "recipient": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "address_line": {
                    "type": "string"
                  },
                  "country_iso3": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "amount_details": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          }
        }
      },
      "BankAccount": {
        "type": "object",
        "properties": {
          "system_type": {
            "type": "string",
            "enum": [
              "global"
            ]
          },
          "bank_account_number": {
            "type": "string"
          },
          "bank_name": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "swift_bic_code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "PartnerAuth": {
        "type": "apiKey",
        "name": "X-PARTNER-PROJECT",
        "in": "header",
        "description": "Partner project name"
      },
      "PartnerSign": {
        "type": "apiKey",
        "name": "X-PARTNER-SIGN",
        "in": "header",
        "description": "Request signature"
      }
    }
  },
  "security": [
    {
      "PartnerAuth": [],
      "PartnerSign": []
    }
  ],
  "tags": [
    {
      "name": "Payouts"
    },
    {
      "name": "Sessions"
    }
  ]
}
