{
  "openapi": "3.0.1",
  "info": {
    "title": "醫藥通 2.0 API Documentation",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/johnnywork/bot_pass_v2/1.0/swagger.json",
    "contact": {},
    "description": "醫藥通 2.0 API Documentation"
  },
  "servers": [
    {
      "url": "https://medipass2.m2sandbox.medicloud.com.tw/apii/frontend",
      "description": "測試區"
    }
  ],
  "paths": {
    "/medication-consent/sentConsentForm": {
      "post": {
        "summary": "送出同意書表單 [6-3]",
        "tags": [
          "PAP 標準"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-project-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "專案 Hash ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SentConsentFormRequest"
              },
              "examples": {
                "sendConsent": {
                  "summary": "送出電子簽章同意書",
                  "value": {
                    "action": "update",
                    "type": "esign",
                    "consent": [
                      {
                        "file_id": "example_file_id",
                        "birth_ROC_y": "100",
                        "birth_ROC_m": "01",
                        "birth_ROC_d": "01"
                      }
                    ],
                    "identity_document": [
                      {
                        "file_id": "identity_file_id"
                      }
                    ],
                    "economic_review_document": [
                      {
                        "file_id": "economic_file_id"
                      }
                    ],
                    "deposit_book": [
                      {
                        "file_id": "deposit_file_id"
                      }
                    ],
                    "receipt_consent": [
                      {
                        "file_id": "receipt_file_id"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功送出同意書",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentResponse"
                },
                "examples": {
                  "success": {
                    "summary": "建立簽章連結",
                    "value": {
                      "data": {
                        "esign_link": "https://example.com/esign-link"
                      },
                      "code": 200,
                      "message": "success",
                      "redirect": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "參數或專案錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missingProject": {
                    "value": {
                      "message": "project_hashid no data",
                      "code": 1000
                    }
                  },
                  "invalidProject": {
                    "value": {
                      "message": "project_id keyFromHashId error",
                      "code": 1001
                    }
                  },
                  "projectUserMissing": {
                    "value": {
                      "message": "project_user no data",
                      "code": 1003
                    }
                  }
                }
              }
            }
          }
        },
        "description": "送出同意書表單 [6-3]",
        "operationId": "post-medication-consent-sentconsentform"
      }
    },
    "/config/project/{hash_id}": {
      "get": {
        "summary": "取得指定專案的基本設定 [1-1]",
        "tags": [
          "PAP 標準"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "hash_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "專案 Hash ID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功取得專案設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectInfoResponse"
                },
                "examples": {
                  "success": {
                    "summary": "專案設定",
                    "value": {
                      "data": {
                        "hash_id": "V9WaJo73o7BlEmY",
                        "project_name": "Tagrisso - Dev",
                        "channel_name": "醫藥通",
                        "line_login_channel_id": "1653996312",
                        "line_login_channel_redirect_url": "https://medipass2.m2sandbox.medicloud.com.tw/line-login",
                        "liff_id": "1653996312-5jZk8XR8",
                        "endpoint_url": "https://medipass2.m2sandbox.medicloud.com.tw/line-login",
                        "basic_id": "@362uyyeb",
                        "project_qrcode_status": null,
                        "project_switch_status": true,
                        "project_register_esign_status": false,
                        "project_version": "1",
                        "project_phone": "0800-085-580",
                        "introduction": "",
                        "project_phone_url": "0800085580",
                        "is_multiple_schemes": false,
                        "project_service_hours": "9:30-12:00 & 13:30-18:00",
                        "drug_unit": "applyDose",
                        "application_record_page_type": "noneLogoLayout",
                        "esign_application_url": "3",
                        "reveal_precautions": true,
                        "receipt_liff_url": "https://liff.line.me/1573210692-Ang83oDz",
                        "two_stage_esign": false,
                        "preset_parameters": false,
                        "require_upload_document": true,
                        "expired_at": null,
                        "show_form_confirmation_page": null,
                        "go_to_upload_record_page": null,
                        "go_to_flow_instruction_page": null,
                        "go_to_medication_reminder_list_page": null,
                        "go_to_medication_cycle_setting_page": null,
                        "application_record_logo": null
                      },
                      "code": 200,
                      "message": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "專案或身份相關錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "projectNotFound": {
                    "value": {
                      "message": "找不到專案.",
                      "code": 100201
                    }
                  },
                  "positionNotFound": {
                    "value": {
                      "message": "找不到身份別.",
                      "code": 100202
                    }
                  }
                }
              }
            }
          }
        },
        "description": "取得指定專案的基本設定 [1-1]",
        "operationId": "get-config-project-by-hash-id"
      }
    },
    "/v1/projects/{hash_id}/form-configs": {
      "get": {
        "summary": "取得指定專案的註冊與同意書欄位設定 [1-7]",
        "tags": [
          "PAP 標準"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "hash_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "專案 Hash ID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功取得欄位設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormConfigsResponse"
                },
                "examples": {
                  "success": {
                    "summary": "表單欄位設定",
                    "value": {
                      "data": {
                        "registerFormFieldConfigs": {
                          "AzXkej8lRjRQxo2": {
                            "category": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "cellPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hcpCategory": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hospital": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "indication_id": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "landline": {
                              "visible": false,
                              "required": false,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "patientName": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "physicianName": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            }
                          },
                          "default": {
                            "category": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "cellPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hcpCategory": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hospital": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "indication_id": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "landline": {
                              "visible": true,
                              "required": false,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "patientName": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "physicianName": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            }
                          }
                        },
                        "consentFormFieldConfigs": {
                          "AzXkej8lRjRQxo2": {
                            "aePolicyStyle1": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "aePolicyStyle2": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "agreedToEConsent": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "birthRoc": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contact": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactTime": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactWindowEmail": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactWindowPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "diagnosisRoc": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "division": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "doctorName": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "email": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "gender": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hcpContactPhone": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hospitalInput": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "isAdult": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "isMedipassWindow": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "isMedipassWindowDropdown": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "medipassWindow": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "multipleHospital": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "patientEmail": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "patientHospital": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "todayRoc": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "useDrugRoc": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "warrantSignature": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            }
                          },
                          "default": {
                            "aePolicyStyle1": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "aePolicyStyle2": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "agreedToEConsent": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "birthRoc": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contact": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactTime": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactWindowEmail": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactWindowPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "diagnosisRoc": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "division": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "doctorName": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "email": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "gender": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hcpContactPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hospitalInput": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "isAdult": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "isMedipassWindow": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "isMedipassWindowDropdown": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "medipassWindow": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "multipleHospital": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "patientEmail": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "patientHospital": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "todayRoc": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "useDrugRoc": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "warrantSignature": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            }
                          }
                        }
                      },
                      "code": 200,
                      "message": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "專案或身份相關錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "projectNotFound": {
                    "value": {
                      "message": "找不到專案.",
                      "code": 100201
                    }
                  },
                  "positionNotFound": {
                    "value": {
                      "message": "找不到身份別.",
                      "code": 100202
                    }
                  }
                }
              }
            }
          }
        },
        "description": "取得指定專案的註冊與同意書欄位設定 [1-7]",
        "operationId": "get-v1-projects-by-hash-id-form-configs"
      }
    },
    "/v1/projects/{hash_id}/record-configs": {
      "get": {
        "summary": "取得指定專案的紀錄頁欄位設定 [1-8]",
        "tags": [
          "PAP 標準"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "hash_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功取得所有紀錄欄位設定",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordConfigsResponse"
                },
                "examples": {
                  "success": {
                    "summary": "紀錄欄位設定",
                    "value": {
                      "data": {
                        "ptApplicationRecords": {
                          "columnDefinitions": [
                            {
                              "fieldName": "serialNumber",
                              "headerName": "No."
                            },
                            {
                              "fieldName": "status",
                              "headerName": "狀態"
                            },
                            {
                              "fieldName": "shippingPharmacy",
                              "headerName": "領藥地點"
                            },
                            {
                              "fieldName": "applyDose",
                              "headerName": "劑量"
                            },
                            {
                              "fieldName": "drugCount",
                              "headerName": "贈藥數量"
                            },
                            {
                              "fieldName": "application",
                              "headerName": "贈藥申請單"
                            },
                            {
                              "fieldName": "gratis_application",
                              "headerName": "無償藥物申請單"
                            },
                            {
                              "fieldName": "deliverTime",
                              "headerName": "已出貨日期"
                            },
                            {
                              "fieldName": "approvalStatusTime",
                              "headerName": "已核准日期"
                            },
                            {
                              "fieldName": "docData",
                              "headerName": "贈藥核准憑證"
                            }
                          ],
                          "projectFieldConfigs": {
                            "AzXkej8lRjRQxo2": [
                              "serialNumber",
                              "status",
                              "shippingPharmacy",
                              "drugCount",
                              "application",
                              "deliverTime"
                            ],
                            "default": [
                              "serialNumber",
                              "status",
                              "shippingPharmacy",
                              "applyDose",
                              "drugCount",
                              "application",
                              "deliverTime",
                              "docData"
                            ]
                          }
                        },
                        "ptSelfPaidRecords": {
                          "columnDefinitions": [
                            {
                              "fieldName": "receiptDate",
                              "headerName": "自費日期"
                            },
                            {
                              "fieldName": "drugName",
                              "headerName": "藥品名稱"
                            },
                            {
                              "fieldName": "paidQuantity",
                              "headerName": "自費數量"
                            },
                            {
                              "fieldName": "dose",
                              "headerName": "劑量"
                            },
                            {
                              "fieldName": "receipt",
                              "headerName": "收據"
                            },
                            {
                              "fieldName": "status",
                              "headerName": "狀態"
                            }
                          ],
                          "projectFieldConfigs": {
                            "AzXkej8lRjRQxo2": [
                              "receiptDate",
                              "paidQuantity",
                              "status",
                              "receipt"
                            ],
                            "default": [
                              "receiptDate",
                              "drugName",
                              "paidQuantity",
                              "dose",
                              "status",
                              "receipt"
                            ]
                          }
                        },
                        "hcpApplicationRecords": {
                          "columnDefinitions": [
                            {
                              "fieldName": "hospital",
                              "headerName": "醫院"
                            },
                            {
                              "fieldName": "doctor",
                              "headerName": "醫師"
                            },
                            {
                              "fieldName": "patient",
                              "headerName": "病人"
                            },
                            {
                              "fieldName": "status",
                              "headerName": "狀態"
                            },
                            {
                              "fieldName": "amount",
                              "headerName": "數量"
                            },
                            {
                              "fieldName": "applyDose",
                              "headerName": "劑量"
                            },
                            {
                              "fieldName": "deliverTime",
                              "headerName": "已出貨日期"
                            },
                            {
                              "fieldName": "approvalStatusTime",
                              "headerName": "已核准日期"
                            },
                            {
                              "fieldName": "application",
                              "headerName": "贈藥申請單"
                            },
                            {
                              "fieldName": "gratis_application",
                              "headerName": "無償藥物申請單"
                            },
                            {
                              "fieldName": "docData",
                              "headerName": "贈藥核准憑證"
                            }
                          ],
                          "projectFieldConfigs": {
                            "AzXkej8lRjRQxo2": [
                              "hospital",
                              "doctor",
                              "patient",
                              "status",
                              "amount",
                              "applyDose",
                              "deliverTime",
                              "application",
                              "docData"
                            ],
                            "default": [
                              "hospital",
                              "doctor",
                              "patient",
                              "status",
                              "amount",
                              "applyDose",
                              "deliverTime",
                              "application",
                              "docData"
                            ]
                          }
                        },
                        "hcpPatientList": {
                          "columnDefinitions": [
                            {
                              "fieldName": "hospital",
                              "headerName": "醫院"
                            },
                            {
                              "fieldName": "doctor",
                              "headerName": "醫師"
                            },
                            {
                              "fieldName": "patient",
                              "headerName": "病人"
                            },
                            {
                              "fieldName": "applyTimes",
                              "headerName": "申請次數"
                            },
                            {
                              "fieldName": "applyDose",
                              "headerName": "上次申請劑量"
                            },
                            {
                              "fieldName": "amount",
                              "headerName": "上次申請數量"
                            },
                            {
                              "fieldName": "deliverTime",
                              "headerName": "上次申請出貨日"
                            }
                          ],
                          "projectFieldConfigs": {
                            "AzXkej8lRjRQxo2": [
                              "hospital",
                              "doctor",
                              "patient",
                              "applyTimes",
                              "amount",
                              "applyDose",
                              "deliverTime"
                            ],
                            "default": [
                              "hospital",
                              "doctor",
                              "patient",
                              "applyTimes",
                              "amount",
                              "applyDose",
                              "deliverTime"
                            ]
                          }
                        },
                        "hcpToBeSigned": {
                          "columnDefinitions": [
                            {
                              "fieldName": "singDoc",
                              "headerName": "電子簽章"
                            },
                            {
                              "fieldName": "patient",
                              "headerName": "病人"
                            },
                            {
                              "fieldName": "amount",
                              "headerName": "贈藥申請數量"
                            },
                            {
                              "fieldName": "estUseMedicineDate",
                              "headerName": "預計用藥日"
                            },
                            {
                              "fieldName": "patientSignDate",
                              "headerName": "病人簽署日期"
                            }
                          ],
                          "projectFieldConfigs": {
                            "AzXkej8lRjRQxo2_pendingApproval_1": [
                              "singDoc",
                              "patient",
                              "amount",
                              "estUseMedicineDate"
                            ],
                            "AzXkej8lRjRQxo2_pendingApproval_2": [
                              "singDoc",
                              "patient",
                              "patientSignDate"
                            ],
                            "default": [
                              "singDoc",
                              "patient",
                              "amount",
                              "estUseMedicineDate",
                              "patientSignDate"
                            ]
                          }
                        },
                        "brApplicationRecords": {
                          "columnDefinitions": [
                            {
                              "fieldName": "hospital",
                              "headerName": "醫院"
                            },
                            {
                              "fieldName": "doctor",
                              "headerName": "醫師"
                            },
                            {
                              "fieldName": "projectUserNumber",
                              "headerName": "個案編號"
                            },
                            {
                              "fieldName": "amount",
                              "headerName": "數量"
                            },
                            {
                              "fieldName": "applyDose",
                              "headerName": "劑量"
                            },
                            {
                              "fieldName": "status",
                              "headerName": "狀態"
                            },
                            {
                              "fieldName": "deliverTime",
                              "headerName": "已出貨日期"
                            }
                          ],
                          "projectFieldConfigs": {
                            "default": [
                              "hospital",
                              "doctor",
                              "projectUserNumber",
                              "amount",
                              "applyDose",
                              "status",
                              "deliverTime"
                            ]
                          }
                        },
                        "applicationForm4Medications": {
                          "columnDefinitions": [
                            {
                              "fieldName": "agreementFormNum",
                              "headerName": "流水編號"
                            },
                            {
                              "fieldName": "remainingAmount",
                              "headerName": "可申請數量"
                            },
                            {
                              "fieldName": "remainingDay",
                              "headerName": "可申請天數"
                            },
                            {
                              "fieldName": "signDoc",
                              "headerName": "簽署醫生"
                            }
                          ],
                          "projectFieldConfigs": []
                        }
                      },
                      "code": 200,
                      "message": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "專案或身份相關錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "projectNotFound": {
                    "value": {
                      "message": "找不到專案.",
                      "code": 100201
                    }
                  },
                  "positionNotFound": {
                    "value": {
                      "message": "找不到身份別.",
                      "code": 100202
                    }
                  }
                }
              }
            }
          }
        },
        "description": "取得指定專案的紀錄頁欄位設定 [1-8]",
        "operationId": "get-v1-projects-by-hash-id-record-configs"
      }
    },
    "/getPTMedicationRecord": {
      "get": {
        "summary": "取得病患(自己)的贈藥紀錄 [8-1]",
        "tags": [
          "PAP 標準"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-project-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "專案 Hash ID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功取得贈藥紀錄",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationRecordResponse"
                },
                "examples": {
                  "success": {
                    "summary": "病患贈藥紀錄",
                    "value": {
                      "data": {
                        "user": {
                          "hospital": "中山醫院",
                          "doctorName": "測試李采曜醫生",
                          "userName": "測試馮采曜",
                          "projectUserNumber": "TG20250010873",
                          "applyTimes": "1次",
                          "unApplyFreeAmount": "0顆",
                          "totalPaidQuantity": "0",
                          "unApplyPaidAmount": "-20"
                        },
                        "applicationForm4Medications": [],
                        "applicationRecords": [
                          {
                            "applySfCaseUid": "a03BS00000PgBJEYA3",
                            "status": "已領取",
                            "shippingPharmacy": "今欣藥局",
                            "drugCount": "5",
                            "gratis_application": {
                              "text": "查看",
                              "urlType": "開啟圖片",
                              "urlState": true,
                              "id": "a03BS00000PgBJEYA3",
                              "type": "1"
                            },
                            "applyDose": "80mg",
                            "docData": {
                              "text": "查看",
                              "urlType": "轉跳外部頁面",
                              "urlState": true,
                              "url": "https://liff.line.me/1573210692-Ang83oDz?applyid=a03BS00000PgBJEYA3"
                            },
                            "drug_dev_code": null,
                            "applySerialNumber": "1",
                            "phaseName": "第一階段",
                            "deliverTime": "2025-11-05"
                          }
                        ],
                        "selfPaidRecords": [
                          {
                            "receiptDate": "2025-11-05",
                            "paidQuantity": "20",
                            "status": "待確認",
                            "drugName": "",
                            "dose": "nullnull",
                            "receipt": {
                              "text": "查看",
                              "urlType": "開啟圖片",
                              "urlState": true,
                              "id": "a0CBS00001DXNmD2AX",
                              "type": "2"
                            },
                            "drug_dev_code": null
                          },
                          {
                            "receiptDate": "2025-11-05",
                            "paidQuantity": "20",
                            "status": "待確認",
                            "drugName": "",
                            "dose": "5null",
                            "receipt": {
                              "text": "查看",
                              "urlType": "開啟圖片",
                              "urlState": true,
                              "id": "a0CBS00001DRmVa2AL",
                              "type": "2"
                            },
                            "drug_dev_code": null
                          }
                        ],
                        "gratis_application_type": "2",
                        "application_record_page_type": "noneLogoLayout",
                        "reveal_precautions": true,
                        "phaseInfo": {
                          "projectScheme": "TG_v1",
                          "projectSchemeName": "第一階段(50+10)",
                          "firstReceiptDate": "2025-11-05",
                          "totalPhase1": 40,
                          "totalPhase2": null,
                          "totalPhase3": null,
                          "phase1RemainingCount": 260,
                          "phase2RemainingCount": null
                        }
                      },
                      "code": 200,
                      "message": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "專案或身份相關錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "projectNotFound": {
                    "value": {
                      "message": "找不到該專案",
                      "code": 1000
                    }
                  },
                  "dataFetchFailed": {
                    "value": {
                      "message": "用藥紀錄檢索失敗",
                      "code": 1001
                    }
                  }
                }
              }
            }
          }
        },
        "description": "取得病患(自己)的贈藥紀錄 [8-1]",
        "operationId": "get-getptmedicationrecord"
      }
    },
    "/getHCPPatientList": {
      "get": {
        "summary": "HCP贈藥紀錄頁 - 病人清單頁籤 [8-2-3]",
        "tags": [
          "PAP 標準"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-project-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "專案 Hash ID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功取得病人清單",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HCPPatientListResponse"
                },
                "examples": {
                  "success": {
                    "summary": "HCP病人清單",
                    "value": {
                      "data": [
                        {
                          "hospital": "中山醫院",
                          "doctor": "測試李采曜醫生",
                          "patient": {
                            "text": "測試馮采曜",
                            "urlType": "前端轉頁",
                            "urlState": true,
                            "url": "1"
                          },
                          "project_user_sf_case_uid": "a02BS00000QzClLYAV",
                          "applyTimes": "1",
                          "applyDose": "80mg",
                          "amount": "5",
                          "deliverTime": "2025-11-05",
                          "scheme": "第一階段",
                          "unApplyPaidAmount": "-20",
                          "remainingCount": "260"
                        },
                        {
                          "hospital": "中山醫院",
                          "doctor": "測試李采曜醫生",
                          "patient": {
                            "text": "陳OO",
                            "urlType": "前端轉頁",
                            "urlState": true,
                            "url": "1"
                          },
                          "project_user_sf_case_uid": "a02BS00000PSLMbYAP",
                          "applyTimes": "",
                          "applyDose": "",
                          "amount": "",
                          "deliverTime": "",
                          "scheme": "第一階段",
                          "unApplyPaidAmount": "0",
                          "remainingCount": "300"
                        },
                        {
                          "hospital": "中山醫院",
                          "doctor": "測試李采曜醫生",
                          "patient": {
                            "text": "測試劉病人",
                            "urlType": "前端轉頁",
                            "urlState": true,
                            "url": "1"
                          },
                          "project_user_sf_case_uid": "a02BS00000OyEezYAF",
                          "applyTimes": "2",
                          "applyDose": "80mg",
                          "amount": "5",
                          "deliverTime": "2025-07-09",
                          "scheme": "第一階段",
                          "unApplyPaidAmount": "0",
                          "remainingCount": "300"
                        },
                        {
                          "hospital": "中山醫院",
                          "doctor": "測試李采曜醫生",
                          "patient": {
                            "text": "陳芊",
                            "urlType": "前端轉頁",
                            "urlState": true,
                            "url": "1"
                          },
                          "project_user_sf_case_uid": "a020l00000BQZxCAAX",
                          "applyTimes": "4",
                          "applyDose": "80mg",
                          "amount": "1",
                          "deliverTime": "2025-08-01",
                          "scheme": "10_10",
                          "unApplyPaidAmount": "-1",
                          "remainingCount": ""
                        }
                      ],
                      "code": 200,
                      "message": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "projectNotFound": {
                    "value": {
                      "message": "找不到該專案",
                      "code": 1000
                    }
                  },
                  "unknownError": {
                    "value": {
                      "message": "伺服器錯誤",
                      "code": 500
                    }
                  }
                }
              }
            }
          }
        },
        "description": "HCP贈藥紀錄頁 - 病人清單頁籤 [8-2-3]",
        "operationId": "get-gethcppatientlist"
      }
    },
    "/hcpGetPTMedicationRecord": {
      "get": {
        "summary": "HCP取得病患的贈藥紀錄 [8-3]",
        "tags": [
          "PAP 標準"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-project-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "專案 Hash ID"
          },
          {
            "name": "project_user_sf_case_uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "病患的 SF Case UID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功取得贈藥紀錄",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HCPPTMedicationRecordResponse"
                },
                "examples": {
                  "success": {
                    "summary": "HCP取得病患贈藥紀錄",
                    "value": {
                      "data": {
                        "user": {
                          "hospital": "中山醫院",
                          "doctorName": "測試李采曜醫生",
                          "userName": "測試馮采曜",
                          "projectUserNumber": "TG20250010873",
                          "applyTimes": "1次",
                          "unApplyFreeAmount": "0顆",
                          "totalPaidQuantity": "0",
                          "unApplyPaidAmount": "-20"
                        },
                        "applicationForm4Medications": [],
                        "applicationRecords": [
                          {
                            "applySfCaseUid": "a03BS00000PgBJEYA3",
                            "status": "已領取",
                            "shippingPharmacy": "今欣藥局",
                            "drugCount": "5",
                            "gratis_application": {
                              "text": "查看",
                              "urlType": "開啟圖片",
                              "urlState": true,
                              "id": "a03BS00000PgBJEYA3",
                              "type": "1"
                            },
                            "applyDose": "80mg",
                            "docData": {
                              "text": "查看",
                              "urlType": "轉跳外部頁面",
                              "urlState": true,
                              "url": "https://liff.line.me/1573210692-Ang83oDz?applyid=a03BS00000PgBJEYA3"
                            },
                            "drug_dev_code": null,
                            "applySerialNumber": "1",
                            "phaseName": "第一階段",
                            "deliverTime": "2025-11-05"
                          }
                        ],
                        "selfPaidRecords": [
                          {
                            "receiptDate": "2025-11-05",
                            "paidQuantity": "20",
                            "status": "待確認",
                            "drugName": "",
                            "dose": "nullnull",
                            "receipt": {
                              "text": "查看",
                              "urlType": "開啟圖片",
                              "urlState": true,
                              "id": "a0CBS00001DXNmD2AX",
                              "type": "2"
                            },
                            "drug_dev_code": null
                          },
                          {
                            "receiptDate": "2025-11-05",
                            "paidQuantity": "20",
                            "status": "待確認",
                            "drugName": "",
                            "dose": "5null",
                            "receipt": {
                              "text": "查看",
                              "urlType": "開啟圖片",
                              "urlState": true,
                              "id": "a0CBS00001DRmVa2AL",
                              "type": "2"
                            },
                            "drug_dev_code": null
                          }
                        ],
                        "application_record_page_type": "noneLogoLayout",
                        "reveal_precautions": true,
                        "phaseInfo": {
                          "projectScheme": "TG_v1",
                          "projectSchemeName": "第一階段(50+10)",
                          "firstReceiptDate": "2025-11-05",
                          "totalPhase1": 40,
                          "totalPhase2": null,
                          "totalPhase3": null,
                          "phase1RemainingCount": 260,
                          "phase2RemainingCount": null
                        },
                        "gratis_application_type": "2"
                      },
                      "code": 200,
                      "message": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "projectNotFound": {
                    "value": {
                      "message": "找不到該專案",
                      "code": 1000
                    }
                  },
                  "unknownError": {
                    "value": {
                      "message": "伺服器錯誤",
                      "code": 500
                    }
                  }
                }
              }
            }
          }
        },
        "description": "HCP取得病患的贈藥紀錄 [8-3]",
        "operationId": "get-hcpgetptmedicationrecord"
      }
    },
    "/salesforce/upload-record": {
      "get": {
        "summary": "取得上傳記錄 [11-1]",
        "tags": [
          "PAP 標準"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-project-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "專案 Hash ID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功取得上傳記錄",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceUploadRecordResponse"
                },
                "examples": {
                  "success": {
                    "summary": "上傳記錄",
                    "value": {
                      "code": 200,
                      "message": "success",
                      "data": {
                        "project_user_sf_case_uid": "a0JBS000001ZKsv2AG",
                        "response": [
                          {
                            "msg": "",
                            "data": [
                              {
                                "upload_time": "2025-11-26T06:23:34.000Z",
                                "upload_file_type_count": "上傳1張收據憑證",
                                "patient_name": "測試病人"
                              },
                              {
                                "upload_time": "2025-11-26T06:50:11.000Z",
                                "upload_file_type_count": "上傳1張專案同意書",
                                "patient_name": "測試病人"
                              },
                              {
                                "upload_time": "2025-11-26T06:23:32.000Z",
                                "upload_file_type_count": "上傳1張專案同意書",
                                "patient_name": "測試病人"
                              },
                              {
                                "upload_time": "2025-11-26T06:23:33.000Z",
                                "upload_file_type_count": "上傳1張補助申請單",
                                "patient_name": "測試病人"
                              },
                              {
                                "upload_time": "2025-11-26T06:50:13.000Z",
                                "upload_file_type_count": "上傳1張補助申請單",
                                "patient_name": "測試病人"
                              },
                              {
                                "upload_time": "2025-11-26T06:50:14.000Z",
                                "upload_file_type_count": "上傳1張收據憑證",
                                "patient_name": "測試病人"
                              },
                              {
                                "upload_time": "2025-11-26T07:03:54.000Z",
                                "upload_file_type_count": "上傳1張專案同意書",
                                "patient_name": "測試陳先生"
                              },
                              {
                                "upload_time": "2025-11-26T07:03:55.000Z",
                                "upload_file_type_count": "上傳1張補助申請單",
                                "patient_name": "測試陳先生"
                              },
                              {
                                "upload_time": "2025-11-26T07:03:57.000Z",
                                "upload_file_type_count": "上傳3張收據憑證",
                                "patient_name": "測試陳先生"
                              }
                            ],
                            "code": 0,
                            "apiStatus": "",
                            "apiId": ""
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "projectHashidMissing": {
                    "value": {
                      "message": "缺少專案 Hash ID",
                      "code": 100200
                    }
                  },
                  "projectNotFound": {
                    "value": {
                      "message": "找不到專案",
                      "code": 100201
                    }
                  },
                  "projectUserNotFound": {
                    "value": {
                      "message": "找不到專案使用者",
                      "code": 100203
                    }
                  },
                  "projectUserSfCaseUidMissing": {
                    "value": {
                      "message": "缺少專案使用者 SF Case UID",
                      "code": 100204
                    }
                  }
                }
              }
            }
          }
        },
        "description": "取得上傳記錄 [11-1]",
        "operationId": "get-salesforce-upload-record"
      }
    }
  },
  "components": {
    "schemas": {
      "FieldSetting": {
        "type": "object",
        "properties": {
          "visible": {
            "type": "boolean"
          },
          "required": {
            "type": "boolean"
          },
          "columnName": {
            "type": "string"
          },
          "placeholder": {
            "type": "string"
          }
        },
        "required": [
          "visible",
          "required",
          "columnName",
          "placeholder"
        ]
      },
      "RegisterFormFieldConfigs": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/components/schemas/FieldSetting"
          }
        }
      },
      "ConsentFormFieldConfigs": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/components/schemas/FieldSetting"
          }
        }
      },
      "FormConfigsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "registerFormFieldConfigs": {
                "$ref": "#/components/schemas/RegisterFormFieldConfigs"
              },
              "consentFormFieldConfigs": {
                "$ref": "#/components/schemas/ConsentFormFieldConfigs"
              }
            }
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "ColumnDefinition": {
        "type": "object",
        "properties": {
          "fieldName": {
            "type": "string"
          },
          "headerName": {
            "type": "string"
          }
        },
        "required": [
          "fieldName",
          "headerName"
        ]
      },
      "ProjectConfigData": {
        "type": "object",
        "properties": {
          "hash_id": {
            "type": "string"
          },
          "project_name": {
            "type": "string"
          },
          "channel_name": {
            "type": "string"
          },
          "line_login_channel_id": {
            "type": "string"
          },
          "line_login_channel_redirect_url": {
            "type": "string"
          },
          "liff_id": {
            "type": "string"
          },
          "endpoint_url": {
            "type": "string"
          },
          "basic_id": {
            "type": "string"
          },
          "project_qrcode_status": {
            "type": "string",
            "nullable": true
          },
          "project_switch_status": {
            "type": "boolean"
          },
          "project_register_esign_status": {
            "type": "boolean"
          },
          "project_version": {
            "type": "string"
          },
          "project_phone": {
            "type": "string"
          },
          "introduction": {
            "type": "string"
          },
          "project_phone_url": {
            "type": "string"
          },
          "is_multiple_schemes": {
            "type": "boolean"
          },
          "project_service_hours": {
            "type": "string"
          },
          "drug_unit": {
            "type": "string"
          },
          "application_record_page_type": {
            "type": "string"
          },
          "esign_application_url": {
            "type": "string"
          },
          "reveal_precautions": {
            "type": "boolean"
          },
          "receipt_liff_url": {
            "type": "string"
          },
          "two_stage_esign": {
            "type": "boolean"
          },
          "preset_parameters": {
            "type": "boolean"
          },
          "require_upload_document": {
            "type": "boolean"
          },
          "expired_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "show_form_confirmation_page": {
            "type": "boolean",
            "nullable": true
          },
          "go_to_upload_record_page": {
            "type": "boolean",
            "nullable": true
          },
          "go_to_flow_instruction_page": {
            "type": "boolean",
            "nullable": true
          },
          "go_to_medication_reminder_list_page": {
            "type": "boolean",
            "nullable": true
          },
          "go_to_medication_cycle_setting_page": {
            "type": "boolean",
            "nullable": true
          },
          "application_record_logo": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "hash_id",
          "project_name",
          "channel_name",
          "line_login_channel_id",
          "line_login_channel_redirect_url",
          "liff_id",
          "endpoint_url",
          "basic_id",
          "project_switch_status",
          "project_register_esign_status",
          "project_version",
          "project_phone",
          "project_phone_url",
          "is_multiple_schemes",
          "project_service_hours",
          "drug_unit",
          "application_record_page_type",
          "esign_application_url",
          "reveal_precautions",
          "receipt_liff_url",
          "two_stage_esign",
          "preset_parameters",
          "require_upload_document"
        ]
      },
      "ProjectFieldConfigs": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "ProjectInfoResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ProjectConfigData"
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "RecordConfigSection": {
        "type": "object",
        "properties": {
          "columnDefinitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ColumnDefinition"
            }
          },
          "projectFieldConfigs": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ProjectFieldConfigs"
              },
              {
                "type": "array",
                "items": {}
              }
            ]
          }
        },
        "required": [
          "columnDefinitions",
          "projectFieldConfigs"
        ]
      },
      "RecordConfigsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "ptApplicationRecords": {
                "$ref": "#/components/schemas/RecordConfigSection"
              },
              "ptSelfPaidRecords": {
                "$ref": "#/components/schemas/RecordConfigSection"
              },
              "hcpApplicationRecords": {
                "$ref": "#/components/schemas/RecordConfigSection"
              },
              "hcpPatientList": {
                "$ref": "#/components/schemas/RecordConfigSection"
              },
              "hcpToBeSigned": {
                "$ref": "#/components/schemas/RecordConfigSection"
              },
              "brApplicationRecords": {
                "$ref": "#/components/schemas/RecordConfigSection"
              },
              "applicationForm4Medications": {
                "$ref": "#/components/schemas/RecordConfigSection"
              }
            }
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "ConsentFileItem": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string",
            "description": "檔案 hash ID（紙本必填）"
          },
          "birth_ROC_y": {
            "type": "string",
            "description": "民國年"
          },
          "birth_ROC_m": {
            "type": "string",
            "description": "月"
          },
          "birth_ROC_d": {
            "type": "string",
            "description": "日"
          }
        },
        "required": [
          "file_id"
        ]
      },
      "DocumentFileItem": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string",
            "description": "檔案 hash ID"
          }
        },
        "required": [
          "file_id"
        ]
      },
      "SentConsentFormRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "description": "create 或 update",
            "enum": [
              "create",
              "update"
            ]
          },
          "type": {
            "type": "string",
            "description": "同意書類型",
            "enum": [
              "esign",
              "paper"
            ]
          },
          "consent": {
            "type": "array",
            "description": "同意書檔案資訊",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ConsentFileItem"
            }
          },
          "identity_document": {
            "type": "array",
            "description": "身分證明文件",
            "items": {
              "$ref": "#/components/schemas/DocumentFileItem"
            }
          },
          "economic_review_document": {
            "type": "array",
            "description": "經濟審查文件",
            "items": {
              "$ref": "#/components/schemas/DocumentFileItem"
            }
          },
          "deposit_book": {
            "type": "array",
            "description": "存摺影本",
            "items": {
              "$ref": "#/components/schemas/DocumentFileItem"
            }
          },
          "receipt_consent": {
            "type": "array",
            "description": "收據",
            "items": {
              "$ref": "#/components/schemas/DocumentFileItem"
            }
          }
        },
        "required": [
          "action",
          "type",
          "consent"
        ]
      },
      "ConsentResponseData": {
        "type": "object",
        "properties": {
          "esign_link": {
            "type": "string",
            "nullable": true,
            "description": "若為電子簽章，返回簽署連結"
          }
        }
      },
      "ConsentResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ConsentResponseData"
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          },
          "redirect": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "找不到專案."
          },
          "code": {
            "type": "integer",
            "example": 100201
          }
        }
      },
      "MedicationRecordResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "properties": {
                  "hospital": {
                    "type": "string"
                  },
                  "doctorName": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "projectUserNumber": {
                    "type": "string"
                  },
                  "applyTimes": {
                    "type": "string"
                  },
                  "unApplyFreeAmount": {
                    "type": "string"
                  },
                  "totalPaidQuantity": {
                    "type": "string"
                  },
                  "unApplyPaidAmount": {
                    "type": "string"
                  }
                }
              },
              "gratis_application_type": {
                "type": "string"
              },
              "application_record_page_type": {
                "type": "string"
              },
              "reveal_precautions": {
                "type": "boolean"
              },
              "applicationForm4Medications": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "agreementFormNum": {
                      "type": "string"
                    },
                    "remainingAmount": {
                      "type": "string"
                    },
                    "remainingDay": {
                      "type": "string"
                    },
                    "signDoc": {
                      "type": "string"
                    }
                  }
                }
              },
              "applicationRecords": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "applySfCaseUid": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "shippingPharmacy": {
                      "type": "string"
                    },
                    "drugCount": {
                      "type": "string"
                    },
                    "gratis_application": {
                      "oneOf": [
                        {
                          "type": "string",
                          "enum": [
                            ""
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "urlType": {
                              "type": "string"
                            },
                            "urlState": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "application": {
                      "oneOf": [
                        {
                          "type": "string",
                          "enum": [
                            ""
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "urlType": {
                              "type": "string"
                            },
                            "urlState": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "applyDose": {
                      "type": "string"
                    },
                    "docData": {
                      "oneOf": [
                        {
                          "type": "string",
                          "enum": [
                            ""
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "urlType": {
                              "type": "string"
                            },
                            "urlState": {
                              "type": "boolean"
                            },
                            "url": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "drug_dev_code": {
                      "type": "string",
                      "nullable": true
                    },
                    "applySerialNumber": {
                      "type": "string"
                    },
                    "phaseName": {
                      "type": "string"
                    },
                    "deliverTime": {
                      "type": "string"
                    }
                  }
                }
              },
              "selfPaidRecords": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "receiptDate": {
                      "type": "string"
                    },
                    "paidQuantity": {
                      "type": "string"
                    },
                    "drugName": {
                      "type": "string"
                    },
                    "dose": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "receipt": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "urlType": {
                          "type": "string"
                        },
                        "urlState": {
                          "type": "boolean"
                        },
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "drug_dev_code": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              },
              "phaseInfo": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "projectScheme": {
                    "type": "string"
                  },
                  "projectSchemeName": {
                    "type": "string"
                  },
                  "firstReceiptDate": {
                    "type": "string"
                  },
                  "totalPhase1": {
                    "type": "integer",
                    "nullable": true
                  },
                  "totalPhase2": {
                    "type": "integer",
                    "nullable": true
                  },
                  "totalPhase3": {
                    "type": "integer",
                    "nullable": true
                  },
                  "phase1RemainingCount": {
                    "type": "integer",
                    "nullable": true
                  },
                  "phase2RemainingCount": {
                    "type": "integer",
                    "nullable": true
                  }
                }
              }
            }
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "HCPPatientListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "hospital": {
                  "type": "string"
                },
                "doctor": {
                  "type": "string"
                },
                "patient": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    },
                    "urlType": {
                      "type": "string"
                    },
                    "urlState": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                },
                "project_user_sf_case_uid": {
                  "type": "string"
                },
                "applyTimes": {
                  "type": "string"
                },
                "applyDose": {
                  "type": "string"
                },
                "amount": {
                  "type": "string"
                },
                "deliverTime": {
                  "type": "string"
                },
                "scheme": {
                  "type": "string"
                },
                "unApplyPaidAmount": {
                  "type": "string"
                },
                "remainingCount": {
                  "type": "string"
                }
              }
            }
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "HCPPTMedicationRecordResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "properties": {
                  "hospital": {
                    "type": "string"
                  },
                  "doctorName": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "projectUserNumber": {
                    "type": "string"
                  },
                  "applyTimes": {
                    "type": "string"
                  },
                  "unApplyFreeAmount": {
                    "type": "string"
                  },
                  "totalPaidQuantity": {
                    "type": "string"
                  },
                  "unApplyPaidAmount": {
                    "type": "string"
                  }
                }
              },
              "gratis_application_type": {
                "type": "string"
              },
              "application_record_page_type": {
                "type": "string"
              },
              "reveal_precautions": {
                "type": "boolean"
              },
              "applicationForm4Medications": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "agreementFormNum": {
                      "type": "string"
                    },
                    "remainingAmount": {
                      "type": "string"
                    },
                    "remainingDay": {
                      "type": "string"
                    },
                    "signDoc": {
                      "type": "string"
                    }
                  }
                }
              },
              "applicationRecords": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "applySfCaseUid": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "shippingPharmacy": {
                      "type": "string"
                    },
                    "drugCount": {
                      "type": "string"
                    },
                    "gratis_application": {
                      "oneOf": [
                        {
                          "type": "string",
                          "enum": [
                            ""
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "urlType": {
                              "type": "string"
                            },
                            "urlState": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "application": {
                      "oneOf": [
                        {
                          "type": "string",
                          "enum": [
                            ""
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "urlType": {
                              "type": "string"
                            },
                            "urlState": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "applyDose": {
                      "type": "string"
                    },
                    "docData": {
                      "oneOf": [
                        {
                          "type": "string",
                          "enum": [
                            ""
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "urlType": {
                              "type": "string"
                            },
                            "urlState": {
                              "type": "boolean"
                            },
                            "url": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "drug_dev_code": {
                      "type": "string",
                      "nullable": true
                    },
                    "applySerialNumber": {
                      "type": "string"
                    },
                    "phaseName": {
                      "type": "string"
                    },
                    "deliverTime": {
                      "type": "string"
                    }
                  }
                }
              },
              "selfPaidRecords": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "receiptDate": {
                      "type": "string"
                    },
                    "paidQuantity": {
                      "type": "string"
                    },
                    "drugName": {
                      "type": "string"
                    },
                    "dose": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "receipt": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "urlType": {
                          "type": "string"
                        },
                        "urlState": {
                          "type": "boolean"
                        },
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "drug_dev_code": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              },
              "phaseInfo": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "projectScheme": {
                    "type": "string"
                  },
                  "projectSchemeName": {
                    "type": "string"
                  },
                  "firstReceiptDate": {
                    "type": "string"
                  },
                  "totalPhase1": {
                    "type": "integer",
                    "nullable": true
                  },
                  "totalPhase2": {
                    "type": "integer",
                    "nullable": true
                  },
                  "totalPhase3": {
                    "type": "integer",
                    "nullable": true
                  },
                  "phase1RemainingCount": {
                    "type": "integer",
                    "nullable": true
                  },
                  "phase2RemainingCount": {
                    "type": "integer",
                    "nullable": true
                  }
                }
              }
            }
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "SalesforceUploadRecordResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          },
          "data": {
            "type": "object",
            "properties": {
              "project_user_sf_case_uid": {
                "type": "string"
              },
              "response": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "upload_time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "upload_file_type_count": {
                            "type": "string"
                          },
                          "patient_name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "code": {
                      "type": "integer"
[...]
