{
  "openapi": "3.0.3",
  "info": {
    "title": "Halo API",
    "description": "The Halo API provides access to Halo 5: Guardians game data including player stats, match history, metadata, and player profiles. Note: This API has been deprecated by 343 Industries and may no longer be available.",
    "version": "1.0.0",
    "contact": {
      "name": "343 Industries",
      "url": "https://www.halowaypoint.com"
    },
    "x-jentic-source-url": "https://developer.haloapi.com"
  },
  "externalDocs": {
    "description": "Halo Developer Portal (archived)",
    "url": "https://developer.haloapi.com"
  },
  "servers": [
    {
      "url": "https://www.haloapi.com",
      "description": "Halo API production server (deprecated)"
    }
  ],
  "tags": [
    { "name": "Stats", "description": "Match and player statistics" },
    { "name": "Metadata", "description": "Game metadata and definitions" },
    { "name": "Profile", "description": "Player profile information" },
    { "name": "UGC", "description": "User-generated content (map variants, game variants)" }
  ],
  "security": [
    { "ApiKeyAuth": [] }
  ],
  "paths": {
    "/stats/h5/matches/{matchId}": {
      "get": {
        "operationId": "getMatchResult",
        "summary": "Get match result",
        "description": "Retrieves detailed results for a specific Halo 5 match by its match ID.",
        "tags": ["Stats"],
        "parameters": [
          {
            "name": "matchId",
            "in": "path",
            "required": true,
            "description": "The unique match identifier (GUID)",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Match result details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MatchResult" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/stats/h5/players/{player}/matches": {
      "get": {
        "operationId": "getPlayerMatches",
        "summary": "Get player match history",
        "description": "Retrieves a list of matches the specified player has participated in.",
        "tags": ["Stats"],
        "parameters": [
          {
            "name": "player",
            "in": "path",
            "required": true,
            "description": "The player's gamertag",
            "schema": { "type": "string" }
          },
          {
            "name": "modes",
            "in": "query",
            "description": "Comma-separated game modes to filter (arena, warzone, custom)",
            "schema": { "type": "string" }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start index for pagination (0-based)",
            "schema": { "type": "integer", "default": 0 }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to return (max 25)",
            "schema": { "type": "integer", "default": 25, "maximum": 25 }
          }
        ],
        "responses": {
          "200": {
            "description": "Player match history",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PlayerMatchHistory" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/stats/h5/servicerecords/arena": {
      "get": {
        "operationId": "getArenaServiceRecord",
        "summary": "Get arena service record",
        "description": "Retrieves arena service records for one or more players.",
        "tags": ["Stats"],
        "parameters": [
          {
            "name": "players",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of gamertags (max 32)",
            "schema": { "type": "string" }
          },
          {
            "name": "seasonId",
            "in": "query",
            "description": "Season GUID to filter results",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Arena service records",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceRecordCollection" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/stats/h5/servicerecords/warzone": {
      "get": {
        "operationId": "getWarzoneServiceRecord",
        "summary": "Get warzone service record",
        "description": "Retrieves warzone service records for one or more players.",
        "tags": ["Stats"],
        "parameters": [
          {
            "name": "players",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of gamertags (max 32)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Warzone service records",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceRecordCollection" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/stats/h5/servicerecords/custom": {
      "get": {
        "operationId": "getCustomServiceRecord",
        "summary": "Get custom game service record",
        "description": "Retrieves custom game service records for one or more players.",
        "tags": ["Stats"],
        "parameters": [
          {
            "name": "players",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of gamertags (max 32)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom game service records",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ServiceRecordCollection" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/stats/h5/companies/{companyId}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get company details",
        "description": "Retrieves information about a Spartan Company.",
        "tags": ["Stats"],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "description": "The company GUID",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Company details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Company" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/stats/h5/player-leaderboards/csr/{seasonId}/{playlistId}": {
      "get": {
        "operationId": "getLeaderboard",
        "summary": "Get player leaderboard",
        "description": "Retrieves the leaderboard for a specific season and playlist.",
        "tags": ["Stats"],
        "parameters": [
          {
            "name": "seasonId",
            "in": "path",
            "required": true,
            "description": "The season GUID",
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "playlistId",
            "in": "path",
            "required": true,
            "description": "The playlist GUID",
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to return (max 250)",
            "schema": { "type": "integer", "default": 200, "maximum": 250 }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Leaderboard" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/metadata/h5/metadata/game-base-variants": {
      "get": {
        "operationId": "getGameBaseVariants",
        "summary": "List game base variants",
        "description": "Returns a list of base game variant definitions (e.g., Slayer, CTF, Strongholds).",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of game base variants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/GameBaseVariant" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/metadata/h5/metadata/maps": {
      "get": {
        "operationId": "getMaps",
        "summary": "List maps",
        "description": "Returns a list of map definitions available in Halo 5.",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of maps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Map" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/metadata/h5/metadata/playlists": {
      "get": {
        "operationId": "getPlaylists",
        "summary": "List playlists",
        "description": "Returns a list of active playlists in Halo 5.",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of playlists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Playlist" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/metadata/h5/metadata/seasons": {
      "get": {
        "operationId": "getSeasons",
        "summary": "List seasons",
        "description": "Returns a list of competitive seasons in Halo 5.",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of seasons",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Season" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/metadata/h5/metadata/weapons": {
      "get": {
        "operationId": "getWeapons",
        "summary": "List weapons",
        "description": "Returns a list of weapon definitions in Halo 5.",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of weapons",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Weapon" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/metadata/h5/metadata/medals": {
      "get": {
        "operationId": "getMedals",
        "summary": "List medals",
        "description": "Returns a list of medal definitions in Halo 5.",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of medals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Medal" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/metadata/h5/metadata/commendations": {
      "get": {
        "operationId": "getCommendations",
        "summary": "List commendations",
        "description": "Returns a list of commendation definitions in Halo 5.",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of commendations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Commendation" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/metadata/h5/metadata/spartan-ranks": {
      "get": {
        "operationId": "getSpartanRanks",
        "summary": "List Spartan ranks",
        "description": "Returns a list of Spartan rank definitions with XP requirements.",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of Spartan ranks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SpartanRank" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/metadata/h5/metadata/team-colors": {
      "get": {
        "operationId": "getTeamColors",
        "summary": "List team colors",
        "description": "Returns a list of team color definitions used in Halo 5.",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of team colors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/TeamColor" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/metadata/h5/metadata/vehicles": {
      "get": {
        "operationId": "getVehicles",
        "summary": "List vehicles",
        "description": "Returns a list of vehicle definitions in Halo 5.",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of vehicles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Vehicle" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/metadata/h5/metadata/enemies": {
      "get": {
        "operationId": "getEnemies",
        "summary": "List enemies",
        "description": "Returns a list of enemy definitions in Halo 5 (Warzone AI).",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of enemies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Enemy" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/profile/h5/profiles/{player}/appearance": {
      "get": {
        "operationId": "getPlayerAppearance",
        "summary": "Get player appearance",
        "description": "Returns the player's Spartan appearance image.",
        "tags": ["Profile"],
        "parameters": [
          {
            "name": "player",
            "in": "path",
            "required": true,
            "description": "The player's gamertag",
            "schema": { "type": "string" }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Image size (95, 128, 190, 256, 512)",
            "schema": { "type": "integer", "enum": [95, 128, 190, 256, 512] }
          }
        ],
        "responses": {
          "200": {
            "description": "Player Spartan appearance image",
            "content": {
              "image/png": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/profile/h5/profiles/{player}/emblem": {
      "get": {
        "operationId": "getPlayerEmblem",
        "summary": "Get player emblem",
        "description": "Returns the player's emblem image.",
        "tags": ["Profile"],
        "parameters": [
          {
            "name": "player",
            "in": "path",
            "required": true,
            "description": "The player's gamertag",
            "schema": { "type": "string" }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Image size (95, 128, 190, 256, 512)",
            "schema": { "type": "integer", "enum": [95, 128, 190, 256, 512] }
          }
        ],
        "responses": {
          "200": {
            "description": "Player emblem image",
            "content": {
              "image/png": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/ugc/h5/players/{player}/mapvariants": {
      "get": {
        "operationId": "getPlayerMapVariants",
        "summary": "List player map variants",
        "description": "Returns a list of map variants created by the specified player.",
        "tags": ["UGC"],
        "parameters": [
          {
            "name": "player",
            "in": "path",
            "required": true,
            "description": "The player's gamertag",
            "schema": { "type": "string" }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start index for pagination",
            "schema": { "type": "integer", "default": 0 }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results (max 100)",
            "schema": { "type": "integer", "default": 100, "maximum": 100 }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": { "type": "integer", "enum": [1, 2, 3] }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort direction",
            "schema": { "type": "integer", "enum": [1, 2] }
          }
        ],
        "responses": {
          "200": {
            "description": "List of map variants",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UgcResultSet" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/ugc/h5/players/{player}/gamevariants": {
      "get": {
        "operationId": "getPlayerGameVariants",
        "summary": "List player game variants",
        "description": "Returns a list of game variants created by the specified player.",
        "tags": ["UGC"],
        "parameters": [
          {
            "name": "player",
            "in": "path",
            "required": true,
            "description": "The player's gamertag",
            "schema": { "type": "string" }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start index for pagination",
            "schema": { "type": "integer", "default": 0 }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results (max 100)",
            "schema": { "type": "integer", "default": 100, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of game variants",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UgcResultSet" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "description": "Azure API Management subscription key for the Halo API"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API subscription key.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded. Retry after the duration specified in the Retry-After header.",
        "headers": {
          "Retry-After": {
            "description": "Number of seconds to wait before retrying",
            "schema": { "type": "integer" }
          }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": { "type": "integer", "description": "HTTP status code" },
          "message": { "type": "string", "description": "Error message" }
        }
      },
      "MatchResult": {
        "type": "object",
        "properties": {
          "IsMatchOver": { "type": "boolean", "description": "Whether the match has completed" },
          "TotalDuration": { "type": "string", "description": "ISO 8601 duration of the match" },
          "MapVariantId": { "type": "string", "format": "uuid", "description": "Map variant GUID" },
          "GameBaseVariantId": { "type": "string", "format": "uuid", "description": "Base game variant GUID" },
          "PlaylistId": { "type": "string", "format": "uuid", "description": "Playlist GUID" },
          "MapId": { "type": "string", "format": "uuid", "description": "Map GUID" },
          "IsTeamGame": { "type": "boolean" },
          "PlayerStats": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlayerStat" }
          },
          "TeamStats": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TeamStat" }
          }
        }
      },
      "PlayerStat": {
        "type": "object",
        "properties": {
          "Player": {
            "type": "object",
            "properties": {
              "Gamertag": { "type": "string" },
              "Xuid": { "type": "string" }
            }
          },
          "TeamId": { "type": "integer" },
          "Rank": { "type": "integer" },
          "DNF": { "type": "boolean", "description": "Did not finish" },
          "TotalKills": { "type": "integer" },
          "TotalDeaths": { "type": "integer" },
          "TotalAssists": { "type": "integer" },
          "TotalHeadshots": { "type": "integer" },
          "TotalShotsFired": { "type": "integer" },
          "TotalShotsLanded": { "type": "integer" },
          "TotalMeleeKills": { "type": "integer" },
          "TotalGrenadeDamage": { "type": "number", "format": "double" },
          "TotalGroundPoundKills": { "type": "integer" },
          "TotalPowerWeaponKills": { "type": "integer" },
          "WeaponStats": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/WeaponStat" }
          },
          "MedalAwards": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "MedalId": { "type": "integer" },
                "Count": { "type": "integer" }
              }
            }
          }
        }
      },
      "TeamStat": {
        "type": "object",
        "properties": {
          "TeamId": { "type": "integer" },
          "Score": { "type": "integer" },
          "Rank": { "type": "integer" },
          "RoundStats": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "RoundNumber": { "type": "integer" },
                "Rank": { "type": "integer" },
                "Score": { "type": "integer" }
              }
            }
          }
        }
      },
      "WeaponStat": {
        "type": "object",
        "properties": {
          "WeaponId": {
            "type": "object",
            "properties": {
              "StockId": { "type": "integer" },
              "Attachments": { "type": "array", "items": { "type": "integer" } }
            }
          },
          "TotalShotsFired": { "type": "integer" },
          "TotalShotsLanded": { "type": "integer" },
          "TotalHeadshots": { "type": "integer" },
          "TotalKills": { "type": "integer" },
          "TotalDamageDealt": { "type": "number", "format": "double" },
          "TotalPossessionTime": { "type": "string", "description": "ISO 8601 duration" }
        }
      },
      "PlayerMatchHistory": {
        "type": "object",
        "properties": {
          "Start": { "type": "integer", "description": "Start index" },
          "Count": { "type": "integer", "description": "Number of results returned" },
          "ResultCount": { "type": "integer", "description": "Total results available" },
          "Results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "object",
                  "properties": {
                    "MatchId": { "type": "string", "format": "uuid" },
                    "GameMode": { "type": "integer", "description": "1=Arena, 2=Campaign, 3=Custom, 4=Warzone" }
                  }
                },
                "HopperId": { "type": "string", "format": "uuid" },
                "MapId": { "type": "string", "format": "uuid" },
                "MapVariant": {
                  "type": "object",
                  "properties": {
                    "ResourceType": { "type": "integer" },
                    "ResourceId": { "type": "string", "format": "uuid" },
                    "OwnerType": { "type": "integer" },
                    "Owner": { "type": "string" }
                  }
                },
                "GameBaseVariantId": { "type": "string", "format": "uuid" },
                "MatchDuration": { "type": "string", "description": "ISO 8601 duration" },
                "MatchCompletedDate": {
                  "type": "object",
                  "properties": {
                    "ISO8601Date": { "type": "string", "format": "date-time" }
                  }
                },
                "Teams": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": { "type": "integer" },
                      "Score": { "type": "integer" },
                      "Rank": { "type": "integer" }
                    }
                  }
                },
                "Players": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Player": {
                        "type": "object",
                        "properties": {
                          "Gamertag": { "type": "string" },
                          "Xuid": { "type": "string" }
                        }
                      },
                      "TeamId": { "type": "integer" },
                      "Rank": { "type": "integer" },
                      "Result": { "type": "integer", "description": "0=Did Not Finish, 1=Lost, 2=Tied, 3=Won" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ServiceRecordCollection": {
        "type": "object",
        "properties": {
          "Results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Id": { "type": "string", "description": "Player gamertag" },
                "ResultCode": { "type": "integer", "description": "0=Success, 1=NotFound, 2=ServiceFailure" },
                "Result": { "$ref": "#/components/schemas/ServiceRecord" }
              }
            }
          }
        }
      },
      "ServiceRecord": {
        "type": "object",
        "properties": {
          "PlayerId": {
            "type": "object",
            "properties": {
              "Gamertag": { "type": "string" },
              "Xuid": { "type": "string" }
            }
          },
          "SpartanRank": { "type": "integer" },
          "Xp": { "type": "integer" },
          "ArenaStats": {
            "type": "object",
            "properties": {
              "TotalKills": { "type": "integer" },
              "TotalDeaths": { "type": "integer" },
              "TotalAssists": { "type": "integer" },
              "TotalGamesCompleted": { "type": "integer" },
              "TotalGamesWon": { "type": "integer" },
              "TotalGamesLost": { "type": "integer" },
              "TotalGamesTied": { "type": "integer" },
              "TotalTimePlayed": { "type": "string", "description": "ISO 8601 duration" },
              "HighestCsrAttained": { "$ref": "#/components/schemas/Csr" }
            }
          },
          "WarzoneStats": {
            "type": "object",
            "properties": {
              "TotalKills": { "type": "integer" },
              "TotalDeaths": { "type": "integer" },
              "TotalAssists": { "type": "integer" },
              "TotalGamesCompleted": { "type": "integer" },
              "TotalGamesWon": { "type": "integer" },
              "TotalGamesLost": { "type": "integer" }
            }
          },
          "CustomStats": {
            "type": "object",
            "properties": {
              "TotalKills": { "type": "integer" },
              "TotalDeaths": { "type": "integer" },
              "TotalAssists": { "type": "integer" },
              "TotalGamesCompleted": { "type": "integer" },
              "TotalGamesWon": { "type": "integer" },
              "TotalGamesLost": { "type": "integer" }
            }
          }
        }
      },
      "Csr": {
        "type": "object",
        "description": "Competitive Skill Rank",
        "properties": {
          "Tier": { "type": "integer" },
          "DesignationId": { "type": "integer", "description": "CSR designation (e.g., 1=Bronze, 6=Champion)" },
          "Csr": { "type": "integer" },
          "PercentToNextTier": { "type": "integer" },
          "Rank": { "type": "integer", "description": "Only populated for Champion rank" }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "Id": { "type": "string", "format": "uuid" },
          "Name": { "type": "string" },
          "Members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Identity": { "type": "string" },
                "Gamertag": { "type": "string" },
                "Rank": { "type": "integer" },
                "LastLoginTime": {
                  "type": "object",
                  "properties": {
                    "ISO8601Date": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "Creator": {
            "type": "object",
            "properties": {
              "Identity": { "type": "string" },
              "Gamertag": { "type": "string" }
            }
          },
          "CreatedDate": {
            "type": "object",
            "properties": {
              "ISO8601Date": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "Leaderboard": {
        "type": "object",
        "properties": {
          "Start": { "type": "integer" },
          "Count": { "type": "integer" },
          "ResultCount": { "type": "integer" },
          "Results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Player": {
                  "type": "object",
                  "properties": {
                    "Gamertag": { "type": "string" },
                    "Xuid": { "type": "string" }
                  }
                },
                "Rank": { "type": "integer" },
                "Score": {
                  "type": "object",
                  "properties": {
                    "Tier": { "type": "integer" },
                    "DesignationId": { "type": "integer" },
                    "Csr": { "type": "integer" },
                    "PercentToNextTier": { "type": "integer" },
                    "Rank": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      },
      "GameBaseVariant": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Display name" },
          "internalName": { "type": "string" },
          "id": { "type": "string", "format": "uuid" },
          "iconUrl": { "type": "string", "format": "uri", "description": "Icon image URL" },
          "supportedGameModes": {
            "type": "array",
            "items": { "type": "string" },
            "description": "List of supported game modes (e.g., Arena, Warzone)"
          },
          "contentId": { "type": "string", "format": "uuid" }
        }
      },
      "Map": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Map display name" },
          "description": { "type": "string" },
          "id": { "type": "string", "format": "uuid" },
          "imageUrl": { "type": "string", "format": "uri" },
          "supportedGameModes": {
            "type": "array",
            "items": { "type": "string" }
          },
          "contentId": { "type": "string", "format": "uuid" }
        }
      },
      "Playlist": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "id": { "type": "string", "format": "uuid" },
          "isRanked": { "type": "boolean" },
          "imageUrl": { "type": "string", "format": "uri" },
          "gameMode": { "type": "string" },
          "isActive": { "type": "boolean" },
          "contentId": { "type": "string", "format": "uuid" }
        }
      },
      "Season": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "startDate": {
            "type": "object",
            "properties": {
              "ISO8601Date": { "type": "string", "format": "date-time" }
            }
          },
          "endDate": {
            "type": "object",
            "properties": {
              "ISO8601Date": { "type": "string", "format": "date-time" }
            }
          },
          "isActive": { "type": "boolean" },
          "playlists": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "format": "uuid" },
                "name": { "type": "string" }
              }
            }
          },
          "contentId": { "type": "string", "format": "uuid" }
        }
      },
      "Weapon": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "id": { "type": "integer" },
          "type": { "type": "string", "description": "Weapon category" },
          "largeIconImageUrl": { "type": "string", "format": "uri" },
          "smallIconImageUrl": { "type": "string", "format": "uri" },
          "isUsableByPlayer": { "type": "boolean" },
          "contentId": { "type": "string", "format": "uuid" }
        }
      },
      "Medal": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "id": { "type": "integer" },
          "classification": { "type": "string", "description": "Medal classification (e.g., KillingSpree, MultiKill, Style)" },
          "difficulty": { "type": "integer", "description": "Difficulty rating" },
          "spriteLocation": {
            "type": "object",
            "properties": {
              "spriteSheetUri": { "type": "string", "format": "uri" },
              "left": { "type": "integer" },
              "top": { "type": "integer" },
              "width": { "type": "integer" },
              "height": { "type": "integer" },
              "spriteWidth": { "type": "integer" },
              "spriteHeight": { "type": "integer" }
            }
          },
          "contentId": { "type": "string", "format": "uuid" }
        }
      },
      "Commendation": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "id": { "type": "string", "format": "uuid" },
          "type": { "type": "string" },
          "levels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "threshold": { "type": "integer" },
                "reward": {
                  "type": "object",
                  "properties": {
                    "xp": { "type": "integer" },
                    "requisitionPacks": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          },
          "contentId": { "type": "string", "format": "uuid" }
        }
      },
      "SpartanRank": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "startXp": { "type": "integer", "description": "XP required to reach this rank" },
          "reward": {
            "type": "object",
            "properties": {
              "xp": { "type": "integer" },
              "requisitionPacks": { "type": "array", "items": { "type": "object" } }
            }
          },
          "contentId": { "type": "string", "format": "uuid" }
        }
      },
      "TeamColor": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "id": { "type": "integer" },
          "color": { "type": "string", "description": "Hex color code (e.g., #FF0000)" },
          "iconUrl": { "type": "string", "format": "uri" },
          "contentId": { "type": "string", "format": "uuid" }
        }
      },
      "Vehicle": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "id": { "type": "integer" },
          "largeIconImageUrl": { "type": "string", "format": "uri" },
          "smallIconImageUrl": { "type": "string", "format": "uri" },
          "isUsableByPlayer": { "type": "boolean" },
          "contentId": { "type": "string", "format": "uuid" }
        }
      },
      "Enemy": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "id": { "type": "integer" },
          "faction": { "type": "string" },
          "largeIconImageUrl": { "type": "string", "format": "uri" },
          "smallIconImageUrl": { "type": "string", "format": "uri" },
          "contentId": { "type": "string", "format": "uuid" }
        }
      },
      "UgcResultSet": {
        "type": "object",
        "properties": {
          "Start": { "type": "integer" },
          "Count": { "type": "integer" },
          "ResultCount": { "type": "integer" },
          "Results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Name": { "type": "string" },
                "Description": { "type": "string" },
                "Identity": {
                  "type": "object",
                  "properties": {
                    "ResourceType": { "type": "integer" },
                    "ResourceId": { "type": "string", "format": "uuid" },
                    "OwnerType": { "type": "integer" },
                    "Owner": { "type": "string" }
                  }
                },
                "AccessControl": { "type": "integer" },
                "CreatedTimeUtc": {
                  "type": "object",
                  "properties": {
                    "ISO8601Date": { "type": "string", "format": "date-time" }
                  }
                },
                "ModifiedTimeUtc": {
                  "type": "object",
                  "properties": {
                    "ISO8601Date": { "type": "string", "format": "date-time" }
                  }
                },
                "Stats": {
                  "type": "object",
                  "properties": {
                    "BookmarkCount": { "type": "integer" },
                    "HasCallerBookmarked": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
