{
  "openapi": "3.0.3",
  "info": {
    "title": "Adyntel API",
    "version": "1.0.0",
    "description": "Adyntel ad intelligence API. Scrape and discover competitor ads across Facebook/Instagram, Google, and LinkedIn ad libraries.",
    "x-jentic-source-url": "https://docs.adyntel.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.adyntel.com",
      "description": "Adyntel API"
    }
  ],
  "security": [
    {
      "apiKeyBody": []
    }
  ],
  "tags": [
    {
      "name": "Facebook",
      "description": "Facebook & Instagram ad library"
    },
    {
      "name": "Google",
      "description": "Google ad transparency"
    },
    {
      "name": "LinkedIn",
      "description": "LinkedIn ad library"
    }
  ],
  "paths": {
    "/facebook": {
      "post": {
        "operationId": "searchFacebookAds",
        "summary": "Search Facebook & Instagram ads",
        "description": "Find all Facebook and Instagram ads for a company by providing their website domain or Facebook page URL.",
        "tags": [
          "Facebook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "email"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Adyntel API key"
                  },
                  "email": {
                    "type": "string",
                    "description": "Adyntel account email"
                  },
                  "facebook_url": {
                    "type": "string",
                    "description": "Facebook page URL (starts with https://). Either this or company_domain required."
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Company domain (e.g. zoom.com, no prefix). Either this or facebook_url required."
                  },
                  "webhook_url": {
                    "type": "string",
                    "description": "Webhook URL to receive results"
                  },
                  "continuation_token": {
                    "type": "string",
                    "description": "Token for paginating through results"
                  },
                  "media_type": {
                    "type": "string",
                    "enum": [
                      "image",
                      "meme",
                      "image_and_meme",
                      "video"
                    ],
                    "description": "Filter by media type"
                  },
                  "country_code": {
                    "type": "string",
                    "description": "Filter by country code (e.g. US, GB, DE)"
                  },
                  "active_status": {
                    "type": "string",
                    "enum": [
                      "inactive",
                      "all"
                    ],
                    "description": "Filter by active status. Default returns only active ads."
                  },
                  "all_ads": {
                    "type": "boolean",
                    "description": "Scrape all pages automatically. Requires webhook_url. Warning: uses one credit per page."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Facebook ad results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacebookAdResponse"
                }
              }
            }
          },
          "204": {
            "description": "No ads found - domain unavailable, no Facebook page found, or page not publicly accessible. Not charged."
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/google": {
      "post": {
        "operationId": "searchGoogleAds",
        "summary": "Search Google ads",
        "description": "Find all Google ads for a company by providing their website domain.",
        "tags": [
          "Google"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "email",
                  "company_domain"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Adyntel API key"
                  },
                  "email": {
                    "type": "string",
                    "description": "Adyntel account email"
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Company domain (e.g. clay.com)"
                  },
                  "media_type": {
                    "type": "string",
                    "enum": [
                      "text",
                      "image",
                      "video"
                    ],
                    "description": "Filter by media type"
                  },
                  "all_ads": {
                    "type": "boolean",
                    "description": "Scrape all pages. Requires webhook_url."
                  },
                  "webhook_url": {
                    "type": "string",
                    "description": "Webhook URL for results"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google ad results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleAdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin": {
      "post": {
        "operationId": "searchLinkedInAds",
        "summary": "Search LinkedIn ads",
        "description": "Find all LinkedIn ads for a company by providing their website domain or LinkedIn page ID.",
        "tags": [
          "LinkedIn"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "email"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Adyntel API key"
                  },
                  "email": {
                    "type": "string",
                    "description": "Adyntel account email"
                  },
                  "company_domain": {
                    "type": "string",
                    "description": "Company domain"
                  },
                  "linkedin_page_id": {
                    "type": "integer",
                    "description": "LinkedIn page ID"
                  },
                  "all_ads": {
                    "type": "boolean",
                    "description": "Scrape all pages. Requires webhook_url."
                  },
                  "webhook_url": {
                    "type": "string",
                    "description": "Webhook URL for results"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "LinkedIn ad results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedInAdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyBody": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key sent in the request body as api_key field"
      }
    },
    "schemas": {
      "FacebookAdResponse": {
        "type": "object",
        "properties": {
          "page_id": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "continuation_token": {
            "type": "string",
            "nullable": true,
            "description": "Token for next page. Null when no more results."
          },
          "platform": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "media_types": {
            "type": "string"
          },
          "active_status": {
            "type": "string"
          },
          "is_result_complete": {
            "type": "boolean"
          },
          "number_of_ads": {
            "type": "integer"
          },
          "count_landing_pages": {
            "type": "integer"
          },
          "unique_landing_pages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "results": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/FacebookAd"
              }
            }
          }
        }
      },
      "FacebookAd": {
        "type": "object",
        "properties": {
          "ad_archive_id": {
            "type": "string"
          },
          "page_id": {
            "type": "string"
          },
          "snapshot": {
            "type": "object",
            "properties": {
              "page_name": {
                "type": "string"
              },
              "page_profile_uri": {
                "type": "string"
              },
              "body": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                }
              },
              "caption": {
                "type": "string"
              },
              "cards": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "string"
                    },
                    "cta_text": {
                      "type": "string"
                    },
                    "link_url": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "original_image_url": {
                      "type": "string"
                    },
                    "video_hd_url": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              },
              "current_page_name": {
                "type": "string"
              },
              "cta_text": {
                "type": "string"
              },
              "link_url": {
                "type": "string"
              }
            }
          },
          "start_date": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "end_date": {
            "type": "integer",
            "nullable": true
          },
          "publisher_platform": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "GoogleAdResponse": {
        "type": "object",
        "properties": {
          "continuation_token": {
            "type": "string",
            "nullable": true
          },
          "country_code": {
            "type": "string"
          },
          "total_ad_count": {
            "type": "integer"
          },
          "ads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GoogleAd"
            }
          }
        }
      },
      "GoogleAd": {
        "type": "object",
        "properties": {
          "advertiser_id": {
            "type": "string"
          },
          "creative_id": {
            "type": "string"
          },
          "original_url": {
            "type": "string"
          },
          "variants": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string"
                },
                "height": {
                  "type": "number",
                  "nullable": true
                },
                "width": {
                  "type": "number",
                  "nullable": true
                }
              }
            }
          },
          "start": {
            "type": "string",
            "format": "date"
          },
          "last_seen": {
            "type": "string",
            "format": "date"
          },
          "advertiser_name": {
            "type": "string"
          },
          "format": {
            "type": "string",
            "enum": [
              "Text",
              "Image",
              "Video"
            ]
          }
        }
      },
      "LinkedInAdResponse": {
        "type": "object",
        "properties": {
          "page_id": {
            "type": "string"
          },
          "continuation_token": {
            "type": "string",
            "nullable": true
          },
          "is_last_page": {
            "type": "boolean"
          },
          "total_ads": {
            "type": "integer"
          },
          "ads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinkedInAd"
            }
          }
        }
      },
      "LinkedInAd": {
        "type": "object",
        "properties": {
          "creative_type": {
            "type": "string"
          },
          "ad_id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "carousel"
            ]
          },
          "advertiser": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "logo_url": {
                "type": "string"
              },
              "promoted": {
                "type": "boolean"
              }
            }
          },
          "commentary": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "link": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "image": {
            "type": "object",
            "nullable": true,
            "properties": {
              "alt_text": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          },
          "carousel": {
            "type": "object",
            "nullable": true
          },
          "headline": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "nullable": true
              },
              "description": {
                "type": "string"
              }
            }
          },
          "view_details_link": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
