{
  "openapi": "3.0.3",
  "info": {
    "title": "AccuWeather API",
    "version": "1.0.0",
    "description": "AccuWeather provides weather forecast APIs including current conditions, forecasts, location data, and weather alerts worldwide.",
    "x-jentic-source-url": "https://developer.accuweather.com/apis",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://dataservice.accuweather.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Current Conditions",
      "description": "Current weather conditions for locations"
    },
    {
      "name": "Forecasts",
      "description": "Daily and hourly weather forecasts"
    },
    {
      "name": "Locations",
      "description": "Search and retrieve location information"
    },
    {
      "name": "Alerts",
      "description": "Weather alerts and warnings"
    },
    {
      "name": "Indices",
      "description": "Weather-related lifestyle indices"
    }
  ],
  "paths": {
    "/currentconditions/v1/{locationKey}": {
      "get": {
        "operationId": "getCurrentConditions",
        "summary": "Get current weather conditions",
        "description": "Returns current weather conditions for a specific location",
        "tags": [
          "Current Conditions"
        ],
        "parameters": [
          {
            "name": "locationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique location identifier"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-us"
            },
            "description": "Language code for response"
          },
          {
            "name": "details",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include detailed weather information"
          }
        ],
        "responses": {
          "200": {
            "description": "Current conditions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrentCondition"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecasts/v1/daily/5day/{locationKey}": {
      "get": {
        "operationId": "get5DayForecast",
        "summary": "Get 5-day daily forecast",
        "description": "Returns 5-day daily weather forecast for a specific location",
        "tags": [
          "Forecasts"
        ],
        "parameters": [
          {
            "name": "locationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique location identifier"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-us"
            },
            "description": "Language code for response"
          },
          {
            "name": "details",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include detailed forecast information"
          },
          {
            "name": "metric",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Return metric units"
          }
        ],
        "responses": {
          "200": {
            "description": "Forecast retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyForecast"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecasts/v1/hourly/12hour/{locationKey}": {
      "get": {
        "operationId": "get12HourForecast",
        "summary": "Get 12-hour hourly forecast",
        "description": "Returns 12-hour hourly weather forecast for a specific location",
        "tags": [
          "Forecasts"
        ],
        "parameters": [
          {
            "name": "locationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique location identifier"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-us"
            },
            "description": "Language code for response"
          },
          {
            "name": "details",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include detailed forecast information"
          },
          {
            "name": "metric",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Return metric units"
          }
        ],
        "responses": {
          "200": {
            "description": "Hourly forecast retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HourlyForecast"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations/v1/cities/search": {
      "get": {
        "operationId": "searchCities",
        "summary": "Search for cities",
        "description": "Search for locations by city name",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "City name to search for"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-us"
            },
            "description": "Language code for response"
          },
          {
            "name": "details",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include detailed location information"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations/v1/geoposition/search": {
      "get": {
        "operationId": "getLocationByCoordinates",
        "summary": "Get location by coordinates",
        "description": "Returns location information for geographic coordinates",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Coordinates in format 'latitude,longitude'"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-us"
            },
            "description": "Language code for response"
          }
        ],
        "responses": {
          "200": {
            "description": "Location retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alerts/v1/{locationKey}": {
      "get": {
        "operationId": "getWeatherAlerts",
        "summary": "Get weather alerts",
        "description": "Returns active weather alerts for a specific location",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "locationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique location identifier"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-us"
            },
            "description": "Language code for response"
          }
        ],
        "responses": {
          "200": {
            "description": "Alerts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeatherAlert"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/indices/v1/daily/5day/{locationKey}": {
      "get": {
        "operationId": "get5DayIndices",
        "summary": "Get 5-day lifestyle indices",
        "description": "Returns weather-related lifestyle indices for 5 days",
        "tags": [
          "Indices"
        ],
        "parameters": [
          {
            "name": "locationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique location identifier"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-us"
            },
            "description": "Language code for response"
          }
        ],
        "responses": {
          "200": {
            "description": "Indices retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeatherIndex"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "AccuWeather API key"
      }
    },
    "schemas": {
      "CurrentCondition": {
        "type": "object",
        "properties": {
          "LocalObservationDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "EpochTime": {
            "type": "integer"
          },
          "WeatherText": {
            "type": "string"
          },
          "WeatherIcon": {
            "type": "integer"
          },
          "HasPrecipitation": {
            "type": "boolean"
          },
          "PrecipitationType": {
            "type": "string",
            "nullable": true
          },
          "IsDayTime": {
            "type": "boolean"
          },
          "Temperature": {
            "type": "object",
            "properties": {
              "Metric": {
                "$ref": "#/components/schemas/TemperatureValue"
              },
              "Imperial": {
                "$ref": "#/components/schemas/TemperatureValue"
              }
            }
          },
          "RelativeHumidity": {
            "type": "integer"
          },
          "Wind": {
            "type": "object",
            "properties": {
              "Direction": {
                "type": "object",
                "properties": {
                  "Degrees": {
                    "type": "integer"
                  },
                  "Localized": {
                    "type": "string"
                  }
                }
              },
              "Speed": {
                "type": "object",
                "properties": {
                  "Metric": {
                    "$ref": "#/components/schemas/SpeedValue"
                  },
                  "Imperial": {
                    "$ref": "#/components/schemas/SpeedValue"
                  }
                }
              }
            }
          }
        }
      },
      "TemperatureValue": {
        "type": "object",
        "properties": {
          "Value": {
            "type": "number"
          },
          "Unit": {
            "type": "string"
          },
          "UnitType": {
            "type": "integer"
          }
        }
      },
      "SpeedValue": {
        "type": "object",
        "properties": {
          "Value": {
            "type": "number"
          },
          "Unit": {
            "type": "string"
          },
          "UnitType": {
            "type": "integer"
          }
        }
      },
      "DailyForecast": {
        "type": "object",
        "properties": {
          "Headline": {
            "type": "object",
            "properties": {
              "EffectiveDate": {
                "type": "string",
                "format": "date-time"
              },
              "Text": {
                "type": "string"
              },
              "Category": {
                "type": "string"
              }
            }
          },
          "DailyForecasts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Date": {
                  "type": "string",
                  "format": "date-time"
                },
                "Temperature": {
                  "type": "object",
                  "properties": {
                    "Minimum": {
                      "$ref": "#/components/schemas/TemperatureValue"
                    },
                    "Maximum": {
                      "$ref": "#/components/schemas/TemperatureValue"
                    }
                  }
                },
                "Day": {
                  "type": "object",
                  "properties": {
                    "Icon": {
                      "type": "integer"
                    },
                    "IconPhrase": {
                      "type": "string"
                    },
                    "HasPrecipitation": {
                      "type": "boolean"
                    }
                  }
                },
                "Night": {
                  "type": "object",
                  "properties": {
                    "Icon": {
                      "type": "integer"
                    },
                    "IconPhrase": {
                      "type": "string"
                    },
                    "HasPrecipitation": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "HourlyForecast": {
        "type": "object",
        "properties": {
          "DateTime": {
            "type": "string",
            "format": "date-time"
          },
          "EpochDateTime": {
            "type": "integer"
          },
          "WeatherIcon": {
            "type": "integer"
          },
          "IconPhrase": {
            "type": "string"
          },
          "HasPrecipitation": {
            "type": "boolean"
          },
          "Temperature": {
            "$ref": "#/components/schemas/TemperatureValue"
          },
          "PrecipitationProbability": {
            "type": "integer"
          },
          "Wind": {
            "type": "object",
            "properties": {
              "Speed": {
                "$ref": "#/components/schemas/SpeedValue"
              },
              "Direction": {
                "type": "object",
                "properties": {
                  "Degrees": {
                    "type": "integer"
                  },
                  "Localized": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string"
          },
          "LocalizedName": {
            "type": "string"
          },
          "EnglishName": {
            "type": "string"
          },
          "Country": {
            "type": "object",
            "properties": {
              "ID": {
                "type": "string"
              },
              "LocalizedName": {
                "type": "string"
              }
            }
          },
          "AdministrativeArea": {
            "type": "object",
            "properties": {
              "ID": {
                "type": "string"
              },
              "LocalizedName": {
                "type": "string"
              }
            }
          },
          "GeoPosition": {
            "type": "object",
            "properties": {
              "Latitude": {
                "type": "number"
              },
              "Longitude": {
                "type": "number"
              },
              "Elevation": {
                "type": "object",
                "properties": {
                  "Metric": {
                    "$ref": "#/components/schemas/TemperatureValue"
                  },
                  "Imperial": {
                    "$ref": "#/components/schemas/TemperatureValue"
                  }
                }
              }
            }
          }
        }
      },
      "WeatherAlert": {
        "type": "object",
        "properties": {
          "AlertID": {
            "type": "integer"
          },
          "Description": {
            "type": "object",
            "properties": {
              "Localized": {
                "type": "string"
              },
              "English": {
                "type": "string"
              }
            }
          },
          "Category": {
            "type": "string"
          },
          "Priority": {
            "type": "integer"
          },
          "Source": {
            "type": "string"
          },
          "SourceId": {
            "type": "integer"
          },
          "Level": {
            "type": "string"
          }
        }
      },
      "WeatherIndex": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "ID": {
            "type": "integer"
          },
          "Ascending": {
            "type": "boolean"
          },
          "Value": {
            "type": "number"
          },
          "Category": {
            "type": "string"
          },
          "CategoryValue": {
            "type": "integer"
          },
          "Text": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          },
          "Reference": {
            "type": "string"
          }
        }
      }
    }
  }
}
