{
  "openapi": "3.0.3",
  "info": {
    "title": "Ola Corporate API",
    "description": "API for managing corporate users, rides, invoices, and expense codes on the Ola Corporate platform.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://corporate.olacabs.com/docs/view-users"
  },
  "servers": [
    {
      "url": "https://devapi.olacabs.com",
      "description": "Production"
    },
    {
      "url": "https://devapi-stg.olacabs-dev.in",
      "description": "UAT / Staging"
    }
  ],
  "paths": {
    "/v1/api/corporate/user": {
      "post": {
        "operationId": "addUser",
        "summary": "Add a new corporate user",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update an existing corporate user",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete an existing corporate user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "corp_email_id",
            "in": "query",
            "required": true,
            "description": "Employee email address to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully"
          },
          "401": {
            "description": "Unauthorized to update user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/corporate/users": {
      "get": {
        "operationId": "getUsers",
        "summary": "Get list of corporate users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Employee status filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of users to fetch",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of corporate users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CorporateUser"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addUsersBulk",
        "summary": "Add or update users in bulk",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AddUserRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk operation completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/corporate/rides": {
      "get": {
        "operationId": "getRidesV1",
        "summary": "Get list of corporate rides (v1)",
        "tags": [
          "Rides"
        ],
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "required": true,
            "description": "Get all rides from given date (format: yyyy-MM-dd HH:mm:ss)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": true,
            "description": "Get all rides until a date (format: yyyy-MM-dd HH:mm:ss)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of rides to be fetched",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_num",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order by ride start time (e.g., ride_start_time_asc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_email_id",
            "in": "query",
            "description": "Email ID of user to filter rides",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employee_code",
            "in": "query",
            "description": "Employee code of user",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RidesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/api/corporate/rides": {
      "get": {
        "operationId": "getRidesV2",
        "summary": "Get list of corporate rides (v2)",
        "tags": [
          "Rides"
        ],
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "required": true,
            "description": "Get all rides from given date (format: yyyy-MM-dd HH:mm:ss)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "required": true,
            "description": "Get all rides until a date (format: yyyy-MM-dd HH:mm:ss)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of rides to be fetched",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_num",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order by ride start time",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_email_id",
            "in": "query",
            "description": "Email ID of user to filter rides",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employee_code",
            "in": "query",
            "description": "Employee code of user",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RidesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/corporate/rides/downloadInvoice": {
      "get": {
        "operationId": "downloadInvoice",
        "summary": "Download invoice for a ride",
        "tags": [
          "Rides"
        ],
        "parameters": [
          {
            "name": "crn",
            "in": "query",
            "required": true,
            "description": "CRN of a corporate ride",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice PDF file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/api/corporate/expenseCode": {
      "post": {
        "operationId": "createExpenseCode",
        "summary": "Create a new expense code",
        "tags": [
          "Expense Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExpenseCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expense code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateExpenseCode",
        "summary": "Update an existing expense code",
        "tags": [
          "Expense Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExpenseCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expense code updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteExpenseCode",
        "summary": "Delete an existing expense code",
        "tags": [
          "Expense Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "expense_code"
                ],
                "properties": {
                  "expense_code": {
                    "type": "string",
                    "description": "Expense code name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expense code deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "addRemoveExpenseCodeAllocation",
        "summary": "Add or remove expense code allocation",
        "tags": [
          "Expense Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseCodeAllocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Allocation updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCodeAllocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "corporateToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CORPORATE-TOKEN",
        "description": "Unique key identifying you as a registered Ola Corporate partner"
      }
    },
    "schemas": {
      "AddUserRequest": {
        "type": "object",
        "required": [
          "corp_email_id",
          "name",
          "groups"
        ],
        "properties": {
          "corp_email_id": {
            "type": "string",
            "maxLength": 255,
            "description": "Employee email address"
          },
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "Employee name"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Employee groups"
          },
          "employee_phone_number": {
            "type": "string",
            "maxLength": 20,
            "description": "Employee phone number"
          },
          "employee_cost_center": {
            "type": "string",
            "maxLength": 64,
            "description": "Employee cost center"
          },
          "employee_code": {
            "type": "string",
            "maxLength": 64,
            "description": "Employee code"
          },
          "employee_base_location": {
            "type": "string",
            "maxLength": 255,
            "description": "Employee base location"
          },
          "employee_designation": {
            "type": "string",
            "maxLength": 64,
            "description": "Employee designation"
          },
          "employee_band": {
            "type": "string",
            "maxLength": 64,
            "description": "Employee band"
          },
          "employee_gender": {
            "type": "string",
            "maxLength": 10,
            "description": "Employee gender"
          },
          "manager_name": {
            "type": "string",
            "maxLength": 128,
            "description": "Employee manager name"
          },
          "manager_email_address": {
            "type": "string",
            "maxLength": 150,
            "description": "Employee manager email address"
          },
          "custom_field_1": {
            "type": "string",
            "maxLength": 64,
            "nullable": true
          },
          "custom_field_2": {
            "type": "string",
            "maxLength": 64,
            "nullable": true
          },
          "custom_field_3": {
            "type": "string",
            "maxLength": 64,
            "nullable": true
          },
          "custom_field_4": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "custom_field_5": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "required": [
          "corp_email_id",
          "name",
          "groups"
        ],
        "properties": {
          "corp_email_id": {
            "type": "string",
            "maxLength": 255,
            "description": "Employee email address (cannot be changed)"
          },
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "Employee name"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Employee groups"
          },
          "user_status": {
            "type": "string",
            "description": "User status (only 'inactive' is allowed)",
            "enum": [
              "inactive"
            ]
          },
          "employee_phone_number": {
            "type": "string",
            "maxLength": 20
          },
          "employee_cost_center": {
            "type": "string",
            "maxLength": 64
          },
          "employee_code": {
            "type": "string",
            "maxLength": 64
          },
          "employee_base_location": {
            "type": "string",
            "maxLength": 255
          },
          "employee_designation": {
            "type": "string",
            "maxLength": 64
          },
          "employee_band": {
            "type": "string",
            "maxLength": 64
          },
          "employee_gender": {
            "type": "string",
            "maxLength": 10
          },
          "manager_name": {
            "type": "string",
            "maxLength": 128
          },
          "manager_email_address": {
            "type": "string",
            "maxLength": 150
          },
          "custom_field_1": {
            "type": "string",
            "maxLength": 64,
            "nullable": true
          },
          "custom_field_2": {
            "type": "string",
            "maxLength": 64,
            "nullable": true
          },
          "custom_field_3": {
            "type": "string",
            "maxLength": 64,
            "nullable": true
          },
          "custom_field_4": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "custom_field_5": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          }
        }
      },
      "AddUserResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CorporateUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "employee_code": {
            "type": "string"
          },
          "employee_gender": {
            "type": "string"
          },
          "user_type": {
            "type": "string"
          },
          "custom_field1": {
            "type": "string",
            "nullable": true
          },
          "custom_field2": {
            "type": "string",
            "nullable": true
          },
          "custom_field3": {
            "type": "string",
            "nullable": true
          },
          "custom_field4": {
            "type": "string",
            "nullable": true
          },
          "custom_field5": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RidesResponse": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string"
          },
          "total_results": {
            "type": "integer"
          },
          "anchor": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ride"
            }
          }
        }
      },
      "Ride": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "crn": {
            "type": "string"
          },
          "trip_start_time": {
            "type": "string"
          },
          "trip_end_time": {
            "type": "string"
          },
          "pickup_area": {
            "type": "string"
          },
          "drop_location": {
            "type": "string"
          },
          "cab_category": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "payment_type": {
            "type": "string"
          },
          "payment_mode": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "user_email": {
            "type": "string"
          },
          "employee_code": {
            "type": "string",
            "nullable": true
          },
          "user_group": {
            "type": "string"
          },
          "bill": {
            "type": "number"
          },
          "expense_code": {
            "type": "string"
          },
          "approval_status": {
            "type": "string"
          },
          "fare_breakup": {
            "type": "object",
            "properties": {
              "base_cost": {
                "type": "number"
              },
              "service_tax": {
                "type": "number"
              },
              "sb_tax": {
                "type": "number"
              },
              "krishi_kalyan_tax": {
                "type": "number"
              }
            }
          }
        }
      },
      "CreateExpenseCodeRequest": {
        "type": "object",
        "required": [
          "expense_code",
          "scopes"
        ],
        "properties": {
          "expense_code": {
            "type": "string",
            "description": "Expense code name"
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExpenseCodeScope"
            }
          },
          "capping": {
            "$ref": "#/components/schemas/ExpenseCodeCapping"
          }
        }
      },
      "UpdateExpenseCodeRequest": {
        "type": "object",
        "required": [
          "expense_code"
        ],
        "properties": {
          "expense_code": {
            "type": "string",
            "description": "Expense code name"
          },
          "capping": {
            "$ref": "#/components/schemas/ExpenseCodeCapping"
          }
        }
      },
      "ExpenseCodeScope": {
        "type": "object",
        "required": [
          "expense_code_creation_level"
        ],
        "properties": {
          "expense_code_creation_level": {
            "type": "string",
            "enum": [
              "CORPORATE",
              "GROUP",
              "EMPLOYEE"
            ],
            "description": "Level of the expense code"
          },
          "expense_code_created_for": {
            "type": "string",
            "nullable": true,
            "description": "Mandatory for GROUP and EMPLOYEE levels"
          }
        }
      },
      "ExpenseCodeCapping": {
        "type": "object",
        "properties": {
          "start_time": {
            "type": "string",
            "description": "Start time (format: dd-MM-yyyy hh:mm:ss)"
          },
          "end_time": {
            "type": "string",
            "description": "End time (must be greater than start_time)"
          },
          "ride_cap": {
            "type": "integer",
            "minimum": 1,
            "description": "Maximum number of rides allowed"
          }
        }
      },
      "ExpenseCodeResponse": {
        "type": "object",
        "properties": {
          "expense_code": {
            "type": "string"
          },
          "expense_code_created": {
            "type": "boolean"
          },
          "successful_scopes": {
            "type": "integer"
          },
          "failed_scopes": {
            "type": "integer"
          },
          "expense_code_message": {
            "type": "string"
          },
          "expense_code_scope_error_dtos": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ExpenseCodeAllocationRequest": {
        "type": "object",
        "required": [
          "expense_code",
          "expense_code_creation_level",
          "expense_code_created_for",
          "operation"
        ],
        "properties": {
          "expense_code": {
            "type": "string",
            "description": "Expense code name"
          },
          "expense_code_creation_level": {
            "type": "string",
            "enum": [
              "CORPORATE",
              "GROUP",
              "EMPLOYEE"
            ],
            "description": "Expense code level"
          },
          "expense_code_created_for": {
            "type": "string",
            "description": "Entity the expense code is for"
          },
          "operation": {
            "type": "string",
            "enum": [
              "add",
              "remove"
            ],
            "description": "Operation to perform"
          }
        }
      },
      "ExpenseCodeAllocationResponse": {
        "type": "object",
        "properties": {
          "expense_code": {
            "type": "string"
          },
          "expense_code_creation_level": {
            "type": "string"
          },
          "expense_code_created_for": {
            "type": "string"
          },
          "operation": {
            "type": "string"
          }
        }
      },
      "BulkOperationResponse": {
        "type": "object",
        "properties": {
          "success_count": {
            "type": "integer"
          },
          "failure_count": {
            "type": "integer"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "corporateToken": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "Manage corporate users"
    },
    {
      "name": "Rides",
      "description": "View rides and download invoices"
    },
    {
      "name": "Expense Codes",
      "description": "Manage expense codes and allocations"
    }
  ]
}