{
  "openapi": "3.0.1",
  "info": {
    "title": "Bilförmånsberäkning",
    "description": "Ett api för att beräkna förmånsvärden för en lista på i nuläget maximalt 20 stycken bilar. Begränsningen är satt enkom för hur vi konfigurerat timeouter för hackathonet uppe i AWS som hostar APIet. Bilförmånsvärdet räknas ut på följande sätt i den förenklade version som används här för hackathon.\nFörmånsgrundande pris - Summan av nybilspris (eller nybilspris för jämförbar modell), avdraget för eventuellt justerat värde och påslaget för eventuell extrautrustning.\nFörmånsvärdet - Summan av prisbasbeloppsdel, räntedel, prisdel1, prisdel2, fordonsskatt samt avdrag för omfattande körning i tjänsten. För detaljer runt hur dessa räknas ut, se vidare under schemat för specadBil.\nFörenklingar som är gjorda - Beräknar bara på giltiga modellkoder. Använder bara grunddata för 2019 så om bilar för tidigare år eller andra beskattningsår ska beräknas kommer inte uträkningarna vara helt korrekta pga eventuellt andra regler, andra basbelopp och annan statslåneränta.",
    "license": {
      "name": "Ingen licens omfattas."
    },
    "version": "v1.2",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Innovationsteam/Bilformansberakning/v1.2/swagger.json",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.skv-innovation.se/{basePath}",
      "variables": {
        "basePath": {
          "default": "bilformansberakning"
        }
      }
    }
  ],
  "paths": {
    "/beraknaFormansvarden/v1": {
      "post": {
        "summary": "Beräkna bilförmån",
        "operationId": "beraknaBilforman",
        "requestBody": {
          "description": "Underlag för beräkning av bilförmåner.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/berakningsunderlaglist"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Lista av beräknade beräknade förmånsvärden.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/beraknadeBilar"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "beraknaFormansvarden"
        ],
        "description": "Beräkna bilförmån"
      }
    }
  },
  "components": {
    "schemas": {
      "berakningsunderlag": {
        "required": [
          "antalmil",
          "beskattningsar",
          "extrautrustning",
          "fordonsskatt",
          "modellkod",
          "tillverkningsar"
        ],
        "type": "object",
        "properties": {
          "modellkod": {
            "type": "string",
            "description": "Modellkoden så som hämtad från basdata runt bilarna som hittas på oppnadata.se eller kan sökas fram i Skatteverkets eTjänst"
          },
          "fordonsskatt": {
            "type": "integer",
            "description": "Bilens fordonsskatt enligt vägtrafikskattelagen vilket är fordonsskatt för specifik instans av bil. Kan sökas ut via registreringsnummer på transportstyrelsen. Finns inget registringsnummer ska ett uppskattat värde anges.",
            "format": "int32"
          },
          "beskattningsar": {
            "type": "string",
            "description": "Det beskattningsår för vilken beräkningen ska göras. I denna version av APIet tas ingen hänsyn till värdet utan allt beräknas som om det vore 2019."
          },
          "tillverkningsar": {
            "type": "string",
            "description": "Tillverkningsår på bilen. För framtida bruk, används egentligen inte i denna version av APIet men ska skickas in."
          },
          "extrautrustning": {
            "type": "integer",
            "description": "Det totala värdet av all extrautrustning på bilen. Extrautrustning är utrustning som inte ingår i det nybilspris som Skatteverket bestämmer. Exempel •automatisk växellåda •vinterdäck •antisladdsystem •metalliclack",
            "format": "int32"
          },
          "antalmil": {
            "type": "integer",
            "description": "Antal mil bilen förväntas köras i tjänsten. Förmånsvärdet ska sättas ner med 25 procent om förmånsbilen används minst 3 000 mil i tjänsten per år.",
            "format": "int32"
          }
        },
        "description": "Beräkningsunderlaget är en delmängd av det som behövs för att räkna ut förmånsvärdet. Resterande information finns i Skatteverkets listor av bilar."
      },
      "Error": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "beraknadBil": {
        "required": [
          "arskostnad",
          "manadskostnad",
          "specifikation"
        ],
        "type": "object",
        "properties": {
          "manadskostnad": {
            "type": "integer",
            "description": "Beräknat förmånsvärde per månad.",
            "format": "int32"
          },
          "arskostnad": {
            "type": "integer",
            "description": "Beräknat förmånsvärde per år.",
            "format": "int32"
          },
          "specifikation": {
            "$ref": "#/components/schemas/specadBil"
          },
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        }
      },
      "berakningsunderlaglist": {
        "type": "array",
        "description": "En lista av beräkningsunderlag. För tillfället,skicka inte in mer än 20 beräkningsunderlag för fler än så kommer inte att returneras.",
        "items": {
          "$ref": "#/components/schemas/berakningsunderlag"
        }
      },
      "specadBil": {
        "required": [
          "bilmarke",
          "modell",
          "modellkod",
          "nybilspris",
          "summa",
          "tillverkningsar"
        ],
        "type": "object",
        "properties": {
          "bilmarke": {
            "type": "string",
            "description": "Bilmärket."
          },
          "tillverkningsar": {
            "type": "string",
            "description": "Tillverkningsår."
          },
          "modell": {
            "type": "string",
            "description": "Specificerad modell."
          },
          "modellkod": {
            "type": "string",
            "description": "Den modellkod som angavs i input till APIet och som använts som grund för beräkningen."
          },
          "nybilspris": {
            "type": "integer",
            "description": "Nybilspris enligt Skatteverkets grunddata.",
            "format": "int64"
          },
          "nybilsprisjamforbarbil": {
            "type": "integer",
            "description": "Pris för jämförbar bil. Används som beräkningsunderlag för förmånsvärdet om jämförbar modell finns. I.e. för miljöbil används nybilspris för en jämförbar bil.",
            "format": "int64"
          },
          "justering": {
            "type": "integer",
            "description": "Justering av nybilspriset som subtraheras från nybilspriset för att kunna beräkna förmånsvärdet.",
            "format": "int32"
          },
          "extrautrustning": {
            "type": "integer",
            "description": "Adderas till nybilspriset innan förmånsvärdet beräknas.",
            "format": "int32"
          },
          "prisbasbeloppsdel": {
            "type": "integer",
            "description": "29 procent av ett prisbasbelopp. Adderas till förmånsvärdet.",
            "format": "int32"
          },
          "rantedel": {
            "type": "integer",
            "description": "Förmånsgrundande pris x 75 procent av statslåneräntan. Adderas till förmånsvärdet.",
            "format": "int32"
          },
          "prisdel1": {
            "type": "integer",
            "description": "9 procent av förmånsgrundande pris upp till 7,5 prisbasbelopp. Adderas till förmånsvärdet.",
            "format": "int32"
          },
          "prisdel2": {
            "type": "integer",
            "description": "20 procent av förmånsgrundande pris över 7,5 prisbasbelopp. Adderas till förmånsvärdet.",
            "format": "int32"
          },
          "fordonsskatt": {
            "type": "integer",
            "description": "Fordonsskatt som angivet i förfrågan till APIet. Adderas till förmånsvärdet.",
            "format": "int32"
          },
          "milreducering": {
            "type": "integer",
            "description": "25 procent nedsättning av förmånsvärdet på grund av omfattande tjänstekörning (minst 3 000 mil).",
            "format": "int32"
          },
          "summa": {
            "type": "integer",
            "description": "Summerat förmånsvärde.",
            "format": "int32"
          }
        },
        "description": "Objektet för dom specificerade bilarna. Ytterligare specifikation om bilen och vilka belopp som kommit fram under beräkning av förmånsvärdet."
      },
      "beraknadeBilar": {
        "type": "array",
        "description": "Listan av beräknade förmånsvärden.",
        "items": {
          "$ref": "#/components/schemas/beraknadBil"
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  },
  "tags": [
    {
      "name": "beraknaFormansvarden"
    }
  ]
}