{
  "openapi": "3.0.1",
  "info": {
    "title": "Bilf\u00f6rm\u00e5nsber\u00e4kning",
    "description": "Ett api f\u00f6r att ber\u00e4kna f\u00f6rm\u00e5nsv\u00e4rden f\u00f6r en lista p\u00e5 i nul\u00e4get maximalt 20 stycken bilar. Begr\u00e4nsningen \u00e4r satt enkom f\u00f6r hur vi konfigurerat timeouter f\u00f6r hackathonet uppe i AWS som hostar APIet. Bilf\u00f6rm\u00e5nsv\u00e4rdet r\u00e4knas ut p\u00e5 f\u00f6ljande s\u00e4tt i den f\u00f6renklade version som anv\u00e4nds h\u00e4r f\u00f6r hackathon.\nF\u00f6rm\u00e5nsgrundande pris - Summan av nybilspris (eller nybilspris f\u00f6r j\u00e4mf\u00f6rbar modell), avdraget f\u00f6r eventuellt justerat v\u00e4rde och p\u00e5slaget f\u00f6r eventuell extrautrustning.\nF\u00f6rm\u00e5nsv\u00e4rdet - Summan av prisbasbeloppsdel, r\u00e4ntedel, prisdel1, prisdel2, fordonsskatt samt avdrag f\u00f6r omfattande k\u00f6rning i tj\u00e4nsten. F\u00f6r detaljer runt hur dessa r\u00e4knas ut, se vidare under schemat f\u00f6r specadBil.\nF\u00f6renklingar som \u00e4r gjorda - Ber\u00e4knar bara p\u00e5 giltiga modellkoder. Anv\u00e4nder bara grunddata f\u00f6r 2019 s\u00e5 om bilar f\u00f6r tidigare \u00e5r eller andra beskattnings\u00e5r ska ber\u00e4knas kommer inte utr\u00e4kningarna vara helt korrekta pga eventuellt andra regler, andra basbelopp och annan statsl\u00e5ner\u00e4nta.",
    "license": {
      "name": "Ingen licens omfattas."
    },
    "version": "v1.2",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Innovationsteam/Bilformansberakning/v1.2/swagger.json",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.skv-innovation.se/{basePath}",
      "variables": {
        "basePath": {
          "default": "bilformansberakning"
        }
      }
    }
  ],
  "paths": {
    "/beraknaFormansvarden/v1": {
      "post": {
        "summary": "Ber\u00e4kna bilf\u00f6rm\u00e5n",
        "operationId": "beraknaBilforman",
        "requestBody": {
          "description": "Underlag f\u00f6r ber\u00e4kning av bilf\u00f6rm\u00e5ner.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/berakningsunderlaglist"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Lista av ber\u00e4knade ber\u00e4knade f\u00f6rm\u00e5nsv\u00e4rden.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/beraknadeBilar"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "beraknaFormansvarden"
        ],
        "description": "Ber\u00e4kna bilf\u00f6rm\u00e5n"
      }
    }
  },
  "components": {
    "schemas": {
      "berakningsunderlag": {
        "required": [
          "antalmil",
          "beskattningsar",
          "extrautrustning",
          "fordonsskatt",
          "modellkod",
          "tillverkningsar"
        ],
        "type": "object",
        "properties": {
          "modellkod": {
            "type": "string",
            "description": "Modellkoden s\u00e5 som h\u00e4mtad fr\u00e5n basdata runt bilarna som hittas p\u00e5 oppnadata.se eller kan s\u00f6kas fram i Skatteverkets eTj\u00e4nst"
          },
          "fordonsskatt": {
            "type": "integer",
            "description": "Bilens fordonsskatt enligt v\u00e4gtrafikskattelagen vilket \u00e4r fordonsskatt f\u00f6r specifik instans av bil. Kan s\u00f6kas ut via registreringsnummer p\u00e5 transportstyrelsen. Finns inget registringsnummer ska ett uppskattat v\u00e4rde anges.",
            "format": "int32"
          },
          "beskattningsar": {
            "type": "string",
            "description": "Det beskattnings\u00e5r f\u00f6r vilken ber\u00e4kningen ska g\u00f6ras. I denna version av APIet tas ingen h\u00e4nsyn till v\u00e4rdet utan allt ber\u00e4knas som om det vore 2019."
          },
          "tillverkningsar": {
            "type": "string",
            "description": "Tillverknings\u00e5r p\u00e5 bilen. F\u00f6r framtida bruk, anv\u00e4nds egentligen inte i denna version av APIet men ska skickas in."
          },
          "extrautrustning": {
            "type": "integer",
            "description": "Det totala v\u00e4rdet av all extrautrustning p\u00e5 bilen. Extrautrustning \u00e4r utrustning som inte ing\u00e5r i det nybilspris som Skatteverket best\u00e4mmer. Exempel \u2022automatisk v\u00e4xell\u00e5da \u2022vinterd\u00e4ck \u2022antisladdsystem \u2022metalliclack",
            "format": "int32"
          },
          "antalmil": {
            "type": "integer",
            "description": "Antal mil bilen f\u00f6rv\u00e4ntas k\u00f6ras i tj\u00e4nsten. F\u00f6rm\u00e5nsv\u00e4rdet ska s\u00e4ttas ner med 25 procent om f\u00f6rm\u00e5nsbilen anv\u00e4nds minst 3 000 mil i tj\u00e4nsten per \u00e5r.",
            "format": "int32"
          }
        },
        "description": "Ber\u00e4kningsunderlaget \u00e4r en delm\u00e4ngd av det som beh\u00f6vs f\u00f6r att r\u00e4kna ut f\u00f6rm\u00e5nsv\u00e4rdet. Resterande information finns i Skatteverkets listor av bilar."
      },
      "Error": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "beraknadBil": {
        "required": [
          "arskostnad",
          "manadskostnad",
          "specifikation"
        ],
        "type": "object",
        "properties": {
          "manadskostnad": {
            "type": "integer",
            "description": "Ber\u00e4knat f\u00f6rm\u00e5nsv\u00e4rde per m\u00e5nad.",
            "format": "int32"
          },
          "arskostnad": {
            "type": "integer",
            "description": "Ber\u00e4knat f\u00f6rm\u00e5nsv\u00e4rde per \u00e5r.",
            "format": "int32"
          },
          "specifikation": {
            "$ref": "#/components/schemas/specadBil"
          },
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        }
      },
      "berakningsunderlaglist": {
        "type": "array",
        "description": "En lista av ber\u00e4kningsunderlag. F\u00f6r tillf\u00e4llet,skicka inte in mer \u00e4n 20 ber\u00e4kningsunderlag f\u00f6r fler \u00e4n s\u00e5 kommer inte att returneras.",
        "items": {
          "$ref": "#/components/schemas/berakningsunderlag"
        }
      },
      "specadBil": {
        "required": [
          "bilmarke",
          "modell",
          "modellkod",
          "nybilspris",
          "summa",
          "tillverkningsar"
        ],
        "type": "object",
        "properties": {
          "bilmarke": {
            "type": "string",
            "description": "Bilm\u00e4rket."
          },
          "tillverkningsar": {
            "type": "string",
            "description": "Tillverknings\u00e5r."
          },
          "modell": {
            "type": "string",
            "description": "Specificerad modell."
          },
          "modellkod": {
            "type": "string",
            "description": "Den modellkod som angavs i input till APIet och som anv\u00e4nts som grund f\u00f6r ber\u00e4kningen."
          },
          "nybilspris": {
            "type": "integer",
            "description": "Nybilspris enligt Skatteverkets grunddata.",
            "format": "int64"
          },
          "nybilsprisjamforbarbil": {
            "type": "integer",
            "description": "Pris f\u00f6r j\u00e4mf\u00f6rbar bil. Anv\u00e4nds som ber\u00e4kningsunderlag f\u00f6r f\u00f6rm\u00e5nsv\u00e4rdet om j\u00e4mf\u00f6rbar modell finns. I.e. f\u00f6r milj\u00f6bil anv\u00e4nds nybilspris f\u00f6r en j\u00e4mf\u00f6rbar bil.",
            "format": "int64"
          },
          "justering": {
            "type": "integer",
            "description": "Justering av nybilspriset som subtraheras fr\u00e5n nybilspriset f\u00f6r att kunna ber\u00e4kna f\u00f6rm\u00e5nsv\u00e4rdet.",
            "format": "int32"
          },
          "extrautrustning": {
            "type": "integer",
            "description": "Adderas till nybilspriset innan f\u00f6rm\u00e5nsv\u00e4rdet ber\u00e4knas.",
            "format": "int32"
          },
          "prisbasbeloppsdel": {
            "type": "integer",
            "description": "29 procent av ett prisbasbelopp. Adderas till f\u00f6rm\u00e5nsv\u00e4rdet.",
            "format": "int32"
          },
          "rantedel": {
            "type": "integer",
            "description": "F\u00f6rm\u00e5nsgrundande pris x 75 procent av statsl\u00e5ner\u00e4ntan. Adderas till f\u00f6rm\u00e5nsv\u00e4rdet.",
            "format": "int32"
          },
          "prisdel1": {
            "type": "integer",
            "description": "9 procent av f\u00f6rm\u00e5nsgrundande pris upp till 7,5 prisbasbelopp. Adderas till f\u00f6rm\u00e5nsv\u00e4rdet.",
            "format": "int32"
          },
          "prisdel2": {
            "type": "integer",
            "description": "20 procent av f\u00f6rm\u00e5nsgrundande pris \u00f6ver 7,5 prisbasbelopp. Adderas till f\u00f6rm\u00e5nsv\u00e4rdet.",
            "format": "int32"
          },
          "fordonsskatt": {
            "type": "integer",
            "description": "Fordonsskatt som angivet i f\u00f6rfr\u00e5gan till APIet. Adderas till f\u00f6rm\u00e5nsv\u00e4rdet.",
            "format": "int32"
          },
          "milreducering": {
            "type": "integer",
            "description": "25 procent neds\u00e4ttning av f\u00f6rm\u00e5nsv\u00e4rdet p\u00e5 grund av omfattande tj\u00e4nstek\u00f6rning (minst 3 000 mil).",
            "format": "int32"
          },
          "summa": {
            "type": "integer",
            "description": "Summerat f\u00f6rm\u00e5nsv\u00e4rde.",
            "format": "int32"
          }
        },
        "description": "Objektet f\u00f6r dom specificerade bilarna. Ytterligare specifikation om bilen och vilka belopp som kommit fram under ber\u00e4kning av f\u00f6rm\u00e5nsv\u00e4rdet."
      },
      "beraknadeBilar": {
        "type": "array",
        "description": "Listan av ber\u00e4knade f\u00f6rm\u00e5nsv\u00e4rden.",
        "items": {
          "$ref": "#/components/schemas/beraknadBil"
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  },
  "tags": [
    {
      "name": "beraknaFormansvarden"
    }
  ]
}
