{
  "openapi": "3.0.3",
  "info": {
    "title": "Administrate DMS API",
    "version": "2.0.0",
    "description": "Legacy REST API for retrieving documents from the Administrate Document Management System. Note: This API is deprecated and scheduled for retirement.",
    "x-jentic-source-url": "https://developer.getadministrate.com/docs/legacy/Documents/dms.md",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.getadministrate.com"
    }
  ],
  "paths": {
    "/api/v2/docs/dms/{id}": {
      "get": {
        "operationId": "getDmsDocument",
        "summary": "Get a DMS document",
        "description": "Retrieves metadata and access information for a document stored in the DMS",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Document identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DocumentResponse": {
        "type": "object",
        "properties": {
          "file": {
            "type": "object",
            "properties": {
              "human_name": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "mime_type": {
                "type": "string"
              },
              "original_name": {
                "type": "string"
              }
            }
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Documents"
    }
  ]
}
