{
  "openapi": "3.0.3",
  "info": {
    "title": "Buckaroo Checkout JSON Gateway API",
    "version": "1.0.0",
    "description": "OpenAPI specification generated from Buckaroo Checkout JSON Gateway docs at https://checkout.buckaroo.nl/json/Docs.",
    "x-jentic-source-url": "https://dash.readme.com/api/v1/api-registry/3qzhg1qmjbb7ldr"
  },
  "servers": [
    {
      "url": "https://checkout.buckaroo.nl"
    }
  ],
  "paths": {
    "/json/DataRequest": {
      "post": {
        "tags": [
          "DataRequest"
        ],
        "summary": "Perform a data request",
        "operationId": "postDataRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/DataRequest/Specifications": {
      "post": {
        "tags": [
          "DataRequest"
        ],
        "summary": "Get specifications for provided data request services",
        "operationId": "postDataRequestSpecifications",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequestSpecificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataRequestSpecificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/DataRequest/Specification/{serviceName}": {
      "get": {
        "tags": [
          "DataRequest"
        ],
        "summary": "Get specification for a single data request service",
        "operationId": "getDataRequestSpecification",
        "parameters": [
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceVersion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataRequestServiceSpecification"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction": {
      "post": {
        "tags": [
          "Transaction"
        ],
        "summary": "Create a transaction",
        "operationId": "postTransaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/Specifications": {
      "post": {
        "tags": [
          "Transaction"
        ],
        "summary": "Get specifications for specified transaction services",
        "operationId": "postTransactionSpecifications",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionSpecificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionSpecificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/Specification/{serviceName}": {
      "get": {
        "tags": [
          "Transaction"
        ],
        "summary": "Get specification for a single transaction service",
        "operationId": "getTransactionSpecification",
        "parameters": [
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceVersion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionServiceSpecification"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/Statuses": {
      "post": {
        "tags": [
          "Transaction"
        ],
        "summary": "Get statuses for multiple transactions",
        "operationId": "postTransactionStatuses",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionStatusesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatusesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/Status/{transactionKey}": {
      "get": {
        "tags": [
          "Transaction"
        ],
        "summary": "Get status for a transaction",
        "operationId": "getTransactionStatus",
        "parameters": [
          {
            "name": "transactionKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatusResponseTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/StatusCode": {
      "get": {
        "tags": [
          "Transaction"
        ],
        "summary": "Get transaction status codes",
        "operationId": "getTransactionStatusCode",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatusCodeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/Cancel/{transactionKey}": {
      "get": {
        "tags": [
          "Transaction"
        ],
        "summary": "Cancel a transaction",
        "operationId": "getTransactionCancel",
        "parameters": [
          {
            "name": "transactionKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelTransactionResponseTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/CancelMultiple": {
      "post": {
        "tags": [
          "Transaction"
        ],
        "summary": "Cancel multiple transactions",
        "operationId": "postTransactionCancelMultiple",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelTransactionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/RefundInfo/{transactionKey}": {
      "get": {
        "tags": [
          "Transaction"
        ],
        "summary": "Get refund info for a transaction",
        "operationId": "getTransactionRefundInfo",
        "parameters": [
          {
            "name": "transactionKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundInfoResponseRefundInfo"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/InvoiceInfo/{invoiceKey}": {
      "get": {
        "tags": [
          "Transaction"
        ],
        "summary": "Get invoice info",
        "operationId": "getTransactionInvoiceInfo",
        "parameters": [
          {
            "name": "invoiceKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceInfoResponseInvoice"
                }
              }
            }
          }
        }
      }
    },
    "/json/Tools/IbanConverter/{iban}": {
      "get": {
        "tags": [
          "Tools"
        ],
        "summary": "Validate/parse an IBAN",
        "operationId": "getIbanConverter",
        "parameters": [
          {
            "name": "iban",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IbanConverterResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Tools/BbanToIbanConverter/{bban}": {
      "get": {
        "tags": [
          "Tools"
        ],
        "summary": "Convert BBAN to IBAN",
        "operationId": "getBbanToIbanConverter",
        "parameters": [
          {
            "name": "bban",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BbanToIbanConverterResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "buckarooAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Buckaroo JSON Gateway authentication (see docs)."
      }
    },
    "schemas": {
      "IPAddress": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "integer",
            "description": "IP protocol version (as integer)"
          },
          "Address": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "TransactionReference": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string"
          },
          "Reference": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "BasicParameter": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Value": {
            "type": "string"
          }
        },
        "required": [
          "Name",
          "Value"
        ],
        "additionalProperties": false
      },
      "GroupedParameter": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "GroupType": {
            "type": "string"
          },
          "GroupID": {
            "type": "string"
          },
          "Value": {
            "type": "string"
          }
        },
        "required": [
          "Name",
          "Value"
        ],
        "additionalProperties": false
      },
      "CustomParameter": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Value": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "DataCustomParameters": {
        "type": "object",
        "properties": {
          "List": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomParameter"
            }
          }
        },
        "additionalProperties": false
      },
      "DataAdditionalParameters": {
        "type": "object",
        "properties": {
          "List": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomParameter"
            }
          }
        },
        "additionalProperties": false
      },
      "TransactionRequestAdditionalParameters": {
        "type": "object",
        "properties": {
          "AdditionalParameter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomParameter"
            }
          }
        },
        "additionalProperties": false
      },
      "DataRequestService": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Action": {
            "type": "string"
          },
          "Version": {
            "type": "integer"
          },
          "Parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupedParameter"
            }
          }
        },
        "required": [
          "Name",
          "Action"
        ],
        "additionalProperties": false
      },
      "Services": {
        "type": "object",
        "properties": {
          "Global": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupedParameter"
            }
          },
          "ServiceList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataRequestService"
            }
          }
        },
        "additionalProperties": false
      },
      "TransactionServices": {
        "type": "object",
        "properties": {
          "Global": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupedParameter"
            }
          },
          "ServiceList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataRequestService"
            }
          }
        },
        "additionalProperties": false
      },
      "StatusCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "integer"
          },
          "Description": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "SubStatusCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Status": {
        "type": "object",
        "properties": {
          "Code": {
            "$ref": "#/components/schemas/StatusCode"
          },
          "SubCode": {
            "$ref": "#/components/schemas/SubStatusCode"
          },
          "DateTime": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "RequestedInformationItem": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "DataType": {
            "type": "integer"
          },
          "MaxLength": {
            "type": "integer"
          },
          "Required": {
            "type": "boolean"
          },
          "Description": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "PayRemainderDetails": {
        "type": "object",
        "properties": {
          "RemainderAmount": {
            "type": "number"
          },
          "Currency": {
            "type": "string"
          },
          "GroupTransaction": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RequiredAction": {
        "type": "object",
        "properties": {
          "RedirectURL": {
            "type": "string"
          },
          "RequestedInformation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RequestedInformationItem"
            }
          },
          "PayRemainderDetails": {
            "$ref": "#/components/schemas/PayRemainderDetails"
          },
          "Name": {
            "type": "string"
          },
          "TypeDeprecated": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "ServiceResponse": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Action": {
            "type": "string"
          },
          "Parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BasicParameter"
            }
          },
          "VersionAsProperty": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "ChannelError": {
        "type": "object",
        "properties": {
          "Service": {
            "type": "string"
          },
          "Action": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Error": {
            "type": "string"
          },
          "ErrorMessage": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ServiceError": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Error": {
            "type": "string"
          },
          "ErrorMessage": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ActionError": {
        "type": "object",
        "properties": {
          "Service": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Error": {
            "type": "string"
          },
          "ErrorMessage": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RequestErrors": {
        "type": "object",
        "properties": {
          "ChannelErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChannelError"
            }
          },
          "ServiceErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceError"
            }
          },
          "ActionErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActionError"
            }
          },
          "ParameterErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChannelError"
            }
          },
          "CustomParameterErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceError"
            }
          }
        },
        "additionalProperties": false
      },
      "ConsumerMessage": {
        "type": "object",
        "properties": {
          "MustRead": {
            "type": "boolean"
          },
          "CultureName": {
            "type": "string"
          },
          "Title": {
            "type": "string"
          },
          "PlainText": {
            "type": "string"
          },
          "HtmlText": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "DataRequest": {
        "type": "object",
        "properties": {
          "ClientIP": {
            "$ref": "#/components/schemas/IPAddress"
          },
          "ReturnURL": {
            "type": "string"
          },
          "ReturnURLCancel": {
            "type": "string"
          },
          "ReturnURLError": {
            "type": "string"
          },
          "ReturnURLReject": {
            "type": "string"
          },
          "Invoice": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "Currency": {
            "type": "string"
          },
          "Amount": {
            "type": "number"
          },
          "AmountCredit": {
            "type": "number"
          },
          "OriginalTransactionKey": {
            "type": "string"
          },
          "OriginalTransactionReference": {
            "$ref": "#/components/schemas/TransactionReference"
          },
          "ContinueOnIncomplete": {
            "type": "integer"
          },
          "ClientUserAgent": {
            "type": "string"
          },
          "PushURL": {
            "type": "string"
          },
          "PushURLFailure": {
            "type": "string"
          },
          "Services": {
            "$ref": "#/components/schemas/Services"
          },
          "CustomParameters": {
            "$ref": "#/components/schemas/DataCustomParameters"
          },
          "AdditionalParameters": {
            "$ref": "#/components/schemas/DataAdditionalParameters"
          }
        },
        "additionalProperties": false
      },
      "DataResponse": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string"
          },
          "Status": {
            "$ref": "#/components/schemas/Status"
          },
          "RequiredAction": {
            "$ref": "#/components/schemas/RequiredAction"
          },
          "Services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceResponse"
            }
          },
          "CustomParameters": {
            "$ref": "#/components/schemas/DataCustomParameters"
          },
          "AdditionalParameters": {
            "$ref": "#/components/schemas/DataAdditionalParameters"
          },
          "RequestErrors": {
            "$ref": "#/components/schemas/RequestErrors"
          },
          "ServiceCode": {
            "type": "string"
          },
          "IsTest": {
            "type": "boolean"
          },
          "ConsumerMessage": {
            "$ref": "#/components/schemas/ConsumerMessage"
          }
        },
        "additionalProperties": false
      },
      "TransactionRequest": {
        "type": "object",
        "properties": {
          "Currency": {
            "type": "string"
          },
          "AmountDebit": {
            "type": "number"
          },
          "AmountCredit": {
            "type": "number"
          },
          "Invoice": {
            "type": "string"
          },
          "Order": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ClientIP": {
            "$ref": "#/components/schemas/IPAddress"
          },
          "ReturnURL": {
            "type": "string"
          },
          "ReturnURLCancel": {
            "type": "string"
          },
          "ReturnURLError": {
            "type": "string"
          },
          "ReturnURLReject": {
            "type": "string"
          },
          "OriginalTransactionKey": {
            "type": "string"
          },
          "StartRecurrent": {
            "type": "boolean"
          },
          "ContinueOnIncomplete": {
            "type": "integer"
          },
          "ServicesSelectableByClient": {
            "type": "string"
          },
          "PreferredAction": {
            "type": "string"
          },
          "ServicesExcludedForClient": {
            "type": "string"
          },
          "PushURL": {
            "type": "string"
          },
          "PushURLFailure": {
            "type": "string"
          },
          "ClientUserAgent": {
            "type": "string"
          },
          "OriginalTransactionReference": {
            "$ref": "#/components/schemas/TransactionReference"
          },
          "Services": {
            "$ref": "#/components/schemas/TransactionServices"
          },
          "CustomParameters": {
            "$ref": "#/components/schemas/DataCustomParameters"
          },
          "AdditionalParameters": {
            "$ref": "#/components/schemas/TransactionRequestAdditionalParameters"
          }
        },
        "additionalProperties": false
      },
      "RelatedTransaction": {
        "type": "object",
        "properties": {
          "RelationType": {
            "type": "string"
          },
          "RelatedTransactionKey": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string"
          },
          "Status": {
            "$ref": "#/components/schemas/Status"
          },
          "RequiredAction": {
            "$ref": "#/components/schemas/RequiredAction"
          },
          "Services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceResponse"
            }
          },
          "CustomParameters": {
            "$ref": "#/components/schemas/DataCustomParameters"
          },
          "AdditionalParameters": {
            "$ref": "#/components/schemas/TransactionRequestAdditionalParameters"
          },
          "RequestErrors": {
            "$ref": "#/components/schemas/RequestErrors"
          },
          "Invoice": {
            "type": "string"
          },
          "ServiceCode": {
            "type": "string"
          },
          "IsTest": {
            "type": "boolean"
          },
          "Currency": {
            "type": "string"
          },
          "AmountDebit": {
            "type": "number"
          },
          "AmountCredit": {
            "type": "number"
          },
          "TransactionType": {
            "type": "string"
          },
          "MutationType": {
            "type": "integer"
          },
          "RelatedTransactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatedTransaction"
            }
          },
          "ConsumerMessage": {
            "$ref": "#/components/schemas/ConsumerMessage"
          },
          "Order": {
            "type": "string"
          },
          "IssuingCountry": {
            "type": "string"
          },
          "StartRecurrent": {
            "type": "boolean"
          },
          "Recurring": {
            "type": "boolean"
          },
          "CustomerName": {
            "type": "string"
          },
          "PayerHash": {
            "type": "string"
          },
          "PaymentKey": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "TransactionStatusesRequest": {
        "type": "object",
        "description": "Request shape varies; minimal schema based on docs. Typically contains a Transactions collection.",
        "properties": {
          "Transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Key": {
                  "type": "string"
                },
                "Invoice": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "TransactionStatusResponseAdditionalParameters": {
        "type": "object",
        "additionalProperties": true
      },
      "TransactionStatusResponseTransaction": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string"
          },
          "Invoice": {
            "type": "string"
          },
          "ServiceCode": {
            "type": "string"
          },
          "Status": {
            "$ref": "#/components/schemas/Status"
          },
          "IsTest": {
            "type": "boolean"
          },
          "Order": {
            "type": "string"
          },
          "Currency": {
            "type": "string"
          },
          "AmountDebit": {
            "type": "number"
          },
          "AmountCredit": {
            "type": "number"
          },
          "TransactionType": {
            "type": "string"
          },
          "Services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceResponse"
            }
          },
          "CustomParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomParameter"
            }
          },
          "AdditionalParameters": {
            "$ref": "#/components/schemas/TransactionStatusResponseAdditionalParameters"
          },
          "MutationType": {
            "type": "integer"
          },
          "RelatedTransactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelatedTransaction"
            }
          },
          "IsCancelable": {
            "type": "boolean"
          },
          "IssuingCountry": {
            "type": "string"
          },
          "StartRecurrent": {
            "type": "boolean"
          },
          "Recurring": {
            "type": "boolean"
          },
          "CustomerName": {
            "type": "string"
          },
          "PayerHash": {
            "type": "string"
          },
          "PaymentKey": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ErrorTransaction": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string"
          },
          "Invoice": {
            "type": "string"
          },
          "CustomParameter": {
            "$ref": "#/components/schemas/CustomParameter"
          },
          "AdditionParameter": {
            "$ref": "#/components/schemas/CustomParameter"
          },
          "ErrorMessage": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "HeaderError": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Error": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "TransactionStatusesResponse": {
        "type": "object",
        "properties": {
          "Transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionStatusResponseTransaction"
            }
          },
          "ErrorTransactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorTransaction"
            }
          },
          "ErrorHeaders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HeaderError"
            }
          }
        },
        "additionalProperties": false
      },
      "CancelTransactionRequest": {
        "type": "object",
        "properties": {
          "Transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Key": {
                  "type": "string"
                }
              },
              "required": [
                "Key"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "Transactions"
        ],
        "additionalProperties": false
      },
      "CancelTransactionResponseTransaction": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string"
          },
          "IsCanceled": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "CancelTransactionResponse": {
        "type": "object",
        "properties": {
          "Transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CancelTransactionResponseTransaction"
            }
          }
        },
        "additionalProperties": false
      },
      "RefundInputField": {
        "type": "object",
        "additionalProperties": true
      },
      "RefundInfoResponseRefundInfo": {
        "type": "object",
        "properties": {
          "TransactionKey": {
            "type": "string"
          },
          "IsRefundable": {
            "type": "boolean"
          },
          "NotRefundableExplanation": {
            "type": "string"
          },
          "AllowPartialRefund": {
            "type": "boolean"
          },
          "MaximumRefundAmount": {
            "type": "number"
          },
          "PendingRefundAmount": {
            "type": "number"
          },
          "RefundedAmount": {
            "type": "number"
          },
          "RefundCurrency": {
            "type": "string"
          },
          "ServiceCode": {
            "type": "string"
          },
          "RefundInputFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RefundInputField"
            }
          },
          "IsCreditmanagement": {
            "type": "boolean"
          },
          "Invoice": {
            "type": "string"
          },
          "InvoiceAmount": {
            "type": "number"
          },
          "InvoiceAmountPaid": {
            "type": "number"
          },
          "InvoiceAmountOpen": {
            "type": "number"
          },
          "CanCreateCreditNote": {
            "type": "boolean"
          },
          "CreditNoteAmount": {
            "type": "number"
          },
          "CanBeCancelled": {
            "type": "boolean"
          },
          "UsesBalance": {
            "type": "boolean"
          },
          "AdditionalMessage": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "CreditManagementStatus": {
        "type": "object",
        "properties": {
          "CMStatus": {
            "type": "integer"
          },
          "Running": {
            "type": "boolean"
          },
          "RemindersSent": {
            "type": "integer"
          },
          "AgencyStatusAsString": {
            "type": "string"
          },
          "AgencyUpdates": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "InvoiceInfoResponseInvoice": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string"
          },
          "Number": {
            "type": "string"
          },
          "CustomerID": {
            "type": "string"
          },
          "CreditManagement": {
            "type": "boolean"
          },
          "Test": {
            "type": "boolean"
          },
          "Status": {
            "$ref": "#/components/schemas/CreditManagementStatus"
          },
          "Paid": {
            "type": "boolean"
          },
          "Paylink": {
            "type": "string"
          },
          "Currency": {
            "type": "string"
          },
          "AmountDebit": {
            "type": "number"
          },
          "AmountCredit": {
            "type": "number"
          },
          "AmountVat": {
            "type": "number"
          },
          "AmountCreditVat": {
            "type": "number"
          },
          "AmountPaid": {
            "type": "number"
          },
          "SurchargeAmount": {
            "type": "number"
          },
          "MaxReminderLevel": {
            "type": "integer"
          },
          "InvoiceDate": {
            "type": "string",
            "format": "date"
          },
          "DueDate": {
            "type": "string",
            "format": "date"
          },
          "CreatedDatetime": {
            "type": "string",
            "format": "date"
          },
          "StatusDatetime": {
            "type": "string",
            "format": "date"
          },
          "EstimatedNextStepDate": {
            "type": "string",
            "format": "date"
          },
          "CreditNotes": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "Transactions": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "Order": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "DataRequestSpecificationRequestedService": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Version": {
            "type": "integer"
          }
        },
        "required": [
          "Name"
        ],
        "additionalProperties": false
      },
      "DataRequestSpecificationRequest": {
        "type": "object",
        "properties": {
          "Services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataRequestSpecificationRequestedService"
            }
          }
        },
        "required": [
          "Services"
        ],
        "additionalProperties": false
      },
      "FieldListItemDescription": {
        "type": "object",
        "properties": {
          "Value": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "GroupName": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "FieldAttributeDescription": {
        "type": "object",
        "properties": {
          "ListItemDescriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldListItemDescription"
            }
          },
          "Name": {
            "type": "string"
          },
          "DataType": {
            "type": "integer"
          },
          "List": {
            "type": "integer"
          },
          "MaxLength": {
            "type": "integer"
          },
          "Required": {
            "type": "boolean"
          },
          "Description": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "DataRequestSpecificationResponseFieldDescription": {
        "type": "object",
        "properties": {
          "Attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldAttributeDescription"
            }
          },
          "ListItemDescriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldListItemDescription"
            }
          },
          "DisplayName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "DataRequestSpecificationResponseServiceDescription": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Version": {
            "type": "integer"
          },
          "Description": {
            "type": "string"
          },
          "Actions": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "DataRequestSpecificationResponse": {
        "type": "object",
        "properties": {
          "BasicFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataRequestSpecificationResponseFieldDescription"
            }
          },
          "Services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataRequestSpecificationResponseServiceDescription"
            }
          }
        },
        "additionalProperties": true
      },
      "DataRequestServiceSpecification": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Version": {
            "type": "integer"
          },
          "Description": {
            "type": "string"
          },
          "Actions": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "TransactionRequestSpecificationRequestedService": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Version": {
            "type": "integer"
          }
        },
        "required": [
          "Name"
        ],
        "additionalProperties": false
      },
      "TransactionSpecificationRequest": {
        "type": "object",
        "properties": {
          "Services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionRequestSpecificationRequestedService"
            }
          }
        },
        "required": [
          "Services"
        ],
        "additionalProperties": false
      },
      "TransactionSpecificationResponse": {
        "type": "object",
        "properties": {
          "BasicFields": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "Services": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "CustomParameters": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": true
      },
      "TransactionServiceSpecification": {
        "type": "object",
        "additionalProperties": true
      },
      "IbanConverterResponse": {
        "type": "object",
        "properties": {
          "IsValid": {
            "type": "boolean"
          },
          "Iban": {
            "type": "string"
          },
          "CountryCode": {
            "type": "string"
          },
          "BankCode": {
            "type": "string"
          },
          "AccountNumber": {
            "type": "string"
          },
          "BankName": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "BbanToIbanConverterResponse": {
        "type": "object",
        "properties": {
          "IsValid": {
            "type": "boolean"
          },
          "Iban": {
            "type": "string"
          },
          "CountryCode": {
            "type": "string"
          },
          "BankCode": {
            "type": "string"
          },
          "AccountNumber": {
            "type": "string"
          },
          "BankName": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "TransactionStatusCodeResponse": {
        "type": "object",
        "description": "Endpoint exists in docs but the schema could not be retrieved due to a transient docs error.",
        "additionalProperties": true
      }
    }
  },
  "security": [
    {
      "buckarooAuth": []
    }
  ],
  "tags": [
    {
      "name": "DataRequest"
    },
    {
      "name": "Transaction"
    },
    {
      "name": "Tools"
    }
  ]
}