{
  "openapi": "3.0.3",
  "info": {
    "title": "CurrencyFreaks API",
    "description": "Real-time and historical exchange rate data for world currencies including fiat currencies, metals, and cryptocurrencies, updated every minute.",
    "version": "2.0.0",
    "contact": {
      "name": "CurrencyFreaks Support",
      "url": "https://currencyfreaks.com"
    }
  },
  "servers": [
    {
      "url": "https://api.currencyfreaks.com/v2.0",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/supported-currencies": {
      "get": {
        "operationId": "getSupportedCurrencies",
        "summary": "Get supported currencies",
        "description": "Returns a list of all supported currencies with their details including name, country, status, and availability dates. No authentication required.",
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response with supported currencies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedCurrenciesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "supported-currencies"
        ]
      }
    },
    "/currency-symbols": {
      "get": {
        "operationId": "getCurrencySymbols",
        "summary": "Get currency symbols",
        "description": "Returns a mapping of currency codes to their names. No authentication required.",
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response with currency symbols",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencySymbolsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "currency-symbols"
        ]
      }
    },
    "/historical-data-limits": {
      "get": {
        "operationId": "getHistoricalDataLimits",
        "summary": "Get historical data limits",
        "description": "Returns date ranges showing data availability per currency. No authentication required.",
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response with historical data limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalDataLimitsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "historical-data-limits"
        ]
      }
    },
    "/rates/latest": {
      "get": {
        "operationId": "getLatestRates",
        "summary": "Get latest exchange rates",
        "description": "Returns the latest exchange rates for all or specified currencies.",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes to return",
            "schema": {
              "type": "string"
            },
            "example": "EUR,GBP,JPY"
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Base currency code (paid plans only, defaults to USD)",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with latest rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid API key or parameters"
          },
          "401": {
            "description": "Invalid or inactive API key"
          },
          "402": {
            "description": "Feature unavailable on current plan"
          },
          "429": {
            "description": "Request quota exceeded"
          }
        },
        "tags": [
          "rates"
        ]
      }
    },
    "/convert/latest": {
      "get": {
        "operationId": "convertLatest",
        "summary": "Convert currency at latest rates",
        "description": "Converts an amount from one currency to another using the latest exchange rates. Paid plans only.",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Source currency code",
            "schema": {
              "type": "string"
            },
            "example": "USD"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Target currency code",
            "schema": {
              "type": "string"
            },
            "example": "EUR"
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Amount to convert (defaults to 1.0)",
            "schema": {
              "type": "number",
              "default": 1.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful conversion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "401": {
            "description": "Invalid or inactive API key"
          },
          "402": {
            "description": "Feature unavailable on current plan"
          },
          "429": {
            "description": "Request quota exceeded"
          }
        },
        "tags": [
          "convert"
        ]
      }
    },
    "/rates/historical": {
      "get": {
        "operationId": "getHistoricalRates",
        "summary": "Get historical exchange rates",
        "description": "Returns exchange rates for a specific historical date. Paid plans only.",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Date for historical rates in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2023-01-15"
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Base currency code (defaults to USD)",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "401": {
            "description": "Invalid or inactive API key"
          },
          "402": {
            "description": "Feature unavailable on current plan"
          },
          "404": {
            "description": "No data available for specified date"
          },
          "429": {
            "description": "Request quota exceeded"
          }
        },
        "tags": [
          "rates"
        ]
      }
    },
    "/timeseries": {
      "get": {
        "operationId": "getTimeSeries",
        "summary": "Get time series exchange rates",
        "description": "Returns daily exchange rates for a date range. Professional plan and above.",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End date in YYYY-MM-DD format (defaults to prior day)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Base currency code (defaults to USD)",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with time series data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "401": {
            "description": "Invalid or inactive API key"
          },
          "402": {
            "description": "Feature unavailable on current plan"
          },
          "429": {
            "description": "Request quota exceeded"
          }
        },
        "tags": [
          "timeseries"
        ]
      }
    },
    "/fluctuation": {
      "get": {
        "operationId": "getFluctuation",
        "summary": "Get currency fluctuation data",
        "description": "Returns start/end rates, absolute change, and percentage change for currencies over a date range. Professional plan and above.",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "description": "Start date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Base currency code (defaults to USD)",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of currency codes",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with fluctuation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FluctuationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "401": {
            "description": "Invalid or inactive API key"
          },
          "402": {
            "description": "Feature unavailable on current plan"
          },
          "429": {
            "description": "Request quota exceeded"
          }
        },
        "tags": [
          "fluctuation"
        ]
      }
    },
    "/convert/historical": {
      "get": {
        "operationId": "convertHistorical",
        "summary": "Convert currency at historical rates",
        "description": "Converts an amount from one currency to another using historical exchange rates. Paid plans only.",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Date for historical rate in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Source currency code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Target currency code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Amount to convert (defaults to 1.0)",
            "schema": {
              "type": "number",
              "default": 1.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful historical conversion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "401": {
            "description": "Invalid or inactive API key"
          },
          "402": {
            "description": "Feature unavailable on current plan"
          },
          "404": {
            "description": "No data available for specified date"
          },
          "429": {
            "description": "Request quota exceeded"
          }
        },
        "tags": [
          "convert"
        ]
      }
    },
    "/iptocurrency": {
      "get": {
        "operationId": "ipToCurrency",
        "summary": "Convert currency based on IP geolocation",
        "description": "Converts an amount from a source currency to the currency associated with an IP address's geolocation. Growth plan and above.",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Source currency code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "description": "IPv4 or IPv6 address (uses client IP if omitted)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Amount to convert (defaults to 1.0)",
            "schema": {
              "type": "number",
              "default": 1.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful IP-based conversion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpToCurrencyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "401": {
            "description": "Invalid or inactive API key"
          },
          "402": {
            "description": "Feature unavailable on current plan"
          },
          "429": {
            "description": "Request quota exceeded"
          }
        },
        "tags": [
          "iptocurrency"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key obtained from CurrencyFreaks signup"
      }
    },
    "schemas": {
      "SupportedCurrenciesResponse": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/CurrencyDetail"
        }
      },
      "CurrencyDetail": {
        "type": "object",
        "properties": {
          "currencyCode": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "currencyName": {
            "type": "string",
            "description": "Full name of the currency"
          },
          "countryName": {
            "type": "string",
            "description": "Country associated with the currency"
          },
          "status": {
            "type": "string",
            "description": "Currency status (e.g., active)"
          },
          "availableFrom": {
            "type": "string",
            "description": "Date from which data is available"
          },
          "availableTo": {
            "type": "string",
            "description": "Date until which data is available"
          },
          "icon": {
            "type": "string",
            "description": "URL to the currency icon"
          }
        }
      },
      "CurrencySymbolsResponse": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        },
        "description": "Map of currency codes to currency names"
      },
      "HistoricalDataLimitsResponse": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "from": {
              "type": "string",
              "description": "Earliest available date"
            },
            "to": {
              "type": "string",
              "description": "Latest available date"
            }
          }
        }
      },
      "LatestRatesResponse": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date of the rates"
          },
          "base": {
            "type": "string",
            "description": "Base currency code"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Map of currency codes to exchange rates"
          }
        }
      },
      "ConversionResponse": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date of the conversion rate"
          },
          "from": {
            "type": "string",
            "description": "Source currency code"
          },
          "to": {
            "type": "string",
            "description": "Target currency code"
          },
          "rate": {
            "type": "number",
            "description": "Exchange rate used"
          },
          "amount": {
            "type": "number",
            "description": "Original amount"
          },
          "result": {
            "type": "number",
            "description": "Converted amount"
          }
        }
      },
      "TimeSeriesResponse": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "description": "Start date of the range"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the range"
          },
          "base": {
            "type": "string",
            "description": "Base currency code"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "description": "Map of dates to rate objects"
          }
        }
      },
      "FluctuationResponse": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "description": "Start date of the range"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the range"
          },
          "base": {
            "type": "string",
            "description": "Base currency code"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FluctuationData"
            }
          }
        }
      },
      "FluctuationData": {
        "type": "object",
        "properties": {
          "startRate": {
            "type": "number",
            "description": "Rate at start of period"
          },
          "endRate": {
            "type": "number",
            "description": "Rate at end of period"
          },
          "change": {
            "type": "number",
            "description": "Absolute change in rate"
          },
          "changePct": {
            "type": "number",
            "description": "Percentage change in rate"
          }
        }
      },
      "IpToCurrencyResponse": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date of the conversion"
          },
          "from": {
            "type": "string",
            "description": "Source currency code"
          },
          "to": {
            "type": "string",
            "description": "Target currency detected from IP"
          },
          "rate": {
            "type": "number",
            "description": "Exchange rate used"
          },
          "amount": {
            "type": "number",
            "description": "Original amount"
          },
          "result": {
            "type": "number",
            "description": "Converted amount"
          },
          "ip": {
            "type": "string",
            "description": "IP address used for geolocation"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "convert"
    },
    {
      "name": "currency-symbols"
    },
    {
      "name": "fluctuation"
    },
    {
      "name": "historical-data-limits"
    },
    {
      "name": "iptocurrency"
    },
    {
      "name": "rates"
    },
    {
      "name": "supported-currencies"
    },
    {
      "name": "timeseries"
    }
  ]
}
