{
  "openapi": "3.0.3",
  "info": {
    "title": "Tolstoy Webhooks API",
    "description": "Tolstoy is a video marketing platform for lead engagement. This API allows managing webhook subscriptions for Tolstoy video interactions and lead form submissions.",
    "version": "1.0.0",
    "x-jentic-source-url": "http://help.gotolstoy.com/en/articles/5024572-webhooks"
  },
  "servers": [
    {
      "url": "https://api.gotolstoy.com",
      "description": "Tolstoy API Server"
    }
  ],
  "paths": {
    "/webhooks/": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List all webhook subscriptions",
        "description": "Retrieves a list of all configured webhook subscriptions for the authenticated account.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "A list of webhook subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a new webhook subscription",
        "description": "Creates a new webhook subscription for a specific event type.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          }
        }
      }
    },
    "/webhooks/{webhookId}/": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Retrieve a specific webhook",
        "description": "Retrieves details of a specific webhook subscription by its ID.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      },
      "put": {
        "operationId": "updateWebhook",
        "summary": "Update an existing webhook",
        "description": "Updates an existing webhook subscription with new URL or event type.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook subscription updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook subscription",
        "description": "Deletes an existing webhook subscription by its ID.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscription deleted successfully"
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Pass your API token in the Authorization header as: Bearer YOUR_API_TOKEN"
      }
    },
    "parameters": {
      "WebhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the webhook subscription",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "WebhookCreateRequest": {
        "type": "object",
        "required": [
          "url",
          "event"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL that will receive webhook POST requests",
            "example": "https://example.com/webhook"
          },
          "event": {
            "type": "string",
            "enum": [
              "response_summary",
              "collected_info"
            ],
            "description": "The event type to subscribe to. 'response_summary' receives viewer session summaries for all Tolstoy interactions. 'collected_info' receives session data only when a lead form submission occurs."
          }
        }
      },
      "WebhookUpdateRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL that will receive webhook POST requests",
            "example": "https://example.com/webhook"
          },
          "event": {
            "type": "string",
            "enum": [
              "response_summary",
              "collected_info"
            ],
            "description": "The event type to subscribe to"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the webhook subscription"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL that receives webhook POST requests"
          },
          "event": {
            "type": "string",
            "enum": [
              "response_summary",
              "collected_info"
            ],
            "description": "The subscribed event type"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the webhook was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the webhook was last updated"
          }
        }
      },
      "WebhookPayload": {
        "type": "object",
        "description": "The payload sent to webhook URLs when events fire",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The Tolstoy account ID"
          },
          "tolstoyId": {
            "type": "string",
            "description": "The Tolstoy video/playlist ID"
          },
          "tolstoyName": {
            "type": "string",
            "description": "The name of the Tolstoy"
          },
          "sessionId": {
            "type": "string",
            "description": "Unique viewer session identifier"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the event occurred"
          },
          "pageUrl": {
            "type": "string",
            "format": "uri",
            "description": "The page URL where the viewer interacted"
          },
          "collectedInfo": {
            "type": "object",
            "description": "Form data collected from the viewer (present for collected_info events)",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "phone": {
                "type": "string"
              }
            }
          },
          "events": {
            "type": "array",
            "description": "Event log documenting page views, session starts/ends, and CTA clicks",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Event type (e.g., pageView, sessionStart, sessionEnd, ctaClick)"
                },
                "videoName": {
                  "type": "string",
                  "description": "Associated video name"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Webhooks",
      "description": "Manage webhook subscriptions for Tolstoy events"
    }
  ]
}