{
  "openapi": "3.0.3",
  "info": {
    "title": "Health Canada Drug Product Database (DPD) API",
    "description": "The Drug Product Database (DPD) API provides access to drug product information including active ingredients, companies, dosage forms, packaging, routes of administration, schedules, statuses, therapeutic classes, and veterinary species.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://health-products.canada.ca/api/documentation/dpd-documentation-en.html"
  },
  "servers": [
    {
      "url": "https://health-products.canada.ca/api/drug",
      "description": "Production server"
    }
  ],
  "paths": {
    "/activeingredient/": {
      "get": {
        "operationId": "getActiveIngredients",
        "summary": "Get active ingredients",
        "description": "Retrieves active ingredient information for drug products. An Active Ingredient is any component that has medicinal properties, and supplies pharmacological activity or other direct effect in the diagnosis, cure, mitigation, treatment or prevention of disease.",
        "tags": [
          "Active Ingredients"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Drug product code",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ingredientname",
            "in": "query",
            "required": false,
            "description": "Text string for ingredient search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language for response (defaults to English)",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr"
              ],
              "default": "en"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Response format (defaults to JSON)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with active ingredient data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActiveIngredient"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/company/": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get company information",
        "description": "Returns company information associated with drug products.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Company code",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language for response (defaults to English)",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr"
              ],
              "default": "en"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Response format (defaults to JSON)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with company data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/drugproduct/": {
      "get": {
        "operationId": "getDrugProduct",
        "summary": "Get drug product information",
        "description": "Returns basic product information including brand name and Drug Identification Number.",
        "tags": [
          "Drug Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Drug product code",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "din",
            "in": "query",
            "required": false,
            "description": "Drug Identification Number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brandname",
            "in": "query",
            "required": false,
            "description": "Brand name text string for search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Product status code (1=Approved, 2=Marketed, 3=Cancelled Pre Market, etc.)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language for response (defaults to English)",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr"
              ],
              "default": "en"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Response format (defaults to JSON)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with drug product data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DrugProduct"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/form/": {
      "get": {
        "operationId": "getDosageForm",
        "summary": "Get dosage form information",
        "description": "Returns dosage form information (tablet, capsule, powder, etc.) for drug products.",
        "tags": [
          "Dosage Forms"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Drug product code",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "Set to 'yes' to return only active dosage forms",
            "schema": {
              "type": "string",
              "enum": [
                "yes"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language for response (defaults to English)",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr"
              ],
              "default": "en"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Response format (defaults to JSON)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with dosage form data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DosageForm"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/packaging/": {
      "get": {
        "operationId": "getPackaging",
        "summary": "Get packaging information",
        "description": "Returns available package sizes for drug products.",
        "tags": [
          "Packaging"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Drug product code",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Response format (defaults to JSON)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with packaging data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Packaging"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pharmaceuticalstd/": {
      "get": {
        "operationId": "getPharmaceuticalStandard",
        "summary": "Get pharmaceutical standard",
        "description": "Returns the standard to which a drug product is manufactured and represented.",
        "tags": [
          "Pharmaceutical Standards"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Drug product code",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Response format (defaults to JSON)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with pharmaceutical standard data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PharmaceuticalStandard"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/route/": {
      "get": {
        "operationId": "getRouteOfAdministration",
        "summary": "Get route of administration",
        "description": "Indicates the body part on or through which the product is administered.",
        "tags": [
          "Routes of Administration"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Drug product code",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "Set to 'yes' to return only active routes",
            "schema": {
              "type": "string",
              "enum": [
                "yes"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language for response (defaults to English)",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr"
              ],
              "default": "en"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Response format (defaults to JSON)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with route of administration data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RouteOfAdministration"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/": {
      "get": {
        "operationId": "getSchedule",
        "summary": "Get drug schedule",
        "description": "Returns drug schedules per Food and Drug Regulations and Controlled Drugs and Substances Act.",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Drug product code",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "Set to 'yes' to return only active schedules",
            "schema": {
              "type": "string",
              "enum": [
                "yes"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language for response (defaults to English)",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr"
              ],
              "default": "en"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Response format (defaults to JSON)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with schedule data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Schedule"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/status/": {
      "get": {
        "operationId": "getProductStatus",
        "summary": "Get product status",
        "description": "Returns product status (Approved, Marketed, Cancelled, Dormant, etc.).",
        "tags": [
          "Product Status"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Drug product code",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language for response (defaults to English)",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr"
              ],
              "default": "en"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Response format (defaults to JSON)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with product status data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductStatus"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/therapeuticclass/": {
      "get": {
        "operationId": "getTherapeuticClass",
        "summary": "Get therapeutic class",
        "description": "Returns therapeutic classification assigned by main therapeutic use.",
        "tags": [
          "Therapeutic Classes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Drug product code",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language for response (defaults to English)",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr"
              ],
              "default": "en"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Response format (defaults to JSON)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with therapeutic class data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TherapeuticClass"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/veterinaryspecies/": {
      "get": {
        "operationId": "getVeterinarySpecies",
        "summary": "Get veterinary species",
        "description": "Returns animal species types for veterinary products.",
        "tags": [
          "Veterinary Species"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Drug product code",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language for response (defaults to English)",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "fr"
              ],
              "default": "en"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Response format (defaults to JSON)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with veterinary species data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VeterinarySpecies"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActiveIngredient": {
        "type": "object",
        "properties": {
          "dosage_unit": {
            "type": "string",
            "description": "Unit of dosage"
          },
          "dosage_value": {
            "type": "string",
            "description": "Value of dosage"
          },
          "drug_code": {
            "type": "integer",
            "description": "Drug product code"
          },
          "ingredient_name": {
            "type": "string",
            "description": "Name of the active ingredient"
          },
          "strength": {
            "type": "string",
            "description": "Strength of the ingredient"
          },
          "strength_unit": {
            "type": "string",
            "description": "Unit of strength measurement"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "city_name": {
            "type": "string",
            "description": "City name"
          },
          "company_code": {
            "type": "integer",
            "description": "Company code"
          },
          "company_name": {
            "type": "string",
            "description": "Company name"
          },
          "company_type": {
            "type": "string",
            "description": "Type of company"
          },
          "country_name": {
            "type": "string",
            "description": "Country name"
          },
          "post_office_box": {
            "type": "string",
            "description": "Post office box"
          },
          "postal_code": {
            "type": "string",
            "description": "Postal code"
          },
          "province_name": {
            "type": "string",
            "description": "Province name"
          },
          "street_name": {
            "type": "string",
            "description": "Street name"
          },
          "suite_number": {
            "type": "string",
            "description": "Suite number"
          }
        }
      },
      "DrugProduct": {
        "type": "object",
        "properties": {
          "ai_group_no": {
            "type": "string",
            "description": "Active ingredient group number"
          },
          "brand_name": {
            "type": "string",
            "description": "Brand name of the drug product"
          },
          "class_name": {
            "type": "string",
            "description": "Drug class name"
          },
          "descriptor": {
            "type": "string",
            "description": "Product descriptor"
          },
          "drug_code": {
            "type": "integer",
            "description": "Drug product code"
          },
          "drug_identification_number": {
            "type": "string",
            "description": "Drug Identification Number (DIN)"
          },
          "number_of_ais": {
            "type": "string",
            "description": "Number of active ingredients"
          },
          "company_name": {
            "type": "string",
            "description": "Name of the company"
          },
          "last_update_date": {
            "type": "string",
            "description": "Date of last update"
          }
        }
      },
      "DosageForm": {
        "type": "object",
        "properties": {
          "drug_code": {
            "type": "integer",
            "description": "Drug product code"
          },
          "pharmaceutical_form_code": {
            "type": "integer",
            "description": "Pharmaceutical form code"
          },
          "pharmaceutical_form_name": {
            "type": "string",
            "description": "Name of the pharmaceutical form"
          }
        }
      },
      "Packaging": {
        "type": "object",
        "properties": {
          "drug_code": {
            "type": "integer",
            "description": "Drug product code"
          },
          "package_size": {
            "type": "string",
            "description": "Package size"
          },
          "package_size_unit": {
            "type": "string",
            "description": "Unit of package size"
          },
          "package_type": {
            "type": "string",
            "description": "Type of package"
          },
          "product_information": {
            "type": "string",
            "description": "Product information"
          },
          "upc": {
            "type": "string",
            "description": "Universal Product Code"
          }
        }
      },
      "PharmaceuticalStandard": {
        "type": "object",
        "properties": {
          "drug_code": {
            "type": "integer",
            "description": "Drug product code"
          },
          "pharmaceutical_std": {
            "type": "string",
            "description": "Pharmaceutical standard"
          }
        }
      },
      "RouteOfAdministration": {
        "type": "object",
        "properties": {
          "drug_code": {
            "type": "integer",
            "description": "Drug product code"
          },
          "route_of_administration_code": {
            "type": "integer",
            "description": "Route of administration code"
          },
          "route_of_administration_name": {
            "type": "string",
            "description": "Name of the route of administration"
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "drug_code": {
            "type": "integer",
            "description": "Drug product code"
          },
          "schedule_name": {
            "type": "string",
            "description": "Name of the schedule"
          }
        }
      },
      "ProductStatus": {
        "type": "object",
        "properties": {
          "drug_code": {
            "type": "integer",
            "description": "Drug product code"
          },
          "expiration_date": {
            "type": "string",
            "description": "Expiration date"
          },
          "external_status_code": {
            "type": "string",
            "description": "External status code"
          },
          "history_date": {
            "type": "string",
            "description": "History date"
          },
          "lot_number": {
            "type": "string",
            "description": "Lot number"
          },
          "original_market_date": {
            "type": "string",
            "description": "Original market date"
          },
          "status": {
            "type": "string",
            "description": "Product status"
          }
        }
      },
      "TherapeuticClass": {
        "type": "object",
        "properties": {
          "drug_code": {
            "type": "integer",
            "description": "Drug product code"
          },
          "tc_ahfs": {
            "type": "string",
            "description": "AHFS therapeutic class description"
          },
          "tc_ahfs_number": {
            "type": "string",
            "description": "AHFS therapeutic class number"
          },
          "tc_atc": {
            "type": "string",
            "description": "ATC therapeutic class description"
          },
          "tc_atc_number": {
            "type": "string",
            "description": "ATC therapeutic class number"
          }
        }
      },
      "VeterinarySpecies": {
        "type": "object",
        "properties": {
          "drug_code": {
            "type": "integer",
            "description": "Drug product code"
          },
          "vet_species_name": {
            "type": "string",
            "description": "Name of the veterinary species"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "security": []
}