{
  "openapi": "3.0.3",
  "info": {
    "title": "Fazz PayNow QR API",
    "description": "Fazz API for creating PayNow QR code payments in Singapore, supporting both dynamic (one-time) and static (reusable) QR codes.",
    "version": "4.0.0",
    "x-jentic-source-url": "https://docs.fazz.com/docs/paynow"
  },
  "servers": [
    {
      "url": "https://xfers.io/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v4/payments": {
      "post": {
        "operationId": "createdynamicpaynowqr",
        "summary": "Create a dynamic PayNow QR payment",
        "description": "Creates a one-time PayNow QR code for a specific payment amount. Maximum SGD 20,000. Default QR expiry is 5 minutes.",
        "tags": [
          "PayNow Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDynamicPayNowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment created with QR code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayNowPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    },
    "/v4/payment_methods/paynow": {
      "post": {
        "operationId": "createstaticpaynowqr",
        "summary": "Create a static PayNow QR code",
        "description": "Creates a reusable static PayNow QR code that can accept unlimited payments.",
        "tags": [
          "PayNow Payment Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStaticPayNowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Static QR code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaticPayNowResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "basic_auth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CreateDynamicPayNowRequest": {
        "type": "object",
        "required": [
          "amount",
          "referenceId",
          "paymentMethodType"
        ],
        "properties": {
          "amount": {
            "type": "string",
            "description": "Payment amount in SGD"
          },
          "referenceId": {
            "type": "string",
            "description": "Unique reference identifier for the payment"
          },
          "paymentMethodType": {
            "type": "string",
            "enum": [
              "paynow"
            ],
            "description": "Payment method type"
          },
          "expiredAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp for QR code expiration"
          },
          "paymentMethodOptions": {
            "type": "object",
            "properties": {
              "bankShortCode": {
                "type": "string",
                "enum": [
                  "fazz"
                ],
                "description": "Bank short code"
              }
            }
          }
        }
      },
      "CreateStaticPayNowRequest": {
        "type": "object",
        "required": [
          "referenceId",
          "bankShortCode"
        ],
        "properties": {
          "referenceId": {
            "type": "string",
            "description": "Customer identifier for the static QR"
          },
          "bankShortCode": {
            "type": "string",
            "enum": [
              "fazz"
            ],
            "description": "Bank short code"
          }
        }
      },
      "PayNowPaymentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Payment ID"
          },
          "referenceId": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "paymentMethodType": {
            "type": "string"
          },
          "qrCodeImage": {
            "type": "string",
            "description": "Base64-encoded QR code image"
          },
          "expiredAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StaticPayNowResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Payment method ID"
          },
          "referenceId": {
            "type": "string"
          },
          "qrCodeImage": {
            "type": "string",
            "description": "Base64-encoded QR code image"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basic_auth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication"
      }
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": [
    {
      "name": "PayNow Payment Methods",
      "description": "Operations related to PayNow Payment Methods"
    },
    {
      "name": "PayNow Payments",
      "description": "Operations related to PayNow Payments"
    }
  ]
}