{
  "openapi": "3.0.3",
  "info": {
    "title": "Apiip - IP Geolocation API",
    "description": "Apiip provides a fast and accurate IP geolocation API. Locate and identify website visitors by IP address, returning detailed location data including city, region, country, coordinates, timezone, currency, and more.",
    "version": "1.0.0",
    "contact": {
      "name": "Apiip Support",
      "url": "https://apiip.net/contact"
    },
    "x-jentic-source-url": "https://apiip.net/"
  },
  "servers": [
    {
      "url": "https://apiip.net",
      "description": "Apiip Production API"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "IP Lookup",
      "description": "IP address geolocation lookups"
    },
    {
      "name": "Bulk Lookup",
      "description": "Bulk IP address lookups"
    }
  ],
  "paths": {
    "/api/check": {
      "get": {
        "operationId": "lookupRequesterIp",
        "summary": "Requester IP Lookup",
        "description": "Look up geolocation data for the IP address of the client making the API request.",
        "tags": ["IP Lookup"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Language"
          },
          {
            "$ref": "#/components/parameters/Output"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/check/{ip}": {
      "get": {
        "operationId": "lookupSingleIp",
        "summary": "Single IP Lookup",
        "description": "Look up geolocation data for a specific IPv4 or IPv6 address.",
        "tags": ["IP Lookup"],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "description": "IPv4 or IPv6 address to look up.",
            "schema": {
              "type": "string"
            },
            "example": "67.250.186.196"
          },
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Language"
          },
          {
            "$ref": "#/components/parameters/Output"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "IP address not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/check/{ips}": {
      "get": {
        "operationId": "lookupBulkIps",
        "summary": "Bulk IP Lookup",
        "description": "Look up geolocation data for multiple IP addresses at once (comma-separated).",
        "tags": ["Bulk Lookup"],
        "parameters": [
          {
            "name": "ips",
            "in": "path",
            "required": true,
            "description": "Comma-separated list of IPv4 or IPv6 addresses.",
            "schema": {
              "type": "string"
            },
            "example": "67.250.186.196,188.45.33.1"
          },
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Language"
          },
          {
            "$ref": "#/components/parameters/Output"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful bulk geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeolocationResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "accessKey",
        "description": "API access key obtained from the Apiip dashboard."
      }
    },
    "parameters": {
      "AccessKey": {
        "name": "accessKey",
        "in": "query",
        "required": true,
        "description": "Your Apiip API access key.",
        "schema": {
          "type": "string"
        }
      },
      "Fields": {
        "name": "fields",
        "in": "query",
        "required": false,
        "description": "Comma-separated list of response fields to return.",
        "schema": {
          "type": "string"
        }
      },
      "Language": {
        "name": "language",
        "in": "query",
        "required": false,
        "description": "2-letter language code to localize output (e.g. 'en', 'de').",
        "schema": {
          "type": "string"
        }
      },
      "Output": {
        "name": "output",
        "in": "query",
        "required": false,
        "description": "Response format: json or xml.",
        "schema": {
          "type": "string",
          "enum": ["json", "xml"]
        }
      }
    },
    "schemas": {
      "GeolocationResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "The requested IP address."
          },
          "type": {
            "type": "string",
            "description": "IP address type (ipv4 or ipv6).",
            "enum": ["ipv4", "ipv6"]
          },
          "continentCode": {
            "type": "string",
            "description": "2-letter continent code."
          },
          "continentName": {
            "type": "string",
            "description": "Full continent name."
          },
          "countryCode": {
            "type": "string",
            "description": "2-letter country code (ISO 3166-1 alpha-2)."
          },
          "countryName": {
            "type": "string",
            "description": "Full country name."
          },
          "countryNameNative": {
            "type": "string",
            "description": "Country name in native language."
          },
          "officialCountryName": {
            "type": "string",
            "description": "Official full country name."
          },
          "regionCode": {
            "type": "string",
            "description": "Region/state code."
          },
          "regionName": {
            "type": "string",
            "description": "Full region/state name."
          },
          "city": {
            "type": "string",
            "description": "City name."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal/ZIP code."
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude coordinate."
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude coordinate."
          },
          "capital": {
            "type": "string",
            "description": "Capital city of the country."
          },
          "phoneCode": {
            "type": "string",
            "description": "International dialing code."
          },
          "countryFlagEmoj": {
            "type": "string",
            "description": "Country flag emoji."
          },
          "countryFlagEmojUnicode": {
            "type": "string",
            "description": "Country flag emoji unicode."
          },
          "isEu": {
            "type": "boolean",
            "description": "Whether the country is in the European Union."
          },
          "borders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of bordering country ISO codes."
          },
          "topLevelDomains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Country top-level domains."
          },
          "languages": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Languages spoken (code to name mapping)."
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "timezone": {
            "$ref": "#/components/schemas/Timezone"
          },
          "connection": {
            "$ref": "#/components/schemas/Connection"
          },
          "security": {
            "$ref": "#/components/schemas/SecurityInfo"
          }
        }
      },
      "Currency": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "3-letter currency code (ISO 4217)."
          },
          "name": {
            "type": "string",
            "description": "Currency name."
          },
          "symbol": {
            "type": "string",
            "description": "Currency symbol."
          },
          "number": {
            "type": "string",
            "description": "ISO 4217 numeric code."
          },
          "exchangeRate": {
            "type": "number",
            "description": "Exchange rate to USD."
          }
        }
      },
      "Timezone": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "IANA timezone identifier."
          },
          "currentTime": {
            "type": "string",
            "description": "Current local date and time."
          },
          "code": {
            "type": "string",
            "description": "Timezone abbreviation."
          },
          "isDaylightSaving": {
            "type": "boolean",
            "description": "Whether DST is active."
          },
          "gmtOffset": {
            "type": "integer",
            "description": "GMT offset in seconds."
          }
        }
      },
      "Connection": {
        "type": "object",
        "properties": {
          "asn": {
            "type": "integer",
            "description": "Autonomous System Number."
          },
          "isp": {
            "type": "string",
            "description": "Internet Service Provider name."
          }
        }
      },
      "SecurityInfo": {
        "type": "object",
        "properties": {
          "isProxy": {
            "type": "boolean",
            "description": "Whether the IP is a known proxy."
          },
          "isCrawler": {
            "type": "boolean",
            "description": "Whether the IP is a known crawler."
          },
          "isTor": {
            "type": "boolean",
            "description": "Whether the IP is a Tor exit node."
          },
          "isBot": {
            "type": "boolean",
            "description": "Whether the IP is a known bot."
          },
          "threatLevel": {
            "type": "string",
            "description": "Assessed threat level.",
            "enum": ["low", "medium", "high"]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Error status.",
            "example": "fail"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description."
          },
          "code": {
            "type": "integer",
            "description": "Error code."
          }
        }
      }
    }
  }
}
