{
  "openapi": "3.0.3",
  "info": {
    "title": "Civic Auth API",
    "version": "1.0.0",
    "description": "Civic provides identity verification and authentication services. The Civic Auth API enables verification of user identity through Civic Pass tokens on blockchain networks.",
    "x-jentic-source-url": "https://docs.civic.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.civic.com/v1"
    }
  ],
  "paths": {
    "/token/verify": {
      "post": {
        "operationId": "verifyToken",
        "summary": "Verify a Civic Pass token",
        "description": "Verifies a Civic Pass token and returns the verification status",
        "tags": [
          "Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pass/status": {
      "get": {
        "operationId": "getPassStatus",
        "summary": "Get Civic Pass status",
        "description": "Returns the status of a Civic Pass for a given wallet address",
        "tags": [
          "Civic Pass"
        ],
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "description": "Wallet address to check",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "query",
            "description": "Blockchain network",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "solana",
                "ethereum",
                "polygon",
                "arbitrum"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pass status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pass/issue": {
      "post": {
        "operationId": "issuePass",
        "summary": "Issue a Civic Pass",
        "description": "Issues a new Civic Pass to a verified user",
        "tags": [
          "Civic Pass"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssuePassRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pass issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pass/revoke": {
      "post": {
        "operationId": "revokePass",
        "summary": "Revoke a Civic Pass",
        "description": "Revokes an existing Civic Pass",
        "tags": [
          "Civic Pass"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokePassRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pass revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identity/verify": {
      "post": {
        "operationId": "verifyIdentity",
        "summary": "Start identity verification",
        "description": "Initiates an identity verification process for a user",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyIdentityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationSession"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identity/status/{sessionId}": {
      "get": {
        "operationId": "getIdentityVerificationStatus",
        "summary": "Get identity verification status",
        "description": "Returns the status of an identity verification session",
        "tags": [
          "Identity"
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Verification session ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Verification status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationSession"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VerifyTokenRequest": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "Civic Pass token to verify"
          },
          "network": {
            "type": "string",
            "description": "Blockchain network"
          }
        }
      },
      "VerificationResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "expired",
              "revoked"
            ]
          },
          "wallet": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PassStatus": {
        "type": "object",
        "properties": {
          "wallet": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "expired",
              "revoked",
              "pending"
            ]
          },
          "issuedAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IssuePassRequest": {
        "type": "object",
        "required": [
          "wallet",
          "network"
        ],
        "properties": {
          "wallet": {
            "type": "string"
          },
          "network": {
            "type": "string"
          }
        }
      },
      "RevokePassRequest": {
        "type": "object",
        "required": [
          "wallet",
          "network"
        ],
        "properties": {
          "wallet": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "VerifyIdentityRequest": {
        "type": "object",
        "properties": {
          "wallet": {
            "type": "string"
          },
          "redirectUrl": {
            "type": "string"
          }
        }
      },
      "VerificationSession": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "in_progress",
              "completed",
              "failed"
            ]
          },
          "verificationUrl": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Civic Pass"
    },
    {
      "name": "Identity"
    },
    {
      "name": "Verification"
    }
  ]
}
