{
  "openapi": "3.0.3",
  "info": {
    "title": "L2S URL Shortener API",
    "version": "1.0.0",
    "description": "URL shortening API with UTM tracking support.",
    "x-jentic-source-url": "https://docs.l2s.is",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.l2s.is"
    }
  ],
  "paths": {
    "/url": {
      "post": {
        "operationId": "shortenUrl",
        "summary": "Shorten a URL",
        "description": "Shortens a given long URL with optional UTM parameters and custom key",
        "tags": [
          "URLs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShortenUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL shortened successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortenUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ShortenUrlRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL to shorten"
          },
          "customKey": {
            "type": "string",
            "description": "Custom key for the shortened URL"
          },
          "utmSource": {
            "type": "string"
          },
          "utmMedium": {
            "type": "string"
          },
          "utmCampaign": {
            "type": "string"
          },
          "utmTerm": {
            "type": "string"
          },
          "utmContent": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ShortenUrlResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "URLs"
    }
  ]
}
