{
  "openapi": "3.0.3",
  "info": {
    "title": "Dimensions Analytics API",
    "version": "2.0",
    "description": "The Dimensions Analytics API provides programmatic access to the Dimensions research database using the Dimensions Search Language (DSL). The API supports complex analytical queries across publications, grants, patents, clinical trials, and policy documents. Rate limited to 30 requests per IP address per minute.",
    "x-jentic-source-url": "https://docs.dimensions.ai/dsl"
  },
  "servers": [
    {
      "url": "https://app.dimensions.ai/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate and obtain JWT token",
        "description": "Exchange API key for a JWT token valid for approximately 2 hours",
        "operationId": "authenticate",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/dsl/v2": {
      "post": {
        "tags": [
          "Query"
        ],
        "summary": "Execute DSL query (v2)",
        "description": "Execute a Dimensions Search Language query against the Dimensions database. Returns research products, grants, patents, clinical trials, or policy documents based on the query.",
        "operationId": "queryDslV2",
        "requestBody": {
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "example": "search publications where year=2023 return publications[id+title+doi+year] limit 10"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query syntax"
          },
          "401": {
            "description": "Unauthorized - invalid or expired JWT"
          },
          "429": {
            "description": "Rate limit exceeded (30 requests per minute)"
          }
        }
      }
    },
    "/dsl": {
      "post": {
        "tags": [
          "Query"
        ],
        "summary": "Execute DSL query (alias for v2)",
        "description": "Alias endpoint that points to v2. Execute a Dimensions Search Language query.",
        "operationId": "queryDsl",
        "requestBody": {
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "example": "search grants where year=2023 return grants[id+title+funding_usd] limit 10"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query syntax"
          },
          "401": {
            "description": "Unauthorized - invalid or expired JWT"
          },
          "429": {
            "description": "Rate limit exceeded (30 requests per minute)"
          }
        }
      }
    },
    "/dsl.json": {
      "post": {
        "tags": [
          "Query"
        ],
        "summary": "Execute DSL query with JSON response (alias for v2)",
        "description": "Alias endpoint that points to v2. Execute a Dimensions Search Language query with explicit JSON response.",
        "operationId": "queryDslJson",
        "requestBody": {
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "example": "search clinical_trials where year=2023 return clinical_trials[id+title+registry] limit 10"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query syntax"
          },
          "401": {
            "description": "Unauthorized - invalid or expired JWT"
          },
          "429": {
            "description": "Rate limit exceeded (30 requests per minute)"
          }
        }
      }
    },
    "/dsl/v1": {
      "post": {
        "tags": [
          "Query"
        ],
        "summary": "Execute DSL query (v1 - legacy)",
        "description": "Legacy v1 endpoint. Execute a Dimensions Search Language query. Use v2 for new integrations.",
        "operationId": "queryDslV1",
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "example": "search publications return publications limit 10"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query syntax"
          },
          "401": {
            "description": "Unauthorized - invalid or expired JWT"
          },
          "429": {
            "description": "Rate limit exceeded (30 requests per minute)"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "jwtAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /api/auth endpoint"
      }
    },
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": [
          "key"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Your Dimensions API key"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT token valid for approximately 2 hours"
          }
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "_stats": {
            "type": "object",
            "properties": {
              "total_count": {
                "type": "integer",
                "description": "Total number of results matching the query"
              }
            }
          },
          "publications": {
            "type": "array",
            "description": "Array of publication objects (when searching publications)",
            "items": {
              "$ref": "#/components/schemas/Publication"
            }
          },
          "grants": {
            "type": "array",
            "description": "Array of grant objects (when searching grants)",
            "items": {
              "$ref": "#/components/schemas/Grant"
            }
          },
          "patents": {
            "type": "array",
            "description": "Array of patent objects (when searching patents)",
            "items": {
              "$ref": "#/components/schemas/Patent"
            }
          },
          "clinical_trials": {
            "type": "array",
            "description": "Array of clinical trial objects (when searching clinical_trials)",
            "items": {
              "$ref": "#/components/schemas/ClinicalTrial"
            }
          },
          "policy_documents": {
            "type": "array",
            "description": "Array of policy document objects (when searching policy_documents)",
            "items": {
              "$ref": "#/components/schemas/PolicyDocument"
            }
          }
        }
      },
      "Publication": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Dimensions publication ID"
          },
          "title": {
            "type": "string"
          },
          "doi": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "orcid": {
                  "type": "string"
                }
              }
            }
          },
          "journal": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "citations": {
            "type": "integer"
          },
          "times_cited": {
            "type": "integer"
          },
          "field_citation_ratio": {
            "type": "number"
          },
          "relative_citation_ratio": {
            "type": "number"
          }
        }
      },
      "Grant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Dimensions grant ID"
          },
          "title": {
            "type": "string"
          },
          "grant_number": {
            "type": "string"
          },
          "funding_usd": {
            "type": "number"
          },
          "funding_org": {
            "type": "string"
          },
          "start_year": {
            "type": "integer"
          },
          "end_year": {
            "type": "integer"
          },
          "researchers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Patent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Dimensions patent ID"
          },
          "title": {
            "type": "string"
          },
          "patent_number": {
            "type": "string"
          },
          "publication_date": {
            "type": "string"
          },
          "assignees": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "inventors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ClinicalTrial": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Dimensions clinical trial ID"
          },
          "title": {
            "type": "string"
          },
          "registry": {
            "type": "string"
          },
          "registry_id": {
            "type": "string"
          },
          "start_date": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "phase": {
            "type": "string"
          }
        }
      },
      "PolicyDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Dimensions policy document ID"
          },
          "title": {
            "type": "string"
          },
          "publication_date": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "jwtAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Obtain JWT tokens for API access"
    },
    {
      "name": "Query",
      "description": "Execute DSL queries"
    }
  ]
}