{
  "openapi": "3.0.3",
  "info": {
    "title": "Ashby API",
    "version": "1.0.0",
    "description": "Ashby ATS (Applicant Tracking System) API - RPC-style endpoints",
    "x-jentic-source-url": "https://raw.githubusercontent.com/aislingbyrnemc-sudo/openapis-specs/refs/heads/import/ashbyhq.com/ashby/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.ashbyhq.com"
    }
  ],
  "paths": {
    "/application.changeSource": {
      "post": {
        "summary": "Application Changesource",
        "operationId": "application_changeSource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/application.changeStage": {
      "post": {
        "summary": "Application Changestage",
        "operationId": "application_changeStage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/application.create": {
      "post": {
        "summary": "Application Create",
        "operationId": "application_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/application.info": {
      "post": {
        "summary": "Application Info",
        "operationId": "application_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/application.list": {
      "post": {
        "summary": "Application List",
        "operationId": "application_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/application.transfer": {
      "post": {
        "summary": "Application Transfer",
        "operationId": "application_transfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/application.update": {
      "post": {
        "summary": "Application Update",
        "operationId": "application_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/application.updateHistory": {
      "post": {
        "summary": "Application Updatehistory",
        "operationId": "application_updateHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/application.listHistory": {
      "post": {
        "summary": "Application Listhistory",
        "operationId": "application_listHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/application.addHiringTeamMember": {
      "post": {
        "summary": "Application Addhiringteammember",
        "operationId": "application_addHiringTeamMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/application.listCriteriaEvaluations": {
      "post": {
        "summary": "Application Listcriteriaevaluations",
        "operationId": "application_listCriteriaEvaluations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/application.removeHiringTeamMember": {
      "post": {
        "summary": "Application Removehiringteammember",
        "operationId": "application_removeHiringTeamMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/approval.list": {
      "post": {
        "summary": "Approval List",
        "operationId": "approval_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/apiKey.info": {
      "post": {
        "summary": "Apikey Info",
        "operationId": "apiKey_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/applicationFeedback.list": {
      "post": {
        "summary": "Applicationfeedback List",
        "operationId": "applicationFeedback_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/applicationFeedback.submit": {
      "post": {
        "summary": "Applicationfeedback Submit",
        "operationId": "applicationFeedback_submit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/assessment.addCompletedToCandidate": {
      "post": {
        "summary": "Assessment Addcompletedtocandidate",
        "operationId": "assessment_addCompletedToCandidate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/assessment.start": {
      "post": {
        "summary": "Assessment Start",
        "operationId": "assessment_start",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/assessment.list": {
      "post": {
        "summary": "Assessment List",
        "operationId": "assessment_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/assessment.update": {
      "post": {
        "summary": "Assessment Update",
        "operationId": "assessment_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/assessment.cancel": {
      "post": {
        "summary": "Assessment Cancel",
        "operationId": "assessment_cancel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/brand.list": {
      "post": {
        "summary": "Brand List",
        "operationId": "brand_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.addProject": {
      "post": {
        "summary": "Candidate Addproject",
        "operationId": "candidate_addProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.addTag": {
      "post": {
        "summary": "Candidate Addtag",
        "operationId": "candidate_addTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.anonymize": {
      "post": {
        "summary": "Candidate Anonymize",
        "operationId": "candidate_anonymize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.create": {
      "post": {
        "summary": "Candidate Create",
        "operationId": "candidate_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.createNote": {
      "post": {
        "summary": "Candidate Createnote",
        "operationId": "candidate_createNote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.info": {
      "post": {
        "summary": "Candidate Info",
        "operationId": "candidate_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.list": {
      "post": {
        "summary": "Candidate List",
        "operationId": "candidate_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.listClientInfo": {
      "post": {
        "summary": "Candidate Listclientinfo",
        "operationId": "candidate_listClientInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.listNotes": {
      "post": {
        "summary": "Candidate Listnotes",
        "operationId": "candidate_listNotes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.search": {
      "post": {
        "summary": "Candidate Search",
        "operationId": "candidate_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.listProjects": {
      "post": {
        "summary": "Candidate Listprojects",
        "operationId": "candidate_listProjects",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.update": {
      "post": {
        "summary": "Candidate Update",
        "operationId": "candidate_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.uploadFile": {
      "post": {
        "summary": "Candidate Uploadfile",
        "operationId": "candidate_uploadFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.uploadResume": {
      "post": {
        "summary": "Candidate Uploadresume",
        "operationId": "candidate_uploadResume",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.removeProject": {
      "post": {
        "summary": "Candidate Removeproject",
        "operationId": "candidate_removeProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.removeTag": {
      "post": {
        "summary": "Candidate Removetag",
        "operationId": "candidate_removeTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.addEmailMessage": {
      "post": {
        "summary": "Candidate Addemailmessage",
        "operationId": "candidate_addEmailMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.listFraudChecks": {
      "post": {
        "summary": "Candidate Listfraudchecks",
        "operationId": "candidate_listFraudChecks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidate.setFraudStatus": {
      "post": {
        "summary": "Candidate Setfraudstatus",
        "operationId": "candidate_setFraudStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/applicationHiringTeamRole.list": {
      "post": {
        "summary": "Applicationhiringteamrole List",
        "operationId": "applicationHiringTeamRole_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/applicationForm.submit": {
      "post": {
        "summary": "Applicationform Submit",
        "operationId": "applicationForm_submit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/approvalDefinition.update": {
      "post": {
        "summary": "Approvaldefinition Update",
        "operationId": "approvalDefinition_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/archiveReason.list": {
      "post": {
        "summary": "Archivereason List",
        "operationId": "archiveReason_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidateTag.create": {
      "post": {
        "summary": "Candidatetag Create",
        "operationId": "candidateTag_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidateTag.list": {
      "post": {
        "summary": "Candidatetag List",
        "operationId": "candidateTag_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidateTag.archive": {
      "post": {
        "summary": "Candidatetag Archive",
        "operationId": "candidateTag_archive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/department.info": {
      "post": {
        "summary": "Department Info",
        "operationId": "department_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/department.list": {
      "post": {
        "summary": "Department List",
        "operationId": "department_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/department.create": {
      "post": {
        "summary": "Department Create",
        "operationId": "department_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/department.archive": {
      "post": {
        "summary": "Department Archive",
        "operationId": "department_archive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/department.restore": {
      "post": {
        "summary": "Department Restore",
        "operationId": "department_restore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/department.move": {
      "post": {
        "summary": "Department Move",
        "operationId": "department_move",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/department.update": {
      "post": {
        "summary": "Department Update",
        "operationId": "department_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/file.info": {
      "post": {
        "summary": "File Info",
        "operationId": "file_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/file.createFileUploadHandle": {
      "post": {
        "summary": "File Createfileuploadhandle",
        "operationId": "file_createFileUploadHandle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/closeReason.list": {
      "post": {
        "summary": "Closereason List",
        "operationId": "closeReason_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/communicationTemplate.list": {
      "post": {
        "summary": "Communicationtemplate List",
        "operationId": "communicationTemplate_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/customField.create": {
      "post": {
        "summary": "Customfield Create",
        "operationId": "customField_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/customField.info": {
      "post": {
        "summary": "Customfield Info",
        "operationId": "customField_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/customField.list": {
      "post": {
        "summary": "Customfield List",
        "operationId": "customField_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/customField.setValue": {
      "post": {
        "summary": "Customfield Setvalue",
        "operationId": "customField_setValue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/customField.setValues": {
      "post": {
        "summary": "Customfield Setvalues",
        "operationId": "customField_setValues",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/customField.updateSelectableValues": {
      "post": {
        "summary": "Customfield Updateselectablevalues",
        "operationId": "customField_updateSelectableValues",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interview.info": {
      "post": {
        "summary": "Interview Info",
        "operationId": "interview_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interview.list": {
      "post": {
        "summary": "Interview List",
        "operationId": "interview_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/feedbackFormDefinition.info": {
      "post": {
        "summary": "Feedbackformdefinition Info",
        "operationId": "feedbackFormDefinition_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/feedbackFormDefinition.list": {
      "post": {
        "summary": "Feedbackformdefinition List",
        "operationId": "feedbackFormDefinition_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/hiringTeam.addMember": {
      "post": {
        "summary": "Hiringteam Addmember",
        "operationId": "hiringTeam_addMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/hiringTeam.removeMember": {
      "post": {
        "summary": "Hiringteam Removemember",
        "operationId": "hiringTeam_removeMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/hiringTeamRole.list": {
      "post": {
        "summary": "Hiringteamrole List",
        "operationId": "hiringTeamRole_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewEvent.list": {
      "post": {
        "summary": "Interviewevent List",
        "operationId": "interviewEvent_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewPlan.list": {
      "post": {
        "summary": "Interviewplan List",
        "operationId": "interviewPlan_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/job.create": {
      "post": {
        "summary": "Job Create",
        "operationId": "job_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/job.info": {
      "post": {
        "summary": "Job Info",
        "operationId": "job_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/job.list": {
      "post": {
        "summary": "Job List",
        "operationId": "job_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/job.setStatus": {
      "post": {
        "summary": "Job Setstatus",
        "operationId": "job_setStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/job.update": {
      "post": {
        "summary": "Job Update",
        "operationId": "job_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/job.updateCompensation": {
      "post": {
        "summary": "Job Updatecompensation",
        "operationId": "job_updateCompensation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/job.search": {
      "post": {
        "summary": "Job Search",
        "operationId": "job_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewSchedule.cancel": {
      "post": {
        "summary": "Interviewschedule Cancel",
        "operationId": "interviewSchedule_cancel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewSchedule.create": {
      "post": {
        "summary": "Interviewschedule Create",
        "operationId": "interviewSchedule_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewSchedule.list": {
      "post": {
        "summary": "Interviewschedule List",
        "operationId": "interviewSchedule_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewSchedule.update": {
      "post": {
        "summary": "Interviewschedule Update",
        "operationId": "interviewSchedule_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewStage.list": {
      "post": {
        "summary": "Interviewstage List",
        "operationId": "interviewStage_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewStage.info": {
      "post": {
        "summary": "Interviewstage Info",
        "operationId": "interviewStage_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewStageGroup.list": {
      "post": {
        "summary": "Interviewstagegroup List",
        "operationId": "interviewStageGroup_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewerPool.list": {
      "post": {
        "summary": "Interviewerpool List",
        "operationId": "interviewerPool_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewerPool.info": {
      "post": {
        "summary": "Interviewerpool Info",
        "operationId": "interviewerPool_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewerPool.create": {
      "post": {
        "summary": "Interviewerpool Create",
        "operationId": "interviewerPool_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewerPool.update": {
      "post": {
        "summary": "Interviewerpool Update",
        "operationId": "interviewerPool_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewerPool.archive": {
      "post": {
        "summary": "Interviewerpool Archive",
        "operationId": "interviewerPool_archive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewerPool.restore": {
      "post": {
        "summary": "Interviewerpool Restore",
        "operationId": "interviewerPool_restore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewerPool.addUser": {
      "post": {
        "summary": "Interviewerpool Adduser",
        "operationId": "interviewerPool_addUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/interviewerPool.removeUser": {
      "post": {
        "summary": "Interviewerpool Removeuser",
        "operationId": "interviewerPool_removeUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location.archive": {
      "post": {
        "summary": "Location Archive",
        "operationId": "location_archive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location.create": {
      "post": {
        "summary": "Location Create",
        "operationId": "location_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location.info": {
      "post": {
        "summary": "Location Info",
        "operationId": "location_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location.list": {
      "post": {
        "summary": "Location List",
        "operationId": "location_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location.move": {
      "post": {
        "summary": "Location Move",
        "operationId": "location_move",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location.restore": {
      "post": {
        "summary": "Location Restore",
        "operationId": "location_restore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location.updateAddress": {
      "post": {
        "summary": "Location Updateaddress",
        "operationId": "location_updateAddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location.updateName": {
      "post": {
        "summary": "Location Updatename",
        "operationId": "location_updateName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location.updateWorkplaceType": {
      "post": {
        "summary": "Location Updateworkplacetype",
        "operationId": "location_updateWorkplaceType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/location.updateExternalName": {
      "post": {
        "summary": "Location Updateexternalname",
        "operationId": "location_updateExternalName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/offer.create": {
      "post": {
        "summary": "Offer Create",
        "operationId": "offer_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/offer.approve": {
      "post": {
        "summary": "Offer Approve",
        "operationId": "offer_approve",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/offer.info": {
      "post": {
        "summary": "Offer Info",
        "operationId": "offer_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/offer.list": {
      "post": {
        "summary": "Offer List",
        "operationId": "offer_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/offer.start": {
      "post": {
        "summary": "Offer Start",
        "operationId": "offer_start",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/offer.update": {
      "post": {
        "summary": "Offer Update",
        "operationId": "offer_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/offer.startApprovalProcess": {
      "post": {
        "summary": "Offer Startapprovalprocess",
        "operationId": "offer_startApprovalProcess",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/jobBoard.list": {
      "post": {
        "summary": "Jobboard List",
        "operationId": "jobBoard_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/project.info": {
      "post": {
        "summary": "Project Info",
        "operationId": "project_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/project.list": {
      "post": {
        "summary": "Project List",
        "operationId": "project_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/project.search": {
      "post": {
        "summary": "Project Search",
        "operationId": "project_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/referral.create": {
      "post": {
        "summary": "Referral Create",
        "operationId": "referral_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/jobPosting.info": {
      "post": {
        "summary": "Jobposting Info",
        "operationId": "jobPosting_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/jobPosting.list": {
      "post": {
        "summary": "Jobposting List",
        "operationId": "jobPosting_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/jobPosting.update": {
      "post": {
        "summary": "Jobposting Update",
        "operationId": "jobPosting_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/report.generate": {
      "post": {
        "summary": "Report Generate",
        "operationId": "report_generate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/report.synchronous": {
      "post": {
        "summary": "Report Synchronous",
        "operationId": "report_synchronous",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/source.list": {
      "post": {
        "summary": "Source List",
        "operationId": "source_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/jobTemplate.list": {
      "post": {
        "summary": "Jobtemplate List",
        "operationId": "jobTemplate_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/offerProcess.start": {
      "post": {
        "summary": "Offerprocess Start",
        "operationId": "offerProcess_start",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/opening.info": {
      "post": {
        "summary": "Opening Info",
        "operationId": "opening_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/opening.list": {
      "post": {
        "summary": "Opening List",
        "operationId": "opening_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/opening.search": {
      "post": {
        "summary": "Opening Search",
        "operationId": "opening_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/opening.create": {
      "post": {
        "summary": "Opening Create",
        "operationId": "opening_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/opening.addJob": {
      "post": {
        "summary": "Opening Addjob",
        "operationId": "opening_addJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/opening.removeJob": {
      "post": {
        "summary": "Opening Removejob",
        "operationId": "opening_removeJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/opening.addLocation": {
      "post": {
        "summary": "Opening Addlocation",
        "operationId": "opening_addLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/opening.removeLocation": {
      "post": {
        "summary": "Opening Removelocation",
        "operationId": "opening_removeLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/opening.setOpeningState": {
      "post": {
        "summary": "Opening Setopeningstate",
        "operationId": "opening_setOpeningState",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/opening.setArchived": {
      "post": {
        "summary": "Opening Setarchived",
        "operationId": "opening_setArchived",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/opening.update": {
      "post": {
        "summary": "Opening Update",
        "operationId": "opening_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user.info": {
      "post": {
        "summary": "User Info",
        "operationId": "user_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user.list": {
      "post": {
        "summary": "User List",
        "operationId": "user_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user.search": {
      "post": {
        "summary": "User Search",
        "operationId": "user_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user.interviewerSettings": {
      "post": {
        "summary": "User Interviewersettings",
        "operationId": "user_interviewerSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user.updateInterviewerSettings": {
      "post": {
        "summary": "User Updateinterviewersettings",
        "operationId": "user_updateInterviewerSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user.createInterviewerPause": {
      "post": {
        "summary": "User Createinterviewerpause",
        "operationId": "user_createInterviewerPause",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user.listInterviewerPauses": {
      "post": {
        "summary": "User Listinterviewerpauses",
        "operationId": "user_listInterviewerPauses",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user.deleteInterviewerPause": {
      "post": {
        "summary": "User Deleteinterviewerpause",
        "operationId": "user_deleteInterviewerPause",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/webhook.create": {
      "post": {
        "summary": "Webhook Create",
        "operationId": "webhook_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/webhook.update": {
      "post": {
        "summary": "Webhook Update",
        "operationId": "webhook_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/webhook.info": {
      "post": {
        "summary": "Webhook Info",
        "operationId": "webhook_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/webhook.delete": {
      "post": {
        "summary": "Webhook Delete",
        "operationId": "webhook_delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/referralForm.info": {
      "post": {
        "summary": "Referralform Info",
        "operationId": "referralForm_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/sourceTrackingLink.list": {
      "post": {
        "summary": "Sourcetrackinglink List",
        "operationId": "sourceTrackingLink_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/surveyFormDefinition.info": {
      "post": {
        "summary": "Surveyformdefinition Info",
        "operationId": "surveyFormDefinition_info",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/surveyFormDefinition.list": {
      "post": {
        "summary": "Surveyformdefinition List",
        "operationId": "surveyFormDefinition_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/surveyRequest.create": {
      "post": {
        "summary": "Surveyrequest Create",
        "operationId": "surveyRequest_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/surveyRequest.list": {
      "post": {
        "summary": "Surveyrequest List",
        "operationId": "surveyRequest_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/surveySubmission.create": {
      "post": {
        "summary": "Surveysubmission Create",
        "operationId": "surveySubmission_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/surveySubmission.list": {
      "post": {
        "summary": "Surveysubmission List",
        "operationId": "surveySubmission_list",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "x-jentic-source-url": "https://developers.ashbyhq.com"
}