{
  "openapi": "3.0.3",
  "info": {
    "title": "ReciPal API",
    "version": "1.0.0",
    "description": "Nutrition label and recipe management API",
    "x-jentic-source-url": "https://www.recipal.com/api-docs"
  },
  "servers": [
    {
      "url": "https://api.recipal.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Ingredients",
      "description": "Ingredients operations"
    },
    {
      "name": "Recipes",
      "description": "Recipes operations"
    },
    {
      "name": "Labels",
      "description": "Labels operations"
    }
  ],
  "paths": {
    "/recipes": {
      "get": {
        "summary": "List recipes",
        "description": "List recipes",
        "tags": [
          "Recipes"
        ],
        "operationId": "listRecipes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create recipe",
        "description": "Create recipe",
        "tags": [
          "Recipes"
        ],
        "operationId": "createRecipe",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/recipes/{id}": {
      "get": {
        "summary": "Get recipe",
        "description": "Get recipe",
        "tags": [
          "Recipes"
        ],
        "operationId": "getRecipe",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/ingredients": {
      "get": {
        "summary": "List ingredients",
        "description": "List ingredients",
        "tags": [
          "Ingredients"
        ],
        "operationId": "listIngredients",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/labels": {
      "get": {
        "summary": "Generate nutrition label",
        "description": "Generate nutrition label",
        "tags": [
          "Labels"
        ],
        "operationId": "generateLabel",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}