{
  "openapi": "3.0.3",
  "info": {
    "title": "Pocket API",
    "version": "3.0.0",
    "description": "Pocket read-it-later service API",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/getpocket.com/pocket/3.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://getpocket.com/v3"
    }
  ],
  "paths": {
    "/add": {
      "post": {
        "summary": "Add item to Pocket",
        "operationId": "add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/send": {
      "post": {
        "summary": "Modify items (batch)",
        "operationId": "modify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actions": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/get": {
      "post": {
        "summary": "Retrieve items",
        "operationId": "retrieve",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string"
                  },
                  "favorite": {
                    "type": "integer"
                  },
                  "tag": {
                    "type": "string"
                  },
                  "contentType": {
                    "type": "string"
                  },
                  "sort": {
                    "type": "string"
                  },
                  "detailType": {
                    "type": "string"
                  },
                  "search": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string"
                  },
                  "since": {
                    "type": "integer"
                  },
                  "count": {
                    "type": "integer"
                  },
                  "offset": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oauth/request": {
      "post": {
        "summary": "Get request token",
        "operationId": "getRequestToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oauth/authorize": {
      "post": {
        "summary": "Get access token",
        "operationId": "getAccessToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/tags/get": {
      "post": {
        "summary": "Get tags",
        "operationId": "getTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/stats": {
      "post": {
        "summary": "Get stats",
        "operationId": "getStats",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "consumerKey": {
        "type": "apiKey",
        "in": "header",
        "name": "consumer_key"
      }
    }
  },
  "x-jentic-source-url": "https://getpocket.com/developer/docs"
}