{
  "openapi": "3.0.3",
  "info": {
    "title": "Random Dog API",
    "version": "1.0.0",
    "description": "A simple public API that returns random dog images and videos.",
    "x-jentic-source-url": "https://random.dog/woof.json"
  },
  "servers": [
    {
      "url": "https://random.dog"
    }
  ],
  "paths": {
    "/woof.json": {
      "get": {
        "operationId": "getRandomDogJson",
        "summary": "Get a random dog image or video as JSON",
        "description": "Returns a JSON object containing a URL to a random dog image or video, along with the file size in bytes.",
        "tags": [
          "Random Dog"
        ],
        "responses": {
          "200": {
            "description": "A random dog image or video",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DogResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/woof": {
      "get": {
        "operationId": "getRandomDogFilename",
        "summary": "Get a random dog image filename",
        "description": "Returns a plain text filename of a random dog image or video.",
        "tags": [
          "Random Dog"
        ],
        "responses": {
          "200": {
            "description": "A random dog image filename",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "02f1d7d0-9ff7-44af-8066-dd9247ebe74d.jpg"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DogResponse": {
        "type": "object",
        "properties": {
          "fileSizeBytes": {
            "type": "integer",
            "description": "File size in bytes",
            "example": 2017779
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Direct URL to the random dog image or video",
            "example": "https://random.dog/02f1d7d0-9ff7-44af-8066-dd9247ebe74d.jpg"
          }
        },
        "required": [
          "fileSizeBytes",
          "url"
        ]
      }
    },
    "securitySchemes": {}
  },
  "security": []
}