{
  "openapi": "3.0.3",
  "info": {
    "title": "Grubhub API",
    "description": "The Grubhub API enables restaurant partners and integrators to manage orders, menus, and restaurant operations on the Grubhub food ordering and delivery platform.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developer.grubhub.com/"
  },
  "servers": [
    {
      "url": "https://api-gtm.grubhub.com/v1",
      "description": "Grubhub production API"
    }
  ],
  "paths": {
    "/restaurants": {
      "get": {
        "tags": [
          "Restaurants"
        ],
        "summary": "List restaurants",
        "description": "Retrieve a list of restaurants associated with the authenticated account.",
        "operationId": "listRestaurants",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of restaurants to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of restaurants to skip for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of restaurants.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestaurantList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/restaurants/{restaurantId}": {
      "get": {
        "tags": [
          "Restaurants"
        ],
        "summary": "Get restaurant",
        "description": "Retrieve details for a specific restaurant.",
        "operationId": "getRestaurant",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "path",
            "description": "Unique identifier of the restaurant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Restaurant details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Restaurant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Restaurants"
        ],
        "summary": "Update restaurant",
        "description": "Update details for a specific restaurant.",
        "operationId": "updateRestaurant",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "path",
            "description": "Unique identifier of the restaurant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestaurantUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Restaurant updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Restaurant"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Restaurant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/restaurants/{restaurantId}/availability": {
      "get": {
        "tags": [
          "Restaurants"
        ],
        "summary": "Get restaurant availability",
        "description": "Retrieve the current availability and operating hours for a restaurant.",
        "operationId": "getRestaurantAvailability",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "path",
            "description": "Unique identifier of the restaurant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Restaurant availability details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestaurantAvailability"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Restaurant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Restaurants"
        ],
        "summary": "Update restaurant availability",
        "description": "Update the availability and operating hours for a restaurant.",
        "operationId": "updateRestaurantAvailability",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "path",
            "description": "Unique identifier of the restaurant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestaurantAvailabilityUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Availability updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestaurantAvailability"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Restaurant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/restaurants/{restaurantId}/menus": {
      "get": {
        "tags": [
          "Menus"
        ],
        "summary": "Get menus",
        "description": "Retrieve all menus for a specific restaurant.",
        "operationId": "getMenus",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "path",
            "description": "Unique identifier of the restaurant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of menus for the restaurant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MenuList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Restaurant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Menus"
        ],
        "summary": "Update menus",
        "description": "Update the full menu structure for a restaurant.",
        "operationId": "updateMenus",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "path",
            "description": "Unique identifier of the restaurant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuListUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Menus updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MenuList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Restaurant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/restaurants/{restaurantId}/menus/{menuId}/items": {
      "get": {
        "tags": [
          "Menus"
        ],
        "summary": "List menu items",
        "description": "Retrieve all items in a specific menu.",
        "operationId": "listMenuItems",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "path",
            "description": "Unique identifier of the restaurant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "menuId",
            "in": "path",
            "description": "Unique identifier of the menu.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of menu items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MenuItemList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Restaurant or menu not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/restaurants/{restaurantId}/menus/{menuId}/items/{itemId}": {
      "put": {
        "tags": [
          "Menus"
        ],
        "summary": "Update menu item",
        "description": "Update a specific item within a menu.",
        "operationId": "updateMenuItem",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "path",
            "description": "Unique identifier of the restaurant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "menuId",
            "in": "path",
            "description": "Unique identifier of the menu.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "Unique identifier of the menu item.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuItemUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Menu item updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MenuItem"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Restaurant, menu, or item not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/restaurants/{restaurantId}/menus/{menuId}/items/{itemId}/availability": {
      "put": {
        "tags": [
          "Menus"
        ],
        "summary": "Update item availability",
        "description": "Update the availability status of a specific menu item (e.g., mark as sold out or available).",
        "operationId": "updateMenuItemAvailability",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "path",
            "description": "Unique identifier of the restaurant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "menuId",
            "in": "path",
            "description": "Unique identifier of the menu.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "Unique identifier of the menu item.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemAvailabilityUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item availability updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemAvailability"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Restaurant, menu, or item not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/restaurants/{restaurantId}/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List orders",
        "description": "Retrieve a list of orders for a specific restaurant.",
        "operationId": "listOrders",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "path",
            "description": "Unique identifier of the restaurant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter orders by status.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "confirmed",
                "preparing",
                "ready",
                "delivered",
                "cancelled",
                "rejected"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter orders placed on or after this date (ISO 8601 format).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter orders placed on or before this date (ISO 8601 format).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of orders to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of orders to skip for pagination.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of orders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Restaurant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order",
        "description": "Retrieve details for a specific order.",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Unique identifier of the order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/confirm": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Confirm order",
        "description": "Confirm acceptance of an incoming order and provide an estimated prep time.",
        "operationId": "confirmOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Unique identifier of the order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderConfirmation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order confirmed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters or order cannot be confirmed in its current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/reject": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Reject order",
        "description": "Reject an incoming order with a reason.",
        "operationId": "rejectOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Unique identifier of the order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRejection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order rejected successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters or order cannot be rejected in its current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/cancel": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel order",
        "description": "Cancel a previously confirmed order with a reason.",
        "operationId": "cancelOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Unique identifier of the order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCancellation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancelled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters or order cannot be cancelled in its current state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/prep-time": {
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Update prep time",
        "description": "Update the estimated preparation time for an active order.",
        "operationId": "updateOrderPrepTime",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Unique identifier of the order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrepTimeUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prep time updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/delivery-status": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get delivery status",
        "description": "Retrieve the current delivery status for an order.",
        "operationId": "getOrderDeliveryStatus",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "Unique identifier of the order.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery status details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryStatus"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deliveries/{deliveryId}": {
      "get": {
        "tags": [
          "Delivery"
        ],
        "summary": "Get delivery info",
        "description": "Retrieve detailed information about a specific delivery.",
        "operationId": "getDelivery",
        "parameters": [
          {
            "name": "deliveryId",
            "in": "path",
            "description": "Unique identifier of the delivery.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delivery"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Delivery not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deliveries/{deliveryId}/update": {
      "post": {
        "tags": [
          "Delivery"
        ],
        "summary": "Update delivery status",
        "description": "Update the status of a delivery (e.g., picked up, en route, delivered).",
        "operationId": "updateDeliveryStatus",
        "parameters": [
          {
            "name": "deliveryId",
            "in": "path",
            "description": "Unique identifier of the delivery.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryStatusUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delivery status updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delivery"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters or invalid status transition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Delivery not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/restaurants/{restaurantId}/reports/orders": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get order reports",
        "description": "Retrieve order report data for a restaurant over a specified date range.",
        "operationId": "getOrderReports",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "path",
            "description": "Unique identifier of the restaurant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the report period (ISO 8601 format).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the report period (ISO 8601 format).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order report data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderReport"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Restaurant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/restaurants/{restaurantId}/reports/financials": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get financial reports",
        "description": "Retrieve financial report data for a restaurant over a specified date range.",
        "operationId": "getFinancialReports",
        "parameters": [
          {
            "name": "restaurantId",
            "in": "path",
            "description": "Unique identifier of the restaurant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for the report period (ISO 8601 format).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for the report period (ISO 8601 format).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial report data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialReport"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Restaurant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.0 Bearer token. Obtain a token via the Grubhub OAuth 2.0 authorization flow."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code."
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message."
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string",
                      "description": "The field that caused the error."
                    },
                    "reason": {
                      "type": "string",
                      "description": "Description of why the field is invalid."
                    }
                  }
                },
                "description": "Additional details about the error."
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "Restaurant": {
        "type": "object",
        "properties": {
          "restaurantId": {
            "type": "string",
            "description": "Unique identifier of the restaurant."
          },
          "name": {
            "type": "string",
            "description": "Name of the restaurant."
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number."
          },
          "cuisineTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Types of cuisine served."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "suspended"
            ],
            "description": "Current status of the restaurant."
          },
          "rating": {
            "type": "number",
            "format": "float",
            "description": "Average customer rating."
          },
          "operatingHours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperatingHours"
            },
            "description": "Weekly operating hours."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the restaurant was created."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the restaurant was last updated."
          }
        },
        "required": [
          "restaurantId",
          "name",
          "address",
          "status"
        ]
      },
      "RestaurantUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the restaurant."
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number."
          },
          "cuisineTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Types of cuisine served."
          },
          "operatingHours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperatingHours"
            },
            "description": "Weekly operating hours."
          }
        }
      },
      "RestaurantList": {
        "type": "object",
        "properties": {
          "restaurants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Restaurant"
            }
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of restaurants."
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results returned."
          },
          "offset": {
            "type": "integer",
            "description": "Number of results skipped."
          }
        },
        "required": [
          "restaurants",
          "totalCount"
        ]
      },
      "Address": {
        "type": "object",
        "properties": {
          "street1": {
            "type": "string",
            "description": "Primary street address."
          },
          "street2": {
            "type": "string",
            "description": "Secondary street address (e.g., suite, unit)."
          },
          "city": {
            "type": "string",
            "description": "City name."
          },
          "state": {
            "type": "string",
            "description": "State or province code."
          },
          "zipCode": {
            "type": "string",
            "description": "ZIP or postal code."
          },
          "country": {
            "type": "string",
            "description": "Country code (ISO 3166-1 alpha-2)."
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude coordinate."
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude coordinate."
          }
        },
        "required": [
          "street1",
          "city",
          "state",
          "zipCode"
        ]
      },
      "OperatingHours": {
        "type": "object",
        "properties": {
          "dayOfWeek": {
            "type": "string",
            "enum": [
              "monday",
              "tuesday",
              "wednesday",
              "thursday",
              "friday",
              "saturday",
              "sunday"
            ],
            "description": "Day of the week."
          },
          "openTime": {
            "type": "string",
            "description": "Opening time in HH:MM format (24-hour)."
          },
          "closeTime": {
            "type": "string",
            "description": "Closing time in HH:MM format (24-hour)."
          },
          "isClosed": {
            "type": "boolean",
            "description": "Whether the restaurant is closed on this day."
          }
        },
        "required": [
          "dayOfWeek",
          "openTime",
          "closeTime"
        ]
      },
      "RestaurantAvailability": {
        "type": "object",
        "properties": {
          "restaurantId": {
            "type": "string",
            "description": "Unique identifier of the restaurant."
          },
          "isOpen": {
            "type": "boolean",
            "description": "Whether the restaurant is currently accepting orders."
          },
          "acceptingOrders": {
            "type": "boolean",
            "description": "Whether the restaurant is actively accepting new orders."
          },
          "pausedUntil": {
            "type": "string",
            "format": "date-time",
            "description": "If paused, the time when the restaurant will resume accepting orders."
          },
          "reason": {
            "type": "string",
            "description": "Reason for the current availability status."
          },
          "operatingHours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperatingHours"
            },
            "description": "Current operating hours."
          }
        },
        "required": [
          "restaurantId",
          "isOpen",
          "acceptingOrders"
        ]
      },
      "RestaurantAvailabilityUpdate": {
        "type": "object",
        "properties": {
          "acceptingOrders": {
            "type": "boolean",
            "description": "Whether the restaurant should accept new orders."
          },
          "pausedUntil": {
            "type": "string",
            "format": "date-time",
            "description": "Pause order acceptance until this time."
          },
          "reason": {
            "type": "string",
            "description": "Reason for the availability change."
          }
        },
        "required": [
          "acceptingOrders"
        ]
      },
      "Menu": {
        "type": "object",
        "properties": {
          "menuId": {
            "type": "string",
            "description": "Unique identifier of the menu."
          },
          "name": {
            "type": "string",
            "description": "Name of the menu (e.g., Lunch, Dinner, Catering)."
          },
          "description": {
            "type": "string",
            "description": "Description of the menu."
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the menu is currently active."
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MenuCategory"
            },
            "description": "Categories within this menu."
          },
          "availableHours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperatingHours"
            },
            "description": "Hours during which this menu is available."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the menu was last updated."
          }
        },
        "required": [
          "menuId",
          "name",
          "isActive"
        ]
      },
      "MenuCategory": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "string",
            "description": "Unique identifier of the category."
          },
          "name": {
            "type": "string",
            "description": "Name of the category."
          },
          "description": {
            "type": "string",
            "description": "Description of the category."
          },
          "sortOrder": {
            "type": "integer",
            "description": "Display order of the category."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MenuItem"
            },
            "description": "Items in this category."
          }
        },
        "required": [
          "categoryId",
          "name"
        ]
      },
      "MenuItem": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "Unique identifier of the menu item."
          },
          "name": {
            "type": "string",
            "description": "Name of the item."
          },
          "description": {
            "type": "string",
            "description": "Description of the item."
          },
          "price": {
            "type": "number",
            "format": "float",
            "description": "Base price of the item in USD."
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the item image."
          },
          "isAvailable": {
            "type": "boolean",
            "description": "Whether the item is currently available for ordering."
          },
          "modifierGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModifierGroup"
            },
            "description": "Available modifier groups (e.g., toppings, sizes)."
          },
          "calories": {
            "type": "integer",
            "description": "Calorie count for the item."
          },
          "allergens": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of allergens present in the item."
          },
          "sortOrder": {
            "type": "integer",
            "description": "Display order of the item."
          }
        },
        "required": [
          "itemId",
          "name",
          "price",
          "isAvailable"
        ]
      },
      "MenuItemUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the item."
          },
          "description": {
            "type": "string",
            "description": "Description of the item."
          },
          "price": {
            "type": "number",
            "format": "float",
            "description": "Base price of the item in USD."
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the item image."
          },
          "isAvailable": {
            "type": "boolean",
            "description": "Whether the item is currently available for ordering."
          },
          "modifierGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModifierGroup"
            },
            "description": "Available modifier groups."
          },
          "calories": {
            "type": "integer",
            "description": "Calorie count for the item."
          },
          "allergens": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of allergens present in the item."
          }
        }
      },
      "MenuItemList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MenuItem"
            }
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of items."
          }
        },
        "required": [
          "items",
          "totalCount"
        ]
      },
      "ModifierGroup": {
        "type": "object",
        "properties": {
          "groupId": {
            "type": "string",
            "description": "Unique identifier of the modifier group."
          },
          "name": {
            "type": "string",
            "description": "Name of the modifier group (e.g., Size, Toppings)."
          },
          "minSelections": {
            "type": "integer",
            "description": "Minimum number of selections required."
          },
          "maxSelections": {
            "type": "integer",
            "description": "Maximum number of selections allowed."
          },
          "modifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Modifier"
            },
            "description": "Available modifiers in this group."
          }
        },
        "required": [
          "groupId",
          "name",
          "modifiers"
        ]
      },
      "Modifier": {
        "type": "object",
        "properties": {
          "modifierId": {
            "type": "string",
            "description": "Unique identifier of the modifier."
          },
          "name": {
            "type": "string",
            "description": "Name of the modifier."
          },
          "price": {
            "type": "number",
            "format": "float",
            "description": "Additional price for this modifier."
          },
          "isDefault": {
            "type": "boolean",
            "description": "Whether this modifier is selected by default."
          }
        },
        "required": [
          "modifierId",
          "name",
          "price"
        ]
      },
      "MenuList": {
        "type": "object",
        "properties": {
          "menus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Menu"
            }
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of menus."
          }
        },
        "required": [
          "menus",
          "totalCount"
        ]
      },
      "MenuListUpdate": {
        "type": "object",
        "properties": {
          "menus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Menu"
            },
            "description": "Complete list of menus to set for the restaurant."
          }
        },
        "required": [
          "menus"
        ]
      },
      "ItemAvailability": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "Unique identifier of the menu item."
          },
          "isAvailable": {
            "type": "boolean",
            "description": "Whether the item is currently available."
          },
          "unavailableUntil": {
            "type": "string",
            "format": "date-time",
            "description": "If unavailable, when the item will become available again."
          }
        },
        "required": [
          "itemId",
          "isAvailable"
        ]
      },
      "ItemAvailabilityUpdate": {
        "type": "object",
        "properties": {
          "isAvailable": {
            "type": "boolean",
            "description": "Whether the item should be marked as available."
          },
          "unavailableUntil": {
            "type": "string",
            "format": "date-time",
            "description": "If marking unavailable, when the item will become available again."
          }
        },
        "required": [
          "isAvailable"
        ]
      },
      "Order": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "Unique identifier of the order."
          },
          "restaurantId": {
            "type": "string",
            "description": "Unique identifier of the restaurant."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "confirmed",
              "preparing",
              "ready",
              "picked_up",
              "delivered",
              "cancelled",
              "rejected"
            ],
            "description": "Current status of the order."
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            },
            "description": "Items in the order."
          },
          "subtotal": {
            "type": "number",
            "format": "float",
            "description": "Order subtotal before fees and taxes."
          },
          "tax": {
            "type": "number",
            "format": "float",
            "description": "Tax amount."
          },
          "deliveryFee": {
            "type": "number",
            "format": "float",
            "description": "Delivery fee charged."
          },
          "tip": {
            "type": "number",
            "format": "float",
            "description": "Tip amount."
          },
          "total": {
            "type": "number",
            "format": "float",
            "description": "Total order amount."
          },
          "specialInstructions": {
            "type": "string",
            "description": "Special instructions from the customer."
          },
          "estimatedPrepTime": {
            "type": "integer",
            "description": "Estimated preparation time in minutes."
          },
          "estimatedDeliveryTime": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated delivery time."
          },
          "orderType": {
            "type": "string",
            "enum": [
              "delivery",
              "pickup"
            ],
            "description": "Type of order."
          },
          "deliveryAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "placedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the order was placed."
          },
          "confirmedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the order was confirmed."
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the order was delivered."
          }
        },
        "required": [
          "orderId",
          "restaurantId",
          "status",
          "items",
          "total",
          "orderType",
          "placedAt"
        ]
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "Unique identifier of the menu item."
          },
          "name": {
            "type": "string",
            "description": "Name of the item."
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity ordered."
          },
          "unitPrice": {
            "type": "number",
            "format": "float",
            "description": "Unit price of the item."
          },
          "totalPrice": {
            "type": "number",
            "format": "float",
            "description": "Total price for this line item."
          },
          "modifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItemModifier"
            },
            "description": "Selected modifiers."
          },
          "specialInstructions": {
            "type": "string",
            "description": "Special instructions for this item."
          }
        },
        "required": [
          "itemId",
          "name",
          "quantity",
          "unitPrice",
          "totalPrice"
        ]
      },
      "OrderItemModifier": {
        "type": "object",
        "properties": {
          "modifierId": {
            "type": "string",
            "description": "Unique identifier of the modifier."
          },
          "name": {
            "type": "string",
            "description": "Name of the modifier."
          },
          "price": {
            "type": "number",
            "format": "float",
            "description": "Additional price for this modifier."
          }
        },
        "required": [
          "modifierId",
          "name",
          "price"
        ]
      },
      "Customer": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier of the customer."
          },
          "firstName": {
            "type": "string",
            "description": "Customer first name."
          },
          "lastName": {
            "type": "string",
            "description": "Customer last name."
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address."
          }
        },
        "required": [
          "customerId",
          "firstName",
          "lastName"
        ]
      },
      "OrderList": {
        "type": "object",
        "properties": {
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of orders matching the query."
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results returned."
          },
          "offset": {
            "type": "integer",
            "description": "Number of results skipped."
          }
        },
        "required": [
          "orders",
          "totalCount"
        ]
      },
      "OrderConfirmation": {
        "type": "object",
        "properties": {
          "estimatedPrepTime": {
            "type": "integer",
            "description": "Estimated preparation time in minutes."
          }
        },
        "required": [
          "estimatedPrepTime"
        ]
      },
      "OrderRejection": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "enum": [
              "out_of_items",
              "too_busy",
              "closing_soon",
              "other"
            ],
            "description": "Reason for rejecting the order."
          },
          "message": {
            "type": "string",
            "description": "Optional message providing additional details."
          }
        },
        "required": [
          "reason"
        ]
      },
      "OrderCancellation": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "enum": [
              "out_of_items",
              "too_busy",
              "customer_request",
              "other"
            ],
            "description": "Reason for cancelling the order."
          },
          "message": {
            "type": "string",
            "description": "Optional message providing additional details."
          }
        },
        "required": [
          "reason"
        ]
      },
      "PrepTimeUpdate": {
        "type": "object",
        "properties": {
          "estimatedPrepTime": {
            "type": "integer",
            "description": "Updated estimated preparation time in minutes."
          }
        },
        "required": [
          "estimatedPrepTime"
        ]
      },
      "DeliveryStatus": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "Unique identifier of the order."
          },
          "deliveryId": {
            "type": "string",
            "description": "Unique identifier of the delivery."
          },
          "status": {
            "type": "string",
            "enum": [
              "assigned",
              "en_route_to_restaurant",
              "at_restaurant",
              "picked_up",
              "en_route_to_customer",
              "delivered"
            ],
            "description": "Current delivery status."
          },
          "driverName": {
            "type": "string",
            "description": "Name of the delivery driver."
          },
          "estimatedDeliveryTime": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated delivery time."
          },
          "driverLocation": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number",
                "format": "double",
                "description": "Latitude of the driver."
              },
              "longitude": {
                "type": "number",
                "format": "double",
                "description": "Longitude of the driver."
              }
            },
            "description": "Current location of the delivery driver."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last status update."
          }
        },
        "required": [
          "orderId",
          "deliveryId",
          "status"
        ]
      },
      "Delivery": {
        "type": "object",
        "properties": {
          "deliveryId": {
            "type": "string",
            "description": "Unique identifier of the delivery."
          },
          "orderId": {
            "type": "string",
            "description": "Unique identifier of the associated order."
          },
          "status": {
            "type": "string",
            "enum": [
              "assigned",
              "en_route_to_restaurant",
              "at_restaurant",
              "picked_up",
              "en_route_to_customer",
              "delivered",
              "failed"
            ],
            "description": "Current delivery status."
          },
          "driverName": {
            "type": "string",
            "description": "Name of the delivery driver."
          },
          "driverPhone": {
            "type": "string",
            "description": "Phone number of the delivery driver."
          },
          "pickupAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "dropoffAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "estimatedPickupTime": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated pickup time from the restaurant."
          },
          "estimatedDeliveryTime": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated delivery time to the customer."
          },
          "actualPickupTime": {
            "type": "string",
            "format": "date-time",
            "description": "Actual pickup time from the restaurant."
          },
          "actualDeliveryTime": {
            "type": "string",
            "format": "date-time",
            "description": "Actual delivery time to the customer."
          },
          "driverLocation": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number",
                "format": "double",
                "description": "Latitude of the driver."
              },
              "longitude": {
                "type": "number",
                "format": "double",
                "description": "Longitude of the driver."
              }
            },
            "description": "Current location of the delivery driver."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the delivery was created."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update."
          }
        },
        "required": [
          "deliveryId",
          "orderId",
          "status"
        ]
      },
      "DeliveryStatusUpdate": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "at_restaurant",
              "picked_up",
              "en_route_to_customer",
              "delivered",
              "failed"
            ],
            "description": "New delivery status."
          },
          "message": {
            "type": "string",
            "description": "Optional message about the status update."
          }
        },
        "required": [
          "status"
        ]
      },
      "OrderReport": {
        "type": "object",
        "properties": {
          "restaurantId": {
            "type": "string",
            "description": "Unique identifier of the restaurant."
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Start date of the report period."
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "End date of the report period."
          },
          "totalOrders": {
            "type": "integer",
            "description": "Total number of orders in the period."
          },
          "completedOrders": {
            "type": "integer",
            "description": "Number of completed orders."
          },
          "cancelledOrders": {
            "type": "integer",
            "description": "Number of cancelled orders."
          },
          "rejectedOrders": {
            "type": "integer",
            "description": "Number of rejected orders."
          },
          "averagePrepTime": {
            "type": "number",
            "format": "float",
            "description": "Average preparation time in minutes."
          },
          "averageOrderValue": {
            "type": "number",
            "format": "float",
            "description": "Average order value in USD."
          },
          "dailyBreakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "orderCount": {
                  "type": "integer"
                },
                "revenue": {
                  "type": "number",
                  "format": "float"
                }
              }
            },
            "description": "Daily breakdown of order data."
          }
        },
        "required": [
          "restaurantId",
          "startDate",
          "endDate",
          "totalOrders"
        ]
      },
      "FinancialReport": {
        "type": "object",
        "properties": {
          "restaurantId": {
            "type": "string",
            "description": "Unique identifier of the restaurant."
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Start date of the report period."
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "End date of the report period."
          },
          "grossRevenue": {
            "type": "number",
            "format": "float",
            "description": "Gross revenue for the period."
          },
          "netRevenue": {
            "type": "number",
            "format": "float",
            "description": "Net revenue after fees and commissions."
          },
          "commissionFees": {
            "type": "number",
            "format": "float",
            "description": "Total commission fees charged by Grubhub."
          },
          "deliveryFees": {
            "type": "number",
            "format": "float",
            "description": "Total delivery fees collected."
          },
          "taxCollected": {
            "type": "number",
            "format": "float",
            "description": "Total tax collected."
          },
          "tipsReceived": {
            "type": "number",
            "format": "float",
            "description": "Total tips received."
          },
          "adjustments": {
            "type": "number",
            "format": "float",
            "description": "Total adjustments (refunds, credits, etc.)."
          },
          "totalPayout": {
            "type": "number",
            "format": "float",
            "description": "Total payout amount to the restaurant."
          },
          "dailyBreakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "grossRevenue": {
                  "type": "number",
                  "format": "float"
                },
                "netRevenue": {
                  "type": "number",
                  "format": "float"
                },
                "orderCount": {
                  "type": "integer"
                }
              }
            },
            "description": "Daily breakdown of financial data."
          }
        },
        "required": [
          "restaurantId",
          "startDate",
          "endDate",
          "grossRevenue",
          "netRevenue",
          "totalPayout"
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Restaurants",
      "description": "Manage restaurant profiles and availability"
    },
    {
      "name": "Menus",
      "description": "Manage restaurant menus and menu items"
    },
    {
      "name": "Orders",
      "description": "Manage and process incoming orders"
    },
    {
      "name": "Delivery",
      "description": "Track and manage deliveries"
    },
    {
      "name": "Reports",
      "description": "Access order and financial reports"
    }
  ]
}