{
  "openapi": "3.0.3",
  "info": {
    "title": "DAT Freight API",
    "version": "1.0.0",
    "description": "DAT Freight & Analytics API for load board, rate lookup, freight posting, carrier qualification, and shipment tracking.",
    "x-jentic-source-url": "https://www.dat.com/api-integration",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.dat.com"
    }
  ],
  "paths": {
    "/rates/lookup": {
      "post": {
        "operationId": "lookupRate",
        "summary": "Rate Lookup",
        "description": "Look up spot and contract market rates for freight lanes.",
        "tags": [
          "Rates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RateLookupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rates/history": {
      "get": {
        "operationId": "getRateHistory",
        "summary": "Get Rate History",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Origin market or zip"
          },
          {
            "name": "destination",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Destination market or zip"
          },
          {
            "name": "equipmentType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "van",
                "reefer",
                "flatbed"
              ]
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Rate History"
      }
    },
    "/loads": {
      "post": {
        "operationId": "postLoad",
        "summary": "Post Load",
        "tags": [
          "Load Board"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Load"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Post Load"
      },
      "get": {
        "operationId": "searchLoads",
        "summary": "Search Loads",
        "tags": [
          "Load Board"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "equipmentType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoadListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search Loads"
      }
    },
    "/loads/{loadId}": {
      "get": {
        "operationId": "getLoad",
        "summary": "Get Load",
        "tags": [
          "Load Board"
        ],
        "parameters": [
          {
            "name": "loadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Load"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Load"
      },
      "delete": {
        "operationId": "deleteLoad",
        "summary": "Delete Load",
        "tags": [
          "Load Board"
        ],
        "parameters": [
          {
            "name": "loadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete Load"
      }
    },
    "/trucks": {
      "post": {
        "operationId": "postTruck",
        "summary": "Post Truck Availability",
        "tags": [
          "Trucks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TruckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Truck"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Post Truck Availability"
      },
      "get": {
        "operationId": "searchTrucks",
        "summary": "Search Available Trucks",
        "tags": [
          "Trucks"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "equipmentType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TruckListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search Available Trucks"
      }
    },
    "/carriers/{dotNumber}": {
      "get": {
        "operationId": "getCarrier",
        "summary": "Get Carrier Info",
        "tags": [
          "Carriers"
        ],
        "parameters": [
          {
            "name": "dotNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "USDOT number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Carrier"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Carrier Info"
      }
    }
  },
  "components": {
    "schemas": {
      "RateLookupRequest": {
        "type": "object",
        "properties": {
          "origin": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "equipmentType": {
            "type": "string"
          },
          "rateType": {
            "type": "string",
            "enum": [
              "spot",
              "contract"
            ]
          }
        }
      },
      "RateLookupResponse": {
        "type": "object",
        "properties": {
          "rate": {
            "type": "number"
          },
          "ratePerMile": {
            "type": "number"
          },
          "mileage": {
            "type": "number"
          },
          "confidence": {
            "type": "string"
          }
        }
      },
      "RateHistoryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "rate": {
                  "type": "number"
                },
                "ratePerMile": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "Load": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "origin": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "equipmentType": {
            "type": "string"
          },
          "rate": {
            "type": "number"
          },
          "pickupDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "LoadRequest": {
        "type": "object",
        "properties": {
          "origin": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "equipmentType": {
            "type": "string"
          },
          "rate": {
            "type": "number"
          },
          "pickupDate": {
            "type": "string",
            "format": "date"
          },
          "weight": {
            "type": "number"
          }
        }
      },
      "LoadListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Load"
            }
          }
        }
      },
      "Truck": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "origin": {
            "type": "string"
          },
          "equipmentType": {
            "type": "string"
          },
          "availableDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "TruckRequest": {
        "type": "object",
        "properties": {
          "origin": {
            "type": "string"
          },
          "equipmentType": {
            "type": "string"
          },
          "availableDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "TruckListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Truck"
            }
          }
        }
      },
      "Carrier": {
        "type": "object",
        "properties": {
          "dotNumber": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "mcNumber": {
            "type": "string"
          },
          "safetyRating": {
            "type": "string"
          },
          "insuranceOnFile": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Carriers"
    },
    {
      "name": "Load Board"
    },
    {
      "name": "Rates"
    },
    {
      "name": "Trucks"
    }
  ]
}
