{
  "openapi": "3.0.3",
  "info": {
    "title": "Greenhouse Harvest API",
    "description": "The Greenhouse Harvest API provides programmatic access to your Greenhouse recruiting data including jobs, candidates, applications, interviews, and other recruiting workflow data.",
    "version": "1.0",
    "contact": {
      "name": "Greenhouse Support",
      "url": "https://developers.greenhouse.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://harvest.greenhouse.io/v1",
      "description": "Greenhouse Harvest API v1"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/candidates": {
      "get": {
        "operationId": "listCandidates",
        "summary": "List candidates",
        "description": "List all of an organization's candidates.",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          },
          {
            "$ref": "#/components/parameters/createdBefore"
          },
          {
            "$ref": "#/components/parameters/createdAfter"
          },
          {
            "$ref": "#/components/parameters/updatedBefore"
          },
          {
            "$ref": "#/components/parameters/updatedAfter"
          },
          {
            "name": "job_id",
            "in": "query",
            "description": "Filter candidates by job ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Candidate"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addCandidate",
        "summary": "Add a candidate",
        "description": "Create a new candidate.",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "ID of the user issuing this request.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "first_name",
                  "last_name"
                ],
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "company": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "phone_numbers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "home",
                            "work",
                            "mobile",
                            "skype",
                            "other"
                          ]
                        }
                      }
                    }
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "home",
                            "work",
                            "other"
                          ]
                        }
                      }
                    }
                  },
                  "email_addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "format": "email"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "personal",
                            "work",
                            "other"
                          ]
                        }
                      }
                    }
                  },
                  "website_addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "format": "uri"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "personal",
                            "company",
                            "portfolio",
                            "blog",
                            "other"
                          ]
                        }
                      }
                    }
                  },
                  "social_media_addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "custom_fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "value": {}
                      }
                    }
                  },
                  "applications": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "job_id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Candidate created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          }
        }
      }
    },
    "/candidates/{id}": {
      "get": {
        "operationId": "getCandidate",
        "summary": "Retrieve a candidate",
        "description": "Retrieve a candidate by ID.",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "editCandidate",
        "summary": "Edit a candidate",
        "description": "Update a candidate's information.",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "ID of the user issuing this request.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "company": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "phone_numbers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "email_addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "format": "email"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "custom_fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "value": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCandidate",
        "summary": "Delete a candidate",
        "description": "Delete a candidate by ID.",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "ID of the user issuing this request.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Candidate deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candidates/{id}/activity_feed": {
      "get": {
        "operationId": "getCandidateActivityFeed",
        "summary": "Retrieve candidate activity feed",
        "description": "Retrieve the activity feed for a candidate.",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Note"
                      }
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Email"
                      }
                    },
                    "activities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Activity"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candidates/{id}/attachments": {
      "post": {
        "operationId": "addCandidateAttachment",
        "summary": "Add attachment to candidate",
        "description": "Add an attachment to a candidate.",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "filename",
                  "type"
                ],
                "properties": {
                  "filename": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "resume",
                      "cover_letter",
                      "admin_only"
                    ]
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "content": {
                    "type": "string",
                    "description": "Base64 encoded file content"
                  },
                  "content_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachment added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filename": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candidates/{id}/notes": {
      "post": {
        "operationId": "addCandidateNote",
        "summary": "Add note to candidate",
        "description": "Add a note to a candidate.",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "body": {
                    "type": "string"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "admin_only",
                      "private",
                      "public"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          }
        }
      }
    },
    "/candidates/{candidate_id}/candidate_tags/{tag_id}": {
      "put": {
        "operationId": "addTagToCandidate",
        "summary": "Add tag to candidate",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Add tag to candidate"
      },
      "delete": {
        "operationId": "removeTagFromCandidate",
        "summary": "Remove tag from candidate",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Remove tag from candidate"
      }
    },
    "/candidates/{id}/applications": {
      "post": {
        "operationId": "addApplicationToCandidate",
        "summary": "Add application to candidate",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "job_id"
                ],
                "properties": {
                  "job_id": {
                    "type": "integer"
                  },
                  "source_id": {
                    "type": "integer"
                  },
                  "referrer": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "value": {
                        "type": "integer"
                      }
                    }
                  },
                  "custom_fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "value": {}
                      }
                    }
                  },
                  "prospect_pool_id": {
                    "type": "integer"
                  },
                  "prospect_stage_id": {
                    "type": "integer"
                  },
                  "prospect_owner_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        },
        "description": "Add application to candidate"
      }
    },
    "/applications": {
      "get": {
        "operationId": "listApplications",
        "summary": "List applications",
        "description": "List all of an organization's applications.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          },
          {
            "$ref": "#/components/parameters/createdBefore"
          },
          {
            "$ref": "#/components/parameters/createdAfter"
          },
          {
            "$ref": "#/components/parameters/updatedBefore"
          },
          {
            "$ref": "#/components/parameters/updatedAfter"
          },
          {
            "name": "job_id",
            "in": "query",
            "description": "Filter by job ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by application status.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "converted",
                "hired",
                "rejected"
              ]
            }
          },
          {
            "name": "last_activity_after",
            "in": "query",
            "description": "Filter by last activity date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Application"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}": {
      "get": {
        "operationId": "getApplication",
        "summary": "Retrieve an application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        },
        "description": "Retrieve an application"
      },
      "patch": {
        "operationId": "updateApplication",
        "summary": "Update an application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_id": {
                    "type": "integer"
                  },
                  "referrer": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "value": {
                        "type": "integer"
                      }
                    }
                  },
                  "custom_fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "value": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        },
        "description": "Update an application"
      },
      "delete": {
        "operationId": "deleteApplication",
        "summary": "Delete an application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete an application"
      }
    },
    "/applications/{id}/advance": {
      "post": {
        "operationId": "advanceApplication",
        "summary": "Advance an application",
        "description": "Move an application to the next stage.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from_stage_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application advanced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/move": {
      "post": {
        "operationId": "moveApplication",
        "summary": "Move an application to a different stage",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from_stage_id",
                  "to_stage_id"
                ],
                "properties": {
                  "from_stage_id": {
                    "type": "integer"
                  },
                  "to_stage_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application moved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        },
        "description": "Move an application to a different stage"
      }
    },
    "/applications/{id}/transfer_to_job": {
      "post": {
        "operationId": "transferApplicationToJob",
        "summary": "Transfer application to a different job",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "new_job_id"
                ],
                "properties": {
                  "new_job_id": {
                    "type": "integer"
                  },
                  "new_stage_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application transferred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        },
        "description": "Transfer application to a different job"
      }
    },
    "/applications/{id}/reject": {
      "post": {
        "operationId": "rejectApplication",
        "summary": "Reject an application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rejection_reason_id": {
                    "type": "integer"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "rejection_email": {
                    "type": "object",
                    "properties": {
                      "send_email_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "email_template_id": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        },
        "description": "Reject an application"
      }
    },
    "/applications/{id}/unreject": {
      "post": {
        "operationId": "unrejectApplication",
        "summary": "Unreject an application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application unrejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        },
        "description": "Unreject an application"
      }
    },
    "/applications/{id}/hire": {
      "post": {
        "operationId": "hireApplication",
        "summary": "Hire an application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "opening_id": {
                    "type": "integer"
                  },
                  "close_reason_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application hired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        },
        "description": "Hire an application"
      }
    },
    "/jobs": {
      "get": {
        "operationId": "listJobs",
        "summary": "List jobs",
        "description": "List all of an organization's jobs.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          },
          {
            "$ref": "#/components/parameters/createdBefore"
          },
          {
            "$ref": "#/components/parameters/createdAfter"
          },
          {
            "$ref": "#/components/parameters/updatedBefore"
          },
          {
            "$ref": "#/components/parameters/updatedAfter"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by job status.",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed",
                "draft"
              ]
            }
          },
          {
            "name": "department_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "office_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Job"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createJob",
        "summary": "Create a job",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "template_job_id",
                  "number_of_openings",
                  "job_post_name",
                  "job_name",
                  "department_id",
                  "office_ids"
                ],
                "properties": {
                  "template_job_id": {
                    "type": "integer"
                  },
                  "number_of_openings": {
                    "type": "integer"
                  },
                  "job_post_name": {
                    "type": "string"
                  },
                  "job_name": {
                    "type": "string"
                  },
                  "department_id": {
                    "type": "integer"
                  },
                  "office_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "requisition_id": {
                    "type": "string"
                  },
                  "opening_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        },
        "description": "Create a job"
      }
    },
    "/jobs/{id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Retrieve a job",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        },
        "description": "Retrieve a job"
      },
      "patch": {
        "operationId": "updateJob",
        "summary": "Update a job",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "anywhere": {
                    "type": "boolean"
                  },
                  "requisition_id": {
                    "type": "string"
                  },
                  "team_and_responsibilities": {
                    "type": "string"
                  },
                  "how_to_sell_this_job": {
                    "type": "string"
                  },
                  "office_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "department_id": {
                    "type": "integer"
                  },
                  "custom_fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "value": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        },
        "description": "Update a job"
      }
    },
    "/jobs/{id}/hiring_team": {
      "get": {
        "operationId": "getJobHiringTeam",
        "summary": "Retrieve hiring team for a job",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hiring_managers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserRef"
                      }
                    },
                    "recruiters": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserRef"
                      }
                    },
                    "coordinators": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserRef"
                      }
                    },
                    "sourcers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserRef"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Retrieve hiring team for a job"
      }
    },
    "/jobs/{id}/stages": {
      "get": {
        "operationId": "listJobStagesForJob",
        "summary": "List stages for a job",
        "tags": [
          "Job Stages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobStage"
                  }
                }
              }
            }
          }
        },
        "description": "List stages for a job"
      }
    },
    "/job_stages": {
      "get": {
        "operationId": "listJobStages",
        "summary": "List job stages",
        "tags": [
          "Job Stages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          },
          {
            "$ref": "#/components/parameters/createdBefore"
          },
          {
            "$ref": "#/components/parameters/createdAfter"
          },
          {
            "$ref": "#/components/parameters/updatedBefore"
          },
          {
            "$ref": "#/components/parameters/updatedAfter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobStage"
                  }
                }
              }
            }
          }
        },
        "description": "List job stages"
      }
    },
    "/job_stages/{id}": {
      "get": {
        "operationId": "getJobStage",
        "summary": "Retrieve a job stage",
        "tags": [
          "Job Stages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStage"
                }
              }
            }
          }
        },
        "description": "Retrieve a job stage"
      }
    },
    "/job_posts": {
      "get": {
        "operationId": "listJobPosts",
        "summary": "List job posts",
        "tags": [
          "Job Posts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          },
          {
            "$ref": "#/components/parameters/createdBefore"
          },
          {
            "$ref": "#/components/parameters/createdAfter"
          },
          {
            "$ref": "#/components/parameters/updatedBefore"
          },
          {
            "$ref": "#/components/parameters/updatedAfter"
          },
          {
            "name": "live",
            "in": "query",
            "description": "Filter by live status.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobPost"
                  }
                }
              }
            }
          }
        },
        "description": "List job posts"
      }
    },
    "/job_posts/{id}": {
      "get": {
        "operationId": "getJobPost",
        "summary": "Retrieve a job post",
        "tags": [
          "Job Posts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPost"
                }
              }
            }
          }
        },
        "description": "Retrieve a job post"
      },
      "patch": {
        "operationId": "updateJobPost",
        "summary": "Update a job post",
        "tags": [
          "Job Posts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job post updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPost"
                }
              }
            }
          }
        },
        "description": "Update a job post"
      }
    },
    "/job_openings": {
      "get": {
        "operationId": "listJobOpenings",
        "summary": "List job openings",
        "tags": [
          "Job Openings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          },
          {
            "$ref": "#/components/parameters/createdBefore"
          },
          {
            "$ref": "#/components/parameters/createdAfter"
          },
          {
            "$ref": "#/components/parameters/updatedBefore"
          },
          {
            "$ref": "#/components/parameters/updatedAfter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobOpening"
                  }
                }
              }
            }
          }
        },
        "description": "List job openings"
      },
      "post": {
        "operationId": "createJobOpening",
        "summary": "Create job openings",
        "tags": [
          "Job Openings"
        ],
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "job_id"
                ],
                "properties": {
                  "job_id": {
                    "type": "integer"
                  },
                  "opening_id": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "custom_fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "value": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Opening created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOpening"
                }
              }
            }
          }
        },
        "description": "Create job openings"
      }
    },
    "/departments": {
      "get": {
        "operationId": "listDepartments",
        "summary": "List departments",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Department"
                  }
                }
              }
            }
          }
        },
        "description": "List departments"
      },
      "post": {
        "operationId": "addDepartment",
        "summary": "Add a department",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "parent_id": {
                    "type": "integer"
                  },
                  "external_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Department created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          }
        },
        "description": "Add a department"
      }
    },
    "/departments/{id}": {
      "get": {
        "operationId": "getDepartment",
        "summary": "Retrieve a department",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          }
        },
        "description": "Retrieve a department"
      },
      "patch": {
        "operationId": "editDepartment",
        "summary": "Edit a department",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "external_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Department updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          }
        },
        "description": "Edit a department"
      }
    },
    "/offices": {
      "get": {
        "operationId": "listOffices",
        "summary": "List offices",
        "tags": [
          "Offices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Office"
                  }
                }
              }
            }
          }
        },
        "description": "List offices"
      },
      "post": {
        "operationId": "addOffice",
        "summary": "Add an office",
        "tags": [
          "Offices"
        ],
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "parent_id": {
                    "type": "integer"
                  },
                  "primary_contact_user_id": {
                    "type": "integer"
                  },
                  "location": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    }
                  },
                  "external_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Office created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Office"
                }
              }
            }
          }
        },
        "description": "Add an office"
      }
    },
    "/offices/{id}": {
      "get": {
        "operationId": "getOffice",
        "summary": "Retrieve an office",
        "tags": [
          "Offices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Office"
                }
              }
            }
          }
        },
        "description": "Retrieve an office"
      },
      "patch": {
        "operationId": "editOffice",
        "summary": "Edit an office",
        "tags": [
          "Offices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "location": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    }
                  },
                  "external_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Office updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Office"
                }
              }
            }
          }
        },
        "description": "Edit an office"
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          },
          {
            "$ref": "#/components/parameters/createdBefore"
          },
          {
            "$ref": "#/components/parameters/createdAfter"
          },
          {
            "$ref": "#/components/parameters/updatedBefore"
          },
          {
            "$ref": "#/components/parameters/updatedAfter"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter by email address.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "employee_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        },
        "description": "List users"
      },
      "post": {
        "operationId": "addUser",
        "summary": "Add a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "first_name",
                  "last_name",
                  "email"
                ],
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "send_email": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "description": "Add a user"
      }
    },
    "/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Retrieve a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "description": "Retrieve a user"
      },
      "patch": {
        "operationId": "editUser",
        "summary": "Edit a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "description": "Edit a user"
      }
    },
    "/users/{id}/disable": {
      "patch": {
        "operationId": "disableUser",
        "summary": "Disable a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "description": "Disable a user"
      }
    },
    "/users/{id}/enable": {
      "patch": {
        "operationId": "enableUser",
        "summary": "Enable a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "description": "Enable a user"
      }
    },
    "/offers": {
      "get": {
        "operationId": "listOffers",
        "summary": "List offers",
        "tags": [
          "Offers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          },
          {
            "$ref": "#/components/parameters/createdBefore"
          },
          {
            "$ref": "#/components/parameters/createdAfter"
          },
          {
            "$ref": "#/components/parameters/updatedBefore"
          },
          {
            "$ref": "#/components/parameters/updatedAfter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Offer"
                  }
                }
              }
            }
          }
        },
        "description": "List offers"
      }
    },
    "/offers/{id}": {
      "get": {
        "operationId": "getOffer",
        "summary": "Retrieve an offer",
        "tags": [
          "Offers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          }
        },
        "description": "Retrieve an offer"
      }
    },
    "/applications/{id}/offers/current": {
      "get": {
        "operationId": "getCurrentOfferForApplication",
        "summary": "Retrieve current offer for an application",
        "tags": [
          "Offers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          }
        },
        "description": "Retrieve current offer for an application"
      },
      "patch": {
        "operationId": "updateCurrentOffer",
        "summary": "Update current offer for an application",
        "tags": [
          "Offers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "starts_at": {
                    "type": "string",
                    "format": "date"
                  },
                  "custom_fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "value": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Offer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          }
        },
        "description": "Update current offer for an application"
      }
    },
    "/scheduled_interviews": {
      "get": {
        "operationId": "listScheduledInterviews",
        "summary": "List scheduled interviews",
        "tags": [
          "Scheduled Interviews"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          },
          {
            "$ref": "#/components/parameters/createdBefore"
          },
          {
            "$ref": "#/components/parameters/createdAfter"
          },
          {
            "$ref": "#/components/parameters/updatedBefore"
          },
          {
            "$ref": "#/components/parameters/updatedAfter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScheduledInterview"
                  }
                }
              }
            }
          }
        },
        "description": "List scheduled interviews"
      },
      "post": {
        "operationId": "createScheduledInterview",
        "summary": "Create a scheduled interview",
        "tags": [
          "Scheduled Interviews"
        ],
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "application_id",
                  "interview_id",
                  "interviewers",
                  "start",
                  "end"
                ],
                "properties": {
                  "application_id": {
                    "type": "integer"
                  },
                  "interview_id": {
                    "type": "integer"
                  },
                  "interviewers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    }
                  },
                  "start": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "external_event_id": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Interview scheduled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledInterview"
                }
              }
            }
          }
        },
        "description": "Create a scheduled interview"
      }
    },
    "/scheduled_interviews/{id}": {
      "get": {
        "operationId": "getScheduledInterview",
        "summary": "Retrieve a scheduled interview",
        "tags": [
          "Scheduled Interviews"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledInterview"
                }
              }
            }
          }
        },
        "description": "Retrieve a scheduled interview"
      },
      "patch": {
        "operationId": "updateScheduledInterview",
        "summary": "Update a scheduled interview",
        "tags": [
          "Scheduled Interviews"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "external_event_id": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  },
                  "interviewers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Interview updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledInterview"
                }
              }
            }
          }
        },
        "description": "Update a scheduled interview"
      },
      "delete": {
        "operationId": "deleteScheduledInterview",
        "summary": "Delete a scheduled interview",
        "tags": [
          "Scheduled Interviews"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Interview deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete a scheduled interview"
      }
    },
    "/scorecards": {
      "get": {
        "operationId": "listScorecards",
        "summary": "List scorecards",
        "tags": [
          "Scorecards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          },
          {
            "$ref": "#/components/parameters/createdBefore"
          },
          {
            "$ref": "#/components/parameters/createdAfter"
          },
          {
            "$ref": "#/components/parameters/updatedBefore"
          },
          {
            "$ref": "#/components/parameters/updatedAfter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Scorecard"
                  }
                }
              }
            }
          }
        },
        "description": "List scorecards"
      }
    },
    "/scorecards/{id}": {
      "get": {
        "operationId": "getScorecard",
        "summary": "Retrieve a scorecard",
        "tags": [
          "Scorecards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scorecard"
                }
              }
            }
          }
        },
        "description": "Retrieve a scorecard"
      }
    },
    "/sources": {
      "get": {
        "operationId": "listSources",
        "summary": "List sources",
        "tags": [
          "Sources"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List sources"
      }
    },
    "/custom_fields": {
      "get": {
        "operationId": "listCustomFields",
        "summary": "List custom fields",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          },
          {
            "name": "field_type",
            "in": "query",
            "description": "Filter by field type.",
            "schema": {
              "type": "string",
              "enum": [
                "job",
                "candidate",
                "application",
                "offer",
                "opening",
                "rejection_question",
                "referral_question"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              }
            }
          }
        },
        "description": "List custom fields"
      },
      "post": {
        "operationId": "createCustomField",
        "summary": "Create a custom field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "field_type",
                  "value_type"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "field_type": {
                    "type": "string"
                  },
                  "value_type": {
                    "type": "string"
                  },
                  "private": {
                    "type": "boolean"
                  },
                  "generate_api_key": {
                    "type": "boolean"
                  },
                  "custom_field_options": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "priority": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom field created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          }
        },
        "description": "Create a custom field"
      }
    },
    "/custom_fields/{id}": {
      "get": {
        "operationId": "getCustomField",
        "summary": "Retrieve a custom field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          }
        },
        "description": "Retrieve a custom field"
      },
      "patch": {
        "operationId": "updateCustomField",
        "summary": "Update a custom field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "private": {
                    "type": "boolean"
                  },
                  "generate_api_key": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          }
        },
        "description": "Update a custom field"
      },
      "delete": {
        "operationId": "deleteCustomField",
        "summary": "Delete a custom field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete a custom field"
      }
    },
    "/rejection_reasons": {
      "get": {
        "operationId": "listRejectionReasons",
        "summary": "List rejection reasons",
        "tags": [
          "Rejection Reasons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List rejection reasons"
      }
    },
    "/close_reasons": {
      "get": {
        "operationId": "listCloseReasons",
        "summary": "List close reasons",
        "tags": [
          "Close Reasons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List close reasons"
      }
    },
    "/email_templates": {
      "get": {
        "operationId": "listEmailTemplates",
        "summary": "List email templates",
        "tags": [
          "Email Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailTemplate"
                  }
                }
              }
            }
          }
        },
        "description": "List email templates"
      }
    },
    "/email_templates/{id}": {
      "get": {
        "operationId": "getEmailTemplate",
        "summary": "Retrieve an email template",
        "tags": [
          "Email Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        },
        "description": "Retrieve an email template"
      }
    },
    "/user_roles": {
      "get": {
        "operationId": "listUserRoles",
        "summary": "List user roles",
        "tags": [
          "User Roles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List user roles"
      }
    },
    "/candidate_tags": {
      "get": {
        "operationId": "listCandidateTags",
        "summary": "List candidate tags",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/perPage"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/skipCount"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List candidate tags"
      },
      "post": {
        "operationId": "addCandidateTag",
        "summary": "Add a new candidate tag",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Add a new candidate tag"
      }
    },
    "/candidate_tags/{id}": {
      "delete": {
        "operationId": "deleteCandidateTag",
        "summary": "Delete a candidate tag",
        "tags": [
          "Tags"
        ],
[...]
