{
  "openapi": "3.0.3",
  "info": {
    "title": "ChatPDF API",
    "version": "1.0.0",
    "description": "ChatPDF Backend API allows you to upload PDF files and chat with them using AI. You can add PDFs by URL or file upload, then ask questions about the content.",
    "x-jentic-source-url": "https://www.chatpdf.com/docs/api/backend",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.chatpdf.com",
      "description": "ChatPDF API Server"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Sources",
      "description": "Manage PDF sources"
    },
    {
      "name": "Chat",
      "description": "Chat with PDF documents"
    }
  ],
  "paths": {
    "/v1/sources/add-url": {
      "post": {
        "operationId": "addSourceByUrl",
        "summary": "Add PDF by URL",
        "description": "Add a PDF file source by providing a publicly accessible URL.",
        "tags": [
          "Sources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Source added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/add-file": {
      "post": {
        "operationId": "addSourceByFile",
        "summary": "Add PDF by file upload",
        "description": "Add a PDF file source by uploading the file directly. Maximum file size is 32MB. Maximum number of pages is 2000.",
        "tags": [
          "Sources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AddFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Source added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/delete": {
      "post": {
        "operationId": "deleteSources",
        "summary": "Delete sources",
        "description": "Delete one or more PDF sources by their source IDs.",
        "tags": [
          "Sources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteSourcesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sources deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chats/message": {
      "post": {
        "operationId": "sendChatMessage",
        "summary": "Chat with a PDF",
        "description": "Send a message to chat with a PDF source. Supports conversation history via the messages array.",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication. Get your key from chatpdf.com."
      }
    },
    "schemas": {
      "AddUrlRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Publicly accessible URL of the PDF file"
          }
        }
      },
      "AddFileRequest": {
        "type": "object",
        "required": [
          "file"
        ],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "PDF file to upload (max 32MB, max 2000 pages)"
          }
        }
      },
      "AddSourceResponse": {
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string",
            "description": "Unique identifier for the added source, prefixed with 'src_'"
          }
        }
      },
      "DeleteSourcesRequest": {
        "type": "object",
        "required": [
          "sources"
        ],
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of source IDs to delete"
          }
        }
      },
      "ChatMessageRequest": {
        "type": "object",
        "required": [
          "sourceId",
          "messages"
        ],
        "properties": {
          "sourceId": {
            "type": "string",
            "description": "The source ID of the PDF to chat with"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "description": "Array of messages representing the conversation. The last message should be the user's question."
          },
          "referenceSources": {
            "type": "boolean",
            "description": "Whether to include page reference sources in the response"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "description": "The role of the message sender"
          },
          "content": {
            "type": "string",
            "description": "The content of the message"
          }
        }
      },
      "ChatMessageResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "The AI-generated response content"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message describing what went wrong"
          }
        }
      }
    }
  }
}
