{
  "openapi": "3.0.3",
  "info": {
    "title": "Kakao API",
    "description": "Kakao platform APIs including Kakao Login (OAuth), user management, KakaoTalk Social (profiles and friends), and KakaoTalk Messaging (send messages to self and friends). Korean social platform APIs.",
    "version": "2.0.0",
    "contact": {
      "name": "Kakao Developers",
      "url": "https://developers.kakao.com/"
    }
  },
  "servers": [
    {
      "url": "https://kapi.kakao.com",
      "description": "Kakao API server"
    },
    {
      "url": "https://kauth.kakao.com",
      "description": "Kakao Auth server"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/oauth/authorize": {
      "get": {
        "operationId": "authorize",
        "summary": "Request authorization code",
        "description": "Redirects the user to the Kakao login page to obtain an authorization code for the OAuth 2.0 flow.",
        "tags": [
          "Auth"
        ],
        "servers": [
          {
            "url": "https://kauth.kakao.com"
          }
        ],
        "security": [],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "description": "REST API key of the Kakao app.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "description": "Redirect URI registered in the Kakao app.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "description": "Must be 'code'.",
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Space-separated list of additional consent scopes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Random string for CSRF protection.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to Kakao login page"
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "getToken",
        "summary": "Request or refresh access token",
        "description": "Exchange an authorization code for an access token, or refresh an existing access token.",
        "tags": [
          "Auth"
        ],
        "servers": [
          {
            "url": "https://kauth.kakao.com"
          }
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "Use 'authorization_code' for initial token or 'refresh_token' to refresh.",
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "client_id": {
                    "type": "string",
                    "description": "REST API key."
                  },
                  "redirect_uri": {
                    "type": "string",
                    "description": "Redirect URI (required for authorization_code grant).",
                    "format": "uri"
                  },
                  "code": {
                    "type": "string",
                    "description": "Authorization code (required for authorization_code grant)."
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "Refresh token (required for refresh_token grant)."
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Client secret (if configured)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/tokeninfo": {
      "post": {
        "operationId": "getTokenInfo",
        "summary": "Get ID token information",
        "description": "Returns the claims from an ID token (OpenID Connect).",
        "tags": [
          "Auth"
        ],
        "servers": [
          {
            "url": "https://kauth.kakao.com"
          }
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id_token"
                ],
                "properties": {
                  "id_token": {
                    "type": "string",
                    "description": "The ID token to inspect."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ID token claims",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "iss": {
                      "type": "string"
                    },
                    "aud": {
                      "type": "string"
                    },
                    "sub": {
                      "type": "string"
                    },
                    "iat": {
                      "type": "integer"
                    },
                    "exp": {
                      "type": "integer"
                    },
                    "auth_time": {
                      "type": "integer"
                    },
                    "nickname": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/logout": {
      "get": {
        "operationId": "logoutWithKakaoAccount",
        "summary": "Logout with Kakao account",
        "description": "Logs the user out from both the app and the Kakao account session. Redirects to the specified URI after logout.",
        "tags": [
          "Auth"
        ],
        "servers": [
          {
            "url": "https://kauth.kakao.com"
          }
        ],
        "security": [],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "description": "REST API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "logout_redirect_uri",
            "in": "query",
            "required": true,
            "description": "URI to redirect to after logout.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Random string for CSRF protection.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to logout redirect URI"
          }
        }
      }
    },
    "/v1/user/logout": {
      "post": {
        "operationId": "logout",
        "summary": "Logout user",
        "description": "Expires the user's access token and refresh token, logging them out of the app.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "User ID of the logged out user."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/unlink": {
      "post": {
        "operationId": "unlinkUser",
        "summary": "Unlink (disconnect) user",
        "description": "Unlinks the user from the Kakao app, revoking all tokens and deleting the relationship.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Unlink successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "User ID of the unlinked user."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/access_token_info": {
      "get": {
        "operationId": "getAccessTokenInfo",
        "summary": "Validate access token",
        "description": "Returns information about the current access token including expiration time and associated app/user IDs.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Token info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "User ID."
                    },
                    "expiresInMillis": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Time until token expiration in milliseconds."
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Time until token expiration in seconds."
                    },
                    "app_id": {
                      "type": "integer",
                      "description": "App ID."
                    },
                    "appId": {
                      "type": "integer",
                      "description": "App ID (deprecated, use app_id)."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/user/me": {
      "get": {
        "operationId": "getUserInfo",
        "summary": "Get user information",
        "description": "Returns the profile and account information for the currently authenticated user.",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "property_keys",
            "in": "query",
            "description": "JSON array of property keys to retrieve (e.g., [\"kakao_account.email\",\"kakao_account.profile\"]).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secure_resource",
            "in": "query",
            "description": "If true, return HTTPS URLs for profile images.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KakaoUser"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "getUserInfoPost",
        "summary": "Get user information (POST)",
        "description": "Same as GET /v2/user/me but accepts parameters in the request body.",
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "property_keys": {
                    "type": "string",
                    "description": "JSON array of property keys to retrieve."
                  },
                  "secure_resource": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KakaoUser"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/talk/profile": {
      "get": {
        "operationId": "getTalkProfile",
        "summary": "Get KakaoTalk profile",
        "description": "Returns the KakaoTalk profile of the currently authenticated user, including nickname and profile image.",
        "tags": [
          "KakaoTalk Social"
        ],
        "responses": {
          "200": {
            "description": "KakaoTalk profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nickName": {
                      "type": "string",
                      "description": "KakaoTalk nickname."
                    },
                    "profileImageURL": {
                      "type": "string",
                      "format": "uri",
                      "description": "Profile image URL."
                    },
                    "thumbnailURL": {
                      "type": "string",
                      "format": "uri",
                      "description": "Thumbnail image URL."
                    },
                    "countryISO": {
                      "type": "string",
                      "description": "Country ISO code."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/talk/friends": {
      "get": {
        "operationId": "getTalkFriends",
        "summary": "Get KakaoTalk friends list",
        "description": "Returns a paginated list of the user's KakaoTalk friends who have also connected to the app.",
        "tags": [
          "KakaoTalk Social"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Starting index (default: 0).",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of friends to return (default: 10, max: 100).",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "friend_order",
            "in": "query",
            "description": "Sort criteria for friends.",
            "schema": {
              "type": "string",
              "enum": [
                "favorite",
                "nickname"
              ],
              "default": "favorite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Friends list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FriendsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/api/talk/memo/default/send": {
      "post": {
        "operationId": "sendMemoDefault",
        "summary": "Send message to self (default template)",
        "description": "Sends a KakaoTalk message to the currently authenticated user using a default template (feed, list, location, commerce, text, or calendar).",
        "tags": [
          "KakaoTalk Message"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "template_object"
                ],
                "properties": {
                  "template_object": {
                    "type": "string",
                    "description": "JSON string of the template object (feed, list, location, commerce, text, or calendar type)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/api/talk/memo/send": {
      "post": {
        "operationId": "sendMemoCustom",
        "summary": "Send message to self (custom template)",
        "description": "Sends a KakaoTalk message to the currently authenticated user using a custom template.",
        "tags": [
          "KakaoTalk Message"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "template_id"
                ],
                "properties": {
                  "template_id": {
                    "type": "string",
                    "description": "ID of the custom template."
                  },
                  "template_args": {
                    "type": "string",
                    "description": "JSON string of template arguments."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResult"
                }
              }
            }
          }
        }
      }
    },
    "/v2/api/talk/memo/scrap/send": {
      "post": {
        "operationId": "sendMemoScrap",
        "summary": "Send scrap message to self",
        "description": "Sends a KakaoTalk scrap message (URL preview) to the currently authenticated user.",
        "tags": [
          "KakaoTalk Message"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "request_url"
                ],
                "properties": {
                  "request_url": {
                    "type": "string",
                    "description": "URL to scrape and send.",
                    "format": "uri"
                  },
                  "template_id": {
                    "type": "string",
                    "description": "Optional custom template ID."
                  },
                  "template_args": {
                    "type": "string",
                    "description": "JSON string of template arguments."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/talk/friends/message/default/send": {
      "post": {
        "operationId": "sendFriendMessageDefault",
        "summary": "Send message to friends (default template)",
        "description": "Sends a KakaoTalk message to specified friends using a default template. Maximum 5 recipients per request.",
        "tags": [
          "KakaoTalk Message"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "receiver_uuids",
                  "template_object"
                ],
                "properties": {
                  "receiver_uuids": {
                    "type": "string",
                    "description": "JSON array of friend UUIDs (max 5)."
                  },
                  "template_object": {
                    "type": "string",
                    "description": "JSON string of the template object."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FriendMessageResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/talk/friends/message/send": {
      "post": {
        "operationId": "sendFriendMessageCustom",
        "summary": "Send message to friends (custom template)",
        "description": "Sends a KakaoTalk message to specified friends using a custom template. Maximum 5 recipients per request.",
        "tags": [
          "KakaoTalk Message"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "receiver_uuids",
                  "template_id"
                ],
                "properties": {
                  "receiver_uuids": {
                    "type": "string",
                    "description": "JSON array of friend UUIDs (max 5)."
                  },
                  "template_id": {
                    "type": "string",
                    "description": "ID of the custom template."
                  },
                  "template_args": {
                    "type": "string",
                    "description": "JSON string of template arguments."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FriendMessageResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api/talk/friends/message/scrap/send": {
      "post": {
        "operationId": "sendFriendMessageScrap",
        "summary": "Send scrap message to friends",
        "description": "Sends a KakaoTalk scrap message (URL preview) to specified friends. Maximum 5 recipients per request.",
        "tags": [
          "KakaoTalk Message"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "receiver_uuids",
                  "request_url"
                ],
                "properties": {
                  "receiver_uuids": {
                    "type": "string",
                    "description": "JSON array of friend UUIDs (max 5)."
                  },
                  "request_url": {
                    "type": "string",
                    "description": "URL to scrape and send.",
                    "format": "uri"
                  },
                  "template_id": {
                    "type": "string",
                    "description": "Optional custom template ID."
                  },
                  "template_args": {
                    "type": "string",
                    "description": "JSON string of template arguments."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FriendMessageResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://kauth.kakao.com/oauth/authorize",
            "tokenUrl": "https://kauth.kakao.com/oauth/token",
            "scopes": {
              "profile_nickname": "Access user's nickname",
              "profile_image": "Access user's profile image",
              "account_email": "Access user's email",
              "talk_message": "Send KakaoTalk messages",
              "friends": "Access friends list",
              "talk_chats": "Access KakaoTalk chat list"
            }
          }
        }
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "Access token."
          },
          "token_type": {
            "type": "string",
            "description": "Token type (bearer)."
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token."
          },
          "expires_in": {
            "type": "integer",
            "description": "Access token expiration time in seconds."
          },
          "refresh_token_expires_in": {
            "type": "integer",
            "description": "Refresh token expiration time in seconds."
          },
          "scope": {
            "type": "string",
            "description": "Granted scopes."
          },
          "id_token": {
            "type": "string",
            "description": "OpenID Connect ID token (if openid scope requested)."
          }
        }
      },
      "KakaoUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Kakao user ID."
          },
          "connected_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the user connected to the app."
          },
          "kakao_account": {
            "type": "object",
            "properties": {
              "profile_needs_agreement": {
                "type": "boolean"
              },
              "profile": {
                "type": "object",
                "properties": {
                  "nickname": {
                    "type": "string"
                  },
                  "thumbnail_image_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "profile_image_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "is_default_image": {
                    "type": "boolean"
                  }
                }
              },
              "email_needs_agreement": {
                "type": "boolean"
              },
              "is_email_valid": {
                "type": "boolean"
              },
              "is_email_verified": {
                "type": "boolean"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "age_range_needs_agreement": {
                "type": "boolean"
              },
              "age_range": {
                "type": "string"
              },
              "birthday_needs_agreement": {
                "type": "boolean"
              },
              "birthday": {
                "type": "string",
                "description": "Birthday in MMDD format."
              },
              "gender_needs_agreement": {
                "type": "boolean"
              },
              "gender": {
                "type": "string",
                "enum": [
                  "male",
                  "female"
                ]
              }
            }
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom user properties."
          }
        }
      },
      "Friend": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Friend's user ID."
          },
          "uuid": {
            "type": "string",
            "description": "Friend's UUID for messaging."
          },
          "favorite": {
            "type": "boolean",
            "description": "Whether the friend is a favorite."
          },
          "profile_nickname": {
            "type": "string",
            "description": "Friend's KakaoTalk nickname."
          },
          "profile_thumbnail_image": {
            "type": "string",
            "format": "uri",
            "description": "Friend's thumbnail profile image URL."
          }
        }
      },
      "FriendsResponse": {
        "type": "object",
        "properties": {
          "elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Friend"
            }
          },
          "total_count": {
            "type": "integer",
            "description": "Total number of friends."
          },
          "before_url": {
            "type": "string",
            "format": "uri",
            "description": "URL for previous page."
          },
          "after_url": {
            "type": "string",
            "format": "uri",
            "description": "URL for next page."
          },
          "favorite_count": {
            "type": "integer",
            "description": "Number of favorite friends."
          }
        }
      },
      "MessageResult": {
        "type": "object",
        "properties": {
          "result_code": {
            "type": "integer",
            "description": "Result code (0 for success)."
          }
        }
      },
      "FriendMessageResult": {
        "type": "object",
        "properties": {
          "successful_receiver_uuids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "UUIDs of recipients who received the message."
          },
          "failure_info": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "msg": {
                  "type": "string"
                },
                "receiver_uuids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "description": "Failure details for recipients who did not receive the message."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Error code."
          },
          "msg": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "KakaoTalk Message"
    },
    {
      "name": "KakaoTalk Social"
    },
    {
      "name": "User"
    }
  ]
}
