{
  "openapi": "3.0.3",
  "info": {
    "title": "Foxentry API",
    "description": "Foxentry is an autocomplete and validation tool that corrects user data errors in real-time. It provides validation and search capabilities for company, email, location, name, and phone data.",
    "version": "2.0",
    "contact": {
      "name": "Foxentry",
      "url": "https://foxentry.com"
    },
    "x-jentic-source-url": "https://foxentry.dev/"
  },
  "servers": [
    {
      "url": "https://api.foxentry.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/company/validate": {
      "post": {
        "operationId": "validateCompanyData",
        "summary": "Validate company data",
        "description": "Validates company data including name, registration number, tax number, and VAT number. Supports Czech Republic, Slovakia, and Poland.",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "description": "API version to use",
            "schema": {
              "type": "string",
              "default": "2.0"
            }
          },
          {
            "name": "foxentry-include-request-details",
            "in": "header",
            "description": "Include request details in response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyValidateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful validation response",
            "headers": {
              "foxentry-api-version": {
                "schema": {
                  "type": "string"
                }
              },
              "foxentry-daily-credits-left": {
                "schema": {
                  "type": "number"
                }
              },
              "foxentry-daily-credits-limit": {
                "schema": {
                  "type": "number"
                }
              },
              "foxentry-rate-limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "foxentry-rate-limit-period": {
                "schema": {
                  "type": "integer"
                }
              },
              "foxentry-rate-limit-remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyValidateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token"
          }
        }
      }
    },
    "/company/search": {
      "post": {
        "operationId": "searchCompany",
        "summary": "Search for companies",
        "description": "Search and autocomplete for companies based on name, registration number, or other criteria.",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "2.0"
            }
          },
          {
            "name": "foxentry-include-request-details",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/company/get": {
      "post": {
        "operationId": "getCompanyData",
        "summary": "Get company data",
        "description": "Retrieve detailed company data based on search criteria.",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "2.0"
            }
          },
          {
            "name": "foxentry-include-request-details",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with company data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyValidateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/email/validate": {
      "post": {
        "operationId": "validateEmail",
        "summary": "Validate email address",
        "description": "Validates an email address with basic or extended validation. Extended validation checks real existence and deliverability.",
        "tags": [
          "Email"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "2.0"
            }
          },
          {
            "name": "foxentry-include-request-details",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailValidateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful validation response",
            "headers": {
              "foxentry-api-version": {
                "schema": {
                  "type": "string"
                }
              },
              "foxentry-daily-credits-left": {
                "schema": {
                  "type": "number"
                }
              },
              "foxentry-daily-credits-limit": {
                "schema": {
                  "type": "number"
                }
              },
              "foxentry-rate-limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "foxentry-rate-limit-period": {
                "schema": {
                  "type": "integer"
                }
              },
              "foxentry-rate-limit-remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/email/search": {
      "post": {
        "operationId": "searchEmail",
        "summary": "Search email addresses",
        "description": "Autocomplete and search for email addresses.",
        "tags": [
          "Email"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "2.0"
            }
          },
          {
            "name": "foxentry-include-request-details",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/location/validate": {
      "post": {
        "operationId": "validateLocation",
        "summary": "Validate location data",
        "description": "Validates location data including street, city, zip code, and country.",
        "tags": [
          "Location"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "2.0"
            }
          },
          {
            "name": "foxentry-include-request-details",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationValidateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful validation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/location/search": {
      "post": {
        "operationId": "searchLocation",
        "summary": "Search locations",
        "description": "Autocomplete and search for locations.",
        "tags": [
          "Location"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "2.0"
            }
          },
          {
            "name": "foxentry-include-request-details",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/location/get": {
      "post": {
        "operationId": "getLocationData",
        "summary": "Get location data",
        "description": "Retrieve detailed location data.",
        "tags": [
          "Location"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "2.0"
            }
          },
          {
            "name": "foxentry-include-request-details",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with location data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/location/localize": {
      "post": {
        "operationId": "localizeLocation",
        "summary": "Localize a location",
        "description": "Localize a position based on GPS coordinates or IP address.",
        "tags": [
          "Location"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "2.0"
            }
          },
          {
            "name": "foxentry-include-request-details",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationLocalizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful localization response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/name/validate": {
      "post": {
        "operationId": "validateName",
        "summary": "Validate name data",
        "description": "Validates a person's name or surname.",
        "tags": [
          "Name"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "2.0"
            }
          },
          {
            "name": "foxentry-include-request-details",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NameValidateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful validation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/phone/validate": {
      "post": {
        "operationId": "validatePhoneNumber",
        "summary": "Validate phone number",
        "description": "Validates a phone number with basic or extended validation.",
        "tags": [
          "Phone"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "2.0"
            }
          },
          {
            "name": "foxentry-include-request-details",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneValidateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful validation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/phone/search": {
      "post": {
        "operationId": "searchPhonePrefix",
        "summary": "Search phone prefix",
        "description": "Search for phone number prefixes by country.",
        "tags": [
          "Phone"
        ],
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "2.0"
            }
          },
          {
            "name": "foxentry-include-request-details",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as a bearer token in the Authorization header."
      }
    },
    "schemas": {
      "ClientInfo": {
        "type": "object",
        "description": "Optional client context information for more relevant results",
        "properties": {
          "ip": {
            "type": "string",
            "format": "ipv4",
            "description": "Client IPv4 address"
          },
          "country": {
            "type": "string",
            "description": "Client country code (ISO-3166-1 alpha-2)"
          },
          "location": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "description": "Latitude"
              },
              "lon": {
                "type": "number",
                "description": "Longitude"
              }
            }
          }
        }
      },
      "ProposalEnum": {
        "type": "string",
        "enum": [
          "valid",
          "validWithSuggestion",
          "invalid",
          "invalidWithCorrection",
          "invalidWithPartialCorrection",
          "invalidWithSuggestion",
          "invalidWithCorrectionWithSuggestion"
        ]
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "group": {
            "type": "string",
            "enum": [
              "SYNTAX",
              "FORMAT",
              "VALUE"
            ]
          },
          "type": {
            "type": "string"
          },
          "subtype": {
            "type": "string",
            "nullable": true
          },
          "severity": {
            "type": "string",
            "enum": [
              "info",
              "warning",
              "critical"
            ]
          },
          "relatedTo": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          }
        }
      },
      "CompanyValidateRequest": {
        "type": "object",
        "required": [
          "request"
        ],
        "properties": {
          "request": {
            "type": "object",
            "required": [
              "query"
            ],
            "properties": {
              "customId": {
                "type": "string",
                "nullable": true
              },
              "query": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Company name"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO-3166-1 alpha-2 country code"
                  },
                  "registrationNumber": {
                    "type": "string",
                    "description": "Company registration/ID number"
                  },
                  "taxNumber": {
                    "type": "string",
                    "description": "National tax number (Slovakia only)"
                  },
                  "vatNumber": {
                    "type": "string",
                    "description": "Company VAT identification number"
                  }
                }
              },
              "options": {
                "type": "object",
                "properties": {
                  "dataScope": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "extended",
                      "full"
                    ],
                    "default": "basic"
                  },
                  "dataSource": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "CZ",
                      "SK",
                      "PL"
                    ]
                  },
                  "resultsLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 10
                  },
                  "includeTerminatedSubjects": {
                    "type": "boolean",
                    "default": false
                  },
                  "zipFormat": {
                    "type": "boolean",
                    "default": false
                  },
                  "cityFormat": {
                    "type": "string",
                    "enum": [
                      "minimal",
                      "basic",
                      "extended"
                    ],
                    "default": "basic"
                  },
                  "countryFormat": {
                    "type": "string",
                    "enum": [
                      "alpha2",
                      "alpha3",
                      "local",
                      "localShortened",
                      "international",
                      "internationalShortened"
                    ],
                    "default": "alpha2"
                  },
                  "legalFormType": {
                    "type": "string",
                    "enum": [
                      "juridical",
                      "physical",
                      "any"
                    ],
                    "default": "any"
                  },
                  "filterMode": {
                    "type": "string",
                    "enum": [
                      "limit",
                      "prefer"
                    ],
                    "default": "limit"
                  },
                  "correctionMode": {
                    "type": "string",
                    "enum": [
                      "full",
                      "format",
                      "suggestion",
                      "none"
                    ],
                    "default": "full"
                  },
                  "correctionModeCrossCountry": {
                    "type": "string",
                    "enum": [
                      "full",
                      "format",
                      "suggestion",
                      "none"
                    ],
                    "default": "format"
                  }
                }
              },
              "client": {
                "$ref": "#/components/schemas/ClientInfo"
              }
            }
          }
        }
      },
      "CompanySearchRequest": {
        "type": "object",
        "required": [
          "request"
        ],
        "properties": {
          "request": {
            "type": "object",
            "required": [
              "query"
            ],
            "properties": {
              "customId": {
                "type": "string",
                "nullable": true
              },
              "query": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "registrationNumber": {
                    "type": "string"
                  },
                  "taxNumber": {
                    "type": "string"
                  },
                  "vatNumber": {
                    "type": "string"
                  }
                }
              },
              "options": {
                "type": "object",
                "properties": {
                  "dataScope": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "extended",
                      "full"
                    ],
                    "default": "basic"
                  },
                  "dataSource": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "CZ",
                      "SK",
                      "PL"
                    ]
                  },
                  "resultsLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 10
                  },
                  "includeTerminatedSubjects": {
                    "type": "boolean",
                    "default": false
                  },
                  "zipFormat": {
                    "type": "boolean",
                    "default": false
                  },
                  "cityFormat": {
                    "type": "string",
                    "enum": [
                      "minimal",
                      "basic",
                      "extended"
                    ],
                    "default": "basic"
                  },
                  "countryFormat": {
                    "type": "string",
                    "enum": [
                      "alpha2",
                      "alpha3",
                      "local",
                      "localShortened",
                      "international",
                      "internationalShortened"
                    ],
                    "default": "alpha2"
                  },
                  "legalFormType": {
                    "type": "string",
                    "enum": [
                      "juridical",
                      "physical",
                      "any"
                    ],
                    "default": "any"
                  },
                  "filterMode": {
                    "type": "string",
                    "enum": [
                      "limit",
                      "prefer"
                    ],
                    "default": "limit"
                  },
                  "correctionMode": {
                    "type": "string",
                    "enum": [
                      "full",
                      "format",
                      "suggestion",
                      "none"
                    ],
                    "default": "full"
                  },
                  "correctionModeCrossCountry": {
                    "type": "string",
                    "enum": [
                      "full",
                      "format",
                      "suggestion",
                      "none"
                    ],
                    "default": "format"
                  }
                }
              },
              "client": {
                "$ref": "#/components/schemas/ClientInfo"
              }
            }
          }
        }
      },
      "CompanyValidateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "request": {
            "type": "object",
            "properties": {
              "endpoint": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "customId": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "response": {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "isValid": {
                    "type": "boolean"
                  },
                  "proposal": {
                    "$ref": "#/components/schemas/ProposalEnum"
                  },
                  "errors": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ValidationError"
                    }
                  },
                  "flags": {
                    "type": "object",
                    "properties": {
                      "isActive": {
                        "type": "boolean"
                      },
                      "isVatPayer": {
                        "type": "boolean"
                      },
                      "isVatSubject": {
                        "type": "boolean"
                      },
                      "isInInsolvency": {
                        "type": "boolean"
                      }
                    }
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "country": {
                        "type": "string"
                      },
                      "uuid": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "registrationNumber": {
                        "type": "string"
                      },
                      "taxNumber": {
                        "type": "string"
                      },
                      "vatNumber": {
                        "type": "string"
                      },
                      "address": {
                        "type": "object"
                      },
                      "legalForm": {
                        "type": "object"
                      },
                      "nace": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "dates": {
                        "type": "object"
                      },
                      "employees": {
                        "type": "object"
                      },
                      "authority": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "capital": {
                        "type": "object"
                      },
                      "vat": {
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "resultCorrected": {
                "type": "object",
                "nullable": true
              },
              "suggestions": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "CompanySearchResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "request": {
            "type": "object"
          },
          "response": {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "nullable": true
              },
              "resultCorrected": {
                "type": "object",
                "nullable": true
              },
              "suggestions": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "EmailValidateRequest": {
        "type": "object",
        "required": [
          "request"
        ],
        "properties": {
          "request": {
            "type": "object",
            "required": [
              "query"
            ],
            "properties": {
              "customId": {
                "type": "string",
                "nullable": true
              },
              "query": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address to validate"
                  }
                }
              },
              "options": {
                "type": "object",
                "properties": {
                  "validationType": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "extended"
                    ],
                    "default": "extended"
                  },
                  "dataScope": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "extended",
                      "full"
                    ]
                  },
                  "correctionMode": {
                    "type": "string",
                    "enum": [
                      "full",
                      "format",
                      "suggestion",
                      "none"
                    ]
                  }
                }
              },
              "client": {
                "$ref": "#/components/schemas/ClientInfo"
              }
            }
          }
        }
      },
      "EmailSearchRequest": {
        "type": "object",
        "required": [
          "request"
        ],
        "properties": {
          "request": {
            "type": "object",
            "required": [
              "query"
            ],
            "properties": {
              "customId": {
                "type": "string",
                "nullable": true
              },
              "query": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address for autocomplete"
                  }
                }
              },
              "options": {
                "type": "object",
                "properties": {
                  "dataScope": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "extended",
                      "full"
                    ],
                    "default": "basic"
                  },
                  "resultsLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 10
                  }
                }
              },
              "client": {
                "$ref": "#/components/schemas/ClientInfo"
              }
            }
          }
        }
      },
      "LocationValidateRequest": {
        "type": "object",
        "required": [
          "request"
        ],
        "properties": {
          "request": {
            "type": "object",
            "required": [
              "query"
            ],
            "properties": {
              "customId": {
                "type": "string",
                "nullable": true
              },
              "query": {
                "type": "object",
                "properties": {
                  "street": {
                    "type": "string"
                  },
                  "number": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "zip": {
                    "type": "string"
                  },
                  "region": {
                    "type": "string"
                  },
                  "district": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO-3166-1 alpha-2 code"
                  }
                }
              },
              "options": {
                "type": "object",
                "properties": {
                  "dataScope": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "extended",
                      "full"
                    ]
                  },
                  "dataSource": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "zipFormat": {
                    "type": "boolean",
                    "default": false
                  },
                  "cityFormat": {
                    "type": "string",
                    "enum": [
                      "minimal",
                      "basic",
                      "extended"
                    ],
                    "default": "basic"
                  },
                  "countryFormat": {
                    "type": "string",
                    "enum": [
                      "alpha2",
                      "alpha3",
                      "local",
                      "localShortened",
                      "international",
                      "internationalShortened"
                    ],
                    "default": "alpha2"
                  },
                  "resultsLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 10
                  }
                }
              },
              "client": {
                "$ref": "#/components/schemas/ClientInfo"
              }
            }
          }
        }
      },
      "LocationSearchRequest": {
        "type": "object",
        "required": [
          "request"
        ],
        "properties": {
          "request": {
            "type": "object",
            "required": [
              "query"
            ],
            "properties": {
              "customId": {
                "type": "string",
                "nullable": true
              },
              "query": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string"
                  },
                  "street": {
                    "type": "string"
                  },
                  "number": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "zip": {
                    "type": "string"
                  }
                }
              },
              "options": {
                "type": "object",
                "properties": {
                  "dataScope": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "extended",
                      "full"
                    ],
                    "default": "basic"
                  },
                  "dataSource": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "CZ",
                      "SK",
                      "PL"
                    ]
                  },
                  "zipFormat": {
                    "type": "boolean",
                    "default": false
                  },
                  "cityFormat": {
                    "type": "string",
                    "enum": [
                      "minimal",
                      "basic",
                      "extended"
                    ],
                    "default": "basic"
                  },
                  "countryFormat": {
                    "type": "string",
                    "enum": [
                      "alpha2",
                      "alpha3",
                      "local",
                      "localShortened",
                      "international",
                      "internationalShortened"
                    ],
                    "default": "alpha2"
                  },
                  "resultsLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 10
                  }
                }
              },
              "client": {
                "$ref": "#/components/schemas/ClientInfo"
              }
            }
          }
        }
      },
      "LocationLocalizeRequest": {
        "type": "object",
        "required": [
          "request"
        ],
        "properties": {
          "request": {
            "type": "object",
            "required": [
              "query"
            ],
            "properties": {
              "customId": {
                "type": "string",
                "nullable": true
              },
              "query": {
                "type": "object"
              },
              "options": {
                "type": "object",
                "properties": {
                  "dataScope": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "extended",
                      "full"
                    ]
                  },
                  "singleLocationResultDistance": {
                    "type": "number",
                    "description": "GPS radius for search area in meters"
                  },
                  "resultsLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 10
                  },
                  "zipFormat": {
                    "type": "boolean"
                  },
                  "cityFormat": {
                    "type": "string",
                    "enum": [
                      "minimal",
                      "basic",
                      "extended"
                    ]
                  },
                  "countryFormat": {
                    "type": "string",
                    "enum": [
                      "alpha2",
                      "alpha3",
                      "local",
                      "localShortened",
                      "international",
                      "internationalShortened"
                    ]
                  }
                }
              },
              "client": {
                "$ref": "#/components/schemas/ClientInfo"
              }
            }
          }
        }
      },
      "NameValidateRequest": {
        "type": "object",
        "required": [
          "request"
        ],
        "properties": {
          "request": {
            "type": "object",
            "required": [
              "query"
            ],
            "properties": {
              "customId": {
                "type": "string",
                "nullable": true
              },
              "query": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Individual name"
                  },
                  "surname": {
                    "type": "string",
                    "description": "Family name"
                  },
                  "nameSurname": {
                    "type": "string",
                    "description": "Combined name and surname"
                  }
                }
              },
              "options": {
                "type": "object",
                "properties": {
                  "dataScope": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "extended",
                      "full"
                    ],
                    "default": "basic"
                  },
                  "validationDepth": {
                    "type": "string",
                    "description": "Controls validation strictness level"
                  },
                  "correctionMode": {
                    "type": "string",
                    "enum": [
                      "full",
                      "format",
                      "suggestion",
                      "none"
                    ],
                    "default": "full"
                  }
                }
              },
              "client": {
                "$ref": "#/components/schemas/ClientInfo"
              }
            }
          }
        }
      },
      "PhoneValidateRequest": {
        "type": "object",
        "required": [
          "request"
        ],
        "properties": {
          "request": {
            "type": "object",
            "required": [
              "query"
            ],
            "properties": {
              "customId": {
                "type": "string",
                "nullable": true
              },
              "query": {
                "type": "object",
                "properties": {
                  "numberWithPrefix": {
                    "type": "string",
                    "description": "Phone number with country prefix"
                  },
                  "numberWithoutPrefix": {
                    "type": "string",
                    "description": "Phone number without prefix"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO-3166-1 alpha-2 country code"
                  }
                }
              },
              "options": {
                "type": "object",
                "properties": {
                  "validationType": {
                    "type": "string",
                    "description": "Type of validation to perform"
                  },
                  "formatNumber": {
                    "type": "string",
                    "description": "Defines valid number format"
                  },
                  "dataSource": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "correctionMode": {
                    "type": "string",
                    "enum": [
                      "full",
                      "format",
                      "suggestion",
                      "none"
                    ]
                  }
                }
              },
              "client": {
                "$ref": "#/components/schemas/ClientInfo"
              }
            }
          }
        }
      },
      "PhoneSearchRequest": {
        "type": "object",
        "required": [
          "request"
        ],
        "properties": {
          "request": {
            "type": "object",
            "required": [
              "query"
            ],
            "properties": {
              "customId": {
                "type": "string",
                "nullable": true
              },
              "query": {
                "type": "object",
                "properties": {
                  "numberWithPrefix": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              },
              "options": {
                "type": "object",
                "properties": {
                  "dataScope": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "extended"
                    ],
                    "default": "basic"
                  },
                  "resultsLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 10
                  }
                }
              },
              "client": {
                "$ref": "#/components/schemas/ClientInfo"
              }
            }
          }
        }
      },
      "ValidationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "request": {
            "type": "object",
            "properties": {
              "endpoint": {
                "type": "string"
              },
              "code": {
                "type": "string",
                "description": "Unique request code"
              },
              "customId": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "response": {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "isValid": {
                    "type": "boolean",
                    "nullable": true
                  },
                  "proposal": {
                    "$ref": "#/components/schemas/ProposalEnum"
                  },
                  "errors": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ValidationError"
                    }
                  },
                  "data": {
                    "type": "object",
                    "description": "Validated data fields specific to the endpoint"
                  }
                }
              },
              "resultCorrected": {
                "type": "object",
                "nullable": true,
                "description": "Corrected data with applied fixes"
              },
              "suggestions": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Alternative result suggestions"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Company",
      "description": "Company validation, search, and data retrieval"
    },
    {
      "name": "Email",
      "description": "Email validation and search"
    },
    {
      "name": "Location",
      "description": "Location validation, search, data retrieval, and localization"
    },
    {
      "name": "Name",
      "description": "Name validation"
    },
    {
      "name": "Phone",
      "description": "Phone number validation and prefix search"
    }
  ]
}