{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "adminmanagement.local.azurestack.external",
  "info": {
    "description": "The Admin Compute Disk Management Client.",
    "title": "ComputeDiskAdminManagementClient",
    "version": "2018-07-30-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2018-07-30-preview/DiskMigrationJobs.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azsadmin-DiskMigrationJobs",
    "x-tags": [
      "Azure",
      "Microsoft"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/azsadmin-DiskMigrationJobs/2018-07-30-preview/swagger.yaml"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "DiskListParameter": {
      "description": "The parameters of disk list.",
      "in": "body",
      "name": "disks",
      "required": true,
      "schema": {
        "description": "List of disks.",
        "items": {
          "allOf": [
            {
              "description": "Base resource object.",
              "properties": {
                "id": {
                  "description": "ID of the resource.",
                  "readOnly": true,
                  "type": "string"
                },
                "location": {
                  "description": "Location of the resource.",
                  "type": "string"
                },
                "name": {
                  "description": "Name of the resource.",
                  "readOnly": true,
                  "type": "string"
                },
                "type": {
                  "description": "Type of Resource.",
                  "readOnly": true,
                  "type": "string"
                }
              },
              "type": "object",
              "x-ms-azure-resource": true
            }
          ],
          "description": "Managed Disk.",
          "properties": {
            "properties": {
              "description": "Managed disk properties.",
              "properties": {
                "actualSizeGB": {
                  "description": "The actual size of disk in GB.",
                  "format": "int64",
                  "readOnly": true,
                  "type": "integer"
                },
                "diskId": {
                  "description": "The disk id.",
                  "type": "string"
                },
                "diskSku": {
                  "description": "Disk Sku.",
                  "enum": [
                    "Standard_LRS",
                    "Standard_ZRS",
                    "Standard_GRS",
                    "Standard_RAGRS",
                    "Premium_LRS",
                    "StandardSSD_LRS",
                    "UltraSSD_LRS"
                  ],
                  "type": "string",
                  "x-ms-enum": {
                    "modelAsString": true,
                    "name": "AccountType"
                  }
                },
                "diskType": {
                  "description": "Disk resource type.",
                  "enum": [
                    "Undefined",
                    "Disk",
                    "Snapshot",
                    "RestorePoint",
                    "ManagedBlob"
                  ],
                  "type": "string",
                  "x-ms-enum": {
                    "modelAsString": true,
                    "name": "DiskResourceType"
                  }
                },
                "managedBy": {
                  "description": "Compute resource Uri which owns this disk.",
                  "readOnly": true,
                  "type": "string"
                },
                "provisionSizeGB": {
                  "description": "The provision size of disk in GB.",
                  "format": "int64",
                  "readOnly": true,
                  "type": "integer"
                },
                "sharePath": {
                  "description": "The disk share path.",
                  "type": "string"
                },
                "status": {
                  "description": "Disk State.",
                  "enum": [
                    "Undefined",
                    "Unattached",
                    "Attached",
                    "Reserved",
                    "ActiveSAS",
                    "Unknown",
                    "All",
                    "Recommended",
                    "OfflineMigration",
                    "OnlineMigration"
                  ],
                  "type": "string",
                  "x-ms-enum": {
                    "modelAsString": true,
                    "name": "DiskState"
                  }
                },
                "userResourceId": {
                  "description": "The disk resource Uri from user view.",
                  "readOnly": true,
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "type": "array"
      },
      "x-ms-parameter-location": "method"
    },
    "MigrationIdParameter": {
      "description": "The migration job guid name.",
      "in": "path",
      "name": "migrationId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "MigrationJobStatusParameter": {
      "description": "The parameters of disk migration job status.",
      "in": "query",
      "name": "status",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "TargetShareParameter": {
      "description": "The target share name.",
      "in": "query",
      "name": "targetShare",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/diskmigrationjobs": {
      "get": {
        "description": "Returns a list of disk migration jobs.",
        "operationId": "DiskMigrationJobs_List",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Location of the resource.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The parameters of disk migration job status.",
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2018-07-30-preview",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- The list of disk migration jobs has been returned.",
            "schema": {
              "description": "List of disk migration jobs.",
              "properties": {
                "nextLink": {
                  "description": "URI to the next page.",
                  "type": "string"
                },
                "value": {
                  "description": "List of disk migration jobs.",
                  "items": {
                    "allOf": [
                      {
                        "description": "Base resource object.",
                        "properties": {
                          "id": {
                            "description": "ID of the resource.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "location": {
                            "description": "Location of the resource.",
                            "type": "string"
                          },
                          "name": {
                            "description": "Name of the resource.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "type": {
                            "description": "Type of Resource.",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "x-ms-azure-resource": true
                      }
                    ],
                    "description": "Disk migration job.",
                    "properties": {
                      "properties": {
                        "description": "Disk migration job properties.",
                        "properties": {
                          "creationTime": {
                            "description": "The job creation time.",
                            "format": "date-time",
                            "readOnly": true,
                            "type": "string"
                          },
                          "endTime": {
                            "description": "The job end time.",
                            "format": "date-time",
                            "readOnly": true,
                            "type": "string"
                          },
                          "migrationId": {
                            "description": "The disk migration id.",
                            "type": "string"
                          },
                          "startTime": {
                            "description": "The job start time.",
                            "format": "date-time",
                            "readOnly": true,
                            "type": "string"
                          },
                          "status": {
                            "description": "Migration job status.",
                            "enum": [
                              "Undefined",
                              "Running",
                              "Succeeded",
                              "Failed",
                              "Canceled",
                              "Pending"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "MigrationJobStatus"
                            }
                          },
                          "subtasks": {
                            "description": "List of disk migration tasks.",
                            "items": {
                              "description": "Disk migration child task.",
                              "properties": {
                                "migrationSubTaskId": {
                                  "description": "The id of migration child task.",
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "properties": {
                                  "description": "Disk migration child task properties.",
                                  "properties": {
                                    "diskId": {
                                      "description": "The id of disk.",
                                      "readOnly": true,
                                      "type": "string"
                                    },
                                    "endTime": {
                                      "description": "The task end time.",
                                      "format": "date-time",
                                      "readOnly": true,
                                      "type": "string"
                                    },
                                    "migrationSubtaskStatus": {
                                      "description": "Migration child task status.",
                                      "enum": [
                                        "Undefined",
                                        "Running",
                                        "Succeeded",
                                        "Failed",
                                        "Canceled",
                                        "Pending",
                                        "Skipped"
                                      ],
                                      "type": "string",
                                      "x-ms-enum": {
                                        "modelAsString": true,
                                        "name": "MigrationSubTaskStatus"
                                      }
                                    },
                                    "reason": {
                                      "description": "The reason of task failure.",
                                      "readOnly": true,
                                      "type": "string"
                                    },
                                    "sourceShare": {
                                      "description": "The source share of migration task.",
                                      "readOnly": true,
                                      "type": "string"
                                    },
                                    "startTime": {
                                      "description": "The task start time.",
                                      "format": "date-time",
                                      "readOnly": true,
                                      "type": "string"
                                    },
                                    "targetDiskStateForMigration": {
                                      "description": "Disk State.",
                                      "enum": [
                                        "Undefined",
                                        "Unattached",
                                        "Attached",
                                        "Reserved",
                                        "ActiveSAS",
                                        "Unknown",
                                        "All",
                                        "Recommended",
                                        "OfflineMigration",
                                        "OnlineMigration"
                                      ],
                                      "type": "string",
                                      "x-ms-enum": {
                                        "modelAsString": true,
                                        "name": "DiskState"
                                      }
                                    },
                                    "targetShare": {
                                      "description": "The target share of migration task.",
                                      "readOnly": true,
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "targetShare": {
                            "description": "The target share of migration job.",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "DiskMigrationJobs"
        ],
        "x-ms-examples": {
          "Returns a list of disk migration jobs.": {
            "parameters": {
              "api-version": "2018-07-30-preview",
              "location": "redmond",
              "subscriptionId": "04666444-56f0-4d4f-afc5-dbd6b134b084"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/04666444-56f0-4d4f-afc5-dbd6b134b084/providers/Microsoft.Compute.Admin/locations/redmond/diskmigrationjobs/0050e481-63cd-4ad1-9c49-b8cbb992b75e",
                      "location": "redmond",
                      "name": "redmond/0050e481-63cd-4ad1-9c49-b8cbb992b75e",
                      "properties": {
                        "creationTime": "2018-05-17 09:29:36.035149+00:00",
                        "endTime": "2018-05-17 09:31:06.618795+00:00",
                        "migrationId": "0050e481-63cd-4ad1-9c49-b8cbb992b75e",
                        "startTime": "2018-05-17 09:29:36.097656+00:00",
                        "status": "Succeeded",
                        "subtasks": [
                          {
                            "migrationSubTaskId": "607d1e44-48f5-418e-a263-ec60fb35d285",
                            "properties": {
                              "diskId": "5018f340-c41b-4e82-a553-248431c4df64",
                              "endTime": "2018-05-17 09:30:16.356682+00:00",
                              "migrationSubtaskStatus": "Succeeded",
                              "sourceShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_2",
                              "startTime": "2018-05-17 09:29:36.129031+00:00",
                              "targetDiskStateForMigration": "Unattached",
                              "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_2"
                            }
                          },
                          {
                            "migrationSubTaskId": "cfe7b95e-d45c-4515-af2a-3a889e70559a",
                            "properties": {
                              "diskId": "4d9c7dd9-50ea-473d-87be-f7a57acd8aae",
                              "endTime": "2018-05-17 09:30:56.594526+00:00",
                              "migrationSubtaskStatus": "Succeeded",
                              "sourceShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_4",
                              "startTime": "2018-05-17 09:30:16.372311+00:00",
                              "targetDiskStateForMigration": "Unattached",
                              "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_2"
                            }
                          }
                        ],
                        "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_2"
                      },
                      "type": "Microsoft.Compute.Admin/locations/diskmigrationjobs"
                    },
                    {
                      "id": "/subscriptions/04666444-56f0-4d4f-afc5-dbd6b134b084/providers/Microsoft.Compute.Admin/locations/redmond/diskmigrationjobs/9fbb98b2-fe81-449a-9d71-61bccb0d0489",
                      "location": "redmond",
                      "name": "redmond/9fbb98b2-fe81-449a-9d71-61bccb0d0489",
                      "properties": {
                        "creationTime": "2018-05-18 02:18:49.097885+00:00",
                        "endTime": "2018-05-18 02:20:19.782373+00:00",
                        "migrationId": "9fbb98b2-fe81-449a-9d71-61bccb0d0489",
                        "startTime": "2018-05-18 02:18:49.128658+00:00",
                        "status": "Succeeded",
                        "subtasks": [
                          {
                            "migrationSubTaskId": "5a76680f-3788-492c-9840-ffb4c9f95729",
                            "properties": {
                              "diskId": "48dc9b56-5883-4011-9dc3-0e527f33e6ab",
                              "endTime": "2018-05-18 02:19:29.494862+00:00",
                              "migrationSubtaskStatus": "Succeeded",
                              "sourceShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_1",
                              "startTime": "2018-05-18 02:18:49.144279+00:00",
                              "targetDiskStateForMigration": "Unattached",
                              "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_2"
                            }
                          },
                          {
                            "migrationSubTaskId": "c302a235-9e8c-431d-8a5e-8b1fc984b7ab",
                            "properties": {
                              "diskId": "423e4eb4-f791-4d13-ad5b-4d415733b0d6",
                              "endTime": "2018-05-18 02:20:09.726331+00:00",
                              "migrationSubtaskStatus": "Succeeded",
                              "sourceShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_1",
                              "startTime": "2018-05-18 02:19:29.510477+00:00",
                              "targetDiskStateForMigration": "Unattached",
                              "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_2"
                            }
                          }
                        ],
                        "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_2"
                      },
                      "type": "Microsoft.Compute.Admin/locations/diskmigrationjobs"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/diskmigrationjobs/{migrationId}": {
      "get": {
        "description": "Returns the requested disk migration job.",
        "operationId": "DiskMigrationJobs_Get",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Location of the resource.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The migration job guid name.",
            "in": "path",
            "name": "migrationId",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2018-07-30-preview",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- The disk migration job has been returned.",
            "schema": {
              "allOf": [
                {
                  "description": "Base resource object.",
                  "properties": {
                    "id": {
                      "description": "ID of the resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "Location of the resource.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "Type of Resource.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-ms-azure-resource": true
                }
              ],
              "description": "Disk migration job.",
              "properties": {
                "properties": {
                  "description": "Disk migration job properties.",
                  "properties": {
                    "creationTime": {
                      "description": "The job creation time.",
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "endTime": {
                      "description": "The job end time.",
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "migrationId": {
                      "description": "The disk migration id.",
                      "type": "string"
                    },
                    "startTime": {
                      "description": "The job start time.",
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "status": {
                      "description": "Migration job status.",
                      "enum": [
                        "Undefined",
                        "Running",
                        "Succeeded",
                        "Failed",
                        "Canceled",
                        "Pending"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "MigrationJobStatus"
                      }
                    },
                    "subtasks": {
                      "description": "List of disk migration tasks.",
                      "items": {
                        "description": "Disk migration child task.",
                        "properties": {
                          "migrationSubTaskId": {
                            "description": "The id of migration child task.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "properties": {
                            "description": "Disk migration child task properties.",
                            "properties": {
                              "diskId": {
                                "description": "The id of disk.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "endTime": {
                                "description": "The task end time.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string"
                              },
                              "migrationSubtaskStatus": {
                                "description": "Migration child task status.",
                                "enum": [
                                  "Undefined",
                                  "Running",
                                  "Succeeded",
                                  "Failed",
                                  "Canceled",
                                  "Pending",
                                  "Skipped"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "MigrationSubTaskStatus"
                                }
                              },
                              "reason": {
                                "description": "The reason of task failure.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "sourceShare": {
                                "description": "The source share of migration task.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "startTime": {
                                "description": "The task start time.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string"
                              },
                              "targetDiskStateForMigration": {
                                "description": "Disk State.",
                                "enum": [
                                  "Undefined",
                                  "Unattached",
                                  "Attached",
                                  "Reserved",
                                  "ActiveSAS",
                                  "Unknown",
                                  "All",
                                  "Recommended",
                                  "OfflineMigration",
                                  "OnlineMigration"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "DiskState"
                                }
                              },
                              "targetShare": {
                                "description": "The target share of migration task.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "targetShare": {
                      "description": "The target share of migration job.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "DiskMigrationJobs"
        ],
        "x-ms-examples": {
          "Returns the requested disk migration job.": {
            "parameters": {
              "api-version": "2018-07-30-preview",
              "location": "redmond",
              "migrationId": "ec9f79cf-e4d7-4d37-926a-e69c2198be8a",
              "subscriptionId": "04666444-56f0-4d4f-afc5-dbd6b134b084"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/04666444-56f0-4d4f-afc5-dbd6b134b084/providers/Microsoft.Compute.Admin/locations/redmond/diskmigrationjobs/ec9f79cf-e4d7-4d37-926a-e69c2198be8a",
                  "location": "redmond",
                  "name": "redmond/ec9f79cf-e4d7-4d37-926a-e69c2198be8a",
                  "properties": {
                    "creationTime": "2018-05-17 08:26:54.477727+00:00",
                    "endTime": "0001-01-01 08:00:00+00:00",
                    "migrationId": "ec9f79cf-e4d7-4d37-926a-e69c2198be8a",
                    "startTime": "2018-05-17 08:26:54.540209+00:00",
                    "status": "Running",
                    "subtasks": [
                      {
                        "migrationSubTaskId": "726dff1c-e765-44c6-b16d-f66f2c28e730",
                        "properties": {
                          "diskId": "423e4eb4-f791-4d13-ad5b-4d415733b0d6",
                          "endTime": "2018-05-17 08:27:35.055925+00:00",
                          "migrationSubtaskStatus": "Succeeded",
                          "sourceShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_4",
                          "startTime": "2018-05-17 08:26:54.571460+00:00",
                          "targetDiskStateForMigration": "Unattached",
                          "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_1"
                        }
                      },
                      {
                        "migrationSubTaskId": "d6ab496c-4a76-474f-9ee2-9031053f06e8",
                        "properties": {
                          "diskId": "48dc9b56-5883-4011-9dc3-0e527f33e6ab",
                          "endTime": "0001-01-01 08:00:00+00:00",
                          "migrationSubtaskStatus": "Running",
                          "sourceShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_2",
                          "startTime": "2018-05-17 08:27:35.087177+00:00",
                          "targetDiskStateForMigration": "Unattached",
                          "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_1"
                        }
                      }
                    ],
                    "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_1"
                  },
                  "type": "Microsoft.Compute.Admin/locations/diskmigrationjobs"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Create a disk migration job.",
        "operationId": "DiskMigrationJobs_Create",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Location of the resource.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The migration job guid name.",
            "in": "path",
            "name": "migrationId",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The target share name.",
            "in": "query",
            "name": "targetShare",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The parameters of disk list.",
            "in": "body",
            "name": "disks",
            "required": true,
            "schema": {
              "description": "List of disks.",
              "items": {
                "allOf": [
                  {
                    "description": "Base resource object.",
                    "properties": {
                      "id": {
                        "description": "ID of the resource.",
                        "readOnly": true,
                        "type": "string"
                      },
                      "location": {
                        "description": "Location of the resource.",
                        "type": "string"
                      },
                      "name": {
                        "description": "Name of the resource.",
                        "readOnly": true,
                        "type": "string"
                      },
                      "type": {
                        "description": "Type of Resource.",
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "type": "object",
                    "x-ms-azure-resource": true
                  }
                ],
                "description": "Managed Disk.",
                "properties": {
                  "properties": {
                    "description": "Managed disk properties.",
                    "properties": {
                      "actualSizeGB": {
                        "description": "The actual size of disk in GB.",
                        "format": "int64",
                        "readOnly": true,
                        "type": "integer"
                      },
                      "diskId": {
                        "description": "The disk id.",
                        "type": "string"
                      },
                      "diskSku": {
                        "description": "Disk Sku.",
                        "enum": [
                          "Standard_LRS",
                          "Standard_ZRS",
                          "Standard_GRS",
                          "Standard_RAGRS",
                          "Premium_LRS",
                          "StandardSSD_LRS",
                          "UltraSSD_LRS"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": true,
                          "name": "AccountType"
                        }
                      },
                      "diskType": {
                        "description": "Disk resource type.",
                        "enum": [
                          "Undefined",
                          "Disk",
                          "Snapshot",
                          "RestorePoint",
                          "ManagedBlob"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": true,
                          "name": "DiskResourceType"
                        }
                      },
                      "managedBy": {
                        "description": "Compute resource Uri which owns this disk.",
                        "readOnly": true,
                        "type": "string"
                      },
                      "provisionSizeGB": {
                        "description": "The provision size of disk in GB.",
                        "format": "int64",
                        "readOnly": true,
                        "type": "integer"
                      },
                      "sharePath": {
                        "description": "The disk share path.",
                        "type": "string"
                      },
                      "status": {
                        "description": "Disk State.",
                        "enum": [
                          "Undefined",
                          "Unattached",
                          "Attached",
                          "Reserved",
                          "ActiveSAS",
                          "Unknown",
                          "All",
                          "Recommended",
                          "OfflineMigration",
                          "OnlineMigration"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": true,
                          "name": "DiskState"
                        }
                      },
                      "userResourceId": {
                        "description": "The disk resource Uri from user view.",
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2018-07-30-preview",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK --  Disk migration job is created successfully.",
            "schema": {
              "allOf": [
                {
                  "description": "Base resource object.",
                  "properties": {
                    "id": {
                      "description": "ID of the resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "Location of the resource.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "Type of Resource.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-ms-azure-resource": true
                }
              ],
              "description": "Disk migration job.",
              "properties": {
                "properties": {
                  "description": "Disk migration job properties.",
                  "properties": {
                    "creationTime": {
                      "description": "The job creation time.",
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "endTime": {
                      "description": "The job end time.",
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "migrationId": {
                      "description": "The disk migration id.",
                      "type": "string"
                    },
                    "startTime": {
                      "description": "The job start time.",
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "status": {
                      "description": "Migration job status.",
                      "enum": [
                        "Undefined",
                        "Running",
                        "Succeeded",
                        "Failed",
                        "Canceled",
                        "Pending"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "MigrationJobStatus"
                      }
                    },
                    "subtasks": {
                      "description": "List of disk migration tasks.",
                      "items": {
                        "description": "Disk migration child task.",
                        "properties": {
                          "migrationSubTaskId": {
                            "description": "The id of migration child task.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "properties": {
                            "description": "Disk migration child task properties.",
                            "properties": {
                              "diskId": {
                                "description": "The id of disk.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "endTime": {
                                "description": "The task end time.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string"
                              },
                              "migrationSubtaskStatus": {
                                "description": "Migration child task status.",
                                "enum": [
                                  "Undefined",
                                  "Running",
                                  "Succeeded",
                                  "Failed",
                                  "Canceled",
                                  "Pending",
                                  "Skipped"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "MigrationSubTaskStatus"
                                }
                              },
                              "reason": {
                                "description": "The reason of task failure.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "sourceShare": {
                                "description": "The source share of migration task.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "startTime": {
                                "description": "The task start time.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string"
                              },
                              "targetDiskStateForMigration": {
                                "description": "Disk State.",
                                "enum": [
                                  "Undefined",
                                  "Unattached",
                                  "Attached",
                                  "Reserved",
                                  "ActiveSAS",
                                  "Unknown",
                                  "All",
                                  "Recommended",
                                  "OfflineMigration",
                                  "OnlineMigration"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "DiskState"
                                }
                              },
                              "targetShare": {
                                "description": "The target share of migration task.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "targetShare": {
                      "description": "The target share of migration job.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "DiskMigrationJobs"
        ],
        "x-ms-examples": {
          "Create a disk migration job.": {
            "parameters": {
              "api-version": "2018-07-30-preview",
              "disks": [
                {
                  "id": "/subscriptions/04666444-56f0-4d4f-afc5-dbd6b134b084/providers/Microsoft.Compute.Admin/locations/redmond/disks/423e4eb4-f791-4d13-ad5b-4d415733b0d6",
                  "location": "redmond",
                  "name": "redmond/423e4eb4-f791-4d13-ad5b-4d415733b0d6",
                  "properties": {
                    "diskId": "423e4eb4-f791-4d13-ad5b-4d415733b0d6",
                    "sharePath": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_4",
                    "status": "Unattached"
                  },
                  "type": "Microsoft.Compute.Admin/locations/disks"
                },
                {
                  "id": "/subscriptions/04666444-56f0-4d4f-afc5-dbd6b134b084/providers/Microsoft.Compute.Admin/locations/redmond/disks/48dc9b56-5883-4011-9dc3-0e527f33e6ab",
                  "location": "redmond",
                  "name": "redmond/48dc9b56-5883-4011-9dc3-0e527f33e6ab",
                  "properties": {
                    "diskId": "48dc9b56-5883-4011-9dc3-0e527f33e6ab",
                    "sharePath": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_2",
                    "status": "Unattached"
                  },
                  "type": "Microsoft.Compute.Admin/locations/disks"
                }
              ],
              "location": "redmond",
              "migrationId": "ec9f79cf-e4d7-4d37-926a-e69c2198be8a",
              "subscriptionId": "04666444-56f0-4d4f-afc5-dbd6b134b084",
              "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_1"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/04666444-56f0-4d4f-afc5-dbd6b134b084/providers/Microsoft.Compute.Admin/locations/redmond/diskmigrationjobs/ec9f79cf-e4d7-4d37-926a-e69c2198be8a",
                  "location": "redmond",
                  "name": "redmond/ec9f79cf-e4d7-4d37-926a-e69c2198be8a",
                  "properties": {
                    "creationTime": "2018-05-17 08:26:54.477727+00:00",
                    "endTime": "0001-01-01 08:00:00+00:00",
                    "migrationId": "ec9f79cf-e4d7-4d37-926a-e69c2198be8a",
                    "startTime": "0001-01-01 08:00:00+00:00",
                    "status": "Pending",
                    "subtasks": [
                      {
                        "migrationSubTaskId": "726dff1c-e765-44c6-b16d-f66f2c28e730",
                        "properties": {
                          "diskId": "423e4eb4-f791-4d13-ad5b-4d415733b0d6",
                          "endTime": "0001-01-01 08:00:00+00:00",
                          "migrationSubtaskStatus": "Pending",
                          "sourceShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_4",
                          "startTime": "0001-01-01 08:00:00+00:00",
                          "targetDiskStateForMigration": "Unattached",
                          "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_1"
                        }
                      },
                      {
                        "migrationSubTaskId": "d6ab496c-4a76-474f-9ee2-9031053f06e8",
                        "properties": {
                          "diskId": "48dc9b56-5883-4011-9dc3-0e527f33e6ab",
                          "endTime": "0001-01-01 08:00:00+00:00",
                          "migrationSubtaskStatus": "Pending",
                          "sourceShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_2",
                          "startTime": "0001-01-01 08:00:00+00:00",
                          "targetDiskStateForMigration": "Unattached",
                          "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_1"
                        }
                      }
                    ],
                    "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_1"
                  },
                  "type": "Microsoft.Compute.Admin/locations/diskmigrationjobs"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/diskmigrationjobs/{migrationId}/Cancel": {
      "post": {
        "description": "Cancel a disk migration job.",
        "operationId": "DiskMigrationJobs_Cancel",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Location of the resource.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The migration job guid name.",
            "in": "path",
            "name": "migrationId",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2018-07-30-preview",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK --  Disk migration job cancellation is called.",
            "schema": {
              "allOf": [
                {
                  "description": "Base resource object.",
                  "properties": {
                    "id": {
                      "description": "ID of the resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "Location of the resource.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Name of the resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "Type of Resource.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-ms-azure-resource": true
                }
              ],
              "description": "Disk migration job.",
              "properties": {
                "properties": {
                  "description": "Disk migration job properties.",
                  "properties": {
                    "creationTime": {
                      "description": "The job creation time.",
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "endTime": {
                      "description": "The job end time.",
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "migrationId": {
                      "description": "The disk migration id.",
                      "type": "string"
                    },
                    "startTime": {
                      "description": "The job start time.",
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "status": {
                      "description": "Migration job status.",
                      "enum": [
                        "Undefined",
                        "Running",
                        "Succeeded",
                        "Failed",
                        "Canceled",
                        "Pending"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "MigrationJobStatus"
                      }
                    },
                    "subtasks": {
                      "description": "List of disk migration tasks.",
                      "items": {
                        "description": "Disk migration child task.",
                        "properties": {
                          "migrationSubTaskId": {
                            "description": "The id of migration child task.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "properties": {
                            "description": "Disk migration child task properties.",
                            "properties": {
                              "diskId": {
                                "description": "The id of disk.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "endTime": {
                                "description": "The task end time.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string"
                              },
                              "migrationSubtaskStatus": {
                                "description": "Migration child task status.",
                                "enum": [
                                  "Undefined",
                                  "Running",
                                  "Succeeded",
                                  "Failed",
                                  "Canceled",
                                  "Pending",
                                  "Skipped"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "MigrationSubTaskStatus"
                                }
                              },
                              "reason": {
                                "description": "The reason of task failure.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "sourceShare": {
                                "description": "The source share of migration task.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "startTime": {
                                "description": "The task start time.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string"
                              },
                              "targetDiskStateForMigration": {
                                "description": "Disk State.",
                                "enum": [
                                  "Undefined",
                                  "Unattached",
                                  "Attached",
                                  "Reserved",
                                  "ActiveSAS",
                                  "Unknown",
                                  "All",
                                  "Recommended",
                                  "OfflineMigration",
                                  "OnlineMigration"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "DiskState"
                                }
                              },
                              "targetShare": {
                                "description": "The target share of migration task.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "targetShare": {
                      "description": "The target share of migration job.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "DiskMigrationJobs"
        ],
        "x-ms-examples": {
          "Cancel a disk migration job.": {
            "parameters": {
              "api-version": "2018-07-30-preview",
              "location": "redmond",
              "migrationId": "ec9f79cf-e4d7-4d37-926a-e69c2198be8a",
              "subscriptionId": "04666444-56f0-4d4f-afc5-dbd6b134b084"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/04666444-56f0-4d4f-afc5-dbd6b134b084/providers/Microsoft.Compute.Admin/locations/redmond/diskmigrationjobs/ec9f79cf-e4d7-4d37-926a-e69c2198be8a",
                  "location": "redmond",
                  "name": "redmond/ec9f79cf-e4d7-4d37-926a-e69c2198be8a",
                  "properties": {
                    "creationTime": "2018-05-17 08:26:54.477727+00:00",
                    "endTime": "0001-01-01 08:00:00+00:00",
                    "migrationId": "ec9f79cf-e4d7-4d37-926a-e69c2198be8a",
                    "startTime": "2018-05-17 08:26:54.540209+00:00",
                    "status": "Canceled",
                    "subtasks": [
                      {
                        "migrationSubTaskId": "726dff1c-e765-44c6-b16d-f66f2c28e730",
                        "properties": {
                          "diskId": "423e4eb4-f791-4d13-ad5b-4d415733b0d6",
                          "endTime": "2018-05-17 08:27:35.055925+00:00",
                          "migrationSubtaskStatus": "Canceled",
                          "sourceShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_4",
                          "startTime": "2018-05-17 08:26:54.571460+00:00",
                          "targetDiskStateForMigration": "Unattached",
                          "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_1"
                        }
                      },
                      {
                        "migrationSubTaskId": "d6ab496c-4a76-474f-9ee2-9031053f06e8",
                        "properties": {
                          "diskId": "48dc9b56-5883-4011-9dc3-0e527f33e6ab",
                          "endTime": "2018-05-17 08:28:15.284267+00:00",
                          "migrationSubtaskStatus": "Succeeded",
                          "sourceShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_2",
                          "startTime": "2018-05-17 08:27:35.087177+00:00",
                          "targetDiskStateForMigration": "Unattached",
                          "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_1"
                        }
                      }
                    ],
                    "targetShare": "\\\\SU1FileServer.mydomain.com\\SU1_ObjStore_1"
                  },
                  "type": "Microsoft.Compute.Admin/locations/diskmigrationjobs"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DiskListInput": {
      "description": "List of disks.",
      "items": {
        "allOf": [
          {
            "description": "Base resource object.",
            "properties": {
              "id": {
                "description": "ID of the resource.",
                "readOnly": true,
                "type": "string"
              },
              "location": {
                "description": "Location of the resource.",
                "type": "string"
              },
              "name": {
                "description": "Name of the resource.",
                "readOnly": true,
                "type": "string"
              },
              "type": {
                "description": "Type of Resource.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object",
            "x-ms-azure-resource": true
          }
        ],
        "description": "Managed Disk.",
        "properties": {
          "properties": {
            "description": "Managed disk properties.",
            "properties": {
              "actualSizeGB": {
                "description": "The actual size of disk in GB.",
                "format": "int64",
                "readOnly": true,
                "type": "integer"
              },
              "diskId": {
                "description": "The disk id.",
                "type": "string"
              },
              "diskSku": {
                "description": "Disk Sku.",
                "enum": [
                  "Standard_LRS",
                  "Standard_ZRS",
                  "Standard_GRS",
                  "Standard_RAGRS",
                  "Premium_LRS",
                  "StandardSSD_LRS",
                  "UltraSSD_LRS"
                ],
                "type": "string",
                "x-ms-enum": {
                  "modelAsString": true,
                  "name": "AccountType"
                }
              },
              "diskType": {
                "description": "Disk resource type.",
                "enum": [
                  "Undefined",
                  "Disk",
                  "Snapshot",
                  "RestorePoint",
                  "ManagedBlob"
                ],
                "type": "string",
                "x-ms-enum": {
                  "modelAsString": true,
                  "name": "DiskResourceType"
                }
              },
              "managedBy": {
                "description": "Compute resource Uri which owns this disk.",
                "readOnly": true,
                "type": "string"
              },
              "provisionSizeGB": {
                "description": "The provision size of disk in GB.",
                "format": "int64",
                "readOnly": true,
                "type": "integer"
              },
              "sharePath": {
                "description": "The disk share path.",
                "type": "string"
              },
              "status": {
                "description": "Disk State.",
                "enum": [
                  "Undefined",
                  "Unattached",
                  "Attached",
                  "Reserved",
                  "ActiveSAS",
                  "Unknown",
                  "All",
                  "Recommended",
                  "OfflineMigration",
                  "OnlineMigration"
                ],
                "type": "string",
                "x-ms-enum": {
                  "modelAsString": true,
                  "name": "DiskState"
                }
              },
              "userResourceId": {
                "description": "The disk resource Uri from user view.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "DiskMigrationJob": {
      "allOf": [
        {
          "description": "Base resource object.",
          "properties": {
            "id": {
              "description": "ID of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "location": {
              "description": "Location of the resource.",
              "type": "string"
            },
            "name": {
              "description": "Name of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "type": {
              "description": "Type of Resource.",
              "readOnly": true,
              "type": "string"
            }
          },
          "type": "object",
          "x-ms-azure-resource": true
        }
      ],
      "description": "Disk migration job.",
      "properties": {
        "properties": {
          "description": "Disk migration job properties.",
          "properties": {
            "creationTime": {
              "description": "The job creation time.",
              "format": "date-time",
              "readOnly": true,
              "type": "string"
            },
            "endTime": {
              "description": "The job end time.",
              "format": "date-time",
              "readOnly": true,
              "type": "string"
            },
            "migrationId": {
              "description": "The disk migration id.",
              "type": "string"
            },
            "startTime": {
              "description": "The job start time.",
              "format": "date-time",
              "readOnly": true,
              "type": "string"
            },
            "status": {
              "description": "Migration job status.",
              "enum": [
                "Undefined",
                "Running",
                "Succeeded",
                "Failed",
                "Canceled",
                "Pending"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "MigrationJobStatus"
              }
            },
            "subtasks": {
              "description": "List of disk migration tasks.",
              "items": {
                "description": "Disk migration child task.",
                "properties": {
                  "migrationSubTaskId": {
                    "description": "The id of migration child task.",
                    "readOnly": true,
                    "type": "string"
                  },
                  "properties": {
                    "description": "Disk migration child task properties.",
                    "properties": {
                      "diskId": {
                        "description": "The id of disk.",
                        "readOnly": true,
                        "type": "string"
                      },
                      "endTime": {
                        "description": "The task end time.",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string"
                      },
                      "migrationSubtaskStatus": {
                        "description": "Migration child task status.",
                        "enum": [
                          "Undefined",
                          "Running",
                          "Succeeded",
                          "Failed",
                          "Canceled",
                          "Pending",
                          "Skipped"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": true,
                          "name": "MigrationSubTaskStatus"
                        }
                      },
                      "reason": {
                        "description": "The reason of task failure.",
                        "readOnly": true,
                        "type": "string"
                      },
                      "sourceShare": {
                        "description": "The source share of migration task.",
                        "readOnly": true,
                        "type": "string"
                      },
                      "startTime": {
                        "description": "The task start time.",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string"
                      },
                      "targetDiskStateForMigration": {
                        "description": "Disk State.",
                        "enum": [
                          "Undefined",
                          "Unattached",
                          "Attached",
                          "Reserved",
                          "ActiveSAS",
                          "Unknown",
                          "All",
                          "Recommended",
                          "OfflineMigration",
                          "OnlineMigration"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": true,
                          "name": "DiskState"
                        }
                      },
                      "targetShare": {
                        "description": "The target share of migration task.",
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "targetShare": {
              "description": "The target share of migration job.",
              "readOnly": true,
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "DiskMigrationJobList": {
      "description": "List of disk migration jobs.",
      "properties": {
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        },
        "value": {
          "description": "List of disk migration jobs.",
          "items": {
            "allOf": [
              {
                "description": "Base resource object.",
                "properties": {
                  "id": {
                    "description": "ID of the resource.",
                    "readOnly": true,
                    "type": "string"
                  },
                  "location": {
                    "description": "Location of the resource.",
                    "type": "string"
                  },
                  "name": {
                    "description": "Name of the resource.",
                    "readOnly": true,
                    "type": "string"
                  },
                  "type": {
                    "description": "Type of Resource.",
                    "readOnly": true,
                    "type": "string"
                  }
                },
                "type": "object",
                "x-ms-azure-resource": true
              }
            ],
            "description": "Disk migration job.",
            "properties": {
              "properties": {
                "description": "Disk migration job properties.",
                "properties": {
                  "creationTime": {
                    "description": "The job creation time.",
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "endTime": {
                    "description": "The job end time.",
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "migrationId": {
                    "description": "The disk migration id.",
                    "type": "string"
                  },
                  "startTime": {
                    "description": "The job start time.",
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "status": {
                    "description": "Migration job status.",
                    "enum": [
                      "Undefined",
                      "Running",
                      "Succeeded",
                      "Failed",
                      "Canceled",
                      "Pending"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                      "modelAsString": true,
                      "name": "MigrationJobStatus"
                    }
                  },
                  "subtasks": {
                    "description": "List of disk migration tasks.",
                    "items": {
                      "description": "Disk migration child task.",
                      "properties": {
                        "migrationSubTaskId": {
                          "description": "The id of migration child task.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "properties": {
                          "description": "Disk migration child task properties.",
                          "properties": {
                            "diskId": {
                              "description": "The id of disk.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "endTime": {
                              "description": "The task end time.",
                              "format": "date-time",
                              "readOnly": true,
                              "type": "string"
                            },
                            "migrationSubtaskStatus": {
                              "description": "Migration child task status.",
                              "enum": [
                                "Undefined",
                                "Running",
                                "Succeeded",
                                "Failed",
                                "Canceled",
                                "Pending",
                                "Skipped"
                              ],
                              "type": "string",
                              "x-ms-enum": {
                                "modelAsString": true,
                                "name": "MigrationSubTaskStatus"
                              }
                            },
                            "reason": {
                              "description": "The reason of task failure.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "sourceShare": {
                              "description": "The source share of migration task.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "startTime": {
                              "description": "The task start time.",
                              "format": "date-time",
                              "readOnly": true,
                              "type": "string"
                            },
                            "targetDiskStateForMigration": {
                              "description": "Disk State.",
                              "enum": [
                                "Undefined",
                                "Unattached",
                                "Attached",
                                "Reserved",
                                "ActiveSAS",
                                "Unknown",
                                "All",
                                "Recommended",
                                "OfflineMigration",
                                "OnlineMigration"
                              ],
                              "type": "string",
                              "x-ms-enum": {
                                "modelAsString": true,
                                "name": "DiskState"
                              }
                            },
                            "targetShare": {
                              "description": "The target share of migration task.",
                              "readOnly": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "targetShare": {
                    "description": "The target share of migration job.",
                    "readOnly": true,
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DiskMigrationJobProperties": {
      "description": "Disk migration job properties.",
      "properties": {
        "creationTime": {
          "description": "The job creation time.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "The job end time.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "migrationId": {
          "description": "The disk migration id.",
          "type": "string"
        },
        "startTime": {
          "description": "The job start time.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "description": "Migration job status.",
          "enum": [
            "Undefined",
            "Running",
            "Succeeded",
            "Failed",
            "Canceled",
            "Pending"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "MigrationJobStatus"
          }
        },
        "subtasks": {
          "description": "List of disk migration tasks.",
          "items": {
            "description": "Disk migration child task.",
            "properties": {
              "migrationSubTaskId": {
                "description": "The id of migration child task.",
                "readOnly": true,
                "type": "string"
              },
              "properties": {
                "description": "Disk migration child task properties.",
                "properties": {
                  "diskId": {
                    "description": "The id of disk.",
                    "readOnly": true,
                    "type": "string"
                  },
                  "endTime": {
                    "description": "The task end time.",
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "migrationSubtaskStatus": {
                    "description": "Migration child task status.",
                    "enum": [
                      "Undefined",
                      "Running",
                      "Succeeded",
                      "Failed",
                      "Canceled",
                      "Pending",
                      "Skipped"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                      "modelAsString": true,
                      "name": "MigrationSubTaskStatus"
                    }
                  },
                  "reason": {
                    "description": "The reason of task failure.",
                    "readOnly": true,
                    "type": "string"
                  },
                  "sourceShare": {
                    "description": "The source share of migration task.",
                    "readOnly": true,
                    "type": "string"
                  },
                  "startTime": {
                    "description": "The task start time.",
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "targetDiskStateForMigration": {
                    "description": "Disk State.",
                    "enum": [
                      "Undefined",
                      "Unattached",
                      "Attached",
                      "Reserved",
                      "ActiveSAS",
                      "Unknown",
                      "All",
                      "Recommended",
                      "OfflineMigration",
                      "OnlineMigration"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                      "modelAsString": true,
                      "name": "DiskState"
                    }
                  },
                  "targetShare": {
                    "description": "The target share of migration task.",
                    "readOnly": true,
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "targetShare": {
          "description": "The target share of migration job.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "MigrationJobStatus": {
      "description": "Migration job status.",
      "enum": [
        "Undefined",
        "Running",
        "Succeeded",
        "Failed",
        "Canceled",
        "Pending"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "MigrationJobStatus"
      }
    },
    "MigrationSubTask": {
      "description": "Disk migration child task.",
      "properties": {
        "migrationSubTaskId": {
          "description": "The id of migration child task.",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "description": "Disk migration child task properties.",
          "properties": {
            "diskId": {
              "description": "The id of disk.",
              "readOnly": true,
              "type": "string"
            },
            "endTime": {
              "description": "The task end time.",
              "format": "date-time",
              "readOnly": true,
              "type": "string"
            },
            "migrationSubtaskStatus": {
              "description": "Migration child task status.",
              "enum": [
                "Undefined",
                "Running",
                "Succeeded",
                "Failed",
                "Canceled",
                "Pending",
                "Skipped"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "MigrationSubTaskStatus"
              }
            },
            "reason": {
              "description": "The reason of task failure.",
              "readOnly": true,
              "type": "string"
            },
            "sourceShare": {
              "description": "The source share of migration task.",
              "readOnly": true,
              "type": "string"
            },
            "startTime": {
              "description": "The task start time.",
              "format": "date-time",
              "readOnly": true,
              "type": "string"
            },
            "targetDiskStateForMigration": {
              "description": "Disk State.",
              "enum": [
                "Undefined",
                "Unattached",
                "Attached",
                "Reserved",
                "ActiveSAS",
                "Unknown",
                "All",
                "Recommended",
                "OfflineMigration",
                "OnlineMigration"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "DiskState"
              }
            },
            "targetShare": {
              "description": "The target share of migration task.",
              "readOnly": true,
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "MigrationSubTaskList": {
      "description": "List of disk migration tasks.",
      "items": {
        "description": "Disk migration child task.",
        "properties": {
          "migrationSubTaskId": {
            "description": "The id of migration child task.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "description": "Disk migration child task properties.",
            "properties": {
              "diskId": {
                "description": "The id of disk.",
                "readOnly": true,
                "type": "string"
              },
              "endTime": {
                "description": "The task end time.",
                "format": "date-time",
                "readOnly": true,
                "type": "string"
              },
              "migrationSubtaskStatus": {
                "description": "Migration child task status.",
                "enum": [
                  "Undefined",
                  "Running",
                  "Succeeded",
                  "Failed",
                  "Canceled",
                  "Pending",
                  "Skipped"
                ],
                "type": "string",
                "x-ms-enum": {
                  "modelAsString": true,
                  "name": "MigrationSubTaskStatus"
                }
              },
              "reason": {
                "description": "The reason of task failure.",
                "readOnly": true,
                "type": "string"
              },
              "sourceShare": {
                "description": "The source share of migration task.",
                "readOnly": true,
                "type": "string"
              },
              "startTime": {
                "description": "The task start time.",
                "format": "date-time",
                "readOnly": true,
                "type": "string"
              },
              "targetDiskStateForMigration": {
                "description": "Disk State.",
                "enum": [
                  "Undefined",
                  "Unattached",
                  "Attached",
                  "Reserved",
                  "ActiveSAS",
                  "Unknown",
                  "All",
                  "Recommended",
                  "OfflineMigration",
                  "OnlineMigration"
                ],
                "type": "string",
                "x-ms-enum": {
                  "modelAsString": true,
                  "name": "DiskState"
                }
              },
              "targetShare": {
                "description": "The target share of migration task.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "MigrationSubTaskProperties": {
      "description": "Disk migration child task properties.",
      "properties": {
        "diskId": {
          "description": "The id of disk.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "The task end time.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "migrationSubtaskStatus": {
          "description": "Migration child task status.",
          "enum": [
            "Undefined",
            "Running",
            "Succeeded",
            "Failed",
            "Canceled",
            "Pending",
            "Skipped"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "MigrationSubTaskStatus"
          }
        },
        "reason": {
          "description": "The reason of task failure.",
          "readOnly": true,
          "type": "string"
        },
        "sourceShare": {
          "description": "The source share of migration task.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "The task start time.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "targetDiskStateForMigration": {
          "description": "Disk State.",
          "enum": [
            "Undefined",
            "Unattached",
            "Attached",
            "Reserved",
            "ActiveSAS",
            "Unknown",
            "All",
            "Recommended",
            "OfflineMigration",
            "OnlineMigration"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "DiskState"
          }
        },
        "targetShare": {
          "description": "The target share of migration task.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "MigrationSubTaskStatus": {
      "description": "Migration child task status.",
      "enum": [
        "Undefined",
        "Running",
        "Succeeded",
        "Failed",
        "Canceled",
        "Pending",
        "Skipped"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "MigrationSubTaskStatus"
      }
    }
  }
}