{
  "openapi": "3.0.3",
  "info": {
    "title": "Hyros API",
    "description": "Hyros is an ad tracking platform. This API allows you to submit leads, log sales transactions, and track custom user events.",
    "version": "1.0.0",
    "contact": {
      "name": "Hyros",
      "url": "https://hyros.com"
    }
  },
  "servers": [
    {
      "url": "https://api.hyros.com",
      "description": "Hyros production API server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/leads": {
      "post": {
        "operationId": "createLead",
        "summary": "Submit lead data",
        "description": "Submit lead data to Hyros for tracking purposes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead successfully created."
          },
          "400": {
            "description": "Bad Request. Malformed JSON or missing required fields."
          },
          "401": {
            "description": "Unauthorized. Invalid or expired API key."
          },
          "429": {
            "description": "Too Many Requests. Rate limit exceeded."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "v1"
        ]
      }
    },
    "/v1/sales": {
      "post": {
        "operationId": "createSale",
        "summary": "Log a sales transaction",
        "description": "Log a completed sales transaction to Hyros.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sale successfully recorded."
          },
          "400": {
            "description": "Bad Request. Malformed JSON or missing required fields."
          },
          "401": {
            "description": "Unauthorized. Invalid or expired API key."
          },
          "429": {
            "description": "Too Many Requests. Rate limit exceeded."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "v1"
        ]
      }
    },
    "/v1/events": {
      "post": {
        "operationId": "createEvent",
        "summary": "Track a custom event",
        "description": "Track a custom user event in Hyros.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event successfully tracked."
          },
          "400": {
            "description": "Bad Request. Malformed JSON or missing required fields."
          },
          "401": {
            "description": "Unauthorized. Invalid or expired API key."
          },
          "429": {
            "description": "Too Many Requests. Rate limit exceeded."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "v1"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from https://app.hyros.com/settings/api"
      }
    },
    "schemas": {
      "LeadRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address."
          },
          "source": {
            "type": "string",
            "description": "Origin identifier for the lead."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Categorical labels for organization."
          }
        }
      },
      "SaleRequest": {
        "type": "object",
        "required": [
          "email",
          "amount",
          "product"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address."
          },
          "amount": {
            "type": "number",
            "description": "Transaction value."
          },
          "product": {
            "type": "string",
            "description": "Name of the product or service sold."
          }
        }
      },
      "EventRequest": {
        "type": "object",
        "required": [
          "email",
          "event"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address."
          },
          "event": {
            "type": "string",
            "description": "Custom event identifier or name."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "v1"
    }
  ]
}
