{
  "openapi": "3.0.3",
  "info": {
    "title": "1Forge Finance APIs",
    "description": "Real-time forex and cryptocurrency market data API. Provides live quotes, currency conversion, symbol lists, and market status information.",
    "version": "1.0.0",
    "contact": {
      "name": "1Forge",
      "email": "contact@1forge.com",
      "url": "https://1forge.com"
    }
  },
  "servers": [
    {
      "url": "https://api.1forge.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyParam": []
    }
  ],
  "paths": {
    "/symbols": {
      "get": {
        "operationId": "getSymbols",
        "summary": "Get available symbols",
        "description": "Get a list of all available currency pair symbols for which real-time quotes are provided.",
        "tags": [
          "Forex Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "cache",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "false"
            },
            "description": "Enable or disable caching"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of available symbols",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "EURUSD",
                    "GBPJPY",
                    "AUDUSD",
                    "BTCUSD"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/quotes": {
      "get": {
        "operationId": "getQuotes",
        "summary": "Get real-time quotes",
        "description": "Get real-time forex quotes for the specified currency pairs. If no pairs are specified, returns quotes for all symbols.",
        "tags": [
          "Forex Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "pairs",
            "in": "query",
            "description": "Comma-separated list of currency pairs (e.g., EUR/USD,GBP/JPY)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of quotes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Quote"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/convert": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert currency",
        "description": "Convert an amount from one currency to another using real-time exchange rates.",
        "tags": [
          "Forex Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Source currency code (e.g., EUR)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Target currency code (e.g., USD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quantity",
            "in": "query",
            "required": true,
            "description": "Amount to convert",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResult"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/market_status": {
      "get": {
        "operationId": "getMarketStatus",
        "summary": "Get market status",
        "description": "Check if the forex market is currently open.",
        "tags": [
          "Forex Data"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "cache",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketStatus"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    },
    "/quota": {
      "get": {
        "operationId": "getQuota",
        "summary": "Get API usage quota",
        "description": "Check your current API usage and remaining quota.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "cache",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quota information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quota"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyParam": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "Quote": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string",
            "description": "Currency pair symbol (e.g., EUR/USD)"
          },
          "bid": {
            "type": "number",
            "format": "double",
            "description": "Current bid price"
          },
          "ask": {
            "type": "number",
            "format": "double",
            "description": "Current ask price"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Mid-market price"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp"
          }
        }
      },
      "ConversionResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "format": "double",
            "description": "Converted amount"
          },
          "text": {
            "type": "string",
            "description": "Human-readable conversion result"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp"
          }
        }
      },
      "MarketStatus": {
        "type": "object",
        "properties": {
          "market_is_open": {
            "type": "boolean",
            "description": "Whether the forex market is currently open"
          }
        }
      },
      "Quota": {
        "type": "object",
        "properties": {
          "quota_used": {
            "type": "integer",
            "description": "Number of API calls used"
          },
          "quota_limit": {
            "type": "integer",
            "description": "Total API call limit"
          },
          "quota_remaining": {
            "type": "integer",
            "description": "Remaining API calls"
          },
          "hours_until_reset": {
            "type": "number",
            "format": "double",
            "description": "Hours until quota resets"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Forex Data"
    }
  ]
}
