{
  "openapi": "3.0.3",
  "info": {
    "title": "Lua Legal Zapier Integration API",
    "description": "Lua Legal is a notetaker that provides summaries and action items on all of your phone calls, video conferences, and in-person meetings, straight to your CMS.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://clint.lualegal.ai/docs/zapier-integration"
  },
  "servers": [
    {
      "url": "https://clint.lualegal.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/zapier-integration/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Validate Zapier authentication",
        "description": "Validate Zapier OAuth Bearer token and return user info",
        "operationId": "validateZapierAuth",
        "responses": {
          "200": {
            "description": "Successful validation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "User information"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/zapier-integration/subscribe": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Subscribe to Zapier webhook",
        "description": "Subscribe to Zapier webhook via OAuth Bearer token",
        "operationId": "subscribeToZapier",
        "responses": {
          "200": {
            "description": "Successfully subscribed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Subscription confirmation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Unsubscribe from Zapier webhook",
        "description": "Unsubscribe from Zapier webhook via OAuth Bearer token",
        "operationId": "unsubscribeFromZapier",
        "responses": {
          "200": {
            "description": "Successfully unsubscribed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Unsubscription confirmation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/zapier-integration/test-trigger": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Test Zapier trigger",
        "description": "Test endpoint to trigger all user integrations with test data",
        "operationId": "testZapierTrigger",
        "responses": {
          "200": {
            "description": "Test trigger successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Test trigger response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/zapier-integration/perform": {
      "get": {
        "tags": [
          "Triggers"
        ],
        "summary": "Perform Zapier trigger",
        "description": "Return the exact payload structure as an array for Zapier integration",
        "operationId": "performZapierTrigger",
        "responses": {
          "200": {
            "description": "Trigger performed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "description": "Array of trigger payloads"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/zapier-integration/ingest": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Ingest recording",
        "description": "Inbound Zapier Action: receive a recording and transcribe it. Zapier sends this when a user creates a Zap like: Dialpad 'New Recording' → Lua Legal 'Transcribe Recording'. Provide either audio_url OR audio_base64 (not both).",
        "operationId": "ingestRecording",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IngestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recording ingested successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Ingestion result"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth Bearer token for authentication"
      }
    },
    "schemas": {
      "IngestRequest": {
        "type": "object",
        "properties": {
          "audio_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the audio file (one of audio_url or audio_base64 required)"
          },
          "audio_base64": {
            "type": "string",
            "format": "byte",
            "description": "Base64 encoded audio data (one of audio_url or audio_base64 required)"
          },
          "provider": {
            "type": "string",
            "default": "other",
            "description": "Recording provider (e.g., 'dialpad')"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "description": "Recording start time (defaults to now)"
          },
          "duration_seconds": {
            "type": "integer",
            "default": 0,
            "description": "Recording duration in seconds"
          }
        },
        "oneOf": [
          {
            "required": [
              "audio_url"
            ]
          },
          {
            "required": [
              "audio_base64"
            ]
          }
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication and validation operations"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscription management"
    },
    {
      "name": "Triggers",
      "description": "Zapier trigger operations"
    },
    {
      "name": "Actions",
      "description": "Zapier action operations"
    }
  ]
}