{
  "openapi": "3.0.3",
  "info": {
    "title": "CommPeak SMS Streams API",
    "description": "API for interacting with the CommPeak SMS Streams service. Send SMS messages, monitor SMS streams, and check message delivery status. Designed for developers, QA engineers, and other stakeholders involved in SMS-based communication services.",
    "version": "1.0.0",
    "contact": {
      "name": "CommPeak",
      "url": "https://my.commpeak.com"
    }
  },
  "servers": [
    {
      "url": "https://sendsms.commpeak.com",
      "description": "CommPeak SMS Streams Production Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Messages",
      "description": "Send and monitor SMS messages"
    }
  ],
  "paths": {
    "/simple_send": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send SMS message(s)",
        "description": "Send one or more SMS messages to specified recipients. Each message requires a unique internal ID, sender identifier, recipient phone number, and message content.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              },
              "example": {
                "messages": [
                  {
                    "internal_id": "1003",
                    "sender": "GLOBAL",
                    "recipient_phone": "972524265292",
                    "message_content": "test message 1"
                  },
                  {
                    "internal_id": "1004",
                    "sender": "GLOBAL",
                    "recipient_phone": "972545330008",
                    "message_content": "test message 2"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages accepted for delivery. Individual messages may have errors (e.g., RATE_LIMIT).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                },
                "examples": {
                  "success": {
                    "summary": "All messages sent successfully",
                    "value": {
                      "status": true,
                      "task_id": "251a4cfb-f098-4a84-83a1-66f6273bbb1d",
                      "messages": [
                        {
                          "internal_id": "1003",
                          "message_uuid": "0562f2aa-5945-4f41-824a-b774fc2e2b2a",
                          "error": null
                        },
                        {
                          "internal_id": "1004",
                          "message_uuid": "ed8258f4-43f4-4873-8dc3-49989940edf5",
                          "error": null
                        }
                      ]
                    }
                  },
                  "rateLimited": {
                    "summary": "Message rate limited",
                    "value": {
                      "status": true,
                      "task_id": "ad340f18-e91d-4975-bd6a-efa0cd82a7e3",
                      "messages": [
                        {
                          "internal_id": "1003",
                          "message_uuid": null,
                          "error": "RATE_LIMIT"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authentication failed. Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          }
        }
      }
    },
    "/messages_status": {
      "post": {
        "operationId": "getMessageStatus",
        "summary": "Check message delivery status",
        "description": "Check the delivery status of previously sent SMS messages using their message UUIDs.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageStatusRequest"
              },
              "example": {
                "message_uuids": [
                  "e6b7ae60-6bbc-4db5-bfe4-7c9af27b8bdc",
                  "81e766af-06eb-4676-ac83-0ca32b8aff85"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message status information returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageStatusResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authentication failed. Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authenticating requests. Obtain from https://my.commpeak.com by creating an API key for SMS Streams API."
      }
    },
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "description": "Array of message objects to send.",
            "items": {
              "$ref": "#/components/schemas/MessageItem"
            }
          }
        }
      },
      "MessageItem": {
        "type": "object",
        "required": [
          "internal_id",
          "sender",
          "recipient_phone",
          "message_content"
        ],
        "properties": {
          "internal_id": {
            "type": "string",
            "description": "Unique identifier for the message, used for tracking purposes."
          },
          "sender": {
            "type": "string",
            "description": "Sender identifier. Can be a name, phone number, or any other identifier."
          },
          "recipient_phone": {
            "type": "string",
            "description": "Phone number of the recipient."
          },
          "message_content": {
            "type": "string",
            "description": "The text content of the SMS message."
          }
        }
      },
      "SendMessageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Indicates whether the request was processed."
          },
          "task_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the batch send task."
          },
          "messages": {
            "type": "array",
            "description": "Status of each individual message in the batch.",
            "items": {
              "$ref": "#/components/schemas/MessageResult"
            }
          }
        }
      },
      "MessageResult": {
        "type": "object",
        "properties": {
          "internal_id": {
            "type": "string",
            "description": "The internal ID provided in the request."
          },
          "message_uuid": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "UUID assigned to the message. Null if there was an error."
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Error code if the message failed. Null on success. Known values: RATE_LIMIT."
          }
        }
      },
      "MessageStatusRequest": {
        "type": "object",
        "required": [
          "message_uuids"
        ],
        "properties": {
          "message_uuids": {
            "type": "array",
            "description": "Array of message UUIDs to check status for.",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "MessageStatusResponse": {
        "type": "object",
        "description": "Response containing the delivery status of the requested messages.",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "Indicates whether the request was processed successfully."
          },
          "messages": {
            "type": "array",
            "description": "Status details for each queried message.",
            "items": {
              "type": "object",
              "properties": {
                "message_uuid": {
                  "type": "string",
                  "format": "uuid",
                  "description": "UUID of the message."
                },
                "status": {
                  "type": "string",
                  "description": "Current delivery status of the message."
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Human-readable error message."
          }
        }
      }
    }
  }
}
