{
  "openapi": "3.0.3",
  "info": {
    "title": "Riverty BNPL Order Management API",
    "version": "v3",
    "description": "Riverty Buy Now, Pay Later (BNPL) API for payment authorization, capture, refund, void, and order management. Supports multiple payment types including invoices, installments, and direct debit across European markets.",
    "x-jentic-source-url": "https://developer.riverty.com/documentation/order-management-1/capture/"
  },
  "servers": [
    {
      "url": "https://api.riverty.com",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.riverty.com",
      "description": "Sandbox server"
    }
  ],
  "paths": {
    "/api/v3/checkout/payment-methods": {
      "post": {
        "operationId": "getAvailablePaymentMethods",
        "summary": "Get available payment methods",
        "description": "Returns the available payment methods for a specified basket value and merchant contract. Returns monthly installment amount, interest and fees.",
        "tags": [
          "Checkout"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentMethodsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved available payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/checkout/authorize": {
      "post": {
        "operationId": "authorizePayment",
        "summary": "Authorize a payment",
        "description": "Authorizes a payment transaction for BNPL payment methods, supporting multiple payment types including invoices, installments, and direct debit options.",
        "tags": [
          "Checkout"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorization processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/orders/{orderNumber}/captures": {
      "post": {
        "operationId": "capturePayment",
        "summary": "Capture a payment",
        "description": "Completes the payment that has been authorized. Typically done when the order is shipped. Can be a full or partial capture of the order amount.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "required": true,
            "description": "The order identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment captured successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/orders/{orderNumber}/refunds": {
      "post": {
        "operationId": "refundPayment",
        "summary": "Refund a payment",
        "description": "Processes refunds for partially or fully captured payments.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "required": true,
            "description": "The order identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/orders/{orderNumber}/voids": {
      "post": {
        "operationId": "voidAuthorization",
        "summary": "Void an authorization",
        "description": "Void (cancel) an authorization that has not been captured.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "required": true,
            "description": "The order identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoidRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorization voided successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoidResponse"
                }
              }
            }
          },
          "400": {
            "description": "Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/orders/{orderNumber}/updateOrder": {
      "post": {
        "operationId": "updateOrder",
        "summary": "Update an order",
        "description": "Modifies an existing authorized but not fully captured order. Allows merchants to add or remove items without generating a new order number.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "required": true,
            "description": "The order identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Model validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authorization denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OrderItem": {
        "type": "object",
        "required": [
          "productId",
          "description",
          "netUnitPrice",
          "grossUnitPrice",
          "quantity",
          "vatPercent",
          "vatAmount"
        ],
        "properties": {
          "productId": {
            "type": "string",
            "maxLength": 100,
            "description": "Merchant product identifier"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "description": "Product name or description"
          },
          "netUnitPrice": {
            "type": "number",
            "description": "Net price per unit"
          },
          "grossUnitPrice": {
            "type": "number",
            "description": "Gross price per unit"
          },
          "quantity": {
            "type": "number",
            "description": "Item quantity"
          },
          "vatPercent": {
            "type": "number",
            "description": "VAT percentage"
          },
          "vatAmount": {
            "type": "number",
            "description": "VAT amount per item"
          },
          "type": {
            "type": "string",
            "enum": [
              "PhysicalArticle",
              "DigitalArticle",
              "GiftCard",
              "Discount",
              "ShippingFee",
              "Surcharge",
              "Info",
              "Subscription"
            ],
            "description": "Item type"
          },
          "imageUrl": {
            "type": "string",
            "description": "Product image URL"
          },
          "productUrl": {
            "type": "string",
            "description": "Product page URL"
          }
        }
      },
      "OrderDetails": {
        "type": "object",
        "required": [
          "totalNetAmount",
          "totalGrossAmount",
          "items"
        ],
        "properties": {
          "totalNetAmount": {
            "type": "number",
            "description": "Total net order amount"
          },
          "totalGrossAmount": {
            "type": "number",
            "description": "Total gross order amount"
          },
          "currency": {
            "type": "string",
            "enum": [
              "EUR",
              "NOK",
              "SEK",
              "DKK",
              "CHF"
            ],
            "description": "Order currency"
          },
          "items": {
            "type": "array",
            "maxItems": 500,
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        }
      },
      "CustomerDetails": {
        "type": "object",
        "properties": {
          "customerCategory": {
            "type": "string",
            "enum": [
              "Company",
              "Person"
            ],
            "description": "Customer type"
          },
          "firstName": {
            "type": "string",
            "description": "Customer first name"
          },
          "lastName": {
            "type": "string",
            "description": "Customer last name"
          },
          "birthDate": {
            "type": "string",
            "format": "date",
            "description": "Customer birth date (yyyy-MM-dd)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone"
          }
        }
      },
      "PaymentMethodsRequest": {
        "type": "object",
        "required": [
          "order",
          "customer"
        ],
        "properties": {
          "order": {
            "type": "object",
            "required": [
              "totalNetAmount",
              "totalGrossAmount",
              "country",
              "currency"
            ],
            "properties": {
              "totalNetAmount": {
                "type": "number"
              },
              "totalGrossAmount": {
                "type": "number"
              },
              "country": {
                "type": "string",
                "enum": [
                  "NO",
                  "SE",
                  "FI",
                  "DK",
                  "DE",
                  "AT",
                  "CH",
                  "NL",
                  "BE"
                ]
              },
              "currency": {
                "type": "string",
                "enum": [
                  "EUR",
                  "NOK",
                  "SEK",
                  "DKK",
                  "CHF"
                ]
              },
              "items": {
                "type": "array",
                "maxItems": 500,
                "items": {
                  "$ref": "#/components/schemas/OrderItem"
                }
              }
            }
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerDetails"
          },
          "parentTransactionReference": {
            "type": "string",
            "maxLength": 128,
            "description": "Unique order identifier"
          }
        }
      },
      "PaymentMethodsResponse": {
        "type": "object",
        "properties": {
          "paymentMethods": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "Invoice",
                    "Installment",
                    "Account",
                    "Consolidatedinvoice",
                    "PayinX",
                    "PartPayment"
                  ]
                },
                "title": {
                  "type": "string"
                },
                "tag": {
                  "type": "string"
                },
                "logo": {
                  "type": "string"
                },
                "outcome": {
                  "type": "string",
                  "enum": [
                    "Accepted",
                    "Rejected",
                    "NotEvaluated"
                  ]
                },
                "checkoutId": {
                  "type": "string",
                  "format": "uuid"
                },
                "installment": {
                  "type": "object",
                  "properties": {
                    "monthlyAmount": {
                      "type": "number"
                    },
                    "interestRate": {
                      "type": "number"
                    },
                    "totalFees": {
                      "type": "number"
                    },
                    "numberOfInstallments": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AuthorizeRequest": {
        "type": "object",
        "required": [
          "payment",
          "customer",
          "order"
        ],
        "properties": {
          "payment": {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "Invoice",
                  "Installment",
                  "Account",
                  "Consolidatedinvoice",
                  "PayinX",
                  "PartPayment"
                ],
                "description": "Payment method type"
              },
              "directDebit": {
                "type": "object",
                "properties": {
                  "iban": {
                    "type": "string",
                    "maxLength": 34,
                    "description": "IBAN for direct debit"
                  }
                }
              }
            }
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerDetails"
          },
          "order": {
            "$ref": "#/components/schemas/OrderDetails"
          },
          "merchantUrl": {
            "type": "string",
            "description": "Redirect destination after payment completion"
          }
        }
      },
      "AuthorizeResponse": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "Accepted",
              "Pending",
              "Rejected"
            ],
            "description": "Authorization outcome"
          },
          "checkoutId": {
            "type": "string",
            "description": "Session identifier"
          },
          "reservationId": {
            "type": "string",
            "description": "Transaction reference"
          },
          "redirectUrl": {
            "type": "string",
            "description": "URL to redirect the customer to"
          },
          "riskCheckMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RiskCheckMessage"
            }
          }
        }
      },
      "CaptureRequest": {
        "type": "object",
        "required": [
          "orderDetails"
        ],
        "properties": {
          "orderDetails": {
            "$ref": "#/components/schemas/OrderDetails"
          },
          "invoiceNumber": {
            "type": "string",
            "description": "Unique invoice number for the capture"
          }
        }
      },
      "CaptureResponse": {
        "type": "object",
        "properties": {
          "captureNumber": {
            "type": "string",
            "description": "Invoice identifier for refunds"
          },
          "capturedAmount": {
            "type": "number",
            "description": "Amount captured in this request"
          },
          "authorizedAmount": {
            "type": "number",
            "description": "Original authorized amount"
          },
          "remainingAuthorizedAmount": {
            "type": "number",
            "description": "Remaining authorized amount after capture"
          },
          "totalCapturedAmount": {
            "type": "number",
            "description": "Total amount captured so far"
          },
          "totalRefundedAmount": {
            "type": "number",
            "description": "Total amount refunded"
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "required": [
          "captureNumber",
          "items"
        ],
        "properties": {
          "captureNumber": {
            "type": "string",
            "maxLength": 50,
            "description": "Identifies the capture to refund"
          },
          "items": {
            "type": "array",
            "maxItems": 500,
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          },
          "refundType": {
            "type": "string",
            "enum": [
              "Refund",
              "Return"
            ],
            "description": "Type of refund"
          },
          "creditNoteNumber": {
            "type": "string",
            "maxLength": 19,
            "description": "Credit note number"
          },
          "merchantId": {
            "type": "string",
            "maxLength": 50,
            "description": "Merchant identifier"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "totalCapturedAmount": {
            "type": "number"
          },
          "totalAuthorizedAmount": {
            "type": "number"
          },
          "refundNumbers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "totalRefundedAmount": {
            "type": "number"
          },
          "remainingAuthorizedAmount": {
            "type": "number"
          }
        }
      },
      "VoidRequest": {
        "type": "object",
        "required": [
          "cancellationDetails"
        ],
        "properties": {
          "cancellationDetails": {
            "type": "object",
            "required": [
              "totalNetAmount",
              "totalGrossAmount"
            ],
            "properties": {
              "totalNetAmount": {
                "type": "number",
                "description": "Net order total"
              },
              "totalGrossAmount": {
                "type": "number",
                "description": "Gross order total"
              },
              "currency": {
                "type": "string",
                "enum": [
                  "EUR",
                  "NOK",
                  "SEK",
                  "DKK",
                  "CHF"
                ]
              },
              "items": {
                "type": "array",
                "maxItems": 500,
                "items": {
                  "$ref": "#/components/schemas/OrderItem"
                }
              }
            }
          }
        }
      },
      "VoidResponse": {
        "type": "object",
        "properties": {
          "totalCapturedAmount": {
            "type": "number"
          },
          "totalAuthorizedAmount": {
            "type": "number"
          },
          "remainingAuthorizedAmount": {
            "type": "number"
          },
          "voidedAmount": {
            "type": "number"
          },
          "totalRefundedAmount": {
            "type": "number"
          }
        }
      },
      "UpdateOrderRequest": {
        "type": "object",
        "required": [
          "updateOrderSummary"
        ],
        "properties": {
          "updateOrderSummary": {
            "$ref": "#/components/schemas/OrderDetails"
          }
        }
      },
      "UpdateOrderResponse": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "Accepted",
              "Pending",
              "Rejected"
            ]
          },
          "reservationId": {
            "type": "string"
          },
          "checkoutId": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string",
            "format": "date",
            "description": "Authorization expiration date"
          },
          "riskCheckMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RiskCheckMessage"
            }
          }
        }
      },
      "RiskCheckMessage": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "actionCode": {
            "type": "string",
            "enum": [
              "Unavailable",
              "AskConsumerToConfirm",
              "ManualReview"
            ]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "BusinessError",
              "TechnicalError",
              "NotificationMessage"
            ],
            "description": "Error type"
          },
          "code": {
            "type": "string",
            "maxLength": 100,
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "maxLength": 4096,
            "description": "Error message"
          },
          "customerFacingMessage": {
            "type": "string",
            "description": "Message suitable for displaying to customers"
          },
          "actionCode": {
            "type": "string",
            "description": "Suggested action code"
          },
          "fieldReference": {
            "type": "string",
            "description": "Reference to the field that caused the error"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key provided by Riverty"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}