{
  "openapi": "3.0.3",
  "info": {
    "title": "Dialgood API",
    "version": "1.0.0",
    "description": "Outbound calling API for placing automated calls with AI agents, supporting custom speech settings and contact lists.",
    "x-jentic-source-url": "https://ujmilqi2xv.apidog.io/place-outbound-call-16263074e0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.dialgood.com"
    }
  ],
  "paths": {
    "/external/v1/outbound": {
      "post": {
        "operationId": "placeOutboundCall",
        "summary": "Place outbound call",
        "description": "Initiates outbound calls to a contact list using an AI agent",
        "tags": [
          "Calls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutboundCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OutboundCallRequest": {
        "type": "object",
        "required": [
          "from",
          "agentId",
          "contactList",
          "raw"
        ],
        "properties": {
          "from": {
            "type": "string",
            "description": "Originating phone number"
          },
          "agentId": {
            "type": "string",
            "description": "Agent identifier"
          },
          "contactList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                }
              }
            }
          },
          "raw": {
            "type": "object",
            "properties": {
              "dgName": {
                "type": "string"
              },
              "dgHosted": {
                "type": "string"
              }
            }
          },
          "listId": {
            "type": "string"
          },
          "customKey": {
            "type": "string"
          },
          "speechSettings": {
            "type": "object",
            "properties": {
              "synthesizer": {
                "type": "object"
              },
              "recognizer": {
                "type": "object"
              }
            }
          }
        }
      },
      "OutboundCallResponse": {
        "type": "object",
        "properties": {
          "contactListId": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Calls"
    }
  ]
}
