{
  "openapi": "3.0.3",
  "info": {
    "title": "Polygon.io (Massive) Stocks API",
    "description": "Real-time and historical stock market data API. Previously known as Polygon.io, now operating as Massive.com. Provides comprehensive market data including aggregates, trades, quotes, technical indicators, fundamentals, and corporate actions.",
    "version": "1.0.0",
    "contact": {
      "name": "Massive API Support",
      "url": "https://massive.com"
    },
    "x-jentic-source-url": "https://polygon.io/"
  },
  "servers": [
    {
      "url": "https://api.massive.com",
      "description": "Production server"
    },
    {
      "url": "https://api.polygon.io",
      "description": "Legacy endpoint (still supported)"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v2/aggs/ticker/{stocksTicker}/range/{multiplier}/{timespan}/{from}/{to}": {
      "get": {
        "summary": "Get Aggregate Bars",
        "description": "Get aggregate bars for a stock over a given date range in custom time window sizes.",
        "operationId": "getAggregates",
        "tags": [
          "Aggregates"
        ],
        "parameters": [
          {
            "name": "stocksTicker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ticker symbol of the stock/equity"
          },
          {
            "name": "multiplier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The size of the timespan multiplier"
          },
          {
            "name": "timespan",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month",
                "quarter",
                "year"
              ]
            },
            "description": "The size of the time window"
          },
          {
            "name": "from",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The start of the aggregate time window (YYYY-MM-DD)"
          },
          {
            "name": "to",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The end of the aggregate time window (YYYY-MM-DD)"
          },
          {
            "name": "adjusted",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Whether the results are adjusted for splits"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort the results by timestamp"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 5000,
              "maximum": 50000
            },
            "description": "Limit the number of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ticker": {
                      "type": "string"
                    },
                    "adjusted": {
                      "type": "boolean"
                    },
                    "queryCount": {
                      "type": "integer"
                    },
                    "resultsCount": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "v": {
                            "type": "number",
                            "description": "Volume"
                          },
                          "vw": {
                            "type": "number",
                            "description": "Volume weighted average price"
                          },
                          "o": {
                            "type": "number",
                            "description": "Open price"
                          },
                          "c": {
                            "type": "number",
                            "description": "Close price"
                          },
                          "h": {
                            "type": "number",
                            "description": "High price"
                          },
                          "l": {
                            "type": "number",
                            "description": "Low price"
                          },
                          "t": {
                            "type": "integer",
                            "description": "Timestamp (milliseconds since epoch)"
                          },
                          "n": {
                            "type": "integer",
                            "description": "Number of transactions"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/aggs/grouped/locale/us/market/stocks/{date}": {
      "get": {
        "summary": "Get Daily Market Summary",
        "description": "Get the daily open, high, low, and close (OHLC) for the entire stocks market.",
        "operationId": "getDailyMarketSummary",
        "tags": [
          "Aggregates"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The date of the aggregates (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v2/last/trade/{stocksTicker}": {
      "get": {
        "summary": "Get Last Trade",
        "description": "Get the most recent trade for a given stock.",
        "operationId": "getLastTrade",
        "tags": [
          "Trades"
        ],
        "parameters": [
          {
            "name": "stocksTicker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ticker symbol of the stock"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v3/trades/{stocksTicker}": {
      "get": {
        "summary": "Get Trades",
        "description": "Get trades for a ticker symbol in a given time range.",
        "operationId": "getTrades",
        "tags": [
          "Trades"
        ],
        "parameters": [
          {
            "name": "stocksTicker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ticker symbol"
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Query by trade timestamp"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v2/last/nbbo/{stocksTicker}": {
      "get": {
        "summary": "Get Last Quote",
        "description": "Get the most recent NBBO (Quote) for a given stock.",
        "operationId": "getLastQuote",
        "tags": [
          "Quotes"
        ],
        "parameters": [
          {
            "name": "stocksTicker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ticker symbol"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v3/quotes/{stocksTicker}": {
      "get": {
        "summary": "Get Quotes",
        "description": "Get NBBO quotes for a ticker symbol in a given time range.",
        "operationId": "getQuotes",
        "tags": [
          "Quotes"
        ],
        "parameters": [
          {
            "name": "stocksTicker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 50000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v2/snapshot/locale/us/markets/stocks/tickers": {
      "get": {
        "summary": "Get Full Market Snapshot",
        "description": "Get the current minute, day, and previous day's aggregate, as well as the last trade and quote for all traded stock symbols.",
        "operationId": "getFullMarketSnapshot",
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "name": "tickers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "A comma separated list of tickers to get snapshots for"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v2/snapshot/locale/us/markets/stocks/tickers/{stocksTicker}": {
      "get": {
        "summary": "Get Single Ticker Snapshot",
        "description": "Get the most up-to-date market data for a given stock.",
        "operationId": "getSingleTickerSnapshot",
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "name": "stocksTicker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v2/snapshot/locale/us/markets/stocks/{direction}": {
      "get": {
        "summary": "Get Top Market Movers",
        "description": "Get the top 20 gainers or losers of the day in the stock market.",
        "operationId": "getTopMarketMovers",
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "gainers",
                "losers"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v1/indicators/sma/{stocksTicker}": {
      "get": {
        "summary": "Get Simple Moving Average (SMA)",
        "description": "Get the simple moving average (SMA) for a ticker symbol over a given time range.",
        "operationId": "getSMA",
        "tags": [
          "Technical Indicators"
        ],
        "parameters": [
          {
            "name": "stocksTicker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "timespan",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month"
              ]
            }
          },
          {
            "name": "window",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "The window size for the moving average"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v1/indicators/ema/{stocksTicker}": {
      "get": {
        "summary": "Get Exponential Moving Average (EMA)",
        "description": "Get the exponential moving average (EMA) for a ticker symbol.",
        "operationId": "getEMA",
        "tags": [
          "Technical Indicators"
        ],
        "parameters": [
          {
            "name": "stocksTicker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "timespan",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month"
              ]
            }
          },
          {
            "name": "window",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v1/indicators/macd/{stocksTicker}": {
      "get": {
        "summary": "Get MACD",
        "description": "Get the moving average convergence divergence (MACD) for a ticker symbol.",
        "operationId": "getMACD",
        "tags": [
          "Technical Indicators"
        ],
        "parameters": [
          {
            "name": "stocksTicker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "timespan",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v1/indicators/rsi/{stocksTicker}": {
      "get": {
        "summary": "Get RSI",
        "description": "Get the relative strength index (RSI) for a ticker symbol.",
        "operationId": "getRSI",
        "tags": [
          "Technical Indicators"
        ],
        "parameters": [
          {
            "name": "stocksTicker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "timespan",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "hour",
                "day",
                "week",
                "month"
              ]
            }
          },
          {
            "name": "window",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 14
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v3/reference/tickers": {
      "get": {
        "summary": "Get All Tickers",
        "description": "Query all ticker symbols which are supported by Massive.",
        "operationId": "getAllTickers",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by ticker symbol"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by ticker type (CS, ETF, etc.)"
          },
          {
            "name": "market",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "stocks"
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v3/reference/tickers/{ticker}": {
      "get": {
        "summary": "Get Ticker Details",
        "description": "Get a single ticker with detailed information.",
        "operationId": "getTickerDetails",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v2/reference/dividends/{stocksTicker}": {
      "get": {
        "summary": "Get Dividends",
        "description": "Get historical dividend information for a stock.",
        "operationId": "getDividends",
        "tags": [
          "Corporate Actions"
        ],
        "parameters": [
          {
            "name": "stocksTicker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/v3/reference/splits": {
      "get": {
        "summary": "Get Stock Splits",
        "description": "Get a list of historical stock splits.",
        "operationId": "getStockSplits",
        "tags": [
          "Corporate Actions"
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "execution_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/vX/reference/news": {
      "get": {
        "summary": "Get News",
        "description": "Get the most recent news articles relating to a stock ticker symbol.",
        "operationId": "getNews",
        "tags": [
          "News"
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "published_utc",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API key for authentication. Can also be provided via Authorization header as 'Bearer {apiKey}'"
      }
    }
  },
  "tags": [
    {
      "name": "Aggregates",
      "description": "Historical OHLC data and aggregate bars"
    },
    {
      "name": "Trades",
      "description": "Trade data and tick-level information"
    },
    {
      "name": "Quotes",
      "description": "NBBO quote data"
    },
    {
      "name": "Snapshots",
      "description": "Real-time market snapshots"
    },
    {
      "name": "Technical Indicators",
      "description": "Technical analysis indicators (SMA, EMA, MACD, RSI)"
    },
    {
      "name": "Reference Data",
      "description": "Ticker symbols and market reference data"
    },
    {
      "name": "Corporate Actions",
      "description": "Dividends, splits, and other corporate actions"
    },
    {
      "name": "News",
      "description": "News articles and sentiment data"
    }
  ]
}