{
  "openapi": "3.0.3",
  "info": {
    "title": "Coinigy API",
    "description": "Coinigy's REST API allows you to interact with your Coinigy account and exchange accounts directly, to refresh balances, place and cancel orders, set and cancel alerts, and poll for market data.",
    "version": "1.0.0",
    "contact": {
      "name": "Coinigy Inc",
      "url": "https://coinigy.docs.apiary.io"
    }
  },
  "servers": [
    {
      "url": "https://api.coinigy.com/api/v1",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "apiKey": [],
      "apiSecret": []
    }
  ],
  "paths": {
    "/userInfo": {
      "post": {
        "tags": [
          "Account Data"
        ],
        "summary": "Get User Info",
        "description": "Returns user account information including email, login status, chat settings, and ticker preferences.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-userinfo"
      }
    },
    "/activity": {
      "post": {
        "tags": [
          "Account Data"
        ],
        "summary": "Get Activity Log",
        "description": "Returns account activity log including logins and other events.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-activity"
      }
    },
    "/pushNotifications": {
      "get": {
        "tags": [
          "Account Data"
        ],
        "summary": "Get Push Notifications",
        "description": "Returns push notification settings.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "operationId": "get-pushnotifications"
      }
    },
    "/accounts": {
      "post": {
        "tags": [
          "Account Data"
        ],
        "summary": "Get Accounts",
        "description": "Returns list of linked exchange accounts.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-accounts"
      }
    },
    "/balances": {
      "post": {
        "tags": [
          "Account Data"
        ],
        "summary": "Get Balances",
        "description": "Returns account balances across all linked exchanges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "show_nils": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "description": "Show zero balances"
                  },
                  "auth_ids": {
                    "type": "string",
                    "description": "Comma-separated auth IDs to filter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-balances"
      }
    },
    "/balanceHistory": {
      "post": {
        "tags": [
          "Account Data"
        ],
        "summary": "Get Balance History",
        "description": "Returns balance history for a specific date.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Date in YYYY-MM-DD format"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-balancehistory"
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "Account Data"
        ],
        "summary": "Get Orders",
        "description": "Returns open orders across all linked exchanges.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-orders"
      }
    },
    "/alerts": {
      "post": {
        "tags": [
          "Account Data"
        ],
        "summary": "Get Alerts",
        "description": "Returns open price alerts.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-alerts"
      }
    },
    "/userWatchList": {
      "post": {
        "tags": [
          "Account Data"
        ],
        "summary": "Get Watch List",
        "description": "Returns user's watched markets.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-userwatchlist"
      }
    },
    "/newsFeed": {
      "post": {
        "tags": [
          "Account Data"
        ],
        "summary": "Get News Feed",
        "description": "Returns cryptocurrency news feed.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-newsfeed"
      }
    },
    "/updateUser": {
      "post": {
        "tags": [
          "Account Functions"
        ],
        "summary": "Update User",
        "description": "Update user profile information.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "company": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "street1": {
                    "type": "string"
                  },
                  "street2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "zip": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          }
        },
        "operationId": "post-updateuser"
      }
    },
    "/savePrefs": {
      "post": {
        "tags": [
          "Account Functions"
        ],
        "summary": "Save Preferences",
        "description": "Update notification preferences.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "alert_email": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "alert_sms": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "trade_email": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "trade_sms": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "balance_email": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          }
        },
        "operationId": "post-saveprefs"
      }
    },
    "/updateTickers": {
      "post": {
        "tags": [
          "Account Functions"
        ],
        "summary": "Update Tickers",
        "description": "Update ticker display settings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "exch_mkt_ids": {
                    "type": "string",
                    "description": "Comma-separated exchange market IDs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          }
        },
        "operationId": "post-updatetickers"
      }
    },
    "/orderTypes": {
      "post": {
        "tags": [
          "Account Functions"
        ],
        "summary": "Get Order Types",
        "description": "Returns available order types.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-ordertypes"
      }
    },
    "/refreshBalance": {
      "post": {
        "tags": [
          "Account Functions"
        ],
        "summary": "Refresh Balance",
        "description": "Refresh balances for a linked exchange account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "auth_id"
                ],
                "properties": {
                  "auth_id": {
                    "type": "integer",
                    "description": "Exchange account auth ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-refreshbalance"
      }
    },
    "/addAlert": {
      "post": {
        "tags": [
          "Account Functions"
        ],
        "summary": "Add Alert",
        "description": "Create a new price alert.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "exch_code",
                  "market_name",
                  "alert_price"
                ],
                "properties": {
                  "exch_code": {
                    "type": "string",
                    "description": "Exchange code"
                  },
                  "market_name": {
                    "type": "string",
                    "description": "Market pair, e.g. BTC/USD"
                  },
                  "alert_price": {
                    "type": "number",
                    "description": "Alert trigger price"
                  },
                  "alert_note": {
                    "type": "string",
                    "description": "Optional alert message"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          }
        },
        "operationId": "post-addalert"
      }
    },
    "/deleteAlert": {
      "post": {
        "tags": [
          "Account Functions"
        ],
        "summary": "Delete Alert",
        "description": "Delete an existing price alert.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "alert_id"
                ],
                "properties": {
                  "alert_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          }
        },
        "operationId": "post-deletealert"
      }
    },
    "/addApiKey": {
      "post": {
        "tags": [
          "Account Functions"
        ],
        "summary": "Add API Key",
        "description": "Link a new exchange account via API key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "api_secret",
                  "api_exch_id",
                  "api_nickname"
                ],
                "properties": {
                  "api_key": {
                    "type": "string"
                  },
                  "api_secret": {
                    "type": "string"
                  },
                  "api_exch_id": {
                    "type": "integer",
                    "description": "Exchange ID"
                  },
                  "api_nickname": {
                    "type": "string",
                    "description": "Friendly name for the account"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          }
        },
        "operationId": "post-addapikey"
      }
    },
    "/deleteApiKey": {
      "post": {
        "tags": [
          "Account Functions"
        ],
        "summary": "Delete API Key",
        "description": "Remove a linked exchange account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "auth_id"
                ],
                "properties": {
                  "auth_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          }
        },
        "operationId": "post-deleteapikey"
      }
    },
    "/activateApiKey": {
      "post": {
        "tags": [
          "Account Functions"
        ],
        "summary": "Activate API Key",
        "description": "Activate or deactivate a linked exchange account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "auth_id",
                  "auth_active"
                ],
                "properties": {
                  "auth_id": {
                    "type": "integer"
                  },
                  "auth_active": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          }
        },
        "operationId": "post-activateapikey"
      }
    },
    "/activateTradingKey": {
      "post": {
        "tags": [
          "Account Functions"
        ],
        "summary": "Activate Trading",
        "description": "Enable or disable trading for a linked exchange account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "auth_id",
                  "auth_trade"
                ],
                "properties": {
                  "auth_id": {
                    "type": "integer"
                  },
                  "auth_trade": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          }
        },
        "operationId": "post-activatetradingkey"
      }
    },
    "/addOrder": {
      "post": {
        "tags": [
          "Account Functions"
        ],
        "summary": "Place Order",
        "description": "Place an order on a linked exchange.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "auth_id",
                  "exch_id",
                  "mkt_id",
                  "order_type_id",
                  "price_type_id",
                  "limit_price",
                  "order_quantity"
                ],
                "properties": {
                  "auth_id": {
                    "type": "integer",
                    "description": "Exchange account auth ID"
                  },
                  "exch_id": {
                    "type": "integer",
                    "description": "Exchange ID"
                  },
                  "mkt_id": {
                    "type": "integer",
                    "description": "Market ID"
                  },
                  "order_type_id": {
                    "type": "integer",
                    "description": "Order type (1=Buy, 2=Sell)"
                  },
                  "price_type_id": {
                    "type": "integer",
                    "description": "Price type ID"
                  },
                  "limit_price": {
                    "type": "number",
                    "description": "Limit price"
                  },
                  "order_quantity": {
                    "type": "number",
                    "description": "Order quantity"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          }
        },
        "operationId": "post-addorder"
      }
    },
    "/cancelOrder": {
      "post": {
        "tags": [
          "Account Functions"
        ],
        "summary": "Cancel Order",
        "description": "Cancel an open order on a linked exchange.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "internal_order_id"
                ],
                "properties": {
                  "internal_order_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponse"
                }
              }
            }
          }
        },
        "operationId": "post-cancelorder"
      }
    },
    "/exchanges": {
      "post": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get Exchanges",
        "description": "Returns list of supported exchanges.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-exchanges"
      }
    },
    "/markets": {
      "post": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get Markets",
        "description": "Returns list of markets for a given exchange.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "exchange_code"
                ],
                "properties": {
                  "exchange_code": {
                    "type": "string",
                    "description": "Exchange code, e.g. GDAX"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-markets"
      }
    },
    "/data": {
      "post": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get Market Data",
        "description": "Returns market data including trade history, order book (asks/bids), or all data combined.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "exchange_code",
                  "exchange_market",
                  "type"
                ],
                "properties": {
                  "exchange_code": {
                    "type": "string",
                    "description": "Exchange code, e.g. GDAX"
                  },
                  "exchange_market": {
                    "type": "string",
                    "description": "Market pair, e.g. BTC/USD"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "history",
                      "asks",
                      "bids",
                      "orders",
                      "all"
                    ],
                    "description": "Type of data to return"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-data"
      }
    },
    "/ticker": {
      "post": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get Ticker",
        "description": "Returns current ticker data for a market.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "exchange_code",
                  "exchange_market"
                ],
                "properties": {
                  "exchange_code": {
                    "type": "string"
                  },
                  "exchange_market": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          }
        },
        "operationId": "post-ticker"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "Coinigy API key"
      },
      "apiSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-SECRET",
        "description": "Coinigy API secret"
      }
    },
    "schemas": {
      "DataResponse": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Response data (array or object depending on endpoint"
          },
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notification"
            }
          }
        }
      },
      "NotificationResponse": {
        "type": "object",
        "properties": {
          "data": {},
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notification"
            }
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "notification_id": {
            "type": "string"
          },
          "notification_type_title": {
            "type": "string"
          },
          "notification_type_message": {
            "type": "string"
          },
          "notification_style": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Account Data"
    },
    {
      "name": "Account Functions"
    },
    {
      "name": "Market Data"
    }
  ]
}
