{
  "openapi": "3.0.3",
  "info": {
    "title": "Query Vary API",
    "version": "1.0.0",
    "description": "Query Vary API for sending prompts to AI templates and retrieving AI-generated responses with token usage metrics.",
    "x-jentic-source-url": "https://docs.queryvary.com/docs/getting-started",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.queryvary.com"
    }
  ],
  "paths": {
    "/qv1/chat": {
      "post": {
        "operationId": "sendChat",
        "summary": "Send Chat Message",
        "description": "Send a prompt to a template and receive AI-generated responses with token metrics",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatRequest": {
        "type": "object",
        "required": [
          "prompt",
          "template_key",
          "prompt_variation_id",
          "prompt_version_id"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "The user prompt"
          },
          "template_key": {
            "type": "string",
            "description": "Template identifier"
          },
          "prompt_variation_id": {
            "type": "string",
            "description": "Prompt variation ID"
          },
          "prompt_version_id": {
            "type": "string",
            "description": "Prompt version ID"
          },
          "chat_id": {
            "type": "string",
            "description": "Optional chat session ID"
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "chat_id": {
                "type": "string"
              },
              "messageId": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "total_tokens": {
                "type": "integer"
              },
              "completion_tokens": {
                "type": "integer"
              },
              "total_cost": {
                "type": "number"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Chat"
    }
  ]
}
