{
  "openapi": "3.0.3",
  "info": {
    "title": "SuperHero API",
    "description": "The SuperHero API provides quantified data on superheroes and villains from various comic book universes. Access detailed information including power stats, biography, appearance, work, connections, and images for over 700 characters.",
    "version": "1.0.0",
    "contact": {
      "name": "SuperHero API",
      "url": "https://superheroapi.com"
    },
    "x-jentic-source-url": "https://superheroapi.com"
  },
  "servers": [
    {
      "url": "https://superheroapi.com/api/{access-token}",
      "description": "SuperHero API Server",
      "variables": {
        "access-token": {
          "default": "YOUR_ACCESS_TOKEN",
          "description": "Access token obtained by signing in with a GitHub account"
        }
      }
    }
  ],
  "security": [
    {
      "accessToken": []
    }
  ],
  "tags": [
    {
      "name": "Characters",
      "description": "Retrieve superhero and villain character data"
    },
    {
      "name": "Search",
      "description": "Search for characters by name"
    }
  ],
  "paths": {
    "/{id}": {
      "get": {
        "operationId": "getCharacterById",
        "summary": "Get complete character data",
        "description": "Retrieves all available data for a character by their unique ID, including power stats, biography, appearance, work, connections, and image.",
        "tags": ["Characters"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the character",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with complete character data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Character"
                }
              }
            }
          },
          "404": {
            "description": "Character not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{id}/powerstats": {
      "get": {
        "operationId": "getCharacterPowerstats",
        "summary": "Get character power stats",
        "description": "Retrieves the power statistics for a character including intelligence, strength, speed, durability, power, and combat ratings.",
        "tags": ["Characters"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the character",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with power stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PowerstatsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Character not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{id}/biography": {
      "get": {
        "operationId": "getCharacterBiography",
        "summary": "Get character biography",
        "description": "Retrieves biographical information for a character including full name, alter egos, aliases, place of birth, first appearance, publisher, and alignment.",
        "tags": ["Characters"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the character",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with biography",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BiographyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Character not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{id}/appearance": {
      "get": {
        "operationId": "getCharacterAppearance",
        "summary": "Get character appearance",
        "description": "Retrieves physical appearance details for a character including gender, race, height, weight, eye color, and hair color.",
        "tags": ["Characters"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the character",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with appearance data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppearanceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Character not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{id}/work": {
      "get": {
        "operationId": "getCharacterWork",
        "summary": "Get character work information",
        "description": "Retrieves occupation and base of operations for a character.",
        "tags": ["Characters"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the character",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with work data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkResponse"
                }
              }
            }
          },
          "404": {
            "description": "Character not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{id}/connections": {
      "get": {
        "operationId": "getCharacterConnections",
        "summary": "Get character connections",
        "description": "Retrieves group affiliations and relatives for a character.",
        "tags": ["Characters"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the character",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with connections data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Character not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{id}/image": {
      "get": {
        "operationId": "getCharacterImage",
        "summary": "Get character image",
        "description": "Retrieves the image URL for a character.",
        "tags": ["Characters"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the character",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with image URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "404": {
            "description": "Character not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/{name}": {
      "get": {
        "operationId": "searchCharacters",
        "summary": "Search characters by name",
        "description": "Searches for characters matching the given name. Returns an array of matching characters with their full profiles.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The name or partial name to search for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with matching characters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "404": {
            "description": "No characters found matching the search",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessToken": {
        "type": "apiKey",
        "in": "query",
        "name": "access-token",
        "description": "Access token obtained by authenticating with a GitHub account at superheroapi.com"
      }
    },
    "schemas": {
      "Powerstats": {
        "type": "object",
        "properties": {
          "intelligence": {
            "type": "string",
            "description": "Intelligence rating"
          },
          "strength": {
            "type": "string",
            "description": "Strength rating"
          },
          "speed": {
            "type": "string",
            "description": "Speed rating"
          },
          "durability": {
            "type": "string",
            "description": "Durability rating"
          },
          "power": {
            "type": "string",
            "description": "Power rating"
          },
          "combat": {
            "type": "string",
            "description": "Combat rating"
          }
        }
      },
      "Biography": {
        "type": "object",
        "properties": {
          "full-name": {
            "type": "string",
            "description": "Full name of the character"
          },
          "alter-egos": {
            "type": "string",
            "description": "Alter egos of the character"
          },
          "aliases": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Known aliases"
          },
          "place-of-birth": {
            "type": "string",
            "description": "Place of birth"
          },
          "first-appearance": {
            "type": "string",
            "description": "First comic book appearance"
          },
          "publisher": {
            "type": "string",
            "description": "Comic book publisher"
          },
          "alignment": {
            "type": "string",
            "description": "Character alignment (good, bad, neutral)"
          }
        }
      },
      "Appearance": {
        "type": "object",
        "properties": {
          "gender": {
            "type": "string",
            "description": "Gender of the character"
          },
          "race": {
            "type": "string",
            "description": "Race/species of the character"
          },
          "height": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Height in different units"
          },
          "weight": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Weight in different units"
          },
          "eye-color": {
            "type": "string",
            "description": "Eye color"
          },
          "hair-color": {
            "type": "string",
            "description": "Hair color"
          }
        }
      },
      "Work": {
        "type": "object",
        "properties": {
          "occupation": {
            "type": "string",
            "description": "Character occupation"
          },
          "base": {
            "type": "string",
            "description": "Base of operations"
          }
        }
      },
      "Connections": {
        "type": "object",
        "properties": {
          "group-affiliation": {
            "type": "string",
            "description": "Groups the character belongs to"
          },
          "relatives": {
            "type": "string",
            "description": "Known relatives"
          }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the character image"
          }
        }
      },
      "Character": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "Response status (success or error)"
          },
          "id": {
            "type": "string",
            "description": "Character unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Character name"
          },
          "powerstats": {
            "$ref": "#/components/schemas/Powerstats"
          },
          "biography": {
            "$ref": "#/components/schemas/Biography"
          },
          "appearance": {
            "$ref": "#/components/schemas/Appearance"
          },
          "work": {
            "$ref": "#/components/schemas/Work"
          },
          "connections": {
            "$ref": "#/components/schemas/Connections"
          },
          "image": {
            "$ref": "#/components/schemas/Image"
          }
        }
      },
      "PowerstatsResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "powerstats": {
            "$ref": "#/components/schemas/Powerstats"
          }
        }
      },
      "BiographyResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "biography": {
            "$ref": "#/components/schemas/Biography"
          }
        }
      },
      "AppearanceResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "appearance": {
            "$ref": "#/components/schemas/Appearance"
          }
        }
      },
      "WorkResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "work": {
            "$ref": "#/components/schemas/Work"
          }
        }
      },
      "ConnectionsResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "connections": {
            "$ref": "#/components/schemas/Connections"
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image": {
            "$ref": "#/components/schemas/Image"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string"
          },
          "results-for": {
            "type": "string",
            "description": "The search term used"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Character"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "example": "error"
          },
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong"
          }
        }
      }
    }
  }
}
