{
  "openapi": "3.0.3",
  "info": {
    "title": "Firmafy API",
    "version": "1.0.0",
    "description": "Firmafy is the electronic signature solution with legal validity that allows companies to send and sign documents in compliance with the eIDAS regulation.",
    "contact": {
      "url": "https://firmafy.com"
    },
    "x-jentic-source-url": "https://firmafy.com/nuestra-api/"
  },
  "servers": [
    {
      "url": "https://app.firmafy.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/ApplicationProgrammingInterface.php": {
      "post": {
        "summary": "Firmafy API endpoint",
        "description": "Single endpoint API. The 'action' parameter in the request body determines the operation. Supported actions: login, request, emailrequest, smsrequest, webhook, invalidar_documento, balance.",
        "operationId": "postApiAction",
        "tags": [
          "Authentication",
          "Signatures",
          "Certified Communications",
          "Webhooks",
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "login",
                      "request",
                      "emailrequest",
                      "smsrequest",
                      "webhook",
                      "invalidar_documento",
                      "balance"
                    ],
                    "description": "Action to perform"
                  },
                  "usuario": {
                    "type": "string",
                    "description": "Username (for login)"
                  },
                  "password": {
                    "type": "string",
                    "description": "Password (for login)"
                  },
                  "token": {
                    "type": "string",
                    "description": "Auth token (for all actions except login)"
                  },
                  "id_show": {
                    "type": "string",
                    "description": "Public key identifier"
                  },
                  "signer1": {
                    "type": "string",
                    "description": "JSON array of signers (for request)"
                  },
                  "pdf": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF file upload (for request)"
                  },
                  "pdf_base64": {
                    "type": "string",
                    "description": "Base64 encoded PDF (for request)"
                  },
                  "pdf_url": {
                    "type": "string",
                    "description": "Public PDF URL (for request)"
                  },
                  "document_lang": {
                    "type": "string",
                    "enum": [
                      "ES",
                      "EN",
                      "IT",
                      "CA",
                      "FR"
                    ]
                  },
                  "template_name": {
                    "type": "string"
                  },
                  "coordenadas": {
                    "type": "string",
                    "description": "JSON array of signature coordinates"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "cco": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string",
                    "description": "JSON object with recipient details"
                  },
                  "signer_priority": {
                    "type": "boolean"
                  },
                  "mail_notification": {
                    "type": "boolean"
                  },
                  "fecha_vencimiento": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "reply-to": {
                    "type": "string",
                    "format": "email"
                  },
                  "type": {
                    "type": "integer",
                    "description": "Webhook event type"
                  },
                  "method": {
                    "type": "integer",
                    "description": "Webhook delivery method"
                  },
                  "url_webhook": {
                    "type": "string",
                    "format": "uri"
                  },
                  "csv": {
                    "type": "string",
                    "description": "Document CSV identifier"
                  },
                  "lang": {
                    "type": "string",
                    "enum": [
                      "ES",
                      "EN",
                      "IT",
                      "FR",
                      "CA"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "Token obtained from the login endpoint"
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "action",
          "usuario",
          "password"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "login"
            ],
            "description": "Action to perform"
          },
          "usuario": {
            "type": "string",
            "description": "Firmafy username"
          },
          "password": {
            "type": "string",
            "description": "Firmafy password"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "data": {
            "type": "string",
            "description": "Authentication token"
          }
        }
      },
      "SignatureRequest": {
        "type": "object",
        "required": [
          "action",
          "token",
          "id_show",
          "signer1"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "request"
            ]
          },
          "token": {
            "type": "string",
            "description": "Authentication token"
          },
          "id_show": {
            "type": "string",
            "description": "Public key identifier"
          },
          "signer1": {
            "type": "string",
            "description": "JSON array of signers with name, email, phone, etc."
          },
          "pdf_base64": {
            "type": "string",
            "description": "Base64-encoded PDF document"
          },
          "pdf_url": {
            "type": "string",
            "description": "Public URL to PDF document"
          },
          "document_lang": {
            "type": "string",
            "enum": [
              "ES",
              "EN",
              "IT",
              "CA",
              "FR"
            ],
            "description": "Document language"
          },
          "template_name": {
            "type": "string",
            "description": "Template identifier"
          },
          "coordenadas": {
            "type": "string",
            "description": "JSON array of signature box coordinates"
          },
          "subject": {
            "type": "string",
            "description": "Email subject"
          },
          "message": {
            "type": "string",
            "description": "Email message body"
          },
          "cco": {
            "type": "string",
            "description": "CC email addresses"
          },
          "signer_priority": {
            "type": "boolean",
            "description": "Enable sequential signing"
          },
          "mail_notification": {
            "type": "boolean",
            "description": "Toggle email notification"
          },
          "fecha_vencimiento": {
            "type": "string",
            "format": "date-time",
            "description": "Expiration date (Y-m-d H:i:s)"
          },
          "reply-to": {
            "type": "string",
            "format": "email",
            "description": "Reply-to email address"
          }
        }
      },
      "SignatureResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "string",
            "description": "CSV identifier for the document"
          }
        }
      },
      "CertifiedEmailRequest": {
        "type": "object",
        "required": [
          "action",
          "token",
          "id_show",
          "subject",
          "body",
          "to"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "emailrequest"
            ]
          },
          "token": {
            "type": "string"
          },
          "id_show": {
            "type": "string"
          },
          "subject": {
            "type": "string",
            "description": "Email subject"
          },
          "body": {
            "type": "string",
            "description": "Email body (HTML supported)"
          },
          "to": {
            "type": "string",
            "description": "JSON object with recipient name and email"
          },
          "lang": {
            "type": "string",
            "enum": [
              "ES",
              "EN",
              "IT",
              "FR",
              "CA"
            ]
          },
          "reply-to": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "CertifiedSmsRequest": {
        "type": "object",
        "required": [
          "action",
          "token",
          "id_show",
          "body",
          "to"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "smsrequest"
            ]
          },
          "token": {
            "type": "string"
          },
          "id_show": {
            "type": "string"
          },
          "body": {
            "type": "string",
            "description": "Message text (max 160 chars)"
          },
          "to": {
            "type": "string",
            "description": "JSON object with recipient name, country code, phone"
          },
          "lang": {
            "type": "string",
            "enum": [
              "ES",
              "EN",
              "IT",
              "FR",
              "CA"
            ]
          }
        }
      },
      "WebhookRequest": {
        "type": "object",
        "required": [
          "action",
          "id_show",
          "token",
          "type",
          "method",
          "url_webhook"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "webhook"
            ]
          },
          "id_show": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "type": {
            "type": "integer",
            "description": "Event type: 1=signed, 2=partial signature, 5=redelivery"
          },
          "method": {
            "type": "integer",
            "description": "Delivery method: 1=POST array, 2=JSON"
          },
          "url_webhook": {
            "type": "string",
            "format": "uri",
            "description": "Webhook callback URL"
          }
        }
      },
      "InvalidateRequest": {
        "type": "object",
        "required": [
          "action",
          "token",
          "csv"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "invalidar_documento"
            ]
          },
          "token": {
            "type": "string"
          },
          "csv": {
            "type": "string",
            "description": "Document CSV identifier"
          }
        }
      },
      "BalanceRequest": {
        "type": "object",
        "required": [
          "action",
          "id_show",
          "token"
        ],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "balance"
            ]
          },
          "id_show": {
            "type": "string"
          },
          "token": {
            "type": "string"
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "credits": {
            "type": "integer"
          },
          "sms": {
            "type": "integer"
          },
          "mb": {
            "type": "number"
          },
          "days": {
            "type": "integer"
          }
        }
      },
      "GenericResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {}
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Login and token management"
    },
    {
      "name": "Signatures",
      "description": "Electronic signature operations"
    },
    {
      "name": "Certified Communications",
      "description": "Certified email and SMS"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscription management"
    },
    {
      "name": "Account",
      "description": "Account and balance information"
    }
  ]
}