{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "ti@tsprecuperadora.com.br"
    },
    "description": "Esta é a documentação disponibilizada para utilização da Talktelecom , para obtenção de dados , geração de acordos e inclusão de históricos.",
    "title": "Integração Talktelecom TSP",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/TSP7/Agente_Virtual_TSP/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.tsprecuperadora.com.br/"
    }
  ],
  "paths": {
    "/detalhes_divida_parcelado/{id_contrato}/{qntd_parcelas}/{valor_entrada}": {
      "get": {
        "parameters": [
          {
            "description": "informar o ID do contrato",
            "in": "path",
            "name": "id_contrato",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "informar a quantidade de parcelas a ser calculado",
            "in": "path",
            "name": "qntd_parcelas",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "informar o valor da entrada",
            "in": "path",
            "name": "valor_entrada",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetalhesDividaParcelado"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetalhesDividaParceladoErro"
                }
              }
            },
            "description": "Exemplo de retorno mal sucedido"
          }
        },
        "tags": [
          "Dados"
        ],
        "description": "Informa os valores da opção parcelada do contrato, baseando-se na quantidade de parcelas e valor de entrada informados.",
        "operationId": "detalhesDividaParcelado",
        "summary": "detalhesDividaParelado"
      }
    },
    "/gera_acordo/{opcao}/{id_contrato}": {
      "get": {
        "parameters": [
          {
            "description": "informar a opção, a = atualização , q = quitação ou u = avulso",
            "in": "path",
            "name": "opcao",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "informar o ID do contrato para qual será formalizado a negociação",
            "in": "path",
            "name": "id_contrato",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeraNegociacao"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NaoPossivelNegociacao"
                }
              }
            },
            "description": "Não foi possível gerar uma negociação para este contrato"
          }
        },
        "tags": [
          "Negociação"
        ],
        "description": "Através da opção escolhida (a=atualização , q=quitação e u=avulso) é gerado um acordo pa o contrato informado. O percentual de desconto aplicado é de 80%.",
        "operationId": "geraNegociacao",
        "summary": "geraNegociacao"
      }
    },
    "/gera_negociacao_parcelado/{id_contrato}/{qntd_parcelas}/{valor_entrada}": {
      "get": {
        "parameters": [
          {
            "description": "informar o ID do contrato para qual será formalizado a negociação",
            "in": "path",
            "name": "id_contrato",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "informar a quantidade de parcelas a ser calculado",
            "in": "path",
            "name": "qntd_parcelas",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "informar o valor da entrada (primeira parcela)",
            "in": "path",
            "name": "valor_entrada",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeraNegociacaoParcelada"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "tags": [
          "Negociação"
        ],
        "description": "Emite o acordo de forma parcelada, mediante quantidade de parcelas e valor de entrada informados. O percentual de desconto aplicado é de 80%.",
        "operationId": "geraNegociacaoParcelada",
        "summary": "geraNegociacaoParcelada"
      }
    },
    "/historico/{id_contrato}/{id_ocorrencia}/{observacao}/{telefone}": {
      "get": {
        "parameters": [
          {
            "description": "informar o id do contrato",
            "in": "path",
            "name": "id_contrato",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "informar o id da ocorrência",
            "in": "path",
            "name": "id_ocorrencia",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "informar a observação",
            "in": "path",
            "name": "observacao",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "informar o telefone",
            "in": "path",
            "name": "telefone",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Historico"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NaoPossivelHistorico"
                }
              }
            },
            "description": "Não foi possível obter os valores da negociação"
          }
        },
        "tags": [
          "Histórico"
        ],
        "description": "Adiciona um histórico informando o Id Contrato em questão, o Id da Ocorrência e o texto que será incluído na observação.",
        "operationId": "adicionaHistorico",
        "summary": "adicionaHistorico"
      }
    },
    "/valores_negociacao/{contrato}": {
      "get": {
        "parameters": [
          {
            "description": "informar o número do contrato",
            "in": "path",
            "name": "contrato",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetalhesDivida"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NaoPossivel"
                }
              }
            },
            "description": "Não foi possível obter os valores da negociação"
          }
        },
        "tags": [
          "Dados"
        ],
        "description": "Obtém o CPF, os valores da dívida e de negociação para quitação, atualização (caso não tenha essa opção o campo atualização é retornado como Null) e acordo avulso, condiderando o vencimento D+2.",
        "operationId": "valoresNegociação",
        "summary": "valoresNegociação"
      }
    }
  },
  "components": {
    "schemas": {
      "DadosAtualizacao": {
        "properties": {
          "quantidade_parcelas": {
            "example": 13,
            "type": "integer"
          },
          "valor": {
            "example": 1015.25,
            "type": "number"
          },
          "vencimento": {
            "example": "2022-04-11",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DadosAvulso": {
        "properties": {
          "quantidade_parcelas": {
            "example": 1,
            "type": "integer"
          },
          "valor": {
            "example": 92.55,
            "type": "number"
          },
          "vencimento": {
            "example": "2022-04-11",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DadosDividaParcelado": {
        "properties": {
          "cpf_cnpj": {
            "example": "12385265470",
            "type": "string"
          },
          "dados_de_negociacao": {
            "items": {
              "properties": {
                "codprodut": {
                  "example": null,
                  "type": "string"
                },
                "desconto": {
                  "example": 0,
                  "type": "number"
                },
                "descontr": {
                  "example": null,
                  "type": "string"
                },
                "despesa": {
                  "example": 0,
                  "type": "number"
                },
                "dtvenc": {
                  "example": "2022-03-04T00:00:00",
                  "type": "string"
                },
                "juros": {
                  "example": 0.52,
                  "type": "number"
                },
                "multa": {
                  "example": 0,
                  "type": "number"
                },
                "parcela": {
                  "example": "1",
                  "type": "string"
                },
                "plano": {
                  "example": "3",
                  "type": "string"
                },
                "principal": {
                  "example": 17.61,
                  "type": "number"
                },
                "receita": {
                  "example": 1.8,
                  "type": "number"
                },
                "repasse": {
                  "example": 16.16,
                  "type": "number"
                },
                "txadm": {
                  "example": 0,
                  "type": "number"
                },
                "vlpago": {
                  "example": 17.96,
                  "type": "number"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "id_contrato": {
            "example": 741852,
            "type": "integer"
          },
          "nome_financiado": {
            "example": "MARIA SILVA",
            "type": "string"
          },
          "numero_contrato": {
            "example": "14785236",
            "type": "string"
          },
          "vl_divida": {
            "example": 47.28,
            "type": "number"
          }
        },
        "type": "object"
      },
      "DadosDividaParceladoErro": {
        "properties": {
          "cpf_cnpj": {
            "example": "12385265470",
            "type": "string"
          },
          "id_contrato": {
            "example": 741852,
            "type": "integer"
          },
          "nome_financiado": {
            "example": "MARIA SILVA",
            "type": "string"
          },
          "numero_contrato": {
            "example": "14785236",
            "type": "string"
          },
          "vl_divida": {
            "example": 47.28,
            "type": "number"
          }
        },
        "type": "object"
      },
      "DadosGerados": {
        "properties": {
          "DataPgtoEntrada": {
            "example": "2022-01-03",
            "type": "string"
          },
          "DataVencimentoProximaParcela": {
            "example": "2021-01-03",
            "type": "string"
          },
          "Id_Acordo": {
            "example": 654321,
            "type": "integer"
          },
          "Id_Agrupamento": {
            "example": 123568,
            "type": "integer"
          },
          "NrAcordo": {
            "example": "1235996",
            "type": "string"
          },
          "Plano": {
            "example": 0,
            "type": "integer"
          },
          "ValorAcordo": {
            "example": 126.85,
            "type": "number"
          },
          "ValorEntrada": {
            "example": 0,
            "type": "number"
          },
          "ValorParcelas": {
            "example": 56.18,
            "type": "number"
          },
          "download_boleto_gerado": {
            "example": "https://api.tsprecuperadora.com.br/download_boleto/123456",
            "type": "string"
          },
          "linha_digitavel": {
            "example": "251615618949456113161549498445213321",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DadosNegociacao": {
        "properties": {
          "atualizacao": {
            "$ref": "#/components/schemas/DadosAtualizacao"
          },
          "avulso": {
            "$ref": "#/components/schemas/DadosAvulso"
          },
          "cpf": {
            "example": "12345678910",
            "type": "string"
          },
          "id_contrato": {
            "example": 12345,
            "type": "integer"
          },
          "plano": {
            "example": 50,
            "type": "number"
          },
          "primeiro_mes": {
            "example": "2021-12-01",
            "type": "string"
          },
          "quitacao": {
            "$ref": "#/components/schemas/DadosQuitacao"
          },
          "valor_divida": {
            "example": 20123.45,
            "type": "number"
          }
        },
        "type": "object"
      },
      "DadosQuitacao": {
        "properties": {
          "quantidade_parcelas": {
            "example": 25,
            "type": "integer"
          },
          "valor": {
            "example": 3400.25,
            "type": "number"
          },
          "vencimento": {
            "example": "2022-04-11",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DetalhesDivida": {
        "properties": {
          "dados": {
            "$ref": "#/components/schemas/DadosNegociacao"
          },
          "mensagem": {
            "example": "Ok.",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "DetalhesDividaParcelado": {
        "properties": {
          "dados": {
            "$ref": "#/components/schemas/DadosDividaParcelado"
          },
          "mensagem": {
            "example": "Ok.",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "DetalhesDividaParceladoErro": {
        "properties": {
          "dados": {
            "$ref": "#/components/schemas/DadosDividaParceladoErro"
          },
          "dados_de_negociacao": {
            "example": [],
            "type": "array"
          },
          "mensagem": {
            "example": "Mensagem de erro",
            "type": "string"
          },
          "sucesso": {
            "example": false,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GeraNegociacao": {
        "properties": {
          "dados": {
            "$ref": "#/components/schemas/DadosGerados"
          },
          "mensagem": {
            "example": "Ok.",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GeraNegociacaoParcelada": {
        "properties": {
          "dados": {
            "example": [
              {
                "DataPgtoEntrada": "2022-03-04",
                "DataVencimentoProximaParcela": "2022-04-04",
                "IdAcordo": 654321,
                "Id_Agrupamento": 123568,
                "NrAcordo": "1235996",
                "Plano": 3,
                "ValorAcordo": 126.85,
                "ValorEntrada": 10.05,
                "ValorParcelas": 12.08,
                "download_boleto_gerado": "https://api.tsprecuperadora.com.br/download_boleto/123456",
                "linha_digitavel": "251615618949456113161549498445213321"
              }
            ],
            "items": {
              "properties": {
                "DataPgtoEntrada": {
                  "type": "string"
                },
                "DataVencimentoProximaParcela": {
                  "type": "string"
                },
                "Id_Acordo": {
                  "type": "integer"
                },
                "Id_Agrupamento": {
                  "type": "integer"
                },
                "NrAcordo": {
                  "type": "string"
                },
                "Plano": {
                  "type": "integer"
                },
                "ValorAcordo": {
                  "type": "number"
                },
                "ValorEntrada": {
                  "type": "number"
                },
                "ValorParcelas": {
                  "type": "number"
                },
                "download_boleto_gerado": {
                  "type": "string"
                },
                "linha_digitavel": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "mensagem": {
            "example": "Ok.",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Historico": {
        "properties": {
          "id_contrato": {
            "example": 123456,
            "type": "integer"
          },
          "mensagem": {
            "example": "Histórico adicionado com sucesso",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "NaoPossivel": {
        "properties": {
          "dados": {
            "example": null
          },
          "mensagem": {
            "example": "Não foi possível recuperar os valores. Entre em contato com a TSP Recuperadora através do 08007242101 ou tente novamente mais tarde.",
            "type": "string"
          },
          "sucesso": {
            "example": false,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "NaoPossivelHistorico": {
        "properties": {
          "id_contrato": {
            "example": 123456,
            "type": "integer"
          },
          "mensagem": {
            "example": "Falha ao adicionar histórico. Verificar informações.",
            "type": "string"
          },
          "sucesso": {
            "example": false,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "NaoPossivelNegociacao": {
        "properties": {
          "dados": {
            "example": null
          },
          "mensagem": {
            "example": "Não foi possível gerar uma negociação para este contrato.",
            "type": "string"
          },
          "sucesso": {
            "example": false,
            "type": "boolean"
          }
        },
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "description": "Dados do cliente",
      "name": "Dados"
    },
    {
      "description": "Valores para negociação",
      "name": "Negociação"
    },
    {
      "description": "Adicionar histórico",
      "name": "Histórico"
    }
  ]
}