{
  "openapi": "3.0.3",
  "info": {
    "title": "4chan API",
    "description": "Read-only JSON API for accessing 4chan board data, thread content, catalogs, archives, and thread listings. All endpoints are publicly accessible with no authentication required. Rate limit: no more than one request per second.",
    "version": "1.0.0",
    "contact": {
      "name": "4chan",
      "url": "https://github.com/4chan/4chan-API"
    },
    "x-jentic-source-url": "https://github.com/4chan/4chan-API"
  },
  "servers": [
    {
      "url": "https://a.4cdn.org",
      "description": "4chan API server"
    }
  ],
  "paths": {
    "/boards.json": {
      "get": {
        "operationId": "getboards",
        "summary": "Get all boards",
        "description": "Returns a list of all boards with their configuration, settings, and metadata.",
        "tags": [
          "Boards"
        ],
        "responses": {
          "200": {
            "description": "List of all boards.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{board}/catalog.json": {
      "get": {
        "operationId": "getboardcatalog",
        "summary": "Get board catalog",
        "description": "Returns the catalog for the specified board, containing all threads organized by page with recent replies.",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "board",
            "in": "path",
            "required": true,
            "description": "The board identifier (e.g., 'po', 'a', 'v').",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Board catalog with threads grouped by page.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CatalogPage"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Board not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{board}/thread/{threadId}.json": {
      "get": {
        "operationId": "getthread",
        "summary": "Get a thread",
        "description": "Returns all posts in a thread, including the original post and all replies with attachments.",
        "tags": [
          "Threads"
        ],
        "parameters": [
          {
            "name": "board",
            "in": "path",
            "required": true,
            "description": "The board identifier (e.g., 'po').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "description": "The original post ID of the thread.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thread with all posts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Thread not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{board}/archive.json": {
      "get": {
        "operationId": "getboardarchive",
        "summary": "Get board archive",
        "description": "Returns an array of archived thread IDs for the specified board. Not all boards have archives enabled.",
        "tags": [
          "Archive"
        ],
        "parameters": [
          {
            "name": "board",
            "in": "path",
            "required": true,
            "description": "The board identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of archived thread OP IDs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Board not found or archive not enabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{board}/threads.json": {
      "get": {
        "operationId": "getboardthreadlist",
        "summary": "Get board thread list",
        "description": "Returns a list of all threads on the board with their IDs, modification timestamps, and reply counts, organized by page.",
        "tags": [
          "Threads"
        ],
        "parameters": [
          {
            "name": "board",
            "in": "path",
            "required": true,
            "description": "The board identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thread list organized by page.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ThreadListPage"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Board not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{board}/{page}.json": {
      "get": {
        "operationId": "getboardindex",
        "summary": "Get board index page",
        "description": "Returns threads on the specified index page of a board, including OP and up to a few recent replies per thread.",
        "tags": [
          "Index"
        ],
        "parameters": [
          {
            "name": "board",
            "in": "path",
            "required": true,
            "description": "The board identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "description": "The page number (1-15).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Index page with threads and their recent posts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Board or page not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BoardsResponse": {
        "type": "object",
        "properties": {
          "boards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Board"
            }
          }
        }
      },
      "Board": {
        "type": "object",
        "properties": {
          "board": {
            "type": "string",
            "description": "The board directory/identifier."
          },
          "title": {
            "type": "string",
            "description": "The readable title of the board."
          },
          "ws_board": {
            "type": "integer",
            "description": "1 if the board is worksafe, 0 otherwise."
          },
          "per_page": {
            "type": "integer",
            "description": "Number of threads per index page."
          },
          "pages": {
            "type": "integer",
            "description": "Number of index pages."
          },
          "max_filesize": {
            "type": "integer",
            "description": "Maximum file upload size in bytes (non-webm)."
          },
          "max_webm_filesize": {
            "type": "integer",
            "description": "Maximum webm file size in bytes."
          },
          "max_comment_chars": {
            "type": "integer",
            "description": "Maximum characters allowed in a comment."
          },
          "max_webm_duration": {
            "type": "integer",
            "description": "Maximum webm duration in seconds."
          },
          "bump_limit": {
            "type": "integer",
            "description": "Reply count at which thread stops being bumped."
          },
          "image_limit": {
            "type": "integer",
            "description": "Maximum number of image replies per thread."
          },
          "cooldowns": {
            "$ref": "#/components/schemas/Cooldowns"
          },
          "meta_description": {
            "type": "string",
            "description": "SEO meta description of the board."
          },
          "spoilers": {
            "type": "integer",
            "description": "1 if spoiler images are enabled."
          },
          "custom_spoilers": {
            "type": "integer",
            "description": "Number of custom spoiler images available."
          },
          "is_archived": {
            "type": "integer",
            "description": "1 if the board has an archive."
          },
          "country_flags": {
            "type": "integer",
            "description": "1 if country flags are shown."
          },
          "user_ids": {
            "type": "integer",
            "description": "1 if poster ID tags are enabled."
          },
          "code_tags": {
            "type": "integer",
            "description": "1 if code syntax highlighting is enabled."
          },
          "math_tags": {
            "type": "integer",
            "description": "1 if math/TeX tags are enabled."
          },
          "text_only": {
            "type": "integer",
            "description": "1 if image posting is disabled."
          },
          "forced_anon": {
            "type": "integer",
            "description": "1 if the name field is disabled."
          },
          "webm_audio": {
            "type": "integer",
            "description": "1 if audio in webm files is allowed."
          },
          "require_subject": {
            "type": "integer",
            "description": "1 if OPs must include a subject."
          },
          "min_image_width": {
            "type": "integer",
            "description": "Minimum image width in pixels."
          },
          "min_image_height": {
            "type": "integer",
            "description": "Minimum image height in pixels."
          }
        }
      },
      "Cooldowns": {
        "type": "object",
        "properties": {
          "threads": {
            "type": "integer",
            "description": "Seconds between thread creation."
          },
          "replies": {
            "type": "integer",
            "description": "Seconds between replies."
          },
          "images": {
            "type": "integer",
            "description": "Seconds between image posts."
          }
        }
      },
      "Post": {
        "type": "object",
        "description": "A post in a thread. OP posts have additional fields like replies, images, sticky, closed.",
        "properties": {
          "no": {
            "type": "integer",
            "description": "Post ID number."
          },
          "resto": {
            "type": "integer",
            "description": "Thread ID. 0 for OP, otherwise the OP post number."
          },
          "sticky": {
            "type": "integer",
            "description": "1 if the thread is pinned (OP only)."
          },
          "closed": {
            "type": "integer",
            "description": "1 if the thread is closed (OP only)."
          },
          "now": {
            "type": "string",
            "description": "Formatted timestamp (MM/DD/YY(Day)HH:MM)."
          },
          "time": {
            "type": "integer",
            "description": "UNIX timestamp of post creation."
          },
          "name": {
            "type": "string",
            "description": "Poster's name, defaults to 'Anonymous'."
          },
          "trip": {
            "type": "string",
            "description": "Tripcode."
          },
          "id": {
            "type": "string",
            "description": "8-character poster ID."
          },
          "capcode": {
            "type": "string",
            "description": "Capcode value (mod, admin, etc.).",
            "enum": [
              "mod",
              "admin",
              "admin_highlight",
              "manager",
              "developer",
              "founder"
            ]
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code."
          },
          "country_name": {
            "type": "string",
            "description": "Full country name."
          },
          "board_flag": {
            "type": "string",
            "description": "Board-specific flag code."
          },
          "flag_name": {
            "type": "string",
            "description": "Board flag descriptive name."
          },
          "sub": {
            "type": "string",
            "description": "Thread subject (OP only)."
          },
          "com": {
            "type": "string",
            "description": "HTML-escaped comment text."
          },
          "tim": {
            "type": "integer",
            "description": "UNIX timestamp with microtime for attachment."
          },
          "filename": {
            "type": "string",
            "description": "Original filename of attachment."
          },
          "ext": {
            "type": "string",
            "description": "File extension (.jpg, .png, .gif, .pdf, .swf, .webm)."
          },
          "fsize": {
            "type": "integer",
            "description": "File size in bytes."
          },
          "md5": {
            "type": "string",
            "description": "Base64-encoded MD5 hash of the file."
          },
          "w": {
            "type": "integer",
            "description": "Image width in pixels."
          },
          "h": {
            "type": "integer",
            "description": "Image height in pixels."
          },
          "tn_w": {
            "type": "integer",
            "description": "Thumbnail width in pixels."
          },
          "tn_h": {
            "type": "integer",
            "description": "Thumbnail height in pixels."
          },
          "filedeleted": {
            "type": "integer",
            "description": "1 if the file was deleted."
          },
          "spoiler": {
            "type": "integer",
            "description": "1 if the image is spoilered."
          },
          "custom_spoiler": {
            "type": "integer",
            "description": "Custom spoiler ID (1-10)."
          },
          "replies": {
            "type": "integer",
            "description": "Total reply count (OP only)."
          },
          "images": {
            "type": "integer",
            "description": "Total image reply count (OP only)."
          },
          "bumplimit": {
            "type": "integer",
            "description": "1 if bump limit reached (OP only)."
          },
          "imagelimit": {
            "type": "integer",
            "description": "1 if image limit reached (OP only)."
          },
          "tag": {
            "type": "string",
            "description": "SWF category tag (OP on /f/ only)."
          },
          "semantic_url": {
            "type": "string",
            "description": "SEO-friendly URL slug (OP only)."
          },
          "since4pass": {
            "type": "integer",
            "description": "Year the 4chan Pass was purchased."
          },
          "unique_ips": {
            "type": "integer",
            "description": "Unique poster count (OP only)."
          },
          "m_img": {
            "type": "integer",
            "description": "1 if mobile-optimized image exists."
          },
          "archived": {
            "type": "integer",
            "description": "1 if thread is archived (OP only)."
          },
          "archived_on": {
            "type": "integer",
            "description": "UNIX timestamp when archived (OP only)."
          },
          "last_modified": {
            "type": "integer",
            "description": "UNIX timestamp of last modification (catalog only)."
          },
          "omitted_posts": {
            "type": "integer",
            "description": "Number of omitted replies (catalog/index)."
          },
          "omitted_images": {
            "type": "integer",
            "description": "Number of omitted image replies (catalog/index)."
          },
          "last_replies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            },
            "description": "Recent reply posts (catalog only)."
          }
        }
      },
      "ThreadResponse": {
        "type": "object",
        "properties": {
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          }
        }
      },
      "CatalogPage": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Page number."
          },
          "threads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            },
            "description": "OP posts on this catalog page."
          }
        }
      },
      "ThreadListPage": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Page number."
          },
          "threads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ThreadListEntry"
            }
          }
        }
      },
      "ThreadListEntry": {
        "type": "object",
        "properties": {
          "no": {
            "type": "integer",
            "description": "The OP ID of the thread."
          },
          "last_modified": {
            "type": "integer",
            "description": "UNIX timestamp of last modification."
          },
          "replies": {
            "type": "integer",
            "description": "Number of replies in the thread."
          }
        }
      },
      "IndexResponse": {
        "type": "object",
        "properties": {
          "threads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ThreadResponse"
            },
            "description": "Array of thread objects, each containing a posts array."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Boards",
      "description": "Board listing and configuration"
    },
    {
      "name": "Threads",
      "description": "Thread content and thread listings"
    },
    {
      "name": "Catalog",
      "description": "Board catalog views"
    },
    {
      "name": "Archive",
      "description": "Archived thread listings"
    },
    {
      "name": "Index",
      "description": "Board index pages"
    }
  ]
}