{
  "openapi": "3.0.3",
  "info": {
    "title": "Cronitor API",
    "description": "The Cronitor API exposes monitoring functionality including creating and managing monitors, sending telemetry, retrieving metrics, managing groups, notifications, and status pages.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://cronitor.io/docs/api"
  },
  "servers": [
    {
      "url": "https://cronitor.io/api",
      "description": "Cronitor API"
    }
  ],
  "paths": {
    "/monitors": {
      "get": {
        "operationId": "listMonitors",
        "summary": "List all monitors",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by monitor type",
            "schema": {
              "type": "string",
              "enum": [
                "job",
                "check",
                "heartbeat",
                "site"
              ]
            }
          },
          {
            "name": "group",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "failing",
                "paused",
                "ok"
              ]
            }
          },
          {
            "name": "env",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "-created",
                "name",
                "-name"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createMonitor",
        "summary": "Create a single monitor",
        "tags": [
          "Monitors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Monitor created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "upsertMonitors",
        "summary": "Create or update monitors in bulk",
        "tags": [
          "Monitors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "monitors": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MonitorInput"
                    }
                  }
                },
                "required": [
                  "monitors"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitors created/updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "bulkDeleteMonitors",
        "summary": "Bulk delete monitors",
        "tags": [
          "Monitors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "monitors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of monitor keys to delete"
                  }
                },
                "required": [
                  "monitors"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitors deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/monitors/{monitorKey}": {
      "get": {
        "operationId": "getMonitor",
        "summary": "Get a specific monitor",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitorKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Monitor not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteMonitor",
        "summary": "Delete a specific monitor",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitorKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Monitor deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Monitor not found"
          }
        }
      }
    },
    "/monitors/{monitorKey}/pause": {
      "put": {
        "operationId": "pauseMonitor",
        "summary": "Pause a monitor",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitorKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hours": {
                    "type": "integer",
                    "description": "Number of hours to pause"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor paused"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/monitors/{monitorKey}/unpause": {
      "put": {
        "operationId": "unpauseMonitor",
        "summary": "Unpause a monitor",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitorKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor unpaused"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchMonitors",
        "summary": "Advanced search across monitors",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query. Supports scoped searches like job:backup, group:production, tag:critical"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Monitor": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "job",
              "check",
              "heartbeat",
              "site"
            ]
          },
          "name": {
            "type": "string"
          },
          "schedule": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "notify": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assertions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "request": {
            "$ref": "#/components/schemas/MonitorRequest"
          },
          "platform": {
            "type": "string"
          },
          "group": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "note": {
            "type": "string"
          },
          "grace_seconds": {
            "type": "integer"
          },
          "failure_tolerance": {
            "type": "integer"
          },
          "paused": {
            "type": "boolean"
          },
          "passing": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MonitorInput": {
        "type": "object",
        "required": [
          "type",
          "key"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "job",
              "check",
              "heartbeat",
              "site"
            ]
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "schedule": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "notify": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assertions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "request": {
            "$ref": "#/components/schemas/MonitorRequest"
          },
          "platform": {
            "type": "string"
          },
          "group": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "note": {
            "type": "string"
          },
          "grace_seconds": {
            "type": "integer"
          },
          "failure_tolerance": {
            "type": "integer"
          }
        }
      },
      "MonitorRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "PATCH",
              "DELETE",
              "HEAD"
            ]
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "body": {
            "type": "string"
          },
          "timeout_seconds": {
            "type": "integer"
          }
        }
      },
      "MonitorListResponse": {
        "type": "object",
        "properties": {
          "monitors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Monitor"
            }
          },
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_monitor_count": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth with API key as username. No password required."
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}