{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "Heartbeat API",
    "license": {
      "name": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "contact": {
      "name": "Heartbeat API Support",
      "email": "support@heartbeat.chat"
    },
    "description": "An API for managing your Heartbeat community",
    "x-jentic-source-url": "https://heartbeat.readme.io/reference"
  },
  "servers": [
    {
      "url": "https://api.heartbeat.chat/v0"
    }
  ],
  "paths": {
    "/users/{userID}": {
      "get": {
        "operationId": "getUser",
        "description": "Get a user by id",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find the specified user"
          }
        }
      }
    },
    "/users/reactivate": {
      "post": {
        "operationId": "reactivateUser",
        "description": "Reactivate a user. Can be called after calling delete on a user to allow them to access the community again.",
        "tags": [
          "users"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "description": "The email of the user to reactivate. If no user with the provided email exists, will return a 404 response.",
                    "type": "string",
                    "format": "email",
                    "example": "dmoney@scrutefarms.com"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find the specified user"
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "getUsers",
        "description": "Return an array of all users within a Heartbeat community",
        "tags": [
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "put": {
        "operationId": "createUser",
        "description": "Create a new user in a Heartbeat community",
        "tags": [
          "users"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "description": "The user's email. Must be unique to the community",
                    "type": "string",
                    "format": "email",
                    "example": "dmoney@scrutefarms.com"
                  },
                  "name": {
                    "description": "The user's full name",
                    "type": "string",
                    "example": "Dwight Schrute"
                  },
                  "roleID": {
                    "description": "The id of the role the user should have",
                    "type": "string",
                    "format": "uuid"
                  },
                  "groupIDs": {
                    "description": "A list of the ids of the groups that the user should belong to",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "profilePicture": {
                    "description": "A Data URI scheme in the JPG, GIF, or PNG format. Ensure you use the proper content type (image/jpeg, image/png, image/gif) that matches the image data being provided",
                    "type": "string",
                    "example": "data:image/jpeg;base64,BASE64_ENCODED_JPEG_IMAGE_DATA"
                  },
                  "bio": {
                    "description": "The user's bio",
                    "type": "string",
                    "example": "I'm the best salesman at Dunder Mifflin"
                  },
                  "status": {
                    "description": "The user's status",
                    "type": "string",
                    "example": "Trying to get promoted to Assistant Regional Manager"
                  },
                  "linkedin": {
                    "description": "A link to the user's LinkedIn profile",
                    "type": "string",
                    "example": "https://www.linkedin.com/in/dwight-schrute/"
                  },
                  "twitter": {
                    "description": "A link to the user's Twitter profile",
                    "type": "string",
                    "example": "https://twitter.com/dwight_schrute"
                  },
                  "instagram": {
                    "description": "A link to the user's Instagram profile",
                    "type": "string",
                    "example": "https://www.instagram.com/dwightschrute/"
                  },
                  "createIntroductionThread": {
                    "description": "If true and a value for bio is provided, an introduction thread for the user will be created in the channel designated for introductions in your community settings. The introduction thread will include the user's bio",
                    "type": "boolean"
                  }
                },
                "required": [
                  "email",
                  "name",
                  "roleID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "operationId": "updateUser",
        "description": "Update a user's profile information",
        "tags": [
          "users"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "description": "The email of the user that will be updated. If no user with the provided email exists, will return a 404 response.",
                    "type": "string",
                    "format": "email",
                    "example": "dmoney@scrutefarms.com"
                  },
                  "name": {
                    "description": "The user's full name",
                    "type": "string",
                    "example": "Dwight Schrute"
                  },
                  "profilePicture": {
                    "description": "A Data URI scheme in the JPG, GIF, or PNG format. Ensure you use the proper content type (image/jpeg, image/png, image/gif) that matches the image data being provided",
                    "type": "string",
                    "example": "data:image/jpeg;base64,BASE64_ENCODED_JPEG_IMAGE_DATA"
                  },
                  "bio": {
                    "description": "The user's bio",
                    "type": "string",
                    "example": "I'm the best salesman at Dunder Mifflin"
                  },
                  "status": {
                    "description": "The user's status",
                    "type": "string",
                    "example": "Trying to get promoted to Assistant Regional Manager"
                  },
                  "linkedin": {
                    "description": "A link to the user's LinkedIn profile",
                    "type": "string",
                    "example": "https://www.linkedin.com/in/dwight-schrute/"
                  },
                  "twitter": {
                    "description": "A link to the user's Twitter profile",
                    "type": "string",
                    "example": "https://twitter.com/dwight_schrute"
                  },
                  "instagram": {
                    "description": "A link to the user's Instagram profile",
                    "type": "string",
                    "example": "https://www.instagram.com/dwightschrute/"
                  },
                  "completedLessons": {
                    "description": "Lessons included here will be added to the user's list of completed lessons. This field will never cause a lesson to be removed from the user's list of completed lessons.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "lessonID": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find a user with the provided email address"
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "description": "Remove a user from a Heartbeat community. The user will no longer be able to access the community. Threads, comments & messages from the user will not be removed",
        "tags": [
          "users"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "description": "The email of the user to be deleted. If no user with the provided email exists, will return a 404 response.",
                    "type": "string",
                    "format": "email",
                    "example": "dmoney@scrutefarms.com"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find a user with the provided email address"
          }
        }
      }
    },
    "/pendingUser": {
      "put": {
        "operationId": "createPendingUser",
        "description": "Create a new pending user in a Heartbeat community. A pending user does not yet existing within the community. However, the first time they attempt to log in, they will be created as a user within the community. If this is called for a pending user that already exists, it will update the pending user. If this is called for a user that already exists within the community, it will return an error.",
        "tags": [
          "users"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "description": "The user's email. Must be unique to the community",
                    "type": "string",
                    "format": "email",
                    "example": "dmoney@scrutefarms.com"
                  },
                  "name": {
                    "description": "The user's full name",
                    "type": "string",
                    "example": "Dwight Schrute"
                  },
                  "roleID": {
                    "description": "The id of the role the user should have",
                    "type": "string",
                    "format": "uuid"
                  },
                  "groupIDs": {
                    "description": "A list of the ids of the groups that the user should belong to",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "profilePicture": {
                    "description": "A Data URI scheme in the JPG, GIF, or PNG format. Ensure you use the proper content type (image/jpeg, image/png, image/gif) that matches the image data being provided",
                    "type": "string",
                    "example": "data:image/jpeg;base64,BASE64_ENCODED_JPEG_IMAGE_DATA"
                  },
                  "bio": {
                    "description": "The user's bio",
                    "type": "string",
                    "example": "I'm the best salesman at Dunder Mifflin"
                  }
                },
                "required": [
                  "email",
                  "name",
                  "roleID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/find/users": {
      "get": {
        "operationId": "findUser",
        "description": "Get a user by email",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "required": true,
            "description": "The email of the user",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find a user with a matching email"
          }
        }
      }
    },
    "/invitations": {
      "get": {
        "operationId": "getInvitations",
        "description": "Return an array of all the invitations within a Heartbeat community",
        "tags": [
          "invitations"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invitation"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "put": {
        "operationId": "createInvitation",
        "description": "Create a new invitation link within a Heartbeat community",
        "tags": [
          "invitations"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roleID": {
                    "description": "Members joining via this invitation link will join as this role",
                    "type": "string",
                    "format": "uuid"
                  },
                  "groupIDs": {
                    "description": "Members joining via this invitation link will automatically be in these groups",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "required": [
                  "roleID",
                  "groupIDs"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "operationId": "getNotifications",
        "description": "Get the number of pending notifications a user in your community has",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "description": "The email address of the user",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "The number of pending notifications",
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find requested user"
          }
        }
      }
    },
    "/invitations/{invitationID}": {
      "post": {
        "operationId": "updateInvitation",
        "description": "Add users to an existing invitation",
        "tags": [
          "invitations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invitationID",
            "required": true,
            "description": "The id of the invitation",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "description": "The list of emails to add to the invitation",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  },
                  "shouldSendEmail": {
                    "description": "Whether or not to send an invitation email to the users. If false, the users will be allowed to signup via the invitation link, however they will not receive an email from Heartbeat inviting them to join.",
                    "type": "boolean"
                  }
                },
                "required": [
                  "emails",
                  "shouldSendEmail"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find requested invitation"
          }
        }
      }
    },
    "/roles": {
      "get": {
        "operationId": "getRoles",
        "description": "Returns an array of all the roles in a Heartbeat community",
        "tags": [
          "roles"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "operationId": "getGroups",
        "description": "Returns an array of all Groups within a Heartbeat community",
        "tags": [
          "groups"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "put": {
        "operationId": "createGroup",
        "description": "Create a new Group in a Heartbeat community",
        "tags": [
          "groups"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Cohort 1"
                  },
                  "description": {
                    "type": "string"
                  },
                  "members": {
                    "description": "The email addresses of the users that should be added to the group",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  },
                  "parentGroupID": {
                    "description": "The id of the parent group",
                    "type": "string",
                    "format": "uuid"
                  },
                  "isIsolated": {
                    "description": "Whether the group is isolated. Refer to Heartbeat docs to learn more about what this entails",
                    "type": "boolean"
                  },
                  "isJoinable": {
                    "description": "Whether the group is joinable. Refer to Heartbeat docs to learn more about what this entails",
                    "type": "boolean"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/groups/{groupID}": {
      "get": {
        "operationId": "getGroup",
        "description": "Get a group",
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find requested group id"
          }
        }
      },
      "post": {
        "operationId": "updateGroup",
        "description": "Edit a group. All fields are optional, only fields that are provided will be changed.",
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupID",
            "required": true,
            "description": "The id of the group",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Cohort 1"
                  },
                  "description": {
                    "type": "string"
                  },
                  "isIsolated": {
                    "description": "Whether the group is isolated. Refer to Heartbeat docs to learn more about what this entails",
                    "type": "boolean"
                  },
                  "isJoinable": {
                    "description": "Whether the group is joinable. Refer to Heartbeat docs to learn more about what this entails",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "operationId": "deleteGroup",
        "description": "Delete a group",
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "The group cannot be deleted. A reason will be provided"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find requested group id"
          }
        }
      }
    },
    "/groups/{groupID}/memberships": {
      "put": {
        "operationId": "addToGroup",
        "description": "Add users to a group",
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "description": "The emails of the users that should be added to the group",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  },
                  "shouldRemoveFromSiblingGroups": {
                    "description": "If true, the users will be removed from any other groups that share a parent group with the selected group. Useful when moving users between different stages",
                    "type": "boolean"
                  }
                },
                "required": [
                  "emails"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find requested group id or user email"
          }
        }
      },
      "delete": {
        "operationId": "removeFromGroup",
        "description": "Remove users from a group",
        "tags": [
          "groups"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "description": "The emails of the users that should be removed from the group",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                },
                "required": [
                  "emails"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find requested group id or user email"
          }
        }
      }
    },
    "/channelCategories": {
      "get": {
        "operationId": "getChannelCategories",
        "description": "Returns an array of all channel categories within a community",
        "tags": [
          "channels"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChannelCategory"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "put": {
        "operationId": "createChannelCategory",
        "description": "Create a new channel category in a Heartbeat community",
        "tags": [
          "channels"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Cohort 2"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelCategory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/channelCategories/{channelCategoryID}": {
      "post": {
        "operationId": "updateChannelCategory",
        "description": "Edit an existing channel category in a Heartbeat community",
        "tags": [
          "channels"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channelCategoryID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Cohort 2"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "operationId": "deleteChannelCategory",
        "description": "Delete an existing channel category in a Heartbeat community",
        "tags": [
          "channels"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channelCategoryID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/voiceChannels": {
      "put": {
        "operationId": "createVoiceChannel",
        "description": "Create a new voice channel in a Heartbeat community",
        "tags": [
          "voice"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "random"
                  },
                  "description": {
                    "type": "string",
                    "example": "A place to discuss anything you want"
                  },
                  "isPrivate": {
                    "type": "boolean"
                  },
                  "channelCategoryID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The id for the category where the channel should be created"
                  },
                  "invitedUsers": {
                    "description": "A list of emails corresponding to the users that can access this channel. If the channel is private, only these users will be able to access the voice channel. If both invitedUsers & invitedGroups are provided, the lists will be combined.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  },
                  "invitedGroups": {
                    "description": "If the voice channel is private, only these groups will be able to access the channel. If both invitedUsers & invitedGroups are provided, the lists will be combined.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "required": [
                  "name",
                  "channelCategoryID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/voiceChannels/{voiceChannelID}": {
      "post": {
        "operationId": "updateVoiceChannel",
        "description": "Edit a voice channel. All fields are optional, only fields that are provided will be changed.",
        "tags": [
          "voice"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "voiceChannelID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "random"
                  },
                  "description": {
                    "type": "string",
                    "example": "A place to discuss anything you want"
                  },
                  "restrictedTo": {
                    "description": "An object describing who can access this voice channel. If set to null, then the voice channel will be public.",
                    "nullable": true,
                    "type": "object",
                    "properties": {
                      "invitedUsers": {
                        "description": "A list of emails corresponding to the users that can access this voice channel. If both invitedUsers & invitedGroups are provided, the lists will be combined.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      },
                      "invitedGroups": {
                        "description": "Only these groups will be able to access the voice channel. If both invitedUsers & invitedGroups are provided, the lists will be combined.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/channels": {
      "get": {
        "operationId": "getChannels",
        "description": "Returns an array of all channels",
        "tags": [
          "channels"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Channel"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "put": {
        "operationId": "createChannel",
        "description": "Create a new Channel in a Heartbeat community",
        "tags": [
          "channels"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "random"
                  },
                  "description": {
                    "type": "string",
                    "example": "A place to discuss anything you want"
                  },
                  "isPrivate": {
                    "type": "boolean"
                  },
                  "channelCategoryID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The id for the category where the channel should be created"
                  },
                  "invitedUsers": {
                    "description": "A list of emails corresponding to the users that can access this channel. If the channel is private, only these users will be able to access the channel. If both invitedUsers & invitedGroups are provided, the lists will be combined.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  },
                  "invitedGroups": {
                    "description": "If the channel is private, only these groups will be able to access the channel. If both invitedUsers & invitedGroups are provided, the lists will be combined.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "isReadOnly": {
                    "type": "boolean",
                    "description": "If true, only admins & moderators will be able to create threads in this channel. This option is not currently available for chat channels"
                  },
                  "channelType": {
                    "type": "string",
                    "enum": [
                      "POSTS",
                      "CHAT"
                    ],
                    "description": "Thread channels are created by default"
                  }
                },
                "required": [
                  "name",
                  "isPrivate",
                  "channelCategoryID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/channels/{channelID}": {
      "post": {
        "operationId": "updateChannel",
        "description": "Edit a channel. All fields are optional, only fields that are provided will be changed.",
        "tags": [
          "channels"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channelID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "random"
                  },
                  "description": {
                    "type": "string",
                    "example": "A place to discuss anything you want"
                  },
                  "restrictedTo": {
                    "description": "An object describing who can access this channel. If set to null, then the channel will be public.",
                    "nullable": true,
                    "type": "object",
                    "properties": {
                      "invitedUsers": {
                        "description": "A list of emails corresponding to the users that can access this channel. If the channel is private, only these users will be able to access the channel. If both invitedUsers & invitedGroups are provided, the lists will be combined.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      },
                      "invitedGroups": {
                        "description": "If the channel is private, only these groups will be able to access the channel. If both invitedUsers & invitedGroups are provided, the lists will be combined.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    }
                  },
                  "isReadOnly": {
                    "type": "boolean",
                    "description": "If true, only admins & moderators will be able to create threads in this channel. This option is not currently available for chat channels"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "operationId": "deleteChannel",
        "description": "Delete a channel.",
        "tags": [
          "channels"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channelID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/channels/{channelID}/threads": {
      "get": {
        "operationId": "getThreads",
        "description": "Returns an array of the 20 most recent threads in a channel",
        "tags": [
          "channels"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channelID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Thread"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find requested channel id"
          }
        }
      }
    },
    "/threads/{threadID}": {
      "get": {
        "operationId": "getThread",
        "description": "Get a thread",
        "tags": [
          "channels"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "threadID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find requested thread"
          }
        }
      }
    },
    "/threads": {
      "put": {
        "operationId": "createThread",
        "description": "Create a new thread",
        "tags": [
          "channels"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "example": "<p>Welcome everyone!</p>",
                    "description": "See the Rich Text page to learn more about formatting"
                  },
                  "channelID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "userID": {
                    "description": "The user that will be shown as the author of the thread. Only an admin user can be chosen. If this field is not provided, the user that created the API key will be used",
                    "type": "string",
                    "format": "uuid"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional timestamp to override the default creation time for the thread. Must be in ISO 8601 format.",
                    "example": "2023-10-15T14:30:00.000Z"
                  }
                },
                "required": [
                  "text",
                  "channelID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Thread"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/comments": {
      "put": {
        "operationId": "createComment",
        "description": "Create a new comment",
        "tags": [
          "channels"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "example": "<p>Hello!</p>",
                    "description": "See the Rich Text page to learn more about formatting"
                  },
                  "threadID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "parentCommentID": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "Heartbeat comments have two levels of nesting. If null is provided, then the comment will be a direct reply to the thread. If a comment id is provided, then the comment will be a reply to that comment. The provided comment id must be a comment that is a direct reply to the thread."
                  },
                  "userID": {
                    "description": "The user that will be shown as the author of the comment. Only an admin user can be chosen. If this field is not provided, the user that created the API key will be used",
                    "type": "string",
                    "format": "uuid"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional timestamp to override the default creation time for the comment. Must be in ISO 8601 format.",
                    "example": "2023-10-15T14:30:00.000Z"
                  }
                },
                "required": [
                  "text",
                  "threadID",
                  "parentCommentID"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/directChats": {
      "put": {
        "operationId": "createDirectChat",
        "description": "Create a new direct chat between two users. If one already exists, then nothing will be created and the existing chat id & URL will be returned.",
        "tags": [
          "messages"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userID1": {
                    "type": "string",
                    "format": "uuid",
                    "description": "One of the users in the direct chat",
                    "example": "4f4fffdb-1e21-41ee-8569-2627bb7e80d2"
                  },
                  "userID2": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The other user in the direct chat",
                    "example": "258d5dcb-cea3-44f4-95f7-3ebe291a7142"
                  }
                },
                "required": [
                  "userID1",
                  "userID2"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chatID": {
                      "type": "string",
                      "format": "uuid",
                      "example": "5dbcf5c9-5e7e-4285-9dab-6d3ce7f4dd2f"
                    },
                    "url": {
                      "type": "string",
                      "description": "A URL pointing to this direct chat",
                      "example": "https://app.heartbeat.chat/mycommunity/c/5dbcf5c9-5e7e-4285-9dab-6d3ce7f4dd2f"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find a user with a matching user id"
          }
        }
      }
    },
    "/directMessages": {
      "put": {
        "operationId": "createDirectMessage",
        "description": "Send a new direct message",
        "tags": [
          "messages"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "example": "<p>Hello!</p>",
                    "description": "See the Rich Text page to learn more about formatting"
                  },
                  "to": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The user id of the receiver."
                  },
                  "from": {
                    "description": "The user id of the sender. Only an admin user can be chosen. If this field is not provided, the user that created the API key will be used.",
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "text",
                  "to"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find a user with a matching user id"
          }
        }
      }
    },
    "/directMessages/{chatID}": {
      "get": {
        "operationId": "getDirectMessages",
        "description": "Get the 100 most recent chat messages from a direct message conversation. Only direct messages that include at least one admin user can be accessed via the API.",
        "tags": [
          "messages"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "chatID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChatMessage"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find requested direct message"
          }
        }
      }
    },
    "/chatChannel/{channelID}/message": {
      "put": {
        "operationId": "createChatMessage",
        "description": "Send a new chat message to a chat channel",
        "tags": [
          "messages"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channelID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "example": "<p>Hello!</p>",
                    "description": "See the Rich Text page to learn more about formatting"
                  },
                  "from": {
                    "description": "The user id of the sender. Only an admin user can be chosen. If this field is not provided, the user that created the API key will be used.",
                    "type": "string",
                    "format": "uuid"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Optional timestamp to override the default creation time for the chat message. Must be in ISO 8601 format.",
                    "example": "2023-10-15T14:30:00.000Z"
                  }
                },
                "required": [
                  "text",
                  "from"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "getEvents",
        "description": "Return an array all Events within a Community",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "groupID",
            "description": "If provided, only events that have been assigned to this group will be returned",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find requested group id"
          }
        }
      },
      "put": {
        "operationId": "createEvent",
        "description": "Create a new Event in a Heartbeat community",
        "tags": [
          "events"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Community Onboarding"
                  },
                  "description": {
                    "type": "string",
                    "example": "A time for everyone to meet each other & understand what our community is all about"
                  },
                  "startTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "duration": {
                    "type": "number"
                  },
                  "location": {
                    "description": "Where the event will be held. If the string 'HEARTBEAT' is provided, then the event will take place in a Heartbeat voice channel. If the string 'ZOOM' is provided, then the event will take place in a custom Zoom link (this option can only be chosen if a Zoom account has been integrated with Heartbeat). Otherwise, the provided string will be passed directly to the Custom location field.",
                    "type": "string",
                    "example": "ZOOM"
                  },
                  "invitedUsers": {
                    "description": "A list of users that should be invited to the event. If the email matches an existing Heartbeat user, the Heartbeat user will be invited. Otherwise, an event invite will be sent directly to the provided email address. If both invitedUsers & invitedGroups are empty, the event will be open to everyone in the community.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  },
                  "invitedGroups": {
                    "description": "A list of groups that should be invited to the event. If both invitedUsers & invitedGroups are empty, the event will be open to everyone in the community.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "required": [
                  "name",
                  "startTime",
                  "duration",
                  "location"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/events/{eventID}": {
      "get": {
        "operationId": "getEvent",
        "description": "Get an event",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "eventID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find requested event id"
          }
        }
      }
    },
    "/events/{eventID}/instances": {
      "get": {
        "operationId": "getEventInstances",
        "description": "Return all the event instances of a recurring Event",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "eventID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "endTime": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find event id"
          }
        }
      }
    },
    "/events/{eventID}/attendance": {
      "get": {
        "operationId": "getEventAttendance",
        "description": "Returns attendance data for the last 10 instances of the specified event. If this event is a non-recurring event, an array of size 1 will be returned with attendance data.",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "eventID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "endTime": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "attendees": {
                        "type": "object",
                        "required": [
                          "isUser",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "If this attendee was matched to a Heartbeat user, their user id will be populated here."
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "name": {
                            "type": "string"
                          },
                          "isUser": {
                            "type": "boolean",
                            "description": "Whether or not this attendee was matched to a Heartbeat user."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find event ID"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "getWebhooks",
        "description": "Get a list of all of your webhooks",
        "tags": [
          "webhooks"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "put": {
        "operationId": "createWebhook",
        "description": "Create a new webhook",
        "tags": [
          "webhooks"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "$ref": "#/components/schemas/WebhookAction"
                  },
                  "url": {
                    "description": "The URL where webhook events will be sent to",
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "action",
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The id of the webhook that was just created",
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/webhooks/{webhookID}": {
      "delete": {
        "operationId": "deleteWebhook",
        "description": "Delete a webhook",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "webhookID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/courses": {
      "get": {
        "operationId": "getCourses",
        "description": "Get all of the courses in your community",
        "tags": [
          "courses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Course"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/lessons/{lessonID}": {
      "get": {
        "operationId": "getLesson",
        "description": "Get a lesson by id",
        "tags": [
          "courses"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lessonID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lesson"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find the specified lesson"
          }
        }
      },
      "post": {
        "operationId": "updateLesson",
        "description": "Update a lesson",
        "tags": [
          "courses"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lessonID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The title of the lesson"
                  },
                  "content": {
                    "type": "string",
                    "description": "The content of the lesson (in Markdown)"
                  },
                  "hero": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "VIDEO"
                        ]
                      },
                      "content": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "NATIVE_VIDEO"
                                ]
                              },
                              "videoID": {
                                "type": "string",
                                "format": "uuid",
                                "description": "The id of the Heartbeat video that should be displayed in the hero section"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "EXTERNAL_VIDEO_EMBED"
                                ]
                              },
                              "url": {
                                "type": "string",
                                "format": "uri",
                                "description": "The URL of an external video to display in the hero section. Youtube, Vimeo & Loom links are supported."
                              }
                            }
                          }
                        ]
                      }
                    }
                  },
                  "publishStatus": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "DRAFT"
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "PUBLISH"
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "DRIP"
                            ]
                          },
                          "numDays": {
                            "type": "integer",
                            "description": "The lesson will become available to users this many days after they start the course"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "SCHEDULE_PUBLISH"
                            ]
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "SET_AS_FREE"
                            ]
                          }
                        }
                      }
                    ]
                  },
                  "communityEmbedCards": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "title",
                        "description",
                        "content"
                      ],
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "content": {
                          "$ref": "#/components/schemas/CommunityEmbedCardContent"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lesson"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/lessons": {
      "put": {
        "operationId": "createLesson",
        "description": "Create a new lesson",
        "tags": [
          "courses"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "courseID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The course where the lesson should be created"
                  },
                  "cohortID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The cohort where the lesson should be created"
                  },
                  "moduleID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The module where the lesson should be created"
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The title of the lesson"
                  },
                  "content": {
                    "type": "string",
                    "description": "The content of the lesson (in Markdown)"
                  },
                  "hero": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "VIDEO"
                        ]
                      },
                      "content": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "NATIVE_VIDEO"
                                ]
                              },
                              "videoID": {
                                "type": "string",
                                "format": "uuid",
                                "description": "The id of the Heartbeat video that should be displayed in the hero section"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "EXTERNAL_VIDEO_EMBED"
                                ]
                              },
                              "url": {
                                "type": "string",
                                "format": "uri",
                                "description": "The URL of an external video to display in the hero section. Youtube, Vimeo & Loom links are supported."
                              }
                            }
                          }
                        ]
                      }
                    }
                  },
                  "publishStatus": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "DRAFT"
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "PUBLISH"
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "DRIP"
                            ]
                          },
                          "numDays": {
                            "type": "integer",
                            "description": "The lesson will become available to users this many days after they start the course"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "SCHEDULE_PUBLISH"
                            ]
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "SET_AS_FREE"
                            ]
                          }
                        }
                      }
                    ]
                  },
                  "communityEmbedCards": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "title",
                        "description",
                        "content"
                      ],
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "content": {
                          "$ref": "#/components/schemas/CommunityEmbedCardContent"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "courseID",
                  "cohortID",
                  "moduleID",
                  "title",
                  "content",
                  "hero",
                  "publishStatus",
                  "communityEmbedCards"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lesson"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/videos": {
      "get": {
        "operationId": "getVideos",
        "description": "Get all of the Heartbeat native videos in your community",
        "tags": [
          "courses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique identifier for the video."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the video."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "aspectRatio": {
                        "type": "string",
                        "description": "The aspect ratio of the video (e.g., \"16:9\", \"4:3\")."
                      },
                      "duration": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The duration of the video in seconds."
                      },
                      "views": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of times the video has been viewed."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/documents": {
      "get": {
        "operationId": "getDocuments",
        "description": "Return an array of all documents (wiki posts) within a Heartbeat community. Results are paginated using cursor-based pagination.",
        "tags": [
          "documents"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "startingAfter",
            "description": "Cursor for pagination - return results after this document ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of results to return (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentList"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/documents/{documentID}": {
      "get": {
        "operationId": "getDocument",
        "description": "Get a document by ID, including its content",
        "tags": [
          "documents"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "documentID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Could not find requested document"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "APIKEY"
      }
    },
    "responses": {
      "ValidationError": {
        "description": "Invalid request body"
      },
      "UnauthorizedError": {
        "description": "API Key is missing or invalid"
      }
    },
    "schemas": {
      "Lesson": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the lesson",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the lesson was created."
          },
          "createdBy": {
            "type": "string",
            "description": "User ID of the person who created the lesson.",
            "format": "uuid"
          },
          "title": {
            "type": "string",
            "description": "Title of the lesson."
          },
          "content": {
            "type": "string",
            "description": "Content of the lesson."
          },
          "communityEmbedCards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommunityEmbedCard"
            }
          }
        }
      },
      "CommunityEmbedCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the community embed card."
          },
          "title": {
            "type": "string",
            "description": "Title of the community embed card."
          },
          "description": {
            "type": "string",
            "description": "Description of the community embed card."
          },
          "content": {
            "$ref": "#/components/schemas/CommunityEmbedCardContent"
          }
        }
      },
      "CommunityEmbedCardContent": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "type",
              "channelID"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "CHANNEL"
                ]
              },
              "channelID": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier for the channel."
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "postID"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "POST"
                ]
              },
              "postID": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier for the post."
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "eventID"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "EVENT"
                ]
              },
              "eventID": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier for the event."
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "wikiPostID"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "DOCUMENT"
                ]
              },
              "wikiPostID": {
                "type": "string",
                "format": "uuid",
                "description": "Unique identifier for the wiki post."
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "userIDs",
              "promptDirectMessage"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "USERS"
                ]
              },
              "userIDs": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "List of unique identifiers for users."
              },
              "promptDirectMessage": {
                "type": "boolean",
                "description": "Whether course members should be given the option to DM these users"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type"
            ],
            "properties": {
[...]
