{
  "openapi": "3.0.3",
  "info": {
    "title": "Codebase API",
    "version": "1.0.0",
    "description": "Codebase project management and repository hosting API. Uses XML for request and response bodies. Authentication via HTTP Basic with account_name/username and API key.",
    "x-jentic-source-url": "https://support.codebasehq.com/kb"
  },
  "servers": [
    {
      "url": "https://api3.codebasehq.com",
      "description": "Codebase API server"
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List all projects",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Array of projects",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          }
        }
      }
    },
    "/{project}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a specific project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectPermalink"
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Project not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectPermalink"
          }
        ],
        "responses": {
          "200": {
            "description": "Project deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Project not found"
          },
          "409": {
            "description": "Conflict - deletion blocked by dependencies"
          }
        }
      }
    },
    "/create_project": {
      "post": {
        "operationId": "createProject",
        "summary": "Create a new project",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      }
    },
    "/project/{projectId}": {
      "put": {
        "operationId": "updateProject",
        "summary": "Update a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Project not found"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      }
    },
    "/{project}/repositories": {
      "get": {
        "operationId": "listRepositories",
        "summary": "List all repositories for a project",
        "tags": [
          "Repositories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectPermalink"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of repositories",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Repository"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Project not found"
          }
        }
      },
      "post": {
        "operationId": "createRepository",
        "summary": "Create a repository in a project",
        "tags": [
          "Repositories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectPermalink"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateRepositoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Repository created",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Repository"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation errors"
          }
        }
      }
    },
    "/{project}/{repository}": {
      "get": {
        "operationId": "getRepository",
        "summary": "Get a specific repository",
        "tags": [
          "Repositories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectPermalink"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository permalink"
          }
        ],
        "responses": {
          "200": {
            "description": "Repository details",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Repository"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Repository not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteRepository",
        "summary": "Delete a repository",
        "tags": [
          "Repositories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectPermalink"
          },
          {
            "name": "repository",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository permalink"
          }
        ],
        "responses": {
          "200": {
            "description": "Repository deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Repository not found"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ProjectPermalink": {
        "name": "project",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Project permalink"
      }
    },
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "group-id": {
            "type": "integer",
            "description": "Project group ID"
          },
          "icon": {
            "type": "integer",
            "description": "Icon ID"
          },
          "name": {
            "type": "string",
            "description": "Project name"
          },
          "account-name": {
            "type": "string",
            "description": "Account name"
          },
          "overview": {
            "type": "string",
            "description": "Project overview"
          },
          "permalink": {
            "type": "string",
            "description": "Project permalink"
          },
          "start-page": {
            "type": "string",
            "description": "Start page"
          },
          "status": {
            "type": "string",
            "description": "Project status"
          },
          "total-tickets": {
            "type": "integer",
            "description": "Total ticket count"
          },
          "open-tickets": {
            "type": "integer",
            "description": "Open tickets count"
          },
          "closed-tickets": {
            "type": "integer",
            "description": "Closed tickets count"
          }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Project name"
          }
        }
      },
      "UpdateProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "permalink": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Repository": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Repository name"
          },
          "permalink": {
            "type": "string",
            "description": "Repository permalink"
          },
          "disk-usage": {
            "type": "integer",
            "description": "Disk usage in bytes"
          },
          "last-commit-ref": {
            "type": "string",
            "description": "Last commit reference"
          },
          "clone-url": {
            "type": "string",
            "description": "Clone URL"
          },
          "source": {
            "type": "string",
            "description": "Source"
          },
          "sync": {
            "type": "boolean",
            "description": "Sync enabled"
          },
          "last-sync-at": {
            "type": "string",
            "format": "date-time",
            "description": "Last sync timestamp"
          }
        }
      },
      "CreateRepositoryRequest": {
        "type": "object",
        "required": [
          "name",
          "scm"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Repository name"
          },
          "scm": {
            "type": "string",
            "description": "SCM type (e.g., git)"
          },
          "permalink": {
            "type": "string",
            "description": "Custom repository permalink"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication with {account_name}/{username} and 40-character API key"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}