{
  "openapi": "3.0.3",
  "info": {
    "title": "Cryptlex Web API",
    "description": "The Cryptlex Web API provides programmatic access to our services and adheres to the RESTful design principles. We strive for clear communication and ease of use for both experienced and novice developers.\n\nThe key features of the Web API are:\n1. All requests must be made over HTTPS for secure communication.\n2. All URLs are resource-oriented to help with navigating the API in a predictable manner.\n3. Responses consistently use JSON format, even for error messages.\n4. Standard HTTP status codes indicate success or failure, and detailed error messages help identify and resolve issues.\n\n# Versioning\nAll API requests are versioned using the major version prefixed by a 'v' in the URL e.g. v1, v2, v3. The latest supported version is v3 (3.x.x).\n\nWe follow Semantic Versioning. Given a version number `MAJOR.MINOR.PATCH`, the version is incremented in the following manner:\n\n* MAJOR version when we make incompatible/breaking API changes,\n* MINOR version when we add functionality in a backward-compatible manner, and\n* PATCH version when we make backward-compatible bug fixes.\n\nWhen we introduce breaking changes to the API, we will release a new versioned URL endpoint. You can refer to our [changelog](https://docs.cryptlex.com/changelog/web-api) for changes made till date.\n\n# Errors\nThe API uses standard HTTP status codes to indicate the success or failure of the API call. All errors contain 4xx or 5xx status codes in the reponse header. The body of the response will contain the error message in the following format:\n```\n{\n    \"message\" : \"Email address is already taken!\",\n    \"code\"    : \"DUPLICATE_FIELD_VALUE\"  // conditional\n}\n```\n# Rate Limiting\nA single IP address can make a maximum burst of 50 requests per 5 second window, regardless of authentication. If we observe patterns of abuse, the IP address may be temporarily or permanently blacklisted.\n\nRate limit status can be checked in the returned HTTP headers of any API request:\n\n| Header                 | Description   |\n| -----------------------|---------------|\n| X-Rate-Limit-Limit     | The the rate limit period (eg. 1m, 12h, 1d).                      |\n| X-Rate-Limit-Remaining | The number of requests remaining in the current rate limit window.|\n| X-Rate-Limit-Reset     | The UTC date time when the limits reset.                          |",
    "contact": {
      "email": "support@cryptlex.com"
    },
    "version": "v3",
    "x-jentic-source-url": "https://api.cryptlex.com/v3/docs"
  },
  "servers": [
    {
      "url": "https://api.cryptlex.com"
    },
    {
      "url": "https://api.eu.cryptlex.com",
      "description": "The API URL if your account is registered in the EU region."
    }
  ],
  "paths": {
    "/v3/accounts/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve an account",
        "description": "Retrieves the details of an existing account.",
        "operationId": "GetAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": [
              "account:read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update an account",
        "description": "Updates the specified account by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
        "operationId": "UpdateAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "callbacks": {
          "account.updated": {
            "<your-webhook-url>": {
              "post": {
                "summary": "account.updated",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/WebhookPayloadDto"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "data": {
                                "$ref": "#/components/schemas/AccountDto"
                              },
                              "event": {
                                "enum": [
                                  "account.updated"
                                ],
                                "type": "string"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code if the data was received successfully"
                  },
                  "4xx": {
                    "description": "If your server returns an HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. No retries are attempted."
                  },
                  "5xx": {
                    "description": "If your server returns an HTTP status code indicating a server-side error the delivery will be treated as a failure. retries are attempted."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": [
              "account:write"
            ]
          }
        ]
      }
    },
    "/v3/accounts/{id}/custom-domains": {
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update account custom domains",
        "description": "Updates the custom domains associated with the account.",
        "operationId": "UpdateCustomDomainsAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCustomDomainRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "callbacks": {
          "account.updated": {
            "<your-webhook-url>": {
              "post": {
                "summary": "account.updated",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/WebhookPayloadDto"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "data": {
                                "$ref": "#/components/schemas/AccountDto"
                              },
                              "event": {
                                "enum": [
                                  "account.updated"
                                ],
                                "type": "string"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code if the data was received successfully"
                  },
                  "4xx": {
                    "description": "If your server returns an HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. No retries are attempted."
                  },
                  "5xx": {
                    "description": "If your server returns an HTTP status code indicating a server-side error the delivery will be treated as a failure. retries are attempted."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": [
              "account:write"
            ]
          }
        ]
      }
    },
    "/v3/accounts/{id}/status": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update account status",
        "description": "Updates the account status.",
        "operationId": "UpdateStatusAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountStatusRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "callbacks": {
          "account.updated": {
            "<your-webhook-url>": {
              "post": {
                "summary": "account.updated",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/WebhookPayloadDto"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "data": {
                                "$ref": "#/components/schemas/AccountDto"
                              },
                              "event": {
                                "enum": [
                                  "account.updated"
                                ],
                                "type": "string"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code if the data was received successfully"
                  },
                  "4xx": {
                    "description": "If your server returns an HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. No retries are attempted."
                  },
                  "5xx": {
                    "description": "If your server returns an HTTP status code indicating a server-side error the delivery will be treated as a failure. retries are attempted."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": [
              "account:write"
            ]
          }
        ]
      }
    },
    "/v3/accounts/{id}/subscription-status": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get subscription status",
        "description": "Gets status, next payment date and past due grace period of subscription associated with the account",
        "operationId": "GetSubscriptionStatusAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaddleSubscriptionStatusDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v3/activation-logs": {
      "get": {
        "tags": [
          "ActivationLogs"
        ],
        "summary": "List all activation logs",
        "description": "Returns a list of activation logs. The activation logs are returned sorted by creation date in ascending order.",
        "operationId": "GetAllActivationLogs",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records per page. Must be a number between 1 and 100.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort string to sort the returned records e.g. \"-createdAt\"",
            "schema": {
              "pattern": "([+-]\\w*\\.*\\w*){1}(\\|[+-]\\w*){0,5}",
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "description": "Unique identifier for the product.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "licenseId",
            "in": "query",
            "description": "Unique identifier for the license.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "activationId",
            "in": "query",
            "description": "Unique identifier for the activation.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "Activation or Deactivation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "Activation logs created after.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "deprecated": true
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Activation logs created before.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "deprecated": true
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search string.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "ID of the resource.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "createdAt",
            "in": "query",
            "description": "Date of creation",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "date-time"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "date-time"
                },
                "gt": {
                  "type": "string",
                  "description": "Matches values that are greater than the specified value.",
                  "format": "date-time"
                },
                "gte": {
                  "type": "string",
                  "description": "Matches values that are greater than or equal to the specified value.",
                  "format": "date-time"
                },
                "lt": {
                  "type": "string",
                  "description": "Matches values that are less than the specified value.",
                  "format": "date-time"
                },
                "lte": {
                  "type": "string",
                  "description": "Matches values that are less than or equal to the specified value.",
                  "format": "date-time"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivationLogDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": [
              "activation:read"
            ]
          }
        ]
      }
    },
    "/v3/activation-logs/{id}": {
      "get": {
        "tags": [
          "ActivationLogs"
        ],
        "summary": "Retrieve an activation log",
        "description": "Retrieves the details of an existing activation log.",
        "operationId": "GetActivationLog",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the activation log.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivationLogDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": [
              "activation:read"
            ]
          }
        ]
      }
    },
    "/v3/activation-logs/export": {
      "get": {
        "tags": [
          "ActivationLogs"
        ],
        "summary": "Export activation logs",
        "description": "Exports activation logs in the csv format.",
        "operationId": "ExportActivationLogs",
        "parameters": [
          {
            "name": "productId",
            "in": "query",
            "description": "Unique identifier for the product.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "licenseId",
            "in": "query",
            "description": "Unique identifier for the license.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "activationId",
            "in": "query",
            "description": "Unique identifier for the activation.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "Activation or Deactivation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "Activation logs created after.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "deprecated": true
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Activation logs created before.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "deprecated": true
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search string.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "ID of the resource.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "createdAt",
            "in": "query",
            "description": "Date of creation",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "date-time"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "date-time"
                },
                "gt": {
                  "type": "string",
                  "description": "Matches values that are greater than the specified value.",
                  "format": "date-time"
                },
                "gte": {
                  "type": "string",
                  "description": "Matches values that are greater than or equal to the specified value.",
                  "format": "date-time"
                },
                "lt": {
                  "type": "string",
                  "description": "Matches values that are less than the specified value.",
                  "format": "date-time"
                },
                "lte": {
                  "type": "string",
                  "description": "Matches values that are less than or equal to the specified value.",
                  "format": "date-time"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": [
              "activation:read"
            ]
          }
        ]
      }
    },
    "/v3/activations": {
      "get": {
        "tags": [
          "Activations"
        ],
        "summary": "List all activations",
        "description": "Returns a list of activations. The activations are returned sorted by creation date in ascending order.",
        "operationId": "GetAllActivations",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records per page. Must be a number between 1 and 100.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort string to sort the returned records e.g. \"-createdAt\"",
            "schema": {
              "pattern": "([+-]\\w*\\.*\\w*){1}(\\|[+-]\\w*){0,5}",
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "maxItems": 16,
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/IncludeActivationProperties"
              }
            }
          },
          {
            "name": "productId",
            "in": "query",
            "description": "Unique identifier for the product.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "metadata.key",
            "in": "query",
            "description": "Metadata key associated with the activation.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "sw": {
                  "type": "string",
                  "description": "Matches values that start with the specified value.",
                  "format": "string"
                },
                "ew": {
                  "type": "string",
                  "description": "Matches values that end with the specified value.",
                  "format": "string"
                },
                "cn": {
                  "type": "string",
                  "description": "Matches values that contain the specified value.",
                  "format": "string"
                },
                "nc": {
                  "type": "string",
                  "description": "Matches values that do not contain the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "metadata.value",
            "in": "query",
            "description": "Metadata value associated with the activation.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "sw": {
                  "type": "string",
                  "description": "Matches values that start with the specified value.",
                  "format": "string"
                },
                "ew": {
                  "type": "string",
                  "description": "Matches values that end with the specified value.",
                  "format": "string"
                },
                "cn": {
                  "type": "string",
                  "description": "Matches values that contain the specified value.",
                  "format": "string"
                },
                "nc": {
                  "type": "string",
                  "description": "Matches values that do not contain the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "description": "Unique identifier for the organization.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "licenseId",
            "in": "query",
            "description": "Unique identifier for the license.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "releaseVersion",
            "in": "query",
            "description": "Release version associated with the activation.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "sw": {
                  "type": "string",
                  "description": "Matches values that start with the specified value.",
                  "format": "string"
                },
                "ew": {
                  "type": "string",
                  "description": "Matches values that end with the specified value.",
                  "format": "string"
                },
                "cn": {
                  "type": "string",
                  "description": "Matches values that contain the specified value.",
                  "format": "string"
                },
                "nc": {
                  "type": "string",
                  "description": "Matches values that do not contain the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "os",
            "in": "query",
            "description": "Os used for activation.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "location.countryCode",
            "in": "query",
            "description": "Country code for the activation.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "sw": {
                  "type": "string",
                  "description": "Matches values that start with the specified value.",
                  "format": "string"
                },
                "ew": {
                  "type": "string",
                  "description": "Matches values that end with the specified value.",
                  "format": "string"
                },
                "cn": {
                  "type": "string",
                  "description": "Matches values that contain the specified value.",
                  "format": "string"
                },
                "nc": {
                  "type": "string",
                  "description": "Matches values that do not contain the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "lastSyncedAt",
            "in": "query",
            "description": "Activations last synced at.",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "date-time"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "date-time"
                },
                "gt": {
                  "type": "string",
                  "description": "Matches values that are greater than the specified value.",
                  "format": "date-time"
                },
                "gte": {
                  "type": "string",
                  "description": "Matches values that are greater than or equal to the specified value.",
                  "format": "date-time"
                },
                "lt": {
                  "type": "string",
                  "description": "Matches values that are less than the specified value.",
                  "format": "date-time"
                },
                "lte": {
                  "type": "string",
                  "description": "Matches values that are less than or equal to the specified value.",
                  "format": "date-time"
                }
              }
            }
          },
          {
            "name": "license.key",
            "in": "query",
            "description": "License key.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "sw": {
                  "type": "string",
                  "description": "Matches values that start with the specified value.",
                  "format": "string"
                },
                "ew": {
                  "type": "string",
                  "description": "Matches values that end with the specified value.",
                  "format": "string"
                },
                "cn": {
                  "type": "string",
                  "description": "Matches values that contain the specified value.",
                  "format": "string"
                },
                "nc": {
                  "type": "string",
                  "description": "Matches values that do not contain the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "User id.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search string.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "ID of the resource.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "string"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "string"
                },
                "in": {
                  "type": "string",
                  "description": "Matches any of the values specified.",
                  "format": "comma-separated-values"
                },
                "nin": {
                  "type": "string",
                  "description": "Matches none of the values specified.",
                  "format": "comma-separated-values"
                }
              }
            }
          },
          {
            "name": "createdAt",
            "in": "query",
            "description": "Date of creation",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "date-time"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "date-time"
                },
                "gt": {
                  "type": "string",
                  "description": "Matches values that are greater than the specified value.",
                  "format": "date-time"
                },
                "gte": {
                  "type": "string",
                  "description": "Matches values that are greater than or equal to the specified value.",
                  "format": "date-time"
                },
                "lt": {
                  "type": "string",
                  "description": "Matches values that are less than the specified value.",
                  "format": "date-time"
                },
                "lte": {
                  "type": "string",
                  "description": "Matches values that are less than or equal to the specified value.",
                  "format": "date-time"
                }
              }
            }
          },
          {
            "name": "updatedAt",
            "in": "query",
            "description": "Date of last update",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "date-time"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "date-time"
                },
                "gt": {
                  "type": "string",
                  "description": "Matches values that are greater than the specified value.",
                  "format": "date-time"
                },
                "gte": {
                  "type": "string",
                  "description": "Matches values that are greater than or equal to the specified value.",
                  "format": "date-time"
                },
                "lt": {
                  "type": "string",
                  "description": "Matches values that are less than the specified value.",
                  "format": "date-time"
                },
                "lte": {
                  "type": "string",
                  "description": "Matches values that are less than or equal to the specified value.",
                  "format": "date-time"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivationDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": [
              "activation:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Activations"
        ],
        "summary": "Create an activation",
        "description": "Creates a new activation.",
        "operationId": "CreateActivation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivationCreateRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivationTokenDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "callbacks": {
          "activation.created": {
            "<your-webhook-url>": {
              "post": {
                "summary": "activation.created",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/WebhookPayloadDto"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "data": {
                                "$ref": "#/components/schemas/ActivationDto"
                              },
                              "event": {
                                "enum": [
                                  "activation.created"
                                ],
                                "type": "string"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code if the data was received successfully"
                  },
                  "4xx": {
                    "description": "If your server returns an HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. No retries are attempted."
                  },
                  "5xx": {
                    "description": "If your server returns an HTTP status code indicating a server-side error the delivery will be treated as a failure. retries are attempted."
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "Activations"
        ],
        "summary": "Bulk delete activations",
        "description": "Bulk deletes activations for a particular license. It cannot be undone.",
        "operationId": "BulkDeleteActivation",
        "parameters": [
          {
            "name": "licenseId",
            "in": "query",
            "description": "Unique identifier for the license.",
            "required": true,
            "schema": {
              "maxLength": 256,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "lastSyncedAt",
            "in": "query",
            "description": "Last Synced Date",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "date-time"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "date-time"
                },
                "gt": {
                  "type": "string",
                  "description": "Matches values that are greater than the specified value.",
                  "format": "date-time"
                },
                "gte": {
                  "type": "string",
                  "description": "Matches values that are greater than or equal to the specified value.",
                  "format": "date-time"
                },
                "lt": {
                  "type": "string",
                  "description": "Matches values that are less than the specified value.",
                  "format": "date-time"
                },
                "lte": {
                  "type": "string",
                  "description": "Matches values that are less than or equal to the specified value.",
                  "format": "date-time"
                }
              }
            }
          },
          {
            "name": "createdAt",
            "in": "query",
            "description": "Date of creation",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "date-time"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "date-time"
                },
                "gt": {
                  "type": "string",
                  "description": "Matches values that are greater than the specified value.",
                  "format": "date-time"
                },
                "gte": {
                  "type": "string",
                  "description": "Matches values that are greater than or equal to the specified value.",
                  "format": "date-time"
                },
                "lt": {
                  "type": "string",
                  "description": "Matches values that are less than the specified value.",
                  "format": "date-time"
                },
                "lte": {
                  "type": "string",
                  "description": "Matches values that are less than or equal to the specified value.",
                  "format": "date-time"
                }
              }
            }
          },
          {
            "name": "updatedAt",
            "in": "query",
            "description": "Date of last update",
            "schema": {
              "type": "object",
              "properties": {
                "eq": {
                  "type": "string",
                  "description": "Matches values that are equal to the specified value.",
                  "format": "date-time"
                },
                "ne": {
                  "type": "string",
                  "description": "Matches values that are not equal to the specified value.",
                  "format": "date-time"
                },
                "gt": {
                  "type": "string",
                  "description": "Matches values that are greater than the specified value.",
                  "format": "date-time"
                },
                "gte": {
                  "type": "string",
                  "description": "Matches values that are greater than or equal to the specified value.",
                  "format": "date-time"
                },
                "lt": {
                  "type": "string",
                  "description": "Matches values that are less than the specified value.",
                  "format": "date-time"
                },
                "lte": {
                  "type": "string",
                  "description": "Matches values that are less than or equal to the specified value.",
                  "format": "date-time"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "callbacks": {
          "activation.deleted": {
            "<your-webhook-url>": {
              "post": {
                "summary": "activation.deleted",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/WebhookPayloadDto"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "data": {
                                "$ref": "#/components/schemas/ActivationDto"
                              },
                              "event": {
                                "enum": [
                                  "activation.deleted"
                                ],
                                "type": "string"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code if the data was received successfully"
                  },
                  "4xx": {
                    "description": "If your server returns an HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. No retries are attempted."
                  },
                  "5xx": {
                    "description": "If your server returns an HTTP status code indicating a server-side error the delivery will be treated as a failure. retries are attempted."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": [
              "license:write"
            ]
          }
        ]
      }
    },
    "/v3/activations/{id}": {
      "get": {
        "tags": [
          "Activations"
        ],
        "summary": "Retrieve an activation",
        "description": "Retrieves the details of an existing activation.",
        "operationId": "GetActivation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the activation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivationDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": [
              "activation:read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Activations"
        ],
        "summary": "Update an activation",
        "description": "Updates the specified activation by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
        "operationId": "UpdateActivation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the activation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivationUpdateRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivationTokenDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "callbacks": {
          "activation.updated": {
            "<your-webhook-url>": {
              "post": {
                "summary": "activation.updated",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/WebhookPayloadDto"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "data": {
                                "$ref": "#/components/schemas/ActivationDto"
                              },
                              "event": {
                                "enum": [
                                  "activation.updated"
                                ],
                                "type": "string"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code if the data was received successfully"
                  },
                  "4xx": {
                    "description": "If your server returns an HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. No retries are attempted."
                  },
                  "5xx": {
                    "description": "If your server returns an HTTP status code indicating a server-side error the delivery will be treated as a failure. retries are attempted."
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      },
      "delete": {
        "tags": [
          "Activations"
        ],
        "summary": "Delete an activation",
        "description": "Permanently deletes an activation. It cannot be undone.",
        "operationId": "DeleteActivation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the activation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "callbacks": {
          "activation.deleted": {
            "<your-webhook-url>": {
              "post": {
                "summary": "activation.deleted",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/WebhookPayloadDto"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "data": {
                                "$ref": "#/components/schemas/ActivationDto"
                              },
                              "event": {
                                "enum": [
                                  "activation.deleted"
                                ],
                                "type": "string"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code if the data was received successfully"
                  },
                  "4xx": {
                    "description": "If your server returns an HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. No retries are attempted."
                  },
                  "5xx": {
                    "description": "If your server returns an HTTP status code indicating a server-side error the delivery will be treated as a failure. retries are attempted."
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v3/activations/{id}/feature-entitlements": {
      "get": {
        "tags": [
          "Activations"
        ],
        "summary": "Get all feature entitlements for an activation",
        "description": "Get all feature entitlements for an activation.",
        "operationId": "GetAllEntitlementsActivation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the activation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": {
              "maxLength": 256,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "licenseId",
            "in": "query",
            "required": true,
            "schema": {
              "maxLength": 256,
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureEntitlementsTokenDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v3/activations/offline-activate": {
      "post": {
        "tags": [
          "Activations"
        ],
        "summary": "Create an offline activation",
        "description": "Creates a new offline activation.",
        "operationId": "CreateOfflineActivation",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfflineActivationRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfflineActivationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          }
        },
        "callbacks": {
          "activation.created": {
            "<your-webhook-url>": {
              "post": {
                "summary": "activation.created",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/WebhookPayloadDto"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "data": {
                                "$ref": "#/components/schemas/ActivationDto"
                              },
                              "event": {
                                "enum": [
                                  "activation.created"
                                ],
                                "type": "string"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server implementation should return this HTTP status code if the data was received successfully"
                  },
                  "4xx": {
                    "description": "If your server returns an HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. No retries are attempted."
                  },
                  "5xx": {
                    "description": "If your server returns an HTTP status code indicating a server-side error the delivery will be treated as a failure. retries are attempted."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v3/activations/{id}/deactivate": {
      "post": {
        "tags": [
          "Activations"
        ],
        "summary": "Delete an activation",
        "description": "Permanently deletes an activation. It cannot be undone.",
        "operationId": "DeactivateActivation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeactivationRequestModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
[...]
