{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare Turnstile Siteverify API",
    "description": "Server-side API for validating Cloudflare Turnstile widget tokens. Turnstile is a smart CAPTCHA alternative that verifies visitors without visual challenges.",
    "version": "v0",
    "x-jentic-source-url": "https://developers.cloudflare.com/turnstile/"
  },
  "servers": [
    {
      "url": "https://challenges.cloudflare.com/turnstile/v0",
      "description": "Cloudflare Turnstile API server"
    }
  ],
  "paths": {
    "/siteverify": {
      "post": {
        "operationId": "verifyTurnstileToken",
        "summary": "Validate a Turnstile token",
        "description": "Validates a Turnstile widget response token. Tokens are single-use and expire after 300 seconds (5 minutes). The maximum token length is 2048 characters. Replaying a token returns a timeout-or-duplicate error.",
        "tags": [
          "Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteverifyRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SiteverifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteverifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SiteverifyRequest": {
        "type": "object",
        "required": [
          "secret",
          "response"
        ],
        "properties": {
          "secret": {
            "type": "string",
            "description": "Your widget's secret key from the Cloudflare dashboard."
          },
          "response": {
            "type": "string",
            "description": "The token from the client-side Turnstile widget.",
            "maxLength": 2048
          },
          "remoteip": {
            "type": "string",
            "description": "The visitor's IP address."
          },
          "idempotency_key": {
            "type": "string",
            "format": "uuid",
            "description": "A UUID to safely retry validation requests."
          }
        }
      },
      "SiteverifyResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the token is valid."
          },
          "challenge_ts": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of the challenge."
          },
          "hostname": {
            "type": "string",
            "description": "The hostname for which the challenge was served."
          },
          "error-codes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "missing-input-secret",
                "invalid-input-secret",
                "missing-input-response",
                "invalid-input-response",
                "bad-request",
                "timeout-or-duplicate",
                "internal-error"
              ]
            },
            "description": "List of error codes."
          },
          "action": {
            "type": "string",
            "description": "The action parameter from the widget, if set."
          },
          "cdata": {
            "type": "string",
            "description": "The custom data parameter from the widget, if set."
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "ephemeral_id": {
            "type": "string",
            "description": "Ephemeral ID for the challenge (Enterprise only)."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error-codes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "secretKey": {
        "type": "apiKey",
        "in": "query",
        "name": "secret",
        "description": "Widget secret key passed in the request body. Listed as apiKey for documentation; the key is sent in the POST body."
      }
    }
  },
  "security": [
    {
      "secretKey": []
    }
  ]
}