{
  "openapi": "3.0.3",
  "info": {
    "title": "Maxar eAPI",
    "version": "1.0.0",
    "description": "Maxar eAPI provides access to satellite imagery including search, ordering, and delivery of high-resolution Earth observation data.",
    "x-jentic-source-url": "https://docs.eapi.maxar.com/home/quick_start/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://eapi.maxar.com"
    }
  ],
  "paths": {
    "/e1so/search": {
      "get": {
        "operationId": "searchImagery",
        "summary": "Search for satellite imagery",
        "tags": [
          "Search"
        ],
        "description": "Search for satellite imagery across collections",
        "parameters": [
          {
            "name": "collections",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Collection identifier (e.g. wv02, blacksky)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum results per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bounding box filter"
          },
          {
            "name": "datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date/time filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/e1so/order": {
      "post": {
        "operationId": "createOrder",
        "summary": "Place an imagery order",
        "tags": [
          "Orders"
        ],
        "description": "Place orders for imagery delivery to S3 bucket",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order placed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Feature"
            }
          }
        }
      },
      "Feature": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "geometry": {
            "type": "object"
          },
          "properties": {
            "type": "object"
          }
        }
      },
      "OrderRequest": {
        "type": "object",
        "required": [
          "inventoryId",
          "deliveryType",
          "bucket",
          "prefix"
        ],
        "properties": {
          "inventoryId": {
            "type": "string"
          },
          "deliveryType": {
            "type": "string",
            "enum": [
              "S3"
            ]
          },
          "bucket": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string"
          },
          "submissionTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Orders"
    },
    {
      "name": "Search"
    }
  ]
}
