{
  "swagger": "2.0",
  "info": {
    "description": "AtlasRTX is a chatbot platform for engaging your customers.<br />This is the API on how to quickly and easily connect to the Atlas platform.",
    "version": "1.0.0",
    "title": "AtlasRTX API V1",
    "contact": {
      "email": "atlas@atlasrtx.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/AtlasRTX/atlas-rtxv_1/1.0.0/swagger.json"
  },
  "host": "app.atlasrtx.com",
  "basePath": "/v1/atlas",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "engagements",
      "description": "For working with AtlasRTX messaging engagements"
    }
  ],
  "paths": {
    "/engagement": {
      "post": {
        "summary": "Creates a new engagement with a location auth token",
        "operationId": "engagement",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "engagements"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "engagement",
            "description": "Create an engagement based on a location token",
            "schema": {
              "type": "object",
              "required": [
                "authtoken",
                "programid",
                "salutation",
                "firstname",
                "lastname",
                "phonenumber",
                "email",
                "emailtonotify",
                "targetdatetime"
              ],
              "properties": {
                "authtoken": {
                  "type": "string",
                  "description": "This auth token will be provided to you by Atlas."
                },
                "programid": {
                  "type": "integer",
                  "description": "An unique identifier of the program and will be provided to you."
                },
                "salutation": {
                  "type": "string",
                  "description": "A salutation.  For example, Mr. Ms."
                },
                "firstname": {
                  "type": "string",
                  "description": "First name"
                },
                "lastname": {
                  "type": "string",
                  "description": "Last name"
                },
                "phonenumber": {
                  "type": "integer",
                  "description": "10 digit cell phone number capable of receiving text messages"
                },
                "email": {
                  "type": "string",
                  "description": "email eg. you@gmail.com."
                },
                "custom1value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "custom2value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "custom3value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "custom4value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "custom5value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "emailtonotify": {
                  "type": "string",
                  "description": "email address of the person to notify of responses. Multiple addresses are allowed and are separated with a comma (\u2018,\u2019)"
                },
                "targetdatetime": {
                  "type": "string",
                  "description": "Target date-time. Expected format - mm/dd/yy HH:mm (HH is 24 hour notation, ie 07/28/16 17:30). Used for scheduling an invitation time.  If empty, the invite will send out immediately.  If included, the invite will be sent out at the specified date and time."
                },
                "channelid": {
                  "type": "string",
                  "description": "Channel on which to create the engagement"
                },
                "customercustom1": {
                  "type": "string",
                  "description": "A customer custom 1 value"
                },
                "customercustom2": {
                  "type": "string",
                  "description": "A customer custom 2 value"
                },
                "customercustom3": {
                  "type": "string",
                  "description": "A customer custom 3 value"
                },
                "customercustom4": {
                  "type": "string",
                  "description": "A customer custom 4 value"
                },
                "customercustom5": {
                  "type": "string",
                  "description": "A customer custom 5 value"
                },
                "customercustom6": {
                  "type": "string",
                  "description": "A customer custom 6 value"
                },
                "customercustom7": {
                  "type": "string",
                  "description": "A customer custom 7 value"
                },
                "customercustom8": {
                  "type": "string",
                  "description": "A customer custom 8 value"
                },
                "customercustom9": {
                  "type": "string",
                  "description": "A customer custom 9 value"
                },
                "customercustom10": {
                  "type": "string",
                  "description": "A customer custom 10 value"
                },
                "customercustom11": {
                  "type": "string",
                  "description": "A customer custom 11 value"
                },
                "customercustom12": {
                  "type": "string",
                  "description": "A customer custom 12 value"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "engagementid": {
                      "type": "integer"
                    },
                    "locationid": {
                      "type": "integer"
                    },
                    "locationname": {
                      "type": "string"
                    },
                    "customerid": {
                      "type": "integer"
                    },
                    "customername": {
                      "type": "string"
                    },
                    "customerphone": {
                      "type": "integer"
                    },
                    "programid": {
                      "type": "integer"
                    },
                    "programname": {
                      "type": "string"
                    },
                    "statusid": {
                      "type": "integer"
                    },
                    "userid": {
                      "type": "integer"
                    },
                    "engagementdate": {
                      "type": "string"
                    },
                    "targetdate": {
                      "type": "string"
                    },
                    "channelid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new engagement with a location auth token"
      }
    },
    "/engagementbytoken": {
      "post": {
        "summary": "Creates a new engagement based on an API auth token",
        "operationId": "engagementnytoken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "engagements"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "engagement",
            "description": "Create an engagement based on an API auth token that identifies the location and program to use",
            "schema": {
              "type": "object",
              "required": [
                "authtoken",
                "salutation",
                "firstname",
                "lastname",
                "phonenumber",
                "email",
                "emailtonotify",
                "targetdatetime"
              ],
              "properties": {
                "authtoken": {
                  "type": "string",
                  "description": "This auth token will be provided to you by Atlas."
                },
                "salutation": {
                  "type": "string",
                  "description": "A salutation.  For example, Mr. Ms."
                },
                "firstname": {
                  "type": "string",
                  "description": "First name"
                },
                "lastname": {
                  "type": "string",
                  "description": "Last name"
                },
                "phonenumber": {
                  "type": "integer",
                  "description": "10 digit cell phone number capable of receiving text messages"
                },
                "email": {
                  "type": "string",
                  "description": "email eg. you@gmail.com."
                },
                "custom1value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "custom2value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "custom3value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "custom4value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "custom5value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "emailtonotify": {
                  "type": "string",
                  "description": "email address of the person to notify of responses. Multiple addresses are allowed and are separated with a comma (\u2018,\u2019)"
                },
                "targetdatetime": {
                  "type": "string",
                  "description": "Target date-time. Expected format - mm/dd/yy HH:mm (HH is 24 hour notation, ie 07/28/16 17:30). Used for scheduling an invitation time.  If empty, the invite will send out immediately.  If included, the invite will be sent out at the specified date and time."
                },
                "channelid": {
                  "type": "string",
                  "description": "Channel on which to create the engagement"
                },
                "customercustom1": {
                  "type": "string",
                  "description": "A customer custom 1 value"
                },
                "customercustom2": {
                  "type": "string",
                  "description": "A customer custom 2 value"
                },
                "customercustom3": {
                  "type": "string",
                  "description": "A customer custom 3 value"
                },
                "customercustom4": {
                  "type": "string",
                  "description": "A customer custom 4 value"
                },
                "customercustom5": {
                  "type": "string",
                  "description": "A customer custom 5 value"
                },
                "customercustom6": {
                  "type": "string",
                  "description": "A customer custom 6 value"
                },
                "customercustom7": {
                  "type": "string",
                  "description": "A customer custom 7 value"
                },
                "customercustom8": {
                  "type": "string",
                  "description": "A customer custom 8 value"
                },
                "customercustom9": {
                  "type": "string",
                  "description": "A customer custom 9 value"
                },
                "customercustom10": {
                  "type": "string",
                  "description": "A customer custom 10 value"
                },
                "customercustom11": {
                  "type": "string",
                  "description": "A customer custom 11 value"
                },
                "customercustom12": {
                  "type": "string",
                  "description": "A customer custom 12 value"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "engagementid": {
                      "type": "integer"
                    },
                    "locationid": {
                      "type": "integer"
                    },
                    "locationname": {
                      "type": "string"
                    },
                    "customerid": {
                      "type": "integer"
                    },
                    "customername": {
                      "type": "string"
                    },
                    "customerphone": {
                      "type": "integer"
                    },
                    "programid": {
                      "type": "integer"
                    },
                    "programname": {
                      "type": "string"
                    },
                    "statusid": {
                      "type": "integer"
                    },
                    "userid": {
                      "type": "integer"
                    },
                    "engagementdate": {
                      "type": "string"
                    },
                    "targetdate": {
                      "type": "string"
                    },
                    "channelid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new engagement based on an API auth token"
      }
    },
    "/engagementbyuser": {
      "post": {
        "summary": "Creates a new engagement by a User",
        "operationId": "engagementbyuser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "engagements"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "engagementbyuser",
            "description": "By passing in the right parameters including userid, create an engagement",
            "schema": {
              "type": "object",
              "required": [
                "userid",
                "locationid",
                "programid",
                "salutation",
                "targetdate",
                "firstname",
                "lastname",
                "phonenumber",
                "email",
                "notifyme",
                "thirdpartyemail"
              ],
              "properties": {
                "userid": {
                  "type": "integer",
                  "description": "The User's ID."
                },
                "locationid": {
                  "type": "integer",
                  "description": "The Locations's ID."
                },
                "programid": {
                  "type": "integer",
                  "description": "An unique identifier of the program."
                },
                "salutation": {
                  "type": "string",
                  "description": "A salutation."
                },
                "firstname": {
                  "type": "string",
                  "description": "First name"
                },
                "lastname": {
                  "type": "string",
                  "description": "Last name"
                },
                "phonenumber": {
                  "type": "integer",
                  "description": "Phone number"
                },
                "email": {
                  "type": "string",
                  "description": "email eg. you@gmail.com."
                },
                "notifyme": {
                  "type": "boolean",
                  "description": "True if one wishes to be notified of messages, false if not"
                },
                "thirdpartyemail": {
                  "type": "string",
                  "description": "email eg. you@gmail.com."
                },
                "custom1value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "custom2value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "custom3value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "custom4value": {
                  "type": "string",
                  "description": "A custom value"
                },
                "custom5value": {
                  "type": "string",
                  "description": "A custom value"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "engagementid": {
                      "type": "integer"
                    },
                    "locationid": {
                      "type": "integer"
                    },
                    "locationname": {
                      "type": "string"
                    },
                    "customerid": {
                      "type": "integer"
                    },
                    "customername": {
                      "type": "string"
                    },
                    "customerphone": {
                      "type": "integer"
                    },
                    "programid": {
                      "type": "integer"
                    },
                    "programname": {
                      "type": "string"
                    },
                    "statusid": {
                      "type": "integer"
                    },
                    "userid": {
                      "type": "integer"
                    },
                    "engagementdate": {
                      "type": "string"
                    },
                    "targetdate": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new engagement by a User"
      }
    },
    "/getengagementdata": {
      "post": {
        "summary": "Provides access to the retrieval of engagement conversation data",
        "operationId": "getEngagementData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "tags": [
          "engagements"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "getEngagementData",
            "description": "Provides access to historical data",
            "schema": {
              "type": "object",
              "required": [
                "username",
                "password"
              ],
              "properties": {
                "username": {
                  "type": "string",
                  "description": "This your AtlasRTX user name and it used to determine the account and location that is used to gather the appropriate data"
                },
                "password": {
                  "type": "string",
                  "description": "Your AtlasRTX password"
                },
                "startdate": {
                  "type": "string",
                  "description": "Format expected- mm/dd/yy HH:mm (HH is 24 hour notation, ie 07/28/18 17:30)"
                },
                "enddate": {
                  "type": "string",
                  "description": "Format expected- mm/dd/yy HH:mm (HH is 24 hour notation, ie 07/29/18 17:30)"
                },
                "messagedatetype": {
                  "type": "string",
                  "description": "One of three values is expected that will utilize the above start and end date period to filter messages '1' = Date of first message in the engagement occurred in the period '2' = Date of latest message in the engagement occurred in the period '3' = Date of any message in the engagement occurred in the period"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "message": {
                  "type": "string"
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "engagementid": {
                      "type": "integer"
                    },
                    "locationid": {
                      "type": "integer"
                    },
                    "locationname": {
                      "type": "string"
                    },
                    "customerid": {
                      "type": "integer"
                    },
                    "customername": {
                      "type": "string"
                    },
                    "customerphone": {
                      "type": "integer"
                    },
                    "programid": {
                      "type": "integer"
                    },
                    "programname": {
                      "type": "string"
                    },
                    "statusid": {
                      "type": "integer"
                    },
                    "userid": {
                      "type": "integer"
                    },
                    "engagementdate": {
                      "type": "string"
                    },
                    "targetdate": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Provides access to the retrieval of engagement conversation data"
      }
    }
  }
}
