{
  "openapi": "3.0.3",
  "info": {
    "title": "Appetize API",
    "version": "1.0.0",
    "description": "Appetize REST API for managing mobile app streaming. Allows uploading, updating, listing, and deleting apps, managing app groups, and retrieving usage summaries.",
    "x-jentic-source-url": "https://docs.appetize.io/rest-api"
  },
  "servers": [
    {
      "url": "https://api.appetize.io/v1"
    }
  ],
  "paths": {
    "/apps": {
      "get": {
        "operationId": "listApps",
        "summary": "List all apps (paginated)",
        "description": "Retrieves a paginated list of all apps with metadata.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "nextKey",
            "in": "query",
            "description": "Pagination key for the next page of results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of apps",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createApp",
        "summary": "Create a new app",
        "description": "Create a new app by providing a URL to the app binary or uploading a file directly.",
        "tags": [
          "Apps"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCreateRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AppUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/apps/all": {
      "get": {
        "operationId": "listAllApps",
        "summary": "List all apps (not paginated)",
        "description": "Retrieves information about all apps in the account without pagination. May be slower; paginated version recommended.",
        "tags": [
          "Apps"
        ],
        "responses": {
          "200": {
            "description": "List of all apps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/App"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/apps/{publicKey}": {
      "get": {
        "operationId": "getApp",
        "summary": "Get a specific app",
        "description": "Retrieves information about a specific app by its public key.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "publicKey",
            "in": "path",
            "required": true,
            "description": "The app's public key identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "App not found"
          }
        }
      },
      "post": {
        "operationId": "updateApp",
        "summary": "Update an existing app",
        "description": "Update an existing app by providing a new URL or uploading a file.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "publicKey",
            "in": "path",
            "required": true,
            "description": "The app's public key identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppCreateRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AppUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "App not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteApp",
        "summary": "Delete an app",
        "description": "Deletes an app by its public key.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "publicKey",
            "in": "path",
            "required": true,
            "description": "The app's public key identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "App not found"
          }
        }
      }
    },
    "/usageSummary": {
      "get": {
        "operationId": "getUsageSummary",
        "summary": "Get usage summary",
        "description": "Retrieves usage summary data with pagination support.",
        "tags": [
          "Usage"
        ],
        "parameters": [
          {
            "name": "nextKey",
            "in": "query",
            "description": "Pagination key for the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startMonth",
            "in": "query",
            "description": "Start month for usage data (e.g. 2023-07)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage summary data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "App": {
        "type": "object",
        "properties": {
          "publicKey": {
            "type": "string",
            "description": "Unique app identifier"
          },
          "name": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "enum": [
              "ios",
              "android"
            ]
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "versionCode": {
            "type": "integer"
          },
          "versionName": {
            "type": "string"
          },
          "bundle": {
            "type": "string"
          },
          "iconUrl": {
            "type": "string",
            "format": "uri"
          },
          "appVersionCode": {
            "type": "string"
          },
          "appVersionName": {
            "type": "string"
          }
        }
      },
      "AppCreateRequest": {
        "type": "object",
        "required": [
          "url",
          "platform"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the app binary (.zip, .tar.gz, .apk, .ipa, .app)"
          },
          "platform": {
            "type": "string",
            "enum": [
              "ios",
              "android"
            ]
          },
          "note": {
            "type": "string",
            "description": "A note for the app"
          },
          "timeout": {
            "type": "integer",
            "description": "Session timeout in seconds"
          },
          "disabled": {
            "type": "boolean",
            "description": "Whether the app is disabled"
          },
          "appPermissions": {
            "type": "object",
            "description": "App permission settings",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "AppUploadRequest": {
        "type": "object",
        "required": [
          "file",
          "platform"
        ],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "App file from local file system"
          },
          "platform": {
            "type": "string",
            "enum": [
              "ios",
              "android"
            ]
          }
        }
      },
      "AppListResponse": {
        "type": "object",
        "properties": {
          "hasMore": {
            "type": "boolean"
          },
          "nextKey": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/App"
            }
          }
        }
      },
      "UsageSummaryResponse": {
        "type": "object",
        "properties": {
          "hasMore": {
            "type": "boolean"
          },
          "nextKey": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageRecord"
            }
          }
        }
      },
      "UsageRecord": {
        "type": "object",
        "properties": {
          "month": {
            "type": "string",
            "format": "date"
          },
          "publicKey": {
            "type": "string"
          },
          "numSessions": {
            "type": "integer"
          },
          "minutes": {
            "type": "number"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API token obtained from the Appetize dashboard"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}