{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "Search for information on companies using a website or company name and get access to Company Data, News, Blog Posts, Competitor Lists and much more.",
    "title": "Owler",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "search"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/owler.com/1.0.0/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_owlerinc_profile_image.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.11"
        },
        "format": "swagger",
        "url": "https://developers.owler.com/swagger/spec.json",
        "version": "1.2"
      }
    ],
    "x-providerName": "owler.com"
  },
  "servers": [
    {
      "url": "https://api.owler.com/"
    }
  ],
  "paths": {
    "/v1/company/basicsearch": {
      "get": {
        "parameters": [
          {
            "description": "Search term",
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Fields to be searched - name, website, ticker, permid. If not specfied, will be searched against all fields",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "name",
                  "website",
                  "ticker",
                  "permid"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Number of results to be displayed - 10 (by default, if not specified) to 30",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Format of the response content - json (by default if not specified), xml",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/basic_results"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/basic_results"
                }
              }
            },
            "description": "Search Results"
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "CompanyAPI"
        ],
        "description": "The Company Basic Search API searches for a company based on the input and will returns results containing basic details about matching companies. By default the API returns the top 10 available results unless the limit is specified. The maximum limit is restricted to 30.",
        "operationId": "basicCompanySearch",
        "summary": "Basic Search Company by Ticker or Website or Name or PermID"
      }
    },
    "/v1/company/competitor/id/{companyId}": {
      "get": {
        "parameters": [
          {
            "description": "Company Id",
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Format of the response content - json (by default if not specified), xml",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCompetitorVO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCompetitorVO"
                }
              }
            },
            "description": "Competitors Data"
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "CompetitorAPI"
        ],
        "description": "The Competitors API provides basic information about top 3 competitors of a company specified in the Company Id",
        "operationId": "get-v1-company-competitor-id-by-companyid",
        "summary": "Get Competitor information by Id"
      }
    },
    "/v1/company/competitor/url/{website}": {
      "get": {
        "parameters": [
          {
            "description": "Company Id",
            "in": "path",
            "name": "website",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Format of the response content - json (by default if not specified), xml",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCompetitorVO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCompetitorVO"
                }
              }
            },
            "description": "Competitors Data"
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "CompetitorAPI"
        ],
        "description": "The Competitors API provides basic information about top 3 competitors of a company specified in the website",
        "operationId": "get-v1-company-competitor-url-by-website",
        "summary": "Get Competitor information by URL"
      }
    },
    "/v1/company/competitorpremium/id/{companyId}": {
      "get": {
        "parameters": [
          {
            "description": "Company Id",
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pass pagination_id as * in the first API request. The API response will return top competitors along with the next pagination_id which can be passed in the subsequent API request to get the next set of competitors. Repeat this process until needed or till the pagination_id returned is blank. Note:Every response will have maximum of 50 competitors.",
            "in": "query",
            "name": "pagination_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Format of the response content - json (by default if not specified), xml",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/competitors"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/competitors"
                }
              }
            },
            "description": "Competitors Data"
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "CompetitorPremiumAPI"
        ],
        "description": "The Competitors API provides basic information about all competitors of a given company Id",
        "operationId": "get-v1-company-competitorpremium-id-by-companyid",
        "summary": "Get Competitor information by Id"
      }
    },
    "/v1/company/competitorpremium/url/{website}": {
      "get": {
        "parameters": [
          {
            "description": "Company Id",
            "in": "path",
            "name": "website",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Pass pagination_id as * in the first API request. The API response will return top competitors along with the next pagination_id which can be passed in the subsequent API request to get the next set of competitors. Repeat this process until needed or till the pagination_id returned is blank. Note:Every response will have maximum of 50 competitors.",
            "in": "query",
            "name": "pagination_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Format of the response content - json (by default if not specified), xml",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/competitors"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/competitors"
                }
              }
            },
            "description": "Competitors Data"
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "CompetitorPremiumAPI"
        ],
        "description": "The Competitors API provides basic information about all competitors of a given company Id",
        "operationId": "get-v1-company-competitorpremium-url-by-website",
        "summary": "Get Competitor information by Url"
      }
    },
    "/v1/company/fuzzysearch": {
      "get": {
        "parameters": [
          {
            "description": "Search term",
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Fields to be searched - name, website, ticker, permid, address, phone. Each field and its corresponding value has to be specified",
            "in": "query",
            "name": "fields",
            "required": true,
            "schema": {
              "items": {
                "enum": [
                  "name",
                  "website",
                  "ticker",
                  "permid",
                  "address",
                  "phone"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Number of results to be displayed - 10 (by default, if not specified) to 30",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Format of the response content - json (by default if not specified), xml",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fuzzy_results"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/fuzzy_results"
                }
              }
            },
            "description": "Search Results"
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "CompanyAPI"
        ],
        "description": "The Company Fuzzy Search API searches for a company based on the input and will return results containing basic details about matching companies. By default the API returns at most top 10 available results unless the limit is specified. The maximum limit is restricted to 30.",
        "operationId": "fuzzyCompanySearch",
        "summary": "Fuzzy Search Company by Name or Address or Phone"
      }
    },
    "/v1/company/id/{companyId}": {
      "get": {
        "parameters": [
          {
            "description": "Company Id",
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Format of the response content - json (by default if not specified), xml",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/company"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/company"
                }
              }
            },
            "description": "Company Data"
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "CompanyAPI"
        ],
        "description": "The Company Data API provides complete information about a company for the specified Company Id ",
        "operationId": "get-v1-company-id-by-companyid",
        "summary": "Get Company by Id"
      }
    },
    "/v1/company/search": {
      "get": {
        "parameters": [
          {
            "description": "Search term",
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Fields to be searched - name, website, ticker. If not specified, will be searched against all fields",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "name",
                  "website",
                  "ticker",
                  "permid"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Number of results to be displayed - 10 (by default, if not specified) to 30",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Format of the response content - json (by default if not specified), xml",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/results"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/results"
                }
              }
            },
            "description": "Search Results"
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "CompanyAPI"
        ],
        "description": "The Company Search API searches for a company based on the input and will returns results containing basic details about matching companies. By default the API returns the top 10 available results unless the limit is specified. The maximum limit is restricted to 30.",
        "operationId": "searchCompany",
        "summary": "Search Company by Ticker or Website or Name or PermID"
      }
    },
    "/v1/company/url/{website}": {
      "get": {
        "parameters": [
          {
            "description": "Company Domain",
            "in": "path",
            "name": "website",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Format of the response content - json (by default if not specified), xml",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/company"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/company"
                }
              }
            },
            "description": "Company Data"
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "CompanyAPI"
        ],
        "description": "The Company Data API provides complete information about a company for the specified URL ",
        "operationId": "get-v1-company-url-by-website",
        "summary": "Get Company by URL"
      }
    },
    "/v1/companypremium/id/{companyId}": {
      "get": {
        "parameters": [
          {
            "description": "Company Id",
            "in": "path",
            "name": "companyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Format of the response content - json (by default if not specified), xml",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/company"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/company"
                }
              }
            },
            "description": "Company Data"
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "CompanyPremiumAPI"
        ],
        "description": "The Company Premium Data API provides complete information about a company for the specified Company Id ",
        "operationId": "get-v1-companypremium-id-by-companyid",
        "summary": "Get Complete Company Info by Id"
      }
    },
    "/v1/companypremium/url/{website}": {
      "get": {
        "parameters": [
          {
            "description": "Company Domain",
            "in": "path",
            "name": "website",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Format of the response content - json (by default if not specified), xml",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/company"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/company"
                }
              }
            },
            "description": "Company Data"
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "404": {
            "description": "Resource Not Found"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "CompanyPremiumAPI"
        ],
        "description": "The Company Data API provides complete information about a company for the specified URL ",
        "operationId": "get-v1-companypremium-url-by-website",
        "summary": "Get Basic Company Info by Url"
      }
    },
    "/v1/feed": {
      "get": {
        "parameters": [
          {
            "description": "Format of the response content - json (by default if not specified), xml",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Company Ids separated by comma (Maximum of 150 Company Ids)",
            "in": "query",
            "name": "company_id",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Number of results to be displayed - 10 (by default, if not specified) to 100",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": "10",
              "type": "string"
            }
          },
          {
            "description": "Pass pagination_id as blank in the first API request. The API response will return the latest feeds along with the next pagination_id which can be passed in the subsequent API request to get the next set of feeds. Repeat this process until needed or till the pagination_id returned is blank",
            "in": "query",
            "name": "pagination_id",
            "required": false,
            "schema": {
              "default": "*",
              "type": "string"
            }
          },
          {
            "description": "Categories separated by comma. If not specified, will search against all categories",
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "NEWS",
                  "PRESS",
                  "FUNDING",
                  "ACQUISITION",
                  "PEOPLE",
                  "BLOG",
                  "VIDEOS"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/results"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/results"
                }
              }
            },
            "description": "Feeds Data"
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "FeedAPI"
        ],
        "description": "The Feeds API provides a list of feeds and individual feed information for the given Company Ids and Category. By default the API returns the latest 10 feeds available unless the limit is specified. The maximum result is restricted to 100 feeds per API request.",
        "operationId": "get-v1-feed",
        "summary": "Get Feeds for given Company Ids"
      }
    },
    "/v1/feed/url": {
      "get": {
        "parameters": [
          {
            "description": "Format of the response content - json (by default if not specified), xml",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "default": "json",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Company Websites separated by comma (Maximum of 10 Company Websites)",
            "in": "query",
            "name": "domain",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Number of results to be displayed - 10 (by default, if not specified) to 100",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": "10",
              "type": "string"
            }
          },
          {
            "description": "Pass pagination_id as blank in the first API request. The API response will return the latest feeds along with the next pagination_id which can be passed in the subsequent API request to get the next set of feeds. Repeat this process until needed or till the pagination_id returned is blank",
            "in": "query",
            "name": "pagination_id",
            "required": false,
            "schema": {
              "default": "*",
              "type": "string"
            }
          },
          {
            "description": "Categories separated by comma. If not specified, will search against all categories",
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "NEWS",
                  "PRESS",
                  "FUNDING",
                  "ACQUISITION",
                  "PEOPLE",
                  "BLOG",
                  "VIDEOS"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/results"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/results"
                }
              }
            },
            "description": "Feeds Data"
          },
          "400": {
            "description": "Invalid Parameters"
          },
          "403": {
            "description": "Authentication Failed"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "FeedAPI"
        ],
        "description": "The Feeds API provides a list of feeds and individual feed information for the given Company Websites and Category. By default the API returns the latest 10 feeds available unless the limit is specified. The maximum result is restricted to 100 feeds per API request.",
        "operationId": "get-v1-feed-url",
        "summary": "Get Feeds for given Company Websites"
      }
    }
  },
  "components": {
    "schemas": {
      "Acquisition": {
        "properties": {
          "acquirer_company_id": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "company_id": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "undisclosed": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Address": {
        "properties": {
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "street1": {
            "type": "string"
          },
          "street2": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Ceo": {
        "properties": {
          "ceo_rating": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CompanyBasicSearchVO": {
        "properties": {
          "company_id": {
            "format": "int64",
            "type": "integer"
          },
          "hq_address": {
            "$ref": "#/components/schemas/Address"
          },
          "name": {
            "type": "string"
          },
          "perm_id": {
            "type": "string"
          },
          "profile_url": {
            "type": "string"
          },
          "short_name": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CompanyBasicVO": {
        "properties": {
          "company_id": {
            "format": "int64",
            "type": "integer"
          },
          "logo_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "profile_url": {
            "type": "string"
          },
          "short_name": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        },
        "required": [
          "company_id",
          "name",
          "website",
          "logo_url",
          "profile_url"
        ],
        "type": "object"
      },
      "CompanyCompetitorVO": {
        "properties": {
          "competitor": {
            "items": {
              "$ref": "#/components/schemas/CompanyBasicVO"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CompetitorBasicVO": {
        "properties": {
          "company_id": {
            "format": "int64",
            "type": "integer"
          },
          "logo_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "profile_url": {
            "type": "string"
          },
          "score": {
            "format": "int64",
            "type": "integer"
          },
          "short_name": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        },
        "required": [
          "company_id",
          "name",
          "website",
          "logo_url",
          "profile_url",
          "score"
        ],
        "type": "object"
      },
      "FeedsVO": {
        "properties": {
          "category": {
            "type": "string"
          },
          "company": {
            "$ref": "#/components/schemas/CompanyBasicVO"
          },
          "enclosure_image": {
            "type": "string"
          },
          "feed_date": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "owler_feed_url": {
            "type": "string"
          },
          "publisher_logo": {
            "type": "string"
          },
          "publisher_name": {
            "type": "string"
          },
          "source_url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Funding": {
        "properties": {
          "amount": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "investor": {
            "items": {
              "$ref": "#/components/schemas/Investor"
            },
            "type": "array"
          },
          "type": {
            "type": "string"
          },
          "undisclosed": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Investor": {
        "properties": {
          "company_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SectorVO": {
        "properties": {
          "name": {
            "type": "string"
          },
          "parent_industry": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Stock": {
        "properties": {
          "exchange": {
            "type": "string"
          },
          "ticker": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "basic_results": {
        "properties": {
          "company": {
            "items": {
              "$ref": "#/components/schemas/CompanyBasicSearchVO"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "company": {
        "properties": {
          "acquisition": {
            "items": {
              "$ref": "#/components/schemas/Acquisition"
            },
            "type": "array"
          },
          "ceo": {
            "$ref": "#/components/schemas/Ceo"
          },
          "company_id": {
            "format": "int64",
            "type": "integer"
          },
          "company_type": {
            "enum": [
              "Private",
              "Public",
              "Product/Brand/Service",
              "NGO/NPO/NFP/Organization/Association",
              "Investment Company",
              "Government"
            ],
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "employee_count": {
            "type": "string"
          },
          "facebook_link": {
            "type": "string"
          },
          "founded_date": {
            "type": "string"
          },
          "funding": {
            "items": {
              "$ref": "#/components/schemas/Funding"
            },
            "type": "array"
          },
          "hq_address": {
            "$ref": "#/components/schemas/Address"
          },
          "industries": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "linkedin_link": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "perm_id": {
            "type": "string"
          },
          "portfolio_company_ids": {
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "type": "array"
          },
          "profile_url": {
            "type": "string"
          },
          "revenue": {
            "type": "string"
          },
          "sectors": {
            "items": {
              "$ref": "#/components/schemas/SectorVO"
            },
            "type": "array"
          },
          "short_name": {
            "type": "string"
          },
          "stock": {
            "$ref": "#/components/schemas/Stock"
          },
          "twitter_link": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "youtube_link": {
            "type": "string"
          }
        },
        "required": [
          "company_id",
          "name",
          "website",
          "logo_url",
          "profile_url"
        ],
        "type": "object"
      },
      "competitors": {
        "properties": {
          "competitor": {
            "items": {
              "$ref": "#/components/schemas/CompetitorBasicVO"
            },
            "type": "array"
          },
          "pagination_id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "fuzzy_results": {},
      "results": {
        "properties": {
          "feeds": {
            "items": {
              "$ref": "#/components/schemas/FeedsVO"
            },
            "type": "array"
          },
          "pagination_id": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "user_key": {
        "description": "API Access Key",
        "in": "header",
        "name": "user_key",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "user_key": []
    }
  ],
  "tags": [
    {
      "description": "Provides Company information",
      "name": "CompanyAPI"
    },
    {
      "description": "Provides company premium information.",
      "name": "CompanyPremiumAPI"
    },
    {
      "description": "Provides Competitor information",
      "name": "CompetitorAPI"
    },
    {
      "description": "Provides Competitor Premium information",
      "name": "CompetitorPremiumAPI"
    },
    {
      "description": "Provides Feed information",
      "name": "FeedAPI"
    }
  ]
}