{
  "openapi": "3.0.3",
  "info": {
    "title": "Buildkite API",
    "version": "v2",
    "description": "Buildkite REST API for managing organizations, pipelines, builds, agents, artifacts, annotations, jobs, teams, and clusters. Supports CI/CD pipeline management and build automation.",
    "x-jentic-source-url": "https://buildkite.com/docs/apis/rest-api"
  },
  "servers": [
    {
      "url": "https://api.buildkite.com/v2",
      "description": "Buildkite API v2"
    }
  ],
  "paths": {
    "/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "description": "Returns a paginated list of organizations accessible by the user's access token.",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organization"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{org_slug}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get an organization",
        "description": "Retrieves details of a specific organization.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{org_slug}/pipelines": {
      "get": {
        "operationId": "listPipelines",
        "summary": "List pipelines",
        "description": "Returns a paginated list of an organization's pipelines.",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by pipeline name (partial, case insensitive)"
          },
          {
            "name": "repository",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by repository URL (partial, case insensitive)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of pipelines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pipeline"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPipeline",
        "summary": "Create a pipeline",
        "description": "Creates a new pipeline in the organization.",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePipelineRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pipeline created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{org_slug}/pipelines/{pipeline_slug}": {
      "get": {
        "operationId": "getPipeline",
        "summary": "Get a pipeline",
        "description": "Retrieves details of a specific pipeline.",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipeline_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updatePipeline",
        "summary": "Update a pipeline",
        "description": "Updates a pipeline's settings.",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipeline_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePipelineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePipeline",
        "summary": "Delete a pipeline",
        "description": "Deletes a pipeline and all associated builds.",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipeline_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Pipeline deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/builds": {
      "get": {
        "operationId": "listAllBuilds",
        "summary": "List all builds",
        "description": "Returns a paginated list of all builds across all the user's organizations and pipelines.",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "branch",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by branch name"
          },
          {
            "name": "commit",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by full commit SHA"
          },
          {
            "name": "created_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter builds created on or after (ISO 8601)"
          },
          {
            "name": "created_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter builds created before (ISO 8601)"
          },
          {
            "name": "creator",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by creator UUID"
          },
          {
            "name": "finished_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter builds finished on or after (ISO 8601)"
          },
          {
            "name": "include_retried_jobs",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include all retried job executions"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "creating",
                "scheduled",
                "running",
                "passed",
                "failing",
                "failed",
                "blocked",
                "canceling",
                "canceled",
                "skipped",
                "not_run",
                "finished"
              ]
            },
            "description": "Filter by build state"
          }
        ],
        "responses": {
          "200": {
            "description": "List of builds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Build"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{org_slug}/builds": {
      "get": {
        "operationId": "listOrganizationBuilds",
        "summary": "List builds for an organization",
        "description": "Returns a paginated list of an organization's builds across all pipelines.",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of builds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Build"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{org_slug}/pipelines/{pipeline_slug}/builds": {
      "get": {
        "operationId": "listPipelineBuilds",
        "summary": "List builds for a pipeline",
        "description": "Returns a paginated list of a pipeline's builds, newest first.",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipeline_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of builds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Build"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBuild",
        "summary": "Create a build",
        "description": "Creates a new build for a pipeline.",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipeline_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBuildRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Build created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{org_slug}/pipelines/{pipeline_slug}/builds/{build_number}": {
      "get": {
        "operationId": "getBuild",
        "summary": "Get a build",
        "description": "Retrieves details of a specific build by build number.",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipeline_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number within the pipeline"
          }
        ],
        "responses": {
          "200": {
            "description": "Build details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{org_slug}/pipelines/{pipeline_slug}/builds/{build_number}/cancel": {
      "put": {
        "operationId": "cancelBuild",
        "summary": "Cancel a build",
        "description": "Cancels a running or scheduled build.",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipeline_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{org_slug}/pipelines/{pipeline_slug}/builds/{build_number}/rebuild": {
      "put": {
        "operationId": "rebuildBuild",
        "summary": "Rebuild a build",
        "description": "Triggers a rebuild of an existing build.",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipeline_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build rebuild triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{org_slug}/agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "List agents",
        "description": "Returns a paginated list of agents for an organization.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{org_slug}/agents/{agent_id}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Get an agent",
        "description": "Retrieves details of a specific agent.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "stopAgent",
        "summary": "Stop an agent",
        "description": "Instructs an agent to stop accepting new jobs and shut down.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "type": "boolean",
                    "description": "Force stop the agent"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Agent stop initiated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get the current user",
        "description": "Returns the user associated with the API access token.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Buildkite API access token"
      }
    },
    "schemas": {
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "graphql_id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "web_url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "pipelines_url": {
            "type": "string",
            "format": "uri"
          },
          "agents_url": {
            "type": "string",
            "format": "uri"
          },
          "emojis_url": {
            "type": "string",
            "format": "uri"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Pipeline": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "graphql_id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "web_url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "repository": {
            "type": "string"
          },
          "cluster_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "branch_configuration": {
            "type": "string",
            "nullable": true
          },
          "default_branch": {
            "type": "string"
          },
          "skip_queued_branch_builds": {
            "type": "boolean"
          },
          "cancel_running_branch_builds": {
            "type": "boolean"
          },
          "allow_rebuilds": {
            "type": "boolean"
          },
          "builds_url": {
            "type": "string",
            "format": "uri"
          },
          "badge_url": {
            "type": "string",
            "format": "uri"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "archived_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ]
          },
          "configuration": {
            "type": "string"
          },
          "scheduled_builds_count": {
            "type": "integer"
          },
          "running_builds_count": {
            "type": "integer"
          },
          "scheduled_jobs_count": {
            "type": "integer"
          },
          "running_jobs_count": {
            "type": "integer"
          },
          "waiting_jobs_count": {
            "type": "integer"
          }
        }
      },
      "Build": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "graphql_id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "web_url": {
            "type": "string",
            "format": "uri"
          },
          "number": {
            "type": "integer"
          },
          "state": {
            "type": "string",
            "enum": [
              "scheduled",
              "running",
              "passed",
              "failed",
              "blocked",
              "canceled",
              "canceling",
              "skipped",
              "not_run",
              "waiting",
              "waiting_failed"
            ]
          },
          "blocked": {
            "type": "boolean"
          },
          "cancel_reason": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string"
          },
          "commit": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "source": {
            "type": "string",
            "enum": [
              "webhook",
              "api",
              "ui",
              "trigger_job",
              "schedule"
            ]
          },
          "creator": {
            "$ref": "#/components/schemas/User"
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "meta_data": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "pipeline": {
            "$ref": "#/components/schemas/Pipeline"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "graphql_id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "script",
              "waiter",
              "manual",
              "trigger"
            ]
          },
          "name": {
            "type": "string"
          },
          "step_key": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "web_url": {
            "type": "string",
            "format": "uri"
          },
          "log_url": {
            "type": "string",
            "format": "uri"
          },
          "command": {
            "type": "string"
          },
          "exit_status": {
            "type": "integer",
            "nullable": true
          },
          "soft_failed": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "retried": {
            "type": "boolean"
          },
          "agent": {
            "$ref": "#/components/schemas/Agent"
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "graphql_id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "web_url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "connection_state": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "user_agent": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "graphql_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreatePipelineRequest": {
        "type": "object",
        "required": [
          "name",
          "repository",
          "configuration"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "repository": {
            "type": "string"
          },
          "configuration": {
            "type": "string",
            "description": "YAML pipeline configuration"
          },
          "cluster_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "default_branch": {
            "type": "string"
          },
          "branch_configuration": {
            "type": "string"
          },
          "skip_queued_branch_builds": {
            "type": "boolean"
          },
          "cancel_running_branch_builds": {
            "type": "boolean"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ]
          }
        }
      },
      "UpdatePipelineRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "repository": {
            "type": "string"
          },
          "configuration": {
            "type": "string"
          },
          "default_branch": {
            "type": "string"
          },
          "branch_configuration": {
            "type": "string"
          },
          "skip_queued_branch_builds": {
            "type": "boolean"
          },
          "cancel_running_branch_builds": {
            "type": "boolean"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ]
          }
        }
      },
      "CreateBuildRequest": {
        "type": "object",
        "required": [
          "commit",
          "branch"
        ],
        "properties": {
          "commit": {
            "type": "string",
            "description": "Git commit SHA (use HEAD for latest)"
          },
          "branch": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "author": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "meta_data": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "clean_checkout": {
            "type": "boolean"
          },
          "ignore_pipeline_branch_filters": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Organizations",
      "description": "Manage organizations"
    },
    {
      "name": "Pipelines",
      "description": "Manage CI/CD pipelines"
    },
    {
      "name": "Builds",
      "description": "Manage pipeline builds"
    },
    {
      "name": "Agents",
      "description": "Manage build agents"
    },
    {
      "name": "Users",
      "description": "User information"
    }
  ]
}