{
  "openapi": "3.0.3",
  "info": {
    "title": "SpaceX API",
    "version": "5.0.0",
    "description": "Open source REST API for SpaceX launch, rocket, core, capsule, starlink, launchpad, and landing pad data.",
    "x-jentic-source-url": "https://docs.spacexdata.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.spacexdata.com/v5"
    }
  ],
  "paths": {
    "/launches": {
      "get": {
        "operationId": "listLaunches",
        "summary": "List all launches",
        "tags": [
          "Launches"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Launch"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all launches"
      }
    },
    "/launches/latest": {
      "get": {
        "operationId": "getLatestLaunch",
        "summary": "Get latest launch",
        "tags": [
          "Launches"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Launch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Get latest launch"
      }
    },
    "/launches/next": {
      "get": {
        "operationId": "getNextLaunch",
        "summary": "Get next launch",
        "tags": [
          "Launches"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Launch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Get next launch"
      }
    },
    "/launches/past": {
      "get": {
        "operationId": "listPastLaunches",
        "summary": "List past launches",
        "tags": [
          "Launches"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Launch"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "List past launches"
      }
    },
    "/launches/upcoming": {
      "get": {
        "operationId": "listUpcomingLaunches",
        "summary": "List upcoming launches",
        "tags": [
          "Launches"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Launch"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "List upcoming launches"
      }
    },
    "/launches/{id}": {
      "get": {
        "operationId": "getLaunch",
        "summary": "Get a launch by ID",
        "tags": [
          "Launches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Launch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Get a launch by ID"
      }
    },
    "/rockets": {
      "get": {
        "operationId": "listRockets",
        "summary": "List all rockets",
        "tags": [
          "Rockets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rocket"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "List all rockets"
      }
    },
    "/rockets/{id}": {
      "get": {
        "operationId": "getRocket",
        "summary": "Get a rocket by ID",
        "tags": [
          "Rockets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rocket"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Get a rocket by ID"
      }
    },
    "/capsules": {
      "get": {
        "operationId": "listCapsules",
        "summary": "List all capsules",
        "tags": [
          "Capsules"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Capsule"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "List all capsules"
      }
    },
    "/capsules/{id}": {
      "get": {
        "operationId": "getCapsule",
        "summary": "Get a capsule by ID",
        "tags": [
          "Capsules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Get a capsule by ID"
      }
    },
    "/cores": {
      "get": {
        "operationId": "listCores",
        "summary": "List all cores",
        "tags": [
          "Cores"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "List all cores"
      }
    },
    "/cores/{id}": {
      "get": {
        "operationId": "getCore",
        "summary": "Get a core by ID",
        "tags": [
          "Cores"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Get a core by ID"
      }
    },
    "/starlink": {
      "get": {
        "operationId": "listStarlink",
        "summary": "List all Starlink satellites",
        "tags": [
          "Starlink"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "List all Starlink satellites"
      }
    },
    "/starlink/{id}": {
      "get": {
        "operationId": "getStarlink",
        "summary": "Get a Starlink satellite by ID",
        "tags": [
          "Starlink"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Get a Starlink satellite by ID"
      }
    },
    "/launchpads": {
      "get": {
        "operationId": "listLaunchpads",
        "summary": "List all launchpads",
        "tags": [
          "Launchpads"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "List all launchpads"
      }
    },
    "/launchpads/{id}": {
      "get": {
        "operationId": "getLaunchpad",
        "summary": "Get a launchpad by ID",
        "tags": [
          "Launchpads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Get a launchpad by ID"
      }
    },
    "/landpads": {
      "get": {
        "operationId": "listLandpads",
        "summary": "List all landing pads",
        "tags": [
          "Landpads"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "List all landing pads"
      }
    },
    "/landpads/{id}": {
      "get": {
        "operationId": "getLandpad",
        "summary": "Get a landing pad by ID",
        "tags": [
          "Landpads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Get a landing pad by ID"
      }
    }
  },
  "components": {
    "schemas": {
      "Launch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "date_utc": {
            "type": "string",
            "format": "date-time"
          },
          "date_local": {
            "type": "string"
          },
          "flight_number": {
            "type": "integer"
          },
          "rocket": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "details": {
            "type": "string"
          },
          "crew": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "payloads": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "launchpad": {
            "type": "string"
          },
          "cores": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "links": {
            "type": "object"
          }
        }
      },
      "Rocket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "stages": {
            "type": "integer"
          },
          "boosters": {
            "type": "integer"
          },
          "cost_per_launch": {
            "type": "integer"
          },
          "success_rate_pct": {
            "type": "number"
          },
          "first_flight": {
            "type": "string",
            "format": "date"
          },
          "country": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Capsule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "serial": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "reuse_count": {
            "type": "integer"
          },
          "water_landings": {
            "type": "integer"
          },
          "land_landings": {
            "type": "integer"
          },
          "launches": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Capsules"
    },
    {
      "name": "Cores"
    },
    {
      "name": "Landpads"
    },
    {
      "name": "Launches"
    },
    {
      "name": "Launchpads"
    },
    {
      "name": "Rockets"
    },
    {
      "name": "Starlink"
    }
  ]
}
