{
  "openapi": "3.0.3",
  "info": {
    "title": "BrowserStack Automate API",
    "description": "API for managing BrowserStack Automate resources including projects, builds, sessions, media files, and account settings.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.browserstack.com/docs/automate/api-reference/selenium/session"
  },
  "servers": [
    {
      "url": "https://api.browserstack.com",
      "description": "BrowserStack API server"
    }
  ],
  "paths": {
    "/automate/plan.json": {
      "get": {
        "tags": [
          "Plan"
        ],
        "summary": "Get plan details",
        "description": "Returns the current Automate plan details including parallel sessions and queued sessions.",
        "operationId": "getPlan",
        "responses": {
          "200": {
            "description": "Plan details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/browsers.json": {
      "get": {
        "tags": [
          "Browsers"
        ],
        "summary": "List available browsers",
        "description": "Returns the list of available OS and browser combinations for Automate testing.",
        "operationId": "listBrowsers",
        "responses": {
          "200": {
            "description": "List of browsers retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Browser"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/projects.json": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List all projects",
        "description": "Returns a list of all projects in the account.",
        "operationId": "listProjects",
        "responses": {
          "200": {
            "description": "List of projects retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/projects/{projectId}.json": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project details",
        "description": "Returns details of a specific project including its builds.",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "The ID of the project.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Update project",
        "description": "Updates the name of a project.",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "The ID of the project.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete project",
        "description": "Deletes a project and all its builds and sessions.",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "The ID of the project.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/projects/{projectId}/badge.json": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get status badge",
        "description": "Returns the status badge key for the specified project.",
        "operationId": "getProjectBadge",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "The ID of the project.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Badge key retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Badge"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/builds.json": {
      "get": {
        "tags": [
          "Builds"
        ],
        "summary": "List all builds",
        "description": "Returns a list of recent builds with optional filtering by status and limit.",
        "operationId": "listBuilds",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of builds to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by build status (running, done, failed).",
            "schema": {
              "type": "string",
              "enum": [
                "running",
                "done",
                "failed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of builds retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BuildSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Builds"
        ],
        "summary": "Delete multiple builds",
        "description": "Deletes multiple builds specified by an array of build IDs in the request body.",
        "operationId": "deleteMultipleBuilds",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMultipleBuildsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Builds deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/builds/{buildId}.json": {
      "get": {
        "tags": [
          "Builds"
        ],
        "summary": "Get build details",
        "description": "Returns the details of a specific build.",
        "operationId": "getBuild",
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the build.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Builds"
        ],
        "summary": "Update build",
        "description": "Updates the name of a build.",
        "operationId": "updateBuild",
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the build.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBuildRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Build updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Builds"
        ],
        "summary": "Delete build",
        "description": "Deletes a build and all its sessions.",
        "operationId": "deleteBuild",
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the build.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/builds/{buildId}/append_logs": {
      "post": {
        "tags": [
          "Builds"
        ],
        "summary": "Post terminal logs for build",
        "description": "Appends terminal logs to the specified build.",
        "operationId": "appendBuildLogs",
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the build.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppendLogsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logs appended successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/builds/{buildId}/tags": {
      "put": {
        "tags": [
          "Builds"
        ],
        "summary": "Update build tags",
        "description": "Updates the tags associated with a build.",
        "operationId": "updateBuildTags",
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the build.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBuildTagsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Build tags updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/builds/{buildId}/sessions.json": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "List sessions in a build",
        "description": "Returns a list of sessions for the specified build.",
        "operationId": "listSessions",
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the build.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of sessions to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by session status (running, done, failed).",
            "schema": {
              "type": "string",
              "enum": [
                "running",
                "done",
                "failed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sessions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SessionSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/sessions/{sessionId}.json": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get session details",
        "description": "Returns the details of a specific session.",
        "operationId": "getSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Sessions"
        ],
        "summary": "Update session",
        "description": "Updates the name or status of a session.",
        "operationId": "updateSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "Delete session",
        "description": "Deletes a specific session.",
        "operationId": "deleteSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/sessions.json": {
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "Delete multiple sessions",
        "description": "Deletes multiple sessions specified by an array of session IDs in the request body.",
        "operationId": "deleteMultipleSessions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMultipleSessionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sessions deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/sessions/{sessionId}/logs": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get session text logs",
        "description": "Returns the text logs for a specific session.",
        "operationId": "getSessionLogs",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session text logs retrieved successfully.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/sessions/{sessionId}/networklogs": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get network logs",
        "description": "Returns the network logs in HAR format for a specific session.",
        "operationId": "getSessionNetworkLogs",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Network logs retrieved successfully in HAR format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkLogs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/sessions/{sessionId}/consolelogs": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get console logs",
        "description": "Returns the browser console logs for a specific session.",
        "operationId": "getSessionConsoleLogs",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Console logs retrieved successfully.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/sessions/{sessionId}/seleniumlogs": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Selenium logs",
        "description": "Returns the Selenium logs for a specific session.",
        "operationId": "getSessionSeleniumLogs",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Selenium logs retrieved successfully.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/sessions/{sessionId}/appiumlogs": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get Appium logs",
        "description": "Returns the Appium logs for a specific session.",
        "operationId": "getSessionAppiumLogs",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appium logs retrieved successfully.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/sessions/{sessionId}/append_logs": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Post terminal logs for session",
        "description": "Appends terminal logs to the specified session.",
        "operationId": "appendSessionLogs",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppendLogsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logs appended successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/sessions/{sessionId}/status": {
      "put": {
        "tags": [
          "Sessions"
        ],
        "summary": "Set test status",
        "description": "Sets the status (passed/failed) and reason for a specific session.",
        "operationId": "setSessionStatus",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetSessionStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session status updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/sessions/{sessionId}/name": {
      "put": {
        "tags": [
          "Sessions"
        ],
        "summary": "Update session name",
        "description": "Updates the name of a specific session.",
        "operationId": "updateSessionName",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSessionNameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session name updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/sessions/{sessionId}/profiling_data": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get profiling data",
        "description": "Returns the profiling data for a specific session.",
        "operationId": "getSessionProfilingData",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The hashed ID of the session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profiling data retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfilingData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/upload-media": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Upload media file",
        "description": "Uploads a media file (image, video, etc.) for use in Automate tests.",
        "operationId": "uploadMedia",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadMediaRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media file uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/recent_media_files": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "List uploaded media files",
        "description": "Returns a list of recently uploaded media files.",
        "operationId": "listMediaFiles",
        "responses": {
          "200": {
            "description": "List of media files retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MediaFile"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/custom_media/delete/{mediaId}": {
      "delete": {
        "tags": [
          "Media"
        ],
        "summary": "Delete media file",
        "description": "Deletes a previously uploaded media file.",
        "operationId": "deleteMediaFile",
        "parameters": [
          {
            "name": "mediaId",
            "in": "path",
            "required": true,
            "description": "The ID of the media file to delete.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media file deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/automate/access_key": {
      "put": {
        "tags": [
          "AccessKey"
        ],
        "summary": "Reset access key",
        "description": "Resets the access key for the authenticated user and returns the new key.",
        "operationId": "resetAccessKey",
        "responses": {
          "200": {
            "description": "Access key reset successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using BrowserStack username and access key."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Error status indicator.",
            "example": "error"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message.",
            "example": "Invalid request parameters."
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Success status indicator.",
            "example": "ok"
          },
          "message": {
            "type": "string",
            "description": "Human-readable success message.",
            "example": "Operation completed successfully."
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "automate_plan": {
            "type": "string",
            "description": "Name of the Automate plan.",
            "example": "Automate Mobile"
          },
          "parallel_sessions_running": {
            "type": "integer",
            "description": "Number of parallel sessions currently running.",
            "example": 1
          },
          "team_parallel_sessions_max_allowed": {
            "type": "integer",
            "description": "Maximum number of parallel sessions allowed for the team.",
            "example": 5
          },
          "parallel_sessions_max_allowed": {
            "type": "integer",
            "description": "Maximum number of parallel sessions allowed.",
            "example": 5
          },
          "queued_sessions": {
            "type": "integer",
            "description": "Number of queued sessions.",
            "example": 0
          },
          "queued_sessions_max_allowed": {
            "type": "integer",
            "description": "Maximum number of queued sessions allowed.",
            "example": 5
          }
        }
      },
      "Browser": {
        "type": "object",
        "properties": {
          "os": {
            "type": "string",
            "description": "Operating system name.",
            "example": "Windows"
          },
          "os_version": {
            "type": "string",
            "description": "Operating system version.",
            "example": "11"
          },
          "browser": {
            "type": "string",
            "description": "Browser name.",
            "example": "chrome"
          },
          "browser_version": {
            "type": "string",
            "description": "Browser version.",
            "example": "120.0"
          },
          "device": {
            "type": "string",
            "nullable": true,
            "description": "Device name (null for desktop browsers).",
            "example": null
          },
          "real_mobile": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the device is a real mobile device.",
            "example": false
          }
        }
      },
      "ProjectSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique project ID.",
            "example": 123456
          },
          "name": {
            "type": "string",
            "description": "Project name.",
            "example": "My Test Project"
          },
          "group_id": {
            "type": "integer",
            "description": "Group ID the project belongs to.",
            "example": 1
          },
          "user_id": {
            "type": "integer",
            "description": "User ID who created the project.",
            "example": 100
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the project was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the project was last updated."
          },
          "sub_group_id": {
            "type": "integer",
            "nullable": true,
            "description": "Sub-group ID if applicable."
          }
        }
      },
      "ProjectDetail": {
        "type": "object",
        "properties": {
          "project": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "description": "Unique project ID."
              },
              "name": {
                "type": "string",
                "description": "Project name."
              },
              "group_id": {
                "type": "integer",
                "description": "Group ID."
              },
              "user_id": {
                "type": "integer",
                "description": "User ID."
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Creation timestamp."
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Last update timestamp."
              },
              "builds": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BuildSummary"
                },
                "description": "Builds belonging to this project."
              }
            }
          }
        }
      },
      "UpdateProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "New name for the project.",
            "example": "Renamed Project"
          }
        },
        "required": [
          "name"
        ]
      },
      "Badge": {
        "type": "object",
        "properties": {
          "badge_key": {
            "type": "string",
            "description": "Badge key for embedding the status badge."
          },
          "status": {
            "type": "string",
            "description": "Current project status.",
            "example": "passed"
          }
        }
      },
      "BuildSummary": {
        "type": "object",
        "properties": {
          "automation_build": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Build name.",
                "example": "Build 1"
              },
              "hashed_id": {
                "type": "string",
                "description": "Hashed build ID.",
                "example": "abc123def456"
              },
              "duration": {
                "type": "integer",
                "description": "Total build duration in seconds.",
                "example": 120
              },
              "status": {
                "type": "string",
                "description": "Build status.",
                "example": "done"
              },
              "build_tag": {
                "type": "string",
                "nullable": true,
                "description": "Build tag if set."
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Tags associated with the build."
              }
            }
          }
        }
      },
      "BuildDetail": {
        "type": "object",
        "properties": {
          "automation_build": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Build name."
              },
              "hashed_id": {
                "type": "string",
                "description": "Hashed build ID."
              },
              "duration": {
                "type": "integer",
                "description": "Total build duration in seconds."
              },
              "status": {
                "type": "string",
                "description": "Build status."
              },
              "build_tag": {
                "type": "string",
                "nullable": true,
                "description": "Build tag if set."
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Tags associated with the build."
              },
              "sessions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SessionSummary"
                },
                "description": "Sessions in this build."
              }
            }
          }
        }
      },
      "UpdateBuildRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "New name for the build.",
            "example": "Renamed Build"
          }
        },
        "required": [
          "name"
        ]
      },
      "DeleteMultipleBuildsRequest": {
        "type": "object",
        "properties": {
          "build_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of build hashed IDs to delete.",
            "example": [
              "abc123",
              "def456"
            ]
          }
        },
        "required": [
          "build_ids"
        ]
      },
      "AppendLogsRequest": {
        "type": "object",
        "properties": {
          "logs": {
            "type": "string",
            "description": "Terminal log content to append.",
            "example": "Test started at 10:00 AM"
          }
        },
        "required": [
          "logs"
        ]
      },
      "UpdateBuildTagsRequest": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of tags to assign to the build.",
            "example": [
              "smoke",
              "regression"
            ]
          }
        },
        "required": [
          "tags"
        ]
      },
      "SessionSummary": {
        "type": "object",
        "properties": {
          "automation_session": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Session name.",
                "example": "Test Login"
              },
              "hashed_id": {
                "type": "string",
                "description": "Hashed session ID.",
                "example": "sess123abc"
              },
              "duration": {
                "type": "integer",
                "description": "Session duration in seconds.",
                "example": 45
              },
              "os": {
                "type": "string",
                "description": "Operating system.",
                "example": "Windows"
              },
              "os_version": {
                "type": "string",
                "description": "OS version.",
                "example": "11"
              },
              "browser": {
                "type": "string",
                "description": "Browser name.",
                "example": "chrome"
              },
              "browser_version": {
                "type": "string",
                "description": "Browser version.",
                "example": "120.0"
              },
              "status": {
                "type": "string",
                "description": "Session status.",
                "example": "done"
              },
              "reason": {
                "type": "string",
                "nullable": true,
                "description": "Reason for the session status."
              }
            }
          }
        }
      },
      "SessionDetail": {
        "type": "object",
        "properties": {
          "automation_session": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Session name."
              },
              "hashed_id": {
                "type": "string",
                "description": "Hashed session ID."
              },
              "duration": {
                "type": "integer",
                "description": "Session duration in seconds."
              },
              "os": {
                "type": "string",
                "description": "Operating system."
              },
              "os_version": {
                "type": "string",
                "description": "OS version."
              },
              "browser": {
                "type": "string",
                "description": "Browser name."
              },
              "browser_version": {
                "type": "string",
                "description": "Browser version."
              },
              "status": {
                "type": "string",
                "description": "Session status."
              },
              "reason": {
                "type": "string",
                "nullable": true,
                "description": "Reason for the session status."
              },
              "build_name": {
                "type": "string",
                "description": "Name of the parent build."
              },
              "project_name": {
                "type": "string",
                "description": "Name of the parent project."
              },
              "logs": {
                "type": "string",
                "description": "URL to session logs."
              },
              "browser_url": {
                "type": "string",
                "description": "URL to view the session in BrowserStack dashboard."
              },
              "public_url": {
                "type": "string",
                "nullable": true,
                "description": "Public URL for sharing the session."
              },
              "video_url": {
                "type": "string",
                "nullable": true,
                "description": "URL to the session video recording."
              },
              "browser_console_logs_url": {
                "type": "string",
                "nullable": true,
                "description": "URL to browser console logs."
              },
              "har_logs_url": {
                "type": "string",
                "nullable": true,
                "description": "URL to HAR network logs."
              },
              "selenium_logs_url": {
                "type": "string",
                "nullable": true,
                "description": "URL to Selenium logs."
              }
            }
          }
        }
      },
      "UpdateSessionRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "New session name."
          },
          "status": {
            "type": "string",
            "description": "New session status.",
            "enum": [
              "passed",
              "failed"
            ]
          },
          "reason": {
            "type": "string",
            "description": "Reason for the status."
          }
        }
      },
      "DeleteMultipleSessionsRequest": {
        "type": "object",
        "properties": {
          "session_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of session hashed IDs to delete.",
            "example": [
              "sess123",
              "sess456"
            ]
          }
        },
        "required": [
          "session_ids"
        ]
      },
      "SetSessionStatusRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Test status.",
            "enum": [
              "passed",
              "failed"
            ]
          },
          "reason": {
            "type": "string",
            "description": "Reason for the test status.",
            "example": "All assertions passed."
          }
        },
        "required": [
          "status"
        ]
      },
      "UpdateSessionNameRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "New name for the session.",
            "example": "Login Test v2"
          }
        },
        "required": [
          "name"
        ]
      },
      "NetworkLogs": {
        "type": "object",
        "description": "Network logs in HAR (HTTP Archive) format.",
        "properties": {
          "log": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string",
                "description": "HAR version."
              },
              "creator": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "version": {
                    "type": "string"
                  }
                }
              },
              "entries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "Individual HAR entry representing a network request."
                }
              }
            }
          }
        }
      },
      "ProfilingData": {
        "type": "object",
        "description": "Session profiling data.",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "command": {
                  "type": "string",
                  "description": "Selenium command name."
                },
                "duration": {
                  "type": "number",
                  "description": "Command duration in milliseconds."
                },
                "start_time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Command start timestamp."
                },
                "status": {
                  "type": "string",
                  "description": "Command execution status."
                }
              }
            }
          }
        }
      },
      "UploadMediaRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The media file to upload."
          }
        },
        "required": [
          "file"
        ]
      },
      "MediaUploadResponse": {
        "type": "object",
        "properties": {
          "media_url": {
            "type": "string",
            "description": "URL identifier of the uploaded media file.",
            "example": "media://abc123def456"
          }
        }
      },
      "MediaFile": {
        "type": "object",
        "properties": {
          "media_name": {
            "type": "string",
            "description": "Name of the media file.",
            "example": "screenshot.png"
          },
          "media_url": {
            "type": "string",
            "description": "URL identifier of the media file.",
            "example": "media://abc123def456"
          },
          "media_id": {
            "type": "string",
            "description": "Unique media file ID.",
            "example": "abc123def456"
          },
          "uploaded_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the file was uploaded."
          }
        }
      },
      "AccessKeyResponse": {
        "type": "object",
        "properties": {
          "old_key": {
            "type": "string",
            "description": "The previous access key.",
            "example": "oldAccessKey123"
          },
          "new_key": {
            "type": "string",
            "description": "The newly generated access key.",
            "example": "newAccessKey456"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Plan",
      "description": "Account plan details"
    },
    {
      "name": "Browsers",
      "description": "Available browsers for testing"
    },
    {
      "name": "Projects",
      "description": "Manage projects"
    },
    {
      "name": "Builds",
      "description": "Manage builds"
    },
    {
      "name": "Sessions",
      "description": "Manage sessions within builds"
    },
    {
      "name": "Media",
      "description": "Upload and manage media files"
    },
    {
      "name": "AccessKey",
      "description": "Manage access key"
    }
  ]
}