{
  "openapi": "3.0.3",
  "info": {
    "title": "Entur Geocoder API",
    "version": "v1",
    "description": "Geocoding API for Norway and Sweden by Entur. Query addresses, Points of Interest (POI), and public transport stops. Based on the open source Pelias geocoder. Primary purpose is finding start and end points for journey planner queries through an autosuggest interface.",
    "x-jentic-source-url": "https://developer.entur.org/"
  },
  "servers": [
    {
      "url": "https://api.entur.io/geocoder/v1"
    }
  ],
  "paths": {
    "/autocomplete": {
      "get": {
        "operationId": "autocompleteSearch",
        "summary": "Autocomplete search for places, stops, and addresses",
        "description": "Search for features using a search string. Returns a list of POIs, addresses, and stops that match the query text. Useful for autosuggest search fields.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "The search string to autocomplete.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code for the results (e.g., 'en', 'no').",
            "schema": {
              "type": "string",
              "default": "no"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "layers",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of layers to search. Valid values: venue, address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "boundary.country",
            "in": "query",
            "required": false,
            "description": "Filter by country using ISO 3166-1 alpha-3 code (e.g., NOR, SWE).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "boundary.county_ids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of county IDs to filter by (e.g., KVE:TopographicPlace:18).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "boundary.locality_ids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of municipality IDs to filter by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tariff_zone_authorities",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of tariff zone authorities to filter stops by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tariff_zone_ids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of tariff zone IDs to filter stops by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "multiModal",
            "in": "query",
            "required": false,
            "description": "Controls multimodal stop results. 'parent' returns only multimodal stops, 'child' returns child stops, 'all' returns both.",
            "schema": {
              "type": "string",
              "enum": [
                "parent",
                "child",
                "all"
              ],
              "default": "parent"
            }
          },
          {
            "name": "focus.point.lat",
            "in": "query",
            "required": false,
            "description": "Latitude for proximity boosting.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "focus.point.lon",
            "in": "query",
            "required": false,
            "description": "Longitude for proximity boosting.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "focus.weight",
            "in": "query",
            "required": false,
            "description": "Base weight for location-based boosting (default: 15).",
            "schema": {
              "type": "number",
              "default": 15
            }
          },
          {
            "name": "focus.function",
            "in": "query",
            "required": false,
            "description": "Decay function for proximity boosting.",
            "schema": {
              "type": "string",
              "enum": [
                "linear",
                "exp"
              ],
              "default": "linear"
            }
          },
          {
            "name": "focus.scale",
            "in": "query",
            "required": false,
            "description": "Controls rate of decay distance (e.g., '2500km').",
            "schema": {
              "type": "string",
              "default": "2500km"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful autocomplete results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocoderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Invalid parameters."
          },
          "401": {
            "description": "Unauthorized. Missing or invalid ET-Client-Name header."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/reverse": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocode coordinates to places",
        "description": "Find features within a geographical area defined by a coordinate and radius. Converts geographic coordinates to a description of a location.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "point.lat",
            "in": "query",
            "required": true,
            "description": "Latitude of the point to reverse geocode.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "point.lon",
            "in": "query",
            "required": true,
            "description": "Longitude of the point to reverse geocode.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code for the results.",
            "schema": {
              "type": "string",
              "default": "no"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Maximum number of results (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "layers",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of layers to include in results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "boundary.circle.radius",
            "in": "query",
            "required": false,
            "description": "Radius in kilometers for the search area.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful reverse geocode results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocoderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Invalid coordinates or parameters."
          },
          "401": {
            "description": "Unauthorized. Missing or invalid ET-Client-Name header."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GeocoderResponse": {
        "type": "object",
        "description": "GeoJSON FeatureCollection response from the geocoder.",
        "properties": {
          "type": {
            "type": "string",
            "example": "FeatureCollection"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeocoderFeature"
            }
          },
          "geocoding": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              },
              "query": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "GeocoderFeature": {
        "type": "object",
        "description": "A GeoJSON Feature representing a geocoded result.",
        "properties": {
          "type": {
            "type": "string",
            "example": "Feature"
          },
          "geometry": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "Point"
              },
              "coordinates": {
                "type": "array",
                "items": {
                  "type": "number"
                },
                "description": "Longitude and latitude coordinates."
              }
            }
          },
          "properties": {
            "$ref": "#/components/schemas/FeatureProperties"
          }
        }
      },
      "FeatureProperties": {
        "type": "object",
        "description": "Properties of a geocoded feature.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the feature."
          },
          "gid": {
            "type": "string",
            "description": "Global identifier."
          },
          "layer": {
            "type": "string",
            "description": "Layer type (venue or address).",
            "enum": [
              "venue",
              "address"
            ]
          },
          "name": {
            "type": "string",
            "description": "Name of the place or address."
          },
          "label": {
            "type": "string",
            "description": "Full label of the location."
          },
          "county": {
            "type": "string",
            "description": "County name."
          },
          "county_gid": {
            "type": "string",
            "description": "County identifier."
          },
          "locality": {
            "type": "string",
            "description": "Municipality name."
          },
          "locality_gid": {
            "type": "string",
            "description": "Municipality identifier."
          },
          "category": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Categories for the feature (e.g., onstreetBus, railStation, POI, Street address)."
          }
        }
      }
    },
    "securitySchemes": {
      "clientNameHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "ET-Client-Name",
        "description": "Client identification header in format 'company-application' (e.g., 'mycompany-myapp'). Required for all API consumers."
      }
    }
  },
  "security": [
    {
      "clientNameHeader": []
    }
  ]
}