{
  "openapi": "3.0.3",
  "info": {
    "title": "Pyrus API",
    "description": "Pyrus is a platform for real-time messaging, task management, and workflow automation. The API allows building highly customized integrations in any programming language.",
    "version": "4.0.0",
    "x-jentic-source-url": "https://pyrus.com/en/help/api"
  },
  "servers": [
    {
      "url": "https://api.pyrus.com/v4",
      "description": "Pyrus API v4"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "operationId": "authenticate",
        "summary": "Authenticate and obtain access token",
        "description": "Obtain a bearer token by providing login credentials and security key.",
        "tags": [
          "Auth"
        ],
        "servers": [
          {
            "url": "https://accounts.pyrus.com/api/v4"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{taskId}": {
      "get": {
        "operationId": "getTask",
        "summary": "Get a task by ID",
        "description": "Retrieve a simple or form task with all comments.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "Task identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteTask",
        "summary": "Delete a task",
        "description": "Delete the specified task.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "Task identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tasks": {
      "post": {
        "operationId": "createTask",
        "summary": "Create a task",
        "description": "Create a simple task or a form-based task.",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tasks/{taskId}/comments": {
      "post": {
        "operationId": "addTaskComment",
        "summary": "Add a comment to a task",
        "description": "Add a comment, change status, reassign, or update form fields on a task.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "Task identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCommentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/forms": {
      "get": {
        "operationId": "listForms",
        "summary": "List all forms",
        "description": "Returns a description of all forms in which the current user is a manager or member.",
        "tags": [
          "Forms"
        ],
        "responses": {
          "200": {
            "description": "Forms retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/forms/{formId}": {
      "get": {
        "operationId": "getForm",
        "summary": "Get a form by ID",
        "description": "Returns a description of the form with the specified ID.",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "Form identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Form"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/forms/{formId}/register": {
      "get": {
        "operationId": "getFormRegister",
        "summary": "Get form task register",
        "description": "Returns the list of tasks created based on the specified form.",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "Form identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "item_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "required": false,
            "description": "Include archived tasks",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified_before",
            "in": "query",
            "required": false,
            "description": "Filter by modification date (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "description": "Filter by modification date (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "description": "Filter by creation date (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "description": "Filter by creation date (UTC)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form register retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormRegisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/forms/{formId}/permissions": {
      "get": {
        "operationId": "getFormPermissions",
        "summary": "Get form permissions",
        "description": "Retrieve the list of user permissions for the form.",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "Form identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permissions retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "updateFormPermissions",
        "summary": "Update form permissions",
        "description": "Change user access rights for the form.",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "description": "Form identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Permissions updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/catalogs": {
      "get": {
        "operationId": "listCatalogs",
        "summary": "List all catalogs",
        "description": "Returns all catalogs without their elements.",
        "tags": [
          "Catalogs"
        ],
        "responses": {
          "200": {
            "description": "Catalogs retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "operationId": "createCatalog",
        "summary": "Create a catalog",
        "description": "Create a new catalog with headers and items.",
        "tags": [
          "Catalogs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCatalogRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catalog created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/catalogs/{catalogId}": {
      "get": {
        "operationId": "getCatalog",
        "summary": "Get a catalog by ID",
        "description": "Returns a catalog with all its elements.",
        "tags": [
          "Catalogs"
        ],
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "required": true,
            "description": "Catalog identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_deleted",
            "in": "query",
            "required": false,
            "description": "Include deleted catalog items",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "syncCatalog",
        "summary": "Sync catalog data",
        "description": "Sync catalog data. All unspecified items and text columns will be deleted.",
        "tags": [
          "Catalogs"
        ],
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "required": true,
            "description": "Catalog identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncCatalogRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catalog synced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/catalogs/{catalogId}/diff": {
      "post": {
        "operationId": "diffCatalog",
        "summary": "Modify catalog items",
        "description": "Modify catalog items via upsert and delete operations.",
        "tags": [
          "Catalogs"
        ],
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "required": true,
            "description": "Catalog identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogDiffRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catalog modified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/download/{fileId}": {
      "get": {
        "operationId": "downloadFile",
        "summary": "Download a file",
        "description": "Download a file from Pyrus.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "File identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/upload": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload a file",
        "description": "Upload a file for subsequent attachment to tasks. Maximum file size is 2 GB.",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "description": "Returns a list of contacts available to the current user grouped by organization.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "include_inactive",
            "in": "query",
            "required": false,
            "description": "Include former and inactive employees",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "List organization members",
        "description": "Returns a list of all participants of the organization.",
        "tags": [
          "Members"
        ],
        "responses": {
          "200": {
            "description": "Members retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembersListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createMember",
        "summary": "Add a member",
        "description": "Add a user to the organization.",
        "tags": [
          "Members"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/members/{memberId}": {
      "get": {
        "operationId": "getMember",
        "summary": "Get a member by ID",
        "description": "Retrieve employee information and profile details.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "Member identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "operationId": "updateMember",
        "summary": "Update a member",
        "description": "Update user profile information.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "Member identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "blockMember",
        "summary": "Block a member",
        "description": "Block a user from the organization.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "Member identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member blocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/lists": {
      "get": {
        "operationId": "listLists",
        "summary": "List all task lists",
        "description": "Returns all the lists that are available to the user.",
        "tags": [
          "Lists"
        ],
        "responses": {
          "200": {
            "description": "Lists retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/lists/{listId}": {
      "get": {
        "operationId": "getList",
        "summary": "Get a list by ID",
        "description": "Retrieve a specified list.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "description": "List identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "item_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of items (default 100)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "updateList",
        "summary": "Update list metadata",
        "description": "Change list name and manage members and administrators.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "description": "List identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/lists/{listId}/tasks": {
      "get": {
        "operationId": "getListTasks",
        "summary": "Get tasks in a list",
        "description": "Returns all the tasks in the specified list.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "description": "List identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "item_count",
            "in": "query",
            "required": false,
            "description": "Maximum tasks returned (default 200)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "required": false,
            "description": "Include archived tasks (use 'y')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tasks retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TasksListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/announcements": {
      "get": {
        "operationId": "listAnnouncements",
        "summary": "List announcements",
        "description": "Retrieve announcement lists.",
        "tags": [
          "Announcements"
        ],
        "parameters": [
          {
            "name": "item_count",
            "in": "query",
            "required": false,
            "description": "Maximum number of announcements (default 100, max 10000)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Announcements retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnouncementsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createAnnouncement",
        "summary": "Create an announcement",
        "description": "Create a new announcement.",
        "tags": [
          "Announcements"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAnnouncementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Announcement created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnouncementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/announcements/{announcementId}": {
      "get": {
        "operationId": "getAnnouncement",
        "summary": "Get an announcement",
        "description": "Retrieve an announcement by ID.",
        "tags": [
          "Announcements"
        ],
        "parameters": [
          {
            "name": "announcementId",
            "in": "path",
            "required": true,
            "description": "Announcement identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Announcement retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnouncementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/announcements/{announcementId}/comments": {
      "post": {
        "operationId": "addAnnouncementComment",
        "summary": "Add comment to announcement",
        "description": "Add a comment to an announcement. Returns the announcement with all comments including the new one.",
        "tags": [
          "Announcements"
        ],
        "parameters": [
          {
            "name": "announcementId",
            "in": "path",
            "required": true,
            "description": "Announcement identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAnnouncementCommentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnouncementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/inbox": {
      "get": {
        "operationId": "getInbox",
        "summary": "Get inbox tasks",
        "description": "Returns all inbox tasks, including tasks organized into groups.",
        "tags": [
          "Inbox"
        ],
        "parameters": [
          {
            "name": "item_count",
            "in": "query",
            "required": false,
            "description": "Maximum tasks (default 50)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inbox retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained via the /auth endpoint"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_code": {
            "type": "string"
          }
        }
      },
      "AuthRequest": {
        "type": "object",
        "required": [
          "login",
          "security_key"
        ],
        "properties": {
          "login": {
            "type": "string",
            "description": "User email"
          },
          "security_key": {
            "type": "string",
            "description": "API security key"
          },
          "person_id": {
            "type": "integer",
            "description": "Required if multiple accounts share the same email"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "api_url": {
            "type": "string"
          },
          "files_url": {
            "type": "string"
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "text": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "form_id": {
            "type": "integer"
          },
          "responsible": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "participants": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "email": {
                  "type": "string"
                }
              }
            }
          },
          "due_date": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormField"
            }
          },
          "comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          }
        }
      },
      "CreateTaskRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Task description"
          },
          "subject": {
            "type": "string",
            "description": "Task title"
          },
          "form_id": {
            "type": "integer",
            "description": "Form template ID for form tasks"
          },
          "responsible": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "participants": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "email": {
                  "type": "string"
                }
              }
            }
          },
          "due_date": {
            "type": "string",
            "description": "Deadline"
          },
          "due": {
            "type": "string",
            "description": "Alternative deadline field"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormField"
            }
          },
          "fill_defaults": {
            "type": "boolean"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          },
          "list_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "scheduled_date": {
            "type": "string"
          }
        }
      },
      "AddCommentRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Comment text"
          },
          "formatted_text": {
            "type": "string",
            "description": "HTML-formatted comment"
          },
          "action": {
            "type": "string",
            "enum": [
              "finished",
              "reopened"
            ]
          },
          "reassign_to": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "approval_choice": {
            "type": "string",
            "enum": [
              "approved",
              "rejected",
              "acknowledged",
              "revoked"
            ]
          },
          "field_updates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormField"
            }
          },
          "due_date": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          }
        }
      },
      "FormField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "text": {
            "type": "string"
          },
          "create_date": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              }
            }
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "guid": {
            "type": "string"
          },
          "md5_hash": {
            "type": "string"
          }
        }
      },
      "Form": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormField"
            }
          },
          "deleted_or_closed": {
            "type": "boolean"
          },
          "folder": {
            "type": "string"
          }
        }
      },
      "FormsListResponse": {
        "type": "object",
        "properties": {
          "forms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form"
            }
          }
        }
      },
      "FormRegisterResponse": {
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskResponse"
            }
          },
          "has_more": {
            "type": "boolean"
          }
        }
      },
      "PermissionsResponse": {
        "type": "object",
        "properties": {
          "permissions": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "enum": [
                "administrator",
                "manager",
                "restricted_manager",
                "member",
                "none"
              ]
            }
          }
        }
      },
      "PermissionsRequest": {
        "type": "object",
        "properties": {
          "permissions": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "enum": [
                "administrator",
                "manager",
                "restricted_manager",
                "member",
                "none"
              ]
            }
          }
        }
      },
      "CatalogListResponse": {
        "type": "object",
        "properties": {
          "catalogs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "catalog_id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "version": {
                  "type": "integer"
                },
                "deleted": {
                  "type": "boolean"
                },
                "supervisors": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "CatalogResponse": {
        "type": "object",
        "properties": {
          "catalog_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "catalog_headers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "item_id": {
                  "type": "integer"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "CreateCatalogRequest": {
        "type": "object",
        "required": [
          "name",
          "catalog_headers",
          "items"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "catalog_headers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "SyncCatalogRequest": {
        "type": "object",
        "properties": {
          "apply": {
            "type": "boolean"
          },
          "catalog_headers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "CatalogSyncResponse": {
        "type": "object",
        "properties": {
          "apply": {
            "type": "boolean"
          },
          "added": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "deleted": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "updated": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "catalog_headers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CatalogDiffRequest": {
        "type": "object",
        "properties": {
          "upsert": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "delete": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FileUploadResponse": {
        "type": "object",
        "properties": {
          "guid": {
            "type": "string"
          },
          "md5_hash": {
            "type": "string"
          }
        }
      },
      "ContactsResponse": {
        "type": "object",
        "properties": {
          "organizations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "organization_id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "persons": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                },
                "roles": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "member_ids": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "mobile_phone": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "department_id": {
            "type": "integer"
          },
          "department_name": {
            "type": "string"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "banned": {
            "type": "boolean"
          },
          "position": {
            "type": "string"
          },
          "mobile_phone": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "personality": {
            "type": "string"
          },
          "personnel_number": {
            "type": "string"
          },
          "vacation_days": {
            "type": "string"
          }
        }
      },
      "CreateMemberRequest": {
        "type": "object",
        "required": [
          "first_name",
          "last_name",
          "email"
        ],
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "position": {
            "type": "string"
          },
          "department_id": {
            "type": "integer"
          },
          "mobile_phone": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "personality": {
            "type": "string"
          },
          "personnel_number": {
            "type": "string"
          },
          "vacation_days": {
            "type": "string"
          }
        }
      },
      "MembersListResponse": {
        "type": "object",
        "properties": {
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            }
          }
        }
      },
      "TaskList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "list_type": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "member_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "manager_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "children": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ListsResponse": {
        "type": "object",
        "properties": {
          "lists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskList"
            }
          }
        }
      },
      "UpdateListRequest": {
        "type": "object",
        "properties": {
          "added_managers": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "removed_managers": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "added_members": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "removed_members": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "TasksListResponse": {
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskResponse"
            }
          },
          "has_more": {
            "type": "boolean"
          }
        }
      },
      "Announcement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "text": {
            "type": "string"
          },
          "formatted_text": {
            "type": "string"
          },
          "create_date": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              }
            }
          },
          "comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          }
        }
      },
      "AnnouncementResponse": {
        "type": "object",
        "properties": {
          "announcement": {
            "$ref": "#/components/schemas/Announcement"
          }
        }
      },
      "AnnouncementsListResponse": {
        "type": "object",
        "properties": {
          "announcements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Announcement"
            }
          }
        }
      },
      "CreateAnnouncementRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Announcement text"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          }
        }
      },
      "AddAnnouncementCommentRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "formatted_text": {
            "type": "string",
            "description": "HTML-formatted comment"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          }
        }
      },
      "InboxResponse": {
        "type": "object",
        "properties": {
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskResponse"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "task_groups": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication"
    },
    {
      "name": "Tasks",
      "description": "Task management"
    },
    {
      "name": "Forms",
      "description": "Form management"
    },
    {
      "name": "Catalogs",
      "description": "Catalog management"
    },
    {
      "name": "Files",
      "description": "File upload and download"
    },
    {
      "name": "Contacts",
      "description": "Contact management"
    },
    {
      "name": "Members",
      "description": "Organization member management"
    },
    {
      "name": "Lists",
      "description": "Task lists"
    },
    {
      "name": "Announcements",
      "description": "Announcements"
    },
    {
      "name": "Inbox",
      "description": "Inbox tasks"
    }
  ]
}