{
  "openapi": "3.0.3",
  "info": {
    "title": "GovInfo API",
    "version": "1.0.0",
    "description": "Provides access to U.S. Government Publishing Office (GPO) content including congressional bills, the Federal Register, Code of Federal Regulations, and other government publications.",
    "x-jentic-source-url": "https://api.govinfo.gov/docs/"
  },
  "servers": [
    {
      "url": "https://api.govinfo.gov"
    }
  ],
  "paths": {
    "/collections": {
      "get": {
        "operationId": "listCollections",
        "summary": "List available collections",
        "description": "Returns a list of all available GovInfo collections.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        }
      }
    },
    "/collections/{collectionCode}": {
      "get": {
        "operationId": "getCollection",
        "summary": "Get packages for a collection",
        "description": "Returns packages for the specified collection within a date range.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionCode",
            "in": "path",
            "required": true,
            "description": "Collection code (e.g., BILLS, FR, CFR, CREC, PLAW)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM-DDT00:00:00Z)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM-DDT00:00:00Z)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of results per page (max 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "congress",
            "in": "query",
            "required": false,
            "description": "Congress number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "docClass",
            "in": "query",
            "required": false,
            "description": "Document class filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with collection packages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionPackages"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Collection not found"
          }
        }
      }
    },
    "/packages/{packageId}/summary": {
      "get": {
        "operationId": "getPackageSummary",
        "summary": "Get package summary",
        "description": "Returns metadata summary for a specific package.",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "description": "Package identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with package summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Package not found"
          }
        }
      }
    },
    "/packages/{packageId}/granules": {
      "get": {
        "operationId": "listPackageGranules",
        "summary": "List granules for a package",
        "description": "Returns a list of granules (sub-documents) within a package.",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of granules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GranuleList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Package not found"
          }
        }
      }
    },
    "/packages/{packageId}/granules/{granuleId}/summary": {
      "get": {
        "operationId": "getGranuleSummary",
        "summary": "Get granule summary",
        "description": "Returns metadata summary for a specific granule.",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granuleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with granule summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GranuleSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Granule not found"
          }
        }
      }
    },
    "/published/{dateStr}": {
      "get": {
        "operationId": "getPublishedByDate",
        "summary": "Get documents published on a date",
        "description": "Returns documents published on a given date.",
        "tags": [
          "Published"
        ],
        "parameters": [
          {
            "name": "dateStr",
            "in": "path",
            "required": true,
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "collection",
            "in": "query",
            "required": false,
            "description": "Filter by collection code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchDocuments",
        "summary": "Search GovInfo documents",
        "description": "Search across all GovInfo collections.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection",
            "in": "query",
            "required": false,
            "description": "Filter by collection code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CollectionList": {
        "type": "object",
        "properties": {
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Collection"
            }
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "collectionCode": {
            "type": "string"
          },
          "collectionName": {
            "type": "string"
          },
          "packageCount": {
            "type": "integer"
          },
          "granuleCount": {
            "type": "integer"
          }
        }
      },
      "CollectionPackages": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "nextPage": {
            "type": "string",
            "format": "uri"
          },
          "previousPage": {
            "type": "string",
            "format": "uri"
          },
          "packages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageReference"
            }
          }
        }
      },
      "PackageReference": {
        "type": "object",
        "properties": {
          "packageId": {
            "type": "string"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          },
          "packageLink": {
            "type": "string",
            "format": "uri"
          },
          "docClass": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "congress": {
            "type": "string"
          },
          "dateIssued": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "PackageSummary": {
        "type": "object",
        "properties": {
          "packageId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "collectionCode": {
            "type": "string"
          },
          "collectionName": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "dateIssued": {
            "type": "string",
            "format": "date"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time"
          },
          "congress": {
            "type": "string"
          },
          "docClass": {
            "type": "string"
          },
          "download": {
            "type": "object"
          },
          "branch": {
            "type": "string"
          },
          "governmentAuthor1": {
            "type": "string"
          },
          "suDocClassNumber": {
            "type": "string"
          }
        }
      },
      "GranuleList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "granules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GranuleReference"
            }
          }
        }
      },
      "GranuleReference": {
        "type": "object",
        "properties": {
          "granuleId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "granuleLink": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "GranuleSummary": {
        "type": "object",
        "properties": {
          "granuleId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "collectionCode": {
            "type": "string"
          },
          "packageId": {
            "type": "string"
          },
          "dateIssued": {
            "type": "string",
            "format": "date"
          },
          "download": {
            "type": "object"
          }
        }
      },
      "PublishedResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "packages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageReference"
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PackageReference"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "GovInfo API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}