{
  "openapi": "3.0.0",
  "info": {
    "description": "Load balancer admin operation endpoints and objects.",
    "title": "NetworkAdminManagementClient",
    "version": "2015-06-15",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/azsadmin-LoadBalancers/2015-06-15/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/network/Microsoft.Network.Admin/preview/2015-06-15/LoadBalancers.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azsadmin-LoadBalancers",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://adminmanagement.local.azurestack.external/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminLoadBalancers": {
      "get": {
        "parameters": [
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "default": "2015-06-15",
              "type": "string"
            }
          },
          {
            "description": "OData filter parameter.",
            "in": "query",
            "name": "$filter",
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "OData orderBy parameter.",
            "in": "query",
            "name": "$orderBy",
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "OData top parameter.",
            "in": "query",
            "name": "$top",
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "OData skip parameter.",
            "in": "query",
            "name": "$skip",
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "OData inline count parameter.",
            "in": "query",
            "name": "$inlineCount",
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoadBalancerList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "LoadBalancers"
        ],
        "description": "Get a list of all load balancers.",
        "operationId": "LoadBalancers_List",
        "x-ms-examples": {
          "List all load balancers": {
            "parameters": {
              "api-version": "2016-05-01",
              "subscriptionId": "fc8456aa-4843-4079-a152-f3497c63aa73"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/providers/Microsoft.Network.Admin/adminLoadBalancers/TestLoadBalancer",
                      "location": "",
                      "name": "TestLoadBalancer",
                      "properties": {
                        "provisioningState": "Succeeded",
                        "publicIpAddresses": [
                          "192.168.102.32"
                        ],
                        "subscriptionId": "fc8456aa-4843-4079-a152-f3497c63aa73",
                        "tenantResourceUri": "/subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/resourceGroups/GreatResource/providers/Microsoft.Network/loadBalancers/TestLoadBalancer"
                      },
                      "type": "Microsoft.Network.Admin/adminLoadBalancers"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-odata": "#/components/schemas/LoadBalancer",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoadBalancer": {
        "allOf": [
          {
            "description": "Base Resource Object",
            "properties": {
              "tags": {
                "additionalProperties": {
                  "type": "string"
                },
                "description": "List of key value pairs.",
                "type": "object"
              },
              "id": {
                "description": "URI of the resource.",
                "readOnly": true,
                "type": "string"
              },
              "location": {
                "description": "Region location of resource.",
                "readOnly": true,
                "type": "string"
              },
              "name": {
                "description": "Name of the resource.",
                "readOnly": true,
                "type": "string"
              },
              "type": {
                "description": "Type of resource.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object",
            "x-ms-azure-resource": true
          }
        ],
        "description": "Representation of a load balancer.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/LoadBalancerProperty",
            "description": "Properties of a load balancer.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "LoadBalancerList": {
        "description": "Pageable list of load balancers.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of load balancers for this page.",
            "items": {
              "$ref": "#/components/schemas/LoadBalancer"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "LoadBalancerProperty": {
        "allOf": [
          {
            "description": "Objects which have a provisioning state.",
            "properties": {
              "provisioningState": {
                "description": "The provisioning state.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          {
            "description": "These resources are utilized by a single tenant.",
            "properties": {
              "subscriptionId": {
                "description": "The subscription ID.",
                "readOnly": true,
                "type": "string"
              },
              "tenantResourceUri": {
                "description": "The tenant resource URI.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "description": "Properties of a load balancer.",
        "properties": {
          "publicIpAddresses": {
            "description": "List of public IP addresses.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}