{
  "openapi": "3.0.3",
  "info": {
    "title": "Superbot API",
    "description": "An Intelligent Voice Agent capable of having Smart Dialogues with Humans over Telephony Channels.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://superbot.readme.io/"
  },
  "servers": [
    {
      "url": "https://api.superbot.one/tel"
    }
  ],
  "paths": {
    "/v2/superbot/{superbot}/campaign/{campaign}/call": {
      "post": {
        "tags": [
          "Telephony",
          "Campaigns"
        ],
        "summary": "Queue calls in campaign",
        "description": "Queue calls for a specific campaign with provided contact information",
        "operationId": "queueCallsInCampaign",
        "parameters": [
          {
            "name": "superbot",
            "in": "path",
            "required": true,
            "description": "Superbot identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign",
            "in": "path",
            "required": true,
            "description": "Campaign ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calls queued successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/v2/superbot/{superbot}/campaign/{campaign}/contact/update": {
      "post": {
        "tags": [
          "Contacts",
          "Campaigns"
        ],
        "summary": "Update contact in campaign",
        "description": "Modify campaign contact information",
        "operationId": "updateContactInCampaign",
        "parameters": [
          {
            "name": "superbot",
            "in": "path",
            "required": true,
            "description": "Superbot identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign",
            "in": "path",
            "required": true,
            "description": "Campaign ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/v2/superbot/{superbot}/campaign": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaigns",
        "description": "Retrieve available campaigns for a superbot",
        "operationId": "listCampaigns",
        "parameters": [
          {
            "name": "superbot",
            "in": "path",
            "required": true,
            "description": "Superbot identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/v2/superbot/{superbot}/campaign/{campaign}/contact/{phone}": {
      "get": {
        "tags": [
          "Contacts",
          "Campaigns"
        ],
        "summary": "Fetch records for a contact",
        "description": "Retrieve contact records from a campaign by phone number",
        "operationId": "getContactRecords",
        "parameters": [
          {
            "name": "superbot",
            "in": "path",
            "required": true,
            "description": "Superbot identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign",
            "in": "path",
            "required": true,
            "description": "Campaign ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "phone",
            "in": "path",
            "required": true,
            "description": "Phone number in E.164 format",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactRecord"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/v2/superbot": {
      "get": {
        "tags": [
          "Superbots"
        ],
        "summary": "List superbots",
        "description": "Retrieve all available superbots",
        "operationId": "listSuperbots",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Superbot"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/v2/tts": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "Generate TTS",
        "description": "Convert text to speech using specified voice and language",
        "operationId": "generateTts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TTSRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TTS generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TTSResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/v2beta/tts": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "Generate TTS (Beta)",
        "description": "Beta version of text-to-speech conversion endpoint",
        "operationId": "generateTtsBeta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TTSRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TTS generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TTSResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/sendmessage": {
      "post": {
        "tags": [
          "WhatsApp"
        ],
        "summary": "Send message",
        "description": "Send a message via WhatsApp for Business",
        "operationId": "sendWhatsAppMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhatsAppMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/listnumber": {
      "get": {
        "tags": [
          "WhatsApp"
        ],
        "summary": "List of numbers",
        "description": "Retrieve list of WhatsApp numbers",
        "operationId": "listWhatsAppNumbers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WhatsAppNumber"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/listtemplate": {
      "get": {
        "tags": [
          "WhatsApp"
        ],
        "summary": "List of templates",
        "description": "Retrieve list of WhatsApp message templates",
        "operationId": "listWhatsAppTemplates",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WhatsAppTemplate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "CallRequest": {
        "type": "object",
        "required": [
          "numbers"
        ],
        "properties": {
          "numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumberInfo"
            },
            "description": "Array of phone numbers to call"
          },
          "lang": {
            "type": "string",
            "description": "Language code (e.g., en-IN)",
            "example": "en-IN"
          }
        }
      },
      "PhoneNumberInfo": {
        "type": "object",
        "required": [
          "phone"
        ],
        "properties": {
          "phone": {
            "type": "string",
            "description": "Phone number in E.164 format",
            "example": "+919876543210"
          },
          "parameters": {
            "type": "object",
            "description": "Custom parameters for the contact",
            "additionalProperties": true,
            "example": {
              "name": "John Doe"
            }
          },
          "reference_id": {
            "type": "string",
            "description": "Unique identifier for this contact"
          },
          "lang": {
            "type": "string",
            "description": "Language code for this specific contact"
          }
        }
      },
      "UpdateContact": {
        "type": "object",
        "required": [
          "phone"
        ],
        "properties": {
          "phone": {
            "type": "string",
            "description": "Phone number in E.164 format",
            "example": "+919876543210"
          },
          "reference_id": {
            "type": "string",
            "description": "Optional reference identifier"
          },
          "parameters": {
            "type": "object",
            "description": "Custom data fields to update",
            "additionalProperties": true
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Campaign ID"
          },
          "name": {
            "type": "string",
            "description": "Campaign name"
          },
          "status": {
            "type": "string",
            "description": "Campaign status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "ContactRecord": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "reference_id": {
            "type": "string",
            "description": "Reference identifier"
          },
          "parameters": {
            "type": "object",
            "description": "Contact parameters",
            "additionalProperties": true
          },
          "call_history": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Call history for this contact"
          }
        }
      },
      "Superbot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Superbot identifier"
          },
          "name": {
            "type": "string",
            "description": "Superbot name"
          },
          "status": {
            "type": "string",
            "description": "Superbot status"
          }
        }
      },
      "TTSRequest": {
        "type": "object",
        "required": [
          "texts",
          "lang",
          "voice"
        ],
        "properties": {
          "texts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TTSText"
            },
            "description": "Array of text objects to convert to speech"
          },
          "lang": {
            "type": "string",
            "description": "Language code",
            "example": "en-IN"
          },
          "voice": {
            "type": "string",
            "description": "Voice identifier",
            "example": "en-IN-Wavenet-A"
          },
          "reference_id": {
            "type": "string",
            "description": "Optional reference identifier"
          }
        }
      },
      "TTSText": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Text to convert to speech"
          },
          "speaking_rate": {
            "type": "number",
            "description": "Speech rate (0.25 to 4.0)",
            "minimum": 0.25,
            "maximum": 4,
            "default": 1
          },
          "data_type": {
            "type": "string",
            "description": "Data type identifier"
          }
        }
      },
      "TTSResponse": {
        "type": "object",
        "properties": {
          "audio_url": {
            "type": "string",
            "description": "URL to the generated audio file"
          },
          "reference_id": {
            "type": "string",
            "description": "Reference identifier"
          },
          "duration": {
            "type": "number",
            "description": "Audio duration in seconds"
          }
        }
      },
      "WhatsAppMessage": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "Recipient phone number"
          },
          "message": {
            "type": "string",
            "description": "Message content"
          },
          "template": {
            "type": "string",
            "description": "Template identifier"
          }
        }
      },
      "WhatsAppNumber": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "description": "WhatsApp number"
          },
          "display_name": {
            "type": "string",
            "description": "Display name"
          },
          "status": {
            "type": "string",
            "description": "Number status"
          }
        }
      },
      "WhatsAppTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Template identifier"
          },
          "name": {
            "type": "string",
            "description": "Template name"
          },
          "language": {
            "type": "string",
            "description": "Template language"
          },
          "status": {
            "type": "string",
            "description": "Template status"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Telephony",
      "description": "Telephony API endpoints for voice campaigns"
    },
    {
      "name": "Campaigns",
      "description": "Campaign management endpoints"
    },
    {
      "name": "Contacts",
      "description": "Contact management in campaigns"
    },
    {
      "name": "Superbots",
      "description": "Superbot management"
    },
    {
      "name": "TTS",
      "description": "Text-to-speech generation"
    },
    {
      "name": "WhatsApp",
      "description": "WhatsApp for Business API endpoints"
    }
  ]
}