{
  "openapi": "3.0.3",
  "info": {
    "title": "Nutritionix API",
    "description": "The Nutritionix API provides access to the world's largest verified nutrition database. It supports natural language food and exercise queries, branded and common food search, detailed nutrient data retrieval, and exercise calorie estimation. The API powers nutrition tracking applications with comprehensive USDA and restaurant nutrition data.",
    "version": "2.0.0",
    "contact": {
      "name": "Nutritionix Support",
      "url": "https://developer.nutritionix.com"
    },
    "x-jentic-source-url": "https://developer.nutritionix.com/"
  },
  "servers": [
    {
      "url": "https://trackapi.nutritionix.com/v2",
      "description": "Nutritionix API v2 Production"
    }
  ],
  "security": [
    {
      "AppIdAppKey": []
    }
  ],
  "tags": [
    {
      "name": "Natural Language",
      "description": "Natural language food and exercise processing"
    },
    {
      "name": "Search",
      "description": "Food database search"
    },
    {
      "name": "Foods",
      "description": "Food item details and nutrients"
    },
    {
      "name": "Exercise",
      "description": "Exercise calorie estimation"
    },
    {
      "name": "Locations",
      "description": "Restaurant and brand location search"
    }
  ],
  "paths": {
    "/natural/nutrients": {
      "post": {
        "operationId": "getNaturalNutrients",
        "summary": "Get nutrients from natural language query",
        "description": "Accepts a natural language text description of foods eaten (e.g., '1 cup rice and 2 eggs') and returns detailed nutrition information for each identified food item including calories, macronutrients, and micronutrients.",
        "tags": ["Natural Language"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/NaturalNutrientsRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nutrition data for the parsed foods.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FoodsResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/natural/exercise": {
      "post": {
        "operationId": "getNaturalExercise",
        "summary": "Get exercise calories from natural language",
        "description": "Accepts a natural language description of exercise performed (e.g., 'ran 3 miles' or '30 minutes of swimming') and returns estimated calorie expenditure based on the user's profile.",
        "tags": ["Exercise"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/NaturalExerciseRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exercise calorie estimation results.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ExerciseResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/search/instant": {
      "get": {
        "operationId": "searchInstant",
        "summary": "Instant food search",
        "description": "Returns instant search results for both common and branded foods matching the query. Designed for type-ahead autocomplete search experiences.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query string (e.g., 'apple', 'big mac').",
            "schema": { "type": "string" }
          },
          {
            "name": "branded",
            "in": "query",
            "description": "Include branded food results.",
            "schema": { "type": "boolean", "default": true }
          },
          {
            "name": "common",
            "in": "query",
            "description": "Include common (generic) food results.",
            "schema": { "type": "boolean", "default": true }
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "Include full nutrient details in results.",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "brand_ids",
            "in": "query",
            "description": "Comma-separated list of brand IDs to filter results.",
            "schema": { "type": "string" }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale for localized results.",
            "schema": { "type": "string", "default": "en_US" }
          }
        ],
        "responses": {
          "200": {
            "description": "Instant search results.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InstantSearchResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/search/item": {
      "get": {
        "operationId": "searchItem",
        "summary": "Get food item by ID or UPC",
        "description": "Retrieve detailed nutrition information for a specific food item by its Nutritionix item ID (nix_item_id) or UPC barcode.",
        "tags": ["Foods"],
        "parameters": [
          {
            "name": "nix_item_id",
            "in": "query",
            "description": "Nutritionix item ID for branded foods.",
            "schema": { "type": "string" }
          },
          {
            "name": "upc",
            "in": "query",
            "description": "UPC barcode to look up.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Food item nutrition details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FoodsResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/utils/nutrients": {
      "get": {
        "operationId": "listNutrients",
        "summary": "List all available nutrients",
        "description": "Returns a list of all nutrient attributes tracked by the Nutritionix database, including their attribute IDs and units.",
        "tags": ["Foods"],
        "responses": {
          "200": {
            "description": "List of nutrient definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/NutrientDefinition" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/locations": {
      "get": {
        "operationId": "searchLocations",
        "summary": "Search restaurant locations",
        "description": "Search for nearby restaurant or brand locations based on geographic coordinates. Useful for finding where specific branded foods are available.",
        "tags": ["Locations"],
        "parameters": [
          {
            "name": "ll",
            "in": "query",
            "required": true,
            "description": "Latitude and longitude as comma-separated values (e.g., '40.7128,-74.0060').",
            "schema": { "type": "string" }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Search radius in miles.",
            "schema": { "type": "string", "default": "5mi" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results.",
            "schema": { "type": "integer", "default": 20 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of nearby restaurant locations.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LocationsResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/brands/{brandId}": {
      "get": {
        "operationId": "getBrand",
        "summary": "Get brand details",
        "description": "Retrieve information about a specific food brand by its brand ID.",
        "tags": ["Foods"],
        "parameters": [
          {
            "name": "brandId",
            "in": "path",
            "required": true,
            "description": "The brand identifier.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Brand details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Brand" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppIdAppKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-app-id",
        "description": "Nutritionix application ID. Must be provided alongside x-app-key header."
      },
      "AppKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-app-key",
        "description": "Nutritionix application key for authentication."
      }
    },
    "schemas": {
      "NaturalNutrientsRequest": {
        "type": "object",
        "required": ["query"],
        "description": "Request body for natural language food nutrient lookup.",
        "properties": {
          "query": {
            "type": "string",
            "description": "Natural language food description (e.g., '1 cup rice and a chicken breast').",
            "example": "1 large apple and 2 tablespoons of peanut butter"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone for meal time context.",
            "example": "US/Eastern"
          },
          "aggregate": {
            "type": "string",
            "description": "Aggregate nutrient values for the query."
          },
          "line_delimited": {
            "type": "boolean",
            "description": "Treat each line as a separate food item.",
            "default": false
          },
          "use_raw_foods": {
            "type": "boolean",
            "description": "Use raw food data instead of cooked equivalents.",
            "default": false
          },
          "use_branded_foods": {
            "type": "boolean",
            "description": "Include branded food matches.",
            "default": true
          },
          "locale": {
            "type": "string",
            "description": "Locale for food matching.",
            "default": "en_US"
          }
        }
      },
      "NaturalExerciseRequest": {
        "type": "object",
        "required": ["query"],
        "description": "Request body for natural language exercise calorie estimation.",
        "properties": {
          "query": {
            "type": "string",
            "description": "Natural language exercise description (e.g., 'ran 3 miles').",
            "example": "30 minutes of swimming"
          },
          "gender": {
            "type": "string",
            "enum": ["male", "female"],
            "description": "User's gender for calorie calculation."
          },
          "weight_kg": {
            "type": "number",
            "description": "User's weight in kilograms."
          },
          "height_cm": {
            "type": "number",
            "description": "User's height in centimeters."
          },
          "age": {
            "type": "integer",
            "description": "User's age in years."
          }
        }
      },
      "FoodsResponse": {
        "type": "object",
        "description": "Response containing food items with nutrition data.",
        "properties": {
          "foods": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FoodItem" }
          }
        }
      },
      "FoodItem": {
        "type": "object",
        "description": "A food item with detailed nutrition information.",
        "properties": {
          "food_name": { "type": "string", "description": "Name of the food." },
          "brand_name": { "type": "string", "description": "Brand name if branded food, null for common foods." },
          "serving_qty": { "type": "number", "description": "Serving quantity." },
          "serving_unit": { "type": "string", "description": "Serving unit (e.g., cup, oz, piece)." },
          "serving_weight_grams": { "type": "number", "description": "Serving weight in grams." },
          "nf_calories": { "type": "number", "description": "Calories (kcal)." },
          "nf_total_fat": { "type": "number", "description": "Total fat in grams." },
          "nf_saturated_fat": { "type": "number", "description": "Saturated fat in grams." },
          "nf_cholesterol": { "type": "number", "description": "Cholesterol in milligrams." },
          "nf_sodium": { "type": "number", "description": "Sodium in milligrams." },
          "nf_total_carbohydrate": { "type": "number", "description": "Total carbohydrates in grams." },
          "nf_dietary_fiber": { "type": "number", "description": "Dietary fiber in grams." },
          "nf_sugars": { "type": "number", "description": "Sugars in grams." },
          "nf_protein": { "type": "number", "description": "Protein in grams." },
          "nf_potassium": { "type": "number", "description": "Potassium in milligrams." },
          "nf_p": { "type": "number", "description": "Phosphorus in milligrams." },
          "nix_brand_name": { "type": "string", "description": "Nutritionix brand name." },
          "nix_brand_id": { "type": "string", "description": "Nutritionix brand ID." },
          "nix_item_name": { "type": "string", "description": "Nutritionix item name." },
          "nix_item_id": { "type": "string", "description": "Nutritionix item ID." },
          "upc": { "type": "string", "description": "UPC barcode." },
          "photo": {
            "type": "object",
            "properties": {
              "thumb": { "type": "string", "format": "uri", "description": "Thumbnail image URL." },
              "highres": { "type": "string", "format": "uri", "description": "High-resolution image URL." },
              "is_user_uploaded": { "type": "boolean" }
            }
          },
          "tags": {
            "type": "object",
            "properties": {
              "item": { "type": "string" },
              "measure": { "type": "string" },
              "quantity": { "type": "string" },
              "tag_id": { "type": "integer" }
            }
          },
          "alt_measures": {
            "type": "array",
            "description": "Alternative serving measures.",
            "items": {
              "type": "object",
              "properties": {
                "serving_weight": { "type": "number" },
                "measure": { "type": "string" },
                "seq": { "type": "integer" },
                "qty": { "type": "number" }
              }
            }
          },
          "full_nutrients": {
            "type": "array",
            "description": "Complete list of all nutrient values.",
            "items": {
              "type": "object",
              "properties": {
                "attr_id": { "type": "integer", "description": "USDA nutrient attribute ID." },
                "value": { "type": "number", "description": "Nutrient value." }
              }
            }
          },
          "source": { "type": "integer", "description": "Data source identifier." },
          "ndb_no": { "type": "integer", "description": "USDA NDB number." },
          "consumed_at": { "type": "string", "format": "date-time" },
          "metadata": { "type": "object" }
        }
      },
      "ExerciseResponse": {
        "type": "object",
        "description": "Exercise calorie estimation results.",
        "properties": {
          "exercises": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ExerciseItem" }
          }
        }
      },
      "ExerciseItem": {
        "type": "object",
        "description": "An exercise activity with calorie information.",
        "properties": {
          "tag_id": { "type": "integer" },
          "user_input": { "type": "string", "description": "Original user input text." },
          "duration_min": { "type": "number", "description": "Duration in minutes." },
          "met": { "type": "number", "description": "MET (Metabolic Equivalent of Task) value." },
          "nf_calories": { "type": "number", "description": "Estimated calories burned." },
          "name": { "type": "string", "description": "Exercise name." },
          "photo": {
            "type": "object",
            "properties": {
              "thumb": { "type": "string", "format": "uri" },
              "highres": { "type": "string", "format": "uri" },
              "is_user_uploaded": { "type": "boolean" }
            }
          },
          "compendium_code": { "type": "integer", "description": "Compendium of Physical Activities code." }
        }
      },
      "InstantSearchResponse": {
        "type": "object",
        "description": "Instant search results with common and branded foods.",
        "properties": {
          "common": {
            "type": "array",
            "description": "Common (generic) food results.",
            "items": { "$ref": "#/components/schemas/InstantSearchItem" }
          },
          "branded": {
            "type": "array",
            "description": "Branded food results.",
            "items": { "$ref": "#/components/schemas/InstantSearchItem" }
          }
        }
      },
      "InstantSearchItem": {
        "type": "object",
        "description": "An instant search result item.",
        "properties": {
          "food_name": { "type": "string" },
          "serving_unit": { "type": "string" },
          "serving_qty": { "type": "number" },
          "nix_brand_id": { "type": "string" },
          "brand_name": { "type": "string" },
          "nix_item_id": { "type": "string" },
          "nf_calories": { "type": "number" },
          "photo": {
            "type": "object",
            "properties": {
              "thumb": { "type": "string", "format": "uri" }
            }
          },
          "tag_id": { "type": "integer" },
          "locale": { "type": "string" }
        }
      },
      "NutrientDefinition": {
        "type": "object",
        "description": "Definition of a nutrient attribute.",
        "properties": {
          "attr_id": { "type": "integer", "description": "USDA nutrient attribute ID." },
          "name": { "type": "string", "description": "Nutrient name." },
          "unit": { "type": "string", "description": "Unit of measurement." },
          "usda_tag": { "type": "string", "description": "USDA nutrient tag." }
        }
      },
      "LocationsResponse": {
        "type": "object",
        "description": "Restaurant location search results.",
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "brand_id": { "type": "string" },
                "brand_name": { "type": "string" },
                "name": { "type": "string" },
                "address": { "type": "string" },
                "city": { "type": "string" },
                "state": { "type": "string" },
                "zip": { "type": "string" },
                "country": { "type": "string" },
                "lat": { "type": "number" },
                "lng": { "type": "number" },
                "distance_km": { "type": "number" },
                "phone": { "type": "string" }
              }
            }
          }
        }
      },
      "Brand": {
        "type": "object",
        "description": "A food brand.",
        "properties": {
          "brand_id": { "type": "string" },
          "brand_name": { "type": "string" },
          "brand_name_item_name": { "type": "string" },
          "brand_type": { "type": "integer" },
          "website": { "type": "string", "format": "uri" },
          "logo": { "type": "string", "format": "uri" }
        }
      },
      "Error": {
        "type": "object",
        "description": "Error response.",
        "properties": {
          "message": { "type": "string", "description": "Error message." },
          "id": { "type": "string", "description": "Error identifier." },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": { "type": "string" },
                "field": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request. Invalid or missing parameters.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized. Missing or invalid x-app-id/x-app-key headers.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Food item or resource not found.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  }
}
