{
  "openapi": "3.0.3",
  "info": {
    "title": "Instatus API",
    "description": "Programmatically manage status pages, incidents, components, maintenances, subscribers, and more with the Instatus REST API.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://instatus.com/help/api"
  },
  "servers": [
    {
      "url": "https://api.instatus.com"
    }
  ],
  "paths": {
    "/v2/pages": {
      "get": {
        "operationId": "listStatusPages",
        "summary": "List status pages",
        "description": "Get your status pages with pagination.",
        "tags": [
          "Status Pages"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (default 50, max 100).",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatusPage"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/pages": {
      "post": {
        "operationId": "createStatusPage",
        "summary": "Create a status page",
        "description": "Create a new status page.",
        "tags": [
          "Status Pages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusPageCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status page created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusPage"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/{page_id}": {
      "put": {
        "operationId": "updateStatusPage",
        "summary": "Update a status page",
        "description": "Update an existing status page.",
        "tags": [
          "Status Pages"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "description": "The status page ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusPageCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status page updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusPage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteStatusPage",
        "summary": "Delete a status page",
        "description": "Delete an existing status page.",
        "tags": [
          "Status Pages"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "description": "The status page ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status page deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/{page_id}/components": {
      "get": {
        "operationId": "listComponents",
        "summary": "List components",
        "description": "Get all components for a status page with pagination.",
        "tags": [
          "Components"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "description": "The status page ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (default 50, max 100).",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Component"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/{page_id}/components/{component_id}": {
      "get": {
        "operationId": "getComponent",
        "summary": "Get a component",
        "description": "Get a single component by ID.",
        "tags": [
          "Components"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "component_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Component"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateComponent",
        "summary": "Update a component",
        "description": "Update an existing component on a status page.",
        "tags": [
          "Components"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "component_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Component updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Component"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{page_id}/components": {
      "post": {
        "operationId": "createComponent",
        "summary": "Create a component",
        "description": "Add a new component to a status page.",
        "tags": [
          "Components"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Component created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Component"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{page_id}/components/{component_id}": {
      "delete": {
        "operationId": "deleteComponent",
        "summary": "Delete a component",
        "description": "Delete a component from a status page.",
        "tags": [
          "Components"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "component_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Component deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{page_id}/incidents": {
      "get": {
        "operationId": "listIncidents",
        "summary": "List incidents",
        "description": "Get all incidents for a status page with optional filtering.",
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (default 50, max 100).",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status (comma-separated).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Incident"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createIncident",
        "summary": "Create an incident",
        "description": "Create a new incident for a status page.",
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incident created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{page_id}/incidents/{incident_id}": {
      "get": {
        "operationId": "getIncident",
        "summary": "Get an incident",
        "description": "Get a single incident by ID.",
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "incident_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateIncident",
        "summary": "Update an incident",
        "description": "Update an existing incident.",
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "incident_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incident updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteIncident",
        "summary": "Delete an incident",
        "description": "Delete an incident from a status page.",
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "incident_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incident deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{page_id}/incidents/{incident_id}/incident-updates": {
      "post": {
        "operationId": "createIncidentUpdate",
        "summary": "Create an incident update",
        "description": "Post a status update to an existing incident.",
        "tags": [
          "Incident Updates"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "incident_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incident update created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/{page_id}/maintenances": {
      "get": {
        "operationId": "listMaintenances",
        "summary": "List maintenances",
        "description": "Get all scheduled maintenances for a status page.",
        "tags": [
          "Maintenances"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (default 50, max 100).",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Maintenance"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{page_id}/maintenances": {
      "post": {
        "operationId": "createMaintenance",
        "summary": "Create a maintenance",
        "description": "Schedule a new maintenance window for a status page.",
        "tags": [
          "Maintenances"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaintenanceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Maintenance created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Maintenance"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{page_id}/maintenances/{maintenance_id}": {
      "get": {
        "operationId": "getMaintenance",
        "summary": "Get a maintenance",
        "description": "Get a single maintenance by ID.",
        "tags": [
          "Maintenances"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maintenance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Maintenance"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateMaintenance",
        "summary": "Update a maintenance",
        "description": "Update an existing maintenance.",
        "tags": [
          "Maintenances"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maintenance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaintenanceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Maintenance updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Maintenance"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteMaintenance",
        "summary": "Delete a maintenance",
        "description": "Delete a maintenance from a status page.",
        "tags": [
          "Maintenances"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maintenance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Maintenance deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/{page_id}/subscribers": {
      "get": {
        "operationId": "listSubscribers",
        "summary": "List subscribers",
        "description": "Get all subscribers for a status page with optional search filtering.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (default 50, max 100).",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by email address or phone number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscriber"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{page_id}/subscribers": {
      "post": {
        "operationId": "createSubscriber",
        "summary": "Add a subscriber",
        "description": "Add a new subscriber to a status page.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriberCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/{page_id}/subscribers/{subscriber_id}": {
      "delete": {
        "operationId": "deleteSubscriber",
        "summary": "Remove a subscriber",
        "description": "Remove a subscriber from a status page.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/user": {
      "get": {
        "operationId": "getUserProfile",
        "summary": "Get user profile",
        "description": "Get the current authenticated user's profile.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from Instatus dashboard under User Settings > Developer Settings."
      }
    },
    "schemas": {
      "StatusPage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subdomain": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string",
            "nullable": true
          },
          "faviconUrl": {
            "type": "string",
            "nullable": true
          },
          "websiteUrl": {
            "type": "string",
            "nullable": true
          },
          "customDomain": {
            "type": "string",
            "nullable": true
          },
          "publicEmail": {
            "type": "string",
            "nullable": true
          },
          "twitter": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "UP",
              "HASISSUES",
              "UNDERMAINTENANCE"
            ],
            "description": "Overall page status."
          },
          "subscribeBySms": {
            "type": "boolean",
            "nullable": true
          },
          "language": {
            "type": "string"
          },
          "useLargeHeader": {
            "type": "boolean"
          },
          "brandColor": {
            "type": "string"
          },
          "okColor": {
            "type": "string"
          },
          "disruptedColor": {
            "type": "string",
            "nullable": true
          },
          "degradedColor": {
            "type": "string",
            "nullable": true
          },
          "downColor": {
            "type": "string",
            "nullable": true
          },
          "noticeColor": {
            "type": "string",
            "nullable": true
          },
          "unknownColor": {
            "type": "string",
            "nullable": true
          },
          "googleAnalytics": {
            "type": "string",
            "nullable": true
          },
          "smsService": {
            "type": "string",
            "nullable": true,
            "enum": [
              "twilio",
              "esendex",
              "nexmo",
              null
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StatusPageCreateRequest": {
        "type": "object",
        "required": [
          "email",
          "name",
          "subdomain"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "subdomain": {
            "type": "string"
          },
          "components": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of component names to create."
          },
          "logoUrl": {
            "type": "string"
          },
          "faviconUrl": {
            "type": "string"
          },
          "websiteUrl": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "useLargeHeader": {
            "type": "boolean"
          },
          "brandColor": {
            "type": "string"
          },
          "okColor": {
            "type": "string"
          },
          "disruptedColor": {
            "type": "string"
          },
          "degradedColor": {
            "type": "string"
          },
          "downColor": {
            "type": "string"
          },
          "noticeColor": {
            "type": "string"
          },
          "unknownColor": {
            "type": "string"
          },
          "googleAnalytics": {
            "type": "string"
          },
          "subscribeBySms": {
            "type": "boolean"
          },
          "smsService": {
            "type": "string",
            "enum": [
              "twilio",
              "esendex",
              "nexmo"
            ]
          }
        }
      },
      "Component": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "OPERATIONAL",
              "DEGRADEDPERFORMANCE",
              "PARTIALOUTAGE",
              "MAJOROUTAGE",
              "UNDERMAINTENANCE"
            ]
          },
          "uniqueEmail": {
            "type": "string",
            "description": "Unique email address for updating this component via email."
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "order": {
            "type": "integer"
          },
          "showUptime": {
            "type": "boolean"
          },
          "group": {
            "type": "string",
            "nullable": true,
            "description": "Group ID if this component belongs to a group."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ComponentCreateRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "OPERATIONAL",
              "DEGRADEDPERFORMANCE",
              "PARTIALOUTAGE",
              "MAJOROUTAGE",
              "UNDERMAINTENANCE"
            ]
          },
          "order": {
            "type": "integer"
          },
          "showUptime": {
            "type": "boolean"
          },
          "grouped": {
            "type": "boolean",
            "description": "Whether this component is a group."
          },
          "groupId": {
            "type": "string",
            "description": "ID of the parent group."
          },
          "archived": {
            "type": "boolean",
            "description": "Whether the component is archived."
          }
        }
      },
      "Incident": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "INVESTIGATING",
              "IDENTIFIED",
              "MONITORING",
              "RESOLVED"
            ]
          },
          "started": {
            "type": "string",
            "format": "date-time"
          },
          "resolved": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "description": "List of incident updates."
          },
          "components": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of affected component IDs."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IncidentCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "message",
          "components",
          "status"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Incident title."
          },
          "message": {
            "type": "string",
            "description": "Incident description/message."
          },
          "components": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of affected component IDs."
          },
          "started": {
            "type": "string",
            "format": "date-time",
            "description": "Incident start time."
          },
          "status": {
            "type": "string",
            "enum": [
              "INVESTIGATING",
              "IDENTIFIED",
              "MONITORING",
              "RESOLVED"
            ]
          },
          "notify": {
            "type": "boolean",
            "description": "Whether to notify subscribers."
          },
          "statuses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Component ID."
                },
                "status": {
                  "type": "string",
                  "description": "Component status to set."
                }
              }
            },
            "description": "Per-component status overrides."
          }
        }
      },
      "IncidentUpdateRequest": {
        "type": "object",
        "required": [
          "message",
          "status"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Update message."
          },
          "status": {
            "type": "string",
            "enum": [
              "INVESTIGATING",
              "IDENTIFIED",
              "MONITORING",
              "RESOLVED"
            ]
          },
          "components": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notify": {
            "type": "boolean"
          }
        }
      },
      "Maintenance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "NOTSTARTEDYET",
              "INPROGRESS",
              "COMPLETED"
            ]
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled start time."
          },
          "duration": {
            "type": "integer",
            "description": "Duration in minutes."
          },
          "autoStart": {
            "type": "boolean",
            "description": "Whether maintenance starts automatically at the scheduled time."
          },
          "autoEnd": {
            "type": "boolean",
            "description": "Whether maintenance ends automatically after the duration."
          },
          "updates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "components": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MaintenanceCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "message",
          "components",
          "start",
          "status"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Maintenance title."
          },
          "message": {
            "type": "string",
            "description": "Maintenance description."
          },
          "components": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of affected component IDs."
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled start time."
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled end time."
          },
          "status": {
            "type": "string",
            "enum": [
              "NOTSTARTEDYET",
              "INPROGRESS",
              "COMPLETED"
            ]
          },
          "notify": {
            "type": "boolean",
            "description": "Whether to notify subscribers."
          },
          "duration": {
            "type": "integer",
            "description": "Duration in minutes."
          },
          "notifyStart": {
            "type": "boolean",
            "description": "Notify when maintenance starts."
          },
          "notifyEnd": {
            "type": "boolean",
            "description": "Notify when maintenance ends."
          },
          "notifyEarly": {
            "type": "boolean",
            "description": "Notify before maintenance starts."
          },
          "notifyMinutes": {
            "type": "integer",
            "description": "Minutes before start to send early notification."
          },
          "autoStart": {
            "type": "boolean"
          },
          "autoEnd": {
            "type": "boolean"
          },
          "statuses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Subscriber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "webhook": {
            "type": "string",
            "nullable": true
          },
          "confirmed": {
            "type": "boolean"
          },
          "all": {
            "type": "boolean",
            "description": "Whether subscribed to all components."
          },
          "components": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Component IDs the subscriber is subscribed to."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubscriberCreateRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "all": {
            "type": "boolean",
            "description": "Subscribe to all components."
          },
          "autoConfirm": {
            "type": "boolean",
            "description": "Skip confirmation email (paid feature)."
          },
          "components": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Specific component IDs to subscribe to."
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}