{
  "openapi": "3.0.3",
  "info": {
    "title": "Ideogram.ai API",
    "version": "1.0.0",
    "description": "Ideogram.ai is a generative AI platform that transforms text prompts into high-quality, visually compelling images.",
    "x-jentic-source-url": "https://developer.ideogram.ai/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.ideogram.ai"
    }
  ],
  "paths": {
    "/v1/ideogram-v3/generate": {
      "post": {
        "operationId": "generateImageV3",
        "summary": "Generate with Ideogram 3.0",
        "description": "Generates images synchronously based on a prompt using Ideogram 3.0 model.",
        "tags": [
          "Generate"
        ],
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string"
                  },
                  "seed": {
                    "type": "integer"
                  },
                  "resolution": {
                    "$ref": "#/components/schemas/ResolutionV3"
                  },
                  "aspect_ratio": {
                    "$ref": "#/components/schemas/AspectRatioV3"
                  },
                  "rendering_speed": {
                    "$ref": "#/components/schemas/RenderingSpeed"
                  },
                  "magic_prompt": {
                    "$ref": "#/components/schemas/MagicPromptOption"
                  },
                  "negative_prompt": {
                    "type": "string"
                  },
                  "num_images": {
                    "type": "integer",
                    "default": 1
                  },
                  "style_type": {
                    "$ref": "#/components/schemas/StyleTypeV3"
                  },
                  "style_preset": {
                    "$ref": "#/components/schemas/StylePresetV3"
                  },
                  "style_reference_images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "character_reference_images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image(s) generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponseV3"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input provided"
          },
          "401": {
            "description": "Not authorized"
          },
          "422": {
            "description": "Prompt failed safety check"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v1/ideogram-v3/generate-transparent": {
      "post": {
        "operationId": "generateImageV3Transparent",
        "summary": "Generate with Ideogram 3.0 (Transparent Background)",
        "description": "Generates images with transparent background using Ideogram 3.0 model.",
        "tags": [
          "Generate"
        ],
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string"
                  },
                  "seed": {
                    "type": "integer"
                  },
                  "upscale_factor": {
                    "$ref": "#/components/schemas/UpscaleFactor"
                  },
                  "aspect_ratio": {
                    "$ref": "#/components/schemas/AspectRatioV3"
                  },
                  "rendering_speed": {
                    "$ref": "#/components/schemas/RenderingSpeed"
                  },
                  "magic_prompt": {
                    "$ref": "#/components/schemas/MagicPromptOption"
                  },
                  "negative_prompt": {
                    "type": "string"
                  },
                  "num_images": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image(s) generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponseV3"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input provided"
          },
          "401": {
            "description": "Not authorized"
          },
          "422": {
            "description": "Prompt failed safety check"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v1/ideogram-v3/edit": {
      "post": {
        "operationId": "editImageV3",
        "summary": "Edit with Ideogram 3.0",
        "description": "Edit images synchronously using a mask with Ideogram 3.0.",
        "tags": [
          "Edit"
        ],
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image",
                  "mask",
                  "prompt"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "magic_prompt": {
                    "$ref": "#/components/schemas/MagicPromptOption"
                  },
                  "num_images": {
                    "type": "integer",
                    "default": 1
                  },
                  "seed": {
                    "type": "integer"
                  },
                  "rendering_speed": {
                    "$ref": "#/components/schemas/RenderingSpeed"
                  },
                  "style_type": {
                    "$ref": "#/components/schemas/StyleTypeV3"
                  },
                  "style_preset": {
                    "$ref": "#/components/schemas/StylePresetV3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image edits generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponseV3"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input provided"
          },
          "401": {
            "description": "Not authorized"
          },
          "422": {
            "description": "Failed safety check"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v1/ideogram-v3/remix": {
      "post": {
        "operationId": "remixImageV3",
        "summary": "Remix with Ideogram 3.0",
        "description": "Remix provided images synchronously with Ideogram 3.0.",
        "tags": [
          "Generate"
        ],
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image",
                  "prompt"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "image_weight": {
                    "type": "integer",
                    "default": 50
                  },
                  "seed": {
                    "type": "integer"
                  },
                  "resolution": {
                    "$ref": "#/components/schemas/ResolutionV3"
                  },
                  "aspect_ratio": {
                    "$ref": "#/components/schemas/AspectRatioV3"
                  },
                  "rendering_speed": {
                    "$ref": "#/components/schemas/RenderingSpeed"
                  },
                  "magic_prompt": {
                    "$ref": "#/components/schemas/MagicPromptOption"
                  },
                  "negative_prompt": {
                    "type": "string"
                  },
                  "num_images": {
                    "type": "integer",
                    "default": 1
                  },
                  "style_type": {
                    "$ref": "#/components/schemas/StyleTypeV3"
                  },
                  "style_preset": {
                    "$ref": "#/components/schemas/StylePresetV3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image(s) generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponseV3"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input provided"
          },
          "401": {
            "description": "Not authorized"
          },
          "422": {
            "description": "Failed safety check"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v1/ideogram-v3/reframe": {
      "post": {
        "operationId": "reframeImageV3",
        "summary": "Reframe with Ideogram 3.0",
        "description": "Reframe a square image to a chosen resolution with Ideogram 3.0.",
        "tags": [
          "Edit"
        ],
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image",
                  "resolution"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "resolution": {
                    "$ref": "#/components/schemas/ResolutionV3"
                  },
                  "num_images": {
                    "type": "integer",
                    "default": 1
                  },
                  "seed": {
                    "type": "integer"
                  },
                  "rendering_speed": {
                    "$ref": "#/components/schemas/RenderingSpeed"
                  },
                  "style_preset": {
                    "$ref": "#/components/schemas/StylePresetV3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image re-frames generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponseV3"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input provided"
          },
          "401": {
            "description": "Not authorized"
          },
          "422": {
            "description": "Failed safety check"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v1/ideogram-v3/replace-background": {
      "post": {
        "operationId": "replaceBackgroundV3",
        "summary": "Replace Background with Ideogram 3.0",
        "description": "Replace the background of an image using Ideogram 3.0.",
        "tags": [
          "Edit"
        ],
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image",
                  "prompt"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "magic_prompt": {
                    "$ref": "#/components/schemas/MagicPromptOption"
                  },
                  "num_images": {
                    "type": "integer",
                    "default": 1
                  },
                  "seed": {
                    "type": "integer"
                  },
                  "rendering_speed": {
                    "$ref": "#/components/schemas/RenderingSpeed"
                  },
                  "style_preset": {
                    "$ref": "#/components/schemas/StylePresetV3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Background replacement generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponseV3"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input provided"
          },
          "401": {
            "description": "Not authorized"
          },
          "422": {
            "description": "Failed safety check"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/upscale": {
      "post": {
        "operationId": "upscaleImage",
        "summary": "Upscale an image",
        "description": "Upscale provided images synchronously with an optional prompt.",
        "tags": [
          "Edit"
        ],
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image_request",
                  "image_file"
                ],
                "properties": {
                  "image_request": {
                    "$ref": "#/components/schemas/UpscaleInitialImageRequest"
                  },
                  "image_file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image upscaled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponseV3"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input provided"
          },
          "401": {
            "description": "Not authorized"
          },
          "422": {
            "description": "Failed safety check"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/describe": {
      "post": {
        "operationId": "describeImage",
        "summary": "Describe an image",
        "description": "Generate a text description of an image.",
        "tags": [
          "Vision"
        ],
        "parameters": [
          {
            "name": "Api-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image_file"
                ],
                "properties": {
                  "image_file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "describe_model_version": {
                    "$ref": "#/components/schemas/DescribeModelVersion"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Description(s) created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DescribeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input provided"
          },
          "401": {
            "description": "Not authorized"
          },
          "422": {
            "description": "Image failed safety check"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Api-Key",
        "description": "API key for access control"
      }
    },
    "schemas": {
      "ResolutionV3": {
        "type": "string",
        "enum": [
          "512x1536",
          "576x1408",
          "576x1472",
          "576x1536",
          "640x1344",
          "640x1408",
          "640x1472",
          "640x1536",
          "704x1152",
          "704x1216",
          "704x1280",
          "704x1344",
          "704x1408",
          "704x1472",
          "736x1312",
          "768x1088",
          "768x1216",
          "768x1280",
          "768x1344",
          "800x1280",
          "832x960",
          "832x1024",
          "832x1088",
          "832x1152",
          "832x1216",
          "832x1248",
          "864x1152",
          "896x960",
          "896x1024",
          "896x1088",
          "896x1120",
          "896x1152",
          "960x832",
          "960x896",
          "960x1024",
          "960x1088",
          "1024x832",
          "1024x896",
          "1024x960",
          "1024x1024",
          "1088x768",
          "1088x832",
          "1088x896",
          "1088x960",
          "1120x896",
          "1152x704",
          "1152x832",
          "1152x864",
          "1152x896",
          "1216x704",
          "1216x768",
          "1216x832",
          "1248x832",
          "1280x704",
          "1280x768",
          "1280x800",
          "1312x736",
          "1344x640",
          "1344x704",
          "1344x768",
          "1408x576",
          "1408x640",
          "1408x704",
          "1472x576",
          "1472x640",
          "1472x704",
          "1536x512",
          "1536x576",
          "1536x640"
        ],
        "description": "Supported resolutions for Ideogram 3.0"
      },
      "AspectRatioV3": {
        "type": "string",
        "enum": [
          "1x3",
          "3x1",
          "1x2",
          "2x1",
          "9x16",
          "16x9",
          "10x16",
          "16x10",
          "2x3",
          "3x2",
          "3x4",
          "4x3",
          "4x5",
          "5x4",
          "1x1"
        ],
        "description": "Aspect ratio for image generation"
      },
      "RenderingSpeed": {
        "type": "string",
        "enum": [
          "FLASH",
          "TURBO",
          "DEFAULT",
          "QUALITY"
        ],
        "default": "DEFAULT"
      },
      "MagicPromptOption": {
        "type": "string",
        "enum": [
          "AUTO",
          "ON",
          "OFF"
        ]
      },
      "StyleTypeV3": {
        "type": "string",
        "enum": [
          "AUTO",
          "GENERAL",
          "REALISTIC",
          "DESIGN",
          "FICTION"
        ],
        "default": "GENERAL"
      },
      "StylePresetV3": {
        "type": "string",
        "enum": [
          "80S_ILLUSTRATION",
          "90S_NOSTALGIA",
          "ABSTRACT_ORGANIC",
          "ANALOG_NOSTALGIA",
          "ART_BRUT",
          "ART_DECO",
          "ART_POSTER",
          "AURA",
          "AVANT_GARDE",
          "BAUHAUS",
          "BLUEPRINT",
          "BLURRY_MOTION",
          "BRIGHT_ART",
          "C4D_CARTOON",
          "CHILDRENS_BOOK",
          "COLLAGE",
          "COLORING_BOOK_I",
          "COLORING_BOOK_II",
          "CUBISM",
          "DARK_AURA",
          "DOODLE",
          "DOUBLE_EXPOSURE",
          "DRAMATIC_CINEMA",
          "EDITORIAL",
          "EMOTIONAL_MINIMAL",
          "ETHEREAL_PARTY",
          "EXPIRED_FILM",
          "FLAT_ART",
          "FLAT_VECTOR",
          "FOREST_REVERIE",
          "GEO_MINIMALIST",
          "GLASS_PRISM",
          "GOLDEN_HOUR",
          "GRAFFITI_I",
          "GRAFFITI_II",
          "HALFTONE_PRINT",
          "HIGH_CONTRAST",
          "HIPPIE_ERA",
          "ICONIC",
          "JAPANDI_FUSION",
          "JAZZY",
          "LONG_EXPOSURE",
          "MAGAZINE_EDITORIAL",
          "MINIMAL_ILLUSTRATION",
          "MIXED_MEDIA",
          "MONOCHROME",
          "NIGHTLIFE",
          "OIL_PAINTING",
          "OLD_CARTOONS",
          "PAINT_GESTURE",
          "POP_ART",
          "RETRO_ETCHING",
          "RIVIERA_POP",
          "SPOTLIGHT_80S",
          "STYLIZED_RED",
          "SURREAL_COLLAGE",
          "TRAVEL_POSTER",
          "VINTAGE_GEO",
          "VINTAGE_POSTER",
          "WATERCOLOR",
          "WEIRD",
          "WOODBLOCK_PRINT"
        ]
      },
      "UpscaleFactor": {
        "type": "string",
        "enum": [
          "X1",
          "X2",
          "X4"
        ],
        "default": "X1"
      },
      "DescribeModelVersion": {
        "type": "string",
        "enum": [
          "V_2",
          "V_3"
        ],
        "default": "V_3"
      },
      "UpscaleInitialImageRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Optional prompt to guide upscale"
          },
          "resemblance": {
            "type": "integer",
            "default": 50
          },
          "detail": {
            "type": "integer",
            "default": 50
          },
          "magic_prompt_option": {
            "$ref": "#/components/schemas/MagicPromptOption"
          },
          "num_images": {
            "type": "integer",
            "default": 1
          },
          "seed": {
            "type": "integer"
          }
        }
      },
      "ImageGenerationObjectV3": {
        "type": "object",
        "required": [
          "prompt",
          "resolution",
          "is_image_safe",
          "seed"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "prompt": {
            "type": "string"
          },
          "resolution": {
            "$ref": "#/components/schemas/ResolutionV3"
          },
          "upscaled_resolution": {
            "type": "string"
          },
          "is_image_safe": {
            "type": "boolean"
          },
          "seed": {
            "type": "integer"
          },
          "style_type": {
            "$ref": "#/components/schemas/StyleTypeV3"
          }
        }
      },
      "ImageGenerationResponseV3": {
        "type": "object",
        "required": [
          "created",
          "data"
        ],
        "properties": {
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageGenerationObjectV3"
            }
          }
        }
      },
      "Description": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          }
        }
      },
      "DescribeResponse": {
        "type": "object",
        "properties": {
          "descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Description"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Generate",
      "description": "Image generation endpoints"
    },
    {
      "name": "Edit",
      "description": "Image editing endpoints"
    },
    {
      "name": "Vision",
      "description": "Image analysis endpoints"
    }
  ]
}