{
  "openapi": "3.0.3",
  "info": {
    "title": "Bing Web Search API",
    "description": "The Bing Web Search API lets you send a search query to Bing and get back search results that include links to webpages, images, news, videos, and more. Note: The public Bing Search APIs were retired on August 11, 2025.",
    "version": "7.0.0",
    "x-jentic-source-url": "https://learn.microsoft.com/en-us/bing/search-apis/"
  },
  "servers": [
    {
      "url": "https://api.bing.microsoft.com/v7.0",
      "description": "Bing Web Search API v7 (retired)"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "webSearch",
        "summary": "Search the web",
        "description": "Send a search query to Bing and get back web search results including webpages, images, videos, news, and more.",
        "tags": [
          "Web Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The user's search query term. Supports Bing Advanced Operators.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "The number of search results to return (default 10, max 50).",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Zero-based offset for pagination.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "mkt",
            "in": "query",
            "required": false,
            "description": "Market where results come from, in language-country format (e.g., en-US).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cc",
            "in": "query",
            "required": false,
            "description": "2-character country code. Mutually exclusive with mkt.",
            "schema": {
              "type": "string",
              "maxLength": 2
            }
          },
          {
            "name": "safeSearch",
            "in": "query",
            "required": false,
            "description": "Filter for adult content.",
            "schema": {
              "type": "string",
              "enum": [
                "Off",
                "Moderate",
                "Strict"
              ],
              "default": "Moderate"
            }
          },
          {
            "name": "freshness",
            "in": "query",
            "required": false,
            "description": "Filter results by age: Day, Week, Month, or a date range (YYYY-MM-DD..YYYY-MM-DD).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseFilter",
            "in": "query",
            "required": false,
            "description": "Comma-delimited list of answer types to include (Computation, Entities, Images, News, Places, RelatedSearches, SpellSuggestions, TimeZone, Translations, Videos, Webpages).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "answerCount",
            "in": "query",
            "required": false,
            "description": "Number of answers to include in the response.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "promote",
            "in": "query",
            "required": false,
            "description": "Comma-delimited list of answers to promote regardless of ranking.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "textDecorations",
            "in": "query",
            "required": false,
            "description": "Whether display strings should contain decoration markers for hit highlighting.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "textFormat",
            "in": "query",
            "required": false,
            "description": "Type of markers for text decorations: Raw (Unicode) or HTML.",
            "schema": {
              "type": "string",
              "enum": [
                "Raw",
                "HTML"
              ],
              "default": "Raw"
            }
          },
          {
            "name": "setLang",
            "in": "query",
            "required": false,
            "description": "Language for UI strings (ISO 639-1 code or language-region).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            },
            "headers": {
              "BingAPIs-Market": {
                "description": "The market used by the request.",
                "schema": {
                  "type": "string"
                }
              },
              "BingAPIs-TraceId": {
                "description": "ID of the log entry with request details.",
                "schema": {
                  "type": "string"
                }
              },
              "X-MSEdge-ClientID": {
                "description": "Client ID for consistent behavior across calls.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing subscription key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before sending another request.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "_type": {
            "type": "string",
            "description": "Type hint, set to SearchResponse."
          },
          "queryContext": {
            "$ref": "#/components/schemas/QueryContext"
          },
          "webPages": {
            "$ref": "#/components/schemas/WebAnswer"
          },
          "images": {
            "type": "object",
            "description": "Image search results."
          },
          "news": {
            "type": "object",
            "description": "News search results."
          },
          "videos": {
            "type": "object",
            "description": "Video search results."
          },
          "relatedSearches": {
            "$ref": "#/components/schemas/RelatedSearchAnswer"
          },
          "computation": {
            "$ref": "#/components/schemas/Computation"
          },
          "spellSuggestions": {
            "$ref": "#/components/schemas/SpellSuggestions"
          },
          "timeZone": {
            "type": "object",
            "description": "Time zone information."
          },
          "translations": {
            "type": "object",
            "description": "Translation results."
          },
          "rankingResponse": {
            "$ref": "#/components/schemas/RankingResponse"
          }
        }
      },
      "QueryContext": {
        "type": "object",
        "properties": {
          "originalQuery": {
            "type": "string",
            "description": "The query string as specified in the request."
          },
          "alteredQuery": {
            "type": "string",
            "description": "The query string Bing used if spelling was corrected."
          },
          "alterationOverrideQuery": {
            "type": "string",
            "description": "Query string to force Bing to use the original string."
          },
          "adultIntent": {
            "type": "boolean",
            "description": "Whether the query has adult intent."
          },
          "askUserForLocation": {
            "type": "boolean",
            "description": "Whether Bing requires location for accurate results."
          }
        }
      },
      "WebAnswer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the web answer."
          },
          "webSearchUrl": {
            "type": "string",
            "description": "URL to Bing search results page."
          },
          "totalEstimatedMatches": {
            "type": "integer",
            "format": "int64",
            "description": "Estimated number of relevant webpages."
          },
          "someResultsRemoved": {
            "type": "boolean",
            "description": "Whether some results were excluded."
          },
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebPage"
            }
          }
        }
      },
      "WebPage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this webpage."
          },
          "name": {
            "type": "string",
            "description": "Webpage title."
          },
          "url": {
            "type": "string",
            "description": "URL of the webpage."
          },
          "displayUrl": {
            "type": "string",
            "description": "Display version of the URL."
          },
          "snippet": {
            "type": "string",
            "description": "Snippet describing the webpage content."
          },
          "dateLastCrawled": {
            "type": "string",
            "description": "Last time Bing crawled the page (YYYY-MM-DDTHH:MM:SS)."
          },
          "datePublished": {
            "type": "string",
            "description": "Publication date."
          },
          "isFamilyFriendly": {
            "type": "boolean",
            "description": "Whether the page contains adult content."
          },
          "isNavigational": {
            "type": "boolean",
            "description": "Whether this is a navigational result."
          },
          "language": {
            "type": "string",
            "description": "Two-letter language code."
          },
          "deepLinks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "snippet": {
                  "type": "string"
                }
              }
            },
            "description": "Deep links to related content within the website."
          }
        }
      },
      "Computation": {
        "type": "object",
        "properties": {
          "expression": {
            "type": "string",
            "description": "The math or conversion expression."
          },
          "value": {
            "type": "string",
            "description": "The expression's answer."
          }
        }
      },
      "SpellSuggestions": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier."
          },
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Query"
            }
          }
        }
      },
      "RelatedSearchAnswer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier."
          },
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Query"
            }
          }
        }
      },
      "Query": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "The query string."
          },
          "displayText": {
            "type": "string",
            "description": "Display version with highlighting."
          },
          "webSearchUrl": {
            "type": "string",
            "description": "URL to Bing search results for this query."
          }
        }
      },
      "RankingResponse": {
        "type": "object",
        "properties": {
          "pole": {
            "$ref": "#/components/schemas/RankingGroup"
          },
          "mainline": {
            "$ref": "#/components/schemas/RankingGroup"
          },
          "sidebar": {
            "$ref": "#/components/schemas/RankingGroup"
          }
        }
      },
      "RankingGroup": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RankingItem"
            }
          }
        }
      },
      "RankingItem": {
        "type": "object",
        "properties": {
          "answerType": {
            "type": "string",
            "description": "The answer type (e.g., WebPages, Images, News)."
          },
          "resultIndex": {
            "type": "integer",
            "description": "Zero-based index of the item in the answer."
          },
          "value": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code identifying the category."
          },
          "subCode": {
            "type": "string",
            "description": "Specific error sub-code."
          },
          "message": {
            "type": "string",
            "description": "Error description."
          },
          "moreDetails": {
            "type": "string",
            "description": "Additional error information."
          },
          "parameter": {
            "type": "string",
            "description": "The query parameter that caused the error."
          },
          "value": {
            "type": "string",
            "description": "The invalid parameter value."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "_type": {
            "type": "string",
            "description": "Type hint, set to ErrorResponse."
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "description": "Bing Search API subscription key from Azure Portal."
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ]
}