{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "visanet@gmail.com",
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe"
    },
    "description": "Api encargada de la administracion de llaves",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://www.visanet.com.pe",
    "title": "API Visanet Key Management",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.keymanagement/v1/swagger.json"
  },
  "servers": [
    {
      "url": "https://apitestenv.vnforapps.com/api.keymanagement/v1"
    }
  ],
  "paths": {
    "/key/configure": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncryptVaultResult"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Key Management Api"
        ],
        "description": "RESTful API to configure key vault.",
        "operationId": "configure",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationRequest"
              }
            }
          },
          "description": "Configuration request",
          "required": true
        },
        "summary": "Configure vault"
      }
    },
    "/key/decrypt": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncryptVaultResult"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Key Management Api"
        ],
        "description": "RESTful API to decrypt payloads.",
        "operationId": "decrypt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncryptVaultRequest"
              }
            }
          },
          "description": "Decrypt value request",
          "required": true
        },
        "summary": "Decrypt payload"
      }
    },
    "/key/encrypt": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncryptVaultResult"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Key Management Api"
        ],
        "description": "RESTful API to encrypt payloads.",
        "operationId": "encrypt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncryptVaultRequest"
              }
            }
          },
          "description": "Encrypt value request",
          "required": true
        },
        "summary": "Encrypt payload"
      }
    },
    "/key/init": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyInitResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Key Management Api"
        ],
        "description": "RESTful API to init derived keys.",
        "operationId": "initializeDerivedKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyInitRequest"
              }
            }
          },
          "description": "Initialize derived key request",
          "required": true
        },
        "summary": "Initialize derived key"
      }
    },
    "/key/master/init": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyManagement"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Key Management Api"
        ],
        "description": "RESTful API to init master keys.",
        "operationId": "initializeMasterKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyMasterRequest"
              }
            }
          },
          "description": "Initialize master key request",
          "required": true
        },
        "summary": "Initialize master key"
      }
    },
    "/key/master/retrieve": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyManagement"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Key Management Api"
        ],
        "description": "RESTful API to retrieve master keys.",
        "operationId": "retrieveMasterKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveMasterRequest"
              }
            }
          },
          "description": "Retrieve master key request",
          "required": true
        },
        "summary": "Retrieve master key"
      }
    },
    "/key/retrieve/{issuerId}/{terminalId}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "issuerId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "terminalId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyInitResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Key Management Api"
        ],
        "description": "RESTful API to query keys.",
        "operationId": "retrieveKey",
        "summary": "Query key"
      }
    }
  },
  "components": {
    "schemas": {
      "ConfigurationRequest": {
        "description": "Request para configurar par de llaves",
        "properties": {
          "bdkToken": {
            "description": "Token de la llave base de derivacion",
            "type": "string"
          },
          "mkToken": {
            "description": "Token de la llave maestra",
            "type": "string"
          }
        },
        "required": [
          "bdkToken",
          "mkToken"
        ],
        "type": "object"
      },
      "EncryptVaultRequest": {
        "description": "Request para encriptar payload",
        "properties": {
          "hex": {
            "description": "Flag que indica si se el valor a encriptar esta en formato Hexadecimal",
            "type": "boolean"
          },
          "issuerId": {
            "description": "Identificador del emisor de la llave",
            "type": "string"
          },
          "padding": {
            "description": "Flag que indica si se utiliza padding al encriptar",
            "type": "boolean"
          },
          "payload": {
            "description": "Valor a encriptar",
            "type": "string"
          },
          "terminalId": {
            "description": "Identificador del terminal",
            "example": "12345678",
            "type": "string"
          }
        },
        "required": [
          "hex",
          "issuerId",
          "padding",
          "payload",
          "terminalId"
        ],
        "type": "object"
      },
      "EncryptVaultResult": {
        "description": "Resultado del proceso de encriptacion",
        "properties": {
          "result": {
            "description": "Resultado de la encriptacion",
            "type": "string"
          }
        },
        "required": [
          "result"
        ],
        "type": "object"
      },
      "KeyInitRequest": {
        "description": "Request para inicializar working key",
        "properties": {
          "channelId": {
            "description": "Canal desde donde se origina la solicitud",
            "enum": [
              "mobile",
              "web",
              "mpos",
              "host",
              "pos",
              "kiosk",
              "callcenter"
            ],
            "example": "web",
            "type": "string"
          },
          "cpuId": {
            "description": "Identificador del Cpu",
            "type": "string"
          },
          "issuerId": {
            "description": "Identificador del emisor de la llave",
            "type": "string"
          },
          "reference": {
            "description": "Referencia del solicitante",
            "type": "string"
          },
          "regenerate": {
            "description": "Flag que indica si debe regenerarse la llave",
            "type": "boolean"
          },
          "terminalId": {
            "description": "Identificador del terminal",
            "example": "12345678",
            "type": "string"
          }
        },
        "required": [
          "channelId",
          "cpuId",
          "issuerId",
          "reference",
          "regenerate",
          "terminalId"
        ],
        "type": "object"
      },
      "KeyInitResponse": {
        "description": "Resultado del proceso de inicializacion de llave derivada",
        "properties": {
          "creationTime": {
            "description": "Creation datetime",
            "format": "date-time",
            "type": "string"
          },
          "ewk": {
            "description": "Encrypted working key",
            "type": "string"
          },
          "keyId": {
            "description": "Key identifier",
            "type": "string"
          },
          "salt": {
            "description": "Random data used in the encryption process",
            "type": "string"
          }
        },
        "required": [
          "creationTime",
          "ewk",
          "keyId",
          "salt"
        ],
        "type": "object"
      },
      "KeyManagement": {
        "description": "Resultado de la incializacion de la llave",
        "properties": {
          "active": {
            "description": "Flag que indica si la llave esta activa",
            "type": "boolean"
          },
          "creationTime": {
            "description": "Fecha de creacion",
            "format": "date-time",
            "type": "string"
          },
          "description": {
            "description": "Descripcion de la llave inicializada",
            "type": "string"
          },
          "encryptedKey": {
            "description": "Llave encriptada",
            "type": "string"
          },
          "token": {
            "description": "Token identificador unico de la llave",
            "type": "string"
          }
        },
        "type": "object"
      },
      "KeyMasterRequest": {
        "description": "Request para inicializar un Master key",
        "properties": {
          "description": {
            "description": "Descripcion de la llave",
            "type": "string"
          },
          "key": {
            "description": "Llave a inicializar, opcional si no se envia la llave sera generada automaticamente",
            "type": "string"
          }
        },
        "required": [
          "description"
        ],
        "type": "object"
      },
      "RetrieveMasterRequest": {
        "description": "Retrieve Decrypted Key",
        "properties": {
          "token": {
            "description": "Token identificador unico de la llave",
            "type": "string"
          }
        },
        "required": [
          "token"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "accessToken": {
        "description": "Access token obtained from api.security",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "description": "RESTful API to manage keys.",
      "name": "Key Management Api"
    }
  ]
}