{
  "openapi": "3.0.3",
  "info": {
    "title": "Idomoo Personalized Video API",
    "version": "3.0.0",
    "description": "Idomoo API for generating personalized videos at scale. Supports storyboard-based generation, scene-level control, batch processing, and metadata management.",
    "x-jentic-source-url": "https://developers.idomoo.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.idomoo.com/api/v3"
    }
  ],
  "paths": {
    "/storyboard/generate": {
      "post": {
        "operationId": "generateVideo",
        "summary": "Generate video from storyboard",
        "description": "Generate a personalized video using a storyboard and data parameters",
        "tags": [
          "Storyboard"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoryboardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/storyboard/batch": {
      "post": {
        "operationId": "batchGenerate",
        "summary": "Batch generate videos",
        "description": "Generate multiple personalized videos in a batch using CSV data",
        "tags": [
          "Storyboard"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scene/generate": {
      "post": {
        "operationId": "generateFromScene",
        "summary": "Generate video from scenes",
        "description": "Generate video with full scene-level control over content, layers, and audio",
        "tags": [
          "Scene"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metadata/storyboards": {
      "get": {
        "operationId": "listStoryboards",
        "summary": "List storyboards",
        "description": "Get all available storyboards for the account",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoryboardList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metadata/storyboards/{storyboard_id}": {
      "get": {
        "operationId": "getStoryboard",
        "summary": "Get storyboard details",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "storyboard_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Storyboard"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get storyboard details"
      }
    },
    "/metadata/scenes": {
      "get": {
        "operationId": "listScenes",
        "summary": "List scenes",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SceneList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List scenes"
      }
    },
    "/metadata/account": {
      "get": {
        "operationId": "getAccountInfo",
        "summary": "Get account information",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get account information"
      }
    },
    "/video/{video_id}/status": {
      "get": {
        "operationId": "getVideoStatus",
        "summary": "Get video generation status",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get video generation status"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "StoryboardRequest": {
        "type": "object",
        "properties": {
          "storyboard_id": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "output": {
            "type": "object",
            "properties": {
              "format": {
                "type": "string",
                "enum": [
                  "mp4",
                  "gif",
                  "webm"
                ]
              },
              "quality": {
                "type": "string"
              }
            }
          }
        }
      },
      "VideoResponse": {
        "type": "object",
        "properties": {
          "video_id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Storyboard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "scenes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "StoryboardList": {
        "type": "object",
        "properties": {
          "storyboards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Storyboard"
            }
          }
        }
      },
      "SceneList": {
        "type": "object",
        "properties": {
          "scenes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AccountInfo": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "plan": {
            "type": "string"
          }
        }
      },
      "VideoStatus": {
        "type": "object",
        "properties": {
          "video_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "url": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Metadata"
    },
    {
      "name": "Scene"
    },
    {
      "name": "Storyboard"
    },
    {
      "name": "Videos"
    }
  ]
}
