{
  "openapi": "3.0.3",
  "info": {
    "title": "Kakao Maps Local API",
    "description": "Kakao Maps Local REST API provides geocoding, reverse geocoding, keyword and category place search, coordinate transformation, and region code lookup for Korean locations. Authentication requires a KakaoAK REST API key in the Authorization header.",
    "version": "2.0.0",
    "contact": {
      "name": "Kakao Developers",
      "url": "https://developers.kakao.com"
    },
    "x-jentic-source-url": "https://apis.map.kakao.com"
  },
  "servers": [
    {
      "url": "https://dapi.kakao.com",
      "description": "Kakao Maps REST API server"
    }
  ],
  "security": [
    {
      "kakaoAK": []
    }
  ],
  "tags": [
    {
      "name": "Geocoding",
      "description": "Address to coordinates conversion"
    },
    {
      "name": "Reverse Geocoding",
      "description": "Coordinates to address/region conversion"
    },
    {
      "name": "Search",
      "description": "Place search by keyword or category"
    },
    {
      "name": "Coordinates",
      "description": "Coordinate transformation"
    }
  ],
  "paths": {
    "/v2/local/search/address.json": {
      "get": {
        "operationId": "searchAddress",
        "summary": "Convert address to coordinates",
        "description": "Searches for an address and returns the corresponding geographic coordinates. Supports both land-lot and road name addresses in Korea.",
        "tags": ["Geocoding"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Address search query string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "analyze_type",
            "in": "query",
            "required": false,
            "description": "Search analysis type.",
            "schema": {
              "type": "string",
              "enum": ["similar", "exact"],
              "default": "similar"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Result page number.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 45,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful address search.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/local/geo/coord2regioncode.json": {
      "get": {
        "operationId": "coordToRegionCode",
        "summary": "Convert coordinates to region code",
        "description": "Returns the administrative and legal region codes for the given coordinates.",
        "tags": ["Reverse Geocoding"],
        "parameters": [
          {
            "name": "x",
            "in": "query",
            "required": true,
            "description": "Longitude coordinate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "y",
            "in": "query",
            "required": true,
            "description": "Latitude coordinate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "input_coord",
            "in": "query",
            "required": false,
            "description": "Input coordinate system.",
            "schema": {
              "type": "string",
              "enum": ["WGS84", "WCONGNAMUL", "CONGNAMUL", "WTM", "TM"],
              "default": "WGS84"
            }
          },
          {
            "name": "output_coord",
            "in": "query",
            "required": false,
            "description": "Output coordinate system.",
            "schema": {
              "type": "string",
              "enum": ["WGS84", "WCONGNAMUL", "CONGNAMUL", "WTM", "TM"],
              "default": "WGS84"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful region code lookup.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/local/geo/coord2address.json": {
      "get": {
        "operationId": "coordToAddress",
        "summary": "Convert coordinates to address",
        "description": "Returns the address (land-lot and road name) corresponding to the given coordinates.",
        "tags": ["Reverse Geocoding"],
        "parameters": [
          {
            "name": "x",
            "in": "query",
            "required": true,
            "description": "Longitude coordinate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "y",
            "in": "query",
            "required": true,
            "description": "Latitude coordinate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "input_coord",
            "in": "query",
            "required": false,
            "description": "Input coordinate system.",
            "schema": {
              "type": "string",
              "enum": ["WGS84", "WCONGNAMUL", "CONGNAMUL", "WTM", "TM"],
              "default": "WGS84"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful reverse geocoding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoordToAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/local/geo/transcoord.json": {
      "get": {
        "operationId": "transformCoordinates",
        "summary": "Transform coordinates between systems",
        "description": "Converts coordinates from one coordinate system to another (e.g., WGS84 to TM).",
        "tags": ["Coordinates"],
        "parameters": [
          {
            "name": "x",
            "in": "query",
            "required": true,
            "description": "Longitude coordinate.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "y",
            "in": "query",
            "required": true,
            "description": "Latitude coordinate.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "input_coord",
            "in": "query",
            "required": false,
            "description": "Source coordinate system.",
            "schema": {
              "type": "string",
              "enum": ["WGS84", "WCONGNAMUL", "CONGNAMUL", "WTM", "TM", "KTM", "UTM", "BESSEL", "WKTM", "WUTM"],
              "default": "WGS84"
            }
          },
          {
            "name": "output_coord",
            "in": "query",
            "required": true,
            "description": "Target coordinate system.",
            "schema": {
              "type": "string",
              "enum": ["WGS84", "WCONGNAMUL", "CONGNAMUL", "WTM", "TM", "KTM", "UTM", "BESSEL", "WKTM", "WUTM"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful coordinate transformation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransCoordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/local/search/keyword.json": {
      "get": {
        "operationId": "searchByKeyword",
        "summary": "Search places by keyword",
        "description": "Searches for places matching the given keyword. Optionally filter by category, location, and radius.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search keyword.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_group_code",
            "in": "query",
            "required": false,
            "description": "Category group code filter (e.g., MT1=Supermarket, CS2=Convenience store, FD6=Restaurant, CE7=Cafe, HP8=Hospital, PM9=Pharmacy).",
            "schema": {
              "type": "string",
              "enum": ["MT1", "CS2", "PS3", "SC4", "AC5", "PK6", "OL7", "SW8", "BK9", "CT1", "AG2", "PO3", "AT4", "AD5", "FD6", "CE7", "HP8", "PM9"]
            }
          },
          {
            "name": "x",
            "in": "query",
            "required": false,
            "description": "Center longitude for distance-based search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "y",
            "in": "query",
            "required": false,
            "description": "Center latitude for distance-based search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Search radius in meters (0-20000).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 20000
            }
          },
          {
            "name": "rect",
            "in": "query",
            "required": false,
            "description": "Rectangle bounds for search area (leftX,leftY,rightX,rightY).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Result page number.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 45,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 15,
              "default": 15
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order for results.",
            "schema": {
              "type": "string",
              "enum": ["accuracy", "distance"],
              "default": "accuracy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful keyword search.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/local/search/category.json": {
      "get": {
        "operationId": "searchByCategory",
        "summary": "Search places by category",
        "description": "Searches for places within a specific category group. Requires either x/y/radius or rect to define the search area.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "category_group_code",
            "in": "query",
            "required": true,
            "description": "Category group code (e.g., MT1=Supermarket, FD6=Restaurant, CE7=Cafe, HP8=Hospital).",
            "schema": {
              "type": "string",
              "enum": ["MT1", "CS2", "PS3", "SC4", "AC5", "PK6", "OL7", "SW8", "BK9", "CT1", "AG2", "PO3", "AT4", "AD5", "FD6", "CE7", "HP8", "PM9"]
            }
          },
          {
            "name": "x",
            "in": "query",
            "required": false,
            "description": "Center longitude for radius search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "y",
            "in": "query",
            "required": false,
            "description": "Center latitude for radius search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Search radius in meters (0-20000).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 20000
            }
          },
          {
            "name": "rect",
            "in": "query",
            "required": false,
            "description": "Rectangle bounds for search area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 45,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 15,
              "default": 15
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["accuracy", "distance"],
              "default": "accuracy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful category search.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "kakaoAK": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "REST API key in the format: KakaoAK {REST_API_KEY}"
      }
    },
    "schemas": {
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer",
            "description": "Total number of results."
          },
          "pageable_count": {
            "type": "integer",
            "description": "Number of results available for pagination."
          },
          "is_end": {
            "type": "boolean",
            "description": "Whether this is the last page."
          }
        }
      },
      "AddressSearchResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddressDocument"
            }
          }
        }
      },
      "AddressDocument": {
        "type": "object",
        "properties": {
          "address_name": {
            "type": "string",
            "description": "Full address string."
          },
          "address_type": {
            "type": "string",
            "description": "Type of address.",
            "enum": ["REGION", "ROAD", "REGION_ADDR", "ROAD_ADDR"]
          },
          "x": {
            "type": "string",
            "description": "Longitude."
          },
          "y": {
            "type": "string",
            "description": "Latitude."
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "road_address": {
            "$ref": "#/components/schemas/RoadAddress"
          }
        }
      },
      "Address": {
        "type": "object",
        "description": "Land-lot based address details.",
        "properties": {
          "address_name": {
            "type": "string"
          },
          "region_1depth_name": {
            "type": "string",
            "description": "Province/City level."
          },
          "region_2depth_name": {
            "type": "string",
            "description": "District level."
          },
          "region_3depth_name": {
            "type": "string",
            "description": "Sub-district level."
          },
          "mountain_yn": {
            "type": "string",
            "description": "Whether address is a mountain area (Y/N)."
          },
          "main_address_no": {
            "type": "string",
            "description": "Main address number."
          },
          "sub_address_no": {
            "type": "string",
            "description": "Sub address number."
          }
        }
      },
      "RoadAddress": {
        "type": "object",
        "description": "Road name address details.",
        "nullable": true,
        "properties": {
          "address_name": {
            "type": "string"
          },
          "region_1depth_name": {
            "type": "string"
          },
          "region_2depth_name": {
            "type": "string"
          },
          "region_3depth_name": {
            "type": "string"
          },
          "road_name": {
            "type": "string"
          },
          "underground_yn": {
            "type": "string"
          },
          "main_building_no": {
            "type": "string"
          },
          "sub_building_no": {
            "type": "string"
          },
          "building_name": {
            "type": "string"
          },
          "zone_no": {
            "type": "string",
            "description": "Postal zone number."
          }
        }
      },
      "RegionCodeResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total_count": {
                "type": "integer"
              }
            }
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegionDocument"
            }
          }
        }
      },
      "RegionDocument": {
        "type": "object",
        "properties": {
          "region_type": {
            "type": "string",
            "description": "H for administrative, B for legal region.",
            "enum": ["H", "B"]
          },
          "address_name": {
            "type": "string"
          },
          "region_1depth_name": {
            "type": "string"
          },
          "region_2depth_name": {
            "type": "string"
          },
          "region_3depth_name": {
            "type": "string"
          },
          "region_4depth_name": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "description": "Region code."
          },
          "x": {
            "type": "number",
            "format": "double"
          },
          "y": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "CoordToAddressResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total_count": {
                "type": "integer",
                "description": "0 or 1."
              }
            }
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "$ref": "#/components/schemas/Address"
                },
                "road_address": {
                  "$ref": "#/components/schemas/RoadAddress"
                }
              }
            }
          }
        }
      },
      "TransCoordResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total_count": {
                "type": "integer"
              }
            }
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "x": {
                  "type": "string",
                  "description": "Transformed longitude."
                },
                "y": {
                  "type": "string",
                  "description": "Transformed latitude."
                }
              }
            }
          }
        }
      },
      "KeywordSearchResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              },
              {
                "type": "object",
                "properties": {
                  "same_name": {
                    "type": "object",
                    "properties": {
                      "region": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "keyword": {
                        "type": "string"
                      },
                      "selected_region": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            ]
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceDocument"
            }
          }
        }
      },
      "PlaceDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Place ID."
          },
          "place_name": {
            "type": "string",
            "description": "Place name."
          },
          "category_name": {
            "type": "string",
            "description": "Full category path."
          },
          "category_group_code": {
            "type": "string",
            "description": "Category group code."
          },
          "category_group_name": {
            "type": "string",
            "description": "Category group name."
          },
          "phone": {
            "type": "string",
            "description": "Phone number."
          },
          "address_name": {
            "type": "string",
            "description": "Land-lot address."
          },
          "road_address_name": {
            "type": "string",
            "description": "Road name address."
          },
          "x": {
            "type": "string",
            "description": "Longitude."
          },
          "y": {
            "type": "string",
            "description": "Latitude."
          },
          "place_url": {
            "type": "string",
            "description": "Kakao Maps place URL."
          },
          "distance": {
            "type": "string",
            "description": "Distance in meters from center point (only when x/y specified)."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errorType": {
            "type": "string",
            "description": "Error type identifier."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    }
  }
}