{
  "openapi": "3.0.3",
  "info": {
    "description": "The CUDO Compute API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer). Our API uses predictable resource-oriented URLs, accepts and returns [JSON](http://www.json.org/)-encoded requests and responses, and uses standard HTTP response codes, authentication, and verbs where possible.",
    "title": "CUDO Compute service",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.cudocompute.com/docs/openapi.json"
  },
  "servers": [
    {
      "url": "https://rest.compute.cudo.org/"
    }
  ],
  "paths": {
    "/v1/api-keys": {
      "get": {
        "description": "List all API keys created by the requesting user. This does not include the API key itself which is only returned when the API key is first created.",
        "operationId": "ListApiKeys",
        "parameters": [
          {
            "in": "query",
            "name": "pageNumber",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApiKeysResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List API keys",
        "tags": [
          "API keys"
        ]
      },
      "post": {
        "description": "Generates a new API key for the requesting user. The API key is returned in the response, and this is the only time it can be retrieved.",
        "operationId": "GenerateApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateApiKeyRequest"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Create an API key",
        "tags": [
          "API keys"
        ]
      }
    },
    "/v1/api-keys/{name}": {
      "delete": {
        "description": "Deletes an API key, revoking all access for requests that use the key.",
        "operationId": "DeleteApiKey",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Delete an API key",
        "tags": [
          "API keys"
        ]
      }
    },
    "/v1/billing-accounts": {
      "get": {
        "description": "Lists billing accounts that can be accessed by the current user.",
        "operationId": "ListBillingAccounts",
        "parameters": [
          {
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBillingAccountsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List billing accounts",
        "tags": [
          "Billing"
        ]
      },
      "post": {
        "description": "Creates a new billing account.",
        "operationId": "CreateBillingAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillingAccountRequest"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingAccount"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Create a billing account",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{billingAccountId}/spend/details": {
      "get": {
        "description": "Retrieves a detailed spend report for a billing account during a specified time period.",
        "operationId": "GetBillingAccountSpendDetails",
        "parameters": [
          {
            "in": "path",
            "name": "billingAccountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBillingAccountSpendDetailsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get billing account spend details",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}": {
      "delete": {
        "description": "Deletes a billing account. The billing account must have no linked projects or outstanding invoices.",
        "operationId": "DeleteBillingAccount",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingAccount"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Delete a billing account",
        "tags": [
          "Billing"
        ]
      },
      "get": {
        "description": "Retrieves a billing account.",
        "operationId": "GetBillingAccount",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingAccount"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get a billing account",
        "tags": [
          "Billing"
        ]
      },
      "patch": {
        "description": "Updates the details of a billing account. Only the display name, invoice name, email, tax ID, and billing address can be updated.",
        "operationId": "UpdateBillingAccount",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingAccountBody"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingAccount"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Update a billing account",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}:add-permission": {
      "post": {
        "description": "Grants a user permission to access a billing account.",
        "operationId": "AddBillingAccountPermission",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPermission"
              }
            }
          },
          "required": true,
          "x-originalParamName": "userPermission"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Add a billing account permission",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}:list-permissions": {
      "get": {
        "description": "Lists user permissions granted for a billing account.",
        "operationId": "GetBillingAccountPermissions",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBillingAccountPermissionsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List billing account permissions",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}:remove-permission": {
      "post": {
        "description": "Revokes a user's permission to access a billing account.",
        "operationId": "RemoveBillingAccountPermission",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPermission"
              }
            }
          },
          "required": true,
          "x-originalParamName": "userPermission"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Remove a billing account permission",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}:undelete": {
      "post": {
        "description": "Cancel the deletion of a billing account.",
        "operationId": "UndeleteBillingAccount",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingAccount"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Undelete a billing account",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/credit": {
      "post": {
        "description": "Adds credit to a billing account using a specified payment method.",
        "operationId": "CreateBillingAccountCreditPayment",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The decimal value, as a string.\n\nThe string representation consists of an optional sign, `+` (`U+002B`)\nor `-` (`U+002D`), followed by a sequence of zero or more decimal digits\n(\"the integer\"), optionally followed by a fraction, optionally followed\nby an exponent.\n\nThe fraction consists of a decimal point followed by zero or more decimal\ndigits. The string must contain at least one digit in either the integer\nor the fraction. The number formed by the sign, the integer and the\nfraction is referred to as the significand.\n\nThe exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`)\nfollowed by one or more decimal digits.\n\nServices **should** normalize decimal values before storing them by:\n\n  - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`).\n  - Replacing a zero-length integer value with `0` (`.5` -> `0.5`).\n  - Coercing the exponent character to lower-case (`2.5E8` -> `2.5e8`).\n  - Removing an explicitly-provided zero exponent (`2.5e0` -> `2.5`).\n\nServices **may** perform additional normalization based on its own needs\nand the internal decimal implementation selected, such as shifting the\ndecimal point and exponent value together (example: `2.5e-1` <-> `0.25`).\nAdditionally, services **may** preserve trailing zeroes in the fraction\nto indicate increased precision, but are not required to do so.\n\nNote that only the `.` character is supported to divide the integer\nand the fraction; `,` **should not** be supported regardless of locale.\nAdditionally, thousand separators **should not** be supported. If a\nservice does support them, values **must** be normalized.\n\nThe ENBF grammar is:\n\n    DecimalString =\n      [Sign] Significand [Exponent];\n\n    Sign = '+' | '-';\n\n    Significand =\n      Digits ['.'] [Digits] | [Digits] '.' Digits;\n\n    Exponent = ('e' | 'E') [Sign] Digits;\n\n    Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' };\n\nServices **should** clearly document the range of supported values, the\nmaximum supported precision (total number of digits), and, if applicable,\nthe scale (number of digits after the decimal point), as well as how it\nbehaves when receiving out-of-bounds values.\n\nServices **may** choose to accept values passed as input even when the\nvalue has a higher precision or scale than the service supports, and\n**should** round the value to fit the supported scale. Alternatively, the\nservice **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC)\nif precision would be lost.\n\nServices **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in\ngRPC) if the service receives a value outside of the supported range.",
            "in": "query",
            "name": "amount.value",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "paymentMethod",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "radarSessionId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBillingAccountCreditPaymentResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Add credit to a billing account",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/credit-balance-transactions": {
      "get": {
        "description": "Lists credit balance transactions for a billing account.",
        "operationId": "ListBillingAccountCreditBalanceTransactions",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "startingAfter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBillingAccountCreditBalanceTransactionsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List credit balance transactions",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/credit-checkout-session": {
      "post": {
        "description": "Creates a checkout session for adding credit to a billing account.",
        "operationId": "CreateBillingAccountCreditCheckoutSession",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The decimal value, as a string.\n\nThe string representation consists of an optional sign, `+` (`U+002B`)\nor `-` (`U+002D`), followed by a sequence of zero or more decimal digits\n(\"the integer\"), optionally followed by a fraction, optionally followed\nby an exponent.\n\nThe fraction consists of a decimal point followed by zero or more decimal\ndigits. The string must contain at least one digit in either the integer\nor the fraction. The number formed by the sign, the integer and the\nfraction is referred to as the significand.\n\nThe exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`)\nfollowed by one or more decimal digits.\n\nServices **should** normalize decimal values before storing them by:\n\n  - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`).\n  - Replacing a zero-length integer value with `0` (`.5` -> `0.5`).\n  - Coercing the exponent character to lower-case (`2.5E8` -> `2.5e8`).\n  - Removing an explicitly-provided zero exponent (`2.5e0` -> `2.5`).\n\nServices **may** perform additional normalization based on its own needs\nand the internal decimal implementation selected, such as shifting the\ndecimal point and exponent value together (example: `2.5e-1` <-> `0.25`).\nAdditionally, services **may** preserve trailing zeroes in the fraction\nto indicate increased precision, but are not required to do so.\n\nNote that only the `.` character is supported to divide the integer\nand the fraction; `,` **should not** be supported regardless of locale.\nAdditionally, thousand separators **should not** be supported. If a\nservice does support them, values **must** be normalized.\n\nThe ENBF grammar is:\n\n    DecimalString =\n      [Sign] Significand [Exponent];\n\n    Sign = '+' | '-';\n\n    Significand =\n      Digits ['.'] [Digits] | [Digits] '.' Digits;\n\n    Exponent = ('e' | 'E') [Sign] Digits;\n\n    Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' };\n\nServices **should** clearly document the range of supported values, the\nmaximum supported precision (total number of digits), and, if applicable,\nthe scale (number of digits after the decimal point), as well as how it\nbehaves when receiving out-of-bounds values.\n\nServices **may** choose to accept values passed as input even when the\nvalue has a higher precision or scale than the service supports, and\n**should** round the value to fit the supported scale. Alternatively, the\nservice **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC)\nif precision would be lost.\n\nServices **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in\ngRPC) if the service receives a value outside of the supported range.",
            "in": "query",
            "name": "amount.value",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "returnUrl",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSession"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Create a checkout session for credit payment",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/details": {
      "get": {
        "description": "Retrieves detailed information about a billing account.",
        "operationId": "GetBillingAccountDetails",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBillingAccountDetailsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get billing account details",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/payment-methods": {
      "get": {
        "description": "Retrieves the payment methods associated with a billing account.",
        "operationId": "GetBillingAccountPaymentMethods",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingAccountPaymentMethods"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get payment methods",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/payment-methods/{paymentMethodId}": {
      "delete": {
        "description": "Removes a payment method from a billing account.",
        "operationId": "RemoveBillingAccountPaymentMethod",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "paymentMethodId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveBillingAccountPaymentMethodResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Remove a payment method",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/payment-methods/{paymentMethodId}/set-default": {
      "post": {
        "description": "Sets a payment method as the default for a billing account.",
        "operationId": "SetBillingAccountDefaultPaymentMethod",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "paymentMethodId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetBillingAccountDefaultPaymentMethodResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Set default payment method",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/projects": {
      "get": {
        "description": "Lists projects that are billed to a billing account.",
        "operationId": "ListBillingAccountProjects",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBillingAccountProjectsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List billing account projects",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/setup-intent": {
      "get": {
        "description": "Retrieves a setup intent for adding a payment method to a billing account.",
        "operationId": "GetBillingAccountSetupIntent",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingAccountSetupIntent"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Add a payment method",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/{id}/transactions": {
      "get": {
        "description": "Lists transactions for a billing account.",
        "operationId": "ListBillingAccountTransactions",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "startingAfter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBillingAccountTransactionsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List billing account transactions",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/billing-accounts/invoices/outstanding": {
      "get": {
        "description": "Lists all outstanding invoices across billing accounts that the current user has access to.",
        "operationId": "ListOutstandingInvoices",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOutstandingInvoicesResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List outstanding invoices",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/invoices": {
      "get": {
        "description": "Lists invoices for a billing account.",
        "operationId": "ListInvoices",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "startingAfter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInvoicesResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List invoices",
        "tags": [
          "Billing"
        ]
      }
    },
    "/v1/clusters/data-centers/{dataCenterId}/machine-types/{machineTypeId}": {
      "get": {
        "description": "Gets the details of a cluster machine type.",
        "operationId": "GetClusterMachineType",
        "parameters": [
          {
            "in": "path",
            "name": "dataCenterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "machineTypeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Return custom prices for a specific project.",
            "in": "query",
            "name": "projectId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetClusterMachineTypeResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get a cluster machine type",
        "tags": [
          "Clusters"
        ]
      }
    },
    "/v1/clusters/machine-types": {
      "get": {
        "description": "Lists the types of cluster machines that can be provisioned.",
        "operationId": "ListClusterMachineTypes",
        "parameters": [
          {
            "in": "query",
            "name": "pageNumber",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Return custom prices for a specific project.",
            "in": "query",
            "name": "projectId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListClusterMachineTypesResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List cluster machine types",
        "tags": [
          "Clusters"
        ]
      }
    },
    "/v1/projects/{projectId}/cluster-machines/{id}": {
      "delete": {
        "description": "Removes a machine from a cluster. All data on the machine will be lost.",
        "operationId": "DeleteClusterMachine",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Delete a cluster machine",
        "tags": [
          "Clusters"
        ]
      },
      "patch": {
        "description": "Updates a machine in a cluster.",
        "operationId": "UpdateClusterMachine",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "architecture": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "cpuCores": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "cpuModel": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "cpuSpeedMhz": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "createBy": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "createTime": {
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "dataCenterId": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "diskSizeGib": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "disks": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "externalIpAddress": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "gpuModelId": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "gpus": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "internalIpAddress": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "machineTypeId": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "memoryGib": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "powerState": {
                    "$ref": "#/components/schemas/MachinePowerState"
                  },
                  "priceHr": {
                    "$ref": "#/components/schemas/Decimal"
                  },
                  "state": {
                    "$ref": "#/components/schemas/ClusterMachine.State"
                  },
                  "volumeIds": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "title": "Update cluster machine params",
                "type": "object"
              }
            }
          },
          "description": "Update cluster machine params",
          "required": true,
          "x-originalParamName": "clusterMachine"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterMachine"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Update a cluster machine",
        "tags": [
          "Clusters"
        ]
      }
    },
    "/v1/projects/{projectId}/cluster-machines/{id}:reboot": {
      "post": {
        "description": "Reboots a machine in a cluster.",
        "operationId": "RebootClusterMachine",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Reboot a cluster machine",
        "tags": [
          "Clusters"
        ]
      }
    },
    "/v1/projects/{projectId}/cluster-machines/{id}:rename": {
      "post": {
        "description": "Renames a machine in a cluster. This can be useful if you are assigning specific roles to machines in the cluster.",
        "operationId": "RenameClusterMachine",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "newId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Rename a cluster machine",
        "tags": [
          "Clusters"
        ]
      }
    },
    "/v1/projects/{projectId}/clusters": {
      "get": {
        "description": "Lists clusters within a project.",
        "operationId": "ListClusters",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageNumber",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListClustersResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List clusters",
        "tags": [
          "Clusters"
        ]
      },
      "post": {
        "description": "Creates a new cluster.",
        "operationId": "CreateCluster",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "architecture": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "commitmentEndTime": {
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "commitmentTerm": {
                    "$ref": "#/components/schemas/CommitmentTerm"
                  },
                  "cpuModel": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "cpuSpeedMhz": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "createBy": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "createTime": {
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "customSshKeys": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "dataCenterId": {
                    "type": "string"
                  },
                  "gpuModelId": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "ipoibConfig": {
                    "$ref": "#/components/schemas/ClusterIPOIBConfig"
                  },
                  "machineCount": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "machinePriceHr": {
                    "$ref": "#/components/schemas/Decimal"
                  },
                  "machineTypeId": {
                    "type": "string"
                  },
                  "machines": {
                    "items": {
                      "$ref": "#/components/schemas/ClusterMachine"
                    },
                    "readOnly": true,
                    "type": "array"
                  },
                  "networkType": {
                    "$ref": "#/components/schemas/NetworkType"
                  },
                  "sshKeySource": {
                    "$ref": "#/components/schemas/SshKeySource"
                  },
                  "startScript": {
                    "type": "string"
                  },
                  "state": {
                    "$ref": "#/components/schemas/Cluster.State"
                  },
                  "totalCpuCores": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "totalDiskSizeGib": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "totalGpus": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "totalMachinePriceHr": {
                    "$ref": "#/components/schemas/Decimal"
                  },
                  "totalMemoryGib": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "totalPriceHr": {
                    "$ref": "#/components/schemas/Decimal"
                  }
                },
                "required": [
                  "id",
                  "dataCenterId",
                  "machineTypeId",
                  "machineCount"
                ],
                "title": "Create cluster params",
                "type": "object"
              }
            }
          },
          "description": "Create cluster params",
          "required": true,
          "x-originalParamName": "cluster"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Create a cluster",
        "tags": [
          "Clusters"
        ]
      }
    },
    "/v1/projects/{projectId}/clusters/{id}": {
      "delete": {
        "description": "Deletes a cluster. All data on machines within the cluster will be lost.",
        "operationId": "DeleteCluster",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Delete a cluster",
        "tags": [
          "Clusters"
        ]
      },
      "get": {
        "description": "Gets the details of a cluster.",
        "operationId": "GetCluster",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get a cluster",
        "tags": [
          "Clusters"
        ]
      },
      "patch": {
        "description": "Updates a cluster.",
        "operationId": "UpdateCluster",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "architecture": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "commitmentEndTime": {
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "commitmentTerm": {
                    "$ref": "#/components/schemas/CommitmentTerm"
                  },
                  "cpuModel": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "cpuSpeedMhz": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "createBy": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "createTime": {
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "customSshKeys": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "dataCenterId": {
                    "type": "string"
                  },
                  "gpuModelId": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "ipoibConfig": {
                    "$ref": "#/components/schemas/ClusterIPOIBConfig"
                  },
                  "machineCount": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "machinePriceHr": {
                    "$ref": "#/components/schemas/Decimal"
                  },
                  "machineTypeId": {
                    "type": "string"
                  },
                  "machines": {
                    "items": {
                      "$ref": "#/components/schemas/ClusterMachine"
                    },
                    "readOnly": true,
                    "type": "array"
                  },
                  "networkType": {
                    "$ref": "#/components/schemas/NetworkType"
                  },
                  "sshKeySource": {
                    "$ref": "#/components/schemas/SshKeySource"
                  },
                  "startScript": {
                    "type": "string"
                  },
                  "state": {
                    "$ref": "#/components/schemas/Cluster.State"
                  },
                  "totalCpuCores": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "totalDiskSizeGib": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "totalGpus": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "totalMachinePriceHr": {
                    "$ref": "#/components/schemas/Decimal"
                  },
                  "totalMemoryGib": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "totalPriceHr": {
                    "$ref": "#/components/schemas/Decimal"
                  }
                },
                "required": [
                  "dataCenterId",
                  "machineTypeId",
                  "machineCount"
                ],
                "title": "Update cluster params",
                "type": "object"
              }
            }
          },
          "description": "Update cluster params",
          "required": true,
          "x-originalParamName": "cluster"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Update a cluster",
        "tags": [
          "Clusters"
        ]
      }
    },
    "/v1/projects/{projectId}/disks": {
      "get": {
        "description": "Lists virtual machine disks in a project.",
        "operationId": "ListDisks",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageNumber",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "dataCenterId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDisksResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List disks",
        "tags": [
          "Disks"
        ]
      },
      "post": {
        "description": "Creates a new virtual machine disk.",
        "operationId": "CreateStorageDisk",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "createTime": {
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "dataCenterId": {
                    "type": "string"
                  },
                  "diskState": {
                    "$ref": "#/components/schemas/DiskState"
                  },
                  "diskType": {
                    "$ref": "#/components/schemas/DiskType"
                  },
                  "id": {
                    "type": "string"
                  },
                  "privateImageId": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "publicImageId": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "sizeGib": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "vmId": {
                    "readOnly": true,
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "dataCenterId",
                  "sizeGib"
                ],
                "title": "Create disk params",
                "type": "object"
              }
            }
          },
          "description": "Create disk params",
          "required": true,
          "x-originalParamName": "disk"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Create a disk",
        "tags": [
          "Disks"
        ]
      }
    },
    "/v1/projects/{projectId}/disks/{id}": {
      "delete": {
        "description": "Deletes a virtual machine disk. The disk must be detached from any virtual machines before it can be deleted.",
        "operationId": "DeleteStorageDisk",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Delete a disk",
        "tags": [
          "Disks"
        ]
      },
      "get": {
        "description": "Retrieves the details of a virtual machine disk.",
        "operationId": "GetDisk",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDiskResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get a disk",
        "tags": [
          "Disks"
        ]
      }
    },
    "/v1/projects/{projectId}/vms/{id}/disks": {
      "patch": {
        "description": "Resizes a disk attached to a virtual machine. The new size must be larger than the current size.",
        "operationId": "ResizeVMDisk",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "diskId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sizeGib",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Resize a virtual machine disk",
        "tags": [
          "Disks"
        ]
      }
    },
    "/v1/projects/{projectId}/images": {
      "get": {
        "description": "Lists private virtual machine images in a project.",
        "operationId": "ListPrivateVMImages",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageNumber",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPrivateVMImagesResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List private virtual machine images",
        "tags": [
          "Images"
        ]
      },
      "post": {
        "description": "Creates a new private virtual machine image from an existing virtual machine's boot disk.",
        "operationId": "CreatePrivateVMImage",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "vmId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "description",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePrivateVMImageResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Create a private virtual machine image",
        "tags": [
          "Images"
        ]
      }
    },
    "/v1/projects/{projectId}/images/{id}": {
      "delete": {
        "description": "Deletes a private virtual machine image.",
        "operationId": "DeletePrivateVMImage",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Delete a private virtual machine image",
        "tags": [
          "Images"
        ]
      },
      "get": {
        "description": "Retrieves the details of a private virtual machine image.",
        "operationId": "GetPrivateVMImage",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPrivateVMImageResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get a private virtual machine image",
        "tags": [
          "Images"
        ]
      },
      "post": {
        "description": "Updates the description of a private virtual machine image.",
        "operationId": "UpdatePrivateVMImage",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "description",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Update a private virtual machine image",
        "tags": [
          "Images"
        ]
      }
    },
    "/v1/vms/public-images": {
      "get": {
        "description": "Lists all public images available for virtual machines.",
        "operationId": "ListPublicVMImages",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPublicVMImagesResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List public virtual machine images",
        "tags": [
          "Images"
        ]
      }
    },
    "/v1/machines-types": {
      "get": {
        "description": "Lists the types of bare-metal machines that can be provisioned.",
        "operationId": "ListMachineTypes",
        "parameters": [
          {
            "in": "query",
            "name": "pageNumber",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Return custom prices for a specific project.",
            "in": "query",
            "name": "projectId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMachineTypesResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List machine types",
        "tags": [
          "Machines"
        ]
      }
    },
    "/v1/machines/operating-systems": {
      "get": {
        "description": "Lists operating systems that can be deployed to bare-metal machines.",
        "operationId": "ListMachineOperatingSystems",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMachineOperatingSystemsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List machine operating systems",
        "tags": [
          "Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/machines": {
      "get": {
        "description": "Lists bare-metal machines within a project.",
        "operationId": "ListMachines",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "pageNumber",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMachinesResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "List machines",
        "tags": [
          "Machines"
        ]
      },
      "post": {
        "description": "Creates a new bare-metal machine.",
        "operationId": "CreateMachine",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "architecture": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "commitmentTerm": {
                    "$ref": "#/components/schemas/CommitmentTerm"
                  },
                  "cpuCores": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "cpuModel": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "cpuSpeedMhz": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "createBy": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "createTime": {
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "customSshKeys": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "dataCenterId": {
                    "type": "string"
                  },
                  "diskSizeGib": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "disks": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "externalIpAddresses": {
                    "items": {
                      "type": "string"
                    },
                    "readOnly": true,
                    "type": "array"
                  },
                  "gpuModelId": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "gpus": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "hostname": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "machineTypeId": {
                    "type": "string"
                  },
                  "memoryGib": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "os": {
                    "type": "string"
                  },
                  "powerState": {
                    "$ref": "#/components/schemas/MachinePowerState"
                  },
                  "priceHr": {
                    "$ref": "#/components/schemas/Decimal"
                  },
                  "sshKeySource": {
                    "$ref": "#/components/schemas/SshKeySource"
                  },
                  "startScript": {
                    "type": "string"
                  },
                  "state": {
                    "$ref": "#/components/schemas/Machine.State"
                  },
                  "userData": {
                    "description": "DEPRECATED: use `startScript` to run a script on boot, and `sshKeySource` or `customSshKeys` to set authorized ssh keys",
                    "title": "userData",
                    "type": "string",
                    "deprecated": true
                  }
                },
                "required": [
                  "dataCenterId",
                  "id",
                  "machineTypeId",
                  "os"
                ],
                "title": "Create machine params",
                "type": "object"
              }
            }
          },
          "description": "Create machine params",
          "required": true,
          "x-originalParamName": "machine"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Create a machine",
        "tags": [
          "Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/machines/{id}": {
      "delete": {
        "description": "Deletes a bare-metal machine. Machines that are still within a commitment term cannot be deleted.",
        "operationId": "DeleteMachine",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Delete a machine",
        "tags": [
          "Machines"
        ]
      },
      "get": {
        "description": "Gets the details of a bare-metal machine.",
        "operationId": "GetMachine",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Get a machine",
        "tags": [
          "Machines"
        ]
      },
      "patch": {
        "description": "Updates a bare-metal machine.",
        "operationId": "UpdateMachine",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "architecture": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "commitmentTerm": {
                    "$ref": "#/components/schemas/CommitmentTerm"
                  },
                  "cpuCores": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "cpuModel": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "cpuSpeedMhz": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "createBy": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "createTime": {
                    "format": "date-time",
                    "readOnly": true,
                    "type": "string"
                  },
                  "customSshKeys": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "dataCenterId": {
                    "type": "string"
                  },
                  "diskSizeGib": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "disks": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "externalIpAddresses": {
                    "items": {
                      "type": "string"
                    },
                    "readOnly": true,
                    "type": "array"
                  },
                  "gpuModelId": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "gpus": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "hostname": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "machineTypeId": {
                    "type": "string"
                  },
                  "memoryGib": {
                    "format": "int32",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "os": {
                    "type": "string"
                  },
                  "powerState": {
                    "$ref": "#/components/schemas/MachinePowerState"
                  },
                  "priceHr": {
                    "$ref": "#/components/schemas/Decimal"
                  },
                  "sshKeySource": {
                    "$ref": "#/components/schemas/SshKeySource"
                  },
                  "startScript": {
                    "type": "string"
                  },
                  "state": {
                    "$ref": "#/components/schemas/Machine.State"
                  },
                  "userData": {
                    "description": "DEPRECATED: use `startScript` to run a script on boot, and `sshKeySource` or `customSshKeys` to set authorized ssh keys",
                    "title": "userData",
                    "type": "string",
                    "deprecated": true
                  }
                },
                "required": [
                  "dataCenterId",
                  "machineTypeId",
                  "os"
                ],
                "title": "Update machine params",
                "type": "object"
              }
            }
          },
          "description": "Update machine params",
          "required": true,
          "x-originalParamName": "machine"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Update a machine",
        "tags": [
          "Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/machines/{id}/deploy": {
      "post": {
        "description": "Deploys an operating system onto a bare-metal machine. All data on the machine will be lost.",
        "operationId": "DeployMachineOS",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployMachineOSBody"
              }
            }
          },
          "required": true,
          "x-originalParamName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "summary": "Deploy an operating system onto a machine",
        "tags": [
          "Machines"
        ]
      }
    },
    "/v1/projects/{projectId}/networks": {
      "get": {
[...]
