{
  "openapi": "3.0.3",
  "info": {
    "title": "Firefish Zapier API",
    "description": "Firefish recruitment CRM, ATS and marketing platform API for Zapier integration. Supports trigger hooks and actions for candidate/contact management.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://blog.firefishsoftware.com/hubfs/Fish%20Tank%20(For%20Amy)/Firefish%20Zapier%20API.pdf"
  },
  "servers": [
    {
      "url": "https://api.firefishsoftware.com",
      "description": "Firefish API Server"
    }
  ],
  "paths": {
    "/authorization/token": {
      "post": {
        "operationId": "requestAccessToken",
        "summary": "Request an access token",
        "description": "Obtains an OAuth 2.0 access token using client credentials grant type.",
        "tags": [
          "Authorization"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid credentials or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1.0/zappier/triggers": {
      "post": {
        "operationId": "subscribeTrigger",
        "summary": "Subscribe to a trigger hook",
        "description": "Registers a webhook URL to receive notifications for a specific trigger type.",
        "tags": [
          "Triggers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeTriggerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trigger subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscribeTriggerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1.0/zappier/triggers/{id}": {
      "delete": {
        "operationId": "unsubscribeTrigger",
        "summary": "Unsubscribe from a trigger hook",
        "description": "Removes a previously registered webhook trigger subscription.",
        "tags": [
          "Triggers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The trigger subscription ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Trigger subscription removed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1.0/zappier/actions/unsubscribe_email": {
      "post": {
        "operationId": "unsubscribeEmail",
        "summary": "Unsubscribe an email address",
        "description": "Unsubscribes a candidate or contact by their email address.",
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnsubscribeEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email unsubscribed successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 bearer access token obtained via client_credentials grant"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "required": [
          "scope",
          "grant_type",
          "client_id",
          "client_secret"
        ],
        "properties": {
          "scope": {
            "type": "string",
            "description": "Space-separated list of scopes (e.g. zapierAPI)"
          },
          "grant_type": {
            "type": "string",
            "enum": [
              "client_credentials"
            ],
            "description": "Must be client_credentials"
          },
          "client_id": {
            "type": "string",
            "description": "Client ID from Firefish Integrations settings"
          },
          "client_secret": {
            "type": "string",
            "description": "Client Secret from Firefish Integrations settings"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The bearer access token"
          },
          "token_type": {
            "type": "string",
            "description": "Token type, always 'bearer'"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token lifetime in seconds (typically 600)"
          }
        }
      },
      "SubscribeTriggerRequest": {
        "type": "object",
        "required": [
          "hookUrl",
          "TriggerType"
        ],
        "properties": {
          "hookUrl": {
            "type": "string",
            "description": "The webhook URL to receive trigger notifications"
          },
          "TriggerType": {
            "type": "string",
            "description": "The type of trigger to subscribe to"
          }
        }
      },
      "SubscribeTriggerResponse": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "string",
            "format": "uuid",
            "description": "The subscription identifier"
          }
        }
      },
      "UnsubscribeEmailRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address to unsubscribe"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authorization",
      "description": "OAuth 2.0 token management"
    },
    {
      "name": "Triggers",
      "description": "Webhook trigger subscription management"
    },
    {
      "name": "Actions",
      "description": "Zapier action endpoints"
    }
  ]
}