{
  "openapi": "3.0.3",
  "info": {
    "title": "DHL eCommerce API",
    "version": "1.0.0",
    "description": "DHL eCommerce API for creating shipping labels, tracking shipments, and managing parcel delivery options in the Netherlands and Belgium.",
    "x-jentic-source-url": "https://api-gw.dhlparcel.nl/docs/guide"
  },
  "servers": [
    {
      "url": "https://api-gw.dhlparcel.nl",
      "description": "Production server"
    }
  ],
  "paths": {
    "/authenticate/api-key": {
      "post": {
        "operationId": "authenticateWithApiKey",
        "summary": "Authenticate with API key",
        "description": "Authenticate using user ID and API key to obtain a JWT bearer token.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "key"
                ],
                "properties": {
                  "userId": {
                    "type": "string",
                    "description": "User ID for authentication"
                  },
                  "key": {
                    "type": "string",
                    "description": "API key for authentication"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/labels": {
      "post": {
        "operationId": "createLabel",
        "summary": "Create a shipping label",
        "description": "Create a new shipping label for a parcel.",
        "tags": [
          "Labels"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLabelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Label created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid label data"
          },
          "401": {
            "description": "Unauthorized - invalid or expired token"
          }
        }
      },
      "get": {
        "operationId": "queryLabels",
        "summary": "Query existing labels",
        "description": "Retrieve labels using filter parameters such as tracker code.",
        "tags": [
          "Labels"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "trackerCodeFilter",
            "in": "query",
            "description": "Filter labels by tracker code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Labels retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LabelResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/track-trace": {
      "get": {
        "operationId": "trackTrace",
        "summary": "Track a shipment",
        "description": "Track a shipment using tracker code and postal code combination.",
        "tags": [
          "Track and Trace"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Tracker code combined with postal code, URL-encoded (format: trackerCode+postalCode)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking information retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackTraceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid key format"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Shipment not found"
          }
        }
      }
    },
    "/shipment-options": {
      "get": {
        "operationId": "getShipmentOptions",
        "summary": "Get available shipment options",
        "description": "Retrieve available shipment options and capabilities.",
        "tags": [
          "Shipment Options"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "fromCountry",
            "in": "query",
            "description": "ISO 3166-1 alpha-2 country code for origin",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toCountry",
            "in": "query",
            "description": "ISO 3166-1 alpha-2 country code for destination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment options retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentOption"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/parcel-shop-locations": {
      "get": {
        "operationId": "getParcelShopLocations",
        "summary": "Get parcel shop locations",
        "description": "Retrieve DHL parcel shop locations.",
        "tags": [
          "Parcel Shops"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "description": "ISO country code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "description": "Postal code to search near",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parcel shop locations retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ParcelShopLocation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from the authenticate endpoint"
      }
    },
    "schemas": {
      "AuthToken": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "JWT access token"
          },
          "accessTokenExpiration": {
            "type": "integer",
            "description": "Token expiration time in epoch milliseconds"
          },
          "refreshToken": {
            "type": "string",
            "description": "Refresh token for obtaining new access tokens"
          }
        }
      },
      "CreateLabelRequest": {
        "type": "object",
        "required": [
          "shipmentId",
          "receiver",
          "shipper",
          "pieces"
        ],
        "properties": {
          "shipmentId": {
            "type": "string",
            "description": "Unique shipment identifier"
          },
          "orderReference": {
            "type": "string",
            "description": "Merchant order reference"
          },
          "receiver": {
            "$ref": "#/components/schemas/Address"
          },
          "shipper": {
            "$ref": "#/components/schemas/Address"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShipmentOption"
            },
            "description": "Selected shipment options"
          },
          "pieces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Piece"
            },
            "description": "Pieces/parcels in the shipment"
          }
        }
      },
      "LabelResponse": {
        "type": "object",
        "properties": {
          "labelId": {
            "type": "string"
          },
          "trackerCode": {
            "type": "string",
            "description": "Tracking code for the shipment"
          },
          "routingCode": {
            "type": "string"
          },
          "labelType": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "name": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "companyName": {
                "type": "string"
              }
            }
          },
          "address": {
            "type": "object",
            "properties": {
              "countryCode": {
                "type": "string"
              },
              "postalCode": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "street": {
                "type": "string"
              },
              "number": {
                "type": "string"
              },
              "addition": {
                "type": "string"
              }
            }
          },
          "email": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          }
        }
      },
      "Piece": {
        "type": "object",
        "properties": {
          "parcelType": {
            "type": "string",
            "enum": [
              "SMALL",
              "MEDIUM",
              "LARGE",
              "PALLET"
            ],
            "description": "Type of parcel"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of pieces"
          },
          "weight": {
            "type": "number",
            "description": "Weight in grams"
          },
          "dimensions": {
            "type": "object",
            "properties": {
              "length": {
                "type": "number"
              },
              "width": {
                "type": "number"
              },
              "height": {
                "type": "number"
              }
            }
          }
        }
      },
      "TrackTraceResponse": {
        "type": "object",
        "properties": {
          "trackerCode": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Current shipment status"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dateTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "description": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ShipmentOption": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Option key identifier"
          },
          "description": {
            "type": "string"
          },
          "input": {
            "type": "string",
            "description": "Required input value for the option"
          }
        }
      },
      "ParcelShopLocation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "geoLocation": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          },
          "openingTimes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "day": {
                  "type": "string"
                },
                "openTime": {
                  "type": "string"
                },
                "closeTime": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}