{
  "openapi": "3.0.3",
  "info": {
    "title": "edoobox API",
    "version": "2.0.0",
    "description": "edoobox booking system API for managing courses, participants, and bookings",
    "x-jentic-source-url": "https://v2.docs.edoobox.com/docs/index.html",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app2.edoobox.com/v2",
      "description": "API V2 Server (APP2)"
    },
    {
      "url": "https://app1.edoobox.com/v2",
      "description": "API V2 Server (APP1)"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "summary": "Authenticate and get access token",
        "description": "Authenticate using API key and secret to receive an access token",
        "operationId": "authenticate",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "secret",
                  "expire"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "API public key"
                  },
                  "secret": {
                    "type": "string",
                    "description": "API secret key"
                  },
                  "expire": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Token expiration timestamp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "edid": {
                      "type": "string",
                      "description": "Account identifier"
                    },
                    "access_token": {
                      "type": "string",
                      "description": "Bearer token for API access"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/offer/list": {
      "get": {
        "summary": "List all offers",
        "description": "Retrieve a list of all available offers/courses",
        "operationId": "listOffers",
        "tags": [
          "Offers"
        ],
        "responses": {
          "200": {
            "description": "List of offers"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained from /auth endpoint. Required headers: Authorization (Bearer token), edid (account ID), grant-type (access_token)"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Offers"
    }
  ]
}
