{
  "openapi": "3.0.3",
  "info": {
    "title": "Grassrootz API",
    "description": "Grassrootz API for managing fundraising campaigns, events, donations, sales, and supporter engagement. Access account data, campaigns, events, donations, merchandise sales, reporting, and more.",
    "version": "2.0.0",
    "contact": {
      "name": "Grassrootz Support",
      "url": "https://grassrootz.com"
    }
  },
  "servers": [
    {
      "url": "https://api.grassrootz.com",
      "description": "Grassrootz Production API"
    }
  ],
  "security": [
    {
      "ClientKeyAuth": [],
      "ClientSecretAuth": []
    }
  ],
  "paths": {
    "/v2/account/{id}": {
      "get": {
        "summary": "Get account by ID",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account details"
          }
        }
      },
      "put": {
        "summary": "Update account",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account updated"
          }
        }
      }
    },
    "/v2/account/search": {
      "post": {
        "summary": "Search accounts",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "page": {
                    "type": "integer"
                  },
                  "pageSize": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          }
        }
      }
    },
    "/v2/campaign/{id}": {
      "get": {
        "summary": "Get campaign by ID",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details"
          }
        }
      }
    },
    "/v2/campaign/search": {
      "post": {
        "summary": "Search campaigns",
        "tags": [
          "Campaign"
        ],
        "responses": {
          "200": {
            "description": "Campaign search results"
          }
        }
      }
    },
    "/v2/donation/{id}": {
      "get": {
        "summary": "Get donation by ID",
        "tags": [
          "Donation"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Donation details"
          }
        }
      }
    },
    "/v2/donation/search": {
      "post": {
        "summary": "Search donations",
        "tags": [
          "Donation"
        ],
        "responses": {
          "200": {
            "description": "Donation search results"
          }
        }
      }
    },
    "/v2/event/{id}": {
      "get": {
        "summary": "Get event by ID",
        "tags": [
          "Event"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details"
          }
        }
      }
    },
    "/v2/event/search": {
      "post": {
        "summary": "Search events",
        "tags": [
          "Event"
        ],
        "responses": {
          "200": {
            "description": "Event search results"
          }
        }
      }
    },
    "/v2/fundraiser/{id}": {
      "get": {
        "summary": "Get fundraiser by ID",
        "tags": [
          "Fundraiser"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fundraiser details"
          }
        }
      }
    },
    "/v2/fundraiser/search": {
      "post": {
        "summary": "Search fundraisers",
        "tags": [
          "Fundraiser"
        ],
        "responses": {
          "200": {
            "description": "Fundraiser search results"
          }
        }
      }
    },
    "/v2/sale/{id}": {
      "get": {
        "summary": "Get sale by ID",
        "tags": [
          "Sale"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sale details"
          }
        }
      }
    },
    "/v2/sale/search": {
      "post": {
        "summary": "Search sales",
        "tags": [
          "Sale"
        ],
        "responses": {
          "200": {
            "description": "Sale search results"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ClientKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "ClientKey",
        "description": "Client API key for public operations"
      },
      "ClientSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "ClientSecret",
        "description": "Client secret for private/admin operations"
      }
    }
  }
}