{
  "openapi": "3.0.3",
  "info": {
    "title": "GeoScreenshot API",
    "version": "1.0.0",
    "description": "GeoScreenshot API allows capturing screenshots of websites from different geographic locations worldwide.",
    "x-jentic-source-url": "https://api.geoscreenshot.com"
  },
  "servers": [
    {
      "url": "https://api.geoscreenshot.com"
    }
  ],
  "paths": {
    "/me/": {
      "get": {
        "operationId": "getaccountinfo",
        "summary": "Get account information",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/screenshot": {
      "get": {
        "operationId": "takescreenshot",
        "summary": "Capture a screenshot of a URL from a specific location",
        "tags": [
          "Screenshot"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Valid URL with http:// or https://"
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 alpha-2 country code"
          },
          {
            "name": "metro_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Metro area identifier"
          },
          {
            "name": "node_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific node identifier"
          },
          {
            "name": "user_agent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Custom user agent string"
          },
          {
            "name": "full_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Capture full page screenshot"
          },
          {
            "name": "delay",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "5s"
            },
            "description": "Delay before capture"
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1280
            },
            "description": "Viewport width in pixels"
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1024
            },
            "description": "Viewport height in pixels"
          },
          {
            "name": "local_tz",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Use local timezone"
          },
          {
            "name": "local_html5_geolocation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Use local HTML5 geolocation"
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenshotResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/location": {
      "get": {
        "operationId": "getlocations",
        "summary": "Get available screenshot locations",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "metro_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by metro area ID"
          },
          {
            "name": "node_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by node ID"
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by country code"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by city name (URL-encoded)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of available locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountInfo": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number",
            "description": "Account balance"
          },
          "email": {
            "type": "string",
            "description": "Account email"
          }
        }
      },
      "ScreenshotResult": {
        "type": "object",
        "properties": {
          "png_url": {
            "type": "string",
            "description": "URL to the PNG screenshot"
          },
          "html_url": {
            "type": "string",
            "description": "URL to the HTML capture"
          },
          "har_url": {
            "type": "string",
            "description": "URL to the HAR file"
          },
          "title": {
            "type": "string",
            "description": "Page title"
          },
          "ip": {
            "type": "string",
            "description": "IP address used for capture"
          },
          "cookies": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Cookies set during capture"
          },
          "metrics": {
            "type": "object",
            "description": "Performance metrics"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Errors encountered during capture"
          },
          "hashes": {
            "type": "object",
            "description": "Content hashes"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "metro_id": {
            "type": "string",
            "description": "Metro area identifier"
          },
          "node_id": {
            "type": "string",
            "description": "Node identifier"
          },
          "city": {
            "type": "string",
            "description": "City name"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          },
          "country_code": {
            "type": "string",
            "description": "ISO country code"
          },
          "latitude": {
            "type": "number",
            "description": "Latitude coordinate"
          },
          "longitude": {
            "type": "number",
            "description": "Longitude coordinate"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key for authentication"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Operations related to Account"
    },
    {
      "name": "Locations",
      "description": "Operations related to Locations"
    },
    {
      "name": "Screenshot",
      "description": "Operations related to Screenshot"
    }
  ]
}