{
  "openapi": "3.0.3",
  "info": {
    "title": "HackMD API",
    "description": "The HackMD API allows you to manage notes, teams, and user information on HackMD programmatically.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://hackmd.io/@hackmd-api/developer-portal"
  },
  "servers": [
    {
      "url": "https://api.hackmd.io/v1"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get authenticated user information",
        "description": "Retrieve the profile information of the currently authenticated user.",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "User information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/notes": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "Get list of notes",
        "description": "Retrieve a list of notes owned by the authenticated user.",
        "operationId": "getNotes",
        "responses": {
          "200": {
            "description": "List of notes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteSummary"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Notes"
        ],
        "summary": "Create a new note",
        "description": "Create a new note for the authenticated user.",
        "operationId": "createNote",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/notes/{noteId}": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "Get a note",
        "description": "Retrieve a single note by its ID.",
        "operationId": "getNote",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "description": "The ID of the note to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Note retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Note not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Notes"
        ],
        "summary": "Update a note",
        "description": "Update the content or permissions of an existing note.",
        "operationId": "updateNote",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "description": "The ID of the note to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNoteRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Note update accepted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Note not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Notes"
        ],
        "summary": "Delete a note",
        "description": "Delete a note by its ID.",
        "operationId": "deleteNote",
        "parameters": [
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "description": "The ID of the note to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Note deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Note not found"
          }
        }
      }
    },
    "/history": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get read history",
        "description": "Retrieve the reading history of the authenticated user.",
        "operationId": "getHistory",
        "responses": {
          "200": {
            "description": "Read history retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Note"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get list of teams",
        "description": "Retrieve a list of teams to which the authenticated user has permission.",
        "operationId": "getTeams",
        "responses": {
          "200": {
            "description": "List of teams retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/teams/{teamPath}/notes": {
      "get": {
        "tags": [
          "Team Notes"
        ],
        "summary": "Get list of team notes",
        "description": "Retrieve a list of notes within a team workspace.",
        "operationId": "getTeamNotes",
        "parameters": [
          {
            "name": "teamPath",
            "in": "path",
            "required": true,
            "description": "The path identifier of the team",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of team notes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteSummary"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Team not found"
          }
        }
      },
      "post": {
        "tags": [
          "Team Notes"
        ],
        "summary": "Create a note in a team workspace",
        "description": "Create a new note within a team workspace.",
        "operationId": "createTeamNote",
        "parameters": [
          {
            "name": "teamPath",
            "in": "path",
            "required": true,
            "description": "The path identifier of the team",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team note created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Note"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Team not found"
          }
        }
      }
    },
    "/teams/{teamPath}/notes/{noteId}": {
      "patch": {
        "tags": [
          "Team Notes"
        ],
        "summary": "Update a team note",
        "description": "Update the content or permissions of a note within a team workspace.",
        "operationId": "updateTeamNote",
        "parameters": [
          {
            "name": "teamPath",
            "in": "path",
            "required": true,
            "description": "The path identifier of the team",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "description": "The ID of the note to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNoteRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Team note update accepted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Team or note not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Team Notes"
        ],
        "summary": "Delete a team note",
        "description": "Delete a note from a team workspace.",
        "operationId": "deleteTeamNote",
        "parameters": [
          {
            "name": "teamPath",
            "in": "path",
            "required": true,
            "description": "The path identifier of the team",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "description": "The ID of the note to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Team note deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Team or note not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Create a token from your HackMD settings page."
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique user identifier"
          },
          "name": {
            "type": "string",
            "description": "Display name of the user"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Email address of the user"
          },
          "userPath": {
            "type": "string",
            "description": "URL path identifier for the user"
          },
          "photo": {
            "type": "string",
            "format": "uri",
            "description": "URL of the user's profile photo"
          },
          "teams": {
            "type": "array",
            "description": "List of teams the user belongs to",
            "items": {
              "$ref": "#/components/schemas/Team"
            }
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique team identifier"
          },
          "ownerId": {
            "type": "string",
            "format": "uuid",
            "description": "User ID of the team owner"
          },
          "path": {
            "type": "string",
            "description": "URL path identifier for the team"
          },
          "name": {
            "type": "string",
            "description": "Display name of the team"
          },
          "logo": {
            "type": "string",
            "description": "Team logo URL or data URI"
          },
          "description": {
            "type": "string",
            "description": "Team description"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ],
            "description": "Team visibility setting"
          },
          "createdAt": {
            "type": "number",
            "description": "Unix timestamp of team creation"
          }
        }
      },
      "NoteSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique note identifier"
          },
          "title": {
            "type": "string",
            "description": "Title of the note"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags associated with the note"
          },
          "createdAt": {
            "type": "number",
            "description": "Unix timestamp of note creation"
          },
          "publishType": {
            "type": "string",
            "description": "Type of publication (e.g., view)"
          },
          "publishedAt": {
            "type": "number",
            "nullable": true,
            "description": "Unix timestamp of when the note was published"
          },
          "permalink": {
            "type": "string",
            "nullable": true,
            "description": "Permanent link to the note"
          },
          "shortId": {
            "type": "string",
            "description": "Short identifier for the note"
          },
          "lastChangedAt": {
            "type": "number",
            "description": "Unix timestamp of last change"
          },
          "lastChangeUser": {
            "$ref": "#/components/schemas/LastChangeUser"
          },
          "userPath": {
            "type": "string",
            "description": "Path of the note owner"
          },
          "teamPath": {
            "type": "string",
            "nullable": true,
            "description": "Path of the team if the note belongs to a team"
          },
          "readPermission": {
            "type": "string",
            "enum": [
              "owner",
              "signed_in",
              "guest"
            ],
            "description": "Read permission level"
          },
          "writePermission": {
            "type": "string",
            "enum": [
              "owner",
              "signed_in",
              "guest"
            ],
            "description": "Write permission level"
          },
          "publishLink": {
            "type": "string",
            "description": "Public link to the published note"
          }
        }
      },
      "Note": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NoteSummary"
          },
          {
            "type": "object",
            "properties": {
              "content": {
                "type": "string",
                "description": "Markdown content of the note"
              }
            }
          }
        ]
      },
      "LastChangeUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the user who last changed the note"
          },
          "photo": {
            "type": "string",
            "description": "Photo URL of the user"
          },
          "biography": {
            "type": "string",
            "nullable": true,
            "description": "Biography of the user"
          },
          "userPath": {
            "type": "string",
            "description": "Path identifier of the user"
          }
        }
      },
      "CreateNoteRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the note"
          },
          "content": {
            "type": "string",
            "description": "Markdown content of the note"
          },
          "readPermission": {
            "type": "string",
            "enum": [
              "owner",
              "signed_in",
              "guest"
            ],
            "description": "Read permission level"
          },
          "writePermission": {
            "type": "string",
            "enum": [
              "owner",
              "signed_in",
              "guest"
            ],
            "description": "Write permission level. Must be stricter than or equal to readPermission."
          },
          "commentPermission": {
            "type": "string",
            "enum": [
              "disabled",
              "forbidden",
              "owners",
              "signed_in_users",
              "everyone"
            ],
            "description": "Comment permission level"
          }
        }
      },
      "UpdateNoteRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Updated markdown content of the note"
          },
          "readPermission": {
            "type": "string",
            "enum": [
              "owner",
              "signed_in",
              "guest"
            ],
            "description": "Updated read permission level"
          },
          "writePermission": {
            "type": "string",
            "enum": [
              "owner",
              "signed_in",
              "guest"
            ],
            "description": "Updated write permission level"
          },
          "permalink": {
            "type": "string",
            "description": "Updated permanent link for the note"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "User",
      "description": "Operations related to the authenticated user"
    },
    {
      "name": "Notes",
      "description": "Operations for managing user notes"
    },
    {
      "name": "Teams",
      "description": "Operations for managing teams"
    },
    {
      "name": "Team Notes",
      "description": "Operations for managing notes within a team workspace"
    },
    {
      "name": "History",
      "description": "Operations for reading history"
    }
  ]
}