{
  "openapi": "3.0.3",
  "info": {
    "title": "Refiner API",
    "version": "1.0.0",
    "description": "The Refiner API gives you access to all survey data that you collected with Refiner. Our API adheres to REST principles and uses the JSON format.\n\n## Authentication\n\nAPI requests require authentication using API tokens obtained from your Refiner account. Use one of three methods:\n\n1. **Bearer Token** (Recommended): `Authorization: Bearer YOUR_API_KEY`  \n2. **Request Parameter**: `api_key=YOUR_API_KEY`  \n3. **HTTP Basic Auth**: Username as API key, empty password\n\n## Rate Limits\n\n- 4,000 requests/min per API key  \n- 80 requests/min per user ID",
    "contact": {
      "url": "https://refiner.io/docs/api/"
    }
  },
  "servers": [
    {
      "url": "https://api.refiner.io/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/identify-user": {
      "post": {
        "summary": "Identify User",
        "operationId": "identifyUser",
        "tags": [
          "User Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "User ID (required if email not provided)"
                  },
                  "email": {
                    "type": "string",
                    "description": "User email (required if id not provided)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "contact_uuid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Identify User"
      }
    },
    "/track-event": {
      "post": {
        "summary": "Track Event",
        "operationId": "trackEvent",
        "tags": [
          "User Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "event": {
                    "type": "string",
                    "description": "Event name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Track Event"
      }
    },
    "/responses": {
      "get": {
        "summary": "Get Responses",
        "operationId": "getResponses",
        "tags": [
          "Responses"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          },
          {
            "name": "form_uuid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "completed",
                "partials",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get Responses"
      },
      "post": {
        "summary": "Store Response",
        "operationId": "storeResponse",
        "tags": [
          "Responses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "form_uuid"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "form_uuid": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "uuid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Store Response"
      }
    },
    "/contacts": {
      "get": {
        "summary": "Get Contacts",
        "operationId": "getContacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get Contacts"
      }
    },
    "/contact": {
      "get": {
        "summary": "Get Single Contact",
        "operationId": "getContact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get Single Contact"
      },
      "delete": {
        "summary": "Delete Contact",
        "operationId": "deleteContact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete Contact"
      }
    },
    "/forms": {
      "get": {
        "summary": "Get Forms",
        "operationId": "getForms",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "list",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "published",
                "drafts",
                "archived",
                "all_with_archived"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get Forms"
      },
      "delete": {
        "summary": "Delete Form",
        "operationId": "deleteForm",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "form_uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete Form"
      }
    },
    "/segments": {
      "get": {
        "summary": "Get Segments",
        "operationId": "getSegments",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get Segments"
      }
    },
    "/account": {
      "get": {
        "summary": "Get Account Info",
        "operationId": "getAccount",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get Account Info"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "User Tracking",
      "description": "User identification and event tracking"
    },
    {
      "name": "Responses",
      "description": "Survey response management"
    },
    {
      "name": "Contacts",
      "description": "Contact management"
    },
    {
      "name": "Forms",
      "description": "Form/Survey management"
    },
    {
      "name": "Segments",
      "description": "Segment management"
    },
    {
      "name": "Account",
      "description": "Account information"
    }
  ]
}
