{
  "openapi": "3.0.3",
  "info": {
    "title": "Kustomer API",
    "version": "1.0.0",
    "description": "Kustomer customer experience platform API for managing customers, conversations, messages, companies, and workflows. REST-based API for CRM and customer service operations.",
    "x-jentic-source-url": "https://developer.kustomer.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.kustomerapp.com/v1",
      "description": "Kustomer API Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/customers": {
      "get": {
        "summary": "List Customers",
        "operationId": "listCustomers",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List Customers"
      },
      "post": {
        "summary": "Create Customer",
        "operationId": "createCustomer",
        "tags": [
          "Customers"
        ],
        "responses": {
          "201": {
            "description": "Customer created"
          }
        },
        "description": "Create Customer"
      }
    },
    "/customers/{id}": {
      "get": {
        "summary": "Get Customer",
        "operationId": "getCustomer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "Get Customer"
      },
      "put": {
        "summary": "Update Customer",
        "operationId": "updateCustomer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer updated"
          }
        },
        "description": "Update Customer"
      },
      "delete": {
        "summary": "Delete Customer",
        "operationId": "deleteCustomer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted"
          }
        },
        "description": "Delete Customer"
      }
    },
    "/conversations": {
      "get": {
        "summary": "List Conversations",
        "operationId": "listConversations",
        "tags": [
          "Conversations"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List Conversations"
      },
      "post": {
        "summary": "Create Conversation",
        "operationId": "createConversation",
        "tags": [
          "Conversations"
        ],
        "responses": {
          "201": {
            "description": "Conversation created"
          }
        },
        "description": "Create Conversation"
      }
    },
    "/conversations/{id}": {
      "get": {
        "summary": "Get Conversation",
        "operationId": "getConversation",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "Get Conversation"
      },
      "put": {
        "summary": "Update Conversation",
        "operationId": "updateConversation",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation updated"
          }
        },
        "description": "Update Conversation"
      }
    },
    "/messages": {
      "get": {
        "summary": "List Messages",
        "operationId": "listMessages",
        "tags": [
          "Messages"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List Messages"
      },
      "post": {
        "summary": "Create Message",
        "operationId": "createMessage",
        "tags": [
          "Messages"
        ],
        "responses": {
          "201": {
            "description": "Message created"
          }
        },
        "description": "Create Message"
      }
    },
    "/messages/{id}": {
      "get": {
        "summary": "Get Message",
        "operationId": "getMessage",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "Get Message"
      }
    },
    "/companies": {
      "get": {
        "summary": "List Companies",
        "operationId": "listCompanies",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List Companies"
      },
      "post": {
        "summary": "Create Company",
        "operationId": "createCompany",
        "tags": [
          "Companies"
        ],
        "responses": {
          "201": {
            "description": "Company created"
          }
        },
        "description": "Create Company"
      }
    },
    "/notes": {
      "get": {
        "summary": "List Notes",
        "operationId": "listNotes",
        "tags": [
          "Notes"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List Notes"
      },
      "post": {
        "summary": "Create Note",
        "operationId": "createNote",
        "tags": [
          "Notes"
        ],
        "responses": {
          "201": {
            "description": "Note created"
          }
        },
        "description": "Create Note"
      }
    },
    "/brands": {
      "get": {
        "summary": "List Brands",
        "operationId": "listBrands",
        "tags": [
          "Configuration"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List Brands"
      },
      "post": {
        "summary": "Create Brand",
        "operationId": "createBrand",
        "tags": [
          "Configuration"
        ],
        "responses": {
          "201": {
            "description": "Brand created"
          }
        },
        "description": "Create Brand"
      }
    },
    "/audit-logs": {
      "get": {
        "summary": "List Audit Logs",
        "operationId": "listAuditLogs",
        "tags": [
          "Audit"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List Audit Logs"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Customers"
    },
    {
      "name": "Conversations"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Notes"
    },
    {
      "name": "Configuration"
    },
    {
      "name": "Audit"
    }
  ]
}
