{
  "openapi": "3.0.3",
  "info": {
    "title": "Word Cloud API",
    "description": "Generate word clouds from text with customizable dimensions, color palettes, and stop word filtering for multiple languages. The API is hosted on RapidAPI.",
    "version": "1.0.0",
    "contact": {
      "name": "Textvis",
      "url": "https://wordcloudapi.com"
    }
  },
  "servers": [
    {
      "url": "https://word-cloud.p.rapidapi.com",
      "description": "RapidAPI Production Server"
    }
  ],
  "security": [
    {
      "RapidApiKey": [],
      "RapidApiHost": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "generateWordCloud",
        "summary": "Generate a word cloud",
        "description": "Generate a word cloud image from the provided text. Supports customization of dimensions, colors, fonts, orientation, and stop word filtering.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WordCloudRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Word cloud image generated successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "default"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "RapidApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-RapidAPI-Key",
        "description": "RapidAPI key for authentication. Obtain from rapidapi.com."
      },
      "RapidApiHost": {
        "type": "apiKey",
        "in": "header",
        "name": "X-RapidAPI-Host",
        "description": "RapidAPI host header. Set to word-cloud.p.rapidapi.com."
      }
    },
    "schemas": {
      "WordCloudRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "The input text from which to generate the word cloud"
          },
          "width": {
            "type": "integer",
            "description": "Width of the output image in pixels",
            "default": 800
          },
          "height": {
            "type": "integer",
            "description": "Height of the output image in pixels",
            "default": 600
          },
          "format": {
            "type": "string",
            "enum": [
              "png",
              "svg"
            ],
            "default": "png",
            "description": "Output image format"
          },
          "colors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of hex color values for the word cloud color palette"
          },
          "background_color": {
            "type": "string",
            "description": "Background color in hex format",
            "default": "FFFFFF"
          },
          "font": {
            "type": "string",
            "description": "Font family name to use for rendering"
          },
          "scale": {
            "type": "string",
            "enum": [
              "linear",
              "sqrt",
              "log"
            ],
            "default": "linear",
            "description": "Scaling function for word sizes"
          },
          "max_words": {
            "type": "integer",
            "description": "Maximum number of words to include",
            "default": 200
          },
          "min_font_size": {
            "type": "integer",
            "description": "Minimum font size in pixels",
            "default": 10
          },
          "max_font_size": {
            "type": "integer",
            "description": "Maximum font size in pixels",
            "default": 100
          },
          "orientation": {
            "type": "string",
            "enum": [
              "horizontal",
              "vertical",
              "random"
            ],
            "default": "random",
            "description": "Word orientation in the cloud"
          },
          "language": {
            "type": "string",
            "description": "Language code for stop word filtering (e.g., en, de, fr, es)"
          },
          "remove_stopwords": {
            "type": "boolean",
            "default": true,
            "description": "Whether to remove common stop words"
          },
          "use_wordlist": {
            "type": "boolean",
            "default": false,
            "description": "If true, treat input as a pre-processed word frequency list"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "default"
    }
  ]
}
