{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "visanet@gmail.com",
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe"
    },
    "description": "Api encargada de la administracion de las bovedas de tokenizacion",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://www.visanet.com.pe",
    "title": "API Visanet Tokenization",
    "version": "v2",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.tokenization/v2/swagger.json"
  },
  "servers": [
    {
      "url": "https://apitestenv.vnforapps.com/api.tokenization/v2"
    }
  ],
  "paths": {
    "/card/management/remove/{merchantId}/{queryType}/{block}/{attribute}": {
      "post": {
        "parameters": [
          {
            "description": "Identificador del merchant",
            "in": "path",
            "name": "merchantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tipo de consulta hash/token",
            "in": "path",
            "name": "queryType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Bloque de almacenamiento",
            "in": "path",
            "name": "block",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identificador del item",
            "in": "path",
            "name": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Tokenization"
        ],
        "description": "RESTful API to remove a token.",
        "operationId": "remove",
        "summary": "Remove"
      }
    },
    "/card/management/retrieve/{merchantId}/{block}": {
      "get": {
        "parameters": [
          {
            "description": "Identificador del merchant",
            "in": "path",
            "name": "merchantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Bloque de almacenamiento",
            "in": "path",
            "name": "block",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Tokenization"
        ],
        "description": "RESTful API to retrieve a list of tokens.",
        "operationId": "retrieveList",
        "summary": "RetrieveList"
      }
    },
    "/card/management/retrieve/{merchantId}/{queryType}/{block}/{attribute}": {
      "get": {
        "parameters": [
          {
            "description": "Identificador del comercio",
            "in": "path",
            "name": "merchantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tipo de consulta hash/token",
            "in": "path",
            "name": "queryType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Bloque de almacenamiento",
            "in": "path",
            "name": "block",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identificador del item",
            "in": "path",
            "name": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Tokenization"
        ],
        "description": "RESTful API to retrieve one token.",
        "operationId": "retrieve",
        "summary": "Retrieve"
      }
    },
    "/card/management/store": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Tokenization"
        ],
        "description": "RESTful API to store a card.",
        "operationId": "store",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardTokenRequest"
              }
            }
          },
          "description": "Tokenize card request",
          "required": true
        },
        "summary": "Store"
      }
    },
    "/card/management/store/list": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreListResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Tokenization"
        ],
        "description": "RESTful API to store multiple card tokens.",
        "operationId": "storeList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardListTokenRequest"
              }
            }
          },
          "description": "List of cards to tokenize",
          "required": true
        },
        "summary": "StoreList"
      }
    },
    "/tokenize/remove/{vault}/{queryType}/{block}/{attribute}": {
      "post": {
        "parameters": [
          {
            "description": "Identificador de la boveda",
            "in": "path",
            "name": "vault",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tipo de consulta hash/token",
            "in": "path",
            "name": "queryType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Bloque de almacenamiento",
            "in": "path",
            "name": "block",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identificador del item",
            "in": "path",
            "name": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Tokenization"
        ],
        "description": "RESTful API to remove tokens.",
        "operationId": "removeByAttribute",
        "summary": "Remove"
      }
    },
    "/tokenize/retrieve/{vault}/{block}": {
      "get": {
        "parameters": [
          {
            "description": "Identificador de la boveda",
            "in": "path",
            "name": "vault",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Bloque de almacenamiento",
            "in": "path",
            "name": "block",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Tokenization"
        ],
        "description": "RESTful API to retrieve list of tokens.",
        "operationId": "retrieveTokenList",
        "summary": "RetrieveList"
      }
    },
    "/tokenize/retrieve/{vault}/{queryType}/{block}/{attribute}": {
      "get": {
        "parameters": [
          {
            "description": "Identificador de la boveda",
            "in": "path",
            "name": "vault",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tipo de consulta hash/token",
            "in": "path",
            "name": "queryType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Bloque de almacenamiento",
            "in": "path",
            "name": "block",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Identificador del item",
            "in": "path",
            "name": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Tokenization"
        ],
        "description": "RESTful API to retrieve one token.",
        "operationId": "retrieveToken",
        "summary": "Retrieve"
      }
    },
    "/tokenize/store": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Tokenization"
        ],
        "description": "RESTful API to store tokens.",
        "operationId": "storeToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenizationRequest"
              }
            }
          },
          "description": "Tokenize item request",
          "required": true
        },
        "summary": "Store"
      }
    },
    "/tokenize/store/list": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreListResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Tokenization"
        ],
        "description": "RESTful API to store multiple tokens.",
        "operationId": "storeTokenList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenizationListRequest"
              }
            }
          },
          "description": "List of items to tokenize",
          "required": true
        },
        "summary": "Store"
      }
    }
  },
  "components": {
    "schemas": {
      "Card": {
        "description": "Card information",
        "properties": {
          "cardNumber": {
            "description": "Card account number",
            "type": "string"
          },
          "expirationMonth": {
            "description": "Expiration month",
            "example": "09",
            "type": "string"
          },
          "expirationYear": {
            "description": "Expiration year",
            "example": "18",
            "type": "string"
          },
          "expirationYearMonth": {
            "description": "Expiration year month",
            "example": "1809",
            "readOnly": true,
            "type": "string"
          },
          "firstName": {
            "description": "First card holder name",
            "example": "Luis",
            "type": "string"
          },
          "lastName": {
            "description": "Last card holder name",
            "example": "Perez",
            "type": "string"
          }
        },
        "required": [
          "cardNumber",
          "expirationMonth",
          "expirationYear"
        ],
        "type": "object"
      },
      "CardListTokenRequest": {
        "description": "Store multiple tokens request",
        "properties": {
          "channel": {
            "description": "Channel which request the token",
            "enum": [
              "mobile",
              "web",
              "mpos",
              "host",
              "pos",
              "kiosk",
              "callcenter",
              "recurrent"
            ],
            "example": "web",
            "type": "string"
          },
          "merchantId": {
            "description": "Merchant identifier",
            "example": "341198210",
            "type": "string"
          },
          "payloads": {
            "description": "Payload information to tokenize",
            "items": {
              "$ref": "#/components/schemas/CardRow"
            },
            "type": "array"
          }
        },
        "required": [
          "channel",
          "merchantId",
          "payloads"
        ],
        "type": "object"
      },
      "CardRow": {
        "description": "Request para tokenizar multiple cards",
        "properties": {
          "block": {
            "description": "Grouping key inside the vault",
            "example": "email/phone or an unique identifier",
            "type": "string"
          },
          "card": {
            "$ref": "#/components/schemas/Card",
            "description": "Card information to tokenize"
          },
          "id": {
            "description": "Row identifier inside request",
            "type": "string"
          },
          "update": {
            "description": "Flag que indica si el request actualizara la boveda en caso de existir",
            "example": true,
            "type": "boolean"
          }
        },
        "required": [
          "block",
          "card",
          "id"
        ],
        "type": "object"
      },
      "CardTokenRequest": {
        "description": "Card token request",
        "properties": {
          "block": {
            "description": "Grouping key inside the vault",
            "example": "email/phone or an unique identifier",
            "type": "string"
          },
          "card": {
            "$ref": "#/components/schemas/Card",
            "description": "Card information to tokenize"
          },
          "channel": {
            "description": "Channel which request the token",
            "enum": [
              "mobile",
              "web",
              "mpos",
              "host",
              "pos",
              "kiosk",
              "callcenter",
              "recurrent",
              "pasarela"
            ],
            "example": "web",
            "type": "string"
          },
          "merchantId": {
            "description": "Merchant identifier",
            "example": "341198210",
            "type": "string"
          },
          "update": {
            "description": "Flag que indica si el request actualizara la boveda en caso de existir",
            "example": true,
            "type": "boolean"
          }
        },
        "required": [
          "block",
          "card",
          "channel",
          "merchantId"
        ],
        "type": "object"
      },
      "Payload": {
        "description": "Request generico para tokenizar items",
        "properties": {
          "expireOn": {
            "description": "Fecha en la que se espera expire el token, puede o no ser aceptada",
            "enum": [
              "yyMMddHHmmss"
            ],
            "example": "180927211807",
            "type": "string"
          },
          "key": {
            "description": "Llave que representara el hash de tokenizacion",
            "type": "string"
          },
          "update": {
            "description": "Flag que indica si el request actualizara la boveda en caso de existir",
            "example": true,
            "type": "boolean"
          },
          "value": {
            "description": "Informacion a tokenizar",
            "type": "string"
          }
        },
        "required": [
          "key",
          "value"
        ],
        "type": "object"
      },
      "PayloadRow": {
        "description": "Request generico para tokenizar multiple items",
        "properties": {
          "block": {
            "description": "Identificador del bloque dentro de la boveda",
            "type": "string"
          },
          "expireOn": {
            "description": "Fecha en la que se espera expire el token, puede o no ser aceptada",
            "enum": [
              "yyMMddHHmmss"
            ],
            "example": "180927211807",
            "type": "string"
          },
          "id": {
            "description": "Identificador de la fila dentro del request",
            "type": "string"
          },
          "key": {
            "description": "Llave que representara el hash de tokenizacion",
            "type": "string"
          },
          "update": {
            "description": "Flag que indica si el request actualizara la boveda en caso de existir",
            "example": true,
            "type": "boolean"
          },
          "value": {
            "description": "Informacion a tokenizar",
            "type": "string"
          }
        },
        "required": [
          "block",
          "id",
          "key",
          "value"
        ],
        "type": "object"
      },
      "RetrieveResponse": {
        "description": "Respuesta de la boveda al consultar su contenido",
        "properties": {
          "responseCode": {
            "description": "Codigo de respuesta del sistema de tokenizacion",
            "format": "int32",
            "type": "integer"
          },
          "responseMessage": {
            "description": "Mensaje de respuesta del sistema de tokenizacion",
            "type": "string"
          },
          "result": {
            "description": "Resultado de la consulta",
            "type": "string"
          }
        },
        "required": [
          "responseCode",
          "responseMessage",
          "result"
        ],
        "type": "object"
      },
      "StoreListResponse": {
        "description": "Respuesta de la boveda a solicitud de almacenamiento",
        "properties": {
          "responseCode": {
            "description": "Codigo de respuesta del sistema de tokenizacion",
            "format": "int32",
            "type": "integer"
          },
          "responseMessage": {
            "description": "Mensaje de respuesta del sistema de tokenizacion",
            "type": "string"
          },
          "result": {
            "items": {
              "$ref": "#/components/schemas/TokenizerRowResponse"
            },
            "type": "array"
          }
        },
        "required": [
          "responseCode",
          "responseMessage"
        ],
        "type": "object"
      },
      "StoreResponse": {
        "description": "Respuesta de la boveda a solicitud de almacenamiento",
        "properties": {
          "responseCode": {
            "description": "Codigo de respuesta del sistema de tokenizacion",
            "format": "int32",
            "type": "integer"
          },
          "responseMessage": {
            "description": "Mensaje de respuesta del sistema de tokenizacion",
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/TokenizerResponse"
          }
        },
        "required": [
          "responseCode",
          "responseMessage"
        ],
        "type": "object"
      },
      "TokenResponse": {
        "description": "Tokenization Response",
        "properties": {
          "responseCode": {
            "description": "Codigo de respuesta del sistema de tokenizacion",
            "format": "int32",
            "type": "integer"
          },
          "responseMessage": {
            "description": "Mensaje de respuesta del sistema de tokenizacion",
            "type": "string"
          },
          "result": {
            "description": "Listado de items de la boveda de tokenizacion",
            "items": {
              "$ref": "#/components/schemas/TokenizerResponse"
            },
            "type": "array"
          }
        },
        "required": [
          "responseCode",
          "responseMessage",
          "result"
        ],
        "type": "object"
      },
      "TokenizationListRequest": {
        "description": "Store multiple token request",
        "properties": {
          "payloads": {
            "description": "Mensajes a almacenar en la boveda de tokenizacion",
            "items": {
              "$ref": "#/components/schemas/PayloadRow"
            },
            "type": "array"
          },
          "vault": {
            "description": "Identificador de la boveda de tokenizacion",
            "type": "string"
          }
        },
        "required": [
          "payloads",
          "vault"
        ],
        "type": "object"
      },
      "TokenizationRequest": {
        "description": "Store token request",
        "properties": {
          "block": {
            "description": "Identificador del bloque dentro de la boveda",
            "type": "string"
          },
          "payload": {
            "$ref": "#/components/schemas/Payload",
            "description": "Mensaje a almacenar en la boveda de tokenizacion"
          },
          "vault": {
            "description": "Identificador de la boveda de tokenizacion",
            "type": "string"
          }
        },
        "required": [
          "block",
          "payload",
          "vault"
        ],
        "type": "object"
      },
      "TokenizerResponse": {
        "description": "Entidad que representa un item dentro de la boveda de tokenizacion",
        "properties": {
          "expireOn": {
            "description": "Fecha y hora de expiracion",
            "example": "180919082216",
            "type": "string"
          },
          "hash": {
            "description": "Hash representativo del objeto tokenizado",
            "type": "string"
          },
          "token": {
            "description": "Token unico del objeto tokenizado",
            "type": "string"
          },
          "value": {
            "description": "Informacion tokenizada",
            "type": "string"
          }
        },
        "required": [
          "expireOn",
          "hash",
          "token",
          "value"
        ],
        "type": "object"
      },
      "TokenizerRowResponse": {
        "description": "Entidad que representa un item dentro de la boveda de tokenizacion",
        "properties": {
          "expireOn": {
            "description": "Fecha y hora de expiracion",
            "example": "180919082216",
            "type": "string"
          },
          "hash": {
            "description": "Hash representativo del objeto tokenizado",
            "type": "string"
          },
          "id": {
            "description": "Id unico del objeto tokenizado",
            "type": "string"
          },
          "token": {
            "description": "Token unico del objeto tokenizado",
            "type": "string"
          },
          "value": {
            "description": "Informacion tokenizada",
            "type": "string"
          }
        },
        "required": [
          "expireOn",
          "hash",
          "id",
          "token",
          "value"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "accessToken": {
        "description": "Access token obtained from api.security",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "description": "RESTful API to manage tokenization.",
      "name": "Tokenization"
    }
  ]
}