{
  "swagger": "2.0",
  "info": {
    "version": "0.0.1",
    "title": "Account API",
    "description": "The Equity Bank Account API allows a Merchant to fetch full/minimal transaction details for a given operative account, do Account Enquiries and Get a List of Accounts Opened.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/mkhisa7/account-api/0.0.1/swagger.json",
    "contact": {}
  },
  "host": "api.equitybankgroup.com",
  "basePath": "/account/v1-sandbox",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/accounts/fullstatement": {
      "post": {
        "summary": "Get Full Account Statement",
        "description": "Get a Full for a particular account.",
        "operationId": "Get-Account-Full-Statement",
        "parameters": [
          {
            "name": "payload",
            "in": "body",
            "description": "Full Statement Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FullStatementRequest"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "type": "string",
            "default": "Bearer {token}"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FullStatementResponse"
            }
          },
          "400": {
            "description": "Bad Request - Please ensure the request is valid.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Please check the Authorization header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - Please check the URL.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Please try later.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "accounts"
        ]
      }
    },
    "/search/{countryCode}/{accountNumber}": {
      "get": {
        "summary": "Account Enquiry",
        "description": "A merchant can use this functionality to get account details.",
        "operationId": "Account-Enquiry",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "The account's country code",
            "required": true,
            "type": "string",
            "default": "KE"
          },
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number",
            "required": true,
            "type": "string",
            "default": "1234567891234"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccountEnquiryResponse"
            }
          },
          "400": {
            "description": "Bad Request - Please ensure the request is valid.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Please check the Authorization header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - Please check the URL.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Please try later.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "search"
        ]
      }
    },
    "/accounts/balances/{countryCode}/{accountNumber}": {
      "get": {
        "summary": "Get Balance",
        "description": "A merchant can get the balance of a merchant account.",
        "operationId": "Get-Balance",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "The account's country code",
            "required": true,
            "type": "string",
            "default": "KE"
          },
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The merchant account number",
            "required": true,
            "type": "string",
            "default": "1234567891234"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "type": "string",
            "default": "Bearer {token}"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetBalanceResponse"
            }
          },
          "400": {
            "description": "Bad Request - Please ensure the request is valid.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Please check the Authorization header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - Please check the URL.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Please try later.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "accounts"
        ]
      }
    },
    "/accounts/ministatement/{countryCode}/{accountNumber}": {
      "get": {
        "summary": "Get Mini Statement",
        "description": "Get the Mini-Statement for a particular account.",
        "operationId": "Get-Account-Mini-Statement",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "The account's country code",
            "required": true,
            "type": "string",
            "default": "KE"
          },
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The merchant account number",
            "required": true,
            "type": "string",
            "default": "1234567891234"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "type": "string",
            "default": "Bearer {token}"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMiniStatementResponse"
            }
          },
          "400": {
            "description": "Bad Request - Please ensure the request is valid.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Please check the Authorization header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - Please check the URL.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Please try later.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "accounts"
        ]
      }
    }
  },
  "definitions": {
    "FullStatementRequest": {
      "properties": {
        "countryCode": {
          "description": "the account's country code.",
          "type": "string"
        },
        "accountNumber": {
          "description": "The account number.",
          "type": "string"
        },
        "fromDate": {
          "description": "The start date of the statement period.",
          "type": "string",
          "format": "date"
        },
        "toDate": {
          "description": "The end date of the statement period.",
          "type": "string",
          "format": "date"
        }
      }
    },
    "FullStatementTransaction": {
      "properties": {
        "reference": {
          "description": "The transaction reference.",
          "type": "string"
        },
        "date": {
          "description": "The transaction date",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "description": "The transaction description.",
          "type": "string"
        },
        "amount": {
          "description": "The transaction amount.",
          "type": "string"
        },
        "type": {
          "description": "Thr transaction type.",
          "type": "string"
        },
        "runningBalance": {
          "description": "The running balance.",
          "type": "string"
        }
      }
    },
    "MiniStatementTransaction": {
      "properties": {
        "chequeNumber": {
          "description": "Cheque number.",
          "type": "string"
        },
        "date": {
          "description": "The transaction date.",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "description": "The transaction description.",
          "type": "string"
        },
        "amount": {
          "description": "The transaction amount.",
          "type": "string"
        },
        "type": {
          "description": "Thr transaction type.",
          "type": "string"
        }
      }
    },
    "Customer": {
      "properties": {
        "id": {
          "description": "Customer unique identifier.",
          "type": "string"
        },
        "type": {
          "description": "Customer type.",
          "type": "string"
        }
      }
    },
    "Account": {
      "properties": {
        "number": {
          "description": "Customer's account number.",
          "type": "string"
        },
        "currency": {
          "description": "Account currency.",
          "type": "string"
        },
        "status": {
          "description": "Account Status",
          "type": "string"
        }
      }
    },
    "Balance": {
      "properties": {
        "amount": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "FullStatementResponse": {
      "properties": {
        "accountNumber": {
          "description": "The account number.",
          "type": "string"
        },
        "currency": {
          "description": "The account currency.",
          "type": "string"
        },
        "balance": {
          "description": "The account balance.",
          "type": "string"
        },
        "transactions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FullStatementTransaction"
          }
        }
      }
    },
    "GetMiniStatementResponse": {
      "properties": {
        "accountNumber": {
          "description": "Account number",
          "type": "string"
        },
        "currency": {
          "description": "Account currency.",
          "type": "string"
        },
        "balance": {
          "description": "Account balance.",
          "type": "string"
        },
        "transactions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MiniStatementTransaction"
          }
        }
      }
    },
    "AccountEnquiryResponse": {
      "properties": {
        "account": {
          "$ref": "#/definitions/Account"
        },
        "customer": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Customer"
          }
        }
      }
    },
    "GetBalanceResponse": {
      "properties": {
        "currency": {
          "type": "string"
        },
        "balances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Balance"
          }
        }
      }
    },
    "ErrorResponse": {
      "properties": {
        "code": {
          "type": "string"
        },
        "error": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "tags": [
    {
      "name": "accounts"
    },
    {
      "name": "search"
    }
  ]
}
