{
  "openapi": "3.0.3",
  "info": {
    "title": "Insighto.ai API",
    "version": "v1",
    "x-jentic-source-url": "https://api.insighto.ai/docs"
  },
  "servers": [
    {
      "url": "https://api.insighto.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/call/{widget_id}": {
      "post": {
        "tags": [
          "Calling"
        ],
        "summary": "Make a call",
        "description": "To make an outbound call to a given telephone number",
        "operationId": "make_a_call_api_v1_call__widget_id__post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "widget_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Widget ID to be used for initiating the call. It must be connected to Twilio, Plivo or Telnyx.",
              "title": "Widget Id"
            },
            "description": "Widget ID to be used for initiating the call. It must be connected to Twilio, Plivo or Telnyx."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MakeCallPayload",
                "description": "Payload containing the phone number and other details."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Call successfully initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase_Call_"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input, such as malformed phone number",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Couldn't authenticate your Twilio account"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Invalid authentication credentials"
                }
              }
            }
          },
          "404": {
            "description": "Widget not found or not configured for telephony",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Invalid Widget ID"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Too Many Requests"
                },
                "schema": {
                  "$ref": "#/components/schemas/HTTP429Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/call/{widget_id}/contacts": {
      "post": {
        "tags": [
          "Calling"
        ],
        "summary": "Bulk calling",
        "description": "To initiate calls to a list of contacts in bulk",
        "operationId": "make_calls_to_contacts_api_v1_call__widget_id__contacts_post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "widget_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Widget ID to be used for initiating the call. It must be connected to Twilio, Plivo or Telnyx.",
              "title": "Widget Id"
            },
            "description": "Widget ID to be used for initiating the call. It must be connected to Twilio, Plivo or Telnyx."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignMetadata",
                "description": "Payload containing the list of contact IDs and other details."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign has been qeueud",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase"
                },
                "example": {
                  "status": "Campaign has been queued"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Invalid authentication credentials"
                }
              }
            }
          },
          "404": {
            "description": "Widget not found or not one of the supported widgets for call campaign",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Invalid Widget ID"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Too Many Requests"
                },
                "schema": {
                  "$ref": "#/components/schemas/HTTP429Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/call/disconnect/{conversation_id}": {
      "patch": {
        "tags": [
          "Calling"
        ],
        "summary": "Disconnect call",
        "description": "To disconnect an active call",
        "operationId": "disconnect_call_api_v1_call_disconnect__conversation_id__patch",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Conversation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call disconnect initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase"
                },
                "example": {
                  "status": "Call disconnect initiated"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Invalid authentication credentials"
                }
              }
            }
          },
          "404": {
            "description": "Invalid conversation",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Invalid conversation ID"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Too Many Requests"
                },
                "schema": {
                  "$ref": "#/components/schemas/HTTP429Response"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/v1/messaging/{widget_id}": {
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Send A Message",
        "description": "To send a text message to a given telephone number or a contact\n- **widget_id**: Widget ID to be used for initiating the call. It must be connected to WhatsApp or SMS.\n- **to**: phone number of the recipient. should contain the country code. For ex: 16501111234 \n- **contact_id**: contact ID to whom the message is to be sent. (either to or contact_id must be given)\n- **message**: text message to be sent.\n- **start_new_conversation**: whether to start a new conversation or pick the latest.",
        "operationId": "send_a_message_api_v1_messaging__widget_id__post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "widget_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Widget Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessagePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/messaging/{widget_id}/contacts": {
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Send Messages To Contacts",
        "description": "To send messages to a list of contacts in bulk\n- **widget_id**: Widget ID to be used for sending the message. It must be connected to WhatsApp or SMS.\n- **contact_ids**: list of contact IDs to whom the message is to be sent.\n- **message**: text message to be sent.\n- **start_new_conversation**: whether to start a new conversation or pick the latest.",
        "operationId": "send_messages_to_contacts_api_v1_messaging__widget_id__contacts_post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "widget_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Widget Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignMetadata"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversation": {
      "get": {
        "tags": [
          "Conversation"
        ],
        "summary": "Get List Of Conversations",
        "description": "Gets the list of conversations for assistant_id filter by daterange in descending order",
        "operationId": "get_list_of_conversations_api_v1_conversation_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "title": "Date From"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "title": "Date To"
            }
          },
          {
            "name": "assistant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Assistant Id"
            }
          },
          {
            "name": "intent_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Intent Id"
            }
          },
          {
            "name": "includes_voice",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Includes Voice"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponsePaginated_ConversationMetadata_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversation/{conversation_id}/transcript": {
      "get": {
        "tags": [
          "Conversation"
        ],
        "summary": "Get Transcript Of A Conversation",
        "description": "Get a complete transcript of a given **conversation_id**",
        "operationId": "get_transcript_of_a_conversation_api_v1_conversation__conversation_id__transcript_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Conversation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversation/by-contact/{contact_id}": {
      "get": {
        "tags": [
          "Conversation"
        ],
        "summary": "Get List Of Conversations By Contact Id",
        "description": "Get the list of Conversations linked to a **contact_id**",
        "operationId": "get_list_of_conversations_by_contact_id_api_v1_conversation_by_contact__contact_id__get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Contact Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponsePaginated_IConversationRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversation/{conversation_id}": {
      "get": {
        "tags": [
          "Conversation"
        ],
        "summary": "Get Conversation By Id",
        "description": "Gets the conversation by its id",
        "operationId": "get_conversation_by_id_api_v1_conversation__conversation_id__get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Conversation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponseBase_IConversationRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Conversation"
        ],
        "summary": "Delete Conversation By Id",
        "description": "Delete conversation and its chat history by its id",
        "operationId": "delete_conversation_by_id_api_v1_conversation__conversation_id__delete",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Conversation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversation/multiple": {
      "delete": {
        "tags": [
          "Conversation"
        ],
        "summary": "Delete Bulk Conversations By Ids",
        "description": "Delete  conversations in bulk",
        "operationId": "delete_bulk_conversations_by_ids_api_v1_conversation_multiple_delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "type": "array",
                "title": "Conversation Ids"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/contact/upsert": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Upsert Contact By Email Or Phone Number",
        "description": "Upsert a contact using email or phone number.\n- **phone_number**: phone number of the contact including the country code. For ex: 16501111234\n- **email**: email address of the contact.",
        "operationId": "upsert_contact_by_email_or_phone_number_api_v1_contact_upsert_post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "first_name",
            "in": "query",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "First Name"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Last Name"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "email"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Email"
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Phone Number"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase_IContactRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contact": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get List Of Contacts",
        "description": "Retrieve Contact",
        "operationId": "get_list_of_contacts_api_v1_contact_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponsePaginated_IContactRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contact/{contact_id}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get Contact By Id",
        "description": "Gets an contact by its id",
        "operationId": "get_contact_by_id_api_v1_contact__contact_id__get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Contact Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponseBase_IContactRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contact"
        ],
        "summary": "Update Contact By Id",
        "description": "Update contact",
        "operationId": "update_contact_by_id_api_v1_contact__contact_id__put",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Contact Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IContactUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPutResponseBase_IContactUpdate_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contact"
        ],
        "summary": "Delete Contact By Id",
        "description": "Delete an contact by its id",
        "operationId": "delete_contact_by_id_api_v1_contact__contact_id__delete",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Contact Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contact/multiple": {
      "delete": {
        "tags": [
          "Contact"
        ],
        "summary": "Bulk Delete Contacts",
        "description": "Delete contacts in bulk",
        "operationId": "bulk_delete_contacts_api_v1_contact_multiple_delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "type": "array",
                "title": "Contact Ids"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/assistant": {
      "post": {
        "tags": [
          "Assistant"
        ],
        "summary": "Create Assistant",
        "description": "Create a new assistant",
        "operationId": "create_assistant_api_v1_assistant_post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAssistantCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase_IAssistantRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Assistant"
        ],
        "summary": "Get List Of Assistants",
        "description": "Retrieve assistants.",
        "operationId": "get_list_of_assistants_api_v1_assistant_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponsePaginated_IAssistantRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assistant/{assistant_id}": {
      "get": {
        "tags": [
          "Assistant"
        ],
        "summary": "Get Assistant By Id",
        "description": "Gets an assistant by its id",
        "operationId": "get_assistant_by_id_api_v1_assistant__assistant_id__get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Assistant Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponseBase_IAssistantRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Assistant"
        ],
        "summary": "Delete Assistant By Id",
        "operationId": "delete_assistant_by_id_api_v1_assistant__assistant_id__delete",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The UUID id of the assistant",
              "title": "Assistant Id"
            },
            "description": "The UUID id of the assistant"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Assistant"
        ],
        "summary": "Update Assistant By Id",
        "description": "Update an Assistant",
        "operationId": "update_assistant_by_id_api_v1_assistant__assistant_id__put",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The UUID id of the assistant",
              "title": "Assistant Id"
            },
            "description": "The UUID id of the assistant"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAssistantUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPutResponseBase_IAssistantRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assistant/{assistant_id}/data_source/{datasource_id}": {
      "post": {
        "tags": [
          "Assistant"
        ],
        "summary": "Add Datasource To Assistant",
        "description": "add an existing data source to an assistant",
        "operationId": "add_datasource_to_assistant_api_v1_assistant__assistant_id__data_source__datasource_id__post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "datasource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datasource Id"
            }
          },
          {
            "name": "assistant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The UUID id of the assistant",
              "title": "Assistant Id"
            },
            "description": "The UUID id of the assistant"
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase_IAssistantRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assistant/{assistant_id}/intent/{intent_id}": {
      "post": {
        "tags": [
          "Assistant"
        ],
        "summary": "Add Intent To Assistant",
        "description": "add an intent to an assistant",
        "operationId": "add_intent_to_assistant_api_v1_assistant__assistant_id__intent__intent_id__post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "intent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Intent Id"
            }
          },
          {
            "name": "assistant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The UUID id of the assistant",
              "title": "Assistant Id"
            },
            "description": "The UUID id of the assistant"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "default": {},
                "title": "Attributes"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase_ILinkAssistantIntentRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assistant/{assistant_id}/widgets": {
      "get": {
        "tags": [
          "Assistant"
        ],
        "summary": "Get List Of Widgets Linked To Assistant Id",
        "description": "Retrieve widgets attached to the assistant",
        "operationId": "get_list_of_widgets_linked_to_assistant_id_api_v1_assistant__assistant_id__widgets_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Assistant Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__schemas__response_schema__IGetResponsePaginated_IWidgetRead___1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assistant/{assistant_id}/data_sources": {
      "get": {
        "tags": [
          "Assistant"
        ],
        "summary": "Get List Of Data Sources Linked To Assistant Id",
        "description": "Retrieve data sources. Requires admin or manager role\n\nRequired roles:\n- admin\n- manager",
        "operationId": "get_list_of_data_sources_linked_to_assistant_id_api_v1_assistant__assistant_id__data_sources_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Assistant Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponsePaginated_IDataSourceRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assistant/{assistant_id}/intents": {
      "get": {
        "tags": [
          "Assistant"
        ],
        "summary": "Get List Of Intents Linked To Assistant Id",
        "description": "Retrieve intents linked to the assistant",
        "operationId": "get_list_of_intents_linked_to_assistant_id_api_v1_assistant__assistant_id__intents_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "assistant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Assistant Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponsePaginated_IIntentRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/widget": {
      "post": {
        "tags": [
          "Widget"
        ],
        "summary": "Create Widget",
        "description": "Create a new assistant",
        "operationId": "create_widget_api_v1_widget_post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IWidgetCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase_IWidgetRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Widget"
        ],
        "summary": "Get List Of Widgets",
        "description": "Retrieve data sources. Requires admin or manager role",
        "operationId": "get_list_of_widgets_api_v1_widget_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__schemas__response_schema__IGetResponsePaginated_IWidgetRead___2"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/widget/{widget_id}": {
      "get": {
        "tags": [
          "Widget"
        ],
        "summary": "Get Widget By Id",
        "description": "Gets a widget by its id",
        "operationId": "get_widget_by_id_api_v1_widget__widget_id__get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "widget_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Widget Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponseBase_IWidgetRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Widget"
        ],
        "summary": "Delete Widget By Id",
        "description": "Delete a widget by its id",
        "operationId": "delete_widget_by_id_api_v1_widget__widget_id__delete",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "widget_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Widget Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Widget"
        ],
        "summary": "Update Widget By Id",
        "description": "Update a Widget",
        "operationId": "update_widget_by_id_api_v1_widget__widget_id__put",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "widget_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Widget Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IWidgetUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPutResponseBase_IWidgetRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasource": {
      "post": {
        "tags": [
          "Data Source"
        ],
        "summary": "Create Data Source",
        "description": "Create a new datasource",
        "operationId": "create_data_source_api_v1_datasource_post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDataSourceCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase_IDataSourceRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Data Source"
        ],
        "summary": "Get List Of Data Sources",
        "description": "Retrieve data sources. Requires admin or manager role\n\nRequired roles:\n- admin\n- manager",
        "operationId": "get_list_of_data_sources_api_v1_datasource_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponsePaginated_IDataSourceRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasource/{datasource_id}/file": {
      "post": {
        "tags": [
          "Data Source"
        ],
        "summary": "Add Datasourcefile",
        "description": "add a new file to a datasource",
        "operationId": "add_datasourcefile_api_v1_datasource__datasource_id__file_post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "datasource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datasource Id"
            }
          },
          {
            "name": "ds_type",
            "in": "query",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/IDSEnum"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ds Type"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Name"
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Description"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Org Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_add_datasourcefile_api_v1_datasource__datasource_id__file_post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase_IDataSourceFileRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasource/{datasource_id}/collection": {
      "post": {
        "tags": [
          "Data Source"
        ],
        "summary": "Add Datasourcefile Collection",
        "description": "add a new collection file to a datasource",
        "operationId": "add_datasourcefile_collection_api_v1_datasource__datasource_id__collection_post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "datasource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datasource Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_add_datasourcefile_collection_api_v1_datasource__datasource_id__collection_post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase_IDataSourceRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasource/{datasource_id}/text_blob": {
      "post": {
        "tags": [
          "Data Source"
        ],
        "summary": "Add Datasourcefile Text Blob",
        "description": "add a new file to a datasource",
        "operationId": "add_datasourcefile_text_blob_api_v1_datasource__datasource_id__text_blob_post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "datasource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datasource Id"
            }
          },
          {
            "name": "ds_type",
            "in": "query",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/IDSEnum"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ds Type"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Name"
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Description"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Org Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "default": {},
                "title": "Attributes"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase_IDataSourceFileRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasource/{datasource_id}/{datasourcefile_id}/file": {
      "put": {
        "tags": [
          "Data Source"
        ],
        "summary": "Add Datasourcefile",
        "description": "add a new file to a datasource",
        "operationId": "add_datasourcefile_api_v1_datasource__datasource_id___datasourcefile_id__file_put",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "datasource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datasource Id"
            }
          },
          {
            "name": "datasourcefile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datasourcefile Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_add_datasourcefile_api_v1_datasource__datasource_id___datasourcefile_id__file_put"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase_IDataSourceFileRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasource/{datasource_id}": {
      "get": {
        "tags": [
          "Data Source"
        ],
        "summary": "Get Datasource By Id",
        "description": "Gets a datasource by its id",
        "operationId": "get_datasource_by_id_api_v1_datasource__datasource_id__get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "datasource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datasource Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponseBase_IDataSourceRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Data Source"
        ],
        "summary": "Delete Datasource By Id",
        "description": "Deletes a datasource by its id",
        "operationId": "delete_datasource_by_id_api_v1_datasource__datasource_id__delete",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "datasource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datasource Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasource/{datasource_id}/data_source_files": {
      "get": {
        "tags": [
          "Data Source"
        ],
        "summary": "Get List Of Data Source Files For Data Source Id",
        "description": "Gets datasourcefiles for a given datasource",
        "operationId": "get_list_of_data_source_files_for_data_source_id_api_v1_datasource__datasource_id__data_source_files_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "datasource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datasource Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponsePaginated_IDataSourceFileRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasource/{datasource_id}/assistants": {
      "get": {
        "tags": [
          "Data Source"
        ],
        "summary": "Get List Of Assistants For Datasource Id",
        "description": "Gets assistants for a given datasource",
        "operationId": "get_list_of_assistants_for_datasource_id_api_v1_datasource__datasource_id__assistants_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "datasource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datasource Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponsePaginated_IAssistantRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasource/{datasource_id}/assistant/{assistant_id}": {
      "delete": {
        "tags": [
          "Data Source"
        ],
        "summary": "Delete Linked Assistant Datasource",
        "description": "Linked Assitant Deletes a datasource by its",
        "operationId": "delete_linked_assistant_datasource_api_v1_datasource__datasource_id__assistant__assistant_id__delete",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "datasource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datasource Id"
            }
          },
          {
            "name": "assistant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Assistant Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasource/datasourcefile/{datasourcefile_id}": {
      "delete": {
        "tags": [
          "Data Source"
        ],
        "summary": "Delete Datasourcefile By Id",
        "description": "Deletes a datasource file by its id",
        "operationId": "delete_datasourcefile_by_id_api_v1_datasource_datasourcefile__datasourcefile_id__delete",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "datasourcefile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Datasourcefile Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get My Data",
        "description": "Gets my user profile information",
        "operationId": "get_my_data_api_v1_user_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponseBase_IUserRead_"
                }
              }
            }
          }
        },
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/user/{user_id}": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Update User Profile",
        "description": "Update the User Profile",
        "operationId": "update_user_profile_api_v1_user__user_id__put",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "The UUID id of the user"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IUserUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPutResponseBase_IUserRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/UserWhatsApp": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Create Userwhatsapp",
        "description": "Create new userwhatsapp",
        "operationId": "create_userwhatsapp_api_v1_user_UserWhatsApp_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IUserWhatsAppCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase_IUserWhatsAppCreate_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/user/list/UserWhatsApp": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Read Userwhatsapp List",
        "description": "Retrieve all Userwhatsapp",
        "operationId": "read_userwhatsapp_list_api_v1_user_list_UserWhatsApp_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponsePaginated_IUserWhatsAppRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/{userwhatsapp_id}/UserWhatsApp": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get Userwhatsapp By Id",
        "description": "Gets an userwhatsapp by its id",
        "operationId": "get_userwhatsapp_by_id_api_v1_user__userwhatsapp_id__UserWhatsApp_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "userwhatsapp_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Userwhatsapp Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponseBase_IUserWhatsAppRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "Delete Userwhatsapp By Id",
        "description": "Delete an userwhatsapp by its id",
        "operationId": "delete_userwhatsapp_by_id_api_v1_user__userwhatsapp_id__UserWhatsApp_delete",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "userwhatsapp_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Userwhatsapp Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Update Userwhatsapp By Id",
        "description": "Update userwhatsapp",
        "operationId": "update_userwhatsapp_by_id_api_v1_user__userwhatsapp_id__UserWhatsApp_put",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "userwhatsapp_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Userwhatsapp Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IUserWhatsAppUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPutResponseBase_IUserWhatsAppUpdate_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/create_live_agent": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Create Live Agent",
        "description": "Creates a new user with role agent\n\nRequired roles:\n- admin",
        "operationId": "create_live_agent_api_v1_user_create_live_agent_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IUserCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/user/link-agent-assistants/": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Link Agent Assistants",
        "operationId": "link_agent_assistants_api_v1_user_link_agent_assistants__post",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Agent Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "title": "Assistant Ids"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/linked_assistants_with_agent/": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Linked Assistants With Agent",
        "operationId": "linked_assistants_with_agent_api_v1_user_linked_assistants_with_agent__get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "agent_user_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Agent User Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponsePaginated_AgentAssistantMetadata_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/get_agent_list/": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get Agent List",
        "operationId": "get_agent_list_api_v1_user_get_agent_list__get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Size"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetResponsePaginated_IUserRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/remove_agent/{agent_id}": {
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "Remove Agent",
        "operationId": "remove_agent_api_v1_user_remove_agent__agent_id__delete",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Agent Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/intent": {
      "post": {
        "tags": [
          "Intent"
        ],
        "summary": "Create Intent",
        "description": "Create a new intent",
        "operationId": "create_intent_api_v1_intent_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IIntentCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPostResponseBase_IIntentRead_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/intent/list": {
      "get": {
        "tags": [
          "Intent"
        ],
        "summary": "Read Intents List",
        "description": "Retrieve intents (both user & system)",
        "operationId": "read_intents_list_api_v1_intent_list_get",
        "security": [
          {
            "Your API Key": []
          },
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
[...]
