{
  "openapi": "3.0.3",
  "info": {
    "title": "icanhazdadjoke API",
    "version": "1.0.0",
    "description": "A free API for fetching random dad jokes, retrieving specific jokes by ID, searching jokes, and getting joke images. No authentication required. Custom User-Agent header is requested.",
    "x-jentic-source-url": "https://icanhazdadjoke.com/api"
  },
  "servers": [
    {
      "url": "https://icanhazdadjoke.com"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getRandomJoke",
        "summary": "Get a random dad joke",
        "description": "Returns a random dad joke. Response format depends on Accept header.",
        "tags": [
          "Jokes"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Response format (application/json, text/plain, text/html)",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "description": "Custom User-Agent to identify your application",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Random joke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Joke"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/j/{jokeId}": {
      "get": {
        "operationId": "getJokeById",
        "summary": "Get a specific joke by ID",
        "tags": [
          "Jokes"
        ],
        "parameters": [
          {
            "name": "jokeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Joke details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Joke"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/j/{jokeId}.png": {
      "get": {
        "operationId": "getJokeAsImage",
        "summary": "Get a joke as a PNG image",
        "tags": [
          "Jokes"
        ],
        "parameters": [
          {
            "name": "jokeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Joke rendered as PNG image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchJokes",
        "summary": "Search for jokes",
        "description": "Search for dad jokes matching a query term.",
        "tags": [
          "Jokes"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page (max 30, default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/slack": {
      "get": {
        "operationId": "getSlackJoke",
        "summary": "Get a random joke formatted for Slack",
        "tags": [
          "Jokes"
        ],
        "responses": {
          "200": {
            "description": "Slack-formatted joke",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Joke": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "joke": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "next_page": {
            "type": "integer"
          },
          "previous_page": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Joke"
            }
          },
          "search_term": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "total_jokes": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          }
        }
      },
      "SlackResponse": {
        "type": "object",
        "properties": {
          "response_type": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fallback": {
                  "type": "string"
                },
                "footer": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "status": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": []
}