{
  "openapi": "3.0.3",
  "info": {
    "title": "NASA Open APIs",
    "version": "1.0.0",
    "description": "NASA's open APIs provide access to various datasets including Astronomy Picture of the Day (APOD), Mars Rover Photos, Near Earth Object Web Service (NeoWs), and more.",
    "x-jentic-source-url": "https://api.nasa.gov/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.nasa.gov",
      "description": "Production"
    }
  ],
  "paths": {
    "/planetary/apod": {
      "get": {
        "operationId": "getApod",
        "summary": "Astronomy Picture of the Day",
        "description": "Returns the astronomy picture of the day along with its metadata, explanation, and media type.",
        "tags": [
          "APOD"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date of the APOD image (YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for a range of APOD images",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for a range of APOD images",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Return a random number of images",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "thumbs",
            "in": "query",
            "description": "Return URL of thumbnail for video content",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/neo/rest/v1/feed": {
      "get": {
        "operationId": "getNeoFeed",
        "summary": "Near Earth Object feed",
        "description": "Returns a list of near-Earth asteroids based on their closest approach date.",
        "tags": [
          "NeoWs"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date (YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date (YYYY-MM-DD, max 7 days from start)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeoFeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/neo/rest/v1/neo/{asteroidId}": {
      "get": {
        "operationId": "getNeoLookup",
        "summary": "Near Earth Object lookup",
        "description": "Returns detailed information for a specific asteroid.",
        "tags": [
          "NeoWs"
        ],
        "parameters": [
          {
            "name": "asteroidId",
            "in": "path",
            "description": "Asteroid SPK-ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeoObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/neo/rest/v1/neo/browse": {
      "get": {
        "operationId": "browseNeo",
        "summary": "Browse Near Earth Objects",
        "description": "Browse the overall asteroid data set.",
        "tags": [
          "NeoWs"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mars-photos/api/v1/rovers/{rover}/photos": {
      "get": {
        "operationId": "getMarsRoverPhotos",
        "summary": "Mars Rover photos",
        "description": "Returns image data gathered by NASA's Mars rovers.",
        "tags": [
          "Mars Rover Photos"
        ],
        "parameters": [
          {
            "name": "rover",
            "in": "path",
            "description": "Rover name (curiosity, opportunity, spirit)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "curiosity",
                "opportunity",
                "spirit"
              ]
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sol",
            "in": "query",
            "description": "Martian sol (day)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "earth_date",
            "in": "query",
            "description": "Earth date (YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "camera",
            "in": "query",
            "description": "Camera abbreviation (e.g. FHAZ, RHAZ, MAST, CHEMCAM, NAVCAM)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (25 items per page)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarsPhotosResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/EPIC/api/natural/images": {
      "get": {
        "operationId": "getEpicNaturalImages",
        "summary": "EPIC natural color images",
        "description": "Returns metadata for natural color imagery from the DSCOVR EPIC instrument.",
        "tags": [
          "EPIC"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EpicImage"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/EPIC/api/natural/date/{date}": {
      "get": {
        "operationId": "getEpicImagesByDate",
        "summary": "EPIC images by date",
        "description": "Returns EPIC imagery metadata for a specific date.",
        "tags": [
          "EPIC"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date (YYYY-MM-DD)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EpicImage"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApodResponse": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "explanation": {
            "type": "string"
          },
          "hdurl": {
            "type": "string"
          },
          "media_type": {
            "type": "string"
          },
          "service_version": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "copyright": {
            "type": "string"
          },
          "thumbnail_url": {
            "type": "string"
          }
        }
      },
      "NeoFeedResponse": {
        "type": "object",
        "properties": {
          "element_count": {
            "type": "integer"
          },
          "near_earth_objects": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/NeoObject"
              }
            }
          }
        }
      },
      "NeoObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "neo_reference_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nasa_jpl_url": {
            "type": "string"
          },
          "absolute_magnitude_h": {
            "type": "number"
          },
          "is_potentially_hazardous_asteroid": {
            "type": "boolean"
          },
          "estimated_diameter": {
            "type": "object"
          },
          "close_approach_data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "MarsPhotosResponse": {
        "type": "object",
        "properties": {
          "photos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "sol": {
                  "type": "integer"
                },
                "camera": {
                  "type": "object"
                },
                "img_src": {
                  "type": "string"
                },
                "earth_date": {
                  "type": "string",
                  "format": "date"
                },
                "rover": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "EpicImage": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "caption": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "centroid_coordinates": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "NASA API key obtained from api.nasa.gov"
      }
    }
  },
  "security": [
    {
      "ApiKey": []
    }
  ],
  "tags": [
    {
      "name": "APOD"
    },
    {
      "name": "EPIC"
    },
    {
      "name": "Mars Rover Photos"
    },
    {
      "name": "NeoWs"
    }
  ]
}
