{
  "openapi": "3.0.3",
  "info": {
    "title": "CoinMarketCap API",
    "description": "CoinMarketCap API provides cryptocurrency market data including prices, market cap, volume, and more.",
    "version": "1.0.0",
    "contact": {
      "name": "CoinMarketCap",
      "url": "https://coinmarketcap.com/api/"
    }
  },
  "servers": [
    {
      "url": "https://pro-api.coinmarketcap.com",
      "description": "Production server"
    },
    {
      "url": "https://sandbox-api.coinmarketcap.com",
      "description": "Sandbox server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/cryptocurrency/map": {
      "get": {
        "operationId": "getCryptoMap",
        "summary": "CoinMarketCap ID Map",
        "description": "Returns a mapping of all cryptocurrencies to unique CoinMarketCap IDs.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "listing_status",
            "in": "query",
            "description": "Only active cryptocurrencies are returned by default. Pass 'inactive' to get a list of cryptocurrencies that are no longer active. Pass 'untracked' to get a list of cryptocurrencies that are listed but do not yet meet methodology requirements.",
            "schema": {
              "type": "string",
              "default": "active",
              "enum": [
                "active",
                "inactive",
                "untracked"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Optionally offset the start (1-based index) of the paginated list of items to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Optionally specify the number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "What field to sort the list by.",
            "schema": {
              "type": "string",
              "enum": [
                "cmc_rank",
                "id"
              ],
              "default": "id"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Optionally pass a comma-separated list of cryptocurrency symbols to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aux",
            "in": "query",
            "description": "Optionally specify a comma-separated list of supplemental data fields to return.",
            "schema": {
              "type": "string",
              "default": "platform,first_historical_data,last_historical_data,is_active"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoMapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v1/cryptocurrency/info": {
      "get": {
        "operationId": "getCryptoInfo",
        "summary": "Metadata",
        "description": "Returns all static metadata available for one or more cryptocurrencies.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "One or more comma-separated CoinMarketCap cryptocurrency IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "One or more comma-separated cryptocurrency slugs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "One or more comma-separated cryptocurrency symbols.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "One or more comma-separated contract addresses.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aux",
            "in": "query",
            "description": "Optionally specify a comma-separated list of supplemental data fields to return.",
            "schema": {
              "type": "string",
              "default": "urls,logo,description,tags,platform,date_added,notice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/cryptocurrency/listings/latest": {
      "get": {
        "operationId": "getListingsLatest",
        "summary": "Listings Latest",
        "description": "Returns a paginated list of all active cryptocurrencies with latest market data.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000,
              "default": 100
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "market_cap_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "market_cap_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "volume_24h_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "volume_24h_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "circulating_supply_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "circulating_supply_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "percent_change_24h_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "percent_change_24h_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "description": "Optionally calculate market quotes in up to 120 currencies.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "description": "Optionally calculate market quotes by CoinMarketCap ID instead of symbol.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "symbol",
                "date_added",
                "market_cap",
                "market_cap_strict",
                "price",
                "circulating_supply",
                "total_supply",
                "max_supply",
                "num_market_pairs",
                "volume_24h",
                "percent_change_1h",
                "percent_change_24h",
                "percent_change_7d",
                "market_cap_by_total_supply_strict",
                "volume_7d",
                "volume_30d"
              ],
              "default": "market_cap"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "cryptocurrency_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "coins",
                "tokens"
              ],
              "default": "all"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by tag such as 'defi' or 'filesharing'.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aux",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "num_market_pairs,cmc_rank,date_added,tags,platform,max_supply,circulating_supply,total_supply"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/v1/cryptocurrency/listings/historical": {
      "get": {
        "operationId": "getListingsHistorical",
        "summary": "Listings Historical",
        "description": "Returns a ranked and sorted list of all cryptocurrencies for a historical UTC date.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Date (ISO 8601) to reference day of snapshot.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 5000
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "cmc_rank",
                "name",
                "symbol",
                "market_cap",
                "price",
                "circulating_supply",
                "total_supply",
                "max_supply",
                "num_market_pairs",
                "volume_24h",
                "percent_change_1h",
                "percent_change_24h",
                "percent_change_7d"
              ],
              "default": "cmc_rank"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "cryptocurrency_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "coins",
                "tokens"
              ],
              "default": "all"
            }
          },
          {
            "name": "aux",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/cryptocurrency/quotes/latest": {
      "get": {
        "operationId": "getQuotesLatest",
        "summary": "Quotes Latest",
        "description": "Returns the latest market quote for 1 or more cryptocurrencies.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "One or more comma-separated cryptocurrency CoinMarketCap IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aux",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "num_market_pairs,cmc_rank,date_added,tags,platform,max_supply,circulating_supply,total_supply,market_cap_by_total_supply,volume_24h_reported,volume_7d,volume_7d_reported,volume_30d,volume_30d_reported,is_active,is_fiat"
            }
          },
          {
            "name": "skip_invalid",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/cryptocurrency/quotes/historical": {
      "get": {
        "operationId": "getQuotesHistorical",
        "summary": "Quotes Historical",
        "description": "Returns an interval of historic market quotes for any cryptocurrency based on time and interval parameters.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_end",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "yearly",
                "monthly",
                "weekly",
                "daily",
                "hourly",
                "5m",
                "10m",
                "15m",
                "30m",
                "45m",
                "1h",
                "2h",
                "3h",
                "4h",
                "6h",
                "12h",
                "24h",
                "1d",
                "2d",
                "3d",
                "7d",
                "14d",
                "15d",
                "30d",
                "60d",
                "90d",
                "365d"
              ]
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aux",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip_invalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/cryptocurrency/ohlcv/latest": {
      "get": {
        "operationId": "getOhlcvLatest",
        "summary": "OHLCV Latest",
        "description": "Returns the latest OHLCV (Open, High, Low, Close, Volume) market values for one or more cryptocurrencies.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip_invalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/cryptocurrency/ohlcv/historical": {
      "get": {
        "operationId": "getOhlcvHistorical",
        "summary": "OHLCV Historical",
        "description": "Returns historical OHLCV data along with market cap for any cryptocurrency.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_end",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "hourly",
                "weekly",
                "monthly"
              ]
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip_invalid",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/cryptocurrency/market-pairs/latest": {
      "get": {
        "operationId": "getMarketPairsLatest",
        "summary": "Market Pairs Latest",
        "description": "Lists all active market pairs that CoinMarketCap tracks for a given cryptocurrency or exchange.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "volume_24h_strict",
                "cmc_rank",
                "cmc_rank_advanced",
                "effective_liquidity",
                "market_score",
                "market_reputation"
              ]
            }
          },
          {
            "name": "aux",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matched_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matched_symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "spot",
                "derivatives",
                "otc"
              ],
              "default": "all"
            }
          },
          {
            "name": "fee_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "percentage",
                "no-fees",
                "transactional-mining",
                "unknown"
              ],
              "default": "all"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/exchange/map": {
      "get": {
        "operationId": "getExchangeMap",
        "summary": "Exchange Map",
        "description": "Returns a paginated list of all cryptocurrency exchanges by CoinMarketCap ID.",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "listing_status",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "active"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "volume_24h"
              ]
            }
          },
          {
            "name": "aux",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "crypto_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/exchange/info": {
      "get": {
        "operationId": "getExchangeInfo",
        "summary": "Exchange Info",
        "description": "Returns all static metadata for one or more exchanges.",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aux",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/exchange/listings/latest": {
      "get": {
        "operationId": "getExchangeListingsLatest",
        "summary": "Exchange Listings Latest",
        "description": "Returns a paginated list of all cryptocurrency exchanges including the latest aggregate market data.",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "volume_24h",
                "volume_24h_adjusted",
                "exchange_score"
              ],
              "default": "volume_24h"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "market_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "fees",
                "no_fees",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aux",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/exchange/quotes/latest": {
      "get": {
        "operationId": "getExchangeQuotesLatest",
        "summary": "Exchange Quotes Latest",
        "description": "Returns the latest aggregate market data for 1 or more exchanges.",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aux",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/global-metrics/quotes/latest": {
      "get": {
        "operationId": "getGlobalMetricsLatest",
        "summary": "Global Metrics Latest",
        "description": "Returns the latest global cryptocurrency market metrics.",
        "tags": [
          "Global Metrics"
        ],
        "parameters": [
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/global-metrics/quotes/historical": {
      "get": {
        "operationId": "getGlobalMetricsHistorical",
        "summary": "Global Metrics Historical",
        "description": "Returns an interval of historical global cryptocurrency market metrics.",
        "tags": [
          "Global Metrics"
        ],
        "parameters": [
          {
            "name": "time_start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_end",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aux",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/tools/price-conversion": {
      "get": {
        "operationId": "getPriceConversion",
        "summary": "Price Conversion",
        "description": "Convert an amount of one cryptocurrency or fiat currency into one or more different currencies.",
        "tags": [
          "Tools"
        ],
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "An amount of currency to convert.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The CoinMarketCap currency ID of the base cryptocurrency or fiat to convert from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "Alternatively pass the currency symbol of the base cryptocurrency or fiat to convert from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Optional timestamp to reference historical pricing during conversion.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/cryptocurrency/categories": {
      "get": {
        "operationId": "getCategories",
        "summary": "Categories",
        "description": "Returns information about all coin categories available on CoinMarketCap.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/cryptocurrency/category": {
      "get": {
        "operationId": "getCategory",
        "summary": "Category",
        "description": "Returns information about a single coin category available on CoinMarketCap.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/cryptocurrency/trending/latest": {
      "get": {
        "operationId": "getTrendingLatest",
        "summary": "Trending Latest",
        "description": "Returns a list of the most searched/trending cryptocurrencies.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "time_period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "30d",
                "7d"
              ],
              "default": "24h"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/cryptocurrency/trending/most-visited": {
      "get": {
        "operationId": "getTrendingMostVisited",
        "summary": "Trending Most Visited",
        "description": "Returns a list of the most visited cryptocurrencies on CoinMarketCap.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "time_period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "30d",
                "7d"
              ],
              "default": "24h"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/cryptocurrency/trending/gainers-losers": {
      "get": {
        "operationId": "getTrendingGainersLosers",
        "summary": "Trending Gainers & Losers",
        "description": "Returns a list of the biggest gainers and losers in the crypto market.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "time_period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "24h",
                "30d",
                "7d"
              ],
              "default": "24h"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "percent_change_24h"
              ]
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/fiat/map": {
      "get": {
        "operationId": "getFiatMap",
        "summary": "Fiat Map",
        "description": "Returns a mapping of all supported fiat currencies to unique CoinMarketCap IDs.",
        "tags": [
          "Fiat"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name"
              ],
              "default": "id"
            }
          },
          {
            "name": "include_metals",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/key/info": {
      "get": {
        "operationId": "getKeyInfo",
        "summary": "Key Info",
        "description": "Returns API key details and usage stats.",
        "tags": [
          "Key"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CMC_PRO_API_KEY",
        "description": "API key for authentication. Get one at https://coinmarketcap.com/api/"
      }
    },
    "schemas": {
      "CryptoMapResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CryptoMapItem"
            }
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "error_code": {
            "type": "integer"
          },
          "error_message": {
            "type": "string",
            "nullable": true
          },
          "elapsed": {
            "type": "integer"
          },
          "credit_count": {
            "type": "integer"
          }
        }
      },
      "CryptoMapItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "rank": {
            "type": "integer"
          },
          "is_active": {
            "type": "integer"
          },
          "first_historical_data": {
            "type": "string",
            "format": "date-time"
          },
          "last_historical_data": {
            "type": "string",
            "format": "date-time"
          },
          "platform": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "symbol": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              },
              "token_address": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Cryptocurrency"
    },
    {
      "name": "Exchange"
    },
    {
      "name": "Fiat"
    },
    {
      "name": "Global Metrics"
    },
    {
      "name": "Key"
    },
    {
      "name": "Tools"
    }
  ]
}
