{
  "openapi": "3.0.3",
  "info": {
    "title": "EasyTranslate API",
    "version": "2.0",
    "description": "EasyTranslate is a complete Translation Management Software for translation and content localization. Provides project management, string libraries, webhook subscriptions, content generation, and translation asset management.",
    "x-jentic-source-url": "https://documenter.getpostman.com/view/7540275/SWECVaCX"
  },
  "servers": [
    {
      "url": "https://api.platform.easytranslate.com",
      "description": "Production"
    },
    {
      "url": "https://api.platform.sandbox.easytranslate.com",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/oauth/personal-access-tokens": {
      "get": {
        "operationId": "get_oauth_personal_access_tokens",
        "summary": "Get All Personal Acceess Tokens",
        "tags": [
          "Personal Access Token"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "post_oauth_personal_access_tokens",
        "summary": "Create New Personal Access Token",
        "tags": [
          "Personal Access Token"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "personal_access_tokens",
                  "attributes": {
                    "name": "My PAT name",
                    "expires_in": {
                      "key": "month",
                      "value": 5
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/personal-access-tokens/{token_id}": {
      "delete": {
        "operationId": "delete_oauth_personal_access_tokens_token_id",
        "summary": "Revoke Personal Access Token",
        "tags": [
          "Personal Access Token"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "post_oauth_token",
        "summary": "Obtain new Access Token",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Obtain the access token and refresh token for further authentications.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "grant_type": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "scope": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/user": {
      "get": {
        "operationId": "get_api_v1_user",
        "summary": "Fetch the authenticated user",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the currently authenticated user"
      }
    },
    "/api/v1/user-consents": {
      "put": {
        "operationId": "put_api_v1_user_consents",
        "summary": "Update user consents",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update user consents for authorized user. The field terms is requried in order to be able to proceed and create projects for translation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "user-consents",
                  "attributes": {
                    "consents": {
                      "terms": true,
                      "ai": false,
                      "marketing": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/oauth/registration/customer/translate-yourself": {
      "post": {
        "operationId": "post_registration_customer_translate_yourself",
        "summary": "Register for Translate Yourself package as new user",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Register new customer account for the Translate Yourself feature",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "customer",
                  "attributes": {
                    "email": "maisha-email@example.com",
                    "password": "password",
                    "password_confirmation": "password",
                    "first_name": "maishaa",
                    "last_name": "maishaa",
                    "company_name": "maishaa",
                    "phone": "+45100456356",
                    "invoice_language": "en",
                    "timezone": "Europe/Copenhagen",
                    "consents": {
                      "terms": true,
                      "ai": false,
                      "marketing": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sso/{idp}/start": {
      "get": {
        "operationId": "get_sso_idp_start",
        "summary": "Sso login",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "idp",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirectTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/strings-library/api/v1/teams/{team_name}/libraries/{library_id}/languages": {
      "put": {
        "operationId": "put_libraries_library_id_languages",
        "summary": "Add Target language to Library",
        "tags": [
          "Languages"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "You can add target languages after creating a Library. This is more if you want to add additional languages as your Library grows.",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "library-language",
                  "attributes": {
                    "target_languages": [
                      "cs"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/strings-library/api/v1/teams/{team_name}/libraries/{library_id}/languages/{language_code}": {
      "delete": {
        "operationId": "delete_library_id_languages_language_code",
        "summary": "Remove language from Library",
        "tags": [
          "Languages"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Deleting language added to the Library will result in the deletion of the translations associated with that language.",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/strings-library/api/v1/teams/{team_name}/libraries/{library_id}/keys": {
      "post": {
        "operationId": "post_libraries_library_id_keys",
        "summary": "Add Translation Keys",
        "tags": [
          "Translation Keys"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "You can use this endpoint to add new keys and its default translations from the source language. However the default translation can be left empty but its recommended to have default translations defined. Using this endpoint will add new keys, it will not update existing keys. In order to add new keys and update existing keys at the same time go to “Sync library with content” instead.",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "translation-key",
                  "attributes": [
                    {
                      "name": "new_key",
                      "text": "X-Force Value"
                    },
                    {
                      "name": "another_new_key",
                      "text": "Captain Deadpool"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_libraries_library_id_keys",
        "summary": "Get all keys for library",
        "tags": [
          "Translation Keys"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve keys and its translations belongs to the current Library.",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/strings-library/api/v1/teams/{team_name}/libraries/{library_id}/keys/{key_id}": {
      "get": {
        "operationId": "get_library_id_keys_key_id",
        "summary": "Get single key for library",
        "tags": [
          "Translation Keys"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve a single Library key and its translation",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/strings-library/api/v1/teams/{team_name}/libraries/{library_id}/keys/delete": {
      "post": {
        "operationId": "post_library_id_keys_delete",
        "summary": "Delete Translation Keys",
        "tags": [
          "Translation Keys"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete translations for the given keys and language in the Library.\nNot all the fields in the body are required. They can be used to combine and refine your filtering while deleting the keys.\nBasically if you want to include certain keys for deletion, just specify the key_names\nIf you want to search for keys that contain specific translation then specify query.text\nIf you want to search for key prefix you should specify query.key. For example, if the goal is to delete key with value key_names, t",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "translation-keys",
                  "attributes": {
                    "key_names": [
                      "key_name"
                    ],
                    "query": {
                      "text": "search by text",
                      "key": "my_first_key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/strings-library/api/v1/teams/{team_name}/libraries/{library_id}/translations/{translation_id}": {
      "put": {
        "operationId": "put_library_id_translations_translation_id",
        "summary": "Update Single Translation String",
        "tags": [
          "Translation Strings"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "translation",
                  "attributes": {
                    "text": "X-Force value!"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/strings-library/api/v1/teams/{team_name}/libraries/{library_id}/translations": {
      "put": {
        "operationId": "put_libraries_library_id_translations",
        "summary": "Update Translation Strings",
        "tags": [
          "Translation Strings"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "translations",
                  "attributes": {
                    "strings": [
                      {
                        "translation_id": "6201353de47203a73f3deb41",
                        "text": "Your translation 1"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_libraries_library_id_translations",
        "summary": "Get All Translations",
        "tags": [
          "Translation Strings"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/strings-library/api/v1/teams/{team_name}/libraries/{library_id}/translations/{translation_id }": {
      "get": {
        "operationId": "get_library_id_translations_translation_id_",
        "summary": "Get Single Translation",
        "tags": [
          "Translation Strings"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/strings-library/api/v1/teams/{team_name}/libraries/{library_id}/download": {
      "post": {
        "operationId": "post_libraries_library_id_download",
        "summary": "Download Library",
        "tags": [
          "Download"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "library-download",
                  "attributes": {
                    "languages": [
                      "da"
                    ],
                    "options": {
                      "exclude_empty_translations": false,
                      "unpack_strings": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/strings-library/api/v1/teams/{team_name}/libraries": {
      "get": {
        "operationId": "get_teams_team_name_libraries",
        "summary": "Get all libraries",
        "tags": [
          "String Library"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/strings-library/api/v1/teams/{team_name}/libraries/new": {
      "post": {
        "operationId": "post_team_name_libraries_new",
        "summary": "Create library",
        "tags": [
          "String Library"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a Library, keys and translations. The keys and translations should be defined as a json content or object.",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "library",
                  "attributes": {
                    "name": "Your first library",
                    "description": "Your library description for your team...",
                    "source_language": "en",
                    "type": "string",
                    "target_languages": [
                      "de",
                      "da"
                    ],
                    "translations": {
                      "menu": {
                        "language": "Language",
                        "currency": "Currency",
                        "button": "Change"
                      },
                      "terms": {
                        "privacy_policy": {
                          "text": "Privacy Policy"
                        }
                      },
                      "summary": {
                        "title": "Your summary title here :)",
                        "text": "Here is your order summary.",
                        "language": {
                          "source": "Source language:",
                          "target": "Target language:"
                        },
                        "project_section": {
                          "name": "Project file name:",
                          "translator": "Translator:",
                          "word_count": "Word count:",
                          "price_label": "Price (excl. VAT)",
                          "price_total": "Total price (excl. VAT):"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/strings-library/api/v1/teams/{team_id}/libraries/{library_id}": {
      "get": {
        "operationId": "get_team_id_libraries_library_id",
        "summary": "Get single library",
        "tags": [
          "String Library"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/strings-library/api/v1/teams/{team_id}/libraries/{library_id}/bilingual": {
      "get": {
        "operationId": "get_libraries_library_id_bilingual",
        "summary": "Multilingual Content",
        "tags": [
          "String Library"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/strings-library/api/v1/teams/{team_name}/libraries/{library_id}/sync": {
      "post": {
        "operationId": "post_libraries_library_id_sync",
        "summary": "Sync library with content",
        "tags": [
          "String Library"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "You can use this endpoint to create and update keys at the same time. New keys will be created and already existing keys can be updated. If you only want to add new keys and do not want the ability to update existing keys at the same time, go to “Add Translation Keys” instead.",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "libraries",
                  "attributes": {
                    "source_language": "en",
                    "target_languages": [
                      "fr_FR",
                      "da",
                      "mk",
                      "sr"
                    ],
                    "settings": {
                      "overwrite_text_with_null": false
                    },
                    "keys": {
                      "wp.blog-title": {
                        "name": "wp.blog-title",
                        "external_id": "1",
                        "strings": {
                          "en": {
                            "text": "WPML Strings",
                            "language_code": "en",
                            "external_id": "1"
                          }
                        }
                      },
                      "wp.tagline": {
                        "name": "wp.tagline",
                        "external_id": "2",
                        "strings": {
                          "en": {
                            "text": "Just another WordPress site",
                            "language_code": "en",
                            "external_id": "2"
                          }
                        }
                      },
                      "wpml-string-translation.687b6aaaf12691d2b3f503ded8c35f5a": {
                        "name": "wpml-string-translation.687b6aaaf12691d2b3f503ded8c35f5a",
                        "external_id": "1865",
                        "strings": {
                          "en": {
                            "text": "Translate texts in admin screens &raquo;",
                            "language_code": "en",
                            "external_id": "1865"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "{{HOST_PROD}}strings-library/api/v1/teams/{team_name}/libraries/{library_id}": {
      "delete": {
        "operationId": "delete_team_name_libraries_library_id",
        "summary": "Delete library",
        "tags": [
          "String Library"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "HOST_PROD",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/strings-library/api/v1/teams/{team_name}/libraries/{library_id}/start-automation": {
      "post": {
        "operationId": "post_libraries_library_id_start_automation",
        "summary": "Start library automation",
        "tags": [
          "String Library"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Please note that the key_names attribute will not just send strings without a translation, but translated string too. Meaning if you have a source key that is fully translated, and you try to automate without the key_names this key won't be sent for translation again. But if the key is defined into the key_names it will be translated again.\nThe field settings.skip_already_translated has a default value of false. It should be set to true when key_names or query values are being provided, and it w",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v1/teams/{team_name}/webhook-endpoints": {
      "get": {
        "operationId": "get_teams_team_name_webhook_endpoints",
        "summary": "List all webhook endpoints",
        "tags": [
          "Webhook Subscription"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the account details of the authenticated user",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_teams_team_name_webhook_endpoints",
        "summary": "Create new webhook endpoint",
        "tags": [
          "Webhook Subscription"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the account details of the authenticated user",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "webhook_endpoint",
                  "attributes": {
                    "url": "https://webhook.site/ffb22693-e291-42d1-a80b-236a8eabc228",
                    "status": "enabled",
                    "events": [
                      "task.updated",
                      "project.status.approval_needed",
                      "project.status.price_accepted",
                      "project.status.price_declined",
                      "project.status.cancelled_by_customer",
                      "strings.key.updated"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/laas/api/v1/teams/{team_name}/webhook-endpoints/{webhook_endpoint}": {
      "get": {
        "operationId": "get_team_name_webhook_endpoints_webhook_endpoint",
        "summary": "Show webhook endpoint",
        "tags": [
          "Webhook Subscription"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the account details of the authenticated user",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook_endpoint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "operationId": "delete_team_name_webhook_endpoints_webhook_endpoint",
        "summary": "Delete webhook endpoint",
        "tags": [
          "Webhook Subscription"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the account details of the authenticated user",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook_endpoint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v1/teams/{team_name}/webhook-endpoints/{webhook_endpoint}/secret": {
      "get": {
        "operationId": "get_webhook_endpoints_webhook_endpoint_secret",
        "summary": "Expose secret for the webhook endpoint",
        "tags": [
          "Webhook Subscription"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the account details of the authenticated user",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhook_endpoint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/teams/{team_identifier}/projects": {
      "post": {
        "operationId": "post_teams_team_identifier_projects",
        "summary": "Create new Project",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Creates a new Project by passing a JSON object tas content to be translated..\n\n\n\nAttributes\n\n\n\n\n\n\ntype\nproject\nThe type of the data object sent. Type is always project.\n\n\nsource_language\nstring\nThe language the content is written into.  Must follow ISO 639-1 and/or ISO 3166-1 (RFC 5646 and RFC 4647)\n\n\ntarget_languages\narray\nArray of the languages the content should be translated into.  Each language must follow ISO 639-1 and/or ISO 3166-1 (RFC 5646 and RFC 4647).  Please note that target_languag",
        "parameters": [
          {
            "name": "team_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "get_teams_team_identifier_projects",
        "summary": "Fetch all projects",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the projects belonging to the authenticated user that are in the root workspace (not part of any folder).\nQuery filter possibilities:\n\n\n\n\n\n\n\n\n\n\nstatus[]\nArray of status strings\nPossible values:COMPLETEDCREATEDAPPROVAL_NEEDEDPRICE_ACCEPTEDPRICE_DECLINED\n\n\nperPage\nNumber greater than 0\nHow much results per page should be visible\n\n\npage\nNumber greater than 0\nSwitch between the results pages",
        "parameters": [
          {
            "name": "team_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/teams/{team_identifier}/projects/{project_id}": {
      "put": {
        "operationId": "put_team_identifier_projects_project_id",
        "summary": "Update Project Name",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Creates a new Project by passing a JSON object tas content to be translated..\n\n\n\nAttributes\n\n\n\n\n\n\ntype\nproject\nThe type of the data object sent. Type is always project.\n\n\nsource_language\nstring\nThe language the content is written into.  Must follow ISO 639-1 and/or ISO 3166-1 (RFC 5646 and RFC 4647)\n\n\ntarget_languages\narray\nArray of the languages the content should be translated into.  Each language must follow ISO 639-1 and/or ISO 3166-1 (RFC 5646 and RFC 4647).  Please note that target_languag",
        "parameters": [
          {
            "name": "team_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "project",
                  "attributes": {
                    "name": "EasyProject Test Name"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_team_identifier_projects_project_id",
        "summary": "Fetch a Project",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the Project details of the authenticated customer",
        "parameters": [
          {
            "name": "team_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v1/teams/{team_name}/projects/{project_id}/accept-price": {
      "post": {
        "operationId": "post_projects_project_id_accept_price",
        "summary": "Accept Price for Project",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "If the project is above the price limit, the project needs to be explicitly accepted or declined. The default price limit is 500 EUR, but could be modified by updating the Account billing details",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v1/teams/{team_name}/projects/{project_id}/decline-price": {
      "post": {
        "operationId": "post_projects_project_id_decline_price",
        "summary": "Decline Price for Project",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "If the project is above the price limit, the project needs to be explicitly accepted or declined. The default price limit is 500 EUR, but could be modified by updating the Account billing details",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v1/teams/{team_name}/projects/destroy-all": {
      "delete": {
        "operationId": "delete_team_name_projects_destroy_all",
        "summary": "Delete all projects (SANDBOX ONLY)",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete all projects that exists. This is only possible on the sandbox environment",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v1/teams/{team_name}/projects/{project_id}": {
      "delete": {
        "operationId": "delete_team_name_projects_project_id",
        "summary": "Delete project (SANDBOX ONLY)",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete single project that exists. This is only possible on the sandbox environment",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v2/teams/{team_name}/projects/{project_id}/tasks": {
      "get": {
        "operationId": "get_projects_project_id_tasks",
        "summary": "List all tasks for Project",
        "tags": [
          "V2"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the Project details of the authenticated customer",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v2/teams/{team_name}/projects/{project_id}": {
      "get": {
        "operationId": "get_team_name_projects_project_id",
        "summary": "Get Project",
        "tags": [
          "V2"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the Project details of the authenticated customer",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v2/teams/{team_name}/projects/{project_id}/tasks/{task_id}": {
      "get": {
        "operationId": "get_project_id_tasks_task_id",
        "summary": "Show single task details for Project",
        "tags": [
          "V2"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the Project details of the authenticated customer",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v2/teams/{team_name}/projects": {
      "get": {
        "operationId": "get_teams_team_name_projects",
        "summary": "Fetch all projects",
        "tags": [
          "V2"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the Project details of the authenticated customer",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_teams_team_name_projects",
        "summary": "New Project from JSON content V2",
        "tags": [
          "V2"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Creates a new Project by passing a JSON object tas content to be translated..\n\n\n\nAttributes\n\n\n\n\n\n\ntype\nprojects\nThe type of the data object sent. Type is always projects.\n\n\nsource_language\nstring\nThe language the content is written into.  Must follow ISO 639-1 and/or ISO 3166-1 (RFC 5646 and RFC 4647)\n\n\ntarget_languages\narray\nArray of the languages the content should be translated into.  Each language must follow ISO 639-1 and/or ISO 3166-1 (RFC 5646 and RFC 4647).  Please note that target_langu",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "projects",
                  "attributes": {
                    "source_language": "en",
                    "target_languages": [
                      "da",
                      "de"
                    ],
                    "workflow_id": "bbba80eb-974e-4d35-be9c-1c6ba185a9ad",
                    "content": {
                      "key": "<h1>Apple</h1> has released <b>thirteen</b> generations of iPhone models, each <strong>accompanied</strong> by one\n\n of the <img src=\"some-image.png\"/ alt=\"This is some image\"> thirteen major releases of the <a href=\"/visit-ios\">iOS</a> operating system. The first-generation iPhone was a GSM phone and established design precedents, such as a placement of certain buttons that has persisted throughout all releases to date. The first iPhone also set a screen size that was maintained for the next four iterations. The iPhone 3G added 3G network support and was followed by the iPhone 3GS with improved hardware, the iPhone 4 with a metal chassis, higher display resolution, and front-facing camera, and the iPhone 4S with improved hardware and the voice assistant Siri. The iPhone 5 featured a taller, 4 inches (100 mm) display, 4G support, and Apple's newly introduced Lightning connector. The iPhone 5S has an improved hardware and a fingerprint reader (marketed as Touch ID). The lower-cost iPhone 5C is a version of the 5 with a plastic body, instead of metal one, and was also available in many colors. They were followed by the larger iPhone 6 and iPhone 6 Plus, with models featuring 4.7-and-5.5-inch (120 and 140 mm) displays. The iPhone 6S and iPhone 6S Plus featured hardware upgrades and support for pressure-sensitive touch inputs, as well as the first-generation iPhone SE—which featured hardware from the 6S but the smaller form factor of the 5S. The iPhone 7 and iPhone 7 Plus add water resistance, improved system, and graphics performance, a new rear dual-camera setup on the Plus model, and new color options, while removing the 3.5 mm headphone jack found on previous models. The iPhone 8 and iPhone 8 Plus has a glass back and an improved screen and camera. The iPhone X was released alongside the iPhone 8 and iPhone 8 Plus, with its highlights being a near bezel-less design, an OLED display at 5.8 inches (150 mm), an improved camera, and a new facial recognition system, named Face ID, but having no home button, and therefore, no Touch ID. The iPhone XS and XS Max feature updated hardware, improved dual cameras, improved water resistance, and Dual-SIM support; the latter model also features the series' biggest display as of 2018 at 6.5 inches (170 mm). The iPhone XR has the similar design to the iPhone X, but it has an LCD display at 6.1 inches (150 mm), and starts at a lower price. The iPhone 11 added a second camera at the back, updated glass back, and improved hardware. The iPhone 11 Pro and iPhone 11 Pro Max feature a frosted glass back design, a triple lens camera setup with camera improvements, improved performance, and increased battery capacity. The second-generation iPhone SE is a successor to both the original iPhone SE and the iPhone 8, featuring hardware from the 11 and 11 Pro in a design nearly identical to the iPhone 8."
                    },
                    "reference_instructions": "Reference instructions text",
                    "project_instructions": "Project instructions text"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/teams/{team_identifier}/projects/{project_id}": {
      "put": {
        "operationId": "put_team_identifier_projects_project_id_2",
        "summary": "Update Project Name",
        "tags": [
          "V2"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Creates a new Project by passing a JSON object tas content to be translated..\n\n\n\nAttributes\n\n\n\n\n\n\ntype\nproject\nThe type of the data object sent. Type is always project.\n\n\nsource_language\nstring\nThe language the content is written into.  Must follow ISO 639-1 and/or ISO 3166-1 (RFC 5646 and RFC 4647)\n\n\ntarget_languages\narray\nArray of the languages the content should be translated into.  Each language must follow ISO 639-1 and/or ISO 3166-1 (RFC 5646 and RFC 4647).  Please note that target_languag",
        "parameters": [
          {
            "name": "team_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "project",
                  "attributes": {
                    "name": "Application Form #2"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/laas/api/v2/teams/{team_name}/projects/{project_id}/cancel-project": {
      "post": {
        "operationId": "post_projects_project_id_cancel_project",
        "summary": "Cancel project",
        "tags": [
          "V2"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/teams/{team_identifier}/projects/{project_id}/tasks": {
      "get": {
        "operationId": "get_projects_project_id_tasks_2",
        "summary": "Fetch all Project Tasks",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Show all tasks that were created during project creation. Each task represents one language pair.",
        "parameters": [
          {
            "name": "team_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/teams/{team_identifier}/projects/{project_id}/tasks/{task_id}": {
      "get": {
        "operationId": "get_project_id_tasks_task_id_2",
        "summary": "Fetch a Project Task",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Show single task details from project",
        "parameters": [
          {
            "name": "team_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/teams/{team_identifier}/projects/{project_id}/tasks/{task_id}/download": {
      "get": {
        "operationId": "get_tasks_task_id_download",
        "summary": "Download the Task target content",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retruns the translated content in the original source format",
        "parameters": [
          {
            "name": "team_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/teams/{team_name}/billing": {
      "get": {
        "operationId": "get_teams_team_name_billing",
        "summary": "Get the Company Billing details",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve the billing details for the account.",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_teams_team_name_billing",
        "summary": "Update the Company Billing details",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update the company billing details. Note that the automation_price_limit is always in EUR and in cents. \nIf the desired amount should be 100 EUR, the value for automation_price_limit should be 10000",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v1/teams/{team_name}/accounts": {
      "post": {
        "operationId": "post_teams_team_name_accounts",
        "summary": "Create a sub-account",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the account details of the authenticated user",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "sub_account",
                  "attributes": {
                    "company_name": "Finance",
                    "email": "finance@my-company.com",
                    "team_identifier": "finance",
                    "first_name": "CFO",
                    "last_name": "Customer",
                    "settings": {
                      "price_list": true,
                      "translation_team": true,
                      "translation_memory": true,
                      "project_template": true,
                      "billing": true,
                      "billing_methods": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/laas/api/v1/teams/{team_name}/accounts/sub-account/onboard": {
      "post": {
        "operationId": "post_accounts_sub_account_onboard",
        "summary": "Onboard sub-account",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Onboard a sub-account without any user interaction\nWhen Translation memory or Term bank is provider, webhook is being sent (if configured) to inform you that the account is ready to be used.",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "data[type]": {
                    "type": "string"
                  },
                  "data[attributes][company_name]": {
                    "type": "string"
                  },
                  "data[attributes][email]": {
                    "type": "string"
                  },
                  "data[attributes][team_identifier]": {
                    "type": "string"
                  },
                  "data[attributes][area_of_expertise][0]": {
                    "type": "string"
                  },
                  "data[attributes][area_of_expertise][1]": {
                    "type": "string"
                  },
                  "data[attributes][translation_assets][translation_memories][0]": {
                    "type": "string"
                  },
                  "data[attributes][translation_assets][term_banks][0]": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/laas/api/v1/teams/{team_name}": {
      "put": {
        "operationId": "put_v1_teams_team_name",
        "summary": "Update Account Details",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update the account details",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "account",
                  "id": "{{CUSTOMER_ACCOUNT_ID}}",
                  "attributes": {
                    "company_name": "Copenhagen LTD",
                    "receipt_email": "mail@cph.com",
                    "area_of_expertise": [
                      "Medical",
                      "Social Sciences"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/laas/api/v1/settings": {
      "get": {
        "operationId": "get_api_v1_settings",
        "summary": "API settings and values",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "language_code:\nThis contain the supported values for source_language and target_languages when creating a project. The source key in the response is used for source_language and the target key for target_languages\nsupported_file:\nThis contain the supported file formats that the API could process"
      }
    },
    "/laas/api/v1/teams/{team_name}/user": {
      "get": {
        "operationId": "get_teams_team_name_user",
        "summary": "Show logged user with account details",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Show the account details for the authenticated user. This will include multiple accounts if the user is invited in more than one account.",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v1/teams/{team_name}/": {
      "put": {
        "operationId": "put_v1_teams_team_name_2",
        "summary": "Update logged team account details",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update the account details.\nThe data.attributes.meta field is optional.",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "account",
                  "id": "{{CUSTOMER_ACCOUNT_ID}}",
                  "attributes": {
                    "company_name": "Acme Inc.",
                    "company_email": "acme@inc.com",
                    "invoice_language": "en",
                    "receipt_email": "acme@inc.com",
                    "meta": {
                      "business_unit_id": 155
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_v1_teams_team_name",
        "summary": "Show logged team account details",
        "tags": [
          "V1"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Show the team details. The language_pairs attribute is useful for building the UI or API requests to create new projects, since this attribute is holding the details about the available language pairs that the account supports.",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v2/teams/{team_name}": {
      "get": {
        "operationId": "get_v2_teams_team_name",
        "summary": "V2 Show logged team account details",
        "tags": [
          "V2"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the account details of the authenticated user",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v1/teams/{team_name}/folders": {
      "get": {
        "operationId": "get_teams_team_name_folders",
        "summary": "List all project folders for team account",
        "tags": [
          "Project Folder"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all folders that are created for the team account",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "post_teams_team_name_folders",
        "summary": "Create new project folder",
        "tags": [
          "Project Folder"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create new project. Use the update existing project folder endpoint to put existing projects inside the folder.",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "project-folder",
                  "attributes": {
                    "name": "Superhero stuff"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/laas/api/v1/teams/{team_name}/folders/{project_folder_id}": {
      "get": {
        "operationId": "get_team_name_folders_project_folder_id",
        "summary": "Show single project folder",
        "tags": [
          "Project Folder"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Show a project folder with the projects inside",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_folder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "patch": {
        "operationId": "patch_team_name_folders_project_folder_id",
        "summary": "Update existing project folder",
        "tags": [
          "Project Folder"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update existing project folder and move/remove projects.\nThe fields included_project_ids and excluded_project_ids can be used with the PATCH HTTP method and they are not required at the same time. \nBut those fields can never be empty.",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_folder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v1/teams/{team_name}/caas/generate": {
      "post": {
        "operationId": "post_team_name_caas_generate",
        "summary": "Create content",
        "tags": [
          "Content Generation"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Note: This endpoint is returning an SSE (Server-Sent Event). You can read more about SSE here.\nPayload attributes:\n\n\n\nprompt\nRequired. The actual instruction about your content. This will use the rest of the attributes to generate the content you need.\n\n\n\n\nmax_tokens\nOptional. Default is 600. How long the output of the text should be. Please note that this doesn't mean the AI is done generating content, but it will stop writting when the tokens is above this number.  Minimum value: 16  Maximum v",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "content_generation",
                  "attributes": {
                    "prompt": "Write a compelling product description",
                    "max_tokens": 340,
                    "temperature": 0.5,
                    "presence_penalty": 0,
                    "frequency_penalty": 0,
                    "main_subject": "My product name",
                    "content_brief": "This is the perfect product for everyone",
                    "keywords": [
                      "Newest product",
                      "elegant design",
                      "stunning camera",
                      "breathtaking videos"
                    ],
                    "content_type": [
                      "Newest product",
                      "elegant design",
                      "stunning camera",
                      "breathtaking videos"
                    ],
                    "tone_of_voice": [
                      "funny",
                      "informal"
                    ],
                    "language": "en"
                  }
                }
              }
            }
          }
        }
      }
    },
    "{{HOST_EASYCAT_API}}/teams/{team_name}/translation-memories/import-from-file": {
      "post": {
        "operationId": "post_team_name_translation_memories_import_from_file",
        "summary": "Import Translation Memory from file",
        "tags": [
          "Translation Memory"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "HOST_EASYCAT_API",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "data[type]": {
                    "type": "string"
                  },
                  "data[attributes][name]": {
                    "type": "string"
                  },
                  "data[attributes][content][0]": {
                    "type": "string"
                  },
                  "data[attributes][file_name][0]": {
                    "type": "string"
                  },
                  "data[attributes][translation_memory_id]": {
                    "type": "string"
                  },
                  "data[attributes][content][1]": {
                    "type": "string"
                  },
                  "data[attributes][file_name][1]": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "{{HOST_EASYCAT_API}}/teams/{team_name}/term-banks/import-from-file": {
      "post": {
        "operationId": "post_team_name_term_banks_import_from_file",
        "summary": "Import Term Bank from FILE",
        "tags": [
          "Term Bank"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "HOST_EASYCAT_API",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "data[type]": {
                    "type": "string"
                  },
                  "data[attributes][name]": {
                    "type": "string"
                  },
                  "data[attributes][file_name][0]": {
                    "type": "string"
                  },
                  "data[attributes][content][0]": {
                    "type": "string"
                  },
                  "data[attributes][term_bank_id]": {
                    "type": "string"
                  },
                  "data[attributes][file_name][1]": {
                    "type": "string"
                  },
                  "data[attributes][content][1]": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/laas/api/v1/teams/{team_name}/internal-suppliers/full-onboard": {
      "post": {
        "operationId": "post_team_name_internal_suppliers_full_onboard",
        "summary": "Onboard internal suppliers",
        "tags": [
          "Internal Supplier"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "suppliers",
                  "attributes": [
                    {
                      "email": "internal-supplier@mail.com",
                      "first_name": "John",
                      "last_name": "Doe",
                      "gender": "m",
                      "sso": {
                        "entity_id": "id-from-sso-entry"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/laas/api/v1/teams/{team_name}/internal-suppliers": {
      "get": {
        "operationId": "get_teams_team_name_internal_suppliers",
        "summary": "Paginate All Internal Suppliers",
        "tags": [
          "Internal Supplier"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v1/teams/{team_name}/internal-suppliers/{supplier_id}": {
      "put": {
        "operationId": "put_team_name_internal_suppliers_supplier_id",
        "summary": "Update Internal Supplier",
        "tags": [
          "Internal Supplier"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplier_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "suppliers",
                  "attributes": {
                    "email": "internal-supplier-new@mail.com",
                    "first_name": "John",
                    "last_name": "Doe",
                    "gender": "U"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_team_name_internal_suppliers_supplier_id",
        "summary": "Delete Internal Supplier",
        "tags": [
          "Internal Supplier"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "supplier_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/laas/api/v1/teams/{team_name}/projects/{project_id}/tasks/{task_id}/internal-suppliers/pre-assign": {
      "post": {
        "operationId": "post_task_id_internal_suppliers_pre_assign",
        "summary": "Pre-assign Internal supplier to task",
        "tags": [
          "Internal Supplier"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "tasks",
                  "attributes": {
                    "suppliers": [
                      {
                        "id": "4ff81e1f-30f1-49d8-8bf9-0c57ffcd4cc9"
                      },
                      {
                        "id": "b6fa82a2-a073-446e-95cc-87acce95efba"
                      },
                      {
                        "id": "db1eba0f-00dd-4f55-a814-c121e312cfc9"
                      },
                      {
                        "id": "47732e4b-3b99-4951-ad71-969478c6aad5"
                      },
                      {
                        "id": "4cab8415-ebab-417c-a079-8460582b5ced"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/laas/api/v1/teams/{team_name}/projects/{project_id}/tasks/{task_id}/internal-suppliers/assign": {
      "post": {
        "operationId": "post_task_id_internal_suppliers_assign",
        "summary": "Assign Internal Supplier to task",
        "tags": [
          "Internal Supplier"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "tasks",
                  "attributes": {
                    "supplier_id": "4ff81e1f-30f1-49d8-8bf9-0c57ffcd4cc9"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/laas/api/v1/teams/{team_name}/internal-suppliers/invitation-onboard": {
      "post": {
        "operationId": "post_team_name_internal_suppliers_invitation_onboard",
        "summary": "Invitation Internal Supplier onboard",
        "tags": [
          "Internal Supplier"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "data": {
                  "type": "suppliers",
                  "attributes": [
                    {
                      "email": "mna@easytranslate.com",
                      "first_name": "Mila",
                      "last_name": "Nasteva",
                      "gender": "F"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{team_name}/workflows/{workflow}": {
      "patch": {
        "operationId": "patch_team_name_workflows_workflow",
        "summary": "Update Account Workflow",
        "tags": [
          "Account Workflow"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update existing account workflow\nThe status attribute can have one of the following:activedraft",
        "parameters": [
          {
            "name": "team_name",
            "in": "path",
            "required": true,
[...]
