{
  "openapi": "3.0.3",
  "info": {
    "title": "Zivvy RainMaker Web Forms API",
    "version": "1.0.0",
    "description": "Zivvy RainMaker API for managing web leads and retrieving age groups for martial arts organizations. Supports adding prospects and querying available age group options.",
    "x-jentic-source-url": "https://intercom.help/zivvy/en/articles/355486-web-forms-api"
  },
  "servers": [
    {
      "url": "https://addmembers.com/RainMaker/api"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "addWebLead",
        "summary": "Add a web lead",
        "description": "Adds a new web lead to RainMaker with prospect information like name, email, and age group.",
        "parameters": [
          {
            "name": "SID",
            "in": "query",
            "required": true,
            "description": "School ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API Key (found in Settings > Integration > API)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": true,
            "description": "Action to perform",
            "schema": {
              "type": "string",
              "enum": [
                "addWebLead"
              ]
            }
          },
          {
            "name": "FName",
            "in": "query",
            "required": false,
            "description": "First name of the lead",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LName",
            "in": "query",
            "required": false,
            "description": "Last name of the lead",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Email address of the lead",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "agegroup",
            "in": "query",
            "required": false,
            "description": "Age group (must match available groups for the school)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobile",
            "in": "query",
            "required": false,
            "description": "Phone number of the lead",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead creation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddWebLeadResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getAgeGroups",
        "summary": "Get age groups",
        "description": "Retrieves available age group options for a specific school.",
        "parameters": [
          {
            "name": "SID",
            "in": "query",
            "required": true,
            "description": "School ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": true,
            "description": "Action to perform",
            "schema": {
              "type": "string",
              "enum": [
                "GetAgeGroups"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Age groups list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgeGroupsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddWebLeadResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "description": "Result status",
            "enum": [
              "success",
              "error"
            ]
          },
          "error": {
            "type": "string",
            "description": "Error description (blank if successful)"
          },
          "contactId": {
            "type": "string",
            "description": "RainMaker Contact ID (blank if error)"
          }
        }
      },
      "AgeGroupsResponse": {
        "type": "object",
        "properties": {
          "AgeGroups": {
            "type": "string",
            "description": "Comma-separated list of available age groups"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key found in RainMaker account Settings > Integration > API"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ]
}