{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "eloi@abitari.com"
    },
    "description": "Abitari Housekeeping Integration API",
    "title": "Abitari Housekeeping Integration API",
    "version": "0.1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/EloiHernandezTarrago/abitari-housekeeping_integration_api/0.1.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.abitari.com/api"
    }
  ],
  "paths": {
    "/guest": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestResponse"
                }
              }
            },
            "description": "Created"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Conflict"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Messaging"
        ],
        "description": "Create a guest profile with all information relative to a guest,\nincluding identification, preferences, and other data.\n",
        "operationId": "post-guest",
        "requestBody": {
          "$ref": "#/components/requestBodies/GuestRequest"
        },
        "summary": "Create a guest profile"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestResponse"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Messaging"
        ],
        "description": "Update a guest profile with all information relative to a guest,\nincluding preferences, and other data.\n",
        "operationId": "put-guest",
        "requestBody": {
          "$ref": "#/components/requestBodies/GuestRequest"
        },
        "summary": "Update a guest profile"
      }
    },
    "/interface": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationResponse"
                }
              }
            },
            "description": "Created"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorized -> Invalid APIKey"
          }
        },
        "tags": [
          "Configuration (External system to Abitari)"
        ],
        "description": "Request access for a new interface connection, for which Abitari will\nprovide a username and password.\n",
        "operationId": "post-interface",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationRequest"
              }
            }
          },
          "description": "Integration request",
          "required": true
        },
        "summary": "Register a new interface"
      }
    },
    "/lostandfound": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LostAndFoundResponse"
                }
              }
            },
            "description": "Created"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Conflict"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Messaging"
        ],
        "description": "Create a lost and found object issue in a room.\n",
        "operationId": "post-lostandfound",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LostAndFoundRequest"
              }
            }
          },
          "description": "Lost and found request",
          "required": true
        },
        "summary": "Create a lost and found object issue."
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LostAndFoundResponse"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Messaging"
        ],
        "description": "Update a lost and found object issue in a room.\n",
        "operationId": "put-lostandfound",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LostAndFoundRequest"
              }
            }
          },
          "description": "Lost and found object request",
          "required": true
        },
        "summary": "Update a lost and found object issue"
      }
    },
    "/reservation": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationResponse"
                }
              }
            },
            "description": "Created"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Conflict"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Messaging"
        ],
        "description": "Create a guest reservation.\n",
        "operationId": "post-reservation",
        "requestBody": {
          "$ref": "#/components/requestBodies/ReservationRequest"
        },
        "summary": "Create a resevation"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationResponse"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Messaging"
        ],
        "description": "Update a guest reservation.\n",
        "operationId": "put-reservation",
        "requestBody": {
          "$ref": "#/components/requestBodies/ReservationRequest"
        },
        "summary": "Update a guest reservation"
      }
    },
    "/resort": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResortResponse"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Configuration (External system to Abitari)",
          "Messaging"
        ],
        "description": "Update a resort profile with all information relative to the resort name, stars, etc.\n",
        "operationId": "put-resort",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResortRequest"
              }
            }
          },
          "description": "Resort request",
          "required": true
        },
        "summary": "Update a resort"
      }
    },
    "/rest-auth/login": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Configuration (External system to Abitari)"
        ],
        "description": "Obtain a session token.\n",
        "operationId": "post-rest-auth-login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "description": "Login request",
          "required": true
        },
        "summary": "Login"
      }
    },
    "/room": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomResponse"
                }
              }
            },
            "description": "Created"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Conflict"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Messaging"
        ],
        "description": "Create a room of a property.\n",
        "operationId": "post-room",
        "requestBody": {
          "$ref": "#/components/requestBodies/RoomRequest"
        },
        "summary": "Create a room"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomResponse"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Messaging"
        ],
        "description": "Update a room of a property.\n",
        "operationId": "put-room",
        "requestBody": {
          "$ref": "#/components/requestBodies/RoomRequest"
        },
        "summary": "Update a room"
      }
    },
    "/roomrepair": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomRepairResponse"
                }
              }
            },
            "description": "Created"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Conflict"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Messaging"
        ],
        "description": "Create a room repair in a room.\n",
        "operationId": "post-roomrepair",
        "requestBody": {
          "$ref": "#/components/requestBodies/RoomRepairRequest"
        },
        "summary": "Create a room repair"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomRepairResponse"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Messaging"
        ],
        "description": "Update a room repair in a room.\n",
        "operationId": "put-roomrepair",
        "requestBody": {
          "$ref": "#/components/requestBodies/RoomRepairRequest"
        },
        "summary": "Update a room repair in a room"
      }
    },
    "/webhook": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Configuration (External system to Abitari)"
        ],
        "description": "Unsubscribe from an existing webhook\n",
        "operationId": "delete-webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "Existing webhook unique identifier",
          "required": true
        },
        "summary": "Unsubscribe from an existing webhook"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            },
            "description": "Created"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Conflict"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Configuration (External system to Abitari)"
        ],
        "description": "Subscribe to a new webhook with details sent in body. When a webhook is created, it provides a way for your application to be notified when some event occurs. For example, if you are subscribed to room, then each time a room is update in Abitari, a POST request will be sent to your specified url with a RoomResponse body. Available event notifications are\n  - room (RoomResponse)\n  - roomrepair (RoomRepairResponse)\n",
        "operationId": "post-webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          },
          "description": "Webhook request",
          "required": true
        },
        "summary": "Subscribe to a new webhook"
      }
    }
  },
  "components": {
    "requestBodies": {
      "GuestRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GuestRequest"
            }
          }
        },
        "description": "Guest request",
        "required": true
      },
      "ReservationRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ReservationRequest"
            }
          }
        },
        "description": "Reservation request",
        "required": true
      },
      "RoomRepairRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RoomRepairRequest"
            }
          }
        },
        "description": "Room repair request",
        "required": true
      },
      "RoomRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RoomRequest"
            }
          }
        },
        "description": "Room request",
        "required": true
      }
    },
    "schemas": {
      "AgeCodeType": {
        "enum": [
          "adult",
          "child",
          "baby"
        ],
        "type": "string"
      },
      "Error": {
        "properties": {
          "code": {
            "format": "int32",
            "type": "integer"
          },
          "fields": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code"
        ],
        "type": "object"
      },
      "GuestCountType": {
        "properties": {
          "age_code": {
            "$ref": "#/components/schemas/AgeCodeType"
          },
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "age_code",
          "count"
        ],
        "type": "object"
      },
      "GuestPreferenceType": {
        "properties": {
          "name": {
            "description": "Guest preference name.",
            "enum": [
              "newspaper",
              "drink",
              "menu"
            ],
            "type": "string"
          },
          "value": {
            "description": "Guest preference value.",
            "type": "string"
          }
        },
        "required": [
          "name",
          "value"
        ],
        "type": "object"
      },
      "GuestRequest": {
        "properties": {
          "age_code": {
            "$ref": "#/components/schemas/AgeCodeType"
          },
          "family_name": {
            "description": "Guest family name (usually same as last name).",
            "type": "string"
          },
          "first_name": {
            "description": "Guest first name.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier representing a specific guest.",
            "type": "string"
          },
          "last_name": {
            "description": "Guest last name.",
            "type": "string"
          },
          "phone_number": {
            "description": "Guest phone number",
            "type": "string"
          },
          "preferences": {
            "items": {
              "$ref": "#/components/schemas/GuestPreferenceType"
            },
            "type": "array"
          },
          "vip": {
            "description": "Guest vip status",
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "first_name",
          "last_name",
          "family_name",
          "age_code"
        ],
        "type": "object"
      },
      "GuestResponse": {
        "properties": {
          "age_code": {
            "$ref": "#/components/schemas/AgeCodeType"
          },
          "family_name": {
            "description": "Guest family name (usually same as last name).",
            "type": "string"
          },
          "first_name": {
            "description": "Guest first name.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier representing a specific guest.",
            "type": "string"
          },
          "last_name": {
            "description": "Guest last name.",
            "type": "string"
          },
          "preferences": {
            "items": {
              "$ref": "#/components/schemas/GuestPreferenceType"
            },
            "type": "array"
          },
          "vip": {
            "description": "Guest vip status",
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "first_name",
          "last_name",
          "family_name",
          "age_code"
        ],
        "type": "object"
      },
      "IntegrationRequest": {
        "properties": {
          "api_key": {
            "description": "Provided api key for the external system. Contact api@abitari.com to get one.",
            "type": "string"
          },
          "url_auth": {
            "description": "Url to which Abitari will POST a login request with the provided username and the password entered by the user.",
            "type": "string"
          },
          "url_resync": {
            "description": "Url to wich Abitari will POST a resync request so the external system knows it has to resend all the information (i.e. send the status of each room, etc). Triggered automatically the first time the user uses Abitari and by manual request he can perform in the app.",
            "type": "string"
          },
          "username": {
            "description": "Username to be used to access to the external system.",
            "type": "string"
          }
        },
        "required": [
          "username",
          "api_key",
          "url_auth",
          "url_resync"
        ],
        "type": "object"
      },
      "IntegrationResponse": {
        "properties": {
          "password": {
            "description": "The password that the external system must user in order to perform a login in Abitari.",
            "type": "string"
          },
          "username": {
            "description": "Username that the external system must use in order to perform a login in Abitari.",
            "type": "string"
          }
        },
        "required": [
          "username",
          "password"
        ],
        "type": "object"
      },
      "LoginRequest": {
        "properties": {
          "password": {
            "description": "The password that the external system must user in order to perform a login in Abitari. Provided in POST /integration.",
            "type": "string"
          },
          "username": {
            "description": "Username that the external system must use in order to perform a login in Abitari. Provided in POST /integration.",
            "type": "string"
          }
        },
        "required": [
          "username",
          "password"
        ],
        "type": "object"
      },
      "LoginResponse": {
        "properties": {
          "token": {
            "description": "Access token to be set in the header of Messaging requests (Authorization, Token k23jñdflakj21lk3j...).",
            "type": "string"
          }
        },
        "required": [
          "token"
        ],
        "type": "object"
      },
      "LostAndFoundRequest": {
        "properties": {
          "id": {
            "description": "Unique identifier representing a specific lost and found object.",
            "type": "string"
          },
          "object_description": {
            "description": "Description of the lost and found object.",
            "type": "string"
          },
          "room_id": {
            "description": "Unique identifier representing the specific room where the object has been found.",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/LostAndFoundStatusType"
          }
        },
        "required": [
          "id",
          "room_id",
          "object_description"
        ],
        "type": "object"
      },
      "LostAndFoundResponse": {
        "properties": {
          "id": {
            "description": "Unique identifier representing a specific lost and found object.",
            "type": "string"
          },
          "object_description": {
            "description": "Description of the lost and found object.",
            "type": "string"
          },
          "room_id": {
            "description": "Unique identifier representing the specific room where the object has been found.",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/LostAndFoundStatusType"
          }
        },
        "required": [
          "id",
          "room_id",
          "object_description",
          "status"
        ],
        "type": "object"
      },
      "LostAndFoundStatusType": {
        "description": "Lost and found object claiming status.",
        "enum": [
          "claimed",
          "not_claimed"
        ],
        "type": "string"
      },
      "ReservationRequest": {
        "properties": {
          "accompany_guests": {
            "items": {
              "$ref": "#/components/schemas/GuestRequest"
            },
            "type": "array"
          },
          "arrival_date": {
            "description": "Arrival date of the guest. [https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14]",
            "format": "dateTime",
            "type": "string"
          },
          "departure_date": {
            "description": "Departure date of the guest. [https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14]",
            "format": "dateTime",
            "type": "string"
          },
          "guest": {
            "$ref": "#/components/schemas/GuestRequest"
          },
          "guest_comment": {
            "description": "Message that must be displayed to the cleaner (additional bed required, etc)",
            "type": "string"
          },
          "guest_counts": {
            "items": {
              "$ref": "#/components/schemas/GuestCountType"
            },
            "type": "array"
          },
          "guest_id": {
            "description": "Unique identifier representing the guest profile.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier representing a specific reservation.",
            "type": "string"
          },
          "room": {
            "$ref": "#/components/schemas/RoomRequest"
          },
          "room_id": {
            "description": "Unique identifier representing the reserved room.",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ReservationStatusType"
          },
          "transportation": {
            "items": {
              "$ref": "#/components/schemas/TransportationType"
            },
            "type": "array"
          }
        },
        "required": [
          "id",
          "guest_id",
          "room_id",
          "arrival_date",
          "departure_date",
          "status"
        ],
        "type": "object"
      },
      "ReservationResponse": {
        "properties": {
          "accompany_guests": {
            "items": {
              "$ref": "#/components/schemas/GuestResponse"
            },
            "type": "array"
          },
          "arrival_date": {
            "description": "Arrival date of the guest. [https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14]",
            "format": "dateTime",
            "type": "string"
          },
          "departure_date": {
            "description": "Departure date of the guest. [https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14]",
            "format": "dateTime",
            "type": "string"
          },
          "guest": {
            "$ref": "#/components/schemas/GuestResponse"
          },
          "guest_comment": {
            "description": "Message that must be displayed to the cleaner (additional bed required, etc)",
            "type": "string"
          },
          "guest_counts": {
            "items": {
              "$ref": "#/components/schemas/GuestCountType"
            },
            "type": "array"
          },
          "guest_id": {
            "description": "Unique identifier representing the guest profile.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier representing a specific reservation.",
            "type": "string"
          },
          "room": {
            "$ref": "#/components/schemas/RoomResponse"
          },
          "room_id": {
            "description": "Unique identifier representing the reserved room.",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ReservationStatusType"
          },
          "transportation": {
            "items": {
              "$ref": "#/components/schemas/TransportationType"
            },
            "type": "array"
          }
        },
        "required": [
          "id",
          "guest_id",
          "room_id",
          "arrival_date",
          "departure_date",
          "status"
        ],
        "type": "object"
      },
      "ReservationStatusType": {
        "description": "Reservation status.",
        "enum": [
          "cancelled",
          "checked_in",
          "checked_out",
          "reserved"
        ],
        "type": "string"
      },
      "ResortRequest": {
        "properties": {
          "change_of_sheets_days": {
            "description": "Number of days after which sheets must be changed in a stay over room. Default is 2.",
            "type": "integer"
          },
          "id": {
            "description": "Unique identifier representing the resort.",
            "type": "string"
          },
          "inspection_enabled": {
            "description": "True if rooms are inspected before becoming ready, False if there is no supervision. Default is True.",
            "type": "boolean"
          },
          "maintenance_email": {
            "description": "The email that maintenance issues will be sent to.",
            "type": "string"
          },
          "minibar_enabled": {
            "description": "True if minibar consumptions must be tracked with the app by room attendants.",
            "type": "boolean"
          },
          "name": {
            "description": "Name of the resort.",
            "type": "string"
          },
          "reception_email": {
            "description": "The email of the receptionist account.",
            "type": "string"
          },
          "stars": {
            "description": "Number of stars.",
            "type": "integer"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "type": "object"
      },
      "ResortResponse": {
        "properties": {
          "change_of_sheets_days": {
            "description": "Number of days after which sheets must be changed in a stay over room. Default is 2.",
            "type": "integer"
          },
          "id": {
            "description": "Unique identifier representing the resort.",
            "type": "string"
          },
          "inspection_enabled": {
            "description": "True if rooms are inspected before becoming ready, False if there is no supervision. Default is True.",
            "type": "boolean"
          },
          "maintenance_email": {
            "description": "The email that maintenance issues will be sent to.",
            "type": "string"
          },
          "minibar_enabled": {
            "description": "True if minibar consumptions must be tracked with the app by room attendants.",
            "type": "boolean"
          },
          "name": {
            "description": "Name of the resort.",
            "type": "string"
          },
          "reception_email": {
            "description": "The email of the receptionist account.",
            "type": "string"
          },
          "stars": {
            "description": "Number of stars.",
            "type": "integer"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "type": "object"
      },
      "RoomCleanStatusType": {
        "enum": [
          "clean",
          "dirty",
          "pickup",
          "inspected"
        ],
        "type": "string"
      },
      "RoomFrontOfficeStatusType": {
        "enum": [
          "vacant",
          "occupied"
        ],
        "type": "string"
      },
      "RoomRepairRequest": {
        "properties": {
          "end_date": {
            "description": "Date in which the room repair has finished.",
            "format": "dateTime",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier representing a specific room repair.",
            "type": "string"
          },
          "reason": {
            "description": "Reason of the room repair.",
            "type": "string"
          },
          "repair_status": {
            "$ref": "#/components/schemas/RoomRepairStatusType"
          },
          "room_id": {
            "description": "Unique identifier representing the room to be repaired.",
            "type": "string"
          },
          "room_status": {
            "$ref": "#/components/schemas/RoomRepairRoomStatusType"
          },
          "start_date": {
            "description": "Date in which the room repair has initiated.",
            "format": "dateTime",
            "type": "string"
          }
        },
        "required": [
          "id",
          "room_id",
          "reason"
        ],
        "type": "object"
      },
      "RoomRepairResponse": {
        "properties": {
          "end_date": {
            "description": "Date in which the room repair has finished.",
            "format": "dateTime",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier representing a specific room repair.",
            "type": "string"
          },
          "reason": {
            "description": "Reason of the room repair.",
            "type": "string"
          },
          "repair_status": {
            "$ref": "#/components/schemas/RoomRepairStatusType"
          },
          "room_id": {
            "description": "Unique identifier representing the room to be repaired.",
            "type": "string"
          },
          "room_status": {
            "$ref": "#/components/schemas/RoomRepairRoomStatusType"
          },
          "start_date": {
            "description": "Date in which the room repair has initiated.",
            "format": "dateTime",
            "type": "string"
          }
        },
        "required": [
          "id",
          "room_id",
          "reason"
        ],
        "type": "object"
      },
      "RoomRepairRoomStatusType": {
        "description": "Status of OOO/OOS that the room has to change to during the repair.",
        "enum": [
          "OutOfOrder",
          "OutOfService"
        ],
        "type": "string"
      },
      "RoomRepairStatusType": {
        "description": "Status of the room repair.",
        "enum": [
          "reported",
          "repaired"
        ],
        "type": "string"
      },
      "RoomRequest": {
        "properties": {
          "clean_status": {
            "$ref": "#/components/schemas/RoomCleanStatusType"
          },
          "front_office_status": {
            "$ref": "#/components/schemas/RoomFrontOfficeStatusType"
          },
          "id": {
            "description": "Unique identifier representing a specific room.",
            "type": "string"
          },
          "number": {
            "description": "Room number.",
            "type": "string"
          },
          "out_of_order": {
            "description": "Room Out Of Order.",
            "type": "boolean"
          },
          "out_of_service": {
            "description": "Room Out Of service.",
            "type": "boolean"
          },
          "property_id": {
            "description": "Unique identifier representing the property of the room.",
            "type": "string"
          },
          "room_types": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "id",
          "property_id",
          "number"
        ],
        "type": "object"
      },
      "RoomResponse": {
        "properties": {
          "clean_status": {
            "$ref": "#/components/schemas/RoomCleanStatusType"
          },
          "front_office_status": {
            "$ref": "#/components/schemas/RoomFrontOfficeStatusType"
          },
          "id": {
            "description": "Unique identifier representing a specific room.",
            "type": "string"
          },
          "number": {
            "description": "Room number.",
            "type": "string"
          },
          "out_of_order": {
            "description": "Room Out Of Order.",
            "type": "boolean"
          },
          "out_of_service": {
            "description": "Room Out Of service.",
            "type": "boolean"
          },
          "property_id": {
            "description": "Unique identifier representing the property of the room.",
            "type": "string"
          },
          "room_types": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "id",
          "property_id",
          "number"
        ],
        "type": "object"
      },
      "TransportationType": {
        "properties": {
          "direction": {
            "description": "Arrival or departure direction.",
            "enum": [
              "arrival",
              "departure"
            ],
            "type": "string"
          },
          "transport_date": {
            "description": "Date of transportation [https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14]",
            "format": "dateTime",
            "type": "string"
          },
          "transport_type": {
            "enum": [
              "air",
              "water",
              "ground"
            ],
            "type": "string"
          }
        },
        "required": [
          "direction",
          "transport_date",
          "transport_type"
        ],
        "type": "object"
      },
      "WebhookRequest": {
        "properties": {
          "event": {
            "description": "Event that triggers the notification (typicaly resource.action, for example room.update.",
            "type": "string"
          },
          "target_url": {
            "description": "Consumer endpoint that processes the notification.",
            "type": "string"
          }
        },
        "required": [
          "event",
          "target_url"
        ],
        "type": "object"
      },
      "WebhookResponse": {
        "properties": {
          "event": {
            "description": "Event that triggers the notification (typicaly resource.action, for example room.update.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier representing a webhook.",
            "type": "string"
          },
          "target_url": {
            "description": "Consumer endpoint that processes the notification.",
            "type": "string"
          }
        },
        "required": [
          "id",
          "event",
          "target_url"
        ],
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "Configuration (External system to Abitari)"
    },
    {
      "name": "Messaging"
    }
  ]
}