{
  "openapi": "3.0.3",
  "info": {
    "title": "IPIP IP Geolocation",
    "version": "2.0.0",
    "description": "IPIP.net IP geolocation query API v2. Provides IP address geolocation data including country, region, city, coordinates, and timezone information.",
    "x-jentic-source-url": "https://www.ipip.net/document/api_v2.html"
  },
  "servers": [
    {
      "url": "https://ipapi.ipip.net"
    }
  ],
  "paths": {
    "/v2/query/{ip}": {
      "get": {
        "operationId": "queryIp",
        "summary": "Query geolocation for a specified IP address",
        "tags": [
          "IP Query"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IP address to query",
            "example": "118.28.8.8"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful IP geolocation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid IP address format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/query/current": {
      "get": {
        "operationId": "queryCurrentIp",
        "summary": "Query geolocation for the current request source IP",
        "tags": [
          "IP Query"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful IP geolocation result for the requester",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "QueryResponse": {
        "type": "object",
        "properties": {
          "ret": {
            "type": "string",
            "enum": [
              "ok"
            ],
            "description": "Response status"
          },
          "data": {
            "$ref": "#/components/schemas/IpGeolocation"
          }
        },
        "required": [
          "ret",
          "data"
        ]
      },
      "IpGeolocation": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "Queried IP address"
          },
          "country_name": {
            "type": "string",
            "description": "Country name"
          },
          "region_name": {
            "type": "string",
            "description": "Region or province name"
          },
          "city_name": {
            "type": "string",
            "description": "City name"
          },
          "owner_domain": {
            "type": "string",
            "description": "Owner domain"
          },
          "isp_domain": {
            "type": "string",
            "description": "ISP domain"
          },
          "latitude": {
            "type": "string",
            "description": "Latitude coordinate"
          },
          "longitude": {
            "type": "string",
            "description": "Longitude coordinate"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone identifier"
          },
          "utc_offset": {
            "type": "string",
            "description": "UTC offset"
          },
          "china_admin_code": {
            "type": "string",
            "description": "China administrative area code"
          },
          "idd_code": {
            "type": "string",
            "description": "International direct dial code"
          },
          "country_code": {
            "type": "string",
            "description": "ISO country code"
          },
          "continent_code": {
            "type": "string",
            "description": "Continent code"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ret": {
            "type": "string",
            "enum": [
              "err"
            ],
            "description": "Error status"
          },
          "msg": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "ret",
          "msg"
        ]
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API token for authentication"
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "IP Query",
      "description": "IP geolocation query endpoints"
    }
  ]
}