{
  "openapi": "3.0.0",
  "info": {
    "description": "This API describe ACE Provisioning ManagementPartner",
    "title": "ACE Provisioning ManagementPartner",
    "version": "2018-02-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/managementpartner-ManagementPartner/2018-02-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/managementpartner/resource-manager/Microsoft.ManagementPartner/preview/2018-02-01/ManagementPartner.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "managementpartner-ManagementPartner",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.ManagementPartner/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            },
            "description": "List all the operations."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Operation"
        ],
        "description": "List all the operations.",
        "operationId": "Operation_List",
        "summary": "Get operations.",
        "x-ms-examples": {
          "GetOperations": {
            "parameters": {
              "api-version": "2018-02-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "display": {
                        "description": "Read All ManagementPartner",
                        "operation": "Get ManagementPartner",
                        "provider": "Microsoft ManagementPartner",
                        "resource": "ManagementPartner"
                      },
                      "name": "Microsoft.ManagementPartner/partners/read"
                    },
                    {
                      "display": {
                        "description": "Create any ManagementPartner",
                        "operation": "Create ManagementPartner",
                        "provider": "Microsoft ManagementPartner",
                        "resource": "ManagementPartner"
                      },
                      "name": "Microsoft.ManagementPartner/partners/write"
                    },
                    {
                      "display": {
                        "description": "Update any ManagementPartner",
                        "operation": "Update ManagementPartner",
                        "provider": "Microsoft ManagementPartner",
                        "resource": "ManagementPartner"
                      },
                      "name": "Microsoft.ManagementPartner/partners/action"
                    },
                    {
                      "display": {
                        "description": "Delete any ManagementPartner",
                        "operation": "Delete ManagementPartner",
                        "provider": "Microsoft ManagementPartner",
                        "resource": "ManagementPartner"
                      },
                      "name": "Microsoft.ManagementPartner/partners/delete"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ManagementPartner/partners": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerResponse"
                }
              }
            },
            "description": "Get the details of the `Partner`."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Partners"
        ],
        "description": "Get the management partner using the objectId and tenantId.",
        "operationId": "Partners_Get",
        "summary": "Get a specific `Partner`.",
        "x-ms-examples": {
          "GetPartnerDetails": {
            "parameters": {
              "api-version": "2018-02-01"
            },
            "responses": {
              "200": {
                "body": {
                  "etag": 3,
                  "id": "/providers/microsoft.managementpartner/partners",
                  "name": "123456",
                  "properties": {
                    "createdTime": "2018-01-20 01:23:40.528049+00:00",
                    "objectId": "aa67f786-0552-423e-8849-244ed12bf581",
                    "partnerId": "123456",
                    "partnerName": "Test_jefl",
                    "state": "Active",
                    "tenantId": "1b1121dd-6900-412a-af73-e8d44f81e1c1",
                    "updatedTime": "2018-01-20 01:52:57.912605+00:00",
                    "version": "3"
                  },
                  "type": "Microsoft.ManagementPartner/partner"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.ManagementPartner/partners/{partnerId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/PartnerIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted the `Partner`."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Partner"
        ],
        "description": "Delete the management partner for the objectId and tenantId.",
        "operationId": "Partner_Delete",
        "summary": "Delete a specific `Partner`.",
        "x-ms-examples": {
          "DeletePartnerDetails": {
            "parameters": {
              "api-version": "2018-02-01",
              "partnerId": "123456"
            },
            "responses": {
              "200": {
                "body": ""
              }
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/PartnerIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerResponse"
                }
              }
            },
            "description": "Get the details of the `Partner`."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Partner"
        ],
        "description": "Get the management partner using the partnerId, objectId and tenantId.",
        "operationId": "Partner_Get",
        "summary": "Get a specific `Partner`.",
        "x-ms-examples": {
          "GetPartnerDetails": {
            "parameters": {
              "api-version": "2018-02-01",
              "partnerId": "123456"
            },
            "responses": {
              "200": {
                "body": {
                  "etag": 3,
                  "id": "/providers/microsoft.managementpartner/partners/123456",
                  "name": "123456",
                  "properties": {
                    "createdTime": "2018-01-20 01:23:40.528049+00:00",
                    "objectId": "aa67f786-0552-423e-8849-244ed12bf581",
                    "partnerId": "123456",
                    "partnerName": "Test_jefl",
                    "state": "Active",
                    "tenantId": "1b1121dd-6900-412a-af73-e8d44f81e1c1",
                    "updatedTime": "2018-01-20 01:52:57.912605+00:00",
                    "version": "3"
                  },
                  "type": "Microsoft.ManagementPartner/partner"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/PartnerIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerResponse"
                }
              }
            },
            "description": "Get the details of the `Partner`."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Partner"
        ],
        "description": "Update the management partner for the objectId and tenantId.",
        "operationId": "Partner_Update",
        "summary": "Update a specific `Partner`.",
        "x-ms-examples": {
          "PatchPartnerDetails": {
            "parameters": {
              "api-version": "2018-02-01",
              "partnerId": "123456"
            },
            "responses": {
              "200": {
                "body": {
                  "etag": 3,
                  "id": "/providers/microsoft.managementpartner/partners/123456",
                  "name": "123456",
                  "properties": {
                    "createdTime": "2018-01-20 01:23:40.528049+00:00",
                    "objectId": "aa67f786-0552-423e-8849-244ed12bf581",
                    "partnerId": "123456",
                    "partnerName": "Test_jefl",
                    "state": "Active",
                    "tenantId": "1b1121dd-6900-412a-af73-e8d44f81e1c1",
                    "updatedTime": "2018-01-20 01:52:57.912605+00:00",
                    "version": "3"
                  },
                  "type": "Microsoft.ManagementPartner/partner"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/PartnerIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerResponse"
                }
              }
            },
            "description": "Get the details of the `Partner`."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Partner"
        ],
        "description": "Create a management partner for the objectId and tenantId.",
        "operationId": "Partner_Create",
        "summary": "Create a specific `Partner`.",
        "x-ms-examples": {
          "PutPartnerDetails": {
            "parameters": {
              "api-version": "2018-02-01",
              "partnerId": "123456"
            },
            "responses": {
              "200": {
                "body": {
                  "etag": 3,
                  "id": "/providers/microsoft.managementpartner/partners/123456",
                  "name": "123456",
                  "properties": {
                    "createdTime": "2018-01-20 01:23:40.528049+00:00",
                    "objectId": "aa67f786-0552-423e-8849-244ed12bf581",
                    "partnerId": "123456",
                    "partnerName": "Test_jefl",
                    "state": "Active",
                    "tenantId": "1b1121dd-6900-412a-af73-e8d44f81e1c1",
                    "updatedTime": "2018-01-20 01:52:57.912605+00:00",
                    "version": "3"
                  },
                  "type": "Microsoft.ManagementPartner/partner"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Supported version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "PartnerIdParameter": {
        "description": "Id of the Partner",
        "in": "path",
        "name": "partnerId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "Error": {
        "description": "this is the management partner operations error",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ExtendedErrorInfo",
            "description": "this is the ExtendedErrorInfo property"
          }
        },
        "type": "object"
      },
      "ErrorResponseCode": {
        "description": "this is the error response code that management partner operations may return",
        "enum": [
          "NotFound",
          "Conflict",
          "BadRequest"
        ],
        "type": "string"
      },
      "ExtendedErrorInfo": {
        "description": "this is the extended error info",
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ErrorResponseCode",
            "description": "this is the error response code"
          },
          "message": {
            "description": "this is the extended error info message",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ManagementPartnerState": {
        "description": "this is the management partner state: Active or Deleted",
        "enum": [
          "Active",
          "Deleted"
        ],
        "type": "string"
      },
      "OperationDisplay": {
        "description": "this is the management partner operation",
        "properties": {
          "description": {
            "description": "the is management partner operation description",
            "type": "string"
          },
          "operation": {
            "description": "the is management partner operation",
            "type": "string"
          },
          "provider": {
            "description": "the is management partner provider",
            "type": "string"
          },
          "resource": {
            "description": "the is management partner resource",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationList": {
        "description": "this is the management partner operations list",
        "properties": {
          "nextLink": {
            "description": "Url to get the next page of items.",
            "type": "string"
          },
          "value": {
            "description": "this is the operation response list",
            "items": {
              "$ref": "#/components/schemas/OperationResponse",
              "description": "this is the operation response property"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "OperationResponse": {
        "description": "this is the management partner operations response",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/OperationDisplay",
            "description": "this is the operation display"
          },
          "name": {
            "description": "this is the operation response name",
            "type": "string"
          },
          "origin": {
            "description": "the is operation response origin information",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PartnerProperties": {
        "description": "this is the management partner properties",
        "properties": {
          "createdTime": {
            "description": "This is the DateTime when the partner was created.",
            "format": "date-time",
            "type": "string"
          },
          "objectId": {
            "description": "This is the object id.",
            "type": "string"
          },
          "partnerId": {
            "description": "This is the partner id",
            "type": "string"
          },
          "partnerName": {
            "description": "This is the partner name",
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/ManagementPartnerState",
            "description": "This is the partner state",
            "x-ms-client-flatten": true
          },
          "tenantId": {
            "description": "This is the tenant id.",
            "type": "string"
          },
          "updatedTime": {
            "description": "This is the DateTime when the partner was updated.",
            "format": "date-time",
            "type": "string"
          },
          "version": {
            "description": "This is the version.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PartnerResponse": {
        "description": "this is the management partner operations response",
        "properties": {
          "etag": {
            "description": "Type of the partner",
            "type": "integer"
          },
          "id": {
            "description": "Identifier of the partner",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the partner",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/PartnerProperties",
            "description": "Properties of the partner",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Type of resource. \"Microsoft.ManagementPartner/partners\"",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}