{
  "openapi": "3.0.0",
  "info": {
    "description": "Azure Resource Graph Query API Reference",
    "title": "Azure Resource Graph Query",
    "version": "2018-09-01-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/resourcegraph-graphquery/2018-09-01-preview/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/graphquery.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "resourcegraph-graphquery",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceGraph/queries": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQueryListResult"
                }
              }
            },
            "description": "A list containing 0 or more graph queries."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQueryError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Get all graph queries defined within a specified subscription and resource group.",
        "operationId": "GraphQuery_List",
        "x-ms-examples": {
          "Get a list of Graph Queries": {
            "parameters": {
              "api-version": "2018-09-01-preview",
              "resourceGroupName": "my-resource-group",
              "subscriptionId": "024e2271-06fa-46b6-9079-f1ed3c7b070e"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/subscriptionId/providers/Microsoft.ResourceGraph/queries?api-version=2019-09-01-preview&$top=10&$skiptoken=skiptoken",
                  "value": [
                    {
                      "tags": {},
                      "eTag": "5d64408e-4ca3-41f7-b725-6914f3012afa",
                      "id": "/subscriptions/87f4f8b0-83c1-4aa9-b318-5237aeb15264/resources/rid1/providers/Microsoft.ResourceGraph/queries/MyDockerVMs",
                      "name": "MyDockerVMs",
                      "properties": {
                        "description": "Docker VMs in PROD",
                        "query": "where isnotnull(tags['Prod']) and properties.extensions[0].Name == 'docker'",
                        "resultKind": "basic",
                        "timeModified": "2019-03-12 13:51:13-07:00"
                      },
                      "type": "Microsoft.ResourceGraph/queries"
                    },
                    {
                      "tags": {},
                      "eTag": "b0809832-ca62-4133-8f13-0c46580f9db1",
                      "id": "/subscriptions/6abb2f31-3e6a-4134-9968-219a596012a0/resources/rid2/providers/Microsoft.ResourceGraph/queries/MyTestVMs",
                      "name": "MyTestVMs",
                      "properties": {
                        "description": "Test VMs in PROD",
                        "query": "where isnotnull(tags['Prod']) and properties.extensions[0].Name == 'test'",
                        "resultKind": "basic",
                        "timeModified": "2019-03-13 13:51:13-07:00"
                      },
                      "type": "Microsoft.ResourceGraph/queries"
                    }
                  ]
                }
              }
            },
            "description": "Get a list of saved queries within subscription id and resource group.",
            "title": "Get a list of saved queries"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceGraph/queries/{resourceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/GraphQueryResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The graph query has been successfully deleted."
          },
          "204": {
            "description": "The resource doesn't exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQueryError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Delete a graph query.",
        "operationId": "GraphQuery_Delete",
        "x-ms-examples": {
          "Delete Graph Query": {
            "parameters": {
              "api-version": "2018-09-01-preview",
              "resourceGroupName": "my-resource-group",
              "resourceName": "MyDockerVM",
              "subscriptionId": "024e2271-06fa-46b6-9079-f1ed3c7b070e"
            },
            "responses": {
              "200": {},
              "204": {}
            },
            "description": "Delete a saved query resource by subid, resource group, and resource name.",
            "title": "Delete a saved query"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/GraphQueryResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQueryResource"
                }
              }
            },
            "description": "A graph query definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQueryError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Get a single graph query by its resourceName.",
        "operationId": "GraphQuery_Get",
        "x-ms-examples": {
          "Get Graph Query": {
            "parameters": {
              "api-version": "2018-09-01-preview",
              "resourceGroupName": "my-resource-group",
              "resourceName": "MyDockerVMs",
              "subscriptionId": "024e2271-06fa-46b6-9079-f1ed3c7b070e"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": null,
                  "eTag": "5d64408e-4ca3-41f7-b725-6914f3012afa",
                  "id": " /subscriptions/024e2271-06fa-46b6-9079-f1ed3c7b070e/resources/my-resource-group/providers/Microsoft.ResourceGraph/queries/MyDockerVMs",
                  "name": "MyDockerVMs",
                  "properties": {
                    "description": "Docker VMs in PROD",
                    "query": "where isnotnull(tags['Prod']) and properties.extensions[0].Name == 'docker'",
                    "resultKind": "basic",
                    "timeModified": "2019-03-12 13:51:13-07:00"
                  },
                  "type": "Microsoft.ResourceGraph/queries"
                }
              }
            },
            "description": "Get a saved query resource by subid, resource group, and resource name.",
            "title": "Get a saved query"
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/GraphQueryResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQueryResource"
                }
              }
            },
            "description": "The graph query definition updated."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQueryError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Updates a graph query that has already been added.",
        "operationId": "GraphQuery_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQueryUpdateParameters"
              }
            }
          },
          "description": "Properties that need to be specified to create a new graph query.",
          "required": true
        },
        "x-ms-examples": {
          "Update Graph Query": {
            "parameters": {
              "api-version": "2018-09-01-preview",
              "body": {
                "tags": null,
                "eTag": "b0809832-ca62-4133-8f13-0c46580f9db1",
                "properties": {
                  "description": "Modified description",
                  "query": "where isnotnull(tags['Prod']) and properties.extensions[0].Name == 'docker'"
                }
              },
              "resourceGroupName": "my-resource-group",
              "resourceName": "MyDockerVMs",
              "subscriptionId": "024e2271-06fa-46b6-9079-f1ed3c7b070e"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": null,
                  "eTag": "73811091-6188-4523-97b7-b5e7134e7fd9",
                  "id": " /subscriptions/024e2271-06fa-46b6-9079-f1ed3c7b070e/resources/my-resource-group/providers/Microsoft.ResourceGraph/queries/MyDockerVMs",
                  "name": "MyDockerVMs",
                  "properties": {
                    "description": "Modified description",
                    "query": "where isnotnull(tags['Prod']) and properties.extensions[0].Name == 'docker'",
                    "resultKind": "basic",
                    "timeModified": "2019-03-14 13:51:13-07:00"
                  },
                  "type": "Microsoft.ResourceGraph/queries"
                }
              }
            },
            "description": "Update the existing saved query resource.",
            "title": "Update a saved query"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/GraphQueryResourceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQueryResource"
                }
              }
            },
            "description": "The newly created graph query."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQueryError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "description": "Create a new graph query.",
        "operationId": "GraphQuery_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQueryResource"
              }
            }
          },
          "description": "Properties that need to be specified to create a new graph query.",
          "required": true
        },
        "x-ms-examples": {
          "Create Graph Query": {
            "parameters": {
              "api-version": "2018-09-01-preview",
              "properties": {
                "tags": {},
                "properties": {
                  "description": "Docker VMs in PROD",
                  "query": "where isnotnull(tags['Prod']) and properties.extensions[0].Name == 'docker'"
                }
              },
              "resourceGroupName": "my-resource-group",
              "resourceName": "MyDockerVMs",
              "subscriptionId": "024e2271-06fa-46b6-9079-f1ed3c7b070e"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {},
                  "eTag": "5d64408e-4ca3-41f7-b725-6914f3012afa",
                  "id": " /subscriptions/024e2271-06fa-46b6-9079-f1ed3c7b070e/resources/my-resource-group/providers/Microsoft.ResourceGraph/queries/MyDockerVMs",
                  "name": "MyDockerVMs",
                  "properties": {
                    "description": "Docker VMs in PROD",
                    "query": "where isnotnull(tags['Prod']) and properties.extensions[0].Name == 'docker'",
                    "resultKind": "basic",
                    "timeModified": "2019-03-12 13:51:13-07:00"
                  },
                  "type": "Microsoft.ResourceGraph/queries"
                }
              }
            },
            "description": "Create new saved query resource.",
            "title": "Create a saved query"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "GraphQueryResourceNameParameter": {
        "description": "The name of the Graph Query resource.",
        "in": "path",
        "name": "resourceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupNameParameter": {
        "description": "The name of the resource group.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "The Azure subscription Id.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ErrorFieldContract": {
        "description": "Error Field contract.",
        "properties": {
          "code": {
            "description": "Property level error code.",
            "type": "string"
          },
          "message": {
            "description": "Human-readable representation of property-level error.",
            "type": "string"
          },
          "target": {
            "description": "Property name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GraphQueryError": {
        "description": "Error message body that will indicate why the operation failed.",
        "properties": {
          "code": {
            "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
            "type": "string"
          },
          "details": {
            "description": "The list of invalid fields send in request, in case of validation error.",
            "items": {
              "$ref": "#/components/schemas/ErrorFieldContract"
            },
            "type": "array"
          },
          "message": {
            "description": "Human-readable representation of the error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GraphQueryListResult": {
        "description": "Graph query list result.",
        "properties": {
          "nextLink": {
            "description": "URL to fetch the next set of queries.",
            "type": "string"
          },
          "value": {
            "description": "An array of graph queries.",
            "items": {
              "$ref": "#/components/schemas/GraphQueryResource"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "GraphQueryProperties": {
        "description": "Properties that contain a graph query.",
        "properties": {
          "description": {
            "description": "The description of a graph query.",
            "type": "string"
          },
          "query": {
            "description": "KQL query that will be graph.",
            "type": "string"
          },
          "resultKind": {
            "description": "Enum indicating a type of graph query.",
            "enum": [
              "basic"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ResultKind"
            }
          },
          "timeModified": {
            "description": "Date and time in UTC of the last modification that was made to this graph query definition.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "query"
        ],
        "type": "object"
      },
      "GraphQueryPropertiesUpdateParameters": {
        "description": "Properties that contain a workbook for PATCH operation.",
        "properties": {
          "description": {
            "description": "The description of a graph query.",
            "type": "string"
          },
          "query": {
            "description": "KQL query that will be graph.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GraphQueryResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Graph Query entity definition.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/GraphQueryProperties",
            "description": "Metadata describing a graph query for an Azure resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "GraphQueryUpdateParameters": {
        "description": "The parameters that can be provided when updating workbook properties properties.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "eTag": {
            "description": "This will be used to handle Optimistic Concurrency. If not present, it will always overwrite the existing resource without checking conflict.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/GraphQueryPropertiesUpdateParameters",
            "description": "Metadata describing a graph query for an Azure resource.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "An azure resource object",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "eTag": {
            "description": "This will be used to handle Optimistic Concurrency. If not present, it will always overwrite the existing resource without checking conflict.",
            "type": "string"
          },
          "id": {
            "description": "Azure resource Id",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Azure resource name. This is GUID value. The display name should be assigned within properties field.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Azure resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}