{
  "openapi": "3.0.3",
  "info": {
    "title": "FireText API",
    "version": "1.0.0",
    "description": "FireText SMS messaging API",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/firetext.co.uk/firetext/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://www.firetext.co.uk/api"
    }
  ],
  "paths": {
    "/sendsms": {
      "get": {
        "summary": "Send SMS via GET",
        "operationId": "send_sms_via_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "SMS"
        ]
      },
      "post": {
        "summary": "Send SMS via POST",
        "operationId": "send_sms_via_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/receivedmessages": {
      "get": {
        "summary": "Get received messages",
        "operationId": "get_received_messages",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "SMS"
        ]
      }
    },
    "/credit": {
      "get": {
        "summary": "Check credit balance",
        "operationId": "check_credit_balance",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    },
    "/subscribe": {
      "post": {
        "summary": "Subscribe contact",
        "operationId": "subscribe_contact",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/uploadcontacts": {
      "post": {
        "summary": "Upload contacts",
        "operationId": "upload_contacts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/addgroup": {
      "post": {
        "summary": "Add group",
        "operationId": "add_group",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/contactinfo": {
      "get": {
        "summary": "Get contact info",
        "operationId": "get_contact_info",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ]
      }
    },
    "/unsubscribe": {
      "post": {
        "summary": "Unsubscribe contact",
        "operationId": "unsubscribe_contact",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/unsubscribed": {
      "get": {
        "summary": "List unsubscribed",
        "operationId": "list_unsubscribed",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ]
      }
    },
    "/scheduledmessages": {
      "get": {
        "summary": "List scheduled messages",
        "operationId": "list_scheduled_messages",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "SMS"
        ]
      }
    },
    "/unschedule": {
      "post": {
        "summary": "Cancel scheduled message",
        "operationId": "cancel_scheduled_message",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/deliveryreport": {
      "get": {
        "summary": "Get delivery report",
        "operationId": "get_delivery_report",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/sentmessages": {
      "get": {
        "summary": "List sent messages",
        "operationId": "list_sent_messages",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "SMS"
        ]
      }
    },
    "/sentreport": {
      "get": {
        "summary": "Get sent report",
        "operationId": "get_sent_report",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/clickreport": {
      "get": {
        "summary": "Get click report",
        "operationId": "get_click_report",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/addsubaccount": {
      "post": {
        "summary": "Add sub-account",
        "operationId": "add_sub_account",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/subaccounts": {
      "get": {
        "summary": "List sub-accounts",
        "operationId": "list_sub_accounts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/transfercredit": {
      "post": {
        "summary": "Transfer credit",
        "operationId": "transfer_credit",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/addtemplate": {
      "post": {
        "summary": "Add template",
        "operationId": "add_template",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/keywords": {
      "get": {
        "summary": "List keywords",
        "operationId": "list_keywords",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Keywords"
        ]
      }
    },
    "/forward": {
      "post": {
        "summary": "Forward message",
        "operationId": "forward_message",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "x-jentic-source-url": "https://firetext.co.uk/docs"
}