{
  "openapi": "3.0.3",
  "info": {
    "title": "Abstract IP Geolocation API",
    "description": "Abstract API IP Geolocation service. Provides geolocation data for IP addresses including city, region, country, timezone, security information, and more.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.abstractapi.com"
  },
  "servers": [
    {
      "url": "https://ipgeolocation.abstractapi.com",
      "description": "Abstract IP Geolocation API"
    }
  ],
  "paths": {
    "/v1/": {
      "get": {
        "operationId": "getIpGeolocation",
        "summary": "Get IP geolocation data",
        "description": "Look up geolocation data for a given IP address, including location, timezone, security, ASN, currency, and flag information.",
        "tags": [
          "Geolocation"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your unique API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip_address",
            "in": "query",
            "required": true,
            "description": "The IP address to geolocate",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid IP address or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key passed as query parameter"
      }
    },
    "schemas": {
      "GeolocationResponse": {
        "type": "object",
        "properties": {
          "ip_address": {
            "type": "string",
            "description": "The queried IP address"
          },
          "asn": {
            "$ref": "#/components/schemas/AsnInfo"
          },
          "location": {
            "$ref": "#/components/schemas/LocationInfo"
          },
          "timezone": {
            "$ref": "#/components/schemas/TimezoneInfo"
          },
          "security": {
            "$ref": "#/components/schemas/SecurityInfo"
          },
          "flag": {
            "$ref": "#/components/schemas/FlagInfo"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyInfo"
          }
        }
      },
      "AsnInfo": {
        "type": "object",
        "properties": {
          "asn": {
            "type": "integer",
            "description": "Autonomous System Number"
          },
          "name": {
            "type": "string",
            "description": "ASN organization name"
          },
          "domain": {
            "type": "string",
            "description": "ASN organization domain"
          },
          "type": {
            "type": "string",
            "description": "ASN type"
          }
        }
      },
      "LocationInfo": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "postal_code": {
            "type": "string"
          }
        }
      },
      "TimezoneInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "abbreviation": {
            "type": "string"
          },
          "utc_offset": {
            "type": "number"
          }
        }
      },
      "SecurityInfo": {
        "type": "object",
        "properties": {
          "is_vpn": {
            "type": "boolean"
          },
          "is_proxy": {
            "type": "boolean"
          },
          "is_tor": {
            "type": "boolean"
          }
        }
      },
      "FlagInfo": {
        "type": "object",
        "properties": {
          "emoji": {
            "type": "string"
          },
          "unicode": {
            "type": "string"
          }
        }
      },
      "CurrencyInfo": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}