{
    "openapi": "3.0.0",
    "info": {
        "description": "List of all endpoints used in API",
        "version": "v2",
        "title": "Appworks API",
        "x-jentic-source-url": "https://api.swaggerhub.com/apis/Applion/any/v2/swagger.json"
    },
    "tags": [
        {
            "name": "shipping-request",
            "description": "Shipping request import from external system"
        }
    ],
    "paths": {
        "/shipping-requests/import": {
            "post": {
                "tags": [
                    "shipping-request"
                ],
                "summary": "importShipping",
                "operationId": "importShippingRequestUsingPOST",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ShippingImportRequest"
                            }
                        }
                    },
                    "description": "importRequest",
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmptyMessage"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        }
    },
    "servers": [
        {
            "url": "//appworks.applion.hu/service/ext-api"
        }
    ],
    "components": {
        "securitySchemes": {
            "Authorization": {
                "type": "apiKey",
                "name": "Authorization",
                "in": "header"
            }
        },
        "schemas": {
            "Complex": {
                "type": "object",
                "properties": {
                    "address": {
                        "type": "string"
                    },
                    "address_type": {
                        "type": "string"
                    },
                    "building": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "country_code": {
                        "$ref": "#/components/schemas/CountryCode"
                    },
                    "district": {
                        "type": "string"
                    },
                    "door": {
                        "type": "string"
                    },
                    "floor": {
                        "type": "string"
                    },
                    "house_number": {
                        "type": "string"
                    },
                    "stairway": {
                        "type": "string"
                    },
                    "zip_code": {
                        "type": "string"
                    }
                }
            },
            "Coordinate": {
                "type": "object",
                "properties": {
                    "latitude": {
                        "type": "number",
                        "format": "float"
                    },
                    "longitude": {
                        "type": "number",
                        "format": "float"
                    }
                }
            },
            "CountryCode": {
                "type": "string"
            },
            "CurrencyCode": {
                "type": "string"
            },
            "EmptyMessage": {
                "type": "object"
            },
            "ShippingImportRequest": {
                "type": "object",
                "properties": {
                    "external_id": {
                        "type": "string"
                    },
                    "request_type": {
                        "type": "string",
                        "enum": [
                            "ELECTION",
                            "NORMAL"
                        ]
                    },
                    "weight_in_gram": {
                        "type": "number"
                    },
                    "source_system": {
                        "type": "string"
                    },
                    "comment": {
                        "type": "string"
                    },
                    "customer": {
                        "$ref": "#/components/schemas/Customer"
                    },
                    "source_address": {
                        "$ref": "#/components/schemas/DeliveryAddress"
                    },
                    "destination_address": {
                        "$ref": "#/components/schemas/DeliveryAddress"
                    },
                    "recipient": {
                        "$ref": "#/components/schemas/Recipient"
                    },
                    "shipping_data": {
                        "$ref": "#/components/schemas/ShippingData"
                    },
                    "products": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Product"
                        }
                    }
                }
            },
            "Customer": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "external_id": {
                        "type": "string"
                    },
                    "phone_number": {
                        "type": "string"
                    },
                    "email_address": {
                        "type": "string"
                    }
                }
            },
            "Price": {
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "string"
                    },
                    "currency_code": {
                        "$ref": "#/components/schemas/CurrencyCode"
                    }
                }
            },
            "Recipient": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "phone_number": {
                        "type": "string"
                    },
                    "email_address": {
                        "type": "string"
                    },
                    "license_type": {
                        "type": "string"
                    },
                    "license_number": {
                        "type": "string"
                    },
                    "comment": {
                        "type": "string"
                    }
                }
            },
            "Product": {
                "type": "object",
                "properties": {
                    "product_code": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string"
                    },
                    "amount": {
                        "type": "number"
                    },
                    "unit": {
                        "type": "string"
                    },
                    "weight_in_gram": {
                        "type": "number"
                    },
                    "price": {
                        "$ref": "#/components/schemas/Price"
                    },
                    "box_id": {
                        "type": "string"
                    },
                    "unique_id": {
                        "type": "string"
                    },
                    "unique_comment": {
                        "type": "string"
                    },
                    "barcode": {
                        "type": "string"
                    }
                }
            },
            "DeliveryAddress": {
                "type": "object",
                "properties": {
                    "external_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "location_external_id": {
                        "type": "string"
                    },
                    "postal_address": {
                        "$ref": "#/components/schemas/PostalAddress"
                    }
                }
            },
            "ShippingData": {
                "type": "object",
                "properties": {
                    "external_id": {
                        "type": "string"
                    },
                    "safety_shipping": {
                        "type": "boolean"
                    },
                    "ekaer_id": {
                        "type": "string"
                    },
                    "deadline": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "company_external_id": {
                        "type": "string"
                    },
                    "stock_external_id": {
                        "type": "string"
                    }
                }
            },
            "PostalAddress": {
                "type": "object",
                "properties": {
                    "complex_address": {
                        "$ref": "#/components/schemas/Complex"
                    },
                    "coordinate": {
                        "$ref": "#/components/schemas/Coordinate"
                    },
                    "text_address": {
                        "type": "string"
                    }
                }
            }
        }
    }
}