{
  "openapi": "3.0.3",
  "info": {
    "title": "Zyte API",
    "version": "1.0.0",
    "description": "Zyte API provides web data extraction capabilities including HTTP responses, browser HTML, screenshots, and automatic data extraction.",
    "x-jentic-source-url": "https://docs.zyte.com/zyte-api/usage/index.html",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.zyte.com"
    }
  ],
  "paths": {
    "/v1/extract": {
      "post": {
        "operationId": "extract",
        "summary": "Extract data from a web page",
        "tags": [
          "Extraction"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "httpResponseBody": {
                    "type": "boolean"
                  },
                  "browserHtml": {
                    "type": "boolean"
                  },
                  "screenshot": {
                    "type": "boolean"
                  },
                  "actions": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Extraction result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limited"
          }
        },
        "description": "Extract data from a web page"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Extraction"
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}
