{
  "openapi": "3.0.3",
  "info": {
    "title": "Heap Server-Side API",
    "version": "1.0.0",
    "description": "Heap's server-side API allows you to send events, identify users, and manage user and account properties programmatically. All endpoints accept JSON payloads and use the app_id parameter for environment identification.",
    "x-jentic-source-url": "https://developers.heap.io/"
  },
  "servers": [
    {
      "url": "https://heapanalytics.com/api",
      "description": "Heap Analytics API (US)"
    },
    {
      "url": "https://c.eu.heap-api.com/api",
      "description": "Heap Analytics API (EU)"
    }
  ],
  "paths": {
    "/track": {
      "post": {
        "operationId": "trackEvent",
        "summary": "Track a custom event",
        "description": "Records a custom server-side event for a user. Either identity or user_id must be provided but not both. Rate limited to 30 requests per 30 seconds per identity per app_id.",
        "tags": [
          "Track"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event tracked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid app_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulk_track": {
      "post": {
        "operationId": "bulkTrackEvents",
        "summary": "Bulk track custom events",
        "description": "Records multiple custom server-side events in a single request. Maximum 1000 events per request. Rate limited to 1000 events per minute per identity and 15000 events per minute per app_id.",
        "tags": [
          "Track"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkTrackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events tracked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid app_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/identify": {
      "post": {
        "operationId": "identifyUser",
        "summary": "Identify a user",
        "description": "Associates a Heap user_id with an identity (such as an email or username). This merges the anonymous user data with the identified user.",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User identified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid app_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/add_user_properties": {
      "post": {
        "operationId": "addUserProperties",
        "summary": "Add user properties",
        "description": "Attaches custom properties to a user identified by their identity. Rate limited to 30 requests per 30 seconds per identity per app_id. If the identity does not exist, a new user is created.",
        "tags": [
          "UserProperties"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserPropertiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User properties added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid app_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulk_add_user_properties": {
      "post": {
        "operationId": "bulkAddUserProperties",
        "summary": "Bulk add user properties",
        "description": "Attaches custom properties to multiple users in a single request. Maximum 1000 users per request.",
        "tags": [
          "UserProperties"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkAddUserPropertiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User properties added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid app_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/add_account_properties": {
      "post": {
        "operationId": "addAccountProperties",
        "summary": "Add account properties",
        "description": "Attaches custom properties to an account. Supports single account or bulk updates (up to 1000 accounts).",
        "tags": [
          "AccountProperties"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAccountPropertiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account properties added successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid app_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TrackEventRequest": {
        "type": "object",
        "required": [
          "app_id",
          "event"
        ],
        "properties": {
          "app_id": {
            "type": "string",
            "description": "The environment ID corresponding to one of your environments"
          },
          "event": {
            "type": "string",
            "description": "The name of the server-side event. Limited to 1024 characters.",
            "maxLength": 1024
          },
          "identity": {
            "type": "string",
            "description": "User identifier. Case-sensitive, limited to 255 characters. Either identity or user_id must be provided.",
            "maxLength": 255
          },
          "user_id": {
            "type": "string",
            "description": "Numeric user ID from Heap SDK (0 to 2^53-1). Either identity or user_id must be provided."
          },
          "session_id": {
            "type": "string",
            "description": "Session identifier"
          },
          "properties": {
            "type": "object",
            "description": "Key-value metadata. Each key and value must be a number or string with fewer than 1024 characters.",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string",
                  "maxLength": 1024
                },
                {
                  "type": "number"
                }
              ]
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp. Defaults to current time if not provided."
          },
          "idempotency_key": {
            "type": "string",
            "description": "Prevents duplicate event processing"
          }
        }
      },
      "BulkTrackRequest": {
        "type": "object",
        "required": [
          "app_id",
          "events"
        ],
        "properties": {
          "app_id": {
            "type": "string",
            "description": "The environment ID corresponding to one of your environments"
          },
          "events": {
            "type": "array",
            "description": "Array of event objects. Maximum 1000 per request.",
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/BulkTrackEvent"
            }
          }
        }
      },
      "BulkTrackEvent": {
        "type": "object",
        "required": [
          "event"
        ],
        "properties": {
          "identity": {
            "type": "string",
            "description": "User identifier",
            "maxLength": 255
          },
          "user_id": {
            "type": "string",
            "description": "Numeric user ID from Heap SDK"
          },
          "event": {
            "type": "string",
            "description": "The name of the event",
            "maxLength": 1024
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp"
          },
          "properties": {
            "type": "object",
            "description": "Key-value metadata",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string",
                  "maxLength": 1024
                },
                {
                  "type": "number"
                }
              ]
            }
          },
          "idempotency_key": {
            "type": "string",
            "description": "Prevents duplicate event processing"
          }
        }
      },
      "IdentifyRequest": {
        "type": "object",
        "required": [
          "app_id",
          "user_id",
          "identity"
        ],
        "properties": {
          "app_id": {
            "type": "string",
            "description": "The environment ID of your Main Production project"
          },
          "user_id": {
            "type": "string",
            "description": "The user_id from the Heap SDK. Must be a string representation of a number between 0 and 2^53-1."
          },
          "identity": {
            "type": "string",
            "description": "An identity, typically corresponding to an existing user. Case-sensitive, limited to 255 characters.",
            "maxLength": 255
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp. Defaults to current time if not provided."
          }
        }
      },
      "AddUserPropertiesRequest": {
        "type": "object",
        "required": [
          "app_id",
          "identity"
        ],
        "properties": {
          "app_id": {
            "type": "string",
            "description": "The environment ID of your Main Production project"
          },
          "identity": {
            "type": "string",
            "description": "An identity, typically corresponding to an existing user. Case-sensitive, limited to 255 characters.",
            "maxLength": 255
          },
          "properties": {
            "type": "object",
            "description": "Key-value properties to associate with the user. Each key and value must be a number or string with fewer than 1024 characters.",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string",
                  "maxLength": 1024
                },
                {
                  "type": "number"
                }
              ]
            }
          }
        }
      },
      "BulkAddUserPropertiesRequest": {
        "type": "object",
        "required": [
          "app_id",
          "users"
        ],
        "properties": {
          "app_id": {
            "type": "string",
            "description": "Your application identifier"
          },
          "users": {
            "type": "array",
            "description": "Array of user property objects. Maximum 1000 per request.",
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/UserPropertiesItem"
            }
          }
        }
      },
      "UserPropertiesItem": {
        "type": "object",
        "required": [
          "identity"
        ],
        "properties": {
          "identity": {
            "type": "string",
            "description": "User identifier",
            "maxLength": 255
          },
          "properties": {
            "type": "object",
            "description": "Key-value properties",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string",
                  "maxLength": 1024
                },
                {
                  "type": "number"
                }
              ]
            }
          }
        }
      },
      "AddAccountPropertiesRequest": {
        "type": "object",
        "required": [
          "app_id"
        ],
        "properties": {
          "app_id": {
            "type": "string",
            "description": "The environment ID corresponding to one of your environments"
          },
          "account_id": {
            "type": "string",
            "description": "Account identifier. Required if not using bulk accounts array."
          },
          "properties": {
            "type": "object",
            "description": "Key-value properties for single account update",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string",
                  "maxLength": 1024
                },
                {
                  "type": "number"
                }
              ]
            }
          },
          "accounts": {
            "type": "array",
            "description": "Array of account objects for bulk update. Maximum 1000.",
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/AccountPropertiesItem"
            }
          }
        }
      },
      "AccountPropertiesItem": {
        "type": "object",
        "required": [
          "account_id"
        ],
        "properties": {
          "account_id": {
            "type": "string",
            "description": "Account identifier"
          },
          "properties": {
            "type": "object",
            "description": "Key-value properties",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string",
                  "maxLength": 1024
                },
                {
                  "type": "number"
                }
              ]
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong"
          }
        }
      }
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Track",
      "description": "Track custom events"
    },
    {
      "name": "Identity",
      "description": "Identify and manage users"
    },
    {
      "name": "UserProperties",
      "description": "Manage user properties"
    },
    {
      "name": "AccountProperties",
      "description": "Manage account properties"
    }
  ]
}