{
  "openapi": "3.0.3",
  "info": {
    "title": "MojoTxt API",
    "version": "v1",
    "description": "SMS messaging and subscriber management API",
    "x-jentic-source-url": "https://app.mojotxt.com/api/docs/v1/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.mojotxt.com/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "phoneNumbers",
      "description": "Phone number management"
    },
    {
      "name": "subscribers",
      "description": "Subscriber management"
    },
    {
      "name": "donations",
      "description": "Donation tracking"
    },
    {
      "name": "lists",
      "description": "Contact list management"
    },
    {
      "name": "messages",
      "description": "Message sending and tracking"
    },
    {
      "name": "messageLog",
      "description": "Message history"
    }
  ],
  "paths": {
    "/phoneNumbers/list": {
      "get": {
        "summary": "List all phone numbers",
        "operationId": "listPhoneNumbers",
        "tags": [
          "phoneNumbers"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "record_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all phone numbers"
      }
    },
    "/{phone_number}/subscribers/list": {
      "get": {
        "summary": "List subscribers for a phone number",
        "operationId": "listSubscribers",
        "tags": [
          "subscribers"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Phone number in international format (e.g., +13305551212)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "List subscribers for a phone number"
      }
    },
    "/{phone_number}/subscribers/add": {
      "post": {
        "summary": "Add a subscriber",
        "operationId": "addSubscriber",
        "tags": [
          "subscribers"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscriber_phone": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Add a subscriber"
      }
    },
    "/{phone_number}/subscribers/remove": {
      "post": {
        "summary": "Remove a subscriber",
        "operationId": "removeSubscriber",
        "tags": [
          "subscribers"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscriber_phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber removed"
          }
        },
        "description": "Remove a subscriber"
      }
    },
    "/{phone_number}/donations/list": {
      "get": {
        "summary": "List donations",
        "operationId": "listDonations",
        "tags": [
          "donations"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "List donations"
      }
    },
    "/{phone_number}/lists/list": {
      "get": {
        "summary": "List contact lists",
        "operationId": "listLists",
        "tags": [
          "lists"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "List contact lists"
      }
    },
    "/{phone_number}/messages/send": {
      "post": {
        "summary": "Send a message",
        "operationId": "sendMessage",
        "tags": [
          "messages"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Send a message"
      }
    },
    "/{phone_number}/messageLog/list": {
      "get": {
        "summary": "List message history",
        "operationId": "listMessageLog",
        "tags": [
          "messageLog"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "List message history"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP basic authentication with API credentials"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "error_code": {
            "type": "string"
          },
          "error_message": {
            "type": "string"
          }
        }
      }
    }
  }
}
