{
  "openapi": "3.0.3",
  "info": {
    "title": "Bonusly API",
    "description": "Bonusly is an employee recognition and rewards platform. The API allows you to manage bonuses, users, redemptions, webhooks, achievements, and analytics for your organization.",
    "version": "1.0.0",
    "contact": {
      "name": "Bonusly",
      "url": "https://bonusly.com"
    },
    "x-jentic-source-url": "https://bonusly.gelato.io/"
  },
  "servers": [
    {
      "url": "https://bonus.ly/api",
      "description": "Bonusly API Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/bonuses": {
      "get": {
        "operationId": "listBonuses",
        "summary": "List bonuses",
        "description": "Retrieve a list of bonuses with optional filtering by giver, receiver, hashtag, and date range.",
        "tags": [
          "Bonuses"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of bonuses to retrieve",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of bonuses to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Filter bonuses created after this ISO 8601 timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Filter bonuses created before this ISO 8601 timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "giver_email",
            "in": "query",
            "description": "Filter by giver's email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "receiver_email",
            "in": "query",
            "description": "Filter by receiver's email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "user_email",
            "in": "query",
            "description": "Filter by either giver or receiver email",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "hashtag",
            "in": "query",
            "description": "Filter by hashtag (URL-encoded, e.g., %23teamwork)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_children",
            "in": "query",
            "description": "Include child bonuses in results",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "show_private_bonuses",
            "in": "query",
            "description": "Include private bonuses (admin only)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of bonuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BonusListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBonus",
        "summary": "Create a bonus",
        "description": "Create a new recognition bonus. The reason field can include @mentions and #hashtags.",
        "tags": [
          "Bonuses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Recognition message with @mentions and #hashtags"
                  },
                  "giver_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email of the bonus giver (defaults to authenticated user)"
                  },
                  "parent_bonus_id": {
                    "type": "string",
                    "description": "ID of parent bonus for add-on bonuses"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bonus created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/bonuses/{id}": {
      "get": {
        "operationId": "getBonus",
        "summary": "Retrieve a bonus",
        "description": "Get details of a specific bonus by ID.",
        "tags": [
          "Bonuses"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bonus ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bonus details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Bonus not found"
          }
        }
      },
      "put": {
        "operationId": "updateBonus",
        "summary": "Update a bonus",
        "description": "Update an existing bonus. Bonuses are only updatable within 30 minutes of creation.",
        "tags": [
          "Bonuses"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bonus ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Updated recognition message"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bonus updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Update window expired or invalid parameters"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Bonus not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteBonus",
        "summary": "Delete a bonus",
        "description": "Delete a bonus. Bonuses are only deletable within 30 minutes of creation.",
        "tags": [
          "Bonuses"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bonus ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bonus deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deletion window expired"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Bonus not found"
          }
        }
      }
    },
    "/v1/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "description": "Retrieve a list of company users with optional filtering and sorting.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to retrieve",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of records to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter by user email",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "description": "Filter by external system ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field (prefix with '-' for descending)",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at",
                "last_active_at",
                "-last_active_at",
                "display_name",
                "-display_name",
                "first_name",
                "-first_name",
                "last_name",
                "-last_name",
                "email",
                "-email",
                "country",
                "-country",
                "time_zone",
                "-time_zone"
              ]
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "description": "Include deactivated users",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "show_financial_data",
            "in": "query",
            "description": "Include financial data (admin only)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "user_mode",
            "in": "query",
            "description": "Filter by comma-separated user modes",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "summary": "Create a user (admin)",
        "description": "Create a new user in the company. Requires admin privileges.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "User email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "required": true,
            "description": "User's first name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "required": true,
            "description": "User's last name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_mode",
            "in": "query",
            "description": "User mode type",
            "schema": {
              "type": "string",
              "enum": [
                "normal",
                "observer",
                "receiver",
                "benefactor",
                "bot"
              ],
              "default": "normal"
            }
          },
          {
            "name": "budget_boost",
            "in": "query",
            "description": "Monthly bonus supplement amount",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "external_unique_id",
            "in": "query",
            "description": "Third-party system identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_zone",
            "in": "query",
            "description": "IANA timezone identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Two-letter country code (ISO 3166-1 alpha-2)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "send_invite",
            "in": "query",
            "description": "Send invitation email to the user",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hired_on",
            "in": "query",
            "description": "Hire date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_of_birth",
            "in": "query",
            "description": "Birthday (year will be stripped)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "manager_email",
            "in": "query",
            "description": "Manager's email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Must be company admin"
          }
        }
      }
    },
    "/v1/users/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "description": "Retrieve details of the currently authenticated user including financial data.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Current user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/autocomplete": {
      "get": {
        "operationId": "autocompleteUsers",
        "summary": "Autocomplete users",
        "description": "Search for users by name or email for autocomplete functionality.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Query too short"
          }
        }
      }
    },
    "/v1/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Retrieve a user",
        "description": "Get details of a specific user by ID.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update a user (admin)",
        "description": "Update user details. Requires admin privileges.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "user_mode": {
                    "type": "string",
                    "enum": [
                      "normal",
                      "observer",
                      "receiver",
                      "benefactor",
                      "bot"
                    ]
                  },
                  "budget_boost": {
                    "type": "number"
                  },
                  "external_unique_id": {
                    "type": "string"
                  },
                  "custom_properties": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "time_zone": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "manager_email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Must be company admin"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "delete": {
        "operationId": "deactivateUser",
        "summary": "Deactivate a user (admin)",
        "description": "Deactivate (archive) a user. Requires admin privileges.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to delete user"
          },
          "403": {
            "description": "Must be company admin"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/v1/users/{id}/redemptions": {
      "post": {
        "operationId": "createRedemption",
        "summary": "Create a redemption for a user",
        "description": "Create a new reward redemption for a specific user.",
        "tags": [
          "Redemptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "catalog_item_id"
                ],
                "properties": {
                  "catalog_item_id": {
                    "type": "string",
                    "description": "ID of the reward catalog item to redeem"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redemption created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "403": {
            "description": "Authorization issue"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/v1/redemptions": {
      "get": {
        "operationId": "listRedemptions",
        "summary": "List redemptions",
        "description": "Retrieve a list of redemptions.",
        "tags": [
          "Redemptions"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of redemptions to retrieve",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of redemptions to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of redemptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedemptionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid limit parameter"
          }
        }
      }
    },
    "/v1/redemptions/{id}": {
      "get": {
        "operationId": "getRedemption",
        "summary": "Retrieve a redemption",
        "description": "Get details of a specific redemption by ID.",
        "tags": [
          "Redemptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Redemption ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Redemption details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Redemption not found"
          }
        }
      }
    },
    "/v1/achievements": {
      "get": {
        "operationId": "listAchievements",
        "summary": "List achievements",
        "description": "View the 50 most recent achievements for the authenticated user's company.",
        "tags": [
          "Achievements"
        ],
        "responses": {
          "200": {
            "description": "List of achievements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "description": "Retrieve all registered webhooks.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "description": "Register a new webhook subscription.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (e.g., blank URL)"
          }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "put": {
        "operationId": "updateWebhook",
        "summary": "Update a webhook",
        "description": "Update an existing webhook subscription.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation failure"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "description": "Remove a webhook subscription.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      }
    },
    "/v1/analytics/trends": {
      "get": {
        "operationId": "getAnalyticsTrends",
        "summary": "Get hashtag trends",
        "description": "Returns popularity counts for hashtags over the past 15 days.",
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Hashtag trend data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "449": {
            "description": "Data not yet ready"
          }
        }
      }
    },
    "/v1/analytics/leaderboards": {
      "get": {
        "operationId": "getLeaderboards",
        "summary": "Get leaderboards",
        "description": "Ranks users by bonuses given or received.",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Leaderboard direction",
            "schema": {
              "type": "string",
              "enum": [
                "received",
                "given"
              ]
            }
          },
          {
            "name": "hashtag",
            "in": "query",
            "description": "Filter by hashtag",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team",
            "in": "query",
            "description": "Filter by team",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for filtering",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for filtering",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/words": {
      "get": {
        "operationId": "getPopularWords",
        "summary": "Get popular words",
        "description": "Returns popular words used in bonuses sorted by frequency.",
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Popular words data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the request was successful"
          },
          "result": {
            "description": "Response data (varies by endpoint)"
          }
        }
      },
      "BonusListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bonus"
            }
          }
        }
      },
      "Bonus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique bonus identifier"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "reason": {
            "type": "string",
            "description": "Recognition message"
          },
          "reason_html": {
            "type": "string",
            "description": "HTML-formatted recognition message"
          },
          "amount": {
            "type": "number",
            "description": "Bonus point amount"
          },
          "amount_with_currency": {
            "type": "string",
            "description": "Formatted amount with currency"
          },
          "value": {
            "type": "string",
            "description": "Hashtag value"
          },
          "giver": {
            "$ref": "#/components/schemas/User"
          },
          "receiver": {
            "$ref": "#/components/schemas/User"
          },
          "child_count": {
            "type": "integer",
            "description": "Number of child bonuses"
          },
          "child_bonuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bonus"
            }
          },
          "via": {
            "type": "string",
            "description": "Channel through which bonus was given (e.g., web, api)"
          },
          "family_amount": {
            "type": "number",
            "description": "Total amount including child bonuses"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "short_name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "path": {
            "type": "string"
          },
          "full_pic_url": {
            "type": "string",
            "format": "uri"
          },
          "profile_pic_url": {
            "type": "string",
            "format": "uri"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "last_active_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "external_unique_id": {
            "type": "string"
          },
          "budget_boost": {
            "type": "number"
          },
          "user_mode": {
            "type": "string",
            "enum": [
              "normal",
              "observer",
              "receiver",
              "benefactor",
              "bot"
            ]
          },
          "country": {
            "type": "string"
          },
          "time_zone": {
            "type": "string"
          },
          "can_give": {
            "type": "boolean"
          },
          "can_receive": {
            "type": "boolean"
          },
          "earning_balance": {
            "type": "number"
          },
          "earning_balance_with_currency": {
            "type": "string"
          },
          "lifetime_earnings": {
            "type": "number"
          },
          "lifetime_earnings_with_currency": {
            "type": "string"
          },
          "giving_balance": {
            "type": "number"
          },
          "giving_balance_with_currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived"
            ]
          },
          "custom_properties": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "UserListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      },
      "RedemptionListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Redemption"
            }
          }
        }
      },
      "Redemption": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "string"
          },
          "user_email": {
            "type": "string",
            "format": "email"
          },
          "giftee_email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "title": {
            "type": "string"
          },
          "amount_in_points": {
            "type": "number"
          },
          "amount_in_usd": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "state": {
            "type": "string",
            "enum": [
              "fulfilled",
              "pending"
            ]
          },
          "certificate_url": {
            "type": "string",
            "format": "uri"
          },
          "claim_url": {
            "type": "string",
            "format": "uri"
          },
          "auto_approvable": {
            "type": "boolean"
          },
          "reward_details": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "price": {
                "type": "number"
              },
              "display_price": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "image_url": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "WebhookListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "event_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "bonus.created",
                "achievement_event.created"
              ]
            }
          }
        }
      },
      "WebhookInput": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Target URL for webhook notifications"
          },
          "event_types": {
            "type": "array",
            "description": "Event types to subscribe to",
            "items": {
              "type": "string",
              "enum": [
                "bonus.created",
                "achievement_event.created"
              ]
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Achievements"
    },
    {
      "name": "Analytics"
    },
    {
      "name": "Bonuses"
    },
    {
      "name": "Redemptions"
    },
    {
      "name": "Users"
    },
    {
      "name": "Webhooks"
    }
  ]
}
