{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "API Consulta Dados CNH",
    "description": "A API de Consulta de Dados da CNH é uma ferramenta poderosa para acessar informações detalhadas e atualizadas relacionadas às Carteiras Nacionais de Habilitação. Essa API oferece uma maneira eficiente e segura de obter dados de condutores. Ao integrar esta API em seus sistemas ou aplicativos, você pode oferecer serviços de verificação de habilitação, validar a autenticidade de documentos e realizar análises de histórico de condução. A API de Consulta de Dados da CNH é ideal para seguradoras, empresas de aluguel de veículos, agências governamentais e quaisquer outras organizações que necessitem de acesso rápido e confiável a informações precisas da CNH.<br /><br />\npara consumo da API Consulta Dados CNH de Veículos é necessário :<br /> <ul> <li>logon: logon(email) utilizado para acesso</li> <li>senha: senha de acesso</li> <li>token: token do cliente ( token de demostração : 9C9F9999-99A9-9BC9-9999-999A999BC9BB )</li> <li>cpf: CPF do dono da CNH</li> <li>cnh: Número da CNH</li> <li>cod: Código de Segurança da CNH</li> </ul>",
    "contact": {
      "email": "sistemas@tige.com.br"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/INTEGRACAO_1/API_CNH/1.0.0/swagger.json"
  },
  "servers": [
    {
      "description": "API Consulta Dados CNH",
      "url": "https://wsl.tige.com.br/api/veicular"
    }
  ],
  "paths": {
    "/cnh": {
      "post": {
        "description": "consulta as informações da CNH",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "logon": {
                    "description": "Logon de acesso",
                    "type": "string"
                  },
                  "senha": {
                    "description": "senha de acesso",
                    "type": "string"
                  },
                  "token": {
                    "description": "token do cliente",
                    "type": "string"
                  },
                  "cpf": {
                    "description": "cpf da CNH",
                    "type": "string"
                  },
                  "cnh": {
                    "description": "Número da CNH ( registro )",
                    "type": "string"
                  },
                  "cod": {
                    "description": "Código de segurança da CNH"
                  }
                },
                "required": [
                  "logon",
                  "senha",
                  "token",
                  "cpf",
                  "cnh",
                  "cod"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "success": true,
                      "message": "Consulta realizada com sucesso !",
                      "dados": {
                        "IdConsulta": "7911813",
                        "DataConsulta": "30/08/2023 09:21:51",
                        "parametros": {
                          "cpf": "22222222222",
                          "cnh": "01292929292",
                          "cod": "99999999999"
                        },
                        "resultado": {
                          "condutor": {
                            "nome": "JOAO FULANO",
                            "cpf": "22222222222",
                            "data_nascimento": "08/05/1968",
                            "identidade": "1234567890",
                            "orgaoEmissor": "Não Informado",
                            "ufOrgaoEmissor": "Não Informado",
                            "sexo": "MASCULINO",
                            "nacionalidade": "BRASILEIRO",
                            "localidadeNascimento": "TAUBATE/SP",
                            "telefone": "12999999999",
                            "email": "sistemas@tige.com.br",
                            "nome_mae": "MARIA FULANA",
                            "nome_pai": "JOSE FULANO"
                          },
                          "habilitacao": {
                            "data_primeira_cnh": "23/06/1988",
                            "uf_primeira_cnh": "SP",
                            "data_cadastramento": "Não Informado",
                            "uf_dominio": "SP",
                            "situacao": "CONFIRMADA",
                            "situacao_anterior": "ALTERADA",
                            "cancelamento": "Não Informado",
                            "numero_registro": "01378979769",
                            "numero_renach": "999999999",
                            "numero_cnh": "8888888888",
                            "data_validade_cnh": "28/09/2026",
                            "categoria_atual": "AB",
                            "categoria_rebaixada": "Não Informado",
                            "categoria_autorizada": "AB",
                            "data_ultima_emissao": "02/05/2023",
                            "data_inicio_categoria_a": "02/08/2000",
                            "data_inicio_categoria_b": "02/08/2000",
                            "data_inicio_categoria_c": "Não Informado",
                            "data_inicio_categoria_d": "Não Informado",
                            "data_inicio_categoria_e": "Não Informado"
                          },
                          "exames": [
                            {
                              "exame": "PRÁTICA DE DIREÇÃO VEICULAR 2 RODAS",
                              "data_exame": "23/06/1988",
                              "data_validade_exame": "Não Informado",
                              "resultado": "APTO",
                              "categoria_pretendida": "A",
                              "cpf_examinador_01": "00000000000",
                              "cpf_examinador_02": "00000000000",
                              "minicipio_exame": "TAUBATE/SP",
                              "categoria_permitida": "A",
                              "cnpj_entidade": "46377800000399"
                            },
                            {
                              "exame": "PRÁTICA DE DIREÇÃO VEICULAR 4 RODAS",
                              "data_exame": "23/06/1988",
                              "data_validade_exame": "Não Informado",
                              "resultado": "APTO",
                              "categoria_pretendida": "B",
                              "cpf_examinador_01": "00000000000",
                              "cpf_examinador_02": "00000000000",
                              "minicipio_exame": "TAUBATE/SP",
                              "categoria_permitida": "B",
                              "cnpj_entidade": "46377800000399"
                            },
                            {
                              "exame": "APTIDÃO FÍSICA E MENTAL",
                              "data_exame": "28/09/2021",
                              "data_validade_exame": "28/09/2026",
                              "resultado": "APTO COM RESTRIÇÕES",
                              "categoria_pretendida": "AB",
                              "cpf_examinador_01": "04113286892",
                              "cpf_examinador_02": "00000000000",
                              "minicipio_exame": "TAUBATE/SP",
                              "categoria_permitida": "AB",
                              "cnpj_entidade": "47333208000196"
                            },
                            {
                              "exame": "AVALIAÇÃO PSICOLÓGICA",
                              "data_exame": "02/05/2023",
                              "data_validade_exame": "02/05/2028",
                              "resultado": "APTO",
                              "categoria_pretendida": "AB",
                              "cpf_examinador_01": "25673463847",
                              "cpf_examinador_02": "00000000000",
                              "minicipio_exame": "TAUBATE/SP",
                              "categoria_permitida": "AB",
                              "cnpj_entidade": "43140789000199"
                            },
                            {
                              "exame": "TEÓRICO TÉCNICO FORMAÇÃO",
                              "data_exame": "24/05/1988",
                              "data_validade_exame": "Não Informado",
                              "resultado": "APTO",
                              "categoria_pretendida": "AB",
                              "cpf_examinador_01": "00000000000",
                              "cpf_examinador_02": "00000000000",
                              "minicipio_exame": "TAUBATE/SP",
                              "categoria_permitida": "AB",
                              "cnpj_entidade": "46377800000399"
                            }
                          ],
                          "cursos": [
                            {
                              "exame": "A",
                              "data_inicio": "A",
                              "data_fim": "A",
                              "cnpj_entidade": "A",
                              "carga_horaria": "A",
                              "categoria": "A",
                              "modalidade": "A",
                              "n_certificado": "A",
                              "cpf_instrutor": "A",
                              "municipio": "A",
                              "dataValidade": "A"
                            },
                            {
                              "exame": "2",
                              "data_inicio": "2",
                              "data_fim": "2",
                              "cnpj_entidade": "2",
                              "carga_horaria": "2",
                              "categoria": "2",
                              "modalidade": "2",
                              "n_certificado": "2",
                              "cpf_instrutor": "2",
                              "municipio": "2",
                              "dataValidade": "2"
                            },
                            {
                              "exame": "2",
                              "data_inicio": "2",
                              "data_fim": "2",
                              "cnpj_entidade": "2",
                              "carga_horaria": "2",
                              "categoria": "2",
                              "modalidade": "2",
                              "n_certificado": "2",
                              "cpf_instrutor": "2",
                              "municipio": "2",
                              "dataValidade": "2"
                            },
                            {
                              "exame": "4",
                              "data_inicio": "4",
                              "data_fim": "4",
                              "cnpj_entidade": "4",
                              "carga_horaria": "4",
                              "categoria": "4",
                              "modalidade": "4",
                              "n_certificado": "4",
                              "cpf_instrutor": "4",
                              "municipio": "4",
                              "dataValidade": "4"
                            },
                            {
                              "exame": "0",
                              "data_inicio": "0",
                              "data_fim": "0",
                              "cnpj_entidade": "0",
                              "carga_horaria": "0",
                              "categoria": "0",
                              "modalidade": "0",
                              "n_certificado": "0",
                              "cpf_instrutor": "0",
                              "municipio": "0",
                              "dataValidade": "0"
                            },
                            {
                              "exame": "N",
                              "data_inicio": "N",
                              "data_fim": "N",
                              "cnpj_entidade": "N",
                              "carga_horaria": "N",
                              "categoria": "N",
                              "modalidade": "N",
                              "n_certificado": "N",
                              "cpf_instrutor": "N",
                              "municipio": "N",
                              "dataValidade": "N"
                            },
                            {
                              "exame": "A",
                              "data_inicio": "A",
                              "data_fim": "A",
                              "cnpj_entidade": "A",
                              "carga_horaria": "A",
                              "categoria": "A",
                              "modalidade": "A",
                              "n_certificado": "A",
                              "cpf_instrutor": "A",
                              "municipio": "A",
                              "dataValidade": "A"
                            },
                            {
                              "exame": "C",
                              "data_inicio": "C",
                              "data_fim": "C",
                              "cnpj_entidade": "C",
                              "carga_horaria": "C",
                              "categoria": "C",
                              "modalidade": "C",
                              "n_certificado": "C",
                              "cpf_instrutor": "C",
                              "municipio": "C",
                              "dataValidade": "C"
                            },
                            {
                              "exame": "0",
                              "data_inicio": "0",
                              "data_fim": "0",
                              "cnpj_entidade": "0",
                              "carga_horaria": "0",
                              "categoria": "0",
                              "modalidade": "0",
                              "n_certificado": "0",
                              "cpf_instrutor": "0",
                              "municipio": "0",
                              "dataValidade": "0"
                            },
                            {
                              "exame": "T",
                              "data_inicio": "T",
                              "data_fim": "T",
                              "cnpj_entidade": "T",
                              "carga_horaria": "T",
                              "categoria": "T",
                              "modalidade": "T",
                              "n_certificado": "T",
                              "cpf_instrutor": "T",
                              "municipio": "T",
                              "dataValidade": "T"
                            },
                            {
                              "exame": "N",
                              "data_inicio": "N",
                              "data_fim": "N",
                              "cnpj_entidade": "N",
                              "carga_horaria": "N",
                              "categoria": "N",
                              "modalidade": "N",
                              "n_certificado": "N",
                              "cpf_instrutor": "N",
                              "municipio": "N",
                              "dataValidade": "N"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "erros relacionados a autenticação/validação",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "success": false,
                      "message": "mensagens de autenticação/validação",
                      "dados": {}
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "erros de sistema",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "success": false,
                      "message": "mensagem do sistema",
                      "dados": {}
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "cnh"
        ],
        "operationId": "post-cnh"
      }
    }
  },
  "components": {},
  "tags": [
    {
      "name": "cnh"
    }
  ]
}