{
  "openapi": "3.0.3",
  "info": {
    "title": "Docket Alarm API",
    "description": "Access Docket Alarm's database of 675M+ court dockets. Search, retrieve case information, track cases, and manage sub-accounts.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.docketalarm.com/api/v1/"
  },
  "servers": [
    {
      "url": "https://www.docketalarm.com/api/v1"
    }
  ],
  "paths": {
    "/login/": {
      "post": {
        "operationId": "login",
        "summary": "Authenticate and get a temporary token",
        "description": "Send username and password to receive a temporary login token valid for 90 minutes.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Account username"
                  },
                  "password": {
                    "type": "string",
                    "description": "Account password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/": {
      "get": {
        "operationId": "searchdockets",
        "summary": "Search docket database",
        "description": "Query Docket Alarm's database of 675M+ dockets.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "o",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum results to return (max 50)",
            "schema": {
              "type": "integer",
              "maximum": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Result offset for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "client_matter",
            "in": "query",
            "required": false,
            "description": "Client matter identifier for billing",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scroll",
            "in": "query",
            "required": false,
            "description": "Scroll token for paginating large result sets",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scroll_parallel",
            "in": "query",
            "required": false,
            "description": "Number of parallel scroll partitions",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "scroll_index",
            "in": "query",
            "required": false,
            "description": "Scroll partition index",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/searchpacer/": {
      "get": {
        "operationId": "searchpacer",
        "summary": "Search PACER/Federal courts",
        "description": "Search PACER/Federal courts directly. Incurs PACER fees ($0.10 per search page).",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_name",
            "in": "query",
            "required": false,
            "description": "Party name to search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "middle_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nature_of_suit",
            "in": "query",
            "required": false,
            "description": "Nature of suit code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court_region",
            "in": "query",
            "required": false,
            "description": "Court region filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "case_type",
            "in": "query",
            "required": false,
            "description": "Case type filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PACER search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PacerSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/searchdirect/": {
      "get": {
        "operationId": "getsearchdirectoptions",
        "summary": "Get search options for state/agency courts",
        "description": "GET with no parameters to list courts, or with court parameter to get search options for that court.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "required": false,
            "description": "Court identifier to get search options for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Court list or search options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchDirectOptionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "searchdirect",
        "summary": "Execute a direct court search",
        "description": "Search state and agency courts directly with court-specific parameters.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "login_token",
                  "court"
                ],
                "properties": {
                  "login_token": {
                    "type": "string"
                  },
                  "court": {
                    "type": "string"
                  }
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Direct search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getdocket/": {
      "get": {
        "operationId": "getdocket",
        "summary": "Get docket information for a case",
        "description": "Download a case's docket information including parties, filings, and related cases.",
        "tags": [
          "Dockets"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "required": true,
            "description": "Court identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docket",
            "in": "query",
            "required": true,
            "description": "Docket number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cached",
            "in": "query",
            "required": false,
            "description": "Whether to use cached version",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "normalize",
            "in": "query",
            "required": false,
            "description": "Normalize docket data",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "use_last_filing_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pacer_summary_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Docket information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocketResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/track/": {
      "get": {
        "operationId": "listtrackers",
        "summary": "List case trackers",
        "description": "Retrieve a list of tracked cases and their status.",
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tracked cases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createorupdatetracker",
        "summary": "Create or modify a case tracker",
        "description": "Create a new tracker, modify an existing one, or test push notifications.",
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "login_token",
                  "court",
                  "docket"
                ],
                "properties": {
                  "login_token": {
                    "type": "string"
                  },
                  "court": {
                    "type": "string",
                    "description": "Court identifier"
                  },
                  "docket": {
                    "type": "string",
                    "description": "Docket number"
                  },
                  "enable": {
                    "type": "boolean",
                    "description": "Enable or disable the tracker"
                  },
                  "frequency": {
                    "type": "string",
                    "description": "Check frequency",
                    "enum": [
                      "daily",
                      "twice_daily",
                      "continuous",
                      "weekly",
                      "monthly",
                      "40x",
                      "realtime"
                    ]
                  },
                  "client_matter": {
                    "type": "string"
                  },
                  "q": {
                    "type": "string",
                    "description": "Search query for search tracker"
                  },
                  "test": {
                    "type": "boolean",
                    "description": "Test mode flag"
                  },
                  "test_track": {
                    "type": "boolean",
                    "description": "Test push notifications"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tracker created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subaccount/": {
      "get": {
        "operationId": "listsubaccounts",
        "summary": "List sub-accounts",
        "description": "List all active sub-accounts.",
        "tags": [
          "Sub-Accounts"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sub-accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "subaccounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SubAccount"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createorupdatesubaccount",
        "summary": "Create or modify a sub-account",
        "tags": [
          "Sub-Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "login_token"
                ],
                "properties": {
                  "login_token": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sub-account created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subaccount/login": {
      "get": {
        "operationId": "subaccountlogin",
        "summary": "Single sign-on for sub-account",
        "description": "Generate an encrypted login link for sub-account single sign-on.",
        "tags": [
          "Sub-Accounts"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": true,
            "description": "Sub-account username",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSO login link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "login_url": {
                      "type": "string",
                      "description": "Encrypted login URL"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{court}/{docket}/docs/{filing_number}.pdf": {
      "get": {
        "operationId": "downloadDocument",
        "summary": "Download a PDF document",
        "description": "Download a PDF document from a docket entry. Returns binary PDF on success.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "court",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docket",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filing_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_matter",
            "in": "query",
            "description": "Client matter reference",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cached",
            "in": "query",
            "description": "Only return cached documents",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF document",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "403": {
            "description": "Document sealed"
          },
          "404": {
            "description": "Document not found"
          },
          "412": {
            "description": "Document not cached"
          }
        }
      }
    },
    "/parser/": {
      "get": {
        "operationId": "getParser",
        "summary": "Get motion/pleading classification dictionary",
        "description": "Retrieve the motion/pleading classification data dictionary with SALI codes.",
        "tags": [
          "Utilities"
        ],
        "parameters": [
          {
            "name": "xlsx",
            "in": "query",
            "description": "Return as Excel format",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "rss",
            "in": "query",
            "description": "Return as RSS feed",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parser data dictionary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/embed/create": {
      "post": {
        "operationId": "createEmbed",
        "summary": "Generate shareable page link",
        "description": "Generate a shareable page link for non-authenticated users.",
        "tags": [
          "Utilities"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shareable URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/VIDA/judgment_extractor/": {
      "get": {
        "operationId": "extractJudgment",
        "summary": "Extract judgment information",
        "description": "Extract judgment information from a case using AI.",
        "tags": [
          "AI Analysis"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "description": "Court identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docket",
            "in": "query",
            "description": "Docket number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "openai_key",
            "in": "query",
            "description": "OpenAI API key (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic_key",
            "in": "query",
            "description": "Anthropic API key (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VidaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error"
          }
        }
      }
    },
    "/VIDA/ask_docket/": {
      "get": {
        "operationId": "askDocket",
        "summary": "Ask a question about a docket",
        "description": "Query a docket with natural language questions using AI.",
        "tags": [
          "AI Analysis"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "description": "Court identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docket",
            "in": "query",
            "description": "Docket number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "openai_key",
            "in": "query",
            "description": "OpenAI API key (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic_key",
            "in": "query",
            "description": "Anthropic API key (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VidaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error"
          }
        }
      }
    },
    "/VIDA/get_complaint_summary/": {
      "get": {
        "operationId": "getComplaintSummary",
        "summary": "Get complaint summary",
        "description": "Extract complaint summaries using AI.",
        "tags": [
          "AI Analysis"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "description": "Court identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docket",
            "in": "query",
            "description": "Docket number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "openai_key",
            "in": "query",
            "description": "OpenAI API key (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic_key",
            "in": "query",
            "description": "Anthropic API key (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VidaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error"
          }
        }
      }
    },
    "/VIDA/get_cause_of_action/": {
      "get": {
        "operationId": "getCauseOfAction",
        "summary": "Get cause of action",
        "description": "Extract causes of action from a case using AI.",
        "tags": [
          "AI Analysis"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "description": "Court identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docket",
            "in": "query",
            "description": "Docket number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "openai_key",
            "in": "query",
            "description": "OpenAI API key (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic_key",
            "in": "query",
            "description": "Anthropic API key (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VidaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error"
          }
        }
      }
    },
    "/VIDA/attorney_billing_rates/": {
      "get": {
        "operationId": "getAttorneyBillingRates",
        "summary": "Get attorney billing rates",
        "description": "Extract attorney billing rate information using AI.",
        "tags": [
          "AI Analysis"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "description": "Court identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docket",
            "in": "query",
            "description": "Docket number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "openai_key",
            "in": "query",
            "description": "OpenAI API key (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic_key",
            "in": "query",
            "description": "Anthropic API key (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VidaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error"
          }
        }
      }
    },
    "/VIDA/case_matcher/": {
      "get": {
        "operationId": "matchCase",
        "summary": "Match case",
        "description": "Find cases using partial information with AI.",
        "tags": [
          "AI Analysis"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "description": "Court identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docket",
            "in": "query",
            "description": "Docket number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "openai_key",
            "in": "query",
            "description": "OpenAI API key (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic_key",
            "in": "query",
            "description": "Anthropic API key (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VidaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error"
          }
        }
      }
    },
    "/VIDA/smart_search/": {
      "get": {
        "operationId": "smartSearch",
        "summary": "Smart search",
        "description": "Generate search queries from natural language using AI.",
        "tags": [
          "AI Analysis"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "description": "Court identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docket",
            "in": "query",
            "description": "Docket number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "openai_key",
            "in": "query",
            "description": "OpenAI API key (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic_key",
            "in": "query",
            "description": "Anthropic API key (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VidaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error"
          }
        }
      }
    },
    "/VIDA/entity_normalizer/": {
      "get": {
        "operationId": "normalizeEntity",
        "summary": "Normalize entity",
        "description": "Normalize entity names to Docket Alarm search format using AI.",
        "tags": [
          "AI Analysis"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "description": "Court identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docket",
            "in": "query",
            "description": "Docket number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "openai_key",
            "in": "query",
            "description": "OpenAI API key (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic_key",
            "in": "query",
            "description": "Anthropic API key (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VidaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error"
          }
        }
      }
    },
    "/VIDA/area_of_law/": {
      "get": {
        "operationId": "getAreaOfLaw",
        "summary": "Get area of law",
        "description": "Match case type to area of law classification using AI.",
        "tags": [
          "AI Analysis"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "description": "Court identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docket",
            "in": "query",
            "description": "Docket number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "openai_key",
            "in": "query",
            "description": "OpenAI API key (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic_key",
            "in": "query",
            "description": "Anthropic API key (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VidaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error"
          }
        }
      }
    },
    "/VIDA/forum_and_venues/": {
      "get": {
        "operationId": "getForumAndVenues",
        "summary": "Get forum and venues",
        "description": "Match court to forum/venue classification using AI.",
        "tags": [
          "AI Analysis"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "court",
            "in": "query",
            "description": "Court identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docket",
            "in": "query",
            "description": "Docket number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "openai_key",
            "in": "query",
            "description": "OpenAI API key (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic_key",
            "in": "query",
            "description": "Anthropic API key (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI analysis result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VidaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "login_token": {
            "type": "string",
            "description": "Temporary token valid for 90 minutes"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "search_results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "count": {
            "type": "integer",
            "description": "Total number of results"
          },
          "scroll": {
            "type": "string",
            "description": "Scroll token for pagination"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "court": {
            "type": "string"
          },
          "docket": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "date": {
            "type": "string"
          }
        }
      },
      "PacerSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "search_results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "page_max": {
            "type": "integer"
          }
        }
      },
      "SearchDirectOptionsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "search_results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "required": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "optional": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "choices": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "DocketResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "info": {
            "$ref": "#/components/schemas/DocketInfo"
          },
          "docket_report": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocketEntry"
            }
          },
          "parties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Party"
            }
          },
          "related": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "claims": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "DocketInfo": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "date_filed": {
            "type": "string"
          },
          "judges": {
            "type": "string"
          },
          "nature_of_suit": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "patents": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "disposition": {
            "type": "string"
          }
        }
      },
      "DocketEntry": {
        "type": "object",
        "properties": {
          "contents": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "entry_date": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "exhibits": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "analyze": {
            "$ref": "#/components/schemas/MotionAnalysis"
          }
        }
      },
      "MotionAnalysis": {
        "type": "object",
        "properties": {
          "parser_types": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "identifier": {
                  "type": "string"
                },
                "outcomes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "days_sequence": {
                  "type": "integer"
                },
                "days_decision": {
                  "type": "integer"
                },
                "days_briefing": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "counsel": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Counsel"
            }
          }
        }
      },
      "Counsel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "firm": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "lead": {
            "type": "boolean"
          },
          "prose": {
            "type": "boolean"
          }
        }
      },
      "TrackListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "dockets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrackedDocket"
            }
          }
        }
      },
      "TrackedDocket": {
        "type": "object",
        "properties": {
          "court": {
            "type": "string"
          },
          "docket": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "frequency": {
            "type": "string"
          },
          "datetime_updated": {
            "type": "string"
          }
        }
      },
      "SubAccount": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "ParserResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Motion identifier mappings and SALI codes"
          }
        }
      },
      "VidaResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "object",
            "additionalProperties": true,
            "description": "AI analysis result"
          },
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication"
      },
      "tokenAuth": {
        "type": "apiKey",
        "name": "login_token",
        "in": "query",
        "description": "Temporary login token obtained from the login endpoint"
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Operations related to Authentication"
    },
    {
      "name": "Dockets",
      "description": "Operations related to Dockets"
    },
    {
      "name": "Search",
      "description": "Operations related to Search"
    },
    {
      "name": "Sub-Accounts",
      "description": "Operations related to Sub-Accounts"
    },
    {
      "name": "Tracking",
      "description": "Operations related to Tracking"
    },
    {
      "name": "Documents",
      "description": "Operations related to Documents"
    },
    {
      "name": "AI Analysis",
      "description": "Operations related to AI Analysis"
    },
    {
      "name": "Utilities",
      "description": "Operations related to Utilities"
    }
  ]
}