{
  "openapi": "3.0.0",
  "info": {
    "description": "Our active docs provide the ability to test out your account and to see the responses to your queries. The services are RESTful, and are accessed using standard HTTP methods over a secure HTTPS channel. Requests and responses are currently sent in JSON format, and have a base URL of /v1.",
    "termsOfService": "https://app.idtbeyond.com/terms/",
    "title": "Active Documentation for /v1",
    "version": "1.1.7",
    "x-apisguru-categories": [
      "telecom"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/idtbeyond.com/1.1.7/swagger.yaml",
    "x-logo": {
      "backgroundColor": "#222222",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_net2phone_profile_image.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://app.idtbeyond.com/swagger/spec-08ef3dc298.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "idtbeyond.com"
  },
  "servers": [
    {
      "url": "https://api.idtbeyond.com/v1"
    }
  ],
  "paths": {
    "/iatu/balance": {
      "get": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful balance JSON response"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Returns a JSON of the account balance.",
        "summary": "Account balance"
      }
    },
    "/iatu/charges/reports/all": {
      "get": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          },
          {
            "description": "The beginning date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
            "in": "query",
            "name": "date_from",
            "required": true,
            "schema": {
              "default": "2016-01-28",
              "type": "string"
            }
          },
          {
            "description": "The ending date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
            "in": "query",
            "name": "date_to",
            "required": true,
            "schema": {
              "default": "2016-01-28",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful charges JSON response"
          }
        },
        "tags": [
          "charges"
        ],
        "description": "Returns charges by date range.",
        "summary": "List of account charges in JSON"
      }
    },
    "/iatu/charges/reports/all.csv": {
      "get": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          },
          {
            "description": "The beginning date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
            "in": "query",
            "name": "date_from",
            "required": true,
            "schema": {
              "default": "2016-01-28",
              "type": "string"
            }
          },
          {
            "description": "The ending date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
            "in": "query",
            "name": "date_to",
            "required": true,
            "schema": {
              "default": "2016-01-28",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful charges CSV response"
          }
        },
        "tags": [
          "charges"
        ],
        "description": "Returns charges by date range in CSV.",
        "summary": "List of account charges in CSV"
      }
    },
    "/iatu/number-validator": {
      "get": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          },
          {
            "description": "2-digit code of the country in ISO 3166 format. 'BR'",
            "in": "query",
            "name": "country_code",
            "required": true,
            "schema": {
              "default": "BR",
              "type": "string"
            }
          },
          {
            "description": "The mobile number you would like to validate. '5521983115555'",
            "in": "query",
            "name": "mobile_number",
            "required": true,
            "schema": {
              "default": "5521983115555",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Local value response"
          }
        },
        "tags": [
          "utilities"
        ],
        "description": "Checks to verify if the phone number is valid for the country supplied.",
        "summary": "Mobile number validation"
      }
    },
    "/iatu/products/promotions": {
      "get": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Promotions JSON response"
          }
        },
        "tags": [
          "utilities"
        ],
        "description": "Returns a JSON of the current promotions.",
        "summary": "Current promotions"
      }
    },
    "/iatu/products/reports/all": {
      "get": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Products JSON response"
          }
        },
        "tags": [
          "products"
        ],
        "description": "Returns a JSON list of products, ranges, and their commissions percentages.",
        "summary": "Get a list of products in JSON format"
      }
    },
    "/iatu/products/reports/all.csv": {
      "get": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Products CSV response"
          }
        },
        "tags": [
          "products"
        ],
        "description": "Returns a CSV of products, ranges, and their commissions percentages.",
        "summary": "Get a list of products in CSV format"
      }
    },
    "/iatu/products/reports/local-value": {
      "get": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          },
          {
            "description": "2-digit code of the country in ISO 3166 format. 'GT'",
            "in": "query",
            "name": "country_code",
            "required": true,
            "schema": {
              "default": "GT",
              "type": "string"
            }
          },
          {
            "description": "Name of the mobile carrier. 'Claro'",
            "in": "query",
            "name": "carrier_code",
            "required": true,
            "schema": {
              "default": "Claro",
              "type": "string"
            }
          },
          {
            "description": "This is the amount, in cents, of the product you are purchasing. '500' = $5.00",
            "in": "query",
            "name": "amount",
            "required": true,
            "schema": {
              "default": 500,
              "type": "integer"
            }
          },
          {
            "description": "The currency code (ISO 4217) on the product you are querying. 'USD'",
            "in": "query",
            "name": "currency_code",
            "required": true,
            "schema": {
              "default": "USD",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Local value response"
          }
        },
        "tags": [
          "products"
        ],
        "description": "Returns a CSV of products, ranges, and their commissions percentages.",
        "summary": "Get the estimated Local Value of a product"
      }
    },
    "/iatu/topups": {
      "post": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The transaction has been completed successfully."
          },
          "202": {
            "description": "The transaction has been received, but the final status is unknown. Please query by the client_transaction_id to get the current status of the transaction."
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "X not found"
          },
          "405": {
            "description": "Validation exception"
          },
          "500": {
            "description": "There is an error in your transaction. Please check the error code contained in the result for more information."
          }
        },
        "tags": [
          "topups"
        ],
        "description": "Submits an IATU transaction request.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Topups"
              }
            }
          },
          "description": "Topups details",
          "required": true
        },
        "summary": "Topup a mobile phone"
      }
    },
    "/iatu/topups/reports": {
      "post": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful topups JSON response"
          }
        },
        "tags": [
          "topups"
        ],
        "description": "Search topups transactions, by date, with client_transaction_id or to_service_number. Use 'client_transaction_id' to search by transaction number, or 'to_service_number' to get transaction status.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopupsReports"
              }
            }
          },
          "description": "Topups reports request details",
          "required": true
        },
        "summary": "Search topups transactions"
      }
    },
    "/iatu/topups/reports/all": {
      "get": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          },
          {
            "description": "The beginning date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
            "in": "query",
            "name": "date_from",
            "required": true,
            "schema": {
              "default": "2016-01-28",
              "type": "string"
            }
          },
          {
            "description": "The ending date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
            "in": "query",
            "name": "date_to",
            "required": true,
            "schema": {
              "default": "2016-01-28",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful topups JSON response"
          }
        },
        "tags": [
          "topups"
        ],
        "description": "Returns topups by date range.",
        "summary": "List of account topups in JSON"
      }
    },
    "/iatu/topups/reports/all.csv": {
      "get": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          },
          {
            "description": "The beginning date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
            "in": "query",
            "name": "date_from",
            "required": true,
            "schema": {
              "default": "2016-01-28",
              "type": "string"
            }
          },
          {
            "description": "The ending date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
            "in": "query",
            "name": "date_to",
            "required": true,
            "schema": {
              "default": "2016-01-28",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful topups CSV response"
          }
        },
        "tags": [
          "topups"
        ],
        "description": "Returns topups by date range in CSV.",
        "summary": "List of account topups in CSV"
      }
    },
    "/iatu/topups/reports/totals": {
      "get": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          },
          {
            "description": "The beginning date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
            "in": "query",
            "name": "date_from",
            "required": true,
            "schema": {
              "default": "2016-01-28",
              "type": "string"
            }
          },
          {
            "description": "The ending date of the search IN YYYY-MM-DD format (America/New_York timezone). '2016-01-28'",
            "in": "query",
            "name": "date_to",
            "required": true,
            "schema": {
              "default": "2016-01-28",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful topups JSON response"
          }
        },
        "tags": [
          "topups"
        ],
        "description": "Returns topups totals by date range.",
        "summary": "Summary of account topups in JSON"
      }
    },
    "/iatu/topups/reverse": {
      "post": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful charges JSON response"
          }
        },
        "tags": [
          "topups"
        ],
        "description": "Occasionally, a carrier will not be able to successfully complete a topup request. In this case, we will attempt to automatically reverse the transaction for you, and return the money into your account. In the case when this is not possible, you may need to request a reverse on the transaction that has a status of 'transaction_status' 'notredeemed'.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopupsReversal"
              }
            }
          },
          "description": "Topups details",
          "required": true
        },
        "summary": "Reversal of a Topup"
      }
    },
    "/status": {
      "get": {
        "parameters": [
          {
            "description": "Application ID you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-id",
            "required": true,
            "schema": {
              "default": "APP_ID",
              "type": "string"
            }
          },
          {
            "description": "Application KEY you would like to use",
            "in": "header",
            "name": "x-idt-beyond-app-key",
            "required": true,
            "schema": {
              "default": "APP_KEY",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful status JSON response"
          }
        },
        "tags": [
          "utilities"
        ],
        "description": "Returns a JSON of the API status.",
        "summary": "Status check"
      }
    }
  },
  "components": {
    "schemas": {
      "Topups": {
        "properties": {
          "amount": {
            "default": 500,
            "description": "The amount, in cents, of the product you are purchasing. '500' = $5.00",
            "type": "integer"
          },
          "carrier_code": {
            "default": "Claro",
            "description": "Name of the mobile carrier. 'Claro'",
            "type": "string"
          },
          "client_transaction_id": {
            "default": "",
            "description": "UNIQUE 15 char ID you use to track topups. 'trans0123456789'",
            "type": "string"
          },
          "country_code": {
            "default": "GT",
            "description": "2-digit code of the country in ISO 3166 format. 'GT'",
            "type": "string"
          },
          "mobile_number": {
            "default": "50231234567",
            "description": "Mobile number to topup. VALIDATE prior to submission. '50231234567'",
            "type": "string"
          },
          "plan": {
            "default": "Sandbox",
            "description": "The Application plan being used. Case-sensitive. 'Sandbox' or 'Production'",
            "type": "string"
          },
          "product_code": {
            "default": "",
            "description": "Optional code to distinguish one particular product from another. '76560'",
            "type": "string"
          },
          "terminal_id": {
            "default": "Kiosk 5",
            "description": "ID for the Terminal used to perform the topup. 'Kiosk 5'",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TopupsReports": {
        "properties": {
          "client_transaction_id": {
            "default": "trans0123456789",
            "description": "The UNIQUE 15 char ID used to track topups. 'trans0123456789'",
            "type": "string"
          },
          "date_from": {
            "default": "2016-01-28",
            "description": "The beginning date of the search IN YYYY-MM-DD format (America/New_York timezone). Not used in query by to_service_number. '2016-01-28'",
            "type": "string"
          },
          "date_to": {
            "default": "2016-01-28",
            "description": "The ending date of the search IN YYYY-MM-DD format (America/New_York timezone). Not used in query by to_service_number. '2016-01-28'",
            "type": "string"
          },
          "to_service_number": {
            "default": 123456789,
            "description": "Enter the to_service_number returned in the response to track the current transaction status. '0123456789'",
            "type": "string"
          },
          "type_of_report": {
            "default": "client_transaction_id or to_service_number",
            "description": "The type of query you would like to search by.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TopupsReversal": {
        "properties": {
          "client_transaction_id": {
            "default": "trans0123456789",
            "description": "UNIQUE 15 char ID you use to track topups. 'trans0123456789'",
            "type": "string"
          },
          "to_service_number": {
            "default": 123456789,
            "description": "UNIQUE IDT transaction number found in the response of a successful topup request. '0123456789'",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}