{
  "openapi": "3.0.3",
  "info": {
    "title": "QuickChart API",
    "description": "QuickChart is a web service that generates chart images, QR codes, and GraphViz diagrams on-the-fly. Charts are rendered using Chart.js and returned as PNG, WebP, SVG, or PDF images suitable for embedding in emails, reports, dashboards, and other formats.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://quickchart.io/documentation/",
    "contact": {
      "name": "QuickChart",
      "url": "https://quickchart.io"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://quickchart.io",
      "description": "QuickChart Production Server"
    }
  ],
  "paths": {
    "/chart": {
      "get": {
        "summary": "Generate chart image via GET",
        "description": "Generates a chart image from a Chart.js configuration object passed as a query parameter. The chart definition can be in JSON or JavaScript format.",
        "operationId": "getChart",
        "tags": ["Charts"],
        "parameters": [
          {
            "name": "chart",
            "in": "query",
            "required": true,
            "description": "Chart.js configuration object to render. This is the definition of the chart in Javascript or JSON format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "description": "Image width in pixels.",
            "schema": {
              "type": "integer",
              "default": 500
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "description": "Image height in pixels.",
            "schema": {
              "type": "integer",
              "default": 300
            }
          },
          {
            "name": "devicePixelRatio",
            "in": "query",
            "required": false,
            "description": "Device pixel ratio. Set to 2 for retina display support.",
            "schema": {
              "type": "number",
              "default": 2.0
            }
          },
          {
            "name": "backgroundColor",
            "in": "query",
            "required": false,
            "description": "Background color of the chart image. Accepts RGB, HEX, HSL, or color name.",
            "schema": {
              "type": "string",
              "default": "transparent"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Chart.js version to use for rendering. Supports version 2 (default) and version 4.",
            "schema": {
              "type": "string",
              "default": "2",
              "enum": ["2", "3", "4"]
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Output format of the chart image.",
            "schema": {
              "type": "string",
              "default": "png",
              "enum": ["png", "webp", "svg", "pdf"]
            }
          },
          {
            "name": "encoding",
            "in": "query",
            "required": false,
            "description": "Response encoding type.",
            "schema": {
              "type": "string",
              "default": "url",
              "enum": ["url", "base64"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart image rendered successfully.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid chart configuration."
          }
        }
      },
      "post": {
        "summary": "Generate chart image via POST",
        "description": "Generates a chart image from a Chart.js configuration object passed in the request body. Recommended for complex chart configurations.",
        "operationId": "postChart",
        "tags": ["Charts"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chart image rendered successfully.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid chart configuration."
          }
        }
      }
    },
    "/qr": {
      "get": {
        "summary": "Generate QR code",
        "description": "Generates a QR code image from the provided text or URL.",
        "operationId": "getQrCode",
        "tags": ["QR Codes"],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Content of the QR code. Can be a URL or any other string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Output format of the QR code image.",
            "schema": {
              "type": "string",
              "default": "png",
              "enum": ["png", "svg", "base64"]
            }
          },
          {
            "name": "margin",
            "in": "query",
            "required": false,
            "description": "Whitespace around the QR image in modules.",
            "schema": {
              "type": "integer",
              "default": 4
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Image dimensions in pixels.",
            "schema": {
              "type": "integer",
              "default": 150
            }
          },
          {
            "name": "dark",
            "in": "query",
            "required": false,
            "description": "Hex color code for dark modules (without #).",
            "schema": {
              "type": "string",
              "default": "000000"
            }
          },
          {
            "name": "light",
            "in": "query",
            "required": false,
            "description": "Hex color code for light modules (without #).",
            "schema": {
              "type": "string",
              "default": "ffffff"
            }
          },
          {
            "name": "ecLevel",
            "in": "query",
            "required": false,
            "description": "Error correction level.",
            "schema": {
              "type": "string",
              "default": "M",
              "enum": ["L", "M", "Q", "H"]
            }
          },
          {
            "name": "centerImageUrl",
            "in": "query",
            "required": false,
            "description": "URL of an image to display in the center of the QR code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "centerImageSizeRatio",
            "in": "query",
            "required": false,
            "description": "Size ratio of the center image relative to the QR code (0.0 to 1.0).",
            "schema": {
              "type": "number",
              "default": 0.3
            }
          },
          {
            "name": "centerImageWidth",
            "in": "query",
            "required": false,
            "description": "Width of the center image in pixels. Overrides centerImageSizeRatio.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "centerImageHeight",
            "in": "query",
            "required": false,
            "description": "Height of the center image in pixels. Overrides centerImageSizeRatio.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "caption",
            "in": "query",
            "required": false,
            "description": "Text to display below the QR code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "captionFontFamily",
            "in": "query",
            "required": false,
            "description": "Font family for the caption text.",
            "schema": {
              "type": "string",
              "default": "sans-serif"
            }
          },
          {
            "name": "captionFontSize",
            "in": "query",
            "required": false,
            "description": "Font size for the caption text in pixels.",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "captionFontColor",
            "in": "query",
            "required": false,
            "description": "Font color for the caption text (hex or color name).",
            "schema": {
              "type": "string",
              "default": "black"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "QR code image generated successfully.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters."
          }
        }
      }
    },
    "/graphviz": {
      "get": {
        "summary": "Render GraphViz diagram via GET",
        "description": "Renders a GraphViz diagram from a DOT language graph description passed as a query parameter.",
        "operationId": "getGraphviz",
        "tags": ["GraphViz"],
        "parameters": [
          {
            "name": "graph",
            "in": "query",
            "required": true,
            "description": "DOT language graph description.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": false,
            "description": "GraphViz layout engine to use.",
            "schema": {
              "type": "string",
              "default": "dot",
              "enum": ["dot", "fdp", "neato", "circo", "twopi", "osage", "patchwork"]
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Output format of the rendered diagram.",
            "schema": {
              "type": "string",
              "default": "svg",
              "enum": ["png", "svg"]
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "description": "Image width in pixels (PNG format only).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "description": "Image height in pixels (PNG format only).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Diagram rendered successfully.",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid graph definition."
          }
        }
      },
      "post": {
        "summary": "Render GraphViz diagram via POST",
        "description": "Renders a GraphViz diagram from a DOT language graph description passed in the request body.",
        "operationId": "postGraphviz",
        "tags": ["GraphViz"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphvizRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diagram rendered successfully.",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid graph definition."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChartRequest": {
        "type": "object",
        "required": ["chart"],
        "properties": {
          "chart": {
            "type": "string",
            "description": "Chart.js configuration object in JSON or JavaScript format."
          },
          "width": {
            "type": "integer",
            "default": 500,
            "description": "Image width in pixels."
          },
          "height": {
            "type": "integer",
            "default": 300,
            "description": "Image height in pixels."
          },
          "devicePixelRatio": {
            "type": "number",
            "default": 2.0,
            "description": "Device pixel ratio for retina support."
          },
          "backgroundColor": {
            "type": "string",
            "default": "transparent",
            "description": "Background color (RGB, HEX, HSL, or color name)."
          },
          "version": {
            "type": "string",
            "default": "2",
            "description": "Chart.js version to use.",
            "enum": ["2", "3", "4"]
          },
          "format": {
            "type": "string",
            "default": "png",
            "description": "Output format.",
            "enum": ["png", "webp", "svg", "pdf"]
          },
          "encoding": {
            "type": "string",
            "default": "url",
            "description": "Response encoding.",
            "enum": ["url", "base64"]
          }
        }
      },
      "GraphvizRequest": {
        "type": "object",
        "required": ["graph"],
        "properties": {
          "graph": {
            "type": "string",
            "description": "DOT language graph description."
          },
          "layout": {
            "type": "string",
            "default": "dot",
            "description": "GraphViz layout engine.",
            "enum": ["dot", "fdp", "neato", "circo", "twopi", "osage", "patchwork"]
          },
          "format": {
            "type": "string",
            "default": "svg",
            "description": "Output format.",
            "enum": ["png", "svg"]
          },
          "width": {
            "type": "integer",
            "description": "Image width in pixels (PNG only)."
          },
          "height": {
            "type": "integer",
            "description": "Image height in pixels (PNG only)."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Charts",
      "description": "Generate chart images using Chart.js configurations"
    },
    {
      "name": "QR Codes",
      "description": "Generate QR code images"
    },
    {
      "name": "GraphViz",
      "description": "Render GraphViz diagrams from DOT language"
    }
  ]
}