{
  "openapi": "3.0.0",
  "info": {
    "title": "NanoNets",
    "description": "Welcome to the NanoNets API! You can use our API to build custom deep learning models.<br/>\nWe have language bindings in Shell, Ruby, Golang, Java, C# and Python. You can view code examples in the dark area to the right, and you can switch the programming language for the examples with the tabs in the top right. <br/> In the documentation, you will find ready to fire code samples in these languages as well as detailed API specs for different endpoints.<br/><br/><br/>\n\n### <span style=\"vertical-align: middle;\">Want to quickly test our APIs? &nbsp;</span> <a style=\"vertical-align: middle; display: inline-flex;\" href=\"https://elements.getpostman.com/redirect?entityId=4900737-80d490dc-a342-43be-8160-c9b5bab3c629&entityType=collection\" target=\"_blank\"><img src=\"https://run.pstmn.io/button.svg\" alt=\"Run in Postman\" /></a><br/><br/>\nHelpful links to get you started:<br/><br/>\n**Postman collection variables** - <a href=\"https://learning.postman.com/docs/postman/variables-and-environments/variables/#defining-collection-variables\" target=\"_blank\">https://learning.postman.com/docs/postman/variables-and-environments/variables/#defining-collection-variables</a><br/><br/>\n**To get your API key** <a href=\"https://app.nanonets.com/#keys\" target=\"_blank\">follow this link.</a><br/><br/>\n\n# Model Object\nA model Object has 3 main attributes<br/>\n### model_id\n<b>Definition:</b> Unique ID for the model <br/><br/>\n### model_type\n<b>Definition:</b> Type of model. Possible values are: <br/>\n<table>\n    <tr>\n        <td>classification</td>\n        <td>Image classification model</td>\n    </tr>\n    <tr>\n        <td>ocr</td>\n        <td>OCR model</td>\n    </tr>\n</table> <br/>\n\n### state\n<b>Definition:</b> Current state of model. Possible values are:<br/>\n<table>\n    <tr>\n        <td>-1</td>\n        <td>Error in model training</td>\n    </tr>\n    <tr>\n        <td>0</td>\n        <td>Model created. No training data uploaded yet</td>\n    </tr>\n    <tr>\n        <td>1</td>\n        <td>Training data uploaded. Need to annotate data</td>\n    </tr>\n    <tr>\n        <td>2</td>\n        <td>Training data annotated. Need to start training</td>\n    </tr>\n    <tr>\n        <td>3</td>\n        <td>Model in training queue</td>\n    </tr>\n    <tr>\n        <td>4</td>\n        <td>Model currently training</td>\n    </tr>\n    <tr>\n        <td>5</td>\n        <td>Model hosted. Can be used for prediction</td>\n    </tr>\n    <tr>\n        <td>6</td>\n        <td>Model is retraining with new data. Can be used for prediction</td>\n    </tr>\n</table>\n",
    "version": "2.0.0",
    "contact": {
      "email": "support@nanonets.com",
      "name": "NanoNets",
      "url": "https://nanonets.com"
    },
    "license": {
      "name": "MIT",
      "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
    },
    "x-logo": {
      "url": "https://nanonets.com/logo2.png"
    },
    "x-konfig-ignore": {
      "potential-incorrect-type": true
    },
    "x-jentic-source-url": "https://github.com/konfig-sdks/openapi-examples/tree/HEAD/nanonets/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://app.nanonets.com/api/v2"
    }
  ],
  "tags": [
    {
      "name": "OCR Predict"
    },
    {
      "description": "You can create new image classification model [here](https://app.nanonets.com/#/ic/create)",
      "name": "Image Classification Model"
    },
    {
      "name": "Image Classification Model Predict"
    },
    {
      "name": "Image Classification Model Upload"
    },
    {
      "name": "OCR Model"
    },
    {
      "name": "OCR Upload"
    },
    {
      "name": "Image Classification Model Train"
    },
    {
      "name": "Get Full Text"
    },
    {
      "name": "OCR Train"
    }
  ],
  "paths": {
    "/ImageCategorization/Model": {
      "post": {
        "tags": [
          "Image Classification Model"
        ],
        "summary": "Create New Model",
        "operationId": "ImageClassificationModel_createNewModel",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "description": "You can create a new model using this endpoint. A successful API call will return the json structure of the newly created model. You can then use the model's id to upload images for each category and then retrain the model.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ImageClassificationModelCreateNewModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Model Object",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "categories": [
                        {
                          "count": 0,
                          "name": "category1"
                        },
                        {
                          "count": 0,
                          "name": "category2"
                        }
                      ],
                      "model_id": "00000000-0000-0000-0000-000000000000",
                      "model_type": "classification",
                      "state": 0
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ImageClassificationModelCreateNewModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Zero or One category in request. Add two or more categories in parameters"
          }
        },
        "x-code-samples": [
          {
            "lang": "Nodejs",
            "source": "var request = require('request')\nvar querystring = require('querystring')\nconst form_data = {'categories' : ['category1', 'category2']}\nconst options = {\n    url : 'https://app.nanonets.com/api/v2/ImageCategorization/Model/',\n    body: querystring.stringify(form_data),\n    headers: {\n        'Authorization' : 'Basic ' + Buffer.from('REPLACE_API_KEY' + ':').toString('base64'),\n        'Content-Type': 'application/x-www-form-urlencoded'\n    }\n}\nrequest.post(options, function(err, httpResponse, body) {\n\n  console.log(body)\n});\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://app.nanonets.com/api/v2/ImageCategorization/Model/'\n\nheaders = {\n    'accept': 'application/x-www-form-urlencoded'\n}\n\ndata = {'categories' : ['category1', 'category2']}\n\nresponse = requests.request(\"POST\", url, headers=headers, auth=requests.auth.HTTPBasicAuth('REPLACE_API_KEY', ''), data=data)\n\nprint(response.text)\n"
          },
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n --url 'https://app.nanonets.com/api/v2/ImageCategorization/Model/' \\\n -u 'REPLACE_API_KEY' \\\n -F 'categories=category1' \\\n -F 'categories=category2'\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\n\nimport (\n    \"bytes\"\n    \"fmt\"\n    \"io/ioutil\"\n    \"mime/multipart\"\n    \"net/http\"\n)\n\n\nfunc main() {\n    url := \"https://app.nanonets.com/api/v2/ImageCategorization/Model/\"\n\n\n    body := &bytes.Buffer{}\n    writer := multipart.NewWriter(body)\n\n\n    writer.WriteField(\"categories\", \"category1\")\n    writer.WriteField(\"categories\", \"category2\")\n\n\n    contentType := writer.FormDataContentType()\n    err := writer.Close()\n    if err != nil {\n        fmt.Println(err)\n        return\n    }\n\n    req, _ := http.NewRequest(\"POST\", url, body)\n    req.Header.Add(\"Content-Type\", contentType)\n    req.SetBasicAuth(\"REPLACE_API_KEY\", \"\")\n\n\n    res, err := http.DefaultClient.Do(req)\n    if err != nil {\n        fmt.Println(err)\n        return\n    }\n    defer res.Body.Close()\n\n\n    output, _ := ioutil.ReadAll(res.Body)\n    fmt.Println(res)\n    fmt.Println(string(output))\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var data = new FormData();\ndata.append('categories', 'category1');\ndata.append('categories', 'category2');\n\n\nvar xhr = new XMLHttpRequest();\nxhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === this.DONE) {\n        console.log(this.responseText);\n    }\n});\n\n\nxhr.open(\"POST\", \"https://app.nanonets.com/api/v2/ImageCategorization/Model/\");\nxhr.setRequestHeader(\"authorization\", \"Basic \" + btoa(\"REPLACE_API_KEY:\"));\nxhr.send(data);\n"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'net/http/post/multipart'\nrequire 'json'\nrequire 'active_support/time'\n\nurl = URI('https://app.nanonets.com/api/v2/ImageCategorization/Model/')\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"accept\"] = 'application/x-www-form-urlencoded'\nrequest.basic_auth 'REPLACE_API_KEY', ''\n\nrequest.set_form_data({'categories' => ['category1', 'category2']})\nresponse = http.request(request)\n# puts response.read_body\napiModel = JSON.parse(response.read_body)\nmodelId = apiModel['model_id']\nputs(\"New model created. Model id is #{modelId}\")\n"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://app.nanonets.com/api/v2/ImageCategorization/Model/\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"authorization\", \"Basic \" + Convert.ToBase64String(Encoding.Default.GetBytes(\"REPLACE_API_KEY:\")));\nrequest.AddHeader(\"accept\", \"application/x-www-form-urlencoded\");\nrequest.AddParameter(\"categories\", \"category1\");\nrequest.AddParameter(\"categories\", \"category2\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequestBody formBody = new FormBody.Builder()\n    .add(\"categories\", \"category1\")\n    .add(\"categories\", \"category2\").build();\n\nRequest request = new Request.Builder()\n    .url(\"https://app.nanonets.com/api/v2/ImageCategorization/Model/\")\n    .post(formBody)\n    .addHeader(\"authorization\", Credentials.basic(\"REPLACE_API_KEY\", \"\"))\n    .build();\n\nResponse response = client.newCall(request).execute();            \n"
          }
        ],
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": [
          {
            "expectedResponse": {
              "headers": {},
              "x-allowExtraHeaders": true,
              "x-arrayCheckCount": false,
              "x-arrayOrderedMatching": false,
              "x-bodyMatchMode": "NONE",
              "x-matchResponseSchema": true
            },
            "request": {
              "body": "categories={{category1}}",
              "headers": {
                "Content-Type": "application/x-www-form-urlencoded"
              },
              "method": "POST",
              "uri": "/ImageCategorization/Model/"
            },
            "x-testDescription": "",
            "x-testEnabled": true,
            "x-testName": "Create New Model",
            "x-testShouldPass": true
          }
        ]
      }
    },
    "/Inferences/Model/{model_id}/ImageLevelInferences/{id}": {
      "get": {
        "tags": [
          "OCR Predict"
        ],
        "summary": "Get Prediction File By Page ID",
        "operationId": "OcrPredict_predictionFileByPageId",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "description": "This endpoint retrieves the results of a particular file by page id  ",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "model_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the page that was received from the async prediction endpoint",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model Object",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "message": "Success",
                      "result": [
                        {
                          "input": "string",
                          "message": "Success",
                          "prediction": [
                            {
                              "id": "uuid",
                              "label": "category1",
                              "ocr_text": "string",
                              "score": 0.9,
                              "status": "correctly_predicted",
                              "type": "field",
                              "xmax": 100,
                              "xmin": 0,
                              "ymax": 100,
                              "ymin": 0
                            },
                            {
                              "cells": [
                                {
                                  "col": 1,
                                  "col_span": 1,
                                  "failed_validation": "string",
                                  "id": "uuidX",
                                  "label": "col 1",
                                  "row": 1,
                                  "row_label": "optional",
                                  "row_span": 1,
                                  "score": 99.99,
                                  "status": "string",
                                  "text": "ocr text 1",
                                  "verification_status": "correctly_predicted",
                                  "xmax": 258,
                                  "xmin": 159,
                                  "ymax": 1357,
                                  "ymin": 1258
                                },
                                {
                                  "col": 2,
                                  "col_span": 1,
                                  "failed_validation": "string",
                                  "id": "uuidX",
                                  "label": "col 2",
                                  "row": 1,
                                  "row_label": "optional",
                                  "row_span": 1,
                                  "score": 99.99,
                                  "status": "string",
                                  "text": "ocr text 2",
                                  "verification_status": "correctly_predicted",
                                  "xmax": 380,
                                  "xmin": 258,
                                  "ymax": 1357,
                                  "ymin": 1258
                                },
                                {
                                  "col": 1,
                                  "col_span": 1,
                                  "label": "col 1",
                                  "row": 2,
                                  "row_span": 1,
                                  "score": 99.99,
                                  "text": "ocr text 3",
                                  "xmax": 258,
                                  "xmin": 159,
                                  "ymax": 1439,
                                  "ymin": 1357
                                },
                                {
                                  "col": 2,
                                  "col_span": 1,
                                  "failed_validation": "string",
                                  "id": "uuidX",
                                  "label": "col 2",
                                  "row": 2,
                                  "row_label": "optional",
                                  "row_span": 1,
                                  "score": 99.99902,
                                  "status": "string",
                                  "text": "ocr text 4",
                                  "verification_status": "correctly_predicted",
                                  "xmax": 380,
                                  "xmin": 258,
                                  "ymax": 1439,
                                  "ymin": 1357
                                }
                              ],
                              "id": "uuidX",
                              "label": "",
                              "ocr_text": "table 1",
                              "score": 99.99,
                              "status": "correctly_predicted",
                              "type": "table",
                              "xmax": 380,
                              "xmin": 159,
                              "ymax": 1439,
                              "ymin": 1258
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/OcrPredictPredictionFileByPageIdResponse"
                }
              }
            }
          },
          "404": {
            "description": "Model does not exists. Check if you have entered correct model id with valid API key"
          }
        },
        "x-code-samples": [
          {
            "lang": "Nodejs",
            "source": "var request = require('request')\nconst options = {\n    url : 'https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences/{{id}}',\n    headers: {\n        'Authorization' : 'Basic ' + Buffer.from('REPLACE_API_KEY' + ':').toString('base64')\n    }\n}\nrequest.get(options, function(err, httpResponse, body) {\n\n  console.log(body)\n});\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences/{{id}}'\n\nresponse = requests.request('GET', url, auth=requests.auth.HTTPBasicAuth('REPLACE_API_KEY',''))\n\nprint(response.text)"
          },
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences/{{id}}' \\\n  -u 'REPLACE_API_KEY'"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"net/http\"\n    \"io/ioutil\"\n)\n\nfunc main() {\n\n    url := \"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences/{{id}}\"\n\n    req, _ := http.NewRequest(\"GET\", url, nil)\n\n    req.SetBasicAuth(\"REPLACE_API_KEY\", \"\")\n\n    res, _ := http.DefaultClient.Do(req)\n\n    defer res.Body.Close()\n    body, _ := ioutil.ReadAll(res.Body)\n\n    fmt.Println(res)\n    fmt.Println(string(body))\n\n}"
          },
          {
            "lang": "JavaScript",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences/{{id}}\");\nxhr.setRequestHeader(\"authorization\", \"Basic \" + btoa(\"REPLACE_API_KEY:\"));\n\nxhr.send(data);"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri' require 'net/http'\nurl = URI(\"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences/{{id}}\")\nhttp = Net::HTTP.new(url.host, url.port) http.use_ssl = true\nrequest = Net::HTTP::Get.new(url) request.basic_auth 'REPLACE_API_KEY', '' response = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences/{{id}}\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"authorization\", \"Basic \" + Convert.ToBase64String(Encoding.Default.GetBytes(\"REPLACE_API_KEY:\")));\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences/{{id}}\")\n  .get()\n  .addHeader(\"authorization\", Credentials.basic(\"REPLACE_API_KEY\", \"\"))\n  .build();\n\nResponse response = client.newCall(request).execute();"
          }
        ],
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/Inferences/Model/{model_id}/ImageLevelInferences?start_day_interval={start_day}&current_batch_day={end_day}": {
      "get": {
        "tags": [
          "OCR Predict"
        ],
        "summary": "Get All Prediction Files",
        "operationId": "OcrPredict_allPredictionFiles",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "description": "This endpoint retrieves the files that have been processed by the prediction endpoints ",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "model_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of days since 1st Jan 1970 GMT which represents the start of the period",
            "in": "query",
            "name": "start_day_interval",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of days since 1st Jan 1970 GMT which represents the end of the period",
            "in": "query",
            "name": "current_batch_day",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Images Object",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "moderated_images": [
                        {
                          "day_since_epoch": 18564,
                          "file_url": "uploadedfiles/00000000-0000-0000-0000-000000000000/PredictionImages/original_file_name-xxxx.jpeg",
                          "hour_of_day": 15,
                          "id": "00000000-0000-0000-0000-000000000000",
                          "is_moderated": true,
                          "model_id": "category1",
                          "predicted_boxes": [
                            {
                              "label": "invoice_id",
                              "ocr_text": "877541",
                              "xmax": 984,
                              "xmin": 616,
                              "ymax": 357,
                              "ymin": 321
                            }
                          ],
                          "url": "uploadedfiles/00000000-0000-0000-0000-000000000000/PredictionImages/0000000001.jpeg"
                        }
                      ],
                      "moderated_images_count": 55,
                      "unmoderated_images": [
                        {
                          "day_since_epoch": 18565,
                          "file_url": "uploadedfiles/00000000-0000-0000-0000-000000000000/PredictionImages/original_file_name-xxxx.jpeg",
                          "hour_of_day": 23,
                          "id": "00000000-0000-0000-0000-000000000000X",
                          "is_moderated": false,
                          "model_id": "00000000-0000-0000-0000-000000000000",
                          "predicted_boxes": [
                            {
                              "label": "seller_name",
                              "ocr_text": "Apple",
                              "xmax": 984,
                              "xmin": 616,
                              "ymax": 357,
                              "ymin": 321
                            }
                          ],
                          "url": "uploadedfiles/00000000-0000-0000-0000-000000000000/PredictionImages/0000000002.jpeg"
                        }
                      ],
                      "unmoderated_images_count": 156
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/OcrPredictAllPredictionFilesResponse"
                }
              }
            }
          },
          "404": {
            "description": "Model does not exists. Check if you have entered correct model id with valid API key"
          }
        },
        "x-code-samples": [
          {
            "lang": "Nodejs",
            "source": "var request = require('request')\nconst options = {\n    url : 'https://app.nanonets.com/api/v2/Inferences/Model/' + 'REPLACE_MODEL_ID' + '/ImageLevelInferences?start_day_interval={start_day}&current_batch_day={end_day}',\n    headers: {\n        'Authorization' : 'Basic ' + Buffer.from('REPLACE_API_KEY' + ':').toString('base64')\n    }\n}\nrequest.get(options, function(err, httpResponse, body) {\n\n  console.log(body)\n});\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://app.nanonets.com/api/v2/Inferences/Model/' + 'REPLACE_MODEL_ID' + '/ImageLevelInferences?start_day_interval={start_day}&current_batch_day={end_day}'\n\nresponse = requests.request('GET', url, auth=requests.auth.HTTPBasicAuth('REPLACE_API_KEY',''))\n\nprint(response.text)"
          },
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences?start_day_interval={start_day}&current_batch_day={end_day}' \\\n  -u 'REPLACE_API_KEY'"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"net/http\"\n    \"io/ioutil\"\n)\n\nfunc main() {\n\n    url := \"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences?start_day_interval={start_day}&current_batch_day={end_day}\"\n\n    req, _ := http.NewRequest(\"GET\", url, nil)\n\n    req.SetBasicAuth(\"REPLACE_API_KEY\", \"\")\n\n    res, _ := http.DefaultClient.Do(req)\n\n    defer res.Body.Close()\n    body, _ := ioutil.ReadAll(res.Body)\n\n    fmt.Println(res)\n    fmt.Println(string(body))\n\n}"
          },
          {
            "lang": "JavaScript",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences?start_day_interval={start_day}&current_batch_day={end_day}\");\nxhr.setRequestHeader(\"authorization\", \"Basic \" + btoa(\"REPLACE_API_KEY:\"));\n\nxhr.send(data);"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri' require 'net/http'\nurl = URI(\"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences?start_day_interval={start_day}&current_batch_day={end_day}\")\nhttp = Net::HTTP.new(url.host, url.port) http.use_ssl = true\nrequest = Net::HTTP::Get.new(url) request.basic_auth 'REPLACE_API_KEY', '' response = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences?start_day_interval={start_day}&current_batch_day={end_day}\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"authorization\", \"Basic \" + Convert.ToBase64String(Encoding.Default.GetBytes(\"REPLACE_API_KEY:\")));\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/ImageLevelInferences?start_day_interval={start_day}&current_batch_day={end_day}\")\n  .get()\n  .addHeader(\"authorization\", Credentials.basic(\"REPLACE_API_KEY\", \"\"))\n  .build();\n\nResponse response = client.newCall(request).execute();"
          }
        ],
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/Inferences/Model/{model_id}/InferenceRequestFiles/GetPredictions/{request_file_id}": {
      "get": {
        "tags": [
          "OCR Predict"
        ],
        "summary": "Get Prediction File By File ID",
        "operationId": "OcrPredict_getFilePredictionByFileId",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "description": "This endpoint retrieves the results of a particular file by file id  ",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "model_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the file that was received from the async prediction endpoint",
            "in": "path",
            "name": "request_file_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model Object",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "moderated_images": [
                        {
                          "day_since_epoch": 0,
                          "file_url": "uploadedfiles/<id>/PredictionImages/<original_image_name><timestamp_based_string>",
                          "hour_of_day": 0,
                          "id": "uuidX",
                          "is_moderated": true,
                          "model_id": "<model_id>",
                          "moderated_boxes": [
                            null
                          ],
                          "original_file_name": "<filename>",
                          "page": 0,
                          "predicted_boxes": [
                            {
                              "id": "uuidX",
                              "label": "category1",
                              "ocr_text": "string",
                              "score": 0.9,
                              "status": "correctly_predicted",
                              "type": "field|table",
                              "xmax": 100,
                              "xmin": 0,
                              "ymax": 100,
                              "ymin": 0
                            },
                            {
                              "cells": [
                                {
                                  "col": 1,
                                  "col_span": 1,
                                  "label": "col 1",
                                  "row": 1,
                                  "row_span": 1,
                                  "score": 99.99,
                                  "text": "ocr text 1",
                                  "xmax": 258,
                                  "xmin": 159,
                                  "ymax": 1357,
                                  "ymin": 1258
                                },
                                {
                                  "col": 2,
                                  "col_span": 1,
                                  "label": "col 2",
                                  "row": 1,
                                  "row_span": 1,
                                  "score": 99.99,
                                  "text": "ocr text 2",
                                  "xmax": 380,
                                  "xmin": 258,
                                  "ymax": 1357,
                                  "ymin": 1258
                                },
                                {
                                  "col": 1,
                                  "col_span": 1,
                                  "label": "col 1",
                                  "row": 2,
                                  "row_span": 1,
                                  "score": 99.99,
                                  "text": "ocr text 3",
                                  "xmax": 258,
                                  "xmin": 159,
                                  "ymax": 1439,
                                  "ymin": 1357
                                },
                                {
                                  "col": 2,
                                  "col_span": 1,
                                  "label": "col 2",
                                  "row": 2,
                                  "row_span": 1,
                                  "score": 99.99902,
                                  "text": "ocr text 4",
                                  "xmax": 380,
                                  "xmin": 258,
                                  "ymax": 1439,
                                  "ymin": 1357
                                }
                              ],
                              "label": "",
                              "ocr_text": "table 1",
                              "score": 99.99,
                              "type": "table",
                              "xmax": 380,
                              "xmin": 159,
                              "ymax": 1439,
                              "ymin": 1258
                            }
                          ],
                          "request_file_id": "uuid",
                          "request_metadata": "metadata sent during prediction",
                          "status": "Success",
                          "updated_at": "timeuuid",
                          "url": "uploadedfiles/<id>/PredictionImages/<image_name>",
                          "verified_at": "timeuuid",
                          "verified_by": "<person_name>"
                        }
                      ],
                      "moderated_images_count": 0,
                      "signed_urls": [
                        null
                      ],
                      "unmoderated_images": [
                        null
                      ],
                      "unmoderated_images_count": 1
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/OcrPredictGetFilePredictionByFileIdResponse"
                }
              }
            }
          },
          "404": {
            "description": "Model does not exists. Check if you have entered correct model id with valid API key"
          }
        },
        "x-code-samples": [
          {
            "lang": "Nodejs",
            "source": "var request = require('request')\nconst options = {\n    url : 'https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/InferenceRequestFiles/GetPredictions/{{request_file_id}}',\n    headers: {\n        'Authorization' : 'Basic ' + Buffer.from('REPLACE_API_KEY' + ':').toString('base64')\n    }\n}\nrequest.get(options, function(err, httpResponse, body) {\n\n  console.log(body)\n});\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/InferenceRequestFiles/GetPredictions/{{request_file_id}}'\n\nresponse = requests.request('GET', url, auth=requests.auth.HTTPBasicAuth('REPLACE_API_KEY',''))\n\nprint(response.text)"
          },
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/InferenceRequestFiles/GetPredictions/{{request_file_id}}' \\\n  -u 'REPLACE_API_KEY'"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"net/http\"\n    \"io/ioutil\"\n)\n\nfunc main() {\n\n    url := \"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/InferenceRequestFiles/GetPredictions/{{request_file_id}}\"\n\n    req, _ := http.NewRequest(\"GET\", url, nil)\n\n    req.SetBasicAuth(\"REPLACE_API_KEY\", \"\")\n\n    res, _ := http.DefaultClient.Do(req)\n\n    defer res.Body.Close()\n    body, _ := ioutil.ReadAll(res.Body)\n\n    fmt.Println(res)\n    fmt.Println(string(body))\n\n}"
          },
          {
            "lang": "JavaScript",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/InferenceRequestFiles/GetPredictions/{{request_file_id}}\");\nxhr.setRequestHeader(\"authorization\", \"Basic \" + btoa(\"REPLACE_API_KEY:\"));\n\nxhr.send(data);"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri' require 'net/http'\nurl = URI(\"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/InferenceRequestFiles/GetPredictions/{{request_file_id}}\")\nhttp = Net::HTTP.new(url.host, url.port) http.use_ssl = true\nrequest = Net::HTTP::Get.new(url) request.basic_auth 'REPLACE_API_KEY', '' response = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/InferenceRequestFiles/GetPredictions/{{request_file_id}}\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"authorization\", \"Basic \" + Convert.ToBase64String(Encoding.Default.GetBytes(\"REPLACE_API_KEY:\")));\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://app.nanonets.com/api/v2/Inferences/Model/{{model_id}}/InferenceRequestFiles/GetPredictions/{{request_file_id}}\")\n  .get()\n  .addHeader(\"authorization\", Credentials.basic(\"REPLACE_API_KEY\", \"\"))\n  .build();\n\nResponse response = client.newCall(request).execute();"
          }
        ],
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/OCR/FullText": {
      "post": {
        "tags": [
          "Get Full Text"
        ],
        "summary": "Get Full Text",
        "operationId": "GetFullText_fileContent",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "description": "Use this API to recieve the word and full text information in a file. More info on https://nanonets.com",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/GetFullTextFileContentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Model Object",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "result": [
                        {
                          "filename": "MY_FILE_NAME_1.pdf",
                          "page_data": [
                            {
                              "page": 0,
                              "raw_text": "this contains all the text in the page",
                              "words": [
                                {
                                  "text": "text of word 1",
                                  "xmax": 380,
                                  "xmin": 159,
                                  "ymax": 1439,
                                  "ymin": 1258
                                },
                                {
                                  "text": "text of word 2",
                                  "xmax": 380,
                                  "xmin": 159,
                                  "ymax": 1439,
                                  "ymin": 1258
                                },
                                {
                                  "text": "text of word 3",
                                  "xmax": 380,
                                  "xmin": 159,
                                  "ymax": 1439,
                                  "ymin": 1258
                                }
                              ]
                            },
                            {
                              "page": 1,
                              "raw_text": "this contains all the text in the page",
                              "words": [
                                {
                                  "text": "text of word 1",
                                  "xmax": 380,
                                  "xmin": 159,
                                  "ymax": 1439,
                                  "ymin": 1258
                                },
                                {
                                  "text": "text of word 2",
                                  "xmax": 380,
                                  "xmin": 159,
                                  "ymax": 1439,
                                  "ymin": 1258
                                }
                              ]
                            },
                            {
                              "page": 2,
                              "raw_text": "this contains all the text in the page",
                              "words": [
                                {
                                  "text": "text of word 3",
                                  "xmax": 380,
                                  "xmin": 159,
                                  "ymax": 1439,
                                  "ymin": 1258
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "filename": "MY_FILE_NAME_2.jpg",
                          "page_data": [
                            {
                              "page": 0,
                              "raw_text": "this contains all the text in the page",
                              "words": [
                                {
                                  "text": "text of word 1",
                                  "xmax": 380,
                                  "xmin": 159,
                                  "ymax": 1439,
                                  "ymin": 1258
                                },
                                {
                                  "text": "text of word 2",
                                  "xmax": 380,
                                  "xmin": 159,
                                  "ymax": 1439,
                                  "ymin": 1258
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/GetFullTextFileContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "File missing. Check if you have included a file in the request\n\nOR\n\nIncorrect image. Check if file you included is a valid PNG or JPEG or PDF"
          }
        },
        "x-code-samples": [
          {
            "lang": "Nodejs",
            "source": "var axios = require('axios');\nvar FormData = require('form-data');\nvar fs = require('fs');\nvar data = new FormData();\ndata.apend('urls','FILE_URL')\ndata.append('file', fs.createReadStream('FILE_PATH'));\nvar config = {\n  method: 'post',\n  url: 'https://app.nanonets.com/api/v2/OCR/FullText',\n  headers: { \n    'Authorization': 'Basic ' + Buffer.from(\"MY_API_KEY\" + \":\").toString('base64'), \n    ...data.getHeaders()\n  },\n  data : data\n};\naxios(config) .then(function (response) {\n  console.log(JSON.stringify(response.data));\n}) .catch(function (error) {\n  console.log(error);\n});\n"
          },
          {
            "lang": "Python",
            "source": "import requests\nimport base64\n\nurl = \"https://app.nanonets.com/api/v2/OCR/FullText\"\n\npayload={'urls': ['MY_IMAGE_URL']}\nfiles=[\n  ('file',('FILE_NAME',open('FILE_PATH','rb'),'application/pdf')))\n]\nheaders = {}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload, files=files, auth=requests.auth.HTTPBasicAuth('REPLACE_YOUR_API_KEY', ''))\n\nprint(response.text)\n"
          },
          {
            "lang": "Shell",
            "source": "curl --location --request POST 'https://app.nanonets.com/api/v2/OCR/FullText' \\\n--u 'REPLACE_API_KEY:' \\\n--form 'file=@\"FILE_PATH\"' \n"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://app.nanonets.com/api/v2/OCR/FullText\");\nclient.Timeout = -1;\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Basic \" + Convert.ToBase64String(Encoding.Default.GetBytes(\"REPLACE_YOUR_API_KEY:\")));\nrequest.AddFile(\"file\", \"FILE_PATH\");\nIRestResponse response = client.Execute(request);\nConsole.WriteLine(response.Content); \n"
          }
        ],
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/OCR/Model/{model_id}": {
      "get": {
        "tags": [
          "OCR Model"
        ],
        "summary": "Get Model by Id",
        "operationId": "OcrModel_getModelById",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "description": "This endpoint retrieves a specific model's details given it's id.",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "model_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model Object",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "categories": [
                        {
                          "count": 0,
                          "name": "category1"
                        },
                        {
                          "count": 0,
                          "name": "category2"
                        }
                      ],
                      "model_id": "00000000-0000-0000-0000-000000000000",
                      "model_type": "ocr",
                      "state": 0
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/OcrModelGetModelByIdResponse"
                }
              }
            }
          },
          "404": {
            "description": "Model does not exists. Check if you have entered correct model id with valid API key"
          }
        },
        "x-code-samples": [
          {
            "lang": "Nodejs",
            "source": "var request = require('request')\nconst options = {\n    url : 'https://app.nanonets.com/api/v2/OCR/Model/' + 'REPLACE_MODEL_ID',\n    headers: {\n        'Authorization' : 'Basic ' + Buffer.from('REPLACE_API_KEY' + ':').toString('base64')\n    }\n}\nrequest.get(options, function(err, httpResponse, body) {\n\n  console.log(body)\n});\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://app.nanonets.com/api/v2/OCR/Model/' + {{model_id}}\n\nresponse = requests.request('GET', url, auth=requests.auth.HTTPBasicAuth('REPLACE_API_KEY',''))\n\nprint(response.text)"
          },
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url 'https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}' \\\n  -u 'REPLACE_API_KEY'"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"net/http\"\n    \"io/ioutil\"\n)\n\nfunc main() {\n\n    url := \"https://app.nanonets.com/api/v2/OCR/Model/\" + {{model_id}}\n\n    req, _ := http.NewRequest(\"GET\", url, nil)\n\n    req.SetBasicAuth(\"REPLACE_API_KEY\", \"\")\n\n    res, _ := http.DefaultClient.Do(req)\n\n    defer res.Body.Close()\n    body, _ := ioutil.ReadAll(res.Body)\n\n    fmt.Println(res)\n    fmt.Println(string(body))\n\n}"
          },
          {
            "lang": "JavaScript",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://app.nanonets.com/api/v2/OCR/Model/\" + {{model_id}});\nxhr.setRequestHeader(\"authorization\", \"Basic \" + btoa(\"REPLACE_API_KEY:\"));\n\nxhr.send(data);"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri' require 'net/http'\nurl = URI('https://app.nanonets.com/api/v2/OCR/Model/' + {{model_id}})\nhttp = Net::HTTP.new(url.host, url.port) http.use_ssl = true\nrequest = Net::HTTP::Get.new(url) request.basic_auth 'REPLACE_API_KEY', '' response = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://app.nanonets.com/api/v2/OCR/Model/\" + {{model_id}});\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"authorization\", \"Basic \" + Convert.ToBase64String(Encoding.Default.GetBytes(\"REPLACE_API_KEY:\")));\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://app.nanonets.com/api/v2/OCR/Model/\" + {{model_id}})\n  .get()\n  .addHeader(\"authorization\", Credentials.basic(\"REPLACE_API_KEY\", \"\"))\n  .build();\n\nResponse response = client.newCall(request).execute();"
          }
        ],
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/OCR/Model/{model_id}/LabelFile/?async=true": {
      "post": {
        "tags": [
          "OCR Predict"
        ],
        "summary": "Async Prediction for image file",
        "operationId": "OcrPredict_imageFileAsyncPrediction",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "description": "Use the model to predict which one of the categories an image (given an image file) belongs to.",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "model_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This parameter specifies whether you'd like to upload the file for processing and then query the results with a unique id at a later point in time",
            "in": "query",
            "name": "async",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/OcrPredictImageFileAsyncPredictionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "message can contain 3 status messages\n1. success - file has been successfully processed\n2. pending - file is in the queue and will be processed\n3. failure - There was an issue while processing the file. It has been retrried 3 times. It is recommended to reupload the file and if the issue persists, please contact support ",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "message": "Success",
                      "result": [
                        {
                          "message": "Success",
                          "result": [
                            {
                              "file_url": "uploadedfiles/00000000-0000-0000-0000-000000000000/PredictionImages/original_file_name-xxxx.jpeg",
                              "filepath": "uploadedfiles/00000000-0000-0000-0000-000000000000/PredictionImages/filename.jpeg",
                              "id": "00000000-0000-0000-0000-000000000000X",
                              "input": "filename.jpg",
                              "message": "Success",
                              "page": 55,
                              "prediction": [],
                              "request_file_id": "00000000-0000-0000-0000-000000000000",
                              "request_metadata": "metadata sent during prediction"
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/OcrPredictImageFileAsyncPredictionResponse"
                }
              }
            }
          },
          "400": {
            "description": "File missing. Check if you have included a file in the request\n\nOR\n\nIncorrect image. Check if file you included is a valid PNG or JPEG"
          },
          "402": {
            "description": "Exhausted Free API Calls. You have exhausted your free API calls please change your plan <a href=\"https://app.nanonets.com/user/apps\">here</a>"
          },
          "404": {
            "description": "Model does not exists. Check if the model id exists"
          }
        },
        "x-code-samples": [
          {
            "lang": "Nodejs",
            "source": "var request = require('request')\nvar fs = require('fs')\nconst form_data = {'modelId' : 'REPLACE_MODEL_ID', \n                    'file' : fs.createReadStream('REPLACE_IMAGE_PATH.jpg'),\n                    // for base64 of file instead of file\n                    //'base64_data' : fs.readFileSync(\"REPLACE_IMAGE_PATH.jpg\").toString('base64')\n                  }\n\nconst options = {\n    url : 'https://app.nanonets.com/api/v2/OCR/Model/REPLACE_MODEL_ID/LabelFile/?async=true',\n    formData: form_data,\n    headers: {\n        'Authorization' : 'Basic ' + Buffer.from('REPLACE_API_KEY' + ':').toString('base64')\n    }\n}\nrequest.post(options, function(err, httpResponse, body) {\n\n  console.log(body)\n});\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://app.nanonets.com/api/v2/OCR/Model/REPLACE_MODEL_ID/LabelFile/?async=true'\n\ndata = {'file': open('REPLACE_IMAGE_PATH.jpg', 'rb')}\n\nresponse = requests.post(url, auth=requests.auth.HTTPBasicAuth('REPLACE_API_KEY', ''), files=data)\n\n# for base64 of file instead of file\n# with open('REPLACE_IMAGE_PATH.jpg', 'rb') as file:\n#   encoded_file = base64.b64encode(file.read())\n# data = {'base64_data': encoded_file}\n# response = requests.post(url, auth=requests.auth.HTTPBasicAuth('REPLACE_API_KEY', ''), data=data)\n\nprint(response.text)\n"
          },
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n    --url 'https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelFile/?async=true' \\\n    --header 'accept: multipart/form-data' \\\n    -u 'REPLACE_API_KEY' \\\n    -F 'file=@REPLACE_IMAGE_PATH.jpg'\n    # -d 'base64_data=base64OfFile' # for base64 of file instead of file\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n    \"bytes\"\n    \"fmt\"\n    \"io\"\n    \"io/ioutil\"\n    \"mime/multipart\"\n    \"net/http\"\n    // \"net/url\"\n    \"os\"\n    \"path/filepath\"\n)\n\nfunc main() {\n\n    url := \"https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelFile/?async=true\"\n\n    file, err := os.Open(\"REPLACE_IMAGE_PATH.jpg\")\n    if err != nil {\n        fmt.Println(err)\n        return\n    }\n\n    defer file.Close()\n\n    body := &bytes.Buffer{}\n    writer := multipart.NewWriter(body)\n\n    part, err := writer.CreateFormFile(\"file\", filepath.Base(\"REPLACE_IMAGE_PATH.jpg\"))\n    if err != nil {\n        fmt.Println(err)\n        return\n    }\n    _, err = io.Copy(part, file)\n\n    contentType := writer.FormDataContentType()\n\n    err = writer.Close()\n    if err != nil {\n        fmt.Println(err)\n        return\n    }\n\n    req, _ := http.NewRequest(\"POST\", url, body)\n\n    // for base64 of file instead of file\n    // data := url.Values{}\n    // data.Add(\"base64_data\", base64OfFile)\n    // req, _ := http.NewRequest(\"POST\", url, bytes.NewBufferString(data.Encode()))\n\n    req.Header.Add(\"Content-Type\", contentType)\n    req.SetBasicAuth(\"REPLACE_API_KEY\", \"\")\n\n    res, _ := http.DefaultClient.Do(req)\n\n    defer res.Body.Close()\n    respBody, _ := ioutil.ReadAll(res.Body)\n\n    fmt.Println(res)\n    fmt.Println(string(respBody))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var data = new FormData();\ndata.append('file', fileBLob); // This is file object\n//data.append('base64_data', base64EncodedFile); // Can use this for base64 of the file\n\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === this.DONE) {\n        console.log(this.responseText);\n    }\n});\n\nxhr.open(\"POST\", \"https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelFile/?async=true\");\nxhr.setRequestHeader(\"authorization\", \"Basic \" + btoa(\"REPLACE_API_KEY:\"));\n\nxhr.send(data);\n"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'net/http/post/multipart'\n\nurl = URI('https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelFile/?async=true')\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nFile.open('test.jpg') do |jpg|\nrequest = Net::HTTP::Post::Multipart.new(url.path,\n    'file' => UploadIO.new(jpg, 'image/jpeg', 'test.jpg'))\n# for base64 of file instead of file\n# request = Net::HTTP::Post.new(url)\n# request.set_form_data({'base64_data' => base64OfFile})\nrequest.basic_auth 'REPLACE_API_KEY', ''\nresponse = Net::HTTP.start(url.host, url.port) do |http|\n    http.request(request)\nend\nputs response.read_body\nend\n"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelFile/?async=true\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"authorization\", \"Basic \" + Convert.ToBase64String(Encoding.Default.GetBytes(\"REPLACE_API_KEY:\")));\nrequest.AddHeader(\"accept\", \"Multipart/form-data\");\nrequest.AddFile(\"file\", \"REPLACE_IMAGE_PATH.jpg\");\n// for base64 of file instead of file\n// request.AddParameter(\"base64_data\", base64OfFile);\nIRestResponse response = client.Execute(request);\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\nprivate static final MediaType MEDIA_TYPE_JPG = MediaType.parse(\"image/jpeg\");\n\nOkHttpClient client = new OkHttpClient();\n\nRequestBody requestBody = new MultipartBody.Builder()\n        .setType(MultipartBody.FORM)\n        .addFormDataPart(\"file\", \"REPLACE_IMAGE_PATH.jpg\", RequestBody.create(MEDIA_TYPE_JPG, new File(\"REPLACE_IMAGE_PATH.jpg\")))\n        .build();\n\n# for base64 of file instead of file\n# RequestBody formBody = new FormBody.Builder()\n#         .add(\"base64_data\", base64OfFile).build();\n\nrequest = new Request.Builder()\n        .url(\"https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelFile/?async=true\")\n        .post(requestBody)\n        .addHeader(\"Authorization\", Credentials.basic(\"REPLACE_API_KEY\", \"\"))\n        .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ],
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/OCR/Model/{model_id}/LabelUrls/?async=true": {
      "post": {
        "tags": [
          "OCR Predict"
        ],
        "summary": "Async Prediction for image url",
        "operationId": "OcrPredict_imageUrlAsync",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "description": "This endpoint allows you to process a file on your OCR model and get the results",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "model_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This parameter specifies whether you'd like to upload the file for processing and then query the results with a unique id at a later point in time",
            "in": "path",
            "name": "async",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OcrPredictImageUrlAsyncRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "message can contain 3 status messages\n1. success - File has been successfully processed\n2. pending - File is in the queue and will be processed\n3. failure - There was an issue while processing the file. It has been retried 3 times. It is recommended to reupload the file and if the issue persists, please contact support ",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "message": "Success",
                      "result": [
                        {
                          "input": "string",
                          "message": "Success",
                          "result": [
                            {
                              "file_url": "uploadedfiles/00000000-0000-0000-0000-000000000000/PredictionImages/original_file_name-xxxx.jpeg",
                              "filepath": "uploadedfiles/00000000-0000-0000-0000-000000000000/PredictionImages/filename.jpeg",
                              "id": "00000000-0000-0000-0000-000000000000X",
                              "input": "filename.jpg",
                              "message": "Success",
                              "page": 55,
                              "prediction": [],
                              "request_file_id": "00000000-0000-0000-0000-000000000000",
                              "request_metadata": "metadata sent during prediction"
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/OcrPredictImageUrlAsyncResponse"
                }
              }
            }
          },
          "202": {
            "description": "Request partially successful. One or more urls might not be correct or got no response"
          },
          "400": {
            "description": "Urls missing. Check if you have an included array of image urls"
          },
          "402": {
            "description": "Exhausted Free API Calls  You have exhausted your free API calls please change your plan <a href=\"https://app.nanonets.com/user/apps\">here</a>"
          },
          "404": {
            "description": "Model does not exists. Check if the model id exists"
          }
        },
        "x-code-samples": [
          {
            "lang": "Nodejs",
            "source": "var request = require('request')\nvar querystring = require('querystring')\nconst form_data = {'urls' : ['https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg'], \n                   // for base64 of file instead of url\n                  //'base64_data' : fs.readFileSync(\"REPLACE_IMAGE_PATH.jpg\").toString('base64')\n                   }\n\nconst options = {\n    url : 'https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelUrls/?async=true',\n    body: querystring.stringify(form_data),\n    headers: {\n        'Authorization' : 'Basic ' + Buffer.from('REPLACE_API_KEY' + ':').toString('base64'),\n        'Content-Type': 'application/x-www-form-urlencoded'\n    }\n}\nrequest.post(options, function(err, httpResponse, body) {\n\n  console.log(body)\n});\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelUrls/?async=true'\n\nheaders = {\n    'accept': 'application/x-www-form-urlencoded'\n}\n\ndata = {'urls' : ['https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg']}\n\n# for base64 of file instead of url\n# with open('REPLACE_IMAGE_PATH.jpg', 'rb') as file:\n#   encoded_file = base64.b64encode(file.read())\n# data = {'base64_data': encoded_file}\n\nresponse = requests.request('POST', url, headers=headers, auth=requests.auth.HTTPBasicAuth('REPLACE_API_KEY', ''), data=data)\n\nprint(response.text)\n"
          },
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n    --url 'https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelUrls/?async=true' \\\n    --header 'accept: application/x-www-form-urlencoded' \\\n    -d 'urls=https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg' \\\n    -u 'REPLACE_API_KEY'\n    # -d 'base64_data=base64OfFile' # for base64 of file instead of urls\n"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n    \"bytes\"\n    \"fmt\"\n    \"io/ioutil\"\n    \"net/http\"\n    \"net/url\"\n)\n\nfunc main() {\n\n    labelUrl := \"https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelUrls/?async=true\"\n\n    data := url.Values{}\n    data.Add(\"urls\", \"https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg\")\n    // for base64 of file instead of url\n    // data.Add(\"base64_data\", base64OfFile)\n\n    req, _ := http.NewRequest(\"POST\", labelUrl, bytes.NewBufferString(data.Encode()))\n\n    req.Header.Add(\"Content-Type\", \"application/x-www-form-urlencoded\")\n    req.SetBasicAuth(\"REPLACE_API_KEY\", \"\")\n\n    res, _ := http.DefaultClient.Do(req)\n\n    defer res.Body.Close()\n    body, _ := ioutil.ReadAll(res.Body)\n\n    fmt.Println(res)\n    fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var data = 'urls=https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg';\n//var data='base64_data=base64EncodedFile'// Can use this for base64 of the url\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === this.DONE) {\n        console.log(this.responseText);\n    }\n});\n\nxhr.open(\"POST\", \"https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelUrls/?async=true\");\nxhr.setRequestHeader(\"Content-Type\", \"application/x-www-form-urlencoded\");\nxhr.setRequestHeader(\"authorization\", \"Basic \" + btoa(\"REPLACE_API_KEY:\"));\n\nxhr.send(data);\n"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI('https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelUrls/?async=true')\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"accept\"] = 'application/x-www-form-urlencoded'\nrequest.basic_auth 'REPLACE_API_KEY', ''\n\nrequest.set_form_data({'urls' => ['https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg']})\n# for base64 of file instead of urls\n# request.set_form_data({'base64_data' => base64OfFile})\n\nresponse = http.request(request)\nputs response.read_body\n"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelUrls/?async=true\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"authorization\", \"Basic REPLACE_API_KEY\");\nrequest.AddHeader(\"accept\", \"application/x-www-form-urlencoded\");\nrequest.AddParameter(\"urls\", \"https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg\");\n// for base64 of file instead of url\n// request.AddParameter(\"base64_data\", base64OfFile);\nIRestResponse response = client.Execute(request);\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequestBody formBody = new FormBody.Builder()\n        .add(\"urls\", \"https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg\").build();\n\n# for base64 of file instead of urls\n# RequestBody formBody = new FormBody.Builder()\n#         .add(\"base64_data\", base64OfFile).build();\n\nRequest request = new Request.Builder()\n    .url(\"https://app.nanonets.com/api/v2/OCR/Model/{{model_id}}/LabelUrls/?async=true\")\n    .post(formBody)\n    .addHeader(\"Authorization\", Credentials.basic(\"REPLACE_API_KEY\", \"\"))\n    .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ],
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/ImageCategorization/LabelFile": {
      "post": {
        "tags": [
          "Image Classification Model Predict"
        ],
        "summary": "Prediction for image File",
        "operationId": "ImageClassificationModelPredict_filePrediction",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "description": "Use the model to predict which one of the categories an image (given an image file) belongs to.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageClassificationModelPredictFilePredictionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Model Object",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "message": "Success",
                      "model_id": "00000000-0000-0000-0000-000000000000",
                      "result": [
                        {
                          "file": "string",
                          "message": "Success",
                          "prediction": [
                            {
                              "label": "category1",
                              "probability": 0.9
                            },
                            {
                              "label": "category2",
                              "probability": 0.1
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ImageClassificationModelPredictFilePredictionResponse"
                }
              }
            }
          },
          "400": {
            "description": "File missing. Check if you have included a file in the request\n\nOR\n\nIncorrect image. Check if file you included is a valid PNG or JPEG"
          },
          "402": {
            "description": "Exhausted Free API Calls. You have exhausted your free API calls please change your plan <a href=\"https://app.nanonets.com/user/apps\">here</a>"
          },
          "404": {
            "description": "Model does not exists. Check if the model id exists"
          }
        },
        "x-code-samples": [
          {
            "lang": "Nodejs",
            "source": "var request = require('request')\nvar fs = require('fs')\nconst form_data = {'modelId' : 'REPLACE_MODEL_ID', 'file' : fs.createReadStream('REPLACE_IMAGE_PATH.jpg')}\nconst options = {\n    url : 'https://app.nanonets.com/api/v2/ImageCategorization/LabelFile/',\n    formData: form_data,\n    headers: {\n        'Authorization' : 'Basic ' + Buffer.from('REPLACE_API_KEY' + ':').toString('base64')\n    }\n}\nrequest.post(options, function(err, httpResponse, body) {\n\n  console.log(body)\n});\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://app.nanonets.com/api/v2/ImageCategorization/LabelFile/'\n\ndata = {'file': open('REPLACE_IMAGE_PATH.jpg', 'rb'), 'modelId': ('', 'REPLACE_MODEL_ID')}\n\nresponse = requests.post(url, auth= requests.auth.HTTPBasicAuth('REPLACE_API_KEY', ''), files=data)\n\nprint(response.text)\n"
          },
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n  --url 'https://app.nanonets.com/api/v2/ImageCategorization/LabelFile/' \\\n  --header 'accept: multipart/form-data' \\\n  -u 'REPLACE_API_KEY' \\\n  -F 'modelId=REPLACE_MODEL_ID' \\\n  -F 'file=@REPLACE_IMAGE_PATH.jpg'"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n    \"bytes\"\n    \"fmt\"\n    \"io\"\n    \"io/ioutil\"\n    \"mime/multipart\"\n    \"net/http\"\n    \"os\"\n    \"path/filepath\"\n)\n\nfunc main() {\n\n    url := \"https://app.nanonets.com/api/v2/ImageCategorization/LabelFile/\"\n\n    file, err := os.Open(\"test.jpg\")\n    if err != nil {\n        fmt.Println(err)\n        return\n    }\n\n    defer file.Close()\n\n    body := &bytes.Buffer{}\n    writer := multipart.NewWriter(body)\n\n    part, err := writer.CreateFormFile(\"file\", filepath.Base(\"test.jpg\"))\n    if err != nil {\n        fmt.Println(err)\n        return\n    }\n    _, err = io.Copy(part, file)\n\n    writer.WriteField(\"modelId\", \"REPLACE_MODEL_ID\")\n\n    contentType := writer.FormDataContentType()\n\n    err = writer.Close()\n    if err != nil {\n        fmt.Println(err)\n        return\n    }\n\n    req, _ := http.NewRequest(\"POST\", url, body)\n\n    req.Header.Add(\"Content-Type\", contentType)\n    req.SetBasicAuth(\"REPLACE_API_KEY\", \"\")\n\n    res, _ := http.DefaultClient.Do(req)\n\n    defer res.Body.Close()\n    output, _ := ioutil.ReadAll(res.Body)\n\n    fmt.Println(res)\n    fmt.Println(string(output))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var data = new FormData();\ndata.append('modelId', 'REPLACE_MODEL_ID');\ndata.append('file', file); // file is a Blob object\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === this.DONE) {\n        console.log(this.responseText);\n    }\n});\n\nxhr.open(\"POST\", \"https://app.nanonets.com/api/v2/ImageCategorization/LabelFile/\");\nxhr.setRequestHeader(\"authorization\", \"Basic \" + btoa(\"REPLACE_API_KEY:\"));\n\nxhr.send(data);\n"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'net/http/post/multipart'\n\nurl = URI('https://app.nanonets.com/api/v2/ImageCategorization/LabelFile/')\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nFile.open('test.jpg') do |jpg|\nrequest = Net::HTTP::Post::Multipart.new(url.path,\n    'file' => UploadIO.new(jpg, 'image/jpeg', 'test.jpg'),\n    'modelId' => 'REPLACE_MODEL_ID')\nrequest.basic_auth 'REPLACE_API_KEY', ''\nresponse = Net::HTTP.start(url.host, url.port) do |http|\n    http.request(request)\nend\nputs response.read_body\nend\n"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://app.nanonets.com/api/v2/ImageCategorization/LabelFile/\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"authorization\", \"Basic \" + Convert.ToBase64String(Encoding.Default.GetBytes(\"REPLACE_API_KEY:\")));\nrequest.AddHeader(\"accept\", \"Multipart/form-data\");\nrequest.AddParameter(\"modelId\", \"REPLACE_MODEL_ID\");\nrequest.AddFile(\"file\", \"REPLACE_IMAGE_PATH.jpg\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\nprivate static final MediaType MEDIA_TYPE_JPG = MediaType.parse(\"image/jpeg\");\n\nOkHttpClient client = new OkHttpClient();\n\nRequestBody requestBody = new MultipartBody.Builder()\n        .setType(MultipartBody.FORM)\n        .addFormDataPart(\"modelId\", \"REPLACE_MODEL_ID\")\n        .addFormDataPart(\"file\", \"REPLACE_IMAGE_PATH.jpg\", RequestBody.create(MEDIA_TYPE_JPG, new File(\"REPLACE_IMAGE_PATH.jpg\")))\n        .build();\n\nrequest = new Request.Builder()\n        .url(\"https://app.nanonets.com/api/v2/ImageCategorization/LabelFile/\")\n        .post(requestBody)\n        .addHeader(\"Authorization\", Credentials.basic(\"REPLACE_API_KEY\", \"\"))\n        .build();\n\nResponse response = client.newCall(request).execute();"
          }
        ],
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": [
          {
            "expectedResponse": {
              "headers": {},
              "x-allowExtraHeaders": true,
              "x-arrayCheckCount": false,
              "x-arrayOrderedMatching": false,
              "x-bodyMatchMode": "NONE",
              "x-matchResponseSchema": true
            },
            "request": {
              "body": "modelId={{model_id}}&file=",
              "headers": {
                "Content-Type": "application/x-www-form-urlencoded"
              },
              "method": "POST",
              "uri": "/ImageCategorization/LabelFile/"
            },
            "x-testDescription": "",
            "x-testEnabled": true,
            "x-testName": "Prediction for image file",
            "x-testShouldPass": true
          }
        ]
      }
    },
    "/ImageCategorization/LabelUrls": {
      "post": {
        "tags": [
          "Image Classification Model Predict"
        ],
        "summary": "Prediction for image URLs",
        "operationId": "ImageClassificationModelPredict_imageUrlPrediction",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "description": "Use the model to predict which one of the categories an image (given the image url) belongs to. You can specify multiple image urls.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageClassificationModelPredictImageUrlPredictionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Model Object",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "message": "Success",
                      "model_id": "00000000-0000-0000-0000-000000000000",
                      "result": [
                        {
                          "file": "string",
                          "message": "Success",
                          "page": 0,
                          "prediction": [
                            {
                              "label": "category1",
                              "probability": 0.9
                            },
                            {
                              "label": "category2",
                              "probability": 0.1
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ImageClassificationModelPredictImageUrlPredictionResponse"
                }
              }
            }
          },
          "202": {
            "description": "Request partially successful. One or more urls might not be correct or got no response"
          },
          "400": {
            "description": "Urls missing. Check if you have an included array of image urls"
          },
          "402": {
            "description": "Exhausted Free API Calls  You have exhausted your free API calls please change your plan <a href=\"https://app.nanonets.com/user/apps\">here</a>"
          },
          "404": {
            "description": "Model does not exists. Check if the model id exists"
          }
        },
        "x-code-samples": [
          {
            "lang": "Nodejs",
            "source": "var request = require('request')\nvar querystring = require('querystring')\nconst form_data = {'modelId': 'REPLACE_MODEL_ID', 'urls' : ['https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg']}\nconst options = {\n    url : 'https://app.nanonets.com/api/v2/ImageCategorization/LabelUrls/',\n    body: querystring.stringify(form_data),\n    headers: {\n        'Authorization' : 'Basic ' + Buffer.from('REPLACE_API_KEY' + ':').toString('base64'),\n        'Content-Type': 'application/x-www-form-urlencoded'\n    }\n}\nrequest.post(options, function(err, httpResponse, body) {\n\n  console.log(body)\n});\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://app.nanonets.com/api/v2/ImageCategorization/LabelUrls/'\n\nheaders = {\n    'accept': 'application/x-www-form-urlencoded'\n}\n\ndata = {'modelId': 'REPLACE_MODEL_ID', 'urls' : ['https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg']}\n\nresponse = requests.request('POST', url, headers=headers, auth=requests.auth.HTTPBasicAuth('REPLACE_API_KEY', ''), data=data)\n\nprint(response.text)"
          },
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n  --url 'https://app.nanonets.com/api/v2/ImageCategorization/LabelUrls/' \\\n  --header 'accept: application/x-www-form-urlencoded' \\\n  -d 'modelId=REPLACE_MODEL_ID&urls=https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg' \\\n  -u 'REPLACE_API_KEY'"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n    \"bytes\"\n    \"fmt\"\n    \"io/ioutil\"\n    \"net/http\"\n    \"net/url\"\n)\n\nfunc main() {\n\n    labelUrl := \"https://app.nanonets.com/api/v2/ImageCategorization/LabelUrls/\"\n\n    data := url.Values{}\n    data.Set(\"modelId\", \"REPLACE_MODEL_ID\")\n    data.Add(\"urls\", \"https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg\")\n\n    req, _ := http.NewRequest(\"POST\", labelUrl, bytes.NewBufferString(data.Encode()))\n\n    req.Header.Add(\"Content-Type\", \"application/x-www-form-urlencoded\")\n    req.SetBasicAuth(\"REPLACE_API_KEY\", \"\")\n\n    res, _ := http.DefaultClient.Do(req)\n\n    defer res.Body.Close()\n    body, _ := ioutil.ReadAll(res.Body)\n\n    fmt.Println(res)\n    fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var data = 'modelId=REPLACE_MODEL_ID&urls=https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg';\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://app.nanonets.com/api/v2/ImageCategorization/LabelUrls/\");\nxhr.setRequestHeader(\"Content-Type\", \"application/x-www-form-urlencoded\");\nxhr.setRequestHeader(\"authorization\", \"Basic \" + btoa(\"REPLACE_API_KEY:\"));\n\nxhr.send(data);"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri' require 'net/http'\nurl = URI('https://app.nanonets.com/api/v2/ImageCategorization/LabelUrls/')\nhttp = Net::HTTP.new(url.host, url.port) http.use_ssl = true\nrequest = Net::HTTP::Post.new(url) request[\"accept\"] = 'application/x-www-form-urlencoded' request.basic_auth 'REPLACE_API_KEY', '' request.set_form_data({'modelId' => 'REPLACE_MODEL_ID', 'urls' => ['https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg']}) response = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://app.nanonets.com/api/v2/ImageCategorization/LabelUrls/\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"authorization\", \"Basic \" + Convert.ToBase64String(Encoding.Default.GetBytes(\"REPLACE_API_KEY:\")));\nrequest.AddHeader(\"accept\", \"application/x-www-form-urlencoded\");\nrequest.AddParameter(\"modelId\", \"REPLACE_MODEL_ID\");\nrequest.AddParameter(\"urls\", \"https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequestBody formBody = new FormBody.Builder()\n        .add(\"modelId\", \"REPLACE_MODEL_ID\")\n        .add(\"urls\", \"https://nanonets.s3-us-west-2.amazonaws.com/test-images/test1.jpg\").build();\n\nRequest request = new Request.Builder()\n    .url(\"https://app.nanonets.com/api/v2/ImageCategorization/LabelUrls/\")\n    .post(formBody)\n    .addHeader(\"Authorization\", Credentials.basic(\"REPLACE_API_KEY\", \"\"))\n    .build();\n\nResponse response = client.newCall(request).execute();"
          }
        ],
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": [
          {
            "expectedResponse": {
              "headers": {},
              "x-allowExtraHeaders": true,
              "x-arrayCheckCount": false,
              "x-arrayOrderedMatching": false,
              "x-bodyMatchMode": "NONE",
              "x-matchResponseSchema": true
            },
            "request": {
              "body": "modelId={{model_id}}&file=",
              "headers": {
                "Content-Type": "application/x-www-form-urlencoded"
              },
              "method": "POST",
              "uri": "/ImageCategorization/LabelUrls/"
            },
            "x-testDescription": "",
            "x-testEnabled": true,
            "x-testName": "Prediction for image file",
            "x-testShouldPass": true
          }
        ]
      }
    },
    "/ImageCategorization/Models": {
      "get": {
        "tags": [
          "Image Classification Model"
        ],
        "summary": "Get All Models",
        "operationId": "ImageClassificationModel_getAllModels",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "description": "This endpoint returns information of all models created by user",
        "responses": {
          "200": {
            "description": "Model Object",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "categories": [
                          {
                            "count": 0,
                            "name": "category1"
                          },
                          {
                            "count": 0,
                            "name": "category2"
                          }
                        ],
                        "model_id": "00000000-0000-0000-0000-000000000000",
                        "model_type": "classification",
                        "state": 0
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ImageClassificationModelGetAllModelsResponse"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Nodejs",
            "source": "var request = require('request')\nconst options = {\n    url : 'https://app.nanonets.com/api/v2/ImageCategorization/Models/',\n    headers: {\n        'Authorization' : 'Basic ' + Buffer.from('REPLACE_API_KEY' + ':').toString('base64')\n    }\n}\nrequest.get(options, function(err, httpResponse, body) {\n\n  console.log(body)\n});\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://app.nanonets.com/api/v2/ImageCategorization/Models/'\n\nresponse = requests.request('GET', url, auth= requests.auth.HTTPBasicAuth('REPLACE_API_KEY', ''))\n\nprint(response.text)"
          },
          {
            "lang": "Shell",
            "source": "curl --request GET \\\n  --url https://app.nanonets.com/api/v2/ImageCategorization/Models/ \\\n  -u 'REPLACE_API_KEY'"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"net/http\"\n    \"io/ioutil\"\n)\n\nfunc main() {\n\n    url := \"https://app.nanonets.com/api/v2/ImageCategorization/Models/\"\n\n    req, err := http.NewRequest(\"GET\", url, nil)\n    if err != nil {\n        fmt.Println(err)\n        return\n    }\n\n    req.SetBasicAuth(\"REPLACE_API_KEY\", \"\")\n\n    res, err := http.DefaultClient.Do(req)\n    if err != nil {\n        fmt.Println(err)\n        return\n    }\n\n    defer res.Body.Close()\n    body, err := ioutil.ReadAll(res.Body)\n    if err != nil {\n        fmt.Println(err)\n        return\n    }\n\n    fmt.Println(res)\n    fmt.Println(string(body))\n\n}"
          },
          {
            "lang": "JavaScript",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://app.nanonets.com/api/v2/ImageCategorization/Models/\");\nxhr.setRequestHeader(\"authorization\", \"Basic \" + btoa(\"REPLACE_API_KEY:\"));\n\nxhr.send(data);"
          },
          {
            "lang": "Ruby",
            "source": "require 'uri' require 'net/http'\nurl = URI('https://app.nanonets.com/api/v2/ImageCategorization/Models/')\nhttp = Net::HTTP.new(url.host, url.port) http.use_ssl = true\nrequest = Net::HTTP::Get.new(url) request.basic_auth 'REPLACE_API_KEY', '' response = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "C#",
            "source": "var client = new RestClient(\"https://app.nanonets.com/api/v2/ImageCategorization/Models/\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"authorization\", \"Basic \" + Convert.ToBase64String(Encoding.Default.GetBytes(\"REPLACE_API_KEY:\")));\nIRestResponse response = client.Execute(request);\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://app.nanonets.com/api/v2/ImageCategorization/Models/\")\n  .get()\n  .addHeader(\"authorization\", Credentials.basic(\"REPLACE_API_KEY\", \"\"))\n  .build();\n\nResponse response = client.newCall(request).execute();"
          }
        ],
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": [
          {
            "expectedResponse": {
              "headers": {},
              "x-allowExtraHeaders": true,
              "x-arrayCheckCount": false,
              "x-arrayOrderedMatching": false,
              "x-bodyMatchMode": "NONE",
              "x-matchResponseSchema": true
            },
            "request": {
              "method": "GET",
              "uri": "/ImageCategorization/Models/"
            },
            "x-testDescription": "",
            "x-testEnabled": true,
            "x-testName": "Get All Models",
            "x-testShouldPass": true
          }
        ]
      }
    },
    "/ImageCategorization/Train": {
      "post": {
        "tags": [
          "Image Classification Model Train"
        ],
        "summary": "Train Model",
        "operationId": "ImageClassificationModelTrain_newModelTraining",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "description": "You can use this endpoint to train a model after uploading images for each category. You can use the same endpoint to retrain a model after uploading more images to improve the model.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ImageClassificationModelTrainNewModelTrainingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Model Object",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "categories": [
                        {
                          "count": 0,
                          "name": "category1"
                        },
                        {
                          "count": 0,
                          "name": "category2"
                        }
                      ],
                      "model_id": "00000000-0000-0000-0000-000000000000",
                      "model_type": "classification",
                      "state": 0
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ImageClassificationModelTrainNewModelTrainingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Model not ready for training. Check if the images for the model are uploaded"
          },
          "404": {
            "description": "Model does not exists. Check if the model id exists"
          }
        },
        "x-code-samples": [
          {
            "lang": "Nodejs",
            "source": "var request = require('request')\nvar querystring = require('querystring')\nconst form_data = {'modelId' : 'REPLACE_MODEL_ID'}\nconst options = {\n    url : 'https://app.nanonets.com/api/v2/ImageCategorization/Train/',\n    body: querystring.stringify(form_data),\n    headers: {\n        'Authorization' : 'Basic ' + Buffer.from('REPLACE_API_KEY' + ':').toString('base64'),\n        'Content-Type': 'application/x-www-form-urlencoded'\n    }\n}\nrequest.post(options, function(err, httpResponse, body) {\n\n  console.log(body)\n});\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://app.nanonets.com/api/v2/ImageCategorization/Train/'\n\nquerystring = {'modelId': 'REPLACE_MODEL_ID'}\n\nresponse = requests.request('POST', url, headers=headers, auth=requests.auth.HTTPBasicAuth('REPLACE_API_KEY', ''), params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Shell",
            "source": "curl --request POST \\\n  --url 'https://app.nanonets.com/api/v2/ImageCategorization/Train/?modelId=REPLACE_MODEL_ID' \\\n  -u 'REPLACE_API_KEY'"
          },
          {
            "lang": "Golang",
            "source": "package main\n\nimport (\n    \"fmt\"\n    \"net/http\"\n    \"io/ioutil\"\n)\n\nfunc main() {\n\n    url := \"https://app.nanonets.com/api/v2/ImageCategorization/Train/?modelId=REPLACE_MODEL_ID\"\n\n    req, _ := http.NewRequest(\"POST\", url, nil)\n\n    req.SetBasicAuth(\"REPLACE_API_KEY\", \"\")\n\n    res, _ := http.DefaultClient.Do(req)\n\n    defer res.Body.Close()\n    body, _ := ioutil.ReadAll(res.Body)\n\n    fmt.Println(res)\n    fmt.Println(string(body))\n\n}"
          },
          {
[...]
