{
  "openapi": "3.0.3",
  "info": {
    "title": "Sarbacane API",
    "description": "Sarbacane is a solution for managing, creating and sending email and SMS campaigns, as well as setting up intelligent, automated marketing workflows.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.sarbacane.com/docs"
  },
  "servers": [
    {
      "url": "https://api.sarbacane.com/v1",
      "description": "Main API server"
    },
    {
      "url": "https://sarbacaneapis.com/v1",
      "description": "Campaigns and reports server"
    }
  ],
  "paths": {
    "/info": {
      "get": {
        "operationId": "getAccountInfo",
        "tags": [
          "Authentication"
        ],
        "summary": "Get account information",
        "responses": {
          "200": {
            "description": "Account info returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "operationId": "createWebhook",
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook subscription",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listWebhooks",
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve all webhook subscriptions",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "get": {
        "operationId": "getWebhook",
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve a specific webhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        }
      }
    },
    "/lists": {
      "get": {
        "operationId": "listContactLists",
        "tags": [
          "Contacts"
        ],
        "summary": "List all contact lists",
        "responses": {
          "200": {
            "description": "Contact lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactList"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createContactList",
        "tags": [
          "Contacts"
        ],
        "summary": "Create a new contact list",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact list created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              }
            }
          }
        }
      }
    },
    "/lists/{listId}": {
      "put": {
        "operationId": "updateContactList",
        "tags": [
          "Contacts"
        ],
        "summary": "Edit a contact list",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact list updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteContactList",
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact list",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact list deleted"
          }
        }
      }
    },
    "/lists/{listId}/empty": {
      "post": {
        "operationId": "emptyContactList",
        "tags": [
          "Contacts"
        ],
        "summary": "Empty a contact list",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact list emptied"
          }
        }
      }
    },
    "/lists/{listId}/teams": {
      "get": {
        "operationId": "getContactListTeams",
        "tags": [
          "Contacts"
        ],
        "summary": "Get groups related to a contact list",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Teams for the list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamsResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateContactListTeams",
        "tags": [
          "Contacts"
        ],
        "summary": "Edit groups for a contact list",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Teams updated"
          }
        }
      }
    },
    "/lists/{listId}/fields": {
      "get": {
        "operationId": "getCustomFields",
        "tags": [
          "Custom Fields"
        ],
        "summary": "Retrieve custom fields for a list",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addCustomField",
        "tags": [
          "Custom Fields"
        ],
        "summary": "Add a custom field to a list",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAllCustomFields",
        "tags": [
          "Custom Fields"
        ],
        "summary": "Delete all custom fields from a list",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All custom fields deleted"
          }
        }
      }
    },
    "/lists/{listId}/fields/{fieldId}": {
      "put": {
        "operationId": "updateCustomField",
        "tags": [
          "Custom Fields"
        ],
        "summary": "Edit a custom field",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field updated"
          }
        }
      }
    },
    "/lists/{listId}/contacts": {
      "get": {
        "operationId": "listContacts",
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts in a list",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addContact",
        "tags": [
          "Contacts"
        ],
        "summary": "Add a single contact to a list",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeContact",
        "tags": [
          "Contacts"
        ],
        "summary": "Remove a contact by email or phone",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact removed"
          }
        }
      }
    },
    "/lists/{listId}/contacts/{contactId}": {
      "put": {
        "operationId": "updateContact",
        "tags": [
          "Contacts"
        ],
        "summary": "Edit a contact",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated"
          }
        }
      }
    },
    "/lists/{listId}/contacts/upsert": {
      "post": {
        "operationId": "upsertContact",
        "tags": [
          "Contacts"
        ],
        "summary": "Add or update a contact",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact upserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      }
    },
    "/lists/{listId}/contacts/import": {
      "post": {
        "operationId": "importContacts",
        "tags": [
          "Contacts"
        ],
        "summary": "Bulk import contacts (max 4MB)",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts imported"
          }
        }
      }
    },
    "/blacklists": {
      "get": {
        "operationId": "listBlacklists",
        "tags": [
          "Blacklists"
        ],
        "summary": "List all blacklists",
        "responses": {
          "200": {
            "description": "Blacklists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Blacklist"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBlacklist",
        "tags": [
          "Blacklists"
        ],
        "summary": "Create a blacklist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlacklistRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blacklist created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blacklist"
                }
              }
            }
          }
        }
      }
    },
    "/blacklists/{blacklistId}": {
      "put": {
        "operationId": "updateBlacklist",
        "tags": [
          "Blacklists"
        ],
        "summary": "Edit a blacklist",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlacklistRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blacklist updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteBlacklist",
        "tags": [
          "Blacklists"
        ],
        "summary": "Delete a blacklist",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blacklist deleted"
          }
        }
      }
    },
    "/blacklists/{blacklistId}/bounces": {
      "get": {
        "operationId": "listBounces",
        "tags": [
          "Blacklists"
        ],
        "summary": "List bounced contacts",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bounced contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlacklistEntry"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addBounce",
        "tags": [
          "Blacklists"
        ],
        "summary": "Add a bounce entry",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlacklistEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bounce added"
          }
        }
      },
      "put": {
        "operationId": "updateBounce",
        "tags": [
          "Blacklists"
        ],
        "summary": "Edit a bounce entry",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlacklistEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bounce updated"
          }
        }
      },
      "delete": {
        "operationId": "removeBounce",
        "tags": [
          "Blacklists"
        ],
        "summary": "Remove a bounce entry",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bounce removed"
          }
        }
      }
    },
    "/blacklists/{blacklistId}/bounces/import": {
      "post": {
        "operationId": "importBounces",
        "tags": [
          "Blacklists"
        ],
        "summary": "Bulk import bounces",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BlacklistEntryRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bounces imported"
          }
        }
      }
    },
    "/blacklists/{blacklistId}/unsubscribers": {
      "get": {
        "operationId": "listUnsubscribers",
        "tags": [
          "Blacklists"
        ],
        "summary": "List unsubscribed contacts",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unsubscribed contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlacklistEntry"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addUnsubscriber",
        "tags": [
          "Blacklists"
        ],
        "summary": "Add an unsubscriber",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlacklistEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsubscriber added"
          }
        }
      },
      "put": {
        "operationId": "updateUnsubscriber",
        "tags": [
          "Blacklists"
        ],
        "summary": "Edit an unsubscriber",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlacklistEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsubscriber updated"
          }
        }
      },
      "delete": {
        "operationId": "removeUnsubscriber",
        "tags": [
          "Blacklists"
        ],
        "summary": "Remove an unsubscriber",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unsubscriber removed"
          }
        }
      }
    },
    "/blacklists/{blacklistId}/unsubscribers/import": {
      "post": {
        "operationId": "importUnsubscribers",
        "tags": [
          "Blacklists"
        ],
        "summary": "Bulk import unsubscribers",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BlacklistEntryRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsubscribers imported"
          }
        }
      }
    },
    "/blacklists/{blacklistId}/complaints": {
      "get": {
        "operationId": "listComplaints",
        "tags": [
          "Blacklists"
        ],
        "summary": "List complainants",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Complainants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlacklistEntry"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addComplaint",
        "tags": [
          "Blacklists"
        ],
        "summary": "Add a complainant",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlacklistEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Complainant added"
          }
        }
      },
      "put": {
        "operationId": "updateComplaint",
        "tags": [
          "Blacklists"
        ],
        "summary": "Edit a complainant",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlacklistEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Complainant updated"
          }
        }
      },
      "delete": {
        "operationId": "removeComplaint",
        "tags": [
          "Blacklists"
        ],
        "summary": "Remove a complainant",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Complainant removed"
          }
        }
      }
    },
    "/blacklists/{blacklistId}/complaints/import": {
      "post": {
        "operationId": "importComplaints",
        "tags": [
          "Blacklists"
        ],
        "summary": "Bulk import complainants",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BlacklistEntryRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Complainants imported"
          }
        }
      }
    },
    "/blacklists/{blacklistId}/teams": {
      "get": {
        "operationId": "getBlacklistTeams",
        "tags": [
          "Blacklists"
        ],
        "summary": "Get groups for a blacklist",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Teams",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamsResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateBlacklistTeams",
        "tags": [
          "Blacklists"
        ],
        "summary": "Edit blacklist groups",
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Teams updated"
          }
        }
      }
    },
    "/campaigns/email": {
      "post": {
        "operationId": "createEmailCampaign",
        "tags": [
          "Campaigns"
        ],
        "summary": "Create an email campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/sms": {
      "post": {
        "operationId": "createSmsCampaign",
        "tags": [
          "Campaigns"
        ],
        "summary": "Create an SMS campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "tags": [
          "Campaigns"
        ],
        "summary": "List all campaigns",
        "responses": {
          "200": {
            "description": "List of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}": {
      "get": {
        "operationId": "getCampaign",
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign details",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCampaign",
        "tags": [
          "Campaigns"
        ],
        "summary": "Delete a campaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign deleted"
          }
        }
      }
    },
    "/campaigns/{campaignId}/recipients": {
      "post": {
        "operationId": "importCampaignRecipients",
        "tags": [
          "Campaigns"
        ],
        "summary": "Import recipients for a campaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipients imported"
          }
        }
      },
      "get": {
        "operationId": "listCampaignRecipients",
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaign recipients",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign recipients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}/send": {
      "post": {
        "operationId": "sendCampaign",
        "tags": [
          "Campaigns"
        ],
        "summary": "Send a campaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign sent"
          }
        }
      }
    },
    "/campaigns/{campaignId}/cancel": {
      "post": {
        "operationId": "cancelCampaign",
        "tags": [
          "Campaigns"
        ],
        "summary": "Cancel a scheduled campaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign cancelled"
          }
        }
      }
    },
    "/campaigns/{campaignId}/content": {
      "post": {
        "operationId": "importCampaignTemplate",
        "tags": [
          "Campaigns"
        ],
        "summary": "Import a template for a campaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template imported"
          }
        }
      }
    },
    "/campaigns/{campaignId}/send/{sendId}/content": {
      "post": {
        "operationId": "addCampaignContent",
        "tags": [
          "Campaigns"
        ],
        "summary": "Add HTML/text content to a campaign send",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sendId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content added"
          }
        }
      }
    },
    "/campaigns/{campaignId}/list": {
      "post": {
        "operationId": "importCampaignContactList",
        "tags": [
          "Campaigns"
        ],
        "summary": "Import a contact list for a campaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "listId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact list imported"
          }
        }
      }
    },
    "/campaigns/{campaignId}/blacklists": {
      "post": {
        "operationId": "associateCampaignBlacklists",
        "tags": [
          "Campaigns"
        ],
        "summary": "Associate blacklists with a campaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "blacklistIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blacklists associated"
          }
        }
      }
    },
    "/campaigns/{campaignId}/teams": {
      "put": {
        "operationId": "updateCampaignTeams",
        "tags": [
          "Campaigns"
        ],
        "summary": "Manage team sharing for a campaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Teams updated"
          }
        }
      }
    },
    "/reports/{campaignId}": {
      "get": {
        "operationId": "getCampaignReport",
        "tags": [
          "Reports"
        ],
        "summary": "Get campaign statistics",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignReport"
                }
              }
            }
          }
        }
      }
    },
    "/sendkit/email/send": {
      "post": {
        "operationId": "sendTransactionalEmail",
        "tags": [
          "Sendkit Email"
        ],
        "summary": "Send a transactional email",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sendkit/email/settings": {
      "get": {
        "operationId": "getEmailSettings",
        "tags": [
          "Sendkit Email"
        ],
        "summary": "Fetch sending configuration",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailSettings"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateEmailSettings",
        "tags": [
          "Sendkit Email"
        ],
        "summary": "Update sending configuration",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sendkit/email/domains": {
      "get": {
        "operationId": "listEmailDomains",
        "tags": [
          "Sendkit Email"
        ],
        "summary": "List email domains",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domains list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailDomain"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addEmailDomain",
        "tags": [
          "Sendkit Email"
        ],
        "summary": "Add an email domain",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailDomain"
                }
              }
            }
          }
        }
      }
    },
    "/sendkit/email/blacklists/{type}/{email}": {
      "get": {
        "operationId": "getEmailBlacklistEntry",
        "tags": [
          "Sendkit Email"
        ],
        "summary": "Fetch email from blacklist",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "bounces",
                "unsubscribes",
                "complaints"
              ]
            }
          },
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blacklist entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntry"
                }
              }
            }
          }
        }
      }
    },
    "/sendkit/email/blacklists": {
      "post": {
        "operationId": "addEmailToBlacklist",
        "tags": [
          "Sendkit Email"
        ],
        "summary": "Add email to blacklist",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailBlacklistRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email blacklisted"
          }
        }
      }
    },
    "/sendkit/email/blacklists/list": {
      "post": {
        "operationId": "listBlacklistedEmails",
        "tags": [
          "Sendkit Email"
        ],
        "summary": "List blacklisted emails",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlacklistListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blacklisted emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlacklistEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendkit/email/blacklists/unsubscribes/{email}": {
      "delete": {
        "operationId": "deleteEmailFromBlacklist",
        "tags": [
          "Sendkit Email"
        ],
        "summary": "Delete email from blacklist",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Email removed from blacklist"
          }
        }
      }
    },
    "/sendkit/sms/send/notification": {
      "post": {
        "operationId": "sendSmsNotification",
        "tags": [
          "Sendkit SMS"
        ],
        "summary": "Send an SMS notification",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsCreditsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sendkit/sms/send/marketing": {
      "post": {
        "operationId": "sendMarketingSms",
        "tags": [
          "Sendkit SMS"
        ],
        "summary": "Send a marketing SMS",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsMarketingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsCreditsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sendkit/sms/blacklists/unsubscribers": {
      "get": {
        "operationId": "listSmsUnsubscribers",
        "tags": [
          "Sendkit SMS"
        ],
        "summary": "Get SMS unsubscribers",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMS unsubscribers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SmsBlacklistEntry"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addSmsUnsubscriber",
        "tags": [
          "Sendkit SMS"
        ],
        "summary": "Add SMS unsubscriber",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Phone number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsubscriber added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSmsUnsubscriber",
        "tags": [
          "Sendkit SMS"
        ],
        "summary": "Delete SMS unsubscriber",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Unsubscriber deleted"
          }
        }
      }
    },
    "/sendkit/sms/blacklists/bounces": {
      "get": {
        "operationId": "listSmsBounces",
        "tags": [
          "Sendkit SMS"
        ],
        "summary": "Get SMS bounces",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMS bounces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SmsBlacklistEntry"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addSmsBounce",
        "tags": [
          "Sendkit SMS"
        ],
        "summary": "Add SMS bounce",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier"
                ],
                "properties": {
                  "identifier": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bounce added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSmsBounce",
        "tags": [
          "Sendkit SMS"
        ],
        "summary": "Delete SMS bounce",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Bounce deleted"
          }
        }
      }
    },
    "/sendkit/events/activity": {
      "post": {
        "operationId": "fetchSendkitActivity",
        "tags": [
          "Sendkit Statistics"
        ],
        "summary": "Fetch sendkit activities",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activity data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/sendkit/events/statistics": {
      "post": {
        "operationId": "fetchSendkitStatistics",
        "tags": [
          "Sendkit Statistics"
        ],
        "summary": "Fetch sendkit statistics",
        "security": [
          {
            "sendkitApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Statistics data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatisticsEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/credits": {
      "get": {
        "operationId": "getCredits",
        "tags": [
          "Account"
        ],
        "summary": "Get account remaining credits",
        "responses": {
          "200": {
            "description": "Credits info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Credit"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/settings/transactions/search": {
      "post": {
        "operationId": "searchTransactions",
        "tags": [
          "Account"
        ],
        "summary": "List credits consumed by users or teams",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "tags": [
          "Account"
        ],
        "summary": "List all users and invitations",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users and invitations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUsers",
        "tags": [
          "Account"
        ],
        "summary": "Delete users or pending invitations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invitations": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Users deleted"
          }
        }
      }
    },
    "/users/invite": {
      "post": {
        "operationId": "inviteUser",
        "tags": [
          "Account"
        ],
        "summary": "Invite a user to the account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User invited"
          }
        }
      }
    },
    "/users/{userId}/rights": {
      "get": {
        "operationId": "getUserRights",
        "tags": [
          "Account"
        ],
        "summary": "Retrieve user permissions",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User rights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRights"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateUserRights",
        "tags": [
          "Account"
        ],
        "summary": "Update user permissions",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRights"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rights updated"
          }
        }
      }
    },
    "/users/{userId}/role": {
      "put": {
        "operationId": "updateUserRole",
        "tags": [
          "Account"
        ],
        "summary": "Update user role or team assignment",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "USER",
                      "ADMIN"
                    ]
                  },
                  "teamId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role updated"
          }
        }
      }
    },
    "/teams": {
      "get": {
        "operationId": "listTeams",
        "tags": [
          "Account"
        ],
        "summary": "List all account teams",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Teams list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTeam",
        "tags": [
          "Account"
        ],
        "summary": "Create a new team",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          }
        }
      }
    },
    "/teams/{teamId}": {
      "get": {
        "operationId": "getTeam",
        "tags": [
          "Account"
        ],
        "summary": "Retrieve team details",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "renameTeam",
        "tags": [
          "Account"
        ],
        "summary": "Rename a team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team renamed"
          }
        }
      },
      "delete": {
        "operationId": "deleteTeam",
        "tags": [
          "Account"
        ],
        "summary": "Delete a team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team deleted"
          }
        }
      }
    },
    "/teams/{teamId}/users/team": {
      "put": {
        "operationId": "updateTeamMembers",
        "tags": [
          "Account"
        ],
        "summary": "Update team member assignments",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Members updated"
          }
        }
      }
    },
    "/teams/{teamId}/creditLimits": {
      "get": {
        "operationId": "getTeamCreditLimits",
        "tags": [
          "Account"
        ],
        "summary": "Retrieve team credit limits",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit limits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditLimits": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreditLimit"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "setTeamCreditLimits",
        "tags": [
          "Account"
        ],
        "summary": "Set team credit consumption limits",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "creditLimits": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreditLimit"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credit limits set"
          }
        }
      },
      "delete": {
        "operationId": "deleteTeamCreditLimits",
        "tags": [
          "Account"
        ],
        "summary": "Remove all team credit limits",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit limits removed"
          }
        }
      }
    },
    "/forms": {
      "get": {
        "operationId": "listForms",
        "tags": [
          "Forms"
        ],
        "summary": "List all forms",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Form"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/forms/{formId}": {
      "get": {
        "operationId": "getForm",
        "tags": [
          "Forms"
        ],
        "summary": "Retrieve form details",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Form"
                }
              }
            }
          }
        }
      }
    },
    "/forms/{formId}/name": {
      "put": {
        "operationId": "updateFormName",
        "tags": [
          "Forms"
        ],
        "summary": "Update form name",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form name updated"
          }
        }
      }
    },
    "/forms/{formId}/teams": {
      "get": {
        "operationId": "getFormTeams",
        "tags": [
          "Forms"
        ],
        "summary": "List form teams",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form teams",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamsResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateFormTeams",
        "tags": [
          "Forms"
        ],
        "summary": "Modify form teams",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form teams updated"
          }
        }
      }
    },
    "/landings": {
      "get": {
        "operationId": "listLandingPages",
        "tags": [
          "Pages"
        ],
        "summary": "List all landing pages",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Landing pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LandingPage"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/landings/{landingId}": {
      "get": {
        "operationId": "getLandingPage",
        "tags": [
          "Pages"
        ],
        "summary": "Get landing page details",
        "parameters": [
          {
            "name": "landingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Landing page details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LandingPage"
                }
              }
            }
          }
        }
      }
    },
    "/landings/{landingId}/name": {
      "put": {
        "operationId": "updateLandingPageName",
        "tags": [
          "Pages"
        ],
        "summary": "Update landing page name",
        "parameters": [
          {
            "name": "landingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Name updated"
          }
        }
      }
    },
    "/landings/{landingId}/teams": {
      "get": {
        "operationId": "getLandingPageTeams",
        "tags": [
          "Pages"
        ],
        "summary": "Retrieve landing page teams",
        "parameters": [
          {
            "name": "landingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Teams",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamsResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateLandingPageTeams",
        "tags": [
          "Pages"
        ],
        "summary": "Modify landing page teams",
        "parameters": [
          {
            "name": "landingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Teams updated"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using accountId:apiKey"
      },
      "headerAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "apiKey",
        "description": "API key in header, paired with accountId header"
      },
      "sendkitApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-apikey",
        "description": "Sendkit API key"
      }
    },
    "schemas": {
      "AccountInfo": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "WebhookRequest": {
        "type": "object",
        "required": [
          "kind",
          "url"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "FORM_SUBMIT",
              "HARD_BOUNCE",
              "SOFT_BOUNCE",
              "SUCCESSFUL",
              "CAPTCHA",
              "COMPLAINT",
              "OPEN",
              "HIT",
              "UNSUBSCRIBE"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactListRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "STRING",
              "BOOL",
              "INT",
              "DATE"
            ]
          }
        }
      },
      "CustomFieldRequest": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "STRING",
              "BOOL",
              "INT",
              "DATE"
            ]
          }
        }
      },
      "Blacklist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BlacklistRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "BlacklistEntry": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "listName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BlacklistEntryRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "TeamsResponse": {
        "type": "object",
        "properties": {
          "teams": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TeamsRequest": {
        "type": "object",
        "properties": {
          "teams": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CampaignRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "senderName": {
            "type": "string"
          },
          "senderEmail": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "CampaignContentRequest": {
        "type": "object",
        "properties": {
          "html": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "CampaignReport": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "sent": {
            "type": "integer"
          },
          "delivered": {
            "type": "integer"
          },
          "opened": {
            "type": "integer"
          },
          "clicked": {
            "type": "integer"
          },
          "bounced": {
            "type": "integer"
          },
          "unsubscribed": {
            "type": "integer"
          },
          "complaints": {
            "type": "integer"
          }
        }
      },
      "SendEmailRequest": {
        "type": "object",
        "required": [
          "recipients",
          "message"
        ],
        "properties": {
          "recipients": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "message": {
            "type": "object",
            "properties": {
              "from": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "subject": {
                "type": "string"
              },
              "html": {
                "type": "string"
              },
              "text": {
                "type": "string"
              }
            }
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "EmailSettings": {
        "type": "object",
        "properties": {
          "tracking": {
            "type": "boolean"
          },
          "analytics": {
            "type": "boolean"
          },
          "unsubscribe": {
            "type": "boolean"
          }
        }
      },
      "EmailDomain": {
        "type": "object",
        "properties": {
          "sending": {
            "type": "string"
          },
          "tracking": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "sendingVerified": {
            "type": "boolean"
          },
          "trackingVerified": {
            "type": "boolean"
          }
        }
      },
      "EmailDomainRequest": {
        "type": "object",
        "required": [
          "sending",
          "tracking",
          "email"
        ],
        "properties": {
          "sending": {
            "type": "string"
          },
          "tracking": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "dkim2048": {
            "type": "boolean"
          }
        }
      },
      "EmailBlacklistRequest": {
        "type": "object",
        "required": [
          "type",
          "email"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bounces",
              "unsubscribes",
              "complaints"
            ]
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "listName": {
            "type": "string"
          }
        }
      },
      "BlacklistListRequest": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "list": {
            "type": "string"
          },
          "pageSize": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "order": {
            "type": "string"
          }
        }
      },
      "SmsNotificationRequest": {
        "type": "object",
        "required": [
          "number",
          "message"
        ],
        "properties": {
          "number": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "sender": {
            "type": "string"
          },
          "campaignName": {
            "type": "string"
          }
        }
      },
      "SmsMarketingRequest": {
        "type": "object",
        "required": [
          "number",
          "message"
        ],
        "properties": {
          "number": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "sender": {
            "type": "string"
          },
          "campaignName": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SmsCreditsResponse": {
        "type": "object",
        "properties": {
          "creditsUsed": {
            "type": "number"
          }
        }
      },
      "SmsBlacklistEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EventsRequest": {
        "type": "object",
        "required": [
          "minDate",
          "maxDate"
        ],
        "properties": {
          "minDate": {
            "type": "string",
            "format": "date-time"
          },
          "maxDate": {
            "type": "string",
            "format": "date-time"
          },
          "interval": {
            "type": "string",
            "enum": [
              "DAY"
            ]
          },
          "filters": {
            "type": "object"
          }
        }
      },
      "StatisticsEntry": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "open": {
            "type": "integer"
          },
          "bounce": {
            "type": "integer"
          },
          "unsubscribe": {
            "type": "integer"
          },
          "complaint": {
            "type": "integer"
          },
          "delivered": {
            "type": "integer"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "Credit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "subscriptionType": {
            "type": "string"
          },
          "creditType": {
            "type": "string"
          }
        }
      },
      "TransactionSearchRequest": {
        "type": "object",
        "properties": {
          "sort": {
            "type": "object",
            "properties": {
              "orderBy": {
                "type": "string"
              },
              "asc": {
                "type": "boolean"
              }
            }
          },
          "filter": {
            "type": "object",
            "properties": {
              "minDate": {
                "type": "string"
              },
              "maxDate": {
                "type": "string"
              },
              "search": {
                "type": "string"
              },
              "users": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "teamIds": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "TransactionSearchResponse": {
        "type": "object",
        "properties": {
          "totalEmailConsumption": {
            "type": "integer"
          },
          "totalSmsConsumption": {
            "type": "integer"
          },
          "transactions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "InviteUserRequest": {
        "type": "object",
        "required": [
          "firstname",
          "lastname",
          "email",
          "role"
        ],
        "properties": {
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": [
              "USER",
              "ADMIN"
            ]
          },
          "teamId": {
            "type": "string"
          }
        }
      },
      "UserRights": {
        "type": "object",
        "properties": {
          "send_campaigns": {
            "type": "boolean"
          },
          "export_contacts": {
            "type": "boolean"
          },
          "teams_visibility": {
            "type": "boolean"
          },
          "send_tests": {
            "type": "boolean"
          },
          "transfer_templates": {
            "type": "boolean"
          }
        }
      },
      "UsersResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "invitations": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "users": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "invitations": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          }
[...]
