{
  "openapi": "3.0.3",
  "info": {
    "title": "Kavkom CRM PBX API",
    "version": "1.0.0",
    "description": "Kavkom API for CRM management (events, fields, leads, modules, tags) and PBX operations (active calls, CDR, destinations).",
    "x-jentic-source-url": "https://api.kavkom.com/docs/"
  },
  "servers": [
    {
      "url": "https://api.kavkom.com",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/api/crm/v1/calendar/events/get": {
      "get": {
        "operationId": "getevent",
        "summary": "Retrieve a specific event",
        "tags": [
          "CRM Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Event ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/calendar/events/list": {
      "get": {
        "operationId": "listevents",
        "summary": "Display CRM events list",
        "tags": [
          "CRM Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "start_date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "start_date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated event list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedEvents"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/calendar/events/store": {
      "post": {
        "operationId": "createevent",
        "summary": "Create new event",
        "tags": [
          "CRM Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/calendar/events/update": {
      "put": {
        "operationId": "updateevent",
        "summary": "Update specific event",
        "tags": [
          "CRM Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/calendar/events/destroy": {
      "delete": {
        "operationId": "deleteevent",
        "summary": "Remove event",
        "tags": [
          "CRM Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Event ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessConfirmation"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/field/list": {
      "get": {
        "operationId": "listfields",
        "summary": "Display CRM fields list",
        "tags": [
          "CRM Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "user_uuid",
            "in": "query",
            "required": true,
            "description": "User UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated field list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedFields"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/field/get": {
      "get": {
        "operationId": "getfield",
        "summary": "Retrieve field by ID",
        "tags": [
          "CRM Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Field ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Field object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/field/update": {
      "put": {
        "operationId": "updatefield",
        "summary": "Modify field configuration",
        "tags": [
          "CRM Fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/field/store": {
      "post": {
        "operationId": "createfield",
        "summary": "Add new CRM field",
        "tags": [
          "CRM Fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/field/destroy": {
      "delete": {
        "operationId": "deletefield",
        "summary": "Remove field",
        "tags": [
          "CRM Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Field ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessConfirmation"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/lead/list": {
      "get": {
        "operationId": "listleads",
        "summary": "Display leads list",
        "tags": [
          "CRM Leads"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort by created_at or updated_at",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated lead list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedLeads"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/lead/store": {
      "post": {
        "operationId": "createlead",
        "summary": "Add lead to CRM",
        "tags": [
          "CRM Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created lead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/lead/get": {
      "get": {
        "operationId": "getlead",
        "summary": "Retrieve lead by ID",
        "tags": [
          "CRM Leads"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Lead ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/lead/update": {
      "put": {
        "operationId": "updatelead",
        "summary": "Modify lead",
        "tags": [
          "CRM Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated lead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/lead/destroy": {
      "delete": {
        "operationId": "deletelead",
        "summary": "Remove lead(s)",
        "tags": [
          "CRM Leads"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Single lead ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "Array of lead IDs for bulk deletion",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessConfirmation"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/lead/convert": {
      "post": {
        "operationId": "convertleads",
        "summary": "Convert leads between modules",
        "tags": [
          "CRM Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain_uuid",
                  "ids",
                  "module_id"
                ],
                "properties": {
                  "domain_uuid": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "module_id": {
                    "type": "integer"
                  },
                  "source_module_id": {
                    "type": "integer"
                  },
                  "bulk": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessConfirmation"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/lead/assign": {
      "post": {
        "operationId": "assignleads",
        "summary": "Assign agents and tags to leads",
        "tags": [
          "CRM Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain_uuid",
                  "ids"
                ],
                "properties": {
                  "domain_uuid": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "agent_uuid": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "bulk": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessConfirmation"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/lead/comments": {
      "get": {
        "operationId": "listleadcomments",
        "summary": "Get lead comments",
        "tags": [
          "CRM Leads"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "lead_id",
            "in": "query",
            "required": true,
            "description": "Lead ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/lead/add_comment": {
      "post": {
        "operationId": "addleadcomment",
        "summary": "Add comment to lead",
        "tags": [
          "CRM Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain_uuid",
                  "lead_id",
                  "comment"
                ],
                "properties": {
                  "domain_uuid": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "lead_id": {
                    "type": "integer"
                  },
                  "comment": {
                    "type": "string",
                    "maxLength": 512
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/lead/get_comment": {
      "get": {
        "operationId": "getleadcomment",
        "summary": "Retrieve specific comment",
        "tags": [
          "CRM Leads"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Comment ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/lead/update_comment": {
      "put": {
        "operationId": "updateleadcomment",
        "summary": "Modify comment",
        "tags": [
          "CRM Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain_uuid",
                  "id",
                  "comment"
                ],
                "properties": {
                  "domain_uuid": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "comment": {
                    "type": "string",
                    "maxLength": 512
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/lead/delete_comment": {
      "delete": {
        "operationId": "deleteleadcomment",
        "summary": "Remove comment",
        "tags": [
          "CRM Leads"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Comment ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessConfirmation"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/module/list": {
      "get": {
        "operationId": "listmodules",
        "summary": "Display modules list",
        "tags": [
          "CRM Modules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated module list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedModules"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/module/get": {
      "get": {
        "operationId": "getmodule",
        "summary": "Retrieve module by ID",
        "tags": [
          "CRM Modules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Module ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Module object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Module"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/module/update": {
      "put": {
        "operationId": "updatemodule",
        "summary": "Modify module",
        "tags": [
          "CRM Modules"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModuleUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated module",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Module"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/module/store": {
      "post": {
        "operationId": "createmodule",
        "summary": "Create new CRM module",
        "tags": [
          "CRM Modules"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModuleCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created module",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Module"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/module/destroy": {
      "delete": {
        "operationId": "deletemodule",
        "summary": "Remove module",
        "tags": [
          "CRM Modules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Module ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "convert_module_id",
            "in": "query",
            "required": false,
            "description": "Target module ID for lead conversion",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessConfirmation"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/tags/list": {
      "get": {
        "operationId": "listtags",
        "summary": "Display tags list",
        "tags": [
          "CRM Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated tags list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTags"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/tags/get": {
      "get": {
        "operationId": "gettag",
        "summary": "Retrieve tag by ID",
        "tags": [
          "CRM Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Tag ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/tags/store": {
      "post": {
        "operationId": "createtag",
        "summary": "Add tag to CRM",
        "tags": [
          "CRM Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created tag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/tags/assign": {
      "post": {
        "operationId": "assigntags",
        "summary": "Assign tags to lead",
        "tags": [
          "CRM Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain_uuid",
                  "tag_ids",
                  "lead_id"
                ],
                "properties": {
                  "domain_uuid": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "tag_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "lead_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessConfirmation"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/tags/update": {
      "put": {
        "operationId": "updatetag",
        "summary": "Modify tag",
        "tags": [
          "CRM Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated tag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/crm/v1/tags/destroy": {
      "delete": {
        "operationId": "deletetag",
        "summary": "Remove tag",
        "tags": [
          "CRM Tags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Tag ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessConfirmation"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/pbx/v1/active_call/call": {
      "post": {
        "operationId": "makecall",
        "summary": "Execute switch command for call",
        "tags": [
          "PBX Active Calls"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "src",
            "in": "query",
            "required": true,
            "description": "Extension number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "description": "Destination number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessConfirmation"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/pbx/v1/cdr/list": {
      "get": {
        "operationId": "listcdr",
        "summary": "Return call history information",
        "tags": [
          "PBX CDR"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "name": "extension_uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "call_result",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated CDR list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCdr"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/pbx/v1/cdr/download": {
      "get": {
        "operationId": "downloadrecording",
        "summary": "Download recording file",
        "tags": [
          "PBX CDR"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "query",
            "required": true,
            "description": "Recording filename",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recording file binary data",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/pbx/v1/cdr/get_file_link": {
      "get": {
        "operationId": "getrecordinglink",
        "summary": "Return encrypted download link",
        "tags": [
          "PBX CDR"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "description": "CDR UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Encrypted file link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/pbx/v1/destination/list": {
      "get": {
        "operationId": "listdestinations",
        "summary": "Display destinations list",
        "tags": [
          "PBX Destinations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainUuid"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated destination list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Destination"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-TOKEN"
      }
    },
    "parameters": {
      "DomainUuid": {
        "name": "domain_uuid",
        "in": "query",
        "required": true,
        "description": "Domain UUID (uuid-v4)",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Number of results per page",
        "schema": {
          "type": "integer",
          "default": 15
        }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Page number",
        "schema": {
          "type": "integer"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed request or missing required parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Invalid or missing API token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "SuccessConfirmation": {
        "description": "Operation completed successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SuccessResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type_id": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "start_time": {
            "type": "string"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "end_time": {
            "type": "string"
          },
          "assigned_users": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "domain_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EventCreate": {
        "type": "object",
        "required": [
          "domain_uuid",
          "name",
          "type_id",
          "start_date",
          "start_time"
        ],
        "properties": {
          "domain_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type_id": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "start_time": {
            "type": "string"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "end_time": {
            "type": "string"
          },
          "assigned_users": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "EventUpdate": {
        "type": "object",
        "required": [
          "domain_uuid",
          "id"
        ],
        "properties": {
          "domain_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type_id": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "start_time": {
            "type": "string"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "end_time": {
            "type": "string"
          },
          "assigned_users": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "PaginatedEvents": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "Field": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "field_subtype": {
            "type": "string"
          },
          "visible": {
            "type": "boolean"
          },
          "modules": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FieldCreate": {
        "type": "object",
        "required": [
          "domain_uuid",
          "title",
          "field_subtype"
        ],
        "properties": {
          "domain_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "field_subtype": {
            "type": "string"
          },
          "modules": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "visible": {
            "type": "boolean"
          }
        }
      },
      "FieldUpdate": {
        "type": "object",
        "required": [
          "domain_uuid",
          "id"
        ],
        "properties": {
          "domain_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "visible": {
            "type": "boolean"
          },
          "modules": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "PaginatedFields": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Field"
            }
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "module_id": {
            "type": "integer"
          },
          "field_values": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "assigned_users": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LeadCreate": {
        "type": "object",
        "required": [
          "domain_uuid",
          "module_id",
          "field_values"
        ],
        "properties": {
          "domain_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "module_id": {
            "type": "integer"
          },
          "field_values": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "LeadUpdate": {
        "type": "object",
        "required": [
          "domain_uuid",
          "id"
        ],
        "properties": {
          "domain_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "id": {
            "type": "integer"
          },
          "module_id": {
            "type": "integer"
          },
          "field_values": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "assigned_users": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "PaginatedLeads": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Lead"
            }
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "lead_id": {
            "type": "integer"
          },
          "comment": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Module": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Field"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ModuleCreate": {
        "type": "object",
        "required": [
          "domain_uuid",
          "name"
        ],
        "properties": {
          "domain_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "ModuleUpdate": {
        "type": "object",
        "required": [
          "domain_uuid",
          "id"
        ],
        "properties": {
          "domain_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "PaginatedModules": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Module"
            }
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TagCreate": {
        "type": "object",
        "required": [
          "domain_uuid",
          "name",
          "color"
        ],
        "properties": {
          "domain_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        }
      },
      "TagUpdate": {
        "type": "object",
        "required": [
          "domain_uuid",
          "id"
        ],
        "properties": {
          "domain_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        }
      },
      "PaginatedTags": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "CdrRecord": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "caller_id_number": {
            "type": "string"
          },
          "caller_id_name": {
            "type": "string"
          },
          "destination_number": {
            "type": "string"
          },
          "call_result": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "recording_file": {
            "type": "string"
          },
          "start_stamp": {
            "type": "string",
            "format": "date-time"
          },
          "end_stamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedCdr": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CdrRecord"
            }
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "Destination": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "domain_uuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiTokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "CRM Events",
      "description": "Operations related to CRM Events"
    },
    {
      "name": "CRM Fields",
      "description": "Operations related to CRM Fields"
    },
    {
      "name": "CRM Leads",
      "description": "Operations related to CRM Leads"
    },
    {
      "name": "CRM Modules",
      "description": "Operations related to CRM Modules"
    },
    {
      "name": "CRM Tags",
      "description": "Operations related to CRM Tags"
    },
    {
      "name": "PBX Active Calls",
      "description": "Operations related to PBX Active Calls"
    },
    {
      "name": "PBX CDR",
      "description": "Operations related to PBX CDR"
    },
    {
      "name": "PBX Destinations",
      "description": "Operations related to PBX Destinations"
    }
  ]
}