{
  "openapi": "3.0.3",
  "info": {
    "title": "SEC-API Mapping API",
    "version": "1.0.0",
    "description": "EDGAR mapping API for looking up SEC filings data by CIK, ticker, CUSIP, company name, exchange, sector, and industry.",
    "x-jentic-source-url": "https://sec-api.io/docs/mapping-api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.sec-api.io"
    }
  ],
  "paths": {
    "/mapping/cik/{cik}": {
      "get": {
        "operationId": "getCikMapping",
        "summary": "Map CIK to company details",
        "description": "Map CIK to company details",
        "tags": [
          "Mapping"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "description": "CIK number",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/ticker/{ticker}": {
      "get": {
        "operationId": "getTickerMapping",
        "summary": "Map ticker to company details",
        "description": "Map ticker to company details",
        "tags": [
          "Mapping"
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "description": "Stock ticker symbol",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/cusip/{cusip}": {
      "get": {
        "operationId": "getCusipMapping",
        "summary": "Map CUSIP to company details",
        "description": "Map CUSIP to company details",
        "tags": [
          "Mapping"
        ],
        "parameters": [
          {
            "name": "cusip",
            "in": "path",
            "required": true,
            "description": "CUSIP identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/name/{name}": {
      "get": {
        "operationId": "getNameMapping",
        "summary": "Map company name to company details",
        "description": "Map company name to company details",
        "tags": [
          "Mapping"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Company name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/exchange/{exchange}": {
      "get": {
        "operationId": "getExchangeCompanies",
        "summary": "List all companies on a given exchange",
        "description": "List all companies on a given exchange",
        "tags": [
          "Mapping"
        ],
        "parameters": [
          {
            "name": "exchange",
            "in": "path",
            "required": true,
            "description": "Exchange name (e.g. NYSE, NASDAQ)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/sector/{sector}": {
      "get": {
        "operationId": "getSectorCompanies",
        "summary": "List all companies in a given sector",
        "description": "List all companies in a given sector",
        "tags": [
          "Mapping"
        ],
        "parameters": [
          {
            "name": "sector",
            "in": "path",
            "required": true,
            "description": "Sector name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/industry/{industry}": {
      "get": {
        "operationId": "getIndustryCompanies",
        "summary": "List all companies in a given industry",
        "description": "List all companies in a given industry",
        "tags": [
          "Mapping"
        ],
        "parameters": [
          {
            "name": "industry",
            "in": "path",
            "required": true,
            "description": "Industry name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulk/mapping/cik-to-ticker": {
      "get": {
        "operationId": "bulkCikToTicker",
        "summary": "Download all CIK-to-ticker mappings",
        "description": "Download all CIK-to-ticker mappings",
        "tags": [
          "Bulk Downloads"
        ],
        "responses": {
          "200": {
            "description": "JSON file with mappings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulk/mapping/cik-to-cusip": {
      "get": {
        "operationId": "bulkCikToCusip",
        "summary": "Download all CIK-to-CUSIP mappings",
        "description": "Download all CIK-to-CUSIP mappings",
        "tags": [
          "Bulk Downloads"
        ],
        "responses": {
          "200": {
            "description": "JSON file with mappings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulk/mapping/ticker-to-cik": {
      "get": {
        "operationId": "bulkTickerToCik",
        "summary": "Download all ticker-to-CIK mappings",
        "description": "Download all ticker-to-CIK mappings",
        "tags": [
          "Bulk Downloads"
        ],
        "responses": {
          "200": {
            "description": "JSON file with mappings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulk/mapping/ticker-to-cusip": {
      "get": {
        "operationId": "bulkTickerToCusip",
        "summary": "Download all ticker-to-CUSIP mappings",
        "description": "Download all ticker-to-CUSIP mappings",
        "tags": [
          "Bulk Downloads"
        ],
        "responses": {
          "200": {
            "description": "JSON file with mappings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulk/mapping/cusip-to-cik": {
      "get": {
        "operationId": "bulkCusipToCik",
        "summary": "Download all CUSIP-to-CIK mappings",
        "description": "Download all CUSIP-to-CIK mappings",
        "tags": [
          "Bulk Downloads"
        ],
        "responses": {
          "200": {
            "description": "JSON file with mappings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bulk/mapping/cusip-to-ticker": {
      "get": {
        "operationId": "bulkCusipToTicker",
        "summary": "Download all CUSIP-to-ticker mappings",
        "description": "Download all CUSIP-to-ticker mappings",
        "tags": [
          "Bulk Downloads"
        ],
        "responses": {
          "200": {
            "description": "JSON file with mappings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CompanyInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "ticker": {
            "type": "string"
          },
          "cik": {
            "type": "string"
          },
          "cusip": {
            "type": "string"
          },
          "exchange": {
            "type": "string"
          },
          "sector": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "sicCode": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "CompanyList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/CompanyInfo"
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Bulk Downloads"
    },
    {
      "name": "Mapping"
    }
  ]
}
