{
  "openapi": "3.0.3",
  "info": {
    "title": "Google Meet API",
    "version": "v2",
    "description": "Google Meet REST API for creating and managing meeting spaces, retrieving conference records, participants, recordings, and transcripts.",
    "x-jentic-source-url": "https://developers.google.com/meet/api"
  },
  "servers": [
    {
      "url": "https://meet.googleapis.com",
      "description": "Google Meet API server"
    }
  ],
  "paths": {
    "/v2/spaces": {
      "post": {
        "operationId": "createSpace",
        "summary": "Create a new meeting space",
        "tags": [
          "Spaces"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Space"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created meeting space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{name}": {
      "get": {
        "operationId": "getSpace",
        "summary": "Get a meeting space by resource name",
        "tags": [
          "Spaces"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^spaces/[^/]+$"
            },
            "description": "Resource name of the space, e.g., spaces/{spaceId}"
          }
        ],
        "responses": {
          "200": {
            "description": "Meeting space details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSpace",
        "summary": "Update a meeting space",
        "tags": [
          "Spaces"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^spaces/[^/]+$"
            },
            "description": "Resource name of the space, e.g., spaces/{spaceId}"
          },
          {
            "name": "updateMask",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field mask for partial update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Space"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated meeting space",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{name}:endActiveConference": {
      "post": {
        "operationId": "endActiveConference",
        "summary": "End the active conference in a meeting space",
        "tags": [
          "Spaces"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.created"
            ]
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^spaces/[^/]+$"
            },
            "description": "Resource name of the space, e.g., spaces/{spaceId}"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conference ended successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/conferenceRecords": {
      "get": {
        "operationId": "listConferenceRecords",
        "summary": "List all conference records",
        "tags": [
          "Conference Records"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Maximum number of conference records to return"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Page token from a previous list request"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter expression for conference records"
          }
        ],
        "responses": {
          "200": {
            "description": "List of conference records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConferenceRecordsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{name_conferenceRecord}": {
      "get": {
        "operationId": "getConferenceRecord",
        "summary": "Get a specific conference record",
        "tags": [
          "Conference Records"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "name_conferenceRecord",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+$"
            },
            "description": "Resource name of the conference record, e.g., conferenceRecords/{conferenceRecordId}"
          }
        ],
        "responses": {
          "200": {
            "description": "Conference record details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConferenceRecord"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{parent}/participants": {
      "get": {
        "operationId": "listParticipants",
        "summary": "List participants in a conference",
        "tags": [
          "Participants"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+$"
            },
            "description": "Parent conference record, e.g., conferenceRecords/{conferenceRecordId}"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Maximum number of participants to return"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Page token from a previous list request"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter expression"
          }
        ],
        "responses": {
          "200": {
            "description": "List of participants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListParticipantsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{name_participant}": {
      "get": {
        "operationId": "getParticipant",
        "summary": "Get a participant by resource name",
        "tags": [
          "Participants"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "name_participant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$"
            },
            "description": "Resource name of the participant"
          }
        ],
        "responses": {
          "200": {
            "description": "Participant details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Participant"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{parent_participant}/participantSessions": {
      "get": {
        "operationId": "listParticipantSessions",
        "summary": "List sessions for a participant",
        "tags": [
          "Participant Sessions"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "parent_participant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$"
            },
            "description": "Parent participant resource name"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Maximum number of sessions to return"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Page token from a previous list request"
          }
        ],
        "responses": {
          "200": {
            "description": "List of participant sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListParticipantSessionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{name_participantSession}": {
      "get": {
        "operationId": "getParticipantSession",
        "summary": "Get a participant session by resource name",
        "tags": [
          "Participant Sessions"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "name_participantSession",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+/participants/[^/]+/participantSessions/[^/]+$"
            },
            "description": "Resource name of the participant session"
          }
        ],
        "responses": {
          "200": {
            "description": "Participant session details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantSession"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{parent}/recordings": {
      "get": {
        "operationId": "listRecordings",
        "summary": "List recordings from a conference",
        "tags": [
          "Recordings"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+$"
            },
            "description": "Parent conference record"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Maximum number of recordings to return"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Page token"
          }
        ],
        "responses": {
          "200": {
            "description": "List of recordings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRecordingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{name_recording}": {
      "get": {
        "operationId": "getRecording",
        "summary": "Get a recording by resource name",
        "tags": [
          "Recordings"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "name_recording",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+/recordings/[^/]+$"
            },
            "description": "Resource name of the recording"
          }
        ],
        "responses": {
          "200": {
            "description": "Recording details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recording"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{parent}/transcripts": {
      "get": {
        "operationId": "listTranscripts",
        "summary": "List transcripts from a conference",
        "tags": [
          "Transcripts"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+$"
            },
            "description": "Parent conference record"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Maximum number of transcripts to return"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Page token"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transcripts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTranscriptsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{name_transcript}": {
      "get": {
        "operationId": "getTranscript",
        "summary": "Get a transcript by resource name",
        "tags": [
          "Transcripts"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "name_transcript",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$"
            },
            "description": "Resource name of the transcript"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transcript"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{parent_transcript}/entries": {
      "get": {
        "operationId": "listTranscriptEntries",
        "summary": "List structured transcript entries",
        "tags": [
          "Transcript Entries"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "parent_transcript",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$"
            },
            "description": "Parent transcript resource name"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Maximum number of entries to return"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Page token"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transcript entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTranscriptEntriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/{name_transcriptEntry}": {
      "get": {
        "operationId": "getTranscriptEntry",
        "summary": "Get a transcript entry by resource name",
        "tags": [
          "Transcript Entries"
        ],
        "security": [
          {
            "oauth2": [
              "https://www.googleapis.com/auth/meetings.space.readonly"
            ]
          }
        ],
        "parameters": [
          {
            "name": "name_transcriptEntry",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+/entries/[^/]+$"
            },
            "description": "Resource name of the transcript entry"
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript entry details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/meetings.space.created": "Create and manage meeting spaces",
              "https://www.googleapis.com/auth/meetings.space.readonly": "Read meeting space information"
            }
          }
        }
      }
    },
    "schemas": {
      "Space": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Resource name of the space, e.g., spaces/{spaceId}",
            "readOnly": true
          },
          "meetingUri": {
            "type": "string",
            "description": "URI used to join the meeting",
            "readOnly": true
          },
          "meetingCode": {
            "type": "string",
            "description": "Code used to join the meeting",
            "readOnly": true
          },
          "config": {
            "$ref": "#/components/schemas/SpaceConfig"
          },
          "activeConference": {
            "$ref": "#/components/schemas/ActiveConference"
          }
        }
      },
      "SpaceConfig": {
        "type": "object",
        "properties": {
          "accessType": {
            "type": "string",
            "enum": [
              "ACCESS_TYPE_UNSPECIFIED",
              "OPEN",
              "TRUSTED",
              "RESTRICTED"
            ],
            "description": "Access type for the space"
          },
          "entryPointAccess": {
            "type": "string",
            "enum": [
              "ENTRY_POINT_ACCESS_UNSPECIFIED",
              "ALL",
              "CREATOR_APP_ONLY"
            ],
            "description": "Entry point access restriction"
          }
        }
      },
      "ActiveConference": {
        "type": "object",
        "properties": {
          "conferenceRecord": {
            "type": "string",
            "description": "Resource name of the conference record for the active conference"
          }
        }
      },
      "ConferenceRecord": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Resource name of the conference record"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "Start time of the conference"
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "End time of the conference"
          },
          "expireTime": {
            "type": "string",
            "format": "date-time",
            "description": "Time when the conference record expires"
          },
          "space": {
            "type": "string",
            "description": "Resource name of the space"
          }
        }
      },
      "Participant": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Resource name of the participant"
          },
          "earliestStartTime": {
            "type": "string",
            "format": "date-time",
            "description": "Earliest start time of the participant's session"
          },
          "latestEndTime": {
            "type": "string",
            "format": "date-time",
            "description": "Latest end time of the participant's session"
          },
          "signedinUser": {
            "$ref": "#/components/schemas/SignedinUser"
          },
          "anonymousUser": {
            "$ref": "#/components/schemas/AnonymousUser"
          },
          "phoneUser": {
            "$ref": "#/components/schemas/PhoneUser"
          }
        }
      },
      "SignedinUser": {
        "type": "object",
        "properties": {
          "user": {
            "type": "string",
            "description": "Resource name of the user"
          },
          "displayName": {
            "type": "string",
            "description": "Display name of the user"
          }
        }
      },
      "AnonymousUser": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Display name of the anonymous user"
          }
        }
      },
      "PhoneUser": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Display name of the phone user"
          }
        }
      },
      "ParticipantSession": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Resource name of the participant session"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "Start time of the session"
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "End time of the session"
          }
        }
      },
      "Recording": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Resource name of the recording"
          },
          "state": {
            "type": "string",
            "enum": [
              "STATE_UNSPECIFIED",
              "STARTED",
              "ENDED",
              "FILE_GENERATED"
            ],
            "description": "State of the recording"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "Start time of the recording"
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "End time of the recording"
          },
          "driveDestination": {
            "$ref": "#/components/schemas/DriveDestination"
          }
        }
      },
      "DriveDestination": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "description": "Resource name of the Drive file"
          },
          "exportUri": {
            "type": "string",
            "description": "URI to export the recording"
          }
        }
      },
      "Transcript": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Resource name of the transcript"
          },
          "state": {
            "type": "string",
            "enum": [
              "STATE_UNSPECIFIED",
              "STARTED",
              "ENDED",
              "FILE_GENERATED"
            ],
            "description": "State of the transcript"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "Start time of the transcript"
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "End time of the transcript"
          },
          "docsDestination": {
            "$ref": "#/components/schemas/DocsDestination"
          }
        }
      },
      "DocsDestination": {
        "type": "object",
        "properties": {
          "document": {
            "type": "string",
            "description": "Resource name of the Docs document"
          },
          "exportUri": {
            "type": "string",
            "description": "URI to export the transcript"
          }
        }
      },
      "TranscriptEntry": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Resource name of the transcript entry"
          },
          "participant": {
            "type": "string",
            "description": "Resource name of the participant who spoke"
          },
          "text": {
            "type": "string",
            "description": "Transcribed text of the entry"
          },
          "languageCode": {
            "type": "string",
            "description": "BCP-47 language code of the spoken text"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "Start time of the entry"
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "End time of the entry"
          }
        }
      },
      "ListConferenceRecordsResponse": {
        "type": "object",
        "properties": {
          "conferenceRecords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConferenceRecord"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Token for the next page of results"
          }
        }
      },
      "ListParticipantsResponse": {
        "type": "object",
        "properties": {
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Participant"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Token for the next page of results"
          },
          "totalSize": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of participants"
          }
        }
      },
      "ListParticipantSessionsResponse": {
        "type": "object",
        "properties": {
          "participantSessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParticipantSession"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Token for the next page of results"
          }
        }
      },
      "ListRecordingsResponse": {
        "type": "object",
        "properties": {
          "recordings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recording"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Token for the next page of results"
          }
        }
      },
      "ListTranscriptsResponse": {
        "type": "object",
        "properties": {
          "transcripts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transcript"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Token for the next page of results"
          }
        }
      },
      "ListTranscriptEntriesResponse": {
        "type": "object",
        "properties": {
          "transcriptEntries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranscriptEntry"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Token for the next page of results"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Status"
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Additional error details"
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ]
}