{
  "openapi": "3.0.3",
  "info": {
    "title": "RealPage Exchange API",
    "version": "1.0.0",
    "description": "The RealPage Exchange (RPX) API enables integration with RealPage's property management platform. The API provides access to resident management, lease tracking, property operations, and financial data. Access requires an active RealPage partner agreement through the RPX AppPartner Program. The API supports both REST and SOAP interfaces; this specification covers the REST API endpoints.",
    "contact": {
      "name": "RealPage Developer Support",
      "url": "https://www.realpage.com"
    },
    "x-jentic-source-url": "https://www.realpage.com/"
  },
  "servers": [
    {
      "url": "https://api.realpage.com/v1",
      "description": "RealPage API production endpoint"
    }
  ],
  "paths": {
    "/residents": {
      "get": {
        "tags": [
          "Residents"
        ],
        "summary": "List residents",
        "description": "Retrieve a list of residents filtered by site, property management company, status, or event date range.",
        "operationId": "listResidents",
        "parameters": [
          {
            "name": "siteId",
            "in": "query",
            "description": "Site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmcId",
            "in": "query",
            "description": "Property Management Company identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by resident status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "current",
                "past",
                "future",
                "applicant",
                "all"
              ]
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Filter by event start date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Filter by event end date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "events",
            "in": "query",
            "description": "Filter by event types (comma-separated)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "movein,moveout,renewal"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResidentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/residents/{residentId}": {
      "get": {
        "tags": [
          "Residents"
        ],
        "summary": "Get resident details",
        "description": "Retrieve detailed information for a specific resident.",
        "operationId": "getResident",
        "parameters": [
          {
            "name": "residentId",
            "in": "path",
            "description": "Unique resident identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteId",
            "in": "query",
            "description": "Site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmcId",
            "in": "query",
            "description": "Property Management Company identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resident"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/residents/events": {
      "get": {
        "tags": [
          "Residents"
        ],
        "summary": "Get resident events",
        "description": "Query residents by events (move-in, move-out, renewal, etc.) within a date range.",
        "operationId": "getResidentEvents",
        "parameters": [
          {
            "name": "siteId",
            "in": "query",
            "description": "Site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmcId",
            "in": "query",
            "description": "Property Management Company identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Event date range start",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Event date range end",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "events",
            "in": "query",
            "description": "Event types to filter (comma-separated: movein, moveout, renewal, transfer)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResidentEventListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/leases": {
      "get": {
        "tags": [
          "Leases"
        ],
        "summary": "List leases",
        "description": "Retrieve a list of leases for a site.",
        "operationId": "listLeases",
        "parameters": [
          {
            "name": "siteId",
            "in": "query",
            "description": "Site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmcId",
            "in": "query",
            "description": "Property Management Company identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "residentId",
            "in": "query",
            "description": "Filter by resident",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by lease status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "expired",
                "pending",
                "cancelled",
                "all"
              ]
            }
          },
          {
            "name": "unitId",
            "in": "query",
            "description": "Filter by unit",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaseListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/leases/{leaseId}": {
      "get": {
        "tags": [
          "Leases"
        ],
        "summary": "Get lease details",
        "description": "Retrieve detailed information for a specific lease.",
        "operationId": "getLease",
        "parameters": [
          {
            "name": "leaseId",
            "in": "path",
            "description": "Unique lease identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmcId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lease"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/sites": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "List sites",
        "description": "Retrieve a list of sites (properties) managed by the property management company.",
        "operationId": "listSites",
        "parameters": [
          {
            "name": "pmcId",
            "in": "query",
            "description": "Property Management Company identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/{siteId}": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "Get site details",
        "description": "Retrieve detailed information for a specific site.",
        "operationId": "getSite",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "description": "Unique site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmcId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/sites/{siteId}/units": {
      "get": {
        "tags": [
          "Units"
        ],
        "summary": "List units for a site",
        "description": "Retrieve a list of units at a specific site.",
        "operationId": "listUnits",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "description": "Site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmcId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "occupied",
                "vacant",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnitListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/{siteId}/units/{unitId}": {
      "get": {
        "tags": [
          "Units"
        ],
        "summary": "Get unit details",
        "description": "Retrieve detailed information for a specific unit.",
        "operationId": "getUnit",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "description": "Site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unitId",
            "in": "path",
            "description": "Unique unit identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmcId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/charges": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "List charges",
        "description": "Retrieve charges and billing transactions.",
        "operationId": "listCharges",
        "parameters": [
          {
            "name": "siteId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmcId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "residentId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payments": {
      "get": {
        "tags": [
          "Financials"
        ],
        "summary": "List payments",
        "description": "Retrieve payment transactions.",
        "operationId": "listPayments",
        "parameters": [
          {
            "name": "siteId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmcId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "residentId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/workorders": {
      "get": {
        "tags": [
          "Maintenance"
        ],
        "summary": "List work orders",
        "description": "Retrieve maintenance work orders.",
        "operationId": "listWorkOrders",
        "parameters": [
          {
            "name": "siteId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmcId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "in_progress",
                "completed",
                "all"
              ]
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Maintenance"
        ],
        "summary": "Create work order",
        "description": "Create a new maintenance work order.",
        "operationId": "createWorkOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkOrderCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Work order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/workorders/{workOrderId}": {
      "get": {
        "tags": [
          "Maintenance"
        ],
        "summary": "Get work order details",
        "description": "Retrieve detailed information for a specific work order.",
        "operationId": "getWorkOrder",
        "parameters": [
          {
            "name": "workOrderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmcId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Resident": {
        "type": "object",
        "properties": {
          "residentId": {
            "type": "string",
            "description": "Unique resident identifier"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "current",
              "past",
              "future",
              "applicant"
            ]
          },
          "siteId": {
            "type": "string"
          },
          "pmcId": {
            "type": "string"
          },
          "unitId": {
            "type": "string"
          },
          "moveInDate": {
            "type": "string",
            "format": "date"
          },
          "moveOutDate": {
            "type": "string",
            "format": "date"
          },
          "leases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Lease"
            }
          }
        }
      },
      "ResidentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resident"
            }
          },
          "total": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "ResidentEvent": {
        "type": "object",
        "properties": {
          "residentId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "movein",
              "moveout",
              "renewal",
              "transfer",
              "eviction",
              "skip",
              "notice"
            ]
          },
          "eventDate": {
            "type": "string",
            "format": "date"
          },
          "siteId": {
            "type": "string"
          },
          "unitId": {
            "type": "string"
          }
        }
      },
      "ResidentEventListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResidentEvent"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Lease": {
        "type": "object",
        "properties": {
          "leaseId": {
            "type": "string"
          },
          "siteId": {
            "type": "string"
          },
          "unitId": {
            "type": "string"
          },
          "residentId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "expired",
              "pending",
              "cancelled"
            ]
          },
          "leaseType": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "monthlyRent": {
            "type": "number",
            "format": "double"
          },
          "securityDeposit": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "LeaseListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Lease"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Site": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique site identifier"
          },
          "pmcId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "propertyType": {
            "type": "string"
          },
          "totalUnits": {
            "type": "integer"
          },
          "occupiedUnits": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "SiteListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Site"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Unit": {
        "type": "object",
        "properties": {
          "unitId": {
            "type": "string"
          },
          "siteId": {
            "type": "string"
          },
          "unitNumber": {
            "type": "string"
          },
          "unitType": {
            "type": "string"
          },
          "bedrooms": {
            "type": "integer"
          },
          "bathrooms": {
            "type": "number"
          },
          "squareFootage": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "occupied",
              "vacant",
              "down"
            ]
          },
          "marketRent": {
            "type": "number",
            "format": "double"
          },
          "currentRent": {
            "type": "number",
            "format": "double"
          },
          "floorPlan": {
            "type": "string"
          }
        }
      },
      "UnitListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Unit"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Charge": {
        "type": "object",
        "properties": {
          "chargeId": {
            "type": "string"
          },
          "siteId": {
            "type": "string"
          },
          "residentId": {
            "type": "string"
          },
          "chargeCode": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "postDate": {
            "type": "string",
            "format": "date"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "ChargeListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "siteId": {
            "type": "string"
          },
          "residentId": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "paymentMethod": {
            "type": "string"
          },
          "paymentDate": {
            "type": "string",
            "format": "date"
          },
          "referenceNumber": {
            "type": "string"
          }
        }
      },
      "PaymentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "WorkOrder": {
        "type": "object",
        "properties": {
          "workOrderId": {
            "type": "string"
          },
          "siteId": {
            "type": "string"
          },
          "unitId": {
            "type": "string"
          },
          "residentId": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "emergency"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "in_progress",
              "completed",
              "cancelled"
            ]
          },
          "description": {
            "type": "string"
          },
          "requestedDate": {
            "type": "string",
            "format": "date-time"
          },
          "completedDate": {
            "type": "string",
            "format": "date-time"
          },
          "assignedTo": {
            "type": "string"
          }
        }
      },
      "WorkOrderCreate": {
        "type": "object",
        "required": [
          "siteId",
          "pmcId",
          "category",
          "description"
        ],
        "properties": {
          "siteId": {
            "type": "string"
          },
          "pmcId": {
            "type": "string"
          },
          "unitId": {
            "type": "string"
          },
          "residentId": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              "emergency"
            ]
          },
          "description": {
            "type": "string"
          },
          "assignedTo": {
            "type": "string"
          }
        }
      },
      "WorkOrderListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkOrder"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "street1": {
            "type": "string"
          },
          "street2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-License-Key",
        "description": "RealPage API license key provided through the RPX AppPartner Program"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication with RPX credentials"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    },
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Residents",
      "description": "Resident management and event tracking"
    },
    {
      "name": "Leases",
      "description": "Lease management operations"
    },
    {
      "name": "Sites",
      "description": "Site (property) management"
    },
    {
      "name": "Units",
      "description": "Unit management operations"
    },
    {
      "name": "Financials",
      "description": "Charges and payment operations"
    },
    {
      "name": "Maintenance",
      "description": "Work order management"
    }
  ]
}