{
  "openapi": "3.0.3",
  "info": {
    "title": "Ably REST API",
    "version": "1.2.0",
    "description": "Ably REST API for realtime messaging, pub/sub, presence, channel history, token authentication, and statistics.",
    "x-jentic-source-url": "https://ably.com/docs/api/rest-api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://rest.ably.io"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Channels",
      "description": "Publish messages and manage channels"
    },
    {
      "name": "Presence",
      "description": "Presence data for channels"
    },
    {
      "name": "History",
      "description": "Message and presence history"
    },
    {
      "name": "Authentication",
      "description": "Token-based authentication"
    },
    {
      "name": "Stats",
      "description": "Application statistics"
    },
    {
      "name": "Status",
      "description": "Channel and connection status"
    }
  ],
  "paths": {
    "/channels/{channelId}/messages": {
      "post": {
        "operationId": "publishMessage",
        "summary": "Publish a message to a channel",
        "description": "Publish a message or an array of messages to a specified channel.",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "description": "The channel name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishMessageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message published successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getMessageHistory",
        "summary": "Get message history for a channel",
        "description": "Retrieve message history for a specified channel.",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start of time window (milliseconds since epoch or ISO 8601)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End of time window (milliseconds since epoch or ISO 8601)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of messages to return (default 100, max 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of results ordering",
            "schema": {
              "type": "string",
              "enum": [
                "forwards",
                "backwards"
              ],
              "default": "backwards"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channelId}/presence": {
      "get": {
        "operationId": "getPresence",
        "summary": "Get current presence set",
        "description": "Retrieve the current presence members for a channel.",
        "tags": [
          "Presence"
        ],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of members to return (default 100, max 1000)",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "clientId",
            "in": "query",
            "description": "Filter by client ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "in": "query",
            "description": "Filter by connection ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current presence members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PresenceMember"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channelId}/presence/history": {
      "get": {
        "operationId": "getPresenceHistory",
        "summary": "Get presence history",
        "description": "Retrieve presence event history for a channel.",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "forwards",
                "backwards"
              ],
              "default": "backwards"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Presence history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PresenceMember"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels": {
      "get": {
        "operationId": "listChannels",
        "summary": "List active channels",
        "description": "Enumerate all active channels for the application.",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of channels to return (default 100)",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "description": "Filter channels by name prefix",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "by",
            "in": "query",
            "description": "Set to 'id' to return only channel names",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of active channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChannelDetails"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channelId}": {
      "get": {
        "operationId": "getChannelStatus",
        "summary": "Get channel metadata and status",
        "description": "Retrieve metadata and status for a specific channel.",
        "tags": [
          "Status"
        ],
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/keys/{keyName}/requestToken": {
      "post": {
        "operationId": "requestToken",
        "summary": "Request an Ably token",
        "description": "Request a new Ably auth token using an API key.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "keyName",
            "in": "path",
            "required": true,
            "description": "The key name (first part of API key before ':')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stats": {
      "get": {
        "operationId": "getStats",
        "summary": "Get application statistics",
        "description": "Retrieve usage statistics for the Ably application.",
        "tags": [
          "Stats"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Start of time window",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End of time window",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "forwards",
                "backwards"
              ],
              "default": "backwards"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Time unit for stats grouping",
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "hour",
                "day",
                "month"
              ],
              "default": "minute"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatsRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Ably API key (key_name:key_secret) as Basic Auth"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Ably Token"
      }
    },
    "schemas": {
      "PublishMessageRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Event name"
          },
          "data": {
            "description": "Message payload (string, JSON object, or binary)",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object"
              }
            ]
          },
          "id": {
            "type": "string",
            "description": "Optional unique message ID for idempotency"
          },
          "clientId": {
            "type": "string",
            "description": "Client ID of the publisher"
          },
          "encoding": {
            "type": "string",
            "description": "Encoding of the data field"
          },
          "extras": {
            "type": "object",
            "description": "Extra message metadata (e.g., push notification payloads)"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique message ID"
          },
          "name": {
            "type": "string",
            "description": "Event name"
          },
          "data": {
            "description": "Message payload"
          },
          "clientId": {
            "type": "string"
          },
          "connectionId": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "description": "Timestamp in milliseconds since epoch"
          },
          "encoding": {
            "type": "string"
          }
        }
      },
      "PresenceMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientId": {
            "type": "string",
            "description": "Client ID of the presence member"
          },
          "connectionId": {
            "type": "string"
          },
          "data": {
            "description": "Optional presence data"
          },
          "action": {
            "type": "string",
            "description": "Presence action (enter, leave, update, present)"
          },
          "timestamp": {
            "type": "integer"
          },
          "encoding": {
            "type": "string"
          }
        }
      },
      "ChannelDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Channel name"
          },
          "status": {
            "type": "object",
            "properties": {
              "isActive": {
                "type": "boolean"
              },
              "occupancy": {
                "type": "object",
                "properties": {
                  "metrics": {
                    "type": "object",
                    "properties": {
                      "connections": {
                        "type": "integer"
                      },
                      "publishers": {
                        "type": "integer"
                      },
                      "subscribers": {
                        "type": "integer"
                      },
                      "presenceConnections": {
                        "type": "integer"
                      },
                      "presenceMembers": {
                        "type": "integer"
                      },
                      "presenceSubscribers": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "properties": {
          "ttl": {
            "type": "integer",
            "description": "Time to live in milliseconds (default 60 minutes)"
          },
          "capability": {
            "type": "object",
            "description": "JSON object mapping channel names to arrays of operations",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "clientId": {
            "type": "string",
            "description": "Client ID to associate with the token"
          },
          "timestamp": {
            "type": "integer",
            "description": "Timestamp in milliseconds"
          },
          "nonce": {
            "type": "string",
            "description": "Unique nonce string"
          }
        }
      },
      "TokenDetails": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The Ably Token string"
          },
          "keyName": {
            "type": "string"
          },
          "issued": {
            "type": "integer",
            "description": "Timestamp when token was issued"
          },
          "expires": {
            "type": "integer",
            "description": "Timestamp when token expires"
          },
          "capability": {
            "type": "string",
            "description": "JSON string of capabilities"
          },
          "clientId": {
            "type": "string"
          }
        }
      },
      "StatsRecord": {
        "type": "object",
        "properties": {
          "intervalId": {
            "type": "string",
            "description": "Time interval identifier"
          },
          "unit": {
            "type": "string",
            "description": "Time unit (minute, hour, day, month)"
          },
          "all": {
            "type": "object",
            "description": "Aggregate stats",
            "properties": {
              "messages": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "data": {
                    "type": "integer"
                  }
                }
              },
              "all": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "data": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              },
              "statusCode": {
                "type": "integer"
              },
              "href": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
