{
  "openapi": "3.0.3",
  "info": {
    "title": "RescueTime API",
    "description": "RescueTime API provides access to productivity analytics data, daily summaries, alerts, highlights, focus sessions, and offline time tracking. Data is synced every 3 minutes for paid plans and every 30 minutes for free (Lite) plans.",
    "version": "0.9.0",
    "contact": {
      "name": "RescueTime",
      "url": "https://www.rescuetime.com/developers"
    },
    "x-jentic-source-url": "https://www.rescuetime.com/developers"
  },
  "servers": [
    {
      "url": "https://www.rescuetime.com",
      "description": "RescueTime API server"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/api/oauth/data": {
      "get": {
        "operationId": "getAnalyticData",
        "summary": "Retrieve analytic data",
        "description": "Fetch productivity analytics data with various filtering and grouping options. Returns time spent on activities, categories, or productivity levels.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "time_data",
              "category_data",
              "productivity_data"
            ]
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication (use this or access_token, not both).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth2 access token for authentication (use this or key, not both).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "perspective",
            "in": "query",
            "description": "How data is organized. 'rank' organizes around a calculated value (e.g. sum of time spent). 'interval' organizes around calendar time.",
            "schema": {
              "type": "string",
              "enum": [
                "rank",
                "interval"
              ],
              "default": "rank"
            }
          },
          {
            "name": "resolution_time",
            "in": "query",
            "description": "Time resolution for grouping data. 'minute' returns five-minute buckets (most granular).",
            "schema": {
              "type": "string",
              "enum": [
                "month",
                "week",
                "day",
                "hour",
                "minute"
              ],
              "default": "hour"
            }
          },
          {
            "name": "restrict_begin",
            "in": "query",
            "description": "Start date for the data range (YYYY-MM-DD format).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "restrict_end",
            "in": "query",
            "description": "End date for the data range (YYYY-MM-DD format).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "restrict_kind",
            "in": "query",
            "description": "The level of detail for the data. 'overview' groups into top-level categories, 'category' into sub-categories, 'activity' shows individual apps/sites, 'productivity' shows productivity levels, 'document' shows individual documents/pages, 'efficiency' shows efficiency (not applicable with rank perspective).",
            "schema": {
              "type": "string",
              "enum": [
                "overview",
                "category",
                "activity",
                "productivity",
                "document",
                "efficiency"
              ]
            }
          },
          {
            "name": "restrict_thing",
            "in": "query",
            "description": "Restrict results to a specific category, activity, or overview name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "restrict_source_type",
            "in": "query",
            "description": "Restrict results by source type.",
            "schema": {
              "type": "string",
              "enum": [
                "computers",
                "mobile",
                "offline"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format for the response.",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with analytic data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticDataResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "CSV formatted data with header row."
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/daily_summary_feed": {
      "get": {
        "operationId": "getDailySummaryFeed",
        "summary": "Retrieve daily summary feed",
        "description": "Returns a daily summary of productivity data including hours, percentages, and productivity pulse for recent days.",
        "tags": [
          "Daily Summary"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "time_data",
              "productivity_data"
            ]
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth2 access token for authentication.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with daily summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailySummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/alerts_feed": {
      "get": {
        "operationId": "getAlertsFeed",
        "summary": "Retrieve alerts feed",
        "description": "Returns a list of triggered alerts or alert configurations.",
        "tags": [
          "Alerts"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "alert_data"
            ]
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth2 access token for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "op",
            "in": "query",
            "description": "Operation to perform. 'status' returns triggered alerts, 'list' returns alert configurations.",
            "schema": {
              "type": "string",
              "enum": [
                "status",
                "list"
              ]
            }
          },
          {
            "name": "alert_id",
            "in": "query",
            "description": "Filter by a specific alert ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with alerts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alert"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/highlights_feed": {
      "get": {
        "operationId": "getHighlightsFeed",
        "summary": "Retrieve highlights feed",
        "description": "Returns a list of daily highlights (accomplishments) logged by the user.",
        "tags": [
          "Highlights"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "highlight_data"
            ]
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth2 access token for authentication.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with highlights.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Highlight"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/highlights_post": {
      "post": {
        "operationId": "createHighlight",
        "summary": "Create a highlight",
        "description": "Post a new daily highlight (accomplishment).",
        "tags": [
          "Highlights"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "highlight_data"
            ]
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth2 access token for authentication.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "description"
                ],
                "properties": {
                  "highlight_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Date of the highlight (YYYY-MM-DD). Defaults to today."
                  },
                  "description": {
                    "type": "string",
                    "description": "Text description of the highlight/accomplishment."
                  },
                  "source": {
                    "type": "string",
                    "description": "Source application or context for the highlight."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Highlight created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Highlight"
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/start_focustime": {
      "post": {
        "operationId": "startFocusSession",
        "summary": "Start a focus session",
        "description": "Start a FocusTime session that blocks distracting sites and applications.",
        "tags": [
          "Focus Sessions"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "focustime_data"
            ]
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth2 access token for authentication.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "duration"
                ],
                "properties": {
                  "duration": {
                    "type": "integer",
                    "description": "Duration in minutes (must be a multiple of 5). Use -1 for an indefinite session."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Focus session started successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the focus session."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/end_focustime": {
      "post": {
        "operationId": "endFocusSession",
        "summary": "End a focus session",
        "description": "End the currently active FocusTime session.",
        "tags": [
          "Focus Sessions"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "focustime_data"
            ]
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth2 access token for authentication.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Focus session ended successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the focus session."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/focustime_started_feed": {
      "get": {
        "operationId": "getFocusTimeStartedFeed",
        "summary": "Retrieve focus session start events",
        "description": "Returns a feed of focus session start events.",
        "tags": [
          "Focus Sessions"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "focustime_data"
            ]
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth2 access token for authentication.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with focus session start events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FocusTimeEvent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/focustime_ended_feed": {
      "get": {
        "operationId": "getFocusTimeEndedFeed",
        "summary": "Retrieve focus session end events",
        "description": "Returns a feed of focus session end events.",
        "tags": [
          "Focus Sessions"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "focustime_data"
            ]
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth2 access token for authentication.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with focus session end events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FocusTimeEvent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/offline_time_post": {
      "post": {
        "operationId": "createOfflineTime",
        "summary": "Log offline time",
        "description": "Post offline time entries for activities not tracked by the RescueTime client (e.g., meetings, phone calls).",
        "tags": [
          "Offline Time"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "time_data"
            ]
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth2 access token for authentication.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "start_time"
                ],
                "properties": {
                  "start_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start time of the offline activity."
                  },
                  "end_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End time of the offline activity. Provide either end_time or duration."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Duration in seconds. Provide either end_time or duration."
                  },
                  "activity_name": {
                    "type": "string",
                    "description": "Name of the offline activity (e.g., 'Meeting', 'Phone call')."
                  },
                  "activity_details": {
                    "type": "string",
                    "description": "Additional details about the offline activity."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Offline time logged successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Status of the operation."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "operationId": "authorizeOAuth",
        "summary": "OAuth2 authorization endpoint",
        "description": "Redirect users to this endpoint to authorize your application. After authorization, the user is redirected to your redirect_uri with an authorization code.",
        "tags": [
          "OAuth2"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "description": "Your application's client ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "description": "URI to redirect the user after authorization.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "description": "Must be 'code' for authorization code flow.",
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "description": "Space-separated list of OAuth2 scopes to request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to RescueTime authorization page."
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "getOAuthToken",
        "summary": "Exchange authorization code for access token",
        "description": "Exchange an authorization code for an OAuth2 access token.",
        "tags": [
          "OAuth2"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret",
                  "code",
                  "redirect_uri",
                  "grant_type"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Your application's client ID."
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your application's client secret."
                  },
                  "code": {
                    "type": "string",
                    "description": "The authorization code received from the authorize endpoint."
                  },
                  "redirect_uri": {
                    "type": "string",
                    "format": "uri",
                    "description": "Must match the redirect_uri used in the authorization request."
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code"
                    ],
                    "description": "Must be 'authorization_code'."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful token exchange.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API key generated from RescueTime account settings."
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.rescuetime.com/oauth/authorize",
            "tokenUrl": "https://www.rescuetime.com/oauth/token",
            "scopes": {
              "time_data": "Access to time tracking data.",
              "category_data": "Access to category data.",
              "productivity_data": "Access to productivity data.",
              "alert_data": "Access to alert data.",
              "highlight_data": "Access to highlight data.",
              "focustime_data": "Access to FocusTime data."
            }
          }
        }
      }
    },
    "schemas": {
      "AnalyticDataResponse": {
        "type": "object",
        "properties": {
          "notes": {
            "type": "string",
            "description": "Explanatory notes about the returned data."
          },
          "row_headers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Labels for each column in the rows array."
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {}
            },
            "description": "Array of data rows, where each row is an array of values corresponding to row_headers."
          }
        }
      },
      "DailySummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the summary."
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date of the summary."
          },
          "productivity_pulse": {
            "type": "number",
            "description": "Overall productivity score for the day."
          },
          "total_hours": {
            "type": "number",
            "description": "Total tracked hours."
          },
          "total_duration_formatted": {
            "type": "string",
            "description": "Total tracked time as a formatted string."
          },
          "very_productive_percentage": {
            "type": "number",
            "description": "Percentage of time spent on very productive activities."
          },
          "productive_percentage": {
            "type": "number",
            "description": "Percentage of time spent on productive activities."
          },
          "neutral_percentage": {
            "type": "number",
            "description": "Percentage of time spent on neutral activities."
          },
          "distracting_percentage": {
            "type": "number",
            "description": "Percentage of time spent on distracting activities."
          },
          "very_distracting_percentage": {
            "type": "number",
            "description": "Percentage of time spent on very distracting activities."
          },
          "all_productive_percentage": {
            "type": "number",
            "description": "Combined percentage of productive and very productive time."
          },
          "all_distracting_percentage": {
            "type": "number",
            "description": "Combined percentage of distracting and very distracting time."
          },
          "uncategorized_percentage": {
            "type": "number",
            "description": "Percentage of uncategorized time."
          },
          "very_productive_hours": {
            "type": "number",
            "description": "Hours spent on very productive activities."
          },
          "productive_hours": {
            "type": "number",
            "description": "Hours spent on productive activities."
          },
          "very_productive_duration_formatted": {
            "type": "string",
            "description": "Very productive time as a formatted string."
          },
          "productive_duration_formatted": {
            "type": "string",
            "description": "Productive time as a formatted string."
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the alert event."
          },
          "alert_id": {
            "type": "integer",
            "description": "Identifier of the alert configuration."
          },
          "description": {
            "type": "string",
            "description": "Description of the alert."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the alert was triggered."
          }
        }
      },
      "Highlight": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the highlight."
          },
          "description": {
            "type": "string",
            "description": "Text description of the highlight."
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date of the highlight."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the highlight was created."
          }
        }
      },
      "FocusTimeEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the event."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the event."
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the focus session in minutes."
          }
        }
      },
      "OAuthTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The OAuth2 access token."
          },
          "token_type": {
            "type": "string",
            "description": "Type of token (usually 'bearer')."
          },
          "scope": {
            "type": "string",
            "description": "Granted scopes."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Alerts"
    },
    {
      "name": "Analytics"
    },
    {
      "name": "Daily Summary"
    },
    {
      "name": "Focus Sessions"
    },
    {
      "name": "Highlights"
    },
    {
      "name": "OAuth2"
    },
    {
      "name": "Offline Time"
    }
  ]
}
