{
  "openapi": "3.0.3",
  "info": {
    "title": "CounselMore API",
    "version": "1.0.0",
    "description": "CounselMore API for authentication and contact retrieval for Zapier integration.",
    "x-jentic-source-url": "https://www.counselmore.com/api-documentation"
  },
  "servers": [
    {
      "url": "https://www.counselmore.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/zLogin": {
      "post": {
        "operationId": "login",
        "summary": "Authenticate a user and return access credentials",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pullContactsForZapier": {
      "get": {
        "operationId": "pullcontactsforzapier",
        "summary": "Retrieve contacts for Zapier integration",
        "description": "Returns contact information. Access is restricted to requests from the Zapier domain.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "description": "User's username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "description": "User's password",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or unauthorized domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "UsernamePassword": {
        "type": "http",
        "scheme": "basic",
        "description": "Username and password credentials passed in request body or query parameters"
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Authentication successful"
          },
          "uid": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "accessToken": {
            "type": "string"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "E-mail": {
            "type": "string"
          },
          "First Name": {
            "type": "string"
          },
          "ID": {
            "type": "string"
          },
          "Last Name": {
            "type": "string"
          },
          "Phone Number": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Authentication",
      "description": "Operations related to Authentication"
    },
    {
      "name": "Contacts",
      "description": "Operations related to Contacts"
    }
  ]
}