{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "Taxamo’s elegant suite of APIs and comprehensive reporting dashboard enables digital merchants to easily comply with EU regulatory requirements on tax calculation, evidence collection, tax return creation and data storage.",
    "title": "Taxamo",
    "version": "1",
    "x-apisguru-categories": [
      "payment"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/taxamo.com/1/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/http_i.imgur.com_C7ouKJt.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://api.taxamo.com/swagger",
        "version": "1.2"
      }
    ],
    "x-providerName": "taxamo.com"
  },
  "servers": [
    {
      "url": "https://api.taxamo.com/"
    }
  ],
  "paths": {
    "/api/v1/dictionaries/countries": {
      "get": {
        "parameters": [
          {
            "description": "Should only countries with tax supported be listed?",
            "in": "query",
            "name": "tax_supported",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getCountriesDictOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "dictionaries"
        ],
        "description": "Countries",
        "operationId": "getCountriesDict",
        "summary": "Countries"
      }
    },
    "/api/v1/dictionaries/currencies": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getCurrenciesDictOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "dictionaries"
        ],
        "description": "Currencies",
        "operationId": "getCurrenciesDict",
        "summary": "Currencies"
      }
    },
    "/api/v1/dictionaries/product_types": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getProductTypesDictOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "dictionaries"
        ],
        "description": "Product types",
        "operationId": "getProductTypesDict",
        "summary": "Product types"
      }
    },
    "/api/v1/geoip": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locateMyIPOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "geoip"
        ],
        "description": "Locate IP",
        "operationId": "locateMyIP",
        "summary": "Locate IP"
      }
    },
    "/api/v1/geoip/{ip}": {
      "get": {
        "parameters": [
          {
            "description": "IP address.",
            "in": "path",
            "name": "ip",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/locateGivenIPOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "geoip"
        ],
        "description": "Locate provided IP",
        "operationId": "locateGivenIP",
        "summary": "Locate provided IP"
      }
    },
    "/api/v1/reports/domestic/summary": {
      "get": {
        "parameters": [
          {
            "description": "Output format. 'xml' and 'csv' values are accepted. Default format - json",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 2-letter country code which will be used for determining which country is domestic.",
            "in": "query",
            "name": "country_code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 3-letter currency code, e.g. EUR or USD. Defaults to the one assigned to MOSS calculations for a given country code.",
            "in": "query",
            "name": "currency_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Period start month in yyyy-MM format.",
            "in": "query",
            "name": "start_month",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Period end month in yyyy-MM format.",
            "in": "query",
            "name": "end_month",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which date should be used for FX.",
            "in": "query",
            "name": "fx_date_type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getDomesticSummaryReportOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "reporting"
        ],
        "description": "Calculate domestic summary",
        "operationId": "getDomesticSummaryReport",
        "summary": "Calculate domestic summary"
      }
    },
    "/api/v1/reports/eu/vies": {
      "get": {
        "parameters": [
          {
            "description": "Length of report period. 'month', 'quarter' and 'year' values are accepted. Required only if Large Filer Format is requested.",
            "in": "query",
            "name": "period_length",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sequence number used to generate report in Large Filer Format. If not specified then '0000000001' will be used.",
            "in": "query",
            "name": "lff_sequence_number",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which transformation should be applied. Please note that transformation will be applied only for xml and csv formats.",
            "in": "query",
            "name": "transformation",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 3-letter currency code, e.g. EUR or USD. Defaults to the one assigned to MOSS calculations for a given country code.",
            "in": "query",
            "name": "currency_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Period end month in yyyy-MM format.",
            "in": "query",
            "name": "end_month",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MOSS-assigned tax ID - if not provided, merchant's national tax number will be used.",
            "in": "query",
            "name": "tax_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Period start month in yyyy-MM format.",
            "in": "query",
            "name": "start_month",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 2-letter country code which will be used for determining which country is domestic.",
            "in": "query",
            "name": "eu_country_code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Which date should be used for FX.",
            "in": "query",
            "name": "fx_date_type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Output format. 'xml', 'csv' and 'lff' (only for Ireland) values are accepted as well",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getEuViesReportOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "reporting"
        ],
        "description": "Calculate EU VIES report",
        "operationId": "getEuViesReport",
        "summary": "Calculate EU VIES report"
      }
    },
    "/api/v1/settlement/detailed_refunds": {
      "get": {
        "parameters": [
          {
            "description": "Output format. 'json' or 'csv'. Default value is 'json'",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of 2-letter country codes",
            "in": "query",
            "name": "country_codes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Take only refunds issued at or after the date. Format: yyyy-MM-dd",
            "in": "query",
            "name": "date_from",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Take only refunds issued at or before the date. Format: yyyy-MM-dd",
            "in": "query",
            "name": "date_to",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit (no more than 1000, defaults to 100).",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Offset. Defaults to 0",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getDetailedRefundsOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "settlement"
        ],
        "description": "Detailed refunds",
        "operationId": "getDetailedRefunds",
        "summary": "Detailed refunds"
      }
    },
    "/api/v1/settlement/refunds": {
      "get": {
        "parameters": [
          {
            "description": "Output format. 'csv' value is accepted as well",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MOSS country code, used to determine currency. If ommited, merchant default setting is used.",
            "in": "query",
            "name": "moss_country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tax region key, defaults to EU for backwards compatibility.",
            "in": "query",
            "name": "tax_region",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Take only refunds issued at or after the date. Format: yyyy-MM-dd",
            "in": "query",
            "name": "date_from",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getRefundsOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "settlement"
        ],
        "description": "Fetch refunds",
        "operationId": "getRefunds",
        "summary": "Fetch refunds"
      }
    },
    "/api/v1/settlement/summary/{quarter}": {
      "get": {
        "parameters": [
          {
            "description": "MOSS country code, used to determine currency. If ommited, merchant default setting is used.",
            "in": "query",
            "name": "moss_country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tax region key",
            "in": "query",
            "name": "tax_region",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Period start month in yyyy-MM format. Either quarter or start-month and end-month have to be provided.",
            "in": "query",
            "name": "start_month",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Period end month in yyyy-MM format. Either quarter or start-month and end-month have to be provided.",
            "in": "query",
            "name": "end_month",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Quarter in yyyy-MM format. If start-date and end-date are provided, quarter is ignored and should be set to 'range'.",
            "in": "path",
            "name": "quarter",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getSettlementSummaryOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "settlement"
        ],
        "description": "Fetch summary",
        "operationId": "getSettlementSummary",
        "summary": "Fetch summary"
      }
    },
    "/api/v1/settlement/{quarter}": {
      "get": {
        "parameters": [
          {
            "description": "MOSS-assigned tax ID - if not provided, merchant's national tax number will be used. Deprecated, please use tax-id.",
            "in": "query",
            "name": "moss_tax_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 3-letter currency code, e.g. EUR or USD. If provided, all amounts will be coerced for this currency. Defaults to region's currency code.",
            "in": "query",
            "name": "currency_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Period end month in yyyy-MM format. Either quarter or start-month and end-month have to be provided.",
            "in": "query",
            "name": "end_month",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MOSS-assigned tax ID - if not provided, merchant's national tax number will be used. Deprecated, please use tax-id.",
            "in": "query",
            "name": "tax_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set to 'order_date' to show only refunds for the transactions in the selected reporting period. Set to 'refund_timestamp' to show refunds that were created in the selected reporting period. Do not set to use the default region's setting.",
            "in": "query",
            "name": "refund_date_kind_override",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Period start month in yyyy-MM format. Either quarter or start-month and end-month have to be provided.",
            "in": "query",
            "name": "start_month",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MOSS country code, used to determine currency/region. If ommited, merchant default setting is used. Deprecated: please use tax-country-code.",
            "in": "query",
            "name": "moss_country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Output format. 'csv' value is accepted as well",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tax entity country code, used to determine currency/region. ",
            "in": "query",
            "name": "tax_country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Quarter in yyyy-MM format. If start-date and end-date are provided, quarter is ignored and should be set to 'range'.",
            "in": "path",
            "name": "quarter",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getSettlementOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "settlement"
        ],
        "description": "Fetch settlement",
        "operationId": "getSettlement",
        "summary": "Fetch settlement"
      }
    },
    "/api/v1/stats/settlement/by_country": {
      "get": {
        "parameters": [
          {
            "description": "Date from in yyyy-MM format.",
            "in": "query",
            "name": "date_from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Date to in yyyy-MM format.",
            "in": "query",
            "name": "date_to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getSettlementStatsByCountryOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "statistics"
        ],
        "description": "Settlement by country",
        "operationId": "getSettlementStatsByCountry",
        "summary": "Settlement by country"
      }
    },
    "/api/v1/stats/settlement/by_taxation_type": {
      "get": {
        "parameters": [
          {
            "description": "Date from in yyyy-MM format.",
            "in": "query",
            "name": "date_from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Date to in yyyy-MM format.",
            "in": "query",
            "name": "date_to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getSettlementStatsByTaxationTypeOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "statistics"
        ],
        "description": "Settlement by tax type",
        "operationId": "getSettlementStatsByTaxationType",
        "summary": "Settlement by tax type"
      }
    },
    "/api/v1/stats/settlement/daily": {
      "get": {
        "parameters": [
          {
            "description": "Interval type - day, week, month.",
            "in": "query",
            "name": "interval",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Date from in yyyy-MM format.",
            "in": "query",
            "name": "date_from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Date to in yyyy-MM format.",
            "in": "query",
            "name": "date_to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getDailySettlementStatsOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "statistics"
        ],
        "description": "Settlement stats over time",
        "operationId": "getDailySettlementStats",
        "summary": "Settlement stats over time"
      }
    },
    "/api/v1/stats/transactions": {
      "get": {
        "parameters": [
          {
            "description": "Date from in yyyy-MM format.",
            "in": "query",
            "name": "date_from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Date to in yyyy-MM format.",
            "in": "query",
            "name": "date_to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Interval. Accepted values are 'day', 'week' and 'month'.",
            "in": "query",
            "name": "interval",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTransactionsStatsOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "statistics"
        ],
        "description": "Transaction stats",
        "operationId": "getTransactionsStats",
        "summary": "Transaction stats"
      }
    },
    "/api/v1/stats/transactions/by_country": {
      "get": {
        "parameters": [
          {
            "description": "Global currency code to use for conversion - in addition to country's currency if rate is available. Conversion is indicative and based on most-recent rate from ECB.",
            "in": "query",
            "name": "global_currency_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Date from in yyyy-MM format.",
            "in": "query",
            "name": "date_from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Date to in yyyy-MM format.",
            "in": "query",
            "name": "date_to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTransactionsStatsByCountryOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "statistics"
        ],
        "description": "Settlement by country",
        "operationId": "getTransactionsStatsByCountry",
        "summary": "Settlement by country"
      }
    },
    "/api/v1/tax/calculate": {
      "get": {
        "parameters": [
          {
            "description": "Product type, according to dictionary /dictionaries/product_types. ",
            "in": "query",
            "name": "product_type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Invoice address/postal_code",
            "in": "query",
            "name": "invoice_address_city",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "First 6 digits of buyer's credit card prefix.",
            "in": "query",
            "name": "buyer_credit_card_prefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Currency code for transaction - e.g. EUR.",
            "in": "query",
            "name": "currency_code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Invoice address/region",
            "in": "query",
            "name": "invoice_address_region",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unit price.",
            "in": "query",
            "name": "unit_price",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Quantity Defaults to 1.",
            "in": "query",
            "name": "quantity",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": " Buyer's tax number - EU VAT number for example. If using EU VAT number, it is possible to provide country code in it (e.g. IE1234567X) or simply use billing_country_code field for that. In the first case, if billing_country_code value was provided, it will be overwritten with country code value extracted from VAT number - but only if the VAT has been verified properly.",
            "in": "query",
            "name": "buyer_tax_number",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Two-letter ISO country code, e.g. FR. Use it to force country code for tax calculation.",
            "in": "query",
            "name": "force_country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Order date in yyyy-MM-dd format, in merchant's timezone. If provided by the API caller, no timezone conversion is performed. Default value is current date and time. When using public token, the default value is used.",
            "in": "query",
            "name": "order_date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Amount. Required if total amount or both unit price and quantity are not provided.",
            "in": "query",
            "name": "amount",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "Billing two letter ISO country code.",
            "in": "query",
            "name": "billing_country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Invoice address/postal_code",
            "in": "query",
            "name": "invoice_address_postal_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Total amount. Required if amount or both unit price and quantity are not provided.",
            "in": "query",
            "name": "total_amount",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "If the transaction is in a country supported by Taxamo, but the tax is not calculated due to merchant settings or EU B2B transaction for example.",
            "in": "query",
            "name": "tax_deducted",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calculateSimpleTaxOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "tax"
        ],
        "description": "Simple tax",
        "operationId": "calculateSimpleTax",
        "summary": "Simple tax"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calculateTaxOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "tax"
        ],
        "description": "Calculate tax",
        "operationId": "calculateTax",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/calculateTaxIn"
              }
            }
          },
          "description": "Input",
          "required": true
        },
        "summary": "Calculate tax"
      }
    },
    "/api/v1/tax/location/calculate": {
      "get": {
        "parameters": [
          {
            "description": "Billing two letter ISO country code.",
            "in": "query",
            "name": "billing_country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "First 6 digits of buyer's credit card prefix.",
            "in": "query",
            "name": "buyer_credit_card_prefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calculateTaxLocationOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "tax"
        ],
        "description": "Calculate location",
        "operationId": "calculateTaxLocation",
        "summary": "Calculate location"
      }
    },
    "/api/v1/tax/vat_numbers/{tax_number}/validate": {
      "get": {
        "parameters": [
          {
            "description": "Two-letter ISO country code.",
            "in": "query",
            "name": "country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tax number",
            "in": "path",
            "name": "tax_number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/validateTaxNumberOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "tax"
        ],
        "description": "Validate VAT number",
        "operationId": "validateTaxNumber",
        "summary": "Validate VAT number"
      }
    },
    "/api/v1/transactions": {
      "get": {
        "parameters": [
          {
            "description": "Filtering expression",
            "in": "query",
            "name": "filter_text",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Return only transactions with a note field set.",
            "in": "query",
            "name": "has_note",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Taxamo provided transaction key or custom id",
            "in": "query",
            "name": "key_or_custom_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Three letter ISO currency code.",
            "in": "query",
            "name": "currency_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Order date to in yyyy-MM-dd format.",
            "in": "query",
            "name": "order_date_to",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If true, results are sorted in descending order.",
            "in": "query",
            "name": "sort_reverse",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Limit (no more than 1000, defaults to 100).",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Transaction invoice number.",
            "in": "query",
            "name": "invoice_number",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of two letter ISO tax country codes.",
            "in": "query",
            "name": "tax_country_codes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of of transaction statuses. 'N' - unconfirmed transaction, 'C' - confirmed transaction.",
            "in": "query",
            "name": "statuses",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Taxamo provided original transaction key",
            "in": "query",
            "name": "original_transaction_key",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Order date from in yyyy-MM-dd format.",
            "in": "query",
            "name": "order_date_from",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Return only transactions with total amount greater than given number. Transactions with total amount equal to a given number (e.g. 0) are not returned.",
            "in": "query",
            "name": "total_amount_greater_than",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Output format - supports 'csv' value for this operation.",
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Return only transactions with total amount less than a given number. Transactions with total amount equal to a given number (e.g. 1) are not returned.",
            "in": "query",
            "name": "total_amount_less_than",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Two letter ISO tax country code.",
            "in": "query",
            "name": "tax_country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listTransactionsOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "transactions"
        ],
        "description": "Browse transactions",
        "operationId": "listTransactions",
        "summary": "Browse transactions"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createTransactionOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "transactions"
        ],
        "description": "Store transaction",
        "operationId": "createTransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createTransactionIn"
              }
            }
          },
          "description": "Input",
          "required": true
        },
        "summary": "Store transaction"
      }
    },
    "/api/v1/transactions/{key}": {
      "delete": {
        "parameters": [
          {
            "description": "Transaction key",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cancelTransactionOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "transactions"
        ],
        "description": "Delete transaction",
        "operationId": "cancelTransaction",
        "summary": "Delete transaction"
      },
      "get": {
        "parameters": [
          {
            "description": "Transaction key",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTransactionOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "transactions"
        ],
        "description": "Retrieve transaction data.",
        "operationId": "getTransaction",
        "summary": "Retrieve transaction data."
      },
      "put": {
        "parameters": [
          {
            "description": "Transaction key.",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/updateTransactionOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "transactions"
        ],
        "description": "Update transaction",
        "operationId": "updateTransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateTransactionIn"
              }
            }
          },
          "description": "Input",
          "required": true
        },
        "summary": "Update transaction"
      }
    },
    "/api/v1/transactions/{key}/confirm": {
      "post": {
        "parameters": [
          {
            "description": "Transaction key.",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/confirmTransactionOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "transactions"
        ],
        "description": "Confirm transaction",
        "operationId": "confirmTransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/confirmTransactionIn"
              }
            }
          },
          "description": "Input",
          "required": true
        },
        "summary": "Confirm transaction"
      }
    },
    "/api/v1/transactions/{key}/invoice/refunds/{refund_note_number}/send_email": {
      "post": {
        "parameters": [
          {
            "description": "Transaction key.",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Refund note id.",
            "in": "path",
            "name": "refund_note_number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/emailRefundOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "invoices"
        ],
        "description": "Email credit note",
        "operationId": "emailRefund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/emailRefundIn"
              }
            }
          },
          "description": "Input",
          "required": true
        },
        "summary": "Email credit note"
      }
    },
    "/api/v1/transactions/{key}/invoice/send_email": {
      "post": {
        "parameters": [
          {
            "description": "Transaction key.",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/emailInvoiceOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "invoices"
        ],
        "description": "Email invoice",
        "operationId": "emailInvoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/emailInvoiceIn"
              }
            }
          },
          "description": "Input",
          "required": true
        },
        "summary": "Email invoice"
      }
    },
    "/api/v1/transactions/{key}/payments": {
      "get": {
        "parameters": [
          {
            "description": "Max record count (no more than 100, defaults to 10).",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many records need to be skipped, defaults to 0.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Transaction key.",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listPaymentsOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "payments"
        ],
        "description": "List payments",
        "operationId": "listPayments",
        "summary": "List payments"
      },
      "post": {
        "parameters": [
          {
            "description": "Transaction key.",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createPaymentOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "payments"
        ],
        "description": "Register a payment",
        "operationId": "createPayment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createPaymentIn"
              }
            }
          },
          "description": "Input",
          "required": true
        },
        "summary": "Register a payment"
      }
    },
    "/api/v1/transactions/{key}/payments/capture": {
      "post": {
        "parameters": [
          {
            "description": "Transaction key.",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/capturePaymentOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "payments"
        ],
        "description": "Capture payment",
        "operationId": "capturePayment",
        "summary": "Capture payment"
      }
    },
    "/api/v1/transactions/{key}/refunds": {
      "get": {
        "parameters": [
          {
            "description": "Transaction key.",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listRefundsOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "refunds"
        ],
        "description": "Get transaction refunds",
        "operationId": "listRefunds",
        "summary": "Get transaction refunds"
      },
      "post": {
        "parameters": [
          {
            "description": "Transaction key.",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createRefundOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "refunds"
        ],
        "description": "Create a refund",
        "operationId": "createRefund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRefundIn"
              }
            }
          },
          "description": "Input",
          "required": true
        },
        "summary": "Create a refund"
      }
    },
    "/api/v1/transactions/{key}/unconfirm": {
      "post": {
        "parameters": [
          {
            "description": "Transaction key.",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/unconfirmTransactionOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "transactions"
        ],
        "description": "Un-confirm the transaction",
        "operationId": "unconfirmTransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/unconfirmTransactionIn"
              }
            }
          },
          "description": "Input",
          "required": true
        },
        "summary": "Un-confirm the transaction"
      }
    },
    "/api/v1/verification/sms": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createSMSTokenOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "verification"
        ],
        "description": "Create SMS token",
        "operationId": "createSMSToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createSMSTokenIn"
              }
            }
          },
          "description": "Input",
          "required": true
        },
        "summary": "Create SMS token"
      }
    },
    "/api/v1/verification/sms/{token}": {
      "get": {
        "parameters": [
          {
            "description": "Provided token.",
            "in": "path",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/verifySMSTokenOut"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Validation failed, see JSON body response for details."
          },
          "401": {
            "description": "Incorrect token"
          }
        },
        "tags": [
          "verification"
        ],
        "description": "Verify SMS token",
        "operationId": "verifySMSToken",
        "summary": "Verify SMS token"
      }
    }
  },
  "components": {
    "schemas": {
      "C": {
        "properties": {
          "day": {
            "description": "Date for stats in yyyy-MM-dd format.",
            "type": "string"
          },
          "day_raw": {
            "description": "Date for stats in yyyy-MM-dd'T'hh:mm:ss'Z' format.",
            "type": "string"
          },
          "status": {
            "description": "Transaction status (C or N).",
            "type": "string"
          },
          "value": {
            "description": "Transaction count.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "N": {
        "properties": {
          "day": {
            "description": "Date for stats in yyyy-MM-dd format.",
            "type": "string"
          },
          "day_raw": {
            "description": "Date for stats in yyyy-MM-dd'T'hh:mm:ss'Z' format.",
            "type": "string"
          },
          "status": {
            "description": "Transaction status (C or N).",
            "type": "string"
          },
          "value": {
            "description": "Transaction count.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "additional_currencies": {
        "properties": {
          "invoice": {
            "$ref": "#/components/schemas/additional_currency"
          }
        },
        "type": "object"
      },
      "additional_currency": {
        "properties": {
          "amount": {
            "description": "Amount (w/o TAX) in designated currency.",
            "type": "number"
          },
          "currency_code": {
            "description": "3-letter ISO currency code.",
            "type": "string"
          },
          "fx_rate": {
            "description": "Foreign exchange rate used in calculation",
            "type": "number"
          },
          "tax_amount": {
            "description": "Tax amount in designated currency.",
            "type": "number"
          },
          "total_amount": {
            "description": "Total amount in designated currency.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "by_country": {
        "properties": {
          "currency_code": {
            "description": "Three-letter ISO currency code.",
            "type": "string"
          },
          "tax_country_code": {
            "description": "Two letter ISO country code.",
            "type": "string"
          },
          "tax_country_name": {
            "description": "Country name",
            "type": "string"
          },
          "value": {
            "description": "Tax amount",
            "type": "number"
          }
        },
        "type": "object"
      },
      "by_status": {
        "properties": {
          "C": {
            "description": "Confirmed transactions",
            "items": {
              "$ref": "#/components/schemas/C"
            },
            "type": "array"
          },
          "N": {
            "description": "New transactions",
            "items": {
              "$ref": "#/components/schemas/N"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "by_taxation_type": {
        "properties": {
          "deducted_count": {
            "description": "Number of tax deducted transactions.",
            "type": "number"
          },
          "eu_b2b": {
            "description": "Total EU B2B transaction count.",
            "type": "integer"
          },
          "eu_taxed": {
            "description": "Total EU Taxed transaction count.",
            "type": "integer"
          },
          "taxed_count": {
            "description": "Number of taxed transactions.",
            "type": "number"
          },
          "transactions_count": {
            "description": "Total number of transactions",
            "type": "number"
          }
        },
        "type": "object"
      },
      "calculateSimpleTaxOut": {
        "properties": {
          "storage_required_fields": {
            "description": "Fields required for transaction storage (can be added later - it's up to merchant software). Depends on the region/transaction type.",
            "items": {
              "$ref": "#/components/schemas/storage_required_fields"
            },
            "type": "array"
          },
          "tax_required_fields": {
            "description": "Fields required for tax calculation. Depends on the region/transaction type.",
            "items": {
              "$ref": "#/components/schemas/tax_required_fields"
            },
            "type": "array"
          },
          "transaction": {
            "$ref": "#/components/schemas/transaction"
          }
        },
        "type": "object"
      },
      "calculateTaxIn": {
        "properties": {
          "transaction": {
            "$ref": "#/components/schemas/input_transaction"
          }
        },
        "required": [
          "transaction"
        ],
        "type": "object"
      },
      "calculateTaxLocationOut": {
        "properties": {
          "billing_country_code": {
            "description": "Billing two letter ISO country code.",
            "type": "string"
          },
          "buyer_credit_card_prefix": {
            "description": "First 6 digits of buyer's credit card prefix.",
            "type": "string"
          },
          "buyer_ip": {
            "description": "IP address of the buyer in dotted decimal (IPv4) or text format (IPv6).",
            "type": "string"
          },
          "countries": {
            "$ref": "#/components/schemas/countries"
          },
          "evidence": {
            "$ref": "#/components/schemas/evidence"
          },
          "tax_country_code": {
            "description": "Two-letter ISO country code, e.g. FR. This code applies to detected/set country for transaction, but can be set using manual mode.",
            "type": "string"
          },
          "tax_deducted": {
            "description": "If the transaction is in a country supported by Taxamo, but the tax is not calculated due to merchant settings or EU B2B transaction for example.",
            "type": "boolean"
          },
          "tax_supported": {
            "description": "Is tax calculation supported for a detected tax location?",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "calculateTaxOut": {
        "properties": {
          "storage_required_fields": {
            "description": "Fields required for transaction storage (can be added later - it's up to merchant software). Depends on the region/transaction type.",
            "items": {
              "$ref": "#/components/schemas/storage_required_fields"
            },
            "type": "array"
          },
          "tax_required_fields": {
            "description": "Fields required for tax calculation. Depends on the region/transaction type.",
            "items": {
              "$ref": "#/components/schemas/tax_required_fields"
            },
            "type": "array"
          },
          "transaction": {
            "$ref": "#/components/schemas/transaction"
          }
        },
        "type": "object"
      },
      "cancelTransactionOut": {
        "properties": {
          "success": {
            "description": "Was operation successful?",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "capturePaymentOut": {
        "properties": {
          "success": {
            "description": "Was the operation successful?",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "confirmTransactionIn": {
        "properties": {
          "transaction": {
            "$ref": "#/components/schemas/input_transaction_update"
          }
        },
        "type": "object"
      },
      "confirmTransactionOut": {
        "properties": {
          "storage_required_fields": {
            "description": "Fields required for transaction storage (can be added later - it's up to merchant software). Depends on the region/transaction type.",
            "items": {
              "$ref": "#/components/schemas/storage_required_fields"
            },
            "type": "array"
          },
          "tax_required_fields": {
            "description": "Fields required for tax calculation. Depends on the region/transaction type.",
            "items": {
              "$ref": "#/components/schemas/tax_required_fields"
            },
            "type": "array"
          },
          "transaction": {
            "$ref": "#/components/schemas/transaction"
          }
        },
        "type": "object"
      },
      "countries": {
        "properties": {
          "by_2003_rules": {
            "$ref": "#/components/schemas/country_schema"
          },
          "by_billing": {
            "$ref": "#/components/schemas/country_schema"
          },
          "by_cc": {
            "$ref": "#/components/schemas/country_schema"
          },
          "by_ip": {
            "$ref": "#/components/schemas/country_schema"
          },
          "by_tax_number": {
            "$ref": "#/components/schemas/country_schema"
          },
          "by_token": {
            "$ref": "#/components/schemas/country_schema"
          },
          "detected": {
            "$ref": "#/components/schemas/country_schema"
          },
          "forced": {
            "$ref": "#/components/schemas/country_schema"
          },
          "guessed_from_ip": {
            "$ref": "#/components/schemas/country_schema"
          },
          "other_commercially_relevant_info": {
            "$ref": "#/components/schemas/country_schema"
          },
          "self_declaration": {
            "$ref": "#/components/schemas/country_schema"
          }
        },
        "type": "object"
      },
      "country": {
        "properties": {
          "callingCode": {
            "description": "List of phone number calling codes.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "cca2": {
            "description": "Two letter ISO country code.",
            "type": "string"
          },
          "cca3": {
            "description": "Three letter ISO country code.",
            "type": "string"
          },
          "ccn3": {
            "description": "Country ISO 3-digit code.",
            "type": "string"
          },
          "code": {
            "description": "Two letter ISO country code.",
            "type": "string"
          },
          "code_long": {
            "description": "Three letter ISO country code.",
            "type": "string"
          },
          "codenum": {
            "description": "Country ISO 3-digit code.",
            "type": "string"
          },
          "currency": {
            "description": "List of currencies.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "description": "Country name.",
            "type": "string"
          },
          "tax_number_country_code": {
            "description": "VAT number country code. Important for Greece.",
            "type": "string"
          },
          "tax_region": {
            "description": "Tax region code - e.g. EU, US, NO, JP...",
            "type": "string"
          },
          "tax_supported": {
            "description": "True if tax calculation supported for this country.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "country_schema": {
        "properties": {
          "callingCode": {
            "description": "List of phone number calling codes.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "cca2": {
            "description": "Two letter ISO country code.",
            "type": "string"
          },
          "cca3": {
            "description": "Three letter ISO country code.",
            "type": "string"
          },
          "ccn3": {
            "description": "Country ISO 3-digit code.",
            "type": "string"
          },
          "code": {
            "description": "Two letter ISO country code.",
            "type": "string"
          },
          "code_long": {
            "description": "Three letter ISO country code.",
            "type": "string"
          },
          "codenum": {
            "description": "Country ISO 3-digit code.",
            "type": "string"
          },
          "currency": {
            "description": "List of currencies.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "name": {
            "description": "Country name.",
            "type": "string"
          },
          "tax_number_country_code": {
            "description": "VAT number country code. Important for Greece.",
            "type": "string"
          },
          "tax_region": {
            "description": "Tax region code - e.g. EU, US, NO, JP...",
            "type": "string"
          },
          "tax_supported": {
            "description": "True if tax calculation supported for this country.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "createPaymentIn": {
        "properties": {
          "amount": {
            "description": "Amount that has been paid. Use negative value to register refunds.",
            "type": "number"
          },
          "payment_information": {
            "description": "Additional payment information.",
            "type": "string"
          },
          "payment_timestamp": {
            "description": "When the payment was received in yyyy-MM-dd'T'HH:mm:ss(.SSS)'Z' format (24 hour, UTC timezone). Defaults to current date and time.",
            "type": "string"
          }
        },
        "required": [
          "amount"
        ],
        "type": "object"
      },
      "createPaymentOut": {
        "properties": {
          "success": {
            "description": "Was the operation successful?",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "createRefundIn": {
        "properties": {
          "amount": {
            "description": "Amount (without tax) to be refunded. Either amount or total amount is required. In case of line key and custom id missing, only total_amount can be used.",
            "type": "number"
          },
          "custom_id": {
            "description": "Line custom identifier. If neither line key or custom id is provided, the refund amount will be assigned to lines in order.",
            "type": "string"
          },
          "line_key": {
            "description": "Line identifier. If neither line key or custom id is provided, the refund amount will be assigned to lines in order.",
            "type": "string"
          },
          "refund_reason": {
            "description": "Refund reason, displayed on the credit note.",
            "type": "string"
          },
          "total_amount": {
            "description": "Total amount, including tax, to be refunded. Either amount or total amount is required. In case of line key and custom id missing, only total_amount can be used.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "createRefundOut": {
        "properties": {
          "refunded_tax_amount": {
            "description": "Total tax amount, that was refunded for this line.",
            "type": "number"
          },
          "refunded_total_amount": {
            "description": "Total amount, including tax, that was refunded for this line.",
            "type": "number"
          },
          "tax_amount": {
            "description": "Calculated tax amount, that was refunded in this call.",
            "type": "number"
          },
          "total_amount": {
            "description": "Total amount, including tax, that was refunded in this call.",
            "type": "number"
          }
        },
        "type": "object"
      },
      "createSMSTokenIn": {
        "properties": {
          "country_code": {
            "description": "Two letter ISO country code.",
            "type": "string"
          },
          "recipient": {
            "description": "Recipient phone number.",
            "type": "string"
          }
        },
        "required": [
          "country_code",
          "recipient"
        ],
        "type": "object"
      },
      "createSMSTokenOut": {
        "properties": {
          "success": {
            "description": "Always set to true. Success means that the message has been queued for delivery. In some cases message may be undelivered at the end, e.g. mobile number is blacklisted. API errors are signalled with appropriate error codes.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "createTransactionIn": {
        "properties": {
          "manual_mode": {
            "description": "Use manual mode, bypassing country detection. Only allowed with private token. This flag allows to use original_transaction_key field",
            "type": "boolean"
          },
          "transaction": {
            "$ref": "#/components/schemas/input_transaction"
          }
        },
        "required": [
          "transaction"
        ],
        "type": "object"
      },
      "createTransactionOut": {
        "properties": {
          "storage_required_fields": {
            "description": "Fields required for transaction storage (can be added later - it's up to merchant software). Depends on the region/transaction type.",
            "items": {
              "$ref": "#/components/schemas/storage_required_fields"
            },
            "type": "array"
          },
          "tax_required_fields": {
            "description": "Fields required for tax calculation. Depends on the region/transaction type.",
            "items": {
              "$ref": "#/components/schemas/tax_required_fields"
            },
            "type": "array"
          },
          "transaction": {
            "$ref": "#/components/schemas/transaction"
          }
        },
        "type": "object"
      },
      "currency_schema": {
        "properties": {
          "code": {
            "description": "Currency 3-letter ISO code.",
            "type": "string"
          },
          "description": {
            "description": "Currency description.",
            "type": "string"
          },
          "isocode": {
            "description": "Currency 3-letter ISO code.",
            "type": "string"
          },
          "isonum": {
            "description": "Currency iso numeric code.",
            "type": "integer"
          },
          "minorunits": {
            "description": "Number of minor units for currency.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "custom_fields": {
        "properties": {
          "key": {
            "description": "Field's key.",
            "type": "string"
          },
          "value": {
            "description": "Field's value.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "emailInvoiceIn": {
        "properties": {
          "buyer_email": {
            "description": "Email to send the invoice. If not provided, transaction.buyer_email will be used.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "emailInvoiceOut": {
        "properties": {
          "success": {
            "description": "Was operation successful?",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "emailRefundIn": {
        "properties": {
          "buyer_email": {
            "description": "Email to send the credit note/refund note. If not provided, transaction.buyer_email will be used.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "emailRefundOut": {
        "properties": {
          "success": {
            "description": "Was operation successful?",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "evidence": {
        "properties": {
          "by_2003_rules": {
            "$ref": "#/components/schemas/evidence_schema"
          },
          "by_billing": {
            "$ref": "#/components/schemas/evidence_schema"
          },
          "by_cc": {
            "$ref": "#/components/schemas/evidence_schema"
          },
          "by_ip": {
            "$ref": "#/components/schemas/evidence_schema"
          },
          "by_payment_method": {
            "$ref": "#/components/schemas/evidence_schema"
          },
          "by_tax_number": {
            "$ref": "#/components/schemas/evidence_schema"
          },
          "by_token": {
            "$ref": "#/components/schemas/evidence_schema"
          },
          "forced": {
            "$ref": "#/components/schemas/evidence_schema"
          },
          "guessed_from_ip": {
            "$ref": "#/components/schemas/evidence_schema"
          },
          "other_commercially_relevant_info": {
            "$ref": "#/components/schemas/evidence_schema"
          },
          "self_declaration": {
            "$ref": "#/components/schemas/evidence_schema"
          }
        },
        "type": "object"
      },
      "evidence_schema": {
        "properties": {
          "evidence_type": {
            "description": "Type of evidence.",
            "type": "string"
          },
          "evidence_value": {
            "description": "Value provided as evidence - for example IP address.",
            "type": "string"
          },
          "resolved_country_code": {
            "description": "Country code that was resolved using this evidence.",
            "type": "string"
          },
          "used": {
            "description": "If the evidence was used to match the actual country.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "getCountriesDictOut": {
        "properties": {
          "dictionary": {
            "description": "Countries dictionary.",
            "items": {
              "$ref": "#/components/schemas/country_schema"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "getCurrenciesDictOut": {
        "properties": {
          "dictionary": {
            "description": "Currency dictionary.",
            "items": {
              "$ref": "#/components/schemas/currency_schema"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "getDailySettlementStatsOut": {
        "properties": {
          "settlement_daily": {
            "description": "Daily settlement stats",
            "items": {
              "$ref": "#/components/schemas/settlement_daily_stats_schema"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "getDetailedRefundsOut": {
        "properties": {
          "report": {
            "description": "Detailed refunds report",
            "items": {
              "$ref": "#/components/schemas/report"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "getDomesticSummaryReportOut": {
        "properties": {
          "currency_code": {
            "description": "Three-letter ISO currency code.",
            "type": "string"
          },
          "domestic_refunds_amount": {
            "description": "Domestic sales refunds amount.",
            "type": "number"
          },
          "domestic_refunds_tax_amount": {
            "description": "Domestic sales refunds tax amout.",
            "type": "number"
          },
          "domestic_sales_amount": {
            "description": "Domestic sales amount.",
            "type": "number"
          },
          "domestic_tax_amount": {
            "description": "Domestic sales tax amout.",
            "type": "number"
          },
          "end_date": {
            "description": "Period end date in yyyy-MM-dd'T'hh:mm:ss'Z' format.",
            "type": "string"
          },
          "eu_tax_deducted_refunds": {
            "description": "EU deducted tax sales.",
            "type": "number"
          },
          "eu_tax_deducted_sales": {
            "description": "EU deducted tax sales.",
            "type": "number"
          },
          "global_refunds_amount": {
            "description": "Global sales refunds amount. This includes refunds from domestic country too.",
            "type": "number"
          },
          "global_refunds_tax_amount": {
            "description": "Global sales refunds amount. This includes refunds from domestic country too.",
            "type": "number"
          },
          "global_sales_amount": {
            "description": "Global sales amount. This includes sales from domestic country too.",
            "type": "number"
          },
          "global_sales_tax_amount": {
            "description": "Global sales amount. This includes sales from domestic country too.",
            "type": "number"
          },
          "start_date": {
            "description": "Period start date in yyyy-MM-dd'T'hh:mm:ss'Z' format.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "getEuViesReportOut": {
        "properties": {
          "currency_code": {
            "description": "Three-letter ISO currency code.",
            "type": "string"
          },
          "end_date": {
            "description": "Period end date in yyyy-MM-dd'T'hh:mm:ss'Z' format.",
            "type": "string"
          },
          "report": {
            "description": "Settlement report.",
            "items": {
              "$ref": "#/components/schemas/report"
            },
            "type": "array"
          },
          "start_date": {
            "description": "Period start date in yyyy-MM-dd'T'hh:mm:ss'Z' format.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "getProductTypesDictOut": {
        "properties": {
          "dictionary": {
            "description": "Product type dictionary.",
            "items": {
              "$ref": "#/components/schemas/product_type_schema"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "getRefundsOut": {
        "properties": {
          "report": {
            "description": "Refunds report.",
            "items": {
              "$ref": "#/components/schemas/report"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "getSettlementOut": {
        "properties": {
          "end_date": {
            "description": "Period end date in yyyy-MM-dd'T'hh:mm:ss'Z' format.",
            "type": "string"
          },
          "fx_rate_date": {
            "description": "Date of ECB FX rate used for conversions in yyyy-MM-dd'T'hh:mm:ss'Z' format. Applies to tax regions where ",
            "type": "string"
          },
          "indicative": {
            "description": "If the quarter isn't closed yet, tax amount is indicative, as we cannot determine FX rate or all transactions yet.",
            "type": "boolean"
          },
          "report": {
            "description": "Settlement report.",
            "items": {
              "$ref": "#/components/schemas/report"
            },
            "type": "array"
          },
          "start_date": {
            "description": "Period start date in yyyy-MM-dd'T'hh:mm:ss'Z' format.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "getSettlementStatsByCountryOut": {
        "properties": {
          "by_country": {
            "description": "Settlement stats.",
            "items": {
              "$ref": "#/components/schemas/by_country"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "getSettlementStatsByTaxationTypeOut": {
        "properties": {
          "by_taxation_type": {
            "$ref": "#/components/schemas/by_taxation_type"
          }
        },
        "type": "object"
      },
      "getSettlementSummaryOut": {
        "properties": {
          "summary": {
            "$ref": "#/components/schemas/summary"
          }
        },
        "type": "object"
      },
      "getTransactionOut": {
        "properties": {
          "storage_required_fields": {
            "description": "Fields required for transaction storage (can be added later - it's up to merchant software). Depends on the region/transaction type.",
            "items": {
              "$ref": "#/components/schemas/storage_required_fields"
            },
            "type": "array"
          },
          "tax_required_fields": {
            "description": "Fields required for tax calculation. Depends on the region/transaction type.",
            "items": {
              "$ref": "#/components/schemas/tax_required_fields"
            },
            "type": "array"
          },
          "transaction": {
            "$ref": "#/components/schemas/transaction"
          }
        },
        "type": "object"
      },
      "getTransactionsStatsByCountryOut": {
        "properties": {
          "by_country": {
            "description": "Settlement stats.",
            "items": {
              "$ref": "#/components/schemas/by_country"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "getTransactionsStatsOut": {
        "properties": {
          "by_status": {
            "$ref": "#/components/schemas/by_status"
          }
        },
        "type": "object"
      },
      "input_transaction": {
        "properties": {
          "additional_currencies": {
            "$ref": "#/components/schemas/additional_currencies"
          },
          "billing_country_code": {
            "description": "Billing two letter ISO country code.",
            "type": "string"
          },
          "buyer_credit_card_prefix": {
            "description": "First 6 digits of buyer's credit card prefix.",
            "type": "string"
          },
          "buyer_email": {
            "description": "Buyer's declared email address.",
            "type": "string"
          },
          "buyer_ip": {
            "description": "IP address of the buyer in dotted decimal (IPv4) or text format (IPv6).",
            "type": "string"
          },
          "buyer_name": {
            "description": "Buyer's name - first name and last name or company name.",
            "type": "string"
          },
          "buyer_tax_number": {
            "description": " Buyer's tax number - EU VAT number for example. If using EU VAT number, it is possible to provide country code in it (e.g. IE1234567X) or simply use billing_country_code field for that. In the first case, if billing_country_code value was provided, it will be overwritten with country code value extracted from VAT number - but only if the VAT has been verified properly.",
            "type": "string"
          },
          "comments": {
            "description": "Additional information about the transaction - for example if the evidence has been amended.",
            "type": "string"
          },
          "currency_code": {
            "description": "Currency code for transaction - e.g. EUR.",
            "type": "string"
          },
          "custom_data": {
            "description": "Custom data related to transaction.",
            "type": "string"
          },
          "custom_fields": {
            "description": "Custom fields, stored as key-value pairs. This property is not processed and used mostly with Taxamo-built helpers.",
            "items": {
              "$ref": "#/components/schemas/custom_fields"
            },
            "type": "array"
          },
          "custom_id": {
            "description": "Custom identifier provided upon transaction creation.",
            "type": "string"
          },
          "customer_id": {
            "description": "Free-form field for storing customer id.",
            "type": "string"
          },
          "description": {
            "description": "Transaction description.",
            "type": "string"
          },
          "evidence": {
            "$ref": "#/components/schemas/evidence"
          },
          "force_country_code": {
            "description": "Two-letter ISO country code, e.g. FR. Use it to force country code for tax calculation.",
            "type": "string"
          },
          "invoice_address": {
            "$ref": "#/components/schemas/invoice_address"
          },
          "invoice_date": {
            "description": "Invoice date of issue.",
            "type": "string"
          },
          "invoice_number": {
            "description": "Invoice number.",
            "type": "string"
          },
          "invoice_place": {
            "description": "Invoice place of issue.",
            "type": "string"
          },
          "note": {
            "description": "Additional note related to transaction state - for example if the transaction was created in a 'catch-all' mode or the VAT number re-check for subscriptions has failed.",
            "type": "string"
          },
          "order_date": {
            "description": "Order date in yyyy-MM-dd format, in merchant's timezone. If provided by the API caller, no timezone conversion is performed. Default value is current date and time. When using public token, the default value is used.",
            "type": "string"
          },
          "original_transaction_key": {
            "description": "Use data and evidence from original transaction. Tax will be re-calculated, but evidence won't be re-checked. This parameter is taken into account only when 'manual' flag is raised.",
            "type": "string"
          },
          "status": {
            "description": "Transaction status: 'N' - new, 'C' - confirmed. Can use 'C' in store-transaction! with private-token to create confirmed transaction, otherwise 'N' is default status. Not applicable for update-transaction!.",
            "type": "string"
          },
          "sub_account_id": {
            "description": "Sub account identifier.",
            "type": "string"
          },
          "supply_date": {
            "description": "Supply date in yyyy-MM-dd format.",
            "type": "string"
          },
          "tax_country_code": {
            "description": "Two-letter ISO country code, e.g. FR. This code applies to detected/set country for transaction, but can be set using manual mode.",
            "type": "string"
          },
          "tax_data": {
            "$ref": "#/components/schemas/tax_data_schema"
          },
          "tax_deducted": {
            "description": "True if the transaction is deducted from tax and no tax is applied (it is untaxed). Either set automatically when VAT number validates with VIES correctly, but can also be provided in manual mode.",
            "type": "boolean"
          },
          "transaction_lines": {
            "description": "Transaction lines.",
            "items": {
              "$ref": "#/components/schemas/input_transaction_line"
            },
            "type": "array"
          },
          "verification_token": {
            "description": "Verification token",
            "type": "string"
          }
        },
        "required": [
          "currency_code",
          "transaction_lines"
        ],
        "type": "object"
      },
      "input_transaction_line": {
        "properties": {
          "amount": {
            "description": "Amount. Required if total amount or both unit price and quantity are not provided.",
            "type": "number"
          },
          "custom_fields": {
            "description": "Custom fields, stored as key-value pairs. This property is not processed and used mostly with Taxamo-built helpers.",
            "items": {
              "$ref": "#/components/schemas/custom_fields"
            },
            "type": "array"
          },
          "custom_id": {
            "description": "Custom id, provided by ecommerce software.",
            "type": "string"
          },
          "deducted_tax_rate": {
            "description": "Deducted tax rate, calculated by taxamo.",
            "type": "number"
          },
          "description": {
            "description": "Line contents description.",
            "type": "string"
          },
          "informative": {
            "description": "If the line is provided for informative purposes. Such line must have :tax-rate and optionally :tax-name - if not, API validation will fail for this line.",
            "type": "boolean"
          },
          "line_key": {
            "description": "Generated line key.",
            "type": "string"
          },
          "product_code": {
            "description": "Internal product code, used for invoicing for example.",
            "type": "string"
          },
          "product_tax_code": {
            "description": "External product tax code for a line, for example TIC in US Sales tax.",
            "type": "string"
          },
          "product_type": {
            "description": "Product type, according to dictionary /dictionaries/product_types. ",
            "type": "string"
          },
          "quantity": {
            "description": "Quantity Defaults to 1.",
            "type": "number"
          },
          "supply_date": {
            "description": "Date of supply in yyyy-MM-dd format.",
            "type": "string"
          },
          "tax_name": {
            "description": "Tax name, calculated by taxamo.  Can be overwritten when informative field is true.",
            "type": "string"
          },
          "tax_rate": {
[...]
