{
  "openapi": "3.0.3",
  "info": {
    "title": "7digital API",
    "description": "Music store and catalogue API providing access to search, browse, and retrieve details for artists, releases, and tracks. Supports download and streaming usage types with OAuth authentication.",
    "version": "1.2.0",
    "contact": {
      "name": "7digital",
      "url": "https://docs.7digital.com"
    },
    "x-jentic-source-url": "https://docs.7digital.com/reference"
  },
  "servers": [
    {
      "url": "https://api.7digital.com/1.2",
      "description": "Production API server (v1.2)"
    }
  ],
  "security": [
    {
      "oauthConsumerKey": []
    }
  ],
  "tags": [
    {
      "name": "Tracks",
      "description": "Search and retrieve track information"
    },
    {
      "name": "Releases",
      "description": "Search and retrieve release (album/single) information"
    },
    {
      "name": "Artists",
      "description": "Search, browse, and retrieve artist information"
    }
  ],
  "paths": {
    "/track/search": {
      "get": {
        "operationId": "searchTracks",
        "summary": "Search for tracks",
        "description": "Search for tracks by query string, ISRC, or artist ID. Supports filtering by usage type, licensor, explicit content, and pagination.",
        "tags": ["Tracks"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search query string. Wrap in quotation marks for exact phrase matching. Can also search by ISRC. Mutually exclusive with artistId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usageTypes",
            "in": "query",
            "required": true,
            "description": "Filter by usage type. Multiple values as comma-separated list.",
            "schema": {
              "type": "string",
              "example": "download,subscriptionstreaming,adsupportedstreaming"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "ISO 2-character country code of the end user.",
            "schema": {
              "type": "string",
              "example": "GB"
            }
          },
          {
            "name": "artistId",
            "in": "query",
            "required": false,
            "description": "Filter tracks by artist ID. Cannot be used with q parameter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "licensorIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of licensor IDs to filter results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packages",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of package IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeExplicitContent",
            "in": "query",
            "required": false,
            "description": "Exclude tracks with explicit content.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number of the result set.",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Number of items per page.",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful track search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackSearchResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/release/search": {
      "get": {
        "operationId": "searchReleases",
        "summary": "Search for releases",
        "description": "Search for releases (albums, singles, EPs) by query string, UPC, or artist ID. Supports filtering by usage type and pagination.",
        "tags": ["Releases"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search query string. Wrap in quotation marks for exact phrase. Can search by UPC. Mutually exclusive with artistId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usageTypes",
            "in": "query",
            "required": true,
            "description": "Filter by usage type. Comma-separated list: download, subscriptionstreaming, adsupportedstreaming.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "ISO 2-character country code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artistId",
            "in": "query",
            "required": false,
            "description": "Filter releases by artist ID. Cannot be used with q.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "licensorIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of licensor IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "packages",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of package IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeExplicitContent",
            "in": "query",
            "required": false,
            "description": "Exclude releases with explicit content.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful release search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseSearchResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/artist/search": {
      "get": {
        "operationId": "searchArtists",
        "summary": "Search for artists",
        "description": "Search for artists by name or query string.",
        "tags": ["Artists"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string. Wrap in quotation marks for exact phrase matching.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "ISO 2-character country code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "licensorIds",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of licensor IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful artist search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistSearchResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/release/details": {
      "get": {
        "operationId": "getReleaseDetails",
        "summary": "Get release details",
        "description": "Retrieve detailed information about a specific release including metadata, artwork, pricing, and availability.",
        "tags": ["Releases"],
        "parameters": [
          {
            "name": "releaseId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the release.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "usageTypes",
            "in": "query",
            "required": true,
            "description": "Usage types to check availability for. Comma-separated: download, subscriptionstreaming, adsupportedstreaming.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "ISO 2-character country code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imageSize",
            "in": "query",
            "required": false,
            "description": "Requested width of the artwork image in pixels.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Release details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseDetails"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Release not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/artist/browse": {
      "get": {
        "operationId": "browseArtists",
        "summary": "Browse artists alphabetically",
        "description": "Browse artists by the first letter of their name.",
        "tags": ["Artists"],
        "parameters": [
          {
            "name": "letter",
            "in": "query",
            "required": true,
            "description": "First letter of artist name to browse (A-Z).",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Browse results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/artist/releases": {
      "get": {
        "operationId": "getArtistReleases",
        "summary": "Get releases by artist",
        "description": "Retrieve all releases for a specific artist.",
        "tags": ["Artists"],
        "parameters": [
          {
            "name": "artistId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the artist.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "usageTypes",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artist releases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/release/tracks": {
      "get": {
        "operationId": "getReleaseTracks",
        "summary": "Get tracks for a release",
        "description": "Retrieve the track listing for a specific release.",
        "tags": ["Releases"],
        "parameters": [
          {
            "name": "releaseId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the release.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "usageTypes",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Track listing for the release",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Release not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauthConsumerKey": {
        "type": "apiKey",
        "in": "query",
        "name": "oauth_consumer_key",
        "description": "OAuth consumer key for API authentication."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request - missing or invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication failed",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "TrackSearchResponse": {
        "type": "object",
        "properties": {
          "estimatedTotalItems": {
            "type": "integer",
            "description": "Estimated total number of matching results."
          },
          "page": {
            "type": "integer",
            "description": "Current page number."
          },
          "expectedPageSize": {
            "type": "integer",
            "description": "Expected number of items per page."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Track"
            }
          }
        }
      },
      "Track": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique track identifier."
          },
          "title": {
            "type": "string",
            "description": "Track title."
          },
          "isrc": {
            "type": "string",
            "description": "International Standard Recording Code."
          },
          "explicitContent": {
            "type": "boolean",
            "description": "Whether the track contains explicit content."
          },
          "duration": {
            "type": "integer",
            "description": "Track duration in seconds."
          },
          "popularity": {
            "type": "number",
            "description": "Popularity score."
          },
          "score": {
            "type": "number",
            "description": "Search relevance score."
          },
          "availableFor": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["download", "subscriptionStreaming", "adSupportedStreaming"]
            },
            "description": "Usage types this track is available for."
          },
          "artist": {
            "$ref": "#/components/schemas/ArtistSummary"
          },
          "release": {
            "$ref": "#/components/schemas/ReleaseSummary"
          }
        }
      },
      "ReleaseSearchResponse": {
        "type": "object",
        "properties": {
          "estimatedTotalItems": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "expectedPageSize": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Release"
            }
          }
        }
      },
      "Release": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique release identifier."
          },
          "title": {
            "type": "string",
            "description": "Release title."
          },
          "upc": {
            "type": "string",
            "description": "Universal Product Code."
          },
          "explicitContent": {
            "type": "boolean"
          },
          "trackCount": {
            "type": "integer",
            "description": "Number of tracks on the release."
          },
          "year": {
            "type": "integer",
            "description": "Release year."
          },
          "type": {
            "type": "string",
            "description": "Release type.",
            "enum": ["Single", "Album", "EP"]
          },
          "popularity": {
            "type": "number"
          },
          "score": {
            "type": "number"
          },
          "availableFor": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "artist": {
            "$ref": "#/components/schemas/ArtistSummary"
          }
        }
      },
      "ReleaseDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["Single", "Album", "EP"]
          },
          "upc": {
            "type": "string"
          },
          "explicitContent": {
            "type": "boolean"
          },
          "trackCount": {
            "type": "integer"
          },
          "year": {
            "type": "integer"
          },
          "slug": {
            "type": "string"
          },
          "artist": {
            "$ref": "#/components/schemas/ArtistSummary"
          },
          "image": {
            "type": "string",
            "format": "uri",
            "description": "URL to release artwork."
          },
          "label": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "availableFor": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ArtistSearchResponse": {
        "type": "object",
        "properties": {
          "estimatedTotalItems": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "expectedPageSize": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Artist"
            }
          }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique artist identifier."
          },
          "name": {
            "type": "string",
            "description": "Artist name."
          },
          "popularity": {
            "type": "number",
            "description": "Popularity score."
          },
          "score": {
            "type": "number",
            "description": "Search relevance score."
          }
        }
      },
      "ArtistSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ReleaseSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "subtitle": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error response. Error codes: 1001=Required parameter missing, 1002=Invalid parameter value, 1003=Parameter value out of range, 1006=Invalid enumeration value, 2001=Resource not found, 2002=Resource not available in context, 2003=Resource already exists, 7001=Unable to perform action, 7002=Application configuration error, 7003=Operation timed out, 9001=Unexpected internal server error.",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status indicator.",
            "example": "error"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "7digital-specific error code."
              },
              "errorMessage": {
                "type": "string",
                "description": "Human-readable error description."
              }
            }
          }
        }
      }
    }
  }
}
