{
  "openapi": "3.0.3",
  "info": {
    "title": "Swarmtix API",
    "description": "API for event ticketing and management",
    "version": "1.0.0",
    "x-jentic-source-url": "https://swarmtix.com/api/docs/index.html",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.swarmtix.com"
    }
  ],
  "paths": {
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "Retrieve a list of events",
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by event status",
            "schema": {
              "type": "string",
              "enum": [
                "upcoming",
                "past",
                "cancelled"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of events to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string"
                          },
                          "ticketsAvailable": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "events"
        ]
      },
      "post": {
        "operationId": "createEvent",
        "summary": "Create event",
        "description": "Create a new event",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Event name"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Event date and time"
                  },
                  "venue": {
                    "type": "string",
                    "description": "Event venue"
                  },
                  "capacity": {
                    "type": "integer",
                    "description": "Maximum attendees"
                  }
                },
                "required": [
                  "name",
                  "date"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "events"
        ]
      }
    },
    "/tickets": {
      "post": {
        "operationId": "createTicket",
        "summary": "Create ticket",
        "description": "Create a new ticket for an event",
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eventId": {
                    "type": "string",
                    "description": "Event ID"
                  },
                  "attendeeEmail": {
                    "type": "string",
                    "format": "email",
                    "description": "Attendee email"
                  },
                  "attendeeName": {
                    "type": "string",
                    "description": "Attendee name"
                  },
                  "ticketType": {
                    "type": "string",
                    "description": "Type of ticket"
                  }
                },
                "required": [
                  "eventId",
                  "attendeeEmail",
                  "attendeeName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "eventId": {
                      "type": "string"
                    },
                    "attendeeEmail": {
                      "type": "string"
                    },
                    "ticketCode": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "tickets"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        },
        "required": [
          "error"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "events"
    },
    {
      "name": "tickets"
    }
  ]
}
