{
  "openapi": "3.0.3",
  "info": {
    "title": "RoboHash API",
    "version": "1.0.0",
    "description": "RoboHash generates unique robot, monster, cat, human, or gorilla avatar images from any input text using deterministic hashing. Supports custom sizes, styles, backgrounds, and Gravatar integration.",
    "x-jentic-source-url": "https://robohash.org/"
  },
  "servers": [
    {
      "url": "https://robohash.org",
      "description": "Production server"
    }
  ],
  "paths": {
    "/{text}.png": {
      "get": {
        "operationId": "generateAvatarPng",
        "summary": "Generate a PNG avatar image",
        "description": "Generates a unique deterministic avatar image in PNG format from the provided text input. The same input always produces the same image.",
        "tags": [
          "Avatars"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Any text input to hash for avatar generation (IP address, email, username, etc.)"
          },
          {
            "$ref": "#/components/parameters/SetParam"
          },
          {
            "$ref": "#/components/parameters/SizeParam"
          },
          {
            "$ref": "#/components/parameters/BgSetParam"
          },
          {
            "$ref": "#/components/parameters/IgnoreExtParam"
          },
          {
            "$ref": "#/components/parameters/GravatarParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Generated avatar image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{text}.jpg": {
      "get": {
        "operationId": "generateAvatarJpg",
        "summary": "Generate a JPG avatar image",
        "description": "Generates a unique deterministic avatar image in JPG format from the provided text input.",
        "tags": [
          "Avatars"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Any text input to hash for avatar generation"
          },
          {
            "$ref": "#/components/parameters/SetParam"
          },
          {
            "$ref": "#/components/parameters/SizeParam"
          },
          {
            "$ref": "#/components/parameters/BgSetParam"
          },
          {
            "$ref": "#/components/parameters/IgnoreExtParam"
          },
          {
            "$ref": "#/components/parameters/GravatarParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Generated avatar image",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{text}.bmp": {
      "get": {
        "operationId": "generateAvatarBmp",
        "summary": "Generate a BMP avatar image",
        "description": "Generates a unique deterministic avatar image in bitmap format from the provided text input.",
        "tags": [
          "Avatars"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Any text input to hash for avatar generation"
          },
          {
            "$ref": "#/components/parameters/SetParam"
          },
          {
            "$ref": "#/components/parameters/SizeParam"
          },
          {
            "$ref": "#/components/parameters/BgSetParam"
          },
          {
            "$ref": "#/components/parameters/IgnoreExtParam"
          },
          {
            "$ref": "#/components/parameters/GravatarParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Generated avatar image",
            "content": {
              "image/bmp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "none": {
        "type": "http",
        "scheme": "basic",
        "description": "No authentication required. This API is free and open."
      }
    },
    "parameters": {
      "SetParam": {
        "name": "set",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "set1",
            "set2",
            "set3",
            "set4",
            "set5",
            "set6",
            "any"
          ]
        },
        "description": "Avatar style set. set1=robots, set2=monsters, set3=robot heads, set4=cats, set5=humans, set6=gorillas. 'any' picks randomly."
      },
      "SizeParam": {
        "name": "size",
        "in": "query",
        "schema": {
          "type": "string",
          "pattern": "^\\d+x\\d+$",
          "example": "300x300"
        },
        "description": "Custom image dimensions in WIDTHxHEIGHT format"
      },
      "BgSetParam": {
        "name": "bgset",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "bg1",
            "bg2",
            "any"
          ]
        },
        "description": "Background style to add behind the avatar"
      },
      "IgnoreExtParam": {
        "name": "ignoreext",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "false"
          ]
        },
        "description": "When set to false, includes the file extension in the hash calculation"
      },
      "GravatarParam": {
        "name": "gravatar",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "yes",
            "hashed"
          ]
        },
        "description": "Enable Gravatar lookup. 'yes' if text is an email, 'hashed' if text is already a Gravatar hash."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Avatars",
      "description": "Avatar image generation"
    }
  ]
}