{
  "openapi": "3.0.3",
  "info": {
    "title": "Cron-job.org API",
    "description": "REST API for managing cron jobs on cron-job.org. Allows creating, updating, deleting, and viewing cron jobs and their execution history. Default rate limit: 100 requests/day (5,000 for sustaining members). Per-endpoint limits: 5 req/sec for reads, 1 req/sec for creates.",
    "version": "v1",
    "x-jentic-source-url": "https://docs.cron-job.org/rest-api.html"
  },
  "servers": [
    {
      "url": "https://api.cron-job.org"
    }
  ],
  "paths": {
    "/jobs": {
      "get": {
        "operationId": "listJobs",
        "summary": "List all cron jobs",
        "description": "List all jobs in this account.",
        "tags": [
          "jobs"
        ],
        "responses": {
          "200": {
            "description": "List of jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListJobsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          },
          "403": {
            "description": "Forbidden - IP not in allowlist"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      },
      "put": {
        "operationId": "createJob",
        "summary": "Create a new cron job",
        "description": "Create a new cron job. Only the url field is mandatory.",
        "tags": [
          "jobs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          },
          "409": {
            "description": "Conflict - Resource already exists"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "operationId": "getJob",
        "summary": "Get cron job details",
        "description": "Retrieve detailed information for a specific cron job.",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Job identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          },
          "404": {
            "description": "Job not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      },
      "patch": {
        "operationId": "updateJob",
        "summary": "Update a cron job",
        "description": "Update a cron job. Only include changed fields.",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Job identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          },
          "404": {
            "description": "Job not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      },
      "delete": {
        "operationId": "deleteJob",
        "summary": "Delete a cron job",
        "description": "Delete a cron job identified by its jobId.",
        "tags": [
          "jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Job identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          },
          "404": {
            "description": "Job not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/jobs/{jobId}/history": {
      "get": {
        "operationId": "getJobHistory",
        "summary": "Get job execution history",
        "description": "Retrieve the execution history for a specific cron job. Note: headers and body fields will not be populated in this response.",
        "tags": [
          "history"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Job identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job execution history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          },
          "404": {
            "description": "Job not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/jobs/{jobId}/history/{identifier}": {
      "get": {
        "operationId": "getJobHistoryItem",
        "summary": "Get job execution history item details",
        "description": "Retrieve details for a specific history item including headers and body.",
        "tags": [
          "history"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Job identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "History item identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "History item details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHistoryItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          },
          "404": {
            "description": "History item not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key supplied as Bearer token in Authorization header"
      }
    },
    "schemas": {
      "JobSchedule": {
        "type": "object",
        "properties": {
          "timezone": {
            "type": "string",
            "description": "IANA timezone name"
          },
          "expiresAt": {
            "type": "integer",
            "description": "Unix timestamp when the schedule expires (0 = no expiry)"
          },
          "hours": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Hours to run at (-1 = every hour)"
          },
          "mdays": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Days of month to run at (-1 = every day)"
          },
          "minutes": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Minutes to run at (-1 = every minute)"
          },
          "months": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Months to run at (-1 = every month)"
          },
          "wdays": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Days of week to run at (-1 = every day)"
          }
        }
      },
      "JobAuth": {
        "type": "object",
        "properties": {
          "enable": {
            "type": "boolean",
            "description": "Whether HTTP authentication is enabled"
          },
          "user": {
            "type": "string",
            "description": "HTTP auth username"
          },
          "password": {
            "type": "string",
            "description": "HTTP auth password"
          }
        }
      },
      "JobNotificationSettings": {
        "type": "object",
        "properties": {
          "onFailure": {
            "type": "boolean",
            "description": "Notify on failure"
          },
          "onFailureCount": {
            "type": "integer",
            "description": "Number of consecutive failures before notification"
          },
          "onSuccess": {
            "type": "boolean",
            "description": "Notify on success"
          },
          "onDisable": {
            "type": "boolean",
            "description": "Notify when job is disabled"
          }
        }
      },
      "JobExtendedData": {
        "type": "object",
        "properties": {
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom HTTP headers"
          },
          "body": {
            "type": "string",
            "description": "HTTP request body"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "integer",
            "description": "Job identifier (read only)"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the job is enabled"
          },
          "title": {
            "type": "string",
            "description": "Job title"
          },
          "saveResponses": {
            "type": "boolean",
            "description": "Whether to save response header/body"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Job URL"
          },
          "lastStatus": {
            "type": "integer",
            "description": "Last execution status (read only)"
          },
          "lastDuration": {
            "type": "integer",
            "description": "Last execution duration in ms (read only)"
          },
          "lastExecution": {
            "type": "integer",
            "description": "Unix timestamp of last execution (read only)"
          },
          "nextExecution": {
            "type": "integer",
            "nullable": true,
            "description": "Unix timestamp of predicted next execution (read only)"
          },
          "type": {
            "type": "integer",
            "description": "Job type (0=Default)"
          },
          "requestTimeout": {
            "type": "integer",
            "description": "Timeout in seconds (-1 = default)"
          },
          "redirectSuccess": {
            "type": "boolean",
            "description": "Treat 3xx as success"
          },
          "folderId": {
            "type": "integer",
            "description": "Folder identifier (0 = root)"
          },
          "schedule": {
            "$ref": "#/components/schemas/JobSchedule"
          },
          "requestMethod": {
            "type": "integer",
            "description": "HTTP method (0=GET, 1=POST, 2=OPTIONS, 3=HEAD, 4=PUT, 5=DELETE, 6=TRACE, 7=CONNECT, 8=PATCH)"
          }
        }
      },
      "DetailedJob": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Job"
          },
          {
            "type": "object",
            "properties": {
              "auth": {
                "$ref": "#/components/schemas/JobAuth"
              },
              "notification": {
                "$ref": "#/components/schemas/JobNotificationSettings"
              },
              "extendedData": {
                "$ref": "#/components/schemas/JobExtendedData"
              }
            }
          }
        ]
      },
      "HistoryItemStats": {
        "type": "object",
        "properties": {
          "nameLookup": {
            "type": "integer",
            "description": "DNS lookup time in microseconds"
          },
          "connect": {
            "type": "integer",
            "description": "TCP connect time in microseconds"
          },
          "appConnect": {
            "type": "integer",
            "description": "TLS handshake time in microseconds"
          },
          "preTransfer": {
            "type": "integer",
            "description": "Pre-transfer time in microseconds"
          },
          "startTransfer": {
            "type": "integer",
            "description": "Time to first byte in microseconds"
          },
          "total": {
            "type": "integer",
            "description": "Total request time in microseconds"
          }
        }
      },
      "HistoryItem": {
        "type": "object",
        "properties": {
          "jobLogId": {
            "type": "integer"
          },
          "jobId": {
            "type": "integer"
          },
          "identifier": {
            "type": "string"
          },
          "date": {
            "type": "integer",
            "description": "Unix timestamp of execution"
          },
          "datePlanned": {
            "type": "integer",
            "description": "Unix timestamp of planned execution"
          },
          "jitter": {
            "type": "integer",
            "description": "Jitter in milliseconds"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in milliseconds"
          },
          "status": {
            "type": "integer",
            "description": "Execution status"
          },
          "statusText": {
            "type": "string"
          },
          "httpStatus": {
            "type": "integer",
            "description": "HTTP response status code"
          },
          "headers": {
            "type": "string",
            "nullable": true,
            "description": "Response headers (only in detail endpoint)"
          },
          "body": {
            "type": "string",
            "nullable": true,
            "description": "Response body (only in detail endpoint)"
          },
          "stats": {
            "$ref": "#/components/schemas/HistoryItemStats"
          }
        }
      },
      "ListJobsResponse": {
        "type": "object",
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          },
          "someFailed": {
            "type": "boolean",
            "description": "True if some jobs could not be retrieved"
          }
        }
      },
      "CreateJobRequest": {
        "type": "object",
        "required": [
          "job"
        ],
        "properties": {
          "job": {
            "$ref": "#/components/schemas/DetailedJob"
          }
        }
      },
      "CreateJobResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "integer",
            "description": "Identifier of the created job"
          }
        }
      },
      "GetJobResponse": {
        "type": "object",
        "properties": {
          "jobDetails": {
            "$ref": "#/components/schemas/DetailedJob"
          }
        }
      },
      "UpdateJobRequest": {
        "type": "object",
        "required": [
          "job"
        ],
        "properties": {
          "job": {
            "$ref": "#/components/schemas/DetailedJob"
          }
        }
      },
      "GetHistoryResponse": {
        "type": "object",
        "properties": {
          "history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoryItem"
            }
          },
          "predictions": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Unix timestamps of predicted next executions (up to 3)"
          }
        }
      },
      "GetHistoryItemResponse": {
        "type": "object",
        "properties": {
          "jobHistoryDetails": {
            "$ref": "#/components/schemas/HistoryItem"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "jobs"
    },
    {
      "name": "history"
    }
  ]
}