{
  "openapi": "3.0.3",
  "info": {
    "title": "Dellyman Delivery API",
    "description": "Dellyman delivery logistics API for managing orders, tracking shipments, and obtaining delivery quotes.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://dellyman.com/rest-api/"
  },
  "servers": [
    {
      "url": "https://dellyman.com/api/v3.0",
      "description": "Production server"
    },
    {
      "url": "https://dev.dellyman.com/api/v3.0",
      "description": "Test/Development server"
    }
  ],
  "paths": {
    "/Vehicles": {
      "get": {
        "operationId": "getCarriers",
        "summary": "Get available carrier/vehicle types",
        "description": "Retrieve available delivery vehicle types and their capacities.",
        "tags": [
          "Vehicles"
        ],
        "responses": {
          "200": {
            "description": "Successful response with vehicle list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/States": {
      "get": {
        "operationId": "getStates",
        "summary": "Get available service states",
        "description": "List all available states where Dellyman operates.",
        "tags": [
          "Locations"
        ],
        "responses": {
          "200": {
            "description": "Successful response with state list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StateListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Cities": {
      "post": {
        "operationId": "getCities",
        "summary": "Get cities within a state",
        "description": "Retrieve cities within a specified state.",
        "tags": [
          "Locations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCitiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with city list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CityListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetQuotes": {
      "post": {
        "operationId": "getQuotes",
        "summary": "Get delivery quotes",
        "description": "Get quotes for an order based on pickup and delivery details.",
        "tags": [
          "Quotes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuotesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with quotes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BookOrder": {
      "post": {
        "operationId": "createOrder",
        "summary": "Create a delivery order",
        "description": "Used to create a single delivery order.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BookOrders": {
      "post": {
        "operationId": "createMultipleOrders",
        "summary": "Create multiple delivery orders",
        "description": "Create multiple orders simultaneously.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMultipleOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Orders created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMultipleOrdersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetOrder": {
      "post": {
        "operationId": "getOrder",
        "summary": "Get order details",
        "description": "Retrieve order details and status.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetPackageLabel": {
      "post": {
        "operationId": "getPackageLabel",
        "summary": "Get package label",
        "description": "Get a label for the booked order encoded in base64.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with package label",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageLabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/TrackOrder": {
      "post": {
        "operationId": "trackOrder",
        "summary": "Track an order",
        "description": "Get the status of an order (unguarded).",
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with tracking info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/TrackPackage": {
      "post": {
        "operationId": "trackPackage",
        "summary": "Track a package",
        "description": "Track a specific package within an order.",
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackPackageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with package tracking info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackPackageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/OrderEventDetails": {
      "post": {
        "operationId": "getOrderEvents",
        "summary": "Get order event history",
        "description": "Get historical order events.",
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with order events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetInterstateRates": {
      "post": {
        "operationId": "getInterstateRates",
        "summary": "Get interstate delivery rates",
        "description": "Show available states and rates for interstate deliveries.",
        "tags": [
          "Interstate"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with interstate rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterstateRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetCitiesInState": {
      "post": {
        "operationId": "getInterstateCities",
        "summary": "Get interstate cities",
        "description": "Retrieve cities available for interstate pickup/delivery in a state.",
        "tags": [
          "Interstate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInterstateCitiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with city list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CityListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/GetInterstateQuote": {
      "post": {
        "operationId": "getInterstateQuote",
        "summary": "Get interstate delivery quote",
        "description": "Obtain pricing for interstate delivery.",
        "tags": [
          "Interstate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInterstateQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterstateQuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BookInterstateOrder": {
      "post": {
        "operationId": "createInterstateOrder",
        "summary": "Create interstate delivery order",
        "description": "Book an interstate delivery order.",
        "tags": [
          "Interstate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInterstateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Interstate order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as Bearer token in Authorization header"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          }
        }
      },
      "Vehicle": {
        "type": "object",
        "properties": {
          "VehicleID": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "Capacity": {
            "type": "string"
          }
        }
      },
      "VehicleListResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          },
          "Vehicles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vehicle"
            }
          }
        }
      },
      "State": {
        "type": "object",
        "properties": {
          "StateID": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "StateListResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          },
          "States": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/State"
            }
          }
        }
      },
      "City": {
        "type": "object",
        "properties": {
          "CityID": {
            "type": "integer"
          },
          "StateID": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "GetCitiesRequest": {
        "type": "object",
        "required": [
          "StateID"
        ],
        "properties": {
          "StateID": {
            "type": "integer",
            "description": "ID of the state to retrieve cities for"
          }
        }
      },
      "CityListResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          },
          "Cities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/City"
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "Address": {
            "type": "string"
          },
          "Latitude": {
            "type": "number",
            "format": "double"
          },
          "Longitude": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "GetQuotesRequest": {
        "type": "object",
        "required": [
          "PaymentMode",
          "Vehicle",
          "PickupAddress",
          "DeliveryAddress"
        ],
        "properties": {
          "PaymentMode": {
            "type": "string",
            "description": "Payment mode for the order"
          },
          "Vehicle": {
            "type": "string",
            "description": "Vehicle type for delivery"
          },
          "IsInstantDelivery": {
            "type": "boolean",
            "description": "Whether this is an instant delivery"
          },
          "PickupRequestedTime": {
            "type": "string",
            "description": "Requested pickup time"
          },
          "IsProductOrder": {
            "type": "boolean",
            "description": "Whether this is a product order"
          },
          "ProductAmount": {
            "type": "number",
            "description": "Amount of the product"
          },
          "PickupRequestedDate": {
            "type": "string",
            "description": "Requested pickup date"
          },
          "PickupAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "DeliveryAddress": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "CompanyID": {
            "type": "integer"
          },
          "CompanyName": {
            "type": "string"
          },
          "TotalPrice": {
            "type": "number"
          },
          "PayableAmount": {
            "type": "number"
          }
        }
      },
      "QuotesResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          },
          "Companies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Company"
            }
          },
          "RejectedCompanies": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Products": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Distance": {
            "type": "number"
          }
        }
      },
      "Package": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string"
          },
          "Weight": {
            "type": "number"
          },
          "Quantity": {
            "type": "integer"
          },
          "DeliveryContactName": {
            "type": "string"
          },
          "DeliveryContactNumber": {
            "type": "string"
          },
          "DeliveryAddress": {
            "type": "string"
          },
          "DeliveryLatitude": {
            "type": "number",
            "format": "double"
          },
          "DeliveryLongitude": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "required": [
          "CompanyID",
          "PaymentMode",
          "Vehicle",
          "Packages"
        ],
        "properties": {
          "CompanyID": {
            "type": "integer",
            "description": "ID of the delivery company"
          },
          "PaymentMode": {
            "type": "string",
            "description": "Payment mode"
          },
          "Vehicle": {
            "type": "string",
            "description": "Vehicle type"
          },
          "PickupContactName": {
            "type": "string"
          },
          "PickupContactNumber": {
            "type": "string"
          },
          "PickupAddress": {
            "type": "string"
          },
          "PickupLatitude": {
            "type": "number",
            "format": "double"
          },
          "PickupLongitude": {
            "type": "number",
            "format": "double"
          },
          "Packages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Package"
            }
          }
        }
      },
      "CreateOrderResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          },
          "OrderID": {
            "type": "integer"
          },
          "OrderCode": {
            "type": "string"
          },
          "TrackingID": {
            "type": "string"
          },
          "Reference": {
            "type": "string"
          },
          "Packages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "PackageID": {
                  "type": "integer"
                },
                "PackageTrackingID": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CreateMultipleOrdersRequest": {
        "type": "object",
        "required": [
          "Orders"
        ],
        "properties": {
          "Orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateOrderRequest"
            }
          }
        }
      },
      "CreateMultipleOrdersResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          },
          "Orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateOrderResponse"
            }
          }
        }
      },
      "GetOrderRequest": {
        "type": "object",
        "required": [
          "OrderID"
        ],
        "properties": {
          "OrderID": {
            "type": "integer",
            "description": "ID of the order to retrieve"
          }
        }
      },
      "OrderDetailResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          },
          "OrderID": {
            "type": "integer"
          },
          "OrderCode": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          },
          "TrackingID": {
            "type": "string"
          },
          "PickupAddress": {
            "type": "string"
          },
          "CreatedAt": {
            "type": "string"
          },
          "Packages": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PackageLabelResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          },
          "PackageLabel": {
            "type": "string",
            "description": "Base64-encoded PDF label"
          }
        }
      },
      "TrackOrderRequest": {
        "type": "object",
        "required": [
          "TrackingID"
        ],
        "properties": {
          "TrackingID": {
            "type": "string",
            "description": "Order tracking ID"
          }
        }
      },
      "TrackOrderResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          },
          "RiderName": {
            "type": "string"
          },
          "RiderPhone": {
            "type": "string"
          },
          "Packages": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Comments": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Latitude": {
            "type": "number",
            "format": "double"
          },
          "Longitude": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "TrackPackageRequest": {
        "type": "object",
        "required": [
          "TrackingID"
        ],
        "properties": {
          "TrackingID": {
            "type": "string",
            "description": "Package tracking ID"
          }
        }
      },
      "TrackPackageResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          },
          "PackageID": {
            "type": "integer"
          },
          "Status": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "DeliveryAddress": {
            "type": "string"
          },
          "CreatedAt": {
            "type": "string"
          }
        }
      },
      "OrderEvent": {
        "type": "object",
        "properties": {
          "PackageID": {
            "type": "integer"
          },
          "EventType": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "Timestamp": {
            "type": "string"
          },
          "Location": {
            "type": "string"
          }
        }
      },
      "OrderEventsResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          },
          "Events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderEvent"
            }
          }
        }
      },
      "InterstateRate": {
        "type": "object",
        "properties": {
          "OriginState": {
            "type": "string"
          },
          "DestinationState": {
            "type": "string"
          },
          "Price": {
            "type": "number"
          }
        }
      },
      "InterstateRatesResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          },
          "Rates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InterstateRate"
            }
          }
        }
      },
      "GetInterstateCitiesRequest": {
        "type": "object",
        "required": [
          "DestinationState"
        ],
        "properties": {
          "DestinationState": {
            "type": "string",
            "description": "Name of the destination state"
          }
        }
      },
      "GetInterstateQuoteRequest": {
        "type": "object",
        "required": [
          "Vehicle",
          "PackageWeight",
          "PickupState",
          "PickupCity",
          "DeliveryState",
          "DeliveryCity"
        ],
        "properties": {
          "Vehicle": {
            "type": "string"
          },
          "PackageWeight": {
            "type": "number"
          },
          "PickupState": {
            "type": "string"
          },
          "PickupCity": {
            "type": "string"
          },
          "PickupAddress": {
            "type": "string"
          },
          "DeliveryState": {
            "type": "string"
          },
          "DeliveryCity": {
            "type": "string"
          },
          "DeliveryAddress": {
            "type": "string"
          },
          "DeliverTo": {
            "type": "string"
          }
        }
      },
      "InterstateQuoteResponse": {
        "type": "object",
        "properties": {
          "ResponseCode": {
            "type": "integer"
          },
          "ResponseMessage": {
            "type": "string"
          },
          "CompanyName": {
            "type": "string"
          },
          "CompanyID": {
            "type": "integer"
          },
          "TotalPrice": {
            "type": "number"
          },
          "PayableAmount": {
            "type": "number"
          }
        }
      },
      "CreateInterstateOrderRequest": {
        "type": "object",
        "required": [
          "PaymentMode",
          "Vehicle"
        ],
        "properties": {
          "OrderRef": {
            "type": "string"
          },
          "PaymentMode": {
            "type": "string"
          },
          "Vehicle": {
            "type": "string"
          },
          "PickupContactName": {
            "type": "string"
          },
          "PickupContactNumber": {
            "type": "string"
          },
          "PickupAddress": {
            "type": "string"
          },
          "PickupState": {
            "type": "string"
          },
          "PickupCity": {
            "type": "string"
          },
          "PackageDescription": {
            "type": "string"
          },
          "PackageWeight": {
            "type": "number"
          },
          "DeliveryContactName": {
            "type": "string"
          },
          "DeliveryContactNumber": {
            "type": "string"
          },
          "DeliveryAddress": {
            "type": "string"
          },
          "DeliveryState": {
            "type": "string"
          },
          "DeliveryCity": {
            "type": "string"
          },
          "DeliverTo": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Vehicles",
      "description": "Vehicle/carrier type operations"
    },
    {
      "name": "Locations",
      "description": "States and cities lookup"
    },
    {
      "name": "Quotes",
      "description": "Delivery quote operations"
    },
    {
      "name": "Orders",
      "description": "Order creation and management"
    },
    {
      "name": "Tracking",
      "description": "Order and package tracking"
    },
    {
      "name": "Interstate",
      "description": "Interstate delivery operations"
    }
  ]
}