{
  "openapi": "3.0.0",
  "info": {
    "title": "Bank API",
    "description": "API документация для продуктов микрозайма и залог авто.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DARKNESS6345122_1/Bank_Api/1.0.0/swagger.json",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://online.aic.uz/apex/ins/hayot_bank",
      "description": "Действителен до 01.06.2025"
    },
    {
      "url": "https://rest.aic.uz/api/ins/hayot_bank"
    }
  ],
  "paths": {
    "/contract_loan": {
      "post": {
        "summary": "Создание договора страхования",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "tr_id",
                  "benifitzar",
                  "borrower",
                  "credit_contract"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "Идентификатор пользователя (Сообщается со стороны страховщика)"
                  },
                  "tr_id": {
                    "type": "string",
                    "description": "Идентификатор транзакции (уникальное значение со стороны отправителя для каждого заемщика со стороны отправителя для каждого заемщика)"
                  },
                  "benifitzar": {
                    "type": "object",
                    "required": [
                      "tin",
                      "phone",
                      "name",
                      "representativeName",
                      "representativeDoc",
                      "representativeDocNumber",
                      "representativePinfl",
                      "representativePassportSeria",
                      "representativePassportNumber",
                      "regionid",
                      "districtid",
                      "address",
                      "checkingAccount",
                      "bankMfo",
                      "oked"
                    ],
                    "properties": {
                      "tin": {
                        "type": "string",
                        "description": "ИНН бенефициара"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Телефон бенефициара (в формате '998XXXXXXXXX')"
                      },
                      "name": {
                        "type": "string",
                        "description": "Название филиала бенефициара (какое наименование передатите такой будет в полисе)"
                      },
                      "representativeName": {
                        "type": "string",
                        "description": "ФИО представителя организации"
                      },
                      "representativeDoc": {
                        "type": "string",
                        "description": "Наименование документа представителя"
                      },
                      "representativeDocNumber": {
                        "type": "string",
                        "description": "Номер документа представителя"
                      },
                      "representativePinfl": {
                        "type": "string",
                        "description": "ПИНФЛ представителя"
                      },
                      "representativePassportSeria": {
                        "type": "string",
                        "description": "Серия паспорта представителя"
                      },
                      "representativePassportNumber": {
                        "type": "string",
                        "description": "Номер паспорта представителя"
                      },
                      "regionid": {
                        "type": "integer",
                        "description": "Идентификатор региона (Справочник /regionid)"
                      },
                      "districtid": {
                        "type": "integer",
                        "description": "Идентификатор района (Справочник /districtid)"
                      },
                      "address": {
                        "type": "string",
                        "description": "Адрес бенефициара (Улица, дом, квартира)"
                      },
                      "checkingAccount": {
                        "type": "string",
                        "description": "Расчетный счет бенефициара"
                      },
                      "bankMfo": {
                        "type": "string",
                        "description": "МФО банка бенефициара"
                      },
                      "oked": {
                        "type": "string",
                        "description": "ОКЭД бенефициара"
                      }
                    }
                  },
                  "borrower": {
                    "type": "object",
                    "required": [
                      "pinfl",
                      "name",
                      "sname",
                      "patronim",
                      "passport_ser",
                      "passport_num",
                      "birthdate",
                      "phone",
                      "regionid",
                      "districtid",
                      "address",
                      "gender"
                    ],
                    "properties": {
                      "pinfl": {
                        "type": "string",
                        "description": "ПИНФЛ заемщика"
                      },
                      "name": {
                        "type": "string",
                        "description": "Имя заемщика"
                      },
                      "sname": {
                        "type": "string",
                        "description": "Фамилия заемщика"
                      },
                      "patronim": {
                        "type": "string",
                        "description": "Отчество заемщика"
                      },
                      "passport_ser": {
                        "type": "string",
                        "description": "Серия паспорта заемщика"
                      },
                      "passport_num": {
                        "type": "string",
                        "description": "Номер паспорта заемщика"
                      },
                      "birthdate": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Дата рождения заемщика (в формате 'dd.mm.yyyy')"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Телефон заемщика (в формате '998XXXXXXXXX')"
                      },
                      "regionid": {
                        "type": "string",
                        "description": "Идентификатор региона (Справочник /regionid)"
                      },
                      "districtid": {
                        "type": "string",
                        "description": "Идентификатор района (Справочник /districtid)"
                      },
                      "address": {
                        "type": "string",
                        "description": "Адрес заемщика (Улица, дом, квартира)"
                      },
                      "gender": {
                        "type": "integer",
                        "description": "Пол заемщика (1 - мужской, 0 - женский)"
                      }
                    }
                  },
                  "credit_contract": {
                    "type": "object",
                    "required": [
                      "reg_number",
                      "start_date",
                      "end_date",
                      "credit_amount"
                    ],
                    "properties": {
                      "reg_number": {
                        "type": "string",
                        "description": "Номер кредитного договора"
                      },
                      "start_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Дата начала кредитного договора"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Дата окончания кредитного договора"
                      },
                      "credit_amount": {
                        "type": "number",
                        "description": "Сумма кредита"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract_id": {
                      "type": "integer",
                      "description": "ID договора"
                    },
                    "insurancesum": {
                      "type": "number",
                      "description": "Страховая сумма"
                    },
                    "insurancepremium": {
                      "type": "number",
                      "description": "Страховая премия"
                    },
                    "insurancestartdate": {
                      "type": "string",
                      "description": "Дата начала действия страхового полиса"
                    },
                    "insuranceenddate": {
                      "type": "string",
                      "description": "Дата окончания действия страхового полиса"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ошибка в запросе"
          },
          "401": {
            "description": "Пользователь не авторизован"
          }
        },
        "description": "Создание договора страхования",
        "operationId": "post-contract-loan"
      }
    },
    "/contract_avto": {
      "post": {
        "summary": "Создание договора страхования",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "tr_id",
                  "benifitzar",
                  "borrower",
                  "object",
                  "credit_contract"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "Идентификатор пользователя (Сообщается со стороны страховщика)"
                  },
                  "tr_id": {
                    "type": "string",
                    "description": "Идентификатор транзакции (уникальное значение со стороны отправителя для каждого заемщика)"
                  },
                  "benifitzar": {
                    "type": "object",
                    "required": [
                      "tin",
                      "phone",
                      "name",
                      "representativeName",
                      "representativeDoc",
                      "representativeDocNumber",
                      "representativePinfl",
                      "representativePassportSeria",
                      "representativePassportNumber",
                      "regionid",
                      "districtid",
                      "address",
                      "checkingAccount",
                      "bankMfo",
                      "oked"
                    ],
                    "properties": {
                      "tin": {
                        "type": "string",
                        "description": "ИНН бенефициара"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Телефон бенефициара (в формате '998XXXXXXXXX')"
                      },
                      "name": {
                        "type": "string",
                        "description": "Название филиала бенефициара (какое наименование передатите такой будет в полисе)"
                      },
                      "representativeName": {
                        "type": "string",
                        "description": "ФИО представителя организации"
                      },
                      "representativeDoc": {
                        "type": "string",
                        "description": "Наименование документа представителя"
                      },
                      "representativeDocNumber": {
                        "type": "string",
                        "description": "Номер документа представителя"
                      },
                      "representativePinfl": {
                        "type": "string",
                        "description": "ПИНФЛ представителя"
                      },
                      "representativePassportSeria": {
                        "type": "string",
                        "description": "Серия паспорта представителя"
                      },
                      "representativePassportNumber": {
                        "type": "string",
                        "description": "Номер паспорта представителя"
                      },
                      "regionid": {
                        "type": "integer",
                        "description": "Идентификатор региона (Справочник /regionid)"
                      },
                      "districtid": {
                        "type": "integer",
                        "description": "Идентификатор района (Справочник /districtid)"
                      },
                      "address": {
                        "type": "string",
                        "description": "Адрес бенефициара (Улица, дом, квартира)"
                      },
                      "checkingAccount": {
                        "type": "string",
                        "description": "Расчетный счет бенефициара"
                      },
                      "bankMfo": {
                        "type": "string",
                        "description": "МФО банка бенефициара"
                      },
                      "oked": {
                        "type": "string",
                        "description": "ОКЭД бенефициара"
                      }
                    }
                  },
                  "borrower": {
                    "type": "object",
                    "required": [
                      "name",
                      "sname",
                      "patronim",
                      "passport_ser",
                      "passport_num",
                      "birthdate",
                      "phone",
                      "regionid",
                      "districtid",
                      "address",
                      "gender"
                    ],
                    "properties": {
                      "pinfl": {
                        "type": "string",
                        "description": "ПИНФЛ заемщика"
                      },
                      "name": {
                        "type": "string",
                        "description": "Имя заемщика"
                      },
                      "sname": {
                        "type": "string",
                        "description": "Фамилия заемщика"
                      },
                      "patronim": {
                        "type": "string",
                        "description": "Отчество заемщика"
                      },
                      "passport_ser": {
                        "type": "string",
                        "description": "Серия паспорта заемщика"
                      },
                      "passport_num": {
                        "type": "string",
                        "description": "Номер паспорта заемщика"
                      },
                      "birthdate": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Дата рождения заемщика (в формате 'dd.mm.yyyy')"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Телефон заемщика (в формате '998XXXXXXXXX')"
                      },
                      "regionid": {
                        "type": "string",
                        "description": "Идентификатор региона (Справочник /regionid)"
                      },
                      "districtid": {
                        "type": "string",
                        "description": "Идентификатор района (Справочник /districtid)"
                      },
                      "address": {
                        "type": "string",
                        "description": "Адрес заемщика (Улица, дом, квартира)"
                      },
                      "gender": {
                        "type": "integer",
                        "description": "Пол заемщика (1 - мужской, 2 - женский)"
                      }
                    }
                  },
                  "object": {
                    "type": "object",
                    "required": [
                      "techpasp_number",
                      "techpasp_seria",
                      "govnumber",
                      "marka_id",
                      "model_id",
                      "vehicletype_id",
                      "issue_year",
                      "regionid",
                      "price"
                    ],
                    "properties": {
                      "techpasp_number": {
                        "type": "string",
                        "description": "Номер техпаспорта"
                      },
                      "techpasp_seria": {
                        "type": "string",
                        "description": "Серия техпаспорта"
                      },
                      "govnumber": {
                        "type": "string",
                        "description": "Государственный номер транспортного средства"
                      },
                      "marka_id": {
                        "type": "integer",
                        "description": "Идентификатор марки (Справочник /marka_id)"
                      },
                      "model_id": {
                        "type": "integer",
                        "description": "Идентификатор модели (Справочник /model_id)"
                      },
                      "vehicletype_id": {
                        "type": "integer",
                        "description": "Идентификатор типа транспортного средства (Справочник /vehicletype_id)"
                      },
                      "regionid": {
                        "type": "integer",
                        "description": "Регион регистрации ТС (Справочник /regionid)"
                      },
                      "price": {
                        "type": "number",
                        "format": "double",
                        "description": "Действительная стоимость ТС"
                      },
                      "issue_year": {
                        "type": "integer",
                        "description": "Год выпуска транспортного средства (Пример- 2024)"
                      },
                      "body_number": {
                        "type": "string",
                        "description": "Номер кузова (Обязательно только для ТС, у которых vehicletype_id = 1,6,9,15)"
                      },
                      "engine_number": {
                        "type": "string",
                        "description": "Номер двигателя (Обязательно только для ТС, у которых vehicletype_id = 1,6,9,15)"
                      },
                      "lifting_capacity": {
                        "type": "number",
                        "description": "Грузоподъемность транспортного средства в тоннах (Обязательно только для ТС, у которых vehicletype_id = 1,6,9,15)"
                      }
                    }
                  },
                  "credit_contract": {
                    "type": "object",
                    "required": [
                      "reg_number",
                      "start_date",
                      "end_date",
                      "credit_amount"
                    ],
                    "properties": {
                      "reg_number": {
                        "type": "string",
                        "description": "Регистрационный номер кредитного договора"
                      },
                      "start_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Дата регистрации кредитного договора"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Дата окончания кредитного договора"
                      },
                      "credit_amount": {
                        "type": "number",
                        "description": "Сумма кредита"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract_id": {
                      "type": "integer",
                      "description": "ID договора"
                    },
                    "insurancesum": {
                      "type": "number",
                      "description": "Страховая сумма"
                    },
                    "insurancepremium": {
                      "type": "number",
                      "description": "Страховая премия"
                    },
                    "insurancestartdate": {
                      "type": "string",
                      "description": "Дата начала действия страхового полиса"
                    },
                    "insuranceenddate": {
                      "type": "string",
                      "description": "Дата окончания действия страхового полиса"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ошибка в запросе"
          },
          "401": {
            "description": "Пользователь не авторизован"
          }
        },
        "description": "Создание договора страхования",
        "operationId": "post-contract-avto"
      }
    },
    "/payment": {
      "post": {
        "summary": "Подтверждение оплаты",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "contract_id",
                  "bank_day"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID пользователя"
                  },
                  "contract_id": {
                    "type": "integer",
                    "description": "ID договора"
                  },
                  "insurancepremium": {
                    "type": "number",
                    "description": "Страховая премия"
                  },
                  "bank_day": {
                    "type": "string",
                    "format": "dd.mm.yyyy",
                    "description": "Дата оплаты полиса"
                  },
                  "bank_account": {
                    "type": "string",
                    "description": "Номер банковского счета на который производится оплата"
                  },
                  "bank_branch": {
                    "type": "string",
                    "description": "Код отделения банка на который производится оплата"
                  },
                  "dock_id": {
                    "type": "string",
                    "description": "Номер документа платежа"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешное создание записи",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract_id": {
                      "type": "string",
                      "description": "ID договора"
                    },
                    "paid_sum": {
                      "type": "number",
                      "description": "Сумма оплаты"
                    },
                    "policy_no": {
                      "type": "string",
                      "description": "Серия и номер полиса"
                    },
                    "policy_check": {
                      "type": "string",
                      "description": "Ссылка на проверку полиса"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ошибка в запросе"
          },
          "401": {
            "description": "Пользователь не авторизован"
          }
        },
        "description": "Подтверждение оплаты",
        "operationId": "post-payment"
      }
    },
    "/policy": {
      "post": {
        "summary": "Получение полиса",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "reg_number"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID пользователя"
                  },
                  "reg_number": {
                    "type": "string",
                    "description": "Номер кредитного договора"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешное создание записи",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract_id": {
                      "type": "string",
                      "description": "ID договора"
                    },
                    "insurancepremium": {
                      "type": "number",
                      "description": "Страховая премия"
                    },
                    "policy_no": {
                      "type": "string",
                      "description": "Серия и номер полиса"
                    },
                    "policy_check": {
                      "type": "string",
                      "description": "Ссылка на проверку полиса",
                      "example": "http://example.com"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ошибка в запросе"
          },
          "401": {
            "description": "Пользователь не авторизован"
          }
        },
        "description": "Получение полиса",
        "operationId": "post-policy"
      }
    },
    "/regionid": {
      "get": {
        "summary": "Получение ID регионов",
        "tags": [
          "Справочник"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "regionid": {
                            "type": "integer",
                            "description": "ID региона"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "Наименование региона на русском языке"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "Наименование региона на узбекском языке"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Получение ID регионов",
        "operationId": "get-regionid"
      }
    },
    "/districtid": {
      "get": {
        "summary": "Получение ID районов",
        "tags": [
          "Справочник"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "regionId",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "ID региона"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "districtid": {
                            "type": "integer",
                            "description": "ID района"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "Наименование района на русском языке"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "Наименование района на узбекском языке"
                          },
                          "regionId": {
                            "type": "number",
                            "description": "ID региона"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Получение ID районов",
        "operationId": "get-districtid"
      }
    },
    "/vehicletype_id": {
      "get": {
        "summary": "Получение ID типа транспортного средства",
        "tags": [
          "Справочник"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type_id": {
                            "type": "integer",
                            "description": "ID типа транспортного средства"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "Наименование типа транспортного средства на русском языке"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "Наименование типа транспортного средства на узбекском языке"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Получение ID типа транспортного средства",
        "operationId": "get-vehicletype-id"
      }
    },
    "/marka_id": {
      "get": {
        "summary": "Получение ID марки транспортного средства",
        "tags": [
          "Справочник"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "marka_id": {
                            "type": "integer",
                            "description": "ID марки транспортного средства"
                          },
                          "name": {
                            "type": "string",
                            "description": "Наименование марки транспортного средства"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Получение ID марки транспортного средства",
        "operationId": "get-marka-id"
      }
    },
    "/model_id": {
      "get": {
        "summary": "Получение ID модели транспортного средства",
        "tags": [
          "Справочник"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "model_id": {
                            "type": "integer",
                            "description": "ID модели транспортного средства"
                          },
                          "name": {
                            "type": "string",
                            "description": "Наименование модели транспортного средства"
                          },
                          "marka_id": {
                            "type": "integer",
                            "description": "ID марки транспортного средства"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Получение ID модели транспортного средства",
        "operationId": "get-model-id"
      }
    },
    "/doc_id": {
      "get": {
        "summary": "Получение информации от банка по номеру документа платежа",
        "tags": [
          "Банк"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "doc_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Номер документа платежа"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных - Структура информации предоставляется со стороны банка",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "doc_id": {
                      "type": "string",
                      "description": "Структура информации предоставляется со стороны банка"
                    },
                    "doc_status": {
                      "type": "string",
                      "description": "Структура информации предоставляется со стороны банка"
                    },
                    "doc_date": {
                      "type": "string",
                      "description": "Структура информации предоставляется со стороны банка"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Получение информации от банка по номеру документа платежа",
        "operationId": "get-doc-id"
      }
    },
    "/bank_day": {
      "post": {
        "summary": "Получение информации от банка по банковскому дню и р/с",
        "tags": [
          "Банк"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bank_day",
                  "bank_account",
                  "bank_branch"
                ],
                "properties": {
                  "bank_day": {
                    "type": "string",
                    "description": "Структура запроса предоставляется со стороны банка"
                  },
                  "bank_account": {
                    "type": "string",
                    "description": "Структура запроса предоставляется со стороны банка"
                  },
                  "bank_branch": {
                    "type": "string",
                    "description": "Структура запроса предоставляется со стороны банка"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешное получение данных - Структура информации предоставляется со стороны банка",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "doc_id": {
                      "type": "string",
                      "description": "Структура информации предоставляется со стороны банка"
                    },
                    "doc_status": {
                      "type": "string",
                      "description": "Структура информации предоставляется со стороны банка"
                    },
                    "doc_date": {
                      "type": "string",
                      "description": "Структура информации предоставляется со стороны банка"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Получение информации от банка по банковскому дню и р/с",
        "operationId": "post-bank-day"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "tags": [
    {
      "name": "Contract"
    },
    {
      "name": "Банк"
    },
    {
      "name": "Справочник"
    }
  ]
}