{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Api key generation",
    "description": "To access metru api as a third party a key is required. This document details how to generate api key. ",
    "contact": {
      "name": "Jupiter Barua",
      "email": "jupiter.barua@metru.de"
    },
    "license": {
      "name": "Metru GMBH"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/jupiter1/ApiKeyGenerate/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://metru.de/v1/apikey",
      "description": "Production Server"
    },
    {
      "url": "http://api.metru.at/v1/apikey",
      "description": "Staging Server"
    }
  ],
  "paths": {
    "/generate": {
      "post": {
        "summary": "To obtain api key to access metru api",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/agencyDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Api key will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agencyDetails"
                }
              }
            }
          }
        },
        "tags": [
          "generate"
        ],
        "description": "To obtain api key to access metru api",
        "operationId": "post-generate"
      }
    },
    "/update": {
      "post": {
        "summary": "To obtain a new api key to access metru api",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/agencyDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Api key will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agencyDetails"
                }
              }
            }
          }
        },
        "tags": [
          "update"
        ],
        "description": "To obtain a new api key to access metru api",
        "operationId": "post-update"
      }
    }
  },
  "components": {
    "schemas": {
      "agencyDetails": {
        "type": "object",
        "properties": {
          "agencyName": {
            "type": "string",
            "example": "FutureHR"
          },
          "agencyAddress": {
            "type": "string",
            "example": "Rocket Rd,Burger king, Burger Bug."
          },
          "agnecyPhone": {
            "type": "string",
            "example": "018345655"
          },
          "agencyContactPerson": {
            "type": "string",
            "example": "Jupiter Barua"
          },
          "agencyEmail": {
            "type": "string",
            "description": "This is should be a valid email id",
            "example": "email@gmail.co"
          },
          "agencyApiKey": {
            "type": "string",
            "description": "This key is required to access apis of metru and will be returned in response body after successful api call. User should store this api and keep safe."
          }
        },
        "required": [
          "agencyName",
          "agencyAddress",
          "agnecyPhone",
          "agencyContactPerson",
          "agencyEmail"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "generate"
    },
    {
      "name": "update"
    }
  ]
}
