{
  "openapi": "3.0.3",
  "info": {
    "title": "Airbrake API",
    "description": "Airbrake collects errors generated by other applications, and aggregates the results for review. The API provides endpoints for error management, project management, deployments, performance monitoring, and source maps.",
    "version": "4.0.0",
    "contact": {
      "name": "Airbrake Support",
      "url": "https://airbrake.io"
    },
    "x-jentic-source-url": "https://docs.airbrake.io/docs/devops-tools/api"
  },
  "servers": [
    {
      "url": "https://api.airbrake.io/api/v4",
      "description": "Production server (v4)"
    },
    {
      "url": "https://api.airbrake.io/api/v5",
      "description": "Production server (v5 - Performance Monitoring)"
    },
    {
      "url": "https://api.airbrake.io/api/v3",
      "description": "Production server (v3 - Error Notices)"
    }
  ],
  "paths": {
    "/sessions": {
      "post": {
        "operationId": "createSession",
        "summary": "Create user token",
        "description": "Generate time-limited user tokens using email and password authentication.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User email address"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "User password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Time-limited user token"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Retrieve all projects associated with the authenticated user.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of projects"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{PROJECT_ID}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get project details",
        "description": "Retrieve details for a specific project.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{PROJECT_ID}/groups": {
      "get": {
        "operationId": "listErrorGroups",
        "summary": "List error groups",
        "description": "Retrieve error groups for a specific project.",
        "tags": [
          "Error Groups"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of error groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "groups": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ErrorGroup"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of error groups"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{PROJECT_ID}/groups/{GROUP_ID}": {
      "get": {
        "operationId": "getErrorGroup",
        "summary": "Get error group details",
        "description": "Retrieve details for a specific error group.",
        "tags": [
          "Error Groups"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          },
          {
            "name": "GROUP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Error group identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Error group details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorGroup"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteErrorGroup",
        "summary": "Delete error group",
        "description": "Permanently delete an error group.",
        "tags": [
          "Error Groups"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          },
          {
            "name": "GROUP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Error group identifier"
          }
        ],
        "responses": {
          "204": {
            "description": "Error group deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{PROJECT_ID}/groups/{GROUP_ID}/muted": {
      "put": {
        "operationId": "muteErrorGroup",
        "summary": "Mute error group",
        "description": "Mute an error group to stop receiving notifications.",
        "tags": [
          "Error Groups"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          },
          {
            "name": "GROUP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Error group identifier"
          }
        ],
        "responses": {
          "204": {
            "description": "Error group muted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{PROJECT_ID}/groups/{GROUP_ID}/unmuted": {
      "put": {
        "operationId": "unmuteErrorGroup",
        "summary": "Unmute error group",
        "description": "Unmute an error group to resume receiving notifications.",
        "tags": [
          "Error Groups"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          },
          {
            "name": "GROUP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Error group identifier"
          }
        ],
        "responses": {
          "204": {
            "description": "Error group unmuted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{PROJECT_ID}/groups/{GROUP_ID}/stats": {
      "get": {
        "operationId": "getErrorGroupStats",
        "summary": "Get error group statistics",
        "description": "Retrieve statistics for a specific error group.",
        "tags": [
          "Error Groups"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          },
          {
            "name": "GROUP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Error group identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Error group statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stats": {
                      "type": "object",
                      "description": "Statistical data for the error group"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "operationId": "listAllErrorGroups",
        "summary": "List all error groups",
        "description": "List error groups across all projects.",
        "tags": [
          "Error Groups"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of error groups across all projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "groups": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ErrorGroup"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of error groups"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{PROJECT_ID}/deploys": {
      "get": {
        "operationId": "listDeploys",
        "summary": "List deploys",
        "description": "Retrieve deployment records for a project.",
        "tags": [
          "Deploys"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of deployments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deploys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Deploy"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of deployments"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDeploy",
        "summary": "Create deployment",
        "description": "Create a new deployment record for tracking purposes.",
        "tags": [
          "Deploys"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "environment",
                  "username"
                ],
                "properties": {
                  "environment": {
                    "type": "string",
                    "description": "Deployment environment (e.g., production, staging)"
                  },
                  "username": {
                    "type": "string",
                    "description": "User who deployed"
                  },
                  "version": {
                    "type": "string",
                    "description": "Version or commit SHA"
                  },
                  "repository": {
                    "type": "string",
                    "description": "Repository URL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deployment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deploy"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{PROJECT_ID}/deploys/{DEPLOY_ID}": {
      "get": {
        "operationId": "getDeploy",
        "summary": "Get deployment details",
        "description": "Retrieve details for a specific deployment.",
        "tags": [
          "Deploys"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          },
          {
            "name": "DEPLOY_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Deployment identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deploy"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Deployment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{PROJECT_ID}/sourcemaps": {
      "get": {
        "operationId": "listSourceMaps",
        "summary": "List source maps",
        "description": "Retrieve JavaScript source maps for a project.",
        "tags": [
          "Source Maps"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of source maps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sourcemaps": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SourceMap"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of source maps"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "uploadSourceMap",
        "summary": "Upload source map",
        "description": "Upload a JavaScript source map file.",
        "tags": [
          "Source Maps"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Source map file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Source map uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceMap"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{PROJECT_ID}/sourcemaps/{SOURCE_MAP_ID}": {
      "get": {
        "operationId": "getSourceMap",
        "summary": "Get source map details",
        "description": "Retrieve details for a specific source map.",
        "tags": [
          "Source Maps"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          },
          {
            "name": "SOURCE_MAP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Source map identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Source map details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceMap"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Source map not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSourceMap",
        "summary": "Delete source map",
        "description": "Remove a source map from the project.",
        "tags": [
          "Source Maps"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          },
          {
            "name": "SOURCE_MAP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Source map identifier"
          }
        ],
        "responses": {
          "204": {
            "description": "Source map deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{PROJECT_ID}/activities": {
      "get": {
        "operationId": "listProjectActivities",
        "summary": "List project activities",
        "description": "Retrieve activity log for a project.",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of project activities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total number of activities"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{PROJECT_ID}/stats": {
      "get": {
        "operationId": "getProjectStats",
        "summary": "Get project statistics",
        "description": "Retrieve statistical data for a project.",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "PROJECT_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Project statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stats": {
                      "type": "object",
                      "description": "Statistical data for the project"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API key authentication. Can be PROJECT_KEY, USER_KEY, or USER_TOKEN depending on the endpoint."
      }
    },
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Project identifier"
          },
          "name": {
            "type": "string",
            "description": "Project name"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Project creation timestamp"
          }
        }
      },
      "ErrorGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Error group identifier"
          },
          "project_id": {
            "type": "string",
            "description": "Project identifier"
          },
          "error_class": {
            "type": "string",
            "description": "Error class name"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "muted": {
            "type": "boolean",
            "description": "Whether the error group is muted"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Error group creation timestamp"
          }
        }
      },
      "Deploy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Deployment identifier"
          },
          "project_id": {
            "type": "string",
            "description": "Project identifier"
          },
          "environment": {
            "type": "string",
            "description": "Deployment environment"
          },
          "username": {
            "type": "string",
            "description": "User who deployed"
          },
          "version": {
            "type": "string",
            "description": "Version or commit SHA"
          },
          "repository": {
            "type": "string",
            "description": "Repository URL"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Deployment timestamp"
          }
        }
      },
      "SourceMap": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Source map identifier"
          },
          "project_id": {
            "type": "string",
            "description": "Project identifier"
          },
          "file_name": {
            "type": "string",
            "description": "Source map file name"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Upload timestamp"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and token management"
    },
    {
      "name": "Projects",
      "description": "Project management operations"
    },
    {
      "name": "Error Groups",
      "description": "Error group management"
    },
    {
      "name": "Error Notices",
      "description": "Error notice submission and retrieval"
    },
    {
      "name": "Deploys",
      "description": "Deployment tracking"
    },
    {
      "name": "Performance Monitoring",
      "description": "Application performance metrics"
    },
    {
      "name": "Source Maps",
      "description": "JavaScript source map management"
    },
    {
      "name": "iOS",
      "description": "iOS crash report submission"
    },
    {
      "name": "Analytics",
      "description": "Project analytics and statistics"
    }
  ]
}