{
  "openapi": "3.0.3",
  "info": {
    "title": "A B\u00edblia Digital API",
    "description": "RESTful Bible API with 7 versions, 4 languages and multiple features including devotional content, reference comments, and keyword search with statistics.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.abibliadigital.com.br/en",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://www.abibliadigital.com.br/api",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "books",
      "description": "Operations related to Bible books"
    },
    {
      "name": "verses",
      "description": "Operations related to Bible verses"
    },
    {
      "name": "search",
      "description": "Search operations"
    }
  ],
  "paths": {
    "/books": {
      "get": {
        "operationId": "getBooks",
        "summary": "Get all books",
        "description": "Retrieve a list of all available books in the Bible",
        "tags": [
          "books"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Book"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/books/{book}": {
      "get": {
        "operationId": "getBook",
        "summary": "Get a specific book",
        "description": "Retrieve details for a specific book by its abbreviation",
        "tags": [
          "books"
        ],
        "parameters": [
          {
            "name": "book",
            "in": "path",
            "required": true,
            "description": "Book abbreviation (e.g., 'gn' for Genesis)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookDetails"
                }
              }
            }
          },
          "404": {
            "description": "Book not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/verses/{version}/{book}/{chapter}": {
      "get": {
        "operationId": "getChapterVerses",
        "summary": "Get verses for a chapter",
        "description": "Fetch all verses for a specific chapter in a given version and book",
        "tags": [
          "verses"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "Bible version (NIV, RA, ACF, KJV, BBE, RVR, APEE)",
            "schema": {
              "type": "string",
              "enum": [
                "NIV",
                "RA",
                "ACF",
                "KJV",
                "BBE",
                "RVR",
                "APEE"
              ]
            }
          },
          {
            "name": "book",
            "in": "path",
            "required": true,
            "description": "Book abbreviation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chapter",
            "in": "path",
            "required": true,
            "description": "Chapter number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChapterVerses"
                }
              }
            }
          },
          "404": {
            "description": "Chapter not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/verses/{version}/{book}/{chapter}/{verse}": {
      "get": {
        "operationId": "getVerse",
        "summary": "Get a specific verse",
        "description": "Retrieve a specific verse by version, book, chapter, and verse number",
        "tags": [
          "verses"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "Bible version",
            "schema": {
              "type": "string",
              "enum": [
                "NIV",
                "RA",
                "ACF",
                "KJV",
                "BBE",
                "RVR",
                "APEE"
              ]
            }
          },
          {
            "name": "book",
            "in": "path",
            "required": true,
            "description": "Book abbreviation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chapter",
            "in": "path",
            "required": true,
            "description": "Chapter number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "verse",
            "in": "path",
            "required": true,
            "description": "Verse number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Verse"
                }
              }
            }
          },
          "404": {
            "description": "Verse not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchVerses",
        "summary": "Search for verses",
        "description": "Search for verses using keywords with statistics",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search keyword or phrase",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Bible version to search in",
            "schema": {
              "type": "string",
              "enum": [
                "NIV",
                "RA",
                "ACF",
                "KJV",
                "BBE",
                "RVR",
                "APEE"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "Book": {
        "type": "object",
        "properties": {
          "abbrev": {
            "type": "string",
            "description": "Book abbreviation"
          },
          "name": {
            "type": "string",
            "description": "Book name"
          },
          "chapters": {
            "type": "integer",
            "description": "Number of chapters in the book"
          },
          "testament": {
            "type": "string",
            "description": "Testament (Old or New)"
          }
        }
      },
      "BookDetails": {
        "type": "object",
        "properties": {
          "abbrev": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "chapters": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "testament": {
            "type": "string"
          },
          "verses": {
            "type": "integer",
            "description": "Total number of verses in the book"
          }
        }
      },
      "Verse": {
        "type": "object",
        "properties": {
          "book": {
            "type": "string"
          },
          "chapter": {
            "type": "integer"
          },
          "number": {
            "type": "integer"
          },
          "text": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "ChapterVerses": {
        "type": "object",
        "properties": {
          "book": {
            "type": "object",
            "properties": {
              "abbrev": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "chapter": {
            "type": "integer"
          },
          "verses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Verse"
            }
          },
          "version": {
            "type": "string"
          }
        }
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Verse"
            }
          },
          "total": {
            "type": "integer"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  }
}
