{
  "openapi": "3.0.3",
  "info": {
    "title": "digidatesAPI",
    "version": "1.0",
    "description": "REST API for time and date functions including Unix time conversion, weekday calculation, leap year checks, age calculation, CO2 levels, and German public holidays.",
    "x-jentic-source-url": "https://digidates.de/en/docs/openapi.yaml",
    "contact": {
      "email": "webmaster@digidates.de"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://digidates.de/api/v1",
      "description": "digidatesAPI Live Server"
    }
  ],
  "paths": {
    "/unixtime": {
      "get": {
        "operationId": "convertToUnixTime",
        "summary": "Convert to Unix Time",
        "description": "Converts a timestamp to Unix time.",
        "tags": [
          "Time"
        ],
        "parameters": [
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Timestamp to convert"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful conversion",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "unixtime": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid timestamp",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/week": {
      "get": {
        "operationId": "getWeekNumber",
        "summary": "Get Week Number",
        "description": "Returns the week number for a given date.",
        "tags": [
          "Date"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date to get week number for"
          }
        ],
        "responses": {
          "200": {
            "description": "Week number result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "week": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/leapyear": {
      "get": {
        "operationId": "checkLeapYear",
        "summary": "Check Leap Year",
        "description": "Determines if a year is a leap year.",
        "tags": [
          "Date"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Year to check"
          }
        ],
        "responses": {
          "200": {
            "description": "Leap year check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "leapyear": {
                      "type": "boolean"
                    },
                    "year": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/checkdate": {
      "get": {
        "operationId": "validateDate",
        "summary": "Validate Date",
        "description": "Validates if a date string is a valid date.",
        "tags": [
          "Date"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Date string to validate"
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/weekday": {
      "get": {
        "operationId": "getWeekday",
        "summary": "Get Weekday",
        "description": "Gets the weekday for a given date.",
        "tags": [
          "Date"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date to get weekday for"
          }
        ],
        "responses": {
          "200": {
            "description": "Weekday result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "weekday": {
                      "type": "string"
                    },
                    "weekday_number": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/progress": {
      "get": {
        "operationId": "calculateProgress",
        "summary": "Calculate Progress",
        "description": "Calculates progress between two timestamps.",
        "tags": [
          "Time"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Start timestamp"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "End timestamp"
          }
        ],
        "responses": {
          "200": {
            "description": "Progress calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "progress": {
                      "type": "number"
                    },
                    "elapsed": {
                      "type": "number"
                    },
                    "remaining": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/countdown/{date}": {
      "get": {
        "operationId": "getCountdown",
        "summary": "Countdown to Date",
        "description": "Calculates a countdown to a specified date.",
        "tags": [
          "Date"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Target date for countdown"
          }
        ],
        "responses": {
          "200": {
            "description": "Countdown result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "days": {
                      "type": "integer"
                    },
                    "hours": {
                      "type": "integer"
                    },
                    "minutes": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/age/{date}": {
      "get": {
        "operationId": "calculateAge",
        "summary": "Calculate Age",
        "description": "Calculates age from a birth date.",
        "tags": [
          "Date"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Birth date"
          }
        ],
        "responses": {
          "200": {
            "description": "Age calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "years": {
                      "type": "integer"
                    },
                    "months": {
                      "type": "integer"
                    },
                    "days": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/co2/{year}": {
      "get": {
        "operationId": "getCo2Level",
        "summary": "Get CO2 Level",
        "description": "Retrieves the mean CO2 level in PPM for a given year.",
        "tags": [
          "CO2"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Year to get CO2 data for"
          }
        ],
        "responses": {
          "200": {
            "description": "CO2 level result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "year": {
                      "type": "integer"
                    },
                    "co2_ppm": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/co2/reverse/{co2}": {
      "get": {
        "operationId": "estimateYearFromCo2",
        "summary": "Estimate Year from CO2",
        "description": "Estimates the year from a given CO2 level in PPM.",
        "tags": [
          "CO2"
        ],
        "parameters": [
          {
            "name": "co2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "CO2 level in PPM"
          }
        ],
        "responses": {
          "200": {
            "description": "Year estimation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "estimated_year": {
                      "type": "integer"
                    },
                    "co2_ppm": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/germanpublicholidays": {
      "get": {
        "operationId": "getGermanPublicHolidays",
        "summary": "Get German Public Holidays",
        "description": "Lists German public holidays for a given year and region.",
        "tags": [
          "Holidays"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Year to get holidays for"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "German federal state code"
          }
        ],
        "responses": {
          "200": {
            "description": "List of holidays",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "holidays": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Holiday"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/germanpublicholidays/supportedyears": {
      "get": {
        "operationId": "getSupportedYears",
        "summary": "Get Supported Years",
        "description": "Lists the years supported by the German public holidays endpoint.",
        "tags": [
          "Holidays"
        ],
        "responses": {
          "200": {
            "description": "List of supported years",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "years": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/germanpublicholidays/supportedregions": {
      "get": {
        "operationId": "getSupportedRegions",
        "summary": "Get Supported Regions",
        "description": "Lists the German federal states supported by the holidays endpoint.",
        "tags": [
          "Holidays"
        ],
        "responses": {
          "200": {
            "description": "List of supported regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "regions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Holiday": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "name": {
            "type": "string"
          },
          "regions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Time",
      "description": "Time conversion operations"
    },
    {
      "name": "Date",
      "description": "Date calculation operations"
    },
    {
      "name": "CO2",
      "description": "CO2 level data"
    },
    {
      "name": "Holidays",
      "description": "German public holidays"
    }
  ]
}