{
  "openapi": "3.0.3",
  "info": {
    "title": "TaxBandits API",
    "version": "1.0.0",
    "description": "TaxBandits API for automating tax form processing, filing, and distribution. Supports 1099, W-2, W-9/W-8, 94x, ACA, 1042-S, and more.",
    "x-jentic-source-url": "https://developer.taxbandits.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://testapi.taxbandits.com",
      "description": "Sandbox"
    },
    {
      "url": "https://api.taxbandits.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1.7.3/Auth/Token": {
      "post": {
        "operationId": "getAuthToken",
        "summary": "Get OAuth access token",
        "description": "Retrieve an access token for authenticating subsequent API calls",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.7.3/Business/Create": {
      "post": {
        "operationId": "createBusiness",
        "summary": "Create a business",
        "description": "Create a new business entity for tax filing",
        "tags": [
          "Business"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.7.3/Business/List": {
      "get": {
        "operationId": "listBusinesses",
        "summary": "List businesses",
        "tags": [
          "Business"
        ],
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List businesses"
      }
    },
    "/v1.7.3/WhCertificate/RequestByEmail": {
      "post": {
        "operationId": "requestW9ByEmail",
        "summary": "Request W-9/W-8 by email",
        "description": "Send email requests containing secure URLs for completing Form W-9 or W-8",
        "tags": [
          "W-9/W-8"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhCertificateEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhCertificateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.7.3/WhCertificate/RequestByUrl": {
      "post": {
        "operationId": "requestW9ByUrl",
        "summary": "Request W-9/W-8 by URL",
        "tags": [
          "W-9/W-8"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Request W-9/W-8 by URL"
      }
    },
    "/v1.7.3/WhCertificate/Status": {
      "get": {
        "operationId": "getW9Status",
        "summary": "Get W-9/W-8 status",
        "tags": [
          "W-9/W-8"
        ],
        "parameters": [
          {
            "name": "SubmissionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status returned"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get W-9/W-8 status"
      }
    },
    "/v1.7.3/TINMatching/Request": {
      "post": {
        "operationId": "requestTINMatching",
        "summary": "Request TIN matching",
        "description": "Validate Tax Identification Numbers against IRS database",
        "tags": [
          "TIN Matching"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TIN match results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.7.3/Form1099NEC/Create": {
      "post": {
        "operationId": "createForm1099NEC",
        "summary": "Create Form 1099-NEC",
        "tags": [
          "1099 Forms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create Form 1099-NEC"
      }
    },
    "/v1.7.3/Form1099NEC/Transmit": {
      "post": {
        "operationId": "transmitForm1099NEC",
        "summary": "Transmit Form 1099-NEC to IRS",
        "tags": [
          "1099 Forms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form transmitted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Transmit Form 1099-NEC to IRS"
      }
    },
    "/v1.7.3/FormW2/Create": {
      "post": {
        "operationId": "createFormW2",
        "summary": "Create Form W-2",
        "tags": [
          "W-2 Forms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create Form W-2"
      }
    },
    "/v1.7.3/FormW2/Transmit": {
      "post": {
        "operationId": "transmitFormW2",
        "summary": "Transmit Form W-2",
        "tags": [
          "W-2 Forms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form transmitted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Transmit Form W-2"
      }
    },
    "/v1.7.3/Form941/Create": {
      "post": {
        "operationId": "createForm941",
        "summary": "Create Form 941",
        "tags": [
          "94x Forms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create Form 941"
      }
    },
    "/v1.7.3/Form940/Create": {
      "post": {
        "operationId": "createForm940",
        "summary": "Create Form 940",
        "tags": [
          "94x Forms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create Form 940"
      }
    }
  },
  "components": {
    "schemas": {
      "AuthTokenRequest": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "user_token": {
            "type": "string"
          }
        }
      },
      "AuthTokenResponse": {
        "type": "object",
        "properties": {
          "StatusCode": {
            "type": "integer"
          },
          "AccessToken": {
            "type": "string"
          },
          "TokenType": {
            "type": "string"
          },
          "ExpiresIn": {
            "type": "integer"
          }
        }
      },
      "CreateBusinessRequest": {
        "type": "object",
        "properties": {
          "BusinessName": {
            "type": "string"
          },
          "TradeName": {
            "type": "string"
          },
          "EINOrSSN": {
            "type": "string"
          },
          "IsEIN": {
            "type": "boolean"
          },
          "BusinessType": {
            "type": "string"
          },
          "Address": {
            "type": "object"
          }
        }
      },
      "BusinessResponse": {
        "type": "object",
        "properties": {
          "BusinessId": {
            "type": "string"
          },
          "BusinessName": {
            "type": "string"
          },
          "StatusCode": {
            "type": "integer"
          },
          "StatusMessage": {
            "type": "string"
          }
        }
      },
      "WhCertificateEmailRequest": {
        "type": "object",
        "properties": {
          "SubmissionManifest": {
            "type": "object"
          },
          "IsTINMatching": {
            "type": "boolean"
          },
          "IsReminderEnabled": {
            "type": "boolean"
          },
          "ReminderSchdDays": {
            "type": "integer"
          },
          "Requester": {
            "type": "object"
          },
          "Recipients": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "CustomizationId": {
            "type": "string"
          },
          "EmailCustomizationId": {
            "type": "string"
          }
        }
      },
      "WhCertificateResponse": {
        "type": "object",
        "properties": {
          "SubmissionId": {
            "type": "string"
          },
          "Requester": {
            "type": "object"
          },
          "WhCertificate": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "StatusCode": {
            "type": "integer"
          },
          "StatusMessage": {
            "type": "string"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "string"
                },
                "Message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "1099 Forms"
    },
    {
      "name": "94x Forms"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Business"
    },
    {
      "name": "TIN Matching"
    },
    {
      "name": "W-2 Forms"
    },
    {
      "name": "W-9/W-8"
    }
  ]
}
