{
  "openapi": "3.0.3",
  "info": {
    "title": "Azure Chaos Studio",
    "version": "2025-01-01",
    "description": "Azure Chaos Studio REST API for managing chaos engineering experiments, targets, capabilities, and their types. Enables controlled fault injection to improve application resilience.",
    "x-jentic-source-url": "https://learn.microsoft.com/en-us/rest/api/chaosstudio/"
  },
  "servers": [
    {
      "url": "https://management.azure.com",
      "description": "Azure Resource Manager endpoint"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments": {
      "get": {
        "operationId": "listExperiments",
        "summary": "List experiments in a resource group",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          },
          {
            "name": "running",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter results based on whether the experiment is currently running"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Continuation token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of experiments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentListResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Chaos/experiments": {
      "get": {
        "operationId": "listAllExperiments",
        "summary": "List all experiments in a subscription",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          },
          {
            "name": "running",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by running state"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Continuation token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of experiments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentListResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments/{experimentName}": {
      "get": {
        "operationId": "getExperiment",
        "summary": "Get an experiment",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/experimentName"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "createOrUpdateExperiment",
        "summary": "Create or update an experiment",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/experimentName"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Experiment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Experiment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            }
          },
          "201": {
            "description": "Experiment created",
            "headers": {
              "Azure-AsyncOperation": {
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateExperiment",
        "summary": "Update an experiment",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/experimentName"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExperimentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Experiment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Experiment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteExperiment",
        "summary": "Delete an experiment",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/experimentName"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment deleted"
          },
          "202": {
            "description": "Deletion accepted",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "204": {
            "description": "Experiment not found"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments/{experimentName}/start": {
      "post": {
        "operationId": "startExperiment",
        "summary": "Start an experiment",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/experimentName"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "202": {
            "description": "Experiment start accepted",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments/{experimentName}/cancel": {
      "post": {
        "operationId": "cancelExperiment",
        "summary": "Cancel a running experiment",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/experimentName"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "202": {
            "description": "Experiment cancel accepted",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments/{experimentName}/executions": {
      "get": {
        "operationId": "listExperimentExecutions",
        "summary": "List all executions of an experiment",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/experimentName"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "List of experiment executions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentExecutionListResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments/{experimentName}/executions/{executionId}": {
      "get": {
        "operationId": "getExperimentExecution",
        "summary": "Get an experiment execution",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/experimentName"
          },
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The execution ID"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment execution details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentExecution"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Chaos/targets": {
      "get": {
        "operationId": "listTargets",
        "summary": "List targets for a resource",
        "tags": [
          "Targets"
        ],
        "parameters": [
          {
            "name": "resourceUri",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The resource URI to list targets for"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Continuation token"
          }
        ],
        "responses": {
          "200": {
            "description": "List of targets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetListResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Chaos/targets/{targetName}": {
      "get": {
        "operationId": "getTarget",
        "summary": "Get a target",
        "tags": [
          "Targets"
        ],
        "parameters": [
          {
            "name": "resourceUri",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The resource URI"
          },
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The target name"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Target details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Target"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "createOrUpdateTarget",
        "summary": "Create or update a target",
        "tags": [
          "Targets"
        ],
        "parameters": [
          {
            "name": "resourceUri",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The resource URI"
          },
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The target name"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Target"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Target updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Target"
                }
              }
            }
          },
          "201": {
            "description": "Target created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Target"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTarget",
        "summary": "Delete a target",
        "tags": [
          "Targets"
        ],
        "parameters": [
          {
            "name": "resourceUri",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The resource URI"
          },
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The target name"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Target deleted"
          },
          "204": {
            "description": "Target not found"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Chaos/targets/{targetName}/capabilities": {
      "get": {
        "operationId": "listCapabilities",
        "summary": "List capabilities for a target",
        "tags": [
          "Capabilities"
        ],
        "parameters": [
          {
            "name": "resourceUri",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The resource URI"
          },
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The target name"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Continuation token"
          }
        ],
        "responses": {
          "200": {
            "description": "List of capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityListResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Chaos/targets/{targetName}/capabilities/{capabilityName}": {
      "get": {
        "operationId": "getCapability",
        "summary": "Get a capability",
        "tags": [
          "Capabilities"
        ],
        "parameters": [
          {
            "name": "resourceUri",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The resource URI"
          },
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The target name"
          },
          {
            "name": "capabilityName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The capability name"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Capability details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "createOrUpdateCapability",
        "summary": "Create or update a capability",
        "tags": [
          "Capabilities"
        ],
        "parameters": [
          {
            "name": "resourceUri",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The resource URI"
          },
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The target name"
          },
          {
            "name": "capabilityName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The capability name"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Capability"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Capability updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            }
          },
          "201": {
            "description": "Capability created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCapability",
        "summary": "Delete a capability",
        "tags": [
          "Capabilities"
        ],
        "parameters": [
          {
            "name": "resourceUri",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The resource URI"
          },
          {
            "name": "targetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The target name"
          },
          {
            "name": "capabilityName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The capability name"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Capability deleted"
          },
          "204": {
            "description": "Capability not found"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Chaos/locations/{locationName}/targetTypes": {
      "get": {
        "operationId": "listTargetTypes",
        "summary": "List target types for a location",
        "tags": [
          "Target Types"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Azure region"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Continuation token"
          }
        ],
        "responses": {
          "200": {
            "description": "List of target types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetTypeListResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Chaos/locations/{locationName}/targetTypes/{targetTypeName}": {
      "get": {
        "operationId": "getTargetType",
        "summary": "Get a target type",
        "tags": [
          "Target Types"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Azure region"
          },
          {
            "name": "targetTypeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The target type name"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Target type details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetType"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Chaos/locations/{locationName}/targetTypes/{targetTypeName}/capabilityTypes": {
      "get": {
        "operationId": "listCapabilityTypes",
        "summary": "List capability types for a target type",
        "tags": [
          "Capability Types"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Azure region"
          },
          {
            "name": "targetTypeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The target type name"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Continuation token"
          }
        ],
        "responses": {
          "200": {
            "description": "List of capability types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityTypeListResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Chaos/locations/{locationName}/targetTypes/{targetTypeName}/capabilityTypes/{capabilityTypeName}": {
      "get": {
        "operationId": "getCapabilityType",
        "summary": "Get a capability type",
        "tags": [
          "Capability Types"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Azure region"
          },
          {
            "name": "targetTypeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The target type name"
          },
          {
            "name": "capabilityTypeName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The capability type name"
          },
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Capability type details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityType"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.Chaos/operations": {
      "get": {
        "operationId": "listOperations",
        "summary": "List available operations for the Chaos Studio provider",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "List of operations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "subscriptionId": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "The ID of the target subscription"
      },
      "resourceGroupName": {
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 90
        },
        "description": "The name of the resource group (case insensitive)"
      },
      "experimentName": {
        "name": "experimentName",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1,
          "pattern": "^[^<>%&:?#/\\\\]+$"
        },
        "description": "The experiment resource name"
      },
      "apiVersion": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "default": "2025-01-01"
        },
        "description": "The API version"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        }
      }
    },
    "schemas": {
      "Experiment": {
        "type": "object",
        "required": [
          "location",
          "properties"
        ],
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Fully qualified resource ID"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "Resource name"
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "Resource type"
          },
          "location": {
            "type": "string",
            "description": "Geo-location where the resource lives"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          },
          "identity": {
            "$ref": "#/components/schemas/ManagedServiceIdentity"
          },
          "properties": {
            "type": "object",
            "required": [
              "steps",
              "selectors"
            ],
            "properties": {
              "provisioningState": {
                "type": "string",
                "readOnly": true,
                "enum": [
                  "Succeeded",
                  "Failed",
                  "Canceled",
                  "Creating",
                  "Updating",
                  "Deleting"
                ],
                "description": "Provisioning state"
              },
              "steps": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ChaosExperimentStep"
                },
                "description": "List of steps"
              },
              "selectors": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ChaosTargetSelector"
                },
                "description": "List of selectors"
              }
            }
          },
          "systemData": {
            "$ref": "#/components/schemas/SystemData"
          }
        }
      },
      "ExperimentUpdate": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "identity": {
            "$ref": "#/components/schemas/ManagedServiceIdentity"
          }
        }
      },
      "ExperimentListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Experiment"
            }
          },
          "nextLink": {
            "type": "string",
            "format": "uri",
            "description": "Link to next page"
          }
        }
      },
      "ExperimentExecution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "readOnly": true
          },
          "properties": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Execution status"
              },
              "startedAt": {
                "type": "string",
                "format": "date-time"
              },
              "stoppedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "ExperimentExecutionListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperimentExecution"
            }
          },
          "nextLink": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ChaosExperimentStep": {
        "type": "object",
        "required": [
          "name",
          "branches"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Step name"
          },
          "branches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChaosExperimentBranch"
            },
            "description": "List of branches"
          }
        }
      },
      "ChaosExperimentBranch": {
        "type": "object",
        "required": [
          "name",
          "actions"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Branch name"
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChaosExperimentAction"
            },
            "description": "List of actions"
          }
        }
      },
      "ChaosExperimentAction": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 2048,
            "description": "Capability URN"
          },
          "type": {
            "type": "string",
            "enum": [
              "continuous",
              "discrete",
              "delay"
            ],
            "description": "Action type"
          },
          "duration": {
            "type": "string",
            "description": "ISO8601 duration"
          },
          "selectorId": {
            "type": "string",
            "minLength": 1,
            "description": "Selector ID"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValuePair"
            },
            "description": "Action parameters"
          }
        }
      },
      "ChaosTargetSelector": {
        "type": "object",
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "Selector ID"
          },
          "type": {
            "type": "string",
            "enum": [
              "List",
              "Query"
            ],
            "description": "Selector type"
          },
          "targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TargetReference"
            },
            "description": "List of target references (for List type)"
          },
          "queryString": {
            "type": "string",
            "description": "ARG query (for Query type)"
          },
          "subscriptionIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Subscription IDs to scope query"
          },
          "filter": {
            "$ref": "#/components/schemas/ChaosTargetSimpleFilter"
          }
        }
      },
      "TargetReference": {
        "type": "object",
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Resource ID of the target"
          },
          "type": {
            "type": "string",
            "enum": [
              "ChaosTarget"
            ],
            "description": "Reference type"
          }
        }
      },
      "ChaosTargetSimpleFilter": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Simple"
            ]
          },
          "parameters": {
            "type": "object",
            "properties": {
              "zones": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Availability zones to filter by"
              }
            }
          }
        }
      },
      "KeyValuePair": {
        "type": "object",
        "required": [
          "key",
          "value"
        ],
        "properties": {
          "key": {
            "type": "string",
            "minLength": 1,
            "description": "Setting name"
          },
          "value": {
            "type": "string",
            "minLength": 1,
            "description": "Setting value"
          }
        }
      },
      "ManagedServiceIdentity": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "principalId": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "tenantId": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "enum": [
              "None",
              "SystemAssigned",
              "UserAssigned",
              "SystemAssigned,UserAssigned"
            ],
            "description": "Identity type"
          },
          "userAssignedIdentities": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/UserAssignedIdentity"
            }
          }
        }
      },
      "UserAssignedIdentity": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "principalId": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          }
        }
      },
      "Target": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "readOnly": true
          },
          "location": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "description": "Target-specific properties"
          },
          "systemData": {
            "$ref": "#/components/schemas/SystemData"
          }
        }
      },
      "TargetListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Target"
            }
          },
          "nextLink": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Capability": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "readOnly": true
          },
          "properties": {
            "type": "object",
            "properties": {
              "publisher": {
                "type": "string",
                "readOnly": true
              },
              "targetType": {
                "type": "string",
                "readOnly": true
              },
              "description": {
                "type": "string",
                "readOnly": true
              }
            }
          },
          "systemData": {
            "$ref": "#/components/schemas/SystemData"
          }
        }
      },
      "CapabilityListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Capability"
            }
          },
          "nextLink": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "TargetType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "readOnly": true
          },
          "location": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "readOnly": true
              },
              "description": {
                "type": "string",
                "readOnly": true
              },
              "propertiesSchema": {
                "type": "string",
                "readOnly": true
              },
              "resourceTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "readOnly": true
              }
            }
          },
          "systemData": {
            "$ref": "#/components/schemas/SystemData"
          }
        }
      },
      "TargetTypeListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TargetType"
            }
          },
          "nextLink": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "CapabilityType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "readOnly": true
          },
          "location": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "properties": {
              "publisher": {
                "type": "string",
                "readOnly": true
              },
              "targetType": {
                "type": "string",
                "readOnly": true
              },
              "displayName": {
                "type": "string",
                "readOnly": true
              },
              "description": {
                "type": "string",
                "readOnly": true
              },
              "parametersSchema": {
                "type": "string",
                "readOnly": true
              },
              "urn": {
                "type": "string",
                "readOnly": true
              },
              "kind": {
                "type": "string",
                "readOnly": true
              },
              "azureRbacActions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "readOnly": true
              },
              "azureRbacDataActions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "readOnly": true
              },
              "runtimeProperties": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          },
          "systemData": {
            "$ref": "#/components/schemas/SystemData"
          }
        }
      },
      "CapabilityTypeListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CapabilityType"
            }
          },
          "nextLink": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "OperationListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "display": {
                  "type": "object",
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "resource": {
                      "type": "string"
                    },
                    "operation": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                },
                "isDataAction": {
                  "type": "boolean"
                }
              }
            }
          },
          "nextLink": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "SystemData": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "createdByType": {
            "type": "string",
            "enum": [
              "User",
              "Application",
              "ManagedIdentity",
              "Key"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastModifiedBy": {
            "type": "string"
          },
          "lastModifiedByType": {
            "type": "string",
            "enum": [
              "User",
              "Application",
              "ManagedIdentity",
              "Key"
            ]
          },
          "lastModifiedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "target": {
            "type": "string",
            "description": "Error target"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            }
          },
          "additionalInfo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "info": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}