{
  "openapi": "3.0.3",
  "info": {
    "title": "NCI Syndication API",
    "version": "2.0.0",
    "description": "NCI provides multiple public APIs including the Clinical Trials Search API, Glossary API, Drug Dictionary API, Sitewide Search API, Best Bets API, and R4R (Resources for Researchers) API.",
    "x-jentic-source-url": "https://www.cancer.gov/syndication/api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://clinicaltrialsapi.cancer.gov/api/v2",
      "description": "Clinical Trials API"
    },
    {
      "url": "https://webapis.cancer.gov",
      "description": "NCI Web APIs"
    }
  ],
  "paths": {
    "/trials": {
      "get": {
        "operationId": "searchTrials",
        "summary": "Search clinical trials",
        "description": "Search for clinical trials from the CTRP database.",
        "tags": [
          "Clinical Trials"
        ],
        "servers": [
          {
            "url": "https://clinicaltrialsapi.cancer.gov/api/v2"
          }
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Pagination offset",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trials/{nci_id}": {
      "get": {
        "operationId": "getTrial",
        "summary": "Get a clinical trial by NCI ID",
        "description": "Retrieve details for a specific clinical trial.",
        "tags": [
          "Clinical Trials"
        ],
        "servers": [
          {
            "url": "https://clinicaltrialsapi.cancer.gov/api/v2"
          }
        ],
        "parameters": [
          {
            "name": "nci_id",
            "in": "path",
            "required": true,
            "description": "NCI trial identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trial"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/glossary/v1/Terms": {
      "get": {
        "operationId": "searchGlossaryTerms",
        "summary": "Search glossary terms",
        "description": "Search the NCI dictionary/glossary.",
        "tags": [
          "Glossary"
        ],
        "servers": [
          {
            "url": "https://webapis.cancer.gov"
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search term",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Offset",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlossaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/drugdictionary/v1/Drugs": {
      "get": {
        "operationId": "searchDrugs",
        "summary": "Search drug dictionary",
        "description": "Search the NCI drug dictionary.",
        "tags": [
          "Drug Dictionary"
        ],
        "servers": [
          {
            "url": "https://webapis.cancer.gov"
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search term",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Offset",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DrugDictionaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sitewidesearch/v1/Search": {
      "get": {
        "operationId": "sitewideSearch",
        "summary": "Sitewide search",
        "description": "Search across the cancer.gov website content.",
        "tags": [
          "Search"
        ],
        "servers": [
          {
            "url": "https://webapis.cancer.gov"
          }
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "Search term",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Offset",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bestbets/v1/BestBets": {
      "get": {
        "operationId": "getBestBets",
        "summary": "Get best bets",
        "description": "Retrieve best bets (promoted search results) for a given term.",
        "tags": [
          "Search"
        ],
        "servers": [
          {
            "url": "https://webapis.cancer.gov"
          }
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "Search term",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/r4r/v1/Resources": {
      "get": {
        "operationId": "searchR4RResources",
        "summary": "Search R4R resources",
        "description": "Search resources for researchers (R4R).",
        "tags": [
          "R4R"
        ],
        "servers": [
          {
            "url": "https://webapis.cancer.gov"
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Offset",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TrialSearchResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "trials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trial"
            }
          }
        }
      },
      "Trial": {
        "type": "object",
        "properties": {
          "nci_id": {
            "type": "string"
          },
          "nct_id": {
            "type": "string"
          },
          "brief_title": {
            "type": "string"
          },
          "official_title": {
            "type": "string"
          },
          "brief_summary": {
            "type": "string"
          },
          "current_trial_status": {
            "type": "string"
          },
          "phase": {
            "type": "object",
            "properties": {
              "phase": {
                "type": "string"
              }
            }
          },
          "principal_investigator": {
            "type": "string"
          }
        }
      },
      "GlossaryResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "totalResults": {
                "type": "integer"
              },
              "from": {
                "type": "integer"
              }
            }
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "termId": {
                  "type": "integer"
                },
                "termName": {
                  "type": "string"
                },
                "definition": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DrugDictionaryResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "totalResults": {
                "type": "integer"
              },
              "from": {
                "type": "integer"
              }
            }
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "termId": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "definition": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SearchResultsResponse": {
        "type": "object",
        "properties": {
          "totalResults": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API key for authentication"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Clinical Trials"
    },
    {
      "name": "Drug Dictionary"
    },
    {
      "name": "Glossary"
    },
    {
      "name": "R4R"
    },
    {
      "name": "Search"
    }
  ]
}
