{
  "openapi": "3.0.0",
  "info": {
    "description": "These APIs allow end users to operate on Azure Machine Learning Team Account resources. They support CRUD operations for Azure Machine Learning Team Accounts.",
    "title": "ML Team Account Management Client",
    "version": "2017-05-01-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/machinelearningexperimentation-machineLearningExperimentation/2017-05-01-preview/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/machineLearningExperimentation.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "machinelearningexperimentation-machineLearningExperimentation",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.MachineLearningExperimentation/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Operation"
        ],
        "description": "Lists all of the available Azure Machine Learning Team Accounts REST API operations.",
        "operationId": "Operations_List",
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningExperimentation/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Lists all the available machine learning team accounts under the specified subscription.",
        "operationId": "Accounts_List",
        "x-ms-examples": {
          "AccountCreate": {
            "parameters": {
              "api-version": "2017-05-01-preview",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678",
                      "location": "East US",
                      "name": "accountcrud5678",
                      "properties": {
                        "creationDate": "2017-03-01 23:14:37.070780+00:00",
                        "discoveryUri": "http://example.com",
                        "keyVaultId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv",
                        "provisioningState": "Succeeded",
                        "seats": "2",
                        "storageAccount": {
                          "accessKey": "key",
                          "storageAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                        },
                        "vsoAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest"
                      },
                      "type": "Microsoft.MachineLearningExperimentation/accounts"
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-4321/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud8765",
                      "location": "East US",
                      "name": "accountcrud8765",
                      "properties": {
                        "creationDate": "2017-03-02 23:14:37.070780+00:00",
                        "discoveryUri": "http://example.com",
                        "keyVaultId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv",
                        "provisioningState": "Succeeded",
                        "seats": "2",
                        "storageAccount": {
                          "accessKey": "key",
                          "storageAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                        },
                        "vsoAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest1"
                      },
                      "type": "Microsoft.MachineLearningExperimentation/accounts"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Lists all the available machine learning team accounts under the specified resource group.",
        "operationId": "Accounts_ListByResourceGroup",
        "x-ms-examples": {
          "AccountCreate": {
            "parameters": {
              "api-version": "2017-05-01-preview",
              "resourceGroupName": "accountcrud-1234",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud-5678",
                      "location": "East US",
                      "name": "accountcrud-5678",
                      "properties": {
                        "creationDate": "2017-03-01 23:14:37.070780+00:00",
                        "discoveryUri": "http://example.com",
                        "keyVaultId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv",
                        "provisioningState": "Succeeded",
                        "seats": "2",
                        "storageAccount": {
                          "accessKey": "key",
                          "storageAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                        },
                        "vsoAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest"
                      },
                      "type": "Microsoft.MachineLearningExperimentation/accounts"
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud-8765",
                      "location": "East US",
                      "name": "accountcrud-8765",
                      "properties": {
                        "creationDate": "2017-03-02 23:14:37.070780+00:00",
                        "discoveryUri": "http://example.com",
                        "keyVaultId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv",
                        "provisioningState": "Succeeded",
                        "seats": "2",
                        "storageAccount": {
                          "accessKey": "key",
                          "storageAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                        },
                        "vsoAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest1"
                      },
                      "type": "Microsoft.MachineLearningExperimentation/accounts"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "204": {
            "description": "The machine learning team account does not exist in the subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Deletes a machine learning team account.",
        "operationId": "Accounts_Delete",
        "x-ms-examples": {
          "AccountCreate": {
            "parameters": {
              "accountName": "myAccount",
              "api-version": "2017-05-01-preview",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Gets the properties of the specified machine learning team account.",
        "operationId": "Accounts_Get",
        "x-ms-examples": {
          "AccountGet": {
            "parameters": {
              "accountName": "accountcrud5678",
              "api-version": "2017-05-01-preview",
              "resourceGroupName": "accountcrud-1234",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678",
                  "location": "East US",
                  "name": "accountcrud5678",
                  "properties": {
                    "creationDate": "2017-03-01 23:14:37.070780+00:00",
                    "discoveryUri": "http://example.com",
                    "keyVaultId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv1",
                    "provisioningState": "Succeeded",
                    "seats": "2",
                    "storageAccount": {
                      "accessKey": "key",
                      "storageAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                    },
                    "vsoAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest"
                  },
                  "type": "Microsoft.MachineLearningExperimentation/accounts"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Updates a machine learning team account with the specified parameters.",
        "operationId": "Accounts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateParameters"
              }
            }
          },
          "description": "The parameters for updating a machine learning team account.",
          "required": true
        },
        "x-ms-examples": {
          "AccountUpdate": {
            "parameters": {
              "parameters": {
                "tags": {
                  "tagKey1": "TagValue1"
                },
                "properties": {
                  "description": "new description"
                }
              },
              "accountName": "accountcrud5678",
              "api-version": "2017-05-01-preview",
              "resourceGroupName": "accountcrud-1234",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678",
                  "location": "East US",
                  "name": "accountcrud5678",
                  "properties": {
                    "creationDate": "2017-03-01 23:14:37.070780+00:00",
                    "description": "new description",
                    "discoveryUri": "http://example.com",
                    "keyVaultId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv1",
                    "provisioningState": "Succeeded",
                    "seats": "2",
                    "storageAccount": {
                      "accessKey": "key",
                      "storageAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                    },
                    "vsoAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest"
                  },
                  "type": "Microsoft.MachineLearningExperimentation/accounts"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "The request was successful; the resource already exists and was updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Creates or updates a team account with the specified parameters.",
        "operationId": "Accounts_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "description": "The parameters for creating or updating a machine learning team account.",
          "required": true
        },
        "x-ms-examples": {
          "AccountCreate": {
            "parameters": {
              "parameters": {
                "tags": {
                  "tagKey1": "TagValue1"
                },
                "location": "East US",
                "properties": {
                  "keyVaultId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv",
                  "storageAccount": {
                    "accessKey": "key",
                    "storageAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                  },
                  "vsoAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest"
                }
              },
              "accountName": "accountcrud5678",
              "api-version": "2017-05-01-preview",
              "resourceGroupName": "accountcrud-1234",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678",
                  "location": "East US",
                  "name": "accountcrud5678",
                  "properties": {
                    "creationDate": "2017-03-01 23:14:37.070780+00:00",
                    "discoveryUri": "http://example.com",
                    "keyVaultId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv",
                    "provisioningState": "Succeeded",
                    "storageAccount": {
                      "accessKey": "key",
                      "storageAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                    },
                    "vsoAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest"
                  },
                  "type": "Microsoft.MachineLearningExperimentation/accounts"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678",
                  "location": "East US",
                  "name": "accountcrud5678",
                  "properties": {
                    "creationDate": "2017-03-01 23:14:37.070780+00:00",
                    "discoveryUri": "http://example.com",
                    "keyVaultId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv",
                    "provisioningState": "Succeeded",
                    "seats": "2",
                    "storageAccount": {
                      "accessKey": "key",
                      "storageAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount"
                    },
                    "vsoAccountId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest"
                  },
                  "type": "Microsoft.MachineLearningExperimentation/accounts"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Lists all the available machine learning workspaces under the specified team account.",
        "operationId": "Workspaces_ListByAccounts",
        "x-ms-examples": {
          "ListWorkspacesByAccounts": {
            "parameters": {
              "accountName": "testaccount",
              "api-version": "2017-05-01-preview",
              "resourceGroupName": "accountcrud-1234",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {
                        "tagKey1": "TagValue1"
                      },
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace",
                      "location": "East US",
                      "name": "testworkspace",
                      "properties": {
                        "creationDate": "2017-03-01 23:14:37.070780+00:00",
                        "friendlyName": "testName",
                        "provisioningState": "Succeeded"
                      },
                      "type": "Microsoft.MachineLearningExperimentation/accounts/workspaces"
                    },
                    {
                      "tags": {
                        "tagKey1": "TagValue1"
                      },
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace1",
                      "location": "East US",
                      "name": "testworkspace1",
                      "properties": {
                        "creationDate": "2017-03-01 23:14:37.070780+00:00",
                        "friendlyName": "testName1",
                        "provisioningState": "Succeeded"
                      },
                      "type": "Microsoft.MachineLearningExperimentation/accounts/workspaces"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces/{workspaceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "204": {
            "description": "The machine learning workspace does not exist in the subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Deletes a machine learning workspace.",
        "operationId": "Workspaces_Delete",
        "x-ms-examples": {
          "WorkspaceDelete": {
            "parameters": {
              "accountName": "myAccount",
              "api-version": "2017-05-01-preview",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Gets the properties of the specified machine learning workspace.",
        "operationId": "Workspaces_Get",
        "x-ms-examples": {
          "WorkspaceGet": {
            "parameters": {
              "accountName": "accountcrud5678",
              "api-version": "2017-05-01-preview",
              "resourceGroupName": "accountcrud-1234",
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace",
                  "location": "East US 2 EUAP",
                  "name": "testworkspace",
                  "properties": {
                    "creationDate": "2017-03-01 23:14:37.070780+00:00",
                    "friendlyName": "testName",
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.MachineLearningExperimentation/accounts/workspaces"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Updates a machine learning workspace with the specified parameters.",
        "operationId": "Workspaces_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUpdateParameters"
              }
            }
          },
          "description": "The parameters for updating a machine learning workspace.",
          "required": true
        },
        "x-ms-examples": {
          "WorkspaceUpdate": {
            "parameters": {
              "parameters": {
                "properties": {
                  "friendlyName": "testNameNew"
                }
              },
              "accountName": "accountcrud5678",
              "api-version": "2017-05-01-preview",
              "resourceGroupName": "accountcrud-1234",
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace",
                  "location": "East US 2 EUAP",
                  "name": "accountcrud5678",
                  "properties": {
                    "creationDate": "2017-03-01 23:14:37.070780+00:00",
                    "friendlyName": "testNameNew",
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.MachineLearningExperimentation/accounts/workspaces"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            },
            "description": "The request was successful; the resource already exists and was updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Workspaces"
        ],
        "description": "Creates or updates a machine learning workspace with the specified parameters.",
        "operationId": "Workspaces_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Workspace"
              }
            }
          },
          "description": "The parameters for creating or updating a machine learning workspace.",
          "required": true
        },
        "x-ms-examples": {
          "WorkspaceCreate": {
            "parameters": {
              "parameters": {
                "tags": {
                  "tagKey1": "TagValue1"
                },
                "location": "East US",
                "properties": {
                  "friendlyName": "testName"
                }
              },
              "accountName": "testaccount",
              "api-version": "2017-05-01-preview",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace",
                  "location": "East US",
                  "name": "testworkspace",
                  "properties": {
                    "creationDate": "2017-03-01 23:14:37.070780+00:00",
                    "friendlyName": "testName",
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.MachineLearningExperimentation/accounts/workspaces"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace",
                  "location": "East US",
                  "name": "testworkspace",
                  "properties": {
                    "creationDate": "2017-03-01 23:14:37.070780+00:00",
                    "friendlyName": "testName",
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.MachineLearningExperimentation/accounts/workspaces"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces/{workspaceName}/projects/{projectName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ProjectNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "204": {
            "description": "The machine learning team account does not exist in the subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Projects"
        ],
        "description": "Deletes a project.",
        "operationId": "Projects_Delete",
        "x-ms-examples": {
          "AccountCreate": {
            "parameters": {
              "accountName": "myAccount",
              "api-version": "2017-05-01-preview",
              "projectName": "testProject",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ProjectNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Projects"
        ],
        "description": "Gets the properties of the specified machine learning project.",
        "operationId": "Projects_Get",
        "x-ms-examples": {
          "GetProject": {
            "parameters": {
              "accountName": "accountcrud5678",
              "api-version": "2017-05-01-preview",
              "projectName": "testProject",
              "resourceGroupName": "accountcrud-1234",
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace/projects/testProject",
                  "location": "East US 2",
                  "name": "testProject",
                  "properties": {
                    "creationDate": "2017-03-01 23:14:37.070780+00:00",
                    "friendlyName": "testName",
                    "gitrepo": "https://github/abc",
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.MachineLearningExperimentation/accounts/workspaces/projects"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ProjectNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Projects"
        ],
        "description": "Updates a project with the specified parameters.",
        "operationId": "Projects_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateParameters"
              }
            }
          },
          "description": "The parameters for updating a machine learning team account.",
          "required": true
        },
        "x-ms-examples": {
          "UpdateProject": {
            "parameters": {
              "parameters": {
                "tags": {
                  "tagKey1": "TagValue1"
                },
                "properties": {
                  "friendlyName": "testName"
                }
              },
              "accountName": "accountcrud5678",
              "api-version": "2017-05-01-preview",
              "projectName": "testProject",
              "resourceGroupName": "accountcrud-1234",
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace/projects/testProject",
                  "location": "East US",
                  "name": "accountcrud5678",
                  "properties": {
                    "creationDate": "2017-03-01 23:14:37.070780+00:00",
                    "friendlyName": "testName",
                    "gitrepo": "https://github/abc",
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.MachineLearningExperimentation/accounts/workspaces/projects"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ProjectNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            },
            "description": "The request was successful; the resource already exists and was updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Projects"
        ],
        "description": "Creates or updates a project with the specified parameters.",
        "operationId": "Projects_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            }
          },
          "description": "The parameters for creating or updating a project.",
          "required": true
        },
        "x-ms-examples": {
          "CreateProject": {
            "parameters": {
              "parameters": {
                "tags": {
                  "tagKey1": "TagValue1"
                },
                "location": "East US",
                "properties": {
                  "friendlyName": "testName",
                  "gitrepo": "https://github/abc"
                }
              },
              "accountName": "testaccount",
              "api-version": "2017-05-01-preview",
              "projectName": "testProject",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace/projects/testProject",
                  "location": "East US",
                  "name": "testProject",
                  "properties": {
                    "creationDate": "2017-03-01 23:14:37.070780+00:00",
                    "friendlyName": "testName",
                    "gitrepo": "https://github/abc",
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.MachineLearningExperimentation/accounts/workspaces/projects"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace/projects/testProject",
                  "location": "East US",
                  "name": "teamAccountcrud5678",
                  "properties": {
                    "creationDate": "2017-03-01 23:14:37.070780+00:00",
                    "friendlyName": "testName",
                    "gitrepo": "https://github/abc",
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.MachineLearningExperimentation/accounts/workspaces/projects"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces{workspaceName}/projects": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectListResult"
                }
              }
            },
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed"
          }
        },
        "tags": [
          "Projects"
        ],
        "description": "Lists all the available machine learning projects under the specified workspace.",
        "operationId": "Projects_ListByWorkspace",
        "x-ms-examples": {
          "ProjectListByWorkspaces": {
            "parameters": {
              "accountName": "testaccount",
              "api-version": "2017-05-01-preview",
              "resourceGroupName": "testrg",
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "workspaceName": "testworkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {
                        "tagKey1": "TagValue1"
                      },
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace/projects/testProject",
                      "location": "East US",
                      "name": "testProject",
                      "properties": {
                        "creationDate": "2017-03-01 23:14:37.070780+00:00",
                        "friendlyName": "testName",
                        "gitrepo": "https://github/abc",
                        "provisioningState": "Succeeded"
                      },
                      "type": "Microsoft.MachineLearningExperimentation/accounts/workspaces/projects"
                    },
                    {
                      "tags": {
                        "tagKey1": "TagValue1"
                      },
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace/projects/testProject1",
                      "location": "East US",
                      "name": "testProject1",
                      "properties": {
                        "creationDate": "2017-03-01 23:14:37.070780+00:00",
                        "friendlyName": "testName1",
                        "gitrepo": "https://github/def",
                        "provisioningState": "Succeeded"
                      },
                      "type": "Microsoft.MachineLearningExperimentation/accounts/workspaces/projects"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AccountNameParameter": {
        "description": "The name of the machine learning team account.",
        "in": "path",
        "name": "accountName",
        "required": true,
        "schema": {
          "maxLength": 50,
          "minLength": 5,
          "pattern": "^[a-zA-Z0-9]*$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ApiVersionParameter": {
        "description": "The client API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ProjectNameParameter": {
        "description": "The name of the machine learning project under a team account workspace.",
        "in": "path",
        "name": "projectName",
        "required": true,
        "schema": {
          "maxLength": 50,
          "minLength": 5,
          "pattern": "^[a-zA-Z0-9]*$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupParameter": {
        "description": "The name of the resource group to which the machine learning team account belongs.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "The Microsoft Azure subscription ID.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "WorkspaceNameParameter": {
        "description": "The name of the machine learning team account workspace.",
        "in": "path",
        "name": "workspaceName",
        "required": true,
        "schema": {
          "maxLength": 50,
          "minLength": 5,
          "pattern": "^[a-zA-Z0-9]*$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "Account": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "An object that represents a machine learning team account.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/AccountProperties",
            "description": "The properties of the machine learning team account.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AccountListResult": {
        "description": "The result of a request to list machine learning team accounts.",
        "properties": {
          "nextLink": {
            "description": "The URI that can be used to request the next list of machine learning team accounts.",
            "type": "string"
          },
          "value": {
            "description": "The list of machine learning team accounts. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning team accounts.",
            "items": {
              "$ref": "#/components/schemas/Account"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AccountProperties": {
        "description": "The properties of a machine learning team account.",
        "properties": {
          "accountId": {
            "description": "The immutable id associated with this team account.",
            "readOnly": true,
            "type": "string"
          },
          "creationDate": {
            "description": "The creation date of the machine learning team account in ISO8601 format.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "description": {
            "description": "The description of this workspace.",
            "type": "string"
          },
          "discoveryUri": {
            "description": "The uri for this machine learning team account.",
            "readOnly": true,
            "type": "string"
          },
          "friendlyName": {
            "description": "The friendly name for this workspace. This will be the workspace name in the arm id when the workspace object gets created",
            "type": "string"
          },
          "keyVaultId": {
            "description": "The fully qualified arm id of the user key vault.",
            "type": "string"
          },
          "provisioningState": {
            "description": "The current deployment state of team account resource. The provisioningState is to indicate states for resource provisioning.",
            "enum": [
              "Creating",
              "Succeeded",
              "Updating",
              "Deleting",
              "Failed"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "ProvisioningState"
            }
          },
          "seats": {
            "description": "The no of users/seats who can access this team account. This property defines the charge on the team account.",
            "type": "string"
          },
          "storageAccount": {
            "$ref": "#/components/schemas/StorageAccountProperties",
            "description": "The properties of the storage account for the machine learning team account."
          },
          "vsoAccountId": {
            "description": "The fully qualified arm id of the vso account to be used for this team account.",
            "type": "string"
          }
        },
        "required": [
          "storageAccount",
          "vsoAccountId",
          "keyVaultId"
        ],
        "type": "object"
      },
      "AccountPropertiesUpdateParameters": {
        "description": "The parameters for updating the properties of a machine learning team account.",
        "properties": {
          "description": {
            "description": "The description of this workspace.",
            "type": "string"
          },
          "friendlyName": {
            "description": "The friendly name for this workspace. This will be the workspace name in the arm id when the workspace object gets created",
            "type": "string"
          },
          "seats": {
            "description": "The no of users/seats who can access this team account. This property defines the charge on the team account.",
            "type": "string"
          },
          "storageAccountKey": {
            "description": "The key for storage account associated with this team account",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AccountUpdateParameters": {
        "description": "The parameters for updating a machine learning team account.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The resource tags for the machine learning team account.",
            "type": "object"
          },
          "properties": {
            "$ref": "#/components/schemas/AccountPropertiesUpdateParameters",
            "description": "The properties that the machine learning team account will be updated with.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "The error response send when an operation fails.",
        "properties": {
          "code": {
            "description": "error code",
            "type": "string"
          },
          "message": {
            "description": "error message",
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      },
      "Operation": {
        "description": "Azure Machine Learning team account REST API operation",
        "properties": {
          "display": {
            "description": "Display name of operation",
            "properties": {
              "description": {
                "description": "The description for the operation.",
                "type": "string"
              },
              "operation": {
                "description": "The operation that users can perform.",
                "type": "string"
              },
              "provider": {
                "description": "The resource provider name: Microsoft.MachineLearningExperimentation",
                "type": "string"
              },
              "resource": {
                "description": "The resource on which the operation is performed.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationListResult": {
        "description": "An array of operations supported by the resource provider.",
        "properties": {
          "value": {
            "description": "List of AML team account operations supported by the AML team account resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Project": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "An object that represents a machine learning project.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ProjectProperties",
            "description": "The properties of the Project.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ProjectListResult": {
        "description": "The result of a request to list projects.",
        "properties": {
          "nextLink": {
            "description": "The URI that can be used to request the next list of projects.",
            "type": "string"
          },
          "value": {
            "description": "The list of projects. Since this list may be incomplete, the nextLink field should be used to request the next list of projects.",
            "items": {
              "$ref": "#/components/schemas/Project"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ProjectProperties": {
        "description": "The properties of a machine learning project.",
        "properties": {
          "accountId": {
            "description": "The immutable id of the team account which contains this project.",
            "readOnly": true,
            "type": "string"
          },
          "creationDate": {
            "description": "The creation date of the project in ISO8601 format.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "description": {
            "description": "The description of this project.",
            "type": "string"
          },
          "friendlyName": {
            "description": "The friendly name for this project.",
            "type": "string"
          },
          "gitrepo": {
            "description": "The reference to git repo for this project.",
            "type": "string"
          },
          "projectId": {
            "description": "The immutable id of this project.",
            "readOnly": true,
            "type": "string"
          },
          "provisioningState": {
            "description": "The current deployment state of project resource. The provisioningState is to indicate states for resource provisioning.",
            "enum": [
              "Creating",
              "Succeeded",
              "Updating",
              "Deleting",
              "Failed"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "ProvisioningState"
            }
          },
          "workspaceId": {
            "description": "The immutable id of the workspace which contains this project.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "friendlyName"
        ],
        "type": "object"
      },
      "ProjectPropertiesUpdateParameters": {
        "description": "The parameters for updating the properties of a project.",
        "properties": {
          "description": {
            "description": "The description of this project.",
            "type": "string"
          },
          "friendlyName": {
            "description": "The friendly name for this project.",
            "type": "string"
          },
          "gitrepo": {
            "description": "The reference to git repo for this project.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProjectUpdateParameters": {
        "description": "The parameters for updating a machine learning project.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The resource tags for the machine learning project.",
            "type": "object"
          },
          "properties": {
            "$ref": "#/components/schemas/ProjectPropertiesUpdateParameters",
            "description": "The properties that the project will be updated with.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "An Azure resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The tags of the resource.",
            "type": "object"
          },
          "id": {
            "description": "The resource ID.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "The location of the resource. This cannot be changed after the resource is created.",
            "type": "string"
          },
          "name": {
            "description": "The name of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "The type of the resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "StorageAccountProperties": {
        "description": "The properties of a storage account for a machine learning team account.",
        "properties": {
          "accessKey": {
            "description": "The access key to the storage account.",
            "type": "string"
          },
          "storageAccountId": {
            "description": "The fully qualified arm Id of the storage account.",
            "type": "string"
          }
        },
        "required": [
          "storageAccountId",
          "accessKey"
        ],
        "type": "object"
      },
      "Workspace": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "An object that represents a machine learning team account workspace.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/WorkspaceProperties",
            "description": "The properties of the machine learning team account workspace.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "WorkspaceListResult": {
        "description": "The result of a request to list machine learning team account workspaces.",
        "properties": {
          "nextLink": {
            "description": "The URI that can be used to request the next list of machine learning workspaces.",
            "type": "string"
          },
          "value": {
            "description": "The list of machine learning team account workspaces. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning team accounts.",
            "items": {
              "$ref": "#/components/schemas/Workspace"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "WorkspaceProperties": {
        "description": "The properties of a machine learning team account workspace.",
        "properties": {
          "accountId": {
            "description": "The immutable id of the team account which contains this workspace.",
            "readOnly": true,
            "type": "string"
          },
          "creationDate": {
            "description": "The creation date of the machine learning workspace in ISO8601 format.",
            "format": "date-time",
            "readOnly": true,
            "type": "string"
          },
          "description": {
            "description": "The description of this workspace.",
            "type": "string"
          },
          "friendlyName": {
            "description": "The friendly name for this workspace. This will be the workspace name in the arm id when the workspace object gets created",
            "type": "string"
          },
          "provisioningState": {
            "description": "The current deployment state of team account workspace resource. The provisioningState is to indicate states for resource provisioning.",
            "enum": [
              "Creating",
              "Succeeded",
              "Updating",
              "Deleting",
              "Failed"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": false,
              "name": "ProvisioningState"
            }
          },
          "workspaceId": {
            "description": "The immutable id of this workspace.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "friendlyName"
        ],
        "type": "object"
      },
      "WorkspacePropertiesUpdateParameters": {
        "description": "The parameters for updating the properties of a machine learning team account workspace.",
        "properties": {
          "description": {
            "description": "Description for this workspace.",
            "type": "string"
          },
          "friendlyName": {
            "description": "Friendly name of this workspace.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "WorkspaceUpdateParameters": {
        "description": "The parameters for updating a machine learning team account workspace.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The resource tags for the machine learning team account workspace.",
            "type": "object"
          },
          "properties": {
            "$ref": "#/components/schemas/WorkspacePropertiesUpdateParameters",
            "description": "The properties that the machine learning workspace will be updated with.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}