{
  "openapi": "3.0.3",
  "info": {
    "title": "Trune API",
    "version": "1.0.0",
    "description": "Trune retrospective and agile team collaboration API. Manage retrospectives, action items, and team feedback.",
    "x-jentic-source-url": "https://www.app.trune.io/swagger-ui/#/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.trune.io/v1",
      "description": "Production API server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Retrospectives",
      "description": "Retrospective management"
    },
    {
      "name": "Action Items",
      "description": "Action item tracking"
    },
    {
      "name": "Teams",
      "description": "Team management"
    }
  ],
  "paths": {
    "/retrospectives": {
      "get": {
        "tags": [
          "Retrospectives"
        ],
        "summary": "List retrospectives",
        "operationId": "listRetrospectives",
        "parameters": [
          {
            "name": "team_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "in_progress",
                "completed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of retrospectives",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Retrospective"
                  }
                }
              }
            }
          }
        },
        "description": "List retrospectives"
      },
      "post": {
        "tags": [
          "Retrospectives"
        ],
        "summary": "Create retrospective",
        "operationId": "createRetrospective",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrospectiveInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Retrospective created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Retrospective"
                }
              }
            }
          }
        },
        "description": "Create retrospective"
      }
    },
    "/retrospectives/{retroId}": {
      "get": {
        "tags": [
          "Retrospectives"
        ],
        "summary": "Get retrospective",
        "operationId": "getRetrospective",
        "parameters": [
          {
            "name": "retroId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrospective details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Retrospective"
                }
              }
            }
          }
        },
        "description": "Get retrospective"
      },
      "put": {
        "tags": [
          "Retrospectives"
        ],
        "summary": "Update retrospective",
        "operationId": "updateRetrospective",
        "parameters": [
          {
            "name": "retroId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrospectiveInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrospective updated"
          }
        },
        "description": "Update retrospective"
      },
      "delete": {
        "tags": [
          "Retrospectives"
        ],
        "summary": "Delete retrospective",
        "operationId": "deleteRetrospective",
        "parameters": [
          {
            "name": "retroId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Retrospective deleted"
          }
        },
        "description": "Delete retrospective"
      }
    },
    "/retrospectives/{retroId}/feedback": {
      "post": {
        "tags": [
          "Retrospectives"
        ],
        "summary": "Add feedback to retrospective",
        "operationId": "addFeedback",
        "parameters": [
          {
            "name": "retroId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "category",
                  "content"
                ],
                "properties": {
                  "category": {
                    "type": "string",
                    "enum": [
                      "went_well",
                      "needs_improvement",
                      "action_item"
                    ]
                  },
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feedback added"
          }
        },
        "description": "Add feedback to retrospective"
      }
    },
    "/action-items": {
      "get": {
        "tags": [
          "Action Items"
        ],
        "summary": "List action items",
        "operationId": "listActionItems",
        "parameters": [
          {
            "name": "team_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "in_progress",
                "completed",
                "cancelled"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of action items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActionItem"
                  }
                }
              }
            }
          }
        },
        "description": "List action items"
      },
      "post": {
        "tags": [
          "Action Items"
        ],
        "summary": "Create action item",
        "operationId": "createActionItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionItemInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Action item created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionItem"
                }
              }
            }
          }
        },
        "description": "Create action item"
      }
    },
    "/action-items/{itemId}": {
      "get": {
        "tags": [
          "Action Items"
        ],
        "summary": "Get action item",
        "operationId": "getActionItem",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Action item details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionItem"
                }
              }
            }
          }
        },
        "description": "Get action item"
      },
      "put": {
        "tags": [
          "Action Items"
        ],
        "summary": "Update action item",
        "operationId": "updateActionItem",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionItemInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action item updated"
          }
        },
        "description": "Update action item"
      },
      "delete": {
        "tags": [
          "Action Items"
        ],
        "summary": "Delete action item",
        "operationId": "deleteActionItem",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action item deleted"
          }
        },
        "description": "Delete action item"
      }
    },
    "/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "List teams",
        "operationId": "listTeams",
        "responses": {
          "200": {
            "description": "List of teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          }
        },
        "description": "List teams"
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "summary": "Create team",
        "operationId": "createTeam",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          }
        },
        "description": "Create team"
      }
    },
    "/teams/{teamId}": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get team",
        "operationId": "getTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          }
        },
        "description": "Get team"
      }
    }
  },
  "components": {
    "schemas": {
      "Retrospective": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "team_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "in_progress",
              "completed"
            ]
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RetrospectiveInput": {
        "type": "object",
        "required": [
          "title",
          "team_id"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "team_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ActionItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "in_progress",
              "completed",
              "cancelled"
            ]
          },
          "assignee_id": {
            "type": "string"
          },
          "due_date": {
            "type": "string",
            "format": "date"
          },
          "retrospective_id": {
            "type": "string"
          }
        }
      },
      "ActionItemInput": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "assignee_id": {
            "type": "string"
          },
          "due_date": {
            "type": "string",
            "format": "date"
          },
          "retrospective_id": {
            "type": "string"
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "member_count": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
