{
  "openapi": "3.0.3",
  "info": {
    "title": "Libraria API",
    "description": "Libraria is a platform that allows you to create custom assistants and chatbots. The API lets you add, create, and query your own data within libraries.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.libraria.dev"
  },
  "servers": [
    {
      "url": "https://api.libraria.ai",
      "description": "Libraria API server"
    }
  ],
  "paths": {
    "/libraries/{library_id}/queries": {
      "post": {
        "operationId": "createQuery",
        "summary": "Create a query",
        "description": "Ask a question to a specific library. Supports both streaming and non-streaming responses.",
        "tags": [
          "Queries"
        ],
        "parameters": [
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "description": "The ID of the library you are going to ask a question",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful query response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/libraries/{library_id}/v2/queries": {
      "post": {
        "operationId": "createQueryV2",
        "summary": "Create a query (v2)",
        "description": "Ask a question to a specific library using the v2 endpoint. Supports both streaming and non-streaming responses with enhanced metadata.",
        "tags": [
          "Queries"
        ],
        "parameters": [
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "description": "The ID of the library you are going to ask a question",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful query response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/libraries/{library_id}/documents": {
      "post": {
        "operationId": "createDocument",
        "summary": "Add a document",
        "description": "Add a document to a library either by providing a URL to scrape or by providing raw text content.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "description": "The ID of the library to add the document to",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document creation initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or both url and text provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/libraries/{library_id}/documents/{document_id}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Get a document",
        "description": "Retrieve a specific document from a library by its unique identifier.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "description": "The ID of the library to retrieve the document from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "The ID of the document to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDocument",
        "summary": "Delete a document",
        "description": "Delete a specific document from a library.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "library_id",
            "in": "path",
            "required": true,
            "description": "The ID of the library the document belongs to",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "The ID of the document to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from Team Settings or Personal Settings at https://app.libraria.ai/profile. Pass as Bearer token in Authorization header."
      }
    },
    "schemas": {
      "CreateQueryRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "The question you will make to the library"
          },
          "conversationId": {
            "type": "string",
            "nullable": true,
            "description": "For continuing existing conversations; returned in first response"
          },
          "streaming": {
            "type": "boolean",
            "nullable": true,
            "default": false,
            "description": "Whether or not you want to receive a streamed response"
          }
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "reply": {
            "type": "string",
            "description": "The answer to the query"
          },
          "conversationId": {
            "type": "string",
            "description": "The conversation ID for continuing the conversation"
          },
          "metadata": {
            "$ref": "#/components/schemas/QueryMetadata"
          }
        }
      },
      "QueryMetadata": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Documents used to generate the response"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Images from source documents"
          },
          "helpArticles": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Related help articles"
          }
        }
      },
      "CreateDocumentRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The web address to scrape. Mutually exclusive with text."
          },
          "text": {
            "type": "string",
            "description": "Raw text content of the document. Mutually exclusive with url."
          },
          "title": {
            "type": "string",
            "description": "Title of the document (used with text)"
          },
          "sourceUrl": {
            "type": "string",
            "description": "URL used for the 'Learn More' snippet"
          },
          "imageSnippet": {
            "type": "string",
            "description": "Image URL to use in responses"
          }
        }
      },
      "CreateDocumentResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "success",
              "failed"
            ],
            "description": "Processing status of the document"
          },
          "message": {
            "type": "string",
            "description": "Status message"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the document"
          },
          "url": {
            "type": "string",
            "description": "The URL of the document"
          },
          "sourceUrl": {
            "type": "string",
            "description": "The URL of the document's source"
          },
          "scrapeStatus": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "success",
              "failed"
            ],
            "description": "The processing status of the document"
          }
        }
      },
      "DeleteDocumentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the deleted document"
          },
          "object": {
            "type": "string",
            "example": "document",
            "description": "Resource type indicator"
          },
          "deleted": {
            "type": "boolean",
            "description": "Confirmation of successful deletion"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error description"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Queries",
      "description": "Query libraries for answers"
    },
    {
      "name": "Documents",
      "description": "Manage documents within libraries"
    }
  ]
}