{
  "openapi": "3.0.3",
  "info": {
    "title": "Commune API",
    "version": "2.0.0",
    "description": "Community management and engagement platform API (Swagger spec unavailable)",
    "x-jentic-source-url": "https://api.commmune.com/v2/api-docs/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.commmune.com/v2",
      "description": "Commune API v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/communities": {
      "get": {
        "summary": "List Communities",
        "operationId": "listCommunities",
        "description": "Retrieve a list of communities",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Community"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "communities"
        ]
      }
    },
    "/communities/{id}": {
      "get": {
        "summary": "Get Community",
        "operationId": "getCommunity",
        "description": "Retrieve a specific community",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Community"
                }
              }
            }
          }
        },
        "tags": [
          "communities"
        ]
      }
    },
    "/members": {
      "get": {
        "summary": "List Members",
        "operationId": "listMembers",
        "description": "Retrieve community members",
        "parameters": [
          {
            "name": "community_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Member"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "members"
        ]
      }
    },
    "/posts": {
      "get": {
        "summary": "List Posts",
        "operationId": "listPosts",
        "description": "Retrieve community posts",
        "parameters": [
          {
            "name": "community_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "posts"
        ]
      },
      "post": {
        "summary": "Create Post",
        "operationId": "createPost",
        "description": "Create a new post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          }
        },
        "tags": [
          "posts"
        ]
      }
    },
    "/posts/{id}": {
      "get": {
        "summary": "Get Post",
        "operationId": "getPost",
        "description": "Retrieve a specific post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          }
        },
        "tags": [
          "posts"
        ]
      }
    },
    "/events": {
      "get": {
        "summary": "List Events",
        "operationId": "listEvents",
        "description": "Retrieve community events",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "events"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Community": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "member_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string"
          },
          "joined_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "community_id": {
            "type": "string"
          },
          "author_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PostRequest": {
        "type": "object",
        "required": [
          "community_id",
          "title",
          "content"
        ],
        "properties": {
          "community_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "communities"
    },
    {
      "name": "events"
    },
    {
      "name": "members"
    },
    {
      "name": "posts"
    }
  ]
}
