{
  "openapi": "3.0.3",
  "info": {
    "title": "Yandex Maps Geocoder API",
    "description": "The Yandex Maps Geocoder API converts addresses to geographic coordinates (forward geocoding) and geographic coordinates to addresses (reverse geocoding). It supports structured and unstructured address queries and covers Russia, CIS countries, Turkey, and other regions.",
    "version": "1.x",
    "contact": {
      "name": "Yandex",
      "url": "https://yandex.com/dev/maps/geocoder"
    },
    "x-jentic-source-url": "https://yandex.com/dev/maps/geocoder"
  },
  "servers": [
    {
      "url": "https://geocode-maps.yandex.ru",
      "description": "Yandex Geocoder API production server"
    }
  ],
  "tags": [
    {
      "name": "Geocoding",
      "description": "Forward and reverse geocoding operations"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/1.x/": {
      "get": {
        "tags": ["Geocoding"],
        "summary": "Geocode an address or coordinates",
        "description": "Performs forward geocoding (address to coordinates) or reverse geocoding (coordinates to address). For forward geocoding, provide an address string in the geocode parameter. For reverse geocoding, provide coordinates in 'longitude,latitude' format.",
        "operationId": "geocode",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key for authentication, obtained from the Yandex Developer Dashboard",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geocode",
            "in": "query",
            "required": true,
            "description": "Address string for forward geocoding, or coordinates in 'longitude,latitude' format for reverse geocoding (e.g., '37.617698,55.755864' for Moscow)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "xml"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language. Format: language_region (e.g., 'en_US', 'ru_RU', 'uk_UA', 'be_BY', 'tr_TR')",
            "schema": {
              "type": "string",
              "default": "ru_RU"
            }
          },
          {
            "name": "results",
            "in": "query",
            "description": "Maximum number of results to return (1-100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of results to skip (for pagination)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "ll",
            "in": "query",
            "description": "Center of the search area in 'longitude,latitude' format. Used to bias results toward a specific area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spn",
            "in": "query",
            "description": "Span of the search area in 'longitudeSpan,latitudeSpan' format (degrees). Used with ll parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "Bounding box to limit search area in 'x1,y1~x2,y2' format (lower-left~upper-right corners)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rspn",
            "in": "query",
            "description": "Restrict results to the area specified by ll+spn or bbox. 0=bias, 1=strict restriction.",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 0
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Filter results by geographic object type",
            "schema": {
              "type": "string",
              "enum": ["house", "street", "metro", "district", "locality", "area", "province", "country", "hydro", "railway", "route", "vegetation", "airport", "other"]
            }
          },
          {
            "name": "sco",
            "in": "query",
            "description": "Coordinate order in geocode parameter. 'longlat' = longitude first (default), 'latlong' = latitude first.",
            "schema": {
              "type": "string",
              "enum": ["longlat", "latlong"],
              "default": "longlat"
            }
          },
          {
            "name": "uri",
            "in": "query",
            "description": "Yandex Maps URI of the object for precise lookup (alternative to geocode parameter)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geocoding response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "XML formatted response (YMaps XML schema)"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key from the Yandex Developer Dashboard (developer.tech.yandex.ru)"
      }
    },
    "schemas": {
      "GeocodeResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "GeoObjectCollection": {
                "type": "object",
                "properties": {
                  "metaDataProperty": {
                    "type": "object",
                    "properties": {
                      "GeocoderResponseMetaData": {
                        "type": "object",
                        "properties": {
                          "request": {
                            "type": "string",
                            "description": "The original geocode request"
                          },
                          "results": {
                            "type": "string",
                            "description": "Maximum number of results requested"
                          },
                          "found": {
                            "type": "string",
                            "description": "Total number of results found"
                          }
                        }
                      }
                    }
                  },
                  "featureMember": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FeatureMember"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "FeatureMember": {
        "type": "object",
        "properties": {
          "GeoObject": {
            "type": "object",
            "properties": {
              "metaDataProperty": {
                "type": "object",
                "properties": {
                  "GeocoderMetaData": {
                    "type": "object",
                    "properties": {
                      "precision": {
                        "type": "string",
                        "description": "Geocoding precision level",
                        "enum": ["exact", "number", "near", "range", "street", "other"]
                      },
                      "text": {
                        "type": "string",
                        "description": "Full formatted address"
                      },
                      "kind": {
                        "type": "string",
                        "description": "Type of geographic object"
                      },
                      "Address": {
                        "$ref": "#/components/schemas/Address"
                      },
                      "AddressDetails": {
                        "type": "object",
                        "description": "Detailed structured address (xAL format)"
                      }
                    }
                  }
                }
              },
              "name": {
                "type": "string",
                "description": "Short name of the object"
              },
              "description": {
                "type": "string",
                "description": "Description (typically parent administrative area)"
              },
              "boundedBy": {
                "type": "object",
                "properties": {
                  "Envelope": {
                    "type": "object",
                    "properties": {
                      "lowerCorner": {
                        "type": "string",
                        "description": "Lower-left corner coordinates 'longitude latitude'"
                      },
                      "upperCorner": {
                        "type": "string",
                        "description": "Upper-right corner coordinates 'longitude latitude'"
                      }
                    }
                  }
                }
              },
              "uri": {
                "type": "string",
                "description": "Yandex Maps URI for this object"
              },
              "Point": {
                "type": "object",
                "properties": {
                  "pos": {
                    "type": "string",
                    "description": "Coordinates in 'longitude latitude' format"
                  }
                }
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "country_code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "formatted": {
            "type": "string",
            "description": "Formatted address string"
          },
          "postal_code": {
            "type": "string",
            "description": "Postal code"
          },
          "Components": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "description": "Component type (country, province, area, locality, street, house)"
                },
                "name": {
                  "type": "string",
                  "description": "Component value"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
