{
  "openapi": "3.0.3",
  "info": {
    "title": "Logspot API",
    "version": "1.0.0",
    "description": "Logspot is a lightweight event analytics platform. The API enables tracking events, searching events with pagination, counting events and unique users, and aggregating data by various dimensions such as location, device, browser, and custom metadata fields.",
    "x-jentic-source-url": "https://logspot.io/"
  },
  "servers": [
    {
      "url": "https://api.logspot.io",
      "description": "Logspot Production API"
    }
  ],
  "paths": {
    "/track": {
      "post": {
        "operationId": "trackEvent",
        "summary": "Track an event",
        "description": "Records a custom event with optional user ID and metadata.",
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event tracked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Event tracked successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing secret key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search-events": {
      "post": {
        "operationId": "searchEvents",
        "summary": "Search events",
        "description": "Searches for events with filtering and cursor-based pagination. Returns 100 events per page.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/count-events": {
      "post": {
        "operationId": "countEvents",
        "summary": "Count events",
        "description": "Returns the total count of events matching the specified criteria.",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/count-events-per-day": {
      "post": {
        "operationId": "countEventsPerDay",
        "summary": "Count events per day",
        "description": "Returns daily event counts for the specified date range.",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Daily event counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyCount"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/count-unique-users": {
      "post": {
        "operationId": "countUniqueUsers",
        "summary": "Count unique users",
        "description": "Returns the count of unique users matching the specified criteria.",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unique user count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/count-unique-users-per-day": {
      "post": {
        "operationId": "countUniqueUsersPerDay",
        "summary": "Count unique users per day",
        "description": "Returns daily unique user counts for the specified date range.",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Daily unique user counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyCount"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/aggregate": {
      "post": {
        "operationId": "aggregateEvents",
        "summary": "Aggregate event data",
        "description": "Aggregates event data by a specified field (location_country, location_city, device, os, browser, screen, language, referrer, url, hostname, user_id) or a custom metadata field.",
        "tags": [
          "Analytics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AggregateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aggregated data sorted by frequency",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AggregateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-logspot-sk",
        "description": "Secret key in the format 'Bearer YOUR_SECRET_KEY'"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "TrackEventRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Event name identifier"
          },
          "user_id": {
            "type": "string",
            "description": "Unique user identifier"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional custom data attached to the event"
          }
        }
      },
      "SearchEventsRequest": {
        "type": "object",
        "properties": {
          "event_name": {
            "type": "string",
            "description": "Filter by event name"
          },
          "user_id": {
            "type": "string",
            "description": "Filter by user ID"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "Start date (inclusive, YYYY-MM-DD)"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "End date (inclusive, YYYY-MM-DD)"
          },
          "cursor": {
            "type": "string",
            "description": "Pagination cursor from previous response"
          },
          "filter_groups": {
            "$ref": "#/components/schemas/FilterGroups"
          }
        }
      },
      "SearchEventsResponse": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "description": "Cursor for next page (null if no more results)"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventResult"
            }
          }
        }
      },
      "EventResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "location_country": {
            "type": "string"
          },
          "location_city": {
            "type": "string"
          },
          "device": {
            "type": "string"
          },
          "browser": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "referrer": {
            "type": "string"
          }
        }
      },
      "AnalyticsQueryRequest": {
        "type": "object",
        "properties": {
          "event_name": {
            "type": "string",
            "description": "Filter by event name"
          },
          "user_id": {
            "type": "string",
            "description": "Filter by user ID"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "Start date (inclusive)"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "End date (inclusive)"
          },
          "filter_groups": {
            "$ref": "#/components/schemas/FilterGroups"
          }
        }
      },
      "AggregateRequest": {
        "type": "object",
        "properties": {
          "event_name": {
            "type": "string"
          },
          "field": {
            "type": "string",
            "enum": [
              "location_country",
              "location_city",
              "device",
              "os",
              "browser",
              "screen",
              "language",
              "referrer",
              "url",
              "hostname",
              "user_id"
            ],
            "description": "Built-in field to aggregate by"
          },
          "metadata_field": {
            "type": "string",
            "description": "Custom metadata field to aggregate by"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "filter_groups": {
            "$ref": "#/components/schemas/FilterGroups"
          }
        }
      },
      "FilterGroups": {
        "type": "array",
        "description": "Array of filter groups for advanced filtering",
        "items": {
          "type": "object",
          "properties": {
            "filters": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "field_name": {
                    "type": "string",
                    "description": "Field to filter on"
                  },
                  "operator": {
                    "type": "string",
                    "enum": [
                      "=",
                      "!=",
                      "contains",
                      "not_contains"
                    ],
                    "description": "Filter operator"
                  },
                  "value": {
                    "type": "string",
                    "description": "Filter value"
                  }
                }
              }
            }
          }
        }
      },
      "DailyCount": {
        "type": "object",
        "properties": {
          "day": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp for the day"
          },
          "count": {
            "type": "integer",
            "description": "Count for this day"
          }
        }
      },
      "AggregateResult": {
        "type": "object",
        "properties": {
          "property": {
            "type": "string",
            "description": "Aggregated property value"
          },
          "count": {
            "type": "integer",
            "description": "Number of occurrences"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tracking",
      "description": "Event tracking"
    },
    {
      "name": "Analytics",
      "description": "Event analytics and metrics"
    },
    {
      "name": "Search",
      "description": "Event search"
    }
  ]
}