{
  "openapi": "3.0.3",
  "info": {
    "title": "Cryptocurrency Alerting API",
    "version": "1.0.0",
    "description": "REST API for creating, managing, and monitoring cryptocurrency alert conditions including price alerts, percent change alerts, wallet monitoring, and Bitcoin mempool alerts.",
    "x-jentic-source-url": "https://cryptocurrencyalerting.com/rest-api.html"
  },
  "servers": [
    {
      "url": "https://api.cryptocurrencyalerting.com/v1"
    }
  ],
  "paths": {
    "/alert-conditions": {
      "get": {
        "operationId": "listAlertConditions",
        "summary": "Retrieve all alert conditions",
        "tags": [
          "Alert Conditions"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by alert type",
            "schema": {
              "type": "string",
              "enum": [
                "new_coin",
                "price",
                "percent_price",
                "periodic_price",
                "bitcoin_mempool",
                "wallet",
                "volume"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of alert conditions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlertCondition"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAlertCondition",
        "summary": "Create a new alert condition",
        "tags": [
          "Alert Conditions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAlertConditionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert condition created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertCondition"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alert-conditions/{id}": {
      "get": {
        "operationId": "getAlertCondition",
        "summary": "Retrieve a specific alert condition",
        "tags": [
          "Alert Conditions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Alert condition ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert condition details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertCondition"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateAlertCondition",
        "summary": "Enable or disable an alert condition",
        "tags": [
          "Alert Conditions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Alert condition ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAlertConditionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert condition updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAlertCondition",
        "summary": "Delete an alert condition",
        "tags": [
          "Alert Conditions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Alert condition ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert condition deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using API token as username with blank password"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Operation status"
          }
        }
      },
      "AlertCondition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "type": {
            "type": "string",
            "enum": [
              "new_coin",
              "price",
              "percent_price",
              "periodic_price",
              "bitcoin_mempool",
              "wallet",
              "volume"
            ],
            "description": "Type of alert condition"
          },
          "currency": {
            "type": "string",
            "description": "Cryptocurrency code (e.g., BTC, ETH) or ANY"
          },
          "exchange": {
            "type": "string",
            "description": "Exchange name or ANY"
          },
          "target_currency": {
            "type": "string",
            "description": "Target currency (USD, BTC, USDT, EUR, GBP, etc.)"
          },
          "price": {
            "type": "number",
            "description": "Target price threshold"
          },
          "threshold": {
            "type": "number",
            "description": "Target value to cross"
          },
          "percent": {
            "type": "number",
            "description": "Percentage change amount"
          },
          "direction": {
            "type": "string",
            "enum": [
              "up",
              "down",
              "increases",
              "decreases",
              "changes"
            ],
            "description": "Direction for price/wallet alerts"
          },
          "window": {
            "type": "integer",
            "description": "Minutes to compare"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the alert is active"
          },
          "run_once": {
            "type": "boolean",
            "description": "Whether to run only once"
          },
          "cooldown": {
            "type": "integer",
            "description": "Minutes before re-evaluation (minimum 5)"
          },
          "note": {
            "type": "string",
            "description": "Custom message text"
          },
          "blockchain": {
            "type": "string",
            "enum": [
              "AVAX",
              "BSC",
              "BTC",
              "ETH",
              "MATIC",
              "OP",
              "TRX"
            ],
            "description": "Blockchain for wallet alerts"
          },
          "address": {
            "type": "string",
            "description": "Blockchain address for wallet alerts"
          },
          "metric": {
            "type": "string",
            "enum": [
              "megabytes",
              "unconfirmedtxns"
            ],
            "description": "Metric for mempool alerts"
          }
        }
      },
      "CreateAlertConditionRequest": {
        "type": "object",
        "required": [
          "type",
          "channel"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "new_coin",
              "price",
              "percent_price",
              "periodic_price",
              "bitcoin_mempool",
              "wallet",
              "volume"
            ],
            "description": "Type of alert condition"
          },
          "currency": {
            "type": "string",
            "description": "Cryptocurrency code or ANY"
          },
          "exchange": {
            "type": "string",
            "description": "Exchange name or ANY"
          },
          "target_currency": {
            "type": "string",
            "description": "Target currency (USD, BTC, USDT, EUR, GBP)"
          },
          "price": {
            "type": "number",
            "description": "Target price threshold"
          },
          "threshold": {
            "type": "number",
            "description": "Target value to cross"
          },
          "percent": {
            "type": "number",
            "description": "Percentage change"
          },
          "direction": {
            "type": "string",
            "enum": [
              "up",
              "down",
              "increases",
              "decreases",
              "changes"
            ]
          },
          "window": {
            "type": "integer",
            "description": "Minutes to compare"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          },
          "run_once": {
            "type": "boolean",
            "default": false
          },
          "cooldown": {
            "type": "integer",
            "description": "Minutes before re-evaluation (minimum 5)"
          },
          "note": {
            "type": "string",
            "description": "Custom message text"
          },
          "blockchain": {
            "type": "string",
            "enum": [
              "AVAX",
              "BSC",
              "BTC",
              "ETH",
              "MATIC",
              "OP",
              "TRX"
            ]
          },
          "address": {
            "type": "string",
            "description": "Blockchain address for wallet alerts"
          },
          "metric": {
            "type": "string",
            "enum": [
              "megabytes",
              "unconfirmedtxns"
            ]
          }
        }
      },
      "UpdateAlertConditionRequest": {
        "type": "object",
        "required": [
          "enabled"
        ],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Enable or disable the alert condition"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Notification channel name"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}