{
  "openapi": "3.0.1",
  "info": {
    "title": "cBioPortal web Public API [Beta]",
    "description": "A web service for supplying JSON formatted data to cBioPortal clients. Please note that this API is currently in beta and subject to change.",
    "contact": {
      "name": "cBioPortal",
      "url": "https://www.cbioportal.org",
      "email": "cbioportal@googlegroups.com"
    },
    "license": {
      "name": "License",
      "url": "https://github.com/cBioPortal/cbioportal/blob/master/LICENSE"
    },
    "version": "1.0 (beta). Backwards compatibility will be maintained (after 1.0 release)",
    "x-jentic-source-url": "https://www.cbioportal.org/api/v2/api-docs"
  },
  "servers": [
    {
      "url": "//www.cbioportal.org/api"
    }
  ],
  "tags": [
    {
      "name": "Cancer Types"
    },
    {
      "name": "Studies"
    },
    {
      "name": "Patients"
    },
    {
      "name": "Samples"
    },
    {
      "name": "Sample Lists"
    },
    {
      "name": "Clinical Attributes"
    },
    {
      "name": "Clinical Data"
    },
    {
      "name": "Molecular Data"
    },
    {
      "name": "Molecular Profiles"
    },
    {
      "name": "Mutations"
    },
    {
      "name": "Discrete Copy Number Alterations"
    },
    {
      "name": "Copy Number Segments"
    },
    {
      "name": "Genes"
    },
    {
      "name": "Gene Panels"
    },
    {
      "name": "Generic Assays"
    },
    {
      "name": "Generic Assay Data"
    },
    {
      "name": "Info"
    },
    {
      "name": "Gene Panel Data",
      "description": " "
    },
    {
      "name": "Server running status",
      "description": "This end point does not require authentication"
    },
    {
      "name": "Treatments",
      "description": " "
    }
  ],
  "paths": {
    "/cancer-types": {
      "get": {
        "tags": [
          "Cancer Types"
        ],
        "summary": "Get all cancer types",
        "operationId": "getAllCancerTypesUsingGET",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "cancerTypeId",
                "dedicatedColor",
                "name",
                "parent",
                "shortName"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TypeOfCancer"
                  }
                }
              }
            }
          }
        },
        "description": "Get all cancer types"
      }
    },
    "/cancer-types/{cancerTypeId}": {
      "get": {
        "tags": [
          "Cancer Types"
        ],
        "summary": "Get a cancer type",
        "operationId": "getCancerTypeUsingGET",
        "parameters": [
          {
            "name": "cancerTypeId",
            "in": "path",
            "description": "Cancer Type ID e.g. acc",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeOfCancer"
                }
              }
            }
          }
        },
        "description": "Get a cancer type"
      }
    },
    "/clinical-attributes": {
      "get": {
        "tags": [
          "Clinical Attributes"
        ],
        "summary": "Get all clinical attributes",
        "operationId": "getAllClinicalAttributesUsingGET",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "clinicalAttributeId",
                "datatype",
                "description",
                "displayName",
                "patientAttribute",
                "priority",
                "studyId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClinicalAttribute"
                  }
                }
              }
            }
          }
        },
        "description": "Get all clinical attributes"
      }
    },
    "/clinical-attributes/fetch": {
      "post": {
        "tags": [
          "Clinical Attributes"
        ],
        "summary": "Fetch clinical attributes",
        "operationId": "fetchClinicalAttributesUsingPOST",
        "parameters": [
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of Study IDs",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClinicalAttribute"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "studyIds",
        "description": "Fetch clinical attributes"
      }
    },
    "/clinical-data/fetch": {
      "post": {
        "tags": [
          "Clinical Data"
        ],
        "summary": "Fetch clinical data by patient IDs or sample IDs (all studies)",
        "operationId": "fetchClinicalDataUsingPOST",
        "parameters": [
          {
            "name": "clinicalDataType",
            "in": "query",
            "description": "Type of the clinical data",
            "schema": {
              "type": "string",
              "default": "SAMPLE",
              "enum": [
                "PATIENT",
                "SAMPLE"
              ]
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of patient or sample identifiers and attribute IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClinicalDataMultiStudyFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClinicalData"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "clinicalDataMultiStudyFilter",
        "description": "Fetch clinical data by patient IDs or sample IDs (all studies)"
      }
    },
    "/copy-number-segments/fetch": {
      "post": {
        "tags": [
          "Copy Number Segments"
        ],
        "summary": "Fetch copy number segments by sample ID",
        "operationId": "fetchCopyNumberSegmentsUsingPOST",
        "parameters": [
          {
            "name": "chromosome",
            "in": "query",
            "description": "Chromosome",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of sample identifiers",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SampleIdentifier"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CopyNumberSeg"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "sampleIdentifiers",
        "description": "Fetch copy number segments by sample ID"
      }
    },
    "/gene-panel-data/fetch": {
      "post": {
        "tags": [
          "Gene Panel Data"
        ],
        "summary": "Fetch gene panel data",
        "operationId": "fetchGenePanelDataInMultipleMolecularProfilesUsingPOST",
        "requestBody": {
          "description": "Gene panel data filter object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenePanelDataMultipleStudyFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenePanelData"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "genePanelDataMultipleStudyFilter",
        "description": "Fetch gene panel data"
      }
    },
    "/gene-panels": {
      "get": {
        "tags": [
          "Gene Panels"
        ],
        "summary": "Get all gene panels",
        "operationId": "getAllGenePanelsUsingGET",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "description",
                "genePanelId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenePanel"
                  }
                }
              }
            }
          }
        },
        "description": "Get all gene panels"
      }
    },
    "/gene-panels/fetch": {
      "post": {
        "tags": [
          "Gene Panels"
        ],
        "summary": "Get gene panel",
        "operationId": "fetchGenePanelsUsingPOST",
        "parameters": [
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of Gene Panel IDs",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenePanel"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "genePanelIds",
        "description": "Get gene panel"
      }
    },
    "/gene-panels/{genePanelId}": {
      "get": {
        "tags": [
          "Gene Panels"
        ],
        "summary": "Get gene panel",
        "operationId": "getGenePanelUsingGET",
        "parameters": [
          {
            "name": "genePanelId",
            "in": "path",
            "description": "Gene Panel ID e.g. NSCLC_UNITO_2016_PANEL",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenePanel"
                }
              }
            }
          }
        },
        "description": "Get gene panel"
      }
    },
    "/generic-assay-data/{molecularProfileId}/generic-assay/{genericAssayStableId}": {
      "get": {
        "tags": [
          "Generic Assay Data"
        ],
        "summary": "Get generic_assay_data in a molecular profile",
        "operationId": "getGenericAssayDataInMolecularProfileUsingGET",
        "parameters": [
          {
            "name": "genericAssayStableId",
            "in": "path",
            "description": "Generic Assay stable ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "molecularProfileId",
            "in": "path",
            "description": "Molecular Profile ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenericAssayData"
                  }
                }
              }
            }
          }
        },
        "description": "Get generic_assay_data in a molecular profile"
      }
    },
    "/generic-assay-meta/generic-assay/{genericAssayStableId}": {
      "get": {
        "tags": [
          "Generic Assays"
        ],
        "summary": "Fetch meta data for generic-assay by ID",
        "operationId": "getGenericAssayMeta_gaUsingGET",
        "parameters": [
          {
            "name": "genericAssayStableId",
            "in": "path",
            "description": "Generic Assay stable ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenericAssayMeta"
                  }
                }
              }
            }
          }
        },
        "description": "Fetch meta data for generic-assay by ID"
      }
    },
    "/generic-assay-meta/{molecularProfileId}": {
      "get": {
        "tags": [
          "Generic Assays"
        ],
        "summary": "Fetch meta data for generic-assay by ID",
        "operationId": "getGenericAssayMetaUsingGET",
        "parameters": [
          {
            "name": "molecularProfileId",
            "in": "path",
            "description": "Molecular Profile ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenericAssayMeta"
                  }
                }
              }
            }
          }
        },
        "description": "Fetch meta data for generic-assay by ID"
      }
    },
    "/generic_assay_data/fetch": {
      "post": {
        "tags": [
          "Generic Assay Data"
        ],
        "summary": "Fetch generic_assay_data",
        "operationId": "fetchGenericAssayDataInMultipleMolecularProfilesUsingPOST",
        "parameters": [
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of Molecular Profile ID and Sample ID pairs or List of MolecularProfile IDs and Generic Assay IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericAssayDataMultipleStudyFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenericAssayData"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "genericAssayDataMultipleStudyFilter",
        "description": "Fetch generic_assay_data"
      }
    },
    "/generic_assay_data/{molecularProfileId}/fetch": {
      "post": {
        "tags": [
          "Generic Assay Data"
        ],
        "summary": "fetch generic_assay_data in a molecular profile",
        "operationId": "fetchGenericAssayDataInMolecularProfileUsingPOST",
        "parameters": [
          {
            "name": "molecularProfileId",
            "in": "path",
            "description": "Molecular Profile ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of Sample IDs/Sample List ID and Generic Assay IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericAssayFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenericAssayData"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "genericAssayDataFilter",
        "description": "fetch generic_assay_data in a molecular profile"
      }
    },
    "/generic_assay_meta/fetch": {
      "post": {
        "tags": [
          "Generic Assays"
        ],
        "summary": "Fetch meta data for generic-assay by ID",
        "operationId": "fetchGenericAssayMetaUsingPOST",
        "parameters": [
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of Molecular Profile ID or List of Stable ID",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericAssayMetaFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenericAssayMeta"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "genericAssayMetaFilter",
        "description": "Fetch meta data for generic-assay by ID"
      }
    },
    "/genes": {
      "get": {
        "tags": [
          "Genes"
        ],
        "summary": "Get all genes",
        "operationId": "getAllGenesUsingGET",
        "parameters": [
          {
            "name": "alias",
            "in": "query",
            "description": "Alias of the gene",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword that applies to hugo gene symbol of the genes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "cytoband",
                "entrezGeneId",
                "hugoGeneSymbol",
                "length",
                "type"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Gene"
                  }
                }
              }
            }
          }
        },
        "description": "Get all genes"
      }
    },
    "/genes/fetch": {
      "post": {
        "tags": [
          "Genes"
        ],
        "summary": "Fetch genes by ID",
        "operationId": "fetchGenesUsingPOST",
        "parameters": [
          {
            "name": "geneIdType",
            "in": "query",
            "description": "Type of gene ID",
            "schema": {
              "type": "string",
              "default": "ENTREZ_GENE_ID",
              "enum": [
                "ENTREZ_GENE_ID",
                "HUGO_GENE_SYMBOL"
              ]
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of Entrez Gene IDs or Hugo Gene Symbols",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Gene"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "geneIds",
        "description": "Fetch genes by ID"
      }
    },
    "/genes/{geneId}": {
      "get": {
        "tags": [
          "Genes"
        ],
        "summary": "Get a gene",
        "operationId": "getGeneUsingGET",
        "parameters": [
          {
            "name": "geneId",
            "in": "path",
            "description": "Entrez Gene ID or Hugo Gene Symbol e.g. 1 or A1BG",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Gene"
                }
              }
            }
          }
        },
        "description": "Get a gene"
      }
    },
    "/genes/{geneId}/aliases": {
      "get": {
        "tags": [
          "Genes"
        ],
        "summary": "Get aliases of a gene",
        "operationId": "getAliasesOfGeneUsingGET",
        "parameters": [
          {
            "name": "geneId",
            "in": "path",
            "description": "Entrez Gene ID or Hugo Gene Symbol e.g. 1 or A1BG",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "description": "Get aliases of a gene"
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Server running status"
        ],
        "summary": "Get the running status of the server",
        "operationId": "getServerStatusUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerStatusMessage"
                }
              }
            }
          }
        },
        "description": "Get the running status of the server"
      }
    },
    "/info": {
      "get": {
        "tags": [
          "Info"
        ],
        "summary": "Get information about the running instance",
        "operationId": "getInfoUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Info"
                }
              }
            }
          }
        },
        "description": "Get information about the running instance"
      }
    },
    "/molecular-data/fetch": {
      "post": {
        "tags": [
          "Molecular Data"
        ],
        "summary": "Fetch molecular data",
        "operationId": "fetchMolecularDataInMultipleMolecularProfilesUsingPOST",
        "parameters": [
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of Molecular Profile ID and Sample ID pairs or List of MolecularProfile IDs and Entrez Gene IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MolecularDataMultipleStudyFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NumericGeneMolecularData"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "molecularDataMultipleStudyFilter",
        "description": "Fetch molecular data"
      }
    },
    "/molecular-profiles": {
      "get": {
        "tags": [
          "Molecular Profiles"
        ],
        "summary": "Get all molecular profiles",
        "operationId": "getAllMolecularProfilesUsingGET",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "datatype",
                "description",
                "molecularAlterationType",
                "molecularProfileId",
                "name",
                "showProfileInAnalysisTab"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MolecularProfile"
                  }
                }
              }
            }
          }
        },
        "description": "Get all molecular profiles"
      }
    },
    "/molecular-profiles/fetch": {
      "post": {
        "tags": [
          "Molecular Profiles"
        ],
        "summary": "Fetch molecular profiles",
        "operationId": "fetchMolecularProfilesUsingPOST",
        "parameters": [
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of Molecular Profile IDs or List of Study IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MolecularProfileFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MolecularProfile"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "molecularProfileFilter",
        "description": "Fetch molecular profiles"
      }
    },
    "/molecular-profiles/{molecularProfileId}": {
      "get": {
        "tags": [
          "Molecular Profiles"
        ],
        "summary": "Get molecular profile",
        "operationId": "getMolecularProfileUsingGET",
        "parameters": [
          {
            "name": "molecularProfileId",
            "in": "path",
            "description": "Molecular Profile ID e.g. acc_tcga_mutations",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MolecularProfile"
                }
              }
            }
          }
        },
        "description": "Get molecular profile"
      }
    },
    "/molecular-profiles/{molecularProfileId}/discrete-copy-number": {
      "get": {
        "tags": [
          "Discrete Copy Number Alterations"
        ],
        "summary": "Get discrete copy number alterations in a molecular profile",
        "operationId": "getDiscreteCopyNumbersInMolecularProfileUsingGET",
        "parameters": [
          {
            "name": "discreteCopyNumberEventType",
            "in": "query",
            "description": "Type of the copy number event",
            "schema": {
              "type": "string",
              "default": "HOMDEL_AND_AMP",
              "enum": [
                "ALL",
                "AMP",
                "DIPLOID",
                "GAIN",
                "HETLOSS",
                "HOMDEL",
                "HOMDEL_AND_AMP"
              ]
            }
          },
          {
            "name": "molecularProfileId",
            "in": "path",
            "description": "Molecular Profile ID e.g. acc_tcga_gistic",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sampleListId",
            "in": "query",
            "description": "Sample List ID e.g. acc_tcga_all",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscreteCopyNumberData"
                  }
                }
              }
            }
          }
        },
        "description": "Get discrete copy number alterations in a molecular profile"
      }
    },
    "/molecular-profiles/{molecularProfileId}/discrete-copy-number/fetch": {
      "post": {
        "tags": [
          "Discrete Copy Number Alterations"
        ],
        "summary": "Fetch discrete copy number alterations in a molecular profile by sample ID",
        "operationId": "fetchDiscreteCopyNumbersInMolecularProfileUsingPOST",
        "parameters": [
          {
            "name": "discreteCopyNumberEventType",
            "in": "query",
            "description": "Type of the copy number event",
            "schema": {
              "type": "string",
              "default": "HOMDEL_AND_AMP",
              "enum": [
                "ALL",
                "AMP",
                "DIPLOID",
                "GAIN",
                "HETLOSS",
                "HOMDEL",
                "HOMDEL_AND_AMP"
              ]
            }
          },
          {
            "name": "molecularProfileId",
            "in": "path",
            "description": "Molecular Profile ID e.g. acc_tcga_gistic",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of Sample IDs/Sample List ID and Entrez Gene IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscreteCopyNumberFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscreteCopyNumberData"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "discreteCopyNumberFilter",
        "description": "Fetch discrete copy number alterations in a molecular profile by sample ID"
      }
    },
    "/molecular-profiles/{molecularProfileId}/gene-panel-data/fetch": {
      "post": {
        "tags": [
          "Gene Panel Data"
        ],
        "summary": "Get gene panel data",
        "operationId": "getGenePanelDataUsingPOST",
        "parameters": [
          {
            "name": "molecularProfileId",
            "in": "path",
            "description": "Molecular Profile ID e.g. nsclc_unito_2016_mutations",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of Sample IDs/Sample List ID and Entrez Gene IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenePanelDataFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenePanelData"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "genePanelDataFilter",
        "description": "Get gene panel data"
      }
    },
    "/molecular-profiles/{molecularProfileId}/molecular-data": {
      "get": {
        "tags": [
          "Molecular Data"
        ],
        "summary": "Get all molecular data in a molecular profile",
        "operationId": "getAllMolecularDataInMolecularProfileUsingGET",
        "parameters": [
          {
            "name": "entrezGeneId",
            "in": "query",
            "description": "Entrez Gene ID e.g. 1",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "molecularProfileId",
            "in": "path",
            "description": "Molecular Profile ID e.g. acc_tcga_rna_seq_v2_mrna",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sampleListId",
            "in": "query",
            "description": "Sample List ID e.g. acc_tcga_all",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NumericGeneMolecularData"
                  }
                }
              }
            }
          }
        },
        "description": "Get all molecular data in a molecular profile"
      }
    },
    "/molecular-profiles/{molecularProfileId}/molecular-data/fetch": {
      "post": {
        "tags": [
          "Molecular Data"
        ],
        "summary": "Fetch molecular data in a molecular profile",
        "operationId": "fetchAllMolecularDataInMolecularProfileUsingPOST",
        "parameters": [
          {
            "name": "molecularProfileId",
            "in": "path",
            "description": "Molecular Profile ID e.g. acc_tcga_rna_seq_v2_mrna",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of Sample IDs/Sample List ID and Entrez Gene IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MolecularDataFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NumericGeneMolecularData"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "molecularDataFilter",
        "description": "Fetch molecular data in a molecular profile"
      }
    },
    "/molecular-profiles/{molecularProfileId}/mutations": {
      "get": {
        "tags": [
          "Mutations"
        ],
        "summary": "Get mutations in a molecular profile by Sample List ID",
        "operationId": "getMutationsInMolecularProfileBySampleListIdUsingGET",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "entrezGeneId",
            "in": "query",
            "description": "Entrez Gene ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "molecularProfileId",
            "in": "path",
            "description": "Molecular Profile ID e.g. acc_tcga_mutations",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sampleListId",
            "in": "query",
            "description": "Sample List ID e.g. acc_tcga_all",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "aminoAcidChange",
                "center",
                "endPosition",
                "entrezGeneId",
                "keyword",
                "mutationStatus",
                "mutationType",
                "ncbiBuild",
                "normalAltCount",
                "normalRefCount",
                "proteinChange",
                "proteinPosEnd",
                "proteinPosStart",
                "referenceAllele",
                "refseqMrnaId",
                "startPosition",
                "tumorAltCount",
                "tumorRefCount",
                "validationStatus",
                "variantAllele",
                "variantType"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mutation"
                  }
                }
              }
            }
          }
        },
        "description": "Get mutations in a molecular profile by Sample List ID"
      }
    },
    "/molecular-profiles/{molecularProfileId}/mutations/fetch": {
      "post": {
        "tags": [
          "Mutations"
        ],
        "summary": "Fetch mutations in a molecular profile",
        "operationId": "fetchMutationsInMolecularProfileUsingPOST",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "molecularProfileId",
            "in": "path",
            "description": "Molecular Profile ID e.g. acc_tcga_mutations",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "aminoAcidChange",
                "center",
                "endPosition",
                "entrezGeneId",
                "keyword",
                "mutationStatus",
                "mutationType",
                "ncbiBuild",
                "normalAltCount",
                "normalRefCount",
                "proteinChange",
                "proteinPosEnd",
                "proteinPosStart",
                "referenceAllele",
                "refseqMrnaId",
                "startPosition",
                "tumorAltCount",
                "tumorRefCount",
                "validationStatus",
                "variantAllele",
                "variantType"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of Sample IDs/Sample List ID and Entrez Gene IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MutationFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mutation"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "mutationFilter",
        "description": "Fetch mutations in a molecular profile"
      }
    },
    "/mutations/fetch": {
      "post": {
        "tags": [
          "Mutations"
        ],
        "summary": "Fetch mutations in multiple molecular profiles by sample IDs",
        "operationId": "fetchMutationsInMultipleMolecularProfilesUsingPOST",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "aminoAcidChange",
                "center",
                "endPosition",
                "entrezGeneId",
                "keyword",
                "mutationStatus",
                "mutationType",
                "ncbiBuild",
                "normalAltCount",
                "normalRefCount",
                "proteinChange",
                "proteinPosEnd",
                "proteinPosStart",
                "referenceAllele",
                "refseqMrnaId",
                "startPosition",
                "tumorAltCount",
                "tumorRefCount",
                "validationStatus",
                "variantAllele",
                "variantType"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of Molecular Profile IDs or List of Molecular Profile ID / Sample ID pairs, and List of Entrez Gene IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MutationMultipleStudyFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mutation"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "mutationMultipleStudyFilter",
        "description": "Fetch mutations in multiple molecular profiles by sample IDs"
      }
    },
    "/patients": {
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "Get all patients",
        "operationId": "getAllPatientsUsingGET",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword that applies to ID of the patients",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "patientId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Patient"
                  }
                }
              }
            }
          }
        },
        "description": "Get all patients"
      }
    },
    "/patients/fetch": {
      "post": {
        "tags": [
          "Patients"
        ],
        "summary": "fetchPatients",
        "operationId": "fetchPatientsUsingPOST",
        "parameters": [
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of patient identifiers",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatientFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Patient"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "patientFilter",
        "description": "fetchPatients"
      }
    },
    "/sample-lists": {
      "get": {
        "tags": [
          "Sample Lists"
        ],
        "summary": "Get all sample lists",
        "operationId": "getAllSampleListsUsingGET",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "category",
                "description",
                "name",
                "sampleListId",
                "studyId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SampleList"
                  }
                }
              }
            }
          }
        },
        "description": "Get all sample lists"
      }
    },
    "/sample-lists/fetch": {
      "post": {
        "tags": [
          "Sample Lists"
        ],
        "summary": "Fetch sample lists by ID",
        "operationId": "fetchSampleListsUsingPOST",
        "parameters": [
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of sample list IDs",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SampleList"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "sampleListIds",
        "description": "Fetch sample lists by ID"
      }
    },
    "/sample-lists/{sampleListId}": {
      "get": {
        "tags": [
          "Sample Lists"
        ],
        "summary": "Get sample list",
        "operationId": "getSampleListUsingGET",
        "parameters": [
          {
            "name": "sampleListId",
            "in": "path",
            "description": "Sample List ID e.g. acc_tcga_all",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SampleList"
                }
              }
            }
          }
        },
        "description": "Get sample list"
      }
    },
    "/sample-lists/{sampleListId}/sample-ids": {
      "get": {
        "tags": [
          "Sample Lists"
        ],
        "summary": "Get all sample IDs in a sample list",
        "operationId": "getAllSampleIdsInSampleListUsingGET",
        "parameters": [
          {
            "name": "sampleListId",
            "in": "path",
            "description": "Sample List ID e.g. acc_tcga_all",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "description": "Get all sample IDs in a sample list"
      }
    },
    "/samples": {
      "get": {
        "tags": [
          "Samples"
        ],
        "summary": "Get all samples matching keyword",
        "operationId": "getSamplesByKeywordUsingGET",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword that applies to the study ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "sampleId",
                "sampleType"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Sample"
                  }
                }
              }
            }
          }
        },
        "description": "Get all samples matching keyword"
      }
    },
    "/samples/fetch": {
      "post": {
        "tags": [
          "Samples"
        ],
        "summary": "Fetch samples by ID",
        "operationId": "fetchSamplesUsingPOST",
        "parameters": [
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of sample identifiers",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SampleFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Sample"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "sampleFilter",
        "description": "Fetch samples by ID"
      }
    },
    "/studies": {
      "get": {
        "tags": [
          "Studies"
        ],
        "summary": "Get all studies",
        "operationId": "getAllStudiesUsingGET",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword that applies to name and cancer type of the studies",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "cancerTypeId",
                "citation",
                "description",
                "groups",
                "importDate",
                "name",
                "pmid",
                "publicStudy",
                "status",
                "studyId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CancerStudy"
                  }
                }
              }
            }
          }
        },
        "description": "Get all studies"
      }
    },
    "/studies/fetch": {
      "post": {
        "tags": [
          "Studies"
        ],
        "summary": "Fetch studies by IDs",
        "operationId": "fetchStudiesUsingPOST",
        "parameters": [
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "List of Study IDs",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CancerStudy"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "studyIds",
        "description": "Fetch studies by IDs"
      }
    },
    "/studies/tags/fetch": {
      "post": {
        "tags": [
          "Studies"
        ],
        "summary": "Get the study tags by IDs",
        "operationId": "getTagsForMultipleStudiesUsingPOST",
        "requestBody": {
          "description": "List of Study IDs",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CancerStudyTags"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "studyIds",
        "description": "Get the study tags by IDs"
      }
    },
    "/studies/{studyId}": {
      "get": {
        "tags": [
          "Studies"
        ],
        "summary": "Get a study",
        "operationId": "getStudyUsingGET",
        "parameters": [
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID e.g. acc_tcga",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancerStudy"
                }
              }
            }
          }
        },
        "description": "Get a study"
      }
    },
    "/studies/{studyId}/clinical-attributes": {
      "get": {
        "tags": [
          "Clinical Attributes"
        ],
        "summary": "Get all clinical attributes in the specified study",
        "operationId": "getAllClinicalAttributesInStudyUsingGET",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "clinicalAttributeId",
                "datatype",
                "description",
                "displayName",
                "patientAttribute",
                "priority",
                "studyId"
              ]
            }
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID e.g. acc_tcga",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClinicalAttribute"
                  }
                }
              }
            }
          }
        },
        "description": "Get all clinical attributes in the specified study"
      }
    },
    "/studies/{studyId}/clinical-attributes/{clinicalAttributeId}": {
      "get": {
        "tags": [
          "Clinical Attributes"
        ],
        "summary": "Get specified clinical attribute",
        "operationId": "getClinicalAttributeInStudyUsingGET",
        "parameters": [
          {
            "name": "clinicalAttributeId",
            "in": "path",
            "description": "Clinical Attribute ID e.g. CANCER_TYPE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID e.g. acc_tcga",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClinicalAttribute"
                }
              }
            }
          }
        },
        "description": "Get specified clinical attribute"
      }
    },
    "/studies/{studyId}/clinical-data": {
      "get": {
        "tags": [
          "Clinical Data"
        ],
        "summary": "Get all clinical data in a study",
        "operationId": "getAllClinicalDataInStudyUsingGET",
        "parameters": [
          {
            "name": "attributeId",
            "in": "query",
            "description": "Attribute ID e.g. CANCER_TYPE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clinicalDataType",
            "in": "query",
            "description": "Type of the clinical data",
            "schema": {
              "type": "string",
              "default": "SAMPLE",
              "enum": [
                "PATIENT",
                "SAMPLE"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "clinicalAttributeId",
                "value"
              ]
            }
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID e.g. acc_tcga",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClinicalData"
                  }
                }
              }
            }
          }
        },
        "description": "Get all clinical data in a study"
      }
    },
    "/studies/{studyId}/clinical-data/fetch": {
      "post": {
        "tags": [
          "Clinical Data"
        ],
        "summary": "Fetch clinical data by patient IDs or sample IDs (specific study)",
        "operationId": "fetchAllClinicalDataInStudyUsingPOST",
        "parameters": [
          {
            "name": "clinicalDataType",
            "in": "query",
            "description": "Type of the clinical data",
            "schema": {
              "type": "string",
              "default": "SAMPLE",
              "enum": [
                "PATIENT",
                "SAMPLE"
              ]
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID e.g. acc_tcga",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of patient or sample IDs and attribute IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClinicalDataSingleStudyFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClinicalData"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "clinicalDataSingleStudyFilter",
        "description": "Fetch clinical data by patient IDs or sample IDs (specific study)"
      }
    },
    "/studies/{studyId}/molecular-profiles": {
      "get": {
        "tags": [
          "Molecular Profiles"
        ],
        "summary": "Get all molecular profiles in a study",
        "operationId": "getAllMolecularProfilesInStudyUsingGET",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "datatype",
                "description",
                "molecularAlterationType",
                "molecularProfileId",
                "name",
                "showProfileInAnalysisTab"
              ]
            }
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID e.g. acc_tcga",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MolecularProfile"
                  }
                }
              }
            }
          }
        },
        "description": "Get all molecular profiles in a study"
      }
    },
    "/studies/{studyId}/patients": {
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "Get all patients in a study",
        "operationId": "getAllPatientsInStudyUsingGET",
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "Direction of the sort",
            "schema": {
              "type": "string",
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number of the result list",
            "schema": {
              "minimum": 0,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size of the result list",
            "schema": {
              "maximum": 10000000,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": false,
              "type": "integer",
              "format": "int32",
              "default": 10000000
            }
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Level of detail of the response",
            "schema": {
              "type": "string",
              "default": "SUMMARY",
              "enum": [
                "DETAILED",
                "ID",
                "META",
                "SUMMARY"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Name of the property that the result list is sorted by",
            "schema": {
              "type": "string",
              "enum": [
                "patientId"
              ]
            }
          },
          {
            "name": "studyId",
            "in": "path",
            "description": "Study ID e.g. acc_tcga",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Patient"
                  }
                }
              }
            }
          }
        },
        "description": "Get all patients in a study"
      }
    },
    "/studies/{studyId}/patients/{patientId}": {
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "Get a patient in a study",
        "operationId": "getPatientInStudyUsingGET",
        "parameters": [
          {
            "name": "patientId",
[...]
