{
  "openapi": "3.0.3",
  "info": {
    "title": "Orca Scan REST API",
    "version": "1.0",
    "description": "OpenAPI extracted from the Orca Scan REST API guide.",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-jentic-source-url": "https://github.com/orca-scan/orca-scan-openapi"
  },
  "servers": [
    {
      "url": "https://api.orcascan.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Sheets"
    },
    {
      "name": "Rows"
    },
    {
      "name": "History"
    },
    {
      "name": "Users"
    },
    {
      "name": "Hooks"
    },
    {
      "name": "Fields"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API-KEY"
      }
    },
    "parameters": {
      "SheetId": {
        "name": "sheetId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "RowId": {
        "name": "rowId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "UserId": {
        "name": "userId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "HookId": {
        "name": "hookId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "FieldKey": {
        "name": "fieldKey",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Partial": {
        "name": "partial",
        "in": "query",
        "required": false,
        "description": "If true, only provided fields are updated",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "Barcode": {
        "name": "barcode",
        "in": "query",
        "required": false,
        "description": "Filter rows by barcode value",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "required": [
          "status",
          "error",
          "message"
        ],
        "properties": {
          "status": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SheetSummary": {
        "type": "object",
        "required": [
          "_id",
          "name"
        ],
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isOwner": {
            "type": "boolean"
          },
          "canAdmin": {
            "type": "boolean"
          },
          "canUpdate": {
            "type": "boolean"
          },
          "canDelete": {
            "type": "boolean"
          },
          "canExport": {
            "type": "boolean"
          }
        }
      },
      "SheetSettings": {
        "type": "object",
        "properties": {
          "allowPublicExport": {
            "type": "boolean"
          },
          "publicExportUrl": {
            "type": "string"
          },
          "allowPublicEntry": {
            "type": "boolean"
          },
          "publicEntryUrl": {
            "type": "string"
          },
          "allowWebHookIn": {
            "type": "boolean"
          },
          "webHookInUrl": {
            "type": "string"
          },
          "lookupUrl": {
            "type": "string"
          },
          "validationUrl": {
            "type": "string"
          },
          "webHookOutUrl": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "dateTimeFormat": {
            "type": "string"
          }
        }
      },
      "Row": {
        "type": "object",
        "description": "Dynamic row object. Keys map to your sheet's fields.",
        "additionalProperties": true
      },
      "HistoryEntry": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "barcode": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "_change": {
            "type": "string",
            "enum": [
              "add",
              "update",
              "delete"
            ]
          },
          "_changedBy": {
            "type": "string"
          },
          "_changedOn": {
            "type": "string",
            "format": "date-time"
          },
          "_changedUsing": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "_id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "canUpdate": {
            "type": "boolean"
          },
          "canDelete": {
            "type": "boolean"
          },
          "canExport": {
            "type": "boolean"
          },
          "canAdmin": {
            "type": "boolean"
          },
          "invited": {
            "type": "boolean"
          }
        }
      },
      "UserInput": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "canUpdate": {
            "type": "boolean"
          },
          "canDelete": {
            "type": "boolean"
          },
          "canExport": {
            "type": "boolean"
          },
          "canAdmin": {
            "type": "boolean"
          }
        }
      },
      "Hook": {
        "type": "object",
        "required": [
          "eventName",
          "targetUrl"
        ],
        "properties": {
          "_id": {
            "type": "string"
          },
          "eventName": {
            "type": "string"
          },
          "sheetId": {
            "type": "string"
          },
          "targetUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "HookInput": {
        "type": "object",
        "required": [
          "eventName",
          "targetUrl"
        ],
        "properties": {
          "eventName": {
            "type": "string",
            "enum": [
              "rows:import:append",
              "rows:import:replace",
              "rows:add",
              "rows:update",
              "rows:delete",
              "columns:clear",
              "sheet:clear",
              "sheet:settings:update"
            ]
          },
          "targetUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Field": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "readOnly": true
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "listOptions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "multiSelect": {
            "type": "boolean"
          },
          "formula": {
            "type": "string"
          },
          "locked": {
            "type": "boolean"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "FieldInputNew": {
        "type": "object",
        "required": [
          "label",
          "format"
        ],
        "properties": {
          "label": {
            "type": "string"
          },
          "format": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiError"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/sheets": {
      "get": {
        "tags": [
          "Sheets"
        ],
        "summary": "Get list of sheets",
        "operationId": "getSheets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SheetSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Sheets"
        ],
        "summary": "Create a sheet",
        "operationId": "createSheet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "templateName": {
                    "type": "string"
                  },
                  "includeTestData": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "rows": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/settings": {
      "get": {
        "tags": [
          "Sheets"
        ],
        "summary": "Get sheet settings",
        "operationId": "getSheetSettings",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SheetSettings"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/clear": {
      "put": {
        "tags": [
          "Sheets"
        ],
        "summary": "Removes all rows from a sheet",
        "operationId": "clearSheet",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          }
        ],
        "responses": {
          "200": {
            "description": "Cleared"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/rename": {
      "put": {
        "tags": [
          "Sheets"
        ],
        "summary": "Rename a sheet",
        "operationId": "renameSheet",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}": {
      "delete": {
        "tags": [
          "Sheets"
        ],
        "summary": "Delete a sheet",
        "operationId": "deleteSheet",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/rows": {
      "get": {
        "tags": [
          "Rows"
        ],
        "summary": "Get all rows",
        "operationId": "getRows",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/Barcode"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Row"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Rows"
        ],
        "summary": "Add row(s)",
        "operationId": "addRows",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/Partial"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Row"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added/updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Row"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "put": {
        "tags": [
          "Rows"
        ],
        "summary": "Bulk update rows",
        "operationId": "bulkUpdateRows",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/Partial"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Row"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Row"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Rows"
        ],
        "summary": "Delete multiple rows by id",
        "operationId": "deleteRows",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/rows/{rowId}": {
      "get": {
        "tags": [
          "Rows"
        ],
        "summary": "Get a single row",
        "operationId": "getRow",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Row"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "put": {
        "tags": [
          "Rows"
        ],
        "summary": "Update a single row",
        "operationId": "updateRow",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          },
          {
            "$ref": "#/components/parameters/Partial"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Row"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Row"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Rows"
        ],
        "summary": "Delete a single row",
        "operationId": "deleteRow",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/history": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get sheet history",
        "operationId": "getSheetHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HistoryEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/{rowId}/history": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get row history",
        "operationId": "getRowHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/RowId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HistoryEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get users for a sheet",
        "operationId": "getUsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Add a user to a sheet",
        "operationId": "addUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/users/{userId}": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update a user in a sheet",
        "operationId": "updateUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Remove a user from a sheet",
        "operationId": "deleteUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/hook-events": {
      "get": {
        "tags": [
          "Hooks"
        ],
        "summary": "Get list of supported hook events",
        "operationId": "getHookEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/hooks": {
      "get": {
        "tags": [
          "Hooks"
        ],
        "summary": "Get all hooks on a sheet",
        "operationId": "getHooks",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Hook"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Hooks"
        ],
        "summary": "Create a new hook",
        "operationId": "createHook",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Hook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/hooks/{hookId}": {
      "get": {
        "tags": [
          "Hooks"
        ],
        "summary": "Get an existing hook",
        "operationId": "getHook",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/HookId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Hook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "put": {
        "tags": [
          "Hooks"
        ],
        "summary": "Update an existing hook",
        "operationId": "updateHook",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/HookId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Hook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Hooks"
        ],
        "summary": "Delete an existing hook",
        "operationId": "deleteHook",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/HookId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/fields": {
      "get": {
        "tags": [
          "Fields"
        ],
        "summary": "Get fields for a sheet",
        "operationId": "getFields",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Field"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Fields"
        ],
        "summary": "Add a field to a sheet",
        "operationId": "addField",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldInputNew"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Field"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/sheets/{sheetId}/fields/{fieldKey}": {
      "put": {
        "tags": [
          "Fields"
        ],
        "summary": "Update a field",
        "operationId": "updateField",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/FieldKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Field"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Field"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Fields"
        ],
        "summary": "Delete a field",
        "operationId": "deleteField",
        "parameters": [
          {
            "$ref": "#/components/parameters/SheetId"
          },
          {
            "$ref": "#/components/parameters/FieldKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    }
  }
}