{
  "openapi": "3.0.3",
  "info": {
    "title": "Upwork GraphQL API",
    "description": "Upwork's API provides access to freelancer profiles, job postings, contracts, and other marketplace data. Note: Upwork has migrated to a GraphQL API. This OpenAPI spec documents the GraphQL endpoint for compatibility purposes.",
    "version": "1.0.0",
    "contact": {
      "name": "Upwork Developer Support",
      "url": "https://www.upwork.com/developer/documentation/graphql/api/docs/index.html"
    },
    "x-jentic-source-url": "https://developers.upwork.com/"
  },
  "servers": [
    {
      "url": "https://api.upwork.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "GraphQL",
      "description": "GraphQL API endpoint"
    },
    {
      "name": "Jobs",
      "description": "Job search and posting operations"
    },
    {
      "name": "Freelancers",
      "description": "Freelancer profile operations"
    }
  ],
  "paths": {
    "/graphql": {
      "post": {
        "operationId": "graphqlQuery",
        "summary": "Execute a GraphQL query",
        "description": "Executes a GraphQL query or mutation against the Upwork API. Supports queries for jobs, freelancers, contracts, organizations, and other marketplace data.",
        "tags": ["GraphQL"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Invalid GraphQL query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or expired OAuth token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication. Obtain credentials by registering an application in the Upwork Developer portal.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.upwork.com/ab/account-security/oauth2/authorize",
            "tokenUrl": "https://www.upwork.com/api/v3/oauth2/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "GraphQLRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "GraphQL query or mutation string."
          },
          "variables": {
            "type": "object",
            "additionalProperties": true,
            "description": "Variables for the GraphQL query."
          },
          "operationName": {
            "type": "string",
            "description": "Name of the operation to execute if the query contains multiple operations."
          }
        }
      },
      "GraphQLResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "The response data from the GraphQL query."
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GraphQLError"
            },
            "description": "List of errors if the query failed."
          }
        }
      },
      "GraphQLError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "line": {
                  "type": "integer"
                },
                "column": {
                  "type": "integer"
                }
              }
            },
            "description": "Locations in the query where the error occurred."
          },
          "path": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Path to the field that caused the error."
          },
          "extensions": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional error metadata."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code."
          }
        }
      }
    }
  }
}
