{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudbet Sports Betting API",
    "description": "Official Cloudbet API providing real-time sports odds and betting capabilities. Includes feed endpoints for sports data, odds, and events; trading endpoints for placing bets; and account management endpoints.",
    "version": "2.0.0",
    "contact": {
      "name": "Cloudbet",
      "url": "https://www.cloudbet.com/api/"
    }
  },
  "servers": [
    {
      "url": "https://sports-api.cloudbet.com/pub",
      "description": "Cloudbet Sports API Production Server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/v2/odds/sports": {
      "get": {
        "operationId": "getSports",
        "summary": "Get available sports",
        "description": "Returns a list of all available sports that can be bet on.",
        "tags": [
          "Feed"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SportsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        }
      }
    },
    "/v2/odds/sports/{key}": {
      "get": {
        "operationId": "getSportDetails",
        "summary": "Get sport details with categories",
        "description": "Returns detailed information about a specific sport including its categories and competitions.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Sport identifier (e.g., soccer, basketball, tennis).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SportWithCategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Sport not found"
          }
        }
      }
    },
    "/v2/odds/competitions/{key}": {
      "get": {
        "operationId": "getCompetition",
        "summary": "Get competition events and odds",
        "description": "Returns events and odds for a specific competition.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Competition identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start time as Unix epoch timestamp.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End time as Unix epoch timestamp.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "markets",
            "in": "query",
            "description": "Comma-separated list of market types to filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "players",
            "in": "query",
            "description": "Include player information.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of events to return (max 10000).",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Competition not found"
          }
        }
      }
    },
    "/v2/odds/events": {
      "get": {
        "operationId": "getEvents",
        "summary": "Get events with odds",
        "description": "Returns events with odds for a specified sport. Can filter by live/upcoming and time range.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "description": "Sport type identifier (e.g., soccer, basketball).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "live",
            "in": "query",
            "description": "If true, returns only live events. Mutually exclusive with from/to.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start time as Unix epoch timestamp. Mutually exclusive with live.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End time as Unix epoch timestamp. Mutually exclusive with live.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "markets",
            "in": "query",
            "description": "Comma-separated market type filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "players",
            "in": "query",
            "description": "Include player data.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of events (max 10000).",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixturesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/odds/events/{id}": {
      "get": {
        "operationId": "getEventById",
        "summary": "Get event details by ID",
        "description": "Returns detailed information and odds for a specific event.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Event identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "markets",
            "in": "query",
            "description": "Comma-separated market type filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Event not found"
          }
        }
      }
    },
    "/v2/odds/fixtures": {
      "get": {
        "operationId": "getFixtures",
        "summary": "Get fixtures",
        "description": "Returns fixtures for a sport, optionally filtered by date range.",
        "tags": [
          "Feed"
        ],
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": true,
            "description": "Sport type identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date in ISO 8601 format (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start time as Unix epoch timestamp.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End time as Unix epoch timestamp.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "players",
            "in": "query",
            "description": "Include player data.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of fixtures (max 10000).",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 10000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixturesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/odds/lines": {
      "post": {
        "operationId": "getLine",
        "summary": "Get line/odds for a selection",
        "description": "Returns the current line (price/odds) for a specific market selection on an event.",
        "tags": [
          "Feed"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostLineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LineResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v4/bets/place/straight": {
      "post": {
        "operationId": "placeStraightBet",
        "summary": "Place a straight bet",
        "description": "Places a single selection bet. Rate limited to 2 requests per second.",
        "tags": [
          "Trading"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceStraightBetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bet accepted or pending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid bet parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - geographic restriction or account issue"
          },
          "429": {
            "description": "Rate limit exceeded (2 RPS)",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per second",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining requests in window",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v4/bets/place/multiple": {
      "post": {
        "operationId": "placeMultipleBet",
        "summary": "Place a multiple (parlay) bet",
        "description": "Places a parlay bet with multiple selections. Rate limited to 2 requests per second.",
        "tags": [
          "Trading"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceMultipleBetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bet accepted or pending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v4/bets": {
      "get": {
        "operationId": "getBets",
        "summary": "Get bets history",
        "description": "Returns bets for all types: straight, multiple, and cashout.",
        "tags": [
          "Trading"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by bet status.",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING_ACCEPTANCE",
                "ACCEPTED",
                "REJECTED",
                "COMPLETED",
                "CANCELLED"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of bets to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BetsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/account/info": {
      "get": {
        "operationId": "getAccountInfo",
        "summary": "Get account information",
        "description": "Returns account details including email, nickname, and UUID.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/account/currencies": {
      "get": {
        "operationId": "getAccountCurrencies",
        "summary": "Get active currencies",
        "description": "Returns a list of active currencies for the account.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/account/currencies/{currency}/balance": {
      "get": {
        "operationId": "getCurrencyBalance",
        "summary": "Get balance for a currency",
        "description": "Returns the balance for a specific currency.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "description": "Currency code (e.g., BTC, ETH, USDC, USDT).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "string",
                      "description": "Balance amount"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Currency not found"
          }
        }
      }
    },
    "/v1/affiliate/analytics": {
      "get": {
        "operationId": "getAffiliateAnalytics",
        "summary": "Get affiliate analytics",
        "description": "Returns aggregated affiliate analytics data. Maximum 31-day date range.",
        "tags": [
          "Affiliate"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateAnalytics"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/affiliate/analytics/details": {
      "get": {
        "operationId": "getAffiliateAnalyticsDetails",
        "summary": "Get detailed affiliate analytics",
        "description": "Returns detailed affiliate analytics broken down by a specified grouping.",
        "tags": [
          "Affiliate"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "grouping",
            "in": "query",
            "required": true,
            "description": "Grouping dimension for analytics breakdown.",
            "schema": {
              "type": "string",
              "enum": [
                "aftm_source",
                "aftm_campaign",
                "aftm_content",
                "aftm_medium",
                "aftm_referrer",
                "aftm_banner_id",
                "aftm_landing_url",
                "aftm_cid"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateAnalyticsDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "X-API-Key",
        "in": "header",
        "description": "JWT-based API key for authentication. A single long-lived API key is required for access."
      }
    },
    "schemas": {
      "SportsResponse": {
        "type": "object",
        "properties": {
          "sports": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sport"
            }
          }
        }
      },
      "Sport": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Sport identifier"
          },
          "name": {
            "type": "string",
            "description": "Sport display name"
          },
          "competitionCount": {
            "type": "integer"
          },
          "eventCount": {
            "type": "integer"
          }
        }
      },
      "SportWithCategoryResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "competitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Competition"
            }
          }
        }
      },
      "Competition": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "eventCount": {
            "type": "integer"
          }
        }
      },
      "CompetitionResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "FixturesResponse": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "EventResponse": {
        "type": "object",
        "properties": {
          "event": {
            "$ref": "#/components/schemas/Event"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Event identifier"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PRE_TRADING",
              "TRADING",
              "TRADING_LIVE",
              "RESULTED",
              "INTERRUPTED",
              "AWAITING_RESULTS",
              "POST_TRADING",
              "CANCELLED"
            ]
          },
          "sport": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "competition": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "home": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "away": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "cutoffTime": {
            "type": "string",
            "format": "date-time"
          },
          "markets": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Market"
            }
          }
        }
      },
      "Market": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "selections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Selection"
            }
          }
        }
      },
      "Selection": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Decimal odds"
          },
          "probability": {
            "type": "number",
            "format": "double"
          },
          "minStake": {
            "type": "string"
          },
          "maxStake": {
            "type": "string"
          },
          "marketUrl": {
            "type": "string",
            "description": "Market URL in format marketKey/outcome?params"
          },
          "status": {
            "type": "string",
            "enum": [
              "ENABLED",
              "DISABLED"
            ]
          },
          "side": {
            "type": "string",
            "enum": [
              "BACK",
              "LAY"
            ]
          }
        }
      },
      "PostLineRequest": {
        "type": "object",
        "required": [
          "eventId",
          "marketUrl"
        ],
        "properties": {
          "eventId": {
            "type": "string",
            "description": "Event identifier"
          },
          "marketUrl": {
            "type": "string",
            "description": "Market URL in format marketKey/outcome?params"
          }
        }
      },
      "LineResponse": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number",
            "format": "double"
          },
          "probability": {
            "type": "number",
            "format": "double"
          },
          "minStake": {
            "type": "string"
          },
          "maxStake": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ENABLED",
              "DISABLED"
            ]
          }
        }
      },
      "PlaceStraightBetRequest": {
        "type": "object",
        "required": [
          "referenceId",
          "currency",
          "stake",
          "priceChange",
          "selection"
        ],
        "properties": {
          "referenceId": {
            "type": "string",
            "format": "uuid",
            "description": "Client-supplied idempotency identifier"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (BTC, ETH, USDC, USDT, etc.)"
          },
          "stake": {
            "type": "string",
            "description": "Wager amount"
          },
          "acceptPartialStake": {
            "type": "boolean",
            "description": "Whether to allow partial stake fills"
          },
          "priceChange": {
            "$ref": "#/components/schemas/PriceChange"
          },
          "selection": {
            "$ref": "#/components/schemas/BetSelection"
          }
        }
      },
      "PlaceMultipleBetRequest": {
        "type": "object",
        "required": [
          "referenceId",
          "currency",
          "stake",
          "priceChange",
          "selections"
        ],
        "properties": {
          "referenceId": {
            "type": "string",
            "format": "uuid"
          },
          "currency": {
            "type": "string"
          },
          "stake": {
            "type": "string"
          },
          "acceptPartialStake": {
            "type": "boolean"
          },
          "priceChange": {
            "$ref": "#/components/schemas/PriceChange"
          },
          "selections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BetSelection"
            }
          }
        }
      },
      "PriceChange": {
        "type": "object",
        "properties": {
          "acceptance": {
            "type": "string",
            "enum": [
              "NONE",
              "BETTER",
              "SLIPPAGE_TOLERANCE"
            ],
            "description": "Price change acceptance mode"
          },
          "slippageTolerance": {
            "type": "number",
            "format": "double",
            "description": "Tolerance ratio when using SLIPPAGE_TOLERANCE mode"
          }
        }
      },
      "BetSelection": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "marketUrl": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Requested price/odds"
          }
        }
      },
      "BetResponse": {
        "type": "object",
        "properties": {
          "referenceId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING_ACCEPTANCE",
              "ACCEPTED",
              "REJECTED",
              "COMPLETED",
              "CANCELLED"
            ]
          },
          "result": {
            "type": "string",
            "enum": [
              "PENDING",
              "WIN",
              "LOSS",
              "PUSH",
              "HALF_WIN",
              "HALF_LOSS",
              "PARTIAL",
              "CASHED_OUT"
            ]
          },
          "rejectionCode": {
            "type": "string",
            "enum": [
              "INSUFFICIENT_FUNDS",
              "PRICE_ABOVE_MARKET",
              "STAKE_ABOVE_MAX",
              "STAKE_BELOW_MIN",
              "LIABILITY_LIMIT_EXCEEDED",
              "MARKET_SUSPENDED",
              "RESTRICTED",
              "VERIFICATION_REQUIRED"
            ]
          },
          "currency": {
            "type": "string"
          },
          "stake": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "payout": {
            "type": "string"
          },
          "createTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BetsListResponse": {
        "type": "object",
        "properties": {
          "bets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BetResponse"
            }
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "AccountInfo": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "nickname": {
            "type": "string"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "AffiliateAnalytics": {
        "type": "object",
        "properties": {
          "clicks": {
            "type": "integer"
          },
          "signups": {
            "type": "integer"
          },
          "deposits": {
            "type": "integer"
          },
          "revenue": {
            "type": "string"
          }
        }
      },
      "AffiliateAnalyticsDetails": {
        "type": "object",
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "groupingValue": {
                  "type": "string"
                },
                "clicks": {
                  "type": "integer"
                },
                "signups": {
                  "type": "integer"
                },
                "deposits": {
                  "type": "integer"
                },
                "revenue": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Affiliate"
    },
    {
      "name": "Feed"
    },
    {
      "name": "Trading"
    }
  ]
}
