{
  "openapi": "3.0.0",
  "info": {
    "description": "Use this API to manage IoT Central Applications in your Azure subscription.",
    "title": "IotCentralClient",
    "version": "2018-09-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/iotcentral/2018-09-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/iotcentral/resource-manager/Microsoft.IoTCentral/stable/2018-09-01/iotcentral.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "iotcentral",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.IoTCentral/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            },
            "description": "DefaultErrorResponse"
          }
        },
        "tags": [
          "Operations"
        ],
        "deprecated": false,
        "description": "Lists all of the available IoT Central application REST API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Operations_List": {
            "parameters": {
              "api-version": "2018-09-01"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": null,
                  "value": [
                    {
                      "display": {
                        "description": "Gets a single IoT Central Application",
                        "operation": "Get IoT Central Application",
                        "provider": "Microsoft IoT Central",
                        "resource": "IoTApps"
                      },
                      "name": "Microsoft.IoTCentral/IoTApps/read"
                    },
                    {
                      "display": {
                        "description": "Creates or Updates an IoT Central Applications",
                        "operation": "Create or Update IoT Central Application",
                        "provider": "Microsoft IoT Central",
                        "resource": "IoTApps"
                      },
                      "name": "Microsoft.IoTCentral/IoTApps/write"
                    },
                    {
                      "display": {
                        "description": "Deletes an IoT Central Applications",
                        "operation": "Delete IoT Central Application",
                        "provider": "Microsoft IoT Central",
                        "resource": "IoTApps"
                      },
                      "name": "Microsoft.IoTCentral/IoTApps/delete"
                    },
                    {
                      "display": {
                        "description": "Checks if an IoT Central Application name is available",
                        "operation": "Check resource name availability",
                        "provider": "Microsoft IoT Central",
                        "resource": ""
                      },
                      "name": "Microsoft.IoTCentral/checkNameAvailability/action"
                    },
                    {
                      "display": {
                        "description": "Gets all the available operations on IoT Central Applications",
                        "operation": "Get all the available operations",
                        "provider": "Microsoft IoT Central",
                        "resource": ""
                      },
                      "name": "Microsoft.IoTCentral/operations/read"
                    }
                  ]
                },
                "headers": {
                  "code": "200"
                }
              },
              "default": {
                "body": {
                  "error": {
                    "code": "Error code",
                    "message": "Error message",
                    "target": "Error target"
                  }
                },
                "description": "Error message returned for an unexpected response",
                "headers": {}
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/IoTApps": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppListResult"
                }
              }
            },
            "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT Central Applications in the subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            },
            "description": "DefaultErrorResponse"
          }
        },
        "tags": [
          "Apps"
        ],
        "deprecated": false,
        "description": "Get all IoT Central Applications in a subscription.",
        "operationId": "Apps_ListBySubscription",
        "x-ms-examples": {
          "Apps_ListBySubscription": {
            "parameters": {
              "api-version": "2018-09-01",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": null,
                  "value": [
                    {
                      "tags": {
                        "key": "value"
                      },
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp",
                      "location": "westus",
                      "name": "myIoTCentralApp",
                      "properties": {
                        "applicationId": "6ebd8fd3-6e34-419e-908f-9be61ec6f6d6",
                        "displayName": "My IoT Central App",
                        "subdomain": "my-iot-central-app",
                        "template": "iotc-default@1.0.0"
                      },
                      "sku": {
                        "name": "F1"
                      },
                      "type": "Microsoft.IoTCentral/IoTApps"
                    }
                  ]
                },
                "default": {
                  "body": {
                    "error": {
                      "code": "Error code",
                      "message": "Error message",
                      "target": "Error target"
                    }
                  },
                  "description": "Error message returned for an unexpected response",
                  "headers": {}
                },
                "headers": {
                  "code": "200"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/appTemplates": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppTemplatesResult"
                }
              }
            },
            "description": "The body contains all the IoT Central application templates."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            },
            "description": "DefaultErrorResponse"
          }
        },
        "tags": [
          "Apps"
        ],
        "deprecated": false,
        "description": "Get all available application templates.",
        "operationId": "Apps_ListTemplates",
        "x-ms-examples": {
          "Apps_ListTemplates": {
            "parameters": {
              "api-version": "2018-09-01",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": null,
                  "value": [
                    {
                      "appTemplateName": "IoT Central Application template",
                      "description": "Description for IoT Central Application template",
                      "manifestId": "iotc-default",
                      "manifestVersion": "1.0.0",
                      "order": 1,
                      "title": "IoT Central Application template"
                    }
                  ]
                },
                "default": {
                  "body": {
                    "error": {
                      "code": "Error code",
                      "message": "Error message",
                      "target": "Error target"
                    }
                  },
                  "description": "Error message returned for an unexpected response",
                  "headers": {}
                },
                "description": "Returns the application templates details",
                "headers": {
                  "code": "200"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppAvailabilityInfo"
                }
              }
            },
            "description": "This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the IoT Central application name is available. If the name is not available, the body contains the reason."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            },
            "description": "DefaultErrorResponse"
          }
        },
        "tags": [
          "Apps"
        ],
        "deprecated": false,
        "description": "Check if an IoT Central application name is available.",
        "operationId": "Apps_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperationInputs"
              }
            }
          },
          "description": "Set the name parameter in the OperationInputs structure to the name of the IoT Central application to check.",
          "required": true
        },
        "x-ms-examples": {
          "Apps_CheckNameAvailability": {
            "parameters": {
              "api-version": "2018-09-01",
              "operationInputs": {
                "name": "myiotcentralapp",
                "type": "IoTApps"
              },
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "nameAvailable": true
                },
                "description": "Returns information about resource name availability",
                "headers": {
                  "code": "200"
                }
              },
              "default": {
                "body": {
                  "error": {
                    "code": "Error code",
                    "message": "Error message",
                    "target": "Error target"
                  }
                },
                "description": "Error message returned for an unexpected response",
                "headers": {}
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/checkSubdomainAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppAvailabilityInfo"
                }
              }
            },
            "description": "This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the IoT Central application subdomain is available. If the subdomain is not available, the body contains the reason."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            },
            "description": "DefaultErrorResponse"
          }
        },
        "tags": [
          "Apps"
        ],
        "deprecated": false,
        "description": "Check if an IoT Central application subdomain is available.",
        "operationId": "Apps_CheckSubdomainAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperationInputs"
              }
            }
          },
          "description": "Set the name parameter in the OperationInputs structure to the subdomain of the IoT Central application to check.",
          "required": true
        },
        "x-ms-examples": {
          "Apps_SubdomainAvailability": {
            "parameters": {
              "api-version": "2018-09-01",
              "operationInputs": {
                "name": "myiotcentralapp",
                "type": "IoTApps"
              },
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "nameAvailable": true
                },
                "description": "Returns information about resource subdomain availability",
                "headers": {
                  "code": "200"
                }
              },
              "default": {
                "body": {
                  "error": {
                    "code": "Error code",
                    "message": "Error message",
                    "target": "Error target"
                  }
                },
                "description": "Error message returned for an unexpected response",
                "headers": {}
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTCentral/IoTApps": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppListResult"
                }
              }
            },
            "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT Central Applications in the resource group."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            },
            "description": "DefaultErrorResponse"
          }
        },
        "tags": [
          "Apps"
        ],
        "deprecated": false,
        "description": "Get all the IoT Central Applications in a resource group.",
        "operationId": "Apps_ListByResourceGroup",
        "x-ms-examples": {
          "Apps_ListByResourceGroup": {
            "parameters": {
              "api-version": "2018-09-01",
              "resourceGroupName": "resRg",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": null,
                  "value": [
                    {
                      "tags": {
                        "key": "value"
                      },
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp",
                      "location": "westus",
                      "name": "myIoTCentralApp",
                      "properties": {
                        "applicationId": "6ebd8fd3-6e34-419e-908f-9be61ec6f6d6",
                        "displayName": "My IoT Central App",
                        "subdomain": "my-iot-central-app",
                        "template": "iotc-default@1.0.0"
                      },
                      "sku": {
                        "name": "F1"
                      },
                      "type": "Microsoft.IoTCentral/IoTApps"
                    }
                  ]
                },
                "headers": {
                  "code": "200"
                }
              },
              "default": {
                "body": {
                  "error": {
                    "code": "Error code",
                    "message": "Error message",
                    "target": "Error target"
                  }
                },
                "description": "Error message returned for an unexpected response",
                "headers": {}
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTCentral/IoTApps/{resourceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is returned as a response to the status polling request for the delete operation. The body contains the resource representation that indicates a transitional provisioning state."
          },
          "202": {
            "description": "Accepted - Delete request accepted; the operation will complete asynchronously."
          },
          "204": {
            "description": "Once the long running delete operation completes successfully, a 204 No Content status code is returned when the status polling request finds the IoT Central application metadata in the service and the status of the delete operation is set to a completed state."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            },
            "description": "DefaultErrorResponse"
          }
        },
        "tags": [
          "Apps"
        ],
        "description": "Delete an IoT Central application.",
        "operationId": "Apps_Delete",
        "x-ms-examples": {
          "Apps_Delete": {
            "parameters": {
              "api-version": "2018-09-01",
              "resourceGroupName": "resRg",
              "resourceName": "myIoTCentralApp",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "header": {
                  "code": "200",
                  "message": "OK",
                  "target": "ResourceHandler.ExecuteDeleteRequest"
                }
              },
              "202": {},
              "204": {},
              "default": {
                "body": {
                  "error": {
                    "code": "Error code",
                    "message": "Error message",
                    "target": "Error target"
                  }
                },
                "description": "Error message returned for an unexpected response",
                "headers": {
                  "code": "200",
                  "message": "Created"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            },
            "description": "The body contains all the non-security properties of the IoT Central application. Security-related properties are set to null."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            },
            "description": "Default error response"
          }
        },
        "tags": [
          "Apps"
        ],
        "deprecated": false,
        "description": "Get the metadata of an IoT Central application.",
        "operationId": "Apps_Get",
        "x-ms-examples": {
          "Apps_Get": {
            "parameters": {
              "api-version": "2018-09-01",
              "resourceGroupName": "resRg",
              "resourceName": "myIoTCentralApp",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "key": "value"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp",
                  "location": "westus",
                  "name": "myIoTCentralApp",
                  "properties": {
                    "applicationId": "6ebd8fd3-6e34-419e-908f-9be61ec6f6d6",
                    "displayName": "My IoT Central App",
                    "subdomain": "my-iot-central-app",
                    "template": "iotc-default@1.0.0"
                  },
                  "sku": {
                    "name": "F1"
                  },
                  "type": "Microsoft.IoTCentral/IoTApps"
                },
                "description": "Returns the application details",
                "headers": {
                  "code": "200"
                }
              },
              "default": {
                "body": {
                  "error": {
                    "code": "Error code",
                    "message": "Error message",
                    "target": "Error target"
                  }
                },
                "description": "Error message returned for an unexpected response",
                "headers": {}
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            },
            "description": "This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state."
          },
          "202": {
            "description": "Accepted - Put request accepted; the operation will complete asynchronously."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            },
            "description": "DefaultErrorResponse"
          }
        },
        "tags": [
          "Apps"
        ],
        "deprecated": false,
        "description": "Update the metadata of an IoT Central application.",
        "operationId": "Apps_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppPatch"
              }
            }
          },
          "description": "The IoT Central application metadata and security metadata.",
          "required": true
        },
        "x-ms-examples": {
          "Apps_Update": {
            "parameters": {
              "AppPatch": {
                "properties": {
                  "displayName": "My IoT Central App 2"
                }
              },
              "api-version": "2018-09-01",
              "resourceGroupName": "resRg",
              "resourceName": "myIoTCentralApp",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "key": "value"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp",
                  "location": "westus",
                  "name": "myIoTCentralApp",
                  "properties": {
                    "applicationId": "6ebd8fd3-6e34-419e-908f-9be61ec6f6d6",
                    "displayName": "My IoT Central App 2",
                    "subdomain": "my-iot-central-app-2",
                    "template": "iotc-default@1.0.0"
                  },
                  "sku": {
                    "name": "F1"
                  },
                  "type": "Microsoft.IoTCentral/IoTApps"
                },
                "headers": {
                  "code": "200",
                  "message": "OK",
                  "target": "ResourceHandler.ExecutePatchRequest"
                }
              },
              "202": {},
              "default": {
                "body": {
                  "error": {
                    "code": "Error code",
                    "message": "Error message",
                    "target": "Error target"
                  }
                },
                "description": "Error message returned for an unexpected response",
                "headers": {}
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/api-version"
          },
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "#/components/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            },
            "description": "This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            },
            "description": "This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state."
          },
          "202": {
            "description": "Accepted - Put request accepted; the operation will complete asynchronously."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetails"
                }
              }
            },
            "description": "DefaultErrorResponse"
          }
        },
        "tags": [
          "Apps"
        ],
        "deprecated": false,
        "description": "Create or update the metadata of an IoT Central application. The usual pattern to modify a property is to retrieve the IoT Central application metadata and security metadata, and then combine them with the modified values in a new body to update the IoT Central application.",
        "operationId": "Apps_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/App"
              }
            }
          },
          "description": "The IoT Central application metadata and security metadata.",
          "required": true
        },
        "x-ms-examples": {
          "Apps_CreateOrUpdate": {
            "parameters": {
              "App": {
                "location": "westus",
                "properties": {
                  "displayName": "My IoT Central App",
                  "subdomain": "my-iot-central-app",
                  "template": "iotc-default@1.0.0"
                },
                "sku": {
                  "name": "F1"
                }
              },
              "api-version": "2018-09-01",
              "resourceGroupName": "resRg",
              "resourceName": "myIoTCentralApp",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "key": "value"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp",
                  "location": "westus",
                  "name": "myIoTCentralApp",
                  "properties": {
                    "applicationId": "6ebd8fd3-6e34-419e-908f-9be61ec6f6d6",
                    "displayName": "My IoT Central App 2",
                    "subdomain": "my-iot-central-app-2",
                    "template": "iotc-default@1.0.0"
                  },
                  "sku": {
                    "name": "F1"
                  },
                  "type": "Microsoft.IoTCentral/IoTApps"
                },
                "header": {
                  "code": "200",
                  "message": "OK"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "key": "value"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp",
                  "location": "westus",
                  "name": "myIoTCentralApp",
                  "properties": {
                    "applicationId": "6ebd8fd3-6e34-419e-908f-9be61ec6f6d6",
                    "displayName": "My IoT Central App",
                    "subdomain": "my-iot-central-app",
                    "template": "iotc-default@1.0.0"
                  },
                  "sku": {
                    "name": "F1"
                  },
                  "type": "Microsoft.IoTCentral/IoTApps"
                },
                "headers": {
                  "code": "201",
                  "message": "Created",
                  "target": "ResourceHandler.ExecutePutRequest"
                }
              },
              "202": {},
              "default": {
                "body": {
                  "error": {
                    "code": "Error code",
                    "message": "Error message",
                    "target": "Error target"
                  }
                },
                "description": "Error message returned for an unexpected response",
                "headers": {}
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "api-version": {
        "description": "The version of the API.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "resourceGroupName": {
        "description": "The name of the resource group that contains the IoT Central application.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "resourceName": {
        "description": "The ARM resource name of the IoT Central application.",
        "in": "path",
        "name": "resourceName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-comment": "validation must match #/definitions/Resource",
        "x-ms-parameter-location": "method"
      },
      "subscriptionId": {
        "description": "The subscription identifier.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "App": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The IoT Central application.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/AppProperties",
            "description": "The common properties of an IoT Central application.",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/AppSkuInfo",
            "description": "A valid instance SKU."
          }
        },
        "required": [
          "sku"
        ],
        "type": "object"
      },
      "AppAvailabilityInfo": {
        "description": "The properties indicating whether a given IoT Central application name or subdomain is available.",
        "properties": {
          "message": {
            "description": "The detailed reason message.",
            "readOnly": true,
            "type": "string"
          },
          "nameAvailable": {
            "description": "The value which indicates whether the provided name is available.",
            "readOnly": true,
            "type": "boolean"
          },
          "reason": {
            "description": "The reason for unavailability.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "AppListResult": {
        "description": "A list of IoT Central Applications with a next link.",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of IoT Central Applications.",
            "type": "string"
          },
          "value": {
            "description": "A list of IoT Central Applications.",
            "items": {
              "$ref": "#/components/schemas/App"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AppPatch": {
        "description": "The description of the IoT Central application.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Instance tags",
            "type": "object"
          },
          "properties": {
            "$ref": "#/components/schemas/AppProperties",
            "description": "The common properties of an IoT Central application.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "AppProperties": {
        "description": "The properties of an IoT Central application.",
        "properties": {
          "applicationId": {
            "description": "The ID of the application.",
            "readOnly": true,
            "type": "string"
          },
          "displayName": {
            "description": "The display name of the application.",
            "pattern": "^.{1,200}$",
            "type": "string"
          },
          "subdomain": {
            "description": "The subdomain of the application.",
            "pattern": "^[a-z0-9-]{1,63}$",
            "type": "string"
          },
          "template": {
            "description": "The ID of the application template, which is a blueprint that defines the characteristics and behaviors of an application. Optional; if not specified, defaults to a blank blueprint and allows the application to be defined from scratch.",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          }
        },
        "type": "object"
      },
      "AppSkuInfo": {
        "description": "Information about the SKU of the IoT Central application.",
        "properties": {
          "name": {
            "description": "The name of the SKU.",
            "enum": [
              "F1",
              "S1",
              "ST0",
              "ST1",
              "ST2"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AppSku"
            }
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "AppTemplate": {
        "description": "IoT Central Application Template.",
        "properties": {
          "appTemplateName": {
            "description": "The name of the template.",
            "readOnly": true,
            "type": "string"
          },
          "description": {
            "description": "The description of the template.",
            "readOnly": true,
            "type": "string"
          },
          "manifestId": {
            "description": "The ID of the template.",
            "readOnly": true,
            "type": "string"
          },
          "manifestVersion": {
            "description": "The version of the template.",
            "readOnly": true,
            "type": "string"
          },
          "order": {
            "description": "The order of the template in the templates list.",
            "readOnly": true,
            "type": "number"
          },
          "title": {
            "description": "The title of the template.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "AppTemplatesResult": {
        "description": "A list of IoT Central Application Templates with a next link.",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of IoT Central application templates.",
            "type": "string"
          },
          "value": {
            "description": "A list of IoT Central Application Templates.",
            "items": {
              "$ref": "#/components/schemas/AppTemplate"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "ErrorDetails": {
        "description": "Error details.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorResponseBody",
            "description": "Error response body.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ErrorResponseBody": {
        "description": "Details of error response.",
        "properties": {
          "code": {
            "description": "The error code.",
            "readOnly": true,
            "type": "string"
          },
          "details": {
            "description": "A list of additional details about the error.",
            "items": {
              "$ref": "#/components/schemas/ErrorResponseBody"
            },
            "type": "array"
          },
          "message": {
            "description": "The error message.",
            "readOnly": true,
            "type": "string"
          },
          "target": {
            "description": "The target of the particular error.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Operation": {
        "description": "IoT Central REST API operation",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/OperationDisplay",
            "description": "The object that represents the operation."
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{read | write | action | delete}",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationDisplay": {
        "description": "The object that represents the operation.",
        "properties": {
          "description": {
            "description": "Friendly description for the operation,",
            "readOnly": true,
            "type": "string"
          },
          "operation": {
            "description": "Name of the operation",
            "readOnly": true,
            "type": "string"
          },
          "provider": {
            "description": "Service provider: Microsoft IoT Central",
            "readOnly": true,
            "type": "string"
          },
          "resource": {
            "description": "Resource Type: IoT Central",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationInputs": {
        "description": "Input values.",
        "properties": {
          "name": {
            "description": "The name of the IoT Central application instance to check.",
            "pattern": "^[a-z0-9-]{1,63}$",
            "type": "string"
          },
          "type": {
            "default": "IoTApps",
            "description": "The type of the IoT Central resource to query.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "OperationListResult": {
        "description": "A list of IoT Central operations. It contains a list of operations and a URL link to get the next set of results.",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of IoT Central description objects.",
            "type": "string"
          },
          "value": {
            "description": "A list of operations supported by the Microsoft.IoTCentral resource provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "readOnly": true,
            "type": "array"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "The common properties of an ARM resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "The resource tags.",
            "type": "object"
          },
          "id": {
            "description": "The ARM resource identifier.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "The resource location.",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "name": {
            "description": "The ARM resource name.",
            "pattern": "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,99}[a-zA-Z0-9]$",
            "readOnly": true,
            "type": "string",
            "x-comment": "pattern must match #/parameters/resourceName"
          },
          "type": {
            "description": "The resource type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}