{
  "openapi": "3.0.3",
  "info": {
    "title": "MBTA V3 API",
    "description": "The MBTA V3 API provides schedule, real-time, and alert information for the Massachusetts Bay Transportation Authority. Responses follow the JSON:API specification.",
    "version": "3.0",
    "x-jentic-source-url": "https://api-v3.mbta.com/"
  },
  "servers": [
    {
      "url": "https://api-v3.mbta.com"
    }
  ],
  "paths": {
    "/vehicles": {
      "get": {
        "operationId": "listvehicles",
        "summary": "List vehicles",
        "description": "List active vehicles (buses, ferries, trains) with real-time positions.",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "page[offset]",
            "in": "query",
            "description": "Offset for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "description": "Limit for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results by attribute (prefix with - for descending)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[vehicle]",
            "in": "query",
            "description": "Sparse fieldset for vehicles",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Include related resources (trip, stop, route)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "description": "Filter by route ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "description": "Filter by direction (0 or 1)",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "filter[trip]",
            "in": "query",
            "description": "Filter by trip ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[label]",
            "in": "query",
            "description": "Filter by vehicle label",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/VehiclesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key missing or invalid",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}": {
      "get": {
        "operationId": "getvehicle",
        "summary": "Get a vehicle",
        "description": "Get a single vehicle by ID.",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Vehicle ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[vehicle]",
            "in": "query",
            "description": "Sparse fieldset for vehicles",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Include related resources",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/routes": {
      "get": {
        "operationId": "listroutes",
        "summary": "List routes",
        "description": "List transit routes.",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "page[offset]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[route]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Include related resources (line, route_patterns)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "description": "Filter by route type (0=Light Rail, 1=Heavy Rail, 2=Commuter Rail, 3=Bus, 4=Ferry)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[stop]",
            "in": "query",
            "description": "Filter by stop ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/routes/{id}": {
      "get": {
        "operationId": "getroute",
        "summary": "Get a route",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[route]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stops": {
      "get": {
        "operationId": "liststops",
        "summary": "List stops",
        "description": "List transit stops and stations.",
        "tags": [
          "Stops"
        ],
        "parameters": [
          {
            "name": "page[offset]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[stop]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route_type]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "filter[latitude]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[longitude]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[radius]",
            "in": "query",
            "description": "Radius in degrees for geographic filtering",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/StopsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stops/{id}": {
      "get": {
        "operationId": "getstop",
        "summary": "Get a stop",
        "tags": [
          "Stops"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[stop]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/StopResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trips": {
      "get": {
        "operationId": "listtrips",
        "summary": "List trips",
        "description": "List trips (journeys that a vehicle makes through a set of stops).",
        "tags": [
          "Trips"
        ],
        "parameters": [
          {
            "name": "page[offset]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[trip]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "filter[date]",
            "in": "query",
            "description": "Filter by service date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[name]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/TripsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trips/{id}": {
      "get": {
        "operationId": "gettrip",
        "summary": "Get a trip",
        "tags": [
          "Trips"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[trip]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/TripResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/schedules": {
      "get": {
        "operationId": "listschedules",
        "summary": "List schedules",
        "description": "List schedules. Requires filter[route], filter[stop], or filter[trip].",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "page[offset]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[schedule]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[stop]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[trip]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          },
          {
            "name": "filter[date]",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[min_time]",
            "in": "query",
            "description": "Minimum departure time (HH:MM)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[max_time]",
            "in": "query",
            "description": "Maximum departure time (HH:MM)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/predictions": {
      "get": {
        "operationId": "listpredictions",
        "summary": "List predictions",
        "description": "List real-time arrival/departure predictions.",
        "tags": [
          "Predictions"
        ],
        "parameters": [
          {
            "name": "page[offset]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[prediction]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[stop]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[trip]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PredictionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shapes": {
      "get": {
        "operationId": "listshapes",
        "summary": "List shapes",
        "description": "List shapes (geographic paths). Requires filter[route].",
        "tags": [
          "Shapes"
        ],
        "parameters": [
          {
            "name": "page[offset]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields[shape]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "description": "Required. Filter by route ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ShapesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shapes/{id}": {
      "get": {
        "operationId": "getshape",
        "summary": "Get a shape",
        "tags": [
          "Shapes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[shape]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ShapeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services": {
      "get": {
        "operationId": "listservices",
        "summary": "List services",
        "description": "List services (operating day patterns for trips).",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "page[offset]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/{id}": {
      "get": {
        "operationId": "getservice",
        "summary": "Get a service",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/route_patterns": {
      "get": {
        "operationId": "listroutepatterns",
        "summary": "List route patterns",
        "tags": [
          "Route Patterns"
        ],
        "parameters": [
          {
            "name": "page[offset]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[route_pattern]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[route]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[direction_id]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutePatternsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/route_patterns/{id}": {
      "get": {
        "operationId": "getroutepattern",
        "summary": "Get a route pattern",
        "tags": [
          "Route Patterns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields[route_pattern]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutePatternResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonApiResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "type": "object"
          },
          "relationships": {
            "type": "object"
          },
          "links": {
            "type": "object"
          }
        }
      },
      "JsonApiListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "jsonapi": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              }
            }
          },
          "links": {
            "type": "object"
          }
        }
      },
      "JsonApiSingleResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          },
          "jsonapi": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              }
            }
          }
        }
      },
      "VehiclesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiListResponse"
          }
        ]
      },
      "VehicleResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiSingleResponse"
          }
        ]
      },
      "RoutesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiListResponse"
          }
        ]
      },
      "RouteResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiSingleResponse"
          }
        ]
      },
      "StopsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiListResponse"
          }
        ]
      },
      "StopResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiSingleResponse"
          }
        ]
      },
      "TripsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiListResponse"
          }
        ]
      },
      "TripResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiSingleResponse"
          }
        ]
      },
      "SchedulesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiListResponse"
          }
        ]
      },
      "PredictionsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiListResponse"
          }
        ]
      },
      "ShapesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiListResponse"
          }
        ]
      },
      "ShapeResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiSingleResponse"
          }
        ]
      },
      "ServicesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiListResponse"
          }
        ]
      },
      "ServiceResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiSingleResponse"
          }
        ]
      },
      "RoutePatternsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiListResponse"
          }
        ]
      },
      "RoutePatternResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/JsonApiSingleResponse"
          }
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                },
                "source": {
                  "type": "object"
                }
              }
            }
          },
          "jsonapi": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key passed via x-api-key header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key passed via api_key query parameter"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Predictions",
      "description": "Operations related to Predictions"
    },
    {
      "name": "Route Patterns",
      "description": "Operations related to Route Patterns"
    },
    {
      "name": "Routes",
      "description": "Operations related to Routes"
    },
    {
      "name": "Schedules",
      "description": "Operations related to Schedules"
    },
    {
      "name": "Services",
      "description": "Operations related to Services"
    },
    {
      "name": "Shapes",
      "description": "Operations related to Shapes"
    },
    {
      "name": "Stops",
      "description": "Operations related to Stops"
    },
    {
      "name": "Trips",
      "description": "Operations related to Trips"
    },
    {
      "name": "Vehicles",
      "description": "Operations related to Vehicles"
    }
  ]
}