{
  "openapi": "3.0.3",
  "info": {
    "title": "Financial Modeling Prep API",
    "description": "Comprehensive financial data API providing stock fundamentals, market data, historical prices, financial statements, and more",
    "version": "3.0.0",
    "contact": {
      "name": "Financial Modeling Prep Support",
      "url": "https://site.financialmodelingprep.com"
    }
  },
  "servers": [
    {
      "url": "https://financialmodelingprep.com/api/v3",
      "description": "API v3 server"
    },
    {
      "url": "https://financialmodelingprep.com/api/v4",
      "description": "API v4 server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/profile/{symbol}": {
      "get": {
        "summary": "Company Profile",
        "description": "Get comprehensive company profile information",
        "operationId": "getCompanyProfile",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stock ticker symbol"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyProfile"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/quote/{symbol}": {
      "get": {
        "summary": "Real-time Quote",
        "description": "Get real-time stock quote",
        "operationId": "getQuote",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Quote"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/historical-price-full/{symbol}": {
      "get": {
        "summary": "Historical Prices",
        "description": "Get full historical stock prices",
        "operationId": "getHistoricalPrices",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalPrices"
                }
              }
            }
          }
        }
      }
    },
    "/income-statement/{symbol}": {
      "get": {
        "summary": "Income Statement",
        "description": "Get company income statements",
        "operationId": "getIncomeStatement",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["annual", "quarter"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IncomeStatement"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/balance-sheet-statement/{symbol}": {
      "get": {
        "summary": "Balance Sheet",
        "description": "Get company balance sheets",
        "operationId": "getBalanceSheet",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["annual", "quarter"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheet"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cash-flow-statement/{symbol}": {
      "get": {
        "summary": "Cash Flow Statement",
        "description": "Get company cash flow statements",
        "operationId": "getCashFlowStatement",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["annual", "quarter"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CashFlowStatement"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stock/list": {
      "get": {
        "summary": "Stock List",
        "description": "Get list of all available stocks",
        "operationId": "getStockList",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Stock"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/financial-ratios/{symbol}": {
      "get": {
        "summary": "Financial Ratios",
        "description": "Get key financial ratios",
        "operationId": "getFinancialRatios",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinancialRatios"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/key-metrics/{symbol}": {
      "get": {
        "summary": "Key Metrics",
        "description": "Get key financial metrics",
        "operationId": "getKeyMetrics",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KeyMetrics"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stock_news": {
      "get": {
        "summary": "Stock News",
        "description": "Get latest stock market news",
        "operationId": "getStockNews",
        "parameters": [
          {
            "name": "tickers",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/News"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "CompanyProfile": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "beta": {
            "type": "number",
            "format": "double"
          },
          "volAvg": {
            "type": "integer",
            "format": "int64"
          },
          "mktCap": {
            "type": "integer",
            "format": "int64"
          },
          "lastDiv": {
            "type": "number",
            "format": "double"
          },
          "range": {
            "type": "string"
          },
          "changes": {
            "type": "number",
            "format": "double"
          },
          "companyName": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "cik": {
            "type": "string"
          },
          "isin": {
            "type": "string"
          },
          "cusip": {
            "type": "string"
          },
          "exchange": {
            "type": "string"
          },
          "exchangeShortName": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "ceo": {
            "type": "string"
          },
          "sector": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "fullTimeEmployees": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "ipoDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Quote": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "changesPercentage": {
            "type": "number",
            "format": "double"
          },
          "change": {
            "type": "number",
            "format": "double"
          },
          "dayLow": {
            "type": "number",
            "format": "double"
          },
          "dayHigh": {
            "type": "number",
            "format": "double"
          },
          "yearHigh": {
            "type": "number",
            "format": "double"
          },
          "yearLow": {
            "type": "number",
            "format": "double"
          },
          "marketCap": {
            "type": "integer",
            "format": "int64"
          },
          "priceAvg50": {
            "type": "number",
            "format": "double"
          },
          "priceAvg200": {
            "type": "number",
            "format": "double"
          },
          "volume": {
            "type": "integer",
            "format": "int64"
          },
          "avgVolume": {
            "type": "integer",
            "format": "int64"
          },
          "exchange": {
            "type": "string"
          },
          "open": {
            "type": "number",
            "format": "double"
          },
          "previousClose": {
            "type": "number",
            "format": "double"
          },
          "eps": {
            "type": "number",
            "format": "double"
          },
          "pe": {
            "type": "number",
            "format": "double"
          },
          "earningsAnnouncement": {
            "type": "string",
            "format": "date-time"
          },
          "sharesOutstanding": {
            "type": "integer",
            "format": "int64"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "HistoricalPrices": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "historical": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoricalPrice"
            }
          }
        }
      },
      "HistoricalPrice": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "open": {
            "type": "number",
            "format": "double"
          },
          "high": {
            "type": "number",
            "format": "double"
          },
          "low": {
            "type": "number",
            "format": "double"
          },
          "close": {
            "type": "number",
            "format": "double"
          },
          "adjClose": {
            "type": "number",
            "format": "double"
          },
          "volume": {
            "type": "integer",
            "format": "int64"
          },
          "unadjustedVolume": {
            "type": "integer",
            "format": "int64"
          },
          "change": {
            "type": "number",
            "format": "double"
          },
          "changePercent": {
            "type": "number",
            "format": "double"
          },
          "vwap": {
            "type": "number",
            "format": "double"
          },
          "label": {
            "type": "string"
          },
          "changeOverTime": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "IncomeStatement": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "symbol": {
            "type": "string"
          },
          "reportedCurrency": {
            "type": "string"
          },
          "cik": {
            "type": "string"
          },
          "fillingDate": {
            "type": "string",
            "format": "date"
          },
          "acceptedDate": {
            "type": "string",
            "format": "date-time"
          },
          "calendarYear": {
            "type": "string"
          },
          "period": {
            "type": "string"
          },
          "revenue": {
            "type": "integer",
            "format": "int64"
          },
          "costOfRevenue": {
            "type": "integer",
            "format": "int64"
          },
          "grossProfit": {
            "type": "integer",
            "format": "int64"
          },
          "operatingIncome": {
            "type": "integer",
            "format": "int64"
          },
          "netIncome": {
            "type": "integer",
            "format": "int64"
          },
          "eps": {
            "type": "number",
            "format": "double"
          },
          "epsdiluted": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "BalanceSheet": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "symbol": {
            "type": "string"
          },
          "totalAssets": {
            "type": "integer",
            "format": "int64"
          },
          "totalLiabilities": {
            "type": "integer",
            "format": "int64"
          },
          "totalStockholdersEquity": {
            "type": "integer",
            "format": "int64"
          },
          "cashAndCashEquivalents": {
            "type": "integer",
            "format": "int64"
          },
          "totalDebt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CashFlowStatement": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "symbol": {
            "type": "string"
          },
          "operatingCashFlow": {
            "type": "integer",
            "format": "int64"
          },
          "capitalExpenditure": {
            "type": "integer",
            "format": "int64"
          },
          "freeCashFlow": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Stock": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "double"
          },
          "exchange": {
            "type": "string"
          }
        }
      },
      "FinancialRatios": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "currentRatio": {
            "type": "number",
            "format": "double"
          },
          "quickRatio": {
            "type": "number",
            "format": "double"
          },
          "debtEquityRatio": {
            "type": "number",
            "format": "double"
          },
          "returnOnEquity": {
            "type": "number",
            "format": "double"
          },
          "returnOnAssets": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "KeyMetrics": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "peRatio": {
            "type": "number",
            "format": "double"
          },
          "priceToBookRatio": {
            "type": "number",
            "format": "double"
          },
          "priceToSalesRatio": {
            "type": "number",
            "format": "double"
          },
          "dividendYield": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "News": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "publishedDate": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "site": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      }
    }
  }
}
