{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "https://www.beanstream.com/api/v1",
    "title": "Beanstream Payments",
    "version": "1.0.1",
    "x-apisguru-categories": [
      "payment",
      "financial",
      "ecommerce"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/beanstream.com/1.0.1/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_bambora_na_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "http://support.beanstream.com/restapi/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "beanstream.com",
    "x-tags": [
      "payments",
      "bank-neutral",
      "omni-channel reporting"
    ]
  },
  "servers": [
    {
      "url": "https://www.beanstream.com/api/v1"
    }
  ],
  "paths": {
    "/payments": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            },
            "description": "Payment response containing the payment details as well as if the payment was approved or declined."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Payments"
        ],
        "description": "Make a payment using credit card, cash, cheque, profile, or token. Each payment type has its own json definition passed in the body. For all payments you have the standard Billing, Shipping, Comments, etc. fields that are optional. Only the amount is required along with the payment data for card, cash, cheque, profile, and token. You must change the payment_method for each payment type. Credit Card - \"card\", Payment Profile - \"payment_profile\", Legato Token - \"token\", Cash - \"cash\", Cheque - \"cheque\", Interac - \"interac\"",
        "operationId": "post-payments",
        "requestBody": {
          "$ref": "#/components/requestBodies/PaymentRequest"
        },
        "summary": "Make Payment"
      }
    },
    "/payments/{transId}": {
      "get": {
        "parameters": [
          {
            "description": "The transaction id.",
            "in": "path",
            "name": "transId",
            "required": true,
            "schema": {
              "format": "integer",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            },
            "description": "A transaction object."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Payments"
        ],
        "description": "Get a previous payment (transaction).",
        "operationId": "get-payments-by-transid",
        "summary": "Get payment"
      }
    },
    "/payments/{transId}/completions": {
      "post": {
        "parameters": [
          {
            "description": "The transaction id.",
            "in": "path",
            "name": "transId",
            "required": true,
            "schema": {
              "format": "double",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            },
            "description": "Payment response containing the payment details as well as if the transaction was approved or declined."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Payments"
        ],
        "description": "Complete a pre-authorized payment. The amount of the transaction to complete must be less than or equal to the original pre-auth amount. Complete must be set to true.",
        "operationId": "post-payments-by-transid-completions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "summary": "Complete pre-auth"
      }
    },
    "/payments/{transId}/returns": {
      "post": {
        "parameters": [
          {
            "description": "The transaction id.",
            "in": "path",
            "name": "transId",
            "required": true,
            "schema": {
              "format": "double",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            },
            "description": "Payment response containing the payment details as well as if the transaction was approved or declined."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Payments"
        ],
        "description": "Return payment.",
        "operationId": "post-payments-by-transid-returns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Return"
              }
            }
          },
          "required": true
        },
        "summary": "Return payment"
      }
    },
    "/payments/{transId}/void": {
      "post": {
        "parameters": [
          {
            "description": "The transaction id to void.",
            "in": "path",
            "name": "transId",
            "required": true,
            "schema": {
              "format": "double",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            },
            "description": "Payment response containing the payment details as well as if the transaction was approved or declined."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Payments"
        ],
        "description": "Void a transaction. You can void payments, returns, pre-auths, and completions. It will cancel that transaction.",
        "operationId": "post-payments-by-transid-void",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Void"
              }
            }
          },
          "required": true
        },
        "summary": "Void Transaction"
      }
    },
    "/profiles": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            },
            "description": "The Profile."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Create a new Payment Profile using either a card or a Legato token. You must supply one of them.",
        "operationId": "post-profiles",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProfileBody"
              }
            }
          },
          "required": true
        },
        "summary": "Create Profile"
      }
    },
    "/profiles/{profileId}": {
      "delete": {
        "parameters": [
          {
            "description": "The profile id. (aka CustomerCode)",
            "in": "path",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            },
            "description": "The Profile."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Delete a Payment Profile using the profile ID, also known as the Customer Code.",
        "operationId": "delete-profiles-by-profileid",
        "summary": "Delete profile"
      },
      "get": {
        "parameters": [
          {
            "description": "The profile id. (aka CustomerCode)",
            "in": "path",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentProfile"
                }
              }
            },
            "description": "The Profile."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Get a Payment Profile using the profile ID, also known as the Customer Code.",
        "operationId": "get-profiles-by-profileid",
        "summary": "Get profile"
      },
      "put": {
        "parameters": [
          {
            "description": "The profile id. (aka CustomerCode)",
            "in": "path",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            },
            "description": "The Profile."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Create a new Payment Profile using either a card or a Legato token. You must supply one of them.",
        "operationId": "put-profiles-by-profileid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileBody"
              }
            }
          },
          "required": true
        },
        "summary": "Update Profile"
      }
    },
    "/profiles/{profileId}/cards": {
      "get": {
        "parameters": [
          {
            "description": "The profile id. (aka CustomerCode)",
            "in": "path",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileGetCards"
                }
              }
            },
            "description": "The Profile."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Get all of the cards on the profile.",
        "operationId": "get-profiles-by-profileid-cards",
        "summary": "Get cards"
      },
      "post": {
        "parameters": [
          {
            "description": "The profile id. (aka CustomerCode)",
            "in": "path",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            },
            "description": "The Profile."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Add a card to the profile. Note that there is a default limit of 1 card per profile. You can change this in your Profiles settings in the back office.",
        "operationId": "post-profiles-by-profileid-cards",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCard"
              }
            }
          },
          "description": "The card that will be added to the profile.",
          "required": true
        },
        "summary": "Add card"
      }
    },
    "/profiles/{profileId}/cards/{cardId}": {
      "delete": {
        "parameters": [
          {
            "description": "The profile id. (aka CustomerCode)",
            "in": "path",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The card id.",
            "in": "path",
            "name": "cardId",
            "required": true,
            "schema": {
              "format": "integer",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            },
            "description": "The Profile."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Delete a card on the profile.",
        "operationId": "delete-profiles-by-profileid-cards-by-cardid",
        "summary": "Delete card"
      },
      "put": {
        "parameters": [
          {
            "description": "The profile id. (aka CustomerCode)",
            "in": "path",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The card id.",
            "in": "path",
            "name": "cardId",
            "required": true,
            "schema": {
              "format": "integer",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            },
            "description": "The Profile."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Profiles"
        ],
        "description": "Update the details of a card on the profile.",
        "operationId": "put-profiles-by-profileid-cards-by-cardid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCard"
              }
            }
          },
          "description": "The card that will be updated on the profile.",
          "required": true
        },
        "summary": "Update card"
      }
    },
    "/reports": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            },
            "description": "A transaction object."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authentication Failure"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Business Rule Violation or Decline"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Authorization Failure"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Invalid Request Method"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeanstreamException"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Reporting"
        ],
        "description": "Query for transactions using a date range and optional search criteria. This method allows you to page your search results if you are expecting a lot of results to be returned. The page start value begins at 1. If no records are found the API will return a 404 error message. For details on the parameters and allowed values for Criteria please visit the documentation http://developer.beanstream.com/documentation/analyze-payments/search-specific-criteria/",
        "operationId": "post-reports",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchQuery"
              }
            }
          }
        },
        "summary": "Search Query"
      }
    },
    "/scripts/tokenization/tokens": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            },
            "description": "Token response object. One will always be returned even if the data or card was invalid. The validity of the card is not checked with this API call."
          }
        },
        "tags": [
          "Tokenization"
        ],
        "description": "NOTE that the full URL for this API call is https://www.beanstream.com/scripts/tokenization/tokens. Turn a credit card into a token using this service. This helps lessen your PCI scope by not passing the credit card information to your server. Instead you turn the card number into a token in the client app, then send the token to the server. When you send the token to Beanstream to make a payment, Beanstream then looks up the card number from that token and makes the payment. Tokens can also be used to create payment profiles.",
        "operationId": "post-scripts-tokenization-tokens",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "summary": "Tokenize credit card"
      }
    }
  },
  "components": {
    "requestBodies": {
      "PaymentRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaymentRequest"
            }
          }
        }
      }
    },
    "schemas": {
      "Address": {
        "properties": {
          "address_line1": {
            "description": "alphanumeric (64)",
            "type": "string"
          },
          "address_line2": {
            "description": "alphanumeric (64)",
            "type": "string"
          },
          "city": {
            "description": "alphanumeric (32)",
            "type": "string"
          },
          "country": {
            "description": "characters (2)",
            "type": "string"
          },
          "email_address": {
            "description": "alphanumeric (32)",
            "type": "string"
          },
          "name": {
            "description": "alphanumeric (64)",
            "type": "string"
          },
          "phone_number": {
            "description": "alphanumeric (32)",
            "type": "string"
          },
          "postal_code": {
            "description": "alphanumeric (16)",
            "type": "string"
          },
          "province": {
            "description": "characters (2)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Adjustment": {
        "properties": {
          "amount": {
            "format": "double",
            "type": "number"
          },
          "approval": {
            "format": "integer",
            "type": "number"
          },
          "created": {
            "description": "The date it was created '2015-04-22T10:03:19.323-07:00'",
            "type": "string"
          },
          "id": {
            "format": "integer",
            "type": "number"
          },
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "BeanstreamException": {
        "properties": {
          "category": {
            "format": "int32",
            "type": "integer"
          },
          "code": {
            "format": "int32",
            "type": "integer"
          },
          "details": {
            "items": {
              "$ref": "#/components/schemas/Detail"
            },
            "type": "array"
          },
          "message": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Card": {
        "properties": {
          "complete": {
            "default": true,
            "description": "set to false for Pre-Authorize, and true to complete a payment",
            "type": "boolean"
          },
          "cvd": {
            "default": "123",
            "description": "Security code on the back of the credit card. This can be set to mandatory in the back office. digits(3 or 4)",
            "type": "string"
          },
          "expiry_month": {
            "default": "02",
            "description": "eg. 02 for February. digits(2)",
            "type": "string"
          },
          "expiry_year": {
            "default": "18",
            "description": "eg. 15 for 2015. digits(2)",
            "type": "string"
          },
          "name": {
            "description": "Card holder name. alphanumeric(64)",
            "type": "string"
          },
          "number": {
            "default": "5100000010001004",
            "description": "Credit card number (PAN). digits(20)",
            "type": "string"
          }
        },
        "required": [
          "name",
          "number",
          "expiry_month",
          "expiry_year"
        ],
        "type": "object"
      },
      "CardGetTransactionResponse": {
        "properties": {
          "address_match": {
            "description": "digits (1)",
            "type": "integer"
          },
          "avs_result": {
            "description": "characters (1)",
            "type": "string"
          },
          "card_type": {
            "description": "characters (2)",
            "type": "string"
          },
          "cvd_match": {
            "description": "digits (2)",
            "type": "integer"
          },
          "expiry_month": {
            "description": "characters (2)",
            "type": "string"
          },
          "expiry_year": {
            "description": "characters (2)",
            "type": "string"
          },
          "last_four": {
            "description": "digits (4)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CardPurchaseResponse": {
        "properties": {
          "address_match": {
            "description": "digits (1)",
            "type": "integer"
          },
          "card_type": {
            "description": "characters (2)",
            "type": "string"
          },
          "cvd_match": {
            "description": "digits (2)",
            "type": "integer"
          },
          "last_four": {
            "description": "digits (4)",
            "type": "string"
          },
          "postal_result": {
            "description": "digits (1)",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CreateProfileBody": {
        "properties": {
          "billing": {
            "$ref": "#/components/schemas/Address"
          },
          "card": {
            "$ref": "#/components/schemas/ProfileFromCard"
          },
          "comment": {
            "description": "alphanumeric(256)",
            "type": "string"
          },
          "custom": {
            "$ref": "#/components/schemas/Custom"
          },
          "language": {
            "description": "characters(2)",
            "type": "string"
          },
          "token": {
            "$ref": "#/components/schemas/ProfileFromToken"
          }
        },
        "type": "object"
      },
      "Criteria": {
        "properties": {
          "field": {
            "description": "Refer to the table on this page for the searchable fields http://developer.beanstream.com/documentation/analyze-payments/search-specific-criteria/",
            "format": "integer",
            "type": "number"
          },
          "operator": {
            "description": "URL encoded comparators such as less than, greater than, equals... Refer to the table on this page for the full list of comparators http://developer.beanstream.com/documentation/analyze-payments/search-specific-criteria/",
            "type": "string"
          },
          "value": {
            "description": "The value you want to match against.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Custom": {
        "properties": {
          "ref1": {
            "description": "alphanumeric (256)",
            "type": "string"
          },
          "ref2": {
            "description": "alphanumeric (256)",
            "type": "string"
          },
          "ref3": {
            "description": "alphanumeric (256)",
            "type": "string"
          },
          "ref4": {
            "description": "alphanumeric (256)",
            "type": "string"
          },
          "ref5": {
            "description": "alphanumeric (256)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Detail": {
        "properties": {
          "field": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "GetProfileDefaultCard": {
        "properties": {
          "card_type": {
            "description": "MC, VI etc. characters(2)",
            "type": "string"
          },
          "expiry_month": {
            "description": "digits(2)",
            "type": "string"
          },
          "expiry_year": {
            "description": "digits(2)",
            "type": "string"
          },
          "name": {
            "description": "cardholder name alphanumeric(64)",
            "type": "string"
          },
          "number": {
            "description": "masked credit card number alphanumeric(20)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Link": {
        "properties": {
          "href": {
            "description": "alphanumeric (256). Url to perform the void, return, completion etc.",
            "type": "string"
          },
          "method": {
            "description": "characters (16). Http method. post, put, get etc.",
            "type": "string"
          },
          "ref": {
            "description": "characters (16). Eg. \"void\" or \"return\"",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PaymentProfile": {
        "properties": {
          "account_ref": {
            "type": "string"
          },
          "billing": {
            "$ref": "#/components/schemas/Address"
          },
          "card": {
            "$ref": "#/components/schemas/GetProfileDefaultCard"
          },
          "code": {
            "description": "digits(2)",
            "format": "int32",
            "type": "integer"
          },
          "custom": {
            "$ref": "#/components/schemas/Custom"
          },
          "customer_code": {
            "description": "alphanumeric(32)",
            "type": "string"
          },
          "language": {
            "description": "characters(2)",
            "type": "string"
          },
          "last_transaction": {
            "description": "date and time alphanumeric(24)",
            "type": "string"
          },
          "message": {
            "description": "alphanumeric(64)",
            "type": "string"
          },
          "modified_date": {
            "description": "date and time it was last modified alphanumeric(24)",
            "type": "string"
          },
          "profile_group": {
            "type": "string"
          },
          "status": {
            "description": "characters(1)",
            "type": "string"
          },
          "velocity_group": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PaymentRequest": {
        "properties": {
          "amount": {
            "description": "A decimal value in dollars, or relevant currency. digits(9)",
            "format": "double",
            "type": "number"
          },
          "billing": {
            "$ref": "#/components/schemas/Address"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "comments": {
            "description": "alphanumeric (256)",
            "type": "string"
          },
          "custom": {
            "$ref": "#/components/schemas/Custom"
          },
          "customer_ip": {
            "description": "alphanumeric (30)",
            "type": "string"
          },
          "language": {
            "description": "characters (3)",
            "type": "string"
          },
          "order_number": {
            "description": "A unique order number. alphanumeric(30)",
            "type": "string"
          },
          "payment_method": {
            "description": "One of (card, token, payment_profile, cash, cheque). characters(20)",
            "type": "string"
          },
          "payment_profile": {
            "$ref": "#/components/schemas/ProfilePurchase"
          },
          "shipping": {
            "$ref": "#/components/schemas/Address"
          },
          "term_url": {
            "description": "alphanumeric (256)",
            "type": "string"
          },
          "token": {
            "$ref": "#/components/schemas/TokenPurchase"
          }
        },
        "required": [
          "amount",
          "payment_method"
        ],
        "type": "object"
      },
      "PaymentResponse": {
        "properties": {
          "approved": {
            "description": "Approved = 1, declined = 0",
            "type": "integer"
          },
          "auth_code": {
            "description": "alphanumeric (32)",
            "type": "string"
          },
          "card": {
            "$ref": "#/components/schemas/CardPurchaseResponse"
          },
          "created": {
            "description": "alphanumeric (32)",
            "type": "string"
          },
          "id": {
            "description": "digits (9)",
            "type": "string"
          },
          "links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          },
          "message": {
            "description": "alphanumeric (256)",
            "type": "string"
          },
          "message_id": {
            "description": "digits (3)",
            "type": "string"
          },
          "order_number": {
            "description": "alphanumeric (32)",
            "type": "string"
          },
          "payment_method": {
            "description": "characters (16)",
            "type": "string"
          },
          "type": {
            "description": "characters (16)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProfileCard": {
        "properties": {
          "expiry_month": {
            "description": "digits(2)",
            "type": "string"
          },
          "expiry_year": {
            "description": "digits(2)",
            "type": "string"
          },
          "name": {
            "description": "cardholder name. alphanumeric(64)",
            "type": "string"
          },
          "number": {
            "description": "Credit card number. digits(20)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProfileCards": {
        "properties": {
          "card_id": {
            "description": "1-indexed card ID. Total number of cards allowed is configured in your merchant account.",
            "type": "string"
          },
          "card_type": {
            "description": "MC, VI etc. characters(2)",
            "type": "string"
          },
          "expiry_month": {
            "description": "digits(2)",
            "type": "string"
          },
          "expiry_year": {
            "description": "digits(2)",
            "type": "string"
          },
          "function": {
            "description": "Will say DEF for the default card",
            "type": "string"
          },
          "number": {
            "description": "digits(20)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProfileFromCard": {
        "properties": {
          "cvd": {
            "default": "123",
            "description": "Security code on the back of the credit card. This can be set to mandatory in the back office. digits(3)",
            "type": "string"
          },
          "expiry_month": {
            "default": "02",
            "description": "eg. 02 for February. digits(2)",
            "type": "string"
          },
          "expiry_year": {
            "default": "18",
            "description": "digits(2)",
            "type": "string"
          },
          "name": {
            "default": "5100000010001004",
            "description": "Card holder name. alphanumeric(64)",
            "type": "string"
          },
          "number": {
            "description": "Credit card number (PAN)  digits(20)",
            "type": "string"
          }
        },
        "required": [
          "name",
          "number",
          "expiry_month",
          "expiry_year"
        ],
        "type": "object"
      },
      "ProfileFromToken": {
        "properties": {
          "code": {
            "description": "The token received from the client-side tokenization service. alphanumeric(64)",
            "type": "string"
          },
          "name": {
            "description": "alphanumeric(64)",
            "type": "string"
          }
        },
        "required": [
          "name",
          "code"
        ],
        "type": "object"
      },
      "ProfileGetCards": {
        "properties": {
          "card": {
            "items": {
              "$ref": "#/components/schemas/ProfileCards"
            },
            "type": "array"
          },
          "code": {
            "description": "digits(2)",
            "format": "integer",
            "type": "number"
          },
          "customer_code": {
            "description": "characters(32)",
            "type": "string"
          },
          "message": {
            "description": "alphanumeric(64)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProfilePurchase": {
        "properties": {
          "card_id": {
            "description": "Which credit card to use. Starts at 1 for the first card. You must configure how many cards can be stored by visiting the profile options in the back office. digits(1)",
            "type": "integer"
          },
          "complete": {
            "description": "Set to FALSE for pre-auth. digit(1) or boolean",
            "type": "boolean"
          },
          "customer_code": {
            "description": "The payment profile ID. alphanumeric(32)",
            "type": "string"
          }
        },
        "required": [
          "customer_code",
          "card_id"
        ],
        "type": "object"
      },
      "ProfileResponse": {
        "properties": {
          "code": {
            "format": "integer",
            "type": "number"
          },
          "customer_code": {
            "description": "the ID of the payment profile. You need to keep track of this value.",
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProfileToken": {
        "properties": {
          "code": {
            "description": "single use token associated with this account. alphanumeric(36)",
            "type": "string"
          },
          "name": {
            "description": "Name of cardholder. alphanumeric(64)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Return": {
        "properties": {
          "amount": {
            "description": "The amount of the transaction to return. Must be less than or equal to the original purchase amount.",
            "format": "double",
            "type": "number"
          },
          "order_number": {
            "description": "alphanumeric (30)",
            "type": "string"
          }
        },
        "required": [
          "amount"
        ],
        "type": "object"
      },
      "SearchQuery": {
        "properties": {
          "criteria": {
            "description": "Optional search criteria. All criteria are ANDed together.",
            "items": {
              "$ref": "#/components/schemas/Criteria"
            },
            "type": "array"
          },
          "end_date": {
            "description": "The end date (inclusive) '2015-04-22T10:03:19' in the timezone of your merchant account.",
            "type": "string"
          },
          "end_row": {
            "default": 2,
            "description": "Used to page the results. 1-based. This should always be 1 larger than start_row.",
            "format": "integer",
            "type": "number"
          },
          "name": {
            "description": "Only accepts 2 values. Can be either 'Search' for all fields or 'TransHistoryMinimal' for a subset of the fields returned in the results.",
            "type": "string"
          },
          "start_date": {
            "description": "The start date (inclusive) '2015-04-22T10:03:19' in the timezone of your merchant account.",
            "type": "string"
          },
          "start_row": {
            "default": 1,
            "description": "Used to page the results. 1-based",
            "format": "integer",
            "type": "number"
          }
        },
        "required": [
          "name",
          "start_date",
          "end_date",
          "start_row",
          "end_row"
        ],
        "type": "object"
      },
      "SearchRecord": {
        "properties": {
          "b_address1": {
            "type": "string"
          },
          "b_address2": {
            "type": "string"
          },
          "b_city": {
            "type": "string"
          },
          "b_country": {
            "type": "string"
          },
          "b_email": {
            "type": "string"
          },
          "b_name": {
            "type": "string"
          },
          "b_phone": {
            "type": "string"
          },
          "b_postal": {
            "type": "string"
          },
          "b_province": {
            "type": "string"
          },
          "customer_code": {
            "description": "The PaymentProfile ID used in this transaction, if appropriate.",
            "type": "string"
          },
          "message_id": {
            "format": "integer",
            "type": "number"
          },
          "message_text": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "product_name": {
            "type": "string"
          },
          "ref1": {
            "type": "string"
          },
          "ref2": {
            "type": "string"
          },
          "ref3": {
            "type": "string"
          },
          "ref4": {
            "type": "string"
          },
          "ref5": {
            "type": "string"
          },
          "row_id": {
            "format": "integer",
            "type": "number"
          },
          "s_address1": {
            "type": "string"
          },
          "s_address2": {
            "type": "string"
          },
          "s_city": {
            "type": "string"
          },
          "s_country": {
            "type": "string"
          },
          "s_email": {
            "type": "string"
          },
          "s_name": {
            "type": "string"
          },
          "s_phone": {
            "type": "string"
          },
          "s_postal": {
            "type": "string"
          },
          "s_province": {
            "type": "string"
          },
          "trn_amount": {
            "format": "float32",
            "type": "number"
          },
          "trn_approval_code": {
            "type": "string"
          },
          "trn_avs_result": {
            "description": "Address Verification Service",
            "type": "string"
          },
          "trn_batch_no": {
            "format": "integer",
            "type": "number"
          },
          "trn_card_expiry": {
            "type": "string"
          },
          "trn_card_owner": {
            "type": "string"
          },
          "trn_card_type": {
            "description": "MC VI etc",
            "type": "string"
          },
          "trn_completions": {
            "format": "float32",
            "type": "number"
          },
          "trn_cvd_result": {
            "format": "integer",
            "type": "number"
          },
          "trn_date_time": {
            "description": "2015-04-22 10:03:19.323000-07:00",
            "type": "string"
          },
          "trn_id": {
            "format": "integer",
            "type": "number"
          },
          "trn_ip": {
            "type": "string"
          },
          "trn_masked_card": {
            "description": "The credit card with the middle digits redacted with X's",
            "type": "string"
          },
          "trn_order_number": {
            "type": "string"
          },
          "trn_payment_method": {
            "type": "string"
          },
          "trn_reference": {
            "format": "integer",
            "type": "number"
          },
          "trn_response": {
            "format": "integer",
            "type": "number"
          },
          "trn_returns": {
            "format": "float32",
            "type": "number"
          },
          "trn_type": {
            "type": "string"
          },
          "trn_voided": {
            "format": "integer",
            "type": "number"
          }
        },
        "type": "object"
      },
      "SearchResult": {
        "properties": {
          "records": {
            "items": {
              "$ref": "#/components/schemas/SearchRecord"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "TokenPurchase": {
        "properties": {
          "code": {
            "description": "the payment token you retrieved from the Legato service. alphanumeric(36)",
            "type": "string"
          },
          "complete": {
            "description": "Set to FALSE for pre-auth",
            "type": "boolean"
          },
          "name": {
            "description": "Card holder name. alphanumeric(64)",
            "type": "string"
          }
        },
        "required": [
          "code",
          "name"
        ],
        "type": "object"
      },
      "TokenRequest": {
        "properties": {
          "cvd": {
            "description": "a 3 to 4 digit representation of CVD/CDD. This is the number usually found on the back of the credit card.",
            "type": "string"
          },
          "expiry_month": {
            "description": "a 2 digit representation of the expiry month. For example March is 03.",
            "type": "string"
          },
          "expiry_year": {
            "description": "a 2 digit representation of the expiry year. For example 2016 is 16.",
            "type": "string"
          },
          "number": {
            "description": "The credit card number",
            "type": "string"
          }
        },
        "required": [
          "number",
          "expiry_month",
          "expiry_year",
          "cvd"
        ],
        "type": "object"
      },
      "TokenResponse": {
        "properties": {
          "code": {
            "description": "Response code for the message. It can be ignored.",
            "type": "string"
          },
          "message": {
            "description": "Response message with any hints as to what might have gone wrong, if something went wrong.",
            "type": "string"
          },
          "token": {
            "description": "The token representing the credit card number that you will send to Beanstream for purchases. You will always receive a token, even if the request data is wrong or the card is invalid.",
            "type": "string"
          },
          "version": {
            "description": "Message version number. Can be ignored.",
            "type": "integer"
          }
        },
        "required": [
          "token"
        ],
        "type": "object"
      },
      "Transaction": {
        "properties": {
          "adjusted_by": {
            "items": {
              "$ref": "#/components/schemas/Adjustment"
            },
            "type": "array"
          },
          "amount": {
            "format": "double",
            "type": "number"
          },
          "approved": {
            "type": "boolean"
          },
          "auth_code": {
            "type": "string"
          },
          "batch_number": {
            "type": "string"
          },
          "billing": {
            "$ref": "#/components/schemas/Address"
          },
          "card": {
            "$ref": "#/components/schemas/CardGetTransactionResponse"
          },
          "comments": {
            "type": "string"
          },
          "created": {
            "description": "The date it was created '2015-04-22T10:03:19.323-07:00'",
            "type": "string"
          },
          "custom": {
            "$ref": "#/components/schemas/Custom"
          },
          "id": {
            "format": "integer",
            "type": "number"
          },
          "links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          },
          "message": {
            "type": "string"
          },
          "message_id": {
            "format": "integer",
            "type": "number"
          },
          "order_number": {
            "type": "string"
          },
          "payment_method": {
            "type": "string"
          },
          "shipping": {
            "$ref": "#/components/schemas/Address"
          },
          "total_completions": {
            "format": "double",
            "type": "number"
          },
          "total_refunds": {
            "format": "double",
            "type": "number"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "UpdateProfileBody": {
        "properties": {
          "billing": {
            "$ref": "#/components/schemas/Address"
          },
          "card": {
            "$ref": "#/components/schemas/ProfileToken"
          },
          "comment": {
            "description": "alphanumeric(256)",
            "type": "string"
          },
          "custom": {
            "$ref": "#/components/schemas/Custom"
          },
          "language": {
            "description": "characters(2)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Void": {
        "properties": {
          "amount": {
            "description": "The amount of the transaction to void. Must be equal to the original purchase amount. You can void purchases as well as pre-auths and returns. The amount you are voiding has to match the amount of that transaction.",
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "amount"
        ],
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "Payments"
    },
    {
      "name": "Profiles"
    },
    {
      "name": "Reporting"
    },
    {
      "name": "Tokenization"
    }
  ]
}