{
  "openapi": "3.0.3",
  "info": {
    "title": "Scalable Press API",
    "description": "API for on-demand custom printing services including product catalog, quoting, ordering, design management, billing, and mockup generation.",
    "version": "2.0",
    "x-jentic-source-url": "https://scalablepress.com/docs/"
  },
  "servers": [
    {
      "url": "https://api.scalablepress.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v2/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "Get a list of available product categories",
        "tags": [
          "Products"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "List of product categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/categories/{categoryId}": {
      "get": {
        "operationId": "getCategory",
        "summary": "Get category information and product list",
        "tags": [
          "Products"
        ],
        "security": [],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category with product list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/products/{productId}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get product information including materials, colors, and sizes",
        "tags": [
          "Products"
        ],
        "security": [],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/products/{productId}/availability": {
      "get": {
        "operationId": "getProductAvailability",
        "summary": "Get product availability by color and size",
        "tags": [
          "Products"
        ],
        "security": [],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product availability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductAvailability"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/products/{productId}/items": {
      "get": {
        "operationId": "getProductItems",
        "summary": "Get detailed item information with pricing and weight",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed item information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductItems"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/quote": {
      "post": {
        "operationId": "createQuote",
        "summary": "Create a standard quote for a single design on one or more products",
        "tags": [
          "Quotes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/quote/bulk": {
      "post": {
        "operationId": "createBulkQuote",
        "summary": "Create a bulk quote for multiple designs, items, and addresses",
        "tags": [
          "Quotes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBulkQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk quote created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/quote/{orderToken}": {
      "get": {
        "operationId": "getQuote",
        "summary": "Retrieve a quote by order token",
        "tags": [
          "Quotes"
        ],
        "parameters": [
          {
            "name": "orderToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/order": {
      "post": {
        "operationId": "placeOrder",
        "summary": "Place an order using an order token from a quote",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order placed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOrders",
        "summary": "Retrieve all orders",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/order/{orderId}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get status and information of an order",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelOrder",
        "summary": "Cancel an order before printing starts",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/order/{orderId}/reprint": {
      "post": {
        "operationId": "reprintOrder",
        "summary": "Reprint any item in an order",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReprintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reprint quote created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/order/{orderId}/changeAddress": {
      "post": {
        "operationId": "changeOrderAddress",
        "summary": "Change shipping address before printing starts",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/design": {
      "post": {
        "operationId": "createDesign",
        "summary": "Create a design for order placement",
        "tags": [
          "Designs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDesignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Design created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DesignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/design/{designId}": {
      "get": {
        "operationId": "getDesign",
        "summary": "Retrieve details of a previously submitted design",
        "tags": [
          "Designs"
        ],
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Design details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DesignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDesign",
        "summary": "Delete a previously submitted design",
        "tags": [
          "Designs"
        ],
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Design deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DesignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v3/event": {
      "get": {
        "operationId": "listEvents",
        "summary": "Query order events with filtering and pagination",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by order"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by event type"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO 8601 lower bound"
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO 8601 upper bound"
          },
          {
            "name": "itemIndex",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by item index"
          },
          {
            "name": "itemName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by item name"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "-createdAt"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v3/event/{eventId}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Retrieve details of a single event",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/customization": {
      "get": {
        "operationId": "listCustomizations",
        "summary": "Get available customization options",
        "tags": [
          "Customization"
        ],
        "responses": {
          "200": {
            "description": "List of customizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customization"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/billing/invoice": {
      "get": {
        "operationId": "listInvoices",
        "summary": "List all invoices for an account",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Skip count"
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Max documents"
          }
        ],
        "responses": {
          "200": {
            "description": "List of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/billing/invoice/{invoiceId}": {
      "get": {
        "operationId": "getInvoice",
        "summary": "Retrieve details of an invoice",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/billing/invoice/{invoiceId}/pay/paypal": {
      "post": {
        "operationId": "payInvoiceWithPaypal",
        "summary": "Pay an invoice with PayPal",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaypalPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment applied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v3/mockup": {
      "post": {
        "operationId": "createMockup",
        "summary": "Generate mockup renderings of printed products",
        "tags": [
          "Mockups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMockupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mockup generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MockupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth with API key as password"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "family": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "CategoryDetail": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductOverview"
            }
          }
        }
      },
      "ProductOverview": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image": {
            "type": "string"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "properties": {
            "type": "object"
          },
          "colors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "hex": {
                  "type": "string"
                },
                "image": {
                  "type": "string"
                }
              }
            }
          },
          "availableSizes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ProductAvailability": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "integer"
          }
        },
        "description": "Map of colors to size quantities"
      },
      "ProductItems": {
        "type": "object",
        "properties": {
          "colors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "sizes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "color": {
                  "type": "string"
                },
                "size": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                },
                "price": {
                  "type": "number"
                },
                "weight": {
                  "type": "number"
                },
                "gtin": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "CreateQuoteRequest": {
        "type": "object",
        "required": [
          "type",
          "designId",
          "products"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "screenprint",
              "dtg",
              "case",
              "mug",
              "poster"
            ]
          },
          "designId": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                },
                "size": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "features": {
            "type": "object"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CreateBulkQuoteRequest": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateQuoteRequest"
            }
          },
          "data": {
            "type": "object",
            "properties": {
              "breakdown": {
                "type": "boolean"
              },
              "singleDesign": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "orderToken": {
            "type": "string"
          },
          "total": {
            "type": "number"
          },
          "subtotal": {
            "type": "number"
          },
          "tax": {
            "type": "number"
          },
          "fees": {
            "type": "number"
          },
          "shipping": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "breakdown": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PlaceOrderRequest": {
        "type": "object",
        "required": [
          "orderToken"
        ],
        "properties": {
          "orderToken": {
            "type": "string"
          }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total": {
            "type": "number"
          },
          "subtotal": {
            "type": "number"
          },
          "tax": {
            "type": "number"
          },
          "fees": {
            "type": "number"
          },
          "shipping": {
            "type": "number"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReprintRequest": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "itemIndex": {
                  "type": "integer"
                },
                "address": {
                  "$ref": "#/components/schemas/Address"
                },
                "products": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "features": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "ChangeAddressRequest": {
        "type": "object",
        "required": [
          "itemIndex",
          "address"
        ],
        "properties": {
          "itemIndex": {
            "type": "integer"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "CreateDesignRequest": {
        "type": "object",
        "required": [
          "type",
          "sides"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "screenprint",
              "dtg",
              "case",
              "mug",
              "poster"
            ]
          },
          "sides": {
            "type": "object",
            "properties": {
              "front": {
                "$ref": "#/components/schemas/DesignSide"
              },
              "back": {
                "$ref": "#/components/schemas/DesignSide"
              },
              "left": {
                "$ref": "#/components/schemas/DesignSide"
              },
              "right": {
                "$ref": "#/components/schemas/DesignSide"
              }
            }
          },
          "customization": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DesignSide": {
        "type": "object",
        "properties": {
          "artwork": {
            "type": "string"
          },
          "colors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dimensions": {
            "type": "object"
          },
          "position": {
            "type": "object"
          }
        }
      },
      "DesignResponse": {
        "type": "object",
        "properties": {
          "designId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "sides": {
            "type": "object"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "itemIndex": {
            "type": "integer"
          },
          "itemName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Customization": {
        "type": "object",
        "properties": {
          "customizationId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "invoiceId": {
            "type": "string"
          },
          "total": {
            "type": "number"
          },
          "balance": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaypalPaymentRequest": {
        "type": "object",
        "required": [
          "transactionId",
          "amount",
          "email"
        ],
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "CreateMockupRequest": {
        "type": "object",
        "required": [
          "template",
          "product",
          "design"
        ],
        "properties": {
          "template": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "background": {
                "type": "string"
              }
            }
          },
          "product": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "color": {
                "type": "string"
              }
            }
          },
          "design": {
            "type": "object",
            "properties": {
              "artwork": {
                "type": "string"
              },
              "dimensions": {
                "type": "object"
              },
              "position": {
                "type": "object"
              }
            }
          },
          "output": {
            "type": "object",
            "properties": {
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              },
              "padding": {
                "type": "integer"
              },
              "format": {
                "type": "string"
              }
            }
          }
        }
      },
      "MockupResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL of the generated mockup image"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Products",
      "description": "Product catalog and availability"
    },
    {
      "name": "Quotes",
      "description": "Quote creation and retrieval"
    },
    {
      "name": "Orders",
      "description": "Order placement and management"
    },
    {
      "name": "Designs",
      "description": "Design creation and management"
    },
    {
      "name": "Events",
      "description": "Order event tracking"
    },
    {
      "name": "Customization",
      "description": "Customization options"
    },
    {
      "name": "Billing",
      "description": "Invoice and payment management"
    },
    {
      "name": "Mockups",
      "description": "Product mockup generation"
    }
  ]
}