{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "x-twitter": "AIception"
    },
    "description": "Here you can play & test & prototype all the endpoints using just your browser! Go ahead!",
    "title": "AIception Interactive",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "machine_learning"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_AIception_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://aiception.com/static/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "aiception.com",
    "x-jentic-source-url": "https://raw.githubusercontent.com/sophie-jentic/openapi-specs/refs/heads/import-jentic-pr-specs/aiception.com/aiception-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://aiception.com/api/v2.1"
    }
  ],
  "paths": {
    "/adult_content": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "Task succesfully created."
          },
          "400": {
            "description": "Task could not be created."
          }
        },
        "tags": [
          "vision"
        ],
        "description": "Creates a new adult_content task that tells the if the image has nudity or sexual content.",
        "operationId": "post-adult-content",
        "requestBody": {
          "$ref": "#/components/requestBodies/post-adult-contentBody"
        },
        "summary": "Image contains nudity or sexually explicit content? [ image_url -> id ]"
      }
    },
    "/adult_content/{taskId}": {
      "get": {
        "parameters": [
          {
            "description": "An internal id for the task",
            "in": "path",
            "name": "taskId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "The contents of the adult_content task."
          },
          "404": {
            "description": "The Task does not exists."
          }
        },
        "tags": [
          "vision"
        ],
        "description": "Gets the adult_content task.",
        "operationId": "get-adult-content-by-taskid",
        "summary": "Gets the adult_content task [ id -> adult content task ]"
      }
    },
    "/artistic_image": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "Task succesfully created."
          },
          "400": {
            "description": "Task could not be created."
          }
        },
        "tags": [
          "creative"
        ],
        "description": "Given an image content and a style image create a new stylized image of the content.",
        "operationId": "post-artistic-image",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "async": {
                    "default": true,
                    "type": "boolean"
                  },
                  "image_url": {
                    "type": "string"
                  },
                  "style_url": {
                    "type": "string"
                  }
                },
                "required": [
                  "image_url",
                  "style_url"
                ],
                "type": "object"
              }
            }
          },
          "description": "The content image and the style image",
          "required": true
        },
        "summary": "Create an artistic image [ image_url, style_url -> id ]"
      }
    },
    "/artistic_image/{taskId}": {
      "get": {
        "parameters": [
          {
            "description": "An internal id for the task",
            "in": "path",
            "name": "taskId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "The contents of the artistic_image task."
          },
          "404": {
            "description": "The Task does not exists."
          }
        },
        "tags": [
          "creative"
        ],
        "description": "The artistic_image will have the urls of the stylized images.",
        "operationId": "get-artistic-image-by-taskid",
        "summary": "Gets a artistic image by task id [ id -> artistic image task ]"
      }
    },
    "/detect_object": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "Task succesfully created."
          },
          "400": {
            "description": "Task could not be created."
          }
        },
        "tags": [
          "vision"
        ],
        "description": "Creates a new detect object task that recognizes the object in the image.",
        "operationId": "post-detect-object",
        "requestBody": {
          "$ref": "#/components/requestBodies/post-adult-contentBody"
        },
        "summary": "What is that object? [ image_url -> id ]"
      }
    },
    "/detect_object/{taskId}": {
      "get": {
        "parameters": [
          {
            "description": "An internal id for the task",
            "in": "path",
            "name": "taskId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "The contents of the detect_object task."
          },
          "404": {
            "description": "The Task does not exists."
          }
        },
        "tags": [
          "vision"
        ],
        "description": "Gets the detect_object task.",
        "operationId": "get-detect-object-by-taskid",
        "summary": "Gets the detect_object task [ id -> detect object task]"
      }
    },
    "/face": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "Task succesfully created."
          },
          "400": {
            "description": "Task could not be created."
          }
        },
        "tags": [
          "vision"
        ],
        "description": "Get a list of all the locations of the faces in the image.",
        "operationId": "post-face",
        "requestBody": {
          "$ref": "#/components/requestBodies/post-adult-contentBody"
        },
        "summary": "Find all faces in the image [ image_url -> id ]"
      }
    },
    "/face/{taskId}": {
      "get": {
        "parameters": [
          {
            "description": "An internal id for the task",
            "in": "path",
            "name": "taskId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "The contents of the face task."
          },
          "404": {
            "description": "The Task does not exists."
          }
        },
        "tags": [
          "vision"
        ],
        "description": "Gets the face task.",
        "operationId": "get-face-by-taskid",
        "summary": "Gets the face task [ id -> face task ]"
      }
    },
    "/face_age": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "Task succesfully created."
          },
          "400": {
            "description": "Task could not be created."
          }
        },
        "tags": [
          "vision"
        ],
        "description": "Creates a new face age task that approximates the age of the person in the image.",
        "operationId": "post-face-age",
        "requestBody": {
          "$ref": "#/components/requestBodies/post-adult-contentBody"
        },
        "summary": "How old is the person in the image? [ image_url -> id ]"
      }
    },
    "/face_age/{taskId}": {
      "get": {
        "parameters": [
          {
            "description": "An internal id for the task",
            "in": "path",
            "name": "taskId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "The contents of the face_age task."
          },
          "404": {
            "description": "The Task does not exists."
          }
        },
        "tags": [
          "vision"
        ],
        "description": "Gets the face_age task.",
        "operationId": "get-face-age-by-taskid",
        "summary": "Gets the face_age task [ id -> face age task ]"
      }
    }
  },
  "components": {
    "requestBodies": {
      "post-adult-contentBody": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "async": {
                  "default": true,
                  "type": "boolean"
                },
                "image_url": {
                  "type": "string"
                }
              },
              "required": [
                "image_url"
              ],
              "type": "object"
            }
          }
        },
        "description": "The image to analyze",
        "required": true
      }
    },
    "schemas": {
      "Task": {
        "properties": {
          "answer": {
            "description": "The answer you are looking for.",
            "readOnly": true,
            "type": "number"
          },
          "image_url": {
            "description": "The url of the image that will be processed.",
            "type": "string"
          },
          "this_url": {
            "description": "Use this url to get this task.",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "image_url"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "UserSecurity": {
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "security": [
    {
      "UserSecurity": []
    }
  ],
  "tags": [
    {
      "externalDocs": {
        "description": "Find out more",
        "url": "https://aiception.com"
      },
      "description": "Everything about AIception vision API",
      "name": "vision"
    },
    {
      "description": "What will you make?",
      "name": "creative"
    },
    {
      "externalDocs": {
        "description": "Find out more",
        "url": "https://aiception.com"
      },
      "description": "Speech to text, text to speech, natural language processing",
      "name": "language"
    }
  ]
}