{
  "openapi": "3.0.3",
  "info": {
    "title": "46elks API",
    "version": "a1",
    "description": "46elks API for sending and receiving SMS, MMS, and making phone calls programmatically. Manage virtual phone numbers and account settings.",
    "x-jentic-source-url": "https://46elks.com/docs",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.46elks.com/a1"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "tags": [
    {
      "name": "SMS",
      "description": "Send and manage SMS messages"
    },
    {
      "name": "MMS",
      "description": "Send and manage MMS messages"
    },
    {
      "name": "Calls",
      "description": "Make and manage phone calls"
    },
    {
      "name": "Numbers",
      "description": "Manage virtual phone numbers"
    },
    {
      "name": "Account",
      "description": "Account information"
    }
  ],
  "paths": {
    "/sms": {
      "post": {
        "operationId": "sendSms",
        "summary": "Send an SMS",
        "description": "Send an SMS message to a phone number.",
        "tags": [
          "SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsMessage"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listSms",
        "summary": "List SMS messages",
        "description": "Get a list of SMS messages.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Pagination cursor for the start of the list",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of SMS messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sms/{smsId}": {
      "get": {
        "operationId": "getSms",
        "summary": "Get a specific SMS message",
        "description": "Retrieve details of a specific SMS message by its ID.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "smsId",
            "in": "path",
            "required": true,
            "description": "Unique SMS message ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SMS message details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsMessage"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calls": {
      "post": {
        "operationId": "makeCall",
        "summary": "Make a phone call",
        "description": "Initiate an outgoing phone call. The voice_start webhook is loaded when the call connects.",
        "tags": [
          "Calls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/MakeCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCalls",
        "summary": "List phone calls",
        "description": "Get a list of phone calls.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of calls",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calls/{callId}": {
      "get": {
        "operationId": "getCall",
        "summary": "Get a specific call",
        "description": "Retrieve details of a specific phone call by its ID.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "description": "Unique call ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/numbers": {
      "post": {
        "operationId": "allocateNumber",
        "summary": "Allocate a virtual phone number",
        "description": "Allocate a new virtual phone number from 46elks.",
        "tags": [
          "Numbers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AllocateNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Number allocated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listNumbers",
        "summary": "List virtual phone numbers",
        "description": "Get a list of your allocated virtual phone numbers.",
        "tags": [
          "Numbers"
        ],
        "responses": {
          "200": {
            "description": "List of numbers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/numbers/{numberId}": {
      "get": {
        "operationId": "getNumber",
        "summary": "Get a specific number",
        "description": "Retrieve details of a specific virtual phone number.",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "numberId",
            "in": "path",
            "required": true,
            "description": "Unique number ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Number details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateNumber",
        "summary": "Update a virtual phone number",
        "description": "Update configuration of a virtual phone number (e.g., SMS and voice webhooks).",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "numberId",
            "in": "path",
            "required": true,
            "description": "Unique number ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Number updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mms": {
      "post": {
        "operationId": "sendMms",
        "summary": "Send an MMS",
        "description": "Send an MMS (photo/media) message.",
        "tags": [
          "MMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SendMmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MmsMessage"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listMms",
        "summary": "List MMS messages",
        "description": "Get a list of MMS messages.",
        "tags": [
          "MMS"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of MMS messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MmsList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account information",
        "description": "Retrieve account details and balance.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using your API username and password"
      }
    },
    "schemas": {
      "SendSmsRequest": {
        "type": "object",
        "required": [
          "from",
          "to",
          "message"
        ],
        "properties": {
          "from": {
            "type": "string",
            "description": "Sender phone number in E.164 format or alphanumeric sender ID (max 11 chars)"
          },
          "to": {
            "type": "string",
            "description": "Recipient phone number in E.164 format"
          },
          "message": {
            "type": "string",
            "description": "The text content of the SMS message"
          },
          "whendelivered": {
            "type": "string",
            "description": "Webhook URL for delivery receipts"
          },
          "flashsms": {
            "type": "string",
            "description": "Set to 'yes' to send as a flash SMS"
          },
          "dontlog": {
            "type": "string",
            "description": "Set to 'message' to not store the message text, or 'from' to not log the sender"
          }
        }
      },
      "SmsMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique SMS ID"
          },
          "from": {
            "type": "string",
            "description": "Sender number"
          },
          "to": {
            "type": "string",
            "description": "Recipient number"
          },
          "message": {
            "type": "string",
            "description": "Message text"
          },
          "direction": {
            "type": "string",
            "enum": [
              "outgoing",
              "incoming"
            ],
            "description": "Direction of the message"
          },
          "status": {
            "type": "string",
            "description": "Delivery status"
          },
          "created": {
            "type": "string",
            "description": "Creation timestamp (UTC)"
          },
          "cost": {
            "type": "integer",
            "description": "Cost in hundredths of currency unit"
          },
          "parts": {
            "type": "integer",
            "description": "Number of SMS parts"
          }
        }
      },
      "SmsList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SmsMessage"
            }
          },
          "next": {
            "type": "string",
            "description": "URL to the next page of results"
          }
        }
      },
      "MakeCallRequest": {
        "type": "object",
        "required": [
          "from",
          "to",
          "voice_start"
        ],
        "properties": {
          "from": {
            "type": "string",
            "description": "A valid phone number in E.164 format (must be a voice-enabled 46elks number or your signup number)"
          },
          "to": {
            "type": "string",
            "description": "The phone number to call, in E.164 format"
          },
          "voice_start": {
            "type": "string",
            "description": "A webhook URL returning the first call action, or a JSON struct for direct call actions (e.g., {\"connect\":\"+46700000000\"})"
          },
          "whenhangup": {
            "type": "string",
            "description": "URL to receive call data when the call ends"
          },
          "timeout": {
            "type": "integer",
            "description": "Seconds to wait for the recipient to pick up before stopping the call"
          }
        }
      },
      "CallObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique call ID"
          },
          "from": {
            "type": "string",
            "description": "Caller ID"
          },
          "to": {
            "type": "string",
            "description": "Called number"
          },
          "direction": {
            "type": "string",
            "enum": [
              "outgoing",
              "incoming"
            ],
            "description": "Direction of the call"
          },
          "state": {
            "type": "string",
            "enum": [
              "success",
              "busy",
              "failed",
              "ongoing"
            ],
            "description": "Current state of the call"
          },
          "created": {
            "type": "string",
            "description": "Creation timestamp (UTC)"
          },
          "cost": {
            "type": "integer",
            "description": "Cost in hundredths of currency unit"
          },
          "duration": {
            "type": "integer",
            "description": "Call duration in seconds"
          }
        }
      },
      "CallList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallObject"
            }
          },
          "next": {
            "type": "string",
            "description": "URL to the next page"
          }
        }
      },
      "AllocateNumberRequest": {
        "type": "object",
        "required": [
          "country"
        ],
        "properties": {
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code for the desired number"
          },
          "sms_url": {
            "type": "string",
            "description": "Webhook URL for incoming SMS"
          },
          "voice_start": {
            "type": "string",
            "description": "Webhook URL for incoming calls"
          }
        }
      },
      "NumberObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique number ID"
          },
          "number": {
            "type": "string",
            "description": "The phone number in E.164 format"
          },
          "country": {
            "type": "string",
            "description": "Country code"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Capabilities of the number (e.g., sms, voice, mms)"
          },
          "active": {
            "type": "string",
            "description": "Whether the number is active"
          },
          "sms_url": {
            "type": "string",
            "description": "Webhook URL for incoming SMS"
          },
          "voice_start": {
            "type": "string",
            "description": "Webhook URL for incoming calls"
          },
          "cost": {
            "type": "integer",
            "description": "Monthly cost"
          }
        }
      },
      "NumberList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NumberObject"
            }
          },
          "next": {
            "type": "string",
            "description": "URL to the next page"
          }
        }
      },
      "UpdateNumberRequest": {
        "type": "object",
        "properties": {
          "sms_url": {
            "type": "string",
            "description": "Webhook URL for incoming SMS"
          },
          "voice_start": {
            "type": "string",
            "description": "Webhook URL for incoming calls"
          },
          "active": {
            "type": "string",
            "description": "Set to 'yes' to activate or 'no' to deactivate"
          }
        }
      },
      "SendMmsRequest": {
        "type": "object",
        "required": [
          "from",
          "to",
          "image"
        ],
        "properties": {
          "from": {
            "type": "string",
            "description": "Sender phone number in E.164 format"
          },
          "to": {
            "type": "string",
            "description": "Recipient phone number in E.164 format"
          },
          "image": {
            "type": "string",
            "description": "URL to the image to send"
          },
          "message": {
            "type": "string",
            "description": "Optional text content"
          }
        }
      },
      "MmsMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique MMS ID"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "outgoing",
              "incoming"
            ]
          },
          "created": {
            "type": "string"
          },
          "cost": {
            "type": "integer"
          }
        }
      },
      "MmsList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MmsMessage"
            }
          },
          "next": {
            "type": "string"
          }
        }
      },
      "AccountInfo": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "integer",
            "description": "Account balance in hundredths of currency unit"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "email": {
            "type": "string",
            "description": "Account email"
          },
          "mobilenumber": {
            "type": "string",
            "description": "Registered mobile number"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error description"
          }
        }
      }
    }
  }
}
