{
  "openapi": "3.0.3",
  "info": {
    "title": "Mempool API",
    "version": "1.0.0",
    "description": "Open-source Bitcoin blockchain explorer API providing access to mempool data, blocks, transactions, addresses, mining pools, fees, and Lightning Network data.",
    "x-jentic-source-url": "https://mempool.space/docs/api/rest"
  },
  "servers": [
    {
      "url": "https://mempool.space/api"
    }
  ],
  "paths": {
    "/block/{hash}": {
      "get": {
        "operationId": "getBlock",
        "summary": "Get block by hash",
        "description": "Returns details about a block given its hash.",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "Block hash",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Block details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/block/{hash}/header": {
      "get": {
        "operationId": "getBlockHeader",
        "summary": "Get block header",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Block header as hex string",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/block/{hash}/status": {
      "get": {
        "operationId": "getBlockStatus",
        "summary": "Get block status",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Block status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "in_best_chain": {
                      "type": "boolean"
                    },
                    "height": {
                      "type": "integer"
                    },
                    "next_best": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/block/{hash}/txs": {
      "get": {
        "operationId": "getBlockTransactions",
        "summary": "Get block transactions",
        "description": "Returns a list of transactions in a block (up to 25 per page).",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "description": "Transaction start index for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/block/{hash}/txids": {
      "get": {
        "operationId": "getBlockTxids",
        "summary": "Get block transaction IDs",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transaction IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/block-height/{height}": {
      "get": {
        "operationId": "getBlockByHeight",
        "summary": "Get block hash by height",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "height",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Block hash",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/blocks/{startHeight}": {
      "get": {
        "operationId": "listBlocks",
        "summary": "Get recent blocks",
        "description": "Returns the 15 most recent blocks starting from the specified height.",
        "tags": [
          "Blocks"
        ],
        "parameters": [
          {
            "name": "startHeight",
            "in": "path",
            "required": true,
            "description": "Starting block height",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Block"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/blocks/tip/height": {
      "get": {
        "operationId": "getTipHeight",
        "summary": "Get current tip height",
        "tags": [
          "Blocks"
        ],
        "responses": {
          "200": {
            "description": "Current block height",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/blocks/tip/hash": {
      "get": {
        "operationId": "getTipHash",
        "summary": "Get current tip hash",
        "tags": [
          "Blocks"
        ],
        "responses": {
          "200": {
            "description": "Current block hash",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tx/{txid}": {
      "get": {
        "operationId": "getTransaction",
        "summary": "Get transaction by txid",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "description": "Transaction ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tx/{txid}/status": {
      "get": {
        "operationId": "getTransactionStatus",
        "summary": "Get transaction status",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "confirmed": {
                      "type": "boolean"
                    },
                    "block_height": {
                      "type": "integer"
                    },
                    "block_hash": {
                      "type": "string"
                    },
                    "block_time": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tx/{txid}/hex": {
      "get": {
        "operationId": "getTransactionHex",
        "summary": "Get raw transaction hex",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw transaction hex",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tx/{txid}/outspends": {
      "get": {
        "operationId": "getTransactionOutspends",
        "summary": "Get transaction outspends",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Outspend statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Outspend"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tx": {
      "post": {
        "operationId": "broadcastTransaction",
        "summary": "Broadcast transaction",
        "description": "Broadcast a raw transaction to the network.",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Raw transaction hex"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction ID of the broadcast transaction",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid transaction"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/address/{address}": {
      "get": {
        "operationId": "getAddress",
        "summary": "Get address info",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Bitcoin address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/address/{address}/txs": {
      "get": {
        "operationId": "getAddressTransactions",
        "summary": "Get address transactions",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after_txid",
            "in": "query",
            "required": false,
            "description": "Txid for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/address/{address}/txs/mempool": {
      "get": {
        "operationId": "getAddressMempoolTransactions",
        "summary": "Get address mempool transactions",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unconfirmed transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/address/{address}/utxo": {
      "get": {
        "operationId": "getAddressUtxo",
        "summary": "Get address UTXOs",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of UTXOs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Utxo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/mempool": {
      "get": {
        "operationId": "getMempool",
        "summary": "Get mempool stats",
        "description": "Returns current mempool backlog statistics.",
        "tags": [
          "Mempool"
        ],
        "responses": {
          "200": {
            "description": "Mempool statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MempoolStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/mempool/txids": {
      "get": {
        "operationId": "getMempoolTxids",
        "summary": "Get all mempool transaction IDs",
        "tags": [
          "Mempool"
        ],
        "responses": {
          "200": {
            "description": "List of transaction IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/mempool/recent": {
      "get": {
        "operationId": "getMempoolRecent",
        "summary": "Get recent mempool transactions",
        "tags": [
          "Mempool"
        ],
        "responses": {
          "200": {
            "description": "Recent mempool transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "txid": {
                        "type": "string"
                      },
                      "fee": {
                        "type": "integer"
                      },
                      "vsize": {
                        "type": "integer"
                      },
                      "value": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/fees/recommended": {
      "get": {
        "operationId": "getRecommendedFees",
        "summary": "Get recommended fees",
        "description": "Returns recommended fee rates in sat/vB.",
        "tags": [
          "Fees"
        ],
        "responses": {
          "200": {
            "description": "Recommended fee rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendedFees"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/fees/mempool-blocks": {
      "get": {
        "operationId": "getMempoolBlocks",
        "summary": "Get projected mempool blocks",
        "description": "Returns projected mempool blocks with fee ranges.",
        "tags": [
          "Fees"
        ],
        "responses": {
          "200": {
            "description": "Projected mempool blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MempoolBlock"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/difficulty-adjustment": {
      "get": {
        "operationId": "getDifficultyAdjustment",
        "summary": "Get difficulty adjustment info",
        "tags": [
          "Mining"
        ],
        "responses": {
          "200": {
            "description": "Difficulty adjustment data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DifficultyAdjustment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/mining/hashrate/3d": {
      "get": {
        "operationId": "getHashrate3d",
        "summary": "Get hashrate for last 3 days",
        "tags": [
          "Mining"
        ],
        "responses": {
          "200": {
            "description": "Hashrate data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashrateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/mining/hashrate/{timePeriod}": {
      "get": {
        "operationId": "getHashrate",
        "summary": "Get hashrate for a time period",
        "tags": [
          "Mining"
        ],
        "parameters": [
          {
            "name": "timePeriod",
            "in": "path",
            "required": true,
            "description": "Time period (1m, 3m, 6m, 1y, 2y, 3y)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hashrate data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HashrateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/mining/pools/{timePeriod}": {
      "get": {
        "operationId": "getMiningPools",
        "summary": "Get mining pools",
        "tags": [
          "Mining"
        ],
        "parameters": [
          {
            "name": "timePeriod",
            "in": "path",
            "required": true,
            "description": "Time period (24h, 3d, 1w, 1m, 3m, 6m, 1y, 2y, 3y, all)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mining pool statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pools": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MiningPool"
                      }
                    },
                    "blockCount": {
                      "type": "integer"
                    },
                    "lastEstimatedHashrate": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/lightning/statistics/latest": {
      "get": {
        "operationId": "getLightningStatistics",
        "summary": "Get latest Lightning Network statistics",
        "tags": [
          "Lightning"
        ],
        "responses": {
          "200": {
            "description": "Lightning Network statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LightningStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/lightning/search": {
      "get": {
        "operationId": "searchLightningNodes",
        "summary": "Search Lightning nodes and channels",
        "tags": [
          "Lightning"
        ],
        "parameters": [
          {
            "name": "searchText",
            "in": "query",
            "required": true,
            "description": "Search text (node alias, public key, or channel ID)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nodes": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/lightning/nodes/top-connectivity": {
      "get": {
        "operationId": "getTopLightningNodes",
        "summary": "Get top Lightning nodes by connectivity",
        "tags": [
          "Lightning"
        ],
        "responses": {
          "200": {
            "description": "Top Lightning nodes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LightningNode"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Block": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Block hash"
          },
          "height": {
            "type": "integer"
          },
          "version": {
            "type": "integer"
          },
          "timestamp": {
            "type": "integer"
          },
          "tx_count": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "weight": {
            "type": "integer"
          },
          "merkle_root": {
            "type": "string"
          },
          "previousblockhash": {
            "type": "string"
          },
          "mediantime": {
            "type": "integer"
          },
          "nonce": {
            "type": "integer"
          },
          "bits": {
            "type": "integer"
          },
          "difficulty": {
            "type": "number"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "txid": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "locktime": {
            "type": "integer"
          },
          "vin": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vin"
            }
          },
          "vout": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vout"
            }
          },
          "size": {
            "type": "integer"
          },
          "weight": {
            "type": "integer"
          },
          "fee": {
            "type": "integer"
          },
          "status": {
            "type": "object",
            "properties": {
              "confirmed": {
                "type": "boolean"
              },
              "block_height": {
                "type": "integer"
              },
              "block_hash": {
                "type": "string"
              },
              "block_time": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Vin": {
        "type": "object",
        "properties": {
          "txid": {
            "type": "string"
          },
          "vout": {
            "type": "integer"
          },
          "prevout": {
            "$ref": "#/components/schemas/Vout"
          },
          "scriptsig": {
            "type": "string"
          },
          "sequence": {
            "type": "integer"
          },
          "witness": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_coinbase": {
            "type": "boolean"
          }
        }
      },
      "Vout": {
        "type": "object",
        "properties": {
          "scriptpubkey": {
            "type": "string"
          },
          "scriptpubkey_asm": {
            "type": "string"
          },
          "scriptpubkey_type": {
            "type": "string"
          },
          "scriptpubkey_address": {
            "type": "string"
          },
          "value": {
            "type": "integer"
          }
        }
      },
      "Outspend": {
        "type": "object",
        "properties": {
          "spent": {
            "type": "boolean"
          },
          "txid": {
            "type": "string"
          },
          "vin": {
            "type": "integer"
          },
          "status": {
            "type": "object",
            "properties": {
              "confirmed": {
                "type": "boolean"
              },
              "block_height": {
                "type": "integer"
              },
              "block_hash": {
                "type": "string"
              },
              "block_time": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "chain_stats": {
            "type": "object",
            "properties": {
              "funded_txo_count": {
                "type": "integer"
              },
              "funded_txo_sum": {
                "type": "integer"
              },
              "spent_txo_count": {
                "type": "integer"
              },
              "spent_txo_sum": {
                "type": "integer"
              },
              "tx_count": {
                "type": "integer"
              }
            }
          },
          "mempool_stats": {
            "type": "object",
            "properties": {
              "funded_txo_count": {
                "type": "integer"
              },
              "funded_txo_sum": {
                "type": "integer"
              },
              "spent_txo_count": {
                "type": "integer"
              },
              "spent_txo_sum": {
                "type": "integer"
              },
              "tx_count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Utxo": {
        "type": "object",
        "properties": {
          "txid": {
            "type": "string"
          },
          "vout": {
            "type": "integer"
          },
          "status": {
            "type": "object",
            "properties": {
              "confirmed": {
                "type": "boolean"
              },
              "block_height": {
                "type": "integer"
              },
              "block_hash": {
                "type": "string"
              },
              "block_time": {
                "type": "integer"
              }
            }
          },
          "value": {
            "type": "integer"
          }
        }
      },
      "MempoolStats": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "vsize": {
            "type": "integer"
          },
          "total_fee": {
            "type": "integer"
          },
          "fee_histogram": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          }
        }
      },
      "RecommendedFees": {
        "type": "object",
        "properties": {
          "fastestFee": {
            "type": "integer",
            "description": "Fee rate in sat/vB for fastest confirmation"
          },
          "halfHourFee": {
            "type": "integer",
            "description": "Fee rate for confirmation within 30 minutes"
          },
          "hourFee": {
            "type": "integer",
            "description": "Fee rate for confirmation within 1 hour"
          },
          "economyFee": {
            "type": "integer",
            "description": "Economy fee rate"
          },
          "minimumFee": {
            "type": "integer",
            "description": "Minimum relay fee rate"
          }
        }
      },
      "MempoolBlock": {
        "type": "object",
        "properties": {
          "blockSize": {
            "type": "integer"
          },
          "blockVSize": {
            "type": "number"
          },
          "nTx": {
            "type": "integer"
          },
          "totalFees": {
            "type": "integer"
          },
          "medianFee": {
            "type": "number"
          },
          "feeRange": {
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        }
      },
      "DifficultyAdjustment": {
        "type": "object",
        "properties": {
          "progressPercent": {
            "type": "number"
          },
          "difficultyChange": {
            "type": "number"
          },
          "estimatedRetargetDate": {
            "type": "integer"
          },
          "remainingBlocks": {
            "type": "integer"
          },
          "remainingTime": {
            "type": "integer"
          },
          "previousRetarget": {
            "type": "number"
          },
          "nextRetargetHeight": {
            "type": "integer"
          },
          "timeAvg": {
            "type": "integer"
          },
          "timeOffset": {
            "type": "integer"
          }
        }
      },
      "HashrateResponse": {
        "type": "object",
        "properties": {
          "hashrates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "integer"
                },
                "avgHashrate": {
                  "type": "number"
                }
              }
            }
          },
          "difficulty": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "integer"
                },
                "difficulty": {
                  "type": "number"
                },
                "height": {
                  "type": "integer"
                }
              }
            }
          },
          "currentHashrate": {
            "type": "number"
          },
          "currentDifficulty": {
            "type": "number"
          }
        }
      },
      "MiningPool": {
        "type": "object",
        "properties": {
          "poolId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "blockCount": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          },
          "emptyBlocks": {
            "type": "integer"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "LightningStats": {
        "type": "object",
        "properties": {
          "latest": {
            "type": "object",
            "properties": {
              "channel_count": {
                "type": "integer"
              },
              "node_count": {
                "type": "integer"
              },
              "total_capacity": {
                "type": "integer"
              },
              "tor_nodes": {
                "type": "integer"
              },
              "clearnet_nodes": {
                "type": "integer"
              },
              "unannounced_nodes": {
                "type": "integer"
              },
              "avg_capacity": {
                "type": "integer"
              },
              "avg_fee_rate": {
                "type": "integer"
              },
              "avg_base_fee_mtokens": {
                "type": "integer"
              },
              "med_capacity": {
                "type": "integer"
              },
              "med_fee_rate": {
                "type": "integer"
              },
              "med_base_fee_mtokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "LightningNode": {
        "type": "object",
        "properties": {
          "publicKey": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "channels": {
            "type": "integer"
          },
          "capacity": {
            "type": "integer"
          },
          "firstSeen": {
            "type": "integer"
          },
          "updatedAt": {
            "type": "integer"
          },
          "city": {
            "type": "object"
          },
          "country": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": []
}