{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "support@clearblade.com"
    },
    "description": "A friendly little API to help you interact with the ClearBlade platform.",
    "termsOfService": "https://docs.clearblade.com/v/4/static/tac.html",
    "title": "ClearBlade API",
    "version": "3.0",
    "x-apisguru-categories": [
      "iot"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/clearblade.com/3.0/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://docs.clearblade.com/v/4/static/api/openapi.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "clearblade.com"
  },
  "servers": [
    {
      "url": "https://platform.clearblade.com/"
    }
  ],
  "paths": {
    "/admin/allapps": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of system information."
          },
          "400": {
            "description": "Bad Request."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Retrieves system information for all systems in the developer account.",
        "operationId": "DevGetAssets",
        "summary": "DEVELOPER - Get platform assets"
      }
    },
    "/admin/allcollections": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the system the collections belong to.",
            "in": "query",
            "name": "appid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of collections in the specified system."
          },
          "400": {
            "description": "Bad Request."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Returns all the collections in the specified system.",
        "operationId": "DevGetCollections",
        "summary": "DEVELOPER - Get collections"
      }
    },
    "/admin/allsystems": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of systems."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Returns all the systems tied to the specified developer's account.",
        "operationId": "GetSystems",
        "summary": "DEVELOPER - Get systems"
      }
    },
    "/admin/audit": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Query object used to filter the items. See query model at in the description for example.",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auditInfo"
                }
              }
            },
            "description": "Returns audit information"
          }
        },
        "tags": [
          "Audit"
        ],
        "description": "## Description:\nReturns list of assets and the information about the changes that have been made. This endpoint is for Admin only.\n### Query Structure:\n```json\n{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]], \"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object. \n## Audit Table Schema:\nRefer to this when building the query.\n\n  | Column | Type | Possible Values|Example|\n  |:---------|:---------|:------|:---------|\n  | id   | bigint   |ANY_POSITIVE_INTEGER|10440595|\n  |system_key|string|SINGLE_STRING_WITH_HEX_CHARS_ONLY|\"ccafb4cadaccaf9ebba01\"|\n  |time|timestamp|ISO_DATE_TIME_STRING|\"2020-01-29T20:18:18.475214Z\"|\n  |response_time|bigint|ANY_POSITIVE_INTEGER|4038669|\n  |asset_class|string|adapters, adapterFiles, devices, users, multi_dev, services, libraries, servicecaches, timers, triggers, webhooks, portals, plugins, rolesperms, collections, edges, messaging, deployments, edgegroups, system, usersessions, devicesessions|\"collections\"|\n  |action_type|string|Create, Update, Delete, Create Columns, Delete Columns, Developer Password Reset, User Password Reset, MQTT Disconnect, MQTT Connect|\"MQTT Connect\"|\n  |email|string|SINGLE_VALID_EMAIL_STRING|\"example@clearblade.com\"|\n  |asset_id|string|ANY_STRING|\"ClearBlade-iPhone\"|\n  |changes|string|STRINGIFIED_JSON|\"{\\\\\"newVersion\\\\\":2}\"|\n  |user_type|string|UNKNOWN, DEV, USER, DEVICE, Invalid UserType|\"DEVICE\"|\n  \n### Example:\n\n```json\n{\"FILTERS\":[[{\"NEQ\":[{\"asset_class\":\"services\"}]},{\"EQ\":[{\"action_type\":\"create\"}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n",
        "operationId": "GetAudit",
        "summary": "AUDIT  - Get Audit Info"
      }
    },
    "/admin/audit/count": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns number of actions"
          }
        },
        "tags": [
          "Audit"
        ],
        "description": "Gets total number of changes made to assets across all systems on the instance. This endpoint is Admin only.",
        "operationId": "GetCounts",
        "summary": "Audit - Get counts"
      }
    },
    "/admin/audit/{systemKey}": {
      "get": {
        "parameters": [
          {
            "description": "System Key that identifies the system that holds the deployment.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Query object used to filter the items. See query model at in the description for example.",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/auditInfo"
                }
              }
            },
            "description": "Returns audit information"
          }
        },
        "tags": [
          "Audit"
        ],
        "description": "## Description:\nReturns list of assets and the information about the changes that have been made. This endpoint is for Admin and Dev.\n\n### Query Structure:\n```json\n{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]], \"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object. \n## Audit Table Schema:\nRefer to this when building the query.\n\n  | Column | Type | Possible Values|Example|\n  |:---------|:---------|:------|:---------|\n  | id   | bigint   |ANY_POSITIVE_INTEGER|10440595|\n  |system_key|string|SINGLE_STRING_WITH_HEX_CHARS_ONLY|\"ccafb4cadaccaf9ebba01\"|\n  |time|timestamp|ISO_DATE_TIME_STRING|\"2020-01-29T20:18:18.475214Z\"|\n  |response_time|bigint|ANY_POSITIVE_INTEGER|4038669|\n  |asset_class|string|adapters, adapterFiles, devices, users, multi_dev, services, libraries, servicecaches, timers, triggers, webhooks, portals, plugins, rolesperms, collections, edges, messaging, deployments, edgegroups, system, usersessions, devicesessions|\"collections\"|\n  |action_type|string|Create, Update, Delete, Create Columns, Delete Columns, Developer Password Reset, User Password Reset, MQTT Disconnect, MQTT Connect|\"MQTT Connect\"|\n  |email|string|SINGLE_VALID_EMAIL_STRING|\"example@clearblade.com\"|\n  |asset_id|string|ANY_STRING|\"ClearBlade-iPhone\"|\n  |changes|string|STRINGIFIED_JSON|\"{\\\\\"newVersion\\\\\":2}\"|\n  |user_type|string|UNKNOWN, DEV, USER, DEVICE, Invalid UserType|\"DEVICE\"|\n  \n### Example:\n\n```json\n{\"FILTERS\":[[{\"NEQ\":[{\"asset_class\":\"services\"}]},{\"EQ\":[{\"action_type\":\"create\"}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n",
        "operationId": "GetAuditDev",
        "summary": "AUDIT  - Get Audit Info"
      }
    },
    "/admin/audit/{systemKey}/count": {
      "get": {
        "parameters": [
          {
            "description": "System Key that identifies the system that holds the deployment.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns number of actions"
          }
        },
        "tags": [
          "Audit"
        ],
        "description": "Gets total number of changes made to assets across all systems on the instance. This endpoint is for Admin and Dev.",
        "operationId": "GetCountsDev",
        "summary": "AUDIT - Get counts"
      }
    },
    "/admin/auth": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/devregresp"
                }
              }
            },
            "description": "Developer authenticated."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "## Description\nLogs developer into system and returns an Developer Token\n## Endpoint Body Values\nHere are the body values for the two scenarios\n### Basic Auth\nRequired Keys\n  - username\n  - password\n\nExample \n```json\n{\n  \"username\":\"cbman@clearblade.com\",\n  \"password\":\"cl34rbl4d3\"\n}\n```  \n\n### Refreshing Token\nRequired Keys \n  - grant_type (only one valid value - \"refresh_token\")\n  - refresh_token\n  - access_token\n\nExample \n```json\n{\n  \"grant_type\":\"refresh_token\",\n  \"refresh_token\":\"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJmMjkwZTJlYjBiZDRmNjhiZDRkM2RlZjNkMWM0MDEiLCJzaWQiOiIzOWFkM2U5OC1hMmU0LTQxYzQtOGMzNi03ZjQxNDFhYzYxN2IiLCJ1dCI6MiwidHQiOjMsImV4cCI6MTU5MDI3ODExMSwiaWF0IjoxNTg5NDE0MTExfQ.iY6uJu2QgNP0uHoGdmEZm9wsztB1SUrCHrisxoXoxolol\",\n  \"access_token\":\"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiJmMjkwZTJlYjBiZDRmNjhiZDRkM2RlZjNkMWM0MDEiLCJzaWQiOiI3NmY4ODg4MS04YmU5LTRiM2UtOWJkNi1jOTJjZGQ4OTNlMmEiLCJ1dCI6MiwidHQiOjEsImV4cCI6MTU4OTg0NjExMSwiaWF0IjoxNTg5NDE0MTExfQ.xboryHuVn2zz-gSZ_JcD7-j_eBmJU1SMHkiDl9j8bak\"\n}\n```\n",
        "operationId": "AuthDev",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authdata"
              }
            }
          },
          "description": "Developer credentials.",
          "required": true
        },
        "summary": "DEVELOPER - Authenticate dev"
      }
    },
    "/admin/checkauth": {
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receives access to the system."
          },
          "400": {
            "description": "Bad Request."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Verifies developer access to the system",
        "operationId": "VerifyAuth",
        "summary": "DEVELOPER - Verifies access to the system"
      }
    },
    "/admin/collectionmanagement": {
      "delete": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID that identifies the collection to be deleted.",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection was successfully deleted."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Deletes an existing collection in the specified system.",
        "operationId": "DevDeleteCollection",
        "summary": "DEVELOPER - Delete collection"
      },
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection was successfully created."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Creates a new collection or database connection in the specified system.",
        "operationId": "DevCreateCollection",
        "requestBody": {
          "$ref": "#/components/requestBodies/newcollection"
        },
        "summary": "DEVELOPER - Create collection"
      },
      "put": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection was successfully updated."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Creates or deletes a column within an existing collection, or updates an existing database connection in the specified system.",
        "operationId": "DevUpdateCollection",
        "requestBody": {
          "$ref": "#/components/requestBodies/updateCollection"
        },
        "summary": "DEVELOPER - Update collection"
      }
    },
    "/admin/count/developers": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns number of admin developers"
          },
          "400": {
            "description": "Bad request."
          }
        },
        "tags": [
          "Admin"
        ],
        "description": "Retrieves the number of developers who are considered administrators in their system.",
        "operationId": "GetAdminDevCount",
        "summary": "ADMIN - Get number of admin developers"
      }
    },
    "/admin/count/systems": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Admin"
        ],
        "description": "Retrieves the number of systems that are available.",
        "operationId": "GetSystemCount",
        "summary": "ADMIN - Get number of systems available"
      }
    },
    "/admin/database/status": {
      "get": {
        "responses": {
          "200": {
            "description": "## Description:\n Returns all the names and internal and external database statuses in a system\n ### Success Structure:\n ```json\n {\n   [IP_ADDRESS]\": {\n     \"internal_db_stats\": {\n       \"name\": \"Postgres\",\n       \"stats\": {\n         \"db_type\": \"PostgreSQL\",\n         \"info\": {\n           \"Idle\": 2,\n           \"InUse\": 0,\n           \"MaxIdleClosed\": 55380,\n           \"MaxIdleTimeClosed\": 0,\n           \"MaxLifetimeClosed\": 0,\n           \"MaxOpenConnections\": 30,\n           \"OpenConnections\": 2,\n           \"WaitCount\": 0,\n           \"WaitDuration\": 0\n       },\n       \"is_connected\": true\n       }\n      },\n      \"external_db_stats\": {}\n ```\n |\n"
          }
        },
        "tags": [
          "Databases"
        ],
        "description": "Returns all the names and internal and external database statuses",
        "operationId": "GetDatabaseStatus",
        "summary": "DATABASES - Retrieves all internal and external database statuses"
      }
    },
    "/admin/developers/{systemKey}": {
      "put": {
        "parameters": [
          {
            "description": "System Key that identifies the system that holds the deployment.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Owner successfully added/removed."
          },
          "400": {
            "description": "Bad Request."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "Admin",
          "Developer"
        ],
        "description": "For admin, you can add/remove/change the owner of a system even if you’re not the system's owner. For Developer,you can add/remove a developer as long as you’re the owner of the system.",
        "operationId": "AdminOwnerChange",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateOwner"
              }
            }
          },
          "description": "Updated system owner email."
        },
        "summary": "ADMIN - Add/Remove/Change owner"
      }
    },
    "/admin/devices/keys/{systemKey}/{deviceName}": {
      "delete": {
        "parameters": [
          {
            "description": "Developer Token obtained through developer authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the device currently belongs to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the device whose keys are being deleted.",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes rotating keys"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Deletes the rotating keys from its device.",
        "operationId": "DeleteDeviceKeys",
        "summary": "DEVELOPER - Delete rotating keys for a device"
      },
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through developer authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the device you're updating belongs to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the device you are adding keys to .",
            "in": "path",
            "name": "deviceName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deviceKey"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "tags": [
          "Device"
        ],
        "description": "Creates rotating keys for a device.",
        "operationId": "CreateRotatingKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/count"
              }
            }
          },
          "description": "Number of rotating keys.",
          "required": true
        },
        "summary": "DEVICE -Creates rotating keys for a device."
      }
    },
    "/admin/devices/{systemKey}": {
      "delete": {
        "parameters": [
          {
            "description": "System Key that identifies the system the device is a part of.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Token obtained through user authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tags to filter devices by. See the query model below for an example.",
            "in": "query",
            "name": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted devices."
          },
          "400": {
            "description": "Bad request."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Deletes all devices matching the filters specified by a query.",
        "operationId": "DeleteDevicesAdmin",
        "summary": "DEVELOPER - Delete devices using a query"
      },
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the devices in question belong to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tags to filter devices by. See the query model below for an example. All devices are returned if a query is not specified.",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of devices."
          },
          "400": {
            "description": "Bad request."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Retrieves information about all devices in the specified system",
        "operationId": "GetSystemDevices",
        "summary": "DEVELOPER - Get devices with or without a query"
      },
      "put": {
        "parameters": [
          {
            "description": "System Key that identifies the system the device is a part of.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Token obtained through user authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResultSet"
                }
              }
            },
            "description": "A JSON object representing the SQL result set containing the list of affected devices."
          },
          "400": {
            "description": "Bad request."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Updates all devices matching the filters specified by a query.",
        "operationId": "UpdateDevicesAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutQuery"
              }
            }
          },
          "description": "Query to limit scope of update, and new data values.",
          "required": true
        },
        "summary": "DEVELOPER - Update devices using a query"
      }
    },
    "/admin/devices/{systemKey}/{name}": {
      "delete": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the device currently belongs to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the device you're deleting.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Deletes the specified device from its system.",
        "operationId": "DeleteSystemDevice",
        "summary": "DEVELOPER - Delete device"
      },
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the device in question belongs to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the device you're getting info about.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Retrieves information about the specified device.",
        "operationId": "GetSystemDevice",
        "summary": "DEVELOPER - Get device"
      },
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the new device will belong to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the device you're creating.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Creates a new device in the specified system.",
        "operationId": "CreateSystemDevice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deviceAdminNew"
              }
            }
          },
          "description": "New device information.",
          "required": true
        },
        "summary": "DEVELOPER - Create device"
      },
      "put": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the device you're updating belongs to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the device you're updating.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Updates the specified device's information.",
        "operationId": "UpdateSystemDevice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/deviceAdminUpdate"
              }
            }
          },
          "description": "Updated device information.",
          "required": true
        },
        "summary": "DEVELOPER - Update device"
      }
    },
    "/admin/edges/template/{systemKey}": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the edge template belongs to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Get list of which triggers, services, and libraries should be copied onto which edge when it starts up.",
        "operationId": "GetEdgeTemplate",
        "summary": "DEVELOPER - Get edge template"
      }
    },
    "/admin/edges/template/{systemKey}/{edgeName}": {
      "put": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the edge template belongs to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the edge you're modifying the template for.",
            "in": "path",
            "name": "edgeName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Update template for the specified edge.",
        "operationId": "UpdateEdgeTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edgeTemplateUpdate"
              }
            }
          },
          "description": "list of resources to add or remove to the template for an edge.",
          "required": true
        },
        "summary": "DEVELOPER - Update edge template"
      }
    },
    "/admin/edges/{systemKey}": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the edges in question belong to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Retrieves all the edges that belong to the specified system.",
        "operationId": "GetEdges",
        "summary": "DEVELOPER - Get edges"
      }
    },
    "/admin/edges/{systemKey}/control": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the edges in question belong to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Retrieves all the edges that the adapter belongs to.",
        "operationId": "GetAdapterEdges",
        "summary": "DEVELOPER - Get edges for the adapter"
      }
    },
    "/admin/edges/{systemKey}/{edgeName}": {
      "delete": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the edge currently belongs to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the edge you're deleting.",
            "in": "path",
            "name": "edgeName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Deletes the specified edge from its system.",
        "operationId": "DeleteEdge",
        "summary": "DEVELOPER - Delete edge"
      },
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the edge in question belongs to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the edge you're getting info about.",
            "in": "path",
            "name": "edgeName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Retrieves information about the specified edge.",
        "operationId": "GetEdge",
        "summary": "DEVELOPER - Get edge"
      },
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the new edge will belong to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the edge you're creating.",
            "in": "path",
            "name": "edgeName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Creates a new edge in the specified system.",
        "operationId": "CreateEdge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edgeNew"
              }
            }
          },
          "description": "New edge information.",
          "required": true
        },
        "summary": "DEVELOPER - Create edge"
      },
      "put": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System key that identifies the system the edge you're updating belongs to.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the edge you're updating.",
            "in": "path",
            "name": "edgeName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Updates the specified edge's information.",
        "operationId": "UpdateEdge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edgeUpdate"
              }
            }
          },
          "description": "Updated edge information.",
          "required": true
        },
        "summary": "DEVELOPER - Update edge"
      }
    },
    "/admin/logout": {
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Developer was successfully logged out."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Logs the current developer out of their session and invalidates their DevToken",
        "operationId": "DevLogout",
        "summary": "DEVELOPER - Log out dev"
      }
    },
    "/admin/pkey": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns platform license key"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "Admin"
        ],
        "description": "Returns current platform license key.",
        "operationId": "GetLicenseKey",
        "summary": "ADMIN - Get platform license key."
      }
    },
    "/admin/platform/developer": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Email of the developer in question.",
            "in": "query",
            "name": "developer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Admin"
        ],
        "description": "Returns information about the specified developer.",
        "operationId": "GetDev",
        "summary": "ADMIN - Get developer"
      },
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Disables the specified developer on the platform.",
        "operationId": "DisableDev",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/disableData"
              }
            }
          },
          "description": "Information to identify the developer you're disabling.",
          "required": true
        },
        "summary": "DEVELOPER - Disable developer"
      }
    },
    "/admin/platform/developers": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Response page size.",
            "in": "query",
            "name": "pagesize",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Response page number.",
            "in": "query",
            "name": "pagenum",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "total",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter response.",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Admin"
        ],
        "description": "Returns all developers in the platform.",
        "operationId": "GetDevs",
        "summary": "ADMIN - Get developers"
      }
    },
    "/admin/platform/systems": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "Clearblade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Query object used to filter the items. See query model at in the description for example.",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/systemInfo"
                }
              }
            },
            "description": "No response was specified."
          }
        },
        "tags": [
          "Audit"
        ],
        "description": "## Description:\nGet list of systems that have been updated. This is an Admin only endpoint.\n\n### Query:\n```json\n{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]],\"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object. \n## Admin Audit Table Schema:\nRefer to this when building the query.\n\n  | Column | Type | Possible Values| Examples|\n  |:--------|:--------|:------|:------|\n  | name   | string   |ANY_STRING|\"ClearBladeDev\"|\n  |owner|string|EMAIL_STRING |\"example@clearblade.com\"|\n  |systemKey|string|SINGLE_STRING_WITH_HEX_CHARS_ONLY|\"80sdff82c0b1fbda1f271\"|\n  |disabled|boolean|true, false|true|\n  |lastUpdated|timestamp|ISO_DATE_TIME_STRING|\"2020-01-29T20:18:18.475214Z\"|\n  |numDevs|int|ANY_POSITIVE_INTEGER|2|\n  |numServices|int|ANY_POSITIVE_INTEGER|2|\n  |numLibraries|int|ANY_POSITIVE_INTEGER|2|\n  |numDeployments|int|ANY_POSITIVE_INTEGER|2|\n  |numRoles|int|ANY_POSITIVE_INTEGER|2|\n  |numUsers|int|ANY_POSITIVE_INTEGER|2|\n  |numDevices|int|ANY_POSITIVE_INTEGER|2|\n  |numEdge|int|ANY_POSITIVE_INTEGER|2|\n  |numAPIReqsTotal|int|ANY_POSITIVE_INTEGER|2|\n  |numAPIReqsMonth|int|ANY_POSITIVE_INTEGER|2|\n  |numAPIReqsYear|int|ANY_POSITIVE_INTEGER|2|\n  |numPub|int|ANY_POSITIVE_INTEGER|2|\n  |numPubMonth|int|ANY_POSITIVE_INTEGER|2|\n  |numPubYear|int|ANY_POSITIVE_INTEGER|2|\n  |numRecTotal|int|ANY_POSITIVE_INTEGER|2|\n  |numRecMonth|int|ANY_POSITIVE_INTEGER|2|\n  |numRecYear|int|ANY_POSITIVE_INTEGER|2|\n  |diskUsage|int|ANY_POSITIVE_INTEGER|2|\n\n### Example:\n\n```json\n \"query\":{\"FILTERS\":[[{\"NEQ\":[{\"disabled\":true}]},{\"EQ\":[{\"numDevs\":2}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n",
        "operationId": "GetSystemUpdates",
        "summary": "AUDIT - Get list of systems that have been updated"
      }
    },
    "/admin/platform/systems/{systemKey}": {
      "get": {
        "parameters": [
          {
            "description": "System Key that identifies the system that holds the deployment.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "clearblade-devtoken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Query object used to filter the items. See query model at in the description for example.",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/systemInfo"
                }
              }
            },
            "description": "No response was specified."
          }
        },
        "tags": [
          "Audit"
        ],
        "description": "## Description:\n Get list of changes that have been made to the system. This is an Admin and Dev endpoint.\n### Query:\n```json\n\"query\":{\"PAGESIZE\":int,\"PAGENUM\":int,\"FILTERS\":[[{\"_REPLACE_WITH_OPERATOR_\":[{\"valueType\":\"value\"}]}]],\"SORT\":[{\"DESC\":\"value\"}]}\n```\n  Note - You can generate a complex query object in a code service using the `ClearBlade.Query()` object. \n## Admin Audit Table Schema:\n## Admin Audit Table Schema:\nRefer to this when building the query.\n\n  | Column | Type | Possible Values| Examples|\n  |:--------|:--------|:------|:------|\n  | name   | string   |ANY_STRING|\"ClearBladeDev\"|\n  |owner|string|EMAIL_STRING |\"example@clearblade.com\"|\n  |systemKey|string|SINGLE_STRING_WITH_HEX_CHARS_ONLY|\"80sdff82c0b1fbda1f271\"|\n  |disabled|boolean|true, false|true|\n  |lastUpdated|timestamp|ISO_DATE_TIME_STRING|\"2020-01-29T20:18:18.475214Z\"|\n  |numDevs|int|ANY_POSITIVE_INTEGER|2|\n  |numServices|int|ANY_POSITIVE_INTEGER|2|\n  |numLibraries|int|ANY_POSITIVE_INTEGER|2|\n  |numDeployments|int|ANY_POSITIVE_INTEGER|2|\n  |numRoles|int|ANY_POSITIVE_INTEGER|2|\n  |numUsers|int|ANY_POSITIVE_INTEGER|2|\n  |numDevices|int|ANY_POSITIVE_INTEGER|2|\n  |numEdge|int|ANY_POSITIVE_INTEGER|2|\n  |numAPIReqsTotal|int|ANY_POSITIVE_INTEGER|2|\n  |numAPIReqsMonth|int|ANY_POSITIVE_INTEGER|2|\n  |numAPIReqsYear|int|ANY_POSITIVE_INTEGER|2|\n  |numPub|int|ANY_POSITIVE_INTEGER|2|\n  |numPubMonth|int|ANY_POSITIVE_INTEGER|2|\n  |numPubYear|int|ANY_POSITIVE_INTEGER|2|\n  |numRecTotal|int|ANY_POSITIVE_INTEGER|2|\n  |numRecMonth|int|ANY_POSITIVE_INTEGER|2|\n  |numRecYear|int|ANY_POSITIVE_INTEGER|2|\n  |diskUsage|int|ANY_POSITIVE_INTEGER|2|\n\n### Example:\n\n```json\n \"query\":{\"FILTERS\":[[{\"NEQ\":[{\"disabled\":true}]},{\"EQ\":[{\"numDevs\":2}]}]],\"PAGESIZE\":0,\"PAGENUM\":0}\n```\n",
        "operationId": "GetSystemUpdatesDev",
        "summary": "AUDIT - Get list of systems that have been updated"
      }
    },
    "/admin/platform/{systemKey}": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the system you're requesting information about.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Admin"
        ],
        "description": "Retrieves the specified system's status as it relates to limits. To be used by the billing system.",
        "operationId": "GetSystemStatus",
        "summary": "ADMIN - Get system status"
      }
    },
    "/admin/portals/{systemKey}": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through developer authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the specified system.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/portalArray"
                }
              }
            },
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Returns information about a specified portal.",
        "operationId": "GetPortalInfo",
        "summary": "DEVELOPER - Gets the information for a portal"
      }
    },
    "/admin/putpass": {
      "put": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Developer's password was successfully changed."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Changes a developer's password.",
        "operationId": "ChangeDevPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/devpass"
              }
            }
          },
          "description": "Password change information.",
          "required": true
        },
        "summary": "DEVELOPER - Change dev password"
      }
    },
    "/admin/reg": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/devregresp"
                }
              }
            },
            "description": "Developer was successfully created."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Registers a new developer account with the CB platform.",
        "operationId": "RegDev",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/devregdata"
              }
            }
          },
          "description": "First and last name, organization, email, and password for developer",
          "required": true
        },
        "summary": "DEVELOPER - Register new dev"
      }
    },
    "/admin/regensystemsecret": {
      "put": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New System Secret was successfully generated."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Generates a new System Secret for the specified system.",
        "operationId": "RegenSecret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/regensystem"
              }
            }
          },
          "description": "System Key that identifies the system you're regenerating the secret for.",
          "required": true
        },
        "summary": "DEVELOPER - Regen secret"
      }
    },
    "/admin/resetpassword": {
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Password is resetted"
          }
        },
        "tags": [
          "Admin"
        ],
        "description": "Changes a developer's password.",
        "operationId": "ResetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/resetPassword"
              }
            }
          },
          "description": "New login information.",
          "required": true
        },
        "summary": "ADMIN - Change dev password (Admin)"
      }
    },
    "/admin/settings/email-service": {
      "delete": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResp"
                }
              }
            },
            "description": "Email settings was successfully deleted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResp"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "tags": [
          "2FA"
        ],
        "description": "Deletes email communication settings. This endpoint is Admin only.",
        "operationId": "DeleteEmailSettings",
        "summary": "2FA - Delete email settings"
      },
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/emailSettings"
                }
              }
            },
            "description": "Returns email communcation settings"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResp"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "tags": [
          "2FA"
        ],
        "description": "Gets current email communication settings. This endpoint is Admin only.",
        "operationId": "EmailSettings",
        "summary": "2FA - Get Email Settings"
      },
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully added email service settings"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResp"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "tags": [
          "2FA"
        ],
        "description": "## Description:\n  Creates email communication . This endpoint is Admin only.\n  \n## Settings choices\n\n|Settings|Allowed Values|\n|--------|-----|\n|encryption_type|STARTTLS, TLS, NONE|\n|protocol|SMTP|\n",
        "operationId": "CreateEmailCommunication",
        "requestBody": {
          "$ref": "#/components/requestBodies/emailSettings"
        },
        "summary": "2FA - Create Email Communication"
      },
      "put": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResp"
                }
              }
            },
            "description": "Successfully updated email service settings"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResp"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "tags": [
          "2FA"
        ],
        "description": "\n## Description:\nUpdates email communication settings. This endpoint is Admin only.\n   \n## Setting options\n    \n|Settings|Types|\n|--------|-----|\n|encryption_type|STARTTLS, TLS, NONE|\n|port|25, 465, 587, 2525|\n\nSMTP is the only protocol supported\n",
        "operationId": "UpdateEmailSettings",
        "requestBody": {
          "$ref": "#/components/requestBodies/emailSettings"
        },
        "summary": "2FA - Update Email Settings"
      }
    },
    "/admin/settings/email-service/test": {
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResp"
                }
              }
            },
            "description": "Successfully sends test email"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResp"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "tags": [
          "2FA"
        ],
        "description": "Test email service . This endpoint is Admin only.",
        "operationId": "TestEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/emailTest"
              }
            }
          },
          "description": "The recipient email address to send the test message",
          "required": true
        },
        "summary": "2FA - Test Email Service"
      }
    },
    "/admin/settings/security": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecuritySettings"
                }
              }
            },
            "description": "Returns 2FA security settings"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResp"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "tags": [
          "2FA"
        ],
        "description": "View instance wide security settings. This endpoint is Admin only.",
        "operationId": "ViewSecurity",
        "summary": "2FA - View Security Settings"
      },
      "put": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecuritySettings"
                }
              }
            },
            "description": "Successfully updated 2FA security settings"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResp"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "tags": [
          "2FA"
        ],
        "description": "Update instance wide security settings.TTL must be between 86400 and 2592000 seconds. This endpoint is Admin only.",
        "operationId": "UpdateSecurity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecuritySettings"
              }
            }
          },
          "description": "The SMS settings to be updated",
          "required": true
        },
        "summary": "2FA - Update Security Settings"
      }
    },
    "/admin/settings/sms-service": {
      "delete": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResp"
                }
              }
            },
            "description": "SMS settings was successfully deleted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResp"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "tags": [
          "2FA"
        ],
        "description": "Deletes SMS communication settings. This endpoint is Admin only.",
        "operationId": "DeleteSMSSettings",
        "summary": "2FA - Delete SMS settings"
      },
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMSSettings"
                }
              }
            },
            "description": "Returns SMS communcation settings"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResp"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "tags": [
          "2FA"
        ],
        "description": "Gets current SMS communication settings. This endpoint is Admin only.",
        "operationId": "SMSSettings",
        "summary": "2FA - Get SMS Settings"
      },
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResp"
                }
              }
            },
            "description": "Successfully added SMS service settings"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResp"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "tags": [
          "2FA"
        ],
        "description": "Creates SMS communication . Twilio is the only supported service. This endpoint is Admin only.",
        "operationId": "CreateSMSCommunication",
        "requestBody": {
          "$ref": "#/components/requestBodies/SMSSettings"
        },
        "summary": "2FA - Create SMS Communication"
      },
      "put": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResp"
                }
              }
            },
            "description": "Successfully updated SMS service settings"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResp"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "tags": [
          "2FA"
        ],
        "description": "Updates SMS communication settings. Twilio is the only supported service. This endpoint is Admin only.",
        "operationId": "UpdateSMSSettings",
        "requestBody": {
          "$ref": "#/components/requestBodies/SMSSettings"
        },
        "summary": "2FA - Update SMS Settings"
      }
    },
    "/admin/settings/sms-service/test": {
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResp"
                }
              }
            },
            "description": "Successfully sends test message"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResp"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "tags": [
          "2FA"
        ],
        "description": "Test SMS service . This endpoint is Admin only.",
        "operationId": "TestSMS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMSTest"
              }
            }
          },
          "description": "The recipient phone number to send the test message",
          "required": true
        },
        "summary": "2FA - Test SMS Service"
      }
    },
    "/admin/systems/{devEmail}": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Email of the Developer. Should be in the format `name@orgname.com`",
            "in": "path",
            "name": "devEmail",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/systemInfo"
                }
              }
            },
            "description": "List of systems the developer has access to."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResp"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "tags": [
          "Admin"
        ],
        "description": "Get the list of systems the developer has access to",
        "operationId": "GetSystemsForDev",
        "summary": "Get Systems for a developer"
      }
    },
    "/admin/triggers/definitions": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of trigger definitions."
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Returns list of trigger definitions. These are the possible actions that can set off a trigger.",
        "operationId": "GetTriggers",
        "summary": "DEVELOPER - Get trigger definitions"
      }
    },
    "/admin/triggers/handlers/{systemKey}": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the system the handlers are in.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of trigger handlers"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Returns list of trigger handlers.",
        "operationId": "GetTriggerHandlers",
        "summary": "DEVELOPER - Get trigger handlers"
      }
    },
    "/admin/triggers/handlers/{systemKey}/{name}": {
      "delete": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the system the handler is in.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the trigger handler you're deleting.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Deletes the specified trigger handler.",
        "operationId": "DeleteTriggerHandler",
        "summary": "DEVELOPER - Delete trigger handler"
      },
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the system the handler is in.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the trigger handler you want.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Returns the specified trigger handler information.",
        "operationId": "GetTriggerHandler",
        "summary": "DEVELOPER - Get trigger handler"
      },
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the system the handler is in.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the trigger handler you're creating.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Creates a new trigger handler.",
        "operationId": "CreateTrigger",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/triggerdata"
              }
            }
          },
          "description": "New trigger information.",
          "required": true
        },
        "summary": "DEVELOPER - Create trigger handler"
      },
      "put": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the system the handler is in.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the trigger handler you're updating.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Updates the specified trigger handler.",
        "operationId": "UpdateTriggerHandler",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/triggerdata"
              }
            }
          },
          "description": "Updated trigger handler information.",
          "required": true
        },
        "summary": "DEVELOPER - Update trigger handler"
      }
    },
    "/admin/triggers/timers/{systemKey}": {
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the system the handler is in.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Returns a list of timer handlers.",
        "operationId": "GetTimerHandlers",
        "summary": "DEVELOPER - Get timer handlers"
      }
    },
    "/admin/triggers/timers/{systemKey}/{name}": {
      "delete": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the system the handler is in.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the timer you're deleting.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Deletes the specified trigger handler.",
        "operationId": "DeleteTimerHandler",
        "summary": "DEVELOPER - Delete trigger handler"
      },
      "get": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the system the handler is in.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the timer handler you want.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Returns the specified timer handler information.",
        "operationId": "GetTimerHandler",
        "summary": "DEVELOPER - Get timer handler"
      },
      "post": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the system the handler is in.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the timer handler you're creating.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Creates new timer handler.",
        "operationId": "create_timer_handler",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/timerdata"
              }
            }
          },
          "description": "New timer information.",
          "required": true
        },
        "summary": "DEVELOPER - Create time handler"
      },
      "put": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the system the handler is in.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the timer handler you're updating.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Updates the specified timer handler.",
        "operationId": "UpdateTimerHandler",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/timerdata"
              }
            }
          },
          "description": "Updated timer handler information.",
          "required": true
        },
        "summary": "DEVELOPER - Update timer handler"
      }
    },
    "/admin/user/{systemKey}": {
      "delete": {
        "parameters": [
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "System Key that identifies the system the handler is in.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "UserId of the user to delete",
            "in": "query",
            "name": "user",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User is deleted."
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Deletes user from the system",
        "operationId": "DeleteUser",
        "summary": "DEVELOPER - Delete user"
      },
      "get": {
        "parameters": [
          {
            "description": "System Key that identifies the system the user is a part of.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tags to filter users. Check 'users' model at the bottom of this page.",
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of all users, user information, and count"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Returns list of all of the users in the system",
        "operationId": "GetUserList",
        "summary": "DEVELOPER - Get list of users and information"
      },
      "post": {
        "parameters": [
          {
            "description": "System Key that identifies the system the user is a part of.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User is added to the system."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Add an user to the system.",
        "operationId": "AddUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/userlogin"
              }
            }
          },
          "description": "Developer's email.",
          "required": true
        },
        "summary": "DEVELOPER - Add user"
      },
      "put": {
        "parameters": [
          {
            "description": "System Key that identifies the system the user is a part of.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User's roles successfully changed."
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Changes any colomn in users table and update password or permissions of the specified user.",
        "operationId": "UserChangeUserInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/roles"
              }
            }
          },
          "description": "Roles to change for the user.",
          "required": true
        },
        "summary": "DEVELOPER - Change user information and permissions"
      }
    },
    "/admin/user/{systemKey}/columns": {
      "get": {
        "parameters": [
          {
            "description": "System Key that identifies the system the user is a part of.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Developer Token obtained through admin authentication.",
            "in": "header",
            "name": "ClearBlade-DevToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of all users"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Developer"
        ],
        "description": "Returns data in the user list column",
        "operationId": "GetUserColumnData",
        "summary": "DEVELOPER - Get users column info."
      },
      "post": {
        "parameters": [
          {
            "description": "System Key that identifies the system the user is a part of.",
            "in": "path",
            "name": "systemKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
[...]
