{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "partnerapis@walmartlabs.com",
      "x-twitter": "Walmart"
    },
    "description": "Please make sure you use the correct version of the APIs for your use case. To find out the appropriate version, go to the API Docs  drop down on the menu.",
    "title": "Item API",
    "version": "3.0.1",
    "x-apisguru-categories": [
      "ecommerce"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/walmart.com/item/3.0.1/swagger.json",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_Walmart_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.walmart.com/v1/swaggerProxy?type=item",
        "version": "2.0"
      }
    ],
    "x-providerName": "walmart.com",
    "x-serviceName": "item"
  },
  "servers": [
    {
      "url": "https://developer.walmart.com/proxy/item-api-doc-app/rest"
    }
  ],
  "paths": {
    "/v2/feeds": {
      "get": {
        "parameters": [
          {
            "description": "The feed ID.",
            "in": "query",
            "name": "feedId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Includes the status details for each item in the feed. Do not set this parameter to true as discrepancies may appear between the header and the item details (the item details may be incorrect). Instead, use the Get a feedItems status.",
            "in": "query",
            "name": "includeDetails",
            "required": false,
            "schema": {
              "default": "false",
              "type": "string"
            }
          },
          {
            "description": "The object response to start with, where 0 is the first entity that can be requested. It can only be used when includeDetails is set to true.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": "0",
              "type": "string"
            }
          },
          {
            "description": "The number of items to be returned. Cannot be more than 50 items. Use it only when the includeDetails is set to true.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": "50",
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 2"
        ],
        "description": "You can display the status of an item within a feed. Use the feed ID returned from the upload an item API.",
        "operationId": "v2getFeedItemStatus",
        "summary": "Get status of an item feed"
      },
      "post": {
        "parameters": [
          {
            "description": "Feed Type",
            "in": "query",
            "name": "feedType",
            "required": false,
            "schema": {
              "default": "item",
              "enum": [
                "item"
              ],
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 2"
        ],
        "description": "You can upload an item feed. If the feed successfully processed, it returns a feed ID. Use the returned feed ID to retrieve a feed status. You need your Consumer ID and the Private Key to upload an item.",
        "operationId": "v2doPostMultiPart",
        "requestBody": {
          "$ref": "#/components/requestBodies/v2doPostMultiPart"
        },
        "summary": "Upload an item feed"
      }
    },
    "/v2/feeds/{feedId}": {
      "get": {
        "parameters": [
          {
            "description": "The feed ID",
            "in": "path",
            "name": "feedId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Includes details of each entity in the feed. Do not set this parameter to true.",
            "in": "query",
            "name": "includeDetails",
            "required": false,
            "schema": {
              "default": "false",
              "type": "string"
            }
          },
          {
            "description": "The object response to start with, where 0 is the first entity that can be requested. It can only be used when includeDetails is set to true.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": "0",
              "type": "string"
            }
          },
          {
            "description": "The number of entities to be returned. It cannot be more than 50 entities. Use it only when the includeDetails is set to true.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": "50",
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 2"
        ],
        "description": "You can display the status of all items within a feed. Use the feed ID returned from the upload an item API.",
        "operationId": "v2getAllItemsStatus",
        "summary": "Get status of an item within a feed"
      }
    },
    "/v3/feeds": {
      "get": {
        "parameters": [
          {
            "description": "The feed ID.",
            "in": "query",
            "name": "feedId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Includes the status details for each item in the feed. Do not set this parameter to true as discrepancies may appear between the header and the item details (the item details may be incorrect). Instead, use the Get a feedItems status.",
            "in": "query",
            "name": "includeDetails",
            "required": false,
            "schema": {
              "default": "false",
              "type": "string"
            }
          },
          {
            "description": "The object response to start with, where 0 is the first entity that can be requested. It can only be used when includeDetails is set to true.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": "0",
              "type": "string"
            }
          },
          {
            "description": "The number of items to be returned. Cannot be more than 50 items. Use it only when the includeDetails is set to true.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": "50",
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 3"
        ],
        "description": "You can display the status of an item within a feed. Use the feed ID returned from the upload an item API.",
        "operationId": "v3getFeedItemStatus",
        "summary": "Get status of an item feed"
      },
      "post": {
        "parameters": [
          {
            "description": "Feed Type",
            "in": "query",
            "name": "feedType",
            "required": false,
            "schema": {
              "default": "item",
              "enum": [
                "item",
                "SUPPLIER_FULL_ITEM",
                "CONTENT_PRODUCT"
              ],
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 3"
        ],
        "description": "You can upload an item feed. If the feed successfully processed, it returns a feed ID. Use the returned feed ID to retrieve a feed status. You need your Consumer ID and the Private Key to upload an item.",
        "operationId": "v3doPostMultiPart",
        "requestBody": {
          "$ref": "#/components/requestBodies/v2doPostMultiPart"
        },
        "summary": "Upload an item feed"
      }
    },
    "/v3/feeds/{feedId}": {
      "get": {
        "parameters": [
          {
            "description": "The feed ID",
            "in": "path",
            "name": "feedId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Includes details of each entity in the feed. Do not set this parameter to true.",
            "in": "query",
            "name": "includeDetails",
            "required": false,
            "schema": {
              "default": "false",
              "type": "string"
            }
          },
          {
            "description": "The object response to start with, where 0 is the first entity that can be requested. It can only be used when includeDetails is set to true.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": "0",
              "type": "string"
            }
          },
          {
            "description": "The number of entities to be returned. It cannot be more than 50 entities. Use it only when the includeDetails is set to true.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": "50",
              "type": "string"
            }
          },
          {
            "description": "Channel Type",
            "in": "header",
            "name": "WM_CONSUMER.CHANNEL.TYPE",
            "required": true,
            "schema": {
              "default": "SWAGGER_CHANNEL_TYPE",
              "enum": [
                "SWAGGER_CHANNEL_TYPE"
              ],
              "type": "string"
            }
          },
          {
            "description": "Your Consumer ID",
            "in": "header",
            "name": "WM_CONSUMER.ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Epoch timestamp",
            "in": "header",
            "name": "WM_SEC.TIMESTAMP",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "Authentication signature",
            "in": "header",
            "name": "WM_SEC.AUTH_SIGNATURE",
            "required": true,
            "schema": {
              "default": "Auto populated",
              "type": "string"
            }
          },
          {
            "description": "The Service name",
            "in": "header",
            "name": "WM_SVC.NAME",
            "required": true,
            "schema": {
              "default": "Walmart Marketplace",
              "type": "string"
            }
          },
          {
            "description": "A Transaction ID",
            "in": "header",
            "name": "WM_QOS.CORRELATION_ID",
            "required": true,
            "schema": {
              "default": "123456abcdef",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "default": {
            "description": "successful operation"
          }
        },
        "tags": [
          "Version 3"
        ],
        "description": "You can display the status of all items within a feed. Use the feed ID returned from the upload an item API.",
        "operationId": "v3getAllItemsStatus",
        "summary": "Get status of an item within a feed"
      }
    }
  },
  "components": {
    "requestBodies": {
      "v2doPostMultiPart": {
        "content": {
          "application/octet-stream": {
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "required": true
      }
    }
  },
  "tags": [
    {
      "name": "Version 2"
    },
    {
      "name": "Version 3"
    }
  ]
}