{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "architecture@wso2.com",
      "name": "WSO2",
      "url": "http://wso2.com/products/api-manager/"
    },
    "description": "This document specifies a **RESTful API** for WSO2 **API Manager** - Admin Portal.\n\nIt is written with [swagger 2](http://swagger.io/).\n",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title": "WSO2 API Manager - Admin",
    "version": "0.11.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ram.grandhi/APIs_for_APIs_Admin/0.11.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://apis.wso2.com/api/am/admin/v0.11"
    }
  ],
  "paths": {
    "/policies/mediation": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "description": "**Search condition**.\n\nYou can search in attributes by using an **\"<attribute>:\"** modifier.\n\nEg.\n\"provider:wso2\" will match an API if the provider of the API is exactly \"wso2\".\n\nAdditionally you can use wildcards.\n\nEg.\n\"provider:wso2*\" will match an API if the provider of the API starts with \"wso2\".\n\nSupported attribute modifiers are [**version, context, status,\ndescription, subcontext, doc, provider**]\n\nIf no advanced attribute modifier has been specified, search will match the\ngiven query string against API Name.\n",
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mediationList"
                }
              }
            },
            "description": "OK.\nList of qualifying APIs is returned.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported\n"
          }
        },
        "tags": [
          "API (Collection)"
        ],
        "description": "This operation provides you a list of available APIs qualifying under a given search condition.\n\nEach retrieved API is represented with a minimal amount of attributes. If you want to get complete details of an API, you need to use **Get details of an API** operation.\n",
        "summary": "Retrieve/Search APIs\n",
        "x-scope": "apim:mediation_policy_view",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" https://127.0.0.1:9443/api/am/publisher/v0.11/apis",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/publisher/v0.11/apis\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"previous\": \"\",\n   \"list\":    [\n            {\n         \"provider\": \"admin\",\n         \"version\": \"1.0.0\",\n         \"description\": \"This sample API provides Account Status Validation\",\n         \"name\": \"AccountVal\",\n         \"context\": \"/account\",\n         \"id\": \"2e81f147-c8a8-4f68-b4f0-69e0e7510b01\",\n         \"status\": \"PUBLISHED\"\n      },\n            {\n         \"provider\": \"admin\",\n         \"version\": \"1.0.0\",\n         \"description\": null,\n         \"name\": \"api1\",\n         \"context\": \"/api1\",\n         \"id\": \"3e22d2fb-277a-4e9e-8c7e-1c0f7f73960e\",\n         \"status\": \"PUBLISHED\"\n      }\n   ],\n   \"next\": \"\",\n   \"count\": 2\n}"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation"
                }
              }
            },
            "description": "OK.\nmediation policy uploaded\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "The URL of the uploaded thumbnail image of the API.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nThe resource to be updated does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n"
          }
        },
        "tags": [
          "mediation policy"
        ],
        "description": "This operation can be used to upload a global mediatoin policy to the registry. The file to be uploaded should be given as a form data parameter `file`.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Mediation"
              }
            }
          },
          "description": "mediation policy to upload",
          "required": true
        },
        "summary": "Upload a global mediation policy",
        "x-scope": "apim:mediation_policy_create",
        "x-wso2-curl": "curl -X POST -H \"Authorization: Bearer d34baf74-3f02-3929-814e-88b27f750ba9\" https://127.0.0.1:9443/api/am/publisher/v0.11/apis/29c9ec3d-f590-467e-83e6-96d43517080f/thumbnail -F file=@image.jpg",
        "x-wso2-request": "POST https://127.0.0.1:9443/api/am/publisher/v0.11/apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/thumbnail\nAuthorization: Bearer d34baf74-3f02-3929-814e-88b27f750ba9\nContent-Type: multipart/form-data; boundary=------------------------5e542e0e5b50e1e4\nContent-Length: 18333\n\n--------------------------5e542e0e5b50e1e4\nContent-Disposition: form-data; name=\"file\"; filename=\"sample.pdf\"\n          Content-Type: application/octet-stream\n\n          [file content]\n\n--------------------------5e542e0e5b50e1e4--\n",
        "x-wso2-response": "HTTP/1.1 201 Created\r\nLocation: https://127.0.0.1:9443/api/am/publisher/v0.11/apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/thumbnail\r\nContent-Type: application/json\r\n\r\n{\r\n   \"relativePath\": \"/apis/8848faaa-7fd1-478a-baa2-48a4ebb92c98/thumbnail\",\r\n   \"mediaType\": \"image/jpeg\"\r\n}"
      }
    },
    "/policies/mediation/{mediationPolicyId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/mediationPolicyId"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\nResource successfully deleted.\n"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nResource to be deleted does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n"
          }
        },
        "tags": [
          "Mediation (Individual)"
        ],
        "description": "This operation can be used to delete an existing API proving the Id of the API.\n",
        "summary": "Delete an API",
        "x-scope": "apim:mediation_policy_create",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" -X DELETE https://127.0.0.1:9443/api/am/publisher/v0.11/apis/6fb74674-4ab8-4b52-9886-f9a376985060",
        "x-wso2-request": "DELETE https://127.0.0.1:9443/api/am/publisher/v0.11/apis/6fb74674-4ab8-4b52-9886-f9a376985060\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/mediationPolicyId"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation"
                }
              }
            },
            "description": "OK.\nMediation Sequence returned.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested Document does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported\n"
          }
        },
        "tags": [
          "Mediation (Individual)"
        ],
        "description": "This operation can be used to retrieve a particular global mediation policy.\n",
        "summary": "Get a global mediation squence",
        "x-scope": "apim:mediation_policy_view",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" \"https://127.0.0.1:9443/api/am/publisher/v0.11/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/documents/0bcb7f05-599d-4e1a-adce-5cb89bfe58d5\"",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/publisher/v0.11/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/documents/0bcb7f05-599d-4e1a-adce-5cb89bfe58d5\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"visibility\": \"API_LEVEL\",\n   \"sourceType\": \"INLINE\",\n   \"sourceUrl\": null,\n   \"otherTypeName\": null,\n   \"documentId\": \"0bcb7f05-599d-4e1a-adce-5cb89bfe58d5\",\n   \"summary\": \"This is a sample documentation\",\n   \"name\": \"PhoneVerification API Documentation\",\n   \"type\": \"HOWTO\"\n}"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/mediationPolicyId"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation"
                }
              }
            },
            "description": "OK.\nSuccessful response with updated API object\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "The URL of the newly created resource.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error\n"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nThe resource to be updated does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n"
          }
        },
        "tags": [
          "Mediation (Individual)"
        ],
        "description": "This operation can be used to update an existing API.\nBut the properties `name`, `version`, `context`, `provider`, `state` will not be changed by this operation.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Mediation"
              }
            }
          },
          "description": "Mediation policy object that needs to be added\n",
          "required": true
        },
        "summary": "Update an mediation policy",
        "x-scope": "apim:mediation_policy_create",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" -H \"Content-Type: application/json\" -X PUT -d @data.json https://127.0.0.1:9443/api/am/publisher/v0.11/apis/7a2298c4-c905-403f-8fac-38c73301631f",
        "x-wso2-request": "PUT https://127.0.0.1:9443/api/am/publisher/v0.11/apis/7a2298c4-c905-403f-8fac-38c73301631f\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\nContent-Type: application/json\n\n{\r\n   \"id\": \"7a2298c4-c905-403f-8fac-38c73301631f\",\r\n   \"name\": \"PizzaShackAPI\",\r\n   \"description\": \"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\r\\n\",\r\n   \"context\": \"/pizzashack\",\r\n   \"version\": \"1.0.0\",\r\n   \"provider\": \"admin\",\r\n   \"apiDefinition\": \"{\\\"paths\\\":{\\\"/order\\\":{\\\"post\\\":{\\\"x-auth-type\\\":\\\"Application & Application User\\\",\\\"x-throttling-tier\\\":\\\"Unlimited\\\",\\\"description\\\":\\\"Create a new Order\\\",\\\"parameters\\\":[{\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Order object that needs to be added\\\",\\\"name\\\":\\\"body\\\",\\\"required\\\":true,\\\"in\\\":\\\"body\\\"}],\\\"responses\\\":{\\\"201\\\":{\\\"headers\\\":{\\\"Location\\\":{\\\"description\\\":\\\"The URL of the newly created resource.\\\",\\\"type\\\":\\\"string\\\"}},\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Created.\\\"}}}},\\\"/menu\\\":{\\\"get\\\":{\\\"x-auth-type\\\":\\\"Application & Application User\\\",\\\"x-throttling-tier\\\":\\\"Unlimited\\\",\\\"description\\\":\\\"Return a list of available menu items\\\",\\\"parameters\\\":[],\\\"responses\\\":{\\\"200\\\":{\\\"headers\\\":{},\\\"schema\\\":{\\\"title\\\":\\\"Menu\\\",\\\"properties\\\":{\\\"list\\\":{\\\"items\\\":{\\\"$ref\\\":\\\"#/definitions/MenuItem\\\"},\\\"type\\\":\\\"array\\\"}},\\\"type\\\":\\\"object\\\"},\\\"description\\\":\\\"OK.\\\"}}}}},\\\"schemes\\\":[\\\"https\\\"],\\\"produces\\\":[\\\"application/json\\\"],\\\"swagger\\\":\\\"2.0\\\",\\\"definitions\\\":{\\\"MenuItem\\\":{\\\"title\\\":\\\"Pizza menu Item\\\",\\\"properties\\\":{\\\"price\\\":{\\\"type\\\":\\\"string\\\"},\\\"description\\\":{\\\"type\\\":\\\"string\\\"},\\\"name\\\":{\\\"type\\\":\\\"string\\\"},\\\"image\\\":{\\\"type\\\":\\\"string\\\"}},\\\"required\\\":[\\\"name\\\"]},\\\"Order\\\":{\\\"title\\\":\\\"Pizza Order\\\",\\\"properties\\\":{\\\"customerName\\\":{\\\"type\\\":\\\"string\\\"},\\\"delivered\\\":{\\\"type\\\":\\\"boolean\\\"},\\\"address\\\":{\\\"type\\\":\\\"string\\\"},\\\"pizzaType\\\":{\\\"type\\\":\\\"string\\\"},\\\"creditCardNumber\\\":{\\\"type\\\":\\\"string\\\"},\\\"quantity\\\":{\\\"type\\\":\\\"number\\\"},\\\"orderId\\\":{\\\"type\\\":\\\"integer\\\"}},\\\"required\\\":[\\\"orderId\\\"]}},\\\"consumes\\\":[\\\"application/json\\\"],\\\"info\\\":{\\\"title\\\":\\\"PizzaShackAPI\\\",\\\"description\\\":\\\"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\\\n\\\",\\\"license\\\":{\\\"name\\\":\\\"Apache 2.0\\\",\\\"url\\\":\\\"http://www.apache.org/licenses/LICENSE-2.0.html\\\"},\\\"contact\\\":{\\\"email\\\":\\\"architecture@pizzashack.com\\\",\\\"name\\\":\\\"John Doe\\\",\\\"url\\\":\\\"http://www.pizzashack.com\\\"},\\\"version\\\":\\\"1.0.0\\\"}}\",\r\n   \"wsdlUri\": null,\r\n   \"status\": \"CREATED\",\r\n   \"responseCaching\": \"Disabled\",\r\n   \"cacheTimeout\": 300,\r\n   \"destinationStatsEnabled\": null,\r\n   \"isDefaultVersion\": false,\r\n   \"transport\":    [\r\n      \"https\"\r\n   ],\r\n   \"tags\": [\"pizza\",\"chicken\"],\r\n   \"tiers\": [\"Unlimited\"],\r\n   \"maxTps\":    {\r\n      \"sandbox\": 500,\r\n      \"production\": 100\r\n   },\r\n   \"thumbnailUri\": null,\r\n   \"visibility\": \"PUBLIC\",\r\n   \"visibleRoles\": [],\r\n   \"visibleTenants\": [],\r\n   \"endpointConfig\": \"{\\\"production_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9443/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"sandbox_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9443/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"endpoint_type\\\":\\\"http\\\"}\",\r\n   \"endpointSecurity\":    {\r\n      \"username\": \"user\",\r\n      \"type\": \"basic\",\r\n      \"password\": \"pass\"\r\n   },\r\n   \"gatewayEnvironments\": \"Production and Sandbox\",\r\n   \"sequences\": [],\r\n   \"subscriptionAvailability\": null,\r\n   \"subscriptionAvailableTenants\": [],\r\n   \"businessInformation\":    {\r\n      \"businessOwnerEmail\": \"marketing@pizzashack.com\",\r\n      \"technicalOwnerEmail\": \"architecture@pizzashack.com\",\r\n      \"technicalOwner\": \"John Doe\",\r\n      \"businessOwner\": \"Jane Roe\"\r\n   },\r\n   \"corsConfiguration\":    {\r\n      \"accessControlAllowOrigins\": [\"*\"],\r\n      \"accessControlAllowHeaders\":       [\r\n         \"authorization\",\r\n         \"Access-Control-Allow-Origin\",\r\n         \"Content-Type\",\r\n         \"SOAPAction\"\r\n      ],\r\n      \"accessControlAllowMethods\":       [\r\n         \"GET\",\r\n         \"PUT\",\r\n         \"POST\",\r\n         \"DELETE\",\r\n         \"PATCH\",\r\n         \"OPTIONS\"\r\n      ],\r\n      \"accessControlAllowCredentials\": false,\r\n      \"corsConfigurationEnabled\": false\r\n   }\r\n}",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\r\n   \"id\": \"7a2298c4-c905-403f-8fac-38c73301631f\",\r\n   \"name\": \"PizzaShackAPI\",\r\n   \"description\": \"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\r\\n\",\r\n   \"context\": \"/pizzashack\",\r\n   \"version\": \"1.0.0\",\r\n   \"provider\": \"admin\",\r\n   \"apiDefinition\": \"{\\\"paths\\\":{\\\"/order\\\":{\\\"post\\\":{\\\"x-auth-type\\\":\\\"Application & Application User\\\",\\\"x-throttling-tier\\\":\\\"Unlimited\\\",\\\"description\\\":\\\"Create a new Order\\\",\\\"parameters\\\":[{\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Order object that needs to be added\\\",\\\"name\\\":\\\"body\\\",\\\"required\\\":true,\\\"in\\\":\\\"body\\\"}],\\\"responses\\\":{\\\"201\\\":{\\\"headers\\\":{\\\"Location\\\":{\\\"description\\\":\\\"The URL of the newly created resource.\\\",\\\"type\\\":\\\"string\\\"}},\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Created.\\\"}}}},\\\"/menu\\\":{\\\"get\\\":{\\\"x-auth-type\\\":\\\"Application & Application User\\\",\\\"x-throttling-tier\\\":\\\"Unlimited\\\",\\\"description\\\":\\\"Return a list of available menu items\\\",\\\"parameters\\\":[],\\\"responses\\\":{\\\"200\\\":{\\\"headers\\\":{},\\\"schema\\\":{\\\"title\\\":\\\"Menu\\\",\\\"properties\\\":{\\\"list\\\":{\\\"items\\\":{\\\"$ref\\\":\\\"#/definitions/MenuItem\\\"},\\\"type\\\":\\\"array\\\"}},\\\"type\\\":\\\"object\\\"},\\\"description\\\":\\\"OK.\\\"}}}}},\\\"schemes\\\":[\\\"https\\\"],\\\"produces\\\":[\\\"application/json\\\"],\\\"swagger\\\":\\\"2.0\\\",\\\"definitions\\\":{\\\"MenuItem\\\":{\\\"title\\\":\\\"Pizza menu Item\\\",\\\"properties\\\":{\\\"price\\\":{\\\"type\\\":\\\"string\\\"},\\\"description\\\":{\\\"type\\\":\\\"string\\\"},\\\"name\\\":{\\\"type\\\":\\\"string\\\"},\\\"image\\\":{\\\"type\\\":\\\"string\\\"}},\\\"required\\\":[\\\"name\\\"]},\\\"Order\\\":{\\\"title\\\":\\\"Pizza Order\\\",\\\"properties\\\":{\\\"customerName\\\":{\\\"type\\\":\\\"string\\\"},\\\"delivered\\\":{\\\"type\\\":\\\"boolean\\\"},\\\"address\\\":{\\\"type\\\":\\\"string\\\"},\\\"pizzaType\\\":{\\\"type\\\":\\\"string\\\"},\\\"creditCardNumber\\\":{\\\"type\\\":\\\"string\\\"},\\\"quantity\\\":{\\\"type\\\":\\\"number\\\"},\\\"orderId\\\":{\\\"type\\\":\\\"integer\\\"}},\\\"required\\\":[\\\"orderId\\\"]}},\\\"consumes\\\":[\\\"application/json\\\"],\\\"info\\\":{\\\"title\\\":\\\"PizzaShackAPI\\\",\\\"description\\\":\\\"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\\\n\\\",\\\"license\\\":{\\\"name\\\":\\\"Apache 2.0\\\",\\\"url\\\":\\\"http://www.apache.org/licenses/LICENSE-2.0.html\\\"},\\\"contact\\\":{\\\"email\\\":\\\"architecture@pizzashack.com\\\",\\\"name\\\":\\\"John Doe\\\",\\\"url\\\":\\\"http://www.pizzashack.com\\\"},\\\"version\\\":\\\"1.0.0\\\"}}\",\r\n   \"wsdlUri\": null,\r\n   \"status\": \"CREATED\",\r\n   \"responseCaching\": \"Disabled\",\r\n   \"cacheTimeout\": 300,\r\n   \"destinationStatsEnabled\": null,\r\n   \"isDefaultVersion\": false,\r\n   \"transport\": [\"https\"],\r\n   \"tags\":    [\r\n      \"chicken\",\r\n      \"pizza\"\r\n   ],\r\n   \"tiers\": [\"Unlimited\"],\r\n   \"maxTps\":    {\r\n      \"sandbox\": 500,\r\n      \"production\": 100\r\n   },\r\n   \"thumbnailUri\": null,\r\n   \"visibility\": \"PUBLIC\",\r\n   \"visibleRoles\": [],\r\n   \"visibleTenants\": [],\r\n   \"endpointConfig\": \"{\\\"production_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9443/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"sandbox_endpoints\\\":{\\\"url\\\":\\\"https://localhost:9443/am/sample/pizzashack/v1/api/\\\",\\\"config\\\":null},\\\"endpoint_type\\\":\\\"http\\\"}\",\r\n   \"endpointSecurity\":    {\r\n      \"username\": \"user\",\r\n      \"type\": \"basic\",\r\n      \"password\": \"pass\"\r\n   },\r\n   \"gatewayEnvironments\": \"Production and Sandbox\",\r\n   \"sequences\": [],\r\n   \"subscriptionAvailability\": null,\r\n   \"subscriptionAvailableTenants\": [],\r\n   \"businessInformation\":    {\r\n      \"businessOwnerEmail\": \"marketing@pizzashack.com\",\r\n      \"technicalOwnerEmail\": \"architecture@pizzashack.com\",\r\n      \"technicalOwner\": \"John Doe\",\r\n      \"businessOwner\": \"Jane Roe\"\r\n   },\r\n   \"corsConfiguration\":    {\r\n      \"accessControlAllowOrigins\": [\"*\"],\r\n      \"accessControlAllowHeaders\":       [\r\n         \"authorization\",\r\n         \"Access-Control-Allow-Origin\",\r\n         \"Content-Type\",\r\n         \"SOAPAction\"\r\n      ],\r\n      \"accessControlAllowMethods\":       [\r\n         \"GET\",\r\n         \"PUT\",\r\n         \"POST\",\r\n         \"DELETE\",\r\n         \"PATCH\",\r\n         \"OPTIONS\"\r\n      ],\r\n      \"accessControlAllowCredentials\": false,\r\n      \"corsConfigurationEnabled\": false\r\n   }\r\n}"
      }
    },
    "/throttling/blacklist": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockingConditionList"
                }
              }
            },
            "description": "OK.\nBlocking conditions returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported.\n"
          }
        },
        "tags": [
          "Blacklist"
        ],
        "description": "Get all blocking condtions\n",
        "summary": "Get all blocking condtions",
        "x-scope": "apim:bl_view"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockingCondition"
                }
              }
            },
            "description": "Created.\nSuccessful response with the newly created object as entity in the body.\nLocation header contains URL of newly created entity.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional request'\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Location of the newly created resource.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error\n"
          },
          "415": {
            "description": "Unsupported media type.\nThe entity of the request was in a not supported format.\n"
          }
        },
        "tags": [
          "Blacklist"
        ],
        "description": "Add a Blocking condition\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockingCondition"
              }
            }
          },
          "description": "Blocking condition object that should to be added\n",
          "required": true
        },
        "summary": "Add a Blocking condition",
        "x-scope": "apim:bl_manage"
      }
    },
    "/throttling/blacklist/{conditionId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/conditionId"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\nResource successfully deleted.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nResource to be deleted does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n"
          }
        },
        "tags": [
          "Blacklist"
        ],
        "description": "Delete a Blocking condition\n",
        "summary": "Delete a Blocking condition",
        "x-scope": "apim:bl_manage"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/conditionId"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockingCondition"
                }
              }
            },
            "description": "OK.\nCondition returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested Condition does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported.\n"
          }
        },
        "tags": [
          "Blacklist"
        ],
        "description": "Retrieve a Blocking Condition providing the condition Id\n",
        "summary": "Retrieve a Blocking Condition",
        "x-scope": "apim:bl_view"
      }
    },
    "/throttling/policies/advanced": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancedThrottlePolicyList"
                }
              }
            },
            "description": "OK.\nPolicies returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported.\n"
          }
        },
        "tags": [
          "Advanced Policies"
        ],
        "description": "Get all Advanced level throttle policies\n",
        "summary": "Get all Advanced level throttle policies",
        "x-scope": "apim:tier_view"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancedThrottlePolicy"
                }
              }
            },
            "description": "Created.\nSuccessful response with the newly created object as entity in the body.\nLocation header contains URL of newly created entity.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional request'\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Location of the newly created Advanced Throttle policy.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error\n"
          },
          "415": {
            "description": "Unsupported media type.\nThe entity of the request was in a not supported format.\n"
          }
        },
        "tags": [
          "Advanced Policies"
        ],
        "description": "Add an Advanced level throttle policy\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvancedThrottlePolicy"
              }
            }
          },
          "description": "Advanced level policy object that should to be added\n",
          "required": true
        },
        "summary": "Add an Advanced level throttle policy",
        "x-scope": "apim:tier_manage"
      }
    },
    "/throttling/policies/advanced/{policyId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/policyId"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\nResource successfully deleted.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nResource to be deleted does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n"
          }
        },
        "tags": [
          "Advanced Policies"
        ],
        "description": "Delete an Advanced level throttle policy\n",
        "summary": "Delete an Advanced level throttle policy",
        "x-scope": "apim:tier_manage"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/policyId"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancedThrottlePolicy"
                }
              }
            },
            "description": "OK.\nPolicy returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested Policy does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported.\n"
          }
        },
        "tags": [
          "Advanced Policies"
        ],
        "description": "Retrieve a Advanced Policy providing the policy name.\n",
        "summary": "Retrieve an Advanced Policy",
        "x-scope": "apim:tier_view"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/policyId"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvancedThrottlePolicy"
                }
              }
            },
            "description": "OK.\nPolicy updated.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional request.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "The URL of the newly created resource.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nThe resource to be updated does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n"
          }
        },
        "tags": [
          "Advanced Policies"
        ],
        "description": "Update an Advanced level throttle policy\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvancedThrottlePolicy"
              }
            }
          },
          "description": "Policy object that needs to be modified\n",
          "required": true
        },
        "summary": "Update an Advanced level throttle policy",
        "x-scope": "apim:tier_manage"
      }
    },
    "/throttling/policies/application": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationThrottlePolicyList"
                }
              }
            },
            "description": "OK.\nPolicies returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported.\n"
          }
        },
        "tags": [
          "Application Policies"
        ],
        "description": "Get all Application level throttle policies\n",
        "summary": "Get all Application level throttle policies",
        "x-scope": "apim:tier_view"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationThrottlePolicy"
                }
              }
            },
            "description": "Created.\nSuccessful response with the newly created object as entity in the body.\nLocation header contains URL of newly created entity.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional request'\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Location of the newly created Policy object.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error\n"
          },
          "415": {
            "description": "Unsupported media type.\nThe entity of the request was in a not supported format.\n"
          }
        },
        "tags": [
          "Application Policies"
        ],
        "description": "Add an Application level throttle policy\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationThrottlePolicy"
              }
            }
          },
          "description": "Application level policy object that should to be added\n",
          "required": true
        },
        "summary": "Add an Application level throttle policy",
        "x-scope": "apim:tier_manage"
      }
    },
    "/throttling/policies/application/{policyId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/policyId"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\nResource successfully deleted.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nResource to be deleted does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n"
          }
        },
        "tags": [
          "Application Policies"
        ],
        "description": "Delete an Application level throttle policy\n",
        "summary": "Delete an Application level throttle policy",
        "x-scope": "apim:tier_manage"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/policyId"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationThrottlePolicy"
                }
              }
            },
            "description": "OK.\nPolicy returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested Tier does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported.\n"
          }
        },
        "tags": [
          "Application Policies"
        ],
        "description": "Retrieve an Application Policy providing the policy name.\n",
        "summary": "Retrieve an Application Policy",
        "x-scope": "apim:tier_view"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/policyId"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationThrottlePolicy"
                }
              }
            },
            "description": "OK.\nPolicy updated.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional request.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "The URL of the newly created resource.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nThe resource to be updated does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n"
          }
        },
        "tags": [
          "Application Policies"
        ],
        "description": "Update an Application level throttle policy\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationThrottlePolicy"
              }
            }
          },
          "description": "Policy object that needs to be modified\n",
          "required": true
        },
        "summary": "Update an Application level throttle policy",
        "x-scope": "apim:tier_manage"
      }
    },
    "/throttling/policies/custom": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomRuleList"
                }
              }
            },
            "description": "OK.\nPolicies returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported.\n"
          }
        },
        "tags": [
          "Custom Rules"
        ],
        "description": "Get all Custom Rules\n",
        "summary": "Get all Custom Rules",
        "x-scope": "apim:tier_view"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomRule"
                }
              }
            },
            "description": "Created.\nSuccessful response with the newly created object as entity in the body.\nLocation header contains URL of newly created entity.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional request'\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Location of the newly created resource.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error\n"
          },
          "415": {
            "description": "Unsupported media type.\nThe entity of the request was in a not supported format.\n"
          }
        },
        "tags": [
          "Custom Rules"
        ],
        "description": "Add a Custom Rule\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomRule"
              }
            }
          },
          "description": "Custom Rule object that should to be added\n",
          "required": true
        },
        "summary": "Add a Custom Rule",
        "x-scope": "apim:tier_manage"
      }
    },
    "/throttling/policies/custom/{ruleId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ruleId"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\nResource successfully deleted.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nResource to be deleted does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n"
          }
        },
        "tags": [
          "Custom Rules"
        ],
        "description": "Delete a Custom Rule\n",
        "summary": "Delete a Custom Rule",
        "x-scope": "apim:tier_manage"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ruleId"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomRule"
                }
              }
            },
            "description": "OK.\nPolicy returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested Policy does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported.\n"
          }
        },
        "tags": [
          "Custom Rules"
        ],
        "description": "Retrieve a Custom Rule providing the policy name.\n",
        "summary": "Retrieve a Custom Rule",
        "x-scope": "apim:tier_view"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ruleId"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomRule"
                }
              }
            },
            "description": "OK.\nPolicy updated.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional request.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "The URL of the newly created resource.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nThe resource to be updated does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n"
          }
        },
        "tags": [
          "Custom Rules"
        ],
        "description": "Update a Custom Rule\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomRule"
              }
            }
          },
          "description": "Policy object that needs to be modified\n",
          "required": true
        },
        "summary": "Update a Custom Rule",
        "x-scope": "apim:tier_manage"
      }
    },
    "/throttling/policies/subscription": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionThrottlePolicyList"
                }
              }
            },
            "description": "OK.\nPolicies returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported.\n"
          }
        },
        "tags": [
          "Subscription Policies"
        ],
        "description": "Get all Subscription level throttle policies\n",
        "summary": "Get all Subscription level throttle policies",
        "x-scope": "apim:tier_view"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionThrottlePolicy"
                }
              }
            },
            "description": "Created.\nSuccessful response with the newly created object as entity in the body.\nLocation header contains URL of newly created entity.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional request'\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Location of the newly created Policy object.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error\n"
          },
          "415": {
            "description": "Unsupported media type.\nThe entity of the request was in a not supported format.\n"
          }
        },
        "tags": [
          "Subscription Policies"
        ],
        "description": "Add a Subscription level throttle policy\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionThrottlePolicy"
              }
            }
          },
          "description": "Subscripion level policy object that should to be added\n",
          "required": true
        },
        "summary": "Add a Subscription level throttle policy",
        "x-scope": "apim:tier_manage"
      }
    },
    "/throttling/policies/subscription/{policyId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/policyId"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\nResource successfully deleted.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nResource to be deleted does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n"
          }
        },
        "tags": [
          "Subscription Policies"
        ],
        "description": "Delete a Subscription level throttle policy\n",
        "summary": "Delete a Subscription level throttle policy",
        "x-scope": "apim:tier_manage"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/policyId"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionThrottlePolicy"
                }
              }
            },
            "description": "OK.\nPolicy returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested Policy does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported.\n"
          }
        },
        "tags": [
          "Subscription Policies"
        ],
        "description": "Retrieve a Subscription Policy providing the policy name.\n",
        "summary": "Retrieve a Subscription Policy",
        "x-scope": "apim:tier_view"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/policyId"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionThrottlePolicy"
                }
              }
            },
            "description": "OK.\nPolicy updated.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional request.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional reuquests.\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "The URL of the newly created resource.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nThe resource to be updated does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n"
          }
        },
        "tags": [
          "Subscription Policies"
        ],
        "description": "Update a Subscription level throttle policy\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionThrottlePolicy"
              }
            }
          },
          "description": "Policy object that needs to be modified\n",
          "required": true
        },
        "summary": "Update a Subscription level throttle policy",
        "x-scope": "apim:tier_manage"
      }
    }
  },
  "components": {
    "parameters": {
      "Accept": {
        "description": "Media types acceptable for the response. Default is JSON.\n",
        "in": "header",
        "name": "Accept",
        "schema": {
          "default": "JSON",
          "type": "string"
        }
      },
      "Content-Type": {
        "description": "Media type of the entity in the body. Default is JSON.\n",
        "in": "header",
        "name": "Content-Type",
        "required": true,
        "schema": {
          "default": "JSON",
          "type": "string"
        }
      },
      "If-Match": {
        "description": "Validator for conditional requests; based on ETag.\n",
        "in": "header",
        "name": "If-Match",
        "schema": {
          "type": "string"
        }
      },
      "If-Modified-Since": {
        "description": "Validator for conditional requests; based on Last Modified header of the\nformerly retrieved variant of the resource.\n",
        "in": "header",
        "name": "If-Modified-Since",
        "schema": {
          "type": "string"
        }
      },
      "If-None-Match": {
        "description": "Validator for conditional requests; based on the ETag of the formerly retrieved\nvariant of the resourec.\n",
        "in": "header",
        "name": "If-None-Match",
        "schema": {
          "type": "string"
        }
      },
      "If-Unmodified-Since": {
        "description": "Validator for conditional requests; based on Last Modified header.\n",
        "in": "header",
        "name": "If-Unmodified-Since",
        "schema": {
          "type": "string"
        }
      },
      "conditionId": {
        "description": "Blocking condition identifier \n",
        "in": "path",
        "name": "conditionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum size of resource array to return.\n",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 25,
          "type": "integer"
        }
      },
      "mediationPolicyId": {
        "description": "Mediation policy Id\n",
        "in": "path",
        "name": "mediationPolicyId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "offset": {
        "description": "Starting point within the complete list of items qualified.\n",
        "in": "query",
        "name": "offset",
        "schema": {
          "default": 0,
          "type": "integer"
        }
      },
      "policyId": {
        "description": "Thorttle policy UUID\n",
        "in": "path",
        "name": "policyId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ruleId": {
        "description": "Custom rule UUID\n",
        "in": "path",
        "name": "ruleId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "AdvancedThrottlePolicy": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThrottlePolicy"
          },
          {
            "properties": {
              "conditionalGroups": {
                "items": {
                  "$ref": "#/components/schemas/ConditionalGroup"
                },
                "type": "array"
              },
              "defaultLimit": {
                "$ref": "#/components/schemas/ThrottleLimit"
              }
            },
            "type": "object"
          }
        ],
        "required": [
          "defaultLimit"
        ],
        "title": "Advanced Throttling Policy"
      },
      "AdvancedThrottlePolicyInfo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThrottlePolicy"
          },
          {
            "properties": {
              "defaultLimit": {
                "$ref": "#/components/schemas/ThrottleLimit"
              }
            },
            "type": "object"
          }
        ],
        "required": [
          "defaultLimit"
        ],
        "title": "Advanced Throttling Policy"
      },
      "AdvancedThrottlePolicyList": {
        "properties": {
          "count": {
            "description": "Number of Advanced throttle policies returned.\n",
            "example": 1,
            "type": "integer"
          },
          "list": {
            "items": {
              "$ref": "#/components/schemas/AdvancedThrottlePolicyInfo"
            },
            "type": "array"
          }
        },
        "title": "Advanced Throttle Policy List",
        "type": "object"
      },
      "ApplicationThrottlePolicy": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThrottlePolicy"
          },
          {
            "properties": {
              "defaultLimit": {
                "$ref": "#/components/schemas/ThrottleLimit"
              }
            },
            "type": "object"
          }
        ],
        "required": [
          "defaultLimit"
        ],
        "title": "Application Throttle Policy"
      },
      "ApplicationThrottlePolicyList": {
        "properties": {
          "count": {
            "description": "Number of Application throttle policies returned.\n",
            "example": 1,
            "type": "integer"
          },
          "list": {
            "items": {
              "$ref": "#/components/schemas/ApplicationThrottlePolicy"
            },
            "type": "array"
          }
        },
        "title": "Application Level Throttle Policy List",
        "type": "object"
      },
      "BandwidthLimit": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThrottleLimit"
          },
          {
            "properties": {
              "dataAmount": {
                "default": 0,
                "format": "int64",
                "type": "integer"
              },
              "dataUnit": {
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "required": [
          "dataAmount",
          "dataUnit"
        ]
      },
      "BlockingCondition": {
        "description": "Blocking Conditions",
        "properties": {
          "conditionId": {
            "type": "string"
          },
          "conditionType": {
            "type": "string"
          },
          "conditionValue": {
            "type": "string"
          }
        },
        "required": [
          "conditionType",
          "conditionValue"
        ],
        "title": "Blocking Conditions",
        "type": "object"
      },
      "BlockingConditionList": {
        "properties": {
          "count": {
            "description": "Number of Blocking Conditions returned.\n",
            "example": 1,
            "type": "integer"
          },
          "list": {
            "items": {
              "$ref": "#/components/schemas/BlockingCondition"
            },
            "type": "array"
          }
        },
        "title": "Blocking Conditions List",
        "type": "object"
      },
      "ConditionalGroup": {
        "properties": {
          "conditions": {
            "items": {
              "$ref": "#/components/schemas/ThrottleCondition"
            },
            "type": "array"
          },
          "description": {
            "type": "string"
          },
          "limit": {
            "$ref": "#/components/schemas/ThrottleLimit"
          }
        },
        "required": [
          "limit",
          "conditions"
        ],
        "title": "Conditional Groups for Throttling",
        "type": "object"
      },
      "CustomAttribute": {
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "value"
        ],
        "title": "Name-Value pair",
        "type": "object"
      },
      "CustomRule": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThrottlePolicy"
          },
          {
            "properties": {
              "keyTemplate": {
                "type": "string"
              },
              "siddhiQuery": {
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "required": [
          "siddhiQuery",
          "keyTemplate"
        ],
        "title": "Custom Rule"
      },
      "CustomRuleList": {
        "properties": {
          "count": {
            "description": "Number of Custom Rules returned.\n",
            "example": 1,
            "type": "integer"
          },
          "list": {
            "items": {
              "$ref": "#/components/schemas/CustomRule"
            },
            "type": "array"
          }
        },
        "title": "Custom Rule List",
        "type": "object"
      },
      "Error": {
        "properties": {
          "code": {
            "format": "int64",
            "type": "integer"
          },
          "description": {
            "description": "A detail description about the error message.\n",
            "type": "string"
          },
          "error": {
            "description": "If there are more than one error list them out.\nFor example, list out validation errors by each field.\n",
            "items": {
              "$ref": "#/components/schemas/ErrorListItem"
            },
            "type": "array"
          },
          "message": {
            "description": "Error message.",
            "type": "string"
          },
          "moreInfo": {
            "description": "Preferably an url with more details about the error.\n",
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "title": "Error object returned with 4XX HTTP status",
        "type": "object"
      },
      "ErrorListItem": {
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "description": "Description about individual errors occurred\n",
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "title": "Description of individual errors that may have occurred during a request.",
        "type": "object"
      },
      "HeaderCondition": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThrottleCondition"
          },
          {
            "properties": {
              "headerName": {
                "type": "string"
              },
              "headerValue": {
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "required": [
          "headerName",
          "headerValue"
        ],
        "title": "HTTP Header based throttle condition"
      },
      "IPCondition": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThrottleCondition"
          },
          {
            "properties": {
              "endingIP": {
                "type": "string"
              },
              "ipConditionType": {
                "enum": [
                  "IPRange",
                  "IPSpecific"
                ],
                "type": "string"
              },
              "specificIP": {
                "type": "string"
              },
              "startingIP": {
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "required": [
          "specificIP"
        ],
        "title": "IP based throttle condition"
      },
      "JWTClaimsCondition": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThrottleCondition"
          },
          {
            "properties": {
              "attribute": {
                "type": "string"
              },
              "claimUrl": {
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "required": [
          "claimUrl",
          "attribute"
        ],
        "title": "JWT claim attibute based throttle condition"
      },
      "Mediation": {
        "properties": {
          "config": {
            "example": "<sequence xmlns=\"http://ws.apache.org/ns/synapse\" name=\"log_in_message\"> <log level=\"full\"> <property name=\"IN_MESSAGE\" value=\"IN_MESSAGE_21133232\"/> </log> </sequence>",
            "type": "string"
          },
          "id": {
            "example": "01234567-0123-0123-0123-012345678901",
            "type": "string"
          },
          "name": {
            "example": "json_fault.xml",
            "type": "string"
          },
          "type": {
            "enum": [
              "in",
              "out",
              "fault"
            ],
            "example": "in",
            "type": "string"
          }
        },
        "required": [
          "name",
          "type",
          "config"
        ],
        "title": "Mediation",
        "type": "object"
      },
      "MediationInfo": {
        "properties": {
          "id": {
            "example": "01234567-0123-0123-0123-012345678901",
            "type": "string"
          },
          "name": {
            "example": "json_fault.xml",
            "type": "string"
          },
          "type": {
            "enum": [
              "in",
              "out",
              "fault"
            ],
            "example": "in",
            "type": "string"
          }
        },
        "required": [
          "name",
          "type",
          "id"
        ],
        "title": "MediationInfo",
        "type": "object"
      },
      "QueryParameterCondition": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThrottleCondition"
          },
          {
            "properties": {
              "parameterName": {
                "type": "string"
              },
              "parameterValue": {
                "type": "string"
              }
            },
            "type": "object"
          }
        ],
        "required": [
          "parameterName",
          "parameterValue"
        ],
        "title": "Query parameter based throttle condition"
      },
      "RequestCountLimit": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThrottleLimit"
          },
          {
            "properties": {
              "requestCount": {
                "default": 0,
                "format": "int64",
                "type": "integer"
              }
            },
            "type": "object"
          }
        ],
        "required": [
          "requestCount"
        ]
      },
      "SubscriptionThrottlePolicy": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ThrottlePolicy"
          },
          {
            "properties": {
              "billingPlan": {
                "type": "string"
              },
              "customAttributes": {
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Custom attributes added to the Subscription Throttle policy\n",
                "example": {},
                "items": {
                  "$ref": "#/components/schemas/CustomAttribute"
                },
                "type": "array"
              },
              "defaultLimit": {
                "$ref": "#/components/schemas/ThrottleLimit"
              },
              "rateLimitCount": {
                "default": 0,
                "type": "integer"
              },
              "rateLimitTimeUnit": {
                "type": "string"
              },
              "stopOnQuotaReach": {
                "default": false,
                "type": "boolean"
              }
            },
            "type": "object"
          }
        ],
        "required": [
          "defaultLimit"
        ],
        "title": "Subscription Throttle Policy"
      },
      "SubscriptionThrottlePolicyList": {
        "properties": {
          "count": {
            "description": "Number of Subscription throttle policies returned.\n",
            "example": 1,
            "type": "integer"
          },
          "list": {
            "items": {
              "$ref": "#/components/schemas/SubscriptionThrottlePolicy"
            },
            "type": "array"
          }
        },
        "title": "Subscription Level Throttle Policy List",
        "type": "object"
      },
      "ThrottleCondition": {
        "description": "Throttling Conditions",
        "discriminator": {
          "propertyName": "type"
        },
        "properties": {
          "invertCondition": {
            "default": false,
            "type": "boolean"
          },
          "type": {
            "enum": [
              "HeaderCondition",
              "IPCondition",
              "JWTClaimsCondition",
              "QueryParameterCondition"
            ],
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "title": "Conditions used for Throttling",
        "type": "object",
        "x-wso2-subtypes": [
          "HeaderCondition",
          "IPCondition",
          "JWTClaimsCondition",
          "QueryParameterCondition"
        ]
      },
[...]
