{
  "openapi": "3.0.3",
  "info": {
    "title": "inventory API",
    "version": "3.0.0",
    "x-jentic-source-url": "https://api.app.tightly.io/api/v1/apidocs/"
  },
  "servers": [
    {
      "url": "https://api.app.tightly.io"
    }
  ],
  "paths": {
    "/api/v1/accounts": {
      "get": {
        "description": "Retrieve detailed information about the current user's account, including all associated  organizations. This endpoint provides account-level data that spans across multiple organizations  the user has access to. Note: This is an account-level endpoint that does not require  the X-Organization-ID header.\n",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountResponse"
                }
              }
            },
            "description": "Successful response with account details"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Error message describing the authentication issue",
                      "type": "string"
                    },
                    "message": {
                      "description": "Detailed error description",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Error message describing the authorization issue",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions to access account information"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Error message describing the server issue",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get account",
        "tags": [
          "accounts"
        ]
      },
      "patch": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialUpdateAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountResponse"
                }
              }
            },
            "description": "Successful response with updated account"
          },
          "400": {
            "description": "Invalid request body"
          },
          "403": {
            "description": "Insufficient permissions (requires admin access)"
          },
          "404": {
            "description": "Account not found"
          }
        },
        "summary": "Update account",
        "tags": [
          "accounts"
        ]
      }
    },
    "/api/v1/accounts/users": {
      "get": {
        "description": "Retrieve a list of all users associated with the current account. This endpoint returns  detailed user information including their profile data, access levels, and account status.  Users must have appropriate permissions to access this user directory. Note: This is an  account-level endpoint that does not require the X-Organization-ID header.\n",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountUsersResponse"
                }
              }
            },
            "description": "Successful response with list of account users"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Error message describing the authentication issue",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Error message describing the authorization issue",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions to access user list"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Error message describing the server issue",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get account users",
        "tags": [
          "accounts"
        ]
      }
    },
    "/api/v1/accounts/users/{account_user_id}": {
      "get": {
        "description": "Retrieve detailed information about a specific user within the account. This endpoint  returns comprehensive user profile data including personal information, access levels,  and account status for the specified user ID. Note: This is an account-level endpoint  that does not require the X-Organization-ID header.\n",
        "parameters": [
          {
            "description": "The unique identifier of the account user to retrieve",
            "in": "path",
            "name": "account_user_id",
            "required": true,
            "schema": {
              "example": "user_123456789",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountUserResponse"
                }
              }
            },
            "description": "Successful response with account user details"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Error message describing the authentication issue",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Error message describing the authorization issue",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions to access user information"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Error message indicating the user was not found",
                      "example": "User not found",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "User not found - The specified account user ID does not exist"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Error message describing the server issue",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get account user",
        "tags": [
          "accounts"
        ]
      }
    },
    "/api/v1/accounts/users/{requested_user_id}/reset-password": {
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "requested_user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetUserPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResetUserPasswordResponse"
                }
              }
            }
          }
        },
        "summary": "Reset user password",
        "tags": [
          "accounts"
        ]
      }
    },
    "/api/v1/analytics/charts": {
      "get": {
        "description": "Retrieves all saved charts for the organization with pagination and optional search",
        "parameters": [
          {
            "description": "Optional search query to filter charts by title and description (case-insensitive)",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of charts to return",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Number of charts to skip (for pagination)",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "charts": {
                      "items": {
                        "$ref": "#/components/schemas/ChartPayload"
                      },
                      "type": "array"
                    },
                    "limit": {
                      "nullable": true,
                      "type": "integer"
                    },
                    "max_size": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successfully retrieved saved charts"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid request parameters"
          }
        },
        "summary": "list_charts",
        "tags": [
          "analytics"
        ]
      },
      "post": {
        "description": "Saves a chart payload to the database for the organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveChartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateChartResponse"
                }
              }
            },
            "description": "Successfully created chart"
          }
        },
        "summary": "create_chart",
        "tags": [
          "analytics"
        ]
      }
    },
    "/api/v1/analytics/charts/generate": {
      "post": {
        "description": "Converts a user instruction into SQL, executes it, and returns chart configuration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateChartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateChartResponse"
                }
              }
            },
            "description": "Successfully generated chart"
          }
        },
        "summary": "generate_chart",
        "tags": [
          "analytics"
        ]
      }
    },
    "/api/v1/analytics/charts/{chart_id}": {
      "delete": {
        "description": "Delete a chart by its ID",
        "parameters": [
          {
            "description": "The ID of the chart to delete",
            "in": "path",
            "name": "chart_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successfully deleted the chart"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Chart not found or unauthorized access"
          }
        },
        "summary": "delete_chart",
        "tags": [
          "analytics"
        ]
      },
      "patch": {
        "description": "Update the title and/or description of a chart",
        "parameters": [
          {
            "description": "The ID of the chart to update",
            "in": "path",
            "name": "chart_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateChartResponse"
                }
              }
            },
            "description": "Successfully updated the chart"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Chart not found or unauthorized access"
          }
        },
        "summary": "update_chart",
        "tags": [
          "analytics"
        ]
      }
    },
    "/api/v1/analytics/charts/{chart_id}/refresh": {
      "post": {
        "description": "Re-run a chart's original instruction with current data to update the chart with latest information",
        "parameters": [
          {
            "description": "The ID of the chart to refresh",
            "in": "path",
            "name": "chart_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateChartResponse"
                }
              }
            },
            "description": "Successfully refreshed the chart with current data"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsApiResponse"
                }
              }
            },
            "description": "Failed to refresh chart (e.g., query error, no results)"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Chart not found or unauthorized access"
          }
        },
        "summary": "refresh_chart_insights",
        "tags": [
          "analytics"
        ]
      }
    },
    "/api/v1/analytics/chat/charts": {
      "post": {
        "description": "Saves a chart that was generated during a chat conversation. Uses the same authorization as chat endpoint with bypass_auth_impersonation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveChartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateChartResponse"
                }
              }
            },
            "description": "Successfully saved chat chart"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsApiResponse"
                }
              }
            },
            "description": "Invalid chart data"
          }
        },
        "summary": "save_chat_chart",
        "tags": [
          "analytics"
        ]
      }
    },
    "/api/v1/analytics/prompts/sample": {
      "get": {
        "description": "Returns a random selection of curated natural language prompts that users can use as example queries. These prompts demonstrate common analytics questions and help users understand what kinds of questions they can ask about their data.",
        "parameters": [
          {
            "description": "Number of random prompts to return",
            "in": "query",
            "name": "count",
            "required": false,
            "schema": {
              "default": 5,
              "maximum": 10,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "prompts": {
                      "description": "List of curated natural language prompts for analytics queries",
                      "example": [
                        "Last year's sales on a bar chart",
                        "Show Top Performers",
                        "Monthly revenue trends as a line graph",
                        "Show top 5 products by revenue this month"
                      ],
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successfully retrieved sample prompts"
          }
        },
        "summary": "get_sample_prompts",
        "tags": [
          "analytics"
        ]
      }
    },
    "/api/v1/auth/change-password": {
      "post": {
        "description": "Change password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangePasswordPayload"
                }
              }
            },
            "description": "If password is changed successfully"
          },
          "400": {
            "description": "If the request is invalid (eg. current password is incorrect)"
          },
          "401": {
            "description": "If unauthorized"
          }
        },
        "summary": "Change password",
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/auth/confirm-email": {
      "get": {
        "description": "Confirm user email with the given token",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "User will be redirected to frontend"
          },
          "400": {
            "description": "If token is invalid or expired"
          }
        },
        "summary": "Confirm user email",
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/auth/forgot-password": {
      "post": {
        "description": "Send password reset email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthApiResponse"
                }
              }
            },
            "description": "If email sent successfully"
          },
          "404": {
            "description": "If no user is registered with given info"
          }
        },
        "summary": "Send password reset email",
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "description": "Login user with email and password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserLogin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserLoginResponse"
                }
              }
            },
            "description": "If user is logged in successfully"
          },
          "400": {
            "description": "If password is wrong or if user is not active yet"
          }
        },
        "summary": "Login user",
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/auth/login/google": {
      "post": {
        "description": "Login user with google",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalLogin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserLoginResponse"
                }
              }
            },
            "description": "If user is logged in successfully"
          },
          "400": {
            "description": "If user had not been registered before and email is already in use"
          },
          "403": {
            "description": "If user had not been registered before and email domain is blocked"
          }
        },
        "summary": "Login user with google",
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/auth/login/microsoft": {
      "post": {
        "description": "Login user with microsoft",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalLogin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserLoginResponse"
                }
              }
            },
            "description": "If user is logged in successfully"
          },
          "400": {
            "description": "If user had not been registered before and email is already in use"
          },
          "403": {
            "description": "If user had not been registered before and email domain is blocked"
          }
        },
        "summary": "Login user with microsoft",
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/auth/me": {
      "delete": {
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthApiResponse"
                }
              }
            },
            "description": "If user is deleted successfully"
          },
          "403": {
            "description": "If request user is not an admin, or user to delete is a super admin"
          }
        },
        "summary": "Delete user",
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/auth/refresh-jwt-token": {
      "post": {
        "description": "Refresh user login token",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "description": "Bearer token for authentication",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenResponse"
                }
              }
            },
            "description": "If refreshing token successfully"
          },
          "400": {
            "description": "Token is not expired yet or is invalid"
          }
        },
        "summary": "Refresh user login token",
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "description": "Register new user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterUserPayload"
                }
              }
            },
            "description": "If user is registered successfully"
          },
          "400": {
            "description": "If email is already in use or if user tries to join to existing organization without invitation"
          },
          "403": {
            "description": "If email domain is blocked"
          }
        },
        "summary": "Register new user",
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/auth/resend-confirmation": {
      "post": {
        "description": "Resend user confirmation email to user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendConfirmationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthApiResponse"
                }
              }
            },
            "description": "If mail sent successfully"
          },
          "400": {
            "description": "If user email is already confirmed"
          }
        },
        "summary": "resend user confirmation email",
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/auth/reset-password": {
      "post": {
        "description": "Reset password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthApiResponse"
                }
              }
            },
            "description": "If password is reset successfully"
          },
          "404": {
            "description": "If token has expired"
          }
        },
        "summary": "Reset password for user",
        "tags": [
          "auth"
        ]
      }
    },
    "/api/v1/billing/stripe/customer-portal-session": {
      "get": {
        "summary": "Get Stripe Customer Portal Session",
        "tags": [
          "billing"
        ]
      }
    },
    "/api/v1/billing/stripe/subscription": {
      "patch": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeToPlanV4Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscribeToPlanResponse"
                }
              }
            },
            "description": "Subscription changed successfully"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Change subscription via Stripe",
        "tags": [
          "billing"
        ]
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeToPlanV4Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscribeToPlanResponse"
                }
              }
            },
            "description": "Subscription created successfully"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Subscribe to a plan via Stripe",
        "tags": [
          "billing"
        ]
      }
    },
    "/api/v1/billing/stripe/subscription/confirm": {
      "post": {
        "description": "Confirm subscription change after returning from Shopify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmSubscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmSubscriptionResponse"
                }
              }
            },
            "description": "The current subscription details"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Confirm subscription",
        "tags": [
          "billing"
        ]
      }
    },
    "/api/v1/billing/subscription-v4": {
      "delete": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelSubscriptionResponse"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Cancel current subscription",
        "tags": [
          "billing"
        ]
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeToPlanV4Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscribeToPlanResponse"
                }
              }
            },
            "description": "The current subscription details"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Subscribe to a plan",
        "tags": [
          "billing"
        ]
      }
    },
    "/api/v1/billing/subscription-v4/plans": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlansResponse"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get Billing Plans",
        "tags": [
          "billing"
        ]
      }
    },
    "/api/v1/billing/subscription/cancellation": {
      "delete": {
        "description": "Reverts a scheduled subscription cancellation.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "example": "Scheduled subscription cancellation has been removed.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Subscription cancellation reverted successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Revert subscription cancellation",
        "tags": [
          "Billing"
        ]
      }
    },
    "/api/v1/billing/subscription/confirm": {
      "post": {
        "description": "Confirm subscription change after returning from Shopify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmSubscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmSubscriptionResponse"
                }
              }
            },
            "description": "The current subscription details"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Confirm subscription",
        "tags": [
          "billing"
        ]
      }
    },
    "/api/v1/boms": {
      "post": {
        "description": "Create a new Bill of Materials (BoM) for a variant.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBomRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BomApiResponse"
                }
              }
            },
            "description": "BoM created successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Detailed validation error information",
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Human-readable error description",
                          "type": "string"
                        },
                        "service": {
                          "description": "Service name",
                          "type": "string"
                        },
                        "severity": {
                          "description": "Error severity level",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request - Invalid request parameters or validation errors"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions or authorization failed"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "example": "POSTGRES_ERROR",
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Generic error message",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error - Database connection or processing errors"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "create BoM",
        "tags": [
          "bom"
        ]
      }
    },
    "/api/v1/boms/table": {
      "get": {
        "description": "Get Bill of Materials (BOM) information, including items and quantities.",
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "JSON array of filter conditions. Supported filters: variant_id (eq, in), component_variant_id (eq, in). variant_id filters by the manufacturable product. component_variant_id filters by raw materials used in the BOM. Example: [{\"key\": \"component_variant_id\", \"operation\": \"eq\", \"value\": \"123\"}]\n",
            "in": "query",
            "name": "filter_args",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of items to return.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 8,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The number of items to skip before starting to return items.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBomTablePayload"
                }
              }
            },
            "description": "Successfully retrieved the BoM items."
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "get BoM table",
        "tags": [
          "bom"
        ]
      }
    },
    "/api/v1/boms/{bom_id}": {
      "delete": {
        "description": "Delete a Bill of Materials (BoM) by id",
        "parameters": [
          {
            "in": "path",
            "name": "bom_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "description": "Success message",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "delete a BoM",
        "tags": [
          "bom"
        ]
      },
      "patch": {
        "description": "Update a Bill of Materials (BoM).\n",
        "parameters": [
          {
            "in": "path",
            "name": "bom_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBomRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BomApiResponse"
                }
              }
            },
            "description": "BoM updated successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Detailed validation error information",
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Human-readable error description",
                          "type": "string"
                        },
                        "service": {
                          "description": "Service name",
                          "type": "string"
                        },
                        "severity": {
                          "description": "Error severity level",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request - Invalid request parameters or validation errors"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions or authorization failed"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "example": "POSTGRES_ERROR",
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Generic error message",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error - Database connection or processing errors"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "update a BoM",
        "tags": [
          "bom"
        ]
      }
    },
    "/api/v1/budget": {
      "delete": {
        "description": "Delete budget plan for all categories and Overall. This will remove the budget plan from the system.",
        "responses": {
          "200": {
            "description": "Successfully deleted the budget plan for all categories and Overall"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "delete budget",
        "tags": [
          "budget"
        ]
      },
      "get": {
        "description": "Get budget",
        "parameters": [
          {
            "description": "Comma separated categories to filter the budget",
            "in": "query",
            "name": "categories",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated fields to be fetched",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBudgetResponse"
                }
              }
            },
            "description": "Successfully fetched the budget plan"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "get budget",
        "tags": [
          "budget"
        ]
      },
      "patch": {
        "description": "Update budget - update target revenues or expenses. Keys are categories.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBudgetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBudgetResponse"
                }
              }
            },
            "description": "Successfully updated the budget plan"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "update budget",
        "tags": [
          "budget"
        ]
      },
      "post": {
        "description": "Create a budget plan for the organization using the provided budget details.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBudgetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBudgetResponse"
                }
              }
            },
            "description": "Successfully created the budget plan"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "create budget",
        "tags": [
          "budget"
        ]
      }
    },
    "/api/v1/budget/analytics": {
      "get": {
        "description": "Calculate various metrics related to budget",
        "parameters": [
          {
            "description": "this or last. Shortcut for getting this fiscal year's or last fiscal year's data. If not provided, start_date and end_date are expected.",
            "in": "query",
            "name": "in_fiscal_year",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "start_date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "end_date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated categories to filter the budget",
            "in": "query",
            "name": "categories",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated fields to be fetched",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBudgetAnalyticsResponse"
                }
              }
            },
            "description": "Successfully calculated and fetched the metrics"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "get budget analytics",
        "tags": [
          "budget"
        ]
      }
    },
    "/api/v1/bundles": {
      "get": {
        "description": "Retrieve paginated table data for bundles with optional filtering by bundle source and search term",
        "parameters": [
          {
            "description": "Pagination limit",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 8,
              "type": "integer"
            }
          },
          {
            "description": "Pagination offset",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "description": "Filter bundles by source (manual, shopify, etc.)",
            "in": "query",
            "name": "bundle_source",
            "required": false,
            "schema": {
              "example": "manual",
              "type": "string"
            }
          },
          {
            "description": "Search term to filter bundles by name or product title",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "JSON array of filter conditions. Each filter object should have the following keys:\n  - key: The field name to filter by (e.g., \"bundle_source\", \"name\", \"product_title\").\n  - operation: The comparison operation to use. Supported operations:\n      - eq: Equals (e.g., {\"key\":\"bundle_source\",\"operation\":\"eq\",\"value\":\"manual\"})\n      - ne: Not equals (e.g., {\"key\":\"bundle_source\",\"operation\":\"ne\",\"value\":\"shopify\"})\n      - in: Value is in a list (e.g., {\"key\":\"bundle_source\",\"operation\":\"in\",\"value\":[\"manual\",\"shopify\"]})\n      - nin: Value is not in a list (e.g., {\"key\":\"bundle_source\",\"operation\":\"nin\",\"value\":[\"manual\"]})\n      - contains: Field contains substring (e.g., {\"key\":\"name\",\"operation\":\"contains\",\"value\":\"summer\"})\n      - startswith: Field starts with substring (e.g., {\"key\":\"name\",\"operation\":\"startswith\",\"value\":\"Bundle\"})\n      - endswith: Field ends with substring (e.g., {\"key\":\"name\",\"operation\":\"endswith\",\"value\":\"Pack\"})\n  - value: The value to compare against. For \"in\" and \"nin\", provide an array of values.\n\nExample:\n  '[{\"key\":\"bundle_source\",\"operation\":\"eq\",\"value\":\"manual\"},{\"key\":\"name\",\"operation\":\"contains\",\"value\":\"summer\"}]'\n",
            "in": "query",
            "name": "filter_args",
            "required": false,
            "schema": {
              "example": "[{\"key\":\"bundle_source\",\"operation\":\"eq\",\"value\":\"manual\"}]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBundlesApiResponse"
                }
              }
            },
            "description": "Successful response with the list of bundles"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Detailed validation error information",
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Human-readable error description",
                          "type": "string"
                        },
                        "service": {
                          "description": "Service name",
                          "type": "string"
                        },
                        "severity": {
                          "description": "Error severity level",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request - Invalid request parameters or validation errors"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions or authorization failed"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "example": "POSTGRES_ERROR",
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Generic error message",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error - Database connection or processing errors"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Get list of bundles with filtering and pagination",
        "tags": [
          "bundles"
        ]
      },
      "post": {
        "description": "Create a new bundle for an organization. This endpoint allows you to create a bundle by marking a product variant as a bundle variant. The product will automatically be flagged as a bundle product.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBundleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBundleApiResponse"
                }
              }
            },
            "description": "Bundle created successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Detailed validation error information",
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Human-readable error description",
                          "type": "string"
                        },
                        "service": {
                          "description": "Service name",
                          "type": "string"
                        },
                        "severity": {
                          "description": "Error severity level",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request - Invalid request parameters or validation errors"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions or authorization failed"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "example": "POSTGRES_ERROR",
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Generic error message",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error - Database connection or processing errors"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Create a new bundle by marking a variant as bundle variant",
        "tags": [
          "bundles"
        ]
      }
    },
    "/api/v1/bundles/table": {
      "get": {
        "description": "Get flat table of bundle variants where each row represents a sellable bundle variant. Unlike the bundles list endpoint which shows nested structure, this returns one row per bundle variant with variant-specific information like SKU, title, price, in_stock, and components. Supports filtering, sorting, and search functionality.\n",
        "parameters": [
          {
            "description": "Number of results to return",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 50,
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Offset for pagination",
            "in": "query",
            "name": "offset",
            "schema": {
              "default": 0,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Search term for bundle name",
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "JSON array of filter conditions",
            "in": "query",
            "name": "filters",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "JSON array of sort conditions",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "limit": 50,
                    "offset": 0,
                    "rows": [
                      {
                        "bundle_id": "abc12345",
                        "bundle_source": "manual",
                        "bundle_variant_id": "var_s_123",
                        "component_count": 2,
                        "components": [
                          {
                            "product_title": "Example Shirt",
                            "quantity": 2,
                            "sku": "SHIRT-S-7",
                            "variant_id": "51824798171508",
                            "variant_title": "Example Shirt S-7"
                          }
                        ],
                        "created_at": "2024-01-15T10:30:00Z",
                        "in_stock": 5,
                        "name": "T-Shirt Bundle",
                        "price": 25.99,
                        "product_id": "prod_123",
                        "product_type": "apparel",
                        "sku": "TSB-S",
                        "title": "T-Shirt Bundle - Small",
                        "updated_at": "2024-01-15T10:30:00Z",
                        "variant_id": "52781952434548"
                      },
                      {
                        "bundle_id": "abc12345",
                        "bundle_source": "manual",
                        "bundle_variant_id": "var_m_456",
                        "component_count": 2,
                        "components": [
                          {
                            "product_title": "Example Shirt",
                            "quantity": 2,
                            "sku": "SHIRT-M-7",
                            "variant_id": "52781768245620",
                            "variant_title": "Example Shirt M-7"
                          }
                        ],
                        "created_at": "2024-01-15T10:30:00Z",
                        "in_stock": 3,
                        "name": "T-Shirt Bundle",
                        "price": 25.99,
                        "product_id": "prod_123",
                        "product_type": "apparel",
                        "sku": "TSB-M",
                        "title": "T-Shirt Bundle - Medium",
                        "updated_at": "2024-01-15T10:30:00Z",
                        "variant_id": "52781952467316"
                      }
                    ],
                    "total_rows": 2
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/GetBundlesTableApiResponse"
                }
              }
            },
            "description": "Successfully retrieved bundles table"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request - Invalid query parameters"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "example": "POSTGRES_ERROR",
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Get flat table of bundle variants",
        "tags": [
          "bundles"
        ]
      }
    },
    "/api/v1/bundles/variants/{bundle_variant_id}": {
      "delete": {
        "description": "Delete a specific bundle variant and reset the is_bundle_variant flag.  If this was the last variant, also resets the product's is_bundle flag.\n",
        "parameters": [
          {
            "description": "The unique identifier of the bundle",
            "in": "path",
            "name": "bundle_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique identifier of the bundle variant to delete",
            "in": "path",
            "name": "bundle_variant_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteBundleVariantApiResponse"
                }
              }
            },
            "description": "Bundle variant deleted successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request - Invalid parameters"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Bundle variant {bundle_variant_id} not found in bundle {bundle_id}",
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bundle variant not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "example": "POSTGRES_ERROR",
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Delete a specific bundle variant",
        "tags": [
          "bundles"
        ]
      }
    },
    "/api/v1/bundles/{bundle_id}": {
      "delete": {
        "description": "Delete a bundle and automatically reset the is_bundle and is_bundle_variant flags on the associated product and variants",
        "parameters": [
          {
            "description": "The unique identifier of the bundle",
            "in": "path",
            "name": "bundle_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteBundleApiResponse"
                }
              }
            },
            "description": "Bundle deleted successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Detailed validation error information",
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Human-readable error description",
                          "type": "string"
                        },
                        "service": {
                          "description": "Service name",
                          "type": "string"
                        },
                        "severity": {
                          "description": "Error severity level",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request - Invalid bundle ID or validation errors"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions or authorization failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Bundle {bundle_id} not found",
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bundle not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "example": "POSTGRES_ERROR",
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Generic error message",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error - Database connection or processing errors"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Delete a bundle and reset product/variant flags",
        "tags": [
          "bundles"
        ]
      },
      "get": {
        "description": "Retrieve detailed information about a specific bundle including its components and variants",
        "parameters": [
          {
            "description": "The unique identifier of the bundle",
            "in": "path",
            "name": "bundle_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "bundle_id": "abc12345",
                    "bundle_source": "manual",
                    "components": [
                      {
                        "component_product_id": "shirt_prod",
                        "product_title": "Basic Shirt",
                        "quantity": 1
                      }
                    ],
                    "created_at": "2024-01-15T10:30:00Z",
                    "name": "T-Shirt Bundle",
                    "product_id": "prod_123",
                    "product_title": "T-Shirt Bundle",
                    "product_type": "apparel",
                    "updated_at": "2024-01-15T10:30:00Z",
                    "variants": [
                      {
                        "bundle_variant_id": "var_s_123",
                        "components": [
                          {
                            "product_title": "Example Shirt",
                            "quantity": 2,
                            "sku": "SHIRT-S-7",
                            "variant_id": "51824798171508",
                            "variant_title": "Example Shirt S-7"
                          }
                        ],
                        "in_stock": 5,
                        "price": 25.99,
                        "sku": "TSB-S",
                        "title": "T-Shirt Bundle - Small",
                        "variant_id": "52781952434548"
                      },
                      {
                        "bundle_variant_id": "var_m_456",
                        "components": [
                          {
                            "product_title": "Example Shirt",
                            "quantity": 2,
                            "sku": "SHIRT-M-7",
                            "variant_id": "52781768245620",
                            "variant_title": "Example Shirt M-7"
                          }
                        ],
                        "in_stock": 3,
                        "price": 25.99,
                        "sku": "TSB-M",
                        "title": "T-Shirt Bundle - Medium",
                        "variant_id": "52781952467316"
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/GetBundleApiResponse"
                }
              }
            },
            "description": "Successful response with bundle details"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Detailed validation error information",
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Human-readable error description",
                          "type": "string"
                        },
                        "service": {
                          "description": "Service name",
                          "type": "string"
                        },
                        "severity": {
                          "description": "Error severity level",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request - Invalid bundle ID or validation errors"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions or authorization failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Bundle {bundle_id} not found",
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bundle not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "example": "POSTGRES_ERROR",
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Generic error message",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error - Database connection or processing errors"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Get a single bundle with components and variants",
        "tags": [
          "bundles"
        ]
      },
      "patch": {
        "description": "Update component variants and quantities for a specific bundle variant",
        "parameters": [
          {
            "description": "The unique identifier of the bundle",
            "in": "path",
            "name": "bundle_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBundleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBundleApiResponse"
                }
              }
            },
            "description": "Bundle updated successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "description": "Detailed validation error information",
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Human-readable error description",
                          "type": "string"
                        },
                        "service": {
                          "description": "Service name",
                          "type": "string"
                        },
                        "severity": {
                          "description": "Error severity level",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request - Invalid request parameters or validation errors"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden - Insufficient permissions or authorization failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "example": "Bundle {bundle_id} not found",
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "type": "string"
                        },
                        "service": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bundle not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "example": "POSTGRES_ERROR",
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "desc": {
                          "description": "Generic error message",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error - Database connection or processing errors"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Update bundle variant components",
        "tags": [
          "bundles"
        ]
      }
    },
    "/api/v1/collections": {
      "post": {
        "description": "Create a new collection and optionally schedule publication to the online store.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCollectionResponse"
                }
              }
            },
            "description": "Collection created successfully."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Create a collection",
        "tags": [
          "collections"
        ]
      }
    },
    "/api/v1/collections/ranking-preview": {
      "post": {
        "description": "Calculate and return a ranking preview for a collection based on the provided strategy & factors.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRankingPreviewRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRankingPreviewPayload"
                }
              }
            },
            "description": "Ranking preview calculated and returned."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "OrganizationHeader": []
          }
        ],
        "summary": "Get ranking preview",
        "tags": [
          "collections"
        ]
      }
    },
    "/api/v1/collections/table": {
      "get": {
[...]
