{
  "openapi": "3.0.3",
  "info": {
    "title": "CVR API",
    "version": "6.0.0",
    "description": "Danish CVR (Central Business Register) API for looking up company information by CVR number, P-number, company name, or phone number. Supports Denmark and Norway.",
    "x-jentic-source-url": "https://cvrapi.dk/documentation",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://cvrapi.dk",
      "description": "CVR API production server"
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "operationId": "searchCompany",
        "summary": "Search for company information",
        "description": "Search for Danish or Norwegian company information by CVR number, P-number, company name, or phone number. Returns company details including address, owners, production units, and credit information.",
        "tags": [
          "Company Lookup"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "description": "General search term. Searches across CVR number, P-number, and company name. Use specific parameters (vat, name, produ, phone) for targeted search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Country code to search in. Available countries: dk (Denmark), no (Norway).",
            "schema": {
              "type": "string",
              "enum": [
                "dk",
                "no"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "API version. Defaults to latest version (6) if not specified.",
            "schema": {
              "type": "integer",
              "default": 6
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Default is JSON.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Authentication token if one has been issued to you.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vat",
            "in": "query",
            "required": false,
            "description": "Search specifically by CVR number (VAT number). Cannot be combined with other specific search options.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Search specifically by company name. Cannot be combined with other specific search options.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "produ",
            "in": "query",
            "required": false,
            "description": "Search specifically by production unit (P-number). Cannot be combined with other specific search options.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "description": "Search specifically by phone number. Cannot be combined with other specific search options.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company information found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or too many search options specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - no results for the search query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded - 50 free lookups per day per IP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "searchCompanyPost",
        "summary": "Search for company information (POST)",
        "description": "Same as GET but using POST method. Search for Danish or Norwegian company information.",
        "tags": [
          "Company Lookup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CompanySearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company information found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Company Lookup",
      "description": "Look up company information from the Danish CVR register"
    }
  ],
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API token provided for authenticated access (optional for free tier up to 50 lookups/day)"
      }
    },
    "schemas": {
      "CompanySearchRequest": {
        "type": "object",
        "required": [
          "search",
          "country"
        ],
        "properties": {
          "search": {
            "type": "string",
            "description": "Search term (CVR number, P-number, or company name)"
          },
          "country": {
            "type": "string",
            "enum": [
              "dk",
              "no"
            ],
            "description": "Country to search in"
          },
          "version": {
            "type": "integer",
            "description": "API version"
          },
          "format": {
            "type": "string",
            "enum": [
              "json",
              "xml"
            ]
          },
          "token": {
            "type": "string",
            "description": "Authentication token"
          },
          "vat": {
            "type": "string",
            "description": "Search by CVR number"
          },
          "name": {
            "type": "string",
            "description": "Search by company name"
          },
          "produ": {
            "type": "string",
            "description": "Search by production unit"
          },
          "phone": {
            "type": "string",
            "description": "Search by phone number"
          }
        }
      },
      "CompanyInfo": {
        "type": "object",
        "properties": {
          "vat": {
            "type": "integer",
            "description": "CVR number"
          },
          "name": {
            "type": "string",
            "description": "Company name"
          },
          "address": {
            "type": "string",
            "description": "Street address"
          },
          "zipcode": {
            "type": "string",
            "description": "Postal code"
          },
          "city": {
            "type": "string",
            "description": "City name"
          },
          "cityname": {
            "type": "string",
            "nullable": true,
            "description": "Supplementary city name"
          },
          "protected": {
            "type": "boolean",
            "description": "Whether the company is address-protected"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Phone number"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Email address"
          },
          "fax": {
            "type": "string",
            "nullable": true,
            "description": "Fax number"
          },
          "startdate": {
            "type": "string",
            "nullable": true,
            "description": "Company start date"
          },
          "enddate": {
            "type": "string",
            "nullable": true,
            "description": "Company end date"
          },
          "employees": {
            "type": "string",
            "nullable": true,
            "description": "Number of employees"
          },
          "addressco": {
            "type": "string",
            "nullable": true,
            "description": "C/O address line"
          },
          "industrycode": {
            "type": "integer",
            "nullable": true,
            "description": "Industry code"
          },
          "industrydesc": {
            "type": "string",
            "nullable": true,
            "description": "Industry description"
          },
          "companycode": {
            "type": "integer",
            "nullable": true,
            "description": "Company type code"
          },
          "companydesc": {
            "type": "string",
            "nullable": true,
            "description": "Company type description"
          },
          "creditstartdate": {
            "type": "string",
            "nullable": true,
            "description": "Credit start date"
          },
          "creditstatus": {
            "type": "integer",
            "nullable": true,
            "description": "Credit status code (1=decree, 2=decree revoked, 3=bankruptcy)"
          },
          "creditbankrupt": {
            "type": "boolean",
            "description": "Whether the company is bankrupt"
          },
          "owners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Owner"
            },
            "description": "List of company owners"
          },
          "productionunits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductionUnit"
            },
            "description": "List of production units"
          },
          "t": {
            "type": "integer",
            "description": "Response processing time in milliseconds"
          },
          "version": {
            "type": "integer",
            "description": "API version used"
          }
        }
      },
      "Owner": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Owner name"
          }
        }
      },
      "ProductionUnit": {
        "type": "object",
        "properties": {
          "pno": {
            "type": "integer",
            "description": "Production unit number (P-number)"
          },
          "main": {
            "type": "boolean",
            "description": "Whether this is the main production unit"
          },
          "name": {
            "type": "string",
            "description": "Production unit name"
          },
          "address": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "cityname": {
            "type": "string",
            "nullable": true
          },
          "protected": {
            "type": "boolean"
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "fax": {
            "type": "string",
            "nullable": true
          },
          "startdate": {
            "type": "string",
            "nullable": true
          },
          "enddate": {
            "type": "string",
            "nullable": true
          },
          "employees": {
            "type": "string",
            "nullable": true
          },
          "addressco": {
            "type": "string",
            "nullable": true
          },
          "industrycode": {
            "type": "integer",
            "nullable": true
          },
          "industrydesc": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code: QUOTA_EXCEEDED, BANNED, INVALID_VAT, NOT_FOUND, INTERNAL_ERROR, INVALID_UA, TOO_MANY_OPTIONS"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "t": {
            "type": "integer",
            "description": "Processing time"
          },
          "version": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ]
}
