{
  "openapi": "3.0.3",
  "info": {
    "title": "Scale AI Data Annotation API",
    "description": "Scale AI API for managing data annotation tasks, batches, projects, and callbacks.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://scale.com/docs/api-reference/introduction-to-scale-api"
  },
  "servers": [
    {
      "url": "https://api.scale.com/v1",
      "description": "Scale AI Production API"
    }
  ],
  "paths": {
    "/task": {
      "post": {
        "operationId": "createTask",
        "summary": "Create a task",
        "description": "Creates a new annotation task. A task represents an individual unit of work to be done by a contributor.",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/task/{taskId}": {
      "get": {
        "operationId": "getTask",
        "summary": "Retrieve a task",
        "description": "Retrieves the details of a specific task.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The unique task identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "description": "Retrieves a list of tasks with optional filtering.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "description": "Filter tasks created after this time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Filter tasks created before this time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by task status.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "completed",
                "canceled"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by task type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "description": "Filter by project name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batch",
            "in": "query",
            "description": "Filter by batch name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "next_token",
            "in": "query",
            "description": "Pagination token for next page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "completed_after",
            "in": "query",
            "description": "Filter tasks completed after this time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "completed_before",
            "in": "query",
            "description": "Filter tasks completed before this time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unique_id",
            "in": "query",
            "description": "Filter by unique ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/task/{taskId}/cancel": {
      "post": {
        "operationId": "cancelTask",
        "summary": "Cancel a task",
        "description": "Cancels a pending task.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The task ID to cancel.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clear_unique_id",
            "in": "query",
            "description": "Clear the unique ID when canceling.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task canceled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/task/{taskId}/setMetadata": {
      "post": {
        "operationId": "setTaskMetadata",
        "summary": "Set task metadata",
        "description": "Sets metadata key-value pairs on a task.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Key-value metadata pairs."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/task/{taskId}/unique_id": {
      "post": {
        "operationId": "updateTaskUniqueId",
        "summary": "Update task unique ID",
        "description": "Sets or updates the unique ID for a task.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "unique_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "unique_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unique ID updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTaskUniqueId",
        "summary": "Delete task unique ID",
        "description": "Removes the unique ID from a task.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unique ID removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/task/{taskId}/tags": {
      "post": {
        "operationId": "setTaskTags",
        "summary": "Set task tags",
        "description": "Sets tags on a task, replacing existing tags.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTaskTags",
        "summary": "Delete task tags",
        "description": "Removes specified tags from a task.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/task/{taskId}/send-callback": {
      "post": {
        "operationId": "resendTaskCallback",
        "summary": "Re-send task callback",
        "description": "Re-sends the callback for a completed task.",
        "tags": [
          "Callbacks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The task ID to re-send callback for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Callback re-sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/batches": {
      "get": {
        "operationId": "listBatches",
        "summary": "List batches",
        "description": "Lists all batches with optional filtering.",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Filter by project name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by batch status.",
            "schema": {
              "type": "string",
              "enum": [
                "staging",
                "in_progress",
                "completed"
              ]
            }
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "Include progress details.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Minimum created_at value.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Maximum created_at value.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of batches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Batch"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBatch",
        "summary": "Create a batch",
        "description": "Creates a new batch for grouping tasks.",
        "tags": [
          "Batches"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batchName}": {
      "get": {
        "operationId": "getBatch",
        "summary": "Get a batch",
        "description": "Retrieves details of a specific batch.",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "batchName",
            "in": "path",
            "required": true,
            "description": "The batch name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batchName}/finalize": {
      "post": {
        "operationId": "finalizeBatch",
        "summary": "Finalize a batch",
        "description": "Finalizes a batch, marking it ready for processing.",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "batchName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch finalized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batchName}/status": {
      "get": {
        "operationId": "getBatchStatus",
        "summary": "Get batch status",
        "description": "Retrieves the status and task counts for a batch.",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "batchName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batchName}/prioritize": {
      "post": {
        "operationId": "prioritizeBatch",
        "summary": "Prioritize a batch",
        "description": "Sets the priority for a batch.",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "batchName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "priority"
                ],
                "properties": {
                  "priority": {
                    "type": "integer",
                    "minimum": 10,
                    "maximum": 30,
                    "description": "Priority value. 10 = lowest, 30 = highest."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Priority set successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Lists all projects.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "description": "Filter by archived status.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "description": "Creates a new project.",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{name}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a project",
        "description": "Retrieves details of a specific project.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The project name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{name}/setParams": {
      "post": {
        "operationId": "updateProjectParams",
        "summary": "Update project parameters",
        "description": "Updates the default parameters for a project.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectParamsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parameters updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using your Scale API key as the username and an empty password."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Unique task identifier."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "callback_url": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Task type."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "canceled"
            ],
            "description": "Task status."
          },
          "instruction": {
            "type": "string"
          },
          "params": {
            "type": "object",
            "description": "Task-specific parameters."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "response": {
            "type": "object",
            "description": "Task response when completed."
          },
          "unique_id": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "callback_succeeded": {
            "type": "boolean"
          }
        }
      },
      "CreateTaskRequest": {
        "type": "object",
        "required": [
          "project",
          "callback_url"
        ],
        "properties": {
          "project": {
            "type": "string",
            "description": "Project name."
          },
          "callback_url": {
            "type": "string",
            "description": "URL for task completion callback."
          },
          "instruction": {
            "type": "string",
            "description": "Task instruction text."
          },
          "attachment": {
            "type": "string",
            "description": "URL of the attachment."
          },
          "unique_id": {
            "type": "string",
            "description": "Optional unique identifier."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Key-value metadata."
          },
          "batch": {
            "type": "string",
            "description": "Batch name to add this task to."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TaskListResponse": {
        "type": "object",
        "properties": {
          "docs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          },
          "next_token": {
            "type": "string"
          }
        }
      },
      "CallbackResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "response": {
            "type": "object"
          },
          "task": {
            "type": "object"
          }
        }
      },
      "Batch": {
        "type": "object",
        "properties": {
          "project": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "callback": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "staging",
              "in_progress",
              "completed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "CreateBatchRequest": {
        "type": "object",
        "required": [
          "project",
          "name"
        ],
        "properties": {
          "project": {
            "type": "string",
            "description": "Project name."
          },
          "name": {
            "type": "string",
            "description": "Unique batch identifier."
          },
          "callback": {
            "type": "string",
            "description": "Callback URL or email."
          },
          "calibration_batch": {
            "type": "boolean",
            "description": "For Rapid projects."
          },
          "self_label_batch": {
            "type": "boolean",
            "description": "For Rapid projects."
          }
        }
      },
      "BatchStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "tasks_pending": {
            "type": "integer"
          },
          "tasks_completed": {
            "type": "integer"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "type": "string"
          },
          "param_history": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "archived": {
            "type": "boolean"
          },
          "pinned": {
            "type": "boolean"
          }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "required": [
          "type",
          "name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Task type designation."
          },
          "name": {
            "type": "string",
            "description": "Unique project identifier."
          },
          "rapid": {
            "type": "boolean",
            "description": "Scale Rapid flag."
          },
          "studio": {
            "type": "boolean",
            "description": "Scale Studio flag."
          },
          "params": {
            "type": "object",
            "description": "Default task parameters."
          },
          "pipeline": {
            "type": "string",
            "description": "Studio pipeline specification."
          }
        }
      },
      "UpdateProjectParamsRequest": {
        "type": "object",
        "properties": {
          "patch": {
            "type": "boolean",
            "description": "If true, merge with existing parameters."
          },
          "instruction": {
            "type": "string",
            "description": "Task instruction text."
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tasks",
      "description": "Task management endpoints"
    },
    {
      "name": "Batches",
      "description": "Batch management endpoints"
    },
    {
      "name": "Projects",
      "description": "Project management endpoints"
    },
    {
      "name": "Callbacks",
      "description": "Callback management endpoints"
    }
  ]
}