{
  "openapi": "3.0.3",
  "info": {
    "title": "Creatomate Render API",
    "version": "1.0.0",
    "description": "Creatomate provides a REST API for automated video and image generation. Create renders from templates or RenderScript, manage templates, and receive webhook notifications.",
    "x-jentic-source-url": "https://creatomate.com/docs/api/reference/introduction",
    "contact": {
      "name": "Creatomate",
      "url": "https://creatomate.com"
    }
  },
  "servers": [
    {
      "url": "https://api.creatomate.com/v1",
      "description": "Creatomate API v1"
    }
  ],
  "paths": {
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "Get All Templates",
        "description": "Retrieves a list of template metadata for all templates within a project, including ID, name, tags, and timestamps.",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Templates list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Get Template",
        "description": "Retrieves a specific template including its full RenderScript source code.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Template UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/renders": {
      "post": {
        "operationId": "createRender",
        "summary": "Create a Render",
        "description": "Initiates a new rendering job to create videos, images, or GIFs. Use an existing template or provide RenderScript directly.",
        "tags": [
          "Renders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Render job created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Render"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid render parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/renders/{id}": {
      "get": {
        "operationId": "getRender",
        "summary": "Get Render Status",
        "description": "Retrieves the status and details of a specific render job.",
        "tags": [
          "Renders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Render job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Render details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Render"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as Bearer token in the Authorization header"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TemplateDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Template"
          },
          {
            "type": "object",
            "properties": {
              "source": {
                "type": "object",
                "description": "Full RenderScript source code"
              }
            }
          }
        ]
      },
      "RenderRequest": {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string",
            "description": "Template identifier; omit to use source RenderScript instead"
          },
          "source": {
            "type": "object",
            "description": "RenderScript data; used when template_id is omitted"
          },
          "modifications": {
            "type": "object",
            "description": "Template adjustments prior to rendering"
          },
          "render_scale": {
            "type": "number",
            "description": "Output scaling factor (0.1-10)",
            "default": 1.0
          },
          "max_width": {
            "type": "number",
            "description": "Maximum output width in pixels"
          },
          "max_height": {
            "type": "number",
            "description": "Maximum output height in pixels"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL for completion/failure notifications"
          },
          "metadata": {
            "type": "string",
            "description": "Custom data passed to the webhook"
          }
        }
      },
      "Render": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "planned",
              "rendering",
              "succeeded",
              "failed"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the rendered output (when succeeded)"
          },
          "template_id": {
            "type": "string"
          },
          "render_scale": {
            "type": "number"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "file_size": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Templates",
      "description": "Template management"
    },
    {
      "name": "Renders",
      "description": "Render job operations"
    }
  ]
}