{
  "openapi": "3.0.3",
  "info": {
    "title": "Tado API",
    "description": "Tado api version 2 as used by Tado webapp",
    "version": "2.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/bartvanraalte/tado-api/2.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://my.tado.com/api/v2"
    }
  ],
  "security": [
    {
      "oAuthSecurity": [
        "home.user"
      ]
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "User Profile",
        "description": "The User Profile endpoint returns information about the Tado user that has \nauthorized with the application. This includes\nthe home and mobiledevices.\n",
        "responses": {
          "200": {
            "description": "Object with user profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "get-me"
      }
    },
    "/homes/{home}": {
      "get": {
        "tags": [
          "Home"
        ],
        "summary": "Description of home",
        "parameters": [
          {
            "name": "home",
            "in": "path",
            "description": "Unique identifier of home",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object with home details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/home"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Description of home",
        "operationId": "get-homes-by-home"
      }
    },
    "/homes/{home}/zones": {
      "get": {
        "tags": [
          "Home"
        ],
        "summary": "Zones of a home",
        "parameters": [
          {
            "name": "home",
            "in": "path",
            "description": "Unique identifier of home",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of zones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/zone"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Zones of a home",
        "operationId": "get-homes-by-home-zones"
      }
    },
    "/homes/{home}/devices": {
      "get": {
        "tags": [
          "Home"
        ],
        "summary": "Devices of a home",
        "parameters": [
          {
            "name": "home",
            "in": "path",
            "description": "Unique identifier of home",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of devices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/device"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Devices of a home",
        "operationId": "get-homes-by-home-devices"
      }
    },
    "/homes/{home}/installations": {
      "get": {
        "tags": [
          "Home"
        ],
        "summary": "Installation processes of a home",
        "parameters": [
          {
            "name": "home",
            "in": "path",
            "description": "Unique identifier of home",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of installations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/installation"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Installation processes of a home",
        "operationId": "get-homes-by-home-installations"
      }
    },
    "/homes/{home}/zones/{zone}/overlay": {
      "put": {
        "tags": [
          "Zone"
        ],
        "summary": "Change settings of zone",
        "parameters": [
          {
            "name": "home",
            "in": "path",
            "description": "Unique identifier of home",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "zone",
            "in": "path",
            "description": "Unique identifier of zone",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Overlay response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/overlay"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Change settings of zone",
        "operationId": "put-homes-by-home-zones-by-zone-overlay"
      },
      "delete": {
        "tags": [
          "Zone"
        ],
        "summary": "Delete overlay settings and return to scheduled program",
        "parameters": [
          {
            "name": "home",
            "in": "path",
            "description": "Unique identifier of home",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "zone",
            "in": "path",
            "description": "Unique identifier of zone",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Overlay removed",
            "content": {}
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Delete overlay settings and return to scheduled program",
        "operationId": "delete-homes-by-home-zones-by-zone-overlay"
      }
    },
    "/homes/{home}/zones/{zone}/state": {
      "get": {
        "tags": [
          "Zone"
        ],
        "summary": "Current state of a zone",
        "parameters": [
          {
            "name": "home",
            "in": "path",
            "description": "Unique identifier of home",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "zone",
            "in": "path",
            "description": "Unique identifier of zone",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "State of zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/state"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Current state of a zone",
        "operationId": "get-homes-by-home-zones-by-zone-state"
      }
    },
    "/homes/{home}/zones/{zone}/capabilities": {
      "get": {
        "tags": [
          "Zone"
        ],
        "summary": "Capabilities of a zone",
        "parameters": [
          {
            "name": "home",
            "in": "path",
            "description": "Unique identifier of home",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "zone",
            "in": "path",
            "description": "Unique identifier of zone",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "State of zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/capability"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Capabilities of a zone",
        "operationId": "get-homes-by-home-zones-by-zone-capabilities"
      }
    },
    "/homes/{home}/zones/{zone}/schedule/activeTimetable": {
      "get": {
        "tags": [
          "Zone"
        ],
        "summary": "Active schedule timetable of a zone",
        "parameters": [
          {
            "name": "home",
            "in": "path",
            "description": "Unique identifier of home",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "zone",
            "in": "path",
            "description": "Unique identifier of zone",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "activeTimetable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/timetable"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Active schedule timetable of a zone",
        "operationId": "get-homes-by-home-zones-by-zone-schedule-activetimetable"
      }
    },
    "/homes/{home}/zones/{zone}/schedule/timetables": {
      "get": {
        "tags": [
          "Zone"
        ],
        "summary": "List timetables of a zone",
        "parameters": [
          {
            "name": "home",
            "in": "path",
            "description": "Unique identifier of home",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "zone",
            "in": "path",
            "description": "Unique identifier of zone",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of timetables",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/timetable"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "List timetables of a zone",
        "operationId": "get-homes-by-home-zones-by-zone-schedule-timetables"
      }
    },
    "/homes/{home}/zones/{zone}/schedule/timetables/{timetable}/blocks": {
      "get": {
        "tags": [
          "Zone"
        ],
        "summary": "Blocks of a timetable",
        "parameters": [
          {
            "name": "home",
            "in": "path",
            "description": "Unique identifier of home",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "zone",
            "in": "path",
            "description": "Unique identifier of zone",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timetable",
            "in": "path",
            "description": "Unique identifier of timetable",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "list of blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/timetableBlock"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Blocks of a timetable",
        "operationId": "get-homes-by-home-zones-by-zone-schedule-timetables-by-timetable-blocks"
      }
    },
    "/homes/{home}/weather": {
      "get": {
        "tags": [
          "Home"
        ],
        "summary": "Weather at location of a home",
        "parameters": [
          {
            "name": "home",
            "in": "path",
            "description": "Unique identifier of home",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current weather information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/weather"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Weather at location of a home",
        "operationId": "get-homes-by-home-weather"
      }
    }
  },
  "components": {
    "schemas": {
      "Profile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Fullname of the user."
          },
          "email": {
            "type": "string",
            "description": "Email address of the user."
          },
          "username": {
            "type": "string",
            "description": "Username of the user, for now same as email"
          },
          "locale": {
            "type": "string",
            "description": "Two letter locale setting"
          },
          "homes": {
            "type": "array",
            "description": "List of homes linked to profile.",
            "items": {
              "$ref": "#/components/schemas/basicHome"
            }
          },
          "mobileDevices": {
            "type": "array",
            "description": "List of mobile devices linked to profile",
            "items": {
              "$ref": "#/components/schemas/mobileDevice"
            }
          }
        }
      },
      "basicHome": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Numeric unique identifier of the home"
          },
          "name": {
            "type": "string",
            "description": "Name of the home as set by user"
          }
        }
      },
      "home": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Numeric unique identifier of the home"
          },
          "name": {
            "type": "string",
            "description": "Name of the home as set by user"
          },
          "dateTimeZone": {
            "type": "string",
            "example": "Europe/Amsterdam"
          },
          "temperatureUnit": {
            "type": "string",
            "enum": [
              "CELCIUS"
            ]
          },
          "installationCompleted": {
            "type": "boolean"
          },
          "partner": {
            "type": "string"
          },
          "simpleSmartScheduleEnabled": {
            "type": "boolean"
          },
          "christmasModeEnabled": {
            "type": "boolean"
          },
          "contactDetails": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              }
            }
          },
          "address": {
            "type": "object",
            "properties": {
              "addressLine1": {
                "type": "string"
              },
              "addressLine2": {
                "type": "string"
              },
              "zipCode": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "country": {
                "type": "string",
                "description": "Three letter country code",
                "example": "NLD"
              }
            }
          },
          "geolocation": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "integer"
              },
              "longitude": {
                "type": "integer"
              }
            }
          }
        },
        "description": "Complete home object"
      },
      "timetableBlock": {
        "type": "object",
        "properties": {
          "dayType": {
            "type": "string",
            "enum": [
              "MONDAY_TO_SUNDAY"
            ]
          },
          "start": {
            "type": "string",
            "format": "time"
          },
          "end": {
            "type": "string",
            "format": "time"
          },
          "geolocationOverride": {
            "type": "boolean"
          },
          "modeId": {
            "type": "integer"
          },
          "setting": {
            "required": [
              "power",
              "type"
            ],
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "HEATING"
                ]
              },
              "power": {
                "type": "string",
                "enum": [
                  "OFF",
                  "ON"
                ]
              },
              "temperature": {
                "type": "object",
                "properties": {
                  "celcius": {
                    "type": "integer"
                  },
                  "fahrenheit": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "timetable": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "ONE_DAY",
              "THREE_DAY",
              "SEVEN_DAY"
            ]
          }
        }
      },
      "mobileDevice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Numeric unique identifier of the mobile device"
          },
          "name": {
            "type": "string",
            "description": "Name of the device as set by user"
          },
          "settings": {
            "type": "object",
            "properties": {
              "geoTrackingEnabled": {
                "type": "boolean"
              }
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "stale": {
                "type": "boolean"
              },
              "atHome": {
                "type": "boolean"
              },
              "relativeDistanceFromHomeFence": {
                "type": "integer"
              },
              "bearingFromHome": {
                "type": "object",
                "properties": {
                  "degrees": {
                    "type": "integer"
                  },
                  "radians": {
                    "type": "integer",
                    "format": "float"
                  }
                }
              }
            }
          }
        }
      },
      "device": {
        "type": "object",
        "properties": {
          "deviceType": {
            "type": "string",
            "enum": [
              "RU01",
              "VA01",
              "GW03"
            ]
          },
          "serialNo": {
            "type": "string"
          },
          "shortSerialNo": {
            "type": "string"
          },
          "gatewayOperation": {
            "type": "string",
            "enum": [
              "NORMAL"
            ]
          },
          "connectionState": {
            "type": "object",
            "properties": {
              "value": {
                "type": "boolean"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "mountingState": {
            "type": "object",
            "properties": {
              "value": {
                "type": "boolean"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "characteristics": {
            "type": "object",
            "properties": {
              "capabilities": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "INSIDE_TEMPERATURE_MEASUREMENT",
                    "IDENTIFY"
                  ]
                }
              }
            }
          }
        },
        "description": "Tado device"
      },
      "zone": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Numeric unique identifier of the zone"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "HEATING"
            ]
          },
          "reportAvailable": {
            "type": "boolean"
          },
          "supportsDazzle": {
            "type": "boolean"
          },
          "deviceTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "RU01",
                "VA01"
              ]
            }
          },
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/device"
            }
          }
        },
        "description": "zone object"
      },
      "overlay": {
        "required": [
          "setting",
          "termination"
        ],
        "type": "object",
        "properties": {
          "setting": {
            "required": [
              "power",
              "type"
            ],
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "HEATING"
                ]
              },
              "power": {
                "type": "string",
                "enum": [
                  "OFF",
                  "ON"
                ]
              },
              "temperature": {
                "type": "object",
                "properties": {
                  "celcius": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "termination": {
            "required": [
              "type"
            ],
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "MANUAL",
                  "TIMER",
                  "TADO_MODE"
                ]
              },
              "durationInSeconds": {
                "type": "integer"
              }
            }
          }
        },
        "description": "overlay object"
      },
      "installation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Numeric unique identifier of the installation"
          },
          "type": {
            "type": "string",
            "enum": [
              "INSTALL_ST_G1"
            ]
          },
          "revision": {
            "type": "integer"
          },
          "supportsDazzle": {
            "type": "boolean"
          },
          "state": {
            "type": "string",
            "enum": [
              "COMPLETE"
            ]
          },
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/device"
            }
          }
        },
        "description": "Installation process"
      },
      "state": {
        "type": "object",
        "properties": {
          "tadoMode": {
            "type": "string",
            "description": "Mode of the Tado system",
            "enum": [
              "HOME",
              "AWAY"
            ]
          },
          "geolocationOverride": {
            "type": "boolean"
          },
          "geolocationOverrideDisableTime": {
            "type": "string"
          },
          "preparation": {
            "type": "string"
          },
          "setting": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "HEATING"
                ]
              },
              "power": {
                "type": "string",
                "enum": [
                  "OFF",
                  "ON"
                ]
              },
              "temperature": {
                "type": "integer"
              }
            }
          },
          "overlayType": {
            "type": "string"
          },
          "overlay": {
            "type": "string"
          },
          "link": {
            "type": "object",
            "properties": {
              "state": {
                "type": "string",
                "enum": [
                  "ONLINE"
                ]
              }
            }
          },
          "activityDataPoints": {
            "type": "object",
            "properties": {
              "heatingPower": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "PERCENTAGE"
                    ]
                  },
                  "percentage": {
                    "type": "integer"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "sensorDataPoints": {
            "type": "object",
            "properties": {
              "insideTemperature": {
                "type": "object",
                "properties": {
                  "celsius": {
                    "type": "integer"
                  },
                  "fahrenheit": {
                    "type": "integer"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "precision": {
                    "type": "object",
                    "properties": {
                      "celsius": {
                        "type": "integer"
                      },
                      "fahrenheit": {
                        "type": "integer"
                      }
                    }
                  }
                }
              },
              "humidity": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "PERCENTAGE"
                    ]
                  },
                  "percentage": {
                    "type": "integer"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "description": "Current state"
      },
      "capability": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of capability",
            "enum": [
              "HEATING"
            ]
          },
          "temperatures": {
            "type": "object",
            "properties": {
              "celcius": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "integer"
                  },
                  "max": {
                    "type": "integer"
                  },
                  "step": {
                    "type": "integer"
                  }
                }
              },
              "fahrenheit": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "integer"
                  },
                  "max": {
                    "type": "integer"
                  },
                  "step": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "description": "Capability definition"
      },
      "weather": {
        "type": "object",
        "properties": {
          "solarIntensity": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "PERCENTAGE"
                ]
              },
              "percentage": {
                "type": "integer"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "outsideTemperature": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "TEMPERATURE"
                ]
              },
              "celcius": {
                "type": "integer"
              },
              "fahrenheit": {
                "type": "integer"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "precision": {
                "type": "object",
                "properties": {
                  "celcius": {
                    "type": "integer"
                  },
                  "fahrenheit": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "weatherState": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "WEATHER_STATE"
                ]
              },
              "value": {
                "type": "string",
                "enum": [
                  "FOGGY",
                  "CLOUDY_PARTLY"
                ]
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        },
        "description": "Weather"
      },
      "Error": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oAuthSecurity": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://example.com/oauth/authorize",
            "scopes": {}
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0",
  "tags": [
    {
      "name": "Home"
    },
    {
      "name": "Profile"
    },
    {
      "name": "Zone"
    }
  ]
}
