{
  "openapi": "3.0.3",
  "info": {
    "title": "FarmENGAGE Data API",
    "description": "API for managing agricultural data including clients, farms, fields, boundaries, guidance lines, landmarks, crop zones, vehicles, contacts, management zones, prescriptions, work orders, equipment activities, layers, materials, documents, imagery, and inventory.",
    "version": "3.0.0",
    "x-jentic-source-url": "https://ptxag.com/us/en/partners/developers/api"
  },
  "servers": [
    {
      "url": "https://api.farmengage.com/prod/externalApi/3.0",
      "description": "FarmENGAGE Production Server"
    }
  ],
  "paths": {
    "/adaptplugin/token": {
      "post": {
        "operationId": "generateAdaptToken",
        "summary": "Generate ADAPT token",
        "description": "Generates an ADAPT token for an applicationId.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Base64 encoded token string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/inventory/{orgId}/balances/{cropYear}": {
      "get": {
        "operationId": "listInventoryBalances",
        "summary": "Get inventory balances",
        "description": "Get a list of Inventory Balances for a given crop year.",
        "tags": [
          "Inventory"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "name": "cropYear",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "materialType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Seed",
                "Chemical",
                "Fertilizer",
                "Manure"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/inventory/{orgId}/materials/{materialId}/balance": {
      "get": {
        "operationId": "getMaterialBalance",
        "summary": "Get material inventory balance",
        "description": "Get Inventory Balance detail for a Material.",
        "tags": [
          "Inventory"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "name": "materialId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cropYear",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resources/{orgId}/boundaries": {
      "get": {
        "operationId": "listBoundaries",
        "summary": "List boundaries",
        "description": "Get the list of Boundaries for an organization.",
        "tags": [
          "Boundaries"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoundarySummaryActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createBoundary",
        "summary": "Create a boundary",
        "description": "Create a Boundary for an organization.",
        "tags": [
          "Boundaries"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertBoundary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Boundary created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resources/{orgId}/boundaries/{id}": {
      "get": {
        "operationId": "getBoundary",
        "summary": "Get boundary details",
        "description": "Get detail for a Boundary.",
        "tags": [
          "Boundaries"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Boundary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateBoundary",
        "summary": "Update a boundary",
        "description": "Update a Boundary.",
        "tags": [
          "Boundaries"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertBoundary"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Boundary updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteBoundary",
        "summary": "Delete a boundary",
        "description": "Delete a Boundary.",
        "tags": [
          "Boundaries"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Boundary deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/resources/{orgId}/clients": {
      "get": {
        "operationId": "listClients",
        "summary": "List clients",
        "description": "Get list of Clients for an organization.",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientSummaryActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createClient",
        "summary": "Create a client",
        "description": "Create a Client for an organization.",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertClient"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resources/{orgId}/clients/{id}": {
      "get": {
        "operationId": "getClient",
        "summary": "Get client details",
        "description": "Get Client details.",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateClient",
        "summary": "Update a client",
        "description": "Update a Client.",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertClient"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Client updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/resources/{orgId}/farms": {
      "get": {
        "operationId": "listFarms",
        "summary": "List farms",
        "description": "Get list of Farms for an organization.",
        "tags": [
          "Farms"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FarmSummaryActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createFarm",
        "summary": "Create a farm",
        "description": "Create a Farm for an organization.",
        "tags": [
          "Farms"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertFarm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Farm created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resources/{orgId}/farms/{id}": {
      "get": {
        "operationId": "getFarm",
        "summary": "Get farm details",
        "description": "Get Farm details.",
        "tags": [
          "Farms"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Farm"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateFarm",
        "summary": "Update a farm",
        "description": "Update a Farm.",
        "tags": [
          "Farms"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertFarm"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Farm updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/resources/{orgId}/fields": {
      "get": {
        "operationId": "listFields",
        "summary": "List fields",
        "description": "Get list of Fields for an organization.",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldSummaryActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createField",
        "summary": "Create a field",
        "description": "Create a Field for an organization.",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertField"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Field created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resources/{orgId}/fields/{id}": {
      "get": {
        "operationId": "getField",
        "summary": "Get field details",
        "description": "Get Field details.",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateField",
        "summary": "Update a field",
        "description": "Update a Field.",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertField"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Field updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/resources/{orgId}/guidancelines": {
      "get": {
        "operationId": "listGuidanceLines",
        "summary": "List guidance lines",
        "description": "Get list of Guidance Lines for an organization.",
        "tags": [
          "Guidance Lines"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidanceLineSummaryActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createGuidanceLine",
        "summary": "Create a guidance line",
        "description": "Create a Guidance Line for an organization.",
        "tags": [
          "Guidance Lines"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertGuidanceline"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Guidance line created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resources/{orgId}/guidancelines/{id}": {
      "get": {
        "operationId": "getGuidanceLine",
        "summary": "Get guidance line details",
        "description": "Get Guidance Line details.",
        "tags": [
          "Guidance Lines"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guidanceline"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateGuidanceLine",
        "summary": "Update a guidance line",
        "description": "Update a Guidance Line.",
        "tags": [
          "Guidance Lines"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertGuidanceline"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Guidance line updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/resources/{orgId}/landmarks": {
      "get": {
        "operationId": "listLandmarks",
        "summary": "List landmarks",
        "description": "Get list of Landmarks for an organization.",
        "tags": [
          "Landmarks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LandmarkSummaryActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createLandmark",
        "summary": "Create a landmark",
        "description": "Create a Landmark for an organization.",
        "tags": [
          "Landmarks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertLandmark"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Landmark created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resources/{orgId}/landmarks/{id}": {
      "get": {
        "operationId": "getLandmark",
        "summary": "Get landmark details",
        "description": "Get Landmark details.",
        "tags": [
          "Landmarks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Landmark"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateLandmark",
        "summary": "Update a landmark",
        "description": "Update a Landmark.",
        "tags": [
          "Landmarks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertLandmark"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Landmark updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/resources/{orgId}/cropzones": {
      "get": {
        "operationId": "listCropZones",
        "summary": "List crop zones",
        "description": "Get list of Crop Zones for an organization.",
        "tags": [
          "Crop Zones"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CropZoneSummaryActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCropZone",
        "summary": "Create a crop zone",
        "description": "Create a Crop Zone for an organization.",
        "tags": [
          "Crop Zones"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertCropzone"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Crop zone created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resources/{orgId}/cropzones/{id}": {
      "get": {
        "operationId": "getCropZone",
        "summary": "Get crop zone details",
        "description": "Get Crop Zone details.",
        "tags": [
          "Crop Zones"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cropzone"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateCropZone",
        "summary": "Update a crop zone",
        "description": "Update a Crop Zone.",
        "tags": [
          "Crop Zones"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertCropzone"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Crop zone updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/resources/{orgId}/vehicles": {
      "get": {
        "operationId": "listVehicles",
        "summary": "List vehicles",
        "description": "Get list of Vehicles for an organization.",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleSummaryActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createVehicle",
        "summary": "Create a vehicle",
        "description": "Create a Vehicle for an organization.",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertVehicle"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vehicle created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resources/{orgId}/vehicles/{id}": {
      "get": {
        "operationId": "getVehicle",
        "summary": "Get vehicle details",
        "description": "Get Vehicle details.",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vehicle"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateVehicle",
        "summary": "Update a vehicle",
        "description": "Update a Vehicle.",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertVehicle"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Vehicle updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/resources/{orgId}/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "description": "Get list of Contacts for an organization.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSummaryActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create a contact",
        "description": "Create a Contact for an organization.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertContact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resources/{orgId}/contacts/{id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get contact details",
        "description": "Get Contact details.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "description": "Update a Contact.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertContact"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Contact updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/resources/{orgId}/managementzones": {
      "get": {
        "operationId": "listManagementZones",
        "summary": "List management zones",
        "description": "Get list of Management Zones for an organization.",
        "tags": [
          "Management Zones"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagementZoneSummaryActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createManagementZone",
        "summary": "Create a management zone",
        "description": "Create a Management Zone for an organization.",
        "tags": [
          "Management Zones"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertManagementzone"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Management zone created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/prescriptions/{orgId}/rx/importjob": {
      "post": {
        "operationId": "initiatePrescriptionImport",
        "summary": "Initiate prescription import",
        "description": "Initiate a Prescription Import job.",
        "tags": [
          "Prescriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrescriptionImportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/prescriptions/{orgId}/rx/importjob/{jobId}": {
      "patch": {
        "operationId": "uploadPrescriptionFile",
        "summary": "Upload prescription file",
        "description": "Upload prescription file for import.",
        "tags": [
          "Prescriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "File uploaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/prescriptions/{orgId}/rx/importjob/{jobId}/status": {
      "get": {
        "operationId": "getPrescriptionImportStatus",
        "summary": "Get prescription import status",
        "description": "Get prescription import job status.",
        "tags": [
          "Prescriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Import status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/workorders/{orgId}/orders": {
      "get": {
        "operationId": "listWorkOrders",
        "summary": "List work orders",
        "description": "Get list of Work Orders for an organization.",
        "tags": [
          "Work Orders"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderSummaryActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createWorkOrder",
        "summary": "Create a work order",
        "description": "Create a Work Order for an organization.",
        "tags": [
          "Work Orders"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWorkorder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Work order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/workorders/{orgId}/orders/{id}": {
      "get": {
        "operationId": "getWorkOrder",
        "summary": "Get work order details",
        "description": "Get Work Order details.",
        "tags": [
          "Work Orders"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workorder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateWorkOrder",
        "summary": "Update work order status",
        "description": "Update Work Order status.",
        "tags": [
          "Work Orders"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWorkorder"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Work order updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tasks/{orgId}/equipmentactivities": {
      "get": {
        "operationId": "listEquipmentActivities",
        "summary": "List equipment activities",
        "description": "Get list of Equipment Activities for an organization.",
        "tags": [
          "Equipment Activities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentActivityActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks/{orgId}/equipmentactivities/{id}": {
      "get": {
        "operationId": "getEquipmentActivity",
        "summary": "Get equipment activity details",
        "description": "Get Equipment Activity details.",
        "tags": [
          "Equipment Activities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentActivity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tasks/{orgId}/layers": {
      "get": {
        "operationId": "listLayers",
        "summary": "List layers",
        "description": "Get list of Layers for an equipment activity.",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "name": "equipmentActivityId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayerActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tasks/{orgId}/layers/{id}": {
      "get": {
        "operationId": "getLayer",
        "summary": "Get layer details",
        "description": "Get Layer details.",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Layer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/tasks/{orgId}/layers/{id}/samples": {
      "get": {
        "operationId": "getLayerSamples",
        "summary": "Get layer samples",
        "description": "Get Layer samples.",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SampleActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/materials/{orgId}/materials": {
      "get": {
        "operationId": "listMaterials",
        "summary": "List materials",
        "description": "Get list of Materials for an organization.",
        "tags": [
          "Materials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "name": "materialType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Seed",
                "Chemical",
                "Fertilizer",
                "Manure"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaterialActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createMaterial",
        "summary": "Create a material",
        "description": "Create a Material for an organization.",
        "tags": [
          "Materials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertMaterial"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Material created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/materials/{orgId}/materials/{id}": {
      "get": {
        "operationId": "getMaterial",
        "summary": "Get material details",
        "description": "Get Material details.",
        "tags": [
          "Materials"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Material"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/documents/{orgId}/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List documents",
        "description": "Get list of Documents for an organization.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "uploadDocument",
        "summary": "Upload a document",
        "description": "Upload a Document for an organization.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/documents/{orgId}/documents/{id}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Get document",
        "description": "Get Document details or download.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/resourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Document file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/imagery/{orgId}/images": {
      "get": {
        "operationId": "listImages",
        "summary": "List images",
        "description": "Get list of Images for an organization.",
        "tags": [
          "Imagery"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          },
          {
            "$ref": "#/components/parameters/bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "uploadImage",
        "summary": "Upload a GeoTIFF image",
        "description": "Upload a GeoTIFF image for an organization.",
        "tags": [
          "Imagery"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuidIdResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/imagery/{orgId}/imagetemplates": {
      "get": {
        "operationId": "listImageTemplates",
        "summary": "List image templates",
        "description": "Get list of Image Templates for an organization.",
        "tags": [
          "Imagery"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/orgId"
          },
          {
            "$ref": "#/components/parameters/includeLinks"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageTemplateActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "orgId": {
        "name": "orgId",
        "in": "path",
        "required": true,
        "description": "Organization UUID",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "resourceId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Resource UUID",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "includeLinks": {
        "name": "includeLinks",
        "in": "query",
        "description": "Whether to include HATEOAS links in response",
        "schema": {
          "type": "boolean",
          "default": true
        }
      },
      "bookmark": {
        "name": "bookmark",
        "in": "query",
        "description": "Pagination bookmark from previous response",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - missing or invalid bearer token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 Bearer token. Tokens expire after 1 hour."
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://onelogin.agcocorp.com/051b9332-1f85-46f9-87be-a6ea3157fd86/oauth2/v2.0/authorize",
            "tokenUrl": "https://onelogin.agcocorp.com/051b9332-1f85-46f9-87be-a6ea3157fd86/oauth2/v2.0/token?p=b2c_1a_signin_ptx",
            "scopes": {}
          },
          "clientCredentials": {
            "tokenUrl": "https://onelogin.agcocorp.com/051b9332-1f85-46f9-87be-a6ea3157fd86/oauth2/v2.0/token?p=b2c_1a_signin_ptx",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "GuidIdResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "JobIdResult": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string"
          },
          "href": {
            "type": "string"
          },
          "method": {
            "type": "string"
          }
        }
      },
      "UpsertBoundary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "fieldId": {
            "type": "string",
            "format": "uuid"
          },
          "geometry": {
            "type": "object"
          }
        }
      },
      "Boundary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "fieldId": {
            "type": "string",
            "format": "uuid"
          },
          "geometry": {
            "type": "object"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "BoundarySummaryActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Boundary"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "UpsertClient": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "ClientSummaryActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Client"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "UpsertFarm": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "clientId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Farm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "clientId": {
            "type": "string",
            "format": "uuid"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "FarmSummaryActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Farm"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "UpsertField": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "farmId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Field": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "farmId": {
            "type": "string",
            "format": "uuid"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "FieldSummaryActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Field"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "UpsertGuidanceline": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "fieldId": {
            "type": "string",
            "format": "uuid"
          },
          "geometry": {
            "type": "object"
          }
        }
      },
      "Guidanceline": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "fieldId": {
            "type": "string",
            "format": "uuid"
          },
          "geometry": {
            "type": "object"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "GuidanceLineSummaryActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Guidanceline"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "UpsertLandmark": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "geometry": {
            "type": "object"
          }
        }
      },
      "Landmark": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "geometry": {
            "type": "object"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "LandmarkSummaryActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Landmark"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "UpsertCropzone": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "fieldId": {
            "type": "string",
            "format": "uuid"
          },
          "cropYear": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Cropzone": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "fieldId": {
            "type": "string",
            "format": "uuid"
          },
          "cropYear": {
            "type": "integer",
            "format": "int32"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "CropZoneSummaryActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cropzone"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "UpsertVehicle": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          }
        }
      },
      "Vehicle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "VehicleSummaryActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vehicle"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "UpsertContact": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "ContactSummaryActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "UpsertManagementzone": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "fieldId": {
            "type": "string",
            "format": "uuid"
          },
          "geometry": {
            "type": "object"
          }
        }
      },
      "ManagementZoneSummaryActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "PrescriptionImportRequest": {
        "type": "object",
        "properties": {
          "fieldId": {
            "type": "string",
            "format": "uuid"
          },
          "fileName": {
            "type": "string"
          }
        }
      },
      "ImportStatusResponse": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "UpsertWorkorder": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Workorder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "WorkOrderSummaryActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Workorder"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "EquipmentActivity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "EquipmentActivityActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EquipmentActivity"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "Layer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "LayerActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Layer"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "SampleActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "UpsertMaterial": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "materialType": {
            "type": "string",
            "enum": [
              "Seed",
              "Chemical",
              "Fertilizer",
              "Manure"
            ]
          }
        }
      },
      "Material": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "materialType": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "MaterialActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Material"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "DocumentActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "ImageActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "ImageTemplateActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "BalanceActionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "bookmark": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}