{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudbeds API",
    "version": "1.3.0",
    "description": "Cloudbeds provides comprehensive hotel management APIs including PMS, accounting, reservations, and more.",
    "x-jentic-source-url": "https://developers.cloudbeds.com/reference",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.cloudbeds.com",
      "description": "Production"
    },
    {
      "url": "https://api.us2.cloudbeds-stage.com",
      "description": "Staging"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth and user info"
    },
    {
      "name": "Guests",
      "description": "Guest management"
    },
    {
      "name": "Reservations",
      "description": "Reservation operations"
    },
    {
      "name": "Rooms",
      "description": "Room management"
    },
    {
      "name": "Payments",
      "description": "Payment processing"
    },
    {
      "name": "Rates",
      "description": "Rate management"
    },
    {
      "name": "Items",
      "description": "Item and inventory"
    },
    {
      "name": "Housekeeping",
      "description": "Housekeeping operations"
    },
    {
      "name": "Hotels",
      "description": "Property management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook management"
    }
  ],
  "paths": {
    "/oauth/access_token": {
      "post": {
        "summary": "Get access token",
        "tags": [
          "Authentication"
        ],
        "operationId": "getAccessToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "code": {
                    "type": "string"
                  },
                  "refresh_token": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        },
        "description": "Get access token"
      }
    },
    "/oauth/userinfo": {
      "get": {
        "summary": "Get user info",
        "tags": [
          "Authentication"
        ],
        "operationId": "getUserInfo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          }
        },
        "description": "Get user info"
      }
    },
    "/guest": {
      "get": {
        "summary": "Get guest",
        "tags": [
          "Guests"
        ],
        "operationId": "getGuest",
        "parameters": [
          {
            "name": "guestID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              }
            }
          }
        },
        "description": "Get guest"
      },
      "post": {
        "summary": "Create guest",
        "tags": [
          "Guests"
        ],
        "operationId": "createGuest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuestInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              }
            }
          }
        },
        "description": "Create guest"
      },
      "put": {
        "summary": "Update guest",
        "tags": [
          "Guests"
        ],
        "operationId": "updateGuest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuestInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              }
            }
          }
        },
        "description": "Update guest"
      }
    },
    "/guest/list": {
      "get": {
        "summary": "List guests",
        "tags": [
          "Guests"
        ],
        "operationId": "listGuests",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestList"
                }
              }
            }
          }
        },
        "description": "List guests"
      }
    },
    "/guest/note": {
      "post": {
        "summary": "Add guest note",
        "tags": [
          "Guests"
        ],
        "operationId": "addGuestNote",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Add guest note"
      }
    },
    "/reservation": {
      "get": {
        "summary": "Get reservation",
        "tags": [
          "Reservations"
        ],
        "operationId": "getReservation",
        "parameters": [
          {
            "name": "reservationID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reservation"
                }
              }
            }
          }
        },
        "description": "Get reservation"
      },
      "post": {
        "summary": "Create reservation",
        "tags": [
          "Reservations"
        ],
        "operationId": "createReservation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservationInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reservation"
                }
              }
            }
          }
        },
        "description": "Create reservation"
      },
      "put": {
        "summary": "Update reservation",
        "tags": [
          "Reservations"
        ],
        "operationId": "updateReservation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "Update reservation"
      }
    },
    "/reservations": {
      "get": {
        "summary": "List reservations",
        "tags": [
          "Reservations"
        ],
        "operationId": "listReservations",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationList"
                }
              }
            }
          }
        },
        "description": "List reservations"
      }
    },
    "/rooms": {
      "get": {
        "summary": "List rooms",
        "tags": [
          "Rooms"
        ],
        "operationId": "listRooms",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomList"
                }
              }
            }
          }
        },
        "description": "List rooms"
      }
    },
    "/room-types": {
      "get": {
        "summary": "Get room types",
        "tags": [
          "Rooms"
        ],
        "operationId": "getRoomTypes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomTypeList"
                }
              }
            }
          }
        },
        "description": "Get room types"
      }
    },
    "/room/assign": {
      "post": {
        "summary": "Assign room",
        "tags": [
          "Rooms"
        ],
        "operationId": "assignRoom",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoomAssignment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "Assign room"
      }
    },
    "/room/checkin": {
      "post": {
        "summary": "Check in",
        "tags": [
          "Rooms"
        ],
        "operationId": "checkIn",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckInInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "Check in"
      }
    },
    "/room/checkout": {
      "post": {
        "summary": "Check out",
        "tags": [
          "Rooms"
        ],
        "operationId": "checkOut",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckOutInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "Check out"
      }
    },
    "/payment": {
      "post": {
        "summary": "Process payment",
        "tags": [
          "Payments"
        ],
        "operationId": "processPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          }
        },
        "description": "Process payment"
      }
    },
    "/payment/methods": {
      "get": {
        "summary": "List payment methods",
        "tags": [
          "Payments"
        ],
        "operationId": "listPaymentMethods",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodList"
                }
              }
            }
          }
        },
        "description": "List payment methods"
      }
    },
    "/charge": {
      "post": {
        "summary": "Create charge",
        "tags": [
          "Payments"
        ],
        "operationId": "createCharge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargeInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create charge"
      }
    },
    "/rate": {
      "get": {
        "summary": "Get rate",
        "tags": [
          "Rates"
        ],
        "operationId": "getRate",
        "parameters": [
          {
            "name": "rateID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rate"
                }
              }
            }
          }
        },
        "description": "Get rate"
      },
      "post": {
        "summary": "Update rate",
        "tags": [
          "Rates"
        ],
        "operationId": "updateRate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "Update rate"
      }
    },
    "/rates": {
      "get": {
        "summary": "List rates",
        "tags": [
          "Rates"
        ],
        "operationId": "listRates",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateList"
                }
              }
            }
          }
        },
        "description": "List rates"
      }
    },
    "/item": {
      "get": {
        "summary": "Get item",
        "tags": [
          "Items"
        ],
        "operationId": "getItem",
        "parameters": [
          {
            "name": "itemID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          }
        },
        "description": "Get item"
      },
      "post": {
        "summary": "Create item",
        "tags": [
          "Items"
        ],
        "operationId": "createItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create item"
      }
    },
    "/items": {
      "get": {
        "summary": "List items",
        "tags": [
          "Items"
        ],
        "operationId": "listItems",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemList"
                }
              }
            }
          }
        },
        "description": "List items"
      }
    },
    "/housekeeping/status": {
      "get": {
        "summary": "Get housekeeping status",
        "tags": [
          "Housekeeping"
        ],
        "operationId": "getHousekeepingStatus",
        "parameters": [
          {
            "name": "roomID",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HousekeepingStatus"
                }
              }
            }
          }
        },
        "description": "Get housekeeping status"
      },
      "post": {
        "summary": "Update housekeeping status",
        "tags": [
          "Housekeeping"
        ],
        "operationId": "updateHousekeepingStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HousekeepingStatusInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "description": "Update housekeeping status"
      }
    },
    "/hotels": {
      "get": {
        "summary": "List properties",
        "tags": [
          "Hotels"
        ],
        "operationId": "listHotels",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HotelList"
                }
              }
            }
          }
        },
        "description": "List properties"
      }
    },
    "/hotel/details": {
      "get": {
        "summary": "Get property details",
        "tags": [
          "Hotels"
        ],
        "operationId": "getHotelDetails",
        "parameters": [
          {
            "name": "propertyID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hotel"
                }
              }
            }
          }
        },
        "description": "Get property details"
      }
    },
    "/webhook": {
      "post": {
        "summary": "Register webhook",
        "tags": [
          "Webhooks"
        ],
        "operationId": "registerWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Register webhook"
      },
      "delete": {
        "summary": "Delete webhook",
        "tags": [
          "Webhooks"
        ],
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "webhookID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "description": "Delete webhook"
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ],
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookList"
                }
              }
            }
          }
        },
        "description": "List webhooks"
      }
    }
  },
  "components": {
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "refresh_token": {
            "type": "string"
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "userID": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Guest": {
        "type": "object",
        "properties": {
          "guestID": {
            "type": "string"
          },
          "guestFirstName": {
            "type": "string"
          },
          "guestLastName": {
            "type": "string"
          },
          "guestEmail": {
            "type": "string"
          },
          "guestPhone": {
            "type": "string"
          }
        }
      },
      "GuestInput": {
        "type": "object",
        "required": [
          "guestFirstName",
          "guestLastName"
        ],
        "properties": {
          "guestFirstName": {
            "type": "string"
          },
          "guestLastName": {
            "type": "string"
          },
          "guestEmail": {
            "type": "string"
          },
          "guestPhone": {
            "type": "string"
          }
        }
      },
      "GuestList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Guest"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Reservation": {
        "type": "object",
        "properties": {
          "reservationID": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string"
          },
          "guestID": {
            "type": "string"
          }
        }
      },
      "ReservationInput": {
        "type": "object",
        "required": [
          "startDate",
          "endDate",
          "roomTypeID"
        ],
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "roomTypeID": {
            "type": "string"
          },
          "guestID": {
            "type": "string"
          }
        }
      },
      "ReservationList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reservation"
            }
          }
        }
      },
      "Room": {
        "type": "object",
        "properties": {
          "roomID": {
            "type": "string"
          },
          "roomName": {
            "type": "string"
          },
          "roomTypeID": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "RoomList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Room"
            }
          }
        }
      },
      "RoomTypeList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "RoomAssignment": {
        "type": "object",
        "required": [
          "reservationID",
          "roomID"
        ],
        "properties": {
          "reservationID": {
            "type": "string"
          },
          "roomID": {
            "type": "string"
          }
        }
      },
      "CheckInInput": {
        "type": "object",
        "required": [
          "reservationID"
        ],
        "properties": {
          "reservationID": {
            "type": "string"
          }
        }
      },
      "CheckOutInput": {
        "type": "object",
        "required": [
          "reservationID"
        ],
        "properties": {
          "reservationID": {
            "type": "string"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "paymentID": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PaymentInput": {
        "type": "object",
        "required": [
          "reservationID",
          "amount"
        ],
        "properties": {
          "reservationID": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "paymentMethodID": {
            "type": "string"
          }
        }
      },
      "PaymentMethodList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ChargeInput": {
        "type": "object",
        "required": [
          "reservationID",
          "amount",
          "description"
        ],
        "properties": {
          "reservationID": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Rate": {
        "type": "object",
        "properties": {
          "rateID": {
            "type": "string"
          },
          "rateName": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "RateInput": {
        "type": "object",
        "required": [
          "rateID",
          "amount"
        ],
        "properties": {
          "rateID": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "RateList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rate"
            }
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "itemID": {
            "type": "string"
          },
          "itemName": {
            "type": "string"
          },
          "price": {
            "type": "number"
          }
        }
      },
      "ItemInput": {
        "type": "object",
        "required": [
          "itemName",
          "price"
        ],
        "properties": {
          "itemName": {
            "type": "string"
          },
          "price": {
            "type": "number"
          }
        }
      },
      "ItemList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          }
        }
      },
      "HousekeepingStatus": {
        "type": "object",
        "properties": {
          "roomID": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "HousekeepingStatusInput": {
        "type": "object",
        "required": [
          "roomID",
          "status"
        ],
        "properties": {
          "roomID": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Hotel": {
        "type": "object",
        "properties": {
          "propertyID": {
            "type": "string"
          },
          "propertyName": {
            "type": "string"
          },
          "address": {
            "type": "string"
          }
        }
      },
      "HotelList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Hotel"
            }
          }
        }
      },
      "WebhookInput": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WebhookList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "NoteInput": {
        "type": "object",
        "required": [
          "guestID",
          "note"
        ],
        "properties": {
          "guestID": {
            "type": "string"
          },
          "note": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://example.com/oauth/authorize",
            "scopes": {}
          }
        }
      }
    }
  }
}
