{
  "openapi": "3.0.3",
  "info": {
    "title": "Crove API",
    "description": "Crove is a document automation platform. This API provides endpoints for managing webhooks, Zapier integrations, user management, and authentication.",
    "version": "1.0.0",
    "contact": {
      "email": "contact@crove.app"
    },
    "license": {
      "name": "BSD License"
    }
  },
  "x-jentic-source-url": "https://api.swaggerhub.com/apis/RethinkUX/CroveZapier/v1",
  "servers": [
    {
      "url": "https://app.crove.app",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Webhooks",
      "description": "Webhook management endpoints"
    },
    {
      "name": "Zapier",
      "description": "Zapier integration endpoints"
    },
    {
      "name": "Users",
      "description": "User management endpoints"
    },
    {
      "name": "Auth",
      "description": "Authentication endpoints"
    }
  ],
  "paths": {
    "/api/integrations/webhook": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Retrieve webhook configuration",
        "description": "Retrieves the webhook configuration for the authenticated user.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookOutput"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/integrations/webhook/create": {
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "description": "Creates a new webhook configuration.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCreateInput"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/integrations/webhook/update": {
      "post": {
        "operationId": "updateWebhook",
        "summary": "Update a webhook",
        "description": "Updates an existing webhook configuration.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookUpdateInput"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/integrations/zapier/api-key": {
      "get": {
        "operationId": "getZapierApiKey",
        "summary": "Retrieve Zapier API key",
        "tags": [
          "Zapier"
        ],
        "responses": {
          "200": {
            "description": "API key retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZapierApiKeyOutput"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Retrieve Zapier API key"
      }
    },
    "/api/integrations/zapier/api-key/create": {
      "post": {
        "operationId": "createZapierApiKey",
        "summary": "Create Zapier API key",
        "tags": [
          "Zapier"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create Zapier API key"
      }
    },
    "/api/integrations/zapier/api-key/test": {
      "get": {
        "operationId": "testZapierApiKey",
        "summary": "Test Zapier API key",
        "tags": [
          "Zapier"
        ],
        "responses": {
          "200": {
            "description": "Test successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Test Zapier API key"
      }
    },
    "/api/integrations/zapier/data/templates": {
      "get": {
        "operationId": "listZapierTemplates",
        "summary": "List templates for Zapier",
        "tags": [
          "Zapier"
        ],
        "responses": {
          "200": {
            "description": "Template list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TemplateDropdown"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List templates for Zapier"
      }
    },
    "/api/integrations/zapier/data/template-document-created-sample": {
      "get": {
        "operationId": "getTemplateDocumentCreatedSample",
        "summary": "Get sample data for template document created trigger",
        "tags": [
          "Zapier"
        ],
        "responses": {
          "200": {
            "description": "Sample data returned"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get sample data for template document created trigger"
      }
    },
    "/api/integrations/zapier/subscriptions/template-document-created": {
      "post": {
        "operationId": "createTemplateDocumentSubscription",
        "summary": "Subscribe to template document created events",
        "tags": [
          "Zapier"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateDocumentSubscriptionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDocumentSubscriptionInput"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Subscribe to template document created events"
      }
    },
    "/api/integrations/zapier/subscriptions/template-document-created/{subscription_id}": {
      "delete": {
        "operationId": "deleteTemplateDocumentSubscription",
        "summary": "Unsubscribe from template document created events",
        "tags": [
          "Zapier"
        ],
        "parameters": [
          {
            "name": "subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Subscription not found"
          }
        },
        "description": "Unsubscribe from template document created events"
      }
    },
    "/api/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List users"
      }
    },
    "/api/users/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Current user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get current user"
      }
    },
    "/api/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user by ID",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        },
        "description": "Get user by ID"
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update user"
      },
      "patch": {
        "operationId": "patchUser",
        "summary": "Partially update user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Partially update user"
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Login",
        "description": "Authenticate with username/email and password to receive a session token.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "400": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/auth/logout": {
      "get": {
        "operationId": "logoutGet",
        "summary": "Logout (GET)",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Logged out"
          }
        },
        "description": "Logout (GET)"
      },
      "post": {
        "operationId": "logoutPost",
        "summary": "Logout (POST)",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Logged out"
          }
        },
        "description": "Logout (POST)"
      }
    },
    "/auth/password/change": {
      "post": {
        "operationId": "changePassword",
        "summary": "Change password",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordChange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Change password"
      }
    },
    "/auth/password/reset": {
      "post": {
        "operationId": "resetPassword",
        "summary": "Request password reset",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordReset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset email sent"
          },
          "400": {
            "description": "Invalid request"
          }
        },
        "description": "Request password reset"
      }
    },
    "/auth/password/reset/confirm": {
      "post": {
        "operationId": "confirmPasswordReset",
        "summary": "Confirm password reset",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetConfirm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset confirmed"
          },
          "400": {
            "description": "Invalid request"
          }
        },
        "description": "Confirm password reset"
      }
    },
    "/auth/registration": {
      "post": {
        "operationId": "register",
        "summary": "Register new user",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Register"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered"
          },
          "400": {
            "description": "Invalid request"
          }
        },
        "description": "Register new user"
      }
    },
    "/auth/registration/verify-email": {
      "post": {
        "operationId": "verifyEmail",
        "summary": "Verify email address",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmail"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified"
          },
          "400": {
            "description": "Invalid key"
          }
        },
        "description": "Verify email address"
      }
    },
    "/auth/user": {
      "get": {
        "operationId": "getAuthUser",
        "summary": "Get authenticated user details",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get authenticated user details"
      },
      "put": {
        "operationId": "updateAuthUser",
        "summary": "Update authenticated user",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update authenticated user"
      },
      "patch": {
        "operationId": "patchAuthUser",
        "summary": "Partially update authenticated user",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Partially update authenticated user"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "WebhookOutput": {
        "type": "object",
        "required": [
          "secret",
          "webhook_url"
        ],
        "properties": {
          "secret": {
            "type": "string",
            "maxLength": 255
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "maxLength": 200
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254,
            "nullable": true
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 32
            },
            "nullable": true
          }
        }
      },
      "WebhookCreateInput": {
        "type": "object",
        "required": [
          "webhook_url"
        ],
        "properties": {
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "maxLength": 200
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254,
            "nullable": true
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 32
            },
            "nullable": true
          }
        }
      },
      "WebhookUpdateInput": {
        "type": "object",
        "properties": {
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "maxLength": 200
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254,
            "nullable": true
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 32
            },
            "nullable": true
          }
        }
      },
      "ZapierApiKeyOutput": {
        "type": "object",
        "required": [
          "api_key"
        ],
        "properties": {
          "api_key": {
            "type": "string",
            "maxLength": 255
          }
        }
      },
      "TemplateDropdown": {
        "type": "object",
        "required": [
          "id",
          "sample",
          "value",
          "label"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "sample": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "TemplateDocumentSubscriptionInput": {
        "type": "object",
        "required": [
          "template_id",
          "webhook_url"
        ],
        "properties": {
          "template_id": {
            "type": "string"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri"
          },
          "delay": {
            "type": "integer"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "username": {
            "type": "string",
            "readOnly": true
          },
          "first_name": {
            "type": "string",
            "maxLength": 30
          },
          "last_name": {
            "type": "string",
            "maxLength": 150
          },
          "email": {
            "type": "string",
            "format": "email",
            "readOnly": true
          },
          "is_active": {
            "type": "boolean",
            "readOnly": true
          },
          "date_joined": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "profile_image": {
            "type": "string",
            "format": "uri",
            "readOnly": true,
            "nullable": true
          },
          "show_onboarding_screen": {
            "type": "boolean"
          },
          "company_name": {
            "type": "string",
            "maxLength": 512,
            "nullable": true
          },
          "company_size": {
            "type": "string",
            "maxLength": 512,
            "nullable": true
          },
          "company_role": {
            "type": "string",
            "maxLength": 512,
            "nullable": true
          },
          "phone_number": {
            "type": "string",
            "maxLength": 12,
            "nullable": true
          }
        }
      },
      "Login": {
        "type": "object",
        "required": [
          "password"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "PasswordChange": {
        "type": "object",
        "required": [
          "new_password1",
          "new_password2"
        ],
        "properties": {
          "new_password1": {
            "type": "string",
            "maxLength": 128
          },
          "new_password2": {
            "type": "string",
            "maxLength": 128
          }
        }
      },
      "PasswordReset": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "PasswordResetConfirm": {
        "type": "object",
        "required": [
          "new_password1",
          "new_password2",
          "uid",
          "token"
        ],
        "properties": {
          "new_password1": {
            "type": "string",
            "maxLength": 128
          },
          "new_password2": {
            "type": "string",
            "maxLength": 128
          },
          "uid": {
            "type": "string"
          },
          "token": {
            "type": "string"
          }
        }
      },
      "Register": {
        "type": "object",
        "required": [
          "email",
          "password1",
          "password2"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password1": {
            "type": "string"
          },
          "password2": {
            "type": "string"
          }
        }
      },
      "VerifyEmail": {
        "type": "object",
        "required": [
          "key"
        ],
        "properties": {
          "key": {
            "type": "string"
          }
        }
      },
      "UserDetails": {
        "type": "object",
        "required": [
          "username"
        ],
        "properties": {
          "pk": {
            "type": "integer",
            "readOnly": true
          },
          "username": {
            "type": "string",
            "maxLength": 150
          },
          "email": {
            "type": "string",
            "format": "email",
            "readOnly": true
          },
          "first_name": {
            "type": "string",
            "maxLength": 30
          },
          "last_name": {
            "type": "string",
            "maxLength": 150
          }
        }
      }
    }
  }
}
