{
  "openapi": "3.0.3",
  "info": {
    "title": "Zernio Social Media API",
    "version": "1.0.0",
    "description": "Zernio (formerly Late/getlate) unified social media API for scheduling posts, managing conversations, analytics, and webhook notifications across 14+ platforms.",
    "x-jentic-source-url": "https://zernio.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://zernio.com/api/v1"
    }
  ],
  "paths": {
    "/posts": {
      "post": {
        "operationId": "createPost",
        "summary": "Schedule a post",
        "description": "Schedule a post across multiple social media platforms with one API call",
        "tags": [
          "Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post scheduled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/connect/{platform}": {
      "get": {
        "operationId": "connectPlatform",
        "summary": "Connect social account via OAuth",
        "description": "Initiate OAuth connection flow for a social media platform",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Platform name (e.g., twitter, facebook, instagram, linkedin)"
          }
        ],
        "responses": {
          "200": {
            "description": "OAuth redirect info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "redirect_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analytics": {
      "get": {
        "operationId": "getAnalytics",
        "summary": "Get engagement analytics",
        "description": "Retrieve engagement metrics across all connected platforms",
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/settings": {
      "post": {
        "operationId": "configureWebhooks",
        "summary": "Configure webhook notifications",
        "description": "Set up webhook notifications for post events and engagement updates",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSettingsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook configured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/inbox/conversations": {
      "get": {
        "operationId": "listConversations",
        "summary": "List inbox conversations",
        "description": "Retrieve unified inbox conversations including DMs, comments, and reviews across all platforms",
        "tags": [
          "Inbox"
        ],
        "responses": {
          "200": {
            "description": "Conversations list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PostInput": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Post content text"
          },
          "platforms": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Target platforms"
          },
          "mediaUrls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Media attachment URLs"
          },
          "scheduledFor": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled publication time (ISO 8601)"
          }
        },
        "required": [
          "text",
          "platforms"
        ]
      },
      "PostResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "platforms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scheduledFor": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AnalyticsResponse": {
        "type": "object",
        "properties": {
          "totalEngagement": {
            "type": "integer"
          },
          "platforms": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "WebhookSettingsInput": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ConversationListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conversation"
            }
          }
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "dm",
              "comment",
              "review"
            ]
          },
          "lastMessage": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key as Bearer token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Analytics"
    },
    {
      "name": "Connections"
    },
    {
      "name": "Inbox"
    },
    {
      "name": "Posts"
    },
    {
      "name": "Webhooks"
    }
  ]
}
