{
  "openapi": "3.0.3",
  "info": {
    "title": "Elvanto API",
    "description": "Elvanto church management API for managing people, groups, services, songs, calendar events, people flows, and financial transactions.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.elvanto.com/api/"
  },
  "servers": [
    {
      "url": "https://api.elvanto.com/v1",
      "description": "Elvanto API v1 Production"
    }
  ],
  "paths": {
    "/people/getAll.json": {
      "post": {
        "operationId": "getAllPeople",
        "summary": "Get all people",
        "description": "Retrieve a paginated list of all people in the account.",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Results page to retrieve."
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 1000,
                    "minimum": 10,
                    "maximum": 1000,
                    "description": "Number of records per page."
                  },
                  "category_id": {
                    "type": "string",
                    "description": "Category ID to filter people."
                  },
                  "suspended": {
                    "type": "string",
                    "enum": [
                      "yes",
                      "no"
                    ],
                    "description": "Filter by suspended status."
                  },
                  "contact": {
                    "type": "string",
                    "enum": [
                      "yes",
                      "no"
                    ],
                    "description": "Filter by contact status."
                  },
                  "archived": {
                    "type": "string",
                    "enum": [
                      "yes",
                      "no"
                    ],
                    "description": "Filter by archived status."
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional custom fields to retrieve (e.g. gender, birthday, locations)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "People retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials or API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/search.json": {
      "post": {
        "operationId": "searchPeople",
        "summary": "Search people",
        "description": "Find one or more people matching a specific search query.",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string",
                    "description": "Search query string."
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Results page."
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 1000,
                    "description": "Records per page."
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional custom fields to retrieve."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/getInfo.json": {
      "post": {
        "operationId": "getPersonInfo",
        "summary": "Get person details",
        "description": "Find a person based on their ID.",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The UUID of the person."
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional custom fields to retrieve."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person details returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid person ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/create.json": {
      "post": {
        "operationId": "createPerson",
        "summary": "Create a new person",
        "description": "Create a new person in the account.",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePersonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/edit.json": {
      "post": {
        "operationId": "editPerson",
        "summary": "Edit an existing person",
        "description": "Update details of an existing person.",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "UUID of the person to edit."
                  },
                  "firstname": {
                    "type": "string"
                  },
                  "lastname": {
                    "type": "string"
                  },
                  "preferred_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "mobile": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "suspended"
                    ]
                  },
                  "archived": {
                    "type": "string",
                    "enum": [
                      "yes",
                      "no"
                    ]
                  },
                  "volunteer": {
                    "type": "string",
                    "enum": [
                      "yes",
                      "no"
                    ]
                  },
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Custom fields to update."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/remove.json": {
      "post": {
        "operationId": "removePerson",
        "summary": "Delete a person",
        "description": "Remove a person from the account.",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "UUID of the person to delete."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person removed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid person ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/currentUser.json": {
      "post": {
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "description": "Retrieve information of the logged-in OAuth user.",
        "tags": [
          "People"
        ],
        "responses": {
          "200": {
            "description": "Current user details returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/categories/getAll.json": {
      "post": {
        "operationId": "getAllPeopleCategories",
        "summary": "Get all people categories",
        "description": "Retrieve a list of all people categories.",
        "tags": [
          "People Categories"
        ],
        "responses": {
          "200": {
            "description": "Categories retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/customFields/getAll.json": {
      "post": {
        "operationId": "getAllCustomFields",
        "summary": "Get all custom fields",
        "description": "Retrieve a list of all custom fields for people.",
        "tags": [
          "People Custom Fields"
        ],
        "responses": {
          "200": {
            "description": "Custom fields retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/peopleFlows/getAll.json": {
      "post": {
        "operationId": "getAllPeopleFlows",
        "summary": "List all people flows",
        "description": "Retrieve all people flows in the account.",
        "tags": [
          "People Flows"
        ],
        "responses": {
          "200": {
            "description": "People flows retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleFlowsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/peopleFlows/steps/getAll.json": {
      "post": {
        "operationId": "getAllPeopleFlowSteps",
        "summary": "List people flow steps",
        "description": "Retrieve all steps within a people flow, including instructions and descriptions.",
        "tags": [
          "People Flows"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "People flow ID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Steps retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleFlowStepsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid flow ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/peopleFlows/steps/people.json": {
      "post": {
        "operationId": "getPeopleFlowStepMembers",
        "summary": "List people in a flow step",
        "description": "Retrieve members within a specific people flow step.",
        "tags": [
          "People Flows"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "People flow step ID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Members retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid step ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/peopleFlows/steps/addPerson.json": {
      "post": {
        "operationId": "addPersonToPeopleFlowStep",
        "summary": "Add person to a flow step",
        "description": "Add a person to a specific people flow step.",
        "tags": [
          "People Flows"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "step_id",
                  "person_id"
                ],
                "properties": {
                  "step_id": {
                    "type": "string",
                    "description": "People flow step ID."
                  },
                  "person_id": {
                    "type": "string",
                    "description": "Person UUID to add."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person added to step.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/getAll.json": {
      "post": {
        "operationId": "getAllGroups",
        "summary": "Get all groups",
        "description": "Retrieve a list of all groups.",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer",
                    "default": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Groups retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/getInfo.json": {
      "post": {
        "operationId": "getGroupInfo",
        "summary": "Get group details",
        "description": "Find a group based on its ID.",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Group UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group details returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid group ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/create.json": {
      "post": {
        "operationId": "createGroup",
        "summary": "Create a new group",
        "description": "Create a new group in the account.",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Group name."
                  },
                  "description": {
                    "type": "string",
                    "description": "Group description."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/edit.json": {
      "post": {
        "operationId": "editGroup",
        "summary": "Edit a group",
        "description": "Edit an existing group.",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Group UUID."
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/remove.json": {
      "post": {
        "operationId": "removeGroup",
        "summary": "Delete a group",
        "description": "Remove a group from the account.",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Group UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group removed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid group ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/addPerson.json": {
      "post": {
        "operationId": "addPersonToGroup",
        "summary": "Add person to group",
        "description": "Add a person to a group.",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "person_id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Group UUID."
                  },
                  "person_id": {
                    "type": "string",
                    "description": "Person UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person added to group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/removePerson.json": {
      "post": {
        "operationId": "removePersonFromGroup",
        "summary": "Remove person from group",
        "description": "Remove a person from a group.",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "person_id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Group UUID."
                  },
                  "person_id": {
                    "type": "string",
                    "description": "Person UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person removed from group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/getAll.json": {
      "post": {
        "operationId": "getAllServices",
        "summary": "Get all services",
        "description": "Retrieve a list of services.",
        "tags": [
          "Services"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer",
                    "default": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Services retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/getInfo.json": {
      "post": {
        "operationId": "getServiceInfo",
        "summary": "Get service details",
        "description": "Find a service based on its ID.",
        "tags": [
          "Services"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Service UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service details returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid service ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/songs/getAll.json": {
      "post": {
        "operationId": "getAllSongs",
        "summary": "Get all songs",
        "description": "Retrieve a list of songs.",
        "tags": [
          "Songs"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer",
                    "default": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Songs retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SongsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/songs/getInfo.json": {
      "post": {
        "operationId": "getSongInfo",
        "summary": "Get song details",
        "description": "Find a song based on its ID.",
        "tags": [
          "Songs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Song UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Song details returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SongDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid song ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/songs/create.json": {
      "post": {
        "operationId": "createSong",
        "summary": "Create a song",
        "description": "Create a new song in the account.",
        "tags": [
          "Songs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Song title."
                  },
                  "author": {
                    "type": "string",
                    "description": "Song author."
                  },
                  "category_id": {
                    "type": "string",
                    "description": "Song category UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Song created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/songs/edit.json": {
      "post": {
        "operationId": "editSong",
        "summary": "Edit a song",
        "description": "Edit an existing song.",
        "tags": [
          "Songs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Song UUID."
                  },
                  "title": {
                    "type": "string"
                  },
                  "author": {
                    "type": "string"
                  },
                  "category_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Song updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/songs/categories/getAll.json": {
      "post": {
        "operationId": "getAllSongCategories",
        "summary": "Get all song categories",
        "description": "Retrieve a list of all song categories.",
        "tags": [
          "Songs"
        ],
        "responses": {
          "200": {
            "description": "Song categories retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/songs/arrangements/getAll.json": {
      "post": {
        "operationId": "getAllSongArrangements",
        "summary": "Get all arrangements for a song",
        "description": "Retrieve a list of arrangements within a song.",
        "tags": [
          "Songs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "song_id"
                ],
                "properties": {
                  "song_id": {
                    "type": "string",
                    "description": "Song UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Arrangements retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrangementsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid song ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/songs/arrangements/getInfo.json": {
      "post": {
        "operationId": "getSongArrangementInfo",
        "summary": "Get arrangement details",
        "description": "Find an arrangement based on its ID.",
        "tags": [
          "Songs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Arrangement UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Arrangement details returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrangementDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid arrangement ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/songs/arrangements/create.json": {
      "post": {
        "operationId": "createSongArrangement",
        "summary": "Create a song arrangement",
        "description": "Create a new arrangement tied to a specified song.",
        "tags": [
          "Songs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "song_id",
                  "name"
                ],
                "properties": {
                  "song_id": {
                    "type": "string",
                    "description": "Song UUID."
                  },
                  "name": {
                    "type": "string",
                    "description": "Arrangement name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Arrangement created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/songs/arrangements/edit.json": {
      "post": {
        "operationId": "editSongArrangement",
        "summary": "Edit a song arrangement",
        "description": "Edit an existing arrangement's details.",
        "tags": [
          "Songs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Arrangement UUID."
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Arrangement updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/songs/keys/getAll.json": {
      "post": {
        "operationId": "getAllSongKeys",
        "summary": "Get all keys for an arrangement",
        "description": "Retrieve a list of keys within an arrangement.",
        "tags": [
          "Song Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "arrangement_id"
                ],
                "properties": {
                  "arrangement_id": {
                    "type": "string",
                    "description": "Arrangement UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keys retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeysListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid arrangement ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/songs/keys/getInfo.json": {
      "post": {
        "operationId": "getSongKeyInfo",
        "summary": "Get key details",
        "description": "Find a key based on its ID.",
        "tags": [
          "Song Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Key UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key details returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid key ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/songs/keys/create.json": {
      "post": {
        "operationId": "createSongKey",
        "summary": "Create a key for an arrangement",
        "description": "Create a new key attached to a specified arrangement.",
        "tags": [
          "Song Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "arrangement_id",
                  "key"
                ],
                "properties": {
                  "arrangement_id": {
                    "type": "string",
                    "description": "Arrangement UUID."
                  },
                  "key": {
                    "type": "string",
                    "description": "Musical key (e.g. C, D, Em)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/songs/keys/edit.json": {
      "post": {
        "operationId": "editSongKey",
        "summary": "Edit a song key",
        "description": "Edit an existing key's details.",
        "tags": [
          "Song Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Key UUID."
                  },
                  "key": {
                    "type": "string",
                    "description": "Updated musical key."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendar/getAll.json": {
      "post": {
        "operationId": "getAllCalendars",
        "summary": "Get all calendars",
        "description": "Retrieve a list of all calendars that events can be assigned to.",
        "tags": [
          "Calendar"
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendar/events/getAll.json": {
      "post": {
        "operationId": "getAllCalendarEvents",
        "summary": "Get all calendar events",
        "description": "Retrieve a list of all events between two dates.",
        "tags": [
          "Calendar"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "start",
                  "end"
                ],
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date",
                    "description": "Start date (YYYY-MM-DD)."
                  },
                  "end": {
                    "type": "string",
                    "format": "date",
                    "description": "End date (YYYY-MM-DD)."
                  },
                  "page": {
                    "type": "integer",
                    "default": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendar/events/create.json": {
      "post": {
        "operationId": "createCalendarEvent",
        "summary": "Create a calendar event",
        "description": "Create a new calendar event.",
        "tags": [
          "Calendar"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "start",
                  "end"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Event name."
                  },
                  "start": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Event start date/time."
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Event end date/time."
                  },
                  "calendar_id": {
                    "type": "string",
                    "description": "Calendar UUID to assign the event to."
                  },
                  "description": {
                    "type": "string",
                    "description": "Event description."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendar/events/edit.json": {
      "post": {
        "operationId": "editCalendarEvent",
        "summary": "Edit a calendar event",
        "description": "Edit an existing calendar event.",
        "tags": [
          "Calendar"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Event UUID."
                  },
                  "name": {
                    "type": "string"
                  },
                  "start": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calendar/events/remove.json": {
      "post": {
        "operationId": "removeCalendarEvent",
        "summary": "Delete a calendar event",
        "description": "Remove a calendar event.",
        "tags": [
          "Calendar"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Event UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event removed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid event ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/financial/transactions/getAll.json": {
      "post": {
        "operationId": "getAllTransactions",
        "summary": "Get all transactions",
        "description": "Retrieve a list of all transactions between two dates.",
        "tags": [
          "Financial"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "start",
                  "end"
                ],
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date",
                    "description": "Start date."
                  },
                  "end": {
                    "type": "string",
                    "format": "date",
                    "description": "End date."
                  },
                  "page": {
                    "type": "integer",
                    "default": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transactions retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid date range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/financial/transactions/getInfo.json": {
      "post": {
        "operationId": "getTransactionInfo",
        "summary": "Get transaction details",
        "description": "Find a transaction based on its ID.",
        "tags": [
          "Financial"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Transaction UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction details returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid transaction ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/financial/transactions/create.json": {
      "post": {
        "operationId": "createTransaction",
        "summary": "Create a transaction",
        "description": "Create a new financial transaction.",
        "tags": [
          "Financial"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "person_id",
                  "amount",
                  "category_id",
                  "date"
                ],
                "properties": {
                  "person_id": {
                    "type": "string",
                    "description": "Person UUID associated with the transaction."
                  },
                  "amount": {
                    "type": "number",
                    "description": "Transaction amount."
                  },
                  "category_id": {
                    "type": "string",
                    "description": "Financial category UUID."
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Transaction date."
                  },
                  "note": {
                    "type": "string",
                    "description": "Transaction note."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/financial/transactions/edit.json": {
      "post": {
        "operationId": "editTransaction",
        "summary": "Edit a transaction",
        "description": "Edit an existing financial transaction.",
        "tags": [
          "Financial"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Transaction UUID."
                  },
                  "amount": {
                    "type": "number"
                  },
                  "category_id": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/financial/transactions/remove.json": {
      "post": {
        "operationId": "removeTransaction",
        "summary": "Delete a transaction",
        "description": "Remove a financial transaction.",
        "tags": [
          "Financial"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Transaction UUID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction removed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid transaction ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/financial/categories/getAll.json": {
      "post": {
        "operationId": "getAllFinancialCategories",
        "summary": "Get all financial categories",
        "description": "Retrieve a list of all chart of accounts categories.",
        "tags": [
          "Financial"
        ],
        "responses": {
          "200": {
            "description": "Financial categories retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/financial/categories/create.json": {
      "post": {
        "operationId": "createFinancialCategory",
        "summary": "Create a financial category",
        "description": "Create a new category in the chart of accounts.",
        "tags": [
          "Financial"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Category name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token. Obtain via OAuth2 authorization flow."
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "API key as username with blank password via HTTP Basic Authentication."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string",
            "description": "Request processing time."
          },
          "status": {
            "type": "string",
            "description": "Error status."
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Error code."
              },
              "message": {
                "type": "string",
                "description": "Error message."
              }
            }
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Operation status (ok or error)."
          }
        }
      },
      "CreateResourceResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "description": "UUID of the created resource."
          }
        }
      },
      "CreatePersonResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "person": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "UUID of the created person."
              },
              "family_id": {
                "type": "integer",
                "description": "Associated family ID."
              }
            }
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Person UUID."
          },
          "date_added": {
            "type": "string",
            "format": "date-time"
          },
          "date_modified": {
            "type": "string",
            "format": "date-time"
          },
          "category_id": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "preferred_name": {
            "type": "string"
          },
          "middle_name": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "admin": {
            "type": "integer"
          },
          "archived": {
            "type": "integer"
          },
          "contact": {
            "type": "integer"
          },
          "volunteer": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "last_login": {
            "type": "string",
            "format": "date-time"
          },
          "country": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          },
          "family_id": {
            "type": "integer"
          },
          "family_relationship": {
            "type": "string"
          },
          "birthday": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string"
          }
        }
      },
      "PeopleListResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "people": {
            "type": "object",
            "properties": {
              "on_this_page": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "person": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        }
      },
      "PersonDetailResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "person": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          }
        }
      },
      "CreatePersonRequest": {
        "type": "object",
        "required": [
          "firstname",
          "lastname"
        ],
        "properties": {
          "firstname": {
            "type": "string",
            "description": "First name."
          },
          "lastname": {
            "type": "string",
            "description": "Last name."
          },
          "preferred_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "category_id": {
            "type": "string",
            "description": "People category UUID."
          },
          "archived": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ]
          },
          "contact": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ]
          },
          "volunteer": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended"
            ]
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "family_id": {
            "type": "string",
            "description": "Family ID or 'new' to create a new family."
          },
          "family_relationship": {
            "type": "string",
            "enum": [
              "Primary Contact",
              "Spouse",
              "Partner",
              "Child",
              "Sibling",
              "Grandfather",
              "Grandmother",
              "Other"
            ]
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Custom fields (gender, birthday, anniversary, marital_status, access_permissions)."
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "GroupsListResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "groups": {
            "type": "object",
            "properties": {
              "on_this_page": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "group": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      },
      "GroupDetailResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "group": {
            "$ref": "#/components/schemas/Group"
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ServicesListResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "services": {
            "type": "object",
            "properties": {
              "on_this_page": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "service": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Service"
                }
              }
            }
          }
        }
      },
      "ServiceDetailResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "service": {
            "$ref": "#/components/schemas/Service"
          }
        }
      },
      "Song": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "category_id": {
            "type": "string"
          }
        }
      },
      "SongsListResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "songs": {
            "type": "object",
            "properties": {
              "on_this_page": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "song": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Song"
                }
              }
            }
          }
        }
      },
      "SongDetailResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "song": {
            "$ref": "#/components/schemas/Song"
          }
        }
      },
      "Arrangement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "song_id": {
            "type": "string"
          }
        }
      },
      "ArrangementsListResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "arrangements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Arrangement"
            }
          }
        }
      },
      "ArrangementDetailResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "arrangement": {
            "$ref": "#/components/schemas/Arrangement"
          }
        }
      },
      "Key": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "arrangement_id": {
            "type": "string"
          }
        }
      },
      "KeysListResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Key"
            }
          }
        }
      },
      "KeyDetailResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "key": {
            "$ref": "#/components/schemas/Key"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CategoriesResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "CustomFieldsResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          }
        }
      },
      "PeopleFlow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "PeopleFlowsResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "people_flows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PeopleFlow"
            }
          }
        }
      },
      "PeopleFlowStep": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "instruction": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "PeopleFlowStepsResponse": {
        "type": "object",
        "properties": {
          "generated_in": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PeopleFlowStep"
            }
          }
        }
      },
      "Calendar": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
[...]
