{
  "openapi": "3.0.3",
  "info": {
    "title": "BeVigil OSINT API",
    "description": "BeVigil OSINT API for discovering assets from mobile applications including domains, subdomains, S3 buckets, URLs, and security reports.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://bevigil.com/osint-api"
  },
  "servers": [
    {
      "url": "https://osint.bevigil.com/api",
      "description": "BeVigil OSINT API server"
    }
  ],
  "paths": {
    "/{package_id}/all-assets/": {
      "get": {
        "operationId": "getAllAssets",
        "summary": "Get all assets from a mobile app",
        "description": "Retrieve all assets including URLs, hostnames, IP addresses, emails, file paths, Firebase URLs, and S3 URLs.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PackageId"
          }
        ],
        "responses": {
          "200": {
            "description": "All assets for the package",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllAssetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid package ID"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        }
      }
    },
    "/{package_id}/hosts/": {
      "get": {
        "operationId": "getDomains",
        "summary": "Get domains from a mobile app",
        "description": "Discover all domains associated with a mobile application.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PackageId"
          }
        ],
        "responses": {
          "200": {
            "description": "Domains found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid package ID"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{domain_name}/subdomains/": {
      "get": {
        "operationId": "getSubdomains",
        "summary": "Get subdomains for a domain",
        "description": "Identify all related subdomains for a given domain.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainName"
          }
        ],
        "responses": {
          "200": {
            "description": "Subdomains found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubdomainsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid domain name"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{package_id}/S3-buckets/": {
      "get": {
        "operationId": "getS3Buckets",
        "summary": "Get S3 buckets from a mobile app",
        "description": "Retrieve S3 buckets discovered in mobile application data.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PackageId"
          }
        ],
        "responses": {
          "200": {
            "description": "S3 buckets found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3BucketsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid package ID"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{keyword}/S3-keyword/": {
      "get": {
        "operationId": "searchS3ByKeyword",
        "summary": "Search S3 buckets by keyword",
        "description": "Search for S3 buckets using company names or keywords.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company name or keyword to search"
          }
        ],
        "responses": {
          "200": {
            "description": "S3 buckets matching keyword",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/S3BucketsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid keyword"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{package_id}/report/": {
      "get": {
        "operationId": "getSecurityReport",
        "summary": "Get security report for a mobile app",
        "description": "Generate comprehensive security reports for mobile applications.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PackageId"
          }
        ],
        "responses": {
          "200": {
            "description": "Security report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityReport"
                }
              }
            }
          },
          "400": {
            "description": "Invalid package ID"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{domain_name}/urls/": {
      "get": {
        "operationId": "getUrls",
        "summary": "Get URLs for a domain",
        "description": "Identify and track all URLs associated with a domain.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainName"
          }
        ],
        "responses": {
          "200": {
            "description": "URLs found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid domain name"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{package_id}/params/": {
      "get": {
        "operationId": "getUrlParameters",
        "summary": "Get URL parameters from a mobile app",
        "description": "Access key-value pairs of query parameters from mobile app URLs.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PackageId"
          }
        ],
        "responses": {
          "200": {
            "description": "URL parameters found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParamsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid package ID"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{package_id}/wordlist/": {
      "get": {
        "operationId": "getWordlist",
        "summary": "Get wordlist from a mobile app",
        "description": "Retrieve wordlists extracted from URLs and API endpoints.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PackageId"
          }
        ],
        "responses": {
          "200": {
            "description": "Wordlist data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WordlistResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid package ID"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{domain_name}/apps/": {
      "get": {
        "operationId": "getMobileApps",
        "summary": "Get mobile apps for a domain",
        "description": "Discover mobile apps related to a specific domain.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DomainName"
          }
        ],
        "responses": {
          "200": {
            "description": "Mobile apps found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid domain name"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "PackageId": {
        "name": "package_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Mobile app package identifier (e.g., com.example.app)"
      },
      "DomainName": {
        "name": "domain_name",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Domain name (e.g., example.com)"
      }
    },
    "schemas": {
      "AllAssetsResponse": {
        "type": "object",
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hosts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ip_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "file_paths": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "firebase_urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "s3_urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DomainsResponse": {
        "type": "object",
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SubdomainsResponse": {
        "type": "object",
        "properties": {
          "subdomains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "S3BucketsResponse": {
        "type": "object",
        "properties": {
          "s3_buckets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SecurityReport": {
        "type": "object",
        "properties": {
          "package_id": {
            "type": "string"
          },
          "report": {
            "type": "object"
          }
        }
      },
      "UrlsResponse": {
        "type": "object",
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ParamsResponse": {
        "type": "object",
        "properties": {
          "params": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "WordlistResponse": {
        "type": "object",
        "properties": {
          "wordlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AppsResponse": {
        "type": "object",
        "properties": {
          "apps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "package_id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Access-Token",
        "description": "BeVigil API access token"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}