{
  "openapi": "3.0.3",
  "info": {
    "title": "Bilflo API",
    "version": "1.0.0",
    "description": "Bilflo provides staffing and recruitment management APIs for managing clients, contract jobs, company settings, dashboards, custom fields, and more.",
    "x-jentic-source-url": "https://api.bilflo.com/swagger/index.html",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.bilflo.com"
    }
  ],
  "paths": {
    "/v1/Clients": {
      "get": {
        "operationId": "listClients",
        "summary": "List clients",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clients list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List clients"
      },
      "post": {
        "operationId": "createClient",
        "summary": "Create a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a client"
      }
    },
    "/v1/Clients/{clientId}": {
      "get": {
        "operationId": "getClient",
        "summary": "Get a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client details"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a client"
      },
      "put": {
        "operationId": "updateClient",
        "summary": "Update a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a client"
      }
    },
    "/v1/Clients/contact/{clientId}": {
      "get": {
        "operationId": "listClientContacts",
        "summary": "List client contacts",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List client contacts"
      }
    },
    "/v1/Clients/contact": {
      "post": {
        "operationId": "createClientContact",
        "summary": "Create a client contact",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Contact created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a client contact"
      }
    },
    "/v1/Clients/addresses/{clientId}": {
      "get": {
        "operationId": "listClientAddresses",
        "summary": "List client addresses",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Addresses list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List client addresses"
      }
    },
    "/v1/Clients/address": {
      "post": {
        "operationId": "createClientAddress",
        "summary": "Create a client address",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Address created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a client address"
      }
    },
    "/v1/Clients/agreements/{clientId}": {
      "get": {
        "operationId": "listClientAgreements",
        "summary": "List client agreements",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agreements list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List client agreements"
      }
    },
    "/v1/Clients/agreements": {
      "post": {
        "operationId": "createClientAgreement",
        "summary": "Create a client agreement",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Agreement created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a client agreement"
      }
    },
    "/v1/ContractJobs": {
      "get": {
        "operationId": "listContractJobs",
        "summary": "List contract jobs",
        "tags": [
          "Contract Jobs"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Jobs list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List contract jobs"
      },
      "post": {
        "operationId": "createContractJob",
        "summary": "Create a contract job",
        "tags": [
          "Contract Jobs"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Job created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a contract job"
      }
    },
    "/v1/ContractJobs/{jobId}": {
      "get": {
        "operationId": "getContractJob",
        "summary": "Get a contract job",
        "tags": [
          "Contract Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a contract job"
      },
      "put": {
        "operationId": "updateContractJob",
        "summary": "Update a contract job",
        "tags": [
          "Contract Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a contract job"
      }
    },
    "/v1/ContractJobs/terminate": {
      "post": {
        "operationId": "terminateContractJob",
        "summary": "Terminate a contract job",
        "tags": [
          "Contract Jobs"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job terminated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Terminate a contract job"
      }
    },
    "/v1/CompanySettings/workersCompCodes": {
      "get": {
        "operationId": "getWorkersCompCodes",
        "summary": "Get workers comp codes",
        "tags": [
          "Company Settings"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workers comp codes"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get workers comp codes"
      }
    },
    "/v1/CompanySettings/paymentTerms": {
      "get": {
        "operationId": "getPaymentTerms",
        "summary": "Get payment terms",
        "tags": [
          "Company Settings"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment terms"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get payment terms"
      }
    },
    "/v1/CompanySettings/payBillItems": {
      "get": {
        "operationId": "getPayBillItems",
        "summary": "Get pay/bill items",
        "tags": [
          "Company Settings"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pay/bill items"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get pay/bill items"
      }
    },
    "/v1/CompanySettings/states": {
      "get": {
        "operationId": "getStates",
        "summary": "Get states",
        "tags": [
          "Company Settings"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "States list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get states"
      }
    },
    "/v1/CustomFields": {
      "get": {
        "operationId": "listCustomFields",
        "summary": "List custom fields",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom fields"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List custom fields"
      }
    },
    "/v1/CustomFields/items": {
      "get": {
        "operationId": "listCustomFieldItems",
        "summary": "List custom field items",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "company-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field items"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List custom field items"
      }
    },
    "/dash/v1/Dashboards": {
      "get": {
        "operationId": "listDashboards",
        "summary": "List dashboards",
        "tags": [
          "Dashboards"
        ],
        "responses": {
          "200": {
            "description": "Dashboards list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List dashboards"
      },
      "post": {
        "operationId": "createDashboard",
        "summary": "Create a dashboard",
        "tags": [
          "Dashboards"
        ],
        "responses": {
          "201": {
            "description": "Dashboard created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a dashboard"
      }
    },
    "/dash/v1/Dashboards/{dashboardId}": {
      "get": {
        "operationId": "getDashboard",
        "summary": "Get a dashboard",
        "tags": [
          "Dashboards"
        ],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard details"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a dashboard"
      }
    }
  },
  "components": {
    "schemas": {
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ClientInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Clients"
    },
    {
      "name": "Company Settings"
    },
    {
      "name": "Contract Jobs"
    },
    {
      "name": "Custom Fields"
    },
    {
      "name": "Dashboards"
    }
  ]
}
