{
  "openapi": "3.0.3",
  "info": {
    "title": "Alltius API",
    "description": "Alltius is an Agentic AI platform for financial services. Provides Chat, Report, and Webhook APIs.",
    "version": "v1",
    "x-jentic-source-url": "https://app.alltius.ai/api/platform/openapi.json"
  },
  "servers": [
    {
      "url": "https://app.alltius.ai/api/platform"
    }
  ],
  "paths": {
    "/v1/chat": {
      "post": {
        "tags": [
          "Chat API"
        ],
        "summary": "Chat",
        "description": "Submit a user query and get a response from the Assistant",
        "operationId": "chat_v1_chat_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatApiRequestV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/rating": {
      "put": {
        "tags": [
          "Chat API"
        ],
        "summary": "Rating",
        "description": "Provide a thumbs up or down feedback to a response given by the Assistant",
        "operationId": "rating_v1_chat_rating_put",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RatingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/async": {
      "post": {
        "tags": [
          "Chat API"
        ],
        "summary": "Async Chat",
        "description": "Submit a user query asynchronously and get back a JOB_ID for status checking or callback handling.",
        "operationId": "async_chat_v1_chat_async_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatApiRequestV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/post": {
      "post": {
        "tags": [
          "Chat API"
        ],
        "summary": "Get Post By Id",
        "description": "Get a response from the given job id.",
        "operationId": "get_post_by_id_v1_chat_post_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPostFromJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/history": {
      "post": {
        "tags": [
          "Chat API"
        ],
        "summary": "Get Chat History",
        "description": "Get chat history by session id.",
        "operationId": "get_chat_history_v1_chat_history_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/chat_session_by_uid": {
      "post": {
        "tags": [
          "Chat API"
        ],
        "summary": "Get Chat Sessions By Uid",
        "description": "Get chat sessions for a user identifier",
        "operationId": "get_chat_sessions_by_uid_v1_chat_chat_session_by_uid_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatSessionsByUidRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSessionsByUidResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/delete_chat_sessions_for_uid": {
      "post": {
        "tags": [
          "Chat API"
        ],
        "summary": "Delete Chat Sessions For Uid",
        "description": "Delete chat sessions for a user identifier",
        "operationId": "delete_chat_sessions_for_uid_v1_chat_delete_chat_sessions_for_uid_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteChatSessionsForUidRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/report/report": {
      "post": {
        "tags": [
          "Report API"
        ],
        "summary": "Get Audit Trail",
        "description": "View and download audit trail of all queries and responses with user activity information.",
        "operationId": "get_audit_trail_v1_report_report_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsightsAuditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/freshdesk": {
      "post": {
        "tags": [
          "Freshdesk Webhook"
        ],
        "summary": "Freshdesk Ticket Webhook",
        "description": "Get a response to your freshdesk ticket",
        "operationId": "freshdesk_ticket_webhook_v1_freshdesk_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "ChatApiRequestV1": {
        "type": "object",
        "required": [
          "post",
          "assistant_id"
        ],
        "properties": {
          "post": {
            "type": "string",
            "description": "Query to be sent to the assistant"
          },
          "assistant_id": {
            "type": "string",
            "description": "Id of the assistant"
          },
          "post_metadata": {
            "type": "object",
            "nullable": true,
            "description": "Metadata regarding the post"
          },
          "chat_session": {
            "type": "string",
            "nullable": true,
            "description": "Chat session id for context"
          },
          "user_identifier": {
            "type": "string",
            "nullable": true,
            "description": "User identifier"
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "post": {
            "type": "string"
          },
          "response": {
            "type": "string",
            "nullable": true
          },
          "relevant_links_response": {
            "type": "string",
            "nullable": true
          },
          "created_at_response": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "rating": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "answer_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "NO_ANSWER",
              "ANSWER",
              "ANSWER_FROM_WEB",
              "ERROR_WHILE_ANSWERING",
              "CONFIRMATION_CTA",
              "CLARIFICATION",
              "FEEDBACK",
              "FEEDBACK_ACK",
              "QUESTION_SUGGESTION",
              "DOWNVOTE_RESPONSE",
              "EVENT_REDIRECTION",
              "FORM_INPUT",
              "TIMEOUT",
              "NOT_SUPPORTED"
            ]
          },
          "answer_confidence_score": {
            "type": "number",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "RatingRequest": {
        "type": "object",
        "required": [
          "post_id",
          "rating"
        ],
        "properties": {
          "post_id": {
            "type": "string",
            "description": "Id of the post being rated"
          },
          "rating": {
            "type": "integer",
            "description": "-1 for thumbs down, 1 for thumbs up"
          }
        }
      },
      "GetPostFromJobRequest": {
        "type": "object",
        "required": [
          "job_id"
        ],
        "properties": {
          "job_id": {
            "type": "string"
          }
        }
      },
      "ChatHistoryRequest": {
        "type": "object",
        "required": [
          "session_id"
        ],
        "properties": {
          "session_id": {
            "type": "string"
          },
          "cursor": {
            "type": "string",
            "nullable": true
          },
          "page_size": {
            "type": "integer",
            "default": 10,
            "minimum": 1
          }
        }
      },
      "ChatHistoryResponse": {
        "type": "object",
        "required": [
          "chat_history",
          "cursor",
          "has_next_page"
        ],
        "properties": {
          "chat_history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatHistory"
            }
          },
          "cursor": {
            "type": "string",
            "nullable": true
          },
          "has_next_page": {
            "type": "boolean"
          }
        }
      },
      "ChatHistory": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "post_id": {
            "type": "string",
            "nullable": true
          },
          "rating": {
            "type": "integer",
            "nullable": true
          },
          "role": {
            "type": "string",
            "enum": [
              "USER",
              "ASSISTANT"
            ]
          },
          "content": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ChatSessionsByUidRequest": {
        "type": "object",
        "required": [
          "assistant_id",
          "user_id"
        ],
        "properties": {
          "assistant_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "cursor": {
            "type": "string",
            "nullable": true
          },
          "page_size": {
            "type": "integer",
            "default": 10,
            "minimum": 1
          }
        }
      },
      "ChatSessionsByUidResponse": {
        "type": "object",
        "required": [
          "assistant_id",
          "user_id",
          "sessions",
          "cursor",
          "has_next_page"
        ],
        "properties": {
          "assistant_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatSessionById"
            }
          },
          "cursor": {
            "type": "string",
            "nullable": true
          },
          "has_next_page": {
            "type": "boolean"
          }
        }
      },
      "ChatSessionById": {
        "type": "object",
        "required": [
          "session_id",
          "title",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "session_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DeleteChatSessionsForUidRequest": {
        "type": "object",
        "required": [
          "uid",
          "session_ids"
        ],
        "properties": {
          "uid": {
            "type": "string"
          },
          "session_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "InsightsAuditRequest": {
        "type": "object",
        "required": [
          "document_ids",
          "start",
          "end",
          "only_answers",
          "only_idks",
          "channel"
        ],
        "properties": {
          "document_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Assistant or widget or channel ids"
          },
          "start": {
            "type": "string",
            "description": "Start date in ISO format"
          },
          "end": {
            "type": "string",
            "description": "End date in ISO format"
          },
          "only_answers": {
            "type": "boolean"
          },
          "only_idks": {
            "type": "boolean"
          },
          "channel": {
            "type": "string",
            "enum": [
              "SLACK",
              "WIDGET",
              "PLAYGROUND",
              "API",
              "ALLTIUS_TESTING",
              "WHATSAPP",
              "MS_TEAMS",
              "EMAIL",
              "VOICE_PLAYGROUND"
            ]
          }
        }
      },
      "HTTPValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "msg": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Chat API",
      "description": "Chat APIs for secure conversation with Assistants"
    },
    {
      "name": "Report API",
      "description": "Report APIs for generating insights from user activity"
    },
    {
      "name": "Freshdesk Webhook",
      "description": "Freshdesk webhook integration"
    }
  ]
}