{
  "openapi": "3.0.3",
  "info": {
    "title": "Port API",
    "version": "1.0.0",
    "description": "Port internal developer portal API for managing software catalog entities, blueprints, and integrations.",
    "x-jentic-source-url": "https://docs.port.io/build-your-software-catalog/custom-integration/api/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.port.io/v1",
      "description": "EU region"
    },
    {
      "url": "https://api.us.port.io/v1",
      "description": "US region"
    }
  ],
  "paths": {
    "/auth/access_token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Get access token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientId",
                  "clientSecret"
                ],
                "properties": {
                  "clientId": {
                    "type": "string"
                  },
                  "clientSecret": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get access token"
      }
    },
    "/blueprints/{blueprint_identifier}/entities/{entity_identifier}": {
      "get": {
        "operationId": "getEntity",
        "summary": "Get an entity",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "name": "blueprint_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entity returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get an entity"
      },
      "delete": {
        "operationId": "deleteEntity",
        "summary": "Delete an entity",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "name": "blueprint_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entity deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete an entity"
      }
    },
    "/blueprints/{blueprint_id}/entities": {
      "post": {
        "operationId": "createEntity",
        "summary": "Create or upsert an entity",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "name": "blueprint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upsert",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "merge",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEntityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entity created/updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create or upsert an entity"
      }
    },
    "/blueprints/{blueprint_id}/all-entities": {
      "delete": {
        "operationId": "deleteAllEntities",
        "summary": "Delete all entities of a blueprint",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "name": "blueprint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delete_blueprint",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All entities deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete all entities of a blueprint"
      }
    }
  },
  "components": {
    "schemas": {
      "Entity": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "blueprint": {
            "type": "string"
          },
          "properties": {
            "type": "object"
          },
          "relations": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateEntityRequest": {
        "type": "object",
        "required": [
          "identifier",
          "title"
        ],
        "properties": {
          "identifier": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "properties": {
            "type": "object"
          },
          "relations": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Entities"
    }
  ]
}
