{
  "openapi": "3.0.3",
  "info": {
    "title": "VoilaNorbert API",
    "version": "2018-01-08",
    "description": "VoilaNorbert provides an API for finding, verifying, and enriching email addresses. It supports individual lookups, bulk operations, contact management, and list management.",
    "x-jentic-source-url": "https://api.voilanorbert.com/"
  },
  "servers": [
    {
      "url": "https://api.voilanorbert.com/2018-01-08"
    }
  ],
  "paths": {
    "/search/name": {
      "post": {
        "operationId": "searchByName",
        "summary": "Find email by person name",
        "description": "Search for an email address by providing a person's full name and their company domain or name.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SearchByNameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search result with found email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/search/domain": {
      "post": {
        "operationId": "searchByDomain",
        "summary": "Find emails by domain",
        "description": "Search for email addresses associated with a given domain or company.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SearchByDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results with found emails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/massives/": {
      "post": {
        "operationId": "createBulkSearch",
        "summary": "Submit bulk CSV file for search",
        "description": "Upload a CSV file or provide CSV data for bulk email search.",
        "tags": [
          "Bulk Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BulkSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk search submitted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkSearchStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listBulkSearches",
        "summary": "List bulk search files",
        "description": "Retrieve a list of all submitted bulk search files.",
        "tags": [
          "Bulk Search"
        ],
        "responses": {
          "200": {
            "description": "List of bulk search files.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkSearchStatus"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/massives/{id}": {
      "get": {
        "operationId": "getBulkSearchStatus",
        "summary": "Get bulk search status",
        "description": "Retrieve the status of a specific bulk search file.",
        "tags": [
          "Bulk Search"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bulk search file ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk search status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkSearchStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBulkSearch",
        "summary": "Delete a bulk search file",
        "description": "Remove a submitted bulk search file.",
        "tags": [
          "Bulk Search"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bulk search file ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk search file deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/massives/{id}/resume": {
      "post": {
        "operationId": "resumeBulkSearch",
        "summary": "Resume a paused bulk search",
        "description": "Resume processing of a paused bulk search batch.",
        "tags": [
          "Bulk Search"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bulk search file ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk search resumed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkSearchStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/massives/{id}/pause": {
      "post": {
        "operationId": "pauseBulkSearch",
        "summary": "Pause an active bulk search",
        "description": "Pause processing of an active bulk search batch.",
        "tags": [
          "Bulk Search"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bulk search file ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk search paused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkSearchStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/massives/{id}/rerun": {
      "put": {
        "operationId": "setBulkSearchRerun",
        "summary": "Set rerun frequency for bulk search",
        "description": "Configure automatic rerun frequency for a bulk search file.",
        "tags": [
          "Bulk Search"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bulk search file ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "rerun_frequency": {
                    "type": "integer",
                    "description": "Hours between automatic reruns."
                  }
                },
                "required": [
                  "rerun_frequency"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rerun frequency set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkSearchStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelBulkSearchRerun",
        "summary": "Cancel rerun for bulk search",
        "description": "Cancel the automatic rerun schedule for a bulk search file.",
        "tags": [
          "Bulk Search"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bulk search file ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rerun cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkSearchStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account/": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account details",
        "description": "Retrieve account information including remaining credits.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/organization/": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization info",
        "description": "Retrieve organization information.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Organization details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/organization/credits/": {
      "get": {
        "operationId": "getOrganizationCredits",
        "summary": "Get organization credit balance",
        "description": "Retrieve the credit balance for the organization.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Credit balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credits"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/": {
      "get": {
        "operationId": "listContacts",
        "summary": "List all contacts",
        "description": "Retrieve all contacts with optional filters.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "Filter by contact IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search query string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filter by contact name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Filter by email address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company",
            "in": "query",
            "required": false,
            "description": "Filter by company name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by contact status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "found",
            "in": "query",
            "required": false,
            "description": "Filter by found status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lists",
            "in": "query",
            "required": false,
            "description": "Filter by list IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "description": "Field to order results by.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get a specific contact",
        "description": "Retrieve details of a specific contact by ID.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Contact ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/lists/": {
      "get": {
        "operationId": "listLists",
        "summary": "Get all lists",
        "description": "Retrieve all contact lists.",
        "tags": [
          "Lists"
        ],
        "responses": {
          "200": {
            "description": "List of contact lists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactList"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createList",
        "summary": "Create a new list",
        "description": "Create a new contact list.",
        "tags": [
          "Lists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the list."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/lists/{id}": {
      "get": {
        "operationId": "getList",
        "summary": "Get list details",
        "description": "Retrieve details of a specific contact list.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "List ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateList",
        "summary": "Update or delete a list",
        "description": "Update a contact list's properties or delete it.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "List ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Updated name of the list."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addContactsToList",
        "summary": "Add contacts to a list",
        "description": "Add one or more contacts to a specific list.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "List ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact_ids": {
                    "type": "string",
                    "description": "Comma-separated contact IDs to add."
                  }
                },
                "required": [
                  "contact_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts added to list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/verifier/upload": {
      "post": {
        "operationId": "uploadVerification",
        "summary": "Submit emails for verification",
        "description": "Upload a list of emails or a file for email verification.",
        "tags": [
          "Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/VerifyUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification job submitted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/verifier/{token}": {
      "get": {
        "operationId": "getVerificationStatus",
        "summary": "Check verification status",
        "description": "Check the status of an email verification job.",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Verification job token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/verifier/{token}/resume": {
      "put": {
        "operationId": "resumeVerification",
        "summary": "Resume verification",
        "description": "Resume a paused verification job.",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Verification job token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification resumed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/verifier/{token}/pause": {
      "put": {
        "operationId": "pauseVerification",
        "summary": "Pause verification",
        "description": "Pause an active verification job.",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Verification job token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification paused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/verifier/{token}/download": {
      "get": {
        "operationId": "downloadVerificationResults",
        "summary": "Download verification results",
        "description": "Download the results of a completed verification job.",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Verification job token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verification results file.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/enrich/upload": {
      "post": {
        "operationId": "uploadEnrichment",
        "summary": "Submit emails for enrichment",
        "description": "Upload a list of emails or a file for contact enrichment.",
        "tags": [
          "Enrichment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/EnrichUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrichment job submitted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichmentStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/enrich/{token}": {
      "get": {
        "operationId": "getEnrichmentStatus",
        "summary": "Check enrichment status",
        "description": "Check the status of an email enrichment job.",
        "tags": [
          "Enrichment"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Enrichment job token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichmentStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/enrich/{token}/resume": {
      "put": {
        "operationId": "resumeEnrichment",
        "summary": "Resume enrichment",
        "description": "Resume a paused enrichment job.",
        "tags": [
          "Enrichment"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Enrichment job token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment resumed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichmentStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/enrich/{token}/pause": {
      "put": {
        "operationId": "pauseEnrichment",
        "summary": "Pause enrichment",
        "description": "Pause an active enrichment job.",
        "tags": [
          "Enrichment"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Enrichment job token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment paused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichmentStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/enrich/{token}/download": {
      "get": {
        "operationId": "downloadEnrichmentResults",
        "summary": "Download enrichment results",
        "description": "Download the results of a completed enrichment job.",
        "tags": [
          "Enrichment"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Enrichment job token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment results file.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchByNameRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the person to search for."
          },
          "domain": {
            "type": "string",
            "description": "Company domain name."
          },
          "company": {
            "type": "string",
            "description": "Company name (alternative to domain)."
          },
          "webhook": {
            "type": "string",
            "description": "Callback URL for async results."
          },
          "list_id": {
            "type": "integer",
            "description": "ID of the list to add the contact to."
          }
        },
        "required": [
          "name"
        ]
      },
      "SearchByDomainRequest": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "description": "Company domain name."
          },
          "company": {
            "type": "string",
            "description": "Company name (alternative to domain)."
          },
          "list_id": {
            "type": "integer",
            "description": "ID of the list to add contacts to."
          },
          "page": {
            "type": "integer",
            "description": "Page number for pagination."
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Found email address."
          },
          "score": {
            "type": "number",
            "description": "Confidence score."
          },
          "searching": {
            "type": "boolean",
            "description": "Whether the search is still in progress."
          }
        }
      },
      "BulkSearchRequest": {
        "type": "object",
        "properties": {
          "col_name": {
            "type": "string",
            "description": "Column index for names in CSV."
          },
          "col_company": {
            "type": "string",
            "description": "Column index for company/domain in CSV."
          },
          "content": {
            "type": "string",
            "description": "CSV data content."
          },
          "file_url": {
            "type": "string",
            "description": "URL to a CSV file (alternative to content)."
          },
          "webhook": {
            "type": "string",
            "description": "Callback URL for completion notification."
          },
          "rerun_frequency": {
            "type": "integer",
            "description": "Hours between automatic reruns."
          },
          "webhook_file_retention_time": {
            "type": "integer",
            "description": "Hours to retain webhook file."
          }
        },
        "required": [
          "col_name",
          "col_company",
          "webhook"
        ]
      },
      "BulkSearchStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Bulk search file ID."
          },
          "status": {
            "type": "string",
            "description": "Current status of the bulk search."
          },
          "total": {
            "type": "integer",
            "description": "Total number of records."
          },
          "processed": {
            "type": "integer",
            "description": "Number of records processed."
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Account email."
          },
          "credits": {
            "type": "integer",
            "description": "Remaining search credits."
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Organization name."
          }
        }
      },
      "Credits": {
        "type": "object",
        "properties": {
          "credits": {
            "type": "integer",
            "description": "Remaining credits."
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Contact ID."
          },
          "name": {
            "type": "string",
            "description": "Contact name."
          },
          "email": {
            "type": "string",
            "description": "Contact email address."
          },
          "company": {
            "type": "string",
            "description": "Company name."
          },
          "status": {
            "type": "string",
            "description": "Email verification status."
          }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "List ID."
          },
          "name": {
            "type": "string",
            "description": "List name."
          },
          "count": {
            "type": "integer",
            "description": "Number of contacts in the list."
          }
        }
      },
      "VerifyUploadRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "description": "Comma-separated email addresses to verify."
          },
          "file": {
            "type": "string",
            "format": "binary",
            "description": "File containing emails to verify."
          },
          "webhook": {
            "type": "string",
            "description": "Callback URL for completion notification."
          }
        },
        "required": [
          "webhook"
        ]
      },
      "VerificationStatus": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Verification job token."
          },
          "status": {
            "type": "string",
            "description": "Current verification status."
          },
          "total": {
            "type": "integer",
            "description": "Total emails to verify."
          },
          "processed": {
            "type": "integer",
            "description": "Emails verified so far."
          }
        }
      },
      "EnrichUploadRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "description": "Comma-separated email addresses to enrich."
          },
          "file": {
            "type": "string",
            "format": "binary",
            "description": "File containing emails to enrich."
          },
          "webhook": {
            "type": "string",
            "description": "Callback URL for completion notification."
          }
        },
        "required": [
          "webhook"
        ]
      },
      "EnrichmentStatus": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Enrichment job token."
          },
          "status": {
            "type": "string",
            "description": "Current enrichment status."
          },
          "total": {
            "type": "integer",
            "description": "Total emails to enrich."
          },
          "processed": {
            "type": "integer",
            "description": "Emails enriched so far."
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using any string as username and API token as password."
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}