{
  "openapi": "3.0.3",
  "info": {
    "title": "Confetti Events API",
    "version": "1.0.0",
    "description": "REST API for managing events, tickets, contacts, payments, webhooks, and workspaces on the Confetti platform.",
    "x-jentic-source-url": "https://docs.confetti.events"
  },
  "servers": [
    {
      "url": "https://api.confetti.events",
      "description": "Production server"
    }
  ],
  "paths": {
    "/events": {
      "get": {
        "operationId": "listevents",
        "summary": "Retrieve a paginated list of events",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "filter[signupType]",
            "in": "query",
            "required": false,
            "description": "Filter by signup type",
            "schema": {
              "type": "string",
              "enum": [
                "rsvp",
                "tickets"
              ]
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "required": false,
            "description": "Filter by event type",
            "schema": {
              "type": "string",
              "enum": [
                "future",
                "past"
              ]
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "description": "Maximum results per page",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Related resources to include (comma-separated: categories, pages, pages.blocks, speakers, organisers)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/events/{id}": {
      "get": {
        "operationId": "getevent",
        "summary": "Retrieve a single event by ID",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Event ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Related resources to include",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/tickets": {
      "get": {
        "operationId": "listtickets",
        "summary": "Retrieve a paginated list of tickets",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "filter[eventId]",
            "in": "query",
            "required": true,
            "description": "Event ID to filter tickets",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[search]",
            "in": "query",
            "required": false,
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[description]",
            "in": "query",
            "required": false,
            "description": "Filter by description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[checkedIn]",
            "in": "query",
            "required": false,
            "description": "Filter by check-in status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "required": false,
            "description": "Filter by ticket status",
            "schema": {
              "type": "string",
              "enum": [
                "attending",
                "waitlist",
                "declined",
                "invited",
                "consumed",
                "deletion-requested"
              ]
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Related resources to include",
            "schema": {
              "type": "string",
              "default": "addons"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of tickets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Ticket"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      },
      "post": {
        "operationId": "createticket",
        "summary": "Create a new ticket",
        "tags": [
          "Tickets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTicketRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ticket created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid or missing fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/tickets/{id}": {
      "get": {
        "operationId": "getticket",
        "summary": "Retrieve a single ticket by ID",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Ticket ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "addons"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "listcontacts",
        "summary": "Retrieve a paginated list of contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      },
      "post": {
        "operationId": "createcontact",
        "summary": "Create a new contact",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid or missing fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "operationId": "getcontact",
        "summary": "Retrieve a single contact by ID",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Contact ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/payments": {
      "get": {
        "operationId": "listpayments",
        "summary": "Retrieve a paginated list of payments",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "filter[eventId]",
            "in": "query",
            "required": true,
            "description": "Event ID to filter payments",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "required": false,
            "description": "Filter by payment status",
            "schema": {
              "type": "string",
              "enum": [
                "paid",
                "refunded",
                "pending-invoice",
                "sent-invoice",
                "paid-invoice",
                "cancelled-invoice"
              ]
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of payments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payment"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listwebhooks",
        "summary": "Retrieve a paginated list of webhooks",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "filter[eventId]",
            "in": "query",
            "required": false,
            "description": "Filter by event ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/workspaces/{id}": {
      "get": {
        "operationId": "getworkspace",
        "summary": "Retrieve a workspace by ID",
        "tags": [
          "Workspaces"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key passed as 'apikey your-key' in the Authorization header"
      }
    },
    "schemas": {
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "timeZone": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "featureLevel": {
            "type": "string"
          },
          "signupType": {
            "type": "string",
            "enum": [
              "rsvp",
              "tickets"
            ]
          },
          "website": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "rsvpLimit": {
            "type": "integer"
          },
          "rsvpLeft": {
            "type": "integer"
          },
          "waitlisted": {
            "type": "integer"
          },
          "hasPassed": {
            "type": "boolean"
          },
          "waitlist": {
            "type": "boolean"
          },
          "enableExtraGuests": {
            "type": "boolean"
          },
          "maxExtraGuests": {
            "type": "integer"
          },
          "location": {
            "type": "string"
          },
          "shareTitle": {
            "type": "string"
          },
          "shareDescription": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "timeFormat": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "primaryColor": {
            "type": "string"
          },
          "contrastColor": {
            "type": "string"
          },
          "workspaceId": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Ticket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "persons": {
            "type": "integer"
          },
          "hashid": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "attending",
              "waitlist",
              "declined",
              "invited",
              "consumed",
              "deletion-requested"
            ]
          },
          "emailStatus": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "checkinAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "waitlistAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "termsAcceptedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deletionRequestedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ticketBatchId": {
            "type": "integer",
            "nullable": true
          },
          "paymentId": {
            "type": "integer",
            "nullable": true
          },
          "eventId": {
            "type": "integer"
          },
          "contactId": {
            "type": "integer"
          },
          "values": {
            "type": "object",
            "additionalProperties": true
          },
          "comment": {
            "type": "string"
          },
          "guests": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateTicketRequest": {
        "type": "object",
        "required": [
          "eventId",
          "email",
          "status",
          "sendEmailConfirmation"
        ],
        "properties": {
          "eventId": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "status": {
            "type": "string",
            "enum": [
              "attending",
              "invited"
            ]
          },
          "sendEmailConfirmation": {
            "type": "boolean"
          },
          "ticketBatchId": {
            "type": "integer",
            "description": "Required for ticket events"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "description": "Mobile phone number with country code (e.g., +46701234567)"
          },
          "company": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "organisationId": {
            "type": "integer"
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deletionRequestedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateContactRequest": {
        "type": "object",
        "required": [
          "email",
          "workspaceId"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "workspaceId": {
            "type": "integer"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "description": "Mobile phone number with country code (e.g., +46701234567)"
          },
          "comment": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "categoryIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Attach categories to the contact"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "vat": {
            "type": "number"
          },
          "vatPercentage": {
            "type": "number"
          },
          "commission": {
            "type": "number"
          },
          "commissionVat": {
            "type": "number"
          },
          "customer": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "paid",
              "refunded",
              "pending-invoice",
              "sent-invoice",
              "paid-invoice",
              "cancelled-invoice"
            ]
          },
          "paidAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "timeZone": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "featureLevel": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "shareTitle": {
            "type": "string"
          },
          "shareDescription": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "primaryColor": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Contacts",
      "description": "Operations related to Contacts"
    },
    {
      "name": "Events",
      "description": "Operations related to Events"
    },
    {
      "name": "Payments",
      "description": "Operations related to Payments"
    },
    {
      "name": "Tickets",
      "description": "Operations related to Tickets"
    },
    {
      "name": "Webhooks",
      "description": "Operations related to Webhooks"
    },
    {
      "name": "Workspaces",
      "description": "Operations related to Workspaces"
    }
  ]
}