{
  "openapi": "3.0.3",
  "info": {
    "title": "SpotSense API",
    "description": "SpotSense provides a location-based engagement platform that enables developers to create geofences, beacons, and location-based rules to trigger actions when users enter or exit specific areas. The API supports managing geofences, beacon regions, rules, and retrieving location-based analytics.",
    "version": "1.0.0",
    "contact": {
      "name": "SpotSense",
      "url": "https://spotsense.io"
    },
    "x-jentic-source-url": "https://spotsense.io/"
  },
  "servers": [
    {
      "url": "https://api.spotsense.io/v1",
      "description": "SpotSense API v1 production server"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Geofences",
      "description": "Create and manage geofences (geographic boundaries)"
    },
    {
      "name": "Rules",
      "description": "Create and manage location-triggered rules"
    },
    {
      "name": "Beacons",
      "description": "Manage Bluetooth beacon regions"
    },
    {
      "name": "Apps",
      "description": "Application management"
    },
    {
      "name": "Analytics",
      "description": "Location analytics and event data"
    }
  ],
  "paths": {
    "/apps/{appId}/geofences": {
      "get": {
        "operationId": "listGeofences",
        "summary": "List Geofences",
        "description": "Retrieve a list of all geofences for an application.",
        "tags": ["Geofences"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "Application ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of geofences.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Geofence"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createGeofence",
        "summary": "Create Geofence",
        "description": "Create a new geofence for an application. Supports circular and polygon geofences.",
        "tags": ["Geofences"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "Application ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeofenceCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Geofence created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Geofence"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid geofence data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/geofences/{geofenceId}": {
      "get": {
        "operationId": "getGeofence",
        "summary": "Get Geofence",
        "description": "Retrieve details of a specific geofence.",
        "tags": ["Geofences"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geofenceId",
            "in": "path",
            "required": true,
            "description": "Geofence ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geofence details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Geofence"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Geofence not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateGeofence",
        "summary": "Update Geofence",
        "description": "Update an existing geofence.",
        "tags": ["Geofences"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geofenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeofenceCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Geofence updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Geofence"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Geofence not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteGeofence",
        "summary": "Delete Geofence",
        "description": "Delete a geofence.",
        "tags": ["Geofences"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geofenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Geofence deleted successfully."
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Geofence not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/rules": {
      "get": {
        "operationId": "listRules",
        "summary": "List Rules",
        "description": "Retrieve all location-triggered rules for an application.",
        "tags": ["Rules"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rules.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Rule"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createRule",
        "summary": "Create Rule",
        "description": "Create a new location-triggered rule that fires when users enter or exit a geofence or beacon region.",
        "tags": ["Rules"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rule created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Rule"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/rules/{ruleId}": {
      "get": {
        "operationId": "getRule",
        "summary": "Get Rule",
        "description": "Retrieve details of a specific rule.",
        "tags": ["Rules"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rule details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Rule"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Rule not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateRule",
        "summary": "Update Rule",
        "description": "Update an existing rule.",
        "tags": ["Rules"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rule updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Rule"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Rule not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteRule",
        "summary": "Delete Rule",
        "description": "Delete a rule.",
        "tags": ["Rules"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Rule deleted successfully."
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Rule not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/beacons": {
      "get": {
        "operationId": "listBeacons",
        "summary": "List Beacons",
        "description": "Retrieve a list of all beacon regions for an application.",
        "tags": ["Beacons"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of beacon regions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Beacon"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBeacon",
        "summary": "Create Beacon",
        "description": "Register a new beacon region.",
        "tags": ["Beacons"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeaconCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Beacon created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Beacon"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/analytics/events": {
      "get": {
        "operationId": "getAnalyticsEvents",
        "summary": "Get Analytics Events",
        "description": "Retrieve location-based analytics events such as geofence entries, exits, and dwell times.",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Start date filter (ISO 8601 format).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "End date filter (ISO 8601 format).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "geofenceId",
            "in": "query",
            "required": false,
            "description": "Filter events by geofence ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventType",
            "in": "query",
            "required": false,
            "description": "Filter by event type.",
            "schema": {
              "type": "string",
              "enum": ["enter", "exit", "dwell"]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of analytics events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnalyticsEvent"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps": {
      "get": {
        "operationId": "listApps",
        "summary": "List Apps",
        "description": "Retrieve a list of all applications associated with your account.",
        "tags": ["Apps"],
        "responses": {
          "200": {
            "description": "List of applications.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/App"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{appId}": {
      "get": {
        "operationId": "getApp",
        "summary": "Get App",
        "description": "Retrieve details of a specific application.",
        "tags": ["Apps"],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/App"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "SpotSense API key obtained from your dashboard."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token for authenticated requests."
      }
    },
    "schemas": {
      "Geofence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique geofence identifier."
          },
          "name": {
            "type": "string",
            "description": "Geofence name."
          },
          "description": {
            "type": "string",
            "description": "Geofence description."
          },
          "type": {
            "type": "string",
            "description": "Geofence type.",
            "enum": ["circle", "polygon"]
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Center latitude (for circular geofences)."
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Center longitude (for circular geofences)."
          },
          "radius": {
            "type": "number",
            "description": "Radius in meters (for circular geofences)."
          },
          "coordinates": {
            "type": "array",
            "description": "Polygon coordinates (for polygon geofences).",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "metadata": {
            "type": "object",
            "description": "Custom key-value metadata.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the geofence is active."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GeofenceCreate": {
        "type": "object",
        "required": ["name", "type"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Geofence name."
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["circle", "polygon"]
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Center latitude (required for circle type)."
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Center longitude (required for circle type)."
          },
          "radius": {
            "type": "number",
            "description": "Radius in meters (required for circle type)."
          },
          "coordinates": {
            "type": "array",
            "description": "Polygon coordinates (required for polygon type).",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "enabled": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "Rule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "trigger": {
            "type": "string",
            "description": "Trigger event type.",
            "enum": ["enter", "exit", "dwell"]
          },
          "geofence_id": {
            "type": "string",
            "description": "Associated geofence ID."
          },
          "beacon_id": {
            "type": "string",
            "description": "Associated beacon ID."
          },
          "action": {
            "type": "object",
            "description": "Action to perform when triggered.",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["webhook", "notification", "custom"]
              },
              "url": {
                "type": "string",
                "description": "Webhook URL (for webhook actions)."
              },
              "payload": {
                "type": "object",
                "description": "Custom payload data.",
                "additionalProperties": true
              }
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RuleCreate": {
        "type": "object",
        "required": ["name", "trigger"],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "trigger": {
            "type": "string",
            "enum": ["enter", "exit", "dwell"]
          },
          "geofence_id": {
            "type": "string"
          },
          "beacon_id": {
            "type": "string"
          },
          "action": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["webhook", "notification", "custom"]
              },
              "url": {
                "type": "string"
              },
              "payload": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "enabled": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "Beacon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "uuid": {
            "type": "string",
            "description": "Beacon UUID."
          },
          "major": {
            "type": "integer",
            "description": "Beacon major value."
          },
          "minor": {
            "type": "integer",
            "description": "Beacon minor value."
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BeaconCreate": {
        "type": "object",
        "required": ["name", "uuid"],
        "properties": {
          "name": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          },
          "major": {
            "type": "integer"
          },
          "minor": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "enabled": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "AnalyticsEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "event_type": {
            "type": "string",
            "enum": ["enter", "exit", "dwell"]
          },
          "geofence_id": {
            "type": "string"
          },
          "geofence_name": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "dwell_time": {
            "type": "integer",
            "description": "Dwell time in seconds (for dwell events)."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "App": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "api_key": {
            "type": "string",
            "description": "Application API key."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code."
              },
              "message": {
                "type": "string",
                "description": "Error message."
              }
            }
          }
        }
      }
    }
  }
}