{
  "openapi": "3.0.3",
  "info": {
    "title": "KeyCDN API",
    "version": "1.0.0",
    "description": "KeyCDN management API for managing CDN zones, zone aliases, zone referrers, cache purging, and reporting. Uses HTTP Basic Auth with API key.",
    "x-jentic-source-url": "https://www.keycdn.com/api"
  },
  "servers": [
    {
      "url": "https://api.keycdn.com"
    }
  ],
  "paths": {
    "/zones.json": {
      "get": {
        "operationId": "listZones",
        "summary": "List all zones",
        "tags": [
          "Zones"
        ],
        "responses": {
          "200": {
            "description": "List of zones",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZonesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createZone",
        "summary": "Create a new zone",
        "tags": [
          "Zones"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Zone created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zones/{zoneId}.json": {
      "get": {
        "operationId": "getZone",
        "summary": "Get a zone",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Zone details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateZone",
        "summary": "Update a zone",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Zone updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteZone",
        "summary": "Delete a zone",
        "tags": [
          "Zones"
        ],
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Zone deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zones/purge/{zoneId}.json": {
      "get": {
        "operationId": "purgeZoneCache",
        "summary": "Purge entire zone cache",
        "tags": [
          "Cache"
        ],
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cache purged"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zones/purgeurl/{zoneId}.json": {
      "delete": {
        "operationId": "purgeZoneUrls",
        "summary": "Purge specific URLs from zone cache",
        "tags": [
          "Cache"
        ],
        "parameters": [
          {
            "name": "zoneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgeUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URLs purged"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zonealiases.json": {
      "get": {
        "operationId": "listZoneAliases",
        "summary": "List all zone aliases",
        "tags": [
          "ZoneAliases"
        ],
        "responses": {
          "200": {
            "description": "List of zone aliases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneAliasesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createZoneAlias",
        "summary": "Add a zone alias",
        "tags": [
          "ZoneAliases"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Zone alias created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zonealiases/{zoneAliasId}.json": {
      "put": {
        "operationId": "updateZoneAlias",
        "summary": "Update a zone alias",
        "tags": [
          "ZoneAliases"
        ],
        "parameters": [
          {
            "name": "zoneAliasId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneAliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Zone alias updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteZoneAlias",
        "summary": "Delete a zone alias",
        "tags": [
          "ZoneAliases"
        ],
        "parameters": [
          {
            "name": "zoneAliasId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Zone alias deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reports/traffic.json": {
      "get": {
        "operationId": "getTrafficReport",
        "summary": "Get traffic statistics",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Start time (Unix timestamp)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "description": "End time (Unix timestamp)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "zone_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Traffic report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reports/storage.json": {
      "get": {
        "operationId": "getStorageReport",
        "summary": "Get storage statistics",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "zone_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Storage report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reports/statestats.json": {
      "get": {
        "operationId": "getStatusCodeReport",
        "summary": "Get HTTP status code statistics",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "zone_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status code report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reports/credits.json": {
      "get": {
        "operationId": "getCreditReport",
        "summary": "Get credit usage history",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reports/creditbalance.json": {
      "get": {
        "operationId": "getCreditBalance",
        "summary": "Get current credit balance",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ZonesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "zones": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Zone"
                }
              }
            }
          }
        }
      },
      "ZoneResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "zone": {
                "$ref": "#/components/schemas/Zone"
              }
            }
          }
        }
      },
      "Zone": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "pull",
              "push"
            ]
          },
          "originurl": {
            "type": "string"
          },
          "expire": {
            "type": "integer"
          },
          "gzip": {
            "type": "boolean"
          },
          "cors": {
            "type": "boolean"
          },
          "securetoken": {
            "type": "boolean"
          },
          "forcessl": {
            "type": "boolean"
          }
        }
      },
      "ZoneInput": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "pull",
              "push"
            ]
          },
          "originurl": {
            "type": "string"
          },
          "expire": {
            "type": "integer"
          },
          "gzip": {
            "type": "boolean"
          },
          "cors": {
            "type": "boolean"
          },
          "securetoken": {
            "type": "boolean"
          },
          "forcessl": {
            "type": "boolean"
          }
        }
      },
      "PurgeUrlRequest": {
        "type": "object",
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ZoneAliasesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "zonealiases": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ZoneAlias"
                }
              }
            }
          }
        }
      },
      "ZoneAlias": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "zone_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ZoneAliasInput": {
        "type": "object",
        "required": [
          "zone_id",
          "name"
        ],
        "properties": {
          "zone_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ReportResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth with API key as username and empty password"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}