{
    "openapi": "3.0.0",
    "info": {
        "description": "Api encargada de la autorizacion de transacciones",
        "version": "v3",
        "title": "API Visanet Authorization",
        "termsOfService": "http://www.visanet.com.pe",
        "contact": {
            "name": "VisaNet",
            "url": "http://www.visanet.com.pe",
            "email": "visanet@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "x-jentic-source-url": "https://api.swaggerhub.com/apis/pgaldamez/api.authorization/v3/swagger.json"
    },
    "tags": [
        {
            "name": "Authorization Api",
            "description": "RESTful API to authorize transactions."
        },
        {
            "name": "Void Api",
            "description": "RESTful API to void transactions."
        }
    ],
    "paths": {
        "/authorization/{product}/{merchantId}": {
            "post": {
                "tags": [
                    "Authorization Api"
                ],
                "summary": "Authorization",
                "description": "RESTful API to authorizate transactions.",
                "operationId": "authorize",
                "parameters": [
                    {
                        "name": "product",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merchantId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuthorizationRequest"
                            }
                        }
                    },
                    "description": "Authorization request",
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthorizationResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Request is not valid"
                    }
                },
                "security": [
                    {
                        "accessToken": []
                    }
                ]
            }
        },
        "/void/{product}/{merchantId}": {
            "post": {
                "tags": [
                    "Void Api"
                ],
                "summary": "Void",
                "description": "RESTful API to void transactions.",
                "operationId": "voidTransaction",
                "parameters": [
                    {
                        "name": "product",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merchantId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuthorizationRequest"
                            }
                        }
                    },
                    "description": "Void transaction request",
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthorizationResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Request is not valid"
                    }
                },
                "security": [
                    {
                        "accessToken": []
                    }
                ]
            }
        },
        "/void/{product}/{merchantId}/{backofficeId}": {
            "post": {
                "tags": [
                    "Void Api"
                ],
                "summary": "VoidBackOffice",
                "description": "RESTful API to void transactions.",
                "operationId": "voidBackoffice",
                "parameters": [
                    {
                        "name": "product",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merchantId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "backofficeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VoidRequest"
                            }
                        }
                    },
                    "description": "Void transaction request",
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthorizationResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Request is not valid"
                    }
                },
                "security": [
                    {
                        "accessToken": []
                    }
                ]
            }
        }
    },
    "servers": [
        {
            "url": "https://apitestenv.vnforapps.com/api.authorization/v3"
        }
    ],
    "components": {
        "securitySchemes": {
            "accessToken": {
                "description": "Access token obtained from api.security",
                "type": "apiKey",
                "name": "Authorization",
                "in": "header"
            }
        },
        "schemas": {
            "Address": {
                "type": "object",
                "properties": {
                    "street1": {
                        "type": "string"
                    },
                    "street2": {
                        "type": "string"
                    },
                    "postalCode": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    }
                }
            },
            "Antifraud": {
                "type": "object",
                "properties": {
                    "billingAddress": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "shippingAddress": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "clientIp": {
                        "type": "string"
                    },
                    "deviceFingerprintId": {
                        "type": "string"
                    },
                    "merchantDefineData": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }
            },
            "Authentication": {
                "type": "object",
                "properties": {
                    "eci": {
                        "type": "string"
                    },
                    "xid": {
                        "type": "string"
                    },
                    "cavv": {
                        "type": "string"
                    }
                }
            },
            "AuthorizationRequest": {
                "type": "object",
                "properties": {
                    "terminalId": {
                        "type": "string"
                    },
                    "channel": {
                        "type": "string"
                    },
                    "countable": {
                        "type": "boolean"
                    },
                    "terminalUnattended": {
                        "type": "boolean"
                    },
                    "captureType": {
                        "type": "string"
                    },
                    "lon": {
                        "type": "string"
                    },
                    "lat": {
                        "type": "string"
                    },
                    "order": {
                        "$ref": "#/components/schemas/Order"
                    },
                    "card": {
                        "$ref": "#/components/schemas/Card"
                    },
                    "cardHolder": {
                        "$ref": "#/components/schemas/CardHolder"
                    },
                    "sponsored": {
                        "$ref": "#/components/schemas/Sponsored"
                    },
                    "antifraud": {
                        "$ref": "#/components/schemas/Antifraud"
                    },
                    "authentication": {
                        "$ref": "#/components/schemas/Authentication"
                    },
                    "recurrence": {
                        "$ref": "#/components/schemas/Recurrence"
                    },
                    "dataMap": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }
            },
            "AuthorizationResponse": {
                "type": "object",
                "properties": {
                    "header": {
                        "$ref": "#/components/schemas/Header"
                    },
                    "order": {
                        "$ref": "#/components/schemas/Order"
                    },
                    "dataMap": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }
            },
            "Card": {
                "type": "object",
                "properties": {
                    "cardNumber": {
                        "type": "string"
                    },
                    "expirationMonth": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "expirationYear": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "cvv2": {
                        "type": "string"
                    },
                    "cardHolderName": {
                        "type": "string"
                    },
                    "tokenId": {
                        "type": "string"
                    },
                    "cardAliasName": {
                        "type": "string"
                    },
                    "verify": {
                        "type": "boolean"
                    },
                    "track2": {
                        "type": "string"
                    },
                    "emv": {
                        "type": "string"
                    },
                    "cardNumberEnc": {
                        "type": "string"
                    },
                    "track2Enc": {
                        "type": "string"
                    },
                    "emvEnc": {
                        "type": "string"
                    },
                    "pinBlockEnc": {
                        "type": "string"
                    },
                    "ksnDukpt": {
                        "type": "string"
                    },
                    "visaCheckout": {
                        "type": "boolean"
                    },
                    "registerCardFrecuent": {
                        "type": "boolean"
                    },
                    "useCardFrecuent": {
                        "type": "boolean"
                    }
                }
            },
            "CardHolder": {
                "type": "object",
                "properties": {
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "phoneNumber": {
                        "type": "string"
                    },
                    "documentType": {
                        "type": "string"
                    },
                    "documentNumber": {
                        "type": "string"
                    }
                }
            },
            "Header": {
                "type": "object",
                "properties": {
                    "ecoreTransactionUUID": {
                        "type": "string"
                    },
                    "ecoreTransactionDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "millis": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "Order": {
                "type": "object",
                "properties": {
                    "tokenId": {
                        "type": "string"
                    },
                    "purchaseNumber": {
                        "type": "string"
                    },
                    "productId": {
                        "type": "string"
                    },
                    "amount": {
                        "type": "number",
                        "format": "double"
                    },
                    "installment": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "externalTransactionId": {
                        "type": "string"
                    },
                    "authorizedAmount": {
                        "type": "number",
                        "format": "double"
                    },
                    "authorizationCode": {
                        "type": "string"
                    },
                    "traceNumber": {
                        "type": "string"
                    },
                    "transactionDate": {
                        "type": "string"
                    },
                    "transactionId": {
                        "type": "string"
                    },
                    "originalTraceNumber": {
                        "type": "string"
                    },
                    "originalDateTime": {
                        "type": "string"
                    },
                    "billingAddress": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "shippingAddress": {
                        "$ref": "#/components/schemas/Address"
                    }
                }
            },
            "Recurrence": {
                "type": "object",
                "properties": {
                    "beneficiaryId": {
                        "type": "string"
                    },
                    "frequency": {
                        "type": "string"
                    },
                    "recurrenceAmount": {
                        "type": "number",
                        "format": "double"
                    },
                    "maximum": {
                        "type": "number",
                        "format": "double"
                    },
                    "type": {
                        "type": "string"
                    }
                }
            },
            "Sponsored": {
                "type": "object",
                "properties": {
                    "merchantId": {
                        "type": "string"
                    },
                    "mcci": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    },
                    "phoneNumber": {
                        "type": "string"
                    }
                }
            },
            "VoidRequest": {
                "type": "object",
                "properties": {
                    "terminalId": {
                        "type": "string"
                    },
                    "channel": {
                        "type": "string"
                    },
                    "countable": {
                        "type": "boolean"
                    },
                    "terminalUnattended": {
                        "type": "boolean"
                    },
                    "captureType": {
                        "type": "string"
                    },
                    "lon": {
                        "type": "string"
                    },
                    "lat": {
                        "type": "string"
                    },
                    "order": {
                        "$ref": "#/components/schemas/Order"
                    },
                    "card": {
                        "$ref": "#/components/schemas/Card"
                    },
                    "cardHolder": {
                        "$ref": "#/components/schemas/CardHolder"
                    },
                    "sponsored": {
                        "$ref": "#/components/schemas/Sponsored"
                    },
                    "antifraud": {
                        "$ref": "#/components/schemas/Antifraud"
                    },
                    "authentication": {
                        "$ref": "#/components/schemas/Authentication"
                    },
                    "recurrence": {
                        "$ref": "#/components/schemas/Recurrence"
                    },
                    "dataMap": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "annulationReason": {
                        "type": "string"
                    }
                }
            }
        }
    }
}