{
  "openapi": "3.0.3",
  "info": {
    "title": "SlideSpeak API",
    "description": "SlideSpeak provides ChatGPT powered AI tools for presentations and other documents.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.slidespeak.co/"
  },
  "servers": [
    {
      "url": "https://api.slidespeak.co/api/v1"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get user info",
        "description": "Retrieve the username associated with the API key.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/task_status/{taskId}": {
      "get": {
        "operationId": "getTaskStatus",
        "summary": "Get task status",
        "description": "Obtain the status of a specified task.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The task identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/presentations/{id}/download": {
      "get": {
        "operationId": "downloadPresentation",
        "summary": "Download presentation",
        "description": "Get a short-lived download URL for a presentation by ID.",
        "tags": [
          "Presentations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The presentation identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/templates": {
      "get": {
        "operationId": "getDefaultTemplates",
        "summary": "Get all default templates",
        "description": "Retrieve all available default templates.",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/templates/branded": {
      "get": {
        "operationId": "getBrandedTemplates",
        "summary": "Get branded templates",
        "description": "Retrieve all processed branded templates.",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/document/upload": {
      "post": {
        "operationId": "uploadDocument",
        "summary": "Upload a document",
        "description": "Upload a document to use it in order to generate a presentation.",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The document file to upload"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/generate": {
      "post": {
        "operationId": "generatePresentation",
        "summary": "Generate a presentation",
        "description": "Generate a presentation from plain text, documents, or a pre-built outline.",
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneratePresentationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/outline": {
      "post": {
        "operationId": "generateOutline",
        "summary": "Generate or edit an outline",
        "description": "Generate or edit a presentation outline.",
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutlineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Outline generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutlineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/generate/slide-by-slide": {
      "post": {
        "operationId": "generateSlideBySlide",
        "summary": "Generate presentation slide by slide",
        "description": "Generate a presentation by specifying each slide individually.",
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlideBySlideRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/edit/slide": {
      "post": {
        "operationId": "editSlide",
        "summary": "Edit a slide",
        "description": "Insert, regenerate, or remove a slide in an existing presentation.",
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditSlideRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Slide edited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/presentation/edit": {
      "post": {
        "operationId": "editPresentation",
        "summary": "Edit a presentation",
        "description": "Edit an existing presentation.",
        "tags": [
          "Presentations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditPresentationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presentation edited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/subscribe": {
      "post": {
        "operationId": "subscribeWebhook",
        "summary": "Subscribe to webhook",
        "description": "Subscribe to receive a webhook when presentation generation finishes.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/unsubscribe": {
      "delete": {
        "operationId": "unsubscribeWebhook",
        "summary": "Unsubscribe from webhook",
        "description": "Remove an existing webhook subscription.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUnsubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsubscription successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "UserInfo": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Username associated with the API key"
          }
        }
      },
      "TaskStatus": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Task identifier"
          },
          "status": {
            "type": "string",
            "description": "Current status of the task"
          },
          "result": {
            "type": "object",
            "description": "Task result when completed"
          }
        }
      },
      "DownloadResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Short-lived download URL"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Template identifier"
          },
          "name": {
            "type": "string",
            "description": "Template name"
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Uploaded document identifier"
          },
          "filename": {
            "type": "string",
            "description": "Name of the uploaded file"
          }
        }
      },
      "GeneratePresentationRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Plain text content for the presentation"
          },
          "document_id": {
            "type": "string",
            "description": "ID of an uploaded document"
          },
          "outline": {
            "type": "object",
            "description": "Pre-built outline for the presentation"
          },
          "template_id": {
            "type": "string",
            "description": "Template to use"
          }
        }
      },
      "OutlineRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Content for outline generation"
          },
          "outline": {
            "type": "object",
            "description": "Existing outline to edit"
          }
        }
      },
      "OutlineResponse": {
        "type": "object",
        "properties": {
          "outline": {
            "type": "object",
            "description": "Generated or edited presentation outline"
          }
        }
      },
      "SlideBySlideRequest": {
        "type": "object",
        "properties": {
          "slides": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "Individual slide specification"
            },
            "description": "Array of slide definitions"
          },
          "template_id": {
            "type": "string",
            "description": "Template to use"
          }
        }
      },
      "EditSlideRequest": {
        "type": "object",
        "properties": {
          "presentation_id": {
            "type": "string",
            "description": "ID of the presentation to edit"
          },
          "action": {
            "type": "string",
            "enum": [
              "insert",
              "regenerate",
              "remove"
            ],
            "description": "Action to perform on the slide"
          },
          "slide_index": {
            "type": "integer",
            "description": "Index of the slide to act on"
          }
        }
      },
      "EditPresentationRequest": {
        "type": "object",
        "properties": {
          "presentation_id": {
            "type": "string",
            "description": "ID of the presentation to edit"
          },
          "instructions": {
            "type": "string",
            "description": "Edit instructions"
          }
        }
      },
      "WebhookSubscribeRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook callback URL"
          }
        }
      },
      "WebhookUnsubscribeRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Webhook subscription identifier"
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Subscription identifier"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook callback URL"
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Task identifier for tracking progress"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "User account operations"
    },
    {
      "name": "Tasks",
      "description": "Task status tracking"
    },
    {
      "name": "Presentations",
      "description": "Presentation generation and management"
    },
    {
      "name": "Templates",
      "description": "Template operations"
    },
    {
      "name": "Documents",
      "description": "Document upload operations"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscription management"
    }
  ]
}