{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "A PayscaleAPI service that generates PayScale Reports based on particular sets of answers.",
    "title": "Jobalyzer",
    "version": "v2",
    "x-jentic-source-url": "https://developers.payscale.com/_specs/jobalyzer.json"
  },
  "servers": [
    {
      "url": "https://jobalyzer.payscale.com/"
    }
  ],
  "paths": {
    "/jobalyzer/v2/impact/certs": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "JobTitle",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "AutoResolveJobTitle",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "CustomerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "User",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Test",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImpactResponseSuccess"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImpactResponseError"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImpactResponseError"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "ImpactService"
        ],
        "description": "Get certification impacts for a given jobTitle.",
        "operationId": "GetCertificationImpacts",
        "summary": "Get certification impacts for a given jobTitle."
      }
    },
    "/jobalyzer/v2/impact/education": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "JobTitle",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "AutoResolveJobTitle",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "CustomerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "User",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Test",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImpactResponseSuccess"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImpactResponseError"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImpactResponseError"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "ImpactService"
        ],
        "description": "Get education impacts for a given jobTitle.",
        "operationId": "GetEducationImpacts",
        "summary": "Get education impacts for a given jobTitle."
      }
    },
    "/jobalyzer/v2/impact/skills": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "JobTitle",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "AutoResolveJobTitle",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "CustomerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "User",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Test",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImpactResponseSuccess"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImpactResponseError"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImpactResponseError"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "ImpactService"
        ],
        "description": "Get skill impacts for a given jobTitle.",
        "operationId": "GetSkillImpacts",
        "summary": "Get skill impacts for a given jobTitle."
      }
    },
    "/jobalyzer/v2/jobtitlematch": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "JobTitle",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Tasks",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "YearsExperience",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "CustomerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "User",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Test",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleMatchResponseSuccess"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleMatchResponseError"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleMatchResponseError"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "JobTitleMatchService"
        ],
        "description": "Get certification impacts for a given jobTitle.",
        "operationId": "JobTitleMatch",
        "summary": "Get certification impacts for a given jobTitle."
      }
    },
    "/jobalyzer/v2/locations/{SearchTerm}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "SearchTerm",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "CustomerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "User",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Test",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponseSuccess"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponseError"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "LocationService"
        ],
        "description": "Get the location for a given searchTerm.",
        "operationId": "GetLocations",
        "summary": "Get the location for a given searchTerm."
      }
    },
    "/jobalyzer/v2/reports": {
      "post": {
        "parameters": [
          {
            "description": "The time the request was received. Used for performance monitoring.",
            "in": "header",
            "name": "requestStartTime",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportLinksResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "ReportService"
        ],
        "description": "Generate reports for given answer values.",
        "operationId": "GenerateReports",
        "requestBody": {
          "content": {
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReportGenerationRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportGenerationRequest"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ReportGenerationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportGenerationRequest"
              }
            }
          },
          "description": "ReportGenerationRequest object"
        },
        "summary": "Generate reports for given answer values."
      }
    },
    "/jobalyzer/v2/reports/{ReportId}/pay": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "ReportId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "CustomerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "User",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Test",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayReportResponse"
                }
              }
            },
            "description": "Success"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportNotReadyResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "ReportService"
        ],
        "description": "Get the Pay report for a given reportId.",
        "operationId": "GetPayReport",
        "summary": "Get the Pay report for a given reportId."
      }
    },
    "/jobalyzer/v2/reports/{ReportId}/yoe": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "ReportId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "CustomerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "User",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Test",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YearsExperienceReportResponse"
                }
              }
            },
            "description": "Success"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportNotReadyResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "ReportService"
        ],
        "description": "Get the Years of Experience report for a given reportId.",
        "operationId": "GetYoeReport",
        "summary": "Get the Years of Experience report for a given reportId."
      }
    },
    "/status": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            },
            "description": "Success"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "StatusService"
        ],
        "description": "Get the status of all dependencies for Jobalyzer.",
        "operationId": "GetStatus",
        "summary": "Get the status of all dependencies for Jobalyzer."
      }
    }
  },
  "components": {
    "schemas": {
      "Answer": {
        "properties": {
          "questionId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "AnswerImpact": {
        "properties": {
          "field": {
            "type": "string"
          },
          "score": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "AutoCompleteSearchResult": {
        "properties": {
          "answer": {
            "type": "string"
          },
          "score": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CareerPathInfo": {
        "properties": {
          "jobTitle": {
            "type": "string"
          },
          "percent": {
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "CareerPathResponseSuccess": {
        "properties": {
          "childCount": {
            "format": "int32",
            "type": "integer"
          },
          "children": {
            "items": {
              "$ref": "#/components/schemas/CareerPathResponseSuccess"
            },
            "type": "array"
          },
          "index": {
            "format": "int32",
            "type": "integer"
          },
          "value": {
            "$ref": "#/components/schemas/CareerPathInfo"
          }
        },
        "type": "object"
      },
      "CompanySizeEffectSubReport": {
        "properties": {
          "average": {
            "format": "double",
            "type": "number"
          },
          "percentile10": {
            "format": "double",
            "type": "number"
          },
          "percentile25": {
            "format": "double",
            "type": "number"
          },
          "percentile50": {
            "format": "double",
            "type": "number"
          },
          "percentile75": {
            "format": "double",
            "type": "number"
          },
          "percentile90": {
            "format": "double",
            "type": "number"
          },
          "stdDev": {
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "CompanyStats": {
        "properties": {
          "count": {
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CompletionSearchResult": {
        "properties": {
          "frequency": {
            "format": "int32",
            "type": "integer"
          },
          "id": {
            "format": "int32",
            "type": "integer"
          },
          "text": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "DataSummarySubReport": {
        "properties": {
          "age": {
            "format": "int32",
            "type": "integer"
          },
          "count": {
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "rows": {
            "items": {
              "$ref": "#/components/schemas/DataSummaryTableRow"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DataSummaryTableRow": {
        "properties": {
          "count": {
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "percent": {
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "ExternalServiceStatus": {
        "properties": {
          "errorDescription": {
            "type": "string"
          },
          "errorStatusCode": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "GenderSubReport": {
        "properties": {
          "average": {
            "format": "double",
            "type": "number"
          },
          "count": {
            "format": "int32",
            "type": "integer"
          },
          "percent": {
            "format": "double",
            "type": "number"
          },
          "percentile10": {
            "format": "double",
            "type": "number"
          },
          "percentile25": {
            "format": "double",
            "type": "number"
          },
          "percentile50": {
            "format": "double",
            "type": "number"
          },
          "percentile75": {
            "format": "double",
            "type": "number"
          },
          "percentile90": {
            "format": "double",
            "type": "number"
          },
          "stdDev": {
            "format": "double",
            "type": "number"
          },
          "yearsExperienceRange": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Impact": {
        "properties": {
          "medianBasePay": {
            "format": "float",
            "type": "number"
          },
          "payDifferential": {
            "format": "float",
            "type": "number"
          },
          "payDifferentialPercentage": {
            "format": "float",
            "type": "number"
          },
          "percentReporting": {
            "format": "float",
            "type": "number"
          },
          "profileCount": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ImpactResponseError": {
        "properties": {
          "context": {
            "$ref": "#/components/schemas/RequestContext"
          },
          "errorMessage": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ImpactResponseSuccess": {
        "properties": {
          "answers": {
            "additionalProperties": {
              "$ref": "#/components/schemas/Impact"
            },
            "type": "object"
          },
          "context": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "type": "object"
      },
      "JobTitleMatchResponseError": {
        "properties": {
          "errorMessage": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "JobTitleMatchResponseSuccess": {
        "properties": {
          "answers": {
            "items": {
              "$ref": "#/components/schemas/AutoCompleteSearchResult"
            },
            "type": "array"
          },
          "tasks": {
            "additionalProperties": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "type": "object"
          },
          "yearsExperience": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Location": {
        "properties": {
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "LocationResponseError": {
        "properties": {
          "errorMessage": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "LocationResponseSuccess": {
        "properties": {
          "name": {
            "type": "string"
          },
          "results": {
            "items": {
              "$ref": "#/components/schemas/CompletionSearchResult"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PantherReport": {
        "properties": {
          "basePayReport": {
            "$ref": "#/components/schemas/PayReport"
          },
          "bonus": {
            "$ref": "#/components/schemas/PayReport"
          },
          "commission": {
            "$ref": "#/components/schemas/PayReport"
          },
          "hourlyPayReport": {
            "$ref": "#/components/schemas/PayReport"
          },
          "levelUsed": {
            "type": "string"
          },
          "profitShare": {
            "$ref": "#/components/schemas/PayReport"
          },
          "rankedFactors": {
            "items": {
              "$ref": "#/components/schemas/AnswerImpact"
            },
            "type": "array"
          },
          "reportRating": {
            "format": "double",
            "type": "number"
          },
          "totalCompanies": {
            "format": "int32",
            "type": "integer"
          },
          "totalIncumbents": {
            "format": "int32",
            "type": "integer"
          },
          "totalPayReport": {
            "$ref": "#/components/schemas/PayReport"
          },
          "totalProfilesAnalyzed": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "PayReport": {
        "properties": {
          "average": {
            "format": "double",
            "type": "number"
          },
          "count": {
            "format": "int32",
            "type": "integer"
          },
          "currencyFormat": {
            "type": "string"
          },
          "currencyName": {
            "type": "string"
          },
          "fullPercentiles": {
            "additionalProperties": {
              "format": "double",
              "type": "number"
            },
            "type": "object"
          },
          "percent": {
            "format": "double",
            "type": "number"
          },
          "percentile10": {
            "format": "double",
            "type": "number"
          },
          "percentile25": {
            "format": "double",
            "type": "number"
          },
          "percentile50": {
            "format": "double",
            "type": "number"
          },
          "percentile75": {
            "format": "double",
            "type": "number"
          },
          "percentile90": {
            "format": "double",
            "type": "number"
          },
          "statistics": {
            "$ref": "#/components/schemas/ReportStats"
          }
        },
        "type": "object"
      },
      "PayReportResponse": {
        "properties": {
          "context": {
            "$ref": "#/components/schemas/ReportRequestContext"
          },
          "errors": {
            "items": {
              "$ref": "#/components/schemas/RequestError"
            },
            "type": "array"
          },
          "report": {
            "$ref": "#/components/schemas/PantherReport"
          },
          "reports": {
            "$ref": "#/components/schemas/PantherReport"
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/RequestError"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PercentileDto": {
        "properties": {
          "percentile": {
            "format": "int32",
            "type": "integer"
          },
          "value": {
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "PopularFactorEntry": {
        "properties": {
          "average": {
            "format": "double",
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "percent": {
            "format": "double",
            "type": "number"
          },
          "percentile10": {
            "format": "double",
            "type": "number"
          },
          "percentile25": {
            "format": "double",
            "type": "number"
          },
          "percentile50": {
            "format": "double",
            "type": "number"
          },
          "percentile75": {
            "format": "double",
            "type": "number"
          },
          "percentile90": {
            "format": "double",
            "type": "number"
          },
          "stdDev": {
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "PopularFactorReport": {
        "properties": {
          "count": {
            "format": "int32",
            "type": "integer"
          },
          "entries": {
            "items": {
              "$ref": "#/components/schemas/PopularFactorEntry"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "QueuePriority": {
        "enum": [
          0,
          1,
          2
        ],
        "format": "int32",
        "type": "integer"
      },
      "ReportErrorResponse": {
        "properties": {
          "errors": {
            "items": {
              "$ref": "#/components/schemas/RequestError"
            },
            "type": "array"
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/RequestError"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ReportGenerationRequest": {
        "properties": {
          "answers": {
            "additionalProperties": {
              "$ref": "#/components/schemas/Answer"
            },
            "type": "object"
          },
          "autoResolveJobTitle": {
            "type": "boolean"
          },
          "customerId": {
            "type": "string"
          },
          "endDate": {
            "format": "date-time",
            "type": "string"
          },
          "priority": {
            "$ref": "#/components/schemas/QueuePriority"
          },
          "profileRangeMonths": {
            "format": "int32",
            "type": "integer"
          },
          "requestedReports": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "startDate": {
            "format": "date-time",
            "type": "string"
          },
          "test": {
            "type": "boolean"
          },
          "useDefaultFactors": {
            "type": "boolean"
          },
          "user": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ReportLinks": {
        "properties": {
          "compRangeReport": {
            "type": "string"
          },
          "companiesByIndustryReport": {
            "type": "string"
          },
          "companiesByJobReport": {
            "type": "string"
          },
          "companySizeEffectReport": {
            "type": "string"
          },
          "dataSummaryReport": {
            "type": "string"
          },
          "genderReport": {
            "type": "string"
          },
          "marketMediansReport": {
            "type": "string"
          },
          "monthlyTrendsReport": {
            "type": "string"
          },
          "payReport": {
            "type": "string"
          },
          "popularCertsReport": {
            "type": "string"
          },
          "popularSkillsReport": {
            "type": "string"
          },
          "quickMarketMedianReport": {
            "type": "string"
          },
          "self": {
            "type": "string"
          },
          "trendsReport": {
            "type": "string"
          },
          "validation": {
            "type": "string"
          },
          "yearlyTrendsReport": {
            "type": "string"
          },
          "yearsExperienceReport": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ReportLinksResponse": {
        "properties": {
          "errors": {
            "items": {
              "$ref": "#/components/schemas/RequestError"
            },
            "type": "array"
          },
          "links": {
            "$ref": "#/components/schemas/ReportLinks"
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/RequestError"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ReportNotReadyResponse": {
        "properties": {
          "errors": {
            "items": {
              "$ref": "#/components/schemas/RequestError"
            },
            "type": "array"
          },
          "retryAfterMilliseconds": {
            "format": "int32",
            "type": "integer"
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/RequestError"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ReportRequestContext": {
        "properties": {
          "jobTitleRating": {
            "format": "int32",
            "type": "integer"
          },
          "matchedFactors": {
            "additionalProperties": {
              "type": "object"
            },
            "type": "object"
          },
          "matchedJobTitle": {
            "type": "string"
          },
          "submittedJobTitle": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ReportStats": {
        "properties": {
          "count": {
            "format": "int32",
            "type": "integer"
          },
          "kurtosis": {
            "format": "double",
            "type": "number"
          },
          "mean": {
            "format": "double",
            "type": "number"
          },
          "percent": {
            "format": "double",
            "type": "number"
          },
          "skewness": {
            "format": "double",
            "type": "number"
          },
          "stdDev": {
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "RequestContext": {
        "properties": {
          "jobTitleRating": {
            "format": "int32",
            "type": "integer"
          },
          "matchedJobTitle": {
            "type": "string"
          },
          "submittedJobTitle": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "RequestError": {
        "properties": {
          "answerId": {
            "type": "string"
          },
          "answerValue": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "StatusResponse": {
        "properties": {
          "answerSearchServiceStatus": {
            "$ref": "#/components/schemas/ExternalServiceStatus"
          },
          "answerServiceStatus": {
            "$ref": "#/components/schemas/ExternalServiceStatus"
          },
          "cacheServiceStatus": {
            "$ref": "#/components/schemas/ExternalServiceStatus"
          },
          "impactCacheServiceStatus": {
            "$ref": "#/components/schemas/ExternalServiceStatus"
          },
          "indexSearchServiceStatus": {
            "$ref": "#/components/schemas/ExternalServiceStatus"
          },
          "judgeServiceStatus": {
            "$ref": "#/components/schemas/ExternalServiceStatus"
          }
        },
        "type": "object"
      },
      "TrendReportEntry": {
        "properties": {
          "currencyFormat": {
            "type": "string"
          },
          "currencyName": {
            "type": "string"
          },
          "endDateUtc": {
            "format": "date-time",
            "type": "string"
          },
          "medianAnnualBasePay": {
            "format": "double",
            "type": "number"
          },
          "medianHourlyRate": {
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "YearsExperienceCurrency": {
        "properties": {
          "abbreviation": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "id": {
            "format": "int32",
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "YearsExperienceMajorShift": {
        "properties": {
          "actual": {
            "format": "double",
            "type": "number"
          },
          "experience": {
            "format": "int32",
            "type": "integer"
          },
          "target": {
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "YearsExperiencePayRange": {
        "properties": {
          "average": {
            "format": "double",
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "percent": {
            "format": "double",
            "type": "number"
          },
          "percent10": {
            "format": "double",
            "type": "number"
          },
          "percent25": {
            "format": "double",
            "type": "number"
          },
          "percent50": {
            "format": "double",
            "type": "number"
          },
          "percent75": {
            "format": "double",
            "type": "number"
          },
          "percent90": {
            "format": "double",
            "type": "number"
          },
          "stdDev": {
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "YearsExperienceReport": {
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/YearsExperienceCurrency"
          },
          "majorShifts": {
            "items": {
              "$ref": "#/components/schemas/YearsExperienceMajorShift"
            },
            "type": "array"
          },
          "ranges": {
            "items": {
              "$ref": "#/components/schemas/YearsExperiencePayRange"
            },
            "type": "array"
          },
          "reportRating": {
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "YearsExperienceReportResponse": {
        "properties": {
          "context": {
            "$ref": "#/components/schemas/ReportRequestContext"
          },
          "errors": {
            "items": {
              "$ref": "#/components/schemas/RequestError"
            },
            "type": "array"
          },
          "report": {
            "$ref": "#/components/schemas/YearsExperienceReport"
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/RequestError"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "Bearer": {
        "description": "Please insert JWT with Bearer into field",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "ImpactService"
    },
    {
      "name": "JobTitleMatchService"
    },
    {
      "name": "LocationService"
    },
    {
      "name": "ReportService"
    },
    {
      "name": "StatusService"
    }
  ]
}