{
  "openapi": "3.0.3",
  "info": {
    "contact": {
      "email": "engineering@denim.com",
      "name": "Denim Engineering Team",
      "url": "https://www.denim.com"
    },
    "description": "The Denim Public API can be used by 3rd parties to sync companies, debtor relationships, payee relationships, and create invoices within Denim's payment platform. This enables streamlined operations and job invoice data between transportation management systems and Denim.",
    "title": "Denim Public API Reference Documentation",
    "version": "1.0.0",
    "x-logo": {
      "altText": "Denim",
      "backgroundColor": "#f5f5f5",
      "url": "https://app.denim.com/images/branding/denim-logo-color.png"
    },
    "x-jentic-source-url": "https://app.denim.com/api/v1/documentation#/"
  },
  "servers": [
    {
      "url": "https://app.denim.com",
      "description": "Production Environment"
    },
    {
      "url": "https://staging.denim.com",
      "description": "Staging Environment"
    }
  ],
  "paths": {
    "/api/v1/companies": {
      "get": {
        "callbacks": {},
        "description": "Returns a list of company search results. If a company entry has an existing Client-Payee or Client-Debtor relationship, that data will be returned, including the relationship ID that can be used in other API requests.",
        "externalDocs": {
          "description": "API Integration Guides: Mapping and Syncing Companies",
          "url": "https://help.denim.com/hc/en-us/articles/9403899854107-4-Mapping-and-Syncing-Companies"
        },
        "operationId": "AxlePayWeb.Api.V1.CompanyController.index (2)",
        "parameters": [
          {
            "description": "The company name, MC Number, or DOT Number to search",
            "example": "ABC Company Inc",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Type of company to sort by. Companies that match the type will be listed first. This is not a filter.",
            "example": "debtor",
            "in": "query",
            "name": "company_type",
            "required": false,
            "schema": {
              "description": "Searchable company types",
              "enum": [
                "debtor",
                "payee",
                "factor"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter to only include active companies",
            "example": true,
            "in": "query",
            "name": "active",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Sort results by specified field",
            "example": "last_payment_applied_at",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "description": "Valid sort parameters for company results",
              "enum": [
                "last_payment_applied_at",
                "company_name",
                "best_match"
              ],
              "type": "string"
            }
          },
          {
            "description": "The page of results to query.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of entities per page of results.",
            "example": 10,
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company Index Response"
                }
              }
            },
            "description": "Company response"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Search for Companies",
        "tags": [
          "Companies"
        ]
      }
    },
    "/api/v1/companies/factors": {
      "get": {
        "callbacks": {},
        "description": "Returns a list of all Factoring companies established in Denim's database. Return structure is similar to paginated results, however this will always return all factoring companies in 1 page.",
        "externalDocs": {
          "description": "API Integration Guides: Mapping and Syncing Companies",
          "url": "https://help.denim.com/hc/en-us/articles/9403899854107-4-Mapping-and-Syncing-Companies"
        },
        "operationId": "AxlePayWeb.Api.V1.FactoringCompanyController.index",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Factoring Company Index Response"
                }
              }
            },
            "description": "Factoring company response"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "List Factoring Companies",
        "tags": [
          "Companies"
        ]
      }
    },
    "/api/v1/debtor-relationships": {
      "get": {
        "callbacks": {},
        "description": "This retrieves the debtors that your company has a relationship with.",
        "externalDocs": {
          "description": "API Integration Guides: Mapping and Syncing Companies",
          "url": "https://help.denim.com/hc/en-us/articles/9403899854107-4-Mapping-and-Syncing-Companies"
        },
        "operationId": "AxlePayWeb.Api.V1.ClientDebtorRelationshipController.index (2)",
        "parameters": [
          {
            "description": "Search string for debtor company name or MC Number.",
            "example": "ABC Shipping Company",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Debtor Relationship Filters",
            "example": {
              "average_dbt_from": 0,
              "average_dbt_to": 90,
              "average_dso_from": 0,
              "average_dso_to": 90,
              "credit_usage_from": 0,
              "credit_usage_to": 100,
              "funding_type": "factored",
              "net_terms": 30,
              "open_aging_from": 0,
              "open_aging_to": 10000,
              "open_chargebacks_from": 0,
              "open_chargebacks_to": 10000,
              "overall_status": [
                "verified",
                "under_review",
                "no_buy",
                "declined",
                "noa_pending_delivery"
              ]
            },
            "in": "query",
            "name": "filters",
            "required": false,
            "schema": {
              "description": "Available filters for fetching Debtors",
              "example": {
                "average_dbt_from": 5,
                "average_dbt_to": 12,
                "average_dso_from": 25,
                "average_dso_to": 45,
                "credit_usage_from": 50,
                "credit_usage_to": 75,
                "funding_type": "factored",
                "net_terms": 15,
                "open_aging_from": 0,
                "open_aging_to": 10000,
                "open_chargebacks_from": 0,
                "open_chargebacks_to": 10000,
                "overall_status": [
                  "verified",
                  "noa_pending_delivery"
                ],
                "sort_col": "credit_usage_percentage",
                "sort_dir": "desc"
              },
              "properties": {
                "average_dbt_from": {
                  "description": "Average Days Beyond Terms lower bound",
                  "type": "integer"
                },
                "average_dbt_to": {
                  "description": "Average Days Beyond Terms upper bound",
                  "type": "integer"
                },
                "average_dso_from": {
                  "description": "Average Days Sales Outstanding lower bound",
                  "type": "integer"
                },
                "average_dso_to": {
                  "description": "Average Days Sales Outstanding upper bound",
                  "type": "integer"
                },
                "credit_usage_from": {
                  "description": "Credit usage percentage lower bound (0-100)",
                  "type": "integer"
                },
                "credit_usage_to": {
                  "description": "Credit usage percentage upper bound (0-100)",
                  "type": "integer"
                },
                "funding_type": {
                  "description": "Type of funding",
                  "enum": [
                    "factored",
                    "non_factored"
                  ],
                  "type": "enum"
                },
                "net_terms": {
                  "description": "Net terms (payment days)",
                  "type": "integer"
                },
                "open_aging_from": {
                  "description": "Open Aging lower bound (in dollars)",
                  "type": "integer"
                },
                "open_aging_to": {
                  "description": "Open Aging upper bound (in dollars)",
                  "type": "integer"
                },
                "open_chargebacks_from": {
                  "description": "Open Chargebacks lower bound (in dollars)",
                  "type": "integer"
                },
                "open_chargebacks_to": {
                  "description": "Open Chargebacks upper bound (in dollars)",
                  "type": "integer"
                },
                "overall_status": {
                  "description": "Debtor relationship overall status",
                  "items": {
                    "enum": [
                      "verified",
                      "under_review",
                      "no_buy",
                      "declined",
                      "noa_pending_delivery"
                    ],
                    "type": "enum"
                  },
                  "type": "array"
                },
                "sort_col": {
                  "description": "Column to sort by",
                  "enum": [
                    "status",
                    "credit_usage_percentage",
                    "net_terms",
                    "average_dso",
                    "average_dbt",
                    "open_aging",
                    "open_chargebacks"
                  ],
                  "type": "string"
                },
                "sort_dir": {
                  "description": "Sort direction",
                  "enum": [
                    "asc",
                    "desc"
                  ],
                  "type": "string"
                }
              },
              "title": "Debtor Relationship Filters",
              "type": "object"
            }
          },
          {
            "description": "The page of results to query.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of entities per page of results.",
            "example": 10,
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debtor Index Response"
                }
              }
            },
            "description": "Debtor relationship response"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "List Client-Debtor Relationships",
        "tags": [
          "Debtors"
        ]
      },
      "post": {
        "callbacks": {},
        "description": "You can create a debtor relationship by linking to an existing approved company in our system (preferred) by passing the company_id found using the GET/companies endpoint. Alternatively, you can create a new company and client-debtor relationship simultaneously by sending the company attributes. Note that all credit requests are reviewed by our operations team for approval.",
        "externalDocs": {
          "description": "API Integration Guides: Mapping and Syncing Companies",
          "url": "https://help.denim.com/hc/en-us/articles/9403899854107-4-Mapping-and-Syncing-Companies"
        },
        "operationId": "AxlePayWeb.Api.V1.ClientDebtorRelationshipController.create (2)",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "existing_company_example": {
                  "description": "Creates a Client-Debtor Relationship using an existing company_id record.",
                  "summary": "Create Client-Debtor Relationship with Existing Company",
                  "value": {
                    "company_id": 123
                  }
                },
                "new_company_with_credit_example": {
                  "description": "Add new company and client-debtor relationship with credit request. Note that credit requests are reviewed by our operations team.",
                  "summary": "Create a new company and Client-Debtor Relationship",
                  "value": {
                    "company": {
                      "address_line_1": "1 Fifth Avenue",
                      "address_line_2": "PH #9",
                      "city": "New York",
                      "company_name": "New Customer LLC",
                      "country": "USA",
                      "dot_number": null,
                      "ein": "123456789",
                      "freight_forwarder_number": "123456",
                      "mc_number": null,
                      "state": "NY",
                      "website": "www.newcompany.com"
                    },
                    "credit_request": {
                      "credit_amount": 500000,
                      "invoicing_email": "invoicing@newcompany.com",
                      "phone_number": "12025348399"
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Debtor Create"
              }
            }
          },
          "description": "Creating Client-Debtor Relationship params",
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Debtor Create Response"
                }
              }
            },
            "description": "Debtor relationship created response"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Create new Client-Debtor Relationship",
        "tags": [
          "Debtors"
        ]
      }
    },
    "/api/v1/jobs": {
      "get": {
        "callbacks": {},
        "description": "A job is a collection of payables, receivables, and fees (obligations) associated with an invoice or purchase order.",
        "externalDocs": {
          "description": "API Integration Guides: Adding Jobs",
          "url": "https://help.denim.com/hc/en-us/articles/9403903798811-5-Adding-Jobs"
        },
        "operationId": "AxlePayWeb.Api.V1.JobController.index (2)",
        "parameters": [
          {
            "description": "Search by company name, amount, or job number",
            "example": "$1,000.00",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Job statuses",
            "example": "approved",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "description": "Job statuses",
              "enum": [
                "draft",
                "pending",
                "approved",
                "rejected",
                "completed",
                "all_active",
                "all_inactive"
              ],
              "example": "approved",
              "title": "Job Status",
              "type": "string"
            }
          },
          {
            "description": "When true, return only jobs that need attention (e.g. rejected, validation/verification failed, or have a client action required note)",
            "in": "query",
            "name": "needs_attention",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The page of results to query.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of entities per page of results.",
            "example": 10,
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job Index Response"
                }
              }
            },
            "description": "Jobs index response"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "List Jobs",
        "tags": [
          "Jobs"
        ]
      },
      "post": {
        "callbacks": {},
        "description": "Create a new Job.",
        "externalDocs": {
          "description": "API Integration Guides: Adding Jobs",
          "url": "https://help.denim.com/hc/en-us/articles/9403903798811-5-Adding-Jobs"
        },
        "operationId": "AxlePayWeb.Api.V1.JobController.create (2)",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Job Create Request"
              }
            }
          },
          "description": "Job create request",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job Create Response"
                }
              }
            },
            "description": "New Job"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Create a Job",
        "tags": [
          "Jobs"
        ]
      }
    },
    "/api/v1/jobs/quote": {
      "post": {
        "callbacks": {},
        "description": "Get a factoring fee quote for a Job.",
        "externalDocs": {
          "description": "API Integration Guides: Job Quote",
          "url": "https://help.denim.com/hc/en-us/articles/9403903798811-5-Adding-Jobs"
        },
        "operationId": "AxlePayWeb.Api.V1.JobController.get_quote",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Job Quote Request"
              }
            }
          },
          "description": "Job Quote Request",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job Quote Response"
                }
              }
            },
            "description": "Job Quote Response"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get Job Quote",
        "tags": [
          "Jobs"
        ]
      }
    },
    "/api/v1/jobs/{id}": {
      "delete": {
        "callbacks": {},
        "description": "Deletes a Job in Pending or Draft status.",
        "externalDocs": {
          "description": "API Integration Guides: Adding Jobs",
          "url": "https://help.denim.com/hc/en-us/articles/9403903798811-5-Adding-Jobs"
        },
        "operationId": "AxlePayWeb.Api.V1.JobController.delete (2)",
        "parameters": [
          {
            "description": "Job UUID",
            "example": "06f9eccc-e5df-44ce-ba68-d4ccbdbc33e6",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job Delete Response"
                }
              }
            },
            "description": "Deleted Job"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Delete a Job",
        "tags": [
          "Jobs"
        ]
      },
      "get": {
        "callbacks": {},
        "description": "This retrieves a single job by UUID",
        "externalDocs": {
          "description": "API Integration Guides: Adding Jobs",
          "url": "https://help.denim.com/hc/en-us/articles/9403903798811-5-Adding-Jobs"
        },
        "operationId": "AxlePayWeb.Api.V1.JobController.show (2)",
        "parameters": [
          {
            "description": "Job UUID",
            "example": "06f9eccc-e5df-44ce-ba68-d4ccbdbc33e6",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job Show Response"
                }
              }
            },
            "description": "Single Job response"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a single Job Record",
        "tags": [
          "Jobs"
        ]
      }
    },
    "/api/v1/jobs/{job_id}/documents": {
      "post": {
        "callbacks": {},
        "deprecated": false,
        "description": "This endpoint enables adding documents to existing jobs.\n\nThis can accept either a json body with a publicly accessible `url`, `type` and `subtype`, or a multi-part form body including a `file` as the binary and `type` and `subtype`. In either case, the document will be uploaded and stored to our secure Google Cloud Platform storage.\n",
        "externalDocs": {
          "description": "API Integration Guides: Adding Jobs",
          "url": "https://help.denim.com/hc/en-us/articles/9403903798811-5-Adding-Jobs"
        },
        "operationId": "Elixir.AxlePayWeb.Api.V1.Job.DocumentController.create",
        "parameters": [
          {
            "description": "Job UUID",
            "example": "06f9eccc-e5df-44ce-ba68-d4ccbdbc33e6",
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "subtype": "invoice",
                "type": "billing_paperwork",
                "url": "https://example.com/samples/sample_files/sample_document.pdf"
              },
              "schema": {
                "$ref": "#/components/schemas/Add a document to a job"
              }
            },
            "multipart/form-data": {
              "example": {
                "file": "",
                "subtype": "invoice",
                "type": "billing_paperwork"
              },
              "schema": {
                "$ref": "#/components/schemas/Upload a document to a job"
              }
            }
          },
          "description": "Upload document request body",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job Document"
                }
              }
            },
            "description": "Upload document response"
          }
        },
        "summary": "Create Job Document",
        "tags": [
          "Jobs"
        ]
      }
    },
    "/api/v1/jobs/{job_id}/revert-to-draft": {
      "post": {
        "callbacks": {},
        "description": "Reverts a pending Job back to a draft status.",
        "externalDocs": {
          "description": "API Integration Guides: Adding Jobs",
          "url": "https://help.denim.com/hc/en-us/articles/9403903798811-5-Adding-Jobs"
        },
        "operationId": "AxlePayWeb.Api.V1.JobController.revert_to_draft (2)",
        "parameters": [
          {
            "description": "Job UUID",
            "example": "06f9eccc-e5df-44ce-ba68-d4ccbdbc33e6",
            "in": "path",
            "name": "job_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job Show Response"
                }
              }
            },
            "description": "Updated Job Record"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Revert Job to Draft",
        "tags": [
          "Jobs"
        ]
      }
    },
    "/api/v1/payee-relationships": {
      "get": {
        "callbacks": {},
        "description": "This retrieves the payees that your company has a relationship with.",
        "externalDocs": {
          "description": "API Integration Guides: Mapping and Syncing Companies",
          "url": "https://help.denim.com/hc/en-us/articles/9403899854107-4-Mapping-and-Syncing-Companies"
        },
        "operationId": "AxlePayWeb.Api.V1.ClientPayeeRelationshipController.index (2)",
        "parameters": [
          {
            "description": "Search string for payee company name or MC Number.",
            "example": "Best Carrier LLC",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Payee Relationship Filters.\n\n- status\n- days to pay offset\n- quick pay rate\n    - Note: `quick_pay_rate` is in basis points (ex: 100 bps == %1.00)\",\n",
            "example": {
              "days_to_pay_offset": 5,
              "quick_pay_rate": 100,
              "status": "pending"
            },
            "in": "query",
            "name": "filters",
            "required": false,
            "schema": {
              "description": "Available filters for fetching Payees",
              "example": {
                "status": "pending"
              },
              "properties": {
                "days_to_pay_offset": {
                  "description": "Payee relationship days to pay offset",
                  "type": "integer"
                },
                "has_elected_payment_terms": {
                  "description": "Filter by whether the payee has elected payment terms",
                  "type": "boolean"
                },
                "quick_pay_rate": {
                  "description": "Payee relationship quick pay rate, stored in basis points (ex: 100 bps == %1.00)",
                  "type": "integer"
                },
                "status": {
                  "description": "Payee relationship status",
                  "enum": [
                    "pending",
                    "approved",
                    "rejected"
                  ],
                  "type": "string"
                }
              },
              "title": "Payee Relationship Filters",
              "type": "object"
            }
          },
          {
            "description": "Filter for payee payment setting types",
            "in": "query",
            "name": "payment_types_filter",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "ach",
                  "check",
                  "missing"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "The page of results to query.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of entities per page of results.",
            "example": 10,
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payee Index Response"
                }
              }
            },
            "description": "Payee relationship response"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "List Client-Payee Relationships",
        "tags": [
          "Payees"
        ]
      },
      "post": {
        "callbacks": {},
        "description": "Creates a Client-Payee Relationship. Read the guide below for details. There are several different ways to create payees, whether it includes a factor assignment, etc. Important note: all factor assignments or updates create 'Requests' in our Request Center and these are all reviewed and approved by our operations team before becoming effective. This review is to ensure the proper payees receive payments and don't impact other payee setups.\n",
        "externalDocs": {
          "description": "API Integration Guides: Mapping and Syncing Companies",
          "url": "https://help.denim.com/hc/en-us/articles/9403899854107-4-Mapping-and-Syncing-Companies"
        },
        "operationId": "AxlePayWeb.Api.V1.ClientPayeeRelationshipController.create (2)",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "add_new_payee_example_without_factor": {
                  "description": "Invite a new payee (without a factor)",
                  "summary": "Add a new payee without a factor",
                  "value": {
                    "client_payee_relationship": {
                      "contact_email": "tom@tomslogistics.com",
                      "contact_first_name": "Tom",
                      "contact_last_name": "Brogan",
                      "contact_phone_number": "1 123 123 3434",
                      "days_to_pay_offset": 4
                    },
                    "company": {
                      "city": "New York",
                      "company_name": "New Carrier LLC",
                      "country": "USA",
                      "ein": "123456789",
                      "mc_number": "12345678",
                      "state": "NY",
                      "website": "www.newcompany.com"
                    }
                  }
                },
                "add_new_payee_with_factor_example": {
                  "description": "Invite a new payee with a factor",
                  "summary": "Add a new payee with a pre-existing factor",
                  "value": {
                    "company": {
                      "city": "New York",
                      "company_name": "New Carrrier LLC",
                      "country": "USA",
                      "ein": "123456789",
                      "mc_number": "12345678",
                      "state": "NY",
                      "website": "www.newcompany.com"
                    },
                    "payee": {
                      "days_to_pay_offset": 3,
                      "factor_company_id": 34
                    }
                  }
                },
                "add_new_payee_with_new_factor_example": {
                  "description": "Invite a new payee with a new factor not in the system",
                  "summary": "Add a new payee with a new factor",
                  "value": {
                    "company": {
                      "city": "New York",
                      "company_name": "New Carrrier LLC",
                      "country": "USA",
                      "ein": "123456789",
                      "mc_number": "12345678",
                      "state": "NY",
                      "website": "www.newcompany.com"
                    },
                    "payee": {
                      "days_to_pay_offset": 3,
                      "factor_company_id": 0
                    }
                  }
                },
                "existing_payee_example_without_factor": {
                  "description": "Add a relationship with an existing payee direct (without a factor)",
                  "summary": "Link existing payee without a factor",
                  "value": {
                    "client_payee_relationship": {
                      "contact_email": "tom@tomslogistics.com",
                      "contact_first_name": "Tom",
                      "contact_last_name": "Brogan",
                      "contact_phone_number": "1 123 123 3434",
                      "days_to_pay_offset": 4
                    },
                    "company_id": 123
                  }
                },
                "existing_payee_with_factor_example": {
                  "description": "Add a relationship with an existing payee with factoring relationship already setup",
                  "summary": "Link existing payee with a pre-existing factor relationship",
                  "value": {
                    "company_id": 123
                  }
                },
                "existing_payee_with_new_factor_example": {
                  "description": "Add a relationship with an existing payee and set a new factor not in the system. New factor requests are reviewed by our operations team.",
                  "summary": "Link existing payee and set a new factor",
                  "value": {
                    "company_id": 123,
                    "payee": {
                      "days_to_pay_offset": 4,
                      "factor_company_id": 0
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Payee Create"
              }
            }
          },
          "description": "Creating a payee relationship params",
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payee Create Response"
                }
              }
            },
            "description": "Payee relationship created response"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Create a Client-Payee Relationship",
        "tags": [
          "Payees"
        ]
      }
    },
    "/api/v1/payee-relationships/{client_payee_relationship_id}/update-assign-factor": {
      "post": {
        "callbacks": {},
        "description": "Creates a request to change the factor assigned to the payee. These changes are reviewed by our operations team and the original factor will still be referenced until this request is reviewed and approved.",
        "operationId": "AxlePayWeb.Api.V1.ClientPayeeRelationshipController.update_assign_factor (2)",
        "parameters": [
          {
            "description": "client_payee_relationship_id",
            "example": 543,
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "update_with_existing_factor_example": {
                  "description": "Assign an existing factor to an existing payee relationship",
                  "summary": "Update with existing assigned factor",
                  "value": {
                    "payee": {
                      "factor_company_id": 34
                    }
                  }
                },
                "update_with_new_factor_example": {
                  "description": "Assign a new factor to an existing payee relationship",
                  "summary": "Update with new assigned factor",
                  "value": {
                    "payee": {
                      "factor_company_id": 0
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/Update or set assigned factor on an existing payee relationship"
              }
            }
          },
          "description": "Update or set the assigned factor on an existing payee relationship",
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payee Create Response"
                }
              }
            },
            "description": "Update payee relationship assigned factor"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Update a payee's assigned factor",
        "tags": [
          "Payees"
        ]
      }
    },
    "/api/v1/transactions": {
      "get": {
        "callbacks": {},
        "description": "Transactions are payments incoming, outgoing, netting, and adjustments. Transactions are are generally applied towards obligations.",
        "externalDocs": {
          "description": "API Integration Guides: Working with Job Data",
          "url": "https://help.denim.com/hc/en-us/articles/9403905739035-6-Working-with-Job-Data"
        },
        "operationId": "AxlePayWeb.Api.V1.TransactionController.index (2)",
        "parameters": [
          {
            "description": "Search by company name, amount, reference, or description",
            "example": "$1,000.00",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter transactions after date in YYYY-MM-DD format",
            "example": "2020-12-25",
            "in": "query",
            "name": "start_date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter transactions before date in YYYY-MM-DD format",
            "example": "2021-01-31",
            "in": "query",
            "name": "end_date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Enum type to help filter payments by who made them. One of [all, payee, debtor, client].",
            "example": "payee",
            "in": "query",
            "name": "transaction_owner",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The page of results to query.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of entities per page of results.",
            "example": 10,
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction Index Response"
                }
              }
            },
            "description": "Transaction response"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "List Transactions",
        "tags": [
          "Transactions"
        ]
      }
    },
    "/api/v2/jobs": {
      "get": {
        "callbacks": {},
        "description": "A job is a collection of payables, receivables, and fees (obligations) associated with an invoice or purchase order.",
        "externalDocs": {
          "description": "API Integration Guides: Adding Jobs",
          "url": "https://help.denim.com/hc/en-us/articles/9403903798811-5-Adding-Jobs"
        },
        "operationId": "AxlePayWeb.Api.V2.JobController.index",
        "parameters": [
          {
            "description": "Search by company name, amount, or job number",
            "example": "$1,000.00",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Job statuses",
            "example": "approved",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "description": "Job statuses",
              "enum": [
                "draft",
                "pending",
                "approved",
                "rejected",
                "completed",
                "all_active",
                "all_inactive"
              ],
              "example": "approved",
              "title": "Job Status",
              "type": "string"
            }
          },
          {
            "description": "When true, return only jobs that need attention (e.g. rejected, validation/verification failed, or have a client action required note)",
            "in": "query",
            "name": "needs_attention",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The page of results to query.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The number of entities per page of results.",
            "example": 10,
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job Index Response"
                }
              }
            },
            "description": "Jobs index response"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "List Jobs",
        "tags": [
          "Jobs V2"
        ]
      },
      "post": {
        "callbacks": {},
        "description": "Create a new Job using our V2 API. Jobs created with this API can have certain Denim relationship IDs ommitted in favor of external IDs. Clients will then be able to utilitze the Denim Dashboard to review these Jobs and complete any mappings as necessary. Once a mapping between an external ID and a Denim ID has been completed, it will not need to be mapped for future Jobs.",
        "externalDocs": {
          "description": "API Integration Guides: Adding Jobs",
          "url": "https://help.denim.com/hc/en-us/articles/9403903798811-5-Adding-Jobs"
        },
        "operationId": "AxlePayWeb.Api.V2.JobController.create",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "1_factored_payable_and_receivable_job": {
                  "summary": "Create a factored job with both payable and receivable"
                },
                "2_factored_receivable_only_job": {
                  "summary": "Create a factored job with receivable only",
                  "value": {
                    "is_factored": true,
                    "job_reference_number": "shipment-70001",
                    "notes": "Notes for the Denim operations team.",
                    "receivables": [
                      {
                        "documents": [
                          {
                            "subtype": "invoice",
                            "url": "https://www.publicurl.com/billing_paperwork.pdf"
                          }
                        ],
                        "due_date": "2024-03-01T00:00:00Z",
                        "external_company_id": "1394783",
                        "obligation_date": "2024-01-01T00:00:00Z",
                        "reference_number": "70001",
                        "total_amount": 50000
                      }
                    ]
                  }
                },
                "3_non_factored_payable_and_receivable_job": {
                  "summary": "Create a non-factored job with both payable and receivable",
                  "value": {
                    "is_factored": false,
                    "job_reference_number": "shipment-70001",
                    "notes": "Notes for the Denim operations team.",
                    "payables": [
                      {
                        "documents": [
                          {
                            "subtype": "invoice",
                            "url": "https://www.publicurl.com/billing_paperwork.pdf"
                          }
                        ],
                        "due_date": "2024-03-01T00:00:00Z",
                        "external_company_id": "1394783",
                        "obligation_date": "2024-01-01T00:00:00Z",
                        "reference_number": "G21",
                        "total_amount": 26000
                      }
                    ],
                    "receivables": [
                      {
                        "documents": [
                          {
                            "subtype": "invoice",
                            "url": "https://www.publicurl.com/billing_paperwork.pdf"
                          }
                        ],
                        "due_date": "2024-03-01T00:00:00Z",
                        "external_company_id": "1394783",
                        "obligation_date": "2024-01-01T00:00:00Z",
                        "reference_number": "70001",
                        "total_amount": 50000
                      }
                    ]
                  }
                },
                "4_non_factored_receivable_only_job": {
                  "summary": "Create a non-factored job with receivable only",
                  "value": {
                    "is_factored": false,
                    "job_reference_number": "shipment-70001",
                    "notes": "Notes for the Denim operations team.",
                    "receivables": [
                      {
                        "documents": [
                          {
                            "subtype": "invoice",
                            "url": "https://www.publicurl.com/billing_paperwork.pdf"
                          }
                        ],
                        "due_date": "2024-03-01T00:00:00Z",
                        "external_company_id": "1394783",
                        "obligation_date": "2024-01-01T00:00:00Z",
                        "reference_number": "70001",
                        "total_amount": 50000
                      }
                    ]
                  }
                },
                "5_non_factored_payable_only_job": {
                  "summary": "Create a non-factored job with payable only",
                  "value": {
                    "is_factored": false,
                    "job_reference_number": "shipment-70001",
                    "notes": "Notes for the Denim operations team.",
                    "payables": [
                      {
                        "documents": [
                          {
                            "subtype": "invoice",
                            "url": "https://www.publicurl.com/billing_paperwork.pdf"
                          }
                        ],
                        "due_date": "2024-03-01T00:00:00Z",
                        "external_company_id": "1394783",
                        "obligation_date": "2024-01-01T00:00:00Z",
                        "reference_number": "G21",
                        "total_amount": 26000
                      }
                    ]
                  }
                },
                "6_receivable_only_ltl_job": {
                  "summary": "Create a receivable-only LTL job that references one or more payable-only jobs",
                  "value": {
                    "is_factored": true,
                    "job_reference_number": "shipment-70001",
                    "notes": "Notes for the Denim operations team.",
                    "receivables": [
                      {
                        "allocated_payables": [
                          {
                            "allocated_cost": 8000,
                            "allocated_revenue": 10000,
                            "payable_reference_number": "G21"
                          },
                          {
                            "allocated_cost": 11000,
                            "allocated_revenue": 15000,
                            "payable_reference_number": "L22"
                          },
                          {
                            "allocated_cost": 15000,
                            "allocated_revenue": 20000,
                            "payable_reference_number": "99A"
                          },
                          {
                            "allocated_cost": 5000,
                            "allocated_revenue": 5000,
                            "payable_reference_number": "999"
                          }
                        ],
                        "documents": [
                          {
                            "subtype": "invoice",
                            "url": "https://www.publicurl.com/billing_paperwork.pdf"
                          }
                        ],
                        "due_date": "2024-03-01T00:00:00Z",
                        "external_company_id": "1394783",
                        "obligation_date": "2024-01-01T00:00:00Z",
                        "reference_number": "70001",
                        "total_amount": 50000
                      }
                    ]
                  }
                },
                "7_payable_only_ltl_job": {
                  "summary": "Create a payable-only LTL job that references one or more receivable-only jobs",
                  "value": {
                    "is_factored": false,
                    "job_reference_number": "route-G21",
                    "notes": "Notes for the Denim operations team.",
                    "payables": [
                      {
                        "allocated_receivables": [
                          {
                            "allocated_cost": 8000,
                            "allocated_revenue": 10000,
                            "receivable_reference_number": "70001"
                          },
                          {
                            "allocated_cost": 12000,
                            "allocated_revenue": 15000,
                            "receivable_reference_number": "80001"
                          },
                          {
                            "allocated_cost": 6000,
                            "allocated_revenue": 12000,
                            "receivable_reference_number": "90001"
                          }
                        ],
                        "documents": [
                          {
                            "subtype": "invoice",
                            "url": "https://www.publicurl.com/billing_paperwork.pdf"
                          }
                        ],
                        "due_date": "2024-03-01T00:00:00Z",
                        "external_company_id": "1394783",
                        "obligation_date": "2024-01-01T00:00:00Z",
                        "reference_number": "G21",
                        "total_amount": 26000
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/V2 Job Create Request"
              }
            }
          },
          "description": "Job create request",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job Create Response"
                }
              }
            },
            "description": "New Job"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Create a Job",
        "tags": [
          "Jobs V2"
        ]
      }
    },
    "/api/v2/jobs/{job_id}": {
      "get": {
        "callbacks": {},
        "description": "Returns a Job by UUID. This can return either a Job or a Job in Import Review. If the Job has been created, it will return a Job. If the Job has not yet been sumitted as a draft job and is under client_review, this will return a slimmer Job schema.",
        "externalDocs": {
          "description": "API Integration Guides: Adding Jobs",
          "url": "https://help.denim.com/hc/en-us/articles/9403903798811-5-Adding-Jobs"
        },
        "operationId": "AxlePayWeb.Api.V2.JobController.show",
        "parameters": [
          {
            "description": "Job UUID",
            "example": "06f9eccc-e5df-44ce-ba68-d4ccbdbc33e6",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job Show Response"
                }
              }
            },
            "description": "Job Record"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Show a Job by ID",
        "tags": [
          "Jobs V2"
        ]
      }
    },
    "/api/v2/jobs/{job_id}/document": {
      "post": {
        "callbacks": {},
        "description": "This endpoint enables adding documents to existing jobs. This can accept either a json body with a publicly accessible `url`, `type` and `subtype`, or a multi-part form body including a `file` as the binary and `type` and `subtype`. In either case, the document will be uploaded and stored to our secure Google Cloud Platform storage.\n",
        "externalDocs": {
          "description": "API Integration Guides: Adding Jobs",
          "url": "https://help.denim.com/hc/en-us/articles/9403903798811-5-Adding-Jobs"
        },
        "operationId": "AxlePayWeb.Api.V2.JobController.create_document",
        "parameters": [
          {
            "description": "Job UUID",
            "example": "06f9eccc-e5df-44ce-ba68-d4ccbdbc33e6",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Obligation Document"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Upload a document to a job"
              }
            }
          },
          "description": "Upload document request body",
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Create a Job Document",
        "tags": [
          "Jobs V2"
        ]
      }
    }
  },
  "components": {
    "responses": {},
    "schemas": {
      "Shipped Item": {
        "description": "Details about the item shipped",
        "properties": {
          "description": {
            "example": "Strawberries",
            "title": "Item shipped",
            "type": "string"
          },
          "dimensions": {
            "properties": {
              "depth": {
                "example": 4.5,
                "title": "Depth of the item",
                "type": "number"
              },
              "height": {
                "example": 12.1,
                "title": "Height of the item",
                "type": "number"
              },
              "unit": {
                "example": "in",
                "title": "Measurement Unit",
                "type": "string"
              },
              "width": {
                "example": 11.0,
                "title": "Width of the item",
                "type": "number"
              }
            },
            "title": "Dimensions of the item being shipped",
            "type": "object"
          },
          "quantity": {
            "example": 40.75,
            "title": "Quantity of items",
            "type": "number"
          },
          "unit": {
            "description": "Unit of weight for the shipment. I.e. kg, lb",
            "example": "lb",
            "title": "Unit of weight for the shipment.",
            "type": "string"
          },
          "weight": {
            "example": 300.24,
            "title": "Weight of the item shipped",
            "type": "number"
          }
        },
        "title": "Shipped Item",
        "type": "object"
      },
      "Payee Create Response": {
        "description": "Response schema for creating a new payee relationship",
        "example": {
          "data": {
            "client_payee_relationship": {
              "contact_email": "boydj@gmail.com",
              "contact_first_name": "Boyd",
              "contact_last_name": "Johnson",
              "contact_phone_number": "+1 (675) 544 - 8526",
              "id": 544,
              "payment_setting": null,
              "status": "pending"
            },
            "company": {
              "city": "New York",
              "company_name": "Best Trucking Company",
              "ein": "123456789",
              "id": 74,
              "mc_number": "12345678",
              "progress": "initial",
              "state": "NY",
              "status": "under_review",
              "website": "www.besttrucking.com"
            },
            "payee": {
              "factor_company_name": "",
              "id": 25
            }
          }
        },
        "properties": {
          "data": {
            "properties": {
              "client_payee_relationship": {
                "$ref": "#/components/schemas/Client-Payee Relationship"
              },
              "company": {
                "$ref": "#/components/schemas/Payee Company"
              },
              "payee": {
                "$ref": "#/components/schemas/Payee"
              }
            },
            "type": "object"
          }
        },
        "title": "Payee Create Response",
        "type": "object"
      },
      "Job Create Response": {
        "description": "Response for creating a job",
        "example": {
          "data": {
            "company_id": 784,
            "documents": [
              {
                "subtype": "proof_of_work",
                "type": "billing_paperwork",
                "url": "https://example.com/samples/sample_files/sample_document.pdf"
              },
              {
                "subtype": "invoice",
                "type": "supporting_paperwork",
                "url": "https://example.com/samples/sample_files/sample_document.pdf"
              }
            ],
            "is_factored": true,
            "obligations": [
              {
                "client_debtor_relationship_id": null,
                "client_payee_relationship_id": 21,
                "company_id": 45,
                "discounted_days": 0,
                "due_date": "2020-02-26T15:34:22Z",
                "obligation_date": "2020-01-26T15:34:22Z",
                "reference_number": "",
                "subtype": "primary",
                "total_amount": 80000,
                "type": "payable"
              },
              {
                "client_debtor_relationship_id": 30,
                "client_payee_relationship_id": null,
                "company_id": 116,
                "discounted_days": 0,
                "due_date": "2020-03-26T04:00:00Z",
                "line_items": [
                  {
                    "amount": 89000,
                    "description": "Invoice Price",
                    "type": "base_amount"
                  },
                  {
                    "amount": 9000,
                    "description": "Lumper Fee",
                    "type": "accessorial_fee"
                  },
                  {
                    "amount": 2000,
                    "description": "Fuel Surcharge",
                    "type": "accessorial_fee"
                  }
                ],
                "obligation_date": "2020-02-26T04:00:00Z",
                "reference_number": "",
                "subtype": "primary",
                "total_amount": 100000,
                "type": "receivable"
              }
            ],
            "reference_number": "test-123",
            "status": "pending",
            "status_message": null,
            "uuid": "3227bb84-6735-48c1-b8ea-4e7d09d1e07d"
          }
        },
        "properties": {
          "data": {
            "properties": {
              "company_id": {
                "description": "Company ID",
                "type": "integer"
              },
              "documents": {
                "items": {
                  "$ref": "#/components/schemas/Job Document"
                },
                "type": "array"
              },
              "is_factored": {
                "description": "Whether job should be factored or not.",
                "type": "boolean"
              },
              "obligations": {
                "items": {
                  "description": "Payables, Receivables, and Denim's Fees for a job",
                  "properties": {
                    "allocated_payables": {
                      "description": "[Not yet implemented] For receivable-only jobs, tracks the payables associated to the receivable. In particular for LTL shipments, this enables a receivable-only job to be associated with previous payable obligations.",
                      "example": [],
                      "items": {
                        "properties": {
                          "allocated_cost": {
                            "description": "Allocated cost in cents.",
                            "type": "number"
                          },
                          "allocated_revenue": {
                            "description": "Allocated revenue in cents",
                            "type": "number"
                          },
                          "payable_reference_number": {
                            "description": "Payable reference number",
                            "required": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "allocated_receivables": {
                      "description": "[Not yet implemented] For payable-only jobs, tracks the receivables associated to the payable. In particular for LTL shipments, this enables a payable-only job to be associated with a future receivable obligation.",
                      "example": [],
                      "items": {
                        "properties": {
                          "allocated_cost": {
                            "description": "Allocated cost in cents.",
                            "type": "number"
                          },
                          "allocated_revenue": {
                            "description": "Allocated revenue in cents",
                            "type": "number"
                          },
                          "receivable_reference_number": {
                            "description": "Receivable reference number",
                            "required": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "client_debtor_relationship_id": {
                      "description": "Client debtor relationship ID for the receivable obligation",
                      "nullable": true,
                      "type": "integer"
                    },
                    "client_payee_relationship_id": {
                      "description": "Client payee relationship ID for the payable obligation",
                      "nullable": true,
                      "type": "integer"
                    },
                    "company_id": {
                      "description": "Company ID for the obligation",
                      "type": "integer"
                    },
                    "discounted_days": {
                      "description": "Number of days factoring was delayed for a discount",
                      "type": "integer"
                    },
                    "due_date": {
                      "description": "Date obligation is due in ISO format. The due_date should be within -60 and +120 days of the current datetime.",
                      "type": "string"
                    },
                    "line_items": {
                      "description": "  Line Items associated with the obligation. Two requirements:\n  1. base_amount line item must be provided, the rest should be accessorial_fee\n  1. The sum of all line item amounts must add up to the total_amount of the receivable obligation\n",
                      "example": [
                        {
                          "amount": 89000,
                          "description": "Invoice Price",
                          "type": "base_amount"
                        },
                        {
                          "amount": 9000,
                          "description": "Lumper Fee",
                          "type": "accessorial_fee"
                        },
                        {
                          "amount": 2000,
                          "description": "Fuel Surcharge",
                          "type": "accessorial_fee"
                        }
                      ],
                      "items": {
                        "description": "Line Item associated with the obligation. ",
                        "properties": {
                          "amount": {
                            "description": "Amount of the obligation in cents",
                            "example": 6500,
                            "type": "integer"
                          },
                          "description": {
                            "description": "Describe the line item",
                            "example": "Lumper Fee",
                            "type": "string"
                          },
                          "type": {
                            "description": "Type of the line item",
                            "enum": [
                              "accessorial_fee",
                              "base_amount",
                              "express_factoring_fee",
                              "non_factoring_fee",
                              "job_processing_fee",
                              "servicing_fee"
                            ],
                            "example": "accessorial_fee",
                            "type": "string"
                          }
                        },
                        "title": "Obligation Line Item",
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "obligation_date": {
                      "description": "Invoice date of the obligation.",
                      "type": "string"
                    },
                    "reference_number": {
                      "description": "PO or Invoice number.",
                      "nullable": true,
                      "type": "string"
                    },
                    "subtype": {
                      "description": "Subtype of the obligation",
                      "enum": [
                        "primary",
                        "advance",
                        "rebate",
                        "factoring_fee",
                        "servicing_fee"
                      ],
                      "type": "string"
                    },
                    "total_amount": {
                      "description": "Total amount of the obligation in cents",
                      "type": "integer"
                    },
                    "type": {
                      "description": "Type of the obligation",
                      "enum": [
                        "receivable",
                        "payable",
                        "earnings"
                      ],
                      "type": "string"
                    }
                  },
                  "title": "Job Obligation Data",
                  "type": "object"
                },
                "type": "array"
              },
              "reference_number": {
                "description": "Job reference number",
                "type": "string"
              },
              "status": {
                "description": "Job statuses",
                "enum": [
                  "draft",
                  "pending",
                  "approved",
                  "rejected",
                  "completed"
                ],
                "type": "string"
              },
              "status_message": {
                "description": "Message from our team",
                "nullable": true,
                "type": "string"
              },
              "uuid": {
                "description": "Unique identifier for the job in UUID4 format",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "title": "Job Create Response",
        "type": "object"
      },
      "Notes": {
        "description": "Notes for our team",
        "example": "Notes for the Denim operations team.",
        "nullable": true,
        "title": "Notes",
        "type": "string"
      },
      "Upload a document to a job": {
        "description": "Upload a PDF, PNG, or JPEG documents associated with a job. Files will be uploaded to our secure file storage.",
        "properties": {
          "file": {
            "description": "Multi-part file upload of document.",
            "format": "binary",
            "type": "string"
          },
          "subtype": {
            "description": "Billing or supporting paperwork subtype. Optional",
            "enum": [
              "purchase_order",
              "proof_of_work",
              "invoice"
            ],
            "nullable": true,
            "type": "string"
          },
          "type": {
            "description": "Billing paperwork gets sent to debtor. Supporting paperwork allows us to pay the carrier.",
            "enum": [
              "billing_paperwork",
              "supporting_paperwork"
            ],
            "type": "string"
          }
        },
        "title": "Upload a document to a job",
        "type": "object"
      },
      "Debtor Relationship Filters": {
        "description": "Available filters for fetching Debtors",
        "example": {
          "average_dbt_from": 5,
          "average_dbt_to": 12,
          "average_dso_from": 25,
          "average_dso_to": 45,
          "credit_usage_from": 50,
          "credit_usage_to": 75,
          "funding_type": "factored",
          "net_terms": 15,
          "open_aging_from": 0,
          "open_aging_to": 10000,
          "open_chargebacks_from": 0,
          "open_chargebacks_to": 10000,
          "overall_status": [
            "verified",
            "noa_pending_delivery"
          ],
          "sort_col": "credit_usage_percentage",
          "sort_dir": "desc"
        },
        "properties": {
          "average_dbt_from": {
            "description": "Average Days Beyond Terms lower bound",
            "type": "integer"
          },
          "average_dbt_to": {
            "description": "Average Days Beyond Terms upper bound",
            "type": "integer"
          },
          "average_dso_from": {
            "description": "Average Days Sales Outstanding lower bound",
            "type": "integer"
          },
          "average_dso_to": {
            "description": "Average Days Sales Outstanding upper bound",
            "type": "integer"
          },
          "credit_usage_from": {
            "description": "Credit usage percentage lower bound (0-100)",
            "type": "integer"
          },
          "credit_usage_to": {
            "description": "Credit usage percentage upper bound (0-100)",
            "type": "integer"
          },
          "funding_type": {
            "description": "Type of funding",
            "enum": [
              "factored",
              "non_factored"
            ],
            "type": "enum"
          },
          "net_terms": {
            "description": "Net terms (payment days)",
            "type": "integer"
          },
          "open_aging_from": {
            "description": "Open Aging lower bound (in dollars)",
            "type": "integer"
          },
          "open_aging_to": {
            "description": "Open Aging upper bound (in dollars)",
            "type": "integer"
          },
          "open_chargebacks_from": {
            "description": "Open Chargebacks lower bound (in dollars)",
            "type": "integer"
          },
          "open_chargebacks_to": {
            "description": "Open Chargebacks upper bound (in dollars)",
            "type": "integer"
          },
          "overall_status": {
            "description": "Debtor relationship overall status",
            "items": {
              "enum": [
                "verified",
                "under_review",
                "no_buy",
                "declined",
                "noa_pending_delivery"
              ],
              "type": "enum"
            },
            "type": "array"
          },
          "sort_col": {
            "description": "Column to sort by",
            "enum": [
              "status",
              "credit_usage_percentage",
              "net_terms",
              "average_dso",
              "average_dbt",
              "open_aging",
              "open_chargebacks"
            ],
            "type": "string"
          },
          "sort_dir": {
            "description": "Sort direction",
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string"
          }
        },
        "title": "Debtor Relationship Filters",
        "type": "object"
      },
      "Client-Payee Relationship": {
        "description": "Optional, included if there is an existing Company Client-Payee Relationship",
        "properties": {
          "contact_email": {
            "description": "Contact email at the payee company.",
            "type": "string"
          },
          "id": {
            "description": "usable as client_payee_relationship_id",
            "type": "integer"
          }
        },
        "title": "Client-Payee Relationship",
        "type": "object"
      },
      "Job Obligation": {
        "description": "Payables, Receivables, and Denim's Fees for a job",
        "properties": {
          "allocated_payables": {
            "description": "[Not yet implemented] For receivable-only jobs, tracks the payables associated to the receivable. In particular for LTL shipments, this enables a receivable-only job to be associated with previous payable obligations.",
            "example": [],
            "items": {
              "properties": {
                "allocated_cost": {
                  "description": "Allocated cost in cents.",
                  "type": "number"
                },
                "allocated_revenue": {
                  "description": "Allocated revenue in cents",
                  "type": "number"
                },
                "payable_reference_number": {
                  "description": "Payable reference number",
                  "required": true,
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "allocated_receivables": {
            "description": "[Not yet implemented] For payable-only jobs, tracks the receivables associated to the payable. In particular for LTL shipments, this enables a payable-only job to be associated with a future receivable obligation.",
            "example": [],
            "items": {
              "properties": {
                "allocated_cost": {
                  "description": "Allocated cost in cents.",
                  "type": "number"
                },
                "allocated_revenue": {
                  "description": "Allocated revenue in cents",
                  "type": "number"
                },
                "receivable_reference_number": {
                  "description": "Receivable reference number",
                  "required": true,
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "amount_due": {
            "description": "Amount due on the obligation in cents",
            "type": "integer"
          },
          "applied_amount": {
            "description": "Amount of transactions that have been applied to the obligation in cents",
            "nullable": true,
            "type": "integer"
          },
          "company_id": {
            "description": "Company ID for the obligation",
            "type": "integer"
          },
          "company_name": {
            "description": "Company name of the obligation",
            "type": "string"
          },
          "discounted_days": {
            "description": "Number of days factoring was delayed for a discount",
            "type": "integer"
          },
          "due_date": {
            "description": "Date obligation is due in ISO format. The due_date should be within -60 and +120 days of the current datetime.",
            "type": "string"
          },
          "line_items": {
            "description": "  Line Items associated with the obligation. Two requirements:\n  1. base_amount line item must be provided, the rest should be accessorial_fee\n  1. The sum of all line item amounts must add up to the total_amount of the receivable obligation\n",
            "example": [
              {
                "amount": 89000,
                "description": "Invoice Price",
                "type": "base_amount"
              },
              {
                "amount": 9000,
                "description": "Lumper Fee",
                "type": "accessorial_fee"
              },
              {
                "amount": 2000,
                "description": "Fuel Surcharge",
                "type": "accessorial_fee"
              }
            ],
            "items": {
              "description": "Line Item associated with the obligation. ",
              "properties": {
                "amount": {
                  "description": "Amount of the obligation in cents",
                  "example": 6500,
                  "type": "integer"
                },
                "description": {
                  "description": "Describe the line item",
                  "example": "Lumper Fee",
                  "type": "string"
                },
                "type": {
                  "description": "Type of the line item",
                  "enum": [
                    "accessorial_fee",
                    "base_amount",
                    "express_factoring_fee",
                    "non_factoring_fee",
                    "job_processing_fee",
                    "servicing_fee"
                  ],
                  "example": "accessorial_fee",
                  "type": "string"
                }
              },
              "title": "Obligation Line Item",
              "type": "object"
            },
            "type": "array"
          },
          "payment_details": {
            "description": "Payment details for the obligation",
            "properties": {
              "account_name": {
                "description": "Name of account used for payment",
                "required": false,
                "type": "string"
              },
              "account_number": {
                "description": "Last four digits of the account used for payment",
                "example": "X7890",
                "required": false,
                "type": "string"
              },
              "account_type": {
                "description": "Type of account used for payment",
                "enum": [
                  "checking",
                  "savings",
                  "check_address"
                ],
                "required": false,
                "type": "string"
              },
              "check_number": {
                "description": "Number of check used for payment",
                "required": false,
                "type": "string"
              }
            },
            "type": "object"
          },
          "payment_status": {
            "description": "Payment status of the obligation",
            "enum": [
              "pending",
              "fully_paid",
              "overpaid",
              "underpaid",
              "expected",
              "scheduled"
            ],
            "nullable": true,
            "type": "string"
          },
          "subtype": {
            "description": "Subtype of the obligation",
            "enum": [
              "primary",
              "client",
              "advance",
              "rebate",
              "factoring_fee",
              "servicing_fee"
            ],
            "type": "string"
          },
          "total_amount": {
            "description": "Total amount of the obligation in cents",
            "type": "integer"
          },
          "type": {
            "description": "Type of the obligation",
            "enum": [
              "receivable",
              "payable",
              "earnings"
            ],
            "type": "string"
          },
          "uuid": {
            "description": "Unique identifier for the obligation in UUID4 format.",
            "type": "string"
          }
        },
        "title": "Job Obligation",
        "type": "object"
      },
      "Job Delete Response": {
        "description": "Response schema for deleting a job",
        "example": {
          "data": {
            "job_uuid": "06f9eccc-e5df-44ce-ba68-d4ccbdbc33e6"
          }
        },
        "properties": {
          "data": {
            "description": "Job uuid only",
            "properties": {
              "job_uuid": {
                "description": "Unique identifier for the job in UUID4 format",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "title": "Job Delete Response",
        "type": "object"
      },
      "Is Team Load": {
        "description": "Is this load a Team Load (e.g. requires multiple drivers)",
        "title": "Is Team Load",
        "type": "boolean"
      },
      "Transaction": {
        "description": "A transaction and how it was applied.",
        "properties": {
          "applied_transactions": {
            "items": {
              "$ref": "#/components/schemas/Transaction Applied"
            },
            "type": "array"
          },
          "company_id": {
            "description": "Company ID",
            "type": "integer"
          },
          "company_name": {
            "description": "Company name",
            "type": "string"
          },
          "description": {
            "description": "Memo or description",
            "type": "string"
          },
          "method": {
            "description": "How the transaction was sent",
            "enum": [
              "ach",
              "check",
              "not_applicable"
            ],
            "type": "string"
          },
          "reference_number": {
            "description": "Check number or ACH batch number",
            "type": "string"
          },
          "total_amount": {
            "description": "Total transaction amount in cents",
            "type": "integer"
          },
          "transaction_date": {
            "description": "Datetime of the transaction in ISO format",
            "type": "string"
          },
          "transaction_metadata": {
            "$ref": "#/components/schemas/Transaction Metadata"
          },
          "type": {
            "description": "Whether funds were sent out or received",
            "enum": [
              "incoming",
              "outgoing",
              "netting",
              "adjustment"
            ],
            "type": "string"
          },
          "uuid": {
            "description": "Unique identifier for the transaction in UUID4 format",
            "type": "string"
          },
          "version": {
            "description": "Version of the transaction (increments if the transacion gets updated)",
            "type": "integer"
          }
        },
        "title": "Transaction",
        "type": "object"
      },
      "Vehicle length unit": {
        "description": "Provide the length unit of the vehicle. I.e. in, ft, cm, m, yd",
        "example": "ft",
        "title": "Vehicle length unit",
        "type": "string"
      },
      "Factoring Company Index Response": {
        "description": "Response schema for fetching factoring companies",
        "example": {
          "data": [
            {
              "company": {
                "city": "Atlanta",
                "company_name": "Best Trucking Company",
                "ein": "123456789",
                "id": 35,
                "state": "GA"
              }
            },
            {
              "company": {
                "city": "Chicago",
                "company_name": "Boyds Logistics",
                "ein": "123456789",
                "id": 36,
                "state": "IL"
              }
            },
            {
              "company": {
                "city": "Louisville",
                "company_name": "TLD Logistics Inc",
                "ein": "123456789",
                "id": 37,
                "state": "KY"
              }
            }
          ],
          "page": 1,
          "per_page": 3,
          "total_pages": 1,
          "total_results": 3
        },
        "properties": {
          "data": {
            "items": {
              "properties": {
                "company": {
                  "$ref": "#/components/schemas/Factoring Company"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "page": {
            "description": "Current page of results",
            "type": "integer"
          },
          "per_page": {
            "description": "Entities per page",
            "type": "integer"
          },
          "total_pages": {
            "description": "Total number of pages",
            "type": "integer"
          },
          "total_results": {
            "description": "Total number of results",
            "type": "integer"
          }
        },
        "title": "Factoring Company Index Response",
        "type": "object"
      },
      "Job Quote Request": {
        "description": "Request body for requesting a factoring fee quote",
        "example": {
          "obligations": [
            {
              "client_payee_relationship_id": 21,
              "due_date": "2020-02-26T15:34:22Z",
              "obligation_date": "2020-01-26T15:34:22Z",
              "reference_number": "",
              "subtype": "primary",
              "total_amount": 80000,
              "type": "payable"
            },
            {
              "client_debtor_relationship_id": 30,
              "due_date": "2020-03-26T04:00:00Z",
              "obligation_date": "2020-02-26T04:00:00Z",
              "reference_number": "",
              "subtype": "primary",
              "total_amount": 100000,
              "type": "receivable"
            }
          ]
        },
        "properties": {
          "obligations": {
            "items": {
              "description": "Payables, Receivables, and Denim's Fees for a job",
              "properties": {
                "client_debtor_relationship_id": {
                  "description": "Client debtor relationship ID for the receivable obligation",
                  "nullable": true,
                  "type": "integer"
                },
                "client_payee_relationship_id": {
                  "description": "Client payee relationship ID for the payable obligation",
                  "nullable": true,
                  "type": "integer"
                },
                "due_date": {
                  "description": "Date obligation is due in ISO format. The due_date should be within -60 and +120 days of the current datetime.",
                  "type": "string"
                },
                "obligation_date": {
                  "description": "Invoice date of the obligation.",
                  "type": "string"
                },
                "reference_number": {
                  "description": "PO or Invoice number.",
                  "nullable": true,
                  "type": "string"
                },
                "subtype": {
                  "description": "Subtype of the obligation",
                  "enum": [
                    "primary",
                    "client"
                  ],
                  "type": "string"
                },
                "total_amount": {
                  "description": "Total amount of the obligation in cents",
                  "type": "integer"
                },
                "type": {
                  "description": "Type of the obligation",
                  "enum": [
                    "receivable",
                    "payable"
                  ],
                  "type": "string"
                },
                "uuid": {
                  "description": "Unique identifier for the Obligation in UUID4 format. Optional",
                  "required": false,
                  "type": "string"
                }
              },
              "title": "Job Obligation Data",
              "type": "object"
            },
            "type": "array"
          }
        },
        "title": "Job Quote Request",
        "type": "object"
      },
      "List of the items shipped": {
        "items": {
          "description": "Details about the item shipped",
          "properties": {
            "description": {
              "example": "Strawberries",
              "title": "Item shipped",
              "type": "string"
            },
            "dimensions": {
              "properties": {
                "depth": {
                  "example": 4.5,
                  "title": "Depth of the item",
                  "type": "number"
                },
                "height": {
                  "example": 12.1,
                  "title": "Height of the item",
                  "type": "number"
                },
                "unit": {
                  "example": "in",
                  "title": "Measurement Unit",
                  "type": "string"
                },
                "width": {
                  "example": 11.0,
                  "title": "Width of the item",
                  "type": "number"
                }
              },
              "title": "Dimensions of the item being shipped",
              "type": "object"
            },
            "quantity": {
              "example": 40.75,
              "title": "Quantity of items",
              "type": "number"
            },
            "unit": {
              "description": "Unit of weight for the shipment. I.e. kg, lb",
              "example": "lb",
              "title": "Unit of weight for the shipment.",
              "type": "string"
            },
            "weight": {
              "example": 300.24,
              "title": "Weight of the item shipped",
              "type": "number"
            }
          },
          "title": "Shipped Item",
          "type": "object"
        },
        "title": "List of the items shipped",
        "type": "array"
      },
      "Factoring Company": {
        "description": "A factoring company",
        "properties": {
          "city": {
            "description": "City",
            "type": "string"
          },
          "company_name": {
            "description": "Company name",
            "type": "string"
          },
          "ein": {
            "description": "Federal EIN / Tax ID (9 digits)",
            "nullable": true,
            "type": "string"
          },
          "id": {
            "description": "Company ID",
            "type": "integer"
          },
          "state": {
            "description": "State (2 Character Abbreviation)",
            "type": "string"
          }
        },
        "title": "Factoring Company",
        "type": "object"
      },
      "Payee Relationship Filters": {
        "description": "Available filters for fetching Payees",
        "example": {
          "status": "pending"
        },
        "properties": {
          "days_to_pay_offset": {
            "description": "Payee relationship days to pay offset",
            "type": "integer"
          },
          "has_elected_payment_terms": {
            "description": "Filter by whether the payee has elected payment terms",
            "type": "boolean"
          },
          "quick_pay_rate": {
            "description": "Payee relationship quick pay rate, stored in basis points (ex: 100 bps == %1.00)",
            "type": "integer"
          },
          "status": {
            "description": "Payee relationship status",
            "enum": [
              "pending",
              "approved",
              "rejected"
            ],
            "type": "string"
          }
        },
        "title": "Payee Relationship Filters",
        "type": "object"
      },
      "Location": {
        "properties": {
          "address_line_1": {
            "description": "Address Line 1",
            "example": "7 W. 53rd Rd.",
            "type": "string"
          },
          "address_line_2": {
            "description": "Address Line 2 (optional)",
            "example": "Suite 7a",
            "type": "string"
          },
          "city": {
            "description": "City",
            "example": "San Antonio",
            "type": "string"
          },
          "country": {
            "description": "Country",
            "enum": [
              "USA",
              "CAN"
            ],
            "type": "string"
          },
          "state": {
            "description": "State",
            "example": "TX",
            "type": "string"
          },
          "zip_code": {
            "description": "Zip/Postal Code",
            "example": "78213",
            "type": "string"
          }
        },
        "title": "Location",
        "type": "object"
      },
      "Job Create Request": {
        "description": "Request body for creating a job",
        "example": {
          "documents": [
            {
              "subtype": "proof_of_work",
              "type": "billing_paperwork",
              "url": "https://example.com/samples/sample_files/sample_document.pdf"
            },
            {
              "subtype": "invoice",
              "type": "supporting_paperwork",
              "url": "https://example.com/samples/sample_files/sample_document.pdf"
            }
          ],
          "is_factored": true,
          "notes": "There was a lumper fee",
          "obligations": [
            {
              "client_payee_relationship_id": 21,
              "due_date": "2020-02-26T15:34:22Z",
              "obligation_date": "2020-01-26T15:34:22Z",
              "reference_number": "",
              "subtype": "primary",
              "total_amount": 80000,
              "type": "payable"
            },
            {
              "client_debtor_relationship_id": 30,
              "due_date": "2020-03-26T04:00:00Z",
              "line_items": [
                {
                  "amount": 89000,
[...]
