{
  "openapi": "3.0.3",
  "info": {
    "title": "NMKR Studio API (Mainnet)",
    "description": "NMKR Studio API for NFT project management, address reservations, payment processing, wallet operations, and blockchain tools on Cardano.",
    "contact": {
      "name": "Support NMKR Studio",
      "url": "https://nmkr.io"
    },
    "version": "v2",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/nmkr.io/nmkr-studio/v2/openapi.json"
  },
  "servers": [
    {
      "url": "https://studio-api.nmkr.io"
    }
  ],
  "paths": {
    "/v2/CreateProject/{apikey}": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create Project",
        "description": "Create a new NFT project.",
        "operationId": "createProject",
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectname": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "policyExpires": {
                    "type": "boolean"
                  },
                  "policyLocksDateTime": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetNftProjects/{apikey}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get NFT Projects",
        "description": "Retrieve all NFT projects.",
        "operationId": "getNftProjects",
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of NFT projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/ReserveNftAndGetPaymentAddress/{apikey}/{nftUid}/{paymentGateway}/{customerIpAddress}": {
      "get": {
        "tags": [
          "Address Reservations"
        ],
        "summary": "Reserve NFT and Get Payment Address",
        "description": "Reserve an NFT and get a payment address for the sale.",
        "operationId": "reserveNftAndGetPaymentAddress",
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nftUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentGateway",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerIpAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reservation with payment address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckAddress/{apikey}/{address}": {
      "get": {
        "tags": [
          "Address Reservations"
        ],
        "summary": "Check Address Status",
        "description": "Check the status of a payment address.",
        "operationId": "checkAddress",
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CancelAddressReservation/{apikey}/{address}": {
      "get": {
        "tags": [
          "Address Reservations"
        ],
        "summary": "Cancel Address Reservation",
        "description": "Cancel a previously reserved payment address.",
        "operationId": "cancelAddressReservation",
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reservation cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckDiscountCode/{apikey}/{nftProjectId}/{discountCode}": {
      "get": {
        "tags": [
          "Tools"
        ],
        "summary": "Check Discount Code",
        "description": "Verify if a discount code is valid for a project.",
        "operationId": "checkDiscountCode",
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nftProjectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "discountCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Discount code validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CreateWallet/{apikey}": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Create Managed Wallet",
        "description": "Create a new managed wallet.",
        "operationId": "createWallet",
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "walletName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/UploadToIpfs/{apikey}": {
      "post": {
        "tags": [
          "IPFS"
        ],
        "summary": "Upload to IPFS",
        "description": "Upload a file to IPFS.",
        "operationId": "uploadToIpfs",
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded to IPFS",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "path",
        "name": "apikey",
        "description": "API key passed as a path parameter"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}