{
  "openapi": "3.0.3",
  "info": {
    "title": "Rubbish API",
    "version": "1.0.0",
    "description": "Rubbish provides APIs for accessing litter and cleanup data. Retrieve submissions, runs, and run movement information collected through the Rubbish platform.",
    "x-jentic-source-url": "https://github.com/eminisrafil/RubbishAPIs",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.rubbish.love"
    }
  ],
  "paths": {
    "/api/submissions": {
      "get": {
        "operationId": "listSubmissions",
        "summary": "Get all rubbish submissions",
        "tags": [
          "Submissions"
        ],
        "responses": {
          "200": {
            "description": "List of submissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Submission"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get all rubbish submissions"
      }
    },
    "/api/runs": {
      "get": {
        "operationId": "listRuns",
        "summary": "Get all runs",
        "tags": [
          "Runs"
        ],
        "responses": {
          "200": {
            "description": "List of runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Run"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get all runs"
      }
    },
    "/api/runs/{runId}": {
      "get": {
        "operationId": "getRunInfo",
        "summary": "Get movement information about a specific run",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run details with movement information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get movement information about a specific run"
      }
    }
  },
  "components": {
    "schemas": {
      "Submission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Run": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RunDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "movements": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "latitude": {
                  "type": "number"
                },
                "longitude": {
                  "type": "number"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Runs"
    },
    {
      "name": "Submissions"
    }
  ]
}
