{
  "openapi": "3.0.3",
  "info": {
    "title": "Supergood ServiceNow GRC API",
    "version": "1.0.0",
    "description": "API for connecting with ServiceNow GRC to manage risks, controls, assessments, and audit findings.",
    "x-jentic-source-url": "https://docs.supergood.ai/servicenow-grc-api/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.supergood.ai"
    }
  ],
  "paths": {
    "/sessions": {
      "post": {
        "operationId": "createSession",
        "summary": "Create authenticated session",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceUrl",
                  "username",
                  "password"
                ],
                "properties": {
                  "instanceUrl": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "mfa": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create authenticated session"
      }
    },
    "/sessions/refresh": {
      "post": {
        "operationId": "refreshSession",
        "summary": "Refresh session token",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Token refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Refresh session token"
      }
    },
    "/risks": {
      "get": {
        "operationId": "listRisks",
        "summary": "List risks",
        "tags": [
          "Risks"
        ],
        "parameters": [
          {
            "name": "ownerId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "framework",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "updatedTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Risk"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List risks"
      }
    },
    "/controls": {
      "post": {
        "operationId": "createControl",
        "summary": "Create a control",
        "tags": [
          "Controls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ControlCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Control"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a control"
      }
    },
    "/assessments": {
      "post": {
        "operationId": "createAssessment",
        "summary": "Create an assessment",
        "tags": [
          "Assessments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assessment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create an assessment"
      }
    },
    "/audits/{engagementId}/findings/{findingId}": {
      "patch": {
        "operationId": "updateFinding",
        "summary": "Update finding status",
        "tags": [
          "Audits"
        ],
        "parameters": [
          {
            "name": "engagementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "findingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindingUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Finding"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update finding status"
      }
    }
  },
  "components": {
    "schemas": {
      "SessionResponse": {
        "type": "object",
        "properties": {
          "authToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          },
          "user": {
            "type": "object"
          }
        }
      },
      "Risk": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "owner": {
            "type": "object"
          },
          "controls": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ControlCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "controlType": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "frameworkMappings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "testingCadence": {
            "type": "string"
          }
        }
      },
      "Control": {
        "type": "object",
        "properties": {
          "controlId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AssessmentCreate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          },
          "assignees": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Assessment": {
        "type": "object",
        "properties": {
          "assessmentId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "recipientsCount": {
            "type": "integer"
          }
        }
      },
      "FindingUpdate": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "severity": {
            "type": "string"
          },
          "rootCause": {
            "type": "string"
          },
          "remediationPlan": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Finding": {
        "type": "object",
        "properties": {
          "findingId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Assessments"
    },
    {
      "name": "Audits"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Controls"
    },
    {
      "name": "Risks"
    }
  ]
}
