{
  "openapi": "3.0.3",
  "info": {
    "title": "LocationIQ API",
    "description": "LocationIQ provides forward and reverse geocoding, autocomplete, nearby POI search, timezone lookup, and routing (directions) APIs. Built on OpenStreetMap data with additional proprietary datasets. Authentication is via API key passed as a query parameter.",
    "version": "1.0.0",
    "contact": {
      "name": "LocationIQ",
      "url": "https://locationiq.com"
    },
    "x-jentic-source-url": "https://locationiq.org/docs/"
  },
  "servers": [
    {
      "url": "https://us1.locationiq.com/v1",
      "description": "US region server"
    },
    {
      "url": "https://eu1.locationiq.com/v1",
      "description": "EU region server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Geocoding",
      "description": "Forward geocoding (address to coordinates)"
    },
    {
      "name": "Reverse Geocoding",
      "description": "Reverse geocoding (coordinates to address)"
    },
    {
      "name": "Autocomplete",
      "description": "Address autocomplete suggestions"
    },
    {
      "name": "Nearby",
      "description": "Nearby points of interest search (BETA)"
    },
    {
      "name": "Timezone",
      "description": "Timezone lookup by coordinates"
    },
    {
      "name": "Directions",
      "description": "Routing and directions"
    },
    {
      "name": "Account",
      "description": "Account and balance information"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "forwardGeocode",
        "summary": "Forward geocoding (free-form query)",
        "description": "Converts a free-form address string into geographic coordinates (latitude and longitude).",
        "tags": ["Geocoding"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Free-form query string to search for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Output format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "xmlv1.1"],
              "default": "xml"
            }
          },
          {
            "name": "addressdetails",
            "in": "query",
            "required": false,
            "description": "Include a breakdown of the address into elements (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 0
            }
          },
          {
            "name": "statecode",
            "in": "query",
            "required": false,
            "description": "Add state or province code to address details (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 0
            }
          },
          {
            "name": "viewbox",
            "in": "query",
            "required": false,
            "description": "Preferred area for results as comma-separated coordinates (lon1,lat1,lon2,lat2).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounded",
            "in": "query",
            "required": false,
            "description": "Restrict results to the viewbox area (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return (1-50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "required": false,
            "description": "Preferred language for results.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "countrycodes",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of ISO 3166-1 alpha-2 country codes to restrict results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "normalizeaddress",
            "in": "query",
            "required": false,
            "description": "Standardize address elements (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "normalizecity",
            "in": "query",
            "required": false,
            "description": "Normalize the city field (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "postaladdress",
            "in": "query",
            "required": false,
            "description": "Return country-specific postal address format (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "matchquality",
            "in": "query",
            "required": false,
            "description": "Include match quality information (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Data source. Use 'nom' for OpenStreetMap only.",
            "schema": {
              "type": "string",
              "enum": ["nom"]
            }
          },
          {
            "name": "dedupe",
            "in": "query",
            "required": false,
            "description": "Remove duplicate results (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 1
            }
          },
          {
            "name": "namedetails",
            "in": "query",
            "required": false,
            "description": "Include alternative names and language variants (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "extratags",
            "in": "query",
            "required": false,
            "description": "Include additional metadata like Wikipedia links, opening hours (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "polygon_geojson",
            "in": "query",
            "required": false,
            "description": "Return geometry as GeoJSON (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "polygon_kml",
            "in": "query",
            "required": false,
            "description": "Return geometry as KML (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "polygon_svg",
            "in": "query",
            "required": false,
            "description": "Return geometry as SVG (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "polygon_text",
            "in": "query",
            "required": false,
            "description": "Return geometry as WKT (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "polygon_threshold",
            "in": "query",
            "required": false,
            "description": "Geometry simplification tolerance.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "json_callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geocoding.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeocodingResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Access restricted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found. Unable to geocode.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/structured": {
      "get": {
        "operationId": "structuredGeocode",
        "summary": "Structured forward geocoding",
        "description": "Geocodes an address using separate address components (street, city, state, country, postalcode).",
        "tags": ["Geocoding"],
        "parameters": [
          {
            "name": "street",
            "in": "query",
            "required": false,
            "description": "Street address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "City name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "county",
            "in": "query",
            "required": false,
            "description": "County name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "State or province.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Country name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postalcode",
            "in": "query",
            "required": false,
            "description": "Postal code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "xmlv1.1"],
              "default": "xml"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "countrycodes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressdetails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful structured geocoding.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeocodingResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/postalcode": {
      "get": {
        "operationId": "postalCodeSearch",
        "summary": "Postal code search",
        "description": "Locate details when only a postal code match is necessary.",
        "tags": ["Geocoding"],
        "parameters": [
          {
            "name": "postalcode",
            "in": "query",
            "required": true,
            "description": "Postal code to search for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countrycodes",
            "in": "query",
            "required": false,
            "description": "ISO 3166-1 alpha-2 country codes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "xml"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful postal code search.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeocodingResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reverse": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocoding",
        "description": "Converts coordinates (latitude, longitude) to a readable address.",
        "tags": ["Reverse Geocoding"],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude coordinate.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "description": "Longitude coordinate.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "xml"
            }
          },
          {
            "name": "addressdetails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [0, 1],
              "default": 0
            }
          },
          {
            "name": "namedetails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "extratags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "polygon_geojson",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "normalizeaddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "normalizecity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful reverse geocoding.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodingResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unable to geocode.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/autocomplete": {
      "get": {
        "operationId": "autocomplete",
        "summary": "Autocomplete suggestions",
        "description": "Returns address autocomplete suggestions for a partial query string. Uses anycast IP routing for optimal performance.",
        "tags": ["Autocomplete"],
        "servers": [
          {
            "url": "https://api.locationiq.com/v1",
            "description": "Autocomplete API server (anycast)"
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Query string to search for (max 200 characters).",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results (1-20).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 10
            }
          },
          {
            "name": "countrycodes",
            "in": "query",
            "required": false,
            "description": "Restrict search to specific countries.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "normalizecity",
            "in": "query",
            "required": false,
            "description": "Normalize city field from address hierarchy (0 or 1).",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "required": false,
            "description": "Preferred language (e.g., en, fr, de, es, ru).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful autocomplete.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AutocompleteResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nearby": {
      "get": {
        "operationId": "nearbyPOI",
        "summary": "Nearby places search (BETA)",
        "description": "Returns nearby places around a specified location, including points of interest like cafes, hospitals, and place-level features such as cities.",
        "tags": ["Nearby"],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude of the center point.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "description": "Longitude of the center point.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Type of places to return (e.g., restaurant, hospital, cafe, city).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Search radius in meters.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful nearby search.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeocodingResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/timezone": {
      "get": {
        "operationId": "getTimezone",
        "summary": "Timezone lookup",
        "description": "Returns timezone information for a given location.",
        "tags": ["Timezone"],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude of the location.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "description": "Longitude of the location.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "description": "Unix epoch timestamp in seconds. Defaults to current time if omitted.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful timezone lookup.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimezoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/directions/{profile}/{coordinates}": {
      "get": {
        "operationId": "getDirections",
        "summary": "Get directions",
        "description": "Returns routing directions between waypoints for the specified profile.",
        "tags": ["Directions"],
        "parameters": [
          {
            "name": "profile",
            "in": "path",
            "required": true,
            "description": "Routing profile.",
            "schema": {
              "type": "string",
              "enum": ["driving", "cycling", "walking", "foot"]
            }
          },
          {
            "name": "coordinates",
            "in": "path",
            "required": true,
            "description": "Semicolon-separated list of coordinates (lon,lat;lon,lat).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "steps",
            "in": "query",
            "required": false,
            "description": "Include turn-by-turn instructions.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "alternatives",
            "in": "query",
            "required": false,
            "description": "Return alternative routes.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "geometries",
            "in": "query",
            "required": false,
            "description": "Geometry encoding format.",
            "schema": {
              "type": "string",
              "enum": ["polyline", "polyline6", "geojson"]
            }
          },
          {
            "name": "overview",
            "in": "query",
            "required": false,
            "description": "Level of overview geometry detail.",
            "schema": {
              "type": "string",
              "enum": ["simplified", "full", "false"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful directions response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/balance": {
      "get": {
        "operationId": "getBalance",
        "summary": "Check account balance",
        "description": "Returns the count of request credits remaining for the current day. Balance resets at midnight UTC.",
        "tags": ["Account"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful balance check.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "key",
        "in": "query",
        "description": "LocationIQ access token passed as a query parameter."
      }
    },
    "schemas": {
      "GeocodingResult": {
        "type": "object",
        "properties": {
          "place_id": {
            "type": "string",
            "description": "Unique location identifier."
          },
          "licence": {
            "type": "string",
            "description": "Data attribution licence."
          },
          "osm_type": {
            "type": "string",
            "description": "OpenStreetMap object type."
          },
          "osm_id": {
            "type": "string",
            "description": "OpenStreetMap object identifier."
          },
          "lat": {
            "type": "string",
            "description": "Latitude coordinate."
          },
          "lon": {
            "type": "string",
            "description": "Longitude coordinate."
          },
          "display_name": {
            "type": "string",
            "description": "Formatted address for display."
          },
          "class": {
            "type": "string",
            "description": "Result category."
          },
          "type": {
            "type": "string",
            "description": "Result type within category."
          },
          "importance": {
            "type": "number",
            "description": "Relevance score (0-1)."
          },
          "icon": {
            "type": "string",
            "description": "Result icon URL."
          },
          "boundingbox": {
            "type": "array",
            "description": "Bounding box [min_lat, max_lat, min_lon, max_lon].",
            "items": {
              "type": "string"
            }
          },
          "address": {
            "$ref": "#/components/schemas/AddressDetails"
          },
          "namedetails": {
            "type": "object",
            "description": "Alternative names and language variants.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "extratags": {
            "type": "object",
            "description": "Additional metadata (Wikipedia, opening hours, etc.).",
            "additionalProperties": {
              "type": "string"
            }
          },
          "matchquality": {
            "type": "object",
            "properties": {
              "matchcode": {
                "type": "string"
              },
              "matchtype": {
                "type": "string"
              },
              "matchlevel": {
                "type": "string"
              }
            }
          },
          "postaladdress": {
            "type": "string",
            "description": "Country-specific formatted postal address."
          }
        }
      },
      "AddressDetails": {
        "type": "object",
        "description": "Breakdown of the address into components.",
        "properties": {
          "house_number": {
            "type": "string"
          },
          "road": {
            "type": "string"
          },
          "neighbourhood": {
            "type": "string"
          },
          "suburb": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          }
        }
      },
      "AutocompleteResult": {
        "type": "object",
        "properties": {
          "place_id": {
            "type": "string",
            "description": "Unique place identifier."
          },
          "osm_id": {
            "type": "string"
          },
          "osm_type": {
            "type": "string"
          },
          "lat": {
            "type": "string",
            "description": "Latitude."
          },
          "lon": {
            "type": "string",
            "description": "Longitude."
          },
          "display_name": {
            "type": "string",
            "description": "Full address with complete details."
          },
          "display_place": {
            "type": "string",
            "description": "Place name or road name portion only."
          },
          "display_address": {
            "type": "string",
            "description": "Complete address without the display_place text."
          },
          "boundingbox": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "address": {
            "$ref": "#/components/schemas/AddressDetails"
          }
        }
      },
      "TimezoneResponse": {
        "type": "object",
        "properties": {
          "timezone": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "IANA timezone identifier (e.g., America/New_York)."
              },
              "now_in_dst": {
                "type": "integer",
                "description": "Whether DST is currently active (0 or 1).",
                "enum": [0, 1]
              },
              "offset_sec": {
                "type": "integer",
                "description": "UTC offset in seconds, accounting for DST."
              },
              "short_name": {
                "type": "string",
                "description": "Timezone abbreviation (e.g., EDT, CEST)."
              },
              "full_name": {
                "type": "string",
                "description": "Full timezone name (e.g., Eastern Daylight Time)."
              }
            }
          }
        }
      },
      "DirectionsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Status code (e.g., Ok)."
          },
          "routes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "geometry": {
                  "type": "string",
                  "description": "Route geometry in the requested format."
                },
                "distance": {
                  "type": "number",
                  "description": "Total distance in meters."
                },
                "duration": {
                  "type": "number",
                  "description": "Total duration in seconds."
                },
                "legs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "distance": {
                        "type": "number"
                      },
                      "duration": {
                        "type": "number"
                      },
                      "steps": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "geometry": {
                              "type": "string"
                            },
                            "distance": {
                              "type": "number"
                            },
                            "duration": {
                              "type": "number"
                            },
                            "name": {
                              "type": "string"
                            },
                            "maneuver": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string"
                                },
                                "modifier": {
                                  "type": "string"
                                },
                                "location": {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "waypoints": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "location": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the request."
          },
          "balance": {
            "type": "object",
            "properties": {
              "day": {
                "type": "integer",
                "description": "Remaining daily request credits."
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    }
  }
}