{
  "openapi": "3.0.3",
  "info": {
    "title": "Afosto API",
    "version": "1.0.0",
    "description": "Afosto commerce platform API providing IAM (OAuth), instant search, and QuicQ CDN proxy management. Includes endpoints for authentication, search indexes, document management, and CDN proxy configuration.",
    "x-jentic-source-url": "https://api.afosto.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://afosto.app/api",
      "description": "Afosto Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "OAuth",
      "description": "Authentication and token management"
    },
    {
      "name": "Indexes",
      "description": "Search index management"
    },
    {
      "name": "Documents",
      "description": "Index document management"
    },
    {
      "name": "Search",
      "description": "Search functionality"
    },
    {
      "name": "Proxies",
      "description": "QuicQ CDN proxy management"
    }
  ],
  "paths": {
    "/oauth/session/authorize": {
      "get": {
        "operationId": "getAuthorizationSession",
        "tags": [
          "OAuth"
        ],
        "summary": "Get authorization session",
        "description": "Returns a new authorization response for the session.",
        "parameters": [
          {
            "name": "redirect_uri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "silent",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization session response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationSession"
                }
              }
            }
          },
          "302": {
            "description": "Redirect to authorization"
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/authorize": {
      "post": {
        "operationId": "obtainToken",
        "tags": [
          "OAuth"
        ],
        "summary": "Obtain access token",
        "description": "Returns a new access token using client credentials or refresh token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Access token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: invalid filter, pagination or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instant/indexes": {
      "get": {
        "operationId": "listIndexes",
        "tags": [
          "Indexes"
        ],
        "summary": "List all indexes",
        "description": "List all search indexes for the authenticated user.",
        "parameters": [
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field"
          }
        ],
        "responses": {
          "200": {
            "description": "List of indexes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: invalid filter, pagination or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createIndex",
        "tags": [
          "Indexes"
        ],
        "summary": "Create a new index",
        "description": "Create a new search index.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IndexCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Index created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: invalid filter, pagination or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instant/indexes/{alias}": {
      "get": {
        "operationId": "getIndex",
        "tags": [
          "Indexes"
        ],
        "summary": "Get a single index",
        "description": "Show a single index for the tenant.",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The alias of the index"
          }
        ],
        "responses": {
          "200": {
            "description": "Index details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: invalid filter, pagination or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found: could not find requested entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instant/indexes/{id}/documents": {
      "put": {
        "operationId": "upsertDocuments",
        "tags": [
          "Documents"
        ],
        "summary": "Upsert documents",
        "description": "Update or insert a list of documents in the specified index. Enter any additional information in the metadata. Data in the metadata key is not searchable, only retrievable.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The alias of the index"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Documents upserted successfully"
          },
          "400": {
            "description": "Bad request: invalid filter, pagination or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found: could not find requested entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "clearDocuments",
        "tags": [
          "Documents"
        ],
        "summary": "Clear all documents",
        "description": "Delete all documents from the specified index.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The alias of the index"
          }
        ],
        "responses": {
          "204": {
            "description": "Documents cleared successfully"
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found: could not find requested entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instant/search/{id}": {
      "post": {
        "operationId": "searchDocuments",
        "tags": [
          "Search"
        ],
        "summary": "Search documents via proxy",
        "description": "Search documents using a proxy key for a tenant. The count is the combined count of the results in all selected indices.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The proxy key for a tenant"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: invalid filter, pagination or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instant/search/indexes/{alias}": {
      "post": {
        "operationId": "searchDocumentsByIndex",
        "tags": [
          "Search"
        ],
        "summary": "Search documents within a single index",
        "description": "Search documents within a single index, without going through a proxy.",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The alias of the index"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request: invalid filter, pagination or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instant/search/{id}/settings": {
      "get": {
        "operationId": "getSearchSettings",
        "tags": [
          "Search"
        ],
        "summary": "Get search settings",
        "description": "Get the settings for a search engine (proxy).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The proxy key"
          }
        ],
        "responses": {
          "200": {
            "description": "Search settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: invalid filter, pagination or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found: could not find requested entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instant/search/{id}/click/{code}": {
      "get": {
        "operationId": "measureClickThrough",
        "tags": [
          "Search"
        ],
        "summary": "Measure CTR",
        "description": "Redirect the initial URL and measure a click-through rate.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The proxy key"
          },
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The encoded click signature"
          }
        ],
        "responses": {
          "307": {
            "description": "Redirect to target URL"
          },
          "400": {
            "description": "Bad request: invalid filter, pagination or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found: could not find requested entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/storage/quicq/proxies": {
      "get": {
        "operationId": "listProxies",
        "tags": [
          "Proxies"
        ],
        "summary": "List proxies",
        "description": "Returns the list of CDN proxies.",
        "parameters": [
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of proxies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: invalid filter, pagination or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProxy",
        "tags": [
          "Proxies"
        ],
        "summary": "Create a proxy",
        "description": "Add a new CDN proxy.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProxyCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Proxy created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: invalid filter, pagination or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/storage/quicq/proxies/{key}": {
      "get": {
        "operationId": "getProxy",
        "tags": [
          "Proxies"
        ],
        "summary": "Get a proxy",
        "description": "Returns the proxy configuration.",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Proxy details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request: invalid filter, pagination or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found: could not find requested entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateProxy",
        "tags": [
          "Proxies"
        ],
        "summary": "Update a proxy",
        "description": "Updates the proxy configuration.",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProxyCreateRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Proxy updated successfully"
          },
          "400": {
            "description": "Bad request: invalid filter, pagination or request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found: could not find requested entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProxy",
        "tags": [
          "Proxies"
        ],
        "summary": "Delete a proxy",
        "description": "Deletes the proxy.",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Proxy deleted successfully"
          },
          "401": {
            "description": "Unauthorized: invalid or expired authorization header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: insufficient scopes for resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found: could not find requested entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 Bearer token"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "nullable": true
              }
            }
          },
          "meta": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "AuthorizationSession": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "forward_uri": {
                "type": "string",
                "nullable": true
              },
              "client_name": {
                "type": "string",
                "nullable": true
              },
              "client_redirect_uri": {
                "type": "string",
                "nullable": true
              },
              "scope": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "nullable": true
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "is_authorization_approved": {
                "type": "boolean",
                "nullable": true
              },
              "is_id_token_issued": {
                "type": "boolean",
                "nullable": true
              },
              "expires_in": {
                "type": "integer",
                "nullable": true
              }
            }
          },
          "page": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "client_id": {
                "type": "string"
              },
              "client_secret": {
                "type": "string"
              },
              "grant_type": {
                "type": "string"
              },
              "scope": {
                "type": "string"
              }
            }
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "token_type": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              },
              "access_token": {
                "type": "string"
              },
              "refresh_token": {
                "type": "string"
              }
            }
          },
          "page": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "Index": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the index"
          },
          "alias": {
            "type": "string",
            "description": "Alias set on the index"
          },
          "state": {
            "type": "string",
            "enum": [
              "LIVE"
            ]
          },
          "source": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "synonyms": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "stop_words": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ranking_rules": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string"
                },
                "to": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          },
          "distinct_field": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IndexListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Index"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PaginationCursor"
          }
        }
      },
      "IndexResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Index"
          },
          "page": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "IndexCreateRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "alias": {
                "type": "string"
              },
              "source": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "stop_words": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "ranking_rules": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              },
              "filters": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Unique URL identifier for proxy"
          },
          "routes": {
            "type": "object",
            "properties": {
              "path": {
                "type": "string"
              },
              "origin": {
                "type": "object",
                "properties": {
                  "is_bucket": {
                    "type": "boolean"
                  },
                  "uri": {
                    "type": "string"
                  }
                }
              },
              "settings": {
                "type": "object",
                "properties": {
                  "cache": {
                    "type": "object",
                    "properties": {
                      "is_as_origin": {
                        "type": "boolean"
                      },
                      "is_public": {
                        "type": "boolean"
                      },
                      "age": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "auth": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "object",
                "properties": {
                  "secret": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "is_active": {
            "type": "boolean"
          },
          "tenant_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProxyListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Proxy"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PaginationCursor"
          }
        }
      },
      "ProxyResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Proxy"
          },
          "page": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "ProxyCreateRequest": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Proxy"
          }
        }
      },
      "SearchSettingsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "filters": {
                "type": "object",
                "properties": {
                  "show_for": {
                    "type": "string"
                  },
                  "sorting": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "options_count": {
                    "type": "integer"
                  },
                  "max_options_count": {
                    "type": "integer"
                  }
                }
              },
              "is_autocomplete": {
                "type": "boolean"
              },
              "indexes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "alias": {
                      "type": "string"
                    },
                    "results_per_page": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "page": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "PaginationCursor": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "after": {
            "type": "string"
          },
          "previous": {
            "type": "string"
          },
          "before": {
            "type": "string"
          }
        }
      }
    }
  }
}
