{
  "openapi": "3.0.3",
  "info": {
    "title": "Affirm API",
    "version": "v1",
    "description": "Affirm's API for managing transactions, checkouts, cards, disputes, and files for the buy now pay later platform.",
    "x-jentic-source-url": "https://docs.affirm.com/developers"
  },
  "servers": [
    {
      "url": "https://api.affirm.com/api/v1",
      "description": "Production"
    },
    {
      "url": "https://sandbox.affirm.com/api/v1",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/cards/{checkout_id}": {
      "get": {
        "operationId": "readCard",
        "summary": "Read Card",
        "description": "Retrieve the virtual card details associated with a checkout.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CheckoutIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Card details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/cards/{checkout_id}/cancel": {
      "post": {
        "operationId": "cancelCard",
        "summary": "Cancel Card",
        "description": "Cancel a virtual card associated with a checkout.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CheckoutIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Card cancelled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/cards/{checkout_id}/finalize": {
      "post": {
        "operationId": "finalizeCard",
        "summary": "Finalize Card",
        "description": "Finalize a virtual card associated with a checkout.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CheckoutIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Card finalized successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/checkout/{checkout_id}": {
      "get": {
        "operationId": "readCheckout",
        "summary": "Read Checkout",
        "description": "Retrieve the details of a specific checkout session.",
        "tags": [
          "Checkout"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CheckoutIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/checkout/store": {
      "post": {
        "operationId": "storeCheckout",
        "summary": "Store Checkout",
        "description": "Create a new checkout session for in-store purchases.",
        "tags": [
          "Checkout"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/checkout/direct": {
      "post": {
        "operationId": "directCheckout",
        "summary": "Direct Checkout",
        "description": "Create a new direct checkout session.",
        "tags": [
          "Checkout"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/checkout/{checkout_id}/update": {
      "post": {
        "operationId": "updateCheckout",
        "summary": "Update Checkout",
        "description": "Update an existing checkout session with new details such as shipping information.",
        "tags": [
          "Checkout"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CheckoutIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/checkout/resend": {
      "post": {
        "operationId": "resendCheckout",
        "summary": "Resend Checkout",
        "description": "Resend a checkout notification to the customer.",
        "tags": [
          "Checkout"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "checkout_id"
                ],
                "properties": {
                  "checkout_id": {
                    "type": "string",
                    "description": "The unique identifier of the checkout to resend."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout resent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "List Transactions",
        "description": "Retrieve a paginated list of transactions.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "transaction_type",
            "in": "query",
            "required": true,
            "description": "The type of transaction to list.",
            "schema": {
              "type": "string",
              "enum": [
                "charge"
              ]
            }
          },
          {
            "name": "allow_marqeta_view",
            "in": "query",
            "required": false,
            "description": "Whether to allow Marqeta view.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor for backward pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor for forward pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before_date",
            "in": "query",
            "required": false,
            "description": "Filter transactions before this date.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after_date",
            "in": "query",
            "required": false,
            "description": "Filter transactions after this date.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before_timestamp",
            "in": "query",
            "required": false,
            "description": "Filter transactions before this timestamp.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after_timestamp",
            "in": "query",
            "required": false,
            "description": "Filter transactions after this timestamp.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search query string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchant_id",
            "in": "query",
            "required": false,
            "description": "Filter by merchant identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Expand related resources in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Has-Strict-Validation",
            "in": "header",
            "required": false,
            "description": "Enable strict validation on the request.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "authorizeTransaction",
        "summary": "Authorize Transaction",
        "description": "Authorize a new transaction using a checkout token.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction authorized successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/transactions/events": {
      "get": {
        "operationId": "listTransactionEvents",
        "summary": "List Transaction Events",
        "description": "Retrieve a list of transaction events filtered by type.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "transaction_type",
            "in": "query",
            "required": true,
            "description": "The type of transaction.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction_event_type",
            "in": "query",
            "required": true,
            "description": "The type of transaction event.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before_date",
            "in": "query",
            "required": false,
            "description": "Filter events before this date.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after_date",
            "in": "query",
            "required": false,
            "description": "Filter events after this date.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before_ari",
            "in": "query",
            "required": false,
            "description": "Cursor for backward pagination by ARI.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after_ari",
            "in": "query",
            "required": false,
            "description": "Cursor for forward pagination by ARI.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchant_id",
            "in": "query",
            "required": false,
            "description": "Filter by merchant identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction events retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionEventList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/transactions/{transaction_id}": {
      "get": {
        "operationId": "readTransaction",
        "summary": "Read Transaction",
        "description": "Retrieve the details of a specific transaction.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionIdPath"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Expand related resources in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Has-Strict-Validation",
            "in": "header",
            "required": false,
            "description": "Enable strict validation on the request.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "updateTransaction",
        "summary": "Update Transaction",
        "description": "Update a transaction with new order or shipping details.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/transactions/{transaction_id}/capture": {
      "post": {
        "operationId": "captureTransaction",
        "summary": "Capture Transaction",
        "description": "Capture an authorized transaction, either fully or partially.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionIdPath"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptureTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction captured successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/transactions/{transaction_id}/refund": {
      "post": {
        "operationId": "refundTransaction",
        "summary": "Refund Transaction",
        "description": "Refund a captured transaction, either fully or partially.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionIdPath"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction refunded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/transactions/{transaction_id}/void": {
      "post": {
        "operationId": "voidTransaction",
        "summary": "Void Transaction",
        "description": "Void an authorized transaction that has not been captured.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionIdPath"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoidTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction voided successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/settlements/events": {
      "get": {
        "operationId": "listSettlementEvents",
        "summary": "List Settlement Events",
        "description": "Retrieve a paginated list of settlement events for reconciliation.",
        "tags": [
          "Settlements"
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "query",
            "required": true,
            "description": "The merchant identifier to filter settlement events.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 5
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor for forward pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor for backward pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_cursor_uuid",
            "in": "query",
            "required": false,
            "description": "UUID cursor for the start of the range.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from_cursor_date",
            "in": "query",
            "required": false,
            "description": "Date cursor for the start of the range.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to_cursor_uuid",
            "in": "query",
            "required": false,
            "description": "UUID cursor for the end of the range.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "to_cursor_date",
            "in": "query",
            "required": false,
            "description": "Date cursor for the end of the range.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "required": false,
            "description": "Sort order for results.",
            "schema": {
              "type": "string",
              "enum": [
                "ascending",
                "descending"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Settlement events retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettlementEventList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/disputes": {
      "get": {
        "operationId": "listDisputes",
        "summary": "List Disputes",
        "description": "Retrieve a list of disputes, optionally filtered by merchant or date.",
        "tags": [
          "Disputes"
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "query",
            "required": false,
            "description": "Filter by merchant identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "opened_before",
            "in": "query",
            "required": false,
            "description": "Filter disputes opened before this date.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "opened_after",
            "in": "query",
            "required": false,
            "description": "Filter disputes opened after this date.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Cursor for backward pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Cursor for forward pagination.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disputes retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/disputes/{dispute_id}": {
      "get": {
        "operationId": "getDispute",
        "summary": "Get Dispute",
        "description": "Retrieve the details of a specific dispute.",
        "tags": [
          "Disputes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DisputeIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Dispute details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispute"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/disputes/{dispute_id}/close": {
      "post": {
        "operationId": "closeDispute",
        "summary": "Close Dispute",
        "description": "Close a dispute with a resolution.",
        "tags": [
          "Disputes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DisputeIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseDisputeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dispute closed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispute"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/disputes/{dispute_id}/evidence": {
      "post": {
        "operationId": "submitDisputeEvidence",
        "summary": "Submit Dispute Evidence",
        "description": "Submit evidence for a dispute, such as file attachments.",
        "tags": [
          "Disputes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DisputeIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisputeEvidenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evidence submitted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeEvidenceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/files": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload File",
        "description": "Upload a file for use as dispute evidence or other purposes.",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/files/{file_id}": {
      "get": {
        "operationId": "downloadFile",
        "summary": "Download File",
        "description": "Download a previously uploaded file.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the file.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File download link retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDownload"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using public_api_key as username and private_api_key as password."
      }
    },
    "parameters": {
      "CheckoutIdPath": {
        "name": "checkout_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the checkout.",
        "schema": {
          "type": "string"
        }
      },
      "TransactionIdPath": {
        "name": "transaction_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the transaction.",
        "schema": {
          "type": "string"
        }
      },
      "DisputeIdPath": {
        "name": "dispute_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the dispute.",
        "schema": {
          "type": "string"
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "A unique key to ensure idempotent requests. Providing the same key for duplicate requests prevents the operation from being performed more than once.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request. The request was malformed or contained invalid parameters.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized. Authentication credentials are missing or invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found. The requested resource does not exist.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict. The request could not be completed due to a conflict with the current state of the resource.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer",
            "description": "The HTTP status code."
          },
          "code": {
            "type": "string",
            "description": "A machine-readable error code."
          },
          "type": {
            "type": "string",
            "description": "The error type."
          },
          "message": {
            "type": "string",
            "description": "A human-readable error message."
          },
          "field": {
            "type": "string",
            "description": "The field that caused the error, if applicable."
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "Street address line 1."
          },
          "line2": {
            "type": "string",
            "description": "Street address line 2."
          },
          "city": {
            "type": "string",
            "description": "City name."
          },
          "state": {
            "type": "string",
            "description": "State or region code."
          },
          "zipcode": {
            "type": "string",
            "description": "ZIP or postal code."
          },
          "country": {
            "type": "string",
            "description": "Country code."
          }
        }
      },
      "BillingAddress": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "City name."
          },
          "state": {
            "type": "string",
            "description": "State or region code."
          },
          "zipcode": {
            "type": "string",
            "description": "ZIP or postal code."
          },
          "line1": {
            "type": "string",
            "description": "Street address line 1."
          },
          "line2": {
            "type": "string",
            "description": "Street address line 2."
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the contact."
          },
          "phone_number": {
            "type": "string",
            "description": "Phone number of the contact."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the contact."
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "ShippingInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Recipient name."
          },
          "phone": {
            "type": "string",
            "description": "Recipient phone number."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Recipient email address."
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Merchant": {
        "type": "object",
        "properties": {
          "public_api_key": {
            "type": "string",
            "description": "The merchant's public API key."
          },
          "user_cancel_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect the user to upon cancellation."
          },
          "user_confirmation_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect the user to upon confirmation."
          },
          "name": {
            "type": "string",
            "description": "The merchant's display name."
          },
          "use_vcn": {
            "type": "boolean",
            "description": "Whether to use a virtual card number."
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string",
            "description": "The display name of the item."
          },
          "sku": {
            "type": "string",
            "description": "The SKU of the item."
          },
          "unit_price": {
            "type": "integer",
            "description": "The unit price of the item in cents."
          },
          "qty": {
            "type": "integer",
            "description": "The quantity of the item."
          },
          "item_image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the item image."
          },
          "item_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the item detail page."
          }
        }
      },
      "Discount": {
        "type": "object",
        "properties": {
          "discount_display_name": {
            "type": "string",
            "description": "The display name of the discount."
          },
          "discount_amount": {
            "type": "integer",
            "description": "The discount amount in cents."
          }
        }
      },
      "Card": {
        "type": "object",
        "properties": {
          "billing_address": {
            "$ref": "#/components/schemas/BillingAddress"
          },
          "checkout_token": {
            "type": "string",
            "description": "The associated checkout token."
          },
          "created": {
            "type": "string",
            "description": "Timestamp when the card was created."
          },
          "cvv": {
            "type": "integer",
            "description": "The card verification value."
          },
          "number": {
            "type": "integer",
            "description": "The virtual card number."
          },
          "callback_id": {
            "type": "string",
            "description": "The callback identifier."
          },
          "cardholder_name": {
            "type": "string",
            "description": "The name of the cardholder."
          },
          "expiration": {
            "type": "string",
            "description": "The card expiration date."
          },
          "charge_ari": {
            "type": "string",
            "description": "The charge Affirm Resource Identifier."
          }
        }
      },
      "CardActionResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A human-readable response message."
          },
          "code": {
            "type": "string",
            "description": "A machine-readable response code."
          },
          "checkout_token": {
            "type": "string",
            "description": "The associated checkout token."
          }
        }
      },
      "Checkout": {
        "type": "object",
        "properties": {
          "billing_frequency": {
            "type": "string",
            "description": "The billing frequency for the loan."
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD)."
          },
          "total": {
            "type": "integer",
            "description": "The total amount in cents."
          },
          "financial_program_name": {
            "type": "string",
            "description": "The name of the financial program."
          },
          "checkout_flow_type": {
            "type": "string",
            "description": "The type of checkout flow."
          },
          "billing": {
            "$ref": "#/components/schemas/Contact"
          },
          "shipping_amount": {
            "type": "integer",
            "description": "The shipping amount in cents."
          },
          "product_type": {
            "type": "string",
            "description": "The product type."
          },
          "api_version": {
            "type": "string",
            "description": "The API version used for this checkout."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional metadata associated with the checkout."
          },
          "merchant": {
            "$ref": "#/components/schemas/Merchant"
          },
          "order_id": {
            "type": "string",
            "description": "The merchant's order identifier."
          },
          "checkout_status": {
            "type": "string",
            "description": "The current status of the checkout."
          },
          "shipping": {
            "$ref": "#/components/schemas/ShippingInfo"
          }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": [
          "merchant",
          "billing",
          "total"
        ],
        "properties": {
          "merchant": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Merchant"
              }
            ],
            "description": "Merchant configuration for the checkout."
          },
          "billing": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Contact"
              }
            ],
            "description": "Billing contact information. Name, phone_number, email, and address are required."
          },
          "total": {
            "type": "integer",
            "description": "The total amount in cents."
          },
          "order_id": {
            "type": "string",
            "description": "The merchant's order identifier."
          },
          "tax_amount": {
            "type": "integer",
            "description": "The tax amount in cents."
          },
          "shipping_amount": {
            "type": "integer",
            "description": "The shipping amount in cents."
          },
          "shipping": {
            "$ref": "#/components/schemas/ShippingInfo"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            },
            "description": "List of items in the checkout."
          },
          "discounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Discount"
            },
            "description": "List of discounts applied to the checkout."
          },
          "financing_program": {
            "type": "string",
            "description": "The financing program to use."
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "redirect_url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to redirect the customer to for checkout."
          },
          "checkout_id": {
            "type": "string",
            "description": "The unique identifier of the checkout."
          }
        }
      },
      "CheckoutUpdateRequest": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "The merchant's order identifier."
          },
          "shipping_carrier": {
            "type": "string",
            "description": "The shipping carrier name."
          },
          "shipping_confirmation": {
            "type": "string",
            "description": "The shipping confirmation or tracking number."
          },
          "shipping": {
            "$ref": "#/components/schemas/ShippingInfo"
          }
        }
      },
      "CheckoutUpdateResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "string",
            "description": "Timestamp when the update was created."
          },
          "order_id": {
            "type": "string",
            "description": "The merchant's order identifier."
          },
          "shipping_confirmation": {
            "type": "string",
            "description": "The shipping confirmation or tracking number."
          },
          "shipping": {
            "$ref": "#/components/schemas/ShippingInfo"
          },
          "shipping_carrier": {
            "type": "string",
            "description": "The shipping carrier name."
          },
          "type": {
            "type": "string",
            "description": "The type of the update event."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the update event."
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique transaction identifier."
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction."
          },
          "amount": {
            "type": "integer",
            "description": "The transaction amount in cents."
          },
          "currency": {
            "type": "string",
            "description": "The currency code."
          },
          "order_id": {
            "type": "string",
            "description": "The merchant's order identifier."
          },
          "reference_id": {
            "type": "string",
            "description": "The merchant's reference identifier."
          },
          "authorization_expiration": {
            "type": "string",
            "description": "Timestamp when the authorization expires."
          },
          "created": {
            "type": "string",
            "description": "Timestamp when the transaction was created."
          },
          "shipping": {
            "$ref": "#/components/schemas/ShippingInfo"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            },
            "description": "List of items in the transaction."
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionEvent"
            },
            "description": "List of events associated with the transaction."
          }
        }
      },
      "TransactionList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of transactions."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            },
            "description": "Array of transaction objects."
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for the next page of results."
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for the previous page of results."
          }
        }
      },
      "TransactionEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique event identifier."
          },
          "type": {
            "type": "string",
            "description": "The event type (e.g., capture, refund, void, update)."
          },
          "amount": {
            "type": "integer",
            "description": "The event amount in cents."
          },
          "created": {
            "type": "string",
            "description": "Timestamp when the event was created."
          },
          "transaction_id": {
            "type": "string",
            "description": "The associated transaction identifier."
          },
          "order_id": {
            "type": "string",
            "description": "The merchant's order identifier."
          },
          "reference_id": {
            "type": "string",
            "description": "The merchant's reference identifier."
          },
          "shipping_carrier": {
            "type": "string",
            "description": "The shipping carrier name."
          },
          "shipping_confirmation": {
            "type": "string",
            "description": "The shipping confirmation or tracking number."
          },
          "currency": {
            "type": "string",
            "description": "The currency code."
          }
        }
      },
      "TransactionEventList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of transaction events."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionEvent"
            },
            "description": "Array of transaction event objects."
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for the next page of results."
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for the previous page of results."
          }
        }
      },
      "AuthorizeTransactionRequest": {
        "type": "object",
        "required": [
          "transaction_id"
        ],
        "properties": {
          "transaction_id": {
            "type": "string",
            "minLength": 9,
            "maxLength": 16,
            "description": "The checkout token used to authorize the transaction (9-16 characters)."
          },
          "total": {
            "type": "integer",
            "description": "The total amount in cents."
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD)."
          },
          "order_id": {
            "type": "string",
            "maxLength": 128,
            "description": "The merchant's order identifier."
          },
          "reference_id": {
            "type": "string",
            "maxLength": 128,
            "description": "The merchant's reference identifier."
          },
          "shipping": {
            "$ref": "#/components/schemas/ShippingInfo"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            },
            "description": "List of items in the transaction."
          }
        }
      },
      "UpdateTransactionRequest": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "The merchant's order identifier."
          },
          "reference_id": {
            "type": "string",
            "nullable": true,
            "description": "The merchant's reference identifier."
          },
          "shipping_carrier": {
            "type": "string",
            "maxLength": 128,
            "description": "The shipping carrier name."
          },
          "shipping_confirmation": {
            "type": "string",
            "maxLength": 128,
            "description": "The shipping confirmation or tracking number."
          },
          "shipping": {
            "$ref": "#/components/schemas/ShippingInfo"
          }
        }
      },
      "CaptureTransactionRequest": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "maxLength": 128,
            "description": "The merchant's order identifier."
          },
          "reference_id": {
            "type": "string",
            "maxLength": 128,
            "description": "The merchant's reference identifier."
          },
          "shipping_carrier": {
            "type": "string",
            "maxLength": 128,
            "description": "The shipping carrier name."
          },
          "shipping_confirmation": {
            "type": "string",
            "maxLength": 128,
            "description": "The shipping confirmation or tracking number."
          },
          "amount": {
            "type": "integer",
            "minimum": 1,
            "description": "The amount to capture in cents. Must be at least 1."
          }
        }
      },
      "RefundTransactionRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "minimum": 1,
            "nullable": true,
            "description": "The amount to refund in cents. If omitted, the full captured amount is refunded."
          },
          "reference_id": {
            "type": "string",
            "maxLength": 128,
            "description": "The merchant's reference identifier."
          }
        }
      },
      "VoidTransactionRequest": {
        "type": "object",
        "properties": {
          "reference_id": {
            "type": "string",
            "maxLength": 128,
            "description": "The merchant's reference identifier."
          },
          "amount": {
            "type": "integer",
            "minimum": 1,
            "description": "The amount to void in cents."
          }
        }
      },
      "SettlementEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique settlement event identifier."
          },
          "type": {
            "type": "string",
            "description": "The type of settlement event."
          },
          "amount": {
            "type": "integer",
            "description": "The settlement amount in cents."
          },
          "created": {
            "type": "string",
            "description": "Timestamp when the settlement event was created."
          },
          "transaction_id": {
            "type": "string",
            "description": "The associated transaction identifier."
          },
          "merchant_id": {
            "type": "string",
            "description": "The merchant identifier."
          },
          "currency": {
            "type": "string",
            "description": "The currency code."
          }
        }
      },
      "SettlementEventList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of settlement events."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SettlementEvent"
            },
            "description": "Array of settlement event objects."
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for the next page of results."
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for the previous page of results."
          }
        }
      },
      "Dispute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique dispute identifier."
          },
          "status": {
            "type": "string",
            "description": "The current status of the dispute."
          },
          "reason": {
            "type": "string",
            "description": "The reason for the dispute."
          },
          "amount": {
            "type": "integer",
            "description": "The disputed amount in cents."
          },
          "currency": {
            "type": "string",
            "description": "The currency code."
          },
          "transaction_id": {
            "type": "string",
            "description": "The associated transaction identifier."
          },
          "merchant_id": {
            "type": "string",
            "description": "The merchant identifier."
          },
          "opened_at": {
            "type": "string",
            "description": "Timestamp when the dispute was opened."
          },
          "closed_at": {
            "type": "string",
            "nullable": true,
            "description": "Timestamp when the dispute was closed, if applicable."
          },
          "resolution": {
            "type": "string",
            "nullable": true,
            "description": "The resolution outcome of the dispute."
          },
          "timeline": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "event": {
                  "type": "string",
                  "description": "The timeline event type."
                },
                "created": {
                  "type": "string",
                  "description": "Timestamp of the timeline event."
                }
              }
            },
            "description": "Timeline of events for the dispute."
          }
        }
      },
      "DisputeList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The total number of disputes."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dispute"
            },
            "description": "Array of dispute objects."
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for the next page of results."
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for the previous page of results."
          }
        }
      },
      "CloseDisputeRequest": {
        "type": "object",
        "properties": {
          "resolution": {
            "type": "string",
            "description": "The resolution type for closing the dispute."
          },
          "notes": {
            "type": "string",
            "description": "Additional notes about the resolution."
          }
        }
      },
      "DisputeEvidenceRequest": {
        "type": "object",
        "properties": {
          "file_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of file identifiers to attach as evidence."
          },
          "notes": {
            "type": "string",
            "description": "Additional notes to accompany the evidence."
          }
        }
      },
      "DisputeEvidenceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique evidence submission identifier."
          },
          "dispute_id": {
            "type": "string",
            "description": "The associated dispute identifier."
          },
          "status": {
            "type": "string",
            "description": "The status of the evidence submission."
          },
          "created": {
            "type": "string",
            "description": "Timestamp when the evidence was submitted."
          }
        }
      },
      "FileObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique file identifier."
          },
          "filename": {
            "type": "string",
            "description": "The original filename."
          },
          "content_type": {
            "type": "string",
            "description": "The MIME type of the file."
          },
          "created": {
            "type": "string",
            "description": "Timestamp when the file was uploaded."
          }
        }
      },
      "FileDownload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique file identifier."
          },
          "download_url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to download the file."
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Cards",
      "description": "Manage virtual card numbers for Affirm checkouts."
    },
    {
      "name": "Checkout",
      "description": "Create and manage Affirm checkout sessions."
    },
    {
      "name": "Transactions",
      "description": "Authorize, capture, refund, and void transactions."
    },
    {
      "name": "Settlements",
      "description": "List settlement events for reconciliation."
    },
    {
      "name": "Disputes",
      "description": "Manage and respond to transaction disputes."
    },
    {
      "name": "Files",
      "description": "Upload and download files for dispute evidence and other purposes."
    }
  ]
}