{
  "openapi": "3.0.3",
  "info": {
    "title": "Lufthansa Public API",
    "version": "1.0.0",
    "description": "The Lufthansa Open API provides access to flight schedules, reference data (countries, cities, airports, airlines, aircraft), offers, and operations.",
    "x-jentic-source-url": "https://developer.lufthansa.com/docs"
  },
  "servers": [
    {
      "url": "https://api.lufthansa.com/v1"
    }
  ],
  "paths": {
    "/mds-references/countries": {
      "get": {
        "operationId": "getCountries",
        "summary": "Get all countries",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mds-references/airports": {
      "get": {
        "operationId": "getAirports",
        "summary": "Get all airports",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "LHoperated",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirportResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/operations/schedules/{origin}/{destination}/{fromDateTime}": {
      "get": {
        "operationId": "getFlightSchedules",
        "summary": "Get flight schedules",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDateTime",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directFlights",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/operations/flightstatus/{flightNumber}/{date}": {
      "get": {
        "operationId": "getFlightStatus",
        "summary": "Get flight status",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "name": "flightNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightStatusResource"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.lufthansa.com/v1/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "CountryResource": {
        "type": "object",
        "properties": {
          "Countries": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AirportResource": {
        "type": "object",
        "properties": {
          "Airports": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ScheduleResource": {
        "type": "object",
        "properties": {
          "Schedule": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "FlightStatusResource": {
        "type": "object",
        "properties": {
          "Flights": {
            "type": "object"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "ProcessingErrors": {
            "type": "object"
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Reference Data"
    },
    {
      "name": "Operations"
    }
  ]
}