{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "integracions@necomplus.com.pe",
      "name": "Niubiz",
      "url": "http://www.niubiz.com.pe"
    },
    "description": "Api encargada de la operatividad via comercio electronico",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://www.niubiz.com.pe",
    "title": "API Niubiz eCommerce",
    "version": "v2",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.ecommerce/v2/swagger.json"
  },
  "servers": [
    {
      "url": "https://apitestenv.vnforapps.com/api.ecommerce/v2"
    }
  ],
  "paths": {
    "/card/management/remove/{vault}": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "vault",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Api to manage tokenized cards"
        ],
        "description": "RESTful API to remove a token",
        "operationId": "removeWithBody",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VaultRequest"
              }
            }
          },
          "description": "Vault remove token request",
          "required": true
        },
        "summary": "Remove Card Token"
      }
    },
    "/card/management/remove/{vault}/{block}/{attribute}": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "vault",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "block",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Api to manage tokenized cards"
        ],
        "description": "RESTful API to remove a token",
        "operationId": "remove",
        "summary": "Remove Card Token"
      }
    },
    "/card/management/retrieve/filter/{vault}/eblock/{block}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "vault",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "block",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenListResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Api to manage tokenized cards"
        ],
        "description": "RESTful API to retrieve list of tokens.",
        "operationId": "retrieveEncryptedDebit",
        "summary": "Retrieve Token List"
      }
    },
    "/card/management/retrieve/filter/{vault}/{block}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "vault",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "block",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenListResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Api to manage tokenized cards"
        ],
        "description": "RESTful API to retrieve list of tokens.",
        "operationId": "retrieveDebit",
        "summary": "Retrieve Token List"
      }
    },
    "/card/management/retrieve/{vault}/eblock/{block}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "vault",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "block",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenListResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Api to manage tokenized cards"
        ],
        "description": "RESTful API to retrieve list of tokens.",
        "operationId": "retrieveEncrypted",
        "summary": "Retrieve Token List"
      }
    },
    "/card/management/retrieve/{vault}/{block}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "vault",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "block",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenListResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Api to manage tokenized cards"
        ],
        "description": "RESTful API to retrieve list of tokens.",
        "operationId": "retrieve",
        "summary": "Retrieve Token List"
      }
    },
    "/clientip": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientIpResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Api to get client Ip"
        ],
        "description": "RESTful API to get client ip",
        "operationId": "getClientIp",
        "summary": "Get Client Ip"
      }
    },
    "/configuration/merchant/management/{entityId}": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "entityId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Merchant Configuration"
        ],
        "description": "RESTful API to manage Merchant configuration.",
        "operationId": "createConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Merchant"
              }
            }
          },
          "description": "Configuration request",
          "required": true
        },
        "summary": "Create/Update Merchant Configuration"
      }
    },
    "/configuration/merchant/{entityId}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "entityId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantConfiguration"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Merchant Configuration"
        ],
        "description": "RESTful API to get Merchant configuration.",
        "operationId": "getConfiguration",
        "summary": "Retrieve Merchant Configuration"
      }
    },
    "/configuration/merchant/{entityId}/group": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "entityId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantConfiguration"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Merchant Configuration"
        ],
        "description": "RESTful API to get Merchant group configuration.",
        "operationId": "getGroupConfiguration",
        "summary": "Retrieve Merchant Group Configuration"
      }
    },
    "/currency/conversion/retrieve/{merchantId}": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "merchantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DCCResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Dynamic Currency Conversion"
        ],
        "description": "Api to retrieve currency conversion information",
        "operationId": "retrieveEligibility",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DCCRequest"
              }
            }
          },
          "description": "DCC request",
          "required": true
        },
        "summary": "Retrieve Eligibility"
      }
    },
    "/currency/conversion/{merchantId}": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "merchantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DCCResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Dynamic Currency Conversion"
        ],
        "description": "Api to retrieve currency conversion information",
        "operationId": "queryEligibility",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DCCRequest"
              }
            }
          },
          "description": "DCC request",
          "required": true
        },
        "summary": "Query Eligibility"
      }
    },
    "/ecommerce/token/card/{merchant}/{transactionToken}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "merchant",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "transactionToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionToken"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Create Session Token"
        ],
        "description": "RESTful API to query session token",
        "operationId": "queryCardToken",
        "summary": "Query Card Token"
      }
    },
    "/ecommerce/token/card/{merchant}/{transactionToken}/{base64}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "merchant",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "transactionToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "base64",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionToken"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Create Session Token"
        ],
        "description": "RESTful API to query session token",
        "operationId": "createSessionTokenBase64",
        "summary": "Query Card Token"
      }
    },
    "/ecommerce/token/query/{merchant}/{transactionToken}/{amount}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "merchant",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "transactionToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "amount",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionToken"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Create Session Token"
        ],
        "description": "RESTful API to query session token",
        "operationId": "querySessionToken",
        "summary": "Query Session Token"
      }
    },
    "/ecommerce/token/session/{entityId}": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "entityId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionToken"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Create Session Token"
        ],
        "description": "RESTful API to create session token",
        "operationId": "createSessionToken",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/SessionTokenRequest"
              }
            }
          },
          "description": "Session token request",
          "required": true
        },
        "summary": "Create Session Token"
      }
    },
    "/ecommerce/token/transaction": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionToken"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Create Session Token"
        ],
        "description": "RESTful API to create transaction token",
        "operationId": "createTransactionToken",
        "requestBody": {
          "$ref": "#/components/requestBodies/TransactionTokenRequest"
        },
        "summary": "Create Transaction Token"
      }
    },
    "/ecommerce/token/transaction/validate": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionToken"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Create Session Token"
        ],
        "description": "RESTful API to create transaction token",
        "operationId": "createTransactionTokenValidate",
        "requestBody": {
          "$ref": "#/components/requestBodies/TransactionTokenRequest"
        },
        "summary": "Create Transaction Token"
      }
    },
    "/queryBin/category/{merchantId}/{binNumber}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "merchantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "binNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bin"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Card Bin Additional Information"
        ],
        "description": "Api to retrieve bin list",
        "operationId": "getBinCategoryList",
        "summary": "Query White/Black Bin List"
      }
    },
    "/queryBin/management/{binNumber}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "binNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ardef"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Card Bin Additional Information"
        ],
        "description": "Query in order to get ardef information.",
        "operationId": "getArdef",
        "summary": "Query Ardef"
      }
    },
    "/queryBin/{binNumber}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "binNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bin"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Card Bin Additional Information"
        ],
        "description": "Api to retrieve bin information",
        "operationId": "getBin",
        "summary": "Query Bin"
      }
    },
    "/queryBin/{merchantId}/{binNumber}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "merchantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "binNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bin"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Card Bin Additional Information"
        ],
        "description": "Api to retrieve bin information",
        "operationId": "getBinMerchant",
        "summary": "Query Bin with Merchant"
      }
    },
    "/sequence/{queryType}/{entityId}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "queryType",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "entityId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sequence"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "New Sequence Api"
        ],
        "description": "RESTful API to get a new sequence.",
        "operationId": "retrieveSequence",
        "summary": "Retrieve New Sequence"
      }
    },
    "/session/management/extend/{entityId}/{sessionKey}": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "entityId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "sessionKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionToken"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Manage Session Time"
        ],
        "description": "RESTful API to extend session time",
        "operationId": "extendSession",
        "summary": "Extend Session"
      }
    }
  },
  "components": {
    "requestBodies": {
      "DCCRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DCCRequest"
            }
          }
        },
        "description": "DCC request",
        "required": true
      },
      "TransactionTokenRequest": {
        "content": {
          "application/json; charset=utf-8": {
            "schema": {
              "$ref": "#/components/schemas/TransactionTokenRequest"
            }
          }
        },
        "description": "Transaction token request",
        "required": true
      }
    },
    "schemas": {
      "Address": {
        "description": "Entidad que representa informacion de direccion",
        "properties": {
          "city": {
            "description": "Ciudad",
            "example": "Lima",
            "type": "string"
          },
          "country": {
            "description": "Pais",
            "example": "PE",
            "type": "string"
          },
          "postalCode": {
            "description": "Codigo Postal",
            "example": "Lima 30",
            "type": "string"
          },
          "state": {
            "description": "Departamento / Estado",
            "example": "LI",
            "type": "string"
          },
          "street1": {
            "description": "Direccion",
            "example": "Calle Astorga 827",
            "type": "string"
          },
          "street2": {
            "description": "Direccion",
            "example": "Calle Astorga 831",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Alias": {
        "description": "Informacion de la tarejta tokenizada",
        "properties": {
          "aliasId": {
            "description": "Identificador de tarjeta tokenizada",
            "type": "string"
          },
          "aliasName": {
            "description": "Alias almacenado en la boveda de tokenizacion",
            "type": "string"
          },
          "cvv2": {
            "description": "CVV2 de la tarjeta",
            "format": "int32",
            "type": "integer"
          },
          "requestCVV2": {
            "description": "Flag que indica si debe solicitarse CVV2 a la tarjeta tokenizada",
            "type": "boolean"
          },
          "userToken": {
            "description": "Identificador del token de usuario",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Antifraud": {
        "description": "Entidad que representa informacion de antifraude",
        "properties": {
          "billingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "clientIp": {
            "description": "Direccion IP del cliente",
            "example": "24.212.107.30",
            "type": "string"
          },
          "deviceFingerprintId": {
            "description": "Device Finger Print Id",
            "type": "string"
          },
          "merchantDefineData": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Datos adicionales definidos por el comercio",
            "type": "object"
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/Address"
          }
        },
        "required": [
          "clientIp"
        ],
        "type": "object"
      },
      "Ardef": {
        "description": "Informacion del bin almacenada en ARDEF",
        "properties": {
          "bin": {
            "description": "Numero Bin",
            "type": "string"
          },
          "country": {
            "description": "Pais",
            "type": "string"
          },
          "fastFunds": {
            "description": "Fast Funds",
            "type": "string"
          },
          "product": {
            "$ref": "#/components/schemas/Dictionary"
          },
          "region": {
            "description": "Region",
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/Dictionary"
          }
        },
        "type": "object"
      },
      "BasicCard": {
        "description": "Datos basicos de la tarjeta",
        "properties": {
          "binNumber": {
            "description": "Bin de la tarjeta de credito (6 digits)",
            "example": "402509",
            "type": "string"
          },
          "last4Digits": {
            "description": "Ultimos 4 digitos tarjeta de credito",
            "example": "0927",
            "type": "string"
          }
        },
        "required": [
          "binNumber",
          "last4Digits"
        ],
        "type": "object"
      },
      "BasicOrder": {
        "description": "Detalle de la orden",
        "properties": {
          "amount": {
            "description": "Monto a convertir",
            "example": 20.87,
            "format": "double",
            "type": "number"
          },
          "currency": {
            "description": "Moneda del monto a convertir",
            "enum": [
              "PEN",
              "USD"
            ],
            "example": "PEN",
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "type": "object"
      },
      "Bin": {
        "description": "Entidad que representa la parametrizacion del bin",
        "properties": {
          "additional": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          },
          "binNumber": {
            "description": "Identificador del bin de la tarjeta",
            "type": "string"
          },
          "binType": {
            "description": "Identificador del tipo bin",
            "type": "string"
          },
          "category": {
            "description": "Categoria a la que se ha asociado el bin",
            "type": "string"
          },
          "hasInstallments": {
            "description": "Indica si el bin permite cuotas",
            "type": "boolean"
          },
          "installments": {
            "description": "Listado de posibles cuotas",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Card": {
        "description": "Informacion de la tarejta",
        "properties": {
          "cardAliasName": {
            "description": "Dato opcional solo si se quiere tokenizar la tarjeta. Solo habilitado para comercios con el servicio de tokenizacion activo.",
            "example": "Debito 1",
            "type": "string"
          },
          "cardHolderName": {
            "description": "Nombre del tarjethabiente",
            "example": "Pedro Galdamez",
            "type": "string"
          },
          "cardNumber": {
            "description": "Numero de tarjeta",
            "example": "4551478422045511",
            "type": "string"
          },
          "cardNumberEnc": {
            "description": "Numero de tarjeta encriptado, reemplaza al numero de tarjeta en claro",
            "type": "string"
          },
          "cvv2": {
            "description": "CVV2",
            "example": "329",
            "type": "string"
          },
          "emv": {
            "description": "Valor adicional para tarjetas con circuito integrado",
            "type": "string"
          },
          "emvEnc": {
            "description": "Datos del EMV encriptados, reemplaza al campo en claro",
            "type": "string"
          },
          "encrypted": {
            "description": "Flag que indica si la tarjeta esta encryptada",
            "type": "boolean"
          },
          "expirationMonth": {
            "description": "Mes de expiracion",
            "example": 12,
            "format": "int32",
            "type": "integer"
          },
          "expirationYear": {
            "description": "Expiration year",
            "example": 2029,
            "format": "int32",
            "type": "integer"
          },
          "ksnDukpt": {
            "description": "Clave unica derivada para la transaccion",
            "type": "string"
          },
          "pinBlockEnc": {
            "description": "Pin de la tarjeta encriptado",
            "type": "string"
          },
          "registerFrequent": {
            "description": "Flag que indica si debe registrarse como tarjeta frecuente",
            "type": "boolean"
          },
          "sequenceNumber": {
            "description": "Numero de secuencia de la tarjeta",
            "example": "001",
            "type": "string"
          },
          "tokenId": {
            "description": "Identificador de tarjeta tokenizada, opcional y reemplaza los datos de la tarjeta",
            "example": "7000100000002553",
            "type": "string"
          },
          "track2": {
            "description": "Identificador de pista 2 obtenido via lector",
            "type": "string"
          },
          "track2Enc": {
            "description": "Datos de la pista 2 encriptados, reemplaza al campo en claro",
            "type": "string"
          },
          "useFrequent": {
            "description": "Flag que indica si debe usarse como tarjeta frecuente",
            "type": "boolean"
          },
          "verify": {
            "description": "Flag para activar verificaciones adicionales",
            "type": "boolean"
          },
          "visaCheckout": {
            "description": "Flag que indica si es visa checkout",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "CardHolder": {
        "description": "Informacion del tarjethabiente",
        "properties": {
          "documentNumber": {
            "description": "Numero de documento",
            "example": "E065199",
            "type": "string"
          },
          "documentType": {
            "description": "Tipo de documento",
            "enum": [
              "DNI",
              "CE",
              "PAS"
            ],
            "example": "DNI",
            "type": "string"
          },
          "email": {
            "description": "Correo electronico",
            "example": "info@quiputech.com",
            "type": "string"
          },
          "firstName": {
            "description": "Nombre",
            "example": "Pedro",
            "type": "string"
          },
          "lastName": {
            "description": "Apellido",
            "example": "Galdamez",
            "type": "string"
          },
          "phoneNumber": {
            "description": "Telefono",
            "example": "+51 1 2223333",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CardToken": {
        "description": "Tarjeta almacenada en la boveda de tokenizacion",
        "properties": {
          "alias": {
            "description": "Alias",
            "example": "Debito 1",
            "type": "string"
          },
          "bin": {
            "description": "Numero Bin",
            "example": 424242,
            "format": "int32",
            "type": "integer"
          },
          "binType": {
            "description": "Bin Type",
            "example": "D",
            "type": "string"
          },
          "brand": {
            "description": "Brand",
            "example": "visa",
            "type": "string"
          },
          "cardNumber": {
            "description": "Numero de tarjeta",
            "type": "string"
          },
          "creationDate": {
            "description": "Fecha de creacion del token",
            "format": "int64",
            "type": "integer"
          },
          "expirationMonth": {
            "description": "Mes de expiracion",
            "example": 12,
            "format": "int32",
            "type": "integer"
          },
          "expirationYear": {
            "description": "Expiration year",
            "example": 2029,
            "format": "int32",
            "type": "integer"
          },
          "hasInstallments": {
            "description": "Flag que indica si tiene habilitado cuotas",
            "type": "boolean"
          },
          "installments": {
            "description": "Listado de quotas permitidas",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "type": "array"
          },
          "lastFourDigits": {
            "description": "Ultimos 4 digitos",
            "example": "4242",
            "type": "string"
          },
          "requestCVV2": {
            "description": "Indica si debe solicitarse el CVV2",
            "type": "boolean"
          },
          "tokenId": {
            "description": "Token de la tarjeta",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ClientIpResponse": {
        "description": "Respuesta de consulta de IP cliente",
        "properties": {
          "clientIp": {
            "description": "Direccion IP publica del cliente",
            "type": "string"
          }
        },
        "required": [
          "clientIp"
        ],
        "type": "object"
      },
      "CurrencyConversion": {
        "description": "Entidad que representa informacion de conversion de moneda",
        "properties": {
          "accepted": {
            "description": "Indica si la conversion ha sido aceptada",
            "example": true,
            "type": "boolean"
          },
          "amount": {
            "description": "Monto en moneda extranjera",
            "format": "double",
            "type": "number"
          },
          "currencyCode": {
            "description": "Codigo de moneda DCC. El codigo de moneda aplicable al PAN",
            "type": "string"
          },
          "currencyCodeAlpha": {
            "description": "Codigo de moneda DCC en texto. El codigo de moneda expresado en texto",
            "type": "string"
          },
          "eligibilityCode": {
            "description": "Valor retornado por Fintrax en la respuesta a la consulta de elegibilidad",
            "example": "0",
            "type": "string"
          },
          "exchangeRate": {
            "description": "Factor por el que el monto local es multiplicado para obtener el monto DCC",
            "format": "double",
            "type": "number"
          },
          "exponent": {
            "description": "El exponente extranjero utilizado en dar formato al monto",
            "format": "int32",
            "type": "integer"
          },
          "markup": {
            "description": "The Markup applied to the whole sale rate.",
            "format": "double",
            "type": "number"
          },
          "rateDate": {
            "description": "Fecha en la que se obtuvo el tipo de cambio. Expresado como MMdd.",
            "type": "string"
          },
          "rateSource": {
            "description": "Dynamic currency conversion foreign rates source",
            "type": "string"
          },
          "rateTime": {
            "description": "Hora en la que se obtuvo el tipo de cambio. Expresado como HHmmss",
            "type": "string"
          },
          "signature": {
            "description": "Firma de la peticion de conversion de moneda",
            "type": "string"
          },
          "status": {
            "description": "Status de la peticion de conversion de moneda",
            "readOnly": true,
            "type": "string"
          },
          "wholeSaleRate": {
            "description": "Tasa de conversion antes de que se aplique la comision",
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "DCCRequest": {
        "description": "Query dynamic currency conversion eligibility",
        "properties": {
          "card": {
            "$ref": "#/components/schemas/BasicCard"
          },
          "channel": {
            "description": "Canal de la transaccion",
            "enum": [
              "mobile",
              "web",
              "mpos",
              "host",
              "pos",
              "kiosk",
              "callcenter",
              "recurrent"
            ],
            "example": "web",
            "type": "string"
          },
          "order": {
            "$ref": "#/components/schemas/BasicOrder"
          },
          "terminalId": {
            "description": "Numero de Terminal",
            "example": "12345678",
            "type": "string"
          }
        },
        "required": [
          "card",
          "channel",
          "order",
          "terminalId"
        ],
        "type": "object"
      },
      "DCCResponse": {
        "description": "Response dynamic currency conversion eligibility",
        "properties": {
          "card": {
            "$ref": "#/components/schemas/BasicCard"
          },
          "currencyConversion": {
            "$ref": "#/components/schemas/CurrencyConversion"
          },
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "order": {
            "$ref": "#/components/schemas/BasicOrder"
          },
          "terms": {
            "$ref": "#/components/schemas/Terms"
          }
        },
        "required": [
          "card",
          "currencyConversion",
          "header",
          "order"
        ],
        "type": "object"
      },
      "Dictionary": {
        "description": "Diccionario de elementos",
        "properties": {
          "code": {
            "description": "Codigo del item",
            "type": "string"
          },
          "description": {
            "description": "Descripcion del item",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Header": {
        "description": "Encabezado de la transaccion",
        "properties": {
          "ecoreTransactionDate": {
            "description": "Fecha de la operacion",
            "format": "date-time",
            "type": "string"
          },
          "ecoreTransactionUUID": {
            "description": "Identificador unico de transaccion para ecore",
            "type": "string"
          },
          "millis": {
            "description": "Tiempo de ejecucion",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Merchant": {
        "description": "Informacion del Comercio",
        "properties": {
          "active": {
            "description": "Indica si el comercio esta activo",
            "type": "boolean"
          },
          "currency": {
            "description": "Moneda",
            "enum": [
              "PEN",
              "USD"
            ],
            "example": "PEN",
            "type": "string"
          },
          "email": {
            "description": "Correo electronico",
            "example": "info@quiputech.com",
            "type": "string"
          },
          "flow": {
            "description": "Flujo a ejecutar",
            "example": "AUTH",
            "type": "string"
          },
          "groupCode": {
            "description": "Codigo de Grupo",
            "example": "18",
            "type": "string"
          },
          "linkType": {
            "description": "Tipo de link",
            "enum": [
              "URL",
              "BOTON"
            ],
            "example": "URL",
            "type": "string"
          },
          "mcc": {
            "description": "Codigo de categoria del comercio",
            "example": "6012",
            "type": "string"
          },
          "merchantId": {
            "description": "Id de Comercio",
            "example": "10101010",
            "type": "string"
          },
          "name": {
            "description": "Nombre del comercio",
            "example": "Time Machine",
            "type": "string"
          },
          "phone": {
            "description": "Numero de telefono",
            "type": "string"
          },
          "quotas": {
            "description": "Indicador de mostrar cuotas habilitado",
            "type": "boolean"
          },
          "recurrent": {
            "description": "Indicador de recurrencia habilitada",
            "type": "boolean"
          },
          "ruc": {
            "description": "Registro unico de contribuyente",
            "example": "00341198217",
            "type": "string"
          },
          "showNames": {
            "description": "Indicador de mostrar nombres habilitado",
            "type": "boolean"
          },
          "tokenizer": {
            "description": "Indicador de tokenizacion habilitada",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "MerchantConfiguration": {
        "description": "Configuracion disponible para el comercio",
        "properties": {
          "active": {
            "description": "Flag que indica si un comercio esta o no activo",
            "type": "boolean"
          },
          "commerceCode": {
            "description": "Identificador unico del comercio (MerchantId)",
            "type": "string"
          },
          "commerceLogo": {
            "description": "Logo asociado al comercio",
            "type": "string"
          },
          "currency": {
            "description": "Identificador de la moneda configurada para el comercio",
            "type": "string"
          },
          "email": {
            "description": "Correo electronico asociado al comercio",
            "type": "string"
          },
          "installments": {
            "description": "Flag que indica si el comercio puede operar con cuotas",
            "type": "boolean"
          },
          "mcc": {
            "description": "Merchant category code",
            "example": "1731",
            "type": "string"
          },
          "merchantGroupId": {
            "description": "Identificador del grupo al que pertenece el comercio",
            "example": "17",
            "type": "string"
          },
          "name": {
            "description": "Nombre del comercio",
            "example": "Comercio 17",
            "type": "string"
          },
          "payButtonEn": {
            "description": "Texto del boton de pago en Ingles",
            "type": "string"
          },
          "payButtonEs": {
            "description": "Texto del boton de pago en Espanol",
            "type": "string"
          },
          "phone": {
            "description": "Numero de telefono asociado al comercio",
            "type": "string"
          },
          "recurrencyEnabled": {
            "description": "Flag que indica si el comercio puede realizar transacciones recurrentes",
            "type": "boolean"
          },
          "ruc": {
            "description": "Registro unico de contribuyente",
            "example": "17319672356",
            "type": "string"
          },
          "showFirstNameLastNameEnabled": {
            "description": "Flag para comercio electronico que indica si se deben enviar el nombre y apellido del tarjethabiente",
            "type": "boolean"
          },
          "subscribeButtonEn": {
            "description": "Texto del boton de pago en Ingles para pago programado",
            "type": "string"
          },
          "subscribeButtonEs": {
            "description": "Texto del boton de pago en Espanol para pago programado",
            "type": "string"
          },
          "tokenizationEnabled": {
            "description": "Flag que indica si el comercio puede acceder a la boveda de tokenizacion",
            "type": "boolean"
          },
          "verifiedByVisaEnabled": {
            "description": "Flag que indica si el comercio participa de verified by visa",
            "type": "boolean"
          }
        },
        "required": [
          "active",
          "commerceCode",
          "commerceLogo",
          "currency",
          "email",
          "installments",
          "mcc",
          "merchantGroupId",
          "name",
          "payButtonEn",
          "payButtonEs",
          "phone",
          "recurrencyEnabled",
          "ruc",
          "showFirstNameLastNameEnabled",
          "subscribeButtonEn",
          "subscribeButtonEs",
          "tokenizationEnabled",
          "verifiedByVisaEnabled"
        ],
        "type": "object"
      },
      "Order": {
        "description": "Entidad que representa la informacion del pedido",
        "properties": {
          "actionCode": {
            "description": "Codigo de accion",
            "readOnly": true,
            "type": "string"
          },
          "actionDescription": {
            "description": "Descripcion del action code",
            "example": "Aprovado",
            "readOnly": true,
            "type": "string"
          },
          "amount": {
            "description": "Importe del pedido",
            "example": 1,
            "format": "double",
            "type": "number"
          },
          "authorizationCode": {
            "description": "Numero de la autorizacion",
            "type": "string"
          },
          "authorizedAmount": {
            "description": "Importe de la autorizacion",
            "format": "double",
            "readOnly": true,
            "type": "number"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "currency": {
            "description": "Moneda",
            "enum": [
              "PEN",
              "USD"
            ],
            "example": "PEN",
            "type": "string"
          },
          "externalTransactionId": {
            "description": "Identificador unico de la transaccion enviado por el comercio",
            "type": "string"
          },
          "installment": {
            "description": "Cuotas",
            "example": 1,
            "format": "int32",
            "type": "integer"
          },
          "originalAmount": {
            "description": "Monto original de la orden, cuando se utilizara un monto diferente para la transaccion",
            "format": "double",
            "type": "number"
          },
          "originalDateTime": {
            "description": "Fecha de la transaccion original a anular",
            "type": "string"
          },
          "originalTraceNumber": {
            "description": "Trace number de la transaccion original a anular",
            "example": "7683",
            "type": "string"
          },
          "originalTransactionId": {
            "description": "Identificador de la transaccion original",
            "example": "990172014359425",
            "type": "string"
          },
          "productId": {
            "description": "Id del producto para la orden",
            "example": "102",
            "type": "string"
          },
          "purchaseNumber": {
            "description": "Numero del pedido",
            "example": "1234567890",
            "type": "string"
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "status": {
            "description": "Resultado de la orden",
            "example": "Authorized",
            "readOnly": true,
            "type": "string"
          },
          "tokenId": {
            "description": "Id del token de transaccion para autorizacion en dos etapas",
            "example": "e29df880fb458dff08f16b891b21aa8b2b005e9028e59edcdb4320e1d98d91be",
            "type": "string"
          },
          "traceNumber": {
            "description": "Identificador unico de la transaccion generado en la autorizacion",
            "example": "00004",
            "readOnly": true,
            "type": "string"
          },
          "transactionDate": {
            "description": "Fecha de la transaccion",
            "example": "170720231016",
            "readOnly": true,
            "type": "string"
          },
          "transactionId": {
            "description": "Identificador de la transaccion",
            "example": "990172014359425",
            "readOnly": true,
            "type": "string"
          },
          "transactionToken": {
            "description": "Id del token de transaccion para autorizacion en dos etapas",
            "example": "e29df880fb458dff08f16b891b21aa8b2b005e9028e59edcdb4320e1d98d91be",
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency",
          "purchaseNumber"
        ],
        "type": "object"
      },
      "Recurrence": {
        "description": "Informacion para transacciones recurrentes",
        "properties": {
          "amount": {
            "description": "Importe del pago programado",
            "example": 1,
            "format": "double",
            "type": "number"
          },
          "beneficiaryFirstName": {
            "description": "Nombre del beneficiario",
            "type": "string"
          },
          "beneficiaryId": {
            "description": "Identificador del beneficiario",
            "type": "string"
          },
          "beneficiaryLastName": {
            "description": "Apellido del beneficiario",
            "type": "string"
          },
          "frequency": {
            "description": "Frecuencia de pago programado",
            "enum": [
              "annual",
              "biannual",
              "monthly",
              "quarterly"
            ],
            "example": "monthly",
            "type": "string"
          },
          "maxAmount": {
            "description": "Valor maximo a aplicar del pago programado",
            "example": 100,
            "format": "double",
            "type": "number"
          },
          "type": {
            "description": "Tipo de pago programado",
            "enum": [
              "fixed",
              "fixedinitial",
              "variable",
              "variableinitial"
            ],
            "example": "fixed",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Sequence": {
        "description": "Definicion de nueva secuencia",
        "properties": {
          "next": {
            "description": "Siguiente valor en secuencia",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "SessionToken": {
        "description": "Identificacion unica de la sesion",
        "properties": {
          "expirationTime": {
            "description": "Fecha de expiracion del token",
            "format": "int64",
            "type": "integer"
          },
          "sessionKey": {
            "description": "Identificador de la sesion",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SessionTokenRequest": {
        "description": "Request de creacion de sesion",
        "properties": {
          "amount": {
            "description": "Importe de la transaccion",
            "format": "double",
            "type": "number"
          },
          "antifraud": {
            "$ref": "#/components/schemas/Antifraud"
          },
          "channel": {
            "description": "Canal desde donde se origino la transaccion",
            "type": "string"
          },
          "dataMap": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Informacion adicional enviada por el comercio",
            "type": "object"
          },
          "maxAmountMandatory": {
            "type": "boolean"
          },
          "recurrenceMaxAmount": {
            "description": "Importe maximo para pago programado recurrente",
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "amount",
          "antifraud",
          "channel",
          "dataMap"
        ],
        "type": "object"
      },
      "Terms": {
        "description": "Terms, Conditions and Disclaimers",
        "properties": {
          "choiceText": {
            "description": "This text is to be displayed on the Equipment (not printed), showing the customers option of paying with their card currency or local currency",
            "type": "string"
          },
          "postDisclaimer": {
            "description": "The Disclaimer to be shown before Transaction is accept.",
            "type": "string"
          },
          "preDisclaimer": {
            "description": "The Disclaimer to be shown before Transaction is accept.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TokenListResponse": {
        "description": "Listado de tarjetas tokenizadas",
        "properties": {
          "cards": {
            "description": "Listado de tarjetas tokenizadas",
            "items": {
              "$ref": "#/components/schemas/CardToken"
            },
            "type": "array"
          },
          "responseCode": {
            "description": "Codigo de respuesta",
            "example": 0,
            "format": "int32",
            "type": "integer"
          },
          "responseMessage": {
            "description": "Mensaje de respuesta",
            "example": "0",
            "type": "string"
          }
        },
        "required": [
          "responseCode",
          "responseMessage"
        ],
        "type": "object"
      },
      "TokenResponse": {
        "description": "Respuesta a consulta de token",
        "properties": {
          "responseCode": {
            "description": "Codigo de respuesta",
            "example": 0,
            "format": "int32",
            "type": "integer"
          },
          "responseMessage": {
            "description": "Mensaje de respuesta",
            "example": "0",
            "type": "string"
          }
        },
        "required": [
          "responseCode",
          "responseMessage"
        ],
        "type": "object"
      },
      "TransactionToken": {
        "description": "Respuesta de creacion de token para autorizacion",
        "properties": {
          "dataMap": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Informacion adicional",
            "type": "object"
          },
          "expiration": {
            "description": "Fecha de expiracion del token de transaccion",
            "format": "int64",
            "type": "integer"
          },
          "mpi": {
            "description": "Indicador de participacion en mpi",
            "type": "boolean"
          },
          "redirectToVbV": {
            "description": "Indicador de participacion en verified by visa",
            "type": "boolean"
          },
          "tokenId": {
            "description": "Identificador unico de la transaccion",
            "type": "string"
          }
        },
        "required": [
          "expiration",
          "mpi",
          "redirectToVbV",
          "tokenId"
        ],
        "type": "object"
      },
      "TransactionTokenRequest": {
        "description": "Request de creacion de token para autorizacion",
        "properties": {
          "alias": {
            "$ref": "#/components/schemas/Alias"
          },
          "antifraud": {
            "description": "Informacion adicional para antifraude",
            "type": "string"
          },
          "callbackUrl": {
            "description": "URL de callback proporcionada por el cliente",
            "type": "string"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "channel": {
            "description": "Canal desde donde se origino la transaccion",
            "enum": [
              "mobile",
              "web",
              "mpos",
              "host",
              "pos",
              "kiosk",
              "callcenter",
              "recurrent"
            ],
            "example": "web",
            "type": "string"
          },
          "clientIp": {
            "description": "Ip del cliente que realiza la transaccion",
            "type": "string"
          },
          "currencyConversion": {
            "$ref": "#/components/schemas/CurrencyConversion"
          },
          "customer": {
            "$ref": "#/components/schemas/CardHolder"
          },
          "data": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Informacion adicional",
            "type": "object"
          },
          "merchantId": {
            "description": "Identificador unico del comercio",
            "type": "string"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          },
          "recurrence": {
            "$ref": "#/components/schemas/Recurrence"
          },
          "userBlockId": {
            "type": "string"
          }
        },
        "required": [
          "card",
          "channel",
          "clientIp",
          "merchantId",
          "order"
        ],
        "type": "object"
      },
      "VaultRequest": {
        "description": "Request para operar con la boveda de tokenizacion",
        "properties": {
          "attribute": {
            "description": "Atributo identificativo del objeto almacenado en la boveda",
            "example": "7000100000001373",
            "type": "string"
          },
          "block": {
            "description": "Identificador del bloque dentro de la boveda",
            "example": "info@quiputech.com",
            "type": "string"
          },
          "vault": {
            "description": "Identificador unico de la boveda de tokenizacion",
            "example": "508565935",
            "type": "string"
          }
        },
        "required": [
          "attribute",
          "block",
          "vault"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "accessToken": {
        "description": "Access token obtained from api.security",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "description": "Api to get client Ip",
      "name": "Api to get client Ip"
    },
    {
      "description": "Api which manage tokenized cards",
      "name": "Api to manage tokenized cards"
    },
    {
      "description": "Query in order to retrieve card bin additional information",
      "name": "Card Bin Additional Information"
    },
    {
      "description": "RESTful API to create a session token.",
      "name": "Create Session Token"
    },
    {
      "description": "Query the eligibility of a card to use DCC",
      "name": "Dynamic Currency Conversion"
    },
    {
      "description": "RESTful API to manage session time",
      "name": "Manage Session Time"
    },
    {
      "description": "RESTful API to get Merchant configuration.",
      "name": "Merchant Configuration"
    },
    {
      "description": "RESTful API to get a new sequence.",
      "name": "New Sequence Api"
    }
  ]
}