{
  "openapi": "3.0.3",
  "info": {
    "description": "Use your Android phone to send and receive SMS messages via a simple programmable API with end-to-end encryption.",
    "title": "httpSMS API Reference",
    "contact": {
      "name": "support@httpsms.com",
      "email": "support@httpsms.com"
    },
    "license": {
      "name": "AGPL-3.0",
      "url": "https://raw.githubusercontent.com/NdoleStudio/http-sms-manager/main/LICENSE"
    },
    "version": "1.0",
    "x-jentic-source-url": "https://raw.githubusercontent.com/NdoleStudio/httpsms/main/api/docs/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.httpsms.com/v1"
    }
  ],
  "paths": {
    "/billing/usage": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get the summary of sent and received messages for a user in the current month",
        "tags": [
          "Billing"
        ],
        "summary": "Get Billing Usage.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BillingUsageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/usage-history": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get billing usage records of sent and received messages for a user in the past. It will be sorted by timestamp in descending order.",
        "tags": [
          "Billing"
        ],
        "summary": "Get billing usage history.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BillingUsagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "minimum": 0,
            "description": "number of heartbeats to skip",
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "maximum": 100,
            "minimum": 1,
            "description": "number of heartbeats to return",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/bulk-messages": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Sends bulk SMS messages to multiple users based on our [CSV template](https://httpsms.com/templates/httpsms-bulk.csv) or our [Excel template](https://httpsms.com/templates/httpsms-bulk.xlsx).",
        "tags": [
          "BulkSMS"
        ],
        "summary": "Store bulk SMS file",
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NoContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "file",
                    "description": "The Excel or CSV file containing the messages to be sent."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/discord-integrations": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get the discord integrations of a user",
        "tags": [
          "DiscordIntegration"
        ],
        "summary": "Get discord integrations of a user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.DiscordsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "minimum": 0,
            "description": "number of discord integrations to skip",
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "filter discord integrations containing query",
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "maximum": 20,
            "minimum": 1,
            "description": "number of discord integrations to return",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Store a discord integration for the authenticated user",
        "tags": [
          "DiscordIntegration"
        ],
        "summary": "Store discord integration",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.DiscordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.DiscordStore"
              }
            }
          }
        }
      }
    },
    "/discord-integrations/{discordID}": {
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Update a discord integration for the currently authenticated user",
        "tags": [
          "DiscordIntegration"
        ],
        "summary": "Update a discord integration",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.DiscordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.DiscordUpdate"
              }
            }
          }
        },
        "parameters": [
          {
            "description": "ID of the discord integration",
            "name": "discordID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          }
        ]
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Delete a discord integration for a user",
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete discord integration",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NoContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "ID of the discord integration",
            "name": "discordID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          }
        ]
      }
    },
    "/discord/event": {
      "post": {
        "description": "Publish a discord event to the registered listeners",
        "tags": [
          "Discord"
        ],
        "summary": "Consume a discord event",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NoContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/heartbeats": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get the last time a phone number requested for outstanding messages. It will be sorted by timestamp in descending order.",
        "tags": [
          "Heartbeats"
        ],
        "summary": "Get heartbeats of an owner phone number",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.HeartbeatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "the owner's phone number",
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "+18005550199"
            }
          },
          {
            "minimum": 0,
            "description": "number of heartbeats to skip",
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "filter containing query",
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "maximum": 20,
            "minimum": 1,
            "description": "number of heartbeats to return",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Store the heartbeat to make notify that a phone number is still active",
        "tags": [
          "Heartbeats"
        ],
        "summary": "Register heartbeat of an owner phone number",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.HeartbeatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.HeartbeatStore"
              }
            }
          }
        }
      }
    },
    "/integration/3cx/messages": {
      "post": {
        "description": "Sends an SMS message from the 3CX platform",
        "tags": [
          "3CXIntegration"
        ],
        "summary": "Sends a 3CX SMS message",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NoContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/message-threads": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get list of contacts which a phone number has communicated with (threads). It will be sorted by timestamp in descending order.",
        "tags": [
          "MessageThreads"
        ],
        "summary": "Get message threads for a phone number",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.MessageThreadsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "owner phone number",
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "+18005550199"
            }
          },
          {
            "minimum": 0,
            "description": "number of messages to skip",
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "filter message threads containing query",
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "maximum": 20,
            "minimum": 1,
            "description": "number of messages to return",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/message-threads/{messageThreadID}": {
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Updates the details of a message thread",
        "tags": [
          "MessageThreads"
        ],
        "summary": "Update a message thread",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.PhoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.MessageThreadUpdate"
              }
            }
          }
        },
        "parameters": [
          {
            "description": "ID of the message thread",
            "name": "messageThreadID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          }
        ]
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Delete a message thread from the database and also deletes all the messages in the thread.",
        "tags": [
          "MessageThreads"
        ],
        "summary": "Delete a message thread from the database.",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NoContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "ID of the message thread",
            "name": "messageThreadID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          }
        ]
      }
    },
    "/messages": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get list of messages which are sent between 2 phone numbers. It will be sorted by timestamp in descending order.",
        "tags": [
          "Messages"
        ],
        "summary": "Get messages which are sent between 2 phone numbers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.MessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "the owner's phone number",
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "+18005550199"
            }
          },
          {
            "description": "the contact's phone number",
            "name": "contact",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "+18005550100"
            }
          },
          {
            "minimum": 0,
            "description": "number of messages to skip",
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "filter messages containing query",
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "maximum": 20,
            "minimum": 1,
            "description": "number of messages to return",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/messages/bulk-send": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Add bulk SMS messages to be sent by the android phone",
        "tags": [
          "Messages"
        ],
        "summary": "Send bulk SMS messages",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/responses.MessagesResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.MessageBulkSend"
              }
            }
          }
        }
      }
    },
    "/messages/calls/missed": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "This endpoint is called by the httpSMS android app to register a missed call event on the mobile phone.",
        "tags": [
          "Messages"
        ],
        "summary": "Register a missed call event on the mobile phone",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.MessageCallMissed"
              }
            }
          }
        }
      }
    },
    "/messages/outstanding": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get an outstanding message to be sent by an android phone",
        "tags": [
          "Messages"
        ],
        "summary": "Get an outstanding message",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "The ID of the message",
            "name": "message_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703cb"
            }
          }
        ]
      }
    },
    "/messages/receive": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Add a new message received from a mobile phone",
        "tags": [
          "Messages"
        ],
        "summary": "Receive a new SMS message from a mobile phone",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.MessageReceive"
              }
            }
          }
        }
      }
    },
    "/messages/search": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "This returns the list of all messages based on the filter criteria including missed calls",
        "tags": [
          "Messages"
        ],
        "summary": "Search all messages of a user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.MessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "Cloudflare turnstile token https://www.cloudflare.com/en-gb/application-services/products/turnstile/",
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the owner's phone numbers",
            "name": "owners",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "+18005550199,+18005550100"
            }
          },
          {
            "minimum": 0,
            "description": "number of messages to skip",
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "filter messages containing query",
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "maximum": 200,
            "minimum": 1,
            "description": "number of messages to return",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/messages/send": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Add a new SMS message to be sent by your Android phone",
        "tags": [
          "Messages"
        ],
        "summary": "Send an SMS message",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.MessageSend"
              }
            }
          }
        }
      }
    },
    "/messages/{messageID}": {
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Delete a message from the database and removes the message content from the list of threads.",
        "tags": [
          "Messages"
        ],
        "summary": "Delete a message from the database.",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NoContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "ID of the message",
            "name": "messageID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          }
        ]
      }
    },
    "/messages/{messageID}/events": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Use this endpoint to send events for a message when it is failed, sent or delivered by the mobile phone.",
        "tags": [
          "Messages"
        ],
        "summary": "Upsert an event for a message on the mobile phone",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.MessageEvent"
              }
            }
          }
        },
        "parameters": [
          {
            "description": "ID of the message",
            "name": "messageID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          }
        ]
      }
    },
    "/phone-api-keys": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get list phone API keys which a user has registered on the httpSMS application",
        "tags": [
          "PhoneAPIKeys"
        ],
        "summary": "Get the phone API keys of a user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.PhoneAPIKeysResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "minimum": 0,
            "description": "number of phone api keys to skip",
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "filter phone api keys with name containing query",
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "maximum": 100,
            "minimum": 1,
            "description": "number of phone api keys to return",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Creates a new phone API key which can be used to log in to the httpSMS app on your Android phone",
        "tags": [
          "PhoneAPIKeys"
        ],
        "summary": "Store phone API key",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.PhoneAPIKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.PhoneAPIKeyStoreRequest"
              }
            }
          }
        }
      }
    },
    "/phone-api-keys/{phoneAPIKeyID}": {
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Delete a phone API Key from the database and cannot be used for authentication anymore.",
        "tags": [
          "PhoneAPIKeys"
        ],
        "summary": "Delete a phone API key from the database.",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NoContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "ID of the phone API key",
            "name": "phoneAPIKeyID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          }
        ]
      }
    },
    "/phone-api-keys/{phoneAPIKeyID}/phones/{phoneID}": {
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "You will need to login again to the httpSMS app on your Android phone with a new phone API key.",
        "tags": [
          "PhoneAPIKeys"
        ],
        "summary": "Remove the association of a phone from the phone API key.",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NoContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NotFound"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "ID of the phone API key",
            "name": "phoneAPIKeyID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          },
          {
            "description": "ID of the phone",
            "name": "phoneID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          }
        ]
      }
    },
    "/phones": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get list of phones which a user has registered on the http sms application",
        "tags": [
          "Phones"
        ],
        "summary": "Get phones of a user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.PhonesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "minimum": 0,
            "description": "number of heartbeats to skip",
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "filter phones containing query",
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "maximum": 20,
            "minimum": 1,
            "description": "number of phones to return",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Updates properties of a user's phone. If the phone with this number does not exist, a new one will be created. Think of this method like an 'upsert'",
        "tags": [
          "Phones"
        ],
        "summary": "Upsert Phone",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.PhoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.PhoneUpsert"
              }
            }
          }
        }
      }
    },
    "/phones/fcm-token": {
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Updates the FCM token of a phone. If the phone with this number does not exist, a new one will be created. Think of this method like an 'upsert'",
        "tags": [
          "Phones"
        ],
        "summary": "Upserts the FCM token of a phone",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.PhoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.PhoneFCMToken"
              }
            }
          }
        }
      }
    },
    "/phones/{phoneID}": {
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Delete a phone that has been sored in the database",
        "tags": [
          "Phones"
        ],
        "summary": "Delete Phone",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NoContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "ID of the phone",
            "name": "phoneID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          }
        ]
      }
    },
    "/users/me": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get details of the currently authenticated user",
        "tags": [
          "Users"
        ],
        "summary": "Get current user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Updates the details of the currently authenticated user",
        "tags": [
          "Users"
        ],
        "summary": "Update a user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.PhoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.UserUpdate"
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Deletes the currently authenticated user together with all their data.",
        "tags": [
          "Users"
        ],
        "summary": "Delete a user",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NoContent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/users/subscription": {
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Cancel the subscription of the authenticated user.",
        "tags": [
          "Users"
        ],
        "summary": "Cancel the user's subscription",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NoContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/users/subscription-update-url": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Fetches the subscription URL of the authenticated user.",
        "tags": [
          "Users"
        ],
        "summary": "Currently authenticated user subscription update URL",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.OkString"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/users/subscription/invoices/{subscriptionInvoiceID}": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Generates a new invoice PDF file for the given subscription payment with given parameters.",
        "tags": [
          "Users"
        ],
        "summary": "Generate a subscription payment invoice",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "file"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.UserPaymentInvoice"
              }
            }
          }
        }
      }
    },
    "/users/subscription/payments": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Subscription payments are generated throughout the lifecycle of a subscription, typically there is one at the time of purchase and then one for each renewal.",
        "tags": [
          "Users"
        ],
        "summary": "Get the last 10 subscription payments.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UserSubscriptionPaymentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userID}/api-keys": {
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Rotate the user's API key in case the current API Key is compromised",
        "tags": [
          "Users"
        ],
        "summary": "Rotate the user's API Key",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "ID of the user to update",
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          }
        ]
      }
    },
    "/users/{userID}/notifications": {
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Update the email notification settings for a user",
        "tags": [
          "Users"
        ],
        "summary": "Update notification settings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.UserNotificationUpdate"
              }
            }
          }
        },
        "parameters": [
          {
            "description": "ID of the user to update",
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          }
        ]
      }
    },
    "/webhooks": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get the webhooks of a user",
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhooks of a user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.WebhooksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "minimum": 0,
            "description": "number of webhooks to skip",
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "filter webhooks containing query",
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "maximum": 20,
            "minimum": 1,
            "description": "number of webhooks to return",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Store a webhook for the authenticated user",
        "tags": [
          "Webhooks"
        ],
        "summary": "Store a webhook",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.WebhookStore"
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookID}": {
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Update a webhook for the currently authenticated user",
        "tags": [
          "Webhooks"
        ],
        "summary": "Update a webhook",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requests.WebhookUpdate"
              }
            }
          }
        },
        "parameters": [
          {
            "description": "ID of the webhook",
            "name": "webhookID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          }
        ]
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Delete a webhook for a user",
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.NoContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.Unauthorized"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.UnprocessableEntity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responses.InternalServerError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "description": "ID of the webhook",
            "name": "webhookID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "32343a19-da5e-4b1b-a767-3298a73703ca"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "entities.BillingUsage": {
        "type": "object",
        "required": [
          "created_at",
          "end_timestamp",
          "id",
          "received_messages",
          "sent_messages",
          "start_timestamp",
          "total_cost",
          "updated_at",
          "user_id"
        ],
        "properties": {
          "created_at": {
[...]
