{
  "openapi": "3.0.3",
  "info": {
    "title": "HIPAAtizer API",
    "description": "The HIPAAtizer API provides tools for integrating HIPAA-compliant workflows into your applications. With this API, you can retrieve form submission data, manage appointments, and automate processes.",
    "version": "v1",
    "x-jentic-source-url": "https://github.com/HIPAAtizer/api-docs"
  },
  "servers": [
    {
      "url": "https://app.hipaatizer.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/api_key/appointments/search": {
      "post": {
        "summary": "Search Appointment",
        "description": "Allows you to search for appointments based on filters such as location, service, or date range. Returns a paginated list of matching appointments.",
        "operationId": "searchappointment",
        "tags": [
          "Appointments"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v1/api_key/appointments/calendar": {
      "post": {
        "summary": "List Appointment Calendar",
        "description": "Fetches the calendar view of appointments for a specific month and year across selected locations.",
        "operationId": "listappointmentcalendar",
        "tags": [
          "Appointments"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v1/api_key/appointments/count_future": {
      "post": {
        "summary": "Count Future Appointments",
        "description": "Retrieves the count of future appointments at specified locations.",
        "operationId": "countfutureappointments",
        "tags": [
          "Appointments"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v1/api_key/appointments/{appointmentId}/remind": {
      "post": {
        "summary": "Send Reminder",
        "description": "Sends a reminder to the client about a specific appointment. Requires the appointment ID.",
        "operationId": "sendreminder",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "required": true,
            "description": "(Required) Id of appointment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      }
    },
    "/api/v1/api_key/appointments/{appointmentId}/related_submission_pdf": {
      "get": {
        "summary": "Download Appointment Related Submission Pdf",
        "description": "Downloads a PDF of the form submission related to a specific appointment.",
        "operationId": "downloadappointmentrelatedsubmissionpdf",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "required": true,
            "description": "(Required) Id of appointment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "useGroupedSubmissionIfExists",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      }
    },
    "/api/v1/api_key/appointments/{appointmentId}": {
      "get": {
        "summary": "Get Appointment",
        "description": "Get Appointment",
        "operationId": "getappointment",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "required": true,
            "description": "(Required) Id of appointment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      },
      "put": {
        "summary": "Update Appointment",
        "description": "Update Appointment",
        "operationId": "updateappointment",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "required": true,
            "description": "(Required) Id of appointment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      },
      "delete": {
        "summary": "Delete Appointment",
        "description": "Delete Appointment",
        "operationId": "deleteappointment",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "required": true,
            "description": "(Required) Id of appointment",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      }
    },
    "/api/v1/api_key/locations/all": {
      "get": {
        "summary": "List All Locations",
        "description": "List All Locations",
        "operationId": "listalllocations",
        "tags": [
          "Locations"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      }
    },
    "/api/v1/api_key/services/all": {
      "get": {
        "summary": "List All Services",
        "description": "List All Services",
        "operationId": "listallservices",
        "tags": [
          "Services"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      }
    },
    "/api/v1/api_key/submissions/search": {
      "post": {
        "summary": "Search Submission",
        "description": "Search Submission",
        "operationId": "searchsubmission",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "query",
            "required": false,
            "description": "(Required) Id of workflow",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v1/api_key/submissions/{submissionId}/pdf": {
      "get": {
        "summary": "Download Submission Pdf",
        "description": "Download Submission Pdf",
        "operationId": "downloadsubmissionpdf",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "(Required) Id of submission",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fileOrder",
            "in": "query",
            "required": false,
            "description": "File order for download. Applicable only to forms created from multiple PDFs.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      }
    },
    "/api/v1/api_key/submissions/{submissionId}/logs": {
      "get": {
        "summary": "Download Submission Log",
        "description": "Download Submission Log",
        "operationId": "downloadsubmissionlog",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "(Required) Id of submission",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      }
    },
    "/api/v1/api_key/submissions/{submissionId}/attachments": {
      "get": {
        "summary": "Download Submission Attachments",
        "description": "Download Submission Attachments",
        "operationId": "downloadsubmissionattachments",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "(Required) Id of submission",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      }
    },
    "/api/v1/api_key/submissions/{submissionId}/csv": {
      "get": {
        "summary": "Download Submission Csv",
        "description": "Download Submission Csv",
        "operationId": "downloadsubmissioncsv",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "(Required) Id of submission",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      }
    },
    "/api/v1/api_key/submissions/{submissionId}/confirm_upload": {
      "post": {
        "summary": "Mark Submission as Received",
        "description": "Mark Submission as Received",
        "operationId": "marksubmissionasreceived",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "(Required) Id of submission",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      }
    },
    "/api/v1/api_key/submissions/{submissionId}": {
      "get": {
        "summary": "Get Submission By Id",
        "description": "Get Submission By Id",
        "operationId": "getsubmissionbyid",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "(Required) Id of submission",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      },
      "delete": {
        "summary": "Delete Submission By Id",
        "description": "Delete Submission By Id",
        "operationId": "deletesubmissionbyid",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "submissionId",
            "in": "path",
            "required": true,
            "description": "(Required) Id of submission",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        }
      }
    },
    "/api/v1/api_key/submissions/unconfirmed_list": {
      "post": {
        "summary": "List New Submissions",
        "description": "List New Submissions",
        "operationId": "listnewsubmissions",
        "tags": [
          "Submissions"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v1/api_key/workers/all": {
      "post": {
        "summary": "List All Workers",
        "description": "List All Workers",
        "operationId": "listallworkers",
        "tags": [
          "Workers"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - IP address not whitelisted"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "API key for authentication. Generate from your HIPAAtizer account's Integrations menu."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Appointments",
      "description": "Manage appointments and scheduling"
    },
    {
      "name": "Submissions",
      "description": "Manage form submissions and data"
    },
    {
      "name": "Locations",
      "description": "Manage location information"
    },
    {
      "name": "Services",
      "description": "Manage service offerings"
    },
    {
      "name": "Workers",
      "description": "Manage worker information"
    }
  ]
}