{
  "swagger": "2.0",
  "info": {
    "version": "0.0.1",
    "title": "Authenticate",
    "description": "Authenticate service allows users to login using their credentials",
    "termsOfService": "http://onskyline.io/terms/",
    "contact": {
      "name": "Skyline API Team",
      "email": "bobby@onskyline.com",
      "url": "http://onskyline.io"
    },
    "license": {
      "name": "Skyline",
      "url": "https://onskyline.com/licenses/skyline"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/siegmergius/authenticate/0.0.1/swagger.json"
  },
  "host": "onskyline.io",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/authenticate/openid": {
      "post": {
        "description": "Creates a new user",
        "operationId": "authenticateUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "User",
            "in": "body",
            "description": "username and password for a particular user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User created confirmation",
            "schema": {
              "$ref": "#/definitions/response"
            }
          },
          "400": {
            "description": "Client Error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "tags": [
          "authenticate"
        ]
      },
      "delete": {
        "description": "Deletes a single Authentication based on the token",
        "operationId": "deleteAuthentication",
        "parameters": [
          {
            "name": "User",
            "in": "body",
            "description": "username and password for a particular user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User Deleted",
            "schema": {
              "$ref": "#/definitions/response"
            }
          },
          "400": {
            "description": "Client Error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "tags": [
          "authenticate"
        ]
      }
    }
  },
  "definitions": {
    "request": {
      "type": "object",
      "required": [
        "userId",
        "password"
      ],
      "properties": {
        "userId": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "response": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/metadata"
        },
        "result": {
          "$ref": "#/definitions/result"
        }
      }
    },
    "result": {
      "type": "object",
      "required": [
        "accessToken"
      ],
      "properties": {
        "accessToken": {
          "type": "string"
        }
      }
    },
    "metadata": {
      "type": "object",
      "properties": {
        "paging": {
          "$ref": "#/definitions/paging"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/error"
          }
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/warning"
          }
        }
      }
    },
    "errorResponse": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/errorMetadata"
        }
      }
    },
    "errorMetadata": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/error"
          }
        }
      }
    },
    "error": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "warning": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "paging": {
      "type": "object",
      "required": [
        "offset",
        "count",
        "limit"
      ],
      "properties": {
        "offset": {
          "type": "integer",
          "format": "int64"
        },
        "count": {
          "type": "integer",
          "format": "int64"
        },
        "limit": {
          "type": "integer",
          "format": "int64"
        }
      }
    }
  },
  "tags": [
    {
      "name": "authenticate"
    }
  ]
}
