{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "The world's greatest SMS API",
    "title": "www.zoomconnect.com",
    "version": "1",
    "x-apisguru-categories": [
      "messaging",
      "marketing"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/zoomconnect.com/1/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_zoomconnect.com_assets_logo.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "swagger",
        "url": "https://www.zoomconnect.com/zoom/api-docs",
        "version": "1.2"
      }
    ],
    "x-providerName": "zoomconnect.com",
    "x-tags": [
      "SMS",
      "bulk SMS"
    ]
  },
  "servers": [
    {
      "url": "https://www.zoomconnect.com/app"
    }
  ],
  "paths": {
    "/api/rest/v1/account/balance": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceAccount"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceAccount"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "deprecated": false,
        "description": "Returns your account's credit balance",
        "operationId": "getBalance",
        "summary": "balance"
      }
    },
    "/api/rest/v1/account/statistics": {
      "get": {
        "parameters": [
          {
            "description": "date format: dd-MM-yyyy",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "date format: dd-MM-yyyy",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "optional email address of user to return statistics for a single user, default is to return statistics for all users if administrator, or statistics for your own account if not an administrator",
            "in": "query",
            "name": "userEmailAddress",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "optional campaign name",
            "in": "query",
            "name": "campaign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "optionally include refunded and optout counts, default is false",
            "in": "query",
            "name": "includeRefundedAndOptout",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "optionally calculate using credit value rather than message count, default is false",
            "in": "query",
            "name": "calculateCreditValue",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceAccountStatistics"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceAccountStatistics"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "deprecated": false,
        "description": "Returns data from the statistics report. Note that by default the statistics shown are based on the number of messages, use the calculateCreditValue should you wish to calculate the statistics based on credit value.",
        "operationId": "getStatistics",
        "summary": "statistics"
      }
    },
    "/api/rest/v1/account/transfer": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceUser"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceUser"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "deprecated": false,
        "description": "Transfers credits between two users in the same team. The <i>account email address</i> fields as well as the <i>number of credits to transfer</i> are required. ",
        "operationId": "transfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceTransferCreditsRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceTransferCreditsRequest"
              }
            }
          },
          "description": "request"
        },
        "summary": "transfer"
      }
    },
    "/api/rest/v1/account/user": {
      "get": {
        "parameters": [
          {
            "description": "search by email address",
            "in": "query",
            "name": "searchEmail",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceUsers"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceUsers"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "deprecated": false,
        "description": "Find a user for a particular email address",
        "operationId": "search",
        "summary": "search"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceUser"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceUser"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "deprecated": false,
        "description": "Creates a new sub-account in your team. The following fields are required <i>firstname, lastname, email address, contact number</i> and <i>password.</i>",
        "operationId": "put-api-rest-v1-account-user",
        "requestBody": {
          "$ref": "#/components/requestBodies/WebServiceUser"
        },
        "summary": "create"
      }
    },
    "/api/rest/v1/account/user/{userId}": {
      "get": {
        "parameters": [
          {
            "description": "userId",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceUser"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceUser"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "deprecated": false,
        "description": "Gets a user from a given user id",
        "operationId": "getUser",
        "summary": "getUser"
      },
      "post": {
        "parameters": [
          {
            "description": "userId",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceUser"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceUser"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account"
        ],
        "deprecated": false,
        "description": "Updates a sub-account in your team. The following fields can be updated <i>firstname, lastname, contact number</i> and <i>password.</i>",
        "operationId": "post-api-rest-v1-account-user-by-userid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceUser"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceUser"
              }
            }
          },
          "description": "request"
        },
        "summary": "update"
      }
    },
    "/api/rest/v1/contacts/all": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceContacts"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceContacts"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contacts"
        ],
        "deprecated": false,
        "description": "Returns all contacts",
        "operationId": "get-api-rest-v1-contacts-all",
        "summary": "all"
      }
    },
    "/api/rest/v1/contacts/create": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceContact"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceContact"
                }
              }
            },
            "description": "No response was specified"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceContact"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceContact"
                }
              }
            },
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contacts"
        ],
        "deprecated": false,
        "description": "Creates a  contact",
        "operationId": "post-api-rest-v1-contacts-create",
        "requestBody": {
          "$ref": "#/components/requestBodies/WebServiceContact"
        },
        "summary": "create"
      }
    },
    "/api/rest/v1/contacts/{contactId}": {
      "delete": {
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "contacts"
        ],
        "deprecated": false,
        "description": "Deletes a  contact",
        "operationId": "delete-api-rest-v1-contacts-by-contactid",
        "summary": "delete"
      },
      "get": {
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceContact"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceContact"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contacts"
        ],
        "deprecated": false,
        "description": "Returns details for a single contact",
        "operationId": "get-api-rest-v1-contacts-by-contactid",
        "summary": "get"
      },
      "post": {
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceContact"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceContact"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contacts"
        ],
        "deprecated": false,
        "description": "Updates a  contact",
        "operationId": "post-api-rest-v1-contacts-by-contactid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceContact"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceContact"
              }
            }
          },
          "description": "webServiceContact"
        },
        "summary": "update"
      }
    },
    "/api/rest/v1/contacts/{contactId}/addFromGroup/{groupId}": {
      "get": {
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contacts"
        ],
        "deprecated": false,
        "description": "Remove a contact from a group",
        "operationId": "get-api-rest-v1-contacts-by-contactid-addfromgroup-by-groupid",
        "summary": "removeFromGroup"
      },
      "post": {
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contacts"
        ],
        "deprecated": false,
        "description": "Remove a contact from a group",
        "operationId": "post-api-rest-v1-contacts-by-contactid-addfromgroup-by-groupid",
        "summary": "removeFromGroup"
      }
    },
    "/api/rest/v1/contacts/{contactId}/addToGroup/{groupId}": {
      "get": {
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contacts"
        ],
        "deprecated": false,
        "description": "Add a contact to a group",
        "operationId": "get-api-rest-v1-contacts-by-contactid-addtogroup-by-groupid",
        "summary": "addToGroup"
      },
      "post": {
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contacts"
        ],
        "deprecated": false,
        "description": "Add a contact to a group",
        "operationId": "post-api-rest-v1-contacts-by-contactid-addtogroup-by-groupid",
        "summary": "addToGroup"
      }
    },
    "/api/rest/v1/groups/all": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceGroups"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceGroups"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "groups"
        ],
        "deprecated": false,
        "description": "Returns all groups",
        "operationId": "get-api-rest-v1-groups-all",
        "summary": "all"
      }
    },
    "/api/rest/v1/groups/create": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceGroup"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceGroup"
                }
              }
            },
            "description": "No response was specified"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceGroup"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceGroup"
                }
              }
            },
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "groups"
        ],
        "deprecated": false,
        "description": "Create a  group",
        "operationId": "post-api-rest-v1-groups-create",
        "requestBody": {
          "$ref": "#/components/requestBodies/WebServiceGroup"
        },
        "summary": "create"
      }
    },
    "/api/rest/v1/groups/{groupId}": {
      "delete": {
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "groups"
        ],
        "deprecated": false,
        "description": "Deletes a  group",
        "operationId": "delete-api-rest-v1-groups-by-groupid",
        "summary": "delete"
      },
      "get": {
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceGroup"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceGroup"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "groups"
        ],
        "deprecated": false,
        "description": "Returns details for a single group",
        "operationId": "get-api-rest-v1-groups-by-groupid",
        "summary": "get"
      },
      "post": {
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceGroup"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceGroup"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "groups"
        ],
        "deprecated": false,
        "description": "Update a  group",
        "operationId": "post-api-rest-v1-groups-by-groupid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceGroup"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceGroup"
              }
            }
          },
          "description": "webServiceGroup"
        },
        "summary": "update"
      }
    },
    "/api/rest/v1/groups/{groupId}/addContact/{contactId}": {
      "get": {
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "groups"
        ],
        "deprecated": false,
        "description": "Add a contact to a group",
        "operationId": "get-api-rest-v1-groups-by-groupid-addcontact-by-contactid",
        "summary": "addContact"
      },
      "post": {
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "groups"
        ],
        "deprecated": false,
        "description": "Add a contact to a group",
        "operationId": "post-api-rest-v1-groups-by-groupid-addcontact-by-contactid",
        "summary": "addContact"
      }
    },
    "/api/rest/v1/groups/{groupId}/removeContact/{contactId}": {
      "get": {
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "groups"
        ],
        "deprecated": false,
        "description": "Remove a contact from a group",
        "operationId": "get-api-rest-v1-groups-by-groupid-removecontact-by-contactid",
        "summary": "removeContact"
      },
      "post": {
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "groups"
        ],
        "deprecated": false,
        "description": "Remove a contact from a group",
        "operationId": "post-api-rest-v1-groups-by-groupid-removecontact-by-contactid",
        "summary": "removeContact"
      }
    },
    "/api/rest/v1/messages/all": {
      "get": {
        "parameters": [
          {
            "description": "number of elements to return at a time",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 100,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "page number",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "filter by message type",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "enum": [
                "OUTBOUND",
                "INBOUND"
              ],
              "type": "string"
            }
          },
          {
            "description": "filter by message status",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "enum": [
                "SCHEDULED",
                "UNKNOWN",
                "SENT",
                "FAILED",
                "FAILED_REFUNDED",
                "FAILED_OPTOUT",
                "DELIVERED"
              ],
              "type": "string"
            }
          },
          {
            "description": "date format: yyyyMMdd",
            "in": "query",
            "name": "fromDateTimeSent",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "date format: yyyyMMdd",
            "in": "query",
            "name": "toDateTimeSent",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "date format: yyyyMMdd",
            "in": "query",
            "name": "fromDateTimeReceived",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "date format: yyyyMMdd",
            "in": "query",
            "name": "toDateTimeReceived",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "phone number the message was sent from",
            "in": "query",
            "name": "fromNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "phone number the message was sent to",
            "in": "query",
            "name": "toNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "search matching message text",
            "in": "query",
            "name": "message",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "search by campaign",
            "in": "query",
            "name": "campaign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "search by data field",
            "in": "query",
            "name": "dataField",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "return only deleted / not deleted messages",
            "in": "query",
            "name": "deleted",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "return only read / unread messages (inbox messages only)",
            "in": "query",
            "name": "read",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "return only inbox messages which are a reply to the message with the given message id",
            "in": "query",
            "name": "repliesToMessageId",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceMessages"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceMessages"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "messages"
        ],
        "deprecated": false,
        "description": "Returns all messages",
        "operationId": "get-api-rest-v1-messages-all",
        "summary": "all"
      }
    },
    "/api/rest/v1/messages/analyse/full": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceAnalyseMessageResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceAnalyseMessageResponse"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "messages"
        ],
        "deprecated": false,
        "description": "Returns full analysis of message",
        "operationId": "analyse-full",
        "requestBody": {
          "$ref": "#/components/requestBodies/WebServiceAnalyseMessageRequestMessageAndRecipientNumber"
        },
        "summary": "analyse-full"
      }
    },
    "/api/rest/v1/messages/analyse/message-credit-cost": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "double",
                  "type": "number"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "double",
                  "type": "number"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "messages"
        ],
        "deprecated": false,
        "description": "Returns the number of credit which would be required to send the request message to the requested recipient number",
        "operationId": "analyse-message-credit-cost",
        "requestBody": {
          "$ref": "#/components/requestBodies/WebServiceAnalyseMessageRequestMessageAndRecipientNumber"
        },
        "summary": "analyse-message-credit-cost"
      }
    },
    "/api/rest/v1/messages/analyse/message-encoding": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "messages"
        ],
        "deprecated": false,
        "description": "Returns the message encoding that would be required to send the requested message",
        "operationId": "analyse-message-encoding",
        "requestBody": {
          "$ref": "#/components/requestBodies/WebServiceAnalyseMessageRequestMessageOnly"
        },
        "summary": "analyse-message-encoding"
      }
    },
    "/api/rest/v1/messages/analyse/message-length": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "messages"
        ],
        "deprecated": false,
        "description": "Returns the number of characters the requested message consists of",
        "operationId": "analyse-message-length",
        "requestBody": {
          "$ref": "#/components/requestBodies/WebServiceAnalyseMessageRequestMessageOnly"
        },
        "summary": "analyse-message-length"
      }
    },
    "/api/rest/v1/messages/analyse/message-length-within-max-allowed": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "boolean"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "messages"
        ],
        "deprecated": false,
        "description": "Returns details for a single message",
        "operationId": "analyse-",
        "requestBody": {
          "$ref": "#/components/requestBodies/WebServiceAnalyseMessageRequestMessageOnly"
        },
        "summary": "analyse-"
      }
    },
    "/api/rest/v1/messages/analyse/number-of-messages": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "messages"
        ],
        "deprecated": false,
        "description": "Returns the number of SMS parts which would be sent when sending the requested message",
        "operationId": "analyse-number-of-messages",
        "requestBody": {
          "$ref": "#/components/requestBodies/WebServiceAnalyseMessageRequestMessageOnly"
        },
        "summary": "analyse-number-of-messages"
      }
    },
    "/api/rest/v1/messages/{messageId}": {
      "delete": {
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "messages"
        ],
        "deprecated": false,
        "description": "Deletes a  message",
        "operationId": "delete-api-rest-v1-messages-by-messageid",
        "summary": "delete"
      },
      "get": {
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceMessage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceMessage"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "messages"
        ],
        "deprecated": false,
        "description": "Returns details for a single message",
        "operationId": "get-api-rest-v1-messages-by-messageid",
        "summary": "get"
      }
    },
    "/api/rest/v1/messages/{messageId}/markRead": {
      "post": {
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceMessage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceMessage"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "messages"
        ],
        "deprecated": false,
        "description": "Marks a  message as read",
        "operationId": "post-api-rest-v1-messages-by-messageid-markread",
        "summary": "markRead"
      },
      "put": {
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceMessage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceMessage"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "messages"
        ],
        "deprecated": false,
        "description": "Marks a  message as read",
        "operationId": "put-api-rest-v1-messages-by-messageid-markread",
        "summary": "markRead"
      }
    },
    "/api/rest/v1/messages/{messageId}/markUnread": {
      "post": {
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceMessage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceMessage"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "messages"
        ],
        "deprecated": false,
        "description": "Marks a  message as unread",
        "operationId": "post-api-rest-v1-messages-by-messageid-markunread",
        "summary": "markUnread"
      },
      "put": {
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceMessage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceMessage"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "messages"
        ],
        "deprecated": false,
        "description": "Marks a  message as unread",
        "operationId": "put-api-rest-v1-messages-by-messageid-markunread",
        "summary": "markUnread"
      }
    },
    "/api/rest/v1/sms/send": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceSendSmsRequest"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceSendSmsRequest"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "sms"
        ],
        "deprecated": false,
        "description": "Returns an example of the data to POST to send a single message.",
        "operationId": "get-api-rest-v1-sms-send",
        "summary": "send"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceSendSmsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceSendSmsResponse"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestErrorDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/RestErrorDTO"
                }
              }
            },
            "description": "Validation error</br></br>Code and message:<ul><li>2 - Invalid mobile number</li><li>3 - Message cannot be empty</li></ul>"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "sms"
        ],
        "deprecated": false,
        "description": "Sends a single message. The <i>recipientNumber</i> and <i>message</i> fields are required. All other fields are optional.",
        "operationId": "post-api-rest-v1-sms-send",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceSendSmsRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceSendSmsRequest"
              }
            }
          },
          "description": "request"
        },
        "summary": "send"
      }
    },
    "/api/rest/v1/sms/send-bulk": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceSendSmsRequests"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceSendSmsRequests"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "sms"
        ],
        "deprecated": false,
        "description": "Returns an example of the data to POST to send multiple messages in one transaction.",
        "operationId": "get-api-rest-v1-sms-send-bulk",
        "summary": "send-bulk"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceSendSmsResponses"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceSendSmsResponses"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "sms"
        ],
        "deprecated": false,
        "description": "Send multiple messages in one transaction.",
        "operationId": "post-api-rest-v1-sms-send-bulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceSendSmsRequests"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceSendSmsRequests"
              }
            }
          },
          "description": "requests"
        },
        "summary": "send-bulk"
      }
    },
    "/api/rest/v1/sms/send-url-parameters": {
      "get": {
        "parameters": [
          {
            "description": "the phone number of the recipient to send to",
            "in": "query",
            "name": "recipientNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the message to send",
            "in": "query",
            "name": "message",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "date format: yyyyMMddHHmm",
            "in": "query",
            "name": "dateToSend",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "optional campaign name",
            "in": "query",
            "name": "campaign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "optional extra data",
            "in": "query",
            "name": "dataField",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "sms"
        ],
        "deprecated": false,
        "description": "Send a single message using URL parameters.The <i>recipientNumber</i> and <i>message</i> parameters are required. All other parameters are optional.",
        "operationId": "get-api-rest-v1-sms-send-url-parameters",
        "summary": "send-url-parameters"
      },
      "post": {
        "parameters": [
          {
            "description": "the phone number of the recipient to send to",
            "in": "query",
            "name": "recipientNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the message to send",
            "in": "query",
            "name": "message",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "date format: yyyyMMddHHmm",
            "in": "query",
            "name": "dateToSend",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "optional campaign name",
            "in": "query",
            "name": "campaign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "optional extra data",
            "in": "query",
            "name": "dataField",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "sms"
        ],
        "deprecated": false,
        "description": "Send a single message using URL parameters.The <i>recipientNumber</i> and <i>message</i> parameters are required. All other parameters are optional.",
        "operationId": "post-api-rest-v1-sms-send-url-parameters",
        "summary": "send-url-parameters"
      }
    },
    "/api/rest/v1/sms/send-url/{token}": {
      "get": {
        "parameters": [
          {
            "description": "token",
            "in": "path",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the phone number of the recipient to send to",
            "in": "query",
            "name": "recipientNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the message to send",
            "in": "query",
            "name": "message",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "date format: yyyyMMddHHmm",
            "in": "query",
            "name": "dateToSend",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "optional campaign name",
            "in": "query",
            "name": "campaign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "optional extra data",
            "in": "query",
            "name": "dataField",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "sms"
        ],
        "deprecated": false,
        "description": "Send a single message using your unique URL without having to authenticate using your email address or REST API token. The token required is the URL Sending token available on the developer setting page. The <i>recipientNumber</i> and <i>message</i> parameters are required. All other parameters are optional. Not that the token required here is ",
        "operationId": "get-api-rest-v1-sms-send-url-by-token",
        "summary": "send-url"
      },
      "post": {
        "parameters": [
          {
            "description": "token",
            "in": "path",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the phone number of the recipient to send to",
            "in": "query",
            "name": "recipientNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the message to send",
            "in": "query",
            "name": "message",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "date format: yyyyMMddHHmm",
            "in": "query",
            "name": "dateToSend",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "optional campaign name",
            "in": "query",
            "name": "campaign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "optional extra data",
            "in": "query",
            "name": "dataField",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "sms"
        ],
        "deprecated": false,
        "description": "Send a single message using your unique URL without having to authenticate using your email address or REST API token. The token required is the URL Sending token available on the developer setting page. The <i>recipientNumber</i> and <i>message</i> parameters are required. All other parameters are optional. Not that the token required here is ",
        "operationId": "post-api-rest-v1-sms-send-url-by-token",
        "summary": "send-url"
      }
    },
    "/api/rest/v1/templates/all": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceTemplates"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceTemplates"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "templates"
        ],
        "deprecated": false,
        "description": "Returns all templates",
        "operationId": "get-api-rest-v1-templates-all",
        "summary": "all"
      }
    },
    "/api/rest/v1/templates/{templateId}": {
      "delete": {
        "parameters": [
          {
            "description": "templateId",
            "in": "path",
            "name": "templateId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "templates"
        ],
        "deprecated": false,
        "description": "Deletes a  template",
        "operationId": "delete-api-rest-v1-templates-by-templateid",
        "summary": "delete"
      },
      "get": {
        "parameters": [
          {
            "description": "templateId",
            "in": "path",
            "name": "templateId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceTemplate"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceTemplate"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "templates"
        ],
        "deprecated": false,
        "description": "Returns details for a single template",
        "operationId": "get-api-rest-v1-templates-by-templateid",
        "summary": "get"
      }
    },
    "/api/rest/v1/voice/all": {
      "get": {
        "parameters": [
          {
            "description": "number of elements to return at a time",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 100,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "page number",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "filter by message status",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "enum": [
                "SCHEDULED",
                "UNKNOWN",
                "SENT",
                "FAILED",
                "FAILED_REFUNDED",
                "FAILED_OPTOUT",
                "DELIVERED"
              ],
              "type": "string"
            }
          },
          {
            "description": "date format: yyyyMMdd",
            "in": "query",
            "name": "fromDateTimeSent",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "date format: yyyyMMdd",
            "in": "query",
            "name": "toDateTimeSent",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "phone number the message was sent to",
            "in": "query",
            "name": "toNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "search matching message text",
            "in": "query",
            "name": "message",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "search by campaign",
            "in": "query",
            "name": "campaign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "search by data field",
            "in": "query",
            "name": "dataField",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "return only deleted / not deleted messages",
            "in": "query",
            "name": "deleted",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceVoiceMessages"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceVoiceMessages"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "voice"
        ],
        "deprecated": false,
        "description": "Returns all voice messages",
        "operationId": "get-api-rest-v1-voice-all",
        "summary": "all"
      }
    },
    "/api/rest/v1/voice/single-audio": {
      "post": {
        "parameters": [
          {
            "description": "the phone number of the recipient to send to",
            "in": "query",
            "name": "recipientNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "optional campaign name",
            "in": "query",
            "name": "campaign",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "optional extra data",
            "in": "query",
            "name": "dataField",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "optional number of times to retry unanswered call",
            "in": "query",
            "name": "retryCount",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "optional minimum interval in minutes between retry attempts",
            "in": "query",
            "name": "retryMinimumInterval",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "optional maximum interval in minutes between retry attempts",
            "in": "query",
            "name": "retryMaximumInterval",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceSendVoiceMessageResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceSendVoiceMessageResponse"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "voice"
        ],
        "deprecated": false,
        "description": "Send a single audio voice message to one recipient. Note, Content-Type header must be set to multipart/form-data for this request.",
        "operationId": "single-audio",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "required": true
        },
        "summary": "single-audio"
      }
    },
    "/api/rest/v1/voice/single-text": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceSendVoiceMessageResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceSendVoiceMessageResponse"
                }
              }
            },
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "voice"
        ],
        "deprecated": false,
        "description": "Send a single text voice message to one recipient",
        "operationId": "single-text",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceVoiceMessageSendSingleTextRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/WebServiceVoiceMessageSendSingleTextRequest"
              }
            }
          },
          "description": "request"
        },
        "summary": "single-text"
      }
    },
    "/api/rest/v1/voice/{messageId}": {
      "delete": {
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "voice"
        ],
        "deprecated": false,
        "description": "Deletes a  message",
        "operationId": "delete-api-rest-v1-voice-by-messageid",
        "summary": "delete"
      },
      "get": {
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceVoiceMessage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/WebServiceVoiceMessage"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "voice"
        ],
        "deprecated": false,
        "description": "Returns details for a single message",
        "operationId": "get-api-rest-v1-voice-by-messageid",
        "summary": "get"
      }
    }
  },
  "components": {
    "requestBodies": {
      "WebServiceAnalyseMessageRequestMessageAndRecipientNumber": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WebServiceAnalyseMessageRequestMessageAndRecipientNumber"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/WebServiceAnalyseMessageRequestMessageAndRecipientNumber"
            }
          }
        },
        "description": "request"
      },
      "WebServiceAnalyseMessageRequestMessageOnly": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WebServiceAnalyseMessageRequestMessageOnly"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/WebServiceAnalyseMessageRequestMessageOnly"
            }
          }
        },
        "description": "request"
      },
      "WebServiceContact": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WebServiceContact"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/WebServiceContact"
            }
          }
        },
        "description": "webServiceContact"
      },
      "WebServiceGroup": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WebServiceGroup"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/WebServiceGroup"
            }
          }
        },
        "description": "webServiceGroup"
      },
      "WebServiceUser": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WebServiceUser"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/WebServiceUser"
            }
          }
        },
        "description": "request"
      }
    },
    "schemas": {
      "Link": {
        "properties": {
          "href": {
            "type": "string"
          },
          "rel": {
            "type": "string"
          },
          "templated": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "RestErrorDTO": {
        "description": "RestErrorDTO",
        "properties": {
          "code": {
            "format": "int32",
            "type": "integer"
          },
          "developerMessage": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "moreInfoUrl": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebServiceAccount": {
        "description": "WebServiceAccount",
        "properties": {
          "creditBalance": {
            "format": "double",
            "type": "number"
          },
          "links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "WebServiceAccountStatistics": {
        "description": "WebServiceAccountStatistics",
        "properties": {
          "from": {
            "format": "date-time",
            "type": "string"
          },
          "grandTotal": {
            "$ref": "#/components/schemas/WebServiceStatistics"
          },
          "showingCreditValue": {
            "type": "boolean"
          },
          "to": {
            "format": "date-time",
            "type": "string"
          },
          "users": {
            "items": {
              "$ref": "#/components/schemas/WebServiceUserStatistics"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "WebServiceAnalyseMessageRequestMessageAndRecipientNumber": {
        "description": "WebServiceAnalyseMessageRequest",
        "properties": {
          "message": {
            "type": "string"
          },
          "recipientNumber": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebServiceAnalyseMessageRequestMessageOnly": {
        "description": "WebServiceAnalyseMessageRequest",
        "properties": {
          "message": {
            "type": "string"
          },
          "recipientNumber": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebServiceAnalyseMessageResponse": {
        "description": "WebServiceAnalyseMessageResponse",
        "properties": {
          "characterAnalysis": {
            "items": {
              "items": {},
              "type": "array"
            },
            "type": "array"
          },
          "messageCreditCost": {
            "format": "double",
            "type": "number"
          },
          "messageEncoding": {
            "type": "string"
          },
          "messageLength": {
            "format": "int32",
            "type": "integer"
          },
          "messageLengthWithinMaximumAllowed": {
            "type": "boolean"
          },
          "numberOfMessages": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "WebServiceCampaignStatistics": {
        "description": "WebServiceCampaignStatistics",
        "properties": {
          "campaign": {
            "type": "string"
          },
          "statistics": {
            "$ref": "#/components/schemas/WebServiceStatistics"
          }
        },
        "type": "object"
      },
      "WebServiceContact": {
        "description": "WebServiceContact",
        "properties": {
          "contactId": {
            "type": "string"
          },
          "contactNumber": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          },
          "title": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebServiceContactLink": {
        "description": "WebServiceContactLink",
        "properties": {
          "contactId": {
            "type": "string"
          },
          "links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "WebServiceContacts": {
        "description": "WebServiceContacts",
        "properties": {
          "links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          },
          "webServiceContacts": {
            "items": {
              "$ref": "#/components/schemas/WebServiceContact"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "WebServiceGroup": {
        "description": "WebServiceGroup",
        "properties": {
          "groupId": {
            "type": "string"
          },
          "links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebServiceGroups": {
        "description": "WebServiceGroups",
        "properties": {
          "links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          },
          "webServiceGroups": {
            "items": {
              "$ref": "#/components/schemas/WebServiceGroup"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "WebServiceMessage": {
        "description": "WebServiceMessage",
        "properties": {
          "campaign": {
            "type": "string"
          },
          "contact": {
            "$ref": "#/components/schemas/WebServiceContactLink"
          },
          "creditCost": {
            "format": "double",
            "type": "number"
          },
          "dateTimeReceived": {
            "format": "date-time",
            "type": "string"
          },
          "dateTimeScheduled": {
            "format": "date-time",
            "type": "string"
          },
          "dateTimeSent": {
            "format": "date-time",
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "fromNumber": {
            "type": "string"
          },
          "links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          },
          "message": {
            "type": "string"
          },
          "messageId": {
            "type": "string"
          },
          "messageStatus": {
            "type": "string"
          },
          "messageType": {
            "type": "string"
          },
          "numberOfMessages": {
            "format": "int32",
            "type": "integer"
          },
          "read": {
            "type": "boolean"
          },
          "repliedToMessage": {
            "$ref": "#/components/schemas/WebServiceMessageLink"
          },
          "toNumber": {
            "type": "string"
          },
          "userDataField": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebServiceMessageLink": {
        "description": "WebServiceMessageLink",
        "properties": {
          "links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          },
          "messageId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebServiceMessages": {
        "description": "WebServiceMessages",
        "properties": {
          "elements": {
            "format": "int32",
            "type": "integer"
          },
          "links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          },
          "page": {
            "format": "int32",
            "type": "integer"
          },
          "pageSize": {
            "format": "int32",
            "type": "integer"
          },
          "totalElements": {
            "format": "int64",
            "type": "integer"
          },
          "totalPages": {
            "format": "int32",
            "type": "integer"
          },
          "webServiceMessages": {
            "items": {
              "$ref": "#/components/schemas/WebServiceMessage"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "WebServiceSendSmsRequest": {
        "description": "WebServiceSendSmsRequest",
        "properties": {
          "campaign": {
            "type": "string"
          },
          "dataField": {
            "type": "string"
          },
          "dateToSend": {
            "format": "date-time",
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "recipientNumber": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebServiceSendSmsRequests": {
        "description": "WebServiceSendSmsRequests",
        "properties": {
          "defaultDateToSend": {
            "format": "date-time",
            "type": "string"
          },
          "messagesPerMinute": {
            "format": "int32",
            "type": "integer"
          },
          "sendSmsRequests": {
            "items": {
              "$ref": "#/components/schemas/WebServiceSendSmsRequest"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "WebServiceSendSmsResponse": {
        "description": "WebServiceSendSmsResponse",
        "properties": {
          "error": {
            "type": "string"
          },
          "messageId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebServiceSendSmsResponses": {
        "description": "WebServiceSendSmsResponses",
        "properties": {
          "sendSmsResponses": {
            "items": {
              "$ref": "#/components/schemas/WebServiceSendSmsResponse"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "WebServiceSendVoiceMessageResponse": {
        "description": "WebServiceSendVoiceMessageResponse",
        "properties": {
          "error": {
            "type": "string"
          },
          "voiceMessageId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebServiceStatistics": {
        "description": "WebServiceStatistics",
        "properties": {
          "delivered": {
            "format": "double",
            "type": "number"
          },
          "failed": {
            "format": "double",
            "type": "number"
          },
          "failedOptout": {
            "format": "double",
            "type": "number"
          },
          "failedRefunded": {
            "format": "double",
            "type": "number"
          },
          "sent": {
            "format": "double",
            "type": "number"
          },
          "total": {
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "WebServiceTemplate": {
        "description": "WebServiceTemplate",
        "properties": {
          "data": {
            "type": "string"
          },
          "links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          },
          "name": {
            "type": "string"
          },
          "templateId": {
            "format": "int64",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "WebServiceTemplates": {
        "description": "WebServiceTemplates",
        "properties": {
          "links": {
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "type": "array"
          },
          "webServiceTemplates": {
            "items": {
              "$ref": "#/components/schemas/WebServiceTemplate"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "WebServiceTransferCreditsRequest": {
        "description": "WebServiceTransferCreditsRequest",
        "properties": {
          "numberOfCreditsToTransfer": {
            "format": "int32",
            "type": "integer"
          },
          "transferFromEmailAddress": {
            "type": "string"
          },
          "transferToEmailAddress": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebServiceUser": {
        "description": "WebServiceUser",
        "properties": {
          "company": {
            "type": "string"
          },
          "contactNumber": {
            "type": "string"
          },
          "creditBalance": {
            "format": "double",
            "type": "number"
          },
          "emailAddress": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "userId": {
            "format": "int64",
            "type": "integer"
          }
        },
[...]
