{
  "openapi": "3.0.3",
  "info": {
    "title": "Micro Weather API (M3O)",
    "description": "Real time weather forecasts and historic data. Provides current weather conditions, multi-day forecasts, and historical weather data for any location worldwide. Note: The M3O platform has been discontinued; this spec documents the API as it existed.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://m3o.com/weather/api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.m3o.com/v1",
      "description": "M3O API server"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Weather",
      "description": "Weather data endpoints"
    }
  ],
  "paths": {
    "/weather/Now": {
      "post": {
        "operationId": "getNowWeather",
        "summary": "Get current weather",
        "description": "Get the current weather conditions for a specified location.",
        "tags": [
          "Weather"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NowResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/weather/Forecast": {
      "post": {
        "operationId": "getForecast",
        "summary": "Get weather forecast",
        "description": "Get a multi-day weather forecast for a specified location.",
        "tags": [
          "Weather"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForecastRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "M3O API key passed as 'Bearer <api-key>' in the Authorization header"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Error identifier"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          },
          "detail": {
            "type": "string",
            "description": "Detailed error message"
          },
          "status": {
            "type": "string",
            "description": "Error status"
          }
        }
      },
      "NowRequest": {
        "type": "object",
        "required": [
          "location"
        ],
        "properties": {
          "location": {
            "type": "string",
            "description": "Location to get weather for (city name, zip code, or lat,lon)"
          }
        }
      },
      "NowResponse": {
        "type": "object",
        "properties": {
          "location": {
            "type": "string",
            "description": "Location name"
          },
          "region": {
            "type": "string",
            "description": "Region or state"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone"
          },
          "local_time": {
            "type": "string",
            "description": "Local time at the location"
          },
          "temp_c": {
            "type": "number",
            "description": "Temperature in Celsius"
          },
          "temp_f": {
            "type": "number",
            "description": "Temperature in Fahrenheit"
          },
          "feels_like_c": {
            "type": "number",
            "description": "Feels-like temperature in Celsius"
          },
          "feels_like_f": {
            "type": "number",
            "description": "Feels-like temperature in Fahrenheit"
          },
          "humidity": {
            "type": "integer",
            "description": "Humidity percentage"
          },
          "cloud": {
            "type": "integer",
            "description": "Cloud coverage percentage"
          },
          "daytime": {
            "type": "boolean",
            "description": "Whether it is daytime"
          },
          "condition": {
            "type": "string",
            "description": "Weather condition description"
          },
          "icon_url": {
            "type": "string",
            "description": "URL of the weather condition icon"
          },
          "wind_mph": {
            "type": "number",
            "description": "Wind speed in mph"
          },
          "wind_kph": {
            "type": "number",
            "description": "Wind speed in kph"
          },
          "wind_direction": {
            "type": "string",
            "description": "Wind direction"
          },
          "wind_degree": {
            "type": "integer",
            "description": "Wind direction in degrees"
          }
        }
      },
      "ForecastRequest": {
        "type": "object",
        "required": [
          "location"
        ],
        "properties": {
          "location": {
            "type": "string",
            "description": "Location to get forecast for"
          },
          "days": {
            "type": "integer",
            "description": "Number of days to forecast (1-10)",
            "default": 3,
            "minimum": 1,
            "maximum": 10
          }
        }
      },
      "ForecastResponse": {
        "type": "object",
        "properties": {
          "location": {
            "type": "string",
            "description": "Location name"
          },
          "region": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "timezone": {
            "type": "string"
          },
          "local_time": {
            "type": "string"
          },
          "forecast": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ForecastDay"
            }
          }
        }
      },
      "ForecastDay": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Forecast date"
          },
          "max_temp_c": {
            "type": "number",
            "description": "Maximum temperature in Celsius"
          },
          "max_temp_f": {
            "type": "number",
            "description": "Maximum temperature in Fahrenheit"
          },
          "min_temp_c": {
            "type": "number",
            "description": "Minimum temperature in Celsius"
          },
          "min_temp_f": {
            "type": "number",
            "description": "Minimum temperature in Fahrenheit"
          },
          "avg_temp_c": {
            "type": "number",
            "description": "Average temperature in Celsius"
          },
          "avg_temp_f": {
            "type": "number",
            "description": "Average temperature in Fahrenheit"
          },
          "will_it_rain": {
            "type": "boolean",
            "description": "Whether it will rain"
          },
          "chance_of_rain": {
            "type": "integer",
            "description": "Chance of rain percentage"
          },
          "condition": {
            "type": "string",
            "description": "Weather condition"
          },
          "icon_url": {
            "type": "string",
            "description": "Condition icon URL"
          },
          "sunrise": {
            "type": "string"
          },
          "sunset": {
            "type": "string"
          },
          "max_wind_mph": {
            "type": "number"
          },
          "max_wind_kph": {
            "type": "number"
          },
          "avg_humidity": {
            "type": "integer"
          }
        }
      }
    }
  }
}
