{
  "openapi": "3.0.3",
  "info": {
    "title": "Bybit V5 API",
    "version": "5.0.0",
    "description": "Bybit is a cryptocurrency derivatives exchange. The V5 API provides access to market data, trading, account management, and position information. Market data endpoints are public; trading and account endpoints require HMAC-SHA256 signed authentication.",
    "x-jentic-source-url": "https://bybit-exchange.github.io/docs/v5/intro",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.bybit.com",
      "description": "Bybit Production (Mainnet)"
    },
    {
      "url": "https://api-testnet.bybit.com",
      "description": "Bybit Testnet"
    }
  ],
  "tags": [
    {
      "name": "Market",
      "description": "Public market data endpoints"
    },
    {
      "name": "Trade",
      "description": "Order management (requires authentication)"
    },
    {
      "name": "Account",
      "description": "Account information (requires authentication)"
    }
  ],
  "paths": {
    "/v5/market/kline": {
      "get": {
        "operationId": "getKline",
        "tags": [
          "Market"
        ],
        "summary": "Get kline/candlestick data",
        "description": "Query historical kline data. Each candle contains open, high, low, close price and volume.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "linear",
                "inverse"
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Symbol name e.g. BTCUSDT"
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "3",
                "5",
                "15",
                "30",
                "60",
                "120",
                "240",
                "360",
                "720",
                "D",
                "M",
                "W"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start timestamp in ms"
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "End timestamp in ms"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 200,
              "maximum": 1000
            },
            "description": "Limit per page (max 1000)"
          }
        ],
        "responses": {
          "200": {
            "description": "Kline data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KlineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v5/market/orderbook": {
      "get": {
        "operationId": "getOrderbook",
        "tags": [
          "Market"
        ],
        "summary": "Get orderbook depth",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "linear",
                "inverse",
                "option"
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Depth limit (1-500, default 25)"
          }
        ],
        "responses": {
          "200": {
            "description": "Orderbook data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderbookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get orderbook depth"
      }
    },
    "/v5/market/tickers": {
      "get": {
        "operationId": "getTickers",
        "tags": [
          "Market"
        ],
        "summary": "Get latest market tickers",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "linear",
                "inverse",
                "option"
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Symbol name (optional, returns all if omitted)"
          },
          {
            "name": "baseCoin",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Base coin filter"
          },
          {
            "name": "expDate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Expiry date filter for option"
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get latest market tickers"
      }
    },
    "/v5/market/instruments-info": {
      "get": {
        "operationId": "getInstrumentsInfo",
        "tags": [
          "Market"
        ],
        "summary": "Get instrument/symbol specifications",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "linear",
                "inverse",
                "option"
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Trading",
                "PreLaunch",
                "Settling",
                "Delivering",
                "Closed"
              ]
            }
          },
          {
            "name": "baseCoin",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instruments info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentsInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get instrument/symbol specifications"
      }
    },
    "/v5/order/create": {
      "post": {
        "operationId": "createOrder",
        "tags": [
          "Trade"
        ],
        "summary": "Place a new order",
        "security": [
          {
            "apiKeyAuth": [],
            "apiSignAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order placed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Place a new order"
      }
    },
    "/v5/order/cancel": {
      "post": {
        "operationId": "cancelOrder",
        "tags": [
          "Trade"
        ],
        "summary": "Cancel an active order",
        "security": [
          {
            "apiKeyAuth": [],
            "apiSignAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Cancel an active order"
      }
    },
    "/v5/order/realtime": {
      "get": {
        "operationId": "getOpenOrders",
        "tags": [
          "Trade"
        ],
        "summary": "Get open/unfilled orders in real-time",
        "security": [
          {
            "apiKeyAuth": [],
            "apiSignAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "linear",
                "inverse",
                "option"
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderLinkId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get open/unfilled orders in real-time"
      }
    },
    "/v5/account/wallet-balance": {
      "get": {
        "operationId": "getWalletBalance",
        "tags": [
          "Account"
        ],
        "summary": "Get wallet balance",
        "description": "Obtain wallet balance, query asset information of each currency. By default, currency information with assets or liabilities of 0 is not returned.",
        "security": [
          {
            "apiKeyAuth": [],
            "apiSignAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "UNIFIED"
              ]
            },
            "description": "Account type"
          },
          {
            "name": "coin",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Coin name (uppercase, comma-separated for multiple)"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletBalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-BAPI-API-KEY",
        "description": "Bybit API key"
      },
      "apiSignAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-BAPI-SIGN",
        "description": "HMAC-SHA256 signature"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "retCode": {
            "type": "integer"
          },
          "retMsg": {
            "type": "string"
          },
          "result": {
            "type": "object"
          },
          "retExtInfo": {
            "type": "object"
          },
          "time": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "BaseResponse": {
        "type": "object",
        "properties": {
          "retCode": {
            "type": "integer",
            "description": "0 means success"
          },
          "retMsg": {
            "type": "string"
          },
          "retExtInfo": {
            "type": "object"
          },
          "time": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "KlineResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string"
                  },
                  "symbol": {
                    "type": "string"
                  },
                  "list": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "[startTime, openPrice, highPrice, lowPrice, closePrice, volume, turnover]"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "OrderbookResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "s": {
                    "type": "string",
                    "description": "Symbol"
                  },
                  "a": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": "Asks [price, size]"
                  },
                  "b": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": "Bids [price, size]"
                  },
                  "ts": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "u": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        ]
      },
      "TickerResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string"
                  },
                  "list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "lastPrice": {
                          "type": "string"
                        },
                        "highPrice24h": {
                          "type": "string"
                        },
                        "lowPrice24h": {
                          "type": "string"
                        },
                        "prevPrice24h": {
                          "type": "string"
                        },
                        "volume24h": {
                          "type": "string"
                        },
                        "turnover24h": {
                          "type": "string"
                        },
                        "price24hPcnt": {
                          "type": "string"
                        },
                        "bid1Price": {
                          "type": "string"
                        },
                        "bid1Size": {
                          "type": "string"
                        },
                        "ask1Price": {
                          "type": "string"
                        },
                        "ask1Size": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "InstrumentsInfoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string"
                  },
                  "list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "contractType": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "baseCoin": {
                          "type": "string"
                        },
                        "quoteCoin": {
                          "type": "string"
                        },
                        "launchTime": {
                          "type": "string"
                        },
                        "priceScale": {
                          "type": "string"
                        },
                        "leverageFilter": {
                          "type": "object",
                          "properties": {
                            "minLeverage": {
                              "type": "string"
                            },
                            "maxLeverage": {
                              "type": "string"
                            },
                            "leverageStep": {
                              "type": "string"
                            }
                          }
                        },
                        "priceFilter": {
                          "type": "object",
                          "properties": {
                            "minPrice": {
                              "type": "string"
                            },
                            "maxPrice": {
                              "type": "string"
                            },
                            "tickSize": {
                              "type": "string"
                            }
                          }
                        },
                        "lotSizeFilter": {
                          "type": "object",
                          "properties": {
                            "maxOrderQty": {
                              "type": "string"
                            },
                            "minOrderQty": {
                              "type": "string"
                            },
                            "qtyStep": {
                              "type": "string"
                            },
                            "minNotionalValue": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "nextPageCursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "CreateOrderRequest": {
        "type": "object",
        "required": [
          "category",
          "symbol",
          "side",
          "orderType",
          "qty"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "spot",
              "linear",
              "inverse",
              "option"
            ]
          },
          "symbol": {
            "type": "string"
          },
          "side": {
            "type": "string",
            "enum": [
              "Buy",
              "Sell"
            ]
          },
          "orderType": {
            "type": "string",
            "enum": [
              "Market",
              "Limit"
            ]
          },
          "qty": {
            "type": "string",
            "description": "Order quantity"
          },
          "price": {
            "type": "string",
            "description": "Limit order price"
          },
          "timeInForce": {
            "type": "string",
            "enum": [
              "GTC",
              "IOC",
              "FOK",
              "PostOnly"
            ]
          },
          "orderLinkId": {
            "type": "string",
            "description": "User-customised order ID"
          },
          "isLeverage": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Whether to borrow (spot margin)"
          },
          "triggerPrice": {
            "type": "string"
          },
          "takeProfit": {
            "type": "string"
          },
          "stopLoss": {
            "type": "string"
          },
          "reduceOnly": {
            "type": "boolean"
          },
          "closeOnTrigger": {
            "type": "boolean"
          },
          "positionIdx": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "description": "Position index for hedge mode"
          }
        }
      },
      "CreateOrderResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "orderId": {
                    "type": "string"
                  },
                  "orderLinkId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "CancelOrderRequest": {
        "type": "object",
        "required": [
          "category",
          "symbol"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "spot",
              "linear",
              "inverse",
              "option"
            ]
          },
          "symbol": {
            "type": "string"
          },
          "orderId": {
            "type": "string",
            "description": "Either orderId or orderLinkId is required"
          },
          "orderLinkId": {
            "type": "string"
          }
        }
      },
      "CancelOrderResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "orderId": {
                    "type": "string"
                  },
                  "orderLinkId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "OrderListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string"
                  },
                  "list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "orderId": {
                          "type": "string"
                        },
                        "orderLinkId": {
                          "type": "string"
                        },
                        "symbol": {
                          "type": "string"
                        },
                        "side": {
                          "type": "string"
                        },
                        "orderType": {
                          "type": "string"
                        },
                        "price": {
                          "type": "string"
                        },
                        "qty": {
                          "type": "string"
                        },
                        "cumExecQty": {
                          "type": "string"
                        },
                        "cumExecValue": {
                          "type": "string"
                        },
                        "orderStatus": {
                          "type": "string"
                        },
                        "timeInForce": {
                          "type": "string"
                        },
                        "createdTime": {
                          "type": "string"
                        },
                        "updatedTime": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "nextPageCursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "WalletBalanceResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "accountType": {
                          "type": "string"
                        },
                        "accountIMRate": {
                          "type": "string"
                        },
                        "accountMMRate": {
                          "type": "string"
                        },
                        "totalEquity": {
                          "type": "string"
                        },
                        "totalWalletBalance": {
                          "type": "string"
                        },
                        "totalMarginBalance": {
                          "type": "string"
                        },
                        "totalAvailableBalance": {
                          "type": "string"
                        },
                        "totalPerpUPL": {
                          "type": "string"
                        },
                        "totalInitialMargin": {
                          "type": "string"
                        },
                        "totalMaintenanceMargin": {
                          "type": "string"
                        },
                        "coin": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "coin": {
                                "type": "string"
                              },
                              "equity": {
                                "type": "string"
                              },
                              "usdValue": {
                                "type": "string"
                              },
                              "walletBalance": {
                                "type": "string"
                              },
                              "borrowAmount": {
                                "type": "string"
                              },
                              "unrealisedPnl": {
                                "type": "string"
                              },
                              "cumRealisedPnl": {
                                "type": "string"
                              },
                              "locked": {
                                "type": "string"
                              },
                              "marginCollateral": {
                                "type": "boolean"
                              },
                              "collateralSwitch": {
                                "type": "boolean"
                              },
                              "spotBorrow": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    }
  }
}
