{
  "openapi": "3.0.3",
  "info": {
    "title": "Impala Hotel Bookings API",
    "version": "2.0.0",
    "description": "Impala API for hotel content, rates and room bookings. Access hotel information, search availability, and create bookings.",
    "x-jentic-source-url": "https://docs.impala.travel/docs/booking-api/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.impala.travel/v2"
    }
  ],
  "paths": {
    "/hotels": {
      "get": {
        "operationId": "searchHotels",
        "summary": "Search hotels",
        "tags": [
          "Hotels"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Radius in meters"
          },
          {
            "name": "countryCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hotels list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HotelListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Search hotels"
      }
    },
    "/hotels/{hotelId}": {
      "get": {
        "operationId": "getHotel",
        "summary": "Get hotel details",
        "tags": [
          "Hotels"
        ],
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hotel details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hotel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get hotel details"
      }
    },
    "/hotels/{hotelId}/room-types": {
      "get": {
        "operationId": "getRoomTypes",
        "summary": "Get room types",
        "tags": [
          "Hotels"
        ],
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Room types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoomType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get room types"
      }
    },
    "/hotels/{hotelId}/rates": {
      "get": {
        "operationId": "getRates",
        "summary": "Get rates and availability",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "name": "hotelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkIn",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "checkOut",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "adults",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 2
            }
          },
          {
            "name": "children",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "GBP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get rates and availability"
      }
    },
    "/bookings": {
      "post": {
        "operationId": "createBooking",
        "summary": "Create booking",
        "tags": [
          "Bookings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create booking"
      },
      "get": {
        "operationId": "listBookings",
        "summary": "List bookings",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "hotelId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bookings list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Booking"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List bookings"
      }
    },
    "/bookings/{bookingId}": {
      "get": {
        "operationId": "getBooking",
        "summary": "Get booking",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get booking"
      }
    },
    "/bookings/{bookingId}/cancel": {
      "post": {
        "operationId": "cancelBooking",
        "summary": "Cancel booking",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Cancel booking"
      }
    }
  },
  "components": {
    "schemas": {
      "Hotel": {
        "type": "object",
        "properties": {
          "hotelId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "line1": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "postcode": {
                "type": "string"
              }
            }
          },
          "starRating": {
            "type": "integer"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "HotelListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Hotel"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "RoomType": {
        "type": "object",
        "properties": {
          "roomTypeId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "maxOccupancy": {
            "type": "integer"
          },
          "bedType": {
            "type": "string"
          }
        }
      },
      "Rate": {
        "type": "object",
        "properties": {
          "rateId": {
            "type": "string"
          },
          "roomTypeId": {
            "type": "string"
          },
          "roomTypeName": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "boardType": {
            "type": "string"
          },
          "cancellationPolicy": {
            "type": "object",
            "properties": {
              "freeCancellationBefore": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "CreateBookingRequest": {
        "type": "object",
        "properties": {
          "hotelId": {
            "type": "string"
          },
          "rateId": {
            "type": "string"
          },
          "checkIn": {
            "type": "string",
            "format": "date"
          },
          "checkOut": {
            "type": "string",
            "format": "date"
          },
          "guest": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "hotelId",
          "rateId",
          "checkIn",
          "checkOut",
          "guest"
        ]
      },
      "Booking": {
        "type": "object",
        "properties": {
          "bookingId": {
            "type": "string"
          },
          "hotelId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "cancelled",
              "pending"
            ]
          },
          "checkIn": {
            "type": "string",
            "format": "date"
          },
          "checkOut": {
            "type": "string",
            "format": "date"
          },
          "totalAmount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Hotels",
      "description": "Hotel content and search"
    },
    {
      "name": "Rates",
      "description": "Rates and availability"
    },
    {
      "name": "Bookings",
      "description": "Booking management"
    }
  ]
}
