{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare R2 API",
    "description": "Cloudflare R2 Storage allows you to store large amounts of unstructured data. This API manages R2 buckets via the Cloudflare API.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.cloudflare.com/r2/api/"
  },
  "servers": [
    {
      "url": "https://api.cloudflare.com/client/v4",
      "description": "Cloudflare API v4"
    }
  ],
  "paths": {
    "/accounts/{account_id}/r2/buckets": {
      "get": {
        "operationId": "listBuckets",
        "summary": "List Buckets",
        "description": "Lists all R2 buckets on your account.",
        "tags": [
          "Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from a previous request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "name_contains",
            "in": "query",
            "description": "Filter buckets by name containing this string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Field to order results by.",
            "schema": {
              "type": "string",
              "enum": [
                "name"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Maximum number of results per page.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "start_after",
            "in": "query",
            "description": "Bucket name after which to start listing (lexicographic).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cf-r2-jurisdiction",
            "in": "header",
            "description": "Storage jurisdiction.",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "eu",
                "fedramp"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "buckets": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Bucket"
                              }
                            }
                          }
                        },
                        "result_info": {
                          "type": "object",
                          "properties": {
                            "cursor": {
                              "type": "string",
                              "description": "Cursor for the next page."
                            },
                            "per_page": {
                              "type": "number",
                              "description": "Number of items returned."
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBucket",
        "summary": "Create Bucket",
        "description": "Creates a new R2 storage bucket.",
        "tags": [
          "Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "cf-r2-jurisdiction",
            "in": "header",
            "description": "Storage jurisdiction.",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "eu",
                "fedramp"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the bucket."
                  },
                  "locationHint": {
                    "type": "string",
                    "description": "Location hint for bucket placement.",
                    "enum": [
                      "apac",
                      "eeur",
                      "enam",
                      "weur",
                      "wnam",
                      "oc"
                    ]
                  },
                  "storageClass": {
                    "type": "string",
                    "description": "Storage class for the bucket.",
                    "enum": [
                      "Standard",
                      "InfrequentAccess"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/Bucket"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/r2/buckets/{bucket_name}": {
      "get": {
        "operationId": "getBucket",
        "summary": "Get Bucket",
        "description": "Gets metadata for an existing R2 bucket.",
        "tags": [
          "Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/BucketName"
          },
          {
            "name": "cf-r2-jurisdiction",
            "in": "header",
            "description": "Storage jurisdiction.",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "eu",
                "fedramp"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/Bucket"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBucket",
        "summary": "Delete Bucket",
        "description": "Deletes an existing R2 bucket.",
        "tags": [
          "Buckets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/BucketName"
          },
          {
            "name": "cf-r2-jurisdiction",
            "in": "header",
            "description": "Storage jurisdiction.",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "eu",
                "fedramp"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Cloudflare API Token"
      }
    },
    "parameters": {
      "AccountId": {
        "name": "account_id",
        "in": "path",
        "required": true,
        "description": "Account identifier.",
        "schema": {
          "type": "string"
        }
      },
      "BucketName": {
        "name": "bucket_name",
        "in": "path",
        "required": true,
        "description": "Bucket name.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Bucket": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Bucket name."
          },
          "creation_date": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp."
          },
          "jurisdiction": {
            "type": "string",
            "description": "Storage jurisdiction.",
            "enum": [
              "default",
              "eu",
              "fedramp"
            ]
          },
          "location": {
            "type": "string",
            "description": "Regional location hint.",
            "enum": [
              "apac",
              "eeur",
              "enam",
              "weur",
              "wnam",
              "oc"
            ]
          },
          "storage_class": {
            "type": "string",
            "description": "Storage class.",
            "enum": [
              "Standard",
              "InfrequentAccess"
            ]
          }
        }
      },
      "ResponseInfo": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "documentation_url": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseInfo"
            }
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseInfo"
            }
          }
        },
        "required": [
          "success",
          "errors",
          "messages"
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}