{
  "openapi": "3.0.3",
  "info": {
    "title": "Revelator Partner API",
    "description": "REST API for managing music distribution accounts, user authentication, client management, and lookup data on the Revelator platform.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api-docs.revelator.com/"
  },
  "servers": [
    {
      "url": "https://api.revelator.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/partner/account/signup": {
      "post": {
        "operationId": "partnerSignup",
        "summary": "Create a new child account",
        "description": "Creates a new child account, user, and associated entities under a partner.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/partner/account/login": {
      "post": {
        "operationId": "partnerLogin",
        "summary": "Generate access tokens",
        "description": "Authenticates via prompted (username/password) or unprompted (partnerUserId) flow. Access tokens are valid for 8 hours.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/partner/account/upgrade": {
      "post": {
        "operationId": "upgradeAccount",
        "summary": "Upgrade account type or limits",
        "description": "Upgrades account type, artist limits, or store access.",
        "tags": [
          "Partner"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpgradeRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Account upgraded successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/partner/invitation": {
      "get": {
        "operationId": "getInvitation",
        "summary": "Get user invitation information",
        "tags": [
          "Partner"
        ],
        "security": [
          {
            "partnerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/partner/users": {
      "get": {
        "operationId": "getUserByEmail",
        "summary": "Get user identifiers by email",
        "tags": [
          "Partner"
        ],
        "security": [
          {
            "partnerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User identifiers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserIdentifierResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updatePartnerUser",
        "summary": "Update user partnerUserId or password",
        "tags": [
          "Partner"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePartnerUserRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "User updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/account/forgotpassword": {
      "post": {
        "operationId": "forgotPassword",
        "summary": "Initiate password reset",
        "description": "Sends a password reset email. Always returns 200 regardless of email existence.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "enterpriseId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Password reset initiated"
          }
        }
      }
    },
    "/enterprise/clients/{enterpriseId}": {
      "get": {
        "operationId": "getClient",
        "summary": "Get client enterprise details",
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/enterprise/clients/all": {
      "get": {
        "operationId": "listClients",
        "summary": "List all clients with pagination",
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderByProperty",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderByDescending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated client list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/enterprises/{enterpriseId}/terminate": {
      "post": {
        "operationId": "terminateEnterprise",
        "summary": "Terminate an enterprise account",
        "description": "Terminates an account, rejects pending releases, and removes live catalog.",
        "tags": [
          "Clients"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "enterpriseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account terminated"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/common/lookup/currencies": {
      "get": {
        "operationId": "getCurrencies",
        "summary": "List available currencies",
        "tags": [
          "Lookups"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Currency list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Currency"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common/lookup/countries": {
      "get": {
        "operationId": "getCountries",
        "summary": "List countries",
        "tags": [
          "Lookups"
        ],
        "security": [],
        "parameters": [
          {
            "name": "isDistributionCountry",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isReportingCountry",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common/lookup/timezoneIds": {
      "get": {
        "operationId": "getTimezones",
        "summary": "List timezone identifiers",
        "tags": [
          "Lookups"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Timezone list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Timezone"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common/lookup/musicstyles": {
      "get": {
        "operationId": "getMusicStyles",
        "summary": "List music styles/genres",
        "tags": [
          "Lookups"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Music style list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MusicStyle"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common/lookup/languages": {
      "get": {
        "operationId": "getLanguages",
        "summary": "List languages",
        "tags": [
          "Lookups"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Language list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Language"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common/lookup/stores": {
      "get": {
        "operationId": "getStores",
        "summary": "List distribution stores",
        "tags": [
          "Lookups"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Store list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Store"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/common/lookup/contributorRoles": {
      "get": {
        "operationId": "getContributorRoles",
        "summary": "List contributor roles",
        "tags": [
          "Lookups"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Contributor role list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContributorRole"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/content/track/lookups": {
      "get": {
        "operationId": "getTrackLookups",
        "summary": "Get track-related lookup data",
        "description": "Returns vocal types, formats, mechanical PROs, and rights information.",
        "tags": [
          "Lookups"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Track lookup data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackLookups"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token obtained from /partner/account/login (valid for 8 hours)"
      },
      "partnerApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Partner API key in UUID format (no Bearer prefix)"
      }
    },
    "schemas": {
      "SignupRequest": {
        "type": "object",
        "required": [
          "email",
          "password",
          "enterpriseName",
          "firstname",
          "lastname",
          "type",
          "partnerApiKey"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "enterpriseName": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "partnerApiKey": {
            "type": "string",
            "format": "uuid"
          },
          "partnerUserId": {
            "type": "string"
          },
          "maxArtists": {
            "type": "integer"
          },
          "storeAccess": {
            "type": "string"
          },
          "defaultContractTermsRate": {
            "type": "number"
          }
        }
      },
      "SignupResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "enterpriseId": {
            "type": "string"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "partnerApiKey"
        ],
        "properties": {
          "partnerApiKey": {
            "type": "string",
            "format": "uuid"
          },
          "partnerUserId": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isAuthorized": {
            "type": "boolean"
          }
        }
      },
      "UpgradeRequest": {
        "type": "object",
        "required": [
          "partnerAPIKey",
          "enterpriseId"
        ],
        "properties": {
          "partnerAPIKey": {
            "type": "string",
            "format": "uuid"
          },
          "enterpriseId": {
            "type": "string"
          },
          "newType": {
            "type": "string"
          },
          "newMaxArtists": {
            "type": "integer"
          },
          "newStoreAccess": {
            "type": "string"
          }
        }
      },
      "InvitationResponse": {
        "type": "object",
        "properties": {
          "partnerUserId": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "invitedEnterpriseId": {
            "type": "string"
          },
          "passwordCanBeReset": {
            "type": "boolean"
          },
          "enterprises": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UserIdentifierResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "partnerUserId": {
            "type": "string"
          }
        }
      },
      "UpdatePartnerUserRequest": {
        "type": "object",
        "required": [
          "partnerAPIKey",
          "partnerUserId"
        ],
        "properties": {
          "partnerAPIKey": {
            "type": "string",
            "format": "uuid"
          },
          "partnerUserId": {
            "type": "string"
          },
          "newPartnerUserId": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "ClientResponse": {
        "type": "object",
        "properties": {
          "enterpriseId": {
            "type": "string"
          },
          "payeeId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "totalReleases": {
            "type": "integer"
          },
          "totalTracks": {
            "type": "integer"
          },
          "isLockedOut": {
            "type": "boolean"
          },
          "isDolbyAtmosEnabled": {
            "type": "boolean"
          }
        }
      },
      "ClientListResponse": {
        "type": "object",
        "properties": {
          "totalItemsCount": {
            "type": "integer"
          },
          "pageNumber": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClientResponse"
            }
          }
        }
      },
      "Currency": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "countryId": {
            "type": "integer"
          },
          "isO2Code": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isDistributionCountry": {
            "type": "boolean"
          },
          "isReportingCountry": {
            "type": "boolean"
          }
        }
      },
      "Timezone": {
        "type": "object",
        "properties": {
          "timezoneId": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "MusicStyle": {
        "type": "object",
        "properties": {
          "musicStyleId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "parentId": {
            "type": "integer",
            "nullable": true
          },
          "order": {
            "type": "integer"
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "languageId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "languageCode": {
            "type": "string"
          },
          "isValidMetadataLanguage": {
            "type": "boolean"
          }
        }
      },
      "Store": {
        "type": "object",
        "properties": {
          "distributorStoreId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "supportRingtones": {
            "type": "boolean"
          },
          "supportVideos": {
            "type": "boolean"
          },
          "deliveryLeadTimeDays": {
            "type": "integer"
          }
        }
      },
      "ContributorRole": {
        "type": "object",
        "properties": {
          "roleId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "contributorRoleGroupId": {
            "type": "integer"
          }
        }
      },
      "TrackLookups": {
        "type": "object",
        "properties": {
          "vocalTypes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "formats": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "mechanicalPros": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "mechanicalsRights": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Account signup, login, and password management"
    },
    {
      "name": "Partner",
      "description": "Partner account and user management"
    },
    {
      "name": "Clients",
      "description": "Client enterprise management"
    },
    {
      "name": "Lookups",
      "description": "Reference data lookups"
    }
  ]
}