{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "visanet@gmail.com",
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe"
    },
    "description": "Api para la confirmación de una operación no contable",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://www.visanet.com.pe",
    "title": "API Visanet Confirmation",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.confirmation/v1/swagger.json"
  },
  "servers": [
    {
      "url": "https://apitestenv.vnforapps.com/api.confirmation/v1"
    }
  ],
  "paths": {
    "/confirmation/{product}/{merchantId}": {
      "post": {
        "parameters": [
          {
            "description": "Identificador del producto",
            "example": "ecommerce",
            "in": "path",
            "name": "product",
            "required": true,
            "schema": {
              "enum": [
                "recurrence",
                "ecommerce"
              ],
              "type": "string"
            }
          },
          {
            "description": "Identificador del comercio",
            "example": "341198210",
            "in": "path",
            "name": "merchantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "Unconfirmate"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Confirmation Api"
        ],
        "description": "RESTful API to confirmate transactions.",
        "operationId": "confirm",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmationRequest"
              }
            }
          },
          "description": "Confirmation request",
          "required": true
        },
        "summary": "Confirmation"
      }
    }
  },
  "components": {
    "schemas": {
      "ConfirmationRequest": {
        "description": "Confirmate operation request",
        "example": {
          "captureType": "manual",
          "channel": "web",
          "dataMap": {
            "key": "dataMap"
          },
          "lat": "lat",
          "lon": "lon",
          "order": {
            "amount": 1,
            "authorizationCode": "authorizationCode",
            "currency": "PEN",
            "externalTransactionId": "externalTransactionId",
            "originalDateTime": "originalDateTime",
            "originalTraceNumber": "originalTraceNumber",
            "purchaseNumber": "1234567890",
            "traceNumber": "00004",
            "transactionDate": "170720231016",
            "transactionId": "990172014359425"
          },
          "sponsored": {
            "address": "Calle Garrido y Bermejo 4, Piso 4C, Salamanca, Peru",
            "mcci": "5211",
            "merchantId": "10101010199",
            "name": "Comercio Internacional",
            "phoneNumber": "876789876"
          },
          "terminalId": "12345678"
        },
        "properties": {
          "captureType": {
            "description": "Tipo de captura en el canal",
            "enum": [
              "manual",
              "chip",
              "band",
              "contactless",
              "cardOnFile"
            ],
            "example": "manual",
            "type": "string"
          },
          "channel": {
            "description": "Canal desde donde se origino la operacion",
            "enum": [
              "mobile",
              "web",
              "mpos",
              "host",
              "pos",
              "kiosk",
              "callcenter"
            ],
            "example": "web",
            "type": "string"
          },
          "dataMap": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Entidad que representa informacion complementaria de la operacion",
            "type": "object"
          },
          "lat": {
            "description": "Coordenadas de latitud",
            "type": "string"
          },
          "lon": {
            "description": "Coordenadas de longitud",
            "type": "string"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          },
          "sponsored": {
            "$ref": "#/components/schemas/Sponsored"
          },
          "terminalId": {
            "description": "Numero de Terminal",
            "example": "12345678",
            "type": "string"
          }
        },
        "required": [
          "captureType",
          "channel",
          "order",
          "terminalId"
        ],
        "type": "object"
      },
      "ConfirmationResponse": {
        "description": "Confirmate operation response",
        "example": {
          "dataMap": {
            "key": "dataMap"
          },
          "header": {
            "ecoreTransactionDate": "2000-01-23T04:56:07.000+00:00",
            "ecoreTransactionUUID": "ecoreTransactionUUID",
            "millis": 0
          },
          "order": {
            "actionCode": "actionCode",
            "amount": 1,
            "authorizationCode": "authorizationCode",
            "currency": "PEN",
            "externalTransactionId": "externalTransactionId",
            "originalDateTime": "originalDateTime",
            "originalTraceNumber": "originalTraceNumber",
            "purchaseNumber": "1234567890",
            "traceNumber": "00004",
            "transactionDate": "170720231016",
            "transactionId": "990172014359425"
          }
        },
        "properties": {
          "dataMap": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Entidad que representa informacion complementaria de la operacion",
            "type": "object"
          },
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          }
        },
        "required": [
          "header",
          "order"
        ],
        "type": "object"
      },
      "Header": {
        "description": "Encabezado de la transaccion",
        "example": {
          "ecoreTransactionDate": "2000-01-23T04:56:07.000+00:00",
          "ecoreTransactionUUID": "ecoreTransactionUUID",
          "millis": 0
        },
        "properties": {
          "ecoreTransactionDate": {
            "description": "Fecha de la operacion",
            "format": "date-time",
            "type": "string"
          },
          "ecoreTransactionUUID": {
            "description": "Identificador unico de transaccion para ecore",
            "type": "string"
          },
          "millis": {
            "description": "Tiempo de ejecucion",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Order": {
        "description": "Entidad que representa la informacion del pedido",
        "example": {
          "actionCode": "actionCode",
          "amount": 1,
          "authorizationCode": "authorizationCode",
          "currency": "PEN",
          "externalTransactionId": "externalTransactionId",
          "originalDateTime": "originalDateTime",
          "originalTraceNumber": "originalTraceNumber",
          "purchaseNumber": "1234567890",
          "traceNumber": "00004",
          "transactionDate": "170720231016",
          "transactionId": "990172014359425"
        },
        "properties": {
          "actionCode": {
            "description": "Codigo de accion",
            "readOnly": true,
            "type": "string"
          },
          "amount": {
            "description": "Importe del pedido",
            "example": 1,
            "format": "double",
            "type": "number"
          },
          "authorizationCode": {
            "description": "Numero de la autorizacion",
            "readOnly": true,
            "type": "string"
          },
          "currency": {
            "description": "Moneda",
            "enum": [
              "PEN",
              "USD"
            ],
            "example": "PEN",
            "type": "string"
          },
          "externalTransactionId": {
            "description": "Identificador unico de la transaccion enviado por el comercio",
            "type": "string"
          },
          "originalDateTime": {
            "description": "Fecha de la transaccion original a confirmar",
            "type": "string"
          },
          "originalTraceNumber": {
            "description": "Identificador de la transaccion original a confirmar",
            "type": "string"
          },
          "purchaseNumber": {
            "description": "Numero del pedido",
            "example": "1234567890",
            "type": "string"
          },
          "traceNumber": {
            "description": "Identificador unico de la transaccion generado en la autorizacion",
            "example": "00004",
            "readOnly": true,
            "type": "string"
          },
          "transactionDate": {
            "description": "Fecha de la transaccion",
            "example": "170720231016",
            "readOnly": true,
            "type": "string"
          },
          "transactionId": {
            "description": "Identificador de la transaccion",
            "example": "990172014359425",
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency",
          "purchaseNumber",
          "transactionId"
        ],
        "type": "object"
      },
      "Sponsored": {
        "description": "Entidad que representa al comercio patrocinado",
        "example": {
          "address": "Calle Garrido y Bermejo 4, Piso 4C, Salamanca, Peru",
          "mcci": "5211",
          "merchantId": "10101010199",
          "name": "Comercio Internacional",
          "phoneNumber": "876789876"
        },
        "properties": {
          "address": {
            "description": "Direccion del comercio",
            "example": "Calle Garrido y Bermejo 4, Piso 4C, Salamanca, Peru",
            "type": "string"
          },
          "mcci": {
            "description": "MCCI Internacional",
            "example": "5211",
            "type": "string"
          },
          "merchantId": {
            "description": "Codigo del comercio",
            "example": "10101010199",
            "type": "string"
          },
          "name": {
            "description": "Nombre del comercio",
            "example": "Comercio Internacional",
            "type": "string"
          },
          "phoneNumber": {
            "description": "Numero de telefono",
            "example": "876789876",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "accessToken": {
        "description": "Access token obtained from api.security",
        "in": "header",
        "name": "Confirmation",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "description": "RESTful API to confirm transactions.",
      "name": "Confirmation Api"
    }
  ]
}