{
  "openapi": "3.0.3",
  "info": {
    "title": "Vimeo OTT API",
    "version": "1.0.0",
    "description": "The Vimeo OTT (formerly VHX) API allows you to manage products, customers, videos, collections, live events, comments, analytics, and more for your OTT video platform.",
    "x-jentic-source-url": "https://dev.vhx.tv/docs/api/"
  },
  "servers": [
    {
      "url": "https://api.vhx.tv"
    }
  ],
  "paths": {
    "/products/{id}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Retrieve a product",
        "tags": ["Products"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Product ID or href"}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Product"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List all products",
        "tags": ["Products"],
        "parameters": [
          {"name": "query", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Search query"},
          {"name": "active", "in": "query", "required": false, "schema": {"type": "boolean"}, "description": "Filter by active status"},
          {"name": "sort", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Sort order"},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}, "description": "Page number"},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 50}, "description": "Results per page"}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/products/{id}/prices": {
      "get": {
        "operationId": "listProductPrices",
        "summary": "List prices for a product",
        "tags": ["Products"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "integer"}, "description": "Product ID"}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Price"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/customers": {
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "tags": ["Customers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateCustomerRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Customer"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "get": {
        "operationId": "listCustomers",
        "summary": "List all customers",
        "tags": ["Customers"],
        "parameters": [
          {"name": "product", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Filter by product"},
          {"name": "email", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Filter by email"},
          {"name": "query", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Search query"},
          {"name": "sort", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Sort order"},
          {"name": "status", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Filter by status"},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 50}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Retrieve a customer",
        "tags": ["Customers"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}, "description": "Customer ID or href"},
          {"name": "product", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Product filter"}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Customer"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateCustomer",
        "summary": "Update a customer",
        "tags": ["Customers"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/UpdateCustomerRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Customer"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/customers/{id}/products": {
      "put": {
        "operationId": "addProductToCustomer",
        "summary": "Add product to customer",
        "tags": ["Customers"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["product"],
                "properties": {
                  "product": {"type": "string"},
                  "plan": {"type": "string"},
                  "is_rental": {"type": "boolean"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Customer"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "removeProductFromCustomer",
        "summary": "Remove product from customer",
        "tags": ["Customers"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["product"],
                "properties": {
                  "product": {"type": "string"},
                  "plan": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Customer"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/customers/{id}/watching": {
      "get": {
        "operationId": "getCustomerWatching",
        "summary": "Retrieve watching items for a customer",
        "tags": ["Customers"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/customers/{id}/watchlist": {
      "get": {
        "operationId": "getCustomerWatchlist",
        "summary": "Retrieve watchlist items",
        "tags": ["Customers"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "customer", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer"}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer"}},
          {"name": "show_all", "in": "query", "required": false, "schema": {"type": "boolean"}},
          {"name": "source_id", "in": "query", "required": false, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "addToWatchlist",
        "summary": "Add item to watchlist",
        "tags": ["Customers"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"type": "object", "required": ["customer", "video"], "properties": {"customer": {"type": "string"}, "video": {"type": "string"}}}
            }
          }
        },
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "removeFromWatchlist",
        "summary": "Remove item from watchlist",
        "tags": ["Customers"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"type": "object", "required": ["customer", "video"], "properties": {"customer": {"type": "string"}, "video": {"type": "string"}}}
            }
          }
        },
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/videos": {
      "post": {
        "operationId": "createVideo",
        "summary": "Create a video",
        "tags": ["Videos"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateVideoRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Video"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "get": {
        "operationId": "listVideos",
        "summary": "List all videos",
        "tags": ["Videos"],
        "parameters": [
          {"name": "query", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "plan", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "sort", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer", "default": 1}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer", "default": 50}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/videos/{id}": {
      "get": {
        "operationId": "getVideo",
        "summary": "Retrieve a video",
        "tags": ["Videos"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Video"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateVideo",
        "summary": "Update a video",
        "tags": ["Videos"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/UpdateVideoRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Video"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "deleteVideo",
        "summary": "Delete a video",
        "tags": ["Videos"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/videos/{id}/files": {
      "get": {
        "operationId": "listVideoFiles",
        "summary": "List video files",
        "tags": ["Videos"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "quality", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "format", "in": "query", "required": false, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/VideoFile"}}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/live_events/{id}": {
      "get": {
        "operationId": "getLiveEvent",
        "summary": "Retrieve a live event",
        "tags": ["Live Events"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LiveEvent"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/live_events": {
      "get": {
        "operationId": "listLiveEvents",
        "summary": "List all live events",
        "tags": ["Live Events"],
        "parameters": [
          {"name": "product", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "query", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "plan", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "sort", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "order", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer"}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/comments": {
      "post": {
        "operationId": "createComment",
        "summary": "Create a comment",
        "tags": ["Comments"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"type": "object", "required": ["video", "customer", "content"], "properties": {"video": {"type": "string"}, "customer": {"type": "string"}, "content": {"type": "string"}, "comment": {"type": "string", "description": "Parent comment for replies"}}}
            }
          }
        },
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "get": {
        "operationId": "listComments",
        "summary": "List all comments",
        "tags": ["Comments"],
        "parameters": [
          {"name": "video", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer"}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/comments/{id}": {
      "get": {
        "operationId": "getComment",
        "summary": "Retrieve a comment",
        "tags": ["Comments"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/comments/{id}/report": {
      "post": {
        "operationId": "reportComment",
        "summary": "Report a comment",
        "tags": ["Comments"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/collections": {
      "post": {
        "operationId": "createCollection",
        "summary": "Create a collection",
        "tags": ["Collections"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateCollectionRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Collection"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "get": {
        "operationId": "listCollections",
        "summary": "List all collections",
        "tags": ["Collections"],
        "parameters": [
          {"name": "type", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "product", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "query", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "plan", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "sort", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "active", "in": "query", "required": false, "schema": {"type": "boolean"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer"}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/collections/{id}": {
      "get": {
        "operationId": "getCollection",
        "summary": "Retrieve a collection",
        "tags": ["Collections"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "product", "in": "query", "required": false, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Collection"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "updateCollection",
        "summary": "Update a collection",
        "tags": ["Collections"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateCollectionRequest"}}}
        },
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Collection"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/collections/{id}/items": {
      "get": {
        "operationId": "listCollectionItems",
        "summary": "List collection items",
        "tags": ["Collections"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "query", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "type", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "sort", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer"}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "put": {
        "operationId": "addCollectionItem",
        "summary": "Add item to collection",
        "tags": ["Collections"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "content": {"application/json": {"schema": {"type": "object", "properties": {"video_id": {"type": "string"}, "collection_id": {"type": "string"}, "file_id": {"type": "string"}}}}}
        },
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      },
      "delete": {
        "operationId": "removeCollectionItem",
        "summary": "Remove item from collection",
        "tags": ["Collections"],
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "content": {"application/json": {"schema": {"type": "object", "properties": {"video_id": {"type": "string"}, "collection_id": {"type": "string"}, "file_id": {"type": "string"}}}}}
        },
        "responses": {
          "204": {"description": "No content"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/browse": {
      "get": {
        "operationId": "listBrowseItems",
        "summary": "List browse items",
        "tags": ["Browse"],
        "parameters": [
          {"name": "product", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "page", "in": "query", "required": false, "schema": {"type": "integer"}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaginatedResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/authorizations": {
      "post": {
        "operationId": "createAuthorization",
        "summary": "Create an authorization",
        "tags": ["Authorizations"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"type": "object", "required": ["customer", "video"], "properties": {"customer": {"type": "string"}, "video": {"type": "string"}}}
            }
          }
        },
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/analytics": {
      "get": {
        "operationId": "getAnalytics",
        "summary": "Retrieve analytics report",
        "tags": ["Analytics"],
        "parameters": [
          {"name": "type", "in": "query", "required": true, "schema": {"type": "string"}, "description": "Report type"},
          {"name": "by", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "from", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "to", "in": "query", "required": false, "schema": {"type": "string", "format": "date"}},
          {"name": "video_id", "in": "query", "required": false, "schema": {"type": "string"}},
          {"name": "per_page", "in": "query", "required": false, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {"description": "Successful response"},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "401": {"description": "Unauthorized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "name": {"type": "string"},
          "description": {"type": "string"},
          "thumbnail": {"type": "object", "properties": {"small": {"type": "string"}, "medium": {"type": "string"}, "large": {"type": "string"}}},
          "is_active": {"type": "boolean"},
          "created_at": {"type": "string", "format": "date-time"},
          "updated_at": {"type": "string", "format": "date-time"}
        }
      },
      "Price": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "amount": {"type": "number"},
          "currency": {"type": "string"},
          "interval": {"type": "string"}
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "email": {"type": "string"},
          "name": {"type": "string"},
          "created_at": {"type": "string", "format": "date-time"},
          "updated_at": {"type": "string", "format": "date-time"}
        }
      },
      "CreateCustomerRequest": {
        "type": "object",
        "required": ["email", "product"],
        "properties": {
          "email": {"type": "string"},
          "product": {"type": "string"},
          "expires_in": {"type": "integer"},
          "is_rental": {"type": "boolean"},
          "name": {"type": "string"},
          "password": {"type": "string"},
          "plan": {"type": "string"},
          "send_email": {"type": "boolean"}
        }
      },
      "UpdateCustomerRequest": {
        "type": "object",
        "properties": {
          "name": {"type": "string"},
          "password": {"type": "string"}
        }
      },
      "Video": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "title": {"type": "string"},
          "description": {"type": "string"},
          "short_description": {"type": "string"},
          "url": {"type": "string"},
          "thumbnail_url": {"type": "string"},
          "is_commenting_enabled": {"type": "boolean"},
          "created_at": {"type": "string", "format": "date-time"},
          "updated_at": {"type": "string", "format": "date-time"}
        }
      },
      "CreateVideoRequest": {
        "type": "object",
        "required": ["title", "plans"],
        "properties": {
          "title": {"type": "string"},
          "source_url": {"type": "string"},
          "thumbnail_url": {"type": "string"},
          "description": {"type": "string"},
          "short_description": {"type": "string"},
          "url": {"type": "string"},
          "plans": {"type": "array", "items": {"type": "string"}},
          "canonical_collection": {"type": "string"},
          "time_available": {"type": "string", "format": "date-time"},
          "time_unavailable": {"type": "string", "format": "date-time"},
          "geo_available": {"type": "string"},
          "geo_unavailable": {"type": "string"},
          "is_commenting_enabled": {"type": "boolean"},
          "metadata": {"type": "object"}
        }
      },
      "UpdateVideoRequest": {
        "type": "object",
        "properties": {
          "title": {"type": "string"},
          "description": {"type": "string"},
          "short_description": {"type": "string"},
          "thumbnail_url": {"type": "string"},
          "url": {"type": "string"},
          "plans": {"type": "array", "items": {"type": "string"}},
          "is_commenting_enabled": {"type": "boolean"},
          "metadata": {"type": "object"}
        }
      },
      "VideoFile": {
        "type": "object",
        "properties": {
          "quality": {"type": "string"},
          "format": {"type": "string"},
          "url": {"type": "string"},
          "size": {"type": "integer"}
        }
      },
      "LiveEvent": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "title": {"type": "string"},
          "description": {"type": "string"},
          "status": {"type": "string"},
          "created_at": {"type": "string", "format": "date-time"}
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "name": {"type": "string"},
          "description": {"type": "string"},
          "type": {"type": "string"},
          "is_featured": {"type": "boolean"},
          "created_at": {"type": "string", "format": "date-time"},
          "updated_at": {"type": "string", "format": "date-time"}
        }
      },
      "CreateCollectionRequest": {
        "type": "object",
        "required": ["type", "name"],
        "properties": {
          "type": {"type": "string"},
          "name": {"type": "string"},
          "description": {"type": "string"},
          "thumbnail_url": {"type": "string"},
          "plans": {"type": "array", "items": {"type": "string"}},
          "is_featured": {"type": "boolean"},
          "metadata": {"type": "object"}
        }
      },
      "UpdateCollectionRequest": {
        "type": "object",
        "properties": {
          "name": {"type": "string"},
          "description": {"type": "string"},
          "slug": {"type": "string"},
          "thumbnail_url": {"type": "string"},
          "is_featured": {"type": "boolean"},
          "metadata": {"type": "object"}
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "_embedded": {"type": "object"},
          "count": {"type": "integer"},
          "total": {"type": "integer"},
          "_links": {"type": "object"}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {"type": "string"},
          "status": {"type": "integer"}
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using API Key as username with no password"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}
