{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://app.orbit.love/api/v1"
    }
  ],
  "info": {
    "description": "Please see the complete Orbit API documentation at [https://api.orbit.love/](https://api.orbit.love/).",
    "title": "Orbit API",
    "version": "v1",
    "x-apisguru-categories": [
      "customer_relation"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_avatars.githubusercontent.com_u_55637052.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://app.orbit.love/api-docs/v1/swagger.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "orbit.love",
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/orbit.love/v1/openapi.yaml",
    "contact": {}
  },
  "tags": [
    {
      "name": "Activity Types"
    },
    {
      "name": "Activities"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Members"
    },
    {
      "name": "Notes"
    },
    {
      "name": "Organizations"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Users"
    },
    {
      "name": "Workspaces"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "attributes": {
                      "created_at": "2023-02-28 19:20:37.508000+00:00",
                      "email": "pia.hettinger@zulauf.name",
                      "name": "MrsHellenCorkery",
                      "updated_at": "2023-02-28 19:20:37.508000+00:00"
                    },
                    "id": "Ze1FV4",
                    "type": "user"
                  }
                }
              }
            },
            "description": "success"
          },
          "401": {
            "description": "unauthorized"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get info about the current user",
        "tags": [
          "Users"
        ],
        "description": "Get info about the current user",
        "operationId": "get-user"
      }
    },
    "/workspaces": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "created_at": "2023-02-28 19:21:15.556000+00:00",
                        "name": "Fake Workspace",
                        "slug": "fake-workspace",
                        "updated_at": "2023-02-28 19:21:15.565000+00:00"
                      },
                      "id": "15Vt67",
                      "relationships": {
                        "repositories": {
                          "data": []
                        }
                      },
                      "type": "workspace"
                    }
                  ],
                  "included": []
                }
              }
            },
            "description": "success"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get all workspaces for the current user",
        "tags": [
          "Workspaces"
        ],
        "description": "Get all workspaces for the current user",
        "operationId": "get-workspaces"
      }
    },
    "/workspaces/{workspace_slug}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Include the number of members by Orbit Level in the attributes",
            "in": "query",
            "name": "include_orbit_level_counts",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "attributes": {
                      "activities_count": 1,
                      "created_at": "2023-02-28 19:21:15.825000+00:00",
                      "members_count": 1,
                      "name": "Fake Workspace",
                      "orbit_level_counts": {
                        "1": 0,
                        "2": 0,
                        "3": 1,
                        "4": 2
                      },
                      "slug": "fake-workspace",
                      "tags": {},
                      "updated_at": "2023-02-28 19:21:15.916000+00:00"
                    },
                    "id": "PvetbL",
                    "relationships": {
                      "last_activity": {
                        "data": {
                          "id": "ZPosrL",
                          "type": "pull_request_activity"
                        }
                      },
                      "last_member": {
                        "data": {
                          "id": "rmMS98",
                          "type": "member"
                        }
                      },
                      "repositories": {
                        "data": []
                      }
                    },
                    "type": "workspace"
                  },
                  "included": [
                    {
                      "attributes": {
                        "activities_count": 0,
                        "activities_score": 0,
                        "avatar_url": "http://github.com/avatar.png",
                        "bio": null,
                        "birthday": null,
                        "company": null,
                        "created": false,
                        "created_at": "2023-02-28 19:21:15.894000+00:00",
                        "deleted_at": null,
                        "devto": null,
                        "discord": null,
                        "discourse": null,
                        "email": null,
                        "first_activity_occurred_at": null,
                        "github": null,
                        "github_followers": null,
                        "id": "rmMS98",
                        "languages": null,
                        "last_activity_occurred_at": null,
                        "linkedin": null,
                        "location": null,
                        "love": null,
                        "merged_at": null,
                        "name": "RobertoRunolfsdottir",
                        "orbit_level": null,
                        "orbit_url": "http://localhost:3000/fake-workspace/members/robertorunolfsdottir",
                        "pronouns": null,
                        "reach": 0,
                        "shipping_address": null,
                        "slug": "robertorunolfsdottir",
                        "source": "installation",
                        "tag_list": [],
                        "tags": [],
                        "teammate": false,
                        "title": null,
                        "topics": null,
                        "tshirt": null,
                        "twitter": null,
                        "twitter_followers": null,
                        "updated_at": "2023-02-28 19:21:15.894000+00:00",
                        "url": null
                      },
                      "id": "rmMS98",
                      "relationships": {
                        "identities": {
                          "data": []
                        },
                        "organizations": {
                          "data": []
                        }
                      },
                      "type": "member"
                    },
                    {
                      "attributes": {
                        "action": "opened",
                        "activity_link": "https://github.com/",
                        "created_at": "2023-02-28 19:21:15.896000+00:00",
                        "g_created_at": "2023-02-28 20:21:15.886000+01:00",
                        "g_html_url": "https://github.com/",
                        "g_merged": false,
                        "g_merged_at": null,
                        "g_merged_by": null,
                        "g_number": 53,
                        "g_title": "Here is some new code",
                        "is_pull_request": null,
                        "key": "carol/donnette#53",
                        "occurred_at": "2023-02-28 19:21:15.886000+00:00",
                        "orbit_url": "http://localhost:3000/fake-workspace/activities/ZPosrL",
                        "properties": {
                          "github_organization": "carol",
                          "github_pull_request": "carol/donnette/#53",
                          "github_repository": "carol/donnette"
                        },
                        "tags": [
                          "channel:github",
                          "github_organization:carol",
                          "github_repository:carol/donnette",
                          "github_pull_request:carol/donnette/#53"
                        ],
                        "type": "PullRequestActivity",
                        "updated_at": "2023-02-28 19:21:15.896000+00:00",
                        "weight": "1.0"
                      },
                      "id": "ZPosrL",
                      "relationships": {
                        "activity_type": {
                          "data": {
                            "id": "oWVsm9",
                            "type": "activity_type"
                          }
                        },
                        "member": {
                          "data": {
                            "id": "rmMS98",
                            "type": "member"
                          }
                        },
                        "repository": {
                          "data": {
                            "id": "6eeTk6",
                            "type": "repository"
                          }
                        }
                      },
                      "type": "pull_request_activity"
                    }
                  ]
                }
              }
            },
            "description": "success"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get a workspace",
        "tags": [
          "Workspaces"
        ],
        "description": "Get a workspace",
        "operationId": "get-workspaces-by-workspace-slug"
      }
    },
    "/{workspace_slug}/activities": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "affiliation",
            "schema": {
              "enum": [
                "member",
                "teammate"
              ],
              "type": "string"
            }
          },
          {
            "description": "The list of tags to filter against. Separate tags with `,` to do an intersection (AND), or with `|` to do a union (OR)",
            "in": "query",
            "name": "member_tags",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The list of orbit levels to filter against. Accepted values are 1, 2, 3, 4, n. In the request, a format like `23` would include levels 2 and 3. `n` is for members with no orbit level.",
            "in": "query",
            "name": "orbit",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of activity types",
            "in": "query",
            "name": "activity_type",
            "schema": {
              "enum": [
                "discourse:topic:created",
                "discourse:post:liked",
                "discourse:user:created",
                "discourse:post:created",
                "slack:message:sent",
                "slack:thread:replied",
                "slack:channel:joined",
                "note:created",
                "post:created",
                "issues:opened",
                "discord:message:sent",
                "issue_comment:created",
                "discord:thread:replied",
                "custom:happened",
                "dev:comment",
                "discord:message:replied",
                "discord:server:joined",
                "insided:conversation:started",
                "fork:created",
                "insided:idea:replied",
                "insided:article:created",
                "discussions:discussion_created",
                "insided:question:replied",
                "discussions:comment",
                "discussions:reply",
                "insided:article:replied",
                "insided:question:asked",
                "insided:conversation:replied",
                "insided:idea:submitted",
                "reddit:comment",
                "reddit:post",
                "stackoverflow:answer",
                "linkedin:comment",
                "pull_requests:opened",
                "pull_requests:merged",
                "star:created",
                "stackoverflow:question",
                "tweet:sent",
                "twitter:followed",
                "youtube:comment"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "identity",
            "schema": {
              "enum": [
                "github",
                "twitter",
                "email",
                "discourse",
                "linkedin",
                "devto",
                "slack",
                "discord"
              ],
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of companies. The union (OR) of companies is applied.",
            "in": "query",
            "name": "company[]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of job titles. The union (OR) of job titles is applied.",
            "in": "query",
            "name": "title[]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of regions. The union (OR) of regions is applied.",
            "in": "query",
            "name": "regions[]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of countries. The union (OR) of countries is applied.",
            "in": "query",
            "name": "countries[]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of cities. The union (OR) of cities is applied.",
            "in": "query",
            "name": "cities[]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter activities after this date. Format: YYYY-MM-DD.",
            "in": "query",
            "name": "start_date",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter activities before this date. Format: YYYY-MM-DD.",
            "in": "query",
            "name": "end_date",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Relative timeframes. Format: this_<integer>_<period>, with period in [days, weeks, months, years]. For example, this_30_days.",
            "in": "query",
            "name": "relative",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "enum": [
                "ASC",
                "DESC"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "enum": [
                "10",
                "50",
                "100"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "enum": [
                "occurred_at",
                "member"
              ],
              "type": "string"
            }
          },
          {
            "deprecated": true,
            "description": "Deprecated in favor of the activity_type parameter.",
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "action": "opened",
                        "activity_link": "https://github.com/",
                        "created_at": "2023-02-28 19:20:38.155000+00:00",
                        "g_created_at": "2023-02-28 20:20:38.152000+01:00",
                        "g_html_url": "https://github.com/",
                        "g_number": 9,
                        "g_title": "Cool issue title!",
                        "is_pull_request": null,
                        "key": "makeda/eugenio#9",
                        "occurred_at": "2023-02-28 19:20:38.152000+00:00",
                        "orbit_url": "http://localhost:3000/stacierau/activities/63rsLp",
                        "properties": {
                          "github_issue": "makeda/eugenio/#9",
                          "github_organization": "makeda",
                          "github_repository": "makeda/eugenio"
                        },
                        "tags": [
                          "channel:github",
                          "github_organization:makeda",
                          "github_repository:makeda/eugenio",
                          "github_issue:makeda/eugenio/#9"
                        ],
                        "type": "IssueActivity",
                        "updated_at": "2023-02-28 19:20:38.155000+00:00",
                        "weight": "1.0"
                      },
                      "id": "63rsLp",
                      "relationships": {
                        "activity_type": {
                          "data": {
                            "id": "la4sVD",
                            "type": "activity_type"
                          }
                        },
                        "member": {
                          "data": {
                            "id": "By3S5j",
                            "type": "member"
                          }
                        },
                        "repository": {
                          "data": {
                            "id": "jP8TMj",
                            "type": "repository"
                          }
                        }
                      },
                      "type": "issue_activity"
                    },
                    {
                      "attributes": {
                        "action": "opened",
                        "activity_link": "https://github.com/",
                        "created_at": "2023-02-28 19:20:38.097000+00:00",
                        "g_created_at": "2023-02-28 20:20:38.088000+01:00",
                        "g_html_url": "https://github.com/",
                        "g_merged": true,
                        "g_merged_at": null,
                        "g_merged_by": null,
                        "g_number": 92,
                        "g_title": "Cool PR title!",
                        "is_pull_request": null,
                        "key": "carlos/julianfisher#92",
                        "occurred_at": "2023-02-28 19:20:38.088000+00:00",
                        "orbit_url": "http://localhost:3000/stacierau/activities/V5YsvV",
                        "properties": {
                          "github_organization": "carlos",
                          "github_pull_request": "carlos/julianfisher/#92",
                          "github_repository": "carlos/julianfisher"
                        },
                        "tags": [
                          "channel:github",
                          "github_organization:carlos",
                          "github_repository:carlos/julianfisher",
                          "github_pull_request:carlos/julianfisher/#92"
                        ],
                        "type": "PullRequestActivity",
                        "updated_at": "2023-02-28 19:20:38.097000+00:00",
                        "weight": "1.0"
                      },
                      "id": "V5YsvV",
                      "relationships": {
                        "activity_type": {
                          "data": {
                            "id": "lnrs0l",
                            "type": "activity_type"
                          }
                        },
                        "member": {
                          "data": {
                            "id": "By3S5j",
                            "type": "member"
                          }
                        },
                        "repository": {
                          "data": {
                            "id": "6l3Tz9",
                            "type": "repository"
                          }
                        }
                      },
                      "type": "pull_request_activity"
                    },
                    {
                      "attributes": {
                        "action": "spec_action",
                        "created_at": "2023-02-28 19:20:38.013000+00:00",
                        "key": "cl\u00e9",
                        "occurred_at": "2023-02-28 19:20:38.011000+00:00",
                        "orbit_url": "http://localhost:3000/stacierau/activities/6a4sBp",
                        "properties": {
                          "prop_1": "value_1",
                          "prop_2": "value_2"
                        },
                        "tags": [
                          "spec-tag-1",
                          "spec-tag-2"
                        ],
                        "type": "SpecActivity",
                        "updated_at": "2023-02-28 19:20:38.013000+00:00",
                        "weight": "1.0"
                      },
                      "id": "6a4sBp",
                      "relationships": {
                        "activity_type": {
                          "data": {
                            "id": "D2Esq5",
                            "type": "activity_type"
                          }
                        },
                        "member": {
                          "data": {
                            "id": "By3S5j",
                            "type": "member"
                          }
                        },
                        "repository": {
                          "data": {
                            "id": "jBlTg9",
                            "type": "repository"
                          }
                        }
                      },
                      "type": "spec_activity"
                    }
                  ],
                  "included": [
                    {
                      "attributes": {
                        "channel": "github",
                        "key": "issues:opened",
                        "name": "Opened an issue",
                        "short_name": "Issue opened",
                        "source": "github",
                        "weight": "6.0"
                      },
                      "id": "la4sVD",
                      "type": "activity_type"
                    },
                    {
                      "attributes": {
                        "activities_count": 0,
                        "activities_score": 0,
                        "avatar_url": "http://github.com/avatar.png",
                        "bio": null,
                        "birthday": null,
                        "company": null,
                        "created": false,
                        "created_at": "2023-02-28 19:20:37.968000+00:00",
                        "deleted_at": null,
                        "devto": null,
                        "discord": null,
                        "discourse": null,
                        "email": null,
                        "first_activity_occurred_at": null,
                        "github": null,
                        "github_followers": null,
                        "id": "By3S5j",
                        "languages": null,
                        "last_activity_occurred_at": null,
                        "linkedin": null,
                        "location": null,
                        "love": null,
                        "merged_at": null,
                        "name": "WaylonOsinski",
                        "orbit_level": null,
                        "orbit_url": "http://localhost:3000/stacierau/members/waylonosinski",
                        "pronouns": null,
                        "reach": 0,
                        "shipping_address": null,
                        "slug": "waylonosinski",
                        "source": "installation",
                        "tag_list": [
                          "ruby"
                        ],
                        "tags": [
                          "ruby"
                        ],
                        "teammate": false,
                        "title": null,
                        "topics": null,
                        "tshirt": null,
                        "twitter": null,
                        "twitter_followers": null,
                        "updated_at": "2023-02-28 19:20:37.968000+00:00",
                        "url": null
                      },
                      "id": "By3S5j",
                      "relationships": {
                        "identities": {
                          "data": []
                        },
                        "organizations": {
                          "data": []
                        }
                      },
                      "type": "member"
                    },
                    {
                      "attributes": {
                        "created_at": "2023-02-28 19:20:38.151000+00:00",
                        "full_name": "karitremblay/alia",
                        "name": "alia",
                        "owner": "karitremblay",
                        "updated_at": "2023-02-28 19:20:38.151000+00:00"
                      },
                      "id": "jP8TMj",
                      "type": "repository"
                    },
                    {
                      "attributes": {
                        "channel": "mysource",
                        "key": "spec:happened:1",
                        "name": "praise Mysource 3",
                        "short_name": "Spec Channel",
                        "source": "mysource",
                        "weight": "1.0"
                      },
                      "id": "lnrs0l",
                      "type": "activity_type"
                    },
                    {
                      "attributes": {
                        "created_at": "2023-02-28 19:20:38.078000+00:00",
                        "full_name": "cedric/heike",
                        "name": "heike",
                        "owner": "cedric",
                        "updated_at": "2023-02-28 19:20:38.078000+00:00"
                      },
                      "id": "6l3Tz9",
                      "type": "repository"
                    },
                    {
                      "attributes": {
                        "channel": "mysource",
                        "key": "spec_activity_type_key",
                        "name": "win Mysource 2",
                        "short_name": "Spec Channel",
                        "source": "mysource",
                        "weight": "1.0"
                      },
                      "id": "D2Esq5",
                      "type": "activity_type"
                    },
                    {
                      "attributes": {
                        "created_at": "2023-02-28 19:20:37.992000+00:00",
                        "full_name": "orbit-love/orbit-model",
                        "name": "natalya",
                        "owner": "jacintoraynor",
                        "updated_at": "2023-02-28 19:20:37.992000+00:00"
                      },
                      "id": "jBlTg9",
                      "type": "repository"
                    }
                  ],
                  "links": {
                    "first": "http://localhost:3000/api/v1/stacierau/activities?activity_type=&affiliation=&cities%5B%5D=&company%5B%5D=&countries%5B%5D=&direction=DESC&end_date=&filters=true&identity=&items=10&member_tags=&orbit=&page=1&regions%5B%5D=&relative=&sort=occurred_at&start_date=&title%5B%5D=&workspace=stacierau",
                    "next": null,
                    "prev": null
                  }
                }
              }
            },
            "description": "success"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "List activities for a workspace",
        "tags": [
          "Activities"
        ],
        "description": "List activities for a workspace",
        "operationId": "get-by-workspace-slug-activities"
      },
      "post": {
        "description": "Use this method when you know an identity of the member (github, email, twitter, etc.) but not their Orbit ID. Pass fields in the member object to update the member in addition to creating the activity.",
        "parameters": [
          {
            "in": "path",
            "name": "workspace_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/activity_and_identity"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "attributes": {
                      "action": "happened",
                      "created_at": "2023-02-28 19:20:41.694000+00:00",
                      "custom_context": null,
                      "custom_description": "More info about the thing",
                      "custom_link": "http://link.com/",
                      "custom_link_text": "See the thing",
                      "custom_title": "Did a thing",
                      "custom_type": "custom-type",
                      "key": "thing-123",
                      "occurred_at": "2023-02-28 19:20:41.689000+00:00",
                      "orbit_url": "http://localhost:3000/chassidymertz/activities/6zoslV",
                      "properties": {},
                      "tags": [
                        "product",
                        "enterprise",
                        "channel:custom",
                        "custom_type:custom-type",
                        "custom_title:did-a-thing"
                      ],
                      "type": "CustomActivity",
                      "updated_at": "2023-02-28 19:20:41.694000+00:00",
                      "weight": "0.2"
                    },
                    "id": "6zoslV",
                    "relationships": {
                      "activity_type": {
                        "data": {
                          "id": "574seD",
                          "type": "activity_type"
                        }
                      },
                      "member": {
                        "data": {
                          "id": "r9nS0B",
                          "type": "member"
                        }
                      },
                      "user": {
                        "data": {
                          "id": "DXKFEz",
                          "type": "user"
                        }
                      }
                    },
                    "type": "custom_activity"
                  },
                  "included": [
                    {
                      "attributes": {
                        "channel": "custom",
                        "key": "custom:happened",
                        "name": "Something happened",
                        "short_name": "Custom",
                        "source": "custom",
                        "weight": "1.0"
                      },
                      "id": "574seD",
                      "type": "activity_type"
                    },
                    {
                      "attributes": {
                        "email": null,
                        "name": "Josh Dzielak",
                        "source": "twitter",
                        "source_host": "twitter.com",
                        "uid": "45297280",
                        "username": "dzello"
                      },
                      "id": "3YETv3",
                      "type": "twitter_identity"
                    },
                    {
                      "attributes": {
                        "activities_count": 0,
                        "activities_score": 0,
                        "avatar_url": "https://pbs.twimg.com/profile_images/1110162582143406080/vu7_kN8f.png",
                        "bio": "<a href='https://dzello.com/blog/2020/05/30/black-lives-matter/' target='_blank'>dzello.com/blog/2020/05/3\u2026</a> Co-founder & CTO @OrbitModel \u00b7 advocate for dev advocates \ud83e\udd51 \u00b7 formerly @algolia and @keen_io \u00b7 Ruby \u00b7 Rails \u00b7 JAMstack \u00b7 he/him",
                        "birthday": null,
                        "company": null,
                        "created": true,
                        "created_at": "2023-02-28 19:20:41.604000+00:00",
                        "deleted_at": null,
                        "devto": null,
                        "discord": null,
                        "discourse": null,
                        "email": null,
                        "first_activity_occurred_at": null,
                        "github": null,
                        "github_followers": null,
                        "id": "r9nS0B",
                        "languages": null,
                        "last_activity_occurred_at": null,
                        "linkedin": null,
                        "location": "Paris, France",
                        "love": null,
                        "merged_at": null,
                        "name": "Josh Dzielak",
                        "orbit_level": null,
                        "orbit_url": "http://localhost:3000/chassidymertz/members/dzello",
                        "pronouns": null,
                        "reach": 8,
                        "shipping_address": null,
                        "slug": "dzello",
                        "source": "api",
                        "tag_list": [
                          "one",
                          "two"
                        ],
                        "tags": [
                          "one",
                          "two"
                        ],
                        "teammate": false,
                        "title": null,
                        "topics": null,
                        "tshirt": null,
                        "twitter": "dzello",
                        "twitter_followers": 4598,
                        "updated_at": "2023-02-28 19:20:41.627000+00:00",
                        "url": "https://dzello.com/blog/2020/05/30/black-lives-matter/"
                      },
                      "id": "r9nS0B",
                      "relationships": {
                        "identities": {
                          "data": [
                            {
                              "id": "3YETv3",
                              "type": "twitter_identity"
                            }
                          ]
                        },
                        "organizations": {
                          "data": []
                        }
                      },
                      "type": "member"
                    },
                    {
                      "attributes": {
                        "created_at": "2023-02-28 19:20:41.523000+00:00",
                        "name": "LoreleiSchmelerIV",
                        "updated_at": "2023-02-28 19:20:41.528000+00:00"
                      },
                      "id": "DXKFEz",
                      "type": "user"
                    }
                  ]
                }
              }
            },
            "description": "success"
          },
          "403": {
            "description": "forbidden"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "errors": {
                    "base": [
                      "Either identity or member name, email, GitHub, Twitter or Discourse is required"
                    ]
                  }
                }
              }
            },
            "description": "unprocessable"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create a Custom or a Content activity for a new or existing member",
        "tags": [
          "Activities"
        ],
        "operationId": "post-by-workspace-slug-activities"
      }
    },
    "/{workspace_slug}/activities/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "attributes": {
                      "action": "spec_action",
                      "created_at": "2023-02-28 19:20:40.750000+00:00",
                      "key": "cl\u00e9",
                      "occurred_at": "2023-02-28 19:20:40.744000+00:00",
                      "orbit_url": "http://localhost:3000/jamatremblaymd/activities/ZPosjV",
                      "properties": {
                        "prop_1": "value_1",
                        "prop_2": "value_2"
                      },
                      "tags": [
                        "spec-tag-1",
                        "spec-tag-2"
                      ],
                      "type": "SpecActivity",
                      "updated_at": "2023-02-28 19:20:40.750000+00:00",
                      "weight": "1.0"
                    },
                    "id": "ZPosjV",
                    "relationships": {
                      "activity_type": {
                        "data": {
                          "id": "D3jsky",
                          "type": "activity_type"
                        }
                      },
                      "member": {
                        "data": {
                          "id": "rmMSRr",
                          "type": "member"
                        }
                      },
                      "repository": {
                        "data": {
                          "id": "9ABTo6",
                          "type": "repository"
                        }
                      },
                      "user": {
                        "data": {
                          "id": "OA3F51",
                          "type": "user"
                        }
                      }
                    },
                    "type": "spec_activity"
                  },
                  "included": [
                    {
                      "attributes": {
                        "channel": "mysource",
                        "key": "spec:happened:9",
                        "name": "savvy Mysource 29",
                        "short_name": "Spec Channel",
                        "source": "mysource",
                        "weight": "1.0"
                      },
                      "id": "D3jsky",
                      "type": "activity_type"
                    },
                    {
                      "attributes": {
                        "activities_count": 0,
                        "activities_score": 0,
                        "avatar_url": "http://github.com/avatar.png",
                        "bio": null,
                        "birthday": null,
                        "company": null,
                        "created": false,
                        "created_at": "2023-02-28 19:20:40.748000+00:00",
                        "deleted_at": null,
                        "devto": null,
                        "discord": null,
                        "discourse": null,
                        "email": null,
                        "first_activity_occurred_at": null,
                        "github": null,
                        "github_followers": null,
                        "id": "rmMSRr",
                        "languages": null,
                        "last_activity_occurred_at": null,
                        "linkedin": null,
                        "location": null,
                        "love": null,
                        "merged_at": null,
                        "name": "KelleeMcLaughlin",
                        "orbit_level": null,
                        "orbit_url": "http://localhost:3000/jamatremblaymd/members/kelleemclaughlin",
                        "pronouns": null,
                        "reach": 0,
                        "shipping_address": null,
                        "slug": "kelleemclaughlin",
                        "source": "installation",
                        "tag_list": [],
                        "tags": [],
                        "teammate": false,
                        "title": null,
                        "topics": null,
                        "tshirt": null,
                        "twitter": null,
                        "twitter_followers": null,
                        "updated_at": "2023-02-28 19:20:40.748000+00:00",
                        "url": null
                      },
                      "id": "rmMSRr",
                      "relationships": {
                        "identities": {
                          "data": []
                        },
                        "organizations": {
                          "data": []
                        }
                      },
                      "type": "member"
                    },
                    {
                      "attributes": {
                        "created_at": "2023-02-28 19:20:40.713000+00:00",
                        "full_name": "corneliusokon/morristremblay",
                        "name": "morristremblay",
                        "owner": "corneliusokon",
                        "updated_at": "2023-02-28 19:20:40.713000+00:00"
                      },
                      "id": "9ABTo6",
                      "type": "repository"
                    },
                    {
                      "attributes": {
                        "created_at": "2023-02-28 19:20:40.691000+00:00",
                        "name": "ErvinReilly",
                        "updated_at": "2023-02-28 19:20:40.695000+00:00"
                      },
                      "id": "OA3F51",
                      "type": "user"
                    }
                  ]
                }
              }
            },
            "description": "success"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get an activity in the workspace",
        "tags": [
          "Activities"
        ],
        "description": "Get an activity in the workspace",
        "operationId": "get-by-workspace-slug-activities-by-id"
      }
    },
    "/{workspace_slug}/activity_types": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "channel": "content",
                        "key": "post:created",
                        "name": "Created content",
                        "short_name": "Content created",
                        "source": "content",
                        "weight": "1.0"
                      },
                      "id": "5Gds1O",
                      "type": "activity_type"
                    },
                    {
                      "attributes": {
                        "channel": "product",
                        "key": "activated_account",
                        "name": "Activated their account on product",
                        "short_name": "Activated account",
                        "source": "product",
                        "weight": "6.0"
                      },
                      "id": "DOnsmL",
                      "type": "activity_type"
                    }
                  ],
                  "links": {
                    "first": "/mrsdaronpowlowski/activity_types?page=1",
                    "last": "/mrsdaronpowlowski/activity_types?page=1",
                    "next": null,
                    "prev": null
                  }
                }
              }
            },
            "description": "success"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "List all activity types for a workspace",
        "tags": [
          "Activity Types"
        ],
        "description": "List all activity types for a workspace",
        "operationId": "get-by-workspace-slug-activity-types"
      }
    },
    "/{workspace_slug}/members": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "affiliation",
            "schema": {
              "enum": [
                "member",
                "teammate"
              ],
              "type": "string"
            }
          },
          {
            "description": "The list of tags to filter against. Separate tags with `,` to do an intersection (AND), or with `|` to do a union (OR)",
            "in": "query",
            "name": "member_tags",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The list of orbit levels to filter against. Accepted values are 1, 2, 3, 4, n. In the request, a format like `23` would include levels 2 and 3. `n` is for members with no orbit level.",
            "in": "query",
            "name": "orbit",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of activity types",
            "in": "query",
            "name": "activity_type",
            "schema": {
              "enum": [
                "discourse:topic:created",
                "discourse:post:liked",
                "discourse:user:created",
                "discourse:post:created",
                "slack:message:sent",
                "slack:thread:replied",
                "slack:channel:joined",
                "note:created",
                "post:created",
                "issues:opened",
                "discord:message:sent",
                "issue_comment:created",
                "discord:thread:replied",
                "custom:happened",
                "dev:comment",
                "discord:message:replied",
                "discord:server:joined",
                "insided:conversation:started",
                "fork:created",
                "insided:idea:replied",
                "insided:article:created",
                "discussions:discussion_created",
                "insided:question:replied",
                "discussions:comment",
                "discussions:reply",
                "insided:article:replied",
                "insided:question:asked",
                "insided:conversation:replied",
                "insided:idea:submitted",
                "reddit:comment",
                "reddit:post",
                "stackoverflow:answer",
                "linkedin:comment",
                "pull_requests:opened",
                "pull_requests:merged",
                "star:created",
                "stackoverflow:question",
                "tweet:sent",
                "twitter:followed",
                "youtube:comment"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "identity",
            "schema": {
              "enum": [
                "github",
                "twitter",
                "email",
                "discourse",
                "linkedin",
                "devto",
                "slack",
                "discord"
              ],
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of companies. The union (OR) of companies is applied.",
            "in": "query",
            "name": "company[]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of job titles. The union (OR) of job titles is applied.",
            "in": "query",
            "name": "title[]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of regions. The union (OR) of regions is applied.",
            "in": "query",
            "name": "regions[]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of countries. The union (OR) of countries is applied.",
            "in": "query",
            "name": "countries[]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of cities. The union (OR) of cities is applied.",
            "in": "query",
            "name": "cities[]",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter activities after this date. Format: YYYY-MM-DD.",
            "in": "query",
            "name": "start_date",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter activities before this date. Format: YYYY-MM-DD.",
            "in": "query",
            "name": "end_date",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Relative timeframes. Format: this_<integer>_<period>, with period in [days, weeks, months, years]. For example, this_30_days.",
            "in": "query",
            "name": "relative",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "enum": [
                "ASC",
                "DESC"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "enum": [
                "10",
                "50",
                "100"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "activities_count_min",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "activities_count_max",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "enum": [
                "activities_count",
                "company",
                "created_at",
                "first_activity",
                "github_followers",
                "id",
                "last_activity",
                "location",
                "love",
                "name",
                "orbit",
                "reach",
                "title",
                "twitter_followers",
                "updated_at"
              ],
              "type": "string"
            }
          },
          {
            "deprecated": true,
            "description": "Deprecated in favor of the activity_type parameter.",
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "activities_count": 2,
                        "activities_score": 2,
                        "avatar_url": "http://github.com/avatar.png",
                        "bio": null,
                        "birthday": null,
                        "company": null,
                        "created": false,
                        "created_at": "2023-02-28 19:20:49.655000+00:00",
                        "deleted_at": null,
                        "devto": null,
                        "discord": null,
                        "discourse": null,
                        "email": null,
                        "first_activity_occurred_at": "2023-02-26 19:20:49.764000+00:00",
                        "github": null,
                        "github_followers": null,
                        "id": "jaPSJy",
                        "languages": null,
                        "last_activity_occurred_at": "2023-02-28 18:20:49.806000+00:00",
                        "linkedin": null,
                        "location": null,
                        "love": null,
                        "merged_at": null,
                        "name": "Sally",
                        "orbit_level": null,
                        "orbit_url": "http://localhost:3000/vanstroman/members/sally",
                        "pronouns": null,
                        "reach": 0,
                        "shipping_address": null,
                        "slug": "sally",
                        "source": "installation",
                        "tag_list": [
                          "ruby"
                        ],
                        "tags": [
                          "ruby"
                        ],
                        "teammate": false,
                        "title": null,
                        "topics": null,
                        "tshirt": null,
                        "twitter": null,
                        "twitter_followers": null,
                        "updated_at": "2023-02-28 19:20:49.663000+00:00",
                        "url": null
                      },
                      "id": "jaPSJy",
                      "relationships": {
                        "identities": {
                          "data": [
                            {
                              "id": "5geTxn",
                              "type": "spec_identity"
                            }
                          ]
                        },
                        "organizations": {
                          "data": [
                            {
                              "id": "aWQFAB",
                              "type": "organization"
                            }
                          ]
                        }
                      },
                      "type": "member"
                    },
                    {
                      "attributes": {
                        "activities_count": 3,
                        "activities_score": 3,
                        "avatar_url": "http://github.com/avatar.png",
                        "bio": null,
                        "birthday": null,
                        "company": null,
                        "created": false,
                        "created_at": "2023-02-28 19:20:49.635000+00:00",
                        "deleted_at": null,
                        "devto": null,
                        "discord": null,
                        "discourse": null,
                        "email": null,
                        "first_activity_occurred_at": "2023-02-20 19:20:49.737000+00:00",
                        "github": null,
                        "github_followers": null,
                        "id": "4EzSdZ",
                        "languages": null,
                        "last_activity_occurred_at": "2023-02-24 19:20:49.668000+00:00",
                        "linkedin": null,
                        "location": null,
                        "love": null,
                        "merged_at": null,
                        "name": "Josh",
                        "orbit_level": null,
                        "orbit_url": "http://localhost:3000/vanstroman/members/josh",
                        "pronouns": null,
                        "reach": 0,
                        "shipping_address": null,
                        "slug": "josh",
                        "source": "installation",
                        "tag_list": [
                          "ruby"
                        ],
                        "tags": [
                          "ruby"
                        ],
                        "teammate": false,
                        "title": null,
                        "topics": null,
                        "tshirt": null,
                        "twitter": null,
                        "twitter_followers": null,
                        "updated_at": "2023-02-28 19:20:49.643000+00:00",
                        "url": null
                      },
                      "id": "4EzSdZ",
                      "relationships": {
                        "identities": {
                          "data": [
                            {
                              "id": "nbWTe1",
                              "type": "spec_identity"
                            }
                          ]
                        },
                        "organizations": {
                          "data": []
                        }
                      },
                      "type": "member"
                    }
                  ],
                  "included": [
                    {
                      "id": "43",
                      "type": "spec_identity"
                    },
                    {
                      "attributes": {
                        "active_since": null,
                        "created_at": "2023-02-28 19:20:49.844000+00:00",
                        "crm_uid": null,
                        "crm_url": null,
                        "crunchbase": null,
                        "deal_closed_date": null,
                        "email_addresses": null,
                        "employees_count": null,
                        "estimated_annual_revenue": null,
                        "facebook": null,
                        "facebook_followers": null,
                        "founded_in": null,
                        "id": "aWQFAB",
                        "industry": null,
                        "last_active": null,
                        "lifecycle_stage": null,
                        "linkedin": null,
                        "location": null,
                        "members_count": 1,
                        "name": "MitchelHeaney",
                        "organization_type": null,
                        "owner_email": null,
                        "owner_name": null,
                        "price_plan": null,
                        "source": null,
                        "twitter": null,
                        "twitter_followers": null,
                        "updated_at": "2023-02-28 19:20:49.844000+00:00",
                        "website": "example-1.com"
                      },
                      "id": "aWQFAB",
                      "type": "organization"
                    },
                    {
                      "id": "42",
                      "type": "spec_identity"
                    }
                  ],
                  "links": {
                    "first": "http://localhost:3000/api/v1/vanstroman/members?activities_count_max=99&activities_count_min=1&activity_type=type%3Anew%2Cspec%3Aactivity&affiliation=&cities%5B%5D=&company%5B%5D=&countries%5B%5D=&direction=DESC&end_date=&identity=&items=10&member_tags=ruby%7Crails%2C-go&orbit=&page=1&query=&regions%5B%5D=&relative=&sort=last_activity&start_date=&title%5B%5D=&workspace=vanstroman",
                    "next": null,
                    "prev": null
                  }
                }
              }
            },
            "description": "success"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "List members in a workspace",
        "tags": [
          "Members"
        ],
        "description": "List members in a workspace",
        "operationId": "get-by-workspace-slug-members"
      },
      "post": {
        "description": "This method is useful when you know a member's identity in another system and want to create or update the corresponding Orbit member. Identities can be specified in the identity object or member attributes like member.github. If no member exists, a new member will be created and linked to any provided identities.",
        "parameters": [
          {
            "in": "path",
            "name": "workspace_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/member_and_identity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "attributes": {
                      "activities_count": 0,
                      "activities_score": 0,
                      "avatar_url": "http://github.com/avatar.png",
                      "bio": null,
                      "birthday": null,
                      "company": null,
                      "created": false,
                      "created_at": "2023-02-28 19:20:58.483000+00:00",
                      "deleted_at": null,
                      "devto": null,
                      "discord": null,
                      "discourse": null,
                      "email": "dzello@orbit.love",
                      "first_activity_occurred_at": null,
                      "github": "dzello",
                      "github_followers": null,
                      "id": "4ndS8E",
                      "languages": null,
                      "last_activity_occurred_at": null,
                      "linkedin": null,
                      "location": null,
                      "love": null,
                      "merged_at": null,
                      "name": "KaterineRuecker",
                      "orbit_level": null,
                      "orbit_url": "http://localhost:3000/missmarvisblanda/members/katerineruecker",
                      "pronouns": null,
                      "reach": 0,
                      "shipping_address": null,
                      "slug": "katerineruecker",
                      "source": "installation",
                      "tag_list": [
                        "one",
                        "two"
                      ],
                      "tags": [
                        "one",
                        "two"
                      ],
                      "teammate": false,
                      "title": null,
                      "topics": null,
                      "tshirt": null,
                      "twitter": "dzello",
                      "twitter_followers": null,
                      "updated_at": "2023-02-28 19:20:58.561000+00:00",
                      "url": null
                    },
                    "id": "4ndS8E",
                    "relationships": {
                      "identities": {
                        "data": [
                          {
                            "id": "5ENTeK",
                            "type": "github_identity"
                          },
                          {
                            "id": "nZRTEp",
                            "type": "twitter_identity"
                          },
                          {
                            "id": "nqaT7d",
                            "type": "email_identity"
                          }
                        ]
                      },
                      "organizations": {
                        "data": []
                      }
                    },
                    "type": "member"
                  },
                  "included": [
                    {
                      "attributes": {
                        "email": null,
                        "name": null,
                        "source": "github",
                        "source_host": "github.com",
                        "uid": "uid-72",
                        "username": "dzello"
                      },
                      "id": "5ENTeK",
                      "type": "github_identity"
                    },
                    {
                      "attributes": {
                        "email": null,
                        "name": null,
                        "source": "twitter",
                        "source_host": "twitter.com",
                        "uid": null,
                        "username": "dzello"
                      },
                      "id": "nZRTEp",
                      "type": "twitter_identity"
                    },
                    {
                      "attributes": {
                        "email": "dzello@orbit.love",
                        "name": "dzello",
                        "source": "email",
                        "source_host": "email.host",
                        "uid": "dzello@orbit.love",
                        "username": null
                      },
                      "id": "nqaT7d",
                      "type": "email_identity"
                    }
                  ]
                }
              }
            },
            "description": "success"
          },
          "201": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "attributes": {
                      "activities_count": 0,
                      "activities_score": 0,
                      "avatar_url": "https://avatars2.githubusercontent.com/u/174777?u=79e423dd07c19122115f52a1c97727ca193e6253&v=4",
                      "bio": "Co-founder & CTO @orbit-love \u00b7 Developer Advocate \u00b7 formerly @algolia and @keen",
                      "birthday": null,
                      "company": "@orbit-love",
                      "created": true,
                      "created_at": "2023-02-28 19:20:58.117000+00:00",
                      "deleted_at": null,
                      "devto": null,
                      "discord": null,
                      "discourse": null,
                      "email": "josh@orbit.love",
                      "first_activity_occurred_at": null,
                      "github": "dzello",
                      "github_followers": 171,
                      "id": "40mSvV",
                      "languages": null,
                      "last_activity_occurred_at": null,
                      "linkedin": null,
                      "location": "Paris",
                      "love": null,
                      "merged_at": null,
                      "name": "Josh Dzielak",
                      "orbit_level": null,
                      "orbit_url": "http://localhost:3000/waylonhickle/members/dzello",
                      "pronouns": null,
                      "reach": 8,
                      "shipping_address": null,
                      "slug": "dzello",
                      "source": "api",
                      "tag_list": [
                        "one",
                        "two"
                      ],
                      "tags": [
                        "one",
                        "two"
                      ],
                      "teammate": false,
                      "title": null,
                      "topics": null,
                      "tshirt": null,
                      "twitter": "dzello",
                      "twitter_followers": null,
                      "updated_at": "2023-02-28 19:20:58.183000+00:00",
                      "url": "https://dzello.com/"
                    },
                    "id": "40mSvV",
                    "relationships": {
                      "identities": {
                        "data": [
                          {
                            "id": "1ADTwV",
                            "type": "github_identity"
                          },
                          {
                            "id": "3RgTbZ",
                            "type": "twitter_identity"
                          },
                          {
                            "id": "3YETyv",
                            "type": "email_identity"
                          }
                        ]
                      },
                      "organizations": {
                        "data": [
                          {
                            "id": "n9WF2V",
                            "type": "organization"
                          }
                        ]
                      }
                    },
                    "type": "member"
                  },
                  "included": [
                    {
                      "attributes": {
                        "email": null,
                        "name": "Josh Dzielak",
                        "source": "github",
                        "source_host": "github.com",
                        "uid": "174777",
                        "username": "dzello"
                      },
                      "id": "1ADTwV",
                      "type": "github_identity"
                    },
                    {
                      "attributes": {
                        "email": null,
                        "name": null,
                        "source": "twitter",
                        "source_host": "twitter.com",
                        "uid": null,
                        "username": "dzello"
                      },
                      "id": "3RgTbZ",
                      "type": "twitter_identity"
                    },
                    {
                      "attributes": {
                        "email": "josh@orbit.love",
                        "name": "josh",
                        "source": "email",
                        "source_host": "email.host",
                        "uid": "josh@orbit.love",
                        "username": null
                      },
                      "id": "3YETyv",
                      "type": "email_identity"
                    }
                  ]
                }
              }
            },
            "description": "created"
          },
          "403": {
            "description": "forbidden"
          },
          "422": {
            "content": {
              "application/json": {
                "example": {
                  "errors": {
                    "email": [
                      "is invalid"
                    ],
                    "name": [
                      "can't be blank"
                    ]
                  }
                }
              }
            },
            "description": "unprocessable"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Create or update a member",
        "tags": [
          "Members"
        ],
        "operationId": "post-by-workspace-slug-members"
      }
    },
    "/{workspace_slug}/members/find": {
      "get": {
        "description": "Provide a source and one of username/uid/email params to return a member with that identity, if one exists. Common values for source include github, twitter, and email.",
        "parameters": [
          {
            "in": "path",
            "name": "workspace_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "source_host",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uid",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "username",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Deprecated, please use source=github and username=<username> instead",
            "in": "query",
            "name": "github",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "attributes": {
                      "activities_count": 0,
                      "activities_score": 0,
                      "avatar_url": "http://github.com/avatar.png",
                      "bio": null,
                      "birthday": null,
                      "company": null,
                      "created": false,
                      "created_at": "2023-02-28 19:21:07.970000+00:00",
                      "deleted_at": null,
                      "devto": null,
                      "discord": null,
                      "discourse": null,
                      "email": null,
                      "first_activity_occurred_at": null,
                      "github": "dzello",
                      "github_followers": null,
                      "id": "rRxS6X",
                      "languages": null,
                      "last_activity_occurred_at": null,
                      "linkedin": null,
                      "location": null,
                      "love": null,
                      "merged_at": null,
                      "name": "MrsChiCummerata",
                      "orbit_level": null,
                      "orbit_url": "http://localhost:3000/glendaschmidt/members/mrschicummerata",
                      "pronouns": null,
                      "reach": 0,
                      "shipping_address": null,
                      "slug": "mrschicummerata",
                      "source": "installation",
                      "tag_list": [],
                      "tags": [],
                      "teammate": false,
                      "title": null,
                      "topics": null,
                      "tshirt": null,
                      "twitter": null,
                      "twitter_followers": null,
                      "updated_at": "2023-02-28 19:21:07.970000+00:00",
                      "url": null
                    },
                    "id": "rRxS6X",
                    "relationships": {
                      "identities": {
                        "data": [
                          {
                            "id": "1JrTad",
                            "type": "github_identity"
                          }
                        ]
                      },
                      "organizations": {
                        "data": []
                      }
                    },
                    "type": "member"
                  },
                  "included": [
                    {
                      "attributes": {
                        "email": null,
                        "name": null,
                        "source": "github",
                        "source_host": "github.com",
                        "uid": "uid-82",
                        "username": "dzello"
                      },
                      "id": "1JrTad",
                      "type": "github_identity"
                    }
                  ]
                }
              }
            },
            "description": "success"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "errors": "No member matching this identity was found"
                }
              }
            },
            "description": "Not found"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Find a member by an identity",
        "tags": [
          "Members"
        ],
        "operationId": "get-by-workspace-slug-members-find"
      }
    },
    "/{workspace_slug}/members/{member_slug}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "member_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "member deleted"
          },
          "403": {
            "description": "forbidden"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Delete a member",
        "tags": [
          "Members"
        ],
        "description": "Delete a member",
        "operationId": "delete-by-workspace-slug-members-by-member-slug"
      },
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "member_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "attributes": {
                      "activities_count": 0,
                      "activities_score": 0,
                      "avatar_url": "http://github.com/avatar.png",
                      "bio": null,
                      "birthday": null,
                      "company": null,
                      "created": false,
                      "created_at": "2023-02-28 19:20:56.012000+00:00",
                      "deleted_at": null,
                      "devto": null,
                      "discord": null,
                      "discourse": null,
                      "email": null,
                      "first_activity_occurred_at": null,
                      "github": null,
                      "github_followers": null,
                      "id": "jWXSAW",
                      "languages": null,
                      "last_activity_occurred_at": null,
                      "linkedin": null,
                      "location": null,
                      "love": null,
                      "merged_at": null,
                      "name": "Josh",
                      "orbit_level": null,
                      "orbit_url": "http://localhost:3000/mrsroytoy/members/josh",
                      "pronouns": null,
                      "reach": 0,
                      "shipping_address": null,
                      "slug": "josh",
                      "source": "installation",
                      "tag_list": [],
                      "tags": [],
                      "teammate": false,
                      "title": null,
                      "topics": null,
                      "tshirt": null,
                      "twitter": null,
                      "twitter_followers": null,
                      "updated_at": "2023-02-28 19:20:56.012000+00:00",
                      "url": null
                    },
                    "id": "jWXSAW",
                    "relationships": {
                      "identities": {
                        "data": [
                          {
                            "id": "nZRTEE",
                            "type": "spec_identity"
                          }
                        ]
                      },
                      "organizations": {
                        "data": [
                          {
                            "id": "BqkFva",
                            "type": "organization"
                          }
                        ]
                      }
                    },
                    "type": "member"
                  },
                  "included": [
                    {
                      "id": "90",
                      "type": "spec_identity"
                    },
                    {
                      "attributes": {
                        "active_since": null,
                        "created_at": "2023-02-28 19:20:56.022000+00:00",
                        "crm_uid": null,
                        "crm_url": null,
                        "crunchbase": null,
                        "deal_closed_date": null,
                        "email_addresses": null,
                        "employees_count": null,
                        "estimated_annual_revenue": null,
                        "facebook": null,
                        "facebook_followers": null,
                        "founded_in": null,
                        "id": "BqkFva",
                        "industry": null,
                        "last_active": null,
                        "lifecycle_stage": null,
                        "linkedin": null,
                        "location": null,
                        "members_count": 1,
                        "name": "ReubenMcGlynn",
                        "organization_type": null,
                        "owner_email": null,
                        "owner_name": null,
                        "price_plan": null,
                        "source": null,
                        "twitter": null,
                        "twitter_followers": null,
                        "updated_at": "2023-02-28 19:20:56.022000+00:00",
                        "website": "example-25.com"
                      },
                      "id": "BqkFva",
                      "type": "organization"
                    }
                  ]
                }
              }
            },
            "description": "success"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Get a member",
        "tags": [
          "Members"
        ],
        "description": "Get a member",
        "operationId": "get-by-workspace-slug-members-by-member-slug"
      },
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "member_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/member"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "member updated"
          },
          "403": {
            "description": "forbidden"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "Update a member",
        "tags": [
          "Members"
        ],
        "description": "Update a member",
        "operationId": "put-by-workspace-slug-members-by-member-slug"
      }
    },
    "/{workspace_slug}/members/{member_slug}/activities": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "member_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "enum": [
                "ASC",
                "DESC"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "enum": [
                "10",
                "50",
                "100"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "enum": [
                "occurred_at",
                "member"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "activity_type",
            "schema": {
              "type": "string"
            }
          },
          {
            "deprecated": true,
            "description": "Deprecated in favor of the activity_type parameter.",
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "attributes": {
                        "action": "spec_action",
                        "created_at": "2023-02-28 19:20:45.066000+00:00",
                        "key": "cl\u00e9",
                        "occurred_at": "2023-02-28 19:20:45.064000+00:00",
                        "orbit_url": "http://localhost:3000/deangelokovacek/activities/VlEsOe",
                        "properties": {
                          "prop_1": "value_1",
                          "prop_2": "value_2"
                        },
                        "tags": [
                          "spec-tag-1",
                          "spec-tag-2"
                        ],
                        "type": "SpecActivity",
                        "updated_at": "2023-02-28 19:20:45.066000+00:00",
                        "weight": "1.0"
                      },
                      "id": "VlEsOe",
                      "relationships": {
                        "activity_type": {
                          "data": {
                            "id": "oQQsBb",
                            "type": "activity_type"
                          }
                        },
                        "member": {
                          "data": {
                            "id": "BloSvr",
                            "type": "member"
                          }
                        }
                      },
                      "type": "spec_activity"
                    }
                  ],
                  "included": [
                    {
                      "attributes": {
                        "channel": "mysource",
                        "key": "spec:activity",
                        "name": "calculate Mysource 34",
                        "short_name": "Spec Channel",
                        "source": "mysource",
                        "weight": "1.0"
                      },
                      "id": "oQQsBb",
                      "type": "activity_type"
                    },
                    {
                      "attributes": {
                        "activities_count": 0,
                        "activities_score": 0,
                        "avatar_url": "http://github.com/avatar.png",
                        "bio": null,
                        "birthday": null,
                        "company": null,
                        "created": false,
                        "created_at": "2023-02-28 19:20:45.004000+00:00",
                        "deleted_at": null,
                        "devto": null,
                        "discord": null,
                        "discourse": null,
                        "email": null,
                        "first_activity_occurred_at": null,
                        "github": null,
                        "github_followers": null,
                        "id": "BloSvr",
                        "languages": null,
                        "last_activity_occurred_at": null,
                        "linkedin": null,
                        "location": null,
                        "love": null,
                        "merged_at": null,
                        "name": "LoiseRoberts",
                        "orbit_level": null,
                        "orbit_url": "http://localhost:3000/deangelokovacek/members/loiseroberts",
                        "pronouns": null,
                        "reach": 0,
                        "shipping_address": null,
                        "slug": "loiseroberts",
                        "source": "installation",
                        "tag_list": [],
                        "tags": [],
                        "teammate": false,
                        "title": null,
                        "topics": null,
                        "tshirt": null,
                        "twitter": null,
                        "twitter_followers": null,
                        "updated_at": "2023-02-28 19:20:45.004000+00:00",
                        "url": null
                      },
                      "id": "BloSvr",
                      "relationships": {
                        "identities": {
                          "data": []
                        },
                        "organizations": {
                          "data": []
                        }
                      },
                      "type": "member"
                    }
                  ],
                  "links": {
                    "first": "/deangelokovacek/members/loiseroberts/activities?page=1&direction=DESC&items=10&sort=occurred_at&activity_type=spec%3Aactivity&type=",
                    "last": "/deangelokovacek/members/loiseroberts/activities?page=1&direction=DESC&items=10&sort=occurred_at&activity_type=spec%3Aactivity&type=",
                    "next": null,
                    "prev": null
                  }
                }
              }
            },
            "description": "success"
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "summary": "List activities for a member",
        "tags": [
          "Activities"
        ],
        "description": "List activities for a member",
        "operationId": "get-by-workspace-slug-members-by-member-slug-activities"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "member_slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/custom_or_post_activity"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "attributes": {
                      "action": "happened",
                      "created_at": "2023-02-28 19:20:46.295000+00:00",
                      "custom_context": null,
                      "custom_description": "More info about the thing",
                      "custom_link": "http://link.com/",
                      "custom_link_text": "See the thing",
                      "custom_title": "Did a thing",
                      "custom_type": "custom-type",
                      "key": "thing-123",
                      "occurred_at": "2023-02-28 19:20:46.292000+00:00",
                      "orbit_url": "http://localhost:3000/candycassin/activities/ZngsdG",
                      "properties": {},
                      "tags": [
                        "product",
                        "enterprise",
                        "channel:custom",
                        "custom_type:custom-type",
                        "custom_title:did-a-thing"
                      ],
                      "type": "CustomActivity",
                      "updated_at": "2023-02-28 19:20:46.295000+00:00",
                      "weight": "8.0"
                    },
                    "id": "ZngsdG",
                    "relationships": {
                      "activity_type": {
                        "data": {
                          "id": "574seD",
                          "type": "activity_type"
                        }
                      },
                      "member": {
                        "data": {
                          "id": "45PSyv",
                          "type": "member"
                        }
                      },
                      "user": {
                        "data": {
                          "id": "l6pF69",
                          "type": "user"
                        }
                      }
                    },
                    "type": "custom_activity"
                  },
                  "included": [
                    {
                      "attributes": {
                        "channel": "custom",
                        "key": "custom:happened",
                        "name": "Something happened",
                        "short_name": "Custom",
                        "source": "custom",
                        "weight": "1.0"
                      },
                      "id": "574seD",
                      "type": "activity_type"
                    },
                    {
                      "attributes": {
                        "activities_count": 0,
                        "activities_score": 0,
                        "avatar_url": "http://github.com/avatar.png",
                        "bio": null,
                        "birthday": null,
                        "company": null,
                        "created": false,
                        "created_at": "2023-02-28 19:20:46.260000+00:00",
                        "deleted_at": null,
                        "devto": null,
                        "discord": null,
                        "discourse": null,
                        "email": null,
                        "first_activity_occurred_at": null,
                        "github": null,
                        "github_followers": null,
                        "id": "45PSyv",
                        "languages": null,
                        "last_activity_occurred_at": null,
                        "linkedin": null,
                        "location": null,
                        "love": null,
                        "merged_at": null,
                        "name": "BurmaDibbert",
                        "orbit_level": null,
                        "orbit_url": "http://localhost:3000/candycassin/members/burmadibbert",
                        "pronouns": null,
                        "reach": 0,
                        "shipping_address": null,
                        "slug": "burmadibbert",
                        "source": "installation",
                        "tag_list": [],
                        "tags": [],
                        "teammate": false,
                        "title": null,
                        "topics": null,
                        "tshirt": null,
                        "twitter": null,
                        "twitter_followers": null,
                        "updated_at": "2023-02-28 19:20:46.260000+00:00",
                        "url": null
[...]
