{
  "openapi": "3.0.3",
  "info": {
    "title": "Speechnotes API",
    "version": "1.0.0",
    "description": "Speech-to-text transcription API for converting audio and video files to text.",
    "x-jentic-source-url": "https://speechnotes.co/files/guides/api/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://speechlogger.com/api"
    }
  ],
  "paths": {
    "/transcribe": {
      "post": {
        "operationId": "transcribeAudio",
        "summary": "Submit audio/video for transcription",
        "tags": [
          "Transcription"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription job submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscribeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Submit audio/video for transcription"
      }
    }
  },
  "components": {
    "schemas": {
      "TranscribeRequest": {
        "type": "object",
        "required": [
          "apiKey",
          "apiSecret",
          "type",
          "fileUrl",
          "fileName",
          "language"
        ],
        "properties": {
          "apiKey": {
            "type": "string"
          },
          "apiSecret": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "upload"
            ]
          },
          "fileUrl": {
            "type": "string",
            "description": "Public URL to audio/video file"
          },
          "fileName": {
            "type": "string"
          },
          "language": {
            "type": "string",
            "description": "BCP-47 format (e.g. en-US)"
          },
          "numSpeakers": {
            "type": "string",
            "description": "Number of speakers for diarization"
          },
          "api_custom": {
            "type": "string",
            "description": "Custom metadata forwarded to webhook"
          },
          "fromSeconds": {
            "type": "string"
          },
          "toSeconds": {
            "type": "string"
          }
        }
      },
      "TranscribeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "jobId": {
            "type": "string"
          },
          "fullText": {
            "type": "string"
          },
          "apiSignature": {
            "type": "string"
          },
          "remainingDollarBalance": {
            "type": "number"
          },
          "errorCode": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Transcription"
    }
  ]
}
