{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "The Equity Bank Account API allows a Merchant to fetch full/minimal transaction details for a given operative account, do Account Enquiries and Get a List of Accounts Opened.",
    "title": "Account API",
    "version": "0.0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/mkhisa7/account-api/0.0.1/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.equitybankgroup.com/account/v1-sandbox"
    }
  ],
  "paths": {
    "/accounts/balances/{countryCode}/{accountNumber}": {
      "get": {
        "parameters": [
          {
            "description": "The account's country code",
            "in": "path",
            "name": "countryCode",
            "required": true,
            "schema": {
              "default": "KE",
              "type": "string"
            }
          },
          {
            "description": "The merchant account number",
            "in": "path",
            "name": "accountNumber",
            "required": true,
            "schema": {
              "default": "1234567891234",
              "type": "string"
            }
          },
          {
            "description": "Access Token",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer {token}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBalanceResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request - Please ensure the request is valid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Please check the Authorization header."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found - Please check the URL."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error - Please try later."
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "A merchant can get the balance of a merchant account.",
        "operationId": "Get-Balance",
        "summary": "Get Balance"
      }
    },
    "/accounts/fullstatement": {
      "post": {
        "parameters": [
          {
            "description": "Access Token",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer {token}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullStatementResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request - Please ensure the request is valid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Please check the Authorization header."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found - Please check the URL."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error - Please try later."
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "Get a Full for a particular account.",
        "operationId": "Get-Account-Full-Statement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullStatementRequest"
              }
            }
          },
          "description": "Full Statement Payload",
          "required": true
        },
        "summary": "Get Full Account Statement"
      }
    },
    "/accounts/ministatement/{countryCode}/{accountNumber}": {
      "get": {
        "parameters": [
          {
            "description": "The account's country code",
            "in": "path",
            "name": "countryCode",
            "required": true,
            "schema": {
              "default": "KE",
              "type": "string"
            }
          },
          {
            "description": "The merchant account number",
            "in": "path",
            "name": "accountNumber",
            "required": true,
            "schema": {
              "default": "1234567891234",
              "type": "string"
            }
          },
          {
            "description": "Access Token",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "default": "Bearer {token}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMiniStatementResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request - Please ensure the request is valid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Please check the Authorization header."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found - Please check the URL."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error - Please try later."
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "Get the Mini-Statement for a particular account.",
        "operationId": "Get-Account-Mini-Statement",
        "summary": "Get Mini Statement"
      }
    },
    "/search/{countryCode}/{accountNumber}": {
      "get": {
        "parameters": [
          {
            "description": "The account's country code",
            "in": "path",
            "name": "countryCode",
            "required": true,
            "schema": {
              "default": "KE",
              "type": "string"
            }
          },
          {
            "description": "The account number",
            "in": "path",
            "name": "accountNumber",
            "required": true,
            "schema": {
              "default": "1234567891234",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEnquiryResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request - Please ensure the request is valid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - Please check the Authorization header."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found - Please check the URL."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error - Please try later."
          }
        },
        "tags": [
          "search"
        ],
        "description": "A merchant can use this functionality to get account details.",
        "operationId": "Account-Enquiry",
        "summary": "Account Enquiry"
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "properties": {
          "currency": {
            "description": "Account currency.",
            "type": "string"
          },
          "number": {
            "description": "Customer's account number.",
            "type": "string"
          },
          "status": {
            "description": "Account Status",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AccountEnquiryResponse": {
        "properties": {
          "account": {
            "$ref": "#/components/schemas/Account"
          },
          "customer": {
            "items": {
              "$ref": "#/components/schemas/Customer"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Balance": {
        "properties": {
          "amount": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Customer": {
        "properties": {
          "id": {
            "description": "Customer unique identifier.",
            "type": "string"
          },
          "type": {
            "description": "Customer type.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "properties": {
          "code": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "FullStatementRequest": {
        "properties": {
          "accountNumber": {
            "description": "The account number.",
            "type": "string"
          },
          "countryCode": {
            "description": "the account's country code.",
            "type": "string"
          },
          "fromDate": {
            "description": "The start date of the statement period.",
            "format": "date",
            "type": "string"
          },
          "toDate": {
            "description": "The end date of the statement period.",
            "format": "date",
            "type": "string"
          }
        },
        "type": "object"
      },
      "FullStatementResponse": {
        "properties": {
          "accountNumber": {
            "description": "The account number.",
            "type": "string"
          },
          "balance": {
            "description": "The account balance.",
            "type": "string"
          },
          "currency": {
            "description": "The account currency.",
            "type": "string"
          },
          "transactions": {
            "items": {
              "$ref": "#/components/schemas/FullStatementTransaction"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "FullStatementTransaction": {
        "properties": {
          "amount": {
            "description": "The transaction amount.",
            "type": "string"
          },
          "date": {
            "description": "The transaction date",
            "format": "date-time",
            "type": "string"
          },
          "description": {
            "description": "The transaction description.",
            "type": "string"
          },
          "reference": {
            "description": "The transaction reference.",
            "type": "string"
          },
          "runningBalance": {
            "description": "The running balance.",
            "type": "string"
          },
          "type": {
            "description": "Thr transaction type.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GetBalanceResponse": {
        "properties": {
          "balances": {
            "items": {
              "$ref": "#/components/schemas/Balance"
            },
            "type": "array"
          },
          "currency": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "GetMiniStatementResponse": {
        "properties": {
          "accountNumber": {
            "description": "Account number",
            "type": "string"
          },
          "balance": {
            "description": "Account balance.",
            "type": "string"
          },
          "currency": {
            "description": "Account currency.",
            "type": "string"
          },
          "transactions": {
            "items": {
              "$ref": "#/components/schemas/MiniStatementTransaction"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "MiniStatementTransaction": {
        "properties": {
          "amount": {
            "description": "The transaction amount.",
            "type": "string"
          },
          "chequeNumber": {
            "description": "Cheque number.",
            "type": "string"
          },
          "date": {
            "description": "The transaction date.",
            "format": "date-time",
            "type": "string"
          },
          "description": {
            "description": "The transaction description.",
            "type": "string"
          },
          "type": {
            "description": "Thr transaction type.",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "accounts"
    },
    {
      "name": "search"
    }
  ]
}