{
  "openapi": "3.0.3",
  "info": {
    "title": "Buddy API",
    "description": "Buddy CI/CD REST API for managing workspaces, projects, pipelines, environments, and repository operations.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://buddy.works/docs/api/getting-started/overview"
  },
  "servers": [
    {
      "url": "https://api.buddy.works",
      "description": "Buddy API (US accounts)"
    },
    {
      "url": "https://api.eu.buddy.works",
      "description": "Buddy API (EU accounts)"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user information",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Current user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspace}/environment": {
      "get": {
        "operationId": "listEnvironments",
        "summary": "List environments in a workspace",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Workspace"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of environments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "environments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Environment"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createEnvironment",
        "summary": "Create an environment",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Workspace"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Environment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspace}/environment/{environment_id}": {
      "get": {
        "operationId": "getEnvironment",
        "summary": "Get a specific environment",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Workspace"
          },
          {
            "$ref": "#/components/parameters/EnvironmentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Environment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateEnvironment",
        "summary": "Update an environment",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Workspace"
          },
          {
            "$ref": "#/components/parameters/EnvironmentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Environment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteEnvironment",
        "summary": "Delete an environment",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Workspace"
          },
          {
            "$ref": "#/components/parameters/EnvironmentId"
          }
        ],
        "responses": {
          "204": {
            "description": "Environment deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspace}/projects/{project_name}/pipelines": {
      "get": {
        "operationId": "listPipelines",
        "summary": "List pipelines for a project",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Workspace"
          },
          {
            "$ref": "#/components/parameters/ProjectName"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of pipelines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipelines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pipeline"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createPipeline",
        "summary": "Create a pipeline",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Workspace"
          },
          {
            "$ref": "#/components/parameters/ProjectName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspace}/projects/{project_name}/pipelines/{pipeline_id}": {
      "get": {
        "operationId": "getPipeline",
        "summary": "Get a specific pipeline",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Workspace"
          },
          {
            "$ref": "#/components/parameters/ProjectName"
          },
          {
            "$ref": "#/components/parameters/PipelineId"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updatePipeline",
        "summary": "Update a pipeline",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Workspace"
          },
          {
            "$ref": "#/components/parameters/ProjectName"
          },
          {
            "$ref": "#/components/parameters/PipelineId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deletePipeline",
        "summary": "Delete a pipeline",
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Workspace"
          },
          {
            "$ref": "#/components/parameters/ProjectName"
          },
          {
            "$ref": "#/components/parameters/PipelineId"
          }
        ],
        "responses": {
          "204": {
            "description": "Pipeline deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspace}/projects/{project_name}/repository/commits": {
      "get": {
        "operationId": "listCommits",
        "summary": "List commits for a project repository",
        "tags": [
          "Repository"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Workspace"
          },
          {
            "$ref": "#/components/parameters/ProjectName"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter commits since this date"
          },
          {
            "name": "until",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter commits until this date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of commits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "commits": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Commit"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspace}/projects/{project_name}/repository/commits/{revision}": {
      "get": {
        "operationId": "getCommit",
        "summary": "Get commit details",
        "tags": [
          "Repository"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Workspace"
          },
          {
            "$ref": "#/components/parameters/ProjectName"
          },
          {
            "name": "revision",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Commit SHA or revision"
          }
        ],
        "responses": {
          "200": {
            "description": "Commit details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Commit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Workspace": {
        "name": "workspace",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Workspace domain name"
      },
      "ProjectName": {
        "name": "project_name",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Project name"
      },
      "PipelineId": {
        "name": "pipeline_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Pipeline ID"
      },
      "EnvironmentId": {
        "name": "environment_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Environment ID"
      },
      "Page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1
        },
        "description": "Page number"
      },
      "PerPage": {
        "name": "per_page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 20
        },
        "description": "Items per page"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "html_url": {
            "type": "string",
            "format": "uri"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Environment": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "html_url": {
            "type": "string",
            "format": "uri"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "EnvironmentInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "Pipeline": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "html_url": {
            "type": "string",
            "format": "uri"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "on": {
            "type": "string",
            "description": "Trigger event"
          },
          "refs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "last_execution_status": {
            "type": "string"
          },
          "last_execution_revision": {
            "type": "string"
          }
        }
      },
      "PipelineInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "on": {
            "type": "string"
          },
          "refs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "always_from_scratch": {
            "type": "boolean"
          }
        }
      },
      "Commit": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "html_url": {
            "type": "string",
            "format": "uri"
          },
          "revision": {
            "type": "string"
          },
          "author_date": {
            "type": "string",
            "format": "date-time"
          },
          "commit_date": {
            "type": "string",
            "format": "date-time"
          },
          "message": {
            "type": "string"
          },
          "committer": {
            "$ref": "#/components/schemas/User"
          },
          "author": {
            "$ref": "#/components/schemas/User"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}