{
  "openapi": "3.0.3",
  "info": {
    "title": "Corsizio API",
    "version": "1.0.0",
    "description": "Corsizio course registration and event management API",
    "x-jentic-source-url": "https://raw.githubusercontent.com/aislingbyrnemc-sudo/openapis-specs/refs/heads/import/corsizio.com/corsizio/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.corsizio.com/v1"
    }
  ],
  "paths": {
    "/courses": {
      "get": {
        "summary": "List courses",
        "operationId": "list_courses",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Courses"
        ]
      }
    },
    "/courses/{courseId}": {
      "get": {
        "summary": "Get course",
        "operationId": "get_course",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Courses"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/courses/{courseId}/events": {
      "get": {
        "summary": "List course events",
        "operationId": "list_course_events",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/events/{eventId}": {
      "get": {
        "summary": "Get event",
        "operationId": "get_event",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/events/{eventId}/registrations": {
      "get": {
        "summary": "List registrations",
        "operationId": "list_registrations",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Registrations"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/registrations/{registrationId}": {
      "get": {
        "summary": "Get registration",
        "operationId": "get_registration",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Registrations"
        ],
        "parameters": [
          {
            "name": "registrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/contacts": {
      "get": {
        "summary": "List contacts",
        "operationId": "list_contacts",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ]
      }
    },
    "/contacts/{contactId}": {
      "get": {
        "summary": "Get contact",
        "operationId": "get_contact",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "x-jentic-source-url": "https://corsizio.com/doc/api"
}