{
  "openapi": "3.0.3",
  "info": {
    "title": "Inventory Shield API",
    "version": "0.3.2",
    "description": "An API to interact with the data inside Inventory Shield. Inventory Shield is an app that helps you keep track of your businesses equipment, even if it is spread out across many locations.",
    "contact": {
      "url": "https://inventoryshield.com",
      "email": "support@inventoryshield.com"
    },
    "x-jentic-source-url": "https://docs.api.inventoryshield.com/"
  },
  "servers": [
    {
      "url": "https://api.inventoryshield.com",
      "description": "Inventory Shield API Server"
    }
  ],
  "paths": {
    "/v0/ping": {
      "get": {
        "operationId": "ping",
        "summary": "Ping",
        "description": "Verify the API is running",
        "tags": [
          "System"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "A successful response, the server is online",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v0/validate-api-key": {
      "get": {
        "operationId": "validateApiKey",
        "summary": "Validate API Key",
        "description": "A simple endpoint just to verify that you have a good API Key",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Valid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unknown API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v0/locations": {
      "get": {
        "operationId": "listLocations",
        "summary": "List Locations",
        "description": "Retrieve a list of Locations.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Limit the locations returned to only return this type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Add this query parameter if you want to see archived locations. If you just add the query parameter or set it to true it will return archived locations.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The value that the list will be ordered by",
            "schema": {
              "type": "string",
              "default": "name"
            }
          },
          {
            "name": "orderByDirection",
            "in": "query",
            "description": "The direction that the results will be sorted in",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum size of returned list.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "startAfterId",
            "in": "query",
            "description": "The ID of the location that the results should start after.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v0/location": {
      "post": {
        "operationId": "createLocation",
        "summary": "Create Location",
        "description": "Create a new location.",
        "tags": [
          "Locations"
        ],
        "requestBody": {
          "required": true,
          "description": "The location to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v0/location/{locationId}": {
      "get": {
        "operationId": "getLocation",
        "summary": "Get Location",
        "description": "Retrieve a single Location object.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "description": "The Location ID for the desired location",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v0/location/{locationId}/images": {
      "get": {
        "operationId": "getLocationImages",
        "summary": "Get Location Images",
        "description": "Retrieve the images associated with a location.",
        "tags": [
          "Location Images"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "description": "The Location ID for the desired location",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationImage"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "uploadLocationImage",
        "summary": "Upload Location Image",
        "description": "Upload an image to a location.",
        "tags": [
          "Location Images"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "description": "The Location ID for the desired location",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image file to upload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationImage"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v0/location-types": {
      "get": {
        "operationId": "getLocationTypes",
        "summary": "Get Location Types",
        "description": "Retrieve the list of location types.",
        "tags": [
          "Location Types"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationType"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API key passed as a query parameter"
      }
    },
    "schemas": {
      "PingResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "API Active"
          }
        }
      },
      "ValidApiKeyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "API Key Valid"
          },
          "accountName": {
            "type": "string",
            "example": "Associated Account Name"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "VxF3YLIODohAFiACUY8wplQKZor1"
          },
          "type": {
            "type": "string",
            "example": "job-site"
          },
          "typeTitle": {
            "type": "string",
            "example": "Customer"
          },
          "name": {
            "type": "string",
            "example": "John Smith"
          },
          "description": {
            "type": "string",
            "example": ""
          },
          "address": {
            "type": "string",
            "example": "123 E Main St, Somewhere, CA 12345"
          },
          "source": {
            "type": "string",
            "example": "API"
          },
          "sourceLink": {
            "type": "string",
            "example": "https://example.system/location-id"
          },
          "equipmentAtLocationCount": {
            "type": "number",
            "example": 12
          },
          "archived": {
            "type": "boolean",
            "example": false
          },
          "createdAt": {
            "type": "string",
            "example": "2020-09-30T20:29:26.615Z"
          }
        }
      },
      "CreateLocationRequest": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of this location"
          },
          "type": {
            "type": "string",
            "description": "The Location Type ID that you want this location to have. You can use the /location-types endpoint to get a list of all available location types and their IDs."
          },
          "address": {
            "type": "string",
            "description": "The full street address for this location"
          },
          "source": {
            "type": "string",
            "description": "The name of the system that this location is coming from. This is displayed on the location detail page.",
            "default": "API"
          },
          "sourceLink": {
            "type": "string",
            "description": "A link back to the original source."
          }
        }
      },
      "LocationImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "EXAMPLE_ID"
          },
          "user": {
            "type": "string",
            "example": "API"
          },
          "fileName": {
            "type": "string",
            "example": "example.jpg"
          },
          "fileSize": {
            "type": "number",
            "example": 293489
          },
          "url": {
            "type": "string",
            "example": "https://example.com/image.jpg"
          },
          "description": {
            "type": "string",
            "example": "This is an example image"
          },
          "uploadedAt": {
            "type": "string",
            "example": "2020-09-30T20:29:26.615Z"
          }
        }
      },
      "LocationType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "job-site"
          },
          "title": {
            "type": "string",
            "example": "Customers"
          },
          "active": {
            "type": "number",
            "example": 10
          },
          "archived": {
            "type": "number",
            "example": 0
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "number",
            "example": 400
          },
          "error": {
            "type": "string",
            "example": "Bad Request"
          },
          "message": {
            "type": "string",
            "example": "Validation failed"
          },
          "validation": {
            "type": "object",
            "properties": {
              "body": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "example": "body"
                  },
                  "keys": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "type"
                    ]
                  },
                  "message": {
                    "type": "string",
                    "example": "\"type\" is required"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "System health and validation endpoints"
    },
    {
      "name": "Locations",
      "description": "Manage locations"
    },
    {
      "name": "Location Images",
      "description": "Manage location images"
    },
    {
      "name": "Location Types",
      "description": "Manage location types"
    }
  ]
}