{
  "openapi": "3.0.3",
  "info": {
    "title": "Uebermaps API",
    "description": "Uebermaps lets you create maps with spots and share them with friends. Discover, collect, and share the best spots. Note: This service was shut down in July 2023.",
    "version": "2.0.0",
    "contact": {
      "email": "contact@uebermaps.com"
    },
    "x-jentic-source-url": "https://uebermaps.com/api/v2"
  },
  "servers": [
    {
      "url": "https://uebermaps.com/api/v2",
      "description": "Uebermaps API v2 (discontinued)"
    }
  ],
  "tags": [
    {
      "name": "Maps",
      "description": "Operations related to maps"
    },
    {
      "name": "Spots",
      "description": "Operations related to spots on maps"
    },
    {
      "name": "Users",
      "description": "Operations related to user accounts"
    },
    {
      "name": "Comments",
      "description": "Operations related to comments on spots"
    },
    {
      "name": "Subscriptions",
      "description": "Operations related to map subscriptions"
    },
    {
      "name": "Attachments",
      "description": "Operations related to spot attachments"
    }
  ],
  "security": [
    {
      "authToken": []
    }
  ],
  "paths": {
    "/maps": {
      "get": {
        "tags": ["Maps"],
        "summary": "List maps",
        "description": "Retrieve a list of publicly available maps.",
        "operationId": "listMaps",
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Map"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Maps"],
        "summary": "Create a map",
        "description": "Create a new map.",
        "operationId": "createMap",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Map created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Map"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/maps/search": {
      "get": {
        "tags": ["Maps"],
        "summary": "Search maps",
        "description": "Search for maps by query string.",
        "operationId": "searchMaps",
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Map"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/maps/nearest": {
      "get": {
        "tags": ["Maps"],
        "summary": "List nearest maps",
        "description": "Retrieve maps nearest to a given location.",
        "operationId": "listNearestMaps",
        "security": [],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearest maps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Map"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/maps/{id}": {
      "get": {
        "tags": ["Maps"],
        "summary": "Get a map",
        "description": "Retrieve a single map by its ID.",
        "operationId": "getMap",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Map ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Map"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Maps"],
        "summary": "Update a map",
        "description": "Update an existing map.",
        "operationId": "updateMap",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Map ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Map updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Map"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Maps"],
        "summary": "Delete a map",
        "description": "Delete a map by its ID.",
        "operationId": "deleteMap",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Map ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/maps/{map_id}/spots": {
      "get": {
        "tags": ["Spots"],
        "summary": "List spots on a map",
        "description": "Retrieve all spots associated with a map.",
        "operationId": "listMapSpots",
        "security": [],
        "parameters": [
          {
            "name": "map_id",
            "in": "path",
            "required": true,
            "description": "Map ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["created_at_asc", "created_at_desc", "updated_at_asc", "updated_at_desc"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of spots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Spot"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": ["Spots"],
        "summary": "Create a spot",
        "description": "Add a new spot to a map.",
        "operationId": "createSpot",
        "parameters": [
          {
            "name": "map_id",
            "in": "path",
            "required": true,
            "description": "Map ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpotInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Spot created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spot"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/spots/{id}": {
      "get": {
        "tags": ["Spots"],
        "summary": "Get a spot",
        "description": "Retrieve a single spot by its ID.",
        "operationId": "getSpot",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Spot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spot"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Spots"],
        "summary": "Update a spot",
        "description": "Update an existing spot.",
        "operationId": "updateSpot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Spot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpotInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Spot updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spot"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Spots"],
        "summary": "Delete a spot",
        "description": "Delete a spot by its ID.",
        "operationId": "deleteSpot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Spot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spot deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/spots/{spot_id}/comments": {
      "get": {
        "tags": ["Comments"],
        "summary": "List comments on a spot",
        "description": "Retrieve all comments for a spot.",
        "operationId": "listSpotComments",
        "security": [],
        "parameters": [
          {
            "name": "spot_id",
            "in": "path",
            "required": true,
            "description": "Spot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Comments"],
        "summary": "Create a comment",
        "description": "Add a comment to a spot.",
        "operationId": "createComment",
        "parameters": [
          {
            "name": "spot_id",
            "in": "path",
            "required": true,
            "description": "Spot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/spots/{spot_id}/comments/{id}": {
      "delete": {
        "tags": ["Comments"],
        "summary": "Delete a comment",
        "description": "Delete a comment from a spot.",
        "operationId": "deleteComment",
        "parameters": [
          {
            "name": "spot_id",
            "in": "path",
            "required": true,
            "description": "Spot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Comment ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/spots/{spot_id}/attachments": {
      "get": {
        "tags": ["Attachments"],
        "summary": "List attachments on a spot",
        "description": "Retrieve all attachments for a spot.",
        "operationId": "listSpotAttachments",
        "security": [],
        "parameters": [
          {
            "name": "spot_id",
            "in": "path",
            "required": true,
            "description": "Spot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attachments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Attachment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Attachments"],
        "summary": "Upload an attachment",
        "description": "Upload an attachment to a spot.",
        "operationId": "createAttachment",
        "parameters": [
          {
            "name": "spot_id",
            "in": "path",
            "required": true,
            "description": "Spot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file to upload"
                  }
                },
                "required": ["image"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attachment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/spots/{spot_id}/attachments/{id}": {
      "delete": {
        "tags": ["Attachments"],
        "summary": "Delete an attachment",
        "description": "Delete an attachment from a spot.",
        "operationId": "deleteAttachment",
        "parameters": [
          {
            "name": "spot_id",
            "in": "path",
            "required": true,
            "description": "Spot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Attachment ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/maps/{map_id}/subscriptions": {
      "post": {
        "tags": ["Subscriptions"],
        "summary": "Subscribe to a map",
        "description": "Subscribe to receive updates for a map.",
        "operationId": "subscribeToMap",
        "parameters": [
          {
            "name": "map_id",
            "in": "path",
            "required": true,
            "description": "Map ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscribed successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": ["Subscriptions"],
        "summary": "Unsubscribe from a map",
        "description": "Unsubscribe from a map.",
        "operationId": "unsubscribeFromMap",
        "parameters": [
          {
            "name": "map_id",
            "in": "path",
            "required": true,
            "description": "Map ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unsubscribed successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "tags": ["Users"],
        "summary": "Get a user",
        "description": "Retrieve a user profile by ID.",
        "operationId": "getUser",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Users"],
        "summary": "Update current user",
        "description": "Update the authenticated user's profile.",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/users/{user_id}/maps": {
      "get": {
        "tags": ["Users", "Maps"],
        "summary": "List user's maps",
        "description": "Retrieve all maps belonging to a user.",
        "operationId": "listUserMaps",
        "security": [],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of user's maps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Map"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/authentication": {
      "post": {
        "tags": ["Users"],
        "summary": "Authenticate user",
        "description": "Authenticate and receive an auth token.",
        "operationId": "authenticateUser",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "password": {
                        "type": "string"
                      }
                    },
                    "required": ["email", "password"]
                  }
                },
                "required": ["user"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auth_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "authToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Auth token obtained via /authentication endpoint"
      }
    },
    "schemas": {
      "Map": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": ["public", "private"]
          },
          "owner_id": {
            "type": "integer"
          },
          "spots_count": {
            "type": "integer"
          },
          "subscriptions_count": {
            "type": "integer"
          },
          "map_settings": {
            "type": "object",
            "properties": {
              "center_lat": {
                "type": "number",
                "format": "double"
              },
              "center_lng": {
                "type": "number",
                "format": "double"
              },
              "zoom_level": {
                "type": "integer"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MapInput": {
        "type": "object",
        "properties": {
          "map": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "visibility": {
                "type": "string",
                "enum": ["public", "private"]
              }
            },
            "required": ["title"]
          }
        },
        "required": ["map"]
      },
      "Spot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lon": {
            "type": "number",
            "format": "double"
          },
          "map_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SpotInput": {
        "type": "object",
        "properties": {
          "spot": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "lat": {
                "type": "number",
                "format": "double"
              },
              "lon": {
                "type": "number",
                "format": "double"
              }
            },
            "required": ["title", "lat", "lon"]
          }
        },
        "required": ["spot"]
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "body": {
            "type": "string"
          },
          "user_id": {
            "type": "integer"
          },
          "spot_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CommentInput": {
        "type": "object",
        "properties": {
          "comment": {
            "type": "object",
            "properties": {
              "body": {
                "type": "string"
              }
            },
            "required": ["body"]
          }
        },
        "required": ["comment"]
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "image_url": {
            "type": "string",
            "format": "uri"
          },
          "spot_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "screen_name": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri"
          },
          "header_picture": {
            "type": "string",
            "format": "uri"
          },
          "about": {
            "type": "string"
          }
        }
      },
      "UserInput": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "about": {
                "type": "string"
              }
            }
          }
        },
        "required": ["user"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication required or invalid token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
