{
  "openapi": "3.0.0",
  "info": {
    "description": "The Azure management API provides a RESTful set of web services that interact with Azure Dedicated HSM RP.",
    "title": "Azure Dedicated HSM Resource Provider",
    "version": "2018-10-31-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/hardwaresecuritymodules-dedicatedhsm/2018-10-31-preview/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hardwaresecuritymodules/resource-manager/Microsoft.HardwareSecurityModules/preview/2018-10-31-preview/dedicatedhsm.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "hardwaresecuritymodules-dedicatedhsm",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs": {
      "get": {
        "parameters": [
          {
            "description": "Maximum number of results to return.",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedHsmListResult"
                }
              }
            },
            "description": "Get information about all dedicated HSMs in the specified subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedHsmError"
                }
              }
            },
            "description": "The error response describing why the operation failed."
          }
        },
        "tags": [
          "DedicatedHsms"
        ],
        "description": "The List operation gets information about the dedicated HSMs associated with the subscription.",
        "operationId": "DedicatedHsm_ListBySubscription",
        "x-ms-examples": {
          "List dedicated HSM devices in a subscription": {
            "parameters": {
              "api-version": "2018-10-31-preview",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs?api-version=2018-10-31-preview&$skiptoken=dmF1bHQtcGVza3ktanVyeS03MzA3Ng==",
                  "value": [
                    {
                      "tags": {
                        "Dept": "hsm",
                        "Environment": "dogfood",
                        "Slice": "A"
                      },
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1",
                      "location": "westus",
                      "name": "hsm1",
                      "properties": {
                        "networkProfile": {
                          "networkInterfaces": [
                            {
                              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic",
                              "privateIpAddress": "1.0.0.1"
                            }
                          ],
                          "subnet": {
                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01"
                          }
                        },
                        "provisioningState": "Succeeded",
                        "stampId": "stamp01",
                        "statusMessage": "DedicatedHsm device is functional."
                      },
                      "sku": {
                        "name": "SafeNet Luna Network HSM A790"
                      },
                      "type": "Microsoft.HardwareSecurityModules/dedicatedHSMs"
                    },
                    {
                      "tags": {
                        "Dept": "hsm",
                        "Environment": "dogfood",
                        "Slice": "B"
                      },
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm2",
                      "location": "westus",
                      "name": "hsm1",
                      "properties": {
                        "networkProfile": {
                          "networkInterfaces": [
                            {
                              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic",
                              "privateIpAddress": "1.0.0.2"
                            }
                          ],
                          "subnet": {
                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01"
                          }
                        },
                        "provisioningState": "Succeeded",
                        "stampId": "stamp01",
                        "statusMessage": "DedicatedHsm device is functional."
                      },
                      "sku": {
                        "name": "SafeNet Luna Network HSM A790"
                      },
                      "type": "Microsoft.HardwareSecurityModules/dedicatedHSMs"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs": {
      "get": {
        "parameters": [
          {
            "description": "The name of the Resource Group to which the dedicated HSM belongs.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of results to return.",
            "in": "query",
            "name": "$top",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedHsmListResult"
                }
              }
            },
            "description": "Get information about all dedicated HSMs in the specified resource group."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedHsmError"
                }
              }
            },
            "description": "The error response describing why the operation failed."
          }
        },
        "tags": [
          "DedicatedHsms"
        ],
        "description": "The List operation gets information about the dedicated hsms associated with the subscription and within the specified resource group.",
        "operationId": "DedicatedHsm_ListByResourceGroup",
        "x-ms-examples": {
          "List dedicated HSM devices in a resource group": {
            "parameters": {
              "api-version": "2018-10-31-preview",
              "resourceGroupName": "hsm-group",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs?api-version=2018-10-31-preview&$skiptoken=dmF1bHQtcGVza3ktanVyeS03MzA3Ng==",
                  "value": [
                    {
                      "tags": {
                        "Dept": "hsm",
                        "Environment": "dogfood",
                        "Slice": "A"
                      },
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1",
                      "location": "westus",
                      "name": "hsm1",
                      "properties": {
                        "networkProfile": {
                          "networkInterfaces": [
                            {
                              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic",
                              "privateIpAddress": "1.0.0.1"
                            }
                          ],
                          "subnet": {
                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01"
                          }
                        },
                        "provisioningState": "Succeeded",
                        "stampId": "stamp01",
                        "statusMessage": "DedicatedHsm device is functional."
                      },
                      "sku": {
                        "name": "SafeNet Luna Network HSM A790"
                      },
                      "type": "Microsoft.HardwareSecurityModules/dedicatedHSMs"
                    },
                    {
                      "tags": {
                        "Dept": "hsm",
                        "Environment": "dogfood",
                        "Slice": "B"
                      },
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm2",
                      "location": "westus",
                      "name": "hsm1",
                      "properties": {
                        "networkProfile": {
                          "networkInterfaces": [
                            {
                              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic",
                              "privateIpAddress": "1.0.0.2"
                            }
                          ],
                          "subnet": {
                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01"
                          }
                        },
                        "provisioningState": "Succeeded",
                        "stampId": "stamp01",
                        "statusMessage": "DedicatedHsm device is functional."
                      },
                      "sku": {
                        "name": "SafeNet Luna Network HSM A790"
                      },
                      "type": "Microsoft.HardwareSecurityModules/dedicatedHSMs"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/{name}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the Resource Group to which the dedicated HSM belongs.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the dedicated HSM to delete",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK Response."
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedHsmError"
                }
              }
            },
            "description": "The error response describing why the operation failed."
          }
        },
        "tags": [
          "DedicatedHsms"
        ],
        "description": "Deletes the specified Azure Dedicated HSM.",
        "operationId": "DedicatedHsm_Delete",
        "x-ms-examples": {
          "Delete a dedicated HSM": {
            "parameters": {
              "api-version": "2018-10-31-preview",
              "name": "hsm1",
              "resourceGroupName": "hsm-group",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {},
              "202": {},
              "204": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the Resource Group to which the dedicated hsm belongs.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the dedicated HSM.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedHsm"
                }
              }
            },
            "description": "Retrieved dedicated HSM"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedHsmError"
                }
              }
            },
            "description": "The error response describing why the operation failed."
          }
        },
        "tags": [
          "DedicatedHsms"
        ],
        "description": "Gets the specified Azure dedicated HSM.",
        "operationId": "DedicatedHsm_Get",
        "x-ms-examples": {
          "Get a dedicated HSM": {
            "parameters": {
              "api-version": "2018-10-31-preview",
              "name": "hsm1",
              "resourceGroupName": "hsm-group",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "Dept": "hsm",
                    "Environment": "dogfood",
                    "Slice": "A"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1",
                  "location": "westus",
                  "name": "hsm1",
                  "properties": {
                    "networkProfile": {
                      "networkInterfaces": [
                        {
                          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic",
                          "privateIpAddress": "1.0.0.1"
                        }
                      ],
                      "subnet": {
                        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01"
                      }
                    },
                    "provisioningState": "Succeeded",
                    "stampId": "stamp01",
                    "statusMessage": "DedicatedHsm device is functional."
                  },
                  "sku": {
                    "name": "SafeNet Luna Network HSM A790"
                  },
                  "type": "Microsoft.HardwareSecurityModules/dedicatedHSMs"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the Resource Group to which the server belongs.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the dedicated HSM",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{3,24}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedHsm"
                }
              }
            },
            "description": "Patched dedicated HSM"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedHsmError"
                }
              }
            },
            "description": "The error response describing why the operation failed."
          }
        },
        "tags": [
          "DedicatedHsms"
        ],
        "description": "Update a dedicated HSM in the specified subscription.",
        "operationId": "DedicatedHsm_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DedicatedHsmPatchParameters"
              }
            }
          },
          "description": "Parameters to patch the dedicated HSM",
          "required": true
        },
        "x-ms-examples": {
          "Update an existing dedicated HSM": {
            "parameters": {
              "parameters": {
                "tags": {
                  "Dept": "hsm",
                  "Environment": "dogfood",
                  "Slice": "A"
                }
              },
              "api-version": "2018-10-31-preview",
              "name": "hsm1",
              "resourceGroupName": "hsm-group",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "Dept": "hsm",
                    "Environment": "dogfood",
                    "Slice": "A"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1",
                  "location": "westus",
                  "name": "hsm1",
                  "properties": {
                    "networkProfile": {
                      "networkInterfaces": [
                        {
                          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic",
                          "privateIpAddress": "1.0.0.1"
                        }
                      ],
                      "subnet": {
                        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01"
                      }
                    },
                    "provisioningState": "Succeeded",
                    "stampId": "stamp01",
                    "statusMessage": "DedicatedHsm device is functional."
                  },
                  "sku": {
                    "name": "SafeNet Luna Network HSM A790"
                  },
                  "type": "Microsoft.HardwareSecurityModules/dedicatedHSMs"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "parameters": [
          {
            "description": "The name of the Resource Group to which the resource belongs.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the dedicated Hsm",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{3,24}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedHsm"
                }
              }
            },
            "description": "Created dedicated HSM"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedHsm"
                }
              }
            },
            "description": "Created dedicated HSM"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DedicatedHsmError"
                }
              }
            },
            "description": "The error response describing why the operation failed."
          }
        },
        "tags": [
          "DedicatedHsms"
        ],
        "description": "Create or Update a dedicated HSM in the specified subscription.",
        "operationId": "DedicatedHsm_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DedicatedHsm"
              }
            }
          },
          "description": "Parameters to create or update the dedicated hsm",
          "required": true
        },
        "x-ms-examples": {
          "Create a new or update an existing dedicated HSM": {
            "parameters": {
              "parameters": {
                "tags": {
                  "Dept": "hsm",
                  "Environment": "dogfood"
                },
                "location": "westus",
                "properties": {
                  "networkProfile": {
                    "networkInterfaces": [
                      {
                        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic",
                        "privateIpAddress": "1.0.0.1"
                      }
                    ],
                    "subnet": {
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01"
                    }
                  },
                  "stampId": "stamp01"
                },
                "sku": {
                  "name": "SafeNet Luna Network HSM A790"
                }
              },
              "api-version": "2018-10-31-preview",
              "name": "hsm1",
              "resourceGroupName": "hsm-group",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "Dept": "hsm",
                    "Environment": "dogfood"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1",
                  "location": "westus",
                  "name": "hsm1",
                  "properties": {
                    "networkProfile": {
                      "networkInterfaces": [
                        {
                          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic",
                          "privateIpAddress": "1.0.0.1"
                        }
                      ],
                      "subnet": {
                        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01"
                      }
                    },
                    "provisioningState": "Succeeded",
                    "stampId": "stamp01",
                    "statusMessage": "DedicatedHsm device is functional."
                  },
                  "sku": {
                    "name": "SafeNet Luna Network HSM A790"
                  },
                  "type": "Microsoft.HardwareSecurityModules/dedicatedHSMs"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "Dept": "hsm",
                    "Environment": "dogfood"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.HardwareSecurityModules/dedicatedHSMs/hsm1",
                  "location": "westus",
                  "name": "hsm1",
                  "properties": {
                    "networkProfile": {
                      "networkInterfaces": [
                        {
                          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/networkInterfaces/hsm_vnic",
                          "privateIpAddress": "1.0.0.1"
                        }
                      ],
                      "subnet": {
                        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hsm-group/providers/Microsoft.Network/virtualNetworks/stamp01/subnets/stamp01"
                      }
                    },
                    "provisioningState": "Provisioning",
                    "stampId": "stamp01",
                    "statusMessage": "DedicatedHsm device is being provisioned."
                  },
                  "sku": {
                    "name": "SafeNet Luna Network HSM A790"
                  },
                  "type": "Microsoft.HardwareSecurityModules/dedicatedHSMs"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client Api Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SubscriptionIdParameter": {
        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ApiEntityReference": {
        "description": "The API entity reference.",
        "properties": {
          "id": {
            "description": "The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DedicatedHsm": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Resource information with extended details.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/DedicatedHsmProperties",
            "description": "Properties of the dedicated HSM",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "location",
          "sku",
          "properties"
        ],
        "type": "object"
      },
      "DedicatedHsmError": {
        "description": "The error exception.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error",
            "readOnly": true
          }
        },
        "type": "object"
      },
      "DedicatedHsmListResult": {
        "description": "List of dedicated HSMs",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of dedicated hsms.",
            "type": "string"
          },
          "value": {
            "description": "The list of dedicated HSMs.",
            "items": {
              "$ref": "#/components/schemas/DedicatedHsm"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DedicatedHsmPatchParameters": {
        "description": "Patchable properties of the dedicated HSM",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          }
        },
        "type": "object"
      },
      "DedicatedHsmProperties": {
        "description": "Properties of the dedicated hsm",
        "properties": {
          "networkProfile": {
            "$ref": "#/components/schemas/NetworkProfile",
            "description": "Specifies the network interfaces of the dedicated hsm."
          },
          "provisioningState": {
            "description": "Provisioning state.",
            "enum": [
              "Succeeded",
              "Provisioning",
              "Allocating",
              "Connecting",
              "Failed",
              "CheckingQuota",
              "Deleting"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "JsonWebKeyType",
              "values": [
                {
                  "description": "The dedicated HSM has been full provisioned.",
                  "value": "Succeeded"
                },
                {
                  "description": "The dedicated HSM is currently being provisioned.",
                  "value": "Provisioning"
                },
                {
                  "description": "A device is currently being allocated for the dedicated HSM resource.",
                  "value": "Allocating"
                },
                {
                  "description": "The dedicated HSM is being connected to the virtual network.",
                  "value": "Connecting"
                },
                {
                  "description": "Provisioning of the dedicated HSM has failed.",
                  "value": "Failed"
                },
                {
                  "description": "Validating the subscription has sufficient quota to allocate a dedicated HSM device.",
                  "value": "CheckingQuota"
                },
                {
                  "description": "The dedicated HSM is currently being deleted.",
                  "value": "Deleting"
                }
              ]
            }
          },
          "stampId": {
            "description": "This field will be used when RP does not support Availability zones.",
            "type": "string"
          },
          "statusMessage": {
            "description": "Resource Status Message.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Error": {
        "description": "The key vault server error.",
        "properties": {
          "code": {
            "description": "The error code.",
            "readOnly": true,
            "type": "string"
          },
          "innererror": {
            "$ref": "#/components/schemas/Error",
            "readOnly": true,
            "x-ms-client-name": "innerError"
          },
          "message": {
            "description": "The error message.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "NetworkInterface": {
        "description": "The network interface definition.",
        "properties": {
          "id": {
            "description": "The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/...",
            "readOnly": true,
            "type": "string"
          },
          "privateIpAddress": {
            "description": "Private Ip address of the interface",
            "type": "string"
          }
        },
        "type": "object"
      },
      "NetworkProfile": {
        "properties": {
          "networkInterfaces": {
            "description": "Specifies the list of resource Ids for the network interfaces associated with the dedicated HSM.",
            "items": {
              "$ref": "#/components/schemas/NetworkInterface"
            },
            "type": "array"
          },
          "subnet": {
            "$ref": "#/components/schemas/ApiEntityReference",
            "description": "Specifies the identifier of the subnet."
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "Dedicated HSM resource",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "id": {
            "description": "The Azure Resource Manager resource ID for the dedicated HSM.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "The supported Azure location where the dedicated HSM should be created.",
            "type": "string"
          },
          "name": {
            "description": "The name of the dedicated HSM.",
            "readOnly": true,
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku",
            "description": "SKU details"
          },
          "type": {
            "description": "The resource type of the dedicated HSM.",
            "readOnly": true,
            "type": "string"
          },
          "zones": {
            "description": "The Dedicated Hsm zones.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ResourceListResult": {
        "description": "List of dedicated HSM resources.",
        "properties": {
          "nextLink": {
            "description": "The URL to get the next set of dedicated HSM resources.",
            "type": "string"
          },
          "value": {
            "description": "The list of dedicated HSM resources.",
            "items": {
              "$ref": "#/components/schemas/Resource"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Sku": {
        "properties": {
          "name": {
            "description": "SKU of the dedicated HSM",
            "enum": [
              "SafeNet Luna Network HSM A790"
            ],
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}