{
  "openapi": "3.0.3",
  "info": {
    "title": "Al-Quran Cloud API",
    "description": "The Al-Quran Cloud API provides access to the full text of the Holy Quran with translations, transliterations, and audio recitations in multiple languages. It supports retrieval by surah, ayah, juz, manzil, ruku, page, and hizb quarter, as well as keyword search and metadata.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://alquran.cloud/api"
  },
  "servers": [
    {
      "url": "https://api.alquran.cloud/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/surah": {
      "get": {
        "operationId": "listSurahs",
        "summary": "List all surahs",
        "description": "Returns a list of all 114 surahs (chapters) of the Quran with basic metadata.",
        "tags": [
          "Surah"
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of surahs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurahListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/surah/{number}": {
      "get": {
        "operationId": "getSurah",
        "summary": "Get a surah by number",
        "description": "Returns a complete surah with all its ayahs in the default Arabic edition.",
        "tags": [
          "Surah"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Surah number (1-114)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 114
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with surah data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurahDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/surah/{number}/{edition}": {
      "get": {
        "operationId": "getSurahByEdition",
        "summary": "Get a surah in a specific edition",
        "description": "Returns a complete surah with all its ayahs in the specified edition (translation, transliteration, or audio).",
        "tags": [
          "Surah"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Surah number (1-114)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 114
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "description": "Edition identifier (e.g., 'en.asad', 'ar.alafasy')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with surah data in specified edition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurahDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ayah/{reference}": {
      "get": {
        "operationId": "getAyah",
        "summary": "Get an ayah by reference",
        "description": "Returns a single ayah (verse) by its global number or surah:ayah reference.",
        "tags": [
          "Ayah"
        ],
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "description": "Ayah reference - either a global number (1-6236) or surah:ayah format (e.g., '2:255')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with ayah data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AyahResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ayah/{reference}/{edition}": {
      "get": {
        "operationId": "getAyahByEdition",
        "summary": "Get an ayah in a specific edition",
        "description": "Returns a single ayah in the specified edition.",
        "tags": [
          "Ayah"
        ],
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "description": "Ayah reference - either a global number (1-6236) or surah:ayah format (e.g., '2:255')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "description": "Edition identifier (e.g., 'en.asad', 'ar.alafasy')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with ayah data in specified edition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AyahResponse"
                }
              }
            }
          }
        }
      }
    },
    "/juz/{number}": {
      "get": {
        "operationId": "getJuz",
        "summary": "Get a juz by number",
        "description": "Returns all ayahs in the specified juz (one of 30 equal divisions of the Quran).",
        "tags": [
          "Juz"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Juz number (1-30)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with juz data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuranSectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/juz/{number}/{edition}": {
      "get": {
        "operationId": "getJuzByEdition",
        "summary": "Get a juz in a specific edition",
        "description": "Returns all ayahs in the specified juz in a given edition.",
        "tags": [
          "Juz"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Juz number (1-30)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "description": "Edition identifier (e.g., 'en.asad')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with juz data in specified edition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuranSectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/manzil/{number}": {
      "get": {
        "operationId": "getManzil",
        "summary": "Get a manzil by number",
        "description": "Returns all ayahs in the specified manzil (one of 7 divisions for monthly reading).",
        "tags": [
          "Manzil"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Manzil number (1-7)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 7
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with manzil data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuranSectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/manzil/{number}/{edition}": {
      "get": {
        "operationId": "getManzilByEdition",
        "summary": "Get a manzil in a specific edition",
        "description": "Returns all ayahs in the specified manzil in a given edition.",
        "tags": [
          "Manzil"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Manzil number (1-7)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 7
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "description": "Edition identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with manzil data in specified edition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuranSectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ruku/{number}": {
      "get": {
        "operationId": "getRuku",
        "summary": "Get a ruku by number",
        "description": "Returns all ayahs in the specified ruku (one of 556 thematic sections).",
        "tags": [
          "Ruku"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Ruku number (1-556)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 556
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with ruku data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuranSectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ruku/{number}/{edition}": {
      "get": {
        "operationId": "getRukuByEdition",
        "summary": "Get a ruku in a specific edition",
        "description": "Returns all ayahs in the specified ruku in a given edition.",
        "tags": [
          "Ruku"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Ruku number (1-556)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 556
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "description": "Edition identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with ruku data in specified edition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuranSectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/page/{number}": {
      "get": {
        "operationId": "getPage",
        "summary": "Get a page by number",
        "description": "Returns all ayahs on the specified page of the Quran (one of 604 pages).",
        "tags": [
          "Page"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Page number (1-604)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 604
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with page data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuranSectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/page/{number}/{edition}": {
      "get": {
        "operationId": "getPageByEdition",
        "summary": "Get a page in a specific edition",
        "description": "Returns all ayahs on the specified page in a given edition.",
        "tags": [
          "Page"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Page number (1-604)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 604
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "description": "Edition identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with page data in specified edition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuranSectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hizbQuarter/{number}": {
      "get": {
        "operationId": "getHizbQuarter",
        "summary": "Get a hizb quarter by number",
        "description": "Returns all ayahs in the specified hizb quarter (one of 240 quarter-hizb segments).",
        "tags": [
          "HizbQuarter"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Hizb quarter number (1-240)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 240
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with hizb quarter data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuranSectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hizbQuarter/{number}/{edition}": {
      "get": {
        "operationId": "getHizbQuarterByEdition",
        "summary": "Get a hizb quarter in a specific edition",
        "description": "Returns all ayahs in the specified hizb quarter in a given edition.",
        "tags": [
          "HizbQuarter"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "description": "Hizb quarter number (1-240)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 240
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "description": "Edition identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with hizb quarter data in specified edition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuranSectionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sajda": {
      "get": {
        "operationId": "listSajdaAyahs",
        "summary": "List all sajda ayahs",
        "description": "Returns all 15 ayahs that include sajda (prostration) markers, indicating whether each is recommended or obligatory.",
        "tags": [
          "Sajda"
        ],
        "responses": {
          "200": {
            "description": "Successful response with sajda ayahs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SajdaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sajda/{edition}": {
      "get": {
        "operationId": "listSajdaAyahsByEdition",
        "summary": "List all sajda ayahs in a specific edition",
        "description": "Returns all sajda ayahs in the specified edition.",
        "tags": [
          "Sajda"
        ],
        "parameters": [
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "description": "Edition identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with sajda ayahs in specified edition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SajdaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/edition": {
      "get": {
        "operationId": "listEditions",
        "summary": "List all available editions",
        "description": "Returns all available editions including translations, transliterations, and audio recitations across 50+ languages.",
        "tags": [
          "Edition"
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of editions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditionListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/edition/type/{type}": {
      "get": {
        "operationId": "listEditionsByType",
        "summary": "List editions by type",
        "description": "Returns editions filtered by type (e.g., tafsir, translation, transliteration, quran, versebyverse).",
        "tags": [
          "Edition"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "Edition type to filter by",
            "schema": {
              "type": "string",
              "enum": [
                "tafsir",
                "translation",
                "transliteration",
                "quran",
                "versebyverse"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with filtered editions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditionListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/edition/format/{format}": {
      "get": {
        "operationId": "listEditionsByFormat",
        "summary": "List editions by format",
        "description": "Returns editions filtered by format (text or audio).",
        "tags": [
          "Edition"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "description": "Edition format to filter by",
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "audio"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with filtered editions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditionListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/edition/language/{language}": {
      "get": {
        "operationId": "listEditionsByLanguage",
        "summary": "List editions by language",
        "description": "Returns editions filtered by language code (e.g., 'en', 'ar', 'fr').",
        "tags": [
          "Edition"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "required": true,
            "description": "ISO 639-1 language code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with filtered editions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditionListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/{keyword}/{surah}/{edition}": {
      "get": {
        "operationId": "searchQuran",
        "summary": "Search the Quran",
        "description": "Search for a keyword in the Quran text. Specify a surah number to limit the search, or use 'all' to search all surahs.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "required": true,
            "description": "The keyword or phrase to search for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "surah",
            "in": "path",
            "required": true,
            "description": "Surah number to limit the search (1-114), or 'all' for all surahs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "description": "Edition identifier to search in (e.g., 'en.asad')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/meta": {
      "get": {
        "operationId": "getMeta",
        "summary": "Get Quran metadata",
        "description": "Returns comprehensive metadata about the Quran including total ayah count, surah listing, sajda positions, ruku references, page references, manzil divisions, hizb quarters, and juz divisions.",
        "tags": [
          "Meta"
        ],
        "responses": {
          "200": {
            "description": "Successful response with Quran metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "HTTP status code",
            "example": 200
          },
          "status": {
            "type": "string",
            "description": "Status message",
            "example": "OK"
          }
        },
        "required": [
          "code",
          "status"
        ]
      },
      "SurahSummary": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "description": "Surah number (1-114)",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Arabic name of the surah",
            "example": "سُورَةُ الفَاتِحَةِ"
          },
          "englishName": {
            "type": "string",
            "description": "English transliteration of the surah name",
            "example": "Al-Faatiha"
          },
          "englishNameTranslation": {
            "type": "string",
            "description": "English translation of the surah name",
            "example": "The Opening"
          },
          "numberOfAyahs": {
            "type": "integer",
            "description": "Number of ayahs in the surah",
            "example": 7
          },
          "revelationType": {
            "type": "string",
            "description": "Whether the surah was revealed in Mecca or Medina",
            "enum": [
              "Meccan",
              "Medinan"
            ],
            "example": "Meccan"
          }
        },
        "required": [
          "number",
          "name",
          "englishName",
          "englishNameTranslation",
          "numberOfAyahs",
          "revelationType"
        ]
      },
      "Edition": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Unique identifier for the edition",
            "example": "en.asad"
          },
          "language": {
            "type": "string",
            "description": "ISO 639-1 language code",
            "example": "en"
          },
          "name": {
            "type": "string",
            "description": "Name of the edition in its native language",
            "example": "Muhammad Asad"
          },
          "englishName": {
            "type": "string",
            "description": "English name of the edition",
            "example": "Muhammad Asad"
          },
          "format": {
            "type": "string",
            "description": "Format of the edition",
            "enum": [
              "text",
              "audio"
            ],
            "example": "text"
          },
          "type": {
            "type": "string",
            "description": "Type of the edition",
            "enum": [
              "tafsir",
              "translation",
              "transliteration",
              "quran",
              "versebyverse"
            ],
            "example": "translation"
          },
          "direction": {
            "type": "string",
            "description": "Text direction",
            "enum": [
              "rtl",
              "ltr"
            ],
            "nullable": true,
            "example": "ltr"
          }
        },
        "required": [
          "identifier",
          "language",
          "name",
          "englishName",
          "format",
          "type"
        ]
      },
      "Ayah": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "description": "Global ayah number (1-6236)",
            "example": 1
          },
          "text": {
            "type": "string",
            "description": "Text content of the ayah"
          },
          "numberInSurah": {
            "type": "integer",
            "description": "Ayah number within its surah",
            "example": 1
          },
          "juz": {
            "type": "integer",
            "description": "Juz number this ayah belongs to",
            "example": 1
          },
          "manzil": {
            "type": "integer",
            "description": "Manzil number this ayah belongs to",
            "example": 1
          },
          "page": {
            "type": "integer",
            "description": "Page number this ayah appears on",
            "example": 1
          },
          "ruku": {
            "type": "integer",
            "description": "Ruku number this ayah belongs to",
            "example": 1
          },
          "hizbQuarter": {
            "type": "integer",
            "description": "Hizb quarter number this ayah belongs to",
            "example": 1
          },
          "sajda": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "$ref": "#/components/schemas/SajdaDetail"
              }
            ],
            "description": "Sajda marker - false if no sajda, or an object with details if sajda is present"
          }
        },
        "required": [
          "number",
          "text",
          "numberInSurah",
          "juz",
          "manzil",
          "page",
          "ruku",
          "hizbQuarter",
          "sajda"
        ]
      },
      "AyahWithSurah": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Ayah"
          },
          {
            "type": "object",
            "properties": {
              "surah": {
                "$ref": "#/components/schemas/SurahSummary"
              },
              "edition": {
                "$ref": "#/components/schemas/Edition"
              }
            }
          }
        ]
      },
      "SajdaDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Sajda identifier"
          },
          "recommended": {
            "type": "boolean",
            "description": "Whether the sajda is recommended"
          },
          "obligatory": {
            "type": "boolean",
            "description": "Whether the sajda is obligatory"
          }
        },
        "required": [
          "id",
          "recommended",
          "obligatory"
        ]
      },
      "SurahListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SurahSummary"
                }
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "SurahDetailResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "integer",
                    "description": "Surah number"
                  },
                  "name": {
                    "type": "string",
                    "description": "Arabic name"
                  },
                  "englishName": {
                    "type": "string",
                    "description": "English transliteration"
                  },
                  "englishNameTranslation": {
                    "type": "string",
                    "description": "English translation of name"
                  },
                  "revelationType": {
                    "type": "string",
                    "enum": [
                      "Meccan",
                      "Medinan"
                    ]
                  },
                  "numberOfAyahs": {
                    "type": "integer"
                  },
                  "ayahs": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Ayah"
                    }
                  },
                  "edition": {
                    "$ref": "#/components/schemas/Edition"
                  }
                },
                "required": [
                  "number",
                  "name",
                  "englishName",
                  "englishNameTranslation",
                  "revelationType",
                  "numberOfAyahs",
                  "ayahs"
                ]
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "AyahResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/schemas/AyahWithSurah"
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "QuranSectionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "integer",
                    "description": "Section number"
                  },
                  "ayahs": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AyahWithSurah"
                    }
                  },
                  "surahs": {
                    "type": "object",
                    "additionalProperties": {
                      "$ref": "#/components/schemas/SurahSummary"
                    },
                    "description": "Map of surah numbers to surah metadata for surahs in this section"
                  },
                  "edition": {
                    "$ref": "#/components/schemas/Edition"
                  }
                },
                "required": [
                  "number",
                  "ayahs"
                ]
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "SajdaResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "ayahs": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AyahWithSurah"
                    }
                  },
                  "edition": {
                    "$ref": "#/components/schemas/Edition"
                  }
                },
                "required": [
                  "ayahs"
                ]
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "EditionListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Edition"
                }
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "SearchResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "description": "Total number of matching results"
                  },
                  "matches": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AyahWithSurah"
                    }
                  }
                },
                "required": [
                  "count",
                  "matches"
                ]
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "SurahReference": {
        "type": "object",
        "properties": {
          "surah": {
            "type": "integer",
            "description": "Surah number"
          },
          "ayah": {
            "type": "integer",
            "description": "Ayah number within the surah"
          }
        },
        "required": [
          "surah",
          "ayah"
        ]
      },
      "MetaResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "ayahs": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "description": "Total number of ayahs in the Quran",
                        "example": 6236
                      }
                    }
                  },
                  "surahs": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "example": 114
                      },
                      "references": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/SurahSummary"
                        }
                      }
                    }
                  },
                  "sajdas": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "example": 15
                      },
                      "references": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "surah": {
                              "type": "integer"
                            },
                            "ayah": {
                              "type": "integer"
                            },
                            "recommended": {
                              "type": "boolean"
                            },
                            "obligatory": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  },
                  "rukus": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "example": 556
                      },
                      "references": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/SurahReference"
                        }
                      }
                    }
                  },
                  "pages": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "example": 604
                      },
                      "references": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/SurahReference"
                        }
                      }
                    }
                  },
                  "manzils": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "example": 7
                      },
                      "references": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/SurahReference"
                        }
                      }
                    }
                  },
                  "hizbQuarters": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "example": 240
                      },
                      "references": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/SurahReference"
                        }
                      }
                    }
                  },
                  "juzs": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "example": 30
                      },
                      "references": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/SurahReference"
                        }
                      }
                    }
                  }
                }
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Surah",
      "description": "Operations for retrieving surahs (chapters)"
    },
    {
      "name": "Ayah",
      "description": "Operations for retrieving individual ayahs (verses)"
    },
    {
      "name": "Juz",
      "description": "Operations for retrieving juz (sections)"
    },
    {
      "name": "Manzil",
      "description": "Operations for retrieving manzils (7 divisions for monthly reading)"
    },
    {
      "name": "Ruku",
      "description": "Operations for retrieving rukus (thematic sections)"
    },
    {
      "name": "Page",
      "description": "Operations for retrieving pages of the Quran"
    },
    {
      "name": "HizbQuarter",
      "description": "Operations for retrieving hizb quarters"
    },
    {
      "name": "Sajda",
      "description": "Operations for retrieving sajda (prostration) verses"
    },
    {
      "name": "Edition",
      "description": "Operations for retrieving available editions (translations, transliterations, audio)"
    },
    {
      "name": "Search",
      "description": "Operations for searching the Quran"
    },
    {
      "name": "Meta",
      "description": "Operations for retrieving Quran metadata"
    }
  ]
}