{
  "openapi": "3.0.3",
  "info": {
    "title": "Quran API",
    "version": "1.0.0",
    "description": "Al Quran Cloud API providing access to Quran text, translations, audio recitations, and metadata. Supports multiple editions, languages, and formats.",
    "x-jentic-source-url": "https://alquran.cloud/api"
  },
  "servers": [
    {
      "url": "https://api.alquran.cloud"
    }
  ],
  "paths": {
    "/v1/edition": {
      "get": {
        "operationId": "listEditions",
        "summary": "List all editions",
        "tags": [
          "Editions"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of editions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/edition/language": {
      "get": {
        "operationId": "listLanguages",
        "summary": "List supported languages",
        "tags": [
          "Editions"
        ],
        "responses": {
          "200": {
            "description": "List of languages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/edition/language/{language}": {
      "get": {
        "operationId": "getEditionsByLanguage",
        "summary": "Get editions for a specific language",
        "tags": [
          "Editions"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Editions for language",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/edition/type": {
      "get": {
        "operationId": "listEditionTypes",
        "summary": "List edition types",
        "tags": [
          "Editions"
        ],
        "responses": {
          "200": {
            "description": "List of edition types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/edition/type/{type}": {
      "get": {
        "operationId": "getEditionsByType",
        "summary": "Get editions by type",
        "tags": [
          "Editions"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Editions by type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/edition/format": {
      "get": {
        "operationId": "listFormats",
        "summary": "List available formats",
        "tags": [
          "Editions"
        ],
        "responses": {
          "200": {
            "description": "List of formats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/edition/format/{format}": {
      "get": {
        "operationId": "getEditionsByFormat",
        "summary": "Get editions by format",
        "tags": [
          "Editions"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Editions by format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/quran/{edition}": {
      "get": {
        "operationId": "getCompleteQuran",
        "summary": "Get complete Quran edition",
        "tags": [
          "Quran"
        ],
        "parameters": [
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Complete Quran text",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuranResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/surah": {
      "get": {
        "operationId": "listSurahs",
        "summary": "List all 114 surahs",
        "tags": [
          "Surahs"
        ],
        "responses": {
          "200": {
            "description": "List of surahs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurahsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/surah/{surah}/{edition}": {
      "get": {
        "operationId": "getSurah",
        "summary": "Get a specific surah",
        "tags": [
          "Surahs"
        ],
        "parameters": [
          {
            "name": "surah",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 114
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Surah content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurahResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/ayah/{reference}/{edition}": {
      "get": {
        "operationId": "getAyah",
        "summary": "Get a specific ayah (verse)",
        "tags": [
          "Ayahs"
        ],
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ayah number or surah:ayah reference"
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ayah content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AyahResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/juz/{juz}/{edition}": {
      "get": {
        "operationId": "getJuz",
        "summary": "Get a specific juz",
        "tags": [
          "Divisions"
        ],
        "parameters": [
          {
            "name": "juz",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Juz content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/page/{page}/{edition}": {
      "get": {
        "operationId": "getPage",
        "summary": "Get a page of the Quran",
        "tags": [
          "Divisions"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 604
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/hizbQuarter/{hizb}/{edition}": {
      "get": {
        "operationId": "getHizbQuarter",
        "summary": "Get a hizb quarter",
        "tags": [
          "Divisions"
        ],
        "parameters": [
          {
            "name": "hizb",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 240
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hizb quarter content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/manzil/{manzil}/{edition}": {
      "get": {
        "operationId": "getManzil",
        "summary": "Get a manzil (weekly reading section)",
        "tags": [
          "Divisions"
        ],
        "parameters": [
          {
            "name": "manzil",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 7
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Manzil content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/ruku/{ruku}/{edition}": {
      "get": {
        "operationId": "getRuku",
        "summary": "Get a ruku (recitation segment)",
        "tags": [
          "Divisions"
        ],
        "parameters": [
          {
            "name": "ruku",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 556
            }
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ruku content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/sajda/{edition}": {
      "get": {
        "operationId": "getSajda",
        "summary": "Get prostration verses",
        "tags": [
          "Divisions"
        ],
        "parameters": [
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sajda verses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/search/{keyword}/{surah}/{edition}": {
      "get": {
        "operationId": "searchQuran",
        "summary": "Search the Quran",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "surah",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Surah number or 'all'"
          },
          {
            "name": "edition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/meta": {
      "get": {
        "operationId": "getMeta",
        "summary": "Get Quran metadata",
        "tags": [
          "Meta"
        ],
        "responses": {
          "200": {
            "description": "Quran structure metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Edition": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "englishName": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Surah": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "englishName": {
            "type": "string"
          },
          "englishNameTranslation": {
            "type": "string"
          },
          "numberOfAyahs": {
            "type": "integer"
          },
          "revelationType": {
            "type": "string"
          }
        }
      },
      "Ayah": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer"
          },
          "text": {
            "type": "string"
          },
          "numberInSurah": {
            "type": "integer"
          },
          "juz": {
            "type": "integer"
          },
          "manzil": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "ruku": {
            "type": "integer"
          },
          "hizbQuarter": {
            "type": "integer"
          },
          "sajda": {
            "type": "boolean"
          }
        }
      },
      "EditionsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Edition"
            }
          }
        }
      },
      "LanguagesResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TypesResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FormatsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "QuranResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "surahs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Surah"
                }
              },
              "edition": {
                "$ref": "#/components/schemas/Edition"
              }
            }
          }
        }
      },
      "SurahsListResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Surah"
            }
          }
        }
      },
      "SurahResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "number": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "englishName": {
                "type": "string"
              },
              "ayahs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Ayah"
                }
              },
              "edition": {
                "$ref": "#/components/schemas/Edition"
              }
            }
          }
        }
      },
      "AyahResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Ayah"
          }
        }
      },
      "DivisionResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "ayahs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Ayah"
                }
              },
              "edition": {
                "$ref": "#/components/schemas/Edition"
              }
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "matches": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Ayah"
                }
              }
            }
          }
        }
      },
      "MetaResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": []
}