{
  "openapi": "3.0.1",
  "info": {
    "title": "AUTONOW-PT - Portugal",
    "description": "Web Service which allows you to query the official database in real time by simply entering a license plate or a VIN. You allow your ecosystem to identify in one click the official data of a vehicle among the 80M license plates in Portugal.The API allows you to identify and get all the car information you need, in addition to an identifier like K-type for auto parts compatibility with the TecDoc catalog.",
    "termsOfService": "https://auto-ways.net/",
    "contact": {
      "email": "contact@auto-ways.net"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/SALESAUTOWAYSNET/AUTONOW-PT/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://app.auto-ways.net/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Auto Now",
      "description": "Request your demo for free",
      "externalDocs": {
        "description": "here",
        "url": "https://auto-ways.net/demo"
      }
    },
    {
      "name": "car-info"
    }
  ],
  "paths": {
    "/pt": {
      "get": {
        "tags": [
          "car-info"
        ],
        "summary": "Find car by plate  , country  (PT)",
        "description": "Return vehicle data from license plate",
        "operationId": "getCarByPlate_pt",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Your token, use your real token or request a free token for fee here https://auto-ways.net/demo ",
            "required": true,
            "schema": {
              "type": "string",
              "default": "4a486e221ea6d4a888671242b5fe0fed"
            }
          },
          {
            "name": "plaque",
            "in": "query",
            "description": "car plate ",
            "required": true,
            "schema": {
              "type": "string",
              "default": "89XL64"
            }
          },
          {
            "name": "output_lang",
            "in": "query",
            "description": "Define the API output language (fr,en)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "example": {
                  "error": false,
                  "data": {
                    "AWN_immat": "89xl64",
                    "AWN_VIN": "SJNFFAJ11U2588958",
                    "AWN_marque": "NISSAN",
                    "AWN_modele": "QASHQAI II SUV",
                    "AWN_modele_etude": "QASHQAI",
                    "AWN_k_type": "133682",
                    "AWN_couleur": "CASTAN",
                    "AWN_marque_carrosserie": "NISSAN",
                    "AWN_puissance_chevaux": "140",
                    "AWN_puissance_fiscale": "0",
                    "AWN_carrosserie": "Inconnue",
                    "AWN_genre": "VP",
                    "AWN_genre_carte_grise": "VP",
                    "AWN_energie": "ESSENCE",
                    "AWN_emission_co_2": "0",
                    "AWN_date_mise_en_circulation": "26/04/2019",
                    "AWN_date_30": "02/05/2019",
                    "AWN_numero_de_serie": "U2588958",
                    "AWN_nbr_cylindres": "4",
                    "AWN_nbr_cylindre_energie": "1332",
                    "AWN_collection": "NON",
                    "AWN_puissance_KW": "103",
                    "AWN_code_moteur": "HR13DDT",
                    "AWN_nbr_de_places": "5",
                    "AWN_nbr_soupapes": "0",
                    "AWN_nbr_volume": "0",
                    "AWN_nbr_portes": "0",
                    "AWN_nbr_vitesses": "0",
                    "AWN_type_boite_vites": "INCONNUE",
                    "AWN_consommation_urbaine": "0.0",
                    "AWN_consommation_ex_urbaine": "0.0",
                    "AWN_consommation_mixte": "0.0",
                    "AWN_mode_injection": "INJECTION DANS LE COLLECTEUR D'ADMISSION, INJECTION DIRECTE",
                    "AWN_prix": "0",
                    "AWN_propulsion": "Traction avant",
                    "AWN_libelle": "QASHQAI II SUV (J11, J11_)",
                    "AWN_TID": "135591",
                    "AWN_modele_id": "65087",
                    "AWN_marque_id": "1194",
                    "AWN_annee_de_debut_modele": "201808",
                    "AWN_annee_de_fin_modele": "999999",
                    "AWN_brand_img_path": "/autoways/public/storage/brands/nissan.png",
                    "country": "pt",
                    "AWN_brand_img_full_path": "https://app.auto-ways.net/autoways/public/storage/brands/nissan.png",
                    "AWN_country": "pt",
                    "AWN_output_lang": "fr"
                  }
                }
              }
            }
          },
          "301": {
            "description": "Cross-Origin Resource Sharing (CORS)"
          },
          "401": {
            "description": "Unauthorized client"
          },
          "404": {
            "description": "Car not found"
          }
        }
      }
    }
  },
  "components": {},
  "externalDocs": {
    "url": "https://auto-ways.net/api-doc/",
    "description": "External API Documentation"
  }
}
