{
  "openapi": "3.0.3",
  "info": {
    "title": "ShowMyRep API",
    "version": "1.0.0",
    "description": "Review management API for authenticating, managing employees, and adding contacts to review request series.",
    "x-jentic-source-url": "https://api.showmyrep.io/api/v1/docs",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.showmyrep.io/api/v1"
    }
  ],
  "paths": {
    "/zap/auth": {
      "get": {
        "operationId": "authenticate",
        "summary": "Authenticate",
        "description": "Retrieve basic account info for the business tied to an API key",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zap/employees": {
      "get": {
        "operationId": "listEmployees",
        "summary": "List employees",
        "description": "Get a flat array of all employees for the keyed business",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employees list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Employee"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/zap/add-contact-to-series": {
      "post": {
        "operationId": "addContactToSeries",
        "summary": "Add contact to series",
        "description": "Queues a new review-request contact in your active series",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthResponse": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object"
          },
          "business": {
            "type": "object"
          }
        }
      },
      "Employee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "AddContactRequest": {
        "type": "object",
        "required": [
          "first_name"
        ],
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "cell_phone": {
            "type": "string"
          },
          "employee_id": {
            "type": "string"
          }
        }
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "contact": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Employees"
    }
  ]
}
