openapi: 3.0.3
info:
  title: Crunchbase Enterprise API
  description: Crunchbase Enterprise API, 2021-07-16
  version: 1.0.3
  termsOfService: https://data.crunchbase.com/docs/terms
servers:
  - url: https://api.crunchbase.com/api/v4
externalDocs:
  url: https://data.crunchbase.com/docs
  description: API Reference doc
security:
  - ApiKeyAuthHeader: []
tags:
  - name: Autocomplete
  - name: Deleted Entities
  - name: Entity
  - name: Search


paths:
  /autocompletes:
    get:
      summary: Suggests matching Identifier entities based on the query and entity_def_ids provided.
      tags:
        - Autocomplete
      parameters:
        - name: query
          description: Value to perform the autocomplete search with.
          in: query
          required: true
          schema:
            type: string
        - name: collection_ids
          description: |
            A comma separated list of collection ids to search against. Leaving this blank means it will search across
            all identifiers. Entity defs can be constrained to specific facets by providing them as facet collections.
            Relationship collections will resolve to their underlying entity def. \
            Collection ids are: organizations, people, funding_rounds, acquisitions, investments, events,
            press_references, funds, event_appearances, ipos, ownerships, categories, category_groups, locations, jobs
          in: query
          schema:
            type: string
        - name: limit
          description: Number of results to retrieve; default = 10, max = 25
          in: query
          schema:
            type: integer
      responses:
        "200":
          $ref: '#/components/responses/AutocompleteResult'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /deleted_entities:
    get:
      summary: Retrieve deleted entities
      tags:
        - Deleted Entities
      parameters:
        - name: collection_ids
          description: |
            Filter by collection id(s). Comma separated list of collection ids.\
            E.g. organizations, people, funding_rounds, acquisitions, investments, events, press_references, funds,
            event_appearances, ipos, ownerships, categories, category_groups, locations, jobs
          in: query
          schema:
            type: string
        - name: before_id
          description: |
            Used to paginate search results to the previous page. before_id should be the uuid of the first item in
            the current page. May not be provided simultaneously with after_id.
          in: query
          schema:
            type: string
            format: uuid
        - name: after_id
          description: |
            Used to paginate search results to the next page. after_id should be the uuid of the last item in
            the current page. May not be provided simultaneously with before_id.
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          description: Number of rows to return. Default is 100, min is 1, max is 2000.
          in: query
          schema:
            type: integer
        - name: deleted_at_order
          description: Direction of sorting by deleted_at property
          in: query
          schema:
            type: string
            enum: [ asc, desc ]
      responses:
        "200":
          $ref: '#/components/responses/DeletedEntitiesResult'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'
  
  /deleted_entities/{collection_id}:
    get:
      summary: Retrieve deleted entities for a collection id
      tags:
        - Deleted Entities
      parameters:
        - name: collection_id
          description: |
            Filter by collection id. E.g. organizations, people, funding_rounds, acquisitions, investments, events,
            press_references, funds, event_appearances, ipos, ownerships, categories, category_groups, locations, jobs
          in: path
          required: true
          schema:
            type: string
        - name: before_id
          description: |
            Used to paginate search results to the previous page. before_id should be the uuid of the first item in
            the current page. May not be provided simultaneously with after_id.
          in: query
          schema:
            type: string
            format: uuid
        - name: after_id
          description: |
            Used to paginate search results to the next page. after_id should be the uuid of the last item in
            the current page. May not be provided simultaneously with before_id.
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          description: Number of rows to return. Default is 100, min is 1, max is 2000.
          in: query
          schema:
            type: integer
        - name: deleted_at_order
          description: Direction of sorting by deleted_at property
          in: query
          schema:
            type: string
            enum: [ asc, desc ]
      responses:
        "200":
          $ref: '#/components/responses/DeletedEntitiesResult'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/organizations:
    post:
      summary: |
        Search Organization Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
            examples:
              example1:
                summary: Companies in Europe with funding total between 25m and 100m USD
                value:
                  field_ids:
                    - identifier
                    - categories
                    - location_identifiers
                    - short_description
                    - rank_org
                  order:
                    - field_id: rank_org
                      sort: asc
                  query:
                    - type: predicate
                      field_id: funding_total
                      operator_id: between
                      values:
                        - value: 25000000
                          currency: usd
                        - value: 100000000
                          currency: usd
                    - type: predicate
                      field_id: location_identifiers
                      operator_id: includes
                      values:
                        - 6106f5dc-823e-5da8-40d7-51612c0b2c4e
                    - type: predicate
                      field_id: facet_ids
                      operator_id: includes
                      values:
                        - company
                  limit: 50
              example2:
                summary: Biotech companies with number of employees between 101 and 250
                value:
                  field_ids:
                    - identifier
                    - categories
                    - location_identifiers
                    - short_description
                    - rank_org
                  order:
                    - field_id: rank_org
                      sort: asc
                  query:
                    - type: predicate
                      field_id: num_employees_enum
                      operator_id: includes
                      values:
                        - c_00101_00250
                    - type: predicate
                      field_id: categories
                      operator_id: includes
                      values:
                        - 58842728-7ab9-5bd1-bb67-e8e55f6520a0
                  limit: 50
      responses:
        "200":
          $ref: '#/components/responses/OrganizationSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/organizations/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Organization: [acquiree_acquisitions, acquirer_acquisitions, child_organizations, child_ownerships, event_appearances, fields, founders, headquarters_address, investors, ipos, jobs, key_employee_changes, layoffs, parent_organization, parent_ownership, participated_funding_rounds, participated_funds, participated_investments, press_references, raised_funding_rounds, raised_funds, raised_investments]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup an Organization
      responses:
        "200":
          description: Single Organization result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationEntity'
              examples:
                example:
                  $ref: '#/components/examples/OrganizationLookupResponseExample'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/organizations/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Organization's single card
      responses:
        "200":
          description: Single Organization with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationEntity'
              examples:
                example:
                  $ref: '#/components/examples/OrganizationCardLookupResponseExample'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/people:
    post:
      summary: |
        Search Person Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/PersonSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/people/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Person: [degrees, event_appearances, fields, founded_organizations, jobs, participated_funding_rounds, participated_funds, participated_investments, partner_funding_rounds, partner_investments, press_references, primary_job, primary_organization]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup a Person
      responses:
        "200":
          description: Single Person result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/people/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Person's single card
      responses:
        "200":
          description: Single Person with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/funding_rounds:
    post:
      summary: |
        Search Funding Round Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/FundingRoundSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/funding_rounds/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Funding Round: [fields, investments, investors, lead_investors, organization, partners, press_references]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup a Funding Round
      responses:
        "200":
          description: Single Funding Round result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingRoundEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/funding_rounds/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Funding Round's single card
      responses:
        "200":
          description: Single Funding Round with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingRoundEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/acquisitions:
    post:
      summary: |
        Search Acquisition Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/AcquisitionSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/acquisitions/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Acquisition: [acquiree_organization, acquirer_organization, fields, press_references]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup an Acquisition
      responses:
        "200":
          description: Single Acquisition result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcquisitionEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/acquisitions/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Acquisition's single card
      responses:
        "200":
          description: Single Acquisition with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcquisitionEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/investments:
    post:
      summary: |
        Search Investment Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/InvestmentSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/investments/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Investment: [fields, funding_round, investor, organization, partner]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup an Investment
      responses:
        "200":
          description: Single Investment result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/investments/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Investment's single card
      responses:
        "200":
          description: Single Investment with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/events:
    post:
      summary: |
        Search Event Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/EventSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/events/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Event: [address, appearances, contestants, exhibitors, fields, organizers, press_references, speakers, sponsors]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup an Event
      responses:
        "200":
          description: Single Event result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/events/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Event's single card
      responses:
        "200":
          description: Single Event with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/press_references:
    post:
      summary: |
        Search Press Reference Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/PressReferenceSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/press_references/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Press Reference: [fields]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup a Press Reference
      responses:
        "200":
          description: Single Press Reference result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PressReferenceEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/press_references/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Press Reference's single card
      responses:
        "200":
          description: Single Press Reference with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PressReferenceEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/funds:
    post:
      summary: |
        Search Fund Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/FundSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/funds/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Fund: [fields, investors, owner, press_references]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup a Fund
      responses:
        "200":
          description: Single Fund result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/funds/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Fund's single card
      responses:
        "200":
          description: Single Fund with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/event_appearances:
    post:
      summary: |
        Search Event Appearance Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/EventAppearanceSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/event_appearances/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Event Appearance: [event, fields, participant]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup an Event Appearance
      responses:
        "200":
          description: Single Event Appearance result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAppearanceEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/event_appearances/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Event Appearance's single card
      responses:
        "200":
          description: Single Event Appearance with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAppearanceEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/ipos:
    post:
      summary: |
        Search Ipo Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/IpoSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/ipos/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Ipo: [fields, organization, press_references]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup an Ipo
      responses:
        "200":
          description: Single Ipo result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpoEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/ipos/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Ipo's single card
      responses:
        "200":
          description: Single Ipo with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpoEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/ownerships:
    post:
      summary: |
        Search Ownership Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/OwnershipSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/ownerships/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Ownership: [child_organization, fields, parent_organization, press_references]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup an Ownership
      responses:
        "200":
          description: Single Ownership result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnershipEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/ownerships/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Ownership's single card
      responses:
        "200":
          description: Single Ownership with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnershipEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/categories:
    post:
      summary: |
        Search Category Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/CategorySearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/categories/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Category: [fields]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup a Category
      responses:
        "200":
          description: Single Category result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/categories/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Category's single card
      responses:
        "200":
          description: Single Category with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/category_groups:
    post:
      summary: |
        Search Category Group Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/CategoryGroupSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/category_groups/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Category Group: [fields]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup a Category Group
      responses:
        "200":
          description: Single Category Group result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryGroupEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/category_groups/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Category Group's single card
      responses:
        "200":
          description: Single Category Group with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryGroupEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/locations:
    post:
      summary: |
        Search Location Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/LocationSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/locations/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Location: [fields]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup a Location
      responses:
        "200":
          description: Single Location result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/locations/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Location's single card
      responses:
        "200":
          description: Single Location with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/jobs:
    post:
      summary: |
        Search Job Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/JobSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/jobs/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Job: [fields, organization, person]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup a Job
      responses:
        "200":
          description: Single Job result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/jobs/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Job's single card
      responses:
        "200":
          description: Single Job with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/key_employee_changes:
    post:
      summary: |
        Search Key Employee Change Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/KeyEmployeeChangeSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/layoffs:
    post:
      summary: |
        Search Layoff Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/LayoffSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/addresses:
    post:
      summary: |
        Search Address Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/AddressSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/addresses/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Address: [event, fields, organization]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup an Address
      responses:
        "200":
          description: Single Address result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/addresses/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Address's single card
      responses:
        "200":
          description: Single Address with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/degrees:
    post:
      summary: |
        Search Degree Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/DegreeSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/degrees/{entity_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/fieldIdsParam'
      - name: card_ids
        description: |
          Cards to include on the resulting entity - array of card_id strings in JSON encoded as string\\ Card Ids for Degree: [fields, organization, person]
        in: query
        schema:
          type: string
    get:
      tags:
        - Entity
      summary: Lookup a Degree
      responses:
        "200":
          description: Single Degree result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DegreeEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

  /entities/degrees/{entity_id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/entityIdParam'
      - $ref: '#/components/parameters/cardIdParam'
      - $ref: '#/components/parameters/cardFieldIdsParam'
      - $ref: '#/components/parameters/afterIdParam'
      - $ref: '#/components/parameters/beforeIdParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/limitParam'
    get:
      tags:
        - Entity
      summary: Lookup Degree's single card
      responses:
        "200":
          description: Single Degree with one card result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DegreeEntity'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'


  /searches/principals:
    post:
      summary: |
        Search Principal Entities.
        Can perform more complex filtering based on the query defined in the request body.
      tags:
        - Search
      requestBody:
        description: Search Query Parameters 
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntitySearch'
      responses:
        "200":
          $ref: '#/components/responses/PrincipalSearchResults'
        "400":
          $ref: '#/components/responses/GenericBadRequestError'
        "404":
          $ref: '#/components/responses/GenericNotFoundError'
        "500":
          $ref: '#/components/responses/GenericInternalServerError'

components:
  parameters:
    entityIdParam:
      name: entity_id
      description: UUID or permalink of desired entity
      in: path
      required: true
      schema:
        type: string
  
    fieldIdsParam:
      name: field_ids
      description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
      in: query
      schema:
        type: string
  
    cardFieldIdsParam:
      name: card_field_ids
      description: Card fields to include on the specified card - array of field_id strings in JSON encoded as string
      in: query
      schema:
        type: string
  
    cardIdsParam:
      name: card_ids
      description: Cards to include on the resulting entity - either an array of card_id strings in JSON or a comma-separated list encoded as string
      in: query
      schema:
        type: string
  
    cardIdParam:
      name: card_id
      description: A card to include on the resulting entity
      in: path
      required: true
      schema:
        type: string
  
    afterIdParam:
      name: after_id
      description: |
        Lookup uuid of the last item in the previous page (not required for first page). Used to iterate a card's
        results starting at the beginning of the ordered set and moving forward. Suitable for implementing "next page"
        functionality. May not be provided simultaneously with before_id.
      in: query
      schema:
        type: string
        format: uuid
  
    beforeIdParam:
      name: before_id
      description: |
        Lookup uuid of the first item in the previous page (not required for first page). Used to iterate a card's
        results starting at the end of the ordered set and moving backward. Suitable for implementing "previous page"
        functionality. May not be provided simultaneously with after_id.
      in: query
      schema:
        type: string
        format: uuid
  
    orderParam:
      name: order
      description: Field name with order direction (asc/desc)
      in: query
      schema:
        type: string
  
    limitParam:
      name: limit
      description:  Number of rows to return. Default is 100, min is 1, max is 100.
      in: query
      schema:
        type: integer

  examples:
    OrganizationLookupResponseExample:
      value:
        properties:
          identifier:
            uuid: 1dcf3d60-e7a2-95f0-0fbb-0c7a307184c0
            value: goBaby
            image_id: v1485305805/htbednnsfgdbm8zhd0zp.png
            permalink: gobaby-2
            entity_def_id: organization
        cards:
          press_references:
            -
              identifier:
                uuid: 89016b44-5723-4486-b102-5dd697bfa16e
                value: >
                  The Global Association of Baby Equipment
                  Rental Companies Partners with goBaby
                entity_def_id: press_reference
              url:
                value: >
                  http://www.prweb.com/releases/2018/02/prweb15165216.htm
              posted_on: 2018-02-06
              publisher: PRWeb
              created_at: 2018-02-06T19:02:54Z
              updated_at: 2018-02-13T00:24:54Z
            -
              author: Tishin Donkersley
              identifier:
                uuid: 33539065-4f21-469c-8f00-607c705be105
                value: Travel Made Easier with GoBaby, the Airbnb for Baby Gear
                entity_def_id: press_reference
              url:
                value: https://tech.co/travel-easier-gobaby-airbnb-baby-gear-2017-11
              posted_on: 2017-11-16
              publisher: Tech Cocktail
              thumbnail_url: https://tech.co/wp-content/uploads/2017/11/pexels-photo-265987-baby-e1510847602971.jpeg
              created_at: 2017-11-17T02:19:53Z
              updated_at: 2018-02-13T00:06:39Z
            -
              author: Dave Baldwin
              identifier:
                uuid: 234383e5-2f1d-43dc-8b56-2ab389429ace
                value: 7 Apps to Save Mad Money on Toys,
                  Kids’ Clothes, and Baby Gear
                entity_def_id: press_reference
              url:
                value: >
                  https://www.fatherly.com/gear/apps-to-save-money-on-toys-kids-clothing-and-baby-gear/
              posted_on: 2017-09-21
              publisher: Fatherly
              thumbnail_url: 'https://images.fatherly.com/wp-content/uploads/2017/09/money-saving-apps.jpg?q=65&w=1200'
              created_at: 2017-10-30T16:51:44Z
              updated_at: 2018-02-13T00:03:35Z
            -
              author: Alicia Vitarelli
              identifier:
                uuid: 19bb33f4-dd30-4f6a-b0fd-e039dcc104a6
                value: "What's the Deal: Make extra money while the kids nap"
                entity_def_id: press_reference
              url:
                value: >
                  http://6abc.com/shopping/whats-the-deal-make-extra-money-while-the-kids-nap/1977008/
              posted_on: 2017-05-10
              publisher: 6abc Philadelphia
              thumbnail_url: >
                http://cdn01.basis.net/78700/78659/62b2de02dbb03c54.jpg
              created_at: 2017-10-30T16:51:44Z
              updated_at: 2018-02-13T00:03:35Z
            -
              author: rtyuliyageikhman
              identifier:
                uuid: a992d4a4-758c-48a3-b72f-82d947cafd6d
                value: 'Must-Have App!: goBaby Lets You Rent Kid Gear Anywhere'
                entity_def_id: press_reference
              url:
                value: >
                  http://redtri.com/new-york/must-have-app-gobaby-baby-gear-rental-service-for-travel/
              posted_on: 2017-03-08
              publisher: Red Tricycle
              thumbnail_url: 'https://redtricom.files.wordpress.com/2017/02/4918265245_f61cbb57ac_z-e1488503567583.jpg?w=605&h=405'
              created_at: 2017-10-30T16:51:44Z
              updated_at: 2018-02-13T00:03:35Z
            -
              author: Laura Norman
              identifier:
                uuid: b7a41db0-2694-be6f-f590-0ca0e56de763
                value: 'Pitch to Win: 3 Key Pointers from the Winner of the SMB Pitch Contest'
                entity_def_id: press_reference
              url:
                value: >
                  https://www.salesforce.com/blog/2017/01/key-pitch-pointers.html
              posted_on: 2017-01-17
              thumbnail_url: >
                https://www.salesforce.com/content/dam/blogs/us/Jan2017/nataliekaminski.jpg
              created_at: 2017-01-25T01:00:42Z
              updated_at: 2018-02-12T21:39:09Z
            -
              author: Beth Skwarecki
              identifier:
                uuid: 2fad813e-d183-a750-f013-e7fa169ef15b
                value: >
                  GoBaby Lets You Rent Strollers and Car
                  Seats at Your Travel Destination
                entity_def_id: press_reference
              url:
                value: >
                  http://lifehacker.com/gobaby-lets-you-rent-strollers-and-car-seats-at-your-tr-1790626750
              posted_on: 2016-12-30
              publisher: Life Hacker
              thumbnail_url: >
                https://i.kinja-img.com/gawker-media/image/upload/s--ngdmGBg_--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/uyt66hu5pph4owj6eud3.png
              created_at: 2017-01-25T00:58:54Z
              updated_at: 2018-02-13T02:00:32Z
            -
              author: Jennifer Jolly
              identifier:
                uuid: 96db1443-72fe-a6f3-de01-418d74fe6e70
                value: "Last minute shopper: Here's a few shortcuts"
                entity_def_id: press_reference
              url:
                value: >
                  http://www.usatoday.com/story/tech/columnist/2016/12/18/lost-holiday-haze-these-tech-tools-can-save-day/95443298/
              posted_on: 2016-12-18
              publisher: USA Today Money
              thumbnail_url: 'http://www.gannett-cdn.com/-mm-/1ad90e5943ecc8d9aca78c788cc1c3a06bf5a586/c=0-31-704-429&r=x633&c=1200x630/local/-/media/2016/12/14/USATODAY/USATODAY/636173319777524673-MIN-006-HNY-001NEWYEAR-A-PZ.jpg'
              created_at: 2017-01-25T01:00:05Z
              updated_at: 2018-02-12T21:26:05Z
            -
              author: Dana Sitar
              identifier:
                uuid: 69e1cf11-6a99-e0d0-86b6-6e92bfba88d0
                value: >
                  Don’t Let That Old Stroller Collect
                  Dust. Here’s How to Make Money With It
                entity_def_id: press_reference
              url:
                value: >
                  http://www.thepennyhoarder.com/gobaby-rent-baby-gear/
              posted_on: 2016-12-12
              publisher: The Penny Hoarder
              thumbnail_url: >
                http://cdn.thepennyhoarder.com/wp-content/uploads/2016/12/12110046/GettyImages-ChiccoDodiFC.jpg
              created_at: 2017-01-25T00:59:31Z
              updated_at: 2018-07-06T22:32:59Z
          event_appearances:
            -
              event_identifier:
                uuid: 17ab7994-5b11-3664-6200-3a2622db2a7d
                value: Tech.Co Startup of the Year Competition
                image_id: v1493156711/aiyngbfuwk3luugmytjs.jpg
                permalink: >
                  tech-co-startup-of-the-year-competition-2017425
                entity_def_id: event
              name: "Tech.Co Startup of the Year Competition's contestant - goBaby"
              identifier:
                uuid: 7db06baa-6290-43ab-8569-778066ee3d2e
                value: "Tech.Co Startup of the Year Competition's contestant - goBaby"
                permalink: >
                  gobaby-2-contestant-tech-co-startup-of-the-year-competition-2017425--7db06baa
                entity_def_id: event_appearance
              event_starts_on: 2017-04-25
              participant_identifier:
                uuid: 1dcf3d60-e7a2-95f0-0fbb-0c7a307184c0
                value: goBaby
                image_id: v1485305805/htbednnsfgdbm8zhd0zp.png
                permalink: gobaby-2
                entity_def_id: organization
              created_at: 2017-10-30T16:37:30Z
              updated_at: 2018-02-13T00:03:34Z
              appearance_type: contestant
              event_location_identifiers:
                -
                  uuid: 528f5e3c-90d1-1111-5d1c-2e4ff979d58e
                  value: San Francisco
                  permalink: san-francisco-california
                  entity_def_id: location
                -
                  uuid: eb879a83-c91a-121e-0bb8-829782dbcf04
                  value: California
                  permalink: california-united-states
                  entity_def_id: location
                -
                  uuid: f110fca2-1055-99f6-996d-011c198b3928
                  value: United States
                  permalink: united-states
                  entity_def_id: location
                -
                  uuid: b25caef9-a1b8-3a5d-6232-93b2dfb6a1d1
                  value: North America
                  permalink: north-america
                  entity_def_id: location
            -
              event_identifier:
                uuid: 4d6eab78-fb25-dac5-33ec-51fd8f329551
                value: TechDay New York 2016
                image_id: v1457601178/ei5chv8zhylujwetml9x.png
                permalink: techday-new-york-2016-2016421
                entity_def_id: event
              name: "TechDay New York 2016's exhibitor - goBaby"
              identifier:
                uuid: 44ae6b7a-2a2c-4f24-a36b-66ee99084c08
                value: "TechDay New York 2016's exhibitor - goBaby"
                permalink: >
                  gobaby-2-exhibitor-techday-new-york-2016-2016421--44ae6b7a
                entity_def_id: event_appearance
              event_starts_on: 2016-04-21
              participant_identifier:
                uuid: 1dcf3d60-e7a2-95f0-0fbb-0c7a307184c0
                value: goBaby
                image_id: v1485305805/htbednnsfgdbm8zhd0zp.png
                permalink: gobaby-2
                entity_def_id: organization
              created_at: 2016-03-10T09:00:04Z
              updated_at: 2018-02-13T01:15:18Z
              appearance_type: exhibitor
              event_location_identifiers:
                -
                  uuid: d64b7615-985c-fbf4-4aff-aa89d70c4050
                  value: New York
                  permalink: new-york-new-york
                  entity_def_id: location
                -
                  uuid: 83ead471-332b-d02e-67b7-67279aed075b
                  value: New York
                  permalink: new-york-united-states
                  entity_def_id: location
                -
                  uuid: f110fca2-1055-99f6-996d-011c198b3928
                  value: United States
                  permalink: united-states
                  entity_def_id: location
                -
                  uuid: b25caef9-a1b8-3a5d-6232-93b2dfb6a1d1
                  value: North America
                  permalink: north-america
                  entity_def_id: location
          participated_investments: [ ]
          headquarters_address:
            -
              identifier:
                uuid: 2ebfa3b6-2e3c-0959-c358-bfe7405417e4
                value: Main Office
                entity_def_id: address
              street_1: 68 3rd Street
              postal_code: "11231"
              created_at: 2016-03-10T09:02:59Z
              location_identifiers:
                -
                  uuid: d64b7615-985c-fbf4-4aff-aa89d70c4050
                  value: New York
                  permalink: new-york-new-york
                  entity_def_id: location
                -
                  uuid: 83ead471-332b-d02e-67b7-67279aed075b
                  value: New York
                  permalink: new-york-united-states
                  entity_def_id: location
                -
                  uuid: f110fca2-1055-99f6-996d-011c198b3928
                  value: United States
                  permalink: united-states
                  entity_def_id: location
                -
                  uuid: b25caef9-a1b8-3a5d-6232-93b2dfb6a1d1
                  value: North America
                  permalink: north-america
                  entity_def_id: location
              updated_at: 2018-02-13T00:03:34Z
          child_organizations: [ ]
          raised_investments: [ ]
          participated_funds: [ ]
          raised_funding_rounds:
            -
              identifier:
                uuid: 25d419b7-acb2-47da-9cbd-cd6d949b40f9
                value: 'Seed Round - goBaby'
                image_id: v1485305805/htbednnsfgdbm8zhd0zp.png
                permalink: gobaby-2-seed--25d419b7
                entity_def_id: funding_round
              rank_funding_round: 147908
              announced_on: 2017-05-10
              money_raised:
                value: 40000
                currency: USD
                value_usd: 40000
              short_description: >
                goBaby raised $40000 on 2017-05-10 in
                Seed Round
              investment_stage: seed
              is_equity: true
              investment_type: seed
              funded_organization_identifier:
                role: investee
                uuid: 1dcf3d60-e7a2-95f0-0fbb-0c7a307184c0
                value: goBaby
                image_id: v1485305805/htbednnsfgdbm8zhd0zp.png
                permalink: gobaby-2
                entity_def_id: organization
              created_at: 2017-10-30T16:35:41Z
              updated_at: 2018-02-13T00:38:13Z
          child_ownerships: [ ]
          founders:
            -
              first_name: Ksenia
              rank_delta_d30: -0.1
              num_founded_organizations: 1
              identifier:
                uuid: f3f8d11c-ebd5-4399-aa2b-8f7328ad0544
                value: Ksenia Bolobine
                image_id: qhgudccw9hvwk9o4zqzh
                permalink: ksenia-bolobine
                entity_def_id: person
              short_description: Ksenia Bolobine
              num_jobs: 1
              last_name: Bolobine
              rank_person: 565938
              created_at: 2017-10-30T16:39:26Z
              num_current_jobs: 1
              rank_delta_d90: -0.1
              updated_at: 2018-02-12T22:25:43Z
              rank_delta_d7: -0.1
              gender: female
            -
              location_group_identifiers:
                -
                  uuid: b16ebe2d-033d-4d01-abfd-e5fbf811dc2f
                  value: Greater New York Area
                  permalink: greater-new-york-area
                  entity_def_id: location
                -
                  uuid: 6c6b9ca5-966a-448b-8480-29b5a753f9ee
                  value: East Coast
                  permalink: east-coast-united-states
                  entity_def_id: location
                -
                  uuid: 75989641-ef66-456e-b7cd-dfa57b34e881
                  value: Northeastern US
                  permalink: northeastern-united-states
                  entity_def_id: location
              first_name: Natalie
              rank_delta_d30: 3.4
              num_founded_organizations: 3
              identifier:
                uuid: df620aec-b41f-ec54-6987-6a66d1cbd7a7
                value: Natalie Kaminski
                image_id: zqopsjws4n0iipoffdw1
                permalink: natalie-kaminski
                entity_def_id: person
              primary_job_title: Head of US Operations, Partner
              linkedin:
                value: >
                  https://www.linkedin.com/in/nataliekaminski/
              short_description: 'Natalie Kaminski - Head of US Operations, Partner @ JetRockets'
              num_jobs: 2
              last_name: Kaminski
              primary_organization:
                uuid: 8c25b15f-4d03-408d-90a5-a4aa40978747
                value: JetRockets
                image_id: jxurw6o3lkzahrm2xqxg
                permalink: jetrockets
                entity_def_id: organization
              rank_person: 182476
              created_at: 2011-01-27T01:56:41Z
              location_identifiers:
                -
                  uuid: d64b7615-985c-fbf4-4aff-aa89d70c4050
                  value: New York
                  permalink: new-york-new-york
                  entity_def_id: location
                -
                  uuid: 83ead471-332b-d02e-67b7-67279aed075b
                  value: New York
                  permalink: new-york-united-states
                  entity_def_id: location
                -
                  uuid: f110fca2-1055-99f6-996d-011c198b3928
                  value: United States
                  permalink: united-states
                  entity_def_id: location
                -
                  uuid: b25caef9-a1b8-3a5d-6232-93b2dfb6a1d1
                  value: North America
                  permalink: north-america
                  entity_def_id: location
              num_articles: 1
              num_current_jobs: 2
              rank_delta_d90: 3.4
              updated_at: 2019-06-26T20:46:43Z
              rank_delta_d7: -0.8
              gender: female
          ipos: [ ]
          raised_funds: [ ]
          parent_organization: [ ]
          acquirer_acquisitions: [ ]
          parent_ownership: [ ]
          fields:
            company_type: for_profit
            location_group_identifiers:
              -
                uuid: b16ebe2d-033d-4d01-abfd-e5fbf811dc2f
                value: Greater New York Area
                permalink: greater-new-york-area
                entity_def_id: location
                location_type: group
              -
                uuid: 6c6b9ca5-966a-448b-8480-29b5a753f9ee
                value: East Coast
                permalink: east-coast-united-states
                entity_def_id: location
                location_type: group
              -
                uuid: 75989641-ef66-456e-b7cd-dfa57b34e881
                value: Northeastern US
                permalink: northeastern-united-states
                entity_def_id: location
                location_type: group
            rank_delta_d30: 0.1
            founded_on:
              value: 2015-09-15
              precision: day
            website:
              value: http://www.gobaby.co
            equity_funding_total:
              value: 40000
              currency: USD
              value_usd: 40000
            identifier:
              uuid: 1dcf3d60-e7a2-95f0-0fbb-0c7a307184c0
              value: goBaby
              image_id: v1485305805/htbednnsfgdbm8zhd0zp.png
              permalink: gobaby-2
              entity_def_id: organization
            founder_identifiers:
              -
                uuid: f3f8d11c-ebd5-4399-aa2b-8f7328ad0544
                value: Ksenia Bolobine
                image_id: qhgudccw9hvwk9o4zqzh
                permalink: ksenia-bolobine
                entity_def_id: person
              -
                uuid: df620aec-b41f-ec54-6987-6a66d1cbd7a7
                value: Natalie Kaminski
                image_id: zqopsjws4n0iipoffdw1
                permalink: natalie-kaminski
                entity_def_id: person
            description: |
              goBaby, the Airbnb for Baby-Gear-on-the-Go, is a peer-to-peer rental marketplace and on-demand app that helps families reduce the stress of traveling by leaving their cumbersome strollers, baby seats, and Pack ’n Plays at home.
    
              How? By renting from goBaby’s trusted community of local parents!
            category_groups:
              -
                uuid: 26833aa6-0585-2aa7-8c69-63b4b14727c5
                value: Apps
                permalink: apps-2683
                entity_def_id: category_group
              -
                uuid: 3805abe5-5b70-a4a1-a51e-bcda8257aca0
                value: Commerce and Shopping
                permalink: commerce-and-shopping
                entity_def_id: category_group
              -
                uuid: ec09d1af-e88f-6a8d-1db8-1dd5e3d49ea0
                value: Mobile
                permalink: mobile-ec09
                entity_def_id: category_group
              -
                uuid: 85b6bca9-930a-11bc-a608-a513b76fb637
                value: Software
                permalink: software-85b6
                entity_def_id: category_group
              -
                uuid: 2c1d0b56-8f0e-4d94-a102-53d32a969d35
                value: Travel and Tourism
                permalink: travel-and-tourism
                entity_def_id: category_group
            linkedin:
              value: https://www.linkedin.com/company/gobaby
            short_description: The Airbnb for baby gear rentals.
            num_current_positions: 2
            operating_status: active
            rank_org: 59778
            facebook:
              value: https://www.facebook.com/goBaby.co
            num_employees_enum: c_00001_00010
            status: operating
            funding_total:
              value: 40000
              currency: USD
              value_usd: 40000
            num_funding_rounds: 1
            last_equity_funding_type: seed
            last_funding_type: seed
            categories:
              -
                uuid: 5eec8ef3-9a35-3b26-1184-9dff459291fd
                value: Family
                permalink: family
                entity_def_id: category
              -
                uuid: 772da8fe-26d7-ea09-00ff-0fc7c8368b50
                value: Marketplace
                permalink: marketplace-772d
                entity_def_id: category
              -
                uuid: 78f709ae-d8fb-cd28-218a-f090789f628f
                value: Mobile Apps
                permalink: mobile-apps
                entity_def_id: category
              -
                uuid: e69d7dbc-b29e-a56f-6dfa-f664b545fd29
                value: Sharing Economy
                permalink: sharing-economy
                entity_def_id: category
              -
                uuid: 8672f521-ce9a-e851-adff-c35d2441a0ad
                value: Travel
                permalink: travel
                entity_def_id: category
            created_at: 2016-03-10T09:00:04Z
            location_identifiers:
              -
                uuid: d64b7615-985c-fbf4-4aff-aa89d70c4050
                value: New York
                permalink: new-york-new-york
                entity_def_id: location
                location_type: city
              -
                uuid: 83ead471-332b-d02e-67b7-67279aed075b
                value: New York
                permalink: new-york-united-states
                entity_def_id: location
                location_type: region
              -
                uuid: f110fca2-1055-99f6-996d-011c198b3928
                value: United States
                permalink: united-states
                entity_def_id: location
                location_type: country
              -
                uuid: b25caef9-a1b8-3a5d-6232-93b2dfb6a1d1
                value: North America
                permalink: north-america
                entity_def_id: location
                location_type: continent
            num_articles: 9
            last_funding_at: 2017-05-10
            num_event_appearances: 2
            twitter:
              value: https://twitter.com/gobabyco
            rank_delta_d90: 1
            updated_at: 2019-06-24T21:47:56Z
            last_equity_funding_total:
              value: 40000
              currency: USD
              value_usd: 40000
            contact_email: hello@gobaby.co
            funding_stage: seed
            rank_delta_d7: -0.4
            last_funding_total:
              value: 40000
              currency: USD
              value_usd: 40000
            num_founders: 2
          investors: [ ]
          acquiree_acquisitions: [ ]
          participated_funding_rounds: [ ]

    OrganizationCardLookupResponseExample:
      value:
        properties:
          identifier:
            uuid: 1dcf3d60-e7a2-95f0-0fbb-0c7a307184c0
            value: goBaby
            image_id: v1485305805/htbednnsfgdbm8zhd0zp.png
            permalink: gobaby-2
            entity_def_id: organization
        cards:
          press_references:
            -
              identifier:
                uuid: 89016b44-5723-4486-b102-5dd697bfa16e
                value: >
                  The Global Association of Baby Equipment
                  Rental Companies Partners with goBaby
                entity_def_id: press_reference
              url:
                value: >
                  http://www.prweb.com/releases/2018/02/prweb15165216.htm
              posted_on: 2018-02-06
              publisher: PRWeb
              created_at: 2018-02-06T19:02:54Z
              updated_at: 2018-02-13T00:24:54Z
            -
              author: Tishin Donkersley
              identifier:
                uuid: 33539065-4f21-469c-8f00-607c705be105
                value: Travel Made Easier with GoBaby, the Airbnb for Baby Gear
                entity_def_id: press_reference
              url:
                value: https://tech.co/travel-easier-gobaby-airbnb-baby-gear-2017-11
              posted_on: 2017-11-16
              publisher: Tech Cocktail
              thumbnail_url: https://tech.co/wp-content/uploads/2017/11/pexels-photo-265987-baby-e1510847602971.jpeg
              created_at: 2017-11-17T02:19:53Z
              updated_at: 2018-02-13T00:06:39Z
            -
              author: Dave Baldwin
              identifier:
                uuid: 234383e5-2f1d-43dc-8b56-2ab389429ace
                value: 7 Apps to Save Mad Money on Toys,
                  Kids’ Clothes, and Baby Gear
                entity_def_id: press_reference
              url:
                value: >
                  https://www.fatherly.com/gear/apps-to-save-money-on-toys-kids-clothing-and-baby-gear/
              posted_on: 2017-09-21
              publisher: Fatherly
              thumbnail_url: 'https://images.fatherly.com/wp-content/uploads/2017/09/money-saving-apps.jpg?q=65&w=1200'
              created_at: 2017-10-30T16:51:44Z
              updated_at: 2018-02-13T00:03:35Z
            -
              author: Alicia Vitarelli
              identifier:
                uuid: 19bb33f4-dd30-4f6a-b0fd-e039dcc104a6
                value: "What's the Deal: Make extra money while the kids nap"
                entity_def_id: press_reference
              url:
                value: >
                  http://6abc.com/shopping/whats-the-deal-make-extra-money-while-the-kids-nap/1977008/
              posted_on: 2017-05-10
              publisher: 6abc Philadelphia
              thumbnail_url: >
                http://cdn01.basis.net/78700/78659/62b2de02dbb03c54.jpg
              created_at: 2017-10-30T16:51:44Z
              updated_at: 2018-02-13T00:03:35Z
            -
              author: rtyuliyageikhman
              identifier:
                uuid: a992d4a4-758c-48a3-b72f-82d947cafd6d
                value: 'Must-Have App!: goBaby Lets You Rent Kid Gear Anywhere'
                entity_def_id: press_reference
              url:
                value: >
                  http://redtri.com/new-york/must-have-app-gobaby-baby-gear-rental-service-for-travel/
              posted_on: 2017-03-08
              publisher: Red Tricycle
              thumbnail_url: 'https://redtricom.files.wordpress.com/2017/02/4918265245_f61cbb57ac_z-e1488503567583.jpg?w=605&h=405'
              created_at: 2017-10-30T16:51:44Z
              updated_at: 2018-02-13T00:03:35Z
            -
              author: Laura Norman
              identifier:
                uuid: b7a41db0-2694-be6f-f590-0ca0e56de763
                value: 'Pitch to Win: 3 Key Pointers from the Winner of the SMB Pitch Contest'
                entity_def_id: press_reference
              url:
                value: >
                  https://www.salesforce.com/blog/2017/01/key-pitch-pointers.html
              posted_on: 2017-01-17
              thumbnail_url: >
                https://www.salesforce.com/content/dam/blogs/us/Jan2017/nataliekaminski.jpg
              created_at: 2017-01-25T01:00:42Z
              updated_at: 2018-02-12T21:39:09Z
            -
              author: Beth Skwarecki
              identifier:
                uuid: 2fad813e-d183-a750-f013-e7fa169ef15b
                value: >
                  GoBaby Lets You Rent Strollers and Car
                  Seats at Your Travel Destination
                entity_def_id: press_reference
              url:
                value: >
                  http://lifehacker.com/gobaby-lets-you-rent-strollers-and-car-seats-at-your-tr-1790626750
              posted_on: 2016-12-30
              publisher: Life Hacker
              thumbnail_url: >
                https://i.kinja-img.com/gawker-media/image/upload/s--ngdmGBg_--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/uyt66hu5pph4owj6eud3.png
              created_at: 2017-01-25T00:58:54Z
              updated_at: 2018-02-13T02:00:32Z
            -
              author: Jennifer Jolly
              identifier:
                uuid: 96db1443-72fe-a6f3-de01-418d74fe6e70
                value: "Last minute shopper: Here's a few shortcuts"
                entity_def_id: press_reference
              url:
                value: >
                  http://www.usatoday.com/story/tech/columnist/2016/12/18/lost-holiday-haze-these-tech-tools-can-save-day/95443298/
              posted_on: 2016-12-18
              publisher: USA Today Money
              thumbnail_url: 'http://www.gannett-cdn.com/-mm-/1ad90e5943ecc8d9aca78c788cc1c3a06bf5a586/c=0-31-704-429&r=x633&c=1200x630/local/-/media/2016/12/14/USATODAY/USATODAY/636173319777524673-MIN-006-HNY-001NEWYEAR-A-PZ.jpg'
              created_at: 2017-01-25T01:00:05Z
              updated_at: 2018-02-12T21:26:05Z
            -
              author: Dana Sitar
              identifier:
                uuid: 69e1cf11-6a99-e0d0-86b6-6e92bfba88d0
                value: >
                  Don’t Let That Old Stroller Collect
                  Dust. Here’s How to Make Money With It
                entity_def_id: press_reference
              url:
                value: >
                  http://www.thepennyhoarder.com/gobaby-rent-baby-gear/
              posted_on: 2016-12-12
              publisher: The Penny Hoarder
              thumbnail_url: >
                http://cdn.thepennyhoarder.com/wp-content/uploads/2016/12/12110046/GettyImages-ChiccoDodiFC.jpg
              created_at: 2017-01-25T00:59:31Z
              updated_at: 2018-07-06T22:32:59Z

    OrganizationSearchResponseExample:
      value:
        count: 20088
        entities:
          -
            uuid: "0ab984e9-7413-addd-0b09-7fd5fdef4150"
            properties:
              identifier:
                permalink: "national-institutes-of-health"
                image_id: "v1479301412/qdfrsmsuqu8m22jaaoor.png"
                uuid: "0ab984e9-7413-addd-0b09-7fd5fdef4150"
                entity_def_id: organization
                value: "National Institutes of Health"
              short_description: "National Institutes of Health is a biomedical research facility in the United States that focuses on biomedical and health-related research."
              categories:
                -
                  entity_def_id: category
                  permalink: biotechnology
                  uuid: "58842728-7ab9-5bd1-bb67-e8e55f6520a0"
                  value: Biotechnology
                -
                  entity_def_id: category
                  permalink: "financial-services"
                  uuid: "90b4194f-1d4f-ff5c-d7a6-6b6f32ae4892"
                  value: "Financial Services"
              rank_org: 3
          -
            uuid: "20135206-96eb-8be0-9ac4-670b257e532c"
            properties:
              identifier:
                permalink: "stanford-university"
                image_id: kgi349quyogvrathgoxw
                uuid: "20135206-96eb-8be0-9ac4-670b257e532c"
                entity_def_id: organization
                value: "Stanford University"
              short_description: "Stanford University is one of the world's leading teaching and research universities."
              categories:
                -
                  entity_def_id: category
                  permalink: biotechnology
                  uuid: "58842728-7ab9-5bd1-bb67-e8e55f6520a0"
                  value: Biotechnology
                -
                  entity_def_id: category
                  permalink: communities
                  uuid: "bc4ee7e1-d4a1-c228-c551-29d716ba971f"
                  value: Communities
              rank_org: 241358

  responses:
    GenericBadRequestError:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    
    GenericNotFoundError:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    
    GenericInternalServerError:
      description: Request failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    
    AutocompleteResult:
      description: Results are identifiers matching the search query.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AutocompleteResult'
    
    DeletedEntitiesResult:
      description: Results are identifiers of deleted entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeletedEntitiesResult'

    AcquisitionSearchResults:
      description: Search results include Acquisition entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AcquisitionSearchResults'

    AddressSearchResults:
      description: Search results include Address entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AddressSearchResults'

    CategorySearchResults:
      description: Search results include Category entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CategorySearchResults'

    CategoryGroupSearchResults:
      description: Search results include Category Group entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CategoryGroupSearchResults'

    DegreeSearchResults:
      description: Search results include Degree entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DegreeSearchResults'

    EventSearchResults:
      description: Search results include Event entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EventSearchResults'

    EventAppearanceSearchResults:
      description: Search results include Event Appearance entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EventAppearanceSearchResults'

    FundSearchResults:
      description: Search results include Fund entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FundSearchResults'

    FundingRoundSearchResults:
      description: Search results include Funding Round entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FundingRoundSearchResults'

    InvestmentSearchResults:
      description: Search results include Investment entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InvestmentSearchResults'

    IpoSearchResults:
      description: Search results include Ipo entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IpoSearchResults'

    JobSearchResults:
      description: Search results include Job entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JobSearchResults'

    KeyEmployeeChangeSearchResults:
      description: Search results include Key Employee Change entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KeyEmployeeChangeSearchResults'

    LayoffSearchResults:
      description: Search results include Layoff entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LayoffSearchResults'

    LocationSearchResults:
      description: Search results include Location entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LocationSearchResults'

    OrganizationSearchResults:
      description: Search results include Organization entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrganizationSearchResults'
          examples:
            example:
              $ref: '#/components/examples/OrganizationSearchResponseExample'

    OwnershipSearchResults:
      description: Search results include Ownership entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OwnershipSearchResults'

    PersonSearchResults:
      description: Search results include Person entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PersonSearchResults'

    PressReferenceSearchResults:
      description: Search results include Press Reference entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PressReferenceSearchResults'

    PrincipalSearchResults:
      description: Search results include Principal entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PrincipalSearchResults'

  
  schemas:

    CurrencyEnum:
      type: string
      enum: [AED, AFN, ALL, AMD, ANG, AOA, ARS, AUD, AWG, AZN, BAM, BBD, BDT, BGN, BHD, BIF, BMD, BND, BOB, BRL, BSD, BTN, BWP, BYN, BYR, BZD, CAD, CDF, CHF, CLF, CLP, CNY, COP, CRC, CUC, CUP, CVE, CZK, DJF, DKK, DOP, DZD, EGP, ERN, ETB, EUR, FJD, FKP, GBP, GEL, GHS, GIP, GMD, GNF, GTQ, GYD, HKD, HNL, HRK, HTG, HUF, IDR, ILS, INR, IQD, IRR, ISK, JMD, JOD, JPY, KES, KGS, KHR, KMF, KPW, KRW, KWD, KYD, KZT, LAK, LBP, LKR, LRD, LSL, LTL, LVL, LYD, MAD, MDL, MGA, MKD, MMK, MNT, MOP, MRO, MUR, MVR, MWK, MXN, MYR, MZN, NAD, NGN, NIO, NOK, NPR, NZD, OMR, PAB, PEN, PGK, PHP, PKR, PLN, PYG, QAR, RON, RSD, RUB, RWF, SAR, SBD, SCR, SDG, SEK, SGD, SHP, SKK, SLL, SOS, SRD, SSP, STD, SVC, SYP, SZL, THB, TJS, TMT, TND, TOP, TRY, TTD, TWD, TZS, UAH, UGX, USD, UYU, UZS, VEF, VND, VUV, WST, XAF, XAG, XAU, XBA, XBB, XBC, XBD, XCD, XDR, XOF, XPD, XPF, XPT, YER, ZAR, ZMK, ZMW, xts]

    AutocompleteResult:
      type: object
      required: [entities]
      properties:
        entities:
          type: array
          items:
            $ref: '#/components/schemas/AutocompleteEntity'
    
    AutocompleteEntity:
      type: object
      required: [identifier]
      properties:
        identifier:
          $ref: '#/components/schemas/EntityIdentifier'
        facet_ids:
          type: array
          items:
            type: string
        short_description:
          type: string

    DateWithPrecision:
      description: A field that will contain date information up to a certain level of precision. E.g. month, day, etc.
      type: object
      required: [ precision ]
      properties:
        precision:
          type: string
          enum: [ none, year, month, day ]
        value:
          type: string
          format: date
    
    DatetimeWithPrecision:
      description: A field that will contain datetime information up to a certain level of precision. E.g. month, day, hour, etc.
      type: object
      required: [ precision ]
      properties:
        precision:
          type: string
          enum: [ none, year, month, day, hour, minute, second ]
        value:
          type: string
          format: date-time
    
    Errors:
      type: object
      properties:
        value:
          type: string
    
    MoneyDecimal:
      description: A field containing decimal data that represents some amount of money
      type: object
      required: [ currency, value ]
      properties:
        currency:
          $ref: '#/components/schemas/CurrencyEnum'
        value_usd:
          type: number
          format: double
        value:
          type: number
          format: double
    
    Money:
      description: A field containing integer data that represents some amount of money
      type: object
      required: [ currency, value ]
      properties:
        currency:
          $ref: '#/components/schemas/CurrencyEnum'
        value_usd:
          type: integer
          format: int64
        value:
          type: integer
          format: int64
    
    Link:
[...]
