{
  "openapi": "3.0.3",
  "info": {
    "title": "Email Verifier API",
    "version": "2.0.0",
    "description": "Email Verifier API provides email address verification and validation services including syntax checking, domain verification, disposable email detection, and mailbox verification.",
    "x-jentic-source-url": "https://emailverifierapi.com/v2/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://emailverifierapi.com",
      "description": "Email Verifier API production server"
    }
  ],
  "tags": [
    {
      "name": "Email Verification",
      "description": "Email address verification endpoints"
    },
    {
      "name": "Bulk Verification",
      "description": "Bulk email verification"
    }
  ],
  "paths": {
    "/v2": {
      "post": {
        "operationId": "verifyEmail",
        "summary": "Verify single email address",
        "description": "Verify an email address and get detailed verification results including syntax check, domain check, disposable check, and more.",
        "tags": [
          "Email Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/bulk": {
      "post": {
        "operationId": "bulkVerifyEmails",
        "summary": "Verify multiple email addresses",
        "description": "Submit multiple email addresses for bulk verification.",
        "tags": [
          "Bulk Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk verification results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API key for authentication. Obtain from emailverifierapi.com dashboard."
      }
    },
    "schemas": {
      "VerifyRequest": {
        "type": "object",
        "required": [
          "apiKey",
          "emailAddress"
        ],
        "properties": {
          "apiKey": {
            "type": "string",
            "description": "Your API key"
          },
          "emailAddress": {
            "type": "string",
            "format": "email",
            "description": "Email address to verify"
          }
        }
      },
      "VerificationResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Overall status: valid, invalid, unknown"
          },
          "email": {
            "type": "string",
            "description": "The email address verified"
          },
          "domain": {
            "type": "string",
            "description": "Domain part of the email"
          },
          "isDisposable": {
            "type": "boolean",
            "description": "Whether the email uses a disposable domain"
          },
          "isFree": {
            "type": "boolean",
            "description": "Whether the email uses a free provider"
          },
          "isRoleBased": {
            "type": "boolean",
            "description": "Whether the email is role-based (e.g. admin@, info@)"
          },
          "hasMxRecord": {
            "type": "boolean",
            "description": "Whether the domain has MX records"
          },
          "isValidSyntax": {
            "type": "boolean",
            "description": "Whether the email syntax is valid"
          },
          "smtpCheck": {
            "type": "boolean",
            "description": "Whether SMTP mailbox check passed"
          },
          "isCatchAll": {
            "type": "boolean",
            "description": "Whether the domain is a catch-all"
          },
          "score": {
            "type": "number",
            "description": "Verification confidence score"
          }
        }
      },
      "BulkVerifyRequest": {
        "type": "object",
        "required": [
          "apiKey",
          "emailAddresses"
        ],
        "properties": {
          "apiKey": {
            "type": "string"
          },
          "emailAddresses": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          }
        }
      },
      "BulkVerificationResult": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VerificationResult"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
