{
  "openapi": "3.0.3",
  "info": {
    "title": "National Park Service API",
    "description": "The National Park Service (NPS) API provides access to data about US national parks, including park information, alerts, campgrounds, events, visitor centers, multimedia, and more. Data is sourced from NPS.gov.",
    "version": "1.0.0",
    "contact": {
      "name": "National Park Service",
      "url": "https://www.nps.gov/subjects/developer/"
    },
    "license": {
      "name": "Public Domain",
      "url": "https://www.nps.gov/aboutus/disclaimer.htm"
    },
    "x-jentic-source-url": "https://www.nps.gov/subjects/developer/"
  },
  "servers": [
    {
      "url": "https://developer.nps.gov/api/v1",
      "description": "NPS API production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    { "name": "activities", "description": "Park activities and topics" },
    { "name": "alerts", "description": "Park alerts and closures" },
    { "name": "amenities", "description": "Amenities at parks and facilities" },
    { "name": "articles", "description": "Articles about parks" },
    { "name": "campgrounds", "description": "Campground information" },
    { "name": "events", "description": "Park events" },
    { "name": "fees-passes", "description": "Entrance fees and passes" },
    { "name": "lesson-plans", "description": "Educational lesson plans" },
    { "name": "map-data", "description": "Park boundary map data" },
    { "name": "multimedia", "description": "Audio, video, and gallery content" },
    { "name": "news-releases", "description": "Park news releases" },
    { "name": "parking-lots", "description": "Parking lot information" },
    { "name": "parks", "description": "Park information" },
    { "name": "passport-stamps", "description": "Passport stamp locations" },
    { "name": "people", "description": "Historical people related to parks" },
    { "name": "places", "description": "Places within parks" },
    { "name": "road-events", "description": "Road incidents and work zones" },
    { "name": "things-to-do", "description": "Recommended activities" },
    { "name": "topics", "description": "Topic categories" },
    { "name": "tours", "description": "Tour information" },
    { "name": "visitor-centers", "description": "Visitor center information" },
    { "name": "webcams", "description": "Park webcams" }
  ],
  "paths": {
    "/activities": {
      "get": {
        "summary": "List activities",
        "description": "Retrieve a list of activities available at national parks.",
        "operationId": "getActivities",
        "tags": ["activities"],
        "parameters": [
          { "$ref": "#/components/parameters/id" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/start" },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/activities/parks": {
      "get": {
        "summary": "List activities with associated parks",
        "description": "Retrieve activities and the parks where they are available.",
        "operationId": "getActivitiesParks",
        "tags": ["activities"],
        "parameters": [
          { "$ref": "#/components/parameters/id" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/alerts": {
      "get": {
        "summary": "List park alerts",
        "description": "Retrieve alerts for national parks including danger warnings, cautions, closures, and informational notices.",
        "operationId": "getAlerts",
        "tags": ["alerts"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" }
        ],
        "responses": {
          "200": {
            "description": "Successful response with alerts.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/PaginatedResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Alert" }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/amenities": {
      "get": {
        "summary": "List amenities",
        "description": "Retrieve amenities available at national parks.",
        "operationId": "getAmenities",
        "tags": ["amenities"],
        "parameters": [
          { "$ref": "#/components/parameters/id" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/amenities/parksplaces": {
      "get": {
        "summary": "List amenities by park places",
        "description": "Retrieve amenities available at specific places within parks.",
        "operationId": "getAmenitiesParksPlaces",
        "tags": ["amenities"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/id" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/amenities/parksvisitorcenters": {
      "get": {
        "summary": "List amenities by visitor centers",
        "description": "Retrieve amenities available at visitor centers within parks.",
        "operationId": "getAmenitiesParksVisitorCenters",
        "tags": ["amenities"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCodeSingle" },
          { "$ref": "#/components/parameters/idSingle" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/articles": {
      "get": {
        "summary": "List articles",
        "description": "Retrieve articles about national parks.",
        "operationId": "getArticles",
        "tags": ["articles"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/campgrounds": {
      "get": {
        "summary": "List campgrounds",
        "description": "Retrieve campground information for national parks.",
        "operationId": "getCampgrounds",
        "tags": ["campgrounds"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response with campground data.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/PaginatedResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Campground" }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/events": {
      "get": {
        "summary": "List events",
        "description": "Retrieve events at national parks with filtering by date, type, tags, and more.",
        "operationId": "getEvents",
        "tags": ["events"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          {
            "name": "organization",
            "in": "query",
            "description": "Filter by organization site codes.",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "subject",
            "in": "query",
            "description": "Filter by subject site codes.",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "portal",
            "in": "query",
            "description": "Filter by portal site codes.",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "tagsAll",
            "in": "query",
            "description": "Tags that must all be present.",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "tagsOne",
            "in": "query",
            "description": "At least one of these tags must be present.",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "tagsNone",
            "in": "query",
            "description": "None of these tags should be present.",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          { "$ref": "#/components/parameters/stateCode" },
          {
            "name": "dateStart",
            "in": "query",
            "description": "Starting date filter (yyyy-mm-dd format).",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "dateEnd",
            "in": "query",
            "description": "Ending date filter (yyyy-mm-dd format).",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "eventType",
            "in": "query",
            "description": "Filter by event types.",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          { "$ref": "#/components/parameters/idSingle" },
          { "$ref": "#/components/parameters/q" },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Results per page.",
            "schema": { "type": "integer", "default": 10 }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Current page number.",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "expandRecurring",
            "in": "query",
            "description": "Expand recurring events into individual instances.",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with events.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/feespasses": {
      "get": {
        "summary": "List fees and passes",
        "description": "Retrieve entrance fee and pass information for national parks.",
        "operationId": "getFeesPasses",
        "tags": ["fees-passes"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/lessonplans": {
      "get": {
        "summary": "List lesson plans",
        "description": "Retrieve educational lesson plans related to national parks.",
        "operationId": "getLessonPlans",
        "tags": ["lesson-plans"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/mapdata/parkboundaries/{sitecode}": {
      "get": {
        "summary": "Get park boundary data",
        "description": "Retrieve GIS boundary data for a specific park site.",
        "operationId": "getParkBoundaries",
        "tags": ["map-data"],
        "parameters": [
          {
            "name": "sitecode",
            "in": "path",
            "required": true,
            "description": "Park site code (e.g., 'abli').",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with boundary geometry.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "type": "object" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/multimedia/audio": {
      "get": {
        "summary": "List audio files",
        "description": "Retrieve audio content related to national parks.",
        "operationId": "getMultimediaAudio",
        "tags": ["multimedia"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/multimedia/galleries": {
      "get": {
        "summary": "List photo galleries",
        "description": "Retrieve photo galleries for national parks.",
        "operationId": "getMultimediaGalleries",
        "tags": ["multimedia"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/multimedia/galleries/assets": {
      "get": {
        "summary": "List gallery assets",
        "description": "Retrieve individual assets from photo galleries.",
        "operationId": "getMultimediaGalleriesAssets",
        "tags": ["multimedia"],
        "parameters": [
          { "$ref": "#/components/parameters/idSingle" },
          {
            "name": "galleryId",
            "in": "query",
            "description": "Gallery unique identifier.",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/multimedia/videos": {
      "get": {
        "summary": "List videos",
        "description": "Retrieve video content related to national parks.",
        "operationId": "getMultimediaVideos",
        "tags": ["multimedia"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/newsreleases": {
      "get": {
        "summary": "List news releases",
        "description": "Retrieve news releases from national parks.",
        "operationId": "getNewsReleases",
        "tags": ["news-releases"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/parkinglots": {
      "get": {
        "summary": "List parking lots",
        "description": "Retrieve parking lot information for national parks.",
        "operationId": "getParkingLots",
        "tags": ["parking-lots"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/parks": {
      "get": {
        "summary": "List parks",
        "description": "Retrieve information about national parks including descriptions, addresses, contacts, hours, and more.",
        "operationId": "getParks",
        "tags": ["parks"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response with park data.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/PaginatedResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Park" }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/passportstamplocations": {
      "get": {
        "summary": "List passport stamp locations",
        "description": "Retrieve passport stamp locations at national parks.",
        "operationId": "getPassportStampLocations",
        "tags": ["passport-stamps"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/people": {
      "get": {
        "summary": "List people",
        "description": "Retrieve information about historical people associated with national parks.",
        "operationId": "getPeople",
        "tags": ["people"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/places": {
      "get": {
        "summary": "List places",
        "description": "Retrieve information about places within national parks.",
        "operationId": "getPlaces",
        "tags": ["places"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/roadevents": {
      "get": {
        "summary": "List road events",
        "description": "Retrieve road incidents and work zone information for national parks.",
        "operationId": "getRoadEvents",
        "tags": ["road-events"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCodeSingle" },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by event type.",
            "schema": {
              "type": "string",
              "enum": ["incident", "workzone"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "type": "object" }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/thingstodo": {
      "get": {
        "summary": "List things to do",
        "description": "Retrieve recommended activities and things to do at national parks.",
        "operationId": "getThingsToDo",
        "tags": ["things-to-do"],
        "parameters": [
          { "$ref": "#/components/parameters/idSingle" },
          { "$ref": "#/components/parameters/parkCodeSingle" },
          {
            "name": "stateCode",
            "in": "query",
            "description": "Filter by 2-character state code.",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          {
            "name": "start",
            "in": "query",
            "description": "Starting position for results.",
            "schema": { "type": "string", "default": "0" }
          },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/topics": {
      "get": {
        "summary": "List topics",
        "description": "Retrieve topic categories used to classify park content.",
        "operationId": "getTopics",
        "tags": ["topics"],
        "parameters": [
          { "$ref": "#/components/parameters/idSingle" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/topics/parks": {
      "get": {
        "summary": "List topics with associated parks",
        "description": "Retrieve topics and the parks associated with them.",
        "operationId": "getTopicsParks",
        "tags": ["topics"],
        "parameters": [
          { "$ref": "#/components/parameters/id" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/tours": {
      "get": {
        "summary": "List tours",
        "description": "Retrieve tour information for national parks.",
        "operationId": "getTours",
        "tags": ["tours"],
        "parameters": [
          { "$ref": "#/components/parameters/id" },
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/visitorcenters": {
      "get": {
        "summary": "List visitor centers",
        "description": "Retrieve visitor center information for national parks.",
        "operationId": "getVisitorCenters",
        "tags": ["visitor-centers"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" },
          { "$ref": "#/components/parameters/sort" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/webcams": {
      "get": {
        "summary": "List webcams",
        "description": "Retrieve webcam information and streaming metadata for national parks.",
        "operationId": "getWebcams",
        "tags": ["webcams"],
        "parameters": [
          { "$ref": "#/components/parameters/parkCode" },
          { "$ref": "#/components/parameters/stateCode" },
          { "$ref": "#/components/parameters/idSingle" },
          { "$ref": "#/components/parameters/q" },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/startInt" }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "API key obtained from the NPS Developer portal."
      }
    },
    "parameters": {
      "parkCode": {
        "name": "parkCode",
        "in": "query",
        "description": "Filter by 4-character park codes. Comma-delimited for multiple parks.",
        "schema": { "type": "array", "items": { "type": "string", "minLength": 4, "maxLength": 10 } }
      },
      "parkCodeSingle": {
        "name": "parkCode",
        "in": "query",
        "description": "Filter by 4-character park code.",
        "schema": { "type": "string", "minLength": 4, "maxLength": 10 }
      },
      "stateCode": {
        "name": "stateCode",
        "in": "query",
        "description": "Filter by 2-character state codes. Comma-delimited for multiple states.",
        "schema": { "type": "array", "items": { "type": "string", "minLength": 2, "maxLength": 2 } }
      },
      "q": {
        "name": "q",
        "in": "query",
        "description": "Search term to filter results.",
        "schema": { "type": "string" }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Number of results to return per request.",
        "schema": { "type": "string", "default": "50" }
      },
      "start": {
        "name": "start",
        "in": "query",
        "description": "Starting position for results (string).",
        "schema": { "type": "string", "default": "0" }
      },
      "startInt": {
        "name": "start",
        "in": "query",
        "description": "Starting position for results.",
        "schema": { "type": "integer", "default": 0 }
      },
      "sort": {
        "name": "sort",
        "in": "query",
        "description": "Comma-delimited list of fields to sort by. Use unary negative for descending order.",
        "schema": { "type": "string" }
      },
      "id": {
        "name": "id",
        "in": "query",
        "description": "Filter by one or more unique IDs.",
        "schema": { "type": "array", "items": { "type": "string" } }
      },
      "idSingle": {
        "name": "id",
        "in": "query",
        "description": "Filter by a unique identifier.",
        "schema": { "type": "string" }
      }
    },
    "schemas": {
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "string",
            "description": "Total number of matching records."
          },
          "limit": {
            "type": "string",
            "description": "Number of results returned."
          },
          "start": {
            "type": "string",
            "description": "Starting position of results."
          },
          "data": {
            "type": "array",
            "items": { "type": "object" },
            "description": "Array of result objects."
          }
        }
      },
      "Park": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "parkCode": { "type": "string", "description": "4-character park code." },
          "fullName": { "type": "string", "description": "Full name of the park." },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "designation": { "type": "string" },
          "states": { "type": "string", "description": "Comma-separated state codes." },
          "url": { "type": "string", "format": "uri" },
          "weatherInfo": { "type": "string" },
          "directionsInfo": { "type": "string" },
          "directionsUrl": { "type": "string", "format": "uri" },
          "latLong": { "type": "string" },
          "latitude": { "type": "string" },
          "longitude": { "type": "string" },
          "addresses": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Address" }
          },
          "contacts": { "$ref": "#/components/schemas/Contacts" },
          "operatingHours": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/OperatingHours" }
          },
          "entranceFees": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Fee" }
          },
          "entrancePasses": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Fee" }
          },
          "images": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Image" }
          },
          "activities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" }
              }
            }
          },
          "topics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" }
              }
            }
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "parkCode": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "category": {
            "type": "string",
            "enum": ["Danger", "Caution", "Information", "Park Closure"]
          },
          "url": { "type": "string", "format": "uri" },
          "lastIndexedDate": { "type": "string" }
        }
      },
      "Campground": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "parkCode": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "latLong": { "type": "string" },
          "latitude": { "type": "string" },
          "longitude": { "type": "string" },
          "reservationInfo": { "type": "string" },
          "reservationUrl": { "type": "string", "format": "uri" },
          "regulationsOverview": { "type": "string" },
          "regulationsUrl": { "type": "string", "format": "uri" },
          "weatherOverview": { "type": "string" },
          "directionsOverview": { "type": "string" },
          "directionsUrl": { "type": "string", "format": "uri" },
          "numberOfSitesReservable": { "type": "string" },
          "numberOfSitesFirstComeFirstServe": { "type": "string" },
          "addresses": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Address" }
          },
          "contacts": { "$ref": "#/components/schemas/Contacts" },
          "operatingHours": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/OperatingHours" }
          },
          "fees": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Fee" }
          },
          "images": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Image" }
          },
          "campsites": {
            "type": "object",
            "properties": {
              "totalSites": { "type": "string" },
              "group": { "type": "string" },
              "horse": { "type": "string" },
              "tentOnly": { "type": "string" },
              "electricalHookups": { "type": "string" },
              "rvOnly": { "type": "string" },
              "walkBoatTo": { "type": "string" },
              "other": { "type": "string" }
            }
          },
          "accessibility": {
            "type": "object",
            "properties": {
              "wheelchairAccess": { "type": "string" },
              "internetInfo": { "type": "string" },
              "cellPhoneInfo": { "type": "string" },
              "fireStovePolicy": { "type": "string" },
              "rvAllowed": { "type": "string" },
              "rvMaxLength": { "type": "string" },
              "trailerAllowed": { "type": "string" },
              "trailerMaxLength": { "type": "string" },
              "adaInfo": { "type": "string" },
              "accessRoads": { "type": "array", "items": { "type": "string" } },
              "classifications": { "type": "array", "items": { "type": "string" } }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["Physical", "Mailing"] },
          "line1": { "type": "string" },
          "line2": { "type": "string" },
          "line3": { "type": "string" },
          "city": { "type": "string" },
          "stateCode": { "type": "string" },
          "postalCode": { "type": "string" },
          "countryCode": { "type": "string" }
        }
      },
      "Contacts": {
        "type": "object",
        "properties": {
          "phoneNumbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "phoneNumber": { "type": "string" },
                "description": { "type": "string" },
                "extension": { "type": "string" },
                "type": { "type": "string" }
              }
            }
          },
          "emailAddresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "emailAddress": { "type": "string", "format": "email" },
                "description": { "type": "string" }
              }
            }
          }
        }
      },
      "OperatingHours": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "standardHours": {
            "type": "object",
            "properties": {
              "sunday": { "type": "string" },
              "monday": { "type": "string" },
              "tuesday": { "type": "string" },
              "wednesday": { "type": "string" },
              "thursday": { "type": "string" },
              "friday": { "type": "string" },
              "saturday": { "type": "string" }
            }
          },
          "exceptions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "startDate": { "type": "string" },
                "endDate": { "type": "string" },
                "exceptionHours": { "type": "object" }
              }
            }
          }
        }
      },
      "Fee": {
        "type": "object",
        "properties": {
          "cost": { "type": "string" },
          "description": { "type": "string" },
          "title": { "type": "string" }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "credit": { "type": "string" },
          "altText": { "type": "string" },
          "title": { "type": "string" },
          "caption": { "type": "string" },
          "url": { "type": "string", "format": "uri" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - missing or invalid API key.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  }
}
