{
  "openapi": "3.0.3",
  "info": {
    "title": "Microsoft Teams Graph API",
    "version": "v1.0",
    "description": "Microsoft Graph API endpoints for Microsoft Teams, covering team and channel management, membership, messaging, tabs, apps, online meetings, and presence.",
    "x-jentic-source-url": "https://docs.microsoft.com/en-us/graph/api/resources/teams-api-overview"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0",
      "description": "Microsoft Graph v1.0 endpoint"
    }
  ],
  "paths": {
    "/teams": {
      "post": {
        "operationId": "createTeam",
        "summary": "Create a new team",
        "tags": [
          "Teams"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Team"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - team creation is asynchronous",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "URL to check team creation status"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/teams/{team-id}": {
      "get": {
        "operationId": "getTeam",
        "summary": "Get a team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OData select expression"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OData expand expression"
          }
        ],
        "responses": {
          "200": {
            "description": "Team details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTeam",
        "summary": "Update a team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Team"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Team updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/me/joinedTeams": {
      "get": {
        "operationId": "listJoinedTeams",
        "summary": "List teams the current user has joined",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of items to return"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of items to skip"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OData filter expression"
          }
        ],
        "responses": {
          "200": {
            "description": "List of joined teams",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/teams/{team-id}/members": {
      "get": {
        "operationId": "listTeamMembers",
        "summary": "List members of a team",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of team members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationMemberCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addTeamMember",
        "summary": "Add a member to a team",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationMember"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationMember"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/teams/{team-id}/members/{membership-id}": {
      "patch": {
        "operationId": "updateTeamMember",
        "summary": "Update a team member's role",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID"
          },
          {
            "name": "membership-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The membership ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationMember"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationMember"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeTeamMember",
        "summary": "Remove a member from a team",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID"
          },
          {
            "name": "membership-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The membership ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Member removed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/teams/{team-id}/channels": {
      "get": {
        "operationId": "listChannels",
        "summary": "List channels in a team",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "OData filter expression"
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createChannel",
        "summary": "Create a new channel in a team",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Channel created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/teams/{team-id}/channels/{channel-id}/tabs": {
      "get": {
        "operationId": "listTabs",
        "summary": "List tabs in a channel",
        "tags": [
          "Tabs"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID"
          },
          {
            "name": "channel-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The channel ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tabs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamsTabCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTab",
        "summary": "Add a tab to a channel",
        "tags": [
          "Tabs"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID"
          },
          {
            "name": "channel-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The channel ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamsTab"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tab created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamsTab"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/teams/{team-id}/channels/{channel-id}/messages": {
      "post": {
        "operationId": "sendChannelMessage",
        "summary": "Send a message to a channel",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID"
          },
          {
            "name": "channel-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The channel ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatMessage"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatMessage"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/me/onlineMeetings": {
      "post": {
        "operationId": "createOnlineMeeting",
        "summary": "Create an online meeting",
        "tags": [
          "Online Meetings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineMeeting"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Online meeting created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineMeeting"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    },
    "/teams/{team-id}/tags": {
      "get": {
        "operationId": "listTeamworkTags",
        "summary": "List tags in a team",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamworkTagCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTeamworkTag",
        "summary": "Create a tag in a team",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "team-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The team ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamworkTag"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamworkTag"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ODataError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {
              "Team.ReadBasic.All": "Read basic team properties",
              "Team.Create": "Create teams",
              "Channel.ReadBasic.All": "Read channel names and descriptions",
              "Channel.Create": "Create channels",
              "ChannelMessage.Send": "Send channel messages",
              "TeamMember.ReadWrite.All": "Read and write team members",
              "OnlineMeetings.ReadWrite": "Read and create online meetings",
              "TeamworkTag.ReadWrite.All": "Read and write teamwork tags"
            }
          }
        }
      }
    },
    "schemas": {
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Team ID"
          },
          "displayName": {
            "type": "string",
            "description": "Display name of the team"
          },
          "description": {
            "type": "string",
            "description": "Description of the team"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ],
            "description": "Team visibility"
          },
          "funSettings": {
            "$ref": "#/components/schemas/TeamFunSettings"
          },
          "memberSettings": {
            "$ref": "#/components/schemas/TeamMemberSettings"
          },
          "messagingSettings": {
            "$ref": "#/components/schemas/TeamMessagingSettings"
          }
        }
      },
      "TeamFunSettings": {
        "type": "object",
        "properties": {
          "allowGiphy": {
            "type": "boolean"
          },
          "giphyContentRating": {
            "type": "string",
            "enum": [
              "strict",
              "moderate"
            ]
          },
          "allowStickersAndMemes": {
            "type": "boolean"
          },
          "allowCustomMemes": {
            "type": "boolean"
          }
        }
      },
      "TeamMemberSettings": {
        "type": "object",
        "properties": {
          "allowCreateUpdateChannels": {
            "type": "boolean"
          },
          "allowDeleteChannels": {
            "type": "boolean"
          },
          "allowAddRemoveApps": {
            "type": "boolean"
          },
          "allowCreateUpdateRemoveTabs": {
            "type": "boolean"
          },
          "allowCreateUpdateRemoveConnectors": {
            "type": "boolean"
          }
        }
      },
      "TeamMessagingSettings": {
        "type": "object",
        "properties": {
          "allowUserEditMessages": {
            "type": "boolean"
          },
          "allowUserDeleteMessages": {
            "type": "boolean"
          },
          "allowOwnerDeleteMessages": {
            "type": "boolean"
          },
          "allowTeamMentions": {
            "type": "boolean"
          },
          "allowChannelMentions": {
            "type": "boolean"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Channel ID"
          },
          "displayName": {
            "type": "string",
            "description": "Display name of the channel"
          },
          "description": {
            "type": "string",
            "description": "Description of the channel"
          },
          "membershipType": {
            "type": "string",
            "enum": [
              "standard",
              "private",
              "shared"
            ],
            "description": "Type of channel membership"
          }
        }
      },
      "ConversationMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Membership ID"
          },
          "@odata.type": {
            "type": "string",
            "description": "OData type, e.g., #microsoft.graph.aadUserConversationMember"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Roles of the member, e.g., owner"
          },
          "userId": {
            "type": "string",
            "description": "User ID of the member"
          },
          "displayName": {
            "type": "string",
            "readOnly": true,
            "description": "Display name of the member"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Message ID"
          },
          "body": {
            "$ref": "#/components/schemas/ItemBody"
          },
          "createdDateTime": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "description": "Time the message was created"
          },
          "from": {
            "$ref": "#/components/schemas/ChatMessageFromIdentitySet"
          },
          "importance": {
            "type": "string",
            "enum": [
              "normal",
              "high",
              "urgent"
            ],
            "description": "Message importance"
          }
        }
      },
      "ItemBody": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Content of the body"
          },
          "contentType": {
            "type": "string",
            "enum": [
              "text",
              "html"
            ],
            "description": "Content type"
          }
        }
      },
      "ChatMessageFromIdentitySet": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              }
            }
          }
        }
      },
      "TeamsTab": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Tab ID"
          },
          "displayName": {
            "type": "string",
            "description": "Display name of the tab"
          },
          "webUrl": {
            "type": "string",
            "readOnly": true,
            "description": "URL for the tab"
          },
          "configuration": {
            "$ref": "#/components/schemas/TeamsTabConfiguration"
          },
          "teamsApp": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Teams app ID"
              }
            }
          }
        }
      },
      "TeamsTabConfiguration": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string"
          },
          "contentUrl": {
            "type": "string"
          },
          "removeUrl": {
            "type": "string"
          },
          "websiteUrl": {
            "type": "string"
          }
        }
      },
      "OnlineMeeting": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Meeting ID"
          },
          "subject": {
            "type": "string",
            "description": "Subject of the meeting"
          },
          "startDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "Start time"
          },
          "endDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "End time"
          },
          "joinWebUrl": {
            "type": "string",
            "readOnly": true,
            "description": "URL to join the meeting"
          },
          "participants": {
            "$ref": "#/components/schemas/MeetingParticipants"
          }
        }
      },
      "MeetingParticipants": {
        "type": "object",
        "properties": {
          "organizer": {
            "$ref": "#/components/schemas/MeetingParticipantInfo"
          },
          "attendees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeetingParticipantInfo"
            }
          }
        }
      },
      "MeetingParticipantInfo": {
        "type": "object",
        "properties": {
          "identity": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "role": {
            "type": "string",
            "enum": [
              "attendee",
              "presenter",
              "producer"
            ],
            "description": "Role in the meeting"
          }
        }
      },
      "TeamworkTag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Tag ID"
          },
          "displayName": {
            "type": "string",
            "description": "Display name of the tag"
          },
          "description": {
            "type": "string",
            "description": "Description of the tag"
          },
          "memberCount": {
            "type": "integer",
            "readOnly": true,
            "description": "Number of members in the tag"
          },
          "tagType": {
            "type": "string",
            "enum": [
              "standard"
            ],
            "description": "Tag type"
          }
        }
      },
      "TeamCollectionResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Team"
            }
          },
          "@odata.nextLink": {
            "type": "string",
            "description": "URL for the next page of results"
          }
        }
      },
      "ChannelCollectionResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Channel"
            }
          },
          "@odata.nextLink": {
            "type": "string"
          }
        }
      },
      "ConversationMemberCollectionResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationMember"
            }
          },
          "@odata.nextLink": {
            "type": "string"
          }
        }
      },
      "TeamsTabCollectionResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamsTab"
            }
          },
          "@odata.nextLink": {
            "type": "string"
          }
        }
      },
      "TeamworkTagCollectionResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamworkTag"
            }
          },
          "@odata.nextLink": {
            "type": "string"
          }
        }
      },
      "ODataError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "innerError": {
                "type": "object",
                "properties": {
                  "request-id": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ]
}