{
  "openapi": "3.0.3",
  "info": {
    "title": "Doppio Render API",
    "version": "v1",
    "description": "Doppio API for rendering PDFs and screenshots from URLs or HTML content. Supports direct (raw), synchronous (URL), and asynchronous rendering modes with extensive page configuration options.",
    "x-jentic-source-url": "https://doc.doppio.sh/"
  },
  "servers": [
    {
      "url": "https://api.doppio.sh/v1",
      "description": "Doppio API v1"
    }
  ],
  "paths": {
    "/render/pdf/direct": {
      "post": {
        "operationId": "renderPdfDirect",
        "summary": "Render PDF directly",
        "description": "Renders a PDF and returns the raw PDF document in the response body.",
        "tags": [
          "PDF Rendering"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfRenderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Raw PDF document",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/render/pdf/sync": {
      "post": {
        "operationId": "renderPdfSync",
        "summary": "Render PDF synchronously",
        "description": "Renders a PDF synchronously and returns a URL to the rendered document.",
        "tags": [
          "PDF Rendering"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfRenderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Render result with document URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/render/pdf/async": {
      "post": {
        "operationId": "renderPdfAsync",
        "summary": "Render PDF asynchronously",
        "description": "Initiates an asynchronous PDF render. Results are available via webhook or polling.",
        "tags": [
          "PDF Rendering"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfRenderRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Render request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/render/screenshot/direct": {
      "post": {
        "operationId": "renderScreenshotDirect",
        "summary": "Render screenshot directly",
        "description": "Takes a screenshot and returns the raw image in the response body.",
        "tags": [
          "Screenshot Rendering"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreenshotRenderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Raw image (PNG by default)",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/render/screenshot/sync": {
      "post": {
        "operationId": "renderScreenshotSync",
        "summary": "Render screenshot synchronously",
        "description": "Takes a screenshot synchronously and returns a URL to the image.",
        "tags": [
          "Screenshot Rendering"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreenshotRenderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Render result with image URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/render/screenshot/async": {
      "post": {
        "operationId": "renderScreenshotAsync",
        "summary": "Render screenshot asynchronously",
        "description": "Initiates an asynchronous screenshot render.",
        "tags": [
          "Screenshot Rendering"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreenshotRenderRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Render request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PdfRenderRequest": {
        "type": "object",
        "properties": {
          "doppio": {
            "$ref": "#/components/schemas/DoppioOptions"
          },
          "page": {
            "$ref": "#/components/schemas/PageOptions"
          },
          "launch": {
            "$ref": "#/components/schemas/LaunchOptions"
          }
        }
      },
      "ScreenshotRenderRequest": {
        "type": "object",
        "properties": {
          "doppio": {
            "$ref": "#/components/schemas/DoppioOptions"
          },
          "page": {
            "$ref": "#/components/schemas/ScreenshotPageOptions"
          },
          "launch": {
            "$ref": "#/components/schemas/LaunchOptions"
          }
        }
      },
      "DoppioOptions": {
        "type": "object",
        "properties": {
          "presignedUrl": {
            "type": "string",
            "description": "S3 presigned URL for document upload"
          },
          "contentDisposition": {
            "type": "string",
            "enum": [
              "inline",
              "attachment"
            ],
            "description": "Controls file presentation (inline or download)"
          }
        }
      },
      "LaunchOptions": {
        "type": "object",
        "properties": {
          "defaultViewport": {
            "$ref": "#/components/schemas/Viewport"
          }
        }
      },
      "Viewport": {
        "type": "object",
        "properties": {
          "width": {
            "type": "integer",
            "default": 1920,
            "description": "Page width in pixels"
          },
          "height": {
            "type": "integer",
            "default": 1080,
            "description": "Page height in pixels"
          },
          "deviceScaleFactor": {
            "type": "number",
            "default": 1,
            "description": "Device scale factor (1-2)"
          },
          "isMobile": {
            "type": "boolean",
            "default": false,
            "description": "Enable mobile viewport meta tag"
          },
          "hasTouch": {
            "type": "boolean",
            "default": false,
            "description": "Enable touch events"
          },
          "isLandscape": {
            "type": "boolean",
            "default": false,
            "description": "Landscape mode"
          }
        }
      },
      "PageOptions": {
        "type": "object",
        "properties": {
          "goto": {
            "$ref": "#/components/schemas/GotoOptions"
          },
          "setContent": {
            "$ref": "#/components/schemas/SetContentOptions"
          },
          "setJavaScriptEnabled": {
            "type": "boolean",
            "description": "Enable JavaScript execution"
          },
          "setUserAgent": {
            "type": "string",
            "description": "Custom User-Agent header"
          },
          "emulateMediaType": {
            "type": "string",
            "enum": [
              "screen",
              "print"
            ],
            "description": "CSS media type to emulate"
          },
          "emulateTimezone": {
            "type": "string",
            "description": "Timezone ID (e.g., America/New_York)"
          },
          "setExtraHTTPHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Additional HTTP headers"
          },
          "authenticate": {
            "$ref": "#/components/schemas/Credentials"
          },
          "setCookies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cookie"
            }
          },
          "setLocalStorageItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocalStorageItem"
            }
          },
          "waitForFunction": {
            "type": "object",
            "description": "Wait for function evaluation"
          },
          "waitForSelector": {
            "type": "object",
            "description": "Wait for CSS selector"
          },
          "pdf": {
            "$ref": "#/components/schemas/PdfOptions"
          }
        }
      },
      "ScreenshotPageOptions": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "goto": {
                "$ref": "#/components/schemas/GotoOptions"
              },
              "setContent": {
                "$ref": "#/components/schemas/SetContentOptions"
              },
              "setJavaScriptEnabled": {
                "type": "boolean"
              },
              "setUserAgent": {
                "type": "string"
              },
              "emulateMediaType": {
                "type": "string",
                "enum": [
                  "screen",
                  "print"
                ]
              },
              "emulateTimezone": {
                "type": "string"
              },
              "setExtraHTTPHeaders": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "authenticate": {
                "$ref": "#/components/schemas/Credentials"
              },
              "setCookies": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Cookie"
                }
              },
              "screenshot": {
                "$ref": "#/components/schemas/ScreenshotOptions"
              }
            }
          }
        ]
      },
      "GotoOptions": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL to navigate to"
          },
          "waitUntil": {
            "type": "string",
            "description": "Navigation wait condition"
          }
        },
        "required": [
          "url"
        ]
      },
      "SetContentOptions": {
        "type": "object",
        "properties": {
          "html": {
            "type": "string",
            "description": "Base64-encoded HTML content"
          }
        },
        "required": [
          "html"
        ]
      },
      "Credentials": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "Cookie": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "path": {
            "type": "string"
          }
        }
      },
      "LocalStorageItem": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "PdfOptions": {
        "type": "object",
        "properties": {
          "scale": {
            "type": "number",
            "minimum": 0.1,
            "maximum": 2,
            "description": "Scale of page rendering"
          },
          "displayHeaderFooter": {
            "type": "boolean",
            "description": "Enable header and footer"
          },
          "headerTemplate": {
            "type": "string",
            "description": "HTML template for print header"
          },
          "footerTemplate": {
            "type": "string",
            "description": "HTML template for print footer"
          },
          "printBackground": {
            "type": "boolean",
            "description": "Include background graphics"
          },
          "landscape": {
            "type": "boolean",
            "description": "Landscape page orientation"
          },
          "pageRanges": {
            "type": "string",
            "description": "Page ranges to print (e.g., 1-5, 8, 11-13)"
          },
          "format": {
            "type": "string",
            "enum": [
              "Letter",
              "Legal",
              "Tabloid",
              "Ledger",
              "A0",
              "A1",
              "A2",
              "A3",
              "A4",
              "A5",
              "A6"
            ],
            "description": "Paper format"
          },
          "width": {
            "description": "Custom paper width",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "height": {
            "description": "Custom paper height",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "margin": {
            "$ref": "#/components/schemas/Margin"
          },
          "preferCSSPageSize": {
            "type": "boolean",
            "description": "Prioritize CSS @page size"
          },
          "omitBackground": {
            "type": "boolean",
            "description": "Generate PDFs with transparency"
          }
        }
      },
      "ScreenshotOptions": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "png",
              "jpg",
              "jpeg",
              "webp"
            ],
            "default": "png",
            "description": "Image format"
          },
          "quality": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Image quality (not applicable to PNG)"
          },
          "fullPage": {
            "type": "boolean",
            "description": "Capture full page screenshot"
          },
          "clip": {
            "$ref": "#/components/schemas/ClipRegion"
          },
          "omitBackground": {
            "type": "boolean",
            "description": "Allow transparency"
          },
          "captureBeyondViewport": {
            "type": "boolean",
            "description": "Capture beyond visible viewport"
          }
        }
      },
      "ClipRegion": {
        "type": "object",
        "required": [
          "x",
          "y",
          "width",
          "height"
        ],
        "properties": {
          "x": {
            "type": "number"
          },
          "y": {
            "type": "number"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          }
        }
      },
      "Margin": {
        "type": "object",
        "properties": {
          "top": {
            "type": "string"
          },
          "right": {
            "type": "string"
          },
          "bottom": {
            "type": "string"
          },
          "left": {
            "type": "string"
          }
        }
      },
      "RenderResponse": {
        "type": "object",
        "properties": {
          "doppioRequestId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique request identifier"
          },
          "renderStatus": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "ERROR"
            ],
            "description": "Render status"
          },
          "documentUrl": {
            "type": "string",
            "description": "URL to the rendered document"
          },
          "isAsync": {
            "type": "boolean",
            "description": "Whether this was an async request"
          },
          "isCustomBucket": {
            "type": "boolean",
            "description": "Whether a custom S3 bucket was used"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key obtained from the Doppio dashboard"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}