{
  "openapi": "3.0.3",
  "info": {
    "title": "IGDB API",
    "description": "The Internet Game Database (IGDB) API provides access to a comprehensive video game database including games, platforms, characters, companies, and more. The API uses Apicalypse query language sent as POST request bodies to filter, sort, and select fields.",
    "version": "4.0.0",
    "contact": {
      "name": "IGDB",
      "url": "https://api-docs.igdb.com"
    },
    "x-jentic-source-url": "https://api-docs.igdb.com"
  },
  "servers": [
    {
      "url": "https://api.igdb.com/v4",
      "description": "IGDB API v4 Production"
    }
  ],
  "security": [
    {
      "clientId": [],
      "bearerAuth": []
    }
  ],
  "tags": [
    { "name": "Games", "description": "Game information and metadata" },
    { "name": "Platforms", "description": "Gaming platforms" },
    { "name": "Characters", "description": "Game characters" },
    { "name": "Companies", "description": "Game companies and publishers" },
    { "name": "Genres", "description": "Game genres" },
    { "name": "Themes", "description": "Game themes" },
    { "name": "Franchises", "description": "Game franchises and series" },
    { "name": "Covers", "description": "Game cover artwork" },
    { "name": "Screenshots", "description": "Game screenshots" },
    { "name": "Videos", "description": "Game videos" },
    { "name": "Collections", "description": "Game collections" },
    { "name": "Search", "description": "Multi-search across resources" },
    { "name": "Release Dates", "description": "Game release dates" },
    { "name": "Involved Companies", "description": "Companies involved in game development" },
    { "name": "Age Ratings", "description": "Age rating information" }
  ],
  "paths": {
    "/games": {
      "post": {
        "operationId": "queryGames",
        "summary": "Query games",
        "description": "Query the games database using Apicalypse query language in the request body. Supports fields, where, sort, limit, offset, search, and exclude.",
        "tags": ["Games"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Game" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/games/count": {
      "post": {
        "operationId": "countGames",
        "summary": "Count games",
        "description": "Returns the count of games matching the query.",
        "tags": ["Games"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CountResult" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/platforms": {
      "post": {
        "operationId": "queryPlatforms",
        "summary": "Query platforms",
        "description": "Query gaming platforms using Apicalypse query language.",
        "tags": ["Platforms"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Platform" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/platform_families": {
      "post": {
        "operationId": "queryPlatformFamilies",
        "summary": "Query platform families",
        "description": "Query platform families (e.g., PlayStation, Xbox, Nintendo).",
        "tags": ["Platforms"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/PlatformFamily" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/platform_logos": {
      "post": {
        "operationId": "queryPlatformLogos",
        "summary": "Query platform logos",
        "description": "Query platform logo images.",
        "tags": ["Platforms"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Image" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/characters": {
      "post": {
        "operationId": "queryCharacters",
        "summary": "Query characters",
        "description": "Query video game characters using Apicalypse query language.",
        "tags": ["Characters"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Character" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/character_mug_shots": {
      "post": {
        "operationId": "queryCharacterMugShots",
        "summary": "Query character mug shots",
        "description": "Query character portrait images.",
        "tags": ["Characters"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Image" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/companies": {
      "post": {
        "operationId": "queryCompanies",
        "summary": "Query companies",
        "description": "Query game companies and publishers using Apicalypse query language.",
        "tags": ["Companies"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Company" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" }
        }
      }
    },
    "/company_logos": {
      "post": {
        "operationId": "queryCompanyLogos",
        "summary": "Query company logos",
        "description": "Query company logo images.",
        "tags": ["Companies"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Image" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/genres": {
      "post": {
        "operationId": "queryGenres",
        "summary": "Query genres",
        "description": "Query game genres.",
        "tags": ["Genres"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Genre" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/themes": {
      "post": {
        "operationId": "queryThemes",
        "summary": "Query themes",
        "description": "Query game themes.",
        "tags": ["Themes"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Theme" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/game_modes": {
      "post": {
        "operationId": "queryGameModes",
        "summary": "Query game modes",
        "description": "Query game modes (single player, multiplayer, etc.).",
        "tags": ["Games"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/GameMode" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/player_perspectives": {
      "post": {
        "operationId": "queryPlayerPerspectives",
        "summary": "Query player perspectives",
        "description": "Query player perspectives (first person, third person, etc.).",
        "tags": ["Games"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/PlayerPerspective" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/franchises": {
      "post": {
        "operationId": "queryFranchises",
        "summary": "Query franchises",
        "description": "Query game franchises.",
        "tags": ["Franchises"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Franchise" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/collections": {
      "post": {
        "operationId": "queryCollections",
        "summary": "Query collections",
        "description": "Query game collections (series of games).",
        "tags": ["Collections"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Collection" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/covers": {
      "post": {
        "operationId": "queryCovers",
        "summary": "Query covers",
        "description": "Query game cover artwork.",
        "tags": ["Covers"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Cover" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/screenshots": {
      "post": {
        "operationId": "queryScreenshots",
        "summary": "Query screenshots",
        "description": "Query game screenshots.",
        "tags": ["Screenshots"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Screenshot" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/artworks": {
      "post": {
        "operationId": "queryArtworks",
        "summary": "Query artworks",
        "description": "Query game artwork images.",
        "tags": ["Covers"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Image" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/game_videos": {
      "post": {
        "operationId": "queryGameVideos",
        "summary": "Query game videos",
        "description": "Query game video references (YouTube IDs).",
        "tags": ["Videos"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/GameVideo" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/involved_companies": {
      "post": {
        "operationId": "queryInvolvedCompanies",
        "summary": "Query involved companies",
        "description": "Query companies involved in game development or publishing.",
        "tags": ["Involved Companies"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/InvolvedCompany" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/release_dates": {
      "post": {
        "operationId": "queryReleaseDates",
        "summary": "Query release dates",
        "description": "Query game release dates by platform and region.",
        "tags": ["Release Dates"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ReleaseDate" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/age_ratings": {
      "post": {
        "operationId": "queryAgeRatings",
        "summary": "Query age ratings",
        "description": "Query game age ratings (ESRB, PEGI, etc.).",
        "tags": ["Age Ratings"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/AgeRating" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/age_rating_content_descriptions": {
      "post": {
        "operationId": "queryAgeRatingContentDescriptions",
        "summary": "Query age rating content descriptions",
        "description": "Query content descriptions associated with age ratings.",
        "tags": ["Age Ratings"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/AgeRatingContentDescription" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/game_engines": {
      "post": {
        "operationId": "queryGameEngines",
        "summary": "Query game engines",
        "description": "Query game engines (Unreal, Unity, etc.).",
        "tags": ["Games"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/GameEngine" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/game_engine_logos": {
      "post": {
        "operationId": "queryGameEngineLogos",
        "summary": "Query game engine logos",
        "description": "Query game engine logo images.",
        "tags": ["Games"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Image" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/keywords": {
      "post": {
        "operationId": "queryKeywords",
        "summary": "Query keywords",
        "description": "Query game keywords/tags.",
        "tags": ["Games"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Keyword" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/websites": {
      "post": {
        "operationId": "queryWebsites",
        "summary": "Query websites",
        "description": "Query game-related website URLs.",
        "tags": ["Games"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Website" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/alternative_names": {
      "post": {
        "operationId": "queryAlternativeNames",
        "summary": "Query alternative names",
        "description": "Query alternative names for games.",
        "tags": ["Games"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/AlternativeName" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/external_games": {
      "post": {
        "operationId": "queryExternalGames",
        "summary": "Query external games",
        "description": "Query external game references (Steam, GOG, etc.).",
        "tags": ["Games"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/ExternalGame" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/multiquery": {
      "post": {
        "operationId": "multiQuery",
        "summary": "Multi-query",
        "description": "Execute multiple queries in a single request using the multi-query endpoint.",
        "tags": ["Search"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response with results from multiple queries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "count": { "type": "integer" },
                      "result": {
                        "type": "array",
                        "items": { "type": "object" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/search": {
      "post": {
        "operationId": "search",
        "summary": "Search across resources",
        "description": "Search across multiple IGDB resources.",
        "tags": ["Search"],
        "requestBody": {
          "$ref": "#/components/requestBodies/ApicalypseQuery"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SearchResult" }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "clientId": {
        "type": "apiKey",
        "in": "header",
        "name": "Client-ID",
        "description": "Your Twitch application Client ID"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 Bearer token obtained from Twitch authentication (https://id.twitch.tv/oauth2/token)"
      }
    },
    "requestBodies": {
      "ApicalypseQuery": {
        "description": "Apicalypse query string. Example: 'fields name,genres.name; where rating > 80; sort rating desc; limit 10;'",
        "required": false,
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "fields name, cover.url, rating, genres.name; where rating > 80; sort rating desc; limit 10;"
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid query syntax or parameters",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - missing or invalid Client-ID or access token",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded - maximum 4 requests per second",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "status": { "type": "integer" },
          "cause": { "type": "string" }
        }
      },
      "CountResult": {
        "type": "object",
        "properties": {
          "count": { "type": "integer", "description": "Number of matching records" }
        }
      },
      "Game": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "summary": { "type": "string" },
          "storyline": { "type": "string" },
          "rating": { "type": "number", "format": "double", "description": "Average user rating (0-100)" },
          "aggregated_rating": { "type": "number", "format": "double", "description": "Average critic rating (0-100)" },
          "total_rating": { "type": "number", "format": "double", "description": "Combined user and critic rating" },
          "rating_count": { "type": "integer" },
          "aggregated_rating_count": { "type": "integer" },
          "total_rating_count": { "type": "integer" },
          "first_release_date": { "type": "integer", "description": "Unix timestamp" },
          "created_at": { "type": "integer", "description": "Unix timestamp" },
          "updated_at": { "type": "integer", "description": "Unix timestamp" },
          "category": { "type": "integer", "description": "0=main_game, 1=dlc_addon, 2=expansion, 3=bundle, 4=standalone_expansion, 5=mod, 6=episode, 7=season, 8=remake, 9=remaster, 10=expanded_game, 11=port, 12=fork" },
          "status": { "type": "integer", "description": "0=released, 2=alpha, 3=beta, 4=early_access, 5=offline, 6=cancelled, 7=rumored, 8=delisted" },
          "cover": { "type": "integer", "description": "Cover ID (expandable)" },
          "genres": { "type": "array", "items": { "type": "integer" }, "description": "Genre IDs (expandable)" },
          "themes": { "type": "array", "items": { "type": "integer" }, "description": "Theme IDs (expandable)" },
          "platforms": { "type": "array", "items": { "type": "integer" }, "description": "Platform IDs (expandable)" },
          "screenshots": { "type": "array", "items": { "type": "integer" } },
          "videos": { "type": "array", "items": { "type": "integer" } },
          "game_modes": { "type": "array", "items": { "type": "integer" } },
          "player_perspectives": { "type": "array", "items": { "type": "integer" } },
          "involved_companies": { "type": "array", "items": { "type": "integer" } },
          "franchises": { "type": "array", "items": { "type": "integer" } },
          "collection": { "type": "integer" },
          "game_engines": { "type": "array", "items": { "type": "integer" } },
          "keywords": { "type": "array", "items": { "type": "integer" } },
          "websites": { "type": "array", "items": { "type": "integer" } },
          "similar_games": { "type": "array", "items": { "type": "integer" } },
          "age_ratings": { "type": "array", "items": { "type": "integer" } },
          "alternative_names": { "type": "array", "items": { "type": "integer" } },
          "external_games": { "type": "array", "items": { "type": "integer" } },
          "release_dates": { "type": "array", "items": { "type": "integer" } },
          "url": { "type": "string", "format": "uri" },
          "hypes": { "type": "integer" },
          "follows": { "type": "integer" }
        }
      },
      "Platform": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "abbreviation": { "type": "string" },
          "alternative_name": { "type": "string" },
          "category": { "type": "integer", "description": "1=console, 2=arcade, 3=platform, 4=operating_system, 5=portable_console, 6=computer" },
          "generation": { "type": "integer" },
          "platform_family": { "type": "integer" },
          "platform_logo": { "type": "integer" },
          "summary": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "PlatformFamily": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" }
        }
      },
      "Character": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": "string" },
          "gender": { "type": "integer", "description": "0=male, 1=female, 2=other" },
          "species": { "type": "integer", "description": "1=human, 2=alien, 3=animal, 4=android, 5=unknown" },
          "mug_shot": { "type": "integer" },
          "games": { "type": "array", "items": { "type": "integer" } },
          "url": { "type": "string", "format": "uri" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": "string" },
          "country": { "type": "integer", "description": "ISO 3166-1 country code" },
          "logo": { "type": "integer" },
          "developed": { "type": "array", "items": { "type": "integer" } },
          "published": { "type": "array", "items": { "type": "integer" } },
          "parent": { "type": "integer" },
          "start_date": { "type": "integer" },
          "url": { "type": "string", "format": "uri" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "Genre": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "Theme": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "GameMode": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "PlayerPerspective": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "Franchise": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "games": { "type": "array", "items": { "type": "integer" } },
          "url": { "type": "string", "format": "uri" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "games": { "type": "array", "items": { "type": "integer" } },
          "url": { "type": "string", "format": "uri" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "Cover": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "game": { "type": "integer" },
          "image_id": { "type": "string" },
          "url": { "type": "string" },
          "width": { "type": "integer" },
          "height": { "type": "integer" },
          "animated": { "type": "boolean" }
        }
      },
      "Screenshot": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "game": { "type": "integer" },
          "image_id": { "type": "string" },
          "url": { "type": "string" },
          "width": { "type": "integer" },
          "height": { "type": "integer" }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "image_id": { "type": "string" },
          "url": { "type": "string" },
          "width": { "type": "integer" },
          "height": { "type": "integer" },
          "animated": { "type": "boolean" }
        }
      },
      "GameVideo": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "game": { "type": "integer" },
          "name": { "type": "string" },
          "video_id": { "type": "string", "description": "YouTube video ID" }
        }
      },
      "InvolvedCompany": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "company": { "type": "integer" },
          "game": { "type": "integer" },
          "developer": { "type": "boolean" },
          "publisher": { "type": "boolean" },
          "porting": { "type": "boolean" },
          "supporting": { "type": "boolean" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "ReleaseDate": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "game": { "type": "integer" },
          "platform": { "type": "integer" },
          "date": { "type": "integer", "description": "Unix timestamp" },
          "human": { "type": "string", "description": "Human readable date string" },
          "category": { "type": "integer", "description": "0=YYYYMMMMDD, 1=YYYYMMMM, 2=YYYY, 3=YYYYQ1-Q4, 4=TBD" },
          "region": { "type": "integer", "description": "1=europe, 2=north_america, 3=australia, 4=new_zealand, 5=japan, 6=china, 7=asia, 8=worldwide, 9=korea, 10=brazil" },
          "y": { "type": "integer" },
          "m": { "type": "integer" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "AgeRating": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "category": { "type": "integer", "description": "1=ESRB, 2=PEGI" },
          "rating": { "type": "integer" },
          "content_descriptions": { "type": "array", "items": { "type": "integer" } },
          "synopsis": { "type": "string" }
        }
      },
      "AgeRatingContentDescription": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "category": { "type": "integer" },
          "description": { "type": "string" }
        }
      },
      "GameEngine": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": "string" },
          "logo": { "type": "integer" },
          "companies": { "type": "array", "items": { "type": "integer" } },
          "platforms": { "type": "array", "items": { "type": "integer" } },
          "url": { "type": "string", "format": "uri" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "Keyword": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "Website": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "game": { "type": "integer" },
          "category": { "type": "integer", "description": "1=official, 2=wikia, 3=wikipedia, 4=facebook, 5=twitter, 6=twitch, 8=instagram, 9=youtube, 10=iphone, 11=ipad, 12=android, 13=steam, 14=reddit, 15=itch, 16=epicgames, 17=gog, 18=discord" },
          "url": { "type": "string", "format": "uri" },
          "trusted": { "type": "boolean" }
        }
      },
      "AlternativeName": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "game": { "type": "integer" },
          "name": { "type": "string" },
          "comment": { "type": "string" }
        }
      },
      "ExternalGame": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "game": { "type": "integer" },
          "category": { "type": "integer", "description": "1=steam, 5=gog, 10=youtube, 11=microsoft, 13=apple, 14=twitch, 15=android, 20=amazon_asin, 22=amazon_luna, 23=amazon_adg, 26=epic_game_store, 28=oculus, 29=utomik, 30=itch_io, 31=xbox_marketplace, 32=kartridge, 36=playstation_store_us, 37=focus_entertainment, 54=xbox_game_pass_ultimate_cloud, 55=gamejolt" },
          "uid": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "created_at": { "type": "integer" },
          "updated_at": { "type": "integer" }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "alternative_name": { "type": "string" },
          "character": { "type": "integer" },
          "collection": { "type": "integer" },
          "company": { "type": "integer" },
          "game": { "type": "integer" },
          "platform": { "type": "integer" },
          "theme": { "type": "integer" },
          "description": { "type": "string" },
          "published_at": { "type": "integer" }
        }
      }
    }
  }
}