{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "API-APOLLO",
        "description": "Suppliers' listing service.",
        "x-jentic-source-url": "https://api.swaggerhub.com/apis/CloudAppi/api-apollo/1.0.0/swagger.json"
    },
    "security": [
        {
            "accessCode": [
                "write",
                "read"
            ]
        }
    ],
    "paths": {
        "/Proveedores": {
            "get": {
                "summary": "suppliers' list request",
                "description": "This request retrieves a full processed suppliers' list. Information includes supplier's Navision id, processing status and type and a brief message. \n",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/suppliers"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                },
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        }
    },
    "servers": [
        {
            "url": "https://pre-apimanager.lyntia.com/apollo"
        },
        {
            "url": "http://pre-apimanager.lyntia.com/apollo"
        }
    ],
    "components": {
        "securitySchemes": {
            "accessCode": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "http://example.com/oauth/auth",
                        "tokenUrl": "http://example.com/oauth/token",
                        "scopes": {
                            "write": "allows modifying resources",
                            "read": "allows reading resources"
                        }
                    }
                }
            },
            "default": {
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://pre-apimanager.ufinet.com/authorize",
                        "scopes": {}
                    }
                }
            }
        },
        "schemas": {
            "suppliers": {
                "type": "object",
                "properties": {
                    "proveedores_procesados": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/supplier"
                        }
                    }
                }
            },
            "supplier": {
                "type": "object",
                "properties": {
                    "codigo_prov_navision": {
                        "type": "string",
                        "description": "Supplier's Navision identifier",
                        "example": "abcd"
                    },
                    "procesado": {
                        "type": "boolean",
                        "description": "Supplier's processing status. _true_ if it has been correctly processed, _false_ otherwise.\n",
                        "example": true
                    },
                    "mensaje": {
                        "type": "string",
                        "description": "Brief information message about supplier's processing",
                        "example": "El proveedor ha sido correctamente procesado"
                    },
                    "tipo": {
                        "type": "string",
                        "enum": [
                            "I",
                            "U",
                            "D"
                        ],
                        "description": "Processing action code: I = insert, U = update, D = delete.",
                        "example": "I"
                    }
                }
            },
            "error": {
                "properties": {
                    "result": {
                        "type": "object",
                        "properties": {
                            "httpCode": {
                                "title": "Código HTTP",
                                "description": "Se refiere al mismo código HTTP que debe retornar el navegador",
                                "type": "string"
                            },
                            "code": {
                                "title": "Código interno",
                                "description": "Ver la tabla de errores",
                                "type": "string"
                            },
                            "info": {
                                "title": "Descripción del error",
                                "description": "Este campo incluye una descripción del error ocurrido",
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    }
}