{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "API-APOLLO",
    "description": "Suppliers' listing service.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CloudAppi/api-apollo/1.0.0/swagger.json",
    "contact": {}
  },
  "schemes": [
    "https",
    "http"
  ],
  "securityDefinitions": {
    "accessCode": {
      "type": "oauth2",
      "tokenUrl": "http://example.com/oauth/token",
      "authorizationUrl": "http://example.com/oauth/auth",
      "flow": "accessCode",
      "scopes": {
        "write": "allows modifying resources",
        "read": "allows reading resources"
      }
    },
    "default": {
      "type": "oauth2",
      "authorizationUrl": "https://pre-apimanager.ufinet.com/authorize",
      "flow": "implicit",
      "scopes": {}
    }
  },
  "security": [
    {
      "accessCode": [
        "write",
        "read"
      ]
    }
  ],
  "paths": {
    "/Proveedores": {
      "get": {
        "summary": "suppliers' list request",
        "description": "This request retrieves a full processed suppliers' list. Information includes supplier's Navision id, processing status and type and a brief message. \n",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/suppliers"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited",
        "tags": [
          "Proveedores"
        ],
        "operationId": "get-proveedores"
      }
    }
  },
  "definitions": {
    "suppliers": {
      "type": "object",
      "properties": {
        "proveedores_procesados": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/supplier"
          }
        }
      }
    },
    "supplier": {
      "type": "object",
      "properties": {
        "codigo_prov_navision": {
          "type": "string",
          "description": "Supplier's Navision identifier",
          "example": "abcd"
        },
        "procesado": {
          "type": "boolean",
          "description": "Supplier's processing status. _true_ if it has been correctly processed, _false_ otherwise.\n",
          "example": true
        },
        "mensaje": {
          "type": "string",
          "description": "Brief information message about supplier's processing",
          "example": "El proveedor ha sido correctamente procesado"
        },
        "tipo": {
          "type": "string",
          "enum": [
            "I",
            "U",
            "D"
          ],
          "description": "Processing action code: I = insert, U = update, D = delete.",
          "example": "I"
        }
      }
    },
    "error": {
      "properties": {
        "result": {
          "type": "object",
          "properties": {
            "httpCode": {
              "title": "C\u00f3digo HTTP",
              "description": "Se refiere al mismo c\u00f3digo HTTP que debe retornar el navegador",
              "type": "string"
            },
            "code": {
              "title": "C\u00f3digo interno",
              "description": "Ver la tabla de errores",
              "type": "string"
            },
            "info": {
              "title": "Descripci\u00f3n del error",
              "description": "Este campo incluye una descripci\u00f3n del error ocurrido",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "host": "pre-apimanager.lyntia.com",
  "basePath": "/apollo",
  "tags": [
    {
      "name": "Proveedores"
    }
  ]
}
