{
  "openapi": "3.0.3",
  "info": {
    "title": "Auphonic API",
    "description": "The Auphonic REST API allows you to integrate audio post production services\nand algorithms into your scripts, external workflows and third-party applications.\n\nFor the full API documentation, see the [Auphonic API docs](https://auphonic.com/help/api/).\n\nThe API comes in two flavours:\n- A **Simple API** for quick shell scripts and batch processing of multiple files.\n- A complete **JSON API** for full control.\n\nResources (presets, productions, services, etc.) are referenced using a UUID,\na unique string of 22 characters from `[a-zA-Z0-9]`.\n\nAll API responses use a standard envelope format:\n```json\n{\n  \"status_code\": 200,\n  \"error_code\": null,\n  \"error_message\": \"\",\n  \"form_errors\": {},\n  \"data\": { ... }\n}\n```\n\n## Authentication\n\nAll API endpoints require authentication (except Info endpoints, which also work without).\nThree authentication methods are supported:\n\n- **API Key (Bearer Token):** Generate a key in your\n  [account settings](https://auphonic.com/accounts/api-key/) and pass it via\n  `Authorization: Bearer {api_key}` header or `?bearer_token={api_key}` query parameter.\n- **HTTP Basic Auth:** Use your Auphonic username and password.\n  Only recommended for personal scripts, not for third-party apps.\n- **OAuth 2.0:** For third-party applications. Supports the Authorization Code flow\n  (web apps) and the Resource Owner Password flow (desktop/mobile apps).\n\nSee the [Authentication documentation](https://auphonic.com/help/api/authentication.html) for details.\n",
    "contact": {
      "email": "support@auphonic.com",
      "url": "https://auphonic.com"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://auphonic.com/api/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://auphonic.com",
      "description": "Auphonic Production Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "basicAuth": []
    },
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Simple API",
      "description": "Simplified **singletrack** production creation in a single multipart/form-data request.\nOnly singletrack productions can be created with the Simple API.\n\nSee the [Simple API documentation](https://auphonic.com/help/api/simple_api.html) for details.\n"
    },
    {
      "name": "Singletrack vs. Multitrack",
      "x-traitTag": true,
      "description": "Auphonic supports two production modes with **different parameters**:\n\n- **[Singletrack](https://auphonic.com/help/api/details.html)** (`is_multitrack: false` or omitted): Process a single audio file.\n  Algorithms include filtering, noise reduction, adaptive leveler, loudness normalization, and more.\n- **[Multitrack](https://auphonic.com/help/api/multitrack.html)** (`is_multitrack: true`): Mix and process multiple audio tracks (e.g. separate\n  speaker microphones, music tracks). Master-level algorithms control leveling, loudness, and\n  noise gate/crosstalk reduction. Per-track algorithms (filtering, noise reduction, fore/background,\n  gain, panning) are set individually via `multi_input_files[].algorithms`.\n\n**Use the dropdown selector in the request/response schemas below to switch between\nSingletrack and Multitrack and see the relevant parameters for each mode.**\n"
    },
    {
      "name": "Productions",
      "description": "Create, manage and process audio productions.\n\nProductions can be **Singletrack** or **Multitrack** — each mode has different algorithm\nparameters. When viewing the request/response schemas, **use the dropdown selector to switch\nbetween Singletrack and Multitrack** to see only the relevant fields.\n\nSee the [Productions API documentation](https://auphonic.com/help/api/details.html) for details.\n"
    },
    {
      "name": "Presets",
      "description": "Create and manage production presets (templates).\n\nPresets can be **Singletrack** or **Multitrack** — each mode has different algorithm\nparameters. **Use the dropdown selector in the schemas to switch between modes.**\n\nSee the [Presets API documentation](https://auphonic.com/help/api/details.html) for details.\n"
    },
    {
      "name": "Services",
      "description": "Manage external service integrations.\n\nSee the [External Services documentation](https://auphonic.com/help/api/query.html#external-services) for details.\n"
    },
    {
      "name": "Info",
      "description": "Query available formats, algorithms and service types.\n\nSee the [Info API documentation](https://auphonic.com/help/api/query.html) for details.\n"
    },
    {
      "name": "User",
      "description": "User account information.\n\nSee the [User API documentation](https://auphonic.com/help/api/query.html#user-account-info) for details.\n"
    }
  ],
  "paths": {
    "/api/simple/productions.json": {
      "post": {
        "tags": [
          "Simple API"
        ],
        "summary": "Create singletrack production in a single request",
        "description": "Creates a **singletrack** production, uploads a file, sets metadata and optionally starts\nprocessing — all in a single `multipart/form-data` request.\nReference an existing [preset](https://auphonic.com/help/api/complex.html) via UUID.\n\nOnly singletrack productions can be created with the Simple API. For multitrack\nproductions, use the JSON API endpoints.\n\nSee the [Simple API documentation](https://auphonic.com/help/api/simple_api.html) for details.\n",
        "operationId": "createSimpleProduction",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "preset": {
                    "type": "string",
                    "description": "UUID of the preset to use as template. See the [Simple API documentation](https://auphonic.com/help/api/simple_api.html#start-a-production-and-upload-a-file) for details."
                  },
                  "service": {
                    "type": "string",
                    "description": "UUID of [external service](https://auphonic.com/help/api/simple_api.html#upload-files-with-external-services-sftp-ftp-dropbox-etc) for input file"
                  },
                  "input_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio/video file upload, HTTP URL, or filename on external service. See the [Simple API documentation](https://auphonic.com/help/api/simple_api.html#start-a-production-and-upload-a-file) for details."
                  },
                  "title": {
                    "type": "string",
                    "description": "Production title. See the [metadata documentation](https://auphonic.com/help/api/simple_api.html#detailed-audio-metadata) for details."
                  },
                  "artist": {
                    "type": "string",
                    "description": "Artist name"
                  },
                  "album": {
                    "type": "string",
                    "description": "Album name"
                  },
                  "track": {
                    "type": "integer",
                    "description": "Track number"
                  },
                  "subtitle": {
                    "type": "string",
                    "description": "Subtitle"
                  },
                  "summary": {
                    "type": "string",
                    "description": "Summary or description"
                  },
                  "genre": {
                    "type": "string",
                    "description": "Genre"
                  },
                  "year": {
                    "type": "integer",
                    "description": "Year"
                  },
                  "publisher": {
                    "type": "string",
                    "description": "Publisher name"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Associated URL"
                  },
                  "license": {
                    "type": "string",
                    "description": "License name"
                  },
                  "license_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "License URL"
                  },
                  "tags": {
                    "type": "string",
                    "description": "Comma-separated list of tags"
                  },
                  "append_chapters": {
                    "type": "boolean",
                    "description": "Append chapter marks as text to the summary/description field"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Cover image file upload or URL"
                  },
                  "chapters": {
                    "type": "string",
                    "format": "binary",
                    "description": "[Chapter marks](https://auphonic.com/help/api/simple_api.html#adding-chapter-marks).\nCan be sent as a text file upload, a plain string value, or a URL pointing to a chapters file.\nFormat is one chapter per line: `HH:MM:SS.mmm Title <optional_url>`\n\nExample:\n```\n00:00:00.000 Intro\n00:02:30.000 First Topic https://example.com\n00:10:15.500 Second Topic\n```\n"
                  },
                  "output_basename": {
                    "type": "string",
                    "description": "Basename for output filenames. Combined with suffix and ending to form the full filename."
                  },
                  "webhook": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook callback URL. After processing, Auphonic sends an HTTP POST with `uuid`, `status` (3=Done, 2=Error), and `status_string`. See [webhook documentation](https://auphonic.com/help/api/webhook.html)."
                  },
                  "filtering": {
                    "type": "boolean",
                    "description": "Enable adaptive filtering",
                    "default": true
                  },
                  "leveler": {
                    "type": "boolean",
                    "description": "Enable adaptive leveler",
                    "default": true
                  },
                  "normloudness": {
                    "type": "boolean",
                    "description": "Enable loudness normalization. Adjusts the global, overall loudness to the specified loudness target.",
                    "default": true
                  },
                  "loudnesstarget": {
                    "type": "integer",
                    "description": "Loudness target in LUFS (default: -16)",
                    "default": -16,
                    "enum": [
                      -13,
                      -14,
                      -15,
                      -16,
                      -18,
                      -19,
                      -20,
                      -23,
                      -24,
                      -26,
                      -27,
                      -31
                    ]
                  },
                  "maxpeak": {
                    "type": "number",
                    "description": "Maximum true peak level in dBTP. 0=auto (uses optimal value for target loudness), or set a specific limit.",
                    "default": 0,
                    "enum": [
                      0,
                      -0.5,
                      -1,
                      -1.5,
                      -2,
                      -3,
                      -4,
                      -5,
                      -6
                    ]
                  },
                  "denoise": {
                    "type": "boolean",
                    "description": "Enable noise and hum reduction. Classifies regions with different background noises and automatically removes noise and hum.",
                    "default": false
                  },
                  "denoiseamount": {
                    "type": "integer",
                    "description": "Noise reduction amount in dB (0=auto, -1=off/dehum only)",
                    "default": 0,
                    "enum": [
                      0,
                      -1,
                      3,
                      6,
                      9,
                      12,
                      15,
                      18,
                      24,
                      30,
                      36,
                      100
                    ]
                  },
                  "silence_cutter": {
                    "type": "boolean",
                    "description": "Cut silence segments",
                    "default": false
                  },
                  "filler_cutter": {
                    "type": "boolean",
                    "description": "Cut filler words",
                    "default": false
                  },
                  "cough_cutter": {
                    "type": "boolean",
                    "description": "Cut cough segments",
                    "default": false
                  },
                  "music_cutter": {
                    "type": "boolean",
                    "description": "Cut music segments",
                    "default": false
                  },
                  "cut_mode": {
                    "type": "string",
                    "description": "What to do with detected cut segments. apply_cuts: remove cut segments from output. export_uncut_audio: keep audio unchanged, only export cut list. set_cuts_to_silence: replace cut segments with silence. See the [automatic cutting documentation](https://auphonic.com/help/web/production.html#automatic-cutting) for details.",
                    "enum": [
                      "apply_cuts",
                      "export_uncut_audio",
                      "set_cuts_to_silence"
                    ],
                    "default": "apply_cuts"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "start",
                      "save"
                    ],
                    "description": "Set to \"start\" to begin processing immediately, or \"save\" (or omit) to just save. See the [Simple API documentation](https://auphonic.com/help/api/simple_api.html#start-a-production-and-upload-a-file) for details."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Singletrack production created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SingletrackProduction"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/productions.json": {
      "get": {
        "tags": [
          "Productions"
        ],
        "summary": "List all productions",
        "description": "Returns details about all productions of the authenticated user.\nUse `limit` and `offset` for pagination. Use `uuids_only=1` or\n`minimal_data=1` to reduce response size.\n\n**Note:** If not using `uuids_only` or `minimal_data`, the limit\nis restricted to 10.\n\nWith `minimal_data=1`, each production only contains: `uuid`, `is_multitrack`,\n`creation_time`, `metadata` (title only), `status`, and `output_files`\n(format, bitrate, download_url, filename).\nSee the [minimal_data documentation](https://auphonic.com/help/api/query.html#query-minimal-data) for details.\n\nTo paginate through all results, increment `offset` by `limit` until fewer\nthan `limit` results are returned. There is no total count in the response.\n\nSee the [list productions documentation](https://auphonic.com/help/api/query.html#list-all-productions-and-presets) for details.\n\n**Rate limit:** 60 requests per 4 minutes. Returns 429 if exceeded. For frequent status checks, use webhooks or the `/api/production/{uuid}/status.json` endpoint instead.\n",
        "operationId": "listProductions",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/uuids_only"
          },
          {
            "$ref": "#/components/parameters/minimal_data"
          }
        ],
        "responses": {
          "200": {
            "description": "List of productions",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Production"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Create a new production",
        "description": "Creates a new audio production. All details (metadata, output files,\nalgorithms, outgoing services, chapters, etc.) can be set in the\nJSON request body. To start processing immediately, include\n`\"action\": \"start\"`.\n\n**⬇ Select Singletrack or Multitrack in the request body schema below to see the\nrelevant parameters for each mode.** Set `is_multitrack: true` for multitrack productions.\n\n**Rate limit:** 40 requests per 2 minutes (100 for business accounts). Returns 429 if exceeded.\n\nSee the [create production documentation](https://auphonic.com/help/api/details.html#create-a-production-with-detailed-audio-metadata) for details.\n",
        "operationId": "createProduction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductionCreateRequest"
              },
              "examples": {
                "Singletrack (is_multitrack: false)": {
                  "summary": "Singletrack production (default)",
                  "value": {
                    "is_multitrack": false,
                    "metadata": {
                      "title": "My Production"
                    },
                    "algorithms": {
                      "leveler": true,
                      "denoise": false,
                      "loudnesstarget": -16
                    },
                    "output_files": [
                      {
                        "format": "mp3",
                        "bitrate": 128
                      }
                    ]
                  }
                },
                "Multitrack (is_multitrack: true)": {
                  "summary": "Multitrack production",
                  "value": {
                    "is_multitrack": true,
                    "multi_input_files": [
                      {
                        "type": "multitrack",
                        "id": "speaker1",
                        "input_file": "https://example.com/speaker1.wav"
                      },
                      {
                        "type": "multitrack",
                        "id": "speaker2",
                        "input_file": "https://example.com/speaker2.wav"
                      }
                    ],
                    "algorithms": {
                      "leveler": true,
                      "loudnesstarget": -16
                    },
                    "output_files": [
                      {
                        "format": "mp3",
                        "bitrate": 128
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Production created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/production/{uuid}.json": {
      "get": {
        "tags": [
          "Productions"
        ],
        "summary": "Get production details",
        "description": "Returns full details about a specific production.\n\n**Rate limit:** 60 requests per 4 minutes. Returns 429 if exceeded. For frequent status checks, use webhooks or the `/api/production/{uuid}/status.json` endpoint instead.\n\nSee the [production details documentation](https://auphonic.com/help/api/query.html#details-about-a-production) for details.\n",
        "operationId": "getProduction",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Production details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "status_code": 200,
                  "error_code": null,
                  "error_message": "",
                  "form_errors": {},
                  "data": {
                    "uuid": "X2bUTQ8z888YaKukkU6vfJ",
                    "is_multitrack": false,
                    "status": 3,
                    "status_string": "Done",
                    "creation_time": "2025-01-15T10:30:00Z",
                    "change_time": "2025-01-15T10:35:00Z",
                    "start_allowed": true,
                    "change_allowed": true,
                    "status_page": "https://auphonic.com/engine/status/X2bUTQ8z888YaKukkU6vfJ",
                    "edit_page": "https://auphonic.com/engine/upload/X2bUTQ8z888YaKukkU6vfJ",
                    "metadata": {
                      "title": "My Podcast Episode",
                      "artist": "Podcaster",
                      "album": "My Podcast",
                      "tags": [
                        "podcast",
                        "audio"
                      ]
                    },
                    "algorithms": {
                      "leveler": true,
                      "normloudness": true,
                      "loudnesstarget": -16,
                      "denoise": false,
                      "filtering": true
                    },
                    "output_files": [
                      {
                        "format": "mp3",
                        "bitrate": 128,
                        "ending": "mp3",
                        "filename": "my-podcast-episode.mp3",
                        "size": 15728640,
                        "size_string": "15.0 MB",
                        "download_url": "https://auphonic.com/api/download/audio-result/X2bUTQ8z888YaKukkU6vfJ/my-podcast-episode.mp3"
                      }
                    ],
                    "statistics": {
                      "input": {
                        "loudness": [
                          -20.5,
                          "LUFS"
                        ],
                        "lra": [
                          2.14,
                          "LU"
                        ],
                        "peak": [
                          -1.2,
                          "dBTP"
                        ]
                      },
                      "output": {
                        "loudness": [
                          -16.0,
                          "LUFS"
                        ],
                        "lra": [
                          1.43,
                          "LU"
                        ],
                        "peak": [
                          -1.5,
                          "dBTP"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Update a production",
        "description": "Updates an existing production. All sub-dictionaries (metadata, output_files,\nalgorithms, etc.) can be changed. Use `reset_data: true` to clear all existing\ndata before applying changes. Use `reset_cover_image: true` to remove the cover image.\n\n**⬇ Select Singletrack or Multitrack in the request body schema below to see the\nrelevant parameters for each mode.**\n\nSee the [create production documentation](https://auphonic.com/help/api/details.html#create-a-production-with-detailed-audio-metadata) for details.\n",
        "operationId": "updateProduction",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductionCreateRequest"
              },
              "examples": {
                "Singletrack (is_multitrack: false)": {
                  "summary": "Singletrack production (default)",
                  "value": {
                    "metadata": {
                      "title": "Updated Title"
                    },
                    "algorithms": {
                      "loudnesstarget": -16
                    }
                  }
                },
                "Multitrack (is_multitrack: true)": {
                  "summary": "Multitrack production",
                  "value": {
                    "is_multitrack": true,
                    "multi_input_files": [
                      {
                        "type": "multitrack",
                        "id": "speaker1",
                        "input_file": "https://example.com/speaker1.wav"
                      }
                    ],
                    "algorithms": {
                      "leveler": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Production updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Productions"
        ],
        "summary": "Delete a production",
        "description": "See the [update and delete documentation](https://auphonic.com/help/api/update.html#further-examples) for details.\n",
        "operationId": "deleteProduction",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Production deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/upload.json": {
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Upload audio file and/or cover image",
        "description": "Upload local audio/video files and/or cover image to a production.\nMust use `multipart/form-data` encoding.\n\n**Singletrack:** Use `input_file` for the main audio file.\n\n**Multitrack:** Use the track ID (from `multi_input_files[].id`) as the form field name for each track.\nExample: `-F \"speech track=@file1.wav\" -F \"music track=@file2.wav\"`\n\n**Intro/Outro:** Use `intro_file`/`outro_file` for single intro/outro,\nor the track ID for multiple intros/outros.\n\nSee the [file upload documentation](https://auphonic.com/help/api/complex.html#start-a-production-and-upload-a-local-file) for details.\n",
        "operationId": "uploadProductionFile",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "input_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Main audio/video file (singletrack productions)"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Cover image file"
                  },
                  "intro_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Intro audio file (single intro shortcut)"
                  },
                  "outro_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Outro audio file (single outro shortcut)"
                  }
                },
                "additionalProperties": {
                  "type": "string",
                  "format": "binary",
                  "description": "Additional track files for multitrack productions or multiple intros/outros.\nUse the track ID (from multi_input_files[].id) as the field name.\n"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/start.json": {
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Start production processing",
        "description": "Starts the audio post production for the given production UUID.\n\nSee the [start production documentation](https://auphonic.com/help/api/complex.html#start-a-production-and-upload-a-local-file) for details.\n",
        "operationId": "startProduction",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Production started",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/stop.json": {
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Stop production processing",
        "description": "Stops a currently processing production.\n\nSee the [update and delete documentation](https://auphonic.com/help/api/update.html#further-examples) for details.\n",
        "operationId": "stopProduction",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Production stopped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/publish.json": {
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Publish production to outgoing services",
        "description": "Publishes the finished production to all configured outgoing file transfers.\nOnly takes effect if the production has outgoing services and `in_review` is true.\n\nSee the [outgoing file transfers documentation](https://auphonic.com/help/api/details.html#outgoing-file-transfers) for details.\n",
        "operationId": "publishProduction",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Production published",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/status.json": {
      "get": {
        "tags": [
          "Productions"
        ],
        "summary": "Get production status",
        "description": "Returns the current status code and status string of a production.\nFor frequent status checks, prefer using webhooks instead.\n\nSee the [production details documentation](https://auphonic.com/help/api/query.html) for details.\n",
        "operationId": "getProductionStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Production status",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "uuid": {
                              "type": "string"
                            },
                            "status": {
                              "type": "integer"
                            },
                            "status_string": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/output_files.json": {
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Add or update output files",
        "description": "Add output file format configurations to a production.\n\nSee the [output files documentation](https://auphonic.com/help/api/details.html#output-files) for details.\n",
        "operationId": "setProductionOutputFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OutputFileRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Output files updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Productions"
        ],
        "summary": "Delete all output files",
        "description": "Removes all output file configurations from a production.\n",
        "operationId": "deleteProductionOutputFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Output files deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/chapters.json": {
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Add chapters",
        "description": "Add chapter marks to a production. Each chapter requires a start time and title.\n\nSee the [chapters documentation](https://auphonic.com/help/api/complex.html#adding-chapters) for details.\n",
        "operationId": "setProductionChapters",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ChapterRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chapters added",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Productions"
        ],
        "summary": "Delete all chapters",
        "description": "Removes all chapter marks from a production.\n",
        "operationId": "deleteProductionChapters",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Chapters deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/algorithms.json": {
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Set audio algorithms",
        "description": "Set audio processing algorithm parameters for a production.\nSee the `/api/info/algorithms.json` endpoint for all available parameters and values.\n\n**⬇ Select Singletrack or Multitrack in the request body schema below** to see the\nrelevant algorithm parameters for each mode.\n\nFor multitrack productions, per-track algorithm settings (e.g. `backforeground`, `gain`, `pan`)\nare set via `multi_input_files[].algorithms`, while this endpoint sets the master-level algorithms.\n\nSee the [multitrack algorithm documentation](https://auphonic.com/help/api/multitrack.html#multitrack-audio-algorithm-settings) for details.\n",
        "operationId": "setProductionAlgorithms",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlgorithmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Algorithms updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/metadata.json": {
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Set metadata",
        "description": "Set or update audio metadata for a production.\n\nSee the [metadata documentation](https://auphonic.com/help/api/details.html#create-a-production-with-detailed-audio-metadata) for details.\n",
        "operationId": "setProductionMetadata",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/outgoing_services.json": {
      "get": {
        "tags": [
          "Productions"
        ],
        "summary": "List production outgoing services",
        "description": "Returns outgoing service configurations for a production.\n\nSee the [outgoing file transfers documentation](https://auphonic.com/help/api/details.html#outgoing-file-transfers) for details.\n",
        "operationId": "getProductionOutgoingServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Outgoing services list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/OutgoingService"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Add outgoing services",
        "description": "Add outgoing file transfer services to a production.\nReference services by UUID. Some services accept additional parameters\n(e.g. SoundCloud: sharing, downloadable; YouTube: privacy, category).\n\nSee the [outgoing file transfers documentation](https://auphonic.com/help/api/details.html#outgoing-file-transfers) for details.\n",
        "operationId": "setProductionOutgoingServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OutgoingServiceRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Outgoing services added",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Productions"
        ],
        "summary": "Delete all outgoing services",
        "description": "Removes all outgoing service configurations from a production.\n",
        "operationId": "deleteProductionOutgoingServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Outgoing services deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/speech_recognition.json": {
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Set speech recognition",
        "description": "Add or update speech recognition settings for a production.\nFor external services (Google, Amazon, Speechmatics), provide the service UUID.\nFor Auphonic Whisper, omit the UUID and just provide a language.\nSet `shownotes: true` to enable automatic shownotes and chapters generation.\n\nSee the [speech recognition documentation](https://auphonic.com/help/api/details.html#adding-speech-recognition) for details.\n",
        "operationId": "setProductionSpeechRecognition",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeechRecognitionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Speech recognition updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Productions"
        ],
        "summary": "Remove speech recognition",
        "description": "Remove speech recognition service from a production.\n",
        "operationId": "deleteProductionSpeechRecognition",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Speech recognition removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/multi_input_files.json": {
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Add multi-input files (intros, outros, inserts, multitrack)",
        "description": "Add multiple input files to a production. Each call appends files.\nSupported types: `intro`, `outro`, `insert`, `multitrack`.\nFiles can be referenced via external service UUID + filename, HTTP URL, or uploaded separately.\n\nSee the [multitrack documentation](https://auphonic.com/help/api/multitrack.html) for details.\n",
        "operationId": "setProductionMultiInputFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "multi_input_files": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MultiInputFileRequest"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Multi-input files added",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Productions"
        ],
        "summary": "Delete all multi-input files",
        "description": "Removes all intro, outro, insert and multitrack files from a production.\n",
        "operationId": "deleteProductionMultiInputFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Multi-input files deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/multi_input_files/{track_id}.json": {
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Update a specific multi-input file track",
        "description": "Update a specific multi-input file identified by track ID.\n\nSee the [multitrack documentation](https://auphonic.com/help/api/multitrack.html) for details.\n",
        "operationId": "updateProductionMultiInputFileTrack",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          },
          {
            "name": "track_id",
            "in": "path",
            "required": true,
            "description": "Track identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiInputFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Track updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Productions"
        ],
        "summary": "Delete a specific multi-input file track",
        "description": "Remove a specific multi-input file identified by track ID.\n",
        "operationId": "deleteProductionMultiInputFileTrack",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          },
          {
            "name": "track_id",
            "in": "path",
            "required": true,
            "description": "Track identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Track deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/cuts.json": {
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Add cuts",
        "description": "Add audio cut segments to a production. Cuts are specified as a list of\n`[start_time, end_time]` arrays in seconds. Cut times must be relative\nto the main input file.\n\nSee the [cuts documentation](https://auphonic.com/help/api/details.html#adding-cuts) for details.\n",
        "operationId": "setProductionCuts",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CutsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cuts added",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Productions"
        ],
        "summary": "Delete all cuts",
        "description": "Removes all audio cut segments from a production.\n",
        "operationId": "deleteProductionCuts",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Cuts deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/segments.json": {
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Set denoise segments",
        "description": "Set denoise segments for a production. Segments define time regions with\nindividual denoise/filter settings. Segments must be contiguous (no gaps\nor overlaps). If a segment has no explicit settings, defaults are applied.\n\nSee the [segments documentation](https://auphonic.com/help/api/details.html#adding-segments) for details.\n",
        "operationId": "setProductionSegments",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Segments updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Productions"
        ],
        "summary": "Delete all segments",
        "description": "Removes all denoise segments from a production.\n",
        "operationId": "deleteProductionSegments",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Segments deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/production/{uuid}/webhook.json": {
      "get": {
        "tags": [
          "Productions"
        ],
        "summary": "Get production webhook",
        "description": "Returns the webhook URL configured for a production.\n\nSee the [webhooks documentation](https://auphonic.com/help/api/webhook.html) for details.\n",
        "operationId": "getProductionWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook URL",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "webhook": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Productions"
        ],
        "summary": "Set production webhook",
        "description": "Set a webhook URL for a production. After processing is finished,\nAuphonic will send an HTTP POST to this URL with `uuid`, `status` (3=Done, 2=Error), and `status_string`.\nFirst tries application/x-www-form-urlencoded, retries with multipart/form-data on failure.\n\nSee the [webhooks documentation](https://auphonic.com/help/api/webhook.html#add-a-webhook-to-a-production) for details.\n",
        "operationId": "setProductionWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhook": {
                    "type": "string",
                    "format": "uri",
                    "description": "Callback URL"
                  }
                }
              }
            }
          }
        },
        "callbacks": {
          "productionComplete": {
            "{$request.body#/webhook}": {
              "post": {
                "summary": "Webhook notification after processing",
                "description": "Sent when production processing completes (success or error).\nFirst attempts application/x-www-form-urlencoded, retries with\nmultipart/form-data if the first attempt fails.\n",
                "requestBody": {
                  "content": {
                    "application/x-www-form-urlencoded": {
                      "schema": {
                        "type": "object",
                        "required": [
                          "uuid",
                          "status",
                          "status_string"
                        ],
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "description": "Production UUID"
                          },
                          "status": {
                            "type": "integer",
                            "description": "3=Done, 2=Error",
                            "enum": [
                              2,
                              3
                            ]
                          },
                          "status_string": {
                            "type": "string",
                            "description": "Human-readable status"
                          }
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Webhook received successfully"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook set",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Production"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Productions"
        ],
        "summary": "Delete production webhook",
        "description": "Removes the webhook from a production.\n\nSee the [webhooks documentation](https://auphonic.com/help/api/webhook.html#delete-a-webhook) for details.\n",
        "operationId": "deleteProductionWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/presets.json": {
      "get": {
        "tags": [
          "Presets"
        ],
        "summary": "List all presets",
        "description": "Returns details about all presets of the authenticated user.\nUse `preset_type` to filter by preset type.\n\nTo paginate through all results, increment `offset` by `limit` until fewer\nthan `limit` results are returned. There is no total count in the response.\n\nSee the [list presets documentation](https://auphonic.com/help/api/query.html#list-all-productions-and-presets) for details.\n",
        "operationId": "listPresets",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/uuids_only"
          },
          {
            "$ref": "#/components/parameters/minimal_data"
          },
          {
            "name": "preset_type",
            "in": "query",
            "description": "Filter presets by type",
            "schema": {
              "type": "string",
              "enum": [
                "personal_presets",
                "auphonic_presets",
                "all_presets"
              ],
              "default": "personal_presets"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of presets",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Preset"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Presets"
        ],
        "summary": "Create a new preset",
        "description": "Creates a new preset (production template). Requires `preset_name`.\nChapters and input files cannot be set on presets.\n\n**⬇ Select Singletrack or Multitrack in the request body schema below to see the\nrelevant parameters for each mode.** Set `is_multitrack: true` for multitrack presets.\n\nSee the [preset creation documentation](https://auphonic.com/help/api/details.html#creation-of-presets) for details.\n",
        "operationId": "createPreset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresetCreateRequest"
              },
              "examples": {
                "Singletrack (is_multitrack: false)": {
                  "summary": "Singletrack preset (default)",
                  "value": {
                    "is_multitrack": false,
                    "preset_name": "My Preset",
                    "algorithms": {
                      "leveler": true,
                      "denoise": false,
                      "loudnesstarget": -16
                    },
                    "output_files": [
                      {
                        "format": "mp3",
                        "bitrate": 128
                      }
                    ]
                  }
                },
                "Multitrack (is_multitrack: true)": {
                  "summary": "Multitrack preset",
                  "value": {
                    "is_multitrack": true,
                    "preset_name": "My Multitrack Preset",
                    "algorithms": {
                      "leveler": true,
                      "loudnesstarget": -16
                    },
                    "output_files": [
                      {
                        "format": "mp3",
                        "bitrate": 128
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preset created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Preset"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/preset/{uuid}.json": {
      "get": {
        "tags": [
          "Presets"
        ],
        "summary": "Get preset details",
        "description": "See the [preset details documentation](https://auphonic.com/help/api/query.html#details-about-a-preset) for details.\n",
        "operationId": "getPreset",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Preset details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Preset"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Presets"
        ],
        "summary": "Update a preset",
        "description": "**⬇ Select Singletrack or Multitrack in the request body schema below to see the\nrelevant parameters for each mode.**\n\nSee the [update and delete documentation](https://auphonic.com/help/api/update.html) for details.\n",
        "operationId": "updatePreset",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresetCreateRequest"
              },
              "examples": {
                "Singletrack (is_multitrack: false)": {
                  "summary": "Singletrack preset (default)",
                  "value": {
                    "preset_name": "Updated Preset",
                    "algorithms": {
                      "loudnesstarget": -16
                    }
                  }
                },
                "Multitrack (is_multitrack: true)": {
                  "summary": "Multitrack preset",
                  "value": {
                    "is_multitrack": true,
                    "preset_name": "Updated Multitrack Preset",
                    "algorithms": {
                      "leveler": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preset updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Preset"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Presets"
        ],
        "summary": "Delete a preset",
        "description": "See the [update and delete documentation](https://auphonic.com/help/api/update.html) for details.\n",
        "operationId": "deletePreset",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Preset deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/preset/{uuid}/upload.json": {
      "post": {
        "tags": [
          "Presets"
        ],
        "summary": "Upload preset cover image",
        "description": "See the [file upload documentation](https://auphonic.com/help/api/complex.html#start-a-production-and-upload-a-local-file) for details.\n",
        "operationId": "uploadPresetImage",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Cover image file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Preset"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/preset/{uuid}/output_files.json": {
      "post": {
        "tags": [
          "Presets"
        ],
        "summary": "Add preset output files",
        "description": "See the [output files documentation](https://auphonic.com/help/api/details.html#output-files) for details.\n",
        "operationId": "setPresetOutputFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OutputFileRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Output files updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Preset"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Presets"
        ],
        "summary": "Delete preset output files",
        "operationId": "deletePresetOutputFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Output files deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/preset/{uuid}/outgoing_services.json": {
      "get": {
        "tags": [
          "Presets"
        ],
        "summary": "List preset outgoing services",
        "description": "See the [outgoing file transfers documentation](https://auphonic.com/help/api/details.html#outgoing-file-transfers) for details.\n",
        "operationId": "getPresetOutgoingServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Outgoing services list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/OutgoingService"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Presets"
        ],
        "summary": "Add preset outgoing services",
        "description": "See the [outgoing file transfers documentation](https://auphonic.com/help/api/details.html#outgoing-file-transfers) for details.\n",
        "operationId": "setPresetOutgoingServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OutgoingServiceRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Outgoing services added",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Preset"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Presets"
        ],
        "summary": "Delete preset outgoing services",
        "operationId": "deletePresetOutgoingServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Outgoing services deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/preset/{uuid}/algorithms.json": {
      "post": {
        "tags": [
          "Presets"
        ],
        "summary": "Set preset algorithms",
        "description": "**⬇ Select Singletrack or Multitrack in the request body schema below** to see the\nrelevant algorithm parameters for each mode.\n\nSee the [audio algorithms documentation](https://auphonic.com/help/api/details.html#audio-algorithms) for details.\n",
        "operationId": "setPresetAlgorithms",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlgorithmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Algorithms updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Preset"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/preset/{uuid}/metadata.json": {
      "post": {
        "tags": [
          "Presets"
        ],
        "summary": "Set preset metadata",
        "description": "See the [metadata documentation](https://auphonic.com/help/api/details.html#create-a-production-with-detailed-audio-metadata) for details.\n",
        "operationId": "setPresetMetadata",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Preset"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/preset/{uuid}/multi_input_files.json": {
      "post": {
        "tags": [
          "Presets"
        ],
        "summary": "Add preset multi-input files",
        "description": "See the [multitrack presets documentation](https://auphonic.com/help/api/multitrack.html) for details.\n",
        "operationId": "setPresetMultiInputFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "multi_input_files": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MultiInputFileRequest"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Multi-input files added",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Preset"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Presets"
        ],
        "summary": "Delete preset multi-input files",
        "operationId": "deletePresetMultiInputFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Multi-input files deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/preset/{uuid}/multi_input_files/{track_id}.json": {
      "post": {
        "tags": [
          "Presets"
        ],
        "summary": "Update a specific preset multi-input file track",
        "description": "See the [multitrack documentation](https://auphonic.com/help/api/multitrack.html) for details.\n",
        "operationId": "updatePresetMultiInputFileTrack",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          },
          {
            "name": "track_id",
            "in": "path",
            "required": true,
            "description": "Track identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiInputFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Track updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseEnvelope"
                    },
                    {
[...]
