{
  "openapi": "3.0.3",
  "info": {
    "title": "EZ File Drop API",
    "version": "1.0.0",
    "description": "EZ File Drop form submission and webhook API for retrieving file submissions and managing webhook subscriptions.",
    "x-jentic-source-url": "https://www.ezfiledrop.com/documentation/zapier-api-documentation-for-ez-file-drop",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://www.ezfiledrop.com"
    }
  ],
  "paths": {
    "/third-party/zapier/submissions": {
      "get": {
        "operationId": "getSubmissions",
        "summary": "Get form submissions",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "form_uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get form submissions"
      }
    },
    "/third-party/zapier/subscribe": {
      "post": {
        "operationId": "subscribe",
        "summary": "Subscribe to webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "form_uuid": {
                    "type": "string"
                  },
                  "hook_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Subscribe to webhook"
      },
      "delete": {
        "operationId": "unsubscribe",
        "summary": "Unsubscribe webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "form_uuid": {
                    "type": "string"
                  },
                  "hook_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Unsubscribe webhook"
      }
    },
    "/third-party/zapier/auth-test": {
      "get": {
        "operationId": "authTest",
        "summary": "Test authentication",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Test authentication"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ZAP-KEY"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Submissions"
    },
    {
      "name": "Webhooks"
    }
  ]
}
