{
  "openapi": "3.0.3",
  "info": {
    "title": "OAG Flight Info API",
    "version": "2.0.0",
    "description": "OAG Flight Information API providing access to real-time flight information, airline schedules, connections, and flight alerts.",
    "x-jentic-source-url": "https://developers.oag.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.oag.com"
    }
  ],
  "paths": {
    "/flights": {
      "get": {
        "operationId": "getFlights",
        "summary": "Get Flights",
        "description": "Retrieve flight information including real-time status and schedules up to 2 years in advance.",
        "tags": [
          "Flight Info"
        ],
        "parameters": [
          {
            "name": "carrierCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Airline carrier code (e.g., AA, BA)"
          },
          {
            "name": "flightNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Flight number"
          },
          {
            "name": "departureAirport",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Departure airport IATA code"
          },
          {
            "name": "arrivalAirport",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Arrival airport IATA code"
          },
          {
            "name": "departureDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Departure date"
          },
          {
            "name": "departureTime",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Departure time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/connections": {
      "get": {
        "operationId": "getConnections",
        "summary": "Get Flight Connections",
        "description": "Retrieve connecting flights departing in the next 12 months.",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "name": "departureAirport",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Departure airport IATA code"
          },
          {
            "name": "arrivalAirport",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Arrival airport IATA code"
          },
          {
            "name": "departureDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Departure date"
          },
          {
            "name": "maxConnections",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of connections"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alerts": {
      "post": {
        "operationId": "createFlightAlert",
        "summary": "Create Flight Alert",
        "description": "Create an alert for flight schedule changes and operational status updates.",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listFlightAlerts",
        "summary": "List Flight Alerts",
        "tags": [
          "Alerts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List Flight Alerts"
      }
    },
    "/alerts/{alertId}": {
      "get": {
        "operationId": "getFlightAlert",
        "summary": "Get Flight Alert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Flight Alert"
      },
      "delete": {
        "operationId": "deleteFlightAlert",
        "summary": "Delete Flight Alert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete Flight Alert"
      }
    }
  },
  "components": {
    "schemas": {
      "Flight": {
        "type": "object",
        "properties": {
          "carrierCode": {
            "type": "string"
          },
          "flightNumber": {
            "type": "string"
          },
          "departureAirport": {
            "type": "string"
          },
          "arrivalAirport": {
            "type": "string"
          },
          "departureTime": {
            "type": "string",
            "format": "date-time"
          },
          "arrivalTime": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "aircraftType": {
            "type": "string"
          }
        }
      },
      "FlightListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flight"
            }
          }
        }
      },
      "Connection": {
        "type": "object",
        "properties": {
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flight"
            }
          },
          "totalDuration": {
            "type": "string"
          },
          "connectionCount": {
            "type": "integer"
          }
        }
      },
      "ConnectionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Connection"
            }
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "carrierCode": {
            "type": "string"
          },
          "flightNumber": {
            "type": "string"
          },
          "departureDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "AlertRequest": {
        "type": "object",
        "properties": {
          "carrierCode": {
            "type": "string"
          },
          "flightNumber": {
            "type": "string"
          },
          "departureDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "AlertListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alert"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Alerts"
    },
    {
      "name": "Connections"
    },
    {
      "name": "Flight Info"
    }
  ]
}
