{
  "openapi": "3.0.3",
  "info": {
    "title": "8x8 Connect SMS API",
    "version": "1.0.0",
    "description": "8x8 Connect CPaaS SMS API for sending single and bulk SMS messages worldwide. Supports GSM7bit and Unicode encoding, multiple sender ID types, and delivery status callbacks.",
    "x-jentic-source-url": "https://developer.8x8.com/connect/docs/getting-started",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://sms.8x8.com/api/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "SMS",
      "description": "Send and manage SMS messages"
    }
  ],
  "paths": {
    "/{subAccountId}/messages": {
      "post": {
        "operationId": "sendSms",
        "summary": "Send a single SMS",
        "description": "Send a single SMS message to a destination phone number. Supports GSM7bit and Unicode encoding, alphanumeric and numeric sender IDs.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "subAccountId",
            "in": "path",
            "required": true,
            "description": "Your 8x8 sub-account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendSmsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{subAccountId}/batch": {
      "post": {
        "operationId": "sendBulkSms",
        "summary": "Send bulk SMS messages",
        "description": "Send multiple SMS messages in a single batch request.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "subAccountId",
            "in": "path",
            "required": true,
            "description": "Your 8x8 sub-account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendBulkSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendBulkSmsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{subAccountId}/messages/{umid}": {
      "get": {
        "operationId": "getSmsStatus",
        "summary": "Get SMS delivery status",
        "description": "Retrieve the delivery status of a specific SMS message.",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "subAccountId",
            "in": "path",
            "required": true,
            "description": "Your 8x8 sub-account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "umid",
            "in": "path",
            "required": true,
            "description": "Unique message ID (UMID) returned from the send endpoint",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Bearer token for 8x8 API authentication"
      }
    },
    "schemas": {
      "SendSmsRequest": {
        "type": "object",
        "required": [
          "destination",
          "text"
        ],
        "properties": {
          "source": {
            "type": "string",
            "description": "Sender ID (alphanumeric up to 11 chars, or numeric/short code up to 16 digits)"
          },
          "destination": {
            "type": "string",
            "description": "Recipient phone number in international format (e.g., +6591046180)"
          },
          "text": {
            "type": "string",
            "description": "SMS message content. Max 10 parts (1600 chars GSM7, 700 chars Unicode)"
          },
          "encoding": {
            "type": "string",
            "enum": [
              "AUTO",
              "GSM7BIT",
              "UNICODE"
            ],
            "default": "AUTO",
            "description": "Message encoding. AUTO detects automatically."
          },
          "clientMessageId": {
            "type": "string",
            "description": "Your own unique message identifier for tracking"
          },
          "scheduledDateTime": {
            "type": "string",
            "format": "date-time",
            "description": "Schedule the message for future delivery (ISO 8601)"
          },
          "dlrCallbackUrl": {
            "type": "string",
            "description": "Webhook URL for delivery status notifications"
          },
          "country": {
            "type": "string",
            "description": "ISO country code if destination is in national format"
          }
        }
      },
      "SendSmsResponse": {
        "type": "object",
        "properties": {
          "umid": {
            "type": "string",
            "description": "Unique message ID assigned by 8x8"
          },
          "clientMessageId": {
            "type": "string",
            "description": "Your client message ID"
          },
          "status": {
            "type": "string",
            "description": "Submission status"
          },
          "destination": {
            "type": "string",
            "description": "Resolved destination number"
          }
        }
      },
      "SendBulkSmsRequest": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "description": "Array of SMS messages to send",
            "items": {
              "$ref": "#/components/schemas/SendSmsRequest"
            }
          }
        }
      },
      "SendBulkSmsResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SendSmsResponse"
            }
          }
        }
      },
      "SmsStatusResponse": {
        "type": "object",
        "properties": {
          "umid": {
            "type": "string",
            "description": "Unique message ID"
          },
          "clientMessageId": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Current delivery status (e.g., DELIVERED, SENT, FAILED)"
          },
          "statusTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "httpStatusCode": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
