{
  "openapi": "3.0.3",
  "info": {
    "title": "ipapi.co IP Geolocation API",
    "version": "1.0.0",
    "description": "IP geolocation API providing location, network, and currency information for IP addresses. Supports full JSON responses and per-field lookups.",
    "x-jentic-source-url": "https://ipapi.co/api/"
  },
  "servers": [
    {
      "url": "https://ipapi.co"
    }
  ],
  "paths": {
    "/{ip}/json/": {
      "get": {
        "operationId": "getIpLocation",
        "summary": "Get complete location data for a specific IP address",
        "description": "Returns full geolocation data for the specified IP address in JSON format.",
        "tags": [
          "IP Lookup"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IPv4 or IPv6 address to look up"
          }
        ],
        "responses": {
          "200": {
            "description": "IP geolocation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpLocation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid IP address"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/json/": {
      "get": {
        "operationId": "getMyIpLocation",
        "summary": "Get complete location data for the requesting client IP",
        "description": "Returns full geolocation data for the requesting client's IP address.",
        "tags": [
          "IP Lookup"
        ],
        "responses": {
          "200": {
            "description": "IP geolocation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpLocation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/{ip}/{field}/": {
      "get": {
        "operationId": "getIpField",
        "summary": "Get a single location field for a specific IP",
        "description": "Returns a single location field as plain text for the specified IP address.",
        "tags": [
          "IP Lookup"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IPv4 or IPv6 address to look up"
          },
          {
            "name": "field",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ip",
                "city",
                "region",
                "region_code",
                "country_code",
                "country_code_iso3",
                "country_name",
                "continent_code",
                "in_eu",
                "postal",
                "latitude",
                "longitude",
                "timezone",
                "utc_offset",
                "country_calling_code",
                "currency",
                "currency_name",
                "languages",
                "country_area",
                "country_population",
                "country_capital",
                "country_tld",
                "asn",
                "org"
              ]
            },
            "description": "Specific field to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Field value as plain text",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/{field}/": {
      "get": {
        "operationId": "getMyIpField",
        "summary": "Get a single location field for the requesting client IP",
        "description": "Returns a single location field as plain text for the requesting client's IP address.",
        "tags": [
          "IP Lookup"
        ],
        "parameters": [
          {
            "name": "field",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ip",
                "city",
                "region",
                "region_code",
                "country_code",
                "country_code_iso3",
                "country_name",
                "continent_code",
                "in_eu",
                "postal",
                "latitude",
                "longitude",
                "timezone",
                "utc_offset",
                "country_calling_code",
                "currency",
                "currency_name",
                "languages",
                "country_area",
                "country_population",
                "country_capital",
                "country_tld",
                "asn",
                "org"
              ]
            },
            "description": "Specific field to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Field value as plain text",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IpLocation": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "IP address"
          },
          "city": {
            "type": "string",
            "description": "City name"
          },
          "region": {
            "type": "string",
            "description": "Region or state name"
          },
          "region_code": {
            "type": "string",
            "description": "Region code"
          },
          "country_code": {
            "type": "string",
            "description": "Two-letter country code (ISO 3166-1 alpha-2)"
          },
          "country_name": {
            "type": "string",
            "description": "Country name"
          },
          "continent_code": {
            "type": "string",
            "description": "Continent code"
          },
          "postal": {
            "type": "string",
            "description": "Postal or ZIP code"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone (e.g., America/New_York)"
          },
          "utc_offset": {
            "type": "string",
            "description": "UTC offset"
          },
          "country_calling_code": {
            "type": "string",
            "description": "Country calling code"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "currency_name": {
            "type": "string",
            "description": "Currency name"
          },
          "languages": {
            "type": "string",
            "description": "Comma-separated list of languages"
          },
          "asn": {
            "type": "string",
            "description": "Autonomous System Number"
          },
          "org": {
            "type": "string",
            "description": "Organization name"
          },
          "country_code_iso3": {
            "type": "string",
            "description": "Three-letter country code (ISO 3166-1 alpha-3)"
          },
          "in_eu": {
            "type": "boolean",
            "description": "Whether the country is in the European Union"
          },
          "country_tld": {
            "type": "string",
            "description": "Country top-level domain"
          },
          "country_area": {
            "type": "number",
            "description": "Country area in square kilometers"
          },
          "country_population": {
            "type": "integer",
            "description": "Country population"
          },
          "country_capital": {
            "type": "string",
            "description": "Country capital city"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": []
}