{
  "openapi": "3.0.3",
  "info": {
    "title": "Ecanvasser API Documentation",
    "contact": {
      "email": "support@ecanvasser.com"
    },
    "version": "1.0",
    "x-logo": {
      "url": "/img/ecanvasser/horz-logo-full-extra-padding.png",
      "altText": "Ecanvasser logo"
    },
    "x-jentic-source-url": "https://app.ecanvasser.com/storage/api-docs/complete.json"
  },
  "servers": [
    {
      "url": "https://public-api.ecanvasser.com/v3"
    }
  ],
  "paths": {
    "/appointment": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "summary": "Get list of appointments",
        "description": "Returns a list of all appointments",
        "operationId": "getAppointmentList",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          },
          {
            "$ref": "#/components/parameters/start_date"
          },
          {
            "$ref": "#/components/parameters/end_date"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Appointment"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Appointments retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/appointment/{id}": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "summary": "Get appointment by ID",
        "description": "Returns a appointment for the specified ID",
        "operationId": "getAppointment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your appointment",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Appointment"
                    },
                    "message": {
                      "type": "string",
                      "example": "Appointment retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/appointment/contact/{id}": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "summary": "Get appointments for contact",
        "description": "Returns a list of all interactions belonging to the specified contact",
        "operationId": "getAppointmentByContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the contact",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Appointment"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Appointments retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/appointment/house/{id}": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "summary": "Get appointments for house",
        "description": "Returns a list of all interactions belonging to the specified house",
        "operationId": "getAppointmentByHouse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the house",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Appointment"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Appointments retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/appointment/interaction/{id}": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "summary": "Get interaction appointment",
        "description": "Returns the appointment associated with a given interaction",
        "operationId": "getAppointmentByInteractiom",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the interaction",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Appointment"
                    },
                    "message": {
                      "type": "string",
                      "example": "Appointment retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/appointment/user/{id}": {
      "get": {
        "tags": [
          "Appointment"
        ],
        "summary": "Get user appointments",
        "description": "Returns a list of all interactions assigned to a specified user",
        "operationId": "getAppointmentByUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Appointment"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Appointments retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/assignment": {
      "get": {
        "tags": [
          "Assignment"
        ],
        "summary": "Get list of assignments",
        "description": "Returns a list of all assignments",
        "operationId": "getAssignmentList",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          },
          {
            "$ref": "#/components/parameters/start_date"
          },
          {
            "$ref": "#/components/parameters/end_date"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Assignment"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Assignments retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/assignment/{id}": {
      "get": {
        "tags": [
          "Assignment"
        ],
        "summary": "Get assignment by ID",
        "description": "Returns an assignment for the specified ID",
        "operationId": "getAssignment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your assignment",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Assignment"
                    },
                    "message": {
                      "type": "string",
                      "example": "Assignment retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/assignment/team/{id}": {
      "get": {
        "tags": [
          "Assignment"
        ],
        "summary": "Get assignments for team",
        "description": "Returns a list of all assignments assigned to the specified team",
        "operationId": "getAssignmentByTeam",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the team",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Assignment"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Assignments retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/assignment/user/{id}": {
      "get": {
        "tags": [
          "Assignment"
        ],
        "summary": "Get assignments for user",
        "description": "Returns a list of all assignments assigned to the specified user",
        "operationId": "getAssignmentByUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Assignment"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Assignments retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/users": {
      "get": {
        "operationId": "6ad3694d8c1f40d33b70ab0b8f53b413",
        "responses": {
          "200": {
            "description": "An example endpoint"
          }
        }
      }
    },
    "/contact": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get list of contacts",
        "description": "Returns a list of all contacts",
        "operationId": "getContactList",
        "parameters": [
          {
            "name": "first_name",
            "in": "query",
            "description": "First name to use to search for contacts",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "John"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "Last name to use to search for contacts",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "Doe"
            }
          },
          {
            "$ref": "#/components/parameters/start_date"
          },
          {
            "$ref": "#/components/parameters/end_date"
          },
          {
            "$ref": "#/components/parameters/created_by"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Contacts retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Sorry, something went wrong on our end."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Create contact",
        "description": "Creates a contact",
        "operationId": "createContact",
        "requestBody": {
          "description": "Input data format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    },
                    "message": {
                      "type": "string",
                      "example": "Contact created successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contact/{id}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get contact by ID",
        "description": "Returns a contact for the specified ID",
        "operationId": "getContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your contact",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Contact"
        ],
        "summary": "Update contact by ID",
        "description": "Updates a contact for the specified ID",
        "operationId": "updateContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your contact",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Input data format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    },
                    "message": {
                      "type": "string",
                      "example": "Contact updated successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Contact"
        ],
        "summary": "Delete contact by ID",
        "description": "Deletes a contact for the specified ID",
        "operationId": "deleteContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your contact",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Contact deleted successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contact/uniqueid/{unique_identifier}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get contact by unique ID",
        "description": "Returns a contact for the specified unique ID. If you have multiple contacts with the ID provided, you will get a <b>406</b> response\n                         and the contact IDs will be returned in the error message.",
        "operationId": "getContactByUniqueId",
        "parameters": [
          {
            "name": "unique_identifier",
            "in": "path",
            "description": "Unique identifier of your contact",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          },
          "406": {
            "description": "Not Acceptable - There is more than one contact with this unique ID.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/contact/house/{id}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get list of contacts belonging to the specified house",
        "description": "Returns a list of all contacts belonging to the specified house",
        "operationId": "getContactListForHouse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the house",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Contacts retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Sorry, something went wrong on our end."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/customfield": {
      "get": {
        "tags": [
          "Custom field"
        ],
        "summary": "Get list of custom fields",
        "description": "Returns a list of all custom fields",
        "operationId": "getCustomFieldList",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomField"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Custom fields retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Custom field"
        ],
        "summary": "Create custom field",
        "description": "Creates a custom field",
        "operationId": "createCustomField",
        "requestBody": {
          "description": "Input data format",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/CustomField/properties/name"
                  },
                  "default": {
                    "$ref": "#/components/schemas/CustomField/properties/default"
                  },
                  "type": {
                    "$ref": "#/components/schemas/CustomField/properties/type"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/CustomField"
                    },
                    "message": {
                      "type": "string",
                      "example": "Custom field created successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was unacceptable ie. missing parameter"
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          },
          "409": {
            "description": "Conflict - The request conflicts with another request"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/customfield/{id}": {
      "get": {
        "tags": [
          "Custom field"
        ],
        "summary": "Get custom field by ID",
        "description": "Returns a custom field for the specified ID",
        "operationId": "getCustomField",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your custom field",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Custom field"
        ],
        "summary": "Update custom field by ID",
        "description": "Updates a custom field for the specified ID",
        "operationId": "updateCustomField",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your custom field",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Input data format",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/CustomField/properties/name"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/CustomField"
                    },
                    "message": {
                      "type": "string",
                      "example": "Custom field updated successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Custom field"
        ],
        "summary": "Delete custom field",
        "description": "Deletes a custom field",
        "operationId": "deleteCustomField",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your custom field to delete",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Custom field deleted successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was unacceptable ie. missing parameter"
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          },
          "409": {
            "description": "Conflict - The request conflicts with another request"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/customfield/option/{id}": {
      "get": {
        "tags": [
          "Custom field"
        ],
        "summary": "Get option of custom field",
        "description": "Returns a custom field option that has the id provided",
        "operationId": "getCustomfieldOption",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the custom field option",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldOption"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Sorry, something went wrong on our end."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Custom field"
        ],
        "summary": "Update custom field option",
        "description": "Updates a custom field option",
        "operationId": "updateCustomFieldOption",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the custom field option you are updating",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Input data format",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/CustomFieldOption/properties/name"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/CustomFieldOption"
                    },
                    "message": {
                      "type": "string",
                      "example": "Custom field option updated successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was unacceptable ie. missing parameter"
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          },
          "409": {
            "description": "Conflict - The request conflicts with another request"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Custom field"
        ],
        "summary": "Delete custom field option",
        "description": "Deletes a custom field option",
        "operationId": "deleteCustomFieldOption",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your custom field option to delete",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Custom field option deleted successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was unacceptable ie. missing parameter"
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          },
          "409": {
            "description": "Conflict - The request conflicts with another request"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/customfield/option": {
      "post": {
        "tags": [
          "Custom field"
        ],
        "summary": "Create custom field option",
        "description": "Creates a custom field option. This is only supported for <b>Multiple Choice</b> and <b>Checklist</b> types. If you call this endpoint for a custom field of a different type it will result in a <b>400</b> error response",
        "operationId": "createCustomFieldOption",
        "requestBody": {
          "description": "Input data format",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "customfield_id": {
                    "$ref": "#/components/schemas/CustomFieldOption/properties/customfield_id"
                  },
                  "name": {
                    "$ref": "#/components/schemas/CustomFieldOption/properties/name"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/CustomFieldOption"
                    },
                    "message": {
                      "type": "string",
                      "example": "Custom field option created successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was unacceptable ie. Tried to create an option for a custom field of an unsupported type (Text, Number, True/False, Star Rating)"
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          },
          "409": {
            "description": "Conflict - The request conflicts with another request"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/document": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get list of documents",
        "description": "Returns a list of all documents",
        "operationId": "getDocumentList",
        "parameters": [
          {
            "$ref": "#/components/parameters/created_by"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Document"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Documents retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/document/{id}": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get document by ID",
        "description": "Returns a document for the specified ID",
        "operationId": "getDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your document",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentSingle"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Document"
        ],
        "summary": "Delete document by ID",
        "description": "Deletes a document for the specified ID",
        "operationId": "deleteDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your document",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Document deleted successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/effort": {
      "get": {
        "tags": [
          "Effort"
        ],
        "summary": "Get list of efforts",
        "description": "Returns a list of all efforts",
        "operationId": "getEffortList",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Effort"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Efforts retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/followuprequest": {
      "get": {
        "tags": [
          "Follow-up request"
        ],
        "summary": "Get list of follow-up requests",
        "description": "Returns a list of all follow-up requests",
        "operationId": "getFollowUpRequestList",
        "parameters": [
          {
            "$ref": "#/components/parameters/created_by"
          },
          {
            "name": "assigned_to",
            "in": "query",
            "description": "Retrieve the follow-up requests assigned to a specific user",
            "style": "form",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 3521
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FollowUpRequest"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Follow-up requests  retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Follow-up request"
        ],
        "summary": "Create follow-up request",
        "description": "Creates an follow-up request",
        "operationId": "createFollowUpRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FollowUpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/FollowUpRequest"
                    },
                    "message": {
                      "type": "string",
                      "example": "Follow-up request created successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/followuprequest/{id}": {
      "get": {
        "tags": [
          "Follow-up request"
        ],
        "summary": "Get follow-up request by ID",
        "description": "Returns an follow-up request for the specified ID",
        "operationId": "getFollowUpRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your follow-up request",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FollowUpRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Follow-up request"
        ],
        "summary": "Update follow-up request by ID",
        "description": "Updates an follow-up request for the specified ID",
        "operationId": "updateFollowUpRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your follow-up request",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Input data format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FollowUpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/FollowUpRequest"
                    },
                    "message": {
                      "type": "string",
                      "example": "Follow-up request updated successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Follow-up request"
        ],
        "summary": "Delete follow-up request by ID",
        "description": "Deletes an follow-up request for the specified ID",
        "operationId": "deleteFollowUpRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your follow-up request",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Follow-up request deleted successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/house": {
      "get": {
        "tags": [
          "House"
        ],
        "summary": "Get list of houses",
        "description": "Returns a list of all houses",
        "operationId": "getHouseList",
        "parameters": [
          {
            "$ref": "#/components/parameters/start_date"
          },
          {
            "$ref": "#/components/parameters/end_date"
          },
          {
            "$ref": "#/components/parameters/created_by"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/House"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Houses retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "House"
        ],
        "summary": "Create house",
        "description": "Creates a house",
        "operationId": "createHouse",
        "requestBody": {
          "description": "Input data format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/House"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/House"
                    },
                    "message": {
                      "type": "string",
                      "example": "House created successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was unacceptable ie. missing parameter"
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          },
          "409": {
            "description": "Conflict - The request conflicts with another request"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/house/{id}": {
      "get": {
        "tags": [
          "House"
        ],
        "summary": "Get house by ID",
        "description": "Returns a house for the specified ID",
        "operationId": "getHouse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your house",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/House"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "House"
        ],
        "summary": "Update house by ID",
        "description": "Updates a house for the specified ID",
        "operationId": "updateHouse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your house",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Input data format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/House"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/House"
                    },
                    "message": {
                      "type": "string",
                      "example": "House updated successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "House"
        ],
        "summary": "Delete house by ID",
        "description": "Deletes a house for the specified ID",
        "operationId": "deleteHouse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your house",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "House deleted successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interaction": {
      "get": {
        "tags": [
          "Interaction"
        ],
        "summary": "Get list of interactions",
        "description": "Returns a list of all interactions",
        "operationId": "getInteractionList",
        "parameters": [
          {
            "$ref": "#/components/parameters/start_date"
          },
          {
            "$ref": "#/components/parameters/end_date"
          },
          {
            "$ref": "#/components/parameters/created_by"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Interaction"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Interactions retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Interaction"
        ],
        "summary": "Create interaction",
        "description": "Creates an interaction",
        "operationId": "createInteraction",
        "requestBody": {
          "description": "Input data format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Interaction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Interaction"
                    },
                    "message": {
                      "type": "string",
                      "example": "Interaction created successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interaction/{id}": {
      "get": {
        "tags": [
          "Interaction"
        ],
        "summary": "Get interaction by ID",
        "description": "Returns an interaction for the specified ID",
        "operationId": "getInteraction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your interaction",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Interaction"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Interaction"
        ],
        "summary": "Update interaction by ID",
        "description": "Updates an interaction for the specified ID",
        "operationId": "updateInteraction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your interaction",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "requestBody": {
          "description": "Input data format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Interaction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Interaction"
                    },
                    "message": {
                      "type": "string",
                      "example": "Interaction updated successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Interaction"
        ],
        "summary": "Delete interaction by ID",
        "description": "Deletes an interaction for the specified ID",
        "operationId": "deleteInteraction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your interaction",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Interaction deleted successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interaction/contact/{id}": {
      "get": {
        "tags": [
          "Interaction"
        ],
        "summary": "Get list of interactions belonging to the specified contact",
        "description": "Returns a list of all interactions belonging to the specified contact",
        "operationId": "getInteractionListForContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the contact",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 3643
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Interaction"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Interactions retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Sorry, something went wrong on our end."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interaction/house/{id}": {
      "get": {
        "tags": [
          "Interaction"
        ],
        "summary": "Get list of interactions belonging to the specified house",
        "description": "Returns a list of all interactions belonging to the specified house",
        "operationId": "getInteractionListForHouse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the house",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 3643
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Interaction"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Interactions retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Sorry, something went wrong on our end."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/list": {
      "get": {
        "tags": [
          "List"
        ],
        "summary": "Get list of Lists",
        "description": "Returns paginated lists",
        "operationId": "getList",
        "parameters": [
          {
            "$ref": "#/components/parameters/start_date"
          },
          {
            "$ref": "#/components/parameters/end_date"
          },
          {
            "$ref": "#/components/parameters/created_by"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Retrieve lists with a given status",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "Pending%20Approval"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListModel"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Lists retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/list/{id}": {
      "get": {
        "tags": [
          "List"
        ],
        "summary": "Get List by ID",
        "description": "Returns a list with its assignments",
        "operationId": "getListById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "List"
        ],
        "summary": "Update List by ID",
        "description": "Updates only fillable fields",
        "operationId": "updateList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Input data format",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/ListModel/properties/name"
                  },
                  "status": {
                    "$ref": "#/components/schemas/ListModel/properties/status"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/ListModel"
                    },
                    "message": {
                      "type": "string",
                      "example": "List updated successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "List"
        ],
        "summary": "Delete List by ID",
        "description": "Deletes a List for the specified ID",
        "operationId": "deleteList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your List",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "List deleted successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/survey": {
      "get": {
        "tags": [
          "Survey"
        ],
        "summary": "Get list of surveys",
        "description": "Returns a list of all surveys",
        "operationId": "getSurveyList",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/after_id"
          },
          {
            "$ref": "#/components/parameters/before_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Survey"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "message": {
                      "type": "string",
                      "example": "Surveys retrieved successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "Create survey",
        "description": "Creates a survey",
        "operationId": "createSurvey",
        "requestBody": {
          "description": "Input data format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SurveyCreate"
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Survey created successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request was unacceptable ie. missing parameter"
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          },
          "409": {
            "description": "Conflict - The request conflicts with another request"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/survey/{id}": {
      "get": {
        "tags": [
          "Survey"
        ],
        "summary": "Get survey by ID",
        "description": "Returns a survey for the specified ID",
        "operationId": "getSurvey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your survey",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Everything worked as expected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Survey"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized\t- No valid API key provided."
          },
          "404": {
            "description": "Not Found - The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Survey"
        ],
        "summary": "Update survey by ID",
        "description": "Updates a survey for the specified ID",
        "operationId": "updateSurvey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of your survey",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "requestBody": {
[...]
