{
  "openapi": "3.0.3",
  "info": {
    "title": "Appen AI Data Annotation Platform (ADAP) API",
    "description": "\n# Introduction\n\nThe Appen AI Data Annotation Platform (ADAP) APIs offer a structured, automated approach to ensure high-quality data labeling on a scale. These APIs facilitate seamless integration of quality assurance steps, including reviewer assignments, and performance scoring, into annotation workflows. \n\nBy standardizing quality processes and enabling programmatic control, they reduce errors, improve data consistency, and provide reliable training data for AI and machine learning models. \n\nBefore integrating with the API, we recommend building and running a job using our **[graphical user interface](https://client.appen.com/sessions/new)**. Once you successfully run a job and are satisfied with the results, you can automate the process using the Appen API.\n\n# Authentication\n\nTo authenticate and access the API, follow these steps to find it:\n\n**Obtain Your API Key:**\n\n- Click your profile picture in the top right corner of any page, then select Profile from the dropdown.\n\n![](https://your-bucket-name.s3.amazonaws.com/images/profile-picture-location.png)   \n![](https://qualityflow-api-docs.s3.us-east-1.amazonaws.com/ADAP/authentication1.png)   \n\n- Go to the API tab and click Generate New to create an API key.\n\n![](https://your-bucket-name.s3.amazonaws.com/images/api-tab-location.png)    \n![](https://qualityflow-api-docs.s3.us-east-1.amazonaws.com/ADAP/APIKey-Screenshot.png)    \n\n**Note:** Creating a new API key will invalidate any previous keys for this user, so update any code that uses the old key.\n\n- For requests listed below, the API Key will be listed as `{api_key}`.    \n\n- Include the API key in the header for each request as follows:\n\n```\nheaders: { \n\n  \"AUTHORIZATION\": \"Token token={api_key}\"\n\n}\n```\n\n**Other Variables:**\n\n- `{job_id}` and `{team_id}` can be found on the job listing page or the Teams tab URL on the Teams Tab Account page.\n\n![](https://qualityflow-api-docs.s3.us-east-1.amazonaws.com/ADAP/TeamId.png)\n\n![](https://qualityflow-api-docs.s3.us-east-1.amazonaws.com/ADAP/jobId.png)\n\n# Resources\n\nThere are four primary data objects on Appen that correspond to resources on the API:\n\n## Projects\n\nA **Project** is a container that organizes and structures your data annotation workflows. \n\nProjects serve as the foundation for organizing related jobs, units, and data within your team. \n\nEach project belongs to a specific team and can contain multiple jobs.\n\nProjects have unique names that help you organize and identify different annotation initiatives. Think of a project as a workspace where you can group related annotation tasks, manage data uploads, and coordinate quality assurance workflows across multiple jobs.\n\n\n## Jobs\n\nA **Job** is an interface that connects your data to an online workforce. Each job on the Appen platform has data, instructions, customizable questions for your use case (written in CML), [test questions](https://success.appen.com/hc/en-us/articles/202702985-Guide-to-Creating-Test-Questions), and is worked on by Contributors. Contributors submit Judgments on the rows of data via a worker interface.\n\n- All jobs in a single account can be found on your project canvas page and will be identified by a unique numeric id.\n\n## Units (also known as 'Rows')\n\nA **Unit** of data is uploaded to the job from your source data file via API or GUI.\n\n## Judgments\n\nA **Judgment** is the set of responses submitted by a contributor on a particular unit of data. It is recommended to collect multiple judgments and compare them to one another or aggregate to the top response. For each job, you can specify the number of judgments you would like each row to receive.\n\n# Responses and Messaging\n\nEach request to the Appen API returns an HTTP status code response and one or both of the following:\n\n- An application response message (in JSON)\n- A JSON representation of the object (job, unit, or judgments) requested See the below sections of different API Requests, Responses and Messaging for more information:\n\n1. **[Project Creation](#operation/createProject)**\n2. **[Upload Dataset](#operation/uploadDatasetToProject)**\n3. **[Upload Dataset Status](#operation/getUploadStatus)**\n4. **[Job Creation](#operation/createJob)**\n5. **[Copy Job](#operation/copyJob)**\n6. **[Job Status](#operation/getJobStatus)**\n7. **[Update Job Settings](#operation/updateJob)**\n8. **[List Units in the Project](#operation/listProjectUnits)**\n9. **[Send Units to the Job](#operation/sendUnitsToJob)**\n10. **[Launch & Resume/Run job](#operation/launchJob)**\n11. **[Pause Job](#operation/pauseJob)**\n12. **[Download Reports](#operation/downloadCsvFile)**\n",
    "x-jentic-source-url": "https://developer.appen.com/open-api.yaml",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.appen.com/",
      "description": "Production environment"
    }
  ],
  "paths": {
    "/v3/jobs/jobs.json": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create a new job",
        "description": "Initializes a new job within a project. Many fields are auto-populated and cannot be overridden.\n\n**Supported Job Types:**\n- **WORK**: Standard work jobs for data collection and annotation\n- **QA**: Quality assurance/Leading QA jobs\n\n**Current Limitations:**\n- Work Jobs requiring Ontology and qualification jobs will be supported in next version of the release\n- By default the created Jobs will be in 'Draft' status\n- Job type must be either WORK or QA (other types not supported)\n",
        "operationId": "createJob",
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Create Job",
            "source": "curl -X POST \"https://api.appen.com/v3/jobs/jobs.json\" \\\n  -H \"Authorization: Token token=<your-api-key>\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"title\": \"Your Job Title\",\n    \"projectId\": \"e74c1b9d-16ff-4a29-8c4c-e3147877de1b\",\n    \"type\": \"WORK\"\n  }'\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "projectId",
                  "type"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title for the new job - must be unique within the project (required)",
                    "example": "Your Job Title"
                  },
                  "projectId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the project where the job will be created (required)",
                    "example": "e74c1b9d-16ff-4a29-8c4c-e3147877de1b"
                  },
                  "type": {
                    "type": "string",
                    "description": "Job type - must be either WORK or QA (required)",
                    "enum": [
                      "WORK",
                      "QA"
                    ],
                    "example": "WORK"
                  }
                }
              },
              "examples": {
                "work_job": {
                  "summary": "Create a WORK job",
                  "value": {
                    "title": "My Work Job",
                    "projectId": "e74c1b9d-16ff-4a29-8c4c-e3147877de1b",
                    "type": "WORK"
                  }
                },
                "qa_job": {
                  "summary": "Create a QA job",
                  "value": {
                    "title": "My QA Job",
                    "projectId": "e74c1b9d-16ff-4a29-8c4c-e3147877de1b",
                    "type": "QA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/JobDTO"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "message": "success",
                  "data": {
                    "id": "68624cd9-8899-4107-bc3a-f69d91db4d3e",
                    "projectId": "e74c1b9d-16ff-4a29-8c4c-e3147877de1b",
                    "teamId": "f6c0b8cb-de69-495c-980b-2b0e0a6ca288",
                    "title": "Your Job Title",
                    "type": "WORK",
                    "state": "DRAFT",
                    "feedback": "DISABLED",
                    "assignmentLeaseExpiry": 1800,
                    "rowsPerPage": 5,
                    "judgmentsPerRow": 1,
                    "sendBackOp": "SEND_BACK_TO_SAME_CONTRIBUTOR",
                    "judgmentModifiable": false,
                    "allowSelfQa": false,
                    "allowAbandonUnits": true,
                    "createdAt": "2025-07-09T03:19:20Z"
                  },
                  "code": 200,
                  "time": "2025-07-09T03:19:22Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required fields or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_project": {
                    "summary": "Missing project",
                    "value": {
                      "timestamp": "2025-07-01T10:28:59.893+00:00",
                      "status": 400,
                      "error": "Bad Request",
                      "message": "Project is required",
                      "path": "/v3/jobs/jobs.json"
                    }
                  },
                  "missing_title": {
                    "summary": "Missing title",
                    "value": {
                      "timestamp": "2025-07-01T10:28:59.893+00:00",
                      "status": 400,
                      "error": "Bad Request",
                      "message": "Job title is required",
                      "path": "/v3/jobs/jobs.json"
                    }
                  },
                  "invalid_project_id": {
                    "summary": "Invalid project ID",
                    "value": {
                      "timestamp": "2025-07-01T10:28:59.893+00:00",
                      "status": 400,
                      "error": "Bad Request",
                      "message": "Invalid project Id",
                      "path": "/v3/jobs/jobs.json"
                    }
                  },
                  "duplicate_title": {
                    "summary": "Job title already exists",
                    "value": {
                      "timestamp": "2025-07-01T10:28:59.893+00:00",
                      "status": 400,
                      "error": "Bad Request",
                      "message": "Job title already exists",
                      "path": "/v3/jobs/jobs.json"
                    }
                  },
                  "invalid_job_type": {
                    "summary": "Invalid job type",
                    "value": {
                      "timestamp": "2025-07-01T10:28:59.893+00:00",
                      "status": 400,
                      "error": "Bad Request",
                      "message": "Job type must be either WORK or QA",
                      "path": "/v3/jobs/jobs.json"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "timestamp": "2025-07-01T10:28:59.893+00:00",
                  "status": 403,
                  "error": "Forbidden",
                  "message": "Access denied. Check your privileges.",
                  "path": "/v3/jobs/jobs.json"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "timestamp": "2025-07-01T10:28:59.893+00:00",
                  "status": 500,
                  "error": "Internal Server Error",
                  "message": "Failed to create job",
                  "path": "/v3/jobs/jobs.json"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ]
      }
    },
    "/v3/project-flow/projects/jobs/copy-job": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Copy an existing job within a project",
        "description": "Creates a copy of an existing job within the same project.\nThis endpoint allows you to duplicate job configurations including design, contributor settings, \nand row settings, making it easy to create similar jobs without starting from scratch.\n\n**What gets copied:**\n- Basic job metadata (title, type, description)\n- Job design/CML configuration (if `DESIGN` is included in `types`)\n- Contributor settings (if `CROWD_SETTINGS` is included in `types`)\n- Row settings and pricing configuration (if `PRICE_AND_ROW` is included in `types`)\n- Quality/Leading QA settings (if `QUALITY_SETTINGS` is included in `types`)\n\n**Important Notes:**\n- The copied job will be created in `DRAFT` status\n- Jobs can only be copied within the same project (source job and target project must match)\n- The job title must be unique within the project\n- The `appendTo` field must be set to `project_data_source`\n\n**Limitations**\n- Only WORK jobs and Leading QA jobs can be copied. Copying of following QA jobs will be supported in the further releases. \n\n**Validation:**\n- Only allowed values for `types`: `DESIGN`, `CROWD_SETTINGS`, `PRICE_AND_ROW`, `QUALITY_SETTINGS`\n- `QUALITY_SETTINGS` can only be used when copying from a QA/Leading QA job (not WORK jobs)\n",
        "operationId": "copyJob",
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Copy WORK Job with All Settings",
            "source": "curl -X POST \"https://api.appen.com/v3/project-flow/projects/jobs/copy-job?teamId=f6c0b8cb-de69-495c-980b-2b0e0a6ca288\" \\\n  -H \"Authorization: Token token=<your-api-key>\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"copiedFrom\": \"63311198-5481-4312-ae33-f9fcf1423191\",\n    \"projectId\": \"fbff3f10-7105-4e52-afef-00fe21a3100e\",\n    \"title\": \"Copy of My Work Job\",\n    \"appendTo\": \"project_data_source\",\n    \"types\": [\"DESIGN\", \"CROWD_SETTINGS\", \"PRICE_AND_ROW\"]\n  }'\n"
          },
          {
            "lang": "curl",
            "label": "Copy Leading QA Job with All Settings",
            "source": "curl -X POST \"https://api.appen.com/v3/project-flow/projects/jobs/copy-job?teamId=cf22e84f-06c8-4955-b626-1c47d245a176\" \\\n  -H \"Authorization: Token token=<your-api-key>\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"copiedFrom\": \"e19bc365-aa0e-4a23-9188-a2ac11b7016d\",\n    \"projectId\": \"567ac5fa-b7bf-454c-9459-4e878a5b0280\",\n    \"title\": \"Copy of Leading QA Job\",\n    \"appendTo\": \"project_data_source\",\n    \"types\": [\"QUALITY_SETTINGS\", \"DESIGN\", \"CROWD_SETTINGS\", \"PRICE_AND_ROW\"]\n  }'\n"
          },
          {
            "lang": "curl",
            "label": "Copy Job with Design Only",
            "source": "curl -X POST \"https://api.appen.com/v3/project-flow/projects/jobs/copy-job?teamId=f6c0b8cb-de69-495c-980b-2b0e0a6ca288\" \\\n  -H \"Authorization: Token token=<your-api-key>\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"copiedFrom\": \"63311198-5481-4312-ae33-f9fcf1423191\",\n    \"projectId\": \"fbff3f10-7105-4e52-afef-00fe21a3100e\",\n    \"title\": \"Job with Same Design\",\n    \"appendTo\": \"project_data_source\",\n    \"types\": [\"DESIGN\"]\n  }'\n"
          },
          {
            "lang": "curl",
            "label": "Copy Job with Crowd Settings Only",
            "source": "curl -X POST \"https://api.appen.com/v3/project-flow/projects/jobs/copy-job?teamId=f6c0b8cb-de69-495c-980b-2b0e0a6ca288\" \\\n  -H \"Authorization: Token token=<your-api-key>\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"copiedFrom\": \"63311198-5481-4312-ae33-f9fcf1423191\",\n    \"projectId\": \"fbff3f10-7105-4e52-afef-00fe21a3100e\",\n    \"title\": \"Job with Same Crowd Settings\",\n    \"appendTo\": \"project_data_source\",\n    \"types\": [\"CROWD_SETTINGS\"]\n  }'\n"
          },
          {
            "lang": "curl",
            "label": "Copy Job with Row Settings Only",
            "source": "curl -X POST \"https://api.appen.com/v3/project-flow/projects/jobs/copy-job?teamId=f6c0b8cb-de69-495c-980b-2b0e0a6ca288\" \\\n  -H \"Authorization: Token token=<your-api-key>\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"copiedFrom\": \"63311198-5481-4312-ae33-f9fcf1423191\",\n    \"projectId\": \"fbff3f10-7105-4e52-afef-00fe21a3100e\",\n    \"title\": \"Job with Same Row Settings\",\n    \"appendTo\": \"project_data_source\",\n    \"types\": [\"PRICE_AND_ROW\"]\n  }'\n"
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "The team ID that owns both the source job and target project",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "f6c0b8cb-de69-495c-980b-2b0e0a6ca288"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Job copy configuration specifying the source job, target project, new job title, \nand which components to copy.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "copiedFrom",
                  "projectId",
                  "title"
                ],
                "properties": {
                  "copiedFrom": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the source job to copy from (required)",
                    "example": "63311198-5481-4312-ae33-f9fcf1423191"
                  },
                  "projectId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the target project where the job will be created (required)",
                    "example": "fbff3f10-7105-4e52-afef-00fe21a3100e"
                  },
                  "title": {
                    "type": "string",
                    "description": "Title for the new job - must be unique within the target project (required)",
                    "example": "Copy of My Job",
                    "maxLength": 255
                  },
                  "appendTo": {
                    "type": "string",
                    "description": "Data source type - must be 'project_data_source'",
                    "enum": [
                      "project_data_source"
                    ],
                    "default": "project_data_source",
                    "example": "project_data_source"
                  },
                  "types": {
                    "type": "array",
                    "description": "Components to copy from the source job. Leave empty to copy basic structure only.\n- **DESIGN**: Copy job design/CML configuration\n- **CROWD_SETTINGS**: Copy contributor settings\n- **PRICE_AND_ROW**: Copy row settings and pricing configuration\n- **QUALITY_SETTINGS**: Copy quality/leading QA settings\n",
                    "items": {
                      "type": "string",
                      "enum": [
                        "DESIGN",
                        "CROWD_SETTINGS",
                        "PRICE_AND_ROW",
                        "QUALITY_SETTINGS"
                      ]
                    },
                    "example": [
                      "DESIGN",
                      "CROWD_SETTINGS",
                      "PRICE_AND_ROW",
                      "QUALITY_SETTINGS"
                    ]
                  }
                }
              },
              "examples": {
                "work_job_full_copy": {
                  "summary": "Copy WORK job with all settings",
                  "value": {
                    "copiedFrom": "63311198-5481-4312-ae33-f9fcf1423191",
                    "projectId": "fbff3f10-7105-4e52-afef-00fe21a3100e",
                    "title": "Copy of Work Job",
                    "appendTo": "project_data_source",
                    "types": [
                      "DESIGN",
                      "CROWD_SETTINGS",
                      "PRICE_AND_ROW"
                    ]
                  }
                },
                "qa_job_full_copy": {
                  "summary": "Copy Leading QA job with all settings including quality settings",
                  "value": {
                    "copiedFrom": "e19bc365-aa0e-4a23-9188-a2ac11b7016d",
                    "projectId": "567ac5fa-b7bf-454c-9459-4e878a5b0280",
                    "title": "Copy of Leading QA Job",
                    "appendTo": "project_data_source",
                    "types": [
                      "QUALITY_SETTINGS",
                      "DESIGN",
                      "CROWD_SETTINGS",
                      "PRICE_AND_ROW"
                    ]
                  }
                },
                "design_only": {
                  "summary": "Copy design/CML only",
                  "value": {
                    "copiedFrom": "63311198-5481-4312-ae33-f9fcf1423191",
                    "projectId": "fbff3f10-7105-4e52-afef-00fe21a3100e",
                    "title": "Job with Same Design",
                    "appendTo": "project_data_source",
                    "types": [
                      "DESIGN"
                    ]
                  }
                },
                "crowd_settings_only": {
                  "summary": "Copy crowd/contributor settings only",
                  "value": {
                    "copiedFrom": "63311198-5481-4312-ae33-f9fcf1423191",
                    "projectId": "fbff3f10-7105-4e52-afef-00fe21a3100e",
                    "title": "Job with Same Crowd Settings",
                    "appendTo": "project_data_source",
                    "types": [
                      "CROWD_SETTINGS"
                    ]
                  }
                },
                "row_settings_only": {
                  "summary": "Copy row settings and pricing only",
                  "value": {
                    "copiedFrom": "63311198-5481-4312-ae33-f9fcf1423191",
                    "projectId": "fbff3f10-7105-4e52-afef-00fe21a3100e",
                    "title": "Job with Same Row Settings",
                    "appendTo": "project_data_source",
                    "types": [
                      "PRICE_AND_ROW"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job copied successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Job copied successfully"
                    },
                    "data": {
                      "$ref": "#/components/schemas/JobDTO"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Trace ID for tracking the request",
                      "example": "abc-123-xyz"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-21T07:46:52.429060Z"
                    }
                  }
                },
                "example": {
                  "status": 200,
                  "message": "Job copied successfully",
                  "data": {
                    "id": "789d7bc2-2c7b-48ee-89f1-9e99cfcc9b3b",
                    "version": 2,
                    "projectId": "61ffd5af-cada-4452-a80b-57b46ded1958",
                    "teamId": "cf22e84f-06c8-4955-b626-1c47d245a176",
                    "title": "Copy of job1",
                    "displayId": null,
                    "cycleNumber": 0,
                    "feedback": "DISABLED",
                    "flowId": "789d7bc2-2c7b-48ee-89f1-9e99cfcc9b3b",
                    "type": "QA",
                    "state": "DRAFT",
                    "activeStatus": "ACTIVE",
                    "assignmentLeaseExpiry": 1200,
                    "judgmentsPerRow": 1,
                    "rowsPerPage": 10,
                    "displayContributorName": null,
                    "judgmentModifiable": false,
                    "sendBackOp": "NO_OP",
                    "copiedFrom": "2ec45e4f-3a2d-4fd1-b3d7-ab36f6cb1e0a",
                    "maxJudgmentPerContributorEnabled": false,
                    "maxJudgmentPerContributor": 0,
                    "maxSkippablePromptNum": 0,
                    "unitSegmentType": "UNIT_ONLY",
                    "internalSecret": "OwHv0Ohwaq3BSLHeIqsazG2kjKrE9KB1ZmLWsAK7AaiJZC",
                    "jobCml": null,
                    "jobFilter": null,
                    "jobCrowd": null,
                    "testQuestionSettings": null,
                    "operateHistoryId": "a75eb471-007c-464e-adb1-cf144ecca3a7",
                    "payRateType": "",
                    "invoiceStatisticsType": "UNIT_COUNT",
                    "createdAt": "2025-10-23T06:40:58.949371Z",
                    "allowSelfQa": true,
                    "allowAbandonUnits": true,
                    "maxNumberOfAllowedAbandonment": 3,
                    "sendAbandonedUnitsBackToJob": true,
                    "instruction": "",
                    "validationRuleId": null,
                    "enableBlueTooth": false,
                    "launchPlatform": [],
                    "latestAppVersion": false,
                    "reusablePrompt": false,
                    "reusablePin": false,
                    "totalSessionNumber": 0,
                    "firstLaunchTime": null,
                    "promptsEnabling": null,
                    "reviewReasons": "",
                    "reviewReasonOption": "SINGLE",
                    "parentJobId": null,
                    "unitGroupOption": "IGNORE",
                    "appendable": false,
                    "enableShareLink": false,
                    "timeLimitThresholdSec": 30,
                    "enableExternalAutoAssignJob": true,
                    "dynamicJudgements": {
                      "enableDynamicJudgements": false,
                      "maxDynamicJudgements": 0,
                      "mode": "MINIMUM_CONFIDENCE",
                      "minimumConfidence": 0,
                      "enabledQuestions": "{}",
                      "id": "",
                      "version": 0
                    },
                    "enableExpirationTime": 0,
                    "expirationDurationSet": 0,
                    "expirationDurationUpdate": 0,
                    "threshold": 0,
                    "qaAdvancedOptions": null,
                    "active": true,
                    "multipleJudgment": false,
                    "appenConnectCrowd": false,
                    "running": false,
                    "alias": "Qnull",
                    "draft": true,
                    "segmented": false
                  },
                  "traceId": "dc275948571ddd43",
                  "timestamp": "2025-10-23T06:40:59.281366Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required fields, invalid field values, or validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_copied_from": {
                    "summary": "Missing copiedFrom field",
                    "value": {
                      "timestamp": "2025-10-21T07:46:52.429060Z",
                      "status": 400,
                      "errorCode": 4001,
                      "error": "Bad Request",
                      "message": "copiedFrom is required",
                      "path": "/v3/project-flow/projects/jobs/copy-job",
                      "traceId": "abc-123-xyz"
                    }
                  },
                  "missing_project_id": {
                    "summary": "Missing projectId field",
                    "value": {
                      "timestamp": "2025-10-21T07:46:52.429060Z",
                      "status": 400,
                      "errorCode": 4001,
                      "error": "Bad Request",
                      "message": "projectId is required",
                      "path": "/v3/project-flow/projects/jobs/copy-job",
                      "traceId": "abc-123-xyz"
                    }
                  },
                  "missing_title": {
                    "summary": "Missing title field",
                    "value": {
                      "timestamp": "2025-10-21T07:46:52.429060Z",
                      "status": 400,
                      "errorCode": 4001,
                      "error": "Bad Request",
                      "message": "title is required",
                      "path": "/v3/project-flow/projects/jobs/copy-job",
                      "traceId": "abc-123-xyz"
                    }
                  },
                  "invalid_append_to": {
                    "summary": "Invalid appendTo value",
                    "value": {
                      "timestamp": "2025-10-21T07:46:52.429060Z",
                      "status": 400,
                      "errorCode": 4002,
                      "error": "Bad Request",
                      "message": "Invalid appendTo value. Must be 'project_data_source'",
                      "path": "/v3/project-flow/projects/jobs/copy-job",
                      "traceId": "abc-123-xyz"
                    }
                  },
                  "invalid_types": {
                    "summary": "Invalid types value",
                    "value": {
                      "timestamp": "2025-10-21T07:46:52.429060Z",
                      "status": 400,
                      "errorCode": 4002,
                      "error": "Bad Request",
                      "message": "Invalid type value: 'INVALID_TYPE'. Allowed values are: DESIGN, CROWD_SETTINGS, PRICE_AND_ROW, QUALITY_SETTINGS",
                      "path": "/v3/project-flow/projects/jobs/copy-job",
                      "traceId": "abc-123-xyz"
                    }
                  },
                  "quality_settings_work_job": {
                    "summary": "QUALITY_SETTINGS not allowed for WORK jobs",
                    "value": {
                      "timestamp": "2025-10-21T07:46:52.429060Z",
                      "status": 400,
                      "errorCode": 4002,
                      "error": "Bad Request",
                      "message": "QUALITY_SETTINGS can only be copied from QA/Leading QA jobs. Source job type is: WORK",
                      "path": "/v3/project-flow/projects/jobs/copy-job",
                      "traceId": "abc-123-xyz"
                    }
                  },
                  "no_project_association": {
                    "summary": "Source job has no project association",
                    "value": {
                      "timestamp": "2025-10-21T07:46:52.429060Z",
                      "status": 400,
                      "errorCode": 4006,
                      "error": "Bad Request",
                      "message": "Source job does not have a valid project association",
                      "path": "/v3/project-flow/projects/jobs/copy-job",
                      "traceId": "abc-123-xyz"
                    }
                  },
                  "cross_project_copy": {
                    "summary": "Cannot copy job to different project",
                    "value": {
                      "timestamp": "2025-10-21T07:46:52.429060Z",
                      "status": 400,
                      "errorCode": 4007,
                      "error": "Bad Request",
                      "message": "Jobs can only be copied within the same project. Source job belongs to project: fbff3f10-7105-4e52-afef-00fe21a3100e",
                      "path": "/v3/project-flow/projects/jobs/copy-job",
                      "traceId": "abc-123-xyz"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Team does not have access to source job or target project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "source_job_forbidden": {
                    "summary": "Source job belongs to different team",
                    "value": {
                      "timestamp": "2025-10-21T07:46:52.429060Z",
                      "status": 403,
                      "errorCode": 4003,
                      "error": "Forbidden",
                      "message": "Source job does not belong to the specified team",
                      "path": "/v3/project-flow/projects/jobs/copy-job",
                      "traceId": "abc-123-xyz"
                    }
                  },
                  "target_project_forbidden": {
                    "summary": "Target project belongs to different team",
                    "value": {
                      "timestamp": "2025-10-21T07:46:52.429060Z",
                      "status": 403,
                      "errorCode": 4003,
                      "error": "Forbidden",
                      "message": "Target project does not belong to the specified team",
                      "path": "/v3/project-flow/projects/jobs/copy-job",
                      "traceId": "abc-123-xyz"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found - Source job or target project does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "source_job_not_found": {
                    "summary": "Source job not found",
                    "value": {
                      "timestamp": "2025-10-21T07:46:52.429060Z",
                      "status": 404,
                      "errorCode": 4004,
                      "error": "Not Found",
                      "message": "Source job not found: 63311198-5481-4312-ae33-f9fcf1423191",
                      "path": "/v3/project-flow/projects/jobs/copy-job",
                      "traceId": "abc-123-xyz"
                    }
                  },
                  "target_project_not_found": {
                    "summary": "Target project not found",
                    "value": {
                      "timestamp": "2025-10-21T07:46:52.429060Z",
                      "status": 404,
                      "errorCode": 4005,
                      "error": "Not Found",
                      "message": "Target project not found: fbff3f10-7105-4e52-afef-00fe21a3100e",
                      "path": "/v3/project-flow/projects/jobs/copy-job",
                      "traceId": "abc-123-xyz"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Job title already exists in target project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "timestamp": "2025-10-21T07:46:52.429060Z",
                  "status": 409,
                  "errorCode": 4009,
                  "error": "Conflict",
                  "message": "A job with the title 'Copy of My Job' already exists in the target project",
                  "path": "/v3/project-flow/projects/jobs/copy-job",
                  "traceId": "abc-123-xyz"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - Business rule violation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "timestamp": "2025-10-21T07:46:52.429060Z",
                  "status": 422,
                  "error": "Unprocessable Entity",
                  "message": "Cannot copy job due to business rule violation",
                  "path": "/v3/project-flow/projects/jobs/copy-job",
                  "traceId": "abc-123-xyz"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Failed to copy job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "timestamp": "2025-10-21T07:46:52.429060Z",
                  "status": 500,
                  "errorCode": 4500,
                  "error": "Internal Server Error",
                  "message": "Failed to copy job: Internal service error",
                  "path": "/v3/project-flow/projects/jobs/copy-job",
                  "traceId": "abc-123-xyz"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ]
      }
    },
    "/v3/project-flow/projects/jobs/status": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get job status",
        "description": "Retrieves the current status and progress metrics for a specific job.\n\nThis endpoint provides comprehensive job progress information including:\n- **Completion percentage**: Overall job completion progress (0-100%)\n- **Unit statistics**: Total units and submitted units in the job\n- **Judgment statistics**: Total and submitted judgments for the job\n- **Test questions**: Total available test questions for the job\n\n**Supported Job Types:**\n- WORK jobs\n- QA jobs\n",
        "operationId": "getJobStatus",
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Get Job Status",
            "source": "curl -X GET \"https://api.appen.com/v3/project-flow/projects/jobs/status?teamId=cf22e84f-06c8-4955-b626-1c47d245a176&jobId=db66f1e3-7260-45a8-b8c6-9359bbdbfd3f\" \\\n  -H \"Authorization: Token token=<your-api-key>\"\n"
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "The unique identifier for your team",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "cf22e84f-06c8-4955-b626-1c47d245a176"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "description": "The unique identifier of the job to get status for",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "db66f1e3-7260-45a8-b8c6-9359bbdbfd3f"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "jobId",
                    "jobTitle",
                    "completionPercentage",
                    "totalUnits",
                    "submittedUnits",
                    "totalJudgments",
                    "submittedJudgments",
                    "totalTestQuestions",
                    "lastUpdated",
                    "status",
                    "message",
                    "traceId",
                    "timestamp"
                  ],
                  "properties": {
                    "jobId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier of the job",
                      "example": "db66f1e3-7260-45a8-b8c6-9359bbdbfd3f"
                    },
                    "jobTitle": {
                      "type": "string",
                      "description": "Title of the job",
                      "example": "work"
                    },
                    "completionPercentage": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100,
                      "description": "Job completion percentage (0-100)",
                      "example": 50
                    },
                    "totalUnits": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0,
                      "description": "Total number of units in the job",
                      "example": 8
                    },
                    "submittedUnits": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0,
                      "description": "Number of units that have been submitted/finalized",
                      "example": 4
                    },
                    "totalJudgments": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0,
                      "description": "Total number of judgments expected for the job",
                      "example": 17
                    },
                    "submittedJudgments": {
                      "type": "integer",
                      "format": "int64",
                      "minimum": 0,
                      "description": "Number of judgments that have been submitted (COMMITTED status)",
                      "example": 8
                    },
                    "totalTestQuestions": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Total number of available test questions for the job",
                      "example": 3
                    },
                    "lastUpdated": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the status was last updated",
                      "example": "2025-10-29T04:00:48.659850Z"
                    },
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message",
                      "example": "Job status retrieved successfully"
                    },
                    "traceId": {
                      "type": "string",
                      "description": "Unique trace ID for request tracking",
                      "example": "f05188f693ea9ad8b10c9d43e202e06f"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Response generation timestamp",
                      "example": "2025-10-29T04:00:48.662217Z"
                    }
                  }
                },
                "examples": {
                  "successful_response": {
                    "summary": "Successful job status response",
                    "value": {
                      "jobId": "db66f1e3-7260-45a8-b8c6-9359bbdbfd3f",
                      "jobTitle": "work",
                      "completionPercentage": 50,
                      "totalUnits": 8,
                      "submittedUnits": 4,
                      "totalJudgments": 17,
                      "submittedJudgments": 8,
                      "totalTestQuestions": 3,
                      "lastUpdated": "2025-10-29T04:00:48.659850Z",
                      "status": 200,
                      "message": "Job status retrieved successfully",
                      "traceId": "f05188f693ea9ad8b10c9d43e202e06f",
                      "timestamp": "2025-10-29T04:00:48.662217Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing_team_id": {
                    "summary": "Missing teamId parameter",
                    "value": {
                      "timestamp": "2025-10-29T04:00:48.662217Z",
                      "status": 400,
                      "errorCode": 4001,
                      "error": "Bad Request",
                      "message": "teamId is required",
                      "path": "/v3/projects/jobs/status",
                      "traceId": "abc-123-xyz"
                    }
                  },
                  "missing_job_id": {
                    "summary": "Missing jobId parameter",
                    "value": {
                      "timestamp": "2025-10-29T04:00:48.662217Z",
                      "status": 400,
                      "errorCode": 4001,
                      "error": "Bad Request",
                      "message": "jobId is required",
                      "path": "/v3/projects/jobs/status",
                      "traceId": "abc-123-xyz"
                    }
                  },
                  "no_project_association": {
                    "summary": "Job has no associated project",
                    "value": {
                      "timestamp": "2025-10-29T04:00:48.662217Z",
                      "status": 400,
                      "errorCode": 4006,
                      "error": "Bad Request",
                      "message": "Job has no associated project",
                      "path": "/v3/projects/jobs/status",
                      "traceId": "abc-123-xyz"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Team does not have access to the job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "team_forbidden": {
                    "summary": "Team does not have access to job",
                    "value": {
                      "timestamp": "2025-10-29T04:00:48.662217Z",
                      "status": 403,
                      "errorCode": 4003,
                      "error": "Forbidden",
                      "message": "Team does not have access to this job",
                      "path": "/v3/projects/jobs/status",
                      "traceId": "abc-123-xyz"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "job_not_found": {
                    "summary": "Job not found",
                    "value": {
                      "timestamp": "2025-10-29T04:00:48.662217Z",
                      "status": 404,
                      "errorCode": 4004,
                      "error": "Not Found",
                      "message": "Job not found: db66f1e3-7260-45a8-b8c6-9359bbdbfd3f",
                      "path": "/v3/projects/jobs/status",
                      "traceId": "abc-123-xyz"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Internal server error",
                    "value": {
                      "timestamp": "2025-10-29T04:00:48.662217Z",
                      "status": 500,
                      "errorCode": 4500,
                      "error": "Internal Server Error",
                      "message": "An unexpected error occurred",
                      "path": "/v3/projects/jobs/status",
                      "traceId": "abc-123-xyz"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ]
      }
    },
    "/v3/jobs/update": {
      "put": {
        "tags": [
          "Jobs"
        ],
        "summary": "Update job settings",
        "description": "Updates job settings for the specified team. This endpoint allows you to modify various job properties\nincluding basic settings, validation rules, expiration settings, and dynamic judgement configuration.\n\n## Mandatory Fields\nThe following fields are **mandatory** and must be provided in every update request:\n- `id` - The unique job identifier\n- `projectId` - Project identifier this job belongs to  \n- `teamId` - Team identifier that owns the job\n- `title` - Job title (must be unique within the project)\n- `type` - Job type (WORK or QA)\n\n## Necessary Fields\nThe following are important fields that must be updated in every job settings\n- `assignmentLeaseExpiry` - Assignment lease in seconds\n- `judgmentsPerRow` - Judgments per row\n- `rowsPerPage` - Rows per page\n- `enableShareLink` - Must be set to true to retrieve the job's `internalSecret`\n\n## Optional\n- Omitting a field leaves the current value unchanged\n- `timeLimitThresholdSec`: 0 (disabled)\n- `enableExpirationTime`: 0 (disabled)\n- `expirationDurationSet`: 0 (disabled)\n- `expirationDurationUpdate`: 0 (disabled)\n- `dynamicJudgements.minimumConfidence`: 0.0 (disabled)\n- `dynamicJudgements.maxDynamicJudgements`: 0\n- Counts (e.g., maxJudgmentPerContributor, maxNumberOfAllowedAbandonment): 0 allowed (non-negative)\n\n## Validations\n- Team ID: Body `teamId` must match query `teamId`\n- Title: Must be unique within project (duplicate → error 60080)\n- Assignment lease expiry: integer seconds, minimum 60\n- Judgments per row: integer ≥ 1; Rows per page: integer ≥ 1\n- Time limit threshold (`timeLimitThresholdSec`): percentage 0–100 (0 = disabled)\n- Expiration: `enableExpirationTime` (0 = disabled, > 0 = enabled). When enabled, `expirationDurationSet` and\n  `expirationDurationUpdate` must be > 0. All expiration fields accept 0 (disabled)\n- Dynamic judgements: `minimumConfidence` 0.0–1.0 (0 = disabled). Mode MINIMUM_CONFIDENCE requires\n  `minimumConfidence`; mode MATCHING_JUDGEMENTS requires `matchingJudgements`. Do not provide both\n- Enable Share Link: boolean; when true, shareable link generation is enabled for the job\n- CML (if provided in `jobCml.cml`): must contain at least one `<cml:*>` element; payload < 2MB; disallows\n  `<script>`/`javascript:`; attribute values must be quoted. When `dynamicJudgements.enableDynamicJudgements = true`,\n  at least one labeled CML question (`label` attribute) is required. When false, labels are not required. If embedding\n  CML in JSON, escape quotes (\") and backslashes (\\\\)\n\n## Limitations\n- Settings related to Test Questions, Management of Internal/External contributors, CSS and JS for CML design will be supported in next version of the release\n\nCommon errors:\n- 400: Missing required fields, invalid values, or mismatched teamId.\n- 60080: Job title already exists in project.\n- 60000: Job not found or access denied.\n- 500: Internal error (ensure required fields are present and valid).\n",
        "operationId": "updateJob",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "description": "Required: Team identifier that owns the job. Must match the `teamId` in the request body.\n",
            "example": "team-123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Update Basic Job Settings",
            "source": "curl --location --request PUT 'https://api.appen.com/v3/jobs/update?teamId=ceb94637-a8d4-4bbd-877c-cc260a4212aa' \\\n--header 'Authorization: Token token=<your-api-key>' \\\n--header 'Content-Type: application/json' \\\n--data '{\n    \"id\":\"5d63a9fb-e44c-449e-9778-94f32001baaa\",\n    \"version\":2,\n    \"projectId\":\"b41d5f3c-8622-4f6a-a272-c0a7a2a60d88\",\n    \"teamId\":\"ceb94637-a8d4-4bbd-877c-cc260a4212aa\",\n    \"title\":\"Updated Job sep\",\n    \"displayId\":512177,\n    \"cycleNumber\":0,\n    \"feedback\":\"DISABLED\",\n    \"flowId\":\"5d63a9fb-e44c-449e-9778-94f32001baaa\",\n    \"type\":\"WORK\",\n    \"state\":\"DRAFT\",\n    \"activeStatus\":\"ACTIVE\",\n    \"assignmentLeaseExpiry\":1800,\n    \"judgmentsPerRow\":1,\n    \"rowsPerPage\":5,\n    \"displayContributorName\":null,\n    \"judgmentModifiable\":false,\n    \"sendBackOp\":\"SEND_BACK_TO_SAME_CONTRIBUTOR\",\n    \"copiedFrom\":null,\n    \"maxJudgmentPerContributorEnabled\":false,\n    \"maxJudgmentPerContributor\":0,\n    \"maxSkippablePromptNum\":0,\n    \"unitSegmentType\":null,\n    \"internalSecret\":\"hm9S2hnizhS6qPfOeQKVYRClVYFd4Lffplddn9uQ4mqgqq\",\n    \"jobCml\": {\n        \"id\": \"a265956a-c323-41f1-8286-df2266ff1dd0\",\n        \"version\": 0,\n        \"teamId\": \"f6c0b8cb-de69-495c-980b-2b0e0a6ca288\",\n        \"jobId\": \"cf2df8d7-01ed-4ec7-9e6b-31d3c3aa669b\",\n        \"instructions\": \"<h1>Overview</h1>\\n<hr/>\\n\\n<h1>Steps</h1>\\n<hr/>\\n\\n<h1>Rules &amp; Tips</h1>\\n<hr/>\\n\\n<h1>Examples</h1>\\n<hr/>\\n\\n\",\n        \"cml\": \"<cml:select label=\\\"Sample select box:\\\" validates=\\\"required\\\" name=\\\"sample_select\\\" type=\\\"['\\\\''select'\\\\'']\\\"><cml:option label=\\\"Option 1\\\" value=\\\"option_1\\\" /><cml:option label=\\\"Option 2\\\" value=\\\"option_2\\\" /><cml:option label=\\\"Option 3\\\" value=\\\"option_3\\\" /></cml:select>\",\n        \"js\": \"\",\n        \"css\": \"\",\n        \"validators\": [\n            \"required\"\n        ],\n        \"isValid\": null,\n        \"tags\": [\n            \"image_transcription\"\n        ],\n        \"editorType\": \"CODE_EDITOR\"\n    },\n    \"jobCrowd\": {\n      \"id\":\"24d43e45-54f9-4027-a178-f3e624a60ef1\",\n      \"version\":0,\n      \"projectId\":\"b41d5f3c-8622-4f6a-a272-c0a7a2a60d88\",\n      \"jobId\":\"5d63a9fb-e44c-449e-9778-94f32001baaa\",\n      \"teamId\":\"ceb94637-a8d4-4bbd-877c-cc260a4212aa\",\n      \"crowdType\":[\"INTERNAL\"],\n      \"crowdSubType\":null,\n      \"channels\":[],\n      \"customChannels\":[],\n      \"level\":0,\n      \"languages\":[],\n      \"countryType\":\"all\",\n      \"countries\":[],\n      \"containExplicit\":false,\n      \"curatedCrowd\":false\n    },\n    \"testQuestionSettings\":null,\n    \"operateHistoryId\":\"af6eb6b7-fe79-472c-96ed-e629796b7697\",\n    \"payRateType\":\"\",\n    \"invoiceStatisticsType\":\"UNIT_COUNT\",\n    \"createdAt\":\"2025-09-01T09:39:18.663680Z\",\n    \"allowSelfQa\":false,\n    \"allowAbandonUnits\":true,\n    \"maxNumberOfAllowedAbandonment\":3,\n    \"sendAbandonedUnitsBackToJob\":true,\n    \"instruction\":\"\",\n    \"validationRuleId\":null,\n    \"enableBlueTooth\":false,\n    \"launchPlatform\":[],\n    \"latestAppVersion\":false,\n    \"reusablePrompt\":false,\n    \"reusablePin\":false,\n    \"totalSessionNumber\":1,\n    \"firstLaunchTime\":null,\n    \"promptsEnabling\":null,\n    \"reviewReasons\":\"\",\n    \"reviewReasonOption\":\"SINGLE\",\n    \"parentJobId\":null,\n    \"unitGroupOption\":\"RETAIN\",\n    \"appendable\":false,\n    \"enableShareLink\":false,\n    \"timeLimitThresholdSec\":0,\n    \"enableExternalAutoAssignJob\":true,\n    \"enableExpirationTime\":0,\n    \"expirationDurationSet\":0,\n    \"expirationDurationUpdate\":0,\n    \"threshold\":0.0,\n    \"qaAdvancedOptions\":null,\n    \"active\":true,\n    \"running\":false,\n    \"alias\":\"W512177\",\n    \"appenConnectCrowd\":false,\n    \"draft\":true,\n    \"multipleJudgment\":false,\n    \"segmented\":false\n  }'\n"
          },
          {
            "lang": "curl",
            "label": "Mandatory fields only",
            "source": "curl --location --request PUT 'https://api.appen.com/v3/jobs/update?teamId=ceb94637-a8d4-4bbd-877c-cc260a4212aa' \\\n--header 'Authorization: Token token=<your-api-key>' \\\n--header 'Content-Type: application/json' \\\n--data '{\n    \"id\":\"5d63a9fb-e44c-449e-9778-94f32001baaa\",\n    \"projectId\":\"b41d5f3c-8622-4f6a-a272-c0a7a2a60d88\",\n    \"teamId\":\"ceb94637-a8d4-4bbd-877c-cc260a4212aa\",\n    \"title\":\"Updated Job sep\",\n    \"type\":\"WORK\"\n}'\n"
          },
          {
            "lang": "curl",
            "label": "Required +Mandatory fields",
            "source": "curl --location --request PUT 'https://api.appen.com/v3/jobs/update?teamId=ceb94637-a8d4-4bbd-877c-cc260a4212aa' \\\n--header 'Authorization: Token token=<your-api-key>' \\\n--header 'Content-Type: application/json' \\\n--data '{\n    \"id\":\"5d63a9fb-e44c-449e-9778-94f32001baaa\",\n    \"projectId\":\"b41d5f3c-8622-4f6a-a272-c0a7a2a60d88\",\n    \"teamId\":\"ceb94637-a8d4-4bbd-877c-cc260a4212aa\",\n    \"title\":\"Updated Job sep\",\n    \"type\":\"WORK\",\n    \"assignmentLeaseExpiry\":1800,\n    \"judgmentsPerRow\":1,\n    \"rowsPerPage\":5\n}'\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobDTO"
              },
              "example": {
                "id": "6a4f9e1f-944e-452f-b743-74067e163ebb",
                "version": 7,
                "projectId": "744296ff-5286-40e4-b867-1141914fd059",
                "teamId": "f6c0b8cb-de69-495c-980b-2b0e0a6ca288",
                "title": "Updated Job Title",
                "type": "WORK",
                "assignmentLeaseExpiry": 120,
                "judgmentsPerRow": 1,
                "rowsPerPage": 5,
                "judgmentModifiable": false,
                "sendBackOp": "SEND_BACK_TO_SAME_CONTRIBUTOR",
                "maxJudgmentPerContributorEnabled": false,
                "maxJudgmentPerContributor": 0,
                "unitSegmentType": null,
                "jobCml": {
                  "id": "25ad1fb7-fc9e-4861-806e-7386b80f0269",
                  "version": 20,
                  "teamId": "f6c0b8cb-de69-495c-980b-2b0e0a6ca288",
                  "jobId": "6a4f9e1f-944e-452f-b743-74067e163ebb",
                  "instructions": "<h1>Overview</h1><p>Main&nbsp;<img src=\"/v1/refs/file?valueRef=shared/rWD3rAUsfVJjG6T99QE2mw.png&amp;storageToken=\" style=\"width: 300px;\" class=\"fr-fic fr-dib\"></p><hr><h1>Steps</h1><hr><h1>Rules &amp; Tips</h1><hr><h1>Examples</h1><hr>",
                  "cml": "<cml:audio_transcription source-data=\"{{audio_url}}\" name=\"audio_transcription\" type=\"['transcription']\" validates=\"required\" beta=\"true\"/>",
                  "js": "",
                  "css": "",
                  "validators": [
                    "required"
                  ],
                  "isValid": null,
                  "tags": [
                    "radios",
                    "radio"
                  ],
                  "editorType": "CODE_EDITOR"
                },
                "allowSelfQa": false,
                "allowAbandonUnits": true,
                "maxNumberOfAllowedAbandonment": 3,
                "sendAbandonedUnitsBackToJob": true,
                "unitGroupOption": "RETAIN",
                "enableShareLink": false,
                "timeLimitThresholdSec": 60,
                "dynamicJudgements": {
                  "enableDynamicJudgements": false,
                  "maxDynamicJudgements": 1,
                  "mode": "MINIMUM_CONFIDENCE",
                  "minimumConfidence": 0.5,
                  "enabledQuestions": "{}",
                  "id": "",
                  "version": 0
                },
                "alias": "W921033",
                "multipleJudgments": true,
                "segmented": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "type": "object"
                    }
                  ]
                },
                "example": {
                  "message": "success",
                  "code": 200,
                  "data": {
                    "id": "5d63a9fb-e44c-449e-9778-94f32001baaa",
                    "version": 12,
                    "projectId": "b41d5f3c-8622-4f6a-a272-c0a7a2a60d88",
                    "teamId": "ceb94637-a8d4-4bbd-877c-cc260a4212aa",
                    "title": "Updated Job sep",
                    "displayId": 512177,
                    "cycleNumber": 0,
                    "feedback": "DISABLED",
                    "flowId": "5d63a9fb-e44c-449e-9778-94f32001baaa",
                    "type": "WORK",
                    "state": "DRAFT",
                    "activeStatus": "ACTIVE",
                    "assignmentLeaseExpiry": 1800,
                    "judgmentsPerRow": 1,
                    "rowsPerPage": 5,
                    "displayContributorName": null,
                    "judgmentModifiable": false,
                    "sendBackOp": "SEND_BACK_TO_SAME_CONTRIBUTOR",
                    "copiedFrom": null,
                    "maxJudgmentPerContributorEnabled": false,
                    "maxJudgmentPerContributor": 0,
                    "maxSkippablePromptNum": 0,
                    "unitSegmentType": null,
                    "internalSecret": "hm9S2hnizhS6qPfOeQKVYRClVYFd4Lffplddn9uQ4mqgqq",
                    "jobCml": {
                      "id": "a265956a-c323-41f1-8286-df2266ff1dd0",
                      "version": 9,
                      "teamId": "ceb94637-a8d4-4bbd-877c-cc260a4212aa",
                      "jobId": "5d63a9fb-e44c-449e-9778-94f32001baaa",
                      "instructions": "<h1>Overview</h1>\n<hr/>\n\n<h1>Steps</h1>\n<hr/>\n\n<h1>Rules &amp; Tips</h1>\n<hr/>\n\n<h1>Examples</h1>\n<hr/>\n\n",
                      "cml": "<cml:select label=\"Sample select box:\" validates=\"required\" name=\"sample_select\" type=\"['select']\"><cml:option label=\"Option 1\" value=\"option_1\" /><cml:option label=\"Option 2\" value=\"option_2\" /><cml:option label=\"Option 3\" value=\"option_3\" /></cml:select>",
                      "js": "",
                      "css": "",
                      "validators": [
                        "required"
                      ],
                      "isValid": null,
                      "tags": [
                        "image_transcription"
                      ],
                      "editorType": "CODE_EDITOR"
                    },
                    "jobFilter": {
                      "id": "f7bbc456-0cd9-4bf2-a24a-fb98365f2548",
                      "version": 0,
                      "teamId": "ceb94637-a8d4-4bbd-877c-cc260a4212aa",
                      "projectId": "b41d5f3c-8622-4f6a-a272-c0a7a2a60d88",
                      "recursive": false,
                      "origin": "project_data_source",
                      "appliedJobId": "5d63a9fb-e44c-449e-9778-94f32001baaa",
                      "sampleRate": 0,
                      "fixedUnitNum": 0,
                      "schedulerDelay": 0,
                      "schedulerUnit": "HOURS",
                      "filterCriteria": "",
                      "filterNum": 0,
                      "segmental": false,
                      "carryJudgment": null,
                      "overwriteJudgment": null,
                      "segmentSampleRate": 100,
                      "minimumSampleUnit": 0
                    },
                    "jobCrowd": {
                      "id": "24d43e45-54f9-4027-a178-f3e624a60ef1",
                      "version": 0,
                      "projectId": "b41d5f3c-8622-4f6a-a272-c0a7a2a60d88",
                      "jobId": "5d63a9fb-e44c-449e-9778-94f32001baaa",
                      "teamId": "ceb94637-a8d4-4bbd-877c-cc260a4212aa",
                      "crowdType": [
                        "INTERNAL"
                      ],
                      "crowdSubType": null,
                      "channels": [],
                      "customChannels": [],
                      "level": 0,
                      "languages": [],
                      "countryType": "all",
                      "countries": [],
                      "containExplicit": false,
                      "curatedCrowd": false
                    },
                    "testQuestionSettings": null,
                    "operateHistoryId": "af6eb6b7-fe79-472c-96ed-e629796b7697",
                    "payRateType": "",
                    "invoiceStatisticsType": "UNIT_COUNT",
                    "createdAt": "2025-09-01T09:39:18.663680Z",
                    "allowSelfQa": false,
                    "allowAbandonUnits": true,
                    "maxNumberOfAllowedAbandonment": 3,
                    "sendAbandonedUnitsBackToJob": true,
                    "instruction": "",
                    "validationRuleId": null,
                    "enableBlueTooth": false,
                    "launchPlatform": [],
                    "latestAppVersion": false,
                    "reusablePrompt": false,
                    "reusablePin": false,
                    "totalSessionNumber": 1,
                    "firstLaunchTime": null,
                    "promptsEnabling": null,
                    "reviewReasons": "",
                    "reviewReasonOption": "SINGLE",
                    "parentJobId": null,
                    "unitGroupOption": "RETAIN",
                    "appendable": false,
                    "enableShareLink": false,
                    "timeLimitThresholdSec": 0,
                    "enableExternalAutoAssignJob": true,
                    "dynamicJudgements": {
                      "enableDynamicJudgements": false,
                      "maxDynamicJudgements": 0,
                      "mode": "MINIMUM_CONFIDENCE",
                      "minimumConfidence": 0,
                      "enabledQuestions": "{}",
                      "id": "",
                      "version": 0
                    },
                    "enableExpirationTime": 0,
                    "expirationDurationSet": 0,
                    "expirationDurationUpdate": 0,
                    "threshold": 0,
                    "qaAdvancedOptions": null,
                    "active": true,
                    "appenConnectCrowd": false,
                    "draft": true,
                    "multipleJudgment": false,
                    "segmented": false,
                    "running": false,
                    "alias": "W512177"
                  },
                  "traceId": "d2770b57-cca5-4fc5-b19d-0785a31c5473",
                  "time": "2025-09-04T11:49:22.844051Z"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/jobStatusById": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get job settings",
        "description": "Returns the current job status and core metadata for the given `jobId`.\nIntended for dashboards and polling; returns a lightweight subset of `JobDTO` (for example:\n`id`, `title`, `type`, `state`, `activeStatus`, `assignmentLeaseExpiry`, `rowsPerPage`,\n`judgmentsPerRow`, `displayId`, `teamId`, `createdAt`) and omits large assets/collections.\n",
        "operationId": "getJobStatusById",
        "security": [
          {
            "TokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Job identifier (UUID)",
            "example": "6a4f9e1f-944e-452f-b743-74067e163ebb"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Get job settings",
            "source": "curl -X GET \"https://api.appen.com/v3/jobs/jobStatusById?jobId=cf2df8d7-01ed-4ec7-9e6b-31d3c3aa669b\" \\\n  -H \"Authorization: Token token=<your-api-key>\"\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Job fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/JobDTO"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "message": "success",
                  "code": 200,
                  "data": {
                    "id": "5d63a9fb-e44c-449e-9778-94f32001baaa",
                    "version": 12,
                    "projectId": "b41d5f3c-8622-4f6a-a272-c0a7a2a60d88",
                    "teamId": "ceb94637-a8d4-4bbd-877c-cc260a4212aa",
                    "title": "Updated Job sep",
                    "displayId": 512177,
                    "cycleNumber": 0,
                    "feedback": "DISABLED",
                    "flowId": "5d63a9fb-e44c-449e-9778-94f32001baaa",
                    "type": "WORK",
                    "state": "DRAFT",
                    "activeStatus": "ACTIVE",
                    "assignmentLeaseExpiry": 1800,
                    "judgmentsPerRow": 1,
                    "rowsPerPage": 5,
                    "displayContributorName": null,
                    "judgmentModifiable": false,
                    "sendBackOp": "SEND_BACK_TO_SAME_CONTRIBUTOR",
                    "copiedFrom": null,
                    "maxJudgmentPerContributorEnabled": false,
                    "maxJudgmentPerContributor": 0,
                    "maxSkippablePromptNum": 0,
                    "unitSegmentType": null,
                    "internalSecret": "hm9S2hnizhS6qPfOeQKVYRClVYFd4Lffplddn9uQ4mqgqq",
                    "jobCml": null,
                    "jobFilter": null,
                    "jobCrowd": null,
                    "testQuestionSettings": null,
                    "operateHistoryId": "337d2dc1-2a14-4f67-a7e6-ced564846573",
                    "payRateType": "",
                    "invoiceStatisticsType": "UNIT_COUNT",
                    "createdAt": "2025-09-01T09:39:18.663680Z",
                    "allowSelfQa": false,
                    "allowAbandonUnits": true,
                    "maxNumberOfAllowedAbandonment": 3,
                    "sendAbandonedUnitsBackToJob": null,
                    "instruction": "",
                    "validationRuleId": null,
                    "enableBlueTooth": false,
                    "launchPlatform": [],
                    "latestAppVersion": false,
                    "reusablePrompt": false,
                    "reusablePin": false,
                    "totalSessionNumber": 1,
                    "firstLaunchTime": null,
                    "promptsEnabling": null,
                    "reviewReasons": "",
                    "reviewReasonOption": "SINGLE",
                    "parentJobId": null,
                    "unitGroupOption": "RETAIN",
                    "appendable": false,
                    "enableShareLink": false,
                    "timeLimitThresholdSec": 0,
                    "enableExternalAutoAssignJob": true,
                    "dynamicJudgements": {
                      "enableDynamicJudgements": false,
                      "maxDynamicJudgements": 0,
                      "mode": "MINIMUM_CONFIDENCE",
                      "minimumConfidence": 0,
                      "enabledQuestions": "{}",
                      "id": "",
                      "version": 0
                    },
                    "enableExpirationTime": 0,
                    "expirationDurationSet": 0,
                    "expirationDurationUpdate": 0,
                    "threshold": 0,
                    "qaAdvancedOptions": null,
                    "active": true,
                    "appenConnectCrowd": false,
                    "draft": true,
                    "multipleJudgment": false,
                    "segmented": false,
                    "running": false,
                    "alias": "W512177"
                  },
                  "traceId": "527595af-c3d8-431a-8c30-3a01d6423760",
                  "time": "2025-09-04T11:54:33.503497Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing or invalid jobId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found - Job does not exist or inaccessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/pause": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Pause job",
        "description": "Temporarily stops a running job, pausing all new contributor assignments while preserving current progress. This allows you to halt work without losing completed annotations.\n\n**What Happens When You Pause:**\n- Job status changes from DRAFT to PAUSED\n- Contributors cannot start new assignments\n- No new units are distributed to contributors\n- All progress and judgments are preserved\n",
        "operationId": "pauseJob",
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Job identifier to pause",
            "example": "2b9ebe3d-1ff2-461d-a0c8-66e86b239b57"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Pause Job",
            "source": "curl -X POST \"https://api.appen.com/v3/jobs/pause?jobId=<jobId>\" \\\n  -H \"Authorization: Token token=<your-api-key>\"\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Job paused successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/JobDTO"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "message": "success",
                  "code": 200,
                  "data": {
                    "id": "2b9ebe3d-1ff2-461d-a0c8-66e86b239b57",
                    "state": "PAUSED",
                    "title": "Paused Job"
                  },
                  "traceId": "trace-123",
                  "time": "2025-07-09T03:19:22Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid job ID or job already paused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_job_id": {
                    "summary": "Invalid job ID",
                    "value": {
                      "timestamp": "2025-07-01T10:28:59.893+00:00",
                      "status": 400,
                      "error": "Bad Request",
                      "message": "Invalid job ID",
                      "path": "/v3/jobs/pause"
                    }
                  },
                  "job_already_paused": {
                    "summary": "Job already paused",
                    "value": {
                      "timestamp": "2025-07-01T10:28:59.893+00:00",
                      "status": 400,
                      "error": "Bad Request",
                      "message": "Job already paused",
                      "path": "/v3/jobs/pause"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "timestamp": "2025-07-01T10:28:59.893+00:00",
                  "status": 403,
                  "error": "Forbidden",
                  "message": "Access denied. Check your privileges.",
                  "path": "/v3/jobs/pause"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "timestamp": "2025-07-01T10:28:59.893+00:00",
                  "status": 500,
                  "error": "Internal Server Error",
                  "message": "Failed to pause job",
                  "path": "/v3/jobs/pause"
                }
              }
            }
          }
        },
        "security": [
          {
            "TokenAuth": []
          }
        ]
      }
    },
    "/v3/jobs/upload.json": {
      "post": {
        "tags": [
          "Upload"
        ],
        "summary": "Upload unit data to an existing project",
        "description": "Uploads a CSV file to an existing project. The API requires `projectId` and `fileName` as query parameters. Returns upload status and file metadata, including a status polling URL.\n\n**Supported Data Types:**\n- **Units**: Individual data rows for annotation tasks\n- **Unit Groups**: Collections of related units that can be processed together\n\n**Date Format Support:**\nOnly CSV files with following date formats are supported:\n- `yyyy/MM/dd` (e.g., 2025/03/14)\n- `yyyy/MM/dd HH:mm:ss` (e.g., 2025/03/14 07:52:46)\n- `yyyy-MM-dd` (e.g., 2025-03-14)\n- `yyyy-MM-ddTHH:mm:ss` (e.g., 2025-03-14T07:52:46)\n\nThe status of the upload can be checked by triggering the **[Get the status of an uploaded file/dataset API](#operation/getUploadStatus)**.\n",
        "operationId": "uploadDatasetToProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project identifier",
            "example": "eb4bba9b-1e0b-4565-a74b-0db3820b8d8c"
          },
          {
            "name": "fileName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the file uploaded",
            "example": "abc.csv"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X POST \"https://api.appen.com/v3/jobs/upload.json?projectId=<projectId>&fileName=<fileName>\" \\\n-H \"Authorization: Token token=<your-api-key>\" \\\n-H \"Content-Type: text/csv\" \\\n-T \"@/path/to/your/file.csv\"\n"
          }
        ],
        "responses": {
          "201": {
            "description": "DataSet Upload is Triggered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 201
                    },
                    "details": {
                      "type": "string",
                      "example": "DATASET UPLOAD IS TRIGGERED. Please use Status Poll URL to check the upload status"
                    },
                    "fileId": {
                      "type": "string",
                      "example": "26eaf8c2-a608-4f4d-aa5d-baebc489bc19"
                    },
                    "projectId": {
                      "type": "string",
                      "example": "eb4bba9b-1e0b-4565-a74b-0db3820b8d8c"
                    },
                    "batchNum": {
                      "type": "integer",
                      "example": 1
                    },
                    "statusPollUrl": {
                      "type": "string",
                      "example": "/jobs/upload/status?fileId=26eaf8c2-a608-4f4d-aa5d-baebc489bc19&teamId=d124fcdf-3707-4caf-babb-3da1f5f1ec1e"
                    },
                    "teamId": {
                      "type": "string",
                      "example": "d124fcdf-3707-4caf-babb-3da1f5f1ec1e"
                    },
                    "fileName": {
                      "type": "string",
                      "example": "abc.csv"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-07-03T19:13:45.456074Z"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-07-03T19:21:23.743529Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing file or invalid CSV",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupportedFormat": {
                    "summary": "Unsupported file format",
                    "value": {
                      "status": 400,
                      "errorCode": 2003,
                      "errorMessage": "Unsupported file format. Please upload a CSV file.",
                      "traceId": "4a4ce5fc11ccf8423f8fc55921d93f7b",
                      "timestamp": "2025-07-07T06:30:14.774186Z"
                    }
                  },
                  "fileNotFound": {
                    "summary": "File not uploaded",
                    "value": {
                      "status": 400,
                      "errorCode": 2018,
                      "errorMessage": "CSV File Not Found in the request/Uploaded CSV File is Empty. Please upload a valid non-empty CSV file.",
                      "traceId": "e1b2c3d4f5a6b7c8d9e0f1a2b3c4d5e6",
                      "timestamp": "2025-07-07T06:31:00.000000Z"
                    }
                  },
                  "invalidDateFormat": {
                    "summary": "Invalid date format found in the CSV file",
                    "value": {
                      "status": 400,
                      "errorCode": 2006,
                      "errorMessage": "Invalid date format in row {0} column '{1}': '{2}'. Allowed formats: yyyy/MM/dd, yyyy/MM/dd HH:mm:ss, yyyy-MM-dd, yyyy-MM-ddTHH:mm:ss",
                      "traceId": "e1b2c3d4f5a6b7c8d9e0f1a2b3c4d5e6",
                      "timestamp": "2025-07-07T06:31:00.000000Z"
                    }
                  },
                  "UploadNotInitiatedError": {
                    "summary": "Missing Required parameter in the request",
                    "value": {
                      "status": 400,
                      "errorCode": 2007,
                      "errorMessage": "missing required parameter: ",
                      "traceId": "e1b2c3d4f5a6b7c8d9e0f1a2b3c4d5e6",
                      "timestamp": "2025-07-07T06:31:00.000000Z"
                    }
                  },
                  "fileHeaderEmptyInFile": {
                    "summary": "File Headers are empty",
                    "value": {
                      "status": 400,
                      "errorCode": 2008,
                      "errorMessage": "File Headers are empty",
                      "traceId": "e1b2c3d4f5a6b7c8d9e0f1a2b3c4d5e6",
                      "timestamp": "2025-07-07T06:31:00.000000Z"
                    }
                  },
                  "fileHeaderContainsEmptyColumns": {
                    "summary": "File Header contains empty columns",
                    "value": {
                      "status": 400,
                      "errorCode": 2009,
                      "errorMessage": "File Header contains empty columns",
                      "traceId": "e1b2c3d4f5a6b7c8d9e0f1a2b3c4d5e6",
                      "timestamp": "2025-07-07T06:31:00.000000Z"
                    }
                  },
                  "fileHeaderContainsDuplicateColumns": {
                    "summary": "File Header contains duplicate columns",
                    "value": {
                      "status": 400,
                      "errorCode": 2010,
                      "errorMessage": "File Header contains duplicate columns",
                      "traceId": "e1b2c3d4f5a6b7c8d9e0f1a2b3c4d5e6",
                      "timestamp": "2025-07-07T06:31:00.000000Z"
                    }
                  },
                  "fileHeaderExceedMaxLimit": {
                    "summary": "File Headers Max Limit Exceeded",
                    "value": {
                      "status": 400,
                      "errorCode": 2011,
                      "errorMessage": "File Headers Max Limit Exceeded",
                      "traceId": "e1b2c3d4f5a6b7c8d9e0f1a2b3c4d5e6",
                      "timestamp": "2025-07-07T06:31:00.000000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleError"
                },
                "example": {
                  "error": "You need to sign in or sign up before continuing."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleError"
                },
                "example": {
                  "error": "Access denied. Check your privileges."
                }
              }
            }
          },
          "409": {
            "description": "A file is already being uploaded to this project. Please try again in sometime.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictResponse"
                },
                "example": {
                  "code": "DATASET_UPLOAD_FAILED",
                  "message": "A file is already being uploaded to this project 9034a037-9ee3-4e75-9ec9-d01f73928422. Please try again later."
                }
              }
            }
          },
          "422": {
            "description": "Unsupported file format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupportedFormat": {
                    "summary": "Unit Limit Reached in CSV File",
                    "value": {
                      "status": 422,
                      "errorCode": 2001,
                      "errorMessage": "Unit Limit Reached. You have uploaded the maximum amount of units (250000) allowed in job.",
                      "traceId": "aedc22fa7ff72c8086a11e69c2c7209c",
                      "timestamp": "2025-07-07T06:51:46.626387Z"
                    }
                  },
                  "csvFileValidationError": {
                    "summary": "CSV File Validation Error",
                    "value": {
                      "status": 422,
                      "errorCode": 2002,
                      "errorMessage": "Validation Error: {0}",
                      "traceId": "aedc22fa7ff72c8086a11e69c2c7209c",
                      "timestamp": "2025-07-07T06:51:46.626387Z"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "errorMessage": "Internal server error.",
                  "traceId": "b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6",
                  "timestamp": "2025-07-07T07:00:00.000000Z"
                }
              }
            }
          }
        }
      }
    },
    "/v3/jobs/upload/status": {
      "get": {
        "tags": [
          "Upload"
        ],
        "summary": "Get the status of an uploaded file/dataset",
        "description": "Returns the status and metadata for a previously uploaded file. Use the statusPollUrl / Use fileId, teamId from the upload response to poll for status.\n",
        "operationId": "getUploadStatus",
        "parameters": [
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File identifier",
            "example": "26eaf8c2-a608-4f4d-aa5d-baebc489bc19"
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Team identifier",
            "example": "d124fcdf-3707-4caf-babb-3da1f5f1ec1e"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "Get Upload Status",
            "source": "curl -X GET \"https://api.appen.com/v3/jobs/upload/status?fileId=<fileId>&teamId=<teamId>\" \\\n  -H \"Authorization: Token token=<your-api-key>\"\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileId": {
                      "type": "string",
                      "example": "26eaf8c2-a608-4f4d-aa5d-baebc489bc19"
                    },
                    "teamId": {
                      "type": "string",
                      "example": "d124fcdf-3707-4caf-babb-3da1f5f1ec1e"
                    },
                    "status": {
                      "type": "string",
                      "example": "UPLOADED"
                    },
                    "details": {
                      "type": "string",
                      "example": "Dataset Uploaded Successfully"
                    },
                    "fileName": {
                      "type": "string",
                      "example": "abc.csv"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-07-03T19:13:45.456074Z"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-07-03T19:21:23.743529Z"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Upload in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fileId": {
                      "type": "string"
                    },
                    "teamId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    },
                    "fileName": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "example": {
                  "fileId": "9fddf60d-9efa-429c-b84e-b4bb9d9bf807",
                  "teamId": "d124fcdf-3707-4caf-babb-3da1f5f1ec1e",
                  "status": "UPLOADING",
                  "details": "Upload in progress",
                  "fileName": "newfile.csv",
                  "createdAt": "2025-07-07T07:28:21.409970Z",
                  "updatedAt": "2025-07-07T07:28:41.553288Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "traceId": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "errorMessage": "Upload not initiated: missing required parameter: fileId",
                  "traceId": "2ccc9b70af6feeeb177190672fb3e69c",
                  "timestamp": "2025-07-07T07:30:32.557052Z"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Access denied. Check your privileges."
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
[...]
