{
  "openapi": "3.0.3",
  "info": {
    "title": "Pickaxe API",
    "version": "1.0.0",
    "description": "Pickaxe Studio API for managing AI-powered Pickaxe chatbots. Create, update, and retrieve chat history and documents.",
    "x-jentic-source-url": "https://pickaxe.co/user/documentation",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://pickaxe.co"
    }
  ],
  "paths": {
    "/studio/pickaxe/history": {
      "post": {
        "operationId": "fetchChatHistory",
        "summary": "Fetch Pickaxe chat history",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pickaxeId"
                ],
                "properties": {
                  "pickaxeId": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  },
                  "skip": {
                    "type": "integer",
                    "default": 0
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10
                  },
                  "lastDays": {
                    "type": "integer"
                  },
                  "format": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat history"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Fetch Pickaxe chat history"
      }
    },
    "/studio/pickaxe/{pickaxeId}/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List knowledge-base documents",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "pickaxeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document list"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List knowledge-base documents"
      }
    },
    "/studio/pickaxe/{pickaxeId}": {
      "get": {
        "operationId": "getPickaxe",
        "summary": "Get Pickaxe configuration",
        "tags": [
          "Pickaxes"
        ],
        "parameters": [
          {
            "name": "pickaxeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pickaxe details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get Pickaxe configuration"
      },
      "patch": {
        "operationId": "updatePickaxe",
        "summary": "Update Pickaxe configuration",
        "tags": [
          "Pickaxes"
        ],
        "parameters": [
          {
            "name": "pickaxeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "formtitle": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "documentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update Pickaxe configuration"
      }
    },
    "/studio/pickaxe/create": {
      "post": {
        "operationId": "createPickaxe",
        "summary": "Create a new Pickaxe",
        "tags": [
          "Pickaxes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pickaxeId": {
                    "type": "string"
                  },
                  "documentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "formtitle": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a new Pickaxe"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Chat"
    },
    {
      "name": "Documents"
    },
    {
      "name": "Pickaxes"
    }
  ]
}
