{
  "openapi": "3.0.3",
  "info": {
    "title": "Coinlib API",
    "description": "Coinlib API v1 BETA. Provides cryptocurrency market data including global stats, coin listings, and detailed coin information.",
    "version": "1.0.0",
    "contact": {
      "name": "Coinlib",
      "url": "https://coinlib.io/apidocs"
    }
  },
  "servers": [
    {
      "url": "https://coinlib.io/api/v1",
      "description": "Production API"
    }
  ],
  "paths": {
    "/global": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Global Market Stats",
        "description": "Get global cryptocurrency market statistics including total coins, markets, market cap, and 24h volume. Rate limit: 120 requests/hour.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "pref",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "USD"
            },
            "description": "Preferred currency symbol"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "coins": {
                      "type": "integer",
                      "description": "Total number of coins"
                    },
                    "markets": {
                      "type": "integer",
                      "description": "Total number of markets"
                    },
                    "total_market_cap": {
                      "type": "string",
                      "description": "Total market capitalization"
                    },
                    "total_volume_24h": {
                      "type": "string",
                      "description": "Total 24h trading volume"
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix timestamp"
                    },
                    "remaining": {
                      "type": "integer",
                      "description": "Remaining API quota"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "operationId": "get-global"
      }
    },
    "/coinlist": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Coin List",
        "description": "Get a paginated list of coins with market data. Rate limit: 60 requests/hour.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "pref",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "USD"
            },
            "description": "Preferred currency symbol"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number (100 results per page)"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "rank_asc",
                "rank_desc",
                "volume_asc",
                "volume_desc",
                "price_asc",
                "price_desc",
                "date_inserted_asc",
                "date_inserted_desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "coins": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "rank": {
                            "type": "integer"
                          },
                          "price": {
                            "type": "string"
                          },
                          "market_cap": {
                            "type": "string"
                          },
                          "volume_24h": {
                            "type": "string"
                          },
                          "delta_24h": {
                            "type": "string",
                            "description": "24h price change percentage"
                          }
                        }
                      }
                    },
                    "remaining": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "operationId": "get-coinlist"
      }
    },
    "/coin": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Coin Info",
        "description": "Get detailed information about one or more coins (up to 10). Rate limit: 180 requests/hour.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Coin symbol or comma-separated list (max 10), e.g. BTC or BTC,ETH"
          },
          {
            "name": "pref",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "USD"
            },
            "description": "Preferred currency symbol"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "coins": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "rank": {
                            "type": "integer"
                          },
                          "price": {
                            "type": "string"
                          },
                          "market_cap": {
                            "type": "string"
                          },
                          "volume_24h": {
                            "type": "string"
                          },
                          "delta_1h": {
                            "type": "string"
                          },
                          "delta_24h": {
                            "type": "string"
                          },
                          "delta_7d": {
                            "type": "string"
                          },
                          "delta_30d": {
                            "type": "string"
                          },
                          "markets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "exchange": {
                                  "type": "string"
                                },
                                "pair": {
                                  "type": "string"
                                },
                                "price": {
                                  "type": "string"
                                },
                                "volume_24h": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "total_markets": {
                            "type": "integer"
                          },
                          "total_exchanges": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "remaining": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "operationId": "get-coin"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API key obtained from Coinlib profile page"
      }
    }
  },
  "tags": [
    {
      "name": "Market Data"
    }
  ]
}
