{
  "openapi": "3.0.3",
  "info": {
    "title": "100Hires API",
    "version": "1.0.0",
    "description": "API for the 100Hires applicant tracking system. Create candidates, assign them to job openings, and manage hiring pipelines.",
    "x-jentic-source-url": "https://gist.github.com/ZhandosKz/91d458c46b07cb5dc790e2737f093f97",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.100hires.com/zapier"
    }
  ],
  "paths": {
    "/candidates/create": {
      "post": {
        "operationId": "createCandidate",
        "summary": "Create a candidate",
        "tags": [
          "Candidates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Candidate created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a candidate"
      }
    },
    "/candidates/assign-job": {
      "post": {
        "operationId": "assignCandidateToJob",
        "summary": "Assign candidate to job opening or talent pool",
        "tags": [
          "Candidates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate assigned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Assign candidate to job opening or talent pool"
      }
    },
    "/jobs": {
      "get": {
        "operationId": "listJobs",
        "summary": "List job openings",
        "tags": [
          "Jobs"
        ],
        "responses": {
          "200": {
            "description": "Job list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List job openings"
      }
    },
    "/jobs/stages": {
      "get": {
        "operationId": "listStages",
        "summary": "List workflow stages",
        "tags": [
          "Jobs"
        ],
        "responses": {
          "200": {
            "description": "Stage list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List workflow stages"
      }
    }
  },
  "components": {
    "schemas": {
      "CandidateCreateRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "alias": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "AssignJobRequest": {
        "type": "object",
        "required": [
          "candidate_alias",
          "job_alias"
        ],
        "properties": {
          "candidate_alias": {
            "type": "string"
          },
          "job_alias": {
            "type": "string"
          },
          "stage_id": {
            "type": "integer"
          }
        }
      },
      "AssignJobResponse": {
        "type": "object",
        "properties": {
          "candidate_alias": {
            "type": "string"
          },
          "candidate_url": {
            "type": "string"
          },
          "job_alias": {
            "type": "string"
          },
          "job_title": {
            "type": "string"
          },
          "job_url": {
            "type": "string"
          },
          "stage_id": {
            "type": "integer"
          },
          "stage_name": {
            "type": "string"
          }
        }
      },
      "JobListResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "title": {
              "type": "string"
            }
          }
        }
      },
      "StageListResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "name": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Candidates"
    },
    {
      "name": "Jobs"
    }
  ]
}
