{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "office@visagecloud.com",
      "name": "VisageCloud",
      "url": "https://visagecloud.com"
    },
    "description": "Face search, recognition & classification API. Just make a call to our REST API each time your app needs to access face recognition and classification capabilities.",
    "license": {
      "name": "As per Developer Terms of Use",
      "url": "https://visagecloud.com/developer-terms-of-use"
    },
    "termsOfService": "https://visagecloud.com/terms-of-use",
    "title": "VisageCloud",
    "version": "1.1",
    "x-apisguru-categories": [
      "search"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/visagecloud.com/1.1/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://visagecloud.com/v2/api-docs",
        "version": "2.0"
      }
    ],
    "x-providerName": "visagecloud.com"
  },
  "servers": [
    {
      "url": "https://visagecloud.com/"
    }
  ],
  "paths": {
    "/rest/v1.1/account/account": {
      "get": {
        "parameters": [
          {
            "description": "accessKey",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "secretKey",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account-controller"
        ],
        "operationId": "getAccountByAccessKeyUsingGET",
        "summary": "Get account information by accessKey and secretKey"
      }
    },
    "/rest/v1.1/account/billing": {
      "get": {
        "parameters": [
          {
            "description": "accessKey",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "secretKey",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "startDateTime",
            "in": "query",
            "name": "startDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "endDateTime",
            "in": "query",
            "name": "endDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "dateTemplate",
            "in": "query",
            "name": "dateTemplate",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account-controller"
        ],
        "operationId": "getBillingPerAccountUsingGET",
        "summary": "Get billing information by accessKey and secretKey"
      }
    },
    "/rest/v1.1/account/changePassword": {
      "post": {
        "parameters": [
          {
            "description": "email",
            "in": "query",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "oldPassword",
            "in": "query",
            "name": "oldPassword",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "newPassword",
            "in": "query",
            "name": "newPassword",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account-controller"
        ],
        "operationId": "changePasswordUsingPOST",
        "summary": "Change password for an account using old password"
      }
    },
    "/rest/v1.1/account/login": {
      "post": {
        "parameters": [
          {
            "description": "email",
            "in": "query",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "password",
            "in": "query",
            "name": "password",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "account-controller"
        ],
        "operationId": "loginWithEmailUsingPOST",
        "summary": "Get account information including accessKey and secretKey by email and password"
      }
    },
    "/rest/v1.1/analysis/compare": {
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The IDs of the faces which you want compared, comma-separated",
            "explode": true,
            "in": "query",
            "name": "faceHashes",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Show details",
            "in": "query",
            "name": "showDetails",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Analysis"
        ],
        "operationId": "compareFacesUsingGET",
        "summary": "Compare several faces identified by faceHash, without depending on mapping faces to profiles"
      }
    },
    "/rest/v1.1/analysis/detection": {
      "post": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Boolean value indicating whether you want the picture of the analysis to be stored for later retrieval",
            "in": "query",
            "name": "storeAnalysisPicture",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          },
          {
            "description": "Boolean value indicating whether you want the faces inside the picture to be stored for later retrieval",
            "in": "query",
            "name": "storeFacePictures",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          },
          {
            "description": "Boolean value indicating whether you want the result of the analysis to be stored",
            "in": "query",
            "name": "storeResult",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          },
          {
            "description": "How many seconds the results should be retained in stoarage?",
            "in": "query",
            "name": "retentionTime",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The URL of the picture, assuming it is served by a third party server. Server should be accesible from the Internet or through another netwoek by VisageCloud infrastructure",
            "in": "query",
            "name": "pictureURL",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Algorithm version (V2 is more performant but not backward compatible)",
            "in": "query",
            "name": "algorithmVersion",
            "required": false,
            "schema": {
              "default": "V2",
              "enum": [
                "V1",
                "V2"
              ],
              "type": "string"
            }
          },
          {
            "description": "Auto-rotate to find flipped or rotate faces",
            "in": "query",
            "name": "autoRotate",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Skip EXIF rotation procesing",
            "in": "query",
            "name": "skipEXIF",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Waits until the picture is successfully uploaded, before returning the response back the the client",
            "in": "query",
            "name": "waitForPictureUpload",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "[For advanced users only] Change feature filters for robustness of feature extraction. Tweaking this parameter may affect per",
            "explode": true,
            "in": "query",
            "name": "filters",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "[For advanced users only] Options for preprocessing of image.",
            "in": "query",
            "name": "options",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Analysis"
        ],
        "operationId": "performAnalysisUsingPOST",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "picture": {
                    "description": "The multipart/form-data version of the image, in case a direct upload is used. At least one of picture or pictureURL must be present",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Perform detection on a given picture or picture URL"
      }
    },
    "/rest/v1.1/analysis/listLatest": {
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many records to retrieve at a time",
            "in": "query",
            "name": "count",
            "required": false,
            "schema": {
              "default": 100,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Analysis"
        ],
        "operationId": "retriveLatestUsingGET",
        "summary": "Retrieve the last *count* operations per current account"
      }
    },
    "/rest/v1.1/analysis/recognition": {
      "post": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Boolean value indicating whether you want the picture of the analysis to be stored for later retrieval",
            "in": "query",
            "name": "storeAnalysisPicture",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          },
          {
            "description": "Boolean value indicating whether you want the faces inside the picture to be stored for later retrieval",
            "in": "query",
            "name": "storeFacePictures",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          },
          {
            "description": "Boolean value indicating whether you want the result of the analysis to be stored",
            "in": "query",
            "name": "storeResult",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          },
          {
            "description": "How many seconds the results should be retained in stoarage?",
            "in": "query",
            "name": "retentionTime",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Uniquely identified collection that can store multiple profiles",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Labels associated with the given picture or picture URL",
            "explode": true,
            "in": "query",
            "name": "labels",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Filters that will be applied on the recognition operation",
            "explode": true,
            "in": "query",
            "name": "attributeFilters",
            "required": false,
            "schema": {
              "enum": [
                "NO_FILTER",
                "GENDER_FILTER",
                "AGE_GROUP_FILTER"
              ],
              "items": {
                "enum": [
                  "NO_FILTER",
                  "GENDER_FILTER",
                  "AGE_GROUP_FILTER"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "The URL of the picture",
            "in": "query",
            "name": "pictureURL",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Algorithm version (V2 is more performant but not backward compatible)",
            "in": "query",
            "name": "algorithmVersion",
            "required": false,
            "schema": {
              "default": "V2",
              "enum": [
                "V1",
                "V2"
              ],
              "type": "string"
            }
          },
          {
            "description": "Auto-rotate to find flipped or rotate faces",
            "in": "query",
            "name": "autoRotate",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Skip EXIF rotation procesing",
            "in": "query",
            "name": "skipEXIF rotation processing",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Waits until the picture is successfully uploaded, before returning the response back the the client",
            "in": "query",
            "name": "waitForPictureUpload",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "[For advanced users only] Change feature filters for robustness of feature extraction. Tweaking this parameter may affect per",
            "explode": true,
            "in": "query",
            "name": "filters",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "[For advanced users only] Options for preprocessing of image.",
            "in": "query",
            "name": "options",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Analysis"
        ],
        "operationId": "performRecognitionUsingPOST",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "picture": {
                    "description": "The picture itself",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Perform labeled recognition on a given picture or picture URL"
      }
    },
    "/rest/v1.1/analysis/retrieve": {
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the analysis for which the data will be retrieved",
            "in": "query",
            "name": "analysisId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Analysis"
        ],
        "operationId": "retrieveAnalysisUsingGET",
        "summary": "Retrieve a complete analysis object including both detection and recognition information"
      }
    },
    "/rest/v1.1/analytics/counting": {
      "post": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Collection ids",
            "explode": true,
            "in": "query",
            "name": "collectionIds",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Stream Ids",
            "explode": true,
            "in": "query",
            "name": "streamIds",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "startDateTime",
            "in": "query",
            "name": "startDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "endDateTime",
            "in": "query",
            "name": "endDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "visitDuration",
            "in": "query",
            "name": "visitDuration",
            "required": false,
            "schema": {
              "default": 3600000,
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "maxIterations",
            "in": "query",
            "name": "maxIterations",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "maxBatchIterations",
            "in": "query",
            "name": "maxBatchIterations",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "minNeighborsMergedPerIteration",
            "in": "query",
            "name": "minNeighborsMergedPerIteration",
            "required": false,
            "schema": {
              "default": 5,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "mergingStep",
            "in": "query",
            "name": "mergingStep",
            "required": false,
            "schema": {
              "default": 1,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "shuffling",
            "in": "query",
            "name": "shuffling",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Analytics for presence and audience"
        ],
        "operationId": "counterUsingPOST",
        "summary": "Count individuals in streams or collections"
      }
    },
    "/rest/v1.1/analytics/presence/timeseries": {
      "post": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Stream Ids",
            "explode": true,
            "in": "query",
            "name": "streamIds",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "startDateTime",
            "in": "query",
            "name": "startDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "endDateTime",
            "in": "query",
            "name": "endDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "step",
            "in": "query",
            "name": "step",
            "required": false,
            "schema": {
              "default": 3600,
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "attributes",
            "explode": true,
            "in": "query",
            "name": "attributes",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Analytics for presence and audience"
        ],
        "operationId": "presenceTimeseriesUsingPOST",
        "summary": "Show audience (based on number of occurrences of each person) breakdown per declared attribute (age, gender)."
      }
    },
    "/rest/v1.1/analytics/presence/total": {
      "post": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Stream Ids",
            "explode": true,
            "in": "query",
            "name": "streamIds",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "startDateTime",
            "in": "query",
            "name": "startDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "endDateTime",
            "in": "query",
            "name": "endDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "attributes",
            "explode": true,
            "in": "query",
            "name": "attributes",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Analytics for presence and audience"
        ],
        "operationId": "presenceTotalUsingPOST",
        "summary": "Show presence (based on number of occurences of each face) breakdown per declared attribute (age, gender)"
      }
    },
    "/rest/v1.1/classifier/svm": {
      "delete": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the classifier that will be removed",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Classifier"
        ],
        "operationId": "removeClassiferUsingDELETE",
        "summary": "Delete existing classifier"
      },
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the classifier that you want the status for",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Classifier"
        ],
        "operationId": "getClassiferFullUsingGET",
        "summary": "Get classifier full"
      },
      "post": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the SVM classifier that will be created",
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Collection ids",
            "explode": true,
            "in": "query",
            "name": "collectionIds",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Preprocessor",
            "in": "query",
            "name": "preprocessor",
            "required": false,
            "schema": {
              "default": "FeaturePreprocessor",
              "type": "string"
            }
          },
          {
            "description": "Classification attribute name",
            "in": "query",
            "name": "classificationAttributeName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Consider view point",
            "in": "query",
            "name": "considerViewPoints",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Seed for divididing training and evaluation sets",
            "in": "query",
            "name": "seed",
            "required": false,
            "schema": {
              "default": 179425537,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Training ratio",
            "in": "query",
            "name": "trainingRatio",
            "required": false,
            "schema": {
              "default": 0.8,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Probability parameter",
            "in": "query",
            "name": "probabilityParameter",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Gamma parameter",
            "in": "query",
            "name": "gammaParameter",
            "required": false,
            "schema": {
              "default": 0.5,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Nu parameter",
            "in": "query",
            "name": "nuParameter",
            "required": false,
            "schema": {
              "default": 0.25,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "c parameter",
            "in": "query",
            "name": "cParameter",
            "required": false,
            "schema": {
              "default": 1,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "SVM type parameter",
            "in": "query",
            "name": "svmTypeParameter",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Kernel type parameter",
            "in": "query",
            "name": "kernelTypeParameter",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Cache size parameter",
            "in": "query",
            "name": "cacheSizeParameter",
            "required": false,
            "schema": {
              "default": 500,
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Eps parameter",
            "in": "query",
            "name": "epsParameter",
            "required": false,
            "schema": {
              "default": 0.001,
              "format": "double",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Classifier"
        ],
        "operationId": "addSVMClassifierUsingPOST",
        "summary": "Create new SVM classifier with given name"
      }
    },
    "/rest/v1.1/classifier/svm/status": {
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the classifier that you want the status for",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Classifier"
        ],
        "operationId": "getClassiferStatusUsingGET",
        "summary": "Get classifer status"
      }
    },
    "/rest/v1.1/collection/": {
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Collection"
        ],
        "operationId": "getAllCollectionsUsingGET",
        "summary": "Retrieve all collections"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Collection"
        ],
        "operationId": "addCollectionUsingPOST",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "accessKey": {
                    "description": "The accessKey provided by VisageCloud",
                    "type": "string"
                  },
                  "evictable": {
                    "default": true,
                    "description": "Defined whether the collection can be evicted",
                    "type": "boolean"
                  },
                  "name": {
                    "description": "The name of the collection that will be created",
                    "type": "string"
                  },
                  "preload": {
                    "default": false,
                    "description": "Defined whether to preload collection",
                    "type": "boolean"
                  },
                  "purposes": {
                    "description": "The newly declared purposes of the collection",
                    "enum": [
                      "FEATURES",
                      "LANDMARKS",
                      "ATTRIBUTES"
                    ],
                    "items": {
                      "enum": [
                        "FEATURES",
                        "LANDMARKS",
                        "ATTRIBUTES"
                      ],
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "secretKey": {
                    "description": "The secretKey provided by VisageCloud",
                    "type": "string"
                  }
                },
                "required": [
                  "accessKey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Create new empty collection with given name"
      }
    },
    "/rest/v1.1/collection/all": {
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Collection"
        ],
        "deprecated": true,
        "operationId": "getAllCollections2UsingGET",
        "summary": "Retrieve all collections"
      }
    },
    "/rest/v1.1/collection/collection": {
      "delete": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the collection that will be removed",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Collection"
        ],
        "deprecated": true,
        "operationId": "deleteCollection2UsingDELETE",
        "summary": "Delete existing collection with associated profiles and faces."
      },
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the collection for which the data will be retrieved",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Collection"
        ],
        "deprecated": true,
        "operationId": "getCollection2UsingGET",
        "summary": "Retrieve existing collection content"
      },
      "post": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the collection that will be created",
            "in": "query",
            "name": "collectionName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Defined whether to preload collection",
            "in": "query",
            "name": "preload",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Defined whether the collection can be evicted",
            "in": "query",
            "name": "evictable",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          },
          {
            "description": "The newly declared purposes of the collection",
            "explode": true,
            "in": "query",
            "name": "purposes",
            "required": false,
            "schema": {
              "enum": [
                "FEATURES",
                "LANDMARKS",
                "ATTRIBUTES"
              ],
              "items": {
                "enum": [
                  "FEATURES",
                  "LANDMARKS",
                  "ATTRIBUTES"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Collection"
        ],
        "deprecated": true,
        "operationId": "addCollection2UsingPOST",
        "summary": "Create new empty collection with given name"
      }
    },
    "/rest/v1.1/collection/export/csv": {
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the collection for which the data will be retrieved",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingResponseBody"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Collection"
        ],
        "operationId": "exportCSVUsingGET",
        "summary": "Retrieve collection content for data analysis."
      }
    },
    "/rest/v1.1/collection/purpose": {
      "put": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the collection for which the data will be retrieved",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The newly declared purposes of the collection",
            "explode": true,
            "in": "query",
            "name": "purposes",
            "required": true,
            "schema": {
              "enum": [
                "FEATURES",
                "LANDMARKS",
                "ATTRIBUTES"
              ],
              "items": {
                "enum": [
                  "FEATURES",
                  "LANDMARKS",
                  "ATTRIBUTES"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Collection"
        ],
        "deprecated": true,
        "operationId": "repurposeCollectionUsingPUT",
        "summary": "Change purpose of existing collection"
      }
    },
    "/rest/v1.1/collection/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the collection that will be removed",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Collection"
        ],
        "operationId": "deleteCollectionUsingDELETE",
        "summary": "Delete existing collection with associated profiles and faces."
      },
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the collection for which the data will be retrieved",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Collection"
        ],
        "operationId": "getCollectionUsingGET",
        "summary": "Retrieve existing collection content"
      },
      "patch": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the collection that will be updated",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The newly declared purposes of the collection",
            "explode": true,
            "in": "query",
            "name": "purposes",
            "required": false,
            "schema": {
              "enum": [
                "FEATURES",
                "LANDMARKS",
                "ATTRIBUTES"
              ],
              "items": {
                "enum": [
                  "FEATURES",
                  "LANDMARKS",
                  "ATTRIBUTES"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "The id of the collection that will be updated",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Collection"
        ],
        "operationId": "updateCollectionUsingPATCH",
        "summary": "Update an existing collection with a given id"
      },
      "post": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the collection that will be updated",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The newly declared purposes of the collection",
            "explode": true,
            "in": "query",
            "name": "purposes",
            "required": false,
            "schema": {
              "enum": [
                "FEATURES",
                "LANDMARKS",
                "ATTRIBUTES"
              ],
              "items": {
                "enum": [
                  "FEATURES",
                  "LANDMARKS",
                  "ATTRIBUTES"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "The id of the collection that will be updated",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Collection"
        ],
        "deprecated": true,
        "operationId": "updateCollection2UsingPOST",
        "summary": "Update an existing collection with a given id"
      }
    },
    "/rest/v1.1/collection/{id}/profile": {
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The collection that contains the profile",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Collection"
        ],
        "operationId": "getAllCollectionProfilesUsingGET",
        "summary": "Gets all the profiles associated to a collection"
      }
    },
    "/rest/v1.1/profile/classificationAttributes": {
      "delete": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The profile associated with the classification attributes",
            "in": "query",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The collection that contains the profile",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Profile"
        ],
        "deprecated": true,
        "operationId": "removeClassificationAttributesFromProfileUsingDELETE",
        "summary": "Removes classification attributes from a profile"
      },
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The profile associated with the classification attributes",
            "in": "query",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The collection that contains the profile",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Profile"
        ],
        "deprecated": true,
        "operationId": "getClassificationAttributesFromProfileUsingGET",
        "summary": "Gets classification attributes from a profile"
      },
      "put": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The profile associated with the classification attributes",
            "in": "query",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The collection that contains the profile",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated key:value classification attributes",
            "in": "query",
            "name": "classificationAttributes",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Profile"
        ],
        "deprecated": true,
        "operationId": "mapClassificationAttributesToProfileUsingPUT",
        "summary": "Maps classification attributes to a profile"
      }
    },
    "/rest/v1.1/profile/enrollmentStatus": {
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The profile that contains the faces",
            "in": "query",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The collection that contains the profile",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Profile"
        ],
        "operationId": "getProfileEnrollmentStatusUsingGET",
        "summary": "Gets the enrollment status of a profile: information on whether it is suitable for authentication."
      }
    },
    "/rest/v1.1/profile/map": {
      "delete": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated face hashes, that will be removed from a profile",
            "in": "query",
            "name": "faceHashes",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The profile that contains the face",
            "in": "query",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The collection that contains the profile",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Profile"
        ],
        "operationId": "removeFacesFromProfileUsingDELETE",
        "summary": "Removes (unmaps) a list of faces, identified by faceHashes, from a profile, identified by profileId"
      },
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The profile that contains the faces",
            "in": "query",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The collection that contains the profile",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Profile"
        ],
        "operationId": "getFacesFromProfileUsingGET",
        "summary": "Gets all the faceHashes associated to a profile"
      },
      "post": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated face hashes, that will be associated to a profile",
            "in": "query",
            "name": "faceHashes",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The profile that will store the face",
            "in": "query",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The collection that contains the profile",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Profile"
        ],
        "operationId": "mapFacesToProfileUsingPOST",
        "summary": "Adds (maps) a list of faces, identified by faceHashes, to a profile, identified by profileId"
      }
    },
    "/rest/v1.1/profile/profile": {
      "delete": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Uniquely identified collection that can store multiple profiles",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The profile id (provide this if you don't have the externalId",
            "in": "query",
            "name": "profileId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Profile"
        ],
        "deprecated": true,
        "operationId": "deleteProfile2UsingDELETE",
        "summary": "Deletes a profile and unmaps all its faces"
      },
      "post": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Uniquely identified collection that can store multiple profiles",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "External reference to additional information you don’t want to share with VisageCloud",
            "in": "query",
            "name": "externalId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Human-readable label for the profile",
            "in": "query",
            "name": "screenName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Allows you to do finer filtering in face recognition",
            "explode": true,
            "in": "query",
            "name": "labels",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Comma separated key:value classification attributes",
            "in": "query",
            "name": "classificationAttributes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated key:value details of profile",
            "in": "query",
            "name": "details",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Profile"
        ],
        "operationId": "addProfileUsingPOST",
        "summary": "Creates a new profile with no faces associated to it (empty profile)"
      }
    },
    "/rest/v1.1/profile/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Uniquely identified collection that can store multiple profiles",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The profile id (provide this if you don't have the externalId",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Profile"
        ],
        "operationId": "deleteProfileUsingDELETE",
        "summary": "Deletes a profile and unmaps all its faces"
      },
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Uniquely identified collection that can store multiple profiles",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Retrieves the profile with all its associated faces",
            "in": "query",
            "name": "withFaces",
            "required": false,
            "schema": {
              "default": "false",
              "type": "string"
            }
          },
          {
            "description": "The profile id (provide this if you don't have the externalId",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Profile"
        ],
        "operationId": "getProfileUsingGET",
        "summary": "Retrieves a profile"
      },
      "patch": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the profile that will be updated",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Uniquely identified collection that can store multiple profiles",
            "in": "query",
            "name": "collectionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "External reference to additional information you don’t want to share with VisageCloud",
            "in": "query",
            "name": "externalId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Human-readable label for the profile",
            "in": "query",
            "name": "screenName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Allows you to do finer filtering in face recognition",
            "explode": true,
            "in": "query",
            "name": "labels",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Comma separated key:value classification attributes",
            "in": "query",
            "name": "classificationAttributes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Comma separated key:value details of profile",
            "in": "query",
            "name": "details",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "Profile"
        ],
        "operationId": "updateProfileUsingPATCH",
        "summary": "Update an existing profile with a given id"
      }
    },
    "/rest/v1.1/stream/all": {
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Stream"
        ],
        "operationId": "streamsByAccountUsingGET",
        "summary": "Show status of all streams from account"
      }
    },
    "/rest/v1.1/stream/attendance": {
      "get": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey or readOnlyKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the stream for which the frames will be retrieved",
            "explode": true,
            "in": "query",
            "name": "streamIds",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "How many frames to retrieve at a time",
            "in": "query",
            "name": "count",
            "required": false,
            "schema": {
              "default": 10,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "Stream"
        ],
        "operationId": "getLastNAttedanceUsingGET",
        "summary": "Get last N recognized individuals from stream"
      }
    },
    "/rest/v1.1/stream/cleanup": {
      "patch": {
        "parameters": [
          {
            "description": "The accessKey provided by VisageCloud",
            "in": "query",
            "name": "accessKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The secretKey provided by VisageCloud",
            "in": "query",
            "name": "secretKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The id of the stream that will be stopped",
            "in": "query",
            "name": "streamId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Frames older than interval (seconds) will be cleaned up",
[...]
