{
  "openapi": "3.0.3",
  "info": {
    "title": "Hostaway Property Management API",
    "description": "Hostaway public API for vacation rental property management. Manage listings, reservations, calendars, conversations, finance, webhooks, and tasks.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.hostaway.com/documentation"
  },
  "servers": [
    {
      "url": "https://api.hostaway.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/accessTokens": {
      "post": {
        "operationId": "createAccessToken",
        "summary": "Generate access token",
        "description": "Generate a new access token using OAuth 2.0 Client Credentials Grant. Token TTL is 24 months.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid credentials or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "revokeAccessToken",
        "summary": "Revoke access token",
        "description": "Revoke an existing access token.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "The access token to revoke",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listings": {
      "get": {
        "operationId": "listListings",
        "summary": "Retrieve listings list",
        "description": "Retrieve a paginated list of property listings with optional filtering and sorting.",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort order for results",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "Filter by city",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Filter by country (ISO 3166-2)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "match",
            "in": "query",
            "description": "Search string to match against listings",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactName",
            "in": "query",
            "description": "Filter by contact name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "propertyTypeId",
            "in": "query",
            "description": "Filter by property type ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeResources",
            "in": "query",
            "description": "Include supplementary resource data (set to 1)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "isBookingEngineActive",
            "in": "query",
            "description": "Filter by booking engine active status",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "availabilityDateStart",
            "in": "query",
            "description": "Availability range start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "availabilityDateEnd",
            "in": "query",
            "description": "Availability range end date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createListing",
        "summary": "Create a new listing",
        "description": "Create a new property listing.",
        "tags": [
          "Listings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListingInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listing created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid listing data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listings/{listingId}": {
      "get": {
        "operationId": "getListing",
        "summary": "Retrieve a listing",
        "description": "Retrieve details for a specific property listing.",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "description": "Listing identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeResources",
            "in": "query",
            "description": "Include supplementary resource data",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid listing ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateListing",
        "summary": "Update a listing",
        "description": "Update an existing property listing.",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "description": "Listing identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListingInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listing updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid listing data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listings/{listingId}/images": {
      "post": {
        "operationId": "addListingImages",
        "summary": "Add listing images",
        "description": "Upload images for a specific listing.",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Listing ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Image caption"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image added successfully"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/cancellationPolicies/{channel}": {
      "get": {
        "operationId": "getCancellationPolicies",
        "summary": "Get cancellation policies for a channel",
        "description": "Retrieve available cancellation policies for a specific channel (airbnb, booking, marriott, vrbo).",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "airbnb",
                "booking",
                "marriott",
                "vrbo"
              ]
            },
            "description": "Channel name"
          }
        ],
        "responses": {
          "200": {
            "description": "List of cancellation policies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/listings/{listingId}/calendar": {
      "get": {
        "operationId": "getListingCalendar",
        "summary": "Read listing calendar",
        "description": "Retrieve calendar data for a specific listing, including availability and pricing.",
        "tags": [
          "Calendars"
        ],
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "description": "Listing identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Calendar start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Calendar end date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar data retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reservations": {
      "get": {
        "operationId": "listReservations",
        "summary": "Retrieve reservations list",
        "description": "Retrieve a list of reservations with cursor-based or offset pagination.",
        "tags": [
          "Reservations"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip (offset pagination)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "afterId",
            "in": "query",
            "description": "Cursor-based pagination: return results after this reservation ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeResources",
            "in": "query",
            "description": "Include supplementary resource data",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "match",
            "in": "query",
            "description": "Search filter string",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reservations retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createReservation",
        "summary": "Create a reservation",
        "description": "Create a new reservation with price details.",
        "tags": [
          "Reservations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reservation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid reservation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reservations/{reservationId}": {
      "get": {
        "operationId": "getReservation",
        "summary": "Retrieve a reservation",
        "description": "Get details for a specific reservation.",
        "tags": [
          "Reservations"
        ],
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "description": "Reservation identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reservation retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid reservation ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateReservation",
        "summary": "Update a reservation",
        "description": "Update an existing reservation including price components.",
        "tags": [
          "Reservations"
        ],
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "description": "Reservation identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reservation updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid reservation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reservations/{reservationId}/calculate-price": {
      "post": {
        "operationId": "calculateReservationPrice",
        "summary": "Calculate reservation price",
        "description": "Calculate pricing for a reservation.",
        "tags": [
          "Reservations"
        ],
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "description": "Reservation identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price calculated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceCalculationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid reservation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reservations/{reservationId}/coupons": {
      "get": {
        "operationId": "listReservationCoupons",
        "summary": "List reservation coupons",
        "description": "Retrieve coupons applied to a reservation.",
        "tags": [
          "Reservations"
        ],
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "description": "Reservation identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coupons retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CouponsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid reservation ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createReservationCoupon",
        "summary": "Create reservation coupon",
        "description": "Apply a coupon to a reservation.",
        "tags": [
          "Reservations"
        ],
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "description": "Reservation identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coupon applied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CouponResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid coupon data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations": {
      "get": {
        "operationId": "listConversations",
        "summary": "Retrieve conversations list",
        "description": "Retrieve a list of guest conversations.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversations retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations/{conversationId}": {
      "get": {
        "operationId": "getConversation",
        "summary": "Retrieve a conversation",
        "description": "Get details for a specific conversation.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "description": "Conversation identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid conversation ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations/{conversationId}/messages": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a message",
        "description": "Send a message in a guest conversation.",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "description": "Conversation identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid message data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/message-templates": {
      "get": {
        "operationId": "listMessageTemplates",
        "summary": "List message templates",
        "description": "Retrieve available message templates.",
        "tags": [
          "Conversations"
        ],
        "responses": {
          "200": {
            "description": "Templates retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageTemplatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/guests/{guestId}/charges": {
      "post": {
        "operationId": "createGuestCharge",
        "summary": "Create offline charge",
        "description": "Create an offline charge for a guest.",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "guestId",
            "in": "path",
            "required": true,
            "description": "Guest identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid charge data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/guests/{guestId}/charges/{chargeId}": {
      "put": {
        "operationId": "updateGuestCharge",
        "summary": "Update offline charge",
        "description": "Update an existing offline charge.",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "guestId",
            "in": "path",
            "required": true,
            "description": "Guest identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "description": "Charge identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid charge data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auto-payment-rules": {
      "get": {
        "operationId": "listAutoPaymentRules",
        "summary": "List auto-payment rules",
        "description": "Retrieve auto-payment rules for automated charge collection.",
        "tags": [
          "Finance"
        ],
        "responses": {
          "200": {
            "description": "Rules retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoPaymentRulesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAutoPaymentRule",
        "summary": "Create auto-payment rule",
        "description": "Create a new auto-payment rule.",
        "tags": [
          "Finance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoPaymentRuleInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rule created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoPaymentRuleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid rule data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/unified": {
      "post": {
        "operationId": "createUnifiedWebhook",
        "summary": "Create unified webhook",
        "description": "Create a unified webhook for real-time event notifications.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid webhook data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "description": "Retrieve a list of property management tasks.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tasks retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TasksListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create a task",
        "description": "Create a new property management task.",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid task data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 bearer token obtained via Client Credentials Grant"
      }
    },
    "schemas": {
      "AccessTokenRequest": {
        "type": "object",
        "required": [
          "grant_type",
          "client_id",
          "client_secret",
          "scope"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "description": "Must be 'client_credentials'",
            "example": "client_credentials"
          },
          "client_id": {
            "type": "string",
            "description": "OAuth client ID"
          },
          "client_secret": {
            "type": "string",
            "description": "OAuth client secret"
          },
          "scope": {
            "type": "string",
            "description": "Requested scope",
            "example": "general"
          }
        }
      },
      "AccessTokenResponse": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token TTL in seconds"
          },
          "access_token": {
            "type": "string",
            "description": "The access token"
          }
        }
      },
      "ListingInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Listing name"
          },
          "address": {
            "type": "string",
            "description": "Full street address"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-2 country code"
          },
          "zipcode": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "description": "Base price per night"
          },
          "guestsIncluded": {
            "type": "integer",
            "description": "Number of guests included in base price"
          },
          "priceForExtraPerson": {
            "type": "number",
            "description": "Price per additional guest"
          },
          "currencyCode": {
            "type": "string",
            "description": "ISO currency code"
          },
          "timeZoneName": {
            "type": "string",
            "description": "IANA timezone name"
          },
          "propertyTypeId": {
            "type": "integer",
            "description": "Property type identifier"
          },
          "bedrooms": {
            "type": "integer"
          },
          "bathrooms": {
            "type": "number"
          },
          "maxGuests": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "listingAmenities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "amenityId": {
                  "type": "integer"
                }
              }
            }
          },
          "listingBedTypes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "bedTypeId": {
                  "type": "integer"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          },
          "listingImages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "caption": {
                  "type": "string"
                },
                "sortOrder": {
                  "type": "integer"
                }
              }
            }
          },
          "customFieldValues": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "customFieldId": {
                  "type": "integer"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Listing": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "currencyCode": {
            "type": "string"
          },
          "propertyTypeId": {
            "type": "integer"
          },
          "bedrooms": {
            "type": "integer"
          },
          "bathrooms": {
            "type": "number"
          },
          "maxGuests": {
            "type": "integer"
          }
        }
      },
      "ListingResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/Listing"
          }
        }
      },
      "ListingsListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Listing"
            }
          },
          "count": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "ReservationInput": {
        "type": "object",
        "properties": {
          "listingMapId": {
            "type": "integer",
            "description": "Listing ID for the reservation"
          },
          "channelId": {
            "type": "integer",
            "description": "Channel source ID"
          },
          "arrivalDate": {
            "type": "string",
            "format": "date",
            "description": "Check-in date"
          },
          "departureDate": {
            "type": "string",
            "format": "date",
            "description": "Check-out date"
          },
          "guestName": {
            "type": "string"
          },
          "guestEmail": {
            "type": "string",
            "format": "email"
          },
          "numberOfGuests": {
            "type": "integer"
          },
          "totalPrice": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Reservation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "listingMapId": {
            "type": "integer"
          },
          "channelId": {
            "type": "integer"
          },
          "arrivalDate": {
            "type": "string",
            "format": "date"
          },
          "departureDate": {
            "type": "string",
            "format": "date"
          },
          "guestName": {
            "type": "string"
          },
          "guestEmail": {
            "type": "string"
          },
          "numberOfGuests": {
            "type": "integer"
          },
          "totalPrice": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReservationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/Reservation"
          }
        }
      },
      "ReservationsListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reservation"
            }
          },
          "count": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PriceCalculationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "totalPrice": {
                "type": "number"
              },
              "basePrice": {
                "type": "number"
              },
              "cleaningFee": {
                "type": "number"
              },
              "taxes": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          }
        }
      },
      "CalendarResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "isAvailable": {
                  "type": "integer",
                  "enum": [
                    0,
                    1
                  ]
                },
                "price": {
                  "type": "number"
                },
                "minimumStay": {
                  "type": "integer"
                },
                "reservationId": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "CouponInput": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Coupon code"
          },
          "amount": {
            "type": "number",
            "description": "Discount amount"
          },
          "type": {
            "type": "string",
            "description": "Coupon type (percentage or fixed)"
          }
        }
      },
      "CouponResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "code": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      },
      "CouponsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "code": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ConversationsListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conversation"
            }
          }
        }
      },
      "ConversationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/Conversation"
          }
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "reservationId": {
            "type": "integer"
          },
          "listingMapId": {
            "type": "integer"
          },
          "guestName": {
            "type": "string"
          },
          "lastMessage": {
            "type": "string"
          },
          "lastMessageAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MessageInput": {
        "type": "object",
        "required": [
          "body"
        ],
        "properties": {
          "body": {
            "type": "string",
            "description": "Message body text"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "body": {
                "type": "string"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "MessageTemplatesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "body": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ChargeInput": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Charge amount"
          },
          "currency": {
            "type": "string",
            "description": "ISO currency code"
          },
          "description": {
            "type": "string",
            "description": "Charge description"
          }
        }
      },
      "ChargeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          }
        }
      },
      "AutoPaymentRuleInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "triggerEvent": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "isActive": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          }
        }
      },
      "AutoPaymentRuleResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "triggerEvent": {
                "type": "string"
              },
              "isActive": {
                "type": "integer"
              }
            }
          }
        }
      },
      "AutoPaymentRulesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "triggerEvent": {
                  "type": "string"
                },
                "isActive": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "WebhookInput": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "Webhook callback URL"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Event types to subscribe to"
          }
        }
      },
      "WebhookResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "url": {
                "type": "string"
              },
              "events": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "TaskInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "listingMapId": {
            "type": "integer"
          },
          "assigneeId": {
            "type": "integer"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "TasksListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "fail"
          },
          "result": {
            "type": "object",
            "properties": {
              "error": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Access token management"
    },
    {
      "name": "Listings",
      "description": "Property listing operations"
    },
    {
      "name": "Reservations",
      "description": "Reservation management"
    },
    {
      "name": "Calendars",
      "description": "Calendar and availability management"
    },
    {
      "name": "Conversations",
      "description": "Guest conversation and messaging"
    },
    {
      "name": "Finance",
      "description": "Financial operations and charges"
    },
    {
      "name": "Webhooks",
      "description": "Webhook management"
    },
    {
      "name": "Tasks",
      "description": "Task management"
    }
  ]
}