{
  "openapi": "3.0.3",
  "info": {
    "title": "Hostaway API",
    "description": "Hostaway Public API for vacation rental management. Provides endpoints for managing listings, reservations, calendar, cancellation policies, and webhooks. Rate limited to 15 requests per 10 seconds per IP and 20 requests per 10 seconds per account.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.hostaway.com/documentation"
  },
  "servers": [
    {
      "url": "https://api.hostaway.com/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/accessTokens": {
      "post": {
        "operationId": "generateaccesstoken",
        "summary": "Generate access token",
        "description": "Generate a new OAuth 2.0 access token using client credentials",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid credentials"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "revokeaccesstoken",
        "summary": "Revoke access token",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Token to revoke",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token revoked successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/listings": {
      "get": {
        "operationId": "listlistings",
        "summary": "Retrieve listings list",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Max items per page"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Items to skip"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "nameReversed",
                "order",
                "orderReversed",
                "contactName",
                "contactNameReversed",
                "latestActivity",
                "latestActivityDesc"
              ]
            },
            "description": "Sort order"
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by city"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by country"
          },
          {
            "name": "contactName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by contact name"
          },
          {
            "name": "propertyTypeId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by property type"
          },
          {
            "name": "match",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by listing name"
          },
          {
            "name": "includeResources",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Include resources"
          },
          {
            "name": "availabilityDateStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Availability start date (Y-m-d)"
          },
          {
            "name": "availabilityDateEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Availability end date (Y-m-d)"
          },
          {
            "name": "availabilityGuestNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of guests"
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by user ID"
          },
          {
            "name": "isBookingEngineActive",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by booking engine status"
          }
        ],
        "responses": {
          "200": {
            "description": "List of listings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createlisting",
        "summary": "Create a new listing",
        "tags": [
          "Listings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListingCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listing created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/listings/{listingId}": {
      "get": {
        "operationId": "getlisting",
        "summary": "Retrieve a single listing",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeResources",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updatelisting",
        "summary": "Update a listing",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListingCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listing updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/listings/{listingId}/images": {
      "post": {
        "operationId": "addlistingimages",
        "summary": "Add listing images",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "images": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ListingImage"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Images added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reservations": {
      "get": {
        "operationId": "listreservations",
        "summary": "Retrieve reservations list",
        "tags": [
          "Reservations"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "listingId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of reservations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Reservation"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createreservation",
        "summary": "Create a reservation",
        "tags": [
          "Reservations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reservation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reservation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reservations/{reservationId}": {
      "get": {
        "operationId": "getreservation",
        "summary": "Retrieve a single reservation",
        "tags": [
          "Reservations"
        ],
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reservation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reservation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updatereservation",
        "summary": "Update a reservation",
        "tags": [
          "Reservations"
        ],
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reservation updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reservation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reservations/{reservationId}/calculate-price": {
      "post": {
        "operationId": "calculatereservationprice",
        "summary": "Calculate reservation price",
        "tags": [
          "Reservations"
        ],
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reservations/{reservationId}/calculatePriceWithExtras": {
      "post": {
        "operationId": "calculateReservationPriceWithExtras",
        "summary": "Calculate reservation price with extras",
        "description": "Calculate the total price for a reservation including extra charges and add-ons.",
        "tags": [
          "Reservations"
        ],
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price calculation result with extras",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reservations/{reservationId}/coupons": {
      "get": {
        "operationId": "getReservationCoupons",
        "summary": "Retrieve reservation coupons",
        "description": "Retrieve all coupons associated with a reservation.",
        "tags": [
          "Reservations"
        ],
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of reservation coupons",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Coupon"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createReservationCoupon",
        "summary": "Create reservation coupon",
        "description": "Apply a coupon to a reservation.",
        "tags": [
          "Reservations"
        ],
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CouponInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coupon applied successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Coupon"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/listings/{listingId}/calendar": {
      "get": {
        "operationId": "getlistingcalendar",
        "summary": "Retrieve listing calendar",
        "tags": [
          "Calendar"
        ],
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cancellation-policies/airbnb": {
      "get": {
        "operationId": "getairbnbcancellationpolicies",
        "summary": "Retrieve Airbnb cancellation policies",
        "tags": [
          "Cancellation Policies"
        ],
        "responses": {
          "200": {
            "description": "Airbnb cancellation policies"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cancellation-policies/booking": {
      "get": {
        "operationId": "getbookingcancellationpolicies",
        "summary": "Retrieve Booking.com cancellation policies",
        "tags": [
          "Cancellation Policies"
        ],
        "responses": {
          "200": {
            "description": "Booking.com cancellation policies"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cancellation-policies/marriott": {
      "get": {
        "operationId": "getmarriottcancellationpolicies",
        "summary": "Retrieve Marriott cancellation policies",
        "tags": [
          "Cancellation Policies"
        ],
        "responses": {
          "200": {
            "description": "Marriott cancellation policies"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cancellation-policies/vrbo": {
      "get": {
        "operationId": "getvrbocancellationpolicies",
        "summary": "Retrieve VRBO cancellation policies",
        "tags": [
          "Cancellation Policies"
        ],
        "responses": {
          "200": {
            "description": "VRBO cancellation policies"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "operationId": "createwebhook",
        "summary": "Create unified webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook callback URL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccessTokenRequest": {
        "type": "object",
        "required": [
          "grant_type",
          "client_id",
          "client_secret",
          "scope"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "client_credentials"
            ]
          },
          "client_id": {
            "type": "integer",
            "description": "Hostaway account ID"
          },
          "client_secret": {
            "type": "string"
          },
          "scope": {
            "type": "string",
            "enum": [
              "general"
            ]
          }
        }
      },
      "AccessTokenResponse": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "access_token": {
            "type": "string"
          }
        }
      },
      "Listing": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "propertyTypeId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "externalListingName": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "price": {
            "type": "number"
          },
          "currencyCode": {
            "type": "string"
          },
          "personCapacity": {
            "type": "integer"
          },
          "bedroomsNumber": {
            "type": "integer"
          },
          "bedsNumber": {
            "type": "integer"
          },
          "bathroomsNumber": {
            "type": "integer"
          },
          "minNights": {
            "type": "integer"
          },
          "maxNights": {
            "type": "integer"
          },
          "guestsIncluded": {
            "type": "integer"
          },
          "priceForExtraPerson": {
            "type": "number"
          },
          "cleaningFee": {
            "type": "number"
          },
          "cancellationPolicy": {
            "type": "string",
            "enum": [
              "flexible",
              "moderate",
              "strict"
            ]
          },
          "roomType": {
            "type": "string",
            "enum": [
              "entire_home",
              "private_room",
              "shared_room"
            ]
          },
          "bathroomType": {
            "type": "string",
            "enum": [
              "private",
              "shared"
            ]
          },
          "description": {
            "type": "string"
          },
          "checkInTimeStart": {
            "type": "integer"
          },
          "checkInTimeEnd": {
            "type": "integer"
          },
          "checkOutTime": {
            "type": "integer"
          },
          "contactName": {
            "type": "string"
          },
          "contactEmail": {
            "type": "string"
          }
        }
      },
      "ListingCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "externalListingName",
          "address",
          "price",
          "guestsIncluded",
          "priceForExtraPerson",
          "currencyCode"
        ],
        "properties": {
          "propertyTypeId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "externalListingName": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          },
          "price": {
            "type": "number"
          },
          "currencyCode": {
            "type": "string"
          },
          "personCapacity": {
            "type": "integer"
          },
          "bedroomsNumber": {
            "type": "integer"
          },
          "bedsNumber": {
            "type": "integer"
          },
          "bathroomsNumber": {
            "type": "integer"
          },
          "minNights": {
            "type": "integer"
          },
          "maxNights": {
            "type": "integer"
          },
          "guestsIncluded": {
            "type": "integer"
          },
          "priceForExtraPerson": {
            "type": "number"
          },
          "cleaningFee": {
            "type": "number"
          },
          "cancellationPolicy": {
            "type": "string",
            "enum": [
              "flexible",
              "moderate",
              "strict"
            ]
          },
          "roomType": {
            "type": "string",
            "enum": [
              "entire_home",
              "private_room",
              "shared_room"
            ]
          },
          "bathroomType": {
            "type": "string",
            "enum": [
              "private",
              "shared"
            ]
          },
          "description": {
            "type": "string"
          },
          "checkInTimeStart": {
            "type": "integer",
            "minimum": 0,
            "maximum": 23
          },
          "checkInTimeEnd": {
            "type": "integer",
            "minimum": 0,
            "maximum": 23
          },
          "checkOutTime": {
            "type": "integer",
            "minimum": 0,
            "maximum": 23
          },
          "contactName": {
            "type": "string"
          },
          "contactEmail": {
            "type": "string"
          },
          "listingAmenities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "amenityId": {
                  "type": "integer"
                }
              }
            }
          },
          "listingBedTypes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "bedTypeId": {
                  "type": "integer"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          },
          "listingImages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListingImage"
            }
          },
          "customFieldValues": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "customFieldId": {
                  "type": "integer"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ListingImage": {
        "type": "object",
        "properties": {
          "caption": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "sortOrder": {
            "type": "integer"
          }
        }
      },
      "ListingsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Listing"
            }
          }
        }
      },
      "Reservation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "listingId": {
            "type": "integer"
          },
          "guestName": {
            "type": "string"
          },
          "checkInDate": {
            "type": "string",
            "format": "date"
          },
          "checkOutDate": {
            "type": "string",
            "format": "date"
          },
          "numberOfGuests": {
            "type": "integer"
          },
          "totalPrice": {
            "type": "number"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ReservationCreateRequest": {
        "type": "object",
        "required": [
          "listingId",
          "checkInDate",
          "checkOutDate"
        ],
        "properties": {
          "listingId": {
            "type": "integer"
          },
          "guestName": {
            "type": "string"
          },
          "checkInDate": {
            "type": "string",
            "format": "date"
          },
          "checkOutDate": {
            "type": "string",
            "format": "date"
          },
          "numberOfGuests": {
            "type": "integer"
          },
          "totalPrice": {
            "type": "number"
          }
        }
      },
      "Coupon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Coupon ID"
          },
          "code": {
            "type": "string",
            "description": "Coupon code"
          },
          "discountAmount": {
            "type": "number",
            "description": "Discount amount"
          },
          "discountType": {
            "type": "string",
            "description": "Type of discount (percentage or fixed)"
          }
        }
      },
      "CouponInput": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Coupon code to apply"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.hostaway.com/v1/accessTokens",
            "scopes": {
              "general": "General API access"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "general"
      ]
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Operations related to Authentication"
    },
    {
      "name": "Calendar",
      "description": "Operations related to Calendar"
    },
    {
      "name": "Cancellation Policies",
      "description": "Operations related to Cancellation Policies"
    },
    {
      "name": "Listings",
      "description": "Operations related to Listings"
    },
    {
      "name": "Reservations",
      "description": "Operations related to Reservations"
    },
    {
      "name": "Webhooks",
      "description": "Operations related to Webhooks"
    }
  ]
}