{
  "openapi": "3.0.0",
  "info": {
    "description": "Mixed Reality Resource Provider REST API",
    "title": "Mixed Reality",
    "version": "2019-02-28-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/mixedreality/2019-02-28-preview/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-02-28-preview/mixedreality.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "mixedreality",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.MixedReality/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Proxy"
        ],
        "description": "Exposing Available Operations",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationList": {
            "parameters": {
              "api-version": "2019-02-28-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": null,
                  "value": [
                    {
                      "display": {
                        "description": "Registers a subscription for the Mixed Reality resource provider.",
                        "operation": "Registers the Mixed Reality resource provider",
                        "provider": "Microsoft.MixedReality",
                        "resource": "Mixed Reality resource provider"
                      },
                      "name": "Microsoft.MixedReality/register/action"
                    },
                    {
                      "display": {
                        "description": "Deletes the resource for Microsoft.MixedReality/SpatialAnchorsAccounts",
                        "operation": "Delete Spatial Anchors Accounts",
                        "provider": "Microsoft.MixedReality",
                        "resource": "SpatialAnchorsAccounts"
                      },
                      "name": "Microsoft.MixedReality/SpatialAnchorsAccounts/delete"
                    },
                    {
                      "display": {
                        "description": "Gets the resource for Microsoft.MixedReality/SpatialAnchorsAccounts",
                        "operation": "Get Spatial Anchors Accounts",
                        "provider": "Microsoft.MixedReality",
                        "resource": "SpatialAnchorsAccounts"
                      },
                      "name": "Microsoft.MixedReality/SpatialAnchorsAccounts/read"
                    },
                    {
                      "display": {
                        "description": "Updates the resource for Microsoft.MixedReality/SpatialAnchorsAccounts",
                        "operation": "Update Spatial Anchors Accounts",
                        "provider": "Microsoft.MixedReality",
                        "resource": "SpatialAnchorsAccounts"
                      },
                      "name": "Microsoft.MixedReality/SpatialAnchorsAccounts/write"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/locations/{location}/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/locationParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckNameAvailabilityResponse"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Proxy"
        ],
        "description": "Check Name Availability for global uniqueness",
        "operationId": "CheckNameAvailabilityLocal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckNameAvailabilityRequest"
              }
            }
          },
          "description": "Check Name Availability Request.",
          "required": true
        },
        "x-ms-examples": {
          "CheckLocalNameAvailability": {
            "parameters": {
              "api-version": "2019-02-28-preview",
              "checkNameAvailability": {
                "name": "MyAccount",
                "type": "SpatialAnchorsAccount"
              },
              "location": "eastus2euap",
              "subscriptionId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
            },
            "responses": {
              "200": {
                "body": {
                  "message": "...",
                  "nameAvailable": "false",
                  "reason": "AlreadyExists"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/spatialAnchorsAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpatialAnchorsAccountList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Resource",
          "Proxy"
        ],
        "description": "List Spatial Anchors Accounts by Subscription",
        "operationId": "SpatialAnchorsAccounts_ListBySubscription",
        "x-ms-examples": {
          "SpatialAnchorsAccountListBySubscription": {
            "parameters": {
              "api-version": "2019-02-28-preview",
              "resourceType": "SpatialAnchorsAccount",
              "subscriptionId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://aka.ms/&^FDKKAR",
                  "value": [
                    {
                      "tags": {},
                      "id": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount",
                      "location": "eastus2euap",
                      "name": "MyAccount",
                      "properties": {
                        "accountDomain": "mixedreality.azure.com",
                        "accountId": "5007a881-6fb4-4c93-be52-942e355944a5"
                      },
                      "type": "Microsoft.MixedReality/SpatialAnchorsAccounts"
                    },
                    {
                      "tags": {},
                      "id": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/omega",
                      "location": "eastus2euap",
                      "name": "omega",
                      "properties": {
                        "accountDomain": "mixedreality.azure.com",
                        "accountId": "5007a881-6fb4-4c93-be52-942e355944a5"
                      },
                      "type": "Microsoft.MixedReality/SpatialAnchorsAccounts"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpatialAnchorsAccountList"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Resource"
        ],
        "description": "List Resources by Resource Group",
        "operationId": "SpatialAnchorsAccounts_ListByResourceGroup",
        "x-ms-examples": {
          "ResourceGet": {
            "parameters": {
              "api-version": "2019-02-28-preview",
              "resourceGroupName": "MyResourceGroup",
              "resourceType": "SpatialAnchorsAccount",
              "subscriptionId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://aka.ms/&^FDKKAR",
                  "value": [
                    {
                      "tags": {},
                      "id": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount",
                      "location": "eastus2euap",
                      "name": "MyAccount",
                      "properties": {
                        "accountDomain": "mixedreality.azure.com",
                        "accountId": "5007a881-6fb4-4c93-be52-942e355944a5"
                      },
                      "type": "Microsoft.MixedReality/SpatialAnchorsAccounts"
                    },
                    {
                      "tags": {},
                      "id": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/omega",
                      "location": "eastus2euap",
                      "name": "omega",
                      "properties": {
                        "accountDomain": "mixedreality.azure.com",
                        "accountId": "5007a881-6fb4-4c93-be52-942e355944a5"
                      },
                      "type": "Microsoft.MixedReality/SpatialAnchorsAccounts"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{spatialAnchorsAccountName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/spatialAnchorsAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Resource"
        ],
        "description": "Delete a Spatial Anchors Account.",
        "operationId": "SpatialAnchorsAccounts_Delete",
        "x-ms-examples": {
          "ResourceDelete": {
            "parameters": {
              "api-version": "2019-02-28-preview",
              "resourceGroupName": "MyResourceGroup",
              "resourceType": "SpatialAnchorsAccount",
              "spatialAnchorsAccountName": "MyAccount",
              "subscriptionId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/spatialAnchorsAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpatialAnchorsAccount"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Resource"
        ],
        "description": "Retrieve a Spatial Anchors Account.",
        "operationId": "SpatialAnchorsAccounts_Get",
        "x-ms-examples": {
          "ResourceGet": {
            "parameters": {
              "api-version": "2019-02-28-preview",
              "resourceGroupName": "MyResourceGroup",
              "resourceType": "SpatialAnchorsAccount",
              "spatialAnchorsAccountName": "MyAccount",
              "subscriptionId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {},
                  "id": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount",
                  "location": "eastus2euap",
                  "name": "MyAccount",
                  "properties": {
                    "accountDomain": "mixedreality.azure.com",
                    "accountId": "5007a881-6fb4-4c93-be52-942e355944a5"
                  },
                  "type": "Microsoft.MixedReality/SpatialAnchorsAccounts"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/spatialAnchorsAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpatialAnchorsAccount"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Resource"
        ],
        "description": "Updating a Spatial Anchors Account",
        "operationId": "SpatialAnchorsAccounts_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpatialAnchorsAccount"
              }
            }
          },
          "description": "Spatial Anchors Account parameter.",
          "required": true
        },
        "x-ms-examples": {
          "Update spatial anchors account": {
            "parameters": {
              "api-version": "2019-02-28-preview",
              "resourceGroupName": "MyResourceGroup",
              "resourceType": "SpatialAnchorsAccount",
              "spatialAnchorsAccount": {
                "Tags": {
                  "hero": "romeo",
                  "heroine": "juliet"
                }
              },
              "spatialAnchorsAccountName": "MyAccount",
              "subscriptionId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "hero": "romeo",
                    "heroine": "juliet"
                  },
                  "id": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount",
                  "location": "eastus2euap",
                  "name": "MyAccount",
                  "properties": {
                    "accountDomain": "mixedreality.azure.com",
                    "accountId": "5007a881-6fb4-4c93-be52-942e355944a5"
                  },
                  "type": "Microsoft.MixedReality/SpatialAnchorsAccounts"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/spatialAnchorsAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpatialAnchorsAccount"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpatialAnchorsAccount"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Resource"
        ],
        "description": "Creating or Updating a Spatial Anchors Account.",
        "operationId": "SpatialAnchorsAccounts_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpatialAnchorsAccount"
              }
            }
          },
          "description": "Spatial Anchors Account parameter.",
          "required": true
        },
        "x-ms-examples": {
          "ResourceCreate": {
            "parameters": {
              "api-version": "2019-02-28-preview",
              "resourceGroupName": "MyResourceGroup",
              "resourceType": "SpatialAnchorsAccount",
              "spatialAnchorsAccount": {
                "location": "eastus2euap"
              },
              "spatialAnchorsAccountName": "MyAccount",
              "subscriptionId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {},
                  "id": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount",
                  "location": "eastus2euap",
                  "name": "MyAccount",
                  "properties": {
                    "accountDomain": "mixedreality.azure.com",
                    "accountId": "5007a881-6fb4-4c93-be52-942e355944a5"
                  },
                  "type": "Microsoft.MixedReality/SpatialAnchorsAccounts"
                }
              },
              "201": {
                "body": {
                  "tags": {},
                  "id": "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/SpatialAnchorsAccounts/MyAccount",
                  "location": "eastus2euap",
                  "name": "MyAccount",
                  "properties": {
                    "accountDomain": "mixedreality.azure.com",
                    "accountId": "5007a881-6fb4-4c93-be52-942e355944a5"
                  },
                  "type": "Microsoft.MixedReality/SpatialAnchorsAccounts"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{spatialAnchorsAccountName}/keys": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/spatialAnchorsAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpatialAnchorsAccountKeys"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Key"
        ],
        "description": "Get Both of the 2 Keys of a Spatial Anchors Account",
        "operationId": "SpatialAnchorsAccounts_GetKeys",
        "x-ms-examples": {
          "ResourceRegenerateKey": {
            "parameters": {
              "api-version": "2019-02-28-preview",
              "resourceGroupName": "MyResourceGroup",
              "resourceType": "SpatialAnchorsAccount",
              "spatialAnchorsAccountName": "MyAccount",
              "subscriptionId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
            },
            "responses": {
              "200": {
                "body": {
                  "primaryKey": "vMAlcI/j25TwDs8hjTorto3JQkoiqZAXKsFq0rYnSNc=",
                  "secondaryKey": "N4umIGhJt8LgnMMMBpwFOxVOS9zpxHxSHy1TJhN3hU4="
                }
              }
            }
          }
        }
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/spatialAnchorsAccountNameParameter"
          },
          {
            "$ref": "#/components/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpatialAnchorsAccountKeys"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Key"
        ],
        "description": "Regenerate 1 Key of a Spatial Anchors Account",
        "operationId": "SpatialAnchorsAccounts_RegenerateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpatialAnchorsAccountKeyRegenerateRequest"
              }
            }
          },
          "description": "Specifying which key to be regenerated.",
          "required": true
        },
        "x-ms-examples": {
          "ResourceRegenerateKey": {
            "parameters": {
              "api-version": "2019-02-28-preview",
              "resourceGroupName": "MyResourceGroup",
              "resourceType": "SpatialAnchorsAccount",
              "spatialAnchorsAccountKeyRegenerate": {
                "serial": 1
              },
              "spatialAnchorsAccountName": "MyAccount",
              "subscriptionId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
            },
            "responses": {
              "200": {
                "body": {
                  "primaryKey": "vMAlcI/j25TwDs8hjTorto3JQkoiqZAXKsFq0rYnSNc=",
                  "secondaryKey": "N4umIGhJt8LgnMMMBpwFOxVOS9zpxHxSHy1TJhN3hU4="
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "apiVersionParameter": {
        "description": "Version of the API to be used with the client request.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "locationParameter": {
        "description": "The location in which uniqueness will be verified.",
        "in": "path",
        "name": "location",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "resourceGroupNameParameter": {
        "description": "Name of an Azure resource group.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "spatialAnchorsAccountNameParameter": {
        "description": "Name of an Mixed Reality Spatial Anchors Account.",
        "in": "path",
        "name": "spatialAnchorsAccountName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "subscriptionIdParameter": {
        "description": "Azure subscription ID.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "SpatialAnchorsAccount": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SpatialAnchorsAccount"
            }
          }
        },
        "description": "Spatial Anchors Account parameter.",
        "required": true
      }
    },
    "schemas": {
      "CheckNameAvailabilityRequest": {
        "description": "Check Name Availability Request",
        "properties": {
          "name": {
            "description": "Resource Name To Verify",
            "type": "string"
          },
          "type": {
            "description": "Fully qualified resource type which includes provider namespace",
            "type": "string"
          }
        },
        "required": [
          "name",
          "type"
        ],
        "type": "object"
      },
      "CheckNameAvailabilityResponse": {
        "description": "Check Name Availability Response",
        "properties": {
          "message": {
            "description": "detail message",
            "type": "string"
          },
          "nameAvailable": {
            "$ref": "#/components/schemas/NameAvailability",
            "description": "if name Available"
          },
          "reason": {
            "$ref": "#/components/schemas/NameUnavailableReason",
            "description": "Resource Name To Verify"
          }
        },
        "required": [
          "nameAvailable"
        ],
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Response on Error",
        "properties": {
          "code": {
            "description": "String that can be used to programmatically identify the error.",
            "type": "string"
          },
          "details": {
            "description": "An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema.",
            "type": "string"
          },
          "message": {
            "description": "Describes the error in detail and provides debugging information",
            "type": "string"
          },
          "target": {
            "description": "The target of the particular error",
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ],
        "type": "object"
      },
      "NameAvailability": {
        "description": "Whether or not the name is available.",
        "enum": [
          "true",
          "false"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "NameAvailability"
        }
      },
      "NameUnavailableReason": {
        "description": "reason of name unavailable.",
        "enum": [
          "Invalid",
          "AlreadyExists"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "NameUnavailableReason"
        }
      },
      "Operation": {
        "description": "REST API operation",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/OperationDisplay",
            "description": "The object that represents the operation."
          },
          "name": {
            "description": "Operation name: {provider}/{resource}/{operation}",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationDisplay": {
        "description": "The object that represents the operation.",
        "properties": {
          "description": {
            "description": "Description of operation",
            "type": "string"
          },
          "operation": {
            "description": "Operation type: Read, write, delete, etc.",
            "type": "string"
          },
          "provider": {
            "description": "Service provider: Microsoft.ResourceProvider",
            "type": "string"
          },
          "resource": {
            "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
            "type": "string"
          }
        },
        "required": [
          "provider",
          "resource",
          "operation",
          "description"
        ],
        "type": "object"
      },
      "OperationList": {
        "description": "Result of the request to list Resource Provider operations. It contains a list of operations and a URL link to get the next set of results.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of operation list results if there are any.",
            "type": "string"
          },
          "value": {
            "description": "List of operations supported by the Resource Provider.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SpatialAnchorsAccount": {
        "allOf": [
          {
            "allOf": [
              {
                "properties": {
                  "id": {
                    "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
                    "readOnly": true,
                    "type": "string"
                  },
                  "name": {
                    "description": "The name of the resource",
                    "readOnly": true,
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
                    "readOnly": true,
                    "type": "string"
                  }
                },
                "type": "object",
                "x-ms-azure-resource": true
              }
            ],
            "description": "The resource model definition for a ARM tracked top level resource",
            "properties": {
              "tags": {
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Resource tags.",
                "type": "object",
                "x-ms-mutability": [
                  "read",
                  "create",
                  "update"
                ]
              },
              "location": {
                "description": "The geo-location where the resource lives",
                "type": "string",
                "x-ms-mutability": [
                  "read",
                  "create"
                ]
              }
            },
            "required": [
              "location"
            ],
            "type": "object"
          }
        ],
        "description": "SpatialAnchorsAccount Response.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SpatialAnchorsAccountProperties",
            "description": "Property bag.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "SpatialAnchorsAccountKeyRegenerateRequest": {
        "description": "Spatial Anchors Account Regenerate Key",
        "properties": {
          "serial": {
            "default": 1,
            "description": "serial of key to be regenerated",
            "enum": [
              1,
              2
            ],
            "type": "integer",
            "x-ms-enum": {
              "name": "Serial",
              "values": [
                {
                  "description": "The Primary Key",
                  "name": "Primary",
                  "value": 1
                },
                {
                  "description": "The Secondary Key",
                  "name": "Secondary",
                  "value": 2
                }
              ]
            }
          }
        },
        "type": "object"
      },
      "SpatialAnchorsAccountKeys": {
        "description": "Spatial Anchors Account Keys",
        "properties": {
          "primaryKey": {
            "description": "value of primary key.",
            "readOnly": true,
            "type": "string"
          },
          "secondaryKey": {
            "description": "value of secondary key.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "SpatialAnchorsAccountList": {
        "description": "Result of the request to get resource collection. It contains a list of resources and a URL link to get the next set of results.",
        "properties": {
          "nextLink": {
            "description": "URL to get the next set of resource list results if there are any.",
            "type": "string"
          },
          "value": {
            "description": "List of resources supported by the Resource Provider.",
            "items": {
              "$ref": "#/components/schemas/SpatialAnchorsAccount"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "SpatialAnchorsAccountProperties": {
        "description": "Spatial Anchors Account Customize Properties",
        "properties": {
          "accountDomain": {
            "description": "Correspond domain name of certain Spatial Anchors Account",
            "readOnly": true,
            "type": "string"
          },
          "accountId": {
            "description": "unique id of certain Spatial Anchors Account data contract.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "Impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}