{
  "openapi": "3.0.3",
  "info": {
    "title": "Parma API",
    "description": "Parma API for managing relationships, deals, notes, groups, and pipelines",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.parma.ai"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Retrieve API token from https://app.parma.ai/api"
      },
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.parma.ai/oauth/authorize",
            "tokenUrl": "https://app.parma.ai/oauth/token",
            "scopes": {}
          }
        },
        "description": "OAuth 2.0 authorization code grant flow with optional PKCE support"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    },
    {
      "OAuth2": []
    }
  ],
  "paths": {
    "/api/v1/deals": {
      "get": {
        "summary": "List all deals",
        "description": "Retrieve all deals with pagination support",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of deals"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "get-api-v1-deals"
      }
    },
    "/api/v1/deals/{id}": {
      "get": {
        "summary": "Retrieve a specific deal",
        "description": "Get details of a specific deal by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deal details"
          },
          "404": {
            "description": "Deal not found"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "get-api-v1-deals-by-id"
      }
    },
    "/api/v1/groups": {
      "get": {
        "summary": "List all groups",
        "description": "Retrieve all groups with optional search filtering",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search term for filtering groups"
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "get-api-v1-groups"
      }
    },
    "/api/v1/notes": {
      "get": {
        "summary": "List all notes",
        "description": "Retrieve all notes with pagination",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "get-api-v1-notes"
      },
      "post": {
        "summary": "Create a new note",
        "description": "Create a new note (supports markdown)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Note content in markdown format"
                  },
                  "relationship_id": {
                    "type": "string",
                    "description": "Associated relationship ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note created successfully"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "post-api-v1-notes"
      }
    },
    "/api/v1/notes/{id}": {
      "patch": {
        "summary": "Update an existing note",
        "description": "Update note content or properties",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note updated successfully"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "patch-api-v1-notes-by-id"
      }
    },
    "/api/v1/pipelines": {
      "get": {
        "summary": "List all pipelines",
        "description": "Retrieve all pipelines",
        "responses": {
          "200": {
            "description": "List of pipelines"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "get-api-v1-pipelines"
      }
    },
    "/api/v1/pipelines/{id}": {
      "get": {
        "summary": "Get a specific pipeline",
        "description": "Retrieve pipeline details by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline details"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "get-api-v1-pipelines-by-id"
      }
    },
    "/api/v1/relationships": {
      "get": {
        "summary": "List relationships",
        "description": "Retrieve relationships with filtering by name, type, and contact details",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of relationships"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "get-api-v1-relationships"
      },
      "post": {
        "summary": "Create a new relationship",
        "description": "Create a new relationship entry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Relationship created successfully"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "post-api-v1-relationships"
      }
    },
    "/api/v1/relationships/{id}": {
      "get": {
        "summary": "Retrieve relationship details",
        "description": "Get details of a specific relationship",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relationship details"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "get-api-v1-relationships-by-id"
      },
      "patch": {
        "summary": "Update relationship information",
        "description": "Update an existing relationship",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Relationship updated successfully"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "patch-api-v1-relationships-by-id"
      }
    },
    "/api/v1/relationships/{relationship_id}/notes": {
      "get": {
        "summary": "List relationship notes",
        "description": "Get all notes for a specific relationship",
        "parameters": [
          {
            "name": "relationship_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notes"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "get-api-v1-relationships-by-relationship-id-notes"
      }
    },
    "/api/v1/relationships/{relationship_id}/groups": {
      "get": {
        "summary": "List linked groups",
        "description": "Get all groups linked to a relationship",
        "parameters": [
          {
            "name": "relationship_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "get-api-v1-relationships-by-relationship-id-groups"
      },
      "post": {
        "summary": "Add relationship to group",
        "description": "Link a relationship to a group",
        "parameters": [
          {
            "name": "relationship_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Relationship added to group"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "post-api-v1-relationships-by-relationship-id-groups"
      }
    },
    "/api/v1/relationships/{relationship_id}/groups/{relationship_group_id}": {
      "delete": {
        "summary": "Remove from group",
        "description": "Remove relationship from a group",
        "parameters": [
          {
            "name": "relationship_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relationship_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relationship removed from group"
          }
        },
        "tags": [
          "api"
        ],
        "operationId": "delete-api-v1-relationships-by-relationship-id-groups-by-relationship-group-id"
      }
    }
  },
  "tags": [
    {
      "name": "api"
    }
  ]
}
