{
  "openapi": "3.0.3",
  "info": {
    "title": "Cube API",
    "version": "1.0.0 (1.0)",
    "description": "#### General Description\nAn API to access underlying Cube functionality. These endpoints are the same endpoints\nthat support Cube's universal add-ons and a plethora of integrations meaning you'll be able to interact with your\nCube data in many powerful ways. Visit the API section of Cube's [Help Center](https://help.cubesoftware.com/hc/en-us/sections/18205290556180-Custom-Integrations)\nfor more usage guides on how you can use this API to integrate with Cube to accomplish various tasks!\n\n#### Versioning\nAll requests to the API require a version to be configured via an `Accept` Header. The value of this Header should look like this:\n```\nAccept: application/json; version=1.0\n```\nNote that the version number may differ depending on which version of the endpoint is needed.\n\n#### Response Structure\nThe general response structure of Cube's API endpoints will contain a `\"data\"` and `\"metadata\"` root level key:\n```json\n{\n    \"data\": { ... object data or list of objects ... },\n    \"metadata\": {\n        \"status\": 200,\n        \"message\": \"Potential message with additional context\",\n        \"error\": false,\n        \"code\": \"\"\n    }\n}\n```\n\n#### Rate Limiting\nAll endpoints have a rate limit configured, most of them default to 5/s.\nWhen the rate limit is encountered, a 429 HTTP code will be returned.\n\n#### Error Handling\nIn the event an error occurs, the response will typically look like this:\n```json\n{\n    \"data\": {},\n    \"metadata\": {\n        \"status\": 400,\n        \"message\": \"Some error message\",\n        \"error\": true,\n        \"code\": \"SOME_ERROR_CODE\"\n    }\n}\n```\n",
    "termsOfService": "https://www.cubesoftware.com/terms-of-service",
    "x-jentic-source-url": "https://api.cubesoftware.com/docs/spec"
  },
  "servers": [
    {
      "url": "https://api.cubesoftware.com",
      "description": "Cube API Production URL"
    }
  ],
  "paths": {
    "/action-items": {
      "get": {
        "operationId": "action_items_list",
        "description": "Retrieve a list of all action items created by the authenticated user within their company.\n\nItems are returned ordered by position (ascending).",
        "summary": "List action items",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          }
        ],
        "tags": [
          "Taskflow"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActionItem"
                  }
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Unauthorized - authentication credentials not provided or invalid"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          }
        }
      },
      "post": {
        "operationId": "action_items_create",
        "description": "Create a new action item. The action item name must be unique within the company.\n\nThe position field is automatically set to the end of the list (count of existing items). Position is 0-indexed and maintains a continuous sequence with no gaps.",
        "summary": "Create an action item",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          }
        ],
        "tags": [
          "Taskflow"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionItem"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ActionItem"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ActionItem"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionItem"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Invalid input - action item name must be unique or exceeds max length"
          },
          "401": {
            "description": "Unauthorized - authentication credentials not provided or invalid"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          }
        }
      }
    },
    "/action-items/{id}": {
      "get": {
        "operationId": "action_items_retrieve",
        "description": "Retrieve details of a specific action item by ID. Users can only retrieve action items they created.",
        "summary": "Retrieve an action item",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Taskflow"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionItem"
                }
              }
            },
            "description": ""
          },
          "401": {
            "description": "Unauthorized - authentication credentials not provided or invalid"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Action item not found or not owned by user"
          }
        }
      },
      "patch": {
        "operationId": "action_items_partial_update",
        "description": "Partially update an action item. Only include fields to be updated.\n\n- Set \"completed\" to true to mark as completed, or false to mark as incomplete.\n- Update \"position\" to reorder the item (0-indexed). Other items will automatically shift to maintain continuous sequence.\n- Users can only update action items they created.",
        "summary": "Update an action item",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Taskflow"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchedActionItem"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PatchedActionItem"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PatchedActionItem"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionItem"
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Invalid input - action item name must be unique, exceeds max length, or position is invalid"
          },
          "401": {
            "description": "Unauthorized - authentication credentials not provided or invalid"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Action item not found or not owned by user"
          }
        }
      },
      "delete": {
        "operationId": "action_items_destroy",
        "description": "Delete an action item by ID. Users can only delete action items they created.\n\nWhen an item is deleted, all items with higher positions are automatically shifted down to close the gap and maintain a continuous sequence.",
        "summary": "Delete an action item",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Taskflow"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "204": {
            "description": "Action item successfully deleted"
          },
          "401": {
            "description": "Unauthorized - authentication credentials not provided or invalid"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Action item not found or not owned by user"
          }
        }
      }
    },
    "/agents/chat/messages": {
      "get": {
        "operationId": "agents_chat_messages_retrieve",
        "description": "List chat messages for a specific session. Supports filtering by session ID using the \"session\" query parameter.",
        "summary": "List Chat Messages",
        "tags": [
          "ChatMessages"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          }
        }
      },
      "post": {
        "operationId": "agents_chat_messages_create",
        "description": "Create a new chat message in a session",
        "summary": "Create Chat Message",
        "tags": [
          "ChatMessages"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "201": {
            "description": "No response body"
          }
        }
      }
    },
    "/agents/chat/messages/{id}": {
      "get": {
        "operationId": "agents_chat_messages_retrieve_2",
        "description": "Retrieve a specific chat message by ID",
        "summary": "Retrieve Chat Message",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "ChatMessages"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "No response body"
          }
        }
      }
    },
    "/agents/chat/sessions": {
      "get": {
        "operationId": "agents_chat_sessions_list",
        "description": "List chat sessions for the current user",
        "summary": "List Chat Sessions",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page (default: 50)"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "Page number (default: 1)"
          },
          {
            "in": "query",
            "name": "session_type",
            "schema": {
              "type": "string"
            },
            "description": "Filter by session type (default: CHAT). One of: CHAT, WIDGET_BUILDER, PLANNER"
          }
        ],
        "tags": [
          "ChatSessions"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChatSession"
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "description": "Invalid pagination parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Permission denied"
          }
        }
      },
      "post": {
        "operationId": "agents_chat_sessions_create",
        "description": "Create a new chat session",
        "summary": "Create Chat Session",
        "tags": [
          "ChatSessions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatSession"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ChatSession"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ChatSession"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSession"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/agents/chat/sessions/{id}": {
      "get": {
        "operationId": "agents_chat_sessions_retrieve",
        "description": "Retrieve a specific chat session by ID",
        "summary": "Retrieve Chat Session",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "ChatSessions"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSession"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/agents/settings": {
      "get": {
        "operationId": "agents_settings_retrieve",
        "description": "Default authenticated ViewSet with standard rate limit (DEFAULT_API_RATE_LIMIT).",
        "tags": [
          "ChatSettings"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSettings"
                }
              }
            },
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "agents_settings_update",
        "description": "Default authenticated ViewSet with standard rate limit (DEFAULT_API_RATE_LIMIT).",
        "tags": [
          "ChatSettings"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatSettings"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ChatSettings"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ChatSettings"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSettings"
                }
              }
            },
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "agents_settings_partial_update",
        "description": "Default authenticated ViewSet with standard rate limit (DEFAULT_API_RATE_LIMIT).",
        "tags": [
          "ChatSettings"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchedChatSettings"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PatchedChatSettings"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PatchedChatSettings"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSettings"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/agents/widget-builder": {
      "post": {
        "operationId": "agents_widget_builder_create",
        "description": "Build a widget definition using AI based on a natural language prompt. The widget is created in memory and returned without being saved to the database. The prompt and agent response are saved as ChatMessages in the specified session.",
        "summary": "Build Widget with AI",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WidgetBuilderRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/WidgetBuilderRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/WidgetBuilderRequest"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "widget": {
                      "type": "object",
                      "description": "The built widget definition (unsaved, id is null)"
                    },
                    "message": {
                      "type": "object",
                      "description": "The agent response ChatMessage"
                    }
                  }
                }
              }
            },
            "description": "Successfully built widget"
          },
          "400": {
            "description": "Bad Request - Invalid prompt or chat_session_id"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Chat session does not belong to user"
          }
        }
      }
    },
    "/attributes": {
      "get": {
        "operationId": "attributes_retrieve",
        "description": "This endpoint retrieves all the attributes of a company. To filter attributes to a specific\n        data table, use the table query parameter.\n        ",
        "summary": "Get Company's Attributes",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          },
          {
            "in": "query",
            "name": "table",
            "schema": {
              "type": "string"
            },
            "description": "The ID of an attribute table to limit results to",
            "required": true
          }
        ],
        "tags": [
          "Attributes"
        ],
        "security": [
          {
            "OAuth2": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeResponse"
                },
                "examples": {
                  "FullExample": {
                    "value": {
                      "id": 1,
                      "name": "Vendor",
                      "description": "Name of vendor",
                      "table": {
                        "id": "156f1d7f-3364-42b4-bed5-d0d1e87327a1",
                        "name": "My Data Table",
                        "settings": {},
                        "created_at": "2021-03-09T19:21:20.656464+00:00"
                      },
                      "created_at": "2021-03-09T19:21:20.766168+00:00"
                    },
                    "summary": "Full Example"
                  }
                }
              }
            },
            "description": ""
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X \\\n  GET \\\n  -H 'Accept: application/json; version=1.0' \\\n  -H 'Content-Type: application/json' \\\n  -H 'X-Company-ID: <your-company-id>' \\\n  'https://api.cubesoftware.com/attributes?table=156f1d7f-3364-42b4-bed5-d0d1e87327a1'"
          },
          {
            "lang": "python",
            "source": "import requests\n\nheaders = {\n    \"Accept\": \"application/json; version=1.0\",\n    \"Content-Type\": \"application/json\",\n    \"X-Company-ID\": \"<your-company-id>\"\n}\n\nurl = 'https://api.cubesoftware.com/attributes?table=156f1d7f-3364-42b4-bed5-d0d1e87327a1'\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.json())"
          }
        ]
      },
      "post": {
        "operationId": "attributes_create",
        "description": "This endpoint creates and updates attributes for a given company. To create an attribute,\n        don't include an ID in the payload. Including an ID implies updating an existing attribute.\n        ",
        "summary": "Manage Company Attributes",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          }
        ],
        "tags": [
          "Attributes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttributeRequest"
              },
              "examples": {
                "FullExample": {
                  "value": {
                    "name": "New Attribute",
                    "description": "My new attribute",
                    "table_id": "156f1d7f-3364-42b4-bed5-d0d1e87327a1"
                  },
                  "summary": "Full Example",
                  "description": "| **Parameter** | **Required** | **Description** |\n|---|---|---|\n| id | false | ID of existing attribute, for update |\n| name | true | The name of the attribute |\n| table_id | true | The data table for this attribute |\n| description | false | A brief description |\n                        "
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AttributeRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AttributeRequest"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeResponse"
                },
                "examples": {
                  "FullExample": {
                    "value": {
                      "id": 1,
                      "name": "Vendor",
                      "description": "Name of vendor",
                      "table": {
                        "id": "156f1d7f-3364-42b4-bed5-d0d1e87327a1",
                        "name": "My Data Table",
                        "settings": {},
                        "created_at": "2021-03-09T19:21:20.656464+00:00"
                      },
                      "created_at": "2021-03-09T19:21:20.766168+00:00"
                    },
                    "summary": "Full Example"
                  }
                }
              }
            },
            "description": ""
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "source": "curl -X \\\n  POST \\\n  -H 'Accept: application/json; version=1.0' \\\n  -H 'Content-Type: application/json' \\\n  -H 'X-Company-ID: <your-company-id>' \\\n  -d '{\n  \"name\": \"New Attribute\",\n  \"description\": \"My new attribute\",\n  \"table_id\": \"156f1d7f-3364-42b4-bed5-d0d1e87327a1\"\n}' \\\n  'https://api.cubesoftware.com/attributes'"
          },
          {
            "lang": "python",
            "source": "import requests\n\nheaders = {\n    \"Accept\": \"application/json; version=1.0\",\n    \"Content-Type\": \"application/json\",\n    \"X-Company-ID\": \"<your-company-id>\"\n}\n\nurl = 'https://api.cubesoftware.com/attributes'\n\npayload = {\n    \"name\": \"New Attribute\",\n    \"description\": \"My new attribute\",\n    \"table_id\": \"156f1d7f-3364-42b4-bed5-d0d1e87327a1\"\n}\n\nresponse = requests.post(url, headers=headers, json=payload)\n\nprint(response.json())"
          }
        ]
      }
    },
    "/auth/access_token": {
      "post": {
        "operationId": "auth_access_token_create",
        "description": "Do not use this endpoint, use the standard OAuth 2.0 PKCE flow instead",
        "summary": "Get an Access Token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthTokenView"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AuthTokenView"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AuthTokenView"
              }
            }
          },
          "required": true
        },
        "security": [
          {}
        ],
        "deprecated": true,
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokenView"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/auth/devices": {
      "get": {
        "operationId": "auth_devices_list",
        "description": "Returns all confirmed multi-factor authentication devices for the current user.",
        "summary": "List enabled MFA devices",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          }
        ],
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "OAuth2": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MfaDevice"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/auth/permissions/{group_id}": {
      "get": {
        "operationId": "auth_permissions_retrieve",
        "description": "Retrieves details for a given permissions group",
        "summary": "Retrieve a Permission Group",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          },
          {
            "in": "path",
            "name": "group_id",
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the permissions group",
            "required": true
          }
        ],
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "OAuth2": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthGroupPermissions"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/canvases": {
      "get": {
        "operationId": "canvases_list",
        "description": "List of all canvases available to the authenticated user company.\n\n- Results are ordered by creation date, newest first.\n- Each canvas includes basic metadata and an `is_liked` flag indicating whether the current user has liked it.\n- For performance reasons, related fields such as `tabs` and `shared_with` are **not included** in list responses.",
        "summary": "List all canvases.",
        "parameters": [
          {
            "in": "query",
            "name": "source",
            "schema": {
              "type": "string",
              "enum": [
                "DECKS",
                "PLAN_MODE",
                "WORKSPACE"
              ]
            },
            "description": "Filters the results to canvases with the given source.\n\n- By default, only `WORKSPACE` canvases are returned.\n- Use `?source=DECKS` to list only Decks-created canvases."
          },
          {
            "in": "query",
            "name": "widget_type",
            "schema": {
              "type": "string",
              "enum": [
                "RANGE",
                "TEMPLATE",
                "TEXT"
              ]
            },
            "description": "Filters the results to canvases that include **at least one widget** of the given type.\n\n- If omitted, no widget-type filtering is applied."
          }
        ],
        "tags": [
          "Canvases"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CanvasListSchema"
                  }
                },
                "examples": {
                  "ListCanvases": {
                    "value": [
                      {
                        "id": "a606c557-72e9-4046-b847-d87ffd98e85e",
                        "name": "One Big Beautiful Canvas",
                        "description": "Best Canvas Ever",
                        "sharing_scheme": "MANAGERS",
                        "is_liked": true,
                        "created_by": {
                          "id": 1,
                          "first_name": "John",
                          "last_name": "Frusciante"
                        },
                        "created_at": "2026-04-01T18:20:07.726677+00:00"
                      }
                    ],
                    "summary": "List Canvases"
                  }
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "canvases_create",
        "description": "Create a new canvas under the authenticated user company.\n\n- Required fields typically include `name`, and optionally layout or metadata fields.\n- The response includes the full representation of the newly created canvas.",
        "summary": "Create a new canvas.",
        "tags": [
          "Canvases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Canvas"
              },
              "examples": {
                "CreateACanvas": {
                  "value": {
                    "name": "One Big Beautiful Canvas",
                    "description": "Best Canvas Ever",
                    "sharing_scheme": "MANAGERS"
                  },
                  "summary": "Create a Canvas"
                },
                "CreateACanvasWithTabs": {
                  "value": {
                    "name": "One Big Beautiful Canvas",
                    "description": "Best Canvas Ever",
                    "tabs": [
                      {
                        "name": "Mystical Tab"
                      }
                    ]
                  },
                  "summary": "Create a Canvas with Tabs"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Canvas"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Canvas"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Canvas"
                },
                "examples": {
                  "CanvasCreated": {
                    "value": {
                      "id": "a606c557-72e9-4046-b847-d87ffd98e85e",
                      "name": "One Big Beautiful Canvas",
                      "description": "Best Canvas Ever",
                      "sharing_scheme": "MANAGERS",
                      "is_liked": true,
                      "created_by": {
                        "id": 1,
                        "first_name": "John",
                        "last_name": "Frusciante"
                      },
                      "created_at": "2026-04-01T18:20:07.726677+00:00",
                      "tabs": [],
                      "shared_with": []
                    },
                    "summary": "Canvas Created"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/canvases/{canvas_pk}/tabs": {
      "post": {
        "operationId": "canvases_tabs_create",
        "description": "Create a new canvas tab.",
        "summary": "Create a new canvas tab.",
        "parameters": [
          {
            "in": "path",
            "name": "canvas_pk",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CanvasTab"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CanvasTab"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CanvasTab"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanvasTab"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/canvases/{canvas_pk}/tabs/{id}": {
      "patch": {
        "operationId": "canvases_tabs_partial_update",
        "description": "Update specific fields of a canvas tab.",
        "summary": "Update specific fields of a canvas tab.",
        "parameters": [
          {
            "in": "path",
            "name": "canvas_pk",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchedCanvasTab"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PatchedCanvasTab"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PatchedCanvasTab"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanvasTab"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "canvases_tabs_destroy",
        "description": "Delete a canvas tab.",
        "summary": "Delete a canvas tab.",
        "parameters": [
          {
            "in": "path",
            "name": "canvas_pk",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    },
    "/canvases/{canvas_pk}/tabs/{id}/layout": {
      "put": {
        "operationId": "canvases_tabs_layout_update",
        "description": "Associate widgets with a canvas tab.",
        "summary": "Associate widgets with a canvas tab.",
        "parameters": [
          {
            "in": "path",
            "name": "canvas_pk",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CanvasTab"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CanvasTab"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CanvasTab"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanvasTab"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/canvases/{id}": {
      "get": {
        "operationId": "canvases_retrieve",
        "description": "Retrieve details of a specific canvas by ID.\n\n- Includes all fields, including `tabs` and `shared_with` data.\n- This endpoint is intended for viewing a single canvas along with its associated tabs and widgets.",
        "summary": "Retrieve a specific canvas",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Canvas"
                },
                "examples": {
                  "RetrieveACanvas": {
                    "value": {
                      "id": "a606c557-72e9-4046-b847-d87ffd98e85e",
                      "name": "One Big Beautiful Canvas",
                      "description": "Best Canvas Ever",
                      "sharing_scheme": "MANAGERS",
                      "is_liked": true,
                      "created_by": {
                        "id": 1,
                        "first_name": "John",
                        "last_name": "Frusciante"
                      },
                      "created_at": "2026-04-01T18:20:07.726677+00:00",
                      "tabs": [
                        {
                          "id": "d183035e-3c2b-471d-bf0a-69cdf3962346",
                          "name": "Mystical Tab",
                          "position": 0,
                          "layout": [
                            {
                              "layout_x": 8,
                              "layout_y": 0,
                              "height": 8,
                              "width": 4,
                              "widget": {
                                "id": "d1c3fb26-2202-43f6-a36e-6ec674162a6f",
                                "name": "Fabulous Range",
                                "settings": {
                                  "name_visible": true,
                                  "board_filter_exclusions": [],
                                  "styles": {
                                    "data_cells": {
                                      "horizontal_alignment": "right"
                                    },
                                    "row_headers": {
                                      "horizontal_alignment": "left"
                                    },
                                    "column_headers": {
                                      "horizontal_alignment": "center"
                                    }
                                  }
                                },
                                "type": "RANGE",
                                "visual_type": "LINE",
                                "data_sources": [
                                  {
                                    "type": "RANGE",
                                    "object_id": "3",
                                    "settings": {
                                      "content": {
                                        "A1": "Custom formula",
                                        "A4": "Total"
                                      },
                                      "formulas": {
                                        "B2": "=A1+A2",
                                        "B4": "=SUM(B2:B3)",
                                        "C4": "=SUM(B2:B3)",
                                        "D4": "=SUM(B2:B3)"
                                      }
                                    }
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      ],
                      "shared_with": []
                    },
                    "summary": "Retrieve a Canvas"
                  }
                }
              }
            },
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "canvases_partial_update",
        "description": "Update one or more editable fields of an existing canvas.\n\n- Only the provided fields will be modified.\n- Non-editable fields (such as `id`, `company_id`, and timestamps) are ignored if included.\n- Returns the updated canvas representation.",
        "summary": "Partially update a canvas by ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchedCanvas"
              },
              "examples": {
                "PatchACanvas": {
                  "value": {
                    "name": "One Big Beautiful Canvas",
                    "description": "Best Canvas Ever"
                  },
                  "summary": "Patch a Canvas"
                },
                "PatchACanvasWithTabsAndLayout": {
                  "value": {
                    "tabs": [
                      {
                        "name": "Mystical Tab",
                        "position": 0,
                        "layout": [
                          {
                            "widget": {
                              "id": "39aceac0-ab02-4c87-9242-ebb4c90087b7"
                            },
                            "layout_x": 0,
                            "layout_y": 0,
                            "width": 4,
                            "height": 8
                          }
                        ]
                      }
                    ]
                  },
                  "summary": "Patch a Canvas with tabs and layout",
                  "description": "Save the full tabs–widgets tree in one request."
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PatchedCanvas"
              },
              "examples": {
                "PatchACanvas": {
                  "value": {
                    "name": "One Big Beautiful Canvas",
                    "description": "Best Canvas Ever"
                  },
                  "summary": "Patch a Canvas"
                },
                "PatchACanvasWithTabsAndLayout": {
                  "value": {
                    "tabs": [
                      {
                        "name": "Mystical Tab",
                        "position": 0,
                        "layout": [
                          {
                            "widget": {
                              "id": "39aceac0-ab02-4c87-9242-ebb4c90087b7"
                            },
                            "layout_x": 0,
                            "layout_y": 0,
                            "width": 4,
                            "height": 8
                          }
                        ]
                      }
                    ]
                  },
                  "summary": "Patch a Canvas with tabs and layout",
                  "description": "Save the full tabs–widgets tree in one request."
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PatchedCanvas"
              },
              "examples": {
                "PatchACanvas": {
                  "value": {
                    "name": "One Big Beautiful Canvas",
                    "description": "Best Canvas Ever"
                  },
                  "summary": "Patch a Canvas"
                },
                "PatchACanvasWithTabsAndLayout": {
                  "value": {
                    "tabs": [
                      {
                        "name": "Mystical Tab",
                        "position": 0,
                        "layout": [
                          {
                            "widget": {
                              "id": "39aceac0-ab02-4c87-9242-ebb4c90087b7"
                            },
                            "layout_x": 0,
                            "layout_y": 0,
                            "width": 4,
                            "height": 8
                          }
                        ]
                      }
                    ]
                  },
                  "summary": "Patch a Canvas with tabs and layout",
                  "description": "Save the full tabs–widgets tree in one request."
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Canvas"
                },
                "examples": {
                  "PatchedCanvas": {
                    "value": {
                      "id": "a606c557-72e9-4046-b847-d87ffd98e85e",
                      "name": "One Big Beautiful Canvas",
                      "description": "Best Canvas Ever",
                      "sharing_scheme": "MANAGERS",
                      "is_liked": true,
                      "created_by": {
                        "id": 1,
                        "first_name": "John",
                        "last_name": "Frusciante"
                      },
                      "created_at": "2026-04-01T18:20:07.726677+00:00",
                      "tabs": [],
                      "shared_with": []
                    },
                    "summary": "Patched Canvas"
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response_serializer"
                },
                "examples": {
                  "InvalidTabs": {
                    "value": {
                      "data": {},
                      "metadata": {
                        "status": 400,
                        "error": true,
                        "message": "Expected a list of items but got type \"str\".",
                        "code": ""
                      }
                    },
                    "summary": "Invalid tabs",
                    "description": "Payload validation failed due to incorrect `tabs` structure in the request. Ensure that the tabs data conforms to the expected 2D array format."
                  }
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "canvases_destroy",
        "description": "Permanently delete a canvas by ID.",
        "summary": "Delete a canvas.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    },
    "/canvases/{id}/duplicate": {
      "post": {
        "operationId": "canvases_duplicate_create",
        "description": "Duplicate a canvas. The new canvas will be created with a new name and a copy of the layout.",
        "summary": "Duplicate a canvas.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Canvas"
              },
              "examples": {
                "DuplicateACanvas(emptyPayload)": {
                  "value": {},
                  "summary": "Duplicate a Canvas (empty payload)"
                },
                "DuplicateACanvasWithTabs(nameSpecified)": {
                  "value": {
                    "name": "What-A-Canvas"
                  },
                  "summary": "Duplicate a Canvas with Tabs (name specified)"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Canvas"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Canvas"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Canvas"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/canvases/{id}/like": {
      "post": {
        "operationId": "canvases_like_create",
        "description": "Like a canvas.",
        "summary": "Like a canvas",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Canvas"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Canvas"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Canvas"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Canvas"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "canvases_like_destroy",
        "description": "Undo a canvas like.",
        "summary": "Undo a canvas like.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    },
    "/canvases/widgets": {
      "get": {
        "operationId": "canvases_widgets_list",
        "description": "List all widgets.",
        "summary": "List all widgets.",
        "tags": [
          "Canvases"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Widget"
                  }
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "canvases_widgets_create",
        "description": "Create a new widget.",
        "summary": "Create a new widget.",
        "tags": [
          "Canvases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Widget"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Widget"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Widget"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Widget"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/canvases/widgets/{id}": {
      "get": {
        "operationId": "canvases_widgets_retrieve",
        "description": "Retrieve details of a specific widget.",
        "summary": "Retrieve details of a specific widget.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Widget"
                }
              }
            },
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "canvases_widgets_partial_update",
        "description": "Update specific fields of a widget.",
        "summary": "Update specific fields of a widget.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchedWidget"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PatchedWidget"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PatchedWidget"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Widget"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "canvases_widgets_destroy",
        "description": "This is a shortcut class that will include all 6 resourceful actions part of the DRF ViewSets:\n- list()\n- retrieve()\n- create()\n- update()\n- partial_update()\n- destroy()\n\nIf you do not want to expose all 6 of these in your ViewSet, then use the CubeAuthenticatedViewSet and add the\nappropriate mixins to it (see rest_framework.mixins). This will allow the api to behave appropriately and block\nrequests to unprocessable endpoints. Furthermore, it will make the drf_spectacular documentation be generated more\neasily.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    },
    "/canvases/widgets/{id}/render": {
      "post": {
        "operationId": "canvases_widgets_render_create",
        "description": "Generates a PNG screenshot of the widget component by rendering it in a headless browser.\n\n- The screenshot is uploaded to S3 for record keeping.\n- Returns the PNG image directly.\n- Optional rendering parameters can be provided in the request body.",
        "summary": "Generate a screenshot of a widget component.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Canvases"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "width": {
                    "type": "integer",
                    "description": "Viewport width in pixels",
                    "default": 1920
                  },
                  "height": {
                    "type": "integer",
                    "description": "Viewport height in pixels",
                    "default": 1080
                  },
                  "wait_time": {
                    "type": "integer",
                    "description": "Time to wait after page load in milliseconds",
                    "default": 2000
                  },
                  "wait_selector": {
                    "type": "string",
                    "description": "CSS selector to wait for before taking screenshot"
                  },
                  "full_page": {
                    "type": "boolean",
                    "description": "Whether to capture the full page or just the viewport",
                    "default": false
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Page load timeout in milliseconds",
                    "default": 30000
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "PNG image of the rendered widget component"
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "404": {
            "description": "Widget not found"
          },
          "500": {
            "description": "Error generating screenshot"
          }
        }
      }
    },
    "/comments/{target_app}/{target_model}": {
      "get": {
        "operationId": "comments_list",
        "description": "List all comments for a specific content type with filtering.",
        "summary": "List comments",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          },
          {
            "in": "path",
            "name": "target_app",
            "schema": {
              "type": "string",
              "enum": [
                "taskflow"
              ]
            },
            "description": "The app label of the target object",
            "required": true
          },
          {
            "in": "query",
            "name": "target_id",
            "schema": {
              "type": "string"
            },
            "description": "Filter by target object id: int or uuid.",
            "required": true,
            "explode": false,
            "style": "form",
            "examples": {
              "SingleIntTargetId": {
                "value": "86",
                "summary": "Single int target_id"
              },
              "MultipleIntTargetIds": {
                "value": "86, 87, 99",
                "summary": "Multiple int target_ids"
              },
              "SingleUuidTargetId": {
                "value": "550e8400-e29b-41d4-a716-446655440000",
                "summary": "Single uuid target_id"
              }
            }
          },
          {
            "in": "path",
            "name": "target_model",
            "schema": {
              "type": "string",
              "enum": [
                "task"
              ]
            },
            "description": "The model name of the target object",
            "required": true
          }
        ],
        "tags": [
          "Comments"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  }
                },
                "examples": {
                  "CommentListResponse": {
                    "value": [
                      {
                        "data": [
                          {
                            "id": 1,
                            "content": "Cube is reinventing FP&A.",
                            "created_by_id": 1,
                            "created_at": "2025-05-14T12:34:56Z",
                            "deleted_at": null,
                            "deleted_by_id": null,
                            "modified_at": null,
                            "target": {
                              "app": "taskflow",
                              "model": "task",
                              "content_type_id": null,
                              "id": "86"
                            }
                          },
                          {
                            "id": 2,
                            "content": "Cube is leading the FP&A revolution.",
                            "created_by_id": 1,
                            "created_at": "2025-05-15T12:34:56Z",
                            "deleted_at": null,
                            "deleted_by_id": null,
                            "modified_at": null,
                            "target": {
                              "app": "taskflow",
                              "model": "task",
                              "content_type_id": null,
                              "id": "87"
                            }
                          }
                        ]
                      }
                    ],
                    "summary": "Comment list response"
                  }
                }
              }
            },
            "description": ""
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                },
                "examples": {
                  "MissingTargetIdParameter": {
                    "value": {
                      "data": {},
                      "metadata": {
                        "status": 400,
                        "error": true,
                        "message": {
                          "target_id": [
                            "This field is required."
                          ]
                        },
                        "code": ""
                      },
                      "errors": [
                        {
                          "code": "",
                          "detail": {
                            "target_id": [
                              "This field is required."
                            ]
                          }
                        }
                      ]
                    },
                    "summary": "Missing target_id parameter"
                  },
                  "InvalidContentType": {
                    "value": {
                      "data": {},
                      "metadata": {
                        "status": 400,
                        "error": true,
                        "message": "Model: invalid_model for App: taskflow is not supported.",
                        "code": ""
                      },
                      "errors": [
                        {
                          "code": "",
                          "detail": "Model: invalid_model for App: taskflow is not supported."
                        }
                      ]
                    },
                    "summary": "Invalid content type"
                  },
                  "UnsupportedApp": {
                    "value": {
                      "data": {},
                      "metadata": {
                        "status": 400,
                        "error": true,
                        "message": "Model: task for App: unsupported_app is not supported.",
                        "code": ""
                      },
                      "errors": [
                        {
                          "code": "",
                          "detail": "Model: task for App: unsupported_app is not supported."
                        }
                      ]
                    },
                    "summary": "Unsupported app"
                  }
                }
              }
            },
            "description": ""
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                },
                "examples": {
                  "NoPermission": {
                    "value": {
                      "data": {},
                      "metadata": {
                        "status": 403,
                        "error": true,
                        "message": "You do not have permission to perform this action.",
                        "code": ""
                      },
                      "errors": [
                        {
                          "code": "",
                          "detail": "You do not have permission to perform this action."
                        }
                      ]
                    },
                    "summary": "No permission"
                  }
                }
              }
            },
            "description": "Permission denied"
          }
        }
      },
      "post": {
        "operationId": "comments_create",
        "description": "Create a new comment for a specific target object. The content must not exceed 1000 characters.",
        "summary": "Create comment",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          },
          {
            "in": "path",
            "name": "target_app",
            "schema": {
              "type": "string",
              "enum": [
                "taskflow"
              ]
            },
            "description": "The app label of the target object",
            "required": true
          },
          {
            "in": "path",
            "name": "target_model",
            "schema": {
              "type": "string",
              "enum": [
                "task"
              ]
            },
            "description": "The model name of the target object",
            "required": true
          }
        ],
        "tags": [
          "Comments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Comment"
              },
              "examples": {
                "CreateCommentRequest": {
                  "value": {
                    "content": "Cube is reinventing FP&A.",
                    "target_id": 86
                  },
                  "summary": "Create comment request"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Comment"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Comment"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                },
                "examples": {
                  "CommentCreatedSuccessfully": {
                    "value": {
                      "data": {
                        "id": 1,
                        "content": "Cube is reinventing FP&A.",
                        "created_by_id": 1,
                        "created_at": "2025-05-14T12:34:56Z",
                        "deleted_at": null,
                        "deleted_by_id": null,
                        "modified_at": null,
                        "target": {
                          "app": "taskflow",
                          "model": "task",
                          "content_type_id": null,
                          "id": "86"
                        }
                      }
                    },
                    "summary": "Comment created successfully"
                  }
                }
              }
            },
            "description": "Comment created successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                },
                "examples": {
                  "MissingContent": {
                    "value": {
                      "data": {},
                      "metadata": {
                        "status": 400,
                        "error": true,
                        "message": {
                          "content": [
                            "This field is required."
                          ]
                        },
                        "code": ""
                      },
                      "errors": [
                        {
                          "code": "",
                          "detail": {
                            "content": [
                              "This field is required."
                            ]
                          }
                        }
                      ]
                    },
                    "summary": "Missing content"
                  },
                  "MissingTargetId": {
                    "value": {
                      "data": {},
                      "metadata": {
                        "status": 400,
                        "error": true,
                        "message": {
                          "target_id": [
                            "This field is required."
                          ]
                        },
                        "code": ""
                      },
                      "errors": [
                        {
                          "code": "",
                          "detail": {
                            "target_id": [
                              "This field is required."
                            ]
                          }
                        }
                      ]
                    },
                    "summary": "Missing target_id"
                  },
                  "TargetObjectNotFound": {
                    "value": {
                      "data": {},
                      "metadata": {
                        "status": 400,
                        "error": true,
                        "message": "model:'Task' with id:'99999' does not exist",
                        "code": ""
                      },
                      "errors": [
                        {
                          "code": "",
                          "detail": "model:'Task' with id:'99999' does not exist"
                        }
                      ]
                    },
                    "summary": "Target object not found"
                  },
                  "ContentTooLong": {
                    "value": {
                      "data": {},
                      "metadata": {
                        "status": 400,
                        "error": true,
                        "message": {
                          "content": [
                            "Ensure this field has no more than 1000 characters."
                          ]
                        },
                        "code": ""
                      },
                      "errors": [
                        {
                          "code": "",
                          "detail": {
                            "content": [
                              "Ensure this field has no more than 1000 characters."
                            ]
                          }
                        }
                      ]
                    },
                    "summary": "Content too long"
                  }
                }
              }
            },
            "description": "Invalid input"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                },
                "examples": {
                  "NoPermission": {
                    "value": {
                      "data": {},
                      "metadata": {
                        "status": 403,
                        "error": true,
                        "message": "You do not have permission to perform this action.",
                        "code": ""
                      },
                      "errors": [
                        {
                          "code": "",
                          "detail": "You do not have permission to perform this action."
                        }
                      ]
                    },
                    "summary": "No permission"
                  }
                }
              }
            },
            "description": "Permission denied"
          }
        }
      }
    },
    "/comments/{target_app}/{target_model}/{id}": {
      "get": {
        "operationId": "comments_retrieve",
        "description": "Retrieve a specific comment by its id.",
        "summary": "Retrieve comment",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "target_app",
            "schema": {
              "type": "string",
              "enum": [
                "taskflow"
              ]
            },
            "description": "The app label of the target object",
            "required": true
          },
          {
            "in": "path",
            "name": "target_model",
            "schema": {
              "type": "string",
              "enum": [
                "task"
              ]
            },
            "description": "The model name of the target object",
            "required": true
          }
        ],
        "tags": [
          "Comments"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                },
                "examples": {
                  "RetrieveComment": {
                    "value": {
                      "data": {
                        "id": 1,
                        "content": "Cube is reinventing FP&A.",
                        "created_by_id": 1,
                        "created_at": "2025-05-14T12:34:56Z",
                        "deleted_at": null,
                        "deleted_by_id": null,
                        "modified_at": null,
                        "target": {
                          "app": "taskflow",
                          "model": "task",
                          "content_type_id": null,
                          "id": "86"
                        }
                      }
                    },
                    "summary": "Retrieve Comment"
                  },
                  "RetrieveModifiedComment": {
                    "value": {
                      "data": {
                        "id": 1,
                        "content": "Cube is leading the FP&A revolution.",
                        "created_by_id": 1,
                        "created_at": "2025-05-14T12:34:56Z",
                        "deleted_at": null,
                        "deleted_by_id": null,
                        "modified_at": "2025-05-21T12:34:56Z",
                        "target": {
                          "app": "taskflow",
                          "model": "task",
                          "content_type_id": null,
                          "id": "86"
                        }
                      }
                    },
                    "summary": "Retrieve modified Comment"
                  },
                  "RetrieveDeletedComment": {
                    "value": {
                      "data": {
                        "id": 1,
                        "content": "",
                        "created_by_id": 1,
                        "created_at": "2025-05-14T12:34:56Z",
                        "deleted_at": "2025-05-21T12:34:56Z",
                        "deleted_by_id": null,
                        "modified_at": null,
                        "target": {
                          "app": "taskflow",
                          "model": "task",
                          "content_type_id": null,
                          "id": "86"
                        }
                      }
                    },
                    "summary": "Retrieve deleted Comment"
                  }
                }
              }
            },
            "description": "Comment retrieved successfully"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                },
                "examples": {
                  "ResourceNotFound": {
                    "value": {
                      "data": {},
                      "metadata": {
                        "status": 404,
                        "error": true,
                        "message": "Resource does not exist",
                        "code": "DOES_NOT_EXIST"
                      },
                      "errors": [
                        {
                          "code": "DOES_NOT_EXIST",
                          "detail": "Resource does not exist"
                        }
                      ]
                    },
                    "summary": "Resource not found"
                  }
                }
              }
            },
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "comments_partial_update",
        "description": "Update a specific comment by its id.",
        "summary": "Update comment",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "target_app",
            "schema": {
              "type": "string",
              "enum": [
                "taskflow"
              ]
            },
            "description": "The app label of the target object",
            "required": true
          },
          {
            "in": "path",
            "name": "target_model",
            "schema": {
              "type": "string",
              "enum": [
                "task"
              ]
            },
            "description": "The model name of the target object",
            "required": true
          }
        ],
        "tags": [
          "Comments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchedComment"
              },
              "examples": {
                "UpdateCommentRequest": {
                  "value": {
                    "content": "Cube is leading the FP&A revolution."
                  },
                  "summary": "Update comment request"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PatchedComment"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PatchedComment"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                },
                "examples": {
                  "CommentUpdatedSuccessfully": {
                    "value": {
                      "data": {
                        "id": 1,
                        "content": "Cube is leading the FP&A revolution.",
                        "created_by_id": 1,
                        "created_at": "2025-05-14T12:34:56Z",
                        "deleted_at": null,
                        "deleted_by_id": null,
                        "modified_at": "2025-05-21T12:34:56Z",
                        "target": {
                          "app": "taskflow",
                          "model": "task",
                          "content_type_id": null,
                          "id": "86"
                        }
                      }
                    },
                    "summary": "Comment updated successfully"
                  }
                }
              }
            },
            "description": "Comment updated successfully"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                },
                "examples": {
                  "ResourceNotFound": {
                    "value": {
                      "data": {},
                      "metadata": {
                        "status": 404,
                        "error": true,
                        "message": "Resource does not exist",
                        "code": "DOES_NOT_EXIST"
                      },
                      "errors": [
                        {
                          "code": "DOES_NOT_EXIST",
                          "detail": "Resource does not exist"
                        }
                      ]
                    },
                    "summary": "Resource not found"
                  }
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "comments_destroy",
        "description": "Destroy a specific comment by its id.",
        "summary": "Destroy comment",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "target_app",
            "schema": {
              "type": "string",
              "enum": [
                "taskflow"
              ]
            },
            "description": "The app label of the target object",
            "required": true
          },
          {
            "in": "path",
            "name": "target_model",
            "schema": {
              "type": "string",
              "enum": [
                "task"
              ]
            },
            "description": "The model name of the target object",
            "required": true
          }
        ],
        "tags": [
          "Comments"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "204": {
            "description": "Comment deleted successfully"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                },
                "examples": {
                  "ResourceNotFound": {
                    "value": {
                      "data": {},
                      "metadata": {
                        "status": 404,
                        "error": true,
                        "message": "Resource does not exist",
                        "code": "DOES_NOT_EXIST"
                      },
                      "errors": [
                        {
                          "code": "DOES_NOT_EXIST",
                          "detail": "Resource does not exist"
                        }
                      ]
                    },
                    "summary": "Resource not found"
                  }
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/company/groups": {
      "get": {
        "operationId": "company_groups_list",
        "description": "Lists all of the groups for the current user's company",
        "summary": "List a company's groups",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          }
        ],
        "tags": [
          "Company Groups"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyGroup"
                  }
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "company_groups_create",
        "description": "Create a new group for the current user's company",
        "summary": "Create a group",
        "parameters": [
          {
            "in": "header",
            "name": "X-Company-ID",
            "schema": {
              "type": "string"
            },
            "description": "Associates request with company",
            "required": true
          }
        ],
        "tags": [
          "Company Groups"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyGroup"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CompanyGroup"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CompanyGroup"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyGroup"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/company/groups/{company_group_pk}/subcube-access-rules": {
      "get": {
        "operationId": "company_groups_subcube_access_rules_list",
        "description": "Default authenticated ViewSet with standard rate limit (DEFAULT_API_RATE_LIMIT).",
        "parameters": [
          {
            "in": "path",
            "name": "company_group_pk",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Company Groups"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubcubeAccessRule"
                  }
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "company_groups_subcube_access_rules_create",
        "description": "Default authenticated ViewSet with standard rate limit (DEFAULT_API_RATE_LIMIT).",
        "parameters": [
          {
            "in": "path",
            "name": "company_group_pk",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "Company Groups"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubcubeAccessRule"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SubcubeAccessRule"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SubcubeAccessRule"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubcubeAccessRule"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/company/groups/{company_group_pk}/subcube-access-rules/{id}": {
      "get": {
        "operationId": "company_groups_subcube_access_rules_retrieve",
        "description": "Default authenticated ViewSet with standard rate limit (DEFAULT_API_RATE_LIMIT).",
        "parameters": [
[...]
