{
  "openapi": "3.0.3",
  "info": {
    "title": "ChainRecorder API",
    "version": "1.0.0",
    "description": "ChainRecorder blockchain timestamping API for recording file hashes and chaining files on the blockchain.",
    "x-jentic-source-url": "https://chainrecorder.com/docs"
  },
  "servers": [
    {
      "url": "https://mainnet.chainrecorder.com/v1"
    }
  ],
  "paths": {
    "/hashes": {
      "get": {
        "operationId": "getallchains",
        "summary": "Get all recorded hash chains",
        "tags": [
          "Hashes"
        ],
        "responses": {
          "200": {
            "description": "List of recorded hash chains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HashRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/files": {
      "post": {
        "operationId": "chainfile",
        "summary": "Chain a file to the blockchain",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChainFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File successfully chained",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChainFileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HashRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "blockchain_tx": {
            "type": "string"
          }
        }
      },
      "ChainFileRequest": {
        "type": "object",
        "required": [
          "filename",
          "contentType"
        ],
        "properties": {
          "filename": {
            "type": "string",
            "description": "Name of the file"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the file"
          },
          "save_file": {
            "type": "boolean",
            "description": "Whether to store the file on the platform"
          }
        }
      },
      "ChainFileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ThirdParty-Token",
        "description": "API token for authentication"
      }
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ],
  "tags": [
    {
      "name": "Files",
      "description": "Operations related to Files"
    },
    {
      "name": "Hashes",
      "description": "Operations related to Hashes"
    }
  ]
}