{
  "openapi": "3.0.3",
  "info": {
    "title": "Qubole Data Service API",
    "version": "1.3.0",
    "description": "REST API for Qubole Data Service. Manage clusters, submit commands (Hive, Presto, Spark, etc.), and view results.",
    "x-jentic-source-url": "https://docs.qubole.com/en/latest/rest-api/index.html"
  },
  "servers": [
    {
      "url": "https://api.qubole.com/api"
    }
  ],
  "paths": {
    "/v1.3/clusters": {
      "get": {
        "operationId": "listClusters",
        "summary": "Get configuration details of all clusters",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of clusters per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of clusters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCluster",
        "summary": "Create a new cluster",
        "tags": [
          "Clusters"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cluster created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.3/clusters/{clusterId}": {
      "get": {
        "operationId": "getCluster",
        "summary": "View a cluster configuration",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateCluster",
        "summary": "Edit a cluster configuration",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cluster updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteCluster",
        "summary": "Delete a cluster",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cluster deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.3/clusters/{clusterId}/{action}": {
      "put": {
        "operationId": "manageClusterState",
        "summary": "Start or terminate a cluster",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "start",
                "terminate"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Action performed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.2/commands": {
      "post": {
        "operationId": "submitCommand",
        "summary": "Submit a command (Hive, Presto, Spark, etc.)",
        "tags": [
          "Commands"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommandSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.2/commands/{commandId}": {
      "get": {
        "operationId": "getCommandStatus",
        "summary": "View command status",
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "commandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1.2/commands/{commandId}/results": {
      "get": {
        "operationId": "getCommandResults",
        "summary": "View command results",
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "commandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "raw",
            "in": "query",
            "description": "Return results without delimiter conversion",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_headers",
            "in": "query",
            "description": "Include column headers in results",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResults"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Command is not done, results unavailable"
          }
        }
      }
    },
    "/v1.2/commands/{commandId}/cancel": {
      "put": {
        "operationId": "cancelCommand",
        "summary": "Cancel a running command",
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "commandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command cancelled"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AUTH-TOKEN"
      }
    },
    "schemas": {
      "ClusterListResponse": {
        "type": "object",
        "properties": {
          "paging_info": {
            "type": "object",
            "properties": {
              "next_page": {
                "type": "string",
                "nullable": true
              },
              "previous_page": {
                "type": "string",
                "nullable": true
              },
              "per_page": {
                "type": "integer"
              }
            }
          },
          "clusters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cluster"
            }
          }
        }
      },
      "Cluster": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "label": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "state": {
            "type": "string",
            "enum": [
              "UP",
              "DOWN",
              "TERMINATING",
              "PENDING"
            ]
          },
          "spark_version": {
            "type": "string"
          },
          "presto_version": {
            "type": "string"
          },
          "ec2_settings": {
            "type": "object"
          },
          "node_configuration": {
            "type": "object"
          },
          "hadoop_settings": {
            "type": "object"
          },
          "security_settings": {
            "type": "object"
          }
        }
      },
      "ClusterCreateRequest": {
        "type": "object",
        "required": [
          "label"
        ],
        "properties": {
          "label": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "presto_version": {
            "type": "string"
          },
          "spark_version": {
            "type": "string"
          },
          "ec2_settings": {
            "type": "object"
          },
          "node_configuration": {
            "type": "object"
          },
          "hadoop_settings": {
            "type": "object"
          },
          "security_settings": {
            "type": "object"
          },
          "presto_settings": {
            "type": "object"
          },
          "spark_settings": {
            "type": "object"
          }
        }
      },
      "CommandSubmitRequest": {
        "type": "object",
        "required": [
          "command_type"
        ],
        "properties": {
          "query": {
            "type": "string"
          },
          "script_location": {
            "type": "string"
          },
          "command_type": {
            "type": "string",
            "enum": [
              "HiveCommand",
              "PrestoCommand",
              "SparkCommand",
              "PigCommand",
              "ShellCommand",
              "HadoopCommand"
            ]
          },
          "label": {
            "type": "string"
          },
          "retry": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ]
          },
          "retry_delay": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timeout": {
            "type": "integer",
            "default": 129600
          }
        }
      },
      "Command": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "cancelled",
              "done",
              "error",
              "running",
              "waiting"
            ]
          },
          "command_type": {
            "type": "string"
          },
          "progress": {
            "type": "number"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "submit_time": {
            "type": "string"
          },
          "start_time": {
            "type": "string"
          },
          "end_time": {
            "type": "string"
          },
          "command": {
            "type": "string"
          },
          "throttled": {
            "type": "boolean"
          }
        }
      },
      "CommandResults": {
        "type": "object",
        "properties": {
          "inline": {
            "type": "boolean"
          },
          "results": {
            "type": "string"
          },
          "result_location": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiTokenAuth": []
    }
  ]
}