{
  "openapi": "3.0.0",
  "info": {
    "title": "Ballsportdirekt Stockly API",
    "contact": {
      "name": "ZeyOS GmbH & Co. KG",
      "url": "https://www.zeyos.com",
      "email": "support@zeyos.com"
    },
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/zeyos/api-stockly/v1/swagger.json",
    "description": "Ballsportdirekt Stockly API"
  },
  "servers": [
    {
      "url": "https://cloud.zeyos.com/sportfreunde/remotecall/ballsportdirekt.shop.api-stockly",
      "description": "ZeyOS Ballsportdirekt"
    }
  ],
  "components": {
    "parameters": {
      "ID": {
        "name": "ID",
        "in": "path",
        "required": true,
        "description": "Unique ID",
        "schema": {
          "type": "integer"
        }
      }
    },
    "responses": {
      "401": {
        "description": "Unauthorized",
        "headers": {
          "WWW-Authenticate": {
            "description": "Preferred authentication scheme ([RFC 7235](http://tools.ietf.org/html/rfc7235#section-4.1))",
            "schema": {
              "type": "string",
              "example": "Bearer realm=\"my_instance\""
            }
          }
        },
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Unauthorized: Invalid token for bearer authentication"
            }
          }
        }
      },
      "403": {
        "description": "Forbidden",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "Forbidden: Lacking access permission"
            }
          }
        }
      },
      "500": {
        "description": "Runtime Error (Internal Server Error)",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "example": "I am afraid I can't do that Dave!"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/items": {
      "get": {
        "summary": "Get Items",
        "description": "Get all items as CSV (with `;` as delimiter).",
        "operationId": "getItems",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Disposition": {
                "description": "Content disposition (always `attachment`) with filename",
                "schema": {
                  "type": "string",
                  "example": "attachment filename=\"stockly_items.csv\""
                }
              }
            },
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "items"
        ]
      }
    },
    "/stock": {
      "get": {
        "summary": "Get Stock",
        "description": "Get stock information of all available items by barcode (excluded items are implicitly not available). Nested shop-in-stock values are returned as a JSON-encoded strings and must be decoded for each item.",
        "operationId": "getStock",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "stock"
        ]
      }
    },
    "/order": {
      "put": {
        "summary": "Create Order",
        "description": "Create an order.",
        "operationId": "createOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipient": {
                    "type": "string",
                    "description": "Recipient",
                    "example": "Customer, Inc."
                  },
                  "address": {
                    "type": "string",
                    "description": "Address (street and building/suite number)",
                    "example": "123 Main St."
                  },
                  "postalcode": {
                    "type": "string",
                    "description": "Postal or ZIP code",
                    "example": "95060"
                  },
                  "city": {
                    "type": "string",
                    "description": "City or municipality",
                    "example": "Anytown"
                  },
                  "region": {
                    "type": "string",
                    "description": "Region or state",
                    "example": "CA"
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^([A-Z]{2})?$",
                    "description": "Country code ([ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2))",
                    "example": "US"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number",
                    "example": "+1 123-456-7890"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "barcode": {
                          "type": "string",
                          "description": "Barcode (EAN)",
                          "example": "501234567890"
                        },
                        "amount": {
                          "type": "number",
                          "format": "double",
                          "default": 0,
                          "description": "Amount (quantity)"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Creation (Created)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Transaction ID",
                      "example": 1
                    },
                    "ownergroup": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true,
                      "default": null,
                      "description": "Owner group ID (`null`=PUBLIC)",
                      "example": null
                    },
                    "creator": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true,
                      "description": "Creator user ID (defaults to authenticated user on creation)",
                      "example": 6
                    },
                    "assigneduser": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true,
                      "default": null,
                      "description": "Assigned user ID",
                      "example": 6
                    },
                    "creationdate": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Creation date and time as a [Unix time](http://en.wikipedia.org/wiki/Unix_time) stamp (defaults to current date and time on creation)",
                      "example": 872838840
                    },
                    "lastmodified": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Last modification date and time as a [Unix time](http://en.wikipedia.org/wiki/Unix_time) stamp (auto-reset on modification)",
                      "example": 872838840
                    },
                    "account": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true,
                      "default": null,
                      "description": "Account ID; must be `null` for PRODUCTION",
                      "example": 7
                    },
                    "item": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true,
                      "default": null,
                      "description": "Item ID; is required for PRODUCTION, otherwise must be `null`",
                      "example": null
                    },
                    "contract": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true,
                      "default": null,
                      "description": "Contract ID",
                      "example": null
                    },
                    "transactionnum": {
                      "type": "string",
                      "minLength": 1,
                      "description": "Transaction number",
                      "example": "BI-0117.12345"
                    },
                    "type": {
                      "type": "integer",
                      "enum": [
                        0,
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10,
                        11
                      ],
                      "default": 0,
                      "description": "Transaction type (`0`=BILLING_QUOTE, `1`=BILLING_ORDER, `2`=BILLING_DELIVERY, `3`=BILLING_INVOICE, `4`=BILLING_CREDIT, `5`=PROCUREMENT_REQUEST, `6`=PROCUREMENT_ORDER, `7`=PROCUREMENT_DELIVERY, `8`=PROCUREMENT_INVOICE, `9`=PROCUREMENT_CREDIT, `10`=PRODUCTION_FABRICATION, `11`=PRODUCTION_DISASSEMBLY)",
                      "example": 3
                    },
                    "date": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Designated date and time as a [Unix time](http://en.wikipedia.org/wiki/Unix_time) stamp (defaults to current date and time on creation)",
                      "example": 872838840
                    },
                    "duedate": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true,
                      "default": null,
                      "description": "Due date as a [Unix time](http://en.wikipedia.org/wiki/Unix_time) stamp",
                      "example": null
                    },
                    "status": {
                      "type": "integer",
                      "enum": [
                        0,
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10,
                        11,
                        12,
                        13,
                        14,
                        15,
                        16,
                        17,
                        18,
                        19,
                        20,
                        21,
                        22,
                        23
                      ],
                      "default": 0,
                      "description": "Status (`0`=DRAFT, `1`=BOOKED, `2`=HOLD, `3`=CANCELLED, `4`=CLOSED, `5`=PARTLYORDERED, `6`=PARTLYORDERED_CANCELLED, `7`=PARTLYORDERED_CLOSED, `8`=ORDERED, `9`=PARTLYDELIVERED, `10`=PARTLYDELIVERED_CANCELLED, `11`=PARTLYDELIVERED_CLOSED, `12`=DELIVERED, `13`=PARTLYINVOICED, `14`=PARTLYINVOICED_CANCELLED, `15`=PARTLYINVOICED_CLOSED, `16`=INVOICED, `17`=PARTLYPAID, `18`=PARTLYPAID_CANCELLED, `19`=PARTLYPAID_CLOSED, `20`=PAID, `21`=OVERPAID, `22`=PROCESSED, `23`=PROCESSED_CANCELLED)"
                    },
                    "productionfactor": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true,
                      "minimum": 0,
                      "exclusiveMinimum": true,
                      "default": null,
                      "description": "Production factor; is required for PRODUCTION, otherwise must be `null`",
                      "example": null
                    },
                    "taxid": {
                      "type": "string",
                      "description": "Tax ID (e.g. VATIN or SSN)",
                      "example": "DE123456789"
                    },
                    "currency": {
                      "type": "string",
                      "pattern": "^[A-Z]{3}$",
                      "description": "Currency code ([ISO 4217](http://en.wikipedia.org/wiki/ISO_4217))",
                      "example": "EUR"
                    },
                    "exchangerate": {
                      "type": "number",
                      "format": "double",
                      "minimum": 0,
                      "exclusiveMinimum": true,
                      "default": 1,
                      "description": "Exchange rate as a multiple of one monetary unit of the fixed system currency"
                    },
                    "shippingrecipient": {
                      "type": "string",
                      "description": "Shipping recipient",
                      "example": "Customer, Inc."
                    },
                    "shippingaddress": {
                      "type": "string",
                      "description": "Shipping address (street and building/suite number)",
                      "example": "123 Main St."
                    },
                    "shippingpostalcode": {
                      "type": "string",
                      "description": "Shipping postal or ZIP code",
                      "example": "95060"
                    },
                    "shippingcity": {
                      "type": "string",
                      "description": "Shipping city or municipality",
                      "example": "Anytown"
                    },
                    "shippingregion": {
                      "type": "string",
                      "description": "Shipping region or state",
                      "example": "CA"
                    },
                    "shippingcountry": {
                      "type": "string",
                      "pattern": "^([A-Z]{2})?$",
                      "description": "Shipping country code ([ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2))",
                      "example": "US"
                    },
                    "billingrecipient": {
                      "type": "string",
                      "description": "Billing recipient",
                      "example": "Customer, Inc."
                    },
                    "billingaddress": {
                      "type": "string",
                      "description": "Billing address (street and building/suite number)",
                      "example": "123 Main St."
                    },
                    "billingpostalcode": {
                      "type": "string",
                      "description": "Billing postal or ZIP code",
                      "example": "95060"
                    },
                    "billingcity": {
                      "type": "string",
                      "description": "Billing city or municipality",
                      "example": "Anytown"
                    },
                    "billingregion": {
                      "type": "string",
                      "description": "Billing region or state",
                      "example": "CA"
                    },
                    "billingcountry": {
                      "type": "string",
                      "pattern": "^([A-Z]{2})?$",
                      "description": "Billing country code ([ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2))",
                      "example": "US"
                    },
                    "discount": {
                      "type": "number",
                      "format": "double",
                      "description": "Total absolute discount",
                      "example": 20
                    },
                    "netamount": {
                      "type": "number",
                      "format": "double",
                      "description": "Total net amount",
                      "example": 100
                    },
                    "tax": {
                      "type": "number",
                      "format": "double",
                      "description": "Total tax amount",
                      "example": 19
                    },
                    "weight": {
                      "type": "number",
                      "format": "double",
                      "minimum": 0,
                      "default": 0,
                      "description": "Total shipping weight in kilogram"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "order"
        ]
      }
    },
    "/order/{ID}": {
      "get": {
        "summary": "Get Order Status",
        "description": "Get the status of an existing order by **`ID`**.",
        "operationId": "getOrderStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "duedate": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true,
                      "default": null,
                      "description": "Due date as a [Unix time](http://en.wikipedia.org/wiki/Unix_time) stamp",
                      "example": null
                    },
                    "status": {
                      "type": "integer",
                      "enum": [
                        0,
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10,
                        11,
                        12,
                        13,
                        14,
                        15,
                        16,
                        17,
                        18,
                        19,
                        20,
                        21,
                        22,
                        23
                      ],
                      "default": 0,
                      "description": "Status (`0`=DRAFT, `1`=BOOKED, `2`=HOLD, `3`=CANCELLED, `4`=CLOSED, `5`=PARTLYORDERED, `6`=PARTLYORDERED_CANCELLED, `7`=PARTLYORDERED_CLOSED, `8`=ORDERED, `9`=PARTLYDELIVERED, `10`=PARTLYDELIVERED_CANCELLED, `11`=PARTLYDELIVERED_CLOSED, `12`=DELIVERED, `13`=PARTLYINVOICED, `14`=PARTLYINVOICED_CANCELLED, `15`=PARTLYINVOICED_CLOSED, `16`=INVOICED, `17`=PARTLYPAID, `18`=PARTLYPAID_CANCELLED, `19`=PARTLYPAID_CLOSED, `20`=PAID, `21`=OVERPAID, `22`=PROCESSED, `23`=PROCESSED_CANCELLED)"
                    },
                    "shippingmethod": {
                      "type": "string",
                      "description": "Shipping method (e.g. `DHL`, `HERMES`, `UPS`)",
                      "example": "DHL"
                    },
                    "trackingnum": {
                      "type": "string",
                      "description": "Tracking number",
                      "example": "00340434632380803881"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "order"
        ]
      },
      "delete": {
        "summary": "Cancel Order",
        "description": "Cancel an existing order by **`ID`**.",
        "operationId": "cancelOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Deletion (No Content)"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Uncancellable (Conflict)"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "order"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "items"
    },
    {
      "name": "order"
    },
    {
      "name": "stock"
    }
  ]
}
