{
  "openapi": "3.0.3",
  "info": {
    "title": "Code.gov API",
    "description": "The Code.gov API provides access to the U.S. Federal Government's open source software inventory. It allows searching and retrieving metadata about code repositories published by federal agencies under the Federal Source Code Policy.",
    "version": "2.0.0",
    "contact": {
      "name": "Code.gov",
      "url": "https://code.gov"
    },
    "license": {
      "name": "Creative Commons Zero v1.0 Universal",
      "url": "https://creativecommons.org/publicdomain/zero/1.0/"
    },
    "x-jentic-source-url": "https://code.gov"
  },
  "servers": [
    {
      "url": "https://api.code.gov/api",
      "description": "Code.gov API production server"
    }
  ],
  "tags": [
    {
      "name": "repos",
      "description": "Federal source code repositories"
    },
    {
      "name": "terms",
      "description": "Indexed terms from repository data"
    },
    {
      "name": "agencies",
      "description": "Federal agencies with code inventories"
    },
    {
      "name": "languages",
      "description": "Programming languages used across the inventory"
    },
    {
      "name": "status",
      "description": "Agency compliance status information"
    },
    {
      "name": "version",
      "description": "API version information"
    }
  ],
  "paths": {
    "/repos": {
      "get": {
        "summary": "Search and list repositories",
        "description": "Retrieve indexed code repositories with full-text search and filtering capabilities.",
        "operationId": "listRepos",
        "tags": ["repos"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Full-text search query across all indexed repository properties.",
            "schema": { "type": "string" }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of results per page.",
            "schema": { "type": "integer", "default": 10 }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Offset for pagination.",
            "schema": { "type": "integer", "default": 0 }
          },
          {
            "name": "agency.name",
            "in": "query",
            "description": "Filter by agency name.",
            "schema": { "type": "string" }
          },
          {
            "name": "agency.acronym",
            "in": "query",
            "description": "Filter by agency acronym.",
            "schema": { "type": "string" }
          },
          {
            "name": "agency.website",
            "in": "query",
            "description": "Filter by agency website URL.",
            "schema": { "type": "string" }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by repository status.",
            "schema": { "type": "string" }
          },
          {
            "name": "vcs",
            "in": "query",
            "description": "Filter by version control system.",
            "schema": { "type": "string", "enum": ["git", "svn"] }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by repository name.",
            "schema": { "type": "string" }
          },
          {
            "name": "organization",
            "in": "query",
            "description": "Filter by organization.",
            "schema": { "type": "string" }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by repository tags.",
            "schema": { "type": "string" }
          },
          {
            "name": "languages",
            "in": "query",
            "description": "Filter by programming languages.",
            "schema": { "type": "string" }
          },
          {
            "name": "contact.name",
            "in": "query",
            "description": "Filter by contact name.",
            "schema": { "type": "string" }
          },
          {
            "name": "contact.email",
            "in": "query",
            "description": "Filter by contact email.",
            "schema": { "type": "string" }
          },
          {
            "name": "permissions.licenses.name",
            "in": "query",
            "description": "Filter by license name.",
            "schema": { "type": "string" }
          },
          {
            "name": "permissions.usageType",
            "in": "query",
            "description": "Filter by usage type.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["openSource", "governmentWideReuse", "exemptByLaw", "exemptByNationalSecurity", "exemptByAgencySystem", "exemptByAgencyMission", "exemptByCIO", "exemptByPolicyDate"]
              }
            }
          },
          {
            "name": "laborHours",
            "in": "query",
            "description": "Filter by labor hours dedicated.",
            "schema": { "type": "number" }
          },
          {
            "name": "date.created",
            "in": "query",
            "description": "Filter by creation date. Supports range operators (_gte, _lte, _gt, _lt).",
            "schema": { "type": "string" }
          },
          {
            "name": "date.lastModified",
            "in": "query",
            "description": "Filter by last modification date. Supports range operators (_gte, _lte, _gt, _lt).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of repositories.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepoListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/repos/{repoId}": {
      "get": {
        "summary": "Get a specific repository",
        "description": "Retrieve details for a specific code repository by its unique identifier.",
        "operationId": "getRepo",
        "tags": ["repos"],
        "parameters": [
          {
            "name": "repoId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the repository.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with repository details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Repo" }
              }
            }
          },
          "404": {
            "description": "Repository not found.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/terms": {
      "get": {
        "summary": "List indexed terms",
        "description": "Extract indexed terms from the repository data for faceting and filtering.",
        "operationId": "listTerms",
        "tags": ["terms"],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "Filter by term value (partial matching supported).",
            "schema": { "type": "string" }
          },
          {
            "name": "term_type",
            "in": "query",
            "description": "Filter by term type.",
            "schema": { "type": "string" }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of results per page.",
            "schema": { "type": "integer", "default": 10 }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Offset for pagination.",
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of terms.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Term" }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/agencies": {
      "get": {
        "summary": "List all agencies",
        "description": "Retrieve all federal agencies that have code inventories in the system.",
        "operationId": "listAgencies",
        "tags": ["agencies"],
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "description": "Number of agencies to return.",
            "schema": { "type": "integer" }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Offset for pagination.",
            "schema": { "type": "integer" }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort direction by agency name.",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of agencies.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Agency" }
                }
              }
            }
          }
        }
      }
    },
    "/agencies/{agency_acronym}": {
      "get": {
        "summary": "Get a specific agency",
        "description": "Retrieve information about a specific federal agency by its acronym.",
        "operationId": "getAgency",
        "tags": ["agencies"],
        "parameters": [
          {
            "name": "agency_acronym",
            "in": "path",
            "required": true,
            "description": "Agency acronym (e.g., GSA, DOD, NASA).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with agency details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Agency" }
              }
            }
          },
          "404": {
            "description": "Agency not found.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "summary": "List programming languages",
        "description": "Retrieve a list of programming languages used across the federal code inventory.",
        "operationId": "listLanguages",
        "tags": ["languages"],
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "description": "Number of languages to return.",
            "schema": { "type": "integer" }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Offset for pagination.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of languages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Language" }
                }
              }
            }
          }
        }
      }
    },
    "/repo.json": {
      "get": {
        "summary": "Get repository JSON schema",
        "description": "Access the repository JSON schema definition used for code inventory validation.",
        "operationId": "getRepoJson",
        "tags": ["repos"],
        "responses": {
          "200": {
            "description": "Successful response with JSON schema.",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/status.json": {
      "get": {
        "summary": "Get compliance status data",
        "description": "Retrieve agency compliance status data in JSON format.",
        "operationId": "getStatusJson",
        "tags": ["status"],
        "responses": {
          "200": {
            "description": "Successful response with compliance status data.",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "summary": "Get compliance dashboard",
        "description": "View an HTML-rendered compliance dashboard showing agency compliance with the Federal Source Code Policy.",
        "operationId": "getStatus",
        "tags": ["status"],
        "responses": {
          "200": {
            "description": "HTML page showing compliance status.",
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/status/{agencyName}/issues": {
      "get": {
        "summary": "Get agency compliance issues",
        "description": "List grouped repository validation issues for a specific agency.",
        "operationId": "getAgencyIssues",
        "tags": ["status"],
        "parameters": [
          {
            "name": "agencyName",
            "in": "path",
            "required": true,
            "description": "Agency name.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML page listing agency issues.",
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              }
            }
          },
          "404": {
            "description": "Agency not found.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/status/{agencyName}/fetched": {
      "get": {
        "summary": "Get agency fetched repositories",
        "description": "Display indexed repositories for a specific agency.",
        "operationId": "getAgencyFetched",
        "tags": ["status"],
        "parameters": [
          {
            "name": "agencyName",
            "in": "path",
            "required": true,
            "description": "Agency name.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with agency repositories.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Repo" }
              }
            }
          },
          "404": {
            "description": "Agency not found.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "summary": "Get API version",
        "description": "Retrieve the current API version and build information.",
        "operationId": "getVersion",
        "tags": ["version"],
        "responses": {
          "200": {
            "description": "Successful response with version information.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Version" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Repo": {
        "type": "object",
        "properties": {
          "repoID": {
            "type": "string",
            "description": "Unique identifier for the repository."
          },
          "name": {
            "type": "string",
            "description": "Repository name."
          },
          "description": {
            "type": "string",
            "description": "Description of the repository."
          },
          "tags": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Tags associated with the repository."
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "agency": {
            "$ref": "#/components/schemas/Agency"
          },
          "laborHours": {
            "type": "number",
            "description": "Labor hours dedicated to the project."
          },
          "repositoryURL": {
            "type": "string",
            "format": "uri",
            "description": "URL of the source code repository."
          },
          "homepageURL": {
            "type": "string",
            "format": "uri",
            "description": "URL of the project homepage."
          },
          "permissions": {
            "$ref": "#/components/schemas/Permissions"
          },
          "vcs": {
            "type": "string",
            "description": "Version control system type."
          },
          "disclaimerText": {
            "type": "string",
            "description": "Disclaimer text for the repository."
          },
          "disclaimerURL": {
            "type": "string",
            "format": "uri",
            "description": "URL to full disclaimer."
          },
          "relatedCode": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "URL": { "type": "string", "format": "uri" }
              }
            },
            "description": "Related code repositories."
          },
          "reusedCode": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "URL": { "type": "string", "format": "uri" }
              }
            },
            "description": "Code reused from other sources."
          },
          "date": {
            "type": "object",
            "properties": {
              "created": { "type": "string", "format": "date-time" },
              "lastModified": { "type": "string", "format": "date-time" },
              "metadataLastUpdated": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "RepoListResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of matching repositories."
          },
          "repos": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Repo" }
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "twitter": { "type": "string" },
          "phone": { "type": "string" }
        }
      },
      "Agency": {
        "type": "object",
        "properties": {
          "acronym": {
            "type": "string",
            "description": "Agency acronym."
          },
          "name": {
            "type": "string",
            "description": "Full agency name."
          },
          "website": {
            "type": "string",
            "format": "uri",
            "description": "Agency website URL."
          },
          "codeUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the agency's code.json file."
          },
          "numRepos": {
            "type": "integer",
            "description": "Number of repositories indexed for this agency."
          }
        }
      },
      "Permissions": {
        "type": "object",
        "properties": {
          "usageType": {
            "type": "string",
            "enum": ["openSource", "governmentWideReuse", "exemptByLaw", "exemptByNationalSecurity", "exemptByAgencySystem", "exemptByAgencyMission", "exemptByCIO", "exemptByPolicyDate"],
            "description": "Type of usage permission."
          },
          "exemptionText": {
            "type": "string",
            "description": "Text explaining the exemption, if applicable."
          },
          "licenses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "URL": { "type": "string", "format": "uri" },
                "name": { "type": "string" }
              }
            }
          }
        }
      },
      "Term": {
        "type": "object",
        "properties": {
          "term_key": { "type": "string" },
          "term": { "type": "string" },
          "term_type": { "type": "string" },
          "count": { "type": "integer" },
          "count_normalized": { "type": "number" },
          "score": { "type": "number" }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Programming language name."
          },
          "numRepos": {
            "type": "integer",
            "description": "Number of repositories using this language."
          }
        }
      },
      "Version": {
        "type": "object",
        "properties": {
          "version": { "type": "string" },
          "git-hash": { "type": "string" },
          "git-repository": { "type": "string" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    }
  }
}
