{
  "openapi": "3.0.0",
  "info": {
    "description": "Api de pago con PagoEfectivo",
    "version": "1.0.0-oas3",
    "title": "API PagoEfectivo",
    "termsOfService": "http://www.niubiz.com.pe",
    "contact": {
      "name": "Niubiz",
      "url": "http://www.niubiz.com.pe",
      "email": "Niubiz@niubiz.com.pe"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.pagoefectivo/1.0.0-oas3/swagger.json"
  },
  "servers": [
    {
      "url": "https://apitestenv.vnforapps.com/api.pagoefectivo/v1",
      "description": "Url que corresponde al entorno de integraci\u00f3n"
    },
    {
      "url": "https://apiprod.vnforapps.com/api.pagoefectivo/v1",
      "description": "Url que corresponde al entorno de producci\u00f3n"
    }
  ],
  "tags": [
    {
      "name": "Pago Api",
      "description": "RESTful API to pay with PagoEfectivo."
    },
    {
      "name": "PagoEfectivo Api"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token de acceso obtenido en la respuesta del api.security"
      }
    }
  },
  "paths": {
    "/create/{merchantId}": {
      "post": {
        "tags": [
          "PagoEfectivo Api"
        ],
        "summary": "Query",
        "description": "RESTful API to manage canales.",
        "parameters": [
          {
            "in": "path",
            "name": "merchantId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "C\u00f3digo de comercio VisaNet. Ejemplo '341198210'"
          }
        ],
        "requestBody": {
          "description": "Request a enviar para la autorizaci\u00f3n de una venta",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "channel",
                  "email",
                  "amount",
                  "externalTransactionId"
                ],
                "properties": {
                  "channel": {
                    "type": "string",
                    "description": "Canal desde donde se origin\u00f3 la operaci\u00f3n. Puede ser uno de los siguientes valores:\n- `web` Si son operaciones realizadas con el bot\u00f3n de pago web\n- `mobile` Si son operaciones realizadas con la librer\u00eda de pago app\n- `pasarela` Si son operaciones realizadas con la API de autorizaci\u00f3n para el producto comercio electr\u00f3nico\n- `callcenter` Si son operaciones realizadas con la API de autorizaci\u00f3n para el producto telepago\n- `recurrent` Si son operaciones realizadas con la API de autorizaci\u00f3n para el producto pago programado\n",
                    "example": "web",
                    "enum": [
                      "web",
                      "mobile",
                      "pasarela",
                      "callcenter",
                      "recurrent"
                    ]
                  },
                  "email": {
                    "type": "string",
                    "description": "Correo del tarjetahabiente a quien se le enviar\u00e1 la copia del email del CIP generado",
                    "example": "prueba@gmail.com",
                    "maxLength": 100
                  },
                  "firstName": {
                    "type": "string",
                    "description": "Nombre y apellidos del tarjetahabiente",
                    "example": "Luis Perez",
                    "maxLength": 60
                  },
                  "amount": {
                    "type": "string",
                    "description": "Monto del pago. Debe estar en formato #.## con 2 decimales y d\u00edgito caracter",
                    "example": "100.00",
                    "maxLength": 18
                  },
                  "externalTransactionId": {
                    "type": "string",
                    "description": "Identificador \u00fanico de la transacci\u00f3n",
                    "example": "218f9cff-9131-1154-2919-d0b319912351",
                    "maxLength": 36
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Autorizaci\u00f3n de venta realizada con \u00e9xito",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "cip": {
                      "type": "number",
                      "description": "n\u00famero de CIP de PagoEfectivo",
                      "maxLength": 7,
                      "example": 2556869
                    },
                    "cipUrl": {
                      "type": "string",
                      "description": "URL de html de constancia de PagoEfectivo",
                      "example": "https://pre1a.payment.pagoefectivo.pe/50493E3B-0872-4A98-A7CF-552CA3605C88.html"
                    },
                    "expiryDate": {
                      "type": "string",
                      "description": "Fecha de expiraci\u00f3n del CIP. Formato YYYY-mm-dd HH:mm:ss",
                      "example": "2020-07-24 23:59:59"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error relacionado a acceso no autorizado",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Unauthorized access"
                }
              }
            }
          },
          "400": {
            "description": "Error en la autorizaci\u00f3n de la venta",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorCode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "C\u00f3digo de error de la operaci\u00f3n. Siempre es el valor `400`",
                      "example": 400
                    },
                    "errorMessage": {
                      "type": "string",
                      "description": "Mensaje de error de la operaci\u00f3n",
                      "example": "Merchant can't create cips"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-create-by-merchantid"
      }
    }
  }
}
