{
  "openapi": "3.0.3",
  "paths": {
    "/links": {
      "post": {
        "operationId": "createLink",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLinkDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkDTO"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                }
              }
            }
          }
        },
        "tags": [
          "links"
        ],
        "description": "Createlink"
      }
    },
    "/links/{id}": {
      "put": {
        "operationId": "updateLink",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditLinkDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkDTO"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                }
              }
            }
          }
        },
        "tags": [
          "links"
        ],
        "description": "Updatelink"
      },
      "delete": {
        "operationId": "deleteLink",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                }
              }
            }
          }
        },
        "tags": [
          "links"
        ],
        "description": "Deletelink"
      }
    }
  },
  "info": {
    "title": "Short Menu API",
    "description": "Short Menu URL shortening API for creating, updating, and deleting short links.",
    "version": "1.0",
    "contact": {},
    "x-jentic-source-url": "https://docs.shortmenu.com/api-reference/introduction"
  },
  "tags": [
    {
      "name": "links"
    }
  ],
  "servers": [
    {
      "url": "https://api.shortmenu.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "schemas": {
      "DomainDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "ErrorResponseDTO": {
        "type": "object",
        "properties": {
          "code": {
            "enum": [
              "LINK_LIMIT_REACHED"
            ],
            "type": "string"
          },
          "errorDescription": {
            "type": "string"
          }
        },
        "required": [
          "errorDescription"
        ]
      },
      "TagDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "LinkDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string"
          },
          "destinationUrl": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "domain": {
            "$ref": "#/components/schemas/DomainDTO"
          },
          "shortUrl": {
            "type": "string"
          },
          "clickCount": {
            "type": "number"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagDTO"
            }
          }
        },
        "required": [
          "id",
          "createdAt",
          "destinationUrl",
          "slug",
          "domain",
          "shortUrl",
          "tags"
        ]
      },
      "CreateLinkDTO": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagDTO"
            }
          },
          "destinationUrl": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        },
        "required": [
          "tags",
          "destinationUrl",
          "domain"
        ]
      },
      "EditLinkDTO": {
        "type": "object",
        "properties": {
          "destinationUrl": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagDTO"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
