{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "contact@ijenko.com",
      "name": "IJENKO",
      "url": "http://developers.ijenko.com/"
    },
    "title": "IoE² IoT API - to create end-user applications",
    "version": "3.0.0",
    "x-apisguru-categories": [
      "iot"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/ijenko.net/3.0.0/swagger.yaml",
    "x-logo": {
      "backgroundColor": "#383D41",
      "url": "https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_1706275304__0_logo_carr__fd_gris_400x400.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "http://developers.ijenko.com/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "ijenko.net"
  },
  "servers": [
    {
      "url": "https://ioe2api.ijenko.net/"
    }
  ],
  "paths": {
    "/account/change-password": {
      "post": {
        "responses": {
          "204": {
            "description": "Change successful."
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessAccount"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Account"
        ],
        "description": "Set a new password for the account.\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "Account.changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthChangePassword"
              }
            }
          },
          "description": "Old and new password",
          "required": true
        },
        "summary": "Change the password"
      }
    },
    "/account/places": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlaceItem"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              }
            },
            "description": "Successful response"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessAccount"
          }
        },
        "tags": [
          "Account"
        ],
        "description": "List the *Places* of the account.\n\n**Note:** requires full access to the *Account*.\n",
        "operationId": "Account.places",
        "summary": "List Places of the Account"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceCreated"
                }
              }
            },
            "description": "*Place* successfully created.",
            "headers": {
              "Location": {
                "description": "Path of the Place created (`/places/{id}`)",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessAccount"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Account"
        ],
        "description": "Create a new *Place*.\n\nA *Device* (`class`: `MINT`, `address`: `0`) is automatically created and attached to the new *Place*.\n\n**Note:** requires full access to the *Account*.\n",
        "operationId": "Account.newPlace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceNew"
              }
            }
          }
        },
        "summary": "Create a Place"
      }
    },
    "/account/tokens": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/UserTokenItem"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              }
            },
            "description": "Successful."
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessAccount"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Account"
        ],
        "description": "List the active *Tokens* on the account.\n\n**Note:** requires full access to the *Account*.\n",
        "operationId": "Account.tokens",
        "summary": "List active Tokens of the Account"
      }
    },
    "/account/tokens/{tokenId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/tokenId"
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "$ref": "#/components/responses/DeleteOK"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessAccount"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Account"
        ],
        "description": "Revoke the given *Token*.\n\n**Note:** requires full access to the *Account*.\n",
        "operationId": "Account.revokeToken",
        "summary": "Revoke a Token"
      }
    },
    "/account/users": {
      "parameters": [],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/embedMetadata"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/UserItem"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              }
            },
            "description": "Successful."
          }
        },
        "tags": [
          "Account"
        ],
        "description": "Get the list of *Users* of this *Account*.",
        "operationId": "Account.users",
        "summary": "List Users of the Account"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCreated"
                }
              }
            },
            "description": "*User* successfully created.",
            "headers": {
              "Location": {
                "description": "Path of the User created",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessAccount"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Account"
        ],
        "description": "Add a *User*.\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "Account.newUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserNew"
              }
            }
          },
          "required": true
        },
        "summary": "New User"
      }
    },
    "/account/users/{userId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/userId"
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "$ref": "#/components/responses/DeleteOK"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessAccount"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Account"
        ],
        "description": "Delete a *User* from this *Account*, and revoke all his/her *Tokens*.\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "Account.deleteUser",
        "summary": "Delete a User"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "*User* information.\n"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Account"
        ],
        "description": "Get information about a *User* in the same *Account*.",
        "operationId": "Account.getUser",
        "summary": "Information about a User"
      },
      "patch": {
        "responses": {
          "204": {
            "$ref": "#/components/responses/PatchOK"
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessAccount"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Account"
        ],
        "description": "Modify a *User*.\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "Account.patchUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPatch"
              }
            }
          },
          "required": true
        },
        "summary": "Modify a User"
      }
    },
    "/account/users/{userId}/metadata": {
      "parameters": [
        {
          "$ref": "#/components/parameters/userId"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Account"
        ],
        "description": "Get the metadata.",
        "operationId": "User.getMetadata",
        "summary": "List metadata"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            },
            "description": "Successful. The new metadata is returned."
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessUser"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Account"
        ],
        "description": "Modify the metadata.\nKeys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.\n",
        "operationId": "User.patchMetadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataPatch"
              }
            }
          },
          "description": "Modifications to apply to the metadata of the resource.\n",
          "required": true
        },
        "summary": "Modify metadata"
      }
    },
    "/auth/login": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokens"
                }
              }
            },
            "description": "Login successful. The access token is given to use the API. The refresh token must be stored in a safe place."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultError"
                }
              }
            },
            "description": "Authentication failure."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "security": [],
        "tags": [
          "Authentication",
          "Entry points"
        ],
        "description": "Get an access+refresh tokens pair from login and password information.\n\nThe *access token* obtained with this request can then be used in\nan `Access-Token` HTTP header or in a `token` URL query parameter\nin requests that require authentication.\n\nThe *refresh token* can be used with `/auth/refresh` when the *access\ntoken* expires to retrieve a new *access token*. The lifetime of the\nrefresh token is the maximum lifetime of this authentication request.\n\nThe default lifetime of the *refresh token* is defined by the `appId`\nused. The `ttl` input parameter allows to request a *refresh token*\nwith a shorter lifetime.\n\nTo implement *logout*, use `/auth/revoke`.\n",
        "operationId": "AuthAccountLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthLogin"
              }
            }
          },
          "description": "Login information.",
          "required": true
        },
        "summary": "Get a token using login+password"
      }
    },
    "/auth/refresh": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokens"
                }
              }
            },
            "description": "Refresh successful. A new access token is given to use the API."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultError"
                }
              }
            },
            "description": "Authentication failure."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "security": [],
        "tags": [
          "Authentication"
        ],
        "description": "Get a new *access token* using a valid *refresh token*.\n\nThis is a **replacement** of the *access token*: if an existing *access\ntoken* was still not expired, it is invalidated.\n",
        "operationId": "AuthRefreshToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRefresh"
              }
            }
          },
          "description": "Refresh token information.",
          "required": true
        },
        "summary": "Refresh a token"
      }
    },
    "/auth/reset-password": {
      "post": {
        "responses": {
          "204": {
            "description": "As this request is not authenticated, response is always successful to not reveal (in)existence of accounts."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "security": [],
        "tags": [
          "Authentication"
        ],
        "description": "Trigger the request of a new password.\n\nThe account administrator will receive an e-mail with an URL pointing to a form\nto allow him/her to enter a new password.\nThe old password is still functional until a new one is submitted.\n\nEither the login or e-mail of the account must be given.\n",
        "operationId": "AuthResetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthResetPassword"
              }
            }
          },
          "description": "Account identification information",
          "required": true
        },
        "summary": "Ask for a new password"
      }
    },
    "/auth/revoke": {
      "post": {
        "responses": {
          "204": {
            "description": "Revocation successful. The token used for the request is now invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultError"
                }
              }
            },
            "description": "Authentication failure."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Authentication"
        ],
        "description": "Invalidate the authentication used for the request. The access token and the refresh token will be invalid after this request.\nThis request is typically called to implement logout.\n",
        "operationId": "AuthRevokeToken",
        "summary": "Revoke a token"
      }
    },
    "/devices/{deviceId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Device"
        ],
        "description": "Get information about a *Device*.",
        "operationId": "Devices.get",
        "summary": "Information about a Device"
      },
      "patch": {
        "responses": {
          "204": {
            "$ref": "#/components/responses/PatchOK"
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessDevice"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Device"
        ],
        "description": "Modify information about a *Device*: its name.\n",
        "operationId": "Devices.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DevicePatch"
              }
            }
          },
          "required": true
        },
        "summary": "Update a Device"
      }
    },
    "/devices/{deviceId}/functionalities": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceId"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunctionalityCreated"
                }
              }
            },
            "description": "*Functionality* successfully created.",
            "headers": {
              "Location": {
                "description": "Path of the Functionality created",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessDevice"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Device",
          "Functionality"
        ],
        "description": "Add a *Functionality* to the device.\n\nRequired parameters are :\n- functionality class\n- endpoint\n\nEach device class has its own restrictions on which Functionality classes can be added and on which endpoints.\nOnly a few devices allow to add Functionalities.\n\n|Device class|Functionality class|Endpoints|\n|------------|-------------------|---------|\n|MINT        |CurrentPeriod      |1,2,3    |\n|MINT        |ElectricityRates   |1,2,3    |\n|MINT        |GenericRate        |1,2,3    |\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "Device.addFunctionality",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionalityNew"
              }
            }
          },
          "required": true
        },
        "summary": "Add dynamically a functionality"
      }
    },
    "/devices/{deviceId}/metadata": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Device"
        ],
        "description": "Get the metadata.",
        "operationId": "Device.getMetadata",
        "summary": "List metadata"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            },
            "description": "Successful. The new metadata is returned."
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessDevice"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Device"
        ],
        "description": "Modify the metadata.\nKeys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.\n",
        "operationId": "Device.patchMetadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataPatch"
              }
            }
          },
          "description": "Modifications to apply to the metadata of the resource.\n",
          "required": true
        },
        "summary": "Modify metadata"
      }
    },
    "/devices/{deviceId}/run/{action}": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceId"
          },
          {
            "$ref": "#/components/parameters/action"
          },
          {
            "$ref": "#/components/parameters/functionalitiesSelector.Req"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActionMultiResultOK"
          },
          "450": {
            "$ref": "#/components/responses/ErrorGatewayUnreachable"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Action"
        ],
        "description": "Run an *Action* on zero, one or multiple Functionalities selected with tags.\n",
        "operationId": "Device.run",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionArgs"
              }
            }
          },
          "required": true
        },
        "summary": "Run actions"
      }
    },
    "/devices/{deviceId}/tags": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deviceId"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tags"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Device"
        ],
        "description": "Get the tags of a *Device*.",
        "operationId": "Device.getTags",
        "summary": "List tags"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tags"
                }
              }
            },
            "description": "Successful. The new list of tags is returned."
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessDevice"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Device"
        ],
        "description": "Modify the tags of a *Device*.",
        "operationId": "Device.patchTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagsPatch"
              }
            }
          },
          "description": "Modifications to apply to the tags list of the resource.\n",
          "required": true
        },
        "summary": "Modify tags"
      }
    },
    "/functionalities/{functionalityId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/functionalityId"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Functionality"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Functionality"
        ],
        "description": "Get the *Functionality*.",
        "operationId": "Functionalities.get",
        "summary": "Information about a Functionality"
      },
      "patch": {
        "responses": {
          "204": {
            "$ref": "#/components/responses/PatchOK"
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessFunctionality"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Functionality"
        ],
        "description": "Modify information about a *Functionality*: its name.\n",
        "operationId": "Functionality.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionalityPatch"
              }
            }
          },
          "required": true
        },
        "summary": "Modify a Functionality"
      }
    },
    "/functionalities/{functionalityId}/attributes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/functionalityId"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/attributesNames"
          },
          {
            "$ref": "#/components/parameters/from.Opt"
          },
          {
            "$ref": "#/components/parameters/to"
          },
          {
            "description": "If true, return also one value before from and one value after to",
            "in": "query",
            "name": "surround",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributesValues"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Functionality"
        ],
        "description": "Get the values of multiple *Attributes* and their history.\n\nIf the `names` parameter is not given, all the attributes of the *Functionality*\nare returned. As the list may be huge, this must be avoided.\n\nIf the `to` parameter is set, `from` must also be set.\n\nIf `from` is not set, only the last value is returned.\n\nThe `surround` parameter allows to ask also for one value beyond each interval boundaries.\n\nThe request may fail if too many values are asked.\n",
        "operationId": "Functionality.values",
        "summary": "Get history of multiple attributes"
      }
    },
    "/functionalities/{functionalityId}/attributes/{attributeName}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/functionalityId"
        },
        {
          "$ref": "#/components/parameters/attributeName"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeValue"
                }
              }
            },
            "description": "Successful."
          },
          "204": {
            "description": "No value has yet been set on this attribute."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Functionality"
        ],
        "description": "Get the *Attribute* value and the last time when it changed.",
        "operationId": "Functionality.value",
        "summary": "Get an Attribute value"
      },
      "put": {
        "responses": {
          "204": {
            "description": "Successful."
          },
          "405": {
            "$ref": "#/components/responses/ErrorWriteAttribute"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Functionality"
        ],
        "description": "Modify the value of the *Attribute*.",
        "operationId": "Functionality.set",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          },
          "description": "New value for the *Attribute*.",
          "required": true
        },
        "summary": "Modify an Attribute value"
      }
    },
    "/functionalities/{functionalityId}/metadata": {
      "parameters": [
        {
          "$ref": "#/components/parameters/functionalityId"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Functionality"
        ],
        "description": "Get the metadata.",
        "operationId": "Functionality.getMetadata",
        "summary": "List metadata"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            },
            "description": "Successful. The new metadata is returned."
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessFunctionality"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Functionality"
        ],
        "description": "Modify the metadata.\nKeys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.\n",
        "operationId": "Functionality.patchMetadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataPatch"
              }
            }
          },
          "description": "Modifications to apply to the metadata of the resource.\n",
          "required": true
        },
        "summary": "Modify metadata"
      }
    },
    "/functionalities/{functionalityId}/run/{action}": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/functionalityId"
          },
          {
            "$ref": "#/components/parameters/action"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResult"
                }
              }
            },
            "description": "Successful."
          },
          "450": {
            "$ref": "#/components/responses/ErrorGatewayUnreachable"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Action"
        ],
        "description": "Run an action on the Functionality.\n",
        "operationId": "Functionality.run",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionArgs"
              }
            }
          },
          "required": true
        },
        "summary": "Run an action"
      }
    },
    "/functionalities/{functionalityId}/tags": {
      "parameters": [
        {
          "$ref": "#/components/parameters/functionalityId"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tags"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Functionality"
        ],
        "description": "Get the tags of a *Functionality*.",
        "operationId": "Functionality.getTags",
        "summary": "List tags"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tags"
                }
              }
            },
            "description": "Successful. The new list of tags is returned."
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessFunctionality"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Functionality"
        ],
        "description": "Modify the tags of a *Functionality*.",
        "operationId": "Functionality.patchTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagsPatch"
              }
            }
          },
          "description": "Modifications to apply to the tags list of the resource.\n",
          "required": true
        },
        "summary": "Modify tags"
      }
    },
    "/me": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserMe"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "tags": [
          "Entry points"
        ],
        "description": "Get information on the authenticated *User* who does the request.\n\nThe *login* property is returned only if the *User* is the administrator of\nthe *Account*.\n",
        "operationId": "Me.get",
        "summary": "Information about the User"
      },
      "patch": {
        "responses": {
          "204": {
            "$ref": "#/components/responses/PatchOK"
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Entry points"
        ],
        "description": "Update *User* information (locale).\n",
        "operationId": "Me.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserMePatch"
              }
            }
          },
          "description": "Updated user info.",
          "required": true
        },
        "summary": "Update User information"
      }
    },
    "/notifications/{notificationId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notificationId"
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "$ref": "#/components/responses/DeleteOK"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessNotification"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "Delete a *Notification*.\n",
        "operationId": "Notification.delete",
        "summary": "Delete a Notification"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            },
            "description": "Successful."
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessNotification"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "Get information about a *Notification*.\n",
        "operationId": "Notifications.get",
        "summary": "Information about a Notification"
      },
      "patch": {
        "responses": {
          "204": {
            "$ref": "#/components/responses/PatchOK"
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessNotification"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "Modify a *Notification*.\n",
        "operationId": "Notification.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPatch"
              }
            }
          },
          "required": true
        },
        "summary": "Modify a Notification"
      }
    },
    "/notifications/{notificationId}/metadata": {
      "parameters": [
        {
          "$ref": "#/components/parameters/notificationId"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "Get the metadata of the *Notification*.",
        "operationId": "Notification.getMetadata",
        "summary": "List metadata"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            },
            "description": "Successful. The new metadata is returned."
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessNotification"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "Modify the metadata of a *Notification*.\nKeys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.\n",
        "operationId": "Notification.patchMetadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataPatch"
              }
            }
          },
          "description": "Modifications to apply to the metadata of the resource.\n",
          "required": true
        },
        "summary": "Modify metadata of a Notification"
      }
    },
    "/places": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/embedMetadata"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlaceItem"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              }
            },
            "description": "Successful response"
          }
        },
        "tags": [
          "Entry points"
        ],
        "description": "List the *Places* to which the *Token* has access.",
        "operationId": "Me.places",
        "summary": "List accessible Places"
      }
    },
    "/places/{placeId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/placeId"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Place"
                }
              }
            },
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/ErrorAccessPlace"
          }
        },
        "tags": [
          "Place"
        ],
        "description": "Get information about a *Place*.",
        "operationId": "Places.get",
        "summary": "Information about a Place"
      },
      "patch": {
        "responses": {
          "204": {
            "$ref": "#/components/responses/PatchOK"
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessAccount"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Place"
        ],
        "description": "Change information about a *Place*.\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "Place.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlacePatch"
              }
            }
          },
          "required": true
        },
        "summary": "Update a Place"
      }
    },
    "/places/{placeId}/buses": {
      "parameters": [
        {
          "$ref": "#/components/parameters/placeId"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Filter out buses that have no pairing window",
            "in": "query",
            "name": "withPairing",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BusItem"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              }
            },
            "description": "Successful."
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessBus"
          }
        },
        "tags": [
          "Place"
        ],
        "description": "Get the list of *Buses* available on the gateway of this *Place*.\nIf `withPairing` is `true`, return only buses that allow device pairing (see `/places/{placeId}/buses/{busId}/pairing`).",
        "operationId": "Place.buses",
        "summary": "List Buses"
      }
    },
    "/places/{placeId}/buses/{busId}/pairing": {
      "parameters": [
        {
          "$ref": "#/components/parameters/placeId"
        },
        {
          "$ref": "#/components/parameters/busId"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusPairing"
                }
              }
            },
            "description": "State information."
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessBus"
          }
        },
        "tags": [
          "Place"
        ],
        "description": "Get the state of the pairing window of the *Bus*.\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "Place.pairing",
        "summary": "State of the pairing window"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusPairing"
                }
              }
            },
            "description": "State information."
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessBus"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Place"
        ],
        "description": "Open/Close the pairing window.\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "Place.openPairing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusPairing"
              }
            }
          },
          "required": true
        },
        "summary": "Open/Close the pairing window"
      }
    },
    "/places/{placeId}/devices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/placeId"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/devicesSelector.Opt"
          },
          {
            "$ref": "#/components/parameters/embedMetadata"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DeviceItem"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Device"
        ],
        "description": "Get the list of *Devices* available in this *Place*.",
        "operationId": "Place.devices",
        "summary": "List of Devices"
      }
    },
    "/places/{placeId}/electricity/autonomy": {
      "parameters": [
        {
          "$ref": "#/components/parameters/placeId"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/when.Req"
          },
          {
            "$ref": "#/components/parameters/span.Req"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElectricityAutonomy"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Electricity"
        ],
        "description": "Compute the autonomy rate of the *Place* on a time period.\n\n`autonomy = 1 - (elec_drawn / elec_total_usage)`\n",
        "operationId": "Place.Electricity.autonomy",
        "summary": "Get autonomy rate of the place"
      }
    },
    "/places/{placeId}/electricity/flows": {
      "parameters": [
        {
          "$ref": "#/components/parameters/placeId"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Names of the flows requested",
            "in": "query",
            "name": "flows",
            "required": true,
            "schema": {
              "items": {
                "enum": [
                  "battery_charge",
                  "battery_discharge",
                  "battery_grid",
                  "elec_total_gen",
                  "elec_total_usage",
                  "elec_feed_in",
                  "elec_drawn",
                  "elec_local",
                  "elec_from_household",
                  "elec_to_pv",
                  "elec_usage"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElectricityFlows"
                }
              }
            },
            "description": "Place is available. `code` gives the functional result."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Electricity"
        ],
        "description": "Get the mapping of virtual electricity flows to functionalities.\n\nSome rules are applied to expand the virtual flows using the concrete\nflows available.\n\nThe `factor` tells how each energy value coming from a functionality\nmust be added with values from other functionality to compute the\nenergy of the virtual flow. Factors are usually `1` or `-1`.\n\nThe `code` property gives the result which may be partial:\n- If all flows are available, `200000` is returned.\n- If no flows are available (indicating that the place has no\n  electricity functionality or that no functionality has been attached\n  to a flow), the `code` is `200001`. The `missing` property contains\n  all the requested flows.\n- If some flows are missing, the `code` is `200002` and the `missing`\n  property lists them.\n",
        "operationId": "Place.Electricity.getFlows",
        "summary": "Get electricity virtual flows"
      }
    },
    "/places/{placeId}/electricity/flows/setup": {
      "parameters": [
        {
          "$ref": "#/components/parameters/placeId"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElectricityFlowsSetup"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Electricity"
        ],
        "description": "Get the mapping of functionalities to electricity flows.\n\nA functionality is attached to *at most* one flow.\n",
        "operationId": "Place.Electricity.getFlowsSetup",
        "summary": "Get electricity flows setup"
      }
    },
    "/places/{placeId}/electricity/self-consumption": {
      "parameters": [
        {
          "$ref": "#/components/parameters/placeId"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/when.Req"
          },
          {
            "$ref": "#/components/parameters/span.Req"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElectricitySelfConsumption"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Electricity"
        ],
        "description": "Compute the self-consumption rate of the *Place* on a time period.\n\n`selfConsumption = 1 - (elec_feed_in / elec_total_usage)`\n",
        "operationId": "Place.Electricity.selfConsumption",
        "summary": "Get self-consumption rate of the place"
      }
    },
    "/places/{placeId}/functionalities": {
      "parameters": [
        {
          "$ref": "#/components/parameters/placeId"
        },
        {
          "$ref": "#/components/parameters/devicesSelector.Opt"
        },
        {
          "$ref": "#/components/parameters/functionalitiesSelector.Opt"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/embedMetadata"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FunctionalityItem"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Functionality"
        ],
        "description": "Get the list of *Functionalities* available in this *Place*.",
        "operationId": "Place.functionalities",
        "summary": "List Functionalities"
      }
    },
    "/places/{placeId}/metadata": {
      "parameters": [
        {
          "$ref": "#/components/parameters/placeId"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Place"
        ],
        "description": "Get the metadata.",
        "operationId": "Place.getMetadata",
        "summary": "List metadata"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            },
            "description": "Successful. The new metadata is returned."
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessPlace"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Place"
        ],
        "description": "Modify the metadata.\nKeys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.\n",
        "operationId": "Place.patchMetadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataPatch"
              }
            }
          },
          "description": "Modifications to apply to the metadata of the resource.\n",
          "required": true
        },
        "summary": "Modify metadata"
      }
    },
    "/places/{placeId}/notifications": {
      "parameters": [
        {
          "$ref": "#/components/parameters/placeId"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/embedMetadata"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/NotificationItem"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "Get the list of *Notifications* available in this *Place*.",
        "operationId": "Place.notifications",
        "summary": "List Notifications"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationCreated"
                }
              }
            },
            "description": "*Notification* successfully created.",
            "headers": {
              "Location": {
                "description": "Path of the Notification created (`/notifications/{id}`)",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessPlace"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Notification"
        ],
        "description": "Create a new *Notification*.",
        "operationId": "Place.newNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationNew"
              }
            }
          },
          "required": true
        },
        "summary": "Create a Notification"
      }
    },
    "/places/{placeId}/programs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/placeId"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/embedMetadata"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ProgramItem"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Get the list of *Programs* available in this *Place*.",
        "operationId": "Place.programs",
        "summary": "List Programs"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramCreated"
                }
              }
            },
            "description": "*Program* successfully created.",
            "headers": {
              "Location": {
                "description": "Path of the Program created (`/programs/{id}`)",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessPlace"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Create a new *Program*.\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "Place.newProgram",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgramNew"
              }
            }
          },
          "required": true
        },
        "summary": "Create a Program"
      }
    },
    "/places/{placeId}/run/{action}": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/placeId"
          },
          {
            "$ref": "#/components/parameters/action"
          },
          {
            "$ref": "#/components/parameters/devicesSelector.Req"
          },
          {
            "$ref": "#/components/parameters/functionalitiesSelector.Req"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActionMultiResultOK"
          },
          "450": {
            "$ref": "#/components/responses/ErrorGatewayUnreachable"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Action"
        ],
        "description": "Run an *Action* on zero, one or multiple *Functionalities* selected with tags.\n\n*Device* and *Functionality* selection are combined with « AND ».\n\nIf no functionality is matched by the device/functionality selection, an empty array is returned.\n",
        "operationId": "Place.run",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionArgs"
              }
            }
          },
          "required": true
        },
        "summary": "Run actions"
      }
    },
    "/programs/{programId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/programId"
        }
      ],
      "delete": {
        "responses": {
          "204": {
            "$ref": "#/components/responses/DeleteOK"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessProgram"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Delete a *Program*.\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "Program.delete",
        "summary": "Delete a Program"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Program"
                }
              }
            },
            "description": "Successful."
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessProgram"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Get information about a *Program*.\n",
        "operationId": "Programs.get",
        "summary": "Information about a Program"
      },
      "patch": {
        "responses": {
          "204": {
            "$ref": "#/components/responses/PatchOK"
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessProgram"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Modify a *Program*:\n- name\n- status (enabled/disabled)\n- code\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "Program.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgramPatch"
              }
            }
          },
          "required": true
        },
        "summary": "Modify a Program"
      }
    },
    "/programs/{programId}/log": {
      "parameters": [
        {
          "$ref": "#/components/parameters/programId"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/from.Req"
          },
          {
            "$ref": "#/components/parameters/to"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ProgramLog"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              }
            },
            "description": "Successful."
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessProgram"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Get the execution history list of this *Program*.",
        "operationId": "Program.log",
        "summary": "History of executions of a Program"
      }
    },
    "/programs/{programId}/metadata": {
      "parameters": [
        {
          "$ref": "#/components/parameters/programId"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Get the metadata of the *Program*.",
        "operationId": "Program.getMetadata",
        "summary": "List metadata"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            },
            "description": "Successful. The new metadata is returned."
          },
          "304": {
            "$ref": "#/components/responses/PatchNotModified"
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessProgram"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Modify the metadata of a *Program*.\nKeys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.\n",
        "operationId": "Program.patchMetadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetadataPatch"
              }
            }
          },
          "description": "Modifications to apply to the metadata of the resource.\n",
          "required": true
        },
        "summary": "Modify metadata of a Program"
      }
    },
    "/programs/{programId}/run": {
      "parameters": [
        {
          "$ref": "#/components/parameters/programId"
        }
      ],
      "post": {
        "responses": {
          "204": {
            "description": "*Program* successfully launched."
          },
          "403": {
            "$ref": "#/components/responses/ErrorAccessProgram"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Launch the *Program*.\nThe result will be available later in the run history.",
        "operationId": "Program.run",
        "summary": "Run the Program"
      }
    }
  },
  "components": {
    "parameters": {
      "accountId": {
        "description": "Unique identifier of an *Account*.",
        "in": "path",
        "name": "accountId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "action": {
        "description": "Identifier of an *Action* inside a *Functionality*.",
        "in": "path",
        "name": "action",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "attributeName": {
        "description": "Identifier of an *Attribute* inside a *Functionality*.",
        "in": "path",
        "name": "attributeName",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "attributesNames": {
        "description": "One or multiple *Attribute* names separated by commas",
        "in": "query",
        "name": "names",
        "required": false,
        "schema": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "style": "form"
      },
      "busId": {
        "description": "Unique identifier of a *Bus*.",
        "in": "path",
        "name": "busId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "deviceId": {
        "description": "Unique identifier of a *Device*.",
        "in": "path",
        "name": "deviceId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "devicesSelector.Opt": {
        "description": "Devices selector. Device tags or device classes or device ids or '*' for any. Multiple values are separated by '|' and interpreted as « OR ».",
        "in": "query",
        "name": "devices",
        "required": false,
        "schema": {
          "pattern": "^(?:\\\\*|(?:[A-Z][A-Z0-9]{3}|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22})(?:\\\\|(?:[A-Z][A-Z0-9]{3}|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22}))*)$",
          "type": "string"
        }
      },
      "devicesSelector.Req": {
        "description": "Devices selector. Device tags or device classes or device ids or '*' for any. Multiple values are separated by '|' and interpreted as « OR ».",
        "in": "query",
        "name": "devices",
        "required": true,
        "schema": {
          "pattern": "^(?:\\\\*|(?:[A-Z][A-Z0-9]{3}|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22})(?:\\\\|(?:[A-Z][A-Z0-9]{3}|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22}))*)$",
          "type": "string"
        }
      },
      "embedMetadata": {
        "description": "Request to include the given keys of metadata in the response. If a key doesn't exist on the resource it is ignored.\n**Note:** This only applies to the top level resources.\n",
        "in": "query",
        "name": "embed-metadata",
        "required": false,
        "schema": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "style": "form"
      },
      "from.Opt": {
        "description": "Beginning of the time interval.",
        "in": "query",
        "name": "from",
        "required": false,
        "schema": {
          "format": "date-time",
          "type": "string"
        }
      },
      "from.Req": {
        "description": "Beginning of the time interval.",
        "in": "query",
        "name": "from",
        "required": true,
        "schema": {
          "format": "date-time",
          "type": "string"
        }
      },
      "functionalitiesSelector.Opt": {
        "description": "Functionality selector: Functionality tags or functionality class (optionally, '@' followed by a endpoint in decimal) or '*' for all. Multiple values are separated by '|' and are interpreted as « OR ».\n",
        "in": "query",
        "name": "functionalities",
        "required": false,
        "schema": {
          "pattern": "^(?:\\\\*|(?:[A-Z][A-Za-z0-9]+(?:@(?:0|1[0-9]{,2}|[3-9][0-9]?|2(?:[0-4][0-9]?|5[0-5]?|[6-9])?))?|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22})(?:\\\\|(?:[A-Z][A-Za-z0-9]+(?:@(?:0|1[0-9]{,2}|[3-9][0-9]?|2(?:[0-4][0-9]?|5[0-5]?|[6-9])?))?|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22}))*)$",
          "type": "string"
        }
      },
      "functionalitiesSelector.Req": {
        "description": "Functionality selector: Functionality tags or functionality class (optionally, '@' followed by a endpoint in decimal) or '*' for all. Multiple values are separated by '|' and are interpreted as « OR ».\n",
        "in": "query",
        "name": "functionalities",
        "required": true,
        "schema": {
          "pattern": "^(?:\\\\*|(?:[A-Z][A-Za-z0-9]+(?:@(?:0|1[0-9]{,2}|[3-9][0-9]?|2(?:[0-4][0-9]?|5[0-5]?|[6-9])?))?|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22})(?:\\\\|(?:[A-Z][A-Za-z0-9]+(?:@(?:0|1[0-9]{,2}|[3-9][0-9]?|2(?:[0-4][0-9]?|5[0-5]?|[6-9])?))?|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22}))*)$",
          "type": "string"
        }
      },
      "functionalityId": {
        "description": "Unique identifier of a *Functionality*.",
        "in": "path",
        "name": "functionalityId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "notificationId": {
        "description": "Unique identifier of a *Notification*.",
        "in": "path",
        "name": "notificationId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "placeId": {
        "description": "Unique identifier of a *Place*.",
        "in": "path",
        "name": "placeId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "programId": {
        "description": "Unique identifier of a *Program*.",
        "in": "path",
        "name": "programId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "span.Req": {
        "description": "Timespan: H (hour), D (day), Wmo (week starting on Monday), Wsu (week starting on Sunday), M (month), Y (year)",
        "in": "query",
        "name": "span",
        "required": true,
        "schema": {
          "enum": [
            "H",
            "D",
            "Wmo",
            "Wsu",
            "M",
            "Y"
          ],
          "type": "string"
        }
      },
      "to": {
        "description": "End of the interval. Default: now.\n",
        "in": "query",
        "name": "to",
        "required": false,
        "schema": {
          "format": "date-time",
          "type": "string"
        }
      },
      "tokenId": {
        "description": "Identifier of the token",
        "in": "path",
        "name": "tokenId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "userId": {
        "description": "Unique identifier of a *User*.",
        "in": "path",
        "name": "userId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "when.Req": {
        "description": "A time part of the time span.",
        "in": "query",
        "name": "when",
        "required": true,
        "schema": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "responses": {
      "ActionMultiResultOK": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ActionMultiResult"
            }
          }
        },
        "description": "Successful."
      },
      "DefaultError": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DefaultError"
            }
          }
        },
        "description": "Other error."
      },
      "DeleteOK": {
        "description": "Resource successfully deleted."
      },
      "ErrorAccessAccount": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEntity"
            }
          }
        },
        "description": "The authentication token doesn't allow to modify the *Account*.\n"
      },
      "ErrorAccessBus": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorSubEntity"
            }
          }
        },
        "description": "*Bus* doesn't exist or the requester doesn't have appropriate access to the *Place*.\n"
      },
      "ErrorAccessDevice": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEntity"
            }
          }
        },
        "description": "*Device* doesn't exist or the requester doesn't have appropriate access to the *Place*.\n"
      },
      "ErrorAccessFunctionality": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEntity"
            }
          }
        },
        "description": "*Functionality* doesn't exist or the requester doesn't have appropriate access to the *Place*.\n"
      },
      "ErrorAccessNotification": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEntity"
            }
          }
        },
        "description": "*Notification* doesn't exist or the requester doesn't have appropriate access to the *Place*.\n"
      },
      "ErrorAccessPlace": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEntity"
            }
          }
        },
        "description": "*Place* doesn't exist or the requester doesn't have access.\n"
      },
      "ErrorAccessProgram": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEntity"
            }
          }
        },
        "description": "*Program* doesn't exist or the requester doesn't have appropriate access to the *Place*.\n"
      },
      "ErrorAccessUser": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEntity"
            }
          }
        },
        "description": "*User* doesn't exist in this *Account* or the requester doesn't have access to a *Place* on which this *User* has access.\n"
      },
      "ErrorGatewayUnreachable": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorGatewayUnreachable"
            }
          }
        },
        "description": "The gateway of the Place is not reachable."
      },
      "ErrorWriteAttribute": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorSubEntity"
            }
          }
        },
        "description": "*Attribute* is not writable.\n"
      },
      "PatchNotModified": {
        "description": "Successful, but nothing changed."
      },
      "PatchOK": {
        "description": "Modification successful."
      }
    },
    "requestBodies": {
      "ActionArgs": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ActionArgs"
            }
          }
        },
        "required": true
      },
      "MetadataPatch": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/MetadataPatch"
            }
          }
        },
        "description": "Modifications to apply to the metadata of the resource.\n",
        "required": true
      },
      "TagsPatch": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TagsPatch"
            }
          }
        },
        "description": "Modifications to apply to the tags list of the resource.\n",
        "required": true
      }
    },
    "schemas": {
      "AccountId": {
        "description": "Unique identifier of the *Account*",
        "example": "t1hqYcQITCFX-AObjs_t4Q",
        "maxLength": 22,
        "minLength": 22,
        "pattern": "^[A-Za-z0-9-_]{22}$",
        "readOnly": true,
        "type": "string"
      },
      "AccountLogin": {
        "minLength": 1,
        "type": "string"
      },
      "ActionArgs": {
        "example": [
          true,
          1,
          "hello"
        ],
        "items": {
          "$ref": "#/components/schemas/AnyJSON"
        },
        "type": "array"
      },
      "ActionMultiResult": {
        "items": {
          "$ref": "#/components/schemas/ActionResult"
        },
        "type": "array"
      },
      "ActionName": {
        "minLength": 1,
        "readOnly": true,
        "type": "string"
      },
      "ActionResult": {
        "example": {
          "functionality": "RnVuY3Rpb25hbGl0eTAwMA",
          "result": [],
          "status": 200
        },
        "properties": {
          "functionality": {
            "$ref": "#/components/schemas/FunctionalityId"
          },
          "result": {
            "items": {
              "$ref": "#/components/schemas/AnyJSON"
            },
            "type": "array"
          },
          "status": {
            "description": "Return code (HTTP status code)",
            "example": 200,
            "maximum": 599,
            "minimum": 200,
            "type": "integer"
          }
        },
        "required": [
          "status"
        ],
        "type": "object",
        "x-links": [
          {
            "href": "/functionalities/{functionality}",
            "rel": "functionality"
          }
        ]
      },
      "AnyJSON": {
        "description": "null/boolean/integer/number/string/object/array",
        "x-type": "any"
      },
      "AppId": {
        "minLength": 1,
        "type": "string"
      },
      "AttributeName": {
        "minLength": 1,
        "readOnly": true,
        "type": "string"
      },
      "AttributeValue": {
        "example": {
          "value": 0,
          "when": "2014-02-17 12:31:00+00:00"
        },
        "properties": {
          "value": {
            "$ref": "#/components/schemas/AnyJSON"
          },
          "when": {
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "when",
          "value"
        ],
        "type": "object"
      },
      "AttributesValues": {
        "additionalProperties": {
          "items": {
            "$ref": "#/components/schemas/AttributeValue"
          },
          "type": "array"
        },
        "description": "Keys are attribute ids",
        "example": {
          "Counter": [
            {
              "value": 0,
              "when": "2014-02-17 12:31:00+00:00"
            }
          ],
          "Schedule": [
            {
              "value": [
                {
                  "DTSTAMP": "20120101T000000Z",
                  "DTSTART": {
                    "": "20120101T063000",
                    "TZID": "Europe/Paris"
                  },
                  "RRULE": {
                    "FREQ": "DAILY"
                  },
                  "SUMMARY": "2",
                  "UID": "HP-06h30@si.ijenko.net"
                },
                {
                  "DTSTAMP": "20120101T000000Z",
                  "DTSTART": {
                    "": "20120101T223000",
                    "TZID": "Europe/Paris"
                  },
                  "RRULE": {
                    "FREQ": "DAILY"
                  },
                  "SUMMARY": "3",
                  "UID": "HC-22h30@si.ijenko.net"
                }
              ],
              "when": "2014-02-17 00:00:00+00:00"
            }
          ]
        },
        "type": "object"
      },
      "AuthChangePassword": {
        "properties": {
          "newPassword": {
            "$ref": "#/components/schemas/Password"
          },
          "oldPassword": {
            "$ref": "#/components/schemas/Password"
          }
        },
        "required": [
          "oldPassword",
          "newPassword"
        ],
        "type": "object"
      },
      "AuthLogin": {
        "properties": {
          "appId": {
            "$ref": "#/components/schemas/AppId"
          },
          "login": {
            "minLength": 1,
            "type": "string"
          },
          "password": {
            "$ref": "#/components/schemas/Password"
          },
          "ttl": {
            "description": "Desired maximum life-time in seconds for the refresh token",
            "example": 1800,
            "minimum": 0,
            "type": "integer"
          }
        },
        "required": [
          "login",
          "password",
          "appId"
        ],
        "type": "object"
      },
      "AuthRefresh": {
        "properties": {
          "appId": {
            "$ref": "#/components/schemas/AppId"
          },
          "refreshToken": {
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "refreshToken",
          "appId"
        ],
        "type": "object"
      },
      "AuthResetPassword": {
        "properties": {
          "appId": {
            "$ref": "#/components/schemas/AppId"
          },
          "email": {
            "$ref": "#/components/schemas/UserEmail"
          },
          "login": {
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "appId"
        ],
        "type": "object"
      },
      "AuthTokens": {
        "properties": {
          "accessToken": {
            "minLength": 1,
            "type": "string"
          },
          "accessTokenExpires": {
            "format": "date-time",
            "type": "string"
          },
          "refreshToken": {
            "minLength": 1,
            "type": "string"
          },
          "refreshTokenExpires": {
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "accessTokenExpires",
          "refreshTokenExpires"
        ],
        "type": "object"
      },
      "BusId": {
        "minLength": 3,
        "type": "string"
      },
      "BusItem": {
        "properties": {
          "functionality": {
            "$ref": "#/components/schemas/FunctionalityId"
          },
          "id": {
            "$ref": "#/components/schemas/BusId"
          },
          "protocol": {
            "$ref": "#/components/schemas/BusProtocol"
          }
        },
        "readOnly": true,
        "required": [
          "id",
          "functionality",
          "protocol"
        ],
        "type": "object"
      },
      "BusPairing": {
        "properties": {
          "duration": {
            "description": "Duration of the pairing window.",
            "type": "integer"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "enabled"
        ],
        "type": "object"
      },
      "BusProtocol": {
        "minLength": 1,
        "type": "string"
      },
      "CountryCode": {
        "description": "Country code (ISO 3166-1 alpha-2)",
        "example": "FR",
        "maxLength": 2,
        "minLength": 2,
        "pattern": "^[A-Z][A-Z]$",
        "type": "string"
      },
      "DefaultError": {
        "description": "Any error.",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      },
      "Device": {
        "properties": {
          "tags": {
            "items": {
              "$ref": "#/components/schemas/DeviceTag"
            },
            "type": "array",
            "uniqueItems": true
          },
          "address": {
            "$ref": "#/components/schemas/DeviceAddress"
          },
          "attributes": {
            "additionalProperties": {
              "additionalProperties": {
                "$ref": "#/components/schemas/AnyJSON"
              },
              "description": "Each key is an attribute name",
              "type": "object"
            },
            "description": "Each key is <FunctionalityClass>@<Endpoint>",
            "type": "object"
          },
          "class": {
            "$ref": "#/components/schemas/DeviceClass"
          },
          "functionalities": {
            "items": {
              "$ref": "#/components/schemas/FunctionalityItem"
            },
            "readOnly": true,
            "type": "array",
            "uniqueItems": true
          },
          "isOnline": {
            "readOnly": true,
            "type": "boolean"
          },
          "manufacturer": {
            "readOnly": true,
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "model": {
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the device. User defined.",
            "minLength": 2,
            "type": "string"
          },
          "place": {
            "$ref": "#/components/schemas/PlaceId"
          },
          "protocol": {
            "$ref": "#/components/schemas/BusProtocol"
          }
        },
        "required": [
          "place",
          "class",
          "address",
          "isOnline",
          "functionalities",
          "tags"
        ],
        "type": "object",
        "x-links": [
          {
            "href": "/places/{place}",
            "rel": "place"
          }
        ]
      },
      "DeviceAddress": {
        "minLength": 1,
        "pattern": "^[A-Z0-9]{1,32}$",
        "type": "string"
      },
      "DeviceClass": {
        "maxLength": 4,
        "minLength": 4,
        "pattern": "^[A-Z][A-Z0-9]{3}$",
        "type": "string"
      },
      "DeviceId": {
        "description": "Unique identifier of the *Device*",
        "example": "RGV2aWNlMDAwMDAwMDAwMA",
        "maxLength": 22,
        "minLength": 22,
        "pattern": "^[A-Za-z0-9-_]{22}$",
        "readOnly": true,
        "type": "string"
      },
      "DeviceItem": {
        "properties": {
          "tags": {
            "items": {
              "$ref": "#/components/schemas/DeviceTag"
            },
            "type": "array",
            "uniqueItems": true
          },
          "address": {
            "$ref": "#/components/schemas/DeviceAddress"
          },
          "class": {
            "$ref": "#/components/schemas/DeviceClass"
          },
          "id": {
            "$ref": "#/components/schemas/DeviceId"
          },
          "isOnline": {
            "type": "boolean"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataSelected"
          },
          "name": {
            "description": "Name of the *Device* as defined by the user. Can be used for user interfaces.",
            "minLength": 2,
            "type": "string"
          },
          "place": {
            "$ref": "#/components/schemas/PlaceId"
          }
        },
        "readOnly": true,
        "required": [
          "id",
          "place",
          "class",
          "address",
          "isOnline",
          "tags"
        ],
        "type": "object",
        "x-links": [
          {
            "href": "/devices/{id}",
            "rel": "full"
          },
          {
            "href": "/places/{place}",
            "rel": "place"
          }
        ]
      },
      "DevicePatch": {
        "properties": {
          "name": {
            "description": "Name of the *Device* as defined by the user. Can be used for user interfaces.",
            "minLength": 2,
            "type": "string"
          }
        },
        "type": "object"
      },
      "DeviceTag": {
        "maxLength": 21,
        "minLength": 1,
        "pattern": "^[a-z](?:[a-z0-9_]{0,20}|[a-z0-9_]:[a-z0-9_]{1,18}|[a-z0-9_]{2}:[a-z0-9_]{1,17}|[a-z0-9_]{3}:[a-z0-9_]{1,16}|[a-z0-9_]{4}:[a-z0-9_]{1,15})$",
        "type": "string"
      },
      "ElectricityAutonomy": {
        "example": {
          "autonomy": 0.4,
          "code": 200000,
          "from": "2016-03-02 09:00:00+00:00",
          "to": "2016-03-02 10:00:00+00:00"
        },
        "properties": {
          "autonomy": {
            "description": "Average electricity autonomy in % (value in range [0, 1], rounded)",
            "example": 0.4,
            "maximum": 1,
            "minimum": 0,
            "type": "number"
          },
          "code": {
            "$ref": "#/components/schemas/ElectricityStatusCode"
          },
          "from": {
            "format": "date-time",
            "type": "string"
          },
          "message": {
            "description": "Message for cases where computation is not possible (codes 200001, 200002)",
            "minLength": 1,
            "type": "string"
          },
          "to": {
            "format": "date-time",
            "type": "string"
          }
        },
        "required": [
          "code"
        ],
        "type": "object"
      },
      "ElectricityFlow": {
        "items": {
          "$ref": "#/components/schemas/ElectricityFunctionality"
        },
        "type": "array",
        "uniqueItems": true
      },
      "ElectricityFlowFormula": {
        "items": {
          "$ref": "#/components/schemas/ElectricityFlowFunctionality"
        },
        "type": "array",
        "uniqueItems": true
      },
      "ElectricityFlowFunctionality": {
        "example": {
          "class": "ElecMetering",
          "factor": 1,
          "flow": "elec_total_gen",
          "id": "RnVuY3Rpb25hbGl0eTAwMA"
        },
        "properties": {
          "class": {
            "$ref": "#/components/schemas/FunctionalityClass"
          },
          "factor": {
            "type": "integer"
          },
          "flow": {
            "$ref": "#/components/schemas/ElectricityFlowName"
          },
          "id": {
            "$ref": "#/components/schemas/FunctionalityId"
          }
        },
        "required": [
          "id",
          "class",
          "flow",
          "factor"
        ],
        "type": "object",
        "x-links": [
          {
            "href": "/functionalities/{id}",
            "rel": "full"
          }
        ]
      },
      "ElectricityFlowName": {
        "description": "Name of an electricity flow",
        "enum": [
          "battery_charge",
          "battery_discharge",
          "battery_grid",
          "elec_total_gen",
          "elec_total_usage",
          "elec_feed_in",
          "elec_drawn",
          "elec_local",
          "elec_from_household",
          "elec_to_pv",
          "elec_usage"
        ],
        "minLength": 1,
        "type": "string"
      },
      "ElectricityFlows": {
        "example": {
          "code": 200000,
          "flows": {
            "elec_local": [
              {
                "class": "ElecMetering",
                "factor": 1,
                "id": "SF4_y4SoTCpYXgGODJplJQ"
              }
            ],
            "elec_total_usage": [
              {
                "class": "ElecMetering",
                "factor": 1,
                "flow": "elec_total_gen",
                "id": "SF4_y4SoTCpYXgGODJplJQ"
              },
              {
                "class": "ElecSmartMetering",
                "factor": 1,
                "flow": "elec_drawn",
                "id": "lvxvQ9SqXCpYSqHOJI7tIA"
              },
              {
                "class": "ElecSmartMetering",
                "factor": -1,
                "flow": "elec_feed_in",
                "id": "d1xvwdWKWCpYH6GPjovnLg"
              }
            ]
          }
        },
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ElectricityStatusCode"
          },
          "flows": {
            "$ref": "#/components/schemas/ElectricityVirtualFlows"
          },
          "message": {
            "$ref": "#/components/schemas/ElectricityStatusMessage"
          },
          "missing": {
            "$ref": "#/components/schemas/ElectricityMissingFlows"
          }
        },
        "required": [
          "code"
        ],
        "type": "object"
      },
      "ElectricityFlowsSetup": {
        "example": {
          "elec_drawn": [
            {
              "class": "ElecSmartMetering",
              "id": "lvxvQ9SqXCpYSqHOJI7tIA"
            }
          ],
          "elec_feed_in": [
            {
              "class": "ElecSmartMetering",
              "id": "d1xvwdWKWCpYH6GPjovnLg"
            }
          ],
          "elec_total_gen": [
[...]
