{
  "openapi": "3.0.3",
  "info": {
    "title": "Intrinio API",
    "version": "2.0",
    "description": "The Intrinio API provides access to comprehensive financial data including real-time and historical stock prices, company fundamentals, options data, ETF holdings, analyst estimates, technical indicators, economic data, SEC filings, and more. The API uses HTTPS with RESTful endpoint structure and returns JSON responses.",
    "contact": {
      "name": "Intrinio Support",
      "url": "https://intrinio.com/help-center"
    },
    "x-jentic-source-url": "https://docs.intrinio.com/documentation/api_v2/getting_started"
  },
  "servers": [
    {
      "url": "https://api-v2.intrinio.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Company",
      "description": "Company data and fundamentals"
    },
    {
      "name": "Security",
      "description": "Security information and reference data"
    },
    {
      "name": "StockPrice",
      "description": "Real-time and historical stock prices"
    },
    {
      "name": "Options",
      "description": "Options data, chains, expirations, and pricing"
    },
    {
      "name": "ETF",
      "description": "ETF holdings and analytics"
    },
    {
      "name": "TechnicalIndicator",
      "description": "Technical analysis indicators"
    },
    {
      "name": "Fundamental",
      "description": "Financial statements and fundamentals"
    },
    {
      "name": "Estimate",
      "description": "Analyst estimates, ratings, and earnings"
    },
    {
      "name": "Filing",
      "description": "SEC filings and XBRL data"
    },
    {
      "name": "News",
      "description": "Company and market news"
    },
    {
      "name": "StockExchange",
      "description": "Stock exchange metadata"
    },
    {
      "name": "Index",
      "description": "Market indices and constituents"
    },
    {
      "name": "InsiderTransaction",
      "description": "Insider trading filings"
    },
    {
      "name": "EconomicIndex",
      "description": "Macroeconomic data"
    },
    {
      "name": "ForexPrice",
      "description": "Foreign exchange rates"
    }
  ],
  "paths": {
    "/companies": {
      "get": {
        "summary": "Get all companies",
        "tags": [
          "Company"
        ],
        "operationId": "getAllCompanies",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "latest_filing_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sic",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "SIC code filter"
          },
          {
            "name": "template",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "indu",
                "fin"
              ]
            }
          },
          {
            "name": "sector",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "industry_category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "industry_group",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/companies/{identifier}": {
      "get": {
        "summary": "Get company by identifier",
        "tags": [
          "Company"
        ],
        "operationId": "getCompany",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company ticker, CIK, or Intrinio ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Company details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/companies/{identifier}/securities": {
      "get": {
        "summary": "Get company securities",
        "tags": [
          "Company"
        ],
        "operationId": "getCompanySecurities",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company identifier"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Company securities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/companies/{identifier}/fundamentals": {
      "get": {
        "summary": "Get company fundamentals",
        "tags": [
          "Fundamental"
        ],
        "operationId": "getCompanyFundamentals",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company identifier"
          },
          {
            "name": "statement_code",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "income_statement",
                "balance_sheet_statement",
                "cash_flow_statement",
                "calculations"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "QTR",
                "FY",
                "TTM",
                "YTD"
              ]
            }
          },
          {
            "name": "fiscal_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Company fundamentals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundamentalList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/companies/{identifier}/historical_data/{tag}": {
      "get": {
        "summary": "Get company historical data",
        "tags": [
          "Company"
        ],
        "operationId": "getCompanyHistoricalData",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company identifier"
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Data tag"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Historical data points",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalDataList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/companies/{identifier}/news": {
      "get": {
        "summary": "Get company news",
        "tags": [
          "News"
        ],
        "operationId": "getCompanyNews",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company identifier"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Company news articles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/companies/{identifier}/filings": {
      "get": {
        "summary": "Get company filings",
        "tags": [
          "Filing"
        ],
        "operationId": "getCompanyFilings",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company identifier"
          },
          {
            "name": "report_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "SEC filing type (10-K, 10-Q, etc.)"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Company SEC filings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/companies/{identifier}/data_point/{tag}": {
      "get": {
        "summary": "Get company data point",
        "tags": [
          "Company"
        ],
        "operationId": "getCompanyDataPoint",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company identifier"
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Data tag (e.g., marketcap, revenue)"
          }
        ],
        "responses": {
          "200": {
            "description": "Data point value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPointValue"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/companies/{identifier}/insider_transaction_filings": {
      "get": {
        "summary": "Get insider transactions",
        "tags": [
          "InsiderTransaction"
        ],
        "operationId": "getInsiderTransactions",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company identifier"
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Insider transaction filings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderTransactionList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/companies/{identifier}/institutional_ownership": {
      "get": {
        "summary": "Get institutional ownership",
        "tags": [
          "Company"
        ],
        "operationId": "getInstitutionalOwnership",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company identifier"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Institutional ownership data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionalOwnershipList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/securities": {
      "get": {
        "summary": "Get all securities",
        "tags": [
          "Security"
        ],
        "operationId": "getAllSecurities",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "delisted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "composite_mic",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange_mic",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of securities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/securities/{identifier}": {
      "get": {
        "summary": "Get security by identifier",
        "tags": [
          "Security"
        ],
        "operationId": "getSecurity",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Security ticker or Intrinio ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Security details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Security"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/securities/{identifier}/prices": {
      "get": {
        "summary": "Get stock prices",
        "tags": [
          "StockPrice"
        ],
        "operationId": "getSecurityStockPrices",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Security identifier"
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "quarterly",
                "yearly"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Stock price history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockPriceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/securities/{identifier}/prices/realtime": {
      "get": {
        "summary": "Get realtime stock price",
        "tags": [
          "StockPrice"
        ],
        "operationId": "getSecurityRealtimePrice",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Security identifier"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "iex",
                "bats",
                "bats_delayed",
                "delayed_sip",
                "utp_delayed",
                "cta_a_delayed",
                "cta_b_delayed",
                "intrinio_mx",
                "intrinio_mx_plus"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Realtime stock price",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealtimeStockPrice"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/securities/{identifier}/prices/intraday": {
      "get": {
        "summary": "Get intraday stock prices",
        "tags": [
          "StockPrice"
        ],
        "operationId": "getSecurityIntradayPrices",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Security identifier"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Intraday prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntradayPriceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/securities/{identifier}/prices/technicals/sma": {
      "get": {
        "summary": "Simple Moving Average",
        "tags": [
          "TechnicalIndicator"
        ],
        "operationId": "getSecurityPriceTechnicalsSma",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Security identifier"
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "SMA values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicalIndicatorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/securities/{identifier}/prices/technicals/ema": {
      "get": {
        "summary": "Exponential Moving Average",
        "tags": [
          "TechnicalIndicator"
        ],
        "operationId": "getSecurityPriceTechnicalsEma",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Security identifier"
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "EMA values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicalIndicatorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/securities/{identifier}/prices/technicals/rsi": {
      "get": {
        "summary": "Relative Strength Index",
        "tags": [
          "TechnicalIndicator"
        ],
        "operationId": "getSecurityPriceTechnicalsRsi",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Security identifier"
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 14
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "RSI values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicalIndicatorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/securities/{identifier}/prices/technicals/macd": {
      "get": {
        "summary": "Moving Average Convergence Divergence",
        "tags": [
          "TechnicalIndicator"
        ],
        "operationId": "getSecurityPriceTechnicalsMacd",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Security identifier"
          },
          {
            "name": "fast_period",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 12
            }
          },
          {
            "name": "slow_period",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 26
            }
          },
          {
            "name": "signal_period",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 9
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "MACD values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicalIndicatorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/securities/{identifier}/prices/technicals/bb": {
      "get": {
        "summary": "Bollinger Bands",
        "tags": [
          "TechnicalIndicator"
        ],
        "operationId": "getSecurityPriceTechnicalsBb",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Security identifier"
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Bollinger Band values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicalIndicatorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/securities/{identifier}/prices/technicals/obv": {
      "get": {
        "summary": "On-Balance Volume",
        "tags": [
          "TechnicalIndicator"
        ],
        "operationId": "getSecurityPriceTechnicalsObv",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Security identifier"
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "OBV values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicalIndicatorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/securities/{identifier}/prices/technicals/atr": {
      "get": {
        "summary": "Average True Range",
        "tags": [
          "TechnicalIndicator"
        ],
        "operationId": "getSecurityPriceTechnicalsAtr",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Security identifier"
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 14
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "ATR values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicalIndicatorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/options/expirations/{symbol}": {
      "get": {
        "summary": "Get options expirations",
        "tags": [
          "Options"
        ],
        "operationId": "getOptionsExpirations",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Underlying symbol"
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Options expiration dates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionsExpirations"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/options/chain/{symbol}/{expiration}": {
      "get": {
        "summary": "Get options chain",
        "tags": [
          "Options"
        ],
        "operationId": "getOptionsChain",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Underlying symbol"
          },
          {
            "name": "expiration",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Expiration date YYYY-MM-DD"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "call",
                "put"
              ]
            }
          },
          {
            "name": "moneyness",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "in_the_money",
                "out_of_the_money",
                "near_the_money"
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Options chain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionsChainList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/options/prices/realtime/{identifier}": {
      "get": {
        "summary": "Get realtime option price",
        "tags": [
          "Options"
        ],
        "operationId": "getOptionRealtimePrice",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Option contract OCC code"
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Realtime option price",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionPrice"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/options/prices/{identifier}": {
      "get": {
        "summary": "Get historical option prices",
        "tags": [
          "Options"
        ],
        "operationId": "getOptionHistoricalPrices",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Option contract OCC code"
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Historical option prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionPriceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/options/greeks/{identifier}": {
      "get": {
        "summary": "Get option Greeks",
        "tags": [
          "Options"
        ],
        "operationId": "getOptionGreeks",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Option contract OCC code"
          }
        ],
        "responses": {
          "200": {
            "description": "Option Greeks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionGreeks"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/etfs": {
      "get": {
        "summary": "Get all ETFs",
        "tags": [
          "ETF"
        ],
        "operationId": "getAllEtfs",
        "parameters": [
          {
            "name": "exchange",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of ETFs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETFList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/etfs/{identifier}": {
      "get": {
        "summary": "Get ETF by identifier",
        "tags": [
          "ETF"
        ],
        "operationId": "getEtf",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ETF identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "ETF details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETF"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/etfs/{identifier}/holdings": {
      "get": {
        "summary": "Get ETF holdings",
        "tags": [
          "ETF"
        ],
        "operationId": "getEtfHoldings",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ETF identifier"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "ETF holdings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETFHoldingsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/etfs/{identifier}/analytics": {
      "get": {
        "summary": "Get ETF analytics",
        "tags": [
          "ETF"
        ],
        "operationId": "getEtfAnalytics",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ETF identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "ETF analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETFAnalytics"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/filings": {
      "get": {
        "summary": "Get all filings",
        "tags": [
          "Filing"
        ],
        "operationId": "getAllFilings",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of filings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilingList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/filings/{id}": {
      "get": {
        "summary": "Get filing by ID",
        "tags": [
          "Filing"
        ],
        "operationId": "getFilingById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Filing ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Filing details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filing"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/fundamentals/{id}": {
      "get": {
        "summary": "Get fundamental by ID",
        "tags": [
          "Fundamental"
        ],
        "operationId": "getFundamentalById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Fundamental ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Fundamental details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fundamental"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/fundamentals/{id}/standardized_financials": {
      "get": {
        "summary": "Get standardized financials",
        "tags": [
          "Fundamental"
        ],
        "operationId": "getStandardizedFinancials",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Fundamental ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Standardized financial data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardizedFinancialList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/fundamentals/{id}/reported_financials": {
      "get": {
        "summary": "Get reported financials",
        "tags": [
          "Fundamental"
        ],
        "operationId": "getReportedFinancials",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Fundamental ID"
          }
        ],
        "responses": {
          "200": {
            "description": "As-reported financial data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportedFinancialList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/stock_exchanges": {
      "get": {
        "summary": "Get all stock exchanges",
        "tags": [
          "StockExchange"
        ],
        "operationId": "getAllStockExchanges",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of exchanges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockExchangeList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/stock_exchanges/{identifier}": {
      "get": {
        "summary": "Get stock exchange",
        "tags": [
          "StockExchange"
        ],
        "operationId": "getStockExchange",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Exchange MIC or Intrinio ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockExchange"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/stock_exchanges/{identifier}/prices": {
      "get": {
        "summary": "Get exchange stock prices",
        "tags": [
          "StockExchange"
        ],
        "operationId": "getStockExchangePrices",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Exchange identifier"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange stock prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockPriceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/indices": {
      "get": {
        "summary": "Get all indices",
        "tags": [
          "Index"
        ],
        "operationId": "getAllIndices",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of indices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/indices/{identifier}": {
      "get": {
        "summary": "Get index by identifier",
        "tags": [
          "Index"
        ],
        "operationId": "getIndex",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Index identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Index details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockMarketIndex"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/indices/{identifier}/historical_data/{tag}": {
      "get": {
        "summary": "Get index historical data",
        "tags": [
          "Index"
        ],
        "operationId": "getIndexHistoricalData",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Index identifier"
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Data tag"
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Index historical data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalDataList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/company_news": {
      "get": {
        "summary": "Get all news",
        "tags": [
          "News"
        ],
        "operationId": "getAllCompanyNews",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "News articles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/zacks/eps_estimates": {
      "get": {
        "summary": "Get Zacks EPS estimates",
        "tags": [
          "Estimate"
        ],
        "operationId": "getZacksEpsEstimates",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "EPS estimates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZacksEstimateList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/zacks/sales_estimates": {
      "get": {
        "summary": "Get Zacks sales estimates",
        "tags": [
          "Estimate"
        ],
        "operationId": "getZacksSalesEstimates",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Sales estimates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZacksEstimateList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/zacks/analyst_ratings": {
      "get": {
        "summary": "Get Zacks analyst ratings",
        "tags": [
          "Estimate"
        ],
        "operationId": "getZacksAnalystRatings",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Analyst ratings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZacksRatingList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/zacks/target_price_consensuses": {
      "get": {
        "summary": "Get Zacks target price consensuses",
        "tags": [
          "Estimate"
        ],
        "operationId": "getZacksTargetPrices",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Target price consensuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZacksTargetPriceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/zacks/eps_surprises": {
      "get": {
        "summary": "Get Zacks EPS surprises",
        "tags": [
          "Estimate"
        ],
        "operationId": "getZacksEpsSurprises",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "EPS surprises",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZacksSurpriseList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/economic_indices": {
      "get": {
        "summary": "Get all economic indices",
        "tags": [
          "EconomicIndex"
        ],
        "operationId": "getAllEconomicIndices",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Economic indices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EconomicIndexList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/economic_indices/{identifier}/historical_data/{tag}": {
      "get": {
        "summary": "Get economic index data",
        "tags": [
          "EconomicIndex"
        ],
        "operationId": "getEconomicIndexData",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Economic index identifier"
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Data tag"
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Economic data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalDataList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/forex/pairs": {
      "get": {
        "summary": "Get forex pairs",
        "tags": [
          "ForexPrice"
        ],
        "operationId": "getForexPairs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Forex pairs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForexPairList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/forex/prices/{pair}/{timeframe}": {
      "get": {
        "summary": "Get forex prices",
        "tags": [
          "ForexPrice"
        ],
        "operationId": "getForexPrices",
        "parameters": [
          {
            "name": "pair",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Currency pair (e.g., EURUSD)"
          },
          {
            "name": "timeframe",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Timeframe (e.g., D1, H1)"
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Forex prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForexPriceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/data_tags": {
      "get": {
        "summary": "Get all data tags",
        "tags": [
          "Company"
        ],
        "operationId": "getAllDataTags",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Data tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataTagList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/insider_transactions": {
      "get": {
        "summary": "Get all insider transactions",
        "tags": [
          "InsiderTransaction"
        ],
        "operationId": "getAllInsiderTransactions",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Insider transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderTransactionList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/ipos": {
      "get": {
        "summary": "Get recent IPOs",
        "tags": [
          "Company"
        ],
        "operationId": "getRecentIpos",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "upcoming",
                "priced",
                "withdrawn"
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of results per page"
          },
          {
            "name": "next_page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor token for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "IPO data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPOList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient subscription"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Intrinio API key passed as query parameter"
      }
    },
    "schemas": {
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "ticker": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "lei": {
            "type": "string"
          },
          "cik": {
            "type": "string"
          },
          "sic": {
            "type": "string"
          },
          "template": {
            "type": "string"
          },
          "sector": {
            "type": "string"
          },
          "industry_category": {
            "type": "string"
          },
          "industry_group": {
            "type": "string"
          },
          "market_cap": {
            "type": "number"
          },
          "employees": {
            "type": "integer"
          },
          "short_description": {
            "type": "string"
          },
          "long_description": {
            "type": "string"
          },
          "ceo": {
            "type": "string"
          },
          "company_url": {
            "type": "string"
          },
          "business_address": {
            "type": "string"
          },
          "mailing_address": {
            "type": "string"
          },
          "business_phone_no": {
            "type": "string"
          },
          "hq_state": {
            "type": "string"
          },
          "hq_country": {
            "type": "string"
          },
          "inc_state": {
            "type": "string"
          },
          "inc_country": {
            "type": "string"
          },
          "first_stock_price_date": {
            "type": "string",
            "format": "date"
          },
          "last_stock_price_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "CompanyList": {
        "type": "object",
        "properties": {
          "companies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Company"
            }
          },
          "next_page": {
            "type": "string"
          }
        }
      },
      "Security": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "company_id": {
            "type": "string"
          },
          "ticker": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "figi": {
            "type": "string"
          },
          "composite_figi": {
            "type": "string"
          },
          "share_class_figi": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "exchange_ticker": {
            "type": "string"
          },
          "composite_ticker": {
            "type": "string"
          },
          "primary_listing": {
            "type": "boolean"
          },
          "first_stock_price": {
            "type": "string",
            "format": "date"
          },
          "last_stock_price": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "SecurityList": {
        "type": "object",
        "properties": {
          "securities": {
            "type": "array",
            "items": {
[...]
