{
  "openapi": "3.0.3",
  "info": {
    "title": "Humanity API",
    "description": "Humanity (formerly ShiftPlanning) is a workforce management platform for employee scheduling, time tracking, leave management, and reporting.",
    "version": "2.0.0",
    "contact": {
      "name": "Humanity",
      "url": "https://platform.humanity.com"
    },
    "x-jentic-source-url": "https://platform.humanity.com/"
  },
  "servers": [
    {
      "url": "https://www.humanity.com/api/v2",
      "description": "Humanity API v2"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "summary": "Get current user",
        "operationId": "getMe",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/companies": {
      "get": {
        "summary": "List companies",
        "operationId": "listCompanies",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "detailed",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "detailed_staff",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/companies/{id}": {
      "get": {
        "summary": "Get company",
        "operationId": "getCompany",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/company/settings": {
      "get": {
        "summary": "Get company settings",
        "operationId": "getCompanySettings",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      },
      "put": {
        "summary": "Update company settings",
        "operationId": "updateCompanySettings",
        "tags": [
          "Companies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        }
      }
    },
    "/company/number_of_requests": {
      "get": {
        "summary": "Get pending request counts",
        "operationId": "getRequestCounts",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/company/business": {
      "get": {
        "summary": "Get business details",
        "operationId": "getBusinessDetails",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/company/group-permissions": {
      "get": {
        "summary": "Get group permissions",
        "operationId": "getGroupPermissions",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/locations": {
      "get": {
        "summary": "List locations",
        "operationId": "listLocations",
        "tags": [
          "Locations"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      },
      "post": {
        "summary": "Create location",
        "operationId": "createLocation",
        "tags": [
          "Locations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created."
          }
        }
      }
    },
    "/locations/{id}": {
      "get": {
        "summary": "Get location",
        "operationId": "getLocation",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      },
      "put": {
        "summary": "Update location",
        "operationId": "updateLocation",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        }
      },
      "delete": {
        "summary": "Delete location",
        "operationId": "deleteLocation",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          }
        }
      }
    },
    "/positions": {
      "get": {
        "summary": "List positions",
        "operationId": "listPositions",
        "tags": [
          "Positions"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      },
      "post": {
        "summary": "Create position",
        "operationId": "createPosition",
        "tags": [
          "Positions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PositionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created."
          }
        }
      }
    },
    "/positions/{id}": {
      "get": {
        "summary": "Get position",
        "operationId": "getPosition",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      },
      "put": {
        "summary": "Update position",
        "operationId": "updatePosition",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PositionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        }
      },
      "delete": {
        "summary": "Delete position",
        "operationId": "deletePosition",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          }
        }
      }
    },
    "/employees": {
      "get": {
        "summary": "List employees",
        "operationId": "listEmployees",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      },
      "post": {
        "summary": "Create employee",
        "operationId": "createEmployee",
        "tags": [
          "Employees"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created."
          }
        }
      }
    },
    "/employees/{id}": {
      "get": {
        "summary": "Get employee",
        "operationId": "getEmployee",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      },
      "put": {
        "summary": "Update employee",
        "operationId": "updateEmployee",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        }
      },
      "delete": {
        "summary": "Delete employee",
        "operationId": "deleteEmployee",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          }
        }
      }
    },
    "/shifts": {
      "get": {
        "summary": "List shifts",
        "operationId": "listShifts",
        "tags": [
          "Shifts"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "location_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employee_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      },
      "post": {
        "summary": "Create shift",
        "operationId": "createShift",
        "tags": [
          "Shifts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShiftInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created."
          }
        }
      }
    },
    "/shifts/{id}": {
      "put": {
        "summary": "Update shift",
        "operationId": "updateShift",
        "tags": [
          "Shifts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShiftInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        }
      },
      "delete": {
        "summary": "Delete shift",
        "operationId": "deleteShift",
        "tags": [
          "Shifts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          }
        }
      }
    },
    "/timeclocks": {
      "get": {
        "summary": "List timeclocks",
        "operationId": "listTimeclocks",
        "tags": [
          "Timeclocks"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "employee_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      },
      "post": {
        "summary": "Create timeclock",
        "operationId": "createTimeclock",
        "tags": [
          "Timeclocks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeclockInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created."
          }
        }
      }
    },
    "/timeclocks/{id}": {
      "put": {
        "summary": "Update timeclock",
        "operationId": "updateTimeclock",
        "tags": [
          "Timeclocks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeclockInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        }
      },
      "delete": {
        "summary": "Delete timeclock",
        "operationId": "deleteTimeclock",
        "tags": [
          "Timeclocks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          }
        }
      }
    },
    "/timeclocks/add-clock-time": {
      "post": {
        "summary": "Add manual clock time",
        "operationId": "addClockTime",
        "tags": [
          "Timeclocks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added."
          }
        }
      }
    },
    "/leaves": {
      "get": {
        "summary": "List leaves",
        "operationId": "listLeaves",
        "tags": [
          "Leaves"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/leaves/request": {
      "post": {
        "summary": "Submit leave request",
        "operationId": "submitLeave",
        "tags": [
          "Leaves"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaveInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted."
          }
        }
      }
    },
    "/leaves/{id}": {
      "put": {
        "summary": "Update leave",
        "operationId": "updateLeave",
        "tags": [
          "Leaves"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaveInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        }
      }
    },
    "/leaves/{id}/approve": {
      "put": {
        "summary": "Approve leave",
        "operationId": "approveLeave",
        "tags": [
          "Leaves"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Approved."
          }
        }
      }
    },
    "/leaves/{id}/reject": {
      "put": {
        "summary": "Reject leave",
        "operationId": "rejectLeave",
        "tags": [
          "Leaves"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rejected."
          }
        }
      }
    },
    "/reports/schedule": {
      "get": {
        "summary": "Get schedule report",
        "operationId": "getScheduleReport",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/reports/timesheets": {
      "get": {
        "summary": "Get timesheets report",
        "operationId": "getTimesheetsReport",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/reports/payroll": {
      "get": {
        "summary": "Get payroll report",
        "operationId": "getPayrollReport",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccessToken": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token",
        "description": "Humanity API access token."
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "data": {
            "type": "object"
          },
          "error": {
            "type": "object"
          }
        }
      },
      "Employee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "employee_id": {
            "type": "string"
          },
          "cell_phone": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EmployeeInput": {
        "type": "object",
        "required": [
          "name",
          "email"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "employee_id": {
            "type": "string"
          },
          "cell_phone": {
            "type": "string"
          }
        }
      },
      "LocationInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          }
        }
      },
      "PositionInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string"
          }
        }
      },
      "ShiftInput": {
        "type": "object",
        "required": [
          "start_date",
          "end_date"
        ],
        "properties": {
          "employee_id": {
            "type": "integer"
          },
          "location_id": {
            "type": "integer"
          },
          "position_id": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "TimeclockInput": {
        "type": "object",
        "properties": {
          "employee_id": {
            "type": "integer"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LeaveInput": {
        "type": "object",
        "required": [
          "start_date",
          "end_date"
        ],
        "properties": {
          "employee_id": {
            "type": "integer"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "reason": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "User"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Positions"
    },
    {
      "name": "Employees"
    },
    {
      "name": "Shifts"
    },
    {
      "name": "Timeclocks"
    },
    {
      "name": "Leaves"
    },
    {
      "name": "Reports"
    }
  ]
}