{
  "openapi": "3.0.3",
  "info": {
    "title": "Shikimori API",
    "description": "API for Shikimori, a social network and database for anime and manga fans. Provides access to anime, manga, characters, users, clubs, topics, and more. OAuth2 is used for authentication. All requests must include a User-Agent header with your application name. Rate limited to 5 requests per second and 90 requests per minute.",
    "version": "1.0.0",
    "contact": {
      "name": "Shikimori",
      "url": "https://shikimori.one"
    }
  },
  "servers": [
    {
      "url": "https://shikimori.one",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/api/animes": {
      "get": {
        "tags": [
          "Animes"
        ],
        "summary": "List animes",
        "operationId": "listAnimes",
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 50
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "ranked",
                "kind",
                "popularity",
                "name",
                "aired_on",
                "episodes",
                "status",
                "random",
                "updated_at"
              ]
            }
          },
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "tv",
                "movie",
                "ova",
                "ona",
                "special",
                "tv_special",
                "music",
                "pv",
                "cm"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "anons",
                "ongoing",
                "released"
              ]
            }
          },
          {
            "name": "season",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "e.g. summer_2017, 2016, 2014_2016, 199x"
          },
          {
            "name": "score",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Minimal anime score"
          },
          {
            "name": "duration",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "S",
                "D",
                "F"
              ]
            }
          },
          {
            "name": "rating",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "none",
                "g",
                "pg",
                "pg_13",
                "r",
                "r_plus",
                "rx"
              ]
            }
          },
          {
            "name": "genre",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated genre IDs"
          },
          {
            "name": "studio",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated studio IDs"
          },
          {
            "name": "franchise",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated franchise IDs"
          },
          {
            "name": "censored",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "mylist",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "planned",
                "watching",
                "rewatching",
                "completed",
                "on_hold",
                "dropped"
              ]
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated IDs"
          },
          {
            "name": "exclude_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated IDs to exclude"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of animes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnimeBasic"
                  }
                }
              }
            }
          }
        },
        "description": "List animes"
      }
    },
    "/api/animes/{id}": {
      "get": {
        "tags": [
          "Animes"
        ],
        "summary": "Show an anime",
        "operationId": "getAnime",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Anime details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeDetailed"
                }
              }
            }
          }
        },
        "description": "Show an anime"
      }
    },
    "/api/animes/{id}/roles": {
      "get": {
        "tags": [
          "Animes"
        ],
        "summary": "Get anime roles",
        "operationId": "getAnimeRoles",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get anime roles"
      }
    },
    "/api/animes/{id}/similar": {
      "get": {
        "tags": [
          "Animes"
        ],
        "summary": "Get similar animes",
        "operationId": "getSimilarAnimes",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of similar animes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnimeBasic"
                  }
                }
              }
            }
          }
        },
        "description": "Get similar animes"
      }
    },
    "/api/animes/{id}/related": {
      "get": {
        "tags": [
          "Animes"
        ],
        "summary": "Get related animes",
        "operationId": "getRelatedAnimes",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of related entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get related animes"
      }
    },
    "/api/animes/{id}/screenshots": {
      "get": {
        "tags": [
          "Animes"
        ],
        "summary": "Get anime screenshots",
        "operationId": "getAnimeScreenshots",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of screenshots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "original": {
                        "type": "string"
                      },
                      "preview": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get anime screenshots"
      }
    },
    "/api/animes/{id}/franchise": {
      "get": {
        "tags": [
          "Animes"
        ],
        "summary": "Get anime franchise",
        "operationId": "getAnimeFranchise",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Franchise tree",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get anime franchise"
      }
    },
    "/api/animes/{id}/external_links": {
      "get": {
        "tags": [
          "Animes"
        ],
        "summary": "Get anime external links",
        "operationId": "getAnimeExternalLinks",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of external links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "source": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get anime external links"
      }
    },
    "/api/animes/{id}/topics": {
      "get": {
        "tags": [
          "Animes"
        ],
        "summary": "Get anime topics",
        "operationId": "getAnimeTopics",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 30
            }
          },
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "anons",
                "ongoing",
                "released",
                "episode"
              ]
            }
          },
          {
            "name": "episode",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get anime topics"
      }
    },
    "/api/mangas": {
      "get": {
        "tags": [
          "Mangas"
        ],
        "summary": "List mangas",
        "operationId": "listMangas",
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 50
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "ranked",
                "kind",
                "popularity",
                "name",
                "aired_on",
                "volumes",
                "chapters",
                "status",
                "random",
                "updated_at"
              ]
            }
          },
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "anons",
                "ongoing",
                "released",
                "paused",
                "discontinued"
              ]
            }
          },
          {
            "name": "season",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "score",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publisher",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "franchise",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "censored",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of mangas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MangaBasic"
                  }
                }
              }
            }
          }
        },
        "description": "List mangas"
      }
    },
    "/api/mangas/{id}": {
      "get": {
        "tags": [
          "Mangas"
        ],
        "summary": "Show a manga",
        "operationId": "getManga",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Manga details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MangaDetailed"
                }
              }
            }
          }
        },
        "description": "Show a manga"
      }
    },
    "/api/mangas/{id}/roles": {
      "get": {
        "tags": [
          "Mangas"
        ],
        "summary": "Get manga roles",
        "operationId": "getMangaRoles",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get manga roles"
      }
    },
    "/api/mangas/{id}/similar": {
      "get": {
        "tags": [
          "Mangas"
        ],
        "summary": "Get similar mangas",
        "operationId": "getSimilarMangas",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of similar mangas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MangaBasic"
                  }
                }
              }
            }
          }
        },
        "description": "Get similar mangas"
      }
    },
    "/api/mangas/{id}/related": {
      "get": {
        "tags": [
          "Mangas"
        ],
        "summary": "Get related mangas",
        "operationId": "getRelatedMangas",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of related entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get related mangas"
      }
    },
    "/api/mangas/{id}/franchise": {
      "get": {
        "tags": [
          "Mangas"
        ],
        "summary": "Get manga franchise",
        "operationId": "getMangaFranchise",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Franchise tree",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get manga franchise"
      }
    },
    "/api/mangas/{id}/external_links": {
      "get": {
        "tags": [
          "Mangas"
        ],
        "summary": "Get manga external links",
        "operationId": "getMangaExternalLinks",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of external links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get manga external links"
      }
    },
    "/api/mangas/{id}/topics": {
      "get": {
        "tags": [
          "Mangas"
        ],
        "summary": "Get manga topics",
        "operationId": "getMangaTopics",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get manga topics"
      }
    },
    "/api/characters/{id}": {
      "get": {
        "tags": [
          "Characters"
        ],
        "summary": "Show a character",
        "operationId": "getCharacter",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Character details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Show a character"
      }
    },
    "/api/characters/search": {
      "get": {
        "tags": [
          "Characters"
        ],
        "summary": "Search characters",
        "operationId": "searchCharacters",
        "security": [],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of characters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Search characters"
      }
    },
    "/api/genres": {
      "get": {
        "tags": [
          "Genres"
        ],
        "summary": "List genres",
        "operationId": "listGenres",
        "security": [],
        "responses": {
          "200": {
            "description": "List of genres",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Genre"
                  }
                }
              }
            }
          }
        },
        "description": "List genres"
      }
    },
    "/api/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users",
        "operationId": "listUsers",
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "List users"
      }
    },
    "/api/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Show user",
        "operationId": "getUser",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Show user"
      }
    },
    "/api/users/{id}/info": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Show user brief info",
        "operationId": "getUserInfo",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User brief info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Show user brief info"
      }
    },
    "/api/users/whoami": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Show current user",
        "operationId": "whoami",
        "responses": {
          "200": {
            "description": "Current user info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Show current user"
      }
    },
    "/api/users/{id}/friends": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Show user friends",
        "operationId": "getUserFriends",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of friends",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Show user friends"
      }
    },
    "/api/users/{id}/clubs": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Show user clubs",
        "operationId": "getUserClubs",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of clubs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Show user clubs"
      }
    },
    "/api/users/{id}/anime_rates": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Show user anime list",
        "operationId": "getUserAnimeRates",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 5000
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "planned",
                "watching",
                "rewatching",
                "completed",
                "on_hold",
                "dropped"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User anime rates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Show user anime list"
      }
    },
    "/api/users/{id}/manga_rates": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Show user manga list",
        "operationId": "getUserMangaRates",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 5000
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User manga rates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Show user manga list"
      }
    },
    "/api/users/{id}/favourites": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Show user favourites",
        "operationId": "getUserFavourites",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User favourites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Show user favourites"
      }
    },
    "/api/users/{id}/history": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Show user history",
        "operationId": "getUserHistory",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "target_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "target_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Anime",
                "Manga"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Show user history"
      }
    },
    "/api/users/{id}/bans": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Show user bans",
        "operationId": "getUserBans",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User bans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Show user bans"
      }
    },
    "/api/comments": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "List comments",
        "operationId": "listComments",
        "security": [],
        "parameters": [
          {
            "name": "commentable_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "commentable_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Topic",
                "User"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 30
            }
          },
          {
            "name": "desc",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "List comments"
      },
      "post": {
        "tags": [
          "Comments"
        ],
        "summary": "Create a comment",
        "operationId": "createComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "comment"
                ],
                "properties": {
                  "comment": {
                    "type": "object",
                    "required": [
                      "body",
                      "commentable_id",
                      "commentable_type"
                    ],
                    "properties": {
                      "body": {
                        "type": "string"
                      },
                      "commentable_id": {
                        "type": "integer"
                      },
                      "commentable_type": {
                        "type": "string",
                        "enum": [
                          "Topic",
                          "User",
                          "Anime",
                          "Manga",
                          "Character",
                          "Person",
                          "Article",
                          "Club",
                          "ClubPage",
                          "Collection",
                          "Critique",
                          "Review"
                        ]
                      },
                      "is_offtopic": {
                        "type": "boolean"
                      }
                    }
                  },
                  "broadcast": {
                    "type": "boolean"
                  },
                  "frontend": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create a comment"
      }
    },
    "/api/comments/{id}": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "Show a comment",
        "operationId": "getComment",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Show a comment"
      },
      "patch": {
        "tags": [
          "Comments"
        ],
        "summary": "Update a comment",
        "operationId": "updateComment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "string"
                      }
                    }
                  },
                  "frontend": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update a comment"
      },
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "Delete a comment",
        "operationId": "deleteComment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment deleted"
          }
        },
        "description": "Delete a comment"
      }
    },
    "/api/topics": {
      "get": {
        "tags": [
          "Topics"
        ],
        "summary": "List topics",
        "operationId": "listTopics",
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 30
            }
          },
          {
            "name": "forum",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "animanga",
                "offtopic",
                "critiques",
                "news",
                "collections",
                "articles"
              ]
            }
          },
          {
            "name": "linked_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "linked_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "List topics"
      },
      "post": {
        "tags": [
          "Topics"
        ],
        "summary": "Create a topic",
        "operationId": "createTopic",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "topic"
                ],
                "properties": {
                  "topic": {
                    "type": "object",
                    "required": [
                      "body",
                      "title",
                      "forum_id"
                    ],
                    "properties": {
                      "body": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "forum_id": {
                        "type": "integer"
                      },
                      "linked_id": {
                        "type": "integer"
                      },
                      "linked_type": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Topic created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create a topic"
      }
    },
    "/api/topics/updates": {
      "get": {
        "tags": [
          "Topics"
        ],
        "summary": "Get news topics",
        "operationId": "getTopicUpdates",
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of update topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get news topics"
      }
    },
    "/api/topics/hot": {
      "get": {
        "tags": [
          "Topics"
        ],
        "summary": "Get hot topics",
        "operationId": "getHotTopics",
        "security": [],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of hot topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get hot topics"
      }
    },
    "/api/topics/{id}": {
      "get": {
        "tags": [
          "Topics"
        ],
        "summary": "Show a topic",
        "operationId": "getTopic",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Topic details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Show a topic"
      },
      "patch": {
        "tags": [
          "Topics"
        ],
        "summary": "Update a topic",
        "operationId": "updateTopic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "topic": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Topic updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update a topic"
      },
      "delete": {
        "tags": [
          "Topics"
        ],
        "summary": "Delete a topic",
        "operationId": "deleteTopic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Topic deleted"
          }
        },
        "description": "Delete a topic"
      }
    },
    "/api/clubs": {
      "get": {
        "tags": [
          "Clubs"
        ],
        "summary": "List clubs",
        "operationId": "listClubs",
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of clubs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "List clubs"
      }
    },
    "/api/clubs/{id}": {
      "get": {
        "tags": [
          "Clubs"
        ],
        "summary": "Show a club",
        "operationId": "getClub",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Club details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Show a club"
      },
      "patch": {
        "tags": [
          "Clubs"
        ],
        "summary": "Update a club",
        "operationId": "updateClub",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Club updated"
          }
        },
        "description": "Update a club"
      }
    },
    "/api/clubs/{id}/members": {
      "get": {
        "tags": [
          "Clubs"
        ],
        "summary": "Show club members",
        "operationId": "getClubMembers",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Show club members"
      }
    },
    "/api/clubs/{id}/animes": {
      "get": {
        "tags": [
          "Clubs"
        ],
        "summary": "Show club animes",
        "operationId": "getClubAnimes",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of animes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnimeBasic"
                  }
                }
              }
            }
          }
        },
        "description": "Show club animes"
      }
    },
    "/api/clubs/{id}/mangas": {
      "get": {
        "tags": [
          "Clubs"
        ],
        "summary": "Show club mangas",
        "operationId": "getClubMangas",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of mangas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MangaBasic"
                  }
                }
              }
            }
          }
        },
        "description": "Show club mangas"
      }
    },
    "/api/clubs/{id}/characters": {
      "get": {
        "tags": [
          "Clubs"
        ],
        "summary": "Show club characters",
        "operationId": "getClubCharacters",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of characters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Show club characters"
      }
    },
    "/api/clubs/{id}/join": {
      "post": {
        "tags": [
          "Clubs"
        ],
        "summary": "Join a club",
        "operationId": "joinClub",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Joined club"
          }
        },
        "description": "Join a club"
      }
    },
    "/api/clubs/{id}/leave": {
      "post": {
        "tags": [
          "Clubs"
        ],
        "summary": "Leave a club",
        "operationId": "leaveClub",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Left club"
          }
        },
        "description": "Leave a club"
      }
    },
    "/api/user_rates/{id}": {
      "get": {
        "tags": [
          "User Rates"
        ],
        "summary": "Show a user rate",
        "operationId": "getUserRate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User rate details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Show a user rate"
      },
      "patch": {
        "tags": [
          "User Rates"
        ],
        "summary": "Update a user rate",
        "operationId": "updateUserRate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_rate": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string"
                      },
                      "score": {
                        "type": "integer"
                      },
                      "chapters": {
                        "type": "integer"
                      },
                      "episodes": {
                        "type": "integer"
                      },
                      "volumes": {
                        "type": "integer"
                      },
                      "rewatches": {
                        "type": "integer"
                      },
                      "text": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User rate updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update a user rate"
      },
      "delete": {
        "tags": [
          "User Rates"
        ],
        "summary": "Delete a user rate",
        "operationId": "deleteUserRate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User rate deleted"
          }
        },
        "description": "Delete a user rate"
      }
    },
    "/api/user_rates": {
      "post": {
        "tags": [
          "User Rates"
        ],
        "summary": "Create a user rate",
        "operationId": "createUserRate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_rate"
                ],
                "properties": {
                  "user_rate": {
                    "type": "object",
                    "required": [
                      "user_id",
                      "target_id",
                      "target_type"
                    ],
                    "properties": {
                      "user_id": {
                        "type": "integer"
                      },
                      "target_id": {
                        "type": "integer"
                      },
                      "target_type": {
                        "type": "string",
                        "enum": [
                          "Anime",
                          "Manga"
                        ]
                      },
                      "status": {
                        "type": "string"
                      },
                      "score": {
                        "type": "integer"
                      },
                      "chapters": {
                        "type": "integer"
                      },
                      "episodes": {
                        "type": "integer"
                      },
                      "volumes": {
                        "type": "integer"
                      },
                      "rewatches": {
                        "type": "integer"
                      },
                      "text": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User rate created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create a user rate"
      }
    },
    "/api/user_rates/{id}/increment": {
      "post": {
        "tags": [
          "User Rates"
        ],
        "summary": "Increment user rate episodes/chapters",
        "operationId": "incrementUserRate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User rate incremented",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Increment user rate episodes/chapters"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://shikimori.one/oauth/authorize",
            "tokenUrl": "https://shikimori.one/oauth/token",
            "scopes": {
              "user_rates": "Access to user rates",
              "messages": "Access to messages",
              "comments": "Access to comments",
              "topics": "Access to topics",
              "content": "Access to content",
              "clubs": "Access to clubs",
              "friends": "Access to friends",
              "ignores": "Access to ignores"
            }
          }
        }
      }
    },
    "schemas": {
      "AnimeBasic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "russian": {
            "type": "string"
          },
          "image": {
            "type": "object",
            "properties": {
              "original": {
                "type": "string"
              },
              "preview": {
                "type": "string"
              },
              "x96": {
                "type": "string"
              },
              "x48": {
                "type": "string"
              }
            }
          },
          "url": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "score": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "episodes": {
            "type": "integer"
          },
          "episodes_aired": {
            "type": "integer"
          },
          "aired_on": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "released_on": {
            "type": "string",
            "format": "date",
            "nullable": true
          }
        }
      },
      "AnimeDetailed": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AnimeBasic"
          },
          {
            "type": "object",
            "properties": {
              "rating": {
                "type": "string"
              },
              "english": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "japanese": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "synonyms": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "duration": {
                "type": "integer"
              },
              "description": {
                "type": "string",
                "nullable": true
              },
              "description_html": {
                "type": "string"
              },
              "franchise": {
                "type": "string",
                "nullable": true
              },
              "genres": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Genre"
                }
              },
              "studios": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "MangaBasic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "russian": {
            "type": "string"
          },
          "image": {
            "type": "object",
            "properties": {
              "original": {
                "type": "string"
              },
              "preview": {
                "type": "string"
              },
              "x96": {
                "type": "string"
              },
              "x48": {
                "type": "string"
              }
            }
          },
          "url": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "score": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "volumes": {
            "type": "integer"
          },
          "chapters": {
            "type": "integer"
          },
          "aired_on": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "released_on": {
            "type": "string",
            "format": "date",
            "nullable": true
          }
        }
      },
      "MangaDetailed": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MangaBasic"
          },
          {
            "type": "object",
            "properties": {
              "english": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "japanese": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "synonyms": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "description": {
                "type": "string",
                "nullable": true
              },
              "description_html": {
                "type": "string"
              },
              "franchise": {
                "type": "string",
                "nullable": true
              },
              "genres": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Genre"
                }
              },
              "publishers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "Genre": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "russian": {
            "type": "string",
            "nullable": true
          },
          "kind": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Animes"
    },
    {
      "name": "Characters"
    },
    {
      "name": "Clubs"
    },
    {
      "name": "Comments"
    },
    {
      "name": "Genres"
    },
    {
      "name": "Mangas"
    },
    {
      "name": "Topics"
    },
    {
      "name": "User Rates"
    },
    {
      "name": "Users"
    }
  ]
}
