{
  "swagger": "2.0",
  "info": {
    "title": "API - Revenue Management BidPrice - v1.0",
    "version": "1.0",
    "description": "Gets BidPrice's information by Flight.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Copa-Airlines/api-revenue_management_bid_price_v_1_0/1.0/swagger.json",
    "contact": {}
  },
  "host": "api.copa.com",
  "basePath": "/rms/bidprice/v1.0/bidprice",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/{flightnum}/{departdate}/{opcarrier}/{origin}/{destination}": {
      "get": {
        "description": "Gets the list of Bidprices by flight and cabin.\n",
        "operationId": "get-bidprice-by-flight-and-cabin",
        "summary": "Gets the list of Bidprices by flight and cabin",
        "parameters": [
          {
            "name": "flightnum",
            "in": "path",
            "description": "Flight number",
            "required": true,
            "type": "string"
          },
          {
            "name": "departdate",
            "in": "path",
            "description": "Date of departure in date (YYYYMMDD) format.",
            "required": true,
            "type": "string"
          },
          {
            "name": "opcarrier",
            "in": "path",
            "description": "Airline operation carrier",
            "required": true,
            "type": "string"
          },
          {
            "name": "origin",
            "in": "path",
            "description": "Origin Airport.",
            "required": true,
            "type": "string"
          },
          {
            "name": "destination",
            "in": "path",
            "description": "Destination Airport",
            "required": true,
            "type": "string"
          },
          {
            "name": "cabin",
            "in": "query",
            "description": "Cabin class (C or Y)",
            "required": false,
            "type": "string"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/BidPriceListResponse"
            },
            "examples": {
              "application/json": {
                "Status": "Success",
                "FlightLeg": {
                  "CarrierCode": "CM",
                  "FlightNumber": "357",
                  "DepartureDate": "20201012",
                  "OriginAirport": "PTY",
                  "DestinationAirport": "JFK",
                  "InvDate": "20200203",
                  "InvTime": "184502",
                  "OptType": "N",
                  "SkipPersistFlag": "0",
                  "ArcfType": "73E",
                  "ArcfCfgId": "1",
                  "BPControlFlag": "1",
                  "Compartments": [
                    {
                      "CmpCode": "C",
                      "PhyCap": "10",
                      "AdjCap": "10",
                      "VirtCap": "10",
                      "UpSts": "0",
                      "ObSts": "1",
                      "DcSts": "0",
                      "AU": "11",
                      "VarStsFlag": "0",
                      "MaxUpSts": "999",
                      "CrFnlGrpOut": "0",
                      "TotAchDmd": "6.342696",
                      "AllotmentFlag": "?",
                      "CapacityReduction": "?",
                      "AuIncludingNegoBlocks": "1",
                      "BidPriceVector": [
                        {
                          "SeatIndex": "1",
                          "BidPrice": "69"
                        },
                        {
                          "SeatIndex": "2",
                          "BidPrice": "8"
                        },
                        {
                          "SeatIndex": "11",
                          "BidPrice": "0"
                        }
                      ],
                      "Classes": [
                        {
                          "ClsCode": "C",
                          "PrtSts": "0",
                          "ObSts": "0",
                          "DcSts": "0",
                          "BkgPtrs": "0",
                          "OBDCMult": "110",
                          "BookingMin": "?",
                          "BookingMax": "?",
                          "TotBkd": "0",
                          "GrpBkd": "0",
                          "TotOut": "0",
                          "GrpOut": "0",
                          "SuRate": "100",
                          "AU": "11",
                          "MaxSts": "?",
                          "GatedFlag": "?",
                          "TotAchDmd": "0.011849",
                          "ReconstrainedOut": "0.011812",
                          "PrntClsCode": "C",
                          "AuIncludingNegoBlocks": "11",
                          "NegoBlocks": "0"
                        },
                        {
                          "ClsCode": "P",
                          "PrtSts": "0",
                          "ObSts": "0",
                          "DcSts": "0",
                          "BkgPtrs": "0",
                          "OBDCMult": "110",
                          "BookingMin": "?",
                          "BookingMax": "?",
                          "TotBkd": "0",
                          "GrpBkd": "0",
                          "TotOut": "0",
                          "GrpOut": "0",
                          "SuRate": "100",
                          "AU": "11",
                          "MaxSts": "?",
                          "GatedFlag": "?",
                          "TotAchDmd": "0.0",
                          "ReconstrainedOut": "0.0",
                          "PrntClsCode": "C",
                          "AuIncludingNegoBlocks": "11",
                          "NegoBlocks": "0"
                        }
                      ]
                    },
                    {
                      "CmpCode": "Y",
                      "PhyCap": "84",
                      "AdjCap": "84",
                      "VirtCap": "84",
                      "UpSts": "0",
                      "ObSts": "9",
                      "DcSts": "0",
                      "AU": "93",
                      "VarStsFlag": "0",
                      "MaxUpSts": "999",
                      "CrFnlGrpOut": "0",
                      "TotAchDmd": "67.867853",
                      "AllotmentFlag": "?",
                      "CapacityReduction": "?",
                      "AuIncludingNegoBlocks": "93",
                      "BidPriceVector": [
                        {
                          "SeatIndex": "1",
                          "BidPrice": "965"
                        },
                        {
                          "SeatIndex": "2",
                          "BidPrice": "686"
                        },
                        {
                          "SeatIndex": "93",
                          "BidPrice": "0"
                        }
                      ],
                      "Classes": [
                        {
                          "ClsCode": "Y",
                          "PrtSts": "1",
                          "ObSts": "0",
                          "DcSts": "0",
                          "BkgPtrs": "1",
                          "OBDCMult": "111",
                          "BookingMin": "?",
                          "BookingMax": "?",
                          "TotBkd": "1",
                          "GrpBkd": "0",
                          "TotOut": "1",
                          "GrpOut": "0",
                          "SuRate": "92",
                          "AU": "93",
                          "MaxSts": "?",
                          "GatedFlag": "?",
                          "TotAchDmd": "1.335993",
                          "ReconstrainedOut": "1.200382",
                          "PrntClsCode": "Y",
                          "AuIncludingNegoBlocks": "93",
                          "NegoBlocks": "0"
                        },
                        {
                          "ClsCode": "I",
                          "PrtSts": "4",
                          "ObSts": "1",
                          "DcSts": "0",
                          "BkgPtrs": "5",
                          "OBDCMult": "110",
                          "BookingMin": "?",
                          "BookingMax": "?",
                          "TotBkd": "0",
                          "GrpBkd": "0",
                          "TotOut": "0",
                          "GrpOut": "0",
                          "SuRate": "100",
                          "AU": "5",
                          "MaxSts": "?",
                          "GatedFlag": "?",
                          "TotAchDmd": "0.024649",
                          "ReconstrainedOut": "0.011801",
                          "PrntClsCode": "Z",
                          "AuIncludingNegoBlocks": "5",
                          "NegoBlocks": "0"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400 - Error response.",
            "schema": {
              "$ref": "#/definitions/BidPriceListResponse"
            },
            "examples": {
              "application/json": {
                "Status": "Failed",
                "ErrorMessages": [
                  {
                    "Code": "1001",
                    "Description": "Field is missing.",
                    "Key": "CarrierCode",
                    "TypeCode": "Missing"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "500 - System Internal Error response.",
            "schema": {
              "$ref": "#/definitions/BidPriceListResponse"
            },
            "examples": {
              "application/json": {
                "Status": "Failed",
                "ErrorMessages": [
                  {
                    "Code": "1000",
                    "Description": "Internal system error.",
                    "Key": "SYSERROR",
                    "TypeCode": "SysInternal"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "default"
        ]
      }
    }
  },
  "definitions": {
    "BidPriceListResponse": {
      "type": "object",
      "description": "The BidPrices returned.",
      "properties": {
        "Status": {
          "type": "string",
          "enum": [
            "Success",
            "Failed"
          ],
          "description": "A status describing if request was successful responsed.\n  - Success: The BidPrices list for flight and cabin specified was getted without problems.\n  - Failed: The BidPrices list for flight and cabin specified was not getted due by flight and cabin invalid parameters or an internal error.",
          "example": "Success"
        },
        "FlightLeg": {
          "$ref": "#/definitions/FlightLeg"
        },
        "ErrorMessages": {
          "type": "array",
          "description": "Represents an ErrorMessage Array.",
          "items": {
            "$ref": "#/definitions/ErrorMessage"
          }
        }
      },
      "required": [
        "Status"
      ]
    },
    "FlightLeg": {
      "type": "object",
      "description": "Represents a Flight Leg information.",
      "properties": {
        "CarrierCode": {
          "type": "string",
          "description": "IATA two letter airline code for representang the Airlines who is operating the flight.",
          "example": "CM"
        },
        "FlightNumber": {
          "type": "string",
          "description": "The airlines flight number.",
          "example": "357"
        },
        "DepartureDate": {
          "type": "string",
          "description": "Date of departure in date (YYYYMMDD) format.",
          "example": "20201012"
        },
        "OriginAirport": {
          "type": "string",
          "description": "The origin airport.",
          "example": "PTY"
        },
        "DestinationAirport": {
          "type": "string",
          "description": "The destination airport.",
          "example": "JFK"
        },
        "InvDate": {
          "type": "string",
          "description": "Last date inventory was recieved.",
          "example": "20200203"
        },
        "InvTime": {
          "type": "string",
          "description": "Last time inventory was recieved.",
          "example": "184502"
        },
        "OptType": {
          "type": "string",
          "description": "Optimization type. Describes which optimization type has triggerd the upload.",
          "example": "N"
        },
        "SkipPersistFlag": {
          "type": "string",
          "description": "Indicates if the optimization results were saved to the RM Editions backend database.",
          "example": "0"
        },
        "ArcfType": {
          "type": "string",
          "description": "The aircraft type.",
          "example": "73E"
        },
        "ArcfCfgId": {
          "type": "string",
          "description": "The aircraft configuration id.",
          "example": "1"
        },
        "BPControlFlag": {
          "type": "string",
          "description": "The BidPrice control.",
          "example": "1"
        },
        "Compartments": {
          "type": "array",
          "description": "Represents a Flight Leg compartment information (executive and economic classes) array.",
          "items": {
            "$ref": "#/definitions/FlightLegCompartment"
          }
        }
      },
      "required": [
        "CarrierCode",
        "FlightNumber",
        "DepartureDate",
        "OriginAirport",
        "DestinationAirport"
      ]
    },
    "FlightLegCompartment": {
      "type": "object",
      "description": "Represents a Flight Leg compartment information (executive and economic classes).",
      "properties": {
        "CmpCode": {
          "type": "string",
          "description": "The compartment code ('C' or 'Y').",
          "example": "Y"
        },
        "PhyCap": {
          "type": "string",
          "description": "Physical capacity.",
          "example": "84"
        },
        "AdjCap": {
          "type": "string",
          "description": "Adjusted capacity.",
          "example": "84"
        },
        "VirtCap": {
          "type": "string",
          "description": "Virtual capacity.",
          "example": "84"
        },
        "UpSts": {
          "type": "string",
          "description": "Upgrade seats.",
          "example": "0"
        },
        "ObSts": {
          "type": "string",
          "description": "Number of overbooking seats.",
          "example": "9"
        },
        "DcSts": {
          "type": "string",
          "description": "Number of decrement seats.",
          "example": "0"
        },
        "AU": {
          "type": "string",
          "description": "Compartment AU.",
          "example": "93"
        },
        "VarStsFlag": {
          "type": "string",
          "description": "Variable capacity is operated for this flight.",
          "example": "0"
        },
        "MaxUpSts": {
          "type": "string",
          "description": "The maximum number of upgrades allowed from a lower comparment to a higher, adjacent compartment.",
          "example": "999"
        },
        "CrFnlGrpOut": {
          "type": "string",
          "description": "The allotment system parameter.",
          "example": "0"
        },
        "TotAchDmd": {
          "type": "string",
          "description": "The total achievable demand.",
          "example": "67.867853"
        },
        "AllotmentFlag": {
          "type": "string",
          "description": "A flag to indicate that an allotment(s) exist on this leg compartment.",
          "example": "?"
        },
        "CapacityReduction": {
          "type": "string",
          "description": "Capacity reduction in number of seats as determined by a linked Capacity Reduction Optimizer Parameter.",
          "example": "?"
        },
        "AuIncludingNegoBlocks": {
          "type": "string",
          "description": "The compartment Au including all NegoBlocks that exist on the Leg Compartment.",
          "example": "93"
        },
        "BidPriceVector": {
          "type": "array",
          "description": "Contains all bidprices by flight/leg/compartment in JSON format.",
          "items": {
            "$ref": "#/definitions/SeatBidPriceRecord"
          },
          "example": [
            {
              "SeatIndex": "1",
              "BidPrice": "965"
            },
            {
              "SeatIndex": "2",
              "BidPrice": "686"
            },
            {
              "SeatIndex": "3",
              "BidPrice": "525"
            },
            {
              "SeatIndex": "4",
              "BidPrice": "392"
            },
            {
              "SeatIndex": "5",
              "BidPrice": "276"
            },
            {
              "SeatIndex": "6",
              "BidPrice": "183"
            },
            {
              "SeatIndex": "7",
              "BidPrice": "115"
            },
            {
              "SeatIndex": "8",
              "BidPrice": "68"
            },
            {
              "SeatIndex": "9",
              "BidPrice": "38"
            },
            {
              "SeatIndex": "10",
              "BidPrice": "20"
            },
            {
              "SeatIndex": "11",
              "BidPrice": "10"
            },
            {
              "SeatIndex": "12",
              "BidPrice": "5"
            },
            {
              "SeatIndex": "13",
              "BidPrice": "2"
            },
            {
              "SeatIndex": "14",
              "BidPrice": "1"
            },
            {
              "SeatIndex": "15",
              "BidPrice": "0"
            },
            {
              "SeatIndex": "16",
              "BidPrice": "0"
            },
            {
              "SeatIndex": "93",
              "BidPrice": "0"
            }
          ]
        },
        "Classes": {
          "type": "array",
          "description": "Represents a classes array.",
          "items": {
            "$ref": "#/definitions/FlightLegClass"
          }
        }
      },
      "required": [
        "CmpCode"
      ]
    },
    "SeatBidPriceRecord": {
      "type": "object",
      "description": "Represents the information of BidPrice Vector's row.",
      "properties": {
        "SeatIndex": {
          "type": "string",
          "description": "Seat index.",
          "example": "2"
        },
        "BidPrice": {
          "type": "string",
          "description": "Bid price.",
          "example": "315"
        }
      },
      "required": [
        "SeatIndex",
        "BidPrice"
      ]
    },
    "FlightLegClass": {
      "type": "object",
      "description": "Represents a Flight Leg class information (booking classes).",
      "properties": {
        "ClsCode": {
          "type": "string",
          "description": "The booking class code.",
          "example": "I"
        },
        "PrtSts": {
          "type": "string",
          "description": "Protected seats.",
          "example": "4"
        },
        "ObSts": {
          "type": "string",
          "description": "Number of overbooking seats.",
          "example": "1"
        },
        "DcSts": {
          "type": "string",
          "description": "Number of decrement seats.",
          "example": "0"
        },
        "BkgPtrs": {
          "type": "string",
          "description": "Booking protects.",
          "example": "5"
        },
        "OBDCMult": {
          "type": "string",
          "description": "Overbooking/Decrement multiplier.",
          "example": "110"
        },
        "BookingMin": {
          "type": "string",
          "description": "Booking minimum.",
          "example": "?"
        },
        "BookingMax": {
          "type": "string",
          "description": "Booking maximum.",
          "example": "?"
        },
        "TotBkd": {
          "type": "string",
          "description": "Total bookings.",
          "example": "0"
        },
        "GrpBkd": {
          "type": "string",
          "description": "Group bookings.",
          "example": "0"
        },
        "TotOut": {
          "type": "string",
          "description": "Total achievable passenger out.",
          "example": "0"
        },
        "GrpOut": {
          "type": "string",
          "description": "Group achievable passenger out.",
          "example": "0"
        },
        "SuRate": {
          "type": "string",
          "description": "Show up Rate.",
          "example": "100"
        },
        "AU": {
          "type": "string",
          "description": "AU.",
          "example": "5"
        },
        "MaxSts": {
          "type": "string",
          "description": "Class max seats.",
          "example": "?"
        },
        "GatedFlag": {
          "type": "string",
          "description": "Class gated flag.",
          "example": "?"
        },
        "TotAchDmd": {
          "type": "string",
          "description": "Total achievable demand.",
          "example": "0.024649"
        },
        "ReconstrainedOut": {
          "type": "string",
          "description": "The constrained demand for the day of departure multiplied by the class level show-up rate.",
          "example": "0.011801"
        },
        "PrntClsCode": {
          "type": "string",
          "description": "Parent booking class code in nesting hierarchy.",
          "example": "Z"
        },
        "AuIncludingNegoBlocks": {
          "type": "string",
          "description": "The class Au including the NegoBlock(s) that exist in the class.",
          "example": "5"
        },
        "NegoBlocks": {
          "type": "string",
          "description": "The total size of NegoBlock(s) in this class.",
          "example": "0"
        }
      },
      "required": [
        "ClsCode"
      ]
    },
    "ErrorMessage": {
      "type": "object",
      "description": "Represents an Error element with Error Code and Description",
      "properties": {
        "Code": {
          "type": "string",
          "example": "1002",
          "description": "Error code"
        },
        "Description": {
          "type": "string",
          "example": "Error descriptions",
          "description": "Error descriptions"
        },
        "Key": {
          "type": "string",
          "example": "Key",
          "description": "Key"
        },
        "TypeCode": {
          "type": "string",
          "example": "TypeCode",
          "description": "TypeCode"
        }
      },
      "required": [
        "Code",
        "Description"
      ]
    }
  },
  "tags": [
    {
      "name": "default"
    }
  ]
}
