{
  "openapi": "3.0.3",
  "info": {
    "title": "Destination Motivation API",
    "description": "Zapier API for Destination Motivation Portal. Provides endpoints for validating API keys and creating HubSpot tickets associated with contacts and companies.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://destinationmotivationportal.com/zapier-api-docs"
  },
  "servers": [
    {
      "url": "https://destinationmotivationportal.com/wp-json/hicrm/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/auth/validate": {
      "get": {
        "operationId": "validateapikey",
        "summary": "Validate API Key",
        "description": "Validates the provided API key and returns site information.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "API key is valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/hubspot/ticket": {
      "post": {
        "operationId": "createhubspotticket",
        "summary": "Create HubSpot Ticket",
        "description": "Creates a new ticket in HubSpot and associates it with the corresponding contact and company.",
        "tags": [
          "HubSpot"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTicketRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTicketResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key generated in WordPress Admin under PWA Settings > Zapier API Settings"
      }
    },
    "schemas": {
      "ValidateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "site": {
            "type": "string"
          },
          "time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateTicketRequest": {
        "type": "object",
        "required": [
          "firstname",
          "lastname",
          "email"
        ],
        "properties": {
          "firstname": {
            "type": "string",
            "description": "Contact first name"
          },
          "lastname": {
            "type": "string",
            "description": "Contact last name"
          },
          "branchId": {
            "type": "integer",
            "description": "Branch ID"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact email address"
          },
          "companyId": {
            "type": "string",
            "description": "Company ID"
          },
          "vacationType": {
            "type": "string",
            "description": "Vacation type (e.g., Condo)"
          },
          "address": {
            "type": "string",
            "description": "Street address"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "state": {
            "type": "string",
            "description": "State"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code"
          },
          "ticketName": {
            "type": "string",
            "description": "Custom ticket title"
          },
          "external_crm_id": {
            "type": "string",
            "description": "External CRM ID"
          },
          "rep": {
            "type": "string",
            "description": "Sales representative name"
          },
          "location": {
            "type": "string",
            "description": "Location"
          },
          "region": {
            "type": "string",
            "description": "Region"
          }
        }
      },
      "CreateTicketResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "HubSpot ticket ID"
          },
          "wp_user": {
            "type": "integer",
            "description": "WordPress user ID"
          },
          "branchId": {
            "type": "integer",
            "description": "Branch ID"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Operations related to Authentication"
    },
    {
      "name": "HubSpot",
      "description": "Operations related to HubSpot"
    }
  ]
}