{
  "openapi": "3.0.3",
  "info": {
    "title": "Duck Creek Payments API",
    "version": "v2",
    "description": "Duck Creek Payments Orchestrator API (formerly Imburse Payments). Provides authentication, configuration, and transaction management for payment processing in the Duck Creek insurance platform.",
    "x-jentic-source-url": "https://developers.duckcreekpayments.com/",
    "contact": {
      "name": "Duck Creek Payments Support",
      "email": "support@imbursepayments.com"
    }
  },
  "servers": [
    {
      "url": "https://sandbox-api.imbursepayments.com",
      "description": "Sandbox"
    },
    {
      "url": "https://api.imbursepayments.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v2/identity/hmac": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get Access Token.",
        "description": "### Role Requirements\r\nNot applicable\r\n### Description\r\nGets an Access Token after authenticating your request using the HMAC scheme.\r\n\r\nThe Access Token is used to authenticate the caller in all other API operations.",
        "operationId": "get-access-token",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "HMAC signature in the format `hmac {signature}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created - Returns the Access Token response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Returns the Error response object."
          }
        }
      }
    },
    "/v2/identity/me": {
      "get": {
        "tags": [
          "Access Control"
        ],
        "summary": "Get list of the accessible Accounts and Tenants",
        "description": "### Role Requirements\r\nNot applicable\r\n### Description\r\nGet a list of Accounts and Tenants the authenticating user has access to.",
        "operationId": "get-me",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer scheme in the format `bearer {access_token}`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the User Account and Tenants response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAccountsAndTenantsResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/account": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Get the Account",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nGets an Account.",
        "operationId": "get-account",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Account response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Account Management"
        ],
        "summary": "Update the Account",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nUpdates an Account.",
        "operationId": "update-account",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      }
    },
    "/v2/account/licensing-history": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Get the Account Licensing History",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nGets the Licensing History for an Account.",
        "operationId": "get-account-licensing",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Account Licensing History response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountHistoryResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      }
    },
    "/v2/account/upgrade-request": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Request an Account License upgrade",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nRequest an upgrade to your Account license.",
        "operationId": "upgrade-account-licensing-request",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpgradeRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpgradeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpgradeRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      }
    },
    "/v2/account/ip-whitelist": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Get IP Whitelist configuration for Account.",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nGets the IP Whitelist configuration for Account-scoped API Key users.",
        "operationId": "get-account-ip-whitelist",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the IP Whitelist configuration response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpWhitelistConfigurationResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Account Management"
        ],
        "summary": "Update IP Whitelist configuration for Account.",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nUpdates the IP Whitelist configuration for Account-scoped API Key users.",
        "operationId": "update-account-ip-whitelist",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIpWhitelistConfigurationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIpWhitelistConfigurationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIpWhitelistConfigurationRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      }
    },
    "/v2/account/invitation/invite": {
      "post": {
        "tags": [
          "Account User Management"
        ],
        "summary": "Invite a User to Account",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nInvites a User to the Account.",
        "operationId": "invite-account-user",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvitationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvitationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvitationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created - Returns the Create Invitation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInvitationResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      }
    },
    "/v2/account/invitation/resend": {
      "post": {
        "tags": [
          "Account User Management"
        ],
        "summary": "Resend Invitation to Account User",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nResends the Account User invitation.",
        "operationId": "resend-invite-account-user",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendInvitationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendInvitationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResendInvitationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      }
    },
    "/v2/account/keys": {
      "get": {
        "tags": [
          "Account Key Management"
        ],
        "summary": "Get Account Keys",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nGets the Keys for the Account",
        "operationId": "get-account-keys",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Account Keys response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountKeysResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Account Key Management"
        ],
        "summary": "Create Account Key",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nCreates an Account Key.\r\n\r\n**Note** - The `privateKey` that is returned with this request needs to be stored securely\r\n\r\nIt is not retrievable after this request.",
        "operationId": "create-account-key",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created - Returns the Vaulted Key response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultedKeyResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      }
    },
    "/v2/account/keys/{publicKey}": {
      "get": {
        "tags": [
          "Account Key Management"
        ],
        "summary": "Get Account Keys",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nGets an Account Key by the `publicKey`.",
        "operationId": "get-account-key",
        "parameters": [
          {
            "name": "publicKey",
            "in": "path",
            "description": "The Public Key.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Key response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Account Key Management"
        ],
        "summary": "Delete Account Keys",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nDeletes an Account Key by the `publicKey`.",
        "operationId": "delete-account-key",
        "parameters": [
          {
            "name": "publicKey",
            "in": "path",
            "description": "The Public Key.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Account Key Management"
        ],
        "summary": "Update Account Key",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nUpdates an Account Key by the `publicKey`.",
        "operationId": "update-account-key",
        "parameters": [
          {
            "name": "publicKey",
            "in": "path",
            "description": "The Public Key.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      }
    },
    "/v2/account/tenants/{tenantId}/keys": {
      "get": {
        "tags": [
          "Account Tenant Key Management"
        ],
        "summary": "Get Account Tenant Keys",
        "description": "### Role Requirements\r\n`account-tenant-read` or `account-admin`\r\n### Description\r\nGets the Keys for a Tenant by the `tenantId`.",
        "operationId": "get-tenant-keys-by-tenantid",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Tenant Keys response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantKeysResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountTenantsReader"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Account Tenant Key Management"
        ],
        "summary": "Create Account Tenant Key",
        "description": "### Role Requirements\r\n`account-tenant-write` or `account-admin`\r\n### Description\r\nCreate a new Tenant Key for `tenantId`.",
        "operationId": "create-tenant-api-key-by-tenantid",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created - Returns the Vaulted Key response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultedKeyResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountTenantsWriter"
            ]
          }
        ]
      }
    },
    "/v2/account/tenants/{tenantId}/keys/{publicKey}": {
      "get": {
        "tags": [
          "Account Tenant Key Management"
        ],
        "summary": "Get Account Tenant Key",
        "description": "### Role Requirements\r\n`account-tenant-read` or `account-admin`\r\n### Description\r\nGets a Tenant Key by the `tenantId` and `publicKey`.",
        "operationId": "get-tenant-key-by-tenantid",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "publicKey",
            "in": "path",
            "description": "The Public Key.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Key response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountTenantsReader"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Account Tenant Key Management"
        ],
        "summary": "Update Account Tenant Key",
        "description": "### Role Requirements\r\n`account-tenant-write` or `account-admin`\r\n### Description\r\nUpdates a Tenant Key by the `tenantId` and `publicKey`.",
        "operationId": "update-tenant-api-key-by-tenantid",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "publicKey",
            "in": "path",
            "description": "The Public Key.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountTenantsWriter"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Account Tenant Key Management"
        ],
        "summary": "Delete Account Tenant Key",
        "description": "### Role Requirements\r\n`account-tenant-write` or `account-admin`\r\n### Description\r\nDeletes a Tenant Key by the `tenantId` and `publicKey`.",
        "operationId": "delete-tenant-key-by-tenantid",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "publicKey",
            "in": "path",
            "description": "The Public Key.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountTenantsWriter"
            ]
          }
        ]
      }
    },
    "/v2/account/tenants": {
      "get": {
        "tags": [
          "Account Tenant Management"
        ],
        "summary": "Get list of Tenants",
        "description": "### Role Requirements\r\n`account-tenant-read` or `account-admin`\r\n### Description\r\nGets a list of Tenants owned by the Account.",
        "operationId": "get-tenants",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Index position in the list to start taking from. Default is 0.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Number of items to take from the list. Default is 20.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "A search term for the Tenants name to limit the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Paged Tenants response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantResponseV1PagedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountTenantsReader"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Account Tenant Management"
        ],
        "summary": "Create a new Tenant",
        "description": "### Role Requirements\r\n`account-tenant-write` or `account-admin`\r\n### Description\r\nCreates a new Tenant for the Account`.",
        "operationId": "create-tenant",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTenantRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTenantRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTenantRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created - Returns the Tenant response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountTenantsWriter"
            ]
          }
        ]
      }
    },
    "/v2/account/tenants/{tenantId}": {
      "get": {
        "tags": [
          "Account Tenant Management"
        ],
        "summary": "Get a Tenant",
        "description": "### Role Requirements\r\n`account-tenant-read` or `account-admin`\r\n### Description\r\nGets a Tenants by the `tenantId`.",
        "operationId": "get-tenant-by-tenantid",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Tenants response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountTenantsReader"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Account Tenant Management"
        ],
        "summary": "Update a Tenant",
        "description": "### Role Requirements\r\n`account-tenant-write` or `account-admin`\r\n### Description\r\nUpdates a Tenant by the `tenantId`.",
        "operationId": "update-tenant-by-tenantid",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTenantRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTenantRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTenantRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted "
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountTenantsWriter"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Account Tenant Management"
        ],
        "summary": "Delete a new Tenant",
        "description": "### Role Requirements\r\n`account-tenant-write` or `account-admin`\r\n### Description\r\nDeletes a Tenant by the `tenantId`.",
        "operationId": "delete-tenant-by-tenantid",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountTenantsWriter"
            ]
          }
        ]
      }
    },
    "/v2/account/tenants/awaiting-approval": {
      "get": {
        "tags": [
          "Account Tenant Management"
        ],
        "summary": "Get Tenants Awaiting Approval",
        "description": "### Role Requirements\r\n`account-tenant-approval`\r\n### Description\r\nGets a list of Tenants that have a status of `AWAITING_APPROVAL`.",
        "operationId": "get-tenants-awaiting-approval",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Tenants response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantsResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountTenantsApproval"
            ]
          }
        ]
      }
    },
    "/v2/account/tenants/{tenantId}/review": {
      "put": {
        "tags": [
          "Account Tenant Management"
        ],
        "summary": "Review a Tenant",
        "description": "### Role Requirements\r\n`account-tenant-approval`\r\n### Description\r\nReviews a Tenant that currently has a status of `AWAITING_APPROVAL`. As a reviewer, the Tenant can be either approved or rejected. If rejected, a rejection reason is mandatory.",
        "operationId": "review-tenant",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewTenantRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewTenantRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewTenantRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountTenantsApproval"
            ]
          }
        ]
      }
    },
    "/v2/account/tenants/{tenantId}/ip-whitelist": {
      "get": {
        "tags": [
          "Account Tenant Management"
        ],
        "summary": "Get IP Whitelist configuration for Account Tenant.",
        "description": "### Role Requirements\r\n`account-tenant-read`\r\n### Description\r\nGets the IP Whitelist configuration for Tenant-scoped API Key users.",
        "operationId": "get-account-tenant-ip-whitelist",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the IP Whitelist configuration response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpWhitelistConfigurationResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountTenantsReader"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Account Tenant Management"
        ],
        "summary": "Update IP Whitelist configuration for Account Tenant.",
        "description": "### Role Requirements\r\n`account-tenant-write`\r\n### Description\r\nUpdates the IP Whitelist configuration for Tenant-scoped API Key users.",
        "operationId": "update-account-tenant-ip-whitelist",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIpWhitelistConfigurationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIpWhitelistConfigurationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIpWhitelistConfigurationRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      }
    },
    "/v2/account/users": {
      "get": {
        "tags": [
          "Account User Management"
        ],
        "summary": "Get Account Users",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nGets a list of Users for the Account.",
        "operationId": "get-account-users",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Index position in the list to start taking from. Default is 0.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Number of items to take from the list. Default is 20.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "A search term for the users Email to limit the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Paged Users response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseV1PagedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      }
    },
    "/v2/account/users/{userId}": {
      "get": {
        "tags": [
          "Account User Management"
        ],
        "summary": "Get an Account User",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nGets an Account User by the `userId`.",
        "operationId": "get-account-user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The User Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the User response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Account User Management"
        ],
        "summary": "Update an Account User",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nUpdates an Account User by the `userId`.",
        "operationId": "update-account-user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The User Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Account User Management"
        ],
        "summary": "Delete an Account User",
        "description": "### Role Requirements\r\n`account-admin`\r\n### Description\r\nDeletes an Account User by the `userId`.",
        "operationId": "delete-account-user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The User Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "AccountAdmin"
            ]
          }
        ]
      }
    },
    "/v2/tenant": {
      "get": {
        "tags": [
          "Tenant Management"
        ],
        "summary": "Get the Tenant",
        "description": "### Role Requirements\r\n`tenant-management` or `tenant-admin`\r\n### Description\r\nGets the Tenant associated with the current API key. ",
        "operationId": "get-tenant",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Tenant response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantManagement"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Tenant Management"
        ],
        "summary": "Update the Tenant",
        "description": "### Role Requirements\r\n`tenant-management` or `tenant-admin`\r\n### Description\r\nUpdates the Tenant associated with the current API key.",
        "operationId": "update-tenant",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTenantRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTenantRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertTenantRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantManagement"
            ]
          }
        ]
      }
    },
    "/v2/tenant/ip-whitelist": {
      "get": {
        "tags": [
          "Tenant Management"
        ],
        "summary": "Get IP Whitelist configuration for Tenant",
        "description": "### Role Requirements\r\n`tenant-management` or `tenant-admin`\r\n### Description\r\nGets the IP Whitelist configuration for Tenant-scoped API Key users.",
        "operationId": "get-tenant-ip-whitelist",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the IP Whitelist configuration response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpWhitelistConfigurationResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantManagement"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Tenant Management"
        ],
        "summary": "Update IP Whitelist configuration for Tenant",
        "description": "### Role Requirements\r\n`tenant-management` or `tenant-admin`\r\n### Description\r\nUpdates the IP Whitelist configuration for Tenant-scoped API Key users.",
        "operationId": "update-tenant-ip-whitelist",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIpWhitelistConfigurationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIpWhitelistConfigurationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIpWhitelistConfigurationRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantManagement"
            ]
          }
        ]
      }
    },
    "/v2/tenant/invitation/invite": {
      "post": {
        "tags": [
          "Tenant User Management"
        ],
        "summary": "Invite a User to Tenant",
        "description": "### Role Requirements\r\n`tenant-admin`\r\n### Description\r\nInvites a User to the Tenant.",
        "operationId": "invite-tenant-user",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvitationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvitationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvitationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created - Returns the Create Invitation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInvitationResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAdmin"
            ]
          }
        ]
      }
    },
    "/v2/tenant/invitation/resend": {
      "post": {
        "tags": [
          "Tenant User Management"
        ],
        "summary": "Resend Invitation to Tenant User",
        "description": "### Role Requirements\r\n`tenant-admin`\r\n### Description\r\nResends the Tenant User invitation.",
        "operationId": "resend-invite-tenant-user",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendInvitationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendInvitationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResendInvitationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAdmin"
            ]
          }
        ]
      }
    },
    "/v2/tenant/keys": {
      "get": {
        "tags": [
          "Tenant Key Management"
        ],
        "summary": "Get Tenant Keys",
        "description": "### Role Requirements\r\n`tenant-admin`\r\n### Description\r\nGets the Keys for the Tenant",
        "operationId": "get-tenant-keys",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Tenant Keys response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantKeysResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAdmin"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Tenant Key Management"
        ],
        "summary": "Create Tenant Key",
        "description": "### Role Requirements\r\n`tenant-admin`\r\n### Description\r\nCreates a new Tenant Key for the Tenant.",
        "operationId": "create-tenant-key",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created - Returns the Vaulted Key response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultedKeyResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAdmin"
            ]
          }
        ]
      }
    },
    "/v2/tenant/keys/{publicKey}": {
      "get": {
        "tags": [
          "Tenant Key Management"
        ],
        "summary": "Get Tenant Key",
        "description": "### Role Requirements\r\n`tenant-admin`\r\n### Description\r\nGets a Tenant Key by the `publicKey`.",
        "operationId": "get-tenant-key",
        "parameters": [
          {
            "name": "publicKey",
            "in": "path",
            "description": "The Public Key.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Key response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAdmin"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Tenant Key Management"
        ],
        "summary": "Update Tenant Key",
        "description": "### Role Requirements\r\n`tenant-admin`\r\n### Description\r\nUpdates a Tenant Key by the `publicKey`.",
        "operationId": "update-tenant-key",
        "parameters": [
          {
            "name": "publicKey",
            "in": "path",
            "description": "The Public Key.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeyRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAdmin"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Tenant Key Management"
        ],
        "summary": "Delete Tenant Key",
        "description": "### Role Requirements\r\n`tenant-admin`\r\n### Description\r\nDeletes a Tenant Key by the `publicKey`.",
        "operationId": "delete-tenant-key",
        "parameters": [
          {
            "name": "publicKey",
            "in": "path",
            "description": "The Public Key.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAdmin"
            ]
          }
        ]
      }
    },
    "/v2/tenant/services": {
      "get": {
        "tags": [
          "Tenant Management"
        ],
        "summary": "Get a Tenant's enabled service settings",
        "operationId": "get-tenant-services",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Tenant services response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantServicesResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/tenant/users": {
      "get": {
        "tags": [
          "Tenant User Management"
        ],
        "summary": "Get Tenant Users",
        "description": "### Role Requirements\r\n`tenant-admin`\r\n### Description\r\nGets a list of Users for the Tenant.",
        "operationId": "get-tenant-users",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Index position in the list to start taking from. Default is 0.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Number of items to take from the list. Default is 20.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "A search term for the users Email to limit the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Paged Users response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseV1PagedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAdmin"
            ]
          }
        ]
      }
    },
    "/v2/tenant/users/{userId}": {
      "get": {
        "tags": [
          "Tenant User Management"
        ],
        "summary": "Get a Tenant User",
        "description": "### Role Requirements\r\n`tenant-admin`\r\n### Description\r\nGets a Tenant User by the `userId`.",
        "operationId": "get-tenant-user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The User Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the User response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAdmin"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Tenant User Management"
        ],
        "summary": "Update a Tenant User",
        "description": "### Role Requirements\r\n`tenant-admin`\r\n### Description\r\nUpdates a Tenant User by the `userId`.",
        "operationId": "update-tenant-user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The User Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAdmin"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Tenant User Management"
        ],
        "summary": "Delete a Tenant User",
        "description": "### Role Requirements\r\n`tenant-admin`\r\n### Description\r\nDeletes a Tenant User by the `userId`.",
        "operationId": "delete-tenant-user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The User Id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAdmin"
            ]
          }
        ]
      }
    },
    "/v2/marketplace/apps": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Get list of Apps",
        "description": "### Role Requirements\r\n`tenant-app-read` or `tenant-admin`\r\n### Description\r\nGets the list of all available Apps in the marketplace.",
        "operationId": "get-apps",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the App response.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AppsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Returns the Error response object."
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden - If the API user does not have one of the roles listed in **Role Requirements** above."
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAppReader"
            ]
          }
        ]
      }
    },
    "/v2/marketplace/apps/{appId}": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Get an App",
        "description": "### Role Requirements\r\n`tenant-app-read` or `tenant-admin`\r\n### Description\r\nGets an App from the marketplace by the `appId`.",
        "operationId": "get-app",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The App Id.",
            "example": "BOTTOMLINE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the App response.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Returns the Error response object."
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden - If the API user does not have one of the roles listed in **Role Requirements** above."
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAppReader"
            ]
          }
        ]
      }
    },
    "/v2/marketplace/apps/{appId}/install": {
      "post": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Install an App",
        "description": "### Role Requirements\r\n`tenant-app-write` or `tenant-admin`\r\n### Description\r\nInstalls an App for a tenant by the specified `appId`.",
        "operationId": "install-app",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The App Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "No content returned when successful."
          },
          "400": {
            "description": "Bad Request - Returns the Error response object."
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden - If the API user does not have one of the roles listed in **Role Requirements** above."
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAppWriter"
            ]
          }
        ]
      }
    },
    "/v2/apps/installed": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Get list of installed Apps",
        "description": "### Role Requirements\r\n`tenant-app-read` or `tenant-admin`\r\n### Description\r\nGets a list of a tenants installed Apps.\r\n\r\nTo install an App, call Marketplace > Install an App.",
        "operationId": "get-installed-apps",
        "parameters": [
          {
            "name": "x-account-id",
            "in": "header",
            "description": "The Account Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-tenant-id",
            "in": "header",
            "description": "The Tenant Id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Correlation Id for the request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the Apps response.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TenantAppsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantAppsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantAppsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Returns the Error response object."
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden - If the API user does not have one of the roles listed in **Role Requirements** above."
          }
        },
        "security": [
          {
            "bearer": [
              "TenantAppReader"
            ]
          }
        ]
      }
    },
    "/v2/apps/installed/{appId}/uninstall": {
      "post": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Uninstall an App",
[...]
