{
  "openapi": "3.0.3",
  "info": {
    "title": "Oura Ring API",
    "description": "The Oura Ring API v2 provides access to personal health data collected by the Oura Ring, including daily activity, sleep, readiness, heart rate, SpO2, workouts, sessions, and tags.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://cloud.ouraring.com/v2/docs"
  },
  "servers": [
    {
      "url": "https://api.ouraring.com",
      "description": "Oura API production server"
    }
  ],
  "paths": {
    "/v2/usercollection/personal_info": {
      "get": {
        "operationId": "getPersonalInfo",
        "summary": "Get personal info for the authenticated user",
        "tags": [
          "Personal Info"
        ],
        "responses": {
          "200": {
            "description": "Personal information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/usercollection/daily_activity": {
      "get": {
        "operationId": "getDailyActivity",
        "summary": "Get daily activity data",
        "tags": [
          "Daily Activity"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date filter (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date filter (YYYY-MM-DD)"
          },
          {
            "name": "next_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token for next page"
          }
        ],
        "responses": {
          "200": {
            "description": "Daily activity records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyActivityListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/usercollection/daily_sleep": {
      "get": {
        "operationId": "getDailySleep",
        "summary": "Get daily sleep summaries",
        "tags": [
          "Daily Sleep"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date filter (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date filter (YYYY-MM-DD)"
          },
          {
            "name": "next_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Daily sleep records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailySleepListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/usercollection/daily_spo2": {
      "get": {
        "operationId": "getDailySpo2",
        "summary": "Get daily SpO2 readings",
        "tags": [
          "Daily SpO2"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date filter (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date filter (YYYY-MM-DD)"
          },
          {
            "name": "next_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Daily SpO2 records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailySpO2ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/usercollection/daily_readiness": {
      "get": {
        "operationId": "getDailyReadiness",
        "summary": "Get daily readiness scores",
        "tags": [
          "Daily Readiness"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date filter (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date filter (YYYY-MM-DD)"
          },
          {
            "name": "next_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Daily readiness records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyReadinessListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/usercollection/sleep": {
      "get": {
        "operationId": "getSleep",
        "summary": "Get detailed sleep data",
        "tags": [
          "Sleep"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date filter (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date filter (YYYY-MM-DD)"
          },
          {
            "name": "next_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Sleep records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SleepListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/usercollection/sleep_time": {
      "get": {
        "operationId": "getSleepTime",
        "summary": "Get sleep time recommendations",
        "tags": [
          "Sleep Time"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date filter (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date filter (YYYY-MM-DD)"
          },
          {
            "name": "next_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Sleep time records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SleepTimeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/usercollection/workout": {
      "get": {
        "operationId": "getWorkouts",
        "summary": "Get workout data",
        "tags": [
          "Workout"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date filter (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date filter (YYYY-MM-DD)"
          },
          {
            "name": "next_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Workout records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkoutListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/usercollection/session": {
      "get": {
        "operationId": "getSessions",
        "summary": "Get session/meditation data",
        "tags": [
          "Session"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date filter (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date filter (YYYY-MM-DD)"
          },
          {
            "name": "next_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Session records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/usercollection/tag": {
      "get": {
        "operationId": "getTags",
        "summary": "Get user tags",
        "tags": [
          "Tag"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date filter (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date filter (YYYY-MM-DD)"
          },
          {
            "name": "next_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/usercollection/enhanced_tag": {
      "get": {
        "operationId": "getEnhancedTags",
        "summary": "Get enhanced tags with additional context",
        "tags": [
          "Enhanced Tag"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date filter (YYYY-MM-DD)"
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date filter (YYYY-MM-DD)"
          },
          {
            "name": "next_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Enhanced tag records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedTagListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal access token or OAuth2 access token"
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://cloud.ouraring.com/oauth/authorize",
            "tokenUrl": "https://api.ouraring.com/oauth/token",
            "scopes": {
              "email": "Access email address",
              "personal": "Access personal information",
              "daily": "Access daily summary data",
              "heartrate": "Access heart rate data",
              "workout": "Access workout data",
              "tag": "Access tag data",
              "session": "Access session data",
              "spo2": "Access SpO2 data"
            }
          }
        }
      }
    },
    "schemas": {
      "PersonalInfoResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "age": {
            "type": "integer"
          },
          "weight": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "biological_sex": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "DailyActivityModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "class_5_min": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "active_calories": {
            "type": "integer"
          },
          "average_met_minutes": {
            "type": "number"
          },
          "equivalent_walking_distance": {
            "type": "integer"
          },
          "high_activity_met_minutes": {
            "type": "integer"
          },
          "high_activity_time": {
            "type": "integer"
          },
          "inactivity_alerts": {
            "type": "integer"
          },
          "low_activity_met_minutes": {
            "type": "integer"
          },
          "low_activity_time": {
            "type": "integer"
          },
          "medium_activity_met_minutes": {
            "type": "integer"
          },
          "medium_activity_time": {
            "type": "integer"
          },
          "met": {
            "type": "object"
          },
          "meters_to_target": {
            "type": "integer"
          },
          "non_wear_time": {
            "type": "integer"
          },
          "resting_time": {
            "type": "integer"
          },
          "sedentary_met_minutes": {
            "type": "integer"
          },
          "sedentary_time": {
            "type": "integer"
          },
          "steps": {
            "type": "integer"
          },
          "target_calories": {
            "type": "integer"
          },
          "target_meters": {
            "type": "integer"
          },
          "total_calories": {
            "type": "integer"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DailyActivityListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyActivityModel"
            }
          },
          "next_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DailySleepModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "score": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "contributors": {
            "type": "object"
          }
        }
      },
      "DailySleepListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailySleepModel"
            }
          },
          "next_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DailySpO2Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "spo2_percentage": {
            "type": "object",
            "properties": {
              "average": {
                "type": "number"
              }
            }
          }
        }
      },
      "DailySpO2ListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailySpO2Model"
            }
          },
          "next_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DailyReadinessModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "score": {
            "type": "integer"
          },
          "temperature_deviation": {
            "type": "number"
          },
          "temperature_trend_deviation": {
            "type": "number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "contributors": {
            "type": "object"
          }
        }
      },
      "DailyReadinessListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyReadinessModel"
            }
          },
          "next_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SleepModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "average_breath": {
            "type": "number"
          },
          "average_heart_rate": {
            "type": "number"
          },
          "average_hrv": {
            "type": "integer"
          },
          "awake_time": {
            "type": "integer"
          },
          "bedtime_end": {
            "type": "string",
            "format": "date-time"
          },
          "bedtime_start": {
            "type": "string",
            "format": "date-time"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "deep_sleep_duration": {
            "type": "integer"
          },
          "efficiency": {
            "type": "integer"
          },
          "latency": {
            "type": "integer"
          },
          "light_sleep_duration": {
            "type": "integer"
          },
          "low_battery_alert": {
            "type": "boolean"
          },
          "lowest_heart_rate": {
            "type": "integer"
          },
          "period": {
            "type": "integer"
          },
          "readiness_score_delta": {
            "type": "number"
          },
          "rem_sleep_duration": {
            "type": "integer"
          },
          "restless_periods": {
            "type": "integer"
          },
          "time_in_bed": {
            "type": "integer"
          },
          "total_sleep_duration": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "SleepListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SleepModel"
            }
          },
          "next_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SleepTimeModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "optimal_bedtime": {
            "type": "object"
          },
          "recommendation": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "SleepTimeListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SleepTimeModel"
            }
          },
          "next_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "WorkoutModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "activity": {
            "type": "string"
          },
          "calories": {
            "type": "number"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "distance": {
            "type": "number"
          },
          "end_datetime": {
            "type": "string",
            "format": "date-time"
          },
          "intensity": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "start_datetime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WorkoutListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkoutModel"
            }
          },
          "next_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SessionModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "start_datetime": {
            "type": "string",
            "format": "date-time"
          },
          "end_datetime": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string"
          },
          "mood": {
            "type": "string"
          }
        }
      },
      "SessionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionModel"
            }
          },
          "next_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "TagModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "text": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TagListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagModel"
            }
          },
          "next_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "EnhancedTagModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "day": {
            "type": "string",
            "format": "date"
          },
          "text": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tag_type_code": {
            "type": "string"
          }
        }
      },
      "EnhancedTagListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnhancedTagModel"
            }
          },
          "next_token": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error detail message"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "oauth2": [
        "daily",
        "personal",
        "heartrate",
        "workout",
        "tag",
        "session",
        "spo2",
        "email"
      ]
    }
  ],
  "tags": [
    {
      "name": "Personal Info",
      "description": "User personal information"
    },
    {
      "name": "Daily Activity",
      "description": "Daily activity summaries"
    },
    {
      "name": "Daily Sleep",
      "description": "Daily sleep summaries"
    },
    {
      "name": "Daily Readiness",
      "description": "Daily readiness scores"
    },
    {
      "name": "Daily SpO2",
      "description": "Daily blood oxygen saturation"
    },
    {
      "name": "Sleep",
      "description": "Detailed sleep data"
    },
    {
      "name": "Sleep Time",
      "description": "Sleep timing data"
    },
    {
      "name": "Workout",
      "description": "Workout data"
    },
    {
      "name": "Session",
      "description": "Session/meditation data"
    },
    {
      "name": "Tag",
      "description": "User-created tags"
    },
    {
      "name": "Enhanced Tag",
      "description": "Enhanced tags with additional context"
    }
  ]
}