{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "atlas@atlasrtx.com"
    },
    "description": "AtlasRTX is a chatbot platform for engaging your customers.<br />This is the API on how to quickly and easily connect to the Atlas platform.",
    "title": "AtlasRTX API V1",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/AtlasRTX/atlas-rtxv_1/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://app.atlasrtx.com/v1/atlas"
    }
  ],
  "paths": {
    "/engagement": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "properties": {
                        "channelid": {
                          "type": "string"
                        },
                        "customerid": {
                          "type": "integer"
                        },
                        "customername": {
                          "type": "string"
                        },
                        "customerphone": {
                          "type": "integer"
                        },
                        "engagementdate": {
                          "type": "string"
                        },
                        "engagementid": {
                          "type": "integer"
                        },
                        "locationid": {
                          "type": "integer"
                        },
                        "locationname": {
                          "type": "string"
                        },
                        "programid": {
                          "type": "integer"
                        },
                        "programname": {
                          "type": "string"
                        },
                        "statusid": {
                          "type": "integer"
                        },
                        "targetdate": {
                          "type": "string"
                        },
                        "userid": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "engagements"
        ],
        "description": "Creates a new engagement with a location auth token",
        "operationId": "engagement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "authtoken": {
                    "description": "This auth token will be provided to you by Atlas.",
                    "type": "string"
                  },
                  "channelid": {
                    "description": "Channel on which to create the engagement",
                    "type": "string"
                  },
                  "custom1value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "custom2value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "custom3value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "custom4value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "custom5value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "customercustom1": {
                    "description": "A customer custom 1 value",
                    "type": "string"
                  },
                  "customercustom10": {
                    "description": "A customer custom 10 value",
                    "type": "string"
                  },
                  "customercustom11": {
                    "description": "A customer custom 11 value",
                    "type": "string"
                  },
                  "customercustom12": {
                    "description": "A customer custom 12 value",
                    "type": "string"
                  },
                  "customercustom2": {
                    "description": "A customer custom 2 value",
                    "type": "string"
                  },
                  "customercustom3": {
                    "description": "A customer custom 3 value",
                    "type": "string"
                  },
                  "customercustom4": {
                    "description": "A customer custom 4 value",
                    "type": "string"
                  },
                  "customercustom5": {
                    "description": "A customer custom 5 value",
                    "type": "string"
                  },
                  "customercustom6": {
                    "description": "A customer custom 6 value",
                    "type": "string"
                  },
                  "customercustom7": {
                    "description": "A customer custom 7 value",
                    "type": "string"
                  },
                  "customercustom8": {
                    "description": "A customer custom 8 value",
                    "type": "string"
                  },
                  "customercustom9": {
                    "description": "A customer custom 9 value",
                    "type": "string"
                  },
                  "email": {
                    "description": "email eg. you@gmail.com.",
                    "type": "string"
                  },
                  "emailtonotify": {
                    "description": "email address of the person to notify of responses. Multiple addresses are allowed and are separated with a comma (‘,’)",
                    "type": "string"
                  },
                  "firstname": {
                    "description": "First name",
                    "type": "string"
                  },
                  "lastname": {
                    "description": "Last name",
                    "type": "string"
                  },
                  "phonenumber": {
                    "description": "10 digit cell phone number capable of receiving text messages",
                    "type": "integer"
                  },
                  "programid": {
                    "description": "An unique identifier of the program and will be provided to you.",
                    "type": "integer"
                  },
                  "salutation": {
                    "description": "A salutation.  For example, Mr. Ms.",
                    "type": "string"
                  },
                  "targetdatetime": {
                    "description": "Target date-time. Expected format - mm/dd/yy HH:mm (HH is 24 hour notation, ie 07/28/16 17:30). Used for scheduling an invitation time.  If empty, the invite will send out immediately.  If included, the invite will be sent out at the specified date and time.",
                    "type": "string"
                  }
                },
                "required": [
                  "authtoken",
                  "programid",
                  "salutation",
                  "firstname",
                  "lastname",
                  "phonenumber",
                  "email",
                  "emailtonotify",
                  "targetdatetime"
                ],
                "type": "object"
              }
            }
          },
          "description": "Create an engagement based on a location token"
        },
        "summary": "Creates a new engagement with a location auth token"
      }
    },
    "/engagementbytoken": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "properties": {
                        "channelid": {
                          "type": "string"
                        },
                        "customerid": {
                          "type": "integer"
                        },
                        "customername": {
                          "type": "string"
                        },
                        "customerphone": {
                          "type": "integer"
                        },
                        "engagementdate": {
                          "type": "string"
                        },
                        "engagementid": {
                          "type": "integer"
                        },
                        "locationid": {
                          "type": "integer"
                        },
                        "locationname": {
                          "type": "string"
                        },
                        "programid": {
                          "type": "integer"
                        },
                        "programname": {
                          "type": "string"
                        },
                        "statusid": {
                          "type": "integer"
                        },
                        "targetdate": {
                          "type": "string"
                        },
                        "userid": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "engagements"
        ],
        "description": "Creates a new engagement based on an API auth token",
        "operationId": "engagementnytoken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "authtoken": {
                    "description": "This auth token will be provided to you by Atlas.",
                    "type": "string"
                  },
                  "channelid": {
                    "description": "Channel on which to create the engagement",
                    "type": "string"
                  },
                  "custom1value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "custom2value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "custom3value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "custom4value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "custom5value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "customercustom1": {
                    "description": "A customer custom 1 value",
                    "type": "string"
                  },
                  "customercustom10": {
                    "description": "A customer custom 10 value",
                    "type": "string"
                  },
                  "customercustom11": {
                    "description": "A customer custom 11 value",
                    "type": "string"
                  },
                  "customercustom12": {
                    "description": "A customer custom 12 value",
                    "type": "string"
                  },
                  "customercustom2": {
                    "description": "A customer custom 2 value",
                    "type": "string"
                  },
                  "customercustom3": {
                    "description": "A customer custom 3 value",
                    "type": "string"
                  },
                  "customercustom4": {
                    "description": "A customer custom 4 value",
                    "type": "string"
                  },
                  "customercustom5": {
                    "description": "A customer custom 5 value",
                    "type": "string"
                  },
                  "customercustom6": {
                    "description": "A customer custom 6 value",
                    "type": "string"
                  },
                  "customercustom7": {
                    "description": "A customer custom 7 value",
                    "type": "string"
                  },
                  "customercustom8": {
                    "description": "A customer custom 8 value",
                    "type": "string"
                  },
                  "customercustom9": {
                    "description": "A customer custom 9 value",
                    "type": "string"
                  },
                  "email": {
                    "description": "email eg. you@gmail.com.",
                    "type": "string"
                  },
                  "emailtonotify": {
                    "description": "email address of the person to notify of responses. Multiple addresses are allowed and are separated with a comma (‘,’)",
                    "type": "string"
                  },
                  "firstname": {
                    "description": "First name",
                    "type": "string"
                  },
                  "lastname": {
                    "description": "Last name",
                    "type": "string"
                  },
                  "phonenumber": {
                    "description": "10 digit cell phone number capable of receiving text messages",
                    "type": "integer"
                  },
                  "salutation": {
                    "description": "A salutation.  For example, Mr. Ms.",
                    "type": "string"
                  },
                  "targetdatetime": {
                    "description": "Target date-time. Expected format - mm/dd/yy HH:mm (HH is 24 hour notation, ie 07/28/16 17:30). Used for scheduling an invitation time.  If empty, the invite will send out immediately.  If included, the invite will be sent out at the specified date and time.",
                    "type": "string"
                  }
                },
                "required": [
                  "authtoken",
                  "salutation",
                  "firstname",
                  "lastname",
                  "phonenumber",
                  "email",
                  "emailtonotify",
                  "targetdatetime"
                ],
                "type": "object"
              }
            }
          },
          "description": "Create an engagement based on an API auth token that identifies the location and program to use"
        },
        "summary": "Creates a new engagement based on an API auth token"
      }
    },
    "/engagementbyuser": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "properties": {
                        "customerid": {
                          "type": "integer"
                        },
                        "customername": {
                          "type": "string"
                        },
                        "customerphone": {
                          "type": "integer"
                        },
                        "engagementdate": {
                          "type": "string"
                        },
                        "engagementid": {
                          "type": "integer"
                        },
                        "locationid": {
                          "type": "integer"
                        },
                        "locationname": {
                          "type": "string"
                        },
                        "programid": {
                          "type": "integer"
                        },
                        "programname": {
                          "type": "string"
                        },
                        "statusid": {
                          "type": "integer"
                        },
                        "targetdate": {
                          "type": "string"
                        },
                        "userid": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "engagements"
        ],
        "description": "Creates a new engagement by a User",
        "operationId": "engagementbyuser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "custom1value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "custom2value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "custom3value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "custom4value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "custom5value": {
                    "description": "A custom value",
                    "type": "string"
                  },
                  "email": {
                    "description": "email eg. you@gmail.com.",
                    "type": "string"
                  },
                  "firstname": {
                    "description": "First name",
                    "type": "string"
                  },
                  "lastname": {
                    "description": "Last name",
                    "type": "string"
                  },
                  "locationid": {
                    "description": "The Locations's ID.",
                    "type": "integer"
                  },
                  "notifyme": {
                    "description": "True if one wishes to be notified of messages, false if not",
                    "type": "boolean"
                  },
                  "phonenumber": {
                    "description": "Phone number",
                    "type": "integer"
                  },
                  "programid": {
                    "description": "An unique identifier of the program.",
                    "type": "integer"
                  },
                  "salutation": {
                    "description": "A salutation.",
                    "type": "string"
                  },
                  "thirdpartyemail": {
                    "description": "email eg. you@gmail.com.",
                    "type": "string"
                  },
                  "userid": {
                    "description": "The User's ID.",
                    "type": "integer"
                  }
                },
                "required": [
                  "userid",
                  "locationid",
                  "programid",
                  "salutation",
                  "targetdate",
                  "firstname",
                  "lastname",
                  "phonenumber",
                  "email",
                  "notifyme",
                  "thirdpartyemail"
                ],
                "type": "object"
              }
            }
          },
          "description": "By passing in the right parameters including userid, create an engagement"
        },
        "summary": "Creates a new engagement by a User"
      }
    },
    "/getengagementdata": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "properties": {
                        "customerid": {
                          "type": "integer"
                        },
                        "customername": {
                          "type": "string"
                        },
                        "customerphone": {
                          "type": "integer"
                        },
                        "engagementdate": {
                          "type": "string"
                        },
                        "engagementid": {
                          "type": "integer"
                        },
                        "locationid": {
                          "type": "integer"
                        },
                        "locationname": {
                          "type": "string"
                        },
                        "programid": {
                          "type": "integer"
                        },
                        "programname": {
                          "type": "string"
                        },
                        "statusid": {
                          "type": "integer"
                        },
                        "targetdate": {
                          "type": "string"
                        },
                        "userid": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "response": {
                      "properties": {
                        "customerid": {
                          "type": "integer"
                        },
                        "customername": {
                          "type": "string"
                        },
                        "customerphone": {
                          "type": "integer"
                        },
                        "engagementdate": {
                          "type": "string"
                        },
                        "engagementid": {
                          "type": "integer"
                        },
                        "locationid": {
                          "type": "integer"
                        },
                        "locationname": {
                          "type": "string"
                        },
                        "programid": {
                          "type": "integer"
                        },
                        "programname": {
                          "type": "string"
                        },
                        "statusid": {
                          "type": "integer"
                        },
                        "targetdate": {
                          "type": "string"
                        },
                        "userid": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "tags": [
          "engagements"
        ],
        "description": "Provides access to the retrieval of engagement conversation data",
        "operationId": "getEngagementData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "enddate": {
                    "description": "Format expected- mm/dd/yy HH:mm (HH is 24 hour notation, ie 07/29/18 17:30)",
                    "type": "string"
                  },
                  "messagedatetype": {
                    "description": "One of three values is expected that will utilize the above start and end date period to filter messages '1' = Date of first message in the engagement occurred in the period '2' = Date of latest message in the engagement occurred in the period '3' = Date of any message in the engagement occurred in the period",
                    "type": "string"
                  },
                  "password": {
                    "description": "Your AtlasRTX password",
                    "type": "string"
                  },
                  "startdate": {
                    "description": "Format expected- mm/dd/yy HH:mm (HH is 24 hour notation, ie 07/28/18 17:30)",
                    "type": "string"
                  },
                  "username": {
                    "description": "This your AtlasRTX user name and it used to determine the account and location that is used to gather the appropriate data",
                    "type": "string"
                  }
                },
                "required": [
                  "username",
                  "password"
                ],
                "type": "object"
              }
            }
          },
          "description": "Provides access to historical data"
        },
        "summary": "Provides access to the retrieval of engagement conversation data"
      }
    }
  },
  "tags": [
    {
      "description": "For working with AtlasRTX messaging engagements",
      "name": "engagements"
    }
  ]
}