{
  "openapi": "3.0.3",
  "info": {
    "title": "G2 API",
    "description": "G2 API for accessing product reviews, ratings, categories, buyer intent data, and syndication content. Follows the JSON:API specification.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://data.g2.com/api/docs"
  },
  "servers": [
    {
      "url": "https://data.g2.com/api",
      "description": "G2 API Server"
    }
  ],
  "paths": {
    "/v1/answers": {
      "get": {
        "operationId": "listanswers",
        "summary": "List answers",
        "description": "Returns answers to survey questions, optionally filtered by product.",
        "tags": [
          "Answers"
        ],
        "parameters": [
          {
            "name": "filter[product_id]",
            "in": "query",
            "description": "Filter by product ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updated_at_gt]",
            "in": "query",
            "description": "Filter answers updated after this date (RFC3339 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[updated_at_lt]",
            "in": "query",
            "description": "Filter answers updated before this date (RFC3339 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnswerListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/answers/{id}": {
      "get": {
        "operationId": "getanswer",
        "summary": "Get an answer",
        "description": "Returns a single answer by ID.",
        "tags": [
          "Answers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Answer ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[product_id]",
            "in": "query",
            "description": "Filter by product ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnswerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ahoy/companies/{id}": {
      "get": {
        "operationId": "getbuyerintentcompany",
        "summary": "Get buyer intent company",
        "description": "Returns company information for buyer intent tracking.",
        "tags": [
          "Buyer Intent"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Company ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ahoy/remote-event-streams": {
      "get": {
        "operationId": "listbuyerintenteventstreams",
        "summary": "List buyer intent event streams",
        "description": "View visitor events to product pages for buyer intent analysis.",
        "tags": [
          "Buyer Intent"
        ],
        "parameters": [
          {
            "name": "filter[start_time]",
            "in": "query",
            "description": "Start time filter (RFC3339)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[end_time]",
            "in": "query",
            "description": "End time filter (RFC3339)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventStreamListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intent-history": {
      "get": {
        "operationId": "listbuyerintenthistory",
        "summary": "List buyer intent history",
        "description": "Search buyer intent activity over time, grouped by company.",
        "tags": [
          "Buyer Intent"
        ],
        "parameters": [
          {
            "name": "filter[visit_at_gt]",
            "in": "query",
            "description": "Filter visits after this date (RFC3339)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[visit_at_lt]",
            "in": "query",
            "description": "Filter visits before this date (RFC3339)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntentHistoryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/attribution_tracking/remote-conversions": {
      "get": {
        "operationId": "listtrackprospectconversions",
        "summary": "List tracked prospect conversions",
        "description": "View conversions from tracked prospects.",
        "tags": [
          "Buyer Intent"
        ],
        "parameters": [
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/categories": {
      "get": {
        "operationId": "listcategories",
        "summary": "List categories",
        "description": "Returns product categories with hierarchy information.",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "description": "Filter by category slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by category name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updated_at_gt]",
            "in": "query",
            "description": "Filter categories updated after this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[updated_at_lt]",
            "in": "query",
            "description": "Filter categories updated before this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/categories/{id}": {
      "get": {
        "operationId": "getcategory",
        "summary": "Get a category",
        "description": "Returns a single category by ID.",
        "tags": [
          "Categories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Category ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products": {
      "get": {
        "operationId": "listproducts",
        "summary": "List products",
        "description": "Returns products with ratings and review counts.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "description": "Filter by product name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[domain]",
            "in": "query",
            "description": "Filter by product domain",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[slug]",
            "in": "query",
            "description": "Filter by product slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/{id}": {
      "get": {
        "operationId": "getproduct",
        "summary": "Get a product",
        "description": "Returns product details including categories and vendor info.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/{id}/survey-responses": {
      "get": {
        "operationId": "listproductreviews",
        "summary": "List product reviews",
        "description": "Returns reviews for a specific product.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/questions": {
      "get": {
        "operationId": "listquestions",
        "summary": "List questions",
        "description": "Returns survey questions used in reviews.",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "filter[question_type]",
            "in": "query",
            "description": "Filter by question type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updated_at_gt]",
            "in": "query",
            "description": "Filter questions updated after this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[updated_at_lt]",
            "in": "query",
            "description": "Filter questions updated before this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/questions/{id}": {
      "get": {
        "operationId": "getquestion",
        "summary": "Get a question",
        "description": "Returns a single survey question by ID.",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Question ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/resource-subscriptions": {
      "get": {
        "operationId": "listwebhooksubscriptions",
        "summary": "List webhook subscriptions",
        "description": "Returns all webhook subscriptions.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "filter[updated_at_gt]",
            "in": "query",
            "description": "Filter subscriptions updated after this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[updated_at_lt]",
            "in": "query",
            "description": "Filter subscriptions updated before this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createwebhooksubscription",
        "summary": "Create webhook subscription",
        "description": "Creates a new webhook subscription.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/resource-subscriptions/{id}": {
      "get": {
        "operationId": "getwebhooksubscription",
        "summary": "Get webhook subscription",
        "description": "Returns a single webhook subscription.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subscription ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletewebhooksubscription",
        "summary": "Delete webhook subscription",
        "description": "Removes a webhook subscription.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Subscription ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/survey-responses": {
      "get": {
        "operationId": "listreviews",
        "summary": "List reviews",
        "description": "Returns reviews with ratings and user information.",
        "tags": [
          "Reviews"
        ],
        "parameters": [
          {
            "name": "filter[submitted_at_gt]",
            "in": "query",
            "description": "Filter reviews submitted after this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[submitted_at_lt]",
            "in": "query",
            "description": "Filter reviews submitted before this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[moderated_at_gt]",
            "in": "query",
            "description": "Filter reviews moderated after this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[moderated_at_lt]",
            "in": "query",
            "description": "Filter reviews moderated before this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/survey-responses/{id}": {
      "get": {
        "operationId": "getreview",
        "summary": "Get a review",
        "description": "Returns a single review with detailed answers.",
        "tags": [
          "Reviews"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Review ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendors": {
      "get": {
        "operationId": "listvendors",
        "summary": "List vendors",
        "description": "Returns a list of vendors.",
        "tags": [
          "Vendors"
        ],
        "parameters": [
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendors/{id}": {
      "get": {
        "operationId": "getvendor",
        "summary": "Get a vendor",
        "description": "Returns a single vendor by ID.",
        "tags": [
          "Vendors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Vendor ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/2018-01-01/syndication/products": {
      "get": {
        "operationId": "listsyndicationproducts",
        "summary": "List syndication products",
        "description": "Returns products available for syndication with vendor and category data.",
        "tags": [
          "Syndication"
        ],
        "parameters": [
          {
            "name": "filter[product_id]",
            "in": "query",
            "description": "Filter by product ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[category_id]",
            "in": "query",
            "description": "Filter by category ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[vendor_name]",
            "in": "query",
            "description": "Filter by vendor name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[review_count_gteq]",
            "in": "query",
            "description": "Filter products with at least this many reviews",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "Vendor filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyndicationProductListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/2018-01-01/syndication/products/{id}": {
      "get": {
        "operationId": "getsyndicationproduct",
        "summary": "Get syndication product",
        "description": "Returns a single syndication product with aggregated data.",
        "tags": [
          "Syndication"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "Vendor filter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyndicationProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/2018-01-01/syndication/products/{product_id}/competitors": {
      "get": {
        "operationId": "listsyndicationcompetitors",
        "summary": "List syndication competitors",
        "description": "Returns competitor products for a given product.",
        "tags": [
          "Syndication"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompetitorListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/2018-01-01/syndication/products/{product_id}/product_ratings": {
      "get": {
        "operationId": "getsyndicationproductratings",
        "summary": "Get syndication product ratings",
        "description": "Returns product ratings breakdown including ease of use, setup, and support scores.",
        "tags": [
          "Syndication"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "description": "Product ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductRatingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/2018-01-01/syndication/questions/{question_id}/answer-distributions/{id}": {
      "get": {
        "operationId": "getsyndicationanswerdistribution",
        "summary": "Get syndication answer distribution",
        "description": "Returns statistical answer distribution for a question including z-scores and percentiles.",
        "tags": [
          "Syndication"
        ],
        "parameters": [
          {
            "name": "question_id",
            "in": "path",
            "required": true,
            "description": "Question ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Answer distribution ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "description": "Filter by category ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnswerDistributionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/2018-01-01/syndication/reviews": {
      "get": {
        "operationId": "listsyndicationreviews",
        "summary": "List syndication reviews",
        "description": "Returns reviews available for syndication with full content and user details.",
        "tags": [
          "Syndication"
        ],
        "parameters": [
          {
            "name": "filter[product_id]",
            "in": "query",
            "description": "Filter by product ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[nps_score]",
            "in": "query",
            "description": "Filter by NPS score",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[company_segment]",
            "in": "query",
            "description": "Filter by company segment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[industry]",
            "in": "query",
            "description": "Filter by industry",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updated_at_gt]",
            "in": "query",
            "description": "Filter reviews updated after this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[updated_at_lt]",
            "in": "query",
            "description": "Filter reviews updated before this date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyndicationReviewListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/2018-01-01/syndication/reviews/comments": {
      "get": {
        "operationId": "listsyndicationreviewcomments",
        "summary": "List syndication review comments",
        "description": "Returns comments on syndication reviews.",
        "tags": [
          "Syndication"
        ],
        "parameters": [
          {
            "name": "filter[product_id]",
            "in": "query",
            "description": "Filter by product ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[review_id]",
            "in": "query",
            "description": "Filter by review ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[my_api_responses]",
            "in": "query",
            "description": "Filter to only show your API responses",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[vendor_responses]",
            "in": "query",
            "description": "Filter to only show vendor responses",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/2018-01-01/syndication/reviews/{review_id}/comments": {
      "post": {
        "operationId": "createsyndicationreviewcomment",
        "summary": "Create syndication review comment",
        "description": "Submit an official response comment on a review.",
        "tags": [
          "Syndication"
        ],
        "parameters": [
          {
            "name": "review_id",
            "in": "path",
            "required": true,
            "description": "Review ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/2018-01-01/syndication/reviews/comments/{id}": {
      "delete": {
        "operationId": "deletesyndicationreviewcomment",
        "summary": "Delete syndication review comment",
        "description": "Archives a review comment.",
        "tags": [
          "Syndication"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Comment ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment archived"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/2018-01-01/syndication/integration_reviews": {
      "get": {
        "operationId": "listsyndicationintegrationreviews",
        "summary": "List syndication integration reviews",
        "description": "Returns integration reviews with ratings.",
        "tags": [
          "Syndication"
        ],
        "parameters": [
          {
            "name": "filter[product_id]",
            "in": "query",
            "description": "Filter by product ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[primary_product_id]",
            "in": "query",
            "description": "Filter by primary product ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[nps_score]",
            "in": "query",
            "description": "Filter by NPS score",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[company_segment]",
            "in": "query",
            "description": "Filter by company segment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationReviewListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/2018-01-01/syndication/snippets": {
      "get": {
        "operationId": "listSyndicationSnippets",
        "summary": "List syndication snippets",
        "description": "Retrieve syndication snippet data for products.",
        "tags": [
          "Syndication"
        ],
        "parameters": [
          {
            "name": "filter[product_id]",
            "in": "query",
            "description": "Filter by product ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "description": "Number of results per page (max 100)",
            "schema": {
              "type": "integer",
              "maximum": 100
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snippet list",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Snippet"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonApiResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Resource ID"
          },
          "type": {
            "type": "string",
            "description": "Resource type"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": true,
            "description": "Resource attributes"
          },
          "relationships": {
            "type": "object",
            "additionalProperties": true,
            "description": "Resource relationships"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "record_count": {
            "type": "integer",
            "description": "Total number of records"
          },
          "page_count": {
            "type": "integer",
            "description": "Total number of pages"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "description": "URL to first page"
          },
          "last": {
            "type": "string",
            "description": "URL to last page"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "URL to next page"
          },
          "prev": {
            "type": "string",
            "nullable": true,
            "description": "URL to previous page"
          }
        }
      },
      "AnswerListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "AnswerResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          }
        }
      },
      "CompanyResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          }
        }
      },
      "EventStreamListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "IntentHistoryListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "ConversionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "CategoryListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "CategoryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          }
        }
      },
      "ProductListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          }
        }
      },
      "QuestionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "QuestionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          }
        }
      },
      "ReviewListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "ReviewResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          }
        }
      },
      "VendorListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "VendorResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          }
        }
      },
      "SubscriptionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "SubscriptionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          }
        }
      },
      "CreateSubscriptionRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "type",
              "attributes"
            ],
            "properties": {
              "type": {
                "type": "string",
                "description": "Resource type (resource-subscriptions)"
              },
              "attributes": {
                "type": "object",
                "required": [
                  "subscribed_resource",
                  "post_url"
                ],
                "properties": {
                  "subscribed_resource": {
                    "type": "string",
                    "description": "The resource to subscribe to"
                  },
                  "post_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to post webhook events to"
                  }
                }
              }
            }
          }
        }
      },
      "SyndicationProductListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "SyndicationProductResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          }
        }
      },
      "CompetitorListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          }
        }
      },
      "ProductRatingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          }
        }
      },
      "AnswerDistributionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          }
        }
      },
      "SyndicationReviewListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "CommentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "CommentResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          }
        }
      },
      "CreateCommentRequest": {
        "type": "object",
        "required": [
          "comment"
        ],
        "properties": {
          "comment": {
            "type": "object",
            "required": [
              "content"
            ],
            "properties": {
              "content": {
                "type": "string",
                "description": "Comment content"
              },
              "title": {
                "type": "string",
                "description": "Comment title"
              },
              "user_id": {
                "type": "string",
                "description": "User ID of the commenter"
              }
            }
          }
        }
      },
      "IntegrationReviewListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "HTTP status code"
                },
                "title": {
                  "type": "string",
                  "description": "Error title"
                },
                "detail": {
                  "type": "string",
                  "description": "Error detail message"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      },
      "Snippet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Token-based authentication. Format: 'Token token=YOUR_API_TOKEN'"
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Answers",
      "description": "Operations related to Answers"
    },
    {
      "name": "Buyer Intent",
      "description": "Operations related to Buyer Intent"
    },
    {
      "name": "Categories",
      "description": "Operations related to Categories"
    },
    {
      "name": "Products",
      "description": "Operations related to Products"
    },
    {
      "name": "Questions",
      "description": "Operations related to Questions"
    },
    {
      "name": "Reviews",
      "description": "Operations related to Reviews"
    },
    {
      "name": "Syndication",
      "description": "Operations related to Syndication"
    },
    {
      "name": "Vendors",
      "description": "Operations related to Vendors"
    },
    {
      "name": "Webhooks",
      "description": "Operations related to Webhooks"
    }
  ]
}