{
  "openapi": "3.0.3",
  "info": {
    "title": "CupixWorks API",
    "description": "CupixWorks API for managing annotation layers, categories, progress tracking, statuses, workflows, and review processes",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.cupixworks.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/annotation-layers": {
      "get": {
        "summary": "List annotation layers",
        "description": "Retrieve list of annotation layers",
        "tags": [
          "AnnotationLayer"
        ],
        "responses": {
          "200": {
            "description": "List of annotation layers"
          }
        },
        "operationId": "get-annotation-layers"
      },
      "post": {
        "summary": "Create annotation layer",
        "description": "Create a new annotation layer",
        "tags": [
          "AnnotationLayer"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Annotation layer created"
          }
        },
        "operationId": "post-annotation-layers"
      }
    },
    "/annotation-layers/{id}": {
      "get": {
        "summary": "Retrieve annotation layer",
        "description": "Get specific annotation layer details",
        "tags": [
          "AnnotationLayer"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation layer details"
          }
        },
        "operationId": "get-annotation-layers-by-id"
      },
      "put": {
        "summary": "Update annotation layer",
        "description": "Update an existing annotation layer",
        "tags": [
          "AnnotationLayer"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotation layer updated"
          }
        },
        "operationId": "put-annotation-layers-by-id"
      },
      "delete": {
        "summary": "Delete annotation layer",
        "description": "Delete an annotation layer",
        "tags": [
          "AnnotationLayer"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Annotation layer deleted"
          }
        },
        "operationId": "delete-annotation-layers-by-id"
      }
    },
    "/annotation-layers/{id}/publish": {
      "put": {
        "summary": "Publish annotation layer",
        "description": "Publish an annotation layer",
        "tags": [
          "AnnotationLayer"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation layer published"
          }
        },
        "operationId": "put-annotation-layers-by-id-publish"
      }
    },
    "/annotation-layers/{id}/unpublish": {
      "put": {
        "summary": "Unpublish annotation layer",
        "description": "Unpublish an annotation layer",
        "tags": [
          "AnnotationLayer"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation layer unpublished"
          }
        },
        "operationId": "put-annotation-layers-by-id-unpublish"
      }
    },
    "/annotation-layers/{id}/metadata": {
      "get": {
        "summary": "Get layer metadata",
        "description": "Retrieve annotation layer metadata",
        "tags": [
          "AnnotationLayer"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Layer metadata"
          }
        },
        "operationId": "get-annotation-layers-by-id-metadata"
      },
      "put": {
        "summary": "Update layer metadata",
        "description": "Update annotation layer metadata",
        "tags": [
          "AnnotationLayer"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata updated"
          }
        },
        "operationId": "put-annotation-layers-by-id-metadata"
      }
    },
    "/categories": {
      "get": {
        "summary": "List categories",
        "description": "Retrieve list of categories",
        "tags": [
          "Category"
        ],
        "responses": {
          "200": {
            "description": "List of categories"
          }
        },
        "operationId": "get-categories"
      },
      "post": {
        "summary": "Create category",
        "description": "Create a new category",
        "tags": [
          "Category"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Category created"
          }
        },
        "operationId": "post-categories"
      }
    },
    "/categories/{id}": {
      "get": {
        "summary": "Retrieve category",
        "description": "Get specific category details",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category details"
          }
        },
        "operationId": "get-categories-by-id"
      },
      "put": {
        "summary": "Update category",
        "description": "Update an existing category",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category updated"
          }
        },
        "operationId": "put-categories-by-id"
      },
      "delete": {
        "summary": "Delete category",
        "description": "Delete a category",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Category deleted"
          }
        },
        "operationId": "delete-categories-by-id"
      }
    },
    "/progress": {
      "get": {
        "summary": "List progress items",
        "description": "Retrieve list of progress items",
        "tags": [
          "Progress"
        ],
        "responses": {
          "200": {
            "description": "List of progress items"
          }
        },
        "operationId": "get-progress"
      },
      "post": {
        "summary": "Create progress",
        "description": "Create a new progress item",
        "tags": [
          "Progress"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Progress created"
          }
        },
        "operationId": "post-progress"
      }
    },
    "/progress/{id}": {
      "get": {
        "summary": "Retrieve progress",
        "description": "Get specific progress item details",
        "tags": [
          "Progress"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Progress details"
          }
        },
        "operationId": "get-progress-by-id"
      },
      "put": {
        "summary": "Update progress",
        "description": "Update an existing progress item",
        "tags": [
          "Progress"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Progress updated"
          }
        },
        "operationId": "put-progress-by-id"
      },
      "delete": {
        "summary": "Delete progress",
        "description": "Delete a progress item",
        "tags": [
          "Progress"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Progress deleted"
          }
        },
        "operationId": "delete-progress-by-id"
      }
    },
    "/statuses": {
      "get": {
        "summary": "List statuses",
        "description": "Retrieve list of statuses",
        "tags": [
          "Status"
        ],
        "responses": {
          "200": {
            "description": "List of statuses"
          }
        },
        "operationId": "get-statuses"
      },
      "post": {
        "summary": "Create status",
        "description": "Create a new status",
        "tags": [
          "Status"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Status created"
          }
        },
        "operationId": "post-statuses"
      }
    },
    "/statuses/{id}": {
      "get": {
        "summary": "Retrieve status",
        "description": "Get specific status details",
        "tags": [
          "Status"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status details"
          }
        },
        "operationId": "get-statuses-by-id"
      },
      "put": {
        "summary": "Update status",
        "description": "Update an existing status",
        "tags": [
          "Status"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated"
          }
        },
        "operationId": "put-statuses-by-id"
      },
      "delete": {
        "summary": "Delete status",
        "description": "Delete a status",
        "tags": [
          "Status"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Status deleted"
          }
        },
        "operationId": "delete-statuses-by-id"
      }
    },
    "/workflows": {
      "get": {
        "summary": "List workflows",
        "description": "Retrieve list of workflows",
        "tags": [
          "Workflow"
        ],
        "responses": {
          "200": {
            "description": "List of workflows"
          }
        },
        "operationId": "get-workflows"
      },
      "post": {
        "summary": "Create workflow",
        "description": "Create a new workflow",
        "tags": [
          "Workflow"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workflow created"
          }
        },
        "operationId": "post-workflows"
      }
    },
    "/workflows/{id}": {
      "get": {
        "summary": "Retrieve workflow",
        "description": "Get specific workflow details",
        "tags": [
          "Workflow"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow details"
          }
        },
        "operationId": "get-workflows-by-id"
      },
      "put": {
        "summary": "Update workflow",
        "description": "Update an existing workflow",
        "tags": [
          "Workflow"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow updated"
          }
        },
        "operationId": "put-workflows-by-id"
      },
      "delete": {
        "summary": "Delete workflow",
        "description": "Delete a workflow",
        "tags": [
          "Workflow"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Workflow deleted"
          }
        },
        "operationId": "delete-workflows-by-id"
      }
    },
    "/reviews": {
      "get": {
        "summary": "List reviews",
        "description": "Retrieve list of reviews",
        "tags": [
          "Review"
        ],
        "responses": {
          "200": {
            "description": "List of reviews"
          }
        },
        "operationId": "get-reviews"
      },
      "post": {
        "summary": "Create review",
        "description": "Create a new review",
        "tags": [
          "Review"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review created"
          }
        },
        "operationId": "post-reviews"
      }
    }
  },
  "tags": [
    {
      "name": "AnnotationLayer"
    },
    {
      "name": "Category"
    },
    {
      "name": "Progress"
    },
    {
      "name": "Review"
    },
    {
      "name": "Status"
    },
    {
      "name": "Workflow"
    }
  ]
}
