{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "Azure Alerts Management Service provides a single pane of glass of alerts across Azure Monitor.",
    "title": "Azure Alerts Management Service Resource Provider",
    "version": "2019-05-05-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2019-05-05-preview/AlertsManagement.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "alertsmanagement-AlertsManagement",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "parameters": {
    "actionGroup": {
      "description": "filter by action group configured as part of action rule",
      "in": "query",
      "name": "actionGroup",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "actionRuleName": {
      "description": "filter by action rule name",
      "in": "query",
      "name": "name",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "alertId": {
      "description": "Unique ID of an alert instance.",
      "in": "path",
      "name": "alertId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "alertRule": {
      "description": "Filter by specific alert rule.  Default value is to select all.",
      "in": "query",
      "name": "alertRule",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "alertRuleId": {
      "description": "filter by alert rule id",
      "in": "query",
      "name": "alertRuleId",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "alertState": {
      "description": "Filter by state of the alert instance. Default value is to select all.",
      "enum": [
        "New",
        "Acknowledged",
        "Closed"
      ],
      "in": "query",
      "name": "alertState",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "AlertState"
      },
      "x-ms-parameter-location": "method"
    },
    "alertsSortBy": {
      "description": "Sort the query results by input field,  Default value is 'lastModifiedDateTime'.",
      "enum": [
        "name",
        "severity",
        "alertState",
        "monitorCondition",
        "targetResource",
        "targetResourceName",
        "targetResourceGroup",
        "targetResourceType",
        "startDateTime",
        "lastModifiedDateTime"
      ],
      "in": "query",
      "name": "sortBy",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "AlertsSortByFields"
      },
      "x-ms-parameter-location": "method"
    },
    "alertsSummaryGroupBy": {
      "description": "This parameter allows the result set to be grouped by input fields (Maximum 2 comma separated fields supported). For example, groupby=severity or groupby=severity,alertstate.",
      "enum": [
        "severity",
        "alertState",
        "monitorCondition",
        "monitorService",
        "signalType",
        "alertRule"
      ],
      "in": "query",
      "name": "groupby",
      "required": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "AlertsSummaryGroupByFields"
      },
      "x-ms-parameter-location": "method"
    },
    "api-version": {
      "description": "client API version",
      "enum": [
        "2019-05-05-preview"
      ],
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "api-version"
      }
    },
    "customTimeRange": {
      "description": "Filter by custom time range in the format <start-time>/<end-time>  where time is in (ISO-8601 format)'. Permissible values is within 30 days from  query time. Either timeRange or customTimeRange could be used but not both. Default is none.",
      "in": "query",
      "name": "customTimeRange",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "description": {
      "description": "filter by alert rule description",
      "in": "query",
      "name": "description",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "identifier": {
      "description": "Identification of the information to be retrieved by API call.",
      "enum": [
        "MonitorServiceList"
      ],
      "in": "query",
      "name": "identifier",
      "required": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "identifier"
      },
      "x-ms-parameter-location": "method"
    },
    "impactedScope": {
      "description": "filter by impacted/target scope (provide comma separated list for multiple scopes). The value should be an well constructed ARM id of the scope.",
      "in": "query",
      "name": "impactedScope",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "includeContext": {
      "description": "Include context which has contextual data specific to the monitor service. Default value is false'",
      "in": "query",
      "name": "includeContext",
      "required": false,
      "type": "boolean",
      "x-ms-parameter-location": "method"
    },
    "includeEgressConfig": {
      "description": "Include egress config which would be used for displaying the content in portal.  Default value is 'false'.",
      "in": "query",
      "name": "includeEgressConfig",
      "required": false,
      "type": "boolean",
      "x-ms-parameter-location": "method"
    },
    "includeSmartGroupsCount": {
      "description": "Include count of the SmartGroups as part of the summary. Default value is 'false'.",
      "in": "query",
      "name": "includeSmartGroupsCount",
      "required": false,
      "type": "boolean",
      "x-ms-parameter-location": "method"
    },
    "monitorCondition": {
      "description": "Filter by monitor condition which is either 'Fired' or 'Resolved'. Default value is to select all.",
      "enum": [
        "Fired",
        "Resolved"
      ],
      "in": "query",
      "name": "monitorCondition",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "MonitorCondition"
      },
      "x-ms-parameter-location": "method"
    },
    "monitorService": {
      "description": "Filter by monitor service which generates the alert instance. Default value is select all.",
      "enum": [
        "Application Insights",
        "ActivityLog Administrative",
        "ActivityLog Security",
        "ActivityLog Recommendation",
        "ActivityLog Policy",
        "ActivityLog Autoscale",
        "Log Analytics",
        "Nagios",
        "Platform",
        "SCOM",
        "ServiceHealth",
        "SmartDetector",
        "VM Insights",
        "Zabbix"
      ],
      "in": "query",
      "name": "monitorService",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "MonitorService"
      },
      "x-ms-parameter-location": "method"
    },
    "newState": {
      "description": "New state of the alert.",
      "enum": [
        "New",
        "Acknowledged",
        "Closed"
      ],
      "in": "query",
      "name": "newState",
      "required": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "AlertState"
      },
      "x-ms-parameter-location": "method"
    },
    "pageCount": {
      "description": "Determines number of alerts returned per page in response. Permissible value is between 1 to 250. When the \"includeContent\"  filter is selected, maximum value allowed is 25. Default value is 25.",
      "in": "query",
      "name": "pageCount",
      "required": false,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "resourceGroupName": {
      "description": "Resource group name where the resource is created.",
      "in": "path",
      "name": "resourceGroupName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "select": {
      "description": "This filter allows to selection of the fields(comma separated) which would  be part of the essential section. This would allow to project only the  required fields rather than getting entire content.  Default is to fetch all the fields in the essentials section.",
      "in": "query",
      "name": "select",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "severity": {
      "description": "Filter by severity.  Default value is select all.",
      "enum": [
        "Sev0",
        "Sev1",
        "Sev2",
        "Sev3",
        "Sev4"
      ],
      "in": "query",
      "name": "severity",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "Severity"
      },
      "x-ms-parameter-location": "method"
    },
    "smartGroupId": {
      "description": "Smart group unique id. ",
      "in": "path",
      "name": "smartGroupId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "smartGroupIdFilter": {
      "description": "Filter the alerts list by the Smart Group Id. Default value is none.",
      "in": "query",
      "name": "smartGroupId",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "smartGroupState": {
      "description": "Filter by state of the smart group. Default value is to select all.",
      "enum": [
        "New",
        "Acknowledged",
        "Closed"
      ],
      "in": "query",
      "name": "smartGroupState",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "AlertState"
      },
      "x-ms-parameter-location": "method"
    },
    "smartGroupsSortBy": {
      "description": "Sort the query results by input field. Default value is sort by 'lastModifiedDateTime'.",
      "enum": [
        "alertsCount",
        "state",
        "severity",
        "startDateTime",
        "lastModifiedDateTime"
      ],
      "in": "query",
      "name": "sortBy",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "SmartGroupsSortByFields"
      },
      "x-ms-parameter-location": "method"
    },
    "sortOrder": {
      "description": "Sort the query results order in either ascending or descending.  Default value is 'desc' for time fields and 'asc' for others.",
      "enum": [
        "asc",
        "desc"
      ],
      "in": "query",
      "name": "sortOrder",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "subscriptionId": {
      "description": "The ID of the target subscription.",
      "in": "path",
      "minLength": 1,
      "name": "subscriptionId",
      "required": true,
      "type": "string"
    },
    "targetResource": {
      "description": "Filter by target resource( which is full ARM ID) Default value is select all.",
      "in": "query",
      "name": "targetResource",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "targetResourceGroup": {
      "description": "Filter by target resource group name. Default value is select all.",
      "in": "query",
      "name": "targetResourceGroup",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "targetResourceType": {
      "description": "Filter by target resource type. Default value is select all.",
      "in": "query",
      "name": "targetResourceType",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "timeRange": {
      "description": "Filter by time range by below listed values. Default value is 1 day.",
      "enum": [
        "1h",
        "1d",
        "7d",
        "30d"
      ],
      "in": "query",
      "name": "timeRange",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "TimeRange"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/providers/Microsoft.AlertsManagement/alertsMetaData": {
      "get": {
        "description": "List alerts meta data information based on value of identifier parameter.",
        "operationId": "Alerts_MetaData",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully listed alert meta data.",
            "schema": {
              "$ref": "#/definitions/alertsMetaData"
            }
          }
        },
        "x-ms-examples": {
          "MonService": {
            "parameters": {
              "api-version": "2019-05-05-preview",
              "identifier": "MonitorServiceList"
            },
            "responses": {
              "200": {
                "body": {
                  "properties": {
                    "data": [
                      {
                        "displayName": "Activity Log - Administrative",
                        "name": "ActivityLog Administrative"
                      },
                      {
                        "displayName": "Activity Log - Autoscale",
                        "name": "ActivityLog Autoscale"
                      },
                      {
                        "displayName": "Activity Log - Policy",
                        "name": "ActivityLog Policy"
                      },
                      {
                        "displayName": "Activity Log - Recommendation",
                        "name": "ActivityLog Recommendation"
                      },
                      {
                        "displayName": "Activity Log - Security",
                        "name": "ActivityLog Security"
                      },
                      {
                        "displayName": "Application Insights",
                        "name": "Application Insights"
                      },
                      {
                        "displayName": "Azure Backup",
                        "name": "Azure Backup"
                      },
                      {
                        "displayName": "Custom",
                        "name": "Custom"
                      },
                      {
                        "displayName": "Data Box Edge",
                        "name": "Data Box Edge"
                      },
                      {
                        "displayName": "VM Insights",
                        "name": "VM Insights"
                      },
                      {
                        "displayName": "Log Analytics",
                        "name": "Log Analytics"
                      },
                      {
                        "displayName": "NAGIOS",
                        "name": "Nagios"
                      },
                      {
                        "displayName": "Platform",
                        "name": "Platform"
                      },
                      {
                        "displayName": "Resource Health",
                        "name": "Resource Health"
                      },
                      {
                        "displayName": "SCOM",
                        "name": "SCOM"
                      },
                      {
                        "displayName": "Service Health",
                        "name": "ServiceHealth"
                      },
                      {
                        "displayName": "SmartDetector",
                        "name": "Smart Detector"
                      },
                      {
                        "displayName": "ZABBIX",
                        "name": "Zabbix"
                      }
                    ],
                    "metadataIdentifier": "MonitorServiceList"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/providers/Microsoft.AlertsManagement/operations": {
      "get": {
        "description": "List all operations available through Azure Alerts Management Resource Provider.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully retrieved operations list.",
            "schema": {
              "$ref": "#/definitions/operationsList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/actionRules": {
      "get": {
        "description": "List all action rules of the subscription and given input filters",
        "operationId": "ActionRules_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/targetResourceGroup"
          },
          {
            "$ref": "#/parameters/targetResourceType"
          },
          {
            "$ref": "#/parameters/targetResource"
          },
          {
            "$ref": "#/parameters/severity"
          },
          {
            "$ref": "#/parameters/monitorService"
          },
          {
            "$ref": "#/parameters/impactedScope"
          },
          {
            "$ref": "#/parameters/description"
          },
          {
            "$ref": "#/parameters/alertRuleId"
          },
          {
            "$ref": "#/parameters/actionGroup"
          },
          {
            "$ref": "#/parameters/actionRuleName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return the list of action rules",
            "headers": {
              "x-ms-request-id": {
                "description": "Service generated Request ID.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ActionRulesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "summary": "Get all action rule in a given subscription",
        "x-ms-examples": {
          "GetActionRulesSubscriptionWide": {
            "parameters": {
              "api-version": "2019-05-05-preview",
              "subscriptionId": "1e3ff1c0-771a-4119-a03b-be82a51e232d"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com:443/subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/actionRules?api-version=2018-11-02-privatepreview&ctoken=%2bRID%3aPlwOAPHEGwB9UwEAAAAgCw%3d%3d%23RT%3a2%23TRC%3a500%23RTD%3aqtQyMDE4LTA2LTEyVDE1OjEyOjE1",
                  "value": [
                    {
                      "id": "/subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourceGroups/alertscorrelationrg/providers/Microsoft.AlertsManagement/actionRules/DailySuppression",
                      "location": "Global",
                      "name": "DailySuppression",
                      "properties": {
                        "conditions": {
                          "monitorService": {
                            "operator": "Equals",
                            "values": [
                              "Platform",
                              "Application Insights"
                            ]
                          },
                          "severity": {
                            "operator": "Equals",
                            "values": [
                              "Sev0",
                              "Sev2"
                            ]
                          },
                          "targetResourceType": {
                            "operator": "NotEquals",
                            "values": [
                              "Microsoft.Compute/VirtualMachines"
                            ]
                          }
                        },
                        "createdAt": 