{
  "openapi": "3.0.3",
  "info": {
    "title": "Transit App API",
    "version": "3.0.0",
    "description": "Transit App's public API providing real-time transit data including nearby routes, stops, departures, trip planning, vehicle positions, and network information.",
    "x-jentic-source-url": "https://api-doc.transitapp.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://external.transitapp.com"
    }
  ],
  "paths": {
    "/v3/public/nearby_routes": {
      "get": {
        "operationId": "getNearbyRoutes",
        "summary": "Returns routes around a location",
        "description": "Returns routes around a location",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Latitude"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Longitude"
          },
          {
            "name": "max_distance",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 150,
              "maximum": 1500
            },
            "description": "Max distance"
          },
          {
            "name": "max_num_departures",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 3,
              "minimum": 1,
              "maximum": 10
            },
            "description": "Max num departures"
          },
          {
            "name": "should_update_realtime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Should update realtime"
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "UNIX timestamp"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/public/nearby_stops": {
      "get": {
        "operationId": "getNearbyStops",
        "summary": "Returns stops around a location",
        "description": "Returns stops around a location",
        "tags": [
          "Stops"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Latitude"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Longitude"
          },
          {
            "name": "max_distance",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 150,
              "maximum": 1500
            },
            "description": "Max distance"
          },
          {
            "name": "stop_filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Routable",
                "EntrancesAndStopsOutsideStations",
                "Entrances",
                "Any"
              ],
              "default": "Routable"
            },
            "description": "Stop filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/public/stop_departures": {
      "get": {
        "operationId": "getStopDepartures",
        "summary": "Get upcoming departures for all routes serving a stop",
        "description": "Get upcoming departures for all routes serving a stop",
        "tags": [
          "Departures"
        ],
        "parameters": [
          {
            "name": "global_stop_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Global stop id"
          },
          {
            "name": "global_stop_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated, max 1000"
          },
          {
            "name": "max_num_departures",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 3,
              "minimum": 1,
              "maximum": 10
            },
            "description": "Max num departures"
          },
          {
            "name": "should_update_realtime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Should update realtime"
          },
          {
            "name": "remove_cancelled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Remove cancelled"
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "UNIX timestamp"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/public/route_details": {
      "get": {
        "operationId": "getRouteDetails",
        "summary": "Get detailed information for a route",
        "description": "Get detailed information for a route",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "global_route_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Global route id"
          },
          {
            "name": "include_next_departure",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include next departure"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/public/routes_for_networks": {
      "get": {
        "operationId": "getRoutesForNetworks",
        "summary": "Return all routes for given networks",
        "description": "Return all routes for given networks",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "network_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated network IDs"
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Lat"
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Lon"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/public/stops_for_network": {
      "get": {
        "operationId": "getStopsForNetwork",
        "summary": "Return all stops for a given network",
        "description": "Return all stops for a given network",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "network_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Network id"
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Lat"
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Lon"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/public/available_networks": {
      "get": {
        "operationId": "getAvailableNetworks",
        "summary": "List all available transit networks",
        "description": "List all available transit networks",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Lat"
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Lon"
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 alpha-2"
          },
          {
            "name": "include_all_networks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include all networks"
          },
          {
            "name": "include_network_geometry",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Include network geometry"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/public/alerts_for_networks": {
      "get": {
        "operationId": "getAlertsForNetworks",
        "summary": "Return active service alerts for networks",
        "description": "Return active service alerts for networks",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "network_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Network ids"
          },
          {
            "name": "show_active_alerts_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Show active alerts only"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/public/latest_update_for_network": {
      "get": {
        "operationId": "getLatestUpdateForNetwork",
        "summary": "Return time of most recent data update for a network",
        "description": "Return time of most recent data update for a network",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "network_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Network id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/public/search_stops": {
      "get": {
        "operationId": "searchStops",
        "summary": "Find transit stops matching search term",
        "description": "Find transit stops matching search term",
        "tags": [
          "Stops"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Lat"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Lon"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Query"
          },
          {
            "name": "max_num_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            },
            "description": "Max num results"
          },
          {
            "name": "max_distance",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Max distance"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/public/trip_details": {
      "get": {
        "operationId": "getTripDetails",
        "summary": "Get scheduled times and stop info for a trip",
        "description": "Get scheduled times and stop info for a trip",
        "tags": [
          "Trips"
        ],
        "parameters": [
          {
            "name": "trip_search_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trip search key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/public/vehicles": {
      "get": {
        "operationId": "getVehicles",
        "summary": "Get real-time vehicle positions for a route",
        "description": "Get real-time vehicle positions for a route",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "name": "global_route_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Global route id"
          },
          {
            "name": "direction_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Direction id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/public/plan": {
      "get": {
        "operationId": "planTrip",
        "summary": "Plan a multimodal trip",
        "description": "Plan a multimodal trip",
        "tags": [
          "Trip Planning"
        ],
        "parameters": [
          {
            "name": "from_lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "From lat"
          },
          {
            "name": "from_lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "From lon"
          },
          {
            "name": "to_lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "To lat"
          },
          {
            "name": "to_lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "To lon"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "transit",
                "microtransit",
                "personal_bike",
                "walk",
                "shared_mobility"
              ],
              "default": "transit"
            },
            "description": "Mode"
          },
          {
            "name": "leave_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "UNIX timestamp"
          },
          {
            "name": "arrival_time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "UNIX timestamp"
          },
          {
            "name": "num_result",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 3
            },
            "description": "Num result"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/public/estimate_plan_duration": {
      "get": {
        "operationId": "estimatePlanDuration",
        "summary": "Estimate trip duration",
        "description": "Estimate trip duration",
        "tags": [
          "Trip Planning"
        ],
        "parameters": [
          {
            "name": "from_lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "From lat"
          },
          {
            "name": "from_lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "From lon"
          },
          {
            "name": "to_lat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "To lat"
          },
          {
            "name": "to_lon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "To lon"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "transit",
                "microtransit"
              ],
              "default": "transit"
            },
            "description": "Mode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/otp/plan": {
      "get": {
        "operationId": "otpPlanTrip",
        "summary": "OpenTripPlanner compatible trip planning (deprecated)",
        "description": "OpenTripPlanner compatible trip planning (deprecated)",
        "tags": [
          "Trip Planning"
        ],
        "parameters": [
          {
            "name": "fromPlace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "lat,lon"
          },
          {
            "name": "toPlace",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "lat,lon"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date"
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "HH:MM format"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "TRANSIT,WALK"
            },
            "description": "Mode"
          },
          {
            "name": "numItineraries",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 3,
              "minimum": 1,
              "maximum": 3
            },
            "description": "Numitineraries"
          },
          {
            "name": "arriveBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Arriveby"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/map_layers/placemarks": {
      "get": {
        "operationId": "getPlacemarks",
        "summary": "Get placemarks for bikeshare/scooter locations",
        "description": "Get placemarks for bikeshare/scooter locations",
        "tags": [
          "Map Layers"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Latitude"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Longitude"
          },
          {
            "name": "distance",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 2000
            },
            "description": "Distance"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/map_layers/available_networks": {
      "get": {
        "operationId": "getMapLayerNetworks",
        "summary": "List sharing system networks",
        "description": "List sharing system networks",
        "tags": [
          "Map Layers"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Departures"
    },
    {
      "name": "Map Layers"
    },
    {
      "name": "Networks"
    },
    {
      "name": "Routes"
    },
    {
      "name": "Stops"
    },
    {
      "name": "Trip Planning"
    },
    {
      "name": "Trips"
    },
    {
      "name": "Vehicles"
    }
  ]
}
