{
  "openapi": "3.0.1",
  "info": {
    "title": "Careem POS API",
    "description": "Careem POS API enables partners to provide restaurants a convenient way to manage Careem orders as part of their regular operations.\n\nYou may download the OpenAPI specification <a href=\"public-api.json\" download>here</a>.\n# Overview\n\nThis section discusses challenges that arise from manual integration, followed by an overview of Careem's POS API and its advantages.\n\n## Challenges with manual integration\n\nManual integration with POS systems is known to be associated with many problems. Some of the common problems have been highlighted below:\n\n- Punching data manually is **error-prone**. This can cause data inconsistencies in the POS system, leading to order cancellations.\n- Punching data manually is **time-consuming**. This slows down order processing and impacts customer satisfaction directly.\n- Punching data manually can be extremely **demanding** during high volumes of orders, leading to burnout.\n- Punching data manually is **unscalable**. This can make it challenging for businesses to scale their operations.\n\n## POS API overview\n\nCareem offers its own integration API, which partners can use to seamlessly integrate with their POS systems.\n\nThe **Store API** allows partners to create and manage their stores on Careem's platform. Store management includes the following key features:\n\n- Enable/disable POS integration\n- Mark the store online/offline\n- Update operational hours\n\nThe **Catalog API** allows partners to create and manage catalogs for their stores. The API also includes sending catalog sync notifications to a partner's webhook. Catalog management includes the following key features:\n\n- Support partial catalogs\n- Track catalog sync status\n- Reset catalog\n- Update item availability\n\nThe **Order API** allows partners to retrieve and manage orders. The API also includes sending order notifications to a partner's webhook. Order management includes the following key features:\n\n- Accept/cancel orders\n- Mark order as ready\n- Tag orders\n- Receive order notifications via webhook\n\n## Benefits\n\nWith Careem's integration API, partners can take advantage of the following benefits:\n\n- Increased order accuracy\n- Increased operational excellence\n- Enhanced customer experience\n- Improved order fulfillment KPIs\n\n# Getting started\n\nThis section serves as a starting point for using our API.\n\n## Pre-requisites\n\nBefore you begin to use our APIs, please ensure:\n\n- Completion of contract and submission of essential legal and regulatory compliance documentation as per instructions by our commercial team. If you've not done so already, please feel free to reach out to them.\n- Received approval from our information security & legal teams.\n\nFurthermore, it is also necessary to complete the following tasks:\n\n### Webhook configuration\n\nIn order to receive catalog sync and order notifications from our platform, you need to provide the following information:\n\n- **A valid webhook URL:** This URL must be a secure HTTPS URL that is capable of receiving requests via the POST method, as this is the method our API uses to send notifications to your system.\n- **An API key secret value:** Our API will send this key to your system as part of every API request, and it will be included in a header called `x-careem-api-key`. This will allow you to confirm that the notification is coming from our API and that it has been authenticated.\n\n#### Example of the webhook request header\n\n```text\nx-careem-api-key: a12345f-1337-4bff-8e6b-6b38a221322f\n```\n\n**Note: Your service must have a valid SSL certificate and be accessible via the standard SSL port (port 443).**\n\n## Integration Process Overview\n\n```mermaid\nflowchart TD\n  A[Timeline agreement] --> B[Setup client]\n  B --> C[Setup test brand]\n  C --> D[Setup test branch]\n  D --> E[Map the test branch]\n  E --> F[Push catalog]\n  F --> G[Share SuperApp APK]\n  G --> H[Provide ongoing support]\n  H --> I[Perform end-to-end testing with QA]\n  I --> J[Production rollout]\n```\n\n### Timeline agreement\n\nWe require due dates from our partners for completion of their development work so we can make a project plan accordingly.\n\n### Setup client\n\nWe would set up an OAuth client on our end and share its credentials with you.\n\n### Setup test brand\n\nThe partner would create a test brand via the brand API.\n\n### Setup test branch\n\nThe partner would create a test branch (linked to the test brand) via the branch API.\n\nAdditionally, the partner would also enable POS integration for the test branch (also via the branch API).\n\n### Map the test branch\n\nUpon creation of the test branch, the partner would request the operations team to map the test branch to an outlet on our platform.\n\n### Push catalog\n\nThe partner would push a catalog for the test branch via the catalog API.\n\n### Share SuperApp APK\n\nThe engineering team would share an APK for the SuperApp so that the partner can validate their pushed catalog and also perform their own testing.\n\n### Provide ongoing support\n\nThe engineering team will provide ongoing assistance to the partner during the development process, as needed to address any issues that may arise.\n\n### Perform end-to-end testing with QA\n\nOnce the partner completes their development, our QA team would assist in scheduling a one-hour testing session with your team. If any issues arise, they will be addressed by the engineering team.\n\n### Production rollout\n\nThe rollout for production will follow the same steps mentioned above, starting from setting up a client all the way to pushing catalogs.\n\n## API endpoints\n\nThe API operates in three countries, namely, UAE (Dubai), Jordan and KSA.\n\n### Staging environment\n\nYou can test your integration with the API in this environment. The base URL for the staging environment is:\n\n[https://apigateway-stg.careemdash.com/pos/api/v1](https://apigateway-stg.careemdash.com/pos/api/v1)\n\n#### Production environment\n\nThe base URL for the production environment is:\n\n[https://apigateway.careemdash.com/pos/api/v1](https://apigateway.careemdash.com/pos/api/v1)\n\n## Pagination\nAPI requests that return list of resources will be paginated to `20` resources by default. To navigate through the list of resources, you can use the `page_number` query parameter. You can also specify a different number of resources on each page by using the `page_size` parameter, with a maximum limit of 20.\n\n## Rate limiting\n\nIn order to prevent abuse and ensure overall system stability, the API implements rate limiting. We expect our partners to adhere to the following thresholds:\n\n- **Catalog API**\n    - 1 catalog sync per branch every 2 minutes\n    - 50 catalog syncs across all branches per minute\n    - No more than 8,500 items can be provided in a catalog sync\n\n- **Item availability API**\n    - No more than 40 items can be updated in a single API call\n\nYou must apply necessary checks on your end to handle 429 (too many requests) status code from our APIs.\n\n## Webhook availability\n\nOur API supports up to 4 retries for failed requests to the partner's webhook endpoint, with a maximum of 5 attempts in total, including the initial call.\n\nIn case of the webhook endpoint being down, any event sent after the API exhausts its retries would be lost, making it crucial for partners to ensure its high availability.",
    "version": "2.1.0",
    "x-logo": {
      "url": "https://docs.careemnow.com/logo.png",
      "altText": "Careem"
    },
    "x-jentic-source-url": "https://docs.careemnow.com/public-api.json"
  },
  "servers": [
    {
      "url": "https://apigateway.careemdash.com/pos/api/v1",
      "description": "production server"
    },
    {
      "url": "https://apigateway-stg.careemdash.com/pos/api/v1",
      "description": "staging server"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "Auth endpoints"
        ],
        "servers": [
          {
            "url": "https://identity.careem.com",
            "description": "production server"
          },
          {
            "url": "https://identity.qa.careem-engineering.com",
            "description": "staging server"
          }
        ],
        "summary": "Generate access token",
        "description": "Use this endpoint to generate an access token.",
        "operationId": "generateAccessToken",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type",
                  "scope"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "The client identifier."
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "The client secret."
                  },
                  "grant_type": {
                    "type": "string",
                    "description": "The grant type. Supports `client_credentials` ONLY."
                  },
                  "scope": {
                    "type": "string",
                    "description": "The scope for the access request. Supports `pos` ONLY."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "The authorization token.",
                      "example": "JSON Web Token"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "The token's type.",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "number",
                      "description": "The token's lifetime in seconds after the issue time.",
                      "example": 86399
                    },
                    "scope": {
                      "type": "string",
                      "description": "The token's scope.",
                      "example": "pos"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "The error type.",
                      "example": "invalid_client"
                    },
                    "error_description": {
                      "type": "string",
                      "description": "The error description.",
                      "example": "Bad client credentials"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": []
      }
    },
    "/brands": {
      "get": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "List brands",
        "description": "Use this endpoint to view all the brands that you've created.",
        "operationId": "listBrands",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "The page number required",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 2
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of brands in one page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Brands retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "Create a brand",
        "description": "Use this endpoint to create a brand.",
        "operationId": "createBrand",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrandRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Brand created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Brand with the specified name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/brands/{brand_id}": {
      "get": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "Fetch a brand",
        "description": "Use this endpoint to fetch an existing brand by its ID.",
        "operationId": "fetchBrand",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand_id",
            "in": "path",
            "required": true,
            "description": "A unique brand ID string provided by vendor or restaurant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Brand retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Brand with the specified ID was not found"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "Update a brand",
        "description": "Use this endpoint to update an existing brand.",
        "operationId": "updateBrand",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand_id",
            "in": "path",
            "required": true,
            "description": "A unique brand ID string provided by vendor or restaurant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Brand updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Brand with the specified ID was not found"
          },
          "409": {
            "description": "Brand with the specified name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "Delete a brand",
        "description": "Use this endpoint to delete an existing brand by its ID.",
        "operationId": "deleteBrand",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand_id",
            "in": "path",
            "required": true,
            "description": "A unique brand ID string provided by vendor or restaurant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Brand deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteBrandRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Brand with the specified ID was not found"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/branches": {
      "get": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "List branches",
        "description": "Use this endpoint to fetch all branches that you've created.",
        "operationId": "listBranches",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "The page number required",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of branches in one page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Branches retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/branches/{branch_id}": {
      "put": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "Create/update a branch",
        "description": "Use this endpoint to create/update a branch.\n\nA branch belongs to a brand, and when a branch is created through this API, it is not considered as a real branch in our system.\nHowever, there is a manual process required by our operations team to map the branch to an actual Careem outlet.\nThis process must be completed only once after each new branch is created using this API.\nYou cannot create any catalog for a branch until it has mapped.\n",
        "operationId": "createOrUpdateBranch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch_id",
            "in": "path",
            "required": true,
            "description": "A unique branch ID string provided by vendor or restaurant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutBranchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Branch updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Branch"
                }
              }
            }
          },
          "201": {
            "description": "Branch created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Branch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Branch with the specified name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "Fetch a branch",
        "description": "Use this endpoint to fetch an existing branch by its ID.",
        "operationId": "fetchBranch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Branch retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Branch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Branch with the specified ID was not found"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "Delete a branch",
        "description": "Use this endpoint to delete an existing branch by its ID.",
        "operationId": "deleteBranch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Branch deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteBranchRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Branch with the specified ID was not found"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/branches/{branch_id}/status": {
      "patch": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "Toggle POS integration",
        "description": "Use this endpoint to enable or disable POS integration for a branch.\n\nBy default, this toggle is disabled when a branch is created.\nThis is to ensure that vendors can verify that the catalog syncs are successful before enabling the POS integration.\nOnce enabled, orders will be processed through the partner's POS system.\nIf the toggle is disabled, orders will not flow through the POS system.\nInstead, they will be processed manually through the branch's tablets.\nHowever, catalog syncs can still be made for the branch, even if the toggle is off.\n",
        "operationId": "togglePOSIntegration",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch_id",
            "in": "path",
            "required": true,
            "description": "A unique branch ID string provided by vendor or restaurant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBranchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Branch updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Branch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/branches/{branch_id}/visibility/status": {
      "post": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "Update branch status on SuperApp",
        "description": "Use this endpoint to update a branch's status on SuperApp.\n\nA branch can hold one of following statuses:\n - `Active (1)`: Branch is active on the platform and customers are able to place orders.\n - `Inactive (2)`: Branch is active on the platform but customers would not be able to place orders.\n\nPlease be aware that it may take approximately 5 minutes for the changes to be reflected on the SuperApp.\n",
        "operationId": "updateBranchStatus",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch_id",
            "in": "path",
            "required": true,
            "description": "A unique branch ID string provided by vendor or restaurant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Branch status updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Either the brand or branch doesn't exist, or branch is not mapped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/branches/{branch_id}/visibility/status/expiries": {
      "post": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "Set branch status for a specified duration on SuperApp",
        "description": "Use this endpoint to set a branch's status for a specified duration on SuperApp.\n\nIn the event of a busy kitchen or unforeseen circumstances that cause delays in order fulfillment, this API can be a useful solution.\n",
        "operationId": "setBranchStatusForFixedDuration",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch_id",
            "in": "path",
            "required": true,
            "description": "A unique branch ID string provided by vendor or restaurant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusExpiriesRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Branch status expiry created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchStatusExpiriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Either the brand or branch doesn't exist, or branch is not mapped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/operational-hours": {
      "put": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "Set branch operational hours",
        "description": "Use this endpoint to set a branch's operational hours.",
        "operationId": "setBranchOperationalHours",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Branch-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VendorOperationalHour"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Branch operational hours updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorOperationalHour"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Store API endpoints"
        ],
        "summary": "Fetch branch operational hours",
        "description": "Use this endpoint to fetch a branch's operational hours.",
        "operationId": "fetchBranchOperationalHours",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Branch-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Branch operational hours retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorOperationalHour"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/catalogs": {
      "put": {
        "tags": [
          "Catalog API endpoints"
        ],
        "summary": "Create/update full catalog",
        "description": "Use this endpoint to create/update a catalog for a specific branch in one go.\n\nThe user can provide all necessary details and create/update the entire catalog with a single request.\n\nPlease be aware that it may take approximately 5 minutes for the changes to be reflected on the SuperApp.\n",
        "operationId": "createFullCatalog",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Branch-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateFullCatalogRequest"
                  },
                  {
                    "$ref": "#/components/schemas/UpdateFullCatalogRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catalog created/updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFullCatalogStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Catalog API endpoints"
        ],
        "summary": "Reset/delete catalog",
        "deprecated": true,
        "description": "Use this endpoint to reset/delete catalog for a branch.\n\nThis endpoint is **ONLY** meant to be used in case of data inconsistencies. Here is how you can carry this out in three steps:\n\n1. Use this Delete API to reset/delete the catalog (calling this API will not immediately delete the catalog. Instead, the old catalog will ONLY be deleted when a new catalog request is sent with diff=false).\n2. Push the entire catalog with diff=false.\n3. If a catalog push request is in progress, then delete API would result in a 403 error code.\n",
        "operationId": "deleteCatalog",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Branch-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Catalog deleted successfully"
          },
          "403": {
            "description": "Forbidden request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/catalogs/status/{request_id}": {
      "get": {
        "tags": [
          "Catalog API endpoints"
        ],
        "summary": "Fetch catalog upload request status",
        "description": "Use this endpoint to fetch the status of a catalog upload request by its ID.",
        "operationId": "fetchCatalogStatus",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Branch-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "request_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The request ID string for the catalog uploaded. This is given as response for a create/update catalog request."
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCatalogStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Catalog with the specified ID was not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/catalogs/{catalog_id}/items": {
      "patch": {
        "tags": [
          "Catalog API endpoints"
        ],
        "summary": "Update item(s) availability",
        "description": "Use this endpoint to update the availability of a single or multiple items (maximum: 40) of a catalog.\n\nPlease be aware that it may take approximately 5 minutes for the changes to be reflected on the SuperApp.\n",
        "operationId": "updateItemsAvailability",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Branch-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "catalog_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A unique catalog ID string provided by vendor or restaurant"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateItemsRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Item(s) updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Catalog with the specified ID was not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Order API endpoints"
        ],
        "summary": "List orders",
        "description": "Use this endpoint to access branch orders.",
        "operationId": "listOrders",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Branch-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "The page number required",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of orders in one page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 20
            }
          },
          {
            "name": "branch_id",
            "in": "query",
            "description": "filtering by branch_id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderList"
                }
              }
            }
          },
          "404": {
            "description": "Order with the specified ID was not found"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}": {
      "get": {
        "tags": [
          "Order API endpoints"
        ],
        "summary": "Fetch order's details by ID",
        "description": "Use this endpoint to fetch an order's details by its ID.",
        "operationId": "fetchOrderByID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Branch-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order with the specified ID was not found"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Order API endpoints"
        ],
        "summary": "Update order state",
        "description": "Use this endpoint to accept/cancel an order or mark an order as ready for pickup.",
        "operationId": "updateOrder",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Branch-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order state updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelledOrder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order with the specified ID was not found"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}/delay-request": {
      "put": {
        "tags": [
          "Order API endpoints"
        ],
        "summary": "Request more preparation time",
        "description": "Use this endpoint to ask for more preparation time for an order. Only one request is permitted per order.",
        "operationId": "delayRequestForOrder",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Branch-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderDelayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order delay updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDelaySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDelayFailureResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order with the specified ID was not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}/tags": {
      "patch": {
        "tags": [
          "Order API endpoints"
        ],
        "summary": "Tag order with metadata",
        "description": "Use this endpoint to attach metadata to an order.",
        "operationId": "tagOrder",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Brand-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Branch-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagOrderRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Order tagged successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order with the specified ID was not found"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateBrandRequest": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "KFC",
            "description": "A unique brand ID string provided by vendor or restaurant."
          },
          "name": {
            "type": "string",
            "example": "KFC",
            "description": "The body required to create a brand"
          }
        }
      },
      "Brand": {
        "type": "object",
        "required": [
          "id",
          "name",
          "state",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique brand ID string provided by vendor or restaurant. brand.",
            "example": "123004"
          },
          "name": {
            "type": "string",
            "description": "The name of the brand.",
            "example": "KFC"
          },
          "state": {
            "type": "string",
            "description": "The state of this brand.",
            "example": "MAPPED",
            "enum": [
              "UNMAPPED",
              "MAPPED"
            ],
            "default": [
              "UNMAPPED"
            ]
          },
          "created_at": {
            "type": "string",
            "description": "Time RFC3339 format in UTC in which the brand has been updated",
            "example": "2020-06-22T15:01:32.895Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time RFC3339 format in UTC in which the brand has been updated",
            "example": "2020-06-22T15:01:32.895Z"
          }
        },
        "description": "Contains brand information"
      },
      "UpdateBrandRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "KFC"
          }
        },
        "description": "The body required to update a brand"
      },
      "DeleteBrandRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "The brand was successfully deleted"
          }
        }
      },
      "BrandList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "brand",
            "items": {
              "$ref": "#/components/schemas/Brand"
            }
          },
          "meta": {
            "type": "object",
            "description": "pagination meta data",
            "properties": {
              "total": {
                "type": "integer",
                "description": "total number of records in database",
                "example": 90
              },
              "page_size": {
                "type": "integer",
                "description": "total number of records in the current page",
                "example": 20
              },
              "page_number": {
                "type": "integer",
                "description": "The number of the current page",
                "example": 1
              }
            }
          },
          "links": {
            "type": "object",
            "description": "links previous and next pagination pages",
            "properties": {
              "prev": {
                "type": "string",
                "description": "url of the previous page",
                "example": "URL/api/brands?page_number=1"
              },
              "next": {
                "type": "string",
                "description": "url of the next page",
                "example": "URL/api/brands?page_number=3"
              }
            }
          }
        },
        "description": "list of brands"
      },
      "Branch": {
        "type": "object",
        "required": [
          "id",
          "name",
          "brand_id",
          "state",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the branch",
            "example": "a34587b290784c06"
          },
          "name": {
            "type": "string",
            "description": "The name of the branch.",
            "example": "KFC, JLT"
          },
          "brand_id": {
            "type": "string",
            "description": "the parent brand id of this branch",
            "example": "1228a02e60e34037"
          },
          "state": {
            "type": "string",
            "description": "The state of this branch.",
            "example": "MAPPED",
            "enum": [
              "UNMAPPED",
              "MAPPED"
            ],
            "default": [
              "UNMAPPED"
            ]
          },
          "created_at": {
            "type": "string",
            "description": "Time RFC3339 format in UTC in which the brand has been updated",
            "example": "2020-06-22T15:01:32.895Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time RFC3339 format in UTC in which the brand has been updated",
            "example": "2020-06-22T15:01:32.895Z"
          }
        },
        "description": "Branch information"
      },
      "DeleteBranchRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "The branch was successfully deleted"
          }
        }
      },
      "PutBranchRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "KFC, Marina"
          }
        },
        "description": "The body required to create/update a branch"
      },
      "UpdateBranchRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "active": {
            "type": "boolean",
            "example": true
          }
        },
        "description": "The active field to make branch active or inactive."
      },
      "BranchList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "branch",
            "items": {
              "$ref": "#/components/schemas/Branch"
            }
          },
          "meta": {
            "type": "object",
            "description": "pagination meta data",
            "properties": {
              "total": {
                "type": "integer",
                "description": "total number of records in database",
                "example": 90
              },
              "page_size": {
                "type": "integer",
                "description": "total number of records in the current page",
                "example": 20
              },
              "page_number": {
                "type": "integer",
                "description": "The number of the current page",
                "example": 1
              }
            }
          },
          "links": {
            "type": "object",
            "description": "links previous and next pagination pages",
            "properties": {
              "prev": {
                "type": "string",
                "description": "url of the previous page",
                "example": "URL/api/branches?page_number=1&page_size=20"
              },
              "next": {
                "type": "string",
                "description": "url of the next page",
                "example": "URL/api/branches?page_number=3&page_size=20"
              }
            }
          }
        },
        "description": "list of branches"
      },
      "CreateFullCatalogItem": {
        "type": "object",
        "required": [
          "id",
          "name",
          "active",
          "price"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique item ID string provided by vendor or restaurant.",
            "example": "pancakes"
          },
          "deleted": {
            "type": "boolean",
            "description": "This field is used to delete item when only catalog difference is sent for updating.",
            "example": false
          },
          "name": {
            "type": "string",
            "example": "Pancakes"
          },
          "name_localized": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/Localized"
            },
            "example": {
              "en": "Pancakes",
              "ar": ""
            }
          },
          "description": {
            "type": "string",
            "example": "Fresh egg and chocolate pancakes"
          },
          "description_localized": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/Localized"
            },
            "example": {
              "en": "Fresh egg and chocolate pancakes",
              "ar": ""
            }
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "price": {
            "type": "integer",
            "example": 20
          },
          "calorie_counts": {
            "type": "string",
            "example": "200"
          },
          "allergic_information": {
            "type": "string",
            "example": "allergic to eggs"
          },
          "operational_hours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperationalHour"
            },
            "example": [
              {
                "shifts": [
                  {
                    "start_time": "10:00",
                    "end_time": "12:00"
                  }
                ],
                "active": true,
                "day_of_week": 5
              }
            ]
          },
          "media": {
            "type": "string",
            "example": "https://picsum.photos/300.jpg"
          },
          "priority": {
            "type": "integer",
            "description": "This field is used to specify the order in which this item should appear. The items with lower value are shown first. If this field is not sent then default priority will be 1 and ordering cannot be guaranteed.",
            "minimum": 1,
            "example": 3
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "careem-mealson"
              ]
            },
            "description": "List of tags associated with the item. only predefined tags are allowed.",
            "example": [
              "careem-mealson"
            ]
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "addons"
            ],
            "description": "All the IDs for the groups included in the request."
          }
        }
      },
      "CreateFullCatalogCategory": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique category ID string provided by vendor or restaurant.",
            "example": "breakfast"
          },
          "deleted": {
            "type": "boolean",
            "description": "This field is used to delete category when only catalog difference is sent for updating.",
            "example": false
          },
          "name": {
            "type": "string",
            "example": "Default"
          },
          "name_localized": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/Localized"
            },
            "example": {
              "en": "Breakfast",
              "ar": ""
            }
          },
          "description": {
            "type": "string",
            "example": "All the breakfast items"
          },
          "description_localized": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/Localized"
            },
            "example": {
              "en": "All breakfast items",
              "ar": ""
            }
          },
          "preparation_time": {
            "type": "integer",
            "example": 20
          },
          "priority": {
            "type": "integer",
            "example": 1,
            "description": "No two categories in a catalog can have same priority. This is a field which decides the order of categories shown in the mobile app. Categories with higher priority would be shown first. If this field is not sent then default priority will be 1 and ordering cannot be guaranteed."
          },
          "media": {
            "type": "string",
            "example": "https://picsum.photos/300.jpg"
          },
          "operational_hours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperationalHour"
            },
            "example": [
              {
                "shifts": [
                  {
                    "start_time": "10:00",
                    "end_time": "12:00"
                  }
                ],
                "active": true,
                "day_of_week": 5
              }
            ]
          },
          "sub_categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "breakfast"
            ],
            "description": "All the IDs for the sub_categories included in the request."
          },
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "pancakes"
            ],
            "description": "All the IDs for the items included in the request."
          }
        }
      },
      "CreateFullCatalogSubCategory": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique category ID string provided by vendor or restaurant.",
            "example": "breakfast"
          },
          "deleted": {
            "type": "boolean",
            "description": "This field is used to delete category when only catalog difference is sent for updating.",
            "example": false
          },
          "name": {
            "type": "string",
            "example": "Default"
          },
          "name_localized": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/Localized"
            },
            "example": {
              "en": "Breakfast",
              "ar": ""
            }
          },
          "description": {
            "type": "string",
            "example": "All the breakfast items"
          },
          "description_localized": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/Localized"
            },
            "example": {
              "en": "All breakfast items",
              "ar": ""
            }
          },
          "preparation_time": {
            "type": "integer",
            "example": 20
          },
          "media": {
            "type": "string",
            "example": "https://picsum.photos/300.jpg"
          },
          "priority": {
            "type": "integer",
            "example": 1,
            "description": "No two categories in a catalog can have same priority. This is a field which decides the order of categories shown in the mobile app. Categories with higher priority would be shown first. If this field is not sent then default priority will be 1 and ordering cannot be guaranteed."
          },
          "operational_hours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperationalHour"
            },
            "example": [
              {
                "shifts": [
                  {
                    "start_time": "10:00",
                    "end_time": "12:00"
                  }
                ],
                "active": true,
                "day_of_week": 5
              }
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "pancakes"
            ],
            "description": "All the IDs for the items included in the request."
          }
        }
      },
      "CreateFullCatalogGroup": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique group ID string provided by vendor or restaurant.",
            "example": "syrups"
          },
          "deleted": {
            "type": "boolean",
            "description": "This field is used to delete group when only catalog difference is sent for updating.",
            "example": false
          },
          "name": {
            "type": "string",
            "example": "addons"
          },
          "name_localized": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/Localized"
            },
            "example": {
              "en": "Pancake add-ons",
              "ar": ""
            }
          },
          "description": {
            "type": "string",
            "example": "Add-ons for pancakes"
          },
          "description_localized": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/Localized"
            },
            "example": {
              "en": "Add-ons for pancakes",
              "ar": ""
            }
          },
          "multi_select": {
            "type": "boolean",
            "description": "This field is used to specify whether the options inside this group can be selected more than once. <br >\nThe validation rules are as follows: <br > <br >\nWhen multi_select is false: <br >\n&nbsp; The group min must be between 0 and number of group options. (0 <= Group Min <= number of group options) <br >\n&nbsp; The group max must be between the group min and number of group options. (Group Min <= Group Max <= number of group options) <br > <br >\nWhen multi_select is true: <br >\n&nbsp; The group min must be greater than 1. (Group Min > 1) <br >\n&nbsp; The group max must be equal to the group min. (Group Max = Group Min) <br > <br >\nAdditionally, when the group object has nested groups, setting multi_select to true is not allowed.\n",
            "example": false
          },
          "min": {
            "type": "integer",
            "example": 1,
            "description": "This field is used to specify the minimum number of options that can be selected from this group. <br >\nCorresponding Item will become unavailable if the number of available options in this group is less than the min value. <br >\n"
          },
          "max": {
            "type": "integer",
            "example": 2
          },
          "priority": {
            "type": "integer",
            "description": "This field is used to specify the order in which this group should appear. The groups with lower value are shown first. If this field is not sent then default priority will be 1 and ordering cannot be guaranteed.",
            "minimum": 1,
            "example": 2
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "maple",
              "honey"
            ],
            "description": "All the IDs for the options included in the request."
          }
        }
      },
      "CreateFullCatalogOption": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique option ID string provided by vendor or restaurant.",
            "example": "syrup"
          },
          "deleted": {
            "type": "boolean",
            "description": "This field is used to delete option when only catalog difference is sent for updating.",
            "example": false
          },
          "name": {
            "type": "string",
            "example": "Syrup"
          },
          "name_localized": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/Localized"
            },
            "example": {
              "en": "Syrup",
              "ar": ""
            }
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "price": {
            "type": "integer",
            "example": 20
          },
          "priority": {
            "type": "integer",
            "description": "This field is used to specify the order in which this option should appear. The options with lower value are shown first. If this field is not sent then default priority will be 1 and ordering cannot be guaranteed.",
            "minimum": 1,
            "example": 3
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "choose-syrup"
            ],
            "description": "All the IDs for the nested groups included in the request."
          }
        }
      },
      "CreateFullCatalogRequest": {
        "type": "object",
        "required": [
          "catalog"
        ],
        "properties": {
          "diff": {
            "type": "boolean",
            "example": false,
            "description": "If false, the whole catalog will be created or overridden if already created against the catalog id provided. The entities provided with IDs will be overridden or created. The entities missing from previous request will be deleted. If true, then only categories, items, options and groups provided will be added/updated as per the respective IDs. Deletion is not supported when diff is sent as true.",
            "default": false
          },
          "catalog": {
            "type": "object",
            "required": [
              "id",
              "name",
              "currency_id"
            ],
            "properties": {
              "id": {
                "type": "string",
                "example": "DefaultCatalog",
                "description": "A unique string identifier for catalog provided by restaurant. Since, it is a unique string identifier, it can have values as \"Default catalog\" or \"123006\"."
              },
              "name": {
                "type": "string",
                "example": "Default"
              },
              "include_tax": {
                "type": "boolean",
                "example": true,
                "description": "true if the tax is already included in the items/options prices.",
                "default": false
              },
              "tax": {
                "type": "number",
                "example": 5.2,
                "description": "The tax percentage float value"
              },
              "avg_price": {
                "type": "number",
                "example": 12.25,
                "description": "The price is a float value."
              },
              "file": {
                "type": "string",
                "example": "https://loremflickr.com/cache/resized/65535_49625844823_baed6d35f9_320_240_g.jpg",
                "description": "Media file for catalog"
              },
              "currency_id": {
                "type": "integer",
                "description": "The currency used for catalog. It is the integer ID corresponding to a currency. Allowed values are 1-14 with respective currency names and codes as follows: <br >\n\n```text\n  | ID |   Name              | Code |\n  |----|---------------------|------|\n  |  1 | Dirham              | AED  |\n  |  2 | Saudi Arabian Riyal | SAR  |\n  |  3 | Egyptian Pound      | EGP  |\n  |  4 | Qatari Ria          | QAR  |\n  |  5 | Lebanese pound      | LBP  |\n  |  6 | Kuwaiti Dinar       | KWD  |\n  |  7 | Jordanian Dinar     | JOD  |\n  |  8 | Bahraini Dinar      | BHD  |\n  |  9 | Singapore Dollar    | SGD  |\n  | 10 | Iranian Rial        | IRR  |\n  | 11 | Omani Rial          | OMR  |\n  | 12 | Pakistani Rupee     | PKR  |\n  | 13 | Australian Dollar   | AUD  |\n  | 14 | Iraqi Dinar (IQD)   | IQD  |\n```\n",
                "example": 1
              },
              "category_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "breakfast"
                ],
                "description": "All the IDs for the categories included in the request."
              }
            }
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateFullCatalogCategory"
            },
            "description": "List of Categories to be added in catalog"
          },
          "sub_categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateFullCatalogSubCategory"
            },
            "description": "List of Sub Categories to be added in catalog"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateFullCatalogItem"
            },
            "description": "List of Items to be added in the catalog"
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateFullCatalogGroup"
            },
            "description": "List of Groups to be added in the catalog",
            "example": [
              {
                "id": "addons",
                "deleted": false,
                "name": "Choose add-ons",
                "name_localized": {
                  "en": "Choose add-ons",
                  "ar": ""
                },
                "description": "Add-ons for pancakes",
                "description_localized": {
                  "en": "Add-ons for pancakes",
                  "ar": ""
                },
                "multi_select": false,
                "min": 1,
                "max": 2,
                "priority": 100,
                "options": [
                  "syrup",
                  "butter"
                ]
              },
              {
                "id": "choose-syrup",
                "deleted": false,
                "name": "Choose syrups",
                "name_localized": {
                  "en": "Choose syrups",
                  "ar": ""
                },
                "description": "Select what type of syrup you want",
                "description_localized": {
                  "en": "Syrup for pancakes",
                  "ar": ""
                },
                "multi_select": false,
                "min": 0,
                "max": 0,
                "priority": 101,
                "options": [
                  "maple",
                  "honey"
                ]
              }
            ]
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateFullCatalogOption"
            },
            "description": "List of Options to be added in the catalog",
            "example": [
              {
                "id": "syrup",
                "deleted": false,
                "name": "Syrup",
                "name_localized": {
                  "en": "Syrup",
                  "ar": ""
                },
                "active": true,
                "price": 10,
                "priority": 100,
                "groups": [
                  "choose-syrup"
                ]
              },
              {
                "id": "butter",
                "deleted": false,
                "name": "Butter",
                "name_localized": {
                  "en": "Butter",
                  "ar": ""
                },
                "active": true,
                "price": 5,
                "priority": 101
              },
              {
                "id": "maple",
                "deleted": false,
                "name": "Maple syrup",
                "name_localized": {
                  "en": "Maple syrup",
                  "ar": ""
                },
                "active": true,
                "price": 1,
                "priority": 500
              },
              {
                "id": "honey",
                "deleted": false,
                "name": "Honey syrup",
                "name_localized": {
                  "en": "Honey syrup",
                  "ar": ""
                },
                "active": true,
                "price": 1,
                "priority": 501
              }
            ]
          }
        }
      },
      "UpdateFullCatalogItem": {
        "type": "object",
        "required": [
          "id",
          "active"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique item ID string provided by vendor or restaurant.",
            "example": "pancakes"
          },
          "deleted": {
            "type": "boolean",
            "description": "This field is used to delete item when only catalog difference is sent for updating.",
            "example": false
          },
          "name": {
            "type": "string",
            "example": "Pancakes"
          },
          "name_localized": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/Localized"
            },
            "example": {
              "en": "Pancakes",
              "ar": ""
            }
          },
          "description": {
            "type": "string",
            "example": "Fresh egg and chocolate pancakes"
          },
          "description_localized": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/Localized"
            },
            "example": {
              "en": "Fresh egg and chocolate pancakes",
              "ar": ""
            }
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "price": {
            "type": "integer",
            "example": 20
          },
          "calorie_counts": {
            "type": "string",
            "example": "200"
          },
          "allergic_information": {
            "type": "string",
            "example": "allergic to eggs"
          },
          "operational_hours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperationalHour"
            },
            "example": [
              {
                "shifts": [
                  {
                    "start_time": "10:00",
                    "end_time": "12:00"
                  }
                ],
                "active": true,
                "day_of_week": 5
              }
            ]
          },
          "media": {
            "type": "string",
            "example": "https://picsum.photos/300.jpg"
          },
          "priority": {
            "type": "integer",
            "description": "This field is used to specify the order in which this item should appear. The items with lower value are shown first. If this field is not sent then default priority will be 1 and ordering cannot be guaranteed.",
            "minimum": 1,
            "example": 3
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "careem-mealson"
              ]
            },
            "description": "List of tags associated with the item, only predefined tags are allowed.",
            "example": [
              "careem-mealson"
            ]
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "addons"
            ],
            "description": "All the IDs for the groups included in the request."
          }
        }
      },
      "UpdateFullCatalogCategory": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique category ID string provided by vendor or restaurant.",
            "example": "breakfast"
          },
          "deleted": {
            "type": "boolean",
            "description": "This field is used to delete category when only catalog difference is sent for updating.",
            "example": false
          },
          "name": {
            "type": "string",
            "example": "Default"
          },
          "name_localized": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/Localized"
            },
            "example": {
              "en": "Breakfast",
              "ar": ""
            }
          },
          "description": {
            "type": "string",
            "example": "All the breakfast items"
          },
          "description_localized": {
            "type": "object",
            "items": {
              "$ref": "#/components/schemas/Localized"
            },
            "example": {
              "en": "All breakfast items",
              "ar": ""
            }
          },
          "preparation_time": {
            "type": "integer",
            "example": 20
          },
          "priority": {
            "type": "integer",
            "example": 1,
            "description": "No two categories in a catalog can have same priority. This is a field which decides the order of categories shown in the mobile app. Categories with higher priority would be shown first. If this field is not sent then default priority will be 1 and ordering cannot be guaranteed."
          },
          "operational_hours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperationalHour"
            },
            "example": [
              {
                "shifts": [
                  {
                    "start_time": "10:00",
                    "end_time": "12:00"
                  }
                ],
[...]
