{
  "openapi": "3.1.0",
  "info": {
    "title": "betjeningskartet-ikutlegg-sit-synt",
    "version": "1.3.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/skatteetaten/betjeningskartet-api/1.3.1/swagger.json",
    "contact": {},
    "description": "betjeningskartet-ikutlegg-sit-synt"
  },
  "externalDocs": {
    "description": "Wiki dokumentasjon",
    "url": "https://wiki.sits.no/display/FIUT"
  },
  "servers": [
    {
      "url": "http://betjeningskartet-ikutlegg-sit-synt.apps.utv10.paas.skead.no",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "STS_SECURITY_SCHEME": []
    }
  ],
  "paths": {
    "/api/v1/betjeningskartet/saksbehandling/startsak": {
      "post": {
        "tags": [
          "betjeningskartet-controller"
        ],
        "summary": "Registrerer p\u00e5begynt saksbehandling",
        "description": "L\u00e5ser skyldner(e) til tidligere eller nytt regelverk",
        "operationId": "startSaksbehandling",
        "parameters": [
          {
            "name": "Klientid",
            "in": "header",
            "description": "Klientens unike id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "OpenAPI"
          },
          {
            "name": "Korrelasjonsid",
            "in": "header",
            "description": "Id for \u00e5 spore kall p\u00e5 tvers av systemer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "39c5d91d-138b-bc3c-ed5d-2f5be6cdd5da"
          },
          {
            "name": "Meldingsid",
            "in": "header",
            "description": "Meldingsid mellom systemer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "a0b6012e-e2b6-6adc-e608-7ec9deb594a9"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartSak"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsStartSak"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/betjeningskartet/saksbehandling/endrepart": {
      "post": {
        "tags": [
          "betjeningskartet-controller"
        ],
        "summary": "Endre parter i sak som er l\u00e5st til et gitt regelverk",
        "description": "Legger til eller fjerner skyldner(e) som er l\u00e5st til en sak",
        "operationId": "endreParter",
        "parameters": [
          {
            "name": "Klientid",
            "in": "header",
            "description": "Klientens unike id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "OpenAPI"
          },
          {
            "name": "Korrelasjonsid",
            "in": "header",
            "description": "Id for \u00e5 spore kall p\u00e5 tvers av systemer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "e8a2c437-4f7f-a06e-c10f-99a728861bb2"
          },
          {
            "name": "Meldingsid",
            "in": "header",
            "description": "Meldingsid mellom systemer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "51932c04-beb1-f78e-b854-127d20de62e1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndrePart"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsEndrePart"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/betjeningskartet/saksbehandling/avsluttsak": {
      "post": {
        "tags": [
          "betjeningskartet-controller"
        ],
        "summary": "Registrerer saksbehandling avsluttet",
        "description": "Fjerner opprettet l\u00e5s p\u00e5 skyldner",
        "operationId": "avsluttSaksbehandling",
        "parameters": [
          {
            "name": "Klientid",
            "in": "header",
            "description": "Klientens unike id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "OpenAPI"
          },
          {
            "name": "Korrelasjonsid",
            "in": "header",
            "description": "Id for \u00e5 spore kall p\u00e5 tvers av systemer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "be06bec0-5ad1-fde8-90f7-80208122584b"
          },
          {
            "name": "Meldingsid",
            "in": "header",
            "description": "Meldingsid mellom systemer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "14f71e8d-ab9f-a548-8872-cff3483a1678"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvsluttSak"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsAvsluttSak"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/betjeningskartet": {
      "post": {
        "tags": [
          "betjeningskartet-controller"
        ],
        "summary": "Sjekker om en skyldner skal behandles etter tidligere eller nytt regelverk",
        "operationId": "regelverkForBehandling",
        "parameters": [
          {
            "name": "Klientid",
            "in": "header",
            "description": "Klientens unike id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "OpenAPI"
          },
          {
            "name": "Korrelasjonsid",
            "in": "header",
            "description": "Id for \u00e5 spore kall p\u00e5 tvers av systemer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "07ac4e5e-dd36-9de7-d67b-535113fdec65"
          },
          {
            "name": "Meldingsid",
            "in": "header",
            "description": "Meldingsid mellom systemer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "aebbae6d-2d0b-3547-deef-0ac32b65ae16"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OppslagIBetjeningskart"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsOppslag"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/ExtendedProblemDetail"
                }
              }
            }
          }
        },
        "description": "Sjekker om en skyldner skal behandles etter tidligere eller nytt regelverk"
      }
    }
  },
  "components": {
    "schemas": {
      "AvsluttSak": {
        "type": "object",
        "properties": {
          "kildesystem": {
            "type": "string",
            "enum": [
              "elin",
              "pak",
              "mva",
              "sofie",
              "sian",
              "innfriRegnskap",
              "kravAN",
              "reskontro",
              "petro",
              "sianS\u00e6ravgift",
              "sianAndre"
            ]
          },
          "saksnummer": {
            "type": "string",
            "maxLength": 4000,
            "minLength": 0
          }
        },
        "required": [
          "kildesystem",
          "saksnummer"
        ]
      },
      "EndrePart": {
        "type": "object",
        "properties": {
          "kildesystem": {
            "type": "string",
            "enum": [
              "elin",
              "pak",
              "mva",
              "sofie",
              "sian",
              "innfriRegnskap",
              "kravAN",
              "reskontro",
              "petro",
              "sianS\u00e6ravgift",
              "sianAndre"
            ]
          },
          "saksnummer": {
            "type": "string",
            "maxLength": 4000,
            "minLength": 0
          },
          "skyldner": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Partsreferanse"
            }
          }
        },
        "required": [
          "kildesystem",
          "saksnummer",
          "skyldner"
        ]
      },
      "ExtendedProblemDetail": {
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          },
          "feilid": {
            "type": "string"
          }
        }
      },
      "OppslagIBetjeningskart": {
        "type": "object",
        "properties": {
          "kildesystem": {
            "type": "string",
            "enum": [
              "elin",
              "pak",
              "mva",
              "sofie",
              "sian",
              "innfriRegnskap",
              "kravAN",
              "reskontro",
              "petro",
              "sianS\u00e6ravgift",
              "sianAndre"
            ]
          },
          "skyldner": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Partsreferanse"
            }
          }
        },
        "required": [
          "kildesystem"
        ]
      },
      "Partsidentifikator": {
        "type": "object",
        "properties": {
          "identifikatortype": {
            "type": "string"
          },
          "verdi": {
            "type": "string",
            "maxLength": 4000,
            "minLength": 0
          },
          "landkode": {
            "type": "string"
          }
        },
        "required": [
          "identifikatortype",
          "landkode",
          "verdi"
        ]
      },
      "Partsreferanse": {
        "type": "object",
        "properties": {
          "partsnummer": {
            "type": "string"
          },
          "partsidentifikator": {
            "$ref": "#/components/schemas/Partsidentifikator"
          }
        }
      },
      "ResponsAvsluttSak": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "sakslaasOppdatert",
              "sakslaasKunneIkkeOppdateres"
            ]
          }
        },
        "required": [
          "status"
        ]
      },
      "ResponsEndrePart": {
        "type": "object",
        "properties": {
          "regelverk": {
            "type": "string",
            "enum": [
              "tidligereRegelverk",
              "nyttRegelverk",
              "motstridendeRegelverk",
              "ukjentSkyldner"
            ]
          },
          "skyldner": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Skyldner"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "partEndret",
              "partKunneIkkeEndres"
            ]
          }
        },
        "required": [
          "regelverk",
          "skyldner",
          "status"
        ]
      },
      "ResponsOppslag": {
        "type": "object",
        "properties": {
          "regelverk": {
            "type": "string",
            "enum": [
              "tidligereRegelverk",
              "nyttRegelverk",
              "motstridendeRegelverk",
              "ukjentSkyldner"
            ]
          },
          "skyldner": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Skyldner"
            }
          }
        },
        "required": [
          "regelverk",
          "skyldner"
        ]
      },
      "ResponsStartSak": {
        "type": "object",
        "properties": {
          "regelverk": {
            "type": "string",
            "enum": [
              "tidligereRegelverk",
              "nyttRegelverk",
              "motstridendeRegelverk",
              "ukjentSkyldner"
            ]
          },
          "skyldner": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Skyldner"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "sakslaasOppdatert",
              "sakslaasKunneIkkeOppdateres"
            ]
          }
        },
        "required": [
          "regelverk",
          "skyldner",
          "status"
        ]
      },
      "Skyldner": {
        "type": "object",
        "properties": {
          "partsreferanse": {
            "$ref": "#/components/schemas/Partsreferanse"
          },
          "regelverk": {
            "type": "string",
            "enum": [
              "tidligereRegelverk",
              "nyttRegelverk",
              "motstridendeRegelverk",
              "ukjentSkyldner"
            ]
          }
        },
        "required": [
          "partsreferanse",
          "regelverk"
        ]
      },
      "StartSak": {
        "type": "object",
        "properties": {
          "kildesystem": {
            "type": "string",
            "enum": [
              "elin",
              "pak",
              "mva",
              "sofie",
              "sian",
              "innfriRegnskap",
              "kravAN",
              "reskontro",
              "petro",
              "sianS\u00e6ravgift",
              "sianAndre"
            ]
          },
          "saksnummer": {
            "type": "string",
            "maxLength": 4000,
            "minLength": 0
          },
          "skyldner": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Partsreferanse"
            }
          },
          "regelverk": {
            "type": "string",
            "enum": [
              "tidligereRegelverk",
              "nyttRegelverk",
              "motstridendeRegelverk",
              "ukjentSkyldner"
            ]
          }
        },
        "required": [
          "kildesystem",
          "regelverk",
          "saksnummer",
          "skyldner"
        ]
      }
    },
    "securitySchemes": {
      "STS_SECURITY_SCHEME": {
        "type": "http",
        "description": "Token for autorisering med STS.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "tags": [
    {
      "name": "betjeningskartet-controller"
    }
  ]
}
