{
  "openapi": "3.0.3",
  "info": {
    "title": "Tolgee API",
    "description": "Tolgee Platform REST API reference",
    "version": "v1.0",
    "x-jentic-source-url": "https://app.tolgee.io/v3/api-docs"
  },
  "servers": [
    {
      "url": "https://app.tolgee.io",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/v2/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get user info",
        "description": "Returns information about currently authenticated user.",
        "operationId": "getInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateUserAccountModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Update user",
        "description": "Updates current user's profile information.",
        "operationId": "updateUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateUserAccountModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Updates current user's data.",
        "operationId": "updateUserOld",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateUserAccountModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "Delete user",
        "operationId": "delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/user/password": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Update password",
        "description": "Updates current user's password. Invalidates all previous sessions upon success.",
        "operationId": "updateUserPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdatePasswordRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JwtAuthenticationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/user/mfa/totp": {
      "put": {
        "tags": [
          "User Multi-Factor Authentication"
        ],
        "summary": "Enable TOTP",
        "description": "Enables TOTP-based two-factor authentication. Invalidates all previous sessions upon success.",
        "operationId": "enableMfa",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserTotpEnableRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JwtAuthenticationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "User Multi-Factor Authentication"
        ],
        "summary": "Disable TOTP",
        "description": "Disables TOTP-based two-factor authentication. Invalidates all previous sessions upon success.",
        "operationId": "disableMfa",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserTotpDisableRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JwtAuthenticationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/user/mfa/recovery": {
      "put": {
        "tags": [
          "User Multi-Factor Authentication"
        ],
        "summary": "Regenerate Codes",
        "description": "Regenerates multi-factor authentication recovery codes",
        "operationId": "regenerateRecoveryCodes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserMfaRecoveryRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/user/avatar": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Upload avatar",
        "operationId": "uploadAvatar",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "avatar"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateUserAccountModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "Delete avatar",
        "operationId": "removeAvatar",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateUserAccountModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/user-preferences/storage/{fieldName}": {
      "get": {
        "tags": [
          "User preferences"
        ],
        "summary": "Get specific field from user's storage",
        "operationId": "getStorageField",
        "parameters": [
          {
            "name": "fieldName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserStorageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "User preferences"
        ],
        "summary": "Set specific field in user storage",
        "operationId": "setStorageField",
        "parameters": [
          {
            "name": "fieldName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/user-preferences/set-preferred-organization/{organizationId}": {
      "put": {
        "tags": [
          "User preferences"
        ],
        "summary": "Set user preferred organization",
        "operationId": "setPreferredOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/user-preferences/set-language/{languageTag}": {
      "put": {
        "tags": [
          "User preferences"
        ],
        "summary": "Set user's UI language",
        "operationId": "setLanguage",
        "parameters": [
          {
            "name": "languageTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/quick-start/steps/{step}/complete": {
      "put": {
        "tags": [
          "Quick start"
        ],
        "summary": "Complete guide step",
        "description": "Marks guide step as completed",
        "operationId": "completeGuideStep",
        "parameters": [
          {
            "name": "step",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/QuickStartModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/quick-start/set-open/{open}": {
      "put": {
        "tags": [
          "Quick start"
        ],
        "summary": "Set open state",
        "description": "Sets open state of the quick start guide",
        "operationId": "setOpenState",
        "parameters": [
          {
            "name": "open",
            "in": "path",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/QuickStartModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/quick-start/set-finished/{finished}": {
      "put": {
        "tags": [
          "Quick start"
        ],
        "summary": "Set finished state",
        "description": "Sets finished state of the quick start guide",
        "operationId": "setFinishedState",
        "parameters": [
          {
            "name": "finished",
            "in": "path",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/QuickStartModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectId}/prompts/{promptId}": {
      "get": {
        "tags": [
          "Ai prompt controller"
        ],
        "summary": "Get prompt by id",
        "operationId": "getPrompt",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PromptModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Ai prompt controller"
        ],
        "summary": "Update prompt",
        "operationId": "updatePrompt",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PromptModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Ai prompt controller"
        ],
        "summary": "Delete prompt",
        "operationId": "deletePrompt",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/projects/prompts/{promptId}": {
      "get": {
        "tags": [
          "Ai prompt controller"
        ],
        "summary": "Get prompt by id",
        "operationId": "getPrompt_1",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PromptModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Ai prompt controller"
        ],
        "summary": "Update prompt",
        "operationId": "updatePrompt_1",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PromptModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Ai prompt controller"
        ],
        "summary": "Delete prompt",
        "operationId": "deletePrompt_1",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectId}/translations/{translationId}/label/{labelId}": {
      "put": {
        "tags": [
          "Translation labels"
        ],
        "summary": "Add label to translation",
        "operationId": "assignLabel",
        "parameters": [
          {
            "name": "translationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LabelModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Translation labels"
        ],
        "summary": "Remove label from translation",
        "operationId": "unassignLabel",
        "parameters": [
          {
            "name": "translationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/projects/translations/{translationId}/label/{labelId}": {
      "put": {
        "tags": [
          "Translation labels"
        ],
        "summary": "Add label to translation",
        "operationId": "assignLabel_1",
        "parameters": [
          {
            "name": "translationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LabelModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Translation labels"
        ],
        "summary": "Remove label from translation",
        "operationId": "unassignLabel_1",
        "parameters": [
          {
            "name": "translationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "labelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/projects/{projectId}/translations/label": {
      "put": {
        "tags": [
          "Translation labels"
        ],
        "summary": "Add label to translation by key and language id",
        "operationId": "assignLabel_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslationLabelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LabelModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "unauthenticated"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "operation_not_permitted",
                    "params": [
                      "translations.edit"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "resource_not_found",
                    "params": null
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponseBody"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v2/projects/translations/label": {
      "put": {
        "tags": [
          "Translation labels"
        ],
        "summary": "Add label to translation by key and language id",
        "operationId": "assignLabel_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslationLabelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LabelModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "code": "you_did_something_wrong",
                    "params": [
                      "something",
                      "wrong"
                    ]
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponseTyped"
                    },
                    {
[...]
