{
  "openapi": "3.0.3",
  "info": {
    "title": "Humor API",
    "description": "The Humor API lets you search for jokes, memes, gifs, and more. It includes joke analysis, word funniness rating, insult and praise generation, and nonsense word generation.",
    "version": "1.0.0",
    "contact": {
      "name": "Humor API",
      "url": "https://humorapi.com"
    },
    "x-jentic-source-url": "https://humorapi.com"
  },
  "servers": [
    {
      "url": "https://api.humorapi.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Jokes",
      "description": "Endpoints for searching, retrieving, creating, analyzing, and voting on jokes"
    },
    {
      "name": "Memes",
      "description": "Endpoints for searching, retrieving, and voting on memes"
    },
    {
      "name": "Other",
      "description": "GIF search, praise, insults, and word-related endpoints"
    }
  ],
  "paths": {
    "/jokes/search": {
      "get": {
        "operationId": "searchJokes",
        "summary": "Search jokes",
        "description": "Search for jokes matching the given criteria.",
        "tags": ["Jokes"],
        "parameters": [
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of keywords to search for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include-tags",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of tags the jokes must have (e.g., clean, dark, nerdy, political, christmas).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude-tags",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of tags the jokes must not have.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min-rating",
            "in": "query",
            "required": false,
            "description": "The minimum rating of jokes to return (0-10).",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 10
            }
          },
          {
            "name": "max-length",
            "in": "query",
            "required": false,
            "description": "The maximum length of the joke in characters.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The number of results to skip for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": false,
            "description": "The number of results to return (max 10).",
            "schema": {
              "type": "integer",
              "default": 3,
              "maximum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with joke search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JokeSearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/jokes/random": {
      "get": {
        "operationId": "randomJoke",
        "summary": "Get a random joke",
        "description": "Returns a random joke matching the given criteria.",
        "tags": ["Jokes"],
        "parameters": [
          {
            "name": "include-tags",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of tags the joke must have.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude-tags",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of tags the joke must not have.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min-rating",
            "in": "query",
            "required": false,
            "description": "The minimum rating of the joke (0-10).",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 10
            }
          },
          {
            "name": "max-length",
            "in": "query",
            "required": false,
            "description": "The maximum length of the joke in characters.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a random joke.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Joke"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/jokes/create": {
      "get": {
        "operationId": "createJoke",
        "summary": "Create a joke",
        "description": "Generate a joke using AI based on given topics.",
        "tags": ["Jokes"],
        "parameters": [
          {
            "name": "topics",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of topics the joke should be about.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max-length",
            "in": "query",
            "required": false,
            "description": "The maximum length of the joke in characters.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with generated joke.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Joke"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/jokes/analyze": {
      "post": {
        "operationId": "analyzeJoke",
        "summary": "Analyze a joke",
        "description": "Analyze a joke and return information about it, such as the type of joke.",
        "tags": ["Jokes"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["joke"],
                "properties": {
                  "joke": {
                    "type": "string",
                    "description": "The joke text to analyze."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful joke analysis.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JokeAnalysis"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/jokes": {
      "post": {
        "operationId": "submitJoke",
        "summary": "Submit a joke",
        "description": "Submit a joke to the Humor API database.",
        "tags": ["Jokes"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["joke"],
                "properties": {
                  "joke": {
                    "type": "string",
                    "description": "The joke text to submit."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Joke submitted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/jokes/{id}/upvote": {
      "post": {
        "operationId": "upvoteJoke",
        "summary": "Upvote a joke",
        "description": "Upvote a joke by its ID.",
        "tags": ["Jokes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the joke to upvote.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Joke upvoted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/jokes/{id}/downvote": {
      "post": {
        "operationId": "downvoteJoke",
        "summary": "Downvote a joke",
        "description": "Downvote a joke by its ID.",
        "tags": ["Jokes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the joke to downvote.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Joke downvoted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/memes/search": {
      "get": {
        "operationId": "searchMemes",
        "summary": "Search memes",
        "description": "Search for memes matching the given criteria.",
        "tags": ["Memes"],
        "parameters": [
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of keywords to search for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords-in-image",
            "in": "query",
            "required": false,
            "description": "Whether to search for keywords in the meme image content.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "media-type",
            "in": "query",
            "required": false,
            "description": "The media type (e.g., image, video).",
            "schema": {
              "type": "string",
              "enum": ["image", "video"]
            }
          },
          {
            "name": "min-rating",
            "in": "query",
            "required": false,
            "description": "The minimum rating of memes to return (0-10).",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 10
            }
          },
          {
            "name": "max-age-days",
            "in": "query",
            "required": false,
            "description": "The maximum age of memes in days.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "The number of results to skip for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": false,
            "description": "The number of results to return (max 10).",
            "schema": {
              "type": "integer",
              "default": 3,
              "maximum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with meme search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemeSearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/memes/random": {
      "get": {
        "operationId": "randomMeme",
        "summary": "Get a random meme",
        "description": "Returns a random meme matching the given criteria.",
        "tags": ["Memes"],
        "parameters": [
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of keywords.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords-in-image",
            "in": "query",
            "required": false,
            "description": "Whether to search for keywords in the meme image content.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "media-type",
            "in": "query",
            "required": false,
            "description": "The media type (e.g., image, video).",
            "schema": {
              "type": "string",
              "enum": ["image", "video"]
            }
          },
          {
            "name": "min-rating",
            "in": "query",
            "required": false,
            "description": "The minimum rating of the meme (0-10).",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 10
            }
          },
          {
            "name": "max-age-days",
            "in": "query",
            "required": false,
            "description": "The maximum age of the meme in days.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a random meme.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meme"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/memes/{id}/upvote": {
      "post": {
        "operationId": "upvoteMeme",
        "summary": "Upvote a meme",
        "description": "Upvote a meme by its ID.",
        "tags": ["Memes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the meme to upvote.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meme upvoted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/memes/{id}/downvote": {
      "post": {
        "operationId": "downvoteMeme",
        "summary": "Downvote a meme",
        "description": "Downvote a meme by its ID.",
        "tags": ["Memes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the meme to downvote.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meme downvoted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/gif/search": {
      "get": {
        "operationId": "searchGifs",
        "summary": "Search GIFs",
        "description": "Search for GIFs matching the given query.",
        "tags": ["Other"],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "The search query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": false,
            "description": "The number of results to return (max 10).",
            "schema": {
              "type": "integer",
              "default": 3,
              "maximum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with GIF search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GifSearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/praise": {
      "get": {
        "operationId": "praise",
        "summary": "Praise someone",
        "description": "Generate a praise message for someone.",
        "tags": ["Other"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "The name of the person to praise.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": true,
            "description": "The reason for the praise.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with praise text.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/insult": {
      "get": {
        "operationId": "insult",
        "summary": "Insult someone",
        "description": "Generate a humorous insult for someone.",
        "tags": ["Other"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "The name of the person to insult.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": true,
            "description": "The reason for the insult.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with insult text.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/words/rate": {
      "get": {
        "operationId": "rateWord",
        "summary": "Rate a word's funniness",
        "description": "Rate how funny a word is on a scale.",
        "tags": ["Other"],
        "parameters": [
          {
            "name": "word",
            "in": "query",
            "required": true,
            "description": "The word to rate.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with word rating.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WordRating"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/words/nonsense/random": {
      "get": {
        "operationId": "generateNonsenseWord",
        "summary": "Generate a nonsense word",
        "description": "Generate a random nonsense word.",
        "tags": ["Other"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response with a nonsense word.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NonsenseWord"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api-key",
        "description": "API key for authentication. Pass as a query parameter."
      }
    },
    "schemas": {
      "Joke": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The joke ID."
          },
          "joke": {
            "type": "string",
            "description": "The joke text."
          }
        }
      },
      "JokeSearchResult": {
        "type": "object",
        "properties": {
          "jokes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Joke"
            },
            "description": "List of matching jokes."
          },
          "total_jokes": {
            "type": "integer",
            "description": "Total number of jokes matching the query."
          }
        }
      },
      "JokeAnalysis": {
        "type": "object",
        "properties": {
          "joke": {
            "type": "string",
            "description": "The analyzed joke text."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags identified for the joke."
          },
          "word_count": {
            "type": "integer",
            "description": "Number of words in the joke."
          }
        }
      },
      "SubmitResult": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Confirmation message."
          }
        }
      },
      "Meme": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The meme ID."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the meme."
          },
          "type": {
            "type": "string",
            "description": "The media type of the meme (image or video)."
          }
        }
      },
      "MemeSearchResult": {
        "type": "object",
        "properties": {
          "memes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Meme"
            },
            "description": "List of matching memes."
          },
          "total_memes": {
            "type": "integer",
            "description": "Total number of memes matching the query."
          }
        }
      },
      "VoteResult": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Confirmation message."
          }
        }
      },
      "GifSearchResult": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL of the GIF."
                },
                "width": {
                  "type": "integer",
                  "description": "Width of the GIF."
                },
                "height": {
                  "type": "integer",
                  "description": "Height of the GIF."
                }
              }
            },
            "description": "List of matching GIF images."
          }
        }
      },
      "TextResult": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "The generated text."
          }
        }
      },
      "WordRating": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string",
            "description": "The rated word."
          },
          "rating": {
            "type": "number",
            "description": "The funniness rating."
          }
        }
      },
      "NonsenseWord": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string",
            "description": "The generated nonsense word."
          },
          "rating": {
            "type": "number",
            "description": "The funniness rating of the word."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code."
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid or missing parameters.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Payment required - usage limit reached for free tier.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too many requests - rate limit exceeded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
