{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "info@apinf.io",
      "name": "APInf Oy",
      "url": "http://apinf.org",
      "x-twitter": "APInf_io"
    },
    "description": "This is the API for OpenAPI space.",
    "title": "OpenAPI space",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_APInf_io_profile_image.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://openapi.space/api/v1/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "openapi.space",
    "x-jentic-source-url": "https://raw.githubusercontent.com/sophie-jentic/openapi-specs/refs/heads/import-jentic-pr-specs/openapi.space/openapi-space-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://openapi.space/api/v1"
    }
  ],
  "paths": {
    "/apis": {
      "get": {
        "parameters": [
          {
            "description": "free text query to match",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "default": "",
              "type": "string"
            }
          },
          {
            "description": "the maximum number of APIs to return",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 10,
              "type": "integer"
            }
          },
          {
            "description": "the offset where to start from when fetching a limited number of APIs",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "description": "sort criteria or result set\n* NAME -\n* UPATED\n* CREATED\n* OWNER\n",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "default": "NAME",
              "enum": [
                "NAME",
                "UPDATED",
                "CREATED",
                "OWNER"
              ],
              "type": "string"
            }
          },
          {
            "description": "sort order",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIMetaList"
                }
              }
            },
            "description": "a list of APIs in API meta list format"
          }
        },
        "security": [
          {
            "AuthToken": []
          }
        ],
        "tags": [
          "APIs"
        ],
        "description": "Retrieves a list of currently defined APIs in API meta list format.",
        "operationId": "search_apis",
        "summary": "Retrieves a list of currently defined APIs in API meta list format.",
        "x-swagger-router-controller": "space.routes.apis"
      }
    },
    "/apis/{owner}": {
      "get": {
        "parameters": [
          {
            "description": "API owner identifier",
            "in": "path",
            "name": "owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "sort criteria or result set\n* NAME -\n* UPATED\n* CREATED\n* OWNER\n",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "default": "NAME",
              "enum": [
                "NAME",
                "UPDATED",
                "CREATED",
                "OWNER"
              ],
              "type": "string"
            }
          },
          {
            "description": "sort order",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "default": "ASC",
              "enum": [
                "ASC",
                "DESC"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIMetaList"
                }
              }
            },
            "description": "a list of APIs in API meta list format"
          }
        },
        "security": [
          {
            "AuthToken": []
          }
        ],
        "tags": [
          "APIs"
        ],
        "description": "Retrieves an API meta listing of all APIs defined for this owner",
        "operationId": "get_owner_apis",
        "summary": "Retrieves an API meta listing of all APIs defined for this owner",
        "x-swagger-router-controller": "space.routes.apis"
      }
    },
    "/apis/{owner}/{api}": {
      "delete": {
        "parameters": [
          {
            "description": "API owner identifier",
            "in": "path",
            "name": "owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "API identifier",
            "in": "path",
            "name": "api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIMetaList"
                }
              }
            },
            "description": "the API was successfully deleted"
          },
          "403": {
            "description": "access denied"
          },
          "404": {
            "description": "specified API not found"
          }
        },
        "security": [
          {
            "AuthToken": []
          }
        ],
        "tags": [
          "APIs"
        ],
        "description": "Deletes the specified API",
        "operationId": "delete_api",
        "summary": "Deletes the specified API",
        "x-swagger-router-controller": "space.routes.apis"
      },
      "get": {
        "parameters": [
          {
            "description": "API owner identifier",
            "in": "path",
            "name": "owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "API identifier",
            "in": "path",
            "name": "api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIMetaList"
                }
              }
            },
            "description": "a list of API versions in API meta format"
          }
        },
        "security": [
          {
            "AuthToken": []
          }
        ],
        "tags": [
          "APIs"
        ],
        "description": "Retrieves an API meta listing for all API versions for this owner and API",
        "operationId": "get_api_versions",
        "summary": "Retrieves an API meta listing for all API versions for this owner and API",
        "x-swagger-router-controller": "space.routes.apis"
      },
      "post": {
        "parameters": [
          {
            "description": "API owner identifier",
            "in": "path",
            "name": "owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "API identifier",
            "in": "path",
            "name": "api",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Defines whether the API has to be private",
            "in": "query",
            "name": "private",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "force update",
            "in": "query",
            "name": "force",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIMeta"
                }
              }
            },
            "description": "the API was successfully saved"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIMeta"
                }
              }
            },
            "description": "new API was successfully saved"
          },
          "400": {
            "description": "the Swagger definition was invalid"
          },
          "403": {
            "description": "the API is not owned by the user"
          },
          "409": {
            "description": "can not overwrite a published API version without force=true"
          },
          "415": {
            "description": "invalid content type"
          }
        },
        "security": [
          {
            "AuthToken": []
          }
        ],
        "tags": [
          "APIs"
        ],
        "description": "Saves the provided Swagger definition; the owner must match the token owner. The version will be extracted from the Swagger definitions itself.",
        "operationId": "save_definition",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "the Swagger definition of this API",
          "required": true
        },
        "summary": "Saves the provided Swagger definition",
        "x-swagger-router-controller": "space.routes.apis"
      }
    },
    "/apis/{owner}/{api}/{version}": {
      "delete": {
        "parameters": [
          {
            "description": "API owner identifier",
            "in": "path",
            "name": "owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "API identifier",
            "in": "path",
            "name": "api",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "version identifier",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIMeta"
                }
              }
            },
            "description": "the API version was successfully deleted"
          },
          "403": {
            "description": "access denied"
          },
          "404": {
            "description": "specified API not found"
          },
          "409": {
            "description": "the API version is the only version of this API"
          }
        },
        "security": [
          {
            "AuthToken": []
          }
        ],
        "tags": [
          "APIs"
        ],
        "description": "Deletes a particular version of the specified API",
        "operationId": "delete_api_version",
        "summary": "Deletes a particular version of the specified API",
        "x-swagger-router-controller": "space.routes.apis"
      },
      "post": {
        "parameters": [
          {
            "description": "API owner identifier",
            "in": "path",
            "name": "owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "API identifier",
            "in": "path",
            "name": "api",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "version identifier",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "the API version was successfully published"
          },
          "403": {
            "description": "access denied"
          },
          "404": {
            "description": "specified API not found"
          },
          "409": {
            "description": "the API version is already published"
          }
        },
        "tags": [
          "APIs"
        ],
        "description": "Publish a particular version of the specified API",
        "operationId": "publish_api_version",
        "summary": "Publish a particular version of the specified API",
        "x-swagger-router-controller": "space.routes.apis"
      }
    },
    "/apis/{owner}/{api}/{version}/swagger.json": {
      "get": {
        "parameters": [
          {
            "description": "API owner identifier",
            "in": "path",
            "name": "owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "API identifier",
            "in": "path",
            "name": "api",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "version identifier",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "the Swagger API in JSON format"
          },
          "403": {
            "description": "access denied: api is private"
          },
          "404": {
            "description": "specified API not found"
          }
        },
        "security": [
          {
            "AuthToken": []
          }
        ],
        "tags": [
          "APIs"
        ],
        "description": "Retrieves the Swagger definition for the specified API and version in JSON format",
        "operationId": "get_json_definition",
        "summary": "Retrieves the Swagger definition for the specified API and version in JSON format",
        "x-swagger-router-controller": "space.routes.apis"
      }
    },
    "/apis/{owner}/{api}/{version}/swagger.yaml": {
      "get": {
        "parameters": [
          {
            "description": "API owner identifier",
            "in": "path",
            "name": "owner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "API identifier",
            "in": "path",
            "name": "api",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "version identifier",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {},
                  "type": "object"
                }
              },
              "text/vnd.yaml": {
                "schema": {
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": "the Swagger API in YAML format"
          },
          "403": {
            "description": "access denied: api is private"
          },
          "404": {
            "description": "specified API not found"
          }
        },
        "security": [
          {
            "AuthToken": []
          }
        ],
        "tags": [
          "APIs"
        ],
        "description": "Retrieves the Swagger definition for the specified API and version in YAML format",
        "operationId": "get_yaml_definition",
        "summary": "Retrieves the Swagger definition for the specified API and version in YAML format",
        "x-swagger-router-controller": "space.routes.apis"
      }
    },
    "/auth/login": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginToken"
                }
              }
            },
            "description": "login successful"
          },
          "401": {
            "description": "invalid password"
          },
          "404": {
            "description": "user not found"
          }
        },
        "tags": [
          "Auth"
        ],
        "description": "Log in to OpenAPI space",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          },
          "description": "the user credentials"
        },
        "summary": "Log in to OpenAPI space",
        "x-swagger-router-controller": "space.routes.auth"
      }
    },
    "/auth/login/apinf": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginToken"
                }
              }
            },
            "description": "login successful"
          },
          "401": {
            "description": "invalid username or password"
          }
        },
        "tags": [
          "Auth"
        ],
        "description": "Log in to OpenAPI space using an APInf account",
        "operationId": "login_apinf",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  }
                },
                "required": [
                  "username",
                  "password"
                ],
                "type": "object"
              }
            }
          },
          "description": "the APInf username and password"
        },
        "summary": "Log in to OpenAPI space using an APInf account",
        "x-swagger-router-controller": "space.routes.auth"
      }
    },
    "/auth/login/apinf_token": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginToken"
                }
              }
            },
            "description": "login successful"
          },
          "401": {
            "description": "invalid user ID or auth token"
          }
        },
        "tags": [
          "Auth"
        ],
        "description": "Log in to OpenAPI space using an APInf authentication token",
        "operationId": "login_apinf_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "auth_token": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "user_id",
                  "auth_token"
                ],
                "type": "object"
              }
            }
          },
          "description": "the APInf authentication token and user ID"
        },
        "summary": "Log in to OpenAPI space using an APInf authentication token",
        "x-swagger-router-controller": "space.routes.auth"
      }
    },
    "/auth/logout": {
      "post": {
        "responses": {
          "200": {
            "description": "logout successful"
          },
          "403": {
            "description": "user was not logged in"
          }
        },
        "security": [
          {
            "AuthToken": []
          }
        ],
        "tags": [
          "Auth"
        ],
        "description": "Log out from OpenAPI space",
        "operationId": "logout",
        "summary": "Log out from OpenAPI space",
        "x-swagger-router-controller": "space.routes.auth"
      }
    },
    "/auth/ping": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registration"
                }
              }
            },
            "description": "logged in"
          },
          "403": {
            "description": "not logged in"
          }
        },
        "security": [
          {
            "AuthToken": []
          }
        ],
        "tags": [
          "Auth"
        ],
        "description": "Check whether or not you are authenticated",
        "operationId": "ping",
        "summary": "Check whether or not you are authenticated",
        "x-swagger-router-controller": "space.routes.auth"
      }
    },
    "/auth/register": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginToken"
                }
              }
            },
            "description": "registration successful"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "defines which field is already in use",
                  "enum": [
                    "EMAIL",
                    "USERNAME"
                  ],
                  "type": "string"
                }
              }
            },
            "description": "username or email taken"
          }
        },
        "tags": [
          "Auth"
        ],
        "description": "Register to OpenAPI space",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Registration"
              }
            }
          },
          "description": "registration details"
        },
        "summary": "Register to OpenAPI space",
        "x-swagger-router-controller": "space.routes.auth"
      }
    }
  },
  "components": {
    "schemas": {
      "APIMeta": {
        "properties": {
          "swagger": {
            "description": "An optional Swagger spec. Not included in meta lists.",
            "type": "object"
          },
          "created": {
            "format": "date-time",
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "modified": {
            "format": "date-time",
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "url": {
            "format": "url",
            "type": "string"
          },
          "versions": {
            "items": {},
            "type": "array"
          }
        },
        "type": "object"
      },
      "APIMetaList": {
        "items": {
          "$ref": "#/components/schemas/APIMeta"
        },
        "type": "array"
      },
      "Credentials": {
        "properties": {
          "password": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        },
        "required": [
          "username",
          "password"
        ],
        "type": "object"
      },
      "LoginToken": {
        "properties": {
          "token": {
            "description": "The authentication token sent from the server after a successful login",
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Registration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Credentials"
          },
          {
            "properties": {
              "email": {
                "type": "string"
              }
            },
            "required": [
              "email"
            ],
            "type": "object"
          }
        ]
      }
    },
    "securitySchemes": {
      "AuthToken": {
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "description": "Operations for APIs",
      "name": "APIs"
    },
    {
      "description": "Operations for authentication",
      "name": "Auth"
    }
  ]
}