{
  "openapi": "3.0.3",
  "info": {
    "title": "Hnry Partner API",
    "version": "1.0.0",
    "description": "The Hnry API is a GraphQL API that allows partners to register users, raise expenses, and manage invoices for freelancers. Uses OAuth2 authorization code flow.",
    "x-jentic-source-url": "https://hnrynz.github.io/hnry-apidocs/"
  },
  "servers": [
    {
      "url": "https://app.hnry.io/graphql",
      "description": "Hnry GraphQL API endpoint"
    }
  ],
  "security": [
    {
      "oauth2": [
        "user:show",
        "user:update",
        "expense:create"
      ]
    }
  ],
  "paths": {
    "/graphql": {
      "post": {
        "operationId": "graphqlQuery",
        "tags": [
          "GraphQL"
        ],
        "summary": "Execute GraphQL Query or Mutation",
        "description": "The Hnry API is a GraphQL API. All operations (queries and mutations) are executed via POST requests to this endpoint. Include your Bearer token in the Authorization header. Available operations include: user (query), createClient (mutation), expense (mutation), invoice operations.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "GraphQL response (may include data and/or errors)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.hnry.io/oauth/authorize",
            "tokenUrl": "https://app.hnry.io/oauth/token",
            "scopes": {
              "user:show": "View your Hnry profile",
              "user:update": "Make changes to your Hnry profile",
              "bank_account:show": "Make payments into your Hnry Bank Account",
              "expense:create": "Raise Expenses in Hnry",
              "client:show": "View clients",
              "client:create": "Create clients",
              "invoice:show": "View invoices",
              "invoice:create": "Create invoices"
            }
          }
        }
      }
    },
    "schemas": {
      "GraphQLRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "GraphQL query or mutation string"
          },
          "variables": {
            "type": "object",
            "description": "Variables for the query"
          },
          "operationName": {
            "type": "string",
            "description": "Operation name"
          }
        }
      },
      "GraphQLResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "Response data"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GraphQLError"
            }
          }
        }
      },
      "GraphQLError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "line": {
                  "type": "integer"
                },
                "column": {
                  "type": "integer"
                }
              }
            }
          },
          "path": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "extensions": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "typeName": {
                "type": "string"
              },
              "fieldName": {
                "type": "string"
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "description": "A Hnry user profile",
        "properties": {
          "id": {
            "type": "string"
          },
          "preferredName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "Client": {
        "type": "object",
        "description": "A Hnry client",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "taxDeductionPercentage": {
            "type": "number"
          },
          "contactPersonName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "link": {
            "type": "string"
          }
        }
      },
      "ClientCreationInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "contactPersonName": {
            "type": "string"
          },
          "taxDeductionPercentage": {
            "type": "number"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}