{
  "openapi": "3.0.3",
  "info": {
    "title": "f1Connect API",
    "version": "1.0.0",
    "description": "funeralOne f1Connect API for creating and managing funeral cases, including case details, events, locations, and family information.",
    "x-jentic-source-url": "https://api.funeralone.com/docs/"
  },
  "servers": [
    {
      "url": "https://api.funeralone.com"
    }
  ],
  "paths": {
    "/cases": {
      "post": {
        "operationId": "createorupdatecase",
        "summary": "Create or Update a Case",
        "description": "Creates a new case or updates an existing one based on CaseExternalId uniqueness.",
        "tags": [
          "Cases"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Case updated successfully",
            "headers": {
              "x-caseid": {
                "description": "The internal case ID",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseResponse"
                }
              }
            }
          },
          "201": {
            "description": "Case created successfully",
            "headers": {
              "x-caseid": {
                "description": "The internal case ID",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cases/AccountExternalId/{AccountExternalId}": {
      "get": {
        "operationId": "listcases",
        "summary": "Retrieve All Cases",
        "description": "Returns list of all previously submitted cases for an account.",
        "tags": [
          "Cases"
        ],
        "parameters": [
          {
            "name": "AccountExternalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "description": "External account identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "List of cases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CaseSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cases/AccountExternalId/{AccountExternalId}/CaseExternalId/{CaseExternalId}": {
      "get": {
        "operationId": "getcase",
        "summary": "Retrieve Specific Case",
        "description": "Returns complete details for a single case.",
        "tags": [
          "Cases"
        ],
        "parameters": [
          {
            "name": "AccountExternalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "description": "External account identifier"
          },
          {
            "name": "CaseExternalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 39
            },
            "description": "External case identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Case details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CaseRequest": {
        "type": "object",
        "required": [
          "AccountExternalId",
          "CaseExternalId",
          "ServingLocation"
        ],
        "properties": {
          "AccountExternalId": {
            "type": "string",
            "maxLength": 50
          },
          "CaseExternalId": {
            "type": "string",
            "maxLength": 39
          },
          "Prefix": {
            "type": "string"
          },
          "FirstName": {
            "type": "string"
          },
          "MiddleName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "Suffix": {
            "type": "string"
          },
          "DisplayName": {
            "type": "string"
          },
          "Gender": {
            "type": "string"
          },
          "BirthDate": {
            "type": "string",
            "format": "date"
          },
          "DeathDate": {
            "type": "string",
            "format": "date"
          },
          "Obituary": {
            "type": "string"
          },
          "HMISCaseID": {
            "type": "string"
          },
          "Picture": {
            "type": "string",
            "description": "URL to picture"
          },
          "ExternalVideoURL": {
            "type": "string"
          },
          "ExternalVideoUrls": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Url": {
                  "type": "string"
                },
                "Title": {
                  "type": "string"
                }
              }
            }
          },
          "ServingLocation": {
            "$ref": "#/components/schemas/Location"
          },
          "FamilyAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "Events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "Cemetery": {
            "$ref": "#/components/schemas/Cemetery"
          },
          "FamilyAdmins": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Address1": {
            "type": "string"
          },
          "Address2": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "State": {
            "type": "string"
          },
          "Zip": {
            "type": "string"
          },
          "Country": {
            "type": "string"
          },
          "Phone": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "Address1": {
            "type": "string"
          },
          "Address2": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "State": {
            "type": "string"
          },
          "Zip": {
            "type": "string"
          },
          "Country": {
            "type": "string"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string"
          },
          "Date": {
            "type": "string",
            "format": "date"
          },
          "StartTime": {
            "type": "string"
          },
          "EndTime": {
            "type": "string"
          },
          "Location": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "Cemetery": {
        "type": "object",
        "required": [
          "Name",
          "Country"
        ],
        "properties": {
          "Name": {
            "type": "string"
          },
          "Address1": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "State": {
            "type": "string"
          },
          "Zip": {
            "type": "string"
          },
          "Country": {
            "type": "string"
          }
        }
      },
      "CaseResponse": {
        "type": "object",
        "properties": {
          "CaseId": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          }
        }
      },
      "CaseSummary": {
        "type": "object",
        "properties": {
          "CaseExternalId": {
            "type": "string"
          },
          "DisplayName": {
            "type": "string"
          },
          "DeathDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "CaseDetails": {
        "type": "object",
        "properties": {
          "AccountExternalId": {
            "type": "string"
          },
          "CaseExternalId": {
            "type": "string"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "DisplayName": {
            "type": "string"
          },
          "Gender": {
            "type": "string"
          },
          "BirthDate": {
            "type": "string",
            "format": "date"
          },
          "DeathDate": {
            "type": "string",
            "format": "date"
          },
          "Obituary": {
            "type": "string"
          },
          "ServingLocation": {
            "$ref": "#/components/schemas/Location"
          },
          "Events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "Cemetery": {
            "$ref": "#/components/schemas/Cemetery"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication. Use API key as username, password field unused."
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Cases",
      "description": "Operations related to Cases"
    }
  ]
}