{
  "openapi": "3.0.3",
  "info": {
    "title": "SITA Flight Schedule API",
    "version": "1.0.0",
    "description": "SITA Flight Schedule API for retrieving flight schedules by route, airline, flight number, and airport direction.",
    "x-jentic-source-url": "https://www.developer.aero/api-catalog/flight-schedule-overview"
  },
  "servers": [
    {
      "url": "https://sitaopen.api.aero/schedule/v1"
    }
  ],
  "paths": {
    "/route/departure/{departureAirport}/arrival/{arrivalAirport}": {
      "get": {
        "operationId": "getschedulebyroute",
        "summary": "Schedule By Route",
        "description": "Returns flight schedules based on departure and arrival airports.",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "departureAirport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IATA/ICAO departure airport code"
          },
          {
            "name": "arrivalAirport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IATA/ICAO arrival airport code"
          },
          {
            "name": "operationDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date (yyyy-MM-dd)"
          },
          {
            "name": "operationDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date (yyyy-MM-dd)"
          },
          {
            "name": "groupMarketingCarriers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Group marketing/operating carriers"
          }
        ],
        "responses": {
          "200": {
            "description": "Flight schedules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/route/departure/{departureAirport}/arrival/{arrivalAirport}/airline/{airline}": {
      "get": {
        "operationId": "getschedulebyrouteandairline",
        "summary": "Schedule By Route and Airline",
        "description": "Returns flight schedules for specified route and airline.",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "departureAirport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IATA/ICAO departure airport code"
          },
          {
            "name": "arrivalAirport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IATA/ICAO arrival airport code"
          },
          {
            "name": "airline",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IATA/ICAO airline code"
          },
          {
            "name": "operationDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "operationDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "groupMarketingCarriers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "airline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The airline"
          }
        ],
        "responses": {
          "200": {
            "description": "Flight schedules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/route/departure/{departureAirport}/arrival/{arrivalAirport}/airline/{airline}/flightNumber/{flightNumber}": {
      "get": {
        "operationId": "getschedulebyrouteairlineandflight",
        "summary": "Schedule By Route, Airline and Flight Number",
        "description": "Returns schedules for specific airline and flight number on specified route.",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "departureAirport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arrivalAirport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flightNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operationDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "operationDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "groupMarketingCarriers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flight schedules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/airline/{airline}": {
      "get": {
        "operationId": "getschedulebyairline",
        "summary": "Schedule By Airline",
        "description": "Returns all active flight schedules for specified airline.",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "airline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IATA/ICAO airline code"
          },
          {
            "name": "operationDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "operationDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "groupMarketingCarriers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flight schedules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/airline/{airline}/flightNumber/{flightNumber}": {
      "get": {
        "operationId": "getschedulebyairlineandflight",
        "summary": "Schedule By Airline and Flight Number",
        "description": "Returns all active schedules for airline and specific flight number.",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "airline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flightNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operationDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "operationDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "groupMarketingCarriers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flight schedules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/airport/{airportCode}/direction/{adi}": {
      "get": {
        "operationId": "getschedulebyairportanddirection",
        "summary": "Schedule By Airport and Direction",
        "description": "Returns active schedules for airport filtered by departure/arrival direction.",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "airportCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IATA/ICAO airport code"
          },
          {
            "name": "adi",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "A",
                "D"
              ]
            },
            "description": "Direction: A (arrival) or D (departure)"
          },
          {
            "name": "operationDateFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "operationDateTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "groupMarketingCarriers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flight schedules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ScheduleResponse": {
        "type": "object",
        "properties": {
          "departure": {
            "type": "string"
          },
          "arrival": {
            "type": "string"
          },
          "airline": {
            "type": "string"
          },
          "flightNumber": {
            "type": "string"
          },
          "schedules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightSchedule"
            }
          },
          "continuationToken": {
            "type": "string"
          }
        }
      },
      "FlightSchedule": {
        "type": "object",
        "properties": {
          "aircraft": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "owner": {
                "type": "string"
              }
            }
          },
          "std": {
            "type": "string",
            "description": "Scheduled time of departure"
          },
          "sta": {
            "type": "string",
            "description": "Scheduled time of arrival"
          },
          "terminal": {
            "type": "string"
          },
          "daysOfOperation": {
            "type": "string"
          },
          "marketingCarriers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "station": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "timezone": {
                "type": "string"
              },
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          },
          "mealServices": {
            "type": "object"
          },
          "inFlightServices": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "object",
            "properties": {
              "error": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "description": {
                      "type": "string"
                    },
                    "invalidParam": {
                      "type": "string"
                    },
                    "invalidValue": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sitaopen.api.aero/schedule/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Schedules",
      "description": "Operations related to Schedules"
    }
  ]
}