{
  "openapi": "3.0.3",
  "info": {
    "title": "ITIS Web Services API",
    "description": "The Integrated Taxonomic Information System (ITIS) Web Services provide access to the ITIS taxonomic database. Includes search functions, TSN-based data retrieval, hierarchy navigation, and metadata/reference data endpoints. All endpoints are read-only GET requests with no authentication required.",
    "version": "1.0.0",
    "contact": {
      "name": "ITIS",
      "url": "https://www.itis.gov"
    },
    "x-jentic-source-url": "https://www.itis.gov/ws_description.html"
  },
  "servers": [
    {
      "url": "https://www.itis.gov/ITISWebService/services/ITISService",
      "description": "ITIS Web Services"
    }
  ],
  "paths": {
    "/searchForAnyMatch": {
      "get": {
        "operationId": "searchForAnyMatch",
        "summary": "Search for any match",
        "description": "Search by common name, scientific name, or TSN. Returns matching results with TSNs.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "srchKey",
            "in": "query",
            "required": true,
            "description": "Search term (name or TSN).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/searchForAnyMatchPaged": {
      "get": {
        "operationId": "searchForAnyMatchPaged",
        "summary": "Search for any match (paginated)",
        "description": "Paginated search by common name, scientific name, or TSN.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "srchKey",
            "in": "query",
            "required": true,
            "description": "Search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "Number of results per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageNum",
            "in": "query",
            "required": true,
            "description": "Page number.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ascend",
            "in": "query",
            "required": true,
            "description": "Sort ascending (true) or descending (false).",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getAnyMatchCount": {
      "get": {
        "operationId": "getAnyMatchCount",
        "summary": "Get match count",
        "description": "Returns the count of matches for a search term.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "srchKey",
            "in": "query",
            "required": true,
            "description": "Search term.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Match count.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/searchByCommonName": {
      "get": {
        "operationId": "searchByCommonName",
        "summary": "Search by common name",
        "description": "Returns matches where the common name contains the search term.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "srchKey",
            "in": "query",
            "required": true,
            "description": "Common name search term.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Common name search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonNameSearchResultList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/searchByCommonNameBeginsWith": {
      "get": {
        "operationId": "searchByCommonNameBeginsWith",
        "summary": "Search by common name (begins with)",
        "description": "Returns matches where the common name begins with the search term.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "srchKey",
            "in": "query",
            "required": true,
            "description": "Common name prefix.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonNameSearchResultList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/searchByCommonNameEndsWith": {
      "get": {
        "operationId": "searchByCommonNameEndsWith",
        "summary": "Search by common name (ends with)",
        "description": "Returns matches where the common name ends with the search term.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "srchKey",
            "in": "query",
            "required": true,
            "description": "Common name suffix.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonNameSearchResultList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/searchByScientificName": {
      "get": {
        "operationId": "searchByScientificName",
        "summary": "Search by scientific name",
        "description": "Returns matches where the scientific name contains the search term.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "srchKey",
            "in": "query",
            "required": true,
            "description": "Scientific name search term.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scientific name search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScientificNameSearchResultList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getITISTerms": {
      "get": {
        "operationId": "getItisTerms",
        "summary": "Get ITIS terms",
        "description": "Returns scientific name, common names, and usage information for a search term.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "srchKey",
            "in": "query",
            "required": true,
            "description": "Search term.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ITIS terms.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItisTermList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getITISTermsFromCommonName": {
      "get": {
        "operationId": "getItisTermsFromCommonName",
        "summary": "Get ITIS terms from common name",
        "description": "Returns ITIS terms matching a common name search.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "srchKey",
            "in": "query",
            "required": true,
            "description": "Common name search term.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ITIS terms.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItisTermList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getITISTermsFromScientificName": {
      "get": {
        "operationId": "getItisTermsFromScientificName",
        "summary": "Get ITIS terms from scientific name",
        "description": "Returns ITIS terms matching a scientific name search.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "srchKey",
            "in": "query",
            "required": true,
            "description": "Scientific name search term.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ITIS terms.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItisTermList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getTsnByVernacularLanguage": {
      "get": {
        "operationId": "getTsnByVernacularLanguage",
        "summary": "Get TSNs by vernacular language",
        "description": "Returns TSNs with vernacular names in the specified language.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": true,
            "description": "Language name (e.g., 'English', 'Spanish').",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TSN list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TsnList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getFullRecordFromTSN": {
      "get": {
        "operationId": "getFullRecordFromTsn",
        "summary": "Get full record from TSN",
        "description": "Returns the complete ITIS record for a TSN. This operation may be time-consuming.",
        "tags": [
          "TSN Data"
        ],
        "parameters": [
          {
            "name": "tsn",
            "in": "query",
            "required": true,
            "description": "Taxonomic Serial Number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full ITIS record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullRecord"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getScientificNameFromTSN": {
      "get": {
        "operationId": "getScientificNameFromTsn",
        "summary": "Get scientific name from TSN",
        "description": "Returns the scientific name and its component parts for a TSN.",
        "tags": [
          "TSN Data"
        ],
        "parameters": [
          {
            "name": "tsn",
            "in": "query",
            "required": true,
            "description": "Taxonomic Serial Number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scientific name data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScientificName"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getCommonNamesFromTSN": {
      "get": {
        "operationId": "getCommonNamesFromTsn",
        "summary": "Get common names from TSN",
        "description": "Returns a list of common names for a TSN.",
        "tags": [
          "TSN Data"
        ],
        "parameters": [
          {
            "name": "tsn",
            "in": "query",
            "required": true,
            "description": "Taxonomic Serial Number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Common names list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonNameList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getAcceptedNamesFromTSN": {
      "get": {
        "operationId": "getAcceptedNamesFromTsn",
        "summary": "Get accepted names from TSN",
        "description": "Returns accepted names for the TSN.",
        "tags": [
          "TSN Data"
        ],
        "parameters": [
          {
            "name": "tsn",
            "in": "query",
            "required": true,
            "description": "Taxonomic Serial Number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accepted names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptedNameList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getSynonymNamesFromTSN": {
      "get": {
        "operationId": "getSynonymNamesFromTsn",
        "summary": "Get synonym names from TSN",
        "description": "Returns synonym names for the TSN.",
        "tags": [
          "TSN Data"
        ],
        "parameters": [
          {
            "name": "tsn",
            "in": "query",
            "required": true,
            "description": "Taxonomic Serial Number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Synonym names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SynonymNameList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getTaxonomicRankNameFromTSN": {
      "get": {
        "operationId": "getTaxonomicRankNameFromTsn",
        "summary": "Get taxonomic rank name from TSN",
        "description": "Returns the kingdom and rank information for a TSN.",
        "tags": [
          "TSN Data"
        ],
        "parameters": [
          {
            "name": "tsn",
            "in": "query",
            "required": true,
            "description": "Taxonomic Serial Number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rank name data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxonomicRank"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getKingdomNameFromTSN": {
      "get": {
        "operationId": "getKingdomNameFromTsn",
        "summary": "Get kingdom name from TSN",
        "description": "Returns the kingdom name for a TSN.",
        "tags": [
          "TSN Data"
        ],
        "parameters": [
          {
            "name": "tsn",
            "in": "query",
            "required": true,
            "description": "Taxonomic Serial Number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Kingdom name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KingdomName"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getParentTSNFromTSN": {
      "get": {
        "operationId": "getParentTsnFromTsn",
        "summary": "Get parent TSN",
        "description": "Returns the parent TSN for the given TSN.",
        "tags": [
          "TSN Data"
        ],
        "parameters": [
          {
            "name": "tsn",
            "in": "query",
            "required": true,
            "description": "Taxonomic Serial Number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parent TSN.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParentTsn"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getTaxonomicUsageFromTSN": {
      "get": {
        "operationId": "getTaxonomicUsageFromTsn",
        "summary": "Get taxonomic usage from TSN",
        "description": "Returns usage information (accepted/not accepted) for a TSN.",
        "tags": [
          "TSN Data"
        ],
        "parameters": [
          {
            "name": "tsn",
            "in": "query",
            "required": true,
            "description": "Taxonomic Serial Number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Taxonomic usage data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxonomicUsage"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getGeographicDivisionsFromTSN": {
      "get": {
        "operationId": "getGeographicDivisionsFromTsn",
        "summary": "Get geographic divisions from TSN",
        "description": "Returns geographic division information for a TSN.",
        "tags": [
          "TSN Data"
        ],
        "parameters": [
          {
            "name": "tsn",
            "in": "query",
            "required": true,
            "description": "Taxonomic Serial Number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geographic divisions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getFullHierarchyFromTSN": {
      "get": {
        "operationId": "getFullHierarchyFromTsn",
        "summary": "Get full hierarchy from TSN",
        "description": "Returns the complete taxonomic hierarchy for a TSN including TSNs, rank names, and scientific names.",
        "tags": [
          "Hierarchy"
        ],
        "parameters": [
          {
            "name": "tsn",
            "in": "query",
            "required": true,
            "description": "Taxonomic Serial Number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full hierarchy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HierarchyList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getHierarchyDownFromTSN": {
      "get": {
        "operationId": "getHierarchyDownFromTsn",
        "summary": "Get hierarchy down from TSN",
        "description": "Returns the immediate children in the hierarchy below the given TSN.",
        "tags": [
          "Hierarchy"
        ],
        "parameters": [
          {
            "name": "tsn",
            "in": "query",
            "required": true,
            "description": "Taxonomic Serial Number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Child taxa.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HierarchyList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getHierarchyUpFromTSN": {
      "get": {
        "operationId": "getHierarchyUpFromTsn",
        "summary": "Get hierarchy up from TSN",
        "description": "Returns the parent taxon in the hierarchy above the given TSN.",
        "tags": [
          "Hierarchy"
        ],
        "parameters": [
          {
            "name": "tsn",
            "in": "query",
            "required": true,
            "description": "Taxonomic Serial Number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parent taxon.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HierarchyEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getKingdomNames": {
      "get": {
        "operationId": "getKingdomNames",
        "summary": "Get all kingdom names",
        "description": "Returns all kingdom names with their IDs and TSNs.",
        "tags": [
          "Metadata"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Kingdom names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getRankNames": {
      "get": {
        "operationId": "getRankNames",
        "summary": "Get all rank names",
        "description": "Returns all taxonomic rank names with kingdom names and rank IDs.",
        "tags": [
          "Metadata"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Rank names.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getVernacularLanguages": {
      "get": {
        "operationId": "getVernacularLanguages",
        "summary": "Get all vernacular languages",
        "description": "Returns all languages available in the vernacular table.",
        "tags": [
          "Metadata"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Vernacular languages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getGeographicValues": {
      "get": {
        "operationId": "getGeographicValues",
        "summary": "Get all geographic values",
        "description": "Returns all available geographic division values.",
        "tags": [
          "Metadata"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Geographic values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getLastChangeDate": {
      "get": {
        "operationId": "getLastChangeDate",
        "summary": "Get last change date",
        "description": "Returns the latest database revision date.",
        "tags": [
          "Metadata"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Last change date.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Date of last database revision."
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getDescription": {
      "get": {
        "operationId": "getDescription",
        "summary": "Get service description",
        "description": "Returns a description of the web service and the ITIS database.",
        "tags": [
          "Metadata"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Service description.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Web service and ITIS database description."
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResultList": {
        "type": "object",
        "description": "List of search results with match type and TSN.",
        "properties": {
          "anyMatchList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "sciName": {
            "type": "string",
            "description": "Scientific name."
          },
          "commonNameList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Common names."
          },
          "tsn": {
            "type": "string",
            "description": "Taxonomic Serial Number."
          }
        }
      },
      "CommonNameSearchResultList": {
        "type": "object",
        "properties": {
          "commonNames": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommonNameSearchResult"
            }
          }
        }
      },
      "CommonNameSearchResult": {
        "type": "object",
        "properties": {
          "commonName": {
            "type": "string",
            "description": "Common name."
          },
          "language": {
            "type": "string",
            "description": "Language of the common name."
          },
          "tsn": {
            "type": "string",
            "description": "Taxonomic Serial Number."
          }
        }
      },
      "ScientificNameSearchResultList": {
        "type": "object",
        "properties": {
          "scientificNames": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScientificNameSearchResult"
            }
          }
        }
      },
      "ScientificNameSearchResult": {
        "type": "object",
        "properties": {
          "combinedName": {
            "type": "string",
            "description": "Combined scientific name."
          },
          "tsn": {
            "type": "string",
            "description": "Taxonomic Serial Number."
          }
        }
      },
      "ItisTermList": {
        "type": "object",
        "properties": {
          "itisTerms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItisTerm"
            }
          }
        }
      },
      "ItisTerm": {
        "type": "object",
        "properties": {
          "sciName": {
            "type": "string",
            "description": "Scientific name."
          },
          "commonNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Common names."
          },
          "tsn": {
            "type": "string",
            "description": "Taxonomic Serial Number."
          },
          "nameUsage": {
            "type": "string",
            "description": "Usage status (accepted, not accepted, valid, invalid)."
          }
        }
      },
      "TsnList": {
        "type": "object",
        "properties": {
          "tsns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of Taxonomic Serial Numbers."
          }
        }
      },
      "FullRecord": {
        "type": "object",
        "description": "Complete ITIS record for a TSN.",
        "properties": {
          "tsn": {
            "type": "string"
          },
          "scientificName": {
            "$ref": "#/components/schemas/ScientificName"
          },
          "commonNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "taxonomicRank": {
            "$ref": "#/components/schemas/TaxonomicRank"
          },
          "kingdom": {
            "type": "string"
          },
          "parentTsn": {
            "type": "string"
          },
          "usage": {
            "type": "string"
          },
          "credibilityRating": {
            "type": "string"
          },
          "geographicDivisions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "experts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "publications": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ScientificName": {
        "type": "object",
        "properties": {
          "combinedName": {
            "type": "string",
            "description": "Combined scientific name."
          },
          "unitInd1": {
            "type": "string",
            "description": "First name indicator."
          },
          "unitName1": {
            "type": "string",
            "description": "First name unit (genus)."
          },
          "unitInd2": {
            "type": "string",
            "description": "Second name indicator."
          },
          "unitName2": {
            "type": "string",
            "description": "Second name unit (species)."
          },
          "unitInd3": {
            "type": "string",
            "description": "Third name indicator."
          },
          "unitName3": {
            "type": "string",
            "description": "Third name unit (subspecies/variety)."
          },
          "tsn": {
            "type": "string",
            "description": "Taxonomic Serial Number."
          }
        }
      },
      "CommonNameList": {
        "type": "object",
        "properties": {
          "commonNames": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommonNameEntry"
            }
          }
        }
      },
      "CommonNameEntry": {
        "type": "object",
        "properties": {
          "commonName": {
            "type": "string",
            "description": "Common name."
          },
          "language": {
            "type": "string",
            "description": "Language of the common name."
          },
          "tsn": {
            "type": "string",
            "description": "Taxonomic Serial Number."
          }
        }
      },
      "AcceptedNameList": {
        "type": "object",
        "properties": {
          "acceptedNames": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AcceptedName"
            }
          }
        }
      },
      "AcceptedName": {
        "type": "object",
        "properties": {
          "acceptedName": {
            "type": "string",
            "description": "Accepted scientific name."
          },
          "acceptedTsn": {
            "type": "string",
            "description": "TSN of the accepted name."
          }
        }
      },
      "SynonymNameList": {
        "type": "object",
        "properties": {
          "synonyms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SynonymName"
            }
          }
        }
      },
      "SynonymName": {
        "type": "object",
        "properties": {
          "sciName": {
            "type": "string",
            "description": "Synonym scientific name."
          },
          "tsn": {
            "type": "string",
            "description": "TSN of the synonym."
          }
        }
      },
      "TaxonomicRank": {
        "type": "object",
        "properties": {
          "kingdomName": {
            "type": "string",
            "description": "Kingdom name."
          },
          "rankName": {
            "type": "string",
            "description": "Taxonomic rank name."
          },
          "rankId": {
            "type": "string",
            "description": "Rank ID (for sorting only)."
          }
        }
      },
      "KingdomName": {
        "type": "object",
        "properties": {
          "kingdomName": {
            "type": "string",
            "description": "Kingdom name."
          },
          "tsn": {
            "type": "string",
            "description": "TSN of the kingdom."
          }
        }
      },
      "ParentTsn": {
        "type": "object",
        "properties": {
          "parentTsn": {
            "type": "string",
            "description": "Parent Taxonomic Serial Number."
          }
        }
      },
      "TaxonomicUsage": {
        "type": "object",
        "properties": {
          "taxonUsageRating": {
            "type": "string",
            "description": "Usage rating (accepted, not accepted, valid, invalid)."
          }
        }
      },
      "HierarchyList": {
        "type": "object",
        "properties": {
          "hierarchyList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HierarchyEntry"
            }
          }
        }
      },
      "HierarchyEntry": {
        "type": "object",
        "properties": {
          "tsn": {
            "type": "string",
            "description": "Taxonomic Serial Number."
          },
          "rankName": {
            "type": "string",
            "description": "Taxonomic rank name."
          },
          "sciName": {
            "type": "string",
            "description": "Scientific name."
          },
          "parentTsn": {
            "type": "string",
            "description": "Parent TSN."
          }
        }
      },
      "StringList": {
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Search",
      "description": "Search for taxa by name, common name, or keyword"
    },
    {
      "name": "TSN Data",
      "description": "Retrieve detailed taxonomic data by Taxonomic Serial Number"
    },
    {
      "name": "Hierarchy",
      "description": "Navigate taxonomic hierarchy relationships"
    },
    {
      "name": "Metadata",
      "description": "Reference data and system metadata"
    }
  ]
}