{
  "openapi": "3.0.3",
  "info": {
    "title": "Fulcrum API",
    "description": "Fulcrum is a mobile data collection platform. The Fulcrum REST API allows you to programmatically create, read, update, and delete records, forms, and other objects in your Fulcrum account.",
    "version": "2.0.0",
    "contact": {
      "name": "Fulcrum",
      "url": "https://docs.fulcrumapp.com"
    },
    "x-jentic-source-url": "http://developer.fulcrumapp.com/api/intro/"
  },
  "servers": [
    {
      "url": "https://api.fulcrumapp.com/api/v2",
      "description": "Fulcrum API v2"
    }
  ],
  "security": [
    {
      "ApiToken": []
    }
  ],
  "paths": {
    "/records": {
      "get": {
        "summary": "List records",
        "operationId": "listRecords",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    },
                    "total_count": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Record"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List records"
      },
      "post": {
        "summary": "Create a record",
        "operationId": "createRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "x-skipworkflows",
            "in": "header",
            "description": "When true, does not trigger workflows.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "x-skipwebhooks",
            "in": "header",
            "description": "When true, does not trigger webhooks.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "record"
                ],
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/RecordInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Record created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "record": {
                      "$ref": "#/components/schemas/Record"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          }
        },
        "description": "Create a record"
      }
    },
    "/records/{id}": {
      "get": {
        "summary": "Get a record",
        "operationId": "getRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "record": {
                      "$ref": "#/components/schemas/Record"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a record"
      },
      "put": {
        "summary": "Update a record",
        "operationId": "updateRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-skipworkflows",
            "in": "header",
            "description": "When true, does not trigger workflows.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "x-skipwebhooks",
            "in": "header",
            "description": "When true, does not trigger webhooks.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "record"
                ],
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/RecordInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "record": {
                      "$ref": "#/components/schemas/Record"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update a record"
      },
      "delete": {
        "summary": "Delete a record",
        "operationId": "deleteRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete a record"
      }
    },
    "/records/{id}/history": {
      "get": {
        "summary": "Get record history",
        "operationId": "getRecordHistory",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Record"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get record history"
      }
    },
    "/forms": {
      "get": {
        "summary": "List forms",
        "operationId": "listForms",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "forms": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Form"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List forms"
      },
      "post": {
        "summary": "Create a form",
        "operationId": "createForm",
        "tags": [
          "Forms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "form"
                ],
                "properties": {
                  "form": {
                    "$ref": "#/components/schemas/FormInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Form created."
          }
        },
        "description": "Create a form"
      }
    },
    "/forms/{id}": {
      "get": {
        "summary": "Get a form",
        "operationId": "getForm",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "Get a form"
      },
      "put": {
        "summary": "Update a form",
        "operationId": "updateForm",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "form"
                ],
                "properties": {
                  "form": {
                    "$ref": "#/components/schemas/FormInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form updated."
          }
        },
        "description": "Update a form"
      },
      "delete": {
        "summary": "Delete a form",
        "operationId": "deleteForm",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete a form"
      }
    },
    "/projects": {
      "get": {
        "summary": "List projects",
        "operationId": "listProjects",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List projects"
      },
      "post": {
        "summary": "Create projects",
        "operationId": "createProjects",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "description": "Create projects"
      }
    },
    "/projects/{id}": {
      "get": {
        "summary": "Get projects",
        "operationId": "getProjects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "Get projects"
      },
      "put": {
        "summary": "Update projects",
        "operationId": "updateProjects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        },
        "description": "Update projects"
      },
      "delete": {
        "summary": "Delete projects",
        "operationId": "deleteProjects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete projects"
      }
    },
    "/choice_lists": {
      "get": {
        "summary": "List choice lists",
        "operationId": "listChoiceLists",
        "tags": [
          "Choice Lists"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List choice lists"
      },
      "post": {
        "summary": "Create choice lists",
        "operationId": "createChoiceLists",
        "tags": [
          "Choice Lists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "description": "Create choice lists"
      }
    },
    "/choice_lists/{id}": {
      "get": {
        "summary": "Get choice lists",
        "operationId": "getChoiceLists",
        "tags": [
          "Choice Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "Get choice lists"
      },
      "put": {
        "summary": "Update choice lists",
        "operationId": "updateChoiceLists",
        "tags": [
          "Choice Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        },
        "description": "Update choice lists"
      },
      "delete": {
        "summary": "Delete choice lists",
        "operationId": "deleteChoiceLists",
        "tags": [
          "Choice Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete choice lists"
      }
    },
    "/classification_sets": {
      "get": {
        "summary": "List classification sets",
        "operationId": "listClassificationSets",
        "tags": [
          "Classification Sets"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List classification sets"
      },
      "post": {
        "summary": "Create classification sets",
        "operationId": "createClassificationSets",
        "tags": [
          "Classification Sets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "description": "Create classification sets"
      }
    },
    "/classification_sets/{id}": {
      "get": {
        "summary": "Get classification sets",
        "operationId": "getClassificationSets",
        "tags": [
          "Classification Sets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "Get classification sets"
      },
      "put": {
        "summary": "Update classification sets",
        "operationId": "updateClassificationSets",
        "tags": [
          "Classification Sets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        },
        "description": "Update classification sets"
      },
      "delete": {
        "summary": "Delete classification sets",
        "operationId": "deleteClassificationSets",
        "tags": [
          "Classification Sets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete classification sets"
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List webhooks",
        "operationId": "listWebhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List webhooks"
      },
      "post": {
        "summary": "Create webhooks",
        "operationId": "createWebhooks",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "description": "Create webhooks"
      }
    },
    "/webhooks/{id}": {
      "get": {
        "summary": "Get webhooks",
        "operationId": "getWebhooks",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "Get webhooks"
      },
      "put": {
        "summary": "Update webhooks",
        "operationId": "updateWebhooks",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        },
        "description": "Update webhooks"
      },
      "delete": {
        "summary": "Delete webhooks",
        "operationId": "deleteWebhooks",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete webhooks"
      }
    },
    "/layers": {
      "get": {
        "summary": "List layers",
        "operationId": "listLayers",
        "tags": [
          "Layers"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List layers"
      },
      "post": {
        "summary": "Create layers",
        "operationId": "createLayers",
        "tags": [
          "Layers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "description": "Create layers"
      }
    },
    "/layers/{id}": {
      "get": {
        "summary": "Get layers",
        "operationId": "getLayers",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "Get layers"
      },
      "put": {
        "summary": "Update layers",
        "operationId": "updateLayers",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        },
        "description": "Update layers"
      },
      "delete": {
        "summary": "Delete layers",
        "operationId": "deleteLayers",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete layers"
      }
    },
    "/groups": {
      "get": {
        "summary": "List groups",
        "operationId": "listGroups",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List groups"
      },
      "post": {
        "summary": "Create groups",
        "operationId": "createGroups",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "description": "Create groups"
      }
    },
    "/groups/{id}": {
      "get": {
        "summary": "Get groups",
        "operationId": "getGroups",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "Get groups"
      },
      "put": {
        "summary": "Update groups",
        "operationId": "updateGroups",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        },
        "description": "Update groups"
      },
      "delete": {
        "summary": "Delete groups",
        "operationId": "deleteGroups",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete groups"
      }
    },
    "/authorizations": {
      "get": {
        "summary": "List authorizations",
        "operationId": "listAuthorizations",
        "tags": [
          "Authorizations"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List authorizations"
      },
      "post": {
        "summary": "Create authorizations",
        "operationId": "createAuthorizations",
        "tags": [
          "Authorizations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "description": "Create authorizations"
      }
    },
    "/authorizations/{id}": {
      "get": {
        "summary": "Get authorizations",
        "operationId": "getAuthorizations",
        "tags": [
          "Authorizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "Get authorizations"
      },
      "put": {
        "summary": "Update authorizations",
        "operationId": "updateAuthorizations",
        "tags": [
          "Authorizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated."
          }
        },
        "description": "Update authorizations"
      },
      "delete": {
        "summary": "Delete authorizations",
        "operationId": "deleteAuthorizations",
        "tags": [
          "Authorizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete authorizations"
      }
    },
    "/memberships": {
      "get": {
        "summary": "List memberships",
        "operationId": "listMemberships",
        "tags": [
          "Memberships"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List memberships"
      }
    },
    "/roles": {
      "get": {
        "summary": "List roles",
        "operationId": "listRoles",
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List roles"
      }
    },
    "/audit_logs": {
      "get": {
        "summary": "List audit logs",
        "operationId": "listAuditLogs",
        "tags": [
          "Audit Logs"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List audit logs"
      }
    },
    "/photos": {
      "get": {
        "summary": "List photos",
        "operationId": "listPhotos",
        "tags": [
          "Photos"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List photos"
      },
      "post": {
        "summary": "Upload a photo",
        "operationId": "uploadPhoto",
        "tags": [
          "Photos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "photo[access_key]": {
                    "type": "string"
                  },
                  "photo[file]": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "photo[access_key]",
                  "photo[file]"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Photo uploaded."
          }
        },
        "description": "Upload a photo"
      }
    },
    "/photos/{id}": {
      "get": {
        "summary": "Get photos",
        "operationId": "getPhotos",
        "tags": [
          "Photos"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "Get photos"
      }
    },
    "/videos": {
      "get": {
        "summary": "List videos",
        "operationId": "listVideos",
        "tags": [
          "Videos"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List videos"
      }
    },
    "/videos/{id}": {
      "get": {
        "summary": "Get videos",
        "operationId": "getVideos",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "Get videos"
      }
    },
    "/audio": {
      "get": {
        "summary": "List audio",
        "operationId": "listAudio",
        "tags": [
          "Audio"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List audio"
      }
    },
    "/audio/{id}": {
      "get": {
        "summary": "Get audio",
        "operationId": "getAudio",
        "tags": [
          "Audio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "Get audio"
      }
    },
    "/signatures": {
      "get": {
        "summary": "List signatures",
        "operationId": "listSignatures",
        "tags": [
          "Signatures"
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List signatures"
      }
    },
    "/signatures/{id}": {
      "get": {
        "summary": "Get signatures",
        "operationId": "getSignatures",
        "tags": [
          "Signatures"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "Get signatures"
      }
    },
    "/changesets": {
      "get": {
        "summary": "List changesets",
        "operationId": "listChangesets",
        "tags": [
          "Changesets"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "List changesets"
      }
    },
    "/changesets/{id}": {
      "get": {
        "summary": "Get a changeset",
        "operationId": "getChangeset",
        "tags": [
          "Changesets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        },
        "description": "Get a changeset"
      },
      "put": {
        "summary": "Close a changeset",
        "operationId": "closeChangeset",
        "tags": [
          "Changesets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Changeset closed."
          }
        },
        "description": "Close a changeset"
      }
    }
  },
  "components": {
    "schemas": {
      "Record": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "form_id": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "altitude": {
            "type": "number",
            "format": "double"
          },
          "form_values": {
            "type": "object",
            "description": "Key-value pairs of form field data."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "type": "string"
          },
          "created_by_id": {
            "type": "string"
          },
          "updated_by": {
            "type": "string"
          },
          "updated_by_id": {
            "type": "string"
          },
          "changeset_id": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          }
        }
      },
      "RecordInput": {
        "type": "object",
        "required": [
          "form_id",
          "form_values"
        ],
        "properties": {
          "form_id": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "form_values": {
            "type": "object"
          }
        }
      },
      "Form": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "elements": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FormInput": {
        "type": "object",
        "required": [
          "name",
          "elements"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "elements": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "ApiToken"
      }
    }
  },
  "tags": [
    {
      "name": "Records",
      "description": "Manage data records."
    },
    {
      "name": "Forms",
      "description": "Manage forms."
    },
    {
      "name": "Projects",
      "description": "Manage projects."
    },
    {
      "name": "Choice Lists",
      "description": "Manage choice lists."
    },
    {
      "name": "Classification Sets",
      "description": "Manage classification sets."
    },
    {
      "name": "Webhooks",
      "description": "Manage webhooks."
    },
    {
      "name": "Photos",
      "description": "Manage photos."
    },
    {
      "name": "Signatures",
      "description": "Manage signatures."
    },
    {
      "name": "Videos",
      "description": "Manage videos."
    },
    {
      "name": "Audio",
      "description": "Manage audio files."
    },
    {
      "name": "Changesets",
      "description": "Manage changesets."
    },
    {
      "name": "Layers",
      "description": "Manage layers."
    },
    {
      "name": "Memberships",
      "description": "Manage memberships."
    },
    {
      "name": "Roles",
      "description": "Manage roles."
    },
    {
      "name": "Groups",
      "description": "Manage groups."
    },
    {
      "name": "Audit Logs",
      "description": "View audit logs."
    },
    {
      "name": "Authorizations",
      "description": "Manage API authorizations."
    }
  ]
}
