{
    "openapi": "3.0.0",
    "info": {
        "title": "API de Autenticação",
        "description": "Utilizada para solicitar acesso a serviços ",
        "version": "v1",
        "x-jentic-source-url": "https://api.swaggerhub.com/apis/abgbruce/api-de_autenticacao/v1/swagger.json"
    },
    "tags": [
        {
            "name": "login",
            "description": "API de autenticação de usuário."
        }
    ],
    "paths": {
        "/logins/{login}/tokens": {
            "post": {
                "tags": [
                    "login"
                ],
                "summary": "Autenticação.",
                "description": "Método de autenticação para acesso a serviços da Empresa",
                "operationId": "validar Usuário",
                "parameters": [
                    {
                        "name": "login",
                        "in": "path",
                        "description": "Login informado pelo corretor requisitante.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "senha": {
                                        "description": "Senha informada pelo corretor requisitante.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "senha"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Usuário validado.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Um dos parâmetros ausentes ou URL mal-formada."
                    },
                    "401": {
                        "description": "Combinação de login+senha inválida"
                    },
                    "500": {
                        "description": "Erro interno de serviço."
                    }
                }
            }
        }
    },
    "servers": [
        {
            "url": "https://qqcoisa.todosdobem.com.br/api/login/v1"
        }
    ]
}