{
  "swagger": "2.0",
  "info": {
    "title": "API de Autentica\u00e7\u00e3o",
    "description": "Utilizada para solicitar acesso a servi\u00e7os ",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/abgbruce/api-de_autenticacao/v1/swagger.json",
    "contact": {}
  },
  "host": "qqcoisa.todosdobem.com.br",
  "basePath": "/api/login/v1",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "login",
      "description": "API de autentica\u00e7\u00e3o de usu\u00e1rio."
    }
  ],
  "paths": {
    "/logins/{login}/tokens": {
      "post": {
        "tags": [
          "login"
        ],
        "summary": "Autentica\u00e7\u00e3o.",
        "description": "M\u00e9todo de autentica\u00e7\u00e3o para acesso a servi\u00e7os da Empresa",
        "operationId": "validar-Usu-rio",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "login",
            "in": "path",
            "description": "Login informado pelo corretor requisitante.",
            "required": true,
            "type": "string"
          },
          {
            "name": "senha",
            "in": "formData",
            "description": "Senha informada pelo corretor requisitante.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Usu\u00e1rio validado.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Um dos par\u00e2metros ausentes ou URL mal-formada."
          },
          "401": {
            "description": "Combina\u00e7\u00e3o de login+senha inv\u00e1lida"
          },
          "500": {
            "description": "Erro interno de servi\u00e7o."
          }
        }
      }
    }
  }
}
