{
  "openapi": "3.0.3",
  "info": {
    "title": "GoCardless API",
    "version": "2015-07-06",
    "description": "GoCardless API for collecting recurring payments via Direct Debit.",
    "x-jentic-source-url": "https://developer.gocardless.com/api-reference"
  },
  "servers": [
    {
      "url": "https://api.gocardless.com"
    }
  ],
  "paths": {
    "/customers": {
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customers": {
                    "$ref": "#/components/schemas/CustomerCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/CreatedAt"
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/SortField"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/customers/{identity}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Get a single customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateCustomer",
        "summary": "Update a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customers": {
                    "$ref": "#/components/schemas/CustomerCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "removeCustomer",
        "summary": "Remove a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customer_bank_accounts": {
      "post": {
        "operationId": "createCustomerBankAccount",
        "summary": "Create a customer bank account",
        "tags": [
          "Customer Bank Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer_bank_accounts": {
                    "$ref": "#/components/schemas/CustomerBankAccountCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer bank account created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer_bank_accounts": {
                      "$ref": "#/components/schemas/CustomerBankAccount"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listCustomerBankAccounts",
        "summary": "List customer bank accounts",
        "tags": [
          "Customer Bank Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of customer bank accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer_bank_accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerBankAccount"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/customer_bank_accounts/{identity}": {
      "get": {
        "operationId": "getCustomerBankAccount",
        "summary": "Get a single customer bank account",
        "tags": [
          "Customer Bank Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer bank account details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer_bank_accounts": {
                      "$ref": "#/components/schemas/CustomerBankAccount"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateCustomerBankAccount",
        "summary": "Update a customer bank account",
        "tags": [
          "Customer Bank Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer_bank_accounts": {
                    "$ref": "#/components/schemas/CustomerBankAccountCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer bank account updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer_bank_accounts": {
                      "$ref": "#/components/schemas/CustomerBankAccount"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customer_bank_accounts/{identity}/actions/disable": {
      "post": {
        "operationId": "disableCustomerBankAccount",
        "summary": "Disable a customer bank account",
        "tags": [
          "Customer Bank Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer bank account disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer_bank_accounts": {
                      "$ref": "#/components/schemas/CustomerBankAccount"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/mandates": {
      "post": {
        "operationId": "createMandate",
        "summary": "Create a mandate",
        "tags": [
          "Mandates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mandates": {
                    "$ref": "#/components/schemas/MandateCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mandate created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mandates": {
                      "$ref": "#/components/schemas/Mandate"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listMandates",
        "summary": "List mandates",
        "tags": [
          "Mandates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "customer",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customer_bank_account",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheme",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of mandates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mandates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Mandate"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/mandates/{identity}": {
      "get": {
        "operationId": "getMandate",
        "summary": "Get a single mandate",
        "tags": [
          "Mandates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Mandate details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mandates": {
                      "$ref": "#/components/schemas/Mandate"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateMandate",
        "summary": "Update a mandate",
        "tags": [
          "Mandates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mandates": {
                    "$ref": "#/components/schemas/MandateCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mandate updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mandates": {
                      "$ref": "#/components/schemas/Mandate"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/mandates/{identity}/actions/cancel": {
      "post": {
        "operationId": "cancelMandate",
        "summary": "Cancel a mandate",
        "tags": [
          "Mandates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Mandate cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mandates": {
                      "$ref": "#/components/schemas/Mandate"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/mandates/{identity}/actions/reinstate": {
      "post": {
        "operationId": "reinstateMandate",
        "summary": "Reinstate a mandate",
        "tags": [
          "Mandates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Mandate reinstated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mandates": {
                      "$ref": "#/components/schemas/Mandate"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/payments": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create a payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payments": {
                    "$ref": "#/components/schemas/PaymentCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payments": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listPayments",
        "summary": "List payments",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/CreatedAt"
          },
          {
            "$ref": "#/components/parameters/SortField"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          },
          {
            "name": "customer",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mandate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "charge_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payment"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payments/{identity}": {
      "get": {
        "operationId": "getPayment",
        "summary": "Get a single payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payments": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updatePayment",
        "summary": "Update a payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payments": {
                    "$ref": "#/components/schemas/PaymentCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payments": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/payments/{identity}/actions/cancel": {
      "post": {
        "operationId": "cancelPayment",
        "summary": "Cancel a payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payments": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/payments/{identity}/actions/retry": {
      "post": {
        "operationId": "retryPayment",
        "summary": "Retry a payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment retried",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payments": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/subscriptions": {
      "post": {
        "operationId": "createSubscription",
        "summary": "Create a subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscriptions": {
                    "$ref": "#/components/schemas/SubscriptionCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listSubscriptions",
        "summary": "List subscriptions",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscription"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscriptions/{identity}": {
      "get": {
        "operationId": "getSubscription",
        "summary": "Get a single subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateSubscription",
        "summary": "Update a subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscriptions": {
                    "$ref": "#/components/schemas/SubscriptionCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/subscriptions/{identity}/actions/cancel": {
      "post": {
        "operationId": "cancelSubscription",
        "summary": "Cancel a subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/subscriptions/{identity}/actions/pause": {
      "post": {
        "operationId": "pauseSubscription",
        "summary": "Pause a subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription paused",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/subscriptions/{identity}/actions/resume": {
      "post": {
        "operationId": "resumeSubscription",
        "summary": "Resume a subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription resumed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/payouts": {
      "get": {
        "operationId": "listPayouts",
        "summary": "List payouts",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payout_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payouts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payouts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payout"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payouts/{identity}": {
      "get": {
        "operationId": "getPayout",
        "summary": "Get a single payout",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Payout details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payouts": {
                      "$ref": "#/components/schemas/Payout"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/payout_items": {
      "get": {
        "operationId": "listPayoutItems",
        "summary": "List payout items",
        "tags": [
          "Payout Items"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "payout",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the payout to list items for"
          }
        ],
        "responses": {
          "200": {
            "description": "List of payout items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payout_items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PayoutItem"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/refunds": {
      "post": {
        "operationId": "createRefund",
        "summary": "Create a refund",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refunds": {
                    "$ref": "#/components/schemas/RefundCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refunds": {
                      "$ref": "#/components/schemas/Refund"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listRefunds",
        "summary": "List refunds",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refunds": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Refund"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/refunds/{identity}": {
      "get": {
        "operationId": "getRefund",
        "summary": "Get a single refund",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Refund details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refunds": {
                      "$ref": "#/components/schemas/Refund"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateRefund",
        "summary": "Update a refund",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refunds": {
                    "$ref": "#/components/schemas/RefundCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refunds": {
                      "$ref": "#/components/schemas/Refund"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/CreatedAt"
          },
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/events/{identity}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get a single event",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/redirect_flows": {
      "post": {
        "operationId": "createRedirectFlow",
        "summary": "Create a redirect flow",
        "tags": [
          "Redirect Flows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "redirect_flows": {
                    "$ref": "#/components/schemas/RedirectFlowCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redirect flow created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "redirect_flows": {
                      "$ref": "#/components/schemas/RedirectFlow"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/redirect_flows/{identity}": {
      "get": {
        "operationId": "getRedirectFlow",
        "summary": "Get a single redirect flow",
        "tags": [
          "Redirect Flows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Redirect flow details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "redirect_flows": {
                      "$ref": "#/components/schemas/RedirectFlow"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/redirect_flows/{identity}/actions/complete": {
      "post": {
        "operationId": "completeRedirectFlow",
        "summary": "Complete a redirect flow",
        "tags": [
          "Redirect Flows"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "session_token": {
                        "type": "string",
                        "description": "The session token used when creating the redirect flow"
                      }
                    },
                    "required": [
                      "session_token"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redirect flow completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "redirect_flows": {
                      "$ref": "#/components/schemas/RedirectFlow"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/creditor_bank_accounts": {
      "post": {
        "operationId": "createCreditorBankAccount",
        "summary": "Create a creditor bank account",
        "tags": [
          "Creditor Bank Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "creditor_bank_accounts": {
                    "$ref": "#/components/schemas/CreditorBankAccountCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creditor bank account created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditor_bank_accounts": {
                      "$ref": "#/components/schemas/CreditorBankAccount"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listCreditorBankAccounts",
        "summary": "List creditor bank accounts",
        "tags": [
          "Creditor Bank Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of creditor bank accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditor_bank_accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreditorBankAccount"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/creditor_bank_accounts/{identity}": {
      "get": {
        "operationId": "getCreditorBankAccount",
        "summary": "Get a single creditor bank account",
        "tags": [
          "Creditor Bank Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Creditor bank account details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditor_bank_accounts": {
                      "$ref": "#/components/schemas/CreditorBankAccount"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/creditor_bank_accounts/{identity}/actions/disable": {
      "post": {
        "operationId": "disableCreditorBankAccount",
        "summary": "Disable a creditor bank account",
        "tags": [
          "Creditor Bank Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Creditor bank account disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditor_bank_accounts": {
                      "$ref": "#/components/schemas/CreditorBankAccount"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/creditors": {
      "get": {
        "operationId": "listCreditors",
        "summary": "List creditors",
        "tags": [
          "Creditors"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of creditors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Creditor"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/creditors/{identity}": {
      "get": {
        "operationId": "getCreditor",
        "summary": "Get a single creditor",
        "tags": [
          "Creditors"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Creditor details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditors": {
                      "$ref": "#/components/schemas/Creditor"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateCreditor",
        "summary": "Update a creditor",
        "tags": [
          "Creditors"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "creditors": {
                    "$ref": "#/components/schemas/CreditorUpdateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creditor updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditors": {
                      "$ref": "#/components/schemas/Creditor"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhook_endpoints": {
      "post": {
        "operationId": "createWebhookEndpoint",
        "summary": "Create a webhook endpoint",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhook_endpoints": {
                    "$ref": "#/components/schemas/WebhookEndpointCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook_endpoints": {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listWebhookEndpoints",
        "summary": "List webhook endpoints",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhook endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook_endpoints": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookEndpoint"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/webhook_endpoints/{identity}": {
      "get": {
        "operationId": "getWebhookEndpoint",
        "summary": "Get a single webhook endpoint",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook_endpoints": {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateWebhookEndpoint",
        "summary": "Update a webhook endpoint",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhook_endpoints": {
                    "$ref": "#/components/schemas/WebhookEndpointCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook_endpoints": {
                      "$ref": "#/components/schemas/WebhookEndpoint"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhookEndpoint",
        "summary": "Delete a webhook endpoint",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bank_authorisations": {
      "post": {
        "operationId": "createBankAuthorisation",
        "summary": "Create a bank authorisation",
        "tags": [
          "Bank Authorisations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bank_authorisations": {
                    "$ref": "#/components/schemas/BankAuthorisationCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank authorisation created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bank_authorisations": {
                      "$ref": "#/components/schemas/BankAuthorisation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/bank_authorisations/{identity}": {
      "get": {
        "operationId": "getBankAuthorisation",
        "summary": "Get a single bank authorisation",
        "tags": [
          "Bank Authorisations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Bank authorisation details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bank_authorisations": {
                      "$ref": "#/components/schemas/BankAuthorisation"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/billing_requests": {
      "post": {
        "operationId": "createBillingRequest",
        "summary": "Create a billing request",
        "tags": [
          "Billing Requests"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "billing_requests": {
                    "$ref": "#/components/schemas/BillingRequestCreateRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing request created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "billing_requests": {
                      "$ref": "#/components/schemas/BillingRequest"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listBillingRequests",
        "summary": "List billing requests",
        "tags": [
          "Billing Requests"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of billing requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "billing_requests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BillingRequest"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/billing_requests/{identity}": {
      "get": {
        "operationId": "getBillingRequest",
        "summary": "Get a single billing request",
        "tags": [
          "Billing Requests"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Billing request details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "billing_requests": {
                      "$ref": "#/components/schemas/BillingRequest"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/billing_requests/{identity}/actions/choose_currency": {
      "post": {
        "operationId": "chooseCurrencyForBillingRequest",
        "summary": "Choose currency for a billing request",
        "tags": [
          "Billing Requests"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "ISO 4217 currency code"
                      }
                    },
                    "required": [
                      "currency"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Currency chosen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "billing_requests": {
                      "$ref": "#/components/schemas/BillingRequest"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/billing_requests/{identity}/actions/confirm_payer_details": {
      "post": {
        "operationId": "confirmPayerDetailsForBillingRequest",
        "summary": "Confirm payer details for a billing request",
        "tags": [
          "Billing Requests"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "payer_requested_dual_signature": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payer details confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "billing_requests": {
                      "$ref": "#/components/schemas/BillingRequest"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/billing_requests/{identity}/actions/fulfil": {
      "post": {
        "operationId": "fulfilBillingRequest",
        "summary": "Fulfil a billing request",
        "tags": [
          "Billing Requests"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Billing request fulfilled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "billing_requests": {
                      "$ref": "#/components/schemas/BillingRequest"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/billing_requests/{identity}/actions/cancel": {
      "post": {
        "operationId": "cancelBillingRequest",
        "summary": "Cancel a billing request",
        "tags": [
          "Billing Requests"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "$ref": "#/components/parameters/Identity"
          }
        ],
        "responses": {
          "200": {
            "description": "Billing request cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "billing_requests": {
                      "$ref": "#/components/schemas/BillingRequest"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/institutions": {
      "get": {
        "operationId": "listInstitutions",
        "summary": "List institutions",
        "tags": [
          "Institutions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GoCardlessVersion"
          },
          {
            "name": "country_code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 alpha-2 country code"
          }
        ],
        "responses": {
          "200": {
            "description": "List of institutions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "institutions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Institution"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token passed as a Bearer token in the Authorization header"
      }
    },
    "parameters": {
      "GoCardlessVersion": {
        "name": "GoCardless-Version",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "default": "2015-07-06"
        },
        "description": "Version of the GoCardless API"
      },
      "Identity": {
        "name": "identity",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Unique identifier of the resource"
      },
      "After": {
        "name": "after",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Cursor for pagination (ID of the object after which results start)"
      },
      "Before": {
        "name": "before",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Cursor for pagination (ID of the object before which results end)"
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 500,
          "default": 50
        },
        "description": "Number of records to return"
      },
      "CreatedAt": {
        "name": "created_at",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Filter by creation date (e.g. created_at[gte]=2015-01-01T00:00:00Z)"
      },
      "SortField": {
        "name": "sort_field",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "created_at"
          ]
        },
        "description": "Field to sort by"
      },
      "SortDirection": {
        "name": "sort_direction",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ]
        },
        "description": "Sort direction"
      }
    },
    "schemas": {
      "Meta": {
        "type": "object",
        "properties": {
          "cursors": {
            "type": "object",
            "properties": {
              "before": {
                "type": "string",
                "nullable": true
              },
              "after": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              },
              "errors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "request_pointer": {
                      "type": "string"
                    }
                  }
                }
              },
              "request_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "email": {
            "type": "string"
          },
          "given_name": {
            "type": "string"
          },
          "family_name": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "address_line1": {
            "type": "string"
          },
          "address_line2": {
            "type": "string"
          },
          "address_line3": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "swedish_identity_number": {
            "type": "string"
          },
          "danish_identity_number": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "CustomerCreateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "given_name": {
            "type": "string"
          },
          "family_name": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "address_line1": {
            "type": "string"
          },
          "address_line2": {
            "type": "string"
          },
          "address_line3": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "swedish_identity_number": {
            "type": "string"
          },
          "danish_identity_number": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "CustomerBankAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "account_holder_name": {
            "type": "string"
          },
          "account_number_ending": {
            "type": "string"
          },
          "bank_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "customer": {
                "type": "string"
              }
            }
          }
        }
      },
      "CustomerBankAccountCreateRequest": {
        "type": "object",
        "properties": {
          "account_number": {
            "type": "string"
          },
          "bank_code": {
            "type": "string"
          },
          "branch_code": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "account_holder_name": {
            "type": "string"
          },
          "iban": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "customer": {
                "type": "string"
              }
            }
          }
        }
      },
      "Mandate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_customer_approval",
              "pending_submission",
              "submitted",
              "active",
              "failed",
              "cancelled",
              "expired"
            ]
          },
          "scheme": {
            "type": "string"
          },
          "next_possible_charge_date": {
            "type": "string",
            "format": "date"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "customer_bank_account": {
                "type": "string"
              },
              "creditor": {
                "type": "string"
              },
              "customer": {
                "type": "string"
              }
            }
          }
        }
      },
      "MandateCreateRequest": {
        "type": "object",
        "properties": {
          "scheme": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "customer_bank_account": {
                "type": "string"
              }
            },
            "required": [
              "customer_bank_account"
            ]
          }
        },
        "required": [
          "links"
        ]
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "amount": {
            "type": "integer",
            "description": "Amount in the smallest currency unit (e.g. pence for GBP)"
          },
          "currency": {
            "type": "string"
          },
          "charge_date": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_customer_approval",
              "pending_submission",
              "submitted",
              "confirmed",
              "paid_out",
              "cancelled",
              "customer_approval_denied",
              "failed",
              "charged_back"
            ]
          },
          "amount_refunded": {
            "type": "integer"
          },
          "retry_if_possible": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "mandate": {
                "type": "string"
              },
              "subscription": {
                "type": "string"
              },
              "creditor": {
                "type": "string"
              },
              "payout": {
                "type": "string"
              }
            }
          }
        }
      },
      "PaymentCreateRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "links"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Amount in the smallest currency unit"
          },
          "currency": {
            "type": "string"
          },
          "charge_date": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "retry_if_possible": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "mandate": {
                "type": "string"
              }
            },
            "required": [
              "mandate"
            ]
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_customer_approval",
              "customer_approval_denied",
              "active",
              "finished",
              "cancelled",
              "paused"
            ]
          },
          "name": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "interval": {
            "type": "integer"
          },
          "interval_unit": {
            "type": "string",
            "enum": [
              "weekly",
              "monthly",
              "yearly"
            ]
          },
          "day_of_month": {
            "type": "integer"
          },
          "month": {
            "type": "string",
            "enum": [
              "january",
              "february",
              "march",
              "april",
              "may",
              "june",
              "july",
              "august",
              "september",
              "october",
              "november",
              "december"
            ]
          },
          "count": {
            "type": "integer"
          },
          "payment_reference": {
            "type": "string"
          },
          "app_fee": {
            "type": "integer"
          },
          "upcoming_payments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "charge_date": {
                  "type": "string",
                  "format": "date"
                },
                "amount": {
                  "type": "integer"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "mandate": {
                "type": "string"
              }
            }
          }
        }
      },
      "SubscriptionCreateRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "interval_unit",
          "links"
        ],
        "properties": {
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "interval_unit": {
            "type": "string",
            "enum": [
              "weekly",
              "monthly",
              "yearly"
            ]
          },
          "interval": {
            "type": "integer"
          },
          "day_of_month": {
            "type": "integer"
          },
          "month": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "name": {
            "type": "string"
          },
[...]
