{
  "openapi": "3.0.3",
  "info": {
    "title": "Fincra Payments API",
    "version": "1.0.0",
    "description": "Fincra provides payment infrastructure APIs for collections, payouts, currency conversions, virtual cards, and identity verification across Africa.",
    "x-jentic-source-url": "https://docs.fincra.com/reference",
    "contact": {
      "name": "Fincra",
      "url": "https://fincra.com"
    }
  },
  "servers": [
    {
      "url": "https://sandboxapi.fincra.com",
      "description": "Sandbox Environment"
    },
    {
      "url": "https://api.fincra.com",
      "description": "Production Environment"
    }
  ],
  "paths": {
    "/profile/business/me": {
      "get": {
        "operationId": "getBusinessInfo",
        "summary": "Get Business Information",
        "description": "Retrieves the unique identifier and details of your business.",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "Business profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile/merchants/me": {
      "get": {
        "operationId": "getMerchantInfo",
        "summary": "Get Merchant Information",
        "description": "Fetches merchant profile and associated business details.",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "Merchant profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallets": {
      "get": {
        "operationId": "getWallets",
        "summary": "Get Wallets",
        "description": "Lists all account balances for a business.",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "businessID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallets list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Wallet"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{walletID}": {
      "get": {
        "operationId": "getWalletBalance",
        "summary": "Get Wallet Balance",
        "description": "Retrieves specific account balance information.",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "walletID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Wallet"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/logs": {
      "get": {
        "operationId": "getBalanceHistory",
        "summary": "Get Balance History",
        "description": "Fetches all pay-ins and pay-outs on your integration.",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "business",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversions/initiate": {
      "post": {
        "operationId": "initiateConversion",
        "summary": "Initiate Currency Conversion",
        "description": "Converts one supported currency to another.",
        "tags": [
          "Conversions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "business",
                  "quoteReference"
                ],
                "properties": {
                  "business": {
                    "type": "string"
                  },
                  "quoteReference": {
                    "type": "string"
                  },
                  "customerReference": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversions/reference/{conversionReference}": {
      "get": {
        "operationId": "getConversionStatus",
        "summary": "Get Conversion Status",
        "description": "Fetches specific conversion performed by business.",
        "tags": [
          "Conversions"
        ],
        "parameters": [
          {
            "name": "conversionReference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversions": {
      "get": {
        "operationId": "listConversions",
        "summary": "List All Conversions",
        "description": "Lists all conversions performed by a business.",
        "tags": [
          "Conversions"
        ],
        "parameters": [
          {
            "name": "business",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversions list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConversionResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/core/bvn-verification": {
      "post": {
        "operationId": "verifyBvn",
        "summary": "BVN Verification",
        "description": "Verifies bank verification numbers (Nigeria).",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bvn",
                  "business"
                ],
                "properties": {
                  "bvn": {
                    "type": "string",
                    "minLength": 11,
                    "maxLength": 11
                  },
                  "business": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BVN verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "dateOfBirth": {
                          "type": "string"
                        },
                        "phoneNumber": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/core/accounts/resolve": {
      "post": {
        "operationId": "resolveAccount",
        "summary": "Resolve Account Number",
        "description": "Validates bank accounts across multiple formats.",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "accountNumber": {
                    "type": "string"
                  },
                  "bankCode": {
                    "type": "string"
                  },
                  "iban": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account resolution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accountNumber": {
                          "type": "string"
                        },
                        "accountName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/quotes/treasury-orders/rates": {
      "get": {
        "operationId": "getExchangeRates",
        "summary": "Get Exchange Rates",
        "description": "Fetches current exchange rates.",
        "tags": [
          "Rates"
        ],
        "responses": {
          "200": {
            "description": "Exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/checkout/payments": {
      "post": {
        "operationId": "initiateCheckout",
        "summary": "Initiate Checkout",
        "description": "Creates hosted checkout link for payment collection.",
        "tags": [
          "Checkout"
        ],
        "parameters": [
          {
            "name": "x-pub-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-business-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/checkout/payments/merchant-reference/{reference}": {
      "get": {
        "operationId": "verifyCheckoutPayment",
        "summary": "Verify Checkout Payment",
        "description": "Verifies checkout transaction status.",
        "tags": [
          "Checkout"
        ],
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-business-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile/customers": {
      "post": {
        "operationId": "createVirtualCardCustomer",
        "summary": "Create Virtual Card Customer",
        "description": "Establishes a virtual card customer account.",
        "tags": [
          "Virtual Cards"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualCardCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "cid": {
                          "type": "string"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile/issuing": {
      "post": {
        "operationId": "createVirtualCard",
        "summary": "Create Virtual Card",
        "description": "Issues a new virtual card for a customer.",
        "tags": [
          "Virtual Cards"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cid",
                  "business",
                  "currency",
                  "brand",
                  "type"
                ],
                "properties": {
                  "cid": {
                    "type": "string"
                  },
                  "business": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "brand": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "chargeCurrency": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Virtual card created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualCardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile/issuing/{id}/fund": {
      "post": {
        "operationId": "fundVirtualCard",
        "summary": "Fund Virtual Card",
        "description": "Adds funds to a virtual card balance.",
        "tags": [
          "Virtual Cards"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "business",
                  "amount",
                  "chargeCurrency"
                ],
                "properties": {
                  "business": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "chargeCurrency": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card funded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile/business/{businessId}/sub-accounts": {
      "get": {
        "operationId": "listSubAccounts",
        "summary": "List Sub-Accounts",
        "description": "Retrieves all sub-accounts for a business.",
        "tags": [
          "Sub-Accounts"
        ],
        "parameters": [
          {
            "name": "businessId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sub-accounts list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSubAccount",
        "summary": "Create Sub-Account",
        "description": "Creates a subsidiary account for a business.",
        "tags": [
          "Sub-Accounts"
        ],
        "parameters": [
          {
            "name": "businessId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "mobile": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sub-account created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "API key passed in the api-key header"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "BusinessProfile": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "kycStatus": {
                "type": "string"
              }
            }
          }
        }
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "ledgerBalance": {
            "type": "number"
          },
          "availableBalance": {
            "type": "number"
          },
          "lockedBalance": {
            "type": "number"
          }
        }
      },
      "ConversionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "conversionReference": {
                "type": "string"
              },
              "sourceCurrency": {
                "type": "string"
              },
              "destinationCurrency": {
                "type": "string"
              },
              "sourceAmount": {
                "type": "number"
              },
              "destinationAmount": {
                "type": "number"
              },
              "rate": {
                "type": "number"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": [
          "currency",
          "amount",
          "customer"
        ],
        "properties": {
          "currency": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "customer": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "phoneNumber": {
                "type": "string"
              }
            }
          },
          "paymentMethods": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reference": {
            "type": "string"
          },
          "feeBearer": {
            "type": "string"
          },
          "redirectUrl": {
            "type": "string",
            "format": "uri"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "hostedLink": {
                "type": "string",
                "format": "uri"
              },
              "reference": {
                "type": "string"
              },
              "paymentCode": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "VirtualCardCustomerRequest": {
        "type": "object",
        "required": [
          "identifier",
          "business",
          "email",
          "firstName",
          "lastName"
        ],
        "properties": {
          "identifier": {
            "type": "string"
          },
          "business": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "dob": {
            "type": "string",
            "format": "date"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "object"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "VirtualCardResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "pan": {
                "type": "string"
              },
              "cvv": {
                "type": "string"
              },
              "expiryMonth": {
                "type": "string"
              },
              "expiryYear": {
                "type": "string"
              },
              "maskedNumber": {
                "type": "string"
              },
              "brand": {
                "type": "string"
              },
              "currency": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Profile",
      "description": "Business and merchant profile operations"
    },
    {
      "name": "Wallets",
      "description": "Balance and wallet operations"
    },
    {
      "name": "Conversions",
      "description": "Currency conversion operations"
    },
    {
      "name": "Identity",
      "description": "Identity verification operations"
    },
    {
      "name": "Checkout",
      "description": "Payment checkout operations"
    },
    {
      "name": "Virtual Cards",
      "description": "Virtual card operations"
    },
    {
      "name": "Sub-Accounts",
      "description": "Sub-account management"
    },
    {
      "name": "Rates",
      "description": "Exchange rate operations"
    }
  ]
}