{
  "openapi": "3.0.3",
  "info": {
    "title": "Anura Reporting API",
    "description": "Anura Reporting API for ad fraud detection analytics. Provides reporting on sessions, browsers, geography, networks, and more. All requests use HTTP POST. Date-specific requests are limited to a 7-day rolling time frame (31 days for Overview endpoints).",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.anura.io"
  },
  "servers": [
    {
      "url": "https://api.anura.io/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/interface/instances": {
      "post": {
        "operationId": "listinstances",
        "summary": "List instances",
        "description": "Retrieves instances linked to your API token.",
        "tags": [
          "Interface"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "API authentication token"
                  },
                  "name": {
                    "type": "string",
                    "description": "Filter by instance name (broad match)"
                  },
                  "all": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include 'All Instances' result"
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Result page number"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 20,
                    "maximum": 1000,
                    "description": "Number of results to return"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of instances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterfaceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or date range exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/interface/sources": {
      "post": {
        "operationId": "listsources",
        "summary": "List sources",
        "description": "Retrieves sources with optional filtering by instance and date range.",
        "tags": [
          "Interface"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "API authentication token"
                  },
                  "start": {
                    "type": "integer",
                    "description": "Start date in YYYYMMDD format"
                  },
                  "end": {
                    "type": "integer",
                    "description": "End date in YYYYMMDD format"
                  },
                  "instance": {
                    "type": "string",
                    "description": "Filter by instance ID"
                  },
                  "source": {
                    "type": "string",
                    "description": "Filter by source (broad match)"
                  },
                  "all": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include 'All Sources' aggregate"
                  },
                  "page": {
                    "type": "integer",
                    "default": 1
                  },
                  "limit": {
                    "type": "integer",
                    "default": 20,
                    "maximum": 1000
                  }
                },
                "required": [
                  "token",
                  "start",
                  "end"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterfaceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/interface/campaigns": {
      "post": {
        "operationId": "listcampaigns",
        "summary": "List campaigns",
        "description": "Retrieves campaigns with optional filtering.",
        "tags": [
          "Interface"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "API authentication token"
                  },
                  "start": {
                    "type": "integer",
                    "description": "Start date in YYYYMMDD format"
                  },
                  "end": {
                    "type": "integer",
                    "description": "End date in YYYYMMDD format"
                  },
                  "instance": {
                    "type": "string",
                    "description": "Filter by instance ID"
                  },
                  "source": {
                    "type": "string",
                    "description": "Filter by source"
                  },
                  "campaign": {
                    "type": "string",
                    "description": "Filter by campaign (broad match)"
                  },
                  "all": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include 'All Campaigns' result"
                  },
                  "page": {
                    "type": "integer",
                    "default": 1
                  },
                  "limit": {
                    "type": "integer",
                    "default": 20,
                    "maximum": 1000
                  }
                },
                "required": [
                  "token",
                  "start",
                  "end"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterfaceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/script/sessions": {
      "post": {
        "operationId": "getscriptsessions",
        "summary": "Get script session analytics",
        "description": "Returns session analytics data for script-based tracking.",
        "tags": [
          "Script"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/script/browsers": {
      "post": {
        "operationId": "getscriptbrowsers",
        "summary": "Get script browser analytics",
        "tags": [
          "Script"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Browser analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/script/geography": {
      "post": {
        "operationId": "getscriptgeography",
        "summary": "Get script geography analytics",
        "tags": [
          "Script"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Geography analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/script/networks": {
      "post": {
        "operationId": "getscriptnetworks",
        "summary": "Get script network analytics",
        "tags": [
          "Script"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Network analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/direct/sessions": {
      "post": {
        "operationId": "getdirectsessions",
        "summary": "Get direct session analytics",
        "tags": [
          "Direct"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/direct/browsers": {
      "post": {
        "operationId": "getdirectbrowsers",
        "summary": "Get direct browser analytics",
        "tags": [
          "Direct"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Browser analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/direct/geography": {
      "post": {
        "operationId": "getdirectgeography",
        "summary": "Get direct geography analytics",
        "tags": [
          "Direct"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Geography analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    },
    "/direct/networks": {
      "post": {
        "operationId": "getdirectnetworks",
        "summary": "Get direct network analytics",
        "tags": [
          "Direct"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Network analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiToken": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API token created and managed through the Anura Dashboard at https://dashboard.anura.io/api"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "ReportingRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "API authentication token"
          },
          "start": {
            "type": "integer",
            "description": "Start date in YYYYMMDD format"
          },
          "end": {
            "type": "integer",
            "description": "End date in YYYYMMDD format"
          },
          "instance": {
            "type": "string",
            "description": "Filter by instance ID"
          },
          "source": {
            "type": "string",
            "description": "Filter by source"
          },
          "campaign": {
            "type": "string",
            "description": "Filter by campaign"
          },
          "chart": {
            "type": "boolean",
            "default": false,
            "description": "Include daily breakdown"
          },
          "rates": {
            "type": "boolean",
            "default": false,
            "description": "Add percentage calculations"
          },
          "rules": {
            "type": "boolean",
            "default": false,
            "description": "Show violated rule sets"
          },
          "search": {
            "type": "string",
            "description": "Filter first column using broad matching"
          },
          "startswith": {
            "type": "boolean",
            "default": false,
            "description": "Return only results matching search prefix"
          },
          "sort": {
            "type": "string",
            "description": "Sort specification (max 3, comma-separated). Format: column:asc|desc"
          },
          "page": {
            "type": "integer",
            "default": 1,
            "description": "Result page number"
          },
          "limit": {
            "type": "integer",
            "default": 20,
            "maximum": 1000,
            "description": "Number of results per response"
          }
        },
        "required": [
          "token",
          "start",
          "end"
        ]
      },
      "InterfaceResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "ReportingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of reporting data records"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ],
  "tags": [
    {
      "name": "Direct",
      "description": "Operations related to Direct"
    },
    {
      "name": "Interface",
      "description": "Operations related to Interface"
    },
    {
      "name": "Script",
      "description": "Operations related to Script"
    }
  ]
}