{
  "openapi": "3.0.3",
  "info": {
    "title": "CleverReach API",
    "description": "CleverReach email marketing REST API for managing clients, groups, receivers, mailings, blacklists, and forms.",
    "version": "3.0.0",
    "x-jentic-source-url": "https://rest.cleverreach.com/explorer/v3/"
  },
  "servers": [
    {
      "url": "https://rest.cleverreach.com",
      "description": "CleverReach REST API"
    }
  ],
  "paths": {
    "/v3/clients/{id}/receivercount": {
      "get": {
        "operationId": "getClientReceiverCount",
        "summary": "Get receiver count for a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Receiver count retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/clients/{id}/activereceivercount": {
      "get": {
        "operationId": "getClientActiveReceiverCount",
        "summary": "Get active receiver count for a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Active receiver count retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/clients/{id}/contingent": {
      "get": {
        "operationId": "getClientContingent",
        "summary": "Get available mail sending quota",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contingent retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContingentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/clients/{id}/invoiceaddress": {
      "get": {
        "operationId": "getClientInvoiceAddress",
        "summary": "Get client billing address",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice address retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceAddress"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/clients/{id}/nextinvoicedate": {
      "get": {
        "operationId": "getClientNextInvoiceDate",
        "summary": "Get next invoice date",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Next invoice date retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_invoice_date": {
                      "type": "integer",
                      "description": "Unix timestamp of next invoice date"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/clients/{id}/plan": {
      "get": {
        "operationId": "getClientPlan",
        "summary": "Get current subscription plan name",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Plan name retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plan": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/clients/createAccount": {
      "post": {
        "operationId": "createClientAccount",
        "summary": "Create a new account within an agency",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/blacklist/validate": {
      "post": {
        "operationId": "validateBlacklist",
        "summary": "Filter list of emails to valid ones",
        "tags": [
          "Blacklist"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                },
                "required": [
                  "emails"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validated email list returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/blacklist": {
      "put": {
        "operationId": "updateBlacklist",
        "summary": "Update blacklist entry",
        "tags": [
          "Blacklist"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlacklistEntry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blacklist entry updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntry"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/forms/{group_id}/createfromtemplate/{type}": {
      "post": {
        "operationId": "createFormFromTemplate",
        "summary": "Generate form from template",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Form"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/receivers/bounced": {
      "get": {
        "operationId": "getBouncedReceivers",
        "summary": "Retrieve all bounced messages",
        "tags": [
          "Receivers"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bounced receivers retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BounceRecord"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/receivers/{id}/clone": {
      "post": {
        "operationId": "cloneReceiver",
        "summary": "Duplicate receiver with a new email",
        "tags": [
          "Receivers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ReceiverId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receiver cloned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Receiver"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/receivers/{id}/email": {
      "put": {
        "operationId": "updateReceiverEmail",
        "summary": "Update receiver email address",
        "tags": [
          "Receivers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ReceiverId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receiver email updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Receiver"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/receivers/{pool_id}/orders/{id}": {
      "put": {
        "operationId": "updateOrder",
        "summary": "Update an order item",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "pool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/mailings": {
      "post": {
        "operationId": "createMailing",
        "summary": "Create a new mailing",
        "tags": [
          "Mailings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MailingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mailing created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailing"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/mailings/{id}": {
      "put": {
        "operationId": "updateMailing",
        "summary": "Update a mailing",
        "tags": [
          "Mailings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MailingId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MailingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mailing updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailing"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/mailings/template": {
      "post": {
        "operationId": "createMailingFromTemplate",
        "summary": "Create a template-based mailing",
        "tags": [
          "Mailings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MailingTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template mailing created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailing"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/mailings/{id}/release": {
      "post": {
        "operationId": "releaseMailing",
        "summary": "Release a mailing for sending",
        "tags": [
          "Mailings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MailingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Mailing released successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/mailings/{id}/stop": {
      "post": {
        "operationId": "stopMailing",
        "summary": "Stop an unreleased mailing",
        "tags": [
          "Mailings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MailingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Mailing stopped successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/groups/{id}/clear": {
      "delete": {
        "operationId": "clearGroup",
        "summary": "Remove all members from a group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "Group cleared successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/groups/{group_id}/receivers/upsertplus": {
      "post": {
        "operationId": "upsertPlusReceivers",
        "summary": "Insert or update receivers with value manipulation",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertPlusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receivers upserted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpsertResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v3/groups/{id}/get_receivers": {
      "post": {
        "operationId": "getGroupReceivers",
        "summary": "Retrieve group receivers (supports large payloads)",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receivers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Receiver"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.0 Bearer token or JWT token"
      }
    },
    "parameters": {
      "ClientId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Client ID"
      },
      "GroupId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Group ID"
      },
      "ReceiverId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Receiver ID"
      },
      "MailingId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Mailing ID"
      }
    },
    "schemas": {
      "CountResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          }
        }
      },
      "ContingentResponse": {
        "type": "object",
        "properties": {
          "contingent": {
            "type": "integer"
          },
          "used": {
            "type": "integer"
          },
          "remaining": {
            "type": "integer"
          }
        }
      },
      "InvoiceAddress": {
        "type": "object",
        "properties": {
          "company": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "CreateAccountRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "company": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "email"
        ]
      },
      "BlacklistEntry": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "Form": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "group_id": {
            "type": "integer"
          }
        }
      },
      "Receiver": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "activated": {
            "type": "integer"
          },
          "registered": {
            "type": "integer"
          },
          "deactivated": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": true
          },
          "global_attributes": {
            "type": "object",
            "additionalProperties": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BounceRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "type": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "mailing_id": {
            "type": "integer"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "order_id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "product": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "price": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "Mailing": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "sender_name": {
            "type": "string"
          },
          "sender_email": {
            "type": "string",
            "format": "email"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "MailingRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "sender_name": {
            "type": "string"
          },
          "sender_email": {
            "type": "string",
            "format": "email"
          },
          "content": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "html": {
                "type": "string"
              },
              "text": {
                "type": "string"
              }
            }
          },
          "receivers": {
            "type": "object",
            "properties": {
              "groups": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "required": [
          "name",
          "subject"
        ]
      },
      "MailingTemplateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "sender_name": {
            "type": "string"
          },
          "sender_email": {
            "type": "string",
            "format": "email"
          },
          "template_id": {
            "type": "integer"
          },
          "receivers": {
            "type": "object",
            "properties": {
              "groups": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "required": [
          "name",
          "subject",
          "template_id"
        ]
      },
      "UpsertPlusRequest": {
        "type": "object",
        "properties": {
          "receivers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Receiver"
            }
          }
        },
        "required": [
          "receivers"
        ]
      },
      "UpsertResult": {
        "type": "object",
        "properties": {
          "inserted": {
            "type": "integer"
          },
          "updated": {
            "type": "integer"
          },
          "duplicates": {
            "type": "integer"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing authentication",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Clients",
      "description": "Client management operations"
    },
    {
      "name": "Groups",
      "description": "Group management operations"
    },
    {
      "name": "Receivers",
      "description": "Receiver management operations"
    },
    {
      "name": "Mailings",
      "description": "Mailing management operations"
    },
    {
      "name": "Blacklist",
      "description": "Blacklist management operations"
    },
    {
      "name": "Forms",
      "description": "Form management operations"
    },
    {
      "name": "Orders",
      "description": "Order management operations"
    }
  ]
}