{
  "openapi": "3.0.3",
  "info": {
    "title": "Chatlayer API",
    "version": "1.0.0",
    "description": "Chatlayer API provides access to Tables and Customers data. Tables allow storing and querying structured data for chatbots, while Customers API allows managing customer profiles with filtering support.",
    "x-jentic-source-url": "https://docs.chatlayer.ai/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://gateway.prod.europe-west1.gc.chatlayer.ai",
      "description": "EU Production"
    },
    {
      "url": "https://gateway.prod.us-east4.gcp.chatlayer.ai",
      "description": "US Production"
    },
    {
      "url": "https://gateway.prod.sa-east1.gcp.chatlayer.ai",
      "description": "South America Production"
    },
    {
      "url": "https://gateway.prod.asia-south1.gcp.chatlayer.ai",
      "description": "Asia Production"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tables",
      "description": "Manage bot tables and data"
    },
    {
      "name": "Customers",
      "description": "Manage customers"
    }
  ],
  "paths": {
    "/api/v1/teams/{teamId}/bots/{botId}/tables": {
      "get": {
        "operationId": "listTables",
        "summary": "List tables",
        "description": "List all tables for a bot.",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Team ID"
          },
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bot ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tables",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "List of tables",
                      "items": {
                        "$ref": "#/components/schemas/Table"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamId}/bots/{botId}/tables/{tableId}": {
      "get": {
        "operationId": "getTable",
        "summary": "Get table",
        "description": "Get details of a specific table.",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Team ID"
          },
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bot ID"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Table ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Table details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Table"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamId}/bots/{botId}/tables/{tableId}/data": {
      "get": {
        "operationId": "getTableData",
        "summary": "Get table data",
        "description": "Get records stored in a table with pagination support.",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Team ID"
          },
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bot ID"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Table ID"
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "DRAFT",
                "LIVE"
              ]
            },
            "description": "Table version"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Table data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamId}/bots/{botId}/tables/{tableId}/action": {
      "post": {
        "operationId": "performTableAction",
        "summary": "Perform table action",
        "description": "Execute operations (INSERT, SELECT, DELETE, UPDATE) on a table with optional filtering.",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Team ID"
          },
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bot ID"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Table ID"
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "DRAFT",
                "LIVE"
              ]
            },
            "description": "Table version"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams/{teamId}/customers": {
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "description": "List customers for a team with optional filtering and pagination.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Team ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "default": 20
            },
            "description": "Max number of customers per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 1
            },
            "description": "Page of results to return"
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using access token (username:password format from generated token)"
      }
    },
    "schemas": {
      "Table": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "columns",
          "botId"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Table ID"
          },
          "botId": {
            "type": "string",
            "description": "Bot ID"
          },
          "name": {
            "type": "string",
            "description": "Table name"
          },
          "description": {
            "type": "string",
            "description": "Table description"
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableColumn"
            }
          }
        }
      },
      "TableColumn": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Column name"
          },
          "type": {
            "type": "string",
            "description": "Column data type"
          }
        }
      },
      "TableRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "values": {
            "type": "object",
            "description": "Record values",
            "additionalProperties": true
          }
        }
      },
      "TableDataResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "List of records",
            "items": {
              "$ref": "#/components/schemas/TableRecord"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of records"
          },
          "limit": {
            "type": "integer",
            "description": "Number of records per page"
          },
          "offset": {
            "type": "integer",
            "description": "Current offset"
          }
        }
      },
      "TableActionRequest": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "INSERT",
              "SELECT",
              "DELETE",
              "UPDATE"
            ],
            "description": "The action type"
          },
          "skip": {
            "type": "integer",
            "description": "Number of records to skip"
          },
          "limit": {
            "type": "integer",
            "description": "Number of records to return"
          },
          "filters": {
            "type": "array",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/TableFilter"
            }
          },
          "fields": {
            "type": "array",
            "default": [],
            "items": {
              "$ref": "#/components/schemas/TableField"
            }
          }
        }
      },
      "TableFilter": {
        "type": "object",
        "required": [
          "columnName",
          "columnType",
          "operator"
        ],
        "properties": {
          "value": {
            "type": "string",
            "description": "Filter value"
          },
          "columnName": {
            "type": "string",
            "description": "Column name"
          },
          "columnType": {
            "type": "string",
            "enum": [
              "text",
              "int",
              "numeric",
              "uuid",
              "bool",
              "timestamp",
              "jsonb"
            ],
            "description": "Column data type"
          },
          "operator": {
            "type": "string",
            "enum": [
              "eq",
              "=",
              "gt",
              ">",
              "gte",
              ">=",
              "lt",
              "<",
              "lte",
              "<=",
              "in",
              "nin"
            ],
            "description": "Filter operator"
          }
        }
      },
      "TableField": {
        "type": "object",
        "required": [
          "columnName",
          "value"
        ],
        "properties": {
          "value": {
            "type": "string",
            "description": "Column value"
          },
          "columnName": {
            "type": "string",
            "description": "Column name"
          },
          "columnType": {
            "type": "string",
            "enum": [
              "text",
              "int",
              "numeric",
              "uuid",
              "bool",
              "timestamp",
              "jsonb"
            ],
            "description": "Column data type"
          }
        }
      },
      "Customer": {
        "type": "object",
        "required": [
          "id",
          "profile",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Customer ID"
          },
          "profile": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "phone": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Customer creation date"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Customer last update date"
          }
        }
      },
      "CustomersResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Customer"
            },
            "description": "List of customers"
          },
          "meta": {
            "type": "object",
            "required": [
              "total"
            ],
            "properties": {
              "total": {
                "type": "number",
                "minimum": 0,
                "description": "Total number of customers"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "error": {
            "type": "string",
            "description": "Error type"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    }
  }
}
