{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "Rules in the Cloud",
    "title": "Ritc",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/ritc.io/1.0.0/swagger.json",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_664480221534552064_CwdeYGxs_400x400.jpg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "http://www.ritc.io/openapi/ritc.swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "ritc.io"
  },
  "servers": [
    {
      "url": "https://api.ritc.io/"
    }
  ],
  "paths": {
    "/actions": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ActionShortResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of actions in an app"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Actions"
        ],
        "description": "List actions",
        "operationId": "listActions",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionShortResponse"
                }
              }
            },
            "description": "An action was created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Actions"
        ],
        "description": "Create a new action",
        "operationId": "addAction",
        "requestBody": {
          "$ref": "#/components/requestBodies/Action59"
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/actions/{action_id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of action",
            "in": "path",
            "name": "action_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The action was successfully removed"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Actions"
        ],
        "description": "Delete an action",
        "operationId": "removeAction",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "get": {
        "parameters": [
          {
            "description": "Id of action_id",
            "in": "path",
            "name": "action_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ActionFullResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about an action"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Actions"
        ],
        "description": "Get an action",
        "operationId": "getAction",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "patch": {
        "parameters": [
          {
            "description": "Id of user",
            "in": "path",
            "name": "action_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionShortResponse"
                }
              }
            },
            "description": "Information about the action was updated successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Actions"
        ],
        "description": "Update information about a specific action",
        "operationId": "updateAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Action59"
              }
            }
          },
          "description": "Action information",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/admin": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Ritc is up"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "admin"
        ],
        "description": "Ping the server",
        "operationId": "admin",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/admin/log": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Message logged"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "admin"
        ],
        "description": "Log a message",
        "operationId": "logInRitc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "Log message",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/admin/ping": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Ritc is up"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "admin"
        ],
        "description": "Ping the server",
        "operationId": "pingRitc",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/apps": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AppResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of apps in an org"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Get apps information",
        "operationId": "listApps",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              }
            },
            "description": "An app was created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Create a new app",
        "operationId": "addApp",
        "requestBody": {
          "$ref": "#/components/requestBodies/App"
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/apps/channels/users": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AppChannelResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of all channels in an app"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Get app channels",
        "operationId": "listAppChannels",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/apps/channels/{channel_id}/users": {
      "get": {
        "parameters": [
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AppChannelResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about users of a specified channel"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Get users of a specified channel",
        "operationId": "listAppChannelUsers",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/apps/channels/{channel_id}/users/{user_id}": {
      "get": {
        "parameters": [
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Id of User",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AppChannelResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about a specified user of a specified channel"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Get user of a specified channel",
        "operationId": "getAppChannelUser",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "post": {
        "parameters": [
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Id of User",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppChannelResponse"
                }
              }
            },
            "description": "User was assigned to a channel in in app"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Create user channel",
        "operationId": "addAppChannelUser",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/apps/ext/api/credentials": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AppExternalCredentialsResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about external credentials"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Get external credentials",
        "operationId": "listChannelExternalCredentials",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppExternalCredentialsResponse"
                }
              }
            },
            "description": "External credentials created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Create new external credentials",
        "operationId": "addChannelExternalCredentials",
        "requestBody": {
          "$ref": "#/components/requestBodies/AppExternalCredentials"
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/apps/ext/api/credentials/{channel_id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The credentials for a channel were successfully removed"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Delete credentials for a channel",
        "operationId": "removeChannelExternalCredentials",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "get": {
        "parameters": [
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AppExternalCredentialsResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Credentials for a channel in an app"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Get credentials for a channel in an app",
        "operationId": "getChannelExternalCredentials",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "patch": {
        "parameters": [
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppExternalCredentialsResponse"
                }
              }
            },
            "description": "Information about the channel credentials was updated successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Update credentials for a channel",
        "operationId": "updateChannelExternalCredentials",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppExternalCredentials"
              }
            }
          },
          "description": "App_External_Credentials information",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/apps/rulegroup/run/{rule_id_list}": {
      "post": {
        "parameters": [
          {
            "description": "Ids of rules in the group, separated by commas, no spaces",
            "in": "path",
            "name": "rule_id_list",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Do not continue with remaining rules after a rule fires",
            "in": "query",
            "name": "break_when_rule_fires",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RuleResults"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Execution of specified rules in the app (for user #1)"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Run specified rule group in the app",
        "operationId": "runRuleGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "Initial data"
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/apps/rules/run": {
      "post": {
        "parameters": [
          {
            "description": "Do not continue with remaining rules after a rule fires",
            "in": "query",
            "name": "break_when_rule_fires",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RuleResults"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Execution of active rules in the app (for user #1)"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Run active app rules",
        "operationId": "runApp",
        "requestBody": {
          "$ref": "#/components/requestBodies/runRuleGroupInitialData"
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/apps/{app_id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of App",
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The app was successfully removed"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Delete an app",
        "operationId": "removeApp",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "get": {
        "parameters": [
          {
            "description": "Id of App",
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AppResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about an app"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Get app information",
        "operationId": "getApp",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "patch": {
        "parameters": [
          {
            "description": "Id of app",
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              }
            },
            "description": "Information about the app was updated successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Apps"
        ],
        "description": "Update an app",
        "operationId": "updateApp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/App"
              }
            }
          },
          "description": "App information",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/channels": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ChannelResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of channels available to a logged-in user"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "description": "Retrieve Channels",
        "operationId": "listChannels",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelResponse"
                }
              }
            },
            "description": "A private channel was created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "description": "Create a channel",
        "operationId": "addChannel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel"
              }
            }
          },
          "description": "Channel information",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/channels/anonymous": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ChannelResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of channels available to an anonymous user"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "description": "Retrieve Channels anonymously",
        "operationId": "listAnonymousChannels",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/channels/{channel_id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The channel was successfully removed"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "description": "Delete a channel",
        "operationId": "removeChannel",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "get": {
        "parameters": [
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ChannelResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about a channel"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "description": "Get channel information",
        "operationId": "getChannel",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "patch": {
        "parameters": [
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelResponse"
                }
              }
            },
            "description": "Information about the channel was updated successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "description": "Update a channel",
        "operationId": "updateChannel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rule"
              }
            }
          },
          "description": "Channel information",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/channels/{channel_id}/functions": {
      "get": {
        "parameters": [
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FunctionResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of functions available in a channel"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "description": "Retrieve Channel Functions",
        "operationId": "listChannelFunctions",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "post": {
        "parameters": [
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunctionResponse"
                }
              }
            },
            "description": "A private channel function  was created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "description": "Create a channel function",
        "operationId": "addChannelFunction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Function7"
              }
            }
          },
          "description": "Channel Function information",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/channels/{channel_id}/functions/{function_id}": {
      "get": {
        "parameters": [
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Id of Channel Function",
            "in": "path",
            "name": "function_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/FunctionResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about a channel function"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Channels"
        ],
        "description": "Get channel function information",
        "operationId": "getChannelFunction",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/orgs": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrgResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An org was successfully created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Orgs"
        ],
        "description": "Create an org",
        "operationId": "addOrganization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Org"
              }
            }
          },
          "description": "Org information",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/orgs/me": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrgResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about an org"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Orgs"
        ],
        "description": "Get org information",
        "operationId": "getMyOrganization",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/rules": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RuleShortResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of rules in an app"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Rules"
        ],
        "description": "List rules",
        "operationId": "listRules",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleFullResponse"
                }
              }
            },
            "description": "A rule was created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Rules"
        ],
        "description": "Create a new rule",
        "operationId": "addRule",
        "requestBody": {
          "$ref": "#/components/requestBodies/Rule"
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/rules/{rule_id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of rule",
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The rule was successfully removed"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Rules"
        ],
        "description": "Delete a rule",
        "operationId": "removeRule",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "get": {
        "parameters": [
          {
            "description": "Id of rule",
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RuleFullResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about a rule"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Rules"
        ],
        "description": "Get a rule",
        "operationId": "getRule",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "patch": {
        "parameters": [
          {
            "description": "Id of user",
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleFullResponse"
                }
              }
            },
            "description": "Information about the rule was updated successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Rules"
        ],
        "description": "Update information about a specific rule",
        "operationId": "updateRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rule"
              }
            }
          },
          "description": "Rule information",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/rules/{rule_id}/run": {
      "post": {
        "parameters": [
          {
            "description": "Id of rule",
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A rule ran successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Rules"
        ],
        "description": "Run a rule",
        "operationId": "runRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "Initial data"
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/triggers": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TriggerShortResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of triggers in an app"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Triggers"
        ],
        "description": "Triggers in an app",
        "operationId": "listTriggers",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerShortResponse"
                }
              }
            },
            "description": "A trigger was successfully created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Triggers"
        ],
        "description": "Create a new trigger in an app",
        "operationId": "addTrigger",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Trigger54"
              }
            }
          },
          "description": "Trigger parameters and configuration",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/triggers/{trigger_id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of Trigger",
            "in": "path",
            "name": "trigger_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The trigger was successfully removed"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Triggers"
        ],
        "description": "Delete a trigger",
        "operationId": "removeTrigger",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "get": {
        "parameters": [
          {
            "description": "Id of Trigger",
            "in": "path",
            "name": "trigger_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TriggerFullResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about a trigger"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Triggers"
        ],
        "description": "Get a trigger",
        "operationId": "getTrigger",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "patch": {
        "parameters": [
          {
            "description": "Id of user",
            "in": "path",
            "name": "trigger_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerShortResponse"
                }
              }
            },
            "description": "Information about the trigger was updated successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Triggers"
        ],
        "description": "Update a trigger",
        "operationId": "updateTrigger",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Trigger54"
              }
            }
          },
          "description": "Trigger information",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/users": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AppUserResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of App Users in an app"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Users",
        "operationId": "listAppUsers",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserResponse"
                }
              }
            },
            "description": "An App User was created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Create a new App User",
        "operationId": "addAppUser",
        "requestBody": {
          "$ref": "#/components/requestBodies/AppUser"
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/users/admin": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdminUserResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of admin users in an app"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Admin users",
        "operationId": "listAdminUsers",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUserResponse"
                }
              }
            },
            "description": "An admin user was created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Create a new admin user",
        "operationId": "addAdminUser",
        "requestBody": {
          "$ref": "#/components/requestBodies/AdminUser"
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/users/admin/{user_id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of Admin_User",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The admin user was successfully removed"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Remove an admin user",
        "operationId": "removeAdminUser",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "get": {
        "parameters": [
          {
            "description": "Id of Admin_User",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AdminUserResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about an admin user"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Get an admin user",
        "operationId": "getAdminUser",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "patch": {
        "parameters": [
          {
            "description": "Id of user",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUserResponse"
                }
              }
            },
            "description": "Information about the admin user was updated successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Update information about an admin user",
        "operationId": "updateAdminUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUser"
              }
            }
          },
          "description": "Admin User information",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/users/authenticate/{user_id}/channel/{channel_id}": {
      "post": {
        "parameters": [
          {
            "description": "Id of User",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AuthorizeUrlResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Authorize url to be sent an authorize request"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Authenticate a user for a channel",
        "operationId": "authenticateAppUserForChannel",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/users/{user_id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of user",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The user was successfully removed"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Remove a user",
        "operationId": "removeAppUser",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "get": {
        "parameters": [
          {
            "description": "Id of App User",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AppUserResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about an App User"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Get an App User",
        "operationId": "getAppUser",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "patch": {
        "parameters": [
          {
            "description": "Id of user",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserResponse"
                }
              }
            },
            "description": "Information about the user was updated successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Update information about an App User",
        "operationId": "updateAppUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUser"
              }
            }
          },
          "description": "App User information",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/users/{user_id}/channels": {
      "get": {
        "parameters": [
          {
            "description": "Id of user",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/UserChannel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of channels available to a specific user"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Channels available to a User",
        "operationId": "listAppUserChannels",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "post": {
        "parameters": [
          {
            "description": "Id of user",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserChannel"
                }
              }
            },
            "description": "A channel was assigned to a user"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Assign a channel to a user",
        "operationId": "addAppUserToChannel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "description": "Id of Channel",
          "required": true
        },
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/users/{user_id}/channels/{channel_id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of User",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The channel was successfully removed from the user"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Remove a user channel assignment",
        "operationId": "removeAppUserFromChannel",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "get": {
        "parameters": [
          {
            "description": "Id of User",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Id of Channel",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/UserChannel"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about a specific channel for a specific user"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Get a user channel",
        "operationId": "getAppUserChannel",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/users/{user_id}/rules": {
      "get": {
        "parameters": [
          {
            "description": "Id of user",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RuleShortResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of rules applying to a specific user"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Rules for a User",
        "operationId": "listAppUserRules",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/users/{user_id}/rules/{rule_id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of User",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Id of Rule",
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The rule was successfully removed from the system"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Remove a rule user",
        "operationId": "removeAppUserFromRule",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "get": {
        "parameters": [
          {
            "description": "Id of User",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Id of Rule",
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RuleFullResponse"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Detailed information about a rule"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Get a user",
        "operationId": "getAppUserRule",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      },
      "post": {
        "parameters": [
          {
            "description": "Id of User",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Id of Rule",
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleShortResponse"
                }
              }
            },
            "description": "A rule was assigned to the user"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Invalid Input"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "Users"
        ],
        "description": "Assign a user to a rule",
        "operationId": "addAppUserToRule",
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/users/{user_id}/rules/{rule_id}/run": {
      "post": {
        "parameters": [
          {
            "description": "Id of User",
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
[...]
