{
  "openapi": "3.0.0",
  "info": {
    "version": "3.0.0",
    "title": "av_microservice_utils",
    "description": "Microservice containing a number of handy end-points that can be used by other micro-services or 3rd-parties",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/airvantage-team/av_microservice_utils/3.0.0/swagger.json",
    "contact": {}
  },
  "paths": {
    "/getMNO": {
      "get": {
        "operationId": "GET_getMNO",
        "summary": "Returns the associated mobile network operator.",
        "tags": [
          "Subscriber"
        ],
        "description": "Returns the Mobile Network Operator this MSISDN is registered on.",
        "parameters": [
          {
            "$ref": "#/components/parameters/trait_queryParamMsisdn_msisdn"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "detail": {
                      "type": "object",
                      "properties": {
                        "mno": {
                          "type": "string"
                        },
                        "msisdn": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "success": true,
                      "detail": {
                        "mno": "VODACOM",
                        "msisdn": "27796422999"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getRandomMsisdn": {
      "get": {
        "operationId": "GET_getRandomMsisdn",
        "summary": "Returns a random MSISDN based on selection criteria.",
        "tags": [
          "Subscriber"
        ],
        "description": "Returns a random MSISDN based on the constraints given in the query parameters.\n\nTypically, the endpoint will be called with a single number range:\n\n<b>Example:</b> \n\n/getRandomMSISDN<b>?numberRanges</b>=600000000..929999999<b>&countryPrefix</b>=27\n\n\u2192 <font color=red><b>27623108888</b></font> <sup>(See * below)</sup>\n\n\n<B>Note:</b>\nOne can even add multiple ranges to (with equal probability) select a number from the complete set defined by these ranges:\n\n/getRandomMSISDN<b>?numberRanges</b>=600000000..639999999<b>,</b>720000000..749999999<b>&countryPrefix</b>=27\n\n<i>Finally, one can limit the number to that belonging to a certain MNO</i>\n\n/getRandomMSISDN<b>?numberRanges</b>=600000000..929999999<b>&countryPrefix</b>=27<b>&forMNO</b>=MTN\n\nCurrent available options:\nMTN, VODACOM, CELLC, or TELKMOBL\n\n<b>* IMPORTANT NOTE:</b>\n\nThe routine uses the java.security.SecureRandom implementation from Oracle, (see <a href=\"https://docs.oracle.com/javase/8/docs/api/java/security/SecureRandom.html\">explanation</a>).   This algorithm produces a statistically random number in the range of the java <b>int</b> primitive.  It is thus not possible to generate a number larger than <b><i>2,147,483,647</i></b>.  For this reason, it is advised to define the number ranges to the <b><font color=red>right-most 9 digits</font></b>.",
        "parameters": [
          {
            "name": "numberRanges",
            "in": "query",
            "description": "Ranges are in the form of\nnnnnnn..mmmmmm, oooooo..pppppp\n\nNumerous ranges can be defined, separated by commas.\n\nExample:\nnumberRangges=830000000..880000000,720000000..729999999",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryPrefix",
            "in": "query",
            "description": "Number/String to prepend the generated number with.\n\nExample: countryPrefix=27\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forMNO",
            "in": "query",
            "description": "If present, will only return a random number from set Mobile Network Operator\n\nValues:\nMTN, VODACOM, CELLC, or TELKMOBL\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "detail": {
                      "type": "object",
                      "properties": {
                        "msisdn": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "success": true,
                      "detail": {
                        "msisdn": "27824564856"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Subscriber"
    }
  ],
  "servers": [
    {
      "url": "http://airvantage.donotuse.com/av_microservice_utils"
    },
    {
      "url": "https://airvantage.donotuse.com/av_microservice_utils"
    }
  ],
  "components": {
    "parameters": {
      "trait_queryParamMsisdn_msisdn": {
        "name": "msisdn",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 8,
          "maxLength": 13
        }
      }
    }
  }
}
