{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "This is a Native Ads Publisher API it provides same functionality as Native Ads Publisher Account GUI.\n",
    "title": "Native Ads Publisher API",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "marketing"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/nativeads.com/1.0.0/swagger.json",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_api.nativeads.com_docs_publisher_images_nativeads-logo.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://api.nativeads.com/docs/publisher/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "nativeads.com"
  },
  "servers": [
    {
      "url": "https://api.nativeads.com/"
    }
  ],
  "paths": {
    "/auth/default/login": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authResponse"
                }
              }
            },
            "description": "authentication response"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/modelError"
                }
              }
            },
            "description": "error message"
          }
        },
        "tags": [
          "auth"
        ],
        "description": "Returns Native Ads Publisher API token",
        "operationId": "post-auth-default-login",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "password": {
                    "description": "Native Ads Publisher password",
                    "type": "string"
                  },
                  "username": {
                    "description": "Native Ads Publisher username",
                    "type": "string"
                  }
                },
                "required": [
                  "username"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/publisher/reports/daily": {
      "get": {
        "parameters": [
          {
            "description": "Native Ads Publisher API authentication token",
            "in": "query",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "start date in format YYYY-MM-DD",
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "end date in format YYYY-MM-DD",
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "maximum number of results per page",
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "default": 100,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "page number",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reportsDailyResponse"
                }
              }
            },
            "description": "report response"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/modelError"
                }
              }
            },
            "description": "error message"
          }
        },
        "tags": [
          "reports"
        ],
        "description": "Returns publisher statistics split by date",
        "operationId": "get-publisher-reports-daily"
      }
    },
    "/publisher/reports/website": {
      "get": {
        "parameters": [
          {
            "description": "Native Ads Publisher API authentication token",
            "in": "query",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "start date in format YYYY-MM-DD",
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "end date in format YYYY-MM-DD",
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "maximum number of results per page",
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "default": 100,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "page number",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reportsWebsiteResponse"
                }
              }
            },
            "description": "report response"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/modelError"
                }
              }
            },
            "description": "authentication error"
          }
        },
        "tags": [
          "reports"
        ],
        "description": "Returns publisher statistics split by website",
        "operationId": "get-publisher-reports-website"
      }
    },
    "/publisher/reports/widget": {
      "get": {
        "parameters": [
          {
            "description": "Native Ads Publisher API authentication token",
            "in": "query",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "start date in format YYYY-MM-DD",
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "end date in format YYYY-MM-DD",
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "maximum number of results per page",
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "default": 100,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "page number",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reportsWidgetResponse"
                }
              }
            },
            "description": "report response"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/modelError"
                }
              }
            },
            "description": "authentication error"
          }
        },
        "tags": [
          "reports"
        ],
        "description": "Returns publisher statistics split by widget",
        "operationId": "get-publisher-reports-widget"
      }
    }
  },
  "components": {
    "schemas": {
      "authResponse": {
        "properties": {
          "success": {
            "type": "boolean"
          },
          "token": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "modelError": {
        "properties": {
          "errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "success": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "reportsDailyItem": {
        "properties": {
          "clicks": {
            "type": "string"
          },
          "cpc": {
            "type": "string"
          },
          "ctr": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "earnings": {
            "type": "string"
          },
          "impressions": {
            "type": "string"
          },
          "net_ecpm": {
            "type": "string"
          },
          "rpm": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "reportsDailyResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/reportsDailyItem"
            },
            "type": "array"
          },
          "success": {
            "type": "boolean"
          },
          "total_count": {
            "type": "integer"
          },
          "totals": {
            "$ref": "#/components/schemas/totals"
          }
        },
        "type": "object"
      },
      "reportsWebsiteItem": {
        "properties": {
          "clicks": {
            "type": "string"
          },
          "cpc": {
            "type": "string"
          },
          "ctr": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "earnings": {
            "type": "string"
          },
          "impressions": {
            "type": "string"
          },
          "net_ecpm": {
            "type": "string"
          },
          "rpm": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "reportsWebsiteResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/reportsWebsiteItem"
            },
            "type": "array"
          },
          "success": {
            "type": "boolean"
          },
          "total_count": {
            "type": "integer"
          },
          "totals": {
            "$ref": "#/components/schemas/totals"
          }
        },
        "type": "object"
      },
      "reportsWidgetItem": {
        "properties": {
          "campaign": {
            "description": "widget name",
            "type": "string"
          },
          "campaign_id": {
            "description": "widget id",
            "type": "string"
          },
          "clicks": {
            "type": "string"
          },
          "cpc": {
            "type": "string"
          },
          "ctr": {
            "type": "string"
          },
          "earnings": {
            "type": "string"
          },
          "impressions": {
            "type": "string"
          },
          "net_ecpm": {
            "type": "string"
          },
          "rpm": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "reportsWidgetResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/reportsWidgetItem"
            },
            "type": "array"
          },
          "success": {
            "type": "boolean"
          },
          "total_count": {
            "type": "integer"
          },
          "totals": {
            "$ref": "#/components/schemas/totals"
          }
        },
        "type": "object"
      },
      "totals": {
        "properties": {
          "total_clicks": {
            "type": "string"
          },
          "total_cpc": {
            "type": "string"
          },
          "total_ctr": {
            "type": "string"
          },
          "total_earnings": {
            "type": "string"
          },
          "total_impressions": {
            "type": "string"
          },
          "total_net_ecpm": {
            "type": "string"
          },
          "total_rpm": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "auth"
    },
    {
      "name": "reports"
    }
  ]
}