{
  "openapi": "3.0.3",
  "info": {
    "title": "APIs.guru API",
    "version": "2.0.0",
    "description": "The APIs.guru REST API provides a directory of web APIs with their OpenAPI/Swagger definitions. Lists all known APIs and provides usage metrics.",
    "x-jentic-source-url": "https://apis.guru/api-doc"
  },
  "servers": [
    {
      "url": "https://api.apis.guru/v2"
    }
  ],
  "paths": {
    "/list.json": {
      "get": {
        "operationId": "listApis",
        "summary": "List all APIs",
        "description": "Returns the full list of all known APIs in the APIs.guru directory with their metadata and specification URLs.",
        "tags": [
          "APIs"
        ],
        "responses": {
          "200": {
            "description": "Map of API provider names to their API details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/metrics.json": {
      "get": {
        "operationId": "getMetrics",
        "summary": "Get API directory metrics",
        "description": "Returns aggregate statistics about the APIs.guru directory including total API counts.",
        "tags": [
          "Metrics"
        ],
        "responses": {
          "200": {
            "description": "Directory metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/providers.json": {
      "get": {
        "operationId": "listProviders",
        "summary": "List all API providers",
        "description": "Returns a list of all API provider names.",
        "tags": [
          "APIs"
        ],
        "responses": {
          "200": {
            "description": "List of provider names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{provider}.json": {
      "get": {
        "operationId": "getProvider",
        "summary": "Get APIs for a specific provider",
        "description": "Returns all API entries for a specific provider.",
        "tags": [
          "APIs"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API provider name"
          }
        ],
        "responses": {
          "200": {
            "description": "Provider's APIs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderApis"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Provider not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiList": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/ProviderApis"
        },
        "description": "Map of provider:service to API info"
      },
      "ProviderApis": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/ApiVersionInfo"
        }
      },
      "ApiVersionInfo": {
        "type": "object",
        "properties": {
          "added": {
            "type": "string",
            "format": "date-time"
          },
          "preferred": {
            "type": "string",
            "description": "Preferred version"
          },
          "versions": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ApiVersion"
            }
          }
        }
      },
      "ApiVersion": {
        "type": "object",
        "properties": {
          "added": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "swaggerUrl": {
            "type": "string",
            "format": "uri"
          },
          "swaggerYamlUrl": {
            "type": "string",
            "format": "uri"
          },
          "info": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "x-logo": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  }
                }
              },
              "contact": {
                "type": "object"
              }
            }
          },
          "externalDocs": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              }
            }
          },
          "openapiVer": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Metrics": {
        "type": "object",
        "properties": {
          "numAPIs": {
            "type": "integer",
            "description": "Total number of APIs"
          },
          "numEndpoints": {
            "type": "integer",
            "description": "Total number of endpoints"
          },
          "numSpecs": {
            "type": "integer",
            "description": "Total number of specifications"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": []
}