{
  "openapi": "3.0.3",
  "info": {
    "title": "Bitly API",
    "description": "Bitly API v4 for link management, URL shortening, QR codes, campaigns, and analytics.",
    "version": "4.0.0",
    "x-jentic-source-url": "https://dev.bitly.com/api.html"
  },
  "servers": [
    {
      "url": "https://api-ssl.bitly.com"
    }
  ],
  "paths": {
    "/v4/shorten": {
      "post": {
        "operationId": "shortenLink",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Shorten a link",
        "description": "Converts a long URL to a Bitlink.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShortenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shortened link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bitlink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/bitlinks": {
      "post": {
        "operationId": "createBitlink",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Create a Bitlink",
        "description": "Converts a long URL to a Bitlink and sets additional parameters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBitlinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bitlink created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bitlink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/bitlinks/{bitlink}": {
      "get": {
        "operationId": "retrieveBitlink",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Retrieve a Bitlink",
        "description": "Returns information for the specified link.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BitlinkPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Bitlink details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bitlink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateBitlink",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Update a Bitlink",
        "description": "Updates fields in the specified link.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BitlinkPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBitlinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bitlink updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bitlink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteBitlink",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Delete a Bitlink",
        "description": "Delete an unedited hash Bitlink.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BitlinkPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Bitlink deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links_deleted": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/expand": {
      "post": {
        "operationId": "expandBitlink",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Expand a Bitlink",
        "description": "Returns the short link and long URL for the specified link.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bitlink_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "bitlink_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expanded link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "long_url": {
                      "type": "string"
                    },
                    "link": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/bitlinks/{bitlink}/clicks": {
      "get": {
        "operationId": "getBitlinkClicks",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Get clicks for a Bitlink",
        "description": "Returns the click counts for the specified link in an array.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BitlinkPath"
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Click data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClicksResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/bitlinks/{bitlink}/clicks/summary": {
      "get": {
        "operationId": "getBitlinkClicksSummary",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Get clicks summary for a Bitlink",
        "description": "Returns the click counts rolled up into a single field.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BitlinkPath"
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Click summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_clicks": {
                      "type": "integer"
                    },
                    "unit": {
                      "type": "string"
                    },
                    "units": {
                      "type": "integer"
                    },
                    "unit_reference": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/bitlinks/{bitlink}/countries": {
      "get": {
        "operationId": "getBitlinkCountryMetrics",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Get metrics by country for a Bitlink",
        "description": "Returns the country origins of click traffic.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BitlinkPath"
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Country metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/bitlinks/{bitlink}/cities": {
      "get": {
        "operationId": "getBitlinkCityMetrics",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Get metrics by city for a Bitlink",
        "description": "Returns the city origins of click traffic.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BitlinkPath"
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "City metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/bitlinks/{bitlink}/devices": {
      "get": {
        "operationId": "getBitlinkDeviceMetrics",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Get metrics by device type for a Bitlink",
        "description": "Returns the device types generating click traffic.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BitlinkPath"
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Device metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/bitlinks/{bitlink}/referrers": {
      "get": {
        "operationId": "getBitlinkReferrers",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Get metrics by referrers for a Bitlink",
        "description": "Returns referrer click counts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BitlinkPath"
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Referrer metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/bitlinks/{bitlink}/referring_domains": {
      "get": {
        "operationId": "getBitlinkReferringDomains",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Get metrics by referring domains for a Bitlink",
        "description": "Returns the referring domain click counts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BitlinkPath"
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Referring domain metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/bitlinks/{bitlink}/engagements": {
      "get": {
        "operationId": "getBitlinkEngagements",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Get engagement counts for a Bitlink",
        "description": "Returns engagement counts including button clicks, clicks, and scans.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BitlinkPath"
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Engagement data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClicksResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/bitlinks/{bitlink}/engagements/summary": {
      "get": {
        "operationId": "getBitlinkEngagementsSummary",
        "tags": [
          "Bitlinks"
        ],
        "summary": "Get engagement summary for a Bitlink",
        "description": "Returns engagement counts rolled into a single field.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BitlinkPath"
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Engagement summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_engagements": {
                      "type": "integer"
                    },
                    "unit": {
                      "type": "string"
                    },
                    "units": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/groups/{group_guid}/bitlinks": {
      "get": {
        "operationId": "listBitlinksByGroup",
        "tags": [
          "Groups"
        ],
        "summary": "Retrieve Bitlinks by group",
        "description": "Returns a paginated collection of Bitlinks for a group.",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupGuid"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "name": "search_after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "on",
                "off",
                "both"
              ]
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of Bitlinks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bitlink"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "bulkUpdateBitlinks",
        "tags": [
          "Groups"
        ],
        "summary": "Bulk update Bitlinks",
        "description": "Bulk update can add/remove tags or archive up to 100 links.",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupGuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "links"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "archive",
                      "edit_tags"
                    ]
                  },
                  "archive": {
                    "type": "boolean"
                  },
                  "add_tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "remove_tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "links": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links_updated": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/groups/{group_guid}/bitlinks/{sort}": {
      "get": {
        "operationId": "listSortedBitlinks",
        "tags": [
          "Groups"
        ],
        "summary": "Retrieve sorted Bitlinks for a group",
        "description": "Returns a list of Bitlinks sorted by the specified metric.",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupGuid"
          },
          {
            "name": "sort",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "clicks"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Sorted Bitlinks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sorted_links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bitlink"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bitlink"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/bsds": {
      "get": {
        "operationId": "listBSDs",
        "tags": [
          "BSDs"
        ],
        "summary": "Get BSDs",
        "description": "Fetch all Branded Short Domains.",
        "responses": {
          "200": {
            "description": "List of BSDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bsds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "tags": [
          "Campaigns"
        ],
        "summary": "Retrieve campaigns",
        "description": "Returns the campaigns for the current authenticated user.",
        "parameters": [
          {
            "name": "group_guid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Campaign"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCampaign",
        "tags": [
          "Campaigns"
        ],
        "summary": "Create a campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/campaigns/{campaign_guid}": {
      "get": {
        "operationId": "getCampaign",
        "tags": [
          "Campaigns"
        ],
        "summary": "Retrieve a campaign",
        "parameters": [
          {
            "name": "campaign_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateCampaign",
        "tags": [
          "Campaigns"
        ],
        "summary": "Update a campaign",
        "parameters": [
          {
            "name": "campaign_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/channels": {
      "get": {
        "operationId": "listChannels",
        "tags": [
          "Campaigns"
        ],
        "summary": "Retrieve channels",
        "parameters": [
          {
            "name": "group_guid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign_guid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "channels": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Channel"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createChannel",
        "tags": [
          "Campaigns"
        ],
        "summary": "Create a channel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/channels/{channel_guid}": {
      "get": {
        "operationId": "getChannel",
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a channel",
        "parameters": [
          {
            "name": "channel_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateChannel",
        "tags": [
          "Campaigns"
        ],
        "summary": "Update a channel",
        "parameters": [
          {
            "name": "channel_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/custom_bitlinks": {
      "post": {
        "operationId": "addCustomBitlink",
        "tags": [
          "Custom Bitlinks"
        ],
        "summary": "Add a custom Bitlink",
        "description": "Add a keyword (custom back-half) to a Bitlink.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "custom_bitlink",
                  "bitlink_id"
                ],
                "properties": {
                  "custom_bitlink": {
                    "type": "string"
                  },
                  "bitlink_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom Bitlink created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomBitlink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/custom_bitlinks/{custom_bitlink}": {
      "get": {
        "operationId": "getCustomBitlink",
        "tags": [
          "Custom Bitlinks"
        ],
        "summary": "Retrieve a custom Bitlink",
        "parameters": [
          {
            "name": "custom_bitlink",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom Bitlink details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomBitlink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateCustomBitlink",
        "tags": [
          "Custom Bitlinks"
        ],
        "summary": "Update a custom Bitlink",
        "parameters": [
          {
            "name": "custom_bitlink",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bitlink_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom Bitlink updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomBitlink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/custom_bitlinks/{custom_bitlink}/clicks": {
      "get": {
        "operationId": "getCustomBitlinkClicks",
        "tags": [
          "Custom Bitlinks"
        ],
        "summary": "Get clicks for a custom Bitlink",
        "parameters": [
          {
            "name": "custom_bitlink",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Click data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClicksResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/groups": {
      "get": {
        "operationId": "listGroups",
        "tags": [
          "Groups"
        ],
        "summary": "Retrieve groups",
        "description": "Returns a list of groups in the organization.",
        "parameters": [
          {
            "name": "organization_guid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "groups": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Group"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/groups/{group_guid}": {
      "get": {
        "operationId": "getGroup",
        "tags": [
          "Groups"
        ],
        "summary": "Retrieve a group",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupGuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Group details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateGroup",
        "tags": [
          "Groups"
        ],
        "summary": "Update a group",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupGuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "organization_guid": {
                    "type": "string"
                  },
                  "bsds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/groups/{group_guid}/tags": {
      "get": {
        "operationId": "getGroupTags",
        "tags": [
          "Groups"
        ],
        "summary": "Retrieve tags by group",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupGuid"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "bitlink",
                "qr_code"
              ],
              "default": "bitlink"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tags list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/groups/{group_guid}/preferences": {
      "get": {
        "operationId": "getGroupPreferences",
        "tags": [
          "Groups"
        ],
        "summary": "Retrieve group preferences",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupGuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Group preferences",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupPreferences"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateGroupPreferences",
        "tags": [
          "Groups"
        ],
        "summary": "Update group preferences",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupGuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupPreferences"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preferences updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupPreferences"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/groups/{group_guid}/shorten_counts": {
      "get": {
        "operationId": "getGroupShortenCounts",
        "tags": [
          "Groups"
        ],
        "summary": "Retrieve shorten counts for a group",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupGuid"
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Shorten count metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/groups/{group_guid}/countries": {
      "get": {
        "operationId": "getGroupCountryMetrics",
        "tags": [
          "Groups"
        ],
        "summary": "Get click metrics by country for a group",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupGuid"
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/Size"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Country metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/groups/{group_guid}/clicks": {
      "get": {
        "operationId": "getGroupClicks",
        "tags": [
          "Groups"
        ],
        "summary": "Get clicks by group",
        "parameters": [
          {
            "$ref": "#/components/parameters/GroupGuid"
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Click data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClicksResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "tags": [
          "Organizations"
        ],
        "summary": "Retrieve organizations",
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organizations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/organizations/{organization_guid}": {
      "get": {
        "operationId": "getOrganization",
        "tags": [
          "Organizations"
        ],
        "summary": "Retrieve an organization",
        "parameters": [
          {
            "name": "organization_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/organizations/{organization_guid}/shorten_counts": {
      "get": {
        "operationId": "getOrgShortenCounts",
        "tags": [
          "Organizations"
        ],
        "summary": "Get shorten counts for an organization",
        "parameters": [
          {
            "name": "organization_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Unit"
          },
          {
            "$ref": "#/components/parameters/Units"
          },
          {
            "$ref": "#/components/parameters/UnitReference"
          }
        ],
        "responses": {
          "200": {
            "description": "Shorten count metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/organizations/{organization_guid}/plan_limits": {
      "get": {
        "operationId": "getOrgPlanLimits",
        "tags": [
          "Organizations"
        ],
        "summary": "Get plan limits for an organization",
        "parameters": [
          {
            "name": "organization_guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plan limits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plan_limits": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "count": {
                            "type": "integer"
                          },
                          "limit": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v4/qr-codes": {
      "post": {
        "operationId": "createQRCode",
        "tags": [
          "QR Codes"
        ],
        "summary": "Create a QR code",
        "description": "Create a new QR Code and return its metadata.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QRCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QRCode"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 access token or API key as Bearer token."
      }
    },
    "parameters": {
      "BitlinkPath": {
        "name": "bitlink",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The Bitlink identifier (e.g. bit.ly/abcde)."
      },
      "GroupGuid": {
        "name": "group_guid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Unit": {
        "name": "unit",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "minute",
            "hour",
            "day",
            "week",
            "month"
          ]
        }
      },
      "Units": {
        "name": "units",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": -1
        },
        "description": "Number of time units; -1 returns all available data."
      },
      "UnitReference": {
        "name": "unit_reference",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "description": "ISO-8601 timestamp for the reference point of the time range."
      },
      "Size": {
        "name": "size",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 50
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing authentication",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "resource": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Bitlink": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "long_url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "archived": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "custom_bitlinks": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "deeplinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deeplink"
            }
          },
          "references": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "ShortenRequest": {
        "type": "object",
        "required": [
          "long_url"
        ],
        "properties": {
          "long_url": {
            "type": "string"
          },
          "domain": {
            "type": "string",
            "default": "bit.ly"
          },
          "group_guid": {
            "type": "string"
          }
        }
      },
      "CreateBitlinkRequest": {
        "type": "object",
        "required": [
          "long_url"
        ],
        "properties": {
          "long_url": {
            "type": "string"
          },
          "domain": {
            "type": "string",
            "default": "bit.ly"
          },
          "group_guid": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "deeplinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deeplink"
            }
          },
          "keyword": {
            "type": "string"
          },
          "expiration_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateBitlinkRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "archived": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "deeplinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Deeplink"
            }
          },
          "long_url": {
            "type": "string"
          },
          "expiration_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Deeplink": {
        "type": "object",
        "properties": {
          "bitlink": {
            "type": "string"
          },
          "install_url": {
            "type": "string"
          },
          "install_type": {
            "type": "string"
          },
          "app_uri_path": {
            "type": "string"
          },
          "app_guid": {
            "type": "string"
          }
        }
      },
      "ClicksResponse": {
        "type": "object",
        "properties": {
          "link_clicks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date-time"
                },
                "clicks": {
                  "type": "integer"
                }
              }
            }
          },
          "units": {
            "type": "integer"
          },
          "unit": {
            "type": "string"
          },
          "unit_reference": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MetricsResponse": {
        "type": "object",
        "properties": {
          "metrics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "clicks": {
                  "type": "integer"
                }
              }
            }
          },
          "units": {
            "type": "integer"
          },
          "unit": {
            "type": "string"
          },
          "unit_reference": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomBitlink": {
        "type": "object",
        "properties": {
          "custom_bitlink": {
            "type": "string"
          },
          "bitlink": {
            "$ref": "#/components/schemas/Bitlink"
          },
          "bitlink_history": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "bitlink_id": {
                  "type": "string"
                },
                "long_url": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "guid": {
            "type": "string"
          },
          "group_guid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          },
          "channel_guids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CampaignRequest": {
        "type": "object",
        "required": [
          "group_guid",
          "name"
        ],
        "properties": {
          "group_guid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "channel_guids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "guid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "group_guid": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          },
          "bitlinks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "campaign_guid": {
                  "type": "string"
                },
                "bitlink_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ChannelRequest": {
        "type": "object",
        "required": [
          "name",
          "group_guid"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "group_guid": {
            "type": "string"
          },
          "bitlinks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "campaign_guid": {
                  "type": "string"
                },
                "bitlink_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "guid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "organization_guid": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "bsds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_active": {
            "type": "boolean"
          }
        }
      },
      "GroupPreferences": {
        "type": "object",
        "properties": {
          "group_guid": {
            "type": "string"
          },
          "domain_preference": {
            "type": "string"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "guid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "tier": {
            "type": "string"
          },
          "tier_display_name": {
            "type": "string"
          },
          "tier_family": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "QRCodeRequest": {
        "type": "object",
        "required": [
          "group_guid",
          "destination"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "group_guid": {
            "type": "string"
          },
          "destination": {
            "type": "object",
            "properties": {
              "bitlink_id": {
                "type": "string"
              },
              "long_url": {
                "type": "string"
              }
            }
          },
          "archived": {
            "type": "boolean"
          },
          "expiration_at": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "QRCode": {
        "type": "object",
        "properties": {
          "qr_code_id": {
            "type": "string"
          },
          "group_guid": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "archived": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          },
          "destination": {
            "type": "object",
            "properties": {
              "bitlink_id": {
                "type": "string"
              },
              "long_url": {
                "type": "string"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string"
          },
          "prev": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Bitlinks",
      "description": "Manage short links"
    },
    {
      "name": "Custom Bitlinks",
      "description": "Manage custom back-half links"
    },
    {
      "name": "Groups",
      "description": "Manage groups and group-level analytics"
    },
    {
      "name": "Organizations",
      "description": "Manage organizations"
    },
    {
      "name": "Campaigns",
      "description": "Manage campaigns and channels"
    },
    {
      "name": "BSDs",
      "description": "Branded Short Domains"
    },
    {
      "name": "QR Codes",
      "description": "Manage QR codes"
    }
  ]
}