{
  "openapi": "3.0.3",
  "info": {
    "title": "Clearbit Logo API",
    "description": "Company logo API providing access to high-quality company logos and branding assets. Retrieve logos by company domain with support for different sizes and formats.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://clearbit.com/docs#logo-api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://logo.clearbit.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "logos",
      "description": "Operations for retrieving company logos"
    }
  ],
  "paths": {
    "/{domain}": {
      "get": {
        "operationId": "getLogo",
        "summary": "Get company logo",
        "description": "Retrieve a company's logo by domain name. Returns the logo image in PNG format.",
        "tags": [
          "logos"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "Company domain (e.g., 'clearbit.com')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Logo size in pixels",
            "schema": {
              "type": "integer",
              "enum": [
                32,
                64,
                128,
                256,
                400
              ],
              "default": 128
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Image format",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpg"
              ],
              "default": "png"
            }
          },
          {
            "name": "greyscale",
            "in": "query",
            "description": "Return greyscale version of logo",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logo image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Logo not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "type": {
            "type": "string",
            "description": "Error type"
          }
        }
      }
    }
  }
}
