{
  "openapi": "3.0.3",
  "info": {
    "title": "TIGER FORM API",
    "description": "TIGER FORM lets you design custom forms and create customizable QR codes. This API allows integration with Zapier to automate workflows and manage forms and submissions.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://form-qr-code-generator.com/docs/integrations/zapier/v1.0.0/index.html"
  },
  "servers": [
    {
      "url": "https://form-qr-code-generator.com",
      "description": "TIGER FORM API server"
    }
  ],
  "paths": {
    "/integration/zapier/v1/auth": {
      "post": {
        "operationId": "authenticateApiKey",
        "summary": "Authenticate using API key",
        "description": "Authenticate a user with their API key.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Item not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/zapier/v1/form/list": {
      "get": {
        "operationId": "listForms",
        "summary": "Get list of forms",
        "description": "Retrieve a list of all forms.",
        "tags": [
          "Forms"
        ],
        "responses": {
          "200": {
            "description": "List of forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Form"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/zapier/v1/submission/list/{form_code}": {
      "get": {
        "operationId": "listFormSubmissions",
        "summary": "List submissions of a form",
        "description": "Retrieve all submissions for a specific form by its code.",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "form_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The code ID of the form."
          }
        ],
        "responses": {
          "200": {
            "description": "List of submissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Submission"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Form not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as a Bearer token in the Authorization header."
      }
    },
    "schemas": {
      "AuthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Authentication status."
          }
        }
      },
      "Form": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the form."
          },
          "code": {
            "type": "string",
            "description": "Code identifier of the form."
          },
          "title": {
            "type": "string",
            "description": "Title of the form."
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of column names in the form."
          }
        }
      },
      "Submission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the submission."
          },
          "form_code": {
            "type": "string",
            "description": "Code of the form this submission belongs to."
          },
          "form_title": {
            "type": "string",
            "description": "Title of the form."
          },
          "submission_date": {
            "type": "string",
            "description": "Date the submission was created."
          },
          "responses": {
            "type": "object",
            "additionalProperties": true,
            "description": "Key-value pairs of form field responses."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Error status."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "code": {
            "type": "integer",
            "description": "HTTP error code."
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "API authentication operations"
    },
    {
      "name": "Forms",
      "description": "Form management operations"
    },
    {
      "name": "Submissions",
      "description": "Form submission operations"
    }
  ]
}