{
  "openapi": "3.0.3",
  "info": {
    "title": "Petfinder API",
    "description": "The Petfinder API v2 provides access to Petfinder's database of adoptable pets and animal welfare organizations. It allows searching for pets by type, breed, size, gender, age, color, coat, status, location, and more. Authentication uses OAuth 2.0 client credentials flow.",
    "version": "2.0",
    "contact": {
      "name": "Petfinder",
      "url": "https://www.petfinder.com/developers/"
    },
    "termsOfService": "https://www.petfinder.com/developers/terms-of-service/"
  },
  "servers": [
    {
      "url": "https://api.petfinder.com/v2",
      "description": "Petfinder API v2 production server"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "operationId": "getOAuthToken",
        "summary": "Get OAuth2 access token",
        "description": "Obtain an access token using client credentials grant type. The token is valid for 3600 seconds (1 hour).",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ],
                    "description": "OAuth2 grant type"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Your Petfinder API key"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your Petfinder API secret"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials"
          }
        },
        "tags": [
          "oauth2"
        ]
      }
    },
    "/animals": {
      "get": {
        "operationId": "getAnimals",
        "summary": "Search animals",
        "description": "Search for adoptable animals. Returns paginated results with various filter options.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type of animal (e.g., dog, cat, rabbit, small-furry, horse, bird, scales-fins-other, barnyard)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "breed",
            "in": "query",
            "description": "Breed name(s), comma-separated for multiple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size: small, medium, large, xlarge. Comma-separated for multiple.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "description": "Gender: male, female, unknown. Comma-separated for multiple.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "age",
            "in": "query",
            "description": "Age: baby, young, adult, senior. Comma-separated for multiple.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "color",
            "in": "query",
            "description": "Color of the animal",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "coat",
            "in": "query",
            "description": "Coat length: short, medium, long, wire, hairless, curly. Comma-separated for multiple.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Adoption status: adoptable, adopted, found",
            "schema": {
              "type": "string",
              "enum": [
                "adoptable",
                "adopted",
                "found"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the animal",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "query",
            "description": "Organization ID(s), comma-separated for multiple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "good_with_children",
            "in": "query",
            "description": "Filter by good with children",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "good_with_dogs",
            "in": "query",
            "description": "Filter by good with dogs",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "good_with_cats",
            "in": "query",
            "description": "Filter by good with cats",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "house_trained",
            "in": "query",
            "description": "Filter by house trained status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "declawed",
            "in": "query",
            "description": "Filter by declawed status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "special_needs",
            "in": "query",
            "description": "Filter by special needs",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Location (city, state; latitude,longitude; or postal code)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Distance in miles from location (requires location parameter, max 500, default 100)",
            "schema": {
              "type": "integer",
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: recent, -recent, distance, -distance, random",
            "schema": {
              "type": "string",
              "enum": [
                "recent",
                "-recent",
                "distance",
                "-distance",
                "random"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (default 20, max 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with animal listings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimalsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "animals"
        ]
      }
    },
    "/animals/{id}": {
      "get": {
        "operationId": "getAnimal",
        "summary": "Get a specific animal",
        "description": "Retrieve details for a specific animal by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Animal ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with animal details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleAnimalResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Animal not found"
          }
        },
        "tags": [
          "animals"
        ]
      }
    },
    "/types": {
      "get": {
        "operationId": "getAnimalTypes",
        "summary": "Get animal types",
        "description": "Returns all available animal types (e.g., Dog, Cat, Rabbit).",
        "responses": {
          "200": {
            "description": "Successful response with animal types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "types"
        ]
      }
    },
    "/types/{type}": {
      "get": {
        "operationId": "getAnimalType",
        "summary": "Get a specific animal type",
        "description": "Returns details for a specific animal type including available coats, colors, and genders.",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "Animal type name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with type details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleTypeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Type not found"
          }
        },
        "tags": [
          "types"
        ]
      }
    },
    "/types/{type}/breeds": {
      "get": {
        "operationId": "getBreeds",
        "summary": "Get breeds for a type",
        "description": "Returns all available breeds for a specific animal type.",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "Animal type name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with breed list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BreedsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Type not found"
          }
        },
        "tags": [
          "types"
        ]
      }
    },
    "/organizations": {
      "get": {
        "operationId": "getOrganizations",
        "summary": "Search organizations",
        "description": "Search for animal welfare organizations.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Organization name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Location (city, state; latitude,longitude; or postal code)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Distance in miles from location (max 500, default 100)",
            "schema": {
              "type": "integer",
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "2-letter US state abbreviation or CA province",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country code (US or CA)",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "CA"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Full-text search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order: recent, -recent, distance, -distance",
            "schema": {
              "type": "string",
              "enum": [
                "recent",
                "-recent",
                "distance",
                "-distance"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (default 20, max 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with organization listings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{id}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get a specific organization",
        "description": "Retrieve details for a specific organization by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Organization ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOrganizationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Organization not found"
          }
        },
        "tags": [
          "organizations"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.petfinder.com/v2/oauth2/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "example": 3600
          },
          "access_token": {
            "type": "string"
          }
        }
      },
      "Animal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Animal ID"
          },
          "organization_id": {
            "type": "string",
            "description": "Organization ID"
          },
          "url": {
            "type": "string",
            "description": "URL to the animal's Petfinder page"
          },
          "type": {
            "type": "string",
            "description": "Animal type"
          },
          "species": {
            "type": "string",
            "description": "Species"
          },
          "breeds": {
            "type": "object",
            "properties": {
              "primary": {
                "type": "string"
              },
              "secondary": {
                "type": "string",
                "nullable": true
              },
              "mixed": {
                "type": "boolean"
              },
              "unknown": {
                "type": "boolean"
              }
            }
          },
          "colors": {
            "type": "object",
            "properties": {
              "primary": {
                "type": "string",
                "nullable": true
              },
              "secondary": {
                "type": "string",
                "nullable": true
              },
              "tertiary": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "age": {
            "type": "string",
            "enum": [
              "Baby",
              "Young",
              "Adult",
              "Senior"
            ]
          },
          "gender": {
            "type": "string",
            "enum": [
              "Male",
              "Female",
              "Unknown"
            ]
          },
          "size": {
            "type": "string",
            "enum": [
              "Small",
              "Medium",
              "Large",
              "Extra Large"
            ]
          },
          "coat": {
            "type": "string",
            "nullable": true,
            "enum": [
              "Short",
              "Medium",
              "Long",
              "Wire",
              "Hairless",
              "Curly"
            ]
          },
          "name": {
            "type": "string",
            "description": "Animal name"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Description of the animal"
          },
          "photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Photo"
            }
          },
          "videos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Video"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "adoptable",
              "adopted",
              "found"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "spayed_neutered": {
                "type": "boolean"
              },
              "house_trained": {
                "type": "boolean"
              },
              "declawed": {
                "type": "boolean",
                "nullable": true
              },
              "special_needs": {
                "type": "boolean"
              },
              "shots_current": {
                "type": "boolean"
              }
            }
          },
          "environment": {
            "type": "object",
            "properties": {
              "children": {
                "type": "boolean",
                "nullable": true
              },
              "dogs": {
                "type": "boolean",
                "nullable": true
              },
              "cats": {
                "type": "boolean",
                "nullable": true
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "distance": {
            "type": "number",
            "nullable": true,
            "description": "Distance from search location in miles"
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "object",
                "properties": {
                  "href": {
                    "type": "string"
                  }
                }
              },
              "type": {
                "type": "object",
                "properties": {
                  "href": {
                    "type": "string"
                  }
                }
              },
              "organization": {
                "type": "object",
                "properties": {
                  "href": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Photo": {
        "type": "object",
        "properties": {
          "small": {
            "type": "string"
          },
          "medium": {
            "type": "string"
          },
          "large": {
            "type": "string"
          },
          "full": {
            "type": "string"
          }
        }
      },
      "Video": {
        "type": "object",
        "properties": {
          "embed": {
            "type": "string"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "address1": {
            "type": "string",
            "nullable": true
          },
          "address2": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string"
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "mission_statement": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "hours": {
            "type": "object",
            "properties": {
              "monday": {
                "type": "string",
                "nullable": true
              },
              "tuesday": {
                "type": "string",
                "nullable": true
              },
              "wednesday": {
                "type": "string",
                "nullable": true
              },
              "thursday": {
                "type": "string",
                "nullable": true
              },
              "friday": {
                "type": "string",
                "nullable": true
              },
              "saturday": {
                "type": "string",
                "nullable": true
              },
              "sunday": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "adoption": {
            "type": "object",
            "properties": {
              "policy": {
                "type": "string",
                "nullable": true
              },
              "url": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "social_media": {
            "type": "object",
            "properties": {
              "facebook": {
                "type": "string",
                "nullable": true
              },
              "twitter": {
                "type": "string",
                "nullable": true
              },
              "youtube": {
                "type": "string",
                "nullable": true
              },
              "instagram": {
                "type": "string",
                "nullable": true
              },
              "pinterest": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Photo"
            }
          },
          "distance": {
            "type": "number",
            "nullable": true
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "object",
                "properties": {
                  "href": {
                    "type": "string"
                  }
                }
              },
              "animals": {
                "type": "object",
                "properties": {
                  "href": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "AnimalType": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "coats": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "colors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "genders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "object",
                "properties": {
                  "href": {
                    "type": "string"
                  }
                }
              },
              "breeds": {
                "type": "object",
                "properties": {
                  "href": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Breed": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "_links": {
            "type": "object",
            "properties": {
              "type": {
                "type": "object",
                "properties": {
                  "href": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "count_per_page": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "current_page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "_links": {
            "type": "object",
            "properties": {
              "next": {
                "type": "object",
                "properties": {
                  "href": {
                    "type": "string"
                  }
                }
              },
              "previous": {
                "type": "object",
                "properties": {
                  "href": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "AnimalsResponse": {
        "type": "object",
        "properties": {
          "animals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Animal"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "SingleAnimalResponse": {
        "type": "object",
        "properties": {
          "animal": {
            "$ref": "#/components/schemas/Animal"
          }
        }
      },
      "TypesResponse": {
        "type": "object",
        "properties": {
          "types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnimalType"
            }
          }
        }
      },
      "SingleTypeResponse": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AnimalType"
          }
        }
      },
      "BreedsResponse": {
        "type": "object",
        "properties": {
          "breeds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Breed"
            }
          }
        }
      },
      "OrganizationsResponse": {
        "type": "object",
        "properties": {
          "organizations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Organization"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "SingleOrganizationResponse": {
        "type": "object",
        "properties": {
          "organization": {
            "$ref": "#/components/schemas/Organization"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "animals"
    },
    {
      "name": "oauth2"
    },
    {
      "name": "organizations"
    },
    {
      "name": "types"
    }
  ]
}
