{
  "openapi": "3.0.3",
  "info": {
    "title": "Abstract IP Geolocation API",
    "version": "1.0.0",
    "description": "Abstract IP Geolocation API provides IP address geolocation, ASN, company, timezone, currency, flag, and security data for over 4 billion IP addresses.",
    "x-jentic-source-url": "https://www.abstractapi.com/api/ip-geolocation-api"
  },
  "servers": [
    {
      "url": "https://ipgeolocation.abstractapi.com"
    }
  ],
  "tags": [
    {
      "name": "Geolocation",
      "description": "IP geolocation lookups"
    }
  ],
  "paths": {
    "/v1/": {
      "get": {
        "operationId": "getIpGeolocation",
        "summary": "Look up IP geolocation data",
        "description": "Returns geolocation, ASN, company, timezone, currency, flag, and security data for an IP address. If no ip_address is provided, the requester's IP is used.",
        "tags": ["Geolocation"],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Abstract API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip_address",
            "in": "query",
            "required": false,
            "description": "The IP address to look up. If omitted, the requester's IP is used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to return (to reduce response size)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GeolocationResponse": {
        "type": "object",
        "properties": {
          "ip_address": {
            "type": "string",
            "description": "The IP address that was looked up"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "City name"
          },
          "city_geoname_id": {
            "type": "integer",
            "nullable": true,
            "description": "GeoNames ID for the city"
          },
          "region": {
            "type": "string",
            "description": "Region/state name"
          },
          "region_iso_code": {
            "type": "string",
            "description": "ISO code for the region"
          },
          "region_geoname_id": {
            "type": "string",
            "description": "GeoNames ID for the region"
          },
          "postal_code": {
            "type": "string",
            "nullable": true,
            "description": "Postal/ZIP code"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          },
          "country_code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "country_geoname_id": {
            "type": "integer",
            "description": "GeoNames ID for the country"
          },
          "country_is_eu": {
            "type": "boolean",
            "description": "Whether the country is in the EU"
          },
          "continent": {
            "type": "string",
            "description": "Continent name"
          },
          "continent_code": {
            "type": "string",
            "description": "Two-letter continent code"
          },
          "continent_geoname_id": {
            "type": "integer",
            "description": "GeoNames ID for the continent"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude coordinate"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude coordinate"
          },
          "security": {
            "$ref": "#/components/schemas/SecurityInfo"
          },
          "timezone": {
            "$ref": "#/components/schemas/TimezoneInfo"
          },
          "flag": {
            "$ref": "#/components/schemas/FlagInfo"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyInfo"
          },
          "connection": {
            "$ref": "#/components/schemas/ConnectionInfo"
          }
        }
      },
      "SecurityInfo": {
        "type": "object",
        "description": "Security data about the IP (Professional plan)",
        "properties": {
          "is_vpn": {
            "type": "boolean"
          },
          "is_proxy": {
            "type": "boolean"
          },
          "is_tor": {
            "type": "boolean"
          },
          "is_hosting": {
            "type": "boolean"
          },
          "is_relay": {
            "type": "boolean"
          },
          "is_mobile": {
            "type": "boolean"
          },
          "is_abuse": {
            "type": "boolean"
          }
        }
      },
      "TimezoneInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "IANA timezone name"
          },
          "abbreviation": {
            "type": "string",
            "description": "Timezone abbreviation"
          },
          "gmt_offset": {
            "type": "integer",
            "description": "GMT offset in hours"
          },
          "current_time": {
            "type": "string",
            "description": "Current local time"
          },
          "is_dst": {
            "type": "boolean",
            "description": "Whether DST is active"
          }
        }
      },
      "FlagInfo": {
        "type": "object",
        "properties": {
          "emoji": {
            "type": "string",
            "description": "Country flag emoji"
          },
          "unicode": {
            "type": "string",
            "description": "Unicode representation of flag"
          },
          "png": {
            "type": "string",
            "description": "URL to PNG flag image"
          },
          "svg": {
            "type": "string",
            "description": "URL to SVG flag image"
          }
        }
      },
      "CurrencyInfo": {
        "type": "object",
        "properties": {
          "currency_name": {
            "type": "string",
            "description": "Currency name"
          },
          "currency_code": {
            "type": "string",
            "description": "ISO 4217 currency code"
          }
        }
      },
      "ConnectionInfo": {
        "type": "object",
        "properties": {
          "autonomous_system_number": {
            "type": "integer",
            "description": "ASN number"
          },
          "autonomous_system_organization": {
            "type": "string",
            "description": "ASN organization name"
          },
          "connection_type": {
            "type": "string",
            "description": "Connection type"
          },
          "isp_name": {
            "type": "string",
            "description": "ISP name"
          },
          "organization_name": {
            "type": "string",
            "description": "Organization name"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              }
            }
          }
        }
      }
    }
  }
}
