{
  "openapi": "3.0.3",
  "info": {
    "title": "TextKit API",
    "version": "1.0.0",
    "description": "TextKit is a text analysis API offering natural language processing endpoints including emotion detection, sentiment analysis, language detection, gender prediction, gibberish detection, name recognition, sentence similarity, and word cloud generation.",
    "x-jentic-source-url": "https://textkit.ai/docs/introduction",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.textkit.ai"
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "operationId": "ping",
        "summary": "Health check",
        "description": "Test connectivity and API availability.",
        "tags": [
          "Utility"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/detect/emotion": {
      "get": {
        "operationId": "detectEmotion",
        "summary": "Detect emotion in text",
        "description": "Determines the emotion conveyed in text using Ekman's emotion classification framework, trained on 210,000+ labeled social media samples. Maximum text length is 512 characters.",
        "tags": [
          "Detection"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Text to analyze"
          }
        ],
        "responses": {
          "200": {
            "description": "Emotion detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmotionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/detect/sentiment": {
      "get": {
        "operationId": "detectSentiment",
        "summary": "Detect sentiment in text",
        "description": "Analyzes text to determine sentiment classification as positive, negative, or neutral. Maximum text length is 512 characters.",
        "tags": [
          "Detection"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Text to analyze"
          }
        ],
        "responses": {
          "200": {
            "description": "Sentiment detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentimentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/detect/language": {
      "get": {
        "operationId": "detectLanguage",
        "summary": "Detect language of text",
        "description": "Predicts the language of input text using SpaCy and FastText models, returning ISO 639-1 code and language name. Maximum text length is 512 characters.",
        "tags": [
          "Detection"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Text to analyze"
          }
        ],
        "responses": {
          "200": {
            "description": "Language detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/detect/gender": {
      "get": {
        "operationId": "detectGender",
        "summary": "Detect gender from name",
        "description": "Determines a person's predicted gender based on their name, utilizing a database of over 90,000 tagged entries. Maximum text length is 512 characters.",
        "tags": [
          "Detection"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Name to analyze"
          }
        ],
        "responses": {
          "200": {
            "description": "Gender predicted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/detect/gibberish": {
      "get": {
        "operationId": "detectGibberish",
        "summary": "Detect gibberish in text",
        "description": "Analyzes text to identify gibberish content, classifying it as normal, mild-gibberish, or complete gibberish. Maximum text length is 512 characters.",
        "tags": [
          "Detection"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Text to analyze"
          }
        ],
        "responses": {
          "200": {
            "description": "Gibberish analysis complete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GibberishResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/detect/names": {
      "get": {
        "operationId": "detectNames",
        "summary": "Detect names in text",
        "description": "Identifies words in text as first names, last names, or unknown terms. Maximum text length is 512 characters.",
        "tags": [
          "Detection"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Text to analyze"
          }
        ],
        "responses": {
          "200": {
            "description": "Names detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/detect/similarity": {
      "get": {
        "operationId": "detectSimilarity",
        "summary": "Compute sentence similarity",
        "description": "Receives a series of texts, encodes them using a BERT-derived model, and produces cosine similarity scores. Up to 20 sentences, max 512 characters each.",
        "tags": [
          "Detection"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 512
            },
            "description": "Reference sentence for comparison"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "maxItems": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Similarity scores computed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimilarityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generate/wordcloud": {
      "get": {
        "operationId": "generateWordCloud",
        "summary": "Generate word cloud",
        "description": "Generates an SVG image displaying the top 200 most frequently used words from input text. Removes stop words and lemmatizes terms. Maximum 64,000 characters.",
        "tags": [
          "Generation"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64000
            },
            "description": "Text to generate word cloud from"
          },
          {
            "name": "colormap",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Blues",
                "Greens",
                "Reds",
                "Purples",
                "YlOrBr"
              ]
            },
            "description": "Color palette for the image"
          },
          {
            "name": "bg_color",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "white"
            },
            "description": "Background color (hex or named color)"
          },
          {
            "name": "stop_words",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated words to exclude"
          }
        ],
        "responses": {
          "200": {
            "description": "SVG word cloud generated",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EmotionResponse": {
        "type": "object",
        "properties": {
          "prediction": {
            "type": "object",
            "properties": {
              "emotion": {
                "type": "string",
                "enum": [
                  "anger",
                  "joy",
                  "disgust",
                  "fear",
                  "sadness",
                  "surprise",
                  "neutral"
                ]
              },
              "emoji": {
                "type": "string"
              }
            }
          },
          "confidence": {
            "type": "string"
          },
          "time_ms": {
            "type": "integer"
          }
        }
      },
      "SentimentResponse": {
        "type": "object",
        "properties": {
          "prediction": {
            "type": "object",
            "properties": {
              "sentiment": {
                "type": "string",
                "enum": [
                  "positive",
                  "negative",
                  "neutral"
                ]
              },
              "emoji": {
                "type": "string"
              }
            }
          },
          "confidence": {
            "type": "string"
          },
          "time_ms": {
            "type": "integer"
          }
        }
      },
      "LanguageResponse": {
        "type": "object",
        "properties": {
          "prediction": {
            "type": "object",
            "properties": {
              "iso_code": {
                "type": "string",
                "description": "2-char ISO 639-1 code"
              },
              "language": {
                "type": "string",
                "description": "Language name in English"
              }
            }
          },
          "confidence": {
            "type": "string"
          },
          "time_ms": {
            "type": "integer"
          }
        }
      },
      "GenderResponse": {
        "type": "object",
        "properties": {
          "prediction": {
            "type": "string",
            "enum": [
              "male",
              "female",
              "unknown"
            ]
          },
          "confidence": {
            "type": "string"
          },
          "time_ms": {
            "type": "integer"
          }
        }
      },
      "GibberishResponse": {
        "type": "object",
        "properties": {
          "prediction": {
            "type": "string",
            "enum": [
              "normal",
              "mild-gibberish",
              "gibberish"
            ]
          },
          "confidence": {
            "type": "string"
          },
          "time_ms": {
            "type": "integer"
          }
        }
      },
      "NamesResponse": {
        "type": "object",
        "properties": {
          "prediction": {
            "type": "object",
            "properties": {
              "first_name": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "last_name": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "unknown": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "confidence": {
            "type": "string"
          },
          "time_ms": {
            "type": "integer"
          }
        }
      },
      "SimilarityResponse": {
        "type": "object",
        "properties": {
          "scores": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "score": {
                  "type": "number",
                  "minimum": -1,
                  "maximum": 1
                },
                "sentences": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "time_ms": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Detection"
    },
    {
      "name": "Generation"
    },
    {
      "name": "Utility"
    }
  ]
}
