{
  "openapi": "3.0.3",
  "info": {
    "title": "Bing News Search API",
    "description": "The Bing News Search API v7 lets you find headline news, news by category, and trending topics across the web.",
    "version": "7.0",
    "x-jentic-source-url": "https://learn.microsoft.com/en-us/bing/search-apis/bing-news-search/overview"
  },
  "servers": [
    {
      "url": "https://api.bing.microsoft.com/v7.0",
      "description": "Bing News Search API v7"
    }
  ],
  "paths": {
    "/news": {
      "get": {
        "operationId": "getTopNews",
        "summary": "Get top news articles by category",
        "description": "Returns the top news articles by category. If no category is specified, returns top headline articles from various categories.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "News category (e.g., Business, Entertainment, Sports, Health, ScienceAndTechnology)"
          },
          {
            "name": "mkt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Market code (e.g., en-US)"
          },
          {
            "name": "cc",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "2-character country code"
          },
          {
            "name": "safeSearch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Off",
                "Moderate",
                "Strict"
              ]
            }
          },
          {
            "name": "setLang",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "UI language (ISO 639-1 or 4-letter code)"
          },
          {
            "name": "textDecorations",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "textFormat",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Raw",
                "HTML"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "News results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - missing or invalid subscription key"
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/news/search": {
      "get": {
        "operationId": "searchNews",
        "summary": "Search news articles",
        "description": "Returns news articles based on the user's search query.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User's search query term"
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            },
            "description": "Number of news articles to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Zero-based offset for pagination"
          },
          {
            "name": "freshness",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Day",
                "Week",
                "Month"
              ]
            },
            "description": "Filter by article age"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Date",
                "Relevance"
              ]
            },
            "description": "Sort order for results"
          },
          {
            "name": "originalImg",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include original image URL"
          },
          {
            "name": "mkt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Market code"
          },
          {
            "name": "cc",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "2-character country code"
          },
          {
            "name": "safeSearch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Off",
                "Moderate",
                "Strict"
              ]
            }
          },
          {
            "name": "setLang",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "textDecorations",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "textFormat",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Raw",
                "HTML"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/news/trendingtopics": {
      "get": {
        "operationId": "getTrendingTopics",
        "summary": "Get trending news topics",
        "description": "Returns news topics that are currently trending on social networks.",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "UNIX epoch timestamp to filter trending topics discovered on or after this date"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Date",
                "Relevance"
              ]
            },
            "description": "Sort order (required to be Date when using since parameter)"
          },
          {
            "name": "mkt",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cc",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "safeSearch",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Off",
                "Moderate",
                "Strict"
              ]
            }
          },
          {
            "name": "setLang",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "textDecorations",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "textFormat",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Raw",
                "HTML"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trending topics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendingTopicsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "description": "Azure subscription key for Bing Search"
      }
    },
    "schemas": {
      "NewsResponse": {
        "type": "object",
        "properties": {
          "_type": {
            "type": "string"
          },
          "readLink": {
            "type": "string"
          },
          "queryContext": {
            "type": "object",
            "properties": {
              "originalQuery": {
                "type": "string"
              },
              "adultIntent": {
                "type": "boolean"
              }
            }
          },
          "totalEstimatedMatches": {
            "type": "integer"
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "isSelected": {
                  "type": "boolean"
                },
                "url": {
                  "type": "string"
                }
              }
            }
          },
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NewsArticle"
            }
          }
        }
      },
      "NewsArticle": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "datePublished": {
            "type": "string",
            "format": "date-time"
          },
          "category": {
            "type": "string"
          },
          "image": {
            "$ref": "#/components/schemas/NewsImage"
          },
          "provider": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "NewsImage": {
        "type": "object",
        "properties": {
          "contentUrl": {
            "type": "string"
          },
          "thumbnail": {
            "type": "object",
            "properties": {
              "contentUrl": {
                "type": "string"
              },
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              }
            }
          }
        }
      },
      "TrendingTopicsResponse": {
        "type": "object",
        "properties": {
          "_type": {
            "type": "string"
          },
          "value": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "image": {
                  "$ref": "#/components/schemas/NewsImage"
                },
                "webSearchUrl": {
                  "type": "string"
                },
                "isBreakingNews": {
                  "type": "boolean"
                },
                "query": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    }
                  }
                },
                "newsSearchUrl": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ]
}