{
    "openapi": "3.0.0",
    "info": {
        "description": "Esta es la documentación con la que podrán interactuar con Contpaqi para generar diferentes tipos de documentos\n",
        "version": "1.0.0",
        "title": "API REST Beeusoft Contpaqi",
        "termsOfService": "http://beeusoft.mx/terms/",
        "contact": {
            "name": "api@beeusoft.mx"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "x-jentic-source-url": "https://api.swaggerhub.com/apis/luislun/api/1.0.0/swagger.json"
    },
    "paths": {
        "/invoices": {
            "post": {
                "tags": [
                    "invoice"
                ],
                "summary": "Crea una nueva factura y es mandada a timbrar a Adminpaq",
                "description": "Recibe todos los datos necesarios para generar una factura y estos son enviados a Adminpaq para generarla y timbrarla.",
                "operationId": "newInvoice",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Invoice"
                            }
                        }
                    },
                    "description": "Objeto con información de la factura.",
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Opreación realizada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Invoice"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Opreación recibida correctamente pero con inconvenientes para procesarce correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Petición erronea",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno"
                    }
                }
            }
        }
    },
    "servers": [
        {
            "url": "http://beeusoft.mx/v1"
        }
    ],
    "components": {
        "schemas": {
            "Item": {
                "type": "object",
                "properties": {
                    "descripcion": {
                        "type": "string",
                        "description": "Descripción del item a facturar"
                    },
                    "precioUnitario": {
                        "type": "number",
                        "description": "Precio unitario del item facturado"
                    },
                    "cantidad": {
                        "type": "integer",
                        "description": "Cantidad de items a facturar"
                    },
                    "total": {
                        "type": "number",
                        "description": "Monto total del item facturado"
                    }
                },
                "required": [
                    "descripcion",
                    "precioUnitario",
                    "cantidad",
                    "total"
                ]
            },
            "Invoice": {
                "type": "object",
                "properties": {
                    "UUID": {
                        "type": "string",
                        "description": "UUID del documento CFDI"
                    },
                    "rfcEmisor": {
                        "type": "string",
                        "description": "Rfc del emisor de la factura"
                    },
                    "receptor": {
                        "$ref": "#/components/schemas/contribuyente"
                    },
                    "detail": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Item"
                        }
                    }
                },
                "required": [
                    "rfcEmisor",
                    "receptor",
                    "detail"
                ]
            },
            "contribuyente": {
                "type": "object",
                "properties": {
                    "rfc": {
                        "type": "string",
                        "description": "RFC del contribuyente"
                    },
                    "nombre": {
                        "type": "string",
                        "description": "Nombre del contribuyente"
                    }
                },
                "required": [
                    "rfc",
                    "nombre"
                ]
            },
            "error": {
                "type": "object",
                "properties": {
                    "mensaje": {
                        "type": "string",
                        "description": "Descripción del mensaje de error"
                    },
                    "code": {
                        "type": "integer",
                        "description": "Código de error"
                    }
                },
                "required": [
                    "mensaje",
                    "code"
                ]
            }
        }
    }
}