{
  "openapi": "3.0.3",
  "info": {
    "title": "LemonInk API",
    "description": "The ebook watermarking API that makes it a breeze to add safe ebook sales to your webstore.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://github.com/lemonink/api-docs"
  },
  "servers": [
    {
      "url": "https://api.lemonink.co/v1"
    }
  ],
  "paths": {
    "/masters": {
      "post": {
        "operationId": "createMaster",
        "summary": "Create a master file",
        "description": "Creates a new master file container for ebook watermarking.",
        "tags": [
          "Masters"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "master"
                ],
                "properties": {
                  "master": {
                    "type": "object",
                    "required": [
                      "name"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the master file"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Master created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/masters/{id}": {
      "put": {
        "operationId": "updateMaster",
        "summary": "Update a master file",
        "description": "Modifies an existing master file's properties.",
        "tags": [
          "Masters"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The master file identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "master": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Updated name of the master file"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Master updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMaster",
        "summary": "Delete a master file",
        "description": "Removes a master file record.",
        "tags": [
          "Masters"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The master file identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Master deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/master_files": {
      "post": {
        "operationId": "uploadMasterFile",
        "summary": "Upload a file to a master",
        "description": "Attach an ebook file (EPUB, MOBI, or PDF) to a master record.",
        "tags": [
          "MasterFiles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "master_file[master_id]",
                  "master_file[file]",
                  "master_file[name]"
                ],
                "properties": {
                  "master_file[master_id]": {
                    "type": "string",
                    "description": "Master identifier to attach the file to"
                  },
                  "master_file[file]": {
                    "type": "string",
                    "format": "binary",
                    "description": "The ebook file (EPUB, MOBI, or PDF)"
                  },
                  "master_file[name]": {
                    "type": "string",
                    "description": "File name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterFileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/master_files/{id}": {
      "put": {
        "operationId": "updateMasterFile",
        "summary": "Update a master file attachment",
        "description": "Update file metadata for an attached file.",
        "tags": [
          "MasterFiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The master file attachment identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "master_file": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Updated file name"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MasterFileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMasterFile",
        "summary": "Delete a master file attachment",
        "description": "Remove an attached file from a master record.",
        "tags": [
          "MasterFiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The master file attachment identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "post": {
        "operationId": "createTransaction",
        "summary": "Create a watermarked transaction",
        "description": "Generate a watermarked version of an ebook. Use either watermark_value for direct text or watermark_params for template interpolation.",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token-based authentication. Use format: Token token=YOUR_API_KEY"
      }
    },
    "schemas": {
      "MasterResponse": {
        "type": "object",
        "properties": {
          "master": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique master identifier"
              },
              "name": {
                "type": "string",
                "description": "Master file name"
              }
            }
          }
        }
      },
      "MasterFileResponse": {
        "type": "object",
        "properties": {
          "master_file": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "File attachment identifier"
              },
              "master_id": {
                "type": "string",
                "description": "Associated master identifier"
              },
              "name": {
                "type": "string",
                "description": "File name"
              }
            }
          }
        }
      },
      "TransactionRequest": {
        "type": "object",
        "required": [
          "transaction"
        ],
        "properties": {
          "transaction": {
            "type": "object",
            "required": [
              "master_id"
            ],
            "properties": {
              "master_id": {
                "type": "string",
                "description": "Master file identifier"
              },
              "watermark_value": {
                "type": "string",
                "description": "Direct text to embed as watermark"
              },
              "watermark_params": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Key-value pairs for template interpolation"
              }
            }
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "transaction": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Transaction identifier"
              },
              "token": {
                "type": "string",
                "description": "Unique delivery token for download URL"
              },
              "watermark_value": {
                "type": "string",
                "description": "Applied watermark text"
              },
              "master_id": {
                "type": "string",
                "description": "Associated master identifier"
              },
              "user_id": {
                "type": "string",
                "description": "Account identifier"
              }
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Masters",
      "description": "Master file management"
    },
    {
      "name": "MasterFiles",
      "description": "Master file attachment operations"
    },
    {
      "name": "Transactions",
      "description": "Watermarking transactions"
    }
  ]
}