{
  "openapi": "3.0.3",
  "info": {
    "title": "Billetto API",
    "description": "Billetto Public API v3 for event management, ticketing, attendees, orders, financial reporting, webhooks, and audience management.",
    "version": "3.0.0",
    "contact": {
      "name": "Billetto",
      "url": "https://billetto.dk"
    },
    "x-jentic-source-url": "https://billetto.readme.io/reference#introduction"
  },
  "servers": [
    {
      "url": "https://billetto.dk/api/v3",
      "description": "Billetto API v3"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/organiser/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List Events",
        "description": "Returns the list of all events, sorted by creation date.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 10
            },
            "description": "Results per page"
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for forward pagination"
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for backward pagination"
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-delimited list of expansions"
          },
          {
            "name": "updated_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organiser/events/{event_id}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Retrieve Event",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details"
          }
        }
      }
    },
    "/organiser/events/{event_id}/attendees": {
      "get": {
        "operationId": "listEventAttendees",
        "summary": "List Event Attendees",
        "tags": [
          "Attendees"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attendees",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organiser/events/{event_id}/campaigns": {
      "get": {
        "operationId": "listEventCampaigns",
        "summary": "List Event Campaigns",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns"
          }
        }
      }
    },
    "/organiser/events/{event_id}/campaigns/{campaign_id}": {
      "get": {
        "operationId": "getEventCampaign",
        "summary": "Retrieve Event Campaign",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details"
          }
        }
      }
    },
    "/organiser/events/{event_id}/bi_report/": {
      "get": {
        "operationId": "getBusinessIntelligenceReport",
        "summary": "Get BI Report",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BI report JSON"
          }
        }
      }
    },
    "/organiser/events/{event_id}/bi_report/by_email/": {
      "post": {
        "operationId": "emailBusinessIntelligenceReport",
        "summary": "Email BI Report",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BI report sent by email"
          }
        }
      }
    },
    "/organiser/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List Orders",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organiser/orders/{id}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Retrieve Order",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details"
          }
        }
      }
    },
    "/organiser/attendees": {
      "get": {
        "operationId": "listAttendees",
        "summary": "List Attendees",
        "tags": [
          "Attendees"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attendees"
          }
        }
      }
    },
    "/organiser/attendees/{id}": {
      "get": {
        "operationId": "getAttendee",
        "summary": "Retrieve Attendee",
        "tags": [
          "Attendees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attendee details"
          }
        }
      }
    },
    "/organiser/ledger_entries": {
      "get": {
        "operationId": "listLedgerEntries",
        "summary": "List Ledger Entries",
        "tags": [
          "Financial"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ledger entries"
          }
        }
      }
    },
    "/organiser/ledger_entries/{id}": {
      "get": {
        "operationId": "getLedgerEntry",
        "summary": "Retrieve Ledger Entry",
        "tags": [
          "Financial"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ledger entry details"
          }
        }
      }
    },
    "/organiser/ticket_types": {
      "get": {
        "operationId": "listTicketTypes",
        "summary": "List Ticket Types",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ticket types"
          }
        }
      }
    },
    "/organiser/target_groups": {
      "get": {
        "operationId": "listTargetGroups",
        "summary": "List Target Groups",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of target groups"
          }
        }
      }
    },
    "/organiser/target_groups/{id}": {
      "get": {
        "operationId": "getTargetGroup",
        "summary": "Retrieve Target Group",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Target group details"
          }
        }
      },
      "delete": {
        "operationId": "deleteTargetGroup",
        "summary": "Delete Target Group",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Target group deleted"
          }
        }
      }
    },
    "/organiser/target_group_members": {
      "post": {
        "operationId": "createTargetGroupMember",
        "summary": "Create Target Group Member",
        "tags": [
          "Audiences"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member created"
          }
        }
      }
    },
    "/organiser/target_group_members/{id}": {
      "patch": {
        "operationId": "updateTargetGroupMember",
        "summary": "Update Target Group Member",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteTargetGroupMember",
        "summary": "Delete Target Group Member",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Member deleted"
          }
        }
      }
    },
    "/organiser/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List Webhooks",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create Webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          }
        }
      }
    },
    "/organiser/webhooks/{id}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Retrieve Webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details"
          }
        }
      },
      "patch": {
        "operationId": "updateWebhook",
        "summary": "Update Webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete Webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted"
          }
        }
      }
    },
    "/organiser/webhooks/{id}/secret": {
      "post": {
        "operationId": "generateWebhookSecret",
        "summary": "Generate Webhook Secret",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook secret generated"
          }
        }
      },
      "delete": {
        "operationId": "revokeWebhookSecret",
        "summary": "Revoke Webhook Secret",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook secret revoked"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Api-Keypair",
        "description": "API key authentication via Api-Keypair header"
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://billetto.dk/oauth/authorize",
            "tokenUrl": "https://billetto.dk/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "total": {
            "type": "integer"
          }
        }
      }
    }
  }
}