{
  "openapi": "3.0.3",
  "info": {
    "title": "eSignatures.com API",
    "description": "API for creating and managing electronic signature contracts, templates, and signers.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://esignatures.com/docs/api"
  },
  "servers": [
    {
      "url": "https://esignatures.com/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/contracts": {
      "post": {
        "operationId": "createContract",
        "summary": "Create a contract",
        "description": "Generate and send a contract to signers for signature collection.",
        "tags": [
          "Contracts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContractRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contractId}": {
      "get": {
        "operationId": "getContract",
        "summary": "Query a contract",
        "description": "Retrieve contract details including signer information and field values.",
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique contract identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contractId}/withdraw": {
      "post": {
        "operationId": "withdrawContract",
        "summary": "Withdraw a contract",
        "description": "Prevent further signing on an active contract.",
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique contract identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract withdrawal queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contractId}/generate_pdf_preview": {
      "post": {
        "operationId": "generatePdfPreview",
        "summary": "Generate PDF preview",
        "description": "Create a PDF preview of a contract and send download link via webhook.",
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique contract identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF generation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contractId}/signers": {
      "post": {
        "operationId": "addSigner",
        "summary": "Add a signer to a contract",
        "description": "Append a new signer to an existing contract.",
        "tags": [
          "Signers"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique contract identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signer addition queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contractId}/signers/{signerId}": {
      "post": {
        "operationId": "updateSigner",
        "summary": "Update a signer",
        "description": "Modify signer contact details on a contract.",
        "tags": [
          "Signers"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique contract identifier"
          },
          {
            "name": "signerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique signer identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSignerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signer update queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contractId}/signers/{signerId}/send_contract": {
      "post": {
        "operationId": "sendSignRequest",
        "summary": "Send or resend sign request",
        "description": "Dispatch or resend a signature request to a signer.",
        "tags": [
          "Signers"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique contract identifier"
          },
          {
            "name": "signerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique signer identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Sign request queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contractId}/signers/{signerId}/delete": {
      "post": {
        "operationId": "deleteSigner",
        "summary": "Delete a signer",
        "description": "Remove a signer from a contract.",
        "tags": [
          "Signers"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique contract identifier"
          },
          {
            "name": "signerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique signer identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Signer deletion queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List templates",
        "description": "Retrieve all available templates with metadata.",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Templates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTemplatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTemplate",
        "summary": "Create a template",
        "description": "Build a new document template with structured content.",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTemplateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{templateId}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Query a template",
        "description": "Retrieve template structure and available fields.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique template identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Template details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTemplateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateTemplate",
        "summary": "Update a template",
        "description": "Modify template content and settings.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique template identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template update queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{templateId}/copy": {
      "post": {
        "operationId": "copyTemplate",
        "summary": "Copy a template",
        "description": "Duplicate a template with customized placeholders.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique template identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template copied successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTemplateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{templateId}/delete": {
      "post": {
        "operationId": "deleteTemplate",
        "summary": "Delete a template",
        "description": "Remove a template permanently.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique template identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Template deletion queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{templateId}/collaborators": {
      "get": {
        "operationId": "listCollaborators",
        "summary": "List template collaborators",
        "description": "View all editors for a template.",
        "tags": [
          "Collaborators"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique template identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Collaborators retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollaboratorsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addCollaborator",
        "summary": "Add a template collaborator",
        "description": "Grant editing access to a template collaborator.",
        "tags": [
          "Collaborators"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique template identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCollaboratorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collaborator added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollaboratorsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{templateId}/collaborators/{collaboratorId}/remove": {
      "post": {
        "operationId": "removeCollaborator",
        "summary": "Remove a template collaborator",
        "description": "Revoke template editing permissions for a collaborator.",
        "tags": [
          "Collaborators"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique template identifier"
          },
          {
            "name": "collaboratorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique collaborator identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Collaborator removal queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueuedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API secret token retrieved from account API settings."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "QueuedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "queued"
          }
        }
      },
      "Signer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique signer identifier"
          },
          "name": {
            "type": "string",
            "description": "Signer full name"
          },
          "email": {
            "type": "string",
            "description": "Signer email address"
          },
          "mobile": {
            "type": "string",
            "description": "Signer mobile number"
          },
          "company_name": {
            "type": "string",
            "description": "Signer company name"
          },
          "sign_page_url": {
            "type": "string",
            "description": "URL for signer to sign the contract"
          },
          "signer_field_values": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Field values entered by the signer"
          }
        }
      },
      "Contract": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique contract identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "sent",
              "signed",
              "withdrawn"
            ],
            "description": "Current contract status"
          },
          "title": {
            "type": "string",
            "description": "Contract title"
          },
          "metadata": {
            "type": "string",
            "description": "Custom metadata string"
          },
          "source": {
            "type": "string",
            "enum": [
              "api",
              "ui",
              "zapier"
            ],
            "description": "How the contract was created"
          },
          "test": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "description": "Whether this is a test contract"
          },
          "contract_pdf_url": {
            "type": "string",
            "description": "URL to download the signed contract PDF (expires after 3 days)"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Contract labels"
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signer"
            }
          }
        }
      },
      "CreateContractRequest": {
        "type": "object",
        "required": [
          "template_id",
          "signers"
        ],
        "properties": {
          "template_id": {
            "type": "string",
            "description": "Template to use for the contract"
          },
          "title": {
            "type": "string",
            "description": "Contract title"
          },
          "locale": {
            "type": "string",
            "default": "en",
            "description": "Locale for the contract"
          },
          "metadata": {
            "type": "string",
            "description": "Custom metadata string"
          },
          "expires_in_hours": {
            "type": "string",
            "description": "Number of hours until the contract expires"
          },
          "custom_webhook_url": {
            "type": "string",
            "description": "Custom webhook URL for this contract"
          },
          "assigned_user_email": {
            "type": "string",
            "description": "Email of the user assigned to the contract"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Labels for the contract"
          },
          "test": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "description": "Whether this is a test contract"
          },
          "save_as_draft": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "description": "Save as draft instead of sending"
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignerRequest"
            },
            "description": "List of signers for the contract"
          },
          "placeholder_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceholderField"
            },
            "description": "Placeholder field values"
          },
          "signer_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignerFieldDefault"
            },
            "description": "Default values for signer fields"
          },
          "emails": {
            "$ref": "#/components/schemas/EmailSettings"
          },
          "custom_branding": {
            "$ref": "#/components/schemas/CustomBranding"
          }
        }
      },
      "SignerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Signer full name"
          },
          "email": {
            "type": "string",
            "description": "Signer email address"
          },
          "mobile": {
            "type": "string",
            "description": "Signer mobile number"
          },
          "company_name": {
            "type": "string",
            "description": "Signer company name"
          },
          "signing_order": {
            "type": "string",
            "description": "Order in which signer should sign"
          },
          "auto_sign": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "description": "Automatically sign for this signer"
          },
          "signature_request_delivery_methods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email",
                "sms"
              ]
            },
            "description": "How to deliver the signature request"
          },
          "signed_document_delivery_method": {
            "type": "string",
            "enum": [
              "email",
              "sms"
            ],
            "description": "How to deliver the signed document"
          },
          "multi_factor_authentications": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "sms_verification_code",
                "email_verification_code",
                "photo_id"
              ]
            },
            "description": "MFA methods required for signing"
          },
          "redirect_url": {
            "type": "string",
            "description": "URL to redirect signer after signing"
          }
        }
      },
      "UpdateSignerRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "signature_request_delivery_methods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "email",
                "sms"
              ]
            }
          },
          "signed_document_delivery_method": {
            "type": "string",
            "enum": [
              "email",
              "sms"
            ]
          },
          "multi_factor_authentications": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "sms_verification_code",
                "email_verification_code",
                "photo_id"
              ]
            }
          },
          "redirect_url": {
            "type": "string"
          }
        }
      },
      "PlaceholderField": {
        "type": "object",
        "properties": {
          "placeholder_key": {
            "type": "string",
            "description": "Key for the placeholder"
          },
          "value": {
            "type": "string",
            "description": "Value to substitute"
          },
          "document_elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentElement"
            },
            "description": "Document elements to insert"
          }
        }
      },
      "SignerFieldDefault": {
        "type": "object",
        "properties": {
          "signer_field_id": {
            "type": "string",
            "description": "Signer field identifier"
          },
          "default_value": {
            "type": "string",
            "description": "Default value for the field"
          }
        }
      },
      "EmailSettings": {
        "type": "object",
        "properties": {
          "signature_request_subject": {
            "type": "string",
            "description": "Custom subject for signature request email"
          },
          "signature_request_text": {
            "type": "string",
            "description": "Custom text for signature request email"
          },
          "final_contract_subject": {
            "type": "string",
            "description": "Custom subject for final contract email"
          },
          "final_contract_text": {
            "type": "string",
            "description": "Custom text for final contract email"
          },
          "cc_email_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "CC email addresses"
          },
          "reply_to": {
            "type": "string",
            "description": "Reply-to email address"
          }
        }
      },
      "CustomBranding": {
        "type": "object",
        "properties": {
          "company_name": {
            "type": "string",
            "description": "Company name for branding"
          },
          "logo_url": {
            "type": "string",
            "description": "URL for company logo"
          }
        }
      },
      "DocumentElement": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Element type"
          },
          "text": {
            "type": "string",
            "description": "Text content"
          },
          "text_alignment": {
            "type": "string",
            "enum": [
              "center",
              "right",
              "justify"
            ]
          },
          "auto_counter": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ]
          },
          "text_styles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TextStyle"
            }
          },
          "depth": {
            "type": "number",
            "description": "Nesting depth"
          },
          "signer_field_assigned_to": {
            "type": "string",
            "description": "Signer role assigned to this field"
          },
          "signer_field_id": {
            "type": "string",
            "description": "Signer field identifier"
          },
          "signer_field_required": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ]
          },
          "signer_field_dropdown_options": {
            "type": "string",
            "description": "Comma-separated dropdown options"
          },
          "signer_field_default_value": {
            "type": "string"
          },
          "signer_field_placeholder_text": {
            "type": "string"
          },
          "signer_field_masked": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ]
          },
          "image_base64": {
            "type": "string",
            "description": "Base64-encoded image"
          },
          "image_alignment": {
            "type": "string",
            "enum": [
              "center",
              "right"
            ]
          },
          "image_height_rem": {
            "type": "number",
            "description": "Image height in rem"
          },
          "image_download_enabled": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ]
          },
          "table_cells": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "template_id": {
            "type": "string",
            "description": "Reference to another template"
          }
        }
      },
      "TextStyle": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "number",
            "description": "Character offset"
          },
          "length": {
            "type": "number",
            "description": "Number of characters"
          },
          "style": {
            "type": "string",
            "enum": [
              "bold",
              "italic",
              "underline"
            ],
            "description": "Style to apply"
          }
        }
      },
      "CreateContractResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "queued"
          },
          "data": {
            "type": "object",
            "properties": {
              "contract": {
                "$ref": "#/components/schemas/Contract"
              }
            }
          }
        }
      },
      "GetContractResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "contract": {
                "$ref": "#/components/schemas/Contract"
              }
            }
          }
        }
      },
      "CreateTemplateRequest": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Template title"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Template labels"
          },
          "document_elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentElement"
            },
            "description": "Document elements defining the template content"
          }
        }
      },
      "UpdateTemplateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "document_elements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentElement"
            }
          }
        }
      },
      "CopyTemplateRequest": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title for the copied template"
          },
          "placeholder_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceholderField"
            }
          },
          "target_api_key": {
            "type": "string",
            "description": "API key of the target account for cross-account copy"
          }
        }
      },
      "CreateTemplateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "template_id": {
                  "type": "string",
                  "description": "ID of the created template"
                }
              }
            }
          }
        }
      },
      "GetTemplateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "template_id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp"
              },
              "placeholder_fields": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "signer_field_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "document_elements": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DocumentElement"
                }
              }
            }
          }
        }
      },
      "ListTemplatesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "template_id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Collaborator": {
        "type": "object",
        "properties": {
          "template_collaborator_id": {
            "type": "string",
            "description": "Unique collaborator identifier"
          },
          "template_id": {
            "type": "string",
            "description": "Associated template identifier"
          },
          "name": {
            "type": "string",
            "description": "Collaborator name"
          },
          "email": {
            "type": "string",
            "description": "Collaborator email"
          },
          "template_collaborator_editor_url": {
            "type": "string",
            "description": "URL for collaborator to edit the template"
          }
        }
      },
      "CollaboratorsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Collaborator"
            }
          }
        }
      },
      "AddCollaboratorRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Collaborator name"
          },
          "email": {
            "type": "string",
            "description": "Collaborator email address"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ],
  "tags": [
    {
      "name": "Contracts",
      "description": "Manage contracts"
    },
    {
      "name": "Signers",
      "description": "Manage contract signers"
    },
    {
      "name": "Templates",
      "description": "Manage document templates"
    },
    {
      "name": "Collaborators",
      "description": "Manage template collaborators"
    }
  ]
}