{
  "openapi": "3.0.3",
  "info": {
    "title": "Olivya API",
    "description": "Olivya is a platform for creating and scaling AI phone agents. This API provides Zapier integration endpoints for managing calls, agents, and phone numbers.",
    "version": "v1",
    "x-jentic-source-url": "https://docs.olivya.io/guide/zapier-integration"
  },
  "servers": [
    {
      "url": "https://console.olivya.io",
      "description": "Olivya Console API"
    }
  ],
  "paths": {
    "/create_zap_call": {
      "post": {
        "summary": "Create a Zapier call",
        "description": "Initiates an AI phone call via Zapier integration.",
        "operationId": "createZapCall",
        "tags": [
          "Calls"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/list_phones": {
      "get": {
        "summary": "List phone numbers",
        "description": "Retrieve available phone numbers for the authenticated account.",
        "operationId": "listPhones",
        "tags": [
          "Phone Numbers"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Phone numbers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhonesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/list_agents": {
      "get": {
        "summary": "List agents",
        "description": "Retrieve available AI agents for the authenticated account.",
        "operationId": "listAgents",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Agents retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/subscribe": {
      "post": {
        "summary": "Subscribe to notifications",
        "description": "Subscribe to event notifications via webhook.",
        "operationId": "subscribe",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/unsubscribe": {
      "delete": {
        "summary": "Unsubscribe from notifications",
        "description": "Remove a webhook subscription.",
        "operationId": "unsubscribe",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnsubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsubscribed successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sample_zap_data": {
      "get": {
        "summary": "Get sample Zapier data",
        "description": "Retrieve sample data for Zapier trigger testing.",
        "operationId": "getSampleZapData",
        "tags": [
          "Zapier"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sample data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/me": {
      "get": {
        "summary": "Get current user",
        "description": "Retrieve the current authenticated user or account information.",
        "operationId": "getMe",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateCallRequest": {
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string",
            "description": "Phone number to call"
          },
          "agent_id": {
            "type": "string",
            "description": "ID of the AI agent to use"
          },
          "from_number": {
            "type": "string",
            "description": "Caller ID phone number"
          }
        }
      },
      "CallResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PhonesListResponse": {
        "type": "object",
        "properties": {
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "number": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "AgentsListResponse": {
        "type": "object",
        "properties": {
          "agents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SubscribeRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Webhook URL to receive notifications"
          },
          "event": {
            "type": "string",
            "description": "Event type to subscribe to"
          }
        }
      },
      "SubscriptionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "event": {
            "type": "string"
          }
        }
      },
      "UnsubscribeRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Subscription ID to remove"
          }
        }
      },
      "AccountInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    }
  }
}