{
  "openapi": "3.0.3",
  "info": {
    "title": "Semantria API",
    "description": "Text Analytics API with sentiment analysis, categorization, and named entity extraction. Semantria is a SaaS text analytics service from Lexalytics that provides natural language processing capabilities including sentiment analysis, entity recognition, theme extraction, categorization, and more.",
    "version": "6.30",
    "contact": {
      "name": "Lexalytics",
      "url": "https://www.lexalytics.com"
    }
  },
  "servers": [
    {
      "url": "https://api5.semantria.com",
      "description": "Semantria API (North America)"
    }
  ],
  "security": [
    {
      "Api_Auth": []
    }
  ],
  "paths": {
    "/auth/sessions": {
      "get": {
        "operationId": "getAllSessions",
        "summary": "Get All User Sessions",
        "description": "Retrieve all active sessions for the authenticated user.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "List of sessions retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserSession"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSession",
        "summary": "Create Semantria Session",
        "description": "Authenticate and create a new Semantria session. Returns an access token used for authenticating subsequent API calls.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "x-api-version",
            "in": "header",
            "description": "API version specification.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "login",
                  "password"
                ],
                "properties": {
                  "login": {
                    "type": "string",
                    "description": "Account login name or email."
                  },
                  "password": {
                    "type": "string",
                    "description": "Account password."
                  },
                  "expiration": {
                    "type": "string",
                    "description": "Type of expiration.",
                    "enum": [
                      "default",
                      "custom",
                      "forever"
                    ],
                    "default": "default"
                  },
                  "expire_after_minutes": {
                    "type": "string",
                    "description": "Minutes until token expires. Requires expiration=custom."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Purpose or use of this token."
                  },
                  "renewal_type": {
                    "type": "string",
                    "description": "How expiration time is updated.",
                    "enum": [
                      "auto",
                      "manual"
                    ],
                    "default": "auto"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSession"
                }
              }
            }
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    },
    "/auth/sessions/{sessionId}": {
      "get": {
        "operationId": "getSession",
        "summary": "Get Semantria Session",
        "description": "Retrieve details of an existing Semantria session.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The id of the session. Same as the auth token received when the session was created.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSession"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSession",
        "summary": "Delete Semantria Session",
        "description": "Remove an active Semantria session, effectively logging out the user.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The id of the session. Same as the auth token received when the session was created.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session deleted successfully."
          }
        }
      }
    },
    "/details": {
      "get": {
        "operationId": "getAccountDetails",
        "summary": "Get Account Details",
        "description": "Retrieve account information including balance, features, languages, and limits.",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Account details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDetails"
                }
              }
            }
          }
        }
      }
    },
    "/configs": {
      "get": {
        "operationId": "getConfigurations",
        "summary": "Get All Configurations",
        "description": "Retrieve all configurations for the account.",
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "description": "The security group to retrieve configurations from.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_deleted",
            "in": "query",
            "description": "Flag to return soft-deleted configurations.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configurations retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Configuration"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Access denied."
          }
        }
      },
      "post": {
        "operationId": "createConfiguration",
        "summary": "Create Configuration",
        "description": "Create a new configuration for text analysis.",
        "tags": [
          "Configurations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          }
        }
      }
    },
    "/configs/{configId}": {
      "put": {
        "operationId": "updateConfiguration",
        "summary": "Update Configuration",
        "description": "Update an existing configuration.",
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "required": true,
            "description": "Configuration identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteConfiguration",
        "summary": "Delete Configuration",
        "description": "Delete an existing configuration.",
        "tags": [
          "Configurations"
        ],
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "required": true,
            "description": "Configuration identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration deleted successfully."
          }
        }
      }
    },
    "/documents": {
      "post": {
        "operationId": "queueDocuments",
        "summary": "Queue Documents for Analysis",
        "description": "Send a single document or a batch of documents to be analyzed by Semantria.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "x-api-version",
            "in": "header",
            "description": "API version specification.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DocumentInput"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documents queued successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QueuedDocument"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getProcessedDocuments",
        "summary": "Get Processed Documents",
        "description": "Poll for documents processed by Semantria for an account.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "x-api-version",
            "in": "header",
            "description": "API version specification.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Processed documents retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProcessedDocument"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/collections": {
      "post": {
        "operationId": "queueCollections",
        "summary": "Queue Collections for Analysis",
        "description": "Send a collection of documents to be analyzed as a group.",
        "tags": [
          "Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CollectionInput"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collections queued successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QueuedCollection"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getProcessedCollections",
        "summary": "Get Processed Collections",
        "description": "Poll for collections processed by Semantria.",
        "tags": [
          "Collections"
        ],
        "responses": {
          "200": {
            "description": "Processed collections retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProcessedCollection"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/blacklist": {
      "get": {
        "operationId": "getBlacklist",
        "summary": "Get Blacklist Items",
        "description": "Retrieve all blacklisted items for a configuration.",
        "tags": [
          "Blacklists"
        ],
        "parameters": [
          {
            "name": "config_id",
            "in": "query",
            "description": "Configuration identifier to retrieve blacklist for.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blacklist items retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlacklistItem"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addBlacklistItems",
        "summary": "Add Blacklist Items",
        "description": "Add items to the blacklist for a configuration.",
        "tags": [
          "Blacklists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BlacklistItem"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blacklist items added successfully."
          }
        }
      },
      "delete": {
        "operationId": "deleteBlacklistItems",
        "summary": "Delete All Blacklist Items",
        "description": "Remove all items from the blacklist.",
        "tags": [
          "Blacklists"
        ],
        "responses": {
          "200": {
            "description": "Blacklist items deleted successfully."
          }
        }
      }
    },
    "/taxonomy": {
      "get": {
        "operationId": "getTaxonomy",
        "summary": "Get Taxonomy",
        "description": "Retrieve taxonomy nodes for a configuration.",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [
          {
            "name": "config_id",
            "in": "query",
            "description": "Configuration identifier.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Taxonomy retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaxonomyNode"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addTaxonomyNodes",
        "summary": "Add Taxonomy Nodes",
        "description": "Add taxonomy nodes to a configuration.",
        "tags": [
          "Taxonomy"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TaxonomyNode"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Taxonomy nodes added successfully."
          }
        }
      }
    },
    "/entities": {
      "get": {
        "operationId": "getUserEntities",
        "summary": "Get User Entities",
        "description": "Retrieve user-defined entities for a configuration.",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "name": "config_id",
            "in": "query",
            "description": "Configuration identifier.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User entities retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserEntity"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addUserEntities",
        "summary": "Add User Entities",
        "description": "Add user-defined entities to a configuration.",
        "tags": [
          "Entities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserEntity"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User entities added successfully."
          }
        }
      }
    },
    "/topics": {
      "get": {
        "operationId": "getTopics",
        "summary": "Get Query Topics",
        "description": "Retrieve query-defined topics for a configuration.",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "name": "config_id",
            "in": "query",
            "description": "Configuration identifier.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Topics retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addTopics",
        "summary": "Add Query Topics",
        "description": "Add query-defined topics to a configuration.",
        "tags": [
          "Topics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Topic"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Topics added successfully."
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "getAllUsers",
        "summary": "Get All Users",
        "description": "Retrieve all users for the account.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Users retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "summary": "Create User",
        "description": "Create a new user for the account.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get User",
        "description": "Retrieve a specific user by ID.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update User",
        "description": "Update an existing user.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete User",
        "description": "Delete a user from the account.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully."
          }
        }
      }
    },
    "/features": {
      "get": {
        "operationId": "getFeatures",
        "summary": "Get Features",
        "description": "Retrieve available NLP features and supported languages.",
        "tags": [
          "Features"
        ],
        "responses": {
          "200": {
            "description": "Features retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Available NLP features."
                    },
                    "languages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Language"
                      },
                      "description": "Supported languages."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/statistics": {
      "get": {
        "operationId": "getStatistics",
        "summary": "Get Statistics",
        "description": "Retrieve usage statistics for the account.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "config_id",
            "in": "query",
            "description": "Configuration identifier to filter statistics.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Time interval for statistics aggregation.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documents_processed": {
                      "type": "integer",
                      "description": "Total documents processed."
                    },
                    "collections_processed": {
                      "type": "integer",
                      "description": "Total collections processed."
                    },
                    "api_calls": {
                      "type": "integer",
                      "description": "Total API calls made."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Api_Auth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API authentication token obtained from the Create Session endpoint."
      }
    },
    "schemas": {
      "UserSession": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The token passed as a header to authenticate other calls to the Semantria API."
          },
          "account_id": {
            "type": "string",
            "description": "Account identifier."
          },
          "authenticated": {
            "type": "string",
            "format": "date-time",
            "description": "UTC time and date the session was created."
          },
          "expiration": {
            "type": "string",
            "format": "date-time",
            "description": "UTC time and date the session will expire."
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of the groups the authenticated user is a member of."
          },
          "notes": {
            "type": "string",
            "description": "Optional notes about the session purpose."
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            },
            "description": "List of permissions for the user."
          },
          "renewal_type": {
            "type": "string",
            "enum": [
              "AUTO",
              "MANUAL",
              "NONE"
            ],
            "description": "How the session expiration is renewed."
          },
          "user_id": {
            "type": "string",
            "description": "User identifier."
          },
          "user_login": {
            "type": "string",
            "description": "Login name for the account."
          }
        }
      },
      "Permission": {
        "type": "object",
        "properties": {
          "config_id": {
            "type": "string",
            "description": "Configuration identifier."
          },
          "description": {
            "type": "string",
            "description": "Permission description."
          },
          "permission_type": {
            "type": "string",
            "description": "Type of permission."
          }
        }
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Unique account identifier."
          },
          "name": {
            "type": "string",
            "description": "Account name."
          },
          "email": {
            "type": "string",
            "description": "Account email address."
          },
          "license_id": {
            "type": "string",
            "readOnly": true,
            "description": "Unique license identifier."
          },
          "current_balance": {
            "type": "integer",
            "description": "Remaining documents for processing cycle."
          },
          "current_speech_balance": {
            "type": "number",
            "description": "Remaining speech-to-text minutes."
          },
          "current_translation_balance": {
            "type": "integer",
            "description": "Remaining translation characters."
          },
          "expiration_date": {
            "type": "string",
            "format": "date",
            "description": "Account expiration date."
          },
          "registration_date": {
            "type": "string",
            "format": "date",
            "description": "Account registration date."
          },
          "state": {
            "type": "string",
            "enum": [
              "NEW",
              "CONFIRMED"
            ],
            "description": "Account state."
          },
          "edition_id": {
            "type": "string",
            "readOnly": true,
            "description": "Edition identifier."
          },
          "edition_name": {
            "type": "string",
            "readOnly": true,
            "description": "Edition name."
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available NLP features (BASE_NLP, ENTITIES, THEMES, SENTIMENT, etc.)."
          },
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "Available languages."
          },
          "industry_packs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            },
            "description": "Industry-specific NLP tuning packages."
          },
          "limits": {
            "type": "object",
            "description": "Account limit values."
          },
          "app_mask": {
            "type": "string",
            "description": "Service access level."
          },
          "job_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Associated job identifiers."
          }
        }
      },
      "Configuration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Unique configuration identifier."
          },
          "name": {
            "type": "string",
            "description": "Configuration name."
          },
          "language_id": {
            "type": "string",
            "description": "Language identifier."
          },
          "language_name": {
            "type": "string",
            "readOnly": true,
            "description": "Language name."
          },
          "settings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "NLP features enabled (ENTITIES, SENTIMENT, THEMES, etc.)."
          },
          "modification_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "description": "Last edit timestamp."
          },
          "creation_date": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "description": "Creation timestamp."
          },
          "callback_url": {
            "type": "string",
            "description": "Webhook destination for processed data."
          },
          "is_autoresponse_enabled": {
            "type": "boolean",
            "description": "Whether auto-response mode is enabled."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Configuration tags."
          }
        }
      },
      "ConfigurationInput": {
        "type": "object",
        "required": [
          "name",
          "language_id"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Configuration name."
          },
          "language_id": {
            "type": "string",
            "description": "Language identifier."
          },
          "settings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "NLP features to enable."
          },
          "callback_url": {
            "type": "string",
            "description": "Webhook destination for processed data."
          },
          "is_autoresponse_enabled": {
            "type": "boolean",
            "description": "Whether auto-response mode is enabled."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Configuration tags."
          }
        }
      },
      "DocumentInput": {
        "type": "object",
        "required": [
          "id",
          "text"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique document identifier."
          },
          "text": {
            "type": "string",
            "description": "Text content to analyze."
          },
          "config_id": {
            "type": "string",
            "description": "Configuration to use for analysis."
          },
          "tag": {
            "type": "string",
            "description": "Custom tag for the document."
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata for the document."
          },
          "job_id": {
            "type": "string",
            "description": "Job identifier for batch processing."
          }
        }
      },
      "QueuedDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Document identifier."
          },
          "status": {
            "type": "string",
            "description": "Queue status."
          }
        }
      },
      "ProcessedDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Document identifier."
          },
          "config_id": {
            "type": "string",
            "description": "Configuration used for analysis."
          },
          "status": {
            "type": "string",
            "description": "Processing status.",
            "enum": [
              "PROCESSED",
              "FAILED"
            ]
          },
          "sentiment_score": {
            "type": "number",
            "description": "Overall sentiment score."
          },
          "sentiment_polarity": {
            "type": "string",
            "description": "Sentiment polarity (positive, negative, neutral)."
          },
          "themes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Theme"
            },
            "description": "Extracted themes."
          },
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Entity"
            },
            "description": "Extracted named entities."
          },
          "topics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTopic"
            },
            "description": "Matched topics."
          },
          "auto_categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            },
            "description": "Auto-detected categories."
          },
          "language": {
            "type": "string",
            "description": "Detected language."
          },
          "summary": {
            "type": "string",
            "description": "Document summary."
          }
        }
      },
      "CollectionInput": {
        "type": "object",
        "required": [
          "id",
          "documents"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique collection identifier."
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of text documents to analyze as a collection."
          },
          "config_id": {
            "type": "string",
            "description": "Configuration to use for analysis."
          },
          "tag": {
            "type": "string",
            "description": "Custom tag for the collection."
          }
        }
      },
      "QueuedCollection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Collection identifier."
          },
          "status": {
            "type": "string",
            "description": "Queue status."
          }
        }
      },
      "ProcessedCollection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Collection identifier."
          },
          "config_id": {
            "type": "string",
            "description": "Configuration used."
          },
          "status": {
            "type": "string",
            "description": "Processing status."
          },
          "themes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Theme"
            },
            "description": "Extracted themes across the collection."
          },
          "entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Entity"
            },
            "description": "Extracted entities across the collection."
          },
          "topics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentTopic"
            },
            "description": "Matched topics across the collection."
          }
        }
      },
      "Theme": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Theme title."
          },
          "sentiment_score": {
            "type": "number",
            "description": "Sentiment score for this theme."
          },
          "sentiment_polarity": {
            "type": "string",
            "description": "Sentiment polarity."
          },
          "evidence": {
            "type": "integer",
            "description": "Evidence strength."
          }
        }
      },
      "Entity": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Entity name."
          },
          "type": {
            "type": "string",
            "description": "Entity type (Person, Company, Place, etc.)."
          },
          "sentiment_score": {
            "type": "number",
            "description": "Sentiment score for this entity."
          },
          "sentiment_polarity": {
            "type": "string",
            "description": "Sentiment polarity."
          },
          "evidence": {
            "type": "integer",
            "description": "Evidence strength."
          }
        }
      },
      "DocumentTopic": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Topic title."
          },
          "type": {
            "type": "string",
            "description": "Topic type."
          },
          "sentiment_score": {
            "type": "number",
            "description": "Sentiment score."
          },
          "strength_score": {
            "type": "number",
            "description": "Match strength score."
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Category title."
          },
          "type": {
            "type": "string",
            "description": "Category type."
          },
          "strength_score": {
            "type": "number",
            "description": "Category strength score."
          }
        }
      },
      "BlacklistItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Blacklist item identifier."
          },
          "name": {
            "type": "string",
            "description": "Word or phrase to blacklist."
          },
          "config_id": {
            "type": "string",
            "description": "Associated configuration identifier."
          }
        }
      },
      "TaxonomyNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Taxonomy node identifier."
          },
          "name": {
            "type": "string",
            "description": "Node name."
          },
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxonomyNode"
            },
            "description": "Child nodes."
          },
          "config_id": {
            "type": "string",
            "description": "Associated configuration identifier."
          }
        }
      },
      "UserEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Entity identifier."
          },
          "name": {
            "type": "string",
            "description": "Entity name."
          },
          "type": {
            "type": "string",
            "description": "Entity type."
          },
          "config_id": {
            "type": "string",
            "description": "Associated configuration identifier."
          }
        }
      },
      "Topic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Topic identifier."
          },
          "name": {
            "type": "string",
            "description": "Topic name."
          },
          "query": {
            "type": "string",
            "description": "Topic query expression."
          },
          "config_id": {
            "type": "string",
            "description": "Associated configuration identifier."
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "User identifier."
          },
          "login": {
            "type": "string",
            "description": "User login name."
          },
          "email": {
            "type": "string",
            "description": "User email."
          },
          "name": {
            "type": "string",
            "description": "User display name."
          },
          "state": {
            "type": "string",
            "description": "User state."
          }
        }
      },
      "UserInput": {
        "type": "object",
        "required": [
          "login",
          "email"
        ],
        "properties": {
          "login": {
            "type": "string",
            "description": "User login name."
          },
          "email": {
            "type": "string",
            "description": "User email."
          },
          "name": {
            "type": "string",
            "description": "User display name."
          },
          "password": {
            "type": "string",
            "description": "User password."
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Language identifier."
          },
          "name": {
            "type": "string",
            "description": "Language name."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Accounts"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Blacklists"
    },
    {
      "name": "Collections"
    },
    {
      "name": "Configurations"
    },
    {
      "name": "Documents"
    },
    {
      "name": "Entities"
    },
    {
      "name": "Features"
    },
    {
      "name": "Statistics"
    },
    {
      "name": "Taxonomy"
    },
    {
      "name": "Topics"
    },
    {
      "name": "Users"
    }
  ]
}
