{
  "openapi": "3.0.3",
  "info": {
    "title": "Maysee API",
    "version": "2.0.0",
    "description": "Maysee is a business card management API that allows counting, retrieving, searching, and creating business card data.",
    "x-jentic-source-url": "https://maysee.jp/api_document_en.pdf",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://maysee.jp"
    }
  ],
  "paths": {
    "/api2/profiles/count": {
      "get": {
        "operationId": "getBusinessCardCount",
        "summary": "Get the number of business card data",
        "tags": [
          "Business Cards"
        ],
        "parameters": [
          {
            "name": "session",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Count response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get the number of business card data"
      }
    },
    "/api2/profiles/json": {
      "get": {
        "operationId": "getBusinessCards",
        "summary": "Get business card data as JSON",
        "description": "Returns business card data sorted by creation date. Maximum 100 records per request.",
        "tags": [
          "Business Cards"
        ],
        "parameters": [
          {
            "name": "session",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Business card ID or @twitterid"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            },
            "description": "Number of cards to retrieve"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Position of first card"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search condition"
          }
        ],
        "responses": {
          "200": {
            "description": "Business card data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinessCard"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api2/profiles/create": {
      "post": {
        "operationId": "createBusinessCard",
        "summary": "Create a business card",
        "tags": [
          "Business Cards"
        ],
        "parameters": [
          {
            "name": "session",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/BusinessCardCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a business card"
      }
    }
  },
  "components": {
    "schemas": {
      "BusinessCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "twitter_id": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "company_kana": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "familyname": {
            "type": "string"
          },
          "givenname": {
            "type": "string"
          },
          "familyname_kana": {
            "type": "string"
          },
          "givenname_kana": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "building": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "fax": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "mine": {
            "type": "string"
          },
          "users": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "memos": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "BusinessCardCreateRequest": {
        "type": "object",
        "properties": {
          "company": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "company_kana": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "building": {
            "type": "string"
          },
          "familyname": {
            "type": "string"
          },
          "givenname": {
            "type": "string"
          },
          "familyname_kana": {
            "type": "string"
          },
          "givenname_kana": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "fax": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "twitter_id": {
            "type": "string"
          },
          "facebook_id": {
            "type": "string"
          },
          "memo": {
            "type": "string"
          },
          "labels": {
            "type": "string",
            "description": "Comma separated labels"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Business Cards"
    }
  ]
}
