{
  "openapi": "3.0.3",
  "info": {
    "title": "Drips API",
    "version": "2.0.0",
    "description": "Drips conversational outreach API for managing records, disqualified numbers, and reports.",
    "x-jentic-source-url": "https://docs.drips.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api-v2.drips.com"
    }
  ],
  "paths": {
    "/Record/Insert/{apiKey}": {
      "post": {
        "operationId": "insertRecord",
        "summary": "Insert a new record",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordInsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Insert a new record"
      }
    },
    "/Record/Closed/{apiKey}": {
      "post": {
        "operationId": "closeRecord",
        "summary": "Mark a record as closed",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "Phone"
                ],
                "properties": {
                  "Phone": {
                    "type": "string"
                  },
                  "CountryCode": {
                    "type": "integer",
                    "default": 1
                  },
                  "WebhookURL": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Mark a record as closed"
      }
    },
    "/Record/Converted/{apiKey}": {
      "post": {
        "operationId": "convertRecord",
        "summary": "Mark a record as converted",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "Phone"
                ],
                "properties": {
                  "Phone": {
                    "type": "string"
                  },
                  "CountryCode": {
                    "type": "integer",
                    "default": 1
                  },
                  "SoldEarned": {
                    "type": "number"
                  },
                  "WebhookURL": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Mark a record as converted"
      }
    },
    "/Record/Disposition/{apiKey}": {
      "post": {
        "operationId": "updateDisposition",
        "summary": "Update record disposition",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "Phone"
                ],
                "properties": {
                  "Phone": {
                    "type": "string"
                  },
                  "CountryCode": {
                    "type": "integer",
                    "default": 1
                  },
                  "Disposition": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "WebhookURL": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update record disposition"
      }
    },
    "/Disqualified/Insert/{apiKey}": {
      "post": {
        "operationId": "insertDisqualifiedRecord",
        "summary": "Insert a disqualified record",
        "tags": [
          "Disqualified"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "Phone"
                ],
                "properties": {
                  "Phone": {
                    "type": "string"
                  },
                  "CountryCode": {
                    "type": "integer",
                    "default": 1
                  },
                  "WebhookURL": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Insert a disqualified record"
      }
    },
    "/Disqualified/ExportRecords/{apiKey}": {
      "get": {
        "operationId": "exportDisqualifiedRecords",
        "summary": "Export disqualified records",
        "tags": [
          "Disqualified"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv",
                "tsv"
              ],
              "default": "json"
            }
          },
          {
            "name": "pullFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Export disqualified records"
      }
    },
    "/Reports/ScheduledCalls/{apiKey}": {
      "get": {
        "operationId": "exportScheduledCalls",
        "summary": "Export scheduled calls",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv",
                "tsv"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Export scheduled calls"
      }
    }
  },
  "components": {
    "schemas": {
      "RecordInsertRequest": {
        "type": "object",
        "required": [
          "Phone",
          "Postal"
        ],
        "properties": {
          "Phone": {
            "type": "string"
          },
          "CountryCode": {
            "type": "integer",
            "default": 1
          },
          "Postal": {
            "type": "string"
          },
          "State": {
            "type": "string"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "LeadID": {
            "type": "string"
          },
          "DID": {
            "type": "string"
          },
          "WebhookURL": {
            "type": "string"
          },
          "Sub1": {
            "type": "string"
          },
          "Sub2": {
            "type": "string"
          },
          "Sub3": {
            "type": "string"
          },
          "Sub4": {
            "type": "string"
          }
        }
      },
      "RecordResponse": {
        "type": "object",
        "properties": {
          "Token": {
            "type": "string"
          },
          "Success": {
            "type": "boolean"
          },
          "ResponseCode": {
            "type": "integer"
          },
          "Message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyPath": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "apiKeyPath": []
    }
  ],
  "tags": [
    {
      "name": "Disqualified"
    },
    {
      "name": "Records"
    },
    {
      "name": "Reports"
    }
  ]
}
