{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "api@abitari.com"
    },
    "description": "Abitari Integration Autoinstall api",
    "title": "Abitari Integration Autoinstall api",
    "version": "0.1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/EloiHernandezTarrago/abitari-integration_autoinstall_api/0.1.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.abitari.com/autoinstall"
    }
  ],
  "paths": {
    "/interface/activate": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Abitari to Integration"
        ],
        "description": "Activate Integration for the requested place.\n",
        "operationId": "post-interface-activate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InterfaceActivationRequest"
              }
            }
          },
          "description": "Interface activation request",
          "required": true
        },
        "summary": "Activate a new interface"
      }
    },
    "/rest-auth/login": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorized"
          }
        },
        "tags": [
          "Abitari to Integration"
        ],
        "description": "Obtain a session token.\n",
        "operationId": "post-rest-auth-login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "description": "Login request",
          "required": true
        },
        "summary": "Login"
      }
    },
    "/system": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SystemResponseElement"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Abitari to Integration"
        ],
        "description": "Get all the information regarding System information.",
        "operationId": "get-system",
        "summary": "Get all the information regarding System information."
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "format": "int32",
            "type": "integer"
          },
          "fields": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code"
        ],
        "type": "object"
      },
      "InterfaceActivationRequest": {
        "properties": {
          "activation_form_answer": {
            "items": {
              "properties": {
                "key": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "key",
                "value"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "place_id": {
            "description": "Unique identifier representing a place.",
            "type": "string"
          },
          "system_id": {
            "description": "Unique identifier representing a system. Can be obtained via GET /system",
            "type": "string"
          }
        },
        "required": [
          "place_id",
          "system_id",
          "activation_form_answer"
        ],
        "type": "object"
      },
      "LoginRequest": {
        "properties": {
          "password": {
            "description": "The password that the external system must user in order to perform a login in Abitari. Provided in POST /integration.",
            "type": "string"
          },
          "username": {
            "description": "Username that the external system must use in order to perform a login in Abitari. Provided in POST /integration.",
            "type": "string"
          }
        },
        "required": [
          "username",
          "password"
        ],
        "type": "object"
      },
      "LoginResponse": {
        "properties": {
          "token": {
            "description": "Access token to be set in the header of Messaging requests (Authorization, Token k23jñdflakj21lk3j...).",
            "type": "string"
          }
        },
        "required": [
          "token"
        ],
        "type": "object"
      },
      "SystemResponseElement": {
        "properties": {
          "activation_form_keys": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "activation_type": {
            "description": "Auto if no manual action is required from the user, toggle if an action must be performed manually by him, blocking if the action is required from the System company.",
            "enum": [
              "auto",
              "toggle",
              "blocking"
            ],
            "type": "string"
          },
          "data_groups": {
            "items": {
              "properties": {
                "id": {
                  "description": "Unique identifier representing a DataGroup",
                  "type": "string"
                },
                "name_key": {
                  "description": "Verbose name representing the type of data the group has.",
                  "enum": [
                    "rooms",
                    "reservations",
                    "guests"
                  ],
                  "type": "string"
                },
                "sequence_number": {
                  "description": "Position in the sequence of data coming from the System when a resync is triggered.",
                  "type": "integer"
                }
              },
              "required": [
                "id",
                "name_key",
                "sequence_number"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "id": {
            "description": "Unique identifier representing a System.",
            "type": "string"
          },
          "is_cloud": {
            "description": "True if all system instances run on the same url.",
            "type": "boolean"
          },
          "name": {
            "description": "Understandable name for the user.",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "is_cloud",
          "activation_type"
        ],
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "Abitari to Integration"
    }
  ]
}