{
  "swagger": "2.0",
  "info": {
    "title": "Abitari Integration Autoinstall api",
    "description": "Abitari Integration Autoinstall api",
    "version": "0.1.0",
    "contact": {
      "email": "api@abitari.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/EloiHernandezTarrago/abitari-integration_autoinstall_api/0.1.0/swagger.json"
  },
  "host": "api.abitari.com",
  "schemes": [
    "https"
  ],
  "basePath": "/autoinstall",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/rest-auth/login": {
      "post": {
        "summary": "Login",
        "description": "Obtain a session token.\n",
        "tags": [
          "Abitari to Integration"
        ],
        "parameters": [
          {
            "name": "login",
            "in": "body",
            "description": "Login request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-rest-auth-login"
      }
    },
    "/interface/activate": {
      "post": {
        "summary": "Activate a new interface",
        "description": "Activate Integration for the requested place.\n",
        "tags": [
          "Abitari to Integration"
        ],
        "parameters": [
          {
            "name": "interface activation",
            "in": "body",
            "description": "Interface activation request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InterfaceActivationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-interface-activate"
      }
    },
    "/system": {
      "get": {
        "summary": "Get all the information regarding System information.",
        "tags": [
          "Abitari to Integration"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SystemResponseElement"
              }
            }
          }
        },
        "description": "Get all the information regarding System information.",
        "operationId": "get-system"
      }
    }
  },
  "definitions": {
    "LoginRequest": {
      "type": "object",
      "required": [
        "username",
        "password"
      ],
      "properties": {
        "username": {
          "type": "string",
          "description": "Username that the external system must use in order to perform a login in Abitari. Provided in POST /integration."
        },
        "password": {
          "type": "string",
          "description": "The password that the external system must user in order to perform a login in Abitari. Provided in POST /integration."
        }
      }
    },
    "LoginResponse": {
      "type": "object",
      "required": [
        "token"
      ],
      "properties": {
        "token": {
          "type": "string",
          "description": "Access token to be set in the header of Messaging requests (Authorization, Token k23j\u00f1dflakj21lk3j...)."
        }
      }
    },
    "InterfaceActivationRequest": {
      "type": "object",
      "required": [
        "place_id",
        "system_id",
        "activation_form_answer"
      ],
      "properties": {
        "place_id": {
          "type": "string",
          "description": "Unique identifier representing a place."
        },
        "system_id": {
          "type": "string",
          "description": "Unique identifier representing a system. Can be obtained via GET /system"
        },
        "activation_form_answer": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "key",
              "value"
            ],
            "properties": {
              "key": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "SystemResponseElement": {
      "type": "object",
      "required": [
        "id",
        "name",
        "is_cloud",
        "activation_type"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing a System."
        },
        "name": {
          "type": "string",
          "description": "Understandable name for the user."
        },
        "is_cloud": {
          "type": "boolean",
          "description": "True if all system instances run on the same url."
        },
        "activation_type": {
          "type": "string",
          "enum": [
            "auto",
            "toggle",
            "blocking"
          ],
          "description": "Auto if no manual action is required from the user, toggle if an action must be performed manually by him, blocking if the action is required from the System company."
        },
        "activation_form_keys": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "data_groups": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "id",
              "name_key",
              "sequence_number"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier representing a DataGroup"
              },
              "name_key": {
                "type": "string",
                "enum": [
                  "rooms",
                  "reservations",
                  "guests"
                ],
                "description": "Verbose name representing the type of data the group has."
              },
              "sequence_number": {
                "type": "integer",
                "description": "Position in the sequence of data coming from the System when a resync is triggered."
              }
            }
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "required": [
        "code"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Abitari to Integration"
    }
  ]
}
