{
  "openapi": "3.0.3",
  "servers": [
    {
      "description": "API EU",
      "url": "https://api.cloud.hypatos.ai/v2"
    },
    {
      "description": "API US",
      "url": "https://api.cloud.hypatos.com/v2"
    }
  ],
  "info": {
    "version": "0.2.1",
    "title": "Auth Service",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/hypatos.ai/auth-service/0.2.1/swagger.json",
    "contact": {},
    "description": "Auth Service"
  },
  "tags": [
    {
      "name": "Authorization",
      "description": "Endpoints for handling the [OAuth 2.0 Client Credentials Grant](https://www.rfc-editor.org/rfc/rfc6749#section-4.4) flow."
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Request an access token",
        "operationId": "requestAccessToken",
        "description": "Request an access token using your client credentials",
        "security": [
          {
            "Basic": []
          }
        ],
        "responses": {
          "200": {
            "description": "Access token provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Client Credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://api.swaggerhub.com/domains/hypatos.ai/Common/0.0.1#/components/schemas/Error"
                },
                "example": {
                  "detail": "The provided client credentials are not valid",
                  "status": 401,
                  "title": "Invalid client credentials"
                }
              }
            }
          },
          "429": {
            "$ref": "https://api.swaggerhub.com/domains/hypatos.ai/Common/0.0.7#/components/responses/RateLimitExceeded"
          }
        },
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            }
          },
          "description": "Access token request"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/auth/token",
            "scopes": {
              "companies.read": "Read companies",
              "documents.read": "Read documents",
              "documents.write": "Edit your documents",
              "enrichment.read": "Read enrichment training data",
              "enrichment.write": "Create/edit enrichment training data",
              "enrichment.delete": "Delete enrichment training data",
              "files.read": "Uploading files for processing",
              "files.write": "Downloading uploaded files",
              "projects.write": "Create/edit projects data",
              "projects.read": "Read projects data",
              "emails.read": "Read emails data"
            }
          }
        }
      },
      "Basic": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "AccessTokenRequest": {
        "type": "object",
        "required": [
          "grant_type"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "client_credentials"
            ]
          }
        }
      },
      "AccessTokenResponse": {
        "type": "object",
        "required": [
          "access_token",
          "token_type",
          "expires_in"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The access token issued by the authorization server",
            "example": "MTQ0NjJkZmQ5OTM2NDE1ZTZjNGZmZjI3"
          },
          "expires_in": {
            "type": "integer",
            "description": "The lifetime of the access token in seconds",
            "example": 3600
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "scope": {
            "type": "string",
            "description": "Scopes allowed for the client",
            "example": "documents.write projects.write"
          }
        }
      }
    }
  }
}
