{
  "openapi": "3.0.3",
  "info": {
    "title": "Toodledo API",
    "version": "2.0.0",
    "description": "Toodledo task management API for managing tasks, folders, contexts, goals, and notes.",
    "x-jentic-source-url": "https://api.toodledo.com/2/",
    "contact": {}
  },
  "servers": [
    {
      "url": "http://api.toodledo.com/2"
    }
  ],
  "paths": {
    "/tasks/get.php": {
      "get": {
        "operationId": "getTasks",
        "summary": "Get tasks",
        "description": "Returns a list of tasks matching search parameters",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modafter",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "GMT unix timestamp"
            }
          },
          {
            "name": "modbefore",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "comp",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                -1,
                0,
                1
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "num",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1000
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tasks/add.php": {
      "post": {
        "operationId": "addTasks",
        "summary": "Add tasks",
        "description": "Add up to 50 tasks at a time",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "tasks": {
                    "type": "string",
                    "description": "JSON array of task objects"
                  },
                  "fields": {
                    "type": "string"
                  }
                },
                "required": [
                  "key",
                  "tasks"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tasks added"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tasks/edit.php": {
      "post": {
        "operationId": "editTasks",
        "summary": "Edit tasks",
        "description": "Edit up to 50 tasks at a time",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "tasks": {
                    "type": "string"
                  },
                  "reschedule": {
                    "type": "string"
                  }
                },
                "required": [
                  "key",
                  "tasks"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tasks edited"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tasks/delete.php": {
      "post": {
        "operationId": "deleteTasks",
        "summary": "Delete tasks",
        "description": "Permanently delete up to 50 tasks",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "tasks": {
                    "type": "string"
                  }
                },
                "required": [
                  "key",
                  "tasks"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tasks deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tasks/deleted.php": {
      "get": {
        "operationId": "getDeletedTasks",
        "summary": "Get deleted tasks",
        "description": "Detect when a task was deleted",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tasks/reassign.php": {
      "post": {
        "operationId": "reassignTask",
        "summary": "Reassign task",
        "description": "Reassign a task to a collaborator",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "assign": {
                    "type": "integer"
                  }
                },
                "required": [
                  "key",
                  "id",
                  "assign"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task reassigned"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tasks/share.php": {
      "post": {
        "operationId": "shareTask",
        "summary": "Share task",
        "description": "Jointly share a task with collaborators",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "share": {
                    "type": "string"
                  }
                },
                "required": [
                  "key",
                  "id",
                  "share"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task shared"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Tasks"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
