{
  "openapi": "3.0.3",
  "info": {
    "title": "Arrangr API",
    "version": "1.0",
    "description": "Arrangr meeting scheduling API. Subscribe and unsubscribe to webhooks for meeting events including scheduled meetings, sent/received invitations, event RSVPs, and poll responses.",
    "x-jentic-source-url": "https://arrangr.com/pdfs/ArrangrAPIDocumentation.pdf"
  },
  "servers": [
    {
      "url": "https://arrangr.com/api/v1",
      "description": "Arrangr Production API"
    }
  ],
  "paths": {
    "/webhooks/subscribe": {
      "post": {
        "summary": "Subscribe to a webhook",
        "description": "Subscribe to a webhook on behalf of an Arrangr user. When a webhook is triggered, Arrangr sends a POST request to the hookUrl with a JSON body containing the event type and details.",
        "operationId": "subscribeWebhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully subscribed to webhook"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/webhooks/unsubscribe": {
      "post": {
        "summary": "Unsubscribe from a webhook",
        "description": "Unsubscribe from a webhook on behalf of an Arrangr user.",
        "operationId": "unsubscribeWebhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUnsubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully unsubscribed from webhook"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 Bearer token"
      }
    },
    "schemas": {
      "WebhookSubscribeRequest": {
        "type": "object",
        "required": [
          "hookEvent",
          "hookUrl"
        ],
        "properties": {
          "hookEvent": {
            "type": "string",
            "description": "The event to receive webhooks for",
            "enum": [
              "scheduled_1on1",
              "sent_1on1",
              "received_1on1",
              "received_event_rsvp",
              "received_poll_response"
            ]
          },
          "hookUrl": {
            "type": "string",
            "format": "uri",
            "description": "The URL where you want to receive the webhooks"
          }
        }
      },
      "WebhookUnsubscribeRequest": {
        "type": "object",
        "required": [
          "hookEvent"
        ],
        "properties": {
          "hookEvent": {
            "type": "string",
            "description": "The event to unsubscribe from",
            "enum": [
              "scheduled_1on1",
              "sent_1on1",
              "received_1on1",
              "received_event_rsvp",
              "received_poll_response"
            ]
          }
        }
      },
      "User": {
        "type": "object",
        "description": "User information object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "TimeSlot": {
        "type": "object",
        "description": "A proposed time slot for a meeting",
        "properties": {
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "Start time of the time slot"
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "description": "End time of the time slot"
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "description": "Webhook event payload sent by Arrangr",
        "properties": {
          "event": {
            "type": "string",
            "description": "The hook event type"
          },
          "details": {
            "type": "object",
            "description": "Event-specific detail fields"
          }
        }
      },
      "ScheduledMeetingDetails": {
        "type": "object",
        "description": "Details for scheduled_1on1 event",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the scheduled meeting"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "is_all_day": {
            "type": "boolean"
          },
          "in_person": {
            "type": "boolean"
          },
          "remote": {
            "type": "boolean"
          },
          "video": {
            "type": "boolean"
          },
          "voice": {
            "type": "boolean"
          },
          "location": {
            "type": "string"
          },
          "call_method": {
            "type": "string",
            "description": "Name of the call method (Phone, Zoom, UberConference, etc.)"
          },
          "call_details": {
            "type": "string",
            "description": "Details on how to connect"
          },
          "meeting_url": {
            "type": "string",
            "format": "uri",
            "description": "Arrangr URL to view meeting details"
          }
        }
      },
      "SentInvitationDetails": {
        "type": "object",
        "description": "Details for sent_1on1 event",
        "properties": {
          "id": {
            "type": "string"
          },
          "recipient": {
            "$ref": "#/components/schemas/User"
          },
          "num_time_slots": {
            "type": "integer"
          },
          "earliest": {
            "type": "string",
            "format": "date-time"
          },
          "latest": {
            "type": "string",
            "format": "date-time"
          },
          "time_slots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "any_in_person": {
            "type": "boolean"
          },
          "any_remote": {
            "type": "boolean"
          },
          "any_video": {
            "type": "boolean"
          },
          "any_voice": {
            "type": "boolean"
          },
          "num_places": {
            "type": "integer"
          },
          "num_call_methods": {
            "type": "integer"
          },
          "is_counter_invite": {
            "type": "boolean"
          },
          "is_reschedule_invite": {
            "type": "boolean"
          },
          "manage_invite_url": {
            "type": "string",
            "format": "uri"
          },
          "view_invite_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ReceivedInvitationDetails": {
        "type": "object",
        "description": "Details for received_1on1 event",
        "properties": {
          "id": {
            "type": "string"
          },
          "sender": {
            "$ref": "#/components/schemas/User"
          },
          "num_time_slots": {
            "type": "integer"
          },
          "earliest": {
            "type": "string",
            "format": "date-time"
          },
          "latest": {
            "type": "string",
            "format": "date-time"
          },
          "time_slots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSlot"
            }
          },
          "any_in_person": {
            "type": "boolean"
          },
          "any_remote": {
            "type": "boolean"
          },
          "any_video": {
            "type": "boolean"
          },
          "any_voice": {
            "type": "boolean"
          },
          "num_places": {
            "type": "integer"
          },
          "num_call_methods": {
            "type": "integer"
          },
          "is_counter_invite": {
            "type": "boolean"
          },
          "is_reschedule_invite": {
            "type": "boolean"
          },
          "invite_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ReceivedEventRsvpDetails": {
        "type": "object",
        "description": "Details for received_event_rsvp event",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "rsvp_user": {
            "$ref": "#/components/schemas/User"
          },
          "rsvp": {
            "type": "string",
            "enum": [
              "attending",
              "not_attending",
              "maybe_attending"
            ]
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "is_all_day": {
            "type": "boolean"
          },
          "in_person": {
            "type": "boolean"
          },
          "remote": {
            "type": "boolean"
          },
          "video": {
            "type": "boolean"
          },
          "voice": {
            "type": "boolean"
          },
          "location": {
            "type": "string"
          },
          "call_method": {
            "type": "string"
          },
          "call_details": {
            "type": "string"
          },
          "event_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ReceivedPollResponseDetails": {
        "type": "object",
        "description": "Details for received_poll_response event",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "response_from_user": {
            "$ref": "#/components/schemas/User"
          },
          "num_time_slots": {
            "type": "integer"
          },
          "earliest": {
            "type": "string",
            "format": "date-time"
          },
          "latest": {
            "type": "string",
            "format": "date-time"
          },
          "in_person": {
            "type": "boolean"
          },
          "remote": {
            "type": "boolean"
          },
          "video": {
            "type": "boolean"
          },
          "voice": {
            "type": "boolean"
          },
          "num_places": {
            "type": "integer"
          },
          "num_call_methods": {
            "type": "integer"
          },
          "poll_url": {
            "type": "string",
            "format": "uri"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}