{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "Admin Service API",
    "title": "Admin Service API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/uday730/AdminServiceAPI/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://apim-enterpriseservicesandbx.azure-api.net/adminserviceAPI"
    }
  ],
  "paths": {
    "/CreateUser": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json;": {
                "schema": {
                  "$ref": "#/components/schemas/createUserResponse"
                }
              }
            },
            "description": "The OK response"
          }
        },
        "tags": [
          "Create User"
        ],
        "description": "Createuser",
        "operationId": "CreateUser",
        "requestBody": {
          "content": {
            "application/json;": {
              "schema": {
                "$ref": "#/components/schemas/createUserRequest"
              }
            }
          },
          "description": "Save User Details with Roles",
          "required": true
        }
      }
    }
  },
  "components": {
    "schemas": {
      "addRoles": {
        "properties": {
          "rolePk": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "createUserRequest": {
        "properties": {
          "companyId": {
            "format": "int32",
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "personRoles": {
            "items": {
              "$ref": "#/components/schemas/addRoles"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "createUserResponse": {
        "properties": {
          "companyId": {
            "format": "int32",
            "type": "integer"
          },
          "displayName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "tempPassword": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://zelisdevb2c.b2clogin.com/zelisdevb2c.onmicrosoft.com/b2c_1a_signup_signin_hrd/oauth2/v2.0/authorize",
            "scopes": {
              "https://zelisdevb2c.onmicrosoft.com/4fcfad86-3860-4c07-92fc-415d749d51ef/demo.read": "demo.read"
            },
            "tokenUrl": "https://zelisdevb2c.b2clogin.com/zelisdevb2c.onmicrosoft.com/b2c_1a_signup_signin_hrd/oauth2/v2.0/token"
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Create User"
    }
  ]
}