{
  "openapi": "3.0.3",
  "info": {
    "title": "Scoop.it API",
    "description": "Scoop.it is a content curation platform. The API provides programmatic access to user profiles, curated topics, posts, notifications, search, suggestion engines, and recipient lists. Supports both anonymous access (read-only with consumer token) and authenticated access (full read/write with OAuth 2.0).",
    "version": "1.0.0",
    "contact": {
      "name": "Scoop.it",
      "url": "https://www.scoop.it"
    },
    "x-jentic-source-url": "http://www.scoop.it/dev"
  },
  "servers": [
    {
      "url": "https://www.scoop.it/api/1",
      "description": "Production API v1"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Profile",
      "description": "User profile operations"
    },
    {
      "name": "Topics",
      "description": "Topic management and retrieval"
    },
    {
      "name": "Posts",
      "description": "Post creation, curation, and management"
    },
    {
      "name": "Notifications",
      "description": "User notification retrieval"
    },
    {
      "name": "Search",
      "description": "Search for users, topics, and posts"
    },
    {
      "name": "Compilation",
      "description": "Post compilation feeds"
    },
    {
      "name": "Resolver",
      "description": "Resolve objects by short name"
    },
    {
      "name": "Interests",
      "description": "Interest categories"
    },
    {
      "name": "Suggestion Engines",
      "description": "Content suggestion engine management"
    },
    {
      "name": "Recipients",
      "description": "Recipient list management"
    },
    {
      "name": "Test",
      "description": "Authentication testing"
    }
  ],
  "paths": {
    "/profile": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get user profile",
        "description": "Retrieve a user's profile data including curated topics, followed topics, tags, and statistics.",
        "tags": [
          "Profile"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "User ID. If omitted along with shortName, returns the authenticated user's profile.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "shortName",
            "in": "query",
            "description": "User short name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "curated",
            "in": "query",
            "description": "Number of curated posts per topic to include.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "curable",
            "in": "query",
            "description": "Number of curable posts to include.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "ncomments",
            "in": "query",
            "description": "Number of comments per post to include.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "getCuratedTopics",
            "in": "query",
            "description": "Whether to include curated topics.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "getFollowedTopics",
            "in": "query",
            "description": "Whether to include followed topics.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "getTags",
            "in": "query",
            "description": "Whether to include tags.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "getCreator",
            "in": "query",
            "description": "Whether to include creator information.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "getStats",
            "in": "query",
            "description": "Whether to include statistics.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "filterCuratedTopicsByCreationDateFrom",
            "in": "query",
            "description": "Filter curated topics created after this timestamp (ms since epoch).",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filterCuratedTopicsByCreationDateTo",
            "in": "query",
            "description": "Filter curated topics created before this timestamp (ms since epoch).",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/topic": {
      "get": {
        "operationId": "getTopic",
        "summary": "Get topic",
        "description": "Retrieve a topic and its curated/curable posts. Requires either id or urlName.",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Topic ID. Required unless urlName is provided.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "urlName",
            "in": "query",
            "description": "Topic URL name. Required unless id is provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "curated",
            "in": "query",
            "description": "Number of curated posts to return.",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for curated posts.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "curable",
            "in": "query",
            "description": "Number of curable (suggested) posts to return.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "curablePage",
            "in": "query",
            "description": "Page number for curable posts.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order for posts. Required if 'since' is not provided.",
            "schema": {
              "type": "string",
              "enum": [
                "tag",
                "search",
                "curationDate",
                "user"
              ]
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Tag(s) to filter by. Required when order is 'tag'.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search query. Required when order is 'search'.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Return posts newer than this timestamp (ms since epoch).",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Return posts older than this timestamp (ms since epoch).",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ncomments",
            "in": "query",
            "description": "Number of comments per post.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "showScheduled",
            "in": "query",
            "description": "Include scheduled posts.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Topic data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Topic"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "topicAction",
        "summary": "Perform topic action",
        "description": "Execute an action on a topic: edit, reorder, follow, unfollow, or markread.",
        "tags": [
          "Topics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "id"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "edit",
                      "reorder",
                      "follow",
                      "unfollow",
                      "markread"
                    ],
                    "description": "Action to perform on the topic."
                  },
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Topic ID."
                  },
                  "name": {
                    "type": "string",
                    "description": "New topic name (edit action)."
                  },
                  "description": {
                    "type": "string",
                    "description": "New topic description (edit action)."
                  },
                  "lang": {
                    "type": "string",
                    "description": "Topic language (edit action)."
                  },
                  "postId[]": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "description": "Post IDs for reordering (reorder action)."
                  },
                  "start": {
                    "type": "integer",
                    "description": "Start position for reordering (reorder action)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Topic"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/post": {
      "get": {
        "operationId": "getPost",
        "summary": "Get post",
        "description": "Retrieve a single post by ID.",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Post ID.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ncomments",
            "in": "query",
            "description": "Number of comments to include.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "postAction",
        "summary": "Perform post action",
        "description": "Execute an action on a post: prepare, create, comment, thank, accept (curate), forward, refuse, delete, edit, pin, rescoop, or share.",
        "tags": [
          "Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "prepare",
                      "create",
                      "comment",
                      "thank",
                      "accept",
                      "forward",
                      "refuse",
                      "delete",
                      "edit",
                      "pin",
                      "rescoop",
                      "share"
                    ],
                    "description": "Action to perform."
                  },
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Post ID (required for most actions except prepare and create)."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL to prepare or create a post from."
                  },
                  "title": {
                    "type": "string",
                    "description": "Post title."
                  },
                  "content": {
                    "type": "string",
                    "description": "Post content/body."
                  },
                  "insight": {
                    "type": "string",
                    "description": "Curator's insight or commentary."
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "URL of the post image."
                  },
                  "topicId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Target topic ID."
                  },
                  "destTopicId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Destination topic ID (rescoop action)."
                  },
                  "tag[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to assign to the post."
                  },
                  "commentText": {
                    "type": "string",
                    "description": "Comment text (comment action)."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Refusal reason (refuse action)."
                  },
                  "shareOn": {
                    "type": "string",
                    "description": "JSON object specifying sharing targets."
                  },
                  "directLink": {
                    "type": "boolean",
                    "description": "Whether the post links directly to the source URL."
                  },
                  "resolveUrl": {
                    "type": "boolean",
                    "description": "Whether to resolve the URL (create action)."
                  },
                  "publicationDate": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Publication date as timestamp in ms since epoch."
                  },
                  "scheduleDate": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Schedule date as timestamp in ms since epoch."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/test": {
      "get": {
        "operationId": "testAuth",
        "summary": "Test authentication",
        "description": "Verify authentication credentials. Returns the connected user object or null if anonymous.",
        "tags": [
          "Test"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Connected user or null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "operationId": "getNotifications",
        "summary": "Get notifications",
        "description": "Retrieve user notifications since a given timestamp.",
        "tags": [
          "Notifications"
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": true,
            "description": "Return notifications after this timestamp (ms since epoch).",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Notification"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/compilation": {
      "get": {
        "operationId": "getCompilation",
        "summary": "Get post compilation",
        "description": "Retrieve a compiled feed of posts from specified topics or topic groups.",
        "tags": [
          "Compilation"
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": true,
            "description": "Return posts since this timestamp (ms since epoch).",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": true,
            "description": "Maximum number of posts to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "rss",
                "timeline"
              ]
            }
          },
          {
            "name": "topicIds",
            "in": "query",
            "description": "Topic IDs to include.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "topicGroupId",
            "in": "query",
            "description": "Topic group ID.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "ncomments",
            "in": "query",
            "description": "Number of comments per post.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "getTags",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "getTagsForTopic",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "getStatsForTopic",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post compilation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "search",
        "summary": "Search users, topics, or posts",
        "description": "Search across the Scoop.it platform for users, topics, or posts.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Type of object to search for.",
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "topic",
                "post"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language filter.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "topicId",
            "in": "query",
            "description": "Restrict search to a specific topic.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "getTags",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "getCreator",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "getStats",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeEmptyTopics",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resolver": {
      "get": {
        "operationId": "resolve",
        "summary": "Resolve object by short name",
        "description": "Resolve a User or Topic object by its short name to get its ID.",
        "tags": [
          "Resolver"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Object type to resolve.",
            "schema": {
              "type": "string",
              "enum": [
                "User",
                "Topic"
              ]
            }
          },
          {
            "name": "shortName",
            "in": "query",
            "required": true,
            "description": "Short name to resolve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resolved object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/interest": {
      "get": {
        "operationId": "getInterest",
        "summary": "Get interest",
        "description": "Retrieve an interest category and optionally its associated topics, users, and posts.",
        "tags": [
          "Interests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Interest ID. Required unless shortName is provided.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "shortName",
            "in": "query",
            "description": "Interest short name. Required unless id is provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "getTopics",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "getUsers",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "getPosts",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "curated",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ncomments",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "getTags",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "getCreator",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "getStats",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Interest data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Interest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/interest-list": {
      "get": {
        "operationId": "listInterests",
        "summary": "List all interests",
        "description": "Retrieve all available interest categories.",
        "tags": [
          "Interests"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Language for interest names.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Interest list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Interest"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sse": {
      "get": {
        "operationId": "getSmartSourceEngine",
        "summary": "Get Smart Source Engine config",
        "description": "Retrieve the Smart Source Engine configuration for a topic.",
        "tags": [
          "Suggestion Engines"
        ],
        "parameters": [
          {
            "name": "topic",
            "in": "query",
            "required": true,
            "description": "Topic ID.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "active": {
                      "type": "boolean"
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "updateSmartSourceEngine",
        "summary": "Update Smart Source Engine config",
        "description": "Update the Smart Source Engine configuration for a topic.",
        "tags": [
          "Suggestion Engines"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "topic"
                ],
                "properties": {
                  "topic": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Topic ID."
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Whether the SSE is active."
                  },
                  "keyword": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Keywords for content discovery."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated SSE configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "active": {
                      "type": "boolean"
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/se": {
      "get": {
        "operationId": "listSuggestionEngines",
        "summary": "List suggestion engines",
        "description": "Retrieve all suggestion engines for the authenticated user.",
        "tags": [
          "Suggestion Engines"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Suggestion engine list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuggestionEngine"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "updateSuggestionEngine",
        "summary": "Update suggestion engine",
        "description": "Update the configuration of a suggestion engine.",
        "tags": [
          "Suggestion Engines"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "keywords"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Suggestion engine ID."
                  },
                  "sorter": {
                    "type": "string",
                    "enum": [
                      "relevance",
                      "freshness",
                      "popularity"
                    ],
                    "description": "Sort method for suggestions."
                  },
                  "maxSuggestionAge": {
                    "type": "integer",
                    "description": "Maximum age of suggestions in days. -1 for no limit."
                  },
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Keywords for the engine."
                  },
                  "includedDomains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "excludedDomains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "containsAllKeyword": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "containsAnyKeyword": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "doesNotContainKeywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/se/{engineId}/sources": {
      "get": {
        "operationId": "listEngineSources",
        "summary": "List suggestion engine sources",
        "description": "Retrieve all sources configured for a suggestion engine.",
        "tags": [
          "Suggestion Engines"
        ],
        "parameters": [
          {
            "name": "engineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Source"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "put": {
        "operationId": "createEngineSource",
        "summary": "Create suggestion engine source",
        "description": "Add a new managed source to a suggestion engine.",
        "tags": [
          "Suggestion Engines"
        ],
        "parameters": [
          {
            "name": "engineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Source name."
                  },
                  "type": {
                    "type": "string",
                    "description": "Source type (e.g., rss, twitter_follow_user, twitter_search, twitter_list, webpage, advanced_search)."
                  },
                  "rssUrl": {
                    "type": "string",
                    "description": "RSS feed URL (required if type is rss)."
                  },
                  "twitterUser": {
                    "type": "string",
                    "description": "Twitter username (for twitter_follow_user type)."
                  },
                  "twitterSearchQuery": {
                    "type": "string",
                    "description": "Twitter search query (for twitter_search type)."
                  },
                  "twitterListName": {
                    "type": "string",
                    "description": "Twitter list name (for twitter_list type)."
                  },
                  "twitterListOwner": {
                    "type": "string",
                    "description": "Twitter list owner (for twitter_list type)."
                  },
                  "webpageUrl": {
                    "type": "string",
                    "description": "Webpage URL (for webpage type)."
                  },
                  "query": {
                    "type": "string",
                    "description": "Search query (for advanced_search type)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created source",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Source"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/se/{engineId}/sources/{sourceId}": {
      "post": {
        "operationId": "updateEngineSource",
        "summary": "Update source name",
        "description": "Update the name of a suggestion engine source.",
        "tags": [
          "Suggestion Engines"
        ],
        "parameters": [
          {
            "name": "engineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "New source name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "deleteEngineSource",
        "summary": "Delete suggestion engine source",
        "description": "Remove a source from a suggestion engine.",
        "tags": [
          "Suggestion Engines"
        ],
        "parameters": [
          {
            "name": "engineId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "sourceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/sugs": {
      "get": {
        "operationId": "getSuggestions",
        "summary": "Get suggestions",
        "description": "Retrieve content suggestions from a suggestion engine.",
        "tags": [
          "Suggestion Engines"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Suggestion engine ID.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "savedSearchId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of suggestions (max 1000).",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Suggestions list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "refreshSuggestions",
        "summary": "Refresh suggestions",
        "description": "Refresh specific suggestions by their IDs.",
        "tags": [
          "Suggestion Engines"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "sugId"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Suggestion engine ID."
                  },
                  "sugId": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Suggestion IDs to refresh."
                  },
                  "savedSearchId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refreshed suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/recipients-list": {
      "get": {
        "operationId": "listRecipientLists",
        "summary": "List recipient lists",
        "description": "Retrieve all recipient lists for the authenticated user.",
        "tags": [
          "Recipients"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Recipient lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecipientList"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "manageRecipientList",
        "summary": "Subscribe or unsubscribe recipient",
        "description": "Add or remove an email address from a recipient list.",
        "tags": [
          "Recipients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "email",
                  "action"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Recipient list ID."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address to subscribe or unsubscribe."
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "subscribe",
                      "unsubscribe"
                    ],
                    "description": "Action to perform."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "BadRequest": {
        "description": "Bad request. Missing or invalid parameters.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized. Invalid or missing authentication credentials.",
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden. Insufficient permissions for this operation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code."
          }
        }
      },
      "User": {
        "type": "object",
        "description": "A Scoop.it user profile.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "shortName": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string",
            "description": "URL of user's avatar image."
          },
          "smallAvatarUrl": {
            "type": "string"
          },
          "mediumAvatarUrl": {
            "type": "string"
          },
          "largeAvatarUrl": {
            "type": "string"
          },
          "curatedTopics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Topic"
            }
          },
          "followedTopics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Topic"
            }
          }
        }
      },
      "Topic": {
        "type": "object",
        "description": "A curated topic (collection of posts).",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "shortName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "creator": {
            "$ref": "#/components/schemas/User"
          },
          "curatedPostCount": {
            "type": "integer"
          },
          "unreadPostCount": {
            "type": "integer"
          },
          "isPrivate": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopicTag"
            }
          },
          "stats": {
            "$ref": "#/components/schemas/TopicStats"
          },
          "curatedPosts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          },
          "curablePosts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          }
        }
      },
      "Post": {
        "type": "object",
        "description": "A curated post within a topic.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "htmlContent": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "scoopUrl": {
            "type": "string",
            "description": "URL on Scoop.it for this post."
          },
          "source": {
            "$ref": "#/components/schemas/Source"
          },
          "author": {
            "$ref": "#/components/schemas/User"
          },
          "publicationDate": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp in ms since epoch."
          },
          "curationDate": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp in ms since epoch."
          },
          "insight": {
            "type": "string",
            "description": "Curator's insight or commentary."
          },
          "imageUrl": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopicTag"
            }
          },
          "commentsCount": {
            "type": "integer"
          },
          "pageViews": {
            "type": "integer",
            "format": "int64"
          },
          "pageClicks": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Source": {
        "type": "object",
        "description": "Content source specification.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "iconUrl": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "rssUrl": {
            "type": "string"
          },
          "twitterUser": {
            "type": "string"
          },
          "twitterSearchQuery": {
            "type": "string"
          }
        }
      },
      "Image": {
        "type": "object",
        "description": "Image associated with a post.",
        "properties": {
          "url": {
            "type": "string"
          },
          "mediumUrl": {
            "type": "string"
          },
          "largeUrl": {
            "type": "string"
          },
          "originalUrl": {
            "type": "string"
          },
          "originalWidth": {
            "type": "integer"
          },
          "originalHeight": {
            "type": "integer"
          },
          "caption": {
            "type": "string"
          }
        }
      },
      "TopicTag": {
        "type": "object",
        "description": "A tag associated with a topic or post.",
        "properties": {
          "name": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "TopicStats": {
        "type": "object",
        "description": "Analytics data for a topic.",
        "properties": {
          "uv": {
            "type": "integer",
            "description": "Unique visitors."
          },
          "v": {
            "type": "integer",
            "description": "Total views."
          },
          "followers": {
            "type": "integer",
            "description": "Number of followers."
          },
          "updated": {
            "type": "integer",
            "format": "int64",
            "description": "Last updated timestamp."
          },
          "createdDate": {
            "type": "integer",
            "format": "int64",
            "description": "Creation timestamp."
          }
        }
      },
      "Notification": {
        "type": "object",
        "description": "A user notification.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Notification type."
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Interest": {
        "type": "object",
        "description": "An interest category.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "shortName": {
            "type": "string"
          },
          "topics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Topic"
            }
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          }
        }
      },
      "SuggestionEngine": {
        "type": "object",
        "description": "A content suggestion engine configuration.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "sorter": {
            "type": "string",
            "enum": [
              "relevance",
              "freshness",
              "popularity"
            ]
          },
          "maxSuggestionAge": {
            "type": "integer",
            "description": "Max suggestion age in days. -1 for no limit."
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "includedDomains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "excludedDomains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "description": "Search results container.",
        "properties": {
          "totalFound": {
            "type": "integer",
            "description": "Total number of matching results."
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "topics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Topic"
            }
          },
          "posts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          }
        }
      },
      "RecipientList": {
        "type": "object",
        "description": "An email recipient list.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://example.com/oauth/authorize",
            "scopes": {}
          }
        }
      }
    }
  }
}
