{
  "openapi": "3.0.3",
  "info": {
    "title": "Energos API",
    "description": "Support: support@energos.ai  |  Website: https://www.energos.ai\n\nWelcome to the Energos API reference. Use these endpoints to read and manage operational data such as Work Orders, Requests, Assets, Meters, and more.\n\nGetting Started: In the Energos web app navigate to <a href=\"https://app.energos.ai/organization-settings\" target=\"_blank\">Settings → Organization Settings</a>, click on Integrations tab, then click “+ New Key” to create a REST API key you can supply as a bearer token.\n\nNeed something that is not documented yet? Drop us a note at support@energos.ai — your feedback helps shape the roadmap.",
    "version": "v1",
    "contact": {},
    "x-logo": {
      "url": "/assets/images/energos-logo.webp",
      "altText": "Energos API",
      "backgroundColor": "transparent",
      "padding": "12px"
    },
    "x-jentic-source-url": "https://api.energos.ai/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.energos.ai/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/users": {
      "post": {
        "summary": "Create user",
        "parameters": [],
        "requestBody": {
          "description": "User to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name",
                    "example": "John Doe"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address (must be unique)",
                    "example": "john.doe@example.com"
                  },
                  "mobileNumber": {
                    "type": "string",
                    "description": "Phone number (must be unique, required if `userRole` is `ADMIN`)",
                    "example": "+14155552671"
                  },
                  "userRole": {
                    "type": "string",
                    "description": "Role",
                    "enum": [
                      "ADMIN",
                      "MEMBER",
                      "REQUESTER"
                    ],
                    "example": "MEMBER"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "userRole"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique ID",
                      "example": "66a1c9e2f2d4c8a1b2345001"
                    },
                    "name": {
                      "type": "string",
                      "description": "Full name",
                      "example": "John Doe"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email address (must be unique)",
                      "example": "john.doe@example.com"
                    },
                    "mobileNumber": {
                      "type": "string",
                      "description": "Phone number (must be unique, required if `userRole` is `ADMIN`)",
                      "example": "+14155552671"
                    },
                    "userRole": {
                      "type": "string",
                      "description": "Role",
                      "enum": [
                        "ADMIN",
                        "MEMBER",
                        "REQUESTER"
                      ],
                      "example": "MEMBER"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date & time at which the user was created",
                      "example": "2025-08-24T09:00:00.000Z"
                    },
                    "createdBy": {
                      "type": "string",
                      "nullable": false,
                      "description": "Id of the user who created the user",
                      "example": "6639c4543588ccaa4752ed82"
                    }
                  },
                  "required": [
                    "createdBy",
                    "createdAt",
                    "id",
                    "name",
                    "email",
                    "userRole"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error occurred trying to insert a user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "error 1",
                        "error 2"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 400
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 401
                    }
                  },
                  "required": [
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "createUser"
      },
      "get": {
        "summary": "List users",
        "parameters": [
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "example": 2,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique ID",
                            "example": "66a1c9e2f2d4c8a1b2345001"
                          },
                          "name": {
                            "type": "string",
                            "description": "Full name",
                            "example": "John Doe"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address (must be unique)",
                            "example": "john.doe@example.com"
                          },
                          "mobileNumber": {
                            "type": "string",
                            "description": "Phone number (must be unique, required if `userRole` is `ADMIN`)",
                            "example": "+14155552671"
                          },
                          "userRole": {
                            "type": "string",
                            "description": "Role",
                            "enum": [
                              "ADMIN",
                              "MEMBER",
                              "REQUESTER"
                            ],
                            "example": "MEMBER"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "email",
                          "userRole"
                        ]
                      }
                    },
                    "nextPage": {
                      "type": "number",
                      "nullable": true,
                      "example": 2
                    },
                    "nextPageUrl": {
                      "type": "string",
                      "nullable": true,
                      "example": "/v1/users?page=2&limit=1"
                    }
                  },
                  "required": [
                    "users",
                    "nextPage",
                    "nextPageUrl"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error with query",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "error 1",
                        "error 2"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 400
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 401
                    }
                  },
                  "required": [
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "listUsers"
      }
    },
    "/v1/users/{id}": {
      "get": {
        "summary": "Get user",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User information retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique ID",
                      "example": "66a1c9e2f2d4c8a1b2345001"
                    },
                    "name": {
                      "type": "string",
                      "description": "Full name",
                      "example": "John Doe"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email address (must be unique)",
                      "example": "john.doe@example.com"
                    },
                    "mobileNumber": {
                      "type": "string",
                      "description": "Phone number (must be unique, required if `userRole` is `ADMIN`)",
                      "example": "+14155552671"
                    },
                    "userRole": {
                      "type": "string",
                      "description": "Role",
                      "enum": [
                        "ADMIN",
                        "MEMBER",
                        "REQUESTER"
                      ],
                      "example": "MEMBER"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date & time at which the user was created",
                      "example": "2025-08-24T09:00:00.000Z"
                    },
                    "createdBy": {
                      "type": "string",
                      "nullable": false,
                      "description": "Id of the user who created the user",
                      "example": "6639c4543588ccaa4752ed82"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Date & time at which the user was last updated",
                      "example": "2025-08-24T09:10:00.000Z"
                    },
                    "updatedBy": {
                      "type": "string",
                      "nullable": true,
                      "description": "Id of the user who last updated the user",
                      "example": "6639c4543588ccaa4752ed82"
                    }
                  },
                  "required": [
                    "createdBy",
                    "createdAt",
                    "id",
                    "name",
                    "email",
                    "userRole"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 401
                    }
                  },
                  "required": [
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User does not exist."
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 404
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "getUser"
      },
      "patch": {
        "summary": "Update user",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "User to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name",
                    "example": "John Doe"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address (must be unique)",
                    "example": "john.doe@example.com"
                  },
                  "mobileNumber": {
                    "type": "string",
                    "description": "Phone number (must be unique, required if `userRole` is `ADMIN`)",
                    "example": "+14155552671"
                  },
                  "userRole": {
                    "type": "string",
                    "description": "Role",
                    "enum": [
                      "ADMIN",
                      "MEMBER",
                      "REQUESTER"
                    ],
                    "example": "MEMBER"
                  }
                },
                "required": [],
                "example": {
                  "name": "Johnathan Doe",
                  "mobileNumber": "+14155550000",
                  "userRole": "ADMIN"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique ID",
                      "example": "66a1c9e2f2d4c8a1b2345001"
                    },
                    "name": {
                      "type": "string",
                      "description": "Full name",
                      "example": "John Doe"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email address (must be unique)",
                      "example": "john.doe@example.com"
                    },
                    "mobileNumber": {
                      "type": "string",
                      "description": "Phone number (must be unique, required if `userRole` is `ADMIN`)",
                      "example": "+14155552671"
                    },
                    "userRole": {
                      "type": "string",
                      "description": "Role",
                      "enum": [
                        "ADMIN",
                        "MEMBER",
                        "REQUESTER"
                      ],
                      "example": "MEMBER"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date & time at which the user was created",
                      "example": "2025-08-24T09:00:00.000Z"
                    },
                    "createdBy": {
                      "type": "string",
                      "nullable": false,
                      "description": "Id of the user who created the user",
                      "example": "6639c4543588ccaa4752ed82"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Date & time at which the user was last updated",
                      "example": "2025-08-24T09:10:00.000Z"
                    },
                    "updatedBy": {
                      "type": "string",
                      "nullable": true,
                      "description": "Id of the user who last updated the user",
                      "example": "6639c4543588ccaa4752ed82"
                    }
                  },
                  "required": [
                    "createdBy",
                    "createdAt",
                    "id",
                    "name",
                    "email",
                    "userRole",
                    "updatedBy",
                    "updatedAt"
                  ],
                  "example": {
                    "id": "66a1c9e2f2d4c8a1b2345001",
                    "name": "Johnathan Doe",
                    "email": "john.doe@example.com",
                    "mobileNumber": "+14155550000",
                    "userRole": "ADMIN",
                    "createdAt": "2025-08-24T09:00:00.000Z",
                    "createdBy": "6639c4543588ccaa4752ed82",
                    "updatedAt": "2025-08-24T09:10:00.000Z",
                    "updatedBy": "6639c4543588ccaa4752ed82"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error occurred trying to update a user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "error 1",
                        "error 2"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 400
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 401
                    }
                  },
                  "required": [
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User does not exist."
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 404
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "updateUser"
      },
      "delete": {
        "summary": "Delete user",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User deleted successfully"
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 401
                    }
                  },
                  "required": [
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User does not exist."
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 404
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "deleteUser"
      }
    },
    "/v1/sites": {
      "post": {
        "summary": "Create location / site",
        "parameters": [],
        "requestBody": {
          "description": "Location / site to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name (must be unique within organization)",
                    "example": "New York Headquarters"
                  },
                  "lat": {
                    "type": "number",
                    "description": "Latitude",
                    "example": 40.7128
                  },
                  "long": {
                    "type": "number",
                    "description": "Longitude",
                    "example": -74.006
                  },
                  "address": {
                    "type": "string",
                    "description": "Address",
                    "example": "123 Wall Street"
                  },
                  "city": {
                    "type": "string",
                    "description": "City",
                    "example": "New York"
                  },
                  "district": {
                    "type": "string",
                    "description": "District or county",
                    "example": "New York County"
                  },
                  "state": {
                    "type": "string",
                    "description": "State or province",
                    "example": "New York"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country",
                    "example": "USA"
                  },
                  "pincode": {
                    "type": "number",
                    "description": "Postal code",
                    "example": 10005
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Location / site created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique ID",
                      "example": "66a1c9e2f2d4c8a1b2345001"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name (must be unique within organization)",
                      "example": "New York Headquarters"
                    },
                    "lat": {
                      "type": "number",
                      "description": "Latitude",
                      "example": 40.7128
                    },
                    "long": {
                      "type": "number",
                      "description": "Longitude",
                      "example": -74.006
                    },
                    "address": {
                      "type": "string",
                      "description": "Address",
                      "example": "123 Wall Street"
                    },
                    "city": {
                      "type": "string",
                      "description": "City",
                      "example": "New York"
                    },
                    "district": {
                      "type": "string",
                      "description": "District or county",
                      "example": "New York County"
                    },
                    "state": {
                      "type": "string",
                      "description": "State or province",
                      "example": "New York"
                    },
                    "country": {
                      "type": "string",
                      "description": "Country",
                      "example": "USA"
                    },
                    "pincode": {
                      "type": "number",
                      "description": "Postal code",
                      "example": 10005
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date & time at which the location was created",
                      "example": "2025-08-24T09:00:00.000Z"
                    },
                    "createdBy": {
                      "type": "string",
                      "nullable": false,
                      "description": "Id of the user who created the location",
                      "example": "6639c4543588ccaa4752ed82"
                    }
                  },
                  "required": [
                    "createdAt",
                    "createdBy",
                    "id",
                    "name"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error occurred trying to insert a location / site",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "error 1",
                        "error 2"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 400
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 401
                    }
                  },
                  "required": [
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Locations / Sites"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "createLocationSite"
      },
      "get": {
        "summary": "List locations / sites",
        "parameters": [
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "example": 2,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of locations / sites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sites": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique ID",
                            "example": "66a1c9e2f2d4c8a1b2345001"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name (must be unique within organization)",
                            "example": "New York Headquarters"
                          },
                          "lat": {
                            "type": "number",
                            "description": "Latitude",
                            "example": 40.7128
                          },
                          "long": {
                            "type": "number",
                            "description": "Longitude",
                            "example": -74.006
                          },
                          "address": {
                            "type": "string",
                            "description": "Address",
                            "example": "123 Wall Street"
                          },
                          "city": {
                            "type": "string",
                            "description": "City",
                            "example": "New York"
                          },
                          "district": {
                            "type": "string",
                            "description": "District or county",
                            "example": "New York County"
                          },
                          "state": {
                            "type": "string",
                            "description": "State or province",
                            "example": "New York"
                          },
                          "country": {
                            "type": "string",
                            "description": "Country",
                            "example": "USA"
                          },
                          "pincode": {
                            "type": "number",
                            "description": "Postal code",
                            "example": 10005
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ]
                      }
                    },
                    "nextPage": {
                      "type": "number",
                      "nullable": true,
                      "example": 2
                    },
                    "nextPageUrl": {
                      "type": "string",
                      "nullable": true,
                      "example": "/v1/sites?page=2&limit=1"
                    }
                  },
                  "required": [
                    "sites",
                    "nextPage",
                    "nextPageUrl"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error with query",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "error 1",
                        "error 2"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 400
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 401
                    }
                  },
                  "required": [
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Locations / Sites"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "listLocationsSites"
      }
    },
    "/v1/sites/{id}": {
      "get": {
        "summary": "Get location / site",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Location ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location / site information retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique ID",
                      "example": "66a1c9e2f2d4c8a1b2345001"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name (must be unique within organization)",
                      "example": "New York Headquarters"
                    },
                    "lat": {
                      "type": "number",
                      "description": "Latitude",
                      "example": 40.7128
                    },
                    "long": {
                      "type": "number",
                      "description": "Longitude",
                      "example": -74.006
                    },
                    "address": {
                      "type": "string",
                      "description": "Address",
                      "example": "123 Wall Street"
                    },
                    "city": {
                      "type": "string",
                      "description": "City",
                      "example": "New York"
                    },
                    "district": {
                      "type": "string",
                      "description": "District or county",
                      "example": "New York County"
                    },
                    "state": {
                      "type": "string",
                      "description": "State or province",
                      "example": "New York"
                    },
                    "country": {
                      "type": "string",
                      "description": "Country",
                      "example": "USA"
                    },
                    "pincode": {
                      "type": "number",
                      "description": "Postal code",
                      "example": 10005
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date & time at which the location was created",
                      "example": "2025-08-24T09:00:00.000Z"
                    },
                    "createdBy": {
                      "type": "string",
                      "nullable": false,
                      "description": "Id of the user who created the location",
                      "example": "6639c4543588ccaa4752ed82"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Date & time at which the location was last updated",
                      "example": "2025-08-24T09:10:00.000Z"
                    },
                    "updatedBy": {
                      "type": "string",
                      "nullable": true,
                      "description": "Id of the user who last updated the location",
                      "example": "6639c4543588ccaa4752ed82"
                    }
                  },
                  "required": [
                    "createdAt",
                    "createdBy",
                    "id",
                    "name"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 401
                    }
                  },
                  "required": [
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Location / site does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Location does not exist."
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 404
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Locations / Sites"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "getLocationSite"
      },
      "patch": {
        "summary": "Update location / site",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Location / Site ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Location / site to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name (must be unique within organization)",
                    "example": "New York Headquarters"
                  },
                  "lat": {
                    "type": "number",
                    "description": "Latitude",
                    "example": 40.7128
                  },
                  "long": {
                    "type": "number",
                    "description": "Longitude",
                    "example": -74.006
                  },
                  "address": {
                    "type": "string",
                    "description": "Address",
                    "example": "123 Wall Street"
                  },
                  "city": {
                    "type": "string",
                    "description": "City",
                    "example": "New York"
                  },
                  "district": {
                    "type": "string",
                    "description": "District or county",
                    "example": "New York County"
                  },
                  "state": {
                    "type": "string",
                    "description": "State or province",
                    "example": "New York"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country",
                    "example": "USA"
                  },
                  "pincode": {
                    "type": "number",
                    "description": "Postal code",
                    "example": 10005
                  }
                },
                "required": [],
                "example": {
                  "address": "789 Market Street",
                  "city": "San Francisco",
                  "state": "California",
                  "pincode": 94103
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location / site updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique ID",
                      "example": "66a1c9e2f2d4c8a1b2345001"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name (must be unique within organization)",
                      "example": "New York Headquarters"
                    },
                    "lat": {
                      "type": "number",
                      "description": "Latitude",
                      "example": 40.7128
                    },
                    "long": {
                      "type": "number",
                      "description": "Longitude",
                      "example": -74.006
                    },
                    "address": {
                      "type": "string",
                      "description": "Address",
                      "example": "123 Wall Street"
                    },
                    "city": {
                      "type": "string",
                      "description": "City",
                      "example": "New York"
                    },
                    "district": {
                      "type": "string",
                      "description": "District or county",
                      "example": "New York County"
                    },
                    "state": {
                      "type": "string",
                      "description": "State or province",
                      "example": "New York"
                    },
                    "country": {
                      "type": "string",
                      "description": "Country",
                      "example": "USA"
                    },
                    "pincode": {
                      "type": "number",
                      "description": "Postal code",
                      "example": 10005
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date & time at which the location was created",
                      "example": "2025-08-24T09:00:00.000Z"
                    },
                    "createdBy": {
                      "type": "string",
                      "nullable": false,
                      "description": "Id of the user who created the location",
                      "example": "6639c4543588ccaa4752ed82"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Date & time at which the location was last updated",
                      "example": "2025-08-24T09:10:00.000Z"
                    },
                    "updatedBy": {
                      "type": "string",
                      "nullable": true,
                      "description": "Id of the user who last updated the location",
                      "example": "6639c4543588ccaa4752ed82"
                    }
                  },
                  "required": [
                    "createdAt",
                    "createdBy",
                    "id",
                    "name",
                    "updatedBy",
                    "updatedAt"
                  ],
                  "example": {
                    "id": "66a1c9e2f2d4c8a1b2345001",
                    "name": "New York Headquarters",
                    "lat": 40.7128,
                    "long": -74.006,
                    "address": "789 Market Street",
                    "city": "San Francisco",
                    "district": "New York County",
                    "state": "California",
                    "country": "USA",
                    "pincode": 94103,
                    "createdAt": "2025-08-24T09:00:00.000Z",
                    "createdBy": "6639c4543588ccaa4752ed82",
                    "updatedAt": "2025-08-24T09:10:00.000Z",
                    "updatedBy": "6639c4543588ccaa4752ed82"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error occurred trying to update a location / site",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "error 1",
                        "error 2"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 400
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 401
                    }
                  },
                  "required": [
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Location / site does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Location does not exist."
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 404
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Locations / Sites"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "updateLocationSite"
      },
      "delete": {
        "summary": "Delete location / site",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Location / Site ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Location / site deleted successfully"
          },
          "400": {
            "description": "Trying to delete a restricted location / site",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "error 1",
                        "error 2"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 400
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 401
                    }
                  },
                  "required": [
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Location / site does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Location does not exist."
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 404
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Locations / Sites"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "deleteLocationSite"
      }
    },
    "/v1/assets/{id}": {
      "post": {
        "summary": "Create asset",
        "description": "\nNotes:\n- The fields category, subCategory and type must follow the hierarchy below.\n- If a subCategory lists types, then type is required and must be one of those values.\n- If a subCategory has no types listed, do not send type (omit/empty).\n- When manufacturerInfo.maintenanceContract is true, startDate, endDate, and cost are required and endDate must be on/after startDate.\n- When category is \"Tools\", do not send basicInfo.installationDate.\n\nHierarchy:\n```text\n├─ Equipment\n│  ├─ Computer and IT\n│  │  ├─ IoT Sensor\n│  │  ├─ Servers and Networking\n│  │  ├─ Computer\n│  │  ├─ Software Licenses\n│  │  ├─ Accessories\n│  │  └─ Other\n│  ├─ HVAC\n│  │  ├─ Heating\n│  │  ├─ Cooling\n│  │  ├─ Ventilation\n│  │  └─ Other\n│  ├─ Electrical\n│  │  ├─ Electrical panels and controls\n│  │  ├─ Transformer\n│  │  ├─ Circuit Breaker\n│  │  ├─ Switch Gear\n│  │  ├─ Lighting Fixture\n│  │  ├─ Battery\n│  │  └─ Other\n│  ├─ Appliance\n│  │  ├─ Freezer\n│  │  ├─ Refrigerator\n│  │  ├─ Coffee Machine\n│  │  ├─ Beverage Dispensor\n│  │  ├─ Kitchen Equipment\n│  │  └─ Other\n│  ├─ Finance\n│  │  ├─ ATM\n│  │  ├─ POS System\n│  │  └─ Other\n│  ├─ Electromechanical\n│  │  ├─ Diesel Generator\n│  │  ├─ Air Compressor\n│  │  └─ Other\n│  ├─ Charging Station\n│  │  ├─ Level 1\n│  │  ├─ Level 2\n│  │  ├─ DC Fast Charge\n│  │  └─ Other\n│  └─ Other\n├─ Infrastructure and Utility\n│  ├─ Plumbing and Piping\n│  ├─ Fire Suppression\n│  │  ├─ Sprinklers\n│  │  ├─ Fire Alarms\n│  │  ├─ Smoke Detector\n│  │  ├─ Fire Extinguisher\n│  │  └─ Other\n│  ├─ Elevators and Escalators\n│  ├─ Utility Systems\n│  │  ├─ Electrical\n│  │  ├─ Water\n│  │  ├─ Sewage\n│  │  └─ Other\n│  ├─ Security Systems\n│  │  ├─ CCTV\n│  │  ├─ Access Control Systems\n│  │  └─ Other\n│  └─ Other\n├─ Furniture\n│  ├─ Shelving and Display\n│  ├─ Desk\n│  ├─ Chair\n│  ├─ Cubicles/Workstation\n│  ├─ Storage\n│  ├─ Accesories\n│  ├─ Counters\n│  └─ Other\n└─ Tools\n  ├─ Hand Tools\n  ├─ Power Tools\n  ├─ Diagnostic Tools\n  ├─ Hardware\n  └─ Other\n```\n",
        "parameters": [
          {
            "name": "id",
            "required": false,
            "in": "path",
            "description": "Site ID (optional, defaults to General site)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string",
                    "description": "High-level category for the asset",
                    "example": "Equipment"
                  },
                  "subCategory": {
                    "type": "string",
                    "description": "Specific sub-category under the chosen category",
                    "example": "Computer and IT"
                  },
                  "type": {
                    "type": "string",
                    "nullable": true,
                    "description": "Type under the chosen sub-category",
                    "example": "Computer"
                  },
                  "basicInfo": {
                    "type": "object",
                    "description": "Primary information about the asset",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Asset name",
                        "example": "HP Z2 Mini G9"
                      },
                      "make": {
                        "type": "string",
                        "nullable": true,
                        "example": "HP"
                      },
                      "model": {
                        "type": "string",
                        "nullable": true,
                        "example": "Z2 Mini G9"
                      },
                      "serialNumber": {
                        "type": "string",
                        "nullable": true,
                        "example": "SN-123456"
                      },
                      "purchaseDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "installationDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "subLocation": {
                        "type": "string",
                        "nullable": true,
                        "example": "Floor 2 - IT Room"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "Functional",
                          "Non-functional",
                          "Retired",
                          "Under maintenance"
                        ],
                        "nullable": true,
                        "example": "Functional"
                      }
                    },
                    "required": [
                      "name"
                    ]
                  },
                  "financialInfo": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "purchasePrice": {
                        "type": "number",
                        "minimum": 0,
                        "example": 1200
                      },
                      "depreciation": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 100,
                        "example": 10
                      },
                      "annualMaintenanceCost": {
                        "type": "number",
                        "minimum": 0,
                        "example": 200
                      },
                      "assetValue": {
                        "type": "number",
                        "minimum": 0,
                        "example": 900
                      }
                    }
                  },
                  "manufacturerInfo": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "companyName": {
                        "type": "string",
                        "description": "Manufacturer name",
                        "example": "HP Inc."
                      },
                      "contactPerson": {
                        "type": "string",
                        "nullable": true,
                        "example": "Jane Doe"
                      },
                      "emails": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true,
                        "example": [
                          "support@hp.com"
                        ]
                      },
                      "phoneNumbers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true,
                        "example": [
                          "1234567890"
                        ]
                      },
                      "countryCodes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true,
                        "example": [
                          "+1"
                        ]
                      },
                      "maintenanceContract": {
                        "type": "boolean",
                        "nullable": true,
                        "example": true
                      },
                      "startDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "endDate": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "cost": {
                        "type": "number",
                        "minimum": 0,
                        "nullable": true
                      },
                      "description": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  },
                  "pAsset": {
                    "type": "string",
                    "nullable": true,
                    "description": "Parent asset ID",
                    "example": "66b1c9e2f2d4c8a1b2345011"
                  }
                },
                "required": [
                  "category",
                  "subCategory",
                  "basicInfo",
                  "site"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Asset created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique asset ID",
                      "example": "66b1c9e2f2d4c8a1b2345100"
                    },
                    "site": {
                      "type": "string",
                      "description": "Site ID",
                      "example": "66a1c9e2f2d4c8a1b2345000"
                    },
                    "category": {
                      "type": "string",
                      "description": "High-level category for the asset",
                      "example": "Equipment"
                    },
                    "subCategory": {
                      "type": "string",
                      "description": "Specific sub-category under the chosen category",
                      "example": "Computer and IT"
                    },
                    "type": {
                      "type": "string",
                      "nullable": true,
                      "description": "Type under the chosen sub-category",
                      "example": "Computer"
                    },
                    "basicInfo": {
                      "type": "object",
                      "description": "Primary information about the asset",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Asset name",
                          "example": "HP Z2 Mini G9"
                        },
                        "make": {
                          "type": "string",
                          "nullable": true,
                          "example": "HP"
                        },
                        "model": {
                          "type": "string",
                          "nullable": true,
                          "example": "Z2 Mini G9"
                        },
                        "serialNumber": {
                          "type": "string",
                          "nullable": true,
                          "example": "SN-123456"
                        },
                        "purchaseDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "installationDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "subLocation": {
                          "type": "string",
                          "nullable": true,
                          "example": "Floor 2 - IT Room"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "Functional",
                            "Non-functional",
                            "Retired",
                            "Under maintenance"
                          ],
                          "nullable": true,
                          "example": "Functional"
                        }
                      },
                      "required": [
                        "name"
                      ]
                    },
                    "financialInfo": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "purchasePrice": {
                          "type": "number",
                          "minimum": 0,
                          "example": 1200
                        },
                        "depreciation": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 100,
                          "example": 10
                        },
                        "annualMaintenanceCost": {
                          "type": "number",
                          "minimum": 0,
                          "example": 200
                        },
                        "assetValue": {
                          "type": "number",
                          "minimum": 0,
                          "example": 900
                        }
                      }
                    },
                    "manufacturerInfo": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "companyName": {
                          "type": "string",
                          "description": "Manufacturer name",
                          "example": "HP Inc."
                        },
                        "contactPerson": {
                          "type": "string",
                          "nullable": true,
                          "example": "Jane Doe"
                        },
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "nullable": true,
                          "example": [
                            "support@hp.com"
                          ]
                        },
                        "phoneNumbers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "nullable": true,
                          "example": [
                            "1234567890"
                          ]
                        },
                        "countryCodes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "nullable": true,
                          "example": [
                            "+1"
                          ]
                        },
                        "maintenanceContract": {
                          "type": "boolean",
                          "nullable": true,
                          "example": true
                        },
                        "startDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "endDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "cost": {
                          "type": "number",
                          "minimum": 0,
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "pAsset": {
                      "type": "string",
                      "nullable": true,
                      "description": "Parent asset ID",
                      "example": "66b1c9e2f2d4c8a1b2345011"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date & time at which the asset was created",
                      "example": "2025-08-24T09:00:00.000Z"
                    },
                    "createdBy": {
                      "type": "string",
                      "nullable": false,
                      "description": "Id of the user who created the asset",
                      "example": "6639c4543588ccaa4752ed82"
                    }
                  },
                  "required": [
                    "id",
                    "category",
                    "subCategory",
                    "basicInfo",
                    "site"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error occurred trying to insert an asset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "error 1",
                        "error 2"
                      ]
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 400
                    }
                  },
                  "required": [
                    "message",
                    "statusCode",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 401
                    }
                  },
                  "required": [
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Assets"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "operationId": "createAsset"
      },
      "get": {
        "summary": "Get asset",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Asset ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "required": false,
            "in": "query",
            "description": "Comma separated expansions.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "site"
                ]
              },
              "example": [
                "site"
              ]
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Asset's information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique asset ID",
                      "example": "66b1c9e2f2d4c8a1b2345100"
                    },
                    "site": {
                      "type": "string",
                      "description": "Site ID",
                      "example": "66a1c9e2f2d4c8a1b2345000"
                    },
                    "category": {
                      "type": "string",
                      "description": "High-level category for the asset",
                      "example": "Equipment"
                    },
                    "subCategory": {
                      "type": "string",
                      "description": "Specific sub-category under the chosen category",
                      "example": "Computer and IT"
                    },
                    "type": {
                      "type": "string",
                      "nullable": true,
                      "description": "Type under the chosen sub-category",
                      "example": "Computer"
                    },
                    "basicInfo": {
                      "type": "object",
                      "description": "Primary information about the asset",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Asset name",
                          "example": "HP Z2 Mini G9"
                        },
                        "make": {
                          "type": "string",
                          "nullable": true,
                          "example": "HP"
                        },
                        "model": {
                          "type": "string",
                          "nullable": true,
                          "example": "Z2 Mini G9"
                        },
                        "serialNumber": {
                          "type": "string",
                          "nullable": true,
                          "example": "SN-123456"
                        },
                        "purchaseDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "installationDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "subLocation": {
                          "type": "string",
                          "nullable": true,
                          "example": "Floor 2 - IT Room"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "Functional",
                            "Non-functional",
                            "Retired",
                            "Under maintenance"
                          ],
                          "nullable": true,
                          "example": "Functional"
                        }
                      },
                      "required": [
                        "name"
                      ]
                    },
                    "financialInfo": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "purchasePrice": {
                          "type": "number",
                          "minimum": 0,
                          "example": 1200
                        },
                        "depreciation": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 100,
                          "example": 10
                        },
                        "annualMaintenanceCost": {
                          "type": "number",
                          "minimum": 0,
                          "example": 200
                        },
                        "assetValue": {
                          "type": "number",
                          "minimum": 0,
                          "example": 900
                        }
                      }
                    },
                    "manufacturerInfo": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "companyName": {
                          "type": "string",
                          "description": "Manufacturer name",
                          "example": "HP Inc."
                        },
                        "contactPerson": {
                          "type": "string",
                          "nullable": true,
                          "example": "Jane Doe"
                        },
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "nullable": true,
                          "example": [
                            "support@hp.com"
                          ]
                        },
                        "phoneNumbers": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "nullable": true,
                          "example": [
                            "1234567890"
                          ]
                        },
                        "countryCodes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "nullable": true,
                          "example": [
                            "+1"
                          ]
                        },
                        "maintenanceContract": {
                          "type": "boolean",
                          "nullable": true,
                          "example": true
                        },
                        "startDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "endDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "cost": {
                          "type": "number",
                          "minimum": 0,
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "pAsset": {
                      "type": "string",
                      "nullable": true,
                      "description": "Parent asset ID",
                      "example": "66b1c9e2f2d4c8a1b2345011"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date & time at which the asset was created",
                      "example": "2025-08-24T09:00:00.000Z"
                    },
                    "createdBy": {
                      "type": "string",
                      "nullable": false,
                      "description": "Id of the user who created the asset",
                      "example": "6639c4543588ccaa4752ed82"
                    },
                    "complianceInfo": {
                      "type": "object",
                      "description": "An array returned as object with IDs as keys",
                      "nullable": true,
                      "properties": {
                        "[id]": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "018ef5a4-1f50-7e47-8c08-4a0c0f2dc1b4"
                            },
                            "documentTitle": {
                              "type": "string",
                              "example": "ISO 9001 Certificate"
                            },
                            "complianceDocuments": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "Original filename",
                                    "example": "example-image.jpg"
                                  },
                                  "URL": {
                                    "type": "string",
                                    "description": "Public URL to access the uploaded file",
                                    "example": "https://storage.example.com/files/example-image.jpg"
                                  },
                                  "fileKey": {
                                    "type": "string",
                                    "description": "Internal file key for reference",
                                    "example": "ed3f9ca3-e22a-49af-8cf7-ed78f3f55c8a_example-image.jpg"
                                  }
                                },
                                "required": [
                                  "name",
                                  "URL",
                                  "fileKey"
                                ]
                              }
                            }
                          },
                          "required": [
                            "id",
                            "documentTitle",
                            "complianceDocuments"
                          ],
                          "example": {
                            "id": "018ef5a4-1f50-7e47-8c08-4a0c0f2dc1b4",
                            "documentTitle": "ISO 9001 Certificate",
                            "complianceDocuments": [
                              {
                                "name": "certificate.pdf",
                                "URL": "https://storage.example.com/files/certificate.pdf",
                                "fileKey": "018ef5a4-1f50-7e47-8c08-4a0c0f2dc1b4_certificate.pdf"
                              }
                            ]
                          }
                        }
                      }
                    },
                    "serviceHistoryInfo": {
                      "type": "object",
                      "description": "An array returned as object with IDs as keys",
                      "nullable": true,
                      "properties": {
                        "[id]": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "b3e6a2dc-2a01-4f4a-8b1a-1a2b3c4d5e6f"
                            },
                            "serviceType": {
                              "type": "string",
                              "example": "Routine Maintenance"
                            },
                            "date": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            },
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "cost": {
                              "type": "number",
                              "nullable": true,
                              "example": 125.5
                            },
                            "technicianName": {
                              "type": "string",
                              "nullable": true
                            },
                            "serviceDocuments": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "Original filename",
                                    "example": "example-image.jpg"
                                  },
                                  "URL": {
                                    "type": "string",
                                    "description": "Public URL to access the uploaded file",
                                    "example": "https://storage.example.com/files/example-image.jpg"
                                  },
                                  "fileKey": {
                                    "type": "string",
                                    "description": "Internal file key for reference",
                                    "example": "ed3f9ca3-e22a-49af-8cf7-ed78f3f55c8a_example-image.jpg"
                                  }
                                },
                                "required": [
                                  "name",
                                  "URL",
                                  "fileKey"
                                ]
                              },
                              "nullable": true
                            }
                          },
                          "required": [
                            "id",
                            "serviceType"
                          ],
                          "example": {
                            "id": "b3e6a2dc-2a01-4f4a-8b1a-1a2b3c4d5e6f",
                            "serviceType": "Routine Maintenance",
                            "date": "2025-08-22T10:00:00.000Z",
                            "description": "Filter replaced and unit tested",
                            "cost": 150,
                            "technicianName": "Sam Taylor",
                            "serviceDocuments": [
                              {
                                "name": "invoice.pdf",
                                "URL": "https://storage.example.com/files/invoice.pdf",
                                "fileKey": "b3e6a2dc-2a01-4f4a-8b1a-1a2b3c4d5e6f_invoice.pdf"
                              }
                            ]
                          }
                        }
                      }
                    },
                    "warrantyInfo": {
                      "type": "object",
                      "description": "An array returned as object with IDs as keys",
                      "nullable": true,
                      "properties": {
                        "[id]": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "b3e6a2dc-2a01-4f4a-8b1a-1a2b3c4d5e6f"
                            },
                            "serviceType": {
                              "type": "string",
                              "example": "Routine Maintenance"
                            },
                            "date": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            },
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "cost": {
                              "type": "number",
                              "nullable": true,
                              "example": 125.5
                            },
                            "technicianName": {
                              "type": "string",
                              "nullable": true
                            },
                            "serviceDocuments": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "Original filename",
                                    "example": "example-image.jpg"
                                  },
                                  "URL": {
                                    "type": "string",
                                    "description": "Public URL to access the uploaded file",
                                    "example": "https://storage.example.com/files/example-image.jpg"
                                  },
                                  "fileKey": {
                                    "type": "string",
                                    "description": "Internal file key for reference",
                                    "example": "ed3f9ca3-e22a-49af-8cf7-ed78f3f55c8a_example-image.jpg"
                                  }
                                },
                                "required": [
                                  "name",
                                  "URL",
                                  "fileKey"
                                ]
                              },
                              "nullable": true
                            }
                          },
                          "required": [
                            "id",
                            "serviceType"
                          ],
                          "example": {
                            "id": "b3e6a2dc-2a01-4f4a-8b1a-1a2b3c4d5e6f",
                            "serviceType": "Routine Maintenance",
                            "date": "2025-08-22T10:00:00.000Z",
                            "description": "Filter replaced and unit tested",
                            "cost": 150,
                            "technicianName": "Sam Taylor",
                            "serviceDocuments": [
                              {
                                "name": "invoice.pdf",
                                "URL": "https://storage.example.com/files/invoice.pdf",
                                "fileKey": "b3e6a2dc-2a01-4f4a-8b1a-1a2b3c4d5e6f_invoice.pdf"
                              }
                            ]
                          }
                        }
                      }
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
[...]
