{
  "openapi": "3.0.3",
  "info": {
    "title": "Kagi API",
    "description": "Kagi API providing search, universal summarizer, FastGPT, and web/news enrichment endpoints.",
    "version": "v0",
    "x-jentic-source-url": "https://help.kagi.com/kagi/api/overview.html"
  },
  "servers": [
    {
      "url": "https://kagi.com/api/v0",
      "description": "Kagi API server"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "executeSearch",
        "summary": "Perform a web search",
        "description": "Performs a search and returns an array of search result objects.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit number of search results"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/summarize": {
      "get": {
        "operationId": "summarizeByUrl",
        "summary": "Summarize a document by URL",
        "tags": [
          "Summarizer"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "URL of the document to summarize"
          },
          {
            "name": "engine",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "cecil",
                "agnes",
                "muriel"
              ]
            },
            "description": "Summarization engine"
          },
          {
            "name": "summary_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "summary",
                "takeaway"
              ]
            },
            "description": "Output format type"
          },
          {
            "name": "target_language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Desired output language code"
          },
          {
            "name": "cache",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Allow cached requests and responses"
          }
        ],
        "responses": {
          "200": {
            "description": "Summarization result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SummarizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "summarizeText",
        "summary": "Summarize provided text or URL",
        "tags": [
          "Summarizer"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SummarizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Summarization result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SummarizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/fastgpt": {
      "post": {
        "operationId": "answerQuery",
        "summary": "Answer a query using FastGPT",
        "description": "Uses powerful LLMs with integrated web search to answer questions.",
        "tags": [
          "FastGPT"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FastGPTRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Answer response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FastGPTResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/enrich/web": {
      "get": {
        "operationId": "enrichWeb",
        "summary": "Fetch web enrichment results",
        "description": "Returns enrichment results focused on general, non-commercial web content.",
        "tags": [
          "Enrichment"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/enrich/news": {
      "get": {
        "operationId": "enrichNews",
        "summary": "Fetch news enrichment results",
        "description": "Returns enrichment results focused on non-commercial news and discussions.",
        "tags": [
          "Enrichment"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "node": {
            "type": "string"
          },
          "ms": {
            "type": "integer",
            "description": "Response time in milliseconds"
          },
          "api_balance": {
            "type": "number"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchObject"
            }
          }
        }
      },
      "SearchObject": {
        "type": "object",
        "properties": {
          "t": {
            "type": "integer",
            "description": "Type: 0=search result, 1=related searches"
          },
          "rank": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          },
          "published": {
            "type": "string",
            "format": "date-time"
          },
          "thumbnail": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "list": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Related search suggestions (when t=1)"
          }
        }
      },
      "SummarizeRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of document to summarize"
          },
          "text": {
            "type": "string",
            "description": "Text to summarize"
          },
          "engine": {
            "type": "string",
            "enum": [
              "cecil",
              "agnes",
              "muriel"
            ]
          },
          "summary_type": {
            "type": "string",
            "enum": [
              "summary",
              "takeaway"
            ]
          },
          "target_language": {
            "type": "string"
          },
          "cache": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "SummarizeResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "data": {
            "type": "object",
            "properties": {
              "output": {
                "type": "string",
                "description": "Summarization output"
              },
              "tokens": {
                "type": "integer",
                "description": "Tokens processed"
              }
            }
          }
        }
      },
      "FastGPTRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "The question to answer"
          },
          "cache": {
            "type": "boolean",
            "default": true
          },
          "web_search": {
            "type": "boolean",
            "default": true,
            "description": "Enable web searches for answer enrichment"
          }
        }
      },
      "FastGPTResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "data": {
            "type": "object",
            "properties": {
              "output": {
                "type": "string"
              },
              "tokens": {
                "type": "integer"
              },
              "references": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Reference"
                }
              }
            }
          }
        }
      },
      "Reference": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "EnrichResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchObject"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "botToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key in format: Bot {token}"
      }
    }
  },
  "security": [
    {
      "botToken": []
    }
  ]
}