{
  "openapi": "3.0.3",
  "info": {
    "title": "DPaste API",
    "description": "DPaste is a pastebin service. The API allows creating code snippets programmatically.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.dpaste.org/api/"
  },
  "servers": [
    {
      "url": "https://dpaste.org"
    }
  ],
  "paths": {
    "/api/": {
      "post": {
        "operationId": "createSnippet",
        "summary": "Create a new code snippet",
        "description": "Creates a new paste/snippet on dpaste.",
        "tags": [
          "Snippets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SnippetCreate"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SnippetCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Snippet created successfully. Response format depends on the 'format' parameter.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "URL of the created snippet (default or url format)"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnippetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SnippetCreate": {
        "type": "object",
        "required": [
          "content"
        ],
        "properties": {
          "content": {
            "type": "string",
            "description": "UTF-8 encoded text content of the snippet"
          },
          "lexer": {
            "type": "string",
            "description": "Syntax highlighting language key. Defaults to '_code' (plain code).",
            "default": "_code"
          },
          "format": {
            "type": "string",
            "description": "Response format",
            "enum": [
              "default",
              "url",
              "json"
            ],
            "default": "default"
          },
          "expires": {
            "type": "string",
            "description": "Snippet lifetime. Values: 'onetime', 'never', or seconds like '3600', '604800', '2592000'.",
            "enum": [
              "onetime",
              "never",
              "3600",
              "604800",
              "2592000"
            ]
          },
          "filename": {
            "type": "string",
            "description": "File name used to auto-detect lexer if lexer not specified"
          }
        }
      },
      "SnippetResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the created snippet"
          },
          "lexer": {
            "type": "string",
            "description": "Syntax highlighting language used"
          },
          "content": {
            "type": "string",
            "description": "Content of the snippet"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}