{
  "openapi": "3.0.3",
  "info": {
    "title": "MalwareBazaar API",
    "version": "1.0.0",
    "description": "MalwareBazaar is a project operated by abuse.ch for sharing malware samples with the infosec community and AV vendors. Provides upload, download, search, and query capabilities for malware samples.",
    "x-jentic-source-url": "https://bazaar.abuse.ch/api/"
  },
  "servers": [
    {
      "url": "https://mb-api.abuse.ch/api/v1"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "queryMalwareSample",
        "summary": "Query malware samples",
        "description": "Multi-purpose endpoint for querying malware samples. The 'query' parameter determines the operation: get_info (lookup by hash), get_file (download sample), get_recent (recent additions), get_taginfo (by tag), get_siginfo (by signature), get_file_type (by file type), get_clamavinfo (by ClamAV), get_imphash (by import hash), get_tlsh (by TLSH), get_telfhash (by telfhash), get_gimphash (by gimphash), get_dhash_icon (by icon hash), get_yarainfo (by YARA rule), get_issuerinfo (by issuer CN), get_subjectinfo (by subject CN), get_certificate (by certificate serial), get_cscb (Code Signing Certificate Blocklist).",
        "tags": [
          "Query"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "QueryRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "The query type.",
            "enum": [
              "get_info",
              "get_file",
              "get_recent",
              "get_taginfo",
              "get_siginfo",
              "get_file_type",
              "get_clamavinfo",
              "get_imphash",
              "get_tlsh",
              "get_telfhash",
              "get_gimphash",
              "get_dhash_icon",
              "get_yarainfo",
              "get_issuerinfo",
              "get_subjectinfo",
              "get_certificate",
              "get_cscb",
              "add_comment"
            ]
          },
          "hash": {
            "type": "string",
            "description": "SHA256, MD5, or SHA1 hash for get_info queries."
          },
          "sha256_hash": {
            "type": "string",
            "description": "SHA256 hash for get_file or add_comment queries."
          },
          "tag": {
            "type": "string",
            "description": "Tag name for get_taginfo queries."
          },
          "signature": {
            "type": "string",
            "description": "Malware family name for get_siginfo queries."
          },
          "file_type": {
            "type": "string",
            "description": "File type for get_file_type queries (e.g., elf, jar, exe)."
          },
          "clamav": {
            "type": "string",
            "description": "ClamAV signature for get_clamavinfo queries."
          },
          "imphash": {
            "type": "string",
            "description": "Import hash for get_imphash queries."
          },
          "tlsh": {
            "type": "string",
            "description": "TLSH for get_tlsh queries."
          },
          "telfhash": {
            "type": "string",
            "description": "Telfhash for get_telfhash queries."
          },
          "gimphash": {
            "type": "string",
            "description": "Gimphash for get_gimphash queries."
          },
          "dhash_icon": {
            "type": "string",
            "description": "Icon dhash for get_dhash_icon queries."
          },
          "yara_rule": {
            "type": "string",
            "description": "YARA rule name for get_yarainfo queries."
          },
          "issuer_cn": {
            "type": "string",
            "description": "Issuer CN for get_issuerinfo queries."
          },
          "subject_cn": {
            "type": "string",
            "description": "Subject CN for get_subjectinfo or get_certificate queries."
          },
          "comment": {
            "type": "string",
            "description": "Comment text for add_comment queries."
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results to return."
          },
          "selector": {
            "type": "string",
            "description": "Selector for get_recent queries (e.g., time or limit-based)."
          },
          "hours": {
            "type": "integer",
            "description": "Hours lookback for recent_detections."
          }
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "query_status": {
            "type": "string",
            "description": "Status of the query.",
            "enum": [
              "ok",
              "no_results",
              "illegal_hash",
              "illegal_tag",
              "no_hash_provided"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MalwareSample"
            }
          }
        }
      },
      "MalwareSample": {
        "type": "object",
        "properties": {
          "sha256_hash": {
            "type": "string"
          },
          "sha1_hash": {
            "type": "string"
          },
          "md5_hash": {
            "type": "string"
          },
          "first_seen": {
            "type": "string"
          },
          "last_seen": {
            "type": "string"
          },
          "file_name": {
            "type": "string"
          },
          "file_size": {
            "type": "integer"
          },
          "file_type_mime": {
            "type": "string"
          },
          "file_type": {
            "type": "string"
          },
          "signature": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "intelligence": {
            "type": "object"
          },
          "reporter": {
            "type": "string"
          },
          "origin_country": {
            "type": "string"
          },
          "imphash": {
            "type": "string"
          },
          "tlsh": {
            "type": "string"
          },
          "ssdeep": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Auth-Key",
        "description": "API key for authenticated operations like upload and update."
      }
    }
  },
  "security": []
}