{
  "openapi": "3.0.3",
  "info": {
    "title": "CoinLore Cryptocurrency API",
    "version": "1.0.0",
    "description": "CoinLore offers a public and free cryptocurrency API providing reliable and independent data for over 14,000 crypto coins and more than 300 crypto exchanges. The API is open and doesn't require registration. Recommended rate: one request per second.",
    "contact": {
      "email": "contact@coinlore.com"
    },
    "x-jentic-source-url": "https://www.coinlore.com/cryptocurrency-data-api"
  },
  "servers": [
    {
      "url": "https://api.coinlore.net",
      "description": "CoinLore API Server"
    }
  ],
  "tags": [
    {
      "name": "Global",
      "description": "Global cryptocurrency market statistics"
    },
    {
      "name": "Coins",
      "description": "Cryptocurrency coin data and tickers"
    },
    {
      "name": "Exchanges",
      "description": "Exchange data and trading pairs"
    },
    {
      "name": "Social",
      "description": "Social media statistics for coins"
    }
  ],
  "paths": {
    "/api/global": {
      "get": {
        "tags": [
          "Global"
        ],
        "summary": "Get Global Crypto Statistics",
        "description": "Get global crypto statistics, including the total count of coins, overall market capitalization, BTC dominance, total trading volume, ATH market capitalization, and more.",
        "operationId": "getGlobalStats",
        "responses": {
          "200": {
            "description": "Global cryptocurrency market statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlobalStats"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tickers": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Get All Coin Tickers",
        "description": "Retrieve tick data for multiple crypto coins, sorted by market cap. The data includes details such as name, ID, symbol, price, price change, market cap, volume, and supply for each ticker. Maximum 100 coins per request. Use start and limit for pagination.",
        "operationId": "getTickers",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Starting position for pagination (e.g., 0, 100, 200)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 100
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100,
              "example": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of coin tickers with pagination info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/ticker": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Get Specific Coin Ticker",
        "description": "Retrieve tick data for a specific coin. Pass the coin ID (obtained from /api/tickers/ endpoint). You can also query multiple coins by passing comma-separated IDs.",
        "operationId": "getTicker",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Coin ID (from /api/tickers/ endpoint). Comma-separated for multiple coins (e.g., '90,80' for BTC and ETH).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "90"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin ticker data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CoinTicker"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/coin/markets": {
      "get": {
        "tags": [
          "Coins"
        ],
        "summary": "Get Markets for Coin",
        "description": "Retrieve top 50 exchanges and markets for a specific coin.",
        "operationId": "getCoinMarkets",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Coin ID (from /api/tickers/ endpoint)",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 90
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of markets for the specified coin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CoinMarket"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/exchanges": {
      "get": {
        "tags": [
          "Exchanges"
        ],
        "summary": "Get All Exchanges",
        "description": "Get all exchanges listed on the CoinLore platform.",
        "operationId": "getExchanges",
        "responses": {
          "200": {
            "description": "Object mapping exchange IDs to exchange data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Exchange"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/exchange": {
      "get": {
        "tags": [
          "Exchanges"
        ],
        "summary": "Get Specific Exchange",
        "description": "Get specific exchange by ID. Returns exchange info and top 100 trading pairs.",
        "operationId": "getExchange",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Exchange ID (from /api/exchanges/ endpoint)",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange information with top 100 trading pairs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/coin/social_stats": {
      "get": {
        "tags": [
          "Social"
        ],
        "summary": "Get Social Stats for Coin",
        "description": "Get social media statistics including data from Twitter and Reddit for a specific coin.",
        "operationId": "getCoinSocialStats",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Coin ID (from /api/tickers/ endpoint)",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 90
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Social media statistics for the specified coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GlobalStats": {
        "type": "object",
        "properties": {
          "coins_count": {
            "type": "integer",
            "description": "Total number of tracked coins",
            "example": 12189
          },
          "active_markets": {
            "type": "integer",
            "description": "Total number of active markets",
            "example": 30608
          },
          "total_mcap": {
            "type": "number",
            "format": "double",
            "description": "Total market capitalization in USD",
            "example": 1670518625657.58
          },
          "total_volume": {
            "type": "number",
            "format": "double",
            "description": "Total 24h trading volume in USD",
            "example": 66208624211.9
          },
          "btc_d": {
            "type": "string",
            "description": "Bitcoin dominance percentage",
            "example": "50.55"
          },
          "eth_d": {
            "type": "string",
            "description": "Ethereum dominance percentage",
            "example": "16.88"
          },
          "mcap_change": {
            "type": "string",
            "description": "Market cap change percentage",
            "example": "0.47"
          },
          "volume_change": {
            "type": "string",
            "description": "Volume change percentage",
            "example": "-25.82"
          },
          "avg_change_percent": {
            "type": "string",
            "description": "Average change percentage across coins",
            "example": "0.21"
          },
          "volume_ath": {
            "type": "number",
            "format": "double",
            "description": "All-time high trading volume"
          },
          "mcap_ath": {
            "type": "number",
            "format": "double",
            "description": "All-time high market capitalization"
          }
        }
      },
      "CoinTicker": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Coin ID",
            "example": "90"
          },
          "symbol": {
            "type": "string",
            "description": "Coin symbol",
            "example": "BTC"
          },
          "name": {
            "type": "string",
            "description": "Coin name",
            "example": "Bitcoin"
          },
          "nameid": {
            "type": "string",
            "description": "Coin name ID (slug)",
            "example": "bitcoin"
          },
          "rank": {
            "type": "integer",
            "description": "Market cap rank",
            "example": 1
          },
          "price_usd": {
            "type": "string",
            "description": "Price in USD",
            "example": "6456.52"
          },
          "percent_change_24h": {
            "type": "string",
            "description": "Price change in last 24 hours (%)",
            "example": "-1.47"
          },
          "percent_change_1h": {
            "type": "string",
            "description": "Price change in last 1 hour (%)",
            "example": "0.05"
          },
          "percent_change_7d": {
            "type": "string",
            "description": "Price change in last 7 days (%)",
            "example": "-1.07"
          },
          "price_btc": {
            "type": "string",
            "description": "Price in BTC",
            "example": "1.00"
          },
          "market_cap_usd": {
            "type": "string",
            "description": "Market capitalization in USD",
            "example": "111586042785.56"
          },
          "volume24": {
            "type": "number",
            "format": "double",
            "description": "24h trading volume in USD"
          },
          "volume24a": {
            "type": "number",
            "format": "double",
            "description": "24h adjusted trading volume in USD"
          },
          "csupply": {
            "type": "string",
            "description": "Circulating supply",
            "example": "17282687.00"
          },
          "tsupply": {
            "type": "string",
            "description": "Total supply",
            "example": "17282687"
          },
          "msupply": {
            "type": "string",
            "description": "Maximum supply",
            "example": "21000000"
          }
        }
      },
      "TickersResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoinTicker"
            },
            "description": "Array of coin ticker data"
          },
          "info": {
            "type": "object",
            "properties": {
              "coins_num": {
                "type": "integer",
                "description": "Total number of coins available",
                "example": 1969
              },
              "time": {
                "type": "integer",
                "description": "Response timestamp (UNIX)",
                "example": 1538560355
              }
            }
          }
        }
      },
      "CoinMarket": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Exchange name",
            "example": "Binance"
          },
          "base": {
            "type": "string",
            "description": "Base currency symbol",
            "example": "BTC"
          },
          "quote": {
            "type": "string",
            "description": "Quote currency symbol",
            "example": "USDT"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Trading price",
            "example": 43042.31
          },
          "price_usd": {
            "type": "number",
            "format": "double",
            "description": "Price in USD",
            "example": 43042.31
          },
          "volume": {
            "type": "number",
            "format": "double",
            "description": "Trading volume in base currency"
          },
          "volume_usd": {
            "type": "number",
            "format": "double",
            "description": "Trading volume in USD"
          },
          "time": {
            "type": "integer",
            "description": "Timestamp (UNIX)"
          }
        }
      },
      "Exchange": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Exchange ID",
            "example": "5"
          },
          "name": {
            "type": "string",
            "description": "Exchange name",
            "example": "Binance"
          },
          "name_id": {
            "type": "string",
            "description": "Exchange name slug",
            "example": "binance"
          },
          "volume_usd": {
            "type": "number",
            "format": "double",
            "description": "24h trading volume in USD"
          },
          "active_pairs": {
            "type": "integer",
            "description": "Number of active trading pairs",
            "example": 852
          },
          "url": {
            "type": "string",
            "description": "Exchange website URL",
            "example": "https://www.binance.com"
          },
          "country": {
            "type": "string",
            "description": "Country of operation",
            "example": "Japan"
          }
        }
      },
      "ExchangeDetail": {
        "type": "object",
        "properties": {
          "0": {
            "type": "object",
            "description": "Exchange metadata",
            "properties": {
              "name": {
                "type": "string",
                "description": "Exchange name",
                "example": "Binance"
              },
              "date_live": {
                "type": "string",
                "description": "Date exchange went live",
                "example": "2014-01-01"
              },
              "url": {
                "type": "string",
                "description": "Exchange website URL",
                "example": "https://www.binance.com"
              }
            }
          },
          "pairs": {
            "type": "array",
            "description": "Top 100 trading pairs on the exchange",
            "items": {
              "$ref": "#/components/schemas/TradingPair"
            }
          }
        }
      },
      "TradingPair": {
        "type": "object",
        "properties": {
          "base": {
            "type": "string",
            "description": "Base currency symbol",
            "example": "BNB"
          },
          "quote": {
            "type": "string",
            "description": "Quote currency symbol",
            "example": "USDT"
          },
          "volume": {
            "type": "number",
            "format": "double",
            "description": "Trading volume"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Trading price"
          },
          "price_usd": {
            "type": "number",
            "format": "double",
            "description": "Price in USD"
          },
          "time": {
            "type": "integer",
            "description": "Timestamp (UNIX)"
          }
        }
      },
      "SocialStats": {
        "type": "object",
        "description": "Social media statistics from Twitter and Reddit for a specific coin",
        "properties": {
          "twitter": {
            "type": "object",
            "description": "Twitter statistics",
            "properties": {
              "followers_count": {
                "type": "integer",
                "description": "Number of Twitter followers"
              },
              "status_count": {
                "type": "integer",
                "description": "Number of tweets"
              }
            }
          },
          "reddit": {
            "type": "object",
            "description": "Reddit statistics",
            "properties": {
              "subscribers": {
                "type": "integer",
                "description": "Number of subreddit subscribers"
              },
              "active_accounts": {
                "type": "integer",
                "description": "Number of active accounts"
              },
              "avg_posts_per_day": {
                "type": "number",
                "format": "double",
                "description": "Average posts per day"
              },
              "avg_comments_per_day": {
                "type": "number",
                "format": "double",
                "description": "Average comments per day"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
