{
  "openapi": "3.0.3",
  "info": {
    "title": "Careerjet Job Search API",
    "version": "1.0.0",
    "description": "Careerjet's partner job search API. Allows searching millions of job listings across multiple countries with comprehensive filtering options for keywords, location, contract type, work hours, and more.",
    "x-jentic-source-url": "https://www.careerjet.co.uk/partners/api/"
  },
  "servers": [
    {
      "url": "https://search.api.careerjet.net/v4"
    }
  ],
  "paths": {
    "/query": {
      "get": {
        "operationId": "searchJobs",
        "summary": "Search for jobs",
        "description": "Search for job listings based on keywords, location, and various filters.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "locale_code",
            "in": "query",
            "description": "Language and country code (e.g., en_GB, fr_FR). Defaults to en_GB.",
            "schema": {
              "type": "string",
              "default": "en_GB"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "description": "URL-encoded search terms.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Search location. Omit for country-wide search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contract_type",
            "in": "query",
            "description": "Contract type filter.",
            "schema": {
              "type": "string",
              "enum": [
                "p",
                "c",
                "t",
                "i",
                "v"
              ],
              "description": "p=permanent, c=contract, t=temporary, i=internship, v=volunteering"
            }
          },
          {
            "name": "work_hours",
            "in": "query",
            "description": "Work hours filter.",
            "schema": {
              "type": "string",
              "enum": [
                "f",
                "p"
              ],
              "description": "f=full-time, p=part-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for results.",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "date",
                "salary"
              ],
              "default": "relevance"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-10).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Results per page (1-100). Defaults to 20.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Results offset (1-999).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 999
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Search radius in km/miles. Defaults to 5.",
            "schema": {
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "fragment_size",
            "in": "query",
            "description": "Job excerpt length in characters. Defaults to 120.",
            "schema": {
              "type": "integer",
              "default": 120
            }
          },
          {
            "name": "user_ip",
            "in": "query",
            "required": true,
            "description": "The end user's IP address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_agent",
            "in": "query",
            "required": true,
            "description": "The end user's browser User-Agent string.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResult": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "hits": {
            "type": "integer",
            "description": "Total number of matching jobs."
          },
          "response_time": {
            "type": "number"
          },
          "pages": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the job listing."
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "Job excerpt/description fragment."
          },
          "company": {
            "type": "string"
          },
          "salary": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "locations": {
            "type": "string"
          },
          "site": {
            "type": "string",
            "description": "Original job board name."
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "API key as username with empty password."
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}