{
  "openapi": "3.0.3",
  "info": {
    "title": "MET Norway Locationforecast API",
    "version": "2.0",
    "description": "Weather forecasts for any location on earth from the Norwegian Meteorological Institute. Provides compact and complete JSON forecasts, legacy XML format, and service status endpoints.",
    "x-jentic-source-url": "https://api.met.no/",
    "contact": {
      "name": "MET Norway Developer Support",
      "email": "weatherapi-adm@met.no"
    },
    "license": {
      "name": "CC BY 4.0",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    },
    "termsOfService": "https://api.met.no/doc/TermsOfService"
  },
  "servers": [
    {
      "url": "https://api.met.no/weatherapi/locationforecast/2.0",
      "description": "MET Norway Locationforecast API v2.0"
    }
  ],
  "paths": {
    "/compact": {
      "get": {
        "operationId": "getcompactforecast",
        "tags": [
          "Forecast"
        ],
        "summary": "Get compact weather forecast in JSON",
        "description": "Returns a shortened JSON forecast with the most frequently used parameters.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            },
            "description": "Latitude in decimal degrees"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            },
            "description": "Longitude in decimal degrees"
          },
          {
            "name": "altitude",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Ground elevation in whole meters (improves temperature accuracy)"
          }
        ],
        "responses": {
          "200": {
            "description": "Compact weather forecast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/METJSONForecast"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing or invalid User-Agent header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/complete": {
      "get": {
        "operationId": "getcompleteforecast",
        "tags": [
          "Forecast"
        ],
        "summary": "Get complete weather forecast in JSON",
        "description": "Returns a complete JSON forecast with all available weather parameters.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            },
            "description": "Latitude in decimal degrees"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            },
            "description": "Longitude in decimal degrees"
          },
          {
            "name": "altitude",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Ground elevation in whole meters"
          }
        ],
        "responses": {
          "200": {
            "description": "Complete weather forecast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/METJSONForecast"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing or invalid User-Agent header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/classic": {
      "get": {
        "operationId": "getclassicforecast",
        "tags": [
          "Forecast"
        ],
        "summary": "Get legacy XML weather forecast",
        "description": "Returns weather forecast in legacy XML format matching version 1.9.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            },
            "description": "Latitude in decimal degrees"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            },
            "description": "Longitude in decimal degrees"
          },
          {
            "name": "altitude",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Ground elevation in whole meters"
          }
        ],
        "responses": {
          "200": {
            "description": "Legacy XML weather forecast",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - missing or invalid User-Agent header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "operationId": "getstatus",
        "tags": [
          "Status"
        ],
        "summary": "Get service status",
        "description": "Returns the operational status of the forecast service.",
        "responses": {
          "200": {
            "description": "Service status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "operationId": "gethealth",
        "tags": [
          "Status"
        ],
        "summary": "Health check endpoint",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "userAgent": {
        "type": "apiKey",
        "in": "header",
        "name": "User-Agent",
        "description": "Custom User-Agent header identifying your application (required, e.g. 'myapp/1.0 contact@example.com')"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "last_update": {
            "type": "string",
            "format": "date-time"
          },
          "expires": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "METJSONForecast": {
        "type": "object",
        "description": "GeoJSON Feature containing weather forecast timeseries",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Feature"
            ]
          },
          "geometry": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "Point"
                ]
              },
              "coordinates": {
                "type": "array",
                "items": {
                  "type": "number"
                },
                "description": "[longitude, latitude, altitude]"
              }
            }
          },
          "properties": {
            "type": "object",
            "properties": {
              "meta": {
                "type": "object",
                "properties": {
                  "updated_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "units": {
                    "type": "object",
                    "properties": {
                      "air_pressure_at_sea_level": {
                        "type": "string"
                      },
                      "air_temperature": {
                        "type": "string"
                      },
                      "air_temperature_max": {
                        "type": "string"
                      },
                      "air_temperature_min": {
                        "type": "string"
                      },
                      "cloud_area_fraction": {
                        "type": "string"
                      },
                      "cloud_area_fraction_high": {
                        "type": "string"
                      },
                      "cloud_area_fraction_low": {
                        "type": "string"
                      },
                      "cloud_area_fraction_medium": {
                        "type": "string"
                      },
                      "dew_point_temperature": {
                        "type": "string"
                      },
                      "fog_area_fraction": {
                        "type": "string"
                      },
                      "precipitation_amount": {
                        "type": "string"
                      },
                      "precipitation_amount_max": {
                        "type": "string"
                      },
                      "precipitation_amount_min": {
                        "type": "string"
                      },
                      "probability_of_precipitation": {
                        "type": "string"
                      },
                      "probability_of_thunder": {
                        "type": "string"
                      },
                      "relative_humidity": {
                        "type": "string"
                      },
                      "ultraviolet_index_clear_sky": {
                        "type": "string"
                      },
                      "wind_from_direction": {
                        "type": "string"
                      },
                      "wind_speed": {
                        "type": "string"
                      },
                      "wind_speed_of_gust": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "timeseries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ForecastTimeStep"
                }
              }
            }
          }
        }
      },
      "ForecastTimeStep": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "type": "object",
            "properties": {
              "instant": {
                "type": "object",
                "properties": {
                  "details": {
                    "$ref": "#/components/schemas/ForecastTimeInstant"
                  }
                }
              },
              "next_1_hours": {
                "type": "object",
                "properties": {
                  "summary": {
                    "type": "object",
                    "properties": {
                      "symbol_code": {
                        "type": "string"
                      }
                    }
                  },
                  "details": {
                    "$ref": "#/components/schemas/ForecastTimePeriod"
                  }
                }
              },
              "next_6_hours": {
                "type": "object",
                "properties": {
                  "summary": {
                    "type": "object",
                    "properties": {
                      "symbol_code": {
                        "type": "string"
                      }
                    }
                  },
                  "details": {
                    "$ref": "#/components/schemas/ForecastTimePeriod"
                  }
                }
              },
              "next_12_hours": {
                "type": "object",
                "properties": {
                  "summary": {
                    "type": "object",
                    "properties": {
                      "symbol_code": {
                        "type": "string"
                      }
                    }
                  },
                  "details": {
                    "$ref": "#/components/schemas/ForecastTimePeriod"
                  }
                }
              }
            }
          }
        }
      },
      "ForecastTimeInstant": {
        "type": "object",
        "properties": {
          "air_pressure_at_sea_level": {
            "type": "number"
          },
          "air_temperature": {
            "type": "number"
          },
          "cloud_area_fraction": {
            "type": "number"
          },
          "cloud_area_fraction_high": {
            "type": "number"
          },
          "cloud_area_fraction_low": {
            "type": "number"
          },
          "cloud_area_fraction_medium": {
            "type": "number"
          },
          "dew_point_temperature": {
            "type": "number"
          },
          "fog_area_fraction": {
            "type": "number"
          },
          "relative_humidity": {
            "type": "number"
          },
          "ultraviolet_index_clear_sky": {
            "type": "number"
          },
          "wind_from_direction": {
            "type": "number"
          },
          "wind_speed": {
            "type": "number"
          },
          "wind_speed_of_gust": {
            "type": "number"
          }
        }
      },
      "ForecastTimePeriod": {
        "type": "object",
        "properties": {
          "air_temperature_max": {
            "type": "number"
          },
          "air_temperature_min": {
            "type": "number"
          },
          "precipitation_amount": {
            "type": "number"
          },
          "precipitation_amount_max": {
            "type": "number"
          },
          "precipitation_amount_min": {
            "type": "number"
          },
          "probability_of_precipitation": {
            "type": "number"
          },
          "probability_of_thunder": {
            "type": "number"
          }
        }
      }
    }
  },
  "security": [
    {
      "userAgent": []
    }
  ],
  "tags": [
    {
      "name": "Forecast",
      "description": "Operations related to Forecast"
    },
    {
      "name": "Status",
      "description": "Operations related to Status"
    }
  ]
}