{
  "openapi": "3.0.3",
  "info": {
    "title": "Flipkart Marketplace API",
    "version": "3.0",
    "description": "Flipkart Marketplace API for sellers to manage product listings, orders, shipments, returns, and inventory on the Flipkart e-commerce platform.",
    "x-jentic-source-url": "https://seller.flipkart.com/api-docs/FMSAPI.html",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.flipkart.net/sellers"
    }
  ],
  "paths": {
    "/listings/v3/{skuId}": {
      "get": {
        "operationId": "getListing",
        "summary": "Get listing details",
        "description": "Retrieve listing details for a specific SKU",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "SKU not found"
          }
        }
      },
      "post": {
        "operationId": "createListing",
        "summary": "Create a listing",
        "description": "Create a new product listing for a SKU",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listing created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateListing",
        "summary": "Update a listing",
        "description": "Update an existing product listing",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "skuId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listing updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/orders/search": {
      "get": {
        "operationId": "searchOrders",
        "summary": "Search orders",
        "description": "Search and filter seller orders",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "APPROVED",
                "PACKING",
                "READY_TO_DISPATCH",
                "SHIPPED",
                "DELIVERED",
                "CANCELLED"
              ]
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get order details",
        "description": "Retrieve details of a specific order",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/orders/shipments": {
      "post": {
        "operationId": "createShipment",
        "summary": "Create shipment",
        "description": "Mark order items as packed and create shipment",
        "tags": [
          "Shipments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shipment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/orders/labels": {
      "get": {
        "operationId": "getShippingLabel",
        "summary": "Get shipping labels",
        "description": "Download shipping labels for order items",
        "tags": [
          "Shipments"
        ],
        "parameters": [
          {
            "name": "orderItemIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated order item IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Shipping label PDF",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/orders/dispatch": {
      "post": {
        "operationId": "dispatchOrder",
        "summary": "Mark as dispatched",
        "description": "Mark shipment as dispatched with tracking details",
        "tags": [
          "Shipments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DispatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dispatched successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/returns": {
      "get": {
        "operationId": "getReturns",
        "summary": "Get returns",
        "description": "Retrieve list of return requests",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "RETURN_REQUESTED",
                "APPROVED",
                "PICKED_UP",
                "COMPLETED"
              ]
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "returns": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Return"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/returns/{returnId}/approve": {
      "post": {
        "operationId": "approveReturn",
        "summary": "Approve return",
        "description": "Approve a return request",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "returnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return approved"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Return not found"
          }
        }
      }
    },
    "/returns/{returnId}/reject": {
      "post": {
        "operationId": "rejectReturn",
        "summary": "Reject return",
        "description": "Reject a return request",
        "tags": [
          "Returns"
        ],
        "parameters": [
          {
            "name": "returnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                },
                "required": [
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return rejected"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Listing": {
        "type": "object",
        "properties": {
          "sku_id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "mrp": {
            "type": "number"
          },
          "selling_price": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "stock_count": {
            "type": "integer"
          },
          "listing_status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          },
          "fulfillment_type": {
            "type": "string",
            "enum": [
              "NON_FBF",
              "FBF"
            ]
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateListingRequest": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string"
          },
          "mrp": {
            "type": "number"
          },
          "selling_price": {
            "type": "number"
          },
          "stock_count": {
            "type": "integer"
          },
          "listing_status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          },
          "fulfillment_type": {
            "type": "string",
            "enum": [
              "NON_FBF",
              "FBF"
            ]
          }
        },
        "required": [
          "product_id",
          "mrp",
          "selling_price",
          "stock_count"
        ]
      },
      "UpdateListingRequest": {
        "type": "object",
        "properties": {
          "mrp": {
            "type": "number"
          },
          "selling_price": {
            "type": "number"
          },
          "stock_count": {
            "type": "integer"
          },
          "listing_status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string"
          },
          "order_date": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "APPROVED",
              "PACKING",
              "READY_TO_DISPATCH",
              "SHIPPED",
              "DELIVERED",
              "CANCELLED"
            ]
          },
          "order_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          },
          "buyer_address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "order_item_id": {
            "type": "string"
          },
          "sku_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "selling_price": {
            "type": "number"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "OrderSearchResponse": {
        "type": "object",
        "properties": {
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          },
          "totalCount": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address_line1": {
            "type": "string"
          },
          "address_line2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "pincode": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "CreateShipmentRequest": {
        "type": "object",
        "properties": {
          "order_item_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dimensions": {
            "type": "object",
            "properties": {
              "length": {
                "type": "number"
              },
              "breadth": {
                "type": "number"
              },
              "height": {
                "type": "number"
              },
              "weight": {
                "type": "number"
              }
            }
          }
        },
        "required": [
          "order_item_ids"
        ]
      },
      "Shipment": {
        "type": "object",
        "properties": {
          "shipment_id": {
            "type": "string"
          },
          "order_item_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string"
          },
          "tracking_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DispatchRequest": {
        "type": "object",
        "properties": {
          "shipment_id": {
            "type": "string"
          },
          "tracking_id": {
            "type": "string"
          },
          "courier_name": {
            "type": "string"
          }
        },
        "required": [
          "shipment_id"
        ]
      },
      "Return": {
        "type": "object",
        "properties": {
          "return_id": {
            "type": "string"
          },
          "order_id": {
            "type": "string"
          },
          "order_item_id": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "RETURN_REQUESTED",
              "APPROVED",
              "PICKED_UP",
              "COMPLETED"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.flipkart.net/oauth-service/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Listings",
      "description": "Product listing management"
    },
    {
      "name": "Orders",
      "description": "Order management"
    },
    {
      "name": "Shipments",
      "description": "Shipment and dispatch management"
    },
    {
      "name": "Returns",
      "description": "Return request management"
    }
  ]
}
