{
  "openapi": "3.0.3",
  "info": {
    "title": "Aurora Platform API",
    "version": "1.0.0",
    "description": "Aurora Inbox is a multi-channel messaging platform API for managing chats, contacts, companies, opportunities, teams, users, and webhooks across WhatsApp, Messenger and other channels.",
    "x-jentic-source-url": "https://developers.aurorainbox.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://developers.aurorainbox.com/Platform/V1"
    }
  ],
  "paths": {
    "/Channels/WhatsAppBusiness": {
      "get": {
        "operationId": "listWhatsAppBusinessChannels",
        "summary": "List WhatsApp Business channels",
        "tags": [
          "Channels"
        ],
        "responses": {
          "200": {
            "description": "Channel list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List WhatsApp Business channels"
      }
    },
    "/Channels/WhatsAppCloudAPI": {
      "get": {
        "operationId": "listWhatsAppCloudChannels",
        "summary": "List WhatsApp Cloud API channels",
        "tags": [
          "Channels"
        ],
        "responses": {
          "200": {
            "description": "Channel list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List WhatsApp Cloud API channels"
      }
    },
    "/Channels/Messenger": {
      "get": {
        "operationId": "listMessengerChannels",
        "summary": "List Messenger channels",
        "tags": [
          "Channels"
        ],
        "responses": {
          "200": {
            "description": "Channel list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List Messenger channels"
      }
    },
    "/Chatbots": {
      "get": {
        "operationId": "listChatbots",
        "summary": "List chatbots",
        "tags": [
          "Chatbots"
        ],
        "responses": {
          "200": {
            "description": "Chatbot list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List chatbots"
      }
    },
    "/Chats": {
      "post": {
        "operationId": "createChat",
        "summary": "Create a chat",
        "tags": [
          "Chats"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a chat"
      }
    },
    "/Chats/{id}": {
      "get": {
        "operationId": "getChat",
        "summary": "Get a chat",
        "tags": [
          "Chats"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat details"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a chat"
      }
    },
    "/Chats/{id}/Messages": {
      "post": {
        "operationId": "sendChatMessage",
        "summary": "Send a message in a chat",
        "tags": [
          "Chats"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Send a message in a chat"
      }
    },
    "/Chats/Search": {
      "post": {
        "operationId": "searchChats",
        "summary": "Search chats",
        "tags": [
          "Chats"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Search chats"
      }
    },
    "/Contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "Contact list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List contacts"
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create a contact",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a contact"
      }
    },
    "/Contacts/{id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get a contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a contact"
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a contact"
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete a contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a contact"
      }
    },
    "/Contacts/Upsert": {
      "post": {
        "operationId": "upsertContact",
        "summary": "Upsert a contact",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upserted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Upsert a contact"
      }
    },
    "/Companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "List companies",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Company list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List companies"
      },
      "post": {
        "operationId": "createCompany",
        "summary": "Create a company",
        "tags": [
          "Companies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a company"
      }
    },
    "/Companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get a company",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company details"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a company"
      },
      "put": {
        "operationId": "updateCompany",
        "summary": "Update a company",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a company"
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Delete a company",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a company"
      }
    },
    "/Opportunities": {
      "post": {
        "operationId": "createOpportunity",
        "summary": "Create an opportunity",
        "tags": [
          "Opportunities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create an opportunity"
      }
    },
    "/Opportunities/{id}": {
      "put": {
        "operationId": "updateOpportunity",
        "summary": "Update an opportunity",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update an opportunity"
      },
      "delete": {
        "operationId": "deleteOpportunity",
        "summary": "Delete an opportunity",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete an opportunity"
      }
    },
    "/Teams": {
      "get": {
        "operationId": "listTeams",
        "summary": "List teams",
        "tags": [
          "Teams"
        ],
        "responses": {
          "200": {
            "description": "Team list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List teams"
      }
    },
    "/Teams/{id}": {
      "get": {
        "operationId": "getTeam",
        "summary": "Get a team",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team details"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a team"
      }
    },
    "/Users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List users"
      }
    },
    "/Webhooks": {
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a webhook"
      },
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List webhooks"
      }
    },
    "/Webhooks/{id}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get a webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a webhook"
      },
      "put": {
        "operationId": "updateWebhook",
        "summary": "Update a webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a webhook"
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a webhook"
      }
    },
    "/Webhooks/{id}/Test": {
      "post": {
        "operationId": "testWebhook",
        "summary": "Test a webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test sent"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Test a webhook"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Channels"
    },
    {
      "name": "Chatbots"
    },
    {
      "name": "Chats"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Opportunities"
    },
    {
      "name": "Teams"
    },
    {
      "name": "Users"
    },
    {
      "name": "Webhooks"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
