{
  "openapi": "3.0.3",
  "info": {
    "title": "AeroLeads API",
    "version": "1.0.0",
    "description": "AeroLeads API for finding business emails, phone numbers and B2B data from LinkedIn and other sources. Provides prospect search and lead enrichment capabilities.",
    "x-jentic-source-url": "https://aeroleads.com/api/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.aeroleads.com/v1",
      "description": "AeroLeads API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Prospects",
      "description": "Search and retrieve prospect data"
    },
    {
      "name": "Lists",
      "description": "Manage prospect lists"
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "operationId": "searchProspects",
        "tags": [
          "Prospects"
        ],
        "summary": "Search for prospects",
        "description": "Search for business prospects by name, company, domain, or LinkedIn URL to find email addresses and phone numbers.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful prospect search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/find": {
      "post": {
        "operationId": "findEmails",
        "tags": [
          "Prospects"
        ],
        "summary": "Find email addresses",
        "description": "Find verified email addresses for a person given their name and company domain.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email lookup results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindEmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lists": {
      "get": {
        "operationId": "getLists",
        "tags": [
          "Lists"
        ],
        "summary": "Get all prospect lists",
        "description": "Retrieve all prospect lists in the account.",
        "responses": {
          "200": {
            "description": "List of prospect lists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lists/{listId}/prospects": {
      "get": {
        "operationId": "getListProspects",
        "tags": [
          "Lists"
        ],
        "summary": "Get prospects in a list",
        "description": "Retrieve all prospects from a specific list.",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the prospect list"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Prospects in the list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "header",
        "description": "AeroLeads API key obtained from account settings"
      }
    },
    "schemas": {
      "SearchRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the prospect"
          },
          "company": {
            "type": "string",
            "description": "Company name"
          },
          "domain": {
            "type": "string",
            "description": "Company domain"
          },
          "linkedin_url": {
            "type": "string",
            "description": "LinkedIn profile URL"
          },
          "title": {
            "type": "string",
            "description": "Job title"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Prospect"
            }
          }
        }
      },
      "FindEmailRequest": {
        "type": "object",
        "required": [
          "name",
          "domain"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the person"
          },
          "domain": {
            "type": "string",
            "description": "Company domain"
          }
        }
      },
      "FindEmailResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "professional",
                    "personal"
                  ]
                },
                "confidence": {
                  "type": "string",
                  "enum": [
                    "high",
                    "medium",
                    "low"
                  ]
                }
              }
            }
          }
        }
      },
      "ListsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "lists": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "ProspectsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Prospect"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "Prospect": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "linkedin_url": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
