{
  "openapi": "3.0.3",
  "info": {
    "title": "Tiger Form Zapier API",
    "version": "1.0.0",
    "description": "Tiger Form API for Zapier integration. Provides endpoints for authentication, listing forms, and retrieving form submissions.",
    "x-jentic-source-url": "https://form-qr-code-generator.com/docs/integrations/zapier/v1.0.0/index.html"
  },
  "servers": [
    {
      "url": "https://form-qr-code-generator.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/integration/zapier/v1/auth": {
      "post": {
        "operationId": "authenticate",
        "summary": "Authenticate with API key",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Item Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/zapier/v1/form/list": {
      "get": {
        "operationId": "listforms",
        "summary": "Get list of forms",
        "tags": [
          "Forms"
        ],
        "responses": {
          "200": {
            "description": "List of forms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Form"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integration/zapier/v1/submission/list/{form_code}": {
      "get": {
        "operationId": "listsubmissions",
        "summary": "List submissions of a form",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "form_code",
            "in": "path",
            "required": true,
            "description": "The form's code identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of submissions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Submission"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API Key"
          },
          "404": {
            "description": "Form not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as a Bearer token in the Authorization header"
      }
    },
    "schemas": {
      "AuthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Authentication status"
          }
        }
      },
      "Form": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Form unique identifier"
          },
          "code": {
            "type": "string",
            "description": "Form code identifier"
          },
          "title": {
            "type": "string",
            "description": "Form title"
          },
          "columns": {
            "type": "array",
            "description": "Form field columns",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Submission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Submission unique identifier"
          },
          "form_code": {
            "type": "string",
            "description": "Code of the form this submission belongs to"
          },
          "form_title": {
            "type": "string",
            "description": "Title of the form"
          },
          "submission_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time of submission"
          },
          "responses": {
            "type": "object",
            "additionalProperties": true,
            "description": "Key-value pairs of form field responses"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Operations related to Authentication"
    },
    {
      "name": "Forms",
      "description": "Operations related to Forms"
    },
    {
      "name": "Submissions",
      "description": "Operations related to Submissions"
    }
  ]
}