{
    "openapi": "3.0.0",
    "info": {
        "description": "Documentação da API do Cartão iSaúde fornecida pela IMED Saúde",
        "version": "1.0.0",
        "title": "API Rest - IMED iSaúde",
        "contact": {
            "email": "sistemas@clinicaimed.com.br"
        },
        "license": {
            "name": "Clínica IMED",
            "url": "https://clinicaimed.online"
        },
        "x-jentic-source-url": "https://api.swaggerhub.com/apis/i84657/apirestimedisaude/1.0.0/swagger.json"
    },
    "tags": [
        {
            "name": "Clientes",
            "description": "Dados dos clientes"
        }
    ],
    "paths": {
        "/createconsulta": {
            "get": {
                "tags": [
                    "developers"
                ],
                "summary": "searches inventory",
                "operationId": "searchInventory",
                "description": "By passing in the appropriate options, you can search for\navailable inventory in the system\n",
                "parameters": [
                    {
                        "in": "header",
                        "name": "authorization",
                        "description": "pass an optional search string for looking up inventory",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "header",
                        "name": "mainphone",
                        "description": "number of records to skip for pagination",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0
                        }
                    },
                    {
                        "in": "header",
                        "name": "modalidade",
                        "description": "maximum number of records to return",
                        "schema": {
                            "type": "string",
                            "format": "int32",
                            "minimum": 0,
                            "maximum": 50
                        }
                    },
                    {
                        "in": "header",
                        "name": "pacnome",
                        "description": "maximum number of records to return",
                        "schema": {
                            "type": "string",
                            "format": "int32",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "search results matching criteria",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/InventoryItem"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            },
            "post": {
                "tags": [
                    "admins"
                ],
                "summary": "adds an inventory item",
                "operationId": "addInventory",
                "description": "Adds an item to the system",
                "parameters": [
                    {
                        "in": "header",
                        "name": "authorization",
                        "description": "pass an optional search string for looking up inventory",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InventoryItem"
                            }
                        }
                    },
                    "description": "Inventory item to add"
                },
                "responses": {
                    "201": {
                        "description": "item created"
                    },
                    "400": {
                        "description": "invalid input, object invalid"
                    },
                    "409": {
                        "description": "an existing item already exists"
                    }
                }
            }
        }
    },
    "servers": [
        {
            "url": "//clinicaimed.online/_functions"
        }
    ],
    "components": {
        "schemas": {
            "InventoryItem": {
                "type": "object",
                "required": [
                    "pacnome",
                    "email",
                    "modalidade",
                    "convenio"
                ],
                "properties": {
                    "pacnome": {
                        "type": "string",
                        "example": "Paciente"
                    },
                    "email": {
                        "type": "string",
                        "example": "whateverson@gmail.com"
                    },
                    "modalidade": {
                        "type": "string",
                        "example": "Pneumologista"
                    },
                    "datanascimento": {
                        "type": "string",
                        "example": "1998-05-05"
                    },
                    "mainphone": {
                        "type": "integer",
                        "example": "Paciente"
                    },
                    "convenio": {
                        "type": "string",
                        "example": "Iamspe"
                    }
                }
            }
        }
    }
}