{
  "openapi": "3.0.3",
  "info": {
    "title": "SeaTable API",
    "description": "SeaTable is an online database and spreadsheet platform. The API provides comprehensive access to bases, tables, rows, columns, views, links, files, and more. Authentication uses tokens with different scopes: Account-Token for account-level operations, API-Token for base access, and Base-Token for base-specific requests.",
    "version": "2.1.0",
    "x-jentic-source-url": "https://api.seatable.com/reference",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://cloud.seatable.io",
      "description": "SeaTable Cloud"
    },
    {
      "url": "https://{server}",
      "description": "Self-hosted SeaTable instance",
      "variables": {
        "server": {
          "default": "cloud.seatable.io",
          "description": "Your SeaTable server address"
        }
      }
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api-gateway/api/v2/dtables/{base_uuid}/rows": {
      "get": {
        "operationId": "listRows",
        "summary": "List rows",
        "description": "Returns a list of rows contained in a table. If a view is specified, only visible columns from that view are returned. Link columns return a maximum of 50 records per row.",
        "tags": [
          "Rows"
        ],
        "parameters": [
          {
            "name": "base_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the base"
          },
          {
            "name": "table_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Specifies which table to query"
          },
          {
            "name": "view_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "If provided, returns only visible columns from that view"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Row"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "appendRows",
        "summary": "Append row(s)",
        "description": "Adds one or multiple rows to a table. Column names must be used (not internal column keys). Unknown keys are silently ignored.",
        "tags": [
          "Rows"
        ],
        "parameters": [
          {
            "name": "base_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the base"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "table_name": {
                    "type": "string",
                    "description": "Name of the table to append rows to"
                  },
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "description": "Array of row objects with column:value pairs"
                  }
                },
                "required": [
                  "table_name",
                  "rows"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inserted_row_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateRows",
        "summary": "Update row(s)",
        "description": "Updates one or multiple rows in a table. Column names must be used (not internal column keys). Unknown keys are silently ignored.",
        "tags": [
          "Rows"
        ],
        "parameters": [
          {
            "name": "base_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the base"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "table_name": {
                    "type": "string",
                    "description": "Name of the table"
                  },
                  "row_id": {
                    "type": "string",
                    "description": "ID of the row to update"
                  },
                  "row": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Object with column:value pairs to update"
                  }
                },
                "required": [
                  "table_name",
                  "row_id",
                  "row"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteRows",
        "summary": "Delete row(s)",
        "description": "Deletes one or multiple rows from the table, identified by row ID regardless of storage backend.",
        "tags": [
          "Rows"
        ],
        "parameters": [
          {
            "name": "base_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the base"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "table_name": {
                    "type": "string",
                    "description": "Name of the table"
                  },
                  "row_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of row IDs to delete"
                  }
                },
                "required": [
                  "table_name",
                  "row_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-gateway/api/v2/dtables/{base_uuid}/rows/{row_id}": {
      "get": {
        "operationId": "getRow",
        "summary": "Get row",
        "description": "Returns the values of one row with all columns and values.",
        "tags": [
          "Rows"
        ],
        "parameters": [
          {
            "name": "base_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the base"
          },
          {
            "name": "row_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the row"
          },
          {
            "name": "table_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the table"
          },
          {
            "name": "convert_keys",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Controls response format (column names vs. column keys)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Row"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-gateway/api/v2/dtables/{base_uuid}/sql": {
      "post": {
        "operationId": "querySql",
        "summary": "Query with SQL",
        "description": "Execute SQL queries including SELECT, INSERT, UPDATE, and DELETE operations. Supports filtering, sorting, grouping, and aggregation. Returns a maximum of 10,000 rows per query.",
        "tags": [
          "Rows"
        ],
        "parameters": [
          {
            "name": "base_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the base"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sql": {
                    "type": "string",
                    "description": "The SQL query string"
                  },
                  "convert_keys": {
                    "type": "boolean",
                    "description": "Return column keys instead of names"
                  }
                },
                "required": [
                  "sql"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metadata": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-gateway/api/v2/dtables/{base_uuid}/tables": {
      "post": {
        "operationId": "createTable",
        "summary": "Create table",
        "description": "Creates a new table in the base. The first column must be one of: text, number, date, single select, formula, or autonumber.",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "base_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the base"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "table_name": {
                    "type": "string",
                    "description": "Name of the new table"
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "description": "Optional array of column definitions"
                  }
                },
                "required": [
                  "table_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-gateway/api/v2/dtables/{base_uuid}/views": {
      "get": {
        "operationId": "listViews",
        "summary": "List views",
        "description": "Returns a list of all views in a table with their complete settings.",
        "tags": [
          "Views"
        ],
        "parameters": [
          {
            "name": "base_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the base"
          },
          {
            "name": "table_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the table"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "views": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/View"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createView",
        "summary": "Create view",
        "description": "Creates a new view in a table. After creation, use Update View to further define the view's filtering, sorting, and display preferences.",
        "tags": [
          "Views"
        ],
        "parameters": [
          {
            "name": "base_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the base"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The display name for the new view"
                  },
                  "table_name": {
                    "type": "string",
                    "description": "Name of the table"
                  }
                },
                "required": [
                  "name",
                  "table_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-gateway/api/v2/dtables/{base_uuid}/query-links": {
      "post": {
        "operationId": "listRowLinks",
        "summary": "List row links",
        "description": "Query each row's linked records' IDs and display values when a 'Link to other records' column exists with established connections.",
        "tags": [
          "Links"
        ],
        "parameters": [
          {
            "name": "base_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the base"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "table_id": {
                    "type": "string",
                    "description": "ID of the table (alternative to table_name)"
                  },
                  "table_name": {
                    "type": "string",
                    "description": "Name of the table (alternative to table_id)"
                  },
                  "link_column_key": {
                    "type": "string",
                    "description": "Key of the link column (alternative to link_column_name)"
                  },
                  "link_column_name": {
                    "type": "string",
                    "description": "Name of the link column (alternative to link_column_key)"
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Starting position for results"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Number of records per row (default: 10)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api-gateway/api/v2/dtables/{base_uuid}/links": {
      "post": {
        "operationId": "createRowLinks",
        "summary": "Create row link(s)",
        "description": "Creates multiple links between one row and many others, establishing 1:n relationships. Cannot create duplicate links.",
        "tags": [
          "Links"
        ],
        "parameters": [
          {
            "name": "base_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the base"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "table_name": {
                    "type": "string",
                    "description": "Name of the table"
                  },
                  "other_table_name": {
                    "type": "string",
                    "description": "Name of the linked table"
                  },
                  "link_column_name": {
                    "type": "string",
                    "description": "Name of the link column"
                  },
                  "other_rows_ids_map": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": "Map of source row IDs to arrays of target row IDs"
                  }
                },
                "required": [
                  "table_name",
                  "other_table_name",
                  "link_column_name",
                  "other_rows_ids_map"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.1/dtable/app-upload-link": {
      "get": {
        "operationId": "getUploadLink",
        "summary": "Get upload link",
        "description": "Returns an upload link for uploading files/images to a base. The link is only valid for a few minutes. Requires an API token (not a Base token).",
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "upload_link": {
                      "type": "string",
                      "description": "URL for uploading files"
                    },
                    "parent_path": {
                      "type": "string",
                      "description": "Parent path information"
                    },
                    "relative_path": {
                      "type": "string",
                      "description": "Relative path information"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. SeaTable uses different token types: Account-Token for account operations, API-Token for base access, and Base-Token for base-specific requests."
      }
    },
    "schemas": {
      "Row": {
        "type": "object",
        "description": "A row object containing column data and hidden metadata fields",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique row identifier"
          },
          "_ctime": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "_mtime": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp"
          },
          "_creator": {
            "type": "string",
            "description": "Creator of the row"
          }
        },
        "additionalProperties": true
      },
      "Table": {
        "type": "object",
        "description": "A table object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique table identifier"
          },
          "name": {
            "type": "string",
            "description": "Table name"
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of column definitions"
          }
        }
      },
      "View": {
        "type": "object",
        "description": "A view object representing a filtered/sorted display of table data",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique view identifier"
          },
          "name": {
            "type": "string",
            "description": "View name"
          },
          "type": {
            "type": "string",
            "description": "View type"
          },
          "is_locked": {
            "type": "boolean",
            "description": "Whether the view is locked"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error response object",
        "properties": {
          "error_msg": {
            "type": "string",
            "description": "Error message describing what went wrong"
          },
          "error_type": {
            "type": "string",
            "description": "Error type or code"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Rows",
      "description": "Operations for querying, creating, updating, and deleting rows"
    },
    {
      "name": "Tables",
      "description": "Operations for managing tables"
    },
    {
      "name": "Views",
      "description": "Operations for managing views"
    },
    {
      "name": "Links",
      "description": "Operations for managing row links between tables"
    },
    {
      "name": "Files",
      "description": "Operations for uploading and managing files"
    }
  ]
}
