{
  "openapi": "3.0.3",
  "info": {
    "title": "Billplz Payment API",
    "description": "Billplz is a payment platform for organizations to pay and get paid fastest, at the lowest cost possible. This spec covers V3, V4, and V5 endpoints for collections, bills, transactions, payment methods, tokenization, and payment orders.",
    "version": "3.0.0",
    "x-jentic-source-url": "https://www.billplz.com/api"
  },
  "servers": [
    {
      "url": "https://www.billplz.com/api",
      "description": "Production server"
    },
    {
      "url": "https://www.billplz-sandbox.com/api",
      "description": "Sandbox server"
    }
  ],
  "paths": {
    "/v3/collections": {
      "post": {
        "operationId": "createCollection",
        "summary": "Create a collection",
        "tags": [
          "Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "The collection title"
                  },
                  "logo": {
                    "type": "string",
                    "format": "binary",
                    "description": "Collection logo image"
                  },
                  "split_payment[email]": {
                    "type": "string",
                    "format": "email",
                    "description": "Split payment recipient email"
                  },
                  "split_payment[fixed_cut]": {
                    "type": "integer",
                    "description": "Fixed cut amount in cents"
                  },
                  "split_payment[variable_cut]": {
                    "type": "number",
                    "description": "Variable cut percentage"
                  },
                  "split_payment[split_header]": {
                    "type": "boolean",
                    "description": "Show split payment header"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCollections",
        "summary": "List collections",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionList"
                }
              }
            }
          }
        }
      }
    },
    "/v3/collections/{collection_id}": {
      "get": {
        "operationId": "getCollection",
        "summary": "Get a collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v3/collections/{collection_id}/deactivate": {
      "post": {
        "operationId": "deactivateCollection",
        "summary": "Deactivate a collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          }
        }
      }
    },
    "/v3/collections/{collection_id}/activate": {
      "post": {
        "operationId": "activateCollection",
        "summary": "Activate a collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          }
        }
      }
    },
    "/v3/open_collections": {
      "post": {
        "operationId": "createOpenCollection",
        "summary": "Create an open collection",
        "tags": [
          "Open Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "description",
                  "amount"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Amount in cents"
                  },
                  "fixed_amount": {
                    "type": "boolean"
                  },
                  "fixed_quantity": {
                    "type": "boolean"
                  },
                  "payment_button": {
                    "type": "string"
                  },
                  "reference_1_label": {
                    "type": "string"
                  },
                  "reference_2_label": {
                    "type": "string"
                  },
                  "email_link": {
                    "type": "string"
                  },
                  "tax": {
                    "type": "number"
                  },
                  "photo": {
                    "type": "string",
                    "format": "binary"
                  },
                  "split_payment[email]": {
                    "type": "string"
                  },
                  "split_payment[fixed_cut]": {
                    "type": "integer"
                  },
                  "split_payment[variable_cut]": {
                    "type": "number"
                  },
                  "split_payment[split_header]": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Open collection created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCollection"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOpenCollections",
        "summary": "List open collections",
        "tags": [
          "Open Collections"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of open collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCollectionList"
                }
              }
            }
          }
        }
      }
    },
    "/v3/open_collections/{collection_id}": {
      "get": {
        "operationId": "getOpenCollection",
        "summary": "Get an open collection",
        "tags": [
          "Open Collections"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open collection details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCollection"
                }
              }
            }
          }
        }
      }
    },
    "/v3/bills": {
      "post": {
        "operationId": "createBill",
        "summary": "Create a bill",
        "tags": [
          "Bills"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "collection_id",
                  "description",
                  "amount",
                  "callback_url"
                ],
                "properties": {
                  "collection_id": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email or mobile is required"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "Mobile number or email is required"
                  },
                  "name": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Amount in cents"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "description": {
                    "type": "string"
                  },
                  "due_at": {
                    "type": "string",
                    "format": "date"
                  },
                  "redirect_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "deliver": {
                    "type": "boolean",
                    "default": false
                  },
                  "reference_1_label": {
                    "type": "string"
                  },
                  "reference_1": {
                    "type": "string"
                  },
                  "reference_2_label": {
                    "type": "string"
                  },
                  "reference_2": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bill created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              }
            }
          }
        }
      }
    },
    "/v3/bills/{bill_id}": {
      "get": {
        "operationId": "getBill",
        "summary": "Get a bill",
        "tags": [
          "Bills"
        ],
        "parameters": [
          {
            "name": "bill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bill details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              }
            }
          },
          "404": {
            "description": "Bill not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBill",
        "summary": "Delete a bill",
        "description": "Only due (unpaid) bills can be deleted.",
        "tags": [
          "Bills"
        ],
        "parameters": [
          {
            "name": "bill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bill deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              }
            }
          }
        }
      }
    },
    "/v3/bills/{bill_id}/transactions": {
      "get": {
        "operationId": "listBillTransactions",
        "summary": "List bill transactions",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "bill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "completed",
                "failed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionList"
                }
              }
            }
          }
        }
      }
    },
    "/v3/collections/{collection_id}/payment_methods": {
      "get": {
        "operationId": "listPaymentMethods",
        "summary": "List payment methods for a collection",
        "tags": [
          "Payment Methods"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodList"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatePaymentMethods",
        "summary": "Update payment methods for a collection",
        "tags": [
          "Payment Methods"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_methods[][code]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of payment method codes"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment methods updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodList"
                }
              }
            }
          }
        }
      }
    },
    "/v3/fpx_banks": {
      "get": {
        "operationId": "listFpxBanks",
        "summary": "Get FPX bank list",
        "tags": [
          "FPX Banks"
        ],
        "responses": {
          "200": {
            "description": "List of FPX banks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FpxBankList"
                }
              }
            }
          }
        }
      }
    },
    "/v4/collections": {
      "post": {
        "operationId": "createCollectionV4",
        "summary": "Create a collection (V4)",
        "tags": [
          "Collections V4"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "split_payments[][email]": {
                    "type": "string"
                  },
                  "split_payments[][fixed_cut]": {
                    "type": "integer"
                  },
                  "split_payments[][variable_cut]": {
                    "type": "number"
                  },
                  "split_payments[][stack_order]": {
                    "type": "integer"
                  },
                  "split_payments[][split_header]": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCollectionsV4",
        "summary": "List collections (V4)",
        "tags": [
          "Collections V4"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionList"
                }
              }
            }
          }
        }
      }
    },
    "/v4/collections/{collection_id}": {
      "get": {
        "operationId": "getCollectionV4",
        "summary": "Get a collection (V4)",
        "tags": [
          "Collections V4"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          }
        }
      }
    },
    "/v4/open_collections": {
      "post": {
        "operationId": "createOpenCollectionV4",
        "summary": "Create an open collection (V4)",
        "tags": [
          "Open Collections V4"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "description",
                  "amount"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "integer"
                  },
                  "fixed_amount": {
                    "type": "boolean"
                  },
                  "fixed_quantity": {
                    "type": "boolean"
                  },
                  "payment_button": {
                    "type": "string"
                  },
                  "reference_1_label": {
                    "type": "string"
                  },
                  "reference_2_label": {
                    "type": "string"
                  },
                  "email_link": {
                    "type": "string"
                  },
                  "tax": {
                    "type": "number"
                  },
                  "photo": {
                    "type": "string",
                    "format": "binary"
                  },
                  "split_payments[][email]": {
                    "type": "string"
                  },
                  "split_payments[][fixed_cut]": {
                    "type": "integer"
                  },
                  "split_payments[][variable_cut]": {
                    "type": "number"
                  },
                  "split_header": {
                    "type": "boolean"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Open collection created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCollection"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOpenCollectionsV4",
        "summary": "List open collections (V4)",
        "tags": [
          "Open Collections V4"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of open collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCollectionList"
                }
              }
            }
          }
        }
      }
    },
    "/v4/open_collections/{collection_id}": {
      "get": {
        "operationId": "getOpenCollectionV4",
        "summary": "Get an open collection (V4)",
        "tags": [
          "Open Collections V4"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open collection details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCollection"
                }
              }
            }
          }
        }
      }
    },
    "/v4/collections/{collection_id}/customer_receipt_delivery/activate": {
      "post": {
        "operationId": "activateCustomerReceipts",
        "summary": "Enable customer receipt delivery",
        "tags": [
          "Customer Receipts"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt delivery activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptDeliveryStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v4/collections/{collection_id}/customer_receipt_delivery/deactivate": {
      "post": {
        "operationId": "deactivateCustomerReceipts",
        "summary": "Disable customer receipt delivery",
        "tags": [
          "Customer Receipts"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt delivery deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptDeliveryStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v4/collections/{collection_id}/customer_receipt_delivery/global": {
      "post": {
        "operationId": "setGlobalCustomerReceipts",
        "summary": "Use global receipt delivery setting",
        "tags": [
          "Customer Receipts"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Set to global setting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptDeliveryStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v4/collections/{collection_id}/customer_receipt_delivery": {
      "get": {
        "operationId": "getCustomerReceiptStatus",
        "summary": "Get receipt delivery status",
        "tags": [
          "Customer Receipts"
        ],
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt delivery status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptDeliveryStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v4/webhook_rank": {
      "get": {
        "operationId": "getWebhookRank",
        "summary": "Get webhook priority ranking",
        "tags": [
          "Webhook"
        ],
        "responses": {
          "200": {
            "description": "Webhook rank",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookRank"
                }
              }
            }
          }
        }
      }
    },
    "/v4/payment_gateways": {
      "get": {
        "operationId": "listPaymentGateways",
        "summary": "Get payment gateway codes",
        "tags": [
          "Payment Gateways"
        ],
        "responses": {
          "200": {
            "description": "List of payment gateways",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentGatewayList"
                }
              }
            }
          }
        }
      }
    },
    "/v4/cards": {
      "post": {
        "operationId": "createCardToken",
        "summary": "Create a card token",
        "tags": [
          "Tokenization"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "phone",
                  "callback_url"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardToken"
                }
              }
            }
          }
        }
      }
    },
    "/v4/cards/{card_id}": {
      "delete": {
        "operationId": "deleteCardToken",
        "summary": "Delete a card token",
        "tags": [
          "Tokenization"
        ],
        "parameters": [
          {
            "name": "card_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card token deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardToken"
                }
              }
            }
          }
        }
      }
    },
    "/v4/bills/{bill_id}/charge": {
      "post": {
        "operationId": "chargeBillWithToken",
        "summary": "Charge a tokenized card",
        "tags": [
          "Tokenization"
        ],
        "parameters": [
          {
            "name": "bill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "card_id"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "card_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v4/bills/{bill_id}/preauth": {
      "post": {
        "operationId": "preauthBill",
        "summary": "Pre-authorize a payment",
        "tags": [
          "Tokenization"
        ],
        "parameters": [
          {
            "name": "bill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "card_id"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "card_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pre-authorization initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v4/bills/{bill_id}/preauth_capture": {
      "post": {
        "operationId": "capturePreauth",
        "summary": "Capture a pre-authorized payment",
        "tags": [
          "Tokenization"
        ],
        "parameters": [
          {
            "name": "bill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "card_id",
                  "preauth_id"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "card_id": {
                    "type": "string"
                  },
                  "preauth_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pre-auth captured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v5/payment_order_collections": {
      "post": {
        "operationId": "createPaymentOrderCollection",
        "summary": "Create a payment order collection",
        "tags": [
          "Payment Order Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "epoch",
                  "checksum"
                ],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "epoch": {
                    "type": "integer",
                    "description": "Unix timestamp"
                  },
                  "checksum": {
                    "type": "string",
                    "description": "HMAC-SHA512 checksum"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment order collection created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentOrderCollection"
                }
              }
            }
          }
        }
      }
    },
    "/v5/payment_order_collections/{payment_order_collection_id}": {
      "get": {
        "operationId": "getPaymentOrderCollection",
        "summary": "Get a payment order collection",
        "tags": [
          "Payment Order Collections"
        ],
        "parameters": [
          {
            "name": "payment_order_collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "epoch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "checksum",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment order collection details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentOrderCollection"
                }
              }
            }
          }
        }
      }
    },
    "/v5/payment_orders": {
      "post": {
        "operationId": "createPaymentOrder",
        "summary": "Create a payment order",
        "tags": [
          "Payment Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "payment_order_collection_id",
                  "bank_code",
                  "bank_account_number",
                  "name",
                  "description",
                  "total",
                  "epoch",
                  "checksum"
                ],
                "properties": {
                  "payment_order_collection_id": {
                    "type": "string"
                  },
                  "bank_code": {
                    "type": "string"
                  },
                  "bank_account_number": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "total": {
                    "type": "integer",
                    "description": "Amount in cents"
                  },
                  "epoch": {
                    "type": "integer"
                  },
                  "checksum": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentOrder"
                }
              }
            }
          }
        }
      }
    },
    "/v5/payment_orders/{payment_order_id}": {
      "get": {
        "operationId": "getPaymentOrder",
        "summary": "Get a payment order",
        "tags": [
          "Payment Orders"
        ],
        "parameters": [
          {
            "name": "payment_order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "epoch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "checksum",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentOrder"
                }
              }
            }
          }
        }
      }
    },
    "/v5/payment_order_limits": {
      "get": {
        "operationId": "getPaymentOrderLimits",
        "summary": "Check payment order limits",
        "tags": [
          "Payment Orders"
        ],
        "parameters": [
          {
            "name": "epoch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "checksum",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment order limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentOrderLimit"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using your API Secret Key as the username"
      }
    },
    "schemas": {
      "Collection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "logo": {
            "type": "object"
          },
          "split_payment": {
            "type": "object"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "CollectionList": {
        "type": "object",
        "properties": {
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Collection"
            }
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "OpenCollection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "fixed_amount": {
            "type": "boolean"
          },
          "fixed_quantity": {
            "type": "boolean"
          },
          "tax": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          }
        }
      },
      "OpenCollectionList": {
        "type": "object",
        "properties": {
          "open_collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenCollection"
            }
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "Bill": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "collection_id": {
            "type": "string"
          },
          "paid": {
            "type": "boolean"
          },
          "state": {
            "type": "string",
            "enum": [
              "due",
              "paid",
              "deleted"
            ]
          },
          "amount": {
            "type": "integer"
          },
          "paid_amount": {
            "type": "integer"
          },
          "due_at": {
            "type": "string",
            "format": "date"
          },
          "email": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "reference_1_label": {
            "type": "string"
          },
          "reference_1": {
            "type": "string"
          },
          "reference_2_label": {
            "type": "string"
          },
          "reference_2": {
            "type": "string"
          },
          "redirect_url": {
            "type": "string"
          },
          "callback_url": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "TransactionList": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "failed"
            ]
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "payment_channel": {
            "type": "string"
          }
        }
      },
      "PaymentMethodList": {
        "type": "object",
        "properties": {
          "payment_methods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "FpxBankList": {
        "type": "object",
        "properties": {
          "banks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FpxBank"
            }
          }
        }
      },
      "FpxBank": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "ReceiptDeliveryStatus": {
        "type": "object",
        "properties": {
          "collection_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "WebhookRank": {
        "type": "object",
        "properties": {
          "rank": {
            "type": "string"
          }
        }
      },
      "PaymentGatewayList": {
        "type": "object",
        "properties": {
          "payment_gateways": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "active": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "CardToken": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "card_number": {
            "type": "string",
            "description": "Masked card number"
          }
        }
      },
      "ChargeResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "bill_id": {
            "type": "string"
          },
          "card_id": {
            "type": "string"
          }
        }
      },
      "PaymentOrderCollection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "PaymentOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "payment_order_collection_id": {
            "type": "string"
          },
          "bank_code": {
            "type": "string"
          },
          "bank_account_number": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PaymentOrderLimit": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "current": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Collections",
      "description": "Collection management (V3)"
    },
    {
      "name": "Open Collections",
      "description": "Open collection management (V3)"
    },
    {
      "name": "Bills",
      "description": "Bill management (V3)"
    },
    {
      "name": "Transactions",
      "description": "Transaction queries (V3)"
    },
    {
      "name": "Payment Methods",
      "description": "Payment method management (V3)"
    },
    {
      "name": "FPX Banks",
      "description": "FPX bank codes (V3)"
    },
    {
      "name": "Collections V4",
      "description": "Collection management (V4)"
    },
    {
      "name": "Open Collections V4",
      "description": "Open collection management (V4)"
    },
    {
      "name": "Customer Receipts",
      "description": "Customer receipt delivery (V4)"
    },
    {
      "name": "Webhook",
      "description": "Webhook rank (V4)"
    },
    {
      "name": "Payment Gateways",
      "description": "Payment gateway codes (V4)"
    },
    {
      "name": "Tokenization",
      "description": "Card tokenization and charging (V4)"
    },
    {
      "name": "Payment Order Collections",
      "description": "Payment order collections (V5)"
    },
    {
      "name": "Payment Orders",
      "description": "Payment orders (V5)"
    }
  ]
}