{
  "openapi": "3.0.3",
  "info": {
    "title": "BIC-BoxTech API",
    "description": "Container technical detail for the global container fleet. The BoxTech API provides access to the BIC Global Container Database, enabling lookup of container specifications, BIC code verification, fleet management, and alert handling.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://docs.bic-boxtech.org/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.bic-boxtech.org/api/v2.0",
      "description": "Production server"
    },
    {
      "url": "https://uat.bic-boxtech.org/api/v2.0",
      "description": "UAT server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth token management"
    },
    {
      "name": "BIC Codes",
      "description": "BIC code lookup"
    },
    {
      "name": "Containers",
      "description": "Container fleet operations"
    },
    {
      "name": "Weight",
      "description": "Container weight information"
    },
    {
      "name": "ISO Codes",
      "description": "ISO size type code lookup"
    },
    {
      "name": "Alerts",
      "description": "Container alert management"
    },
    {
      "name": "Uploads",
      "description": "File upload management"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Obtain an access token",
        "operationId": "getToken",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ],
                    "description": "OAuth2 grant type"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid credentials or grant type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Obtain an access token"
      }
    },
    "/codes/{bicCode}": {
      "get": {
        "tags": [
          "BIC Codes"
        ],
        "summary": "Look up a BIC code holder",
        "operationId": "getBICCode",
        "parameters": [
          {
            "name": "bicCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "BIC code (e.g., BICU)",
            "example": "BICU"
          }
        ],
        "responses": {
          "200": {
            "description": "BIC code holder information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BICHolder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "BIC code not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Look up a BIC code holder"
      }
    },
    "/container": {
      "post": {
        "tags": [
          "Containers"
        ],
        "summary": "Upload container fleet data",
        "operationId": "uploadContainers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 250,
                "items": {
                  "$ref": "#/components/schemas/FleetIn"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All containers uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResult"
                }
              }
            }
          },
          "207": {
            "description": "Partial success - some containers failed to upload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Upload container fleet data"
      }
    },
    "/container/{containerNumber}": {
      "get": {
        "tags": [
          "Containers"
        ],
        "summary": "Get container technical details",
        "operationId": "getContainer",
        "parameters": [
          {
            "name": "containerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Container number (e.g., BICU1234565)",
            "example": "BICU1234565"
          }
        ],
        "responses": {
          "200": {
            "description": "Container technical details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Container"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Container not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get container technical details"
      },
      "delete": {
        "tags": [
          "Containers"
        ],
        "summary": "Remove a container from the database",
        "operationId": "deleteContainer",
        "parameters": [
          {
            "name": "containerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Container number to remove"
          }
        ],
        "responses": {
          "200": {
            "description": "Container removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Remove a container from the database"
      }
    },
    "/tare_kg/{containerNumber}": {
      "get": {
        "tags": [
          "Weight"
        ],
        "summary": "Get container tare weight in kilograms",
        "operationId": "getTareWeight",
        "parameters": [
          {
            "name": "containerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Container number"
          }
        ],
        "responses": {
          "200": {
            "description": "Tare weight in kilograms",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "number",
                  "format": "double"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get container tare weight in kilograms"
      }
    },
    "/max_gross_mass_kgs/{containerNumber}": {
      "get": {
        "tags": [
          "Weight"
        ],
        "summary": "Get container maximum gross mass in kilograms",
        "operationId": "getMaxGrossMass",
        "parameters": [
          {
            "name": "containerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Container number"
          }
        ],
        "responses": {
          "200": {
            "description": "Maximum gross mass in kilograms",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "number",
                  "format": "double"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get container maximum gross mass in kilograms"
      }
    },
    "/iso/size_type_code/{sizeTypeCode}": {
      "get": {
        "tags": [
          "ISO Codes"
        ],
        "summary": "Look up an ISO size type code",
        "operationId": "getSizeTypeCode",
        "parameters": [
          {
            "name": "sizeTypeCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO size type code (e.g., 45G1)",
            "example": "45G1"
          }
        ],
        "responses": {
          "200": {
            "description": "Size type code details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SizeTypeCode"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Look up an ISO size type code"
      }
    },
    "/alert": {
      "post": {
        "tags": [
          "Alerts"
        ],
        "summary": "Create a container alert",
        "operationId": "createAlert",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a container alert"
      }
    },
    "/alert/{containerNumber}/{alertType}": {
      "delete": {
        "tags": [
          "Alerts"
        ],
        "summary": "Deactivate a container alert",
        "operationId": "deleteAlert",
        "parameters": [
          {
            "name": "containerNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Container number"
          },
          {
            "name": "alertType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SOLD",
                "SCRAPPED",
                "LOST",
                "STOLEN"
              ]
            },
            "description": "Type of alert to deactivate"
          }
        ],
        "responses": {
          "200": {
            "description": "Alert deactivated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Deactivate a container alert"
      }
    },
    "/uploads": {
      "get": {
        "tags": [
          "Uploads"
        ],
        "summary": "Get all file uploads",
        "operationId": "getUploads",
        "responses": {
          "200": {
            "description": "List of uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Upload"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get all file uploads"
      }
    },
    "/uploads/{uploadId}": {
      "get": {
        "tags": [
          "Uploads"
        ],
        "summary": "Get a specific upload file",
        "operationId": "getUpload",
        "parameters": [
          {
            "name": "uploadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Upload identifier"
          },
          {
            "name": "fileType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "FAILED",
                "ORIGINAL"
              ]
            },
            "description": "Type of file to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Pre-signed URL for file access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a specific upload file"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT access token obtained from the /oauth/token endpoint"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication with client credentials for token endpoint"
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "Access token identifier"
          },
          "access_token": {
            "type": "string",
            "description": "JWT access token"
          },
          "accessTokenExpiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Token expiration time"
          }
        }
      },
      "BICHolder": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "BIC code"
          },
          "name": {
            "type": "string",
            "description": "Holder name"
          },
          "address": {
            "type": "string",
            "description": "Holder address"
          }
        }
      },
      "Container": {
        "type": "object",
        "properties": {
          "container_number": {
            "type": "string",
            "description": "Container identification number"
          },
          "size_type_code": {
            "type": "string",
            "description": "ISO size type code"
          },
          "tare_kg": {
            "type": "number",
            "format": "double",
            "description": "Tare weight in kilograms"
          },
          "max_gross_mass_kg": {
            "type": "number",
            "format": "double",
            "description": "Maximum gross mass in kilograms"
          },
          "max_payload_kg": {
            "type": "number",
            "format": "double",
            "description": "Maximum payload in kilograms"
          },
          "stacking_kg": {
            "type": "number",
            "format": "double",
            "description": "Stacking weight capacity"
          },
          "racking_kg": {
            "type": "number",
            "format": "double",
            "description": "Racking weight capacity"
          },
          "one_door_off_stacking_kg": {
            "type": "number",
            "format": "double",
            "description": "One door off stacking weight"
          },
          "one_door_off_racking_kg": {
            "type": "number",
            "format": "double",
            "description": "One door off racking weight"
          },
          "external_length_mm": {
            "type": "number",
            "format": "double",
            "description": "External length in millimeters"
          },
          "external_width_mm": {
            "type": "number",
            "format": "double",
            "description": "External width in millimeters"
          },
          "external_height_mm": {
            "type": "number",
            "format": "double",
            "description": "External height in millimeters"
          },
          "internal_length_mm": {
            "type": "number",
            "format": "double",
            "description": "Internal length in millimeters"
          },
          "internal_width_mm": {
            "type": "number",
            "format": "double",
            "description": "Internal width in millimeters"
          },
          "internal_height_mm": {
            "type": "number",
            "format": "double",
            "description": "Internal height in millimeters"
          },
          "door_opening_width_mm": {
            "type": "number",
            "format": "double",
            "description": "Door opening width in millimeters"
          },
          "door_opening_height_mm": {
            "type": "number",
            "format": "double",
            "description": "Door opening height in millimeters"
          },
          "cubic_capacity_cbm": {
            "type": "number",
            "format": "double",
            "description": "Cubic capacity in cubic meters"
          },
          "manufacturer": {
            "type": "string",
            "description": "Container manufacturer"
          },
          "manufacture_date": {
            "type": "string",
            "description": "Manufacturing date"
          },
          "csc_approval": {
            "type": "string",
            "description": "CSC approval information"
          }
        }
      },
      "FleetIn": {
        "type": "object",
        "required": [
          "container_number"
        ],
        "properties": {
          "container_number": {
            "type": "string",
            "description": "Container identification number"
          },
          "size_type_code": {
            "type": "string",
            "description": "ISO size type code"
          },
          "tare_kg": {
            "type": "number",
            "format": "double"
          },
          "max_gross_mass_kg": {
            "type": "number",
            "format": "double"
          },
          "max_payload_kg": {
            "type": "number",
            "format": "double"
          },
          "stacking_kg": {
            "type": "number",
            "format": "double"
          },
          "racking_kg": {
            "type": "number",
            "format": "double"
          },
          "external_length_mm": {
            "type": "number",
            "format": "double"
          },
          "external_width_mm": {
            "type": "number",
            "format": "double"
          },
          "external_height_mm": {
            "type": "number",
            "format": "double"
          },
          "manufacturer": {
            "type": "string"
          },
          "manufacture_date": {
            "type": "string"
          }
        }
      },
      "UploadResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Overall upload status"
          },
          "upload_results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "container_number": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SizeTypeCode": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "ISO size type code"
          },
          "length_ft": {
            "type": "number",
            "description": "Length in feet"
          },
          "height_ft": {
            "type": "number",
            "description": "Height in feet"
          },
          "type_description": {
            "type": "string",
            "description": "Container type description"
          },
          "characteristics": {
            "type": "string",
            "description": "Container characteristics"
          }
        }
      },
      "AlertRequest": {
        "type": "object",
        "required": [
          "container_number",
          "type"
        ],
        "properties": {
          "container_number": {
            "type": "string",
            "description": "Container number"
          },
          "type": {
            "type": "string",
            "enum": [
              "SOLD",
              "SCRAPPED",
              "LOST",
              "STOLEN"
            ],
            "description": "Alert type"
          },
          "message": {
            "type": "string",
            "description": "Optional alert message"
          }
        }
      },
      "Upload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Upload identifier"
          },
          "filename": {
            "type": "string",
            "description": "Uploaded file name"
          },
          "status": {
            "type": "string",
            "description": "Upload processing status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Upload creation time"
          },
          "total_records": {
            "type": "integer",
            "description": "Total records in the upload"
          },
          "successful_records": {
            "type": "integer",
            "description": "Number of successfully processed records"
          },
          "failed_records": {
            "type": "integer",
            "description": "Number of failed records"
          }
        }
      },
      "UploadFileResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Pre-signed S3 URL for file access"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    }
  }
}
