{
  "openapi": "3.0.0",
  "info": {
    "title": "Admin API",
    "description": "API de gestión de licencias de eSignaBox.",
    "version": "1.0.0",
    "contact": {
      "name": "eSignaBox",
      "url": "https://www.esignabox.com",
      "email": "support@esignabox.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/eSignaBox/Admin/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://esignabox.indenova.eu/api/2.0",
      "description": "Entorno de integración"
    },
    {
      "url": "https://www.esignabox.com/api/2.0",
      "description": "Entorno de producción"
    }
  ],
  "paths": {
    "/organizations": {
      "post": {
        "operationId": "createOrganization",
        "summary": "crea una nueva organización",
        "description": "Crea una nueva organización si no existía previamente.\n\nEs necesario que se incluya la información del usuario administrador de esta organización.\n<br>\nEste usuario podrá gestionar, entre otras cosas, los usuarios de la organización, en función de si el pack asignado a la misma incluye o no la posibilidad de tener más de un usuario.\n\n**IMPORTANTE**:\n<br>El usuario creado, no dispondrá de credenciales de acceso. Podrá acceder utilizando un certificado instalado en su equipo o un certificado centralizado (incluido un certificado emitido para la app Lleida Wallet).\n<br>Para generar unas credenciales de tipo usuario y contraseña, tras una creación exitosa del usuario, se deberá lanzar la acción de usuario [SetUserCredentials](#/SetUserCredentials) utilizando el endpoint [doUserAction](#/Users/doUserAction)\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization": {
                    "$ref": "#/components/schemas/Organization"
                  },
                  "adminUser": {
                    "$ref": "#/components/schemas/Person"
                  },
                  "packId": {
                    "description": "Identificador del pack asociado a la organización. Define que items consumibles tiene disponibles inicialmente. <br>Si no se indica un pack, se asociará el pack por defecto de la comunidad en la que se está creando el usuario.",
                    "type": "number",
                    "format": "int32"
                  }
                },
                "required": [
                  "organization",
                  "adminUser"
                ]
              }
            }
          }
        },
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "Los datos de la organización generada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredOrganization"
                }
              }
            }
          },
          "400": {
            "description": "Error. Solicitud incorrecta. Alguno de los datos recibidos no es correcto o no se ha recibido algún dato requerido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string",
                      "description": "Nombre del campo que provocó el error."
                    },
                    "description": {
                      "type": "string",
                      "description": "explicación del motivo de error."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error. No autorizado. Token de acceso no válido."
          },
          "409": {
            "description": "Conflicto. El formato de la solicitud es correcto pero no se puede procesar por conflictos con datos preexistentes como:<br>\n  - ORGANIZATION_ALREADY_EXISTS: Se ha encontrado una organización con el mismo taxId\n  - USER_NAME_ALREADY_EXISTS: El nombre de usuario elegido para el usuario administrador ya existe\n  - PACK_NOT_ALLOWED: El identificador del pack indicado para la organización no se corresponde con ninguno de los packs permitidos.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "ORGANIZATION_ALREADY_EXISTS",
                    "USER_NAME_ALREADY_EXISTS",
                    "PACK_NOT_ALLOWED"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Error inesperado"
          }
        }
      },
      "get": {
        "operationId": "findOrganizations",
        "summary": "buscar organizaciones",
        "description": "Obtiene las organizaciones que coinciden con los creiterios de búsqueda\n",
        "parameters": [
          {
            "name": "taxId",
            "in": "query",
            "description": "identificador de la organización (CIF, RUC, TaxId). Se realiza una búsqueda exacta.",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 20
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Nombre de la organización. Se buscarán organizaciones con nombres que contengan el valor recibido.",
            "schema": {
              "type": "string",
              "maxLength": 255,
              "minLength": 3
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Estados de una organización. Si la organización no está activa, los usuarios que agrupa no pueden acceder ni operar en modo alguno con el sistema.",
            "schema": {
              "type": "string",
              "enum": [
                "NOT_ACTIVE",
                "ACTIVE",
                "DELETED"
              ]
            }
          },
          {
            "name": "X-PageSize",
            "in": "header",
            "description": "Tamaño de página que se solicita para resultados paginados. Por defecto es 100.",
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 5
            }
          },
          {
            "name": "X-PageNumber",
            "in": "header",
            "description": "Número de página que se solicita para resultados paginados. Por defecto es 0 representando que se solicita la primera página.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "Los datos de las organizaciones que coinciden con los parámetros de búsqueda. Se trata de una búsqueda paginada con un tamáño de página de 100 resultados. Puede utilizarse el parámetro de cabecera X-PageNumber para indicar el número de página que se desea obtener.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultsCount": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RegisteredOrganization"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error. Solicitud incorrecta. Alguno de los datos recibidos no es correcto o no se ha recibido algún dato requerido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string",
                      "description": "Nombre del campo que provocó el error."
                    },
                    "description": {
                      "type": "string",
                      "description": "explicación del motivo de error."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error. No autorizado. Token de acceso no válido."
          },
          "500": {
            "description": "Error inesperado"
          }
        }
      }
    },
    "/organizations/{orgId}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Otiene la información de una organización",
        "description": "Recupera la información de una organización.\n",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "identificador de la organización. Puede ser el identificador interno (integer retornado tras la creación de la organización) o el identificador UUIDv4 enviado durante su creación.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "d2af9e6c-3f9b-4b12-b035-b607d0dd13e9"
            }
          }
        ],
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "Los datos de la organización solicitada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredOrganization"
                }
              }
            }
          },
          "204": {
            "description": "No se ha encontrado ningúna organización a la que tenga acceso el solicitante"
          },
          "401": {
            "description": "Error. No autorizado. Token de acceso no válido."
          },
          "500": {
            "description": "Error inesperado"
          }
        }
      },
      "put": {
        "operationId": "updateOrganization",
        "summary": "Actualiza los datos de una organización",
        "description": "Actualiza los datos de una organización ya creada\n",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "identificador de la organización. Puede ser el identificador interno (integer retornado tras la creación de la organización) o el identificador UUIDv4 enviado durante su creación.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "d2af9e6c-3f9b-4b12-b035-b607d0dd13e9"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organization": {
                    "$ref": "#/components/schemas/Organization"
                  }
                },
                "required": [
                  "organization"
                ]
              }
            }
          }
        },
        "tags": [
          "Organizations"
        ],
        "responses": {
          "204": {
            "description": "Actualización realizada con éxito."
          },
          "400": {
            "description": "Error. Solicitud incorrecta. Alguno de los datos recibidos no es correcto o no se ha recibido algún dato requerido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string",
                      "description": "Nombre del campo que provocó el error."
                    },
                    "description": {
                      "type": "string",
                      "description": "explicación del motivo de error."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error. No autorizado. Token de acceso no válido."
          },
          "403": {
            "description": "Error. Prohibido. No tiene permisos para realizar la acción solicitada. Por ejemplo en caso de que se quiera realizar sobre una organización para la que no se dispone de permisos."
          },
          "409": {
            "description": "Conflicto. El formato de la solicitud es correcto pero no se puede procesar por conflictos con datos preexistentes como:<br> - Se ha encontrado una organización con el mismo taxId<br>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "ORGANIZATION_ALREADY_EXISTS"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Error inesperado"
          }
        }
      }
    },
    "/organizations/{orgId}/action": {
      "post": {
        "operationId": "doActions",
        "summary": "Realiza una accion sobre la organización indicada",
        "description": "Realiza una accion sobre la organización indicada.\n",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "identificador de la organización. Puede ser el identificador interno (integer retornado tras la creación de la organización) o el identificador UUIDv4 enviado durante su creación.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "d2af9e6c-3f9b-4b12-b035-b607d0dd13e9"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationAction"
              },
              "example": "{\n  \"name\": \"SubscribeToNoticesAdministration\",\n  \"adminOrgId\": \"550e8400-e29b-41d4-a716-446655440000\"\n}"
            }
          }
        },
        "tags": [
          "Organizations"
        ],
        "responses": {
          "204": {
            "description": "Acción realizada con éxito."
          },
          "400": {
            "description": "Error. Solicitud incorrecta. Alguno de los datos recibidos no es correcto o no se ha recibido algún dato requerido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string",
                      "description": "Nombre del campo que provocó el error."
                    },
                    "description": {
                      "type": "string",
                      "description": "explicación del motivo de error."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error. No autorizado. Token de acceso no válido."
          },
          "403": {
            "description": "Error. Prohibido. No tiene permisos para realizar la acción solicitada. Por ejemplo en caso de que se quiera realizar sobre una organización para la que no se dispone de permisos."
          },
          "409": {
            "description": "Conflicto. El formato de la solicitud es correcto pero no se puede procesar por conflictos con datos preexistentes. El conflicto encontrado depende del comando que se haya enviado y se indica en la respuesta. <br>Si la acción enviada puede provocar algún conflicto, estos estarán listados en su descripción. <br>IMPORTANTE: trate este valor con cuidado. El número de acciones permitidas puede variar sin previo aviso por lo que es indispensable permitir valores no conocidos y tratarlos de forma adecuada. Este es un punto de extensión del API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Error inesperado"
          }
        }
      }
    },
    "/organizations/{orgId}/users": {
      "post": {
        "operationId": "addUser",
        "summary": "añade un usuario a una organización",
        "description": "Añade un nuevo usuario a una organización si no existía previamente.\n\n**IMPORTANTE**:\n<br>El usuario creado, no dispondrá de credenciales de acceso. Podrá acceder utilizando un certificado instalado en su equipo o un certificado centralizado (incluido un certificado emitido para la app Lleida Wallet).\n<br>Para generar unas credenciales de tipo usuario y contraseña, tras una creación exitosa del usuario, se deberá lanzar la acción de usuario [SetUserCredentials](#/SetUserCredentials) utilizando el endpoint [doUserAction](#/Users/doUserAction)        \n",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "identificador de la organización. Puede ser el identificador interno (integer retornado tras la creación de la organización) o el identificador UUIDv4 enviado durante su creación.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "d2af9e6c-3f9b-4b12-b035-b607d0dd13e9"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Person"
              }
            }
          }
        },
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "Los datos del usaurio generado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Error. Solicitud incorrecta. Alguno de los datos recibidos no es correcto o no se ha recibido algún dato requerido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string",
                      "description": "Nombre del campo que provocó el error."
                    },
                    "description": {
                      "type": "string",
                      "description": "explicación del motivo de error."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error. No autorizado. Token de acceso no válido."
          },
          "403": {
            "description": "Error. Prohibido. No tiene permisos para realizar la acción solicitada. Por ejemplo en caso de que se quiera realizar sobre una organización para la que no se dispone de permisos."
          },
          "409": {
            "description": "Conflicto. El formato de la solicitud es correcto pero no se puede procesar por conflictos con datos preexistentes como:<br> - El nombre de usuario elegido ya existe - El identificador del usaurio (DNI, Cédula, SSN, etc.) ya existe en la organización. - Ya existe otro usuario con el mismo email en la organización.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "USER_NAME_ALREADY_EXISTS",
                    "USER_ID_ALREADY_EXISTS",
                    "USER_EMAIL_ALREADY_EXISTS"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Error inesperado"
          }
        }
      },
      "get": {
        "operationId": "getOrganizationUsers",
        "summary": "Obtiene los usuarios de una organización",
        "description": "Obtiene los usuarios de una organización. Los parámetros enviados en el query se utilizarán para filtrar los resultados. <br>No se retornarán más de 100 resultados, por lo que se requiere que se envíe la cabecera de número de página para obtener resultados más amplios.",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "identificador de la organización. Puede ser el identificador interno (integer retornado tras la creación de la organización) o el identificador UUIDv4 enviado durante su creación.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "d2af9e6c-3f9b-4b12-b035-b607d0dd13e9"
            }
          },
          {
            "name": "fullName",
            "in": "query",
            "description": "Buscará coincidencias en el nombre y apellidos de la persona",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Buscará coincidencias en el email del usuario",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idNumber",
            "in": "query",
            "description": "Búsqueda exacta. Buscará coincidencias en el número del documento de identidad (DNI, Cédula, SSN, etc.)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PageSize",
            "in": "header",
            "description": "Tamaño de página que se solicita para resultados paginados. Por defecto es 100.",
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 5
            }
          },
          {
            "name": "X-PageNumber",
            "in": "header",
            "description": "Número de página que se solicita para resultados paginados. Por defecto es 0 representando que se solicita la primera página.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "Los datos de los usuarios que se han encontrado utlizando los parámetros de búsqueda. La respuesta está limitada a 100 resultados. Si el número de resultados supera este límite, se retornarán los 100 primeros resultados indicando el nº de resultados totales<br> Ver el parámetro de cabecera X-PageNumber.<br> En caso de que no se encuentre ningún resultado, se indicará retornando resultsCount = 0.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultsCount": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error. Solicitud incorrecta. Alguno de los datos recibidos no es correcto o no se ha recibido algún dato requerido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string",
                      "description": "Nombre del campo que provocó el error."
                    },
                    "description": {
                      "type": "string",
                      "description": "explicación del motivo de error."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error. No autorizado. Token de acceso no válido."
          },
          "403": {
            "description": "Error. Prohibido. No tiene permisos para realizar la acción solicitada. Por ejemplo en caso de que se quiera realizar sobre una organización para la que no se dispone de permisos."
          },
          "500": {
            "description": "Error inesperado"
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Otiene la información de un usuario",
        "description": "Recupera la información de un usuario registrado.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "identificador del usuario. Puede ser el identificador interno (integer retornado tras la creación del usuario) o el identificador UUIDv4 enviado durante su creación.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "e1de6265-8d15-4890-a973-3e0cbb31546a"
            }
          }
        ],
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Los datos del usuario solicitada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Error. No autorizado. Token de acceso no válido."
          },
          "403": {
            "description": "Error. Prohibido. No tiene permisos para realizar la acción solicitada. Por ejemplo en caso de que se quiera obtener los datos de un usuario que pertenece a una organización para la que no se dispone de permisos."
          },
          "500": {
            "description": "Error inesperado"
          }
        }
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Actualiza la información de un usuario",
        "description": "Actualiza la información de un usuario registrado.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "identificador del usuario. Puede ser el identificador interno (integer retornado tras la creación del usuario) o el identificador UUIDv4 enviado durante su creación.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "e1de6265-8d15-4890-a973-3e0cbb31546a"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Person"
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "responses": {
          "204": {
            "description": "Actualización realizada con éxito"
          },
          "401": {
            "description": "Error. No autorizado. Token de acceso no válido."
          },
          "403": {
            "description": "Error. Prohibido. No tiene permisos para realizar la acción solicitada. Por ejemplo en caso de que se quiera obtener los datos de un usuario que pertenece a una organización para la que no se dispone de permisos."
          },
          "409": {
            "description": "Conflicto. El formato de la solicitud es correcto pero no se puede procesar por conflictos con datos preexistentes como:<br> - El nombre de usuario elegido ya existe - El identificador del usaurio (DNI, Cédula, SSN, etc.) ya existe en la organización. - Ya existe otro usuario con el mismo email en la organización.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "USER_NAME_ALREADY_EXISTS",
                    "USER_ID_ALREADY_EXISTS",
                    "USER_EMAIL_ALREADY_EXISTS"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Error inesperado"
          }
        }
      }
    },
    "/users/{userId}/actions": {
      "post": {
        "operationId": "doUserAction",
        "summary": "Realiza una acción sobre el usuario",
        "description": "<a name=\"doUserAction\"></a>Realiza una acción sobre el usuario.\n",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "identificador del usuario. Puede ser el identificador interno (integer retornado tras la creación del usuario) o el identificador UUIDv4 enviado durante su creación.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "e1de6265-8d15-4890-a973-3e0cbb31546a"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAction"
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "responses": {
          "204": {
            "description": "Acción realizada con éxito."
          },
          "400": {
            "description": "Error. Solicitud incorrecta. Alguno de los datos recibidos no es correcto o no se ha recibido algún dato requerido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string",
                      "description": "Nombre del campo que provocó el error."
                    },
                    "description": {
                      "type": "string",
                      "description": "explicación del motivo de error."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error. No autorizado. Token de acceso no válido."
          },
          "403": {
            "description": "Error. Prohibido. No tiene permisos para realizar la acción solicitada. Por ejemplo en caso de que se quiera realizar sobre un usaurio para el que no se dispone de permisos."
          },
          "409": {
            "description": "Conflicto. El formato de la solicitud es correcto pero no se puede procesar por conflictos con datos preexistentes. El conflicto encontrado depende del comando que se haya enviado y se indica en la respuesta.<br> IMPORTANTE: trate este valor con cuidado. El número de acciones permitidas puede variar sin previo aviso por lo que es indispensable permitir valores no conocidos y tratarlos de forma adecuada. Este es un punto de extensión del API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "USER_NAME_ALREADY_EXISTS",
                    "NOTIFICATION_FAILURE",
                    "NO_PREVIOUS_CREDENTIALS"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Error inesperado"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Organization": {
        "description": "Información de una organización.",
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "identificador en formato UUIDv4 de la organización. <br>Este identificador deberá ser generado y enviado por el sistema integrado y se utilizará en todas las operaciones que impliquen a esta organización.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string",
            "description": "Nombre de la organización.",
            "maxLength": 255
          },
          "taxId": {
            "type": "string",
            "description": "Número de identificación fiscal (CIF en España, RUC en Perú, etc.)",
            "maxLength": 20
          },
          "country": {
            "type": "string",
            "format": "ISO 3166-1 alfa-2",
            "example": "ES",
            "description": "Código de país. Formato de 2 letras en mayúscula según especificación ISO 3166-1 alfa-2",
            "maxLength": 2
          },
          "noticesLevel": {
            "type": "string",
            "enum": [
              "DISABLED",
              "CLIENT",
              "ADMINSTRATION"
            ],
            "description": "Indica si la organización tiene habilitada la funcionalidad Buzón electrónico (CLIENT) o no (DISABLED). <br>Si se trata de una administración del Buzón Electrónico, deberá tener el nivel ADMINISTRATION. <br>Una administración del Buzón Electrónico puede enviar avisos de documentación a los clientes que la hayan habilitado como remitente permitido. <br>En caso de no enviarse este campo, se tomará el valor DISABLED"
          }
        },
        "required": [
          "uuid",
          "name",
          "taxId",
          "country"
        ]
      },
      "RegisteredOrganization": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Organization"
          }
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador interno de la organiación. Puede utilizarse, alternativamente al uuid, para identificarla en las llamadas que requieran un identificador de organización."
          },
          "status": {
            "description": "Estados de una organización. Si la organización no está activa, los usuarios que agrupa no pueden acceder ni operar en modo alguno con el sistema.",
            "type": "string",
            "enum": [
              "NOT_ACTIVE",
              "ACTIVE",
              "DELETED"
            ]
          },
          "createdOn": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de creación de la organización en el sistema. Formato ISO-8601 en zona UTC (GMT+0).",
            "example": "2023-02-14T22:00:00.000+0000"
          },
          "expiration": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de expiración de la licencia de uso para la organización. Tras esta fecha será necesaria una renovación para poder seguir utlizando eSignaBox. Formato ISO-8601 en zona UTC (GMT+0).",
            "example": "2023-02-14T22:00:00.000+0000"
          },
          "packId": {
            "type": "number",
            "format": "int32",
            "description": "Identificador del pack asociado a la organización. El pack determina los límites de consumo que tiene establecidos la organización inicialmente. La adquisición de packs de ampliación puede variar estos límites de consumo."
          }
        },
        "required": [
          "id",
          "status",
          "packId"
        ]
      },
      "Person": {
        "description": "Información de un usuario",
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "identificador en formato UUIDv4 del usuario. <br>Este identificador deberá ser generado por el sistema integrado y se utilizará en todas las operaciones que impliquen a este usuario.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string",
            "description": "Nombre de la persona. En los casos en que se trate de una cuenta institucional, el nobre será el de la organización.",
            "maxLength": 200
          },
          "surname": {
            "type": "string",
            "maxLength": 100,
            "description": "Apellidos de la persona. Aunque no es un campo obligatorio, si es preferible separar el nombre completo en nombre y apellidos. Permitirá distinguirlo en algunas funcionalidades como plantillas de correo y permitirá un trato más correcto en las notificaciones de eSignaBox."
          },
          "idNumber": {
            "type": "string",
            "maxLength": 100,
            "description": "Documento nacional de indentidad (DNI, NIF, Cédula de Ciudadanía según país). En el caso de cuentas institucionales o cuentas personales debe ser igual que el taxId de la organización."
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 100,
            "description": "Dirección de correo electrónico de la persona. Es necesario que sea una dirección real y que permita recibir correo, pues se enviará a esta misma dirección la contraseña generada para el usuario así como las notificaciones del servicio."
          },
          "phone": {
            "type": "string",
            "format": "E146",
            "description": "Número de teléfono del usuario. Recomendado si se va a utilizar firma OTP. Debe enviarse en formato E146 internacional e incluir el código de marcado de la región (Ej. +34 para España, +1 para República Dominicana, etc.). Solo se aceptarán teléfonos móviles, no fijos.",
            "example": "+34655555555",
            "maxLength": 30
          },
          "country": {
            "type": "string",
            "format": "ISO 3166-1 alfa-2",
            "example": "ES",
            "description": "Código de país. Formato de 2 letras en mayúscula según especificación ISO 3166-1 alfa-2",
            "maxLength": 2
          }
        },
        "required": [
          "name",
          "email",
          "country"
        ]
      },
      "User": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Person"
          }
        ],
        "description": "registered persona.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identificador interno del usuario. Puede utilizarse, alternativamente al uuid, para identificarlo en las llamadas que requieran un identificador de usuario."
          },
          "status": {
            "description": "Estado de un usuario. Si el usuario no está activo, no podrá acceder ni interactuar con el sistema.",
            "type": "string",
            "enum": [
              "NOT_ACTIVE",
              "ACTIVE",
              "DELETED"
            ],
            "default": "NOT_ACTIVE"
          },
          "orgId": {
            "type": "number",
            "format": "int32",
            "description": "Identificador de la organización a la que pertenece el usuario."
          },
          "createdOn": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de regsitro del usuario. Formato ISO-8601 en zona UTC (GMT+0).",
            "example": "2023-02-14T22:00:00.000+0000"
          },
          "userName": {
            "type": "string",
            "description": "Nombre de usuario. Es único en todo el sistema.",
            "maxLength": 100
          }
        },
        "required": [
          "id",
          "status",
          "orgId"
        ]
      },
      "Command": {
        "description": "Acciones especiales que se permiten realizar sobre una organización o usuario.",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "SubscribeToNoticesAdministration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Command"
          }
        ],
        "description": "Habilita la organización para que la administración del Buzón Electrónico indicada pueda interactuar con ella a través del Buzón electrónico. <br>**IMPORTANTE**: la ejecución de esta acción puede resultar en 409 - Conflicto con las siguientes descripciones:\n  - **NOT_A_NOTICES_ADMINISTRATION** Si la organización adminOrgId no es una administración del Buzón electrónico.",
        "properties": {
          "name": {
            "type": "string",
            "enum": [
              "SubscribeToNoticesAdministration"
            ]
          },
          "adminOrgId": {
            "description": "identificador de la organización. Puede ser el identificador interno (integer retornado tras la creación de la organización) o el identificador UUIDv4 enviado durante su creación.",
            "type": "string",
            "example": "d2af9e6c-3f9b-4b12-b035-b607d0dd13e9"
          }
        },
        "required": [
          "name",
          "adminOrgId"
        ]
      },
      "SetDefaultTimezone": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Command"
          }
        ],
        "description": "Establece la zona horaria que se usará para la organización.",
        "properties": {
          "name": {
            "type": "string",
            "enum": [
              "SetDefaultTimezone"
            ]
          },
          "timezone": {
            "type": "string",
            "format": "IANA TZ Name",
            "example": "Europe/Madrid"
          }
        },
        "required": [
          "name",
          "timezone"
        ]
      },
      "SetActiveStatus": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Command"
          }
        ],
        "description": "Establece el estado de la organización. Para desactivar una organiación de forma temporal, es preferible utilizar el estado NOT_ACTIVE, ya que el estado DELETED puede tener efectos en los contenidos generados por la organización (Trabajos de eliminación automáticos, etc.)",
        "properties": {
          "name": {
            "type": "string",
            "enum": [
              "SetActiveStatus"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "NOT_ACTIVE",
              "ACTIVE",
              "DELETED"
            ],
            "example": "NOT_ACTIVE"
          }
        },
        "required": [
          "name",
          "status"
        ]
      },
      "OrganizationAction": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/SubscribeToNoticesAdministration"
          },
          {
            "$ref": "#/components/schemas/SetDefaultTimezone"
          },
          {
            "$ref": "#/components/schemas/SetActiveStatus"
          }
        ],
        "description": "tipo de acciones que pueden realizarse sobre una organización."
      },
      "SetUserStatus": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Command"
          }
        ],
        "description": "Establece el estado del usuario. Del mismo modo que en el estado de la organización, para desactivar temporalmente un usaurio, es preferible utilizar el estado NOT_ACTIVE ya que el estado DELETED puede desencadenar tareas de eliminación de contenidos pasado un tiempo.",
        "properties": {
          "name": {
            "type": "string",
            "enum": [
              "SetUserStatus"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "NOT_ACTIVE",
              "ACTIVE",
              "DELETED"
            ],
            "example": "NOT_ACTIVE"
          }
        },
        "required": [
          "name",
          "status"
        ]
      },
      "SetUserCredentials": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Command"
          }
        ],
        "description": "Establece el nombre de usuario (nickname) e indica si debe regenerarse la contraseña. \n  <br>En caso de regenerarse la contraseña, se enviará un correo al usuario con la nueva credencial.<br><br>\nPuede provocar 2 casos de error:<br>\n  - USER_NAME_ALREADY_EXISTS - El nombre de usuario que se ha indicado ya pertenece a otro usuario.\n  - NOTIFICATION_FAILURE - No ha podido enviarse el email con las nuevas credenciales a la dirección de correo del usuario.",
        "example": "{ \"name\":\"SetUserCredentials\", \"userName\":\"newUserName\", \"regenPass\":true }",
        "properties": {
          "name": {
            "type": "string",
            "enum": [
              "SetUserCredentials"
            ]
          },
          "userName": {
            "type": "string",
            "maxLength": 100,
            "description": "Nuevo nombre de usuario. Se comprobará que no exista previamente."
          },
          "regenPass": {
            "type": "boolean",
            "description": "Indica que se quiere generar una contraseña aleatoria para el usuario. El usuario la recibirá en la dirección de correo asociada a su cuenta."
          }
        }
      },
      "ResetUserPassword": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Command"
          }
        ],
        "description": "Regenera la contraseña de un usuario. La nueva contraseña se enviará a la dirección de correo del usuario.<br> Puede provocar 2 casos de error:<br>\n  - NOTIFICATION_FAILURE - No ha podido enviarse el email con las nuevas credenciales a la dirección de correo del usuario.\n  - NO_PREVIOUS_CREDENTIALS - El usuario no tenía configuradas unas credenciales previas, por lo que no es posible realizar la acción.",
        "properties": {
          "name": {
            "type": "string",
            "enum": [
              "ResetUserPassword"
            ]
          }
        }
      },
      "UserAction": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/SetUserStatus"
          },
          {
            "$ref": "#/components/schemas/SetUserCredentials"
          },
          {
            "$ref": "#/components/schemas/ResetUserPassword"
          }
        ],
        "description": "Conjunto de acciones que pueden realizarse sobre un usuario."
      }
    },
    "securitySchemes": {
      "bearer_jwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearer_jwt": []
    }
  ]
}