{
  "openapi": "3.0.3",
  "info": {
    "title": "HigherGov API",
    "version": "1.0.0",
    "description": "Government contract data API for retrieving federal contract records.",
    "x-jentic-source-url": "https://www.highergov.com/api/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://www.highergov.com"
    }
  ],
  "paths": {
    "/api/contract": {
      "get": {
        "operationId": "listContracts",
        "summary": "Retrieve contract records",
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_modified_date",
            "in": "query",
            "description": "Filter by last modified date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieve contract records"
      }
    }
  },
  "components": {
    "schemas": {
      "Contract": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "agency": {
            "type": "string"
          },
          "value": {
            "type": "number"
          },
          "last_modified_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "ContractListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contract"
            }
          },
          "page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "ApiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Contracts"
    }
  ]
}
