{
  "openapi": "3.0.3",
  "info": {
    "title": "Onurix API",
    "version": "1.0.0",
    "description": "REST API for sending SMS text messages, WhatsApp messages, voice calls, 2FA verification codes, and URL shortening through the Onurix platform.",
    "x-jentic-source-url": "https://app.swaggerhub.com/apis/yerermid/Onurix/1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://www.onurix.com/api/v1",
      "description": "Onurix Production API"
    }
  ],
  "paths": {
    "/balance": {
      "get": {
        "operationId": "getBalance",
        "summary": "Get account balance",
        "description": "Retrieves the current account credit balance.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "client",
            "in": "query",
            "required": true,
            "description": "Client ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key (10-200 characters)",
            "schema": {
              "type": "string",
              "minLength": 10,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/send-sms": {
      "post": {
        "operationId": "sendSms",
        "summary": "Send SMS message",
        "description": "Sends SMS messages to one or multiple phone numbers.",
        "tags": [
          "SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/block-phone": {
      "post": {
        "operationId": "blockPhone",
        "summary": "Block a phone number",
        "description": "Blocks a phone number to prevent message delivery.",
        "tags": [
          "Security"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockPhoneRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone blocked successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2fa/send-sms": {
      "post": {
        "operationId": "send2faSms",
        "summary": "Send 2FA verification code via SMS",
        "description": "Sends a verification code via SMS for two-factor authentication.",
        "tags": [
          "2FA"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Send2faRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "2FA code sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2fa/verification-code": {
      "post": {
        "operationId": "verify2faCode",
        "summary": "Verify 2FA code",
        "description": "Verifies a two-factor authentication code received via SMS.",
        "tags": [
          "2FA"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Verify2faRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/show-send-sms": {
      "post": {
        "operationId": "sendShowSms",
        "summary": "Send event ticket confirmation SMS",
        "description": "Sends ticket purchase confirmation via SMS for event systems.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation SMS sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/show-state-change": {
      "post": {
        "operationId": "verifyShowTicket",
        "summary": "Verify event ticket",
        "description": "Verifies event tickets using hash codes.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client": {
                    "type": "integer",
                    "description": "Client ID"
                  },
                  "key": {
                    "type": "string",
                    "description": "API key"
                  },
                  "hash": {
                    "type": "string",
                    "description": "Ticket hash code"
                  }
                },
                "required": [
                  "client",
                  "key",
                  "hash"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket verification result"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/url/short": {
      "post": {
        "operationId": "createShortUrl",
        "summary": "Create shortened URL",
        "description": "Creates a shortened URL with optional alias, premium settings, and expiration time.",
        "tags": [
          "URL"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShortUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shortened URL created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/url/short-statistic": {
      "post": {
        "operationId": "getUrlStatistics",
        "summary": "Get URL statistics",
        "description": "Returns analytics for shortened URLs including date, hour, country, device, OS data. Premium options include region, city, brand, model, browser, and language.",
        "tags": [
          "URL"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlStatisticsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlStatisticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendSmsRequest": {
        "type": "object",
        "properties": {
          "client": {
            "type": "integer",
            "description": "Client ID"
          },
          "key": {
            "type": "string",
            "description": "API key"
          },
          "country_code": {
            "type": "string",
            "default": "CO",
            "description": "Country code"
          },
          "phone": {
            "type": "string",
            "description": "Phone numbers (comma-separated for multiple)"
          },
          "sms": {
            "type": "string",
            "minLength": 10,
            "maxLength": 1600,
            "description": "Message text"
          },
          "groups": {
            "type": "string",
            "description": "Group names for sending"
          }
        },
        "required": [
          "client",
          "key",
          "phone",
          "sms"
        ]
      },
      "BlockPhoneRequest": {
        "type": "object",
        "properties": {
          "client": {
            "type": "integer",
            "description": "Client ID"
          },
          "key": {
            "type": "string",
            "description": "API key"
          },
          "phone": {
            "type": "string",
            "description": "Phone number to block"
          },
          "contact_name": {
            "type": "string",
            "description": "Optional contact name"
          }
        },
        "required": [
          "client",
          "key",
          "phone"
        ]
      },
      "Send2faRequest": {
        "type": "object",
        "properties": {
          "client": {
            "type": "integer",
            "description": "Client ID"
          },
          "key": {
            "type": "string",
            "description": "API key"
          },
          "app_name": {
            "type": "string",
            "description": "Application name"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          }
        },
        "required": [
          "client",
          "key",
          "app_name",
          "phone"
        ]
      },
      "Verify2faRequest": {
        "type": "object",
        "properties": {
          "client": {
            "type": "integer",
            "description": "Client ID"
          },
          "key": {
            "type": "string",
            "description": "API key"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "app_name": {
            "type": "string",
            "description": "Application name"
          },
          "code": {
            "type": "string",
            "description": "Verification code from SMS"
          }
        },
        "required": [
          "client",
          "key",
          "phone",
          "app_name",
          "code"
        ]
      },
      "CreateShortUrlRequest": {
        "type": "object",
        "properties": {
          "client": {
            "type": "integer",
            "description": "Client ID"
          },
          "key": {
            "type": "string",
            "description": "API key"
          },
          "url": {
            "type": "string",
            "description": "Original URL to shorten"
          },
          "alias": {
            "type": "string",
            "description": "Custom alias for the short URL"
          },
          "premium": {
            "type": "boolean",
            "description": "Enable premium features"
          },
          "expiration": {
            "type": "string",
            "description": "Expiration time"
          }
        },
        "required": [
          "client",
          "key",
          "url"
        ]
      },
      "UrlStatisticsRequest": {
        "type": "object",
        "properties": {
          "client": {
            "type": "integer",
            "description": "Client ID"
          },
          "key": {
            "type": "string",
            "description": "API key"
          },
          "url": {
            "type": "string",
            "description": "Shortened URL to get stats for"
          },
          "premium": {
            "type": "boolean",
            "description": "Include premium analytics"
          }
        },
        "required": [
          "client",
          "key",
          "url"
        ]
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "balance": {
            "type": "number"
          }
        }
      },
      "SmsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "transactionId": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "phone": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "VerificationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          }
        }
      },
      "ShortUrlResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "shortUrl": {
            "type": "string"
          }
        }
      },
      "UrlStatisticsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "hour": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "device": {
                "type": "string"
              },
              "os": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "2FA"
    },
    {
      "name": "Account"
    },
    {
      "name": "Events"
    },
    {
      "name": "SMS"
    },
    {
      "name": "Security"
    },
    {
      "name": "URL"
    }
  ]
}
