{
  "openapi": "3.0.3",
  "info": {
    "title": "Finlight News API",
    "description": "Financial news API with sentiment analysis. Search and retrieve financial news articles with AI-powered sentiment scoring.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://docs.finlight.me"
  },
  "servers": [
    {
      "url": "https://api.finlight.me",
      "description": "Finlight API Production"
    }
  ],
  "paths": {
    "/v2/articles": {
      "post": {
        "operationId": "searcharticles",
        "summary": "Search articles",
        "description": "Search for financial news articles with sentiment analysis. Supports filtering by query terms and language.",
        "tags": [
          "Articles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with matching articles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getarticles",
        "summary": "Get articles",
        "description": "Retrieve financial news articles with optional filters.",
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search term (e.g., company name, ticker symbol).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language code for article filtering (e.g., 'en', 'de').",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of articles to return.",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with articles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArticleSearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "description": "Search term (e.g., 'Nvidia', 'AAPL')."
          },
          "language": {
            "type": "string",
            "description": "Language code (e.g., 'en').",
            "default": "en"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of articles to return.",
            "default": 10
          },
          "offset": {
            "type": "integer",
            "description": "Offset for pagination.",
            "default": 0
          }
        },
        "required": [
          "query"
        ]
      },
      "Article": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Article identifier."
          },
          "title": {
            "type": "string",
            "description": "Article title."
          },
          "url": {
            "type": "string",
            "description": "Source URL of the article."
          },
          "source": {
            "type": "string",
            "description": "News source name."
          },
          "published_at": {
            "type": "string",
            "format": "date-time",
            "description": "Publication timestamp."
          },
          "language": {
            "type": "string",
            "description": "Language code of the article."
          },
          "sentiment": {
            "type": "number",
            "description": "Sentiment score for the article."
          },
          "summary": {
            "type": "string",
            "description": "AI-generated summary of the article."
          }
        }
      },
      "ArticleSearchResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of matching articles."
          },
          "articles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Article"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          },
          "code": {
            "type": "integer",
            "description": "Error code."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "Finlight API key."
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Articles",
      "description": "Operations related to Articles"
    }
  ]
}